{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.rediscloud.api#ProxyDataIntegrationWorkspace5Request": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription ID."
          }
        },
        "requestBody": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpQuery": "requestBody",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.rediscloud.api#ProxyDataIntegrationWorkspace5Response": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.rediscloud.api#ProxyDataIntegrationWorkspace5": {
      "type": "operation",
      "input": {
        "target": "com.rediscloud.api#ProxyDataIntegrationWorkspace5Request"
      },
      "output": {
        "target": "com.rediscloud.api#ProxyDataIntegrationWorkspace5Response"
      },
      "errors": [
        {
          "target": "com.rediscloud.api#BadRequest"
        },
        {
          "target": "com.rediscloud.api#Forbidden"
        },
        {
          "target": "com.rediscloud.api#NotFound"
        },
        {
          "target": "com.rediscloud.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/subscriptions/{subscriptionId}/data-integration-workspace",
          "code": 200
        },
        "smithy.api#documentation": "Proxy a Data Integration workspace request\n\nForwards the request to the Data Integration workspace owned by the specified subscription. Path under `data-integration-workspace/**` is forwarded as-is to the Cloud RDI service."
      }
    },
    "com.rediscloud.api#ProxyDataIntegrationWorkspace7Request": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription ID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.rediscloud.api#ProxyDataIntegrationWorkspace7Response": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.rediscloud.api#ProxyDataIntegrationWorkspace7": {
      "type": "operation",
      "input": {
        "target": "com.rediscloud.api#ProxyDataIntegrationWorkspace7Request"
      },
      "output": {
        "target": "com.rediscloud.api#ProxyDataIntegrationWorkspace7Response"
      },
      "errors": [
        {
          "target": "com.rediscloud.api#BadRequest"
        },
        {
          "target": "com.rediscloud.api#Forbidden"
        },
        {
          "target": "com.rediscloud.api#NotFound"
        },
        {
          "target": "com.rediscloud.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/subscriptions/{subscriptionId}/data-integration-workspace",
          "code": 200
        },
        "smithy.api#documentation": "Proxy a Data Integration workspace request\n\nForwards the request to the Data Integration workspace owned by the specified subscription. Path under `data-integration-workspace/**` is forwarded as-is to the Cloud RDI service."
      }
    },
    "com.rediscloud.api#ProxyDataIntegrationWorkspace8Request": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription ID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.rediscloud.api#ProxyDataIntegrationWorkspace8Response": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.rediscloud.api#ProxyDataIntegrationWorkspace8": {
      "type": "operation",
      "input": {
        "target": "com.rediscloud.api#ProxyDataIntegrationWorkspace8Request"
      },
      "output": {
        "target": "com.rediscloud.api#ProxyDataIntegrationWorkspace8Response"
      },
      "errors": [
        {
          "target": "com.rediscloud.api#BadRequest"
        },
        {
          "target": "com.rediscloud.api#Forbidden"
        },
        {
          "target": "com.rediscloud.api#NotFound"
        },
        {
          "target": "com.rediscloud.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/subscriptions/{subscriptionId}/data-integration-workspace",
          "code": 200
        },
        "smithy.api#documentation": "Proxy a Data Integration workspace request\n\nForwards the request to the Data Integration workspace owned by the specified subscription. Path under `data-integration-workspace/**` is forwarded as-is to the Cloud RDI service."
      }
    },
    "com.rediscloud.api#ProxyDataIntegrationWorkspace9Request": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription ID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.rediscloud.api#ProxyDataIntegrationWorkspace9Response": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.rediscloud.api#ProxyDataIntegrationWorkspace9": {
      "type": "operation",
      "input": {
        "target": "com.rediscloud.api#ProxyDataIntegrationWorkspace9Request"
      },
      "output": {
        "target": "com.rediscloud.api#ProxyDataIntegrationWorkspace9Response"
      },
      "errors": [
        {
          "target": "com.rediscloud.api#BadRequest"
        },
        {
          "target": "com.rediscloud.api#Forbidden"
        },
        {
          "target": "com.rediscloud.api#NotFound"
        },
        {
          "target": "com.rediscloud.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v1/subscriptions/{subscriptionId}/data-integration-workspace",
          "code": 200
        },
        "smithy.api#documentation": "Proxy a Data Integration workspace request\n\nForwards the request to the Data Integration workspace owned by the specified subscription. Path under `data-integration-workspace/**` is forwarded as-is to the Cloud RDI service."
      }
    },
    "com.rediscloud.api#ProxyDataIntegrationWorkspace6Request": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription ID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.rediscloud.api#ProxyDataIntegrationWorkspace6Response": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.rediscloud.api#ProxyDataIntegrationWorkspace6": {
      "type": "operation",
      "input": {
        "target": "com.rediscloud.api#ProxyDataIntegrationWorkspace6Request"
      },
      "output": {
        "target": "com.rediscloud.api#ProxyDataIntegrationWorkspace6Response"
      },
      "errors": [
        {
          "target": "com.rediscloud.api#BadRequest"
        },
        {
          "target": "com.rediscloud.api#Forbidden"
        },
        {
          "target": "com.rediscloud.api#NotFound"
        },
        {
          "target": "com.rediscloud.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/subscriptions/{subscriptionId}/data-integration-workspace",
          "code": 200
        },
        "smithy.api#documentation": "Proxy a Data Integration workspace request\n\nForwards the request to the Data Integration workspace owned by the specified subscription. Path under `data-integration-workspace/**` is forwarded as-is to the Cloud RDI service."
      }
    },
    "com.rediscloud.api#GetUserByIdRequest": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "User ID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.rediscloud.api#AccountUser": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "role": {
          "target": "smithy.api#String"
        },
        "signUp": {
          "target": "smithy.api#String"
        },
        "userType": {
          "target": "smithy.api#String"
        },
        "hasApiKey": {
          "target": "smithy.api#Boolean"
        },
        "options": {
          "target": "com.rediscloud.api#AccountUserOptions"
        }
      },
      "traits": {
        "smithy.api#documentation": "RedisLabs User information"
      }
    },
    "com.rediscloud.api#AccountUserOptions": {
      "type": "structure",
      "members": {
        "billing": {
          "target": "smithy.api#Boolean"
        },
        "emailAlerts": {
          "target": "smithy.api#Boolean"
        },
        "operationalEmails": {
          "target": "smithy.api#Boolean"
        },
        "mfaEnabled": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "RedisLabs User options information"
      }
    },
    "com.rediscloud.api#GetUserById": {
      "type": "operation",
      "input": {
        "target": "com.rediscloud.api#GetUserByIdRequest"
      },
      "output": {
        "target": "com.rediscloud.api#AccountUser"
      },
      "errors": [
        {
          "target": "com.rediscloud.api#BadRequest"
        },
        {
          "target": "com.rediscloud.api#Forbidden"
        },
        {
          "target": "com.rediscloud.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/users/{userId}",
          "code": 200
        },
        "smithy.api#documentation": "Get a single user\n\nGets details about a single account user."
      }
    },
    "com.rediscloud.api#UpdateUserRequestRole": {
      "type": "enum",
      "members": {
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Owner"
          }
        },
        "MEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Member"
          }
        },
        "VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Viewer"
          }
        },
        "LOGS_VIEWER_API_USE_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Logs Viewer (API use only)"
          }
        },
        "MANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Manager"
          }
        },
        "BILLING_ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Billing Admin"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Changes the account user's role. See [Team management roles](https://redis.io/docs/latest/operate/rc/security/access-control/access-management/#team-management-roles) to learn about available account roles."
      }
    },
    "com.rediscloud.api#UpdateUserRequest": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "User ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account user's name.",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.rediscloud.api#UpdateUserRequestRole",
          "traits": {
            "smithy.api#documentation": "Changes the account user's role. See [Team management roles](https://redis.io/docs/latest/operate/rc/security/access-control/access-management/#team-management-roles) to learn about available account roles."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.rediscloud.api#TaskStateUpdate": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String"
        },
        "commandType": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "com.rediscloud.api#TaskStateUpdateStatus"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "timestamp": {
          "target": "smithy.api#String"
        },
        "response": {
          "target": "com.rediscloud.api#ProcessorResponse"
        },
        "links": {
          "target": "com.rediscloud.api#TaskStateUpdateLinksList"
        }
      },
      "traits": {}
    },
    "com.rediscloud.api#TaskStateUpdateStatus": {
      "type": "enum",
      "members": {
        "INITIALIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initialized"
          }
        },
        "RECEIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "received"
          }
        },
        "PROCESSING_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "processing-in-progress"
          }
        },
        "PROCESSING_COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "processing-completed"
          }
        },
        "PROCESSING_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "processing-error"
          }
        }
      },
      "traits": {}
    },
    "com.rediscloud.api#ProcessorResponse": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "smithy.api#Integer"
        },
        "additionalResourceId": {
          "target": "smithy.api#Integer"
        },
        "resource": {
          "target": "smithy.api#Document"
        },
        "error": {
          "target": "com.rediscloud.api#ProcessorResponseError"
        },
        "additionalInfo": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.rediscloud.api#ProcessorResponseError": {
      "type": "enum",
      "members": {
        "UNAUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNAUTHORIZED"
          }
        },
        "ACCOUNT_POC_INACTIVE_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_POC_INACTIVE_PENDING"
          }
        },
        "CLOUD_ACCOUNT_NOT_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_ACCOUNT_NOT_ACTIVE"
          }
        },
        "CLOUD_ACCOUNT_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_ACCOUNT_NOT_FOUND"
          }
        },
        "CLOUD_ACCOUNT_USED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_ACCOUNT_USED"
          }
        },
        "CLOUD_ACCOUNT_INVALID_CREDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_ACCOUNT_INVALID_CREDS"
          }
        },
        "CLOUD_ACCOUNT_NAME_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_ACCOUNT_NAME_EXISTS"
          }
        },
        "CLOUD_ACCOUNT_ACCESS_KEY_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_ACCOUNT_ACCESS_KEY_EXISTS"
          }
        },
        "CLOUD_ACCOUNT_PERMISSION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_ACCOUNT_PERMISSION_FAILED"
          }
        },
        "CLOUD_ACCOUNT_ALLOCATION_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_ACCOUNT_ALLOCATION_FAILURE"
          }
        },
        "NOT_KNOWN_CLOUD_PROVIDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_KNOWN_CLOUD_PROVIDER"
          }
        },
        "MULTIPLE_CLOUD_PROVIDERS_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTIPLE_CLOUD_PROVIDERS_NOT_SUPPORTED"
          }
        },
        "SUBSCRIPTION_NOT_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_NOT_ACTIVE"
          }
        },
        "SUBSCRIPTION_CONTAINS_NON_ACTIVE_DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_CONTAINS_NON_ACTIVE_DATABASE"
          }
        },
        "SUBSCRIPTION_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_NOT_FOUND"
          }
        },
        "SUBSCRIPTION_IN_USE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_IN_USE"
          }
        },
        "SUBSCRIPTION_CA_PROVIDER_MISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_CA_PROVIDER_MISMATCH"
          }
        },
        "SUBSCRIPTION_NETWORKING_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_NETWORKING_MISSING"
          }
        },
        "NETWORKING_CIDR_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORKING_CIDR_MISSING"
          }
        },
        "SUBSCRIPTION_INVALID_CIDR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_INVALID_CIDR"
          }
        },
        "NETWORKING_SECURITY_GROUP_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORKING_SECURITY_GROUP_MISSING"
          }
        },
        "NETWORKING_SUBNET_IDS_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORKING_SUBNET_IDS_MISSING"
          }
        },
        "NETWORKING_VPC_ID_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORKING_VPC_ID_MISSING"
          }
        },
        "NETWORKING_CIDR_IS_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORKING_CIDR_IS_NOT_SUPPORTED"
          }
        },
        "NETWORKING_VPC_WITH_SUBNETS_AND_SECURITY_GROUP_IS_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORKING_VPC_WITH_SUBNETS_AND_SECURITY_GROUP_IS_NOT_SUPPORTED"
          }
        },
        "NETWORKING_VPC_WITH_SUBNETS_AND_SECURITY_GROUP_IS_NOT_SUPPORTED_FOR_INTERNAL_CLOUD_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORKING_VPC_WITH_SUBNETS_AND_SECURITY_GROUP_IS_NOT_SUPPORTED_FOR_INTERNAL_CLOUD_ACCOUNT"
          }
        },
        "INVALID_NUMBER_OF_SUBNET_IDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_NUMBER_OF_SUBNET_IDS"
          }
        },
        "SUBSCRIPTION_PI_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_PI_NOT_FOUND"
          }
        },
        "SUBSCRIPTION_INVALID_REGION_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_INVALID_REGION_NAME"
          }
        },
        "SUBSCRIPTION_INVALID_REGION_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_INVALID_REGION_ID"
          }
        },
        "SUBSCRIPTION_BAD_PREFERRED_AZ_SIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_BAD_PREFERRED_AZ_SIZE"
          }
        },
        "SUBSCRIPTION_REGION_DOES_NOT_SUPPORT_MULTI_AZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_REGION_DOES_NOT_SUPPORT_MULTI_AZ"
          }
        },
        "SUBSCRIPTION_AA_NON_MAZ_REGION_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_AA_NON_MAZ_REGION_NOT_SUPPORTED"
          }
        },
        "SUBSCRIPTION_PREFERRED_AZ_INVALID_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_PREFERRED_AZ_INVALID_VALUE"
          }
        },
        "SUBSCRIPTION_PREFERRED_AZ_MUST_BE_DEFINED_ONCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_PREFERRED_AZ_MUST_BE_DEFINED_ONCE"
          }
        },
        "SUBSCRIPTION_PREFERRED_AZ_IS_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_PREFERRED_AZ_IS_DISABLED"
          }
        },
        "SUBSCRIPTION_MUST_HAVE_AT_LEAST_ONE_DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_MUST_HAVE_AT_LEAST_ONE_DATABASE"
          }
        },
        "SUBSCRIPTION_REDIS_VERSION_INVALID_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_REDIS_VERSION_INVALID_VALUE"
          }
        },
        "SUBSCRIPTION_REDIS_VERSION_CONFLICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_REDIS_VERSION_CONFLICT"
          }
        },
        "ACTIVE_ACTIVE_SUBSCRIPTION_PREVIEW_REDIS_VERSION_IS_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_SUBSCRIPTION_PREVIEW_REDIS_VERSION_IS_NOT_SUPPORTED"
          }
        },
        "SUBSCRIPTION_GCP_ALLOW_ONLY_INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_GCP_ALLOW_ONLY_INTERNAL"
          }
        },
        "CLUSTER_UNDER_MAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLUSTER_UNDER_MAINTENANCE"
          }
        },
        "ACTIVE_ACTIVE_SUBSCRIPTION_IS_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_SUBSCRIPTION_IS_NOT_SUPPORTED"
          }
        },
        "RESOURCE_TAGS_EXCEEDS_MAXIMUM_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_TAGS_EXCEEDS_MAXIMUM_COUNT"
          }
        },
        "RESOURCE_TAG_KEY_EXCEEDS_MAXIMUM_LENGTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_TAG_KEY_EXCEEDS_MAXIMUM_LENGTH"
          }
        },
        "RESOURCE_TAG_VALUE_EXCEEDS_MAXIMUM_LENGTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_TAG_VALUE_EXCEEDS_MAXIMUM_LENGTH"
          }
        },
        "RESOURCE_TAGS_NOT_ALLOWED_WITH_INTERNAL_CLOUD_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_TAGS_NOT_ALLOWED_WITH_INTERNAL_CLOUD_ACCOUNT"
          }
        },
        "RESOURCE_TAGS_NOT_ALLOWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_TAGS_NOT_ALLOWED"
          }
        },
        "RESOURCE_TAGS_NAME_NOT_ALLOWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_TAGS_NAME_NOT_ALLOWED"
          }
        },
        "RESOURCE_TAGS_EMPTY_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_TAGS_EMPTY_KEY"
          }
        },
        "RESOURCE_TAGS_DUPLICATE_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_TAGS_DUPLICATE_KEY"
          }
        },
        "RESOURCE_TAGS_MISSING_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_TAGS_MISSING_VALUE"
          }
        },
        "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_IS_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_IS_NOT_SUPPORTED"
          }
        },
        "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_MISSING_USAGE_PERMISSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_MISSING_USAGE_PERMISSIONS"
          }
        },
        "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_MISSING_GET_KEY_PERMISSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_MISSING_GET_KEY_PERMISSIONS"
          }
        },
        "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_MISSING_GET_IAM_POLICY_PERMISSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_MISSING_GET_IAM_POLICY_PERMISSIONS"
          }
        },
        "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_DISABLED_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_DISABLED_KEY"
          }
        },
        "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_INVALID_KEY_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_INVALID_KEY_NAME"
          }
        },
        "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_WRONG_REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_WRONG_REGION"
          }
        },
        "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_NOT_ALLOWED_WITH_CLOUD_PROVIDER_MANAGED_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_NOT_ALLOWED_WITH_CLOUD_PROVIDER_MANAGED_KEY"
          }
        },
        "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_NOT_ALLOWED_WITH_INTERNAL_CLOUD_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_NOT_ALLOWED_WITH_INTERNAL_CLOUD_ACCOUNT"
          }
        },
        "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_REQUIRED_FOR_EXTERNAL_CLOUD_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_REQUIRED_FOR_EXTERNAL_CLOUD_ACCOUNT"
          }
        },
        "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_DELETION_GRACE_PERIOD_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_DELETION_GRACE_PERIOD_REQUIRED"
          }
        },
        "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_INVALID_NUMBER_OF_KEYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_INVALID_NUMBER_OF_KEYS"
          }
        },
        "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_REGION_NOT_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_REGION_NOT_REQUIRED"
          }
        },
        "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_REGION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_REGION_REQUIRED"
          }
        },
        "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_MISSING_KEYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_MISSING_KEYS"
          }
        },
        "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_INVALID_REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_INVALID_REGION"
          }
        },
        "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_DUPLICATE_REGIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_DUPLICATE_REGIONS"
          }
        },
        "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_INVALID_FORMAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_INVALID_FORMAT"
          }
        },
        "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_UPDATE_IS_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_UPDATE_IS_NOT_SUPPORTED"
          }
        },
        "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_SUBSCRIPTION_INVALID_STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_SUBSCRIPTION_INVALID_STATUS"
          }
        },
        "ACTIVE_ACTIVE_CREATE_A_REGION_CUSTOMER_MANAGED_KEY_RESOURCE_NAME_SUBSCRIPTION_IS_NOT_CUSTOMER_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_CREATE_A_REGION_CUSTOMER_MANAGED_KEY_RESOURCE_NAME_SUBSCRIPTION_IS_NOT_CUSTOMER_MANAGED"
          }
        },
        "ACTIVE_ACTIVE_CREATE_A_REGION_CUSTOMER_MANAGED_KEY_RESOURCE_NAME_IS_NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_CREATE_A_REGION_CUSTOMER_MANAGED_KEY_RESOURCE_NAME_IS_NOT_SET"
          }
        },
        "PLANNED_SUBSCRIPTION_INVALID_PLAN_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLANNED_SUBSCRIPTION_INVALID_PLAN_ID"
          }
        },
        "PLANNER_TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLANNER_TIMEOUT"
          }
        },
        "PLANNER_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLANNER_FAILURE"
          }
        },
        "PLANNER_NOT_ENOUGH_AZS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLANNER_NOT_ENOUGH_AZS"
          }
        },
        "PLANNER_INVALID_INSTANCE_TYPE_PER_AZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLANNER_INVALID_INSTANCE_TYPE_PER_AZ"
          }
        },
        "PLANNER_MODULE_PLAN_CLUSTERING_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLANNER_MODULE_PLAN_CLUSTERING_ERROR"
          }
        },
        "PLANNER_MODULE_PLAN_RESHARDING_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLANNER_MODULE_PLAN_RESHARDING_ERROR"
          }
        },
        "PLANNER_INVALID_PLAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLANNER_INVALID_PLAN"
          }
        },
        "PLANNER_INVALID_SIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLANNER_INVALID_SIZE"
          }
        },
        "PLANNER_INVALID_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLANNER_INVALID_NUMBER"
          }
        },
        "PLANNER_INVALID_THROUGHPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLANNER_INVALID_THROUGHPUT"
          }
        },
        "PROVISION_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISION_FAILURE"
          }
        },
        "DATABASE_NOT_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_NOT_ACTIVE"
          }
        },
        "DATABASE_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_NOT_FOUND"
          }
        },
        "DATABASE_SUBSCRIPTION_MISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_SUBSCRIPTION_MISMATCH"
          }
        },
        "DATABASE_CANT_EDIT_THROUGHPUT_BY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_CANT_EDIT_THROUGHPUT_BY"
          }
        },
        "DATABASE_INVALID_SHARDS_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_INVALID_SHARDS_COUNT"
          }
        },
        "DATABASE_CONTAIN_MEMCACHED_USERNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_CONTAIN_MEMCACHED_USERNAME"
          }
        },
        "DATABASE_CONTAIN_MEMCACHED_PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_CONTAIN_MEMCACHED_PASSWORD"
          }
        },
        "DATABASE_SUBSCRIPTION_IN_PENDING_STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_SUBSCRIPTION_IN_PENDING_STATUS"
          }
        },
        "DATABASE_THROUGHPUT_TOO_BIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_THROUGHPUT_TOO_BIG"
          }
        },
        "DATABASE_INVALID_THROUGHPUT_INCREMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_INVALID_THROUGHPUT_INCREMENT"
          }
        },
        "DATABASE_MODULE_NOT_SUPPORTING_SHARD_THROUGHPUT_OPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_MODULE_NOT_SUPPORTING_SHARD_THROUGHPUT_OPTION"
          }
        },
        "DATABASE_MODULE_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_MODULE_NOT_SUPPORTED"
          }
        },
        "DATABASE_QUERY_PERFORMANCE_FACTOR_INVALID_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_QUERY_PERFORMANCE_FACTOR_INVALID_VALUE"
          }
        },
        "DATABASE_QUERY_PERFORMANCE_FACTOR_SEARCH_IS_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_QUERY_PERFORMANCE_FACTOR_SEARCH_IS_REQUIRED"
          }
        },
        "DATABASE_QUERY_PERFORMANCE_FACTOR_IS_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_QUERY_PERFORMANCE_FACTOR_IS_NOT_SUPPORTED"
          }
        },
        "DATABASE_QUERY_PERFORMANCE_FACTOR_IS_NOT_SUPPORTED_ON_ACTIVE_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_QUERY_PERFORMANCE_FACTOR_IS_NOT_SUPPORTED_ON_ACTIVE_ACTIVE"
          }
        },
        "REDISEARCH_SUPPORTS_ONLY_OPERATIONS_PER_SECOND_AS_THROUGHPUT_MEASUREMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDISEARCH_SUPPORTS_ONLY_OPERATIONS_PER_SECOND_AS_THROUGHPUT_MEASUREMENT"
          }
        },
        "REDIS_GRAPH_SUPPORTS_ONLY_OPS_PER_SECOND_AS_THROUGHPUT_MEASUREMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIS_GRAPH_SUPPORTS_ONLY_OPS_PER_SECOND_AS_THROUGHPUT_MEASUREMENT"
          }
        },
        "DATABASE_RESP_VERSION_IS_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_RESP_VERSION_IS_NOT_SUPPORTED"
          }
        },
        "DATABASE_RESP_VERSION_IS_NOT_SUPPORTED_ON_CREATE_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_RESP_VERSION_IS_NOT_SUPPORTED_ON_CREATE_SUBSCRIPTION"
          }
        },
        "DATABASE_ROF_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_ROF_NOT_SUPPORTED"
          }
        },
        "DATABASE_REDISGRAPH_OVERSIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_REDISGRAPH_OVERSIZED"
          }
        },
        "DATABASE_BACKUP_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_BACKUP_NOT_SUPPORTED"
          }
        },
        "DATABASE_EVICTION_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_EVICTION_NOT_SUPPORTED"
          }
        },
        "DATABASE_AOF_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_AOF_NOT_SUPPORTED"
          }
        },
        "DATABASE_REPLICA_OF_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_REPLICA_OF_NOT_SUPPORTED"
          }
        },
        "DATABASE_SNAPSHOT_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_SNAPSHOT_NOT_SUPPORTED"
          }
        },
        "DATABASE_CLUSTERING_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_CLUSTERING_NOT_SUPPORTED"
          }
        },
        "DATABASE_INVALID_THREAD_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_INVALID_THREAD_NUMBER"
          }
        },
        "DATABASE_HASH_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_HASH_NOT_SUPPORTED"
          }
        },
        "DATABASE_RESHARD_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_RESHARD_NOT_SUPPORTED"
          }
        },
        "DATABASE_FEATURE_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_FEATURE_NOT_SUPPORTED"
          }
        },
        "DATABASE_NAME_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_NAME_EXISTS"
          }
        },
        "DATABASE_NAME_DUPLICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_NAME_DUPLICATE"
          }
        },
        "DATABASE_INVALID_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_INVALID_NAME"
          }
        },
        "DATABASE_NAME_TOO_LONG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_NAME_TOO_LONG"
          }
        },
        "DATABASE_SIZE_TOO_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_SIZE_TOO_SMALL"
          }
        },
        "DATABASE_SIZE_TOO_BIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_SIZE_TOO_BIG"
          }
        },
        "DATABASE_SIZE_LIMIT_NOT_DEFINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_SIZE_LIMIT_NOT_DEFINED"
          }
        },
        "DATABASE_SIZE_LIMIT_INVALID_TOO_MANY_MEMORY_SPECIFICATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_SIZE_LIMIT_INVALID_TOO_MANY_MEMORY_SPECIFICATIONS"
          }
        },
        "DATABASE_PASSWORD_IS_BLANK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_PASSWORD_IS_BLANK"
          }
        },
        "DATABASE_PASSWORD_IS_TOO_LONG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_PASSWORD_IS_TOO_LONG"
          }
        },
        "DATABASE_REDIS_SEARCH_MODULE_VALUE_IS_NOT_INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_REDIS_SEARCH_MODULE_VALUE_IS_NOT_INTEGER"
          }
        },
        "DATABASE_REDIS_SEARCH_MODULE_VALUE_NOT_IN_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_REDIS_SEARCH_MODULE_VALUE_NOT_IN_RANGE"
          }
        },
        "DATABASE_MODULE_MUST_BE_DEFINED_ONCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_MODULE_MUST_BE_DEFINED_ONCE"
          }
        },
        "DATABASE_MEMCACHED_CONTAINS_MODULES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_MEMCACHED_CONTAINS_MODULES"
          }
        },
        "DATABASE_MEMCACHED_NOT_SUPPORT_OSS_CLUSTER_API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_MEMCACHED_NOT_SUPPORT_OSS_CLUSTER_API"
          }
        },
        "REDIS_ON_FLASH_DATABASE_MEMCACHED_PROTOCOL_IS_NOT_ALLOWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIS_ON_FLASH_DATABASE_MEMCACHED_PROTOCOL_IS_NOT_ALLOWED"
          }
        },
        "DATABASE_MEMCACHED_CONTAINS_REDIS_PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_MEMCACHED_CONTAINS_REDIS_PASSWORD"
          }
        },
        "DATABASE_MEMCACHED_CONTAINS_REDIS_DEFAULT_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_MEMCACHED_CONTAINS_REDIS_DEFAULT_USER"
          }
        },
        "DATABASE_MEMCACHED_SASL_USERNAME_IS_BLANK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_MEMCACHED_SASL_USERNAME_IS_BLANK"
          }
        },
        "DATABASE_MEMCACHED_SASL_PASSWORD_IS_BLANK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_MEMCACHED_SASL_PASSWORD_IS_BLANK"
          }
        },
        "DATABASE_MEMCACHED_SASL_PASSWORD_MAX_LENGTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_MEMCACHED_SASL_PASSWORD_MAX_LENGTH"
          }
        },
        "DATABASE_REDIS_FLEX_CONTAINS_MODULES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_REDIS_FLEX_CONTAINS_MODULES"
          }
        },
        "DATABASE_AVERAGE_ITEM_SIZE_NOT_ALLOWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_AVERAGE_ITEM_SIZE_NOT_ALLOWED"
          }
        },
        "DATABASE_RAM_PERCENTAGE_NOT_ALLOWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_RAM_PERCENTAGE_NOT_ALLOWED"
          }
        },
        "DATABASE_RAM_PERCENTAGE_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_RAM_PERCENTAGE_NOT_SUPPORTED"
          }
        },
        "DATABASE_RAM_PERCENTAGE_IS_INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_RAM_PERCENTAGE_IS_INVALID"
          }
        },
        "DATABASE_AVERAGE_ITEM_SIZE_IS_DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_AVERAGE_ITEM_SIZE_IS_DEPRECATED"
          }
        },
        "DATABASE_MEMORY_LIMIT_IS_INVALID_FOR_ROF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_MEMORY_LIMIT_IS_INVALID_FOR_ROF"
          }
        },
        "DATABASE_DATASET_SIZE_IS_INVALID_FOR_ROF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_DATASET_SIZE_IS_INVALID_FOR_ROF"
          }
        },
        "DATABASE_SIZE_SMALLER_THAN_USAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_SIZE_SMALLER_THAN_USAGE"
          }
        },
        "DATABASE_USAGE_EXCEEDS_GLOBAL_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_USAGE_EXCEEDS_GLOBAL_LIMIT"
          }
        },
        "DATABASE_USAGE_EXCEEDS_LOCAL_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_USAGE_EXCEEDS_LOCAL_LIMIT"
          }
        },
        "DATABASE_INVALID_CERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_INVALID_CERT"
          }
        },
        "DATABASE_EXPIRED_CERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_EXPIRED_CERT"
          }
        },
        "DATABASE_MISSING_CERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_MISSING_CERT"
          }
        },
        "DATABASE_CLIENT_SSL_CERTIFICATE_DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_CLIENT_SSL_CERTIFICATE_DEPRECATED"
          }
        },
        "DATABASE_CLIENT_SSL_CERTIFICATE_MORE_THAN_1_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_CLIENT_SSL_CERTIFICATE_MORE_THAN_1_ACTIVE"
          }
        },
        "DATABASE_SIP_OVER_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_SIP_OVER_LIMIT"
          }
        },
        "DATABASE_INVALID_SIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_INVALID_SIP"
          }
        },
        "DATABASE_INVALID_SIP_FREE_PLAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_INVALID_SIP_FREE_PLAN"
          }
        },
        "DATABASE_INVALID_ALERTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_INVALID_ALERTS"
          }
        },
        "DATABASE_INVALID_MODULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_INVALID_MODULE"
          }
        },
        "DATABASE_INVALID_MODULE_PARAMETER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_INVALID_MODULE_PARAMETER"
          }
        },
        "DATABASE_INVALID_MODULE_PARAMETER_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_INVALID_MODULE_PARAMETER_VALUE"
          }
        },
        "DATABASE_EXPLICIT_MODULES_NOT_SUPPORTED_FOR_THIS_REDIS_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_EXPLICIT_MODULES_NOT_SUPPORTED_FOR_THIS_REDIS_VERSION"
          }
        },
        "DATABASE_INVALID_ALERT_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_INVALID_ALERT_VALUE"
          }
        },
        "DATABASE_SHARDING_TYPE_IS_IMMUTABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_SHARDING_TYPE_IS_IMMUTABLE"
          }
        },
        "DATABASE_SHARDING_TYPE_IS_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_SHARDING_TYPE_IS_NOT_SUPPORTED"
          }
        },
        "DATABASE_REGEX_RULES_NO_CLUSTERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_REGEX_RULES_NO_CLUSTERING"
          }
        },
        "DATABASE_REGEX_RULES_CHANGES_BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_REGEX_RULES_CHANGES_BLOCKED"
          }
        },
        "DATABASE_OSS_CLUSTER_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_OSS_CLUSTER_NOT_SUPPORTED"
          }
        },
        "DATABASE_EXTERNAL_ENDPOINT_WITHOUT_OSS_CLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_EXTERNAL_ENDPOINT_WITHOUT_OSS_CLUSTER"
          }
        },
        "CUSTOM_REGEX_RULES_IS_NOT_ALLOWED_WITHOUT_ENABLE_DATABASE_CLUSTERING_IS_TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_REGEX_RULES_IS_NOT_ALLOWED_WITHOUT_ENABLE_DATABASE_CLUSTERING_IS_TRUE"
          }
        },
        "DATABASE_OSS_CLUSTER_CUSTOM_REGEX_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_OSS_CLUSTER_CUSTOM_REGEX_NOT_SUPPORTED"
          }
        },
        "DATABASE_OSS_CLUSTER_REPLICA_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_OSS_CLUSTER_REPLICA_NOT_SUPPORTED"
          }
        },
        "DATABASE_REPLICA_OF_PROPERTY_DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_REPLICA_OF_PROPERTY_DEPRECATED"
          }
        },
        "DATABASE_REPLICA_PER_SOURCE_OVER_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_REPLICA_PER_SOURCE_OVER_LIMIT"
          }
        },
        "DATABASE_REPLICA_CYCLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_REPLICA_CYCLE"
          }
        },
        "DATABASE_INVALID_REPLICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_INVALID_REPLICA"
          }
        },
        "DATABASE_UNSUPPORTED_REPLICA_OF_REDIS_FLEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_UNSUPPORTED_REPLICA_OF_REDIS_FLEX"
          }
        },
        "DATABASE_REPLICAS_OVER_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_REPLICAS_OVER_LIMIT"
          }
        },
        "DATABASE_BACKUP_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_BACKUP_DISABLED"
          }
        },
        "DATABASE_BACKUP_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_BACKUP_FAILED"
          }
        },
        "DATABASE_BACKUP_NOT_CONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_BACKUP_NOT_CONFIGURED"
          }
        },
        "DATABASE_INVALID_BACKUP_PATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_INVALID_BACKUP_PATH"
          }
        },
        "DATABASE_INVALID_BACKUP_INTERVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_INVALID_BACKUP_INTERVAL"
          }
        },
        "DATABASE_INVALID_TOO_MANY_BACKUP_SPECIFICATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_INVALID_TOO_MANY_BACKUP_SPECIFICATIONS"
          }
        },
        "DATABASE_INVALID_BACKUP_STORAGE_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_INVALID_BACKUP_STORAGE_TYPE"
          }
        },
        "DATABASE_INVALID_IMPORT_SOURCE_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_INVALID_IMPORT_SOURCE_TYPE"
          }
        },
        "DATABASE_INVALID_BACKUP_TIME_UTC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_INVALID_BACKUP_TIME_UTC"
          }
        },
        "DATABASE_INVALID_BACKUP_INTERVAL_AND_TIME_UTC_MISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_INVALID_BACKUP_INTERVAL_AND_TIME_UTC_MISMATCH"
          }
        },
        "DATABASE_INVALID_BACKUP_PATH_USED_BY_ANOTHER_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_INVALID_BACKUP_PATH_USED_BY_ANOTHER_ACCOUNT"
          }
        },
        "DATABASE_INVALID_BACKUP_CONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_INVALID_BACKUP_CONFIGURATION"
          }
        },
        "DATABASE_INVALID_REGEX_RULES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_INVALID_REGEX_RULES"
          }
        },
        "DATABASE_INVALID_QUANTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_INVALID_QUANTITY"
          }
        },
        "DATABASE_REPLICA_OF_VERSION_NOT_COMPATIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_REPLICA_OF_VERSION_NOT_COMPATIBLE"
          }
        },
        "DATABASE_REPLICA_OF_SOURCE_INCOMPATIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_REPLICA_OF_SOURCE_INCOMPATIBLE"
          }
        },
        "DATABASE_IMPORT_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_IMPORT_FAILED"
          }
        },
        "DATABASE_IMPORT_FROM_NON_OSS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_IMPORT_FROM_NON_OSS"
          }
        },
        "DATABASE_IMPORT_SOURCE_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_IMPORT_SOURCE_NOT_FOUND"
          }
        },
        "DUPLICATE_DATABASE_IMPORT_SOURCE_PATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DUPLICATE_DATABASE_IMPORT_SOURCE_PATH"
          }
        },
        "DATABASE_IMPORT_WRONG_SIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_IMPORT_WRONG_SIZE"
          }
        },
        "DATABASE_IMPORT_URI_NOT_PROVIDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_IMPORT_URI_NOT_PROVIDED"
          }
        },
        "DATABASE_IMPORT_MULTIPLE_REDIS_SOURCES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_IMPORT_MULTIPLE_REDIS_SOURCES"
          }
        },
        "DATABASE_IMPORT_REDIS_BAD_URI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_IMPORT_REDIS_BAD_URI"
          }
        },
        "DATABASE_REPLICA_OF_BAD_URI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_REPLICA_OF_BAD_URI"
          }
        },
        "DATABASE_IMPORT_S3_BAD_URI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_IMPORT_S3_BAD_URI"
          }
        },
        "DATABASE_IMPORT_HTTP_BAD_URI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_IMPORT_HTTP_BAD_URI"
          }
        },
        "DATABASE_IMPORT_FTP_BAD_URI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_IMPORT_FTP_BAD_URI"
          }
        },
        "DATABASE_IMPORT_AZURE_BAD_URI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_IMPORT_AZURE_BAD_URI"
          }
        },
        "DATABASE_IMPORT_GCS_BAD_URI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_IMPORT_GCS_BAD_URI"
          }
        },
        "DATABASE_IMPORT_NOT_ALLOWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_IMPORT_NOT_ALLOWED"
          }
        },
        "DATABASE_PORT_INVALID_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_PORT_INVALID_VALUE"
          }
        },
        "DATABASE_PORT_IS_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_PORT_IS_UNAVAILABLE"
          }
        },
        "DATABASE_CUSTOM_PORT_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_CUSTOM_PORT_NOT_SUPPORTED"
          }
        },
        "DATABASE_CUSTOM_PORT_NOT_UNIQUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_CUSTOM_PORT_NOT_UNIQUE"
          }
        },
        "DATABASE_AVERAGE_ITEM_SIZE_INVALID_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_AVERAGE_ITEM_SIZE_INVALID_VALUE"
          }
        },
        "DATABASE_REDIS_VERSION_IS_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_REDIS_VERSION_IS_NOT_SUPPORTED"
          }
        },
        "DATABASE_REDIS_VERSION_IS_NOT_SUPPORTED_FOR_REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_REDIS_VERSION_IS_NOT_SUPPORTED_FOR_REGION"
          }
        },
        "DATABASE_REDIS_VERSION_IS_NOT_SUPPORTED_FOR_MEMCACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_REDIS_VERSION_IS_NOT_SUPPORTED_FOR_MEMCACHED"
          }
        },
        "DATABASE_REDIS_VERSION_IS_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_REDIS_VERSION_IS_REQUIRED"
          }
        },
        "DATABASE_REDIS_VERSION_INVALID_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_REDIS_VERSION_INVALID_VALUE"
          }
        },
        "INCOMPATIBLE_TF_PROVIDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOMPATIBLE_TF_PROVIDER"
          }
        },
        "DESIRED_SOFTWARE_VERSION_IS_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESIRED_SOFTWARE_VERSION_IS_NOT_SUPPORTED"
          }
        },
        "CONNECTIVITY_REQUESTS_ON_CUSTOMER_MANAGED_VPC_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTIVITY_REQUESTS_ON_CUSTOMER_MANAGED_VPC_SUBSCRIPTION"
          }
        },
        "VPC_PEERING_NOT_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC_PEERING_NOT_ACTIVE"
          }
        },
        "VPC_PEERING_GENERAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC_PEERING_GENERAL_ERROR"
          }
        },
        "VPC_PEERING_INVALID_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC_PEERING_INVALID_ACCOUNT"
          }
        },
        "VPC_PEERING_INVALID_VPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC_PEERING_INVALID_VPC"
          }
        },
        "VPC_PEERING_INVALID_CIDR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC_PEERING_INVALID_CIDR"
          }
        },
        "VPC_PEERING_CIDR_IS_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC_PEERING_CIDR_IS_MISSING"
          }
        },
        "VPC_PEERING_TOO_MANY_CIDR_SPECIFICATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC_PEERING_TOO_MANY_CIDR_SPECIFICATIONS"
          }
        },
        "VPC_PEERING_INVALID_REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC_PEERING_INVALID_REGION"
          }
        },
        "VPC_PEERING_ALREADY_EXIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC_PEERING_ALREADY_EXIST"
          }
        },
        "VPC_PEERING_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC_PEERING_NOT_FOUND"
          }
        },
        "VPC_PEERING_INVALID_PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC_PEERING_INVALID_PROJECT"
          }
        },
        "VPC_PEERING_CLUSTER_NOT_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC_PEERING_CLUSTER_NOT_ACTIVE"
          }
        },
        "VPC_PEERING_CIDR_OVERLAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC_PEERING_CIDR_OVERLAP"
          }
        },
        "VPC_PEERING_BELONGS_TO_DIFFERENT_CLOUD_PROVIDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC_PEERING_BELONGS_TO_DIFFERENT_CLOUD_PROVIDER"
          }
        },
        "VPC_PEERING_IS_NOT_KNOWN_CLOUD_PROVIDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC_PEERING_IS_NOT_KNOWN_CLOUD_PROVIDER"
          }
        },
        "CREATING_AN_ACTIVE_ACTIVE_VPC_PEERING_IS_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING_AN_ACTIVE_ACTIVE_VPC_PEERING_IS_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION"
          }
        },
        "UPDATING_AN_ACTIVE_ACTIVE_VPC_PEERING_IS_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING_AN_ACTIVE_ACTIVE_VPC_PEERING_IS_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION"
          }
        },
        "DELETING_AN_ACTIVE_ACTIVE_VPC_PEERING_IS_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING_AN_ACTIVE_ACTIVE_VPC_PEERING_IS_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION"
          }
        },
        "DELETING_AN_ACTIVE_ACTIVE_VPC_PEERING_IS_NOT_ALLOWED_FOR_A_SUBSCRIPTION_WITH_NO_VPC_PEERINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING_AN_ACTIVE_ACTIVE_VPC_PEERING_IS_NOT_ALLOWED_FOR_A_SUBSCRIPTION_WITH_NO_VPC_PEERINGS"
          }
        },
        "ACTIVE_ACTIVE_VPC_PEERING_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_VPC_PEERING_NOT_FOUND"
          }
        },
        "VPC_PEERING_MULTIPLE_CIDRS_IS_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC_PEERING_MULTIPLE_CIDRS_IS_DISABLED"
          }
        },
        "TGW_ACCEPTING_AN_ACTIVE_ACTIVE_TGW_RESOURCE_SHARE_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TGW_ACCEPTING_AN_ACTIVE_ACTIVE_TGW_RESOURCE_SHARE_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION"
          }
        },
        "TGW_REJECTING_AN_ACTIVE_ACTIVE_TGW_RESOURCE_SHARE_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TGW_REJECTING_AN_ACTIVE_ACTIVE_TGW_RESOURCE_SHARE_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION"
          }
        },
        "TGW_ACCEPTING_A_FLEXIBLE_SUBSCRIPTION_TGW_RESOURCE_SHARE_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TGW_ACCEPTING_A_FLEXIBLE_SUBSCRIPTION_TGW_RESOURCE_SHARE_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION"
          }
        },
        "TGW_REJECTING_A_FLEXIBLE_SUBSCRIPTION_TGW_RESOURCE_SHARE_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TGW_REJECTING_A_FLEXIBLE_SUBSCRIPTION_TGW_RESOURCE_SHARE_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION"
          }
        },
        "TGW_CREATING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_TGW_ATTACHMENT_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TGW_CREATING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_TGW_ATTACHMENT_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION"
          }
        },
        "TGW_DELETING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_TGW_ATTACHMENT_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TGW_DELETING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_TGW_ATTACHMENT_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION"
          }
        },
        "TGW_UPDATING_AN_ACTIVE_ACTIVE_TGW_ATTACHMENT_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TGW_UPDATING_AN_ACTIVE_ACTIVE_TGW_ATTACHMENT_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION"
          }
        },
        "TGW_CREATING_A_FLEXIBLE_SUBSCRIPTION_TGW_ATTACHMENT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TGW_CREATING_A_FLEXIBLE_SUBSCRIPTION_TGW_ATTACHMENT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION"
          }
        },
        "TGW_UPDATING_A_FLEXIBLE_SUBSCRIPTION_TGW_ATTACHMENT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TGW_UPDATING_A_FLEXIBLE_SUBSCRIPTION_TGW_ATTACHMENT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION"
          }
        },
        "TGW_DELETING_A_FLEXIBLE_SUBSCRIPTION_TGW_ATTACHMENT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TGW_DELETING_A_FLEXIBLE_SUBSCRIPTION_TGW_ATTACHMENT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION"
          }
        },
        "TGW_CLOUD_PROVIDER_IS_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TGW_CLOUD_PROVIDER_IS_NOT_SUPPORTED"
          }
        },
        "TGW_RESOURCE_SHARE_DOES_NOT_EXIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TGW_RESOURCE_SHARE_DOES_NOT_EXIST"
          }
        },
        "TGW_DOES_NOT_EXIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TGW_DOES_NOT_EXIST"
          }
        },
        "TGW_ATTACHMENT_DOES_NOT_EXIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TGW_ATTACHMENT_DOES_NOT_EXIST"
          }
        },
        "TGW_ATTACHMENT_IS_NOT_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TGW_ATTACHMENT_IS_NOT_ACTIVE"
          }
        },
        "TGW_ATTACHMENT_CIDRS_INVALID_LENGTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TGW_ATTACHMENT_CIDRS_INVALID_LENGTH"
          }
        },
        "TGW_ATTACHMENT_CIDRS_ARE_THE_SAME_AS_EXISTING_ONES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TGW_ATTACHMENT_CIDRS_ARE_THE_SAME_AS_EXISTING_ONES"
          }
        },
        "TGW_ATTACHMENT_CIDRS_REQUEST_CONTAINS_DUPLICATES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TGW_ATTACHMENT_CIDRS_REQUEST_CONTAINS_DUPLICATES"
          }
        },
        "TGW_REGION_DOES_NOT_EXIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TGW_REGION_DOES_NOT_EXIST"
          }
        },
        "TGW_GETTING_ACTIVE_ACTIVE_SUBSCRIPTION_TGW_IS_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TGW_GETTING_ACTIVE_ACTIVE_SUBSCRIPTION_TGW_IS_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION"
          }
        },
        "TGW_GETTING_ACTIVE_ACTIVE_SUBSCRIPTION_TGW_INVITATIONS_IS_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TGW_GETTING_ACTIVE_ACTIVE_SUBSCRIPTION_TGW_INVITATIONS_IS_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION"
          }
        },
        "TGW_GETTING_SINGLE_REGION_TGWS_IS_NOT_ALLOWED_WITH_ACTIVE_ACTIVE_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TGW_GETTING_SINGLE_REGION_TGWS_IS_NOT_ALLOWED_WITH_ACTIVE_ACTIVE_SUBSCRIPTION"
          }
        },
        "TGW_GETTING_SINGLE_REGION_TGW_INVITATIONS_IS_NOT_ALLOWED_WITH_ACTIVE_ACTIVE_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TGW_GETTING_SINGLE_REGION_TGW_INVITATIONS_IS_NOT_ALLOWED_WITH_ACTIVE_ACTIVE_SUBSCRIPTION"
          }
        },
        "PSC_ENDPOINT_INVALID_GCP_PROJECT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_ENDPOINT_INVALID_GCP_PROJECT_ID"
          }
        },
        "PSC_ENDPOINT_INVALID_VPC_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_ENDPOINT_INVALID_VPC_NAME"
          }
        },
        "PSC_ENDPOINT_INVALID_VPC_SUBNET_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_ENDPOINT_INVALID_VPC_SUBNET_NAME"
          }
        },
        "PSC_ENDPOINT_INVALID_CONNECTION_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_ENDPOINT_INVALID_CONNECTION_NAME"
          }
        },
        "PSC_SERVICE_ALREADY_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_SERVICE_ALREADY_EXISTS"
          }
        },
        "PSC_ENDPOINT_ALREADY_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_ENDPOINT_ALREADY_EXISTS"
          }
        },
        "PSC_CLOUD_PROVIDER_IS_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_CLOUD_PROVIDER_IS_NOT_SUPPORTED"
          }
        },
        "PSC_GET_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_ENDPOINTS_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_GET_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_ENDPOINTS_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION"
          }
        },
        "PSC_GET_A_FLEXIBLE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_ENDPOINT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_GET_A_FLEXIBLE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_ENDPOINT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION"
          }
        },
        "PSC_CREATING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_CREATING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION"
          }
        },
        "PSC_CREATING_A_FLEXIBLE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_CREATING_A_FLEXIBLE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION"
          }
        },
        "PSC_DELETING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_DELETING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION"
          }
        },
        "PSC_DELETING_A_FLEXIBLE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_DELETING_A_FLEXIBLE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION"
          }
        },
        "PSC_CREATING_A_FLEXIBLE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_ENDPOINT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_CREATING_A_FLEXIBLE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_ENDPOINT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION"
          }
        },
        "PSC_CREATING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_ENDPOINT_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_CREATING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_ENDPOINT_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION"
          }
        },
        "PSC_CREATING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_IS_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_CREATING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_IS_NOT_SUPPORTED"
          }
        },
        "PSC_UPDATING_A_FLEXIBLE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_ENDPOINT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_UPDATING_A_FLEXIBLE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_ENDPOINT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION"
          }
        },
        "PSC_UPDATING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_ENDPOINT_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_UPDATING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_ENDPOINT_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION"
          }
        },
        "PSC_DELETING_A_FLEXIBLE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_ENDPOINT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_DELETING_A_FLEXIBLE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_ENDPOINT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION"
          }
        },
        "PSC_DELETING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_ENDPOINT_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_DELETING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_ENDPOINT_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION"
          }
        },
        "PSC_UPDATE_ENDPOINT_REQUEST_ACTION_INVALID_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_UPDATE_ENDPOINT_REQUEST_ACTION_INVALID_VALUE"
          }
        },
        "PSC_UPDATE_ENDPOINT_REQUEST_CANNOT_HAVE_BOTH_ACTION_AND_OTHER_FIELDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_UPDATE_ENDPOINT_REQUEST_CANNOT_HAVE_BOTH_ACTION_AND_OTHER_FIELDS"
          }
        },
        "PSC_UPDATE_ENDPOINT_REQUEST_CANNOT_UPDATE_INITIALIZED_ENDPOINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_UPDATE_ENDPOINT_REQUEST_CANNOT_UPDATE_INITIALIZED_ENDPOINT"
          }
        },
        "PSC_SERVICE_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_SERVICE_NOT_FOUND"
          }
        },
        "PSC_ENDPOINT_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_ENDPOINT_NOT_FOUND"
          }
        },
        "PSC_ENDPOINT_NOT_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_ENDPOINT_NOT_ACTIVE"
          }
        },
        "PSC_ENDPOINT_NOT_CREATED_OR_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_ENDPOINT_NOT_CREATED_OR_DELETED"
          }
        },
        "PSC_ENDPOINT_CANNOT_BE_DELETED_WITHOUT_DELETION_SCRIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_ENDPOINT_CANNOT_BE_DELETED_WITHOUT_DELETION_SCRIPT"
          }
        },
        "PSC_SERVICE_CANNOT_DELETE_SERVICE_WITH_ACTIVE_ENDPOINTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_SERVICE_CANNOT_DELETE_SERVICE_WITH_ACTIVE_ENDPOINTS"
          }
        },
        "PSC_SERVICE_NOT_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_SERVICE_NOT_ACTIVE"
          }
        },
        "PSC_ENDPOINT_SCRIPT_FAILED_TO_PARSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSC_ENDPOINT_SCRIPT_FAILED_TO_PARSE"
          }
        },
        "CIDR_WHITELIST_GENERAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CIDR_WHITELIST_GENERAL_ERROR"
          }
        },
        "CIDR_WHITELIST_INVALID_CIDRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CIDR_WHITELIST_INVALID_CIDRS"
          }
        },
        "CIDR_WHITELIST_INVALID_SG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CIDR_WHITELIST_INVALID_SG"
          }
        },
        "CIDR_WHITELIST_LIMIT_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CIDR_WHITELIST_LIMIT_EXCEEDED"
          }
        },
        "CIDR_WHITELIST_DUPLICATE_CIDRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CIDR_WHITELIST_DUPLICATE_CIDRS"
          }
        },
        "CIDR_WHITELIST_DUPLICATE_SG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CIDR_WHITELIST_DUPLICATE_SG"
          }
        },
        "CIDR_WHITELIST_NOT_ALLOWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CIDR_WHITELIST_NOT_ALLOWED"
          }
        },
        "CLIENT_PUBLIC_ACCESS_INVALID_SOURCE_IPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_PUBLIC_ACCESS_INVALID_SOURCE_IPS"
          }
        },
        "CLIENT_PUBLIC_ACCESS_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_PUBLIC_ACCESS_NOT_SUPPORTED"
          }
        },
        "CLIENT_PUBLIC_ACCESS_ALREADY_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_PUBLIC_ACCESS_ALREADY_SET"
          }
        },
        "CLIENT_PUBLIC_ACCESS_ON_NON_HOSTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_PUBLIC_ACCESS_ON_NON_HOSTED"
          }
        },
        "AWS_ERROR_INSTANCE_LIMIT_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS_ERROR_INSTANCE_LIMIT_EXCEEDED"
          }
        },
        "AWS_ERROR_VPC_LIMIT_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS_ERROR_VPC_LIMIT_EXCEEDED"
          }
        },
        "AWS_ERROR_INSUFFICIENT_INSTANCE_CAPACITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS_ERROR_INSUFFICIENT_INSTANCE_CAPACITY"
          }
        },
        "AWS_ERROR_VOLUME_LIMIT_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS_ERROR_VOLUME_LIMIT_EXCEEDED"
          }
        },
        "AWS_ERROR_MISMATCHING_CIDR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS_ERROR_MISMATCHING_CIDR"
          }
        },
        "AWS_ERROR_CONFLICTING_CIDR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS_ERROR_CONFLICTING_CIDR"
          }
        },
        "AWS_ERROR_VPC_DOES_NOT_EXIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS_ERROR_VPC_DOES_NOT_EXIST"
          }
        },
        "AWS_ERROR_EXISTING_VPC_EQUAL_TO_REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS_ERROR_EXISTING_VPC_EQUAL_TO_REQUESTED"
          }
        },
        "PAYMENT_INFO_NOT_PROVIDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAYMENT_INFO_NOT_PROVIDED"
          }
        },
        "PAYMENT_INFO_EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAYMENT_INFO_EXPIRED"
          }
        },
        "PAYMENT_INFO_NOT_ALLOWED_IN_GCP_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAYMENT_INFO_NOT_ALLOWED_IN_GCP_ACCOUNT"
          }
        },
        "CLOUD_PROVIDER_IS_NOT_GCP_IN_GCP_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_PROVIDER_IS_NOT_GCP_IN_GCP_ACCOUNT"
          }
        },
        "PAYMENT_INFO_NOT_ALLOWED_IN_CONTRACT_ASSOCIATED_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAYMENT_INFO_NOT_ALLOWED_IN_CONTRACT_ASSOCIATED_ACCOUNT"
          }
        },
        "PAYMENT_INFO_CHANGE_PROHIBITED_FOR_PRO_UNDER_CONTRACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAYMENT_INFO_CHANGE_PROHIBITED_FOR_PRO_UNDER_CONTRACT"
          }
        },
        "LOCAL_THROUGHPUT_READ_AND_WRITE_OPERATIONS_PER_SECOND_VALUES_MUST_BE_IN_INCREMENTS_OF_500_OR_MINIMUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_THROUGHPUT_READ_AND_WRITE_OPERATIONS_PER_SECOND_VALUES_MUST_BE_IN_INCREMENTS_OF_500_OR_MINIMUM"
          }
        },
        "MISSING_REGIONS_BETWEEN_CLOUD_PROVIDERS_AND_DATABASES_LOCAL_THROUGHPUT_MEASUREMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISSING_REGIONS_BETWEEN_CLOUD_PROVIDERS_AND_DATABASES_LOCAL_THROUGHPUT_MEASUREMENTS"
          }
        },
        "MISSING_REGIONS_BETWEEN_LOCAL_THROUGHPUT_MEASUREMENTS_AND_SUBSCRIPTION_REGIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISSING_REGIONS_BETWEEN_LOCAL_THROUGHPUT_MEASUREMENTS_AND_SUBSCRIPTION_REGIONS"
          }
        },
        "CRDB_ACTIVE_ACTIVE_MISSING_LOCAL_THROUGHPUT_MEASUREMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRDB_ACTIVE_ACTIVE_MISSING_LOCAL_THROUGHPUT_MEASUREMENT"
          }
        },
        "CRDB_ACTIVE_ACTIVE_REGIONS_MUST_BE_DEFINED_ONCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRDB_ACTIVE_ACTIVE_REGIONS_MUST_BE_DEFINED_ONCE"
          }
        },
        "ACTIVE_ACTIVE_CREATE_A_REGION_MUST_CONTAIN_DATABASE_SPEC_TO_ALL_CRDBS_IN_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_CREATE_A_REGION_MUST_CONTAIN_DATABASE_SPEC_TO_ALL_CRDBS_IN_SUBSCRIPTION"
          }
        },
        "ACTIVE_ACTIVE_CREATE_A_REGION_MUST_CONTAIN_LOCAL_THROUGHPUT_MEASUREMENT_IN_DATABASE_SPEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_CREATE_A_REGION_MUST_CONTAIN_LOCAL_THROUGHPUT_MEASUREMENT_IN_DATABASE_SPEC"
          }
        },
        "ACTIVE_ACTIVE_CREATE_A_REGION_MUST_BE_DEFINED_ONCE_PER_DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_CREATE_A_REGION_MUST_BE_DEFINED_ONCE_PER_DATABASE"
          }
        },
        "ACTIVE_ACTIVE_CREATE_A_REGION_DATABASE_RESP_VERSION_IS_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_CREATE_A_REGION_DATABASE_RESP_VERSION_IS_NOT_SUPPORTED"
          }
        },
        "TOO_MANY_LOCAL_THROUGHPUT_MEASUREMENTS_DEFINED_FOR_SPECIFIED_ACTIVE_ACTIVE_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOO_MANY_LOCAL_THROUGHPUT_MEASUREMENTS_DEFINED_FOR_SPECIFIED_ACTIVE_ACTIVE_SUBSCRIPTION"
          }
        },
        "ACTIVE_ACTIVE_RAM_AND_FLASH_MEMORY_STORAGE_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_RAM_AND_FLASH_MEMORY_STORAGE_NOT_SUPPORTED"
          }
        },
        "ACTIVE_ACTIVE_DATABASE_MODULE_IS_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_DATABASE_MODULE_IS_NOT_SUPPORTED"
          }
        },
        "ACTIVE_ACTIVE_DATABASE_MODULES_IS_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_DATABASE_MODULES_IS_NOT_SUPPORTED"
          }
        },
        "ACTIVE_ACTIVE_FOR_GCP_ACCOUNT_IS_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_FOR_GCP_ACCOUNT_IS_NOT_SUPPORTED"
          }
        },
        "ACTIVE_ACTIVE_DATABASE_ALERT_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_DATABASE_ALERT_NOT_SUPPORTED"
          }
        },
        "FLEXIBLE_DATABASE_ALERT_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLEXIBLE_DATABASE_ALERT_NOT_SUPPORTED"
          }
        },
        "ACTIVE_ACTIVE_DATABASE_REPLICA_OF_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_DATABASE_REPLICA_OF_NOT_SUPPORTED"
          }
        },
        "ACTIVE_ACTIVE_DATABASE_PERIODIC_BACK_UP_PATH_NOT_ALLOWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_DATABASE_PERIODIC_BACK_UP_PATH_NOT_ALLOWED"
          }
        },
        "ACTIVE_ACTIVE_CHANGE_REQUEST_PLANNING_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_CHANGE_REQUEST_PLANNING_FAILED"
          }
        },
        "ACTIVE_ACTIVE_CHANGE_REQUEST_PLANNING_EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_CHANGE_REQUEST_PLANNING_EXPIRED"
          }
        },
        "ACTIVE_ACTIVE_MISSING_LOCAL_THROUGHPUT_MEASUREMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_MISSING_LOCAL_THROUGHPUT_MEASUREMENT"
          }
        },
        "ACTIVE_ACTIVE_BACKUP_MISSING_REGION_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_BACKUP_MISSING_REGION_NAME"
          }
        },
        "ACTIVE_ACTIVE_BACKUP_STATUS_MISSING_REGION_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_BACKUP_STATUS_MISSING_REGION_NAME"
          }
        },
        "ACTIVE_ACTIVE_DATABASE_INVALID_CIDR_FORMAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_DATABASE_INVALID_CIDR_FORMAT"
          }
        },
        "ACTIVE_ACTIVE_DATABASE_INVALID_CIDR_OVERLAPPING_OTHER_REGIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_DATABASE_INVALID_CIDR_OVERLAPPING_OTHER_REGIONS"
          }
        },
        "ACTIVE_ACTIVE_DATABASE_REPLICATION_CANNOT_BE_FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_DATABASE_REPLICATION_CANNOT_BE_FALSE"
          }
        },
        "ACTIVE_ACTIVE_REGIONS_MUST_BE_DEFINED_ONCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_REGIONS_MUST_BE_DEFINED_ONCE"
          }
        },
        "ACTIVE_ACTIVE_SUBSCRIPTION_WITHOUT_REGIONS_IS_NOT_ALLOWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_SUBSCRIPTION_WITHOUT_REGIONS_IS_NOT_ALLOWED"
          }
        },
        "ACTIVE_ACTIVE_DATABASE_MEMCACHED_PROTOCOL_IS_NOT_ALLOWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_DATABASE_MEMCACHED_PROTOCOL_IS_NOT_ALLOWED"
          }
        },
        "ACTIVE_ACTIVE_DATABASE_SHARDING_MUST_BE_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_DATABASE_SHARDING_MUST_BE_ENABLED"
          }
        },
        "ACTIVE_ACTIVE_DATABASE_MISSING_DATABASE_CONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_DATABASE_MISSING_DATABASE_CONFIGURATION"
          }
        },
        "ACTIVE_ACTIVE_DATABASE_INVALID_THROUGHPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_DATABASE_INVALID_THROUGHPUT"
          }
        },
        "ACTIVE_ACTIVE_MISMATCH_BETWEEN_REQUEST_REGIONS_AND_SUBSCRIPTION_REGIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_MISMATCH_BETWEEN_REQUEST_REGIONS_AND_SUBSCRIPTION_REGIONS"
          }
        },
        "ACTIVE_ACTIVE_INVALID_UPDATE_DATABASE_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_INVALID_UPDATE_DATABASE_NAME"
          }
        },
        "ACTIVE_ACTIVE_INVALID_CREATE_REGION_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_INVALID_CREATE_REGION_NAME"
          }
        },
        "ACTIVE_ACTIVE_INVALID_DELETE_REGION_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_INVALID_DELETE_REGION_NAME"
          }
        },
        "ACTIVE_ACTIVE_INVALID_BACKUP_REGION_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_INVALID_BACKUP_REGION_NAME"
          }
        },
        "ACTIVE_ACTIVE_INVALID_BACKUP_STATUS_REGION_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_INVALID_BACKUP_STATUS_REGION_NAME"
          }
        },
        "ACTIVE_ACTIVE_DELETE_REGIONS_MUST_BE_DEFINED_ONCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_DELETE_REGIONS_MUST_BE_DEFINED_ONCE"
          }
        },
        "ACTIVE_ACTIVE_DELETE_SUBSCRIPTION_MUST_BE_DEPLOYED_IN_AT_LEAST_ONE_REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_DELETE_SUBSCRIPTION_MUST_BE_DEPLOYED_IN_AT_LEAST_ONE_REGION"
          }
        },
        "ACTIVE_ACTIVE_REQUEST_GENERAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_REQUEST_GENERAL_ERROR"
          }
        },
        "ACTIVE_ACTIVE_VPC_PEERING_INVALID_SOURCE_REGION_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_VPC_PEERING_INVALID_SOURCE_REGION_NAME"
          }
        },
        "ACTIVE_ACTIVE_VPC_PEERING_INVALID_AWS_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_ACTIVE_VPC_PEERING_INVALID_AWS_ACCOUNT"
          }
        },
        "ACTIVE_ACTIVE_DATABASE_RESP_VERSION_IS_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
