{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.hostinger.api#AgencyHostingListAvailableDatacentersV1Request": {
      "type": "structure",
      "members": {
        "order_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Agency Plan order ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hostinger.api#AgencyHostingV1DatacentersDatacenterCollection": {
      "type": "list",
      "member": {
        "target": "com.hostinger.api#AgencyHostingV1DatacentersDatacenterResource"
      },
      "traits": {
        "smithy.api#documentation": "Array of [`AgencyHosting.V1.Datacenters.DatacenterResource`](#model/agencyhostingv1datacentersdatacenterresource)"
      }
    },
    "com.hostinger.api#AgencyHostingV1DatacentersDatacenterResource": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Datacenter title",
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Datacenter code",
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Datacenter country code",
            "smithy.api#required": {}
          }
        },
        "coordinates": {
          "target": "com.hostinger.api#AgencyHostingV1DatacentersCoordinatesResource",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pinger_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL you can ping to measure round-trip latency to this datacenter. Compare the measured latency across datacenters to identify the nearest one (lowest ping) for your website. Null when no online server is currently available to measure against.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingV1DatacentersCoordinatesResource": {
      "type": "structure",
      "members": {
        "latitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Latitude coordinate"
          }
        },
        "longitude": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Longitude coordinate"
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingListAvailableDatacentersV1Response": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.hostinger.api#AgencyHostingV1DatacentersDatacenterCollection",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hostinger.api#AgencyHostingListAvailableDatacentersV1": {
      "type": "operation",
      "input": {
        "target": "com.hostinger.api#AgencyHostingListAvailableDatacentersV1Request"
      },
      "output": {
        "target": "com.hostinger.api#AgencyHostingListAvailableDatacentersV1Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/agency-hosting/v1/orders/{order_id}/datacenters",
          "code": 200
        },
        "smithy.api#documentation": "List available datacenters\n\nLists the datacenters available for provisioning a new website on the given Agency Plan\nhosting order.\n\nEach datacenter includes a `pinger_url` you can ping from the client to measure round-trip\nlatency; comparing the results across datacenters lets you pick the nearest one (lowest\nping) before choosing its `code` as the `datacenter_code` when creating a website setup."
      }
    },
    "com.hostinger.api#AgencyHostingChangeWebsiteDomainV1Request": {
      "type": "structure",
      "members": {
        "website_uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Agency Plan website UID"
          }
        },
        "from_domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Current domain name to change from"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New domain to assign to the website. Set to null to revert to the temporary domain.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hostinger.api#CommonSuccessEmptyResource": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingChangeWebsiteDomainV1": {
      "type": "operation",
      "input": {
        "target": "com.hostinger.api#AgencyHostingChangeWebsiteDomainV1Request"
      },
      "output": {
        "target": "com.hostinger.api#CommonSuccessEmptyResource"
      },
      "errors": [
        {
          "target": "com.hostinger.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/agency-hosting/v1/websites/{website_uid}/domains/{from_domain}",
          "code": 200
        },
        "smithy.api#documentation": "Change website domain\n\nChanges the primary domain for an Agency Plan website.\n\nProvide the current domain in the path and the new domain in the request body.\nSet domain to null to revert to the temporary domain."
      }
    },
    "com.hostinger.api#AgencyHostingLinkDomainToWebsiteV1Request": {
      "type": "structure",
      "members": {
        "website_uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Agency Plan website UID"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified domain name to link to the website",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hostinger.api#AgencyHostingLinkDomainToWebsiteV1": {
      "type": "operation",
      "input": {
        "target": "com.hostinger.api#AgencyHostingLinkDomainToWebsiteV1Request"
      },
      "output": {
        "target": "com.hostinger.api#CommonSuccessEmptyResource"
      },
      "errors": [
        {
          "target": "com.hostinger.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/agency-hosting/v1/websites/{website_uid}/domains",
          "code": 200
        },
        "smithy.api#documentation": "Link domain to website\n\nLinks a domain to the specified Agency Plan website so it can serve traffic for that domain."
      }
    },
    "com.hostinger.api#AgencyHostingListDomainsV1RequestWebsiteUuidsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingListDomainsV1Request": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number"
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "Number of items per page"
          }
        },
        "website_uuids": {
          "target": "com.hostinger.api#AgencyHostingListDomainsV1RequestWebsiteUuidsList",
          "traits": {
            "smithy.api#httpQuery": "website_uuids",
            "smithy.api#documentation": "Filter by website UIDs"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hostinger.api#AgencyHostingV1DomainsDomainCollection": {
      "type": "list",
      "member": {
        "target": "com.hostinger.api#AgencyHostingV1DomainsDomainResource"
      },
      "traits": {
        "smithy.api#documentation": "Array of [`AgencyHosting.V1.Domains.DomainResource`](#model/agencyhostingv1domainsdomainresource)"
      }
    },
    "com.hostinger.api#AgencyHostingV1DomainsDomainResource": {
      "type": "structure",
      "members": {
        "fqdn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain name"
          }
        },
        "website_uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Owner website UID"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date"
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#CommonSchemaPaginationMetaSchema": {
      "type": "structure",
      "members": {
        "current_page": {
          "target": "smithy.api#Integer"
        },
        "per_page": {
          "target": "smithy.api#Integer"
        },
        "total": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingListDomainsV1Response": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.hostinger.api#AgencyHostingV1DomainsDomainCollection"
        },
        "meta": {
          "target": "com.hostinger.api#CommonSchemaPaginationMetaSchema"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hostinger.api#AgencyHostingListDomainsV1": {
      "type": "operation",
      "input": {
        "target": "com.hostinger.api#AgencyHostingListDomainsV1Request"
      },
      "output": {
        "target": "com.hostinger.api#AgencyHostingListDomainsV1Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/agency-hosting/v1/domains",
          "code": 200
        },
        "smithy.api#documentation": "List domains\n\nReturns a paginated list of domains associated with Agency Plan websites accessible to the authenticated client.\n\nUse the website_uuids filter to narrow results to specific websites."
      }
    },
    "com.hostinger.api#AgencyHostingUnlinkDomainFromWebsiteV1Request": {
      "type": "structure",
      "members": {
        "website_uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Agency Plan website UID"
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Domain name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hostinger.api#AgencyHostingUnlinkDomainFromWebsiteV1": {
      "type": "operation",
      "input": {
        "target": "com.hostinger.api#AgencyHostingUnlinkDomainFromWebsiteV1Request"
      },
      "output": {
        "target": "com.hostinger.api#CommonSuccessEmptyResource"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/agency-hosting/v1/websites/{website_uid}/domains/{domain}",
          "code": 200
        },
        "smithy.api#documentation": "Unlink domain from website\n\nUnlinks a domain from the specified Agency Plan website.\n\nThe website stops serving traffic on this domain immediately.\n\nWebsite files and database are preserved, and any other linked domains remain accessible.\n\nIf this is the only domain on the website, unlinking leaves the website without an accessible domain."
      }
    },
    "com.hostinger.api#AgencyHostingGenerateUploadURLV1Request": {
      "type": "structure",
      "members": {
        "website_uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Agency Plan website UID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hostinger.api#AgencyHostingV1FilesUploadUrlResource": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The TUS upload endpoint URL to send upload requests to",
            "smithy.api#required": {}
          }
        },
        "auth_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Authentication token to pass as the `X-Auth` header in TUS upload requests",
            "smithy.api#required": {}
          }
        },
        "rest_auth_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Authentication token to pass as the `X-Auth-Rest` header in TUS upload requests",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingGenerateUploadURLV1": {
      "type": "operation",
      "input": {
        "target": "com.hostinger.api#AgencyHostingGenerateUploadURLV1Request"
      },
      "output": {
        "target": "com.hostinger.api#AgencyHostingV1FilesUploadUrlResource"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/agency-hosting/v1/websites/{website_uid}/files/upload-urls",
          "code": 200
        },
        "smithy.api#documentation": "Generate upload URL\n\nGenerate a file browser upload URL with authentication credentials for uploading files\nto an Agency Plan website's file storage.\n\nReturns `url`, `auth_key` and `rest_auth_key`. Use these to upload a file to the\nwebsite's file storage via the TUS resumable upload protocol (TUS 1.0.0). Send\n`X-Auth: {auth_key}` and `X-Auth-Rest: {rest_auth_key}` headers on every request below.\n\n1. Create the upload: `POST` to `{url}/{relative_file_path}?override=true` with headers\n   `upload-length: {file size in bytes}` and `upload-offset: 0`. Expect `201 Created`.\n2. Upload the file: send the file bytes to the same location (any TUS 1.0.0 client, or\n   `PATCH` requests with an `upload-offset` header tracking progress) until complete.\n\n`relative_file_path` is the destination path inside the website's file storage, e.g.\n`app.zip`.\n\nInstead of a TUS client, plain `curl` also works:\n```\nFILE=app.zip\nSIZE=$(stat -f%z \"$FILE\")   # stat -c%s on Linux\n\ncurl -i -X POST \"{url}/${FILE}?override=true\" \\\n  -H \"X-Auth: {auth_key}\" \\\n  -H \"X-Auth-Rest: {rest_auth_key}\" \\\n  -H \"Tus-Resumable: 1.0.0\" \\\n  -H \"Upload-Length: ${SIZE}\" \\\n  -H \"Upload-Offset: 0\"\n# -> 201 Created\n\ncurl -i -X PATCH \"{url}/${FILE}?override=true\" \\\n  -H \"X-Auth: {auth_key}\" \\\n  -H \"X-Auth-Rest: {rest_auth_key}\" \\\n  -H \"Tus-Resumable: 1.0.0\" \\\n  -H \"Content-Type: application/offset+octet-stream\" \\\n  -H \"Upload-Offset: 0\" \\\n  --data-binary \"@${FILE}\"\n# -> 204 No Content, Upload-Offset response header equals SIZE when done\n```"
      }
    },
    "com.hostinger.api#AgencyHostingImportWebsiteFromArchiveV1Request": {
      "type": "structure",
      "members": {
        "website_uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Agency Plan website UID"
          }
        },
        "archive_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Archive filename (e.g., archive.zip). The file must already be uploaded to the website's .h5g/ directory.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hostinger.api#AgencyHostingImportWebsiteFromArchiveV1": {
      "type": "operation",
      "input": {
        "target": "com.hostinger.api#AgencyHostingImportWebsiteFromArchiveV1Request"
      },
      "output": {
        "target": "com.hostinger.api#CommonSuccessEmptyResource"
      },
      "errors": [
        {
          "target": "com.hostinger.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/agency-hosting/v1/websites/{website_uid}/files/import-archive",
          "code": 200
        },
        "smithy.api#documentation": "Import website from archive\n\nImports an Agency Plan website from an already-uploaded archive.\n\nUpload the archive to the website's root directory via file browser first, then provide its\nfilename in this request. Website contents are overwritten by the archive contents. Supported\narchive types: .zip, .tar, .tar.gz, .tgz."
      }
    },
    "com.hostinger.api#AgencyHostingListAgencyPlanOrderDiskUsageMetricsV1RequestTimeFrameDays": {
      "type": "intEnum",
      "members": {
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        },
        "_7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 7
          }
        },
        "_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 14
          }
        },
        "_30": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 30
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingListAgencyPlanOrderDiskUsageMetricsV1Request": {
      "type": "structure",
      "members": {
        "order_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Agency Plan order ID"
          }
        },
        "time_frame_days": {
          "target": "com.hostinger.api#AgencyHostingListAgencyPlanOrderDiskUsageMetricsV1RequestTimeFrameDays",
          "traits": {
            "smithy.api#httpQuery": "time_frame_days",
            "smithy.api#documentation": "Length of the window in days, ending now. Bucket size grows with the window."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hostinger.api#AgencyHostingV1OrdersDiskUsageMetricsMetricsResource": {
      "type": "structure",
      "members": {
        "limits": {
          "target": "com.hostinger.api#AgencyHostingV1OrdersDiskUsageMetricsLimitsResource"
        },
        "metrics": {
          "target": "com.hostinger.api#AgencyHostingV1OrdersDiskUsageMetricsMetricCollection"
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingV1OrdersDiskUsageMetricsLimitsResource": {
      "type": "structure",
      "members": {
        "disk_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Disk usage quota in bytes"
          }
        },
        "inodes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Inodes quota"
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingV1OrdersDiskUsageMetricsMetricCollection": {
      "type": "list",
      "member": {
        "target": "com.hostinger.api#AgencyHostingV1OrdersDiskUsageMetricsMetricResource"
      },
      "traits": {
        "smithy.api#documentation": "Array of [`AgencyHosting.V1.Orders.DiskUsageMetrics.MetricResource`](#model/agencyhostingv1ordersdiskusagemetricsmetricresource)"
      }
    },
    "com.hostinger.api#AgencyHostingV1OrdersDiskUsageMetricsMetricResource": {
      "type": "structure",
      "members": {
        "disk_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Disk usage in bytes at this sample"
          }
        },
        "inodes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of inodes used at this sample"
          }
        },
        "timestamp": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp of the sample"
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingListAgencyPlanOrderDiskUsageMetricsV1": {
      "type": "operation",
      "input": {
        "target": "com.hostinger.api#AgencyHostingListAgencyPlanOrderDiskUsageMetricsV1Request"
      },
      "output": {
        "target": "com.hostinger.api#AgencyHostingV1OrdersDiskUsageMetricsMetricsResource"
      },
      "errors": [
        {
          "target": "com.hostinger.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/agency-hosting/v1/orders/{order_id}/disk-usage-metrics",
          "code": 200
        },
        "smithy.api#documentation": "List Agency Plan order disk usage metrics\n\nReturns aggregated disk and inode usage for the Agency Plan order over the\nselected time frame, plus the plan quotas. Figures cover the whole order\naccount. Values may be up to one hour stale. CPU, memory, and process usage\nare on the resource-usage-metrics endpoint."
      }
    },
    "com.hostinger.api#AgencyHostingListOrdersV1Request": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number"
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "Number of items per page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hostinger.api#AgencyHostingV1OrdersOrderCollection": {
      "type": "list",
      "member": {
        "target": "com.hostinger.api#AgencyHostingV1OrdersOrderResource"
      },
      "traits": {
        "smithy.api#documentation": "Array of [`AgencyHosting.V1.Orders.OrderResource`](#model/agencyhostingv1ordersorderresource)"
      }
    },
    "com.hostinger.api#AgencyHostingV1OrdersOrderResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Order ID"
          }
        },
        "client_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Order client ID"
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Order status",
            "com.distilled.openapi#nullable": {}
          }
        },
        "plan": {
          "target": "com.hostinger.api#AgencyHostingV1OrdersPlanResource"
        },
        "datacenter": {
          "target": "com.hostinger.api#AgencyHostingV1OrdersDatacenterResource",
          "traits": {
            "smithy.api#documentation": "Order datacenter",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Order creation date"
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingV1OrdersPlanResource": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plan display name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plan key",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingV1OrdersDatacenterResource": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Datacenter code"
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Datacenter country"
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingListOrdersV1Response": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.hostinger.api#AgencyHostingV1OrdersOrderCollection"
        },
        "meta": {
          "target": "com.hostinger.api#CommonSchemaPaginationMetaSchema"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hostinger.api#AgencyHostingListOrdersV1": {
      "type": "operation",
      "input": {
        "target": "com.hostinger.api#AgencyHostingListOrdersV1Request"
      },
      "output": {
        "target": "com.hostinger.api#AgencyHostingListOrdersV1Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/agency-hosting/v1/orders",
          "code": 200
        },
        "smithy.api#documentation": "List orders\n\nReturns a paginated list of Agency Plan orders accessible to the authenticated client."
      }
    },
    "com.hostinger.api#AgencyHostingListOrderResourceUsageMetricsV1RequestTimeFrameHours": {
      "type": "intEnum",
      "members": {
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        },
        "_24": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 24
          }
        },
        "_168": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 168
          }
        },
        "_336": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 336
          }
        },
        "_720": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 720
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingListOrderResourceUsageMetricsV1Request": {
      "type": "structure",
      "members": {
        "order_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Agency Plan order ID"
          }
        },
        "time_frame_hours": {
          "target": "com.hostinger.api#AgencyHostingListOrderResourceUsageMetricsV1RequestTimeFrameHours",
          "traits": {
            "smithy.api#httpQuery": "time_frame_hours",
            "smithy.api#documentation": "Length of the window in hours, ending now. Bucket size grows with the window."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hostinger.api#AgencyHostingV1OrdersResourceUsageMetricsMetricsResource": {
      "type": "structure",
      "members": {
        "limits": {
          "target": "com.hostinger.api#AgencyHostingV1OrdersResourceUsageMetricsLimitsResource"
        },
        "metrics": {
          "target": "com.hostinger.api#AgencyHostingV1OrdersResourceUsageMetricsMetricCollection"
        },
        "websites": {
          "target": "com.hostinger.api#AgencyHostingV1OrdersResourceUsageMetricsWebsiteCollection"
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingV1OrdersResourceUsageMetricsLimitsResource": {
      "type": "structure",
      "members": {
        "memory_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Memory usage quota in bytes"
          }
        },
        "cpu_percent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "CPU usage quota in percent"
          }
        },
        "processes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Process usage quota"
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingV1OrdersResourceUsageMetricsMetricCollection": {
      "type": "list",
      "member": {
        "target": "com.hostinger.api#AgencyHostingV1OrdersResourceUsageMetricsMetricResource"
      },
      "traits": {
        "smithy.api#documentation": "Array of [`AgencyHosting.V1.Orders.ResourceUsageMetrics.MetricResource`](#model/agencyhostingv1ordersresourceusagemetricsmetricresource)"
      }
    },
    "com.hostinger.api#AgencyHostingV1OrdersResourceUsageMetricsMetricResource": {
      "type": "structure",
      "members": {
        "cpu_percent": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "CPU usage percentage at this sample"
          }
        },
        "memory_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Memory usage in bytes at this sample"
          }
        },
        "processes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of processes at this sample"
          }
        },
        "timestamp": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unix timestamp of the sample"
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingV1OrdersResourceUsageMetricsWebsiteCollection": {
      "type": "list",
      "member": {
        "target": "com.hostinger.api#AgencyHostingV1OrdersResourceUsageMetricsWebsiteResource"
      },
      "traits": {
        "smithy.api#documentation": "Array of [`AgencyHosting.V1.Orders.ResourceUsageMetrics.WebsiteResource`](#model/agencyhostingv1ordersresourceusagemetricswebsiteresource)"
      }
    },
    "com.hostinger.api#AgencyHostingV1OrdersResourceUsageMetricsWebsiteResource": {
      "type": "structure",
      "members": {
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Website UID"
          }
        },
        "domains": {
          "target": "com.hostinger.api#AgencyHostingV1OrdersResourceUsageMetricsWebsiteResourceDomainsList",
          "traits": {
            "smithy.api#documentation": "Domains associated with the website"
          }
        },
        "metrics": {
          "target": "com.hostinger.api#AgencyHostingV1OrdersResourceUsageMetricsMetricCollection"
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingV1OrdersResourceUsageMetricsWebsiteResourceDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Domains associated with the website"
      }
    },
    "com.hostinger.api#AgencyHostingListOrderResourceUsageMetricsV1": {
      "type": "operation",
      "input": {
        "target": "com.hostinger.api#AgencyHostingListOrderResourceUsageMetricsV1Request"
      },
      "output": {
        "target": "com.hostinger.api#AgencyHostingV1OrdersResourceUsageMetricsMetricsResource"
      },
      "errors": [
        {
          "target": "com.hostinger.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/agency-hosting/v1/orders/{order_id}/resource-usage-metrics",
          "code": 200
        },
        "smithy.api#documentation": "List order resource usage metrics\n\nReturns aggregated CPU, memory, and process usage for the Agency Plan order\nover the selected time frame, plus the plan quotas and a per-website\nbreakdown. Each website is identified by uid. Suspended and deleted websites\nare excluded from both the order totals and the per-website breakdown.\nValues may be up to one hour stale. Disk and inode usage are on the\ndisk-usage-metrics endpoint."
      }
    },
    "com.hostinger.api#AgencyHostingListPHPExtensionsForAWebsiteV1Request": {
      "type": "structure",
      "members": {
        "website_uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Agency Plan website UID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hostinger.api#AgencyHostingV1PhpExtensionCollection": {
      "type": "list",
      "member": {
        "target": "com.hostinger.api#AgencyHostingV1PhpExtensionResource"
      },
      "traits": {
        "smithy.api#documentation": "Array of [`AgencyHosting.V1.Php.ExtensionResource`](#model/agencyhostingv1phpextensionresource)"
      }
    },
    "com.hostinger.api#AgencyHostingV1PhpExtensionResource": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PHP extension name."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What the extension provides."
          }
        },
        "state": {
          "target": "com.hostinger.api#AgencyHostingV1PhpExtensionResourceState",
          "traits": {
            "smithy.api#documentation": "Whether the extension is currently enabled. Extensions in the \"built-in\" state are compiled into PHP and cannot be turned off."
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingV1PhpExtensionResourceState": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "BUILT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "built-in"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether the extension is currently enabled. Extensions in the \"built-in\" state are compiled into PHP and cannot be turned off."
      }
    },
    "com.hostinger.api#AgencyHostingListPHPExtensionsForAWebsiteV1Response": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.hostinger.api#AgencyHostingV1PhpExtensionCollection",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hostinger.api#AgencyHostingListPHPExtensionsForAWebsiteV1": {
      "type": "operation",
      "input": {
        "target": "com.hostinger.api#AgencyHostingListPHPExtensionsForAWebsiteV1Request"
      },
      "output": {
        "target": "com.hostinger.api#AgencyHostingListPHPExtensionsForAWebsiteV1Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/agency-hosting/v1/websites/{website_uid}/php-settings/extensions",
          "code": 200
        },
        "smithy.api#documentation": "List PHP extensions for a website\n\nLists every PHP extension available to an Agency Plan website and whether it is currently enabled."
      }
    },
    "com.hostinger.api#AgencyHostingReplaceWebsitePHPExtensionsV1RequestExtensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Extension names, exactly as returned by the extensions endpoint."
      }
    },
    "com.hostinger.api#AgencyHostingReplaceWebsitePHPExtensionsV1Request": {
      "type": "structure",
      "members": {
        "website_uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Agency Plan website UID"
          }
        },
        "extensions": {
          "target": "com.hostinger.api#AgencyHostingReplaceWebsitePHPExtensionsV1RequestExtensionsList",
          "traits": {
            "smithy.api#documentation": "Extension names, exactly as returned by the extensions endpoint.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hostinger.api#AgencyHostingReplaceWebsitePHPExtensionsV1": {
      "type": "operation",
      "input": {
        "target": "com.hostinger.api#AgencyHostingReplaceWebsitePHPExtensionsV1Request"
      },
      "output": {
        "target": "com.hostinger.api#CommonSuccessEmptyResource"
      },
      "errors": [
        {
          "target": "com.hostinger.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/agency-hosting/v1/websites/{website_uid}/php-settings/extensions",
          "code": 200
        },
        "smithy.api#documentation": "Replace website PHP extensions\n\nReplaces the set of PHP extensions enabled on an Agency Plan website with the ones provided. Any toggleable extension not in the request is disabled, so call the extensions endpoint first and send the full desired set. Extensions compiled into PHP, reported with the \"built-in\" state, are always active and are unaffected."
      }
    },
    "com.hostinger.api#AgencyHostingListPHPOptionsForAWebsiteV1Request": {
      "type": "structure",
      "members": {
        "website_uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Agency Plan website UID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hostinger.api#AgencyHostingV1PhpOptionCollection": {
      "type": "list",
      "member": {
        "target": "com.hostinger.api#AgencyHostingV1PhpOptionResource"
      },
      "traits": {
        "smithy.api#documentation": "Array of [`AgencyHosting.V1.Php.OptionResource`](#model/agencyhostingv1phpoptionresource)"
      }
    },
    "com.hostinger.api#AgencyHostingV1PhpOptionResource": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "php.ini directive name."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What the directive controls."
          }
        },
        "default_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value applied when no custom value is set."
          }
        },
        "allowed_values": {
          "target": "com.hostinger.api#AgencyHostingV1PhpOptionResourceAllowedValuesList",
          "traits": {
            "smithy.api#documentation": "Values this option accepts. Null when the option accepts any value of its type.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value currently in effect for the website."
          }
        },
        "type": {
          "target": "com.hostinger.api#AgencyHostingV1PhpOptionResourceType",
          "traits": {
            "smithy.api#documentation": "Whether the option takes a single value or a list of values."
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingV1PhpOptionResourceAllowedValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Values this option accepts. Null when the option accepts any value of its type."
      }
    },
    "com.hostinger.api#AgencyHostingV1PhpOptionResourceType": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "value"
          }
        },
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "list"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether the option takes a single value or a list of values."
      }
    },
    "com.hostinger.api#AgencyHostingListPHPOptionsForAWebsiteV1Response": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.hostinger.api#AgencyHostingV1PhpOptionCollection",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hostinger.api#AgencyHostingListPHPOptionsForAWebsiteV1": {
      "type": "operation",
      "input": {
        "target": "com.hostinger.api#AgencyHostingListPHPOptionsForAWebsiteV1Request"
      },
      "output": {
        "target": "com.hostinger.api#AgencyHostingListPHPOptionsForAWebsiteV1Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/agency-hosting/v1/websites/{website_uid}/php-settings/options",
          "code": 200
        },
        "smithy.api#documentation": "List PHP options for a website\n\nLists the php.ini directives that can be configured for an Agency Plan website, each with its default, the value currently in effect, and the values it accepts."
      }
    },
    "com.hostinger.api#AgencyHostingReplaceWebsitePHPOptionsV1RequestOptionsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "php.ini directive name.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value to apply.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingReplaceWebsitePHPOptionsV1RequestOptionsList": {
      "type": "list",
      "member": {
        "target": "com.hostinger.api#AgencyHostingReplaceWebsitePHPOptionsV1RequestOptionsItem"
      },
      "traits": {
        "smithy.api#documentation": "Option names and values. Each name must be one of the options returned by the options endpoint, and each value must satisfy that option's allowed_values when it declares them."
      }
    },
    "com.hostinger.api#AgencyHostingReplaceWebsitePHPOptionsV1Request": {
      "type": "structure",
      "members": {
        "website_uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Agency Plan website UID"
          }
        },
        "options": {
          "target": "com.hostinger.api#AgencyHostingReplaceWebsitePHPOptionsV1RequestOptionsList",
          "traits": {
            "smithy.api#documentation": "Option names and values. Each name must be one of the options returned by the options endpoint, and each value must satisfy that option's allowed_values when it declares them.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hostinger.api#AgencyHostingReplaceWebsitePHPOptionsV1": {
      "type": "operation",
      "input": {
        "target": "com.hostinger.api#AgencyHostingReplaceWebsitePHPOptionsV1Request"
      },
      "output": {
        "target": "com.hostinger.api#CommonSuccessEmptyResource"
      },
      "errors": [
        {
          "target": "com.hostinger.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/agency-hosting/v1/websites/{website_uid}/php-settings/options",
          "code": 200
        },
        "smithy.api#documentation": "Replace website PHP options\n\nReplaces the custom php.ini values on an Agency Plan website with the ones provided. Any option not in the request is reset to its default, so call the options endpoint first and send the full desired set. Sending an empty array resets every option to its default."
      }
    },
    "com.hostinger.api#AgencyHostingListAvailablePHPVersionsForAnOrderV1Request": {
      "type": "structure",
      "members": {
        "order_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Agency Plan order ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hostinger.api#AgencyHostingV1PhpVersionCollection": {
      "type": "list",
      "member": {
        "target": "com.hostinger.api#AgencyHostingV1PhpVersionResource"
      },
      "traits": {
        "smithy.api#documentation": "Array of [`AgencyHosting.V1.Php.VersionResource`](#model/agencyhostingv1phpversionresource)"
      }
    },
    "com.hostinger.api#AgencyHostingV1PhpVersionResource": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PHP version available for the website."
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingListAvailablePHPVersionsForAnOrderV1Response": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.hostinger.api#AgencyHostingV1PhpVersionCollection",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hostinger.api#AgencyHostingListAvailablePHPVersionsForAnOrderV1": {
      "type": "operation",
      "input": {
        "target": "com.hostinger.api#AgencyHostingListAvailablePHPVersionsForAnOrderV1Request"
      },
      "output": {
        "target": "com.hostinger.api#AgencyHostingListAvailablePHPVersionsForAnOrderV1Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/agency-hosting/v1/orders/{order_id}/websites/php-settings/versions",
          "code": 200
        },
        "smithy.api#documentation": "List available PHP versions for an order\n\nLists the PHP versions available to websites created under an Agency Plan order, determined by the server the order is hosted on. Use this before creating a website; for a website that already exists, call the website-scoped versions endpoint instead."
      }
    },
    "com.hostinger.api#AgencyHostingListAvailablePHPVersionsForAWebsiteV1Request": {
      "type": "structure",
      "members": {
        "website_uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Agency Plan website UID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hostinger.api#AgencyHostingListAvailablePHPVersionsForAWebsiteV1Response": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.hostinger.api#AgencyHostingV1PhpVersionCollection",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hostinger.api#AgencyHostingListAvailablePHPVersionsForAWebsiteV1": {
      "type": "operation",
      "input": {
        "target": "com.hostinger.api#AgencyHostingListAvailablePHPVersionsForAWebsiteV1Request"
      },
      "output": {
        "target": "com.hostinger.api#AgencyHostingListAvailablePHPVersionsForAWebsiteV1Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/agency-hosting/v1/websites/{website_uid}/php-settings/versions",
          "code": 200
        },
        "smithy.api#documentation": "List available PHP versions for a website\n\nLists the PHP versions an Agency Plan website can be switched to. The version the website is currently running is returned as settings.php.version by the website details endpoint."
      }
    },
    "com.hostinger.api#AgencyHostingUpdateWebsitePHPVersionV1Request": {
      "type": "structure",
      "members": {
        "website_uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Agency Plan website UID"
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PHP version to switch the website to, as major.minor. Must be one of the versions returned by the available versions endpoint.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hostinger.api#AgencyHostingUpdateWebsitePHPVersionV1": {
      "type": "operation",
      "input": {
        "target": "com.hostinger.api#AgencyHostingUpdateWebsitePHPVersionV1Request"
      },
      "output": {
        "target": "com.hostinger.api#CommonSuccessEmptyResource"
      },
      "errors": [
        {
          "target": "com.hostinger.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/agency-hosting/v1/websites/{website_uid}/php-settings/version",
          "code": 200
        },
        "smithy.api#documentation": "Update website PHP version\n\nSwitches an Agency Plan website to a different PHP version. Call the available versions endpoint first to see which versions can be selected. The website restarts on the new version, so requests served during the switch may fail and code that is incompatible with the target version will break."
      }
    },
    "com.hostinger.api#AgencyHostingCreateANewWebsiteV1RequestSettingsPhp": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PHP version",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingCreateANewWebsiteV1RequestSettings": {
      "type": "structure",
      "members": {
        "php": {
          "target": "com.hostinger.api#AgencyHostingCreateANewWebsiteV1RequestSettingsPhp",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Website settings"
      }
    },
    "com.hostinger.api#AgencyHostingCreateANewWebsiteV1RequestType": {
      "type": "enum",
      "members": {
        "HORIZONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "horizons"
          }
        },
        "NODE_STATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "node-static"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Website type"
      }
    },
    "com.hostinger.api#AgencyHostingCreateANewWebsiteV1RequestWordpressAdmin": {
      "type": "structure",
      "members": {
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingCreateANewWebsiteV1RequestWordpress": {
      "type": "structure",
      "members": {
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "admin": {
          "target": "com.hostinger.api#AgencyHostingCreateANewWebsiteV1RequestWordpressAdmin",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "WordPress installation options"
      }
    },
    "com.hostinger.api#AgencyHostingCreateANewWebsiteV1RequestClone": {
      "type": "structure",
      "members": {
        "website_uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Clone the new website from an existing website"
      }
    },
    "com.hostinger.api#AgencyHostingCreateANewWebsiteV1RequestDeriveDomainFromVhost": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "vhost": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingCreateANewWebsiteV1RequestDeriveDomain": {
      "type": "structure",
      "members": {
        "from_vhost": {
          "target": "com.hostinger.api#AgencyHostingCreateANewWebsiteV1RequestDeriveDomainFromVhost",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Derive the domain from an existing vhost"
      }
    },
    "com.hostinger.api#AgencyHostingCreateANewWebsiteV1Request": {
      "type": "structure",
      "members": {
        "order_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Agency Plan order ID"
          }
        },
        "datacenter_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Datacenter code where the website should be provisioned. Available codes depend on live capacity and are not a fixed set.",
            "smithy.api#required": {}
          }
        },
        "flavor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Setup flavor: a specific WordPress version in the format `wp-<major>.<minor>` or `wp-<major>.<minor>.<patch>` (e.g. `wp-6.8.2`), or `php-fpm` for a plain PHP stack. Generic versions like `wp-latest` are not allowed.",
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.hostinger.api#AgencyHostingCreateANewWebsiteV1RequestSettings",
          "traits": {
            "smithy.api#documentation": "Website settings",
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Primary domain to attach to the website. Omit or set to null to get a free auto-generated *.hostingersite.com subdomain instead.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.hostinger.api#AgencyHostingCreateANewWebsiteV1RequestType",
          "traits": {
            "smithy.api#documentation": "Website type",
            "com.distilled.openapi#nullable": {}
          }
        },
        "wordpress": {
          "target": "com.hostinger.api#AgencyHostingCreateANewWebsiteV1RequestWordpress",
          "traits": {
            "smithy.api#documentation": "WordPress installation options"
          }
        },
        "clone": {
          "target": "com.hostinger.api#AgencyHostingCreateANewWebsiteV1RequestClone",
          "traits": {
            "smithy.api#documentation": "Clone the new website from an existing website"
          }
        },
        "derive_domain": {
          "target": "com.hostinger.api#AgencyHostingCreateANewWebsiteV1RequestDeriveDomain",
          "traits": {
            "smithy.api#documentation": "Derive the domain from an existing vhost"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hostinger.api#AgencyHostingV1SetupsWebsiteSetupResource": {
      "type": "structure",
      "members": {
        "setup_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID tracking the asynchronous website setup process"
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingCreateANewWebsiteV1": {
      "type": "operation",
      "input": {
        "target": "com.hostinger.api#AgencyHostingCreateANewWebsiteV1Request"
      },
      "output": {
        "target": "com.hostinger.api#AgencyHostingV1SetupsWebsiteSetupResource"
      },
      "errors": [
        {
          "target": "com.hostinger.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/agency-hosting/v1/orders/{order_id}/websites/setups",
          "code": 200
        },
        "smithy.api#documentation": "Create a new website\n\nProvisions a new website on one of your Agency Plan hosting orders.\n\nChoose the datacenter, stack (`flavor`), and PHP version for the site. Optionally attach\nyour own `domain` — omit it, set it to `null`, or leave it unavailable and a free\n`*.hostingersite.com` subdomain is generated instead — and/or install WordPress by\nsupplying the `wordpress` details (admin account, site title, and language).\n\nCommon setups:\n- **Plain PHP site**: `flavor` set to `php-fpm`, with `settings.php.version`; omit\n  `wordpress` and `type`.\n- **WordPress site**: `flavor` set to the desired WordPress version (e.g. `wp-7.0`), plus\n  the `wordpress` block (admin account, title, language).\n- **Static/Node.js frontend app**: `flavor` set to `php-fpm` and `type` set to\n  `node-static`.\n\nProvisioning runs in the background, so the response returns immediately with a setup UUID\nthat identifies the job. The new website becomes reachable once provisioning finishes."
      }
    },
    "com.hostinger.api#AgencyHostingGetWebsiteSetupStatusV1Request": {
      "type": "structure",
      "members": {
        "order_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Agency Plan order ID"
          }
        },
        "setup_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Website setup UUID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hostinger.api#AgencyHostingV1SetupsWebsiteSetupStatusResource": {
      "type": "structure",
      "members": {
        "website_uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UID of the website created by the setup, available once provisioning completes",
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.hostinger.api#AgencyHostingV1SetupsWebsiteSetupStatusResourceStatus",
          "traits": {
            "smithy.api#documentation": "Website setup status"
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingV1SetupsWebsiteSetupStatusResourceStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Website setup status"
      }
    },
    "com.hostinger.api#AgencyHostingGetWebsiteSetupStatusV1": {
      "type": "operation",
      "input": {
        "target": "com.hostinger.api#AgencyHostingGetWebsiteSetupStatusV1Request"
      },
      "output": {
        "target": "com.hostinger.api#AgencyHostingV1SetupsWebsiteSetupStatusResource"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/agency-hosting/v1/orders/{order_id}/websites/setups/{setup_uuid}",
          "code": 200
        },
        "smithy.api#documentation": "Get website setup status\n\nReturns the current status of an Agency Plan website setup started via the setups\nendpoint.\n\nPoll this endpoint using the `setup_uuid` returned from the provisioning request until\n`status` becomes `completed`, at which point `website_uid` identifies the new website."
      }
    },
    "com.hostinger.api#AgencyHostingBuildWebsiteNodeJSAssetsV1Request": {
      "type": "structure",
      "members": {
        "website_uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Agency Plan website UID"
          }
        },
        "archive_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Directory, relative to the website document root, where the uploaded site archive currently lives. Most commonly this is simply `public_html`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hostinger.api#AgencyHostingBuildWebsiteNodeJSAssetsV1": {
      "type": "operation",
      "input": {
        "target": "com.hostinger.api#AgencyHostingBuildWebsiteNodeJSAssetsV1Request"
      },
      "output": {
        "target": "com.hostinger.api#CommonSuccessEmptyResource"
      },
      "errors": [
        {
          "target": "com.hostinger.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/agency-hosting/v1/websites/{website_uid}/build-assets",
          "code": 200
        },
        "smithy.api#documentation": "Build website NodeJS assets\n\nBuilds and deploys a Node.js application for an Agency Plan website from an already-uploaded archive.\n\nUpload the archive to file browser first, then provide its relative path from document root in this request.\nWebsite contents are overwritten by the build result, which is deployed to public_html."
      }
    },
    "com.hostinger.api#AgencyHostingClearWebsiteCacheV1Request": {
      "type": "structure",
      "members": {
        "website_uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Agency Plan website UID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hostinger.api#AgencyHostingClearWebsiteCacheV1": {
      "type": "operation",
      "input": {
        "target": "com.hostinger.api#AgencyHostingClearWebsiteCacheV1Request"
      },
      "output": {
        "target": "com.hostinger.api#CommonSuccessEmptyResource"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/agency-hosting/v1/websites/{website_uid}/cache",
          "code": 200
        },
        "smithy.api#documentation": "Clear website cache\n\nClears cache for all domains associated with an Agency Plan website, including its preview domain.\n\nThis operation clears all cache types for the website."
      }
    },
    "com.hostinger.api#AgencyHostingListWebsiteCronJobsV1Request": {
      "type": "structure",
      "members": {
        "website_uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Agency Plan website UID"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number"
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "Number of items per page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hostinger.api#AgencyHostingV1WebsitesCronJobsCronJobCollection": {
      "type": "list",
      "member": {
        "target": "com.hostinger.api#AgencyHostingV1WebsitesCronJobsCronJobResource"
      },
      "traits": {
        "smithy.api#documentation": "Array of [`AgencyHosting.V1.Websites.CronJobs.CronJobResource`](#model/agencyhostingv1websitescronjobscronjobresource)"
      }
    },
    "com.hostinger.api#AgencyHostingV1WebsitesCronJobsCronJobResource": {
      "type": "structure",
      "members": {
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the cron job. Use it to delete the cron job."
          }
        },
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cron schedule expression."
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command executed on the configured schedule."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cron job creation timestamp."
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingListWebsiteCronJobsV1Response": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.hostinger.api#AgencyHostingV1WebsitesCronJobsCronJobCollection"
        },
        "meta": {
          "target": "com.hostinger.api#CommonSchemaPaginationMetaSchema"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hostinger.api#AgencyHostingListWebsiteCronJobsV1": {
      "type": "operation",
      "input": {
        "target": "com.hostinger.api#AgencyHostingListWebsiteCronJobsV1Request"
      },
      "output": {
        "target": "com.hostinger.api#AgencyHostingListWebsiteCronJobsV1Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/agency-hosting/v1/websites/{website_uid}/cron-jobs",
          "code": 200
        },
        "smithy.api#documentation": "List website cron jobs\n\nReturns a paginated list of cron jobs configured for an Agency Plan website.\n\nEach entry includes the schedule expression and the command executed on that schedule."
      }
    },
    "com.hostinger.api#AgencyHostingCreateWebsiteCronJobV1Request": {
      "type": "structure",
      "members": {
        "website_uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Agency Plan website UID"
          }
        },
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cron schedule expression (standard 5-field crontab syntax).",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Command to run on the schedule. Must not contain pipe (|) or redirection (<, >) characters.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hostinger.api#AgencyHostingCreateWebsiteCronJobV1": {
      "type": "operation",
      "input": {
        "target": "com.hostinger.api#AgencyHostingCreateWebsiteCronJobV1Request"
      },
      "output": {
        "target": "com.hostinger.api#AgencyHostingV1WebsitesCronJobsCronJobResource"
      },
      "errors": [
        {
          "target": "com.hostinger.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/agency-hosting/v1/websites/{website_uid}/cron-jobs",
          "code": 200
        },
        "smithy.api#documentation": "Create website cron job\n\nCreates a cron job for an Agency Plan website from a schedule expression and a command.\n\nReturns the created cron job, including its uuid, which is required to delete the cron job."
      }
    },
    "com.hostinger.api#AgencyHostingDeleteWebsiteCronJobV1Request": {
      "type": "structure",
      "members": {
        "website_uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Agency Plan website UID"
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique identifier of the cron job as returned by the list cron jobs endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hostinger.api#AgencyHostingDeleteWebsiteCronJobV1": {
      "type": "operation",
      "input": {
        "target": "com.hostinger.api#AgencyHostingDeleteWebsiteCronJobV1Request"
      },
      "output": {
        "target": "com.hostinger.api#CommonSuccessEmptyResource"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/agency-hosting/v1/websites/{website_uid}/cron-jobs/{uuid}",
          "code": 200
        },
        "smithy.api#documentation": "Delete website cron job\n\nPermanently deletes the cron job identified by its uuid from an Agency Plan website.\n\nThe operation is idempotent: deleting a cron job that does not exist succeeds without error."
      }
    },
    "com.hostinger.api#AgencyHostingListWebsiteDatabasesV1Request": {
      "type": "structure",
      "members": {
        "website_uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Agency Plan website UID"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number"
          }
        },
        "per_page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "per_page",
            "smithy.api#documentation": "Number of items per page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hostinger.api#AgencyHostingV1WebsitesDatabasesDatabaseCollection": {
      "type": "list",
      "member": {
        "target": "com.hostinger.api#AgencyHostingV1WebsitesDatabasesDatabaseResource"
      },
      "traits": {
        "smithy.api#documentation": "Array of [`AgencyHosting.V1.Websites.Databases.DatabaseResource`](#model/agencyhostingv1websitesdatabasesdatabaseresource)"
      }
    },
    "com.hostinger.api#AgencyHostingV1WebsitesDatabasesDatabaseResource": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Database name."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Database creation date in ISO 8601 format."
          }
        },
        "users": {
          "target": "com.hostinger.api#AgencyHostingV1WebsitesDatabasesDatabaseResourceUsersList",
          "traits": {
            "smithy.api#documentation": "Non-system users that can access the database."
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingV1WebsitesDatabasesDatabaseUserResource": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Database username."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Database host the user is allowed to connect from."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Database user creation date in ISO 8601 format."
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingV1WebsitesDatabasesDatabaseResourceUsersList": {
      "type": "list",
      "member": {
        "target": "com.hostinger.api#AgencyHostingV1WebsitesDatabasesDatabaseUserResource"
      },
      "traits": {
        "smithy.api#documentation": "Non-system users that can access the database."
      }
    },
    "com.hostinger.api#AgencyHostingListWebsiteDatabasesV1Response": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.hostinger.api#AgencyHostingV1WebsitesDatabasesDatabaseCollection"
        },
        "meta": {
          "target": "com.hostinger.api#CommonSchemaPaginationMetaSchema"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.hostinger.api#AgencyHostingListWebsiteDatabasesV1": {
      "type": "operation",
      "input": {
        "target": "com.hostinger.api#AgencyHostingListWebsiteDatabasesV1Request"
      },
      "output": {
        "target": "com.hostinger.api#AgencyHostingListWebsiteDatabasesV1Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/agency-hosting/v1/websites/{website_uid}/databases",
          "code": 200
        },
        "smithy.api#documentation": "List website databases\n\nReturns a paginated list of MySQL databases created for an Agency Plan website.\n\nEach entry includes the database's non-system users."
      }
    },
    "com.hostinger.api#AgencyHostingCreateWebsiteDatabaseV1Request": {
      "type": "structure",
      "members": {
        "website_uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Agency Plan website UID"
          }
        },
        "database_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Database name to create (alphanumeric characters).",
            "smithy.api#required": {}
          }
        },
        "database_user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Database username to create alongside the database (alphanumeric characters).",
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Password for the database user (requires mixed case, letters, and numbers).",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hostinger.api#AgencyHostingCreateWebsiteDatabaseV1": {
      "type": "operation",
      "input": {
        "target": "com.hostinger.api#AgencyHostingCreateWebsiteDatabaseV1Request"
      },
      "output": {
        "target": "com.hostinger.api#AgencyHostingV1WebsitesDatabasesDatabaseResource"
      },
      "errors": [
        {
          "target": "com.hostinger.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/agency-hosting/v1/websites/{website_uid}/databases",
          "code": 200
        },
        "smithy.api#documentation": "Create website database\n\nCreates a MySQL database with a dedicated user for an Agency Plan website.\n\nThe database name, username, and password must all be provided by the caller."
      }
    },
    "com.hostinger.api#AgencyHostingDeleteWebsiteDatabaseV1Request": {
      "type": "structure",
      "members": {
        "website_uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Agency Plan website UID"
          }
        },
        "database_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Full database name as returned by the list databases endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hostinger.api#AgencyHostingDeleteWebsiteDatabaseV1": {
      "type": "operation",
      "input": {
        "target": "com.hostinger.api#AgencyHostingDeleteWebsiteDatabaseV1Request"
      },
      "output": {
        "target": "com.hostinger.api#CommonSuccessEmptyResource"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/agency-hosting/v1/websites/{website_uid}/databases/{database_name}",
          "code": 200
        },
        "smithy.api#documentation": "Delete website database\n\nPermanently deletes a MySQL database and all its data from an Agency Plan website, including its users.\n\nThe operation is idempotent: deleting a database that does not exist succeeds without error."
      }
    },
    "com.hostinger.api#AgencyHostingCreateWebsiteDatabaseUserV1Request": {
      "type": "structure",
      "members": {
        "website_uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Agency Plan website UID"
          }
        },
        "database_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Full database name as returned by the list databases endpoint."
          }
        },
        "database_user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Database username to create (alphanumeric and underscores).",
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Password for the database user (requires mixed case, letters, and numbers).",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Host the user connects from (IPv4, IPv6, % wildcard, or localhost). Defaults to localhost.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hostinger.api#AgencyHostingCreateWebsiteDatabaseUserV1": {
      "type": "operation",
      "input": {
        "target": "com.hostinger.api#AgencyHostingCreateWebsiteDatabaseUserV1Request"
      },
      "output": {
        "target": "com.hostinger.api#AgencyHostingV1WebsitesDatabasesDatabaseUserResource"
      },
      "errors": [
        {
          "target": "com.hostinger.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/agency-hosting/v1/websites/{website_uid}/databases/{database_name}/users",
          "code": 200
        },
        "smithy.api#documentation": "Create website database user\n\nCreates a user for an existing database on an Agency Plan website.\n\nEach database supports a single non-system user; creating a user for a database that already has one fails."
      }
    },
    "com.hostinger.api#AgencyHostingDeleteWebsiteDatabaseUserV1Request": {
      "type": "structure",
      "members": {
        "website_uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Agency Plan website UID"
          }
        },
        "database_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Full database name as returned by the list databases endpoint."
          }
        },
        "database_user_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Database username as returned by the list databases endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hostinger.api#AgencyHostingDeleteWebsiteDatabaseUserV1": {
      "type": "operation",
      "input": {
        "target": "com.hostinger.api#AgencyHostingDeleteWebsiteDatabaseUserV1Request"
      },
      "output": {
        "target": "com.hostinger.api#CommonSuccessEmptyResource"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/agency-hosting/v1/websites/{website_uid}/databases/{database_name}/users/{database_user_name}",
          "code": 200
        },
        "smithy.api#documentation": "Delete website database user\n\nPermanently deletes a database user from an Agency Plan website database, revoking all access it had.\n\nThe operation is idempotent: deleting a user that does not exist succeeds without error."
      }
    },
    "com.hostinger.api#AgencyHostingGetWebsiteDetailsV1Request": {
      "type": "structure",
      "members": {
        "website_uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Agency Plan website UID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.hostinger.api#AgencyHostingV1WebsitesWebsiteResource": {
      "type": "structure",
      "members": {
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Website UID"
          }
        },
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IPv4 address"
          }
        },
        "flavor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Setup flavor"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Website type",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description",
            "com.distilled.openapi#nullable": {}
          }
        },
        "state": {
          "target": "com.hostinger.api#AgencyHostingV1WebsitesWebsiteResourceState",
          "traits": {
            "smithy.api#documentation": "Website state"
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "domains": {
          "target": "com.hostinger.api#AgencyHostingV1WebsitesWebsiteDomainDetailsCollection"
        },
        "preview_domain": {
          "target": "com.hostinger.api#AgencyHostingV1WebsitesWebsitePreviewDomainResource",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "settings": {
          "target": "com.hostinger.api#AgencyHostingV1WebsitesWebsiteSettingsResource"
        },
        "wordpress": {
          "target": "com.hostinger.api#AgencyHostingV1WebsitesWordPressInstallResource",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "remote_access": {
          "target": "com.hostinger.api#AgencyHostingV1WebsitesWebsiteRemoteAccessResource"
        },
        "server": {
          "target": "com.hostinger.api#AgencyHostingV1WebsitesWebsiteServerResource"
        },
        "order": {
          "target": "com.hostinger.api#AgencyHostingV1WebsitesWebsiteOrderResource"
        },
        "user": {
          "target": "com.hostinger.api#AgencyHostingV1WebsitesWebsiteUserResource"
        },
        "staging_root": {
          "target": "com.hostinger.api#AgencyHostingV1WebsitesWebsiteStagingRootResource",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingV1WebsitesWebsiteResourceState": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspended"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Website state"
      }
    },
    "com.hostinger.api#AgencyHostingV1WebsitesWebsiteDomainDetailsCollection": {
      "type": "list",
      "member": {
        "target": "com.hostinger.api#AgencyHostingV1WebsitesWebsiteDomainDetailsResource"
      },
      "traits": {
        "smithy.api#documentation": "Array of [`AgencyHosting.V1.Websites.WebsiteDomainDetailsResource`](#model/agencyhostingv1websiteswebsitedomaindetailsresource)"
      }
    },
    "com.hostinger.api#AgencyHostingV1WebsitesWebsiteDomainDetailsResource": {
      "type": "structure",
      "members": {
        "fqdn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Domain name"
          }
        },
        "parent_fqdn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Parent domain name if the domain is a subdomain",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IPv6 address",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "nameservers": {
          "target": "com.hostinger.api#AgencyHostingV1WebsitesWebsiteDomainDetailsResourceNameserversList"
        },
        "ssl_cert": {
          "target": "com.hostinger.api#AgencyHostingV1WebsitesSslCertResource",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "custom_ssl_cert": {
          "target": "com.hostinger.api#AgencyHostingV1WebsitesCustomSslCertResource",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingV1WebsitesWebsiteDomainDetailsResourceNameserversList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingV1WebsitesSslCertResource": {
      "type": "structure",
      "members": {
        "names": {
          "target": "com.hostinger.api#AgencyHostingV1WebsitesSslCertResourceNamesList",
          "traits": {
            "smithy.api#documentation": "SSL cert names"
          }
        },
        "expires_at": {
          "target": "smithy.api#String"
        },
        "created_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingV1WebsitesSslCertResourceNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "SSL cert names"
      }
    },
    "com.hostinger.api#AgencyHostingV1WebsitesCustomSslCertResource": {
      "type": "structure",
      "members": {
        "is_expired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is the SSL certificate expired"
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingV1WebsitesWebsitePreviewDomainResource": {
      "type": "structure",
      "members": {
        "fqdn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Preview domain name"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date"
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingV1WebsitesWebsiteSettingsResource": {
      "type": "structure",
      "members": {
        "php": {
          "target": "com.hostinger.api#AgencyHostingV1WebsitesWebsitePhpSettingsResource",
          "traits": {
            "smithy.api#documentation": "PHP settings",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingV1WebsitesWebsitePhpSettingsResource": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PHP version"
          }
        },
        "workers": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of PHP workers"
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingV1WebsitesWordPressInstallResource": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "WordPress domain"
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "WordPress title"
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "WordPress language"
          }
        },
        "is_config_locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "WordPress configuration lock status"
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation date"
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingV1WebsitesWebsiteRemoteAccessResource": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Remote access mode"
          }
        },
        "ssh": {
          "target": "com.hostinger.api#AgencyHostingV1WebsitesWebsiteSshDetailsResource"
        },
        "sftp": {
          "target": "com.hostinger.api#AgencyHostingV1WebsitesWebsiteSftpDetailsResource"
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingV1WebsitesWebsiteSshDetailsResource": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SSH username"
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SSH host"
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "SSH port"
          }
        },
        "is_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is SSH access enabled"
          }
        },
        "is_password_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is SSH password access enabled"
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingV1WebsitesWebsiteSftpDetailsResource": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SFTP username"
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SFTP host"
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "SFTP port"
          }
        },
        "is_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is SFTP access enabled"
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingV1WebsitesWebsiteServerResource": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server hostname"
          }
        },
        "country_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Country code"
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingV1WebsitesWebsiteOrderResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Order ID"
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Order status",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "plan": {
          "target": "com.hostinger.api#AgencyHostingV1WebsitesWebsiteOrderPlanResource"
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingV1WebsitesWebsiteOrderPlanResource": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plan name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "parameters": {
          "target": "com.hostinger.api#AgencyHostingV1WebsitesWebsiteOrderPlanResourceParameters",
          "traits": {
            "smithy.api#documentation": "Plan parameters"
          }
        }
      },
      "traits": {}
    },
    "com.hostinger.api#AgencyHostingV1WebsitesWebsiteOrderPlanResourceParameters": {
      "type": "structure",
      "members": {
        "disk_quota_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Disk quota in bytes"
          }
        },
        "inode_quota": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Inode quota"
          }
        },
        "cpu_cores": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "CPU cores"
          }
        },
        "memory_quota_bytes": {
[...]
