{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.azure.adhybridhealthservice#UpdateIPAddressAggregateSettings": {
      "type": "operation",
      "input": {
        "target": "com.azure.adhybridhealthservice#UpdateIPAddressAggregateSettingsRequest"
      },
      "output": {
        "target": "com.azure.adhybridhealthservice#IPAddressAggregateSetting"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/ipAddressAggregateSettings",
          "code": 200,
          "apiVersion": "2014-01-01"
        },
        "smithy.api#documentation": "Updates the IP address aggregate settings alert thresholds.",
        "com.distilled.openapi#apiVersion": "2014-01-01"
      }
    },
    "com.azure.adhybridhealthservice#IPAddressAggregateSetting": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique ID for the entree"
          }
        },
        "badPasswordAndExtranetLockoutCombinedDailyThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "This threshold setting defines the per day trigger for a new event to be generated in the report."
          }
        },
        "badPasswordAndExtranetLockoutCombinedHourlyThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "This threshold setting defines the per hour trigger for a new event to be generated in the report."
          }
        },
        "extranetLockoutDailyThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "This threshold setting defines the per hour trigger for a new event to be generated in the report."
          }
        },
        "extranetLockoutHourlyThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "This threshold setting defines the per hour trigger for a new event to be generated in the report."
          }
        },
        "emailNotificationEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether email notification has been enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The key value pair for IP aggregate thresholds."
      }
    },
    "com.azure.adhybridhealthservice#UpdateIPAddressAggregateSettingsRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique ID for the entree"
          }
        },
        "badPasswordAndExtranetLockoutCombinedDailyThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "This threshold setting defines the per day trigger for a new event to be generated in the report."
          }
        },
        "badPasswordAndExtranetLockoutCombinedHourlyThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "This threshold setting defines the per hour trigger for a new event to be generated in the report."
          }
        },
        "extranetLockoutDailyThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "This threshold setting defines the per hour trigger for a new event to be generated in the report."
          }
        },
        "extranetLockoutHourlyThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "This threshold setting defines the per hour trigger for a new event to be generated in the report."
          }
        },
        "emailNotificationEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether email notification has been enabled."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.adhybridhealthservice#ListIPAddressAggregateSettings": {
      "type": "operation",
      "input": {
        "target": "com.azure.adhybridhealthservice#ListIPAddressAggregateSettingsRequest"
      },
      "output": {
        "target": "com.azure.adhybridhealthservice#IPAddressAggregateSetting"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/ipAddressAggregateSettings",
          "code": 200,
          "apiVersion": "2014-01-01"
        },
        "smithy.api#documentation": "Gets the IP address aggregate settings.",
        "com.distilled.openapi#apiVersion": "2014-01-01"
      }
    },
    "com.azure.adhybridhealthservice#ListIPAddressAggregateSettingsRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.adhybridhealthservice#ListIPAddressAggregatesByService": {
      "type": "operation",
      "input": {
        "target": "com.azure.adhybridhealthservice#ListIPAddressAggregatesByServiceRequest"
      },
      "output": {
        "target": "com.azure.adhybridhealthservice#IPAddressAggregates"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/ipAddressAggregates",
          "code": 200,
          "apiVersion": "2014-01-01"
        },
        "smithy.api#documentation": "Gets the IP address aggregates for a given service.",
        "com.distilled.openapi#apiVersion": "2014-01-01"
      }
    },
    "com.azure.adhybridhealthservice#IPAddressAggregates": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.adhybridhealthservice#IPAddressAggregatesValueList",
          "traits": {
            "smithy.api#documentation": "The value returned by the operation."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to get the next set of IP Aggregate list results if there are any."
          }
        },
        "totalCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of results."
          }
        },
        "continuationToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The continuation token for paginated calls."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IP address aggregates."
      }
    },
    "com.azure.adhybridhealthservice#IPAddressAggregatesValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.adhybridhealthservice#IPAddressAggregate"
      },
      "traits": {
        "smithy.api#documentation": "The value returned by the operation."
      }
    },
    "com.azure.adhybridhealthservice#IPAddressAggregate": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique ID for the entree"
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID"
          }
        },
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service ID"
          }
        },
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address from where the attempted login originated from."
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the event occurred"
          }
        },
        "firstAuditTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The first audit timestamp"
          }
        },
        "lastAuditTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last audit timestamp"
          }
        },
        "extranetLockoutErrorCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The extranet lockout error count"
          }
        },
        "badPasswordErrorCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The bad password error count"
          }
        },
        "uniqueUsernamesAttemptedCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The unique usernames attempted"
          }
        },
        "attemptCountThresholdIsExceeded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether the attempt count threshold been exceeded"
          }
        },
        "timeSpan": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The duration of the event"
          }
        },
        "isWhitelistedIpAddress": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether the IP address has been listed as allowed."
          }
        },
        "networkLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The network location"
          }
        },
        "attemptCountThresholdOnTrigger": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The attempted count threshold on trigger."
          }
        },
        "attemptThresholdTypeOnTrigger": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The attempted threshold type on trigger."
          }
        },
        "geographicLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geographic location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The key value pair for properties."
      }
    },
    "com.azure.adhybridhealthservice#ListIPAddressAggregatesByServiceRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service."
          }
        },
        "skiptoken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "skiptoken",
            "smithy.api#documentation": "A continuationtoken value returned in paginated result to load different pages."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.adhybridhealthservice#GetServiceMemberConnectorMetadata": {
      "type": "operation",
      "input": {
        "target": "com.azure.adhybridhealthservice#GetServiceMemberConnectorMetadataRequest"
      },
      "output": {
        "target": "com.azure.adhybridhealthservice#ConnectorMetadata"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/servicemembers/{serviceMemberId}/metrics/{metricName}",
          "code": 200,
          "apiVersion": "2014-01-01"
        },
        "smithy.api#documentation": "Gets the list of connectors and run profile names.",
        "com.distilled.openapi#apiVersion": "2014-01-01"
      }
    },
    "com.azure.adhybridhealthservice#ConnectorMetadata": {
      "type": "structure",
      "members": {
        "connectors": {
          "target": "com.azure.adhybridhealthservice#ConnectorMetadataConnectorsList",
          "traits": {
            "smithy.api#documentation": "The list of connectors."
          }
        },
        "runProfileNames": {
          "target": "com.azure.adhybridhealthservice#ConnectorMetadataRunProfileNamesList",
          "traits": {
            "smithy.api#documentation": "The list of run profile names."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Gets the list of connectors and run profile names."
      }
    },
    "com.azure.adhybridhealthservice#ConnectorMetadataRunProfileNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of run profile names."
      }
    },
    "com.azure.adhybridhealthservice#ConnectorMetadataConnectorsList": {
      "type": "list",
      "member": {
        "target": "com.azure.adhybridhealthservice#ConnectorMetadataDetails"
      },
      "traits": {
        "smithy.api#documentation": "The list of connectors."
      }
    },
    "com.azure.adhybridhealthservice#ConnectorMetadataDetails": {
      "type": "structure",
      "members": {
        "connectorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Connector Id."
          }
        },
        "connectorDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Connector Display Name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of the connector."
      }
    },
    "com.azure.adhybridhealthservice#GetServiceMemberConnectorMetadataRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service."
          }
        },
        "serviceMemberId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The service member id."
          }
        },
        "metricName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the metric."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.adhybridhealthservice#ServicesListCurrentRiskyIpDownloadReport": {
      "type": "operation",
      "input": {
        "target": "com.azure.adhybridhealthservice#ServicesListCurrentRiskyIpDownloadReportRequest"
      },
      "output": {
        "target": "com.azure.adhybridhealthservice#RiskyIPBlobUris"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/reports/riskyIp/generateBlobUri",
          "code": 200,
          "apiVersion": "2014-01-01"
        },
        "smithy.api#documentation": "Initiate the generation of a new Risky IP report. Returns the URI for the new one.",
        "com.distilled.openapi#apiVersion": "2014-01-01"
      }
    },
    "com.azure.adhybridhealthservice#RiskyIPBlobUris": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.adhybridhealthservice#RiskyIPBlobUrisValueList",
          "traits": {
            "smithy.api#documentation": "The list of blob uris."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list containing blob uris."
      }
    },
    "com.azure.adhybridhealthservice#RiskyIPBlobUrisValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.adhybridhealthservice#RiskyIPBlobUri"
      },
      "traits": {
        "smithy.api#documentation": "The list of blob uris."
      }
    },
    "com.azure.adhybridhealthservice#RiskyIPBlobUri": {
      "type": "structure",
      "members": {
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant id for whom the report belongs to."
          }
        },
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service id for whom the report belongs to."
          }
        },
        "resultSasUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The blob uri for the report."
          }
        },
        "blobCreateDateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time at which the new Risky IP report was requested."
          }
        },
        "jobCompletionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time at which the blob creation job for the new Risky IP report was completed."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the Risky IP report generation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The blob uri pointing to Risky IP Report."
      }
    },
    "com.azure.adhybridhealthservice#ServicesListCurrentRiskyIpDownloadReportRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.adhybridhealthservice#ServicesListAllRiskyIpDownloadReport": {
      "type": "operation",
      "input": {
        "target": "com.azure.adhybridhealthservice#ServicesListAllRiskyIpDownloadReportRequest"
      },
      "output": {
        "target": "com.azure.adhybridhealthservice#RiskyIPBlobUris"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/reports/riskyIp/blobUris",
          "code": 200,
          "apiVersion": "2014-01-01"
        },
        "smithy.api#documentation": "Gets all Risky IP report URIs for the last 7 days.",
        "com.distilled.openapi#apiVersion": "2014-01-01"
      }
    },
    "com.azure.adhybridhealthservice#ServicesListAllRiskyIpDownloadReportRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.adhybridhealthservice#GetServiceTenantWhitelisting": {
      "type": "operation",
      "input": {
        "target": "com.azure.adhybridhealthservice#GetServiceTenantWhitelistingRequest"
      },
      "output": {
        "target": "com.azure.adhybridhealthservice#Result"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/TenantWhitelisting/{featureName}",
          "code": 200,
          "apiVersion": "2014-01-01"
        },
        "smithy.api#documentation": "Checks if the tenant, to which a service is registered, is listed as allowed to use a feature.",
        "com.distilled.openapi#apiVersion": "2014-01-01"
      }
    },
    "com.azure.adhybridhealthservice#Result": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result for an operation."
      }
    },
    "com.azure.adhybridhealthservice#GetServiceTenantWhitelistingRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service."
          }
        },
        "featureName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the feature."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.adhybridhealthservice#GetServiceMemberServiceConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.azure.adhybridhealthservice#GetServiceMemberServiceConfigurationRequest"
      },
      "output": {
        "target": "com.azure.adhybridhealthservice#ServiceConfiguration"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/servicemembers/{serviceMemberId}/serviceconfiguration",
          "code": 200,
          "apiVersion": "2014-01-01"
        },
        "smithy.api#documentation": "Gets the service configuration.",
        "com.distilled.openapi#apiVersion": "2014-01-01"
      }
    },
    "com.azure.adhybridhealthservice#ServiceConfiguration": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the sync service."
          }
        },
        "serviceType": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The service type of the server."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service account."
          }
        },
        "sqlServer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SQL server information."
          }
        },
        "sqlVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SQL version."
          }
        },
        "sqlEdition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SQL edition"
          }
        },
        "sqlInstance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SQL instance details."
          }
        },
        "sqlDatabaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SQL database."
          }
        },
        "sqlDatabaseSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The SQL database size."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The service configuration"
      }
    },
    "com.azure.adhybridhealthservice#GetServiceMemberServiceConfigurationRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service."
          }
        },
        "serviceMemberId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The server Id."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.adhybridhealthservice#GetServiceMemberMetrics": {
      "type": "operation",
      "input": {
        "target": "com.azure.adhybridhealthservice#GetServiceMemberMetricsRequest"
      },
      "output": {
        "target": "com.azure.adhybridhealthservice#MetricSets"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/servicemembers/{serviceMemberId}/metrics/{metricName}/groups/{groupName}",
          "code": 200,
          "apiVersion": "2014-01-01"
        },
        "smithy.api#documentation": "Gets the server related metrics for a given metric and group combination.",
        "com.distilled.openapi#apiVersion": "2014-01-01"
      }
    },
    "com.azure.adhybridhealthservice#MetricSets": {
      "type": "structure",
      "members": {
        "sets": {
          "target": "com.azure.adhybridhealthservice#MetricSetsSetsList",
          "traits": {
            "smithy.api#documentation": "The list of metric set."
          }
        },
        "timeStamps": {
          "target": "com.azure.adhybridhealthservice#MetricSetsTimeStampsList",
          "traits": {
            "smithy.api#documentation": "The list of timestamps for each metric in the metric set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metrics data represented set."
      }
    },
    "com.azure.adhybridhealthservice#MetricSetsTimeStampsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of timestamps for each metric in the metric set."
      }
    },
    "com.azure.adhybridhealthservice#MetricSetsSetsList": {
      "type": "list",
      "member": {
        "target": "com.azure.adhybridhealthservice#MetricSet"
      },
      "traits": {
        "smithy.api#documentation": "The list of metric set."
      }
    },
    "com.azure.adhybridhealthservice#MetricSet": {
      "type": "structure",
      "members": {
        "setName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the set."
          }
        },
        "values": {
          "target": "com.azure.adhybridhealthservice#MetricSetValuesList",
          "traits": {
            "smithy.api#documentation": "The list of the metric values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": " The set of metric values. Example of a MetricSet are Values of token requests for a Server1 or RelyingParty1."
      }
    },
    "com.azure.adhybridhealthservice#MetricSetValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "The list of the metric values."
      }
    },
    "com.azure.adhybridhealthservice#GetServiceMemberMetricsRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service."
          }
        },
        "serviceMemberId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The server id."
          }
        },
        "metricName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The metric name"
          }
        },
        "groupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The group name"
          }
        },
        "groupKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "groupKey",
            "smithy.api#documentation": "The group key"
          }
        },
        "fromDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "fromDate",
            "smithy.api#documentation": "The start date."
          }
        },
        "toDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "toDate",
            "smithy.api#documentation": "The end date."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.adhybridhealthservice#ListServiceMemberGlobalConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.azure.adhybridhealthservice#ListServiceMemberGlobalConfigurationRequest"
      },
      "output": {
        "target": "com.azure.adhybridhealthservice#GlobalConfigurations"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/servicemembers/{serviceMemberId}/globalconfiguration",
          "code": 200,
          "apiVersion": "2014-01-01"
        },
        "smithy.api#documentation": "Gets the global configuration.",
        "com.distilled.openapi#apiVersion": "2014-01-01"
      }
    },
    "com.azure.adhybridhealthservice#GlobalConfigurations": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.adhybridhealthservice#GlobalConfigurationsValueList",
          "traits": {
            "smithy.api#documentation": "The value returned by the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of global configurations."
      }
    },
    "com.azure.adhybridhealthservice#GlobalConfigurationsValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.adhybridhealthservice#GlobalConfiguration"
      },
      "traits": {
        "smithy.api#documentation": "The value returned by the operation."
      }
    },
    "com.azure.adhybridhealthservice#GlobalConfiguration": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The version for the global configuration."
          }
        },
        "schemaXml": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The schema for the configuration."
          }
        },
        "passwordSyncEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if password sync is enabled or not."
          }
        },
        "numSavedPwdEvent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of saved password events."
          }
        },
        "featureSet": {
          "target": "com.azure.adhybridhealthservice#GlobalConfigurationFeatureSetList",
          "traits": {
            "smithy.api#documentation": "The list of additional feature sets."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The global configuration settings."
      }
    },
    "com.azure.adhybridhealthservice#GlobalConfigurationFeatureSetList": {
      "type": "list",
      "member": {
        "target": "com.azure.adhybridhealthservice#Item"
      },
      "traits": {
        "smithy.api#documentation": "The list of additional feature sets."
      }
    },
    "com.azure.adhybridhealthservice#Item": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key for the property."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value for the key."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The key value pair for properties."
      }
    },
    "com.azure.adhybridhealthservice#ListServiceMemberGlobalConfigurationRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service."
          }
        },
        "serviceMemberId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The server id."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.adhybridhealthservice#ServiceMembersListExportStatus": {
      "type": "operation",
      "input": {
        "target": "com.azure.adhybridhealthservice#ServiceMembersListExportStatusRequest"
      },
      "output": {
        "target": "com.azure.adhybridhealthservice#ExportStatuses"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/servicemembers/{serviceMemberId}/exportstatus",
          "code": 200,
          "apiVersion": "2014-01-01"
        },
        "smithy.api#documentation": "Gets the export status.",
        "com.distilled.openapi#apiVersion": "2014-01-01"
      }
    },
    "com.azure.adhybridhealthservice#ExportStatuses": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link used to get the next page of operations."
          }
        },
        "value": {
          "target": "com.azure.adhybridhealthservice#ExportStatusesValueList",
          "traits": {
            "smithy.api#documentation": "The value returned by the operation."
          }
        },
        "totalCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total count of service elements."
          }
        },
        "continuationToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The continuation token for paginated calls."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of export statuses."
      }
    },
    "com.azure.adhybridhealthservice#ExportStatusesValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.adhybridhealthservice#ExportStatus"
      },
      "traits": {
        "smithy.api#documentation": "The value returned by the operation."
      }
    },
    "com.azure.adhybridhealthservice#ExportStatus": {
      "type": "structure",
      "members": {
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the service for whom the export status is being reported."
          }
        },
        "serviceMemberId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server Id for whom the export status is being reported."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the export ended."
          }
        },
        "runStepResultId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The run step result Id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details of the export status."
      }
    },
    "com.azure.adhybridhealthservice#ServiceMembersListExportStatusRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service."
          }
        },
        "serviceMemberId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The server Id."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.adhybridhealthservice#ListServiceMemberDataFreshness": {
      "type": "operation",
      "input": {
        "target": "com.azure.adhybridhealthservice#ListServiceMemberDataFreshnessRequest"
      },
      "output": {
        "target": "com.azure.adhybridhealthservice#DataFreshnessDetails"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/servicemembers/{serviceMemberId}/datafreshness",
          "code": 200,
          "apiVersion": "2014-01-01"
        },
        "smithy.api#documentation": "Gets the last time when the server uploaded data to Azure Active Directory Connect Health Service.",
        "com.distilled.openapi#apiVersion": "2014-01-01"
      }
    },
    "com.azure.adhybridhealthservice#DataFreshnessDetails": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.adhybridhealthservice#DataFreshnessDetailsValueList",
          "traits": {
            "smithy.api#documentation": "The value returned by the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The data freshness details for the server."
      }
    },
    "com.azure.adhybridhealthservice#DataFreshnessDetailsValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.adhybridhealthservice#Item"
      },
      "traits": {
        "smithy.api#documentation": "The value returned by the operation."
      }
    },
    "com.azure.adhybridhealthservice#ListServiceMemberDataFreshnessRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service."
          }
        },
        "serviceMemberId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The server Id."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.adhybridhealthservice#DeleteServiceMemberData": {
      "type": "operation",
      "input": {
        "target": "com.azure.adhybridhealthservice#DeleteServiceMemberDataRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/servicemembers/{serviceMemberId}/data",
          "code": 200,
          "apiVersion": "2014-01-01"
        },
        "smithy.api#documentation": "Deletes the data uploaded by the server to Azure Active Directory Connect Health Service.",
        "com.distilled.openapi#apiVersion": "2014-01-01"
      }
    },
    "com.azure.adhybridhealthservice#DeleteServiceMemberDataRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service."
          }
        },
        "serviceMemberId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The server Id."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.adhybridhealthservice#ListServiceMemberCredentials": {
      "type": "operation",
      "input": {
        "target": "com.azure.adhybridhealthservice#ListServiceMemberCredentialsRequest"
      },
      "output": {
        "target": "com.azure.adhybridhealthservice#Credentials"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/servicemembers/{serviceMemberId}/credentials",
          "code": 200,
          "apiVersion": "2014-01-01"
        },
        "smithy.api#documentation": "Gets the credentials of the server which is needed by the agent to connect to Azure Active Directory Connect Health Service.",
        "com.distilled.openapi#apiVersion": "2014-01-01"
      }
    },
    "com.azure.adhybridhealthservice#Credentials": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.adhybridhealthservice#CredentialsValueList",
          "traits": {
            "smithy.api#documentation": "The value returned by the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of agent credentials."
      }
    },
    "com.azure.adhybridhealthservice#CredentialsValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.adhybridhealthservice#Credential"
      },
      "traits": {
        "smithy.api#documentation": "The value returned by the operation."
      }
    },
    "com.azure.adhybridhealthservice#Credential": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The credential identifier."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of credential."
          }
        },
        "credentialData": {
          "target": "com.azure.adhybridhealthservice#CredentialCredentialDataList",
          "traits": {
            "smithy.api#documentation": "The credential data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The credential for a given server."
      }
    },
    "com.azure.adhybridhealthservice#CredentialCredentialDataList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The credential data."
      }
    },
    "com.azure.adhybridhealthservice#ListServiceMemberCredentialsRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service."
          }
        },
        "serviceMemberId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The server Id."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "The property filter to apply."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.adhybridhealthservice#ListServiceMemberConnectors": {
      "type": "operation",
      "input": {
        "target": "com.azure.adhybridhealthservice#ListServiceMemberConnectorsRequest"
      },
      "output": {
        "target": "com.azure.adhybridhealthservice#Connectors"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.ADHybridHealthService/service/{serviceName}/servicemembers/{serviceMemberId}/connectors",
          "code": 200,
          "apiVersion": "2014-01-01"
        },
        "smithy.api#documentation": "Gets the connector details for a service.",
        "com.distilled.openapi#apiVersion": "2014-01-01"
      }
    },
    "com.azure.adhybridhealthservice#Connectors": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.adhybridhealthservice#ConnectorsValueList",
          "traits": {
            "smithy.api#documentation": "The value returned by the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of connects for a service."
      }
    },
    "com.azure.adhybridhealthservice#ConnectorsValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.adhybridhealthservice#Connector"
      },
      "traits": {
        "smithy.api#documentation": "The value returned by the operation."
      }
    },
    "com.azure.adhybridhealthservice#Connector": {
      "type": "structure",
      "members": {
        "connectorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The connector Id."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The connector Id."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The connector name."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The connector version"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The connector type."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The connector description."
          }
        },
        "schemaXml": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The schema xml for the connector."
          }
        },
        "passwordManagementSettings": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The password management settings of the connector."
          }
        },
        "passwordHashSyncConfiguration": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The password hash synchronization configuration of the connector."
          }
        },
        "timeCreated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when this connector was created."
          }
        },
        "timeLastModified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when this connector was last modified."
          }
        },
        "partitions": {
          "target": "com.azure.adhybridhealthservice#ConnectorPartitionsList",
          "traits": {
            "smithy.api#documentation": "The partitions of the connector."
          }
        },
        "runProfiles": {
          "target": "com.azure.adhybridhealthservice#ConnectorRunProfilesList",
          "traits": {
            "smithy.api#documentation": "The run profiles of the connector."
          }
        },
        "classesIncluded": {
          "target": "com.azure.adhybridhealthservice#ConnectorClassesIncludedList",
          "traits": {
            "smithy.api#documentation": "The class inclusion list of the connector."
          }
        },
        "attributesIncluded": {
          "target": "com.azure.adhybridhealthservice#ConnectorAttributesIncludedList",
          "traits": {
            "smithy.api#documentation": "The attribute inclusion list of the connector."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The connect details."
      }
    },
    "com.azure.adhybridhealthservice#ConnectorAttributesIncludedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The attribute inclusion list of the connector."
      }
    },
    "com.azure.adhybridhealthservice#ConnectorClassesIncludedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The class inclusion list of the connector."
      }
    },
    "com.azure.adhybridhealthservice#ConnectorRunProfilesList": {
      "type": "list",
      "member": {
        "target": "com.azure.adhybridhealthservice#RunProfile"
      },
      "traits": {
        "smithy.api#documentation": "The run profiles of the connector."
      }
    },
    "com.azure.adhybridhealthservice#RunProfile": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The run profile Id."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The run profile name"
          }
        },
        "runSteps": {
          "target": "com.azure.adhybridhealthservice#RunProfileRunStepsList",
          "traits": {
            "smithy.api#documentation": "The run steps of the run profile."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the run profile."
      }
    },
    "com.azure.adhybridhealthservice#RunProfileRunStepsList": {
      "type": "list",
      "member": {
        "target": "com.azure.adhybridhealthservice#RunStep"
      },
      "traits": {
        "smithy.api#documentation": "The run steps of the run profile."
      }
    },
    "com.azure.adhybridhealthservice#RunStep": {
      "type": "structure",
      "members": {
        "batchSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The batch size used by the run step."
          }
        },
        "objectProcessLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The object processing limit."
          }
        },
        "objectDeleteLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The object deletion limit."
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The page size of the run step."
          }
        },
        "partitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Id of the partition that a current run step operation is executing."
          }
        },
        "operationType": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The run step operation types."
          }
        },
        "timeout": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The operation timeout."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The run step for a run profile."
      }
    },
    "com.azure.adhybridhealthservice#ConnectorPartitionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.adhybridhealthservice#Partition"
      },
      "traits": {
        "smithy.api#documentation": "The partitions of the connector."
      }
    },
    "com.azure.adhybridhealthservice#Partition": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The partition Id."
          }
        },
        "dn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The distinguished name for the partition."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the partition object is selected or not."
          }
        },
        "timeCreated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the partition is created."
          }
        },
        "timeLastModified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time and date when the partition was last modified."
          }
        },
        "partitionScope": {
          "target": "com.azure.adhybridhealthservice#PartitionScope",
          "traits": {
            "smithy.api#documentation": "The scope of the partition."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the partition."
          }
        },
        "isDomain": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the partition is a domain or not."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The partition type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the partition in Synchronization service."
      }
    },
    "com.azure.adhybridhealthservice#PartitionScope": {
      "type": "structure",
      "members": {
        "isDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the partition scope is default or not."
          }
        },
        "objectClasses": {
          "target": "com.azure.adhybridhealthservice#PartitionScopeObjectClassesList",
          "traits": {
            "smithy.api#documentation": "The in-scope object classes."
          }
        },
        "containersIncluded": {
          "target": "com.azure.adhybridhealthservice#PartitionScopeContainersIncludedList",
          "traits": {
            "smithy.api#documentation": "The list of containers included."
          }
        },
        "containersExcluded": {
          "target": "com.azure.adhybridhealthservice#PartitionScopeContainersExcludedList",
          "traits": {
            "smithy.api#documentation": "The list of containers excluded."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The connector partition scope."
      }
    },
    "com.azure.adhybridhealthservice#PartitionScopeContainersExcludedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of containers excluded."
      }
    },
    "com.azure.adhybridhealthservice#PartitionScopeContainersIncludedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of containers included."
      }
    },
    "com.azure.adhybridhealthservice#PartitionScopeObjectClassesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The in-scope object classes."
      }
    },
    "com.azure.adhybridhealthservice#ListServiceMemberConnectorsRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service."
          }
        },
        "serviceMemberId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The server Id."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.adhybridhealthservice#ListServiceMemberAlerts": {
      "type": "operation",
      "input": {
        "target": "com.azure.adhybridhealthservice#ListServiceMemberAlertsRequest"
      },
      "output": {
        "target": "com.azure.adhybridhealthservice#Alerts"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/servicemembers/{serviceMemberId}/alerts",
          "code": 200,
          "apiVersion": "2014-01-01"
        },
        "smithy.api#documentation": "Gets the details of an alert for a given service and server combination.",
        "com.distilled.openapi#apiVersion": "2014-01-01"
      }
    },
    "com.azure.adhybridhealthservice#Alerts": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.adhybridhealthservice#AlertsValueList",
          "traits": {
            "smithy.api#documentation": "The value returned by the operation."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link used to get the next page of operations."
          }
        },
        "totalCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total count of alert elements."
          }
        },
        "continuationToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The continuation token for paginated calls."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of alerts for a service."
      }
    },
    "com.azure.adhybridhealthservice#AlertsValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.adhybridhealthservice#Alert"
      },
      "traits": {
        "smithy.api#documentation": "The value returned by the operation."
      }
    },
    "com.azure.adhybridhealthservice#Alert": {
      "type": "structure",
      "members": {
        "alertId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The alert Id."
          }
        },
        "level": {
          "target": "com.azure.adhybridhealthservice#AlertLevel",
          "traits": {
            "smithy.api#documentation": "The alert level which indicates the severity of the alert."
          }
        },
        "state": {
          "target": "com.azure.adhybridhealthservice#AlertState",
          "traits": {
            "smithy.api#documentation": "The alert state which can be either active or resolved with multiple resolution types."
          }
        },
        "shortName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The alert short name."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name for the alert."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The alert description."
          }
        },
        "remediation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The alert remediation."
          }
        },
        "relatedLinks": {
          "target": "com.azure.adhybridhealthservice#AlertRelatedLinksList",
          "traits": {
            "smithy.api#documentation": "The help links to get more information related to the alert."
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scope of the alert. Indicates if it is a service or a server related alert."
          }
        },
        "additionalInformation": {
          "target": "com.azure.adhybridhealthservice#AlertAdditionalInformationList",
          "traits": {
            "smithy.api#documentation": "Additional information related to the alert."
          }
        },
        "createdDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time,in UTC,when the alert was created."
          }
        },
        "resolvedDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time, in UTC, when the alert was resolved."
          }
        },
        "lastUpdated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time, in UTC, when the alert was last updated."
          }
        },
        "monitorRoleType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The monitoring role type for which the alert was raised."
          }
        },
        "activeAlertProperties": {
          "target": "com.azure.adhybridhealthservice#AlertActiveAlertPropertiesList",
          "traits": {
            "smithy.api#documentation": "The active alert properties."
          }
        },
        "resolvedAlertProperties": {
          "target": "com.azure.adhybridhealthservice#AlertResolvedAlertPropertiesList",
          "traits": {
            "smithy.api#documentation": "The resolved alert properties."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant Id."
          }
        },
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service Id."
          }
        },
        "serviceMemberId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server Id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": " The alert details indicating an issue with service or server."
      }
    },
    "com.azure.adhybridhealthservice#AlertResolvedAlertPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.azure.adhybridhealthservice#Item"
      },
      "traits": {
        "smithy.api#documentation": "The resolved alert properties."
      }
    },
    "com.azure.adhybridhealthservice#AlertActiveAlertPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.azure.adhybridhealthservice#Item"
      },
      "traits": {
        "smithy.api#documentation": "The active alert properties."
      }
    },
    "com.azure.adhybridhealthservice#AlertAdditionalInformationList": {
      "type": "list",
      "member": {
        "target": "com.azure.adhybridhealthservice#AdditionalInformation"
      },
      "traits": {
        "smithy.api#documentation": "Additional information related to the alert."
      }
    },
    "com.azure.adhybridhealthservice#AdditionalInformation": {
      "type": "structure",
      "members": {
        "titleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title name for the property."
          }
        },
        "titleValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title value for the property."
          }
        },
        "properties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The list of properties which are included in the additional information."
          }
        },
        "hasProperties": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if properties are present or not."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The additional information for a property."
      }
    },
    "com.azure.adhybridhealthservice#AlertRelatedLinksList": {
      "type": "list",
      "member": {
        "target": "com.azure.adhybridhealthservice#HelpLink"
      },
      "traits": {
        "smithy.api#documentation": "The help links to get more information related to the alert."
      }
    },
    "com.azure.adhybridhealthservice#HelpLink": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title for the link."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The url for the help document."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The help link which contains more information related to an alert."
      }
    },
    "com.azure.adhybridhealthservice#AlertState": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        },
        "RESOLVEDBYPOSITIVERESULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ResolvedByPositiveResult"
          }
        },
        "RESOLVEDMANUALLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ResolvedManually"
          }
        },
        "RESOLVEDBYTIMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ResolvedByTimer"
          }
        },
        "RESOLVEDBYSTATECHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ResolvedByStateChange"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The alert state which can be either active or resolved with multiple resolution types."
      }
    },
    "com.azure.adhybridhealthservice#AlertLevel": {
      "type": "enum",
      "members": {
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Warning"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Error"
          }
        },
        "PREWARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PreWarning"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The alert level which indicates the severity of the alert."
      }
    },
    "com.azure.adhybridhealthservice#ListServiceMemberAlertsRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service."
          }
        },
        "serviceMemberId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The server Id for which the alert details needs to be queried."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "The alert property filter to apply."
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "state",
            "smithy.api#documentation": "The alert state to query for."
          }
        },
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "from",
            "smithy.api#documentation": "The start date to query for."
          }
        },
        "to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "to",
            "smithy.api#documentation": "The end date till when to query for."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.adhybridhealthservice#DeleteServiceMember": {
      "type": "operation",
      "input": {
        "target": "com.azure.adhybridhealthservice#DeleteServiceMemberRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/servicemembers/{serviceMemberId}",
          "code": 200,
          "apiVersion": "2014-01-01"
        },
        "smithy.api#documentation": "Deletes a server that has been onboarded to Azure Active Directory Connect Health Service.",
        "com.distilled.openapi#apiVersion": "2014-01-01"
      }
    },
    "com.azure.adhybridhealthservice#DeleteServiceMemberRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service."
          }
        },
        "serviceMemberId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The server Id."
          }
        },
        "confirm": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "confirm",
            "smithy.api#documentation": "Indicates if the server will be permanently deleted or disabled. True indicates that the server will be permanently deleted and False indicates that the server will be marked disabled and then deleted after 30 days, if it is not re-registered."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.adhybridhealthservice#GetServiceMember": {
      "type": "operation",
      "input": {
        "target": "com.azure.adhybridhealthservice#GetServiceMemberRequest"
      },
      "output": {
        "target": "com.azure.adhybridhealthservice#ServiceMember"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/servicemembers/{serviceMemberId}",
          "code": 200,
          "apiVersion": "2014-01-01"
        },
        "smithy.api#documentation": "Gets the details of a server, for a given service, that are onboarded to Azure Active Directory Connect Health Service.",
        "com.distilled.openapi#apiVersion": "2014-01-01"
      }
    },
    "com.azure.adhybridhealthservice#ServiceMember": {
      "type": "structure",
      "members": {
        "serviceMemberId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the server."
          }
        },
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service id to whom this server belongs."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant id to whom this server belongs."
          }
        },
        "activeAlerts": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of alerts that are currently active for the server."
          }
        },
        "additionalInformation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The additional information, if any, for the server."
          }
        },
        "createdDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date time , in UTC, when the server was onboarded to Azure Active Directory Connect Health."
          }
        },
        "dimensions": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The server specific configuration related dimensions."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the server is disabled or not. "
          }
        },
        "disabledReason": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The reason for disabling the server."
          }
        },
        "installedQfes": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The list of installed QFEs for the server."
          }
        },
        "lastDisabled": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time , in UTC, when the server was last disabled."
          }
        },
        "lastReboot": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time, in UTC, when the server was last rebooted."
          }
        },
        "lastServerReportedMonitoringLevelChange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time, in UTC, when the server's data monitoring configuration was last changed."
          }
        },
        "lastUpdated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time, in UTC, when the server properties were last updated."
          }
        },
        "machineId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the machine."
          }
        },
        "machineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the server."
          }
        },
        "monitoringConfigurationsComputed": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The monitoring configuration of the server which determines what activities are monitored by Azure Active Directory Connect Health."
          }
        },
        "monitoringConfigurationsCustomized": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The customized monitoring configuration of the server which determines what activities are monitored by Azure Active Directory Connect Health."
          }
        },
        "osName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operating system installed in the machine."
          }
        },
        "osVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the operating system installed in the machine."
          }
        },
        "properties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Server specific properties."
          }
        },
        "recommendedQfes": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The list of recommended hotfixes for the server."
          }
        },
        "resolvedAlerts": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total count of alerts that are resolved for this server."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service role that is being monitored in the server."
          }
        },
        "serverReportedMonitoringLevel": {
          "target": "com.azure.adhybridhealthservice#ServiceMemberServerReportedMonitoringLevel",
          "traits": {
            "smithy.api#documentation": "The monitoring level reported by the server."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The health status of the server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The server properties for a given service."
      }
    },
    "com.azure.adhybridhealthservice#ServiceMemberServerReportedMonitoringLevel": {
      "type": "enum",
      "members": {
        "PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Partial"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Full"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Off"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The monitoring level reported by the server."
      }
    },
    "com.azure.adhybridhealthservice#GetServiceMemberRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service."
          }
        },
        "serviceMemberId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The server Id."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.adhybridhealthservice#AddServiceMember": {
      "type": "operation",
      "input": {
        "target": "com.azure.adhybridhealthservice#AddServiceMemberRequest"
      },
      "output": {
        "target": "com.azure.adhybridhealthservice#ServiceMember"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/servicemembers",
          "code": 200,
          "apiVersion": "2014-01-01"
        },
        "smithy.api#documentation": "Onboards  a server, for a given service, to Azure Active Directory Connect Health Service.",
        "com.distilled.openapi#apiVersion": "2014-01-01"
      }
    },
    "com.azure.adhybridhealthservice#AddServiceMemberRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service under which the server is to be onboarded."
          }
        },
        "serviceMemberId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the server."
          }
        },
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service id to whom this server belongs."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant id to whom this server belongs."
          }
        },
        "activeAlerts": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of alerts that are currently active for the server."
          }
        },
        "additionalInformation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The additional information, if any, for the server."
          }
        },
        "createdDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date time , in UTC, when the server was onboarded to Azure Active Directory Connect Health."
          }
        },
        "dimensions": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The server specific configuration related dimensions."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the server is disabled or not. "
          }
        },
        "disabledReason": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The reason for disabling the server."
          }
        },
        "installedQfes": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The list of installed QFEs for the server."
          }
        },
        "lastDisabled": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time , in UTC, when the server was last disabled."
          }
        },
        "lastReboot": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time, in UTC, when the server was last rebooted."
          }
        },
        "lastServerReportedMonitoringLevelChange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time, in UTC, when the server's data monitoring configuration was last changed."
          }
        },
        "lastUpdated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time, in UTC, when the server properties were last updated."
          }
        },
        "machineId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the machine."
          }
        },
        "machineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the server."
          }
        },
        "monitoringConfigurationsComputed": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The monitoring configuration of the server which determines what activities are monitored by Azure Active Directory Connect Health."
          }
        },
        "monitoringConfigurationsCustomized": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The customized monitoring configuration of the server which determines what activities are monitored by Azure Active Directory Connect Health."
          }
        },
        "osName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operating system installed in the machine."
          }
        },
        "osVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the operating system installed in the machine."
          }
        },
        "properties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Server specific properties."
          }
        },
        "recommendedQfes": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The list of recommended hotfixes for the server."
          }
        },
        "resolvedAlerts": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total count of alerts that are resolved for this server."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service role that is being monitored in the server."
          }
        },
        "serverReportedMonitoringLevel": {
          "target": "com.azure.adhybridhealthservice#AddServiceMemberRequestServerReportedMonitoringLevel",
          "traits": {
            "smithy.api#documentation": "The monitoring level reported by the server."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The health status of the server."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.adhybridhealthservice#AddServiceMemberRequestServerReportedMonitoringLevel": {
      "type": "enum",
      "members": {
        "PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Partial"
          }
        },
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Full"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Off"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The monitoring level reported by the server."
      }
    },
    "com.azure.adhybridhealthservice#ListServiceMembers": {
      "type": "operation",
      "input": {
        "target": "com.azure.adhybridhealthservice#ListServiceMembersRequest"
      },
      "output": {
        "target": "com.azure.adhybridhealthservice#ServiceMembers"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/servicemembers",
          "code": 200,
          "apiVersion": "2014-01-01"
        },
        "smithy.api#documentation": "Gets the details of the servers, for a given service, that are onboarded to Azure Active Directory Connect Health Service.",
        "com.distilled.openapi#apiVersion": "2014-01-01"
      }
    },
    "com.azure.adhybridhealthservice#ServiceMembers": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link used to get the next page of operations."
          }
        },
        "value": {
          "target": "com.azure.adhybridhealthservice#ServiceMembersValueList",
          "traits": {
            "smithy.api#documentation": "The value returned by the operation."
          }
        },
        "totalCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total count of service elements."
          }
        },
        "continuationToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The continuation token for paginated calls."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of servers that are onboarded for a given service."
      }
    },
    "com.azure.adhybridhealthservice#ServiceMembersValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.adhybridhealthservice#ServiceMember"
      },
      "traits": {
        "smithy.api#documentation": "The value returned by the operation."
      }
    },
    "com.azure.adhybridhealthservice#ListServiceMembersRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "The server property filter to apply."
          }
        },
        "dimensionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "dimensionType",
            "smithy.api#documentation": "The server specific dimension."
          }
        },
        "dimensionSignature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "dimensionSignature",
            "smithy.api#documentation": "The value of the dimension."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.adhybridhealthservice#ListServiceUserBadPasswordReport": {
      "type": "operation",
      "input": {
        "target": "com.azure.adhybridhealthservice#ListServiceUserBadPasswordReportRequest"
      },
      "output": {
        "target": "com.azure.adhybridhealthservice#ErrorReportUsersEntries"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/reports/badpassword/details/user",
          "code": 200,
          "apiVersion": "2014-01-01"
        },
        "smithy.api#documentation": "Gets the bad password login attempt report for an user",
        "com.distilled.openapi#apiVersion": "2014-01-01"
      }
    },
    "com.azure.adhybridhealthservice#ErrorReportUsersEntries": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.adhybridhealthservice#ErrorReportUsersEntriesValueList",
          "traits": {
            "smithy.api#documentation": "The value returned by the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of bad password log in attempt entries."
      }
    },
    "com.azure.adhybridhealthservice#ErrorReportUsersEntriesValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.adhybridhealthservice#ErrorReportUsersEntry"
      },
      "traits": {
        "smithy.api#documentation": "The value returned by the operation."
      }
    },
    "com.azure.adhybridhealthservice#ErrorReportUsersEntry": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user ID value."
          }
        },
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address corresponding to the last error event."
          }
        },
        "lastUpdated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time when the last error event was logged."
          }
        },
        "uniqueIpAddresses": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The list of unique IP addresses."
          }
        },
        "totalErrorAttempts": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total count of specific error events."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The bad password login attempt details."
      }
    },
    "com.azure.adhybridhealthservice#ListServiceUserBadPasswordReportRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service."
          }
        },
        "dataSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "dataSource",
            "smithy.api#documentation": "The source of data, if its test data or customer data."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.adhybridhealthservice#ListServiceMonitoringConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.azure.adhybridhealthservice#ListServiceMonitoringConfigurationsRequest"
      },
      "output": {
        "target": "com.azure.adhybridhealthservice#Items"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/monitoringconfigurations",
          "code": 200,
          "apiVersion": "2014-01-01"
        },
        "smithy.api#documentation": "Gets the service level monitoring configurations.",
        "com.distilled.openapi#apiVersion": "2014-01-01"
      }
    },
    "com.azure.adhybridhealthservice#Items": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.adhybridhealthservice#ItemsValueList",
          "traits": {
            "smithy.api#documentation": "The value returned by the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of key value properties."
      }
    },
    "com.azure.adhybridhealthservice#ItemsValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.adhybridhealthservice#Item"
      },
      "traits": {
        "smithy.api#documentation": "The value returned by the operation."
      }
    },
    "com.azure.adhybridhealthservice#ListServiceMonitoringConfigurationsRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.adhybridhealthservice#UpdateServiceMonitoringConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.azure.adhybridhealthservice#UpdateServiceMonitoringConfigurationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/monitoringconfiguration",
          "code": 200,
          "apiVersion": "2014-01-01"
        },
        "smithy.api#documentation": "Updates the service level monitoring configuration.",
        "com.distilled.openapi#apiVersion": "2014-01-01"
      }
    },
    "com.azure.adhybridhealthservice#UpdateServiceMonitoringConfigurationRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key for the property."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value for the key."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.adhybridhealthservice#GetServiceMetricMetadataForGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.adhybridhealthservice#GetServiceMetricMetadataForGroupRequest"
      },
      "output": {
        "target": "com.azure.adhybridhealthservice#MetricSets"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.ADHybridHealthService/services/{serviceName}/metricmetadata/{metricName}/groups/{groupName}",
          "code": 200,
          "apiVersion": "2014-01-01"
        },
        "smithy.api#documentation": "Gets the service related metrics for a given metric and group combination.",
        "com.distilled.openapi#apiVersion": "2014-01-01"
      }
    },
    "com.azure.adhybridhealthservice#GetServiceMetricMetadataForGroupRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service."
          }
        },
        "metricName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The metric name"
          }
        },
        "groupName": {
          "target": "smithy.api#String",
          "traits": {
[...]
