{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.advisor#AdvisorScoresGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.advisor#AdvisorScoresGetRequest"
      },
      "output": {
        "target": "com.azure.advisor#AdvisorScoresGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/advisorScore/{name}",
          "code": 200,
          "apiVersion": "2025-01-01"
        },
        "smithy.api#documentation": "Gets the advisor score.",
        "com.distilled.openapi#apiVersion": "2025-01-01"
      }
    },
    "com.azure.advisor#AdvisorScoresGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.advisor#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.advisor#AdvisorScoresGetResponseProperties",
          "traits": {
            "smithy.api#documentation": "The Advisor score data."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.advisor#AdvisorScoresGetResponseProperties": {
      "type": "structure",
      "members": {
        "lastRefreshedScore": {
          "target": "com.azure.advisor#ScoreEntity",
          "traits": {
            "smithy.api#documentation": "The details of latest available score."
          }
        },
        "timeSeries": {
          "target": "com.azure.advisor#TimeSeriesEntity",
          "traits": {
            "smithy.api#documentation": "The historic Advisor score data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Advisor score data."
      }
    },
    "com.azure.advisor#TimeSeriesEntity": {
      "type": "list",
      "member": {
        "target": "com.azure.advisor#TimeSeriesEntityItem"
      },
      "traits": {
        "smithy.api#documentation": "The historic data at different aggregation levels."
      }
    },
    "com.azure.advisor#TimeSeriesEntityItem": {
      "type": "structure",
      "members": {
        "aggregationLevel": {
          "target": "com.azure.advisor#TimeSeriesEntityItemAggregationLevel",
          "traits": {
            "smithy.api#documentation": "The aggregation level of the score. "
          }
        },
        "scoreHistory": {
          "target": "com.azure.advisor#TimeSeriesEntityItemScoreHistoryList",
          "traits": {
            "smithy.api#documentation": "The past score data"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The data from different aggregation levels."
      }
    },
    "com.azure.advisor#TimeSeriesEntityItemScoreHistoryList": {
      "type": "list",
      "member": {
        "target": "com.azure.advisor#ScoreEntity"
      },
      "traits": {
        "smithy.api#documentation": "The past score data"
      }
    },
    "com.azure.advisor#ScoreEntity": {
      "type": "structure",
      "members": {
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date score was calculated."
          }
        },
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The percentage score."
          }
        },
        "consumptionUnits": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The consumption units for the score."
          }
        },
        "impactedResourceCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of impacted resources."
          }
        },
        "potentialScoreIncrease": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The potential percentage increase in overall score at subscription level once all recommendations in this scope are implemented."
          }
        },
        "categoryCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The count of impacted categories."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details of Advisor Score"
      }
    },
    "com.azure.advisor#TimeSeriesEntityItemAggregationLevel": {
      "type": "enum",
      "members": {
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week"
          }
        },
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The aggregation level of the score. "
      }
    },
    "com.azure.advisor#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.advisor#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.advisor#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.advisor#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.advisor#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.advisor#AdvisorScoresGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Azure subscription ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The scope of Advisor score entity."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.advisor#AdvisorScoresList": {
      "type": "operation",
      "input": {
        "target": "com.azure.advisor#AdvisorScoresListRequest"
      },
      "output": {
        "target": "com.azure.advisor#AdvisorScoreResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/advisorScore",
          "code": 200,
          "apiVersion": "2025-01-01"
        },
        "smithy.api#documentation": "Gets the list of advisor scores.",
        "com.distilled.openapi#apiVersion": "2025-01-01"
      }
    },
    "com.azure.advisor#AdvisorScoreResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.advisor#AdvisorScoreResponseValueList",
          "traits": {
            "smithy.api#documentation": "The list of operations."
          }
        }
      },
      "traits": {}
    },
    "com.azure.advisor#AdvisorScoreResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.advisor#AdvisorScoreEntity"
      },
      "traits": {
        "smithy.api#documentation": "The list of operations."
      }
    },
    "com.azure.advisor#AdvisorScoreEntity": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.advisor#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.advisor#AdvisorScoreEntityProperties",
          "traits": {
            "smithy.api#documentation": "The Advisor score data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details of Advisor score for a single category."
      }
    },
    "com.azure.advisor#AdvisorScoreEntityProperties": {
      "type": "structure",
      "members": {
        "lastRefreshedScore": {
          "target": "com.azure.advisor#ScoreEntity",
          "traits": {
            "smithy.api#documentation": "The details of latest available score."
          }
        },
        "timeSeries": {
          "target": "com.azure.advisor#TimeSeriesEntity",
          "traits": {
            "smithy.api#documentation": "The historic Advisor score data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Advisor score data."
      }
    },
    "com.azure.advisor#AdvisorScoresListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Azure subscription ID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.advisor#Predict": {
      "type": "operation",
      "input": {
        "target": "com.azure.advisor#PredictRequest"
      },
      "output": {
        "target": "com.azure.advisor#PredictionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/predict",
          "code": 200,
          "apiVersion": "2025-01-01"
        },
        "smithy.api#documentation": "Predicts a recommendation.",
        "com.distilled.openapi#apiVersion": "2025-01-01"
      }
    },
    "com.azure.advisor#PredictionResponse": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.azure.advisor#PredictionResponseProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the prediction."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response used by predictions."
      }
    },
    "com.azure.advisor#PredictionResponseProperties": {
      "type": "structure",
      "members": {
        "extendedProperties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Extended properties"
          }
        },
        "predictionType": {
          "target": "com.azure.advisor#PredictionResponsePropertiesPredictionType",
          "traits": {
            "smithy.api#documentation": "Type of the prediction."
          }
        },
        "category": {
          "target": "com.azure.advisor#PredictionResponsePropertiesCategory",
          "traits": {
            "smithy.api#documentation": "The category of the recommendation."
          }
        },
        "impact": {
          "target": "com.azure.advisor#PredictionResponsePropertiesImpact",
          "traits": {
            "smithy.api#documentation": "The business impact of the recommendation."
          }
        },
        "impactedField": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type identified by Advisor."
          }
        },
        "lastUpdated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The most recent time that Advisor checked the validity of the recommendation."
          }
        },
        "shortDescription": {
          "target": "com.azure.advisor#ShortDescription",
          "traits": {
            "smithy.api#documentation": "A summary of the recommendation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the prediction"
      }
    },
    "com.azure.advisor#ShortDescription": {
      "type": "structure",
      "members": {
        "problem": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The issue or opportunity identified by the recommendation and proposed solution."
          }
        },
        "solution": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The issue or opportunity identified by the recommendation and proposed solution."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A summary of the recommendation."
      }
    },
    "com.azure.advisor#PredictionResponsePropertiesImpact": {
      "type": "enum",
      "members": {
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "High"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Medium"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Low"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The business impact of the recommendation."
      }
    },
    "com.azure.advisor#PredictionResponsePropertiesCategory": {
      "type": "enum",
      "members": {
        "HIGHAVAILABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HighAvailability"
          }
        },
        "SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Security"
          }
        },
        "PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Performance"
          }
        },
        "COST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cost"
          }
        },
        "OPERATIONALEXCELLENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OperationalExcellence"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The category of the recommendation."
      }
    },
    "com.azure.advisor#PredictionResponsePropertiesPredictionType": {
      "type": "enum",
      "members": {
        "PREDICTIVERIGHTSIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PredictiveRightsizing"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the prediction."
      }
    },
    "com.azure.advisor#PredictRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Azure subscription ID."
          }
        },
        "properties": {
          "target": "com.azure.advisor#PredictionRequestProperties",
          "traits": {
            "smithy.api#documentation": "Request properties for prediction recommendation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.advisor#PredictionRequestProperties": {
      "type": "structure",
      "members": {
        "predictionType": {
          "target": "com.azure.advisor#PredictionRequestPropertiesPredictionType",
          "traits": {
            "smithy.api#documentation": "Type of the prediction."
          }
        },
        "extendedProperties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Extended properties are arguments specific for each prediction type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties given for the predictor."
      }
    },
    "com.azure.advisor#PredictionRequestPropertiesPredictionType": {
      "type": "enum",
      "members": {
        "PREDICTIVERIGHTSIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PredictiveRightsizing"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the prediction."
      }
    },
    "com.azure.advisor#SuppressionsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.advisor#SuppressionsListRequest"
      },
      "output": {
        "target": "com.azure.advisor#SuppressionContractListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/suppressions",
          "code": 200,
          "apiVersion": "2025-01-01"
        },
        "smithy.api#documentation": "Retrieves the list of snoozed or dismissed suppressions for a subscription. The snoozed or dismissed attribute of a recommendation is referred to as a suppression.",
        "com.distilled.openapi#apiVersion": "2025-01-01"
      }
    },
    "com.azure.advisor#SuppressionContractListResult": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link used to get the next page of suppressions."
          }
        },
        "value": {
          "target": "com.azure.advisor#SuppressionContractListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of suppressions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of Advisor suppressions."
      }
    },
    "com.azure.advisor#SuppressionContractListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.advisor#SuppressionContract"
      },
      "traits": {
        "smithy.api#documentation": "The list of suppressions."
      }
    },
    "com.azure.advisor#SuppressionContract": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.advisor#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.advisor#SuppressionProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the suppression."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details of the snoozed or dismissed rule; for example, the duration, name, and GUID associated with the rule."
      }
    },
    "com.azure.advisor#SuppressionProperties": {
      "type": "structure",
      "members": {
        "suppressionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GUID of the suppression."
          }
        },
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The duration for which the suppression is valid."
          }
        },
        "expirationTimeStamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the expiration time stamp."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the suppression."
      }
    },
    "com.azure.advisor#SuppressionsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Azure subscription ID."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "The number of suppressions per page if a paged version of this API is being used."
          }
        },
        "_skipToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skipToken",
            "smithy.api#documentation": "The page-continuation token to use with a paged version of this API."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.advisor#SuppressionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.advisor#SuppressionsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/{resourceUri}/providers/Microsoft.Advisor/recommendations/{recommendationId}/suppressions/{name}",
          "code": 200,
          "apiVersion": "2025-01-01"
        },
        "smithy.api#documentation": "Enables the activation of a snoozed or dismissed recommendation. The snoozed or dismissed attribute of a recommendation is referred to as a suppression.",
        "com.distilled.openapi#apiVersion": "2025-01-01"
      }
    },
    "com.azure.advisor#SuppressionsDeleteRequest": {
      "type": "structure",
      "members": {
        "resourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource Manager identifier of the resource to which the recommendation applies."
          }
        },
        "recommendationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The recommendation ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the suppression."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.advisor#SuppressionsCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.advisor#SuppressionsCreateRequest"
      },
      "output": {
        "target": "com.azure.advisor#SuppressionsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/{resourceUri}/providers/Microsoft.Advisor/recommendations/{recommendationId}/suppressions/{name}",
          "code": 200,
          "apiVersion": "2025-01-01"
        },
        "smithy.api#documentation": "Enables the snoozed or dismissed attribute of a recommendation. The snoozed or dismissed attribute is referred to as a suppression. Use this API to create or update the snoozed or dismissed status of a recommendation.",
        "com.distilled.openapi#apiVersion": "2025-01-01"
      }
    },
    "com.azure.advisor#SuppressionsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.advisor#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.advisor#SuppressionProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the suppression."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.advisor#SuppressionsCreateRequest": {
      "type": "structure",
      "members": {
        "resourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource Manager identifier of the resource to which the recommendation applies."
          }
        },
        "recommendationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The recommendation ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the suppression."
          }
        },
        "properties": {
          "target": "com.azure.advisor#SuppressionPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The properties of the suppression."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.advisor#SuppressionPropertiesInput": {
      "type": "structure",
      "members": {
        "suppressionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The GUID of the suppression."
          }
        },
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The duration for which the suppression is valid."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the suppression."
      }
    },
    "com.azure.advisor#SuppressionsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.advisor#SuppressionsGetRequest"
      },
      "output": {
        "target": "com.azure.advisor#SuppressionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{resourceUri}/providers/Microsoft.Advisor/recommendations/{recommendationId}/suppressions/{name}",
          "code": 200,
          "apiVersion": "2025-01-01"
        },
        "smithy.api#documentation": "Obtains the details of a suppression.",
        "com.distilled.openapi#apiVersion": "2025-01-01"
      }
    },
    "com.azure.advisor#SuppressionsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.advisor#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.advisor#SuppressionProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the suppression."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.advisor#SuppressionsGetRequest": {
      "type": "structure",
      "members": {
        "resourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource Manager identifier of the resource to which the recommendation applies."
          }
        },
        "recommendationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The recommendation ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the suppression."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.advisor#RecommendationsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.advisor#RecommendationsGetRequest"
      },
      "output": {
        "target": "com.azure.advisor#RecommendationsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{resourceUri}/providers/Microsoft.Advisor/recommendations/{recommendationId}",
          "code": 200,
          "apiVersion": "2025-01-01"
        },
        "smithy.api#documentation": "Obtains details of a cached recommendation.",
        "com.distilled.openapi#apiVersion": "2025-01-01"
      }
    },
    "com.azure.advisor#RecommendationsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.advisor#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.advisor#RecommendationProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the recommendation."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.advisor#RecommendationProperties": {
      "type": "structure",
      "members": {
        "category": {
          "target": "com.azure.advisor#RecommendationPropertiesCategory",
          "traits": {
            "smithy.api#documentation": "The category of the recommendation."
          }
        },
        "control": {
          "target": "com.azure.advisor#RecommendationPropertiesControl",
          "traits": {
            "smithy.api#documentation": "The sub-category of the recommendation."
          }
        },
        "impact": {
          "target": "com.azure.advisor#RecommendationPropertiesImpact",
          "traits": {
            "smithy.api#documentation": "The business impact of the recommendation."
          }
        },
        "impactedField": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type identified by Advisor."
          }
        },
        "impactedValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource identified by Advisor."
          }
        },
        "lastUpdated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The most recent time that Advisor checked the validity of the recommendation."
          }
        },
        "metadata": {
          "target": "com.azure.advisor#RecommendationPropertiesMetadataMap",
          "traits": {
            "smithy.api#documentation": "The recommendation metadata."
          }
        },
        "recommendationTypeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The recommendation-type GUID."
          }
        },
        "risk": {
          "target": "com.azure.advisor#RecommendationPropertiesRisk",
          "traits": {
            "smithy.api#documentation": "The potential risk of not implementing the recommendation."
          }
        },
        "shortDescription": {
          "target": "com.azure.advisor#ShortDescription",
          "traits": {
            "smithy.api#documentation": "A summary of the recommendation."
          }
        },
        "suppressionIds": {
          "target": "com.azure.advisor#RecommendationPropertiesSuppressionIdsList",
          "traits": {
            "smithy.api#documentation": "The list of snoozed and dismissed rules for the recommendation."
          }
        },
        "extendedProperties": {
          "target": "com.azure.advisor#RecommendationPropertiesExtendedPropertiesMap",
          "traits": {
            "smithy.api#documentation": "Extended properties"
          }
        },
        "resourceMetadata": {
          "target": "com.azure.advisor#ResourceMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata of resource that was assessed"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The detailed description of recommendation."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The label of recommendation."
          }
        },
        "learnMoreLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to learn more about recommendation and generation logic."
          }
        },
        "potentialBenefits": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The potential benefit of implementing recommendation."
          }
        },
        "actions": {
          "target": "com.azure.advisor#RecommendationPropertiesActionsList",
          "traits": {
            "smithy.api#documentation": "The list of recommended actions to implement recommendation."
          }
        },
        "remediation": {
          "target": "com.azure.advisor#RecommendationPropertiesRemediationMap",
          "traits": {
            "smithy.api#documentation": "The automated way to apply recommendation."
          }
        },
        "exposedMetadataProperties": {
          "target": "com.azure.advisor#RecommendationPropertiesExposedMetadataPropertiesMap",
          "traits": {
            "smithy.api#documentation": "The recommendation metadata properties exposed to customer to provide additional information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the recommendation."
      }
    },
    "com.azure.advisor#RecommendationPropertiesExposedMetadataPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The recommendation metadata properties exposed to customer to provide additional information."
      }
    },
    "com.azure.advisor#RecommendationPropertiesRemediationMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The automated way to apply recommendation."
      }
    },
    "com.azure.advisor#RecommendationPropertiesActionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.advisor#RecommendationPropertiesActionsItemMap"
      },
      "traits": {
        "smithy.api#documentation": "The list of recommended actions to implement recommendation."
      }
    },
    "com.azure.advisor#RecommendationPropertiesActionsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.azure.advisor#ResourceMetadata": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource Id of the assessed resource"
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source from which recommendation is generated"
          }
        },
        "action": {
          "target": "com.azure.advisor#ResourceMetadataActionMap",
          "traits": {
            "smithy.api#documentation": "The action to view resource."
          }
        },
        "singular": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The singular user friendly name of resource type. eg: virtual machine"
          }
        },
        "plural": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The plural user friendly name of resource type. eg: virtual machines"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Recommendation resource metadata"
      }
    },
    "com.azure.advisor#ResourceMetadataActionMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The action to view resource."
      }
    },
    "com.azure.advisor#RecommendationPropertiesExtendedPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Extended properties"
      }
    },
    "com.azure.advisor#RecommendationPropertiesSuppressionIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of snoozed and dismissed rules for the recommendation."
      }
    },
    "com.azure.advisor#RecommendationPropertiesRisk": {
      "type": "enum",
      "members": {
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Error"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Warning"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The potential risk of not implementing the recommendation."
      }
    },
    "com.azure.advisor#RecommendationPropertiesMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The recommendation metadata."
      }
    },
    "com.azure.advisor#RecommendationPropertiesImpact": {
      "type": "enum",
      "members": {
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "High"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Medium"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Low"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The business impact of the recommendation."
      }
    },
    "com.azure.advisor#RecommendationPropertiesControl": {
      "type": "enum",
      "members": {
        "HIGHAVAILABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HighAvailability"
          }
        },
        "BUSINESSCONTINUITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BusinessContinuity"
          }
        },
        "DISASTERRECOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DisasterRecovery"
          }
        },
        "SCALABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Scalability"
          }
        },
        "MONITORINGANDALERTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MonitoringAndAlerting"
          }
        },
        "SERVICEUPGRADEANDRETIREMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ServiceUpgradeAndRetirement"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Other"
          }
        },
        "PRIORITIZEDRECOMMENDATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PrioritizedRecommendations"
          }
        },
        "PERSONALIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Personalized"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The sub-category of the recommendation."
      }
    },
    "com.azure.advisor#RecommendationPropertiesCategory": {
      "type": "enum",
      "members": {
        "HIGHAVAILABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HighAvailability"
          }
        },
        "SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Security"
          }
        },
        "PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Performance"
          }
        },
        "COST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cost"
          }
        },
        "OPERATIONALEXCELLENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OperationalExcellence"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The category of the recommendation."
      }
    },
    "com.azure.advisor#RecommendationsGetRequest": {
      "type": "structure",
      "members": {
        "resourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource Manager identifier of the resource to which the recommendation applies."
          }
        },
        "recommendationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The recommendation ID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.advisor#OperationsList": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.azure.advisor#OperationEntityListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.Advisor/operations",
          "code": 200,
          "apiVersion": "2025-01-01"
        },
        "smithy.api#documentation": "Lists all the available Advisor REST API operations.",
        "com.distilled.openapi#apiVersion": "2025-01-01"
      }
    },
    "com.azure.advisor#OperationEntityListResult": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link used to get the next page of operations."
          }
        },
        "value": {
          "target": "com.azure.advisor#OperationEntityListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of operations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of Advisor operations."
      }
    },
    "com.azure.advisor#OperationEntityListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.advisor#OperationEntity"
      },
      "traits": {
        "smithy.api#documentation": "The list of operations."
      }
    },
    "com.azure.advisor#OperationEntity": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation name: {provider}/{resource}/{operation}."
          }
        },
        "display": {
          "target": "com.azure.advisor#OperationDisplayInfo",
          "traits": {
            "smithy.api#documentation": "The operation supported by Advisor."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The operation supported by Advisor."
      }
    },
    "com.azure.advisor#OperationDisplayInfo": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the operation."
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The action that users can perform, based on their permission level."
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service provider: Microsoft Advisor."
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource on which the operation is performed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The operation supported by Advisor."
      }
    },
    "com.azure.advisor#RecommendationsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.advisor#RecommendationsListRequest"
      },
      "output": {
        "target": "com.azure.advisor#ResourceRecommendationBaseListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/recommendations",
          "code": 200,
          "apiVersion": "2025-01-01"
        },
        "smithy.api#documentation": "Obtains cached recommendations for a subscription. The recommendations are generated or computed by invoking generateRecommendations.",
        "com.distilled.openapi#apiVersion": "2025-01-01"
      }
    },
    "com.azure.advisor#ResourceRecommendationBaseListResult": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link used to get the next page of recommendations."
          }
        },
        "value": {
          "target": "com.azure.advisor#ResourceRecommendationBaseListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of recommendations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of Advisor recommendations."
      }
    },
    "com.azure.advisor#ResourceRecommendationBaseListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.advisor#ResourceRecommendationBase"
      },
      "traits": {
        "smithy.api#documentation": "The list of recommendations."
      }
    },
    "com.azure.advisor#ResourceRecommendationBase": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.advisor#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.advisor#RecommendationProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the recommendation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Advisor Recommendation."
      }
    },
    "com.azure.advisor#RecommendationsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Azure subscription ID."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "The filter to apply to the recommendations.<br>Filter can be applied to properties ['ResourceId', 'ResourceGroup', 'RecommendationTypeGuid', '[Category](#category)', 'SubCategory', 'RetirementDate'] with operators ['eq', 'and', 'or', 'lt', 'gt', 'le', 'ge'].<br><br>⚠ **Note:** `Control` is a legacy filter property and will be deprecated in the future. Please use `SubCategory` for filtering recommendation subcategory.<br><br>Valid options for SubCategory:<br>['BusinessContinuity', 'DisasterRecovery', 'HighAvailability', 'MonitoringAndAlerting', 'Other', 'Personalized', 'PrioritizedRecommendations', 'Scalability', 'ServiceUpgradeAndRetirement', 'Validation']<br><br>Example:<br>- $filter=Category eq 'Cost' and ResourceGroup eq 'MyResourceGroup'<br>-$filter=SubCategory eq 'ServiceUpgradeAndRetirement' and RetirementDate le '2024-01-01' and RetirementDate ge '2028-01-01'"
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "The number of recommendations per page if a paged version of this API is being used."
          }
        },
        "_skipToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skipToken",
            "smithy.api#documentation": "The page-continuation token to use with a paged version of this API."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.advisor#RecommendationsGetGenerateStatus": {
      "type": "operation",
      "input": {
        "target": "com.azure.advisor#RecommendationsGetGenerateStatusRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/generateRecommendations/{operationId}",
          "code": 200,
          "apiVersion": "2025-01-01"
        },
        "smithy.api#documentation": "Retrieves the status of the recommendation computation or generation process. Invoke this API after calling the generation recommendation. The URI of this API is returned in the Location field of the response header.",
        "com.distilled.openapi#apiVersion": "2025-01-01"
      }
    },
    "com.azure.advisor#RecommendationsGetGenerateStatusRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Azure subscription ID."
          }
        },
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The operation ID, which can be found from the Location field in the generate recommendation response header."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.advisor#RecommendationsGenerate": {
      "type": "operation",
      "input": {
        "target": "com.azure.advisor#RecommendationsGenerateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/generateRecommendations",
          "code": 200,
          "apiVersion": "2025-01-01"
        },
        "smithy.api#documentation": "Initiates the recommendation generation or computation process for a subscription. This operation is asynchronous. The generated recommendations are stored in a cache in the Advisor service.",
        "com.distilled.openapi#apiVersion": "2025-01-01"
      }
    },
    "com.azure.advisor#RecommendationsGenerateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Azure subscription ID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.advisor#ConfigurationsCreateInResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.advisor#ConfigurationsCreateInResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.advisor#ConfigurationsCreateInResourceGroupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Advisor/configurations/{configurationName}",
          "code": 200,
          "apiVersion": "2025-01-01"
        },
        "smithy.api#documentation": "Create/Overwrite Azure Advisor configuration.",
        "com.distilled.openapi#apiVersion": "2025-01-01"
      }
    },
    "com.azure.advisor#ConfigurationsCreateInResourceGroupResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.advisor#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.advisor#ConfigDataProperties",
          "traits": {
            "smithy.api#documentation": "The Advisor configuration data structure."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.advisor#ConfigDataProperties": {
      "type": "structure",
      "members": {
        "exclude": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Exclude the resource from Advisor evaluations. Valid values: False (default) or True."
          }
        },
        "lowCpuThreshold": {
          "target": "com.azure.advisor#ConfigDataPropertiesLowCpuThreshold",
          "traits": {
            "smithy.api#documentation": "Minimum percentage threshold for Advisor low CPU utilization evaluation. Valid only for subscriptions. Valid values: 5 (default), 10, 15 or 20."
          }
        },
        "duration": {
          "target": "com.azure.advisor#ConfigDataPropertiesDuration",
          "traits": {
            "smithy.api#documentation": "Minimum duration for Advisor low CPU utilization evaluation. Valid only for subscriptions. Valid values: 7 (default), 14, 21, 30, 60 or 90."
          }
        },
        "digests": {
          "target": "com.azure.advisor#ConfigDataPropertiesDigestsList",
          "traits": {
            "smithy.api#documentation": "Advisor digest configuration. Valid only for subscriptions"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration data properties"
      }
    },
    "com.azure.advisor#ConfigDataPropertiesDigestsList": {
      "type": "list",
      "member": {
        "target": "com.azure.advisor#DigestConfig"
      },
      "traits": {
        "smithy.api#documentation": "Advisor digest configuration. Valid only for subscriptions"
      }
    },
    "com.azure.advisor#DigestConfig": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of digest configuration. Value is case-insensitive and must be unique within a subscription."
          }
        },
        "actionGroupResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Action group resource id used by digest."
          }
        },
        "frequency": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Frequency that digest will be triggered, in days. Value must be between 7 and 30 days inclusive."
          }
        },
        "categories": {
          "target": "com.azure.advisor#DigestConfigCategoriesList",
          "traits": {
            "smithy.api#documentation": "Categories to send digest for. If categories are not provided, then digest will be sent for all categories."
          }
        },
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Language for digest content body. Value must be ISO 639-1 code for one of Azure portal supported languages. Otherwise, it will be converted into one. Default value is English (en)."
          }
        },
        "state": {
          "target": "com.azure.advisor#DigestConfigState",
          "traits": {
            "smithy.api#documentation": "State of digest configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Advisor Digest configuration entity"
      }
    },
    "com.azure.advisor#DigestConfigState": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State of digest configuration."
      }
    },
    "com.azure.advisor#DigestConfigCategoriesList": {
      "type": "list",
      "member": {
        "target": "com.azure.advisor#DigestConfigCategoriesItem"
      },
      "traits": {
        "smithy.api#documentation": "Categories to send digest for. If categories are not provided, then digest will be sent for all categories."
      }
    },
    "com.azure.advisor#DigestConfigCategoriesItem": {
      "type": "enum",
      "members": {
        "HIGHAVAILABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HighAvailability"
          }
        },
        "SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Security"
          }
        },
        "PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Performance"
          }
        },
        "COST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cost"
          }
        },
        "OPERATIONALEXCELLENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OperationalExcellence"
          }
        }
      },
      "traits": {}
    },
    "com.azure.advisor#ConfigDataPropertiesDuration": {
      "type": "enum",
      "members": {
        "_7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "7"
          }
        },
        "_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "14"
          }
        },
        "_21": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "21"
          }
        },
        "_30": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "30"
          }
        },
        "_60": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "60"
          }
        },
        "_90": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "90"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Minimum duration for Advisor low CPU utilization evaluation. Valid only for subscriptions. Valid values: 7 (default), 14, 21, 30, 60 or 90."
      }
    },
    "com.azure.advisor#ConfigDataPropertiesLowCpuThreshold": {
      "type": "enum",
      "members": {
        "_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "5"
          }
        },
        "_10": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "10"
          }
        },
        "_15": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "15"
          }
        },
        "_20": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "20"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Minimum percentage threshold for Advisor low CPU utilization evaluation. Valid only for subscriptions. Valid values: 5 (default), 10, 15 or 20."
      }
    },
    "com.azure.advisor#ConfigurationsCreateInResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Azure subscription ID."
          }
        },
        "resourceGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure resource group."
          }
        },
        "configurationName": {
          "target": "com.azure.advisor#ConfigurationsCreateInResourceGroupRequestConfigurationName",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Advisor configuration name. Value must be 'default'"
          }
        },
        "properties": {
          "target": "com.azure.advisor#ConfigDataProperties",
          "traits": {
            "smithy.api#documentation": "The Advisor configuration data structure."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.advisor#ConfigurationsCreateInResourceGroupRequestConfigurationName": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        }
      },
      "traits": {}
    },
    "com.azure.advisor#ConfigurationsListByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.advisor#ConfigurationsListByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.advisor#ConfigurationListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Advisor/configurations",
          "code": 200,
          "apiVersion": "2025-01-01"
        },
        "smithy.api#documentation": "Retrieve Azure Advisor configurations.",
        "com.distilled.openapi#apiVersion": "2025-01-01"
      }
    },
    "com.azure.advisor#ConfigurationListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.advisor#ConfigurationListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of configurations."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link used to get the next page of configurations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of Advisor configurations."
      }
    },
    "com.azure.advisor#ConfigurationListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.advisor#ConfigData"
      },
      "traits": {
        "smithy.api#documentation": "The list of configurations."
      }
    },
    "com.azure.advisor#ConfigData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.advisor#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.advisor#ConfigDataProperties",
          "traits": {
            "smithy.api#documentation": "The Advisor configuration data structure."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Advisor configuration data structure."
      }
    },
    "com.azure.advisor#ConfigurationsListByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Azure subscription ID."
          }
        },
        "resourceGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure resource group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.advisor#ConfigurationsCreateInSubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.advisor#ConfigurationsCreateInSubscriptionRequest"
      },
      "output": {
        "target": "com.azure.advisor#ConfigurationsCreateInSubscriptionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/configurations/{configurationName}",
          "code": 200,
          "apiVersion": "2025-01-01"
        },
        "smithy.api#documentation": "Create/Overwrite Azure Advisor configuration.\n\nCreate/Overwrite Azure Advisor configuration and also delete all configurations of contained resource groups.",
        "com.distilled.openapi#apiVersion": "2025-01-01"
      }
    },
    "com.azure.advisor#ConfigurationsCreateInSubscriptionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.advisor#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.advisor#ConfigDataProperties",
          "traits": {
            "smithy.api#documentation": "The Advisor configuration data structure."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.advisor#ConfigurationsCreateInSubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Azure subscription ID."
          }
        },
        "configurationName": {
          "target": "com.azure.advisor#ConfigurationsCreateInSubscriptionRequestConfigurationName",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Advisor configuration name. Value must be 'default'"
          }
        },
        "properties": {
          "target": "com.azure.advisor#ConfigDataProperties",
          "traits": {
            "smithy.api#documentation": "The Advisor configuration data structure."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.advisor#ConfigurationsCreateInSubscriptionRequestConfigurationName": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        }
      },
      "traits": {}
    },
    "com.azure.advisor#ConfigurationsListBySubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.advisor#ConfigurationsListBySubscriptionRequest"
      },
      "output": {
        "target": "com.azure.advisor#ConfigurationListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/configurations",
          "code": 200,
          "apiVersion": "2025-01-01"
        },
        "smithy.api#documentation": "Retrieve Azure Advisor configurations.\n\nRetrieve Azure Advisor configurations and also retrieve configurations of contained resource groups.",
        "com.distilled.openapi#apiVersion": "2025-01-01"
      }
    },
    "com.azure.advisor#ConfigurationsListBySubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Azure subscription ID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.advisor#RecommendationMetadataList": {
      "type": "operation",
      "input": {
        "target": "com.azure.advisor#RecommendationMetadataListRequest"
      },
      "output": {
        "target": "com.azure.advisor#MetadataEntityListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.Advisor/metadata",
          "code": 200,
          "apiVersion": "2025-01-01"
        },
        "smithy.api#documentation": "Gets the list of metadata entities.",
        "com.distilled.openapi#apiVersion": "2025-01-01"
      }
    },
    "com.azure.advisor#MetadataEntityListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.advisor#MetadataEntityListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of metadata entities."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link used to get the next page of metadata."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of metadata entities"
      }
    },
    "com.azure.advisor#MetadataEntityListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.advisor#MetadataEntity"
      },
      "traits": {
        "smithy.api#documentation": "The list of metadata entities."
      }
    },
    "com.azure.advisor#MetadataEntity": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource Id of the metadata entity."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the metadata entity."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the metadata entity."
          }
        },
        "properties": {
          "target": "com.azure.advisor#MetadataEntityProperties",
          "traits": {
            "smithy.api#documentation": "The metadata entity properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metadata entity contract."
      }
    },
    "com.azure.advisor#MetadataEntityProperties": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name."
          }
        },
        "dependsOn": {
          "target": "com.azure.advisor#MetadataEntityPropertiesDependsOnList",
          "traits": {
            "smithy.api#documentation": "The list of keys on which this entity depends on."
          }
        },
        "applicableScenarios": {
          "target": "com.azure.advisor#MetadataEntityPropertiesApplicableScenariosList",
          "traits": {
            "smithy.api#documentation": "The list of scenarios applicable to this metadata entity."
          }
        },
        "supportedValues": {
          "target": "com.azure.advisor#MetadataEntityPropertiesSupportedValuesList",
          "traits": {
            "smithy.api#documentation": "The list of supported values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metadata entity properties"
      }
    },
    "com.azure.advisor#MetadataEntityPropertiesSupportedValuesList": {
      "type": "list",
      "member": {
        "target": "com.azure.advisor#MetadataSupportedValueDetail"
      },
      "traits": {
        "smithy.api#documentation": "The list of supported values."
      }
    },
    "com.azure.advisor#MetadataSupportedValueDetail": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metadata supported value detail."
      }
    },
    "com.azure.advisor#MetadataEntityPropertiesApplicableScenariosList": {
      "type": "list",
      "member": {
        "target": "com.azure.advisor#MetadataEntityPropertiesApplicableScenariosItem"
      },
      "traits": {
        "smithy.api#documentation": "The list of scenarios applicable to this metadata entity."
      }
    },
    "com.azure.advisor#MetadataEntityPropertiesApplicableScenariosItem": {
      "type": "enum",
      "members": {
        "ALERTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Alerts"
          }
        }
      },
      "traits": {}
    },
    "com.azure.advisor#MetadataEntityPropertiesDependsOnList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of keys on which this entity depends on."
      }
    },
    "com.azure.advisor#RecommendationMetadataListRequest": {
      "type": "structure",
      "members": {
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "The filter to apply to the recommendation metadata.<br>Filter can be applied to properties ['[recommendationCategory](#category)', '[recommendationSubCategory](#recommendationSubCategory)', 'RetirementDate'] with operators ['eq', 'and', 'le', 'ge']<br>The filter can also be applied to property ['[TrackingIds]']<br><br>⚠ **Note:** `recommendationControl` is a legacy filter property and will be deprecated in the future. Please use `recommendationSubCategory` for filtering recommendation subcategory.<br><br>Valid options for recommendationSubCategory: ['BusinessContinuity', 'DisasterRecovery', 'HighAvailability', 'MonitoringAndAlerting', 'Other', 'Personalized', 'PrioritizedRecommendations', 'Scalability', 'ServiceUpgradeAndRetirement', 'Validation']<br><br>Example:<br>- $filter=recommendationCategory eq 'HighAvailability' and recommendationSubCategory eq 'ServiceUpgradeAndRetirement' and retirementDate ge '2024-01-01' and retirementDate le '2028-01-01'. Filter can be applied on trackingIds as well.<br>- $filter=trackingIds/any(t: t eq 'some-guid')<br><br>⚠ **Note:** `trackingIDs` filter can be used for filtering one value at a time. The support to filter multiple values is not currently available. Also the support to add other filters along with `trackingIDs` is not available."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.advisor#RecommendationMetadataGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.advisor#RecommendationMetadataGetRequest"
      },
      "output": {
        "target": "com.azure.advisor#MetadataEntity"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.Advisor/metadata/{name}",
          "code": 200,
          "apiVersion": "2025-01-01"
        },
        "smithy.api#documentation": "Gets the metadata entity.",
        "com.distilled.openapi#apiVersion": "2025-01-01"
      }
    },
    "com.azure.advisor#RecommendationMetadataGetRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of metadata entity."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.advisor#Advisor": {
      "type": "service",
      "version": "1.0",
      "operations": [
        {
          "target": "com.azure.advisor#AdvisorScoresGet"
        },
        {
          "target": "com.azure.advisor#AdvisorScoresList"
        },
        {
          "target": "com.azure.advisor#Predict"
        },
        {
          "target": "com.azure.advisor#SuppressionsList"
        },
        {
          "target": "com.azure.advisor#SuppressionsDelete"
        },
        {
          "target": "com.azure.advisor#SuppressionsCreate"
        },
        {
          "target": "com.azure.advisor#SuppressionsGet"
        },
        {
          "target": "com.azure.advisor#RecommendationsGet"
        },
        {
          "target": "com.azure.advisor#OperationsList"
        },
        {
          "target": "com.azure.advisor#RecommendationsList"
        },
        {
          "target": "com.azure.advisor#RecommendationsGetGenerateStatus"
        },
        {
          "target": "com.azure.advisor#RecommendationsGenerate"
        },
        {
          "target": "com.azure.advisor#ConfigurationsCreateInResourceGroup"
        },
        {
          "target": "com.azure.advisor#ConfigurationsListByResourceGroup"
        },
        {
          "target": "com.azure.advisor#ConfigurationsCreateInSubscription"
        },
        {
          "target": "com.azure.advisor#ConfigurationsListBySubscription"
        },
        {
          "target": "com.azure.advisor#RecommendationMetadataList"
        },
        {
          "target": "com.azure.advisor#RecommendationMetadataGet"
        }
      ],
      "traits": {
        "smithy.api#title": "Azure Advisor",
        "smithy.api#documentation": "Azure Advisor API — merged from the advisor resource-manager specs (latest stable api-version per resource provider)."
      }
    }
  }
}
