{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.app#ContainerAppsSessionPoolsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.app#ContainerAppsSessionPoolsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/sessionPools/{sessionPoolName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Delete a session pool.\n\nDelete the session pool with the given name.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.app#ContainerAppsSessionPoolsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "sessionPoolName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the session pool."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.app#ContainerAppsSessionPoolsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.app#ContainerAppsSessionPoolsUpdateRequest"
      },
      "output": {
        "target": "com.azure.app#ContainerAppsSessionPoolsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/sessionPools/{sessionPoolName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Update properties of a session pool\n\nPatches a session pool using JSON merge patch",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.app#ContainerAppsSessionPoolsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.app#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.app#ContainerAppsSessionPoolsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.app#SessionPoolProperties",
          "traits": {
            "smithy.api#documentation": "Container App session pool resource specific properties"
          }
        },
        "identity": {
          "target": "com.azure.app#ContainerAppsSessionPoolsUpdateResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.app#ContainerAppsSessionPoolsUpdateResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.app#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.app#UserAssignedIdentities"
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.app#UserAssignedIdentities": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.app#UserAssignedIdentity"
      },
      "traits": {
        "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
      }
    },
    "com.azure.app#UserAssignedIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of the assigned identity."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client ID of the assigned identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User assigned identity properties"
      }
    },
    "com.azure.app#ManagedServiceIdentityType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        },
        "SYSTEMASSIGNED_USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned,UserAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of managed service identity (where both SystemAssigned and UserAssigned types are allowed)."
      }
    },
    "com.azure.app#SessionPoolProperties": {
      "type": "structure",
      "members": {
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID of the session pool's environment."
          }
        },
        "containerType": {
          "target": "com.azure.app#ContainerType",
          "traits": {
            "smithy.api#documentation": "The container type of the sessions. You can use your own container to build the session pool, or you can use a predefined container to run workload with specific language."
          }
        },
        "poolManagementType": {
          "target": "com.azure.app#PoolManagementType",
          "traits": {
            "smithy.api#documentation": "The pool management type of the session pool."
          }
        },
        "nodeCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of nodes the session pool is using."
          }
        },
        "scaleConfiguration": {
          "target": "com.azure.app#ScaleConfiguration",
          "traits": {
            "smithy.api#documentation": "The scale configuration of the session pool."
          }
        },
        "secrets": {
          "target": "com.azure.app#SessionPoolPropertiesSecretsList",
          "traits": {
            "smithy.api#documentation": "The secrets of the session pool."
          }
        },
        "dynamicPoolConfiguration": {
          "target": "com.azure.app#DynamicPoolConfiguration",
          "traits": {
            "smithy.api#documentation": "The pool configuration if the poolManagementType is dynamic."
          }
        },
        "customContainerTemplate": {
          "target": "com.azure.app#CustomContainerTemplate",
          "traits": {
            "smithy.api#documentation": "The custom container configuration if the containerType is CustomContainer."
          }
        },
        "sessionNetworkConfiguration": {
          "target": "com.azure.app#SessionNetworkConfiguration",
          "traits": {
            "smithy.api#documentation": "The network configuration of the sessions in the session pool."
          }
        },
        "poolManagementEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The endpoint to manage the pool."
          }
        },
        "provisioningState": {
          "target": "com.azure.app#SessionPoolProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the session pool."
          }
        },
        "managedIdentitySettings": {
          "target": "com.azure.app#SessionPoolPropertiesManagedIdentitySettingsList",
          "traits": {
            "smithy.api#documentation": "Optional settings for a Managed Identity that is assigned to the Session pool."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Container App session pool resource specific properties"
      }
    },
    "com.azure.app#SessionPoolPropertiesManagedIdentitySettingsList": {
      "type": "list",
      "member": {
        "target": "com.azure.app#ManagedIdentitySetting"
      },
      "traits": {
        "smithy.api#documentation": "Optional settings for a Managed Identity that is assigned to the Session pool."
      }
    },
    "com.azure.app#ManagedIdentitySetting": {
      "type": "structure",
      "members": {
        "identity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID of a user-assigned managed identity that is assigned to the Session Pool, or 'system' for system-assigned identity.",
            "smithy.api#required": {}
          }
        },
        "lifecycle": {
          "target": "com.azure.app#ManagedIdentitySettingLifecycle",
          "traits": {
            "smithy.api#documentation": "Use to select the lifecycle stages of a Session Pool during which the Managed Identity should be available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional settings for a Managed Identity that is assigned to the Session pool."
      }
    },
    "com.azure.app#ManagedIdentitySettingLifecycle": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "MAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Main"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Use to select the lifecycle stages of a Session Pool during which the Managed Identity should be available."
      }
    },
    "com.azure.app#SessionPoolProvisioningState": {
      "type": "enum",
      "members": {
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provisioning state of the session pool."
      }
    },
    "com.azure.app#SessionNetworkConfiguration": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.app#SessionNetworkStatus",
          "traits": {
            "smithy.api#documentation": "Network status for the sessions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Session network configuration."
      }
    },
    "com.azure.app#SessionNetworkStatus": {
      "type": "enum",
      "members": {
        "EGRESSENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EgressEnabled"
          }
        },
        "EGRESSDISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EgressDisabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network status for the sessions."
      }
    },
    "com.azure.app#CustomContainerTemplate": {
      "type": "structure",
      "members": {
        "registryCredentials": {
          "target": "com.azure.app#SessionRegistryCredentials",
          "traits": {
            "smithy.api#documentation": "Private container registry credentials for containers used by the sessions of the session pool."
          }
        },
        "containers": {
          "target": "com.azure.app#CustomContainerTemplateContainersList",
          "traits": {
            "smithy.api#documentation": "List of container definitions for the sessions of the session pool."
          }
        },
        "ingress": {
          "target": "com.azure.app#SessionIngress",
          "traits": {
            "smithy.api#documentation": "Session pool ingress configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Custom container configuration."
      }
    },
    "com.azure.app#SessionIngress": {
      "type": "structure",
      "members": {
        "targetPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Target port in containers for traffic from ingress"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Session pool ingress configuration."
      }
    },
    "com.azure.app#CustomContainerTemplateContainersList": {
      "type": "list",
      "member": {
        "target": "com.azure.app#SessionContainer"
      },
      "traits": {
        "smithy.api#documentation": "List of container definitions for the sessions of the session pool."
      }
    },
    "com.azure.app#SessionContainer": {
      "type": "structure",
      "members": {
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Container image tag."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom container name."
          }
        },
        "command": {
          "target": "com.azure.app#SessionContainerCommandList",
          "traits": {
            "smithy.api#documentation": "Container start command."
          }
        },
        "args": {
          "target": "com.azure.app#SessionContainerArgsList",
          "traits": {
            "smithy.api#documentation": "Container start command arguments."
          }
        },
        "env": {
          "target": "com.azure.app#SessionContainerEnvList",
          "traits": {
            "smithy.api#documentation": "Container environment variables."
          }
        },
        "resources": {
          "target": "com.azure.app#SessionContainerResources",
          "traits": {
            "smithy.api#documentation": "Container resource requirements."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Container definitions for the sessions of the session pool."
      }
    },
    "com.azure.app#SessionContainerResources": {
      "type": "structure",
      "members": {
        "cpu": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required CPU in cores, e.g. 0.5"
          }
        },
        "memory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required memory, e.g. \"250Mb\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Container resource requirements for sessions of the session pool."
      }
    },
    "com.azure.app#SessionContainerEnvList": {
      "type": "list",
      "member": {
        "target": "com.azure.app#EnvironmentVar"
      },
      "traits": {
        "smithy.api#documentation": "Container environment variables."
      }
    },
    "com.azure.app#EnvironmentVar": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Environment variable name."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Non-secret environment variable value."
          }
        },
        "secretRef": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Container App secret from which to pull the environment variable value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Container App container environment variable."
      }
    },
    "com.azure.app#SessionContainerArgsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Container start command arguments."
      }
    },
    "com.azure.app#SessionContainerCommandList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Container start command."
      }
    },
    "com.azure.app#SessionRegistryCredentials": {
      "type": "structure",
      "members": {
        "server": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Container registry server."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Container registry username."
          }
        },
        "passwordSecretRef": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the secret that contains the registry login password",
            "smithy.api#sensitive": {}
          }
        },
        "identity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A Managed Identity to use to authenticate with Azure Container Registry. For user-assigned identities, use the full user-assigned identity Resource ID. For system-assigned identities, use 'system'"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Session pool private registry credentials."
      }
    },
    "com.azure.app#DynamicPoolConfiguration": {
      "type": "structure",
      "members": {
        "lifecycleConfiguration": {
          "target": "com.azure.app#LifecycleConfiguration",
          "traits": {
            "smithy.api#documentation": "The lifecycle configuration of a session in the dynamic session pool"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dynamic pool configuration."
      }
    },
    "com.azure.app#LifecycleConfiguration": {
      "type": "structure",
      "members": {
        "lifecycleType": {
          "target": "com.azure.app#LifecycleType",
          "traits": {
            "smithy.api#documentation": "The lifecycle type of the session pool."
          }
        },
        "cooldownPeriodInSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The cooldown period of a session in seconds when the lifecycle type is 'Timed'."
          }
        },
        "maxAlivePeriodInSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum alive period of a session in seconds when the lifecycle type is 'OnContainerExit'."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The lifecycle configuration properties of a session in the dynamic session pool"
      }
    },
    "com.azure.app#LifecycleType": {
      "type": "enum",
      "members": {
        "TIMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Timed"
          }
        },
        "ONCONTAINEREXIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OnContainerExit"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The lifecycle type of the session pool."
      }
    },
    "com.azure.app#SessionPoolPropertiesSecretsList": {
      "type": "list",
      "member": {
        "target": "com.azure.app#SessionPoolSecret"
      },
      "traits": {
        "smithy.api#documentation": "The secrets of the session pool."
      }
    },
    "com.azure.app#SessionPoolSecret": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secret Name."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secret Value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Secret definition."
      }
    },
    "com.azure.app#ScaleConfiguration": {
      "type": "structure",
      "members": {
        "maxConcurrentSessions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum count of sessions at the same time."
          }
        },
        "readySessionInstances": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The minimum count of ready session instances."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Scale configuration."
      }
    },
    "com.azure.app#PoolManagementType": {
      "type": "enum",
      "members": {
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Manual"
          }
        },
        "DYNAMIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Dynamic"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The pool management type of the session pool."
      }
    },
    "com.azure.app#ContainerType": {
      "type": "enum",
      "members": {
        "CUSTOMCONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CustomContainer"
          }
        },
        "PYTHONLTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PythonLTS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The container type of the sessions. You can use your own container to build the session pool, or you can use a predefined container to run workload with specific language."
      }
    },
    "com.azure.app#ContainerAppsSessionPoolsUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.app#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.app#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.app#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.app#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.app#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.app#ContainerAppsSessionPoolsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "sessionPoolName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the session pool."
          }
        },
        "tags": {
          "target": "com.azure.app#ContainerAppsSessionPoolsUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "identity": {
          "target": "com.azure.app#ContainerAppsSessionPoolsUpdateRequestIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        },
        "properties": {
          "target": "com.azure.app#SessionPoolUpdatablePropertiesProperties",
          "traits": {
            "smithy.api#documentation": "Session pool resource specific updatable properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.app#SessionPoolUpdatablePropertiesProperties": {
      "type": "structure",
      "members": {
        "scaleConfiguration": {
          "target": "com.azure.app#ScaleConfiguration",
          "traits": {
            "smithy.api#documentation": "The scale configuration of the session pool."
          }
        },
        "secrets": {
          "target": "com.azure.app#SessionPoolUpdatablePropertiesPropertiesSecretsList",
          "traits": {
            "smithy.api#documentation": "The secrets of the session pool."
          }
        },
        "dynamicPoolConfiguration": {
          "target": "com.azure.app#DynamicPoolConfiguration",
          "traits": {
            "smithy.api#documentation": "The pool configuration if the poolManagementType is dynamic."
          }
        },
        "customContainerTemplate": {
          "target": "com.azure.app#CustomContainerTemplate",
          "traits": {
            "smithy.api#documentation": "The custom container configuration if the containerType is CustomContainer."
          }
        },
        "sessionNetworkConfiguration": {
          "target": "com.azure.app#SessionNetworkConfiguration",
          "traits": {
            "smithy.api#documentation": "The network configuration of the sessions in the session pool."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Session pool resource specific updatable properties."
      }
    },
    "com.azure.app#SessionPoolUpdatablePropertiesPropertiesSecretsList": {
      "type": "list",
      "member": {
        "target": "com.azure.app#SessionPoolSecret"
      },
      "traits": {
        "smithy.api#documentation": "The secrets of the session pool."
      }
    },
    "com.azure.app#ContainerAppsSessionPoolsUpdateRequestIdentity": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.app#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.app#UserAssignedIdentitiesInput"
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.app#UserAssignedIdentitiesInput": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.app#UserAssignedIdentityInput"
      },
      "traits": {
        "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
      }
    },
    "com.azure.app#UserAssignedIdentityInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "User assigned identity properties"
      }
    },
    "com.azure.app#ContainerAppsSessionPoolsUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.app#ContainerAppsSessionPoolsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.app#ContainerAppsSessionPoolsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.app#ContainerAppsSessionPoolsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/sessionPools/{sessionPoolName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Create or update a session pool.\n\nCreate or update a session pool with the given properties.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.app#ContainerAppsSessionPoolsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.app#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.app#ContainerAppsSessionPoolsCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.app#SessionPoolProperties",
          "traits": {
            "smithy.api#documentation": "Container App session pool resource specific properties"
          }
        },
        "identity": {
          "target": "com.azure.app#ContainerAppsSessionPoolsCreateOrUpdateResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.app#ContainerAppsSessionPoolsCreateOrUpdateResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.app#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.app#UserAssignedIdentities"
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.app#ContainerAppsSessionPoolsCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.app#ContainerAppsSessionPoolsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "sessionPoolName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the session pool."
          }
        },
        "tags": {
          "target": "com.azure.app#ContainerAppsSessionPoolsCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.app#SessionPoolPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Container App session pool resource specific properties"
          }
        },
        "identity": {
          "target": "com.azure.app#ContainerAppsSessionPoolsCreateOrUpdateRequestIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.app#ContainerAppsSessionPoolsCreateOrUpdateRequestIdentity": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.app#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.app#UserAssignedIdentitiesInput"
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.app#SessionPoolPropertiesInput": {
      "type": "structure",
      "members": {
        "environmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID of the session pool's environment."
          }
        },
        "containerType": {
          "target": "com.azure.app#ContainerType",
          "traits": {
            "smithy.api#documentation": "The container type of the sessions. You can use your own container to build the session pool, or you can use a predefined container to run workload with specific language."
          }
        },
        "poolManagementType": {
          "target": "com.azure.app#PoolManagementType",
          "traits": {
            "smithy.api#documentation": "The pool management type of the session pool."
          }
        },
        "scaleConfiguration": {
          "target": "com.azure.app#ScaleConfiguration",
          "traits": {
            "smithy.api#documentation": "The scale configuration of the session pool."
          }
        },
        "secrets": {
          "target": "com.azure.app#SessionPoolPropertiesInputSecretsList",
          "traits": {
            "smithy.api#documentation": "The secrets of the session pool."
          }
        },
        "dynamicPoolConfiguration": {
          "target": "com.azure.app#DynamicPoolConfiguration",
          "traits": {
            "smithy.api#documentation": "The pool configuration if the poolManagementType is dynamic."
          }
        },
        "customContainerTemplate": {
          "target": "com.azure.app#CustomContainerTemplate",
          "traits": {
            "smithy.api#documentation": "The custom container configuration if the containerType is CustomContainer."
          }
        },
        "sessionNetworkConfiguration": {
          "target": "com.azure.app#SessionNetworkConfiguration",
          "traits": {
            "smithy.api#documentation": "The network configuration of the sessions in the session pool."
          }
        },
        "managedIdentitySettings": {
          "target": "com.azure.app#SessionPoolPropertiesInputManagedIdentitySettingsList",
          "traits": {
            "smithy.api#documentation": "Optional settings for a Managed Identity that is assigned to the Session pool."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Container App session pool resource specific properties"
      }
    },
    "com.azure.app#SessionPoolPropertiesInputManagedIdentitySettingsList": {
      "type": "list",
      "member": {
        "target": "com.azure.app#ManagedIdentitySetting"
      },
      "traits": {
        "smithy.api#documentation": "Optional settings for a Managed Identity that is assigned to the Session pool."
      }
    },
    "com.azure.app#SessionPoolPropertiesInputSecretsList": {
      "type": "list",
      "member": {
        "target": "com.azure.app#SessionPoolSecret"
      },
      "traits": {
        "smithy.api#documentation": "The secrets of the session pool."
      }
    },
    "com.azure.app#ContainerAppsSessionPoolsCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.app#ContainerAppsSessionPoolsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.app#ContainerAppsSessionPoolsGetRequest"
      },
      "output": {
        "target": "com.azure.app#ContainerAppsSessionPoolsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/sessionPools/{sessionPoolName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Get the properties of a session pool.\n\nGet the properties of a session pool.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.app#ContainerAppsSessionPoolsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.app#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.app#ContainerAppsSessionPoolsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.app#SessionPoolProperties",
          "traits": {
            "smithy.api#documentation": "Container App session pool resource specific properties"
          }
        },
        "identity": {
          "target": "com.azure.app#ContainerAppsSessionPoolsGetResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.app#ContainerAppsSessionPoolsGetResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.app#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.app#UserAssignedIdentities"
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.app#ContainerAppsSessionPoolsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.app#ContainerAppsSessionPoolsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "sessionPoolName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the session pool."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.app#ContainerAppsSessionPoolsListByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.app#ContainerAppsSessionPoolsListByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.app#SessionPoolCollection"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/sessionPools",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Get the session pools in a given resource group of a subscription.\n\nGet the session pools in a given resource group of a subscription.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.app#SessionPoolCollection": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.app#SessionPoolCollectionValueList",
          "traits": {
            "smithy.api#documentation": "The SessionPool items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Session pool collection Azure resource."
      }
    },
    "com.azure.app#SessionPoolCollectionValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.app#SessionPool"
      },
      "traits": {
        "smithy.api#documentation": "The SessionPool items on this page"
      }
    },
    "com.azure.app#SessionPool": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.app#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.app#SessionPoolTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.app#SessionPoolProperties",
          "traits": {
            "smithy.api#documentation": "Container App session pool resource specific properties"
          }
        },
        "identity": {
          "target": "com.azure.app#SessionPoolIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Container App session pool."
      }
    },
    "com.azure.app#SessionPoolIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.app#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.app#UserAssignedIdentities"
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.app#SessionPoolTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.app#ContainerAppsSessionPoolsListByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.app#ManagedEnvironmentsListWorkloadProfileStates": {
      "type": "operation",
      "input": {
        "target": "com.azure.app#ManagedEnvironmentsListWorkloadProfileStatesRequest"
      },
      "output": {
        "target": "com.azure.app#WorkloadProfileStatesCollection"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/workloadProfileStates",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Get all workload Profile States for a Managed Environment..\n\nGet all workload Profile States for a Managed Environment.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.app#WorkloadProfileStatesCollection": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.app#WorkloadProfileStatesCollectionValueList",
          "traits": {
            "smithy.api#documentation": "The workloadProfileStates items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collection of workloadProfileStates"
      }
    },
    "com.azure.app#WorkloadProfileStatesCollectionValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.app#WorkloadProfileStates"
      },
      "traits": {
        "smithy.api#documentation": "The workloadProfileStates items on this page"
      }
    },
    "com.azure.app#WorkloadProfileStates": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.app#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.app#WorkloadProfileStatesProperties",
          "traits": {
            "smithy.api#documentation": "Workload Profile resource specific properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collection of all the workload Profile States for a Managed Environment.."
      }
    },
    "com.azure.app#WorkloadProfileStatesProperties": {
      "type": "structure",
      "members": {
        "minimumCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum count of instances."
          }
        },
        "maximumCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum count of nodes."
          }
        },
        "currentCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Current count of nodes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Workload Profile resource specific properties."
      }
    },
    "com.azure.app#ManagedEnvironmentsListWorkloadProfileStatesRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Environment."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.app#ManagedEnvironmentUsagesList": {
      "type": "operation",
      "input": {
        "target": "com.azure.app#ManagedEnvironmentUsagesListRequest"
      },
      "output": {
        "target": "com.azure.app#ListUsagesResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/usages",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Gets the current usage information as well as the limits for environment.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.app#ListUsagesResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.app#ListUsagesResultValueList",
          "traits": {
            "smithy.api#documentation": "The Usage items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Paged collection of Usage items"
      }
    },
    "com.azure.app#ListUsagesResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.app#Usage"
      },
      "traits": {
        "smithy.api#documentation": "The Usage items on this page"
      }
    },
    "com.azure.app#Usage": {
      "type": "structure",
      "members": {
        "unit": {
          "target": "com.azure.app#UsageUnit",
          "traits": {
            "smithy.api#documentation": "An enum describing the unit of usage measurement.",
            "smithy.api#required": {}
          }
        },
        "currentValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The current usage of the resource.",
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum permitted usage of the resource.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.azure.app#UsageName",
          "traits": {
            "smithy.api#documentation": "The name of the type of usage.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes Compute Resource Usage."
      }
    },
    "com.azure.app#UsageName": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "localizedValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized name of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Usage Names."
      }
    },
    "com.azure.app#UsageUnit": {
      "type": "enum",
      "members": {
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Count"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An enum describing the unit of usage measurement."
      }
    },
    "com.azure.app#ManagedEnvironmentUsagesListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Environment."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.app#ManagedEnvironmentsStoragesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.app#ManagedEnvironmentsStoragesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/storages/{storageName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Delete storage for a managedEnvironment.\n\nDelete storage for a managedEnvironment.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.app#ManagedEnvironmentsStoragesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Environment."
          }
        },
        "storageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the storage."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.app#ManagedEnvironmentsStoragesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.app#ManagedEnvironmentsStoragesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.app#ManagedEnvironmentsStoragesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/storages/{storageName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Create or update storage for a managedEnvironment.\n\nCreate or update storage for a managedEnvironment.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.app#ManagedEnvironmentsStoragesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.app#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.app#ManagedEnvironmentStorageProperties",
          "traits": {
            "smithy.api#documentation": "Storage properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.app#ManagedEnvironmentStorageProperties": {
      "type": "structure",
      "members": {
        "azureFile": {
          "target": "com.azure.app#AzureFileProperties",
          "traits": {
            "smithy.api#documentation": "Azure file properties"
          }
        },
        "nfsAzureFile": {
          "target": "com.azure.app#NfsAzureFileProperties",
          "traits": {
            "smithy.api#documentation": "NFS Azure file properties"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Storage properties"
      }
    },
    "com.azure.app#NfsAzureFileProperties": {
      "type": "structure",
      "members": {
        "server": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server for NFS azure file. Specify the Azure storage account server address."
          }
        },
        "accessMode": {
          "target": "com.azure.app#AccessMode",
          "traits": {
            "smithy.api#documentation": "Access mode for storage"
          }
        },
        "shareName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "NFS Azure file share name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NFS Azure File Properties."
      }
    },
    "com.azure.app#AccessMode": {
      "type": "enum",
      "members": {
        "READONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReadOnly"
          }
        },
        "READWRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReadWrite"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Access mode for storage"
      }
    },
    "com.azure.app#AzureFileProperties": {
      "type": "structure",
      "members": {
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Storage account name for azure file."
          }
        },
        "accountKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Storage account key for azure file."
          }
        },
        "accountKeyVaultProperties": {
          "target": "com.azure.app#SecretKeyVaultProperties",
          "traits": {
            "smithy.api#documentation": "Storage account key stored as an Azure Key Vault secret."
          }
        },
        "accessMode": {
          "target": "com.azure.app#AccessMode",
          "traits": {
            "smithy.api#documentation": "Access mode for storage"
          }
        },
        "shareName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure file share name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Azure File Properties."
      }
    },
    "com.azure.app#SecretKeyVaultProperties": {
      "type": "structure",
      "members": {
        "identity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID of a managed identity to authenticate with Azure Key Vault, or System to use a system-assigned identity."
          }
        },
        "keyVaultUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL pointing to the Azure Key Vault secret."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties for a secret stored in a Key Vault."
      }
    },
    "com.azure.app#ManagedEnvironmentsStoragesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Environment."
          }
        },
        "storageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the storage."
          }
        },
        "properties": {
          "target": "com.azure.app#ManagedEnvironmentStorageProperties",
          "traits": {
            "smithy.api#documentation": "Storage properties"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.app#ManagedEnvironmentsStoragesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.app#ManagedEnvironmentsStoragesGetRequest"
      },
      "output": {
        "target": "com.azure.app#ManagedEnvironmentsStoragesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/storages/{storageName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Get storage for a managedEnvironment.\n\nGet storage for a managedEnvironment.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.app#ManagedEnvironmentsStoragesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.app#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.app#ManagedEnvironmentStorageProperties",
          "traits": {
            "smithy.api#documentation": "Storage properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.app#ManagedEnvironmentsStoragesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Environment."
          }
        },
        "storageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the storage."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.app#ManagedEnvironmentsStoragesList": {
      "type": "operation",
      "input": {
        "target": "com.azure.app#ManagedEnvironmentsStoragesListRequest"
      },
      "output": {
        "target": "com.azure.app#ManagedEnvironmentStoragesCollection"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/storages",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Get all storages for a managedEnvironment.\n\nGet all storages for a managedEnvironment.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.app#ManagedEnvironmentStoragesCollection": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.app#ManagedEnvironmentStoragesCollectionValueList",
          "traits": {
            "smithy.api#documentation": "Collection of storage resources.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collection of Storage for Environments"
      }
    },
    "com.azure.app#ManagedEnvironmentStoragesCollectionValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.app#ManagedEnvironmentStorage"
      },
      "traits": {
        "smithy.api#documentation": "Collection of storage resources."
      }
    },
    "com.azure.app#ManagedEnvironmentStorage": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.app#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.app#ManagedEnvironmentStorageProperties",
          "traits": {
            "smithy.api#documentation": "Storage properties"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Storage resource for managedEnvironment."
      }
    },
    "com.azure.app#ManagedEnvironmentsStoragesListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Environment."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.app#ManagedEnvironmentPrivateLinkResourcesList": {
      "type": "operation",
      "input": {
        "target": "com.azure.app#ManagedEnvironmentPrivateLinkResourcesListRequest"
      },
      "output": {
        "target": "com.azure.app#PrivateLinkResourceListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/privateLinkResources",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "List private link resources for a given managed environment.\n\nList private link resources for a given managed environment.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.app#PrivateLinkResourceListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.app#PrivateLinkResourceListResultValueList",
          "traits": {
            "smithy.api#documentation": "The PrivateLinkResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of private link resources for a managed environment."
      }
    },
    "com.azure.app#PrivateLinkResourceListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.app#PrivateLinkResource"
      },
      "traits": {
        "smithy.api#documentation": "The PrivateLinkResource items on this page"
      }
    },
    "com.azure.app#PrivateLinkResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.app#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.app#PrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A private link resource"
      }
    },
    "com.azure.app#PrivateLinkResourceProperties": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The private link resource group id."
          }
        },
        "requiredMembers": {
          "target": "com.azure.app#PrivateLinkResourcePropertiesRequiredMembersList",
          "traits": {
            "smithy.api#documentation": "The private link resource required member names."
          }
        },
        "requiredZoneNames": {
          "target": "com.azure.app#PrivateLinkResourcePropertiesRequiredZoneNamesList",
          "traits": {
            "smithy.api#documentation": "The private link resource private link DNS zone name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a private link resource."
      }
    },
    "com.azure.app#PrivateLinkResourcePropertiesRequiredZoneNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The private link resource private link DNS zone name."
      }
    },
    "com.azure.app#PrivateLinkResourcePropertiesRequiredMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The private link resource required member names."
      }
    },
    "com.azure.app#ManagedEnvironmentPrivateLinkResourcesListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the managed environment."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.app#ManagedEnvironmentPrivateEndpointConnectionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.app#ManagedEnvironmentPrivateEndpointConnectionsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Delete a private endpoint connection for a given managed environment.\n\nDelete a private endpoint connection for a given managed environment.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.app#ManagedEnvironmentPrivateEndpointConnectionsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the managed environment."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Private Endpoint Connection."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.app#ManagedEnvironmentPrivateEndpointConnectionsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.app#ManagedEnvironmentPrivateEndpointConnectionsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.app#ManagedEnvironmentPrivateEndpointConnectionsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Update the state of a private endpoint connection for a given managed environment.\n\nUpdate the state of a private endpoint connection for a given managed environment.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.app#ManagedEnvironmentPrivateEndpointConnectionsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.app#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.app#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.app#PrivateEndpointConnectionProperties": {
      "type": "structure",
      "members": {
        "groupIds": {
          "target": "com.azure.app#PrivateEndpointConnectionPropertiesGroupIdsList",
          "traits": {
            "smithy.api#documentation": "The group ids for the private endpoint resource."
          }
        },
        "privateEndpoint": {
          "target": "com.azure.app#PrivateEndpoint",
          "traits": {
            "smithy.api#documentation": "The resource of private end point."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.app#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.app#PrivateEndpointConnectionProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the private endpoint connection resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the private endpoint connection."
      }
    },
    "com.azure.app#PrivateEndpointConnectionProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "WAITING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Waiting"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current provisioning state."
      }
    },
    "com.azure.app#PrivateLinkServiceConnectionState": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.app#PrivateEndpointServiceConnectionStatus",
          "traits": {
            "smithy.api#documentation": "Indicates whether the connection has been Approved/Rejected/Removed by the owner of the service."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason for approval/rejection of the connection."
          }
        },
        "actionsRequired": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A message indicating if changes on the service provider require any updates on the consumer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider."
      }
    },
    "com.azure.app#PrivateEndpointServiceConnectionStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disconnected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint connection status."
      }
    },
    "com.azure.app#PrivateEndpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ARM identifier for Private Endpoint"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Private Endpoint resource."
      }
    },
    "com.azure.app#PrivateEndpointConnectionPropertiesGroupIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The group ids for the private endpoint resource."
      }
    },
    "com.azure.app#ManagedEnvironmentPrivateEndpointConnectionsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the managed environment."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Private Endpoint Connection."
          }
        },
        "properties": {
          "target": "com.azure.app#PrivateEndpointConnectionPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.app#PrivateEndpointConnectionPropertiesInput": {
      "type": "structure",
      "members": {
        "privateEndpoint": {
          "target": "com.azure.app#PrivateEndpointInput",
          "traits": {
            "smithy.api#documentation": "The resource of private end point."
          }
        },
        "privateLinkServiceConnectionState": {
[...]
