{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.appcomplianceautomation#ProviderActionsTriggerEvaluation": {
      "type": "operation",
      "input": {
        "target": "com.azure.appcomplianceautomation#ProviderActionsTriggerEvaluationRequest"
      },
      "output": {
        "target": "com.azure.appcomplianceautomation#TriggerEvaluationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/providers/Microsoft.AppComplianceAutomation/triggerEvaluation",
          "code": 200,
          "apiVersion": "2024-06-27"
        },
        "smithy.api#documentation": "Trigger quick evaluation for the given subscriptions.",
        "com.distilled.openapi#apiVersion": "2024-06-27"
      }
    },
    "com.azure.appcomplianceautomation#TriggerEvaluationResponse": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.azure.appcomplianceautomation#TriggerEvaluationProperty",
          "traits": {
            "smithy.api#documentation": "trigger evaluation property."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Trigger evaluation response."
      }
    },
    "com.azure.appcomplianceautomation#TriggerEvaluationProperty": {
      "type": "structure",
      "members": {
        "triggerTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the evaluation is triggered."
          }
        },
        "evaluationEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the evaluation is end."
          }
        },
        "resourceIds": {
          "target": "com.azure.appcomplianceautomation#TriggerEvaluationPropertyResourceIdsList",
          "traits": {
            "smithy.api#documentation": "List of resource ids to be evaluated"
          }
        },
        "quickAssessments": {
          "target": "com.azure.appcomplianceautomation#TriggerEvaluationPropertyQuickAssessmentsList",
          "traits": {
            "smithy.api#documentation": "List of quick assessments"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Trigger evaluation response."
      }
    },
    "com.azure.appcomplianceautomation#TriggerEvaluationPropertyQuickAssessmentsList": {
      "type": "list",
      "member": {
        "target": "com.azure.appcomplianceautomation#QuickAssessment"
      },
      "traits": {
        "smithy.api#documentation": "List of quick assessments"
      }
    },
    "com.azure.appcomplianceautomation#QuickAssessment": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource id."
          }
        },
        "responsibilityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Responsibility id."
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "resourceStatus": {
          "target": "com.azure.appcomplianceautomation#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "Quick assessment status."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Quick assessment display name."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Quick assessment display name."
          }
        },
        "remediationLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to remediation steps for this quick assessment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class represent the quick assessment."
      }
    },
    "com.azure.appcomplianceautomation#ResourceStatus": {
      "type": "enum",
      "members": {
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Healthy"
          }
        },
        "UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unhealthy"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates the resource status."
      }
    },
    "com.azure.appcomplianceautomation#TriggerEvaluationPropertyResourceIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of resource ids to be evaluated"
      }
    },
    "com.azure.appcomplianceautomation#ProviderActionsTriggerEvaluationRequest": {
      "type": "structure",
      "members": {
        "resourceIds": {
          "target": "com.azure.appcomplianceautomation#ProviderActionsTriggerEvaluationRequestResourceIdsList",
          "traits": {
            "smithy.api#documentation": "List of resource ids to be evaluated",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appcomplianceautomation#ProviderActionsTriggerEvaluationRequestResourceIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of resource ids to be evaluated"
      }
    },
    "com.azure.appcomplianceautomation#WebhookDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.appcomplianceautomation#WebhookDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/providers/Microsoft.AppComplianceAutomation/reports/{reportName}/webhooks/{webhookName}",
          "code": 200,
          "apiVersion": "2024-06-27"
        },
        "smithy.api#documentation": "Delete an AppComplianceAutomation webhook.",
        "com.distilled.openapi#apiVersion": "2024-06-27"
      }
    },
    "com.azure.appcomplianceautomation#WebhookDeleteRequest": {
      "type": "structure",
      "members": {
        "reportName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Report Name."
          }
        },
        "webhookName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Webhook Name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appcomplianceautomation#WebhookUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.appcomplianceautomation#WebhookUpdateRequest"
      },
      "output": {
        "target": "com.azure.appcomplianceautomation#WebhookUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/providers/Microsoft.AppComplianceAutomation/reports/{reportName}/webhooks/{webhookName}",
          "code": 200,
          "apiVersion": "2024-06-27"
        },
        "smithy.api#documentation": "Update an exiting AppComplianceAutomation webhook.",
        "com.distilled.openapi#apiVersion": "2024-06-27"
      }
    },
    "com.azure.appcomplianceautomation#WebhookUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.appcomplianceautomation#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.appcomplianceautomation#WebhookProperties",
          "traits": {
            "smithy.api#documentation": "Webhook property.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.appcomplianceautomation#WebhookProperties": {
      "type": "structure",
      "members": {
        "webhookId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Webhook id in database."
          }
        },
        "status": {
          "target": "com.azure.appcomplianceautomation#WebhookStatus",
          "traits": {
            "smithy.api#documentation": "Webhook status."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tenant id."
          }
        },
        "sendAllEvents": {
          "target": "com.azure.appcomplianceautomation#SendAllEvents",
          "traits": {
            "smithy.api#documentation": "whether to send notification under any event."
          }
        },
        "events": {
          "target": "com.azure.appcomplianceautomation#WebhookPropertiesEventsList",
          "traits": {
            "smithy.api#documentation": "under which event notification should be sent."
          }
        },
        "payloadUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "webhook payload url"
          }
        },
        "contentType": {
          "target": "com.azure.appcomplianceautomation#ContentType",
          "traits": {
            "smithy.api#documentation": "content type"
          }
        },
        "webhookKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "webhook secret token. If not set, this field value is null; otherwise, please set a string value."
          }
        },
        "updateWebhookKey": {
          "target": "com.azure.appcomplianceautomation#UpdateWebhookKey",
          "traits": {
            "smithy.api#documentation": "whether to update webhookKey."
          }
        },
        "webhookKeyEnabled": {
          "target": "com.azure.appcomplianceautomation#WebhookKeyEnabled",
          "traits": {
            "smithy.api#documentation": "whether webhookKey is enabled."
          }
        },
        "enableSslVerification": {
          "target": "com.azure.appcomplianceautomation#EnableSslVerification",
          "traits": {
            "smithy.api#documentation": "whether to enable ssl verification"
          }
        },
        "deliveryStatus": {
          "target": "com.azure.appcomplianceautomation#DeliveryStatus",
          "traits": {
            "smithy.api#documentation": "webhook deliveryStatus"
          }
        },
        "provisioningState": {
          "target": "com.azure.appcomplianceautomation#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Azure Resource Provisioning State"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Webhook properties."
      }
    },
    "com.azure.appcomplianceautomation#ProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "FIXING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Fixing"
          }
        },
        "VERIFYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Verifying"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource provisioning states."
      }
    },
    "com.azure.appcomplianceautomation#DeliveryStatus": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "NOTSTARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotStarted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "webhook deliveryStatus"
      }
    },
    "com.azure.appcomplianceautomation#EnableSslVerification": {
      "type": "enum",
      "members": {
        "TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "true"
          }
        },
        "FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "false"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "whether to enable ssl verification"
      }
    },
    "com.azure.appcomplianceautomation#WebhookKeyEnabled": {
      "type": "enum",
      "members": {
        "TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "true"
          }
        },
        "FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "false"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "whether webhookKey is enabled."
      }
    },
    "com.azure.appcomplianceautomation#UpdateWebhookKey": {
      "type": "enum",
      "members": {
        "TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "true"
          }
        },
        "FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "false"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "whether to update webhookKey."
      }
    },
    "com.azure.appcomplianceautomation#ContentType": {
      "type": "enum",
      "members": {
        "APPLICATION_JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "application/json"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "content type"
      }
    },
    "com.azure.appcomplianceautomation#WebhookPropertiesEventsList": {
      "type": "list",
      "member": {
        "target": "com.azure.appcomplianceautomation#NotificationEvent"
      },
      "traits": {
        "smithy.api#documentation": "under which event notification should be sent."
      }
    },
    "com.azure.appcomplianceautomation#NotificationEvent": {
      "type": "enum",
      "members": {
        "GENERATE_SNAPSHOT_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "generate_snapshot_success"
          }
        },
        "GENERATE_SNAPSHOT_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "generate_snapshot_failed"
          }
        },
        "ASSESSMENT_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "assessment_failure"
          }
        },
        "REPORT_CONFIGURATION_CHANGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "report_configuration_changes"
          }
        },
        "REPORT_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "report_deletion"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "notification event."
      }
    },
    "com.azure.appcomplianceautomation#SendAllEvents": {
      "type": "enum",
      "members": {
        "TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "true"
          }
        },
        "FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "false"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "whether to send notification under any event."
      }
    },
    "com.azure.appcomplianceautomation#WebhookStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Webhook status."
      }
    },
    "com.azure.appcomplianceautomation#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.appcomplianceautomation#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.appcomplianceautomation#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.appcomplianceautomation#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.appcomplianceautomation#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.appcomplianceautomation#WebhookUpdateRequest": {
      "type": "structure",
      "members": {
        "reportName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Report Name."
          }
        },
        "webhookName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Webhook Name."
          }
        },
        "properties": {
          "target": "com.azure.appcomplianceautomation#WebhookPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Webhook property."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appcomplianceautomation#WebhookPropertiesInput": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.appcomplianceautomation#WebhookStatus",
          "traits": {
            "smithy.api#documentation": "Webhook status."
          }
        },
        "sendAllEvents": {
          "target": "com.azure.appcomplianceautomation#SendAllEvents",
          "traits": {
            "smithy.api#documentation": "whether to send notification under any event."
          }
        },
        "events": {
          "target": "com.azure.appcomplianceautomation#WebhookPropertiesInputEventsList",
          "traits": {
            "smithy.api#documentation": "under which event notification should be sent."
          }
        },
        "payloadUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "webhook payload url"
          }
        },
        "contentType": {
          "target": "com.azure.appcomplianceautomation#ContentType",
          "traits": {
            "smithy.api#documentation": "content type"
          }
        },
        "webhookKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "webhook secret token. If not set, this field value is null; otherwise, please set a string value."
          }
        },
        "updateWebhookKey": {
          "target": "com.azure.appcomplianceautomation#UpdateWebhookKey",
          "traits": {
            "smithy.api#documentation": "whether to update webhookKey."
          }
        },
        "enableSslVerification": {
          "target": "com.azure.appcomplianceautomation#EnableSslVerification",
          "traits": {
            "smithy.api#documentation": "whether to enable ssl verification"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Webhook properties."
      }
    },
    "com.azure.appcomplianceautomation#WebhookPropertiesInputEventsList": {
      "type": "list",
      "member": {
        "target": "com.azure.appcomplianceautomation#NotificationEvent"
      },
      "traits": {
        "smithy.api#documentation": "under which event notification should be sent."
      }
    },
    "com.azure.appcomplianceautomation#WebhookCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.appcomplianceautomation#WebhookCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.appcomplianceautomation#WebhookCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/providers/Microsoft.AppComplianceAutomation/reports/{reportName}/webhooks/{webhookName}",
          "code": 200,
          "apiVersion": "2024-06-27"
        },
        "smithy.api#documentation": "Create a new AppComplianceAutomation webhook or update an exiting AppComplianceAutomation webhook.",
        "com.distilled.openapi#apiVersion": "2024-06-27"
      }
    },
    "com.azure.appcomplianceautomation#WebhookCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.appcomplianceautomation#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.appcomplianceautomation#WebhookProperties",
          "traits": {
            "smithy.api#documentation": "Webhook property.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.appcomplianceautomation#WebhookCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "reportName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Report Name."
          }
        },
        "webhookName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Webhook Name."
          }
        },
        "properties": {
          "target": "com.azure.appcomplianceautomation#WebhookPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Webhook property.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appcomplianceautomation#WebhookGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.appcomplianceautomation#WebhookGetRequest"
      },
      "output": {
        "target": "com.azure.appcomplianceautomation#WebhookGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.AppComplianceAutomation/reports/{reportName}/webhooks/{webhookName}",
          "code": 200,
          "apiVersion": "2024-06-27"
        },
        "smithy.api#documentation": "Get the AppComplianceAutomation webhook and its properties.",
        "com.distilled.openapi#apiVersion": "2024-06-27"
      }
    },
    "com.azure.appcomplianceautomation#WebhookGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.appcomplianceautomation#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.appcomplianceautomation#WebhookProperties",
          "traits": {
            "smithy.api#documentation": "Webhook property.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.appcomplianceautomation#WebhookGetRequest": {
      "type": "structure",
      "members": {
        "reportName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Report Name."
          }
        },
        "webhookName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Webhook Name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appcomplianceautomation#WebhookList": {
      "type": "operation",
      "input": {
        "target": "com.azure.appcomplianceautomation#WebhookListRequest"
      },
      "output": {
        "target": "com.azure.appcomplianceautomation#WebhookResourceListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.AppComplianceAutomation/reports/{reportName}/webhooks",
          "code": 200,
          "apiVersion": "2024-06-27"
        },
        "smithy.api#documentation": "Get the AppComplianceAutomation webhook list.",
        "com.distilled.openapi#apiVersion": "2024-06-27"
      }
    },
    "com.azure.appcomplianceautomation#WebhookResourceListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.appcomplianceautomation#WebhookResourceListResultValueList",
          "traits": {
            "smithy.api#documentation": "The WebhookResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a WebhookResource list operation."
      }
    },
    "com.azure.appcomplianceautomation#WebhookResourceListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.appcomplianceautomation#WebhookResource"
      },
      "traits": {
        "smithy.api#documentation": "The WebhookResource items on this page"
      }
    },
    "com.azure.appcomplianceautomation#WebhookResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.appcomplianceautomation#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.appcomplianceautomation#WebhookProperties",
          "traits": {
            "smithy.api#documentation": "Webhook property.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class represent an AppComplianceAutomation webhook resource."
      }
    },
    "com.azure.appcomplianceautomation#WebhookListRequest": {
      "type": "structure",
      "members": {
        "reportName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Report Name."
          }
        },
        "_skipToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skipToken",
            "smithy.api#documentation": "Skip over when retrieving results."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "Number of elements to return when retrieving results."
          }
        },
        "_select": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$select",
            "smithy.api#documentation": "OData Select statement. Limits the properties on each entry to just those requested, e.g. ?$select=reportName,id."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "The filter to apply on the operation."
          }
        },
        "_orderby": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$orderby",
            "smithy.api#documentation": "OData order by query option."
          }
        },
        "offerGuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "offerGuid",
            "smithy.api#documentation": "The offerGuid which mapping to the reports."
          }
        },
        "reportCreatorTenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "reportCreatorTenantId",
            "smithy.api#documentation": "The tenant id of the report creator."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appcomplianceautomation#ReportVerify": {
      "type": "operation",
      "input": {
        "target": "com.azure.appcomplianceautomation#ReportVerifyRequest"
      },
      "output": {
        "target": "com.azure.appcomplianceautomation#ReportVerificationResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/providers/Microsoft.AppComplianceAutomation/reports/{reportName}/verify",
          "code": 200,
          "apiVersion": "2024-06-27"
        },
        "smithy.api#documentation": "Verify the AppComplianceAutomation report health status.",
        "com.distilled.openapi#apiVersion": "2024-06-27"
      }
    },
    "com.azure.appcomplianceautomation#ReportVerificationResult": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.azure.appcomplianceautomation#Result",
          "traits": {
            "smithy.api#documentation": "Indicates whether the report verification action is Succeeded or Failed."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the report verification action failed, to indicate the detailed failed reason."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Report health status verification result."
      }
    },
    "com.azure.appcomplianceautomation#Result": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates whether the fix action is Succeeded or Failed."
      }
    },
    "com.azure.appcomplianceautomation#ReportVerifyRequest": {
      "type": "structure",
      "members": {
        "reportName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Report Name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appcomplianceautomation#ReportSyncCertRecord": {
      "type": "operation",
      "input": {
        "target": "com.azure.appcomplianceautomation#ReportSyncCertRecordRequest"
      },
      "output": {
        "target": "com.azure.appcomplianceautomation#SyncCertRecordResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/providers/Microsoft.AppComplianceAutomation/reports/{reportName}/syncCertRecord",
          "code": 200,
          "apiVersion": "2024-06-27"
        },
        "smithy.api#documentation": "Synchronize attestation record from app compliance.",
        "com.distilled.openapi#apiVersion": "2024-06-27"
      }
    },
    "com.azure.appcomplianceautomation#SyncCertRecordResponse": {
      "type": "structure",
      "members": {
        "certRecord": {
          "target": "com.azure.appcomplianceautomation#CertSyncRecord",
          "traits": {
            "smithy.api#documentation": "certification record synchronized."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Synchronize certification record response."
      }
    },
    "com.azure.appcomplianceautomation#CertSyncRecord": {
      "type": "structure",
      "members": {
        "offerGuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The offerGuid which mapping to the reports."
          }
        },
        "certificationStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the status of certification process."
          }
        },
        "ingestionStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the status of compliance process."
          }
        },
        "controls": {
          "target": "com.azure.appcomplianceautomation#CertSyncRecordControlsList",
          "traits": {
            "smithy.api#documentation": "The control records list to be synchronized."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class represent the certification record synchronized from app compliance."
      }
    },
    "com.azure.appcomplianceautomation#CertSyncRecordControlsList": {
      "type": "list",
      "member": {
        "target": "com.azure.appcomplianceautomation#ControlSyncRecord"
      },
      "traits": {
        "smithy.api#documentation": "The control records list to be synchronized."
      }
    },
    "com.azure.appcomplianceautomation#ControlSyncRecord": {
      "type": "structure",
      "members": {
        "controlId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Id of the control. e.g. \"Operational_Security_10\""
          }
        },
        "controlStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Control status synchronized from app compliance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class represent the control record synchronized from app compliance."
      }
    },
    "com.azure.appcomplianceautomation#ReportSyncCertRecordRequest": {
      "type": "structure",
      "members": {
        "reportName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Report Name."
          }
        },
        "certRecord": {
          "target": "com.azure.appcomplianceautomation#CertSyncRecord",
          "traits": {
            "smithy.api#documentation": "certification record to be synchronized.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appcomplianceautomation#SnapshotDownload": {
      "type": "operation",
      "input": {
        "target": "com.azure.appcomplianceautomation#SnapshotDownloadRequest"
      },
      "output": {
        "target": "com.azure.appcomplianceautomation#DownloadResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/providers/Microsoft.AppComplianceAutomation/reports/{reportName}/snapshots/{snapshotName}/download",
          "code": 200,
          "apiVersion": "2024-06-27"
        },
        "smithy.api#documentation": "Download compliance needs from snapshot, like: Compliance Report, Resource List.",
        "com.distilled.openapi#apiVersion": "2024-06-27"
      }
    },
    "com.azure.appcomplianceautomation#DownloadResponse": {
      "type": "structure",
      "members": {
        "resourceList": {
          "target": "com.azure.appcomplianceautomation#DownloadResponseResourceListList",
          "traits": {
            "smithy.api#documentation": "Resource list of the report"
          }
        },
        "complianceReport": {
          "target": "com.azure.appcomplianceautomation#DownloadResponseComplianceReportList",
          "traits": {
            "smithy.api#documentation": "List of the compliance result"
          }
        },
        "compliancePdfReport": {
          "target": "com.azure.appcomplianceautomation#DownloadResponseCompliancePdfReport",
          "traits": {
            "smithy.api#documentation": "Compliance pdf report"
          }
        },
        "complianceDetailedPdfReport": {
          "target": "com.azure.appcomplianceautomation#DownloadResponseComplianceDetailedPdfReport",
          "traits": {
            "smithy.api#documentation": "The detailed compliance pdf report"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Object that includes all the possible response for the download operation."
      }
    },
    "com.azure.appcomplianceautomation#DownloadResponseComplianceDetailedPdfReport": {
      "type": "structure",
      "members": {
        "sasUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The uri of detailed compliance pdf report"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The detailed compliance pdf report"
      }
    },
    "com.azure.appcomplianceautomation#DownloadResponseCompliancePdfReport": {
      "type": "structure",
      "members": {
        "sasUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The uri of compliance pdf report"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Compliance pdf report"
      }
    },
    "com.azure.appcomplianceautomation#DownloadResponseComplianceReportList": {
      "type": "list",
      "member": {
        "target": "com.azure.appcomplianceautomation#ComplianceReportItem"
      },
      "traits": {
        "smithy.api#documentation": "List of the compliance result"
      }
    },
    "com.azure.appcomplianceautomation#ComplianceReportItem": {
      "type": "structure",
      "members": {
        "categoryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The category name."
          }
        },
        "controlFamilyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The control family name."
          }
        },
        "controlId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The control Id - e.g. \"1\"."
          }
        },
        "controlName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The control name."
          }
        },
        "controlStatus": {
          "target": "com.azure.appcomplianceautomation#ControlStatus",
          "traits": {
            "smithy.api#documentation": "Control status."
          }
        },
        "responsibilityTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title of the customer responsibility."
          }
        },
        "responsibilityDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the customer responsibility."
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Id of the resource."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource.  e.g. \"Microsoft.SignalRService/SignalR\""
          }
        },
        "resourceOrigin": {
          "target": "com.azure.appcomplianceautomation#ResourceOrigin",
          "traits": {
            "smithy.api#documentation": "Resource origin."
          }
        },
        "resourceStatus": {
          "target": "com.azure.appcomplianceautomation#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "Resource status."
          }
        },
        "resourceStatusChangeDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status change date for the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Object that includes all the content for single compliance result."
      }
    },
    "com.azure.appcomplianceautomation#ResourceOrigin": {
      "type": "enum",
      "members": {
        "AZURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Azure"
          }
        },
        "AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS"
          }
        },
        "GCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GCP"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource Origin."
      }
    },
    "com.azure.appcomplianceautomation#ControlStatus": {
      "type": "enum",
      "members": {
        "PASSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Passed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "NOTAPPLICABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotApplicable"
          }
        },
        "PENDINGAPPROVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingApproval"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates the control status."
      }
    },
    "com.azure.appcomplianceautomation#DownloadResponseResourceListList": {
      "type": "list",
      "member": {
        "target": "com.azure.appcomplianceautomation#ResourceItem"
      },
      "traits": {
        "smithy.api#documentation": "Resource list of the report"
      }
    },
    "com.azure.appcomplianceautomation#ResourceItem": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subscription Id of this resource."
          }
        },
        "resourceGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource group name of this resource."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type of this resource. e.g. \"Microsoft.SignalRService/SignalR\""
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource Id - e.g. \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachines/vm1\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource Id."
      }
    },
    "com.azure.appcomplianceautomation#SnapshotDownloadRequest": {
      "type": "structure",
      "members": {
        "reportName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Report Name."
          }
        },
        "snapshotName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Snapshot Name."
          }
        },
        "reportCreatorTenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tenant id."
          }
        },
        "downloadType": {
          "target": "com.azure.appcomplianceautomation#DownloadType",
          "traits": {
            "smithy.api#documentation": "Indicates the download type.",
            "smithy.api#required": {}
          }
        },
        "offerGuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The offerGuid which mapping to the reports."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appcomplianceautomation#DownloadType": {
      "type": "enum",
      "members": {
        "COMPLIANCEREPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ComplianceReport"
          }
        },
        "COMPLIANCEPDFREPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CompliancePdfReport"
          }
        },
        "COMPLIANCEDETAILEDPDFREPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ComplianceDetailedPdfReport"
          }
        },
        "RESOURCELIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ResourceList"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates the download type."
      }
    },
    "com.azure.appcomplianceautomation#SnapshotGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.appcomplianceautomation#SnapshotGetRequest"
      },
      "output": {
        "target": "com.azure.appcomplianceautomation#SnapshotGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.AppComplianceAutomation/reports/{reportName}/snapshots/{snapshotName}",
          "code": 200,
          "apiVersion": "2024-06-27"
        },
        "smithy.api#documentation": "Get the AppComplianceAutomation snapshot and its properties.",
        "com.distilled.openapi#apiVersion": "2024-06-27"
      }
    },
    "com.azure.appcomplianceautomation#SnapshotGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.appcomplianceautomation#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.appcomplianceautomation#SnapshotProperties",
          "traits": {
            "smithy.api#documentation": "Snapshot's property."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.appcomplianceautomation#SnapshotProperties": {
      "type": "structure",
      "members": {
        "snapshotName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Snapshot name."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "provisioningState": {
          "target": "com.azure.appcomplianceautomation#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Azure lifecycle management"
          }
        },
        "reportProperties": {
          "target": "com.azure.appcomplianceautomation#ReportProperties",
          "traits": {
            "smithy.api#documentation": "The report essential info."
          }
        },
        "reportSystemData": {
          "target": "com.azure.appcomplianceautomation#SnapshotPropertiesReportSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "complianceResults": {
          "target": "com.azure.appcomplianceautomation#SnapshotPropertiesComplianceResultsList",
          "traits": {
            "smithy.api#documentation": "List of compliance results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Snapshot's properties."
      }
    },
    "com.azure.appcomplianceautomation#SnapshotPropertiesComplianceResultsList": {
      "type": "list",
      "member": {
        "target": "com.azure.appcomplianceautomation#ComplianceResult"
      },
      "traits": {
        "smithy.api#documentation": "List of compliance results."
      }
    },
    "com.azure.appcomplianceautomation#ComplianceResult": {
      "type": "structure",
      "members": {
        "complianceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the compliance. e.g. \"M365\""
          }
        },
        "categories": {
          "target": "com.azure.appcomplianceautomation#ComplianceResultCategoriesList",
          "traits": {
            "smithy.api#documentation": "List of categories."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class represent the compliance result."
      }
    },
    "com.azure.appcomplianceautomation#ComplianceResultCategoriesList": {
      "type": "list",
      "member": {
        "target": "com.azure.appcomplianceautomation#Category"
      },
      "traits": {
        "smithy.api#documentation": "List of categories."
      }
    },
    "com.azure.appcomplianceautomation#Category": {
      "type": "structure",
      "members": {
        "categoryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the compliance category. e.g. \"Operational Security\""
          }
        },
        "categoryStatus": {
          "target": "com.azure.appcomplianceautomation#CategoryStatus",
          "traits": {
            "smithy.api#documentation": "Category status."
          }
        },
        "controlFamilies": {
          "target": "com.azure.appcomplianceautomation#CategoryControlFamiliesList",
          "traits": {
            "smithy.api#documentation": "List of control families."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class represent the compliance category."
      }
    },
    "com.azure.appcomplianceautomation#CategoryControlFamiliesList": {
      "type": "list",
      "member": {
        "target": "com.azure.appcomplianceautomation#ControlFamily"
      },
      "traits": {
        "smithy.api#documentation": "List of control families."
      }
    },
    "com.azure.appcomplianceautomation#ControlFamily": {
      "type": "structure",
      "members": {
        "controlFamilyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the control family. e.g. \"Malware Protection - Anti-Virus\""
          }
        },
        "controlFamilyStatus": {
          "target": "com.azure.appcomplianceautomation#ControlFamilyStatus",
          "traits": {
            "smithy.api#documentation": "The control family status"
          }
        },
        "controls": {
          "target": "com.azure.appcomplianceautomation#ControlFamilyControlsList",
          "traits": {
            "smithy.api#documentation": "List of controls."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class represent the control family."
      }
    },
    "com.azure.appcomplianceautomation#ControlFamilyControlsList": {
      "type": "list",
      "member": {
        "target": "com.azure.appcomplianceautomation#Control"
      },
      "traits": {
        "smithy.api#documentation": "List of controls."
      }
    },
    "com.azure.appcomplianceautomation#Control": {
      "type": "structure",
      "members": {
        "controlId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Id of the control. e.g. \"Operational_Security_10\""
          }
        },
        "controlName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the control. e.g. \"Unsupported OS and Software.\""
          }
        },
        "controlFullName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full name of the control. e.g. \"Validate that unsupported operating systems and software components are not in use.\""
          }
        },
        "controlDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The control's description"
          }
        },
        "controlDescriptionHyperLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hyper link to the control's description'."
          }
        },
        "controlStatus": {
          "target": "com.azure.appcomplianceautomation#ControlStatus",
          "traits": {
            "smithy.api#documentation": "Control status."
          }
        },
        "responsibilities": {
          "target": "com.azure.appcomplianceautomation#ControlResponsibilitiesList",
          "traits": {
            "smithy.api#documentation": "List of customer responsibility."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class represent the control."
      }
    },
    "com.azure.appcomplianceautomation#ControlResponsibilitiesList": {
      "type": "list",
      "member": {
        "target": "com.azure.appcomplianceautomation#Responsibility"
      },
      "traits": {
        "smithy.api#documentation": "List of customer responsibility."
      }
    },
    "com.azure.appcomplianceautomation#Responsibility": {
      "type": "structure",
      "members": {
        "responsibilityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the customer responsibility."
          }
        },
        "responsibilityTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title of the customer responsibility."
          }
        },
        "responsibilityDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the customer responsibility."
          }
        },
        "responsibilityType": {
          "target": "com.azure.appcomplianceautomation#ResponsibilityType",
          "traits": {
            "smithy.api#documentation": "The type of customer responsibility."
          }
        },
        "responsibilitySeverity": {
          "target": "com.azure.appcomplianceautomation#ResponsibilitySeverity",
          "traits": {
            "smithy.api#documentation": "The severity level of this customer responsibility."
          }
        },
        "responsibilityStatus": {
          "target": "com.azure.appcomplianceautomation#ResponsibilityStatus",
          "traits": {
            "smithy.api#documentation": "The status of this customer responsibility."
          }
        },
        "responsibilityEnvironment": {
          "target": "com.azure.appcomplianceautomation#ResponsibilityEnvironment",
          "traits": {
            "smithy.api#documentation": "The supported cloud environment of this customer responsibility."
          }
        },
        "failedResourceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The count of all failed resources."
          }
        },
        "totalResourceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The count of all resources."
          }
        },
        "resourceList": {
          "target": "com.azure.appcomplianceautomation#ResponsibilityResourceListList",
          "traits": {
            "smithy.api#documentation": "List of resource."
          }
        },
        "recommendationList": {
          "target": "com.azure.appcomplianceautomation#ResponsibilityRecommendationListList",
          "traits": {
            "smithy.api#documentation": "List of recommendation."
          }
        },
        "guidance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The evidence upload guidance description."
          }
        },
        "justification": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The justification given by the user to clarify the reason."
          }
        },
        "evidenceFiles": {
          "target": "com.azure.appcomplianceautomation#ResponsibilityEvidenceFilesList",
          "traits": {
            "smithy.api#documentation": "List of evidence file url."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class represent the customer responsibility."
      }
    },
    "com.azure.appcomplianceautomation#ResponsibilityEvidenceFilesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of evidence file url."
      }
    },
    "com.azure.appcomplianceautomation#ResponsibilityRecommendationListList": {
      "type": "list",
      "member": {
        "target": "com.azure.appcomplianceautomation#Recommendation"
      },
      "traits": {
        "smithy.api#documentation": "List of recommendation."
      }
    },
    "com.azure.appcomplianceautomation#Recommendation": {
      "type": "structure",
      "members": {
        "recommendationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Id of the recommendation."
          }
        },
        "recommendationShortName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The short name of the recommendation. e.g. \"Invalid TLS config\""
          }
        },
        "recommendationSolutions": {
          "target": "com.azure.appcomplianceautomation#RecommendationRecommendationSolutionsList",
          "traits": {
            "smithy.api#documentation": "List of recommendation solutions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class represent the recommendation."
      }
    },
    "com.azure.appcomplianceautomation#RecommendationRecommendationSolutionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.appcomplianceautomation#RecommendationSolution"
      },
      "traits": {
        "smithy.api#documentation": "List of recommendation solutions."
      }
    },
    "com.azure.appcomplianceautomation#RecommendationSolution": {
      "type": "structure",
      "members": {
        "recommendationSolutionIndex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The index of the recommendation solution."
          }
        },
        "recommendationSolutionContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The detail steps of the recommendation solution."
          }
        },
        "isRecommendSolution": {
          "target": "com.azure.appcomplianceautomation#IsRecommendSolution",
          "traits": {
            "smithy.api#documentation": "Indicates whether this solution is the recommended."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class represent the recommendation solution."
      }
    },
    "com.azure.appcomplianceautomation#IsRecommendSolution": {
      "type": "enum",
      "members": {
        "TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "true"
          }
        },
        "FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "false"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates whether this solution is the recommended."
      }
    },
    "com.azure.appcomplianceautomation#ResponsibilityResourceListList": {
      "type": "list",
      "member": {
        "target": "com.azure.appcomplianceautomation#ResponsibilityResource"
      },
      "traits": {
        "smithy.api#documentation": "List of resource."
      }
    },
    "com.azure.appcomplianceautomation#ResponsibilityResource": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Id of the resource."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account Id. For example - AWS account Id."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. e.g. \"Microsoft.SignalRService/SignalR\""
          }
        },
        "resourceOrigin": {
          "target": "com.azure.appcomplianceautomation#ResourceOrigin",
          "traits": {
            "smithy.api#documentation": "Resource origin."
          }
        },
        "resourceStatus": {
          "target": "com.azure.appcomplianceautomation#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "Resource status."
          }
        },
        "resourceStatusChangeDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status change date for the resource."
          }
        },
        "recommendationIds": {
          "target": "com.azure.appcomplianceautomation#ResponsibilityResourceRecommendationIdsList",
          "traits": {
            "smithy.api#documentation": "List of recommendation id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class represent the resource."
      }
    },
    "com.azure.appcomplianceautomation#ResponsibilityResourceRecommendationIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of recommendation id."
      }
    },
    "com.azure.appcomplianceautomation#ResponsibilityEnvironment": {
      "type": "enum",
      "members": {
        "AZURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Azure"
          }
        },
        "AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS"
          }
        },
        "GCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GCP"
          }
        },
        "GENERAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "General"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates the customer responsibility supported cloud environment."
      }
    },
    "com.azure.appcomplianceautomation#ResponsibilityStatus": {
      "type": "enum",
      "members": {
        "PASSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Passed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "NOTAPPLICABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotApplicable"
          }
        },
        "PENDINGAPPROVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingApproval"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates the customer responsibility status."
      }
    },
    "com.azure.appcomplianceautomation#ResponsibilitySeverity": {
      "type": "enum",
      "members": {
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "High"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Medium"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Low"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates the customer responsibility severity."
      }
    },
    "com.azure.appcomplianceautomation#ResponsibilityType": {
      "type": "enum",
      "members": {
        "AUTOMATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Automated"
          }
        },
        "SCOPEDMANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ScopedManual"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Manual"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates the customer responsibility type."
      }
    },
    "com.azure.appcomplianceautomation#ControlFamilyStatus": {
      "type": "enum",
      "members": {
        "PASSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Passed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "NOTAPPLICABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotApplicable"
          }
        },
        "PENDINGAPPROVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingApproval"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates the control family status."
      }
    },
    "com.azure.appcomplianceautomation#CategoryStatus": {
      "type": "enum",
      "members": {
        "PASSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Passed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "NOTAPPLICABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotApplicable"
          }
        },
        "PENDINGAPPROVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingApproval"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates the category status."
      }
    },
    "com.azure.appcomplianceautomation#SnapshotPropertiesReportSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.appcomplianceautomation#SnapshotPropertiesReportSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.appcomplianceautomation#SnapshotPropertiesReportSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.appcomplianceautomation#SnapshotPropertiesReportSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.appcomplianceautomation#SnapshotPropertiesReportSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.appcomplianceautomation#ReportProperties": {
      "type": "structure",
      "members": {
        "triggerTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Report collection trigger time.",
            "smithy.api#required": {}
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Report collection trigger time's time zone, the available list can be obtained by executing \"Get-TimeZone -ListAvailable\" in PowerShell.\nAn example of valid timezone id is \"Pacific Standard Time\".",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.azure.appcomplianceautomation#ReportPropertiesResourcesList",
          "traits": {
            "smithy.api#documentation": "List of resource data.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.azure.appcomplianceautomation#ReportStatus",
          "traits": {
            "smithy.api#documentation": "Report status."
          }
        },
        "errors": {
          "target": "com.azure.appcomplianceautomation#ReportPropertiesErrorsList",
          "traits": {
            "smithy.api#documentation": "List of report error codes."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Report's tenant id."
          }
        },
        "offerGuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A list of comma-separated offerGuids indicates a series of offerGuids that map to the report. For example, \"00000000-0000-0000-0000-000000000001,00000000-0000-0000-0000-000000000002\" and \"00000000-0000-0000-0000-000000000003\"."
          }
        },
        "nextTriggerTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Report next collection trigger time."
          }
        },
        "lastTriggerTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Report last collection trigger time."
          }
        },
        "subscriptions": {
          "target": "com.azure.appcomplianceautomation#ReportPropertiesSubscriptionsList",
          "traits": {
            "smithy.api#documentation": "List of subscription Ids."
          }
        },
        "complianceStatus": {
          "target": "com.azure.appcomplianceautomation#ReportComplianceStatus",
          "traits": {
            "smithy.api#documentation": "Report compliance status."
          }
        },
        "storageInfo": {
          "target": "com.azure.appcomplianceautomation#StorageInfo",
          "traits": {
            "smithy.api#documentation": "The information of 'bring your own storage' binding to the report"
          }
        },
        "certRecords": {
          "target": "com.azure.appcomplianceautomation#ReportPropertiesCertRecordsList",
          "traits": {
            "smithy.api#documentation": "List of synchronized certification records."
          }
        },
        "provisioningState": {
          "target": "com.azure.appcomplianceautomation#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Azure lifecycle management"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Create Report's properties."
      }
    },
    "com.azure.appcomplianceautomation#ReportPropertiesCertRecordsList": {
      "type": "list",
      "member": {
        "target": "com.azure.appcomplianceautomation#CertSyncRecord"
      },
      "traits": {
        "smithy.api#documentation": "List of synchronized certification records."
      }
    },
    "com.azure.appcomplianceautomation#StorageInfo": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subscription id which 'bring your own storage' account belongs to"
          }
        },
        "resourceGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resourceGroup which 'bring your own storage' account belongs to"
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "'bring your own storage' account name"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region of 'bring your own storage' account"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The information of 'bring your own storage' account binding to the report"
      }
    },
    "com.azure.appcomplianceautomation#ReportComplianceStatus": {
      "type": "structure",
      "members": {
        "m365": {
          "target": "com.azure.appcomplianceautomation#OverviewStatus",
          "traits": {
            "smithy.api#documentation": "The Microsoft 365 certification name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list which includes all the compliance result for one report."
      }
    },
    "com.azure.appcomplianceautomation#OverviewStatus": {
      "type": "structure",
      "members": {
        "passedCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The count of all passed control."
          }
        },
        "failedCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The count of all failed control."
          }
        },
        "manualCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The count of all manual control."
          }
        },
        "notApplicableCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The count of all not applicable control."
          }
        },
        "pendingCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The count of all pending for approval control."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The overview of the compliance result for one report."
      }
    },
    "com.azure.appcomplianceautomation#ReportPropertiesSubscriptionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of subscription Ids."
      }
    },
    "com.azure.appcomplianceautomation#ReportPropertiesErrorsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of report error codes."
      }
    },
    "com.azure.appcomplianceautomation#ReportStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "REVIEWING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Reviewing"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Report status."
      }
    },
    "com.azure.appcomplianceautomation#ReportPropertiesResourcesList": {
      "type": "list",
      "member": {
        "target": "com.azure.appcomplianceautomation#ResourceMetadata"
      },
      "traits": {
        "smithy.api#documentation": "List of resource data."
      }
    },
    "com.azure.appcomplianceautomation#ResourceMetadata": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Id - e.g. \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachines/vm1\".",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type. e.g. \"Microsoft.Compute/virtualMachines\""
          }
        },
        "resourceKind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource kind."
          }
        },
        "resourceOrigin": {
          "target": "com.azure.appcomplianceautomation#ResourceOrigin",
          "traits": {
            "smithy.api#documentation": "Resource Origin."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account Id. For example - the AWS account id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Single resource Id's metadata."
      }
    },
    "com.azure.appcomplianceautomation#SnapshotGetRequest": {
      "type": "structure",
      "members": {
        "reportName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Report Name."
          }
        },
        "snapshotName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Snapshot Name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appcomplianceautomation#SnapshotList": {
      "type": "operation",
      "input": {
        "target": "com.azure.appcomplianceautomation#SnapshotListRequest"
      },
      "output": {
        "target": "com.azure.appcomplianceautomation#SnapshotResourceListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.AppComplianceAutomation/reports/{reportName}/snapshots",
          "code": 200,
          "apiVersion": "2024-06-27"
        },
        "smithy.api#documentation": "Get the AppComplianceAutomation snapshot list.",
        "com.distilled.openapi#apiVersion": "2024-06-27"
      }
    },
    "com.azure.appcomplianceautomation#SnapshotResourceListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.appcomplianceautomation#SnapshotResourceListResultValueList",
          "traits": {
            "smithy.api#documentation": "The SnapshotResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a SnapshotResource list operation."
      }
    },
    "com.azure.appcomplianceautomation#SnapshotResourceListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.appcomplianceautomation#SnapshotResource"
      },
      "traits": {
        "smithy.api#documentation": "The SnapshotResource items on this page"
      }
    },
    "com.azure.appcomplianceautomation#SnapshotResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.appcomplianceautomation#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.appcomplianceautomation#SnapshotProperties",
          "traits": {
            "smithy.api#documentation": "Snapshot's property."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class represent a AppComplianceAutomation snapshot resource."
      }
    },
    "com.azure.appcomplianceautomation#SnapshotListRequest": {
      "type": "structure",
      "members": {
        "reportName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Report Name."
          }
        },
        "_skipToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skipToken",
            "smithy.api#documentation": "Skip over when retrieving results."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "Number of elements to return when retrieving results."
          }
        },
        "_select": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$select",
            "smithy.api#documentation": "OData Select statement. Limits the properties on each entry to just those requested, e.g. ?$select=reportName,id."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "The filter to apply on the operation."
          }
        },
        "_orderby": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$orderby",
            "smithy.api#documentation": "OData order by query option."
          }
        },
        "offerGuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "offerGuid",
            "smithy.api#documentation": "The offerGuid which mapping to the reports."
          }
        },
        "reportCreatorTenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "reportCreatorTenantId",
            "smithy.api#documentation": "The tenant id of the report creator."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appcomplianceautomation#ScopingConfigurationDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.appcomplianceautomation#ScopingConfigurationDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/providers/Microsoft.AppComplianceAutomation/reports/{reportName}/scopingConfigurations/{scopingConfigurationName}",
          "code": 200,
          "apiVersion": "2024-06-27"
        },
        "smithy.api#documentation": "Clean the AppComplianceAutomation scoping configuration of the specific report.",
        "com.distilled.openapi#apiVersion": "2024-06-27"
      }
    },
    "com.azure.appcomplianceautomation#ScopingConfigurationDeleteRequest": {
      "type": "structure",
      "members": {
        "reportName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Report Name."
          }
        },
        "scopingConfigurationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The scoping configuration of the specific report."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appcomplianceautomation#ScopingConfigurationCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.appcomplianceautomation#ScopingConfigurationCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.appcomplianceautomation#ScopingConfigurationCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/providers/Microsoft.AppComplianceAutomation/reports/{reportName}/scopingConfigurations/{scopingConfigurationName}",
          "code": 200,
          "apiVersion": "2024-06-27"
        },
        "smithy.api#documentation": "Get the AppComplianceAutomation scoping configuration of the specific report.",
        "com.distilled.openapi#apiVersion": "2024-06-27"
      }
    },
    "com.azure.appcomplianceautomation#ScopingConfigurationCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.appcomplianceautomation#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.appcomplianceautomation#ScopingConfigurationProperties",
          "traits": {
            "smithy.api#documentation": "ScopingConfiguration property.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.appcomplianceautomation#ScopingConfigurationProperties": {
      "type": "structure",
      "members": {
        "answers": {
          "target": "com.azure.appcomplianceautomation#ScopingConfigurationPropertiesAnswersList",
          "traits": {
            "smithy.api#documentation": "List of scoping question answers."
          }
        },
        "provisioningState": {
          "target": "com.azure.appcomplianceautomation#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Azure lifecycle management"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ScopingConfiguration's properties."
      }
    },
[...]
