{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.appconfiguration#SnapshotsCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.appconfiguration#SnapshotsCreateRequest"
      },
      "output": {
        "target": "com.azure.appconfiguration#Snapshot"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/snapshots/{snapshotName}",
          "code": 200,
          "apiVersion": "2024-06-01"
        },
        "smithy.api#documentation": "Creates a snapshot. NOTE: This operation is intended for use in Azure Resource Manager (ARM) Template deployments. For all other scenarios involving App Configuration snapshots the data plane API should be used instead.",
        "com.distilled.openapi#apiVersion": "2024-06-01"
      }
    },
    "com.azure.appconfiguration#Snapshot": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the snapshot."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource."
          }
        },
        "properties": {
          "target": "com.azure.appconfiguration#SnapshotProperties",
          "traits": {
            "smithy.api#documentation": "All snapshot properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The snapshot resource."
      }
    },
    "com.azure.appconfiguration#SnapshotProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.appconfiguration#SnapshotPropertiesProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the snapshot."
          }
        },
        "status": {
          "target": "com.azure.appconfiguration#SnapshotPropertiesStatus",
          "traits": {
            "smithy.api#documentation": "The current status of the snapshot."
          }
        },
        "filters": {
          "target": "com.azure.appconfiguration#SnapshotPropertiesFiltersList",
          "traits": {
            "smithy.api#documentation": "A list of filters used to filter the key-values included in the snapshot.",
            "smithy.api#required": {}
          }
        },
        "compositionType": {
          "target": "com.azure.appconfiguration#SnapshotPropertiesCompositionType",
          "traits": {
            "smithy.api#documentation": "The composition type describes how the key-values within the snapshot are composed. The 'key' composition type ensures there are no two key-values containing the same key. The 'key_label' composition type ensures there are no two key-values containing the same key and label."
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that the snapshot was created."
          }
        },
        "expires": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that the snapshot will expire."
          }
        },
        "retentionPeriod": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The amount of time, in seconds, that a snapshot will remain in the archived state before expiring. This property is only writable during the creation of a snapshot. If not specified, the default lifetime of key-value revisions will be used."
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The size in bytes of the snapshot."
          }
        },
        "itemsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The amount of key-values in the snapshot."
          }
        },
        "tags": {
          "target": "com.azure.appconfiguration#SnapshotPropertiesTagsMap",
          "traits": {
            "smithy.api#documentation": "The tags of the snapshot. NOTE: These are data plane tags, not Azure Resource Manager (ARM) tags."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A value representing the current state of the snapshot."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All snapshot properties."
      }
    },
    "com.azure.appconfiguration#SnapshotPropertiesTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The tags of the snapshot. NOTE: These are data plane tags, not Azure Resource Manager (ARM) tags."
      }
    },
    "com.azure.appconfiguration#SnapshotPropertiesCompositionType": {
      "type": "enum",
      "members": {
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        },
        "KEY_LABEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key_Label"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The composition type describes how the key-values within the snapshot are composed. The 'key' composition type ensures there are no two key-values containing the same key. The 'key_label' composition type ensures there are no two key-values containing the same key and label."
      }
    },
    "com.azure.appconfiguration#SnapshotPropertiesFiltersList": {
      "type": "list",
      "member": {
        "target": "com.azure.appconfiguration#KeyValueFilter"
      },
      "traits": {
        "smithy.api#documentation": "A list of filters used to filter the key-values included in the snapshot."
      }
    },
    "com.azure.appconfiguration#KeyValueFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filters key-values by their key field.",
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filters key-values by their label field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enables filtering of key-values."
      }
    },
    "com.azure.appconfiguration#SnapshotPropertiesStatus": {
      "type": "enum",
      "members": {
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ready"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Archived"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current status of the snapshot."
      }
    },
    "com.azure.appconfiguration#SnapshotPropertiesProvisioningState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioning state of the snapshot."
      }
    },
    "com.azure.appconfiguration#SnapshotsCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "configStoreName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the configuration store."
          }
        },
        "snapshotName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the snapshot."
          }
        },
        "properties": {
          "target": "com.azure.appconfiguration#SnapshotPropertiesInput",
          "traits": {
            "smithy.api#documentation": "All snapshot properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appconfiguration#SnapshotPropertiesInput": {
      "type": "structure",
      "members": {
        "filters": {
          "target": "com.azure.appconfiguration#SnapshotPropertiesInputFiltersList",
          "traits": {
            "smithy.api#documentation": "A list of filters used to filter the key-values included in the snapshot.",
            "smithy.api#required": {}
          }
        },
        "compositionType": {
          "target": "com.azure.appconfiguration#SnapshotPropertiesInputCompositionType",
          "traits": {
            "smithy.api#documentation": "The composition type describes how the key-values within the snapshot are composed. The 'key' composition type ensures there are no two key-values containing the same key. The 'key_label' composition type ensures there are no two key-values containing the same key and label."
          }
        },
        "retentionPeriod": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The amount of time, in seconds, that a snapshot will remain in the archived state before expiring. This property is only writable during the creation of a snapshot. If not specified, the default lifetime of key-value revisions will be used."
          }
        },
        "tags": {
          "target": "com.azure.appconfiguration#SnapshotPropertiesInputTagsMap",
          "traits": {
            "smithy.api#documentation": "The tags of the snapshot. NOTE: These are data plane tags, not Azure Resource Manager (ARM) tags."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All snapshot properties."
      }
    },
    "com.azure.appconfiguration#SnapshotPropertiesInputTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The tags of the snapshot. NOTE: These are data plane tags, not Azure Resource Manager (ARM) tags."
      }
    },
    "com.azure.appconfiguration#SnapshotPropertiesInputCompositionType": {
      "type": "enum",
      "members": {
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        },
        "KEY_LABEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key_Label"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The composition type describes how the key-values within the snapshot are composed. The 'key' composition type ensures there are no two key-values containing the same key. The 'key_label' composition type ensures there are no two key-values containing the same key and label."
      }
    },
    "com.azure.appconfiguration#SnapshotPropertiesInputFiltersList": {
      "type": "list",
      "member": {
        "target": "com.azure.appconfiguration#KeyValueFilter"
      },
      "traits": {
        "smithy.api#documentation": "A list of filters used to filter the key-values included in the snapshot."
      }
    },
    "com.azure.appconfiguration#SnapshotsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.appconfiguration#SnapshotsGetRequest"
      },
      "output": {
        "target": "com.azure.appconfiguration#Snapshot"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/snapshots/{snapshotName}",
          "code": 200,
          "apiVersion": "2024-06-01"
        },
        "smithy.api#documentation": "Gets the properties of the specified snapshot. NOTE: This operation is intended for use in Azure Resource Manager (ARM) Template deployments. For all other scenarios involving App Configuration snapshots the data plane API should be used instead.",
        "com.distilled.openapi#apiVersion": "2024-06-01"
      }
    },
    "com.azure.appconfiguration#SnapshotsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "configStoreName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the configuration store."
          }
        },
        "snapshotName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the snapshot."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appconfiguration#ReplicasDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.appconfiguration#ReplicasDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/replicas/{replicaName}",
          "code": 200,
          "apiVersion": "2024-06-01"
        },
        "smithy.api#documentation": "Deletes a replica.",
        "com.distilled.openapi#apiVersion": "2024-06-01"
      }
    },
    "com.azure.appconfiguration#ReplicasDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Microsoft Azure subscription ID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group to which the container registry belongs."
          }
        },
        "configStoreName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the configuration store."
          }
        },
        "replicaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the replica."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appconfiguration#ReplicasCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.appconfiguration#ReplicasCreateRequest"
      },
      "output": {
        "target": "com.azure.appconfiguration#Replica"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/replicas/{replicaName}",
          "code": 200,
          "apiVersion": "2024-06-01"
        },
        "smithy.api#documentation": "Creates a replica with the specified parameters.",
        "com.distilled.openapi#apiVersion": "2024-06-01"
      }
    },
    "com.azure.appconfiguration#Replica": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the replica."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the replica."
          }
        },
        "systemData": {
          "target": "com.azure.appconfiguration#ReplicaSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "properties": {
          "target": "com.azure.appconfiguration#ReplicaProperties",
          "traits": {
            "smithy.api#documentation": "All replica properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The replica resource."
      }
    },
    "com.azure.appconfiguration#ReplicaProperties": {
      "type": "structure",
      "members": {
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of the replica where the replica API will be available."
          }
        },
        "provisioningState": {
          "target": "com.azure.appconfiguration#ReplicaPropertiesProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the replica."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All replica properties."
      }
    },
    "com.azure.appconfiguration#ReplicaPropertiesProvisioningState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioning state of the replica."
      }
    },
    "com.azure.appconfiguration#ReplicaSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.appconfiguration#ReplicaSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.appconfiguration#ReplicaSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.appconfiguration#ReplicaSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.appconfiguration#ReplicaSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.appconfiguration#ReplicasCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Microsoft Azure subscription ID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group to which the container registry belongs."
          }
        },
        "configStoreName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the configuration store."
          }
        },
        "replicaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the replica."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the replica."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appconfiguration#ReplicasGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.appconfiguration#ReplicasGetRequest"
      },
      "output": {
        "target": "com.azure.appconfiguration#Replica"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/replicas/{replicaName}",
          "code": 200,
          "apiVersion": "2024-06-01"
        },
        "smithy.api#documentation": "Gets the properties of the specified replica.",
        "com.distilled.openapi#apiVersion": "2024-06-01"
      }
    },
    "com.azure.appconfiguration#ReplicasGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Microsoft Azure subscription ID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group to which the container registry belongs."
          }
        },
        "configStoreName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the configuration store."
          }
        },
        "replicaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the replica."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appconfiguration#ReplicasListByConfigurationStore": {
      "type": "operation",
      "input": {
        "target": "com.azure.appconfiguration#ReplicasListByConfigurationStoreRequest"
      },
      "output": {
        "target": "com.azure.appconfiguration#ReplicaListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/replicas",
          "code": 200,
          "apiVersion": "2024-06-01"
        },
        "smithy.api#documentation": "Lists the replicas for a given configuration store.",
        "com.distilled.openapi#apiVersion": "2024-06-01"
      }
    },
    "com.azure.appconfiguration#ReplicaListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.appconfiguration#ReplicaListResultValueList",
          "traits": {
            "smithy.api#documentation": "The collection value."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI that can be used to request the next set of paged results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of a request to list replicas."
      }
    },
    "com.azure.appconfiguration#ReplicaListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.appconfiguration#Replica"
      },
      "traits": {
        "smithy.api#documentation": "The collection value."
      }
    },
    "com.azure.appconfiguration#ReplicasListByConfigurationStoreRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Microsoft Azure subscription ID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group to which the container registry belongs."
          }
        },
        "configStoreName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the configuration store."
          }
        },
        "_skipToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skipToken",
            "smithy.api#documentation": "A skip token is used to continue retrieving items after an operation returns a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appconfiguration#OperationsRegionalCheckNameAvailability": {
      "type": "operation",
      "input": {
        "target": "com.azure.appconfiguration#OperationsRegionalCheckNameAvailabilityRequest"
      },
      "output": {
        "target": "com.azure.appconfiguration#NameAvailabilityStatus"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.AppConfiguration/locations/{location}/checkNameAvailability",
          "code": 200,
          "apiVersion": "2024-06-01"
        },
        "smithy.api#documentation": "Checks whether the configuration store name is available for use.",
        "com.distilled.openapi#apiVersion": "2024-06-01"
      }
    },
    "com.azure.appconfiguration#NameAvailabilityStatus": {
      "type": "structure",
      "members": {
        "nameAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The value indicating whether the resource name is available."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If any, the error message that provides more detail for the reason that the name is not available."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If any, the reason that the name is not available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of a request to check the availability of a resource name."
      }
    },
    "com.azure.appconfiguration#OperationsRegionalCheckNameAvailabilityRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Microsoft Azure subscription ID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The location in which uniqueness will be verified."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name to check for availability.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.azure.appconfiguration#OperationsRegionalCheckNameAvailabilityRequestType",
          "traits": {
            "smithy.api#documentation": "The resource type to check for name availability.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appconfiguration#OperationsRegionalCheckNameAvailabilityRequestType": {
      "type": "enum",
      "members": {
        "MICROSOFT_APPCONFIGURATION_CONFIGURATIONSTORES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Microsoft.AppConfiguration/configurationStores"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource type to check for name availability."
      }
    },
    "com.azure.appconfiguration#ConfigurationStoresPurgeDeleted": {
      "type": "operation",
      "input": {
        "target": "com.azure.appconfiguration#ConfigurationStoresPurgeDeletedRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.AppConfiguration/locations/{location}/deletedConfigurationStores/{configStoreName}/purge",
          "code": 200,
          "apiVersion": "2024-06-01"
        },
        "smithy.api#documentation": "Permanently deletes the specified configuration store.",
        "com.distilled.openapi#apiVersion": "2024-06-01"
      }
    },
    "com.azure.appconfiguration#ConfigurationStoresPurgeDeletedRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Microsoft Azure subscription ID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The location in which uniqueness will be verified."
          }
        },
        "configStoreName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the configuration store."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appconfiguration#ConfigurationStoresGetDeleted": {
      "type": "operation",
      "input": {
        "target": "com.azure.appconfiguration#ConfigurationStoresGetDeletedRequest"
      },
      "output": {
        "target": "com.azure.appconfiguration#DeletedConfigurationStore"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.AppConfiguration/locations/{location}/deletedConfigurationStores/{configStoreName}",
          "code": 200,
          "apiVersion": "2024-06-01"
        },
        "smithy.api#documentation": "Gets a deleted Azure app configuration store.",
        "com.distilled.openapi#apiVersion": "2024-06-01"
      }
    },
    "com.azure.appconfiguration#DeletedConfigurationStore": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID for the deleted configuration store."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the configuration store."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type of the configuration store."
          }
        },
        "properties": {
          "target": "com.azure.appconfiguration#DeletedConfigurationStoreProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the deleted configuration store"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deleted configuration store information with extended details."
      }
    },
    "com.azure.appconfiguration#DeletedConfigurationStoreProperties": {
      "type": "structure",
      "members": {
        "configurationStoreId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id of the original configuration store."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the original configuration store."
          }
        },
        "deletionDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The deleted date."
          }
        },
        "scheduledPurgeDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scheduled purged date."
          }
        },
        "tags": {
          "target": "com.azure.appconfiguration#DeletedConfigurationStorePropertiesTagsMap",
          "traits": {
            "smithy.api#documentation": "Tags of the original configuration store."
          }
        },
        "purgeProtectionEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Purge protection status of the original configuration store."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the deleted configuration store."
      }
    },
    "com.azure.appconfiguration#DeletedConfigurationStorePropertiesTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tags of the original configuration store."
      }
    },
    "com.azure.appconfiguration#ConfigurationStoresGetDeletedRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Microsoft Azure subscription ID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The location in which uniqueness will be verified."
          }
        },
        "configStoreName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the configuration store."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appconfiguration#ConfigurationStoresListDeleted": {
      "type": "operation",
      "input": {
        "target": "com.azure.appconfiguration#ConfigurationStoresListDeletedRequest"
      },
      "output": {
        "target": "com.azure.appconfiguration#DeletedConfigurationStoreListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.AppConfiguration/deletedConfigurationStores",
          "code": 200,
          "apiVersion": "2024-06-01"
        },
        "smithy.api#documentation": "Gets information about the deleted configuration stores in a subscription.",
        "com.distilled.openapi#apiVersion": "2024-06-01"
      }
    },
    "com.azure.appconfiguration#DeletedConfigurationStoreListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.appconfiguration#DeletedConfigurationStoreListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of deleted configuration store."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to get the next set of deleted configuration stores."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of deleted configuration stores"
      }
    },
    "com.azure.appconfiguration#DeletedConfigurationStoreListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.appconfiguration#DeletedConfigurationStore"
      },
      "traits": {
        "smithy.api#documentation": "The list of deleted configuration store."
      }
    },
    "com.azure.appconfiguration#ConfigurationStoresListDeletedRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Microsoft Azure subscription ID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appconfiguration#KeyValuesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.appconfiguration#KeyValuesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/keyValues/{keyValueName}",
          "code": 200,
          "apiVersion": "2024-06-01"
        },
        "smithy.api#documentation": "Deletes a key-value. NOTE: This operation is intended for use in ARM Template deployments. For all other scenarios involving App Configuration key-values the data plane API should be used instead.",
        "com.distilled.openapi#apiVersion": "2024-06-01"
      }
    },
    "com.azure.appconfiguration#KeyValuesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Microsoft Azure subscription ID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group to which the container registry belongs."
          }
        },
        "configStoreName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the configuration store."
          }
        },
        "keyValueName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Identifier of key and label combination. Key and label are joined by $ character. Label is optional."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appconfiguration#KeyValuesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.appconfiguration#KeyValuesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.appconfiguration#KeyValue"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/keyValues/{keyValueName}",
          "code": 200,
          "apiVersion": "2024-06-01"
        },
        "smithy.api#documentation": "Creates a key-value. NOTE: This operation is intended for use in ARM Template deployments. For all other scenarios involving App Configuration key-values the data plane API should be used instead.",
        "com.distilled.openapi#apiVersion": "2024-06-01"
      }
    },
    "com.azure.appconfiguration#KeyValue": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource."
          }
        },
        "properties": {
          "target": "com.azure.appconfiguration#KeyValueProperties",
          "traits": {
            "smithy.api#documentation": "All key-value properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The key-value resource along with all resource properties."
      }
    },
    "com.azure.appconfiguration#KeyValueProperties": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The primary identifier of a key-value.\r\nThe key is used in unison with the label to uniquely identify a key-value."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A value used to group key-values.\r\nThe label is used in unison with the key to uniquely identify a key-value."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the key-value."
          }
        },
        "contentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content type of the key-value's value.\r\nProviding a proper content-type can enable transformations of values when they are retrieved by applications."
          }
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ETag indicating the state of a key-value within a configuration store."
          }
        },
        "lastModified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time a modifying operation was performed on the given key-value."
          }
        },
        "locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether the key-value is locked.\r\nA locked key-value may not be modified until it is unlocked."
          }
        },
        "tags": {
          "target": "com.azure.appconfiguration#KeyValuePropertiesTagsMap",
          "traits": {
            "smithy.api#documentation": "A dictionary of tags that can help identify what a key-value may be applicable for."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All key-value properties."
      }
    },
    "com.azure.appconfiguration#KeyValuePropertiesTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A dictionary of tags that can help identify what a key-value may be applicable for."
      }
    },
    "com.azure.appconfiguration#KeyValuesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Microsoft Azure subscription ID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group to which the container registry belongs."
          }
        },
        "configStoreName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the configuration store."
          }
        },
        "keyValueName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Identifier of key and label combination. Key and label are joined by $ character. Label is optional."
          }
        },
        "properties": {
          "target": "com.azure.appconfiguration#KeyValuePropertiesInput",
          "traits": {
            "smithy.api#documentation": "All key-value properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appconfiguration#KeyValuePropertiesInput": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the key-value."
          }
        },
        "contentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content type of the key-value's value.\r\nProviding a proper content-type can enable transformations of values when they are retrieved by applications."
          }
        },
        "tags": {
          "target": "com.azure.appconfiguration#KeyValuePropertiesInputTagsMap",
          "traits": {
            "smithy.api#documentation": "A dictionary of tags that can help identify what a key-value may be applicable for."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All key-value properties."
      }
    },
    "com.azure.appconfiguration#KeyValuePropertiesInputTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A dictionary of tags that can help identify what a key-value may be applicable for."
      }
    },
    "com.azure.appconfiguration#KeyValuesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.appconfiguration#KeyValuesGetRequest"
      },
      "output": {
        "target": "com.azure.appconfiguration#KeyValue"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/keyValues/{keyValueName}",
          "code": 200,
          "apiVersion": "2024-06-01"
        },
        "smithy.api#documentation": "Gets the properties of the specified key-value. NOTE: This operation is intended for use in ARM Template deployments. For all other scenarios involving App Configuration key-values the data plane API should be used instead.",
        "com.distilled.openapi#apiVersion": "2024-06-01"
      }
    },
    "com.azure.appconfiguration#KeyValuesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Microsoft Azure subscription ID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group to which the container registry belongs."
          }
        },
        "configStoreName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the configuration store."
          }
        },
        "keyValueName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Identifier of key and label combination. Key and label are joined by $ character. Label is optional."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appconfiguration#PrivateLinkResourcesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.appconfiguration#PrivateLinkResourcesGetRequest"
      },
      "output": {
        "target": "com.azure.appconfiguration#PrivateLinkResource"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/privateLinkResources/{groupName}",
          "code": 200,
          "apiVersion": "2024-06-01"
        },
        "smithy.api#documentation": "Gets a private link resource that need to be created for a configuration store.",
        "com.distilled.openapi#apiVersion": "2024-06-01"
      }
    },
    "com.azure.appconfiguration#PrivateLinkResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource."
          }
        },
        "properties": {
          "target": "com.azure.appconfiguration#PrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "Private link resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that supports private link capabilities."
      }
    },
    "com.azure.appconfiguration#PrivateLinkResourceProperties": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The private link resource group id."
          }
        },
        "requiredMembers": {
          "target": "com.azure.appconfiguration#PrivateLinkResourcePropertiesRequiredMembersList",
          "traits": {
            "smithy.api#documentation": "The private link resource required member names."
          }
        },
        "requiredZoneNames": {
          "target": "com.azure.appconfiguration#PrivateLinkResourcePropertiesRequiredZoneNamesList",
          "traits": {
            "smithy.api#documentation": "The list of required DNS zone names of the private link resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a private link resource."
      }
    },
    "com.azure.appconfiguration#PrivateLinkResourcePropertiesRequiredZoneNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of required DNS zone names of the private link resource."
      }
    },
    "com.azure.appconfiguration#PrivateLinkResourcePropertiesRequiredMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The private link resource required member names."
      }
    },
    "com.azure.appconfiguration#PrivateLinkResourcesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Microsoft Azure subscription ID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group to which the container registry belongs."
          }
        },
        "configStoreName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the configuration store."
          }
        },
        "groupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private link resource group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appconfiguration#PrivateLinkResourcesListByConfigurationStore": {
      "type": "operation",
      "input": {
        "target": "com.azure.appconfiguration#PrivateLinkResourcesListByConfigurationStoreRequest"
      },
      "output": {
        "target": "com.azure.appconfiguration#PrivateLinkResourceListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/privateLinkResources",
          "code": 200,
          "apiVersion": "2024-06-01"
        },
        "smithy.api#documentation": "Gets the private link resources that need to be created for a configuration store.",
        "com.distilled.openapi#apiVersion": "2024-06-01"
      }
    },
    "com.azure.appconfiguration#PrivateLinkResourceListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.appconfiguration#PrivateLinkResourceListResultValueList",
          "traits": {
            "smithy.api#documentation": "The collection value."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI that can be used to request the next set of paged results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of private link resources."
      }
    },
    "com.azure.appconfiguration#PrivateLinkResourceListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.appconfiguration#PrivateLinkResource"
      },
      "traits": {
        "smithy.api#documentation": "The collection value."
      }
    },
    "com.azure.appconfiguration#PrivateLinkResourcesListByConfigurationStoreRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Microsoft Azure subscription ID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group to which the container registry belongs."
          }
        },
        "configStoreName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the configuration store."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appconfiguration#PrivateEndpointConnectionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.appconfiguration#PrivateEndpointConnectionsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2024-06-01"
        },
        "smithy.api#documentation": "Deletes a private endpoint connection.",
        "com.distilled.openapi#apiVersion": "2024-06-01"
      }
    },
    "com.azure.appconfiguration#PrivateEndpointConnectionsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Microsoft Azure subscription ID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group to which the container registry belongs."
          }
        },
        "configStoreName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the configuration store."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Private endpoint connection name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appconfiguration#PrivateEndpointConnectionsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.appconfiguration#PrivateEndpointConnectionsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.appconfiguration#PrivateEndpointConnection"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2024-06-01"
        },
        "smithy.api#documentation": "Update the state of the specified private endpoint connection associated with the configuration store. This operation cannot be used to create a private endpoint connection. Private endpoint connections must be created with the Network resource provider.",
        "com.distilled.openapi#apiVersion": "2024-06-01"
      }
    },
    "com.azure.appconfiguration#PrivateEndpointConnection": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource."
          }
        },
        "properties": {
          "target": "com.azure.appconfiguration#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a private endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A private endpoint connection"
      }
    },
    "com.azure.appconfiguration#PrivateEndpointConnectionProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.appconfiguration#PrivateEndpointConnectionPropertiesProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning status of the private endpoint connection."
          }
        },
        "privateEndpoint": {
          "target": "com.azure.appconfiguration#PrivateEndpoint",
          "traits": {
            "smithy.api#documentation": "The resource of private endpoint."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.appconfiguration#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a private endpoint connection."
      }
    },
    "com.azure.appconfiguration#PrivateLinkServiceConnectionState": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.appconfiguration#PrivateLinkServiceConnectionStateStatus",
          "traits": {
            "smithy.api#documentation": "The private link service connection status."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The private link service connection description."
          }
        },
        "actionsRequired": {
          "target": "com.azure.appconfiguration#PrivateLinkServiceConnectionStateActionsRequired",
          "traits": {
            "smithy.api#documentation": "Any action that is required beyond basic workflow (approve/ reject/ disconnect)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of a private link service connection."
      }
    },
    "com.azure.appconfiguration#PrivateLinkServiceConnectionStateActionsRequired": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "RECREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Recreate"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Any action that is required beyond basic workflow (approve/ reject/ disconnect)"
      }
    },
    "com.azure.appconfiguration#PrivateLinkServiceConnectionStateStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disconnected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private link service connection status."
      }
    },
    "com.azure.appconfiguration#PrivateEndpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource Id for private endpoint"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Private endpoint which a connection belongs to."
      }
    },
    "com.azure.appconfiguration#PrivateEndpointConnectionPropertiesProvisioningState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioning status of the private endpoint connection."
      }
    },
    "com.azure.appconfiguration#PrivateEndpointConnectionsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Microsoft Azure subscription ID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group to which the container registry belongs."
          }
        },
        "configStoreName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the configuration store."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Private endpoint connection name"
          }
        },
        "properties": {
          "target": "com.azure.appconfiguration#PrivateEndpointConnectionPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The properties of a private endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appconfiguration#PrivateEndpointConnectionPropertiesInput": {
      "type": "structure",
      "members": {
        "privateEndpoint": {
          "target": "com.azure.appconfiguration#PrivateEndpoint",
          "traits": {
            "smithy.api#documentation": "The resource of private endpoint."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.appconfiguration#PrivateLinkServiceConnectionStateInput",
          "traits": {
            "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a private endpoint connection."
      }
    },
    "com.azure.appconfiguration#PrivateLinkServiceConnectionStateInput": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.appconfiguration#PrivateLinkServiceConnectionStateInputStatus",
          "traits": {
            "smithy.api#documentation": "The private link service connection status."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The private link service connection description."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of a private link service connection."
      }
    },
    "com.azure.appconfiguration#PrivateLinkServiceConnectionStateInputStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disconnected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private link service connection status."
      }
    },
    "com.azure.appconfiguration#PrivateEndpointConnectionsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.appconfiguration#PrivateEndpointConnectionsGetRequest"
      },
      "output": {
        "target": "com.azure.appconfiguration#PrivateEndpointConnection"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2024-06-01"
        },
        "smithy.api#documentation": "Gets the specified private endpoint connection associated with the configuration store.",
        "com.distilled.openapi#apiVersion": "2024-06-01"
      }
    },
    "com.azure.appconfiguration#PrivateEndpointConnectionsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Microsoft Azure subscription ID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group to which the container registry belongs."
          }
        },
        "configStoreName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the configuration store."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Private endpoint connection name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appconfiguration#PrivateEndpointConnectionsListByConfigurationStore": {
      "type": "operation",
      "input": {
        "target": "com.azure.appconfiguration#PrivateEndpointConnectionsListByConfigurationStoreRequest"
      },
      "output": {
        "target": "com.azure.appconfiguration#PrivateEndpointConnectionListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/privateEndpointConnections",
          "code": 200,
          "apiVersion": "2024-06-01"
        },
        "smithy.api#documentation": "Lists all private endpoint connections for a configuration store.",
        "com.distilled.openapi#apiVersion": "2024-06-01"
      }
    },
    "com.azure.appconfiguration#PrivateEndpointConnectionListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.appconfiguration#PrivateEndpointConnectionListResultValueList",
          "traits": {
            "smithy.api#documentation": "The collection value."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI that can be used to request the next set of paged results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of private endpoint connections"
      }
    },
    "com.azure.appconfiguration#PrivateEndpointConnectionListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.appconfiguration#PrivateEndpointConnection"
      },
      "traits": {
        "smithy.api#documentation": "The collection value."
      }
    },
    "com.azure.appconfiguration#PrivateEndpointConnectionsListByConfigurationStoreRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Microsoft Azure subscription ID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group to which the container registry belongs."
          }
        },
        "configStoreName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the configuration store."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appconfiguration#OperationsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.appconfiguration#OperationsListRequest"
      },
      "output": {
        "target": "com.azure.appconfiguration#OperationDefinitionListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.AppConfiguration/operations",
          "code": 200,
          "apiVersion": "2024-06-01"
        },
        "smithy.api#documentation": "Lists the operations available from this provider.",
        "com.distilled.openapi#apiVersion": "2024-06-01"
      }
    },
    "com.azure.appconfiguration#OperationDefinitionListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.appconfiguration#OperationDefinitionListResultValueList",
          "traits": {
            "smithy.api#documentation": "The collection value."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI that can be used to request the next set of paged results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of a request to list configuration store operations."
      }
    },
    "com.azure.appconfiguration#OperationDefinitionListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.appconfiguration#OperationDefinition"
      },
      "traits": {
        "smithy.api#documentation": "The collection value."
      }
    },
    "com.azure.appconfiguration#OperationDefinition": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation name: {provider}/{resource}/{operation}."
          }
        },
        "isDataAction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the operation is a data action"
          }
        },
        "display": {
          "target": "com.azure.appconfiguration#OperationDefinitionDisplay",
          "traits": {
            "smithy.api#documentation": "The display information for the configuration store operation."
          }
        },
        "origin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Origin of the operation"
          }
        },
        "properties": {
          "target": "com.azure.appconfiguration#OperationProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the operation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The definition of a configuration store operation."
      }
    },
    "com.azure.appconfiguration#OperationProperties": {
      "type": "structure",
      "members": {
        "serviceSpecification": {
          "target": "com.azure.appconfiguration#ServiceSpecification",
          "traits": {
            "smithy.api#documentation": "Service specifications of the operation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Extra Operation properties"
      }
    },
    "com.azure.appconfiguration#ServiceSpecification": {
      "type": "structure",
      "members": {
        "logSpecifications": {
          "target": "com.azure.appconfiguration#ServiceSpecificationLogSpecificationsList",
          "traits": {
            "smithy.api#documentation": "Specifications of the Log for Azure Monitoring"
          }
        },
        "metricSpecifications": {
          "target": "com.azure.appconfiguration#ServiceSpecificationMetricSpecificationsList",
          "traits": {
            "smithy.api#documentation": "Specifications of the Metrics for Azure Monitoring"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Service specification payload"
      }
    },
    "com.azure.appconfiguration#ServiceSpecificationMetricSpecificationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.appconfiguration#MetricSpecification"
      },
      "traits": {
        "smithy.api#documentation": "Specifications of the Metrics for Azure Monitoring"
      }
    },
    "com.azure.appconfiguration#MetricSpecification": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the metric"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Localized friendly display name of the metric"
          }
        },
        "displayDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Localized friendly description of the metric"
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unit that makes sense for the metric"
          }
        },
        "aggregationType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Only provide one value for this field. Valid values: Average, Minimum, Maximum, Total, Count."
          }
        },
        "internalMetricName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Internal metric name."
          }
        },
        "dimensions": {
          "target": "com.azure.appconfiguration#MetricSpecificationDimensionsList",
          "traits": {
            "smithy.api#documentation": "Dimensions of the metric"
          }
        },
        "fillGapWithZero": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to true, then zero will be returned for time duration where no metric is emitted/published."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifications of the Metrics for Azure Monitoring"
      }
    },
    "com.azure.appconfiguration#MetricSpecificationDimensionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.appconfiguration#MetricDimension"
      },
      "traits": {
        "smithy.api#documentation": "Dimensions of the metric"
      }
    },
    "com.azure.appconfiguration#MetricDimension": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dimension"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Localized friendly display name of the dimension"
          }
        },
        "internalName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Internal name of the dimension."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifications of the Dimension of metrics"
      }
    },
    "com.azure.appconfiguration#ServiceSpecificationLogSpecificationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.appconfiguration#LogSpecification"
      },
      "traits": {
        "smithy.api#documentation": "Specifications of the Log for Azure Monitoring"
      }
    },
    "com.azure.appconfiguration#LogSpecification": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the log"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Localized friendly display name of the log"
          }
        },
        "blobDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Blob duration of the log"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifications of the Log for Azure Monitoring"
      }
    },
    "com.azure.appconfiguration#OperationDefinitionDisplay": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource provider name: Microsoft App Configuration.\""
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource on which the operation is performed."
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operation that users can perform."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description for the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The display information for a configuration store operation."
      }
    },
    "com.azure.appconfiguration#OperationsListRequest": {
      "type": "structure",
      "members": {
        "_skipToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skipToken",
            "smithy.api#documentation": "A skip token is used to continue retrieving items after an operation returns a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appconfiguration#ConfigurationStoresRegenerateKey": {
      "type": "operation",
      "input": {
        "target": "com.azure.appconfiguration#ConfigurationStoresRegenerateKeyRequest"
      },
      "output": {
        "target": "com.azure.appconfiguration#ApiKey"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/regenerateKey",
          "code": 200,
          "apiVersion": "2024-06-01"
        },
        "smithy.api#documentation": "Regenerates an access key for the specified configuration store.",
        "com.distilled.openapi#apiVersion": "2024-06-01"
      }
    },
    "com.azure.appconfiguration#ApiKey": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A name for the key describing its usage."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the key that is used for authentication purposes."
          }
        },
        "connectionString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A connection string that can be used by supporting clients for authentication.",
            "smithy.api#sensitive": {}
          }
        },
        "lastModified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time any of the key's properties were modified."
          }
        },
        "readOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this key can only be used for read operations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An API key used for authenticating with a configuration store endpoint."
      }
    },
    "com.azure.appconfiguration#ConfigurationStoresRegenerateKeyRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Microsoft Azure subscription ID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group to which the container registry belongs."
          }
        },
        "configStoreName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the configuration store."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the key to regenerate."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appconfiguration#ConfigurationStoresListKeys": {
      "type": "operation",
      "input": {
        "target": "com.azure.appconfiguration#ConfigurationStoresListKeysRequest"
      },
      "output": {
        "target": "com.azure.appconfiguration#ApiKeyListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/listKeys",
          "code": 200,
          "apiVersion": "2024-06-01"
        },
        "smithy.api#documentation": "Lists the access key for the specified configuration store.",
        "com.distilled.openapi#apiVersion": "2024-06-01"
      }
    },
    "com.azure.appconfiguration#ApiKeyListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.appconfiguration#ApiKeyListResultValueList",
          "traits": {
            "smithy.api#documentation": "The collection value."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI that can be used to request the next set of paged results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of a request to list API keys."
      }
    },
    "com.azure.appconfiguration#ApiKeyListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.appconfiguration#ApiKey"
      },
      "traits": {
        "smithy.api#documentation": "The collection value."
      }
    },
    "com.azure.appconfiguration#ConfigurationStoresListKeysRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Microsoft Azure subscription ID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group to which the container registry belongs."
          }
        },
        "configStoreName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the configuration store."
          }
        },
        "_skipToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skipToken",
            "smithy.api#documentation": "A skip token is used to continue retrieving items after an operation returns a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appconfiguration#OperationsCheckNameAvailability": {
      "type": "operation",
      "input": {
        "target": "com.azure.appconfiguration#OperationsCheckNameAvailabilityRequest"
      },
      "output": {
        "target": "com.azure.appconfiguration#NameAvailabilityStatus"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.AppConfiguration/checkNameAvailability",
          "code": 200,
          "apiVersion": "2024-06-01"
        },
        "smithy.api#documentation": "Checks whether the configuration store name is available for use.",
        "com.distilled.openapi#apiVersion": "2024-06-01"
      }
    },
    "com.azure.appconfiguration#OperationsCheckNameAvailabilityRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Microsoft Azure subscription ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name to check for availability.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.azure.appconfiguration#OperationsCheckNameAvailabilityRequestType",
          "traits": {
[...]
