{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.appplatform#PredefinedAcceleratorsEnable": {
      "type": "operation",
      "input": {
        "target": "com.azure.appplatform#PredefinedAcceleratorsEnableRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/applicationAccelerators/{applicationAcceleratorName}/predefinedAccelerators/{predefinedAcceleratorName}/enable",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Enable predefined accelerator.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.appplatform#PredefinedAcceleratorsEnableRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Service resource."
          }
        },
        "applicationAcceleratorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the application accelerator."
          }
        },
        "predefinedAcceleratorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the predefined accelerator."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appplatform#PredefinedAcceleratorsDisable": {
      "type": "operation",
      "input": {
        "target": "com.azure.appplatform#PredefinedAcceleratorsDisableRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/applicationAccelerators/{applicationAcceleratorName}/predefinedAccelerators/{predefinedAcceleratorName}/disable",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Disable predefined accelerator.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.appplatform#PredefinedAcceleratorsDisableRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Service resource."
          }
        },
        "applicationAcceleratorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the application accelerator."
          }
        },
        "predefinedAcceleratorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the predefined accelerator."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appplatform#PredefinedAcceleratorsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.appplatform#PredefinedAcceleratorsGetRequest"
      },
      "output": {
        "target": "com.azure.appplatform#PredefinedAcceleratorsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/applicationAccelerators/{applicationAcceleratorName}/predefinedAccelerators/{predefinedAcceleratorName}",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Get the predefined accelerator.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.appplatform#PredefinedAcceleratorsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource Id for the resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource."
          }
        },
        "systemData": {
          "target": "com.azure.appplatform#SystemData"
        },
        "properties": {
          "target": "com.azure.appplatform#PredefinedAcceleratorProperties"
        },
        "sku": {
          "target": "com.azure.appplatform#Sku",
          "traits": {
            "smithy.api#documentation": "Sku of the predefined accelerator resource"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.appplatform#Sku": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Sku"
          }
        },
        "tier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tier of the Sku"
          }
        },
        "capacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Current capacity of the target resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sku of Azure Spring Apps"
      }
    },
    "com.azure.appplatform#PredefinedAcceleratorProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.appplatform#PredefinedAcceleratorPropertiesProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the predefined accelerator."
          }
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "iconUrl": {
          "target": "smithy.api#String"
        },
        "acceleratorTags": {
          "target": "com.azure.appplatform#PredefinedAcceleratorPropertiesAcceleratorTagsList"
        },
        "state": {
          "target": "com.azure.appplatform#PredefinedAcceleratorPropertiesState",
          "traits": {
            "smithy.api#documentation": "State of the predefined accelerator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Predefined accelerator properties payload"
      }
    },
    "com.azure.appplatform#PredefinedAcceleratorPropertiesState": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State of the predefined accelerator."
      }
    },
    "com.azure.appplatform#PredefinedAcceleratorPropertiesAcceleratorTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.azure.appplatform#PredefinedAcceleratorPropertiesProvisioningState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provisioning state of the predefined accelerator."
      }
    },
    "com.azure.appplatform#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.appplatform#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.appplatform#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource modification (UTC)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.appplatform#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.appplatform#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.appplatform#PredefinedAcceleratorsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Service resource."
          }
        },
        "applicationAcceleratorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the application accelerator."
          }
        },
        "predefinedAcceleratorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the predefined accelerator."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appplatform#PredefinedAcceleratorsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.appplatform#PredefinedAcceleratorsListRequest"
      },
      "output": {
        "target": "com.azure.appplatform#PredefinedAcceleratorResourceCollection"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/applicationAccelerators/{applicationAcceleratorName}/predefinedAccelerators",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Handle requests to list all predefined accelerators.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.appplatform#PredefinedAcceleratorResourceCollection": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.appplatform#PredefinedAcceleratorResourceCollectionValueList"
        },
        "nextLink": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.azure.appplatform#PredefinedAcceleratorResourceCollectionValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.appplatform#PredefinedAcceleratorResource"
      },
      "traits": {}
    },
    "com.azure.appplatform#PredefinedAcceleratorResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource Id for the resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource."
          }
        },
        "systemData": {
          "target": "com.azure.appplatform#SystemData"
        },
        "properties": {
          "target": "com.azure.appplatform#PredefinedAcceleratorProperties"
        },
        "sku": {
          "target": "com.azure.appplatform#Sku",
          "traits": {
            "smithy.api#documentation": "Sku of the predefined accelerator resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Predefined accelerator resource"
      }
    },
    "com.azure.appplatform#PredefinedAcceleratorsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Service resource."
          }
        },
        "applicationAcceleratorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the application accelerator."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appplatform#CustomizedAcceleratorsValidate": {
      "type": "operation",
      "input": {
        "target": "com.azure.appplatform#CustomizedAcceleratorsValidateRequest"
      },
      "output": {
        "target": "com.azure.appplatform#CustomizedAcceleratorValidateResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/applicationAccelerators/{applicationAcceleratorName}/customizedAccelerators/{customizedAcceleratorName}/validate",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Check the customized accelerator are valid.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.appplatform#CustomizedAcceleratorValidateResult": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.azure.appplatform#CustomizedAcceleratorValidateResultState",
          "traits": {
            "smithy.api#documentation": "State of the customized accelerator validation result"
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The detail validation results"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Validation result for customized accelerator properties"
      }
    },
    "com.azure.appplatform#CustomizedAcceleratorValidateResultState": {
      "type": "enum",
      "members": {
        "VALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Valid"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State of the customized accelerator validation result"
      }
    },
    "com.azure.appplatform#CustomizedAcceleratorsValidateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Service resource."
          }
        },
        "applicationAcceleratorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the application accelerator."
          }
        },
        "customizedAcceleratorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the customized accelerator."
          }
        },
        "acceleratorType": {
          "target": "com.azure.appplatform#CustomizedAcceleratorsValidateRequestAcceleratorType",
          "traits": {
            "smithy.api#documentation": "Type of the customized accelerator."
          }
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "iconUrl": {
          "target": "smithy.api#String"
        },
        "acceleratorTags": {
          "target": "com.azure.appplatform#CustomizedAcceleratorsValidateRequestAcceleratorTagsList"
        },
        "gitRepository": {
          "target": "com.azure.appplatform#AcceleratorGitRepository",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appplatform#AcceleratorGitRepository": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git repository URL for the accelerator.",
            "smithy.api#required": {}
          }
        },
        "intervalInSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Interval for checking for updates to Git or image repository."
          }
        },
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git repository branch to be used."
          }
        },
        "commit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git repository commit to be used."
          }
        },
        "gitTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git repository tag to be used."
          }
        },
        "authSetting": {
          "target": "com.azure.appplatform#AcceleratorAuthSetting",
          "traits": {
            "smithy.api#documentation": "Properties of the auth setting payload.",
            "smithy.api#required": {}
          }
        },
        "subPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Folder path inside the git repository to consider as the root of the accelerator or fragment."
          }
        }
      },
      "traits": {}
    },
    "com.azure.appplatform#AcceleratorAuthSetting": {
      "type": "structure",
      "members": {
        "authType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the auth setting.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Auth setting payload."
      }
    },
    "com.azure.appplatform#CustomizedAcceleratorsValidateRequestAcceleratorTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.azure.appplatform#CustomizedAcceleratorsValidateRequestAcceleratorType": {
      "type": "enum",
      "members": {
        "ACCELERATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accelerator"
          }
        },
        "FRAGMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Fragment"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the customized accelerator."
      }
    },
    "com.azure.appplatform#CustomizedAcceleratorsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.appplatform#CustomizedAcceleratorsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/applicationAccelerators/{applicationAcceleratorName}/customizedAccelerators/{customizedAcceleratorName}",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Delete the customized accelerator.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.appplatform#CustomizedAcceleratorsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Service resource."
          }
        },
        "applicationAcceleratorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the application accelerator."
          }
        },
        "customizedAcceleratorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the customized accelerator."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appplatform#CustomizedAcceleratorsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.appplatform#CustomizedAcceleratorsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.appplatform#CustomizedAcceleratorsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/applicationAccelerators/{applicationAcceleratorName}/customizedAccelerators/{customizedAcceleratorName}",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Create or update the customized accelerator.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.appplatform#CustomizedAcceleratorsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource Id for the resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource."
          }
        },
        "systemData": {
          "target": "com.azure.appplatform#SystemData"
        },
        "properties": {
          "target": "com.azure.appplatform#CustomizedAcceleratorProperties"
        },
        "sku": {
          "target": "com.azure.appplatform#Sku",
          "traits": {
            "smithy.api#documentation": "Sku of the customized accelerator resource"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.appplatform#CustomizedAcceleratorProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.appplatform#CustomizedAcceleratorPropertiesProvisioningState",
          "traits": {
            "smithy.api#documentation": "State of the customized accelerator."
          }
        },
        "acceleratorType": {
          "target": "com.azure.appplatform#CustomizedAcceleratorPropertiesAcceleratorType",
          "traits": {
            "smithy.api#documentation": "Type of the customized accelerator."
          }
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "iconUrl": {
          "target": "smithy.api#String"
        },
        "acceleratorTags": {
          "target": "com.azure.appplatform#CustomizedAcceleratorPropertiesAcceleratorTagsList"
        },
        "imports": {
          "target": "com.azure.appplatform#CustomizedAcceleratorPropertiesImportsList",
          "traits": {
            "smithy.api#documentation": "Imports references all imports that this accelerator/fragment depends upon."
          }
        },
        "gitRepository": {
          "target": "com.azure.appplatform#AcceleratorGitRepository",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Customized accelerator properties payload"
      }
    },
    "com.azure.appplatform#CustomizedAcceleratorPropertiesImportsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Imports references all imports that this accelerator/fragment depends upon."
      }
    },
    "com.azure.appplatform#CustomizedAcceleratorPropertiesAcceleratorTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.azure.appplatform#CustomizedAcceleratorPropertiesAcceleratorType": {
      "type": "enum",
      "members": {
        "ACCELERATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accelerator"
          }
        },
        "FRAGMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Fragment"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the customized accelerator."
      }
    },
    "com.azure.appplatform#CustomizedAcceleratorPropertiesProvisioningState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State of the customized accelerator."
      }
    },
    "com.azure.appplatform#CustomizedAcceleratorsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Service resource."
          }
        },
        "applicationAcceleratorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the application accelerator."
          }
        },
        "customizedAcceleratorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the customized accelerator."
          }
        },
        "properties": {
          "target": "com.azure.appplatform#CustomizedAcceleratorPropertiesInput"
        },
        "sku": {
          "target": "com.azure.appplatform#Sku",
          "traits": {
            "smithy.api#documentation": "Sku of the customized accelerator resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appplatform#CustomizedAcceleratorPropertiesInput": {
      "type": "structure",
      "members": {
        "acceleratorType": {
          "target": "com.azure.appplatform#CustomizedAcceleratorPropertiesInputAcceleratorType",
          "traits": {
            "smithy.api#documentation": "Type of the customized accelerator."
          }
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "iconUrl": {
          "target": "smithy.api#String"
        },
        "acceleratorTags": {
          "target": "com.azure.appplatform#CustomizedAcceleratorPropertiesInputAcceleratorTagsList"
        },
        "gitRepository": {
          "target": "com.azure.appplatform#AcceleratorGitRepository",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Customized accelerator properties payload"
      }
    },
    "com.azure.appplatform#CustomizedAcceleratorPropertiesInputAcceleratorTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.azure.appplatform#CustomizedAcceleratorPropertiesInputAcceleratorType": {
      "type": "enum",
      "members": {
        "ACCELERATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accelerator"
          }
        },
        "FRAGMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Fragment"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the customized accelerator."
      }
    },
    "com.azure.appplatform#CustomizedAcceleratorsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.appplatform#CustomizedAcceleratorsGetRequest"
      },
      "output": {
        "target": "com.azure.appplatform#CustomizedAcceleratorsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/applicationAccelerators/{applicationAcceleratorName}/customizedAccelerators/{customizedAcceleratorName}",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Get the customized accelerator.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.appplatform#CustomizedAcceleratorsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource Id for the resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource."
          }
        },
        "systemData": {
          "target": "com.azure.appplatform#SystemData"
        },
        "properties": {
          "target": "com.azure.appplatform#CustomizedAcceleratorProperties"
        },
        "sku": {
          "target": "com.azure.appplatform#Sku",
          "traits": {
            "smithy.api#documentation": "Sku of the customized accelerator resource"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.appplatform#CustomizedAcceleratorsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Service resource."
          }
        },
        "applicationAcceleratorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the application accelerator."
          }
        },
        "customizedAcceleratorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the customized accelerator."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appplatform#CustomizedAcceleratorsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.appplatform#CustomizedAcceleratorsListRequest"
      },
      "output": {
        "target": "com.azure.appplatform#CustomizedAcceleratorResourceCollection"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/applicationAccelerators/{applicationAcceleratorName}/customizedAccelerators",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Handle requests to list all customized accelerators.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.appplatform#CustomizedAcceleratorResourceCollection": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.appplatform#CustomizedAcceleratorResourceCollectionValueList"
        },
        "nextLink": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.azure.appplatform#CustomizedAcceleratorResourceCollectionValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.appplatform#CustomizedAcceleratorResource"
      },
      "traits": {}
    },
    "com.azure.appplatform#CustomizedAcceleratorResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource Id for the resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource."
          }
        },
        "systemData": {
          "target": "com.azure.appplatform#SystemData"
        },
        "properties": {
          "target": "com.azure.appplatform#CustomizedAcceleratorProperties"
        },
        "sku": {
          "target": "com.azure.appplatform#Sku",
          "traits": {
            "smithy.api#documentation": "Sku of the customized accelerator resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Customized accelerator resource"
      }
    },
    "com.azure.appplatform#CustomizedAcceleratorsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Service resource."
          }
        },
        "applicationAcceleratorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the application accelerator."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appplatform#ApplicationAcceleratorsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.appplatform#ApplicationAcceleratorsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/applicationAccelerators/{applicationAcceleratorName}",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Delete the application accelerator.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.appplatform#ApplicationAcceleratorsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Service resource."
          }
        },
        "applicationAcceleratorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the application accelerator."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appplatform#ApplicationAcceleratorsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.appplatform#ApplicationAcceleratorsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.appplatform#ApplicationAcceleratorsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/applicationAccelerators/{applicationAcceleratorName}",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Create or update the application accelerator.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.appplatform#ApplicationAcceleratorsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource Id for the resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource."
          }
        },
        "systemData": {
          "target": "com.azure.appplatform#SystemData"
        },
        "properties": {
          "target": "com.azure.appplatform#ApplicationAcceleratorProperties"
        },
        "sku": {
          "target": "com.azure.appplatform#Sku",
          "traits": {
            "smithy.api#documentation": "Sku of the application accelerator resource"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.appplatform#ApplicationAcceleratorProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.appplatform#ApplicationAcceleratorPropertiesProvisioningState",
          "traits": {
            "smithy.api#documentation": "State of the application accelerator."
          }
        },
        "components": {
          "target": "com.azure.appplatform#ApplicationAcceleratorPropertiesComponentsList",
          "traits": {
            "smithy.api#documentation": "Collection of components belong to application accelerator."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Application accelerator properties payload"
      }
    },
    "com.azure.appplatform#ApplicationAcceleratorPropertiesComponentsList": {
      "type": "list",
      "member": {
        "target": "com.azure.appplatform#ApplicationAcceleratorComponent"
      },
      "traits": {
        "smithy.api#documentation": "Collection of components belong to application accelerator."
      }
    },
    "com.azure.appplatform#ApplicationAcceleratorComponent": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "resourceRequests": {
          "target": "com.azure.appplatform#ApplicationAcceleratorResourceRequests"
        },
        "instances": {
          "target": "com.azure.appplatform#ApplicationAcceleratorComponentInstancesList"
        }
      },
      "traits": {}
    },
    "com.azure.appplatform#ApplicationAcceleratorComponentInstancesList": {
      "type": "list",
      "member": {
        "target": "com.azure.appplatform#ApplicationAcceleratorInstance"
      },
      "traits": {}
    },
    "com.azure.appplatform#ApplicationAcceleratorInstance": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Application Accelerator instance."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the Application Accelerator instance. It can be Pending, Running, Succeeded, Failed, Unknown."
          }
        }
      },
      "traits": {}
    },
    "com.azure.appplatform#ApplicationAcceleratorResourceRequests": {
      "type": "structure",
      "members": {
        "cpu": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cpu allocated to each application accelerator component. 1 core can be represented by 1 or 1000m"
          }
        },
        "memory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Memory allocated to each application accelerator component. 1 GB can be represented by 1Gi or 1024Mi."
          }
        },
        "instanceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Instance count of the application accelerator component."
          }
        }
      },
      "traits": {}
    },
    "com.azure.appplatform#ApplicationAcceleratorPropertiesProvisioningState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State of the application accelerator."
      }
    },
    "com.azure.appplatform#ApplicationAcceleratorsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Service resource."
          }
        },
        "applicationAcceleratorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the application accelerator."
          }
        },
        "properties": {
          "target": "com.azure.appplatform#ApplicationAcceleratorPropertiesInput"
        },
        "sku": {
          "target": "com.azure.appplatform#Sku",
          "traits": {
            "smithy.api#documentation": "Sku of the application accelerator resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appplatform#ApplicationAcceleratorPropertiesInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Application accelerator properties payload"
      }
    },
    "com.azure.appplatform#ApplicationAcceleratorsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.appplatform#ApplicationAcceleratorsGetRequest"
      },
      "output": {
        "target": "com.azure.appplatform#ApplicationAcceleratorsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/applicationAccelerators/{applicationAcceleratorName}",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Get the application accelerator.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.appplatform#ApplicationAcceleratorsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource Id for the resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource."
          }
        },
        "systemData": {
          "target": "com.azure.appplatform#SystemData"
        },
        "properties": {
          "target": "com.azure.appplatform#ApplicationAcceleratorProperties"
        },
        "sku": {
          "target": "com.azure.appplatform#Sku",
          "traits": {
            "smithy.api#documentation": "Sku of the application accelerator resource"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.appplatform#ApplicationAcceleratorsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Service resource."
          }
        },
        "applicationAcceleratorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the application accelerator."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appplatform#ApplicationAcceleratorsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.appplatform#ApplicationAcceleratorsListRequest"
      },
      "output": {
        "target": "com.azure.appplatform#ApplicationAcceleratorResourceCollection"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/applicationAccelerators",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Handle requests to list all application accelerator.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.appplatform#ApplicationAcceleratorResourceCollection": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.appplatform#ApplicationAcceleratorResourceCollectionValueList",
          "traits": {
            "smithy.api#documentation": "Collection of application accelerator resources"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Object that includes an array of application accelerator resources and a possible link for next set"
      }
    },
    "com.azure.appplatform#ApplicationAcceleratorResourceCollectionValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.appplatform#ApplicationAcceleratorResource"
      },
      "traits": {
        "smithy.api#documentation": "Collection of application accelerator resources"
      }
    },
    "com.azure.appplatform#ApplicationAcceleratorResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource Id for the resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource."
          }
        },
        "systemData": {
          "target": "com.azure.appplatform#SystemData"
        },
        "properties": {
          "target": "com.azure.appplatform#ApplicationAcceleratorProperties"
        },
        "sku": {
          "target": "com.azure.appplatform#Sku",
          "traits": {
            "smithy.api#documentation": "Sku of the application accelerator resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Application accelerator resource"
      }
    },
    "com.azure.appplatform#ApplicationAcceleratorsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Service resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appplatform#ApiPortalsValidateDomain": {
      "type": "operation",
      "input": {
        "target": "com.azure.appplatform#ApiPortalsValidateDomainRequest"
      },
      "output": {
        "target": "com.azure.appplatform#CustomDomainValidateResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apiPortals/{apiPortalName}/validateDomain",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Check the domains are valid as well as not in use.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.appplatform#CustomDomainValidateResult": {
      "type": "structure",
      "members": {
        "isValid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if domain name is valid."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message of why domain name is invalid."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Validation result for custom domain."
      }
    },
    "com.azure.appplatform#ApiPortalsValidateDomainRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Service resource."
          }
        },
        "apiPortalName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of API portal."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name to be validated",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appplatform#ApiPortalCustomDomainsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.appplatform#ApiPortalCustomDomainsListRequest"
      },
      "output": {
        "target": "com.azure.appplatform#ApiPortalCustomDomainResourceCollection"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apiPortals/{apiPortalName}/domains",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Handle requests to list all API portal custom domains.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.appplatform#ApiPortalCustomDomainResourceCollection": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.appplatform#ApiPortalCustomDomainResourceCollectionValueList",
          "traits": {
            "smithy.api#documentation": "Collection of API portal custom domain resources"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Object that includes an array of API portal custom domain resources and a possible link for next set"
      }
    },
    "com.azure.appplatform#ApiPortalCustomDomainResourceCollectionValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.appplatform#ApiPortalCustomDomainResource"
      },
      "traits": {
        "smithy.api#documentation": "Collection of API portal custom domain resources"
      }
    },
    "com.azure.appplatform#ApiPortalCustomDomainResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource Id for the resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource."
          }
        },
        "systemData": {
          "target": "com.azure.appplatform#SystemData"
        },
        "properties": {
          "target": "com.azure.appplatform#ApiPortalCustomDomainProperties"
        }
      },
      "traits": {
        "smithy.api#documentation": "Custom domain of the API portal"
      }
    },
    "com.azure.appplatform#ApiPortalCustomDomainProperties": {
      "type": "structure",
      "members": {
        "thumbprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The thumbprint of bound certificate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of custom domain for API portal"
      }
    },
    "com.azure.appplatform#ApiPortalCustomDomainsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Service resource."
          }
        },
        "apiPortalName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of API portal."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appplatform#ApiPortalCustomDomainsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.appplatform#ApiPortalCustomDomainsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apiPortals/{apiPortalName}/domains/{domainName}",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Delete the API portal custom domain.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.appplatform#ApiPortalCustomDomainsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Service resource."
          }
        },
        "apiPortalName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of API portal."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the API portal custom domain."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appplatform#ApiPortalCustomDomainsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.appplatform#ApiPortalCustomDomainsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.appplatform#ApiPortalCustomDomainsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apiPortals/{apiPortalName}/domains/{domainName}",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Create or update the API portal custom domain.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.appplatform#ApiPortalCustomDomainsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource Id for the resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource."
          }
        },
        "systemData": {
          "target": "com.azure.appplatform#SystemData"
        },
        "properties": {
          "target": "com.azure.appplatform#ApiPortalCustomDomainProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.appplatform#ApiPortalCustomDomainsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Service resource."
          }
        },
        "apiPortalName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of API portal."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the API portal custom domain."
          }
        },
        "properties": {
          "target": "com.azure.appplatform#ApiPortalCustomDomainProperties"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appplatform#ApiPortalCustomDomainsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.appplatform#ApiPortalCustomDomainsGetRequest"
      },
      "output": {
        "target": "com.azure.appplatform#ApiPortalCustomDomainsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apiPortals/{apiPortalName}/domains/{domainName}",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Get the API portal custom domain.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.appplatform#ApiPortalCustomDomainsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource Id for the resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource."
          }
        },
        "systemData": {
          "target": "com.azure.appplatform#SystemData"
        },
        "properties": {
          "target": "com.azure.appplatform#ApiPortalCustomDomainProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.appplatform#ApiPortalCustomDomainsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Service resource."
          }
        },
        "apiPortalName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of API portal."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the API portal custom domain."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appplatform#ApiPortalsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.appplatform#ApiPortalsListRequest"
      },
      "output": {
        "target": "com.azure.appplatform#ApiPortalResourceCollection"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apiPortals",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Handles requests to list all resources in a Service.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.appplatform#ApiPortalResourceCollection": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.appplatform#ApiPortalResourceCollectionValueList",
          "traits": {
            "smithy.api#documentation": "Collection of API portal resources"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Object that includes an array of API portal resources and a possible link for next set"
      }
    },
    "com.azure.appplatform#ApiPortalResourceCollectionValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.appplatform#ApiPortalResource"
      },
      "traits": {
        "smithy.api#documentation": "Collection of API portal resources"
      }
    },
    "com.azure.appplatform#ApiPortalResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource Id for the resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource."
          }
        },
        "systemData": {
          "target": "com.azure.appplatform#SystemData"
        },
        "properties": {
          "target": "com.azure.appplatform#ApiPortalProperties"
        },
        "sku": {
          "target": "com.azure.appplatform#Sku",
          "traits": {
            "smithy.api#documentation": "Sku of the API portal resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "API portal resource"
      }
    },
    "com.azure.appplatform#ApiPortalProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.appplatform#ApiPortalPropertiesProvisioningState",
          "traits": {
            "smithy.api#documentation": "State of the API portal."
          }
        },
        "public": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the API portal exposes endpoint."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the API portal, exposed when 'public' is true."
          }
        },
        "httpsOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicate if only https is allowed."
          }
        },
        "gatewayIds": {
          "target": "com.azure.appplatform#ApiPortalPropertiesGatewayIdsList",
          "traits": {
            "smithy.api#documentation": "The array of resource Ids of gateway to integrate with API portal."
          }
        },
        "sourceUrls": {
          "target": "com.azure.appplatform#ApiPortalPropertiesSourceUrlsList",
          "traits": {
            "smithy.api#documentation": "Collection of OpenAPI source URL locations."
          }
        },
        "ssoProperties": {
          "target": "com.azure.appplatform#SsoProperties"
        },
        "resourceRequests": {
          "target": "com.azure.appplatform#ApiPortalResourceRequests",
          "traits": {
            "smithy.api#documentation": "The requested resource quantity for required CPU and Memory."
          }
        },
        "instances": {
          "target": "com.azure.appplatform#ApiPortalPropertiesInstancesList",
          "traits": {
            "smithy.api#documentation": "Collection of instances belong to API portal."
          }
        },
        "apiTryOutEnabledState": {
          "target": "com.azure.appplatform#ApiPortalPropertiesApiTryOutEnabledState",
          "traits": {
            "smithy.api#documentation": "Indicates whether the API try-out feature is enabled or disabled. When enabled, users can try out the API by sending requests and viewing responses in API portal. When disabled, users cannot try out the API."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "API portal properties payload"
      }
    },
    "com.azure.appplatform#ApiPortalPropertiesApiTryOutEnabledState": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates whether the API try-out feature is enabled or disabled. When enabled, users can try out the API by sending requests and viewing responses in API portal. When disabled, users cannot try out the API."
      }
    },
    "com.azure.appplatform#ApiPortalPropertiesInstancesList": {
      "type": "list",
      "member": {
        "target": "com.azure.appplatform#ApiPortalInstance"
      },
      "traits": {
        "smithy.api#documentation": "Collection of instances belong to API portal."
      }
    },
    "com.azure.appplatform#ApiPortalInstance": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the API portal instance"
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the API portal instance"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collection of instances belong to the API portal"
      }
    },
    "com.azure.appplatform#ApiPortalResourceRequests": {
      "type": "structure",
      "members": {
        "cpu": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cpu allocated to each API portal instance"
          }
        },
        "memory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Memory allocated to each API portal instance"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource requests of the API portal"
      }
    },
    "com.azure.appplatform#SsoProperties": {
      "type": "structure",
      "members": {
        "scope": {
          "target": "com.azure.appplatform#SsoPropertiesScopeList",
          "traits": {
            "smithy.api#documentation": "It defines the specific actions applications can be allowed to do on a user's behalf"
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The public identifier for the application"
          }
        },
        "clientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secret known only to the application and the authorization server",
            "smithy.api#sensitive": {}
          }
        },
        "issuerUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of Issuer Identifier"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Single sign-on related configuration"
      }
    },
    "com.azure.appplatform#SsoPropertiesScopeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "It defines the specific actions applications can be allowed to do on a user's behalf"
      }
    },
    "com.azure.appplatform#ApiPortalPropertiesSourceUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Collection of OpenAPI source URL locations."
      }
    },
    "com.azure.appplatform#ApiPortalPropertiesGatewayIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The array of resource Ids of gateway to integrate with API portal."
      }
    },
    "com.azure.appplatform#ApiPortalPropertiesProvisioningState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State of the API portal."
      }
    },
    "com.azure.appplatform#ApiPortalsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Service resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appplatform#ApiPortalsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.appplatform#ApiPortalsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apiPortals/{apiPortalName}",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Delete the default API portal.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.appplatform#ApiPortalsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Service resource."
          }
        },
        "apiPortalName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of API portal."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.appplatform#ApiPortalsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.appplatform#ApiPortalsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.appplatform#ApiPortalsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apiPortals/{apiPortalName}",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Create the default API portal or update the existing API portal.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.appplatform#ApiPortalsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource Id for the resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource."
          }
        },
        "systemData": {
          "target": "com.azure.appplatform#SystemData"
        },
        "properties": {
          "target": "com.azure.appplatform#ApiPortalProperties"
        },
        "sku": {
          "target": "com.azure.appplatform#Sku",
          "traits": {
            "smithy.api#documentation": "Sku of the API portal resource"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.appplatform#ApiPortalsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Service resource."
          }
        },
        "apiPortalName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of API portal."
          }
        },
        "properties": {
          "target": "com.azure.appplatform#ApiPortalPropertiesInput"
        },
        "sku": {
[...]
