{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.azure.automanage#ListHCIReportByConfigurationProfileAssignments": {
      "type": "operation",
      "input": {
        "target": "com.azure.automanage#ListHCIReportByConfigurationProfileAssignmentsRequest"
      },
      "output": {
        "target": "com.azure.automanage#ReportList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHci/clusters/{clusterName}/providers/Microsoft.Automanage/configurationProfileAssignments/{configurationProfileAssignmentName}/reports",
          "code": 200,
          "apiVersion": "2022-05-04"
        },
        "smithy.api#documentation": "Retrieve a list of reports within a given configuration profile assignment",
        "com.distilled.openapi#apiVersion": "2022-05-04"
      }
    },
    "com.azure.automanage#ReportList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.automanage#ReportListValueList",
          "traits": {
            "smithy.api#documentation": "Result of the list report operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of the list report operation."
      }
    },
    "com.azure.automanage#ReportListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.automanage#Report"
      },
      "traits": {
        "smithy.api#documentation": "Result of the list report operation."
      }
    },
    "com.azure.automanage#Report": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.automanage#AssignmentReportProperties",
          "traits": {
            "smithy.api#documentation": "The properties for the report."
          }
        },
        "systemData": {
          "target": "com.azure.automanage#ReportSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of the report."
      }
    },
    "com.azure.automanage#ReportSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.automanage#ReportSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.automanage#ReportSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.automanage#ReportSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.automanage#ReportSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.automanage#AssignmentReportProperties": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time of the configuration profile assignment processing."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time of the configuration profile assignment processing."
          }
        },
        "lastModifiedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last modified time of the configuration profile assignment processing."
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Duration of the configuration profile assignment processing."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the configuration profile assignment processing (Initial/Consistency)."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status of the configuration profile assignment."
          }
        },
        "configurationProfile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The configurationProfile linked to the assignment."
          }
        },
        "resources": {
          "target": "com.azure.automanage#AssignmentReportPropertiesResourcesList",
          "traits": {
            "smithy.api#documentation": "List of resources processed by the configuration profile assignment."
          }
        },
        "error": {
          "target": "com.azure.automanage#AssignmentReportPropertiesError",
          "traits": {
            "smithy.api#documentation": "The error detail."
          }
        },
        "reportFormatVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the report format"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data related to the report detail."
      }
    },
    "com.azure.automanage#AssignmentReportPropertiesError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error target."
          }
        },
        "details": {
          "target": "com.azure.automanage#AssignmentReportPropertiesErrorDetailsList",
          "traits": {
            "smithy.api#documentation": "The error details."
          }
        },
        "additionalInfo": {
          "target": "com.azure.automanage#AssignmentReportPropertiesErrorAdditionalInfoList",
          "traits": {
            "smithy.api#documentation": "The error additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The error detail."
      }
    },
    "com.azure.automanage#AssignmentReportPropertiesErrorAdditionalInfoList": {
      "type": "list",
      "member": {
        "target": "com.azure.automanage#ErrorAdditionalInfo"
      },
      "traits": {
        "smithy.api#documentation": "The error additional info."
      }
    },
    "com.azure.automanage#ErrorAdditionalInfo": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The additional info type."
          }
        },
        "info": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource management error additional info."
      }
    },
    "com.azure.automanage#AssignmentReportPropertiesErrorDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.automanage#ErrorDetail"
      },
      "traits": {
        "smithy.api#documentation": "The error details."
      }
    },
    "com.azure.automanage#ErrorDetail": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error target."
          }
        },
        "details": {
          "target": "com.azure.automanage#ErrorDetailDetailsList",
          "traits": {
            "smithy.api#documentation": "The error details."
          }
        },
        "additionalInfo": {
          "target": "com.azure.automanage#ErrorDetailAdditionalInfoList",
          "traits": {
            "smithy.api#documentation": "The error additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The error detail."
      }
    },
    "com.azure.automanage#ErrorDetailAdditionalInfoList": {
      "type": "list",
      "member": {
        "target": "com.azure.automanage#ErrorAdditionalInfo"
      },
      "traits": {
        "smithy.api#documentation": "The error additional info."
      }
    },
    "com.azure.automanage#ErrorDetailDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.automanage#ErrorDetail"
      },
      "traits": {
        "smithy.api#documentation": "The error details."
      }
    },
    "com.azure.automanage#AssignmentReportPropertiesResourcesList": {
      "type": "list",
      "member": {
        "target": "com.azure.automanage#ReportResource"
      },
      "traits": {
        "smithy.api#documentation": "List of resources processed by the configuration profile assignment."
      }
    },
    "com.azure.automanage#ReportResource": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ARM id of the resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the resource."
          }
        },
        "error": {
          "target": "com.azure.automanage#ReportResourceError",
          "traits": {
            "smithy.api#documentation": "The error detail."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about the resource processed by the configuration profile assignment"
      }
    },
    "com.azure.automanage#ReportResourceError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error target."
          }
        },
        "details": {
          "target": "com.azure.automanage#ReportResourceErrorDetailsList",
          "traits": {
            "smithy.api#documentation": "The error details."
          }
        },
        "additionalInfo": {
          "target": "com.azure.automanage#ReportResourceErrorAdditionalInfoList",
          "traits": {
            "smithy.api#documentation": "The error additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The error detail."
      }
    },
    "com.azure.automanage#ReportResourceErrorAdditionalInfoList": {
      "type": "list",
      "member": {
        "target": "com.azure.automanage#ErrorAdditionalInfo"
      },
      "traits": {
        "smithy.api#documentation": "The error additional info."
      }
    },
    "com.azure.automanage#ReportResourceErrorDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.automanage#ErrorDetail"
      },
      "traits": {
        "smithy.api#documentation": "The error details."
      }
    },
    "com.azure.automanage#ListHCIReportByConfigurationProfileAssignmentsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Arc machine."
          }
        },
        "configurationProfileAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The configuration profile assignment name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automanage#GetHCIReport": {
      "type": "operation",
      "input": {
        "target": "com.azure.automanage#GetHCIReportRequest"
      },
      "output": {
        "target": "com.azure.automanage#GetHCIReportResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHci/clusters/{clusterName}/providers/Microsoft.Automanage/configurationProfileAssignments/{configurationProfileAssignmentName}/reports/{reportName}",
          "code": 200,
          "apiVersion": "2022-05-04"
        },
        "smithy.api#documentation": "Get information about a report associated with a configuration profile assignment run",
        "com.distilled.openapi#apiVersion": "2022-05-04"
      }
    },
    "com.azure.automanage#GetHCIReportResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.automanage#AssignmentReportProperties",
          "traits": {
            "smithy.api#documentation": "The properties for the report."
          }
        },
        "systemData": {
          "target": "com.azure.automanage#GetHCIReportResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.automanage#GetHCIReportResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.automanage#GetHCIReportResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.automanage#GetHCIReportResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.automanage#GetHCIReportResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.automanage#GetHCIReportResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.automanage#GetHCIReportRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Arc machine."
          }
        },
        "configurationProfileAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The configuration profile assignment name."
          }
        },
        "reportName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The report name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automanage#ListConfigurationProfileAssignmentByClusterName": {
      "type": "operation",
      "input": {
        "target": "com.azure.automanage#ListConfigurationProfileAssignmentByClusterNameRequest"
      },
      "output": {
        "target": "com.azure.automanage#ConfigurationProfileAssignmentList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHci/clusters/{clusterName}/providers/Microsoft.Automanage/configurationProfileAssignments",
          "code": 200,
          "apiVersion": "2022-05-04"
        },
        "smithy.api#documentation": "Get list of configuration profile assignments",
        "com.distilled.openapi#apiVersion": "2022-05-04"
      }
    },
    "com.azure.automanage#ConfigurationProfileAssignmentList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.automanage#ConfigurationProfileAssignmentListValueList",
          "traits": {
            "smithy.api#documentation": "Result of the list configuration profile assignment operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of the list configuration profile assignment operation."
      }
    },
    "com.azure.automanage#ConfigurationProfileAssignmentListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.automanage#ConfigurationProfileAssignment"
      },
      "traits": {
        "smithy.api#documentation": "Result of the list configuration profile assignment operation."
      }
    },
    "com.azure.automanage#ConfigurationProfileAssignment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.automanage#ConfigurationProfileAssignmentProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the configuration profile assignment."
          }
        },
        "managedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource id. Indicates if this resource is managed by another Azure resource."
          }
        },
        "systemData": {
          "target": "com.azure.automanage#ConfigurationProfileAssignmentSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration profile assignment is an association between a VM and automanage profile configuration."
      }
    },
    "com.azure.automanage#ConfigurationProfileAssignmentSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.automanage#ConfigurationProfileAssignmentSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.automanage#ConfigurationProfileAssignmentSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.automanage#ConfigurationProfileAssignmentSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.automanage#ConfigurationProfileAssignmentSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.automanage#ConfigurationProfileAssignmentProperties": {
      "type": "structure",
      "members": {
        "configurationProfile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Automanage configurationProfile ARM Resource URI."
          }
        },
        "targetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The target VM resource URI"
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status of onboarding, which only appears in the response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Automanage configuration profile assignment properties."
      }
    },
    "com.azure.automanage#ListConfigurationProfileAssignmentByClusterNameRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Arc machine."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automanage#DeleteConfigurationProfileHCIAssignment": {
      "type": "operation",
      "input": {
        "target": "com.azure.automanage#DeleteConfigurationProfileHCIAssignmentRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHci/clusters/{clusterName}/providers/Microsoft.Automanage/configurationProfileAssignments/{configurationProfileAssignmentName}",
          "code": 200,
          "apiVersion": "2022-05-04"
        },
        "smithy.api#documentation": "Delete a configuration profile assignment",
        "com.distilled.openapi#apiVersion": "2022-05-04"
      }
    },
    "com.azure.automanage#DeleteConfigurationProfileHCIAssignmentRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Arc machine."
          }
        },
        "configurationProfileAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the configuration profile assignment"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automanage#ConfigurationProfileHCIAssignmentsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.automanage#ConfigurationProfileHCIAssignmentsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.automanage#ConfigurationProfileHCIAssignmentsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHci/clusters/{clusterName}/providers/Microsoft.Automanage/configurationProfileAssignments/{configurationProfileAssignmentName}",
          "code": 200,
          "apiVersion": "2022-05-04"
        },
        "smithy.api#documentation": "Creates an association between a AzureStackHCI cluster and Automanage configuration profile",
        "com.distilled.openapi#apiVersion": "2022-05-04"
      }
    },
    "com.azure.automanage#ConfigurationProfileHCIAssignmentsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.automanage#ConfigurationProfileAssignmentProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the configuration profile assignment."
          }
        },
        "managedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource id. Indicates if this resource is managed by another Azure resource."
          }
        },
        "systemData": {
          "target": "com.azure.automanage#ConfigurationProfileHCIAssignmentsCreateOrUpdateResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.automanage#ConfigurationProfileHCIAssignmentsCreateOrUpdateResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.automanage#ConfigurationProfileHCIAssignmentsCreateOrUpdateResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.automanage#ConfigurationProfileHCIAssignmentsCreateOrUpdateResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.automanage#ConfigurationProfileHCIAssignmentsCreateOrUpdateResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.automanage#ConfigurationProfileHCIAssignmentsCreateOrUpdateResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.automanage#ConfigurationProfileHCIAssignmentsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Arc machine."
          }
        },
        "configurationProfileAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the configuration profile assignment. Only default is supported."
          }
        },
        "properties": {
          "target": "com.azure.automanage#ConfigurationProfileAssignmentPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Properties of the configuration profile assignment."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automanage#ConfigurationProfileAssignmentPropertiesInput": {
      "type": "structure",
      "members": {
        "configurationProfile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Automanage configurationProfile ARM Resource URI."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Automanage configuration profile assignment properties."
      }
    },
    "com.azure.automanage#GetConfigurationProfileHCIAssignment": {
      "type": "operation",
      "input": {
        "target": "com.azure.automanage#GetConfigurationProfileHCIAssignmentRequest"
      },
      "output": {
        "target": "com.azure.automanage#GetConfigurationProfileHCIAssignmentResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHci/clusters/{clusterName}/providers/Microsoft.Automanage/configurationProfileAssignments/{configurationProfileAssignmentName}",
          "code": 200,
          "apiVersion": "2022-05-04"
        },
        "smithy.api#documentation": "Get information about a configuration profile assignment",
        "com.distilled.openapi#apiVersion": "2022-05-04"
      }
    },
    "com.azure.automanage#GetConfigurationProfileHCIAssignmentResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.automanage#ConfigurationProfileAssignmentProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the configuration profile assignment."
          }
        },
        "managedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource id. Indicates if this resource is managed by another Azure resource."
          }
        },
        "systemData": {
          "target": "com.azure.automanage#GetConfigurationProfileHCIAssignmentResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.automanage#GetConfigurationProfileHCIAssignmentResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.automanage#GetConfigurationProfileHCIAssignmentResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.automanage#GetConfigurationProfileHCIAssignmentResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.automanage#GetConfigurationProfileHCIAssignmentResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.automanage#GetConfigurationProfileHCIAssignmentResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.automanage#GetConfigurationProfileHCIAssignmentRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Arc machine."
          }
        },
        "configurationProfileAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The configuration profile assignment name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automanage#ListHCRPReportByConfigurationProfileAssignments": {
      "type": "operation",
      "input": {
        "target": "com.azure.automanage#ListHCRPReportByConfigurationProfileAssignmentsRequest"
      },
      "output": {
        "target": "com.azure.automanage#ReportList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{machineName}/providers/Microsoft.Automanage/configurationProfileAssignments/{configurationProfileAssignmentName}/reports",
          "code": 200,
          "apiVersion": "2022-05-04"
        },
        "smithy.api#documentation": "Retrieve a list of reports within a given configuration profile assignment",
        "com.distilled.openapi#apiVersion": "2022-05-04"
      }
    },
    "com.azure.automanage#ListHCRPReportByConfigurationProfileAssignmentsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "machineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Arc machine."
          }
        },
        "configurationProfileAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The configuration profile assignment name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automanage#GetHCRPReport": {
      "type": "operation",
      "input": {
        "target": "com.azure.automanage#GetHCRPReportRequest"
      },
      "output": {
        "target": "com.azure.automanage#GetHCRPReportResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{machineName}/providers/Microsoft.Automanage/configurationProfileAssignments/{configurationProfileAssignmentName}/reports/{reportName}",
          "code": 200,
          "apiVersion": "2022-05-04"
        },
        "smithy.api#documentation": "Get information about a report associated with a configuration profile assignment run",
        "com.distilled.openapi#apiVersion": "2022-05-04"
      }
    },
    "com.azure.automanage#GetHCRPReportResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.automanage#AssignmentReportProperties",
          "traits": {
            "smithy.api#documentation": "The properties for the report."
          }
        },
        "systemData": {
          "target": "com.azure.automanage#GetHCRPReportResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.automanage#GetHCRPReportResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.automanage#GetHCRPReportResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.automanage#GetHCRPReportResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.automanage#GetHCRPReportResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.automanage#GetHCRPReportResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.automanage#GetHCRPReportRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "machineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Arc machine."
          }
        },
        "configurationProfileAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The configuration profile assignment name."
          }
        },
        "reportName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The report name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automanage#ListConfigurationProfileAssignmentByMachineName": {
      "type": "operation",
      "input": {
        "target": "com.azure.automanage#ListConfigurationProfileAssignmentByMachineNameRequest"
      },
      "output": {
        "target": "com.azure.automanage#ConfigurationProfileAssignmentList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{machineName}/providers/Microsoft.Automanage/configurationProfileAssignments",
          "code": 200,
          "apiVersion": "2022-05-04"
        },
        "smithy.api#documentation": "Get list of configuration profile assignments",
        "com.distilled.openapi#apiVersion": "2022-05-04"
      }
    },
    "com.azure.automanage#ListConfigurationProfileAssignmentByMachineNameRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "machineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Arc machine."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automanage#DeleteConfigurationProfileHCRPAssignment": {
      "type": "operation",
      "input": {
        "target": "com.azure.automanage#DeleteConfigurationProfileHCRPAssignmentRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{machineName}/providers/Microsoft.Automanage/configurationProfileAssignments/{configurationProfileAssignmentName}",
          "code": 200,
          "apiVersion": "2022-05-04"
        },
        "smithy.api#documentation": "Delete a configuration profile assignment",
        "com.distilled.openapi#apiVersion": "2022-05-04"
      }
    },
    "com.azure.automanage#DeleteConfigurationProfileHCRPAssignmentRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "machineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Arc machine."
          }
        },
        "configurationProfileAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the configuration profile assignment"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automanage#ConfigurationProfileHCRPAssignmentsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.automanage#ConfigurationProfileHCRPAssignmentsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.automanage#ConfigurationProfileHCRPAssignmentsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{machineName}/providers/Microsoft.Automanage/configurationProfileAssignments/{configurationProfileAssignmentName}",
          "code": 200,
          "apiVersion": "2022-05-04"
        },
        "smithy.api#documentation": "Creates an association between a ARC machine and Automanage configuration profile",
        "com.distilled.openapi#apiVersion": "2022-05-04"
      }
    },
    "com.azure.automanage#ConfigurationProfileHCRPAssignmentsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.automanage#ConfigurationProfileAssignmentProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the configuration profile assignment."
          }
        },
        "managedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource id. Indicates if this resource is managed by another Azure resource."
          }
        },
        "systemData": {
          "target": "com.azure.automanage#ConfigurationProfileHCRPAssignmentsCreateOrUpdateResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.automanage#ConfigurationProfileHCRPAssignmentsCreateOrUpdateResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.automanage#ConfigurationProfileHCRPAssignmentsCreateOrUpdateResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.automanage#ConfigurationProfileHCRPAssignmentsCreateOrUpdateResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.automanage#ConfigurationProfileHCRPAssignmentsCreateOrUpdateResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.automanage#ConfigurationProfileHCRPAssignmentsCreateOrUpdateResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.automanage#ConfigurationProfileHCRPAssignmentsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "machineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Arc machine."
          }
        },
        "configurationProfileAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the configuration profile assignment. Only default is supported."
          }
        },
        "properties": {
          "target": "com.azure.automanage#ConfigurationProfileAssignmentPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Properties of the configuration profile assignment."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automanage#GetConfigurationProfileHCRPAssignment": {
      "type": "operation",
      "input": {
        "target": "com.azure.automanage#GetConfigurationProfileHCRPAssignmentRequest"
      },
      "output": {
        "target": "com.azure.automanage#GetConfigurationProfileHCRPAssignmentResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{machineName}/providers/Microsoft.Automanage/configurationProfileAssignments/{configurationProfileAssignmentName}",
          "code": 200,
          "apiVersion": "2022-05-04"
        },
        "smithy.api#documentation": "Get information about a configuration profile assignment",
        "com.distilled.openapi#apiVersion": "2022-05-04"
      }
    },
    "com.azure.automanage#GetConfigurationProfileHCRPAssignmentResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.automanage#ConfigurationProfileAssignmentProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the configuration profile assignment."
          }
        },
        "managedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource id. Indicates if this resource is managed by another Azure resource."
          }
        },
        "systemData": {
          "target": "com.azure.automanage#GetConfigurationProfileHCRPAssignmentResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.automanage#GetConfigurationProfileHCRPAssignmentResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.automanage#GetConfigurationProfileHCRPAssignmentResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.automanage#GetConfigurationProfileHCRPAssignmentResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.automanage#GetConfigurationProfileHCRPAssignmentResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.automanage#GetConfigurationProfileHCRPAssignmentResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.automanage#GetConfigurationProfileHCRPAssignmentRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "machineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Arc machine."
          }
        },
        "configurationProfileAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The configuration profile assignment name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automanage#GetServicePrincipal": {
      "type": "operation",
      "input": {
        "target": "com.azure.automanage#GetServicePrincipalRequest"
      },
      "output": {
        "target": "com.azure.automanage#GetServicePrincipalResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Automanage/servicePrincipals/default",
          "code": 200,
          "apiVersion": "2022-05-04"
        },
        "smithy.api#documentation": "Get the Automanage AAD first party Application Service Principal details for the subscription id.",
        "com.distilled.openapi#apiVersion": "2022-05-04"
      }
    },
    "com.azure.automanage#GetServicePrincipalResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.automanage#ServicePrincipalProperties",
          "traits": {
            "smithy.api#documentation": "The Service Principal properties for the subscription"
          }
        },
        "systemData": {
          "target": "com.azure.automanage#GetServicePrincipalResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.automanage#GetServicePrincipalResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.automanage#GetServicePrincipalResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.automanage#GetServicePrincipalResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.automanage#GetServicePrincipalResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.automanage#GetServicePrincipalResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.automanage#ServicePrincipalProperties": {
      "type": "structure",
      "members": {
        "servicePrincipalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Service Principal Id for the subscription."
          }
        },
        "authorizationSet": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Returns the contributor RBAC Role exist or not for the Service Principal Id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Service Principal properties for the subscription."
      }
    },
    "com.azure.automanage#GetServicePrincipalRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automanage#ListServicePrincipalBySubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.automanage#ListServicePrincipalBySubscriptionRequest"
      },
      "output": {
        "target": "com.azure.automanage#ServicePrincipalListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Automanage/servicePrincipals",
          "code": 200,
          "apiVersion": "2022-05-04"
        },
        "smithy.api#documentation": "Get the Automanage AAD first party Application Service Principal details for the subscription id.",
        "com.distilled.openapi#apiVersion": "2022-05-04"
      }
    },
    "com.azure.automanage#ServicePrincipalListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.automanage#ServicePrincipalListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of servicePrincipals."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of ServicePrincipals."
      }
    },
    "com.azure.automanage#ServicePrincipalListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.automanage#ServicePrincipal"
      },
      "traits": {
        "smithy.api#documentation": "The list of servicePrincipals."
      }
    },
    "com.azure.automanage#ServicePrincipal": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.automanage#ServicePrincipalProperties",
          "traits": {
            "smithy.api#documentation": "The Service Principal properties for the subscription"
          }
        },
        "systemData": {
          "target": "com.azure.automanage#ServicePrincipalSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Service Principal Id for the subscription."
      }
    },
    "com.azure.automanage#ServicePrincipalSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.automanage#ServicePrincipalSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.automanage#ServicePrincipalSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.automanage#ServicePrincipalSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.automanage#ServicePrincipalSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.automanage#ListServicePrincipalBySubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automanage#ListReportByConfigurationProfileAssignments": {
      "type": "operation",
      "input": {
        "target": "com.azure.automanage#ListReportByConfigurationProfileAssignmentsRequest"
      },
      "output": {
        "target": "com.azure.automanage#ReportList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/providers/Microsoft.Automanage/configurationProfileAssignments/{configurationProfileAssignmentName}/reports",
          "code": 200,
          "apiVersion": "2022-05-04"
        },
        "smithy.api#documentation": "Retrieve a list of reports within a given configuration profile assignment",
        "com.distilled.openapi#apiVersion": "2022-05-04"
      }
    },
    "com.azure.automanage#ListReportByConfigurationProfileAssignmentsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vmName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual machine."
          }
        },
        "configurationProfileAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The configuration profile assignment name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automanage#GetReport": {
      "type": "operation",
      "input": {
        "target": "com.azure.automanage#GetReportRequest"
      },
      "output": {
        "target": "com.azure.automanage#GetReportResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/providers/Microsoft.Automanage/configurationProfileAssignments/{configurationProfileAssignmentName}/reports/{reportName}",
          "code": 200,
          "apiVersion": "2022-05-04"
        },
        "smithy.api#documentation": "Get information about a report associated with a configuration profile assignment run",
        "com.distilled.openapi#apiVersion": "2022-05-04"
      }
    },
    "com.azure.automanage#GetReportResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.automanage#AssignmentReportProperties",
          "traits": {
            "smithy.api#documentation": "The properties for the report."
          }
        },
        "systemData": {
          "target": "com.azure.automanage#GetReportResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.automanage#GetReportResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.automanage#GetReportResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.automanage#GetReportResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.automanage#GetReportResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.automanage#GetReportResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
[...]
