{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.automation#WebhookGenerateUri": {
      "type": "operation",
      "input": {
        "target": "com.azure.automation#WebhookGenerateUriRequest"
      },
      "output": {
        "target": "com.azure.automation#WebhookGenerateUriResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/webhooks/generateUri",
          "code": 200,
          "apiVersion": "2024-10-23"
        },
        "smithy.api#documentation": "Generates a Uri for use in creating a webhook.",
        "com.distilled.openapi#apiVersion": "2024-10-23"
      }
    },
    "com.azure.automation#WebhookGenerateUriResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.automation#WebhookGenerateUriRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "automationAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the automation account."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automation#WebhookDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.automation#WebhookDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/webhooks/{webhookName}",
          "code": 200,
          "apiVersion": "2024-10-23"
        },
        "smithy.api#documentation": "Delete the webhook by name.",
        "com.distilled.openapi#apiVersion": "2024-10-23"
      }
    },
    "com.azure.automation#WebhookDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "automationAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the automation account."
          }
        },
        "webhookName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The webhook name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automation#WebhookUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.automation#WebhookUpdateRequest"
      },
      "output": {
        "target": "com.azure.automation#WebhookUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/webhooks/{webhookName}",
          "code": 200,
          "apiVersion": "2024-10-23"
        },
        "smithy.api#documentation": "Update the webhook identified by webhook name.",
        "com.distilled.openapi#apiVersion": "2024-10-23"
      }
    },
    "com.azure.automation#WebhookUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.automation#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.automation#WebhookProperties",
          "traits": {
            "smithy.api#documentation": "Gets or sets the webhook properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.automation#WebhookProperties": {
      "type": "structure",
      "members": {
        "isEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Gets or sets the value of the enabled flag of the webhook."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the webhook uri."
          }
        },
        "expiryTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the expiry time."
          }
        },
        "lastInvokedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the last invoked time.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "parameters": {
          "target": "com.azure.automation#WebhookPropertiesParametersMap",
          "traits": {
            "smithy.api#documentation": "Gets or sets the parameters of the job that is created when the webhook calls the runbook it is associated with."
          }
        },
        "runbook": {
          "target": "com.azure.automation#RunbookAssociationProperty",
          "traits": {
            "smithy.api#documentation": "Gets or sets the runbook the webhook is associated with."
          }
        },
        "runOn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the name of the hybrid worker group the webhook job will run on."
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the creation time."
          }
        },
        "lastModifiedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the last modified time."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Details of the user who last modified the Webhook"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the description."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of the webhook properties"
      }
    },
    "com.azure.automation#RunbookAssociationProperty": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the name of the runbook."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The runbook property associated with the entity."
      }
    },
    "com.azure.automation#WebhookPropertiesParametersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the parameters of the job that is created when the webhook calls the runbook it is associated with."
      }
    },
    "com.azure.automation#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.automation#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.automation#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.automation#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.automation#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.automation#WebhookUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "automationAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the automation account."
          }
        },
        "webhookName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The webhook name."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the name of the webhook."
          }
        },
        "properties": {
          "target": "com.azure.automation#WebhookUpdateProperties",
          "traits": {
            "smithy.api#documentation": "Gets or sets the value of the webhook."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automation#WebhookUpdateProperties": {
      "type": "structure",
      "members": {
        "isEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Gets or sets the value of the enabled flag of webhook."
          }
        },
        "runOn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the name of the hybrid worker group the webhook job will run on."
          }
        },
        "parameters": {
          "target": "com.azure.automation#WebhookUpdatePropertiesParametersMap",
          "traits": {
            "smithy.api#documentation": "Gets or sets the parameters of the job."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the description of the webhook."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the update webhook."
      }
    },
    "com.azure.automation#WebhookUpdatePropertiesParametersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the parameters of the job."
      }
    },
    "com.azure.automation#WebhookCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.automation#WebhookCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.automation#WebhookCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/webhooks/{webhookName}",
          "code": 200,
          "apiVersion": "2024-10-23"
        },
        "smithy.api#documentation": "Create the webhook identified by webhook name.",
        "com.distilled.openapi#apiVersion": "2024-10-23"
      }
    },
    "com.azure.automation#WebhookCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.automation#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.automation#WebhookProperties",
          "traits": {
            "smithy.api#documentation": "Gets or sets the webhook properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.automation#WebhookCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "automationAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the automation account."
          }
        },
        "webhookName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The webhook name."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the name of the webhook.",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.automation#WebhookCreateOrUpdateProperties",
          "traits": {
            "smithy.api#documentation": "Gets or sets the properties of the webhook.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automation#WebhookCreateOrUpdateProperties": {
      "type": "structure",
      "members": {
        "isEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Gets or sets the value of the enabled flag of webhook."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the uri."
          }
        },
        "expiryTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the expiry time."
          }
        },
        "parameters": {
          "target": "com.azure.automation#WebhookCreateOrUpdatePropertiesParametersMap",
          "traits": {
            "smithy.api#documentation": "Gets or sets the parameters of the job."
          }
        },
        "runbook": {
          "target": "com.azure.automation#RunbookAssociationProperty",
          "traits": {
            "smithy.api#documentation": "Gets or sets the runbook."
          }
        },
        "runOn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the name of the hybrid worker group the webhook job will run on."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the create webhook operation."
      }
    },
    "com.azure.automation#WebhookCreateOrUpdatePropertiesParametersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the parameters of the job."
      }
    },
    "com.azure.automation#WebhookGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.automation#WebhookGetRequest"
      },
      "output": {
        "target": "com.azure.automation#WebhookGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/webhooks/{webhookName}",
          "code": 200,
          "apiVersion": "2024-10-23"
        },
        "smithy.api#documentation": "Retrieve the webhook identified by webhook name.",
        "com.distilled.openapi#apiVersion": "2024-10-23"
      }
    },
    "com.azure.automation#WebhookGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.automation#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.automation#WebhookProperties",
          "traits": {
            "smithy.api#documentation": "Gets or sets the webhook properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.automation#WebhookGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "automationAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the automation account."
          }
        },
        "webhookName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The webhook name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automation#WebhookListByAutomationAccount": {
      "type": "operation",
      "input": {
        "target": "com.azure.automation#WebhookListByAutomationAccountRequest"
      },
      "output": {
        "target": "com.azure.automation#WebhookListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/webhooks",
          "code": 200,
          "apiVersion": "2024-10-23"
        },
        "smithy.api#documentation": "Retrieve a list of webhooks.",
        "com.distilled.openapi#apiVersion": "2024-10-23"
      }
    },
    "com.azure.automation#WebhookListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.automation#WebhookListResultValueList",
          "traits": {
            "smithy.api#documentation": "The Webhook items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a Webhook list operation."
      }
    },
    "com.azure.automation#WebhookListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.automation#Webhook"
      },
      "traits": {
        "smithy.api#documentation": "The Webhook items on this page"
      }
    },
    "com.azure.automation#Webhook": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.automation#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.automation#WebhookProperties",
          "traits": {
            "smithy.api#documentation": "Gets or sets the webhook properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of the webhook type."
      }
    },
    "com.azure.automation#WebhookListByAutomationAccountRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "automationAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the automation account."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "The filter to apply on the operation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automation#WatcherStop": {
      "type": "operation",
      "input": {
        "target": "com.azure.automation#WatcherStopRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/watchers/{watcherName}/stop",
          "code": 200,
          "apiVersion": "2024-10-23"
        },
        "smithy.api#documentation": "Resume the watcher identified by watcher name.",
        "com.distilled.openapi#apiVersion": "2024-10-23"
      }
    },
    "com.azure.automation#WatcherStopRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "automationAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the automation account."
          }
        },
        "watcherName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The watcher name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automation#WatcherStart": {
      "type": "operation",
      "input": {
        "target": "com.azure.automation#WatcherStartRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/watchers/{watcherName}/start",
          "code": 200,
          "apiVersion": "2024-10-23"
        },
        "smithy.api#documentation": "Resume the watcher identified by watcher name.",
        "com.distilled.openapi#apiVersion": "2024-10-23"
      }
    },
    "com.azure.automation#WatcherStartRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "automationAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the automation account."
          }
        },
        "watcherName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The watcher name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automation#WatcherDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.automation#WatcherDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/watchers/{watcherName}",
          "code": 200,
          "apiVersion": "2024-10-23"
        },
        "smithy.api#documentation": "Delete the watcher by name.",
        "com.distilled.openapi#apiVersion": "2024-10-23"
      }
    },
    "com.azure.automation#WatcherDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "automationAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the automation account."
          }
        },
        "watcherName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The watcher name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automation#WatcherUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.automation#WatcherUpdateRequest"
      },
      "output": {
        "target": "com.azure.automation#WatcherUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/watchers/{watcherName}",
          "code": 200,
          "apiVersion": "2024-10-23"
        },
        "smithy.api#documentation": "Update the watcher identified by watcher name.",
        "com.distilled.openapi#apiVersion": "2024-10-23"
      }
    },
    "com.azure.automation#WatcherUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.automation#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.automation#WatcherProperties",
          "traits": {
            "smithy.api#documentation": "Gets or sets the watcher properties."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the etag of the resource."
          }
        },
        "tags": {
          "target": "com.azure.automation#WatcherUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.automation#WatcherUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.automation#WatcherProperties": {
      "type": "structure",
      "members": {
        "executionFrequencyInSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets or sets the frequency at which the watcher is invoked."
          }
        },
        "scriptName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the name of the script the watcher is attached to, i.e. the name of an existing runbook."
          }
        },
        "scriptParameters": {
          "target": "com.azure.automation#WatcherPropertiesScriptParametersMap",
          "traits": {
            "smithy.api#documentation": "Gets or sets the parameters of the script."
          }
        },
        "scriptRunOn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the name of the hybrid worker group the watcher will run on."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the current status of the watcher."
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the creation time."
          }
        },
        "lastModifiedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the last modified time."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Details of the user who last modified the watcher."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the description."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of the watcher properties"
      }
    },
    "com.azure.automation#WatcherPropertiesScriptParametersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the parameters of the script."
      }
    },
    "com.azure.automation#WatcherUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "automationAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the automation account."
          }
        },
        "watcherName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The watcher name."
          }
        },
        "properties": {
          "target": "com.azure.automation#WatcherUpdateProperties",
          "traits": {
            "smithy.api#documentation": "Gets or sets the watcher update properties."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the name of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automation#WatcherUpdateProperties": {
      "type": "structure",
      "members": {
        "executionFrequencyInSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets or sets the frequency at which the watcher is invoked."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the update watcher operation."
      }
    },
    "com.azure.automation#WatcherCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.automation#WatcherCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.automation#WatcherCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/watchers/{watcherName}",
          "code": 200,
          "apiVersion": "2024-10-23"
        },
        "smithy.api#documentation": "Create the watcher identified by watcher name.",
        "com.distilled.openapi#apiVersion": "2024-10-23"
      }
    },
    "com.azure.automation#WatcherCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.automation#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.automation#WatcherProperties",
          "traits": {
            "smithy.api#documentation": "Gets or sets the watcher properties."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the etag of the resource."
          }
        },
        "tags": {
          "target": "com.azure.automation#WatcherCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.automation#WatcherCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.automation#WatcherCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "automationAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the automation account."
          }
        },
        "watcherName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The watcher name."
          }
        },
        "properties": {
          "target": "com.azure.automation#WatcherPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Gets or sets the watcher properties."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the etag of the resource."
          }
        },
        "tags": {
          "target": "com.azure.automation#WatcherCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automation#WatcherCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.automation#WatcherPropertiesInput": {
      "type": "structure",
      "members": {
        "executionFrequencyInSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets or sets the frequency at which the watcher is invoked."
          }
        },
        "scriptName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the name of the script the watcher is attached to, i.e. the name of an existing runbook."
          }
        },
        "scriptParameters": {
          "target": "com.azure.automation#WatcherPropertiesInputScriptParametersMap",
          "traits": {
            "smithy.api#documentation": "Gets or sets the parameters of the script."
          }
        },
        "scriptRunOn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the name of the hybrid worker group the watcher will run on."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the description."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of the watcher properties"
      }
    },
    "com.azure.automation#WatcherPropertiesInputScriptParametersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the parameters of the script."
      }
    },
    "com.azure.automation#WatcherGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.automation#WatcherGetRequest"
      },
      "output": {
        "target": "com.azure.automation#WatcherGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/watchers/{watcherName}",
          "code": 200,
          "apiVersion": "2024-10-23"
        },
        "smithy.api#documentation": "Retrieve the watcher identified by watcher name.",
        "com.distilled.openapi#apiVersion": "2024-10-23"
      }
    },
    "com.azure.automation#WatcherGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.automation#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.automation#WatcherProperties",
          "traits": {
            "smithy.api#documentation": "Gets or sets the watcher properties."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the etag of the resource."
          }
        },
        "tags": {
          "target": "com.azure.automation#WatcherGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.automation#WatcherGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.automation#WatcherGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "automationAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the automation account."
          }
        },
        "watcherName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The watcher name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automation#WatcherListByAutomationAccount": {
      "type": "operation",
      "input": {
        "target": "com.azure.automation#WatcherListByAutomationAccountRequest"
      },
      "output": {
        "target": "com.azure.automation#WatcherListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/watchers",
          "code": 200,
          "apiVersion": "2024-10-23"
        },
        "smithy.api#documentation": "Retrieve a list of watchers.",
        "com.distilled.openapi#apiVersion": "2024-10-23"
      }
    },
    "com.azure.automation#WatcherListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.automation#WatcherListResultValueList",
          "traits": {
            "smithy.api#documentation": "The Watcher items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a Watcher list operation."
      }
    },
    "com.azure.automation#WatcherListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.automation#Watcher"
      },
      "traits": {
        "smithy.api#documentation": "The Watcher items on this page"
      }
    },
    "com.azure.automation#Watcher": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.automation#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.automation#WatcherProperties",
          "traits": {
            "smithy.api#documentation": "Gets or sets the watcher properties."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the etag of the resource."
          }
        },
        "tags": {
          "target": "com.azure.automation#WatcherTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of the watcher type."
      }
    },
    "com.azure.automation#WatcherTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.automation#WatcherListByAutomationAccountRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "automationAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the automation account."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "The filter to apply on the operation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automation#VariableDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.automation#VariableDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/variables/{variableName}",
          "code": 200,
          "apiVersion": "2024-10-23"
        },
        "smithy.api#documentation": "Delete the variable.",
        "com.distilled.openapi#apiVersion": "2024-10-23"
      }
    },
    "com.azure.automation#VariableDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "automationAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the automation account."
          }
        },
        "variableName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of variable."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automation#VariableUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.automation#VariableUpdateRequest"
      },
      "output": {
        "target": "com.azure.automation#VariableUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/variables/{variableName}",
          "code": 200,
          "apiVersion": "2024-10-23"
        },
        "smithy.api#documentation": "Update a variable.",
        "com.distilled.openapi#apiVersion": "2024-10-23"
      }
    },
    "com.azure.automation#VariableUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.automation#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.automation#VariableProperties",
          "traits": {
            "smithy.api#documentation": "Gets or sets the properties of the variable."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.automation#VariableProperties": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the value of the variable."
          }
        },
        "isEncrypted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Gets or sets the encrypted flag of the variable.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the creation time."
          }
        },
        "lastModifiedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the last modified time."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the description."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of the variable properties"
      }
    },
    "com.azure.automation#VariableUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "automationAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the automation account."
          }
        },
        "variableName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of variable."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the name of the variable."
          }
        },
        "properties": {
          "target": "com.azure.automation#VariableUpdateProperties",
          "traits": {
            "smithy.api#documentation": "Gets or sets the value of the variable."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automation#VariableUpdateProperties": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the value of the variable."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the description of the variable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the update variable"
      }
    },
    "com.azure.automation#VariableCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.automation#VariableCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.automation#VariableCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/variables/{variableName}",
          "code": 200,
          "apiVersion": "2024-10-23"
        },
        "smithy.api#documentation": "Create a variable.",
        "com.distilled.openapi#apiVersion": "2024-10-23"
      }
    },
    "com.azure.automation#VariableCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.automation#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.automation#VariableProperties",
          "traits": {
            "smithy.api#documentation": "Gets or sets the properties of the variable."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.automation#VariableCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "automationAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the automation account."
          }
        },
        "variableName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of variable."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the name of the variable.",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.automation#VariableCreateOrUpdateProperties",
          "traits": {
            "smithy.api#documentation": "Gets or sets the properties of the variable.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automation#VariableCreateOrUpdateProperties": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the value of the variable."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the description of the variable."
          }
        },
        "isEncrypted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Gets or sets the encrypted flag of the variable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the create variable operation."
      }
    },
    "com.azure.automation#VariableGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.automation#VariableGetRequest"
      },
      "output": {
        "target": "com.azure.automation#VariableGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/variables/{variableName}",
          "code": 200,
          "apiVersion": "2024-10-23"
        },
        "smithy.api#documentation": "Retrieve the variable identified by variable name.",
        "com.distilled.openapi#apiVersion": "2024-10-23"
      }
    },
    "com.azure.automation#VariableGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.automation#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.automation#VariableProperties",
          "traits": {
            "smithy.api#documentation": "Gets or sets the properties of the variable."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.automation#VariableGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "automationAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the automation account."
          }
        },
        "variableName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of variable."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automation#VariableListByAutomationAccount": {
      "type": "operation",
      "input": {
        "target": "com.azure.automation#VariableListByAutomationAccountRequest"
      },
      "output": {
        "target": "com.azure.automation#VariableListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/variables",
          "code": 200,
          "apiVersion": "2024-10-23"
        },
        "smithy.api#documentation": "Retrieve a list of variables.",
        "com.distilled.openapi#apiVersion": "2024-10-23"
      }
    },
    "com.azure.automation#VariableListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.automation#VariableListResultValueList",
          "traits": {
            "smithy.api#documentation": "The Variable items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a Variable list operation."
      }
    },
    "com.azure.automation#VariableListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.automation#Variable"
      },
      "traits": {
        "smithy.api#documentation": "The Variable items on this page"
      }
    },
    "com.azure.automation#Variable": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.automation#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.automation#VariableProperties",
          "traits": {
            "smithy.api#documentation": "Gets or sets the properties of the variable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of the variable."
      }
    },
    "com.azure.automation#VariableListByAutomationAccountRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "automationAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the automation account."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automation#UsagesListByAutomationAccount": {
      "type": "operation",
      "input": {
        "target": "com.azure.automation#UsagesListByAutomationAccountRequest"
      },
      "output": {
        "target": "com.azure.automation#UsageListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/usages",
          "code": 200,
          "apiVersion": "2024-10-23"
        },
        "smithy.api#documentation": "Retrieve the usage for the account id.",
        "com.distilled.openapi#apiVersion": "2024-10-23"
      }
    },
    "com.azure.automation#UsageListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.automation#UsageListResultValueList",
          "traits": {
            "smithy.api#documentation": "Gets or sets usage."
          }
        },
        "nextLink": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The response model for the get usage operation."
      }
    },
    "com.azure.automation#UsageListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.automation#Usage"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets usage."
      }
    },
    "com.azure.automation#Usage": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the id of the resource."
          }
        },
        "name": {
          "target": "com.azure.automation#UsageCounterName",
          "traits": {
            "smithy.api#documentation": "Gets or sets the usage counter name."
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the usage unit name."
          }
        },
        "currentValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Gets or sets the current usage value."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets or sets max limit. -1 for unlimited"
          }
        },
        "throttleStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the throttle status."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of Usage."
      }
    },
    "com.azure.automation#UsageCounterName": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the usage counter name."
          }
        },
        "localizedValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the localized usage counter name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of usage counter name."
      }
    },
    "com.azure.automation#UsagesListByAutomationAccountRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "automationAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the automation account."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automation#StatisticsListByAutomationAccount": {
      "type": "operation",
      "input": {
        "target": "com.azure.automation#StatisticsListByAutomationAccountRequest"
      },
      "output": {
        "target": "com.azure.automation#StatisticsListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/statistics",
          "code": 200,
          "apiVersion": "2024-10-23"
        },
        "smithy.api#documentation": "Retrieve the statistics for the account.",
        "com.distilled.openapi#apiVersion": "2024-10-23"
      }
    },
    "com.azure.automation#StatisticsListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.automation#StatisticsListResultValueList",
          "traits": {
            "smithy.api#documentation": "Gets or sets a list of statistics."
          }
        },
        "nextLink": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The response model for the list statistics operation."
      }
    },
    "com.azure.automation#StatisticsListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.automation#Statistics"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets a list of statistics."
      }
    },
    "com.azure.automation#Statistics": {
      "type": "structure",
      "members": {
        "counterProperty": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the property value of the statistic."
          }
        },
        "counterValue": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets the value of the statistic."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the startTime of the statistic."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the endTime of the statistic.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of the statistic."
      }
    },
    "com.azure.automation#StatisticsListByAutomationAccountRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "automationAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the automation account."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "The filter to apply on the operation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automation#SourceControlSyncJobStreamsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.automation#SourceControlSyncJobStreamsGetRequest"
      },
      "output": {
        "target": "com.azure.automation#SourceControlSyncJobStreamById"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/sourceControls/{sourceControlName}/sourceControlSyncJobs/{sourceControlSyncJobId}/streams/{streamId}",
          "code": 200,
          "apiVersion": "2024-10-23"
        },
        "smithy.api#documentation": "Retrieve a sync job stream identified by stream id.",
        "com.distilled.openapi#apiVersion": "2024-10-23"
      }
    },
    "com.azure.automation#SourceControlSyncJobStreamById": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource id."
          }
        },
        "properties": {
          "target": "com.azure.automation#SourceControlSyncJobStreamByIdProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the source control sync job stream."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of the source control sync job stream by id."
      }
    },
    "com.azure.automation#SourceControlSyncJobStreamByIdProperties": {
      "type": "structure",
      "members": {
        "sourceControlSyncJobStreamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sync job stream id."
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The summary of the sync job stream."
          }
        },
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time of the sync job stream.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "streamType": {
          "target": "com.azure.automation#StreamType",
          "traits": {
            "smithy.api#documentation": "The type of the sync job stream."
          }
        },
        "streamText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text of the sync job stream."
          }
        },
        "value": {
          "target": "com.azure.automation#SourceControlSyncJobStreamByIdPropertiesValueMap",
          "traits": {
            "smithy.api#documentation": "The values of the job stream."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of source control sync job stream by id properties."
      }
    },
    "com.azure.automation#SourceControlSyncJobStreamByIdPropertiesValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The values of the job stream."
      }
    },
    "com.azure.automation#StreamType": {
      "type": "enum",
      "members": {
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Error"
          }
        },
        "OUTPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Output"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the sync job stream."
      }
    },
    "com.azure.automation#SourceControlSyncJobStreamsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "automationAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the automation account."
          }
        },
        "sourceControlName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of source control."
          }
        },
        "sourceControlSyncJobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The source control sync job id."
          }
        },
        "streamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The id of the sync job stream."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automation#SourceControlSyncJobStreamsListBySyncJob2": {
      "type": "operation",
      "input": {
        "target": "com.azure.automation#SourceControlSyncJobStreamsListBySyncJobRequest"
      },
      "output": {
        "target": "com.azure.automation#SourceControlSyncJobStreamsListBySyncJob"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/sourceControls/{sourceControlName}/sourceControlSyncJobs/{sourceControlSyncJobId}/streams",
          "code": 200,
          "apiVersion": "2024-10-23"
        },
        "smithy.api#documentation": "Retrieve a list of sync job streams identified by sync job id.",
        "com.distilled.openapi#apiVersion": "2024-10-23"
      }
    },
    "com.azure.automation#SourceControlSyncJobStreamsListBySyncJob": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.automation#SourceControlSyncJobStreamsListBySyncJobValueList",
          "traits": {
            "smithy.api#documentation": "The SourceControlSyncJobStream items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response model for the list source control sync job streams operation."
      }
    },
    "com.azure.automation#SourceControlSyncJobStreamsListBySyncJobValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.automation#SourceControlSyncJobStream"
      },
      "traits": {
        "smithy.api#documentation": "The SourceControlSyncJobStream items on this page"
      }
    },
    "com.azure.automation#SourceControlSyncJobStream": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource id."
          }
        },
        "properties": {
          "target": "com.azure.automation#SourceControlSyncJobStreamProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the source control sync job stream."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of the source control sync job stream."
      }
    },
    "com.azure.automation#SourceControlSyncJobStreamProperties": {
      "type": "structure",
      "members": {
        "sourceControlSyncJobStreamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sync job stream id."
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The summary of the sync job stream."
          }
        },
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time of the sync job stream.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "streamType": {
          "target": "com.azure.automation#StreamType",
          "traits": {
            "smithy.api#documentation": "The type of the sync job stream."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of source control sync job stream properties."
      }
    },
    "com.azure.automation#SourceControlSyncJobStreamsListBySyncJobRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "automationAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the automation account."
          }
        },
        "sourceControlName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of source control."
          }
        },
        "sourceControlSyncJobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The source control sync job id."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "The filter to apply on the operation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.automation#SourceControlSyncJobCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.automation#SourceControlSyncJobCreateRequest"
      },
      "output": {
        "target": "com.azure.automation#SourceControlSyncJob"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
[...]
