{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.azurestackhci#ClustersUploadCertificate": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#ClustersUploadCertificateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/uploadCertificate",
          "code": 200,
          "apiVersion": "2026-04-30"
        },
        "smithy.api#documentation": "Upload certificate.",
        "com.distilled.openapi#apiVersion": "2026-04-30"
      }
    },
    "com.azure.azurestackhci#ClustersUploadCertificateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster."
          }
        },
        "properties": {
          "target": "com.azure.azurestackhci#RawCertificateData"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurestackhci#RawCertificateData": {
      "type": "structure",
      "members": {
        "certificates": {
          "target": "com.azure.azurestackhci#RawCertificateDataCertificatesList"
        }
      },
      "traits": {}
    },
    "com.azure.azurestackhci#RawCertificateDataCertificatesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.azure.azurestackhci#UpdateRunsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#UpdateRunsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updates/{updateName}/updateRuns/{updateRunName}",
          "code": 200,
          "apiVersion": "2026-04-30"
        },
        "smithy.api#documentation": "Delete specified Update Run",
        "com.distilled.openapi#apiVersion": "2026-04-30"
      }
    },
    "com.azure.azurestackhci#UpdateRunsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster."
          }
        },
        "updateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Update"
          }
        },
        "updateRunName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Update Run"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurestackhci#UpdateRunsPut": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#UpdateRunsPutRequest"
      },
      "output": {
        "target": "com.azure.azurestackhci#UpdateRunsPutResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updates/{updateName}/updateRuns/{updateRunName}",
          "code": 200,
          "apiVersion": "2026-04-30"
        },
        "smithy.api#documentation": "Put Update runs for a specified update",
        "com.distilled.openapi#apiVersion": "2026-04-30"
      }
    },
    "com.azure.azurestackhci#UpdateRunsPutResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azurestackhci#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.azurestackhci#UpdateRunProperties",
          "traits": {
            "smithy.api#documentation": "Describes Update Run Properties."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azurestackhci#UpdateRunProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.azurestackhci#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the UpdateRuns proxy resource. Indicates the current lifecycle status of the update operation, such as whether it has been accepted, is in progress, or has completed."
          }
        },
        "timeStarted": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of the update run was started."
          }
        },
        "lastUpdatedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of the most recently completed step in the update run."
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Duration of the update run."
          }
        },
        "state": {
          "target": "com.azure.azurestackhci#UpdateRunPropertiesState",
          "traits": {
            "smithy.api#documentation": "Represents the current state of the update run. Indicates whether the update is in progress, has completed successfully, failed, or is in an unknown state."
          }
        },
        "progress": {
          "target": "com.azure.azurestackhci#Step",
          "traits": {
            "smithy.api#documentation": "Progress representation of the update run steps."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of an Update run"
      }
    },
    "com.azure.azurestackhci#Step": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the step."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "More detailed description of the step."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message, specified if the step is in a failed state."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the step, bubbled up from the ECE action plan for installation attempts. Values are: 'Success', 'Error', 'InProgress', and 'Unknown status'."
          }
        },
        "startTimeUtc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the step started, or empty if it has not started executing."
          }
        },
        "endTimeUtc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the step reached a terminal state."
          }
        },
        "lastUpdatedTimeUtc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Completion time of this step or the last completed sub-step."
          }
        },
        "expectedExecutionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Expected execution time of a given step. This is optionally authored in the update action plan and can be empty."
          }
        },
        "steps": {
          "target": "com.azure.azurestackhci#StepStepsList",
          "traits": {
            "smithy.api#documentation": "Recursive model for child steps of this step."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Progress representation of the update run steps."
      }
    },
    "com.azure.azurestackhci#StepStepsList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurestackhci#Step"
      },
      "traits": {
        "smithy.api#documentation": "Recursive model for child steps of this step."
      }
    },
    "com.azure.azurestackhci#UpdateRunPropertiesState": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the current state of the update run. Indicates whether the update is in progress, has completed successfully, failed, or is in an unknown state."
      }
    },
    "com.azure.azurestackhci#ProvisioningState": {
      "type": "enum",
      "members": {
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Error"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "CONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Connected"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disconnected"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleted"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "MOVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Moving"
          }
        },
        "PARTIALLYSUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PartiallySucceeded"
          }
        },
        "PARTIALLYCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PartiallyConnected"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        },
        "DISABLEINPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DisableInProgress"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provisioning state of the ArcSetting proxy resource."
      }
    },
    "com.azure.azurestackhci#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.azurestackhci#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.azurestackhci#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.azurestackhci#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.azurestackhci#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.azurestackhci#UpdateRunsPutRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster."
          }
        },
        "updateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Update"
          }
        },
        "updateRunName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Update Run"
          }
        },
        "properties": {
          "target": "com.azure.azurestackhci#UpdateRunPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Describes Update Run Properties."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurestackhci#UpdateRunPropertiesInput": {
      "type": "structure",
      "members": {
        "timeStarted": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of the update run was started."
          }
        },
        "lastUpdatedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of the most recently completed step in the update run."
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Duration of the update run."
          }
        },
        "progress": {
          "target": "com.azure.azurestackhci#Step",
          "traits": {
            "smithy.api#documentation": "Progress representation of the update run steps."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of an Update run"
      }
    },
    "com.azure.azurestackhci#UpdateRunsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#UpdateRunsGetRequest"
      },
      "output": {
        "target": "com.azure.azurestackhci#UpdateRunsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updates/{updateName}/updateRuns/{updateRunName}",
          "code": 200,
          "apiVersion": "2026-04-30"
        },
        "smithy.api#documentation": "Get the Update run for a specified update",
        "com.distilled.openapi#apiVersion": "2026-04-30"
      }
    },
    "com.azure.azurestackhci#UpdateRunsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azurestackhci#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.azurestackhci#UpdateRunProperties",
          "traits": {
            "smithy.api#documentation": "Describes Update Run Properties."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azurestackhci#UpdateRunsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster."
          }
        },
        "updateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Update"
          }
        },
        "updateRunName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Update Run"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurestackhci#UpdateRunsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#UpdateRunsListRequest"
      },
      "output": {
        "target": "com.azure.azurestackhci#UpdateRunList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updates/{updateName}/updateRuns",
          "code": 200,
          "apiVersion": "2026-04-30"
        },
        "smithy.api#documentation": "List all Update runs for a specified update",
        "com.distilled.openapi#apiVersion": "2026-04-30"
      }
    },
    "com.azure.azurestackhci#UpdateRunList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.azurestackhci#UpdateRunListValueList",
          "traits": {
            "smithy.api#documentation": "The UpdateRun items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of Update runs"
      }
    },
    "com.azure.azurestackhci#UpdateRunListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurestackhci#UpdateRun"
      },
      "traits": {
        "smithy.api#documentation": "The UpdateRun items on this page"
      }
    },
    "com.azure.azurestackhci#UpdateRun": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azurestackhci#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.azurestackhci#UpdateRunProperties",
          "traits": {
            "smithy.api#documentation": "Describes Update Run Properties."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of an Update run"
      }
    },
    "com.azure.azurestackhci#UpdateRunsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster."
          }
        },
        "updateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Update"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurestackhci#UpdatesPrepare": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#UpdatesPrepareRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updates/{updateName}/prepare",
          "code": 200,
          "apiVersion": "2026-04-30"
        },
        "smithy.api#documentation": "Prepare Update",
        "com.distilled.openapi#apiVersion": "2026-04-30"
      }
    },
    "com.azure.azurestackhci#UpdatesPrepareRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster."
          }
        },
        "updateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Update"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurestackhci#UpdatesPost": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#UpdatesPostRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updates/{updateName}/apply",
          "code": 200,
          "apiVersion": "2026-04-30"
        },
        "smithy.api#documentation": "Apply Update",
        "com.distilled.openapi#apiVersion": "2026-04-30"
      }
    },
    "com.azure.azurestackhci#UpdatesPostRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster."
          }
        },
        "updateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Update"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurestackhci#UpdatesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#UpdatesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updates/{updateName}",
          "code": 200,
          "apiVersion": "2026-04-30"
        },
        "smithy.api#documentation": "Delete specified Update",
        "com.distilled.openapi#apiVersion": "2026-04-30"
      }
    },
    "com.azure.azurestackhci#UpdatesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster."
          }
        },
        "updateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Update"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurestackhci#UpdatesPut": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#UpdatesPutRequest"
      },
      "output": {
        "target": "com.azure.azurestackhci#UpdatesPutResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updates/{updateName}",
          "code": 200,
          "apiVersion": "2026-04-30"
        },
        "smithy.api#documentation": "Put specified Update",
        "com.distilled.openapi#apiVersion": "2026-04-30"
      }
    },
    "com.azure.azurestackhci#UpdatesPutResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azurestackhci#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.azurestackhci#UpdateProperties",
          "traits": {
            "smithy.api#documentation": "Update properties"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azurestackhci#UpdateProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.azurestackhci#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the Updates proxy resource. Indicates the current lifecycle status of the update operation, such as whether it has been accepted, is in progress, or has completed."
          }
        },
        "installedDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date that the update was installed."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the update."
          }
        },
        "minSbeVersionRequired": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Minimum Sbe Version of the update."
          }
        },
        "state": {
          "target": "com.azure.azurestackhci#State",
          "traits": {
            "smithy.api#documentation": "Represents the current state of the update as it relates to this stamp. This includes phases such as preparation, installation, scanning, and error handling, providing insight into the update's progress and any issues encountered."
          }
        },
        "prerequisites": {
          "target": "com.azure.azurestackhci#UpdatePropertiesPrerequisitesList",
          "traits": {
            "smithy.api#documentation": "If update State is HasPrerequisite, this property contains an array of objects describing prerequisite updates before installing this update. Otherwise, it is empty."
          }
        },
        "componentVersions": {
          "target": "com.azure.azurestackhci#UpdatePropertiesComponentVersionsList",
          "traits": {
            "smithy.api#documentation": "An array of component versions for a Solution Bundle update, and an empty array otherwise."
          }
        },
        "rebootRequired": {
          "target": "com.azure.azurestackhci#RebootRequirement",
          "traits": {
            "smithy.api#documentation": "Indicates whether a reboot is required after the update or operation. Helps determine if a system restart is necessary to complete the process."
          }
        },
        "healthState": {
          "target": "com.azure.azurestackhci#HealthState",
          "traits": {
            "smithy.api#documentation": "Overall health state for update-specific health checks."
          }
        },
        "healthCheckResult": {
          "target": "com.azure.azurestackhci#UpdatePropertiesHealthCheckResultList",
          "traits": {
            "smithy.api#documentation": "An array of PrecheckResult objects."
          }
        },
        "healthCheckDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time the package-specific checks were run."
          }
        },
        "packagePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path where the update package is available."
          }
        },
        "packageSizeInMb": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Size of the package. This value is a combination of the size from update metadata and size of the payload that results from the live scan operation for OS update content."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the Update"
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the update."
          }
        },
        "publisher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Publisher of the update package."
          }
        },
        "releaseLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to release notes for the update."
          }
        },
        "availabilityType": {
          "target": "com.azure.azurestackhci#AvailabilityType",
          "traits": {
            "smithy.api#documentation": "Indicates how the update content is made available for download. This determines whether the update is sourced locally, from an online repository, or requires user notification."
          }
        },
        "packageType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer-visible type of the update."
          }
        },
        "additionalProperties": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Extensible KV pairs serialized as a string. This is currently used to report the stamp OEM family and hardware model information when an update is flagged as Invalid for the stamp based on OEM type."
          }
        },
        "updateStateProperties": {
          "target": "com.azure.azurestackhci#UpdateStateProperties",
          "traits": {
            "smithy.api#documentation": "Additional information regarding the state of the update. See definition of UpdateStateProperties type below for more details on this property."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a singular Update in HCI Cluster"
      }
    },
    "com.azure.azurestackhci#UpdateStateProperties": {
      "type": "structure",
      "members": {
        "progressPercentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Progress percentage of ongoing operation. Currently this property is only valid when the update is in the Downloading state, where it maps to how much of the update content has been downloaded."
          }
        },
        "notifyMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Brief message with instructions for updates of AvailabilityType Notify."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional information regarding the state of the update. See definition of UpdateStateProperties type below for more details on this property."
      }
    },
    "com.azure.azurestackhci#AvailabilityType": {
      "type": "enum",
      "members": {
        "LOCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Local"
          }
        },
        "ONLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Online"
          }
        },
        "NOTIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Notify"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates how the update content is made available for download. This determines whether the update is sourced locally, from an online repository, or requires user notification."
      }
    },
    "com.azure.azurestackhci#UpdatePropertiesHealthCheckResultList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurestackhci#PrecheckResult"
      },
      "traits": {
        "smithy.api#documentation": "An array of PrecheckResult objects."
      }
    },
    "com.azure.azurestackhci#PrecheckResult": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the individual test/rule/alert that was executed. Unique, not exposed to the customer."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The health check DisplayName localized of the individual test executed."
          }
        },
        "tags": {
          "target": "com.azure.azurestackhci#PrecheckResultTags",
          "traits": {
            "smithy.api#documentation": "Key-value pairs that allow grouping/filtering individual tests."
          }
        },
        "healthCheckTags": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Key-value pairs that allow grouping/filtering individual tests."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-facing name; one or more sentences indicating the direct issue."
          }
        },
        "status": {
          "target": "com.azure.azurestackhci#Status",
          "traits": {
            "smithy.api#documentation": "Represents the current status of the check being performed. Indicates whether the check has completed successfully, failed, or is still in progress."
          }
        },
        "severity": {
          "target": "com.azure.azurestackhci#Severity",
          "traits": {
            "smithy.api#documentation": "Indicates the importance or impact level of the result. Determines whether the result is informational, a warning, or a critical issue that may block updates."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed overview of the issue and what impact the issue has on the stamp."
          }
        },
        "remediation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Set of steps that can be taken to resolve the issue found."
          }
        },
        "targetResourceID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the affected resource (such as a node or drive)."
          }
        },
        "targetResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the affected resource."
          }
        },
        "targetResourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of resource being referred to (well-known set of nouns in infrastructure, aligning with Monitoring)."
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time in which the HealthCheck was called."
          }
        },
        "additionalData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property bag of key value pairs for additional information."
          }
        },
        "healthCheckSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the services called for the HealthCheck (I.E. Test-AzureStack, Test-Cluster)."
          }
        }
      },
      "traits": {}
    },
    "com.azure.azurestackhci#Severity": {
      "type": "enum",
      "members": {
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Critical"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Warning"
          }
        },
        "INFORMATIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Informational"
          }
        },
        "HIDDEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Hidden"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates the importance or impact level of the result. Determines whether the result is informational, a warning, or a critical issue that may block updates."
      }
    },
    "com.azure.azurestackhci#Status": {
      "type": "enum",
      "members": {
        "NOTYETREGISTERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotYetRegistered"
          }
        },
        "CONNECTEDRECENTLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConnectedRecently"
          }
        },
        "NOTCONNECTEDRECENTLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotConnectedRecently"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disconnected"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Error"
          }
        },
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        },
        "VALIDATIONINPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ValidationInProgress"
          }
        },
        "VALIDATIONSUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ValidationSuccess"
          }
        },
        "VALIDATIONFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ValidationFailed"
          }
        },
        "DEPLOYMENTINPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeploymentInProgress"
          }
        },
        "DEPLOYMENTFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeploymentFailed"
          }
        },
        "DEPLOYMENTSUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeploymentSuccess"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the cluster agent. Indicates the current connectivity, validation, and deployment state of the agent within the cluster."
      }
    },
    "com.azure.azurestackhci#PrecheckResultTags": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key that allow grouping/filtering individual tests."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of the key that allow grouping/filtering individual tests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Key-value pairs that allow grouping/filtering individual tests."
      }
    },
    "com.azure.azurestackhci#HealthState": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Success"
          }
        },
        "FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failure"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Warning"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Error"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Overall health state for update-specific health checks. Indicates whether the system is functioning correctly, has warnings or errors, or is undergoing a health evaluation."
      }
    },
    "com.azure.azurestackhci#RebootRequirement": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "True"
          }
        },
        "FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "False"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates whether a reboot is required after the update or operation. Helps determine if a system restart is necessary to complete the process."
      }
    },
    "com.azure.azurestackhci#UpdatePropertiesComponentVersionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurestackhci#PackageVersionInfo"
      },
      "traits": {
        "smithy.api#documentation": "An array of component versions for a Solution Bundle update, and an empty array otherwise."
      }
    },
    "com.azure.azurestackhci#PackageVersionInfo": {
      "type": "structure",
      "members": {
        "packageType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Package type"
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Package version"
          }
        },
        "lastUpdated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time this component was updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current version of each updatable component."
      }
    },
    "com.azure.azurestackhci#UpdatePropertiesPrerequisitesList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurestackhci#UpdatePrerequisite"
      },
      "traits": {
        "smithy.api#documentation": "If update State is HasPrerequisite, this property contains an array of objects describing prerequisite updates before installing this update. Otherwise, it is empty."
      }
    },
    "com.azure.azurestackhci#UpdatePrerequisite": {
      "type": "structure",
      "members": {
        "updateType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Updatable component type."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the prerequisite."
          }
        },
        "packageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Friendly name of the prerequisite."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If update State is HasPrerequisite, this property contains an array of objects describing prerequisite updates before installing this update. Otherwise, it is empty."
      }
    },
    "com.azure.azurestackhci#State": {
      "type": "enum",
      "members": {
        "HASPREREQUISITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HasPrerequisite"
          }
        },
        "OBSOLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Obsolete"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ready"
          }
        },
        "NOTAPPLICABLEBECAUSEANOTHERUPDATEISINPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotApplicableBecauseAnotherUpdateIsInProgress"
          }
        },
        "PREPARING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Preparing"
          }
        },
        "INSTALLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Installing"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Installed"
          }
        },
        "PREPARATIONFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PreparationFailed"
          }
        },
        "INSTALLATIONFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InstallationFailed"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        },
        "RECALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Recalled"
          }
        },
        "DOWNLOADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Downloading"
          }
        },
        "DOWNLOADFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DownloadFailed"
          }
        },
        "HEALTHCHECKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HealthChecking"
          }
        },
        "HEALTHCHECKFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HealthCheckFailed"
          }
        },
        "READYTOINSTALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReadyToInstall"
          }
        },
        "SCANINPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ScanInProgress"
          }
        },
        "SCANFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ScanFailed"
          }
        },
        "ADDITIONALCONTENTREQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AdditionalContentRequired"
          }
        },
        "HEALTHCHECKEXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HealthCheckExpired"
          }
        },
        "PENDINGOEMVALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingOEMValidation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the current state of the update as it relates to this stamp. This includes phases such as preparation, installation, scanning, and error handling, providing insight into the update's progress and any issues encountered."
      }
    },
    "com.azure.azurestackhci#UpdatesPutRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster."
          }
        },
        "updateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Update"
          }
        },
        "properties": {
          "target": "com.azure.azurestackhci#UpdatePropertiesInput",
          "traits": {
            "smithy.api#documentation": "Update properties"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurestackhci#UpdatePropertiesInput": {
      "type": "structure",
      "members": {
        "installedDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date that the update was installed."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the update."
          }
        },
        "minSbeVersionRequired": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Minimum Sbe Version of the update."
          }
        },
        "state": {
          "target": "com.azure.azurestackhci#State",
          "traits": {
            "smithy.api#documentation": "Represents the current state of the update as it relates to this stamp. This includes phases such as preparation, installation, scanning, and error handling, providing insight into the update's progress and any issues encountered."
          }
        },
        "prerequisites": {
          "target": "com.azure.azurestackhci#UpdatePropertiesInputPrerequisitesList",
          "traits": {
            "smithy.api#documentation": "If update State is HasPrerequisite, this property contains an array of objects describing prerequisite updates before installing this update. Otherwise, it is empty."
          }
        },
        "componentVersions": {
          "target": "com.azure.azurestackhci#UpdatePropertiesInputComponentVersionsList",
          "traits": {
            "smithy.api#documentation": "An array of component versions for a Solution Bundle update, and an empty array otherwise."
          }
        },
        "rebootRequired": {
          "target": "com.azure.azurestackhci#RebootRequirement",
          "traits": {
            "smithy.api#documentation": "Indicates whether a reboot is required after the update or operation. Helps determine if a system restart is necessary to complete the process."
          }
        },
        "healthState": {
          "target": "com.azure.azurestackhci#HealthState",
          "traits": {
            "smithy.api#documentation": "Overall health state for update-specific health checks."
          }
        },
        "healthCheckResult": {
          "target": "com.azure.azurestackhci#UpdatePropertiesInputHealthCheckResultList",
          "traits": {
            "smithy.api#documentation": "An array of PrecheckResult objects."
          }
        },
        "healthCheckDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time the package-specific checks were run."
          }
        },
        "packagePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path where the update package is available."
          }
        },
        "packageSizeInMb": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Size of the package. This value is a combination of the size from update metadata and size of the payload that results from the live scan operation for OS update content."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the Update"
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the update."
          }
        },
        "publisher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Publisher of the update package."
          }
        },
        "releaseLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to release notes for the update."
          }
        },
        "availabilityType": {
          "target": "com.azure.azurestackhci#AvailabilityType",
          "traits": {
            "smithy.api#documentation": "Indicates how the update content is made available for download. This determines whether the update is sourced locally, from an online repository, or requires user notification."
          }
        },
        "packageType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer-visible type of the update."
          }
        },
        "additionalProperties": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Extensible KV pairs serialized as a string. This is currently used to report the stamp OEM family and hardware model information when an update is flagged as Invalid for the stamp based on OEM type."
          }
        },
        "updateStateProperties": {
          "target": "com.azure.azurestackhci#UpdateStateProperties",
          "traits": {
            "smithy.api#documentation": "Additional information regarding the state of the update. See definition of UpdateStateProperties type below for more details on this property."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a singular Update in HCI Cluster"
      }
    },
    "com.azure.azurestackhci#UpdatePropertiesInputHealthCheckResultList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurestackhci#PrecheckResult"
      },
      "traits": {
        "smithy.api#documentation": "An array of PrecheckResult objects."
      }
    },
    "com.azure.azurestackhci#UpdatePropertiesInputComponentVersionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurestackhci#PackageVersionInfo"
      },
      "traits": {
        "smithy.api#documentation": "An array of component versions for a Solution Bundle update, and an empty array otherwise."
      }
    },
    "com.azure.azurestackhci#UpdatePropertiesInputPrerequisitesList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurestackhci#UpdatePrerequisite"
      },
      "traits": {
        "smithy.api#documentation": "If update State is HasPrerequisite, this property contains an array of objects describing prerequisite updates before installing this update. Otherwise, it is empty."
      }
    },
    "com.azure.azurestackhci#UpdatesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#UpdatesGetRequest"
      },
      "output": {
        "target": "com.azure.azurestackhci#UpdatesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updates/{updateName}",
          "code": 200,
          "apiVersion": "2026-04-30"
        },
        "smithy.api#documentation": "Get specified Update",
        "com.distilled.openapi#apiVersion": "2026-04-30"
      }
    },
    "com.azure.azurestackhci#UpdatesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azurestackhci#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.azurestackhci#UpdateProperties",
          "traits": {
            "smithy.api#documentation": "Update properties"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azurestackhci#UpdatesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster."
          }
        },
        "updateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Update"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurestackhci#UpdatesList": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#UpdatesListRequest"
      },
      "output": {
        "target": "com.azure.azurestackhci#UpdateList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updates",
          "code": 200,
          "apiVersion": "2026-04-30"
        },
        "smithy.api#documentation": "List all Updates",
        "com.distilled.openapi#apiVersion": "2026-04-30"
      }
    },
    "com.azure.azurestackhci#UpdateList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.azurestackhci#UpdateListValueList",
          "traits": {
            "smithy.api#documentation": "The Update items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of Updates"
      }
    },
    "com.azure.azurestackhci#UpdateListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurestackhci#Update"
      },
      "traits": {
        "smithy.api#documentation": "The Update items on this page"
      }
    },
    "com.azure.azurestackhci#Update": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azurestackhci#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.azurestackhci#UpdateProperties",
          "traits": {
            "smithy.api#documentation": "Update properties"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Update details"
      }
    },
    "com.azure.azurestackhci#UpdatesListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurestackhci#UpdateSummariesOperationGroupCheckUpdates": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#UpdateSummariesOperationGroupCheckUpdatesRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updateSummaries/default/checkUpdates",
          "code": 200,
          "apiVersion": "2026-04-30"
        },
        "smithy.api#documentation": "Check for updates",
        "com.distilled.openapi#apiVersion": "2026-04-30"
      }
    },
    "com.azure.azurestackhci#UpdateSummariesOperationGroupCheckUpdatesRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster."
          }
        },
        "updateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of update"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurestackhci#UpdateSummariesOperationGroupCheckHealth": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#UpdateSummariesOperationGroupCheckHealthRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updateSummaries/default/checkHealth",
          "code": 200,
          "apiVersion": "2026-04-30"
        },
        "smithy.api#documentation": "Check health of UpdateSummaries",
        "com.distilled.openapi#apiVersion": "2026-04-30"
      }
    },
    "com.azure.azurestackhci#UpdateSummariesOperationGroupCheckHealthRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurestackhci#UpdateSummariesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#UpdateSummariesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updateSummaries/default",
          "code": 200,
          "apiVersion": "2026-04-30"
        },
        "smithy.api#documentation": "Delete Update Summaries",
        "com.distilled.openapi#apiVersion": "2026-04-30"
      }
    },
    "com.azure.azurestackhci#UpdateSummariesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurestackhci#UpdateSummariesPut": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#UpdateSummariesPutRequest"
      },
      "output": {
        "target": "com.azure.azurestackhci#UpdateSummariesPutResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updateSummaries/default",
          "code": 200,
          "apiVersion": "2026-04-30"
        },
        "smithy.api#documentation": "Put Update summaries under the HCI cluster",
        "com.distilled.openapi#apiVersion": "2026-04-30"
      }
    },
    "com.azure.azurestackhci#UpdateSummariesPutResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azurestackhci#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.azurestackhci#UpdateSummariesProperties",
          "traits": {
            "smithy.api#documentation": "Update summaries properties"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azurestackhci#UpdateSummariesProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.azurestackhci#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the UpdateSummaries proxy resource. Indicates the current lifecycle status of the update summary operation, such as whether it has been accepted, is in progress, or has completed."
          }
        },
        "oemFamily": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OEM family name."
          }
        },
        "currentOemVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current OEM Version."
          }
        },
        "hardwareModel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the hardware model."
          }
        },
        "packageVersions": {
          "target": "com.azure.azurestackhci#UpdateSummariesPropertiesPackageVersionsList",
          "traits": {
            "smithy.api#documentation": "Current version of each updatable component."
          }
        },
        "currentVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current Solution Bundle version of the stamp."
          }
        },
        "currentSbeVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current Sbe version of the stamp."
          }
        },
        "lastUpdated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time an update installation completed successfully."
          }
        },
        "lastChecked": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time the update service successfully checked for updates"
          }
        },
        "healthState": {
          "target": "com.azure.azurestackhci#HealthState",
          "traits": {
            "smithy.api#documentation": "Overall health state for update-specific health checks."
          }
        },
        "healthCheckResult": {
          "target": "com.azure.azurestackhci#UpdateSummariesPropertiesHealthCheckResultList",
          "traits": {
            "smithy.api#documentation": "An array of pre-check result objects."
          }
        },
        "healthCheckDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time the package-specific checks were run."
          }
        },
        "state": {
          "target": "com.azure.azurestackhci#UpdateSummariesPropertiesState",
          "traits": {
            "smithy.api#documentation": "Overall update state of the stamp. Indicates the current status of update deployment across the stamp, including preparation, application, and any issues encountered."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of Update summaries"
      }
    },
    "com.azure.azurestackhci#UpdateSummariesPropertiesState": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "APPLIEDSUCCESSFULLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AppliedSuccessfully"
          }
        },
        "UPDATEAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UpdateAvailable"
          }
        },
        "UPDATEINPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UpdateInProgress"
          }
        },
        "UPDATEFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UpdateFailed"
          }
        },
        "NEEDSATTENTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NeedsAttention"
          }
        },
        "PREPARATIONINPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PreparationInProgress"
          }
        },
        "PREPARATIONFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PreparationFailed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Overall update state of the stamp. Indicates the current status of update deployment across the stamp, including preparation, application, and any issues encountered."
      }
    },
    "com.azure.azurestackhci#UpdateSummariesPropertiesHealthCheckResultList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurestackhci#PrecheckResult"
      },
      "traits": {
        "smithy.api#documentation": "An array of pre-check result objects."
      }
    },
    "com.azure.azurestackhci#UpdateSummariesPropertiesPackageVersionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurestackhci#PackageVersionInfo"
      },
      "traits": {
        "smithy.api#documentation": "Current version of each updatable component."
      }
    },
    "com.azure.azurestackhci#UpdateSummariesPutRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster."
          }
        },
        "properties": {
          "target": "com.azure.azurestackhci#UpdateSummariesPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Update summaries properties"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurestackhci#UpdateSummariesPropertiesInput": {
      "type": "structure",
      "members": {
        "oemFamily": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OEM family name."
          }
        },
        "currentOemVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current OEM Version."
          }
        },
        "hardwareModel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the hardware model."
          }
        },
        "packageVersions": {
          "target": "com.azure.azurestackhci#UpdateSummariesPropertiesInputPackageVersionsList",
          "traits": {
            "smithy.api#documentation": "Current version of each updatable component."
          }
        },
        "currentVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current Solution Bundle version of the stamp."
          }
        },
        "currentSbeVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current Sbe version of the stamp."
          }
        },
        "lastUpdated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time an update installation completed successfully."
          }
        },
        "lastChecked": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time the update service successfully checked for updates"
          }
        },
        "healthState": {
          "target": "com.azure.azurestackhci#HealthState",
          "traits": {
            "smithy.api#documentation": "Overall health state for update-specific health checks."
          }
        },
        "healthCheckResult": {
          "target": "com.azure.azurestackhci#UpdateSummariesPropertiesInputHealthCheckResultList",
          "traits": {
            "smithy.api#documentation": "An array of pre-check result objects."
          }
        },
        "healthCheckDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time the package-specific checks were run."
          }
        },
        "state": {
          "target": "com.azure.azurestackhci#UpdateSummariesPropertiesState",
          "traits": {
            "smithy.api#documentation": "Overall update state of the stamp. Indicates the current status of update deployment across the stamp, including preparation, application, and any issues encountered."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of Update summaries"
      }
    },
    "com.azure.azurestackhci#UpdateSummariesPropertiesInputHealthCheckResultList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurestackhci#PrecheckResult"
      },
      "traits": {
        "smithy.api#documentation": "An array of pre-check result objects."
      }
    },
    "com.azure.azurestackhci#UpdateSummariesPropertiesInputPackageVersionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurestackhci#PackageVersionInfo"
      },
      "traits": {
        "smithy.api#documentation": "Current version of each updatable component."
      }
    },
    "com.azure.azurestackhci#UpdateSummariesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#UpdateSummariesGetRequest"
      },
      "output": {
        "target": "com.azure.azurestackhci#UpdateSummariesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updateSummaries/default",
          "code": 200,
          "apiVersion": "2026-04-30"
        },
        "smithy.api#documentation": "Get all Update summaries under the HCI cluster",
        "com.distilled.openapi#apiVersion": "2026-04-30"
      }
    },
    "com.azure.azurestackhci#UpdateSummariesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azurestackhci#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.azurestackhci#UpdateSummariesProperties",
          "traits": {
            "smithy.api#documentation": "Update summaries properties"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azurestackhci#UpdateSummariesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurestackhci#UpdateSummariesList2": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#UpdateSummariesListRequest"
      },
      "output": {
        "target": "com.azure.azurestackhci#UpdateSummariesList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updateSummaries",
          "code": 200,
          "apiVersion": "2026-04-30"
        },
        "smithy.api#documentation": "List all Update summaries under the HCI cluster",
        "com.distilled.openapi#apiVersion": "2026-04-30"
      }
    },
    "com.azure.azurestackhci#UpdateSummariesList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.azurestackhci#UpdateSummariesListValueList",
          "traits": {
            "smithy.api#documentation": "The UpdateSummaries items on this page",
[...]
