{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.azuredatatransfer#PipelinesRejectConnection": {
      "type": "operation",
      "input": {
        "target": "com.azure.azuredatatransfer#PipelinesRejectConnectionRequest"
      },
      "output": {
        "target": "com.azure.azuredatatransfer#PipelinesRejectConnectionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureDataTransfer/pipelines/{pipelineName}/rejectConnection",
          "code": 200,
          "apiVersion": "2025-05-21"
        },
        "smithy.api#documentation": "Rejects a pending connection request associated with the specified Pipeline.",
        "com.distilled.openapi#apiVersion": "2025-05-21"
      }
    },
    "com.azure.azuredatatransfer#PipelinesRejectConnectionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azuredatatransfer#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.azuredatatransfer#PipelinesRejectConnectionResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.azuredatatransfer#ConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Properties of connection"
          }
        },
        "identity": {
          "target": "com.azure.azuredatatransfer#PipelinesRejectConnectionResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azuredatatransfer#PipelinesRejectConnectionResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.azuredatatransfer#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.azuredatatransfer#UserAssignedIdentities"
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.azuredatatransfer#UserAssignedIdentities": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.azuredatatransfer#UserAssignedIdentity"
      },
      "traits": {
        "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
      }
    },
    "com.azure.azuredatatransfer#UserAssignedIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of the assigned identity."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client ID of the assigned identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User assigned identity properties"
      }
    },
    "com.azure.azuredatatransfer#ManagedServiceIdentityType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        },
        "SYSTEMASSIGNED_USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned,UserAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of managed service identity (where both SystemAssigned and UserAssigned types are allowed)."
      }
    },
    "com.azure.azuredatatransfer#ConnectionProperties": {
      "type": "structure",
      "members": {
        "pipeline": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pipeline to use to transfer data",
            "smithy.api#required": {}
          }
        },
        "direction": {
          "target": "com.azure.azuredatatransfer#Direction",
          "traits": {
            "smithy.api#documentation": "Direction of data movement"
          }
        },
        "justification": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Justification for the connection request"
          }
        },
        "status": {
          "target": "com.azure.azuredatatransfer#ConnectionStatus",
          "traits": {
            "smithy.api#documentation": "Status of the connection"
          }
        },
        "forceDisabledStatus": {
          "target": "com.azure.azuredatatransfer#ConnectionPropertiesForceDisabledStatusList",
          "traits": {
            "smithy.api#documentation": "Force disablement status of the current connection"
          }
        },
        "statusReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason for status"
          }
        },
        "linkStatus": {
          "target": "com.azure.azuredatatransfer#LinkStatus",
          "traits": {
            "smithy.api#documentation": "Link status of the current connection"
          }
        },
        "linkedConnectionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID of the linked connection"
          }
        },
        "flowTypes": {
          "target": "com.azure.azuredatatransfer#ConnectionPropertiesFlowTypesList",
          "traits": {
            "smithy.api#documentation": "The flow types being requested for this connection. This FlowType property has reached end of life support starting version 2025-05-30-preview. Please create a FlowProfile resource instead."
          }
        },
        "requirementId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Requirement ID of the connection"
          }
        },
        "remoteSubscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subscription ID to link cloud subscriptions together"
          }
        },
        "approver": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Approver of this connection request"
          }
        },
        "pin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PIN to link requests together"
          }
        },
        "dateSubmitted": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp that this connection request was submitted at"
          }
        },
        "primaryContact": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The primary contact for this connection request"
          }
        },
        "secondaryContacts": {
          "target": "com.azure.azuredatatransfer#ConnectionPropertiesSecondaryContactsList",
          "traits": {
            "smithy.api#documentation": "The secondary contacts for this connection request"
          }
        },
        "provisioningState": {
          "target": "com.azure.azuredatatransfer#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the connection"
          }
        },
        "policies": {
          "target": "com.azure.azuredatatransfer#ConnectionPropertiesPoliciesList",
          "traits": {
            "smithy.api#documentation": "The policies for this connection. The policies property has reached end of life support starting version 2025-05-30-preview. Please create and use a FlowProfile resource instead."
          }
        },
        "schemas": {
          "target": "com.azure.azuredatatransfer#ConnectionPropertiesSchemasList",
          "traits": {
            "smithy.api#documentation": "The schemas for this connection. The schemas property has reached end of life support starting version 2025-05-30-preview. Please create and use a FlowProfile resource instead."
          }
        },
        "schemaUris": {
          "target": "com.azure.azuredatatransfer#ConnectionPropertiesSchemaUrisList",
          "traits": {
            "smithy.api#documentation": "The schema URIs for this connection. The schemaUris property has reached end of life support starting version 2025-05-30-preview. Please create and use a FlowProfile resource instead."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of connection"
      }
    },
    "com.azure.azuredatatransfer#ConnectionPropertiesSchemaUrisList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The schema URIs for this connection. The schemaUris property has reached end of life support starting version 2025-05-30-preview. Please create and use a FlowProfile resource instead."
      }
    },
    "com.azure.azuredatatransfer#ConnectionPropertiesSchemasList": {
      "type": "list",
      "member": {
        "target": "com.azure.azuredatatransfer#Schema"
      },
      "traits": {
        "smithy.api#documentation": "The schemas for this connection. The schemas property has reached end of life support starting version 2025-05-30-preview. Please create and use a FlowProfile resource instead."
      }
    },
    "com.azure.azuredatatransfer#Schema": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID associated with this schema"
          }
        },
        "connectionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connection ID associated with this schema"
          }
        },
        "status": {
          "target": "com.azure.azuredatatransfer#SchemaStatus",
          "traits": {
            "smithy.api#documentation": "Status of the schema"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the schema"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content of the schema"
          }
        },
        "direction": {
          "target": "com.azure.azuredatatransfer#Direction",
          "traits": {
            "smithy.api#documentation": "The direction of the schema."
          }
        },
        "schemaUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uri containing SAS token for the zipped schema"
          }
        },
        "schemaType": {
          "target": "com.azure.azuredatatransfer#SchemaType",
          "traits": {
            "smithy.api#documentation": "The Schema Type"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The schema object. Schemas has reached end of life support starting version 2025-05-30-preview. Please manage schemas with a FlowProfile resource instead."
      }
    },
    "com.azure.azuredatatransfer#SchemaType": {
      "type": "enum",
      "members": {
        "XSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Xsd"
          }
        },
        "ZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Zip"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Schema Type."
      }
    },
    "com.azure.azuredatatransfer#Direction": {
      "type": "enum",
      "members": {
        "SEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Send"
          }
        },
        "RECEIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Receive"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Direction of data movement"
      }
    },
    "com.azure.azuredatatransfer#SchemaStatus": {
      "type": "enum",
      "members": {
        "NEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "New"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the schema."
      }
    },
    "com.azure.azuredatatransfer#ConnectionPropertiesPoliciesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The policies for this connection. The policies property has reached end of life support starting version 2025-05-30-preview. Please create and use a FlowProfile resource instead."
      }
    },
    "com.azure.azuredatatransfer#ProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provisioning state of the pipeline, connection, flow."
      }
    },
    "com.azure.azuredatatransfer#ConnectionPropertiesSecondaryContactsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The secondary contacts for this connection request"
      }
    },
    "com.azure.azuredatatransfer#ConnectionPropertiesFlowTypesList": {
      "type": "list",
      "member": {
        "target": "com.azure.azuredatatransfer#FlowType"
      },
      "traits": {
        "smithy.api#documentation": "The flow types being requested for this connection. This FlowType property has reached end of life support starting version 2025-05-30-preview. Please create a FlowProfile resource instead."
      }
    },
    "com.azure.azuredatatransfer#FlowType": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "COMPLEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Complex"
          }
        },
        "DEVSECOPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DevSecOps"
          }
        },
        "MESSAGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Messaging"
          }
        },
        "MISSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Mission"
          }
        },
        "MICROSOFTINTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MicrosoftInternal"
          }
        },
        "BASICFILES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BasicFiles"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Data"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "STREAMINGVIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "StreamingVideo"
          }
        },
        "OPAQUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Opaque"
          }
        },
        "MISSIONOPAQUEXML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MissionOpaqueXML"
          }
        },
        "DISKIMAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DiskImages"
          }
        },
        "API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Flow type for the specified resource. FlowType will be deprecated starting from version 2025_05_30_preview - please create a FlowProfile resource instead."
      }
    },
    "com.azure.azuredatatransfer#LinkStatus": {
      "type": "enum",
      "members": {
        "LINKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Linked"
          }
        },
        "UNLINKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unlinked"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Link status of the current pipeline, connection, flow."
      }
    },
    "com.azure.azuredatatransfer#ConnectionPropertiesForceDisabledStatusList": {
      "type": "list",
      "member": {
        "target": "com.azure.azuredatatransfer#ForceDisabledStatus"
      },
      "traits": {
        "smithy.api#documentation": "Force disablement status of the current connection"
      }
    },
    "com.azure.azuredatatransfer#ForceDisabledStatus": {
      "type": "enum",
      "members": {
        "CONNECTIONFORCEDISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConnectionForceDisabled"
          }
        },
        "FLOWTYPEFORCEDISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FlowTypeForceDisabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines different disablement statuses and the circumstances in why they were disabled."
      }
    },
    "com.azure.azuredatatransfer#ConnectionStatus": {
      "type": "enum",
      "members": {
        "INREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InReview"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the connection"
      }
    },
    "com.azure.azuredatatransfer#PipelinesRejectConnectionResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.azuredatatransfer#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.azuredatatransfer#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.azuredatatransfer#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.azuredatatransfer#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.azuredatatransfer#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.azuredatatransfer#PipelinesRejectConnectionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "pipelineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the pipeline on which to operate."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the resource.",
            "smithy.api#required": {}
          }
        },
        "statusReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason for resource operation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azuredatatransfer#ListSchemasList": {
      "type": "operation",
      "input": {
        "target": "com.azure.azuredatatransfer#ListSchemasListRequest"
      },
      "output": {
        "target": "com.azure.azuredatatransfer#SchemasListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureDataTransfer/pipelines/{pipelineName}/listSchemas",
          "code": 200,
          "apiVersion": "2025-05-21"
        },
        "smithy.api#documentation": "Lists the schemas associated with a specific connection in the Pipeline. This operation has reached end of life support starting version 2025-05-30-preview. For schema support please create and use a FlowProfile resource.",
        "com.distilled.openapi#apiVersion": "2025-05-21"
      }
    },
    "com.azure.azuredatatransfer#SchemasListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.azuredatatransfer#SchemasListResultValueList",
          "traits": {
            "smithy.api#documentation": "Schemas array."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The schemas list result. SchemaListResults has reached end of life support starting version 2025-05-30-preview. Please manage schemas with a FlowProfile resource instead."
      }
    },
    "com.azure.azuredatatransfer#SchemasListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.azuredatatransfer#Schema"
      },
      "traits": {
        "smithy.api#documentation": "Schemas array."
      }
    },
    "com.azure.azuredatatransfer#ListSchemasListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "pipelineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the pipeline on which to operate."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID associated with this schema"
          }
        },
        "connectionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connection ID associated with this schema"
          }
        },
        "status": {
          "target": "com.azure.azuredatatransfer#SchemaStatus",
          "traits": {
            "smithy.api#documentation": "Status of the schema"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the schema"
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content of the schema"
          }
        },
        "direction": {
          "target": "com.azure.azuredatatransfer#Direction",
          "traits": {
            "smithy.api#documentation": "The direction of the schema."
          }
        },
        "schemaUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uri containing SAS token for the zipped schema"
          }
        },
        "schemaType": {
          "target": "com.azure.azuredatatransfer#SchemaType",
          "traits": {
            "smithy.api#documentation": "The Schema Type"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azuredatatransfer#ListFlowsByPipelineList": {
      "type": "operation",
      "input": {
        "target": "com.azure.azuredatatransfer#ListFlowsByPipelineListRequest"
      },
      "output": {
        "target": "com.azure.azuredatatransfer#ListFlowsByPipelineResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureDataTransfer/pipelines/{pipelineName}/listFlows",
          "code": 200,
          "apiVersion": "2025-05-21"
        },
        "smithy.api#documentation": "Lists all Flows associated with the specified Pipeline.",
        "com.distilled.openapi#apiVersion": "2025-05-21"
      }
    },
    "com.azure.azuredatatransfer#ListFlowsByPipelineResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.azuredatatransfer#ListFlowsByPipelineResultValueList",
          "traits": {
            "smithy.api#documentation": "List flows by pipeline result by connection"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An array of flow resources."
      }
    },
    "com.azure.azuredatatransfer#ListFlowsByPipelineResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.azuredatatransfer#ListFlowsByPipelineConnection"
      },
      "traits": {
        "smithy.api#documentation": "List flows by pipeline result by connection"
      }
    },
    "com.azure.azuredatatransfer#ListFlowsByPipelineConnection": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the connection."
          }
        },
        "flows": {
          "target": "com.azure.azuredatatransfer#ListFlowsByPipelineConnectionFlowsList",
          "traits": {
            "smithy.api#documentation": "List of flows associated with the connection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A connection resource id in addition to all child flow resources under this connection."
      }
    },
    "com.azure.azuredatatransfer#ListFlowsByPipelineConnectionFlowsList": {
      "type": "list",
      "member": {
        "target": "com.azure.azuredatatransfer#Flow"
      },
      "traits": {
        "smithy.api#documentation": "List of flows associated with the connection."
      }
    },
    "com.azure.azuredatatransfer#Flow": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azuredatatransfer#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.azuredatatransfer#FlowTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.azuredatatransfer#FlowProperties",
          "traits": {
            "smithy.api#documentation": "Properties of flow"
          }
        },
        "plan": {
          "target": "com.azure.azuredatatransfer#FlowPlan",
          "traits": {
            "smithy.api#documentation": "Plan for the resource."
          }
        },
        "identity": {
          "target": "com.azure.azuredatatransfer#FlowIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The flow resource definition."
      }
    },
    "com.azure.azuredatatransfer#FlowIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.azuredatatransfer#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.azuredatatransfer#UserAssignedIdentities"
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.azuredatatransfer#FlowPlan": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user defined name of the 3rd Party Artifact that is being procured.",
            "smithy.api#required": {}
          }
        },
        "publisher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The publisher of the 3rd Party Artifact that is being bought. E.g. NewRelic",
            "smithy.api#required": {}
          }
        },
        "product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The 3rd Party artifact that is being procured. E.g. NewRelic. Product maps to the OfferID specified for the artifact at the time of Data Market onboarding. ",
            "smithy.api#required": {}
          }
        },
        "promotionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A publisher provided promotion code as provisioned in Data Market for the said product/artifact."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the desired product/artifact."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Plan for the resource."
      }
    },
    "com.azure.azuredatatransfer#FlowProperties": {
      "type": "structure",
      "members": {
        "connection": {
          "target": "com.azure.azuredatatransfer#SelectedResource",
          "traits": {
            "smithy.api#documentation": "The connection associated with this flow"
          }
        },
        "flowId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dataflow GUID associated with this flow"
          }
        },
        "keyVaultUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI to a Key Vault Secret containing a SAS token."
          }
        },
        "linkStatus": {
          "target": "com.azure.azuredatatransfer#LinkStatus",
          "traits": {
            "smithy.api#documentation": "Link status of the current flow"
          }
        },
        "linkedFlowId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID of the linked flow"
          }
        },
        "status": {
          "target": "com.azure.azuredatatransfer#FlowStatus",
          "traits": {
            "smithy.api#documentation": "Status of the current flow"
          }
        },
        "forceDisabledStatus": {
          "target": "com.azure.azuredatatransfer#FlowPropertiesForceDisabledStatusList",
          "traits": {
            "smithy.api#documentation": "Force disablement status of the current flow"
          }
        },
        "storageAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Storage Account"
          }
        },
        "storageAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Storage Account ID"
          }
        },
        "storageContainerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Storage Container Name"
          }
        },
        "storageTableName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Storage Table Name"
          }
        },
        "serviceBusQueueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service Bus Queue ID"
          }
        },
        "flowType": {
          "target": "com.azure.azuredatatransfer#FlowType",
          "traits": {
            "smithy.api#documentation": "The flow type for this flow. The property has reached end of life support starting version 2025-05-30-preview. Please create and use a FlowProfile resource instead."
          }
        },
        "dataType": {
          "target": "com.azure.azuredatatransfer#DataType",
          "traits": {
            "smithy.api#documentation": "Type of data to transfer via the flow. The property has reached end of life support starting version 2025-05-30-preview. Please create and use a FlowProfile resource instead."
          }
        },
        "provisioningState": {
          "target": "com.azure.azuredatatransfer#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the flow"
          }
        },
        "policies": {
          "target": "com.azure.azuredatatransfer#FlowPropertiesPoliciesList",
          "traits": {
            "smithy.api#documentation": "The policies for this flow. The property has reached end of life support starting version 2025-05-30-preview. Please create and use a FlowProfile resource instead."
          }
        },
        "schema": {
          "target": "com.azure.azuredatatransfer#Schema",
          "traits": {
            "smithy.api#documentation": "The selected schema for this flow. The property has reached end of life support starting version 2025-05-30-preview. Please create and use a FlowProfile resource instead."
          }
        },
        "messagingOptions": {
          "target": "com.azure.azuredatatransfer#MessagingOptions",
          "traits": {
            "smithy.api#documentation": "The messaging options for this flow"
          }
        },
        "apiFlowOptions": {
          "target": "com.azure.azuredatatransfer#ApiFlowOptions",
          "traits": {
            "smithy.api#documentation": "The API Flow configuration options for Azure Data Transfer API Flow type."
          }
        },
        "customerManagedKeyVaultUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI to the customer managed key for this flow"
          }
        },
        "streamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The flow stream identifier"
          }
        },
        "streamProtocol": {
          "target": "com.azure.azuredatatransfer#StreamProtocol",
          "traits": {
            "smithy.api#documentation": "The protocol of the stream"
          }
        },
        "streamLatency": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The latency of the stream in milliseconds"
          }
        },
        "passphrase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The passphrase used for SRT streams"
          }
        },
        "sourceAddresses": {
          "target": "com.azure.azuredatatransfer#StreamSourceAddresses",
          "traits": {
            "smithy.api#documentation": "The source IP address and CIDR ranges of the stream"
          }
        },
        "destinationEndpoints": {
          "target": "com.azure.azuredatatransfer#FlowPropertiesDestinationEndpointsList",
          "traits": {
            "smithy.api#documentation": "The destination endpoints of the stream"
          }
        },
        "destinationEndpointPorts": {
          "target": "com.azure.azuredatatransfer#FlowPropertiesDestinationEndpointPortsList",
          "traits": {
            "smithy.api#documentation": "The destination endpoint ports of the stream"
          }
        },
        "eventHubId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Event Hub ID"
          }
        },
        "consumerGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Event Hub Consumer Group"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of flow"
      }
    },
    "com.azure.azuredatatransfer#FlowPropertiesDestinationEndpointPortsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "The destination endpoint ports of the stream"
      }
    },
    "com.azure.azuredatatransfer#FlowPropertiesDestinationEndpointsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The destination endpoints of the stream"
      }
    },
    "com.azure.azuredatatransfer#StreamSourceAddresses": {
      "type": "structure",
      "members": {
        "sourceAddresses": {
          "target": "com.azure.azuredatatransfer#StreamSourceAddressesSourceAddressesList",
          "traits": {
            "smithy.api#documentation": "A source IP address or CIDR range"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The source IP address and CIDR ranges of the stream"
      }
    },
    "com.azure.azuredatatransfer#StreamSourceAddressesSourceAddressesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A source IP address or CIDR range"
      }
    },
    "com.azure.azuredatatransfer#StreamProtocol": {
      "type": "enum",
      "members": {
        "UDP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UDP"
          }
        },
        "SRT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SRT"
          }
        },
        "RTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RTP"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The protocol of the stream"
      }
    },
    "com.azure.azuredatatransfer#ApiFlowOptions": {
      "type": "structure",
      "members": {
        "remoteEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Remote host to which communication needs to be made. The property has reached end of life support starting version 2025-05-30-preview. Please create and use the remoteEndpointSettings.endpoint property instead."
          }
        },
        "cname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique CNAME to represent the Azure Data Transfer API Flow instance"
          }
        },
        "apiMode": {
          "target": "com.azure.azuredatatransfer#ApiMode",
          "traits": {
            "smithy.api#documentation": "Remote Calling Mode in the Azure Data Transfer API Flow, which describes how the API Flow will be invoked"
          }
        },
        "identityTranslation": {
          "target": "com.azure.azuredatatransfer#IdentityTranslation",
          "traits": {
            "smithy.api#documentation": "Determines which identity to use for extracting the user token for Azure Data Transfer API Flow. The property has reached end of life support starting version 2025-05-30-preview. Please create and use the authentication property instead."
          }
        },
        "senderClientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sender's app user assigned Manage Identity client ID. The property has reached end of life support starting version 2025-05-30-preview. Please create and use the authentication property instead."
          }
        },
        "remoteCallingModeClientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Remote stub app registration Client ID. The property has reached end of life support starting version 2025-05-30-preview. Please create and use the authentication property instead."
          }
        },
        "audienceOverride": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional field to override the audience of the remote endpoint. The property has reached end of life support starting version 2025-05-30-preview. Please create and use the authentication property instead."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties specific to API Flow Type"
      }
    },
    "com.azure.azuredatatransfer#IdentityTranslation": {
      "type": "enum",
      "members": {
        "USERIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserIdentity"
          }
        },
        "SERVICEIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ServiceIdentity"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Flag for if Azure Data Transfer API Flow should extract the user token"
      }
    },
    "com.azure.azuredatatransfer#ApiMode": {
      "type": "enum",
      "members": {
        "SDK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SDK"
          }
        },
        "ENDPOINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Endpoint"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Remote Calling Mode in the Azure Data Transfer API Flow, which describes how the API Flow will be invoked"
      }
    },
    "com.azure.azuredatatransfer#MessagingOptions": {
      "type": "structure",
      "members": {
        "billingTier": {
          "target": "com.azure.azuredatatransfer#FlowBillingTier",
          "traits": {
            "smithy.api#documentation": "Billing tier for this messaging flow"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The option associated with messaging flows."
      }
    },
    "com.azure.azuredatatransfer#FlowBillingTier": {
      "type": "enum",
      "members": {
        "BLOBTRANSPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BlobTransport"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Premium"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Billing tier for this messaging flow."
      }
    },
    "com.azure.azuredatatransfer#FlowPropertiesPoliciesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The policies for this flow. The property has reached end of life support starting version 2025-05-30-preview. Please create and use a FlowProfile resource instead."
      }
    },
    "com.azure.azuredatatransfer#DataType": {
      "type": "enum",
      "members": {
        "BLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Blob"
          }
        },
        "TABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Table"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Transfer Storage Blobs or Tables"
      }
    },
    "com.azure.azuredatatransfer#FlowPropertiesForceDisabledStatusList": {
      "type": "list",
      "member": {
        "target": "com.azure.azuredatatransfer#ForceDisabledStatus"
      },
      "traits": {
        "smithy.api#documentation": "Force disablement status of the current flow"
      }
    },
    "com.azure.azuredatatransfer#FlowStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the current flow."
      }
    },
    "com.azure.azuredatatransfer#SelectedResource": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the connection"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the connection",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the connection"
          }
        },
        "subscriptionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the subscription with the connection"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource selected from ARM"
      }
    },
    "com.azure.azuredatatransfer#FlowTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.azuredatatransfer#ListFlowsByPipelineListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "pipelineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the pipeline on which to operate."
          }
        },
        "value": {
          "target": "com.azure.azuredatatransfer#ListFlowsByPipelineListRequestValueList",
          "traits": {
            "smithy.api#documentation": "Connection ID to target"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azuredatatransfer#ListFlowsByPipelineListRequestValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Connection ID to target"
      }
    },
    "com.azure.azuredatatransfer#PipelinesExecuteAction": {
      "type": "operation",
      "input": {
        "target": "com.azure.azuredatatransfer#PipelinesExecuteActionRequest"
      },
      "output": {
        "target": "com.azure.azuredatatransfer#PipelinesExecuteActionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureDataTransfer/pipelines/{pipelineName}/executeAction",
          "code": 200,
          "apiVersion": "2025-05-21"
        },
        "smithy.api#documentation": "Executes a privileged or administrative action on the specified Pipeline.",
        "com.distilled.openapi#apiVersion": "2025-05-21"
      }
    },
    "com.azure.azuredatatransfer#PipelinesExecuteActionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azuredatatransfer#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.azuredatatransfer#PipelinesExecuteActionResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.azuredatatransfer#PipelineProperties",
          "traits": {
            "smithy.api#documentation": "The set of configurable properties for the Pipeline resource."
          }
        },
        "identity": {
          "target": "com.azure.azuredatatransfer#PipelinesExecuteActionResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azuredatatransfer#PipelinesExecuteActionResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.azuredatatransfer#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.azuredatatransfer#UserAssignedIdentities"
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.azuredatatransfer#PipelineProperties": {
      "type": "structure",
      "members": {
        "remoteCloud": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Remote cloud of the data to be transferred or received",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of this pipeline"
          }
        },
        "connections": {
          "target": "com.azure.azuredatatransfer#PipelinePropertiesConnectionsList",
          "traits": {
            "smithy.api#documentation": "Connections associated with pipeline"
          }
        },
        "subscribers": {
          "target": "com.azure.azuredatatransfer#PipelinePropertiesSubscribersList",
          "traits": {
            "smithy.api#documentation": "Subscribers of this resource"
          }
        },
        "provisioningState": {
          "target": "com.azure.azuredatatransfer#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the pipeline"
          }
        },
        "policies": {
          "target": "com.azure.azuredatatransfer#PipelinePropertiesPoliciesList",
          "traits": {
            "smithy.api#documentation": "The policies for this pipeline. The policies property has reached end of life support starting version 2025-05-30-preview. Please create and use a FlowProfile resource instead."
          }
        },
        "flowTypes": {
          "target": "com.azure.azuredatatransfer#PipelinePropertiesFlowTypesList",
          "traits": {
            "smithy.api#documentation": "The flow type for this flow. The flowTypes property has reached end of life support starting version 2025-05-30-preview. Please create and use a FlowProfile resource instead."
          }
        },
        "disabledFlowTypes": {
          "target": "com.azure.azuredatatransfer#PipelinePropertiesDisabledFlowTypesList",
          "traits": {
            "smithy.api#documentation": "The flow types that are disabled for this pipeline"
          }
        },
        "quarantineDownloadStorageAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Quarantine Download Storage Account"
          }
        },
        "quarantineDownloadStorageContainer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Quarantine Download Storage Container"
          }
        },
        "status": {
          "target": "com.azure.azuredatatransfer#PipelineStatus",
          "traits": {
            "smithy.api#documentation": "Status of the current pipeline"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of pipeline"
      }
    },
    "com.azure.azuredatatransfer#PipelineStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the current pipeline"
      }
    },
    "com.azure.azuredatatransfer#PipelinePropertiesDisabledFlowTypesList": {
      "type": "list",
      "member": {
        "target": "com.azure.azuredatatransfer#FlowType"
      },
      "traits": {
        "smithy.api#documentation": "The flow types that are disabled for this pipeline"
      }
    },
    "com.azure.azuredatatransfer#PipelinePropertiesFlowTypesList": {
      "type": "list",
      "member": {
        "target": "com.azure.azuredatatransfer#FlowType"
      },
      "traits": {
        "smithy.api#documentation": "The flow type for this flow. The flowTypes property has reached end of life support starting version 2025-05-30-preview. Please create and use a FlowProfile resource instead."
      }
    },
    "com.azure.azuredatatransfer#PipelinePropertiesPoliciesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The policies for this pipeline. The policies property has reached end of life support starting version 2025-05-30-preview. Please create and use a FlowProfile resource instead."
      }
    },
    "com.azure.azuredatatransfer#PipelinePropertiesSubscribersList": {
      "type": "list",
      "member": {
        "target": "com.azure.azuredatatransfer#Subscriber"
      },
      "traits": {
        "smithy.api#documentation": "Subscribers of this resource"
      }
    },
    "com.azure.azuredatatransfer#Subscriber": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email of the subscriber"
          }
        },
        "notifications": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number specifying what notifications to receive"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An individual that would like to subscribe to events that occur on a pipeline."
      }
    },
    "com.azure.azuredatatransfer#PipelinePropertiesConnectionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.azuredatatransfer#ReadPipelineConnection"
      },
      "traits": {
        "smithy.api#documentation": "Connections associated with pipeline"
      }
    },
    "com.azure.azuredatatransfer#ReadPipelineConnection": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connection id inside pipeline",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connection name inside pipeline"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connection type inside pipeline"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connection location inside pipeline"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connection etag inside pipeline"
          }
        },
        "systemData": {
          "target": "com.azure.azuredatatransfer#ReadPipelineConnectionSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "properties": {
          "target": "com.azure.azuredatatransfer#PipelineConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Connection properties inside pipeline"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ReadPipelineconnection."
      }
    },
    "com.azure.azuredatatransfer#PipelineConnectionProperties": {
      "type": "structure",
      "members": {
        "internalMetadata": {
          "target": "com.azure.azuredatatransfer#InternalMetadataProperties",
          "traits": {
            "smithy.api#documentation": "Internal metadata of the connection inside pipeline."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Connection properties inside pipeline"
      }
    },
    "com.azure.azuredatatransfer#InternalMetadataProperties": {
      "type": "structure",
      "members": {
        "operationStatus": {
          "target": "com.azure.azuredatatransfer#OperationStatusProperties",
          "traits": {
            "smithy.api#documentation": "Operation status associated with the last patch request"
          }
        },
        "statusSetBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User that last set the approved status for this connection"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Internal metadata of the connection inside pipeline."
      }
    },
    "com.azure.azuredatatransfer#OperationStatusProperties": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.azuredatatransfer#OperationStatusEnum",
          "traits": {
            "smithy.api#documentation": "Operation status for the last patch request for this connection."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation status ID of the last patch request for this connection."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message for the operation for the last patch request for this connection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Operation status associated with the last patch request"
      }
    },
    "com.azure.azuredatatransfer#OperationStatusEnum": {
      "type": "enum",
      "members": {
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Operation status for the last patch request for this connection."
      }
    },
    "com.azure.azuredatatransfer#ReadPipelineConnectionSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.azuredatatransfer#ReadPipelineConnectionSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.azuredatatransfer#ReadPipelineConnectionSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.azuredatatransfer#ReadPipelineConnectionSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.azuredatatransfer#ReadPipelineConnectionSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.azuredatatransfer#PipelinesExecuteActionResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.azuredatatransfer#PipelinesExecuteActionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "pipelineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the pipeline on which to operate."
          }
        },
        "actionType": {
          "target": "com.azure.azuredatatransfer#ActionType",
          "traits": {
            "smithy.api#documentation": "Type of action to be executed",
            "smithy.api#required": {}
          }
        },
        "targetType": {
          "target": "com.azure.azuredatatransfer#TargetType",
          "traits": {
            "smithy.api#documentation": "Type of target to execute the action on",
            "smithy.api#required": {}
          }
        },
        "targets": {
          "target": "com.azure.azuredatatransfer#PipelinesExecuteActionRequestTargetsList",
          "traits": {
            "smithy.api#documentation": "Targets for the action",
            "smithy.api#required": {}
          }
        },
        "justification": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Business justification for the action"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azuredatatransfer#PipelinesExecuteActionRequestTargetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Targets for the action"
      }
    },
    "com.azure.azuredatatransfer#TargetType": {
      "type": "enum",
      "members": {
        "PIPELINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pipeline"
          }
        },
        "CONNECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Connection"
          }
        },
        "FLOWTYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FlowType"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of target to execute the action on"
      }
    },
    "com.azure.azuredatatransfer#ActionType": {
      "type": "enum",
      "members": {
        "ALLOWUPDATES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AllowUpdates"
          }
        },
        "FORCEDISABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ForceDisable"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of action to be executed."
      }
    },
    "com.azure.azuredatatransfer#PipelinesApproveConnection": {
      "type": "operation",
      "input": {
        "target": "com.azure.azuredatatransfer#PipelinesApproveConnectionRequest"
      },
      "output": {
        "target": "com.azure.azuredatatransfer#PipelinesApproveConnectionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureDataTransfer/pipelines/{pipelineName}/approveConnection",
          "code": 200,
          "apiVersion": "2025-05-21"
        },
        "smithy.api#documentation": "Approves a pending connection request associated with the specified Pipeline.",
        "com.distilled.openapi#apiVersion": "2025-05-21"
      }
    },
    "com.azure.azuredatatransfer#PipelinesApproveConnectionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azuredatatransfer#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.azuredatatransfer#PipelinesApproveConnectionResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.azuredatatransfer#ConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Properties of connection"
          }
        },
        "identity": {
          "target": "com.azure.azuredatatransfer#PipelinesApproveConnectionResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azuredatatransfer#PipelinesApproveConnectionResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.azuredatatransfer#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.azuredatatransfer#UserAssignedIdentities"
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.azuredatatransfer#PipelinesApproveConnectionResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.azuredatatransfer#PipelinesApproveConnectionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "pipelineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the pipeline on which to operate."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the resource.",
            "smithy.api#required": {}
          }
        },
        "statusReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason for resource operation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azuredatatransfer#PipelinesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.azuredatatransfer#PipelinesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureDataTransfer/pipelines/{pipelineName}",
          "code": 200,
          "apiVersion": "2025-05-21"
        },
        "smithy.api#documentation": "Deletes the specified Pipeline resource.",
        "com.distilled.openapi#apiVersion": "2025-05-21"
      }
    },
    "com.azure.azuredatatransfer#PipelinesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "pipelineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the pipeline on which to operate."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azuredatatransfer#PipelinesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.azuredatatransfer#PipelinesUpdateRequest"
      },
      "output": {
        "target": "com.azure.azuredatatransfer#PipelinesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureDataTransfer/pipelines/{pipelineName}",
          "code": 200,
          "apiVersion": "2025-05-21"
        },
        "smithy.api#documentation": "Applies partial updates to an existing Pipeline resource. This operation supports patch semantics and returns the updated Pipeline.",
        "com.distilled.openapi#apiVersion": "2025-05-21"
      }
    },
    "com.azure.azuredatatransfer#PipelinesUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azuredatatransfer#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.azuredatatransfer#PipelinesUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.azuredatatransfer#PipelineProperties",
          "traits": {
            "smithy.api#documentation": "The set of configurable properties for the Pipeline resource."
          }
        },
        "identity": {
          "target": "com.azure.azuredatatransfer#PipelinesUpdateResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azuredatatransfer#PipelinesUpdateResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.azuredatatransfer#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.azuredatatransfer#UserAssignedIdentities"
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.azuredatatransfer#PipelinesUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.azuredatatransfer#PipelinesUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "pipelineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the pipeline on which to operate."
          }
        },
        "properties": {
          "target": "com.azure.azuredatatransfer#PipelinesPatchProperties",
          "traits": {
            "smithy.api#documentation": "Properties of pipelines patch body."
          }
        },
        "tags": {
          "target": "com.azure.azuredatatransfer#PipelinesUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "identity": {
          "target": "com.azure.azuredatatransfer#PipelinesUpdateRequestIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azuredatatransfer#PipelinesUpdateRequestIdentity": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.azuredatatransfer#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.azuredatatransfer#UserAssignedIdentitiesInput"
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.azuredatatransfer#UserAssignedIdentitiesInput": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.azuredatatransfer#UserAssignedIdentityInput"
      },
      "traits": {
        "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
      }
    },
    "com.azure.azuredatatransfer#UserAssignedIdentityInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "User assigned identity properties"
      }
    },
    "com.azure.azuredatatransfer#PipelinesUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.azuredatatransfer#PipelinesPatchProperties": {
      "type": "structure",
      "members": {
        "flowTypes": {
          "target": "com.azure.azuredatatransfer#PipelinesPatchPropertiesFlowTypesList",
          "traits": {
            "smithy.api#documentation": "The flow types allowed for this pipeline. FlowTypes has reached end of life support starting version 2025-05-30-preview. Please create and use the FlowProfile property instead."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of pipelines patch body. The property has reached end of life support starting version 2025-05-30-preview. Please create and use the FlowProfile resource instead."
      }
    },
    "com.azure.azuredatatransfer#PipelinesPatchPropertiesFlowTypesList": {
      "type": "list",
      "member": {
        "target": "com.azure.azuredatatransfer#FlowType"
      },
      "traits": {
        "smithy.api#documentation": "The flow types allowed for this pipeline. FlowTypes has reached end of life support starting version 2025-05-30-preview. Please create and use the FlowProfile property instead."
      }
    },
    "com.azure.azuredatatransfer#PipelinesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.azuredatatransfer#PipelinesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.azuredatatransfer#PipelinesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureDataTransfer/pipelines/{pipelineName}",
          "code": 200,
          "apiVersion": "2025-05-21"
        },
        "smithy.api#documentation": "Creates a new Pipeline resource or updates an existing one. This operation is asynchronous and returns the resulting Pipeline.",
        "com.distilled.openapi#apiVersion": "2025-05-21"
      }
    },
    "com.azure.azuredatatransfer#PipelinesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azuredatatransfer#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.azuredatatransfer#PipelinesCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.azuredatatransfer#PipelineProperties",
          "traits": {
            "smithy.api#documentation": "The set of configurable properties for the Pipeline resource."
          }
        },
        "identity": {
          "target": "com.azure.azuredatatransfer#PipelinesCreateOrUpdateResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azuredatatransfer#PipelinesCreateOrUpdateResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.azuredatatransfer#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.azuredatatransfer#UserAssignedIdentities"
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.azuredatatransfer#PipelinesCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.azuredatatransfer#PipelinesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
[...]
