{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.azurefleet#FleetsListVirtualMachineScaleSets": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurefleet#FleetsListVirtualMachineScaleSetsRequest"
      },
      "output": {
        "target": "com.azure.azurefleet#VirtualMachineScaleSetListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureFleet/fleets/{name}/virtualMachineScaleSets",
          "code": 200,
          "apiVersion": "2024-11-01"
        },
        "smithy.api#documentation": "List VirtualMachineScaleSet resources by Fleet",
        "com.distilled.openapi#apiVersion": "2024-11-01"
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.azurefleet#VirtualMachineScaleSetListResultValueList",
          "traits": {
            "smithy.api#documentation": "The VirtualMachineScaleSet items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a VirtualMachineScaleSet list operation."
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurefleet#VirtualMachineScaleSet"
      },
      "traits": {
        "smithy.api#documentation": "The VirtualMachineScaleSet items on this page"
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSet": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the virtualMachineScaleSet",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The compute RP resource id of the virtualMachineScaleSet \n\"subscriptions/{subId}/resourceGroups/{rgName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmssName}\"",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the virtualMachineScaleSet"
          }
        },
        "operationStatus": {
          "target": "com.azure.azurefleet#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "This represents the operationStatus of the VMSS in response to the last operation that was performed on it by Azure Fleet resource.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.azure.azurefleet#ApiError",
          "traits": {
            "smithy.api#documentation": "Error Information when `operationStatus` is `Failed`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An AzureFleet's virtualMachineScaleSet"
      }
    },
    "com.azure.azurefleet#ApiError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error code."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The target of the particular error."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message."
          }
        },
        "details": {
          "target": "com.azure.azurefleet#ApiErrorDetailsList",
          "traits": {
            "smithy.api#documentation": "The API error details"
          }
        },
        "innererror": {
          "target": "com.azure.azurefleet#InnerError",
          "traits": {
            "smithy.api#documentation": "The API inner error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ApiError for Fleet"
      }
    },
    "com.azure.azurefleet#InnerError": {
      "type": "structure",
      "members": {
        "exceptionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The exception type."
          }
        },
        "errorDetail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The internal error message or exception dump."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Inner error details."
      }
    },
    "com.azure.azurefleet#ApiErrorDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurefleet#ApiErrorBase"
      },
      "traits": {
        "smithy.api#documentation": "The API error details"
      }
    },
    "com.azure.azurefleet#ApiErrorBase": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error code."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The target of the particular error."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "API error base."
      }
    },
    "com.azure.azurefleet#ProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "MIGRATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Migrating"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the current operation."
      }
    },
    "com.azure.azurefleet#FleetsListVirtualMachineScaleSetsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Fleet"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurefleet#FleetsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurefleet#FleetsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureFleet/fleets/{fleetName}",
          "code": 200,
          "apiVersion": "2024-11-01"
        },
        "smithy.api#documentation": "Delete a Fleet",
        "com.distilled.openapi#apiVersion": "2024-11-01"
      }
    },
    "com.azure.azurefleet#FleetsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "fleetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Compute Fleet"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurefleet#FleetsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurefleet#FleetsUpdateRequest"
      },
      "output": {
        "target": "com.azure.azurefleet#FleetsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureFleet/fleets/{fleetName}",
          "code": 200,
          "apiVersion": "2024-11-01"
        },
        "smithy.api#documentation": "Update a Fleet",
        "com.distilled.openapi#apiVersion": "2024-11-01"
      }
    },
    "com.azure.azurefleet#FleetsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azurefleet#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.azurefleet#FleetsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.azurefleet#FleetProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "zones": {
          "target": "com.azure.azurefleet#FleetsUpdateResponseZonesList",
          "traits": {
            "smithy.api#documentation": "Zones in which the Compute Fleet is available"
          }
        },
        "identity": {
          "target": "com.azure.azurefleet#FleetsUpdateResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        },
        "plan": {
          "target": "com.azure.azurefleet#FleetsUpdateResponsePlan",
          "traits": {
            "smithy.api#documentation": "Plan for the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azurefleet#FleetsUpdateResponsePlan": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user defined name of the 3rd Party Artifact that is being procured.",
            "smithy.api#required": {}
          }
        },
        "publisher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The publisher of the 3rd Party Artifact that is being bought. E.g. NewRelic",
            "smithy.api#required": {}
          }
        },
        "product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The 3rd Party artifact that is being procured. E.g. NewRelic. Product maps to the OfferID specified for the artifact at the time of Data Market onboarding. ",
            "smithy.api#required": {}
          }
        },
        "promotionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A publisher provided promotion code as provisioned in Data Market for the said product/artifact."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the desired product/artifact."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Plan for the resource."
      }
    },
    "com.azure.azurefleet#FleetsUpdateResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.azurefleet#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.azurefleet#UserAssignedIdentities"
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.azurefleet#UserAssignedIdentities": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.azurefleet#UserAssignedIdentity"
      },
      "traits": {
        "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
      }
    },
    "com.azure.azurefleet#UserAssignedIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of the assigned identity."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client ID of the assigned identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User assigned identity properties"
      }
    },
    "com.azure.azurefleet#ManagedServiceIdentityType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        },
        "SYSTEMASSIGNED_USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned,UserAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of managed service identity (where both SystemAssigned and UserAssigned types are allowed)."
      }
    },
    "com.azure.azurefleet#FleetsUpdateResponseZonesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Zones in which the Compute Fleet is available"
      }
    },
    "com.azure.azurefleet#FleetProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.azurefleet#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The status of the last operation."
          }
        },
        "spotPriorityProfile": {
          "target": "com.azure.azurefleet#SpotPriorityProfile",
          "traits": {
            "smithy.api#documentation": "Configuration Options for Spot instances in Compute Fleet."
          }
        },
        "regularPriorityProfile": {
          "target": "com.azure.azurefleet#RegularPriorityProfile",
          "traits": {
            "smithy.api#documentation": "Configuration Options for Regular instances in Compute Fleet."
          }
        },
        "vmSizesProfile": {
          "target": "com.azure.azurefleet#FleetPropertiesVmSizesProfileList",
          "traits": {
            "smithy.api#documentation": "List of VM sizes supported for Compute Fleet",
            "smithy.api#required": {}
          }
        },
        "vmAttributes": {
          "target": "com.azure.azurefleet#VMAttributes",
          "traits": {
            "smithy.api#documentation": "Attribute based Fleet."
          }
        },
        "additionalLocationsProfile": {
          "target": "com.azure.azurefleet#AdditionalLocationsProfile",
          "traits": {
            "smithy.api#documentation": "Represents the configuration for additional locations where Fleet resources may be deployed."
          }
        },
        "computeProfile": {
          "target": "com.azure.azurefleet#ComputeProfile",
          "traits": {
            "smithy.api#documentation": "Compute Profile to use for running user's workloads.",
            "smithy.api#required": {}
          }
        },
        "timeCreated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the time at which the Compute Fleet is created."
          }
        },
        "uniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the ID which uniquely identifies a Compute Fleet."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of the Compute Fleet."
      }
    },
    "com.azure.azurefleet#ComputeProfile": {
      "type": "structure",
      "members": {
        "baseVirtualMachineProfile": {
          "target": "com.azure.azurefleet#BaseVirtualMachineProfile",
          "traits": {
            "smithy.api#documentation": "Base Virtual Machine Profile Properties to be specified according to \"specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/{computeApiVersion}/virtualMachineScaleSet.json#/definitions/VirtualMachineScaleSetVMProfile\"",
            "smithy.api#required": {}
          }
        },
        "computeApiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the Microsoft.Compute API version to use when creating underlying Virtual Machine scale sets and Virtual Machines.\nThe default value will be the latest supported computeApiVersion by Compute Fleet."
          }
        },
        "platformFaultDomainCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the number of fault domains to use when creating the underlying VMSS.\nA fault domain is a logical group of hardware within an Azure datacenter.\nVMs in the same fault domain share a common power source and network switch.\nIf not specified, defaults to 1, which represents \"Max Spreading\" (using as many fault domains as possible).\nThis property cannot be updated."
          }
        },
        "additionalVirtualMachineCapabilities": {
          "target": "com.azure.azurefleet#AdditionalCapabilities",
          "traits": {
            "smithy.api#documentation": "Specifies VMSS and VM API entity models support two additional capabilities as of today: ultraSSDEnabled and hibernationEnabled.\nultraSSDEnabled: Enables UltraSSD_LRS storage account type on the VMSS VMs.\nhibernationEnabled: Enables the hibernation capability on the VMSS VMs.\nDefault value is null if not specified. This property cannot be updated once set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Compute Profile to use for running user's workloads."
      }
    },
    "com.azure.azurefleet#AdditionalCapabilities": {
      "type": "structure",
      "members": {
        "ultraSSDEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The flag that enables or disables a capability to have one or more managed data disks with UltraSSD_LRS storage account type on the VM or VMSS.\nManaged disks with storage account type UltraSSD_LRS can be added to a virtual machine or virtual machine scale set only if this property is enabled."
          }
        },
        "hibernationEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The flag that enables or disables hibernation capability on the VM."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AdditionalCapabilities for VM."
      }
    },
    "com.azure.azurefleet#BaseVirtualMachineProfile": {
      "type": "structure",
      "members": {
        "osProfile": {
          "target": "com.azure.azurefleet#VirtualMachineScaleSetOSProfile",
          "traits": {
            "smithy.api#documentation": "Specifies the operating system settings for the virtual machines in the scale\nset."
          }
        },
        "storageProfile": {
          "target": "com.azure.azurefleet#VirtualMachineScaleSetStorageProfile",
          "traits": {
            "smithy.api#documentation": "Specifies the storage settings for the virtual machine disks."
          }
        },
        "networkProfile": {
          "target": "com.azure.azurefleet#VirtualMachineScaleSetNetworkProfile",
          "traits": {
            "smithy.api#documentation": "Specifies properties of the network interfaces of the virtual machines in the\nscale set."
          }
        },
        "securityProfile": {
          "target": "com.azure.azurefleet#SecurityProfile",
          "traits": {
            "smithy.api#documentation": "Specifies the Security related profile settings for the virtual machines in the\nscale set."
          }
        },
        "diagnosticsProfile": {
          "target": "com.azure.azurefleet#DiagnosticsProfile",
          "traits": {
            "smithy.api#documentation": "Specifies the boot diagnostic settings state."
          }
        },
        "extensionProfile": {
          "target": "com.azure.azurefleet#VirtualMachineScaleSetExtensionProfile",
          "traits": {
            "smithy.api#documentation": "Specifies a collection of settings for extensions installed on virtual machines\nin the scale set."
          }
        },
        "licenseType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies that the image or disk that is being used was licensed on-premises.\n<br><br> Possible values for Windows Server operating system are: <br><br>\nWindows_Client <br><br> Windows_Server <br><br> Possible values for Linux\nServer operating system are: <br><br> RHEL_BYOS (for RHEL) <br><br> SLES_BYOS\n(for SUSE) <br><br> For more information, see [Azure Hybrid Use Benefit for\nWindows\nServer](https://learn.microsoft.com/azure/virtual-machines/windows/hybrid-use-benefit-licensing)\n<br><br> [Azure Hybrid Use Benefit for Linux\nServer](https://learn.microsoft.com/azure/virtual-machines/linux/azure-hybrid-benefit-linux)\n<br><br> Minimum api-version: 2015-06-15"
          }
        },
        "scheduledEventsProfile": {
          "target": "com.azure.azurefleet#ScheduledEventsProfile",
          "traits": {
            "smithy.api#documentation": "Specifies Scheduled Event related configurations."
          }
        },
        "userData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UserData for the virtual machines in the scale set, which must be base-64\nencoded. Customer should not pass any secrets in here. Minimum api-version:\n2021-03-01."
          }
        },
        "capacityReservation": {
          "target": "com.azure.azurefleet#CapacityReservationProfile",
          "traits": {
            "smithy.api#documentation": "Specifies the capacity reservation related details of a scale set. Minimum\napi-version: 2021-04-01."
          }
        },
        "applicationProfile": {
          "target": "com.azure.azurefleet#ApplicationProfile",
          "traits": {
            "smithy.api#documentation": "Specifies the gallery applications that should be made available to the VM/VMSS"
          }
        },
        "hardwareProfile": {
          "target": "com.azure.azurefleet#VirtualMachineScaleSetHardwareProfile",
          "traits": {
            "smithy.api#documentation": "Specifies the hardware profile related details of a scale set. Minimum\napi-version: 2021-11-01."
          }
        },
        "serviceArtifactReference": {
          "target": "com.azure.azurefleet#ServiceArtifactReference",
          "traits": {
            "smithy.api#documentation": "Specifies the service artifact reference id used to set same image version for\nall virtual machines in the scale set when using 'latest' image version.\nMinimum api-version: 2022-11-01"
          }
        },
        "securityPostureReference": {
          "target": "com.azure.azurefleet#SecurityPostureReference",
          "traits": {
            "smithy.api#documentation": "Specifies the security posture to be used for all virtual machines in the scale\nset. Minimum api-version: 2023-03-01"
          }
        },
        "timeCreated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the time in which this VM profile for the Virtual Machine Scale Set\nwas created. Minimum API version for this property is 2023-09-01. This value\nwill be added to VMSS Flex VM tags when creating/updating the VMSS VM Profile\nwith minimum api-version 2023-09-01. Examples: \"2024-07-01T00:00:01.1234567+00:00\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the base virtual machine profile for fleet"
      }
    },
    "com.azure.azurefleet#SecurityPostureReference": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The security posture reference id in the form of\n/CommunityGalleries/{communityGalleryName}/securityPostures/{securityPostureName}/versions/{major.minor.patch}|{major.*}|latest"
          }
        },
        "excludeExtensions": {
          "target": "com.azure.azurefleet#SecurityPostureReferenceExcludeExtensionsList",
          "traits": {
            "smithy.api#documentation": "List of virtual machine extension names to exclude when applying the security\nposture."
          }
        },
        "isOverridable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the security posture can be overridden by the user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the security posture to be used for all virtual machines in the scale\nset. Minimum api-version: 2023-03-01"
      }
    },
    "com.azure.azurefleet#SecurityPostureReferenceExcludeExtensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of virtual machine extension names to exclude when applying the security\nposture."
      }
    },
    "com.azure.azurefleet#ServiceArtifactReference": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service artifact reference id in the form of\n/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/galleries/{galleryName}/serviceArtifacts/{serviceArtifactName}/vmArtifactsProfiles/{vmArtifactsProfilesName}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the service artifact reference id used to set same image version for\nall virtual machines in the scale set when using 'latest' image version.\nMinimum api-version: 2022-11-01"
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetHardwareProfile": {
      "type": "structure",
      "members": {
        "vmSizeProperties": {
          "target": "com.azure.azurefleet#VMSizeProperties",
          "traits": {
            "smithy.api#documentation": "Specifies the properties for customizing the size of the virtual machine.\nMinimum api-version: 2021-11-01. Please follow the instructions in [VM\nCustomization](https://aka.ms/vmcustomization) for more details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the hardware settings for the virtual machine scale set."
      }
    },
    "com.azure.azurefleet#VMSizeProperties": {
      "type": "structure",
      "members": {
        "vCPUsAvailable": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the number of vCPUs available for the VM. When this property is not\nspecified in the request body the default behavior is to set it to the value of\nvCPUs available for that VM size exposed in api response of [List all available\nvirtual machine sizes in a\nregion](https://learn.microsoft.com/en-us/rest/api/compute/resource-skus/list)."
          }
        },
        "vCPUsPerCore": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the vCPU to physical core ratio. When this property is not specified\nin the request body the default behavior is set to the value of vCPUsPerCore\nfor the VM Size exposed in api response of [List all available virtual machine\nsizes in a\nregion](https://learn.microsoft.com/en-us/rest/api/compute/resource-skus/list).\n**Setting this property to 1 also means that hyper-threading is disabled.**"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies VM Size Property settings on the virtual machine."
      }
    },
    "com.azure.azurefleet#ApplicationProfile": {
      "type": "structure",
      "members": {
        "galleryApplications": {
          "target": "com.azure.azurefleet#ApplicationProfileGalleryApplicationsList",
          "traits": {
            "smithy.api#documentation": "Specifies the gallery applications that should be made available to the VM/VMSS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the list of gallery applications that should be made available to the\nVM/VMSS"
      }
    },
    "com.azure.azurefleet#ApplicationProfileGalleryApplicationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurefleet#VMGalleryApplication"
      },
      "traits": {
        "smithy.api#documentation": "Specifies the gallery applications that should be made available to the VM/VMSS"
      }
    },
    "com.azure.azurefleet#VMGalleryApplication": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional, Specifies a passthrough value for more generic context."
          }
        },
        "order": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional, Specifies the order in which the packages have to be installed"
          }
        },
        "packageReferenceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the GalleryApplicationVersion resource id on the form of\n/subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/applications/{application}/versions/{version}",
            "smithy.api#required": {}
          }
        },
        "configurationReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional, Specifies the uri to an azure blob that will replace the default\nconfiguration for the package if provided"
          }
        },
        "treatFailureAsDeploymentFailure": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional, If true, any failure for any operation in the VmApplication will fail\nthe deployment"
          }
        },
        "enableAutomaticUpgrade": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, when a new Gallery Application version is available in PIR/SIG,\nit will be automatically updated for the VM/VMSS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the required information to reference a compute gallery application\nversion"
      }
    },
    "com.azure.azurefleet#CapacityReservationProfile": {
      "type": "structure",
      "members": {
        "capacityReservationGroup": {
          "target": "com.azure.azurefleet#SubResource",
          "traits": {
            "smithy.api#documentation": "Specifies the capacity reservation group resource id that should be used for\nallocating the virtual machine or scaleset vm instances provided enough\ncapacity has been reserved. Please refer to https://aka.ms/CapacityReservation\nfor more details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The parameters of a capacity reservation Profile."
      }
    },
    "com.azure.azurefleet#SubResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes SubResource"
      }
    },
    "com.azure.azurefleet#ScheduledEventsProfile": {
      "type": "structure",
      "members": {
        "terminateNotificationProfile": {
          "target": "com.azure.azurefleet#TerminateNotificationProfile",
          "traits": {
            "smithy.api#documentation": "Specifies Terminate Scheduled Event related configurations."
          }
        },
        "osImageNotificationProfile": {
          "target": "com.azure.azurefleet#OSImageNotificationProfile",
          "traits": {
            "smithy.api#documentation": "Specifies OS Image Scheduled Event related configurations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies Scheduled Event related configurations."
      }
    },
    "com.azure.azurefleet#OSImageNotificationProfile": {
      "type": "structure",
      "members": {
        "notBeforeTimeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Length of time a Virtual Machine being reimaged or having its OS upgraded will\nhave to potentially approve the OS Image Scheduled Event before the event is\nauto approved (timed out). The configuration is specified in ISO 8601 format,\nand the value must not exceed 15 minutes (PT15M)"
          }
        },
        "enable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether the OS Image Scheduled event is enabled or disabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies OS Image Scheduled Event related configurations."
      }
    },
    "com.azure.azurefleet#TerminateNotificationProfile": {
      "type": "structure",
      "members": {
        "notBeforeTimeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Configurable length of time a Virtual Machine being deleted will have to\npotentially approve the Terminate Scheduled Event before the event is auto\napproved (timed out). The configuration must be specified in ISO 8601 format,\nthe default value is 5 minutes (PT5M)"
          }
        },
        "enable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether the Terminate Scheduled event is enabled or disabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies Terminate Scheduled Event related configurations."
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetExtensionProfile": {
      "type": "structure",
      "members": {
        "extensions": {
          "target": "com.azure.azurefleet#VirtualMachineScaleSetExtensionProfileExtensionsList",
          "traits": {
            "smithy.api#documentation": "The virtual machine scale set child extension resources."
          }
        },
        "extensionsTimeBudget": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the time alloted for all extensions to start. The time duration\nshould be between 15 minutes and 120 minutes (inclusive) and should be\nspecified in ISO 8601 format. The default value is 90 minutes (PT1H30M).\nMinimum api-version: 2020-06-01."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a virtual machine scale set extension profile."
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetExtensionProfileExtensionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurefleet#VirtualMachineScaleSetExtension"
      },
      "traits": {
        "smithy.api#documentation": "The virtual machine scale set child extension resources."
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetExtension": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Id"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the extension."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type"
          }
        },
        "properties": {
          "target": "com.azure.azurefleet#VirtualMachineScaleSetExtensionProperties",
          "traits": {
            "smithy.api#documentation": "Describes the properties of a Virtual Machine Scale Set Extension."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a Virtual Machine Scale Set Extension."
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetExtensionProperties": {
      "type": "structure",
      "members": {
        "forceUpdateTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If a value is provided and is different from the previous value, the extension\nhandler will be forced to update even if the extension configuration has not\nchanged."
          }
        },
        "publisher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the extension handler publisher."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the type of the extension; an example is \"CustomScriptExtension\"."
          }
        },
        "typeHandlerVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the version of the script handler."
          }
        },
        "autoUpgradeMinorVersion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the extension should use a newer minor version if one is\navailable at deployment time. Once deployed, however, the extension will not\nupgrade minor versions unless redeployed, even with this property set to true."
          }
        },
        "enableAutomaticUpgrade": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the extension should be automatically upgraded by the\nplatform if there is a newer version of the extension available."
          }
        },
        "settings": {
          "target": "com.azure.azurefleet#VirtualMachineScaleSetExtensionPropertiesSettingsMap",
          "traits": {
            "smithy.api#documentation": "Json formatted public settings for the extension."
          }
        },
        "protectedSettings": {
          "target": "com.azure.azurefleet#VirtualMachineScaleSetExtensionPropertiesProtectedSettingsMap",
          "traits": {
            "smithy.api#documentation": "The extension can contain either protectedSettings or\nprotectedSettingsFromKeyVault or no protected settings at all."
          }
        },
        "provisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The provisioning state, which only appears in the response."
          }
        },
        "provisionAfterExtensions": {
          "target": "com.azure.azurefleet#VirtualMachineScaleSetExtensionPropertiesProvisionAfterExtensionsList",
          "traits": {
            "smithy.api#documentation": "Collection of extension names after which this extension needs to be\nprovisioned."
          }
        },
        "suppressFailures": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether failures stemming from the extension will be suppressed\n(Operational failures such as not connecting to the VM will not be suppressed\nregardless of this value). The default is false."
          }
        },
        "protectedSettingsFromKeyVault": {
          "target": "com.azure.azurefleet#KeyVaultSecretReference",
          "traits": {
            "smithy.api#documentation": "The extensions protected settings that are passed by reference, and consumed\nfrom key vault"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the properties of a Virtual Machine Scale Set Extension."
      }
    },
    "com.azure.azurefleet#KeyVaultSecretReference": {
      "type": "structure",
      "members": {
        "secretUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL referencing a secret in a Key Vault.",
            "smithy.api#required": {}
          }
        },
        "sourceVault": {
          "target": "com.azure.azurefleet#SubResource",
          "traits": {
            "smithy.api#documentation": "The relative URL of the Key Vault containing the secret.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a reference to Key Vault Secret"
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetExtensionPropertiesProvisionAfterExtensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Collection of extension names after which this extension needs to be\nprovisioned."
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetExtensionPropertiesProtectedSettingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The extension can contain either protectedSettings or\nprotectedSettingsFromKeyVault or no protected settings at all."
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetExtensionPropertiesSettingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Json formatted public settings for the extension."
      }
    },
    "com.azure.azurefleet#DiagnosticsProfile": {
      "type": "structure",
      "members": {
        "bootDiagnostics": {
          "target": "com.azure.azurefleet#BootDiagnostics",
          "traits": {
            "smithy.api#documentation": "Boot Diagnostics is a debugging feature which allows you to view Console Output\nand Screenshot to diagnose VM status. **NOTE**: If storageUri is being\nspecified then ensure that the storage account is in the same region and\nsubscription as the VM. You can easily view the output of your console log.\nAzure also enables you to see a screenshot of the VM from the hypervisor."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the boot diagnostic settings state. Minimum api-version: 2015-06-15."
      }
    },
    "com.azure.azurefleet#BootDiagnostics": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether boot diagnostics should be enabled on the Virtual Machine."
          }
        },
        "storageUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uri of the storage account to use for placing the console output and\nscreenshot. If storageUri is not specified while enabling boot diagnostics,\nmanaged storage will be used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Boot Diagnostics is a debugging feature which allows you to view Console Output\nand Screenshot to diagnose VM status. You can easily view the output of your\nconsole log. Azure also enables you to see a screenshot of the VM from the\nhypervisor."
      }
    },
    "com.azure.azurefleet#SecurityProfile": {
      "type": "structure",
      "members": {
        "uefiSettings": {
          "target": "com.azure.azurefleet#UefiSettings",
          "traits": {
            "smithy.api#documentation": "Specifies the security settings like secure boot and vTPM used while creating\nthe virtual machine. Minimum api-version: 2020-12-01."
          }
        },
        "encryptionAtHost": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This property can be used by user in the request to enable or disable the Host\nEncryption for the virtual machine or virtual machine scale set. This will\nenable the encryption for all the disks including Resource/Temp disk at host\nitself. The default behavior is: The Encryption at host will be disabled unless\nthis property is set to true for the resource."
          }
        },
        "securityType": {
          "target": "com.azure.azurefleet#SecurityTypes",
          "traits": {
            "smithy.api#documentation": "Specifies the SecurityType of the virtual machine. It has to be set to any\nspecified value to enable UefiSettings. The default behavior is: UefiSettings\nwill not be enabled unless this property is set."
          }
        },
        "encryptionIdentity": {
          "target": "com.azure.azurefleet#EncryptionIdentity",
          "traits": {
            "smithy.api#documentation": "Specifies the Managed Identity used by ADE to get access token for keyvault\noperations."
          }
        },
        "proxyAgentSettings": {
          "target": "com.azure.azurefleet#ProxyAgentSettings",
          "traits": {
            "smithy.api#documentation": "Specifies ProxyAgent settings while creating the virtual machine. Minimum\napi-version: 2023-09-01."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the Security profile settings for the virtual machine or virtual\nmachine scale set."
      }
    },
    "com.azure.azurefleet#ProxyAgentSettings": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether ProxyAgent feature should be enabled on the virtual machine\nor virtual machine scale set."
          }
        },
        "mode": {
          "target": "com.azure.azurefleet#Mode",
          "traits": {
            "smithy.api#documentation": "Specifies the mode that ProxyAgent will execute on if the feature is enabled.\nProxyAgent will start to audit or monitor but not enforce access control over\nrequests to host endpoints in Audit mode, while in Enforce mode it will enforce\naccess control. The default value is Enforce mode."
          }
        },
        "keyIncarnationId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Increase the value of this property allows user to reset the key used for\nsecuring communication channel between guest and host."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies ProxyAgent settings while creating the virtual machine. Minimum\napi-version: 2023-09-01."
      }
    },
    "com.azure.azurefleet#Mode": {
      "type": "enum",
      "members": {
        "AUDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Audit"
          }
        },
        "ENFORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enforce"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the mode that ProxyAgent will execute on if the feature is enabled.\nProxyAgent will start to audit or monitor but not enforce access control over\nrequests to host endpoints in Audit mode, while in Enforce mode it will enforce\naccess control. The default value is Enforce mode."
      }
    },
    "com.azure.azurefleet#EncryptionIdentity": {
      "type": "structure",
      "members": {
        "userAssignedIdentityResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies ARM Resource ID of one of the user identities associated with the VM."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the Managed Identity used by ADE to get access token for keyvault\noperations."
      }
    },
    "com.azure.azurefleet#SecurityTypes": {
      "type": "enum",
      "members": {
        "TRUSTEDLAUNCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TrustedLaunch"
          }
        },
        "CONFIDENTIALVM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConfidentialVM"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the SecurityType of the virtual machine. It has to be set to any\nspecified value to enable UefiSettings. The default behavior is: UefiSettings\nwill not be enabled unless this property is set."
      }
    },
    "com.azure.azurefleet#UefiSettings": {
      "type": "structure",
      "members": {
        "secureBootEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether secure boot should be enabled on the virtual machine. Minimum\napi-version: 2020-12-01."
          }
        },
        "vTpmEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether vTPM should be enabled on the virtual machine. Minimum\napi-version: 2020-12-01."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the security settings like secure boot and vTPM used while creating\nthe virtual machine. Minimum api-version: 2020-12-01."
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetNetworkProfile": {
      "type": "structure",
      "members": {
        "healthProbe": {
          "target": "com.azure.azurefleet#ApiEntityReference",
          "traits": {
            "smithy.api#documentation": "A reference to a load balancer probe used to determine the health of an\ninstance in the virtual machine scale set. The reference will be in the form:\n'/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/probes/{probeName}'."
          }
        },
        "networkInterfaceConfigurations": {
          "target": "com.azure.azurefleet#VirtualMachineScaleSetNetworkProfileNetworkInterfaceConfigurationsList",
          "traits": {
            "smithy.api#documentation": "The list of network configurations."
          }
        },
        "networkApiVersion": {
          "target": "com.azure.azurefleet#NetworkApiVersion",
          "traits": {
            "smithy.api#documentation": "specifies the Microsoft.Network API version used when creating networking\nresources in the Network Interface Configurations for Virtual Machine Scale Set\nwith orchestration mode 'Flexible'"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a virtual machine scale set network profile."
      }
    },
    "com.azure.azurefleet#NetworkApiVersion": {
      "type": "enum",
      "members": {
        "_2020_11_01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "2020-11-01"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "specifies the Microsoft.Network API version used when creating networking\nresources in the Network Interface Configurations for Virtual Machine Scale Set\nwith orchestration mode 'Flexible'"
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetNetworkProfileNetworkInterfaceConfigurationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurefleet#VirtualMachineScaleSetNetworkConfiguration"
      },
      "traits": {
        "smithy.api#documentation": "The list of network configurations."
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetNetworkConfiguration": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The network configuration name.",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.azurefleet#VirtualMachineScaleSetNetworkConfigurationProperties",
          "traits": {
            "smithy.api#documentation": "Describes a virtual machine scale set network profile's IP configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a virtual machine scale set network profile's network configurations."
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetNetworkConfigurationProperties": {
      "type": "structure",
      "members": {
        "primary": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies the primary network interface in case the virtual machine has more\nthan 1 network interface."
          }
        },
        "enableAcceleratedNetworking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether the network interface is accelerated networking-enabled."
          }
        },
        "disableTcpStateTracking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether the network interface is disabled for tcp state tracking."
          }
        },
        "enableFpga": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether the network interface is FPGA networking-enabled."
          }
        },
        "networkSecurityGroup": {
          "target": "com.azure.azurefleet#SubResource",
          "traits": {
            "smithy.api#documentation": "The network security group."
          }
        },
        "dnsSettings": {
          "target": "com.azure.azurefleet#VirtualMachineScaleSetNetworkConfigurationDnsSettings",
          "traits": {
            "smithy.api#documentation": "The dns settings to be applied on the network interfaces."
          }
        },
        "ipConfigurations": {
          "target": "com.azure.azurefleet#VirtualMachineScaleSetNetworkConfigurationPropertiesIpConfigurationsList",
          "traits": {
            "smithy.api#documentation": "Specifies the IP configurations of the network interface.",
            "smithy.api#required": {}
          }
        },
        "enableIPForwarding": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether IP forwarding enabled on this NIC."
          }
        },
        "deleteOption": {
          "target": "com.azure.azurefleet#DeleteOptions",
          "traits": {
            "smithy.api#documentation": "Specify what happens to the network interface when the VM is deleted"
          }
        },
        "auxiliaryMode": {
          "target": "com.azure.azurefleet#NetworkInterfaceAuxiliaryMode",
          "traits": {
            "smithy.api#documentation": "Specifies whether the Auxiliary mode is enabled for the Network Interface\nresource."
          }
        },
        "auxiliarySku": {
          "target": "com.azure.azurefleet#NetworkInterfaceAuxiliarySku",
          "traits": {
            "smithy.api#documentation": "Specifies whether the Auxiliary sku is enabled for the Network Interface\nresource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a virtual machine scale set network profile's IP configuration."
      }
    },
    "com.azure.azurefleet#NetworkInterfaceAuxiliarySku": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "A1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A1"
          }
        },
        "A2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A2"
          }
        },
        "A4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A4"
          }
        },
        "A8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A8"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies whether the Auxiliary sku is enabled for the Network Interface\nresource."
      }
    },
    "com.azure.azurefleet#NetworkInterfaceAuxiliaryMode": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "ACCELERATEDCONNECTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AcceleratedConnections"
          }
        },
        "FLOATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Floating"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies whether the Auxiliary mode is enabled for the Network Interface\nresource."
      }
    },
    "com.azure.azurefleet#DeleteOptions": {
      "type": "enum",
      "members": {
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Delete"
          }
        },
        "DETACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Detach"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specify what happens to the network interface when the VM is deleted"
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetNetworkConfigurationPropertiesIpConfigurationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurefleet#VirtualMachineScaleSetIPConfiguration"
      },
      "traits": {
        "smithy.api#documentation": "Specifies the IP configurations of the network interface."
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetIPConfiguration": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP configuration name.",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.azurefleet#VirtualMachineScaleSetIPConfigurationProperties",
          "traits": {
            "smithy.api#documentation": "Describes a virtual machine scale set network profile's IP configuration\nproperties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a virtual machine scale set network profile's IP configuration."
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetIPConfigurationProperties": {
      "type": "structure",
      "members": {
        "subnet": {
          "target": "com.azure.azurefleet#ApiEntityReference",
          "traits": {
            "smithy.api#documentation": "Specifies the identifier of the subnet."
          }
        },
        "primary": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies the primary network interface in case the virtual machine has more\nthan 1 network interface."
          }
        },
        "publicIPAddressConfiguration": {
          "target": "com.azure.azurefleet#VirtualMachineScaleSetPublicIPAddressConfiguration",
          "traits": {
            "smithy.api#documentation": "The publicIPAddressConfiguration."
          }
        },
        "privateIPAddressVersion": {
          "target": "com.azure.azurefleet#IPVersion",
          "traits": {
            "smithy.api#documentation": "Available from Api-Version 2017-03-30 onwards, it represents whether the\nspecific ipconfiguration is IPv4 or IPv6. Default is taken as IPv4.  Possible\nvalues are: 'IPv4' and 'IPv6'."
          }
        },
        "applicationGatewayBackendAddressPools": {
          "target": "com.azure.azurefleet#VirtualMachineScaleSetIPConfigurationPropertiesApplicationGatewayBackendAddressPoolsList",
          "traits": {
            "smithy.api#documentation": "Specifies an array of references to backend address pools of application\ngateways. A scale set can reference backend address pools of multiple\napplication gateways. Multiple scale sets cannot use the same application\ngateway."
          }
        },
        "applicationSecurityGroups": {
          "target": "com.azure.azurefleet#VirtualMachineScaleSetIPConfigurationPropertiesApplicationSecurityGroupsList",
          "traits": {
            "smithy.api#documentation": "Specifies an array of references to application security group."
          }
        },
        "loadBalancerBackendAddressPools": {
          "target": "com.azure.azurefleet#VirtualMachineScaleSetIPConfigurationPropertiesLoadBalancerBackendAddressPoolsList",
          "traits": {
            "smithy.api#documentation": "Specifies an array of references to backend address pools of load balancers. A\nscale set can reference backend address pools of one public and one internal\nload balancer. Multiple scale sets cannot use the same basic sku load balancer."
          }
        },
        "loadBalancerInboundNatPools": {
          "target": "com.azure.azurefleet#VirtualMachineScaleSetIPConfigurationPropertiesLoadBalancerInboundNatPoolsList",
          "traits": {
            "smithy.api#documentation": "Specifies an array of references to inbound Nat pools of the load balancers. A\nscale set can reference inbound nat pools of one public and one internal load\nbalancer. Multiple scale sets cannot use the same basic sku load balancer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a virtual machine scale set network profile's IP configuration\nproperties."
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetIPConfigurationPropertiesLoadBalancerInboundNatPoolsList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurefleet#SubResource"
      },
      "traits": {
        "smithy.api#documentation": "Specifies an array of references to inbound Nat pools of the load balancers. A\nscale set can reference inbound nat pools of one public and one internal load\nbalancer. Multiple scale sets cannot use the same basic sku load balancer."
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetIPConfigurationPropertiesLoadBalancerBackendAddressPoolsList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurefleet#SubResource"
      },
      "traits": {
        "smithy.api#documentation": "Specifies an array of references to backend address pools of load balancers. A\nscale set can reference backend address pools of one public and one internal\nload balancer. Multiple scale sets cannot use the same basic sku load balancer."
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetIPConfigurationPropertiesApplicationSecurityGroupsList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurefleet#SubResource"
      },
      "traits": {
        "smithy.api#documentation": "Specifies an array of references to application security group."
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetIPConfigurationPropertiesApplicationGatewayBackendAddressPoolsList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurefleet#SubResource"
      },
      "traits": {
        "smithy.api#documentation": "Specifies an array of references to backend address pools of application\ngateways. A scale set can reference backend address pools of multiple\napplication gateways. Multiple scale sets cannot use the same application\ngateway."
      }
    },
    "com.azure.azurefleet#IPVersion": {
      "type": "enum",
      "members": {
        "IPV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IPv4"
          }
        },
        "IPV6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IPv6"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available from Api-Version 2017-03-30 onwards, it represents whether the\nspecific ipconfiguration is IPv4 or IPv6. Default is taken as IPv4.  Possible\nvalues are: 'IPv4' and 'IPv6'."
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetPublicIPAddressConfiguration": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The publicIP address configuration name.",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.azurefleet#VirtualMachineScaleSetPublicIPAddressConfigurationProperties",
          "traits": {
            "smithy.api#documentation": "Describes a virtual machines scale set IP Configuration's PublicIPAddress\nconfiguration"
          }
        },
        "sku": {
          "target": "com.azure.azurefleet#PublicIPAddressSku",
          "traits": {
            "smithy.api#documentation": "Describes the public IP Sku. It can only be set with OrchestrationMode as\nFlexible."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a virtual machines scale set IP Configuration's PublicIPAddress\nconfiguration"
      }
    },
    "com.azure.azurefleet#PublicIPAddressSku": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.azure.azurefleet#PublicIPAddressSkuName",
          "traits": {
            "smithy.api#documentation": "Specify public IP sku name"
          }
        },
        "tier": {
          "target": "com.azure.azurefleet#PublicIPAddressSkuTier",
          "traits": {
            "smithy.api#documentation": "Specify public IP sku tier"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the public IP Sku. It can only be set with OrchestrationMode as\nFlexible."
      }
    },
    "com.azure.azurefleet#PublicIPAddressSkuTier": {
      "type": "enum",
      "members": {
        "REGIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Regional"
          }
        },
        "GLOBAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Global"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specify public IP sku tier"
      }
    },
    "com.azure.azurefleet#PublicIPAddressSkuName": {
      "type": "enum",
      "members": {
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Basic"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specify public IP sku name."
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetPublicIPAddressConfigurationProperties": {
      "type": "structure",
      "members": {
        "idleTimeoutInMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The idle timeout of the public IP address."
          }
        },
        "dnsSettings": {
          "target": "com.azure.azurefleet#VirtualMachineScaleSetPublicIPAddressConfigurationDnsSettings",
          "traits": {
            "smithy.api#documentation": "The dns settings to be applied on the publicIP addresses ."
          }
        },
        "ipTags": {
          "target": "com.azure.azurefleet#VirtualMachineScaleSetPublicIPAddressConfigurationPropertiesIpTagsList",
          "traits": {
            "smithy.api#documentation": "The list of IP tags associated with the public IP address."
          }
        },
        "publicIPPrefix": {
          "target": "com.azure.azurefleet#SubResource",
          "traits": {
            "smithy.api#documentation": "The PublicIPPrefix from which to allocate publicIP addresses."
          }
        },
        "publicIPAddressVersion": {
          "target": "com.azure.azurefleet#IPVersion",
          "traits": {
            "smithy.api#documentation": "Available from Api-Version 2019-07-01 onwards, it represents whether the\nspecific ipconfiguration is IPv4 or IPv6. Default is taken as IPv4. Possible\nvalues are: 'IPv4' and 'IPv6'."
          }
        },
        "deleteOption": {
          "target": "com.azure.azurefleet#DeleteOptions",
          "traits": {
            "smithy.api#documentation": "Specify what happens to the public IP when the VM is deleted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a virtual machines scale set IP Configuration's PublicIPAddress\nconfiguration"
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetPublicIPAddressConfigurationPropertiesIpTagsList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurefleet#VirtualMachineScaleSetIpTag"
      },
      "traits": {
        "smithy.api#documentation": "The list of IP tags associated with the public IP address."
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetIpTag": {
      "type": "structure",
      "members": {
        "ipTagType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP tag type. Example: FirstPartyUsage."
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP tag associated with the public IP. Example: SQL, Storage etc."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the IP tag associated with the public IP address."
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetPublicIPAddressConfigurationDnsSettings": {
      "type": "structure",
      "members": {
        "domainNameLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Domain name label.The concatenation of the domain name label and vm index\nwill be the domain name labels of the PublicIPAddress resources that will be\ncreated",
            "smithy.api#required": {}
          }
        },
        "domainNameLabelScope": {
          "target": "com.azure.azurefleet#DomainNameLabelScopeTypes",
          "traits": {
            "smithy.api#documentation": "The Domain name label scope.The concatenation of the hashed domain name label\nthat generated according to the policy from domain name label scope and vm\nindex will be the domain name labels of the PublicIPAddress resources that will\nbe created"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a virtual machines scale sets network configuration's DNS settings."
      }
    },
    "com.azure.azurefleet#DomainNameLabelScopeTypes": {
      "type": "enum",
      "members": {
        "TENANTREUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TenantReuse"
          }
        },
        "SUBSCRIPTIONREUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SubscriptionReuse"
          }
        },
        "RESOURCEGROUPREUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ResourceGroupReuse"
          }
        },
        "NOREUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NoReuse"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Domain name label scope.The concatenation of the hashed domain name label\nthat generated according to the policy from domain name label scope and vm\nindex will be the domain name labels of the PublicIPAddress resources that will\nbe created"
      }
    },
    "com.azure.azurefleet#ApiEntityReference": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ARM resource id in the form of\n/subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/..."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The API entity reference."
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetNetworkConfigurationDnsSettings": {
      "type": "structure",
      "members": {
        "dnsServers": {
          "target": "com.azure.azurefleet#VirtualMachineScaleSetNetworkConfigurationDnsSettingsDnsServersList",
          "traits": {
            "smithy.api#documentation": "List of DNS servers IP addresses"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a virtual machines scale sets network configuration's DNS settings."
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetNetworkConfigurationDnsSettingsDnsServersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of DNS servers IP addresses"
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetStorageProfile": {
      "type": "structure",
      "members": {
        "imageReference": {
          "target": "com.azure.azurefleet#ImageReference",
          "traits": {
            "smithy.api#documentation": "Specifies information about the image to use. You can specify information about\nplatform images, marketplace images, or virtual machine images. This element is\nrequired when you want to use a platform image, marketplace image, or virtual\nmachine image, but is not used in other creation operations."
          }
        },
        "osDisk": {
          "target": "com.azure.azurefleet#VirtualMachineScaleSetOSDisk",
          "traits": {
            "smithy.api#documentation": "Specifies information about the operating system disk used by the virtual\nmachines in the scale set. For more information about disks, see [About disks\nand VHDs for Azure virtual\nmachines](https://learn.microsoft.com/azure/virtual-machines/managed-disks-overview)."
          }
        },
        "dataDisks": {
          "target": "com.azure.azurefleet#VirtualMachineScaleSetStorageProfileDataDisksList",
          "traits": {
            "smithy.api#documentation": "Specifies the parameters that are used to add data disks to the virtual\nmachines in the scale set. For more information about disks, see [About disks\nand VHDs for Azure virtual\nmachines](https://learn.microsoft.com/azure/virtual-machines/managed-disks-overview)."
          }
        },
        "diskControllerType": {
          "target": "com.azure.azurefleet#DiskControllerTypes",
          "traits": {
            "smithy.api#documentation": "Specifies the disk controller type configured for the virtual machines in the scale set. Minimum api-version: 2022-08-01"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a virtual machine scale set storage profile."
      }
    },
    "com.azure.azurefleet#DiskControllerTypes": {
      "type": "enum",
      "members": {
        "SCSI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCSI"
          }
        },
        "NVME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVMe"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the disk controller type configured for the VM and\nVirtualMachineScaleSet. This property is only supported for virtual machines\nwhose operating system disk and VM sku supports Generation 2\n(https://learn.microsoft.com/en-us/azure/virtual-machines/generation-2), please\ncheck the HyperVGenerations capability returned as part of VM sku capabilities\nin the response of Microsoft.Compute SKUs api for the region contains V2\n(https://learn.microsoft.com/rest/api/compute/resourceskus/list). For more\ninformation about Disk Controller Types supported please refer to\nhttps://aka.ms/azure-diskcontrollertypes."
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetStorageProfileDataDisksList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurefleet#VirtualMachineScaleSetDataDisk"
      },
      "traits": {
        "smithy.api#documentation": "Specifies the parameters that are used to add data disks to the virtual\nmachines in the scale set. For more information about disks, see [About disks\nand VHDs for Azure virtual\nmachines](https://learn.microsoft.com/azure/virtual-machines/managed-disks-overview)."
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetDataDisk": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The disk name."
          }
        },
        "lun": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the logical unit number of the data disk. This value is used to\nidentify data disks within the VM and therefore must be unique for each data\ndisk attached to a VM.",
            "smithy.api#required": {}
          }
        },
        "caching": {
          "target": "com.azure.azurefleet#CachingTypes",
          "traits": {
            "smithy.api#documentation": "Specifies the caching requirements. Possible values are: **None,**\n**ReadOnly,** **ReadWrite.** The default values are: **None for Standard\nstorage. ReadOnly for Premium storage.**"
          }
        },
        "writeAcceleratorEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether writeAccelerator should be enabled or disabled on the disk."
          }
        },
        "createOption": {
          "target": "com.azure.azurefleet#DiskCreateOptionTypes",
          "traits": {
            "smithy.api#documentation": "The create option.",
            "smithy.api#required": {}
          }
        },
        "diskSizeGB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the size of an empty data disk in gigabytes. This element can be used\nto overwrite the size of the disk in a virtual machine image. The property\ndiskSizeGB is the number of bytes x 1024^3 for the disk and the value cannot be\nlarger than 1023."
          }
        },
        "managedDisk": {
          "target": "com.azure.azurefleet#VirtualMachineScaleSetManagedDiskParameters",
          "traits": {
            "smithy.api#documentation": "The managed disk parameters."
          }
        },
        "diskIOPSReadWrite": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the Read-Write IOPS for the managed disk. Should be used only when\nStorageAccountType is UltraSSD_LRS. If not specified, a default value would be\nassigned based on diskSizeGB."
          }
        },
        "diskMBpsReadWrite": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the bandwidth in MB per second for the managed disk. Should be used\nonly when StorageAccountType is UltraSSD_LRS. If not specified, a default value\nwould be assigned based on diskSizeGB."
          }
        },
        "deleteOption": {
          "target": "com.azure.azurefleet#DiskDeleteOptionTypes",
          "traits": {
            "smithy.api#documentation": "Specifies whether data disk should be deleted or detached upon VMSS Flex\ndeletion (This feature is available for VMSS with Flexible OrchestrationMode\nonly).<br><br> Possible values: <br><br> **Delete** If this value is used, the\ndata disk is deleted when the VMSS Flex VM is deleted.<br><br> **Detach** If\nthis value is used, the data disk is retained after VMSS Flex VM is\ndeleted.<br><br> The default value is set to **Delete**."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a virtual machine scale set data disk."
      }
    },
    "com.azure.azurefleet#DiskDeleteOptionTypes": {
      "type": "enum",
      "members": {
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Delete"
          }
        },
        "DETACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Detach"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the behavior of the managed disk when the VM gets deleted, for\nexample whether the managed disk is deleted or detached. Supported values are:\n**Delete.** If this value is used, the managed disk is deleted when VM gets\ndeleted. **Detach.** If this value is used, the managed disk is retained after\nVM gets deleted. Minimum api-version: 2021-03-01."
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetManagedDiskParameters": {
      "type": "structure",
      "members": {
        "storageAccountType": {
          "target": "com.azure.azurefleet#StorageAccountTypes",
          "traits": {
            "smithy.api#documentation": "Specifies the storage account type for the managed disk. NOTE: UltraSSD_LRS can\nonly be used with data disks, it cannot be used with OS Disk."
          }
        },
        "diskEncryptionSet": {
          "target": "com.azure.azurefleet#DiskEncryptionSetParameters",
          "traits": {
            "smithy.api#documentation": "Specifies the customer managed disk encryption set resource id for the managed\ndisk."
          }
        },
        "securityProfile": {
          "target": "com.azure.azurefleet#VMDiskSecurityProfile",
          "traits": {
            "smithy.api#documentation": "Specifies the security profile for the managed disk."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the parameters of a ScaleSet managed disk."
      }
    },
    "com.azure.azurefleet#VMDiskSecurityProfile": {
      "type": "structure",
      "members": {
        "securityEncryptionType": {
          "target": "com.azure.azurefleet#SecurityEncryptionTypes",
          "traits": {
            "smithy.api#documentation": "Specifies the EncryptionType of the managed disk. It is set to\nDiskWithVMGuestState for encryption of the managed disk along with VMGuestState\nblob, VMGuestStateOnly for encryption of just the VMGuestState blob, and\nNonPersistedTPM for not persisting firmware state in the VMGuestState blob..\n**Note:** It can be set for only Confidential VMs."
          }
        },
        "diskEncryptionSet": {
          "target": "com.azure.azurefleet#DiskEncryptionSetParameters",
          "traits": {
            "smithy.api#documentation": "Specifies the customer managed disk encryption set resource id for the managed\ndisk that is used for Customer Managed Key encrypted ConfidentialVM OS Disk and\nVMGuest blob."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the security profile settings for the managed disk. **Note:** It can\nonly be set for Confidential VMs."
      }
    },
    "com.azure.azurefleet#DiskEncryptionSetParameters": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the parameter of customer managed disk encryption set resource id\nthat can be specified for disk. **Note:** The disk encryption set resource id\ncan only be specified for managed disk. Please refer\nhttps://aka.ms/mdssewithcmkoverview for more details."
      }
    },
    "com.azure.azurefleet#SecurityEncryptionTypes": {
      "type": "enum",
      "members": {
        "VMGUESTSTATEONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VMGuestStateOnly"
          }
        },
        "DISKWITHVMGUESTSTATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DiskWithVMGuestState"
          }
        },
        "NONPERSISTEDTPM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NonPersistedTPM"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the EncryptionType of the managed disk.\n**Note:** It can be set for only Confidential VMs."
      }
    },
    "com.azure.azurefleet#StorageAccountTypes": {
      "type": "enum",
      "members": {
        "STANDARD_LRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_LRS"
          }
        },
        "PREMIUM_LRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Premium_LRS"
          }
        },
        "STANDARDSSD_LRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "StandardSSD_LRS"
          }
        },
        "ULTRASSD_LRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UltraSSD_LRS"
          }
        },
        "PREMIUM_ZRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Premium_ZRS"
          }
        },
        "STANDARDSSD_ZRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "StandardSSD_ZRS"
          }
        },
        "PREMIUMV2_LRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PremiumV2_LRS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the storage account type for the managed disk. Managed OS disk\nstorage account type can only be set when you create the scale set. NOTE:\nUltraSSD_LRS can only be used with data disks. It cannot be used with OS Disk.\nStandard_LRS uses Standard HDD. StandardSSD_LRS uses Standard SSD. Premium_LRS\nuses Premium SSD. UltraSSD_LRS uses Ultra disk. Premium_ZRS uses Premium SSD\nzone redundant storage. StandardSSD_ZRS uses Standard SSD zone redundant\nstorage. For more information regarding disks supported for Windows Virtual\nMachines, refer to\nhttps://learn.microsoft.com/azure/virtual-machines/windows/disks-types and, for\nLinux Virtual Machines, refer to\nhttps://learn.microsoft.com/azure/virtual-machines/linux/disks-types"
      }
    },
    "com.azure.azurefleet#DiskCreateOptionTypes": {
      "type": "enum",
      "members": {
        "FROMIMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FromImage"
          }
        },
        "EMPTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Empty"
          }
        },
        "ATTACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Attach"
          }
        },
        "COPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Copy"
          }
        },
        "RESTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Restore"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies how the virtual machine should be created."
      }
    },
    "com.azure.azurefleet#CachingTypes": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "READONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReadOnly"
          }
        },
        "READWRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReadWrite"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the caching requirements."
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetOSDisk": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The disk name."
          }
        },
        "caching": {
          "target": "com.azure.azurefleet#CachingTypes",
          "traits": {
            "smithy.api#documentation": "Specifies the caching requirements. Possible values are: **None,**\n**ReadOnly,** **ReadWrite.** The default values are: **None for Standard\nstorage. ReadOnly for Premium storage.**"
          }
        },
        "writeAcceleratorEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether writeAccelerator should be enabled or disabled on the disk."
          }
        },
        "createOption": {
          "target": "com.azure.azurefleet#DiskCreateOptionTypes",
          "traits": {
            "smithy.api#documentation": "Specifies how the virtual machines in the scale set should be created. The only\nallowed value is: **FromImage.** This value is used when you are using an image\nto create the virtual machine. If you are using a platform image, you also use\nthe imageReference element described above. If you are using a marketplace\nimage, you  also use the plan element previously described.",
            "smithy.api#required": {}
          }
        },
        "diffDiskSettings": {
          "target": "com.azure.azurefleet#DiffDiskSettings",
          "traits": {
            "smithy.api#documentation": "Specifies the ephemeral disk Settings for the operating system disk used by the\nvirtual machine scale set."
          }
        },
        "diskSizeGB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the size of an empty data disk in gigabytes. This element can be used\nto overwrite the size of the disk in a virtual machine image. The property 'diskSizeGB'\nis the number of bytes x 1024^3 for the disk and the value cannot\nbe larger than 1023."
          }
        },
        "osType": {
          "target": "com.azure.azurefleet#OperatingSystemTypes",
          "traits": {
            "smithy.api#documentation": "This property allows you to specify the type of the OS that is included in the\ndisk if creating a VM from user-image or a specialized VHD. Possible values\nare: **Windows,** **Linux.**"
          }
        },
        "image": {
          "target": "com.azure.azurefleet#VirtualHardDisk",
          "traits": {
            "smithy.api#documentation": "Specifies information about the unmanaged user image to base the scale set on."
          }
        },
        "vhdContainers": {
          "target": "com.azure.azurefleet#VirtualMachineScaleSetOSDiskVhdContainersList",
          "traits": {
            "smithy.api#documentation": "Specifies the container urls that are used to store operating system disks for\nthe scale set."
          }
        },
        "managedDisk": {
          "target": "com.azure.azurefleet#VirtualMachineScaleSetManagedDiskParameters",
          "traits": {
            "smithy.api#documentation": "The managed disk parameters."
          }
        },
        "deleteOption": {
          "target": "com.azure.azurefleet#DiskDeleteOptionTypes",
          "traits": {
            "smithy.api#documentation": "Specifies whether OS Disk should be deleted or detached upon VMSS Flex deletion\n(This feature is available for VMSS with Flexible OrchestrationMode only).\n<br><br> Possible values: <br><br> **Delete** If this value is used, the OS\ndisk is deleted when VMSS Flex VM is deleted.<br><br> **Detach** If this value\nis used, the OS disk is retained after VMSS Flex VM is deleted. <br><br> The\ndefault value is set to **Delete**. For an Ephemeral OS Disk, the default value\nis set to **Delete**. User cannot change the delete option for Ephemeral OS\nDisk."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a virtual machine scale set operating system disk."
      }
    },
    "com.azure.azurefleet#VirtualMachineScaleSetOSDiskVhdContainersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Specifies the container urls that are used to store operating system disks for\nthe scale set."
      }
    },
    "com.azure.azurefleet#VirtualHardDisk": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the virtual hard disk's uri."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the uri of a disk."
      }
    },
    "com.azure.azurefleet#OperatingSystemTypes": {
      "type": "enum",
      "members": {
        "WINDOWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Windows"
          }
        },
        "LINUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Linux"
          }
        }
[...]
