{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.azurearcdata#PostgresInstancesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurearcdata#PostgresInstancesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/postgresInstances/{postgresInstanceName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Deletes a postgres Instance resource",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.azurearcdata#PostgresInstancesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the Azure subscription"
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure resource group"
          }
        },
        "postgresInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Postgres Instance"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurearcdata#PostgresInstancesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurearcdata#PostgresInstancesUpdateRequest"
      },
      "output": {
        "target": "com.azure.azurearcdata#PostgresInstancesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/postgresInstances/{postgresInstanceName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Updates a postgres Instance resource",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.azurearcdata#PostgresInstancesUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azurearcdata#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.azurearcdata#PostgresInstancesUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "extendedLocation": {
          "target": "com.azure.azurearcdata#PostgresInstancesUpdateResponseExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The complex type of the extended location."
          }
        },
        "properties": {
          "target": "com.azure.azurearcdata#PostgresInstanceProperties",
          "traits": {
            "smithy.api#documentation": "null",
            "smithy.api#required": {}
          }
        },
        "sku": {
          "target": "com.azure.azurearcdata#PostgresInstanceSku",
          "traits": {
            "smithy.api#documentation": "Resource sku."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azurearcdata#PostgresInstanceSku": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the SKU.  It is typically a letter+number code",
            "smithy.api#required": {}
          }
        },
        "dev": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether dev/test is enabled. When the dev field is set to true, the resource is used for dev/test purpose. "
          }
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SKU size. When the name field is the combination of tier and some other value, this would be the standalone code. "
          }
        },
        "family": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the service has different generations of hardware, for the same SKU, then that can be captured here."
          }
        },
        "capacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If the SKU supports scale out/in then the capacity integer should be included. If scale out/in is not possible for the resource this may be omitted."
          }
        },
        "tier": {
          "target": "com.azure.azurearcdata#PostgresInstanceSkuTier",
          "traits": {
            "smithy.api#documentation": "This field is required to be implemented by the Resource Provider if the service has more than one tier."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource model definition representing SKU for Azure Database for PostgresSQL - Azure Arc"
      }
    },
    "com.azure.azurearcdata#PostgresInstanceSkuTier": {
      "type": "enum",
      "members": {
        "HYPERSCALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Hyperscale"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This field is required to be implemented by the Resource Provider if the service has more than one tier."
      }
    },
    "com.azure.azurearcdata#PostgresInstanceProperties": {
      "type": "structure",
      "members": {
        "dataControllerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The data controller id"
          }
        },
        "admin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The instance admin"
          }
        },
        "basicLoginInformation": {
          "target": "com.azure.azurearcdata#PostgresInstancePropertiesBasicLoginInformation",
          "traits": {
            "smithy.api#documentation": "Username and password for basic login authentication."
          }
        },
        "k8sRaw": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The raw kubernetes information"
          }
        },
        "lastUploadedDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last uploaded date from Kubernetes cluster. Defaults to current date time"
          }
        },
        "provisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the Azure Arc-enabled PostgreSQL instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Postgres Instance properties."
      }
    },
    "com.azure.azurearcdata#PostgresInstancePropertiesBasicLoginInformation": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Login username."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Login password.",
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Username and password for basic login authentication."
      }
    },
    "com.azure.azurearcdata#PostgresInstancesUpdateResponseExtendedLocation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the extended location."
          }
        },
        "type": {
          "target": "com.azure.azurearcdata#ExtendedLocationType",
          "traits": {
            "smithy.api#documentation": "The type of the extended location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The complex type of the extended location."
      }
    },
    "com.azure.azurearcdata#ExtendedLocationType": {
      "type": "enum",
      "members": {
        "CUSTOMLOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CustomLocation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of extendedLocation."
      }
    },
    "com.azure.azurearcdata#PostgresInstancesUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.azurearcdata#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.azurearcdata#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.azurearcdata#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.azurearcdata#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.azurearcdata#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.azurearcdata#PostgresInstancesUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the Azure subscription"
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure resource group"
          }
        },
        "postgresInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Postgres Instance"
          }
        },
        "tags": {
          "target": "com.azure.azurearcdata#PostgresInstancesUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "properties": {
          "target": "com.azure.azurearcdata#PostgresInstancePropertiesInput"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurearcdata#PostgresInstancePropertiesInput": {
      "type": "structure",
      "members": {
        "dataControllerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The data controller id"
          }
        },
        "admin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The instance admin"
          }
        },
        "basicLoginInformation": {
          "target": "com.azure.azurearcdata#PostgresInstancePropertiesInputBasicLoginInformation",
          "traits": {
            "smithy.api#documentation": "Username and password for basic login authentication."
          }
        },
        "k8sRaw": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The raw kubernetes information"
          }
        },
        "lastUploadedDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last uploaded date from Kubernetes cluster. Defaults to current date time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Postgres Instance properties."
      }
    },
    "com.azure.azurearcdata#PostgresInstancePropertiesInputBasicLoginInformation": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Login username."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Login password.",
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Username and password for basic login authentication."
      }
    },
    "com.azure.azurearcdata#PostgresInstancesUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.azurearcdata#PostgresInstancesCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurearcdata#PostgresInstancesCreateRequest"
      },
      "output": {
        "target": "com.azure.azurearcdata#PostgresInstancesCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/postgresInstances/{postgresInstanceName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Creates or replaces a postgres Instance resource",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.azurearcdata#PostgresInstancesCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azurearcdata#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.azurearcdata#PostgresInstancesCreateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "extendedLocation": {
          "target": "com.azure.azurearcdata#PostgresInstancesCreateResponseExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The complex type of the extended location."
          }
        },
        "properties": {
          "target": "com.azure.azurearcdata#PostgresInstanceProperties",
          "traits": {
            "smithy.api#documentation": "null",
            "smithy.api#required": {}
          }
        },
        "sku": {
          "target": "com.azure.azurearcdata#PostgresInstanceSku",
          "traits": {
            "smithy.api#documentation": "Resource sku."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azurearcdata#PostgresInstancesCreateResponseExtendedLocation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the extended location."
          }
        },
        "type": {
          "target": "com.azure.azurearcdata#ExtendedLocationType",
          "traits": {
            "smithy.api#documentation": "The type of the extended location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The complex type of the extended location."
      }
    },
    "com.azure.azurearcdata#PostgresInstancesCreateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.azurearcdata#PostgresInstancesCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the Azure subscription"
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure resource group"
          }
        },
        "postgresInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Postgres Instance"
          }
        },
        "tags": {
          "target": "com.azure.azurearcdata#PostgresInstancesCreateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "extendedLocation": {
          "target": "com.azure.azurearcdata#PostgresInstancesCreateRequestExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The complex type of the extended location."
          }
        },
        "properties": {
          "target": "com.azure.azurearcdata#PostgresInstancePropertiesInput",
          "traits": {
            "smithy.api#documentation": "null",
            "smithy.api#required": {}
          }
        },
        "sku": {
          "target": "com.azure.azurearcdata#PostgresInstanceSku",
          "traits": {
            "smithy.api#documentation": "Resource sku."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurearcdata#PostgresInstancesCreateRequestExtendedLocation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the extended location."
          }
        },
        "type": {
          "target": "com.azure.azurearcdata#ExtendedLocationType",
          "traits": {
            "smithy.api#documentation": "The type of the extended location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The complex type of the extended location."
      }
    },
    "com.azure.azurearcdata#PostgresInstancesCreateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.azurearcdata#PostgresInstancesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurearcdata#PostgresInstancesGetRequest"
      },
      "output": {
        "target": "com.azure.azurearcdata#PostgresInstancesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/postgresInstances/{postgresInstanceName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Retrieves a postgres Instance resource",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.azurearcdata#PostgresInstancesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azurearcdata#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.azurearcdata#PostgresInstancesGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "extendedLocation": {
          "target": "com.azure.azurearcdata#PostgresInstancesGetResponseExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The complex type of the extended location."
          }
        },
        "properties": {
          "target": "com.azure.azurearcdata#PostgresInstanceProperties",
          "traits": {
            "smithy.api#documentation": "null",
            "smithy.api#required": {}
          }
        },
        "sku": {
          "target": "com.azure.azurearcdata#PostgresInstanceSku",
          "traits": {
            "smithy.api#documentation": "Resource sku."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azurearcdata#PostgresInstancesGetResponseExtendedLocation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the extended location."
          }
        },
        "type": {
          "target": "com.azure.azurearcdata#ExtendedLocationType",
          "traits": {
            "smithy.api#documentation": "The type of the extended location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The complex type of the extended location."
      }
    },
    "com.azure.azurearcdata#PostgresInstancesGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.azurearcdata#PostgresInstancesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the Azure subscription"
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure resource group"
          }
        },
        "postgresInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Postgres Instance"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurearcdata#PostgresInstancesListByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurearcdata#PostgresInstancesListByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.azurearcdata#PostgresInstancesListByResourceGroupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/postgresInstances",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "List postgres Instance resources in the resource group\n\nGet a postgres Instances list by Resource group name.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.azurearcdata#PostgresInstancesListByResourceGroupResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.azurearcdata#PostgresInstancesListByResourceGroupResponseValueList",
          "traits": {
            "smithy.api#documentation": "Array of results."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to retrieve next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azurearcdata#PostgresInstancesListByResourceGroupResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurearcdata#PostgresInstance"
      },
      "traits": {
        "smithy.api#documentation": "Array of results."
      }
    },
    "com.azure.azurearcdata#PostgresInstance": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azurearcdata#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.azurearcdata#PostgresInstanceTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "extendedLocation": {
          "target": "com.azure.azurearcdata#PostgresInstanceExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The complex type of the extended location."
          }
        },
        "properties": {
          "target": "com.azure.azurearcdata#PostgresInstanceProperties",
          "traits": {
            "smithy.api#documentation": "null",
            "smithy.api#required": {}
          }
        },
        "sku": {
          "target": "com.azure.azurearcdata#PostgresInstanceSku",
          "traits": {
            "smithy.api#documentation": "Resource sku."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Postgres Instance."
      }
    },
    "com.azure.azurearcdata#PostgresInstanceExtendedLocation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the extended location."
          }
        },
        "type": {
          "target": "com.azure.azurearcdata#ExtendedLocationType",
          "traits": {
            "smithy.api#documentation": "The type of the extended location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The complex type of the extended location."
      }
    },
    "com.azure.azurearcdata#PostgresInstanceTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.azurearcdata#PostgresInstancesListByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the Azure subscription"
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure resource group"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurearcdata#PostgresInstancesList": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurearcdata#PostgresInstancesListRequest"
      },
      "output": {
        "target": "com.azure.azurearcdata#PostgresInstancesListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.AzureArcData/postgresInstances",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "List postgres Instance resources in the subscription",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.azurearcdata#PostgresInstancesListResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.azurearcdata#PostgresInstancesListResponseValueList",
          "traits": {
            "smithy.api#documentation": "Array of results."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to retrieve next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azurearcdata#PostgresInstancesListResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurearcdata#PostgresInstance"
      },
      "traits": {
        "smithy.api#documentation": "Array of results."
      }
    },
    "com.azure.azurearcdata#PostgresInstancesListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the Azure subscription"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurearcdata#ActiveDirectoryConnectorsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurearcdata#ActiveDirectoryConnectorsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/dataControllers/{dataControllerName}/activeDirectoryConnectors/{activeDirectoryConnectorName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Deletes an Active Directory connector resource",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.azurearcdata#ActiveDirectoryConnectorsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the Azure subscription"
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure resource group"
          }
        },
        "dataControllerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the data controller"
          }
        },
        "activeDirectoryConnectorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Active Directory connector instance"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurearcdata#ActiveDirectoryConnectorsCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurearcdata#ActiveDirectoryConnectorsCreateRequest"
      },
      "output": {
        "target": "com.azure.azurearcdata#ActiveDirectoryConnectorsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/dataControllers/{dataControllerName}/activeDirectoryConnectors/{activeDirectoryConnectorName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Creates or replaces an Active Directory connector resource.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.azurearcdata#ActiveDirectoryConnectorsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azurearcdata#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.azurearcdata#ActiveDirectoryConnectorProperties",
          "traits": {
            "smithy.api#documentation": "null",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azurearcdata#ActiveDirectoryConnectorProperties": {
      "type": "structure",
      "members": {
        "domainServiceAccountLoginInformation": {
          "target": "com.azure.azurearcdata#ActiveDirectoryConnectorPropertiesDomainServiceAccountLoginInformation",
          "traits": {
            "smithy.api#documentation": "Username and password for basic login authentication."
          }
        },
        "provisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the Active Directory connector resource."
          }
        },
        "spec": {
          "target": "com.azure.azurearcdata#ActiveDirectoryConnectorSpec",
          "traits": {
            "smithy.api#documentation": "null",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.azure.azurearcdata#ActiveDirectoryConnectorStatus",
          "traits": {
            "smithy.api#documentation": "null"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of an Active Directory connector resource"
      }
    },
    "com.azure.azurearcdata#ActiveDirectoryConnectorStatus": {
      "type": "structure",
      "members": {
        "lastUpdateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that the custom resource was last updated."
          }
        },
        "observedGeneration": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The version of the replicaSet associated with the AD connector custom resource."
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The state of the AD connector custom resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the Kubernetes custom resource."
      }
    },
    "com.azure.azurearcdata#ActiveDirectoryConnectorSpec": {
      "type": "structure",
      "members": {
        "activeDirectory": {
          "target": "com.azure.azurearcdata#ActiveDirectoryConnectorDomainDetails",
          "traits": {
            "smithy.api#documentation": "null",
            "smithy.api#required": {}
          }
        },
        "dns": {
          "target": "com.azure.azurearcdata#ActiveDirectoryConnectorDNSDetails",
          "traits": {
            "smithy.api#documentation": "null",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The specifications of the AD Kubernetes resource."
      }
    },
    "com.azure.azurearcdata#ActiveDirectoryConnectorDNSDetails": {
      "type": "structure",
      "members": {
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS domain name for which DNS lookups should be forwarded to the Active Directory DNS servers."
          }
        },
        "nameserverIPAddresses": {
          "target": "com.azure.azurearcdata#ActiveDirectoryConnectorDNSDetailsNameserverIPAddressesList",
          "traits": {
            "smithy.api#documentation": "List of Active Directory DNS server IP addresses.",
            "smithy.api#required": {}
          }
        },
        "replicas": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Replica count for DNS proxy service. Default value is 1."
          }
        },
        "preferK8sDnsForPtrLookups": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag indicating whether to prefer Kubernetes DNS server response over AD DNS server response for IP address lookups."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DNS server details"
      }
    },
    "com.azure.azurearcdata#ActiveDirectoryConnectorDNSDetailsNameserverIPAddressesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of Active Directory DNS server IP addresses."
      }
    },
    "com.azure.azurearcdata#ActiveDirectoryConnectorDomainDetails": {
      "type": "structure",
      "members": {
        "realm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name (uppercase) of the Active Directory domain that this AD connector will be associated with.",
            "smithy.api#required": {}
          }
        },
        "netbiosDomainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "NETBIOS name of the Active Directory domain."
          }
        },
        "serviceAccountProvisioning": {
          "target": "com.azure.azurearcdata#ActiveDirectoryConnectorDomainDetailsServiceAccountProvisioning",
          "traits": {
            "smithy.api#documentation": "The service account provisioning mode for this Active Directory connector."
          }
        },
        "ouDistinguishedName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The distinguished name of the Active Directory Organizational Unit."
          }
        },
        "domainControllers": {
          "target": "com.azure.azurearcdata#ActiveDirectoryDomainControllers",
          "traits": {
            "smithy.api#documentation": "null"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Active Directory domain details"
      }
    },
    "com.azure.azurearcdata#ActiveDirectoryDomainControllers": {
      "type": "structure",
      "members": {
        "primaryDomainController": {
          "target": "com.azure.azurearcdata#ActiveDirectoryDomainController",
          "traits": {
            "smithy.api#documentation": "Information about the Primary Domain Controller (PDC) in the AD domain."
          }
        },
        "secondaryDomainControllers": {
          "target": "com.azure.azurearcdata#ActiveDirectorySecondaryDomainControllers",
          "traits": {
            "smithy.api#documentation": "null"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about the Active Directory domain controllers associated with this AD connector instance"
      }
    },
    "com.azure.azurearcdata#ActiveDirectorySecondaryDomainControllers": {
      "type": "list",
      "member": {
        "target": "com.azure.azurearcdata#ActiveDirectoryDomainController"
      },
      "traits": {
        "smithy.api#documentation": "Information about the secondary domain controllers in the AD domain."
      }
    },
    "com.azure.azurearcdata#ActiveDirectoryDomainController": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully-qualified domain name of a domain controller in the AD domain.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a domain controller in the AD domain."
      }
    },
    "com.azure.azurearcdata#ActiveDirectoryConnectorDomainDetailsServiceAccountProvisioning": {
      "type": "enum",
      "members": {
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automatic"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The service account provisioning mode for this Active Directory connector."
      }
    },
    "com.azure.azurearcdata#ActiveDirectoryConnectorPropertiesDomainServiceAccountLoginInformation": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Login username."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Login password.",
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Username and password for basic login authentication."
      }
    },
    "com.azure.azurearcdata#ActiveDirectoryConnectorsCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the Azure subscription"
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure resource group"
          }
        },
        "dataControllerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the data controller"
          }
        },
        "activeDirectoryConnectorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Active Directory connector instance"
          }
        },
        "properties": {
          "target": "com.azure.azurearcdata#ActiveDirectoryConnectorPropertiesInput",
          "traits": {
            "smithy.api#documentation": "null",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurearcdata#ActiveDirectoryConnectorPropertiesInput": {
      "type": "structure",
      "members": {
        "domainServiceAccountLoginInformation": {
          "target": "com.azure.azurearcdata#ActiveDirectoryConnectorPropertiesInputDomainServiceAccountLoginInformation",
          "traits": {
            "smithy.api#documentation": "Username and password for basic login authentication."
          }
        },
        "spec": {
          "target": "com.azure.azurearcdata#ActiveDirectoryConnectorSpec",
          "traits": {
            "smithy.api#documentation": "null",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.azure.azurearcdata#ActiveDirectoryConnectorStatus",
          "traits": {
            "smithy.api#documentation": "null"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of an Active Directory connector resource"
      }
    },
    "com.azure.azurearcdata#ActiveDirectoryConnectorPropertiesInputDomainServiceAccountLoginInformation": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Login username."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Login password.",
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Username and password for basic login authentication."
      }
    },
    "com.azure.azurearcdata#ActiveDirectoryConnectorsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurearcdata#ActiveDirectoryConnectorsGetRequest"
      },
      "output": {
        "target": "com.azure.azurearcdata#ActiveDirectoryConnectorsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/dataControllers/{dataControllerName}/activeDirectoryConnectors/{activeDirectoryConnectorName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Retrieves an Active Directory connector resource",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.azurearcdata#ActiveDirectoryConnectorsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azurearcdata#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.azurearcdata#ActiveDirectoryConnectorProperties",
          "traits": {
            "smithy.api#documentation": "null",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azurearcdata#ActiveDirectoryConnectorsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the Azure subscription"
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure resource group"
          }
        },
        "dataControllerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the data controller"
          }
        },
        "activeDirectoryConnectorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Active Directory connector instance"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurearcdata#ActiveDirectoryConnectorsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurearcdata#ActiveDirectoryConnectorsListRequest"
      },
      "output": {
        "target": "com.azure.azurearcdata#ActiveDirectoryConnectorsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/dataControllers/{dataControllerName}/activeDirectoryConnectors",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "List the active directory connectors associated with the given data controller.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.azurearcdata#ActiveDirectoryConnectorsListResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.azurearcdata#ActiveDirectoryConnectorsListResponseValueList",
          "traits": {
            "smithy.api#documentation": "Array of results."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to retrieve next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azurearcdata#ActiveDirectoryConnectorsListResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurearcdata#ActiveDirectoryConnectorResource"
      },
      "traits": {
        "smithy.api#documentation": "Array of results."
      }
    },
    "com.azure.azurearcdata#ActiveDirectoryConnectorResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azurearcdata#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.azurearcdata#ActiveDirectoryConnectorProperties",
          "traits": {
            "smithy.api#documentation": "null",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Active directory connector resource"
      }
    },
    "com.azure.azurearcdata#ActiveDirectoryConnectorsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the Azure subscription"
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure resource group"
          }
        },
        "dataControllerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the data controller"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurearcdata#DataControllersDeleteDataController": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurearcdata#DataControllersDeleteDataControllerRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/dataControllers/{dataControllerName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Deletes a dataController resource",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.azurearcdata#DataControllersDeleteDataControllerRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the Azure subscription"
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure resource group"
          }
        },
        "dataControllerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the data controller"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurearcdata#DataControllersPatchDataController": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurearcdata#DataControllersPatchDataControllerRequest"
      },
      "output": {
        "target": "com.azure.azurearcdata#DataControllersPatchDataControllerResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/dataControllers/{dataControllerName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Updates a dataController resource",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.azurearcdata#DataControllersPatchDataControllerResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azurearcdata#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.azurearcdata#DataControllersPatchDataControllerResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "extendedLocation": {
          "target": "com.azure.azurearcdata#DataControllersPatchDataControllerResponseExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The complex type of the extended location."
          }
        },
        "properties": {
          "target": "com.azure.azurearcdata#DataControllerProperties",
          "traits": {
            "smithy.api#documentation": "The data controller's properties",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azurearcdata#DataControllerProperties": {
      "type": "structure",
      "members": {
        "infrastructure": {
          "target": "com.azure.azurearcdata#DataControllerPropertiesInfrastructure",
          "traits": {
            "smithy.api#documentation": "The infrastructure the data controller is running on."
          }
        },
        "onPremiseProperty": {
          "target": "com.azure.azurearcdata#OnPremiseProperty"
        },
        "k8sRaw": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The raw kubernetes information"
          }
        },
        "uploadWatermark": {
          "target": "com.azure.azurearcdata#UploadWatermark"
        },
        "lastUploadedDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last uploaded date from Kubernetes cluster. Defaults to current date time"
          }
        },
        "basicLoginInformation": {
          "target": "com.azure.azurearcdata#DataControllerPropertiesBasicLoginInformation",
          "traits": {
            "smithy.api#documentation": "Username and password for basic login authentication."
          }
        },
        "metricsDashboardCredential": {
          "target": "com.azure.azurearcdata#DataControllerPropertiesMetricsDashboardCredential",
          "traits": {
            "smithy.api#documentation": "Username and password for basic login authentication."
          }
        },
        "logsDashboardCredential": {
          "target": "com.azure.azurearcdata#DataControllerPropertiesLogsDashboardCredential",
          "traits": {
            "smithy.api#documentation": "Username and password for basic login authentication."
          }
        },
        "logAnalyticsWorkspaceConfig": {
          "target": "com.azure.azurearcdata#LogAnalyticsWorkspaceConfig"
        },
        "uploadServicePrincipal": {
          "target": "com.azure.azurearcdata#UploadServicePrincipal",
          "traits": {
            "smithy.api#documentation": "Deprecated. Service principal is deprecated in favor of Arc Kubernetes service extension managed identity."
          }
        },
        "provisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the Arc Data Controller resource."
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If a CustomLocation is provided, this contains the ARM id of the connected cluster the custom location belongs to."
          }
        },
        "extensionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If a CustomLocation is provided, this contains the ARM id of the extension the custom location belongs to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The data controller properties."
      }
    },
    "com.azure.azurearcdata#UploadServicePrincipal": {
      "type": "structure",
      "members": {
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Client ID of the service principal for uploading data."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tenant ID of the service principal."
          }
        },
        "authority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Authority for the service principal. Example: https://login.microsoftonline.com/"
          }
        },
        "clientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secret of the service principal",
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Service principal for uploading billing, metrics and logs."
      }
    },
    "com.azure.azurearcdata#LogAnalyticsWorkspaceConfig": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure Log Analytics workspace ID"
          }
        },
        "primaryKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Primary key of the workspace"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Log analytics workspace id and primary key"
      }
    },
    "com.azure.azurearcdata#DataControllerPropertiesLogsDashboardCredential": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Login username."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Login password.",
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Username and password for basic login authentication."
      }
    },
    "com.azure.azurearcdata#DataControllerPropertiesMetricsDashboardCredential": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Login username."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Login password.",
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Username and password for basic login authentication."
      }
    },
    "com.azure.azurearcdata#DataControllerPropertiesBasicLoginInformation": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Login username."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Login password.",
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Username and password for basic login authentication."
      }
    },
    "com.azure.azurearcdata#UploadWatermark": {
      "type": "structure",
      "members": {
        "metrics": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last uploaded date for metrics from kubernetes cluster. Defaults to current date time"
          }
        },
        "logs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last uploaded date for logs from kubernetes cluster. Defaults to current date time"
          }
        },
        "usages": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last uploaded date for usages from kubernetes cluster. Defaults to current date time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties on upload watermark.  Mostly timestamp for each upload data type"
      }
    },
    "com.azure.azurearcdata#OnPremiseProperty": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A globally unique ID identifying the associated Kubernetes cluster",
            "smithy.api#required": {}
          }
        },
        "publicSigningKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Certificate that contains the Kubernetes cluster public key used to verify signing",
            "smithy.api#required": {}
          }
        },
        "signingCertificateThumbprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique thumbprint returned to customer to verify the certificate being uploaded"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties from the Kubernetes data controller"
      }
    },
    "com.azure.azurearcdata#DataControllerPropertiesInfrastructure": {
      "type": "enum",
      "members": {
        "AZURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "azure"
          }
        },
        "GCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gcp"
          }
        },
        "AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws"
          }
        },
        "ALIBABA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alibaba"
          }
        },
        "ONPREMISES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "onpremises"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The infrastructure the data controller is running on."
      }
    },
    "com.azure.azurearcdata#DataControllersPatchDataControllerResponseExtendedLocation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the extended location."
          }
        },
        "type": {
          "target": "com.azure.azurearcdata#ExtendedLocationType",
          "traits": {
            "smithy.api#documentation": "The type of the extended location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The complex type of the extended location."
      }
    },
    "com.azure.azurearcdata#DataControllersPatchDataControllerResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.azurearcdata#DataControllersPatchDataControllerRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the Azure subscription"
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure resource group"
          }
        },
        "dataControllerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the data controller"
          }
        },
        "tags": {
          "target": "com.azure.azurearcdata#DataControllersPatchDataControllerRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags"
          }
        },
        "properties": {
          "target": "com.azure.azurearcdata#DataControllerPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The data controller's properties"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurearcdata#DataControllerPropertiesInput": {
      "type": "structure",
      "members": {
        "infrastructure": {
          "target": "com.azure.azurearcdata#DataControllerPropertiesInputInfrastructure",
          "traits": {
            "smithy.api#documentation": "The infrastructure the data controller is running on."
          }
        },
        "onPremiseProperty": {
          "target": "com.azure.azurearcdata#OnPremiseProperty"
        },
        "k8sRaw": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The raw kubernetes information"
          }
        },
        "uploadWatermark": {
          "target": "com.azure.azurearcdata#UploadWatermark"
        },
        "lastUploadedDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last uploaded date from Kubernetes cluster. Defaults to current date time"
          }
        },
        "basicLoginInformation": {
          "target": "com.azure.azurearcdata#DataControllerPropertiesInputBasicLoginInformation",
          "traits": {
            "smithy.api#documentation": "Username and password for basic login authentication."
          }
        },
        "metricsDashboardCredential": {
          "target": "com.azure.azurearcdata#DataControllerPropertiesInputMetricsDashboardCredential",
          "traits": {
            "smithy.api#documentation": "Username and password for basic login authentication."
          }
        },
        "logsDashboardCredential": {
          "target": "com.azure.azurearcdata#DataControllerPropertiesInputLogsDashboardCredential",
          "traits": {
            "smithy.api#documentation": "Username and password for basic login authentication."
          }
        },
        "logAnalyticsWorkspaceConfig": {
          "target": "com.azure.azurearcdata#LogAnalyticsWorkspaceConfig"
        },
        "uploadServicePrincipal": {
          "target": "com.azure.azurearcdata#UploadServicePrincipal",
          "traits": {
            "smithy.api#documentation": "Deprecated. Service principal is deprecated in favor of Arc Kubernetes service extension managed identity."
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If a CustomLocation is provided, this contains the ARM id of the connected cluster the custom location belongs to."
          }
        },
        "extensionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If a CustomLocation is provided, this contains the ARM id of the extension the custom location belongs to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The data controller properties."
      }
    },
    "com.azure.azurearcdata#DataControllerPropertiesInputLogsDashboardCredential": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Login username."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Login password.",
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Username and password for basic login authentication."
      }
    },
    "com.azure.azurearcdata#DataControllerPropertiesInputMetricsDashboardCredential": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Login username."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Login password.",
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Username and password for basic login authentication."
      }
    },
    "com.azure.azurearcdata#DataControllerPropertiesInputBasicLoginInformation": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Login username."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Login password.",
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Username and password for basic login authentication."
      }
    },
    "com.azure.azurearcdata#DataControllerPropertiesInputInfrastructure": {
      "type": "enum",
      "members": {
        "AZURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "azure"
          }
        },
        "GCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gcp"
          }
        },
        "AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws"
          }
        },
        "ALIBABA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alibaba"
          }
        },
        "ONPREMISES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "onpremises"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The infrastructure the data controller is running on."
      }
    },
    "com.azure.azurearcdata#DataControllersPatchDataControllerRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags"
      }
    },
    "com.azure.azurearcdata#DataControllersPutDataController": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurearcdata#DataControllersPutDataControllerRequest"
      },
      "output": {
        "target": "com.azure.azurearcdata#DataControllersPutDataControllerResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/dataControllers/{dataControllerName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Creates or replaces a dataController resource",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.azurearcdata#DataControllersPutDataControllerResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azurearcdata#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.azurearcdata#DataControllersPutDataControllerResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "extendedLocation": {
          "target": "com.azure.azurearcdata#DataControllersPutDataControllerResponseExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The complex type of the extended location."
          }
        },
        "properties": {
          "target": "com.azure.azurearcdata#DataControllerProperties",
          "traits": {
            "smithy.api#documentation": "The data controller's properties",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azurearcdata#DataControllersPutDataControllerResponseExtendedLocation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the extended location."
          }
        },
        "type": {
          "target": "com.azure.azurearcdata#ExtendedLocationType",
          "traits": {
            "smithy.api#documentation": "The type of the extended location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The complex type of the extended location."
      }
    },
    "com.azure.azurearcdata#DataControllersPutDataControllerResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.azurearcdata#DataControllersPutDataControllerRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the Azure subscription"
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure resource group"
          }
        },
        "dataControllerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the data controller"
          }
        },
        "tags": {
          "target": "com.azure.azurearcdata#DataControllersPutDataControllerRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "extendedLocation": {
          "target": "com.azure.azurearcdata#DataControllersPutDataControllerRequestExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The complex type of the extended location."
          }
        },
        "properties": {
          "target": "com.azure.azurearcdata#DataControllerPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The data controller's properties",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurearcdata#DataControllersPutDataControllerRequestExtendedLocation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the extended location."
          }
        },
        "type": {
          "target": "com.azure.azurearcdata#ExtendedLocationType",
          "traits": {
            "smithy.api#documentation": "The type of the extended location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The complex type of the extended location."
      }
    },
    "com.azure.azurearcdata#DataControllersPutDataControllerRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.azurearcdata#DataControllersGetDataController": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurearcdata#DataControllersGetDataControllerRequest"
      },
      "output": {
        "target": "com.azure.azurearcdata#DataControllersGetDataControllerResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/dataControllers/{dataControllerName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Retrieves a dataController resource",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.azurearcdata#DataControllersGetDataControllerResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azurearcdata#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.azurearcdata#DataControllersGetDataControllerResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "extendedLocation": {
          "target": "com.azure.azurearcdata#DataControllersGetDataControllerResponseExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The complex type of the extended location."
          }
        },
        "properties": {
          "target": "com.azure.azurearcdata#DataControllerProperties",
          "traits": {
            "smithy.api#documentation": "The data controller's properties",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azurearcdata#DataControllersGetDataControllerResponseExtendedLocation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the extended location."
          }
        },
        "type": {
          "target": "com.azure.azurearcdata#ExtendedLocationType",
          "traits": {
            "smithy.api#documentation": "The type of the extended location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The complex type of the extended location."
      }
    },
    "com.azure.azurearcdata#DataControllersGetDataControllerResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.azurearcdata#DataControllersGetDataControllerRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the Azure subscription"
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure resource group"
          }
        },
        "dataControllerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the data controller"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurearcdata#DataControllersListInGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurearcdata#DataControllersListInGroupRequest"
      },
      "output": {
        "target": "com.azure.azurearcdata#DataControllersListInGroupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/dataControllers",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "List dataController resources in the resource group",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.azurearcdata#DataControllersListInGroupResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.azurearcdata#DataControllersListInGroupResponseValueList",
          "traits": {
            "smithy.api#documentation": "Array of results."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to retrieve next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azurearcdata#DataControllersListInGroupResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurearcdata#DataControllerResource"
      },
      "traits": {
        "smithy.api#documentation": "Array of results."
      }
    },
    "com.azure.azurearcdata#DataControllerResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azurearcdata#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.azurearcdata#DataControllerResourceTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "extendedLocation": {
          "target": "com.azure.azurearcdata#DataControllerResourceExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The complex type of the extended location."
          }
        },
        "properties": {
          "target": "com.azure.azurearcdata#DataControllerProperties",
          "traits": {
            "smithy.api#documentation": "The data controller's properties",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data controller resource"
      }
    },
    "com.azure.azurearcdata#DataControllerResourceExtendedLocation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the extended location."
          }
        },
        "type": {
          "target": "com.azure.azurearcdata#ExtendedLocationType",
          "traits": {
            "smithy.api#documentation": "The type of the extended location."
          }
        }
      },
      "traits": {
[...]
