{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.azure_kusto#ClustersStop": {
      "type": "operation",
      "input": {
        "target": "com.azure.azure_kusto#ClustersStopRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/stop",
          "code": 200,
          "apiVersion": "2025-02-14"
        },
        "smithy.api#documentation": "Stops a Kusto cluster.",
        "com.distilled.openapi#apiVersion": "2025-02-14"
      }
    },
    "com.azure.azure_kusto#ClustersStopRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Kusto cluster."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azure_kusto#ClustersStart": {
      "type": "operation",
      "input": {
        "target": "com.azure.azure_kusto#ClustersStartRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/start",
          "code": 200,
          "apiVersion": "2025-02-14"
        },
        "smithy.api#documentation": "Starts a Kusto cluster.",
        "com.distilled.openapi#apiVersion": "2025-02-14"
      }
    },
    "com.azure.azure_kusto#ClustersStartRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Kusto cluster."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azure_kusto#ClustersListSkusByResource": {
      "type": "operation",
      "input": {
        "target": "com.azure.azure_kusto#ClustersListSkusByResourceRequest"
      },
      "output": {
        "target": "com.azure.azure_kusto#ListResourceSkusResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/skus",
          "code": 200,
          "apiVersion": "2025-02-14"
        },
        "smithy.api#documentation": "Returns the SKUs available for the provided resource.",
        "com.distilled.openapi#apiVersion": "2025-02-14"
      }
    },
    "com.azure.azure_kusto#ListResourceSkusResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.azure_kusto#ListResourceSkusResultValueList",
          "traits": {
            "smithy.api#documentation": "The collection of available SKUs for an existing resource."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of available SKUs for a Kusto Cluster."
      }
    },
    "com.azure.azure_kusto#ListResourceSkusResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.azure_kusto#AzureResourceSku"
      },
      "traits": {
        "smithy.api#documentation": "The collection of available SKUs for an existing resource."
      }
    },
    "com.azure.azure_kusto#AzureResourceSku": {
      "type": "structure",
      "members": {
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Namespace and Type."
          }
        },
        "sku": {
          "target": "com.azure.azure_kusto#AzureSku",
          "traits": {
            "smithy.api#documentation": "The SKU details."
          }
        },
        "capacity": {
          "target": "com.azure.azure_kusto#AzureCapacity",
          "traits": {
            "smithy.api#documentation": "The number of instances of the cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Azure resource SKU definition."
      }
    },
    "com.azure.azure_kusto#AzureCapacity": {
      "type": "structure",
      "members": {
        "scaleType": {
          "target": "com.azure.azure_kusto#AzureScaleType",
          "traits": {
            "smithy.api#documentation": "Scale type.",
            "smithy.api#required": {}
          }
        },
        "minimum": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum allowed capacity.",
            "smithy.api#required": {}
          }
        },
        "maximum": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum allowed capacity.",
            "smithy.api#required": {}
          }
        },
        "default": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The default capacity that would be used.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Azure capacity definition."
      }
    },
    "com.azure.azure_kusto#AzureScaleType": {
      "type": "enum",
      "members": {
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automatic"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Scale type."
      }
    },
    "com.azure.azure_kusto#AzureSku": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.azure.azure_kusto#AzureSkuName",
          "traits": {
            "smithy.api#documentation": "SKU name.",
            "smithy.api#required": {}
          }
        },
        "capacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of instances of the cluster."
          }
        },
        "tier": {
          "target": "com.azure.azure_kusto#AzureSkuTier",
          "traits": {
            "smithy.api#documentation": "SKU tier.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Azure SKU definition."
      }
    },
    "com.azure.azure_kusto#AzureSkuTier": {
      "type": "enum",
      "members": {
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Basic"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SKU tier."
      }
    },
    "com.azure.azure_kusto#AzureSkuName": {
      "type": "enum",
      "members": {
        "DEV_NO_SLA_STANDARD_D11_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Dev(No SLA)_Standard_D11_v2"
          }
        },
        "DEV_NO_SLA_STANDARD_E2A_V4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Dev(No SLA)_Standard_E2a_v4"
          }
        },
        "STANDARD_D11_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_D11_v2"
          }
        },
        "STANDARD_D12_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_D12_v2"
          }
        },
        "STANDARD_D13_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_D13_v2"
          }
        },
        "STANDARD_D14_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_D14_v2"
          }
        },
        "STANDARD_D32D_V4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_D32d_v4"
          }
        },
        "STANDARD_D16D_V5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_D16d_v5"
          }
        },
        "STANDARD_D32D_V5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_D32d_v5"
          }
        },
        "STANDARD_DS13_V2_1TB_PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_DS13_v2+1TB_PS"
          }
        },
        "STANDARD_DS13_V2_2TB_PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_DS13_v2+2TB_PS"
          }
        },
        "STANDARD_DS14_V2_3TB_PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_DS14_v2+3TB_PS"
          }
        },
        "STANDARD_DS14_V2_4TB_PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_DS14_v2+4TB_PS"
          }
        },
        "STANDARD_L4S": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_L4s"
          }
        },
        "STANDARD_L8S": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_L8s"
          }
        },
        "STANDARD_L16S": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_L16s"
          }
        },
        "STANDARD_L8S_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_L8s_v2"
          }
        },
        "STANDARD_L16S_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_L16s_v2"
          }
        },
        "STANDARD_L8S_V3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_L8s_v3"
          }
        },
        "STANDARD_L16S_V3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_L16s_v3"
          }
        },
        "STANDARD_L32S_V3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_L32s_v3"
          }
        },
        "STANDARD_L8AS_V3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_L8as_v3"
          }
        },
        "STANDARD_L16AS_V3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_L16as_v3"
          }
        },
        "STANDARD_L32AS_V3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_L32as_v3"
          }
        },
        "STANDARD_E64I_V3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E64i_v3"
          }
        },
        "STANDARD_E80IDS_V4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E80ids_v4"
          }
        },
        "STANDARD_E2A_V4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E2a_v4"
          }
        },
        "STANDARD_E4A_V4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E4a_v4"
          }
        },
        "STANDARD_E8A_V4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E8a_v4"
          }
        },
        "STANDARD_E16A_V4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E16a_v4"
          }
        },
        "STANDARD_E8AS_V4_1TB_PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E8as_v4+1TB_PS"
          }
        },
        "STANDARD_E8AS_V4_2TB_PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E8as_v4+2TB_PS"
          }
        },
        "STANDARD_E16AS_V4_3TB_PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E16as_v4+3TB_PS"
          }
        },
        "STANDARD_E16AS_V4_4TB_PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E16as_v4+4TB_PS"
          }
        },
        "STANDARD_E8AS_V5_1TB_PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E8as_v5+1TB_PS"
          }
        },
        "STANDARD_E8AS_V5_2TB_PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E8as_v5+2TB_PS"
          }
        },
        "STANDARD_E16AS_V5_3TB_PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E16as_v5+3TB_PS"
          }
        },
        "STANDARD_E16AS_V5_4TB_PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E16as_v5+4TB_PS"
          }
        },
        "STANDARD_E2ADS_V5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E2ads_v5"
          }
        },
        "STANDARD_E4ADS_V5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E4ads_v5"
          }
        },
        "STANDARD_E8ADS_V5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E8ads_v5"
          }
        },
        "STANDARD_E16ADS_V5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E16ads_v5"
          }
        },
        "STANDARD_EC8AS_V5_1TB_PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_EC8as_v5+1TB_PS"
          }
        },
        "STANDARD_EC8AS_V5_2TB_PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_EC8as_v5+2TB_PS"
          }
        },
        "STANDARD_EC16AS_V5_3TB_PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_EC16as_v5+3TB_PS"
          }
        },
        "STANDARD_EC16AS_V5_4TB_PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_EC16as_v5+4TB_PS"
          }
        },
        "STANDARD_EC8ADS_V5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_EC8ads_v5"
          }
        },
        "STANDARD_EC16ADS_V5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_EC16ads_v5"
          }
        },
        "STANDARD_E8S_V4_1TB_PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E8s_v4+1TB_PS"
          }
        },
        "STANDARD_E8S_V4_2TB_PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E8s_v4+2TB_PS"
          }
        },
        "STANDARD_E16S_V4_3TB_PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E16s_v4+3TB_PS"
          }
        },
        "STANDARD_E16S_V4_4TB_PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E16s_v4+4TB_PS"
          }
        },
        "STANDARD_E8S_V5_1TB_PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E8s_v5+1TB_PS"
          }
        },
        "STANDARD_E8S_V5_2TB_PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E8s_v5+2TB_PS"
          }
        },
        "STANDARD_E16S_V5_3TB_PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E16s_v5+3TB_PS"
          }
        },
        "STANDARD_E16S_V5_4TB_PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E16s_v5+4TB_PS"
          }
        },
        "STANDARD_E2D_V4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E2d_v4"
          }
        },
        "STANDARD_E4D_V4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E4d_v4"
          }
        },
        "STANDARD_E8D_V4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E8d_v4"
          }
        },
        "STANDARD_E16D_V4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E16d_v4"
          }
        },
        "STANDARD_E2D_V5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E2d_v5"
          }
        },
        "STANDARD_E4D_V5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E4d_v5"
          }
        },
        "STANDARD_E8D_V5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E8d_v5"
          }
        },
        "STANDARD_E16D_V5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_E16d_v5"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SKU name."
      }
    },
    "com.azure.azure_kusto#ClustersListSkusByResourceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Kusto cluster."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azure_kusto#SandboxCustomImagesCheckNameAvailability": {
      "type": "operation",
      "input": {
        "target": "com.azure.azure_kusto#SandboxCustomImagesCheckNameAvailabilityRequest"
      },
      "output": {
        "target": "com.azure.azure_kusto#CheckNameResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/sandboxCustomImagesCheckNameAvailability",
          "code": 200,
          "apiVersion": "2025-02-14"
        },
        "smithy.api#documentation": "Checks that the sandbox custom image resource name is valid and is not already in use.",
        "com.distilled.openapi#apiVersion": "2025-02-14"
      }
    },
    "com.azure.azure_kusto#CheckNameResult": {
      "type": "structure",
      "members": {
        "nameAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies a Boolean value that indicates if the name is available."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name that was checked."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message indicating an unavailable name due to a conflict, or a description of the naming rules that are violated."
          }
        },
        "reason": {
          "target": "com.azure.azure_kusto#Reason",
          "traits": {
            "smithy.api#documentation": "Message providing the reason why the given name is invalid."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The result returned from a check name availability request."
      }
    },
    "com.azure.azure_kusto#Reason": {
      "type": "enum",
      "members": {
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        },
        "ALREADYEXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AlreadyExists"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message providing the reason why the given name is invalid."
      }
    },
    "com.azure.azure_kusto#SandboxCustomImagesCheckNameAvailabilityRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Kusto cluster."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sandbox custom image resource name.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.azure.azure_kusto#SandboxCustomImagesCheckNameAvailabilityRequestType",
          "traits": {
            "smithy.api#documentation": "The type of resource, for instance Microsoft.Kusto/clusters/sandboxCustomImages.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azure_kusto#SandboxCustomImagesCheckNameAvailabilityRequestType": {
      "type": "enum",
      "members": {
        "MICROSOFT_KUSTO_CLUSTERS_SANDBOXCUSTOMIMAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Microsoft.Kusto/clusters/sandboxCustomImages"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of resource, for instance Microsoft.Kusto/clusters/sandboxCustomImages."
      }
    },
    "com.azure.azure_kusto#SandboxCustomImagesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.azure_kusto#SandboxCustomImagesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/sandboxCustomImages/{sandboxCustomImageName}",
          "code": 200,
          "apiVersion": "2025-02-14"
        },
        "smithy.api#documentation": "Deletes a sandbox custom image.",
        "com.distilled.openapi#apiVersion": "2025-02-14"
      }
    },
    "com.azure.azure_kusto#SandboxCustomImagesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Kusto cluster."
          }
        },
        "sandboxCustomImageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the sandbox custom image."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azure_kusto#SandboxCustomImagesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.azure_kusto#SandboxCustomImagesUpdateRequest"
      },
      "output": {
        "target": "com.azure.azure_kusto#SandboxCustomImagesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/sandboxCustomImages/{sandboxCustomImageName}",
          "code": 200,
          "apiVersion": "2025-02-14"
        },
        "smithy.api#documentation": "Updates a sandbox custom image.",
        "com.distilled.openapi#apiVersion": "2025-02-14"
      }
    },
    "com.azure.azure_kusto#SandboxCustomImagesUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azure_kusto#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.azure_kusto#SandboxCustomImageProperties",
          "traits": {
            "smithy.api#documentation": "A sandbox custom image."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azure_kusto#SandboxCustomImageProperties": {
      "type": "structure",
      "members": {
        "language": {
          "target": "com.azure.azure_kusto#Language",
          "traits": {
            "smithy.api#documentation": "The language name, for example Python.",
            "smithy.api#required": {}
          }
        },
        "languageVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the language. Either this property or baseImageName should be specified."
          }
        },
        "baseImageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The base image name on which the custom image is built on top of. It can be one of the LanguageExtensionImageName (e.g.: 'Python3_10_8', 'Python3_10_8_DL') or the name of an existing custom image. Either this property or languageVersion should be specified."
          }
        },
        "requirementsFileContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The requirements file content."
          }
        },
        "provisioningState": {
          "target": "com.azure.azure_kusto#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioned state of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class representing the properties of a sandbox custom image object."
      }
    },
    "com.azure.azure_kusto#ProvisioningState": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "MOVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Moving"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioned state of the resource."
      }
    },
    "com.azure.azure_kusto#Language": {
      "type": "enum",
      "members": {
        "PYTHON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Python"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The language name, for example Python."
      }
    },
    "com.azure.azure_kusto#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.azure_kusto#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.azure_kusto#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.azure_kusto#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.azure_kusto#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.azure_kusto#SandboxCustomImagesUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Kusto cluster."
          }
        },
        "sandboxCustomImageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the sandbox custom image."
          }
        },
        "properties": {
          "target": "com.azure.azure_kusto#SandboxCustomImageProperties",
          "traits": {
            "smithy.api#documentation": "A sandbox custom image."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azure_kusto#SandboxCustomImagesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.azure_kusto#SandboxCustomImagesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.azure_kusto#SandboxCustomImagesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/sandboxCustomImages/{sandboxCustomImageName}",
          "code": 200,
          "apiVersion": "2025-02-14"
        },
        "smithy.api#documentation": "Creates or updates a sandbox custom image.",
        "com.distilled.openapi#apiVersion": "2025-02-14"
      }
    },
    "com.azure.azure_kusto#SandboxCustomImagesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azure_kusto#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.azure_kusto#SandboxCustomImageProperties",
          "traits": {
            "smithy.api#documentation": "A sandbox custom image."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azure_kusto#SandboxCustomImagesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Kusto cluster."
          }
        },
        "sandboxCustomImageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the sandbox custom image."
          }
        },
        "properties": {
          "target": "com.azure.azure_kusto#SandboxCustomImageProperties",
          "traits": {
            "smithy.api#documentation": "A sandbox custom image."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azure_kusto#SandboxCustomImagesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.azure_kusto#SandboxCustomImagesGetRequest"
      },
      "output": {
        "target": "com.azure.azure_kusto#SandboxCustomImagesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/sandboxCustomImages/{sandboxCustomImageName}",
          "code": 200,
          "apiVersion": "2025-02-14"
        },
        "smithy.api#documentation": "Returns a sandbox custom image",
        "com.distilled.openapi#apiVersion": "2025-02-14"
      }
    },
    "com.azure.azure_kusto#SandboxCustomImagesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azure_kusto#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.azure_kusto#SandboxCustomImageProperties",
          "traits": {
            "smithy.api#documentation": "A sandbox custom image."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azure_kusto#SandboxCustomImagesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Kusto cluster."
          }
        },
        "sandboxCustomImageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the sandbox custom image."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azure_kusto#SandboxCustomImagesListByCluster": {
      "type": "operation",
      "input": {
        "target": "com.azure.azure_kusto#SandboxCustomImagesListByClusterRequest"
      },
      "output": {
        "target": "com.azure.azure_kusto#SandboxCustomImagesListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/sandboxCustomImages",
          "code": 200,
          "apiVersion": "2025-02-14"
        },
        "smithy.api#documentation": "Returns the list of the existing sandbox custom images of the given Kusto cluster.",
        "com.distilled.openapi#apiVersion": "2025-02-14"
      }
    },
    "com.azure.azure_kusto#SandboxCustomImagesListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.azure_kusto#SandboxCustomImagesListResultValueList",
          "traits": {
            "smithy.api#documentation": "The SandboxCustomImage items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list Kusto sandbox custom images operation response."
      }
    },
    "com.azure.azure_kusto#SandboxCustomImagesListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.azure_kusto#SandboxCustomImage"
      },
      "traits": {
        "smithy.api#documentation": "The SandboxCustomImage items on this page"
      }
    },
    "com.azure.azure_kusto#SandboxCustomImage": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azure_kusto#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.azure_kusto#SandboxCustomImageProperties",
          "traits": {
            "smithy.api#documentation": "A sandbox custom image."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Class representing a Kusto sandbox custom image."
      }
    },
    "com.azure.azure_kusto#SandboxCustomImagesListByClusterRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Kusto cluster."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azure_kusto#ClustersRemoveLanguageExtensions": {
      "type": "operation",
      "input": {
        "target": "com.azure.azure_kusto#ClustersRemoveLanguageExtensionsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/removeLanguageExtensions",
          "code": 200,
          "apiVersion": "2025-02-14"
        },
        "smithy.api#documentation": "Remove a list of language extensions that can run within KQL queries.",
        "com.distilled.openapi#apiVersion": "2025-02-14"
      }
    },
    "com.azure.azure_kusto#ClustersRemoveLanguageExtensionsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Kusto cluster."
          }
        },
        "value": {
          "target": "com.azure.azure_kusto#ClustersRemoveLanguageExtensionsRequestValueList",
          "traits": {
            "smithy.api#documentation": "The list of language extensions."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of resources."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azure_kusto#ClustersRemoveLanguageExtensionsRequestValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.azure_kusto#LanguageExtension"
      },
      "traits": {
        "smithy.api#documentation": "The list of language extensions."
      }
    },
    "com.azure.azure_kusto#LanguageExtension": {
      "type": "structure",
      "members": {
        "languageExtensionName": {
          "target": "com.azure.azure_kusto#LanguageExtensionName",
          "traits": {
            "smithy.api#documentation": "The language extension name."
          }
        },
        "languageExtensionImageName": {
          "target": "com.azure.azure_kusto#LanguageExtensionImageName",
          "traits": {
            "smithy.api#documentation": "The language extension image name."
          }
        },
        "languageExtensionCustomImageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sandbox custom image name that should be enabled as the active language extension. Sandbox custom image is a cluster sub resource. When this property is set, LanguageExtensionImageName should be set to 'PythonCustomImage'."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The language extension object."
      }
    },
    "com.azure.azure_kusto#LanguageExtensionImageName": {
      "type": "enum",
      "members": {
        "R": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "R"
          }
        },
        "PYTHON3_6_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Python3_6_5"
          }
        },
        "PYTHON3_10_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Python3_10_8"
          }
        },
        "PYTHON3_10_8_DL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Python3_10_8_DL"
          }
        },
        "PYTHONCUSTOMIMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PythonCustomImage"
          }
        },
        "PYTHON3_11_7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Python3_11_7"
          }
        },
        "PYTHON3_11_7_DL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Python3_11_7_DL"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Language extension image name."
      }
    },
    "com.azure.azure_kusto#LanguageExtensionName": {
      "type": "enum",
      "members": {
        "PYTHON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PYTHON"
          }
        },
        "R": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "R"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Language extension that can run within KQL query."
      }
    },
    "com.azure.azure_kusto#ClustersRemoveCalloutPolicy": {
      "type": "operation",
      "input": {
        "target": "com.azure.azure_kusto#ClustersRemoveCalloutPolicyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/removeCalloutPolicy",
          "code": 200,
          "apiVersion": "2025-02-14"
        },
        "smithy.api#documentation": "Removes callout policy for engine services.",
        "com.distilled.openapi#apiVersion": "2025-02-14"
      }
    },
    "com.azure.azure_kusto#ClustersRemoveCalloutPolicyRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Kusto cluster."
          }
        },
        "calloutId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the callout configuration."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azure_kusto#PrivateLinkResourcesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.azure_kusto#PrivateLinkResourcesGetRequest"
      },
      "output": {
        "target": "com.azure.azure_kusto#PrivateLinkResourcesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/privateLinkResources/{privateLinkResourceName}",
          "code": 200,
          "apiVersion": "2025-02-14"
        },
        "smithy.api#documentation": "Gets a private link resource.",
        "com.distilled.openapi#apiVersion": "2025-02-14"
      }
    },
    "com.azure.azure_kusto#PrivateLinkResourcesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azure_kusto#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.azure_kusto#PrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azure_kusto#PrivateLinkResourceProperties": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The private link resource group id."
          }
        },
        "requiredMembers": {
          "target": "com.azure.azure_kusto#PrivateLinkResourcePropertiesRequiredMembersList",
          "traits": {
            "smithy.api#documentation": "The private link resource required member names."
          }
        },
        "requiredZoneNames": {
          "target": "com.azure.azure_kusto#PrivateLinkResourcePropertiesRequiredZoneNamesList",
          "traits": {
            "smithy.api#documentation": "The private link resource required zone names."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a private link resource."
      }
    },
    "com.azure.azure_kusto#PrivateLinkResourcePropertiesRequiredZoneNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The private link resource required zone names."
      }
    },
    "com.azure.azure_kusto#PrivateLinkResourcePropertiesRequiredMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The private link resource required member names."
      }
    },
    "com.azure.azure_kusto#PrivateLinkResourcesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Kusto cluster."
          }
        },
        "privateLinkResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private link resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azure_kusto#PrivateLinkResourcesList": {
      "type": "operation",
      "input": {
        "target": "com.azure.azure_kusto#PrivateLinkResourcesListRequest"
      },
      "output": {
        "target": "com.azure.azure_kusto#PrivateLinkResourceListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/privateLinkResources",
          "code": 200,
          "apiVersion": "2025-02-14"
        },
        "smithy.api#documentation": "Returns the list of private link resources.",
        "com.distilled.openapi#apiVersion": "2025-02-14"
      }
    },
    "com.azure.azure_kusto#PrivateLinkResourceListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.azure_kusto#PrivateLinkResourceListResultValueList",
          "traits": {
            "smithy.api#documentation": "Array of private link resources"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of private link resources"
      }
    },
    "com.azure.azure_kusto#PrivateLinkResourceListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.azure_kusto#PrivateLinkResource"
      },
      "traits": {
        "smithy.api#documentation": "Array of private link resources"
      }
    },
    "com.azure.azure_kusto#PrivateLinkResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azure_kusto#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.azure_kusto#PrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A private link resource"
      }
    },
    "com.azure.azure_kusto#PrivateLinkResourcesListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Kusto cluster."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azure_kusto#PrivateEndpointConnectionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.azure_kusto#PrivateEndpointConnectionsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2025-02-14"
        },
        "smithy.api#documentation": "Deletes a private endpoint connection with a given name.",
        "com.distilled.openapi#apiVersion": "2025-02-14"
      }
    },
    "com.azure.azure_kusto#PrivateEndpointConnectionsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Kusto cluster."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azure_kusto#PrivateEndpointConnectionsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.azure_kusto#PrivateEndpointConnectionsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.azure_kusto#PrivateEndpointConnectionsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2025-02-14"
        },
        "smithy.api#documentation": "Approve or reject a private endpoint connection with a given name.",
        "com.distilled.openapi#apiVersion": "2025-02-14"
      }
    },
    "com.azure.azure_kusto#PrivateEndpointConnectionsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azure_kusto#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.azure_kusto#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azure_kusto#PrivateEndpointConnectionProperties": {
      "type": "structure",
      "members": {
        "privateEndpoint": {
          "target": "com.azure.azure_kusto#PrivateEndpointProperty",
          "traits": {
            "smithy.api#documentation": "Private endpoint which the connection belongs to."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.azure_kusto#PrivateLinkServiceConnectionStateProperty",
          "traits": {
            "smithy.api#documentation": "Connection State of the Private Endpoint Connection.",
            "smithy.api#required": {}
          }
        },
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Group id of the private endpoint."
          }
        },
        "provisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the private endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a private endpoint connection."
      }
    },
    "com.azure.azure_kusto#PrivateLinkServiceConnectionStateProperty": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The private link service connection status."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The private link service connection description."
          }
        },
        "actionsRequired": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Any action that is required beyond basic workflow (approve/ reject/ disconnect)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Connection State of the Private Endpoint Connection."
      }
    },
    "com.azure.azure_kusto#PrivateEndpointProperty": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource id of the private endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Private endpoint which the connection belongs to."
      }
    },
    "com.azure.azure_kusto#PrivateEndpointConnectionsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Kusto cluster."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection."
          }
        },
        "properties": {
          "target": "com.azure.azure_kusto#PrivateEndpointConnectionPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azure_kusto#PrivateEndpointConnectionPropertiesInput": {
      "type": "structure",
      "members": {
        "privateLinkServiceConnectionState": {
          "target": "com.azure.azure_kusto#PrivateLinkServiceConnectionStatePropertyInput",
          "traits": {
            "smithy.api#documentation": "Connection State of the Private Endpoint Connection.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a private endpoint connection."
      }
    },
    "com.azure.azure_kusto#PrivateLinkServiceConnectionStatePropertyInput": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The private link service connection status."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The private link service connection description."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Connection State of the Private Endpoint Connection."
      }
    },
    "com.azure.azure_kusto#PrivateEndpointConnectionsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.azure_kusto#PrivateEndpointConnectionsGetRequest"
      },
      "output": {
        "target": "com.azure.azure_kusto#PrivateEndpointConnectionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2025-02-14"
        },
        "smithy.api#documentation": "Gets a private endpoint connection.",
        "com.distilled.openapi#apiVersion": "2025-02-14"
      }
    },
    "com.azure.azure_kusto#PrivateEndpointConnectionsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azure_kusto#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.azure_kusto#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azure_kusto#PrivateEndpointConnectionsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Kusto cluster."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azure_kusto#PrivateEndpointConnectionsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.azure_kusto#PrivateEndpointConnectionsListRequest"
      },
      "output": {
        "target": "com.azure.azure_kusto#PrivateEndpointConnectionListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/privateEndpointConnections",
          "code": 200,
          "apiVersion": "2025-02-14"
        },
        "smithy.api#documentation": "Returns the list of private endpoint connections.",
        "com.distilled.openapi#apiVersion": "2025-02-14"
      }
    },
    "com.azure.azure_kusto#PrivateEndpointConnectionListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.azure_kusto#PrivateEndpointConnectionListResultValueList",
          "traits": {
            "smithy.api#documentation": "Array of private endpoint connections"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of private endpoint connections"
      }
    },
    "com.azure.azure_kusto#PrivateEndpointConnectionListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.azure_kusto#PrivateEndpointConnection"
      },
      "traits": {
        "smithy.api#documentation": "Array of private endpoint connections"
      }
    },
    "com.azure.azure_kusto#PrivateEndpointConnection": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azure_kusto#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.azure_kusto#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A private endpoint connection"
      }
    },
    "com.azure.azure_kusto#PrivateEndpointConnectionsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Kusto cluster."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azure_kusto#ClusterPrincipalAssignmentsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.azure_kusto#ClusterPrincipalAssignmentsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/principalAssignments/{principalAssignmentName}",
          "code": 200,
          "apiVersion": "2025-02-14"
        },
        "smithy.api#documentation": "Deletes a Kusto cluster principalAssignment.",
        "com.distilled.openapi#apiVersion": "2025-02-14"
      }
    },
    "com.azure.azure_kusto#ClusterPrincipalAssignmentsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Kusto cluster."
          }
        },
        "principalAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Kusto principalAssignment."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azure_kusto#ClusterPrincipalAssignmentsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.azure_kusto#ClusterPrincipalAssignmentsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.azure_kusto#ClusterPrincipalAssignmentsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/principalAssignments/{principalAssignmentName}",
          "code": 200,
          "apiVersion": "2025-02-14"
        },
        "smithy.api#documentation": "Create a Kusto cluster principalAssignment.",
        "com.distilled.openapi#apiVersion": "2025-02-14"
      }
    },
    "com.azure.azure_kusto#ClusterPrincipalAssignmentsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azure_kusto#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.azure_kusto#ClusterPrincipalProperties",
          "traits": {
            "smithy.api#documentation": "The cluster principal."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azure_kusto#ClusterPrincipalProperties": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID assigned to the cluster principal. It can be a user email, application ID, or security group name.",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.azure.azure_kusto#ClusterPrincipalRole",
          "traits": {
            "smithy.api#documentation": "Cluster principal role.",
            "smithy.api#required": {}
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant id of the principal"
          }
        },
        "principalType": {
          "target": "com.azure.azure_kusto#PrincipalType",
          "traits": {
            "smithy.api#documentation": "Principal type.",
            "smithy.api#required": {}
          }
        },
        "tenantName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant name of the principal"
          }
        },
        "principalName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal name"
          }
        },
        "provisioningState": {
          "target": "com.azure.azure_kusto#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioned state of the resource."
          }
        },
        "aadObjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal object id in AAD (Azure active directory)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class representing cluster principal property."
      }
    },
    "com.azure.azure_kusto#PrincipalType": {
      "type": "enum",
      "members": {
        "APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "App"
          }
        },
        "GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Group"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Principal type."
      }
    },
    "com.azure.azure_kusto#ClusterPrincipalRole": {
      "type": "enum",
      "members": {
        "ALLDATABASESADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AllDatabasesAdmin"
          }
        },
        "ALLDATABASESVIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AllDatabasesViewer"
          }
        },
        "ALLDATABASESMONITOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AllDatabasesMonitor"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cluster principal role."
      }
    },
    "com.azure.azure_kusto#ClusterPrincipalAssignmentsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Kusto cluster."
          }
        },
        "principalAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Kusto principalAssignment."
          }
        },
        "properties": {
          "target": "com.azure.azure_kusto#ClusterPrincipalPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The cluster principal."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azure_kusto#ClusterPrincipalPropertiesInput": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID assigned to the cluster principal. It can be a user email, application ID, or security group name.",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.azure.azure_kusto#ClusterPrincipalRole",
          "traits": {
            "smithy.api#documentation": "Cluster principal role.",
            "smithy.api#required": {}
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant id of the principal"
          }
        },
        "principalType": {
          "target": "com.azure.azure_kusto#PrincipalType",
          "traits": {
            "smithy.api#documentation": "Principal type.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class representing cluster principal property."
      }
    },
    "com.azure.azure_kusto#ClusterPrincipalAssignmentsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.azure_kusto#ClusterPrincipalAssignmentsGetRequest"
      },
      "output": {
        "target": "com.azure.azure_kusto#ClusterPrincipalAssignmentsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/principalAssignments/{principalAssignmentName}",
          "code": 200,
          "apiVersion": "2025-02-14"
        },
        "smithy.api#documentation": "Gets a Kusto cluster principalAssignment.",
        "com.distilled.openapi#apiVersion": "2025-02-14"
      }
    },
    "com.azure.azure_kusto#ClusterPrincipalAssignmentsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azure_kusto#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.azure_kusto#ClusterPrincipalProperties",
          "traits": {
            "smithy.api#documentation": "The cluster principal."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azure_kusto#ClusterPrincipalAssignmentsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Kusto cluster."
          }
        },
        "principalAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Kusto principalAssignment."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azure_kusto#ClusterPrincipalAssignmentsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.azure_kusto#ClusterPrincipalAssignmentsListRequest"
      },
      "output": {
        "target": "com.azure.azure_kusto#ClusterPrincipalAssignmentListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/principalAssignments",
          "code": 200,
          "apiVersion": "2025-02-14"
        },
        "smithy.api#documentation": "Lists all Kusto cluster principalAssignments.",
        "com.distilled.openapi#apiVersion": "2025-02-14"
      }
    },
    "com.azure.azure_kusto#ClusterPrincipalAssignmentListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.azure_kusto#ClusterPrincipalAssignmentListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of Kusto cluster principal assignments."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list Kusto cluster principal assignments operation response."
      }
    },
    "com.azure.azure_kusto#ClusterPrincipalAssignmentListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.azure_kusto#ClusterPrincipalAssignment"
      },
      "traits": {
        "smithy.api#documentation": "The list of Kusto cluster principal assignments."
      }
    },
    "com.azure.azure_kusto#ClusterPrincipalAssignment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azure_kusto#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.azure_kusto#ClusterPrincipalProperties",
          "traits": {
            "smithy.api#documentation": "The cluster principal."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Class representing a cluster principal assignment."
[...]
