{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.azure.azurestackhci#ValidateOwnershipVoucher": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#ValidateOwnershipVoucherRequest"
      },
      "output": {
        "target": "com.azure.azurestackhci#ValidateOwnershipVouchersResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/locations/{location}/validateOwnershipVouchers",
          "code": 200,
          "apiVersion": "2026-10-01"
        },
        "smithy.api#documentation": "Validates ownership vouchers.",
        "com.distilled.openapi#apiVersion": "2026-10-01"
      }
    },
    "com.azure.azurestackhci#ValidateOwnershipVouchersResponse": {
      "type": "structure",
      "members": {
        "ownershipVoucherValidationDetails": {
          "target": "com.azure.azurestackhci#ValidateOwnershipVouchersResponseOwnershipVoucherValidationDetailsList",
          "traits": {
            "smithy.api#documentation": "Ownership Voucher Validation Details.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Validate Ownership Voucher Response"
      }
    },
    "com.azure.azurestackhci#ValidateOwnershipVouchersResponseOwnershipVoucherValidationDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurestackhci#OwnershipVoucherValidationDetails"
      },
      "traits": {
        "smithy.api#documentation": "Ownership Voucher Validation Details."
      }
    },
    "com.azure.azurestackhci#OwnershipVoucherValidationDetails": {
      "type": "structure",
      "members": {
        "validationStatus": {
          "target": "com.azure.azurestackhci#OwnershipVoucherValidationStatus",
          "traits": {
            "smithy.api#documentation": "The ownership voucher validation status."
          }
        },
        "serialNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Serial number of the device."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "FDO guid of the Ownership Voucher."
          }
        },
        "manufacturer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the manufacturer."
          }
        },
        "modelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the model."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the Ownership Voucher format"
          }
        },
        "azureMachineId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure Machine Id of the Ownership voucher"
          }
        },
        "architecture": {
          "target": "com.azure.azurestackhci#Architecture",
          "traits": {
            "smithy.api#documentation": "CPU architecture of the device, for example amd64 or arm64."
          }
        },
        "error": {
          "target": "com.azure.azurestackhci#OwnershipVoucherValidationDetailsError",
          "traits": {
            "smithy.api#documentation": "The error detail."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ownership Voucher Validation Details"
      }
    },
    "com.azure.azurestackhci#OwnershipVoucherValidationDetailsError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error target."
          }
        },
        "details": {
          "target": "com.azure.azurestackhci#OwnershipVoucherValidationDetailsErrorDetailsList",
          "traits": {
            "smithy.api#documentation": "The error details."
          }
        },
        "additionalInfo": {
          "target": "com.azure.azurestackhci#OwnershipVoucherValidationDetailsErrorAdditionalInfoList",
          "traits": {
            "smithy.api#documentation": "The error additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The error detail."
      }
    },
    "com.azure.azurestackhci#OwnershipVoucherValidationDetailsErrorAdditionalInfoList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurestackhci#ErrorAdditionalInfo"
      },
      "traits": {
        "smithy.api#documentation": "The error additional info."
      }
    },
    "com.azure.azurestackhci#ErrorAdditionalInfo": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The additional info type."
          }
        },
        "info": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource management error additional info."
      }
    },
    "com.azure.azurestackhci#OwnershipVoucherValidationDetailsErrorDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurestackhci#ErrorDetail"
      },
      "traits": {
        "smithy.api#documentation": "The error details."
      }
    },
    "com.azure.azurestackhci#ErrorDetail": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error target."
          }
        },
        "details": {
          "target": "com.azure.azurestackhci#ErrorDetailDetailsList",
          "traits": {
            "smithy.api#documentation": "The error details."
          }
        },
        "additionalInfo": {
          "target": "com.azure.azurestackhci#ErrorDetailAdditionalInfoList",
          "traits": {
            "smithy.api#documentation": "The error additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The error detail."
      }
    },
    "com.azure.azurestackhci#ErrorDetailAdditionalInfoList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurestackhci#ErrorAdditionalInfo"
      },
      "traits": {
        "smithy.api#documentation": "The error additional info."
      }
    },
    "com.azure.azurestackhci#ErrorDetailDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurestackhci#ErrorDetail"
      },
      "traits": {
        "smithy.api#documentation": "The error details."
      }
    },
    "com.azure.azurestackhci#Architecture": {
      "type": "enum",
      "members": {
        "AMD64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amd64"
          }
        },
        "ARM64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "arm64"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the CPU architecture of a machine or an OS image."
      }
    },
    "com.azure.azurestackhci#OwnershipVoucherValidationStatus": {
      "type": "enum",
      "members": {
        "VALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Valid"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ownership Voucher validation Status."
      }
    },
    "com.azure.azurestackhci#ValidateOwnershipVoucherRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure region."
          }
        },
        "ownershipVoucherDetails": {
          "target": "com.azure.azurestackhci#ValidateOwnershipVoucherRequestOwnershipVoucherDetailsList",
          "traits": {
            "smithy.api#documentation": "Ownership Voucher Details.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurestackhci#ValidateOwnershipVoucherRequestOwnershipVoucherDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurestackhci#OwnershipVoucherDetailsInput"
      },
      "traits": {
        "smithy.api#documentation": "Ownership Voucher Details."
      }
    },
    "com.azure.azurestackhci#OwnershipVoucherDetailsInput": {
      "type": "structure",
      "members": {
        "ownershipVoucher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ownership voucher in base64 encoded format",
            "smithy.api#required": {}
          }
        },
        "ownerKeyType": {
          "target": "com.azure.azurestackhci#OwnerKeyType",
          "traits": {
            "smithy.api#documentation": "Owner key type",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details for ownership voucher."
      }
    },
    "com.azure.azurestackhci#OwnerKeyType": {
      "type": "enum",
      "members": {
        "MICROSOFTMANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MicrosoftManaged"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of owner key in the voucher"
      }
    },
    "com.azure.azurestackhci#DeleteEdgeMachineVolume": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#DeleteEdgeMachineVolumeRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/volumes/{volumeName}",
          "code": 200,
          "apiVersion": "2026-10-01"
        },
        "smithy.api#documentation": "Delete a volume from an Edge Machine.",
        "com.distilled.openapi#apiVersion": "2026-10-01"
      }
    },
    "com.azure.azurestackhci#DeleteEdgeMachineVolumeRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "edgeMachineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Device"
          }
        },
        "volumeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the EdgeMachineVolume"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurestackhci#EdgeMachineVolumesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#EdgeMachineVolumesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.azurestackhci#EdgeMachineVolumesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/volumes/{volumeName}",
          "code": 200,
          "apiVersion": "2026-10-01"
        },
        "smithy.api#documentation": "Create or update a volume on an Edge Machine.",
        "com.distilled.openapi#apiVersion": "2026-10-01"
      }
    },
    "com.azure.azurestackhci#EdgeMachineVolumesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azurestackhci#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.azurestackhci#EdgeMachineVolumeProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azurestackhci#EdgeMachineVolumeProperties": {
      "type": "structure",
      "members": {
        "volumeConfiguration": {
          "target": "com.azure.azurestackhci#VolumeConfiguration",
          "traits": {
            "smithy.api#documentation": "Desired configuration for this volume."
          }
        },
        "reportedProperties": {
          "target": "com.azure.azurestackhci#VolumeReportedProperties",
          "traits": {
            "smithy.api#documentation": "The actual state of the volume as reported by the device."
          }
        },
        "provisioningState": {
          "target": "com.azure.azurestackhci#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the volume resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a volume."
      }
    },
    "com.azure.azurestackhci#ProvisioningState": {
      "type": "enum",
      "members": {
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Error"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "CONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Connected"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disconnected"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleted"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "MOVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Moving"
          }
        },
        "PARTIALLYSUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PartiallySucceeded"
          }
        },
        "PARTIALLYCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PartiallyConnected"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        },
        "DISABLEINPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DisableInProgress"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provisioning state of the ArcSetting proxy resource."
      }
    },
    "com.azure.azurestackhci#VolumeReportedProperties": {
      "type": "structure",
      "members": {
        "partitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the partition."
          }
        },
        "offsetInBytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Byte offset of the partition start."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Label of the volume."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Access path for the volume."
          }
        },
        "parentDiskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ARM resource ID of the parent disk."
          }
        },
        "isBoot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this volume is a boot volume."
          }
        },
        "sizeInBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total size of the volume in bytes."
          }
        },
        "sizeRemainingInBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Available space on the volume in bytes."
          }
        },
        "fileSystem": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "File system on the volume."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The actual state of the volume as reported by the device."
      }
    },
    "com.azure.azurestackhci#VolumeConfiguration": {
      "type": "structure",
      "members": {
        "reserved": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reserved for future volume configuration options."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Desired configuration for a volume. Reserved for future use."
      }
    },
    "com.azure.azurestackhci#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.azurestackhci#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.azurestackhci#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.azurestackhci#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.azurestackhci#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.azurestackhci#EdgeMachineVolumesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "edgeMachineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Device"
          }
        },
        "volumeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the EdgeMachineVolume"
          }
        },
        "properties": {
          "target": "com.azure.azurestackhci#EdgeMachineVolumePropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurestackhci#EdgeMachineVolumePropertiesInput": {
      "type": "structure",
      "members": {
        "volumeConfiguration": {
          "target": "com.azure.azurestackhci#VolumeConfiguration",
          "traits": {
            "smithy.api#documentation": "Desired configuration for this volume."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a volume."
      }
    },
    "com.azure.azurestackhci#GetEdgeMachineVolume": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#GetEdgeMachineVolumeRequest"
      },
      "output": {
        "target": "com.azure.azurestackhci#GetEdgeMachineVolumeResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/volumes/{volumeName}",
          "code": 200,
          "apiVersion": "2026-10-01"
        },
        "smithy.api#documentation": "Get a specific volume on an Edge Machine.",
        "com.distilled.openapi#apiVersion": "2026-10-01"
      }
    },
    "com.azure.azurestackhci#GetEdgeMachineVolumeResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azurestackhci#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.azurestackhci#EdgeMachineVolumeProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azurestackhci#GetEdgeMachineVolumeRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "edgeMachineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Device"
          }
        },
        "volumeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the EdgeMachineVolume"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurestackhci#ListEdgeMachineVolumes": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#ListEdgeMachineVolumesRequest"
      },
      "output": {
        "target": "com.azure.azurestackhci#EdgeMachineVolumeListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/volumes",
          "code": 200,
          "apiVersion": "2026-10-01"
        },
        "smithy.api#documentation": "List all volumes on an Edge Machine.",
        "com.distilled.openapi#apiVersion": "2026-10-01"
      }
    },
    "com.azure.azurestackhci#EdgeMachineVolumeListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.azurestackhci#EdgeMachineVolumeListResultValueList",
          "traits": {
            "smithy.api#documentation": "The EdgeMachineVolume items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a EdgeMachineVolume list operation."
      }
    },
    "com.azure.azurestackhci#EdgeMachineVolumeListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurestackhci#EdgeMachineVolume"
      },
      "traits": {
        "smithy.api#documentation": "The EdgeMachineVolume items on this page"
      }
    },
    "com.azure.azurestackhci#EdgeMachineVolume": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azurestackhci#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.azurestackhci#EdgeMachineVolumeProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Volume resource representing a storage volume on an Edge Machine."
      }
    },
    "com.azure.azurestackhci#ListEdgeMachineVolumesRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "edgeMachineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Device"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurestackhci#ValidateEdgeMachine": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#ValidateEdgeMachineRequest"
      },
      "output": {
        "target": "com.azure.azurestackhci#EdgeMachineValidateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/validate",
          "code": 200,
          "apiVersion": "2026-10-01"
        },
        "smithy.api#documentation": "A long-running resource action to validate the edge machine.",
        "com.distilled.openapi#apiVersion": "2026-10-01"
      }
    },
    "com.azure.azurestackhci#EdgeMachineValidateResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Edge machine validation status."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The validate response for Edge Machine."
      }
    },
    "com.azure.azurestackhci#ValidateEdgeMachineRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "edgeMachineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Device"
          }
        },
        "edgeMachineIds": {
          "target": "com.azure.azurestackhci#ValidateEdgeMachineRequestEdgeMachineIdsList",
          "traits": {
            "smithy.api#documentation": "Machine Ids against which, current machine has to be validated.",
            "smithy.api#required": {}
          }
        },
        "additionalInfo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Additional info required for validation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurestackhci#ValidateEdgeMachineRequestEdgeMachineIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Machine Ids against which, current machine has to be validated."
      }
    },
    "com.azure.azurestackhci#DeleteEdgeMachineSecuritySettingsOperation": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#DeleteEdgeMachineSecuritySettingsOperationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/securitySettings/{securitySettingsName}",
          "code": 200,
          "apiVersion": "2026-10-01"
        },
        "smithy.api#documentation": "Delete an EdgeMachineSecuritySettings",
        "com.distilled.openapi#apiVersion": "2026-10-01"
      }
    },
    "com.azure.azurestackhci#DeleteEdgeMachineSecuritySettingsOperationRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "edgeMachineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Device"
          }
        },
        "securitySettingsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the security settings resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurestackhci#EdgeMachineSecuritySettingsOperationsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#EdgeMachineSecuritySettingsOperationsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.azurestackhci#EdgeMachineSecuritySettingsOperationsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/securitySettings/{securitySettingsName}",
          "code": 200,
          "apiVersion": "2026-10-01"
        },
        "smithy.api#documentation": "Create or update an EdgeMachineSecuritySettings",
        "com.distilled.openapi#apiVersion": "2026-10-01"
      }
    },
    "com.azure.azurestackhci#EdgeMachineSecuritySettingsOperationsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azurestackhci#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.azurestackhci#EdgeMachineSecurityProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azurestackhci#EdgeMachineSecurityProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.azurestackhci#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the resource."
          }
        },
        "securityComplianceStatus": {
          "target": "com.azure.azurestackhci#EdgeMachineSecurityComplianceStatus",
          "traits": {
            "smithy.api#documentation": "Compliance status values synchronized from Guest Configuration."
          }
        },
        "registrationTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "First synchronization timestamp in UTC."
          }
        },
        "lastSyncTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Most recent synchronization timestamp in UTC."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of an Edge Machine Security Settings resource."
      }
    },
    "com.azure.azurestackhci#EdgeMachineSecurityComplianceStatus": {
      "type": "structure",
      "members": {
        "fipsStatus": {
          "target": "com.azure.azurestackhci#ComplianceStatus",
          "traits": {
            "smithy.api#documentation": "FIPS compliance status."
          }
        },
        "secureBootStatus": {
          "target": "com.azure.azurestackhci#ComplianceStatus",
          "traits": {
            "smithy.api#documentation": "Secure Boot compliance status."
          }
        },
        "encryptionAtRestStatus": {
          "target": "com.azure.azurestackhci#ComplianceStatus",
          "traits": {
            "smithy.api#documentation": "Encryption at rest compliance status."
          }
        },
        "seLinuxPolicyStatus": {
          "target": "com.azure.azurestackhci#ComplianceStatus",
          "traits": {
            "smithy.api#documentation": "SELinux policy compliance status."
          }
        },
        "securityBaselineStatus": {
          "target": "com.azure.azurestackhci#ComplianceStatus",
          "traits": {
            "smithy.api#documentation": "Security baseline compliance status."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Compliance status payload for edge machine security settings."
      }
    },
    "com.azure.azurestackhci#ComplianceStatus": {
      "type": "enum",
      "members": {
        "COMPLIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Compliant"
          }
        },
        "NONCOMPLIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NonCompliant"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the compliance status of a resource."
      }
    },
    "com.azure.azurestackhci#EdgeMachineSecuritySettingsOperationsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "edgeMachineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Device"
          }
        },
        "securitySettingsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the security settings resource"
          }
        },
        "properties": {
          "target": "com.azure.azurestackhci#EdgeMachineSecurityPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurestackhci#EdgeMachineSecurityPropertiesInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Properties of an Edge Machine Security Settings resource."
      }
    },
    "com.azure.azurestackhci#GetEdgeMachineSecuritySettingsOperation": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#GetEdgeMachineSecuritySettingsOperationRequest"
      },
      "output": {
        "target": "com.azure.azurestackhci#GetEdgeMachineSecuritySettingsOperationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/securitySettings/{securitySettingsName}",
          "code": 200,
          "apiVersion": "2026-10-01"
        },
        "smithy.api#documentation": "Get an EdgeMachineSecuritySettings",
        "com.distilled.openapi#apiVersion": "2026-10-01"
      }
    },
    "com.azure.azurestackhci#GetEdgeMachineSecuritySettingsOperationResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azurestackhci#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.azurestackhci#EdgeMachineSecurityProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azurestackhci#GetEdgeMachineSecuritySettingsOperationRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "edgeMachineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Device"
          }
        },
        "securitySettingsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the security settings resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurestackhci#ListEdgeMachineSecuritySettingsOperationByEdgeMachine": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#ListEdgeMachineSecuritySettingsOperationByEdgeMachineRequest"
      },
      "output": {
        "target": "com.azure.azurestackhci#EdgeMachineSecuritySettingsListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/securitySettings",
          "code": 200,
          "apiVersion": "2026-10-01"
        },
        "smithy.api#documentation": "List EdgeMachineSecuritySettings by EdgeMachine",
        "com.distilled.openapi#apiVersion": "2026-10-01"
      }
    },
    "com.azure.azurestackhci#EdgeMachineSecuritySettingsListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.azurestackhci#EdgeMachineSecuritySettingsListResultValueList",
          "traits": {
            "smithy.api#documentation": "The EdgeMachineSecuritySettings items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a EdgeMachineSecuritySettings list operation."
      }
    },
    "com.azure.azurestackhci#EdgeMachineSecuritySettingsListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurestackhci#EdgeMachineSecuritySettings"
      },
      "traits": {
        "smithy.api#documentation": "The EdgeMachineSecuritySettings items on this page"
      }
    },
    "com.azure.azurestackhci#EdgeMachineSecuritySettings": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azurestackhci#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.azurestackhci#EdgeMachineSecurityProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Edge Machine Security Settings proxy resource"
      }
    },
    "com.azure.azurestackhci#ListEdgeMachineSecuritySettingsOperationByEdgeMachineRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "edgeMachineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Device"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurestackhci#RefreshEdgeMachineSecuritySettings": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#RefreshEdgeMachineSecuritySettingsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/refreshSecuritySettings",
          "code": 200,
          "apiVersion": "2026-10-01"
        },
        "smithy.api#documentation": "Trigger an on-demand sync of edge machine security settings from Guest Configuration.\nCreates the default security settings child resource if it does not already exist.",
        "com.distilled.openapi#apiVersion": "2026-10-01"
      }
    },
    "com.azure.azurestackhci#RefreshEdgeMachineSecuritySettingsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "edgeMachineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Device"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurestackhci#RefreshEdgeMachineApplicableUpdates": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#RefreshEdgeMachineApplicableUpdatesRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/refreshApplicableUpdates",
          "code": 200,
          "apiVersion": "2026-10-01"
        },
        "smithy.api#documentation": "Trigger an on-demand refresh of applicable updates for the edge machine.\nCreates or updates the default EdgeMachineUpdate child resource with the latest set of applicable updates.",
        "com.distilled.openapi#apiVersion": "2026-10-01"
      }
    },
    "com.azure.azurestackhci#RefreshEdgeMachineApplicableUpdatesRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "edgeMachineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Device"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurestackhci#DeleteEdgeMachineNetworkAdapterJob": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#DeleteEdgeMachineNetworkAdapterJobRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/networkAdapters/{networkAdapterName}/jobs/{jobName}",
          "code": 200,
          "apiVersion": "2026-10-01"
        },
        "smithy.api#documentation": "Delete a network adapter job.",
        "com.distilled.openapi#apiVersion": "2026-10-01"
      }
    },
    "com.azure.azurestackhci#DeleteEdgeMachineNetworkAdapterJobRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "edgeMachineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Device"
          }
        },
        "networkAdapterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the EdgeMachineNetworkAdapter"
          }
        },
        "jobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the EdgeMachineNetworkAdapterJob"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurestackhci#EdgeMachineNetworkAdapterJobsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#EdgeMachineNetworkAdapterJobsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.azurestackhci#EdgeMachineNetworkAdapterJobsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/networkAdapters/{networkAdapterName}/jobs/{jobName}",
          "code": 200,
          "apiVersion": "2026-10-01"
        },
        "smithy.api#documentation": "Create or update a network adapter job.",
        "com.distilled.openapi#apiVersion": "2026-10-01"
      }
    },
    "com.azure.azurestackhci#EdgeMachineNetworkAdapterJobsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azurestackhci#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.azurestackhci#EdgeMachineNetworkAdapterJobProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azurestackhci#EdgeMachineNetworkAdapterJobProperties": {
      "type": "structure",
      "members": {
        "jobType": {
          "target": "com.azure.azurestackhci#NetworkAdapterJobType",
          "traits": {
            "smithy.api#documentation": "Type of operation.",
            "smithy.api#required": {}
          }
        },
        "deploymentMode": {
          "target": "com.azure.azurestackhci#DeploymentMode",
          "traits": {
            "smithy.api#documentation": "Deployment mode to trigger job."
          }
        },
        "provisioningState": {
          "target": "com.azure.azurestackhci#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the job."
          }
        },
        "jobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique, immutable job id."
          }
        },
        "startTimeUtc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The UTC date and time at which the job started."
          }
        },
        "endTimeUtc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The UTC date and time at which the job completed."
          }
        },
        "status": {
          "target": "com.azure.azurestackhci#JobStatus",
          "traits": {
            "smithy.api#documentation": "Status of Edge device job."
          }
        },
        "error": {
          "target": "com.azure.azurestackhci#EdgeMachineNetworkAdapterJobPropertiesError",
          "traits": {
            "smithy.api#documentation": "The error detail."
          }
        },
        "reportedProperties": {
          "target": "com.azure.azurestackhci#NetworkAdapterJobReportedProperties",
          "traits": {
            "smithy.api#documentation": "Reported properties for Network Adapter Job."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the Network Adapter Job."
      }
    },
    "com.azure.azurestackhci#NetworkAdapterJobReportedProperties": {
      "type": "structure",
      "members": {
        "percentComplete": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The percentage of the job that is complete."
          }
        },
        "validationStatus": {
          "target": "com.azure.azurestackhci#NetworkAdapterActionStatus",
          "traits": {
            "smithy.api#documentation": "Validation status of Network Adapter Job."
          }
        },
        "deploymentStatus": {
          "target": "com.azure.azurestackhci#NetworkAdapterActionStatus",
          "traits": {
            "smithy.api#documentation": "Deployment status of Network Adapter Job."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reported properties for Network Adapter Job."
      }
    },
    "com.azure.azurestackhci#NetworkAdapterActionStatus": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of ECE action Network Adapter Job."
          }
        },
        "steps": {
          "target": "com.azure.azurestackhci#NetworkAdapterActionStatusStepsList",
          "traits": {
            "smithy.api#documentation": "List of steps of Network Adapter Job."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The action plan deployment status for Network Adapter Job."
      }
    },
    "com.azure.azurestackhci#NetworkAdapterActionStatusStepsList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurestackhci#NetworkAdapterDeploymentStep"
      },
      "traits": {
        "smithy.api#documentation": "List of steps of Network Adapter Job."
      }
    },
    "com.azure.azurestackhci#NetworkAdapterDeploymentStep": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of step."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of step."
          }
        },
        "fullStepIndex": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "FullStepIndex of step."
          }
        },
        "startTimeUtc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time of step."
          }
        },
        "endTimeUtc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time of step."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of step (Error, Success, InProgress)."
          }
        },
        "steps": {
          "target": "com.azure.azurestackhci#NetworkAdapterDeploymentStepStepsList",
          "traits": {
            "smithy.api#documentation": "List of nested steps."
          }
        },
        "exception": {
          "target": "com.azure.azurestackhci#NetworkAdapterDeploymentStepExceptionList",
          "traits": {
            "smithy.api#documentation": "List of exceptions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Step of Network Adapter Job."
      }
    },
    "com.azure.azurestackhci#NetworkAdapterDeploymentStepExceptionList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of exceptions."
      }
    },
    "com.azure.azurestackhci#NetworkAdapterDeploymentStepStepsList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurestackhci#NetworkAdapterDeploymentStep"
      },
      "traits": {
        "smithy.api#documentation": "List of nested steps."
      }
    },
    "com.azure.azurestackhci#EdgeMachineNetworkAdapterJobPropertiesError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error target."
          }
        },
        "details": {
          "target": "com.azure.azurestackhci#EdgeMachineNetworkAdapterJobPropertiesErrorDetailsList",
          "traits": {
            "smithy.api#documentation": "The error details."
          }
        },
        "additionalInfo": {
          "target": "com.azure.azurestackhci#EdgeMachineNetworkAdapterJobPropertiesErrorAdditionalInfoList",
          "traits": {
            "smithy.api#documentation": "The error additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The error detail."
      }
    },
    "com.azure.azurestackhci#EdgeMachineNetworkAdapterJobPropertiesErrorAdditionalInfoList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurestackhci#ErrorAdditionalInfo"
      },
      "traits": {
        "smithy.api#documentation": "The error additional info."
      }
    },
    "com.azure.azurestackhci#EdgeMachineNetworkAdapterJobPropertiesErrorDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurestackhci#ErrorDetail"
      },
      "traits": {
        "smithy.api#documentation": "The error details."
      }
    },
    "com.azure.azurestackhci#JobStatus": {
      "type": "enum",
      "members": {
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        },
        "VALIDATIONINPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ValidationInProgress"
          }
        },
        "VALIDATIONSUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ValidationSuccess"
          }
        },
        "VALIDATIONFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ValidationFailed"
          }
        },
        "DEPLOYMENTINPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeploymentInProgress"
          }
        },
        "DEPLOYMENTFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeploymentFailed"
          }
        },
        "DEPLOYMENTSUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeploymentSuccess"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Paused"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Scheduled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the various statuses a job can have throughout its lifecycle."
      }
    },
    "com.azure.azurestackhci#DeploymentMode": {
      "type": "enum",
      "members": {
        "VALIDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Validate"
          }
        },
        "DEPLOY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deploy"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deployment mode to trigger job."
      }
    },
    "com.azure.azurestackhci#NetworkAdapterJobType": {
      "type": "enum",
      "members": {
        "APPLYCONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ApplyConfiguration"
          }
        },
        "FORCEPUSH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ForcePush"
          }
        },
        "SYNCCONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SyncConfiguration"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of network adapter job operation."
      }
    },
    "com.azure.azurestackhci#EdgeMachineNetworkAdapterJobsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "edgeMachineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Device"
          }
        },
        "networkAdapterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the EdgeMachineNetworkAdapter"
          }
        },
        "jobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the EdgeMachineNetworkAdapterJob"
          }
        },
        "properties": {
          "target": "com.azure.azurestackhci#EdgeMachineNetworkAdapterJobPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurestackhci#EdgeMachineNetworkAdapterJobPropertiesInput": {
      "type": "structure",
      "members": {
        "jobType": {
          "target": "com.azure.azurestackhci#NetworkAdapterJobType",
          "traits": {
            "smithy.api#documentation": "Type of operation.",
            "smithy.api#required": {}
          }
        },
        "deploymentMode": {
          "target": "com.azure.azurestackhci#DeploymentMode",
          "traits": {
            "smithy.api#documentation": "Deployment mode to trigger job."
          }
        },
        "error": {
          "target": "com.azure.azurestackhci#EdgeMachineNetworkAdapterJobPropertiesInputError",
          "traits": {
            "smithy.api#documentation": "The error detail."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the Network Adapter Job."
      }
    },
    "com.azure.azurestackhci#EdgeMachineNetworkAdapterJobPropertiesInputError": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The error detail."
      }
    },
    "com.azure.azurestackhci#GetEdgeMachineNetworkAdapterJob": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#GetEdgeMachineNetworkAdapterJobRequest"
      },
      "output": {
        "target": "com.azure.azurestackhci#GetEdgeMachineNetworkAdapterJobResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/networkAdapters/{networkAdapterName}/jobs/{jobName}",
          "code": 200,
          "apiVersion": "2026-10-01"
        },
        "smithy.api#documentation": "Get a specific network adapter job.",
        "com.distilled.openapi#apiVersion": "2026-10-01"
      }
    },
    "com.azure.azurestackhci#GetEdgeMachineNetworkAdapterJobResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azurestackhci#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.azurestackhci#EdgeMachineNetworkAdapterJobProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azurestackhci#GetEdgeMachineNetworkAdapterJobRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "edgeMachineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Device"
          }
        },
        "networkAdapterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the EdgeMachineNetworkAdapter"
          }
        },
        "jobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the EdgeMachineNetworkAdapterJob"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurestackhci#ListEdgeMachineNetworkAdapterJobs": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#ListEdgeMachineNetworkAdapterJobsRequest"
      },
      "output": {
        "target": "com.azure.azurestackhci#EdgeMachineNetworkAdapterJobListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/networkAdapters/{networkAdapterName}/jobs",
          "code": 200,
          "apiVersion": "2026-10-01"
        },
        "smithy.api#documentation": "List all jobs for a network adapter.",
        "com.distilled.openapi#apiVersion": "2026-10-01"
      }
    },
    "com.azure.azurestackhci#EdgeMachineNetworkAdapterJobListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.azurestackhci#EdgeMachineNetworkAdapterJobListResultValueList",
          "traits": {
            "smithy.api#documentation": "The EdgeMachineNetworkAdapterJob items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a EdgeMachineNetworkAdapterJob list operation."
      }
    },
    "com.azure.azurestackhci#EdgeMachineNetworkAdapterJobListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.azurestackhci#EdgeMachineNetworkAdapterJob"
      },
      "traits": {
        "smithy.api#documentation": "The EdgeMachineNetworkAdapterJob items on this page"
      }
    },
    "com.azure.azurestackhci#EdgeMachineNetworkAdapterJob": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azurestackhci#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.azurestackhci#EdgeMachineNetworkAdapterJobProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Job for an Edge Machine Network Adapter."
      }
    },
    "com.azure.azurestackhci#ListEdgeMachineNetworkAdapterJobsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "edgeMachineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Device"
          }
        },
        "networkAdapterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the EdgeMachineNetworkAdapter"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.azurestackhci#GetEdgeMachineNetworkAdapter": {
      "type": "operation",
      "input": {
        "target": "com.azure.azurestackhci#GetEdgeMachineNetworkAdapterRequest"
      },
      "output": {
        "target": "com.azure.azurestackhci#GetEdgeMachineNetworkAdapterResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/networkAdapters/{networkAdapterName}",
          "code": 200,
          "apiVersion": "2026-10-01"
        },
        "smithy.api#documentation": "Get a specific network adapter on an Edge Machine.",
        "com.distilled.openapi#apiVersion": "2026-10-01"
      }
    },
    "com.azure.azurestackhci#GetEdgeMachineNetworkAdapterResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.azurestackhci#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.azurestackhci#EdgeMachineNetworkAdapterProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.azurestackhci#EdgeMachineNetworkAdapterProperties": {
      "type": "structure",
      "members": {
        "networkConfiguration": {
          "target": "com.azure.azurestackhci#NetworkAdapterConfiguration",
          "traits": {
            "smithy.api#documentation": "The authoritative desired configuration for this specific interface."
          }
        },
        "reportedProperties": {
          "target": "com.azure.azurestackhci#NetworkAdapterReportedProperties",
          "traits": {
            "smithy.api#documentation": "The actual applied configuration reported by the device."
          }
        },
        "provisioningState": {
          "target": "com.azure.azurestackhci#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the network adapter resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the Network Adapter resource."
      }
    },
    "com.azure.azurestackhci#NetworkAdapterReportedProperties": {
      "type": "structure",
      "members": {
        "adapterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Adapter name."
          }
        },
        "ip4Address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP address."
          }
        },
        "subnetMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subnet mask."
          }
        },
        "defaultGateway": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default gateway."
          }
        },
        "dnsServers": {
          "target": "com.azure.azurestackhci#NetworkAdapterReportedPropertiesDnsServersList",
          "traits": {
            "smithy.api#documentation": "List of DNS servers."
          }
        },
        "interfaceDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Interface description of NIC."
          }
        },
        "componentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Component ID of NIC."
          }
        },
        "driverVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Driver version of NIC."
          }
        },
        "defaultIsolationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default isolation of management NIC."
          }
        },
        "macAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MAC address."
          }
        },
        "slot": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slot attached to the NIC."
          }
        },
        "switchName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The switch attached to the NIC, if any."
          }
        },
        "interfaceType": {
          "target": "com.azure.azurestackhci#NetworkInterfaceType",
          "traits": {
            "smithy.api#documentation": "Type of network interface."
          }
        },
        "interfaceSpeed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Interface speed in Mbps."
          }
        },
        "interfaceState": {
          "target": "com.azure.azurestackhci#InterfaceState",
          "traits": {
            "smithy.api#documentation": "Current state of the interface."
          }
        },
        "nicType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of NIC (physical, virtual, management)."
          }
        },
        "nicStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status of NIC (up, disconnected)."
          }
        },
        "ipInterfaceType": {
          "target": "com.azure.azurestackhci#IpInterfaceType",
          "traits": {
            "smithy.api#documentation": "IP configuration type."
          }
        },
        "vlanId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "VLAN identifier (0-4096)."
          }
        },
        "managementInterface": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if this is a management interface."
          }
        },
        "rdmaCapability": {
          "target": "com.azure.azurestackhci#RdmaCapability",
          "traits": {
            "smithy.api#documentation": "RDMA capability of the network adapter."
          }
        },
        "networkAdapterStatus": {
          "target": "com.azure.azurestackhci#NetworkAdapterStatus",
          "traits": {
            "smithy.api#documentation": "The observed state of network adapter."
          }
        },
        "wifiConfiguration": {
          "target": "com.azure.azurestackhci#WifiConfigurationReportedProperties",
          "traits": {
            "smithy.api#documentation": "WiFi configuration reported properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reported properties of a network adapter."
      }
    },
    "com.azure.azurestackhci#WifiConfigurationReportedProperties": {
      "type": "structure",
      "members": {
        "ssid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "WiFi SSID."
          }
        },
        "authenticationType": {
          "target": "com.azure.azurestackhci#AuthenticationType",
          "traits": {
            "smithy.api#documentation": "WiFi authentication type."
          }
        },
        "eapMethod": {
          "target": "com.azure.azurestackhci#EAPMethod",
          "traits": {
            "smithy.api#documentation": "EAP method used for authentication."
          }
        },
        "signalStrength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "WiFi signal strength."
          }
        },
        "lastSuccessfulConnectionTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last successful WiFi connection timestamp."
          }
        },
        "connectionState": {
          "target": "com.azure.azurestackhci#ConnectionState",
          "traits": {
            "smithy.api#documentation": "Current WiFi connection state."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Username for enterprise WiFi authentication."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "WiFi configuration reported properties."
      }
    },
    "com.azure.azurestackhci#ConnectionState": {
      "type": "enum",
      "members": {
        "NOTCONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotConfigured"
          }
        },
        "CONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Connected"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disconnected"
          }
        },
        "CONNECTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Connecting"
          }
        },
        "DISCONNECTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disconnecting"
          }
        },
        "AUTHENTICATIONFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AuthenticationFailed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "WiFi connection state."
      }
    },
    "com.azure.azurestackhci#EAPMethod": {
      "type": "enum",
      "members": {
        "PEAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PEAP"
          }
        },
        "EAP_TLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EAP-TLS"
          }
        },
        "EAP_TTLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EAP-TTLS"
          }
        },
        "EAP_FAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EAP-FAST"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "EAP authentication method."
      }
    },
    "com.azure.azurestackhci#AuthenticationType": {
      "type": "enum",
      "members": {
        "WPA2_PERSONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WPA2-Personal"
          }
        },
        "WPA2_ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WPA2-Enterprise"
          }
        },
        "WPA3_PERSONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WPA3-Personal"
          }
        },
        "WPA3_ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WPA3-Enterprise"
          }
        },
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Open"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "WiFi authentication type."
      }
    },
    "com.azure.azurestackhci#NetworkAdapterStatus": {
      "type": "structure",
      "members": {
        "errorCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Network adapter provisioning error code."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Descriptive error message."
          }
        },
[...]
