{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.batch#BatchAccountSynchronizeAutoStorageKeys": {
      "type": "operation",
      "input": {
        "target": "com.azure.batch#BatchAccountSynchronizeAutoStorageKeysRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/syncAutoStorageKeys",
          "code": 200,
          "apiVersion": "2025-06-01"
        },
        "smithy.api#documentation": "Synchronizes access keys for the auto-storage account configured for the specified Batch account, only if storage key authentication is being used.",
        "com.distilled.openapi#apiVersion": "2025-06-01"
      }
    },
    "com.azure.batch#BatchAccountSynchronizeAutoStorageKeysRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A name for the Batch account which must be unique within the region. Batch account names must be between 3 and 24 characters in length and must use only numbers and lowercase letters. This name is used as part of the DNS name that is used to access the Batch service in the region in which the account is created. For example: http://accountname.region.batch.azure.com/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.batch#BatchAccountRegenerateKey": {
      "type": "operation",
      "input": {
        "target": "com.azure.batch#BatchAccountRegenerateKeyRequest"
      },
      "output": {
        "target": "com.azure.batch#BatchAccountKeys"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/regenerateKeys",
          "code": 200,
          "apiVersion": "2025-06-01"
        },
        "smithy.api#documentation": "Regenerates the specified account key for the Batch account.\n\nThis operation applies only to Batch accounts with allowedAuthenticationModes containing 'SharedKey'. If the Batch account doesn't contain 'SharedKey' in its allowedAuthenticationMode, clients cannot use shared keys to authenticate, and must use another allowedAuthenticationModes instead. In this case, regenerating the keys will fail.",
        "com.distilled.openapi#apiVersion": "2025-06-01"
      }
    },
    "com.azure.batch#BatchAccountKeys": {
      "type": "structure",
      "members": {
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Batch account name."
          }
        },
        "primary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The primary key associated with the account."
          }
        },
        "secondary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secondary key associated with the account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of Azure Batch account keys."
      }
    },
    "com.azure.batch#BatchAccountRegenerateKeyRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A name for the Batch account which must be unique within the region. Batch account names must be between 3 and 24 characters in length and must use only numbers and lowercase letters. This name is used as part of the DNS name that is used to access the Batch service in the region in which the account is created. For example: http://accountname.region.batch.azure.com/."
          }
        },
        "keyName": {
          "target": "com.azure.batch#AccountKeyType",
          "traits": {
            "smithy.api#documentation": "The type of account key to regenerate.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.batch#AccountKeyType": {
      "type": "enum",
      "members": {
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Primary"
          }
        },
        "SECONDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Secondary"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of account key to regenerate."
      }
    },
    "com.azure.batch#PrivateLinkResourceGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.batch#PrivateLinkResourceGetRequest"
      },
      "output": {
        "target": "com.azure.batch#PrivateLinkResourceGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/privateLinkResources/{privateLinkResourceName}",
          "code": 200,
          "apiVersion": "2025-06-01"
        },
        "smithy.api#documentation": "Gets information about the specified private link resource.",
        "com.distilled.openapi#apiVersion": "2025-06-01"
      }
    },
    "com.azure.batch#PrivateLinkResourceGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.batch#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.batch#PrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "The properties associated with the private link resource."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ETag of the resource, used for concurrency statements."
          }
        },
        "tags": {
          "target": "com.azure.batch#PrivateLinkResourceGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "The tags of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.batch#PrivateLinkResourceGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The tags of the resource."
      }
    },
    "com.azure.batch#PrivateLinkResourceProperties": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The group id is used to establish the private link connection."
          }
        },
        "requiredMembers": {
          "target": "com.azure.batch#PrivateLinkResourcePropertiesRequiredMembersList",
          "traits": {
            "smithy.api#documentation": "The list of required members that are used to establish the private link connection."
          }
        },
        "requiredZoneNames": {
          "target": "com.azure.batch#PrivateLinkResourcePropertiesRequiredZoneNamesList",
          "traits": {
            "smithy.api#documentation": "The list of required zone names for the private DNS resource name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Private link resource properties."
      }
    },
    "com.azure.batch#PrivateLinkResourcePropertiesRequiredZoneNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of required zone names for the private DNS resource name"
      }
    },
    "com.azure.batch#PrivateLinkResourcePropertiesRequiredMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of required members that are used to establish the private link connection."
      }
    },
    "com.azure.batch#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.batch#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.batch#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.batch#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.batch#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.batch#PrivateLinkResourceGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A name for the Batch account which must be unique within the region. Batch account names must be between 3 and 24 characters in length and must use only numbers and lowercase letters. This name is used as part of the DNS name that is used to access the Batch service in the region in which the account is created. For example: http://accountname.region.batch.azure.com/."
          }
        },
        "privateLinkResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The private link resource name. This must be unique within the account."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.batch#PrivateLinkResourceListByBatchAccount": {
      "type": "operation",
      "input": {
        "target": "com.azure.batch#PrivateLinkResourceListByBatchAccountRequest"
      },
      "output": {
        "target": "com.azure.batch#ListPrivateLinkResourcesResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/privateLinkResources",
          "code": 200,
          "apiVersion": "2025-06-01"
        },
        "smithy.api#documentation": "Lists all of the private link resources in the specified account.",
        "com.distilled.openapi#apiVersion": "2025-06-01"
      }
    },
    "com.azure.batch#ListPrivateLinkResourcesResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.batch#ListPrivateLinkResourcesResultValueList",
          "traits": {
            "smithy.api#documentation": "The PrivateLinkResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Values returned by the List operation."
      }
    },
    "com.azure.batch#ListPrivateLinkResourcesResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.batch#PrivateLinkResource"
      },
      "traits": {
        "smithy.api#documentation": "The PrivateLinkResource items on this page"
      }
    },
    "com.azure.batch#PrivateLinkResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.batch#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.batch#PrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "The properties associated with the private link resource."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ETag of the resource, used for concurrency statements."
          }
        },
        "tags": {
          "target": "com.azure.batch#PrivateLinkResourceTagsMap",
          "traits": {
            "smithy.api#documentation": "The tags of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains information about a private link resource."
      }
    },
    "com.azure.batch#PrivateLinkResourceTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The tags of the resource."
      }
    },
    "com.azure.batch#PrivateLinkResourceListByBatchAccountRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A name for the Batch account which must be unique within the region. Batch account names must be between 3 and 24 characters in length and must use only numbers and lowercase letters. This name is used as part of the DNS name that is used to access the Batch service in the region in which the account is created. For example: http://accountname.region.batch.azure.com/."
          }
        },
        "maxresults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "maxresults",
            "smithy.api#documentation": "The maximum number of items to return in the response."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.batch#PrivateEndpointConnectionDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.batch#PrivateEndpointConnectionDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2025-06-01"
        },
        "smithy.api#documentation": "Deletes the specified private endpoint connection.",
        "com.distilled.openapi#apiVersion": "2025-06-01"
      }
    },
    "com.azure.batch#PrivateEndpointConnectionDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A name for the Batch account which must be unique within the region. Batch account names must be between 3 and 24 characters in length and must use only numbers and lowercase letters. This name is used as part of the DNS name that is used to access the Batch service in the region in which the account is created. For example: http://accountname.region.batch.azure.com/."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The private endpoint connection name. This must be unique within the account."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.batch#PrivateEndpointConnectionUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.batch#PrivateEndpointConnectionUpdateRequest"
      },
      "output": {
        "target": "com.azure.batch#PrivateEndpointConnectionUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2025-06-01"
        },
        "smithy.api#documentation": "Updates the properties of an existing private endpoint connection.",
        "com.distilled.openapi#apiVersion": "2025-06-01"
      }
    },
    "com.azure.batch#PrivateEndpointConnectionUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.batch#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.batch#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "The properties associated with the private endpoint connection."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ETag of the resource, used for concurrency statements."
          }
        },
        "tags": {
          "target": "com.azure.batch#PrivateEndpointConnectionUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "The tags of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.batch#PrivateEndpointConnectionUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The tags of the resource."
      }
    },
    "com.azure.batch#PrivateEndpointConnectionProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.batch#PrivateEndpointConnectionProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the private endpoint connection."
          }
        },
        "privateEndpoint": {
          "target": "com.azure.batch#PrivateEndpoint",
          "traits": {
            "smithy.api#documentation": "The private endpoint of the private endpoint connection."
          }
        },
        "groupIds": {
          "target": "com.azure.batch#PrivateEndpointConnectionPropertiesGroupIdsList",
          "traits": {
            "smithy.api#documentation": "The value has one and only one group id."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.batch#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "The private link service connection state of the private endpoint connection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Private endpoint connection properties."
      }
    },
    "com.azure.batch#PrivateLinkServiceConnectionState": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.batch#PrivateLinkServiceConnectionStatus",
          "traits": {
            "smithy.api#documentation": "The status of the Batch private endpoint connection",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the private Connection state"
          }
        },
        "actionsRequired": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Action required on the private connection state"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private link service connection state of the private endpoint connection"
      }
    },
    "com.azure.batch#PrivateLinkServiceConnectionStatus": {
      "type": "enum",
      "members": {
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disconnected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the Batch private endpoint connection"
      }
    },
    "com.azure.batch#PrivateEndpointConnectionPropertiesGroupIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The value has one and only one group id."
      }
    },
    "com.azure.batch#PrivateEndpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ARM resource identifier of the private endpoint. This is of the form /subscriptions/{subscription}/resourceGroups/{group}/providers/Microsoft.Network/privateEndpoints/{privateEndpoint}."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint of the private endpoint connection."
      }
    },
    "com.azure.batch#PrivateEndpointConnectionProvisioningState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cancelled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioning state of the private endpoint connection."
      }
    },
    "com.azure.batch#PrivateEndpointConnectionUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A name for the Batch account which must be unique within the region. Batch account names must be between 3 and 24 characters in length and must use only numbers and lowercase letters. This name is used as part of the DNS name that is used to access the Batch service in the region in which the account is created. For example: http://accountname.region.batch.azure.com/."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The private endpoint connection name. This must be unique within the account."
          }
        },
        "properties": {
          "target": "com.azure.batch#PrivateEndpointConnectionPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The properties associated with the private endpoint connection."
          }
        },
        "tags": {
          "target": "com.azure.batch#PrivateEndpointConnectionUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "The tags of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.batch#PrivateEndpointConnectionUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The tags of the resource."
      }
    },
    "com.azure.batch#PrivateEndpointConnectionPropertiesInput": {
      "type": "structure",
      "members": {
        "privateLinkServiceConnectionState": {
          "target": "com.azure.batch#PrivateLinkServiceConnectionStateInput",
          "traits": {
            "smithy.api#documentation": "The private link service connection state of the private endpoint connection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Private endpoint connection properties."
      }
    },
    "com.azure.batch#PrivateLinkServiceConnectionStateInput": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.batch#PrivateLinkServiceConnectionStatus",
          "traits": {
            "smithy.api#documentation": "The status of the Batch private endpoint connection",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the private Connection state"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private link service connection state of the private endpoint connection"
      }
    },
    "com.azure.batch#PrivateEndpointConnectionGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.batch#PrivateEndpointConnectionGetRequest"
      },
      "output": {
        "target": "com.azure.batch#PrivateEndpointConnectionGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2025-06-01"
        },
        "smithy.api#documentation": "Gets information about the specified private endpoint connection.",
        "com.distilled.openapi#apiVersion": "2025-06-01"
      }
    },
    "com.azure.batch#PrivateEndpointConnectionGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.batch#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.batch#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "The properties associated with the private endpoint connection."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ETag of the resource, used for concurrency statements."
          }
        },
        "tags": {
          "target": "com.azure.batch#PrivateEndpointConnectionGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "The tags of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.batch#PrivateEndpointConnectionGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The tags of the resource."
      }
    },
    "com.azure.batch#PrivateEndpointConnectionGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A name for the Batch account which must be unique within the region. Batch account names must be between 3 and 24 characters in length and must use only numbers and lowercase letters. This name is used as part of the DNS name that is used to access the Batch service in the region in which the account is created. For example: http://accountname.region.batch.azure.com/."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The private endpoint connection name. This must be unique within the account."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.batch#PrivateEndpointConnectionListByBatchAccount": {
      "type": "operation",
      "input": {
        "target": "com.azure.batch#PrivateEndpointConnectionListByBatchAccountRequest"
      },
      "output": {
        "target": "com.azure.batch#ListPrivateEndpointConnectionsResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/privateEndpointConnections",
          "code": 200,
          "apiVersion": "2025-06-01"
        },
        "smithy.api#documentation": "Lists all of the private endpoint connections in the specified account.",
        "com.distilled.openapi#apiVersion": "2025-06-01"
      }
    },
    "com.azure.batch#ListPrivateEndpointConnectionsResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.batch#ListPrivateEndpointConnectionsResultValueList",
          "traits": {
            "smithy.api#documentation": "The PrivateEndpointConnection items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Values returned by the List operation."
      }
    },
    "com.azure.batch#ListPrivateEndpointConnectionsResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.batch#PrivateEndpointConnection"
      },
      "traits": {
        "smithy.api#documentation": "The PrivateEndpointConnection items on this page"
      }
    },
    "com.azure.batch#PrivateEndpointConnection": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.batch#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.batch#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "The properties associated with the private endpoint connection."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ETag of the resource, used for concurrency statements."
          }
        },
        "tags": {
          "target": "com.azure.batch#PrivateEndpointConnectionTagsMap",
          "traits": {
            "smithy.api#documentation": "The tags of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains information about a private link resource."
      }
    },
    "com.azure.batch#PrivateEndpointConnectionTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The tags of the resource."
      }
    },
    "com.azure.batch#PrivateEndpointConnectionListByBatchAccountRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A name for the Batch account which must be unique within the region. Batch account names must be between 3 and 24 characters in length and must use only numbers and lowercase letters. This name is used as part of the DNS name that is used to access the Batch service in the region in which the account is created. For example: http://accountname.region.batch.azure.com/."
          }
        },
        "maxresults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "maxresults",
            "smithy.api#documentation": "The maximum number of items to return in the response."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.batch#PoolStopResize": {
      "type": "operation",
      "input": {
        "target": "com.azure.batch#PoolStopResizeRequest"
      },
      "output": {
        "target": "com.azure.batch#PoolStopResizeResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/pools/{poolName}/stopResize",
          "code": 200,
          "apiVersion": "2025-06-01"
        },
        "smithy.api#documentation": "Stops an ongoing resize operation on the pool.\n\nThis does not restore the pool to its previous state before the resize operation: it only stops any further changes being made, and the pool maintains its current state. After stopping, the pool stabilizes at the number of nodes it was at when the stop operation was done. During the stop operation, the pool allocation state changes first to stopping and then to steady. A resize operation need not be an explicit resize pool request; this API can also be used to halt the initial sizing of the pool when it is created.",
        "com.distilled.openapi#apiVersion": "2025-06-01"
      }
    },
    "com.azure.batch#PoolStopResizeResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.batch#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.batch#PoolProperties",
          "traits": {
            "smithy.api#documentation": "The properties associated with the pool."
          }
        },
        "identity": {
          "target": "com.azure.batch#BatchPoolIdentity",
          "traits": {
            "smithy.api#documentation": "The type of identity used for the Batch Pool."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ETag of the resource, used for concurrency statements."
          }
        },
        "tags": {
          "target": "com.azure.batch#PoolStopResizeResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "The tags of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.batch#PoolStopResizeResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The tags of the resource."
      }
    },
    "com.azure.batch#BatchPoolIdentity": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.batch#PoolIdentityType",
          "traits": {
            "smithy.api#documentation": "The type of identity used for the Batch Pool.",
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.batch#BatchPoolIdentityUserAssignedIdentitiesMap",
          "traits": {
            "smithy.api#documentation": "The list of user identities associated with the Batch pool."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The identity of the Batch pool, if configured. If the pool identity is updated during update an existing pool, only the new vms which are created after the pool shrinks to 0 will have the updated identities"
      }
    },
    "com.azure.batch#BatchPoolIdentityUserAssignedIdentitiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.batch#UserAssignedIdentities"
      },
      "traits": {
        "smithy.api#documentation": "The list of user identities associated with the Batch pool."
      }
    },
    "com.azure.batch#UserAssignedIdentities": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal id of user assigned identity."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client id of user assigned identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of associated user identities."
      }
    },
    "com.azure.batch#PoolIdentityType": {
      "type": "enum",
      "members": {
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity used for the Batch Pool."
      }
    },
    "com.azure.batch#PoolProperties": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name need not be unique and can contain any Unicode characters up to a maximum length of 1024."
          }
        },
        "lastModified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the last time at which the pool level data, such as the targetDedicatedNodes or autoScaleSettings, changed. It does not factor in node-level changes such as a compute node changing state."
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation time of the pool."
          }
        },
        "provisioningState": {
          "target": "com.azure.batch#PoolProvisioningState",
          "traits": {
            "smithy.api#documentation": "The current state of the pool."
          }
        },
        "provisioningStateTransitionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the pool entered its current state."
          }
        },
        "allocationState": {
          "target": "com.azure.batch#AllocationState",
          "traits": {
            "smithy.api#documentation": "Whether the pool is resizing."
          }
        },
        "allocationStateTransitionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the pool entered its current allocation state."
          }
        },
        "vmSize": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For information about available VM sizes, see Sizes for Virtual Machines in Azure (https://learn.microsoft.com/azure/virtual-machines/sizes/overview). Batch supports all Azure VM sizes except STANDARD_A0 and those with premium storage (STANDARD_GS, STANDARD_DS, and STANDARD_DSV2 series)."
          }
        },
        "deploymentConfiguration": {
          "target": "com.azure.batch#DeploymentConfiguration",
          "traits": {
            "smithy.api#documentation": "Deployment configuration properties."
          }
        },
        "currentDedicatedNodes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of dedicated compute nodes currently in the pool."
          }
        },
        "currentLowPriorityNodes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of Spot/low-priority compute nodes currently in the pool."
          }
        },
        "scaleSettings": {
          "target": "com.azure.batch#ScaleSettings",
          "traits": {
            "smithy.api#documentation": "Defines the desired size of the pool. This can either be 'fixedScale' where the requested targetDedicatedNodes is specified, or 'autoScale' which defines a formula which is periodically reevaluated. If this property is not specified, the pool will have a fixed scale with 0 targetDedicatedNodes."
          }
        },
        "autoScaleRun": {
          "target": "com.azure.batch#AutoScaleRun",
          "traits": {
            "smithy.api#documentation": "This property is set only if the pool automatically scales, i.e. autoScaleSettings are used."
          }
        },
        "interNodeCommunication": {
          "target": "com.azure.batch#InterNodeCommunicationState",
          "traits": {
            "smithy.api#documentation": "This imposes restrictions on which nodes can be assigned to the pool. Enabling this value can reduce the chance of the requested number of nodes to be allocated in the pool. If not specified, this value defaults to 'Disabled'."
          }
        },
        "networkConfiguration": {
          "target": "com.azure.batch#NetworkConfiguration",
          "traits": {
            "smithy.api#documentation": "The network configuration for a pool."
          }
        },
        "taskSlotsPerNode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The default value is 1. The maximum value is the smaller of 4 times the number of cores of the vmSize of the pool or 256."
          }
        },
        "taskSchedulingPolicy": {
          "target": "com.azure.batch#TaskSchedulingPolicy",
          "traits": {
            "smithy.api#documentation": "If not specified, the default is spread."
          }
        },
        "userAccounts": {
          "target": "com.azure.batch#PoolPropertiesUserAccountsList",
          "traits": {
            "smithy.api#documentation": "The list of user accounts to be created on each node in the pool."
          }
        },
        "metadata": {
          "target": "com.azure.batch#PoolPropertiesMetadataList",
          "traits": {
            "smithy.api#documentation": "The Batch service does not assign any meaning to metadata; it is solely for the use of user code."
          }
        },
        "startTask": {
          "target": "com.azure.batch#StartTask",
          "traits": {
            "smithy.api#documentation": "In an PATCH (update) operation, this property can be set to an empty object to remove the start task from the pool."
          }
        },
        "applicationPackages": {
          "target": "com.azure.batch#PoolPropertiesApplicationPackagesList",
          "traits": {
            "smithy.api#documentation": "Changes to application package references affect all new compute nodes joining the pool, but do not affect compute nodes that are already in the pool until they are rebooted or reimaged. There is a maximum of 10 application package references on any given pool."
          }
        },
        "resizeOperationStatus": {
          "target": "com.azure.batch#ResizeOperationStatus",
          "traits": {
            "smithy.api#documentation": "Describes either the current operation (if the pool AllocationState is Resizing) or the previously completed operation (if the AllocationState is Steady)."
          }
        },
        "mountConfiguration": {
          "target": "com.azure.batch#PoolPropertiesMountConfigurationList",
          "traits": {
            "smithy.api#documentation": "This supports Azure Files, NFS, CIFS/SMB, and Blobfuse."
          }
        },
        "upgradePolicy": {
          "target": "com.azure.batch#UpgradePolicy",
          "traits": {
            "smithy.api#documentation": "Describes an upgrade policy - automatic, manual, or rolling."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pool properties."
      }
    },
    "com.azure.batch#UpgradePolicy": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.azure.batch#UpgradeMode",
          "traits": {
            "smithy.api#documentation": "Specifies the mode of an upgrade to virtual machines in the scale set.<br /><br /> Possible values are:<br /><br /> **Manual** - You  control the application of updates to virtual machines in the scale set. You do this by using the manualUpgrade action.<br /><br /> **Automatic** - All virtual machines in the scale set are automatically updated at the same time.<br /><br /> **Rolling** - Scale set performs updates in batches with an optional pause time in between.",
            "smithy.api#required": {}
          }
        },
        "automaticOSUpgradePolicy": {
          "target": "com.azure.batch#AutomaticOSUpgradePolicy",
          "traits": {
            "smithy.api#documentation": "The configuration parameters used for performing automatic OS upgrade."
          }
        },
        "rollingUpgradePolicy": {
          "target": "com.azure.batch#RollingUpgradePolicy",
          "traits": {
            "smithy.api#documentation": "The configuration parameters used while performing a rolling upgrade."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes an upgrade policy - automatic, manual, or rolling."
      }
    },
    "com.azure.batch#RollingUpgradePolicy": {
      "type": "structure",
      "members": {
        "enableCrossZoneUpgrade": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allow VMSS to ignore AZ boundaries when constructing upgrade batches. Take into consideration the Update Domain and maxBatchInstancePercent to determine the batch size. If this field is not set, Azure Azure Batch will not set its default value. The value of enableCrossZoneUpgrade on the created VirtualMachineScaleSet will be decided by the default configurations on VirtualMachineScaleSet. This field is able to be set to true or false only when using NodePlacementConfiguration as Zonal."
          }
        },
        "maxBatchInstancePercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum percent of total virtual machine instances that will be upgraded simultaneously by the rolling upgrade in one batch. As this is a maximum, unhealthy instances in previous or future batches can cause the percentage of instances in a batch to decrease to ensure higher reliability. The value of this field should be between 5 and 100, inclusive. If both maxBatchInstancePercent and maxUnhealthyInstancePercent are assigned with value, the value of maxBatchInstancePercent should not be more than maxUnhealthyInstancePercent."
          }
        },
        "maxUnhealthyInstancePercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum percentage of the total virtual machine instances in the scale set that can be simultaneously unhealthy, either as a result of being upgraded, or by being found in an unhealthy state by the virtual machine health checks before the rolling upgrade aborts. This constraint will be checked prior to starting any batch. The value of this field should be between 5 and 100, inclusive. If both maxBatchInstancePercent and maxUnhealthyInstancePercent are assigned with value, the value of maxBatchInstancePercent should not be more than maxUnhealthyInstancePercent."
          }
        },
        "maxUnhealthyUpgradedInstancePercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum percentage of upgraded virtual machine instances that can be found to be in an unhealthy state. This check will happen after each batch is upgraded. If this percentage is ever exceeded, the rolling update aborts. The value of this field should be between 0 and 100, inclusive."
          }
        },
        "pauseTimeBetweenBatches": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The wait time between completing the update for all virtual machines in one batch and starting the next batch. The time duration should be specified in ISO 8601 format."
          }
        },
        "prioritizeUnhealthyInstances": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Upgrade all unhealthy instances in a scale set before any healthy instances."
          }
        },
        "rollbackFailedInstancesOnPolicyBreach": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Rollback failed instances to previous model if the Rolling Upgrade policy is violated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration parameters used while performing a rolling upgrade."
      }
    },
    "com.azure.batch#AutomaticOSUpgradePolicy": {
      "type": "structure",
      "members": {
        "disableAutomaticRollback": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether OS image rollback feature should be disabled."
          }
        },
        "enableAutomaticOSUpgrade": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether OS upgrades should automatically be applied to scale set instances in a rolling fashion when a newer version of the OS image becomes available. <br /><br /> If this is set to true for Windows based pools, [WindowsConfiguration.enableAutomaticUpdates](https://learn.microsoft.com/rest/api/batchmanagement/pool/create?tabs=HTTP#windowsconfiguration) cannot be set to true."
          }
        },
        "useRollingUpgradePolicy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether rolling upgrade policy should be used during Auto OS Upgrade. Auto OS Upgrade will fallback to the default policy if no policy is defined on the VMSS."
          }
        },
        "osRollingUpgradeDeferral": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Defer OS upgrades on the TVMs if they are running tasks."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration parameters used for performing automatic OS upgrade."
      }
    },
    "com.azure.batch#UpgradeMode": {
      "type": "enum",
      "members": {
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automatic"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        },
        "ROLLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rolling"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the mode of an upgrade to virtual machines in the scale set.<br /><br /> Possible values are:<br /><br /> **Manual** - You  control the application of updates to virtual machines in the scale set. You do this by using the manualUpgrade action.<br /><br /> **Automatic** - All virtual machines in the scale set are automatically updated at the same time.<br /><br /> **Rolling** - Scale set performs updates in batches with an optional pause time in between."
      }
    },
    "com.azure.batch#PoolPropertiesMountConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.azure.batch#MountConfiguration"
      },
      "traits": {
        "smithy.api#documentation": "This supports Azure Files, NFS, CIFS/SMB, and Blobfuse."
      }
    },
    "com.azure.batch#MountConfiguration": {
      "type": "structure",
      "members": {
        "azureBlobFileSystemConfiguration": {
          "target": "com.azure.batch#AzureBlobFileSystemConfiguration",
          "traits": {
            "smithy.api#documentation": "This property is mutually exclusive with all other properties."
          }
        },
        "nfsMountConfiguration": {
          "target": "com.azure.batch#NFSMountConfiguration",
          "traits": {
            "smithy.api#documentation": "This property is mutually exclusive with all other properties."
          }
        },
        "cifsMountConfiguration": {
          "target": "com.azure.batch#CIFSMountConfiguration",
          "traits": {
            "smithy.api#documentation": "This property is mutually exclusive with all other properties."
          }
        },
        "azureFileShareConfiguration": {
          "target": "com.azure.batch#AzureFileShareConfiguration",
          "traits": {
            "smithy.api#documentation": "This property is mutually exclusive with all other properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The file system to mount on each node."
      }
    },
    "com.azure.batch#AzureFileShareConfiguration": {
      "type": "structure",
      "members": {
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Azure Storage account name.",
            "smithy.api#required": {}
          }
        },
        "azureFileUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is of the form 'https://{account}.file.core.windows.net/'.",
            "smithy.api#required": {}
          }
        },
        "accountKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Azure Storage account key.",
            "smithy.api#required": {}
          }
        },
        "relativeMountPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "All file systems are mounted relative to the Batch mounts directory, accessible via the AZ_BATCH_NODE_MOUNTS_DIR environment variable.",
            "smithy.api#required": {}
          }
        },
        "mountOptions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "These are 'net use' options in Windows and 'mount' options in Linux."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information used to connect to an Azure Fileshare."
      }
    },
    "com.azure.batch#CIFSMountConfiguration": {
      "type": "structure",
      "members": {
        "userName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user to use for authentication against the CIFS file system.",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of the file system to mount.",
            "smithy.api#required": {}
          }
        },
        "relativeMountPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "All file systems are mounted relative to the Batch mounts directory, accessible via the AZ_BATCH_NODE_MOUNTS_DIR environment variable.",
            "smithy.api#required": {}
          }
        },
        "mountOptions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "These are 'net use' options in Windows and 'mount' options in Linux."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The password to use for authentication against the CIFS file system.",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information used to connect to a CIFS file system."
      }
    },
    "com.azure.batch#NFSMountConfiguration": {
      "type": "structure",
      "members": {
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of the file system to mount.",
            "smithy.api#required": {}
          }
        },
        "relativeMountPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "All file systems are mounted relative to the Batch mounts directory, accessible via the AZ_BATCH_NODE_MOUNTS_DIR environment variable.",
            "smithy.api#required": {}
          }
        },
        "mountOptions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "These are 'net use' options in Windows and 'mount' options in Linux."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information used to connect to an NFS file system."
      }
    },
    "com.azure.batch#AzureBlobFileSystemConfiguration": {
      "type": "structure",
      "members": {
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Azure Storage Account name.",
            "smithy.api#required": {}
          }
        },
        "containerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Azure Blob Storage Container name.",
            "smithy.api#required": {}
          }
        },
        "accountKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This property is mutually exclusive with both sasKey and identity; exactly one must be specified."
          }
        },
        "sasKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This property is mutually exclusive with both accountKey and identity; exactly one must be specified."
          }
        },
        "blobfuseOptions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "These are 'net use' options in Windows and 'mount' options in Linux."
          }
        },
        "relativeMountPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "All file systems are mounted relative to the Batch mounts directory, accessible via the AZ_BATCH_NODE_MOUNTS_DIR environment variable.",
            "smithy.api#required": {}
          }
        },
        "identityReference": {
          "target": "com.azure.batch#ComputeNodeIdentityReference",
          "traits": {
            "smithy.api#documentation": "This property is mutually exclusive with both accountKey and sasKey; exactly one must be specified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information used to connect to an Azure Storage Container using Blobfuse."
      }
    },
    "com.azure.batch#ComputeNodeIdentityReference": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ARM resource id of the user assigned identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The reference to a user assigned identity associated with the Batch pool which a compute node will use."
      }
    },
    "com.azure.batch#ResizeOperationStatus": {
      "type": "structure",
      "members": {
        "targetDedicatedNodes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The desired number of dedicated compute nodes in the pool."
          }
        },
        "targetLowPriorityNodes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The desired number of Spot/low-priority compute nodes in the pool."
          }
        },
        "resizeTimeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default value is 15 minutes. The minimum value is 5 minutes. If you specify a value less than 5 minutes, the Batch service returns an error; if you are calling the REST API directly, the HTTP status code is 400 (Bad Request)."
          }
        },
        "nodeDeallocationOption": {
          "target": "com.azure.batch#ComputeNodeDeallocationOption",
          "traits": {
            "smithy.api#documentation": "The default value is requeue."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when this resize operation was started."
          }
        },
        "errors": {
          "target": "com.azure.batch#ResizeOperationStatusErrorsList",
          "traits": {
            "smithy.api#documentation": "This property is set only if an error occurred during the last pool resize, and only when the pool allocationState is Steady."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes either the current operation (if the pool AllocationState is Resizing) or the previously completed operation (if the AllocationState is Steady)."
      }
    },
    "com.azure.batch#ResizeOperationStatusErrorsList": {
      "type": "list",
      "member": {
        "target": "com.azure.batch#ResizeError"
      },
      "traits": {
        "smithy.api#documentation": "This property is set only if an error occurred during the last pool resize, and only when the pool allocationState is Steady."
      }
    },
    "com.azure.batch#ResizeError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A message describing the error, intended to be suitable for display in a user interface.",
            "smithy.api#required": {}
          }
        },
        "details": {
          "target": "com.azure.batch#ResizeErrorDetailsList",
          "traits": {
            "smithy.api#documentation": "Additional details about the error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An error that occurred when resizing a pool."
      }
    },
    "com.azure.batch#ResizeErrorDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.batch#ResizeError"
      },
      "traits": {
        "smithy.api#documentation": "Additional details about the error."
      }
    },
    "com.azure.batch#ComputeNodeDeallocationOption": {
      "type": "enum",
      "members": {
        "REQUEUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Requeue"
          }
        },
        "TERMINATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Terminate"
          }
        },
        "TASKCOMPLETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TaskCompletion"
          }
        },
        "RETAINEDDATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RetainedData"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Determines what to do with a node and its running task(s) after it has been selected for deallocation."
      }
    },
    "com.azure.batch#PoolPropertiesApplicationPackagesList": {
      "type": "list",
      "member": {
        "target": "com.azure.batch#ApplicationPackageReference"
      },
      "traits": {
        "smithy.api#documentation": "Changes to application package references affect all new compute nodes joining the pool, but do not affect compute nodes that are already in the pool until they are rebooted or reimaged. There is a maximum of 10 application package references on any given pool."
      }
    },
    "com.azure.batch#ApplicationPackageReference": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the application package to install. This must be inside the same batch account as the pool. This can either be a reference to a specific version or the default version if one exists.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If this is omitted, and no default version is specified for this application, the request fails with the error code InvalidApplicationPackageReferences. If you are calling the REST API directly, the HTTP status code is 409."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Link to an application package inside the batch account"
      }
    },
    "com.azure.batch#StartTask": {
      "type": "structure",
      "members": {
        "commandLine": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The command line does not run under a shell, and therefore cannot take advantage of shell features such as environment variable expansion. If you want to take advantage of such features, you should invoke the shell in the command line, for example using \"cmd /c MyCommand\" in Windows or \"/bin/sh -c MyCommand\" in Linux. Required if any other properties of the startTask are specified."
          }
        },
        "resourceFiles": {
          "target": "com.azure.batch#StartTaskResourceFilesList",
          "traits": {
            "smithy.api#documentation": "A list of files that the Batch service will download to the compute node before running the command line."
          }
        },
        "environmentSettings": {
          "target": "com.azure.batch#StartTaskEnvironmentSettingsList",
          "traits": {
            "smithy.api#documentation": "A list of environment variable settings for the start task."
          }
        },
        "userIdentity": {
          "target": "com.azure.batch#UserIdentity",
          "traits": {
            "smithy.api#documentation": "If omitted, the task runs as a non-administrative user unique to the task."
          }
        },
        "maxTaskRetryCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Batch service retries a task if its exit code is nonzero. Note that this value specifically controls the number of retries. The Batch service will try the task once, and may then retry up to this limit. For example, if the maximum retry count is 3, Batch tries the task up to 4 times (one initial try and 3 retries). If the maximum retry count is 0, the Batch service does not retry the task. If the maximum retry count is -1, the Batch service retries the task without limit. Default is 0"
          }
        },
        "waitForSuccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true and the start task fails on a compute node, the Batch service retries the start task up to its maximum retry count (maxTaskRetryCount). If the task has still not completed successfully after all retries, then the Batch service marks the compute node unusable, and will not schedule tasks to it. This condition can be detected via the node state and scheduling error detail. If false, the Batch service will not wait for the start task to complete. In this case, other tasks can start executing on the compute node while the start task is still running; and even if the start task fails, new tasks will continue to be scheduled on the node. The default is true."
          }
        },
        "containerSettings": {
          "target": "com.azure.batch#TaskContainerSettings",
          "traits": {
            "smithy.api#documentation": "When this is specified, all directories recursively below the AZ_BATCH_NODE_ROOT_DIR (the root of Azure Batch directories on the node) are mapped into the container, all task environment variables are mapped into the container, and the task command line is executed in the container."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "In some cases the start task may be re-run even though the node was not rebooted. Due to this, start tasks should be idempotent and exit gracefully if the setup they're performing has already been done. Special care should be taken to avoid start tasks which create breakaway process or install/launch services from the start task working directory, as this will block Batch from being able to re-run the start task."
      }
    },
    "com.azure.batch#TaskContainerSettings": {
      "type": "structure",
      "members": {
        "containerRunOptions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "These additional options are supplied as arguments to the \"docker create\" command, in addition to those controlled by the Batch Service."
          }
        },
        "imageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the full image reference, as would be specified to \"docker pull\". If no tag is provided as part of the image name, the tag \":latest\" is used as a default.",
            "smithy.api#required": {}
          }
        },
        "registry": {
          "target": "com.azure.batch#ContainerRegistry",
          "traits": {
            "smithy.api#documentation": "This setting can be omitted if was already provided at pool creation."
          }
        },
        "workingDirectory": {
          "target": "com.azure.batch#ContainerWorkingDirectory",
          "traits": {
            "smithy.api#documentation": "A flag to indicate where the container task working directory is. The default is 'taskWorkingDirectory'."
          }
        },
        "containerHostBatchBindMounts": {
          "target": "com.azure.batch#TaskContainerSettingsContainerHostBatchBindMountsList",
          "traits": {
            "smithy.api#documentation": "If this array is null or be not present, container task will mount entire temporary disk drive in windows (or AZ_BATCH_NODE_ROOT_DIR in Linux). It won't' mount any data paths into container if this array is set as empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The container settings for a task."
      }
    },
    "com.azure.batch#TaskContainerSettingsContainerHostBatchBindMountsList": {
      "type": "list",
      "member": {
        "target": "com.azure.batch#ContainerHostBatchBindMountEntry"
      },
      "traits": {
        "smithy.api#documentation": "If this array is null or be not present, container task will mount entire temporary disk drive in windows (or AZ_BATCH_NODE_ROOT_DIR in Linux). It won't' mount any data paths into container if this array is set as empty."
      }
    },
    "com.azure.batch#ContainerHostBatchBindMountEntry": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.azure.batch#ContainerHostDataPath",
          "traits": {
            "smithy.api#documentation": "The paths which will be mounted to container task's container."
          }
        },
        "isReadOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "For Linux, if you mount this path as a read/write mode, this does not mean that all users in container have the read/write access for the path, it depends on the access in host VM. If this path is mounted read-only, all users within the container will not be able to modify the path."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The entry of path and mount mode you want to mount into task container."
      }
    },
    "com.azure.batch#ContainerHostDataPath": {
      "type": "enum",
      "members": {
        "SHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Shared"
          }
        },
        "STARTUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Startup"
          }
        },
        "VFSMOUNTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VfsMounts"
          }
        },
        "TASK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Task"
          }
        },
        "JOBPREP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JobPrep"
          }
        },
        "APPLICATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Applications"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The paths which will be mounted to container task's container."
      }
    },
    "com.azure.batch#ContainerWorkingDirectory": {
      "type": "enum",
      "members": {
        "TASKWORKINGDIRECTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TaskWorkingDirectory"
          }
        },
        "CONTAINERIMAGEDEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ContainerImageDefault"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A flag to indicate where the container task working directory is. The default is 'taskWorkingDirectory'."
      }
    },
    "com.azure.batch#ContainerRegistry": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user name to log into the registry server."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The password to log into the registry server.",
            "smithy.api#sensitive": {}
          }
        },
        "registryServer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If omitted, the default is \"docker.io\"."
          }
        },
        "identityReference": {
          "target": "com.azure.batch#ComputeNodeIdentityReference",
          "traits": {
            "smithy.api#documentation": "The reference to a user assigned identity associated with the Batch pool which a compute node will use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A private container registry."
      }
    },
    "com.azure.batch#UserIdentity": {
      "type": "structure",
      "members": {
        "userName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The userName and autoUser properties are mutually exclusive; you must specify one but not both."
          }
        },
        "autoUser": {
          "target": "com.azure.batch#AutoUserSpecification",
          "traits": {
            "smithy.api#documentation": "The userName and autoUser properties are mutually exclusive; you must specify one but not both."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specify either the userName or autoUser property, but not both."
      }
    },
    "com.azure.batch#AutoUserSpecification": {
      "type": "structure",
      "members": {
        "scope": {
          "target": "com.azure.batch#AutoUserScope",
          "traits": {
            "smithy.api#documentation": "The default value is Pool. If the pool is running Windows a value of Task should be specified if stricter isolation between tasks is required. For example, if the task mutates the registry in a way which could impact other tasks, or if certificates have been specified on the pool which should not be accessible by normal tasks but should be accessible by start tasks."
          }
        },
        "elevationLevel": {
          "target": "com.azure.batch#ElevationLevel",
          "traits": {
            "smithy.api#documentation": "The default value is nonAdmin."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the parameters for the auto user that runs a task on the Batch service."
      }
    },
    "com.azure.batch#ElevationLevel": {
      "type": "enum",
      "members": {
        "NONADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NonAdmin"
          }
        },
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Admin"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The elevation level of the user."
      }
    },
    "com.azure.batch#AutoUserScope": {
      "type": "enum",
      "members": {
        "TASK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Task"
          }
        },
        "POOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pool"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The default value is Pool. If the pool is running Windows a value of Task should be specified if stricter isolation between tasks is required. For example, if the task mutates the registry in a way which could impact other tasks."
      }
    },
    "com.azure.batch#StartTaskEnvironmentSettingsList": {
      "type": "list",
      "member": {
        "target": "com.azure.batch#EnvironmentSetting"
      },
      "traits": {
        "smithy.api#documentation": "A list of environment variable settings for the start task."
      }
    },
    "com.azure.batch#EnvironmentSetting": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the environment variable.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the environment variable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An environment variable to be set on a task process."
      }
    },
    "com.azure.batch#StartTaskResourceFilesList": {
      "type": "list",
      "member": {
        "target": "com.azure.batch#ResourceFile"
      },
      "traits": {
        "smithy.api#documentation": "A list of files that the Batch service will download to the compute node before running the command line."
      }
    },
    "com.azure.batch#ResourceFile": {
      "type": "structure",
      "members": {
        "autoStorageContainerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The autoStorageContainerName, storageContainerUrl and httpUrl properties are mutually exclusive and one of them must be specified."
          }
        },
        "storageContainerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The autoStorageContainerName, storageContainerUrl and httpUrl properties are mutually exclusive and one of them must be specified. This URL must be readable and listable from compute nodes. There are three ways to get such a URL for a container in Azure storage: include a Shared Access Signature (SAS) granting read and list permissions on the container, use a managed identity with read and list permissions, or set the ACL for the container to allow public access."
          }
        },
        "httpUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The autoStorageContainerName, storageContainerUrl and httpUrl properties are mutually exclusive and one of them must be specified. If the URL points to Azure Blob Storage, it must be readable from compute nodes. There are three ways to get such a URL for a blob in Azure storage: include a Shared Access Signature (SAS) granting read permissions on the blob, use a managed identity with read permission, or set the ACL for the blob or its container to allow public access."
          }
        },
        "blobPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The property is valid only when autoStorageContainerName or storageContainerUrl is used. This prefix can be a partial filename or a subdirectory. If a prefix is not specified, all the files in the container will be downloaded."
          }
        },
        "filePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the httpUrl property is specified, the filePath is required and describes the path which the file will be downloaded to, including the filename. Otherwise, if the autoStorageContainerName or storageContainerUrl property is specified, filePath is optional and is the directory to download the files to. In the case where filePath is used as a directory, any directory structure already associated with the input data will be retained in full and appended to the specified filePath directory. The specified relative path cannot break out of the task's working directory (for example by using '..')."
          }
        },
        "fileMode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This property applies only to files being downloaded to Linux compute nodes. It will be ignored if it is specified for a resourceFile which will be downloaded to a Windows node. If this property is not specified for a Linux node, then a default value of 0770 is applied to the file."
          }
        },
        "identityReference": {
          "target": "com.azure.batch#ComputeNodeIdentityReference",
          "traits": {
            "smithy.api#documentation": "The reference to a user assigned identity associated with the Batch pool which a compute node will use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single file or multiple files to be downloaded to a compute node."
      }
    },
    "com.azure.batch#PoolPropertiesMetadataList": {
      "type": "list",
      "member": {
        "target": "com.azure.batch#MetadataItem"
      },
      "traits": {
        "smithy.api#documentation": "The Batch service does not assign any meaning to metadata; it is solely for the use of user code."
      }
    },
    "com.azure.batch#MetadataItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the metadata item.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the metadata item.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Batch service does not assign any meaning to this metadata; it is solely for the use of user code."
      }
    },
    "com.azure.batch#PoolPropertiesUserAccountsList": {
      "type": "list",
      "member": {
        "target": "com.azure.batch#UserAccount"
      },
      "traits": {
        "smithy.api#documentation": "The list of user accounts to be created on each node in the pool."
      }
    },
    "com.azure.batch#UserAccount": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the user account. Names can contain any Unicode characters up to a maximum length of 20.",
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
[...]
