{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.billing#PoliciesGetBySubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.billing#PoliciesGetBySubscriptionRequest"
      },
      "output": {
        "target": "com.azure.billing#PoliciesGetBySubscriptionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/policies/default",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "Lists the policies that are managed by the Billing Admin for the defined subscriptions. This is supported for Microsoft Online Services Program, Microsoft Customer Agreement and Microsoft Partner Agreement.",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.billing#PoliciesGetBySubscriptionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.billing#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.billing#SubscriptionPolicyProperties",
          "traits": {
            "smithy.api#documentation": "A policy at subscription scope."
          }
        },
        "tags": {
          "target": "com.azure.billing#PoliciesGetBySubscriptionResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Dictionary of metadata associated with the resource. It may not be populated for all resource types. Maximum key/value length supported of 256 characters. Keys/value should not empty value nor null. Keys can not contain < > % & \\ ? /"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.billing#PoliciesGetBySubscriptionResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Dictionary of metadata associated with the resource. It may not be populated for all resource types. Maximum key/value length supported of 256 characters. Keys/value should not empty value nor null. Keys can not contain < > % & \\ ? /"
      }
    },
    "com.azure.billing#SubscriptionPolicyProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.billing#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the resource during a long-running operation."
          }
        },
        "policies": {
          "target": "com.azure.billing#SubscriptionPolicyPropertiesPoliciesList",
          "traits": {
            "smithy.api#documentation": "List of all policies defined at the billing scope."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A policy at subscription scope."
      }
    },
    "com.azure.billing#SubscriptionPolicyPropertiesPoliciesList": {
      "type": "list",
      "member": {
        "target": "com.azure.billing#PolicySummary"
      },
      "traits": {
        "smithy.api#documentation": "List of all policies defined at the billing scope."
      }
    },
    "com.azure.billing#PolicySummary": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the policy."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the policy."
          }
        },
        "policyType": {
          "target": "com.azure.billing#PolicyType",
          "traits": {
            "smithy.api#documentation": "The type of the policy."
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scope at which the policy is defined."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The summary of the policy."
      }
    },
    "com.azure.billing#PolicyType": {
      "type": "enum",
      "members": {
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Other"
          }
        },
        "USERCONTROLLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserControlled"
          }
        },
        "SYSTEMCONTROLLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemControlled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the policy."
      }
    },
    "com.azure.billing#ProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "NEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "New"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        },
        "PENDINGBILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingBilling"
          }
        },
        "CONFIRMEDBILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConfirmedBilling"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Created"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Expired"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioning state of the resource during a long-running operation."
      }
    },
    "com.azure.billing#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.billing#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.billing#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.billing#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.billing#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.billing#PoliciesGetBySubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.billing#BillingPropertyUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.billing#BillingPropertyUpdateRequest"
      },
      "output": {
        "target": "com.azure.billing#BillingPropertyUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingProperty/default",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "Updates the billing property of a subscription. Currently, cost center can be updated for billing accounts with agreement type Microsoft Customer Agreement and subscription service usage address can be updated for billing accounts with agreement type Microsoft Online Service Program.",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.billing#BillingPropertyUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.billing#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.billing#BillingPropertyProperties",
          "traits": {
            "smithy.api#documentation": "A billing property."
          }
        },
        "tags": {
          "target": "com.azure.billing#BillingPropertyUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Dictionary of metadata associated with the resource. It may not be populated for all resource types. Maximum key/value length supported of 256 characters. Keys/value should not empty value nor null. Keys can not contain < > % & \\ ? /"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.billing#BillingPropertyUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Dictionary of metadata associated with the resource. It may not be populated for all resource types. Maximum key/value length supported of 256 characters. Keys/value should not empty value nor null. Keys can not contain < > % & \\ ? /"
      }
    },
    "com.azure.billing#BillingPropertyProperties": {
      "type": "structure",
      "members": {
        "billingAccountAgreementType": {
          "target": "com.azure.billing#AgreementType",
          "traits": {
            "smithy.api#documentation": "The type of agreement."
          }
        },
        "billingAccountDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the billing account."
          }
        },
        "billingAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified ID that uniquely identifies a billing account."
          }
        },
        "accountAdminNotificationEmailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Notification email address for legacy account. Available for agreement type Microsoft Online Services Program."
          }
        },
        "billingAccountSoldToCountry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The country of the individual or organization that is responsible for the billing account."
          }
        },
        "billingAccountStatus": {
          "target": "com.azure.billing#AccountStatus",
          "traits": {
            "smithy.api#documentation": "The current status of the billing account."
          }
        },
        "billingAccountStatusReasonCode": {
          "target": "com.azure.billing#BillingAccountStatusReasonCode",
          "traits": {
            "smithy.api#documentation": "Reason for the specified billing account status."
          }
        },
        "billingAccountType": {
          "target": "com.azure.billing#AccountType",
          "traits": {
            "smithy.api#documentation": "The type of customer."
          }
        },
        "billingAccountSubType": {
          "target": "com.azure.billing#AccountSubType",
          "traits": {
            "smithy.api#documentation": "The tier of the account."
          }
        },
        "billingCurrency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The billing currency for the subscription. Available for billing accounts with agreement type Enterprise Agreement"
          }
        },
        "billingProfileDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the billing profile."
          }
        },
        "billingProfileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified ID that uniquely identifies a billing profile."
          }
        },
        "billingProfileSpendingLimit": {
          "target": "com.azure.billing#SpendingLimit",
          "traits": {
            "smithy.api#documentation": "The billing profile spending limit."
          }
        },
        "billingProfileSpendingLimitDetails": {
          "target": "com.azure.billing#BillingPropertyPropertiesBillingProfileSpendingLimitDetailsList",
          "traits": {
            "smithy.api#documentation": "The details of billing profile spending limit."
          }
        },
        "billingProfileStatus": {
          "target": "com.azure.billing#BillingProfileStatus",
          "traits": {
            "smithy.api#documentation": "The status of the billing profile."
          }
        },
        "billingProfileStatusReasonCode": {
          "target": "com.azure.billing#BillingProfileStatusReasonCode",
          "traits": {
            "smithy.api#documentation": "Reason for the specified billing profile status."
          }
        },
        "billingProfilePaymentMethodFamily": {
          "target": "com.azure.billing#PaymentMethodFamily",
          "traits": {
            "smithy.api#documentation": "The payment method family of the primary payment method for the billing profile."
          }
        },
        "billingProfilePaymentMethodType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The payment method type of the primary payment method for the billing profile."
          }
        },
        "billingTenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Azure AD tenant ID of the billing account for the subscription."
          }
        },
        "costCenter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cost center applied to the subscription. Available for agreement type Microsoft Customer Agreement and Microsoft Partner Agreement. This property can be updated via patch."
          }
        },
        "customerDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the customer."
          }
        },
        "customerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified ID that uniquely identifies a customer."
          }
        },
        "customerStatus": {
          "target": "com.azure.billing#CustomerStatus",
          "traits": {
            "smithy.api#documentation": "Identifies the status of an customer. This is an upcoming property that will be populated in the future."
          }
        },
        "invoiceSectionDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the invoice section."
          }
        },
        "invoiceSectionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified ID that uniquely identifies an invoice section."
          }
        },
        "invoiceSectionStatus": {
          "target": "com.azure.billing#InvoiceSectionState",
          "traits": {
            "smithy.api#documentation": "Identifies the status of an invoice section."
          }
        },
        "invoiceSectionStatusReasonCode": {
          "target": "com.azure.billing#InvoiceSectionStateReasonCode",
          "traits": {
            "smithy.api#documentation": "Reason for the specified invoice section status."
          }
        },
        "isTransitionedBillingAccount": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies if the billing account for the subscription is transitioned from a Microsoft Online Service Program to a Microsoft Customer Agreement (MCA) account. Will be present and value will be true if its a transitioned billing account."
          }
        },
        "skuDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sku description."
          }
        },
        "skuId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID that uniquely identifies a sku."
          }
        },
        "subscriptionBillingStatus": {
          "target": "com.azure.billing#BillingSubscriptionStatus",
          "traits": {
            "smithy.api#documentation": "The subscription status."
          }
        },
        "subscriptionBillingStatusDetails": {
          "target": "com.azure.billing#BillingPropertyPropertiesSubscriptionBillingStatusDetailsList",
          "traits": {
            "smithy.api#documentation": "The reason codes for the subscription status."
          }
        },
        "subscriptionBillingType": {
          "target": "com.azure.billing#SubscriptionBillingType",
          "traits": {
            "smithy.api#documentation": "The type of billing subscription."
          }
        },
        "subscriptionServiceUsageAddress": {
          "target": "com.azure.billing#AddressDetails",
          "traits": {
            "smithy.api#documentation": "The address of the individual or organization where service subscription is being used. Available for agreement type Microsoft Online Services Program. This property can be updated via patch."
          }
        },
        "subscriptionWorkloadType": {
          "target": "com.azure.billing#SubscriptionWorkloadType",
          "traits": {
            "smithy.api#documentation": "The Azure workload type of the subscription."
          }
        },
        "enrollmentDetails": {
          "target": "com.azure.billing#SubscriptionEnrollmentDetails",
          "traits": {
            "smithy.api#documentation": "The enrollment details for the subscription. Available for billing accounts with agreement type Enterprise Agreement."
          }
        },
        "isAccountAdmin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether user is the account admin."
          }
        },
        "productId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID that uniquely identifies a product."
          }
        },
        "productName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID that uniquely identifies a product."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A billing property."
      }
    },
    "com.azure.billing#SubscriptionEnrollmentDetails": {
      "type": "structure",
      "members": {
        "departmentDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the department"
          }
        },
        "departmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID that uniquely identifies the department."
          }
        },
        "enrollmentAccountStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status of the enrollment account."
          }
        },
        "enrollmentAccountDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the enrollment account."
          }
        },
        "enrollmentAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID that uniquely identifies an enrollment account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enrollment details for the subscription. Available for billing accounts with agreement type Enterprise Agreement."
      }
    },
    "com.azure.billing#SubscriptionWorkloadType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Production"
          }
        },
        "DEVTEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DevTest"
          }
        },
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Internal"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Azure workload type of the subscription."
      }
    },
    "com.azure.billing#AddressDetails": {
      "type": "structure",
      "members": {
        "addressLine1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address line 1.",
            "smithy.api#required": {}
          }
        },
        "addressLine2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address line 2."
          }
        },
        "addressLine3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address line 3."
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address city."
          }
        },
        "companyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Company name. Optional for MCA Individual (Pay-as-you-go)."
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Country code uses ISO 3166-1 Alpha-2 format.",
            "smithy.api#required": {}
          }
        },
        "district": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address district."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address."
          }
        },
        "firstName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "First name. Optional for MCA Enterprise."
          }
        },
        "lastName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last name. Optional for MCA Enterprise."
          }
        },
        "middleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Middle name."
          }
        },
        "phoneNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Phone number."
          }
        },
        "postalCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Postal code."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address region."
          }
        },
        "isValidAddress": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the address is incomplete."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Address details."
      }
    },
    "com.azure.billing#SubscriptionBillingType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "BENEFIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Benefit"
          }
        },
        "FREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Free"
          }
        },
        "PAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Paid"
          }
        },
        "PREPAID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PrePaid"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of billing subscription."
      }
    },
    "com.azure.billing#BillingPropertyPropertiesSubscriptionBillingStatusDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.billing#BillingSubscriptionStatusDetails"
      },
      "traits": {
        "smithy.api#documentation": "The reason codes for the subscription status."
      }
    },
    "com.azure.billing#BillingSubscriptionStatusDetails": {
      "type": "structure",
      "members": {
        "effectiveDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The suspension effective date for a subscription. This field is not available for Enterprise Agreement billing accounts."
          }
        },
        "reason": {
          "target": "com.azure.billing#SubscriptionStatusReason",
          "traits": {
            "smithy.api#documentation": "The suspension reason for a subscription. This field is not available for Enterprise Agreement billing accounts."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The suspension details for a subscription. This field is not available for Enterprise Agreement billing accounts."
      }
    },
    "com.azure.billing#SubscriptionStatusReason": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cancelled"
          }
        },
        "PASTDUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PastDue"
          }
        },
        "SUSPICIOUSACTIVITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SuspiciousActivity"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Other"
          }
        },
        "TRANSFERRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Transferred"
          }
        },
        "POLICYVIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PolicyViolation"
          }
        },
        "SPENDINGLIMITREACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SpendingLimitReached"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Expired"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The suspension reason for a subscription. This field is not available for Enterprise Agreement billing accounts."
      }
    },
    "com.azure.billing#BillingSubscriptionStatus": {
      "type": "enum",
      "members": {
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Other"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleted"
          }
        },
        "WARNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Warned"
          }
        },
        "EXPIRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Expiring"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Expired"
          }
        },
        "AUTORENEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AutoRenew"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cancelled"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Suspended"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The subscription status."
      }
    },
    "com.azure.billing#InvoiceSectionStateReasonCode": {
      "type": "enum",
      "members": {
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Other"
          }
        },
        "PASTDUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PastDue"
          }
        },
        "UNUSUALACTIVITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UnusualActivity"
          }
        },
        "SPENDINGLIMITREACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SpendingLimitReached"
          }
        },
        "SPENDINGLIMITEXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SpendingLimitExpired"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reason for the specified invoice section status."
      }
    },
    "com.azure.billing#InvoiceSectionState": {
      "type": "enum",
      "members": {
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Other"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleted"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        },
        "UNDERREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UnderReview"
          }
        },
        "WARNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Warned"
          }
        },
        "RESTRICTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Restricted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifies the status of an invoice section."
      }
    },
    "com.azure.billing#CustomerStatus": {
      "type": "enum",
      "members": {
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Other"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        },
        "WARNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Warned"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleted"
          }
        },
        "UNDERREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UnderReview"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifies the status of an customer. This is an upcoming property that will be populated in the future."
      }
    },
    "com.azure.billing#PaymentMethodFamily": {
      "type": "enum",
      "members": {
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Other"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "CREDITCARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreditCard"
          }
        },
        "CREDITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Credits"
          }
        },
        "CHECKWIRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CheckWire"
          }
        },
        "EWALLET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EWallet"
          }
        },
        "TASKORDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TaskOrder"
          }
        },
        "DIRECTDEBIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DirectDebit"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Payment on Account type."
      }
    },
    "com.azure.billing#BillingProfileStatusReasonCode": {
      "type": "enum",
      "members": {
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Other"
          }
        },
        "PASTDUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PastDue"
          }
        },
        "UNUSUALACTIVITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UnusualActivity"
          }
        },
        "SPENDINGLIMITREACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SpendingLimitReached"
          }
        },
        "SPENDINGLIMITEXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SpendingLimitExpired"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reason for the specified billing profile status."
      }
    },
    "com.azure.billing#BillingProfileStatus": {
      "type": "enum",
      "members": {
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Other"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        },
        "WARNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Warned"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleted"
          }
        },
        "UNDERREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UnderReview"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the billing profile."
      }
    },
    "com.azure.billing#BillingPropertyPropertiesBillingProfileSpendingLimitDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.billing#SpendingLimitDetails"
      },
      "traits": {
        "smithy.api#documentation": "The details of billing profile spending limit."
      }
    },
    "com.azure.billing#SpendingLimitDetails": {
      "type": "structure",
      "members": {
        "amount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The initial amount for the billing profile."
          }
        },
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The currency in which the charges for the billing profile are billed."
          }
        },
        "startDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date when this spending limit goes into effect."
          }
        },
        "endDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date when this spending limit is no longer in effect."
          }
        },
        "type": {
          "target": "com.azure.billing#SpendingLimitType",
          "traits": {
            "smithy.api#documentation": "The type of spending limit."
          }
        },
        "status": {
          "target": "com.azure.billing#SpendingLimitStatus",
          "traits": {
            "smithy.api#documentation": "The status of current spending limit."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The billing profile spending limit."
      }
    },
    "com.azure.billing#SpendingLimitStatus": {
      "type": "enum",
      "members": {
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Other"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Expired"
          }
        },
        "LIMITREACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LimitReached"
          }
        },
        "LIMITREMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LimitRemoved"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of current spending limit."
      }
    },
    "com.azure.billing#SpendingLimitType": {
      "type": "enum",
      "members": {
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Other"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "FREEACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FreeAccount"
          }
        },
        "SANDBOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sandbox"
          }
        },
        "AZUREFORSTUDENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureForStudents"
          }
        },
        "ACADEMICSPONSORSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AcademicSponsorship"
          }
        },
        "AZURECONSUMPTIONCREDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureConsumptionCredit"
          }
        },
        "AZUREPASSSPONSORSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzurePassSponsorship"
          }
        },
        "MPNSPONSORSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MpnSponsorship"
          }
        },
        "MSDN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSDN"
          }
        },
        "NONPROFITSPONSORSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NonProfitSponsorship"
          }
        },
        "SPONSORSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sponsorship"
          }
        },
        "STARTUPSPONSORSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "StartupSponsorship"
          }
        },
        "AZUREFORSTUDENTSSTARTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureForStudentsStarter"
          }
        },
        "VISUALSTUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VisualStudio"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of spending limit."
      }
    },
    "com.azure.billing#SpendingLimit": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Off"
          }
        },
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "On"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The billing profile spending limit."
      }
    },
    "com.azure.billing#AccountSubType": {
      "type": "enum",
      "members": {
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Other"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "INDIVIDUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Individual"
          }
        },
        "PROFESSIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Professional"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enterprise"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The tier of the account."
      }
    },
    "com.azure.billing#AccountType": {
      "type": "enum",
      "members": {
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Other"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enterprise"
          }
        },
        "INDIVIDUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Individual"
          }
        },
        "PARTNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Partner"
          }
        },
        "RESELLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Reseller"
          }
        },
        "CLASSICPARTNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ClassicPartner"
          }
        },
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Internal"
          }
        },
        "TENANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Tenant"
          }
        },
        "BUSINESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Business"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of customer."
      }
    },
    "com.azure.billing#BillingAccountStatusReasonCode": {
      "type": "enum",
      "members": {
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Other"
          }
        },
        "UNUSUALACTIVITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UnusualActivity"
          }
        },
        "MANUALLYTERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManuallyTerminated"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Expired"
          }
        },
        "TRANSFERRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Transferred"
          }
        },
        "TERMINATEPROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TerminateProcessing"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reason for the specified billing account status."
      }
    },
    "com.azure.billing#AccountStatus": {
      "type": "enum",
      "members": {
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Other"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        },
        "UNDERREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UnderReview"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleted"
          }
        },
        "EXTENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Extended"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "NEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "New"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Expired"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Terminated"
          }
        },
        "TRANSFERRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Transferred"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current status of the billing account."
      }
    },
    "com.azure.billing#AgreementType": {
      "type": "enum",
      "members": {
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Other"
          }
        },
        "MICROSOFTCUSTOMERAGREEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MicrosoftCustomerAgreement"
          }
        },
        "ENTERPRISEAGREEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EnterpriseAgreement"
          }
        },
        "MICROSOFTONLINESERVICESPROGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MicrosoftOnlineServicesProgram"
          }
        },
        "MICROSOFTPARTNERAGREEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MicrosoftPartnerAgreement"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of agreement."
      }
    },
    "com.azure.billing#BillingPropertyUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "properties": {
          "target": "com.azure.billing#BillingPropertyPropertiesInput",
          "traits": {
            "smithy.api#documentation": "A billing property."
          }
        },
        "tags": {
          "target": "com.azure.billing#BillingPropertyUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Dictionary of metadata associated with the resource. It may not be populated for all resource types. Maximum key/value length supported of 256 characters. Keys/value should not empty value nor null. Keys can not contain < > % & \\ ? /"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.billing#BillingPropertyUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Dictionary of metadata associated with the resource. It may not be populated for all resource types. Maximum key/value length supported of 256 characters. Keys/value should not empty value nor null. Keys can not contain < > % & \\ ? /"
      }
    },
    "com.azure.billing#BillingPropertyPropertiesInput": {
      "type": "structure",
      "members": {
        "costCenter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cost center applied to the subscription. Available for agreement type Microsoft Customer Agreement and Microsoft Partner Agreement. This property can be updated via patch."
          }
        },
        "subscriptionServiceUsageAddress": {
          "target": "com.azure.billing#AddressDetails",
          "traits": {
            "smithy.api#documentation": "The address of the individual or organization where service subscription is being used. Available for agreement type Microsoft Online Services Program. This property can be updated via patch."
          }
        },
        "enrollmentDetails": {
          "target": "com.azure.billing#SubscriptionEnrollmentDetails",
          "traits": {
            "smithy.api#documentation": "The enrollment details for the subscription. Available for billing accounts with agreement type Enterprise Agreement."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A billing property."
      }
    },
    "com.azure.billing#BillingPropertyGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.billing#BillingPropertyGetRequest"
      },
      "output": {
        "target": "com.azure.billing#BillingPropertyGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingProperty/default",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "Gets the billing properties for a subscription",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.billing#BillingPropertyGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.billing#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.billing#BillingPropertyProperties",
          "traits": {
            "smithy.api#documentation": "A billing property."
          }
        },
        "tags": {
          "target": "com.azure.billing#BillingPropertyGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Dictionary of metadata associated with the resource. It may not be populated for all resource types. Maximum key/value length supported of 256 characters. Keys/value should not empty value nor null. Keys can not contain < > % & \\ ? /"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.billing#BillingPropertyGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Dictionary of metadata associated with the resource. It may not be populated for all resource types. Maximum key/value length supported of 256 characters. Keys/value should not empty value nor null. Keys can not contain < > % & \\ ? /"
      }
    },
    "com.azure.billing#BillingPropertyGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "includeBillingCountry": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "includeBillingCountry",
            "smithy.api#documentation": "A flag that specifies whether or not to include billing country."
          }
        },
        "includeTransitionStatus": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "includeTransitionStatus",
            "smithy.api#documentation": "A flag that specifies whether or not to include transition status for billing accounts with agreement type Microsoft Customer Agreement."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.billing#AddressValidate": {
      "type": "operation",
      "input": {
        "target": "com.azure.billing#AddressValidateRequest"
      },
      "output": {
        "target": "com.azure.billing#AddressValidationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/providers/Microsoft.Billing/validateAddress",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "Validates an address. Use the operation to validate an address before using it as soldTo or a billTo address.",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.billing#AddressValidationResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.billing#AddressValidationStatus",
          "traits": {
            "smithy.api#documentation": "Status of the address validation."
          }
        },
        "suggestedAddresses": {
          "target": "com.azure.billing#AddressValidationResponseSuggestedAddressesList",
          "traits": {
            "smithy.api#documentation": "The list of suggested addresses."
          }
        },
        "validationMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Validation error message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of the address validation."
      }
    },
    "com.azure.billing#AddressValidationResponseSuggestedAddressesList": {
      "type": "list",
      "member": {
        "target": "com.azure.billing#AddressDetails"
      },
      "traits": {
        "smithy.api#documentation": "The list of suggested addresses."
      }
    },
    "com.azure.billing#AddressValidationStatus": {
      "type": "enum",
      "members": {
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Other"
          }
        },
        "VALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Valid"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the address validation."
      }
    },
    "com.azure.billing#AddressValidateRequest": {
      "type": "structure",
      "members": {
        "addressLine1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address line 1.",
            "smithy.api#required": {}
          }
        },
        "addressLine2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address line 2."
          }
        },
        "addressLine3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address line 3."
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address city."
          }
        },
        "companyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Company name. Optional for MCA Individual (Pay-as-you-go)."
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Country code uses ISO 3166-1 Alpha-2 format.",
            "smithy.api#required": {}
          }
        },
        "district": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address district."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address."
          }
        },
        "firstName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "First name. Optional for MCA Enterprise."
          }
        },
        "lastName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last name. Optional for MCA Enterprise."
          }
        },
        "middleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Middle name."
          }
        },
        "phoneNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Phone number."
          }
        },
        "postalCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Postal code."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address region."
          }
        },
        "isValidAddress": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the address is incomplete."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.billing#RecipientTransfersValidate": {
      "type": "operation",
      "input": {
        "target": "com.azure.billing#RecipientTransfersValidateRequest"
      },
      "output": {
        "target": "com.azure.billing#ValidateTransferListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/providers/Microsoft.Billing/transfers/{transferName}/validate",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "Validates if a subscription or a reservation can be transferred. Use this operation to validate your subscriptions or reservation before using the accept transfer operation.\n\nValidates if a subscription or a reservation can be transferred. Use this operation to validate your subscriptions or reservation before using the accept transfer operation.",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.billing#ValidateTransferListResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.billing#ValidateTransferListResponseValueList",
          "traits": {
            "smithy.api#documentation": "The list of transfer validation results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of transfer validation."
      }
    },
    "com.azure.billing#ValidateTransferListResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.billing#ValidateTransferResponse"
      },
      "traits": {
        "smithy.api#documentation": "The list of transfer validation results."
      }
    },
    "com.azure.billing#ValidateTransferResponse": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.azure.billing#ValidateTransferResponseProperties",
          "traits": {
            "smithy.api#documentation": "The properties of transfer validation response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Transfer validation response."
      }
    },
    "com.azure.billing#ValidateTransferResponseProperties": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status of validation"
          }
        },
        "productId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The product id for which this result applies."
          }
        },
        "results": {
          "target": "com.azure.billing#ValidateTransferResponsePropertiesResultsList",
          "traits": {
            "smithy.api#documentation": "The array of validation results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of transfer validation response."
      }
    },
    "com.azure.billing#ValidateTransferResponsePropertiesResultsList": {
      "type": "list",
      "member": {
        "target": "com.azure.billing#ValidationResultProperties"
      },
      "traits": {
        "smithy.api#documentation": "The array of validation results."
      }
    },
    "com.azure.billing#ValidationResultProperties": {
      "type": "structure",
      "members": {
        "level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Result Level."
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Result Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The validation message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the validation result."
      }
    },
    "com.azure.billing#RecipientTransfersValidateRequest": {
      "type": "structure",
      "members": {
        "transferName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID that uniquely identifies a transfer request."
          }
        },
        "properties": {
          "target": "com.azure.billing#AcceptTransferProperties",
          "traits": {
            "smithy.api#documentation": "Request parameters to accept transfer."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.billing#AcceptTransferProperties": {
      "type": "structure",
      "members": {
        "productDetails": {
          "target": "com.azure.billing#AcceptTransferPropertiesProductDetailsList",
          "traits": {
            "smithy.api#documentation": "Request parameters to accept transfer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request parameters to accept transfer."
      }
    },
    "com.azure.billing#AcceptTransferPropertiesProductDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.billing#ProductDetails"
      },
      "traits": {
        "smithy.api#documentation": "Request parameters to accept transfer."
      }
    },
    "com.azure.billing#ProductDetails": {
      "type": "structure",
      "members": {
        "productType": {
          "target": "com.azure.billing#ProductType",
          "traits": {
            "smithy.api#documentation": "Type of the product that is transferred."
          }
        },
        "productId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the product that is transferred."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of the product that is transferred."
      }
    },
    "com.azure.billing#ProductType": {
      "type": "enum",
      "members": {
        "AZURESUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureSubscription"
          }
        },
        "AZURERESERVATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureReservation"
          }
        },
        "DEPARTMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Department"
          }
        },
        "SAVINGSPLAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SavingsPlan"
          }
        },
        "SAAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAAS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of product that is transferred."
      }
    },
    "com.azure.billing#RecipientTransfersDecline": {
      "type": "operation",
      "input": {
        "target": "com.azure.billing#RecipientTransfersDeclineRequest"
      },
      "output": {
        "target": "com.azure.billing#RecipientTransfersDeclineResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/providers/Microsoft.Billing/transfers/{transferName}/decline",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "Declines a transfer request.\n\nDeclines a transfer request.",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.billing#RecipientTransfersDeclineResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.billing#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.billing#RecipientTransferProperties",
          "traits": {
            "smithy.api#documentation": "Details of the transfer."
          }
        },
        "tags": {
          "target": "com.azure.billing#RecipientTransfersDeclineResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Dictionary of metadata associated with the resource. It may not be populated for all resource types. Maximum key/value length supported of 256 characters. Keys/value should not empty value nor null. Keys can not contain < > % & \\ ? /"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.billing#RecipientTransfersDeclineResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Dictionary of metadata associated with the resource. It may not be populated for all resource types. Maximum key/value length supported of 256 characters. Keys/value should not empty value nor null. Keys can not contain < > % & \\ ? /"
      }
    },
    "com.azure.billing#RecipientTransferProperties": {
      "type": "structure",
      "members": {
        "expirationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the transfer request expires."
          }
        },
        "allowedProductType": {
          "target": "com.azure.billing#RecipientTransferPropertiesAllowedProductTypeList",
          "traits": {
            "smithy.api#documentation": "Type of subscriptions that can be transferred."
          }
        },
        "transferStatus": {
          "target": "com.azure.billing#TransferStatus",
          "traits": {
            "smithy.api#documentation": "Overall transfer status."
          }
        },
        "recipientEmailId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email ID of the user to whom the transfer request was sent."
          }
        },
        "initiatorEmailId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email ID of the user who sent the transfer request."
          }
        },
        "resellerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional MPN ID of the reseller for transfer requests that are sent from a Microsoft Partner Agreement billing account."
          }
        },
        "resellerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional name of the reseller for transfer requests that are sent from Microsoft Partner Agreement billing account."
          }
        },
        "initiatorCustomerType": {
          "target": "com.azure.billing#InitiatorCustomerType",
          "traits": {
            "smithy.api#documentation": "The type of customer who sent the transfer request."
          }
        },
        "canceledBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email ID of the user who canceled the transfer request."
          }
        },
        "detailedTransferStatus": {
          "target": "com.azure.billing#RecipientTransferPropertiesDetailedTransferStatusList",
          "traits": {
            "smithy.api#documentation": "Detailed transfer status."
          }
        },
        "customerTenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The customer tenant id."
          }
        },
        "supportedAccounts": {
          "target": "com.azure.billing#RecipientTransferPropertiesSupportedAccountsList",
          "traits": {
            "smithy.api#documentation": "List of supported account types."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Transfer Details."
      }
    },
    "com.azure.billing#RecipientTransferPropertiesSupportedAccountsList": {
      "type": "list",
      "member": {
        "target": "com.azure.billing#SupportedAccountType"
      },
      "traits": {
        "smithy.api#documentation": "List of supported account types."
      }
    },
    "com.azure.billing#SupportedAccountType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "PARTNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Partner"
          }
        },
        "INDIVIDUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Individual"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enterprise"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The supported account types."
      }
    },
    "com.azure.billing#RecipientTransferPropertiesDetailedTransferStatusList": {
      "type": "list",
      "member": {
        "target": "com.azure.billing#DetailedTransferStatus"
      },
      "traits": {
        "smithy.api#documentation": "Detailed transfer status."
      }
    },
    "com.azure.billing#DetailedTransferStatus": {
      "type": "structure",
      "members": {
        "productType": {
          "target": "com.azure.billing#ProductType",
          "traits": {
            "smithy.api#documentation": "Type of product that is transferred."
          }
        },
        "productId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the product that is transferred."
          }
        },
        "productName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the product that is transferred."
          }
        },
        "skuDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SKU of the product that is transferred."
          }
        },
        "transferStatus": {
          "target": "com.azure.billing#ProductTransferStatus",
          "traits": {
            "smithy.api#documentation": "Transfer status."
          }
        },
        "errorDetails": {
          "target": "com.azure.billing#TransferError",
          "traits": {
            "smithy.api#documentation": "Error details for transfer execution."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detailed transfer status."
      }
    },
    "com.azure.billing#TransferError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error details for transfer execution."
      }
    },
    "com.azure.billing#ProductTransferStatus": {
      "type": "enum",
      "members": {
        "NOTSTARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotStarted"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of a transfer."
      }
    },
    "com.azure.billing#InitiatorCustomerType": {
      "type": "enum",
      "members": {
        "PARTNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Partner"
          }
        },
        "EA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EA"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of customer of the transfer initiator."
      }
    },
    "com.azure.billing#TransferStatus": {
      "type": "enum",
      "members": {
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Expired"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Completed"
          }
        },
        "COMPLETEDWITHERRORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CompletedWithErrors"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "DECLINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Declined"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of a transfer."
      }
    },
    "com.azure.billing#RecipientTransferPropertiesAllowedProductTypeList": {
      "type": "list",
      "member": {
        "target": "com.azure.billing#EligibleProductType"
      },
      "traits": {
        "smithy.api#documentation": "Type of subscriptions that can be transferred."
      }
    },
    "com.azure.billing#EligibleProductType": {
      "type": "enum",
      "members": {
        "DEVTESTAZURESUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DevTestAzureSubscription"
          }
        },
        "STANDARDAZURESUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "StandardAzureSubscription"
          }
        },
        "AZURERESERVATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureReservation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the products that can be transferred."
      }
    },
    "com.azure.billing#RecipientTransfersDeclineRequest": {
      "type": "structure",
      "members": {
        "transferName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID that uniquely identifies a transfer request."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.billing#RecipientTransfersAccept": {
      "type": "operation",
      "input": {
        "target": "com.azure.billing#RecipientTransfersAcceptRequest"
      },
      "output": {
        "target": "com.azure.billing#RecipientTransfersAcceptResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/providers/Microsoft.Billing/transfers/{transferName}/accept",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "Accepts a transfer request.\n\nAccepts a transfer request.",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.billing#RecipientTransfersAcceptResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.billing#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.billing#RecipientTransferProperties",
          "traits": {
            "smithy.api#documentation": "Details of the transfer."
          }
        },
        "tags": {
          "target": "com.azure.billing#RecipientTransfersAcceptResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Dictionary of metadata associated with the resource. It may not be populated for all resource types. Maximum key/value length supported of 256 characters. Keys/value should not empty value nor null. Keys can not contain < > % & \\ ? /"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.billing#RecipientTransfersAcceptResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Dictionary of metadata associated with the resource. It may not be populated for all resource types. Maximum key/value length supported of 256 characters. Keys/value should not empty value nor null. Keys can not contain < > % & \\ ? /"
      }
    },
    "com.azure.billing#RecipientTransfersAcceptRequest": {
      "type": "structure",
      "members": {
        "transferName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID that uniquely identifies a transfer request."
          }
        },
        "properties": {
          "target": "com.azure.billing#AcceptTransferProperties",
          "traits": {
            "smithy.api#documentation": "Request parameters to accept transfer."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.billing#RecipientTransfersGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.billing#RecipientTransfersGetRequest"
      },
      "output": {
        "target": "com.azure.billing#RecipientTransfersGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.Billing/transfers/{transferName}",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "Gets a transfer request by ID. The caller must be the recipient of the transfer request.\n\nGets a transfer request by ID. The caller must be the recipient of the transfer request.",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.billing#RecipientTransfersGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.billing#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.billing#RecipientTransferProperties",
          "traits": {
            "smithy.api#documentation": "Details of the transfer."
          }
        },
        "tags": {
          "target": "com.azure.billing#RecipientTransfersGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Dictionary of metadata associated with the resource. It may not be populated for all resource types. Maximum key/value length supported of 256 characters. Keys/value should not empty value nor null. Keys can not contain < > % & \\ ? /"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.billing#RecipientTransfersGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Dictionary of metadata associated with the resource. It may not be populated for all resource types. Maximum key/value length supported of 256 characters. Keys/value should not empty value nor null. Keys can not contain < > % & \\ ? /"
      }
    },
    "com.azure.billing#RecipientTransfersGetRequest": {
      "type": "structure",
      "members": {
        "transferName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID that uniquely identifies a transfer request."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.billing#RecipientTransfersList": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.azure.billing#RecipientTransferDetailsListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.Billing/transfers",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "Lists the transfer requests received by the caller.\n\nLists the transfer requests received by the caller.",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.billing#RecipientTransferDetailsListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.billing#RecipientTransferDetailsListResultValueList",
          "traits": {
            "smithy.api#documentation": "The RecipientTransferDetails items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Paged collection of RecipientTransferDetails items"
      }
    },
    "com.azure.billing#RecipientTransferDetailsListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.billing#RecipientTransferDetails"
      },
      "traits": {
        "smithy.api#documentation": "The RecipientTransferDetails items on this page"
      }
    },
    "com.azure.billing#RecipientTransferDetails": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.billing#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.billing#RecipientTransferProperties",
          "traits": {
            "smithy.api#documentation": "Details of the transfer."
          }
        },
        "tags": {
          "target": "com.azure.billing#RecipientTransferDetailsTagsMap",
          "traits": {
            "smithy.api#documentation": "Dictionary of metadata associated with the resource. It may not be populated for all resource types. Maximum key/value length supported of 256 characters. Keys/value should not empty value nor null. Keys can not contain < > % & \\ ? /"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of the transfer."
      }
    },
    "com.azure.billing#RecipientTransferDetailsTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Dictionary of metadata associated with the resource. It may not be populated for all resource types. Maximum key/value length supported of 256 characters. Keys/value should not empty value nor null. Keys can not contain < > % & \\ ? /"
      }
    },
    "com.azure.billing#PaymentMethodsDeleteByUser": {
      "type": "operation",
      "input": {
        "target": "com.azure.billing#PaymentMethodsDeleteByUserRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/providers/Microsoft.Billing/paymentMethods/{paymentMethodName}",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "Deletes a payment method owned by the caller.",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.billing#PaymentMethodsDeleteByUserRequest": {
[...]
