{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.cdn#AFDProfilesValidateSecret": {
      "type": "operation",
      "input": {
        "target": "com.azure.cdn#AFDProfilesValidateSecretRequest"
      },
      "output": {
        "target": "com.azure.cdn#ValidateSecretOutput"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/validateSecret",
          "code": 200,
          "apiVersion": "2025-12-01"
        },
        "smithy.api#documentation": "Validate a Secret in the profile.",
        "com.distilled.openapi#apiVersion": "2025-12-01"
      }
    },
    "com.azure.cdn#ValidateSecretOutput": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.cdn#Status",
          "traits": {
            "smithy.api#documentation": "The validation status."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed error message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output of the validated secret."
      }
    },
    "com.azure.cdn#Status": {
      "type": "enum",
      "members": {
        "VALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Valid"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        },
        "ACCESSDENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AccessDenied"
          }
        },
        "CERTIFICATEEXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CertificateExpired"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The validation status."
      }
    },
    "com.azure.cdn#AFDProfilesValidateSecretRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "profileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group."
          }
        },
        "secretType": {
          "target": "com.azure.cdn#SecretType",
          "traits": {
            "smithy.api#documentation": "The secret type.",
            "smithy.api#required": {}
          }
        },
        "secretSource": {
          "target": "com.azure.cdn#ResourceReference",
          "traits": {
            "smithy.api#documentation": "Resource reference to the Azure Key Vault secret. Expected to be in format of /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/secrets/{secretName}",
            "smithy.api#required": {}
          }
        },
        "secretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secret version, if customer is using a specific version."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cdn#ResourceReference": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reference to another resource."
      }
    },
    "com.azure.cdn#SecretType": {
      "type": "enum",
      "members": {
        "URLSIGNINGKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UrlSigningKey"
          }
        },
        "CUSTOMERCERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CustomerCertificate"
          }
        },
        "MANAGEDCERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedCertificate"
          }
        },
        "AZUREFIRSTPARTYMANAGEDCERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureFirstPartyManagedCertificate"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the secret resource."
      }
    },
    "com.azure.cdn#AFDProfilesListResourceUsage": {
      "type": "operation",
      "input": {
        "target": "com.azure.cdn#AFDProfilesListResourceUsageRequest"
      },
      "output": {
        "target": "com.azure.cdn#UsagesListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/usages",
          "code": 200,
          "apiVersion": "2025-12-01"
        },
        "smithy.api#documentation": "Checks the quota and actual usage of endpoints under the given Azure Front Door profile.",
        "com.distilled.openapi#apiVersion": "2025-12-01"
      }
    },
    "com.azure.cdn#UsagesListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.cdn#UsagesListResultValueList",
          "traits": {
            "smithy.api#documentation": "The Usage items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list usages operation response."
      }
    },
    "com.azure.cdn#UsagesListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.cdn#Usage"
      },
      "traits": {
        "smithy.api#documentation": "The Usage items on this page"
      }
    },
    "com.azure.cdn#Usage": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource identifier."
          }
        },
        "unit": {
          "target": "com.azure.cdn#UsageUnit",
          "traits": {
            "smithy.api#documentation": "An enum describing the unit of measurement.",
            "smithy.api#required": {}
          }
        },
        "currentValue": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The current value of the usage.",
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The limit of usage.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.azure.cdn#UsageName",
          "traits": {
            "smithy.api#documentation": "The name of the type of usage.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes resource usage."
      }
    },
    "com.azure.cdn#UsageName": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string describing the resource name."
          }
        },
        "localizedValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A localized string describing the resource name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The usage names."
      }
    },
    "com.azure.cdn#UsageUnit": {
      "type": "enum",
      "members": {
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Count"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An enum describing the unit of measurement."
      }
    },
    "com.azure.cdn#AFDProfilesListResourceUsageRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "profileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cdn#AFDProfilesUpgrade": {
      "type": "operation",
      "input": {
        "target": "com.azure.cdn#AFDProfilesUpgradeRequest"
      },
      "output": {
        "target": "com.azure.cdn#AFDProfilesUpgradeResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/upgrade",
          "code": 200,
          "apiVersion": "2025-12-01"
        },
        "smithy.api#documentation": "Upgrade a profile from Standard_AzureFrontDoor to Premium_AzureFrontDoor.",
        "com.distilled.openapi#apiVersion": "2025-12-01"
      }
    },
    "com.azure.cdn#AFDProfilesUpgradeResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cdn#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.cdn#AFDProfilesUpgradeResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.cdn#ProfileProperties",
          "traits": {
            "smithy.api#documentation": "The JSON object that contains the properties required to create a profile."
          }
        },
        "sku": {
          "target": "com.azure.cdn#Sku",
          "traits": {
            "smithy.api#documentation": "The pricing tier (defines Azure Front Door Standard or Premium or a CDN provider, feature list and rate) of the profile.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of the profile. Used by portal to differentiate traditional CDN profile and new AFD profile."
          }
        },
        "identity": {
          "target": "com.azure.cdn#AFDProfilesUpgradeResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cdn#AFDProfilesUpgradeResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.cdn#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.cdn#AFDProfilesUpgradeResponseIdentityUserAssignedIdentitiesMap",
          "traits": {
            "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.cdn#AFDProfilesUpgradeResponseIdentityUserAssignedIdentitiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.cdn#UserAssignedIdentity"
      },
      "traits": {
        "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
      }
    },
    "com.azure.cdn#UserAssignedIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of the assigned identity."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client ID of the assigned identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User assigned identity properties"
      }
    },
    "com.azure.cdn#ManagedServiceIdentityType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        },
        "SYSTEMASSIGNED_USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned,UserAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of managed service identity (where both SystemAssigned and UserAssigned types are allowed)."
      }
    },
    "com.azure.cdn#Sku": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.azure.cdn#SkuName",
          "traits": {
            "smithy.api#documentation": "Name of the pricing tier."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Standard_Verizon = The SKU name for a Standard Verizon CDN profile.\nPremium_Verizon = The SKU name for a Premium Verizon CDN profile.\nCustom_Verizon = The SKU name for a Custom Verizon CDN profile.\nStandard_Akamai = The SKU name for an Akamai CDN profile.\nStandard_ChinaCdn = The SKU name for a China CDN profile for VOD, Web and download scenarios using GB based billing model.\nStandard_Microsoft = The SKU name for a Standard Microsoft CDN profile.\nStandard_AzureFrontDoor =  The SKU name for an Azure Front Door Standard profile.\nPremium_AzureFrontDoor = The SKU name for an Azure Front Door Premium profile.\nStandard_955BandWidth_ChinaCdn = The SKU name for a China CDN profile for VOD, Web and download scenarios using 95-5 peak bandwidth billing model.\nStandard_AvgBandWidth_ChinaCdn = The SKU name for a China CDN profile for VOD, Web and download scenarios using monthly average peak bandwidth billing model.\nStandardPlus_ChinaCdn = The SKU name for a China CDN profile for live-streaming using GB based billing model.\nStandardPlus_955BandWidth_ChinaCdn = The SKU name for a China CDN live-streaming profile using 95-5 peak bandwidth billing model.\nStandardPlus_AvgBandWidth_ChinaCdn = The SKU name for a China CDN live-streaming profile using monthly average peak bandwidth billing model."
      }
    },
    "com.azure.cdn#SkuName": {
      "type": "enum",
      "members": {
        "STANDARD_VERIZON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_Verizon"
          }
        },
        "PREMIUM_VERIZON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Premium_Verizon"
          }
        },
        "CUSTOM_VERIZON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Custom_Verizon"
          }
        },
        "STANDARD_AKAMAI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_Akamai"
          }
        },
        "STANDARD_CHINACDN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_ChinaCdn"
          }
        },
        "STANDARD_MICROSOFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_Microsoft"
          }
        },
        "STANDARD_AZUREFRONTDOOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_AzureFrontDoor"
          }
        },
        "PREMIUM_AZUREFRONTDOOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Premium_AzureFrontDoor"
          }
        },
        "STANDARD_955BANDWIDTH_CHINACDN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_955BandWidth_ChinaCdn"
          }
        },
        "STANDARD_AVGBANDWIDTH_CHINACDN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_AvgBandWidth_ChinaCdn"
          }
        },
        "STANDARDPLUS_CHINACDN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "StandardPlus_ChinaCdn"
          }
        },
        "STANDARDPLUS_955BANDWIDTH_CHINACDN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "StandardPlus_955BandWidth_ChinaCdn"
          }
        },
        "STANDARDPLUS_AVGBANDWIDTH_CHINACDN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "StandardPlus_AvgBandWidth_ChinaCdn"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Name of the pricing tier."
      }
    },
    "com.azure.cdn#ProfileProperties": {
      "type": "structure",
      "members": {
        "resourceState": {
          "target": "com.azure.cdn#ProfileResourceState",
          "traits": {
            "smithy.api#documentation": "Resource status of the profile."
          }
        },
        "provisioningState": {
          "target": "com.azure.cdn#ProfileProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning status of the profile."
          }
        },
        "extendedProperties": {
          "target": "com.azure.cdn#ProfilePropertiesExtendedPropertiesMap",
          "traits": {
            "smithy.api#documentation": "Key-Value pair representing additional properties for profiles."
          }
        },
        "frontDoorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Id of the frontdoor."
          }
        },
        "originResponseTimeoutSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Send and receive timeout on forwarding request to the origin. When timeout is reached, the request fails and returns."
          }
        },
        "logScrubbing": {
          "target": "com.azure.cdn#ProfileLogScrubbing",
          "traits": {
            "smithy.api#documentation": "Defines rules that scrub sensitive fields in the Azure Front Door profile logs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The JSON object that contains the properties required to create a profile."
      }
    },
    "com.azure.cdn#ProfileLogScrubbing": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.azure.cdn#ProfileScrubbingState",
          "traits": {
            "smithy.api#documentation": "State of the log scrubbing config. Default value is Enabled."
          }
        },
        "scrubbingRules": {
          "target": "com.azure.cdn#ProfileLogScrubbingScrubbingRulesList",
          "traits": {
            "smithy.api#documentation": "List of log scrubbing rules applied to the Azure Front Door profile logs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines rules that scrub sensitive fields in the Azure Front Door profile logs."
      }
    },
    "com.azure.cdn#ProfileLogScrubbingScrubbingRulesList": {
      "type": "list",
      "member": {
        "target": "com.azure.cdn#ProfileScrubbingRules"
      },
      "traits": {
        "smithy.api#documentation": "List of log scrubbing rules applied to the Azure Front Door profile logs."
      }
    },
    "com.azure.cdn#ProfileScrubbingRules": {
      "type": "structure",
      "members": {
        "matchVariable": {
          "target": "com.azure.cdn#ScrubbingRuleEntryMatchVariable",
          "traits": {
            "smithy.api#documentation": "The variable to be scrubbed from the logs.",
            "smithy.api#required": {}
          }
        },
        "selectorMatchOperator": {
          "target": "com.azure.cdn#ScrubbingRuleEntryMatchOperator",
          "traits": {
            "smithy.api#documentation": "When matchVariable is a collection, operate on the selector to specify which elements in the collection this rule applies to.",
            "smithy.api#required": {}
          }
        },
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When matchVariable is a collection, operator used to specify which elements in the collection this rule applies to."
          }
        },
        "state": {
          "target": "com.azure.cdn#ScrubbingRuleEntryState",
          "traits": {
            "smithy.api#documentation": "Defines the state of a log scrubbing rule. Default value is enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the contents of the log scrubbing rules."
      }
    },
    "com.azure.cdn#ScrubbingRuleEntryState": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the state of a log scrubbing rule. Default value is enabled."
      }
    },
    "com.azure.cdn#ScrubbingRuleEntryMatchOperator": {
      "type": "enum",
      "members": {
        "EQUALSANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EqualsAny"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When matchVariable is a collection, operate on the selector to specify which elements in the collection this rule applies to."
      }
    },
    "com.azure.cdn#ScrubbingRuleEntryMatchVariable": {
      "type": "enum",
      "members": {
        "REQUESTIPADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RequestIPAddress"
          }
        },
        "REQUESTURI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RequestUri"
          }
        },
        "QUERYSTRINGARGNAMES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QueryStringArgNames"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The variable to be scrubbed from the logs."
      }
    },
    "com.azure.cdn#ProfileScrubbingState": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State of the log scrubbing config. Default value is Enabled."
      }
    },
    "com.azure.cdn#ProfilePropertiesExtendedPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Key-Value pair representing additional properties for profiles."
      }
    },
    "com.azure.cdn#ProfileProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provisioning status of the profile."
      }
    },
    "com.azure.cdn#ProfileResourceState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        },
        "MIGRATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Migrating"
          }
        },
        "MIGRATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Migrated"
          }
        },
        "PENDINGMIGRATIONCOMMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingMigrationCommit"
          }
        },
        "COMMITTINGMIGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CommittingMigration"
          }
        },
        "ABORTINGMIGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AbortingMigration"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource status of the profile."
      }
    },
    "com.azure.cdn#AFDProfilesUpgradeResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.cdn#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.cdn#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.cdn#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.cdn#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.cdn#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.cdn#AFDProfilesUpgradeRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "profileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group."
          }
        },
        "wafMappingList": {
          "target": "com.azure.cdn#AFDProfilesUpgradeRequestWafMappingListList",
          "traits": {
            "smithy.api#documentation": "Web Application Firewall (WAF) and security policy mapping for the profile upgrade",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cdn#AFDProfilesUpgradeRequestWafMappingListList": {
      "type": "list",
      "member": {
        "target": "com.azure.cdn#ProfileChangeSkuWafMapping"
      },
      "traits": {
        "smithy.api#documentation": "Web Application Firewall (WAF) and security policy mapping for the profile upgrade"
      }
    },
    "com.azure.cdn#ProfileChangeSkuWafMapping": {
      "type": "structure",
      "members": {
        "securityPolicyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The security policy name.",
            "smithy.api#required": {}
          }
        },
        "changeToWafPolicy": {
          "target": "com.azure.cdn#ResourceReference",
          "traits": {
            "smithy.api#documentation": "The new waf resource for the security policy to use.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parameters required for profile upgrade."
      }
    },
    "com.azure.cdn#SecurityPoliciesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.cdn#SecurityPoliciesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/securityPolicies/{securityPolicyName}",
          "code": 200,
          "apiVersion": "2025-12-01"
        },
        "smithy.api#documentation": "Deletes an existing security policy within profile.",
        "com.distilled.openapi#apiVersion": "2025-12-01"
      }
    },
    "com.azure.cdn#SecurityPoliciesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "profileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group."
          }
        },
        "securityPolicyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the security policy under the profile."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cdn#SecurityPoliciesPatch": {
      "type": "operation",
      "input": {
        "target": "com.azure.cdn#SecurityPoliciesPatchRequest"
      },
      "output": {
        "target": "com.azure.cdn#SecurityPoliciesPatchResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/securityPolicies/{securityPolicyName}",
          "code": 200,
          "apiVersion": "2025-12-01"
        },
        "smithy.api#documentation": "Updates an existing security policy within a profile.",
        "com.distilled.openapi#apiVersion": "2025-12-01"
      }
    },
    "com.azure.cdn#SecurityPoliciesPatchResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cdn#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cdn#SecurityPolicyProperties",
          "traits": {
            "smithy.api#documentation": "The json object that contains properties required to create a security policy"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cdn#SecurityPolicyProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.cdn#AfdProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning status"
          }
        },
        "deploymentStatus": {
          "target": "com.azure.cdn#DeploymentStatus"
        },
        "profileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the profile which holds the security policy."
          }
        },
        "parameters": {
          "target": "com.azure.cdn#SecurityPolicyPropertiesParameters",
          "traits": {
            "smithy.api#documentation": "object which contains security policy parameters"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The json object that contains properties required to create a security policy"
      }
    },
    "com.azure.cdn#SecurityPolicyPropertiesParameters": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.cdn#SecurityPolicyType",
          "traits": {
            "smithy.api#documentation": "The type of the Security policy to create.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The json object containing security policy parameters"
      }
    },
    "com.azure.cdn#SecurityPolicyType": {
      "type": "enum",
      "members": {
        "WEBAPPLICATIONFIREWALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WebApplicationFirewall"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the Security policy to create."
      }
    },
    "com.azure.cdn#DeploymentStatus": {
      "type": "enum",
      "members": {
        "NOTSTARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotStarted"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {}
    },
    "com.azure.cdn#AfdProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provisioning status"
      }
    },
    "com.azure.cdn#SecurityPoliciesPatchRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "profileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group."
          }
        },
        "securityPolicyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the security policy under the profile."
          }
        },
        "properties": {
          "target": "com.azure.cdn#SecurityPolicyUpdateProperties",
          "traits": {
            "smithy.api#documentation": "The json object that contains properties required to update a security policy"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cdn#SecurityPolicyUpdateProperties": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.azure.cdn#SecurityPolicyPropertiesParameters",
          "traits": {
            "smithy.api#documentation": "object which contains security policy parameters"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The json object that contains properties required to update a security policy"
      }
    },
    "com.azure.cdn#SecurityPoliciesCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.cdn#SecurityPoliciesCreateRequest"
      },
      "output": {
        "target": "com.azure.cdn#SecurityPoliciesCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/securityPolicies/{securityPolicyName}",
          "code": 200,
          "apiVersion": "2025-12-01"
        },
        "smithy.api#documentation": "Creates a new security policy within the specified profile.",
        "com.distilled.openapi#apiVersion": "2025-12-01"
      }
    },
    "com.azure.cdn#SecurityPoliciesCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cdn#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cdn#SecurityPolicyProperties",
          "traits": {
            "smithy.api#documentation": "The json object that contains properties required to create a security policy"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cdn#SecurityPoliciesCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "profileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group."
          }
        },
        "securityPolicyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the security policy under the profile."
          }
        },
        "properties": {
          "target": "com.azure.cdn#SecurityPolicyPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The json object that contains properties required to create a security policy"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cdn#SecurityPolicyPropertiesInput": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.azure.cdn#SecurityPolicyPropertiesParameters",
          "traits": {
            "smithy.api#documentation": "object which contains security policy parameters"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The json object that contains properties required to create a security policy"
      }
    },
    "com.azure.cdn#SecurityPoliciesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.cdn#SecurityPoliciesGetRequest"
      },
      "output": {
        "target": "com.azure.cdn#SecurityPoliciesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/securityPolicies/{securityPolicyName}",
          "code": 200,
          "apiVersion": "2025-12-01"
        },
        "smithy.api#documentation": "Gets an existing security policy within a profile.",
        "com.distilled.openapi#apiVersion": "2025-12-01"
      }
    },
    "com.azure.cdn#SecurityPoliciesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cdn#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cdn#SecurityPolicyProperties",
          "traits": {
            "smithy.api#documentation": "The json object that contains properties required to create a security policy"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cdn#SecurityPoliciesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "profileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group."
          }
        },
        "securityPolicyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the security policy under the profile."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cdn#SecurityPoliciesListByProfile": {
      "type": "operation",
      "input": {
        "target": "com.azure.cdn#SecurityPoliciesListByProfileRequest"
      },
      "output": {
        "target": "com.azure.cdn#SecurityPolicyListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/securityPolicies",
          "code": 200,
          "apiVersion": "2025-12-01"
        },
        "smithy.api#documentation": "Lists security policies associated with the profile",
        "com.distilled.openapi#apiVersion": "2025-12-01"
      }
    },
    "com.azure.cdn#SecurityPolicyListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.cdn#SecurityPolicyListResultValueList",
          "traits": {
            "smithy.api#documentation": "The SecurityPolicy items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a SecurityPolicy list operation."
      }
    },
    "com.azure.cdn#SecurityPolicyListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.cdn#SecurityPolicy"
      },
      "traits": {
        "smithy.api#documentation": "The SecurityPolicy items on this page"
      }
    },
    "com.azure.cdn#SecurityPolicy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cdn#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cdn#SecurityPolicyProperties",
          "traits": {
            "smithy.api#documentation": "The json object that contains properties required to create a security policy"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SecurityPolicy association for AzureFrontDoor profile"
      }
    },
    "com.azure.cdn#SecurityPoliciesListByProfileRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "profileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cdn#SecretsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.cdn#SecretsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/secrets/{secretName}",
          "code": 200,
          "apiVersion": "2025-12-01"
        },
        "smithy.api#documentation": "Deletes an existing Secret within profile.",
        "com.distilled.openapi#apiVersion": "2025-12-01"
      }
    },
    "com.azure.cdn#SecretsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "profileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group."
          }
        },
        "secretName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Secret under the profile."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cdn#SecretsCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.cdn#SecretsCreateRequest"
      },
      "output": {
        "target": "com.azure.cdn#SecretsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/secrets/{secretName}",
          "code": 200,
          "apiVersion": "2025-12-01"
        },
        "smithy.api#documentation": "Creates a new Secret within the specified profile.",
        "com.distilled.openapi#apiVersion": "2025-12-01"
      }
    },
    "com.azure.cdn#SecretsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cdn#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cdn#SecretProperties",
          "traits": {
            "smithy.api#documentation": "The JSON object that contains the properties of the Secret to create."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cdn#SecretProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.cdn#AfdProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning status"
          }
        },
        "deploymentStatus": {
          "target": "com.azure.cdn#DeploymentStatus"
        },
        "profileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the profile which holds the secret."
          }
        },
        "parameters": {
          "target": "com.azure.cdn#SecretParameters",
          "traits": {
            "smithy.api#documentation": "object which contains secret parameters"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The JSON object that contains the properties of the Secret to create."
      }
    },
    "com.azure.cdn#SecretParameters": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.cdn#SecretType",
          "traits": {
            "smithy.api#documentation": "The type of the secret resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The json object containing secret parameters"
      }
    },
    "com.azure.cdn#SecretsCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "profileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group."
          }
        },
        "secretName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Secret under the profile."
          }
        },
        "properties": {
          "target": "com.azure.cdn#SecretPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The JSON object that contains the properties of the Secret to create."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cdn#SecretPropertiesInput": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.azure.cdn#SecretParameters",
          "traits": {
            "smithy.api#documentation": "object which contains secret parameters"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The JSON object that contains the properties of the Secret to create."
      }
    },
    "com.azure.cdn#SecretsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.cdn#SecretsGetRequest"
      },
      "output": {
        "target": "com.azure.cdn#SecretsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/secrets/{secretName}",
          "code": 200,
          "apiVersion": "2025-12-01"
        },
        "smithy.api#documentation": "Gets an existing Secret within a profile.",
        "com.distilled.openapi#apiVersion": "2025-12-01"
      }
    },
    "com.azure.cdn#SecretsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cdn#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cdn#SecretProperties",
          "traits": {
            "smithy.api#documentation": "The JSON object that contains the properties of the Secret to create."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cdn#SecretsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "profileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group."
          }
        },
        "secretName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Secret under the profile."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cdn#SecretsListByProfile": {
      "type": "operation",
      "input": {
        "target": "com.azure.cdn#SecretsListByProfileRequest"
      },
      "output": {
        "target": "com.azure.cdn#SecretListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/secrets",
          "code": 200,
          "apiVersion": "2025-12-01"
        },
        "smithy.api#documentation": "Lists existing AzureFrontDoor secrets.",
        "com.distilled.openapi#apiVersion": "2025-12-01"
      }
    },
    "com.azure.cdn#SecretListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.cdn#SecretListResultValueList",
          "traits": {
            "smithy.api#documentation": "The Secret items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a Secret list operation."
      }
    },
    "com.azure.cdn#SecretListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.cdn#Secret"
      },
      "traits": {
        "smithy.api#documentation": "The Secret items on this page"
      }
    },
    "com.azure.cdn#Secret": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cdn#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cdn#SecretProperties",
          "traits": {
            "smithy.api#documentation": "The JSON object that contains the properties of the Secret to create."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Friendly Secret name mapping to the any Secret or secret related information."
      }
    },
    "com.azure.cdn#SecretsListByProfileRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "profileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cdn#RuleSetsListResourceUsage": {
      "type": "operation",
      "input": {
        "target": "com.azure.cdn#RuleSetsListResourceUsageRequest"
      },
      "output": {
        "target": "com.azure.cdn#UsagesListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/ruleSets/{ruleSetName}/usages",
          "code": 200,
          "apiVersion": "2025-12-01"
        },
        "smithy.api#documentation": "Checks the quota and actual usage of endpoints under the given Azure Front Door profile.",
        "com.distilled.openapi#apiVersion": "2025-12-01"
      }
    },
    "com.azure.cdn#RuleSetsListResourceUsageRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "profileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group."
          }
        },
        "ruleSetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the rule set under the profile which is unique globally."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cdn#RulesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.cdn#RulesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/ruleSets/{ruleSetName}/rules/{ruleName}",
          "code": 200,
          "apiVersion": "2025-12-01"
        },
        "smithy.api#documentation": "Deletes an existing delivery rule within a rule set.",
        "com.distilled.openapi#apiVersion": "2025-12-01"
      }
    },
    "com.azure.cdn#RulesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "profileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group."
          }
        },
        "ruleSetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the rule set under the profile which is unique globally."
          }
        },
        "ruleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the delivery rule which is unique within the endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cdn#RulesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.cdn#RulesUpdateRequest"
      },
      "output": {
        "target": "com.azure.cdn#RulesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/ruleSets/{ruleSetName}/rules/{ruleName}",
          "code": 200,
          "apiVersion": "2025-12-01"
        },
        "smithy.api#documentation": "Updates an existing delivery rule within a rule set.",
        "com.distilled.openapi#apiVersion": "2025-12-01"
      }
    },
    "com.azure.cdn#RulesUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cdn#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cdn#RuleProperties",
          "traits": {
            "smithy.api#documentation": "The JSON object that contains the properties of the Rules to create."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cdn#RuleProperties": {
      "type": "structure",
      "members": {
        "ruleSetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the rule set containing the rule."
          }
        },
        "order": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The order in which the rules are applied for the endpoint. Possible values {0,1,2,3,………}. A rule with a lesser order will be applied before a rule with a greater order. Rule with order 0 is a special rule. It does not require any condition and actions listed in it will always be applied."
          }
        },
        "conditions": {
          "target": "com.azure.cdn#RulePropertiesConditionsList",
          "traits": {
            "smithy.api#documentation": "A list of conditions that must be matched for the actions to be executed"
          }
        },
        "actions": {
          "target": "com.azure.cdn#RulePropertiesActionsList",
          "traits": {
            "smithy.api#documentation": "A list of actions that are executed when all the conditions of a rule are satisfied."
          }
        },
        "matchProcessingBehavior": {
          "target": "com.azure.cdn#RulePropertiesMatchProcessingBehavior",
          "traits": {
            "smithy.api#documentation": "If this rule is a match should the rules engine continue running the remaining rules or stop. If not present, defaults to Continue."
          }
        },
        "provisioningState": {
          "target": "com.azure.cdn#AfdProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning status"
          }
        },
        "deploymentStatus": {
          "target": "com.azure.cdn#DeploymentStatus"
        }
      },
      "traits": {
        "smithy.api#documentation": "The JSON object that contains the properties of the Rules to create."
      }
    },
    "com.azure.cdn#RulePropertiesMatchProcessingBehavior": {
      "type": "enum",
      "members": {
        "CONTINUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Continue"
          }
        },
        "STOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Stop"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If this rule is a match should the rules engine continue running the remaining rules or stop. If not present, defaults to Continue."
      }
    },
    "com.azure.cdn#RulePropertiesActionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.cdn#DeliveryRuleAction"
      },
      "traits": {
        "smithy.api#documentation": "A list of actions that are executed when all the conditions of a rule are satisfied."
      }
    },
    "com.azure.cdn#DeliveryRuleAction": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.azure.cdn#DeliveryRuleActionName",
          "traits": {
            "smithy.api#documentation": "The name of the action for the delivery rule.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An action for the delivery rule."
      }
    },
    "com.azure.cdn#DeliveryRuleActionName": {
      "type": "enum",
      "members": {
        "CACHEEXPIRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CacheExpiration"
          }
        },
        "CACHEKEYQUERYSTRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CacheKeyQueryString"
          }
        },
        "MODIFYREQUESTHEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ModifyRequestHeader"
          }
        },
        "MODIFYRESPONSEHEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ModifyResponseHeader"
          }
        },
        "URLREDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UrlRedirect"
          }
        },
        "URLREWRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UrlRewrite"
          }
        },
        "URLSIGNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UrlSigning"
          }
        },
        "ORIGINGROUPOVERRIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OriginGroupOverride"
          }
        },
        "ROUTECONFIGURATIONOVERRIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RouteConfigurationOverride"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The name of the action for the delivery rule."
      }
    },
    "com.azure.cdn#RulePropertiesConditionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.cdn#DeliveryRuleCondition"
      },
      "traits": {
        "smithy.api#documentation": "A list of conditions that must be matched for the actions to be executed"
      }
    },
    "com.azure.cdn#DeliveryRuleCondition": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.azure.cdn#MatchVariable",
          "traits": {
            "smithy.api#documentation": "The name of the condition for the delivery rule.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A condition for the delivery rule."
      }
    },
    "com.azure.cdn#MatchVariable": {
      "type": "enum",
      "members": {
        "REMOTEADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RemoteAddress"
          }
        },
        "REQUESTMETHOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RequestMethod"
          }
        },
        "QUERYSTRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QueryString"
          }
        },
        "POSTARGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PostArgs"
          }
        },
        "REQUESTURI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RequestUri"
          }
        },
        "REQUESTHEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RequestHeader"
          }
        },
        "REQUESTBODY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RequestBody"
          }
        },
        "REQUESTSCHEME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RequestScheme"
          }
        },
        "URLPATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UrlPath"
          }
        },
        "URLFILEEXTENSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UrlFileExtension"
          }
        },
        "URLFILENAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UrlFileName"
          }
        },
        "HTTPVERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HttpVersion"
          }
        },
        "COOKIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cookies"
          }
        },
        "ISDEVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IsDevice"
          }
        },
        "SOCKETADDR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SocketAddr"
          }
        },
        "CLIENTPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ClientPort"
          }
        },
        "SERVERPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ServerPort"
          }
        },
        "HOSTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HostName"
          }
        },
        "SSLPROTOCOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SslProtocol"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request variable to compare with."
      }
    },
    "com.azure.cdn#RulesUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "profileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group."
          }
        },
        "ruleSetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the rule set under the profile which is unique globally."
          }
        },
        "ruleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the delivery rule which is unique within the endpoint."
          }
        },
        "properties": {
          "target": "com.azure.cdn#RuleUpdatePropertiesParametersInput",
          "traits": {
            "smithy.api#documentation": "The JSON object that contains the properties of the rule to update."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cdn#RuleUpdatePropertiesParametersInput": {
      "type": "structure",
      "members": {
        "order": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The order in which the rules are applied for the endpoint. Possible values {0,1,2,3,………}. A rule with a lesser order will be applied before a rule with a greater order. Rule with order 0 is a special rule. It does not require any condition and actions listed in it will always be applied."
          }
        },
        "conditions": {
          "target": "com.azure.cdn#RuleUpdatePropertiesParametersInputConditionsList",
          "traits": {
            "smithy.api#documentation": "A list of conditions that must be matched for the actions to be executed"
          }
        },
        "actions": {
          "target": "com.azure.cdn#RuleUpdatePropertiesParametersInputActionsList",
          "traits": {
            "smithy.api#documentation": "A list of actions that are executed when all the conditions of a rule are satisfied."
          }
        },
        "matchProcessingBehavior": {
          "target": "com.azure.cdn#RuleUpdatePropertiesParametersInputMatchProcessingBehavior",
          "traits": {
            "smithy.api#documentation": "If this rule is a match should the rules engine continue running the remaining rules or stop. If not present, defaults to Continue."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The JSON object that contains the properties of the rule to update."
      }
    },
    "com.azure.cdn#RuleUpdatePropertiesParametersInputMatchProcessingBehavior": {
      "type": "enum",
      "members": {
        "CONTINUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Continue"
          }
        },
        "STOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Stop"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If this rule is a match should the rules engine continue running the remaining rules or stop. If not present, defaults to Continue."
      }
    },
    "com.azure.cdn#RuleUpdatePropertiesParametersInputActionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.cdn#DeliveryRuleAction"
      },
      "traits": {
        "smithy.api#documentation": "A list of actions that are executed when all the conditions of a rule are satisfied."
      }
    },
    "com.azure.cdn#RuleUpdatePropertiesParametersInputConditionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.cdn#DeliveryRuleCondition"
      },
      "traits": {
        "smithy.api#documentation": "A list of conditions that must be matched for the actions to be executed"
      }
    },
    "com.azure.cdn#RulesCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.cdn#RulesCreateRequest"
      },
      "output": {
        "target": "com.azure.cdn#RulesCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/ruleSets/{ruleSetName}/rules/{ruleName}",
          "code": 200,
          "apiVersion": "2025-12-01"
        },
        "smithy.api#documentation": "Creates a new delivery rule within the specified rule set.",
        "com.distilled.openapi#apiVersion": "2025-12-01"
      }
    },
    "com.azure.cdn#RulesCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cdn#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cdn#RuleProperties",
          "traits": {
            "smithy.api#documentation": "The JSON object that contains the properties of the Rules to create."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cdn#RulesCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "profileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Azure Front Door Standard or Azure Front Door Premium or CDN profile which is unique within the resource group."
          }
        },
        "ruleSetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the rule set under the profile which is unique globally."
          }
        },
        "ruleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the delivery rule which is unique within the endpoint."
          }
        },
        "properties": {
          "target": "com.azure.cdn#RulePropertiesInput",
          "traits": {
            "smithy.api#documentation": "The JSON object that contains the properties of the Rules to create."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cdn#RulePropertiesInput": {
      "type": "structure",
      "members": {
        "order": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The order in which the rules are applied for the endpoint. Possible values {0,1,2,3,………}. A rule with a lesser order will be applied before a rule with a greater order. Rule with order 0 is a special rule. It does not require any condition and actions listed in it will always be applied."
          }
        },
        "conditions": {
          "target": "com.azure.cdn#RulePropertiesInputConditionsList",
          "traits": {
            "smithy.api#documentation": "A list of conditions that must be matched for the actions to be executed"
          }
        },
        "actions": {
          "target": "com.azure.cdn#RulePropertiesInputActionsList",
          "traits": {
            "smithy.api#documentation": "A list of actions that are executed when all the conditions of a rule are satisfied."
          }
        },
        "matchProcessingBehavior": {
          "target": "com.azure.cdn#RulePropertiesInputMatchProcessingBehavior",
          "traits": {
[...]
