{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.cognitiveservices#CommitmentPlansDeleteAssociation": {
      "type": "operation",
      "input": {
        "target": "com.azure.cognitiveservices#CommitmentPlansDeleteAssociationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/commitmentPlans/{commitmentPlanName}/accountAssociations/{commitmentPlanAssociationName}",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Deletes the association of the Cognitive Services commitment plan.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.cognitiveservices#CommitmentPlansDeleteAssociationRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "commitmentPlanName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the commitmentPlan associated with the Cognitive Services Account"
          }
        },
        "commitmentPlanAssociationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the commitment plan association with the Cognitive Services Account"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cognitiveservices#CommitmentPlansCreateOrUpdateAssociation": {
      "type": "operation",
      "input": {
        "target": "com.azure.cognitiveservices#CommitmentPlansCreateOrUpdateAssociationRequest"
      },
      "output": {
        "target": "com.azure.cognitiveservices#CommitmentPlansCreateOrUpdateAssociationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/commitmentPlans/{commitmentPlanName}/accountAssociations/{commitmentPlanAssociationName}",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Create or update the association of the Cognitive Services commitment plan.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.cognitiveservices#CommitmentPlansCreateOrUpdateAssociationResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cognitiveservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cognitiveservices#CommitmentPlanAccountAssociationProperties",
          "traits": {
            "smithy.api#documentation": "Properties of Cognitive Services account commitment plan association."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Etag."
          }
        },
        "tags": {
          "target": "com.azure.cognitiveservices#CommitmentPlansCreateOrUpdateAssociationResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cognitiveservices#CommitmentPlansCreateOrUpdateAssociationResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.cognitiveservices#CommitmentPlanAccountAssociationProperties": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Azure resource id of the account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The commitment plan account association properties."
      }
    },
    "com.azure.cognitiveservices#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.cognitiveservices#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.cognitiveservices#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.cognitiveservices#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.cognitiveservices#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.cognitiveservices#CommitmentPlansCreateOrUpdateAssociationRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "commitmentPlanName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the commitmentPlan associated with the Cognitive Services Account"
          }
        },
        "commitmentPlanAssociationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the commitment plan association with the Cognitive Services Account"
          }
        },
        "properties": {
          "target": "com.azure.cognitiveservices#CommitmentPlanAccountAssociationProperties",
          "traits": {
            "smithy.api#documentation": "Properties of Cognitive Services account commitment plan association."
          }
        },
        "tags": {
          "target": "com.azure.cognitiveservices#CommitmentPlansCreateOrUpdateAssociationRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cognitiveservices#CommitmentPlansCreateOrUpdateAssociationRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.cognitiveservices#CommitmentPlansGetAssociation": {
      "type": "operation",
      "input": {
        "target": "com.azure.cognitiveservices#CommitmentPlansGetAssociationRequest"
      },
      "output": {
        "target": "com.azure.cognitiveservices#CommitmentPlansGetAssociationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/commitmentPlans/{commitmentPlanName}/accountAssociations/{commitmentPlanAssociationName}",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Gets the association of the Cognitive Services commitment plan.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.cognitiveservices#CommitmentPlansGetAssociationResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cognitiveservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cognitiveservices#CommitmentPlanAccountAssociationProperties",
          "traits": {
            "smithy.api#documentation": "Properties of Cognitive Services account commitment plan association."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Etag."
          }
        },
        "tags": {
          "target": "com.azure.cognitiveservices#CommitmentPlansGetAssociationResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cognitiveservices#CommitmentPlansGetAssociationResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.cognitiveservices#CommitmentPlansGetAssociationRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "commitmentPlanName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the commitmentPlan associated with the Cognitive Services Account"
          }
        },
        "commitmentPlanAssociationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the commitment plan association with the Cognitive Services Account"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cognitiveservices#CommitmentPlansListAssociations": {
      "type": "operation",
      "input": {
        "target": "com.azure.cognitiveservices#CommitmentPlansListAssociationsRequest"
      },
      "output": {
        "target": "com.azure.cognitiveservices#CommitmentPlanAccountAssociationListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/commitmentPlans/{commitmentPlanName}/accountAssociations",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Gets the associations of the Cognitive Services commitment plan.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.cognitiveservices#CommitmentPlanAccountAssociationListResult": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link used to get the next page of Commitment Plan Account Association."
          }
        },
        "value": {
          "target": "com.azure.cognitiveservices#CommitmentPlanAccountAssociationListResultValueList",
          "traits": {
            "smithy.api#documentation": "Gets the list of Cognitive Services Commitment Plan Account Association and their properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of cognitive services Commitment Plan Account Association operation response."
      }
    },
    "com.azure.cognitiveservices#CommitmentPlanAccountAssociationListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.cognitiveservices#CommitmentPlanAccountAssociation"
      },
      "traits": {
        "smithy.api#documentation": "Gets the list of Cognitive Services Commitment Plan Account Association and their properties."
      }
    },
    "com.azure.cognitiveservices#CommitmentPlanAccountAssociation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cognitiveservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cognitiveservices#CommitmentPlanAccountAssociationProperties",
          "traits": {
            "smithy.api#documentation": "Properties of Cognitive Services account commitment plan association."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Etag."
          }
        },
        "tags": {
          "target": "com.azure.cognitiveservices#CommitmentPlanAccountAssociationTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The commitment plan association."
      }
    },
    "com.azure.cognitiveservices#CommitmentPlanAccountAssociationTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.cognitiveservices#CommitmentPlansListAssociationsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "commitmentPlanName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the commitmentPlan associated with the Cognitive Services Account"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cognitiveservices#CommitmentPlansDeletePlan": {
      "type": "operation",
      "input": {
        "target": "com.azure.cognitiveservices#CommitmentPlansDeletePlanRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/commitmentPlans/{commitmentPlanName}",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Deletes a Cognitive Services commitment plan from the resource group.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.cognitiveservices#CommitmentPlansDeletePlanRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "commitmentPlanName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the commitmentPlan associated with the Cognitive Services Account"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cognitiveservices#CommitmentPlansUpdatePlan": {
      "type": "operation",
      "input": {
        "target": "com.azure.cognitiveservices#CommitmentPlansUpdatePlanRequest"
      },
      "output": {
        "target": "com.azure.cognitiveservices#CommitmentPlansUpdatePlanResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/commitmentPlans/{commitmentPlanName}",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Create Cognitive Services commitment plan.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.cognitiveservices#CommitmentPlansUpdatePlanResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cognitiveservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cognitiveservices#CommitmentPlanProperties",
          "traits": {
            "smithy.api#documentation": "Properties of Cognitive Services account commitment plan."
          }
        },
        "tags": {
          "target": "com.azure.cognitiveservices#CommitmentPlansUpdatePlanResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Etag."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind (type) of cognitive service account."
          }
        },
        "sku": {
          "target": "com.azure.cognitiveservices#Sku",
          "traits": {
            "smithy.api#documentation": "The resource model definition representing SKU"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cognitiveservices#Sku": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the SKU. Ex - P3. It is typically a letter+number code",
            "smithy.api#required": {}
          }
        },
        "tier": {
          "target": "com.azure.cognitiveservices#SkuTier",
          "traits": {
            "smithy.api#documentation": "This field is required to be implemented by the Resource Provider if the service has more than one tier, but is not required on a PUT."
          }
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SKU size. When the name field is the combination of tier and some other value, this would be the standalone code."
          }
        },
        "family": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the service has different generations of hardware, for the same SKU, then that can be captured here."
          }
        },
        "capacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If the SKU supports scale out/in then the capacity integer should be included. If scale out/in is not possible for the resource this may be omitted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource model definition representing SKU"
      }
    },
    "com.azure.cognitiveservices#SkuTier": {
      "type": "enum",
      "members": {
        "FREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Free"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Basic"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Premium"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enterprise"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This field is required to be implemented by the Resource Provider if the service has more than one tier, but is not required on a PUT."
      }
    },
    "com.azure.cognitiveservices#CommitmentPlansUpdatePlanResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.cognitiveservices#CommitmentPlanProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.cognitiveservices#CommitmentPlanProvisioningState",
          "traits": {
            "smithy.api#documentation": "Gets the status of the resource at the time the operation was called."
          }
        },
        "commitmentPlanGuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Commitment plan guid."
          }
        },
        "hostingModel": {
          "target": "com.azure.cognitiveservices#HostingModel",
          "traits": {
            "smithy.api#documentation": "Account hosting model."
          }
        },
        "planType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Commitment plan type."
          }
        },
        "current": {
          "target": "com.azure.cognitiveservices#CommitmentPeriod",
          "traits": {
            "smithy.api#documentation": "Cognitive Services account commitment period."
          }
        },
        "autoRenew": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "AutoRenew commitment plan."
          }
        },
        "next": {
          "target": "com.azure.cognitiveservices#CommitmentPeriod",
          "traits": {
            "smithy.api#documentation": "Cognitive Services account commitment period."
          }
        },
        "last": {
          "target": "com.azure.cognitiveservices#CommitmentPeriod",
          "traits": {
            "smithy.api#documentation": "Cognitive Services account commitment period."
          }
        },
        "provisioningIssues": {
          "target": "com.azure.cognitiveservices#CommitmentPlanPropertiesProvisioningIssuesList",
          "traits": {
            "smithy.api#documentation": "The list of ProvisioningIssue."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of Cognitive Services account commitment plan."
      }
    },
    "com.azure.cognitiveservices#CommitmentPlanPropertiesProvisioningIssuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of ProvisioningIssue."
      }
    },
    "com.azure.cognitiveservices#CommitmentPeriod": {
      "type": "structure",
      "members": {
        "tier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Commitment period commitment tier."
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Commitment period commitment count."
          }
        },
        "quota": {
          "target": "com.azure.cognitiveservices#CommitmentQuota",
          "traits": {
            "smithy.api#documentation": "Cognitive Services account commitment quota."
          }
        },
        "startDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Commitment period start date."
          }
        },
        "endDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Commitment period end date."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cognitive Services account commitment period."
      }
    },
    "com.azure.cognitiveservices#CommitmentQuota": {
      "type": "structure",
      "members": {
        "quantity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Commitment quota quantity."
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Commitment quota unit."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cognitive Services account commitment quota."
      }
    },
    "com.azure.cognitiveservices#HostingModel": {
      "type": "enum",
      "members": {
        "WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Web"
          }
        },
        "CONNECTEDCONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConnectedContainer"
          }
        },
        "DISCONNECTEDCONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DisconnectedContainer"
          }
        },
        "PROVISIONEDWEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ProvisionedWeb"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Account hosting model."
      }
    },
    "com.azure.cognitiveservices#CommitmentPlanProvisioningState": {
      "type": "enum",
      "members": {
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "MOVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Moving"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Gets the status of the resource at the time the operation was called."
      }
    },
    "com.azure.cognitiveservices#CommitmentPlansUpdatePlanRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "commitmentPlanName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the commitmentPlan associated with the Cognitive Services Account"
          }
        },
        "tags": {
          "target": "com.azure.cognitiveservices#CommitmentPlansUpdatePlanRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "sku": {
          "target": "com.azure.cognitiveservices#Sku",
          "traits": {
            "smithy.api#documentation": "The resource model definition representing SKU"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cognitiveservices#CommitmentPlansUpdatePlanRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.cognitiveservices#CommitmentPlansCreateOrUpdatePlan": {
      "type": "operation",
      "input": {
        "target": "com.azure.cognitiveservices#CommitmentPlansCreateOrUpdatePlanRequest"
      },
      "output": {
        "target": "com.azure.cognitiveservices#CommitmentPlansCreateOrUpdatePlanResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/commitmentPlans/{commitmentPlanName}",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Create Cognitive Services commitment plan.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.cognitiveservices#CommitmentPlansCreateOrUpdatePlanResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cognitiveservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cognitiveservices#CommitmentPlanProperties",
          "traits": {
            "smithy.api#documentation": "Properties of Cognitive Services account commitment plan."
          }
        },
        "tags": {
          "target": "com.azure.cognitiveservices#CommitmentPlansCreateOrUpdatePlanResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Etag."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind (type) of cognitive service account."
          }
        },
        "sku": {
          "target": "com.azure.cognitiveservices#Sku",
          "traits": {
            "smithy.api#documentation": "The resource model definition representing SKU"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cognitiveservices#CommitmentPlansCreateOrUpdatePlanResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.cognitiveservices#CommitmentPlansCreateOrUpdatePlanRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "commitmentPlanName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the commitmentPlan associated with the Cognitive Services Account"
          }
        },
        "properties": {
          "target": "com.azure.cognitiveservices#CommitmentPlanPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Properties of Cognitive Services account commitment plan."
          }
        },
        "tags": {
          "target": "com.azure.cognitiveservices#CommitmentPlansCreateOrUpdatePlanRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind (type) of cognitive service account."
          }
        },
        "sku": {
          "target": "com.azure.cognitiveservices#Sku",
          "traits": {
            "smithy.api#documentation": "The resource model definition representing SKU"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cognitiveservices#CommitmentPlansCreateOrUpdatePlanRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.cognitiveservices#CommitmentPlanPropertiesInput": {
      "type": "structure",
      "members": {
        "commitmentPlanGuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Commitment plan guid."
          }
        },
        "hostingModel": {
          "target": "com.azure.cognitiveservices#HostingModel",
          "traits": {
            "smithy.api#documentation": "Account hosting model."
          }
        },
        "planType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Commitment plan type."
          }
        },
        "current": {
          "target": "com.azure.cognitiveservices#CommitmentPeriodInput",
          "traits": {
            "smithy.api#documentation": "Cognitive Services account commitment period."
          }
        },
        "autoRenew": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "AutoRenew commitment plan."
          }
        },
        "next": {
          "target": "com.azure.cognitiveservices#CommitmentPeriodInput",
          "traits": {
            "smithy.api#documentation": "Cognitive Services account commitment period."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of Cognitive Services account commitment plan."
      }
    },
    "com.azure.cognitiveservices#CommitmentPeriodInput": {
      "type": "structure",
      "members": {
        "tier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Commitment period commitment tier."
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Commitment period commitment count."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cognitive Services account commitment period."
      }
    },
    "com.azure.cognitiveservices#CommitmentPlansGetPlan": {
      "type": "operation",
      "input": {
        "target": "com.azure.cognitiveservices#CommitmentPlansGetPlanRequest"
      },
      "output": {
        "target": "com.azure.cognitiveservices#CommitmentPlansGetPlanResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/commitmentPlans/{commitmentPlanName}",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Returns a Cognitive Services commitment plan specified by the parameters.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.cognitiveservices#CommitmentPlansGetPlanResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cognitiveservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cognitiveservices#CommitmentPlanProperties",
          "traits": {
            "smithy.api#documentation": "Properties of Cognitive Services account commitment plan."
          }
        },
        "tags": {
          "target": "com.azure.cognitiveservices#CommitmentPlansGetPlanResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Etag."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind (type) of cognitive service account."
          }
        },
        "sku": {
          "target": "com.azure.cognitiveservices#Sku",
          "traits": {
            "smithy.api#documentation": "The resource model definition representing SKU"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cognitiveservices#CommitmentPlansGetPlanResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.cognitiveservices#CommitmentPlansGetPlanRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "commitmentPlanName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the commitmentPlan associated with the Cognitive Services Account"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cognitiveservices#CommitmentPlansListPlansByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.cognitiveservices#CommitmentPlansListPlansByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.cognitiveservices#CommitmentPlanListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/commitmentPlans",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Returns all the resources of a particular type belonging to a resource group",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.cognitiveservices#CommitmentPlanListResult": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link used to get the next page of CommitmentPlan."
          }
        },
        "value": {
          "target": "com.azure.cognitiveservices#CommitmentPlanListResultValueList",
          "traits": {
            "smithy.api#documentation": "Gets the list of Cognitive Services accounts CommitmentPlan and their properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of cognitive services accounts operation response."
      }
    },
    "com.azure.cognitiveservices#CommitmentPlanListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.cognitiveservices#CommitmentPlan"
      },
      "traits": {
        "smithy.api#documentation": "Gets the list of Cognitive Services accounts CommitmentPlan and their properties."
      }
    },
    "com.azure.cognitiveservices#CommitmentPlan": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cognitiveservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cognitiveservices#CommitmentPlanProperties",
          "traits": {
            "smithy.api#documentation": "Properties of Cognitive Services account commitment plan."
          }
        },
        "tags": {
          "target": "com.azure.cognitiveservices#CommitmentPlanTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Etag."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind (type) of cognitive service account."
          }
        },
        "sku": {
          "target": "com.azure.cognitiveservices#Sku",
          "traits": {
            "smithy.api#documentation": "The resource model definition representing SKU"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cognitive Services account commitment plan."
      }
    },
    "com.azure.cognitiveservices#CommitmentPlanTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.cognitiveservices#CommitmentPlansListPlansByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cognitiveservices#AccountsListUsages": {
      "type": "operation",
      "input": {
        "target": "com.azure.cognitiveservices#AccountsListUsagesRequest"
      },
      "output": {
        "target": "com.azure.cognitiveservices#UsageListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}/usages",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Get usages for the requested Cognitive Services account",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.cognitiveservices#UsageListResult": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link used to get the next page of Usages."
          }
        },
        "value": {
          "target": "com.azure.cognitiveservices#UsageListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of usages for Cognitive Service account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response to a list usage request."
      }
    },
    "com.azure.cognitiveservices#UsageListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.cognitiveservices#Usage"
      },
      "traits": {
        "smithy.api#documentation": "The list of usages for Cognitive Service account."
      }
    },
    "com.azure.cognitiveservices#Usage": {
      "type": "structure",
      "members": {
        "unit": {
          "target": "com.azure.cognitiveservices#UnitType",
          "traits": {
            "smithy.api#documentation": "The unit of the metric."
          }
        },
        "name": {
          "target": "com.azure.cognitiveservices#MetricName",
          "traits": {
            "smithy.api#documentation": "The name information for the metric."
          }
        },
        "quotaPeriod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The quota period used to summarize the usage values."
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum value for this metric."
          }
        },
        "currentValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Current value for this metric."
          }
        },
        "nextResetTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next reset time for current quota."
          }
        },
        "status": {
          "target": "com.azure.cognitiveservices#QuotaUsageStatus",
          "traits": {
            "smithy.api#documentation": "Cognitive Services account quota usage status."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The usage data for a usage request."
      }
    },
    "com.azure.cognitiveservices#QuotaUsageStatus": {
      "type": "enum",
      "members": {
        "INCLUDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Included"
          }
        },
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Blocked"
          }
        },
        "INOVERAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InOverage"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cognitive Services account quota usage status."
      }
    },
    "com.azure.cognitiveservices#MetricName": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the metric."
          }
        },
        "localizedValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name of the metric."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A metric name."
      }
    },
    "com.azure.cognitiveservices#UnitType": {
      "type": "enum",
      "members": {
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Count"
          }
        },
        "BYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Bytes"
          }
        },
        "SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Seconds"
          }
        },
        "PERCENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Percent"
          }
        },
        "COUNTPERSECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CountPerSecond"
          }
        },
        "BYTESPERSECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BytesPerSecond"
          }
        },
        "MILLISECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Milliseconds"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The unit of the metric."
      }
    },
    "com.azure.cognitiveservices#AccountsListUsagesRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of Cognitive Services account."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "An OData filter expression that describes a subset of usages to return. The supported parameter is name.value (name of the metric, can have an or of multiple names)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cognitiveservices#TestRaiExternalSafetyProviderCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.cognitiveservices#TestRaiExternalSafetyProviderCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.cognitiveservices#TestRaiExternalSafetyProviderCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}/testRaiExternalSafetyProvider/{safetyProviderName}",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Test the rai safety provider associated with the subscription.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.cognitiveservices#TestRaiExternalSafetyProviderCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cognitiveservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cognitiveservices#RaiExternalSafetyProviderSchemaProperties",
          "traits": {
            "smithy.api#documentation": "Properties of Cognitive Services Rai External Safety provider."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Etag."
          }
        },
        "tags": {
          "target": "com.azure.cognitiveservices#TestRaiExternalSafetyProviderCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cognitiveservices#TestRaiExternalSafetyProviderCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.cognitiveservices#RaiExternalSafetyProviderSchemaProperties": {
      "type": "structure",
      "members": {
        "providerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the safety provider."
          }
        },
        "providerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the safety provider."
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Safety provider mode sync/async."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Webhook URL for the safety provider."
          }
        },
        "secretName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the secret in Key Vault that contains the api key to access the webhook."
          }
        },
        "managedIdentity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The managed identity to access the Key Vault."
          }
        },
        "keyVaultUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Key Vault URI that contains the api key for safety provider urls."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation time of the safety provider."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last modified time of the safety provider."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RAI External SafetyProvider schema properties."
      }
    },
    "com.azure.cognitiveservices#TestRaiExternalSafetyProviderCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of Cognitive Services account."
          }
        },
        "safetyProviderName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Rai External Safety Provider associated with the Cognitive Services Account"
          }
        },
        "properties": {
          "target": "com.azure.cognitiveservices#RaiExternalSafetyProviderSchemaPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Properties of Cognitive Services Rai External Safety provider."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cognitiveservices#RaiExternalSafetyProviderSchemaPropertiesInput": {
      "type": "structure",
      "members": {
        "providerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the safety provider."
          }
        },
        "providerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the safety provider."
          }
        },
        "mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Safety provider mode sync/async."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Webhook URL for the safety provider."
          }
        },
        "secretName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the secret in Key Vault that contains the api key to access the webhook."
          }
        },
        "managedIdentity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The managed identity to access the Key Vault."
          }
        },
        "keyVaultUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Key Vault URI that contains the api key for safety provider urls."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RAI External SafetyProvider schema properties."
      }
    },
    "com.azure.cognitiveservices#AccountsListSkus": {
      "type": "operation",
      "input": {
        "target": "com.azure.cognitiveservices#AccountsListSkusRequest"
      },
      "output": {
        "target": "com.azure.cognitiveservices#AccountSkuListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}/skus",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "List available SKUs for the requested Cognitive Services account",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.cognitiveservices#AccountSkuListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.cognitiveservices#AccountSkuListResultValueList",
          "traits": {
            "smithy.api#documentation": "Gets the list of Cognitive Services accounts and their properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of cognitive services accounts operation response."
      }
    },
    "com.azure.cognitiveservices#AccountSkuListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.cognitiveservices#AccountSku"
      },
      "traits": {
        "smithy.api#documentation": "Gets the list of Cognitive Services accounts and their properties."
      }
    },
    "com.azure.cognitiveservices#AccountSku": {
      "type": "structure",
      "members": {
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Namespace and Type"
          }
        },
        "sku": {
          "target": "com.azure.cognitiveservices#Sku",
          "traits": {
            "smithy.api#documentation": "The SKU of Cognitive Services account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cognitive Services resource type and SKU."
      }
    },
    "com.azure.cognitiveservices#AccountsListSkusRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of Cognitive Services account."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cognitiveservices#AccountsRegenerateKey": {
      "type": "operation",
      "input": {
        "target": "com.azure.cognitiveservices#AccountsRegenerateKeyRequest"
      },
      "output": {
        "target": "com.azure.cognitiveservices#ApiKeys"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}/regenerateKey",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Regenerates the specified account key for the specified Cognitive Services account.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.cognitiveservices#ApiKeys": {
      "type": "structure",
      "members": {
        "key1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the value of key 1."
          }
        },
        "key2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the value of key 2."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The access keys for the cognitive services account."
      }
    },
    "com.azure.cognitiveservices#AccountsRegenerateKeyRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of Cognitive Services account."
          }
        },
        "keyName": {
          "target": "com.azure.cognitiveservices#KeyName",
          "traits": {
            "smithy.api#documentation": "key name to generate (Key1|Key2)",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cognitiveservices#KeyName": {
      "type": "enum",
      "members": {
        "KEY1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key1"
          }
        },
        "KEY2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key2"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "key name to generate (Key1|Key2)"
      }
    },
    "com.azure.cognitiveservices#RaiTopicsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.cognitiveservices#RaiTopicsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}/raitopics/{raiTopicName}",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Deletes the specified custom topic associated with the Azure OpenAI account.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.cognitiveservices#RaiTopicsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of Cognitive Services account."
          }
        },
        "raiTopicName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Rai Topic associated with the Cognitive Services Account"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cognitiveservices#RaiTopicsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.cognitiveservices#RaiTopicsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.cognitiveservices#RaiTopicsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}/raitopics/{raiTopicName}",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Create the rai topic associated with the Azure OpenAI account.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.cognitiveservices#RaiTopicsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cognitiveservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cognitiveservices#RaiTopicProperties",
          "traits": {
            "smithy.api#documentation": "Properties of Cognitive Services Rai Topic."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Etag."
          }
        },
        "tags": {
          "target": "com.azure.cognitiveservices#RaiTopicsCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cognitiveservices#RaiTopicsCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.cognitiveservices#RaiTopicProperties": {
      "type": "structure",
      "members": {
        "topicId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the custom topic."
          }
        },
        "topicName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the custom topic."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the custom topic."
          }
        },
        "sampleBlobUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sample blob url for the custom topic."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the custom topic."
          }
        },
        "failedReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Failed reason if the status is Failed."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation time of the custom topic."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last modified time of the custom topic."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RAI Custom Topic properties."
      }
    },
    "com.azure.cognitiveservices#RaiTopicsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of Cognitive Services account."
          }
        },
        "raiTopicName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Rai Topic associated with the Cognitive Services Account"
          }
        },
        "properties": {
          "target": "com.azure.cognitiveservices#RaiTopicProperties",
          "traits": {
            "smithy.api#documentation": "Properties of Cognitive Services Rai Topic."
          }
        },
        "tags": {
          "target": "com.azure.cognitiveservices#RaiTopicsCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cognitiveservices#RaiTopicsCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.cognitiveservices#RaiTopicsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.cognitiveservices#RaiTopicsGetRequest"
      },
      "output": {
        "target": "com.azure.cognitiveservices#RaiTopicsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}/raitopics/{raiTopicName}",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Gets the specified custom topic associated with the Azure OpenAI account.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.cognitiveservices#RaiTopicsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cognitiveservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cognitiveservices#RaiTopicProperties",
          "traits": {
            "smithy.api#documentation": "Properties of Cognitive Services Rai Topic."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Etag."
          }
        },
        "tags": {
          "target": "com.azure.cognitiveservices#RaiTopicsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cognitiveservices#RaiTopicsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.cognitiveservices#RaiTopicsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of Cognitive Services account."
          }
        },
        "raiTopicName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Rai Topic associated with the Cognitive Services Account"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cognitiveservices#RaiTopicsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.cognitiveservices#RaiTopicsListRequest"
      },
      "output": {
        "target": "com.azure.cognitiveservices#RaiTopicResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}/raitopics",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Gets the custom topics associated with the Azure OpenAI account.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.cognitiveservices#RaiTopicResult": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link used to get the next page of RaiTopics."
          }
        },
        "value": {
          "target": "com.azure.cognitiveservices#RaiTopicResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of RaiTopic."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of cognitive services RAI Topics."
      }
    },
    "com.azure.cognitiveservices#RaiTopicResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.cognitiveservices#RaiTopic"
      },
      "traits": {
        "smithy.api#documentation": "The list of RaiTopic."
      }
    },
    "com.azure.cognitiveservices#RaiTopic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cognitiveservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cognitiveservices#RaiTopicProperties",
          "traits": {
            "smithy.api#documentation": "Properties of Cognitive Services Rai Topic."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Etag."
          }
        },
        "tags": {
          "target": "com.azure.cognitiveservices#RaiTopicTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cognitive Services Rai Topic."
      }
    },
    "com.azure.cognitiveservices#RaiTopicTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.cognitiveservices#RaiTopicsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of Cognitive Services account."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cognitiveservices#RaiToolLabelsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.cognitiveservices#RaiToolLabelsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}/raiToolLabels/{raiToolConnectionName}",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Deletes the specified RAI Tool Label associated with the Azure OpenAI account.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.cognitiveservices#RaiToolLabelsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of Cognitive Services account."
          }
        },
        "raiToolConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Rai Tool Label"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cognitiveservices#RaiToolLabelsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.cognitiveservices#RaiToolLabelsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.cognitiveservices#RaiToolLabelsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}/raiToolLabels/{raiToolConnectionName}",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Creates the RAI Tool Label associated with the Azure OpenAI account.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.cognitiveservices#RaiToolLabelsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cognitiveservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cognitiveservices#RaiToolLabelProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the RAI Tool Label."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Etag."
          }
        },
        "tags": {
          "target": "com.azure.cognitiveservices#RaiToolLabelsCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cognitiveservices#RaiToolLabelsCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
[...]
