{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.communication#SuppressionListAddressesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.communication#SuppressionListAddressesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/suppressionLists/{suppressionListName}/suppressionListAddresses/{addressId}",
          "code": 200,
          "apiVersion": "2026-03-18"
        },
        "smithy.api#documentation": "Delete\n\nOperation to delete a single address from a suppression list.",
        "com.distilled.openapi#apiVersion": "2026-03-18"
      }
    },
    "com.azure.communication#SuppressionListAddressesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "emailServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the EmailService resource."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Domains resource."
          }
        },
        "suppressionListName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the suppression list."
          }
        },
        "addressId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The id of the address in a suppression list."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.communication#SuppressionListAddressesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.communication#SuppressionListAddressesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.communication#SuppressionListAddressesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/suppressionLists/{suppressionListName}/suppressionListAddresses/{addressId}",
          "code": 200,
          "apiVersion": "2026-03-18"
        },
        "smithy.api#documentation": "Create Or Update\n\nCreate or update a SuppressionListAddress.",
        "com.distilled.openapi#apiVersion": "2026-03-18"
      }
    },
    "com.azure.communication#SuppressionListAddressesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.communication#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.communication#SuppressionListAddressProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a SuppressionListAddress resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.communication#SuppressionListAddressProperties": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address of the recipient.",
            "smithy.api#required": {}
          }
        },
        "firstName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The first name of the email recipient."
          }
        },
        "lastName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last name of the email recipient."
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional property to provide contextual notes or a description for an address."
          }
        },
        "lastModified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date the address was last updated in a suppression list."
          }
        },
        "dataLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location where the SuppressionListAddress data is stored at rest. This value is inherited from the parent Domains resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class that describes the properties of a SuppressionListAddress resource."
      }
    },
    "com.azure.communication#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.communication#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.communication#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.communication#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.communication#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.communication#SuppressionListAddressesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "emailServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the EmailService resource."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Domains resource."
          }
        },
        "suppressionListName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the suppression list."
          }
        },
        "addressId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The id of the address in a suppression list."
          }
        },
        "properties": {
          "target": "com.azure.communication#SuppressionListAddressPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The properties of a SuppressionListAddress resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.communication#SuppressionListAddressPropertiesInput": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email address of the recipient.",
            "smithy.api#required": {}
          }
        },
        "firstName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The first name of the email recipient."
          }
        },
        "lastName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last name of the email recipient."
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional property to provide contextual notes or a description for an address."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class that describes the properties of a SuppressionListAddress resource."
      }
    },
    "com.azure.communication#SuppressionListAddressesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.communication#SuppressionListAddressesGetRequest"
      },
      "output": {
        "target": "com.azure.communication#SuppressionListAddressesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/suppressionLists/{suppressionListName}/suppressionListAddresses/{addressId}",
          "code": 200,
          "apiVersion": "2026-03-18"
        },
        "smithy.api#documentation": "Get\n\nGet a SuppressionListAddress.",
        "com.distilled.openapi#apiVersion": "2026-03-18"
      }
    },
    "com.azure.communication#SuppressionListAddressesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.communication#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.communication#SuppressionListAddressProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a SuppressionListAddress resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.communication#SuppressionListAddressesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "emailServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the EmailService resource."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Domains resource."
          }
        },
        "suppressionListName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the suppression list."
          }
        },
        "addressId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The id of the address in a suppression list."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.communication#SuppressionListAddressesList": {
      "type": "operation",
      "input": {
        "target": "com.azure.communication#SuppressionListAddressesListRequest"
      },
      "output": {
        "target": "com.azure.communication#SuppressionListAddressResourceCollection"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/suppressionLists/{suppressionListName}/suppressionListAddresses",
          "code": 200,
          "apiVersion": "2026-03-18"
        },
        "smithy.api#documentation": "Get\n\nGet all the addresses in a suppression list.",
        "com.distilled.openapi#apiVersion": "2026-03-18"
      }
    },
    "com.azure.communication#SuppressionListAddressResourceCollection": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.communication#SuppressionListAddressResourceCollectionValueList",
          "traits": {
            "smithy.api#documentation": "The SuppressionListAddressResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collection of addresses in a suppression list. Response will include a nextLink if response contains more pages."
      }
    },
    "com.azure.communication#SuppressionListAddressResourceCollectionValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.communication#SuppressionListAddressResource"
      },
      "traits": {
        "smithy.api#documentation": "The SuppressionListAddressResource items on this page"
      }
    },
    "com.azure.communication#SuppressionListAddressResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.communication#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.communication#SuppressionListAddressProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a SuppressionListAddress resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A object that represents a SuppressionList record."
      }
    },
    "com.azure.communication#SuppressionListAddressesListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "emailServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the EmailService resource."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Domains resource."
          }
        },
        "suppressionListName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the suppression list."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.communication#SuppressionListsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.communication#SuppressionListsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/suppressionLists/{suppressionListName}",
          "code": 200,
          "apiVersion": "2026-03-18"
        },
        "smithy.api#documentation": "Delete\n\nDelete a SuppressionList.",
        "com.distilled.openapi#apiVersion": "2026-03-18"
      }
    },
    "com.azure.communication#SuppressionListsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "emailServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the EmailService resource."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Domains resource."
          }
        },
        "suppressionListName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the suppression list."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.communication#SuppressionListsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.communication#SuppressionListsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.communication#SuppressionListsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/suppressionLists/{suppressionListName}",
          "code": 200,
          "apiVersion": "2026-03-18"
        },
        "smithy.api#documentation": "Create Or Update\n\nAdd a new SuppressionList resource under the parent Domains resource or update an existing SuppressionList resource.",
        "com.distilled.openapi#apiVersion": "2026-03-18"
      }
    },
    "com.azure.communication#SuppressionListsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.communication#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.communication#SuppressionListProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a SuppressionList resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.communication#SuppressionListProperties": {
      "type": "structure",
      "members": {
        "listName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the suppression list. This value must match one of the valid sender usernames of the sending domain."
          }
        },
        "lastUpdatedTimeStamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date the resource was last updated."
          }
        },
        "createdTimeStamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date the resource was created."
          }
        },
        "dataLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location where the SuppressionListAddress data is stored at rest. This value is inherited from the parent Domains resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class that describes the properties of a SuppressionList resource."
      }
    },
    "com.azure.communication#SuppressionListsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "emailServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the EmailService resource."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Domains resource."
          }
        },
        "suppressionListName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the suppression list."
          }
        },
        "properties": {
          "target": "com.azure.communication#SuppressionListPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The properties of a SuppressionList resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.communication#SuppressionListPropertiesInput": {
      "type": "structure",
      "members": {
        "listName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the suppression list. This value must match one of the valid sender usernames of the sending domain."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class that describes the properties of a SuppressionList resource."
      }
    },
    "com.azure.communication#SuppressionListsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.communication#SuppressionListsGetRequest"
      },
      "output": {
        "target": "com.azure.communication#SuppressionListsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/suppressionLists/{suppressionListName}",
          "code": 200,
          "apiVersion": "2026-03-18"
        },
        "smithy.api#documentation": "Get\n\nGet a SuppressionList resource.",
        "com.distilled.openapi#apiVersion": "2026-03-18"
      }
    },
    "com.azure.communication#SuppressionListsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.communication#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.communication#SuppressionListProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a SuppressionList resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.communication#SuppressionListsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "emailServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the EmailService resource."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Domains resource."
          }
        },
        "suppressionListName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the suppression list."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.communication#SuppressionListsListByDomain": {
      "type": "operation",
      "input": {
        "target": "com.azure.communication#SuppressionListsListByDomainRequest"
      },
      "output": {
        "target": "com.azure.communication#SuppressionListResourceCollection"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/suppressionLists",
          "code": 200,
          "apiVersion": "2026-03-18"
        },
        "smithy.api#documentation": "List\n\nList all suppression lists for a domains resource.",
        "com.distilled.openapi#apiVersion": "2026-03-18"
      }
    },
    "com.azure.communication#SuppressionListResourceCollection": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.communication#SuppressionListResourceCollectionValueList",
          "traits": {
            "smithy.api#documentation": "The SuppressionListResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class representing a Domains SuppressionListResource collection."
      }
    },
    "com.azure.communication#SuppressionListResourceCollectionValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.communication#SuppressionListResource"
      },
      "traits": {
        "smithy.api#documentation": "The SuppressionListResource items on this page"
      }
    },
    "com.azure.communication#SuppressionListResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.communication#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.communication#SuppressionListProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a SuppressionList resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class representing a SuppressionList resource."
      }
    },
    "com.azure.communication#SuppressionListsListByDomainRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "emailServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the EmailService resource."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Domains resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.communication#SenderUsernamesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.communication#SenderUsernamesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/senderUsernames/{senderUsername}",
          "code": 200,
          "apiVersion": "2026-03-18"
        },
        "smithy.api#documentation": "Delete\n\nOperation to delete a SenderUsernames resource.",
        "com.distilled.openapi#apiVersion": "2026-03-18"
      }
    },
    "com.azure.communication#SenderUsernamesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "emailServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the EmailService resource."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Domains resource."
          }
        },
        "senderUsername": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The valid sender Username."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.communication#SenderUsernamesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.communication#SenderUsernamesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.communication#SenderUsernamesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/senderUsernames/{senderUsername}",
          "code": 200,
          "apiVersion": "2026-03-18"
        },
        "smithy.api#documentation": "Create Or Update\n\nAdd a new SenderUsername resource under the parent Domains resource or update an existing SenderUsername resource.",
        "com.distilled.openapi#apiVersion": "2026-03-18"
      }
    },
    "com.azure.communication#SenderUsernamesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.communication#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.communication#SenderUsernameProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a SenderUsername resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.communication#SenderUsernameProperties": {
      "type": "structure",
      "members": {
        "dataLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location where the SenderUsername resource data is stored at rest."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A sender senderUsername to be used when sending emails.",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name for the senderUsername."
          }
        },
        "provisioningState": {
          "target": "com.azure.communication#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the resource. Unknown is the default state for Communication Services."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class that describes the properties of a SenderUsername resource."
      }
    },
    "com.azure.communication#ProvisioningState": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "MOVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Moving"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provisioning state of the resource. Unknown is the default state for Communication Services."
      }
    },
    "com.azure.communication#SenderUsernamesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "emailServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the EmailService resource."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Domains resource."
          }
        },
        "senderUsername": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The valid sender Username."
          }
        },
        "properties": {
          "target": "com.azure.communication#SenderUsernamePropertiesInput",
          "traits": {
            "smithy.api#documentation": "The properties of a SenderUsername resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.communication#SenderUsernamePropertiesInput": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A sender senderUsername to be used when sending emails.",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name for the senderUsername."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class that describes the properties of a SenderUsername resource."
      }
    },
    "com.azure.communication#SenderUsernamesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.communication#SenderUsernamesGetRequest"
      },
      "output": {
        "target": "com.azure.communication#SenderUsernamesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/senderUsernames/{senderUsername}",
          "code": 200,
          "apiVersion": "2026-03-18"
        },
        "smithy.api#documentation": "Get\n\nGet a valid sender username for a domains resource.",
        "com.distilled.openapi#apiVersion": "2026-03-18"
      }
    },
    "com.azure.communication#SenderUsernamesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.communication#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.communication#SenderUsernameProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a SenderUsername resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.communication#SenderUsernamesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "emailServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the EmailService resource."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Domains resource."
          }
        },
        "senderUsername": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The valid sender Username."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.communication#SenderUsernamesListByDomains": {
      "type": "operation",
      "input": {
        "target": "com.azure.communication#SenderUsernamesListByDomainsRequest"
      },
      "output": {
        "target": "com.azure.communication#SenderUsernameResourceCollection"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/senderUsernames",
          "code": 200,
          "apiVersion": "2026-03-18"
        },
        "smithy.api#documentation": "ListBy_Domains\n\nList all valid sender usernames for a domains resource.",
        "com.distilled.openapi#apiVersion": "2026-03-18"
      }
    },
    "com.azure.communication#SenderUsernameResourceCollection": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.communication#SenderUsernameResourceCollectionValueList",
          "traits": {
            "smithy.api#documentation": "The SenderUsernameResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class representing a Domains SenderUsernames collection."
      }
    },
    "com.azure.communication#SenderUsernameResourceCollectionValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.communication#SenderUsernameResource"
      },
      "traits": {
        "smithy.api#documentation": "The SenderUsernameResource items on this page"
      }
    },
    "com.azure.communication#SenderUsernameResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.communication#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.communication#SenderUsernameProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a SenderUsername resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class representing a SenderUsername resource."
      }
    },
    "com.azure.communication#SenderUsernamesListByDomainsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "emailServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the EmailService resource."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Domains resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.communication#DomainsInitiateVerification": {
      "type": "operation",
      "input": {
        "target": "com.azure.communication#DomainsInitiateVerificationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/initiateVerification",
          "code": 200,
          "apiVersion": "2026-03-18"
        },
        "smithy.api#documentation": "Initiate Verification\n\nInitiate verification of DNS record.",
        "com.distilled.openapi#apiVersion": "2026-03-18"
      }
    },
    "com.azure.communication#DomainsInitiateVerificationRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "emailServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the EmailService resource."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Domains resource."
          }
        },
        "verificationType": {
          "target": "com.azure.communication#VerificationType",
          "traits": {
            "smithy.api#documentation": "Type of verification.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.communication#VerificationType": {
      "type": "enum",
      "members": {
        "DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Domain"
          }
        },
        "SPF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPF"
          }
        },
        "DKIM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DKIM"
          }
        },
        "DKIM2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DKIM2"
          }
        },
        "DMARC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DMARC"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of verification."
      }
    },
    "com.azure.communication#DomainsCancelVerification": {
      "type": "operation",
      "input": {
        "target": "com.azure.communication#DomainsCancelVerificationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}/cancelVerification",
          "code": 200,
          "apiVersion": "2026-03-18"
        },
        "smithy.api#documentation": "Cancel Verification\n\nCancel verification of DNS record.",
        "com.distilled.openapi#apiVersion": "2026-03-18"
      }
    },
    "com.azure.communication#DomainsCancelVerificationRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "emailServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the EmailService resource."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Domains resource."
          }
        },
        "verificationType": {
          "target": "com.azure.communication#VerificationType",
          "traits": {
            "smithy.api#documentation": "Type of verification.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.communication#DomainsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.communication#DomainsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}",
          "code": 200,
          "apiVersion": "2026-03-18"
        },
        "smithy.api#documentation": "Delete\n\nOperation to delete a Domains resource.",
        "com.distilled.openapi#apiVersion": "2026-03-18"
      }
    },
    "com.azure.communication#DomainsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "emailServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the EmailService resource."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Domains resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.communication#DomainsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.communication#DomainsUpdateRequest"
      },
      "output": {
        "target": "com.azure.communication#DomainsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}",
          "code": 200,
          "apiVersion": "2026-03-18"
        },
        "smithy.api#documentation": "Update\n\nOperation to update an existing Domains resource.",
        "com.distilled.openapi#apiVersion": "2026-03-18"
      }
    },
    "com.azure.communication#DomainsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.communication#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.communication#DomainsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.communication#DomainProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a Domains resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.communication#DomainProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.communication#DomainsProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the resource."
          }
        },
        "dataLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location where the Domains resource data is stored at rest."
          }
        },
        "fromSenderDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "P2 sender domain that is displayed to the email recipients [RFC 5322]."
          }
        },
        "mailFromSenderDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "P1 sender domain that is present on the email envelope [RFC 5321]."
          }
        },
        "domainManagement": {
          "target": "com.azure.communication#DomainManagement",
          "traits": {
            "smithy.api#documentation": "Describes how a Domains resource is being managed.",
            "smithy.api#required": {}
          }
        },
        "verificationStates": {
          "target": "com.azure.communication#DomainPropertiesVerificationStates",
          "traits": {
            "smithy.api#documentation": "List of VerificationStatusRecord"
          }
        },
        "verificationRecords": {
          "target": "com.azure.communication#DomainPropertiesVerificationRecords",
          "traits": {
            "smithy.api#documentation": "List of DnsRecord"
          }
        },
        "userEngagementTracking": {
          "target": "com.azure.communication#UserEngagementTracking",
          "traits": {
            "smithy.api#documentation": "Describes whether user engagement tracking is enabled or disabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class that describes the properties of a Domains resource."
      }
    },
    "com.azure.communication#UserEngagementTracking": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes whether user engagement tracking is enabled or disabled."
      }
    },
    "com.azure.communication#DomainPropertiesVerificationRecords": {
      "type": "structure",
      "members": {
        "Domain": {
          "target": "com.azure.communication#DnsRecord",
          "traits": {
            "smithy.api#documentation": "A class that represents a VerificationStatus record."
          }
        },
        "SPF": {
          "target": "com.azure.communication#DnsRecord",
          "traits": {
            "smithy.api#documentation": "A class that represents a VerificationStatus record."
          }
        },
        "DKIM": {
          "target": "com.azure.communication#DnsRecord",
          "traits": {
            "smithy.api#documentation": "A class that represents a VerificationStatus record."
          }
        },
        "DKIM2": {
          "target": "com.azure.communication#DnsRecord",
          "traits": {
            "smithy.api#documentation": "A class that represents a VerificationStatus record."
          }
        },
        "DMARC": {
          "target": "com.azure.communication#DnsRecord",
          "traits": {
            "smithy.api#documentation": "A class that represents a VerificationStatus record."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of DnsRecord"
      }
    },
    "com.azure.communication#DnsRecord": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the DNS record. Example: TXT"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the DNS record."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of the DNS record."
          }
        },
        "ttl": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Represents an expiry time in seconds to represent how long this entry can be cached by the resolver, default = 3600sec."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class that represents a VerificationStatus record."
      }
    },
    "com.azure.communication#DomainPropertiesVerificationStates": {
      "type": "structure",
      "members": {
        "Domain": {
          "target": "com.azure.communication#VerificationStatusRecord",
          "traits": {
            "smithy.api#documentation": "A class that represents a VerificationStatus record."
          }
        },
        "SPF": {
          "target": "com.azure.communication#VerificationStatusRecord",
          "traits": {
            "smithy.api#documentation": "A class that represents a VerificationStatus record."
          }
        },
        "DKIM": {
          "target": "com.azure.communication#VerificationStatusRecord",
          "traits": {
            "smithy.api#documentation": "A class that represents a VerificationStatus record."
          }
        },
        "DKIM2": {
          "target": "com.azure.communication#VerificationStatusRecord",
          "traits": {
            "smithy.api#documentation": "A class that represents a VerificationStatus record."
          }
        },
        "DMARC": {
          "target": "com.azure.communication#VerificationStatusRecord",
          "traits": {
            "smithy.api#documentation": "A class that represents a VerificationStatus record."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of VerificationStatusRecord"
      }
    },
    "com.azure.communication#VerificationStatusRecord": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.communication#VerificationStatus",
          "traits": {
            "smithy.api#documentation": "Status of the verification operation."
          }
        },
        "errorCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error code. This property will only be present if the status is UnableToVerify."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class that represents a VerificationStatus record."
      }
    },
    "com.azure.communication#VerificationStatus": {
      "type": "enum",
      "members": {
        "NOTSTARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotStarted"
          }
        },
        "VERIFICATIONREQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VerificationRequested"
          }
        },
        "VERIFICATIONINPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VerificationInProgress"
          }
        },
        "VERIFICATIONFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VerificationFailed"
          }
        },
        "VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Verified"
          }
        },
        "CANCELLATIONREQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CancellationRequested"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the verification operation."
      }
    },
    "com.azure.communication#DomainManagement": {
      "type": "enum",
      "members": {
        "AZUREMANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureManaged"
          }
        },
        "CUSTOMERMANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CustomerManaged"
          }
        },
        "CUSTOMERMANAGEDINEXCHANGEONLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CustomerManagedInExchangeOnline"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes how a Domains resource is being managed."
      }
    },
    "com.azure.communication#DomainsProvisioningState": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "MOVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Moving"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provisioning state of the resource."
      }
    },
    "com.azure.communication#DomainsUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.communication#DomainsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "emailServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the EmailService resource."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Domains resource."
          }
        },
        "tags": {
          "target": "com.azure.communication#DomainsUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Tags of the service which is a list of key value pairs that describe the resource."
          }
        },
        "properties": {
          "target": "com.azure.communication#UpdateDomainProperties",
          "traits": {
            "smithy.api#documentation": "A class that describes the updatable properties of a Domains resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.communication#UpdateDomainProperties": {
      "type": "structure",
      "members": {
        "userEngagementTracking": {
          "target": "com.azure.communication#UserEngagementTracking",
          "traits": {
            "smithy.api#documentation": "Describes whether user engagement tracking is enabled or disabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class that describes the updatable properties of a Domains resource."
      }
    },
    "com.azure.communication#DomainsUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tags of the service which is a list of key value pairs that describe the resource."
      }
    },
    "com.azure.communication#DomainsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.communication#DomainsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.communication#DomainsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}",
          "code": 200,
          "apiVersion": "2026-03-18"
        },
        "smithy.api#documentation": "Create Or Update\n\nAdd a new Domains resource under the parent EmailService resource or update an existing Domains resource.",
        "com.distilled.openapi#apiVersion": "2026-03-18"
      }
    },
    "com.azure.communication#DomainsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.communication#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.communication#DomainsCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.communication#DomainProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a Domains resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.communication#DomainsCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.communication#DomainsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "emailServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the EmailService resource."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Domains resource."
          }
        },
        "tags": {
          "target": "com.azure.communication#DomainsCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.communication#DomainPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The properties of a Domains resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.communication#DomainPropertiesInput": {
      "type": "structure",
      "members": {
        "domainManagement": {
          "target": "com.azure.communication#DomainManagement",
          "traits": {
            "smithy.api#documentation": "Describes how a Domains resource is being managed.",
            "smithy.api#required": {}
          }
        },
        "userEngagementTracking": {
          "target": "com.azure.communication#UserEngagementTracking",
          "traits": {
            "smithy.api#documentation": "Describes whether user engagement tracking is enabled or disabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class that describes the properties of a Domains resource."
      }
    },
    "com.azure.communication#DomainsCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.communication#DomainsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.communication#DomainsGetRequest"
      },
      "output": {
        "target": "com.azure.communication#DomainsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains/{domainName}",
          "code": 200,
          "apiVersion": "2026-03-18"
        },
        "smithy.api#documentation": "Get\n\nGet the Domains resource and its properties.",
        "com.distilled.openapi#apiVersion": "2026-03-18"
      }
    },
    "com.azure.communication#DomainsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.communication#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.communication#DomainsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.communication#DomainProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a Domains resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.communication#DomainsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.communication#DomainsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "emailServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the EmailService resource."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Domains resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.communication#DomainsListByEmailServiceResource": {
      "type": "operation",
      "input": {
        "target": "com.azure.communication#DomainsListByEmailServiceResourceRequest"
      },
      "output": {
        "target": "com.azure.communication#DomainResourceList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}/domains",
          "code": 200,
          "apiVersion": "2026-03-18"
        },
        "smithy.api#documentation": "List by EmailService\n\nHandles requests to list all Domains resources under the parent EmailServices resource.",
        "com.distilled.openapi#apiVersion": "2026-03-18"
      }
    },
    "com.azure.communication#DomainResourceList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.communication#DomainResourceListValueList",
          "traits": {
            "smithy.api#documentation": "The DomainResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Object that includes an array of Domains resource and a possible link for next set."
      }
    },
    "com.azure.communication#DomainResourceListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.communication#DomainResource"
      },
      "traits": {
        "smithy.api#documentation": "The DomainResource items on this page"
      }
    },
    "com.azure.communication#DomainResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.communication#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.communication#DomainResourceTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.communication#DomainProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a Domains resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class representing a Domains resource."
      }
    },
    "com.azure.communication#DomainResourceTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.communication#DomainsListByEmailServiceResourceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "emailServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the EmailService resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.communication#EmailServicesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.communication#EmailServicesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}",
          "code": 200,
          "apiVersion": "2026-03-18"
        },
        "smithy.api#documentation": "Delete\n\nOperation to delete a EmailService.",
        "com.distilled.openapi#apiVersion": "2026-03-18"
      }
    },
    "com.azure.communication#EmailServicesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "emailServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the EmailService resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.communication#EmailServicesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.communication#EmailServicesUpdateRequest"
      },
      "output": {
        "target": "com.azure.communication#EmailServicesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/emailServices/{emailServiceName}",
          "code": 200,
          "apiVersion": "2026-03-18"
        },
        "smithy.api#documentation": "Update\n\nOperation to update an existing EmailService.",
        "com.distilled.openapi#apiVersion": "2026-03-18"
      }
    },
    "com.azure.communication#EmailServicesUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
[...]
