{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.compute#VirtualMachineBulkOperationsBulkStart": {
      "type": "operation",
      "input": {
        "target": "com.azure.compute#VirtualMachineBulkOperationsBulkStartRequest"
      },
      "output": {
        "target": "com.azure.compute#StartResourceOperationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/locations/{location}/virtualMachinesBulkStart",
          "code": 200,
          "apiVersion": "2026-06-06"
        },
        "smithy.api#documentation": "BulkStart: Execute start operation for a batch of virtual machines, this operation is triggered as soon as Computeschedule receives it.",
        "com.distilled.openapi#apiVersion": "2026-06-06"
      }
    },
    "com.azure.compute#StartResourceOperationResponse": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the operation response",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of resources used in the start request eg virtual machines",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the start request eg westus",
            "smithy.api#required": {}
          }
        },
        "results": {
          "target": "com.azure.compute#StartResourceOperationResponseResultsList",
          "traits": {
            "smithy.api#documentation": "The results from the start request if no errors exist"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from a start request"
      }
    },
    "com.azure.compute#StartResourceOperationResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.azure.compute#ResourceOperation"
      },
      "traits": {
        "smithy.api#documentation": "The results from the start request if no errors exist"
      }
    },
    "com.azure.compute#ResourceOperation": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the resource involved in the operation, for example Azure resource ID"
          }
        },
        "errorCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource level error code if it exists"
          }
        },
        "errorDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource level error details if they exist"
          }
        },
        "operation": {
          "target": "com.azure.compute#ResourceOperationDetails",
          "traits": {
            "smithy.api#documentation": "Details of the operation performed on a resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "High level response from an operation on a resource"
      }
    },
    "com.azure.compute#ResourceOperationDetails": {
      "type": "structure",
      "members": {
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation identifier for the unique operation",
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the resource involved in the operation, for example Azure resource ID"
          }
        },
        "opType": {
          "target": "com.azure.compute#ResourceOperationDetailsOpType",
          "traits": {
            "smithy.api#documentation": "Type of operation performed on the resources"
          }
        },
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subscription id attached to the request"
          }
        },
        "deadline": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deadline for the operation"
          }
        },
        "deadlineType": {
          "target": "com.azure.compute#ResourceOperationDetailsDeadlineType",
          "traits": {
            "smithy.api#documentation": "Type of deadline of the operation"
          }
        },
        "state": {
          "target": "com.azure.compute#ResourceOperationDetailsState",
          "traits": {
            "smithy.api#documentation": "Current state of the operation"
          }
        },
        "timezone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timezone for the operation"
          }
        },
        "resourceOperationError": {
          "target": "com.azure.compute#ResourceOperationError",
          "traits": {
            "smithy.api#documentation": "Operation level errors if they exist"
          }
        },
        "fallbackOperationInfo": {
          "target": "com.azure.compute#FallbackOperationInfo",
          "traits": {
            "smithy.api#documentation": "Fallback operation details if a fallback was performed"
          }
        },
        "completedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time the operation was complete if errors are null"
          }
        },
        "retryPolicy": {
          "target": "com.azure.compute#RetryPolicy",
          "traits": {
            "smithy.api#documentation": "Retry policy the user can pass"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details of a response from an operation on a resource"
      }
    },
    "com.azure.compute#RetryPolicy": {
      "type": "structure",
      "members": {
        "retryCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Retry count for user request"
          }
        },
        "retryWindowInMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Retry window in minutes for user request"
          }
        },
        "onFailureAction": {
          "target": "com.azure.compute#ResourceOperationType",
          "traits": {
            "smithy.api#documentation": "Action to take on failure"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The retry policy for the user request"
      }
    },
    "com.azure.compute#ResourceOperationType": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Start"
          }
        },
        "DEALLOCATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deallocate"
          }
        },
        "HIBERNATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Hibernate"
          }
        },
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Create"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Delete"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The kind of bulk operation that can be performed on resources using Bulkactions API"
      }
    },
    "com.azure.compute#FallbackOperationInfo": {
      "type": "structure",
      "members": {
        "lastOpType": {
          "target": "com.azure.compute#ResourceOperationType",
          "traits": {
            "smithy.api#documentation": "The last operation type that was performed as a fallback",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status of the fallback operation",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.azure.compute#ResourceOperationError",
          "traits": {
            "smithy.api#documentation": "The error code if the fallback operation failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the fallback operation that was performed"
      }
    },
    "com.azure.compute#ResourceOperationError": {
      "type": "structure",
      "members": {
        "errorCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Code for the error eg 404, 500",
            "smithy.api#required": {}
          }
        },
        "errorDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed message about the error",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "These describe errors that occur at the resource level"
      }
    },
    "com.azure.compute#ResourceOperationDetailsState": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "PENDINGSCHEDULING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingScheduling"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Scheduled"
          }
        },
        "PENDINGEXECUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingExecution"
          }
        },
        "EXECUTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Executing"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cancelled"
          }
        },
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Blocked"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current state of the operation"
      }
    },
    "com.azure.compute#ResourceOperationDetailsDeadlineType": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "INITIATEAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InitiateAt"
          }
        },
        "COMPLETEBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CompleteBy"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of deadline of the operation"
      }
    },
    "com.azure.compute#ResourceOperationDetailsOpType": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Start"
          }
        },
        "DEALLOCATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deallocate"
          }
        },
        "HIBERNATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Hibernate"
          }
        },
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Create"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Delete"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of operation performed on the resources"
      }
    },
    "com.azure.compute#VirtualMachineBulkOperationsBulkStartRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The location name."
          }
        },
        "executionParameters": {
          "target": "com.azure.compute#ExecutionParameters",
          "traits": {
            "smithy.api#documentation": "The execution parameters for the request",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.azure.compute#Resources",
          "traits": {
            "smithy.api#documentation": "The resources for the request",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.compute#Resources": {
      "type": "structure",
      "members": {
        "ids": {
          "target": "com.azure.compute#ResourcesIdsList",
          "traits": {
            "smithy.api#documentation": "The resource ids used for the request",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resources needed for the user request"
      }
    },
    "com.azure.compute#ResourcesIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The resource ids used for the request"
      }
    },
    "com.azure.compute#ExecutionParameters": {
      "type": "structure",
      "members": {
        "retryPolicy": {
          "target": "com.azure.compute#RetryPolicy",
          "traits": {
            "smithy.api#documentation": "Retry policy the user can pass"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Extra details needed to run the user's request"
      }
    },
    "com.azure.compute#VirtualMachineBulkOperationsBulkHibernate": {
      "type": "operation",
      "input": {
        "target": "com.azure.compute#VirtualMachineBulkOperationsBulkHibernateRequest"
      },
      "output": {
        "target": "com.azure.compute#HibernateResourceOperationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/locations/{location}/virtualMachinesBulkHibernate",
          "code": 200,
          "apiVersion": "2026-06-06"
        },
        "smithy.api#documentation": "BulkHibernate: Execute hibernate operation for a batch of virtual machines, this operation is triggered as soon as Computeschedule receives it.",
        "com.distilled.openapi#apiVersion": "2026-06-06"
      }
    },
    "com.azure.compute#HibernateResourceOperationResponse": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the operation response",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of resources used in the Hibernate request eg virtual machines",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the Hibernate request eg westus",
            "smithy.api#required": {}
          }
        },
        "results": {
          "target": "com.azure.compute#HibernateResourceOperationResponseResultsList",
          "traits": {
            "smithy.api#documentation": "The results from the Hibernate request if no errors exist"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from a Hibernate request"
      }
    },
    "com.azure.compute#HibernateResourceOperationResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.azure.compute#ResourceOperation"
      },
      "traits": {
        "smithy.api#documentation": "The results from the Hibernate request if no errors exist"
      }
    },
    "com.azure.compute#VirtualMachineBulkOperationsBulkHibernateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The location name."
          }
        },
        "executionParameters": {
          "target": "com.azure.compute#ExecutionParameters",
          "traits": {
            "smithy.api#documentation": "The execution parameters for the request",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.azure.compute#Resources",
          "traits": {
            "smithy.api#documentation": "The resources for the request",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.compute#VirtualMachineBulkOperationsBulkGetOperationsStatus": {
      "type": "operation",
      "input": {
        "target": "com.azure.compute#VirtualMachineBulkOperationsBulkGetOperationsStatusRequest"
      },
      "output": {
        "target": "com.azure.compute#GetOperationStatusResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/locations/{location}/virtualMachinesBulkGetOperationStatus",
          "code": 200,
          "apiVersion": "2026-06-06"
        },
        "smithy.api#documentation": "BulkGetOperationsStatus: Polling endpoint to read status of operations performed on virtual machines",
        "com.distilled.openapi#apiVersion": "2026-06-06"
      }
    },
    "com.azure.compute#GetOperationStatusResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.azure.compute#GetOperationStatusResponseResultsList",
          "traits": {
            "smithy.api#documentation": "An array of resource operations based on their operation ids",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This is the response from a get operations status request"
      }
    },
    "com.azure.compute#GetOperationStatusResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.azure.compute#ResourceOperation"
      },
      "traits": {
        "smithy.api#documentation": "An array of resource operations based on their operation ids"
      }
    },
    "com.azure.compute#VirtualMachineBulkOperationsBulkGetOperationsStatusRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The location name."
          }
        },
        "operationIds": {
          "target": "com.azure.compute#VirtualMachineBulkOperationsBulkGetOperationsStatusRequestOperationIdsList",
          "traits": {
            "smithy.api#documentation": "The list of operation ids to get the status of",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.compute#VirtualMachineBulkOperationsBulkGetOperationsStatusRequestOperationIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of operation ids to get the status of"
      }
    },
    "com.azure.compute#VirtualMachineBulkOperationsBulkDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.compute#VirtualMachineBulkOperationsBulkDeleteRequest"
      },
      "output": {
        "target": "com.azure.compute#DeleteResourceOperationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/locations/{location}/virtualMachinesBulkDelete",
          "code": 200,
          "apiVersion": "2026-06-06"
        },
        "smithy.api#documentation": "BulkDelete: Execute delete operation for a batch of virtual machines, this operation is triggered as soon as Computeschedule receives it.",
        "com.distilled.openapi#apiVersion": "2026-06-06"
      }
    },
    "com.azure.compute#DeleteResourceOperationResponse": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the operation response",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of resources used in the delete request eg virtual machines",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the delete request eg westus",
            "smithy.api#required": {}
          }
        },
        "results": {
          "target": "com.azure.compute#DeleteResourceOperationResponseResultsList",
          "traits": {
            "smithy.api#documentation": "The results from the delete request if no errors exist"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from a delete request"
      }
    },
    "com.azure.compute#DeleteResourceOperationResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.azure.compute#ResourceOperation"
      },
      "traits": {
        "smithy.api#documentation": "The results from the delete request if no errors exist"
      }
    },
    "com.azure.compute#VirtualMachineBulkOperationsBulkDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The location name."
          }
        },
        "executionParameters": {
          "target": "com.azure.compute#ExecutionParameters",
          "traits": {
            "smithy.api#documentation": "The execution parameters for the request",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.azure.compute#Resources",
          "traits": {
            "smithy.api#documentation": "The resources for the request",
            "smithy.api#required": {}
          }
        },
        "forceDeletion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Forced delete resource item"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.compute#VirtualMachineBulkOperationsBulkDeallocate": {
      "type": "operation",
      "input": {
        "target": "com.azure.compute#VirtualMachineBulkOperationsBulkDeallocateRequest"
      },
      "output": {
        "target": "com.azure.compute#DeallocateResourceOperationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/locations/{location}/virtualMachinesBulkDeallocate",
          "code": 200,
          "apiVersion": "2026-06-06"
        },
        "smithy.api#documentation": "BulkDeallocate: Execute deallocate operation for a batch of virtual machines, this operation is triggered as soon as Computeschedule receives it.",
        "com.distilled.openapi#apiVersion": "2026-06-06"
      }
    },
    "com.azure.compute#DeallocateResourceOperationResponse": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the operation response",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of resources used in the deallocate request eg virtual machines",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the deallocate request eg westus",
            "smithy.api#required": {}
          }
        },
        "results": {
          "target": "com.azure.compute#DeallocateResourceOperationResponseResultsList",
          "traits": {
            "smithy.api#documentation": "The results from the deallocate request if no errors exist"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from a deallocate request"
      }
    },
    "com.azure.compute#DeallocateResourceOperationResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.azure.compute#ResourceOperation"
      },
      "traits": {
        "smithy.api#documentation": "The results from the deallocate request if no errors exist"
      }
    },
    "com.azure.compute#VirtualMachineBulkOperationsBulkDeallocateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The location name."
          }
        },
        "executionParameters": {
          "target": "com.azure.compute#ExecutionParameters",
          "traits": {
            "smithy.api#documentation": "The execution parameters for the request",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.azure.compute#Resources",
          "traits": {
            "smithy.api#documentation": "The resources for the request",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.compute#VirtualMachineBulkOperationsBulkCancel": {
      "type": "operation",
      "input": {
        "target": "com.azure.compute#VirtualMachineBulkOperationsBulkCancelRequest"
      },
      "output": {
        "target": "com.azure.compute#CancelOperationsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/locations/{location}/virtualMachinesBulkCancel",
          "code": 200,
          "apiVersion": "2026-06-06"
        },
        "smithy.api#documentation": "BulkCancelOperations: Cancel a previously submitted (start/deallocate/hibernate) request",
        "com.distilled.openapi#apiVersion": "2026-06-06"
      }
    },
    "com.azure.compute#CancelOperationsResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.azure.compute#CancelOperationsResponseResultsList",
          "traits": {
            "smithy.api#documentation": "An array of resource operations that were successfully cancelled",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This is the response from a cancel operations request"
      }
    },
    "com.azure.compute#CancelOperationsResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.azure.compute#ResourceOperation"
      },
      "traits": {
        "smithy.api#documentation": "An array of resource operations that were successfully cancelled"
      }
    },
    "com.azure.compute#VirtualMachineBulkOperationsBulkCancelRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The location name."
          }
        },
        "operationIds": {
          "target": "com.azure.compute#VirtualMachineBulkOperationsBulkCancelRequestOperationIdsList",
          "traits": {
            "smithy.api#documentation": "The list of operation ids to cancel operations on",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.compute#VirtualMachineBulkOperationsBulkCancelRequestOperationIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of operation ids to cancel operations on"
      }
    },
    "com.azure.compute#OperationsList": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.azure.compute#OperationsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.Compute/operations",
          "code": 200,
          "apiVersion": "2026-06-06"
        },
        "smithy.api#documentation": "List the operations for the provider",
        "com.distilled.openapi#apiVersion": "2026-06-06"
      }
    },
    "com.azure.compute#OperationsListResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.compute#OperationsListResponseValueList",
          "traits": {
            "smithy.api#documentation": "List of operations supported by the resource provider"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to get the next set of operation list results (if there are any)."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.compute#OperationsListResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.compute#Operation"
      },
      "traits": {
        "smithy.api#documentation": "List of operations supported by the resource provider"
      }
    },
    "com.azure.compute#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation, as per Resource-Based Access Control (RBAC). Examples: \"Microsoft.Compute/virtualMachines/write\", \"Microsoft.Compute/virtualMachines/capture/action\""
          }
        },
        "isDataAction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the operation applies to data-plane. This is \"true\" for data-plane operations and \"false\" for ARM/control-plane operations."
          }
        },
        "display": {
          "target": "com.azure.compute#OperationDisplay",
          "traits": {
            "smithy.api#documentation": "Localized display information for this particular operation."
          }
        },
        "origin": {
          "target": "com.azure.compute#OperationOrigin",
          "traits": {
            "smithy.api#documentation": "The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is \"user,system\""
          }
        },
        "actionType": {
          "target": "com.azure.compute#OperationActionType",
          "traits": {
            "smithy.api#documentation": "Enum. Indicates the action type. \"Internal\" refers to actions that are for internal only APIs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a REST API operation, returned from the Resource Provider Operations API"
      }
    },
    "com.azure.compute#OperationActionType": {
      "type": "enum",
      "members": {
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Internal"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enum. Indicates the action type. \"Internal\" refers to actions that are for internal only APIs."
      }
    },
    "com.azure.compute#OperationOrigin": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        },
        "USER_SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user,system"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is \"user,system\""
      }
    },
    "com.azure.compute#OperationDisplay": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized friendly form of the resource provider name, e.g. \"Microsoft Monitoring Insights\" or \"Microsoft Compute\"."
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized friendly name of the resource type related to this operation. E.g. \"Virtual Machines\" or \"Job Schedule Collections\"."
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The concise, localized friendly name for the operation; suitable for dropdowns. E.g. \"Create or Update Virtual Machine\", \"Restart Virtual Machine\"."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The short, localized friendly description of the operation; suitable for tool tips and detailed views."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Localized display information for this particular operation."
      }
    },
    "com.azure.compute#SnapshotsUpdateImmutabilityPolicyLock": {
      "type": "operation",
      "input": {
        "target": "com.azure.compute#SnapshotsUpdateImmutabilityPolicyLockRequest"
      },
      "output": {
        "target": "com.azure.compute#SnapshotsUpdateImmutabilityPolicyLockResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/snapshots/{snapshotName}/updateImmutabilityPolicyLock",
          "code": 200,
          "apiVersion": "2026-03-02"
        },
        "smithy.api#documentation": "Locks the immutability policy of a snapshot. Once locked, the policy cannot be reduced or removed until the lock period expires.",
        "com.distilled.openapi#apiVersion": "2026-03-02"
      }
    },
    "com.azure.compute#SnapshotsUpdateImmutabilityPolicyLockResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.compute#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.compute#SnapshotsUpdateImmutabilityPolicyLockResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.compute#SnapshotProperties",
          "traits": {
            "smithy.api#documentation": "Snapshot resource properties."
          }
        },
        "managedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unused. Always Null."
          }
        },
        "sku": {
          "target": "com.azure.compute#SnapshotSku",
          "traits": {
            "smithy.api#documentation": "The snapshots sku name. Can be Standard_LRS, Premium_LRS, or Standard_ZRS. This is an optional parameter for incremental snapshot and the default behavior is the SKU will be set to the same sku as the previous snapshot"
          }
        },
        "extendedLocation": {
          "target": "com.azure.compute#SnapshotsUpdateImmutabilityPolicyLockResponseExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The complex type of the extended location."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.compute#SnapshotsUpdateImmutabilityPolicyLockResponseExtendedLocation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the extended location."
          }
        },
        "type": {
          "target": "com.azure.compute#ExtendedLocationType",
          "traits": {
            "smithy.api#documentation": "The type of the extended location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The complex type of the extended location."
      }
    },
    "com.azure.compute#ExtendedLocationType": {
      "type": "enum",
      "members": {
        "EDGEZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EdgeZone"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of extendedLocation."
      }
    },
    "com.azure.compute#SnapshotSku": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.azure.compute#SnapshotStorageAccountTypes",
          "traits": {
            "smithy.api#documentation": "The sku name."
          }
        },
        "tier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sku tier."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The snapshots sku name. Can be Standard_LRS, Premium_LRS, or Standard_ZRS. This is an optional parameter for incremental snapshot and the default behavior is the SKU will be set to the same sku as the previous snapshot"
      }
    },
    "com.azure.compute#SnapshotStorageAccountTypes": {
      "type": "enum",
      "members": {
        "STANDARD_LRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_LRS"
          }
        },
        "PREMIUM_LRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Premium_LRS"
          }
        },
        "STANDARD_ZRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_ZRS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The sku name."
      }
    },
    "com.azure.compute#SnapshotProperties": {
      "type": "structure",
      "members": {
        "timeCreated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the snapshot was created."
          }
        },
        "osType": {
          "target": "com.azure.compute#CommonOperatingSystemTypes",
          "traits": {
            "smithy.api#documentation": "The Operating System type."
          }
        },
        "hyperVGeneration": {
          "target": "com.azure.compute#CommonHyperVGeneration",
          "traits": {
            "smithy.api#documentation": "The hypervisor generation of the Virtual Machine. Applicable to OS disks only."
          }
        },
        "purchasePlan": {
          "target": "com.azure.compute#DiskPurchasePlan",
          "traits": {
            "smithy.api#documentation": "Purchase plan information for the image from which the source disk for the snapshot was originally created."
          }
        },
        "supportedCapabilities": {
          "target": "com.azure.compute#SupportedCapabilities",
          "traits": {
            "smithy.api#documentation": "List of supported capabilities for the image from which the source disk from the snapshot was originally created."
          }
        },
        "creationData": {
          "target": "com.azure.compute#CreationData",
          "traits": {
            "smithy.api#documentation": "Disk source information. CreationData information cannot be changed after the disk has been created.",
            "smithy.api#required": {}
          }
        },
        "diskSizeGB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If creationData.createOption is Empty, this field is mandatory and it indicates the size of the disk to create. If this field is present for updates or creation with other options, it indicates a resize. Resizes are only allowed if the disk is not attached to a running VM, and can only increase the disk's size."
          }
        },
        "diskSizeBytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The size of the disk in bytes. This field is read only."
          }
        },
        "diskState": {
          "target": "com.azure.compute#DiskState",
          "traits": {
            "smithy.api#documentation": "The state of the snapshot."
          }
        },
        "uniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique Guid identifying the resource."
          }
        },
        "encryptionSettingsCollection": {
          "target": "com.azure.compute#EncryptionSettingsCollection",
          "traits": {
            "smithy.api#documentation": "Encryption settings collection used be Azure Disk Encryption, can contain multiple encryption settings per disk or snapshot."
          }
        },
        "provisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The disk provisioning state."
          }
        },
        "incremental": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a snapshot is incremental. Incremental snapshots on the same disk occupy less space than full snapshots and can be diffed."
          }
        },
        "incrementalSnapshotFamilyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Incremental snapshots for a disk share an incremental snapshot family id. The Get Page Range Diff API can only be called on incremental snapshots with the same family id."
          }
        },
        "encryption": {
          "target": "com.azure.compute#Encryption",
          "traits": {
            "smithy.api#documentation": "Encryption property can be used to encrypt data at rest with customer managed keys or platform managed keys."
          }
        },
        "networkAccessPolicy": {
          "target": "com.azure.compute#NetworkAccessPolicy",
          "traits": {
            "smithy.api#documentation": "Policy for accessing the disk via network."
          }
        },
        "diskAccessId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ARM id of the DiskAccess resource for using private endpoints on disks."
          }
        },
        "securityProfile": {
          "target": "com.azure.compute#DiskSecurityProfile",
          "traits": {
            "smithy.api#documentation": "Contains the security related information for the resource."
          }
        },
        "supportsHibernation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates the OS on a snapshot supports hibernation."
          }
        },
        "publicNetworkAccess": {
          "target": "com.azure.compute#PublicNetworkAccess",
          "traits": {
            "smithy.api#documentation": "Policy for controlling export on the disk."
          }
        },
        "completionPercent": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percentage complete for the background copy when a resource is created via the CopyStart operation."
          }
        },
        "copyCompletionError": {
          "target": "com.azure.compute#CopyCompletionError",
          "traits": {
            "smithy.api#documentation": "Indicates the error details if the background copy of a resource created via the CopyStart operation fails."
          }
        },
        "dataAccessAuthMode": {
          "target": "com.azure.compute#DataAccessAuthMode",
          "traits": {
            "smithy.api#documentation": "Additional authentication requirements when exporting or uploading to a disk or snapshot."
          }
        },
        "snapshotAccessState": {
          "target": "com.azure.compute#CommonSnapshotAccessState",
          "traits": {
            "smithy.api#documentation": "The state of snapshot which determines the access availability of the snapshot."
          }
        },
        "immutabilityPolicy": {
          "target": "com.azure.compute#ImmutabilityPolicy",
          "traits": {
            "smithy.api#documentation": "The immutability policy currently applied to this snapshot. Present only when an immutability policy has been configured."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Snapshot resource properties."
      }
    },
    "com.azure.compute#ImmutabilityPolicy": {
      "type": "structure",
      "members": {
        "immutabilityDurationDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The immutability duration for the snapshot, in number of days."
          }
        },
        "type": {
          "target": "com.azure.compute#ImmutabilityPolicyType",
          "traits": {
            "smithy.api#documentation": "The type of the immutability policy."
          }
        },
        "policyStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the immutability policy was set on the snapshot."
          }
        },
        "policyExpirationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the immutability policy will expire on the snapshot."
          }
        },
        "isPolicyExpired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the immutability policy has expired."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The immutability policy currently applied to a snapshot."
      }
    },
    "com.azure.compute#ImmutabilityPolicyType": {
      "type": "enum",
      "members": {
        "UNLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unlocked"
          }
        },
        "LOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Locked"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the immutability policy. 'Unlocked' allows the policy to be modified by privileged users; 'Locked' prevents reduction of the immutability duration but allows extension of the lock period."
      }
    },
    "com.azure.compute#CommonSnapshotAccessState": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Available"
          }
        },
        "INSTANTACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InstantAccess"
          }
        },
        "AVAILABLEWITHINSTANTACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AvailableWithInstantAccess"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of snapshot which determines the access availability of the snapshot."
      }
    },
    "com.azure.compute#DataAccessAuthMode": {
      "type": "enum",
      "members": {
        "AZUREACTIVEDIRECTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureActiveDirectory"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional authentication requirements when exporting or uploading to a disk or snapshot."
      }
    },
    "com.azure.compute#CopyCompletionError": {
      "type": "structure",
      "members": {
        "errorCode": {
          "target": "com.azure.compute#CopyCompletionErrorReason",
          "traits": {
            "smithy.api#documentation": "Indicates the error code if the background copy of a resource created via the CopyStart operation fails.",
            "smithy.api#required": {}
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the error message if the background copy of a resource created via the CopyStart operation fails.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates the error details if the background copy of a resource created via the CopyStart operation fails."
      }
    },
    "com.azure.compute#CopyCompletionErrorReason": {
      "type": "enum",
      "members": {
        "COPYSOURCENOTFOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CopySourceNotFound"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates the error code if the background copy of a resource created via the CopyStart operation fails."
      }
    },
    "com.azure.compute#PublicNetworkAccess": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Policy for controlling export on the disk."
      }
    },
    "com.azure.compute#DiskSecurityProfile": {
      "type": "structure",
      "members": {
        "securityType": {
          "target": "com.azure.compute#DiskSecurityTypes",
          "traits": {
            "smithy.api#documentation": "Specifies the SecurityType of the VM. Applicable for OS disks only."
          }
        },
        "secureVMDiskEncryptionSetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ResourceId of the disk encryption set associated to Confidential VM supported disk encrypted with customer managed key"
          }
        },
        "confidentialVMVersion": {
          "target": "com.azure.compute#ConfidentialVMVersion",
          "traits": {
            "smithy.api#documentation": "Indicates the version of Confidential VM for the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the security related information for the resource."
      }
    },
    "com.azure.compute#ConfidentialVMVersion": {
      "type": "enum",
      "members": {
        "V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V1"
          }
        },
        "V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V2"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates the version of Confidential VM for the resource."
      }
    },
    "com.azure.compute#DiskSecurityTypes": {
      "type": "enum",
      "members": {
        "TRUSTEDLAUNCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TrustedLaunch"
          }
        },
        "CONFIDENTIALVM_VMGUESTSTATEONLYENCRYPTEDWITHPLATFORMKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConfidentialVM_VMGuestStateOnlyEncryptedWithPlatformKey"
          }
        },
        "CONFIDENTIALVM_DISKENCRYPTEDWITHPLATFORMKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConfidentialVM_DiskEncryptedWithPlatformKey"
          }
        },
        "CONFIDENTIALVM_DISKENCRYPTEDWITHCUSTOMERKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConfidentialVM_DiskEncryptedWithCustomerKey"
          }
        },
        "CONFIDENTIALVM_NONPERSISTEDTPM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConfidentialVM_NonPersistedTPM"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the SecurityType of the VM. Applicable for OS disks only."
      }
    },
    "com.azure.compute#NetworkAccessPolicy": {
      "type": "enum",
      "members": {
        "ALLOWALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AllowAll"
          }
        },
        "ALLOWPRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AllowPrivate"
          }
        },
        "DENYALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DenyAll"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Policy for accessing the disk via network."
      }
    },
    "com.azure.compute#Encryption": {
      "type": "structure",
      "members": {
        "diskEncryptionSetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ResourceId of the disk encryption set to use for enabling encryption at rest."
          }
        },
        "type": {
          "target": "com.azure.compute#EncryptionType",
          "traits": {
            "smithy.api#documentation": "The type of key used to encrypt the data of the disk."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encryption at rest settings for disk or snapshot"
      }
    },
    "com.azure.compute#EncryptionType": {
      "type": "enum",
      "members": {
        "ENCRYPTIONATRESTWITHPLATFORMKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EncryptionAtRestWithPlatformKey"
          }
        },
        "ENCRYPTIONATRESTWITHCUSTOMERKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EncryptionAtRestWithCustomerKey"
          }
        },
        "ENCRYPTIONATRESTWITHPLATFORMANDCUSTOMERKEYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EncryptionAtRestWithPlatformAndCustomerKeys"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of key used to encrypt the data of the disk."
      }
    },
    "com.azure.compute#EncryptionSettingsCollection": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set this flag to true and provide DiskEncryptionKey and optional KeyEncryptionKey to enable encryption. Set this flag to false and remove DiskEncryptionKey and KeyEncryptionKey to disable encryption. If EncryptionSettings is null in the request object, the existing settings remain unchanged.",
            "smithy.api#required": {}
          }
        },
        "encryptionSettings": {
          "target": "com.azure.compute#EncryptionSettingsCollectionEncryptionSettingsList",
          "traits": {
            "smithy.api#documentation": "A collection of encryption settings, one for each disk volume."
          }
        },
        "encryptionSettingsVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Describes what type of encryption is used for the disks. Once this field is set, it cannot be overwritten. '1.0' corresponds to Azure Disk Encryption with AAD app.'1.1' corresponds to Azure Disk Encryption."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encryption settings for disk or snapshot"
      }
    },
    "com.azure.compute#EncryptionSettingsCollectionEncryptionSettingsList": {
      "type": "list",
      "member": {
        "target": "com.azure.compute#EncryptionSettingsElement"
      },
      "traits": {
        "smithy.api#documentation": "A collection of encryption settings, one for each disk volume."
      }
    },
    "com.azure.compute#EncryptionSettingsElement": {
      "type": "structure",
      "members": {
        "diskEncryptionKey": {
          "target": "com.azure.compute#KeyVaultAndSecretReference",
          "traits": {
            "smithy.api#documentation": "Key Vault Secret Url and vault id of the disk encryption key"
          }
        },
        "keyEncryptionKey": {
          "target": "com.azure.compute#KeyVaultAndKeyReference",
          "traits": {
            "smithy.api#documentation": "Key Vault Key Url and vault id of the key encryption key. KeyEncryptionKey is optional and when provided is used to unwrap the disk encryption key."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encryption settings for one disk volume."
      }
    },
    "com.azure.compute#KeyVaultAndKeyReference": {
      "type": "structure",
      "members": {
        "sourceVault": {
          "target": "com.azure.compute#SourceVault",
          "traits": {
            "smithy.api#documentation": "Resource id of the KeyVault containing the key or secret",
            "smithy.api#required": {}
          }
        },
        "keyUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Url pointing to a key or secret in KeyVault",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Key Vault Key Url and vault id of KeK, KeK is optional and when provided is used to unwrap the encryptionKey"
      }
    },
    "com.azure.compute#SourceVault": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The vault id is an Azure Resource Manager Resource id in the form /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}"
      }
    },
    "com.azure.compute#KeyVaultAndSecretReference": {
      "type": "structure",
      "members": {
        "sourceVault": {
          "target": "com.azure.compute#SourceVault",
          "traits": {
            "smithy.api#documentation": "Resource id of the KeyVault containing the key or secret",
            "smithy.api#required": {}
          }
        },
        "secretUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Url pointing to a key or secret in KeyVault",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Key Vault Secret Url and vault id of the encryption key"
      }
    },
    "com.azure.compute#DiskState": {
      "type": "enum",
      "members": {
        "UNATTACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unattached"
          }
        },
        "ATTACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Attached"
          }
        },
        "RESERVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Reserved"
          }
        },
        "FROZEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Frozen"
          }
        },
        "ACTIVESAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ActiveSAS"
          }
        },
        "ACTIVESASFROZEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ActiveSASFrozen"
          }
        },
        "READYTOUPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReadyToUpload"
          }
        },
        "ACTIVEUPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ActiveUpload"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This enumerates the possible state of the disk."
      }
    },
    "com.azure.compute#CreationData": {
      "type": "structure",
      "members": {
        "createOption": {
          "target": "com.azure.compute#DiskCreateOption",
          "traits": {
            "smithy.api#documentation": "This enumerates the possible sources of a disk's creation.",
            "smithy.api#required": {}
          }
        },
        "storageAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required if createOption is Import. The Azure Resource Manager identifier of the storage account containing the blob to import as a disk."
          }
        },
        "imageReference": {
          "target": "com.azure.compute#ImageDiskReference",
          "traits": {
            "smithy.api#documentation": "Disk source information for PIR or user images."
          }
        },
        "galleryImageReference": {
          "target": "com.azure.compute#ImageDiskReference",
          "traits": {
            "smithy.api#documentation": "Required if creating from a Gallery Image. The id/sharedGalleryImageId/communityGalleryImageId of the ImageDiskReference will be the ARM id of the shared galley image version from which to create a disk."
          }
        },
        "sourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If createOption is Import, this is the URI of a blob to be imported into a managed disk."
          }
        },
        "sourceResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If createOption is Copy, this is the ARM id of the source snapshot or disk."
          }
        },
        "sourceUniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If this field is set, this is the unique id identifying the source of this resource."
          }
        },
        "uploadSizeBytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If createOption is Upload, this is the size of the contents of the upload including the VHD footer. This value should be between 20972032 (20 MiB + 512 bytes for the VHD footer) and 35183298347520 bytes (32 TiB + 512 bytes for the VHD footer)."
          }
        },
        "logicalSectorSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Logical sector size in bytes for Ultra disks. Supported values are 512 ad 4096. 4096 is the default."
          }
        },
        "securityDataUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If createOption is ImportSecure, this is the URI of a blob to be imported into VM guest state."
          }
        },
        "securityMetadataUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If createOption is ImportSecure, this is the URI of a blob to be imported into VM metadata for Confidential VM."
          }
        },
        "performancePlus": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set this flag to true to get a boost on the performance target of the disk deployed, see here on the respective performance target. This flag can only be set on disk creation time and cannot be disabled after enabled."
          }
        },
        "elasticSanResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required if createOption is CopyFromSanSnapshot. This is the ARM id of the source elastic san volume snapshot."
          }
        },
        "provisionedBandwidthCopySpeed": {
          "target": "com.azure.compute#ProvisionedBandwidthCopyOption",
          "traits": {
            "smithy.api#documentation": "If this field is set on a snapshot and createOption is CopyStart, the snapshot will be copied at a quicker speed."
          }
        },
        "instantAccessDurationMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "For snapshots created from Premium SSD v2 or Ultra disk, this property determines the time in minutes the snapshot is retained for instant access to enable faster restore."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data used when creating a disk."
      }
    },
    "com.azure.compute#ProvisionedBandwidthCopyOption": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "ENHANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enhanced"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If this field is set on a snapshot and createOption is CopyStart, the snapshot will be copied at a quicker speed."
      }
    },
    "com.azure.compute#ImageDiskReference": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A relative uri containing either a Platform Image Repository, user image, or Azure Compute Gallery image reference."
          }
        },
        "sharedGalleryImageId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A relative uri containing a direct shared Azure Compute Gallery image reference."
          }
        },
        "communityGalleryImageId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A relative uri containing a community Azure Compute Gallery image reference."
          }
        },
        "lun": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If the disk is created from an image's data disk, this is an index that indicates which of the data disks in the image to use. For OS disks, this field is null."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The source image used for creating the disk."
      }
    },
    "com.azure.compute#DiskCreateOption": {
      "type": "enum",
      "members": {
        "EMPTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Empty"
          }
        },
        "ATTACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Attach"
          }
        },
        "FROMIMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FromImage"
          }
        },
        "IMPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Import"
          }
        },
        "COPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Copy"
          }
        },
        "RESTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Restore"
          }
        },
        "UPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Upload"
          }
        },
        "COPYSTART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CopyStart"
          }
        },
        "IMPORTSECURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ImportSecure"
          }
        },
        "UPLOADPREPAREDSECURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UploadPreparedSecure"
          }
        },
        "COPYFROMSANSNAPSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CopyFromSanSnapshot"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This enumerates the possible sources of a disk's creation."
      }
    },
    "com.azure.compute#SupportedCapabilities": {
      "type": "structure",
      "members": {
        "diskControllerTypes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The disk controllers that an OS disk supports. If set it can be SCSI or SCSI, NVME or NVME, SCSI."
          }
        },
        "acceleratedNetwork": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the image from which the OS disk is created supports accelerated networking."
          }
        },
        "architecture": {
          "target": "com.azure.compute#CommonArchitecture",
          "traits": {
            "smithy.api#documentation": "CPU architecture supported by an OS disk."
          }
        },
        "supportedSecurityOption": {
          "target": "com.azure.compute#SupportedSecurityOption",
          "traits": {
            "smithy.api#documentation": "Refers to the security capability of the disk supported to create a Trusted launch or Confidential VM"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of supported capabilities persisted on the disk resource for VM use."
      }
    },
    "com.azure.compute#SupportedSecurityOption": {
      "type": "enum",
      "members": {
        "TRUSTEDLAUNCHSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TrustedLaunchSupported"
          }
        },
        "TRUSTEDLAUNCHANDCONFIDENTIALVMSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TrustedLaunchAndConfidentialVMSupported"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Refers to the security capability of the disk supported to create a Trusted launch or Confidential VM"
      }
    },
    "com.azure.compute#CommonArchitecture": {
      "type": "enum",
      "members": {
        "X64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "x64"
          }
        },
        "ARM64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Arm64"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CPU architecture supported by an OS disk."
      }
    },
    "com.azure.compute#DiskPurchasePlan": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The plan ID.",
            "smithy.api#required": {}
          }
        },
        "publisher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The publisher ID.",
            "smithy.api#required": {}
          }
        },
        "product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the product of the image from the marketplace. This is the same value as Offer under the imageReference element.",
            "smithy.api#required": {}
          }
        },
        "promotionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Offer Promotion Code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Used for establishing the purchase context of any 3rd Party artifact through MarketPlace."
      }
    },
    "com.azure.compute#CommonHyperVGeneration": {
      "type": "enum",
      "members": {
        "V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V1"
          }
        },
        "V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V2"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The hypervisor generation of the Virtual Machine."
      }
    },
    "com.azure.compute#CommonOperatingSystemTypes": {
      "type": "enum",
      "members": {
        "WINDOWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Windows"
          }
        },
        "LINUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Linux"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This property allows you to specify the type of the OS that is included in the disk if creating a VM from user-image or a specialized VHD. Possible values are: **Windows,** **Linux.**"
      }
    },
    "com.azure.compute#SnapshotsUpdateImmutabilityPolicyLockResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.compute#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.compute#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.compute#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.compute#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.compute#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.compute#SnapshotsUpdateImmutabilityPolicyLockRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "snapshotName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the snapshot that is being created. The name can't be changed after the snapshot is created. Supported characters for the name are a-z, A-Z, 0-9, _ and -. The max name length is 80 characters."
          }
        },
        "immutabilityDurationDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The immutability duration for the snapshot, in number of days.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.azure.compute#ImmutabilityPolicyType",
          "traits": {
            "smithy.api#documentation": "The type of the immutability policy. 'Unlocked' allows the policy to be modified by privileged users; 'Locked' prevents reduction of the immutability duration but allows extension of the lock period.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.compute#SnapshotsUpdateImmutabilityPolicy": {
      "type": "operation",
      "input": {
        "target": "com.azure.compute#SnapshotsUpdateImmutabilityPolicyRequest"
      },
      "output": {
        "target": "com.azure.compute#SnapshotsUpdateImmutabilityPolicyResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/snapshots/{snapshotName}/updateImmutabilityPolicy",
          "code": 200,
          "apiVersion": "2026-03-02"
        },
        "smithy.api#documentation": "Updates the immutability policy of a snapshot. Sets or extends an unlocked immutability policy with the specified duration and type. If the snapshot already has a locked policy, the request will be rejected. Use updateImmutabilityPolicyLock to lock an immutability policy.",
        "com.distilled.openapi#apiVersion": "2026-03-02"
      }
    },
    "com.azure.compute#SnapshotsUpdateImmutabilityPolicyResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.compute#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.compute#SnapshotsUpdateImmutabilityPolicyResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.compute#SnapshotProperties",
          "traits": {
            "smithy.api#documentation": "Snapshot resource properties."
          }
        },
        "managedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unused. Always Null."
          }
        },
        "sku": {
          "target": "com.azure.compute#SnapshotSku",
          "traits": {
            "smithy.api#documentation": "The snapshots sku name. Can be Standard_LRS, Premium_LRS, or Standard_ZRS. This is an optional parameter for incremental snapshot and the default behavior is the SKU will be set to the same sku as the previous snapshot"
          }
        },
        "extendedLocation": {
          "target": "com.azure.compute#SnapshotsUpdateImmutabilityPolicyResponseExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The complex type of the extended location."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.compute#SnapshotsUpdateImmutabilityPolicyResponseExtendedLocation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the extended location."
          }
        },
        "type": {
          "target": "com.azure.compute#ExtendedLocationType",
          "traits": {
            "smithy.api#documentation": "The type of the extended location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The complex type of the extended location."
      }
    },
    "com.azure.compute#SnapshotsUpdateImmutabilityPolicyResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.compute#SnapshotsUpdateImmutabilityPolicyRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "snapshotName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the snapshot that is being created. The name can't be changed after the snapshot is created. Supported characters for the name are a-z, A-Z, 0-9, _ and -. The max name length is 80 characters."
          }
        },
        "immutabilityDurationDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The immutability duration for the snapshot, in number of days.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.azure.compute#ImmutabilityPolicyType",
          "traits": {
            "smithy.api#documentation": "The type of the immutability policy. 'Unlocked' allows the policy to be modified by privileged users; 'Locked' prevents reduction of the immutability duration but allows extension of the lock period.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.compute#SnapshotsRevokeAccess": {
      "type": "operation",
      "input": {
        "target": "com.azure.compute#SnapshotsRevokeAccessRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/snapshots/{snapshotName}/endGetAccess",
          "code": 200,
          "apiVersion": "2026-03-02"
        },
        "smithy.api#documentation": "Revokes access to a snapshot.",
        "com.distilled.openapi#apiVersion": "2026-03-02"
      }
    },
    "com.azure.compute#SnapshotsRevokeAccessRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "snapshotName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the snapshot that is being created. The name can't be changed after the snapshot is created. Supported characters for the name are a-z, A-Z, 0-9, _ and -. The max name length is 80 characters."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.compute#SnapshotsGrantAccess": {
      "type": "operation",
      "input": {
        "target": "com.azure.compute#SnapshotsGrantAccessRequest"
      },
      "output": {
        "target": "com.azure.compute#AccessUri"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/snapshots/{snapshotName}/beginGetAccess",
          "code": 200,
          "apiVersion": "2026-03-02"
        },
        "smithy.api#documentation": "Grants access to a snapshot.",
        "com.distilled.openapi#apiVersion": "2026-03-02"
      }
    },
    "com.azure.compute#AccessUri": {
      "type": "structure",
      "members": {
        "accessSAS": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A SAS uri for accessing a disk."
          }
        },
        "securityDataAccessSAS": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A SAS uri for accessing a VM guest state."
          }
        },
        "securityMetadataAccessSAS": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A SAS uri for accessing a VM metadata."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A disk access SAS uri."
      }
    },
    "com.azure.compute#SnapshotsGrantAccessRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "snapshotName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the snapshot that is being created. The name can't be changed after the snapshot is created. Supported characters for the name are a-z, A-Z, 0-9, _ and -. The max name length is 80 characters."
          }
        },
        "access": {
          "target": "com.azure.compute#AccessLevel",
          "traits": {
            "smithy.api#documentation": "The Access Level, accepted values include None, Read, Write.",
            "smithy.api#required": {}
          }
        },
        "durationInSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Time duration in seconds until the SAS access expires.",
            "smithy.api#required": {}
          }
        },
        "getSecureVMGuestStateSAS": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set this flag to true to get additional SAS for VM guest state"
          }
        },
        "fileFormat": {
          "target": "com.azure.compute#FileFormat",
          "traits": {
            "smithy.api#documentation": "Used to specify the file format when making request for SAS on a VHDX file format snapshot"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.compute#FileFormat": {
      "type": "enum",
      "members": {
        "VHD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VHD"
          }
[...]
