{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.connectedvmware#VMInstanceGuestAgentsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.connectedvmware#VMInstanceGuestAgentsListRequest"
      },
      "output": {
        "target": "com.azure.connectedvmware#GuestAgentList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{resourceUri}/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineInstances/default/guestAgents",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Implements GET GuestAgent in a vm.\n\nReturns the list of GuestAgent of the given vm.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.connectedvmware#GuestAgentList": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Url to follow for getting next page of GuestAgent."
          }
        },
        "value": {
          "target": "com.azure.connectedvmware#GuestAgentListValueList",
          "traits": {
            "smithy.api#documentation": "Array of GuestAgent",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of GuestAgent."
      }
    },
    "com.azure.connectedvmware#GuestAgentListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.connectedvmware#GuestAgent"
      },
      "traits": {
        "smithy.api#documentation": "Array of GuestAgent"
      }
    },
    "com.azure.connectedvmware#GuestAgent": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.connectedvmware#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.connectedvmware#GuestAgentProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the GuestAgent."
      }
    },
    "com.azure.connectedvmware#GuestAgentProperties": {
      "type": "structure",
      "members": {
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets a unique identifier for this resource."
          }
        },
        "credentials": {
          "target": "com.azure.connectedvmware#GuestCredential",
          "traits": {
            "smithy.api#documentation": "Username / Password Credentials to provision guest agent."
          }
        },
        "privateLinkScopeResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id of the private link scope this machine is assigned to, if any."
          }
        },
        "httpProxyConfig": {
          "target": "com.azure.connectedvmware#HttpProxyConfiguration",
          "traits": {
            "smithy.api#documentation": "HTTP Proxy configuration for the VM."
          }
        },
        "provisioningAction": {
          "target": "com.azure.connectedvmware#ProvisioningAction",
          "traits": {
            "smithy.api#documentation": "Gets or sets the guest agent provisioning action."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the guest agent status."
          }
        },
        "customResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the name of the corresponding resource in Kubernetes."
          }
        },
        "statuses": {
          "target": "com.azure.connectedvmware#GuestAgentPropertiesStatusesList",
          "traits": {
            "smithy.api#documentation": "The resource status information."
          }
        },
        "provisioningState": {
          "target": "com.azure.connectedvmware#ResourceProvisioningState",
          "traits": {
            "smithy.api#documentation": "Gets the provisioning state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the properties of a Virtual Machine Guest Agent."
      }
    },
    "com.azure.connectedvmware#ResourceProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Created"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current deployment state of resource."
      }
    },
    "com.azure.connectedvmware#GuestAgentPropertiesStatusesList": {
      "type": "list",
      "member": {
        "target": "com.azure.connectedvmware#ResourceStatus"
      },
      "traits": {
        "smithy.api#documentation": "The resource status information."
      }
    },
    "com.azure.connectedvmware#ResourceStatus": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the condition."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the condition."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason for the condition's status."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human readable message indicating details about the status."
          }
        },
        "severity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Severity with which to treat failures of this type of condition."
          }
        },
        "lastUpdatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last update time for this condition."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource status information."
      }
    },
    "com.azure.connectedvmware#ProvisioningAction": {
      "type": "enum",
      "members": {
        "INSTALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "install"
          }
        },
        "UNINSTALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uninstall"
          }
        },
        "REPAIR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repair"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the different types of operations for guest agent."
      }
    },
    "com.azure.connectedvmware#HttpProxyConfiguration": {
      "type": "structure",
      "members": {
        "httpsProxy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets httpsProxy url."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "HTTP Proxy configuration for the VM."
      }
    },
    "com.azure.connectedvmware#GuestCredential": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets username to connect with the guest."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the password to connect with the guest.",
            "smithy.api#sensitive": {}
          }
        },
        "privateKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Private key used to authenticate to a virtual machine through ssh.",
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Username / Password Credentials to connect to guest."
      }
    },
    "com.azure.connectedvmware#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.connectedvmware#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.connectedvmware#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.connectedvmware#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.connectedvmware#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.connectedvmware#VMInstanceGuestAgentsListRequest": {
      "type": "structure",
      "members": {
        "resourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource manager identifier of the Hybrid Compute machine resource to be extended."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.connectedvmware#VMInstanceGuestAgentsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.connectedvmware#VMInstanceGuestAgentsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/{resourceUri}/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineInstances/default/guestAgents/default",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Deletes an GuestAgent.\n\nImplements GuestAgent DELETE method.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.connectedvmware#VMInstanceGuestAgentsDeleteRequest": {
      "type": "structure",
      "members": {
        "resourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource manager identifier of the Hybrid Compute machine resource to be extended."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.connectedvmware#VMInstanceGuestAgentsCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.connectedvmware#VMInstanceGuestAgentsCreateRequest"
      },
      "output": {
        "target": "com.azure.connectedvmware#VMInstanceGuestAgentsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/{resourceUri}/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineInstances/default/guestAgents/default",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Implements GuestAgent PUT method.\n\nCreate Or Update GuestAgent.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.connectedvmware#VMInstanceGuestAgentsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.connectedvmware#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.connectedvmware#GuestAgentProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.connectedvmware#VMInstanceGuestAgentsCreateRequest": {
      "type": "structure",
      "members": {
        "resourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource manager identifier of the Hybrid Compute machine resource to be extended."
          }
        },
        "properties": {
          "target": "com.azure.connectedvmware#GuestAgentPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Resource properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.connectedvmware#GuestAgentPropertiesInput": {
      "type": "structure",
      "members": {
        "credentials": {
          "target": "com.azure.connectedvmware#GuestCredential",
          "traits": {
            "smithy.api#documentation": "Username / Password Credentials to provision guest agent."
          }
        },
        "privateLinkScopeResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id of the private link scope this machine is assigned to, if any."
          }
        },
        "httpProxyConfig": {
          "target": "com.azure.connectedvmware#HttpProxyConfiguration",
          "traits": {
            "smithy.api#documentation": "HTTP Proxy configuration for the VM."
          }
        },
        "provisioningAction": {
          "target": "com.azure.connectedvmware#ProvisioningAction",
          "traits": {
            "smithy.api#documentation": "Gets or sets the guest agent provisioning action."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the properties of a Virtual Machine Guest Agent."
      }
    },
    "com.azure.connectedvmware#VMInstanceGuestAgentsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.connectedvmware#VMInstanceGuestAgentsGetRequest"
      },
      "output": {
        "target": "com.azure.connectedvmware#VMInstanceGuestAgentsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{resourceUri}/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineInstances/default/guestAgents/default",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Gets GuestAgent.\n\nImplements GuestAgent GET method.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.connectedvmware#VMInstanceGuestAgentsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.connectedvmware#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.connectedvmware#GuestAgentProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.connectedvmware#VMInstanceGuestAgentsGetRequest": {
      "type": "structure",
      "members": {
        "resourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource manager identifier of the Hybrid Compute machine resource to be extended."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.connectedvmware#VmInstanceHybridIdentityMetadataList2": {
      "type": "operation",
      "input": {
        "target": "com.azure.connectedvmware#VmInstanceHybridIdentityMetadataListRequest"
      },
      "output": {
        "target": "com.azure.connectedvmware#VmInstanceHybridIdentityMetadataList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{resourceUri}/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineInstances/default/hybridIdentityMetadata",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Implements GET HybridIdentityMetadata in a vm.\n\nReturns the list of HybridIdentityMetadata of the given vm.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.connectedvmware#VmInstanceHybridIdentityMetadataList": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Url to follow for getting next page of HybridIdentityMetadata."
          }
        },
        "value": {
          "target": "com.azure.connectedvmware#VmInstanceHybridIdentityMetadataListValueList",
          "traits": {
            "smithy.api#documentation": "Array of HybridIdentityMetadata",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of HybridIdentityMetadata."
      }
    },
    "com.azure.connectedvmware#VmInstanceHybridIdentityMetadataListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.connectedvmware#VmInstanceHybridIdentityMetadata"
      },
      "traits": {
        "smithy.api#documentation": "Array of HybridIdentityMetadata"
      }
    },
    "com.azure.connectedvmware#VmInstanceHybridIdentityMetadata": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.connectedvmware#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.connectedvmware#VmInstanceHybridIdentityMetadataProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the HybridIdentityMetadata."
      }
    },
    "com.azure.connectedvmware#VmInstanceHybridIdentityMetadataProperties": {
      "type": "structure",
      "members": {
        "resourceUid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the resource."
          }
        },
        "publicKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the Public Key."
          }
        },
        "provisioningState": {
          "target": "com.azure.connectedvmware#ResourceProvisioningState",
          "traits": {
            "smithy.api#documentation": "Gets the provisioning state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the properties of Hybrid Identity Metadata for a Virtual Machine."
      }
    },
    "com.azure.connectedvmware#VmInstanceHybridIdentityMetadataListRequest": {
      "type": "structure",
      "members": {
        "resourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource manager identifier of the Hybrid Compute machine resource to be extended."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.connectedvmware#VmInstanceHybridIdentityMetadataGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.connectedvmware#VmInstanceHybridIdentityMetadataGetRequest"
      },
      "output": {
        "target": "com.azure.connectedvmware#VmInstanceHybridIdentityMetadataGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{resourceUri}/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineInstances/default/hybridIdentityMetadata/default",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Gets HybridIdentityMetadata.\n\nImplements HybridIdentityMetadata GET method.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.connectedvmware#VmInstanceHybridIdentityMetadataGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.connectedvmware#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.connectedvmware#VmInstanceHybridIdentityMetadataProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.connectedvmware#VmInstanceHybridIdentityMetadataGetRequest": {
      "type": "structure",
      "members": {
        "resourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource manager identifier of the Hybrid Compute machine resource to be extended."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.connectedvmware#VirtualMachineInstancesRestart": {
      "type": "operation",
      "input": {
        "target": "com.azure.connectedvmware#VirtualMachineInstancesRestartRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{resourceUri}/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineInstances/default/restart",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Implements the operation to restart a virtual machine.\n\nThe operation to restart a virtual machine instance.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.connectedvmware#VirtualMachineInstancesRestartRequest": {
      "type": "structure",
      "members": {
        "resourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource manager identifier of the Hybrid Compute machine resource to be extended."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.connectedvmware#VirtualMachineInstancesStart": {
      "type": "operation",
      "input": {
        "target": "com.azure.connectedvmware#VirtualMachineInstancesStartRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{resourceUri}/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineInstances/default/start",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Implements the operation to start a virtual machine.\n\nThe operation to start a virtual machine instance.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.connectedvmware#VirtualMachineInstancesStartRequest": {
      "type": "structure",
      "members": {
        "resourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource manager identifier of the Hybrid Compute machine resource to be extended."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.connectedvmware#VirtualMachineInstancesStop": {
      "type": "operation",
      "input": {
        "target": "com.azure.connectedvmware#VirtualMachineInstancesStopRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{resourceUri}/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineInstances/default/stop",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Implements the operation to stop a virtual machine.\n\nThe operation to power off (stop) a virtual machine instance.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.connectedvmware#VirtualMachineInstancesStopRequest": {
      "type": "structure",
      "members": {
        "resourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource manager identifier of the Hybrid Compute machine resource to be extended."
          }
        },
        "skipShutdown": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Gets or sets a value indicating whether to request non-graceful VM shutdown. True value for this flag indicates non-graceful shutdown whereas false indicates otherwise. Defaults to false."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.connectedvmware#VirtualMachineInstancesList2": {
      "type": "operation",
      "input": {
        "target": "com.azure.connectedvmware#VirtualMachineInstancesListRequest"
      },
      "output": {
        "target": "com.azure.connectedvmware#VirtualMachineInstancesList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{resourceUri}/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineInstances",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Implements List virtual machine instances.\n\nLists all of the virtual machine instances within the specified parent resource.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.connectedvmware#VirtualMachineInstancesList": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Url to follow for getting next page of VirtualMachines."
          }
        },
        "value": {
          "target": "com.azure.connectedvmware#VirtualMachineInstancesListValueList",
          "traits": {
            "smithy.api#documentation": "Array of VirtualMachines",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of VirtualMachineInstances."
      }
    },
    "com.azure.connectedvmware#VirtualMachineInstancesListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.connectedvmware#VirtualMachineInstance"
      },
      "traits": {
        "smithy.api#documentation": "Array of VirtualMachines"
      }
    },
    "com.azure.connectedvmware#VirtualMachineInstance": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.connectedvmware#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.connectedvmware#VirtualMachineInstanceProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties.",
            "smithy.api#required": {}
          }
        },
        "extendedLocation": {
          "target": "com.azure.connectedvmware#ExtendedLocation",
          "traits": {
            "smithy.api#documentation": "Gets or sets the extended location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Define the virtualMachineInstance."
      }
    },
    "com.azure.connectedvmware#ExtendedLocation": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The extended location type."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The extended location name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The extended location."
      }
    },
    "com.azure.connectedvmware#VirtualMachineInstanceProperties": {
      "type": "structure",
      "members": {
        "placementProfile": {
          "target": "com.azure.connectedvmware#PlacementProfile",
          "traits": {
            "smithy.api#documentation": "Placement properties."
          }
        },
        "osProfile": {
          "target": "com.azure.connectedvmware#OsProfileForVMInstance",
          "traits": {
            "smithy.api#documentation": "OS properties."
          }
        },
        "hardwareProfile": {
          "target": "com.azure.connectedvmware#HardwareProfile",
          "traits": {
            "smithy.api#documentation": "Hardware properties."
          }
        },
        "networkProfile": {
          "target": "com.azure.connectedvmware#NetworkProfile",
          "traits": {
            "smithy.api#documentation": "Network properties."
          }
        },
        "storageProfile": {
          "target": "com.azure.connectedvmware#StorageProfile",
          "traits": {
            "smithy.api#documentation": "Storage properties."
          }
        },
        "securityProfile": {
          "target": "com.azure.connectedvmware#SecurityProfile",
          "traits": {
            "smithy.api#documentation": "Gets the security profile."
          }
        },
        "infrastructureProfile": {
          "target": "com.azure.connectedvmware#InfrastructureProfile",
          "traits": {
            "smithy.api#documentation": "Gets the infrastructure profile."
          }
        },
        "powerState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the power state of the virtual machine."
          }
        },
        "statuses": {
          "target": "com.azure.connectedvmware#VirtualMachineInstancePropertiesStatusesList",
          "traits": {
            "smithy.api#documentation": "The resource status information."
          }
        },
        "provisioningState": {
          "target": "com.azure.connectedvmware#ResourceProvisioningState",
          "traits": {
            "smithy.api#documentation": "Gets the provisioning state."
          }
        },
        "resourceUid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets a unique identifier for the vm resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the properties of a Virtual Machine Instance."
      }
    },
    "com.azure.connectedvmware#VirtualMachineInstancePropertiesStatusesList": {
      "type": "list",
      "member": {
        "target": "com.azure.connectedvmware#ResourceStatus"
      },
      "traits": {
        "smithy.api#documentation": "The resource status information."
      }
    },
    "com.azure.connectedvmware#InfrastructureProfile": {
      "type": "structure",
      "members": {
        "templateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the ARM Id of the template resource to deploy the virtual machine."
          }
        },
        "vCenterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the ARM Id of the vCenter resource in which this resource pool resides."
          }
        },
        "moRefId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the vCenter MoRef (Managed Object Reference) ID for the virtual machine."
          }
        },
        "inventoryItemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the inventory Item ID for the virtual machine."
          }
        },
        "moName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the vCenter Managed Object name for the virtual machine."
          }
        },
        "folderPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the folder path of the vm."
          }
        },
        "instanceUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the instance uuid of the vm."
          }
        },
        "smbiosUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the SMBIOS UUID of the vm."
          }
        },
        "firmwareType": {
          "target": "com.azure.connectedvmware#FirmwareType",
          "traits": {
            "smithy.api#documentation": "Firmware type"
          }
        },
        "customResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the name of the corresponding resource in Kubernetes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the vCenter infrastructure specific settings for the virtual machine."
      }
    },
    "com.azure.connectedvmware#FirmwareType": {
      "type": "enum",
      "members": {
        "BIOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bios"
          }
        },
        "EFI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "efi"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Firmware type"
      }
    },
    "com.azure.connectedvmware#SecurityProfile": {
      "type": "structure",
      "members": {
        "uefiSettings": {
          "target": "com.azure.connectedvmware#UefiSettings",
          "traits": {
            "smithy.api#documentation": "Specifies the security settings like secure boot used while creating the virtual machine."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the Security profile settings for the virtual machine."
      }
    },
    "com.azure.connectedvmware#UefiSettings": {
      "type": "structure",
      "members": {
        "secureBootEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether secure boot should be enabled on the virtual machine."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the security settings like secure boot used while creating the virtual machine."
      }
    },
    "com.azure.connectedvmware#StorageProfile": {
      "type": "structure",
      "members": {
        "disks": {
          "target": "com.azure.connectedvmware#StorageProfileDisksList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the list of virtual disks associated with the virtual machine."
          }
        },
        "scsiControllers": {
          "target": "com.azure.connectedvmware#StorageProfileScsiControllersList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the list of virtual SCSI controllers associated with the virtual machine."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the storage settings for the virtual machine disks."
      }
    },
    "com.azure.connectedvmware#StorageProfileScsiControllersList": {
      "type": "list",
      "member": {
        "target": "com.azure.connectedvmware#VirtualSCSIController"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the list of virtual SCSI controllers associated with the virtual machine."
      }
    },
    "com.azure.connectedvmware#VirtualSCSIController": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.connectedvmware#SCSIControllerType",
          "traits": {
            "smithy.api#documentation": "Gets or sets the controller type."
          }
        },
        "controllerKey": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets or sets the key of the controller."
          }
        },
        "busNumber": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets or sets the bus number of the controller."
          }
        },
        "scsiCtlrUnitNumber": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets or sets the SCSI controller unit number."
          }
        },
        "sharing": {
          "target": "com.azure.connectedvmware#VirtualSCSISharing",
          "traits": {
            "smithy.api#documentation": "Gets or sets the sharing mode."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This data object type contains the properties of a SCSI controller device attached to a virtual machine that is reported by the controller."
      }
    },
    "com.azure.connectedvmware#VirtualSCSISharing": {
      "type": "enum",
      "members": {
        "NOSHARING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "noSharing"
          }
        },
        "PHYSICALSHARING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "physicalSharing"
          }
        },
        "VIRTUALSHARING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "virtualSharing"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the sharing mode for sharing the SCSI bus."
      }
    },
    "com.azure.connectedvmware#SCSIControllerType": {
      "type": "enum",
      "members": {
        "LSILOGIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lsilogic"
          }
        },
        "BUSLOGIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "buslogic"
          }
        },
        "PVSCSI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pvscsi"
          }
        },
        "LSILOGICSAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lsilogicsas"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the different types of SCSI controllers."
      }
    },
    "com.azure.connectedvmware#StorageProfileDisksList": {
      "type": "list",
      "member": {
        "target": "com.azure.connectedvmware#VirtualDisk"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the list of virtual disks associated with the virtual machine."
      }
    },
    "com.azure.connectedvmware#VirtualDisk": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the name of the virtual disk."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the label of the virtual disk in vCenter."
          }
        },
        "diskObjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the disk object id."
          }
        },
        "diskSizeGB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets or sets the disk total size."
          }
        },
        "deviceKey": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets or sets the device key value."
          }
        },
        "diskMode": {
          "target": "com.azure.connectedvmware#DiskMode",
          "traits": {
            "smithy.api#documentation": "Gets or sets the disk mode."
          }
        },
        "controllerKey": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets or sets the controller id."
          }
        },
        "unitNumber": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets or sets the unit number of the disk on the controller."
          }
        },
        "deviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the device name."
          }
        },
        "diskType": {
          "target": "com.azure.connectedvmware#DiskType",
          "traits": {
            "smithy.api#documentation": "Gets or sets the disk backing type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Virtual disk model"
      }
    },
    "com.azure.connectedvmware#DiskType": {
      "type": "enum",
      "members": {
        "FLAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flat"
          }
        },
        "PMEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pmem"
          }
        },
        "RAWPHYSICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rawphysical"
          }
        },
        "RAWVIRTUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rawvirtual"
          }
        },
        "SPARSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sparse"
          }
        },
        "SESPARSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sesparse"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the different types of disks."
      }
    },
    "com.azure.connectedvmware#DiskMode": {
      "type": "enum",
      "members": {
        "PERSISTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "persistent"
          }
        },
        "INDEPENDENT_PERSISTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "independent_persistent"
          }
        },
        "INDEPENDENT_NONPERSISTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "independent_nonpersistent"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the different types of disk modes."
      }
    },
    "com.azure.connectedvmware#NetworkProfile": {
      "type": "structure",
      "members": {
        "networkInterfaces": {
          "target": "com.azure.connectedvmware#NetworkProfileNetworkInterfacesList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the list of network interfaces associated with the virtual machine."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the network interfaces of the virtual machine."
      }
    },
    "com.azure.connectedvmware#NetworkProfileNetworkInterfacesList": {
      "type": "list",
      "member": {
        "target": "com.azure.connectedvmware#NetworkInterface"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the list of network interfaces associated with the virtual machine."
      }
    },
    "com.azure.connectedvmware#NetworkInterface": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the name of the network interface."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the label of the virtual network in vCenter that the nic is connected to."
          }
        },
        "ipAddresses": {
          "target": "com.azure.connectedvmware#NetworkInterfaceIpAddressesList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the nic ip addresses."
          }
        },
        "macAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the NIC MAC address."
          }
        },
        "networkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the ARM Id of the network resource to connect the virtual machine."
          }
        },
        "nicType": {
          "target": "com.azure.connectedvmware#NICType",
          "traits": {
            "smithy.api#documentation": "NIC type"
          }
        },
        "powerOnBoot": {
          "target": "com.azure.connectedvmware#PowerOnBootOption",
          "traits": {
            "smithy.api#documentation": "Gets or sets the power on boot."
          }
        },
        "networkMoRefId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the vCenter MoRef (Managed Object Reference) ID of the virtual network\r\nthat the nic is connected to."
          }
        },
        "networkMoName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the name of the virtual network in vCenter that the nic is connected to."
          }
        },
        "deviceKey": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets or sets the device key value."
          }
        },
        "ipSettings": {
          "target": "com.azure.connectedvmware#NicIPSettings",
          "traits": {
            "smithy.api#documentation": "Gets or sets the ipsettings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network Interface model"
      }
    },
    "com.azure.connectedvmware#NicIPSettings": {
      "type": "structure",
      "members": {
        "allocationMethod": {
          "target": "com.azure.connectedvmware#IPAddressAllocationMethod",
          "traits": {
            "smithy.api#documentation": "Gets or sets the nic allocation method."
          }
        },
        "dnsServers": {
          "target": "com.azure.connectedvmware#NicIPSettingsDnsServersList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the dns servers."
          }
        },
        "gateway": {
          "target": "com.azure.connectedvmware#NicIPSettingsGatewayList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the gateway."
          }
        },
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the ip address for the nic."
          }
        },
        "subnetMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the mask."
          }
        },
        "primaryWinsServer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the primary server."
          }
        },
        "secondaryWinsServer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the secondary server."
          }
        },
        "ipAddressInfo": {
          "target": "com.azure.connectedvmware#NicIPSettingsIpAddressInfoList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the IP address information being reported for this NIC. This contains the same IPv4 information above plus IPV6 information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the network interface ip settings."
      }
    },
    "com.azure.connectedvmware#NicIPSettingsIpAddressInfoList": {
      "type": "list",
      "member": {
        "target": "com.azure.connectedvmware#NicIPAddressSettings"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the IP address information being reported for this NIC. This contains the same IPv4 information above plus IPV6 information."
      }
    },
    "com.azure.connectedvmware#NicIPAddressSettings": {
      "type": "structure",
      "members": {
        "allocationMethod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the ip address allocation method."
          }
        },
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the ip address for the nic."
          }
        },
        "subnetMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the mask."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IP address information for a virtual network adapter reported by the fabric."
      }
    },
    "com.azure.connectedvmware#NicIPSettingsGatewayList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the gateway."
      }
    },
    "com.azure.connectedvmware#NicIPSettingsDnsServersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the dns servers."
      }
    },
    "com.azure.connectedvmware#IPAddressAllocationMethod": {
      "type": "enum",
      "members": {
        "UNSET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unset"
          }
        },
        "DYNAMIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dynamic"
          }
        },
        "STATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "static"
          }
        },
        "LINKLAYER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "linklayer"
          }
        },
        "RANDOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "random"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IP address allocation method."
      }
    },
    "com.azure.connectedvmware#PowerOnBootOption": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the options for power on boot."
      }
    },
    "com.azure.connectedvmware#NICType": {
      "type": "enum",
      "members": {
        "VMXNET3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vmxnet3"
          }
        },
        "VMXNET2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vmxnet2"
          }
        },
        "VMXNET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vmxnet"
          }
        },
        "E1000": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "e1000"
          }
        },
        "E1000E": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "e1000e"
          }
        },
        "PCNET32": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pcnet32"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NIC type"
      }
    },
    "com.azure.connectedvmware#NetworkInterfaceIpAddressesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the nic ip addresses."
      }
    },
    "com.azure.connectedvmware#HardwareProfile": {
      "type": "structure",
      "members": {
        "memorySizeMB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets or sets memory size in MBs for the vm."
          }
        },
        "numCPUs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets or sets the number of vCPUs for the vm."
          }
        },
        "numCoresPerSocket": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets or sets the number of cores per socket for the vm. Defaults to 1 if unspecified."
          }
        },
        "cpuHotAddEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Gets or sets a value indicating whether virtual processors can be added while this virtual machine is running."
          }
        },
        "cpuHotRemoveEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Gets or sets a value indicating whether virtual processors can be removed while this virtual machine is running."
          }
        },
        "memoryHotAddEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Gets or sets a value indicating whether memory can be added while this virtual machine is running."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the hardware settings for the virtual machine."
      }
    },
    "com.azure.connectedvmware#OsProfileForVMInstance": {
      "type": "structure",
      "members": {
        "computerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets computer name."
          }
        },
        "adminUsername": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets administrator username."
          }
        },
        "adminPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets administrator password.",
            "smithy.api#sensitive": {}
          }
        },
        "guestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the guestId."
          }
        },
        "osType": {
          "target": "com.azure.connectedvmware#OsType",
          "traits": {
            "smithy.api#documentation": "Gets or sets the type of the os."
          }
        },
        "osSku": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets os sku."
          }
        },
        "toolsRunningStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the current running status of VMware Tools running in the guest operating system."
          }
        },
        "toolsVersionStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the current version status of VMware Tools installed in the guest operating system."
          }
        },
        "toolsVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the current version of VMware Tools."
          }
        },
        "windowsConfiguration": {
          "target": "com.azure.connectedvmware#WindowsConfiguration",
          "traits": {
            "smithy.api#documentation": "Windows Configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the operating system settings for the virtual machine."
      }
    },
    "com.azure.connectedvmware#WindowsConfiguration": {
      "type": "structure",
      "members": {
        "fullName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets full name of the owner of the vm."
          }
        },
        "orgName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets org name to which the owner of the vm belongs."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets domain name that vm should join."
          }
        },
        "domainUsername": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets domain username."
          }
        },
        "domainUserPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets domain user password.",
            "smithy.api#sensitive": {}
          }
        },
        "workGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets work group name that vm should join."
          }
        },
        "productId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets product id of the vm."
          }
        },
        "autoLogon": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Sets a value indicating whether auto logon is enabled."
          }
        },
        "autoLogonCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sets auto logon count."
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the time zone of the virtual machine. e.g. \"Pacific Standard Time\". Time zone name correspond to time zones listed at Microsoft Time Zone name values(https://learn.microsoft.com/en-us/previous-versions/windows/embedded/ms912391(v=winembedded.11))."
          }
        },
        "firstLogonCommands": {
          "target": "com.azure.connectedvmware#WindowsConfigurationFirstLogonCommandsList",
          "traits": {
            "smithy.api#documentation": "Sets first logon commands"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the Windows Configuration settings for the virtual machine."
      }
    },
    "com.azure.connectedvmware#WindowsConfigurationFirstLogonCommandsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Sets first logon commands"
      }
    },
    "com.azure.connectedvmware#OsType": {
      "type": "enum",
      "members": {
        "WINDOWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Windows"
          }
        },
        "LINUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Linux"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the different types of VM guest operating systems."
      }
    },
    "com.azure.connectedvmware#PlacementProfile": {
      "type": "structure",
      "members": {
        "resourcePoolId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the ARM Id of the resourcePool resource on which this virtual machine will deploy."
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the ARM Id of the cluster resource on which this virtual machine will deploy."
          }
        },
        "hostId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the ARM Id of the host resource on which this virtual machine will deploy."
          }
        },
        "datastoreId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the ARM Id of the datastore resource on which the data for the virtual machine will be kept."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the compute and storage placement settings for the virtual machine."
      }
    },
    "com.azure.connectedvmware#VirtualMachineInstancesListRequest": {
      "type": "structure",
      "members": {
        "resourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource manager identifier of the Hybrid Compute machine resource to be extended."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.connectedvmware#VirtualMachineInstancesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.connectedvmware#VirtualMachineInstancesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/{resourceUri}/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineInstances/default",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Deletes an virtual machine.\n\nThe operation to delete a virtual machine instance.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.connectedvmware#VirtualMachineInstancesDeleteRequest": {
      "type": "structure",
      "members": {
        "resourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource manager identifier of the Hybrid Compute machine resource to be extended."
          }
        },
        "deleteFromHost": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "deleteFromHost",
            "smithy.api#documentation": "Whether to delete the VM from the vCenter."
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "force",
            "smithy.api#documentation": "Whether force delete was specified."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.connectedvmware#VirtualMachineInstancesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.connectedvmware#VirtualMachineInstancesUpdateRequest"
      },
      "output": {
        "target": "com.azure.connectedvmware#VirtualMachineInstancesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/{resourceUri}/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineInstances/default",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Updates a virtual machine.\n\nThe operation to update a virtual machine instance.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.connectedvmware#VirtualMachineInstancesUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.connectedvmware#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.connectedvmware#VirtualMachineInstanceProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties.",
            "smithy.api#required": {}
          }
        },
        "extendedLocation": {
          "target": "com.azure.connectedvmware#ExtendedLocation",
          "traits": {
            "smithy.api#documentation": "Gets or sets the extended location."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.connectedvmware#VirtualMachineInstancesUpdateRequest": {
      "type": "structure",
      "members": {
        "resourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource manager identifier of the Hybrid Compute machine resource to be extended."
          }
        },
        "properties": {
          "target": "com.azure.connectedvmware#VirtualMachineInstanceUpdatePropertiesInput",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.connectedvmware#VirtualMachineInstanceUpdatePropertiesInput": {
      "type": "structure",
      "members": {
        "hardwareProfile": {
          "target": "com.azure.connectedvmware#HardwareProfileInput"
        },
        "storageProfile": {
          "target": "com.azure.connectedvmware#StorageProfileUpdate"
        },
        "networkProfile": {
          "target": "com.azure.connectedvmware#NetworkProfileUpdate"
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the properties of a Virtual Machine."
      }
    },
    "com.azure.connectedvmware#NetworkProfileUpdate": {
      "type": "structure",
      "members": {
        "networkInterfaces": {
          "target": "com.azure.connectedvmware#NetworkProfileUpdateNetworkInterfacesList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the list of network interfaces associated with the virtual machine."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the network interfaces of the virtual machine."
      }
    },
    "com.azure.connectedvmware#NetworkProfileUpdateNetworkInterfacesList": {
      "type": "list",
      "member": {
        "target": "com.azure.connectedvmware#NetworkInterfaceUpdate"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the list of network interfaces associated with the virtual machine."
      }
    },
    "com.azure.connectedvmware#NetworkInterfaceUpdate": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the name of the network interface."
          }
        },
        "networkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the ARM Id of the network resource to connect the virtual machine."
          }
        },
        "nicType": {
          "target": "com.azure.connectedvmware#NICType",
          "traits": {
            "smithy.api#documentation": "NIC type"
          }
        },
        "powerOnBoot": {
          "target": "com.azure.connectedvmware#PowerOnBootOption",
          "traits": {
            "smithy.api#documentation": "Gets or sets the power on boot."
          }
        },
        "deviceKey": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets or sets the device key value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the network interface update."
      }
    },
    "com.azure.connectedvmware#StorageProfileUpdate": {
      "type": "structure",
      "members": {
        "disks": {
          "target": "com.azure.connectedvmware#StorageProfileUpdateDisksList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the list of virtual disks associated with the virtual machine."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the storage settings for the virtual machine disks."
      }
    },
    "com.azure.connectedvmware#StorageProfileUpdateDisksList": {
      "type": "list",
      "member": {
        "target": "com.azure.connectedvmware#VirtualDiskUpdate"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the list of virtual disks associated with the virtual machine."
      }
    },
    "com.azure.connectedvmware#VirtualDiskUpdate": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the name of the virtual disk."
          }
        },
        "diskSizeGB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets or sets the disk total size."
          }
        },
        "deviceKey": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets or sets the device key value."
          }
        },
        "diskMode": {
          "target": "com.azure.connectedvmware#DiskMode",
          "traits": {
            "smithy.api#documentation": "Gets or sets the disk mode."
          }
        },
        "controllerKey": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets or sets the controller id."
          }
        },
        "unitNumber": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets or sets the unit number of the disk on the controller."
          }
        },
        "deviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the device name."
          }
        },
        "diskType": {
          "target": "com.azure.connectedvmware#DiskType",
          "traits": {
            "smithy.api#documentation": "Gets or sets the disk backing type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the virtual disk update."
      }
    },
    "com.azure.connectedvmware#HardwareProfileInput": {
      "type": "structure",
      "members": {
        "memorySizeMB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets or sets memory size in MBs for the vm."
          }
        },
        "numCPUs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets or sets the number of vCPUs for the vm."
          }
        },
        "numCoresPerSocket": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets or sets the number of cores per socket for the vm. Defaults to 1 if unspecified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the hardware settings for the virtual machine."
      }
    },
    "com.azure.connectedvmware#VirtualMachineInstancesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.connectedvmware#VirtualMachineInstancesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.connectedvmware#VirtualMachineInstancesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/{resourceUri}/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineInstances/default",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Implements virtual machine PUT method.\n\nThe operation to create or update a virtual machine instance. Please note some properties can be set only during virtual machine instance creation.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.connectedvmware#VirtualMachineInstancesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.connectedvmware#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.connectedvmware#VirtualMachineInstanceProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties.",
            "smithy.api#required": {}
          }
        },
        "extendedLocation": {
          "target": "com.azure.connectedvmware#ExtendedLocation",
          "traits": {
            "smithy.api#documentation": "Gets or sets the extended location."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.connectedvmware#VirtualMachineInstancesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "resourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource manager identifier of the Hybrid Compute machine resource to be extended."
          }
        },
        "properties": {
          "target": "com.azure.connectedvmware#VirtualMachineInstancePropertiesInput",
          "traits": {
            "smithy.api#documentation": "Resource properties.",
            "smithy.api#required": {}
          }
        },
        "extendedLocation": {
          "target": "com.azure.connectedvmware#ExtendedLocation",
          "traits": {
            "smithy.api#documentation": "Gets or sets the extended location."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.connectedvmware#VirtualMachineInstancePropertiesInput": {
      "type": "structure",
      "members": {
        "placementProfile": {
          "target": "com.azure.connectedvmware#PlacementProfile",
          "traits": {
            "smithy.api#documentation": "Placement properties."
          }
        },
        "osProfile": {
          "target": "com.azure.connectedvmware#OsProfileForVMInstanceInput",
          "traits": {
            "smithy.api#documentation": "OS properties."
          }
        },
        "hardwareProfile": {
          "target": "com.azure.connectedvmware#HardwareProfileInput",
          "traits": {
            "smithy.api#documentation": "Hardware properties."
          }
        },
        "networkProfile": {
          "target": "com.azure.connectedvmware#NetworkProfileInput",
          "traits": {
            "smithy.api#documentation": "Network properties."
          }
        },
        "storageProfile": {
          "target": "com.azure.connectedvmware#StorageProfileInput",
          "traits": {
            "smithy.api#documentation": "Storage properties."
          }
        },
        "securityProfile": {
          "target": "com.azure.connectedvmware#SecurityProfile",
          "traits": {
            "smithy.api#documentation": "Gets the security profile."
          }
        },
        "infrastructureProfile": {
          "target": "com.azure.connectedvmware#InfrastructureProfileInput",
          "traits": {
            "smithy.api#documentation": "Gets the infrastructure profile."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the properties of a Virtual Machine Instance."
      }
    },
    "com.azure.connectedvmware#InfrastructureProfileInput": {
      "type": "structure",
      "members": {
        "templateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the ARM Id of the template resource to deploy the virtual machine."
          }
        },
        "vCenterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the ARM Id of the vCenter resource in which this resource pool resides."
          }
        },
        "inventoryItemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the inventory Item ID for the virtual machine."
          }
        },
        "smbiosUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the SMBIOS UUID of the vm."
          }
        },
        "firmwareType": {
          "target": "com.azure.connectedvmware#FirmwareType",
          "traits": {
            "smithy.api#documentation": "Firmware type"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the vCenter infrastructure specific settings for the virtual machine."
      }
    },
    "com.azure.connectedvmware#StorageProfileInput": {
      "type": "structure",
      "members": {
        "disks": {
          "target": "com.azure.connectedvmware#StorageProfileInputDisksList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the list of virtual disks associated with the virtual machine."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the storage settings for the virtual machine disks."
      }
    },
    "com.azure.connectedvmware#StorageProfileInputDisksList": {
      "type": "list",
      "member": {
        "target": "com.azure.connectedvmware#VirtualDiskInput"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the list of virtual disks associated with the virtual machine."
      }
    },
    "com.azure.connectedvmware#VirtualDiskInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the name of the virtual disk."
          }
        },
        "diskSizeGB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets or sets the disk total size."
          }
        },
        "deviceKey": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets or sets the device key value."
          }
        },
        "diskMode": {
          "target": "com.azure.connectedvmware#DiskMode",
          "traits": {
            "smithy.api#documentation": "Gets or sets the disk mode."
          }
        },
        "controllerKey": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets or sets the controller id."
          }
        },
        "unitNumber": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets or sets the unit number of the disk on the controller."
          }
        },
        "deviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the device name."
          }
        },
        "diskType": {
          "target": "com.azure.connectedvmware#DiskType",
          "traits": {
            "smithy.api#documentation": "Gets or sets the disk backing type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Virtual disk model"
      }
    },
    "com.azure.connectedvmware#NetworkProfileInput": {
      "type": "structure",
      "members": {
        "networkInterfaces": {
          "target": "com.azure.connectedvmware#NetworkProfileInputNetworkInterfacesList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the list of network interfaces associated with the virtual machine."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the network interfaces of the virtual machine."
      }
    },
    "com.azure.connectedvmware#NetworkProfileInputNetworkInterfacesList": {
      "type": "list",
      "member": {
        "target": "com.azure.connectedvmware#NetworkInterfaceInput"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the list of network interfaces associated with the virtual machine."
      }
    },
    "com.azure.connectedvmware#NetworkInterfaceInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the name of the network interface."
          }
        },
        "networkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the ARM Id of the network resource to connect the virtual machine."
          }
        },
        "nicType": {
          "target": "com.azure.connectedvmware#NICType",
          "traits": {
            "smithy.api#documentation": "NIC type"
          }
        },
        "powerOnBoot": {
          "target": "com.azure.connectedvmware#PowerOnBootOption",
          "traits": {
            "smithy.api#documentation": "Gets or sets the power on boot."
          }
        },
        "deviceKey": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets or sets the device key value."
          }
        },
        "ipSettings": {
          "target": "com.azure.connectedvmware#NicIPSettingsInput",
          "traits": {
            "smithy.api#documentation": "Gets or sets the ipsettings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network Interface model"
      }
    },
    "com.azure.connectedvmware#NicIPSettingsInput": {
      "type": "structure",
      "members": {
        "allocationMethod": {
          "target": "com.azure.connectedvmware#IPAddressAllocationMethod",
          "traits": {
            "smithy.api#documentation": "Gets or sets the nic allocation method."
          }
        },
        "dnsServers": {
          "target": "com.azure.connectedvmware#NicIPSettingsInputDnsServersList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the dns servers."
          }
        },
        "gateway": {
          "target": "com.azure.connectedvmware#NicIPSettingsInputGatewayList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the gateway."
          }
        },
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the ip address for the nic."
          }
        },
        "subnetMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the mask."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the network interface ip settings."
      }
    },
    "com.azure.connectedvmware#NicIPSettingsInputGatewayList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the gateway."
      }
    },
    "com.azure.connectedvmware#NicIPSettingsInputDnsServersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the dns servers."
      }
    },
    "com.azure.connectedvmware#OsProfileForVMInstanceInput": {
      "type": "structure",
      "members": {
        "computerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets computer name."
          }
        },
        "adminUsername": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets administrator username."
          }
        },
        "adminPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets administrator password.",
            "smithy.api#sensitive": {}
          }
        },
        "guestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the guestId."
          }
        },
        "osType": {
          "target": "com.azure.connectedvmware#OsType",
          "traits": {
            "smithy.api#documentation": "Gets or sets the type of the os."
          }
        },
        "windowsConfiguration": {
          "target": "com.azure.connectedvmware#WindowsConfiguration",
          "traits": {
            "smithy.api#documentation": "Windows Configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the operating system settings for the virtual machine."
      }
    },
    "com.azure.connectedvmware#VirtualMachineInstancesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.connectedvmware#VirtualMachineInstancesGetRequest"
      },
      "output": {
        "target": "com.azure.connectedvmware#VirtualMachineInstancesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{resourceUri}/providers/Microsoft.ConnectedVMwarevSphere/virtualMachineInstances/default",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Gets a virtual machine.\n\nRetrieves information about a virtual machine instance.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.connectedvmware#VirtualMachineInstancesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
[...]
