{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.consumption#PriceSheetGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.consumption#PriceSheetGetRequest"
      },
      "output": {
        "target": "com.azure.consumption#PriceSheetGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Consumption/pricesheets/default",
          "code": 200,
          "apiVersion": "2024-08-01"
        },
        "smithy.api#documentation": "Gets the price sheet for a subscription. Price sheet is available via this API only for May 1, 2014 or later.",
        "com.distilled.openapi#apiVersion": "2024-08-01"
      }
    },
    "com.azure.consumption#PriceSheetGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.consumption#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.consumption#PriceSheetModel",
          "traits": {
            "smithy.api#documentation": "price sheet result. It contains the pricesheet associated with billing period"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "eTag of the resource. To handle concurrent update scenario, this field will be used to determine whether the user is updating the latest version or not."
          }
        },
        "tags": {
          "target": "com.azure.consumption#PriceSheetGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.consumption#PriceSheetGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.consumption#PriceSheetModel": {
      "type": "structure",
      "members": {
        "pricesheets": {
          "target": "com.azure.consumption#PriceSheetModelPricesheetsList",
          "traits": {
            "smithy.api#documentation": "Price sheet"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link (url) to the next page of results."
          }
        },
        "download": {
          "target": "com.azure.consumption#MeterDetails",
          "traits": {
            "smithy.api#documentation": "Pricesheet download details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "price sheet result. It contains the pricesheet associated with billing period"
      }
    },
    "com.azure.consumption#MeterDetails": {
      "type": "structure",
      "members": {
        "meterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the meter, within the given meter category"
          }
        },
        "meterCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The category of the meter, for example, 'Cloud services', 'Networking', etc.."
          }
        },
        "meterSubCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subcategory of the meter, for example, 'A6 Cloud services', 'ExpressRoute (IXP)', etc.."
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unit in which the meter consumption is charged, for example, 'Hours', 'GB', etc."
          }
        },
        "meterLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location in which the Azure service is available."
          }
        },
        "totalIncludedQuantity": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The total included quantity associated with the offer."
          }
        },
        "pretaxStandardRate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The pretax listing price."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the service."
          }
        },
        "serviceTier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service tier."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the meter detail."
      }
    },
    "com.azure.consumption#PriceSheetModelPricesheetsList": {
      "type": "list",
      "member": {
        "target": "com.azure.consumption#PriceSheetProperties"
      },
      "traits": {
        "smithy.api#documentation": "Price sheet"
      }
    },
    "com.azure.consumption#PriceSheetProperties": {
      "type": "structure",
      "members": {
        "billingPeriodId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the billing period resource that the usage belongs to."
          }
        },
        "meterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The meter id (GUID)"
          }
        },
        "meterDetails": {
          "target": "com.azure.consumption#MeterDetails",
          "traits": {
            "smithy.api#documentation": "The details about the meter. By default this is not populated, unless it's specified in $expand."
          }
        },
        "unitOfMeasure": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unit of measure"
          }
        },
        "includedQuantity": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Included quality for an offer"
          }
        },
        "partNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Part Number"
          }
        },
        "unitPrice": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unit Price"
          }
        },
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Currency Code"
          }
        },
        "offerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Offer Id"
          }
        },
        "savingsPlan": {
          "target": "com.azure.consumption#SavingsPlan",
          "traits": {
            "smithy.api#documentation": "SavingsPlan Details"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the price sheet."
      }
    },
    "com.azure.consumption#SavingsPlan": {
      "type": "structure",
      "members": {
        "term": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SavingsPlan term"
          }
        },
        "marketPrice": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "SavingsPlan Market Price"
          }
        },
        "effectivePrice": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "SavingsPlan Effective Price"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the SavingsPlan."
      }
    },
    "com.azure.consumption#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.consumption#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.consumption#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.consumption#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.consumption#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.consumption#PriceSheetGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "_expand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$expand",
            "smithy.api#documentation": "May be used to expand the properties/meterDetails within a price sheet. By default, these fields are not included when returning price sheet."
          }
        },
        "_skiptoken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skiptoken",
            "smithy.api#documentation": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "May be used to limit the number of results to the top N results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.consumption#PriceSheetGetByBillingPeriod": {
      "type": "operation",
      "input": {
        "target": "com.azure.consumption#PriceSheetGetByBillingPeriodRequest"
      },
      "output": {
        "target": "com.azure.consumption#PriceSheetGetByBillingPeriodResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/pricesheets/default",
          "code": 200,
          "apiVersion": "2024-08-01"
        },
        "smithy.api#documentation": "Get the price sheet for a scope by subscriptionId and billing period. Price sheet is available via this API only for May 1, 2014 or later.",
        "com.distilled.openapi#apiVersion": "2024-08-01"
      }
    },
    "com.azure.consumption#PriceSheetGetByBillingPeriodResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.consumption#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.consumption#PriceSheetModel",
          "traits": {
            "smithy.api#documentation": "price sheet result. It contains the pricesheet associated with billing period"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "eTag of the resource. To handle concurrent update scenario, this field will be used to determine whether the user is updating the latest version or not."
          }
        },
        "tags": {
          "target": "com.azure.consumption#PriceSheetGetByBillingPeriodResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.consumption#PriceSheetGetByBillingPeriodResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.consumption#PriceSheetGetByBillingPeriodRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "billingPeriodName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Billing Period Name."
          }
        },
        "_expand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$expand",
            "smithy.api#documentation": "May be used to expand the properties/meterDetails within a price sheet. By default, these fields are not included when returning price sheet."
          }
        },
        "_skiptoken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skiptoken",
            "smithy.api#documentation": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "May be used to limit the number of results to the top N results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.consumption#AggregatedCostGetByManagementGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.consumption#AggregatedCostGetByManagementGroupRequest"
      },
      "output": {
        "target": "com.azure.consumption#AggregatedCostGetByManagementGroupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Consumption/aggregatedcost",
          "code": 200,
          "apiVersion": "2024-08-01"
        },
        "smithy.api#documentation": "Provides the aggregate cost of a management group and all child management groups by current billing period.",
        "com.distilled.openapi#apiVersion": "2024-08-01"
      }
    },
    "com.azure.consumption#AggregatedCostGetByManagementGroupResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.consumption#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.consumption#ManagementGroupAggregatedCostProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the Management Group Aggregated Cost."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The etag for the resource."
          }
        },
        "tags": {
          "target": "com.azure.consumption#AggregatedCostGetByManagementGroupResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.consumption#AggregatedCostGetByManagementGroupResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.consumption#ManagementGroupAggregatedCostProperties": {
      "type": "structure",
      "members": {
        "billingPeriodId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the billing period resource that the aggregated cost belongs to."
          }
        },
        "usageStart": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start of the date time range covered by aggregated cost."
          }
        },
        "usageEnd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end of the date time range covered by the aggregated cost."
          }
        },
        "azureCharges": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Azure Charges."
          }
        },
        "marketplaceCharges": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Marketplace Charges."
          }
        },
        "chargesBilledSeparately": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Charges Billed Separately."
          }
        },
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ISO currency in which the meter is charged, for example, USD."
          }
        },
        "children": {
          "target": "com.azure.consumption#ManagementGroupAggregatedCostPropertiesChildrenList",
          "traits": {
            "smithy.api#documentation": "Children of a management group"
          }
        },
        "includedSubscriptions": {
          "target": "com.azure.consumption#ManagementGroupAggregatedCostPropertiesIncludedSubscriptionsList",
          "traits": {
            "smithy.api#documentation": "List of subscription Guids included in the calculation of aggregated cost"
          }
        },
        "excludedSubscriptions": {
          "target": "com.azure.consumption#ManagementGroupAggregatedCostPropertiesExcludedSubscriptionsList",
          "traits": {
            "smithy.api#documentation": "List of subscription Guids excluded from the calculation of aggregated cost"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the Management Group Aggregated Cost."
      }
    },
    "com.azure.consumption#ManagementGroupAggregatedCostPropertiesExcludedSubscriptionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of subscription Guids excluded from the calculation of aggregated cost"
      }
    },
    "com.azure.consumption#ManagementGroupAggregatedCostPropertiesIncludedSubscriptionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of subscription Guids included in the calculation of aggregated cost"
      }
    },
    "com.azure.consumption#ManagementGroupAggregatedCostPropertiesChildrenList": {
      "type": "list",
      "member": {
        "target": "com.azure.consumption#ManagementGroupAggregatedCostResult"
      },
      "traits": {
        "smithy.api#documentation": "Children of a management group"
      }
    },
    "com.azure.consumption#ManagementGroupAggregatedCostResult": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.consumption#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.consumption#ManagementGroupAggregatedCostProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the Management Group Aggregated Cost."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The etag for the resource."
          }
        },
        "tags": {
          "target": "com.azure.consumption#ManagementGroupAggregatedCostResultTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A management group aggregated cost resource."
      }
    },
    "com.azure.consumption#ManagementGroupAggregatedCostResultTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.consumption#AggregatedCostGetByManagementGroupRequest": {
      "type": "structure",
      "members": {
        "managementGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Order Id of the reservation"
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "Required only for daily grain. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge'"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.consumption#AggregatedCostGetForBillingPeriodByManagementGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.consumption#AggregatedCostGetForBillingPeriodByManagementGroupRequest"
      },
      "output": {
        "target": "com.azure.consumption#AggregatedCostGetForBillingPeriodByManagementGroupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/aggregatedCost",
          "code": 200,
          "apiVersion": "2024-08-01"
        },
        "smithy.api#documentation": "Provides the aggregate cost of a management group and all child management groups by specified billing period",
        "com.distilled.openapi#apiVersion": "2024-08-01"
      }
    },
    "com.azure.consumption#AggregatedCostGetForBillingPeriodByManagementGroupResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.consumption#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.consumption#ManagementGroupAggregatedCostProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the Management Group Aggregated Cost."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The etag for the resource."
          }
        },
        "tags": {
          "target": "com.azure.consumption#AggregatedCostGetForBillingPeriodByManagementGroupResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.consumption#AggregatedCostGetForBillingPeriodByManagementGroupResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.consumption#AggregatedCostGetForBillingPeriodByManagementGroupRequest": {
      "type": "structure",
      "members": {
        "managementGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Order Id of the reservation"
          }
        },
        "billingPeriodName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Billing Period Name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.consumption#OperationsList": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.azure.consumption#OperationListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.Consumption/operations",
          "code": 200,
          "apiVersion": "2024-08-01"
        },
        "smithy.api#documentation": "List the operations for the provider",
        "com.distilled.openapi#apiVersion": "2024-08-01"
      }
    },
    "com.azure.consumption#OperationListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.consumption#OperationListResultValueList",
          "traits": {
            "smithy.api#documentation": "List of consumption operations supported by the Microsoft.Consumption resource provider."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to get the next set of operation list results if there are any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of listing consumption operations. It contains a list of operations and a URL link to get the next set of results."
      }
    },
    "com.azure.consumption#OperationListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.consumption#Operation"
      },
      "traits": {
        "smithy.api#documentation": "List of consumption operations supported by the Microsoft.Consumption resource provider."
      }
    },
    "com.azure.consumption#Operation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation Id."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation name: {provider}/{resource}/{operation}."
          }
        },
        "display": {
          "target": "com.azure.consumption#OperationDisplay",
          "traits": {
            "smithy.api#documentation": "The object that represents the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Consumption REST API operation."
      }
    },
    "com.azure.consumption#OperationDisplay": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service provider: Microsoft.Consumption."
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource on which the operation is performed: UsageDetail, etc."
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation type: Read, write, delete, etc."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object that represents the operation."
      }
    },
    "com.azure.consumption#ReservationsSummariesListByReservationOrderAndReservation": {
      "type": "operation",
      "input": {
        "target": "com.azure.consumption#ReservationsSummariesListByReservationOrderAndReservationRequest"
      },
      "output": {
        "target": "com.azure.consumption#ReservationSummariesListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/reservations/{reservationId}/providers/Microsoft.Consumption/reservationSummaries",
          "code": 200,
          "apiVersion": "2024-08-01"
        },
        "smithy.api#documentation": "Lists the reservations summaries for daily or monthly grain. Note: ARM has a payload size limit of 12MB, so currently callers get 400 when the response size exceeds the ARM limit. In such cases, API call should be made with smaller date ranges.",
        "com.distilled.openapi#apiVersion": "2024-08-01"
      }
    },
    "com.azure.consumption#ReservationSummariesListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.consumption#ReservationSummariesListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of reservation summaries."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link (url) to the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of listing reservation summaries."
      }
    },
    "com.azure.consumption#ReservationSummariesListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.consumption#ReservationSummary"
      },
      "traits": {
        "smithy.api#documentation": "The list of reservation summaries."
      }
    },
    "com.azure.consumption#ReservationSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.consumption#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.consumption#ReservationSummaryProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the reservation summary."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The etag for the resource."
          }
        },
        "tags": {
          "target": "com.azure.consumption#ReservationSummaryTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "reservation summary resource."
      }
    },
    "com.azure.consumption#ReservationSummaryTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.consumption#ReservationSummaryProperties": {
      "type": "structure",
      "members": {
        "reservationOrderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reservation order ID is the identifier for a reservation purchase. Each reservation order ID represents a single purchase transaction. A reservation order contains reservations. The reservation order specifies the VM size and region for the reservations."
          }
        },
        "reservationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reservation ID is the identifier of a reservation within a reservation order. Each reservation is the grouping for applying the benefit scope and also specifies the number of instances to which the reservation benefit can be applied to."
          }
        },
        "skuName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the ARM Sku name. It can be used to join with the serviceType field in additional info in usage records."
          }
        },
        "reservedHours": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "This is the total hours reserved. E.g. if reservation for 1 instance was made on 1 PM, this will be 11 hours for that day and 24 hours from subsequent days"
          }
        },
        "usageDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Data corresponding to the utilization record. If the grain of data is monthly, it will be first day of month."
          }
        },
        "usedHours": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total used hours by the reservation"
          }
        },
        "minUtilizationPercentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "This is the minimum hourly utilization in the usage time (day or month). E.g. if usage record corresponds to 12/10/2017 and on that for hour 4 and 5, utilization was 10%, this field will return 10% for that day"
          }
        },
        "avgUtilizationPercentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "This is average utilization for the entire time range. (day or month depending on the grain)"
          }
        },
        "maxUtilizationPercentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "This is the maximum hourly utilization in the usage time (day or month). E.g. if usage record corresponds to 12/10/2017 and on that for hour 4 and 5, utilization was 100%, this field will return 100% for that day."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reservation kind."
          }
        },
        "purchasedQuantity": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "This is the purchased quantity for the reservationId."
          }
        },
        "remainingQuantity": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "This is the remaining quantity for the reservationId."
          }
        },
        "totalReservedQuantity": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "This is the total count of instances that are reserved for the reservationId."
          }
        },
        "usedQuantity": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "This is the used quantity for the reservationId."
          }
        },
        "utilizedPercentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "This is the utilized percentage for the reservation Id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the reservation summary."
      }
    },
    "com.azure.consumption#ReservationsSummariesListByReservationOrderAndReservationRequest": {
      "type": "structure",
      "members": {
        "reservationOrderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Order Id of the reservation"
          }
        },
        "reservationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Id of the reservation"
          }
        },
        "grain": {
          "target": "com.azure.consumption#ReservationsSummariesListByReservationOrderAndReservationRequestGrain",
          "traits": {
            "smithy.api#httpQuery": "grain",
            "smithy.api#required": {},
            "smithy.api#documentation": "Can be daily or monthly"
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "Required only for daily grain. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge'"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.consumption#ReservationsSummariesListByReservationOrderAndReservationRequestGrain": {
      "type": "enum",
      "members": {
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "daily"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "monthly"
          }
        }
      },
      "traits": {}
    },
    "com.azure.consumption#ReservationsDetailsListByReservationOrderAndReservation": {
      "type": "operation",
      "input": {
        "target": "com.azure.consumption#ReservationsDetailsListByReservationOrderAndReservationRequest"
      },
      "output": {
        "target": "com.azure.consumption#ReservationDetailsListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/reservations/{reservationId}/providers/Microsoft.Consumption/reservationDetails",
          "code": 200,
          "apiVersion": "2024-08-01"
        },
        "smithy.api#documentation": "Lists the reservations details for provided date range. Note: ARM has a payload size limit of 12MB, so currently callers get 400 when the response size exceeds the ARM limit. If the data size is too large, customers may also get 504 as the API timed out preparing the data. In such cases, API call should be made with smaller date ranges or a call to Generate Reservation Details Report API should be made as it is asynchronous and will not run into response size time outs.",
        "com.distilled.openapi#apiVersion": "2024-08-01"
      }
    },
    "com.azure.consumption#ReservationDetailsListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.consumption#ReservationDetailsListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of reservation details."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link (url) to the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of listing reservation details."
      }
    },
    "com.azure.consumption#ReservationDetailsListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.consumption#ReservationDetail"
      },
      "traits": {
        "smithy.api#documentation": "The list of reservation details."
      }
    },
    "com.azure.consumption#ReservationDetail": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.consumption#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.consumption#ReservationDetailProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the reservation detail."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The etag for the resource."
          }
        },
        "tags": {
          "target": "com.azure.consumption#ReservationDetailTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "reservation detail resource."
      }
    },
    "com.azure.consumption#ReservationDetailTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.consumption#ReservationDetailProperties": {
      "type": "structure",
      "members": {
        "reservationOrderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reservation order ID is the identifier for a reservation purchase. Each reservation order ID represents a single purchase transaction. A reservation order contains reservations. The reservation order specifies the VM size and region for the reservations."
          }
        },
        "instanceFlexibilityRatio": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The instance Flexibility Ratio."
          }
        },
        "instanceFlexibilityGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The instance Flexibility Group."
          }
        },
        "reservationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reservation ID is the identifier of a reservation within a reservation order. Each reservation is the grouping for applying the benefit scope and also specifies the number of instances to which the reservation benefit can be applied to."
          }
        },
        "skuName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the ARM Sku name. It can be used to join with the serviceType field in additional info in usage records."
          }
        },
        "reservedHours": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "This is the total hours reserved for the day. E.g. if reservation for 1 instance was made on 1 PM, this will be 11 hours for that day and 24 hours from subsequent days."
          }
        },
        "usageDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date on which consumption occurred."
          }
        },
        "usedHours": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "This is the total hours used by the instance."
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This identifier is the name of the resource or the fully qualified Resource ID."
          }
        },
        "totalReservedQuantity": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "This is the total count of instances that are reserved for the reservationId."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reservation kind."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the reservation detail."
      }
    },
    "com.azure.consumption#ReservationsDetailsListByReservationOrderAndReservationRequest": {
      "type": "structure",
      "members": {
        "reservationOrderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Order Id of the reservation"
          }
        },
        "reservationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Id of the reservation"
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter reservation details by date range. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge'"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.consumption#ReservationsSummariesListByReservationOrder": {
      "type": "operation",
      "input": {
        "target": "com.azure.consumption#ReservationsSummariesListByReservationOrderRequest"
      },
      "output": {
        "target": "com.azure.consumption#ReservationSummariesListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/providers/Microsoft.Consumption/reservationSummaries",
          "code": 200,
          "apiVersion": "2024-08-01"
        },
        "smithy.api#documentation": "Lists the reservations summaries for daily or monthly grain. Note: ARM has a payload size limit of 12MB, so currently callers get 400 when the response size exceeds the ARM limit. In such cases, API call should be made with smaller date ranges.",
        "com.distilled.openapi#apiVersion": "2024-08-01"
      }
    },
    "com.azure.consumption#ReservationsSummariesListByReservationOrderRequest": {
      "type": "structure",
      "members": {
        "reservationOrderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Order Id of the reservation"
          }
        },
        "grain": {
          "target": "com.azure.consumption#ReservationsSummariesListByReservationOrderRequestGrain",
          "traits": {
            "smithy.api#httpQuery": "grain",
            "smithy.api#required": {},
            "smithy.api#documentation": "Can be daily or monthly"
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "Required only for daily grain. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge'"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.consumption#ReservationsSummariesListByReservationOrderRequestGrain": {
      "type": "enum",
      "members": {
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "daily"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "monthly"
          }
        }
      },
      "traits": {}
    },
    "com.azure.consumption#ReservationsDetailsListByReservationOrder": {
      "type": "operation",
      "input": {
        "target": "com.azure.consumption#ReservationsDetailsListByReservationOrderRequest"
      },
      "output": {
        "target": "com.azure.consumption#ReservationDetailsListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/providers/Microsoft.Consumption/reservationDetails",
          "code": 200,
          "apiVersion": "2024-08-01"
        },
        "smithy.api#documentation": "Lists the reservations details for provided date range. Note: ARM has a payload size limit of 12MB, so currently callers get 400 when the response size exceeds the ARM limit. If the data size is too large, customers may also get 504 as the API timed out preparing the data. In such cases, API call should be made with smaller date ranges or a call to Generate Reservation Details Report API should be made as it is asynchronous and will not run into response size time outs.",
        "com.distilled.openapi#apiVersion": "2024-08-01"
      }
    },
    "com.azure.consumption#ReservationsDetailsListByReservationOrderRequest": {
      "type": "structure",
      "members": {
        "reservationOrderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Order Id of the reservation"
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#required": {},
            "smithy.api#documentation": "Filter reservation details by date range. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge'"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.consumption#ReservationTransactionsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.consumption#ReservationTransactionsListRequest"
      },
      "output": {
        "target": "com.azure.consumption#ReservationTransactionsListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/reservationTransactions",
          "code": 200,
          "apiVersion": "2024-08-01"
        },
        "smithy.api#documentation": "List of transactions for reserved instances on billing account scope. Note: The refund transactions are posted along with its purchase transaction (i.e. in the purchase billing month). For example, The refund is requested in May 2021. This refund transaction will have event date as May 2021 but the billing month as April 2020 when the reservation purchase was made. Note: ARM has a payload size limit of 12MB, so currently callers get 400 when the response size exceeds the ARM limit. In such cases, API call should be made with smaller date ranges.",
        "com.distilled.openapi#apiVersion": "2024-08-01"
      }
    },
    "com.azure.consumption#ReservationTransactionsListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.consumption#ReservationTransactionsListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of reservation recommendations."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link (url) to the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of listing reservation recommendations."
      }
    },
    "com.azure.consumption#ReservationTransactionsListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.consumption#ReservationTransaction"
      },
      "traits": {
        "smithy.api#documentation": "The list of reservation recommendations."
      }
    },
    "com.azure.consumption#ReservationTransaction": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.consumption#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.consumption#LegacyReservationTransactionProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a legacy reservation transaction."
          }
        },
        "tags": {
          "target": "com.azure.consumption#ReservationTransactionTagsList",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reservation transaction resource."
      }
    },
    "com.azure.consumption#ReservationTransactionTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.consumption#LegacyReservationTransactionProperties": {
      "type": "structure",
      "members": {
        "eventDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date of the transaction"
          }
        },
        "reservationOrderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reservation order ID is the identifier for a reservation purchase. Each reservation order ID represents a single purchase transaction. A reservation order contains reservations. The reservation order specifies the VM size and region for the reservations."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the transaction."
          }
        },
        "eventType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the transaction (Purchase, Cancel or Refund)."
          }
        },
        "quantity": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The quantity of the transaction."
          }
        },
        "amount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The charge of the transaction."
          }
        },
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ISO currency in which the transaction is charged, for example, USD."
          }
        },
        "reservationOrderName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the reservation order."
          }
        },
        "purchasingEnrollment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The purchasing enrollment."
          }
        },
        "purchasingSubscriptionGuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subscription guid that makes the transaction."
          }
        },
        "purchasingSubscriptionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subscription name that makes the transaction."
          }
        },
        "armSkuName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the ARM Sku name. It can be used to join with the serviceType field in additional info in usage records."
          }
        },
        "term": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the term of the transaction."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region of the transaction."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the account that makes the transaction."
          }
        },
        "accountOwnerEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the account owner that makes the transaction."
          }
        },
        "departmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The department name."
          }
        },
        "costCenter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cost center of this department if it is a department and a cost center is provided."
          }
        },
        "currentEnrollment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current enrollment."
          }
        },
        "billingFrequency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The billing frequency, which can be either one-time or recurring."
          }
        },
        "billingMonth": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The billing month(yyyyMMdd), on which the event initiated."
          }
        },
        "monetaryCommitment": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The monetary commitment amount at the enrollment scope."
          }
        },
        "overage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The overage amount at the enrollment scope."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of a legacy reservation transaction."
      }
    },
    "com.azure.consumption#ReservationTransactionsListRequest": {
      "type": "structure",
      "members": {
        "billingAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "BillingAccount ID"
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "Filter reservation transactions by date range. The properties/EventDate for start date and end date. The filter supports 'le' and  'ge'. Note: API returns data for the entire start date's and end date's billing month. For example, filter properties/eventDate+ge+2020-01-01+AND+properties/eventDate+le+2020-12-29 will include data for the entire December 2020 month (i.e. will contain records for dates December 30 and 31)"
          }
        },
        "useMarkupIfPartner": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "useMarkupIfPartner",
            "smithy.api#documentation": "Applies mark up to the transactions if the caller is a partner."
          }
        },
        "previewMarkupPercentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "previewMarkupPercentage",
            "smithy.api#documentation": "Preview markup percentage to be applied."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.consumption#LotsListByBillingAccount": {
      "type": "operation",
      "input": {
        "target": "com.azure.consumption#LotsListByBillingAccountRequest"
      },
      "output": {
        "target": "com.azure.consumption#Lots"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/lots",
          "code": 200,
          "apiVersion": "2024-08-01"
        },
        "smithy.api#documentation": "Lists all Microsoft Azure consumption commitments for a billing account. The API is only supported for Microsoft Customer Agreements (MCA) and Direct Enterprise Agreement (EA)  billing accounts.",
        "com.distilled.openapi#apiVersion": "2024-08-01"
      }
    },
    "com.azure.consumption#Lots": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.consumption#LotsValueList",
          "traits": {
            "smithy.api#documentation": "The list of lot summary."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to get the next set of operation list results if there are any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of listing lot summary."
      }
    },
    "com.azure.consumption#LotsValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.consumption#LotSummary"
      },
      "traits": {
        "smithy.api#documentation": "The list of lot summary."
      }
    },
    "com.azure.consumption#LotSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.consumption#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.consumption#LotProperties",
          "traits": {
            "smithy.api#documentation": "The lot properties."
          }
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "eTag of the resource. To handle concurrent update scenario, this field will be used to determine whether the user is updating the latest version or not."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A lot summary resource."
      }
    },
    "com.azure.consumption#LotProperties": {
      "type": "structure",
      "members": {
        "originalAmount": {
          "target": "com.azure.consumption#Amount",
          "traits": {
            "smithy.api#documentation": "The original amount of a lot, Note: This will not be returned for Contributor Organization Type in Multi-Entity consumption commitment"
          }
        },
        "closedBalance": {
          "target": "com.azure.consumption#Amount",
          "traits": {
            "smithy.api#documentation": "The balance as of the last invoice."
          }
        },
        "source": {
          "target": "com.azure.consumption#LotSource",
          "traits": {
            "smithy.api#documentation": "The source of the lot."
          }
        },
        "startDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date when the lot became effective."
          }
        },
        "expirationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expiration date of a lot."
          }
        },
        "poNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The po number of the invoice on which the lot was added. This property is not available for ConsumptionCommitment lots."
          }
        },
        "purchasedDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date when the lot was added."
          }
        },
        "status": {
          "target": "com.azure.consumption#Status",
          "traits": {
            "smithy.api#documentation": "The status of the lot."
          }
        },
        "creditCurrency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The currency of the lot."
          }
        },
        "billingCurrency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The billing currency of the lot."
          }
        },
        "originalAmountInBillingCurrency": {
          "target": "com.azure.consumption#AmountWithExchangeRate",
          "traits": {
            "smithy.api#documentation": "The original amount of a lot in billing currency,  Note: This will not be returned for Contributor Organization Type in Multi-Entity consumption commitment"
          }
        },
        "closedBalanceInBillingCurrency": {
          "target": "com.azure.consumption#AmountWithExchangeRate",
          "traits": {
            "smithy.api#documentation": "The balance as of the last invoice in billing currency."
          }
        },
        "reseller": {
          "target": "com.azure.consumption#Reseller",
          "traits": {
            "smithy.api#documentation": "The reseller of the lot."
          }
        },
        "isEstimatedBalance": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the listed details are based on an estimation and it will be subjected to change."
          }
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The eTag for the resource."
          }
        },
        "OrganizationType": {
          "target": "com.azure.consumption#OrganizationType",
          "traits": {
            "smithy.api#documentation": "The organization type of the lot."
          }
        },
        "usedAmount": {
          "target": "com.azure.consumption#Amount",
          "traits": {
            "smithy.api#documentation": "Amount consumed from the commitment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The lot properties."
      }
    },
    "com.azure.consumption#Amount": {
      "type": "structure",
      "members": {
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Amount currency."
          }
        },
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Amount."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The amount plus currency ."
      }
    },
    "com.azure.consumption#OrganizationType": {
      "type": "enum",
      "members": {
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Primary"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Contributor"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The organization type of the lot."
      }
    },
    "com.azure.consumption#Reseller": {
      "type": "structure",
      "members": {
        "resellerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reseller property ID."
          }
        },
        "resellerDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reseller property description."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The reseller properties."
      }
    },
    "com.azure.consumption#AmountWithExchangeRate": {
      "type": "structure",
      "members": {
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Amount currency."
          }
        },
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Amount."
          }
        },
        "exchangeRate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The exchange rate."
          }
        },
        "exchangeRateMonth": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The exchange rate month."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The amount with exchange rate."
      }
    },
    "com.azure.consumption#Status": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Inactive"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Expired"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Complete"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the lot."
      }
    },
    "com.azure.consumption#LotSource": {
      "type": "enum",
      "members": {
        "PURCHASEDCREDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PurchasedCredit"
          }
        },
        "PROMOTIONALCREDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PromotionalCredit"
          }
        },
        "CONSUMPTIONCOMMITMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConsumptionCommitment"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The source of the lot."
      }
    },
    "com.azure.consumption#LotsListByBillingAccountRequest": {
      "type": "structure",
      "members": {
        "billingAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "BillingAccount ID"
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "May be used to filter the lots by Status, Source etc. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.consumption#EventsListByBillingAccount": {
      "type": "operation",
      "input": {
        "target": "com.azure.consumption#EventsListByBillingAccountRequest"
      },
      "output": {
        "target": "com.azure.consumption#Events"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/events",
          "code": 200,
          "apiVersion": "2024-08-01"
        },
        "smithy.api#documentation": "Lists the events that decrements Azure credits or Microsoft Azure consumption commitment for a billing account or a billing profile for a given start and end date.",
        "com.distilled.openapi#apiVersion": "2024-08-01"
      }
    },
    "com.azure.consumption#Events": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.consumption#EventsValueList",
          "traits": {
            "smithy.api#documentation": "The list of event summary."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link (url) to the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of listing event summary."
      }
    },
    "com.azure.consumption#EventsValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.consumption#EventSummary"
      },
      "traits": {
        "smithy.api#documentation": "The list of event summary."
      }
    },
    "com.azure.consumption#EventSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.consumption#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.consumption#EventProperties",
          "traits": {
            "smithy.api#documentation": "The event properties."
          }
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The eTag for the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An event summary resource."
      }
    },
    "com.azure.consumption#EventProperties": {
      "type": "structure",
      "members": {
        "transactionDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date of the event."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the event."
          }
        },
        "newCredit": {
          "target": "com.azure.consumption#Amount",
          "traits": {
            "smithy.api#documentation": "The amount of new credit or commitment for NewCredit or SettleCharges event."
          }
        },
        "adjustments": {
          "target": "com.azure.consumption#Amount",
          "traits": {
            "smithy.api#documentation": "The amount of balance adjustment. The property is not available for ConsumptionCommitment lots."
          }
        },
        "creditExpired": {
          "target": "com.azure.consumption#Amount",
          "traits": {
            "smithy.api#documentation": "The amount of expired credit or commitment for NewCredit or SettleCharges event."
          }
        },
        "charges": {
          "target": "com.azure.consumption#Amount",
          "traits": {
            "smithy.api#documentation": "The amount of charges for events of type SettleCharges and PendingEligibleCharges."
          }
        },
        "closedBalance": {
          "target": "com.azure.consumption#Amount",
          "traits": {
            "smithy.api#documentation": "The balance after the event, Note: This will not be returned for Contributor Organization Type in Multi-Entity consumption commitment"
          }
        },
        "billingAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the billing account."
          }
        },
        "billingAccountDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the billing account."
          }
        },
        "eventType": {
          "target": "com.azure.consumption#EventType",
          "traits": {
            "smithy.api#documentation": "Identifies the type of the event."
          }
        },
        "invoiceNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number which uniquely identifies the invoice on which the event was billed. This will be empty for unbilled events."
          }
        },
        "billingProfileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID that uniquely identifies the billing profile for which the event happened. The property is only available for billing account of type MicrosoftCustomerAgreement."
          }
        },
        "billingProfileDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the billing profile for which the event happened. The property is only available for billing account of type MicrosoftCustomerAgreement."
          }
        },
        "lotId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID that uniquely identifies the lot for which the event happened."
          }
        },
        "lotSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the source of the lot for which the event happened."
          }
        },
        "canceledCredit": {
          "target": "com.azure.consumption#Amount",
          "traits": {
            "smithy.api#documentation": "Amount of canceled credit."
          }
        },
        "creditCurrency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The credit currency of the event."
          }
        },
        "billingCurrency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The billing currency of the event."
          }
        },
        "reseller": {
          "target": "com.azure.consumption#Reseller",
          "traits": {
            "smithy.api#documentation": "The reseller of the event."
          }
        },
        "creditExpiredInBillingCurrency": {
          "target": "com.azure.consumption#AmountWithExchangeRate",
          "traits": {
            "smithy.api#documentation": "The amount of expired credit or commitment for NewCredit or SettleCharges event in billing currency."
          }
        },
        "newCreditInBillingCurrency": {
          "target": "com.azure.consumption#AmountWithExchangeRate",
          "traits": {
            "smithy.api#documentation": "The amount of new credit or commitment for NewCredit or SettleCharges event in billing currency."
          }
        },
        "adjustmentsInBillingCurrency": {
          "target": "com.azure.consumption#AmountWithExchangeRate",
          "traits": {
            "smithy.api#documentation": "The amount of balance adjustment in billing currency."
          }
        },
        "chargesInBillingCurrency": {
          "target": "com.azure.consumption#AmountWithExchangeRate",
          "traits": {
            "smithy.api#documentation": "The amount of charges for events of type SettleCharges and PendingEligibleCharges in billing currency."
          }
        },
        "closedBalanceInBillingCurrency": {
          "target": "com.azure.consumption#AmountWithExchangeRate",
          "traits": {
            "smithy.api#documentation": "The balance in billing currency after the event, Note: This will not be returned for Contributor Organization Type in Multi-Entity consumption commitment"
          }
        },
        "isEstimatedBalance": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the listed details are based on an estimation and it will be subjected to change."
          }
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The eTag for the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The event properties."
      }
    },
    "com.azure.consumption#EventType": {
      "type": "enum",
      "members": {
        "SETTLEDCHARGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SettledCharges"
          }
        },
        "PENDINGCHARGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingCharges"
          }
        },
        "PENDINGADJUSTMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingAdjustments"
          }
        },
        "PENDINGNEWCREDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingNewCredit"
          }
        },
        "PENDINGEXPIREDCREDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingExpiredCredit"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UnKnown"
          }
        },
        "NEWCREDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NewCredit"
          }
        },
        "CREDITEXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreditExpired"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifies the type of the event."
      }
    },
    "com.azure.consumption#EventsListByBillingAccountRequest": {
      "type": "structure",
      "members": {
        "billingAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "BillingAccount ID"
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "May be used to filter the events by lotId, lotSource etc. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.consumption#BalancesGetByBillingAccount": {
      "type": "operation",
      "input": {
        "target": "com.azure.consumption#BalancesGetByBillingAccountRequest"
      },
      "output": {
        "target": "com.azure.consumption#BalancesGetByBillingAccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/balances",
          "code": 200,
          "apiVersion": "2024-08-01"
        },
        "smithy.api#documentation": "Gets the balances for a scope by billingAccountId. Balances are available via this API only for May 1, 2014 or later.",
        "com.distilled.openapi#apiVersion": "2024-08-01"
      }
    },
    "com.azure.consumption#BalancesGetByBillingAccountResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.consumption#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.consumption#BalanceProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the balance."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The etag for the resource."
          }
        },
        "tags": {
          "target": "com.azure.consumption#BalancesGetByBillingAccountResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.consumption#BalancesGetByBillingAccountResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.consumption#BalanceProperties": {
      "type": "structure",
      "members": {
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ISO currency in which the meter is charged, for example, USD."
          }
        },
        "beginningBalance": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The beginning balance for the billing period."
          }
        },
        "endingBalance": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The ending balance for the billing period (for open periods this will be updated daily)."
          }
        },
        "newPurchases": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total new purchase amount."
          }
        },
        "adjustments": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total adjustment amount."
          }
        },
        "utilized": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total Commitment usage."
          }
        },
        "serviceOverage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Overage for Azure services."
          }
        },
        "chargesBilledSeparately": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Charges Billed separately."
          }
        },
        "totalOverage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "serviceOverage + chargesBilledSeparately."
          }
        },
        "totalUsage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Azure service commitment + total Overage."
          }
        },
        "azureMarketplaceServiceCharges": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total charges for Azure Marketplace."
          }
        },
        "billingFrequency": {
          "target": "com.azure.consumption#BillingFrequency",
          "traits": {
            "smithy.api#documentation": "The billing frequency."
          }
        },
        "priceHidden": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Price is hidden or not."
          }
        },
        "overageRefund": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Overage Refunds"
          }
        },
        "newPurchasesDetails": {
          "target": "com.azure.consumption#BalancePropertiesNewPurchasesDetailsList",
          "traits": {
            "smithy.api#documentation": "List of new purchases."
          }
        },
[...]
