{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.containerservice#SnapshotsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerservice#SnapshotsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/snapshots/{resourceName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Deletes a snapshot.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.containerservice#SnapshotsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the managed cluster resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerservice#SnapshotsUpdateTags": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerservice#SnapshotsUpdateTagsRequest"
      },
      "output": {
        "target": "com.azure.containerservice#SnapshotsUpdateTagsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/snapshots/{resourceName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Updates tags on a snapshot.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.containerservice#SnapshotsUpdateTagsResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.containerservice#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.containerservice#SnapshotsUpdateTagsResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.containerservice#SnapshotProperties",
          "traits": {
            "smithy.api#documentation": "Properties of a snapshot."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.containerservice#SnapshotProperties": {
      "type": "structure",
      "members": {
        "creationData": {
          "target": "com.azure.containerservice#CreationData",
          "traits": {
            "smithy.api#documentation": "CreationData to be used to specify the source agent pool resource ID to create this snapshot."
          }
        },
        "snapshotType": {
          "target": "com.azure.containerservice#SnapshotPropertiesSnapshotType",
          "traits": {
            "smithy.api#documentation": "The type of a snapshot. The default is NodePool."
          }
        },
        "kubernetesVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of Kubernetes."
          }
        },
        "nodeImageVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of node image."
          }
        },
        "osType": {
          "target": "com.azure.containerservice#SnapshotPropertiesOsType",
          "traits": {
            "smithy.api#documentation": "The operating system type. The default is Linux."
          }
        },
        "osSku": {
          "target": "com.azure.containerservice#OSSKU",
          "traits": {
            "smithy.api#documentation": "Specifies the OS SKU used by the agent pool. The default is Ubuntu if OSType is Linux. The default is Windows2019 when Kubernetes <= 1.24 or Windows2022 when Kubernetes >= 1.25 if OSType is Windows."
          }
        },
        "vmSize": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The size of the VM."
          }
        },
        "enableFIPS": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to use a FIPS-enabled OS."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties used to configure a node pool snapshot."
      }
    },
    "com.azure.containerservice#OSSKU": {
      "type": "enum",
      "members": {
        "UBUNTU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ubuntu"
          }
        },
        "AZURELINUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureLinux"
          }
        },
        "AZURELINUX3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureLinux3"
          }
        },
        "CBLMARINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CBLMariner"
          }
        },
        "WINDOWS2019": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Windows2019"
          }
        },
        "WINDOWS2022": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Windows2022"
          }
        },
        "UBUNTU2204": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ubuntu2204"
          }
        },
        "WINDOWS2025": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Windows2025"
          }
        },
        "UBUNTU2404": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ubuntu2404"
          }
        },
        "AZURECONTAINERLINUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureContainerLinux"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the OS SKU used by the agent pool. The default is Ubuntu if OSType is Linux. The default is Windows2019 when Kubernetes <= 1.24 or Windows2022 when Kubernetes >= 1.25 if OSType is Windows."
      }
    },
    "com.azure.containerservice#SnapshotPropertiesOsType": {
      "type": "enum",
      "members": {
        "LINUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Linux"
          }
        },
        "WINDOWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Windows"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The operating system type. The default is Linux."
      }
    },
    "com.azure.containerservice#SnapshotPropertiesSnapshotType": {
      "type": "enum",
      "members": {
        "NODEPOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NodePool"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of a snapshot. The default is NodePool."
      }
    },
    "com.azure.containerservice#CreationData": {
      "type": "structure",
      "members": {
        "sourceResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the ARM ID of the source object to be used to create the target object."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data used when creating a target resource from a source resource."
      }
    },
    "com.azure.containerservice#SnapshotsUpdateTagsResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.containerservice#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.containerservice#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.containerservice#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.containerservice#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.containerservice#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.containerservice#SnapshotsUpdateTagsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the managed cluster resource."
          }
        },
        "tags": {
          "target": "com.azure.containerservice#SnapshotsUpdateTagsRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerservice#SnapshotsUpdateTagsRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.containerservice#SnapshotsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerservice#SnapshotsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.containerservice#SnapshotsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/snapshots/{resourceName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Creates or updates a snapshot.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.containerservice#SnapshotsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.containerservice#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.containerservice#SnapshotsCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.containerservice#SnapshotProperties",
          "traits": {
            "smithy.api#documentation": "Properties of a snapshot."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.containerservice#SnapshotsCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.containerservice#SnapshotsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the managed cluster resource."
          }
        },
        "tags": {
          "target": "com.azure.containerservice#SnapshotsCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.containerservice#SnapshotPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Properties of a snapshot."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerservice#SnapshotPropertiesInput": {
      "type": "structure",
      "members": {
        "creationData": {
          "target": "com.azure.containerservice#CreationData",
          "traits": {
            "smithy.api#documentation": "CreationData to be used to specify the source agent pool resource ID to create this snapshot."
          }
        },
        "snapshotType": {
          "target": "com.azure.containerservice#SnapshotPropertiesInputSnapshotType",
          "traits": {
            "smithy.api#documentation": "The type of a snapshot. The default is NodePool."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties used to configure a node pool snapshot."
      }
    },
    "com.azure.containerservice#SnapshotPropertiesInputSnapshotType": {
      "type": "enum",
      "members": {
        "NODEPOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NodePool"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of a snapshot. The default is NodePool."
      }
    },
    "com.azure.containerservice#SnapshotsCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.containerservice#SnapshotsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerservice#SnapshotsGetRequest"
      },
      "output": {
        "target": "com.azure.containerservice#SnapshotsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/snapshots/{resourceName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Gets a snapshot.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.containerservice#SnapshotsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.containerservice#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.containerservice#SnapshotsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.containerservice#SnapshotProperties",
          "traits": {
            "smithy.api#documentation": "Properties of a snapshot."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.containerservice#SnapshotsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.containerservice#SnapshotsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the managed cluster resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerservice#SnapshotsListByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerservice#SnapshotsListByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.containerservice#SnapshotListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/snapshots",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Lists snapshots in the specified subscription and resource group.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.containerservice#SnapshotListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.containerservice#SnapshotListResultValueList",
          "traits": {
            "smithy.api#documentation": "The Snapshot items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a Snapshot list operation."
      }
    },
    "com.azure.containerservice#SnapshotListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.containerservice#Snapshot"
      },
      "traits": {
        "smithy.api#documentation": "The Snapshot items on this page"
      }
    },
    "com.azure.containerservice#Snapshot": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.containerservice#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.containerservice#SnapshotTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.containerservice#SnapshotProperties",
          "traits": {
            "smithy.api#documentation": "Properties of a snapshot."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A node pool snapshot resource."
      }
    },
    "com.azure.containerservice#SnapshotTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.containerservice#SnapshotsListByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerservice#ManagedClustersGetUpgradeProfile": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerservice#ManagedClustersGetUpgradeProfileRequest"
      },
      "output": {
        "target": "com.azure.containerservice#ManagedClustersGetUpgradeProfileResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/upgradeProfiles/default",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Gets the upgrade profile of a managed cluster.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.containerservice#ManagedClustersGetUpgradeProfileResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.containerservice#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.containerservice#ManagedClusterUpgradeProfileProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the upgrade profile.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.containerservice#ManagedClusterUpgradeProfileProperties": {
      "type": "structure",
      "members": {
        "controlPlaneProfile": {
          "target": "com.azure.containerservice#ManagedClusterPoolUpgradeProfile",
          "traits": {
            "smithy.api#documentation": "The list of available upgrade versions for the control plane.",
            "smithy.api#required": {}
          }
        },
        "agentPoolProfiles": {
          "target": "com.azure.containerservice#ManagedClusterUpgradeProfilePropertiesAgentPoolProfilesList",
          "traits": {
            "smithy.api#documentation": "The list of available upgrade versions for agent pools.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Control plane and agent pool upgrade profiles."
      }
    },
    "com.azure.containerservice#ManagedClusterUpgradeProfilePropertiesAgentPoolProfilesList": {
      "type": "list",
      "member": {
        "target": "com.azure.containerservice#ManagedClusterPoolUpgradeProfile"
      },
      "traits": {
        "smithy.api#documentation": "The list of available upgrade versions for agent pools."
      }
    },
    "com.azure.containerservice#ManagedClusterPoolUpgradeProfile": {
      "type": "structure",
      "members": {
        "kubernetesVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Kubernetes version (major.minor.patch).",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Agent Pool name."
          }
        },
        "osType": {
          "target": "com.azure.containerservice#ManagedClusterPoolUpgradeProfileOsType",
          "traits": {
            "smithy.api#documentation": "The operating system type. The default is Linux.",
            "smithy.api#required": {}
          }
        },
        "upgrades": {
          "target": "com.azure.containerservice#ManagedClusterPoolUpgradeProfileUpgradesList",
          "traits": {
            "smithy.api#documentation": "List of orchestrator types and versions available for upgrade."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of available upgrade versions."
      }
    },
    "com.azure.containerservice#ManagedClusterPoolUpgradeProfileUpgradesList": {
      "type": "list",
      "member": {
        "target": "com.azure.containerservice#ManagedClusterPoolUpgradeProfileUpgradesItem"
      },
      "traits": {
        "smithy.api#documentation": "List of orchestrator types and versions available for upgrade."
      }
    },
    "com.azure.containerservice#ManagedClusterPoolUpgradeProfileUpgradesItem": {
      "type": "structure",
      "members": {
        "kubernetesVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Kubernetes version (major.minor.patch)."
          }
        },
        "isPreview": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Kubernetes version is currently in preview."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available upgrades for an AgentPool."
      }
    },
    "com.azure.containerservice#ManagedClusterPoolUpgradeProfileOsType": {
      "type": "enum",
      "members": {
        "LINUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Linux"
          }
        },
        "WINDOWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Windows"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The operating system type. The default is Linux."
      }
    },
    "com.azure.containerservice#ManagedClustersGetUpgradeProfileRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the managed cluster resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerservice#TrustedAccessRoleBindingsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerservice#TrustedAccessRoleBindingsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/trustedAccessRoleBindings/{trustedAccessRoleBindingName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Delete a trusted access role binding.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.containerservice#TrustedAccessRoleBindingsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the managed cluster resource."
          }
        },
        "trustedAccessRoleBindingName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of trusted access role binding."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerservice#TrustedAccessRoleBindingsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerservice#TrustedAccessRoleBindingsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.containerservice#TrustedAccessRoleBindingsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/trustedAccessRoleBindings/{trustedAccessRoleBindingName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Create or update a trusted access role binding",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.containerservice#TrustedAccessRoleBindingsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.containerservice#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.containerservice#TrustedAccessRoleBindingProperties",
          "traits": {
            "smithy.api#documentation": "Properties for trusted access role binding",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.containerservice#TrustedAccessRoleBindingProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.containerservice#TrustedAccessRoleBindingProvisioningState",
          "traits": {
            "smithy.api#documentation": "The current provisioning state of trusted access role binding."
          }
        },
        "sourceResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ARM resource ID of source resource that trusted access is configured for.",
            "smithy.api#required": {}
          }
        },
        "roles": {
          "target": "com.azure.containerservice#TrustedAccessRoleBindingPropertiesRolesList",
          "traits": {
            "smithy.api#documentation": "A list of roles to bind, each item is a resource type qualified role name. For example: 'Microsoft.MachineLearningServices/workspaces/reader'.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties for trusted access role binding"
      }
    },
    "com.azure.containerservice#TrustedAccessRoleBindingPropertiesRolesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of roles to bind, each item is a resource type qualified role name. For example: 'Microsoft.MachineLearningServices/workspaces/reader'."
      }
    },
    "com.azure.containerservice#TrustedAccessRoleBindingProvisioningState": {
      "type": "enum",
      "members": {
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current provisioning state of trusted access role binding."
      }
    },
    "com.azure.containerservice#TrustedAccessRoleBindingsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the managed cluster resource."
          }
        },
        "trustedAccessRoleBindingName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of trusted access role binding."
          }
        },
        "properties": {
          "target": "com.azure.containerservice#TrustedAccessRoleBindingPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Properties for trusted access role binding",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerservice#TrustedAccessRoleBindingPropertiesInput": {
      "type": "structure",
      "members": {
        "sourceResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ARM resource ID of source resource that trusted access is configured for.",
            "smithy.api#required": {}
          }
        },
        "roles": {
          "target": "com.azure.containerservice#TrustedAccessRoleBindingPropertiesInputRolesList",
          "traits": {
            "smithy.api#documentation": "A list of roles to bind, each item is a resource type qualified role name. For example: 'Microsoft.MachineLearningServices/workspaces/reader'.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties for trusted access role binding"
      }
    },
    "com.azure.containerservice#TrustedAccessRoleBindingPropertiesInputRolesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of roles to bind, each item is a resource type qualified role name. For example: 'Microsoft.MachineLearningServices/workspaces/reader'."
      }
    },
    "com.azure.containerservice#TrustedAccessRoleBindingsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerservice#TrustedAccessRoleBindingsGetRequest"
      },
      "output": {
        "target": "com.azure.containerservice#TrustedAccessRoleBindingsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/trustedAccessRoleBindings/{trustedAccessRoleBindingName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Get a trusted access role binding.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.containerservice#TrustedAccessRoleBindingsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.containerservice#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.containerservice#TrustedAccessRoleBindingProperties",
          "traits": {
            "smithy.api#documentation": "Properties for trusted access role binding",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.containerservice#TrustedAccessRoleBindingsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the managed cluster resource."
          }
        },
        "trustedAccessRoleBindingName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of trusted access role binding."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerservice#TrustedAccessRoleBindingsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerservice#TrustedAccessRoleBindingsListRequest"
      },
      "output": {
        "target": "com.azure.containerservice#TrustedAccessRoleBindingListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/trustedAccessRoleBindings",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "List trusted access role bindings.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.containerservice#TrustedAccessRoleBindingListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.containerservice#TrustedAccessRoleBindingListResultValueList",
          "traits": {
            "smithy.api#documentation": "The TrustedAccessRoleBinding items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a TrustedAccessRoleBinding list operation."
      }
    },
    "com.azure.containerservice#TrustedAccessRoleBindingListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.containerservice#TrustedAccessRoleBinding"
      },
      "traits": {
        "smithy.api#documentation": "The TrustedAccessRoleBinding items on this page"
      }
    },
    "com.azure.containerservice#TrustedAccessRoleBinding": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.containerservice#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.containerservice#TrustedAccessRoleBindingProperties",
          "traits": {
            "smithy.api#documentation": "Properties for trusted access role binding",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines binding between a resource and role"
      }
    },
    "com.azure.containerservice#TrustedAccessRoleBindingsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the managed cluster resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerservice#ManagedClustersStop": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerservice#ManagedClustersStopRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/stop",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Stops a Managed Cluster\n\nThis can only be performed on Azure Virtual Machine Scale set backed clusters. Stopping a cluster stops the control plane and agent nodes entirely, while maintaining all object and cluster state. A cluster does not accrue charges while it is stopped. See [stopping a cluster](https://docs.microsoft.com/azure/aks/start-stop-cluster) for more details about stopping a cluster.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.containerservice#ManagedClustersStopRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the managed cluster resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerservice#ManagedClustersStart": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerservice#ManagedClustersStartRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/start",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Starts a previously stopped Managed Cluster\n\nSee [starting a cluster](https://docs.microsoft.com/azure/aks/start-stop-cluster) for more details about starting a cluster.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.containerservice#ManagedClustersStartRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the managed cluster resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerservice#ManagedClustersRunCommand": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerservice#ManagedClustersRunCommandRequest"
      },
      "output": {
        "target": "com.azure.containerservice#RunCommandResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/runCommand",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Submits a command to run against the Managed Cluster.\n\nAKS will create a pod to run the command. This is primarily useful for private clusters. For more information see [AKS Run Command](https://docs.microsoft.com/azure/aks/private-clusters#aks-run-command-preview).",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.containerservice#RunCommandResult": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The command id."
          }
        },
        "properties": {
          "target": "com.azure.containerservice#CommandResultProperties",
          "traits": {
            "smithy.api#documentation": "Properties of command result."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "run command result."
      }
    },
    "com.azure.containerservice#CommandResultProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "provisioning State"
          }
        },
        "exitCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The exit code of the command"
          }
        },
        "startedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the command started."
          }
        },
        "finishedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the command finished."
          }
        },
        "logs": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The command output."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An explanation of why provisioningState is set to failed (if so)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The results of a run command"
      }
    },
    "com.azure.containerservice#ManagedClustersRunCommandRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the managed cluster resource."
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The command to run.",
            "smithy.api#required": {}
          }
        },
        "context": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A base64 encoded zip file containing the files required by the command."
          }
        },
        "clusterToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "AuthToken issued for AKS AAD Server App."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerservice#ManagedClustersRotateServiceAccountSigningKeys": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerservice#ManagedClustersRotateServiceAccountSigningKeysRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/rotateServiceAccountSigningKeys",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Rotates the service account signing keys of a managed cluster.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.containerservice#ManagedClustersRotateServiceAccountSigningKeysRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the managed cluster resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerservice#ManagedClustersRotateClusterCertificates": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerservice#ManagedClustersRotateClusterCertificatesRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/rotateClusterCertificates",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Rotates the certificates of a managed cluster.\n\nSee [Certificate rotation](https://docs.microsoft.com/azure/aks/certificate-rotation) for more details about rotating managed cluster certificates.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.containerservice#ManagedClustersRotateClusterCertificatesRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the managed cluster resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerservice#ResolvePrivateLinkServiceIdPOST": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerservice#ResolvePrivateLinkServiceIdPOSTRequest"
      },
      "output": {
        "target": "com.azure.containerservice#PrivateLinkResource"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/resolvePrivateLinkServiceId",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Gets the private link service ID for the specified managed cluster.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.containerservice#PrivateLinkResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the private link resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the private link resource. See [naming rules](https://aka.ms/search-naming-rules) for more details."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type."
          }
        },
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The group ID of the resource."
          }
        },
        "requiredMembers": {
          "target": "com.azure.containerservice#PrivateLinkResourceRequiredMembersList",
          "traits": {
            "smithy.api#documentation": "The RequiredMembers of the resource"
          }
        },
        "privateLinkServiceID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The private link service ID of the resource, this field is exposed only to NRP internally."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A private link resource"
      }
    },
    "com.azure.containerservice#PrivateLinkResourceRequiredMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The RequiredMembers of the resource"
      }
    },
    "com.azure.containerservice#ResolvePrivateLinkServiceIdPOSTRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the managed cluster resource."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the private link resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the private link resource. See [naming rules](https://aka.ms/search-naming-rules) for more details."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type."
          }
        },
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The group ID of the resource."
          }
        },
        "requiredMembers": {
          "target": "com.azure.containerservice#ResolvePrivateLinkServiceIdPOSTRequestRequiredMembersList",
          "traits": {
            "smithy.api#documentation": "The RequiredMembers of the resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerservice#ResolvePrivateLinkServiceIdPOSTRequestRequiredMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The RequiredMembers of the resource"
      }
    },
    "com.azure.containerservice#ManagedClustersResetServicePrincipalProfile": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerservice#ManagedClustersResetServicePrincipalProfileRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/resetServicePrincipalProfile",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Reset the Service Principal Profile of a managed cluster.\n\nThis action cannot be performed on a cluster that is not using a service principal",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.containerservice#ManagedClustersResetServicePrincipalProfileRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the managed cluster resource."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID for the service principal.",
            "smithy.api#required": {}
          }
        },
        "secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secret password associated with the service principal in plain text.",
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerservice#PrivateLinkResourcesList": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerservice#PrivateLinkResourcesListRequest"
      },
      "output": {
        "target": "com.azure.containerservice#PrivateLinkResourcesListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/privateLinkResources",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Gets a list of private link resources in the specified managed cluster.\n\nTo learn more about private clusters, see: https://docs.microsoft.com/azure/aks/private-clusters",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.containerservice#PrivateLinkResourcesListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.containerservice#PrivateLinkResourcesListResultValueList",
          "traits": {
            "smithy.api#documentation": "The collection value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of private link resources"
      }
    },
    "com.azure.containerservice#PrivateLinkResourcesListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.containerservice#PrivateLinkResource"
      },
      "traits": {
        "smithy.api#documentation": "The collection value."
      }
    },
    "com.azure.containerservice#PrivateLinkResourcesListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the managed cluster resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerservice#PrivateEndpointConnectionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerservice#PrivateEndpointConnectionsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Deletes a private endpoint connection.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.containerservice#PrivateEndpointConnectionsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the managed cluster resource."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerservice#PrivateEndpointConnectionsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerservice#PrivateEndpointConnectionsUpdateRequest"
      },
      "output": {
        "target": "com.azure.containerservice#PrivateEndpointConnectionsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Updates a private endpoint connection.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.containerservice#PrivateEndpointConnectionsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.containerservice#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.containerservice#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a private endpoint connection."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.containerservice#PrivateEndpointConnectionProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.containerservice#PrivateEndpointConnectionProvisioningState",
          "traits": {
            "smithy.api#documentation": "The current provisioning state."
          }
        },
        "privateEndpoint": {
          "target": "com.azure.containerservice#PrivateEndpoint",
          "traits": {
            "smithy.api#documentation": "The resource of private endpoint."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.containerservice#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a private endpoint connection."
      }
    },
    "com.azure.containerservice#PrivateLinkServiceConnectionState": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.containerservice#ConnectionStatus",
          "traits": {
            "smithy.api#documentation": "The private link service connection status."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The private link service connection description."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of a private link service connection."
      }
    },
    "com.azure.containerservice#ConnectionStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disconnected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private link service connection status."
      }
    },
    "com.azure.containerservice#PrivateEndpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID of the private endpoint"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Private endpoint which a connection belongs to."
      }
    },
    "com.azure.containerservice#PrivateEndpointConnectionProvisioningState": {
      "type": "enum",
      "members": {
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current provisioning state."
      }
    },
    "com.azure.containerservice#PrivateEndpointConnectionsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the managed cluster resource."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection."
          }
        },
        "properties": {
          "target": "com.azure.containerservice#PrivateEndpointConnectionPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The properties of a private endpoint connection."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerservice#PrivateEndpointConnectionPropertiesInput": {
      "type": "structure",
      "members": {
        "privateEndpoint": {
          "target": "com.azure.containerservice#PrivateEndpoint",
          "traits": {
            "smithy.api#documentation": "The resource of private endpoint."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.containerservice#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a private endpoint connection."
      }
    },
    "com.azure.containerservice#PrivateEndpointConnectionsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerservice#PrivateEndpointConnectionsGetRequest"
      },
      "output": {
        "target": "com.azure.containerservice#PrivateEndpointConnectionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Gets the specified private endpoint connection.\n\nTo learn more about private clusters, see: https://docs.microsoft.com/azure/aks/private-clusters",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.containerservice#PrivateEndpointConnectionsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.containerservice#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.containerservice#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a private endpoint connection."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.containerservice#PrivateEndpointConnectionsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the managed cluster resource."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerservice#PrivateEndpointConnectionsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerservice#PrivateEndpointConnectionsListRequest"
      },
      "output": {
        "target": "com.azure.containerservice#PrivateEndpointConnectionListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/privateEndpointConnections",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Gets a list of private endpoint connections in the specified managed cluster.\n\nTo learn more about private clusters, see: https://docs.microsoft.com/azure/aks/private-clusters",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.containerservice#PrivateEndpointConnectionListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.containerservice#PrivateEndpointConnectionListResultValueList",
          "traits": {
            "smithy.api#documentation": "The collection value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of private endpoint connections"
      }
    },
    "com.azure.containerservice#PrivateEndpointConnectionListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.containerservice#PrivateEndpointConnection"
      },
      "traits": {
        "smithy.api#documentation": "The collection value."
      }
    },
    "com.azure.containerservice#PrivateEndpointConnection": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.containerservice#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.containerservice#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a private endpoint connection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A private endpoint connection"
      }
    },
    "com.azure.containerservice#PrivateEndpointConnectionsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the managed cluster resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerservice#ManagedClustersListOutboundNetworkDependenciesEndpoints": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerservice#ManagedClustersListOutboundNetworkDependenciesEndpointsRequest"
      },
      "output": {
        "target": "com.azure.containerservice#OutboundEnvironmentEndpointCollection"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/outboundNetworkDependenciesEndpoints",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Gets a list of egress endpoints (network endpoints of all outbound dependencies) in the specified managed cluster.\n\nGets a list of egress endpoints (network endpoints of all outbound dependencies) in the specified managed cluster. The operation returns properties of each egress endpoint.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.containerservice#OutboundEnvironmentEndpointCollection": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.containerservice#OutboundEnvironmentEndpointCollectionValueList",
          "traits": {
            "smithy.api#documentation": "The OutboundEnvironmentEndpoint items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collection of OutboundEnvironmentEndpoint"
      }
    },
    "com.azure.containerservice#OutboundEnvironmentEndpointCollectionValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.containerservice#OutboundEnvironmentEndpoint"
      },
      "traits": {
        "smithy.api#documentation": "The OutboundEnvironmentEndpoint items on this page"
      }
    },
    "com.azure.containerservice#OutboundEnvironmentEndpoint": {
      "type": "structure",
      "members": {
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The category of endpoints accessed by the AKS agent node, e.g. azure-resource-management, apiserver, etc."
          }
        },
        "endpoints": {
          "target": "com.azure.containerservice#OutboundEnvironmentEndpointEndpointsList",
          "traits": {
            "smithy.api#documentation": "The endpoints that AKS agent nodes connect to"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Egress endpoints which AKS agent nodes connect to for common purpose."
      }
    },
    "com.azure.containerservice#OutboundEnvironmentEndpointEndpointsList": {
      "type": "list",
      "member": {
        "target": "com.azure.containerservice#EndpointDependency"
      },
      "traits": {
        "smithy.api#documentation": "The endpoints that AKS agent nodes connect to"
      }
    },
    "com.azure.containerservice#EndpointDependency": {
      "type": "structure",
      "members": {
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain name of the dependency."
          }
        },
        "endpointDetails": {
          "target": "com.azure.containerservice#EndpointDependencyEndpointDetailsList",
          "traits": {
[...]
