{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.containerinstance#SubnetServiceAssociationLinkDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerinstance#SubnetServiceAssociationLinkDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/subnets/{subnetName}/providers/Microsoft.ContainerInstance/serviceAssociationLinks/default",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Delete container group virtual network association links.\n\nDelete container group virtual network association links. The operation does not delete other resources provided by the user.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.containerinstance#SubnetServiceAssociationLinkDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualNetworkName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual network."
          }
        },
        "subnetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the subnet."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerinstance#NGroupsStop": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerinstance#NGroupsStopRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/ngroups/{ngroupsName}/stop",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Stops all container groups in the specified NGroups resource.\n\nStops all container groups in the specified NGroups resource. Compute resources will be deallocated and billing will stop.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.containerinstance#NGroupsStopRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "ngroupsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The NGroups name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerinstance#NGroupsStart": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerinstance#NGroupsStartRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/ngroups/{ngroupsName}/start",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Starts all container groups in the specified NGroups resource.\n\nStarts all container groups in the specified NGroups resource. Compute resources will be allocated and billing will start.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.containerinstance#NGroupsStartRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "ngroupsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The NGroups name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerinstance#NGroupsRestart": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerinstance#NGroupsRestartRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/ngroups/{ngroupsName}/restart",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Restarts all container groups in the specified NGroups resource.\n\nRestarts all container groups in the specified NGroups resource in place. If container image has updates, new image will be downloaded.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.containerinstance#NGroupsRestartRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "ngroupsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The NGroups name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerinstance#NGroupsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerinstance#NGroupsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/ngroups/{ngroupsName}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "NGroups Delete REST API\n\nDeletes the NGroups resource.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.containerinstance#NGroupsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "ngroupsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The NGroups name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerinstance#NGroupsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerinstance#NGroupsUpdateRequest"
      },
      "output": {
        "target": "com.azure.containerinstance#NGroupsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/ngroups/{ngroupsName}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "NGroups PATCH REST API\n\nUpdate a specified NGroups resource.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.containerinstance#NGroupsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.containerinstance#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.containerinstance#NGroupProperties",
          "traits": {
            "smithy.api#documentation": "Describes the properties of the NGroups resource."
          }
        },
        "tags": {
          "target": "com.azure.containerinstance#NGroupsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        },
        "zones": {
          "target": "com.azure.containerinstance#NGroupsUpdateResponseZonesList",
          "traits": {
            "smithy.api#documentation": "The availability zones."
          }
        },
        "identity": {
          "target": "com.azure.containerinstance#NGroupIdentity",
          "traits": {
            "smithy.api#documentation": "The identity of the NGroup, if configured."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.containerinstance#NGroupIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal id of the NGroup identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant id associated with the NGroup. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.containerinstance#ResourceIdentityType",
          "traits": {
            "smithy.api#documentation": "The type of identity used for the NGroup. The type 'SystemAssigned, UserAssigned' includes both an implicitly created identity and a set of user assigned identities. The type 'None' will remove any identities from the NGroup."
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.containerinstance#NGroupIdentityUserAssignedIdentitiesMap",
          "traits": {
            "smithy.api#documentation": "The list of user identities associated with the NGroup."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity for the NGroup."
      }
    },
    "com.azure.containerinstance#NGroupIdentityUserAssignedIdentitiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.containerinstance#UserAssignedIdentities"
      },
      "traits": {
        "smithy.api#documentation": "The list of user identities associated with the NGroup."
      }
    },
    "com.azure.containerinstance#UserAssignedIdentities": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal id of user assigned identity."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client id of user assigned identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of user identities associated with the container group. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."
      }
    },
    "com.azure.containerinstance#ResourceIdentityType": {
      "type": "enum",
      "members": {
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        },
        "SYSTEMASSIGNED_USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned, UserAssigned"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity used for the container group. The type 'SystemAssigned, UserAssigned' includes both an implicitly created identity and a set of user assigned identities. The type 'None' will remove any identities from the container group."
      }
    },
    "com.azure.containerinstance#NGroupsUpdateResponseZonesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The availability zones."
      }
    },
    "com.azure.containerinstance#NGroupsUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.containerinstance#NGroupProperties": {
      "type": "structure",
      "members": {
        "elasticProfile": {
          "target": "com.azure.containerinstance#ElasticProfile",
          "traits": {
            "smithy.api#documentation": "The elastic profile."
          }
        },
        "placementProfile": {
          "target": "com.azure.containerinstance#PlacementProfile",
          "traits": {
            "smithy.api#documentation": "Provides options w.r.t allocation and management w.r.t certain placement policies. These utilize capabilities provided by the underlying Azure infrastructure. They are typically used for high availability scenarios. E.g., distributing CGs across fault domains."
          }
        },
        "containerGroupProfiles": {
          "target": "com.azure.containerinstance#NGroupPropertiesContainerGroupProfilesList",
          "traits": {
            "smithy.api#documentation": "The Container Group Profiles that could be used in the NGroups resource."
          }
        },
        "provisioningState": {
          "target": "com.azure.containerinstance#NGroupProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state, which only appears in the response."
          }
        },
        "updateProfile": {
          "target": "com.azure.containerinstance#UpdateProfile",
          "traits": {
            "smithy.api#documentation": "Used by the customer to specify the way to update the Container Groups in NGroup."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the properties of the NGroups resource."
      }
    },
    "com.azure.containerinstance#UpdateProfile": {
      "type": "structure",
      "members": {
        "updateMode": {
          "target": "com.azure.containerinstance#NGroupUpdateMode"
        },
        "rollingUpdateProfile": {
          "target": "com.azure.containerinstance#UpdateProfileRollingUpdateProfile",
          "traits": {
            "smithy.api#documentation": "This profile allows the customers to customize the rolling update."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Used by the customer to specify the way to update the Container Groups in NGroup."
      }
    },
    "com.azure.containerinstance#UpdateProfileRollingUpdateProfile": {
      "type": "structure",
      "members": {
        "maxBatchPercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum percentage of total Container Groups which can be updated simultaneously by rolling update in one batch."
          }
        },
        "maxUnhealthyPercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum percentage of the updated Container Groups which can be in unhealthy state after each batch is updated."
          }
        },
        "pauseTimeBetweenBatches": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The wait time between batches after completing the one batch of the rolling update and starting the next batch. The time duration should be specified in ISO 8601 format for duration."
          }
        },
        "inPlaceUpdate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Default is false. If set to true, the CGs will be updated in-place instead of creating new CG and deleting old ones."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This profile allows the customers to customize the rolling update."
      }
    },
    "com.azure.containerinstance#NGroupUpdateMode": {
      "type": "enum",
      "members": {
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Manual"
          }
        },
        "ROLLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rolling"
          }
        }
      },
      "traits": {}
    },
    "com.azure.containerinstance#NGroupProvisioningState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "MIGRATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Migrating"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioning state, which only appears in the response."
      }
    },
    "com.azure.containerinstance#NGroupPropertiesContainerGroupProfilesList": {
      "type": "list",
      "member": {
        "target": "com.azure.containerinstance#ContainerGroupProfileStub"
      },
      "traits": {
        "smithy.api#documentation": "The Container Group Profiles that could be used in the NGroups resource."
      }
    },
    "com.azure.containerinstance#ContainerGroupProfileStub": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "com.azure.containerinstance#ApiEntityReference",
          "traits": {
            "smithy.api#documentation": "A reference to the container group profile ARM resource hosted in ACI RP."
          }
        },
        "revision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The revision of the CG profile is an optional property. If customer does not to provide a revision then NGroups will pickup the latest revision of CGProfile."
          }
        },
        "networkProfile": {
          "target": "com.azure.containerinstance#NetworkProfile",
          "traits": {
            "smithy.api#documentation": "A network profile for network settings of a ContainerGroupProfile."
          }
        },
        "storageProfile": {
          "target": "com.azure.containerinstance#StorageProfile",
          "traits": {
            "smithy.api#documentation": "Storage profile for storage related settings of a container group profile."
          }
        },
        "containerGroupProperties": {
          "target": "com.azure.containerinstance#NGroupContainerGroupProperties",
          "traits": {
            "smithy.api#documentation": "Container Group properties which can be set while creating or updating the NGroups."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object that contains a reference to a Container Group Profile and it's other related properties."
      }
    },
    "com.azure.containerinstance#NGroupContainerGroupProperties": {
      "type": "structure",
      "members": {
        "subnetIds": {
          "target": "com.azure.containerinstance#NGroupContainerGroupPropertiesSubnetIdsList",
          "traits": {
            "smithy.api#documentation": "Contains information about Virtual Network Subnet ARM Resource"
          }
        },
        "volumes": {
          "target": "com.azure.containerinstance#NGroupContainerGroupPropertiesVolumesList",
          "traits": {
            "smithy.api#documentation": "Contains information about the volumes that can be mounted by Containers in the Container Groups."
          }
        },
        "containers": {
          "target": "com.azure.containerinstance#NGroupContainerGroupPropertiesContainersList",
          "traits": {
            "smithy.api#documentation": "Contains information about Container which can be set while creating or updating the NGroups."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Container Group properties which can be set while creating or updating the NGroups."
      }
    },
    "com.azure.containerinstance#NGroupContainerGroupPropertiesContainersList": {
      "type": "list",
      "member": {
        "target": "com.azure.containerinstance#NGroupCGPropertyContainer"
      },
      "traits": {
        "smithy.api#documentation": "Contains information about Container which can be set while creating or updating the NGroups."
      }
    },
    "com.azure.containerinstance#NGroupCGPropertyContainer": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "container name"
          }
        },
        "properties": {
          "target": "com.azure.containerinstance#NGroupCGPropertyContainerProperties",
          "traits": {
            "smithy.api#documentation": "container properties"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Container properties that can be provided with NGroups object."
      }
    },
    "com.azure.containerinstance#NGroupCGPropertyContainerProperties": {
      "type": "structure",
      "members": {
        "volumeMounts": {
          "target": "com.azure.containerinstance#NGroupCGPropertyContainerPropertiesVolumeMountsList"
        }
      },
      "traits": {
        "smithy.api#documentation": "container properties"
      }
    },
    "com.azure.containerinstance#NGroupCGPropertyContainerPropertiesVolumeMountsList": {
      "type": "list",
      "member": {
        "target": "com.azure.containerinstance#VolumeMount"
      },
      "traits": {}
    },
    "com.azure.containerinstance#VolumeMount": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the volume mount.",
            "smithy.api#required": {}
          }
        },
        "mountPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path within the container where the volume should be mounted. Must not contain colon (:).",
            "smithy.api#required": {}
          }
        },
        "readOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The flag indicating whether the volume mount is read-only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the volume mount."
      }
    },
    "com.azure.containerinstance#NGroupContainerGroupPropertiesVolumesList": {
      "type": "list",
      "member": {
        "target": "com.azure.containerinstance#NGroupCGPropertyVolume"
      },
      "traits": {
        "smithy.api#documentation": "Contains information about the volumes that can be mounted by Containers in the Container Groups."
      }
    },
    "com.azure.containerinstance#NGroupCGPropertyVolume": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the volume.",
            "smithy.api#required": {}
          }
        },
        "azureFile": {
          "target": "com.azure.containerinstance#AzureFileVolume",
          "traits": {
            "smithy.api#documentation": "The Azure File volume."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains information about the volumes that can be mounted by Containers in the Container Groups."
      }
    },
    "com.azure.containerinstance#AzureFileVolume": {
      "type": "structure",
      "members": {
        "shareName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Azure File share to be mounted as a volume.",
            "smithy.api#required": {}
          }
        },
        "readOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The flag indicating whether the Azure File shared mounted as a volume is read-only."
          }
        },
        "storageAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the storage account that contains the Azure File share.",
            "smithy.api#required": {}
          }
        },
        "storageAccountKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The storage account access key used to access the Azure File share."
          }
        },
        "storageAccountKeyReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reference to the storage account access key used to access the Azure File share."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the Azure File volume. Azure File shares are mounted as volumes."
      }
    },
    "com.azure.containerinstance#NGroupContainerGroupPropertiesSubnetIdsList": {
      "type": "list",
      "member": {
        "target": "com.azure.containerinstance#ContainerGroupSubnetId"
      },
      "traits": {
        "smithy.api#documentation": "Contains information about Virtual Network Subnet ARM Resource"
      }
    },
    "com.azure.containerinstance#ContainerGroupSubnetId": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID of virtual network and subnet.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Friendly name for the subnet."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Container group subnet information."
      }
    },
    "com.azure.containerinstance#StorageProfile": {
      "type": "structure",
      "members": {
        "fileShares": {
          "target": "com.azure.containerinstance#StorageProfileFileSharesList"
        }
      },
      "traits": {
        "smithy.api#documentation": "Storage profile for storage related settings of a container group profile."
      }
    },
    "com.azure.containerinstance#StorageProfileFileSharesList": {
      "type": "list",
      "member": {
        "target": "com.azure.containerinstance#FileShare"
      },
      "traits": {}
    },
    "com.azure.containerinstance#FileShare": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "resourceGroupName": {
          "target": "smithy.api#String"
        },
        "storageAccountName": {
          "target": "smithy.api#String"
        },
        "properties": {
          "target": "com.azure.containerinstance#FileShareProperties"
        }
      },
      "traits": {
        "smithy.api#documentation": "File shares that can be mounted on container groups."
      }
    },
    "com.azure.containerinstance#FileShareProperties": {
      "type": "structure",
      "members": {
        "shareAccessType": {
          "target": "com.azure.containerinstance#AzureFileShareAccessType",
          "traits": {
            "smithy.api#documentation": "Specifies how Container Groups can access the Azure file share i.e. all CG will share same Azure file share or going to have exclusive file share."
          }
        },
        "shareAccessTier": {
          "target": "com.azure.containerinstance#FileSharePropertiesShareAccessTier",
          "traits": {
            "smithy.api#documentation": "Access tier for specific share. GpV2 account can choose between TransactionOptimized (default), Hot, and Cool. FileStorage account can choose Premium. Learn more at: https://learn.microsoft.com/en-us/rest/api/storagerp/file-shares/create?tabs=HTTP#shareaccesstier"
          }
        }
      },
      "traits": {}
    },
    "com.azure.containerinstance#FileSharePropertiesShareAccessTier": {
      "type": "enum",
      "members": {
        "COOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cool"
          }
        },
        "HOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Hot"
          }
        },
        "PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Premium"
          }
        },
        "TRANSACTIONOPTIMIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TransactionOptimized"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Access tier for specific share. GpV2 account can choose between TransactionOptimized (default), Hot, and Cool. FileStorage account can choose Premium. Learn more at: https://learn.microsoft.com/en-us/rest/api/storagerp/file-shares/create?tabs=HTTP#shareaccesstier"
      }
    },
    "com.azure.containerinstance#AzureFileShareAccessType": {
      "type": "enum",
      "members": {
        "SHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Shared"
          }
        },
        "EXCLUSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Exclusive"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies how Container Groups can access the Azure file share i.e. all CG will share same Azure file share or going to have exclusive file share."
      }
    },
    "com.azure.containerinstance#NetworkProfile": {
      "type": "structure",
      "members": {
        "loadBalancer": {
          "target": "com.azure.containerinstance#LoadBalancer",
          "traits": {
            "smithy.api#documentation": "LoadBalancer the CG profile will use to interact with CGs in a backend pool"
          }
        },
        "applicationGateway": {
          "target": "com.azure.containerinstance#ApplicationGateway",
          "traits": {
            "smithy.api#documentation": "Application Gateway the CG profile will use to interact with CGs in a backend pool"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A network profile for network settings of a ContainerGroupProfile. Used to manage load balancer and application gateway backend pools, specifically updating the IP addresses of CGs within the backend pool."
      }
    },
    "com.azure.containerinstance#ApplicationGateway": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Application Gateway ARM resource Id."
          }
        },
        "backendAddressPools": {
          "target": "com.azure.containerinstance#ApplicationGatewayBackendAddressPoolsList",
          "traits": {
            "smithy.api#documentation": "List of Application Gateway Backend Address Pools."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Application Gateway the CG profile will use to interact with CGs in a backend pool"
      }
    },
    "com.azure.containerinstance#ApplicationGatewayBackendAddressPoolsList": {
      "type": "list",
      "member": {
        "target": "com.azure.containerinstance#ApplicationGatewayBackendAddressPool"
      },
      "traits": {
        "smithy.api#documentation": "List of Application Gateway Backend Address Pools."
      }
    },
    "com.azure.containerinstance#ApplicationGatewayBackendAddressPool": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application gateway backend address pool ARM resource Id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NGroups application gateway backend address pool"
      }
    },
    "com.azure.containerinstance#LoadBalancer": {
      "type": "structure",
      "members": {
        "backendAddressPools": {
          "target": "com.azure.containerinstance#LoadBalancerBackendAddressPoolsList",
          "traits": {
            "smithy.api#documentation": "List of Load Balancer Backend Address Pools."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "LoadBalancer the CG profile will use to interact with CGs in a backend pool"
      }
    },
    "com.azure.containerinstance#LoadBalancerBackendAddressPoolsList": {
      "type": "list",
      "member": {
        "target": "com.azure.containerinstance#LoadBalancerBackendAddressPool"
      },
      "traits": {
        "smithy.api#documentation": "List of Load Balancer Backend Address Pools."
      }
    },
    "com.azure.containerinstance#LoadBalancerBackendAddressPool": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Load Balancer backend address pool ARM resource Id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NGroups load balancer backend address pool"
      }
    },
    "com.azure.containerinstance#ApiEntityReference": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ARM resource id in the form of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/..."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The API entity reference."
      }
    },
    "com.azure.containerinstance#PlacementProfile": {
      "type": "structure",
      "members": {
        "faultDomainCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of fault domains to be used to spread CGs in the NGroups resource. This can only be specified during NGroup creation and is immutable after that."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides options w.r.t allocation and management w.r.t certain placement policies. These utilize capabilities provided by the underlying Azure infrastructure. They are typically used for high availability scenarios. E.g., distributing CGs across fault domains."
      }
    },
    "com.azure.containerinstance#ElasticProfile": {
      "type": "structure",
      "members": {
        "desiredCount": {
          "target": "smithy.api#Integer"
        },
        "maintainDesiredCount": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag that indicates whether desiredCount should be maintained when customer deletes SPECIFIC container groups (CGs) from the NGroups. In this case, new CGs will be created by NGroup to compensate for the specific deleted ones."
          }
        },
        "containerGroupNamingPolicy": {
          "target": "com.azure.containerinstance#ElasticProfileContainerGroupNamingPolicy",
          "traits": {
            "smithy.api#documentation": "Container Groups are named on a generic guid based naming scheme/policy. Customer can modify naming policy to add prefix to CG names during scale out operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the elastic profile of the NGroup"
      }
    },
    "com.azure.containerinstance#ElasticProfileContainerGroupNamingPolicy": {
      "type": "structure",
      "members": {
        "guidNamingPolicy": {
          "target": "com.azure.containerinstance#ElasticProfileContainerGroupNamingPolicyGuidNamingPolicy"
        }
      },
      "traits": {
        "smithy.api#documentation": "Container Groups are named on a generic guid based naming scheme/policy. Customer can modify naming policy to add prefix to CG names during scale out operation."
      }
    },
    "com.azure.containerinstance#ElasticProfileContainerGroupNamingPolicyGuidNamingPolicy": {
      "type": "structure",
      "members": {
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The prefix can be used when there are tooling limitations (e.g. on the Azure portal where CGs from multiple NGroups exist in the same RG). The prefix with the suffixed resource name must still follow Azure resource naming guidelines."
          }
        }
      },
      "traits": {}
    },
    "com.azure.containerinstance#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.containerinstance#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.containerinstance#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.containerinstance#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.containerinstance#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.containerinstance#NGroupsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "ngroupsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The NGroups name."
          }
        },
        "properties": {
          "target": "com.azure.containerinstance#NGroupProperties",
          "traits": {
            "smithy.api#documentation": "Describes the properties of the NGroups resource."
          }
        },
        "identity": {
          "target": "com.azure.containerinstance#NGroupIdentityInput",
          "traits": {
            "smithy.api#documentation": "The identity of the NGroup, if configured."
          }
        },
        "tags": {
          "target": "com.azure.containerinstance#NGroupsUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "The resource tags."
          }
        },
        "zones": {
          "target": "com.azure.containerinstance#NGroupsUpdateRequestZonesList",
          "traits": {
            "smithy.api#documentation": "The zones for the NGroup."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerinstance#NGroupsUpdateRequestZonesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The zones for the NGroup."
      }
    },
    "com.azure.containerinstance#NGroupsUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The resource tags."
      }
    },
    "com.azure.containerinstance#NGroupIdentityInput": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.containerinstance#ResourceIdentityType",
          "traits": {
            "smithy.api#documentation": "The type of identity used for the NGroup. The type 'SystemAssigned, UserAssigned' includes both an implicitly created identity and a set of user assigned identities. The type 'None' will remove any identities from the NGroup."
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.containerinstance#NGroupIdentityInputUserAssignedIdentitiesMap",
          "traits": {
            "smithy.api#documentation": "The list of user identities associated with the NGroup."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity for the NGroup."
      }
    },
    "com.azure.containerinstance#NGroupIdentityInputUserAssignedIdentitiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.containerinstance#UserAssignedIdentitiesInput"
      },
      "traits": {
        "smithy.api#documentation": "The list of user identities associated with the NGroup."
      }
    },
    "com.azure.containerinstance#UserAssignedIdentitiesInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The list of user identities associated with the container group. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."
      }
    },
    "com.azure.containerinstance#NGroupsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerinstance#NGroupsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.containerinstance#NGroupsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/ngroups/{ngroupsName}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "NGroup PUT REST API\n\nCreate or update a NGroups resource.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.containerinstance#NGroupsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.containerinstance#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.containerinstance#NGroupProperties",
          "traits": {
            "smithy.api#documentation": "Describes the properties of the NGroups resource."
          }
        },
        "tags": {
          "target": "com.azure.containerinstance#NGroupsCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        },
        "zones": {
          "target": "com.azure.containerinstance#NGroupsCreateOrUpdateResponseZonesList",
          "traits": {
            "smithy.api#documentation": "The availability zones."
          }
        },
        "identity": {
          "target": "com.azure.containerinstance#NGroupIdentity",
          "traits": {
            "smithy.api#documentation": "The identity of the NGroup, if configured."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.containerinstance#NGroupsCreateOrUpdateResponseZonesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The availability zones."
      }
    },
    "com.azure.containerinstance#NGroupsCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.containerinstance#NGroupsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "ngroupsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The NGroups name."
          }
        },
        "properties": {
          "target": "com.azure.containerinstance#NGroupProperties",
          "traits": {
            "smithy.api#documentation": "Describes the properties of the NGroups resource."
          }
        },
        "tags": {
          "target": "com.azure.containerinstance#NGroupsCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        },
        "zones": {
          "target": "com.azure.containerinstance#NGroupsCreateOrUpdateRequestZonesList",
          "traits": {
            "smithy.api#documentation": "The availability zones."
          }
        },
        "identity": {
          "target": "com.azure.containerinstance#NGroupIdentityInput",
          "traits": {
            "smithy.api#documentation": "The identity of the NGroup, if configured."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerinstance#NGroupsCreateOrUpdateRequestZonesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The availability zones."
      }
    },
    "com.azure.containerinstance#NGroupsCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.containerinstance#NGroupsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerinstance#NGroupsGetRequest"
      },
      "output": {
        "target": "com.azure.containerinstance#NGroupsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/ngroups/{ngroupsName}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "NGroups GET REST API\n\nGet the properties of the specified NGroups resource.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.containerinstance#NGroupsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.containerinstance#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.containerinstance#NGroupProperties",
          "traits": {
            "smithy.api#documentation": "Describes the properties of the NGroups resource."
          }
        },
        "tags": {
          "target": "com.azure.containerinstance#NGroupsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        },
        "zones": {
          "target": "com.azure.containerinstance#NGroupsGetResponseZonesList",
          "traits": {
            "smithy.api#documentation": "The availability zones."
          }
        },
        "identity": {
          "target": "com.azure.containerinstance#NGroupIdentity",
          "traits": {
            "smithy.api#documentation": "The identity of the NGroup, if configured."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.containerinstance#NGroupsGetResponseZonesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The availability zones."
      }
    },
    "com.azure.containerinstance#NGroupsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.containerinstance#NGroupsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "ngroupsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The NGroups name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerinstance#NGroupsListByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerinstance#NGroupsListByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.containerinstance#NGroupsListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/ngroups",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "GET NGroups under a resource group REST API.\n\nGets a list of all NGroups resources under a resource group.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.containerinstance#NGroupsListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.containerinstance#NGroupsListResultValueList",
          "traits": {
            "smithy.api#documentation": "The NGroup items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a NGroups list operation."
      }
    },
    "com.azure.containerinstance#NGroupsListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.containerinstance#NGroup"
      },
      "traits": {
        "smithy.api#documentation": "The NGroup items on this page"
      }
    },
    "com.azure.containerinstance#NGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.containerinstance#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.containerinstance#NGroupProperties",
          "traits": {
            "smithy.api#documentation": "Describes the properties of the NGroups resource."
          }
        },
        "tags": {
          "target": "com.azure.containerinstance#NGroupTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        },
        "zones": {
          "target": "com.azure.containerinstance#NGroupZonesList",
          "traits": {
            "smithy.api#documentation": "The availability zones."
          }
        },
        "identity": {
          "target": "com.azure.containerinstance#NGroupIdentity",
          "traits": {
            "smithy.api#documentation": "The identity of the NGroup, if configured."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the NGroups resource."
      }
    },
    "com.azure.containerinstance#NGroupZonesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The availability zones."
      }
    },
    "com.azure.containerinstance#NGroupTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.containerinstance#NGroupsListByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerinstance#ContainerGroupsStop": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerinstance#ContainerGroupsStopRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/stop",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Stops all containers in a container group.\n\nStops all containers in a container group. Compute resources will be deallocated and billing will stop.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.containerinstance#ContainerGroupsStopRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "containerGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the container group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerinstance#ContainerGroupsStart": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerinstance#ContainerGroupsStartRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/start",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Starts all containers in a container group.\n\nStarts all containers in a container group. Compute resources will be allocated and billing will start.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.containerinstance#ContainerGroupsStartRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "containerGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the container group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerinstance#ContainerGroupsRestart": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerinstance#ContainerGroupsRestartRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/restart",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Restarts all containers in a container group.\n\nRestarts all containers in a container group in place. If container image has updates, new image will be downloaded.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.containerinstance#ContainerGroupsRestartRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "containerGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the container group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerinstance#ContainerGroupsGetOutboundNetworkDependenciesEndpoints": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerinstance#ContainerGroupsGetOutboundNetworkDependenciesEndpointsRequest"
      },
      "output": {
        "target": "com.azure.containerinstance#ContainerGroupsGetOutboundNetworkDependenciesEndpointsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/outboundNetworkDependenciesEndpoints",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Get all network dependencies for container group.\n\nGets all the network dependencies for this container group to allow complete control of network setting and configuration. For container groups, this will always be an empty list.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.containerinstance#ContainerGroupsGetOutboundNetworkDependenciesEndpointsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.azure.containerinstance#NetworkDependenciesResponse",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.containerinstance#NetworkDependenciesResponse": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Response for network dependencies, always empty list."
      }
    },
    "com.azure.containerinstance#ContainerGroupsGetOutboundNetworkDependenciesEndpointsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "containerGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the container group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerinstance#ContainersListLogs": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerinstance#ContainersListLogsRequest"
      },
      "output": {
        "target": "com.azure.containerinstance#Logs"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/containers/{containerName}/logs",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Get the logs for a specified container instance.\n\nGet the logs for a specified container instance in a specified resource group and container group.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.containerinstance#Logs": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content of the log."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The logs."
      }
    },
    "com.azure.containerinstance#ContainersListLogsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "containerGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the container group."
          }
        },
        "containerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the container instance."
          }
        },
        "tail": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "tail",
            "smithy.api#documentation": "The number of lines to show from the tail of the container instance log. If not provided, all available logs are shown up to 4mb."
          }
        },
        "timestamps": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "timestamps",
            "smithy.api#documentation": "If true, adds a timestamp at the beginning of every line of log output. If not provided, defaults to false."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerinstance#ContainersExecuteCommand": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerinstance#ContainersExecuteCommandRequest"
      },
      "output": {
        "target": "com.azure.containerinstance#ContainerExecResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/containers/{containerName}/exec",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Executes a command in a specific container instance.\n\nExecutes a command for a specific container instance in a specified resource group and container group.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.containerinstance#ContainerExecResponse": {
      "type": "structure",
      "members": {
        "webSocketUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The uri for the exec websocket."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The password to start the exec command.",
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The information for the container exec command."
      }
    },
    "com.azure.containerinstance#ContainersExecuteCommandRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "containerGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the container group."
          }
        },
        "containerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the container instance."
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The command to be executed."
          }
        },
        "terminalSize": {
          "target": "com.azure.containerinstance#ContainerExecRequestTerminalSize",
          "traits": {
            "smithy.api#documentation": "The size of the terminal."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerinstance#ContainerExecRequestTerminalSize": {
      "type": "structure",
      "members": {
        "rows": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The row size of the terminal"
          }
        },
        "cols": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The column size of the terminal"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The size of the terminal."
      }
    },
    "com.azure.containerinstance#ContainersAttach": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerinstance#ContainersAttachRequest"
      },
      "output": {
        "target": "com.azure.containerinstance#ContainerAttachResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/containers/{containerName}/attach",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Attach to the output of a specific container instance.\n\nAttach to the output stream of a specific container instance in a specified resource group and container group.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.containerinstance#ContainerAttachResponse": {
      "type": "structure",
      "members": {
        "webSocketUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The uri for the output stream from the attach."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The password to the output stream from the attach. Send as an Authorization header value when connecting to the websocketUri.",
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The information for the output stream from container attach."
      }
    },
    "com.azure.containerinstance#ContainersAttachRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "containerGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the container group."
          }
        },
        "containerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the container instance."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.containerinstance#ContainerGroupsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.containerinstance#ContainerGroupsDeleteRequest"
      },
      "output": {
        "target": "com.azure.containerinstance#ContainerGroupsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Delete the specified container group.\n\nDelete the specified container group in the specified subscription and resource group. The operation does not delete other resources provided by the user, such as volumes.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.containerinstance#ContainerGroupsDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.containerinstance#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource location of the container group."
          }
        },
        "tags": {
          "target": "com.azure.containerinstance#ContainerGroupsDeleteResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "The resource tags."
          }
        },
        "zones": {
          "target": "com.azure.containerinstance#ContainerGroupsDeleteResponseZonesList",
          "traits": {
            "smithy.api#documentation": "The availability zones."
          }
        },
        "identity": {
          "target": "com.azure.containerinstance#ContainerGroupIdentity",
          "traits": {
            "smithy.api#documentation": "The identity of the container group, if configured."
          }
        },
        "properties": {
          "target": "com.azure.containerinstance#ContainerGroupPropertiesProperties",
          "traits": {
            "smithy.api#documentation": "The container group properties",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.containerinstance#ContainerGroupPropertiesProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the container group. This only appears in the response."
          }
        },
        "secretReferences": {
          "target": "com.azure.containerinstance#ContainerGroupPropertiesPropertiesSecretReferencesList",
          "traits": {
            "smithy.api#documentation": "The secret references that will be referenced within the container group."
          }
        },
        "containers": {
          "target": "com.azure.containerinstance#ContainerGroupPropertiesPropertiesContainersList",
          "traits": {
            "smithy.api#documentation": "The containers within the container group.",
            "smithy.api#required": {}
          }
        },
        "imageRegistryCredentials": {
          "target": "com.azure.containerinstance#ContainerGroupPropertiesPropertiesImageRegistryCredentialsList",
          "traits": {
            "smithy.api#documentation": "The image registry credentials by which the container group is created from."
          }
        },
        "restartPolicy": {
          "target": "com.azure.containerinstance#ContainerGroupRestartPolicy",
          "traits": {
            "smithy.api#documentation": "Restart policy for all containers within the container group.\n- `Always` Always restart\n- `OnFailure` Restart on failure\n- `Never` Never restart"
          }
        },
        "ipAddress": {
          "target": "com.azure.containerinstance#IpAddress",
          "traits": {
            "smithy.api#documentation": "The IP address type of the container group."
          }
        },
        "osType": {
          "target": "com.azure.containerinstance#OperatingSystemTypes",
          "traits": {
            "smithy.api#documentation": "The operating system type required by the containers in the container group."
          }
        },
        "volumes": {
          "target": "com.azure.containerinstance#ContainerGroupPropertiesPropertiesVolumesList",
          "traits": {
            "smithy.api#documentation": "The list of volumes that can be mounted by containers in this container group."
          }
        },
        "instanceView": {
          "target": "com.azure.containerinstance#ContainerGroupPropertiesPropertiesInstanceView",
          "traits": {
            "smithy.api#documentation": "The instance view of the container group. Only valid in response."
          }
        },
        "diagnostics": {
          "target": "com.azure.containerinstance#ContainerGroupDiagnostics",
          "traits": {
            "smithy.api#documentation": "The diagnostic information for a container group."
          }
        },
        "subnetIds": {
          "target": "com.azure.containerinstance#ContainerGroupPropertiesPropertiesSubnetIdsList",
          "traits": {
            "smithy.api#documentation": "The subnet resource IDs for a container group."
          }
        },
        "dnsConfig": {
          "target": "com.azure.containerinstance#DnsConfiguration",
          "traits": {
            "smithy.api#documentation": "The DNS config information for a container group."
          }
        },
        "sku": {
          "target": "com.azure.containerinstance#ContainerGroupSku",
          "traits": {
            "smithy.api#documentation": "The SKU for a container group."
          }
        },
        "encryptionProperties": {
          "target": "com.azure.containerinstance#EncryptionProperties",
          "traits": {
            "smithy.api#documentation": "The encryption properties for a container group."
          }
        },
        "initContainers": {
          "target": "com.azure.containerinstance#ContainerGroupPropertiesPropertiesInitContainersList",
          "traits": {
            "smithy.api#documentation": "The init containers for a container group."
          }
        },
        "extensions": {
          "target": "com.azure.containerinstance#ContainerGroupPropertiesPropertiesExtensionsList",
          "traits": {
            "smithy.api#documentation": "extensions used by virtual kubelet"
          }
        },
        "confidentialComputeProperties": {
          "target": "com.azure.containerinstance#ConfidentialComputeProperties",
          "traits": {
            "smithy.api#documentation": "The properties for confidential container group"
          }
        },
        "priority": {
          "target": "com.azure.containerinstance#ContainerGroupPriority",
          "traits": {
            "smithy.api#documentation": "The priority of the container group."
          }
        },
        "identityAcls": {
          "target": "com.azure.containerinstance#IdentityAcls",
          "traits": {
            "smithy.api#documentation": "The access control levels of the identities."
          }
        },
        "containerGroupProfile": {
          "target": "com.azure.containerinstance#ContainerGroupProfileReferenceDefinition",
          "traits": {
            "smithy.api#documentation": "The reference container group profile properties."
          }
        },
        "standbyPoolProfile": {
          "target": "com.azure.containerinstance#StandbyPoolProfileDefinition",
          "traits": {
            "smithy.api#documentation": "The reference standby pool profile properties."
          }
        },
        "isCreatedFromStandbyPool": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The flag to determine whether the container group is created from standby pool."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The container group properties"
      }
    },
    "com.azure.containerinstance#StandbyPoolProfileDefinition": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standby pool profile reference id.This will be an ARM resource id in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StandbyPool/standbyContainerGroupPools/{standbyPoolName}'."
          }
        },
        "failContainerGroupCreateOnReuseFailure": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The flag to determine whether ACI should fail the create request if the container group can not be obtained from standby pool."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The standby pool profile reference."
      }
    },
    "com.azure.containerinstance#ContainerGroupProfileReferenceDefinition": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The container group profile reference id.This will be an ARM resource id in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroupProfiles/{containerGroupProfileName}'."
          }
        },
        "revision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The container group profile reference revision."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The container group profile reference."
      }
    },
    "com.azure.containerinstance#IdentityAcls": {
      "type": "structure",
      "members": {
        "defaultAccess": {
          "target": "com.azure.containerinstance#IdentityAccessLevel",
          "traits": {
            "smithy.api#documentation": "The default access level."
          }
        },
        "acls": {
          "target": "com.azure.containerinstance#IdentityAclsAclsList",
          "traits": {
            "smithy.api#documentation": "The access control levels for each identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The access control levels of the identities."
      }
    },
    "com.azure.containerinstance#IdentityAclsAclsList": {
      "type": "list",
      "member": {
        "target": "com.azure.containerinstance#IdentityAccessControl"
      },
      "traits": {
        "smithy.api#documentation": "The access control levels for each identity."
      }
    },
    "com.azure.containerinstance#IdentityAccessControl": {
      "type": "structure",
      "members": {
        "access": {
          "target": "com.azure.containerinstance#IdentityAccessLevel",
          "traits": {
            "smithy.api#documentation": "The access level of the identity."
          }
        },
        "identity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The access control for an identity"
      }
    },
    "com.azure.containerinstance#IdentityAccessLevel": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "All"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "System"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The access level of an identity."
      }
    },
    "com.azure.containerinstance#ContainerGroupPriority": {
      "type": "enum",
      "members": {
        "REGULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Regular"
          }
        },
        "SPOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Spot"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The priority of the container group."
      }
    },
    "com.azure.containerinstance#ConfidentialComputeProperties": {
      "type": "structure",
      "members": {
        "ccePolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The base64 encoded confidential compute enforcement policy"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties for confidential container group"
      }
    },
    "com.azure.containerinstance#ContainerGroupPropertiesPropertiesExtensionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.containerinstance#DeploymentExtensionSpec"
      },
      "traits": {
        "smithy.api#documentation": "extensions used by virtual kubelet"
      }
    },
    "com.azure.containerinstance#DeploymentExtensionSpec": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the extension.",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.containerinstance#DeploymentExtensionSpecProperties",
          "traits": {
            "smithy.api#documentation": "Extension specific properties"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Extension sidecars to be added to the deployment."
      }
    },
    "com.azure.containerinstance#DeploymentExtensionSpecProperties": {
      "type": "structure",
      "members": {
        "extensionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of extension to be added.",
            "smithy.api#required": {}
          }
        },
[...]
