{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.cosmos_db#FleetspaceAccountDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.cosmos_db#FleetspaceAccountDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/fleets/{fleetName}/fleetspaces/{fleetspaceName}/fleetspaceAccounts/{fleetspaceAccountName}",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Removes an existing Azure Cosmos DB fleetspace account from a fleetspace.",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.cosmos_db#FleetspaceAccountDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "fleetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cosmos DB fleet name. Needs to be unique under a subscription."
          }
        },
        "fleetspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cosmos DB fleetspace name. Needs to be unique under a fleet."
          }
        },
        "fleetspaceAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cosmos DB fleetspace account name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cosmos_db#FleetspaceAccountCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.cosmos_db#FleetspaceAccountCreateRequest"
      },
      "output": {
        "target": "com.azure.cosmos_db#FleetspaceAccountCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/fleets/{fleetName}/fleetspaces/{fleetspaceName}/fleetspaceAccounts/{fleetspaceAccountName}",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Creates an Azure Cosmos DB fleetspace account under a fleetspace.",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.cosmos_db#FleetspaceAccountCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cosmos_db#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cosmos_db#FleetspaceAccountProperties",
          "traits": {
            "smithy.api#documentation": "An Azure Cosmos DB Global Database Account which is part of a Fleetspace Account."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cosmos_db#FleetspaceAccountProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.cosmos_db#Status",
          "traits": {
            "smithy.api#documentation": "A provisioning state of the Fleetspace Account."
          }
        },
        "globalDatabaseAccountProperties": {
          "target": "com.azure.cosmos_db#FleetspaceAccountPropertiesGlobalDatabaseAccountProperties",
          "traits": {
            "smithy.api#documentation": "Configuration for fleetspace Account in the fleetspace."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Azure Cosmos DB Global Database Account which is part of a Fleetspace Account."
      }
    },
    "com.azure.cosmos_db#FleetspaceAccountPropertiesGlobalDatabaseAccountProperties": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource identifier of global database account in the Fleetspace Account."
          }
        },
        "armLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of  global database account in the Fleetspace Account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for fleetspace Account in the fleetspace."
      }
    },
    "com.azure.cosmos_db#Status": {
      "type": "enum",
      "members": {
        "UNINITIALIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Uninitialized"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Initializing"
          }
        },
        "INTERNALLYREADY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InternallyReady"
          }
        },
        "ONLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Online"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enum to indicate current buildout status of the region."
      }
    },
    "com.azure.cosmos_db#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.cosmos_db#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.cosmos_db#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.cosmos_db#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.cosmos_db#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.cosmos_db#FleetspaceAccountCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "fleetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cosmos DB fleet name. Needs to be unique under a subscription."
          }
        },
        "fleetspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cosmos DB fleetspace name. Needs to be unique under a fleet."
          }
        },
        "fleetspaceAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cosmos DB fleetspace account name."
          }
        },
        "properties": {
          "target": "com.azure.cosmos_db#FleetspaceAccountProperties",
          "traits": {
            "smithy.api#documentation": "An Azure Cosmos DB Global Database Account which is part of a Fleetspace Account."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cosmos_db#FleetspaceAccountGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.cosmos_db#FleetspaceAccountGetRequest"
      },
      "output": {
        "target": "com.azure.cosmos_db#FleetspaceAccountGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/fleets/{fleetName}/fleetspaces/{fleetspaceName}/fleetspaceAccounts/{fleetspaceAccountName}",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Retrieves the properties of an existing Azure Cosmos DB fleetspace account under a fleetspace",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.cosmos_db#FleetspaceAccountGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cosmos_db#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cosmos_db#FleetspaceAccountProperties",
          "traits": {
            "smithy.api#documentation": "An Azure Cosmos DB Global Database Account which is part of a Fleetspace Account."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cosmos_db#FleetspaceAccountGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "fleetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cosmos DB fleet name. Needs to be unique under a subscription."
          }
        },
        "fleetspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cosmos DB fleetspace name. Needs to be unique under a fleet."
          }
        },
        "fleetspaceAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cosmos DB fleetspace account name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cosmos_db#FleetspaceAccountList": {
      "type": "operation",
      "input": {
        "target": "com.azure.cosmos_db#FleetspaceAccountListRequest"
      },
      "output": {
        "target": "com.azure.cosmos_db#FleetspaceAccountListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/fleets/{fleetName}/fleetspaces/{fleetspaceName}/fleetspaceAccounts",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Lists all the fleetspaces accounts  under a fleetspace.",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.cosmos_db#FleetspaceAccountListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.cosmos_db#FleetspaceAccountListResultValueList",
          "traits": {
            "smithy.api#documentation": "The FleetspaceAccountResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a FleetspaceAccountResource list operation."
      }
    },
    "com.azure.cosmos_db#FleetspaceAccountListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.cosmos_db#FleetspaceAccountResource"
      },
      "traits": {
        "smithy.api#documentation": "The FleetspaceAccountResource items on this page"
      }
    },
    "com.azure.cosmos_db#FleetspaceAccountResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cosmos_db#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cosmos_db#FleetspaceAccountProperties",
          "traits": {
            "smithy.api#documentation": "An Azure Cosmos DB Global Database Account which is part of a Fleetspace Account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Azure Cosmos DB Fleetspace Account"
      }
    },
    "com.azure.cosmos_db#FleetspaceAccountListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "fleetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cosmos DB fleet name. Needs to be unique under a subscription."
          }
        },
        "fleetspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cosmos DB fleetspace name. Needs to be unique under a fleet."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cosmos_db#FleetspaceDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.cosmos_db#FleetspaceDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/fleets/{fleetName}/fleetspaces/{fleetspaceName}",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Deletes an existing Azure Cosmos DB Fleetspace.",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.cosmos_db#FleetspaceDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "fleetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cosmos DB fleet name. Needs to be unique under a subscription."
          }
        },
        "fleetspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cosmos DB fleetspace name. Needs to be unique under a fleet."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cosmos_db#FleetspaceUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.cosmos_db#FleetspaceUpdateRequest"
      },
      "output": {
        "target": "com.azure.cosmos_db#FleetspaceUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/fleets/{fleetName}/fleetspaces/{fleetspaceName}",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Update the properties of an existing Azure Cosmos DB fleetspace under a fleet.",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.cosmos_db#FleetspaceUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cosmos_db#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cosmos_db#FleetspaceProperties",
          "traits": {
            "smithy.api#documentation": "Properties to update Azure Cosmos DB Fleetspace."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cosmos_db#FleetspaceProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.cosmos_db#Status",
          "traits": {
            "smithy.api#documentation": "A provisioning state of the Fleetspace."
          }
        },
        "fleetspaceApiKind": {
          "target": "com.azure.cosmos_db#FleetspacePropertiesFleetspaceApiKind",
          "traits": {
            "smithy.api#documentation": "The kind of API this fleetspace belongs to. Acceptable values: 'NoSQL'"
          }
        },
        "serviceTier": {
          "target": "com.azure.cosmos_db#FleetspacePropertiesServiceTier",
          "traits": {
            "smithy.api#documentation": "Service Tier for the fleetspace. GeneralPurpose types refers to single write region accounts that can be added to this fleetspace, whereas BusinessCritical refers to multi write region."
          }
        },
        "dataRegions": {
          "target": "com.azure.cosmos_db#FleetspacePropertiesDataRegionsList",
          "traits": {
            "smithy.api#documentation": "List of data regions assigned to the fleetspace. Eg [westus2]"
          }
        },
        "throughputPoolConfiguration": {
          "target": "com.azure.cosmos_db#FleetspacePropertiesThroughputPoolConfiguration",
          "traits": {
            "smithy.api#documentation": "Configuration for throughput pool in the fleetspace."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties to update Azure Cosmos DB Fleetspace."
      }
    },
    "com.azure.cosmos_db#FleetspacePropertiesThroughputPoolConfiguration": {
      "type": "structure",
      "members": {
        "minThroughput": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum throughput for the pool."
          }
        },
        "maxThroughput": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum throughput for the pool."
          }
        },
        "dedicatedRUs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total dedicated throughput (RU/s) for fleetspace. Represents the sum of all manual provisioned throughput and all autoscale max RU/s across all shared throughput databases and dedicated throughput containers across all accounts in the fleetspace for 1 region."
          }
        },
        "maxConsumableRUs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum consumable throughput (RU/s) for fleetspace. Represents the maximum throughput that resources in the fleetspace can consume from the fleetspace's pool in 1 region."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for throughput pool in the fleetspace."
      }
    },
    "com.azure.cosmos_db#FleetspacePropertiesDataRegionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of data regions assigned to the fleetspace. Eg [westus2]"
      }
    },
    "com.azure.cosmos_db#FleetspacePropertiesServiceTier": {
      "type": "enum",
      "members": {
        "GENERALPURPOSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GeneralPurpose"
          }
        },
        "BUSINESSCRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BusinessCritical"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Service Tier for the fleetspace. GeneralPurpose types refers to single write region accounts that can be added to this fleetspace, whereas BusinessCritical refers to multi write region."
      }
    },
    "com.azure.cosmos_db#FleetspacePropertiesFleetspaceApiKind": {
      "type": "enum",
      "members": {
        "NOSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NoSQL"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The kind of API this fleetspace belongs to. Acceptable values: 'NoSQL'"
      }
    },
    "com.azure.cosmos_db#FleetspaceUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "fleetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cosmos DB fleet name. Needs to be unique under a subscription."
          }
        },
        "fleetspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cosmos DB fleetspace name. Needs to be unique under a fleet."
          }
        },
        "properties": {
          "target": "com.azure.cosmos_db#FleetspaceProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the fleetspace."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cosmos_db#FleetspaceCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.cosmos_db#FleetspaceCreateRequest"
      },
      "output": {
        "target": "com.azure.cosmos_db#FleetspaceCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/fleets/{fleetName}/fleetspaces/{fleetspaceName}",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Creates an Azure Cosmos DB fleetspace under a fleet.",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.cosmos_db#FleetspaceCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cosmos_db#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cosmos_db#FleetspaceProperties",
          "traits": {
            "smithy.api#documentation": "Properties to update Azure Cosmos DB Fleetspace."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cosmos_db#FleetspaceCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "fleetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cosmos DB fleet name. Needs to be unique under a subscription."
          }
        },
        "fleetspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cosmos DB fleetspace name. Needs to be unique under a fleet."
          }
        },
        "properties": {
          "target": "com.azure.cosmos_db#FleetspaceProperties",
          "traits": {
            "smithy.api#documentation": "Properties to update Azure Cosmos DB Fleetspace."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cosmos_db#FleetspaceGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.cosmos_db#FleetspaceGetRequest"
      },
      "output": {
        "target": "com.azure.cosmos_db#FleetspaceGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/fleets/{fleetName}/fleetspaces/{fleetspaceName}",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Retrieves the properties of an existing Azure Cosmos DB fleetspace under a fleet",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.cosmos_db#FleetspaceGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cosmos_db#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cosmos_db#FleetspaceProperties",
          "traits": {
            "smithy.api#documentation": "Properties to update Azure Cosmos DB Fleetspace."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cosmos_db#FleetspaceGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "fleetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cosmos DB fleet name. Needs to be unique under a subscription."
          }
        },
        "fleetspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cosmos DB fleetspace name. Needs to be unique under a fleet."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cosmos_db#FleetspaceList": {
      "type": "operation",
      "input": {
        "target": "com.azure.cosmos_db#FleetspaceListRequest"
      },
      "output": {
        "target": "com.azure.cosmos_db#FleetspaceListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/fleets/{fleetName}/fleetspaces",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Lists all the fleetspaces under a fleet.",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.cosmos_db#FleetspaceListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.cosmos_db#FleetspaceListResultValueList",
          "traits": {
            "smithy.api#documentation": "The FleetspaceResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a FleetspaceResource list operation."
      }
    },
    "com.azure.cosmos_db#FleetspaceListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.cosmos_db#FleetspaceResource"
      },
      "traits": {
        "smithy.api#documentation": "The FleetspaceResource items on this page"
      }
    },
    "com.azure.cosmos_db#FleetspaceResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cosmos_db#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cosmos_db#FleetspaceProperties",
          "traits": {
            "smithy.api#documentation": "Properties to update Azure Cosmos DB Fleetspace."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Azure Cosmos DB Fleetspace."
      }
    },
    "com.azure.cosmos_db#FleetspaceListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "fleetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cosmos DB fleet name. Needs to be unique under a subscription."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cosmos_db#FleetDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.cosmos_db#FleetDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/fleets/{fleetName}",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Deletes an existing Azure Cosmos DB Fleet.",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.cosmos_db#FleetDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "fleetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cosmos DB fleet name. Needs to be unique under a subscription."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cosmos_db#FleetUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.cosmos_db#FleetUpdateRequest"
      },
      "output": {
        "target": "com.azure.cosmos_db#FleetUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/fleets/{fleetName}",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Updates the properties of an existing Azure Cosmos DB Fleet.",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.cosmos_db#FleetUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cosmos_db#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.cosmos_db#FleetUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.cosmos_db#FleetResourceProperties",
          "traits": {
            "smithy.api#documentation": "Properties to update Azure Cosmos DB fleet resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cosmos_db#FleetResourceProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.cosmos_db#Status",
          "traits": {
            "smithy.api#documentation": "A provisioning state of the Fleet."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties to update Azure Cosmos DB fleet resource."
      }
    },
    "com.azure.cosmos_db#FleetUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.cosmos_db#FleetUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "fleetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cosmos DB fleet name. Needs to be unique under a subscription."
          }
        },
        "properties": {
          "target": "com.azure.cosmos_db#FleetResourceProperties",
          "traits": {
            "smithy.api#documentation": "Properties to update Azure Cosmos DB fleet resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cosmos_db#FleetCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.cosmos_db#FleetCreateRequest"
      },
      "output": {
        "target": "com.azure.cosmos_db#FleetCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/fleets/{fleetName}",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Creates an Azure Cosmos DB fleet under a subscription.",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.cosmos_db#FleetCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cosmos_db#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.cosmos_db#FleetCreateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.cosmos_db#FleetResourceProperties",
          "traits": {
            "smithy.api#documentation": "Properties to update Azure Cosmos DB fleet resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cosmos_db#FleetCreateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.cosmos_db#FleetCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "fleetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cosmos DB fleet name. Needs to be unique under a subscription."
          }
        },
        "tags": {
          "target": "com.azure.cosmos_db#FleetCreateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.cosmos_db#FleetResourceProperties",
          "traits": {
            "smithy.api#documentation": "Properties to update Azure Cosmos DB fleet resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cosmos_db#FleetCreateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.cosmos_db#FleetGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.cosmos_db#FleetGetRequest"
      },
      "output": {
        "target": "com.azure.cosmos_db#FleetGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/fleets/{fleetName}",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Retrieves the properties of an existing Azure Cosmos DB fleet under a subscription",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.cosmos_db#FleetGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cosmos_db#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.cosmos_db#FleetGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.cosmos_db#FleetResourceProperties",
          "traits": {
            "smithy.api#documentation": "Properties to update Azure Cosmos DB fleet resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cosmos_db#FleetGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.cosmos_db#FleetGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "fleetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cosmos DB fleet name. Needs to be unique under a subscription."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cosmos_db#FleetListByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.cosmos_db#FleetListByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.cosmos_db#FleetListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/fleets",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Lists all the fleets under the specified subscription and resource group.",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.cosmos_db#FleetListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.cosmos_db#FleetListResultValueList",
          "traits": {
            "smithy.api#documentation": "The FleetResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a FleetResource list operation."
      }
    },
    "com.azure.cosmos_db#FleetListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.cosmos_db#FleetResource"
      },
      "traits": {
        "smithy.api#documentation": "The FleetResource items on this page"
      }
    },
    "com.azure.cosmos_db#FleetResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cosmos_db#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.cosmos_db#FleetResourceTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.cosmos_db#FleetResourceProperties",
          "traits": {
            "smithy.api#documentation": "Properties to update Azure Cosmos DB fleet resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Azure Cosmos DB FleetResource."
      }
    },
    "com.azure.cosmos_db#FleetResourceTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.cosmos_db#FleetListByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cosmos_db#DatabaseAccountsListUsages": {
      "type": "operation",
      "input": {
        "target": "com.azure.cosmos_db#DatabaseAccountsListUsagesRequest"
      },
      "output": {
        "target": "com.azure.cosmos_db#UsagesResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/usages",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Retrieves the usages (most recent data) for the given database account.",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.cosmos_db#UsagesResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.cosmos_db#UsagesResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of usages for the database. A usage is a point in time metric"
          }
        },
        "nextLink": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The response to a list usage request."
      }
    },
    "com.azure.cosmos_db#UsagesResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.cosmos_db#Usage"
      },
      "traits": {
        "smithy.api#documentation": "The list of usages for the database. A usage is a point in time metric"
      }
    },
    "com.azure.cosmos_db#Usage": {
      "type": "structure",
      "members": {
        "unit": {
          "target": "com.azure.cosmos_db#UnitType",
          "traits": {
            "smithy.api#documentation": "The unit of the metric."
          }
        },
        "name": {
          "target": "com.azure.cosmos_db#MetricName",
          "traits": {
            "smithy.api#documentation": "The name information for the metric."
          }
        },
        "quotaPeriod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The quota period used to summarize the usage values."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum value for this metric"
          }
        },
        "currentValue": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Current value for this metric"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The usage data for a usage request."
      }
    },
    "com.azure.cosmos_db#MetricName": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the metric."
          }
        },
        "localizedValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name of the metric."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A metric name."
      }
    },
    "com.azure.cosmos_db#UnitType": {
      "type": "enum",
      "members": {
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Count"
          }
        },
        "BYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Bytes"
          }
        },
        "SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Seconds"
          }
        },
        "PERCENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Percent"
          }
        },
        "COUNTPERSECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CountPerSecond"
          }
        },
        "BYTESPERSECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BytesPerSecond"
          }
        },
        "MILLISECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Milliseconds"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The unit of the metric."
      }
    },
    "com.azure.cosmos_db#DatabaseAccountsListUsagesRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cosmos DB database account name."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "An OData filter expression that describes a subset of usages to return. The supported parameter is name.value (name of the metric, can have an or of multiple names)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cosmos_db#PercentileTargetListMetrics": {
      "type": "operation",
      "input": {
        "target": "com.azure.cosmos_db#PercentileTargetListMetricsRequest"
      },
      "output": {
        "target": "com.azure.cosmos_db#PercentileMetricListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/targetRegion/{targetRegion}/percentile/metrics",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Retrieves the metrics determined by the given filter for the given account target region. This url is only for PBS and Replication Latency data",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.cosmos_db#PercentileMetricListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.cosmos_db#PercentileMetricListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of percentile metrics for the account."
          }
        },
        "nextLink": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The response to a list percentile metrics request."
      }
    },
    "com.azure.cosmos_db#PercentileMetricListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.cosmos_db#PercentileMetric"
      },
      "traits": {
        "smithy.api#documentation": "The list of percentile metrics for the account."
      }
    },
    "com.azure.cosmos_db#PercentileMetric": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time for the metric (ISO-8601 format)."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time for the metric (ISO-8601 format)."
          }
        },
        "timeGrain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time grain to be used to summarize the metric values."
          }
        },
        "unit": {
          "target": "com.azure.cosmos_db#UnitType",
          "traits": {
            "smithy.api#documentation": "The unit of the metric."
          }
        },
        "name": {
          "target": "com.azure.cosmos_db#MetricName",
          "traits": {
            "smithy.api#documentation": "The name information for the metric."
          }
        },
        "metricValues": {
          "target": "com.azure.cosmos_db#PercentileMetricMetricValuesList",
          "traits": {
            "smithy.api#documentation": "The percentile metric values for the specified time window and timestep."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Percentile Metric data"
      }
    },
    "com.azure.cosmos_db#PercentileMetricMetricValuesList": {
      "type": "list",
      "member": {
        "target": "com.azure.cosmos_db#PercentileMetricValue"
      },
      "traits": {
        "smithy.api#documentation": "The percentile metric values for the specified time window and timestep."
      }
    },
    "com.azure.cosmos_db#PercentileMetricValue": {
      "type": "structure",
      "members": {
        "_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of values for the metric."
          }
        },
        "average": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The average value of the metric."
          }
        },
        "maximum": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The max value of the metric."
          }
        },
        "minimum": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The min value of the metric."
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The metric timestamp (ISO-8601 format)."
          }
        },
        "total": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The total value of the metric."
          }
        },
        "P10": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The 10th percentile value for the metric."
          }
        },
        "P25": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The 25th percentile value for the metric."
          }
        },
        "P50": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The 50th percentile value for the metric."
          }
        },
        "P75": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The 75th percentile value for the metric."
          }
        },
        "P90": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The 90th percentile value for the metric."
          }
        },
        "P95": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The 95th percentile value for the metric."
          }
        },
        "P99": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The 99th percentile value for the metric."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents percentile metrics values."
      }
    },
    "com.azure.cosmos_db#PercentileTargetListMetricsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cosmos DB database account name."
          }
        },
        "targetRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Target region to which data is written. Cosmos DB region, with spaces between words and each word capitalized."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#required": {},
            "smithy.api#documentation": "An OData filter expression that describes a subset of metrics to return. The parameters that can be filtered are name.value (name of the metric, can have an or of multiple names), startTime, endTime, and timeGrain. The supported operator is eq."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cosmos_db#TableResourcesMigrateTableToManualThroughput": {
      "type": "operation",
      "input": {
        "target": "com.azure.cosmos_db#TableResourcesMigrateTableToManualThroughputRequest"
      },
      "output": {
        "target": "com.azure.cosmos_db#TableResourcesMigrateTableToManualThroughputResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/tables/{tableName}/throughputSettings/default/migrateToManualThroughput",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Migrate an Azure Cosmos DB Table from autoscale to manual throughput",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.cosmos_db#TableResourcesMigrateTableToManualThroughputResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cosmos_db#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cosmos_db#ThroughputSettingsGetProperties",
          "traits": {
            "smithy.api#documentation": "The properties of an Azure Cosmos DB resource throughput"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the resource group to which the resource belongs."
          }
        },
        "tags": {
          "target": "com.azure.cosmos_db#TableResourcesMigrateTableToManualThroughputResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Tags are a list of key-value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters. For example, the default experience for a template type is set with \\\"defaultExperience\\\": \\\"Cassandra\\\". Current \\\"defaultExperience\\\" values also include \\\"Table\\\", \\\"Graph\\\", \\\"DocumentDB\\\", and \\\"MongoDB\\\"."
          }
        },
        "identity": {
          "target": "com.azure.cosmos_db#ManagedServiceIdentity",
          "traits": {
            "smithy.api#documentation": "Identity for the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cosmos_db#ManagedServiceIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal id of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant id of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.cosmos_db#ResourceIdentityType",
          "traits": {
            "smithy.api#documentation": "The type of identity used for the resource. The type 'SystemAssigned,UserAssigned' includes both an implicitly created identity and a set of user assigned identities. The type 'None' will remove any identities from the service."
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.cosmos_db#ManagedServiceIdentityUserAssignedIdentitiesMap",
          "traits": {
            "smithy.api#documentation": "The list of user identities associated with resource. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity for the resource."
      }
    },
    "com.azure.cosmos_db#ManagedServiceIdentityUserAssignedIdentitiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.cosmos_db#ManagedServiceIdentityUserAssignedIdentities"
      },
      "traits": {
        "smithy.api#documentation": "The list of user identities associated with resource. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."
      }
    },
    "com.azure.cosmos_db#ManagedServiceIdentityUserAssignedIdentities": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal id of user assigned identity."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client id of user assigned identity."
          }
        }
      },
      "traits": {}
    },
    "com.azure.cosmos_db#ResourceIdentityType": {
      "type": "enum",
      "members": {
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        },
        "SYSTEMASSIGNED_USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned,UserAssigned"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity used for the resource. The type 'SystemAssigned,UserAssigned' includes both an implicitly created identity and a set of user assigned identities. The type 'None' will remove any identities from the service."
      }
    },
    "com.azure.cosmos_db#TableResourcesMigrateTableToManualThroughputResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tags are a list of key-value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters. For example, the default experience for a template type is set with \\\"defaultExperience\\\": \\\"Cassandra\\\". Current \\\"defaultExperience\\\" values also include \\\"Table\\\", \\\"Graph\\\", \\\"DocumentDB\\\", and \\\"MongoDB\\\"."
      }
    },
    "com.azure.cosmos_db#ThroughputSettingsGetProperties": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "com.azure.cosmos_db#ThroughputSettingsGetPropertiesResource"
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of an Azure Cosmos DB resource throughput"
      }
    },
    "com.azure.cosmos_db#ThroughputSettingsGetPropertiesResource": {
      "type": "structure",
      "members": {
        "throughput": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Value of the Cosmos DB resource throughput. Either throughput is required or autoscaleSettings is required, but not both."
          }
        },
        "autoscaleSettings": {
          "target": "com.azure.cosmos_db#AutoscaleSettingsResource",
          "traits": {
            "smithy.api#documentation": "Cosmos DB resource for autoscale settings. Either throughput is required or autoscaleSettings is required, but not both."
          }
        },
        "minimumThroughput": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The minimum throughput of the resource"
          }
        },
        "offerReplacePending": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The throughput replace is pending"
          }
        },
        "instantMaximumThroughput": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The offer throughput value to instantly scale up without triggering splits"
          }
        },
        "softAllowedMaximumThroughput": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The maximum throughput value or the maximum maxThroughput value (for autoscale) that can be specified"
          }
        },
        "_rid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A system generated property. A unique identifier."
          }
        },
        "_ts": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A system generated property that denotes the last updated timestamp of the resource."
          }
        },
        "_etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A system generated property representing the resource etag required for optimistic concurrency control."
          }
        }
      },
      "traits": {}
    },
    "com.azure.cosmos_db#AutoscaleSettingsResource": {
      "type": "structure",
      "members": {
        "maxThroughput": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Represents maximum throughput container can scale up to.",
            "smithy.api#required": {}
          }
        },
        "autoUpgradePolicy": {
          "target": "com.azure.cosmos_db#AutoUpgradePolicyResource",
          "traits": {
            "smithy.api#documentation": "Cosmos DB resource auto-upgrade policy"
          }
        },
        "targetMaxThroughput": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Represents target maximum throughput container can scale up to once offer is no longer in pending state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cosmos DB provisioned throughput settings object"
      }
    },
    "com.azure.cosmos_db#AutoUpgradePolicyResource": {
      "type": "structure",
      "members": {
        "throughputPolicy": {
          "target": "com.azure.cosmos_db#ThroughputPolicyResource",
          "traits": {
            "smithy.api#documentation": "Represents throughput policy which service must adhere to for auto-upgrade"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cosmos DB resource auto-upgrade policy"
      }
    },
    "com.azure.cosmos_db#ThroughputPolicyResource": {
      "type": "structure",
      "members": {
        "isEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines whether the ThroughputPolicy is active or not"
          }
        },
        "incrementPercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Represents the percentage by which throughput can increase every time throughput policy kicks in."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cosmos DB resource throughput policy"
      }
    },
    "com.azure.cosmos_db#TableResourcesMigrateTableToManualThroughputRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cosmos DB database account name."
          }
        },
        "tableName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cosmos DB table name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cosmos_db#TableResourcesMigrateTableToAutoscale": {
      "type": "operation",
      "input": {
        "target": "com.azure.cosmos_db#TableResourcesMigrateTableToAutoscaleRequest"
      },
      "output": {
        "target": "com.azure.cosmos_db#TableResourcesMigrateTableToAutoscaleResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/tables/{tableName}/throughputSettings/default/migrateToAutoscale",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Migrate an Azure Cosmos DB Table from manual throughput to autoscale",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.cosmos_db#TableResourcesMigrateTableToAutoscaleResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cosmos_db#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cosmos_db#ThroughputSettingsGetProperties",
          "traits": {
            "smithy.api#documentation": "The properties of an Azure Cosmos DB resource throughput"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the resource group to which the resource belongs."
          }
        },
        "tags": {
          "target": "com.azure.cosmos_db#TableResourcesMigrateTableToAutoscaleResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Tags are a list of key-value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters. For example, the default experience for a template type is set with \\\"defaultExperience\\\": \\\"Cassandra\\\". Current \\\"defaultExperience\\\" values also include \\\"Table\\\", \\\"Graph\\\", \\\"DocumentDB\\\", and \\\"MongoDB\\\"."
          }
        },
        "identity": {
          "target": "com.azure.cosmos_db#ManagedServiceIdentity",
          "traits": {
            "smithy.api#documentation": "Identity for the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cosmos_db#TableResourcesMigrateTableToAutoscaleResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tags are a list of key-value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters. For example, the default experience for a template type is set with \\\"defaultExperience\\\": \\\"Cassandra\\\". Current \\\"defaultExperience\\\" values also include \\\"Table\\\", \\\"Graph\\\", \\\"DocumentDB\\\", and \\\"MongoDB\\\"."
      }
    },
    "com.azure.cosmos_db#TableResourcesMigrateTableToAutoscaleRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cosmos DB database account name."
          }
        },
        "tableName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cosmos DB table name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cosmos_db#TableResourcesUpdateTableThroughput": {
      "type": "operation",
      "input": {
        "target": "com.azure.cosmos_db#TableResourcesUpdateTableThroughputRequest"
      },
      "output": {
        "target": "com.azure.cosmos_db#TableResourcesUpdateTableThroughputResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/tables/{tableName}/throughputSettings/default",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Update RUs per second of an Azure Cosmos DB Table",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.cosmos_db#TableResourcesUpdateTableThroughputResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cosmos_db#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cosmos_db#ThroughputSettingsGetProperties",
          "traits": {
            "smithy.api#documentation": "The properties of an Azure Cosmos DB resource throughput"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the resource group to which the resource belongs."
          }
        },
        "tags": {
          "target": "com.azure.cosmos_db#TableResourcesUpdateTableThroughputResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Tags are a list of key-value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters. For example, the default experience for a template type is set with \\\"defaultExperience\\\": \\\"Cassandra\\\". Current \\\"defaultExperience\\\" values also include \\\"Table\\\", \\\"Graph\\\", \\\"DocumentDB\\\", and \\\"MongoDB\\\"."
          }
        },
        "identity": {
          "target": "com.azure.cosmos_db#ManagedServiceIdentity",
          "traits": {
            "smithy.api#documentation": "Identity for the resource."
          }
        }
      },
      "traits": {
[...]
