{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.cost_management#GenerateBenefitUtilizationSummariesReportGenerateByReservationId": {
      "type": "operation",
      "input": {
        "target": "com.azure.cost_management#GenerateBenefitUtilizationSummariesReportGenerateByReservationIdRequest"
      },
      "output": {
        "target": "com.azure.cost_management#BenefitUtilizationSummariesOperationStatus"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/providers/microsoft.Capacity/reservationorders/{reservationOrderId}/reservations/{reservationId}/providers/Microsoft.CostManagement/generateBenefitUtilizationSummariesReport",
          "code": 200,
          "apiVersion": "2025-03-01"
        },
        "smithy.api#documentation": "Triggers generation of a benefit utilization summaries report for the provided reservation.",
        "com.distilled.openapi#apiVersion": "2025-03-01"
      }
    },
    "com.azure.cost_management#BenefitUtilizationSummariesOperationStatus": {
      "type": "structure",
      "members": {
        "input": {
          "target": "com.azure.cost_management#BenefitUtilizationSummariesRequest",
          "traits": {
            "smithy.api#documentation": "Input given to create the benefit utilization summaries report."
          }
        },
        "status": {
          "target": "com.azure.cost_management#OperationStatusType",
          "traits": {
            "smithy.api#documentation": "The status of the creation of the benefit utilization summaries report."
          }
        },
        "properties": {
          "target": "com.azure.cost_management#AsyncOperationStatusProperties",
          "traits": {
            "smithy.api#documentation": "Contains sas url to the async benefit utilization summaries report and a date that the url is valid until. These values will be empty if the report is in a Running or Failed state"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of a benefit utilization summaries report. Provides Async Benefit Utilization Summaries Request input, status, and report sas url."
      }
    },
    "com.azure.cost_management#AsyncOperationStatusProperties": {
      "type": "structure",
      "members": {
        "reportUrl": {
          "target": "com.azure.cost_management#BenefitUtilizationSummaryReportSchema",
          "traits": {
            "smithy.api#documentation": "Sas url to the async benefit utilization summaries report. Will be empty if the report is in Running or Failed state."
          }
        },
        "secondaryReportUrl": {
          "target": "com.azure.cost_management#BenefitUtilizationSummaryReportSchema",
          "traits": {
            "smithy.api#documentation": "Sas url to async benefit utilization summaries report in secondary storage in case of primary outage. Will be empty if the report is in Running or Failed state."
          }
        },
        "validUntil": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date that the sas url provided in reportUrl expires."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Object representing the report url and valid until date of the async report generated."
      }
    },
    "com.azure.cost_management#BenefitUtilizationSummaryReportSchema": {
      "type": "enum",
      "members": {
        "KIND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Kind"
          }
        },
        "AVGUTILIZATIONPERCENTAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AvgUtilizationPercentage"
          }
        },
        "BENEFITORDERID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BenefitOrderId"
          }
        },
        "BENEFITID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BenefitId"
          }
        },
        "BENEFITTYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BenefitType"
          }
        },
        "MAXUTILIZATIONPERCENTAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MaxUtilizationPercentage"
          }
        },
        "MINUTILIZATIONPERCENTAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MinUtilizationPercentage"
          }
        },
        "USAGEDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UsageDate"
          }
        },
        "UTILIZEDPERCENTAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UtilizedPercentage"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The CSV file from the reportUrl and secondaryReportUrl blob link will consist of the following columns of benefit utilization data. UtilizedPercentage will be 0 for savings plans reports and non data bricks reservations. Utilization percentages will be 0 for data bricks reservations."
      }
    },
    "com.azure.cost_management#OperationStatusType": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enum representing the status of an async operation."
      }
    },
    "com.azure.cost_management#BenefitUtilizationSummariesRequest": {
      "type": "structure",
      "members": {
        "billingAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Billing account the benefit utilization summaries report is for. Required for billing account and billing profile scopes. Not supported for any benefit scopes."
          }
        },
        "billingProfileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Billing profile id the benefit utilization summaries report is for. Required for billing profile scope. Not supported for billing account or any benefit scopes."
          }
        },
        "benefitOrderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Benefit order id the benefit utilization summaries report is for. Required for benefit order and benefit id scopes. Not supported for any billing scopes."
          }
        },
        "benefitId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Benefit id the benefit utilization summaries report is for. Required for benefit id scope. Not supported for benefit order or any billing scopes."
          }
        },
        "grain": {
          "target": "com.azure.cost_management#Grain",
          "traits": {
            "smithy.api#documentation": "The grain the summaries data is served at in the report. Accepted values are 'Daily' or 'Monthly'.",
            "smithy.api#required": {}
          }
        },
        "startDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start date of the summaries data that will be served in the report.",
            "smithy.api#required": {}
          }
        },
        "endDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end date of the summaries data that will be served in the report.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.azure.cost_management#BenefitKind",
          "traits": {
            "smithy.api#documentation": "The type of benefit data requested. Required for billing account and billing profile scopes. Implied and not to be passed at benefit scopes. Supported values are Reservation and SavingsPlan"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of an async benefit utilization summaries request."
      }
    },
    "com.azure.cost_management#BenefitKind": {
      "type": "enum",
      "members": {
        "INCLUDEDQUANTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IncludedQuantity"
          }
        },
        "RESERVATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Reservation"
          }
        },
        "SAVINGSPLAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SavingsPlan"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Kind/type of the benefit."
      }
    },
    "com.azure.cost_management#Grain": {
      "type": "enum",
      "members": {
        "HOURLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Hourly"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Daily"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Monthly"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Grain which corresponds to value."
      }
    },
    "com.azure.cost_management#GenerateBenefitUtilizationSummariesReportGenerateByReservationIdRequest": {
      "type": "structure",
      "members": {
        "reservationOrderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Reservation Order ID"
          }
        },
        "reservationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Reservation ID"
          }
        },
        "billingAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Billing account the benefit utilization summaries report is for. Required for billing account and billing profile scopes. Not supported for any benefit scopes."
          }
        },
        "billingProfileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Billing profile id the benefit utilization summaries report is for. Required for billing profile scope. Not supported for billing account or any benefit scopes."
          }
        },
        "benefitOrderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Benefit order id the benefit utilization summaries report is for. Required for benefit order and benefit id scopes. Not supported for any billing scopes."
          }
        },
        "benefitId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Benefit id the benefit utilization summaries report is for. Required for benefit id scope. Not supported for benefit order or any billing scopes."
          }
        },
        "grain": {
          "target": "com.azure.cost_management#Grain",
          "traits": {
            "smithy.api#documentation": "The grain the summaries data is served at in the report. Accepted values are 'Daily' or 'Monthly'.",
            "smithy.api#required": {}
          }
        },
        "startDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start date of the summaries data that will be served in the report.",
            "smithy.api#required": {}
          }
        },
        "endDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end date of the summaries data that will be served in the report.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.azure.cost_management#BenefitKind",
          "traits": {
            "smithy.api#documentation": "The type of benefit data requested. Required for billing account and billing profile scopes. Implied and not to be passed at benefit scopes. Supported values are Reservation and SavingsPlan"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cost_management#GenerateBenefitUtilizationSummariesReportGenerateByReservationOrderId": {
      "type": "operation",
      "input": {
        "target": "com.azure.cost_management#GenerateBenefitUtilizationSummariesReportGenerateByReservationOrderIdRequest"
      },
      "output": {
        "target": "com.azure.cost_management#BenefitUtilizationSummariesOperationStatus"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/providers/microsoft.Capacity/reservationorders/{reservationOrderId}/providers/Microsoft.CostManagement/generateBenefitUtilizationSummariesReport",
          "code": 200,
          "apiVersion": "2025-03-01"
        },
        "smithy.api#documentation": "Triggers generation of a benefit utilization summaries report for the provided reservation order.",
        "com.distilled.openapi#apiVersion": "2025-03-01"
      }
    },
    "com.azure.cost_management#GenerateBenefitUtilizationSummariesReportGenerateByReservationOrderIdRequest": {
      "type": "structure",
      "members": {
        "reservationOrderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Reservation Order ID"
          }
        },
        "billingAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Billing account the benefit utilization summaries report is for. Required for billing account and billing profile scopes. Not supported for any benefit scopes."
          }
        },
        "billingProfileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Billing profile id the benefit utilization summaries report is for. Required for billing profile scope. Not supported for billing account or any benefit scopes."
          }
        },
        "benefitOrderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Benefit order id the benefit utilization summaries report is for. Required for benefit order and benefit id scopes. Not supported for any billing scopes."
          }
        },
        "benefitId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Benefit id the benefit utilization summaries report is for. Required for benefit id scope. Not supported for benefit order or any billing scopes."
          }
        },
        "grain": {
          "target": "com.azure.cost_management#Grain",
          "traits": {
            "smithy.api#documentation": "The grain the summaries data is served at in the report. Accepted values are 'Daily' or 'Monthly'.",
            "smithy.api#required": {}
          }
        },
        "startDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start date of the summaries data that will be served in the report.",
            "smithy.api#required": {}
          }
        },
        "endDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end date of the summaries data that will be served in the report.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.azure.cost_management#BenefitKind",
          "traits": {
            "smithy.api#documentation": "The type of benefit data requested. Required for billing account and billing profile scopes. Implied and not to be passed at benefit scopes. Supported values are Reservation and SavingsPlan"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cost_management#GenerateBenefitUtilizationSummariesReportGenerateBySavingsPlanId": {
      "type": "operation",
      "input": {
        "target": "com.azure.cost_management#GenerateBenefitUtilizationSummariesReportGenerateBySavingsPlanIdRequest"
      },
      "output": {
        "target": "com.azure.cost_management#BenefitUtilizationSummariesOperationStatus"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/providers/microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/savingsPlans/{savingsPlanId}/providers/Microsoft.CostManagement/generateBenefitUtilizationSummariesReport",
          "code": 200,
          "apiVersion": "2025-03-01"
        },
        "smithy.api#documentation": "Triggers generation of a benefit utilization summaries report for the provided savings plan.",
        "com.distilled.openapi#apiVersion": "2025-03-01"
      }
    },
    "com.azure.cost_management#GenerateBenefitUtilizationSummariesReportGenerateBySavingsPlanIdRequest": {
      "type": "structure",
      "members": {
        "savingsPlanOrderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Savings plan order ID."
          }
        },
        "savingsPlanId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Savings plan ID."
          }
        },
        "billingAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Billing account the benefit utilization summaries report is for. Required for billing account and billing profile scopes. Not supported for any benefit scopes."
          }
        },
        "billingProfileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Billing profile id the benefit utilization summaries report is for. Required for billing profile scope. Not supported for billing account or any benefit scopes."
          }
        },
        "benefitOrderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Benefit order id the benefit utilization summaries report is for. Required for benefit order and benefit id scopes. Not supported for any billing scopes."
          }
        },
        "benefitId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Benefit id the benefit utilization summaries report is for. Required for benefit id scope. Not supported for benefit order or any billing scopes."
          }
        },
        "grain": {
          "target": "com.azure.cost_management#Grain",
          "traits": {
            "smithy.api#documentation": "The grain the summaries data is served at in the report. Accepted values are 'Daily' or 'Monthly'.",
            "smithy.api#required": {}
          }
        },
        "startDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start date of the summaries data that will be served in the report.",
            "smithy.api#required": {}
          }
        },
        "endDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end date of the summaries data that will be served in the report.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.azure.cost_management#BenefitKind",
          "traits": {
            "smithy.api#documentation": "The type of benefit data requested. Required for billing account and billing profile scopes. Implied and not to be passed at benefit scopes. Supported values are Reservation and SavingsPlan"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cost_management#BenefitUtilizationSummariesListBySavingsPlanId": {
      "type": "operation",
      "input": {
        "target": "com.azure.cost_management#BenefitUtilizationSummariesListBySavingsPlanIdRequest"
      },
      "output": {
        "target": "com.azure.cost_management#BenefitUtilizationSummariesListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/savingsPlans/{savingsPlanId}/providers/Microsoft.CostManagement/benefitUtilizationSummaries",
          "code": 200,
          "apiVersion": "2025-03-01"
        },
        "smithy.api#documentation": "Lists the savings plan utilization summaries for daily or monthly grain.",
        "com.distilled.openapi#apiVersion": "2025-03-01"
      }
    },
    "com.azure.cost_management#BenefitUtilizationSummariesListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.cost_management#BenefitUtilizationSummariesListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of benefit utilization summaries."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link (URL) to the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of benefit utilization summaries."
      }
    },
    "com.azure.cost_management#BenefitUtilizationSummariesListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.cost_management#BenefitUtilizationSummary"
      },
      "traits": {
        "smithy.api#documentation": "The list of benefit utilization summaries."
      }
    },
    "com.azure.cost_management#BenefitUtilizationSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cost_management#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "kind": {
          "target": "com.azure.cost_management#BenefitKind",
          "traits": {
            "smithy.api#documentation": "Supported values: 'SavingsPlan'.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Benefit utilization summary resource."
      }
    },
    "com.azure.cost_management#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.cost_management#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.cost_management#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.cost_management#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.cost_management#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.cost_management#BenefitUtilizationSummariesListBySavingsPlanIdRequest": {
      "type": "structure",
      "members": {
        "savingsPlanOrderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Savings plan order ID."
          }
        },
        "savingsPlanId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Savings plan ID."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "Supports filtering by properties/usageDate."
          }
        },
        "grainParameter": {
          "target": "com.azure.cost_management#BenefitUtilizationSummariesListBySavingsPlanIdRequestGrainParameter",
          "traits": {
            "smithy.api#httpQuery": "grainParameter",
            "smithy.api#documentation": "Grain."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cost_management#BenefitUtilizationSummariesListBySavingsPlanIdRequestGrainParameter": {
      "type": "enum",
      "members": {
        "HOURLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Hourly"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Daily"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Monthly"
          }
        }
      },
      "traits": {}
    },
    "com.azure.cost_management#GenerateBenefitUtilizationSummariesReportGenerateBySavingsPlanOrderId": {
      "type": "operation",
      "input": {
        "target": "com.azure.cost_management#GenerateBenefitUtilizationSummariesReportGenerateBySavingsPlanOrderIdRequest"
      },
      "output": {
        "target": "com.azure.cost_management#BenefitUtilizationSummariesOperationStatus"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/providers/microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/providers/Microsoft.CostManagement/generateBenefitUtilizationSummariesReport",
          "code": 200,
          "apiVersion": "2025-03-01"
        },
        "smithy.api#documentation": "Triggers generation of a benefit utilization summaries report for the provided savings plan order.",
        "com.distilled.openapi#apiVersion": "2025-03-01"
      }
    },
    "com.azure.cost_management#GenerateBenefitUtilizationSummariesReportGenerateBySavingsPlanOrderIdRequest": {
      "type": "structure",
      "members": {
        "savingsPlanOrderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Savings plan order ID."
          }
        },
        "billingAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Billing account the benefit utilization summaries report is for. Required for billing account and billing profile scopes. Not supported for any benefit scopes."
          }
        },
        "billingProfileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Billing profile id the benefit utilization summaries report is for. Required for billing profile scope. Not supported for billing account or any benefit scopes."
          }
        },
        "benefitOrderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Benefit order id the benefit utilization summaries report is for. Required for benefit order and benefit id scopes. Not supported for any billing scopes."
          }
        },
        "benefitId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Benefit id the benefit utilization summaries report is for. Required for benefit id scope. Not supported for benefit order or any billing scopes."
          }
        },
        "grain": {
          "target": "com.azure.cost_management#Grain",
          "traits": {
            "smithy.api#documentation": "The grain the summaries data is served at in the report. Accepted values are 'Daily' or 'Monthly'.",
            "smithy.api#required": {}
          }
        },
        "startDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start date of the summaries data that will be served in the report.",
            "smithy.api#required": {}
          }
        },
        "endDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end date of the summaries data that will be served in the report.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.azure.cost_management#BenefitKind",
          "traits": {
            "smithy.api#documentation": "The type of benefit data requested. Required for billing account and billing profile scopes. Implied and not to be passed at benefit scopes. Supported values are Reservation and SavingsPlan"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cost_management#BenefitUtilizationSummariesListBySavingsPlanOrder": {
      "type": "operation",
      "input": {
        "target": "com.azure.cost_management#BenefitUtilizationSummariesListBySavingsPlanOrderRequest"
      },
      "output": {
        "target": "com.azure.cost_management#BenefitUtilizationSummariesListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/providers/Microsoft.CostManagement/benefitUtilizationSummaries",
          "code": 200,
          "apiVersion": "2025-03-01"
        },
        "smithy.api#documentation": "Lists the savings plan utilization summaries for daily or monthly grain.",
        "com.distilled.openapi#apiVersion": "2025-03-01"
      }
    },
    "com.azure.cost_management#BenefitUtilizationSummariesListBySavingsPlanOrderRequest": {
      "type": "structure",
      "members": {
        "savingsPlanOrderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Savings plan order ID."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "Supports filtering by properties/usageDate."
          }
        },
        "grainParameter": {
          "target": "com.azure.cost_management#BenefitUtilizationSummariesListBySavingsPlanOrderRequestGrainParameter",
          "traits": {
            "smithy.api#httpQuery": "grainParameter",
            "smithy.api#documentation": "Grain."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cost_management#BenefitUtilizationSummariesListBySavingsPlanOrderRequestGrainParameter": {
      "type": "enum",
      "members": {
        "HOURLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Hourly"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Daily"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Monthly"
          }
        }
      },
      "traits": {}
    },
    "com.azure.cost_management#GenerateReservationDetailsReportByBillingAccountId": {
      "type": "operation",
      "input": {
        "target": "com.azure.cost_management#GenerateReservationDetailsReportByBillingAccountIdRequest"
      },
      "output": {
        "target": "com.azure.cost_management#OperationStatus"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/providers/microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/generateReservationDetailsReport",
          "code": 200,
          "apiVersion": "2025-03-01"
        },
        "smithy.api#documentation": "Generates the reservations details report for provided date range asynchronously based on enrollment id. The Reservation usage details can be viewed only by certain enterprise roles. For more details on the roles see, https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/understand-ea-roles#usage-and-costs-access-by-role",
        "com.distilled.openapi#apiVersion": "2025-03-01"
      }
    },
    "com.azure.cost_management#OperationStatus": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.cost_management#OperationStatusType",
          "traits": {
            "smithy.api#documentation": "The status of the long running operation."
          }
        },
        "properties": {
          "target": "com.azure.cost_management#ReportURL",
          "traits": {
            "smithy.api#documentation": "The properties of the resource generated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the long running operation."
      }
    },
    "com.azure.cost_management#ReportURL": {
      "type": "structure",
      "members": {
        "reportUrl": {
          "target": "com.azure.cost_management#ReservationReportSchema",
          "traits": {
            "smithy.api#documentation": "The CSV file from the reportUrl blob link consists of reservation usage data with the following schema at daily granularity"
          }
        },
        "validUntil": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which report URL becomes invalid."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The URL to download the generated report."
      }
    },
    "com.azure.cost_management#ReservationReportSchema": {
      "type": "enum",
      "members": {
        "INSTANCEFLEXIBILITYGROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InstanceFlexibilityGroup"
          }
        },
        "INSTANCEFLEXIBILITYRATIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InstanceFlexibilityRatio"
          }
        },
        "INSTANCEID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InstanceId"
          }
        },
        "KIND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Kind"
          }
        },
        "RESERVATIONID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReservationId"
          }
        },
        "RESERVATIONORDERID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReservationOrderId"
          }
        },
        "RESERVEDHOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReservedHours"
          }
        },
        "SKUNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SkuName"
          }
        },
        "TOTALRESERVEDQUANTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TotalReservedQuantity"
          }
        },
        "USAGEDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UsageDate"
          }
        },
        "USEDHOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UsedHours"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The CSV file from the reportUrl blob link consists of reservation usage data with the following schema at daily granularity"
      }
    },
    "com.azure.cost_management#GenerateReservationDetailsReportByBillingAccountIdRequest": {
      "type": "structure",
      "members": {
        "billingAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "BillingAccount ID"
          }
        },
        "startDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "startDate",
            "smithy.api#required": {},
            "smithy.api#documentation": "Start Date"
          }
        },
        "endDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "endDate",
            "smithy.api#required": {},
            "smithy.api#documentation": "End Date"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cost_management#GenerateBenefitUtilizationSummariesReportGenerateByBillingAccount": {
      "type": "operation",
      "input": {
        "target": "com.azure.cost_management#GenerateBenefitUtilizationSummariesReportGenerateByBillingAccountRequest"
      },
      "output": {
        "target": "com.azure.cost_management#BenefitUtilizationSummariesOperationStatus"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/providers/microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/generateBenefitUtilizationSummariesReport",
          "code": 200,
          "apiVersion": "2025-03-01"
        },
        "smithy.api#documentation": "Triggers generation of a benefit utilization summaries report for the provided billing account. This API supports only enrollment accounts.",
        "com.distilled.openapi#apiVersion": "2025-03-01"
      }
    },
    "com.azure.cost_management#GenerateBenefitUtilizationSummariesReportGenerateByBillingAccountRequest": {
      "type": "structure",
      "members": {
        "billingAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "BillingAccount ID"
          }
        },
        "billingProfileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Billing profile id the benefit utilization summaries report is for. Required for billing profile scope. Not supported for billing account or any benefit scopes."
          }
        },
        "benefitOrderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Benefit order id the benefit utilization summaries report is for. Required for benefit order and benefit id scopes. Not supported for any billing scopes."
          }
        },
        "benefitId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Benefit id the benefit utilization summaries report is for. Required for benefit id scope. Not supported for benefit order or any billing scopes."
          }
        },
        "grain": {
          "target": "com.azure.cost_management#Grain",
          "traits": {
            "smithy.api#documentation": "The grain the summaries data is served at in the report. Accepted values are 'Daily' or 'Monthly'.",
            "smithy.api#required": {}
          }
        },
        "startDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start date of the summaries data that will be served in the report.",
            "smithy.api#required": {}
          }
        },
        "endDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end date of the summaries data that will be served in the report.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.azure.cost_management#BenefitKind",
          "traits": {
            "smithy.api#documentation": "The type of benefit data requested. Required for billing account and billing profile scopes. Implied and not to be passed at benefit scopes. Supported values are Reservation and SavingsPlan"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cost_management#CostAllocationRulesCheckNameAvailability": {
      "type": "operation",
      "input": {
        "target": "com.azure.cost_management#CostAllocationRulesCheckNameAvailabilityRequest"
      },
      "output": {
        "target": "com.azure.cost_management#CostAllocationRuleCheckNameAvailabilityResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/providers/microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/costAllocationRules/checkNameAvailability",
          "code": 200,
          "apiVersion": "2025-03-01"
        },
        "smithy.api#documentation": "Checks availability and correctness of a name for a cost allocation rule",
        "com.distilled.openapi#apiVersion": "2025-03-01"
      }
    },
    "com.azure.cost_management#CostAllocationRuleCheckNameAvailabilityResponse": {
      "type": "structure",
      "members": {
        "nameAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this rule name is available"
          }
        },
        "reason": {
          "target": "com.azure.cost_management#Reason",
          "traits": {
            "smithy.api#documentation": "The reason this name is not available"
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message if the name is not available"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The cost allocation rule check name availability response"
      }
    },
    "com.azure.cost_management#Reason": {
      "type": "enum",
      "members": {
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        },
        "ALREADYEXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AlreadyExists"
          }
        },
        "VALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Valid"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The reason this name is not available."
      }
    },
    "com.azure.cost_management#CostAllocationRulesCheckNameAvailabilityRequest": {
      "type": "structure",
      "members": {
        "billingAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "BillingAccount ID"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rule name"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type. This is expected to be Microsoft.CostManagement/costAllocationRules"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cost_management#CostAllocationRulesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.cost_management#CostAllocationRulesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/providers/microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/costAllocationRules/{ruleName}",
          "code": 200,
          "apiVersion": "2025-03-01"
        },
        "smithy.api#documentation": "Delete cost allocation rule for billing account or enterprise enrollment.",
        "com.distilled.openapi#apiVersion": "2025-03-01"
      }
    },
    "com.azure.cost_management#CostAllocationRulesDeleteRequest": {
      "type": "structure",
      "members": {
        "billingAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "BillingAccount ID"
          }
        },
        "ruleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cost allocation rule name. The name cannot include spaces or any non alphanumeric characters other than '_' and '-'. The max length is 260 characters."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cost_management#CostAllocationRulesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.cost_management#CostAllocationRulesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.cost_management#CostAllocationRulesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/providers/microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/costAllocationRules/{ruleName}",
          "code": 200,
          "apiVersion": "2025-03-01"
        },
        "smithy.api#documentation": "Create/Update a rule to allocate cost between different resources within a billing account or enterprise enrollment.",
        "com.distilled.openapi#apiVersion": "2025-03-01"
      }
    },
    "com.azure.cost_management#CostAllocationRulesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cost_management#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cost_management#CostAllocationRuleProperties",
          "traits": {
            "smithy.api#documentation": "Cost allocation rule properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cost_management#CostAllocationRuleProperties": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of a cost allocation rule."
          }
        },
        "details": {
          "target": "com.azure.cost_management#CostAllocationRuleDetails",
          "traits": {
            "smithy.api#documentation": "Resource information for the cost allocation rule",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.azure.cost_management#RuleStatus",
          "traits": {
            "smithy.api#documentation": "Status of the rule",
            "smithy.api#required": {}
          }
        },
        "createdDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time at which the rule was created. Rules that change cost for the same resource are applied in order of creation."
          }
        },
        "updatedDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time at which the rule was last updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of a cost allocation rule"
      }
    },
    "com.azure.cost_management#RuleStatus": {
      "type": "enum",
      "members": {
        "NOTACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotActive"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Processing"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current status of the rule."
      }
    },
    "com.azure.cost_management#CostAllocationRuleDetails": {
      "type": "structure",
      "members": {
        "sourceResources": {
          "target": "com.azure.cost_management#CostAllocationRuleDetailsSourceResourcesList",
          "traits": {
            "smithy.api#documentation": "Source resources for cost allocation. At this time, this list can contain no more than one element."
          }
        },
        "targetResources": {
          "target": "com.azure.cost_management#CostAllocationRuleDetailsTargetResourcesList",
          "traits": {
            "smithy.api#documentation": "Target resources for cost allocation. At this time, this list can contain no more than one element."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource details of the cost allocation rule"
      }
    },
    "com.azure.cost_management#CostAllocationRuleDetailsTargetResourcesList": {
      "type": "list",
      "member": {
        "target": "com.azure.cost_management#TargetCostAllocationResource"
      },
      "traits": {
        "smithy.api#documentation": "Target resources for cost allocation. At this time, this list can contain no more than one element."
      }
    },
    "com.azure.cost_management#TargetCostAllocationResource": {
      "type": "structure",
      "members": {
        "resourceType": {
          "target": "com.azure.cost_management#CostAllocationResourceType",
          "traits": {
            "smithy.api#documentation": "Type of resources contained in this cost allocation rule",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If resource type is dimension, this must be either ResourceGroupName or SubscriptionId. If resource type is tag, this must be a valid Azure tag",
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.azure.cost_management#TargetCostAllocationResourceValuesList",
          "traits": {
            "smithy.api#documentation": "Target resources for cost allocation. This list cannot contain more than 25 values.",
            "smithy.api#required": {}
          }
        },
        "policyType": {
          "target": "com.azure.cost_management#CostAllocationPolicyType",
          "traits": {
            "smithy.api#documentation": "Method of cost allocation for the rule",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Target resources for cost allocation."
      }
    },
    "com.azure.cost_management#CostAllocationPolicyType": {
      "type": "enum",
      "members": {
        "FIXEDPROPORTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FixedProportion"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Method to use for allocating cost. FixedProportion indicates that cost will be split based on specified percentage values."
      }
    },
    "com.azure.cost_management#TargetCostAllocationResourceValuesList": {
      "type": "list",
      "member": {
        "target": "com.azure.cost_management#CostAllocationProportion"
      },
      "traits": {
        "smithy.api#documentation": "Target resources for cost allocation. This list cannot contain more than 25 values."
      }
    },
    "com.azure.cost_management#CostAllocationProportion": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target resource for cost allocation",
            "smithy.api#required": {}
          }
        },
        "percentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percentage of source cost to allocate to this resource. This value can be specified to two decimal places and the total percentage of all resources in this rule must sum to 100.00.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Target resources and allocation"
      }
    },
    "com.azure.cost_management#CostAllocationResourceType": {
      "type": "enum",
      "members": {
        "DIMENSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Dimension"
          }
        },
        "TAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Tag"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Category of resource to use for allocation."
      }
    },
    "com.azure.cost_management#CostAllocationRuleDetailsSourceResourcesList": {
      "type": "list",
      "member": {
        "target": "com.azure.cost_management#SourceCostAllocationResource"
      },
      "traits": {
        "smithy.api#documentation": "Source resources for cost allocation. At this time, this list can contain no more than one element."
      }
    },
    "com.azure.cost_management#SourceCostAllocationResource": {
      "type": "structure",
      "members": {
        "resourceType": {
          "target": "com.azure.cost_management#CostAllocationResourceType",
          "traits": {
            "smithy.api#documentation": "Type of resources contained in this cost allocation rule",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If resource type is dimension, this must be either ResourceGroupName or SubscriptionId. If resource type is tag, this must be a valid Azure tag",
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.azure.cost_management#SourceCostAllocationResourceValuesList",
          "traits": {
            "smithy.api#documentation": "Source Resources for cost allocation. This list cannot contain more than 25 values.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Source resources for cost allocation"
      }
    },
    "com.azure.cost_management#SourceCostAllocationResourceValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Source Resources for cost allocation. This list cannot contain more than 25 values."
      }
    },
    "com.azure.cost_management#CostAllocationRulesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "billingAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "BillingAccount ID"
          }
        },
        "ruleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cost allocation rule name. The name cannot include spaces or any non alphanumeric characters other than '_' and '-'. The max length is 260 characters."
          }
        },
        "properties": {
          "target": "com.azure.cost_management#CostAllocationRulePropertiesInput",
          "traits": {
            "smithy.api#documentation": "Cost allocation rule properties"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cost_management#CostAllocationRulePropertiesInput": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of a cost allocation rule."
          }
        },
        "details": {
          "target": "com.azure.cost_management#CostAllocationRuleDetails",
          "traits": {
            "smithy.api#documentation": "Resource information for the cost allocation rule",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.azure.cost_management#RuleStatus",
          "traits": {
            "smithy.api#documentation": "Status of the rule",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of a cost allocation rule"
      }
    },
    "com.azure.cost_management#CostAllocationRulesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.cost_management#CostAllocationRulesGetRequest"
      },
      "output": {
        "target": "com.azure.cost_management#CostAllocationRulesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/costAllocationRules/{ruleName}",
          "code": 200,
          "apiVersion": "2025-03-01"
        },
        "smithy.api#documentation": "Get a cost allocation rule by rule name and billing account or enterprise enrollment.",
        "com.distilled.openapi#apiVersion": "2025-03-01"
      }
    },
    "com.azure.cost_management#CostAllocationRulesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cost_management#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cost_management#CostAllocationRuleProperties",
          "traits": {
            "smithy.api#documentation": "Cost allocation rule properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.cost_management#CostAllocationRulesGetRequest": {
      "type": "structure",
      "members": {
        "billingAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "BillingAccount ID"
          }
        },
        "ruleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Cost allocation rule name. The name cannot include spaces or any non alphanumeric characters other than '_' and '-'. The max length is 260 characters."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cost_management#CostAllocationRulesList": {
      "type": "operation",
      "input": {
        "target": "com.azure.cost_management#CostAllocationRulesListRequest"
      },
      "output": {
        "target": "com.azure.cost_management#CostAllocationRuleList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/costAllocationRules",
          "code": 200,
          "apiVersion": "2025-03-01"
        },
        "smithy.api#documentation": "Get the list of all cost allocation rules for a billing account or enterprise enrollment.",
        "com.distilled.openapi#apiVersion": "2025-03-01"
      }
    },
    "com.azure.cost_management#CostAllocationRuleList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.cost_management#CostAllocationRuleListValueList",
          "traits": {
            "smithy.api#documentation": "The list of cost allocation rules."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to get the next set of rule list results if there are any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of listing cost allocation rules. It contains a list of available rules in the billing account or enterprise enrollment provided."
      }
    },
    "com.azure.cost_management#CostAllocationRuleListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.cost_management#CostAllocationRuleDefinition"
      },
      "traits": {
        "smithy.api#documentation": "The list of cost allocation rules."
      }
    },
    "com.azure.cost_management#CostAllocationRuleDefinition": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cost_management#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cost_management#CostAllocationRuleProperties",
          "traits": {
            "smithy.api#documentation": "Cost allocation rule properties"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The cost allocation rule model definition"
      }
    },
    "com.azure.cost_management#CostAllocationRulesListRequest": {
      "type": "structure",
      "members": {
        "billingAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "BillingAccount ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cost_management#BenefitUtilizationSummariesListByBillingAccountId": {
      "type": "operation",
      "input": {
        "target": "com.azure.cost_management#BenefitUtilizationSummariesListByBillingAccountIdRequest"
      },
      "output": {
        "target": "com.azure.cost_management#BenefitUtilizationSummariesListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/benefitUtilizationSummaries",
          "code": 200,
          "apiVersion": "2025-03-01"
        },
        "smithy.api#documentation": "Lists savings plan utilization summaries for the enterprise agreement scope. Supported at grain values: 'Daily' and 'Monthly'.",
        "com.distilled.openapi#apiVersion": "2025-03-01"
      }
    },
    "com.azure.cost_management#BenefitUtilizationSummariesListByBillingAccountIdRequest": {
      "type": "structure",
      "members": {
        "billingAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "BillingAccount ID"
          }
        },
        "grainParameter": {
          "target": "com.azure.cost_management#BenefitUtilizationSummariesListByBillingAccountIdRequestGrainParameter",
          "traits": {
            "smithy.api#httpQuery": "grainParameter",
            "smithy.api#documentation": "Grain."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter",
            "smithy.api#documentation": "Supports filtering by properties/benefitId, properties/benefitOrderId and properties/usageDate."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cost_management#BenefitUtilizationSummariesListByBillingAccountIdRequestGrainParameter": {
      "type": "enum",
      "members": {
        "HOURLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Hourly"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Daily"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Monthly"
          }
        }
      },
      "traits": {}
    },
    "com.azure.cost_management#PriceSheetDownloadByBillingProfile": {
      "type": "operation",
      "input": {
        "target": "com.azure.cost_management#PriceSheetDownloadByBillingProfileRequest"
      },
      "output": {
        "target": "com.azure.cost_management#PricesheetDownloadProperties"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/providers/microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/providers/Microsoft.CostManagement/pricesheets/default/download",
          "code": 200,
          "apiVersion": "2025-03-01"
        },
        "smithy.api#documentation": "Gets a URL to download the current month's pricesheet for a billing profile. The operation is supported for billing accounts with agreement type Microsoft Partner Agreement or Microsoft Customer Agreement.\n\nYou can use the new 2023-09-01 API version for billing periods January 2023 onwards. Azure Reserved Instance (RI) pricing is only available through the new version of the API.\n\nDue to Azure product growth, the Azure price sheet download experience in this preview version will be updated from a single csv/json file to a Zip file containing multiple csv/json files, each with max size of 75MB.",
        "com.distilled.openapi#apiVersion": "2025-03-01"
      }
    },
    "com.azure.cost_management#PricesheetDownloadProperties": {
      "type": "structure",
      "members": {
        "expiryTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which report URL becomes invalid/expires in UTC e.g. 2020-12-08T05:55:59.4394737Z."
          }
        },
        "downloadUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to download the generated report."
          }
        },
        "downloadFileProperties": {
          "target": "com.azure.cost_management#MCAPriceSheetProperties",
          "traits": {
            "smithy.api#documentation": "The properties in downloaded file"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The URL to download the generated report."
      }
    },
    "com.azure.cost_management#MCAPriceSheetProperties": {
      "type": "structure",
      "members": {
        "billingAccountID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the billing account."
          }
        },
        "billingAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the billing profile that is set up to receive invoices. The prices in the price sheet are associated with this billing profile."
          }
        },
        "billingProfileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the billing profile."
          }
        },
        "billingProfileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the billing profile that is set up to receive invoices. The prices in the price sheet are associated with this billing profile."
          }
        },
        "productOrderName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the purchased product plan. Indicates if this pricing is standard Azure Plan pricing, Dev/Test pricing etc.\n\nCurrently unavailable for Azure 3rd party and ReservedInstance meters."
          }
        },
        "serviceFamily": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Type of Azure service. For example, Compute, Analytics, and Security."
          }
        },
        "product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the product accruing the charges."
          }
        },
        "productId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the product whose meter is consumed."
          }
        },
        "skuId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the SKU"
          }
        },
        "unitOfMeasure": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How usage is measured for the service"
          }
        },
        "meterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the meter"
          }
        },
        "meterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the meter. The meter represents the deployable resource of an Azure service."
          }
        },
        "meterType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the meter type"
          }
        },
        "meterCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the classification category for the meter. For example, Cloud services, Networking, etc."
          }
        },
        "meterSubCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the meter subclassification category."
          }
        },
        "meterRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Azure region where the meter for the service is available."
          }
        },
        "tierMinimumUnits": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the lower bound of the tier range for which prices are defined. For example, if the range is 0 to 100, tierMinimumUnits would be 0."
          }
        },
        "effectiveStartDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Effective start date of the Price Sheet billing period"
          }
        },
        "effectiveEndDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Effective end date of the Price Sheet billing period"
          }
        },
        "unitPrice": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The per-unit price at the time of billing for a given product or service, inclusive of any negotiated discounts on top of the market price.\n\nFor PriceType ReservedInstance, unit price reflects the total cost of the 1 or 3-year commitment including discounts.\n\nNote: The unit price isn't the same as the effective price in usage details downloads when services have differential prices across tiers.\n\nIf services have multi-tiered pricing, the effective price is a blended rate across the tiers and doesn't show a tier-specific unit price. The blended price or effective price is the net price for the consumed quantity spanning across the multiple tiers (where each tier has a specific unit price)."
          }
        },
        "basePrice": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unit price at the time the customer signs on or the unit price at the time of service meter GA launch if it is after sign-on.\n\nThis is applicable for Enterprise Agreement users"
          }
        },
        "marketPrice": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current list price for a given product or service. This price is without any negotiations and is based on your Microsoft Agreement type.\n\nFor PriceType Consumption, market price is reflected as the pay-as-you-go price.\n\nFor PriceType Savings Plan, market price reflects the Savings plan benefit on top of pay-as-you-go price for the corresponding commitment term.\n\nFor PriceType ReservedInstance, market price reflects the total price of the 1 or 3-year commitment."
          }
        },
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Currency in which all the prices are reflected."
          }
        },
        "billingCurrency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Currency in which charges are posted."
          }
        },
        "term": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Term length for Azure Savings Plan or Reservation term – one year or three years (P1Y or P3Y)"
          }
        },
        "priceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Price type for a product. For example, an Azure resource with a pay-as-you-go rate with priceType as Consumption. Other price types include ReservedInstance and Savings Plan."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the price sheet."
      }
    },
    "com.azure.cost_management#PriceSheetDownloadByBillingProfileRequest": {
      "type": "structure",
      "members": {
        "billingAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "BillingAccount ID"
          }
        },
        "billingProfileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Billing Profile Name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cost_management#GenerateReservationDetailsReportByBillingProfileId": {
      "type": "operation",
      "input": {
        "target": "com.azure.cost_management#GenerateReservationDetailsReportByBillingProfileIdRequest"
      },
      "output": {
        "target": "com.azure.cost_management#OperationStatus"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/providers/microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.CostManagement/generateReservationDetailsReport",
          "code": 200,
          "apiVersion": "2025-03-01"
        },
        "smithy.api#documentation": "Generates the reservations details report for provided date range asynchronously by billing profile. The Reservation usage details can be viewed by only certain enterprise roles by default. For more details on the roles see, https://docs.microsoft.com/en-us/azure/cost-management-billing/reservations/reservation-utilization#view-utilization-in-the-azure-portal-with-azure-rbac-access",
        "com.distilled.openapi#apiVersion": "2025-03-01"
      }
    },
    "com.azure.cost_management#GenerateReservationDetailsReportByBillingProfileIdRequest": {
      "type": "structure",
      "members": {
        "billingAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "BillingAccount ID"
          }
        },
        "billingProfileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Billing Profile ID."
          }
        },
        "startDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "startDate",
            "smithy.api#required": {},
            "smithy.api#documentation": "Start Date"
          }
        },
        "endDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "endDate",
            "smithy.api#required": {},
            "smithy.api#documentation": "End Date"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cost_management#GenerateBenefitUtilizationSummariesReportGenerateByBillingProfile": {
      "type": "operation",
      "input": {
        "target": "com.azure.cost_management#GenerateBenefitUtilizationSummariesReportGenerateByBillingProfileRequest"
      },
      "output": {
        "target": "com.azure.cost_management#BenefitUtilizationSummariesOperationStatus"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/providers/microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.CostManagement/generateBenefitUtilizationSummariesReport",
          "code": 200,
          "apiVersion": "2025-03-01"
        },
        "smithy.api#documentation": "Triggers generation of a benefit utilization summaries report for the provided billing account and billing profile.",
        "com.distilled.openapi#apiVersion": "2025-03-01"
      }
    },
    "com.azure.cost_management#GenerateBenefitUtilizationSummariesReportGenerateByBillingProfileRequest": {
      "type": "structure",
      "members": {
        "billingAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "BillingAccount ID"
          }
        },
        "billingProfileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Billing Profile ID."
          }
        },
        "benefitOrderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Benefit order id the benefit utilization summaries report is for. Required for benefit order and benefit id scopes. Not supported for any billing scopes."
          }
        },
        "benefitId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Benefit id the benefit utilization summaries report is for. Required for benefit id scope. Not supported for benefit order or any billing scopes."
          }
        },
        "grain": {
          "target": "com.azure.cost_management#Grain",
          "traits": {
            "smithy.api#documentation": "The grain the summaries data is served at in the report. Accepted values are 'Daily' or 'Monthly'.",
            "smithy.api#required": {}
          }
        },
        "startDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start date of the summaries data that will be served in the report.",
            "smithy.api#required": {}
          }
        },
        "endDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end date of the summaries data that will be served in the report.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.azure.cost_management#BenefitKind",
          "traits": {
            "smithy.api#documentation": "The type of benefit data requested. Required for billing account and billing profile scopes. Implied and not to be passed at benefit scopes. Supported values are Reservation and SavingsPlan"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cost_management#BenefitUtilizationSummariesListByBillingProfileId": {
      "type": "operation",
      "input": {
        "target": "com.azure.cost_management#BenefitUtilizationSummariesListByBillingProfileIdRequest"
      },
      "output": {
        "target": "com.azure.cost_management#BenefitUtilizationSummariesListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.CostManagement/benefitUtilizationSummaries",
          "code": 200,
          "apiVersion": "2025-03-01"
        },
        "smithy.api#documentation": "Lists savings plan utilization summaries for billing profile. Supported at grain values: 'Daily' and 'Monthly'.",
        "com.distilled.openapi#apiVersion": "2025-03-01"
      }
    },
    "com.azure.cost_management#BenefitUtilizationSummariesListByBillingProfileIdRequest": {
      "type": "structure",
      "members": {
        "billingAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "BillingAccount ID"
          }
        },
        "billingProfileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Billing Profile ID."
          }
        },
        "grainParameter": {
          "target": "com.azure.cost_management#BenefitUtilizationSummariesListByBillingProfileIdRequestGrainParameter",
          "traits": {
            "smithy.api#httpQuery": "grainParameter",
            "smithy.api#documentation": "Grain."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter",
            "smithy.api#documentation": "Supports filtering by properties/benefitId, properties/benefitOrderId and properties/usageDate."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cost_management#BenefitUtilizationSummariesListByBillingProfileIdRequestGrainParameter": {
      "type": "enum",
      "members": {
        "HOURLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Hourly"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Daily"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Monthly"
          }
        }
      },
      "traits": {}
    },
    "com.azure.cost_management#PriceSheetDownloadByInvoice": {
      "type": "operation",
      "input": {
        "target": "com.azure.cost_management#PriceSheetDownloadByInvoiceRequest"
      },
      "output": {
        "target": "com.azure.cost_management#DownloadURL"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/providers/microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoices/{invoiceName}/providers/Microsoft.CostManagement/pricesheets/default/download",
          "code": 200,
          "apiVersion": "2025-03-01"
        },
        "smithy.api#documentation": "Gets a URL to download the pricesheet for an invoice. The operation is supported for billing accounts with agreement type Microsoft Partner Agreement or Microsoft Customer Agreement.",
        "com.distilled.openapi#apiVersion": "2025-03-01"
      }
    },
    "com.azure.cost_management#DownloadURL": {
      "type": "structure",
      "members": {
        "expiryTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which report URL becomes invalid/expires in UTC e.g. 2020-12-08T05:55:59.4394737Z."
          }
        },
        "validTill": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which report URL becomes invalid/expires in UTC e.g. 2020-12-08T05:55:59.4394737Z."
          }
        },
        "downloadUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to download the generated report."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The URL to download the generated report."
      }
    },
    "com.azure.cost_management#PriceSheetDownloadByInvoiceRequest": {
      "type": "structure",
      "members": {
        "billingAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "BillingAccount ID"
          }
        },
        "billingProfileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Billing Profile Name."
          }
        },
        "invoiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID that uniquely identifies an invoice."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cost_management#PriceSheetDownloadByBillingAccount": {
      "type": "operation",
      "input": {
        "target": "com.azure.cost_management#PriceSheetDownloadByBillingAccountRequest"
      },
      "output": {
        "target": "com.azure.cost_management#OperationStatus"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/providers/microsoft.Billing/billingAccounts/{billingAccountId}/billingPeriods/{billingPeriodName}/providers/Microsoft.CostManagement/pricesheets/default/download",
          "code": 200,
          "apiVersion": "2025-03-01"
        },
        "smithy.api#documentation": "Generates the pricesheet for the provided billing period asynchronously based on the Enrollment ID. This is for Enterprise Agreement customers.\n\n**Migrate to version 2025-03-01**\n\nYou can use the 2025-03-01 API version with the new URI:\n\n'/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingPeriods/{billingPeriodName}/providers/Microsoft.CostManagement/pricesheets/default/download'\n\nWith a new schema detailed below, the new version of the price sheet provides additional information and includes prices for Azure Reserved Instances (RI) for the current billing period. We recommend downloading an Azure Price Sheet for when entering a new billing period if you would maintain an ongoing record of past Azure Reserved Instance (RI) pricing.\n\nThe EA Azure price sheet is available for billing periods in the past 13 months. To request a price sheet for a billing period older than 13 months, please contact support.\n\nThe Azure price sheet download experience has been updated from a single .csv file to a zip file containing multiple .csv files, each with max size of 75MB. The 2023-11-01 version has been upgraded to use http POST method; details can be found below.\n\nAll versions of the Microsoft.Consumption Azure Price Sheet - Download by Billing Account (including 2022-06-01, 2021-10-01, 2020-01-01-preview, 2019-10-01, 2019-05-01) are scheduled to be retired on 01 June 2026 and will no longer be supported after this date.",
        "com.distilled.openapi#apiVersion": "2025-03-01"
      }
    },
    "com.azure.cost_management#PriceSheetDownloadByBillingAccountRequest": {
      "type": "structure",
      "members": {
        "billingAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "BillingAccount ID"
          }
        },
        "billingPeriodName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Billing Period Name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cost_management#ViewsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.cost_management#ViewsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/providers/Microsoft.CostManagement/views/{viewName}",
          "code": 200,
          "apiVersion": "2025-03-01"
        },
        "smithy.api#documentation": "The operation to delete a view.",
        "com.distilled.openapi#apiVersion": "2025-03-01"
      }
    },
    "com.azure.cost_management#ViewsDeleteRequest": {
      "type": "structure",
      "members": {
        "viewName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "View name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cost_management#ViewsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.cost_management#ViewsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.cost_management#ViewsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/providers/Microsoft.CostManagement/views/{viewName}",
          "code": 200,
          "apiVersion": "2025-03-01"
        },
        "smithy.api#documentation": "The operation to create or update a view. Update operation requires latest eTag to be set in the request. You may obtain the latest eTag by performing a get operation. Create operation does not require eTag.",
        "com.distilled.openapi#apiVersion": "2025-03-01"
      }
    },
    "com.azure.cost_management#ViewsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.cost_management#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.cost_management#ViewProperties",
          "traits": {
[...]
