{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.cpim#GuestUsagesListByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.cpim#GuestUsagesListByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.cpim#GuestUsagesResourceList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureActiveDirectory/guestUsages",
          "code": 200,
          "apiVersion": "2021-04-01"
        },
        "smithy.api#documentation": "Gets Guest Usages resources under resource group\n\nGets Guest Usages resources under a resource group for the Microsoft.AzureActiveDirectory resource provider",
        "com.distilled.openapi#apiVersion": "2021-04-01"
      }
    },
    "com.azure.cpim#GuestUsagesResourceList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.cpim#GuestUsagesResourceListValueList",
          "traits": {
            "smithy.api#documentation": "List of guest usages resources"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The collection of guest usages resources"
      }
    },
    "com.azure.cpim#GuestUsagesResourceListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.cpim#GuestUsagesResource"
      },
      "traits": {
        "smithy.api#documentation": "List of guest usages resources"
      }
    },
    "com.azure.cpim#GuestUsagesResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier that represents the Guest Usages resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Guest Usages resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the Guest Usages resource."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the Guest Usages resource."
          }
        },
        "tags": {
          "target": "com.azure.cpim#GuestUsagesResourceTagsMap",
          "traits": {
            "smithy.api#documentation": "Key-value pairs of additional resource provisioning properties."
          }
        },
        "properties": {
          "target": "com.azure.cpim#GuestUsagesResourceProperties",
          "traits": {
            "smithy.api#documentation": "The Guest Usages Resource Properties"
          }
        },
        "systemData": {
          "target": "com.azure.cpim#GuestUsagesResourceSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Guest Usages Resource"
      }
    },
    "com.azure.cpim#GuestUsagesResourceSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.cpim#GuestUsagesResourceSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.cpim#GuestUsagesResourceSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.cpim#GuestUsagesResourceSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.cpim#GuestUsagesResourceSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.cpim#GuestUsagesResourceProperties": {
      "type": "structure",
      "members": {
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier for the tenant for which the resource is being created"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Guest Usages Resource Properties"
      }
    },
    "com.azure.cpim#GuestUsagesResourceTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Key-value pairs of additional resource provisioning properties."
      }
    },
    "com.azure.cpim#GuestUsagesListByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cpim#GuestUsagesListBySubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.cpim#GuestUsagesListBySubscriptionRequest"
      },
      "output": {
        "target": "com.azure.cpim#GuestUsagesResourceList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.AzureActiveDirectory/guestUsages",
          "code": 200,
          "apiVersion": "2021-04-01"
        },
        "smithy.api#documentation": "Gets Guest Usages resources under a subscription\n\nGets Guest Usages resources under a subscription for the Microsoft.AzureActiveDirectory resource provider",
        "com.distilled.openapi#apiVersion": "2021-04-01"
      }
    },
    "com.azure.cpim#GuestUsagesListBySubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cpim#GuestUsagesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.cpim#GuestUsagesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureActiveDirectory/guestUsages/{resourceName}",
          "code": 200,
          "apiVersion": "2021-04-01"
        },
        "smithy.api#documentation": "Deletes a Guest Usages resource\n\nDeletes a Guest Usages resource for the Microsoft.AzureActiveDirectory resource provider",
        "com.distilled.openapi#apiVersion": "2021-04-01"
      }
    },
    "com.azure.cpim#GuestUsagesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The initial domain name of the Azure AD B2C tenant."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cpim#GuestUsagesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.cpim#GuestUsagesUpdateRequest"
      },
      "output": {
        "target": "com.azure.cpim#GuestUsagesResource"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureActiveDirectory/guestUsages/{resourceName}",
          "code": 200,
          "apiVersion": "2021-04-01"
        },
        "smithy.api#documentation": "Updates a Guest Usages resource\n\nUpdates a Guest Usages resource for the Microsoft.AzureActiveDirectory resource provider",
        "com.distilled.openapi#apiVersion": "2021-04-01"
      }
    },
    "com.azure.cpim#GuestUsagesUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The initial domain name of the Azure AD B2C tenant."
          }
        },
        "tags": {
          "target": "com.azure.cpim#GuestUsagesUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Key-value pairs of additional resource provisioning properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cpim#GuestUsagesUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Key-value pairs of additional resource provisioning properties."
      }
    },
    "com.azure.cpim#GuestUsagesCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.cpim#GuestUsagesCreateRequest"
      },
      "output": {
        "target": "com.azure.cpim#GuestUsagesResource"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureActiveDirectory/guestUsages/{resourceName}",
          "code": 200,
          "apiVersion": "2021-04-01"
        },
        "smithy.api#documentation": "Creates a Guest Usages resource\n\nCreates a Guest Usages resource, which is used to linking a subscription to an instance of Azure AD External Identities. [Learn more](https://aka.ms/extidbilling).",
        "com.distilled.openapi#apiVersion": "2021-04-01"
      }
    },
    "com.azure.cpim#GuestUsagesCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The initial domain name of the Azure AD B2C tenant."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the Guest Usages resource."
          }
        },
        "tags": {
          "target": "com.azure.cpim#GuestUsagesCreateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Key-value pairs of additional resource provisioning properties."
          }
        },
        "properties": {
          "target": "com.azure.cpim#GuestUsagesResourceProperties",
          "traits": {
            "smithy.api#documentation": "The Guest Usages Resource Properties"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cpim#GuestUsagesCreateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Key-value pairs of additional resource provisioning properties."
      }
    },
    "com.azure.cpim#GuestUsagesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.cpim#GuestUsagesGetRequest"
      },
      "output": {
        "target": "com.azure.cpim#GuestUsagesResource"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureActiveDirectory/guestUsages/{resourceName}",
          "code": 200,
          "apiVersion": "2021-04-01"
        },
        "smithy.api#documentation": "Gets a Guest Usages resource\n\nGets a Guest Usages resource for the Microsoft.AzureActiveDirectory resource provider",
        "com.distilled.openapi#apiVersion": "2021-04-01"
      }
    },
    "com.azure.cpim#GuestUsagesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The initial domain name of the Azure AD B2C tenant."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cpim#OperationsList": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.azure.cpim#AvailableOperations"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.AzureActiveDirectory/operations",
          "code": 200,
          "apiVersion": "2021-04-01"
        },
        "smithy.api#documentation": "Lists the operations available from this provider.",
        "com.distilled.openapi#apiVersion": "2021-04-01"
      }
    },
    "com.azure.cpim#AvailableOperations": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.cpim#AvailableOperationsValueList",
          "traits": {
            "smithy.api#documentation": "Collection of available operation details"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available operations of the service"
      }
    },
    "com.azure.cpim#AvailableOperationsValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.cpim#OperationDetail"
      },
      "traits": {
        "smithy.api#documentation": "Collection of available operation details"
      }
    },
    "com.azure.cpim#OperationDetail": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the operation"
          }
        },
        "isDataAction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the operation is a data action"
          }
        },
        "display": {
          "target": "com.azure.cpim#OperationDisplay",
          "traits": {
            "smithy.api#documentation": "Display of the operation"
          }
        },
        "origin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Origin of the operation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Operation detail payload"
      }
    },
    "com.azure.cpim#OperationDisplay": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource provider of the operation"
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource of the operation"
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Localized friendly name for the operation"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Localized friendly description for the operation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Operation display payload"
      }
    },
    "com.azure.cpim#B2CTenantsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.cpim#B2CTenantsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureActiveDirectory/b2cDirectories/{resourceName}",
          "code": 200,
          "apiVersion": "2021-04-01"
        },
        "smithy.api#documentation": "Initiates an async operation to delete the Azure AD B2C tenant and Azure resource. The resource deletion can only happen as the last step in [the tenant deletion process](https://aka.ms/deleteB2Ctenant).",
        "com.distilled.openapi#apiVersion": "2021-04-01"
      }
    },
    "com.azure.cpim#B2CTenantsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The initial domain name of the Azure AD B2C tenant."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cpim#B2CTenantsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.cpim#B2CTenantsUpdateRequest"
      },
      "output": {
        "target": "com.azure.cpim#B2CTenantResource"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureActiveDirectory/b2cDirectories/{resourceName}",
          "code": 200,
          "apiVersion": "2021-04-01"
        },
        "smithy.api#documentation": "Update the Azure AD B2C tenant resource.",
        "com.distilled.openapi#apiVersion": "2021-04-01"
      }
    },
    "com.azure.cpim#B2CTenantResource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.cpim#B2CTenantResourceType",
          "traits": {
            "smithy.api#documentation": "The type of the B2C tenant resource."
          }
        },
        "sku": {
          "target": "com.azure.cpim#B2CResourceSKU",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.cpim#B2CTenantResourceProperties",
          "traits": {
            "smithy.api#documentation": "The Azure AD B2C tenant resource properties"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier that represents the Azure AD B2C tenant resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Azure AD B2C tenant resource."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location in which the resource is hosted and data resides. Can be one of 'United States', 'Europe', 'Asia Pacific', or 'Australia'. Refer to [this documentation](https://aka.ms/B2CDataResidency) for more information.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.azure.cpim#B2CTenantResourceTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource Tags"
          }
        },
        "systemData": {
          "target": "com.azure.cpim#B2CTenantResourceSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {}
    },
    "com.azure.cpim#B2CTenantResourceSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.cpim#B2CTenantResourceSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.cpim#B2CTenantResourceSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.cpim#B2CTenantResourceSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.cpim#B2CTenantResourceSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.cpim#B2CTenantResourceTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource Tags"
      }
    },
    "com.azure.cpim#B2CTenantResourceProperties": {
      "type": "structure",
      "members": {
        "billingConfig": {
          "target": "com.azure.cpim#B2CTenantResourcePropertiesBillingConfig",
          "traits": {
            "smithy.api#documentation": "The billing configuration for the tenant."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier of the Azure AD B2C tenant."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the Azure AD B2C tenant Azure resource."
      }
    },
    "com.azure.cpim#B2CTenantResourcePropertiesBillingConfig": {
      "type": "structure",
      "members": {
        "billingType": {
          "target": "com.azure.cpim#B2CTenantResourcePropertiesBillingConfigBillingType",
          "traits": {
            "smithy.api#documentation": "The type of billing. Will be MAU for all new customers. If 'Auths', it can be updated to 'MAU'. Cannot be changed if value is 'MAU'. Learn more about Azure AD B2C billing at [aka.ms/b2cBilling](https://aka.ms/b2cbilling)."
          }
        },
        "effectiveStartDateUtc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The data from which the billing type took effect"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The billing configuration for the tenant."
      }
    },
    "com.azure.cpim#B2CTenantResourcePropertiesBillingConfigBillingType": {
      "type": "enum",
      "members": {
        "MAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAU"
          }
        },
        "AUTHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Auths"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of billing. Will be MAU for all new customers. If 'Auths', it can be updated to 'MAU'. Cannot be changed if value is 'MAU'. Learn more about Azure AD B2C billing at [aka.ms/b2cBilling](https://aka.ms/b2cbilling)."
      }
    },
    "com.azure.cpim#B2CResourceSKU": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.azure.cpim#B2CResourceSKUName",
          "traits": {
            "smithy.api#documentation": "The name of the SKU for the tenant."
          }
        },
        "tier": {
          "target": "com.azure.cpim#B2CResourceSKUTier",
          "traits": {
            "smithy.api#documentation": "The tier of the tenant."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SKU properties of the Azure AD B2C tenant. Learn more about Azure AD B2C billing at [aka.ms/b2cBilling](https://aka.ms/b2cBilling)."
      }
    },
    "com.azure.cpim#B2CResourceSKUTier": {
      "type": "enum",
      "members": {
        "A0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A0"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The tier of the tenant."
      }
    },
    "com.azure.cpim#B2CResourceSKUName": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "PREMIUMP1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PremiumP1"
          }
        },
        "PREMIUMP2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PremiumP2"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The name of the SKU for the tenant."
      }
    },
    "com.azure.cpim#B2CTenantResourceType": {
      "type": "enum",
      "members": {
        "MICROSOFT_AZUREACTIVEDIRECTORY_B2CDIRECTORIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Microsoft.AzureActiveDirectory/b2cDirectories"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the B2C tenant resource."
      }
    },
    "com.azure.cpim#B2CTenantsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The initial domain name of the Azure AD B2C tenant."
          }
        },
        "sku": {
          "target": "com.azure.cpim#B2CResourceSKU"
        },
        "properties": {
          "target": "com.azure.cpim#B2CTenantResourcePropertiesInput",
          "traits": {
            "smithy.api#documentation": "The Azure AD B2C tenant resource properties."
          }
        },
        "tags": {
          "target": "com.azure.cpim#B2CTenantsUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource Tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cpim#B2CTenantsUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource Tags"
      }
    },
    "com.azure.cpim#B2CTenantResourcePropertiesInput": {
      "type": "structure",
      "members": {
        "billingConfig": {
          "target": "com.azure.cpim#B2CTenantResourcePropertiesInputBillingConfig",
          "traits": {
            "smithy.api#documentation": "The billing configuration for the tenant."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier of the Azure AD B2C tenant."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the Azure AD B2C tenant Azure resource."
      }
    },
    "com.azure.cpim#B2CTenantResourcePropertiesInputBillingConfig": {
      "type": "structure",
      "members": {
        "billingType": {
          "target": "com.azure.cpim#B2CTenantResourcePropertiesInputBillingConfigBillingType",
          "traits": {
            "smithy.api#documentation": "The type of billing. Will be MAU for all new customers. If 'Auths', it can be updated to 'MAU'. Cannot be changed if value is 'MAU'. Learn more about Azure AD B2C billing at [aka.ms/b2cBilling](https://aka.ms/b2cbilling)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The billing configuration for the tenant."
      }
    },
    "com.azure.cpim#B2CTenantResourcePropertiesInputBillingConfigBillingType": {
      "type": "enum",
      "members": {
        "MAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAU"
          }
        },
        "AUTHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Auths"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of billing. Will be MAU for all new customers. If 'Auths', it can be updated to 'MAU'. Cannot be changed if value is 'MAU'. Learn more about Azure AD B2C billing at [aka.ms/b2cBilling](https://aka.ms/b2cbilling)."
      }
    },
    "com.azure.cpim#B2CTenantsCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.cpim#B2CTenantsCreateRequest"
      },
      "output": {
        "target": "com.azure.cpim#B2CTenantResource"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureActiveDirectory/b2cDirectories/{resourceName}",
          "code": 200,
          "apiVersion": "2021-04-01"
        },
        "smithy.api#documentation": "Initiates an async request to create both the Azure AD B2C tenant and the corresponding Azure resource linked to a subscription.",
        "com.distilled.openapi#apiVersion": "2021-04-01"
      }
    },
    "com.azure.cpim#B2CTenantsCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The initial domain name of the Azure AD B2C tenant."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location in which the resource is hosted and data resides. Can be one of 'United States', 'Europe', 'Asia Pacific', or 'Australia'. Refer to [this documentation](https://aka.ms/B2CDataResidency) for more information.",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.cpim#B2CTenantsCreateRequestProperties",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sku": {
          "target": "com.azure.cpim#B2CResourceSKU",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.azure.cpim#B2CTenantsCreateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource Tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cpim#B2CTenantsCreateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource Tags"
      }
    },
    "com.azure.cpim#B2CTenantsCreateRequestProperties": {
      "type": "structure",
      "members": {
        "createTenantProperties": {
          "target": "com.azure.cpim#CreateTenantProperties"
        }
      },
      "traits": {}
    },
    "com.azure.cpim#CreateTenantProperties": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the Azure AD B2C tenant."
          }
        },
        "countryCode": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "These properties are used to create the Azure AD B2C tenant. These properties are not part of the Azure resource."
      }
    },
    "com.azure.cpim#B2CTenantsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.cpim#B2CTenantsGetRequest"
      },
      "output": {
        "target": "com.azure.cpim#B2CTenantResource"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureActiveDirectory/b2cDirectories/{resourceName}",
          "code": 200,
          "apiVersion": "2021-04-01"
        },
        "smithy.api#documentation": "Get the Azure AD B2C tenant resource.",
        "com.distilled.openapi#apiVersion": "2021-04-01"
      }
    },
    "com.azure.cpim#B2CTenantsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The initial domain name of the Azure AD B2C tenant."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cpim#B2CTenantsListBySubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.cpim#B2CTenantsListBySubscriptionRequest"
      },
      "output": {
        "target": "com.azure.cpim#B2CTenantResourceList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.AzureActiveDirectory/b2cDirectories",
          "code": 200,
          "apiVersion": "2021-04-01"
        },
        "smithy.api#documentation": "Get all the Azure AD B2C tenant resources in a subscription.",
        "com.distilled.openapi#apiVersion": "2021-04-01"
      }
    },
    "com.azure.cpim#B2CTenantResourceList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.cpim#B2CTenantResourceListValueList",
          "traits": {
            "smithy.api#documentation": "List of Azure AD B2C tenant resources"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The collection of Azure AD B2C tenant resources"
      }
    },
    "com.azure.cpim#B2CTenantResourceListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.cpim#B2CTenantResource"
      },
      "traits": {
        "smithy.api#documentation": "List of Azure AD B2C tenant resources"
      }
    },
    "com.azure.cpim#B2CTenantsListBySubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cpim#B2CTenantsListByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.cpim#B2CTenantsListByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.cpim#B2CTenantResourceList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureActiveDirectory/b2cDirectories",
          "code": 200,
          "apiVersion": "2021-04-01"
        },
        "smithy.api#documentation": "Get all the Azure AD B2C tenant resources in a resource group.",
        "com.distilled.openapi#apiVersion": "2021-04-01"
      }
    },
    "com.azure.cpim#B2CTenantsListByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cpim#B2CTenantsCheckNameAvailability": {
      "type": "operation",
      "input": {
        "target": "com.azure.cpim#B2CTenantsCheckNameAvailabilityRequest"
      },
      "output": {
        "target": "com.azure.cpim#NameAvailabilityResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.AzureActiveDirectory/checkNameAvailability",
          "code": 200,
          "apiVersion": "2021-04-01"
        },
        "smithy.api#documentation": "Checks the availability and validity of a domain name for the tenant.",
        "com.distilled.openapi#apiVersion": "2021-04-01"
      }
    },
    "com.azure.cpim#NameAvailabilityResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the reason if name is not available."
          }
        },
        "nameAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the name is available and can be used to create a new tenant. Otherwise false."
          }
        },
        "reason": {
          "target": "com.azure.cpim#NameAvailabilityReason"
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of the CheckNameAvailability operation."
      }
    },
    "com.azure.cpim#NameAvailabilityReason": {
      "type": "enum",
      "members": {
        "ALREADYEXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AlreadyExists"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the reason for the 'nameAvailable' value."
      }
    },
    "com.azure.cpim#B2CTenantsCheckNameAvailabilityRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain name to check for availability.",
            "smithy.api#required": {}
          }
        },
        "countryCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.cpim#Cpim": {
      "type": "service",
      "version": "1.0",
      "operations": [
        {
          "target": "com.azure.cpim#GuestUsagesListByResourceGroup"
        },
        {
          "target": "com.azure.cpim#GuestUsagesListBySubscription"
        },
        {
          "target": "com.azure.cpim#GuestUsagesDelete"
        },
        {
          "target": "com.azure.cpim#GuestUsagesUpdate"
        },
        {
          "target": "com.azure.cpim#GuestUsagesCreate"
        },
        {
          "target": "com.azure.cpim#GuestUsagesGet"
        },
        {
          "target": "com.azure.cpim#OperationsList"
        },
        {
          "target": "com.azure.cpim#B2CTenantsDelete"
        },
        {
          "target": "com.azure.cpim#B2CTenantsUpdate"
        },
        {
          "target": "com.azure.cpim#B2CTenantsCreate"
        },
        {
          "target": "com.azure.cpim#B2CTenantsGet"
        },
        {
          "target": "com.azure.cpim#B2CTenantsListBySubscription"
        },
        {
          "target": "com.azure.cpim#B2CTenantsListByResourceGroup"
        },
        {
          "target": "com.azure.cpim#B2CTenantsCheckNameAvailability"
        }
      ],
      "traits": {
        "smithy.api#title": "Azure Cpim",
        "smithy.api#documentation": "Azure Cpim API — merged from the cpim resource-manager specs (latest stable api-version per resource provider)."
      }
    }
  }
}
