{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.customer_insights#PredictionsListByHub": {
      "type": "operation",
      "input": {
        "target": "com.azure.customer_insights#PredictionsListByHubRequest"
      },
      "output": {
        "target": "com.azure.customer_insights#PredictionListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/predictions",
          "code": 200,
          "apiVersion": "2017-04-26"
        },
        "smithy.api#documentation": "Gets all the predictions in the specified hub.",
        "com.distilled.openapi#apiVersion": "2017-04-26"
      }
    },
    "com.azure.customer_insights#PredictionListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.customer_insights#PredictionListResultValueList",
          "traits": {
            "smithy.api#documentation": "Results of the list operation."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to the next set of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of list predictions operation."
      }
    },
    "com.azure.customer_insights#PredictionListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.customer_insights#PredictionResourceFormat"
      },
      "traits": {
        "smithy.api#documentation": "Results of the list operation."
      }
    },
    "com.azure.customer_insights#PredictionResourceFormat": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "properties": {
          "target": "com.azure.customer_insights#Prediction"
        }
      },
      "traits": {
        "smithy.api#documentation": "The prediction resource format."
      }
    },
    "com.azure.customer_insights#Prediction": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.azure.customer_insights#PredictionDescriptionMap",
          "traits": {
            "smithy.api#documentation": "Description of the prediction."
          }
        },
        "displayName": {
          "target": "com.azure.customer_insights#PredictionDisplayNameMap",
          "traits": {
            "smithy.api#documentation": "Display name of the prediction."
          }
        },
        "involvedInteractionTypes": {
          "target": "com.azure.customer_insights#PredictionInvolvedInteractionTypesList",
          "traits": {
            "smithy.api#documentation": "Interaction types involved in the prediction."
          }
        },
        "involvedKpiTypes": {
          "target": "com.azure.customer_insights#PredictionInvolvedKpiTypesList",
          "traits": {
            "smithy.api#documentation": "KPI types involved in the prediction."
          }
        },
        "involvedRelationships": {
          "target": "com.azure.customer_insights#PredictionInvolvedRelationshipsList",
          "traits": {
            "smithy.api#documentation": "Relationships involved in the prediction."
          }
        },
        "negativeOutcomeExpression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Negative outcome expression.",
            "smithy.api#required": {}
          }
        },
        "positiveOutcomeExpression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Positive outcome expression.",
            "smithy.api#required": {}
          }
        },
        "primaryProfileType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Primary profile type.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.customer_insights#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state."
          }
        },
        "predictionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the prediction."
          }
        },
        "scopeExpression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scope expression.",
            "smithy.api#required": {}
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hub name."
          }
        },
        "autoAnalyze": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether do auto analyze.",
            "smithy.api#required": {}
          }
        },
        "mappings": {
          "target": "com.azure.customer_insights#PredictionMappings",
          "traits": {
            "smithy.api#documentation": "Definition of the link mapping of prediction.",
            "smithy.api#required": {}
          }
        },
        "scoreLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Score label.",
            "smithy.api#required": {}
          }
        },
        "grades": {
          "target": "com.azure.customer_insights#PredictionGradesList",
          "traits": {
            "smithy.api#documentation": "The prediction grades."
          }
        },
        "systemGeneratedEntities": {
          "target": "com.azure.customer_insights#PredictionSystemGeneratedEntities",
          "traits": {
            "smithy.api#documentation": "System generated entities."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The prediction definition."
      }
    },
    "com.azure.customer_insights#PredictionSystemGeneratedEntities": {
      "type": "structure",
      "members": {
        "generatedInteractionTypes": {
          "target": "com.azure.customer_insights#PredictionSystemGeneratedEntitiesGeneratedInteractionTypesList",
          "traits": {
            "smithy.api#documentation": "Generated interaction types."
          }
        },
        "generatedLinks": {
          "target": "com.azure.customer_insights#PredictionSystemGeneratedEntitiesGeneratedLinksList",
          "traits": {
            "smithy.api#documentation": "Generated links."
          }
        },
        "generatedKpis": {
          "target": "com.azure.customer_insights#PredictionSystemGeneratedEntitiesGeneratedKpisMap",
          "traits": {
            "smithy.api#documentation": "Generated KPIs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "System generated entities."
      }
    },
    "com.azure.customer_insights#PredictionSystemGeneratedEntitiesGeneratedKpisMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Generated KPIs."
      }
    },
    "com.azure.customer_insights#PredictionSystemGeneratedEntitiesGeneratedLinksList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Generated links."
      }
    },
    "com.azure.customer_insights#PredictionSystemGeneratedEntitiesGeneratedInteractionTypesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Generated interaction types."
      }
    },
    "com.azure.customer_insights#PredictionGradesList": {
      "type": "list",
      "member": {
        "target": "com.azure.customer_insights#PredictionGradesItem"
      },
      "traits": {
        "smithy.api#documentation": "The prediction grades."
      }
    },
    "com.azure.customer_insights#PredictionGradesItem": {
      "type": "structure",
      "members": {
        "gradeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the grade."
          }
        },
        "minScoreThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum score threshold."
          }
        },
        "maxScoreThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum score threshold."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The definition of a prediction grade."
      }
    },
    "com.azure.customer_insights#PredictionMappings": {
      "type": "structure",
      "members": {
        "score": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The score of the link mapping.",
            "smithy.api#required": {}
          }
        },
        "grade": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The grade of the link mapping.",
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason of the link mapping.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of the link mapping of prediction."
      }
    },
    "com.azure.customer_insights#ProvisioningState": {
      "type": "enum",
      "members": {
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "EXPIRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Expiring"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "HUMANINTERVENTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HumanIntervention"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provisioning state."
      }
    },
    "com.azure.customer_insights#PredictionInvolvedRelationshipsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Relationships involved in the prediction."
      }
    },
    "com.azure.customer_insights#PredictionInvolvedKpiTypesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "KPI types involved in the prediction."
      }
    },
    "com.azure.customer_insights#PredictionInvolvedInteractionTypesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Interaction types involved in the prediction."
      }
    },
    "com.azure.customer_insights#PredictionDisplayNameMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Display name of the prediction."
      }
    },
    "com.azure.customer_insights#PredictionDescriptionMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Description of the prediction."
      }
    },
    "com.azure.customer_insights#PredictionsListByHubRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "hubName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the hub."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.customer_insights#PredictionsModelStatus": {
      "type": "operation",
      "input": {
        "target": "com.azure.customer_insights#PredictionsModelStatusRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/predictions/{predictionName}/modelStatus",
          "code": 200,
          "apiVersion": "2017-04-26"
        },
        "smithy.api#documentation": "Creates or updates the model status of prediction.",
        "com.distilled.openapi#apiVersion": "2017-04-26"
      }
    },
    "com.azure.customer_insights#PredictionsModelStatusRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "hubName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the hub."
          }
        },
        "predictionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Prediction."
          }
        },
        "status": {
          "target": "com.azure.customer_insights#PredictionsModelStatusRequestStatus",
          "traits": {
            "smithy.api#documentation": "Prediction model life cycle.  When prediction is in PendingModelConfirmation status, it is allowed to update the status to PendingFeaturing or Active through API.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.customer_insights#PredictionsModelStatusRequestStatus": {
      "type": "enum",
      "members": {
        "NEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "New"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        },
        "PROVISIONINGFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ProvisioningFailed"
          }
        },
        "PENDINGDISCOVERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingDiscovering"
          }
        },
        "DISCOVERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Discovering"
          }
        },
        "PENDINGFEATURING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingFeaturing"
          }
        },
        "FEATURING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Featuring"
          }
        },
        "FEATURINGFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FeaturingFailed"
          }
        },
        "PENDINGTRAINING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingTraining"
          }
        },
        "TRAINING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Training"
          }
        },
        "TRAININGFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TrainingFailed"
          }
        },
        "EVALUATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Evaluating"
          }
        },
        "EVALUATINGFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EvaluatingFailed"
          }
        },
        "PENDINGMODELCONFIRMATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingModelConfirmation"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleted"
          }
        },
        "HUMANINTERVENTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HumanIntervention"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Prediction model life cycle.  When prediction is in PendingModelConfirmation status, it is allowed to update the status to PendingFeaturing or Active through API."
      }
    },
    "com.azure.customer_insights#PredictionsGetModelStatus": {
      "type": "operation",
      "input": {
        "target": "com.azure.customer_insights#PredictionsGetModelStatusRequest"
      },
      "output": {
        "target": "com.azure.customer_insights#PredictionModelStatus"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/predictions/{predictionName}/getModelStatus",
          "code": 200,
          "apiVersion": "2017-04-26"
        },
        "smithy.api#documentation": "Gets model status of the prediction.",
        "com.distilled.openapi#apiVersion": "2017-04-26"
      }
    },
    "com.azure.customer_insights#PredictionModelStatus": {
      "type": "structure",
      "members": {
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hub name."
          }
        },
        "predictionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The prediction name."
          }
        },
        "predictionGuidId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The prediction GUID ID."
          }
        },
        "status": {
          "target": "com.azure.customer_insights#PredictionModelStatusStatus",
          "traits": {
            "smithy.api#documentation": "Prediction model life cycle.  When prediction is in PendingModelConfirmation status, it is allowed to update the status to PendingFeaturing or Active through API.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The model status message."
          }
        },
        "trainingSetCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Count of the training set."
          }
        },
        "testSetCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Count of the test set."
          }
        },
        "validationSetCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Count of the validation set."
          }
        },
        "trainingAccuracy": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The training accuracy."
          }
        },
        "signalsUsed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The signals used."
          }
        },
        "modelVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the model."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The prediction model status."
      }
    },
    "com.azure.customer_insights#PredictionModelStatusStatus": {
      "type": "enum",
      "members": {
        "NEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "New"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        },
        "PROVISIONINGFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ProvisioningFailed"
          }
        },
        "PENDINGDISCOVERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingDiscovering"
          }
        },
        "DISCOVERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Discovering"
          }
        },
        "PENDINGFEATURING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingFeaturing"
          }
        },
        "FEATURING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Featuring"
          }
        },
        "FEATURINGFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FeaturingFailed"
          }
        },
        "PENDINGTRAINING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingTraining"
          }
        },
        "TRAINING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Training"
          }
        },
        "TRAININGFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TrainingFailed"
          }
        },
        "EVALUATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Evaluating"
          }
        },
        "EVALUATINGFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EvaluatingFailed"
          }
        },
        "PENDINGMODELCONFIRMATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingModelConfirmation"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleted"
          }
        },
        "HUMANINTERVENTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HumanIntervention"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Prediction model life cycle.  When prediction is in PendingModelConfirmation status, it is allowed to update the status to PendingFeaturing or Active through API."
      }
    },
    "com.azure.customer_insights#PredictionsGetModelStatusRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "hubName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the hub."
          }
        },
        "predictionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Prediction."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.customer_insights#PredictionsGetTrainingResults": {
      "type": "operation",
      "input": {
        "target": "com.azure.customer_insights#PredictionsGetTrainingResultsRequest"
      },
      "output": {
        "target": "com.azure.customer_insights#PredictionTrainingResults"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/predictions/{predictionName}/getTrainingResults",
          "code": 200,
          "apiVersion": "2017-04-26"
        },
        "smithy.api#documentation": "Gets training results.",
        "com.distilled.openapi#apiVersion": "2017-04-26"
      }
    },
    "com.azure.customer_insights#PredictionTrainingResults": {
      "type": "structure",
      "members": {
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hub name."
          }
        },
        "scoreName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Score name."
          }
        },
        "predictionDistribution": {
          "target": "com.azure.customer_insights#PredictionDistributionDefinition",
          "traits": {
            "smithy.api#documentation": "Prediction distribution."
          }
        },
        "canonicalProfiles": {
          "target": "com.azure.customer_insights#PredictionTrainingResultsCanonicalProfilesList",
          "traits": {
            "smithy.api#documentation": "Canonical profiles."
          }
        },
        "primaryProfileInstanceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Instance count of the primary profile."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The training results of the prediction."
      }
    },
    "com.azure.customer_insights#PredictionTrainingResultsCanonicalProfilesList": {
      "type": "list",
      "member": {
        "target": "com.azure.customer_insights#CanonicalProfileDefinition"
      },
      "traits": {
        "smithy.api#documentation": "Canonical profiles."
      }
    },
    "com.azure.customer_insights#CanonicalProfileDefinition": {
      "type": "structure",
      "members": {
        "canonicalProfileId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Canonical profile ID."
          }
        },
        "properties": {
          "target": "com.azure.customer_insights#CanonicalProfileDefinitionPropertiesList",
          "traits": {
            "smithy.api#documentation": "Properties of the canonical profile."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of canonical profile."
      }
    },
    "com.azure.customer_insights#CanonicalProfileDefinitionPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.azure.customer_insights#CanonicalProfileDefinitionPropertiesItem"
      },
      "traits": {
        "smithy.api#documentation": "Properties of the canonical profile."
      }
    },
    "com.azure.customer_insights#CanonicalProfileDefinitionPropertiesItem": {
      "type": "structure",
      "members": {
        "profileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Profile name."
          }
        },
        "profilePropertyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property name of profile."
          }
        },
        "rank": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The rank."
          }
        },
        "type": {
          "target": "com.azure.customer_insights#CanonicalProfileDefinitionPropertiesItemType",
          "traits": {
            "smithy.api#documentation": "Type of canonical property value."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of the canonical property."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The definition of a canonical profile property."
      }
    },
    "com.azure.customer_insights#CanonicalProfileDefinitionPropertiesItemType": {
      "type": "enum",
      "members": {
        "NUMERIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Numeric"
          }
        },
        "CATEGORICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Categorical"
          }
        },
        "DERIVEDCATEGORICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DerivedCategorical"
          }
        },
        "DERIVEDNUMERIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DerivedNumeric"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of canonical property value."
      }
    },
    "com.azure.customer_insights#PredictionDistributionDefinition": {
      "type": "structure",
      "members": {
        "totalPositives": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total positive in the distribution."
          }
        },
        "totalNegatives": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total negatives in the distribution."
          }
        },
        "distributions": {
          "target": "com.azure.customer_insights#PredictionDistributionDefinitionDistributionsList",
          "traits": {
            "smithy.api#documentation": "Distributions of the prediction."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The definition of the prediction distribution."
      }
    },
    "com.azure.customer_insights#PredictionDistributionDefinitionDistributionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.customer_insights#PredictionDistributionDefinitionDistributionsItem"
      },
      "traits": {
        "smithy.api#documentation": "Distributions of the prediction."
      }
    },
    "com.azure.customer_insights#PredictionDistributionDefinitionDistributionsItem": {
      "type": "structure",
      "members": {
        "scoreThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Score threshold."
          }
        },
        "positives": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of positives."
          }
        },
        "negatives": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of negatives."
          }
        },
        "positivesAboveThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of positives above threshold."
          }
        },
        "negativesAboveThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of negatives above threshold."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The definition of a prediction distribution."
      }
    },
    "com.azure.customer_insights#PredictionsGetTrainingResultsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "hubName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the hub."
          }
        },
        "predictionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Prediction."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.customer_insights#PredictionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.customer_insights#PredictionsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/predictions/{predictionName}",
          "code": 200,
          "apiVersion": "2017-04-26"
        },
        "smithy.api#documentation": "Deletes a Prediction in the hub.",
        "com.distilled.openapi#apiVersion": "2017-04-26"
      }
    },
    "com.azure.customer_insights#PredictionsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "hubName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the hub."
          }
        },
        "predictionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Prediction."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.customer_insights#PredictionsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.customer_insights#PredictionsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.customer_insights#PredictionsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/predictions/{predictionName}",
          "code": 200,
          "apiVersion": "2017-04-26"
        },
        "smithy.api#documentation": "Creates a Prediction or updates an existing Prediction in the hub.",
        "com.distilled.openapi#apiVersion": "2017-04-26"
      }
    },
    "com.azure.customer_insights#PredictionsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "properties": {
          "target": "com.azure.customer_insights#Prediction"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.customer_insights#PredictionsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "hubName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the hub."
          }
        },
        "predictionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Prediction."
          }
        },
        "properties": {
          "target": "com.azure.customer_insights#PredictionInput"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.customer_insights#PredictionInput": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.azure.customer_insights#PredictionInputDescriptionMap",
          "traits": {
            "smithy.api#documentation": "Description of the prediction."
          }
        },
        "displayName": {
          "target": "com.azure.customer_insights#PredictionInputDisplayNameMap",
          "traits": {
            "smithy.api#documentation": "Display name of the prediction."
          }
        },
        "involvedInteractionTypes": {
          "target": "com.azure.customer_insights#PredictionInputInvolvedInteractionTypesList",
          "traits": {
            "smithy.api#documentation": "Interaction types involved in the prediction."
          }
        },
        "involvedKpiTypes": {
          "target": "com.azure.customer_insights#PredictionInputInvolvedKpiTypesList",
          "traits": {
            "smithy.api#documentation": "KPI types involved in the prediction."
          }
        },
        "involvedRelationships": {
          "target": "com.azure.customer_insights#PredictionInputInvolvedRelationshipsList",
          "traits": {
            "smithy.api#documentation": "Relationships involved in the prediction."
          }
        },
        "negativeOutcomeExpression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Negative outcome expression.",
            "smithy.api#required": {}
          }
        },
        "positiveOutcomeExpression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Positive outcome expression.",
            "smithy.api#required": {}
          }
        },
        "primaryProfileType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Primary profile type.",
            "smithy.api#required": {}
          }
        },
        "predictionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the prediction."
          }
        },
        "scopeExpression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scope expression.",
            "smithy.api#required": {}
          }
        },
        "autoAnalyze": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether do auto analyze.",
            "smithy.api#required": {}
          }
        },
        "mappings": {
          "target": "com.azure.customer_insights#PredictionInputMappings",
          "traits": {
            "smithy.api#documentation": "Definition of the link mapping of prediction.",
            "smithy.api#required": {}
          }
        },
        "scoreLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Score label.",
            "smithy.api#required": {}
          }
        },
        "grades": {
          "target": "com.azure.customer_insights#PredictionInputGradesList",
          "traits": {
            "smithy.api#documentation": "The prediction grades."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The prediction definition."
      }
    },
    "com.azure.customer_insights#PredictionInputGradesList": {
      "type": "list",
      "member": {
        "target": "com.azure.customer_insights#PredictionInputGradesItem"
      },
      "traits": {
        "smithy.api#documentation": "The prediction grades."
      }
    },
    "com.azure.customer_insights#PredictionInputGradesItem": {
      "type": "structure",
      "members": {
        "gradeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the grade."
          }
        },
        "minScoreThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum score threshold."
          }
        },
        "maxScoreThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum score threshold."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The definition of a prediction grade."
      }
    },
    "com.azure.customer_insights#PredictionInputMappings": {
      "type": "structure",
      "members": {
        "score": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The score of the link mapping.",
            "smithy.api#required": {}
          }
        },
        "grade": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The grade of the link mapping.",
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason of the link mapping.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of the link mapping of prediction."
      }
    },
    "com.azure.customer_insights#PredictionInputInvolvedRelationshipsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Relationships involved in the prediction."
      }
    },
    "com.azure.customer_insights#PredictionInputInvolvedKpiTypesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "KPI types involved in the prediction."
      }
    },
    "com.azure.customer_insights#PredictionInputInvolvedInteractionTypesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Interaction types involved in the prediction."
      }
    },
    "com.azure.customer_insights#PredictionInputDisplayNameMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Display name of the prediction."
      }
    },
    "com.azure.customer_insights#PredictionInputDescriptionMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Description of the prediction."
      }
    },
    "com.azure.customer_insights#PredictionsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.customer_insights#PredictionsGetRequest"
      },
      "output": {
        "target": "com.azure.customer_insights#PredictionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/predictions/{predictionName}",
          "code": 200,
          "apiVersion": "2017-04-26"
        },
        "smithy.api#documentation": "Gets a Prediction in the hub.",
        "com.distilled.openapi#apiVersion": "2017-04-26"
      }
    },
    "com.azure.customer_insights#PredictionsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "properties": {
          "target": "com.azure.customer_insights#Prediction"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.customer_insights#PredictionsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "hubName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the hub."
          }
        },
        "predictionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Prediction."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.customer_insights#ImagesGetUploadUrlForData": {
      "type": "operation",
      "input": {
        "target": "com.azure.customer_insights#ImagesGetUploadUrlForDataRequest"
      },
      "output": {
        "target": "com.azure.customer_insights#ImageDefinition"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/images/getDataImageUploadUrl",
          "code": 200,
          "apiVersion": "2017-04-26"
        },
        "smithy.api#documentation": "Gets data image upload URL.",
        "com.distilled.openapi#apiVersion": "2017-04-26"
      }
    },
    "com.azure.customer_insights#ImageDefinition": {
      "type": "structure",
      "members": {
        "imageExists": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether image exists already."
          }
        },
        "contentUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content URL for the image blob."
          }
        },
        "relativePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative path of the image."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The image definition."
      }
    },
    "com.azure.customer_insights#ImagesGetUploadUrlForDataRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "hubName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the hub."
          }
        },
        "entityType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of entity. Can be Profile or Interaction."
          }
        },
        "entityTypeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the entity type."
          }
        },
        "relativePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative path of the image."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.customer_insights#ImagesGetUploadUrlForEntityType": {
      "type": "operation",
      "input": {
        "target": "com.azure.customer_insights#ImagesGetUploadUrlForEntityTypeRequest"
      },
      "output": {
        "target": "com.azure.customer_insights#ImageDefinition"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/images/getEntityTypeImageUploadUrl",
          "code": 200,
          "apiVersion": "2017-04-26"
        },
        "smithy.api#documentation": "Gets entity type (profile or interaction) image upload URL.",
        "com.distilled.openapi#apiVersion": "2017-04-26"
      }
    },
    "com.azure.customer_insights#ImagesGetUploadUrlForEntityTypeRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "hubName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the hub."
          }
        },
        "entityType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of entity. Can be Profile or Interaction."
          }
        },
        "entityTypeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the entity type."
          }
        },
        "relativePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative path of the image."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.customer_insights#RoleAssignmentsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.customer_insights#RoleAssignmentsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/roleAssignments/{assignmentName}",
          "code": 200,
          "apiVersion": "2017-04-26"
        },
        "smithy.api#documentation": "Deletes the role assignment in the hub.",
        "com.distilled.openapi#apiVersion": "2017-04-26"
      }
    },
    "com.azure.customer_insights#RoleAssignmentsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "hubName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the hub."
          }
        },
        "assignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the role assignment."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.customer_insights#RoleAssignmentsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.customer_insights#RoleAssignmentsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.customer_insights#RoleAssignmentsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/roleAssignments/{assignmentName}",
          "code": 200,
          "apiVersion": "2017-04-26"
        },
        "smithy.api#documentation": "Creates or updates a role assignment in the hub.",
        "com.distilled.openapi#apiVersion": "2017-04-26"
      }
    },
    "com.azure.customer_insights#RoleAssignmentsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "properties": {
          "target": "com.azure.customer_insights#RoleAssignment"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.customer_insights#RoleAssignment": {
      "type": "structure",
      "members": {
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hub name."
          }
        },
        "assignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the metadata object."
          }
        },
        "displayName": {
          "target": "com.azure.customer_insights#RoleAssignmentDisplayNameMap",
          "traits": {
            "smithy.api#documentation": "Localized display names for the metadata."
          }
        },
        "description": {
          "target": "com.azure.customer_insights#RoleAssignmentDescriptionMap",
          "traits": {
            "smithy.api#documentation": "Localized description for the metadata."
          }
        },
        "provisioningState": {
          "target": "com.azure.customer_insights#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state."
          }
        },
        "role": {
          "target": "com.azure.customer_insights#RoleAssignmentRole",
          "traits": {
            "smithy.api#documentation": "Type of roles.",
            "smithy.api#required": {}
          }
        },
        "principals": {
          "target": "com.azure.customer_insights#RoleAssignmentPrincipalsList",
          "traits": {
            "smithy.api#documentation": "The principals being assigned to.",
            "smithy.api#required": {}
          }
        },
        "profiles": {
          "target": "com.azure.customer_insights#ResourceSetDescription",
          "traits": {
            "smithy.api#documentation": "Profiles set for the assignment."
          }
        },
        "interactions": {
          "target": "com.azure.customer_insights#ResourceSetDescription",
          "traits": {
            "smithy.api#documentation": "Interactions set for the assignment."
          }
        },
        "links": {
          "target": "com.azure.customer_insights#ResourceSetDescription",
          "traits": {
            "smithy.api#documentation": "Links set for the assignment."
          }
        },
        "kpis": {
          "target": "com.azure.customer_insights#ResourceSetDescription",
          "traits": {
            "smithy.api#documentation": "Kpis set for the assignment."
          }
        },
        "sasPolicies": {
          "target": "com.azure.customer_insights#ResourceSetDescription",
          "traits": {
            "smithy.api#documentation": "Sas Policies set for the assignment."
          }
        },
        "connectors": {
          "target": "com.azure.customer_insights#ResourceSetDescription",
          "traits": {
            "smithy.api#documentation": "Connectors set for the assignment."
          }
        },
        "views": {
          "target": "com.azure.customer_insights#ResourceSetDescription",
          "traits": {
            "smithy.api#documentation": "Views set for the assignment."
          }
        },
        "relationshipLinks": {
          "target": "com.azure.customer_insights#ResourceSetDescription",
          "traits": {
            "smithy.api#documentation": "The Role assignments set for the relationship links."
          }
        },
        "relationships": {
          "target": "com.azure.customer_insights#ResourceSetDescription",
          "traits": {
            "smithy.api#documentation": "The Role assignments set for the relationships."
          }
        },
        "widgetTypes": {
          "target": "com.azure.customer_insights#ResourceSetDescription",
          "traits": {
            "smithy.api#documentation": "Widget types set for the assignment."
          }
        },
        "roleAssignments": {
          "target": "com.azure.customer_insights#ResourceSetDescription",
          "traits": {
            "smithy.api#documentation": "The Role assignments set for the assignment."
          }
        },
        "conflationPolicies": {
          "target": "com.azure.customer_insights#ResourceSetDescription",
          "traits": {
            "smithy.api#documentation": "Widget types set for the assignment."
          }
        },
        "segments": {
          "target": "com.azure.customer_insights#ResourceSetDescription",
          "traits": {
            "smithy.api#documentation": "The Role assignments set for the assignment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Role Assignment definition."
      }
    },
    "com.azure.customer_insights#ResourceSetDescription": {
      "type": "structure",
      "members": {
        "elements": {
          "target": "com.azure.customer_insights#ResourceSetDescriptionElementsList",
          "traits": {
            "smithy.api#documentation": "The elements included in the set."
          }
        },
        "exceptions": {
          "target": "com.azure.customer_insights#ResourceSetDescriptionExceptionsList",
          "traits": {
            "smithy.api#documentation": "The elements that are not included in the set, in case elements contains '*' indicating 'all'."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource set description."
      }
    },
    "com.azure.customer_insights#ResourceSetDescriptionExceptionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The elements that are not included in the set, in case elements contains '*' indicating 'all'."
      }
    },
    "com.azure.customer_insights#ResourceSetDescriptionElementsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The elements included in the set."
      }
    },
    "com.azure.customer_insights#RoleAssignmentPrincipalsList": {
      "type": "list",
      "member": {
        "target": "com.azure.customer_insights#AssignmentPrincipal"
      },
      "traits": {
        "smithy.api#documentation": "The principals being assigned to."
      }
    },
    "com.azure.customer_insights#AssignmentPrincipal": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal id being assigned to.",
            "smithy.api#required": {}
          }
        },
        "principalType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Type of the principal ID.",
            "smithy.api#required": {}
          }
        },
        "principalMetadata": {
          "target": "com.azure.customer_insights#AssignmentPrincipalPrincipalMetadataMap",
          "traits": {
            "smithy.api#documentation": "Other metadata for the principal."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The AssignmentPrincipal"
      }
    },
    "com.azure.customer_insights#AssignmentPrincipalPrincipalMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Other metadata for the principal."
      }
    },
    "com.azure.customer_insights#RoleAssignmentRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Admin"
          }
        },
        "READER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Reader"
          }
        },
        "MANAGEADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManageAdmin"
          }
        },
        "MANAGEREADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManageReader"
          }
        },
        "DATAADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DataAdmin"
          }
        },
        "DATAREADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DataReader"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of roles."
      }
    },
    "com.azure.customer_insights#RoleAssignmentDescriptionMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Localized description for the metadata."
      }
    },
    "com.azure.customer_insights#RoleAssignmentDisplayNameMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Localized display names for the metadata."
      }
    },
    "com.azure.customer_insights#RoleAssignmentsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "hubName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the hub."
          }
        },
        "assignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The assignment name"
          }
        },
        "properties": {
          "target": "com.azure.customer_insights#RoleAssignmentInput"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.customer_insights#RoleAssignmentInput": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "com.azure.customer_insights#RoleAssignmentInputDisplayNameMap",
          "traits": {
            "smithy.api#documentation": "Localized display names for the metadata."
          }
        },
        "description": {
          "target": "com.azure.customer_insights#RoleAssignmentInputDescriptionMap",
          "traits": {
            "smithy.api#documentation": "Localized description for the metadata."
          }
        },
        "role": {
          "target": "com.azure.customer_insights#RoleAssignmentInputRole",
          "traits": {
            "smithy.api#documentation": "Type of roles.",
            "smithy.api#required": {}
          }
        },
        "principals": {
          "target": "com.azure.customer_insights#RoleAssignmentInputPrincipalsList",
          "traits": {
            "smithy.api#documentation": "The principals being assigned to.",
            "smithy.api#required": {}
          }
        },
        "profiles": {
          "target": "com.azure.customer_insights#ResourceSetDescription",
          "traits": {
            "smithy.api#documentation": "Profiles set for the assignment."
          }
        },
        "interactions": {
          "target": "com.azure.customer_insights#ResourceSetDescription",
          "traits": {
            "smithy.api#documentation": "Interactions set for the assignment."
          }
        },
        "links": {
          "target": "com.azure.customer_insights#ResourceSetDescription",
          "traits": {
            "smithy.api#documentation": "Links set for the assignment."
          }
        },
        "kpis": {
          "target": "com.azure.customer_insights#ResourceSetDescription",
          "traits": {
            "smithy.api#documentation": "Kpis set for the assignment."
          }
        },
        "sasPolicies": {
          "target": "com.azure.customer_insights#ResourceSetDescription",
          "traits": {
            "smithy.api#documentation": "Sas Policies set for the assignment."
          }
        },
        "connectors": {
          "target": "com.azure.customer_insights#ResourceSetDescription",
          "traits": {
            "smithy.api#documentation": "Connectors set for the assignment."
          }
        },
        "views": {
          "target": "com.azure.customer_insights#ResourceSetDescription",
          "traits": {
            "smithy.api#documentation": "Views set for the assignment."
          }
        },
        "relationshipLinks": {
          "target": "com.azure.customer_insights#ResourceSetDescription",
          "traits": {
            "smithy.api#documentation": "The Role assignments set for the relationship links."
          }
        },
        "relationships": {
          "target": "com.azure.customer_insights#ResourceSetDescription",
          "traits": {
            "smithy.api#documentation": "The Role assignments set for the relationships."
          }
        },
        "widgetTypes": {
          "target": "com.azure.customer_insights#ResourceSetDescription",
          "traits": {
            "smithy.api#documentation": "Widget types set for the assignment."
          }
        },
        "roleAssignments": {
          "target": "com.azure.customer_insights#ResourceSetDescription",
          "traits": {
            "smithy.api#documentation": "The Role assignments set for the assignment."
          }
        },
        "conflationPolicies": {
          "target": "com.azure.customer_insights#ResourceSetDescription",
          "traits": {
            "smithy.api#documentation": "Widget types set for the assignment."
          }
        },
        "segments": {
          "target": "com.azure.customer_insights#ResourceSetDescription",
          "traits": {
            "smithy.api#documentation": "The Role assignments set for the assignment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Role Assignment definition."
      }
    },
    "com.azure.customer_insights#RoleAssignmentInputPrincipalsList": {
      "type": "list",
      "member": {
        "target": "com.azure.customer_insights#AssignmentPrincipal"
      },
      "traits": {
        "smithy.api#documentation": "The principals being assigned to."
      }
    },
    "com.azure.customer_insights#RoleAssignmentInputRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Admin"
          }
        },
        "READER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Reader"
          }
        },
        "MANAGEADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManageAdmin"
          }
        },
        "MANAGEREADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManageReader"
          }
        },
        "DATAADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DataAdmin"
          }
        },
        "DATAREADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DataReader"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of roles."
      }
    },
    "com.azure.customer_insights#RoleAssignmentInputDescriptionMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Localized description for the metadata."
      }
    },
    "com.azure.customer_insights#RoleAssignmentInputDisplayNameMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Localized display names for the metadata."
      }
    },
    "com.azure.customer_insights#RoleAssignmentsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.customer_insights#RoleAssignmentsGetRequest"
      },
      "output": {
        "target": "com.azure.customer_insights#RoleAssignmentsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/roleAssignments/{assignmentName}",
          "code": 200,
          "apiVersion": "2017-04-26"
        },
        "smithy.api#documentation": "Gets the role assignment in the hub.",
        "com.distilled.openapi#apiVersion": "2017-04-26"
      }
    },
    "com.azure.customer_insights#RoleAssignmentsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "properties": {
          "target": "com.azure.customer_insights#RoleAssignment"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.customer_insights#RoleAssignmentsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "hubName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the hub."
          }
        },
        "assignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the role assignment."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.customer_insights#RoleAssignmentsListByHub": {
      "type": "operation",
      "input": {
        "target": "com.azure.customer_insights#RoleAssignmentsListByHubRequest"
      },
      "output": {
        "target": "com.azure.customer_insights#RoleAssignmentListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/roleAssignments",
          "code": 200,
          "apiVersion": "2017-04-26"
        },
        "smithy.api#documentation": "Gets all the role assignments for the specified hub.",
        "com.distilled.openapi#apiVersion": "2017-04-26"
      }
    },
    "com.azure.customer_insights#RoleAssignmentListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.customer_insights#RoleAssignmentListResultValueList",
          "traits": {
            "smithy.api#documentation": "Results of the list operation."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to the next set of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of list role assignment operation."
      }
    },
    "com.azure.customer_insights#RoleAssignmentListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.customer_insights#RoleAssignmentResourceFormat"
      },
      "traits": {
        "smithy.api#documentation": "Results of the list operation."
      }
    },
    "com.azure.customer_insights#RoleAssignmentResourceFormat": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "properties": {
          "target": "com.azure.customer_insights#RoleAssignment"
        }
      },
      "traits": {
        "smithy.api#documentation": "The Role Assignment resource format."
      }
    },
    "com.azure.customer_insights#RoleAssignmentsListByHubRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "hubName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the hub."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.customer_insights#RolesListByHub": {
      "type": "operation",
      "input": {
        "target": "com.azure.customer_insights#RolesListByHubRequest"
      },
      "output": {
        "target": "com.azure.customer_insights#RoleListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/roles",
          "code": 200,
          "apiVersion": "2017-04-26"
        },
        "smithy.api#documentation": "Gets all the roles for the hub.",
        "com.distilled.openapi#apiVersion": "2017-04-26"
      }
    },
    "com.azure.customer_insights#RoleListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.customer_insights#RoleListResultValueList",
          "traits": {
            "smithy.api#documentation": "Results of the list operation."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to the next set of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of list role assignment operation."
      }
    },
    "com.azure.customer_insights#RoleListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.customer_insights#RoleResourceFormat"
      },
      "traits": {
        "smithy.api#documentation": "Results of the list operation."
      }
    },
    "com.azure.customer_insights#RoleResourceFormat": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "properties": {
          "target": "com.azure.customer_insights#Role"
        }
      },
      "traits": {
        "smithy.api#documentation": "The role resource format."
      }
    },
    "com.azure.customer_insights#Role": {
      "type": "structure",
      "members": {
        "roleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The role name."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the role."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Role definition."
      }
    },
    "com.azure.customer_insights#RolesListByHubRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "hubName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the hub."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.customer_insights#LinksListByHub": {
      "type": "operation",
      "input": {
        "target": "com.azure.customer_insights#LinksListByHubRequest"
      },
      "output": {
        "target": "com.azure.customer_insights#LinkListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/links",
          "code": 200,
          "apiVersion": "2017-04-26"
        },
        "smithy.api#documentation": "Gets all the links in the specified hub.",
        "com.distilled.openapi#apiVersion": "2017-04-26"
      }
    },
    "com.azure.customer_insights#LinkListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.customer_insights#LinkListResultValueList",
          "traits": {
            "smithy.api#documentation": "Results of the list operation."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to the next set of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of list link operation."
      }
    },
    "com.azure.customer_insights#LinkListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.customer_insights#LinkResourceFormat"
      },
      "traits": {
        "smithy.api#documentation": "Results of the list operation."
      }
    },
    "com.azure.customer_insights#LinkResourceFormat": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "properties": {
          "target": "com.azure.customer_insights#LinkDefinition"
        }
      },
      "traits": {
        "smithy.api#documentation": "The link resource format."
      }
    },
    "com.azure.customer_insights#LinkDefinition": {
      "type": "structure",
      "members": {
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hub name."
          }
        },
        "linkName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link name."
          }
        },
        "sourceEntityType": {
          "target": "com.azure.customer_insights#LinkDefinitionSourceEntityType",
          "traits": {
            "smithy.api#documentation": "Type of source entity.",
            "smithy.api#required": {}
          }
        },
        "targetEntityType": {
          "target": "com.azure.customer_insights#LinkDefinitionTargetEntityType",
          "traits": {
            "smithy.api#documentation": "Type of target entity.",
            "smithy.api#required": {}
          }
        },
        "sourceEntityTypeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the source Entity Type.",
            "smithy.api#required": {}
          }
        },
        "targetEntityTypeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the target Entity Type.",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "com.azure.customer_insights#LinkDefinitionDisplayNameMap",
          "traits": {
            "smithy.api#documentation": "Localized display name for the Link."
          }
        },
        "description": {
          "target": "com.azure.customer_insights#LinkDefinitionDescriptionMap",
          "traits": {
            "smithy.api#documentation": "Localized descriptions for the Link."
          }
        },
        "mappings": {
          "target": "com.azure.customer_insights#LinkDefinitionMappingsList",
          "traits": {
            "smithy.api#documentation": "The set of properties mappings between the source and target Types."
          }
        },
        "participantPropertyReferences": {
          "target": "com.azure.customer_insights#LinkDefinitionParticipantPropertyReferencesList",
          "traits": {
            "smithy.api#documentation": "The properties that represent the participating profile.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.customer_insights#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state."
          }
        },
        "referenceOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicating whether the link is reference only link. This flag is ignored if the Mappings are defined. If the mappings are not defined and it is set to true, links processing will not create or update profiles."
          }
        },
        "operationType": {
          "target": "com.azure.customer_insights#LinkDefinitionOperationType",
          "traits": {
            "smithy.api#documentation": "Determines whether this link is supposed to create or delete instances if Link is NOT Reference Only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The definition of Link."
      }
    },
    "com.azure.customer_insights#LinkDefinitionOperationType": {
      "type": "enum",
      "members": {
        "UPSERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Upsert"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Delete"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Determines whether this link is supposed to create or delete instances if Link is NOT Reference Only."
      }
    },
    "com.azure.customer_insights#LinkDefinitionParticipantPropertyReferencesList": {
      "type": "list",
      "member": {
        "target": "com.azure.customer_insights#ParticipantPropertyReference"
      },
      "traits": {
        "smithy.api#documentation": "The properties that represent the participating profile."
      }
    },
    "com.azure.customer_insights#ParticipantPropertyReference": {
      "type": "structure",
      "members": {
        "sourcePropertyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source property that maps to the target property.",
            "smithy.api#required": {}
          }
        },
        "targetPropertyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The target property that maps to the source property.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The participant property reference."
      }
    },
    "com.azure.customer_insights#LinkDefinitionMappingsList": {
      "type": "list",
      "member": {
        "target": "com.azure.customer_insights#TypePropertiesMapping"
      },
      "traits": {
        "smithy.api#documentation": "The set of properties mappings between the source and target Types."
      }
    },
    "com.azure.customer_insights#TypePropertiesMapping": {
      "type": "structure",
      "members": {
        "sourcePropertyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": " Property name on the source Entity Type.",
            "smithy.api#required": {}
          }
        },
        "targetPropertyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property name on the target Entity Type.",
            "smithy.api#required": {}
          }
        },
        "linkType": {
          "target": "com.azure.customer_insights#TypePropertiesMappingLinkType",
          "traits": {
            "smithy.api#documentation": "Link type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for a Link's property mapping."
      }
    },
    "com.azure.customer_insights#TypePropertiesMappingLinkType": {
      "type": "enum",
      "members": {
        "UPDATEALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UpdateAlways"
          }
        },
        "COPYIFNULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CopyIfNull"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Link type."
      }
    },
    "com.azure.customer_insights#LinkDefinitionDescriptionMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Localized descriptions for the Link."
      }
    },
    "com.azure.customer_insights#LinkDefinitionDisplayNameMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Localized display name for the Link."
      }
    },
    "com.azure.customer_insights#LinkDefinitionTargetEntityType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "PROFILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Profile"
          }
        },
        "INTERACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Interaction"
          }
        },
        "RELATIONSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Relationship"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of target entity."
      }
    },
    "com.azure.customer_insights#LinkDefinitionSourceEntityType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "PROFILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Profile"
          }
        },
        "INTERACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Interaction"
          }
        },
        "RELATIONSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Relationship"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of source entity."
      }
    },
    "com.azure.customer_insights#LinksListByHubRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
[...]
