{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.dashboard#ManagedPrivateEndpointsRefresh": {
      "type": "operation",
      "input": {
        "target": "com.azure.dashboard#ManagedPrivateEndpointsRefreshRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dashboard/grafana/{workspaceName}/refreshManagedPrivateEndpoints",
          "code": 200,
          "apiVersion": "2025-08-01"
        },
        "smithy.api#documentation": "Refresh and sync managed private endpoints of a grafana resource to latest state.",
        "com.distilled.openapi#apiVersion": "2025-08-01"
      }
    },
    "com.azure.dashboard#ManagedPrivateEndpointsRefreshRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The workspace name of Azure Managed Grafana."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dashboard#PrivateLinkResourcesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.dashboard#PrivateLinkResourcesGetRequest"
      },
      "output": {
        "target": "com.azure.dashboard#PrivateLinkResourcesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dashboard/grafana/{workspaceName}/privateLinkResources/{privateLinkResourceName}",
          "code": 200,
          "apiVersion": "2025-08-01"
        },
        "smithy.api#documentation": "Get specific private link resource information for this grafana resource",
        "com.distilled.openapi#apiVersion": "2025-08-01"
      }
    },
    "com.azure.dashboard#PrivateLinkResourcesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dashboard#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.dashboard#PrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.dashboard#PrivateLinkResourceProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.dashboard#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the resource."
          }
        },
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The private link resource group id."
          }
        },
        "requiredMembers": {
          "target": "com.azure.dashboard#PrivateLinkResourcePropertiesRequiredMembersList",
          "traits": {
            "smithy.api#documentation": "The private link resource required member names."
          }
        },
        "requiredZoneNames": {
          "target": "com.azure.dashboard#PrivateLinkResourcePropertiesRequiredZoneNamesList",
          "traits": {
            "smithy.api#documentation": "The private link resource Private link DNS zone name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a private link resource."
      }
    },
    "com.azure.dashboard#PrivateLinkResourcePropertiesRequiredZoneNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The private link resource Private link DNS zone name."
      }
    },
    "com.azure.dashboard#PrivateLinkResourcePropertiesRequiredMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The private link resource required member names."
      }
    },
    "com.azure.dashboard#ProvisioningState": {
      "type": "enum",
      "members": {
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleted"
          }
        },
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        }
      },
      "traits": {}
    },
    "com.azure.dashboard#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.dashboard#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.dashboard#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.dashboard#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.dashboard#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.dashboard#PrivateLinkResourcesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The workspace name of Azure Managed Grafana."
          }
        },
        "privateLinkResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dashboard#PrivateLinkResourcesList": {
      "type": "operation",
      "input": {
        "target": "com.azure.dashboard#PrivateLinkResourcesListRequest"
      },
      "output": {
        "target": "com.azure.dashboard#PrivateLinkResourceListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dashboard/grafana/{workspaceName}/privateLinkResources",
          "code": 200,
          "apiVersion": "2025-08-01"
        },
        "smithy.api#documentation": "List all private link resources information for this grafana resource",
        "com.distilled.openapi#apiVersion": "2025-08-01"
      }
    },
    "com.azure.dashboard#PrivateLinkResourceListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.dashboard#PrivateLinkResourceListResultValueList",
          "traits": {
            "smithy.api#documentation": "The PrivateLinkResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a PrivateLinkResource list operation."
      }
    },
    "com.azure.dashboard#PrivateLinkResourceListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.dashboard#PrivateLinkResource"
      },
      "traits": {
        "smithy.api#documentation": "The PrivateLinkResource items on this page"
      }
    },
    "com.azure.dashboard#PrivateLinkResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dashboard#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.dashboard#PrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A private link resource"
      }
    },
    "com.azure.dashboard#PrivateLinkResourcesListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The workspace name of Azure Managed Grafana."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dashboard#PrivateEndpointConnectionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.dashboard#PrivateEndpointConnectionsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dashboard/grafana/{workspaceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2025-08-01"
        },
        "smithy.api#documentation": "Delete private endpoint connection",
        "com.distilled.openapi#apiVersion": "2025-08-01"
      }
    },
    "com.azure.dashboard#PrivateEndpointConnectionsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The workspace name of Azure Managed Grafana."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The private endpoint connection name of Azure Managed Grafana."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dashboard#PrivateEndpointConnectionsApprove": {
      "type": "operation",
      "input": {
        "target": "com.azure.dashboard#PrivateEndpointConnectionsApproveRequest"
      },
      "output": {
        "target": "com.azure.dashboard#PrivateEndpointConnectionsApproveResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dashboard/grafana/{workspaceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2025-08-01"
        },
        "smithy.api#documentation": "Manual approve private endpoint connection",
        "com.distilled.openapi#apiVersion": "2025-08-01"
      }
    },
    "com.azure.dashboard#PrivateEndpointConnectionsApproveResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dashboard#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.dashboard#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.dashboard#PrivateEndpointConnectionProperties": {
      "type": "structure",
      "members": {
        "privateEndpoint": {
          "target": "com.azure.dashboard#PrivateEndpointConnectionPropertiesPrivateEndpoint",
          "traits": {
            "smithy.api#documentation": "The Private Endpoint resource."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.dashboard#PrivateEndpointConnectionPropertiesPrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider.",
            "smithy.api#required": {}
          }
        },
        "groupIds": {
          "target": "com.azure.dashboard#PrivateEndpointConnectionPropertiesGroupIdsList",
          "traits": {
            "smithy.api#documentation": "The private endpoint connection group ids."
          }
        },
        "provisioningState": {
          "target": "com.azure.dashboard#PrivateEndpointConnectionPropertiesProvisioningState",
          "traits": {
            "smithy.api#documentation": "The current provisioning state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the PrivateEndpointConnectProperties."
      }
    },
    "com.azure.dashboard#PrivateEndpointConnectionPropertiesProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current provisioning state."
      }
    },
    "com.azure.dashboard#PrivateEndpointConnectionPropertiesGroupIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint connection group ids."
      }
    },
    "com.azure.dashboard#PrivateEndpointConnectionPropertiesPrivateLinkServiceConnectionState": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.dashboard#PrivateEndpointServiceConnectionStatus",
          "traits": {
            "smithy.api#documentation": "Indicates whether the connection has been Approved/Rejected/Removed by the owner of the service."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason for approval/rejection of the connection."
          }
        },
        "actionsRequired": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A message indicating if changes on the service provider require any updates on the consumer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider."
      }
    },
    "com.azure.dashboard#PrivateEndpointServiceConnectionStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint connection status."
      }
    },
    "com.azure.dashboard#PrivateEndpointConnectionPropertiesPrivateEndpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ARM identifier for Private Endpoint"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Private Endpoint resource."
      }
    },
    "com.azure.dashboard#PrivateEndpointConnectionsApproveRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The workspace name of Azure Managed Grafana."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The private endpoint connection name of Azure Managed Grafana."
          }
        },
        "properties": {
          "target": "com.azure.dashboard#PrivateEndpointConnectionPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dashboard#PrivateEndpointConnectionPropertiesInput": {
      "type": "structure",
      "members": {
        "privateEndpoint": {
          "target": "com.azure.dashboard#PrivateEndpointConnectionPropertiesInputPrivateEndpoint",
          "traits": {
            "smithy.api#documentation": "The Private Endpoint resource."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.dashboard#PrivateEndpointConnectionPropertiesInputPrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider.",
            "smithy.api#required": {}
          }
        },
        "groupIds": {
          "target": "com.azure.dashboard#PrivateEndpointConnectionPropertiesInputGroupIdsList",
          "traits": {
            "smithy.api#documentation": "The private endpoint connection group ids."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the PrivateEndpointConnectProperties."
      }
    },
    "com.azure.dashboard#PrivateEndpointConnectionPropertiesInputGroupIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint connection group ids."
      }
    },
    "com.azure.dashboard#PrivateEndpointConnectionPropertiesInputPrivateLinkServiceConnectionState": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.dashboard#PrivateEndpointServiceConnectionStatus",
          "traits": {
            "smithy.api#documentation": "Indicates whether the connection has been Approved/Rejected/Removed by the owner of the service."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason for approval/rejection of the connection."
          }
        },
        "actionsRequired": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A message indicating if changes on the service provider require any updates on the consumer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider."
      }
    },
    "com.azure.dashboard#PrivateEndpointConnectionPropertiesInputPrivateEndpoint": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The Private Endpoint resource."
      }
    },
    "com.azure.dashboard#PrivateEndpointConnectionsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.dashboard#PrivateEndpointConnectionsGetRequest"
      },
      "output": {
        "target": "com.azure.dashboard#PrivateEndpointConnectionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dashboard/grafana/{workspaceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2025-08-01"
        },
        "smithy.api#documentation": "Get private endpoint connections.",
        "com.distilled.openapi#apiVersion": "2025-08-01"
      }
    },
    "com.azure.dashboard#PrivateEndpointConnectionsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dashboard#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.dashboard#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.dashboard#PrivateEndpointConnectionsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The workspace name of Azure Managed Grafana."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The private endpoint connection name of Azure Managed Grafana."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dashboard#PrivateEndpointConnectionsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.dashboard#PrivateEndpointConnectionsListRequest"
      },
      "output": {
        "target": "com.azure.dashboard#PrivateEndpointConnectionListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dashboard/grafana/{workspaceName}/privateEndpointConnections",
          "code": 200,
          "apiVersion": "2025-08-01"
        },
        "smithy.api#documentation": "Get private endpoint connection",
        "com.distilled.openapi#apiVersion": "2025-08-01"
      }
    },
    "com.azure.dashboard#PrivateEndpointConnectionListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.dashboard#PrivateEndpointConnectionListResultValueList",
          "traits": {
            "smithy.api#documentation": "The PrivateEndpointConnection items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a PrivateEndpointConnection list operation."
      }
    },
    "com.azure.dashboard#PrivateEndpointConnectionListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.dashboard#PrivateEndpointConnection"
      },
      "traits": {
        "smithy.api#documentation": "The PrivateEndpointConnection items on this page"
      }
    },
    "com.azure.dashboard#PrivateEndpointConnection": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dashboard#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.dashboard#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Private Endpoint Connection resource."
      }
    },
    "com.azure.dashboard#PrivateEndpointConnectionsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The workspace name of Azure Managed Grafana."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dashboard#ManagedPrivateEndpointsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.dashboard#ManagedPrivateEndpointsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dashboard/grafana/{workspaceName}/managedPrivateEndpoints/{managedPrivateEndpointName}",
          "code": 200,
          "apiVersion": "2025-08-01"
        },
        "smithy.api#documentation": "Delete a managed private endpoint for a grafana resource.",
        "com.distilled.openapi#apiVersion": "2025-08-01"
      }
    },
    "com.azure.dashboard#ManagedPrivateEndpointsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The workspace name of Azure Managed Grafana."
          }
        },
        "managedPrivateEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The managed private endpoint name of Azure Managed Grafana."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dashboard#ManagedPrivateEndpointsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.dashboard#ManagedPrivateEndpointsUpdateRequest"
      },
      "output": {
        "target": "com.azure.dashboard#ManagedPrivateEndpointsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dashboard/grafana/{workspaceName}/managedPrivateEndpoints/{managedPrivateEndpointName}",
          "code": 200,
          "apiVersion": "2025-08-01"
        },
        "smithy.api#documentation": "Update a managed private endpoint for an existing grafana resource.",
        "com.distilled.openapi#apiVersion": "2025-08-01"
      }
    },
    "com.azure.dashboard#ManagedPrivateEndpointsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dashboard#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.dashboard#ManagedPrivateEndpointsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.dashboard#ManagedPrivateEndpointModelProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.dashboard#ManagedPrivateEndpointModelProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.dashboard#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the resource."
          }
        },
        "privateLinkResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ARM resource ID of the resource for which the managed private endpoint is pointing to."
          }
        },
        "privateLinkResourceRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region of the resource to which the managed private endpoint is pointing to."
          }
        },
        "groupIds": {
          "target": "com.azure.dashboard#ManagedPrivateEndpointModelPropertiesGroupIdsList",
          "traits": {
            "smithy.api#documentation": "The group Ids of the managed private endpoint."
          }
        },
        "requestMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User input request message of the managed private endpoint."
          }
        },
        "connectionState": {
          "target": "com.azure.dashboard#ManagedPrivateEndpointConnectionState",
          "traits": {
            "smithy.api#documentation": "The state of managed private endpoint connection."
          }
        },
        "privateLinkServiceUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the data store behind the private link service. It would be the URL in the Grafana data source configuration page without the protocol and port."
          }
        },
        "privateLinkServicePrivateIP": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The private IP of private endpoint after approval. This property is empty before connection is approved."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties specific to the managed private endpoint."
      }
    },
    "com.azure.dashboard#ManagedPrivateEndpointConnectionState": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.dashboard#ManagedPrivateEndpointConnectionStatus",
          "traits": {
            "smithy.api#documentation": "The approval/rejection status of managed private endpoint connection."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the reason for approval/rejection of the connection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of managed private endpoint connection."
      }
    },
    "com.azure.dashboard#ManagedPrivateEndpointConnectionStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disconnected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The approval/rejection status of managed private endpoint connection."
      }
    },
    "com.azure.dashboard#ManagedPrivateEndpointModelPropertiesGroupIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The group Ids of the managed private endpoint."
      }
    },
    "com.azure.dashboard#ManagedPrivateEndpointsUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.dashboard#ManagedPrivateEndpointsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The workspace name of Azure Managed Grafana."
          }
        },
        "managedPrivateEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The managed private endpoint name of Azure Managed Grafana."
          }
        },
        "tags": {
          "target": "com.azure.dashboard#ManagedPrivateEndpointsUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "The new tags of the managed private endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dashboard#ManagedPrivateEndpointsUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The new tags of the managed private endpoint."
      }
    },
    "com.azure.dashboard#ManagedPrivateEndpointsCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.dashboard#ManagedPrivateEndpointsCreateRequest"
      },
      "output": {
        "target": "com.azure.dashboard#ManagedPrivateEndpointsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dashboard/grafana/{workspaceName}/managedPrivateEndpoints/{managedPrivateEndpointName}",
          "code": 200,
          "apiVersion": "2025-08-01"
        },
        "smithy.api#documentation": "Create or update a managed private endpoint for a grafana resource.",
        "com.distilled.openapi#apiVersion": "2025-08-01"
      }
    },
    "com.azure.dashboard#ManagedPrivateEndpointsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dashboard#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.dashboard#ManagedPrivateEndpointsCreateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.dashboard#ManagedPrivateEndpointModelProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.dashboard#ManagedPrivateEndpointsCreateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.dashboard#ManagedPrivateEndpointsCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The workspace name of Azure Managed Grafana."
          }
        },
        "managedPrivateEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The managed private endpoint name of Azure Managed Grafana."
          }
        },
        "tags": {
          "target": "com.azure.dashboard#ManagedPrivateEndpointsCreateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.dashboard#ManagedPrivateEndpointModelPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dashboard#ManagedPrivateEndpointModelPropertiesInput": {
      "type": "structure",
      "members": {
        "privateLinkResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ARM resource ID of the resource for which the managed private endpoint is pointing to."
          }
        },
        "privateLinkResourceRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region of the resource to which the managed private endpoint is pointing to."
          }
        },
        "groupIds": {
          "target": "com.azure.dashboard#ManagedPrivateEndpointModelPropertiesInputGroupIdsList",
          "traits": {
            "smithy.api#documentation": "The group Ids of the managed private endpoint."
          }
        },
        "requestMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User input request message of the managed private endpoint."
          }
        },
        "privateLinkServiceUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the data store behind the private link service. It would be the URL in the Grafana data source configuration page without the protocol and port."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties specific to the managed private endpoint."
      }
    },
    "com.azure.dashboard#ManagedPrivateEndpointModelPropertiesInputGroupIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The group Ids of the managed private endpoint."
      }
    },
    "com.azure.dashboard#ManagedPrivateEndpointsCreateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.dashboard#ManagedPrivateEndpointsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.dashboard#ManagedPrivateEndpointsGetRequest"
      },
      "output": {
        "target": "com.azure.dashboard#ManagedPrivateEndpointsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dashboard/grafana/{workspaceName}/managedPrivateEndpoints/{managedPrivateEndpointName}",
          "code": 200,
          "apiVersion": "2025-08-01"
        },
        "smithy.api#documentation": "Get a specific managed private endpoint of a grafana resource.",
        "com.distilled.openapi#apiVersion": "2025-08-01"
      }
    },
    "com.azure.dashboard#ManagedPrivateEndpointsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dashboard#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.dashboard#ManagedPrivateEndpointsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.dashboard#ManagedPrivateEndpointModelProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.dashboard#ManagedPrivateEndpointsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.dashboard#ManagedPrivateEndpointsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The workspace name of Azure Managed Grafana."
          }
        },
        "managedPrivateEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The managed private endpoint name of Azure Managed Grafana."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dashboard#ManagedPrivateEndpointsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.dashboard#ManagedPrivateEndpointsListRequest"
      },
      "output": {
        "target": "com.azure.dashboard#ManagedPrivateEndpointModelListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dashboard/grafana/{workspaceName}/managedPrivateEndpoints",
          "code": 200,
          "apiVersion": "2025-08-01"
        },
        "smithy.api#documentation": "List all managed private endpoints of a grafana resource.",
        "com.distilled.openapi#apiVersion": "2025-08-01"
      }
    },
    "com.azure.dashboard#ManagedPrivateEndpointModelListResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.dashboard#ManagedPrivateEndpointModelListResponseValueList",
          "traits": {
            "smithy.api#documentation": "The ManagedPrivateEndpointModel items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of managed private endpoints of a grafana resource"
      }
    },
    "com.azure.dashboard#ManagedPrivateEndpointModelListResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.dashboard#ManagedPrivateEndpointModel"
      },
      "traits": {
        "smithy.api#documentation": "The ManagedPrivateEndpointModel items on this page"
      }
    },
    "com.azure.dashboard#ManagedPrivateEndpointModel": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dashboard#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.dashboard#ManagedPrivateEndpointModelTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.dashboard#ManagedPrivateEndpointModelProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The managed private endpoint resource type."
      }
    },
    "com.azure.dashboard#ManagedPrivateEndpointModelTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.dashboard#ManagedPrivateEndpointsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The workspace name of Azure Managed Grafana."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dashboard#IntegrationFabricsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.dashboard#IntegrationFabricsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dashboard/grafana/{workspaceName}/integrationFabrics/{integrationFabricName}",
          "code": 200,
          "apiVersion": "2025-08-01"
        },
        "smithy.api#documentation": "Delete a IntegrationFabric",
        "com.distilled.openapi#apiVersion": "2025-08-01"
      }
    },
    "com.azure.dashboard#IntegrationFabricsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The workspace name of Azure Managed Grafana."
          }
        },
        "integrationFabricName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The integration fabric name of Azure Managed Grafana."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dashboard#IntegrationFabricsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.dashboard#IntegrationFabricsUpdateRequest"
      },
      "output": {
        "target": "com.azure.dashboard#IntegrationFabricsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dashboard/grafana/{workspaceName}/integrationFabrics/{integrationFabricName}",
          "code": 200,
          "apiVersion": "2025-08-01"
        },
        "smithy.api#documentation": "Update a IntegrationFabric",
        "com.distilled.openapi#apiVersion": "2025-08-01"
      }
    },
    "com.azure.dashboard#IntegrationFabricsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dashboard#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.dashboard#IntegrationFabricsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.dashboard#IntegrationFabricProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.dashboard#IntegrationFabricProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.dashboard#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the resource."
          }
        },
        "targetResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource Id of the Azure resource being integrated with Azure Managed Grafana. E.g., an Azure Kubernetes Service cluster."
          }
        },
        "dataSourceResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource Id of the Azure resource which is used to configure Grafana data source. E.g., an Azure Monitor Workspace, an Azure Data Explorer cluster, etc."
          }
        },
        "scenarios": {
          "target": "com.azure.dashboard#IntegrationFabricPropertiesScenariosList",
          "traits": {
            "smithy.api#documentation": "A list of integration scenarios covered by this integration fabric"
          }
        }
      },
      "traits": {}
    },
    "com.azure.dashboard#IntegrationFabricPropertiesScenariosList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of integration scenarios covered by this integration fabric"
      }
    },
    "com.azure.dashboard#IntegrationFabricsUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.dashboard#IntegrationFabricsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The workspace name of Azure Managed Grafana."
          }
        },
        "integrationFabricName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The integration fabric name of Azure Managed Grafana."
          }
        },
        "tags": {
          "target": "com.azure.dashboard#IntegrationFabricsUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "The new tags of the Integration Fabric resource."
          }
        },
        "properties": {
          "target": "com.azure.dashboard#IntegrationFabricPropertiesUpdateParameters",
          "traits": {
            "smithy.api#documentation": "The new properties of this Integration Fabric resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dashboard#IntegrationFabricPropertiesUpdateParameters": {
      "type": "structure",
      "members": {
        "scenarios": {
          "target": "com.azure.dashboard#IntegrationFabricPropertiesUpdateParametersScenariosList",
          "traits": {
            "smithy.api#documentation": "The new integration scenarios covered by this integration fabric."
          }
        }
      },
      "traits": {}
    },
    "com.azure.dashboard#IntegrationFabricPropertiesUpdateParametersScenariosList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The new integration scenarios covered by this integration fabric."
      }
    },
    "com.azure.dashboard#IntegrationFabricsUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The new tags of the Integration Fabric resource."
      }
    },
    "com.azure.dashboard#IntegrationFabricsCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.dashboard#IntegrationFabricsCreateRequest"
      },
      "output": {
        "target": "com.azure.dashboard#IntegrationFabricsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dashboard/grafana/{workspaceName}/integrationFabrics/{integrationFabricName}",
          "code": 200,
          "apiVersion": "2025-08-01"
        },
        "smithy.api#documentation": "Create a IntegrationFabric",
        "com.distilled.openapi#apiVersion": "2025-08-01"
      }
    },
    "com.azure.dashboard#IntegrationFabricsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dashboard#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.dashboard#IntegrationFabricsCreateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.dashboard#IntegrationFabricProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.dashboard#IntegrationFabricsCreateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.dashboard#IntegrationFabricsCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The workspace name of Azure Managed Grafana."
          }
        },
        "integrationFabricName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The integration fabric name of Azure Managed Grafana."
          }
        },
        "tags": {
          "target": "com.azure.dashboard#IntegrationFabricsCreateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.dashboard#IntegrationFabricPropertiesInput"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dashboard#IntegrationFabricPropertiesInput": {
      "type": "structure",
      "members": {
        "targetResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource Id of the Azure resource being integrated with Azure Managed Grafana. E.g., an Azure Kubernetes Service cluster."
          }
        },
        "dataSourceResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource Id of the Azure resource which is used to configure Grafana data source. E.g., an Azure Monitor Workspace, an Azure Data Explorer cluster, etc."
          }
        },
        "scenarios": {
          "target": "com.azure.dashboard#IntegrationFabricPropertiesInputScenariosList",
          "traits": {
            "smithy.api#documentation": "A list of integration scenarios covered by this integration fabric"
          }
        }
      },
      "traits": {}
    },
    "com.azure.dashboard#IntegrationFabricPropertiesInputScenariosList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of integration scenarios covered by this integration fabric"
      }
    },
    "com.azure.dashboard#IntegrationFabricsCreateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.dashboard#IntegrationFabricsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.dashboard#IntegrationFabricsGetRequest"
      },
      "output": {
        "target": "com.azure.dashboard#IntegrationFabricsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dashboard/grafana/{workspaceName}/integrationFabrics/{integrationFabricName}",
          "code": 200,
          "apiVersion": "2025-08-01"
        },
        "smithy.api#documentation": "Get a IntegrationFabric",
        "com.distilled.openapi#apiVersion": "2025-08-01"
      }
    },
    "com.azure.dashboard#IntegrationFabricsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dashboard#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.dashboard#IntegrationFabricsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.dashboard#IntegrationFabricProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.dashboard#IntegrationFabricsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.dashboard#IntegrationFabricsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The workspace name of Azure Managed Grafana."
          }
        },
        "integrationFabricName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The integration fabric name of Azure Managed Grafana."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dashboard#IntegrationFabricsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.dashboard#IntegrationFabricsListRequest"
      },
      "output": {
        "target": "com.azure.dashboard#IntegrationFabricListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dashboard/grafana/{workspaceName}/integrationFabrics",
          "code": 200,
          "apiVersion": "2025-08-01"
        },
        "smithy.api#documentation": "List IntegrationFabric resources by ManagedGrafana",
        "com.distilled.openapi#apiVersion": "2025-08-01"
      }
    },
    "com.azure.dashboard#IntegrationFabricListResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.dashboard#IntegrationFabricListResponseValueList",
          "traits": {
            "smithy.api#documentation": "The IntegrationFabric items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Paged collection of IntegrationFabric items"
      }
    },
    "com.azure.dashboard#IntegrationFabricListResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.dashboard#IntegrationFabric"
      },
      "traits": {
        "smithy.api#documentation": "The IntegrationFabric items on this page"
      }
    },
    "com.azure.dashboard#IntegrationFabric": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dashboard#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.dashboard#IntegrationFabricTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.dashboard#IntegrationFabricProperties"
        }
      },
      "traits": {
        "smithy.api#documentation": "The integration fabric resource type."
      }
    },
    "com.azure.dashboard#IntegrationFabricTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.dashboard#IntegrationFabricsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The workspace name of Azure Managed Grafana."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dashboard#GrafanaFetchAvailablePlugins": {
      "type": "operation",
      "input": {
        "target": "com.azure.dashboard#GrafanaFetchAvailablePluginsRequest"
      },
      "output": {
        "target": "com.azure.dashboard#GrafanaAvailablePluginListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dashboard/grafana/{workspaceName}/fetchAvailablePlugins",
          "code": 200,
          "apiVersion": "2025-08-01"
        },
        "smithy.api#documentation": "A synchronous resource action.",
        "com.distilled.openapi#apiVersion": "2025-08-01"
      }
    },
    "com.azure.dashboard#GrafanaAvailablePluginListResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.dashboard#GrafanaAvailablePluginListResponseValueList"
        },
        "nextLink": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.azure.dashboard#GrafanaAvailablePluginListResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.dashboard#GrafanaAvailablePlugin"
      },
      "traits": {}
    },
    "com.azure.dashboard#GrafanaAvailablePlugin": {
      "type": "structure",
      "members": {
        "pluginId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Grafana plugin id"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Grafana plugin display name"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Grafana plugin type"
          }
        },
        "author": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Grafana plugin author/publisher name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available plugins of grafana"
      }
    },
    "com.azure.dashboard#GrafanaFetchAvailablePluginsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The workspace name of Azure Managed Grafana."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dashboard#GrafanaCheckEnterpriseDetails": {
      "type": "operation",
      "input": {
        "target": "com.azure.dashboard#GrafanaCheckEnterpriseDetailsRequest"
      },
      "output": {
        "target": "com.azure.dashboard#EnterpriseDetails"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dashboard/grafana/{workspaceName}/checkEnterpriseDetails",
          "code": 200,
          "apiVersion": "2025-08-01"
        },
        "smithy.api#documentation": "Retrieve enterprise add-on details information",
        "com.distilled.openapi#apiVersion": "2025-08-01"
      }
    },
    "com.azure.dashboard#EnterpriseDetails": {
      "type": "structure",
      "members": {
        "saasSubscriptionDetails": {
          "target": "com.azure.dashboard#SaasSubscriptionDetails",
          "traits": {
            "smithy.api#documentation": "SaaS subscription details of a Grafana instance"
          }
        },
        "marketplaceTrialQuota": {
          "target": "com.azure.dashboard#MarketplaceTrialQuota",
          "traits": {
            "smithy.api#documentation": "The allocation details of the per subscription free trial slot of the subscription."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enterprise details of a Grafana instance"
      }
    },
    "com.azure.dashboard#MarketplaceTrialQuota": {
      "type": "structure",
      "members": {
        "availablePromotion": {
          "target": "com.azure.dashboard#MarketplaceTrialQuotaAvailablePromotion",
          "traits": {
            "smithy.api#documentation": "Available enterprise promotion for the subscription"
          }
        },
        "grafanaResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Id of the Grafana resource which is doing the trial."
          }
        },
        "trialStartAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time in UTC of when the trial starts."
          }
        },
        "trialEndAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time in UTC of when the trial ends."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The allocation details of the per subscription free trial slot of the subscription."
      }
    },
    "com.azure.dashboard#MarketplaceTrialQuotaAvailablePromotion": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "FREETRIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FreeTrial"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available enterprise promotion for the subscription"
      }
    },
    "com.azure.dashboard#SaasSubscriptionDetails": {
      "type": "structure",
      "members": {
        "planId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The plan Id of the SaaS subscription."
          }
        },
        "offerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The offer Id of the SaaS subscription."
          }
        },
        "publisherId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The publisher Id of the SaaS subscription."
          }
        },
        "term": {
          "target": "com.azure.dashboard#SubscriptionTerm",
          "traits": {
            "smithy.api#documentation": "The billing term of the SaaS Subscription."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SaaS subscription details of a Grafana instance"
      }
    },
    "com.azure.dashboard#SubscriptionTerm": {
      "type": "structure",
      "members": {
        "termUnit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unit of the billing term."
          }
        },
        "startDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time in UTC of when the billing term starts."
          }
        },
        "endDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time in UTC of when the billing term ends."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current billing term of the SaaS Subscription."
      }
    },
    "com.azure.dashboard#GrafanaCheckEnterpriseDetailsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The workspace name of Azure Managed Grafana."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dashboard#GrafanaDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.dashboard#GrafanaDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dashboard/grafana/{workspaceName}",
          "code": 200,
          "apiVersion": "2025-08-01"
        },
        "smithy.api#documentation": "Delete a workspace for Grafana resource.",
        "com.distilled.openapi#apiVersion": "2025-08-01"
      }
    },
    "com.azure.dashboard#GrafanaDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The workspace name of Azure Managed Grafana."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dashboard#GrafanaUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.dashboard#GrafanaUpdateRequest"
      },
      "output": {
[...]
