{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.datafactory#TriggersUnsubscribeFromEvents": {
      "type": "operation",
      "input": {
        "target": "com.azure.datafactory#TriggersUnsubscribeFromEventsRequest"
      },
      "output": {
        "target": "com.azure.datafactory#TriggerSubscriptionOperationStatus"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/triggers/{triggerName}/unsubscribeFromEvents",
          "code": 200,
          "apiVersion": "2018-06-01"
        },
        "smithy.api#documentation": "Unsubscribe event trigger from events.",
        "com.distilled.openapi#apiVersion": "2018-06-01"
      }
    },
    "com.azure.datafactory#TriggerSubscriptionOperationStatus": {
      "type": "structure",
      "members": {
        "triggerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trigger name."
          }
        },
        "status": {
          "target": "com.azure.datafactory#EventSubscriptionStatus",
          "traits": {
            "smithy.api#documentation": "Event Subscription Status."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the response of a trigger subscription operation."
      }
    },
    "com.azure.datafactory#EventSubscriptionStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        },
        "DEPROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deprovisioning"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Event Subscription Status."
      }
    },
    "com.azure.datafactory#TriggersUnsubscribeFromEventsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "factoryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The factory name."
          }
        },
        "triggerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The trigger name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datafactory#TriggerRunsRerun": {
      "type": "operation",
      "input": {
        "target": "com.azure.datafactory#TriggerRunsRerunRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/triggers/{triggerName}/triggerRuns/{runId}/rerun",
          "code": 200,
          "apiVersion": "2018-06-01"
        },
        "smithy.api#documentation": "Rerun single trigger instance by runId.",
        "com.distilled.openapi#apiVersion": "2018-06-01"
      }
    },
    "com.azure.datafactory#TriggerRunsRerunRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "factoryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "triggerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "runId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The pipeline run identifier."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datafactory#TriggerRunsCancel": {
      "type": "operation",
      "input": {
        "target": "com.azure.datafactory#TriggerRunsCancelRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/triggers/{triggerName}/triggerRuns/{runId}/cancel",
          "code": 200,
          "apiVersion": "2018-06-01"
        },
        "smithy.api#documentation": "Cancel a single trigger instance by runId.",
        "com.distilled.openapi#apiVersion": "2018-06-01"
      }
    },
    "com.azure.datafactory#TriggerRunsCancelRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "factoryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "triggerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "runId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The pipeline run identifier."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datafactory#TriggersSubscribeToEvents": {
      "type": "operation",
      "input": {
        "target": "com.azure.datafactory#TriggersSubscribeToEventsRequest"
      },
      "output": {
        "target": "com.azure.datafactory#TriggerSubscriptionOperationStatus"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/triggers/{triggerName}/subscribeToEvents",
          "code": 200,
          "apiVersion": "2018-06-01"
        },
        "smithy.api#documentation": "Subscribe event trigger to events.",
        "com.distilled.openapi#apiVersion": "2018-06-01"
      }
    },
    "com.azure.datafactory#TriggersSubscribeToEventsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "factoryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The factory name."
          }
        },
        "triggerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The trigger name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datafactory#TriggersStop": {
      "type": "operation",
      "input": {
        "target": "com.azure.datafactory#TriggersStopRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/triggers/{triggerName}/stop",
          "code": 200,
          "apiVersion": "2018-06-01"
        },
        "smithy.api#documentation": "Stops a trigger.",
        "com.distilled.openapi#apiVersion": "2018-06-01"
      }
    },
    "com.azure.datafactory#TriggersStopRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "factoryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The factory name."
          }
        },
        "triggerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The trigger name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datafactory#TriggersStart": {
      "type": "operation",
      "input": {
        "target": "com.azure.datafactory#TriggersStartRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/triggers/{triggerName}/start",
          "code": 200,
          "apiVersion": "2018-06-01"
        },
        "smithy.api#documentation": "Starts a trigger.",
        "com.distilled.openapi#apiVersion": "2018-06-01"
      }
    },
    "com.azure.datafactory#TriggersStartRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "factoryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The factory name."
          }
        },
        "triggerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The trigger name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datafactory#TriggersGetEventSubscriptionStatus": {
      "type": "operation",
      "input": {
        "target": "com.azure.datafactory#TriggersGetEventSubscriptionStatusRequest"
      },
      "output": {
        "target": "com.azure.datafactory#TriggerSubscriptionOperationStatus"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/triggers/{triggerName}/getEventSubscriptionStatus",
          "code": 200,
          "apiVersion": "2018-06-01"
        },
        "smithy.api#documentation": "Get a trigger's event subscription status.",
        "com.distilled.openapi#apiVersion": "2018-06-01"
      }
    },
    "com.azure.datafactory#TriggersGetEventSubscriptionStatusRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "factoryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The factory name."
          }
        },
        "triggerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The trigger name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datafactory#TriggersDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.datafactory#TriggersDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/triggers/{triggerName}",
          "code": 200,
          "apiVersion": "2018-06-01"
        },
        "smithy.api#documentation": "Deletes a trigger.",
        "com.distilled.openapi#apiVersion": "2018-06-01"
      }
    },
    "com.azure.datafactory#TriggersDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "factoryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The factory name."
          }
        },
        "triggerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The trigger name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datafactory#TriggersCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.datafactory#TriggersCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.datafactory#TriggersCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/triggers/{triggerName}",
          "code": 200,
          "apiVersion": "2018-06-01"
        },
        "smithy.api#documentation": "Creates or updates a trigger.",
        "com.distilled.openapi#apiVersion": "2018-06-01"
      }
    },
    "com.azure.datafactory#TriggersCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.datafactory#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.datafactory#Trigger",
          "traits": {
            "smithy.api#documentation": "Properties of the trigger.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.\")"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datafactory#Trigger": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trigger type.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trigger description."
          }
        },
        "runtimeState": {
          "target": "com.azure.datafactory#TriggerRuntimeState",
          "traits": {
            "smithy.api#documentation": "Indicates if trigger is running or not. Updated when Start/Stop APIs are called on the Trigger."
          }
        },
        "annotations": {
          "target": "com.azure.datafactory#TriggerAnnotationsList",
          "traits": {
            "smithy.api#documentation": "List of tags that can be used for describing the trigger."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Azure data factory nested object which contains information about creating pipeline run"
      }
    },
    "com.azure.datafactory#TriggerAnnotationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "List of tags that can be used for describing the trigger."
      }
    },
    "com.azure.datafactory#TriggerRuntimeState": {
      "type": "enum",
      "members": {
        "STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Started"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Stopped"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enumerates possible state of Triggers."
      }
    },
    "com.azure.datafactory#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.datafactory#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.datafactory#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.datafactory#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.datafactory#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.datafactory#TriggersCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "factoryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The factory name."
          }
        },
        "triggerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The trigger name."
          }
        },
        "properties": {
          "target": "com.azure.datafactory#Trigger",
          "traits": {
            "smithy.api#documentation": "Properties of the trigger.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datafactory#TriggersGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.datafactory#TriggersGetRequest"
      },
      "output": {
        "target": "com.azure.datafactory#TriggersGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/triggers/{triggerName}",
          "code": 200,
          "apiVersion": "2018-06-01"
        },
        "smithy.api#documentation": "Gets a trigger.",
        "com.distilled.openapi#apiVersion": "2018-06-01"
      }
    },
    "com.azure.datafactory#TriggersGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.datafactory#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.datafactory#Trigger",
          "traits": {
            "smithy.api#documentation": "Properties of the trigger.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.\")"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datafactory#TriggersGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "factoryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The factory name."
          }
        },
        "triggerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The trigger name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datafactory#TriggersListByFactory": {
      "type": "operation",
      "input": {
        "target": "com.azure.datafactory#TriggersListByFactoryRequest"
      },
      "output": {
        "target": "com.azure.datafactory#TriggerListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/triggers",
          "code": 200,
          "apiVersion": "2018-06-01"
        },
        "smithy.api#documentation": "Lists triggers.",
        "com.distilled.openapi#apiVersion": "2018-06-01"
      }
    },
    "com.azure.datafactory#TriggerListResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.datafactory#TriggerListResponseValueList",
          "traits": {
            "smithy.api#documentation": "The TriggerResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of trigger resources."
      }
    },
    "com.azure.datafactory#TriggerListResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.datafactory#TriggerResource"
      },
      "traits": {
        "smithy.api#documentation": "The TriggerResource items on this page"
      }
    },
    "com.azure.datafactory#TriggerResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.datafactory#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.datafactory#Trigger",
          "traits": {
            "smithy.api#documentation": "Properties of the trigger.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.\")"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Trigger resource type."
      }
    },
    "com.azure.datafactory#TriggersListByFactoryRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "factoryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The factory name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datafactory#TriggersQueryByFactory": {
      "type": "operation",
      "input": {
        "target": "com.azure.datafactory#TriggersQueryByFactoryRequest"
      },
      "output": {
        "target": "com.azure.datafactory#TriggerQueryResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/querytriggers",
          "code": 200,
          "apiVersion": "2018-06-01"
        },
        "smithy.api#documentation": "Query triggers.",
        "com.distilled.openapi#apiVersion": "2018-06-01"
      }
    },
    "com.azure.datafactory#TriggerQueryResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.datafactory#TriggerQueryResponseValueList",
          "traits": {
            "smithy.api#documentation": "List of triggers.",
            "smithy.api#required": {}
          }
        },
        "continuationToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The continuation token for getting the next page of results, if any remaining results exist, null otherwise."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A query of triggers."
      }
    },
    "com.azure.datafactory#TriggerQueryResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.datafactory#TriggerResource"
      },
      "traits": {
        "smithy.api#documentation": "List of triggers."
      }
    },
    "com.azure.datafactory#TriggersQueryByFactoryRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "factoryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The factory name."
          }
        },
        "continuationToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The continuation token for getting the next page of results. Null for first page."
          }
        },
        "parentTriggerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the parent TumblingWindowTrigger to get the child rerun triggers"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datafactory#TriggerRunsQueryByFactory": {
      "type": "operation",
      "input": {
        "target": "com.azure.datafactory#TriggerRunsQueryByFactoryRequest"
      },
      "output": {
        "target": "com.azure.datafactory#TriggerRunsQueryResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/queryTriggerRuns",
          "code": 200,
          "apiVersion": "2018-06-01"
        },
        "smithy.api#documentation": "Query trigger runs.",
        "com.distilled.openapi#apiVersion": "2018-06-01"
      }
    },
    "com.azure.datafactory#TriggerRunsQueryResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.datafactory#TriggerRunsQueryResponseValueList",
          "traits": {
            "smithy.api#documentation": "List of trigger runs.",
            "smithy.api#required": {}
          }
        },
        "continuationToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The continuation token for getting the next page of results, if any remaining results exist, null otherwise."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of trigger runs."
      }
    },
    "com.azure.datafactory#TriggerRunsQueryResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.datafactory#TriggerRun"
      },
      "traits": {
        "smithy.api#documentation": "List of trigger runs."
      }
    },
    "com.azure.datafactory#TriggerRun": {
      "type": "structure",
      "members": {
        "triggerRunId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trigger run id."
          }
        },
        "triggerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trigger name."
          }
        },
        "triggerType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trigger type."
          }
        },
        "triggerRunTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trigger run start time."
          }
        },
        "status": {
          "target": "com.azure.datafactory#TriggerRunStatus",
          "traits": {
            "smithy.api#documentation": "Trigger run status."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trigger error message."
          }
        },
        "properties": {
          "target": "com.azure.datafactory#TriggerRunPropertiesMap",
          "traits": {
            "smithy.api#documentation": "List of property name and value related to trigger run. Name, value pair depends on type of trigger."
          }
        },
        "triggeredPipelines": {
          "target": "com.azure.datafactory#TriggerRunTriggeredPipelinesMap",
          "traits": {
            "smithy.api#documentation": "List of pipeline name and run Id triggered by the trigger run."
          }
        },
        "runDimension": {
          "target": "com.azure.datafactory#TriggerRunRunDimensionMap",
          "traits": {
            "smithy.api#documentation": "Run dimension for which trigger was fired."
          }
        },
        "dependencyStatus": {
          "target": "com.azure.datafactory#TriggerRunDependencyStatusMap",
          "traits": {
            "smithy.api#documentation": "Status of the upstream pipelines."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Trigger runs."
      }
    },
    "com.azure.datafactory#TriggerRunDependencyStatusMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Status of the upstream pipelines."
      }
    },
    "com.azure.datafactory#TriggerRunRunDimensionMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Run dimension for which trigger was fired."
      }
    },
    "com.azure.datafactory#TriggerRunTriggeredPipelinesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of pipeline name and run Id triggered by the trigger run."
      }
    },
    "com.azure.datafactory#TriggerRunPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of property name and value related to trigger run. Name, value pair depends on type of trigger."
      }
    },
    "com.azure.datafactory#TriggerRunStatus": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Inprogress"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Trigger run status."
      }
    },
    "com.azure.datafactory#TriggerRunsQueryByFactoryRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "factoryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The factory name."
          }
        },
        "continuationToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The continuation token for getting the next page of results. Null for first page."
          }
        },
        "lastUpdatedAfter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at or after which the run event was updated in 'ISO 8601' format.",
            "smithy.api#required": {}
          }
        },
        "lastUpdatedBefore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at or before which the run event was updated in 'ISO 8601' format.",
            "smithy.api#required": {}
          }
        },
        "filters": {
          "target": "com.azure.datafactory#TriggerRunsQueryByFactoryRequestFiltersList",
          "traits": {
            "smithy.api#documentation": "List of filters."
          }
        },
        "orderBy": {
          "target": "com.azure.datafactory#TriggerRunsQueryByFactoryRequestOrderByList",
          "traits": {
            "smithy.api#documentation": "List of OrderBy option."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datafactory#TriggerRunsQueryByFactoryRequestOrderByList": {
      "type": "list",
      "member": {
        "target": "com.azure.datafactory#RunQueryOrderBy"
      },
      "traits": {
        "smithy.api#documentation": "List of OrderBy option."
      }
    },
    "com.azure.datafactory#RunQueryOrderBy": {
      "type": "structure",
      "members": {
        "orderBy": {
          "target": "com.azure.datafactory#RunQueryOrderByField",
          "traits": {
            "smithy.api#documentation": "Parameter name to be used for order by. The allowed parameters to order by for pipeline runs are PipelineName, RunStart, RunEnd and Status; for activity runs are ActivityName, ActivityRunStart, ActivityRunEnd and Status; for trigger runs are TriggerName, TriggerRunTimestamp and Status.",
            "smithy.api#required": {}
          }
        },
        "order": {
          "target": "com.azure.datafactory#RunQueryOrder",
          "traits": {
            "smithy.api#documentation": "Sorting order of the parameter.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object to provide order by options for listing runs."
      }
    },
    "com.azure.datafactory#RunQueryOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASC"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESC"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sorting order of the parameter."
      }
    },
    "com.azure.datafactory#RunQueryOrderByField": {
      "type": "enum",
      "members": {
        "RUNSTART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RunStart"
          }
        },
        "RUNEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RunEnd"
          }
        },
        "PIPELINENAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PipelineName"
          }
        },
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Status"
          }
        },
        "ACTIVITYNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ActivityName"
          }
        },
        "ACTIVITYRUNSTART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ActivityRunStart"
          }
        },
        "ACTIVITYRUNEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ActivityRunEnd"
          }
        },
        "TRIGGERNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TriggerName"
          }
        },
        "TRIGGERRUNTIMESTAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TriggerRunTimestamp"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parameter name to be used for order by. The allowed parameters to order by for pipeline runs are PipelineName, RunStart, RunEnd and Status; for activity runs are ActivityName, ActivityRunStart, ActivityRunEnd and Status; for trigger runs are TriggerName, TriggerRunTimestamp and Status."
      }
    },
    "com.azure.datafactory#TriggerRunsQueryByFactoryRequestFiltersList": {
      "type": "list",
      "member": {
        "target": "com.azure.datafactory#RunQueryFilter"
      },
      "traits": {
        "smithy.api#documentation": "List of filters."
      }
    },
    "com.azure.datafactory#RunQueryFilter": {
      "type": "structure",
      "members": {
        "operand": {
          "target": "com.azure.datafactory#RunQueryFilterOperand",
          "traits": {
            "smithy.api#documentation": "Parameter name to be used for filter. The allowed operands to query pipeline runs are PipelineName, RunStart, RunEnd and Status; to query activity runs are ActivityName, ActivityRunStart, ActivityRunEnd, ActivityType and Status, and to query trigger runs are TriggerName, TriggerRunTimestamp and Status.",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.azure.datafactory#RunQueryFilterOperator",
          "traits": {
            "smithy.api#documentation": "Operator to be used for filter.",
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.azure.datafactory#RunQueryFilterValuesList",
          "traits": {
            "smithy.api#documentation": "List of filter values.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Query filter option for listing runs."
      }
    },
    "com.azure.datafactory#RunQueryFilterValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of filter values."
      }
    },
    "com.azure.datafactory#RunQueryFilterOperator": {
      "type": "enum",
      "members": {
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Equals"
          }
        },
        "NOTEQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotEquals"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "In"
          }
        },
        "NOTIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotIn"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Operator to be used for filter."
      }
    },
    "com.azure.datafactory#RunQueryFilterOperand": {
      "type": "enum",
      "members": {
        "PIPELINENAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PipelineName"
          }
        },
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Status"
          }
        },
        "RUNSTART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RunStart"
          }
        },
        "RUNEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RunEnd"
          }
        },
        "ACTIVITYNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ActivityName"
          }
        },
        "ACTIVITYRUNSTART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ActivityRunStart"
          }
        },
        "ACTIVITYRUNEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ActivityRunEnd"
          }
        },
        "ACTIVITYTYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ActivityType"
          }
        },
        "TRIGGERNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TriggerName"
          }
        },
        "TRIGGERRUNTIMESTAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TriggerRunTimestamp"
          }
        },
        "RUNGROUPID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RunGroupId"
          }
        },
        "LATESTONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LatestOnly"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parameter name to be used for filter. The allowed operands to query pipeline runs are PipelineName, RunStart, RunEnd and Status; to query activity runs are ActivityName, ActivityRunStart, ActivityRunEnd, ActivityType and Status, and to query trigger runs are TriggerName, TriggerRunTimestamp and Status."
      }
    },
    "com.azure.datafactory#PipelineRunsQueryByFactory": {
      "type": "operation",
      "input": {
        "target": "com.azure.datafactory#PipelineRunsQueryByFactoryRequest"
      },
      "output": {
        "target": "com.azure.datafactory#PipelineRunsQueryResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/queryPipelineRuns",
          "code": 200,
          "apiVersion": "2018-06-01"
        },
        "smithy.api#documentation": "Query pipeline runs in the factory based on input filter conditions.",
        "com.distilled.openapi#apiVersion": "2018-06-01"
      }
    },
    "com.azure.datafactory#PipelineRunsQueryResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.datafactory#PipelineRunsQueryResponseValueList",
          "traits": {
            "smithy.api#documentation": "List of pipeline runs.",
            "smithy.api#required": {}
          }
        },
        "continuationToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The continuation token for getting the next page of results, if any remaining results exist, null otherwise."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list pipeline runs."
      }
    },
    "com.azure.datafactory#PipelineRunsQueryResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.datafactory#PipelineRun"
      },
      "traits": {
        "smithy.api#documentation": "List of pipeline runs."
      }
    },
    "com.azure.datafactory#PipelineRun": {
      "type": "structure",
      "members": {
        "runId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a run."
          }
        },
        "runGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier that correlates all the recovery runs of a pipeline run."
          }
        },
        "isLatest": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the recovered pipeline run is the latest in its group."
          }
        },
        "pipelineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pipeline name."
          }
        },
        "parameters": {
          "target": "com.azure.datafactory#PipelineRunParametersMap",
          "traits": {
            "smithy.api#documentation": "The full or partial list of parameter name, value pair used in the pipeline run."
          }
        },
        "runDimensions": {
          "target": "com.azure.datafactory#PipelineRunRunDimensionsMap",
          "traits": {
            "smithy.api#documentation": "Run dimensions emitted by Pipeline run."
          }
        },
        "invokedBy": {
          "target": "com.azure.datafactory#PipelineRunInvokedBy",
          "traits": {
            "smithy.api#documentation": "Entity that started the pipeline run."
          }
        },
        "lastUpdated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last updated timestamp for the pipeline run event in ISO8601 format."
          }
        },
        "runStart": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of a pipeline run in ISO8601 format."
          }
        },
        "runEnd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time of a pipeline run in ISO8601 format."
          }
        },
        "durationInMs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The duration of a pipeline run."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status of a pipeline run. Possible values: Queued, InProgress, Succeeded, Failed, Canceling, Cancelled"
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The message from a pipeline run."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a pipeline run."
      }
    },
    "com.azure.datafactory#PipelineRunInvokedBy": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the entity that started the pipeline run."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the entity that started the run."
          }
        },
        "invokedByType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the entity that started the run."
          }
        },
        "pipelineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the pipeline that triggered the run, if any."
          }
        },
        "pipelineRunId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The run id of the pipeline that triggered the run, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides entity name and id that started the pipeline run."
      }
    },
    "com.azure.datafactory#PipelineRunRunDimensionsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Run dimensions emitted by Pipeline run."
      }
    },
    "com.azure.datafactory#PipelineRunParametersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The full or partial list of parameter name, value pair used in the pipeline run."
      }
    },
    "com.azure.datafactory#PipelineRunsQueryByFactoryRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "factoryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The factory name."
          }
        },
        "continuationToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The continuation token for getting the next page of results. Null for first page."
          }
        },
        "lastUpdatedAfter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at or after which the run event was updated in 'ISO 8601' format.",
            "smithy.api#required": {}
          }
        },
        "lastUpdatedBefore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at or before which the run event was updated in 'ISO 8601' format.",
            "smithy.api#required": {}
          }
        },
        "filters": {
          "target": "com.azure.datafactory#PipelineRunsQueryByFactoryRequestFiltersList",
          "traits": {
            "smithy.api#documentation": "List of filters."
          }
        },
        "orderBy": {
          "target": "com.azure.datafactory#PipelineRunsQueryByFactoryRequestOrderByList",
          "traits": {
            "smithy.api#documentation": "List of OrderBy option."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datafactory#PipelineRunsQueryByFactoryRequestOrderByList": {
      "type": "list",
      "member": {
        "target": "com.azure.datafactory#RunQueryOrderBy"
      },
      "traits": {
        "smithy.api#documentation": "List of OrderBy option."
      }
    },
    "com.azure.datafactory#PipelineRunsQueryByFactoryRequestFiltersList": {
      "type": "list",
      "member": {
        "target": "com.azure.datafactory#RunQueryFilter"
      },
      "traits": {
        "smithy.api#documentation": "List of filters."
      }
    },
    "com.azure.datafactory#ExposureControlQueryFeatureValuesByFactory": {
      "type": "operation",
      "input": {
        "target": "com.azure.datafactory#ExposureControlQueryFeatureValuesByFactoryRequest"
      },
      "output": {
        "target": "com.azure.datafactory#ExposureControlBatchResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/queryFeaturesValue",
          "code": 200,
          "apiVersion": "2018-06-01"
        },
        "smithy.api#documentation": "Get list of exposure control features for specific factory.",
        "com.distilled.openapi#apiVersion": "2018-06-01"
      }
    },
    "com.azure.datafactory#ExposureControlBatchResponse": {
      "type": "structure",
      "members": {
        "exposureControlResponses": {
          "target": "com.azure.datafactory#ExposureControlBatchResponseExposureControlResponsesList",
          "traits": {
            "smithy.api#documentation": "List of exposure control feature values.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of exposure control feature values."
      }
    },
    "com.azure.datafactory#ExposureControlBatchResponseExposureControlResponsesList": {
      "type": "list",
      "member": {
        "target": "com.azure.datafactory#ExposureControlResponse"
      },
      "traits": {
        "smithy.api#documentation": "List of exposure control feature values."
      }
    },
    "com.azure.datafactory#ExposureControlResponse": {
      "type": "structure",
      "members": {
        "featureName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The feature name."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The feature value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The exposure control response."
      }
    },
    "com.azure.datafactory#ExposureControlQueryFeatureValuesByFactoryRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "factoryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The factory name."
          }
        },
        "exposureControlRequests": {
          "target": "com.azure.datafactory#ExposureControlQueryFeatureValuesByFactoryRequestExposureControlRequestsList",
          "traits": {
            "smithy.api#documentation": "List of exposure control features.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datafactory#ExposureControlQueryFeatureValuesByFactoryRequestExposureControlRequestsList": {
      "type": "list",
      "member": {
        "target": "com.azure.datafactory#ExposureControlRequest"
      },
      "traits": {
        "smithy.api#documentation": "List of exposure control features."
      }
    },
    "com.azure.datafactory#ExposureControlRequest": {
      "type": "structure",
      "members": {
        "featureName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The feature name."
          }
        },
        "featureType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The feature type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The exposure control request."
      }
    },
    "com.azure.datafactory#DataFlowDebugSessionQueryByFactory": {
      "type": "operation",
      "input": {
        "target": "com.azure.datafactory#DataFlowDebugSessionQueryByFactoryRequest"
      },
      "output": {
        "target": "com.azure.datafactory#QueryDataFlowDebugSessionsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/queryDataFlowDebugSessions",
          "code": 200,
          "apiVersion": "2018-06-01"
        },
        "smithy.api#documentation": "Query all active data flow debug sessions.",
        "com.distilled.openapi#apiVersion": "2018-06-01"
      }
    },
    "com.azure.datafactory#QueryDataFlowDebugSessionsResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.datafactory#QueryDataFlowDebugSessionsResponseValueList",
          "traits": {
            "smithy.api#documentation": "The DataFlowDebugSessionInfo items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Paged collection of DataFlowDebugSessionInfo items"
      }
    },
    "com.azure.datafactory#QueryDataFlowDebugSessionsResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.datafactory#DataFlowDebugSessionInfo"
      },
      "traits": {
        "smithy.api#documentation": "The DataFlowDebugSessionInfo items on this page"
      }
    },
    "com.azure.datafactory#DataFlowDebugSessionInfo": {
      "type": "structure",
      "members": {
        "dataFlowName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the data flow."
          }
        },
        "computeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Compute type of the cluster."
          }
        },
        "coreCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Core count of the cluster."
          }
        },
        "nodeCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Node count of the cluster. (deprecated property)"
          }
        },
        "integrationRuntimeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Attached integration runtime name of data flow debug session."
          }
        },
        "sessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of data flow debug session."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time of data flow debug session."
          }
        },
        "timeToLiveInMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Compute type of the cluster."
          }
        },
        "lastActivityTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last activity time of data flow debug session."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data flow debug session info."
      }
    },
    "com.azure.datafactory#DataFlowDebugSessionQueryByFactoryRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "factoryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The factory name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datafactory#PrivateLinkResourcesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.datafactory#PrivateLinkResourcesGetRequest"
      },
      "output": {
        "target": "com.azure.datafactory#PrivateLinkResourcesWrapper"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/privateLinkResources",
          "code": 200,
          "apiVersion": "2018-06-01"
        },
        "smithy.api#documentation": "Gets the private link resources",
        "com.distilled.openapi#apiVersion": "2018-06-01"
      }
    },
    "com.azure.datafactory#PrivateLinkResourcesWrapper": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.datafactory#PrivateLinkResourcesWrapperValueList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Wrapper for a collection of private link resources"
      }
    },
    "com.azure.datafactory#PrivateLinkResourcesWrapperValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.datafactory#PrivateLinkResource"
      },
      "traits": {}
    },
    "com.azure.datafactory#PrivateLinkResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag identifies change in the resource."
          }
        },
        "properties": {
          "target": "com.azure.datafactory#PrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "Core resource properties"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A private link resource"
      }
    },
    "com.azure.datafactory#PrivateLinkResourceProperties": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GroupId of a private link resource"
          }
        },
        "requiredMembers": {
          "target": "com.azure.datafactory#PrivateLinkResourcePropertiesRequiredMembersList",
          "traits": {
            "smithy.api#documentation": "RequiredMembers of a private link resource"
          }
        },
        "requiredZoneNames": {
          "target": "com.azure.datafactory#PrivateLinkResourcePropertiesRequiredZoneNamesList",
          "traits": {
            "smithy.api#documentation": "RequiredZoneNames of a private link resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a private link resource"
      }
    },
    "com.azure.datafactory#PrivateLinkResourcePropertiesRequiredZoneNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "RequiredZoneNames of a private link resource"
      }
    },
    "com.azure.datafactory#PrivateLinkResourcePropertiesRequiredMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "RequiredMembers of a private link resource"
      }
    },
    "com.azure.datafactory#PrivateLinkResourcesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "factoryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The factory name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datafactory#PrivateEndpointConnectionDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.datafactory#PrivateEndpointConnectionDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2018-06-01"
        },
        "smithy.api#documentation": "Deletes a private endpoint connection",
        "com.distilled.openapi#apiVersion": "2018-06-01"
      }
    },
    "com.azure.datafactory#PrivateEndpointConnectionDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "factoryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The factory name."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The private endpoint connection name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datafactory#PrivateEndpointConnectionCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.datafactory#PrivateEndpointConnectionCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.datafactory#PrivateEndpointConnectionCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2018-06-01"
        },
        "smithy.api#documentation": "Approves or rejects a private endpoint connection",
        "com.distilled.openapi#apiVersion": "2018-06-01"
      }
    },
    "com.azure.datafactory#PrivateEndpointConnectionCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.datafactory#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.datafactory#RemotePrivateEndpointConnection",
          "traits": {
            "smithy.api#documentation": "Core resource properties"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.\")"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datafactory#RemotePrivateEndpointConnection": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "smithy.api#String"
        },
        "privateEndpoint": {
          "target": "com.azure.datafactory#ArmIdWrapper",
          "traits": {
            "smithy.api#documentation": "PrivateEndpoint of a remote private endpoint connection"
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.datafactory#PrivateLinkConnectionState",
          "traits": {
            "smithy.api#documentation": "The state of a private link connection"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A remote private endpoint connection"
      }
    },
    "com.azure.datafactory#PrivateLinkConnectionState": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of a private link connection"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of a private link connection"
          }
        },
        "actionsRequired": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ActionsRequired for a private link connection"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of a private link connection"
      }
    },
    "com.azure.datafactory#ArmIdWrapper": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A wrapper for an ARM resource id"
      }
    },
    "com.azure.datafactory#PrivateEndpointConnectionCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "factoryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The factory name."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The private endpoint connection name."
          }
        },
        "properties": {
          "target": "com.azure.datafactory#PrivateLinkConnectionApprovalRequest",
          "traits": {
            "smithy.api#documentation": "Core resource properties"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datafactory#PrivateLinkConnectionApprovalRequest": {
      "type": "structure",
      "members": {
        "privateLinkServiceConnectionState": {
          "target": "com.azure.datafactory#PrivateLinkConnectionState",
          "traits": {
            "smithy.api#documentation": "The state of a private link connection"
          }
        },
        "privateEndpoint": {
          "target": "com.azure.datafactory#PrivateEndpoint",
          "traits": {
            "smithy.api#documentation": "The resource of private endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to approve or reject a private endpoint connection"
      }
    },
    "com.azure.datafactory#PrivateEndpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource Id for private endpoint"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Private endpoint which a connection belongs to."
      }
    },
    "com.azure.datafactory#PrivateEndpointConnectionGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.datafactory#PrivateEndpointConnectionGetRequest"
      },
      "output": {
        "target": "com.azure.datafactory#PrivateEndpointConnectionGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2018-06-01"
        },
        "smithy.api#documentation": "Gets a private endpoint connection",
        "com.distilled.openapi#apiVersion": "2018-06-01"
      }
    },
    "com.azure.datafactory#PrivateEndpointConnectionGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.datafactory#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.datafactory#RemotePrivateEndpointConnection",
          "traits": {
            "smithy.api#documentation": "Core resource properties"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.\")"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datafactory#PrivateEndpointConnectionGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "factoryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The factory name."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The private endpoint connection name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datafactory#PrivateEndPointConnectionsListByFactory": {
      "type": "operation",
      "input": {
        "target": "com.azure.datafactory#PrivateEndPointConnectionsListByFactoryRequest"
      },
      "output": {
        "target": "com.azure.datafactory#PrivateEndpointConnectionListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/privateEndpointConnections",
          "code": 200,
          "apiVersion": "2018-06-01"
        },
        "smithy.api#documentation": "Lists Private endpoint connections",
        "com.distilled.openapi#apiVersion": "2018-06-01"
      }
    },
    "com.azure.datafactory#PrivateEndpointConnectionListResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.datafactory#PrivateEndpointConnectionListResponseValueList",
          "traits": {
            "smithy.api#documentation": "The PrivateEndpointConnectionResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of linked service resources."
      }
    },
    "com.azure.datafactory#PrivateEndpointConnectionListResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.datafactory#PrivateEndpointConnectionResource"
      },
      "traits": {
        "smithy.api#documentation": "The PrivateEndpointConnectionResource items on this page"
      }
    },
    "com.azure.datafactory#PrivateEndpointConnectionResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.datafactory#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.datafactory#RemotePrivateEndpointConnection",
          "traits": {
            "smithy.api#documentation": "Core resource properties"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.\")"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Private Endpoint Connection ARM resource."
      }
    },
    "com.azure.datafactory#PrivateEndPointConnectionsListByFactoryRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "factoryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The factory name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datafactory#PipelinesCreateRun": {
      "type": "operation",
      "input": {
        "target": "com.azure.datafactory#PipelinesCreateRunRequest"
      },
      "output": {
        "target": "com.azure.datafactory#CreateRunResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/pipelines/{pipelineName}/createRun",
          "code": 200,
          "apiVersion": "2018-06-01"
        },
        "smithy.api#documentation": "Creates a run of a pipeline.",
        "com.distilled.openapi#apiVersion": "2018-06-01"
      }
    },
    "com.azure.datafactory#CreateRunResponse": {
      "type": "structure",
      "members": {
        "runId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a run.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response body with a run identifier."
      }
    },
    "com.azure.datafactory#PipelinesCreateRunRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "factoryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The factory name."
          }
        },
        "pipelineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
[...]
