{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.datalake_store#AccountsCheckNameAvailability": {
      "type": "operation",
      "input": {
        "target": "com.azure.datalake_store#AccountsCheckNameAvailabilityRequest"
      },
      "output": {
        "target": "com.azure.datalake_store#NameAvailabilityInformation"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.DataLakeStore/locations/{location}/checkNameAvailability",
          "code": 200,
          "apiVersion": "2016-11-01"
        },
        "smithy.api#documentation": "Checks whether the specified account name is available or taken.",
        "com.distilled.openapi#apiVersion": "2016-11-01"
      }
    },
    "com.azure.datalake_store#NameAvailabilityInformation": {
      "type": "structure",
      "members": {
        "nameAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The Boolean value of true or false to indicate whether the Data Lake Store account name is available or not."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason why the Data Lake Store account name is not available, if nameAvailable is false."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The message describing why the Data Lake Store account name is not available, if nameAvailable is false."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data Lake Store account name availability result information."
      }
    },
    "com.azure.datalake_store#AccountsCheckNameAvailabilityRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource location without whitespace."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Data Lake Store name to check availability for.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.azure.datalake_store#AccountsCheckNameAvailabilityRequestType",
          "traits": {
            "smithy.api#documentation": "The resource type. Note: This should not be set by the user, as the constant value is Microsoft.DataLakeStore/accounts",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datalake_store#AccountsCheckNameAvailabilityRequestType": {
      "type": "enum",
      "members": {
        "MICROSOFT_DATALAKESTORE_ACCOUNTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Microsoft.DataLakeStore/accounts"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource type. Note: This should not be set by the user, as the constant value is Microsoft.DataLakeStore/accounts"
      }
    },
    "com.azure.datalake_store#LocationsGetUsage": {
      "type": "operation",
      "input": {
        "target": "com.azure.datalake_store#LocationsGetUsageRequest"
      },
      "output": {
        "target": "com.azure.datalake_store#UsageListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.DataLakeStore/locations/{location}/usages",
          "code": 200,
          "apiVersion": "2016-11-01"
        },
        "smithy.api#documentation": "Gets the current usage count and the limit for the resources of the location under the subscription.",
        "com.distilled.openapi#apiVersion": "2016-11-01"
      }
    },
    "com.azure.datalake_store#UsageListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.datalake_store#UsageListResultValueList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the list of Storage Resource Usages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from the List Usages operation."
      }
    },
    "com.azure.datalake_store#UsageListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.datalake_store#Usage"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the list of Storage Resource Usages."
      }
    },
    "com.azure.datalake_store#Usage": {
      "type": "structure",
      "members": {
        "unit": {
          "target": "com.azure.datalake_store#UsageUnit",
          "traits": {
            "smithy.api#documentation": "Gets the unit of measurement."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource identifier."
          }
        },
        "currentValue": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets the current count of the allocated resources in the subscription."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets the maximum count of the resources that can be allocated in the subscription."
          }
        },
        "name": {
          "target": "com.azure.datalake_store#UsageName",
          "traits": {
            "smithy.api#documentation": "Gets the name of the type of usage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the Resource Usage."
      }
    },
    "com.azure.datalake_store#UsageName": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets a string describing the resource name."
          }
        },
        "localizedValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets a localized string describing the resource name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The usage names that can be used."
      }
    },
    "com.azure.datalake_store#UsageUnit": {
      "type": "enum",
      "members": {
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Count"
          }
        },
        "BYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Bytes"
          }
        },
        "SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Seconds"
          }
        },
        "PERCENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Percent"
          }
        },
        "COUNTSPERSECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CountsPerSecond"
          }
        },
        "BYTESPERSECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BytesPerSecond"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Gets the unit of measurement."
      }
    },
    "com.azure.datalake_store#LocationsGetUsageRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource location without whitespace."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datalake_store#LocationsGetCapability": {
      "type": "operation",
      "input": {
        "target": "com.azure.datalake_store#LocationsGetCapabilityRequest"
      },
      "output": {
        "target": "com.azure.datalake_store#CapabilityInformation"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.DataLakeStore/locations/{location}/capability",
          "code": 200,
          "apiVersion": "2016-11-01"
        },
        "smithy.api#documentation": "Gets subscription-level properties and limits for Data Lake Store specified by resource location.",
        "com.distilled.openapi#apiVersion": "2016-11-01"
      }
    },
    "com.azure.datalake_store#CapabilityInformation": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subscription credentials that uniquely identifies the subscription."
          }
        },
        "state": {
          "target": "com.azure.datalake_store#CapabilityInformationState",
          "traits": {
            "smithy.api#documentation": "The subscription state."
          }
        },
        "maxAccountCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum supported number of accounts under this subscription."
          }
        },
        "accountCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The current number of accounts under this subscription."
          }
        },
        "migrationState": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The Boolean value of true or false to indicate the maintenance state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Subscription-level properties and limits for Data Lake Store."
      }
    },
    "com.azure.datalake_store#CapabilityInformationState": {
      "type": "enum",
      "members": {
        "REGISTERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Registered"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Suspended"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleted"
          }
        },
        "UNREGISTERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unregistered"
          }
        },
        "WARNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Warned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The subscription state."
      }
    },
    "com.azure.datalake_store#LocationsGetCapabilityRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource location without whitespace."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datalake_store#OperationsList": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.azure.datalake_store#OperationListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.DataLakeStore/operations",
          "code": 200,
          "apiVersion": "2016-11-01"
        },
        "smithy.api#documentation": "Lists all of the available Data Lake Store REST API operations.",
        "com.distilled.openapi#apiVersion": "2016-11-01"
      }
    },
    "com.azure.datalake_store#OperationListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.datalake_store#OperationListResultValueList",
          "traits": {
            "smithy.api#documentation": "The results of the list operation."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link (url) to the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of available operations for Data Lake Store."
      }
    },
    "com.azure.datalake_store#OperationListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.datalake_store#Operation"
      },
      "traits": {
        "smithy.api#documentation": "The results of the list operation."
      }
    },
    "com.azure.datalake_store#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation."
          }
        },
        "display": {
          "target": "com.azure.datalake_store#OperationDisplay",
          "traits": {
            "smithy.api#documentation": "The display information for the operation."
          }
        },
        "origin": {
          "target": "com.azure.datalake_store#OperationOrigin",
          "traits": {
            "smithy.api#documentation": "The intended executor of the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An available operation for Data Lake Store."
      }
    },
    "com.azure.datalake_store#OperationOrigin": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        },
        "USER_SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user,system"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The intended executor of the operation."
      }
    },
    "com.azure.datalake_store#OperationDisplay": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource provider of the operation."
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type of the operation."
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A friendly name of the operation."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A friendly description of the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The display information for a particular operation."
      }
    },
    "com.azure.datalake_store#TrustedIdProvidersDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.datalake_store#TrustedIdProvidersDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/trustedIdProviders/{trustedIdProviderName}",
          "code": 200,
          "apiVersion": "2016-11-01"
        },
        "smithy.api#documentation": "Deletes the specified trusted identity provider from the specified Data Lake Store account",
        "com.distilled.openapi#apiVersion": "2016-11-01"
      }
    },
    "com.azure.datalake_store#TrustedIdProvidersDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure resource group."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Data Lake Store account."
          }
        },
        "trustedIdProviderName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the trusted identity provider to delete."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datalake_store#TrustedIdProvidersUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.datalake_store#TrustedIdProvidersUpdateRequest"
      },
      "output": {
        "target": "com.azure.datalake_store#TrustedIdProvidersUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/trustedIdProviders/{trustedIdProviderName}",
          "code": 200,
          "apiVersion": "2016-11-01"
        },
        "smithy.api#documentation": "Updates the specified trusted identity provider.",
        "com.distilled.openapi#apiVersion": "2016-11-01"
      }
    },
    "com.azure.datalake_store#TrustedIdProvidersUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type."
          }
        },
        "properties": {
          "target": "com.azure.datalake_store#TrustedIdProviderProperties",
          "traits": {
            "smithy.api#documentation": "The trusted identity provider properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datalake_store#TrustedIdProviderProperties": {
      "type": "structure",
      "members": {
        "idProvider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of this trusted identity provider."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The trusted identity provider properties."
      }
    },
    "com.azure.datalake_store#TrustedIdProvidersUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure resource group."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Data Lake Store account."
          }
        },
        "trustedIdProviderName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the trusted identity provider. This is used for differentiation of providers in the account."
          }
        },
        "properties": {
          "target": "com.azure.datalake_store#UpdateTrustedIdProviderProperties",
          "traits": {
            "smithy.api#documentation": "The trusted identity provider properties to use when updating a trusted identity provider."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datalake_store#UpdateTrustedIdProviderProperties": {
      "type": "structure",
      "members": {
        "idProvider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of this trusted identity provider."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The trusted identity provider properties to use when updating a trusted identity provider."
      }
    },
    "com.azure.datalake_store#TrustedIdProvidersCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.datalake_store#TrustedIdProvidersCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.datalake_store#TrustedIdProvidersCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/trustedIdProviders/{trustedIdProviderName}",
          "code": 200,
          "apiVersion": "2016-11-01"
        },
        "smithy.api#documentation": "Creates or updates the specified trusted identity provider. During update, the trusted identity provider with the specified name will be replaced with this new provider",
        "com.distilled.openapi#apiVersion": "2016-11-01"
      }
    },
    "com.azure.datalake_store#TrustedIdProvidersCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type."
          }
        },
        "properties": {
          "target": "com.azure.datalake_store#TrustedIdProviderProperties",
          "traits": {
            "smithy.api#documentation": "The trusted identity provider properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datalake_store#TrustedIdProvidersCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure resource group."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Data Lake Store account."
          }
        },
        "trustedIdProviderName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the trusted identity provider. This is used for differentiation of providers in the account."
          }
        },
        "properties": {
          "target": "com.azure.datalake_store#CreateOrUpdateTrustedIdProviderProperties",
          "traits": {
            "smithy.api#documentation": "The trusted identity provider properties to use when creating a new trusted identity provider.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datalake_store#CreateOrUpdateTrustedIdProviderProperties": {
      "type": "structure",
      "members": {
        "idProvider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of this trusted identity provider.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The trusted identity provider properties to use when creating a new trusted identity provider."
      }
    },
    "com.azure.datalake_store#TrustedIdProvidersGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.datalake_store#TrustedIdProvidersGetRequest"
      },
      "output": {
        "target": "com.azure.datalake_store#TrustedIdProvidersGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/trustedIdProviders/{trustedIdProviderName}",
          "code": 200,
          "apiVersion": "2016-11-01"
        },
        "smithy.api#documentation": "Gets the specified Data Lake Store trusted identity provider.",
        "com.distilled.openapi#apiVersion": "2016-11-01"
      }
    },
    "com.azure.datalake_store#TrustedIdProvidersGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type."
          }
        },
        "properties": {
          "target": "com.azure.datalake_store#TrustedIdProviderProperties",
          "traits": {
            "smithy.api#documentation": "The trusted identity provider properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datalake_store#TrustedIdProvidersGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure resource group."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Data Lake Store account."
          }
        },
        "trustedIdProviderName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the trusted identity provider to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datalake_store#TrustedIdProvidersListByAccount": {
      "type": "operation",
      "input": {
        "target": "com.azure.datalake_store#TrustedIdProvidersListByAccountRequest"
      },
      "output": {
        "target": "com.azure.datalake_store#TrustedIdProviderListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/trustedIdProviders",
          "code": 200,
          "apiVersion": "2016-11-01"
        },
        "smithy.api#documentation": "Lists the Data Lake Store trusted identity providers within the specified Data Lake Store account.",
        "com.distilled.openapi#apiVersion": "2016-11-01"
      }
    },
    "com.azure.datalake_store#TrustedIdProviderListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.datalake_store#TrustedIdProviderListResultValueList",
          "traits": {
            "smithy.api#documentation": "The results of the list operation."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link (url) to the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data Lake Store trusted identity provider list information."
      }
    },
    "com.azure.datalake_store#TrustedIdProviderListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.datalake_store#TrustedIdProvider"
      },
      "traits": {
        "smithy.api#documentation": "The results of the list operation."
      }
    },
    "com.azure.datalake_store#TrustedIdProvider": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type."
          }
        },
        "properties": {
          "target": "com.azure.datalake_store#TrustedIdProviderProperties",
          "traits": {
            "smithy.api#documentation": "The trusted identity provider properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data Lake Store trusted identity provider information."
      }
    },
    "com.azure.datalake_store#TrustedIdProvidersListByAccountRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure resource group."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Data Lake Store account."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datalake_store#VirtualNetworkRulesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.datalake_store#VirtualNetworkRulesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/virtualNetworkRules/{virtualNetworkRuleName}",
          "code": 200,
          "apiVersion": "2016-11-01"
        },
        "smithy.api#documentation": "Deletes the specified virtual network rule from the specified Data Lake Store account.",
        "com.distilled.openapi#apiVersion": "2016-11-01"
      }
    },
    "com.azure.datalake_store#VirtualNetworkRulesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure resource group."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Data Lake Store account."
          }
        },
        "virtualNetworkRuleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual network rule to delete."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datalake_store#VirtualNetworkRulesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.datalake_store#VirtualNetworkRulesUpdateRequest"
      },
      "output": {
        "target": "com.azure.datalake_store#VirtualNetworkRulesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/virtualNetworkRules/{virtualNetworkRuleName}",
          "code": 200,
          "apiVersion": "2016-11-01"
        },
        "smithy.api#documentation": "Updates the specified virtual network rule.",
        "com.distilled.openapi#apiVersion": "2016-11-01"
      }
    },
    "com.azure.datalake_store#VirtualNetworkRulesUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type."
          }
        },
        "properties": {
          "target": "com.azure.datalake_store#VirtualNetworkRuleProperties",
          "traits": {
            "smithy.api#documentation": "The virtual network rule properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datalake_store#VirtualNetworkRuleProperties": {
      "type": "structure",
      "members": {
        "subnetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource identifier for the subnet."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The virtual network rule properties."
      }
    },
    "com.azure.datalake_store#VirtualNetworkRulesUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure resource group."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Data Lake Store account."
          }
        },
        "virtualNetworkRuleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual network rule to update."
          }
        },
        "properties": {
          "target": "com.azure.datalake_store#UpdateVirtualNetworkRuleProperties",
          "traits": {
            "smithy.api#documentation": "The virtual network rule properties to use when updating a virtual network rule."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datalake_store#UpdateVirtualNetworkRuleProperties": {
      "type": "structure",
      "members": {
        "subnetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource identifier for the subnet."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The virtual network rule properties to use when updating a virtual network rule."
      }
    },
    "com.azure.datalake_store#VirtualNetworkRulesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.datalake_store#VirtualNetworkRulesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.datalake_store#VirtualNetworkRulesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/virtualNetworkRules/{virtualNetworkRuleName}",
          "code": 200,
          "apiVersion": "2016-11-01"
        },
        "smithy.api#documentation": "Creates or updates the specified virtual network rule. During update, the virtual network rule with the specified name will be replaced with this new virtual network rule.",
        "com.distilled.openapi#apiVersion": "2016-11-01"
      }
    },
    "com.azure.datalake_store#VirtualNetworkRulesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type."
          }
        },
        "properties": {
          "target": "com.azure.datalake_store#VirtualNetworkRuleProperties",
          "traits": {
            "smithy.api#documentation": "The virtual network rule properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datalake_store#VirtualNetworkRulesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure resource group."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Data Lake Store account."
          }
        },
        "virtualNetworkRuleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual network rule to create or update."
          }
        },
        "properties": {
          "target": "com.azure.datalake_store#CreateOrUpdateVirtualNetworkRuleProperties",
          "traits": {
            "smithy.api#documentation": "The virtual network rule properties to use when creating a new virtual network rule.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datalake_store#CreateOrUpdateVirtualNetworkRuleProperties": {
      "type": "structure",
      "members": {
        "subnetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource identifier for the subnet.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The virtual network rule properties to use when creating a new virtual network rule."
      }
    },
    "com.azure.datalake_store#VirtualNetworkRulesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.datalake_store#VirtualNetworkRulesGetRequest"
      },
      "output": {
        "target": "com.azure.datalake_store#VirtualNetworkRulesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/virtualNetworkRules/{virtualNetworkRuleName}",
          "code": 200,
          "apiVersion": "2016-11-01"
        },
        "smithy.api#documentation": "Gets the specified Data Lake Store virtual network rule.",
        "com.distilled.openapi#apiVersion": "2016-11-01"
      }
    },
    "com.azure.datalake_store#VirtualNetworkRulesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type."
          }
        },
        "properties": {
          "target": "com.azure.datalake_store#VirtualNetworkRuleProperties",
          "traits": {
            "smithy.api#documentation": "The virtual network rule properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datalake_store#VirtualNetworkRulesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure resource group."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Data Lake Store account."
          }
        },
        "virtualNetworkRuleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual network rule to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datalake_store#VirtualNetworkRulesListByAccount": {
      "type": "operation",
      "input": {
        "target": "com.azure.datalake_store#VirtualNetworkRulesListByAccountRequest"
      },
      "output": {
        "target": "com.azure.datalake_store#VirtualNetworkRuleListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/virtualNetworkRules",
          "code": 200,
          "apiVersion": "2016-11-01"
        },
        "smithy.api#documentation": "Lists the Data Lake Store virtual network rules within the specified Data Lake Store account.",
        "com.distilled.openapi#apiVersion": "2016-11-01"
      }
    },
    "com.azure.datalake_store#VirtualNetworkRuleListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.datalake_store#VirtualNetworkRuleListResultValueList",
          "traits": {
            "smithy.api#documentation": "The results of the list operation."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link (url) to the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data Lake Store virtual network rule list information."
      }
    },
    "com.azure.datalake_store#VirtualNetworkRuleListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.datalake_store#VirtualNetworkRule"
      },
      "traits": {
        "smithy.api#documentation": "The results of the list operation."
      }
    },
    "com.azure.datalake_store#VirtualNetworkRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type."
          }
        },
        "properties": {
          "target": "com.azure.datalake_store#VirtualNetworkRuleProperties",
          "traits": {
            "smithy.api#documentation": "The virtual network rule properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data Lake Store virtual network rule information."
      }
    },
    "com.azure.datalake_store#VirtualNetworkRulesListByAccountRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure resource group."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Data Lake Store account."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datalake_store#FirewallRulesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.datalake_store#FirewallRulesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/firewallRules/{firewallRuleName}",
          "code": 200,
          "apiVersion": "2016-11-01"
        },
        "smithy.api#documentation": "Deletes the specified firewall rule from the specified Data Lake Store account.",
        "com.distilled.openapi#apiVersion": "2016-11-01"
      }
    },
    "com.azure.datalake_store#FirewallRulesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure resource group."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Data Lake Store account."
          }
        },
        "firewallRuleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the firewall rule to delete."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datalake_store#FirewallRulesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.datalake_store#FirewallRulesUpdateRequest"
      },
      "output": {
        "target": "com.azure.datalake_store#FirewallRulesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/firewallRules/{firewallRuleName}",
          "code": 200,
          "apiVersion": "2016-11-01"
        },
        "smithy.api#documentation": "Updates the specified firewall rule.",
        "com.distilled.openapi#apiVersion": "2016-11-01"
      }
    },
    "com.azure.datalake_store#FirewallRulesUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type."
          }
        },
        "properties": {
          "target": "com.azure.datalake_store#FirewallRuleProperties",
          "traits": {
            "smithy.api#documentation": "The firewall rule properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datalake_store#FirewallRuleProperties": {
      "type": "structure",
      "members": {
        "startIpAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol."
          }
        },
        "endIpAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The firewall rule properties."
      }
    },
    "com.azure.datalake_store#FirewallRulesUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure resource group."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Data Lake Store account."
          }
        },
        "firewallRuleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the firewall rule to update."
          }
        },
        "properties": {
          "target": "com.azure.datalake_store#UpdateFirewallRuleProperties",
          "traits": {
            "smithy.api#documentation": "The firewall rule properties to use when updating a firewall rule."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datalake_store#UpdateFirewallRuleProperties": {
      "type": "structure",
      "members": {
        "startIpAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol."
          }
        },
        "endIpAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The firewall rule properties to use when updating a firewall rule."
      }
    },
    "com.azure.datalake_store#FirewallRulesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.datalake_store#FirewallRulesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.datalake_store#FirewallRulesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/firewallRules/{firewallRuleName}",
          "code": 200,
          "apiVersion": "2016-11-01"
        },
        "smithy.api#documentation": "Creates or updates the specified firewall rule. During update, the firewall rule with the specified name will be replaced with this new firewall rule.",
        "com.distilled.openapi#apiVersion": "2016-11-01"
      }
    },
    "com.azure.datalake_store#FirewallRulesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type."
          }
        },
        "properties": {
          "target": "com.azure.datalake_store#FirewallRuleProperties",
          "traits": {
            "smithy.api#documentation": "The firewall rule properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datalake_store#FirewallRulesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure resource group."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Data Lake Store account."
          }
        },
        "firewallRuleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the firewall rule to create or update."
          }
        },
        "properties": {
          "target": "com.azure.datalake_store#CreateOrUpdateFirewallRuleProperties",
          "traits": {
            "smithy.api#documentation": "The firewall rule properties to use when creating a new firewall rule.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datalake_store#CreateOrUpdateFirewallRuleProperties": {
      "type": "structure",
      "members": {
        "startIpAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol.",
            "smithy.api#required": {}
          }
        },
        "endIpAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The firewall rule properties to use when creating a new firewall rule."
      }
    },
    "com.azure.datalake_store#FirewallRulesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.datalake_store#FirewallRulesGetRequest"
      },
      "output": {
        "target": "com.azure.datalake_store#FirewallRulesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/firewallRules/{firewallRuleName}",
          "code": 200,
          "apiVersion": "2016-11-01"
        },
        "smithy.api#documentation": "Gets the specified Data Lake Store firewall rule.",
        "com.distilled.openapi#apiVersion": "2016-11-01"
      }
    },
    "com.azure.datalake_store#FirewallRulesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type."
          }
        },
        "properties": {
          "target": "com.azure.datalake_store#FirewallRuleProperties",
          "traits": {
            "smithy.api#documentation": "The firewall rule properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datalake_store#FirewallRulesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure resource group."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Data Lake Store account."
          }
        },
        "firewallRuleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the firewall rule to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datalake_store#FirewallRulesListByAccount": {
      "type": "operation",
      "input": {
        "target": "com.azure.datalake_store#FirewallRulesListByAccountRequest"
      },
      "output": {
        "target": "com.azure.datalake_store#FirewallRuleListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/firewallRules",
          "code": 200,
          "apiVersion": "2016-11-01"
        },
        "smithy.api#documentation": "Lists the Data Lake Store firewall rules within the specified Data Lake Store account.",
        "com.distilled.openapi#apiVersion": "2016-11-01"
      }
    },
    "com.azure.datalake_store#FirewallRuleListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.datalake_store#FirewallRuleListResultValueList",
          "traits": {
            "smithy.api#documentation": "The results of the list operation."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link (url) to the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data Lake Store firewall rule list information."
      }
    },
    "com.azure.datalake_store#FirewallRuleListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.datalake_store#FirewallRule"
      },
      "traits": {
        "smithy.api#documentation": "The results of the list operation."
      }
    },
    "com.azure.datalake_store#FirewallRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type."
          }
        },
        "properties": {
          "target": "com.azure.datalake_store#FirewallRuleProperties",
          "traits": {
            "smithy.api#documentation": "The firewall rule properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data Lake Store firewall rule information."
      }
    },
    "com.azure.datalake_store#FirewallRulesListByAccountRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure resource group."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Data Lake Store account."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datalake_store#AccountsEnableKeyVault": {
      "type": "operation",
      "input": {
        "target": "com.azure.datalake_store#AccountsEnableKeyVaultRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/enableKeyVault",
          "code": 200,
          "apiVersion": "2016-11-01"
        },
        "smithy.api#documentation": "Attempts to enable a user managed Key Vault for encryption of the specified Data Lake Store account.",
        "com.distilled.openapi#apiVersion": "2016-11-01"
      }
    },
    "com.azure.datalake_store#AccountsEnableKeyVaultRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure resource group."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Data Lake Store account."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datalake_store#AccountsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.datalake_store#AccountsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}",
          "code": 200,
          "apiVersion": "2016-11-01"
        },
        "smithy.api#documentation": "Deletes the specified Data Lake Store account.",
        "com.distilled.openapi#apiVersion": "2016-11-01"
      }
    },
    "com.azure.datalake_store#AccountsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure resource group."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Data Lake Store account."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datalake_store#AccountsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.datalake_store#AccountsUpdateRequest"
      },
      "output": {
        "target": "com.azure.datalake_store#AccountsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}",
          "code": 200,
          "apiVersion": "2016-11-01"
        },
        "smithy.api#documentation": "Updates the specified Data Lake Store account information.",
        "com.distilled.openapi#apiVersion": "2016-11-01"
      }
    },
    "com.azure.datalake_store#AccountsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource location."
          }
        },
        "tags": {
          "target": "com.azure.datalake_store#AccountsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "The resource tags."
          }
        },
        "identity": {
          "target": "com.azure.datalake_store#EncryptionIdentity",
          "traits": {
            "smithy.api#documentation": "The Key Vault encryption identity, if any."
          }
        },
        "properties": {
          "target": "com.azure.datalake_store#DataLakeStoreAccountProperties",
          "traits": {
            "smithy.api#documentation": "The Data Lake Store account properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.datalake_store#DataLakeStoreAccountProperties": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier associated with this Data Lake Store account."
          }
        },
        "provisioningState": {
          "target": "com.azure.datalake_store#DataLakeStoreAccountPropertiesProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning status of the Data Lake Store account."
          }
        },
        "state": {
          "target": "com.azure.datalake_store#DataLakeStoreAccountPropertiesState",
          "traits": {
            "smithy.api#documentation": "The state of the Data Lake Store account."
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account creation time."
          }
        },
        "lastModifiedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account last modified time."
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full CName endpoint for this account."
          }
        },
        "defaultGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default owner group for all new folders and files created in the Data Lake Store account."
          }
        },
        "encryptionConfig": {
          "target": "com.azure.datalake_store#EncryptionConfig",
          "traits": {
            "smithy.api#documentation": "The Key Vault encryption configuration."
          }
        },
        "encryptionState": {
          "target": "com.azure.datalake_store#DataLakeStoreAccountPropertiesEncryptionState",
          "traits": {
            "smithy.api#documentation": "The current state of encryption for this Data Lake Store account."
          }
        },
        "encryptionProvisioningState": {
          "target": "com.azure.datalake_store#DataLakeStoreAccountPropertiesEncryptionProvisioningState",
          "traits": {
            "smithy.api#documentation": "The current state of encryption provisioning for this Data Lake Store account."
          }
        },
        "firewallRules": {
          "target": "com.azure.datalake_store#DataLakeStoreAccountPropertiesFirewallRulesList",
          "traits": {
            "smithy.api#documentation": "The list of firewall rules associated with this Data Lake Store account."
          }
        },
        "virtualNetworkRules": {
          "target": "com.azure.datalake_store#DataLakeStoreAccountPropertiesVirtualNetworkRulesList",
          "traits": {
            "smithy.api#documentation": "The list of virtual network rules associated with this Data Lake Store account."
          }
        },
        "firewallState": {
          "target": "com.azure.datalake_store#DataLakeStoreAccountPropertiesFirewallState",
          "traits": {
            "smithy.api#documentation": "The current state of the IP address firewall for this Data Lake Store account."
          }
        },
        "firewallAllowAzureIps": {
          "target": "com.azure.datalake_store#DataLakeStoreAccountPropertiesFirewallAllowAzureIps",
          "traits": {
            "smithy.api#documentation": "The current state of allowing or disallowing IPs originating within Azure through the firewall. If the firewall is disabled, this is not enforced."
          }
        },
        "trustedIdProviders": {
          "target": "com.azure.datalake_store#DataLakeStoreAccountPropertiesTrustedIdProvidersList",
          "traits": {
            "smithy.api#documentation": "The list of trusted identity providers associated with this Data Lake Store account."
          }
        },
        "trustedIdProviderState": {
          "target": "com.azure.datalake_store#DataLakeStoreAccountPropertiesTrustedIdProviderState",
          "traits": {
            "smithy.api#documentation": "The current state of the trusted identity provider feature for this Data Lake Store account."
          }
        },
        "newTier": {
          "target": "com.azure.datalake_store#DataLakeStoreAccountPropertiesNewTier",
          "traits": {
            "smithy.api#documentation": "The commitment tier to use for next month."
          }
        },
        "currentTier": {
          "target": "com.azure.datalake_store#DataLakeStoreAccountPropertiesCurrentTier",
          "traits": {
            "smithy.api#documentation": "The commitment tier in use for the current month."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data Lake Store account properties information."
      }
    },
    "com.azure.datalake_store#DataLakeStoreAccountPropertiesCurrentTier": {
      "type": "enum",
      "members": {
        "CONSUMPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Consumption"
          }
        },
        "COMMITMENT_1TB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Commitment_1TB"
          }
        },
        "COMMITMENT_10TB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Commitment_10TB"
          }
        },
        "COMMITMENT_100TB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Commitment_100TB"
          }
        },
        "COMMITMENT_500TB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Commitment_500TB"
          }
        },
        "COMMITMENT_1PB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Commitment_1PB"
          }
        },
        "COMMITMENT_5PB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Commitment_5PB"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The commitment tier in use for the current month."
      }
    },
    "com.azure.datalake_store#DataLakeStoreAccountPropertiesNewTier": {
      "type": "enum",
      "members": {
        "CONSUMPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Consumption"
          }
        },
        "COMMITMENT_1TB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Commitment_1TB"
          }
        },
        "COMMITMENT_10TB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Commitment_10TB"
          }
        },
        "COMMITMENT_100TB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Commitment_100TB"
          }
        },
        "COMMITMENT_500TB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Commitment_500TB"
          }
        },
        "COMMITMENT_1PB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Commitment_1PB"
          }
        },
        "COMMITMENT_5PB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Commitment_5PB"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The commitment tier to use for next month."
      }
    },
    "com.azure.datalake_store#DataLakeStoreAccountPropertiesTrustedIdProviderState": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current state of the trusted identity provider feature for this Data Lake Store account."
      }
    },
    "com.azure.datalake_store#DataLakeStoreAccountPropertiesTrustedIdProvidersList": {
      "type": "list",
      "member": {
        "target": "com.azure.datalake_store#TrustedIdProvider"
      },
      "traits": {
        "smithy.api#documentation": "The list of trusted identity providers associated with this Data Lake Store account."
      }
    },
    "com.azure.datalake_store#DataLakeStoreAccountPropertiesFirewallAllowAzureIps": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current state of allowing or disallowing IPs originating within Azure through the firewall. If the firewall is disabled, this is not enforced."
      }
    },
    "com.azure.datalake_store#DataLakeStoreAccountPropertiesFirewallState": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current state of the IP address firewall for this Data Lake Store account."
      }
    },
    "com.azure.datalake_store#DataLakeStoreAccountPropertiesVirtualNetworkRulesList": {
      "type": "list",
      "member": {
        "target": "com.azure.datalake_store#VirtualNetworkRule"
      },
      "traits": {
        "smithy.api#documentation": "The list of virtual network rules associated with this Data Lake Store account."
      }
    },
    "com.azure.datalake_store#DataLakeStoreAccountPropertiesFirewallRulesList": {
      "type": "list",
      "member": {
        "target": "com.azure.datalake_store#FirewallRule"
      },
      "traits": {
        "smithy.api#documentation": "The list of firewall rules associated with this Data Lake Store account."
      }
    },
    "com.azure.datalake_store#DataLakeStoreAccountPropertiesEncryptionProvisioningState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current state of encryption provisioning for this Data Lake Store account."
      }
    },
    "com.azure.datalake_store#DataLakeStoreAccountPropertiesEncryptionState": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current state of encryption for this Data Lake Store account."
      }
    },
    "com.azure.datalake_store#EncryptionConfig": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.datalake_store#EncryptionConfigType",
          "traits": {
            "smithy.api#documentation": "The type of encryption configuration being used. Currently the only supported types are 'UserManaged' and 'ServiceManaged'.",
            "smithy.api#required": {}
          }
        },
        "keyVaultMetaInfo": {
          "target": "com.azure.datalake_store#KeyVaultMetaInfo",
          "traits": {
            "smithy.api#documentation": "The Key Vault information for connecting to user managed encryption keys."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The encryption configuration for the account."
      }
    },
    "com.azure.datalake_store#KeyVaultMetaInfo": {
      "type": "structure",
      "members": {
        "keyVaultResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource identifier for the user managed Key Vault being used to encrypt.",
            "smithy.api#required": {}
          }
        },
        "encryptionKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the user managed encryption key.",
            "smithy.api#required": {}
          }
        },
        "encryptionKeyVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the user managed encryption key.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata information used by account encryption."
      }
    },
    "com.azure.datalake_store#EncryptionConfigType": {
      "type": "enum",
      "members": {
        "USERMANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserManaged"
          }
        },
        "SERVICEMANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ServiceManaged"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of encryption configuration being used. Currently the only supported types are 'UserManaged' and 'ServiceManaged'."
      }
    },
    "com.azure.datalake_store#DataLakeStoreAccountPropertiesState": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Suspended"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of the Data Lake Store account."
      }
    },
    "com.azure.datalake_store#DataLakeStoreAccountPropertiesProvisioningState": {
      "type": "enum",
      "members": {
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "PATCHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Patching"
          }
        },
        "SUSPENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Suspending"
          }
        },
        "RESUMING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Resuming"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleted"
          }
        },
        "UNDELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Undeleting"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioning status of the Data Lake Store account."
      }
    },
    "com.azure.datalake_store#EncryptionIdentity": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.datalake_store#EncryptionIdentityType",
          "traits": {
            "smithy.api#documentation": "The type of encryption being used. Currently the only supported type is 'SystemAssigned'.",
            "smithy.api#required": {}
          }
        },
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal identifier associated with the encryption."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant identifier associated with the encryption."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The encryption identity properties."
      }
    },
    "com.azure.datalake_store#EncryptionIdentityType": {
      "type": "enum",
      "members": {
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of encryption being used. Currently the only supported type is 'SystemAssigned'."
      }
    },
    "com.azure.datalake_store#AccountsUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The resource tags."
      }
    },
    "com.azure.datalake_store#AccountsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure resource group."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Data Lake Store account."
          }
        },
        "tags": {
          "target": "com.azure.datalake_store#AccountsUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags"
          }
        },
        "properties": {
          "target": "com.azure.datalake_store#UpdateDataLakeStoreAccountProperties",
          "traits": {
            "smithy.api#documentation": "The Data Lake Store account properties to update."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.datalake_store#UpdateDataLakeStoreAccountProperties": {
      "type": "structure",
      "members": {
        "defaultGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default owner group for all new folders and files created in the Data Lake Store account."
          }
        },
        "encryptionConfig": {
          "target": "com.azure.datalake_store#UpdateEncryptionConfig",
          "traits": {
            "smithy.api#documentation": "Used for rotation of user managed Key Vault keys. Can only be used to rotate a user managed encryption Key Vault key."
          }
        },
        "firewallRules": {
          "target": "com.azure.datalake_store#UpdateDataLakeStoreAccountPropertiesFirewallRulesList",
          "traits": {
            "smithy.api#documentation": "The list of firewall rules associated with this Data Lake Store account."
          }
        },
        "virtualNetworkRules": {
          "target": "com.azure.datalake_store#UpdateDataLakeStoreAccountPropertiesVirtualNetworkRulesList",
          "traits": {
            "smithy.api#documentation": "The list of virtual network rules associated with this Data Lake Store account."
          }
        },
        "firewallState": {
          "target": "com.azure.datalake_store#UpdateDataLakeStoreAccountPropertiesFirewallState",
          "traits": {
            "smithy.api#documentation": "The current state of the IP address firewall for this Data Lake Store account. Disabling the firewall does not remove existing rules, they will just be ignored until the firewall is re-enabled."
          }
        },
        "firewallAllowAzureIps": {
          "target": "com.azure.datalake_store#UpdateDataLakeStoreAccountPropertiesFirewallAllowAzureIps",
          "traits": {
            "smithy.api#documentation": "The current state of allowing or disallowing IPs originating within Azure through the firewall. If the firewall is disabled, this is not enforced."
          }
        },
        "trustedIdProviders": {
          "target": "com.azure.datalake_store#UpdateDataLakeStoreAccountPropertiesTrustedIdProvidersList",
          "traits": {
            "smithy.api#documentation": "The list of trusted identity providers associated with this Data Lake Store account."
          }
        },
        "trustedIdProviderState": {
          "target": "com.azure.datalake_store#UpdateDataLakeStoreAccountPropertiesTrustedIdProviderState",
          "traits": {
            "smithy.api#documentation": "The current state of the trusted identity provider feature for this Data Lake Store account. Disabling trusted identity provider functionality does not remove the providers, they will just be ignored until this feature is re-enabled."
          }
        },
        "newTier": {
          "target": "com.azure.datalake_store#UpdateDataLakeStoreAccountPropertiesNewTier",
          "traits": {
            "smithy.api#documentation": "The commitment tier to use for next month."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data Lake Store account properties information to be updated."
      }
    },
    "com.azure.datalake_store#UpdateDataLakeStoreAccountPropertiesNewTier": {
      "type": "enum",
      "members": {
        "CONSUMPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Consumption"
          }
        },
        "COMMITMENT_1TB": {
          "target": "smithy.api#Unit",
[...]
