{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.databox#ServiceValidateInputsByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.databox#ServiceValidateInputsByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.databox#ValidationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/locations/{location}/validateInputs",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "This method does all necessary pre-job creation validation under resource group.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.databox#ValidationResponse": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.azure.databox#ValidationResponseProperties",
          "traits": {
            "smithy.api#documentation": "Properties of pre job creation validation response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of pre job creation validations."
      }
    },
    "com.azure.databox#ValidationResponseProperties": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.databox#OverallValidationStatus",
          "traits": {
            "smithy.api#documentation": "Overall validation status."
          }
        },
        "individualResponseDetails": {
          "target": "com.azure.databox#ValidationResponsePropertiesIndividualResponseDetailsList",
          "traits": {
            "smithy.api#documentation": "List of response details contain validationType and its response as key and value respectively."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of pre job creation validation response."
      }
    },
    "com.azure.databox#ValidationResponsePropertiesIndividualResponseDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.databox#ValidationInputResponse"
      },
      "traits": {
        "smithy.api#documentation": "List of response details contain validationType and its response as key and value respectively."
      }
    },
    "com.azure.databox#ValidationInputResponse": {
      "type": "structure",
      "members": {
        "validationType": {
          "target": "com.azure.databox#ValidationInputDiscriminator",
          "traits": {
            "smithy.api#documentation": "Identifies the type of validation response.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.azure.databox#CloudError",
          "traits": {
            "smithy.api#documentation": "Error code and message of validation response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Minimum properties that should be present in each individual validation response."
      }
    },
    "com.azure.databox#CloudError": {
      "type": "structure",
      "members": {
        "additionalInfo": {
          "target": "com.azure.databox#CloudErrorAdditionalInfoList",
          "traits": {
            "smithy.api#documentation": "Gets or sets additional error info."
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error code."
          }
        },
        "details": {
          "target": "com.azure.databox#CloudErrorDetailsList",
          "traits": {
            "smithy.api#documentation": "Gets or sets details for the error."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message parsed from the body of the http error response."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the target of the error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides additional information about an http error response."
      }
    },
    "com.azure.databox#CloudErrorDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.databox#CloudError"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets details for the error."
      }
    },
    "com.azure.databox#CloudErrorAdditionalInfoList": {
      "type": "list",
      "member": {
        "target": "com.azure.databox#AdditionalErrorInfo"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets additional error info."
      }
    },
    "com.azure.databox#AdditionalErrorInfo": {
      "type": "structure",
      "members": {
        "info": {
          "target": "com.azure.databox#AdditionalErrorInfoInfoMap",
          "traits": {
            "smithy.api#documentation": "Additional information of the type of error."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of error (e.g. CustomerIntervention, PolicyViolation, SecurityViolation)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This class represents additional info which Resource Providers pass when an error occurs."
      }
    },
    "com.azure.databox#AdditionalErrorInfoInfoMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Additional information of the type of error."
      }
    },
    "com.azure.databox#ValidationInputDiscriminator": {
      "type": "enum",
      "members": {
        "VALIDATEADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ValidateAddress"
          }
        },
        "VALIDATESUBSCRIPTIONISALLOWEDTOCREATEJOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ValidateSubscriptionIsAllowedToCreateJob"
          }
        },
        "VALIDATEPREFERENCES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ValidatePreferences"
          }
        },
        "VALIDATECREATEORDERLIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ValidateCreateOrderLimit"
          }
        },
        "VALIDATESKUAVAILABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ValidateSkuAvailability"
          }
        },
        "VALIDATEDATATRANSFERDETAILS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ValidateDataTransferDetails"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifies the type of validation request."
      }
    },
    "com.azure.databox#OverallValidationStatus": {
      "type": "enum",
      "members": {
        "ALLVALIDTOPROCEED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AllValidToProceed"
          }
        },
        "INPUTSREVISITREQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InputsRevisitRequired"
          }
        },
        "CERTAININPUTVALIDATIONSSKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CertainInputValidationsSkipped"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Overall validation status."
      }
    },
    "com.azure.databox#ServiceValidateInputsByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of Azure region."
          }
        },
        "validationCategory": {
          "target": "com.azure.databox#ServiceValidateInputsByResourceGroupRequestValidationCategory",
          "traits": {
            "smithy.api#documentation": "Identify the nature of validation.",
            "smithy.api#required": {}
          }
        },
        "individualRequestDetails": {
          "target": "com.azure.databox#ServiceValidateInputsByResourceGroupRequestIndividualRequestDetailsList",
          "traits": {
            "smithy.api#documentation": "List of request details contain validationType and its request as key and value respectively.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.databox#ServiceValidateInputsByResourceGroupRequestIndividualRequestDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.databox#ValidationInputRequest"
      },
      "traits": {
        "smithy.api#documentation": "List of request details contain validationType and its request as key and value respectively."
      }
    },
    "com.azure.databox#ValidationInputRequest": {
      "type": "structure",
      "members": {
        "validationType": {
          "target": "com.azure.databox#ValidationInputDiscriminator",
          "traits": {
            "smithy.api#documentation": "Identifies the type of validation request.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Minimum fields that must be present in any type of validation request."
      }
    },
    "com.azure.databox#ServiceValidateInputsByResourceGroupRequestValidationCategory": {
      "type": "enum",
      "members": {
        "JOBCREATIONVALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JobCreationValidation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identify the nature of validation."
      }
    },
    "com.azure.databox#ServiceRegionConfigurationByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.databox#ServiceRegionConfigurationByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.databox#RegionConfigurationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/locations/{location}/regionConfiguration",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "This API provides configuration details specific to given region/location at Resource group level.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.databox#RegionConfigurationResponse": {
      "type": "structure",
      "members": {
        "scheduleAvailabilityResponse": {
          "target": "com.azure.databox#ScheduleAvailabilityResponse",
          "traits": {
            "smithy.api#documentation": "Schedule availability for given sku in a region."
          }
        },
        "transportAvailabilityResponse": {
          "target": "com.azure.databox#TransportAvailabilityResponse",
          "traits": {
            "smithy.api#documentation": "Transport options available for given sku in a region."
          }
        },
        "datacenterAddressResponse": {
          "target": "com.azure.databox#DatacenterAddressResponse",
          "traits": {
            "smithy.api#documentation": "Datacenter address for given sku in a region."
          }
        },
        "deviceCapabilityResponse": {
          "target": "com.azure.databox#DeviceCapabilityResponse",
          "traits": {
            "smithy.api#documentation": "Device capabilities available for a given sku in a region."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration response specific to a region."
      }
    },
    "com.azure.databox#DeviceCapabilityResponse": {
      "type": "structure",
      "members": {
        "deviceCapabilityDetails": {
          "target": "com.azure.databox#DeviceCapabilityResponseDeviceCapabilityDetailsList",
          "traits": {
            "smithy.api#documentation": "List of device capabilities available for a given region and a given sku"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Device capabilities for given sku in a region"
      }
    },
    "com.azure.databox#DeviceCapabilityResponseDeviceCapabilityDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.databox#DeviceCapabilityDetails"
      },
      "traits": {
        "smithy.api#documentation": "List of device capabilities available for a given region and a given sku"
      }
    },
    "com.azure.databox#DeviceCapabilityDetails": {
      "type": "structure",
      "members": {
        "hardwareEncryption": {
          "target": "com.azure.databox#HardwareEncryption",
          "traits": {
            "smithy.api#documentation": "Hardware encryption support for a given sku for a given region."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Device capability details for a given sku for a given region."
      }
    },
    "com.azure.databox#HardwareEncryption": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Hardware encryption support for a given sku for a given region."
      }
    },
    "com.azure.databox#DatacenterAddressResponse": {
      "type": "structure",
      "members": {
        "datacenterAddressType": {
          "target": "com.azure.databox#DatacenterAddressType",
          "traits": {
            "smithy.api#documentation": "Data center address type",
            "smithy.api#required": {}
          }
        },
        "supportedCarriersForReturnShipment": {
          "target": "com.azure.databox#DatacenterAddressResponseSupportedCarriersForReturnShipmentList",
          "traits": {
            "smithy.api#documentation": "List of supported carriers for return shipment."
          }
        },
        "dataCenterAzureLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure Location where the Data Center serves primarily."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Datacenter address for given storage location."
      }
    },
    "com.azure.databox#DatacenterAddressResponseSupportedCarriersForReturnShipmentList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of supported carriers for return shipment."
      }
    },
    "com.azure.databox#DatacenterAddressType": {
      "type": "enum",
      "members": {
        "DATACENTERADDRESSLOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DatacenterAddressLocation"
          }
        },
        "DATACENTERADDRESSINSTRUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DatacenterAddressInstruction"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data center address type"
      }
    },
    "com.azure.databox#TransportAvailabilityResponse": {
      "type": "structure",
      "members": {
        "transportAvailabilityDetails": {
          "target": "com.azure.databox#TransportAvailabilityResponseTransportAvailabilityDetailsList",
          "traits": {
            "smithy.api#documentation": "List of transport availability details for given region"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Transport options available for given sku in a region."
      }
    },
    "com.azure.databox#TransportAvailabilityResponseTransportAvailabilityDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.databox#TransportAvailabilityDetails"
      },
      "traits": {
        "smithy.api#documentation": "List of transport availability details for given region"
      }
    },
    "com.azure.databox#TransportAvailabilityDetails": {
      "type": "structure",
      "members": {
        "shipmentType": {
          "target": "com.azure.databox#TransportShipmentTypes",
          "traits": {
            "smithy.api#documentation": "Transport Shipment Type supported for given region."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Transport options availability details for given region."
      }
    },
    "com.azure.databox#TransportShipmentTypes": {
      "type": "enum",
      "members": {
        "CUSTOMERMANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CustomerManaged"
          }
        },
        "MICROSOFTMANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MicrosoftManaged"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Transport Shipment Type supported for given region."
      }
    },
    "com.azure.databox#ScheduleAvailabilityResponse": {
      "type": "structure",
      "members": {
        "availableDates": {
          "target": "com.azure.databox#ScheduleAvailabilityResponseAvailableDatesList",
          "traits": {
            "smithy.api#documentation": "List of dates available to schedule"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Schedule availability for given sku in a region."
      }
    },
    "com.azure.databox#ScheduleAvailabilityResponseAvailableDatesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of dates available to schedule"
      }
    },
    "com.azure.databox#ServiceRegionConfigurationByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of Azure region."
          }
        },
        "scheduleAvailabilityRequest": {
          "target": "com.azure.databox#ScheduleAvailabilityRequest",
          "traits": {
            "smithy.api#documentation": "Request body to get the availability for scheduling orders."
          }
        },
        "transportAvailabilityRequest": {
          "target": "com.azure.databox#TransportAvailabilityRequest",
          "traits": {
            "smithy.api#documentation": "Request body to get the transport availability for given sku."
          }
        },
        "datacenterAddressRequest": {
          "target": "com.azure.databox#DatacenterAddressRequest",
          "traits": {
            "smithy.api#documentation": "Request body to get the datacenter address for given sku."
          }
        },
        "deviceCapabilityRequest": {
          "target": "com.azure.databox#DeviceCapabilityRequest",
          "traits": {
            "smithy.api#documentation": "Request body to get the device capabilities for a given sku."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.databox#DeviceCapabilityRequest": {
      "type": "structure",
      "members": {
        "skuName": {
          "target": "com.azure.databox#SkuName",
          "traits": {
            "smithy.api#documentation": "Type of the device."
          }
        },
        "model": {
          "target": "com.azure.databox#ModelName",
          "traits": {
            "smithy.api#documentation": "The customer friendly name of the combination of version and capacity of the device. This field is necessary only at the time of ordering the newer generation device i.e. AzureDataBox120 and AzureDataBox525 as of Feb/2025"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request body to get the device capabilities for given sku."
      }
    },
    "com.azure.databox#ModelName": {
      "type": "enum",
      "members": {
        "DATABOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DataBox"
          }
        },
        "DATABOXDISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DataBoxDisk"
          }
        },
        "DATABOXHEAVY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DataBoxHeavy"
          }
        },
        "DATABOXCUSTOMERDISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DataBoxCustomerDisk"
          }
        },
        "AZUREDATABOX120": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureDataBox120"
          }
        },
        "AZUREDATABOX525": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureDataBox525"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The customer friendly name of the combination of version and capacity of the device. This field is necessary only at the time of ordering the newer generation device i.e. AzureDataBox120 and AzureDataBox525 as of Feb/2025"
      }
    },
    "com.azure.databox#SkuName": {
      "type": "enum",
      "members": {
        "DATABOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DataBox"
          }
        },
        "DATABOXDISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DataBoxDisk"
          }
        },
        "DATABOXHEAVY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DataBoxHeavy"
          }
        },
        "DATABOXCUSTOMERDISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DataBoxCustomerDisk"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SKU names."
      }
    },
    "com.azure.databox#DatacenterAddressRequest": {
      "type": "structure",
      "members": {
        "storageLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Storage location. For locations check: https://management.azure.com/subscriptions/SUBSCRIPTIONID/locations?api-version=2018-01-01",
            "smithy.api#required": {}
          }
        },
        "skuName": {
          "target": "com.azure.databox#SkuName",
          "traits": {
            "smithy.api#documentation": "Sku Name for which the data center address requested.",
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "com.azure.databox#ModelName",
          "traits": {
            "smithy.api#documentation": "The customer friendly name of the combination of version and capacity of the device. This field is necessary only at the time of ordering the newer generation device i.e. AzureDataBox120 and AzureDataBox525 as of Feb/2025"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request body to get the datacenter address."
      }
    },
    "com.azure.databox#TransportAvailabilityRequest": {
      "type": "structure",
      "members": {
        "skuName": {
          "target": "com.azure.databox#SkuName",
          "traits": {
            "smithy.api#documentation": "Type of the device."
          }
        },
        "model": {
          "target": "com.azure.databox#ModelName",
          "traits": {
            "smithy.api#documentation": "The customer friendly name of the combination of version and capacity of the device. This field is necessary only at the time of ordering the newer generation device i.e. AzureDataBox120 and AzureDataBox525 as of Feb/2025"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request body to get the transport availability for given sku."
      }
    },
    "com.azure.databox#ScheduleAvailabilityRequest": {
      "type": "structure",
      "members": {
        "storageLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location for data transfer. For locations check: https://management.azure.com/subscriptions/SUBSCRIPTIONID/locations?api-version=2018-01-01",
            "smithy.api#required": {}
          }
        },
        "skuName": {
          "target": "com.azure.databox#SkuName",
          "traits": {
            "smithy.api#documentation": "Sku Name for which the order is to be scheduled.",
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Country in which storage location should be supported."
          }
        },
        "model": {
          "target": "com.azure.databox#ModelName",
          "traits": {
            "smithy.api#documentation": "The customer friendly name of the combination of version and capacity of the device. This field is necessary only at the time of ordering the newer generation device i.e. AzureDataBox120 and AzureDataBox525 as of Feb/2025"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request body to get the availability for scheduling orders."
      }
    },
    "com.azure.databox#ServiceListAvailableSkusByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.databox#ServiceListAvailableSkusByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.databox#AvailableSkusResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/locations/{location}/availableSkus",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "This method provides the list of available skus for the given subscription, resource group and location.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.databox#AvailableSkusResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.databox#AvailableSkusResultValueList",
          "traits": {
            "smithy.api#documentation": "[Placeholder] Description for page model",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Placeholder] Description for nextLink property"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The available skus operation response."
      }
    },
    "com.azure.databox#AvailableSkusResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.databox#SkuInformation"
      },
      "traits": {
        "smithy.api#documentation": "[Placeholder] Description for page model"
      }
    },
    "com.azure.databox#SkuInformation": {
      "type": "structure",
      "members": {
        "sku": {
          "target": "com.azure.databox#Sku",
          "traits": {
            "smithy.api#documentation": "The Sku."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The sku is enabled or not."
          }
        },
        "properties": {
          "target": "com.azure.databox#SkuProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the sku."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information of the sku."
      }
    },
    "com.azure.databox#SkuProperties": {
      "type": "structure",
      "members": {
        "dataLocationToServiceLocationMap": {
          "target": "com.azure.databox#SkuPropertiesDataLocationToServiceLocationMapList",
          "traits": {
            "smithy.api#documentation": "The map of data location to service location."
          }
        },
        "capacity": {
          "target": "com.azure.databox#SkuCapacity",
          "traits": {
            "smithy.api#documentation": "Capacity of the Sku."
          }
        },
        "costs": {
          "target": "com.azure.databox#SkuPropertiesCostsList",
          "traits": {
            "smithy.api#documentation": "Cost of the Sku."
          }
        },
        "apiVersions": {
          "target": "com.azure.databox#SkuPropertiesApiVersionsList",
          "traits": {
            "smithy.api#documentation": "Api versions that support this Sku."
          }
        },
        "disabledReason": {
          "target": "com.azure.databox#SkuDisabledReason",
          "traits": {
            "smithy.api#documentation": "Reason why the Sku is disabled."
          }
        },
        "disabledReasonMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message for why the Sku is disabled."
          }
        },
        "requiredFeature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required feature to access the sku."
          }
        },
        "countriesWithinCommerceBoundary": {
          "target": "com.azure.databox#SkuPropertiesCountriesWithinCommerceBoundaryList",
          "traits": {
            "smithy.api#documentation": "List of all the Countries in the SKU specific commerce boundary"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the sku."
      }
    },
    "com.azure.databox#SkuPropertiesCountriesWithinCommerceBoundaryList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of all the Countries in the SKU specific commerce boundary"
      }
    },
    "com.azure.databox#SkuDisabledReason": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Country"
          }
        },
        "REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Region"
          }
        },
        "FEATURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Feature"
          }
        },
        "OFFERTYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OfferType"
          }
        },
        "NOSUBSCRIPTIONINFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NoSubscriptionInfo"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reason why the Sku is disabled."
      }
    },
    "com.azure.databox#SkuPropertiesApiVersionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Api versions that support this Sku."
      }
    },
    "com.azure.databox#SkuPropertiesCostsList": {
      "type": "list",
      "member": {
        "target": "com.azure.databox#SkuCost"
      },
      "traits": {
        "smithy.api#documentation": "Cost of the Sku."
      }
    },
    "com.azure.databox#SkuCost": {
      "type": "structure",
      "members": {
        "meterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Meter id of the Sku."
          }
        },
        "meterType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the meter."
          }
        },
        "multiplier": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Multiplier specifies the region specific value to be multiplied with 1$ guid. Eg: Our new regions will be using 1$ shipping guid with appropriate multiplier specific to region."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes metadata for retrieving price info."
      }
    },
    "com.azure.databox#SkuCapacity": {
      "type": "structure",
      "members": {
        "usable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Usable capacity in TB."
          }
        },
        "maximum": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maximum capacity in TB."
          }
        },
        "individualSkuUsable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maximum capacity per device in TB."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Capacity of the sku."
      }
    },
    "com.azure.databox#SkuPropertiesDataLocationToServiceLocationMapList": {
      "type": "list",
      "member": {
        "target": "com.azure.databox#DataLocationToServiceLocationMap"
      },
      "traits": {
        "smithy.api#documentation": "The map of data location to service location."
      }
    },
    "com.azure.databox#DataLocationToServiceLocationMap": {
      "type": "structure",
      "members": {
        "dataLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the data."
          }
        },
        "serviceLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Map of data location to service location"
      }
    },
    "com.azure.databox#Sku": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.azure.databox#SkuName",
          "traits": {
            "smithy.api#documentation": "The sku name.",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the sku."
          }
        },
        "family": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sku family."
          }
        },
        "model": {
          "target": "com.azure.databox#ModelName",
          "traits": {
            "smithy.api#documentation": "The customer friendly name of the combination of version and capacity of the device. This field is necessary only at the time of ordering the newer generation device i.e. AzureDataBox120 and AzureDataBox525 as of Feb/2025"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Sku."
      }
    },
    "com.azure.databox#ServiceListAvailableSkusByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of Azure region."
          }
        },
        "transferType": {
          "target": "com.azure.databox#TransferType",
          "traits": {
            "smithy.api#documentation": "Type of the transfer.",
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO country code. Country for hardware shipment. For codes check: https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements",
            "smithy.api#required": {}
          }
        },
        "skuNames": {
          "target": "com.azure.databox#ServiceListAvailableSkusByResourceGroupRequestSkuNamesList",
          "traits": {
            "smithy.api#documentation": "Sku Names to filter for available skus"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.databox#ServiceListAvailableSkusByResourceGroupRequestSkuNamesList": {
      "type": "list",
      "member": {
        "target": "com.azure.databox#SkuName"
      },
      "traits": {
        "smithy.api#documentation": "Sku Names to filter for available skus"
      }
    },
    "com.azure.databox#TransferType": {
      "type": "enum",
      "members": {
        "IMPORTTOAZURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ImportToAzure"
          }
        },
        "EXPORTFROMAZURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ExportFromAzure"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the transfer."
      }
    },
    "com.azure.databox#Mitigate": {
      "type": "operation",
      "input": {
        "target": "com.azure.databox#MitigateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/mitigate",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Request to mitigate for a given job",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.databox#MitigateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "jobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the job Resource within the specified resource group. job names must be between 3 and 24 characters in length and use any alphanumeric and underscore only"
          }
        },
        "customerResolutionCode": {
          "target": "com.azure.databox#CustomerResolutionCode",
          "traits": {
            "smithy.api#documentation": "Resolution code for the job"
          }
        },
        "serialNumberCustomerResolutionMap": {
          "target": "com.azure.databox#MitigateRequestSerialNumberCustomerResolutionMapMap",
          "traits": {
            "smithy.api#documentation": "Serial number and the customer resolution code corresponding to each serial number"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.databox#MitigateRequestSerialNumberCustomerResolutionMapMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.databox#CustomerResolutionCode"
      },
      "traits": {
        "smithy.api#documentation": "Serial number and the customer resolution code corresponding to each serial number"
      }
    },
    "com.azure.databox#CustomerResolutionCode": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "MOVETOCLEANUPDEVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MoveToCleanUpDevice"
          }
        },
        "RESUME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Resume"
          }
        },
        "RESTART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Restart"
          }
        },
        "REACHOUTTOOPERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReachOutToOperation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resolution code provided by customer."
      }
    },
    "com.azure.databox#JobsMarkDevicesShipped": {
      "type": "operation",
      "input": {
        "target": "com.azure.databox#JobsMarkDevicesShippedRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/markDevicesShipped",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Request to mark devices for a given job as shipped",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.databox#JobsMarkDevicesShippedRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "jobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the job Resource within the specified resource group. job names must be between 3 and 24 characters in length and use any alphanumeric and underscore only"
          }
        },
        "deliverToDcPackageDetails": {
          "target": "com.azure.databox#PackageCarrierInfo",
          "traits": {
            "smithy.api#documentation": "Delivery package details",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.databox#PackageCarrierInfo": {
      "type": "structure",
      "members": {
        "carrierName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the carrier."
          }
        },
        "trackingId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tracking Id of shipment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "package carrier info"
      }
    },
    "com.azure.databox#JobsListCredentials": {
      "type": "operation",
      "input": {
        "target": "com.azure.databox#JobsListCredentialsRequest"
      },
      "output": {
        "target": "com.azure.databox#UnencryptedCredentialsList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/listCredentials",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "This method gets the unencrypted secrets related to the job.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.databox#UnencryptedCredentialsList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.databox#UnencryptedCredentialsListValueList",
          "traits": {
            "smithy.api#documentation": "The UnencryptedCredentials items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of unencrypted credentials for accessing device."
      }
    },
    "com.azure.databox#UnencryptedCredentialsListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.databox#UnencryptedCredentials"
      },
      "traits": {
        "smithy.api#documentation": "The UnencryptedCredentials items on this page"
      }
    },
    "com.azure.databox#UnencryptedCredentials": {
      "type": "structure",
      "members": {
        "jobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the job."
          }
        },
        "jobSecrets": {
          "target": "com.azure.databox#JobSecrets",
          "traits": {
            "smithy.api#documentation": "Secrets related to this job."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Unencrypted credentials for accessing device."
      }
    },
    "com.azure.databox#JobSecrets": {
      "type": "structure",
      "members": {
        "jobSecretsType": {
          "target": "com.azure.databox#ClassDiscriminator",
          "traits": {
            "smithy.api#documentation": "Used to indicate what type of job secrets object.",
            "smithy.api#required": {}
          }
        },
        "dcAccessSecurityCode": {
          "target": "com.azure.databox#DcAccessSecurityCode",
          "traits": {
            "smithy.api#documentation": "Dc Access Security Code for Customer Managed Shipping"
          }
        },
        "error": {
          "target": "com.azure.databox#CloudError",
          "traits": {
            "smithy.api#documentation": "Error while fetching the secrets."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The base class for the secrets"
      }
    },
    "com.azure.databox#DcAccessSecurityCode": {
      "type": "structure",
      "members": {
        "reverseDCAccessCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reverse Dc access security code."
          }
        },
        "forwardDCAccessCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Forward Dc access security code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dc access security code"
      }
    },
    "com.azure.databox#ClassDiscriminator": {
      "type": "enum",
      "members": {
        "DATABOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DataBox"
          }
        },
        "DATABOXDISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DataBoxDisk"
          }
        },
        "DATABOXHEAVY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DataBoxHeavy"
          }
        },
        "DATABOXCUSTOMERDISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DataBoxCustomerDisk"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates the type of job details."
      }
    },
    "com.azure.databox#JobsListCredentialsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "jobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the job Resource within the specified resource group. job names must be between 3 and 24 characters in length and use any alphanumeric and underscore only"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.databox#JobsCancel": {
      "type": "operation",
      "input": {
        "target": "com.azure.databox#JobsCancelRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/cancel",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "CancelJob.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.databox#JobsCancelRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "jobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the job Resource within the specified resource group. job names must be between 3 and 24 characters in length and use any alphanumeric and underscore only"
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason for cancellation.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.databox#JobsBookShipmentPickUp": {
      "type": "operation",
      "input": {
        "target": "com.azure.databox#JobsBookShipmentPickUpRequest"
      },
      "output": {
        "target": "com.azure.databox#ShipmentPickUpResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/bookShipmentPickUp",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Book shipment pick up.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.databox#ShipmentPickUpResponse": {
      "type": "structure",
      "members": {
        "confirmationNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Confirmation number for the pick up request."
          }
        },
        "readyByTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time by which shipment should be ready for pick up, this is in local time of pick up area."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Shipment pick up response."
      }
    },
    "com.azure.databox#JobsBookShipmentPickUpRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "jobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the job Resource within the specified resource group. job names must be between 3 and 24 characters in length and use any alphanumeric and underscore only"
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Minimum date after which the pick up should commence, this must be in local time of pick up area.",
            "smithy.api#required": {}
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maximum date before which the pick up should commence, this must be in local time of pick up area.",
            "smithy.api#required": {}
          }
        },
        "shipmentLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Shipment Location in the pickup place. Eg.front desk",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.databox#JobsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.databox#JobsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Deletes a job.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.databox#JobsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "jobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the job Resource within the specified resource group. job names must be between 3 and 24 characters in length and use any alphanumeric and underscore only"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.databox#JobsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.databox#JobsUpdateRequest"
      },
      "output": {
        "target": "com.azure.databox#JobsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Updates the properties of an existing job.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.databox#JobsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.databox#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.databox#JobsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.databox#JobProperties",
          "traits": {
            "smithy.api#documentation": "Properties of a job.",
            "smithy.api#required": {}
          }
        },
        "sku": {
          "target": "com.azure.databox#Sku",
          "traits": {
            "smithy.api#documentation": "The sku type.",
            "smithy.api#required": {}
          }
        },
        "identity": {
          "target": "com.azure.databox#ResourceIdentity",
          "traits": {
            "smithy.api#documentation": "Msi identity of the resource"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.databox#ResourceIdentity": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identity type"
          }
        },
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service Principal Id backing the Msi"
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Home Tenant Id"
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.databox#ResourceIdentityUserAssignedIdentitiesMap",
          "traits": {
            "smithy.api#documentation": "User Assigned Identities"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Msi identity details of the resource"
      }
    },
    "com.azure.databox#ResourceIdentityUserAssignedIdentitiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.databox#ResourceIdentityUserAssignedIdentitiesValue"
      },
      "traits": {
        "smithy.api#documentation": "User Assigned Identities"
      }
    },
    "com.azure.databox#ResourceIdentityUserAssignedIdentitiesValue": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of the assigned identity."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client ID of the assigned identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User assigned identity properties"
      }
    },
    "com.azure.databox#JobProperties": {
      "type": "structure",
      "members": {
        "transferType": {
          "target": "com.azure.databox#TransferType",
          "traits": {
            "smithy.api#documentation": "Type of the data transfer.",
            "smithy.api#required": {}
          }
        },
        "isCancellable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Describes whether the job is cancellable or not."
          }
        },
        "isDeletable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Describes whether the job is deletable or not."
          }
        },
        "isShippingAddressEditable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Describes whether the shipping address is editable or not."
          }
        },
        "reverseShippingDetailsUpdate": {
          "target": "com.azure.databox#ReverseShippingDetailsEditStatus",
          "traits": {
            "smithy.api#documentation": "The Editable status for Reverse Shipping Address and Contact Info"
          }
        },
        "reverseTransportPreferenceUpdate": {
          "target": "com.azure.databox#ReverseTransportPreferenceEditStatus",
          "traits": {
            "smithy.api#documentation": "The Editable status for Reverse Transport preferences"
          }
        },
        "isPrepareToShipEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is Prepare To Ship Enabled on this job"
          }
        },
        "status": {
          "target": "com.azure.databox#StageName",
          "traits": {
            "smithy.api#documentation": "Name of the stage which is in progress."
          }
        },
        "delayedStage": {
          "target": "com.azure.databox#StageName",
          "traits": {
            "smithy.api#documentation": "Name of the stage where delay might be present."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time at which the job was started in UTC ISO 8601 format."
          }
        },
        "error": {
          "target": "com.azure.databox#CloudError",
          "traits": {
            "smithy.api#documentation": "Top level error for the job."
          }
        },
        "details": {
          "target": "com.azure.databox#JobDetails",
          "traits": {
            "smithy.api#documentation": "Details of a job run. This field will only be sent for expand details filter."
          }
        },
        "cancellationReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason for cancellation."
          }
        },
        "deliveryType": {
          "target": "com.azure.databox#JobPropertiesDeliveryType",
          "traits": {
            "smithy.api#documentation": "Delivery type of Job."
          }
        },
        "deliveryInfo": {
          "target": "com.azure.databox#JobDeliveryInfo",
          "traits": {
            "smithy.api#documentation": "Delivery Info of Job."
          }
        },
        "isCancellableWithoutFee": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag to indicate cancellation of scheduled job."
          }
        },
        "allDevicesLost": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag to indicate if all devices associated with the job are lost."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Job Properties"
      }
    },
    "com.azure.databox#JobDeliveryInfo": {
      "type": "structure",
      "members": {
        "scheduledDateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scheduled date time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional delivery info."
      }
    },
    "com.azure.databox#JobPropertiesDeliveryType": {
      "type": "enum",
      "members": {
        "NONSCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NonScheduled"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Scheduled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Delivery type of Job."
      }
    },
    "com.azure.databox#JobDetails": {
      "type": "structure",
      "members": {
        "jobStages": {
          "target": "com.azure.databox#JobDetailsJobStagesList",
          "traits": {
            "smithy.api#documentation": "List of stages that run in the job."
          }
        },
        "contactDetails": {
          "target": "com.azure.databox#ContactDetails",
          "traits": {
            "smithy.api#documentation": "Contact details for notification and shipping.",
            "smithy.api#required": {}
          }
        },
        "shippingAddress": {
          "target": "com.azure.databox#ShippingAddress",
          "traits": {
            "smithy.api#documentation": "Shipping address of the customer."
          }
        },
        "deliveryPackage": {
          "target": "com.azure.databox#PackageShippingDetails",
          "traits": {
            "smithy.api#documentation": "Delivery package shipping details."
          }
        },
        "returnPackage": {
          "target": "com.azure.databox#PackageShippingDetails",
          "traits": {
            "smithy.api#documentation": "Return package shipping details."
          }
        },
        "dataImportDetails": {
          "target": "com.azure.databox#JobDetailsDataImportDetailsList",
          "traits": {
            "smithy.api#documentation": "Details of the data to be imported into azure."
          }
        },
        "dataExportDetails": {
          "target": "com.azure.databox#JobDetailsDataExportDetailsList",
          "traits": {
            "smithy.api#documentation": "Details of the data to be exported from azure."
          }
        },
        "jobDetailsType": {
          "target": "com.azure.databox#ClassDiscriminator",
          "traits": {
            "smithy.api#documentation": "Indicates the type of job details.",
            "smithy.api#required": {}
          }
        },
        "preferences": {
          "target": "com.azure.databox#Preferences",
          "traits": {
            "smithy.api#documentation": "Preferences for the order."
          }
        },
        "reverseShippingDetails": {
          "target": "com.azure.databox#ReverseShippingDetails",
          "traits": {
            "smithy.api#documentation": "Optional Reverse Shipping details for order."
          }
        },
        "copyLogDetails": {
          "target": "com.azure.databox#JobDetailsCopyLogDetailsList",
          "traits": {
            "smithy.api#documentation": "List of copy log details."
          }
        },
        "reverseShipmentLabelSasKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Shared access key to download the return shipment label"
          }
        },
        "chainOfCustodySasKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Shared access key to download the chain of custody logs"
          }
        },
        "deviceErasureDetails": {
          "target": "com.azure.databox#DeviceErasureDetails",
          "traits": {
            "smithy.api#documentation": "Holds device data erasure details"
          }
        },
        "keyEncryptionKey": {
          "target": "com.azure.databox#KeyEncryptionKey",
          "traits": {
            "smithy.api#documentation": "Details about which key encryption type is being used."
          }
        },
        "expectedDataSizeInTeraBytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The expected size of the data, which needs to be transferred in this job, in terabytes."
          }
        },
        "actions": {
          "target": "com.azure.databox#JobDetailsActionsList",
          "traits": {
            "smithy.api#documentation": "Available actions on the job."
          }
        },
        "lastMitigationActionOnJob": {
          "target": "com.azure.databox#LastMitigationActionOnJob",
          "traits": {
            "smithy.api#documentation": "Last mitigation action performed on the job."
          }
        },
        "datacenterAddress": {
          "target": "com.azure.databox#DatacenterAddressResponse",
          "traits": {
            "smithy.api#documentation": "Datacenter address to ship to, for the given sku and storage location."
          }
        },
        "dataCenterCode": {
          "target": "com.azure.databox#DataCenterCode",
          "traits": {
            "smithy.api#documentation": "DataCenter code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Job details."
      }
    },
    "com.azure.databox#DataCenterCode": {
      "type": "enum",
      "members": {
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        },
        "BY2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BY2"
          }
        },
        "BY1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BY1"
          }
        },
        "ORK70": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORK70"
          }
        },
        "AM2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AM2"
          }
        },
        "AMS20": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMS20"
          }
        },
        "BY21": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BY21"
          }
        },
        "BY24": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BY24"
          }
        },
        "MWH01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MWH01"
          }
        },
        "AMS06": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMS06"
          }
        },
        "SSE90": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSE90"
          }
        },
        "SYD03": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYD03"
          }
        },
        "SYD23": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYD23"
          }
        },
        "CBR20": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CBR20"
          }
        },
        "YTO20": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YTO20"
          }
        },
        "CWL20": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CWL20"
          }
        },
        "LON24": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LON24"
          }
        },
        "BOM01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOM01"
          }
        },
        "BL20": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BL20"
          }
        },
        "BL7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BL7"
          }
        },
        "SEL20": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEL20"
          }
        },
        "TYO01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYO01"
          }
        },
        "BN1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BN1"
          }
        },
        "SN5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SN5"
          }
        },
        "CYS04": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CYS04"
          }
        },
        "TYO22": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYO22"
          }
        },
        "YTO21": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YTO21"
          }
        },
        "YQB20": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YQB20"
          }
        },
        "FRA22": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRA22"
          }
        },
        "MAA01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAA01"
          }
        },
        "CPQ02": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CPQ02"
          }
        },
        "CPQ20": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CPQ20"
          }
        },
        "SIN20": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIN20"
          }
        },
        "HKG20": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HKG20"
          }
        },
        "SG2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SG2"
          }
        },
        "MEL23": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEL23"
          }
        },
        "SEL21": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEL21"
          }
        },
        "OSA20": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OSA20"
          }
        },
        "SHA03": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHA03"
          }
        },
        "BJB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BJB"
          }
        },
        "JNB22": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JNB22"
          }
        },
        "JNB21": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JNB21"
          }
        },
        "MNZ21": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MNZ21"
          }
        },
        "SN8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SN8"
          }
        },
        "AUH20": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUH20"
          }
        },
        "ZRH20": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZRH20"
          }
        },
        "PUS20": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUS20"
          }
        },
        "ADHOC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AdHoc"
          }
        },
        "CH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CH1"
          }
        },
        "DSM05": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DSM05"
          }
        },
        "DUB07": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DUB07"
          }
        },
        "PNQ01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PNQ01"
          }
        },
        "SVG20": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SVG20"
          }
        },
        "OSA02": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OSA02"
          }
        },
        "OSA22": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OSA22"
          }
        },
        "PAR22": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAR22"
          }
        },
        "BN7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BN7"
          }
        },
        "SN6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SN6"
          }
        },
        "BJS20": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BJS20"
          }
        },
        "BL24": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BL24"
          }
        },
        "IDC5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDC5"
          }
        },
        "TYO23": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYO23"
          }
        },
        "NTG20": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NTG20"
          }
        },
        "DXB23": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DXB23"
          }
        },
        "DSM11": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DSM11"
          }
        },
        "AMS25": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMS25"
          }
        },
        "CPQ21": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CPQ21"
          }
        },
        "OSA23": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OSA23"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DataCenter code."
      }
    },
    "com.azure.databox#LastMitigationActionOnJob": {
      "type": "structure",
      "members": {
        "actionDateTimeInUtc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Action performed date time"
          }
        },
        "isPerformedByCustomer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Action performed by customer,\npossibility is that mitigation might happen by customer or service or by ops"
          }
        },
        "customerResolution": {
          "target": "com.azure.databox#CustomerResolutionCode",
          "traits": {
            "smithy.api#documentation": "Resolution code provided by customer"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Last Mitigation Action Performed On Job"
      }
    },
    "com.azure.databox#JobDetailsActionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.databox#CustomerResolutionCode"
      },
      "traits": {
        "smithy.api#documentation": "Available actions on the job."
      }
    },
    "com.azure.databox#KeyEncryptionKey": {
      "type": "structure",
      "members": {
        "kekType": {
          "target": "com.azure.databox#KeyEncryptionKeyKekType",
          "traits": {
            "smithy.api#documentation": "Type of encryption key used for key encryption.",
            "smithy.api#required": {}
          }
        },
        "identityProperties": {
          "target": "com.azure.databox#IdentityProperties",
          "traits": {
            "smithy.api#documentation": "Managed identity properties used for key encryption."
          }
        },
        "kekUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key encryption key. It is required in case of Customer managed KekType."
          }
        },
        "kekVaultResourceID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kek vault resource id. It is required in case of Customer managed KekType."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encryption key containing details about key to encrypt different keys."
      }
    },
    "com.azure.databox#IdentityProperties": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Managed service identity type."
          }
        },
        "userAssigned": {
          "target": "com.azure.databox#UserAssignedProperties",
          "traits": {
            "smithy.api#documentation": "User assigned identity properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed identity properties."
      }
    },
    "com.azure.databox#UserAssignedProperties": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Arm resource id for user assigned identity to be used to fetch MSI token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User assigned identity properties."
      }
    },
    "com.azure.databox#KeyEncryptionKeyKekType": {
      "type": "enum",
      "members": {
        "MICROSOFTMANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MicrosoftManaged"
          }
        },
        "CUSTOMERMANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CustomerManaged"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of encryption key used for key encryption."
      }
    },
    "com.azure.databox#DeviceErasureDetails": {
      "type": "structure",
      "members": {
        "deviceErasureStatus": {
          "target": "com.azure.databox#StageStatus",
          "traits": {
            "smithy.api#documentation": "Holds the device erasure completion status"
          }
        },
        "erasureOrDestructionCertificateSasKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Shared access key to download cleanup or destruction certificate for device"
          }
        },
        "secureErasureCertificateSasKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Shared access key to download secure erasure certificate for the device"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Device erasure details with erasure completion status, secure erasure sas key and erasureordestructionlog sas key"
      }
    },
    "com.azure.databox#StageStatus": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cancelled"
          }
        },
        "CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cancelling"
          }
        },
        "SUCCEEDEDWITHERRORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SucceededWithErrors"
          }
        },
        "WAITINGFORCUSTOMERACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WaitingForCustomerAction"
          }
        },
        "SUCCEEDEDWITHWARNINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SucceededWithWarnings"
          }
        },
        "WAITINGFORCUSTOMERACTIONFORKEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WaitingForCustomerActionForKek"
          }
        },
        "WAITINGFORCUSTOMERACTIONFORCLEANUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WaitingForCustomerActionForCleanUp"
          }
        },
        "CUSTOMERACTIONPERFORMEDFORCLEANUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CustomerActionPerformedForCleanUp"
          }
        },
        "CUSTOMERACTIONPERFORMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CustomerActionPerformed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Holds the device erasure completion status"
      }
    },
    "com.azure.databox#JobDetailsCopyLogDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.databox#CopyLogDetails"
      },
      "traits": {
        "smithy.api#documentation": "List of copy log details."
      }
    },
    "com.azure.databox#CopyLogDetails": {
      "type": "structure",
      "members": {
        "copyLogDetailsType": {
          "target": "com.azure.databox#ClassDiscriminator",
          "traits": {
            "smithy.api#documentation": "Indicates the type of job details.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details for log generated during copy."
      }
    },
    "com.azure.databox#ReverseShippingDetails": {
      "type": "structure",
      "members": {
        "contactDetails": {
          "target": "com.azure.databox#ContactInfo",
          "traits": {
            "smithy.api#documentation": "Contact Info."
          }
        },
        "shippingAddress": {
          "target": "com.azure.databox#ShippingAddress",
          "traits": {
            "smithy.api#documentation": "Shipping address where customer wishes to receive the device."
          }
        },
        "isUpdated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A flag to indicate whether Reverse Shipping details are updated or not after device has been prepared.\nRead only field"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reverse Shipping Address and contact details for a job."
      }
    },
    "com.azure.databox#ShippingAddress": {
      "type": "structure",
      "members": {
        "streetAddress1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Street Address line 1.",
            "smithy.api#required": {}
          }
        },
        "streetAddress2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Street Address line 2."
          }
        },
        "streetAddress3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Street Address line 3."
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the City."
          }
        },
        "stateOrProvince": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the State or Province."
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Country.",
            "smithy.api#required": {}
          }
        },
        "postalCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Postal code."
          }
        },
        "zipExtendedCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Extended Zip Code."
          }
        },
        "companyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the company."
          }
        },
        "addressType": {
          "target": "com.azure.databox#ShippingAddressAddressType",
          "traits": {
            "smithy.api#documentation": "Type of address."
          }
        },
        "skipAddressValidation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag to indicate if customer has chosen to skip default address validation"
          }
        },
        "taxIdentificationNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tax Identification Number"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Shipping address where customer wishes to receive the device."
      }
    },
    "com.azure.databox#ShippingAddressAddressType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "RESIDENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Residential"
          }
        },
        "COMMERCIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Commercial"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of address."
      }
    },
    "com.azure.databox#ContactInfo": {
      "type": "structure",
      "members": {
        "contactName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contact name of the person.",
            "smithy.api#required": {}
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Phone number of the contact person.",
            "smithy.api#required": {}
          }
        },
        "phoneExtension": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Phone extension number of the contact person."
          }
        },
        "mobile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mobile number of the contact person."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contact Info."
      }
    },
    "com.azure.databox#Preferences": {
      "type": "structure",
      "members": {
        "preferredDataCenterRegion": {
          "target": "com.azure.databox#PreferencesPreferredDataCenterRegionList",
          "traits": {
            "smithy.api#documentation": "Preferred data center region."
          }
        },
        "transportPreferences": {
          "target": "com.azure.databox#TransportPreferences",
          "traits": {
            "smithy.api#documentation": "Preferences related to the shipment logistics of the sku."
          }
        },
        "reverseTransportPreferences": {
          "target": "com.azure.databox#TransportPreferences",
          "traits": {
            "smithy.api#documentation": "Optional Preferences related to the reverse shipment logistics of the sku."
          }
        },
        "encryptionPreferences": {
          "target": "com.azure.databox#EncryptionPreferences",
          "traits": {
            "smithy.api#documentation": "Preferences related to the Encryption."
          }
        },
        "storageAccountAccessTierPreferences": {
          "target": "com.azure.databox#PreferencesStorageAccountAccessTierPreferencesList",
          "traits": {
            "smithy.api#documentation": "Preferences related to the Access Tier of storage accounts."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Preferences related to the order"
      }
    },
    "com.azure.databox#PreferencesStorageAccountAccessTierPreferencesList": {
      "type": "list",
      "member": {
        "target": "com.azure.databox#PreferencesStorageAccountAccessTierPreferencesItem"
      },
      "traits": {
        "smithy.api#documentation": "Preferences related to the Access Tier of storage accounts."
      }
    },
    "com.azure.databox#PreferencesStorageAccountAccessTierPreferencesItem": {
      "type": "enum",
      "members": {
        "ARCHIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Archive"
          }
        }
      },
      "traits": {}
    },
    "com.azure.databox#EncryptionPreferences": {
      "type": "structure",
      "members": {
        "doubleEncryption": {
          "target": "com.azure.databox#EncryptionPreferencesDoubleEncryption",
          "traits": {
            "smithy.api#documentation": "Defines secondary layer of software-based encryption enablement."
          }
        },
        "hardwareEncryption": {
          "target": "com.azure.databox#HardwareEncryption",
          "traits": {
            "smithy.api#documentation": "Defines Hardware level encryption (Only for disk)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Preferences related to the Encryption."
      }
    },
    "com.azure.databox#EncryptionPreferencesDoubleEncryption": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
[...]
