{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.databoxedge#UsersDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.databoxedge#UsersDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/users/{name}",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Deletes the user on a databox edge/gateway device.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.databoxedge#UsersDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "deviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The device name."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The user name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.databoxedge#UsersCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.databoxedge#UsersCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.databoxedge#UsersCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/users/{name}",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Creates a new user or updates an existing user's information on a Data Box Edge/Data Box Gateway device.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.databoxedge#UsersCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.databoxedge#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.databoxedge#UserProperties",
          "traits": {
            "smithy.api#documentation": "The storage account credential properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.databoxedge#UserProperties": {
      "type": "structure",
      "members": {
        "encryptedPassword": {
          "target": "com.azure.databoxedge#AsymmetricEncryptedSecret",
          "traits": {
            "smithy.api#documentation": "The password details."
          }
        },
        "shareAccessRights": {
          "target": "com.azure.databoxedge#UserPropertiesShareAccessRightsList",
          "traits": {
            "smithy.api#documentation": "List of shares that the user has rights on. This field should not be specified during user creation."
          }
        },
        "userType": {
          "target": "com.azure.databoxedge#UserType",
          "traits": {
            "smithy.api#documentation": "Type of the user.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The user properties."
      }
    },
    "com.azure.databoxedge#UserType": {
      "type": "enum",
      "members": {
        "SHARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Share"
          }
        },
        "LOCALMANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LocalManagement"
          }
        },
        "ARM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARM"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the user."
      }
    },
    "com.azure.databoxedge#UserPropertiesShareAccessRightsList": {
      "type": "list",
      "member": {
        "target": "com.azure.databoxedge#ShareAccessRight"
      },
      "traits": {
        "smithy.api#documentation": "List of shares that the user has rights on. This field should not be specified during user creation."
      }
    },
    "com.azure.databoxedge#ShareAccessRight": {
      "type": "structure",
      "members": {
        "shareId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The share ID.",
            "smithy.api#required": {}
          }
        },
        "accessType": {
          "target": "com.azure.databoxedge#ShareAccessType",
          "traits": {
            "smithy.api#documentation": "Type of access to be allowed on the share for this user.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the mapping between this particular user and the type of access he has on shares on this device."
      }
    },
    "com.azure.databoxedge#ShareAccessType": {
      "type": "enum",
      "members": {
        "CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Change"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Read"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Custom"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of access to be allowed on the share for this user."
      }
    },
    "com.azure.databoxedge#AsymmetricEncryptedSecret": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the secret.",
            "smithy.api#required": {}
          }
        },
        "encryptionCertThumbprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Thumbprint certificate used to encrypt \\\"Value\\\". If the value is unencrypted, it will be null."
          }
        },
        "encryptionAlgorithm": {
          "target": "com.azure.databoxedge#EncryptionAlgorithm",
          "traits": {
            "smithy.api#documentation": "The algorithm used to encrypt \"Value\".",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represent the secrets intended for encryption with asymmetric key pair."
      }
    },
    "com.azure.databoxedge#EncryptionAlgorithm": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "AES256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES256"
          }
        },
        "RSAES_PKCS1_V_1_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSAES_PKCS1_v_1_5"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The algorithm used to encrypt \"Value\"."
      }
    },
    "com.azure.databoxedge#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.databoxedge#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.databoxedge#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.databoxedge#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.databoxedge#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.databoxedge#UsersCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "deviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The device name."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The user name."
          }
        },
        "properties": {
          "target": "com.azure.databoxedge#UserPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The storage account credential properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.databoxedge#UserPropertiesInput": {
      "type": "structure",
      "members": {
        "encryptedPassword": {
          "target": "com.azure.databoxedge#AsymmetricEncryptedSecret",
          "traits": {
            "smithy.api#documentation": "The password details."
          }
        },
        "userType": {
          "target": "com.azure.databoxedge#UserType",
          "traits": {
            "smithy.api#documentation": "Type of the user.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The user properties."
      }
    },
    "com.azure.databoxedge#UsersGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.databoxedge#UsersGetRequest"
      },
      "output": {
        "target": "com.azure.databoxedge#UsersGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/users/{name}",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Gets the properties of the specified user.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.databoxedge#UsersGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.databoxedge#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.databoxedge#UserProperties",
          "traits": {
            "smithy.api#documentation": "The storage account credential properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.databoxedge#UsersGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "deviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The device name."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The user name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.databoxedge#UsersListByDataBoxEdgeDevice": {
      "type": "operation",
      "input": {
        "target": "com.azure.databoxedge#UsersListByDataBoxEdgeDeviceRequest"
      },
      "output": {
        "target": "com.azure.databoxedge#UserList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/users",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Gets all the users registered on a Data Box Edge/Data Box Gateway device.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.databoxedge#UserList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.databoxedge#UserListValueList",
          "traits": {
            "smithy.api#documentation": "The User items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collection of users."
      }
    },
    "com.azure.databoxedge#UserListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.databoxedge#User"
      },
      "traits": {
        "smithy.api#documentation": "The User items on this page"
      }
    },
    "com.azure.databoxedge#User": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.databoxedge#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.databoxedge#UserProperties",
          "traits": {
            "smithy.api#documentation": "The storage account credential properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a user who has access to one or more shares on the Data Box Edge/Gateway device."
      }
    },
    "com.azure.databoxedge#UsersListByDataBoxEdgeDeviceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "deviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The device name."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "Specify $filter='Type eq <type>' to filter on user type property"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.databoxedge#DevicesUploadCertificate": {
      "type": "operation",
      "input": {
        "target": "com.azure.databoxedge#DevicesUploadCertificateRequest"
      },
      "output": {
        "target": "com.azure.databoxedge#UploadCertificateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/uploadCertificate",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Uploads registration certificate for the device.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.databoxedge#UploadCertificateResponse": {
      "type": "structure",
      "members": {
        "authType": {
          "target": "com.azure.databoxedge#AuthenticationType",
          "traits": {
            "smithy.api#documentation": "Specifies authentication type."
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID of the Data Box Edge/Gateway device."
          }
        },
        "aadAuthority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure Active Directory tenant authority."
          }
        },
        "aadTenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure Active Directory tenant ID."
          }
        },
        "servicePrincipalClientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure Active Directory service principal client ID."
          }
        },
        "servicePrincipalObjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure Active Directory service principal object ID."
          }
        },
        "azureManagementEndpointAudience": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The azure management endpoint audience."
          }
        },
        "aadAudience": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the target resource that is the recipient of the requested token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The upload registration certificate response."
      }
    },
    "com.azure.databoxedge#AuthenticationType": {
      "type": "enum",
      "members": {
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        },
        "AZUREACTIVEDIRECTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureActiveDirectory"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The authentication type."
      }
    },
    "com.azure.databoxedge#DevicesUploadCertificateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "deviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The device name."
          }
        },
        "properties": {
          "target": "com.azure.databoxedge#RawCertificateData",
          "traits": {
            "smithy.api#documentation": "The Base 64 encoded certificate raw data.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.databoxedge#RawCertificateData": {
      "type": "structure",
      "members": {
        "authenticationType": {
          "target": "com.azure.databoxedge#AuthenticationType",
          "traits": {
            "smithy.api#documentation": "The authentication type."
          }
        },
        "certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The base64 encoded certificate raw data.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Raw Certificate Data."
      }
    },
    "com.azure.databoxedge#DevicesGetUpdateSummary": {
      "type": "operation",
      "input": {
        "target": "com.azure.databoxedge#DevicesGetUpdateSummaryRequest"
      },
      "output": {
        "target": "com.azure.databoxedge#DevicesGetUpdateSummaryResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/updateSummary/default",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Gets information about the availability of updates based on the last scan of the device. It also gets information about any ongoing download or install jobs on the device.\n\nGets information about the availability of updates based on the last scan of the device. It also gets information about any ongoing download or install jobs on the device.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.databoxedge#DevicesGetUpdateSummaryResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.databoxedge#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.databoxedge#UpdateSummaryProperties",
          "traits": {
            "smithy.api#documentation": "The device update information summary."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.databoxedge#UpdateSummaryProperties": {
      "type": "structure",
      "members": {
        "deviceVersionNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current version of the device in format: 1.2.17312.13.\","
          }
        },
        "friendlyDeviceVersionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current version of the device in text format."
          }
        },
        "deviceLastScannedDateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time when a scan was done on the device."
          }
        },
        "lastCompletedScanJobDateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the last scan job was completed (success/cancelled/failed) on the appliance."
          }
        },
        "lastSuccessfulScanJobTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the last scan job is successfully completed."
          }
        },
        "lastCompletedDownloadJobDateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the last Download job was completed (success/cancelled/failed) on the appliance."
          }
        },
        "lastCompletedDownloadJobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "JobId of the last ran download job.(Can be success/cancelled/failed)"
          }
        },
        "lastDownloadJobStatus": {
          "target": "com.azure.databoxedge#JobStatus",
          "traits": {
            "smithy.api#documentation": "JobStatus of the last ran download job."
          }
        },
        "lastSuccessfulInstallJobDateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the Last Install job was completed successfully on the appliance"
          }
        },
        "lastCompletedInstallJobDateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the last Install job was completed (success/cancelled/failed) on the appliance."
          }
        },
        "lastCompletedInstallJobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "JobId of the last ran install job.(Can be success/cancelled/failed)"
          }
        },
        "lastInstallJobStatus": {
          "target": "com.azure.databoxedge#JobStatus",
          "traits": {
            "smithy.api#documentation": "JobStatus of the last ran install job."
          }
        },
        "totalNumberOfUpdatesAvailable": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of updates available for the current device version as per the last device scan."
          }
        },
        "totalNumberOfUpdatesPendingDownload": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of items pending download."
          }
        },
        "totalNumberOfUpdatesPendingInstall": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of items pending install."
          }
        },
        "rebootBehavior": {
          "target": "com.azure.databoxedge#InstallRebootBehavior",
          "traits": {
            "smithy.api#documentation": "Indicates if updates are available and at least one of the updates needs a reboot."
          }
        },
        "ongoingUpdateOperation": {
          "target": "com.azure.databoxedge#UpdateOperation",
          "traits": {
            "smithy.api#documentation": "The current update operation."
          }
        },
        "inProgressDownloadJobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The job ID of the download job in progress."
          }
        },
        "inProgressInstallJobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The job ID of the install job in progress."
          }
        },
        "inProgressDownloadJobStartedDateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the currently running download (if any) started."
          }
        },
        "inProgressInstallJobStartedDateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the currently running install (if any) started."
          }
        },
        "updateTitles": {
          "target": "com.azure.databoxedge#UpdateSummaryPropertiesUpdateTitlesList",
          "traits": {
            "smithy.api#documentation": "The list of updates available for install."
          }
        },
        "updates": {
          "target": "com.azure.databoxedge#UpdateSummaryPropertiesUpdatesList",
          "traits": {
            "smithy.api#documentation": "The list of updates available for install."
          }
        },
        "totalUpdateSizeInBytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The total size of updates available for download in bytes."
          }
        },
        "totalTimeInMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total time in Minutes"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The device update information summary."
      }
    },
    "com.azure.databoxedge#UpdateSummaryPropertiesUpdatesList": {
      "type": "list",
      "member": {
        "target": "com.azure.databoxedge#UpdateDetails"
      },
      "traits": {
        "smithy.api#documentation": "The list of updates available for install."
      }
    },
    "com.azure.databoxedge#UpdateDetails": {
      "type": "structure",
      "members": {
        "updateTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the Update"
          }
        },
        "updateSize": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Size of the update(In Bytes)"
          }
        },
        "updateType": {
          "target": "com.azure.databoxedge#UpdateType",
          "traits": {
            "smithy.api#documentation": "Type of the Update"
          }
        },
        "targetVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target Version number"
          }
        },
        "friendlyVersionNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Friendly Version Number"
          }
        },
        "estimatedInstallTimeInMins": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Estimated Install Time for the update"
          }
        },
        "rebootBehavior": {
          "target": "com.azure.databoxedge#InstallRebootBehavior",
          "traits": {
            "smithy.api#documentation": "Indicates if updates are available and at least one of the updates needs a reboot."
          }
        },
        "installationImpact": {
          "target": "com.azure.databoxedge#InstallationImpact",
          "traits": {
            "smithy.api#documentation": "Impact of Installing an updateType"
          }
        },
        "status": {
          "target": "com.azure.databoxedge#UpdateStatus",
          "traits": {
            "smithy.api#documentation": "Status of the update."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Update Specific attributes"
      }
    },
    "com.azure.databoxedge#UpdateStatus": {
      "type": "enum",
      "members": {
        "DOWNLOADPENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DownloadPending"
          }
        },
        "DOWNLOADSTARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DownloadStarted"
          }
        },
        "DOWNLOADCOMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DownloadCompleted"
          }
        },
        "INSTALLSTARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InstallStarted"
          }
        },
        "INSTALLCOMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InstallCompleted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the update."
      }
    },
    "com.azure.databoxedge#InstallationImpact": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "DEVICEREBOOTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeviceRebooted"
          }
        },
        "KUBERNETESWORKLOADSDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KubernetesWorkloadsDown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Impact of Installing an updateType"
      }
    },
    "com.azure.databoxedge#InstallRebootBehavior": {
      "type": "enum",
      "members": {
        "NEVERREBOOTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NeverReboots"
          }
        },
        "REQUIRESREBOOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RequiresReboot"
          }
        },
        "REQUESTREBOOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RequestReboot"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates if updates are available and at least one of the updates needs a reboot."
      }
    },
    "com.azure.databoxedge#UpdateType": {
      "type": "enum",
      "members": {
        "SOFTWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Software"
          }
        },
        "KUBERNETES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Kubernetes"
          }
        },
        "FIRMWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Firmware"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the Update"
      }
    },
    "com.azure.databoxedge#UpdateSummaryPropertiesUpdateTitlesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of updates available for install."
      }
    },
    "com.azure.databoxedge#UpdateOperation": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "SCAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Scan"
          }
        },
        "DOWNLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Download"
          }
        },
        "INSTALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Install"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current update operation."
      }
    },
    "com.azure.databoxedge#JobStatus": {
      "type": "enum",
      "members": {
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Paused"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Scheduled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current status of the job."
      }
    },
    "com.azure.databoxedge#DevicesGetUpdateSummaryRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "deviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The device name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.databoxedge#DevicesUpdateExtendedInformation": {
      "type": "operation",
      "input": {
        "target": "com.azure.databoxedge#DevicesUpdateExtendedInformationRequest"
      },
      "output": {
        "target": "com.azure.databoxedge#DevicesUpdateExtendedInformationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/updateExtendedInformation",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Gets additional information for the specified Data Box Edge/Data Box Gateway device.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.databoxedge#DevicesUpdateExtendedInformationResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path ID that uniquely identifies the object."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hierarchical type of the object."
          }
        },
        "properties": {
          "target": "com.azure.databoxedge#DataBoxEdgeDeviceExtendedInfoProperties",
          "traits": {
            "smithy.api#documentation": "The extended info properties."
          }
        },
        "systemData": {
          "target": "com.azure.databoxedge#DevicesUpdateExtendedInformationResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.databoxedge#DevicesUpdateExtendedInformationResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.databoxedge#DevicesUpdateExtendedInformationResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.databoxedge#DevicesUpdateExtendedInformationResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.databoxedge#DevicesUpdateExtendedInformationResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.databoxedge#DevicesUpdateExtendedInformationResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.databoxedge#DataBoxEdgeDeviceExtendedInfoProperties": {
      "type": "structure",
      "members": {
        "encryptionKeyThumbprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The digital signature of encrypted certificate."
          }
        },
        "encryptionKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The public part of the encryption certificate. Client uses this to encrypt any secret."
          }
        },
        "resourceKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Resource ID of the Resource."
          }
        },
        "clientSecretStoreId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Key Vault ARM Id for client secrets"
          }
        },
        "clientSecretStoreUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The url to access the Client Key Vault"
          }
        },
        "channelIntegrityKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of Channel Integrity Key stored in the Client Key Vault"
          }
        },
        "channelIntegrityKeyVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of Channel Integrity Key stored in the Client Key Vault"
          }
        },
        "keyVaultSyncStatus": {
          "target": "com.azure.databoxedge#KeyVaultSyncStatus",
          "traits": {
            "smithy.api#documentation": "Key vault sync status"
          }
        },
        "deviceSecrets": {
          "target": "com.azure.databoxedge#DataBoxEdgeDeviceExtendedInfoPropertiesDeviceSecretsMap",
          "traits": {
            "smithy.api#documentation": "Device secrets, will be returned only with ODataFilter $expand=deviceSecrets"
          }
        },
        "clusterWitnessType": {
          "target": "com.azure.databoxedge#ClusterWitnessType",
          "traits": {
            "smithy.api#documentation": "Cluster Witness Type"
          }
        },
        "fileShareWitnessLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The witness location of file share."
          }
        },
        "fileShareWitnessUsername": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The username of file share."
          }
        },
        "cloudWitnessStorageAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Cloud Witness Storage account name."
          }
        },
        "cloudWitnessContainerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Container for cloud witness in the storage account."
          }
        },
        "cloudWitnessStorageEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Azure service endpoint of the cloud witness storage account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the Data Box Edge/Gateway device extended info."
      }
    },
    "com.azure.databoxedge#ClusterWitnessType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "CLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cloud"
          }
        },
        "FILESHARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FileShare"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cluster Witness Type"
      }
    },
    "com.azure.databoxedge#DataBoxEdgeDeviceExtendedInfoPropertiesDeviceSecretsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.databoxedge#Secret"
      },
      "traits": {
        "smithy.api#documentation": "Device secrets, will be returned only with ODataFilter $expand=deviceSecrets"
      }
    },
    "com.azure.databoxedge#Secret": {
      "type": "structure",
      "members": {
        "encryptedSecret": {
          "target": "com.azure.databoxedge#AsymmetricEncryptedSecret",
          "traits": {
            "smithy.api#documentation": "Encrypted (using device public key) secret value."
          }
        },
        "keyVaultId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the Key-Vault where secret is stored (ex: secrets/AuthClientSecret/82ef4346187a4033a10d629cde07d740)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Holds device secret either as a KeyVault reference or as an encrypted value."
      }
    },
    "com.azure.databoxedge#KeyVaultSyncStatus": {
      "type": "enum",
      "members": {
        "KEYVAULTSYNCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KeyVaultSynced"
          }
        },
        "KEYVAULTSYNCFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KeyVaultSyncFailed"
          }
        },
        "KEYVAULTNOTCONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KeyVaultNotConfigured"
          }
        },
        "KEYVAULTSYNCPENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KeyVaultSyncPending"
          }
        },
        "KEYVAULTSYNCING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KeyVaultSyncing"
          }
        },
        "KEYVAULTNOTSYNCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KeyVaultNotSynced"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "For changing or to initiate the resync to key-vault set the status to KeyVaultSyncPending, rest of the status will not be applicable."
      }
    },
    "com.azure.databoxedge#DevicesUpdateExtendedInformationRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "deviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The device name."
          }
        },
        "clientSecretStoreId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Key Vault ARM Id for client secrets"
          }
        },
        "clientSecretStoreUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The url to access the Client Key Vault"
          }
        },
        "channelIntegrityKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name for Channel Integrity Key stored in the Client Key Vault"
          }
        },
        "channelIntegrityKeyVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of Channel Integrity Key stored in the Client Key Vault"
          }
        },
        "syncStatus": {
          "target": "com.azure.databoxedge#KeyVaultSyncStatus",
          "traits": {
            "smithy.api#documentation": "For changing or to initiate the resync to key-vault set the status to KeyVaultSyncPending, rest of the status will not be applicable."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.databoxedge#TriggersDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.databoxedge#TriggersDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/triggers/{name}",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Deletes the trigger on the gateway device.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.databoxedge#TriggersDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "deviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The device name."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The trigger name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.databoxedge#TriggersCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.databoxedge#TriggersCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.databoxedge#TriggersCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/triggers/{name}",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Creates or updates a trigger.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.databoxedge#TriggersCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.databoxedge#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "kind": {
          "target": "com.azure.databoxedge#TriggerEventType",
          "traits": {
            "smithy.api#documentation": "Trigger Kind.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.databoxedge#TriggerEventType": {
      "type": "enum",
      "members": {
        "FILEEVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FileEvent"
          }
        },
        "PERIODICTIMEREVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PeriodicTimerEvent"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Trigger Kind."
      }
    },
    "com.azure.databoxedge#TriggersCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "deviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The device name."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The trigger name."
          }
        },
        "kind": {
          "target": "com.azure.databoxedge#TriggerEventType",
          "traits": {
            "smithy.api#documentation": "Trigger Kind.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.databoxedge#TriggersGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.databoxedge#TriggersGetRequest"
      },
      "output": {
        "target": "com.azure.databoxedge#TriggersGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/triggers/{name}",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Get a specific trigger by name.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.databoxedge#TriggersGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.databoxedge#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "kind": {
          "target": "com.azure.databoxedge#TriggerEventType",
          "traits": {
            "smithy.api#documentation": "Trigger Kind.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.databoxedge#TriggersGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "deviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The device name."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The trigger name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.databoxedge#TriggersListByDataBoxEdgeDevice": {
      "type": "operation",
      "input": {
        "target": "com.azure.databoxedge#TriggersListByDataBoxEdgeDeviceRequest"
      },
      "output": {
        "target": "com.azure.databoxedge#TriggerList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/triggers",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Lists all the triggers configured in the device.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.databoxedge#TriggerList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.databoxedge#TriggerListValueList",
          "traits": {
            "smithy.api#documentation": "The Trigger items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collection of all trigger on the data box edge device."
      }
    },
    "com.azure.databoxedge#TriggerListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.databoxedge#Trigger"
      },
      "traits": {
        "smithy.api#documentation": "The Trigger items on this page"
      }
    },
    "com.azure.databoxedge#Trigger": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.databoxedge#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "kind": {
          "target": "com.azure.databoxedge#TriggerEventType",
          "traits": {
            "smithy.api#documentation": "Trigger Kind.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Trigger details."
      }
    },
    "com.azure.databoxedge#TriggersListByDataBoxEdgeDeviceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "deviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The device name."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "Specify $filter='CustomContextTag eq <tag>' to filter on custom context tag property"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.databoxedge#SupportPackagesTriggerSupportPackage": {
      "type": "operation",
      "input": {
        "target": "com.azure.databoxedge#SupportPackagesTriggerSupportPackageRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/triggerSupportPackage",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Triggers support package on the device\n\nTriggers support package on the device",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.databoxedge#SupportPackagesTriggerSupportPackageRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "deviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The device name."
          }
        },
        "properties": {
          "target": "com.azure.databoxedge#SupportPackageRequestProperties",
          "traits": {
            "smithy.api#documentation": "The TriggerSupportPackageRequest properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.databoxedge#SupportPackageRequestProperties": {
      "type": "structure",
      "members": {
        "minimumTimeStamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MinimumTimeStamp from where logs need to be collected"
          }
        },
        "maximumTimeStamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start of the timespan of the log collection"
          }
        },
        "include": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of files, which need to be included in the logs\nThis will contain the type of logs (Default/DefaultWithDumps/None/All/DefaultWithArchived)\nor a comma separated list of log types that are required"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The share properties."
      }
    },
    "com.azure.databoxedge#ContainersRefresh": {
      "type": "operation",
      "input": {
        "target": "com.azure.databoxedge#ContainersRefreshRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/storageAccounts/{storageAccountName}/containers/{containerName}/refresh",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Refreshes the container metadata with the data from the cloud.\n\nRefreshes the container metadata with the data from the cloud.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.databoxedge#ContainersRefreshRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "deviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The device name."
          }
        },
        "storageAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The storage account name."
          }
        },
        "containerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The container Name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.databoxedge#ContainersDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.databoxedge#ContainersDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/storageAccounts/{storageAccountName}/containers/{containerName}",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Deletes the container on the Data Box Edge/Data Box Gateway device.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.databoxedge#ContainersDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "deviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The device name."
          }
        },
        "storageAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The storage account name."
          }
        },
        "containerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The container Name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.databoxedge#ContainersCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.databoxedge#ContainersCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.databoxedge#ContainersCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/storageAccounts/{storageAccountName}/containers/{containerName}",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Creates a new container or updates an existing container on the device.\n\nCreates a new container or updates an existing container on the device.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.databoxedge#ContainersCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.databoxedge#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.databoxedge#ContainerProperties",
          "traits": {
            "smithy.api#documentation": "The container properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.databoxedge#ContainerProperties": {
      "type": "structure",
      "members": {
        "containerStatus": {
          "target": "com.azure.databoxedge#ContainerStatus",
          "traits": {
            "smithy.api#documentation": "Current status of the container."
          }
        },
        "dataFormat": {
          "target": "com.azure.databoxedge#AzureContainerDataFormat",
          "traits": {
            "smithy.api#documentation": "DataFormat for Container",
            "smithy.api#required": {}
          }
        },
        "refreshDetails": {
          "target": "com.azure.databoxedge#RefreshDetails",
          "traits": {
            "smithy.api#documentation": "Details of the refresh job on this container."
          }
        },
        "createdDateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The UTC time when container got created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The container properties."
      }
    },
    "com.azure.databoxedge#RefreshDetails": {
      "type": "structure",
      "members": {
        "inProgressRefreshJobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If a refresh job is currently in progress on this share or container, this field indicates the ARM resource ID of that job. The field is empty if no job is in progress."
          }
        },
        "lastCompletedRefreshJobTimeInUTC": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the completed time for the last refresh job on this particular share or container, if any.This could be a failed job or a successful job."
          }
        },
        "errorManifestFile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the relative path of the error xml for the last refresh job on this particular share or container, if any. This could be a failed job or a successful job."
          }
        },
        "lastJob": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the id of the last refresh job on this particular share or container,if any. This could be a failed job or a successful job."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Fields for tracking refresh job on the share or container."
      }
    },
    "com.azure.databoxedge#AzureContainerDataFormat": {
      "type": "enum",
      "members": {
        "BLOCKBLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BlockBlob"
          }
        },
        "PAGEBLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PageBlob"
          }
        },
        "AZUREFILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureFile"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Storage format used for the file represented by the share."
      }
    },
    "com.azure.databoxedge#ContainerStatus": {
      "type": "enum",
      "members": {
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OK"
          }
        },
        "OFFLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Offline"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "NEEDSATTENTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NeedsAttention"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current status of the container."
      }
    },
    "com.azure.databoxedge#ContainersCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "deviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The device name."
          }
        },
        "storageAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The storage account name."
          }
        },
        "containerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The container Name"
          }
        },
        "properties": {
          "target": "com.azure.databoxedge#ContainerPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The container properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.databoxedge#ContainerPropertiesInput": {
      "type": "structure",
      "members": {
        "dataFormat": {
          "target": "com.azure.databoxedge#AzureContainerDataFormat",
          "traits": {
            "smithy.api#documentation": "DataFormat for Container",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The container properties."
      }
    },
    "com.azure.databoxedge#ContainersGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.databoxedge#ContainersGetRequest"
      },
      "output": {
        "target": "com.azure.databoxedge#ContainersGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/storageAccounts/{storageAccountName}/containers/{containerName}",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Gets a container by name.\n\nGets a container by name.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.databoxedge#ContainersGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.databoxedge#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.databoxedge#ContainerProperties",
          "traits": {
            "smithy.api#documentation": "The container properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.databoxedge#ContainersGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "deviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The device name."
          }
        },
        "storageAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The storage account name."
          }
        },
        "containerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The container Name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.databoxedge#ContainersListByStorageAccount": {
      "type": "operation",
      "input": {
        "target": "com.azure.databoxedge#ContainersListByStorageAccountRequest"
      },
      "output": {
        "target": "com.azure.databoxedge#ContainerList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/storageAccounts/{storageAccountName}/containers",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Lists all the containers of a storage Account in a Data Box Edge/Data Box Gateway device.\n\nLists all the containers of a storage Account in a Data Box Edge/Data Box Gateway device.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.databoxedge#ContainerList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.databoxedge#ContainerListValueList",
          "traits": {
            "smithy.api#documentation": "The Container items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collection of all the containers on the Data Box Edge/Gateway device."
      }
    },
    "com.azure.databoxedge#ContainerListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.databoxedge#Container"
      },
      "traits": {
        "smithy.api#documentation": "The Container items on this page"
      }
    },
    "com.azure.databoxedge#Container": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.databoxedge#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.databoxedge#ContainerProperties",
          "traits": {
            "smithy.api#documentation": "The container properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a container on the  Data Box Edge/Gateway device."
      }
    },
    "com.azure.databoxedge#ContainersListByStorageAccountRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "deviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The device name."
          }
        },
        "storageAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The storage account name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.databoxedge#StorageAccountsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.databoxedge#StorageAccountsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/storageAccounts/{storageAccountName}",
          "code": 200,
          "apiVersion": "2023-12-01"
        },
        "smithy.api#documentation": "Deletes the StorageAccount on the Data Box Edge/Data Box Gateway device.",
        "com.distilled.openapi#apiVersion": "2023-12-01"
      }
    },
    "com.azure.databoxedge#StorageAccountsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "deviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The device name."
          }
        },
        "storageAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The storage account name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.databoxedge#StorageAccountsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.databoxedge#StorageAccountsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.databoxedge#StorageAccountsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
[...]
