{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.dataprotection#ResourceGuardsGetDefaultUpdateProtectionPolicyRequestsObject": {
      "type": "operation",
      "input": {
        "target": "com.azure.dataprotection#ResourceGuardsGetDefaultUpdateProtectionPolicyRequestsObjectRequest"
      },
      "output": {
        "target": "com.azure.dataprotection#ResourceGuardsGetDefaultUpdateProtectionPolicyRequestsObjectResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/updateProtectionPolicyRequests/{requestName}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Returns collection of operation request objects for a critical operation protected by the given ResourceGuard resource.",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetDefaultUpdateProtectionPolicyRequestsObjectResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dataprotection#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.dataprotection#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.dataprotection#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.dataprotection#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.dataprotection#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.dataprotection#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetDefaultUpdateProtectionPolicyRequestsObjectRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceGuardsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the ResourceGuardResource"
          }
        },
        "requestName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the DppBaseResource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetUpdateProtectionPolicyRequestsObjects": {
      "type": "operation",
      "input": {
        "target": "com.azure.dataprotection#ResourceGuardsGetUpdateProtectionPolicyRequestsObjectsRequest"
      },
      "output": {
        "target": "com.azure.dataprotection#DppBaseResourceList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/updateProtectionPolicyRequests",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Returns collection of operation request objects for a critical operation protected by the given ResourceGuard resource.",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.dataprotection#DppBaseResourceList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.dataprotection#DppBaseResourceListValueList",
          "traits": {
            "smithy.api#documentation": "The DppBaseResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Base for all lists of V2 resources."
      }
    },
    "com.azure.dataprotection#DppBaseResourceListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.dataprotection#Resource"
      },
      "traits": {
        "smithy.api#documentation": "The DppBaseResource items on this page"
      }
    },
    "com.azure.dataprotection#Resource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dataprotection#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Common fields that are returned in the response for all Azure Resource Manager resources"
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetUpdateProtectionPolicyRequestsObjectsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceGuardsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the ResourceGuardResource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetDefaultUpdateProtectedItemRequestsObject": {
      "type": "operation",
      "input": {
        "target": "com.azure.dataprotection#ResourceGuardsGetDefaultUpdateProtectedItemRequestsObjectRequest"
      },
      "output": {
        "target": "com.azure.dataprotection#ResourceGuardsGetDefaultUpdateProtectedItemRequestsObjectResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/updateProtectedItemRequests/{requestName}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Returns collection of operation request objects for a critical operation protected by the given ResourceGuard resource.",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetDefaultUpdateProtectedItemRequestsObjectResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dataprotection#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetDefaultUpdateProtectedItemRequestsObjectRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceGuardsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the ResourceGuardResource"
          }
        },
        "requestName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the DppBaseResource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetUpdateProtectedItemRequestsObjects": {
      "type": "operation",
      "input": {
        "target": "com.azure.dataprotection#ResourceGuardsGetUpdateProtectedItemRequestsObjectsRequest"
      },
      "output": {
        "target": "com.azure.dataprotection#DppBaseResourceList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/updateProtectedItemRequests",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Returns collection of operation request objects for a critical operation protected by the given ResourceGuard resource.",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetUpdateProtectedItemRequestsObjectsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceGuardsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the ResourceGuardResource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetDefaultBackupSecurityPINRequestsObject": {
      "type": "operation",
      "input": {
        "target": "com.azure.dataprotection#ResourceGuardsGetDefaultBackupSecurityPINRequestsObjectRequest"
      },
      "output": {
        "target": "com.azure.dataprotection#ResourceGuardsGetDefaultBackupSecurityPINRequestsObjectResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/getBackupSecurityPINRequests/{requestName}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Returns collection of operation request objects for a critical operation protected by the given ResourceGuard resource.",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetDefaultBackupSecurityPINRequestsObjectResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dataprotection#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetDefaultBackupSecurityPINRequestsObjectRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceGuardsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the ResourceGuardResource"
          }
        },
        "requestName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the DppBaseResource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetBackupSecurityPINRequestsObjects": {
      "type": "operation",
      "input": {
        "target": "com.azure.dataprotection#ResourceGuardsGetBackupSecurityPINRequestsObjectsRequest"
      },
      "output": {
        "target": "com.azure.dataprotection#DppBaseResourceList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/getBackupSecurityPINRequests",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Returns collection of operation request objects for a critical operation protected by the given ResourceGuard resource.",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetBackupSecurityPINRequestsObjectsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceGuardsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the ResourceGuardResource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetDefaultDisableSoftDeleteRequestsObject": {
      "type": "operation",
      "input": {
        "target": "com.azure.dataprotection#ResourceGuardsGetDefaultDisableSoftDeleteRequestsObjectRequest"
      },
      "output": {
        "target": "com.azure.dataprotection#ResourceGuardsGetDefaultDisableSoftDeleteRequestsObjectResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/disableSoftDeleteRequests/{requestName}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Returns collection of operation request objects for a critical operation protected by the given ResourceGuard resource.",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetDefaultDisableSoftDeleteRequestsObjectResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dataprotection#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetDefaultDisableSoftDeleteRequestsObjectRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceGuardsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the ResourceGuardResource"
          }
        },
        "requestName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the DppBaseResource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetDisableSoftDeleteRequestsObjects": {
      "type": "operation",
      "input": {
        "target": "com.azure.dataprotection#ResourceGuardsGetDisableSoftDeleteRequestsObjectsRequest"
      },
      "output": {
        "target": "com.azure.dataprotection#DppBaseResourceList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/disableSoftDeleteRequests",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Returns collection of operation request objects for a critical operation protected by the given ResourceGuard resource.",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetDisableSoftDeleteRequestsObjectsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceGuardsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the ResourceGuardResource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetDefaultDeleteResourceGuardProxyRequestsObject": {
      "type": "operation",
      "input": {
        "target": "com.azure.dataprotection#ResourceGuardsGetDefaultDeleteResourceGuardProxyRequestsObjectRequest"
      },
      "output": {
        "target": "com.azure.dataprotection#ResourceGuardsGetDefaultDeleteResourceGuardProxyRequestsObjectResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/deleteResourceGuardProxyRequests/{requestName}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Returns collection of operation request objects for a critical operation protected by the given ResourceGuard resource.",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetDefaultDeleteResourceGuardProxyRequestsObjectResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dataprotection#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetDefaultDeleteResourceGuardProxyRequestsObjectRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceGuardsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the ResourceGuardResource"
          }
        },
        "requestName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the DppBaseResource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetDeleteResourceGuardProxyRequestsObjects": {
      "type": "operation",
      "input": {
        "target": "com.azure.dataprotection#ResourceGuardsGetDeleteResourceGuardProxyRequestsObjectsRequest"
      },
      "output": {
        "target": "com.azure.dataprotection#DppBaseResourceList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/deleteResourceGuardProxyRequests",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Returns collection of operation request objects for a critical operation protected by the given ResourceGuard resource.",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetDeleteResourceGuardProxyRequestsObjectsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceGuardsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the ResourceGuardResource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetDefaultDeleteProtectedItemRequestsObject": {
      "type": "operation",
      "input": {
        "target": "com.azure.dataprotection#ResourceGuardsGetDefaultDeleteProtectedItemRequestsObjectRequest"
      },
      "output": {
        "target": "com.azure.dataprotection#ResourceGuardsGetDefaultDeleteProtectedItemRequestsObjectResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/deleteProtectedItemRequests/{requestName}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Returns collection of operation request objects for a critical operation protected by the given ResourceGuard resource.",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetDefaultDeleteProtectedItemRequestsObjectResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dataprotection#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetDefaultDeleteProtectedItemRequestsObjectRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceGuardsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the ResourceGuardResource"
          }
        },
        "requestName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the DppBaseResource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetDeleteProtectedItemRequestsObjects": {
      "type": "operation",
      "input": {
        "target": "com.azure.dataprotection#ResourceGuardsGetDeleteProtectedItemRequestsObjectsRequest"
      },
      "output": {
        "target": "com.azure.dataprotection#DppBaseResourceList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/deleteProtectedItemRequests",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Returns collection of operation request objects for a critical operation protected by the given ResourceGuard resource.",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetDeleteProtectedItemRequestsObjectsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceGuardsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the ResourceGuardResource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dataprotection#ResourceGuardsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.dataprotection#ResourceGuardsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Deletes a ResourceGuard resource from the resource group.",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.dataprotection#ResourceGuardsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceGuardsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of ResourceGuard"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dataprotection#ResourceGuardsPatch": {
      "type": "operation",
      "input": {
        "target": "com.azure.dataprotection#ResourceGuardsPatchRequest"
      },
      "output": {
        "target": "com.azure.dataprotection#ResourceGuardsPatchResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Updates a ResourceGuard resource belonging to a resource group. For example, updating tags for a resource.",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.dataprotection#ResourceGuardsPatchResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dataprotection#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.dataprotection#ResourceGuardsPatchResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.dataprotection#ResourceGuard",
          "traits": {
            "smithy.api#documentation": "ResourceGuardResource properties"
          }
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional ETag."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.dataprotection#ResourceGuard": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.dataprotection#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the BackupVault resource"
          }
        },
        "allowAutoApprovals": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "This flag indicates whether auto approval is allowed or not."
          }
        },
        "resourceGuardOperations": {
          "target": "com.azure.dataprotection#ResourceGuardResourceGuardOperationsList",
          "traits": {
            "smithy.api#documentation": "{readonly} List of operation details those are protected by the ResourceGuard resource"
          }
        },
        "vaultCriticalOperationExclusionList": {
          "target": "com.azure.dataprotection#ResourceGuardVaultCriticalOperationExclusionListList",
          "traits": {
            "smithy.api#documentation": "List of critical operations which are not protected by this resourceGuard"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description about the pre-req steps to perform all the critical operations."
          }
        }
      },
      "traits": {}
    },
    "com.azure.dataprotection#ResourceGuardVaultCriticalOperationExclusionListList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of critical operations which are not protected by this resourceGuard"
      }
    },
    "com.azure.dataprotection#ResourceGuardResourceGuardOperationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.dataprotection#ResourceGuardOperation"
      },
      "traits": {
        "smithy.api#documentation": "{readonly} List of operation details those are protected by the ResourceGuard resource"
      }
    },
    "com.azure.dataprotection#ResourceGuardOperation": {
      "type": "structure",
      "members": {
        "vaultCriticalOperation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the critical operation."
          }
        },
        "requestResourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of resource request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This class contains all the details about a critical operation."
      }
    },
    "com.azure.dataprotection#ProvisioningState": {
      "type": "enum",
      "members": {
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provisioning state of the BackupVault resource"
      }
    },
    "com.azure.dataprotection#ResourceGuardsPatchResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.dataprotection#ResourceGuardsPatchRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceGuardsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of ResourceGuard"
          }
        },
        "tags": {
          "target": "com.azure.dataprotection#ResourceGuardsPatchRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource Guard tags."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dataprotection#ResourceGuardsPatchRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource Guard tags."
      }
    },
    "com.azure.dataprotection#ResourceGuardsPut": {
      "type": "operation",
      "input": {
        "target": "com.azure.dataprotection#ResourceGuardsPutRequest"
      },
      "output": {
        "target": "com.azure.dataprotection#ResourceGuardsPutResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Creates or updates a ResourceGuard resource belonging to a resource group.",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.dataprotection#ResourceGuardsPutResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dataprotection#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.dataprotection#ResourceGuardsPutResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.dataprotection#ResourceGuard",
          "traits": {
            "smithy.api#documentation": "ResourceGuardResource properties"
          }
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional ETag."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.dataprotection#ResourceGuardsPutResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.dataprotection#ResourceGuardsPutRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceGuardsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of ResourceGuard"
          }
        },
        "tags": {
          "target": "com.azure.dataprotection#ResourceGuardsPutRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.dataprotection#ResourceGuardInput",
          "traits": {
            "smithy.api#documentation": "ResourceGuardResource properties"
          }
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional ETag."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dataprotection#ResourceGuardInput": {
      "type": "structure",
      "members": {
        "vaultCriticalOperationExclusionList": {
          "target": "com.azure.dataprotection#ResourceGuardInputVaultCriticalOperationExclusionListList",
          "traits": {
            "smithy.api#documentation": "List of critical operations which are not protected by this resourceGuard"
          }
        }
      },
      "traits": {}
    },
    "com.azure.dataprotection#ResourceGuardInputVaultCriticalOperationExclusionListList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of critical operations which are not protected by this resourceGuard"
      }
    },
    "com.azure.dataprotection#ResourceGuardsPutRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.dataprotection#ResourceGuardsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.dataprotection#ResourceGuardsGetRequest"
      },
      "output": {
        "target": "com.azure.dataprotection#ResourceGuardsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Returns a ResourceGuard belonging to a resource group.",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dataprotection#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.dataprotection#ResourceGuardsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.dataprotection#ResourceGuard",
          "traits": {
            "smithy.api#documentation": "ResourceGuardResource properties"
          }
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional ETag."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceGuardsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of ResourceGuard"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetResourcesInResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.dataprotection#ResourceGuardsGetResourcesInResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.dataprotection#ResourceGuardsGetResourcesInResourceGroupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Returns ResourceGuards collection belonging to a ResourceGroup.",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetResourcesInResourceGroupResponse": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The uri to fetch the next page of resources. Call ListNext() fetches next page of resources."
          }
        },
        "value": {
          "target": "com.azure.dataprotection#ResourceGuardsGetResourcesInResourceGroupResponseValueList",
          "traits": {
            "smithy.api#documentation": "List of resources."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetResourcesInResourceGroupResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.dataprotection#ResourceGuardResource"
      },
      "traits": {
        "smithy.api#documentation": "List of resources."
      }
    },
    "com.azure.dataprotection#ResourceGuardResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dataprotection#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.dataprotection#ResourceGuardResourceTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.dataprotection#ResourceGuard",
          "traits": {
            "smithy.api#documentation": "ResourceGuardResource properties"
          }
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional ETag."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Concrete tracked resource types can be created by aliasing this type using a specific property type."
      }
    },
    "com.azure.dataprotection#ResourceGuardResourceTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.dataprotection#ResourceGuardsGetResourcesInResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dataprotection#OperationStatusResourceGroupContextGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.dataprotection#OperationStatusResourceGroupContextGetRequest"
      },
      "output": {
        "target": "com.azure.dataprotection#OperationResource"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/operationStatus/{operationId}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Gets the operation status for an operation over a ResourceGroup's context.\n\nGets the operation status for an operation over a ResourceGroup's context.",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.dataprotection#OperationResource": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time of the operation"
          }
        },
        "error": {
          "target": "com.azure.dataprotection#Error",
          "traits": {
            "smithy.api#documentation": "Required if status == failed or status == canceled. This is the OData v4 error format, used by the RPC and will go into the v2.2 Azure REST API guidelines.\nThe full set of optional properties (e.g. inner errors / details) can be found in the \"Error Response\" section."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "It should match what is used to GET the operation result"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "It must match the last segment of the \"id\" field, and will typically be a GUID / system generated value"
          }
        },
        "properties": {
          "target": "com.azure.dataprotection#OperationExtendedInfo",
          "traits": {
            "smithy.api#documentation": "End time of the operation"
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time of the operation"
          }
        },
        "status": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Operation Resource"
      }
    },
    "com.azure.dataprotection#OperationExtendedInfo": {
      "type": "structure",
      "members": {
        "objectType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This property will be used as the discriminator for deciding the specific types in the polymorphic chain of types.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Operation Extended Info"
      }
    },
    "com.azure.dataprotection#Error": {
      "type": "structure",
      "members": {
        "additionalInfo": {
          "target": "com.azure.dataprotection#ErrorAdditionalInfoList",
          "traits": {
            "smithy.api#documentation": "The error additional info."
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error code."
          }
        },
        "details": {
          "target": "com.azure.dataprotection#ErrorDetailsList",
          "traits": {
            "smithy.api#documentation": "The error details."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error target."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource management error response."
      }
    },
    "com.azure.dataprotection#ErrorDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.dataprotection#Error"
      },
      "traits": {
        "smithy.api#documentation": "The error details."
      }
    },
    "com.azure.dataprotection#ErrorAdditionalInfoList": {
      "type": "list",
      "member": {
        "target": "com.azure.dataprotection#ErrorAdditionalInfoItem"
      },
      "traits": {
        "smithy.api#documentation": "The error additional info."
      }
    },
    "com.azure.dataprotection#ErrorAdditionalInfoItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The additional info type."
          }
        },
        "info": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource management error additional info."
      }
    },
    "com.azure.dataprotection#OperationStatusResourceGroupContextGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dataprotection#BackupInstancesValidateCrossRegionRestore": {
      "type": "operation",
      "input": {
        "target": "com.azure.dataprotection#BackupInstancesValidateCrossRegionRestoreRequest"
      },
      "output": {
        "target": "com.azure.dataprotection#BackupInstancesValidateCrossRegionRestoreResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/locations/{location}/validateCrossRegionRestore",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Validates whether Cross Region Restore can be triggered for DataSource.",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.dataprotection#BackupInstancesValidateCrossRegionRestoreResponse": {
      "type": "structure",
      "members": {
        "objectType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This property will be used as the discriminator for deciding the specific types in the polymorphic chain of types.",
            "smithy.api#required": {}
          }
        },
        "jobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name or Arm Id of the job created for this operation."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.dataprotection#BackupInstancesValidateCrossRegionRestoreRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure region."
          }
        },
        "restoreRequestObject": {
          "target": "com.azure.dataprotection#AzureBackupRestoreRequest",
          "traits": {
            "smithy.api#documentation": "Gets or sets the restore request object.",
            "smithy.api#required": {}
          }
        },
        "crossRegionRestoreDetails": {
          "target": "com.azure.dataprotection#CrossRegionRestoreDetails",
          "traits": {
            "smithy.api#documentation": "Cross region restore details.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dataprotection#CrossRegionRestoreDetails": {
      "type": "structure",
      "members": {
        "sourceRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sourceBackupInstanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cross Region Restore details"
      }
    },
    "com.azure.dataprotection#AzureBackupRestoreRequest": {
      "type": "structure",
      "members": {
        "objectType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "restoreTargetInfo": {
          "target": "com.azure.dataprotection#RestoreTargetInfoBase",
          "traits": {
            "smithy.api#documentation": "Gets or sets the restore target information.",
            "smithy.api#required": {}
          }
        },
        "sourceDataStoreType": {
          "target": "com.azure.dataprotection#SourceDataStoreType",
          "traits": {
            "smithy.api#documentation": "Gets or sets the type of the source data store.",
            "smithy.api#required": {}
          }
        },
        "sourceResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified Azure Resource Manager ID of the datasource which is being recovered."
          }
        },
        "resourceGuardOperationRequests": {
          "target": "com.azure.dataprotection#AzureBackupRestoreRequestResourceGuardOperationRequestsList",
          "traits": {
            "smithy.api#documentation": "ResourceGuardOperationRequests on which LAC check will be performed"
          }
        },
        "identityDetails": {
          "target": "com.azure.dataprotection#IdentityDetails",
          "traits": {
            "smithy.api#documentation": "Contains information of the Identity Details for the BI.\nIf it is null, default will be considered as System Assigned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Azure backup restore request"
      }
    },
    "com.azure.dataprotection#IdentityDetails": {
      "type": "structure",
      "members": {
        "useSystemAssignedIdentity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies if the BI is protected by System Identity."
          }
        },
        "userAssignedIdentityArmUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ARM URL for User Assigned Identity."
          }
        }
      },
      "traits": {}
    },
    "com.azure.dataprotection#AzureBackupRestoreRequestResourceGuardOperationRequestsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "ResourceGuardOperationRequests on which LAC check will be performed"
      }
    },
    "com.azure.dataprotection#SourceDataStoreType": {
      "type": "enum",
      "members": {
        "ARCHIVESTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ArchiveStore"
          }
        },
        "SNAPSHOTSTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SnapshotStore"
          }
        },
        "OPERATIONALSTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OperationalStore"
          }
        },
        "VAULTSTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VaultStore"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the type of the source data store."
      }
    },
    "com.azure.dataprotection#RestoreTargetInfoBase": {
      "type": "structure",
      "members": {
        "objectType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of Datasource object, used to initialize the right inherited type",
            "smithy.api#required": {}
          }
        },
        "recoveryOption": {
          "target": "com.azure.dataprotection#RecoveryOption",
          "traits": {
            "smithy.api#documentation": "Recovery Option",
            "smithy.api#required": {}
          }
        },
        "restoreLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target Restore region"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Base class common to RestoreTargetInfo and RestoreFilesTargetInfo"
      }
    },
    "com.azure.dataprotection#RecoveryOption": {
      "type": "enum",
      "members": {
        "FAILIFEXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FailIfExists"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Recovery Option"
      }
    },
    "com.azure.dataprotection#FetchSecondaryRecoveryPointsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.dataprotection#FetchSecondaryRecoveryPointsListRequest"
      },
      "output": {
        "target": "com.azure.dataprotection#FetchSecondaryRecoveryPointsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/locations/{location}/fetchSecondaryRecoveryPoints",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Returns a list of Secondary Recovery Points for a DataSource in a vault, that can be used for Cross Region Restore.",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.dataprotection#FetchSecondaryRecoveryPointsListResponse": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The uri to fetch the next page of resources. Call ListNext() fetches next page of resources."
          }
        },
        "value": {
          "target": "com.azure.dataprotection#FetchSecondaryRecoveryPointsListResponseValueList",
          "traits": {
            "smithy.api#documentation": "List of resources."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.dataprotection#FetchSecondaryRecoveryPointsListResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.dataprotection#AzureBackupRecoveryPointResource"
      },
      "traits": {
        "smithy.api#documentation": "List of resources."
      }
    },
    "com.azure.dataprotection#AzureBackupRecoveryPointResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dataprotection#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.dataprotection#AzureBackupRecoveryPoint",
          "traits": {
            "smithy.api#documentation": "AzureBackupRecoveryPointResource properties"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Azure backup recoveryPoint resource"
      }
    },
    "com.azure.dataprotection#AzureBackupRecoveryPoint": {
      "type": "structure",
      "members": {
        "objectType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Azure backup recoveryPoint"
      }
    },
    "com.azure.dataprotection#FetchSecondaryRecoveryPointsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure region."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "OData filter options."
          }
        },
        "_skipToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skipToken",
            "smithy.api#documentation": "skipToken Filter."
          }
        },
        "sourceRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source region in which BackupInstance is located"
          }
        },
        "sourceBackupInstanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ARM Path of BackupInstance"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dataprotection#FetchCrossRegionRestoreJobsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.dataprotection#FetchCrossRegionRestoreJobsListRequest"
      },
      "output": {
        "target": "com.azure.dataprotection#FetchCrossRegionRestoreJobsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/locations/{location}/fetchCrossRegionRestoreJobs",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Fetches list of Cross Region Restore job belonging to the vault",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.dataprotection#FetchCrossRegionRestoreJobsListResponse": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The uri to fetch the next page of resources. Call ListNext() fetches next page of resources."
          }
        },
        "value": {
          "target": "com.azure.dataprotection#FetchCrossRegionRestoreJobsListResponseValueList",
          "traits": {
            "smithy.api#documentation": "List of resources."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.dataprotection#FetchCrossRegionRestoreJobsListResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.dataprotection#AzureBackupJobResource"
      },
      "traits": {
        "smithy.api#documentation": "List of resources."
      }
    },
    "com.azure.dataprotection#AzureBackupJobResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dataprotection#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.dataprotection#AzureBackupJob",
          "traits": {
            "smithy.api#documentation": "AzureBackupJobResource properties"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AzureBackup Job Resource Class"
      }
    },
    "com.azure.dataprotection#AzureBackupJob": {
      "type": "structure",
      "members": {
        "activityID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Job Activity Id",
            "smithy.api#required": {}
          }
        },
        "backupInstanceFriendlyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Backup Instance",
            "smithy.api#required": {}
          }
        },
        "backupInstanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ARM ID of the Backup Instance"
          }
        },
        "dataSourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ARM ID of the DataSource",
            "smithy.api#required": {}
          }
        },
        "dataSourceLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the DataSource",
            "smithy.api#required": {}
          }
        },
        "dataSourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User Friendly Name of the DataSource",
            "smithy.api#required": {}
          }
        },
        "dataSourceSetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Data Source Set Name of the DataSource"
          }
        },
        "dataSourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of DataSource",
            "smithy.api#required": {}
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total run time of the job. ISO 8601 format."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "EndTime of the job(in UTC)"
          }
        },
        "errorDetails": {
          "target": "com.azure.dataprotection#AzureBackupJobErrorDetailsList",
          "traits": {
            "smithy.api#documentation": "A List, detailing the errors related to the job"
          }
        },
        "extendedInfo": {
          "target": "com.azure.dataprotection#JobExtendedInfo",
          "traits": {
            "smithy.api#documentation": "Extended Information about the job"
          }
        },
        "isUserTriggered": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicated that whether the job is adhoc(true) or scheduled(false)",
            "smithy.api#required": {}
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "It indicates the type of Job i.e. Backup:full/log/diff ;Restore:ALR/OLR; Tiering:Backup/Archive ; Management:ConfigureProtection/UnConfigure",
            "smithy.api#required": {}
          }
        },
        "operationCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "It indicates the type of Job i.e. Backup/Restore/Tiering/Management",
            "smithy.api#required": {}
          }
        },
        "policyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ARM ID of the policy"
          }
        },
        "policyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the policy"
          }
        },
        "progressEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicated whether progress is enabled for the job",
            "smithy.api#required": {}
          }
        },
        "progressUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Url which contains job's progress"
          }
        },
        "rehydrationPriority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Priority to be used for rehydration"
          }
        },
        "restoreType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "It indicates the sub type of operation i.e. in case of Restore it can be ALR/OLR"
          }
        },
        "sourceResourceGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Group Name of the Datasource",
            "smithy.api#required": {}
          }
        },
        "sourceSubscriptionID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SubscriptionId corresponding to the DataSource",
            "smithy.api#required": {}
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "StartTime of the job(in UTC)",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the job like InProgress/Completed/Failed/Cancelled/CompletedWithWarnings/Cancelling/Paused",
            "smithy.api#required": {}
          }
        },
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subscription Id of the corresponding backup vault",
            "smithy.api#required": {}
          }
        },
        "supportedActions": {
          "target": "com.azure.dataprotection#AzureBackupJobSupportedActionsList",
          "traits": {
            "smithy.api#documentation": "List of supported actions",
            "smithy.api#required": {}
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the vault",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String"
        },
        "sourceDataStoreName": {
          "target": "smithy.api#String"
        },
        "destinationDataStoreName": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "AzureBackup Job Class"
      }
    },
    "com.azure.dataprotection#AzureBackupJobSupportedActionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of supported actions"
      }
    },
    "com.azure.dataprotection#JobExtendedInfo": {
      "type": "structure",
      "members": {
        "additionalDetails": {
          "target": "com.azure.dataprotection#JobExtendedInfoAdditionalDetailsMap",
          "traits": {
            "smithy.api#documentation": "Job's Additional Details"
          }
        },
        "backupInstanceState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of the Backup Instance"
          }
        },
        "dataTransferredInBytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of bytes transferred"
          }
        },
        "recoveryDestination": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Destination where restore is done"
          }
        },
        "sourceRecoverPoint": {
          "target": "com.azure.dataprotection#RestoreJobRecoveryPointDetails",
          "traits": {
            "smithy.api#documentation": "Details of the Source Recovery Point"
          }
        },
        "subTasks": {
          "target": "com.azure.dataprotection#JobExtendedInfoSubTasksList",
          "traits": {
            "smithy.api#documentation": "List of Sub Tasks of the job"
          }
        },
        "targetRecoverPoint": {
          "target": "com.azure.dataprotection#RestoreJobRecoveryPointDetails",
          "traits": {
            "smithy.api#documentation": "Details of the Target Recovery Point"
          }
        },
        "warningDetails": {
          "target": "com.azure.dataprotection#JobExtendedInfoWarningDetailsList",
          "traits": {
            "smithy.api#documentation": "A List, detailing the warnings related to the job"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Extended Information about the job"
      }
    },
    "com.azure.dataprotection#JobExtendedInfoWarningDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.dataprotection#UserFacingWarningDetail"
      },
      "traits": {
        "smithy.api#documentation": "A List, detailing the warnings related to the job"
      }
    },
    "com.azure.dataprotection#UserFacingWarningDetail": {
      "type": "structure",
      "members": {
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of resource for which warning is raised."
          }
        },
        "warning": {
          "target": "com.azure.dataprotection#UserFacingError",
          "traits": {
            "smithy.api#documentation": "Error details for the warning.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Warning object used by layers that have access to localized content, and propagate that to user"
      }
    },
    "com.azure.dataprotection#UserFacingError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique code for this error"
          }
        },
        "details": {
          "target": "com.azure.dataprotection#UserFacingErrorDetailsList",
          "traits": {
            "smithy.api#documentation": "Additional related Errors"
          }
        },
        "innerError": {
          "target": "com.azure.dataprotection#InnerError",
          "traits": {
            "smithy.api#documentation": "Inner Error"
          }
        },
        "isRetryable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the operation will be retryable or not"
          }
        },
        "isUserError": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the operation is due to a user error or service error"
          }
        },
        "properties": {
          "target": "com.azure.dataprotection#UserFacingErrorPropertiesMap",
          "traits": {
            "smithy.api#documentation": "Any key value pairs that can be injected inside error object"
          }
        },
        "message": {
          "target": "smithy.api#String"
        },
        "recommendedAction": {
          "target": "com.azure.dataprotection#UserFacingErrorRecommendedActionList",
          "traits": {
            "smithy.api#documentation": "RecommendedAction � localized."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target of the error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error object used by layers that have access to localized content, and propagate that to user"
      }
    },
    "com.azure.dataprotection#UserFacingErrorRecommendedActionList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "RecommendedAction � localized."
      }
    },
    "com.azure.dataprotection#UserFacingErrorPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
[...]
