{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.desktopvirtualization#PrivateEndpointConnectionsDeleteByHostPool": {
      "type": "operation",
      "input": {
        "target": "com.azure.desktopvirtualization#PrivateEndpointConnectionsDeleteByHostPoolRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2025-10-10"
        },
        "smithy.api#documentation": "Remove a connection.",
        "com.distilled.openapi#apiVersion": "2025-10-10"
      }
    },
    "com.azure.desktopvirtualization#PrivateEndpointConnectionsDeleteByHostPoolRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "hostPoolName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the host pool within the specified resource group"
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection associated with the Azure resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.desktopvirtualization#PrivateEndpointConnectionsUpdateByHostPool": {
      "type": "operation",
      "input": {
        "target": "com.azure.desktopvirtualization#PrivateEndpointConnectionsUpdateByHostPoolRequest"
      },
      "output": {
        "target": "com.azure.desktopvirtualization#PrivateEndpointConnectionsUpdateByHostPoolResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2025-10-10"
        },
        "smithy.api#documentation": "Approve or reject a private endpoint connection.",
        "com.distilled.openapi#apiVersion": "2025-10-10"
      }
    },
    "com.azure.desktopvirtualization#PrivateEndpointConnectionsUpdateByHostPoolResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.desktopvirtualization#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.desktopvirtualization#PrivateEndpointConnectionsUpdateByHostPoolResponseProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the private endpoint connection."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.desktopvirtualization#PrivateEndpointConnectionsUpdateByHostPoolResponseProperties": {
      "type": "structure",
      "members": {
        "groupIds": {
          "target": "com.azure.desktopvirtualization#PrivateEndpointConnectionsUpdateByHostPoolResponsePropertiesGroupIdsList",
          "traits": {
            "smithy.api#documentation": "The group ids for the private endpoint resource."
          }
        },
        "privateEndpoint": {
          "target": "com.azure.desktopvirtualization#PrivateEndpoint",
          "traits": {
            "smithy.api#documentation": "The private endpoint resource."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.desktopvirtualization#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.desktopvirtualization#PrivateEndpointConnectionProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the private endpoint connection resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the private endpoint connection."
      }
    },
    "com.azure.desktopvirtualization#PrivateEndpointConnectionProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current provisioning state."
      }
    },
    "com.azure.desktopvirtualization#PrivateLinkServiceConnectionState": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.desktopvirtualization#PrivateEndpointServiceConnectionStatus",
          "traits": {
            "smithy.api#documentation": "Indicates whether the connection has been Approved/Rejected/Removed by the owner of the service."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason for approval/rejection of the connection."
          }
        },
        "actionsRequired": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A message indicating if changes on the service provider require any updates on the consumer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider."
      }
    },
    "com.azure.desktopvirtualization#PrivateEndpointServiceConnectionStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint connection status."
      }
    },
    "com.azure.desktopvirtualization#PrivateEndpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ARM identifier for private endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint resource."
      }
    },
    "com.azure.desktopvirtualization#PrivateEndpointConnectionsUpdateByHostPoolResponsePropertiesGroupIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The group ids for the private endpoint resource."
      }
    },
    "com.azure.desktopvirtualization#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.desktopvirtualization#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.desktopvirtualization#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.desktopvirtualization#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.desktopvirtualization#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.desktopvirtualization#PrivateEndpointConnectionsUpdateByHostPoolRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "hostPoolName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the host pool within the specified resource group"
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection associated with the Azure resource."
          }
        },
        "properties": {
          "target": "com.azure.desktopvirtualization#PrivateEndpointConnectionsUpdateByHostPoolRequestProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the private endpoint connection."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.desktopvirtualization#PrivateEndpointConnectionsUpdateByHostPoolRequestProperties": {
      "type": "structure",
      "members": {
        "privateEndpoint": {
          "target": "com.azure.desktopvirtualization#PrivateEndpointInput",
          "traits": {
            "smithy.api#documentation": "The private endpoint resource."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.desktopvirtualization#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the private endpoint connection."
      }
    },
    "com.azure.desktopvirtualization#PrivateEndpointInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The private endpoint resource."
      }
    },
    "com.azure.desktopvirtualization#PrivateEndpointConnectionsGetByHostPool": {
      "type": "operation",
      "input": {
        "target": "com.azure.desktopvirtualization#PrivateEndpointConnectionsGetByHostPoolRequest"
      },
      "output": {
        "target": "com.azure.desktopvirtualization#PrivateEndpointConnectionsGetByHostPoolResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2025-10-10"
        },
        "smithy.api#documentation": "Get a private endpoint connection.",
        "com.distilled.openapi#apiVersion": "2025-10-10"
      }
    },
    "com.azure.desktopvirtualization#PrivateEndpointConnectionsGetByHostPoolResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.desktopvirtualization#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.desktopvirtualization#PrivateEndpointConnectionsGetByHostPoolResponseProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the private endpoint connection."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.desktopvirtualization#PrivateEndpointConnectionsGetByHostPoolResponseProperties": {
      "type": "structure",
      "members": {
        "groupIds": {
          "target": "com.azure.desktopvirtualization#PrivateEndpointConnectionsGetByHostPoolResponsePropertiesGroupIdsList",
          "traits": {
            "smithy.api#documentation": "The group ids for the private endpoint resource."
          }
        },
        "privateEndpoint": {
          "target": "com.azure.desktopvirtualization#PrivateEndpoint",
          "traits": {
            "smithy.api#documentation": "The private endpoint resource."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.desktopvirtualization#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.desktopvirtualization#PrivateEndpointConnectionProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the private endpoint connection resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the private endpoint connection."
      }
    },
    "com.azure.desktopvirtualization#PrivateEndpointConnectionsGetByHostPoolResponsePropertiesGroupIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The group ids for the private endpoint resource."
      }
    },
    "com.azure.desktopvirtualization#PrivateEndpointConnectionsGetByHostPoolRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "hostPoolName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the host pool within the specified resource group"
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection associated with the Azure resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.desktopvirtualization#PrivateEndpointConnectionsListByHostPool": {
      "type": "operation",
      "input": {
        "target": "com.azure.desktopvirtualization#PrivateEndpointConnectionsListByHostPoolRequest"
      },
      "output": {
        "target": "com.azure.desktopvirtualization#PrivateEndpointConnectionListResultWithSystemData"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/privateEndpointConnections",
          "code": 200,
          "apiVersion": "2025-10-10"
        },
        "smithy.api#documentation": "List private endpoint connections associated with hostpool.",
        "com.distilled.openapi#apiVersion": "2025-10-10"
      }
    },
    "com.azure.desktopvirtualization#PrivateEndpointConnectionListResultWithSystemData": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.desktopvirtualization#PrivateEndpointConnectionListResultWithSystemDataValueList",
          "traits": {
            "smithy.api#documentation": "Array of private endpoint connections"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of private endpoint connection associated with the specified storage account"
      }
    },
    "com.azure.desktopvirtualization#PrivateEndpointConnectionListResultWithSystemDataValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.desktopvirtualization#PrivateEndpointConnectionWithSystemData"
      },
      "traits": {
        "smithy.api#documentation": "Array of private endpoint connections"
      }
    },
    "com.azure.desktopvirtualization#PrivateEndpointConnectionWithSystemData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.desktopvirtualization#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.desktopvirtualization#PrivateEndpointConnectionWithSystemDataProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the private endpoint connection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Private Endpoint Connection resource."
      }
    },
    "com.azure.desktopvirtualization#PrivateEndpointConnectionWithSystemDataProperties": {
      "type": "structure",
      "members": {
        "groupIds": {
          "target": "com.azure.desktopvirtualization#PrivateEndpointConnectionWithSystemDataPropertiesGroupIdsList",
          "traits": {
            "smithy.api#documentation": "The group ids for the private endpoint resource."
          }
        },
        "privateEndpoint": {
          "target": "com.azure.desktopvirtualization#PrivateEndpoint",
          "traits": {
            "smithy.api#documentation": "The private endpoint resource."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.desktopvirtualization#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.desktopvirtualization#PrivateEndpointConnectionProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the private endpoint connection resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the private endpoint connection."
      }
    },
    "com.azure.desktopvirtualization#PrivateEndpointConnectionWithSystemDataPropertiesGroupIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The group ids for the private endpoint resource."
      }
    },
    "com.azure.desktopvirtualization#PrivateEndpointConnectionsListByHostPoolRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "hostPoolName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the host pool within the specified resource group"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize",
            "smithy.api#documentation": "Number of items per page."
          }
        },
        "isDescending": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "isDescending",
            "smithy.api#documentation": "Indicates whether the collection is descending."
          }
        },
        "initialSkip": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "initialSkip",
            "smithy.api#documentation": "Initial number of items to skip."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.desktopvirtualization#ScalingPlansListByHostPool": {
      "type": "operation",
      "input": {
        "target": "com.azure.desktopvirtualization#ScalingPlansListByHostPoolRequest"
      },
      "output": {
        "target": "com.azure.desktopvirtualization#ScalingPlanList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/scalingPlans",
          "code": 200,
          "apiVersion": "2025-10-10"
        },
        "smithy.api#documentation": "List scaling plan associated with hostpool.",
        "com.distilled.openapi#apiVersion": "2025-10-10"
      }
    },
    "com.azure.desktopvirtualization#ScalingPlanList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.desktopvirtualization#ScalingPlanListValueList",
          "traits": {
            "smithy.api#documentation": "List of scaling plan definitions."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of scaling plan definitions."
      }
    },
    "com.azure.desktopvirtualization#ScalingPlanListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.desktopvirtualization#ScalingPlan"
      },
      "traits": {
        "smithy.api#documentation": "List of scaling plan definitions."
      }
    },
    "com.azure.desktopvirtualization#ScalingPlan": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.desktopvirtualization#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.desktopvirtualization#ScalingPlanTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "managedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified resource ID of the resource that manages this resource. Indicates if this resource is managed by another Azure resource. If this is present, complete mode deployment will not delete the resource if it is removed from the template since it is managed by another resource."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type; e.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The etag field is *not* required. If it is provided in the response body, it must also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields. "
          }
        },
        "identity": {
          "target": "com.azure.desktopvirtualization#ScalingPlanIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (either system assigned, or none)"
          }
        },
        "sku": {
          "target": "com.azure.desktopvirtualization#ScalingPlanSku",
          "traits": {
            "smithy.api#documentation": "The resource model definition representing SKU"
          }
        },
        "plan": {
          "target": "com.azure.desktopvirtualization#ScalingPlanPlan",
          "traits": {
            "smithy.api#documentation": "Plan for the resource."
          }
        },
        "properties": {
          "target": "com.azure.desktopvirtualization#ScalingPlanProperties",
          "traits": {
            "smithy.api#documentation": "Detailed properties for scaling plan.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a scaling plan definition."
      }
    },
    "com.azure.desktopvirtualization#ScalingPlanProperties": {
      "type": "structure",
      "members": {
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ObjectId of scaling plan. (internal use)"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of scaling plan."
          }
        },
        "friendlyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User friendly name of scaling plan."
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timezone of the scaling plan.",
            "smithy.api#required": {}
          }
        },
        "hostPoolType": {
          "target": "com.azure.desktopvirtualization#ScalingPlanPropertiesHostPoolType",
          "traits": {
            "smithy.api#documentation": "HostPool type for desktop."
          }
        },
        "exclusionTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exclusion tag for scaling plan."
          }
        },
        "schedules": {
          "target": "com.azure.desktopvirtualization#ScalingPlanPropertiesSchedulesList",
          "traits": {
            "smithy.api#documentation": "List of ScalingPlanPooledSchedule definitions."
          }
        },
        "hostPoolReferences": {
          "target": "com.azure.desktopvirtualization#ScalingPlanPropertiesHostPoolReferencesList",
          "traits": {
            "smithy.api#documentation": "List of ScalingHostPoolReference definitions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Scaling plan properties."
      }
    },
    "com.azure.desktopvirtualization#ScalingPlanPropertiesHostPoolReferencesList": {
      "type": "list",
      "member": {
        "target": "com.azure.desktopvirtualization#ScalingHostPoolReference"
      },
      "traits": {
        "smithy.api#documentation": "List of ScalingHostPoolReference definitions."
      }
    },
    "com.azure.desktopvirtualization#ScalingHostPoolReference": {
      "type": "structure",
      "members": {
        "hostPoolArmPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Arm path of referenced hostpool."
          }
        },
        "scalingPlanEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is the scaling plan enabled for this hostpool."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Scaling plan reference to hostpool."
      }
    },
    "com.azure.desktopvirtualization#ScalingPlanPropertiesSchedulesList": {
      "type": "list",
      "member": {
        "target": "com.azure.desktopvirtualization#ScalingSchedule"
      },
      "traits": {
        "smithy.api#documentation": "List of ScalingPlanPooledSchedule definitions."
      }
    },
    "com.azure.desktopvirtualization#ScalingSchedule": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the ScalingPlanPooledSchedule."
          }
        },
        "daysOfWeek": {
          "target": "com.azure.desktopvirtualization#ScalingScheduleDaysOfWeekList",
          "traits": {
            "smithy.api#documentation": "Set of days of the week on which this schedule is active."
          }
        },
        "rampUpStartTime": {
          "target": "com.azure.desktopvirtualization#Time",
          "traits": {
            "smithy.api#documentation": "Starting time for ramp up period."
          }
        },
        "rampUpLoadBalancingAlgorithm": {
          "target": "com.azure.desktopvirtualization#ScalingScheduleRampUpLoadBalancingAlgorithm",
          "traits": {
            "smithy.api#documentation": "Load balancing algorithm for ramp up period."
          }
        },
        "rampUpMinimumHostsPct": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum host percentage for ramp up period."
          }
        },
        "rampUpCapacityThresholdPct": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Capacity threshold for ramp up period."
          }
        },
        "peakStartTime": {
          "target": "com.azure.desktopvirtualization#Time",
          "traits": {
            "smithy.api#documentation": "Starting time for peak period."
          }
        },
        "peakLoadBalancingAlgorithm": {
          "target": "com.azure.desktopvirtualization#ScalingSchedulePeakLoadBalancingAlgorithm",
          "traits": {
            "smithy.api#documentation": "Load balancing algorithm for peak period."
          }
        },
        "rampDownStartTime": {
          "target": "com.azure.desktopvirtualization#Time",
          "traits": {
            "smithy.api#documentation": "Starting time for ramp down period."
          }
        },
        "rampDownLoadBalancingAlgorithm": {
          "target": "com.azure.desktopvirtualization#ScalingScheduleRampDownLoadBalancingAlgorithm",
          "traits": {
            "smithy.api#documentation": "Load balancing algorithm for ramp down period."
          }
        },
        "rampDownMinimumHostsPct": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum host percentage for ramp down period."
          }
        },
        "rampDownCapacityThresholdPct": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Capacity threshold for ramp down period."
          }
        },
        "rampDownForceLogoffUsers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Should users be logged off forcefully from hosts."
          }
        },
        "rampDownStopHostsWhen": {
          "target": "com.azure.desktopvirtualization#ScalingScheduleRampDownStopHostsWhen",
          "traits": {
            "smithy.api#documentation": "Specifies when to stop hosts during ramp down period."
          }
        },
        "rampDownWaitTimeMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of minutes to wait to stop hosts during ramp down period."
          }
        },
        "rampDownNotificationMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Notification message for users during ramp down period."
          }
        },
        "offPeakStartTime": {
          "target": "com.azure.desktopvirtualization#Time",
          "traits": {
            "smithy.api#documentation": "Starting time for off-peak period."
          }
        },
        "offPeakLoadBalancingAlgorithm": {
          "target": "com.azure.desktopvirtualization#ScalingScheduleOffPeakLoadBalancingAlgorithm",
          "traits": {
            "smithy.api#documentation": "Load balancing algorithm for off-peak period."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A ScalingPlanPooledSchedule."
      }
    },
    "com.azure.desktopvirtualization#ScalingScheduleOffPeakLoadBalancingAlgorithm": {
      "type": "enum",
      "members": {
        "BREADTHFIRST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BreadthFirst"
          }
        },
        "DEPTHFIRST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DepthFirst"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Load balancing algorithm for off-peak period."
      }
    },
    "com.azure.desktopvirtualization#Time": {
      "type": "structure",
      "members": {
        "hour": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The hour.",
            "smithy.api#required": {}
          }
        },
        "minute": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The minute.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The time for a scaling action to occur."
      }
    },
    "com.azure.desktopvirtualization#ScalingScheduleRampDownStopHostsWhen": {
      "type": "enum",
      "members": {
        "ZEROSESSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZeroSessions"
          }
        },
        "ZEROACTIVESESSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZeroActiveSessions"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies when to stop hosts during ramp down period."
      }
    },
    "com.azure.desktopvirtualization#ScalingScheduleRampDownLoadBalancingAlgorithm": {
      "type": "enum",
      "members": {
        "BREADTHFIRST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BreadthFirst"
          }
        },
        "DEPTHFIRST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DepthFirst"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Load balancing algorithm for ramp down period."
      }
    },
    "com.azure.desktopvirtualization#ScalingSchedulePeakLoadBalancingAlgorithm": {
      "type": "enum",
      "members": {
        "BREADTHFIRST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BreadthFirst"
          }
        },
        "DEPTHFIRST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DepthFirst"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Load balancing algorithm for peak period."
      }
    },
    "com.azure.desktopvirtualization#ScalingScheduleRampUpLoadBalancingAlgorithm": {
      "type": "enum",
      "members": {
        "BREADTHFIRST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BreadthFirst"
          }
        },
        "DEPTHFIRST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DepthFirst"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Load balancing algorithm for ramp up period."
      }
    },
    "com.azure.desktopvirtualization#ScalingScheduleDaysOfWeekList": {
      "type": "list",
      "member": {
        "target": "com.azure.desktopvirtualization#ScalingScheduleDaysOfWeekItem"
      },
      "traits": {
        "smithy.api#documentation": "Set of days of the week on which this schedule is active."
      }
    },
    "com.azure.desktopvirtualization#ScalingScheduleDaysOfWeekItem": {
      "type": "enum",
      "members": {
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sunday"
          }
        },
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Monday"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Tuesday"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Wednesday"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Thursday"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Friday"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Saturday"
          }
        }
      },
      "traits": {}
    },
    "com.azure.desktopvirtualization#ScalingPlanPropertiesHostPoolType": {
      "type": "enum",
      "members": {
        "POOLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pooled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "HostPool type for desktop."
      }
    },
    "com.azure.desktopvirtualization#ScalingPlanPlan": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user defined name of the 3rd Party Artifact that is being procured.",
            "smithy.api#required": {}
          }
        },
        "publisher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The publisher of the 3rd Party Artifact that is being bought. E.g. NewRelic",
            "smithy.api#required": {}
          }
        },
        "product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The 3rd Party artifact that is being procured. E.g. NewRelic. Product maps to the OfferID specified for the artifact at the time of Data Market onboarding. ",
            "smithy.api#required": {}
          }
        },
        "promotionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A publisher provided promotion code as provisioned in Data Market for the said product/artifact."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the desired product/artifact."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Plan for the resource."
      }
    },
    "com.azure.desktopvirtualization#ScalingPlanSku": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the SKU. E.g. P3. It is typically a letter+number code",
            "smithy.api#required": {}
          }
        },
        "tier": {
          "target": "com.azure.desktopvirtualization#SkuTier"
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SKU size. When the name field is the combination of tier and some other value, this would be the standalone code. "
          }
        },
        "family": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the service has different generations of hardware, for the same SKU, then that can be captured here."
          }
        },
        "capacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If the SKU supports scale out/in then the capacity integer should be included. If scale out/in is not possible for the resource this may be omitted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource model definition representing SKU"
      }
    },
    "com.azure.desktopvirtualization#SkuTier": {
      "type": "enum",
      "members": {
        "FREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Free"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Basic"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Premium"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This field is required to be implemented by the Resource Provider if the service has more than one tier, but is not required on a PUT."
      }
    },
    "com.azure.desktopvirtualization#ScalingPlanIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.desktopvirtualization#SystemAssignedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (either system assigned, or none)"
      }
    },
    "com.azure.desktopvirtualization#SystemAssignedServiceIdentityType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of managed service identity (either system assigned, or none)."
      }
    },
    "com.azure.desktopvirtualization#ScalingPlanTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.desktopvirtualization#ScalingPlansListByHostPoolRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "hostPoolName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the host pool within the specified resource group"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize",
            "smithy.api#documentation": "Number of items per page."
          }
        },
        "isDescending": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "isDescending",
            "smithy.api#documentation": "Indicates whether the collection is descending."
          }
        },
        "initialSkip": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "initialSkip",
            "smithy.api#documentation": "Initial number of items to skip."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.desktopvirtualization#UserSessionsSendMessage": {
      "type": "operation",
      "input": {
        "target": "com.azure.desktopvirtualization#UserSessionsSendMessageRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/sessionHosts/{sessionHostName}/userSessions/{userSessionId}/sendMessage",
          "code": 200,
          "apiVersion": "2025-10-10"
        },
        "smithy.api#documentation": "Send a message to a user.",
        "com.distilled.openapi#apiVersion": "2025-10-10"
      }
    },
    "com.azure.desktopvirtualization#UserSessionsSendMessageRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "hostPoolName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the host pool within the specified resource group"
          }
        },
        "sessionHostName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the session host within the specified host pool"
          }
        },
        "userSessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the user session within the specified session host"
          }
        },
        "messageTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of message."
          }
        },
        "messageBody": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Body of message."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.desktopvirtualization#UserSessionsDisconnect": {
      "type": "operation",
      "input": {
        "target": "com.azure.desktopvirtualization#UserSessionsDisconnectRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/sessionHosts/{sessionHostName}/userSessions/{userSessionId}/disconnect",
          "code": 200,
          "apiVersion": "2025-10-10"
        },
        "smithy.api#documentation": "Disconnect a userSession.",
        "com.distilled.openapi#apiVersion": "2025-10-10"
      }
    },
    "com.azure.desktopvirtualization#UserSessionsDisconnectRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "hostPoolName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the host pool within the specified resource group"
          }
        },
        "sessionHostName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the session host within the specified host pool"
          }
        },
        "userSessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the user session within the specified session host"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.desktopvirtualization#UserSessionsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.desktopvirtualization#UserSessionsListRequest"
      },
      "output": {
        "target": "com.azure.desktopvirtualization#UserSessionList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/sessionHosts/{sessionHostName}/userSessions",
          "code": 200,
          "apiVersion": "2025-10-10"
        },
        "smithy.api#documentation": "List userSessions.",
        "com.distilled.openapi#apiVersion": "2025-10-10"
      }
    },
    "com.azure.desktopvirtualization#UserSessionList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.desktopvirtualization#UserSessionListValueList",
          "traits": {
            "smithy.api#documentation": "List of UserSession definitions."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of UserSession definitions."
      }
    },
    "com.azure.desktopvirtualization#UserSessionListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.desktopvirtualization#UserSession"
      },
      "traits": {
        "smithy.api#documentation": "List of UserSession definitions."
      }
    },
    "com.azure.desktopvirtualization#UserSession": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.desktopvirtualization#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.desktopvirtualization#UserSessionProperties",
          "traits": {
            "smithy.api#documentation": "Detailed properties for UserSession"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a UserSession definition."
      }
    },
    "com.azure.desktopvirtualization#UserSessionProperties": {
      "type": "structure",
      "members": {
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ObjectId of user session. (internal use)"
          }
        },
        "userPrincipalName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user principal name."
          }
        },
        "applicationType": {
          "target": "com.azure.desktopvirtualization#UserSessionPropertiesApplicationType",
          "traits": {
            "smithy.api#documentation": "Application type of application."
          }
        },
        "sessionState": {
          "target": "com.azure.desktopvirtualization#UserSessionPropertiesSessionState",
          "traits": {
            "smithy.api#documentation": "State of user session."
          }
        },
        "activeDirectoryUserName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The active directory user name."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of the user session create."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Schema for UserSession properties."
      }
    },
    "com.azure.desktopvirtualization#UserSessionPropertiesSessionState": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disconnected"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "LOGOFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LogOff"
          }
        },
        "USERPROFILEDISKMOUNTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserProfileDiskMounted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State of user session."
      }
    },
    "com.azure.desktopvirtualization#UserSessionPropertiesApplicationType": {
      "type": "enum",
      "members": {
        "REMOTEAPP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RemoteApp"
          }
        },
        "DESKTOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Desktop"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Application type of application."
      }
    },
    "com.azure.desktopvirtualization#UserSessionsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "hostPoolName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the host pool within the specified resource group"
          }
        },
        "sessionHostName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the session host within the specified host pool"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pageSize",
            "smithy.api#documentation": "Number of items per page."
          }
        },
        "isDescending": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "isDescending",
            "smithy.api#documentation": "Indicates whether the collection is descending."
          }
        },
        "initialSkip": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "initialSkip",
            "smithy.api#documentation": "Initial number of items to skip."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.desktopvirtualization#UserSessionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.desktopvirtualization#UserSessionsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/sessionHosts/{sessionHostName}/userSessions/{userSessionId}",
          "code": 200,
          "apiVersion": "2025-10-10"
        },
        "smithy.api#documentation": "Remove a userSession.",
        "com.distilled.openapi#apiVersion": "2025-10-10"
      }
    },
    "com.azure.desktopvirtualization#UserSessionsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "hostPoolName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the host pool within the specified resource group"
          }
        },
        "sessionHostName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the session host within the specified host pool"
          }
        },
        "userSessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the user session within the specified session host"
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "force",
            "smithy.api#documentation": "Force flag to login off userSession."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.desktopvirtualization#UserSessionsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.desktopvirtualization#UserSessionsGetRequest"
      },
      "output": {
        "target": "com.azure.desktopvirtualization#UserSessionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/sessionHosts/{sessionHostName}/userSessions/{userSessionId}",
          "code": 200,
          "apiVersion": "2025-10-10"
        },
        "smithy.api#documentation": "Get a userSession.",
        "com.distilled.openapi#apiVersion": "2025-10-10"
      }
    },
    "com.azure.desktopvirtualization#UserSessionsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.desktopvirtualization#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.desktopvirtualization#UserSessionProperties",
          "traits": {
            "smithy.api#documentation": "Detailed properties for UserSession"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.desktopvirtualization#UserSessionsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "hostPoolName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the host pool within the specified resource group"
          }
        },
        "sessionHostName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the session host within the specified host pool"
          }
        },
        "userSessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the user session within the specified session host"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.desktopvirtualization#AppAttachPackageListBySubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.desktopvirtualization#AppAttachPackageListBySubscriptionRequest"
      },
      "output": {
        "target": "com.azure.desktopvirtualization#AppAttachPackageList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.DesktopVirtualization/appAttachPackages",
          "code": 200,
          "apiVersion": "2025-10-10"
        },
        "smithy.api#documentation": "List App Attach packages in subscription.",
        "com.distilled.openapi#apiVersion": "2025-10-10"
      }
    },
    "com.azure.desktopvirtualization#AppAttachPackageList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.desktopvirtualization#AppAttachPackageListValueList",
          "traits": {
            "smithy.api#documentation": "List of App Attach Package definitions."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of App Attach Package definitions."
      }
    },
    "com.azure.desktopvirtualization#AppAttachPackageListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.desktopvirtualization#AppAttachPackage"
      },
      "traits": {
        "smithy.api#documentation": "List of App Attach Package definitions."
      }
    },
    "com.azure.desktopvirtualization#AppAttachPackage": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.desktopvirtualization#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.desktopvirtualization#AppAttachPackageTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.desktopvirtualization#AppAttachPackageProperties",
          "traits": {
            "smithy.api#documentation": "Detailed properties for App Attach Package",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Schema for App Attach Package properties."
      }
    },
    "com.azure.desktopvirtualization#AppAttachPackageProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.desktopvirtualization#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the App Attach Package."
          }
        },
        "image": {
          "target": "com.azure.desktopvirtualization#AppAttachPackageInfoProperties",
          "traits": {
            "smithy.api#documentation": "Detailed properties for App Attach Package"
          }
        },
        "hostPoolReferences": {
          "target": "com.azure.desktopvirtualization#AppAttachPackagePropertiesHostPoolReferencesList",
          "traits": {
            "smithy.api#documentation": "List of Hostpool resource Ids."
          }
        },
        "keyVaultURL": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL path to certificate name located in keyVault"
          }
        },
        "failHealthCheckOnStagingFailure": {
          "target": "com.azure.desktopvirtualization#FailHealthCheckOnStagingFailureEnum",
          "traits": {
            "smithy.api#documentation": "Parameter indicating how the health check should behave if this package fails staging"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Schema for App Attach Package properties."
      }
    },
    "com.azure.desktopvirtualization#FailHealthCheckOnStagingFailureEnum": {
      "type": "enum",
      "members": {
        "UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unhealthy"
          }
        },
        "NEEDSASSISTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NeedsAssistance"
          }
        },
        "DONOTFAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DoNotFail"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parameter indicating how the health check should behave if this package fails staging"
      }
    },
    "com.azure.desktopvirtualization#AppAttachPackagePropertiesHostPoolReferencesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of Hostpool resource Ids."
      }
    },
    "com.azure.desktopvirtualization#AppAttachPackageInfoProperties": {
      "type": "structure",
      "members": {
        "packageAlias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Alias of App Attach Package. Assigned at import time"
          }
        },
        "imagePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "VHD/CIM image path on Network Share."
          }
        },
        "packageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Package Name from appxmanifest.xml. "
          }
        },
        "packageFamilyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Package Family Name from appxmanifest.xml. Contains Package Name and Publisher name. "
          }
        },
        "packageFullName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Package Full Name from appxmanifest.xml. "
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User friendly Name to be displayed in the portal. ",
            "com.distilled.openapi#nullable": {}
          }
        },
        "packageRelativePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative Path to the package inside the image. "
          }
        },
        "isRegularRegistration": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies how to register Package in feed."
          }
        },
        "isActive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Make this version of the package the active one across the hostpool. "
          }
        },
        "packageDependencies": {
          "target": "com.azure.desktopvirtualization#AppAttachPackageInfoPropertiesPackageDependenciesList",
          "traits": {
            "smithy.api#documentation": "List of package dependencies. ",
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Package version found in the appxmanifest.xml. "
          }
        },
        "lastUpdated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date Package was last updated, found in the appxmanifest.xml. "
          }
        },
        "packageApplications": {
          "target": "com.azure.desktopvirtualization#AppAttachPackageInfoPropertiesPackageApplicationsList",
          "traits": {
            "smithy.api#documentation": "List of package applications. "
          }
        },
        "certificateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Certificate name found in the appxmanifest.xml. ",
            "com.distilled.openapi#nullable": {}
          }
        },
        "certificateExpiry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date certificate expires, found in the appxmanifest.xml. ",
            "com.distilled.openapi#nullable": {}
          }
        },
        "isPackageTimestamped": {
          "target": "com.azure.desktopvirtualization#AppAttachPackageInfoPropertiesIsPackageTimestamped",
          "traits": {
            "smithy.api#documentation": "Is package timestamped so it can ignore the certificate expiry date",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Schema for Import Package Information properties."
      }
    },
    "com.azure.desktopvirtualization#AppAttachPackageInfoPropertiesIsPackageTimestamped": {
      "type": "enum",
      "members": {
        "TIMESTAMPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Timestamped"
          }
        },
        "NOTTIMESTAMPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotTimestamped"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Is package timestamped so it can ignore the certificate expiry date"
      }
    },
    "com.azure.desktopvirtualization#AppAttachPackageInfoPropertiesPackageApplicationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.desktopvirtualization#MsixPackageApplications"
      },
      "traits": {
        "smithy.api#documentation": "List of package applications. "
      }
    },
    "com.azure.desktopvirtualization#MsixPackageApplications": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Package Application Id, found in appxmanifest.xml."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of Package Application."
          }
        },
        "appUserModelID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Used to activate Package Application. Consists of Package Name and ApplicationID. Found in appxmanifest.xml."
          }
        },
        "friendlyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User friendly name."
          }
        },
        "iconImageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User friendly name."
          }
        },
        "rawIcon": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the icon a 64 bit string as a byte array."
          }
        },
        "rawPng": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the icon a 64 bit string as a byte array."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Schema for MSIX Package Application properties."
      }
    },
    "com.azure.desktopvirtualization#AppAttachPackageInfoPropertiesPackageDependenciesList": {
      "type": "list",
      "member": {
        "target": "com.azure.desktopvirtualization#MsixPackageDependencies"
      },
      "traits": {
        "smithy.api#documentation": "List of package dependencies. "
      }
    },
    "com.azure.desktopvirtualization#MsixPackageDependencies": {
      "type": "structure",
      "members": {
        "dependencyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of package dependency."
          }
        },
        "publisher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of dependency publisher."
          }
        },
        "minVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dependency version required."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Schema for MSIX Package Dependencies properties."
      }
    },
    "com.azure.desktopvirtualization#ProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current provisioning state."
      }
    },
    "com.azure.desktopvirtualization#AppAttachPackageTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.desktopvirtualization#AppAttachPackageListBySubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "OData filter expression. Valid properties for filtering are package name, host pool, and resource group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.desktopvirtualization#AppAttachPackageListByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.desktopvirtualization#AppAttachPackageListByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.desktopvirtualization#AppAttachPackageList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/appAttachPackages",
          "code": 200,
          "apiVersion": "2025-10-10"
        },
        "smithy.api#documentation": "List App Attach packages in resource group.",
        "com.distilled.openapi#apiVersion": "2025-10-10"
      }
    },
    "com.azure.desktopvirtualization#AppAttachPackageListByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "OData filter expression. Valid properties for filtering are package name and host pool."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.desktopvirtualization#AppAttachPackageDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.desktopvirtualization#AppAttachPackageDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/appAttachPackages/{appAttachPackageName}",
          "code": 200,
          "apiVersion": "2025-10-10"
        },
        "smithy.api#documentation": "Remove an App Attach Package.",
        "com.distilled.openapi#apiVersion": "2025-10-10"
      }
    },
    "com.azure.desktopvirtualization#AppAttachPackageDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "appAttachPackageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the App Attach package"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.desktopvirtualization#AppAttachPackageUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.desktopvirtualization#AppAttachPackageUpdateRequest"
      },
      "output": {
        "target": "com.azure.desktopvirtualization#AppAttachPackageUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/appAttachPackages/{appAttachPackageName}",
          "code": 200,
          "apiVersion": "2025-10-10"
        },
        "smithy.api#documentation": "Update an App Attach Package",
        "com.distilled.openapi#apiVersion": "2025-10-10"
      }
    },
    "com.azure.desktopvirtualization#AppAttachPackageUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.desktopvirtualization#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.desktopvirtualization#AppAttachPackageUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.desktopvirtualization#AppAttachPackageProperties",
          "traits": {
            "smithy.api#documentation": "Detailed properties for App Attach Package",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.desktopvirtualization#AppAttachPackageUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.desktopvirtualization#AppAttachPackageUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "appAttachPackageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the App Attach package"
          }
        },
        "properties": {
          "target": "com.azure.desktopvirtualization#AppAttachPackagePatchProperties",
          "traits": {
            "smithy.api#documentation": "Detailed properties for App Attach Package"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.desktopvirtualization#AppAttachPackagePatchProperties": {
      "type": "structure",
      "members": {
        "image": {
          "target": "com.azure.desktopvirtualization#AppAttachPackageInfoProperties",
          "traits": {
            "smithy.api#documentation": "Detailed properties for App Attach Package"
          }
        },
        "hostPoolReferences": {
          "target": "com.azure.desktopvirtualization#AppAttachPackagePatchPropertiesHostPoolReferencesList",
          "traits": {
            "smithy.api#documentation": "List of Hostpool resource Ids."
          }
        },
        "keyVaultURL": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL path to certificate name located in keyVault"
          }
        },
        "failHealthCheckOnStagingFailure": {
          "target": "com.azure.desktopvirtualization#FailHealthCheckOnStagingFailureEnum",
          "traits": {
            "smithy.api#documentation": "Parameter indicating how the health check should behave if this package fails staging"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Schema for patchable fields on an App Attach Package."
      }
    },
    "com.azure.desktopvirtualization#AppAttachPackagePatchPropertiesHostPoolReferencesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of Hostpool resource Ids."
      }
    },
    "com.azure.desktopvirtualization#AppAttachPackageCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.desktopvirtualization#AppAttachPackageCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.desktopvirtualization#AppAttachPackageCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
[...]
