{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.devcenter#ProjectCatalogImageDefinitionBuildGetBuildDetails": {
      "type": "operation",
      "input": {
        "target": "com.azure.devcenter#ProjectCatalogImageDefinitionBuildGetBuildDetailsRequest"
      },
      "output": {
        "target": "com.azure.devcenter#ProjectCatalogImageDefinitionBuildGetBuildDetailsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevCenter/projects/{projectName}/catalogs/{catalogName}/imageDefinitions/{imageDefinitionName}/builds/{buildName}/getBuildDetails",
          "code": 200,
          "apiVersion": "2025-02-01"
        },
        "smithy.api#documentation": "Gets Build details",
        "com.distilled.openapi#apiVersion": "2025-02-01"
      }
    },
    "com.azure.devcenter#ProjectCatalogImageDefinitionBuildGetBuildDetailsResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.devcenter#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "imageReference": {
          "target": "com.azure.devcenter#ProjectCatalogImageDefinitionBuildGetBuildDetailsResponseImageReference",
          "traits": {
            "smithy.api#documentation": "Image reference information"
          }
        },
        "status": {
          "target": "com.azure.devcenter#ImageDefinitionBuildStatus",
          "traits": {
            "smithy.api#documentation": "The status of the build."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time of the task group."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time of the task group."
          }
        },
        "errorDetails": {
          "target": "com.azure.devcenter#ImageCreationErrorDetails",
          "traits": {
            "smithy.api#documentation": "Details for image creation error. Populated when the image creation is not successful."
          }
        },
        "taskGroups": {
          "target": "com.azure.devcenter#ProjectCatalogImageDefinitionBuildGetBuildDetailsResponseTaskGroupsList",
          "traits": {
            "smithy.api#documentation": "The list of task groups executed during the image definition build."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.devcenter#ProjectCatalogImageDefinitionBuildGetBuildDetailsResponseTaskGroupsList": {
      "type": "list",
      "member": {
        "target": "com.azure.devcenter#ImageDefinitionBuildTaskGroup"
      },
      "traits": {
        "smithy.api#documentation": "The list of task groups executed during the image definition build."
      }
    },
    "com.azure.devcenter#ImageDefinitionBuildTaskGroup": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the task group."
          }
        },
        "status": {
          "target": "com.azure.devcenter#ImageDefinitionBuildStatus",
          "traits": {
            "smithy.api#documentation": "The status of the task group."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time of the task group."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time of the task group."
          }
        },
        "tasks": {
          "target": "com.azure.devcenter#ImageDefinitionBuildTaskGroupTasksList",
          "traits": {
            "smithy.api#documentation": "The list of tasks executed during the task group."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A task group executed during the image definition build."
      }
    },
    "com.azure.devcenter#ImageDefinitionBuildTaskGroupTasksList": {
      "type": "list",
      "member": {
        "target": "com.azure.devcenter#ImageDefinitionBuildTask"
      },
      "traits": {
        "smithy.api#documentation": "The list of tasks executed during the task group."
      }
    },
    "com.azure.devcenter#ImageDefinitionBuildTask": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the task."
          }
        },
        "parameters": {
          "target": "com.azure.devcenter#ImageDefinitionBuildTaskParametersList",
          "traits": {
            "smithy.api#documentation": "Parameters for the task."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name to help differentiate multiple instances of the same task."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the task instance."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time of the task."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time of the task."
          }
        },
        "status": {
          "target": "com.azure.devcenter#ImageDefinitionBuildStatus",
          "traits": {
            "smithy.api#documentation": "The status of the task."
          }
        },
        "logUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI for retrieving logs for the task execution."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A task executed during the image definition build."
      }
    },
    "com.azure.devcenter#ImageDefinitionBuildStatus": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "VALIDATIONFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ValidationFailed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cancelled"
          }
        },
        "TIMEDOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TimedOut"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of an Image Definition Build."
      }
    },
    "com.azure.devcenter#ImageDefinitionBuildTaskParametersList": {
      "type": "list",
      "member": {
        "target": "com.azure.devcenter#ImageDefinitionBuildTaskParametersItem"
      },
      "traits": {
        "smithy.api#documentation": "Parameters for the task."
      }
    },
    "com.azure.devcenter#ImageDefinitionBuildTaskParametersItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.azure.devcenter#ImageCreationErrorDetails": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier for the error."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A message describing the error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Image creation error details"
      }
    },
    "com.azure.devcenter#ProjectCatalogImageDefinitionBuildGetBuildDetailsResponseImageReference": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image ID, or Image version ID. When Image ID is provided, its latest version will be used."
          }
        },
        "exactVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The actual version of the image after use. When id references a gallery image latest version, this will indicate the actual version in use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Image reference information"
      }
    },
    "com.azure.devcenter#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.devcenter#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.devcenter#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.devcenter#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.devcenter#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.devcenter#ProjectCatalogImageDefinitionBuildGetBuildDetailsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the project."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Catalog."
          }
        },
        "imageDefinitionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Image Definition."
          }
        },
        "buildName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the Image Definition Build."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devcenter#ProjectCatalogImageDefinitionBuildCancel": {
      "type": "operation",
      "input": {
        "target": "com.azure.devcenter#ProjectCatalogImageDefinitionBuildCancelRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevCenter/projects/{projectName}/catalogs/{catalogName}/imageDefinitions/{imageDefinitionName}/builds/{buildName}/cancel",
          "code": 200,
          "apiVersion": "2025-02-01"
        },
        "smithy.api#documentation": "Cancels the specified build for an image definition.",
        "com.distilled.openapi#apiVersion": "2025-02-01"
      }
    },
    "com.azure.devcenter#ProjectCatalogImageDefinitionBuildCancelRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the project."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Catalog."
          }
        },
        "imageDefinitionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Image Definition."
          }
        },
        "buildName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the Image Definition Build."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devcenter#ProjectCatalogImageDefinitionBuildGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.devcenter#ProjectCatalogImageDefinitionBuildGetRequest"
      },
      "output": {
        "target": "com.azure.devcenter#ProjectCatalogImageDefinitionBuildGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevCenter/projects/{projectName}/catalogs/{catalogName}/imageDefinitions/{imageDefinitionName}/builds/{buildName}",
          "code": 200,
          "apiVersion": "2025-02-01"
        },
        "smithy.api#documentation": "Gets a build for a specified image definition.",
        "com.distilled.openapi#apiVersion": "2025-02-01"
      }
    },
    "com.azure.devcenter#ProjectCatalogImageDefinitionBuildGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.devcenter#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.devcenter#ImageDefinitionBuildProperties",
          "traits": {
            "smithy.api#documentation": "Image Definition Build properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.devcenter#ImageDefinitionBuildProperties": {
      "type": "structure",
      "members": {
        "imageReference": {
          "target": "com.azure.devcenter#ImageDefinitionBuildPropertiesImageReference",
          "traits": {
            "smithy.api#documentation": "Image reference information"
          }
        },
        "status": {
          "target": "com.azure.devcenter#ImageDefinitionBuildStatus",
          "traits": {
            "smithy.api#documentation": "The status of the build."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time of the task group."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time of the task group."
          }
        },
        "errorDetails": {
          "target": "com.azure.devcenter#ImageCreationErrorDetails",
          "traits": {
            "smithy.api#documentation": "Details for image creation error. Populated when the image creation is not successful."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of an Image Definition Build."
      }
    },
    "com.azure.devcenter#ImageDefinitionBuildPropertiesImageReference": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image ID, or Image version ID. When Image ID is provided, its latest version will be used."
          }
        },
        "exactVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The actual version of the image after use. When id references a gallery image latest version, this will indicate the actual version in use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Image reference information"
      }
    },
    "com.azure.devcenter#ProjectCatalogImageDefinitionBuildGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the project."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Catalog."
          }
        },
        "imageDefinitionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Image Definition."
          }
        },
        "buildName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the Image Definition Build."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devcenter#ProjectCatalogImageDefinitionBuildsListByImageDefinition": {
      "type": "operation",
      "input": {
        "target": "com.azure.devcenter#ProjectCatalogImageDefinitionBuildsListByImageDefinitionRequest"
      },
      "output": {
        "target": "com.azure.devcenter#ImageDefinitionBuildListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevCenter/projects/{projectName}/catalogs/{catalogName}/imageDefinitions/{imageDefinitionName}/builds",
          "code": 200,
          "apiVersion": "2025-02-01"
        },
        "smithy.api#documentation": "Lists builds for a specified image definition.",
        "com.distilled.openapi#apiVersion": "2025-02-01"
      }
    },
    "com.azure.devcenter#ImageDefinitionBuildListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.devcenter#ImageDefinitionBuildListResultValueList",
          "traits": {
            "smithy.api#documentation": "Current page of results."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to get the next set of results if there are any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Results of the Image Definition Build list operation."
      }
    },
    "com.azure.devcenter#ImageDefinitionBuildListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.devcenter#ImageDefinitionBuild"
      },
      "traits": {
        "smithy.api#documentation": "Current page of results."
      }
    },
    "com.azure.devcenter#ImageDefinitionBuild": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.devcenter#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.devcenter#ImageDefinitionBuildProperties",
          "traits": {
            "smithy.api#documentation": "Image Definition Build properties"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a specific build of an Image Definition."
      }
    },
    "com.azure.devcenter#ProjectCatalogImageDefinitionBuildsListByImageDefinitionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the project."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Catalog."
          }
        },
        "imageDefinitionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Image Definition."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devcenter#ProjectCatalogImageDefinitionsBuildImage": {
      "type": "operation",
      "input": {
        "target": "com.azure.devcenter#ProjectCatalogImageDefinitionsBuildImageRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevCenter/projects/{projectName}/catalogs/{catalogName}/imageDefinitions/{imageDefinitionName}/buildImage",
          "code": 200,
          "apiVersion": "2025-02-01"
        },
        "smithy.api#documentation": "Builds an image for the specified Image Definition.",
        "com.distilled.openapi#apiVersion": "2025-02-01"
      }
    },
    "com.azure.devcenter#ProjectCatalogImageDefinitionsBuildImageRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the project."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Catalog."
          }
        },
        "imageDefinitionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Image Definition."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devcenter#ProjectCatalogImageDefinitionsGetErrorDetails": {
      "type": "operation",
      "input": {
        "target": "com.azure.devcenter#ProjectCatalogImageDefinitionsGetErrorDetailsRequest"
      },
      "output": {
        "target": "com.azure.devcenter#ProjectCatalogImageDefinitionsGetErrorDetailsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevCenter/projects/{projectName}/catalogs/{catalogName}/imageDefinitions/{imageDefinitionName}/getErrorDetails",
          "code": 200,
          "apiVersion": "2025-02-01"
        },
        "smithy.api#documentation": "Gets Image Definition error details",
        "com.distilled.openapi#apiVersion": "2025-02-01"
      }
    },
    "com.azure.devcenter#ProjectCatalogImageDefinitionsGetErrorDetailsResponse": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.azure.devcenter#ProjectCatalogImageDefinitionsGetErrorDetailsResponseErrorsList",
          "traits": {
            "smithy.api#documentation": "Errors associated with resources synchronized from the catalog."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.devcenter#ProjectCatalogImageDefinitionsGetErrorDetailsResponseErrorsList": {
      "type": "list",
      "member": {
        "target": "com.azure.devcenter#CatalogErrorDetails"
      },
      "traits": {
        "smithy.api#documentation": "Errors associated with resources synchronized from the catalog."
      }
    },
    "com.azure.devcenter#CatalogErrorDetails": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier for the error."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A message describing the error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Catalog error details"
      }
    },
    "com.azure.devcenter#ProjectCatalogImageDefinitionsGetErrorDetailsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the project."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Catalog."
          }
        },
        "imageDefinitionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Image Definition."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devcenter#ProjectCatalogImageDefinitionsGetByProjectCatalog": {
      "type": "operation",
      "input": {
        "target": "com.azure.devcenter#ProjectCatalogImageDefinitionsGetByProjectCatalogRequest"
      },
      "output": {
        "target": "com.azure.devcenter#ProjectCatalogImageDefinitionsGetByProjectCatalogResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevCenter/projects/{projectName}/catalogs/{catalogName}/imageDefinitions/{imageDefinitionName}",
          "code": 200,
          "apiVersion": "2025-02-01"
        },
        "smithy.api#documentation": "Gets an Image Definition from the catalog",
        "com.distilled.openapi#apiVersion": "2025-02-01"
      }
    },
    "com.azure.devcenter#ProjectCatalogImageDefinitionsGetByProjectCatalogResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.devcenter#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.devcenter#ImageDefinitionProperties",
          "traits": {
            "smithy.api#documentation": "Image Definition properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.devcenter#ImageDefinitionProperties": {
      "type": "structure",
      "members": {
        "imageReference": {
          "target": "com.azure.devcenter#ImageDefinitionPropertiesImageReference",
          "traits": {
            "smithy.api#documentation": "Image reference information"
          }
        },
        "fileUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to the repository file containing the image definition."
          }
        },
        "latestBuild": {
          "target": "com.azure.devcenter#LatestImageBuild",
          "traits": {
            "smithy.api#documentation": "Details about the latest build."
          }
        },
        "imageValidationStatus": {
          "target": "com.azure.devcenter#ImageDefinitionPropertiesImageValidationStatus",
          "traits": {
            "smithy.api#documentation": "Image validation status"
          }
        },
        "imageValidationErrorDetails": {
          "target": "com.azure.devcenter#ImageDefinitionPropertiesImageValidationErrorDetails",
          "traits": {
            "smithy.api#documentation": "Image validation error details"
          }
        },
        "validationStatus": {
          "target": "com.azure.devcenter#ImageDefinitionPropertiesValidationStatus",
          "traits": {
            "smithy.api#documentation": "Catalog resource validation status"
          }
        },
        "activeImageReference": {
          "target": "com.azure.devcenter#ImageDefinitionPropertiesActiveImageReference",
          "traits": {
            "smithy.api#documentation": "Image reference information"
          }
        },
        "autoImageBuild": {
          "target": "com.azure.devcenter#AutoImageBuildStatus",
          "traits": {
            "smithy.api#documentation": "Indicates if automatic image builds will be triggered for image definition updates"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of an Image Definition."
      }
    },
    "com.azure.devcenter#AutoImageBuildStatus": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates whether auto image build is enabled/disabled."
      }
    },
    "com.azure.devcenter#ImageDefinitionPropertiesActiveImageReference": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image ID, or Image version ID. When Image ID is provided, its latest version will be used."
          }
        },
        "exactVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The actual version of the image after use. When id references a gallery image latest version, this will indicate the actual version in use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Image reference information"
      }
    },
    "com.azure.devcenter#ImageDefinitionPropertiesValidationStatus": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Catalog resource validation status"
      }
    },
    "com.azure.devcenter#ImageDefinitionPropertiesImageValidationErrorDetails": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An identifier for the error."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A message describing the error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Image validation error details"
      }
    },
    "com.azure.devcenter#ImageDefinitionPropertiesImageValidationStatus": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "TIMEDOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TimedOut"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Image validation status"
      }
    },
    "com.azure.devcenter#LatestImageBuild": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a build."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time of the task group."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time of the task group."
          }
        },
        "status": {
          "target": "com.azure.devcenter#ImageDefinitionBuildStatus",
          "traits": {
            "smithy.api#documentation": "The state of an Image Definition Build."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about the latest build."
      }
    },
    "com.azure.devcenter#ImageDefinitionPropertiesImageReference": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image ID, or Image version ID. When Image ID is provided, its latest version will be used."
          }
        },
        "exactVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The actual version of the image after use. When id references a gallery image latest version, this will indicate the actual version in use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Image reference information"
      }
    },
    "com.azure.devcenter#ProjectCatalogImageDefinitionsGetByProjectCatalogRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the project."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Catalog."
          }
        },
        "imageDefinitionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Image Definition."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devcenter#ProjectCatalogImageDefinitionsListByProjectCatalog": {
      "type": "operation",
      "input": {
        "target": "com.azure.devcenter#ProjectCatalogImageDefinitionsListByProjectCatalogRequest"
      },
      "output": {
        "target": "com.azure.devcenter#ImageDefinitionListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevCenter/projects/{projectName}/catalogs/{catalogName}/imageDefinitions",
          "code": 200,
          "apiVersion": "2025-02-01"
        },
        "smithy.api#documentation": "List Image Definitions in the catalog.",
        "com.distilled.openapi#apiVersion": "2025-02-01"
      }
    },
    "com.azure.devcenter#ImageDefinitionListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.devcenter#ImageDefinitionListResultValueList",
          "traits": {
            "smithy.api#documentation": "Current page of results."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to get the next set of results if there are any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Results of the Image Definition list operation."
      }
    },
    "com.azure.devcenter#ImageDefinitionListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.devcenter#ImageDefinition"
      },
      "traits": {
        "smithy.api#documentation": "Current page of results."
      }
    },
    "com.azure.devcenter#ImageDefinition": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.devcenter#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.devcenter#ImageDefinitionProperties",
          "traits": {
            "smithy.api#documentation": "Image Definition properties"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a definition for an Image."
      }
    },
    "com.azure.devcenter#ProjectCatalogImageDefinitionsListByProjectCatalogRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the project."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Catalog."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "The maximum number of resources to return from the operation. Example: '$top=10'."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devcenter#EnvironmentDefinitionsGetErrorDetails": {
      "type": "operation",
      "input": {
        "target": "com.azure.devcenter#EnvironmentDefinitionsGetErrorDetailsRequest"
      },
      "output": {
        "target": "com.azure.devcenter#EnvironmentDefinitionsGetErrorDetailsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevCenter/devcenters/{devCenterName}/catalogs/{catalogName}/environmentDefinitions/{environmentDefinitionName}/getErrorDetails",
          "code": 200,
          "apiVersion": "2025-02-01"
        },
        "smithy.api#documentation": "Gets Environment Definition error details",
        "com.distilled.openapi#apiVersion": "2025-02-01"
      }
    },
    "com.azure.devcenter#EnvironmentDefinitionsGetErrorDetailsResponse": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.azure.devcenter#EnvironmentDefinitionsGetErrorDetailsResponseErrorsList",
          "traits": {
            "smithy.api#documentation": "Errors associated with resources synchronized from the catalog."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.devcenter#EnvironmentDefinitionsGetErrorDetailsResponseErrorsList": {
      "type": "list",
      "member": {
        "target": "com.azure.devcenter#CatalogErrorDetails"
      },
      "traits": {
        "smithy.api#documentation": "Errors associated with resources synchronized from the catalog."
      }
    },
    "com.azure.devcenter#EnvironmentDefinitionsGetErrorDetailsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "devCenterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the devcenter."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Catalog."
          }
        },
        "environmentDefinitionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Environment Definition."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devcenter#EnvironmentDefinitionsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.devcenter#EnvironmentDefinitionsGetRequest"
      },
      "output": {
        "target": "com.azure.devcenter#EnvironmentDefinitionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevCenter/devcenters/{devCenterName}/catalogs/{catalogName}/environmentDefinitions/{environmentDefinitionName}",
          "code": 200,
          "apiVersion": "2025-02-01"
        },
        "smithy.api#documentation": "Gets an environment definition from the catalog.",
        "com.distilled.openapi#apiVersion": "2025-02-01"
      }
    },
    "com.azure.devcenter#EnvironmentDefinitionsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.devcenter#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.devcenter#EnvironmentDefinitionProperties",
          "traits": {
            "smithy.api#documentation": "Environment definition properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.devcenter#EnvironmentDefinitionProperties": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the environment definition."
          }
        },
        "parameters": {
          "target": "com.azure.devcenter#EnvironmentDefinitionPropertiesParametersList",
          "traits": {
            "smithy.api#documentation": "Input parameters passed to an environment."
          }
        },
        "templatePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path to the Environment Definition entrypoint file."
          }
        },
        "validationStatus": {
          "target": "com.azure.devcenter#EnvironmentDefinitionPropertiesValidationStatus",
          "traits": {
            "smithy.api#documentation": "Catalog resource validation status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of an environment definition."
      }
    },
    "com.azure.devcenter#EnvironmentDefinitionPropertiesValidationStatus": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Catalog resource validation status"
      }
    },
    "com.azure.devcenter#EnvironmentDefinitionPropertiesParametersList": {
      "type": "list",
      "member": {
        "target": "com.azure.devcenter#EnvironmentDefinitionParameter"
      },
      "traits": {
        "smithy.api#documentation": "Input parameters passed to an environment."
      }
    },
    "com.azure.devcenter#EnvironmentDefinitionParameter": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique ID of the parameter"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the parameter"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the parameter"
          }
        },
        "type": {
          "target": "com.azure.devcenter#ParameterType",
          "traits": {
            "smithy.api#documentation": "A string of one of the basic JSON types (number, integer, array, object, boolean, string)"
          }
        },
        "readOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not this parameter is read-only.  If true, default should have a value."
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not this parameter is required"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of an Environment Definition parameter"
      }
    },
    "com.azure.devcenter#ParameterType": {
      "type": "enum",
      "members": {
        "ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "array"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        },
        "INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integer"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "object"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of data a parameter accepts."
      }
    },
    "com.azure.devcenter#EnvironmentDefinitionsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "devCenterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the devcenter."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Catalog."
          }
        },
        "environmentDefinitionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Environment Definition."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devcenter#EnvironmentDefinitionsListByCatalog": {
      "type": "operation",
      "input": {
        "target": "com.azure.devcenter#EnvironmentDefinitionsListByCatalogRequest"
      },
      "output": {
        "target": "com.azure.devcenter#EnvironmentDefinitionListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevCenter/devcenters/{devCenterName}/catalogs/{catalogName}/environmentDefinitions",
          "code": 200,
          "apiVersion": "2025-02-01"
        },
        "smithy.api#documentation": "List environment definitions in the catalog.",
        "com.distilled.openapi#apiVersion": "2025-02-01"
      }
    },
    "com.azure.devcenter#EnvironmentDefinitionListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.devcenter#EnvironmentDefinitionListResultValueList",
          "traits": {
            "smithy.api#documentation": "Current page of results."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to get the next set of results if there are any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Results of the environment definition list operation."
      }
    },
    "com.azure.devcenter#EnvironmentDefinitionListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.devcenter#EnvironmentDefinition"
      },
      "traits": {
        "smithy.api#documentation": "Current page of results."
      }
    },
    "com.azure.devcenter#EnvironmentDefinition": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.devcenter#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.devcenter#EnvironmentDefinitionProperties",
          "traits": {
            "smithy.api#documentation": "Environment definition properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an environment definition catalog item."
      }
    },
    "com.azure.devcenter#EnvironmentDefinitionsListByCatalogRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "devCenterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the devcenter."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Catalog."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "The maximum number of resources to return from the operation. Example: '$top=10'."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devcenter#CustomizationTasksGetErrorDetails": {
      "type": "operation",
      "input": {
        "target": "com.azure.devcenter#CustomizationTasksGetErrorDetailsRequest"
      },
      "output": {
        "target": "com.azure.devcenter#CustomizationTasksGetErrorDetailsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevCenter/devcenters/{devCenterName}/catalogs/{catalogName}/tasks/{taskName}/getErrorDetails",
          "code": 200,
          "apiVersion": "2025-02-01"
        },
        "smithy.api#documentation": "Gets Customization Task error details",
        "com.distilled.openapi#apiVersion": "2025-02-01"
      }
    },
    "com.azure.devcenter#CustomizationTasksGetErrorDetailsResponse": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.azure.devcenter#CustomizationTasksGetErrorDetailsResponseErrorsList",
          "traits": {
            "smithy.api#documentation": "Errors associated with resources synchronized from the catalog."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.devcenter#CustomizationTasksGetErrorDetailsResponseErrorsList": {
      "type": "list",
      "member": {
        "target": "com.azure.devcenter#CatalogErrorDetails"
      },
      "traits": {
        "smithy.api#documentation": "Errors associated with resources synchronized from the catalog."
      }
    },
    "com.azure.devcenter#CustomizationTasksGetErrorDetailsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "devCenterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the devcenter."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Catalog."
          }
        },
        "taskName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Task."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devcenter#CustomizationTasksGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.devcenter#CustomizationTasksGetRequest"
      },
      "output": {
        "target": "com.azure.devcenter#CustomizationTasksGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevCenter/devcenters/{devCenterName}/catalogs/{catalogName}/tasks/{taskName}",
          "code": 200,
          "apiVersion": "2025-02-01"
        },
        "smithy.api#documentation": "Gets a Task from the catalog",
        "com.distilled.openapi#apiVersion": "2025-02-01"
      }
    },
    "com.azure.devcenter#CustomizationTasksGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.devcenter#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.devcenter#CustomizationTaskProperties",
          "traits": {
            "smithy.api#documentation": "Task properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.devcenter#CustomizationTaskProperties": {
      "type": "structure",
      "members": {
        "inputs": {
          "target": "com.azure.devcenter#CustomizationTaskPropertiesInputsMap",
          "traits": {
            "smithy.api#documentation": "Inputs to the task."
          }
        },
        "timeout": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The default timeout for the task."
          }
        },
        "validationStatus": {
          "target": "com.azure.devcenter#CustomizationTaskPropertiesValidationStatus",
          "traits": {
            "smithy.api#documentation": "Catalog resource validation status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a Task."
      }
    },
    "com.azure.devcenter#CustomizationTaskPropertiesValidationStatus": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Catalog resource validation status"
      }
    },
    "com.azure.devcenter#CustomizationTaskPropertiesInputsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.devcenter#CustomizationTaskInput"
      },
      "traits": {
        "smithy.api#documentation": "Inputs to the task."
      }
    },
    "com.azure.devcenter#CustomizationTaskInput": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the input."
          }
        },
        "type": {
          "target": "com.azure.devcenter#CustomizationTaskInputType",
          "traits": {
            "smithy.api#documentation": "Type of the input."
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the input is required."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input for a Task."
      }
    },
    "com.azure.devcenter#CustomizationTaskInputType": {
      "type": "enum",
      "members": {
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the input."
      }
    },
    "com.azure.devcenter#CustomizationTasksGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "devCenterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the devcenter."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Catalog."
          }
        },
        "taskName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Task."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devcenter#CustomizationTasksListByCatalog": {
      "type": "operation",
      "input": {
        "target": "com.azure.devcenter#CustomizationTasksListByCatalogRequest"
      },
      "output": {
        "target": "com.azure.devcenter#CustomizationTaskListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevCenter/devcenters/{devCenterName}/catalogs/{catalogName}/tasks",
          "code": 200,
          "apiVersion": "2025-02-01"
        },
        "smithy.api#documentation": "List Tasks in the catalog.",
        "com.distilled.openapi#apiVersion": "2025-02-01"
      }
    },
    "com.azure.devcenter#CustomizationTaskListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.devcenter#CustomizationTaskListResultValueList",
          "traits": {
            "smithy.api#documentation": "Current page of results."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to get the next set of results if there are any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Results of the Task list operation."
      }
    },
    "com.azure.devcenter#CustomizationTaskListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.devcenter#CustomizationTask"
      },
      "traits": {
        "smithy.api#documentation": "Current page of results."
      }
    },
    "com.azure.devcenter#CustomizationTask": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.devcenter#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.devcenter#CustomizationTaskProperties",
          "traits": {
            "smithy.api#documentation": "Task properties"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Task to be used in customizing a Dev Box."
      }
    },
    "com.azure.devcenter#CustomizationTasksListByCatalogRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "devCenterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the devcenter."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Catalog."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "The maximum number of resources to return from the operation. Example: '$top=10'."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devcenter#CheckScopedNameAvailabilityExecute": {
      "type": "operation",
      "input": {
        "target": "com.azure.devcenter#CheckScopedNameAvailabilityExecuteRequest"
      },
      "output": {
        "target": "com.azure.devcenter#CheckScopedNameAvailabilityExecuteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.DevCenter/checkScopedNameAvailability",
          "code": 200,
          "apiVersion": "2025-02-01"
        },
        "smithy.api#documentation": "Check the availability of name for resource",
        "com.distilled.openapi#apiVersion": "2025-02-01"
      }
    },
    "com.azure.devcenter#CheckScopedNameAvailabilityExecuteResponse": {
      "type": "structure",
      "members": {
        "nameAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the resource name is available."
          }
        },
        "reason": {
          "target": "com.azure.devcenter#CheckScopedNameAvailabilityExecuteResponseReason",
          "traits": {
            "smithy.api#documentation": "The reason why the given name is not available."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed reason why the given name is available."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.devcenter#CheckScopedNameAvailabilityExecuteResponseReason": {
      "type": "enum",
      "members": {
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        },
        "ALREADYEXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AlreadyExists"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The reason why the given name is not available."
      }
    },
    "com.azure.devcenter#CheckScopedNameAvailabilityExecuteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource for which availability needs to be checked."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type."
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id to scope the name check."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devcenter#CheckNameAvailabilityExecute": {
      "type": "operation",
      "input": {
        "target": "com.azure.devcenter#CheckNameAvailabilityExecuteRequest"
      },
      "output": {
        "target": "com.azure.devcenter#CheckNameAvailabilityExecuteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.DevCenter/checkNameAvailability",
          "code": 200,
          "apiVersion": "2025-02-01"
        },
        "smithy.api#documentation": "Check the availability of name for resource",
        "com.distilled.openapi#apiVersion": "2025-02-01"
      }
    },
    "com.azure.devcenter#CheckNameAvailabilityExecuteResponse": {
      "type": "structure",
      "members": {
        "nameAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the resource name is available."
          }
        },
        "reason": {
          "target": "com.azure.devcenter#CheckNameAvailabilityExecuteResponseReason",
          "traits": {
            "smithy.api#documentation": "The reason why the given name is not available."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed reason why the given name is available."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.devcenter#CheckNameAvailabilityExecuteResponseReason": {
      "type": "enum",
      "members": {
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        },
        "ALREADYEXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AlreadyExists"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The reason why the given name is not available."
      }
    },
    "com.azure.devcenter#CheckNameAvailabilityExecuteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource for which availability needs to be checked."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devcenter#UsagesListByLocation": {
      "type": "operation",
      "input": {
        "target": "com.azure.devcenter#UsagesListByLocationRequest"
      },
      "output": {
        "target": "com.azure.devcenter#ListUsagesResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.DevCenter/locations/{location}/usages",
          "code": 200,
          "apiVersion": "2025-02-01"
        },
        "smithy.api#documentation": "Lists the current usages and limits in this location for the provided subscription.",
        "com.distilled.openapi#apiVersion": "2025-02-01"
      }
    },
    "com.azure.devcenter#ListUsagesResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.devcenter#ListUsagesResultValueList",
          "traits": {
            "smithy.api#documentation": "The array page of Usages."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to get the next page of Usage result."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of Core Usages."
      }
    },
    "com.azure.devcenter#ListUsagesResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.devcenter#Usage"
      },
      "traits": {
        "smithy.api#documentation": "The array page of Usages."
      }
    },
    "com.azure.devcenter#Usage": {
      "type": "structure",
      "members": {
        "currentValue": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The current usage."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The limit integer."
          }
        },
        "unit": {
          "target": "com.azure.devcenter#UsageUnit",
          "traits": {
            "smithy.api#documentation": "The unit details."
          }
        },
        "name": {
          "target": "com.azure.devcenter#UsageName",
          "traits": {
            "smithy.api#documentation": "The name."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified arm resource id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The core usage details."
      }
    },
    "com.azure.devcenter#UsageName": {
      "type": "structure",
      "members": {
        "localizedValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized name of the resource."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Usage Names."
      }
    },
    "com.azure.devcenter#UsageUnit": {
      "type": "enum",
      "members": {
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Count"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The unit details."
      }
    },
    "com.azure.devcenter#UsagesListByLocationRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Azure region"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.devcenter#OperationStatusesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.devcenter#OperationStatusesGetRequest"
      },
      "output": {
        "target": "com.azure.devcenter#OperationStatusesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.DevCenter/locations/{location}/operationStatuses/{operationId}",
          "code": 200,
          "apiVersion": "2025-02-01"
        },
        "smithy.api#documentation": "Get Operation Status\n\nGets the current status of an async operation.",
        "com.distilled.openapi#apiVersion": "2025-02-01"
      }
    },
    "com.azure.devcenter#OperationStatusesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID for the async operation."
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID of the resource against which the original async operation was started."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the async operation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation status.",
            "smithy.api#required": {}
          }
        },
        "percentComplete": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percent of the operation that is complete."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time of the operation."
          }
        },
        "operations": {
          "target": "com.azure.devcenter#OperationStatusesGetResponseOperationsList",
          "traits": {
            "smithy.api#documentation": "The operations list."
          }
        },
        "error": {
          "target": "com.azure.devcenter#ErrorDetail",
          "traits": {
            "smithy.api#documentation": "If present, details of the operation error."
          }
        },
        "properties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Custom operation properties, populated only for a successful operation."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.devcenter#ErrorDetail": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error target."
          }
        },
        "details": {
          "target": "com.azure.devcenter#ErrorDetailDetailsList",
          "traits": {
            "smithy.api#documentation": "The error details."
          }
        },
        "additionalInfo": {
          "target": "com.azure.devcenter#ErrorDetailAdditionalInfoList",
          "traits": {
            "smithy.api#documentation": "The error additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The error detail."
      }
    },
    "com.azure.devcenter#ErrorDetailAdditionalInfoList": {
      "type": "list",
      "member": {
        "target": "com.azure.devcenter#ErrorAdditionalInfo"
      },
      "traits": {
        "smithy.api#documentation": "The error additional info."
      }
    },
    "com.azure.devcenter#ErrorAdditionalInfo": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The additional info type."
          }
        },
        "info": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource management error additional info."
      }
    },
    "com.azure.devcenter#ErrorDetailDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.devcenter#ErrorDetail"
      },
      "traits": {
        "smithy.api#documentation": "The error details."
      }
    },
    "com.azure.devcenter#OperationStatusesGetResponseOperationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.devcenter#OperationStatusResult"
      },
      "traits": {
        "smithy.api#documentation": "The operations list."
      }
    },
    "com.azure.devcenter#OperationStatusResult": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID for the async operation."
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID of the resource against which the original async operation was started."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the async operation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation status.",
            "smithy.api#required": {}
          }
        },
        "percentComplete": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percent of the operation that is complete."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time of the operation."
          }
        },
        "operations": {
          "target": "com.azure.devcenter#OperationStatusResultOperationsList",
          "traits": {
            "smithy.api#documentation": "The operations list."
          }
        },
        "error": {
          "target": "com.azure.devcenter#ErrorDetail",
          "traits": {
[...]
