{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.deviceregistry#SchemaVersionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceregistry#SchemaVersionsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceRegistry/schemaRegistries/{schemaRegistryName}/schemas/{schemaName}/schemaVersions/{schemaVersionName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Delete a SchemaVersion",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.deviceregistry#SchemaVersionsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "schemaRegistryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Schema registry name parameter."
          }
        },
        "schemaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Schema name parameter."
          }
        },
        "schemaVersionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Schema version name parameter."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.deviceregistry#SchemaVersionsCreateOrReplace": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceregistry#SchemaVersionsCreateOrReplaceRequest"
      },
      "output": {
        "target": "com.azure.deviceregistry#SchemaVersionsCreateOrReplaceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceRegistry/schemaRegistries/{schemaRegistryName}/schemas/{schemaName}/schemaVersions/{schemaVersionName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Create a SchemaVersion",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.deviceregistry#SchemaVersionsCreateOrReplaceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.deviceregistry#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.deviceregistry#SchemaVersionProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.deviceregistry#SchemaVersionProperties": {
      "type": "structure",
      "members": {
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Globally unique, immutable, non-reusable id."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable description of the schema."
          }
        },
        "schemaContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Schema content.",
            "smithy.api#required": {}
          }
        },
        "hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hash of the schema content."
          }
        },
        "provisioningState": {
          "target": "com.azure.deviceregistry#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the schema version properties."
      }
    },
    "com.azure.deviceregistry#ProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioning status of the resource."
      }
    },
    "com.azure.deviceregistry#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.deviceregistry#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.deviceregistry#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.deviceregistry#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.deviceregistry#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.deviceregistry#SchemaVersionsCreateOrReplaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "schemaRegistryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Schema registry name parameter."
          }
        },
        "schemaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Schema name parameter."
          }
        },
        "schemaVersionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Schema version name parameter."
          }
        },
        "properties": {
          "target": "com.azure.deviceregistry#SchemaVersionPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.deviceregistry#SchemaVersionPropertiesInput": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable description of the schema."
          }
        },
        "schemaContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Schema content.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the schema version properties."
      }
    },
    "com.azure.deviceregistry#SchemaVersionsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceregistry#SchemaVersionsGetRequest"
      },
      "output": {
        "target": "com.azure.deviceregistry#SchemaVersionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceRegistry/schemaRegistries/{schemaRegistryName}/schemas/{schemaName}/schemaVersions/{schemaVersionName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Get a SchemaVersion",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.deviceregistry#SchemaVersionsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.deviceregistry#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.deviceregistry#SchemaVersionProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.deviceregistry#SchemaVersionsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "schemaRegistryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Schema registry name parameter."
          }
        },
        "schemaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Schema name parameter."
          }
        },
        "schemaVersionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Schema version name parameter."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.deviceregistry#SchemaVersionsListBySchema": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceregistry#SchemaVersionsListBySchemaRequest"
      },
      "output": {
        "target": "com.azure.deviceregistry#SchemaVersionListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceRegistry/schemaRegistries/{schemaRegistryName}/schemas/{schemaName}/schemaVersions",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "List SchemaVersion resources by Schema",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.deviceregistry#SchemaVersionListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.deviceregistry#SchemaVersionListResultValueList",
          "traits": {
            "smithy.api#documentation": "The SchemaVersion items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a SchemaVersion list operation."
      }
    },
    "com.azure.deviceregistry#SchemaVersionListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.deviceregistry#SchemaVersion"
      },
      "traits": {
        "smithy.api#documentation": "The SchemaVersion items on this page"
      }
    },
    "com.azure.deviceregistry#SchemaVersion": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.deviceregistry#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.deviceregistry#SchemaVersionProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Schema version's definition."
      }
    },
    "com.azure.deviceregistry#SchemaVersionsListBySchemaRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "schemaRegistryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Schema registry name parameter."
          }
        },
        "schemaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Schema name parameter."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.deviceregistry#SchemasDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceregistry#SchemasDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceRegistry/schemaRegistries/{schemaRegistryName}/schemas/{schemaName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Delete a Schema",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.deviceregistry#SchemasDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "schemaRegistryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Schema registry name parameter."
          }
        },
        "schemaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Schema name parameter."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.deviceregistry#SchemasCreateOrReplace": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceregistry#SchemasCreateOrReplaceRequest"
      },
      "output": {
        "target": "com.azure.deviceregistry#SchemasCreateOrReplaceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceRegistry/schemaRegistries/{schemaRegistryName}/schemas/{schemaName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Create a Schema",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.deviceregistry#SchemasCreateOrReplaceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.deviceregistry#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.deviceregistry#SchemaProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.deviceregistry#SchemaProperties": {
      "type": "structure",
      "members": {
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Globally unique, immutable, non-reusable id."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable display name."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable description of the schema."
          }
        },
        "format": {
          "target": "com.azure.deviceregistry#Format",
          "traits": {
            "smithy.api#documentation": "Format of the schema.",
            "smithy.api#required": {}
          }
        },
        "schemaType": {
          "target": "com.azure.deviceregistry#SchemaType",
          "traits": {
            "smithy.api#documentation": "Type of the schema.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.deviceregistry#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the resource."
          }
        },
        "tags": {
          "target": "com.azure.deviceregistry#SchemaPropertiesTagsMap",
          "traits": {
            "smithy.api#documentation": "Schema tags."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the schema properties."
      }
    },
    "com.azure.deviceregistry#SchemaPropertiesTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Schema tags."
      }
    },
    "com.azure.deviceregistry#SchemaType": {
      "type": "enum",
      "members": {
        "MESSAGESCHEMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MessageSchema"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the schema type."
      }
    },
    "com.azure.deviceregistry#Format": {
      "type": "enum",
      "members": {
        "JSONSCHEMA_DRAFT_07": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JsonSchema/draft-07"
          }
        },
        "DELTA_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Delta/1.0"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the schema format."
      }
    },
    "com.azure.deviceregistry#SchemasCreateOrReplaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "schemaRegistryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Schema registry name parameter."
          }
        },
        "schemaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Schema name parameter."
          }
        },
        "properties": {
          "target": "com.azure.deviceregistry#SchemaPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.deviceregistry#SchemaPropertiesInput": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable display name."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable description of the schema."
          }
        },
        "format": {
          "target": "com.azure.deviceregistry#Format",
          "traits": {
            "smithy.api#documentation": "Format of the schema.",
            "smithy.api#required": {}
          }
        },
        "schemaType": {
          "target": "com.azure.deviceregistry#SchemaType",
          "traits": {
            "smithy.api#documentation": "Type of the schema.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.azure.deviceregistry#SchemaPropertiesInputTagsMap",
          "traits": {
            "smithy.api#documentation": "Schema tags."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the schema properties."
      }
    },
    "com.azure.deviceregistry#SchemaPropertiesInputTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Schema tags."
      }
    },
    "com.azure.deviceregistry#SchemasGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceregistry#SchemasGetRequest"
      },
      "output": {
        "target": "com.azure.deviceregistry#SchemasGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceRegistry/schemaRegistries/{schemaRegistryName}/schemas/{schemaName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Get a Schema",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.deviceregistry#SchemasGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.deviceregistry#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.deviceregistry#SchemaProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.deviceregistry#SchemasGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "schemaRegistryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Schema registry name parameter."
          }
        },
        "schemaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Schema name parameter."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.deviceregistry#SchemasListBySchemaRegistry": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceregistry#SchemasListBySchemaRegistryRequest"
      },
      "output": {
        "target": "com.azure.deviceregistry#SchemaListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceRegistry/schemaRegistries/{schemaRegistryName}/schemas",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "List Schema resources by SchemaRegistry",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.deviceregistry#SchemaListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.deviceregistry#SchemaListResultValueList",
          "traits": {
            "smithy.api#documentation": "The Schema items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a Schema list operation."
      }
    },
    "com.azure.deviceregistry#SchemaListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.deviceregistry#Schema"
      },
      "traits": {
        "smithy.api#documentation": "The Schema items on this page"
      }
    },
    "com.azure.deviceregistry#Schema": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.deviceregistry#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.deviceregistry#SchemaProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Schema definition."
      }
    },
    "com.azure.deviceregistry#SchemasListBySchemaRegistryRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "schemaRegistryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Schema registry name parameter."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.deviceregistry#SchemaRegistriesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceregistry#SchemaRegistriesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceRegistry/schemaRegistries/{schemaRegistryName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Delete a SchemaRegistry",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.deviceregistry#SchemaRegistriesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "schemaRegistryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Schema registry name parameter."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.deviceregistry#SchemaRegistriesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceregistry#SchemaRegistriesUpdateRequest"
      },
      "output": {
        "target": "com.azure.deviceregistry#SchemaRegistriesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceRegistry/schemaRegistries/{schemaRegistryName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Update a SchemaRegistry",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.deviceregistry#SchemaRegistriesUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.deviceregistry#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.deviceregistry#SchemaRegistriesUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.deviceregistry#SchemaRegistryProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "identity": {
          "target": "com.azure.deviceregistry#SchemaRegistriesUpdateResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (either system assigned, or none)"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.deviceregistry#SchemaRegistriesUpdateResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.deviceregistry#SystemAssignedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (either system assigned, or none)"
      }
    },
    "com.azure.deviceregistry#SystemAssignedServiceIdentityType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of managed service identity (either system assigned, or none)."
      }
    },
    "com.azure.deviceregistry#SchemaRegistryProperties": {
      "type": "structure",
      "members": {
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Globally unique, immutable, non-reusable id."
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Schema registry namespace. Uniquely identifies a schema registry within a tenant.",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable display name."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable description of the schema registry."
          }
        },
        "storageAccountContainerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Storage Account's Container URL where schemas will be stored.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.deviceregistry#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the schema registry properties."
      }
    },
    "com.azure.deviceregistry#SchemaRegistriesUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.deviceregistry#SchemaRegistriesUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "schemaRegistryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Schema registry name parameter."
          }
        },
        "identity": {
          "target": "com.azure.deviceregistry#SchemaRegistriesUpdateRequestIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (either system assigned, or none)"
          }
        },
        "tags": {
          "target": "com.azure.deviceregistry#SchemaRegistriesUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "properties": {
          "target": "com.azure.deviceregistry#SchemaRegistryUpdateProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.deviceregistry#SchemaRegistryUpdateProperties": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable display name."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable description of the schema registry."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The updatable properties of the SchemaRegistry."
      }
    },
    "com.azure.deviceregistry#SchemaRegistriesUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.deviceregistry#SchemaRegistriesUpdateRequestIdentity": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.deviceregistry#SystemAssignedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (either system assigned, or none)"
      }
    },
    "com.azure.deviceregistry#SchemaRegistriesCreateOrReplace": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceregistry#SchemaRegistriesCreateOrReplaceRequest"
      },
      "output": {
        "target": "com.azure.deviceregistry#SchemaRegistriesCreateOrReplaceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceRegistry/schemaRegistries/{schemaRegistryName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Create a SchemaRegistry",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.deviceregistry#SchemaRegistriesCreateOrReplaceResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.deviceregistry#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.deviceregistry#SchemaRegistriesCreateOrReplaceResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.deviceregistry#SchemaRegistryProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "identity": {
          "target": "com.azure.deviceregistry#SchemaRegistriesCreateOrReplaceResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (either system assigned, or none)"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.deviceregistry#SchemaRegistriesCreateOrReplaceResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.deviceregistry#SystemAssignedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (either system assigned, or none)"
      }
    },
    "com.azure.deviceregistry#SchemaRegistriesCreateOrReplaceResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.deviceregistry#SchemaRegistriesCreateOrReplaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "schemaRegistryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Schema registry name parameter."
          }
        },
        "tags": {
          "target": "com.azure.deviceregistry#SchemaRegistriesCreateOrReplaceRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.deviceregistry#SchemaRegistryPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "identity": {
          "target": "com.azure.deviceregistry#SchemaRegistriesCreateOrReplaceRequestIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (either system assigned, or none)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.deviceregistry#SchemaRegistriesCreateOrReplaceRequestIdentity": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.deviceregistry#SystemAssignedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (either system assigned, or none)"
      }
    },
    "com.azure.deviceregistry#SchemaRegistryPropertiesInput": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Schema registry namespace. Uniquely identifies a schema registry within a tenant.",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable display name."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable description of the schema registry."
          }
        },
        "storageAccountContainerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Storage Account's Container URL where schemas will be stored.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the schema registry properties."
      }
    },
    "com.azure.deviceregistry#SchemaRegistriesCreateOrReplaceRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.deviceregistry#SchemaRegistriesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceregistry#SchemaRegistriesGetRequest"
      },
      "output": {
        "target": "com.azure.deviceregistry#SchemaRegistriesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceRegistry/schemaRegistries/{schemaRegistryName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Get a SchemaRegistry",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.deviceregistry#SchemaRegistriesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.deviceregistry#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.deviceregistry#SchemaRegistriesGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.deviceregistry#SchemaRegistryProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "identity": {
          "target": "com.azure.deviceregistry#SchemaRegistriesGetResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (either system assigned, or none)"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.deviceregistry#SchemaRegistriesGetResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.deviceregistry#SystemAssignedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (either system assigned, or none)"
      }
    },
    "com.azure.deviceregistry#SchemaRegistriesGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.deviceregistry#SchemaRegistriesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "schemaRegistryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Schema registry name parameter."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.deviceregistry#SchemaRegistriesListByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceregistry#SchemaRegistriesListByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.deviceregistry#SchemaRegistryListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceRegistry/schemaRegistries",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "List SchemaRegistry resources by resource group",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.deviceregistry#SchemaRegistryListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.deviceregistry#SchemaRegistryListResultValueList",
          "traits": {
            "smithy.api#documentation": "The SchemaRegistry items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a SchemaRegistry list operation."
      }
    },
    "com.azure.deviceregistry#SchemaRegistryListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.deviceregistry#SchemaRegistry"
      },
      "traits": {
        "smithy.api#documentation": "The SchemaRegistry items on this page"
      }
    },
    "com.azure.deviceregistry#SchemaRegistry": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.deviceregistry#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.deviceregistry#SchemaRegistryTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.deviceregistry#SchemaRegistryProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "identity": {
          "target": "com.azure.deviceregistry#SchemaRegistryIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (either system assigned, or none)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Schema registry definition."
      }
    },
    "com.azure.deviceregistry#SchemaRegistryIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.deviceregistry#SystemAssignedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (either system assigned, or none)"
      }
    },
    "com.azure.deviceregistry#SchemaRegistryTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.deviceregistry#SchemaRegistriesListByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.deviceregistry#NamespacesMigrate": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceregistry#NamespacesMigrateRequest"
      },
      "output": {
        "target": "com.azure.deviceregistry#NamespaceMigrateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceRegistry/namespaces/{namespaceName}/migrate",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Migrate the resources into Namespace",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.deviceregistry#NamespaceMigrateResponse": {
      "type": "structure",
      "members": {
        "migrateResults": {
          "target": "com.azure.deviceregistry#NamespaceMigrateResponseMigrateResultsList",
          "traits": {
            "smithy.api#documentation": "List of migrate results containing result of each asset migrate operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the migrate asset resources operation into Namespace resource."
      }
    },
    "com.azure.deviceregistry#NamespaceMigrateResponseMigrateResultsList": {
      "type": "list",
      "member": {
        "target": "com.azure.deviceregistry#MigrateResult"
      },
      "traits": {
        "smithy.api#documentation": "List of migrate results containing result of each asset migrate operation."
      }
    },
    "com.azure.deviceregistry#MigrateResult": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource Id of the asset resource."
          }
        },
        "result": {
          "target": "com.azure.deviceregistry#MigrateResultType",
          "traits": {
            "smithy.api#documentation": "The result of the migrate operation."
          }
        },
        "error": {
          "target": "com.azure.deviceregistry#Error",
          "traits": {
            "smithy.api#documentation": "The error if the migrate operation is not successful."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of Migrate operation of asset resource into Namespace resource."
      }
    },
    "com.azure.deviceregistry#Error": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error code for classification of errors (ex: '400', '404', '500', etc.)."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable helpful error message to provide additional context for error (e.g.,: “Capability ID 'foo' does not exist”)."
          }
        },
        "details": {
          "target": "com.azure.deviceregistry#ErrorDetailsList",
          "traits": {
            "smithy.api#documentation": "Array of error details that describe the status of each error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the error object with properties."
      }
    },
    "com.azure.deviceregistry#ErrorDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.deviceregistry#ErrorDetails"
      },
      "traits": {
        "smithy.api#documentation": "Array of error details that describe the status of each error."
      }
    },
    "com.azure.deviceregistry#ErrorDetails": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Multi-part error code for classification and root causing of errors (ex: 400.200.100.432)."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable helpful error message to provide additional context for error (ex: “Authentication method not supported”)."
          }
        },
        "info": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable helpful detailed text context for debugging (ex: “The following mechanisms are supported...”)."
          }
        },
        "correlationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the transaction to aid in debugging."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the error details properties."
      }
    },
    "com.azure.deviceregistry#MigrateResultType": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result Type of Migrate Operation."
      }
    },
    "com.azure.deviceregistry#NamespacesMigrateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the namespace."
          }
        },
        "scope": {
          "target": "com.azure.deviceregistry#Scope",
          "traits": {
            "smithy.api#documentation": "Scope of the migrate resources operation."
          }
        },
        "resourceIds": {
          "target": "com.azure.deviceregistry#NamespacesMigrateRequestResourceIdsList",
          "traits": {
            "smithy.api#documentation": "List of asset resources to be migrated."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.deviceregistry#NamespacesMigrateRequestResourceIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of asset resources to be migrated."
      }
    },
    "com.azure.deviceregistry#Scope": {
      "type": "enum",
      "members": {
        "RESOURCES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Resources"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Scope of the migrate resources operation."
      }
    },
    "com.azure.deviceregistry#NamespaceDiscoveredDevicesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceregistry#NamespaceDiscoveredDevicesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceRegistry/namespaces/{namespaceName}/discoveredDevices/{discoveredDeviceName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Delete a NamespaceDiscoveredDevice",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.deviceregistry#NamespaceDiscoveredDevicesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the namespace."
          }
        },
        "discoveredDeviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the discovered device."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.deviceregistry#NamespaceDiscoveredDevicesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceregistry#NamespaceDiscoveredDevicesUpdateRequest"
      },
      "output": {
        "target": "com.azure.deviceregistry#NamespaceDiscoveredDevicesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceRegistry/namespaces/{namespaceName}/discoveredDevices/{discoveredDeviceName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Update a NamespaceDiscoveredDevice",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.deviceregistry#NamespaceDiscoveredDevicesUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.deviceregistry#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.deviceregistry#NamespaceDiscoveredDevicesUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.deviceregistry#NamespaceDiscoveredDeviceProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.deviceregistry#ExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The extended location.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.deviceregistry#ExtendedLocation": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The extended location type.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The extended location name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The extended location."
      }
    },
    "com.azure.deviceregistry#NamespaceDiscoveredDeviceProperties": {
      "type": "structure",
      "members": {
        "externalDeviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A device ID that represents the device in a system external to Azure. Unique within scope of an Azure tenant."
          }
        },
        "endpoints": {
          "target": "com.azure.deviceregistry#DiscoveredMessagingEndpoints",
          "traits": {
            "smithy.api#documentation": "Endpoints for discovered devices."
          }
        },
        "manufacturer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Device manufacturer."
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Device model."
          }
        },
        "operatingSystem": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Device operating system name."
          }
        },
        "operatingSystemVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Device operating system version."
          }
        },
        "attributes": {
          "target": "com.azure.deviceregistry#NamespaceDiscoveredDevicePropertiesAttributesMap",
          "traits": {
            "smithy.api#documentation": "A set of key-value pairs that contain custom attributes."
          }
        },
        "discoveryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier used to detect changes in the discovered device.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "An integer that is incremented each time the resource is modified.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.deviceregistry#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the discovered device properties."
      }
    },
    "com.azure.deviceregistry#NamespaceDiscoveredDevicePropertiesAttributesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "A set of key-value pairs that contain custom attributes."
      }
    },
    "com.azure.deviceregistry#DiscoveredMessagingEndpoints": {
      "type": "structure",
      "members": {
        "inbound": {
          "target": "com.azure.deviceregistry#DiscoveredMessagingEndpointsInboundMap",
          "traits": {
            "smithy.api#documentation": "Set of endpoints to connect to the device."
          }
        },
        "outbound": {
          "target": "com.azure.deviceregistry#DiscoveredOutboundEndpoints",
          "traits": {
            "smithy.api#documentation": "Set of endpoints a device can connect to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Connection endpoint URL a device can use to connect to a service."
      }
    },
    "com.azure.deviceregistry#DiscoveredOutboundEndpoints": {
      "type": "structure",
      "members": {
        "assigned": {
          "target": "com.azure.deviceregistry#DiscoveredOutboundEndpointsAssignedMap",
          "traits": {
            "smithy.api#documentation": "Endpoints the device can connect to.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Property bag contains the device's outbound endpoints"
      }
    },
    "com.azure.deviceregistry#DiscoveredOutboundEndpointsAssignedMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.deviceregistry#DeviceMessagingEndpoint"
      },
      "traits": {
        "smithy.api#documentation": "Endpoints the device can connect to."
      }
    },
    "com.azure.deviceregistry#DeviceMessagingEndpoint": {
      "type": "structure",
      "members": {
        "endpointType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of connection used for the messaging endpoint."
          }
        },
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The endpoint address to connect to.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Device messaging endpoint model."
      }
    },
    "com.azure.deviceregistry#DiscoveredMessagingEndpointsInboundMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.deviceregistry#DiscoveredInboundEndpoints"
      },
      "traits": {
        "smithy.api#documentation": "Set of endpoints to connect to the device."
      }
    },
    "com.azure.deviceregistry#DiscoveredInboundEndpoints": {
      "type": "structure",
      "members": {
        "endpointType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of connection endpoint.",
            "smithy.api#required": {}
          }
        },
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The endpoint address & port. This can be either an IP address (e.g., 192.168.1.1) or a fully qualified domain name (FQDN, e.g., server.example.com).",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Protocol version associated with the endpoint e.g. 1 or 2 for endpointType Microsoft.HTTP, and 3.5 or 5.0 for endpointType Microsoft.Mqtt etc."
          }
        },
        "supportedAuthenticationMethods": {
          "target": "com.azure.deviceregistry#DiscoveredInboundEndpointsSupportedAuthenticationMethodsList",
          "traits": {
            "smithy.api#documentation": "List of supported authentication methods supported by device for Inbound connections."
          }
        },
        "additionalConfiguration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stringified JSON that contains configuration to be used by the connector (e.g., OPC UA, ONVIF)."
          }
        },
        "lastUpdatedOn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp (in UTC) when the endpoint was discovered."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An endpoint to connect to the device."
      }
    },
    "com.azure.deviceregistry#DiscoveredInboundEndpointsSupportedAuthenticationMethodsList": {
      "type": "list",
      "member": {
        "target": "com.azure.deviceregistry#AuthenticationMethod2"
      },
      "traits": {
        "smithy.api#documentation": "List of supported authentication methods supported by device for Inbound connections."
      }
    },
    "com.azure.deviceregistry#AuthenticationMethod2": {
      "type": "enum",
      "members": {
        "ANONYMOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Anonymous"
          }
        },
        "CERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Certificate"
          }
        },
        "USERNAMEPASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UsernamePassword"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The method to authenticate the user of the client at the server."
      }
    },
    "com.azure.deviceregistry#NamespaceDiscoveredDevicesUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.deviceregistry#NamespaceDiscoveredDevicesUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the namespace."
          }
        },
        "discoveredDeviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the discovered device."
          }
        },
        "tags": {
          "target": "com.azure.deviceregistry#NamespaceDiscoveredDevicesUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "properties": {
          "target": "com.azure.deviceregistry#NamespaceDiscoveredDeviceUpdateProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.deviceregistry#NamespaceDiscoveredDeviceUpdateProperties": {
      "type": "structure",
      "members": {
        "externalDeviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A device ID that represents the device in a system external to Azure. Unique within scope of an Azure tenant."
          }
        },
        "endpoints": {
          "target": "com.azure.deviceregistry#DiscoveredMessagingEndpointsUpdate",
          "traits": {
            "smithy.api#documentation": "Endpoints for discovered devices."
          }
        },
        "operatingSystemVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Device operating system version."
          }
        },
        "attributes": {
          "target": "com.azure.deviceregistry#NamespaceDiscoveredDeviceUpdatePropertiesAttributesMap",
          "traits": {
            "smithy.api#documentation": "A set of key-value pairs that contain custom attributes."
          }
        },
        "discoveryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier used to detect changes in the discovered device."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "An integer that is incremented each time the resource is modified."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The updatable properties of the NamespaceDiscoveredDevice."
      }
    },
    "com.azure.deviceregistry#NamespaceDiscoveredDeviceUpdatePropertiesAttributesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "A set of key-value pairs that contain custom attributes."
      }
    },
    "com.azure.deviceregistry#DiscoveredMessagingEndpointsUpdate": {
      "type": "structure",
      "members": {
        "inbound": {
          "target": "com.azure.deviceregistry#DiscoveredMessagingEndpointsUpdateInboundMap",
          "traits": {
            "smithy.api#documentation": "Set of endpoints to connect to the device."
          }
        },
        "outbound": {
          "target": "com.azure.deviceregistry#DiscoveredOutboundEndpointsUpdate",
          "traits": {
            "smithy.api#documentation": "Set of endpoints a device can connect to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Connection endpoint URL a device can use to connect to a service."
      }
    },
    "com.azure.deviceregistry#DiscoveredOutboundEndpointsUpdate": {
      "type": "structure",
      "members": {
        "assigned": {
          "target": "com.azure.deviceregistry#DiscoveredOutboundEndpointsUpdateAssignedMap",
          "traits": {
            "smithy.api#documentation": "Endpoints the device can connect to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Property bag contains the device's outbound endpoints"
      }
    },
    "com.azure.deviceregistry#DiscoveredOutboundEndpointsUpdateAssignedMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.deviceregistry#DeviceMessagingEndpointUpdate"
      },
      "traits": {
        "smithy.api#documentation": "Endpoints the device can connect to."
      }
    },
    "com.azure.deviceregistry#DeviceMessagingEndpointUpdate": {
      "type": "structure",
      "members": {
        "endpointType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of connection used for the messaging endpoint."
          }
        },
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The endpoint address to connect to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Device messaging endpoint model."
      }
    },
    "com.azure.deviceregistry#DiscoveredMessagingEndpointsUpdateInboundMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.deviceregistry#DiscoveredInboundEndpointsUpdate"
      },
      "traits": {
        "smithy.api#documentation": "Set of endpoints to connect to the device."
      }
    },
    "com.azure.deviceregistry#DiscoveredInboundEndpointsUpdate": {
      "type": "structure",
      "members": {
        "endpointType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of connection endpoint."
          }
        },
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The endpoint address & port. This can be either an IP address (e.g., 192.168.1.1) or a fully qualified domain name (FQDN, e.g., server.example.com)."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Protocol version associated with the endpoint e.g. 1 or 2 for endpointType Microsoft.HTTP, and 3.5 or 5.0 for endpointType Microsoft.Mqtt etc."
          }
        },
        "supportedAuthenticationMethods": {
          "target": "com.azure.deviceregistry#DiscoveredInboundEndpointsUpdateSupportedAuthenticationMethodsList",
          "traits": {
            "smithy.api#documentation": "List of supported authentication methods supported by device for Inbound connections."
          }
        },
        "additionalConfiguration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stringified JSON that contains configuration to be used by the connector (e.g., OPC UA, ONVIF)."
          }
        },
        "lastUpdatedOn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp (in UTC) when the endpoint was discovered."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An endpoint to connect to the device."
      }
    },
    "com.azure.deviceregistry#DiscoveredInboundEndpointsUpdateSupportedAuthenticationMethodsList": {
      "type": "list",
      "member": {
        "target": "com.azure.deviceregistry#AuthenticationMethod2"
      },
      "traits": {
        "smithy.api#documentation": "List of supported authentication methods supported by device for Inbound connections."
      }
    },
    "com.azure.deviceregistry#NamespaceDiscoveredDevicesUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.deviceregistry#NamespaceDiscoveredDevicesCreateOrReplace": {
      "type": "operation",
      "input": {
        "target": "com.azure.deviceregistry#NamespaceDiscoveredDevicesCreateOrReplaceRequest"
      },
      "output": {
        "target": "com.azure.deviceregistry#NamespaceDiscoveredDevicesCreateOrReplaceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
[...]
