{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.discovery#ProjectsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.discovery#ProjectsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Discovery/workspaces/{workspaceName}/projects/{projectName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Delete a Project",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.discovery#ProjectsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Workspace"
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Project"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.discovery#ProjectsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.discovery#ProjectsUpdateRequest"
      },
      "output": {
        "target": "com.azure.discovery#ProjectsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Discovery/workspaces/{workspaceName}/projects/{projectName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Update a Project",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.discovery#ProjectsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.discovery#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.discovery#ProjectsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.discovery#ProjectProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.discovery#ProjectProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.discovery#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The status of the last operation."
          }
        },
        "foundryProjectEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Foundry project endpoint URI."
          }
        },
        "storageContainerIds": {
          "target": "com.azure.discovery#ProjectPropertiesStorageContainerIdsList",
          "traits": {
            "smithy.api#documentation": "Allowed StorageContainers (Control plane resource references)."
          }
        },
        "settings": {
          "target": "com.azure.discovery#ProjectSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the project."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Project properties"
      }
    },
    "com.azure.discovery#ProjectSettings": {
      "type": "structure",
      "members": {
        "behaviorPreferences": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default preferences to guide AI behaviors in this project."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings schema for the project"
      }
    },
    "com.azure.discovery#ProjectPropertiesStorageContainerIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Allowed StorageContainers (Control plane resource references)."
      }
    },
    "com.azure.discovery#ProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource provisioning state."
      }
    },
    "com.azure.discovery#ProjectsUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.discovery#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.discovery#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.discovery#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.discovery#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.discovery#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.discovery#ProjectsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Workspace"
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Project"
          }
        },
        "tags": {
          "target": "com.azure.discovery#ProjectsUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "properties": {
          "target": "com.azure.discovery#ProjectPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.discovery#ProjectPropertiesInput": {
      "type": "structure",
      "members": {
        "storageContainerIds": {
          "target": "com.azure.discovery#ProjectPropertiesInputStorageContainerIdsList",
          "traits": {
            "smithy.api#documentation": "Allowed StorageContainers (Control plane resource references)."
          }
        },
        "settings": {
          "target": "com.azure.discovery#ProjectSettings",
          "traits": {
            "smithy.api#documentation": "Settings for the project."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Project properties"
      }
    },
    "com.azure.discovery#ProjectPropertiesInputStorageContainerIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Allowed StorageContainers (Control plane resource references)."
      }
    },
    "com.azure.discovery#ProjectsUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.discovery#ProjectsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.discovery#ProjectsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.discovery#ProjectsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Discovery/workspaces/{workspaceName}/projects/{projectName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Create a Project",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.discovery#ProjectsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.discovery#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.discovery#ProjectsCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.discovery#ProjectProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.discovery#ProjectsCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.discovery#ProjectsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Workspace"
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Project"
          }
        },
        "tags": {
          "target": "com.azure.discovery#ProjectsCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.discovery#ProjectPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.discovery#ProjectsCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.discovery#ProjectsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.discovery#ProjectsGetRequest"
      },
      "output": {
        "target": "com.azure.discovery#ProjectsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Discovery/workspaces/{workspaceName}/projects/{projectName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Get a Project",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.discovery#ProjectsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.discovery#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.discovery#ProjectsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.discovery#ProjectProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.discovery#ProjectsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.discovery#ProjectsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Workspace"
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Project"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.discovery#ProjectsListByWorkspace": {
      "type": "operation",
      "input": {
        "target": "com.azure.discovery#ProjectsListByWorkspaceRequest"
      },
      "output": {
        "target": "com.azure.discovery#ProjectListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Discovery/workspaces/{workspaceName}/projects",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "List Project resources by Workspace",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.discovery#ProjectListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.discovery#ProjectListResultValueList",
          "traits": {
            "smithy.api#documentation": "The Project items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a Project list operation."
      }
    },
    "com.azure.discovery#ProjectListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.discovery#Project"
      },
      "traits": {
        "smithy.api#documentation": "The Project items on this page"
      }
    },
    "com.azure.discovery#Project": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.discovery#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.discovery#ProjectTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.discovery#ProjectProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Project tracked resource"
      }
    },
    "com.azure.discovery#ProjectTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.discovery#ProjectsListByWorkspaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Workspace"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.discovery#WorkspacePrivateLinkResourcesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.discovery#WorkspacePrivateLinkResourcesGetRequest"
      },
      "output": {
        "target": "com.azure.discovery#WorkspacePrivateLinkResourcesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Discovery/workspaces/{workspaceName}/privateLinkResources/{privateLinkResourceName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Gets the specified private link resource for the workspace.",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.discovery#WorkspacePrivateLinkResourcesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.discovery#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.discovery#WorkspacePrivateLinkResourcesGetResponseProperties",
          "traits": {
            "smithy.api#documentation": "Properties of a private link resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.discovery#WorkspacePrivateLinkResourcesGetResponseProperties": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The private link resource group id."
          }
        },
        "requiredMembers": {
          "target": "com.azure.discovery#WorkspacePrivateLinkResourcesGetResponsePropertiesRequiredMembersList",
          "traits": {
            "smithy.api#documentation": "The private link resource required member names."
          }
        },
        "requiredZoneNames": {
          "target": "com.azure.discovery#WorkspacePrivateLinkResourcesGetResponsePropertiesRequiredZoneNamesList",
          "traits": {
            "smithy.api#documentation": "The private link resource private link DNS zone name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a private link resource."
      }
    },
    "com.azure.discovery#WorkspacePrivateLinkResourcesGetResponsePropertiesRequiredZoneNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The private link resource private link DNS zone name."
      }
    },
    "com.azure.discovery#WorkspacePrivateLinkResourcesGetResponsePropertiesRequiredMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The private link resource required member names."
      }
    },
    "com.azure.discovery#WorkspacePrivateLinkResourcesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Workspace"
          }
        },
        "privateLinkResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private link associated with the Azure resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.discovery#WorkspacePrivateLinkResourcesListByWorkspace": {
      "type": "operation",
      "input": {
        "target": "com.azure.discovery#WorkspacePrivateLinkResourcesListByWorkspaceRequest"
      },
      "output": {
        "target": "com.azure.discovery#WorkspacePrivateLinkResourceListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Discovery/workspaces/{workspaceName}/privateLinkResources",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Lists all private link resources for the workspace.",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.discovery#WorkspacePrivateLinkResourceListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.discovery#WorkspacePrivateLinkResourceListResultValueList",
          "traits": {
            "smithy.api#documentation": "The WorkspacePrivateLinkResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a WorkspacePrivateLinkResource list operation."
      }
    },
    "com.azure.discovery#WorkspacePrivateLinkResourceListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.discovery#WorkspacePrivateLinkResource"
      },
      "traits": {
        "smithy.api#documentation": "The WorkspacePrivateLinkResource items on this page"
      }
    },
    "com.azure.discovery#WorkspacePrivateLinkResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.discovery#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.discovery#WorkspacePrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "Properties of a private link resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A private link resource for Workspace."
      }
    },
    "com.azure.discovery#WorkspacePrivateLinkResourceProperties": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The private link resource group id."
          }
        },
        "requiredMembers": {
          "target": "com.azure.discovery#WorkspacePrivateLinkResourcePropertiesRequiredMembersList",
          "traits": {
            "smithy.api#documentation": "The private link resource required member names."
          }
        },
        "requiredZoneNames": {
          "target": "com.azure.discovery#WorkspacePrivateLinkResourcePropertiesRequiredZoneNamesList",
          "traits": {
            "smithy.api#documentation": "The private link resource private link DNS zone name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a private link resource."
      }
    },
    "com.azure.discovery#WorkspacePrivateLinkResourcePropertiesRequiredZoneNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The private link resource private link DNS zone name."
      }
    },
    "com.azure.discovery#WorkspacePrivateLinkResourcePropertiesRequiredMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The private link resource required member names."
      }
    },
    "com.azure.discovery#WorkspacePrivateLinkResourcesListByWorkspaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Workspace"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.discovery#WorkspacePrivateEndpointConnectionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.discovery#WorkspacePrivateEndpointConnectionsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Discovery/workspaces/{workspaceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Deletes the specified private endpoint connection.",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.discovery#WorkspacePrivateEndpointConnectionsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Workspace"
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection associated with the Azure resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.discovery#WorkspacePrivateEndpointConnectionsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.discovery#WorkspacePrivateEndpointConnectionsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.discovery#WorkspacePrivateEndpointConnectionsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Discovery/workspaces/{workspaceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Approves or updates the specified private endpoint connection.",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.discovery#WorkspacePrivateEndpointConnectionsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.discovery#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.discovery#WorkspacePrivateEndpointConnectionsCreateOrUpdateResponseProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the private endpoint connection."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.discovery#WorkspacePrivateEndpointConnectionsCreateOrUpdateResponseProperties": {
      "type": "structure",
      "members": {
        "groupIds": {
          "target": "com.azure.discovery#WorkspacePrivateEndpointConnectionsCreateOrUpdateResponsePropertiesGroupIdsList",
          "traits": {
            "smithy.api#documentation": "The group ids for the private endpoint resource."
          }
        },
        "privateEndpoint": {
          "target": "com.azure.discovery#PrivateEndpoint",
          "traits": {
            "smithy.api#documentation": "The private endpoint resource."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.discovery#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.discovery#PrivateEndpointConnectionProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the private endpoint connection resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the private endpoint connection."
      }
    },
    "com.azure.discovery#PrivateEndpointConnectionProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current provisioning state."
      }
    },
    "com.azure.discovery#PrivateLinkServiceConnectionState": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.discovery#PrivateEndpointServiceConnectionStatus",
          "traits": {
            "smithy.api#documentation": "Indicates whether the connection has been Approved/Rejected/Removed by the owner of the service."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason for approval/rejection of the connection."
          }
        },
        "actionsRequired": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A message indicating if changes on the service provider require any updates on the consumer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider."
      }
    },
    "com.azure.discovery#PrivateEndpointServiceConnectionStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint connection status."
      }
    },
    "com.azure.discovery#PrivateEndpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ARM identifier for private endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint resource."
      }
    },
    "com.azure.discovery#WorkspacePrivateEndpointConnectionsCreateOrUpdateResponsePropertiesGroupIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The group ids for the private endpoint resource."
      }
    },
    "com.azure.discovery#WorkspacePrivateEndpointConnectionsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Workspace"
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection associated with the Azure resource."
          }
        },
        "properties": {
          "target": "com.azure.discovery#WorkspacePrivateEndpointConnectionsCreateOrUpdateRequestProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the private endpoint connection."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.discovery#WorkspacePrivateEndpointConnectionsCreateOrUpdateRequestProperties": {
      "type": "structure",
      "members": {
        "privateEndpoint": {
          "target": "com.azure.discovery#PrivateEndpointInput",
          "traits": {
            "smithy.api#documentation": "The private endpoint resource."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.discovery#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the private endpoint connection."
      }
    },
    "com.azure.discovery#PrivateEndpointInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The private endpoint resource."
      }
    },
    "com.azure.discovery#WorkspacePrivateEndpointConnectionsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.discovery#WorkspacePrivateEndpointConnectionsGetRequest"
      },
      "output": {
        "target": "com.azure.discovery#WorkspacePrivateEndpointConnectionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Discovery/workspaces/{workspaceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Gets the specified private endpoint connection associated with the workspace.",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.discovery#WorkspacePrivateEndpointConnectionsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.discovery#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.discovery#WorkspacePrivateEndpointConnectionsGetResponseProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the private endpoint connection."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.discovery#WorkspacePrivateEndpointConnectionsGetResponseProperties": {
      "type": "structure",
      "members": {
        "groupIds": {
          "target": "com.azure.discovery#WorkspacePrivateEndpointConnectionsGetResponsePropertiesGroupIdsList",
          "traits": {
            "smithy.api#documentation": "The group ids for the private endpoint resource."
          }
        },
        "privateEndpoint": {
          "target": "com.azure.discovery#PrivateEndpoint",
          "traits": {
            "smithy.api#documentation": "The private endpoint resource."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.discovery#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.discovery#PrivateEndpointConnectionProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the private endpoint connection resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the private endpoint connection."
      }
    },
    "com.azure.discovery#WorkspacePrivateEndpointConnectionsGetResponsePropertiesGroupIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The group ids for the private endpoint resource."
      }
    },
    "com.azure.discovery#WorkspacePrivateEndpointConnectionsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Workspace"
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection associated with the Azure resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.discovery#WorkspacePrivateEndpointConnectionsListByWorkspace": {
      "type": "operation",
      "input": {
        "target": "com.azure.discovery#WorkspacePrivateEndpointConnectionsListByWorkspaceRequest"
      },
      "output": {
        "target": "com.azure.discovery#WorkspacePrivateEndpointConnectionListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Discovery/workspaces/{workspaceName}/privateEndpointConnections",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Lists all private endpoint connections for a workspace.",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.discovery#WorkspacePrivateEndpointConnectionListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.discovery#WorkspacePrivateEndpointConnectionListResultValueList",
          "traits": {
            "smithy.api#documentation": "The WorkspacePrivateEndpointConnection items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a WorkspacePrivateEndpointConnection list operation."
      }
    },
    "com.azure.discovery#WorkspacePrivateEndpointConnectionListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.discovery#WorkspacePrivateEndpointConnection"
      },
      "traits": {
        "smithy.api#documentation": "The WorkspacePrivateEndpointConnection items on this page"
      }
    },
    "com.azure.discovery#WorkspacePrivateEndpointConnection": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.discovery#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.discovery#WorkspacePrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the private endpoint connection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Private Endpoint Connection resource for Workspace."
      }
    },
    "com.azure.discovery#WorkspacePrivateEndpointConnectionProperties": {
      "type": "structure",
      "members": {
        "groupIds": {
          "target": "com.azure.discovery#WorkspacePrivateEndpointConnectionPropertiesGroupIdsList",
          "traits": {
            "smithy.api#documentation": "The group ids for the private endpoint resource."
          }
        },
        "privateEndpoint": {
          "target": "com.azure.discovery#PrivateEndpoint",
          "traits": {
            "smithy.api#documentation": "The private endpoint resource."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.discovery#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.discovery#PrivateEndpointConnectionProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the private endpoint connection resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the private endpoint connection."
      }
    },
    "com.azure.discovery#WorkspacePrivateEndpointConnectionPropertiesGroupIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The group ids for the private endpoint resource."
      }
    },
    "com.azure.discovery#WorkspacePrivateEndpointConnectionsListByWorkspaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Workspace"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.discovery#ChatModelDeploymentsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.discovery#ChatModelDeploymentsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Discovery/workspaces/{workspaceName}/chatModelDeployments/{chatModelDeploymentName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Delete a ChatModelDeployment",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.discovery#ChatModelDeploymentsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Workspace"
          }
        },
        "chatModelDeploymentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the ChatModelDeployment"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.discovery#ChatModelDeploymentsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.discovery#ChatModelDeploymentsUpdateRequest"
      },
      "output": {
        "target": "com.azure.discovery#ChatModelDeploymentsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Discovery/workspaces/{workspaceName}/chatModelDeployments/{chatModelDeploymentName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Update a ChatModelDeployment",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.discovery#ChatModelDeploymentsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.discovery#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.discovery#ChatModelDeploymentsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.discovery#ChatModelDeploymentProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.discovery#ChatModelDeploymentProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.discovery#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The status of the last operation."
          }
        },
        "modelFormat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Model format as published by the provider. Verify supported formats per region using the Model Catalog API.",
            "smithy.api#required": {}
          }
        },
        "modelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Canonical provider model name available in the selected region. Verify supported values per region using the Model Catalog API.",
            "smithy.api#required": {}
          }
        },
        "modelVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provider-published version of the selected model."
          }
        },
        "skuName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SKU tier used by this chat model deployment."
          }
        },
        "capacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Provisioned SKU capacity units for this chat model deployment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a deployment binding a specific model family to a user-defined deployment name for chat inference."
      }
    },
    "com.azure.discovery#ChatModelDeploymentsUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.discovery#ChatModelDeploymentsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Workspace"
          }
        },
        "chatModelDeploymentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the ChatModelDeployment"
          }
        },
        "tags": {
          "target": "com.azure.discovery#ChatModelDeploymentsUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "properties": {
          "target": "com.azure.discovery#ChatModelDeploymentPropertiesUpdate",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.discovery#ChatModelDeploymentPropertiesUpdate": {
      "type": "structure",
      "members": {
        "capacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Provisioned SKU capacity units for this chat model deployment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a deployment binding a specific model family to a user-defined deployment name for chat inference."
      }
    },
    "com.azure.discovery#ChatModelDeploymentsUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.discovery#ChatModelDeploymentsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.discovery#ChatModelDeploymentsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.discovery#ChatModelDeploymentsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Discovery/workspaces/{workspaceName}/chatModelDeployments/{chatModelDeploymentName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Create a ChatModelDeployment",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.discovery#ChatModelDeploymentsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.discovery#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.discovery#ChatModelDeploymentsCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.discovery#ChatModelDeploymentProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.discovery#ChatModelDeploymentsCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.discovery#ChatModelDeploymentsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Workspace"
          }
        },
        "chatModelDeploymentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the ChatModelDeployment"
          }
        },
        "tags": {
          "target": "com.azure.discovery#ChatModelDeploymentsCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.discovery#ChatModelDeploymentPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.discovery#ChatModelDeploymentPropertiesInput": {
      "type": "structure",
      "members": {
        "modelFormat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Model format as published by the provider. Verify supported formats per region using the Model Catalog API.",
            "smithy.api#required": {}
          }
        },
        "modelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Canonical provider model name available in the selected region. Verify supported values per region using the Model Catalog API.",
            "smithy.api#required": {}
          }
        },
        "modelVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provider-published version of the selected model."
          }
        },
        "skuName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SKU tier used by this chat model deployment."
          }
        },
        "capacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Provisioned SKU capacity units for this chat model deployment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a deployment binding a specific model family to a user-defined deployment name for chat inference."
      }
    },
    "com.azure.discovery#ChatModelDeploymentsCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.discovery#ChatModelDeploymentsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.discovery#ChatModelDeploymentsGetRequest"
      },
      "output": {
        "target": "com.azure.discovery#ChatModelDeploymentsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Discovery/workspaces/{workspaceName}/chatModelDeployments/{chatModelDeploymentName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Get a ChatModelDeployment",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.discovery#ChatModelDeploymentsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.discovery#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.discovery#ChatModelDeploymentsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.discovery#ChatModelDeploymentProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.discovery#ChatModelDeploymentsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.discovery#ChatModelDeploymentsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Workspace"
          }
        },
        "chatModelDeploymentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the ChatModelDeployment"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.discovery#ChatModelDeploymentsListByWorkspace": {
      "type": "operation",
      "input": {
        "target": "com.azure.discovery#ChatModelDeploymentsListByWorkspaceRequest"
      },
      "output": {
        "target": "com.azure.discovery#ChatModelDeploymentListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Discovery/workspaces/{workspaceName}/chatModelDeployments",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "List ChatModelDeployment resources by Workspace",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.discovery#ChatModelDeploymentListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.discovery#ChatModelDeploymentListResultValueList",
          "traits": {
            "smithy.api#documentation": "The ChatModelDeployment items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a ChatModelDeployment list operation."
      }
    },
    "com.azure.discovery#ChatModelDeploymentListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.discovery#ChatModelDeployment"
      },
      "traits": {
        "smithy.api#documentation": "The ChatModelDeployment items on this page"
      }
    },
    "com.azure.discovery#ChatModelDeployment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.discovery#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.discovery#ChatModelDeploymentTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.discovery#ChatModelDeploymentProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a deployment that ties a specific model family to a user defined deployment name used when invoking the chat model."
      }
    },
    "com.azure.discovery#ChatModelDeploymentTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.discovery#ChatModelDeploymentsListByWorkspaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Workspace"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.discovery#WorkspacesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.discovery#WorkspacesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Discovery/workspaces/{workspaceName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Delete a Workspace",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.discovery#WorkspacesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Workspace"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.discovery#WorkspacesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.discovery#WorkspacesUpdateRequest"
      },
      "output": {
        "target": "com.azure.discovery#WorkspacesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Discovery/workspaces/{workspaceName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Update a Workspace",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.discovery#WorkspacesUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.discovery#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.discovery#WorkspacesUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.discovery#WorkspaceProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.discovery#WorkspaceProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.discovery#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The status of the last operation."
          }
        },
        "supercomputerIds": {
          "target": "com.azure.discovery#WorkspacePropertiesSupercomputerIdsList",
          "traits": {
            "smithy.api#documentation": "List of linked SuperComputers."
          }
        },
        "workspaceApiUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "workspace API endpoint Uri."
          }
        },
        "workspaceUiUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "workspace User Interface Uri."
          }
        },
        "workspaceIdentity": {
          "target": "com.azure.discovery#Identity",
          "traits": {
            "smithy.api#documentation": "Identity IDs used for leveraging Workspace resources.",
            "smithy.api#required": {}
          }
        },
        "customerManagedKeys": {
          "target": "com.azure.discovery#CustomerManagedKeys",
          "traits": {
            "smithy.api#documentation": "Whether or not to use a customer managed key when encrypting data at rest"
          }
        },
        "keyVaultProperties": {
          "target": "com.azure.discovery#KeyVaultProperties",
          "traits": {
            "smithy.api#documentation": "The key to use for encrypting data at rest when customer managed keys are enabled."
          }
        },
        "logAnalyticsClusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Log Analytics Cluster to use for debug logs. This is required when Customer Managed Keys are enabled."
          }
        },
        "privateEndpointConnections": {
          "target": "com.azure.discovery#WorkspacePropertiesPrivateEndpointConnectionsList",
          "traits": {
            "smithy.api#documentation": "List of private endpoint connections."
          }
        },
        "publicNetworkAccess": {
          "target": "com.azure.discovery#PublicNetworkAccess",
          "traits": {
            "smithy.api#documentation": "Whether or not public network access is allowed for this resource. For security reasons, it is recommended to disable it whenever possible."
          }
        },
        "agentSubnetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Agent Subnet ID for agent resources."
          }
        },
        "privateEndpointSubnetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Private Endpoint Subnet ID for private endpoint connections."
          }
        },
        "workspaceSubnetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Function Subnet ID for workspace resources."
          }
        },
        "managedResourceGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource group for resources managed on behalf of customer."
          }
        },
        "managedOnBehalfOfConfiguration": {
          "target": "com.azure.discovery#WithMoboBrokerResources",
          "traits": {
            "smithy.api#documentation": "Managed-On-Behalf-Of configuration properties. This configuration exists for the resources where a resource provider manages those resources on behalf of the resource owner."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Workspace properties"
      }
    },
    "com.azure.discovery#WithMoboBrokerResources": {
      "type": "structure",
      "members": {
        "moboBrokerResources": {
          "target": "com.azure.discovery#WithMoboBrokerResourcesMoboBrokerResourcesList",
          "traits": {
            "smithy.api#documentation": "Managed-On-Behalf-Of broker resources"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "For tracking mobo resources"
      }
    },
    "com.azure.discovery#WithMoboBrokerResourcesMoboBrokerResourcesList": {
      "type": "list",
      "member": {
        "target": "com.azure.discovery#WithMoboBrokerResourcesMoboBrokerResourcesItem"
      },
      "traits": {
        "smithy.api#documentation": "Managed-On-Behalf-Of broker resources"
      }
    },
    "com.azure.discovery#WithMoboBrokerResourcesMoboBrokerResourcesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource identifier of a Managed-On-Behalf-Of broker resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed-On-Behalf-Of broker resource. This resource is created by the Resource Provider to manage some resources on behalf of the user."
      }
    },
    "com.azure.discovery#PublicNetworkAccess": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State of public network access."
      }
    },
    "com.azure.discovery#WorkspacePropertiesPrivateEndpointConnectionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.discovery#WorkspacePropertiesPrivateEndpointConnectionsItem"
      },
      "traits": {
        "smithy.api#documentation": "List of private endpoint connections."
      }
    },
    "com.azure.discovery#WorkspacePropertiesPrivateEndpointConnectionsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.discovery#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.discovery#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint connection resource."
      }
    },
    "com.azure.discovery#PrivateEndpointConnectionProperties": {
      "type": "structure",
      "members": {
        "groupIds": {
          "target": "com.azure.discovery#PrivateEndpointConnectionPropertiesGroupIdsList",
          "traits": {
            "smithy.api#documentation": "The group ids for the private endpoint resource."
          }
[...]
