{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.dnsresolver#DnsResolversListByVirtualNetwork": {
      "type": "operation",
      "input": {
        "target": "com.azure.dnsresolver#DnsResolversListByVirtualNetworkRequest"
      },
      "output": {
        "target": "com.azure.dnsresolver#SubResourceListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/listDnsResolvers",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Lists DNS resolver resource IDs linked to a virtual network.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.dnsresolver#SubResourceListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.dnsresolver#SubResourceListResultValueList",
          "traits": {
            "smithy.api#documentation": "The SubResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response to an enumeration operation on sub-resources."
      }
    },
    "com.azure.dnsresolver#SubResourceListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.dnsresolver#SubResource"
      },
      "traits": {
        "smithy.api#documentation": "The SubResource items on this page"
      }
    },
    "com.azure.dnsresolver#SubResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reference to another ARM resource."
      }
    },
    "com.azure.dnsresolver#DnsResolversListByVirtualNetworkRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualNetworkName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the VirtualNetwork"
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "The maximum number of results to return. If not specified, returns up to 100 results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dnsresolver#DnsResolverPoliciesListByVirtualNetwork": {
      "type": "operation",
      "input": {
        "target": "com.azure.dnsresolver#DnsResolverPoliciesListByVirtualNetworkRequest"
      },
      "output": {
        "target": "com.azure.dnsresolver#SubResourceListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/listDnsResolverPolicies",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Lists DNS resolver policy resource IDs linked to a virtual network.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.dnsresolver#DnsResolverPoliciesListByVirtualNetworkRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualNetworkName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the VirtualNetwork"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dnsresolver#DnsForwardingRulesetsListByVirtualNetwork": {
      "type": "operation",
      "input": {
        "target": "com.azure.dnsresolver#DnsForwardingRulesetsListByVirtualNetworkRequest"
      },
      "output": {
        "target": "com.azure.dnsresolver#VirtualNetworkDnsForwardingRulesetListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/listDnsForwardingRulesets",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Lists DNS forwarding ruleset resource IDs attached to a virtual network.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.dnsresolver#VirtualNetworkDnsForwardingRulesetListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.dnsresolver#VirtualNetworkDnsForwardingRulesetListResultValueList",
          "traits": {
            "smithy.api#documentation": "The VirtualNetworkDnsForwardingRuleset items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response to an enumeration operation on Virtual Network DNS Forwarding Ruleset."
      }
    },
    "com.azure.dnsresolver#VirtualNetworkDnsForwardingRulesetListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.dnsresolver#VirtualNetworkDnsForwardingRuleset"
      },
      "traits": {
        "smithy.api#documentation": "The VirtualNetworkDnsForwardingRuleset items on this page"
      }
    },
    "com.azure.dnsresolver#VirtualNetworkDnsForwardingRuleset": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS Forwarding Ruleset Resource ID."
          }
        },
        "properties": {
          "target": "com.azure.dnsresolver#VirtualNetworkLinkSubResourceProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the virtual network link sub-resource reference."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reference to DNS forwarding ruleset and associated virtual network link."
      }
    },
    "com.azure.dnsresolver#VirtualNetworkLinkSubResourceProperties": {
      "type": "structure",
      "members": {
        "virtualNetworkLink": {
          "target": "com.azure.dnsresolver#SubResource",
          "traits": {
            "smithy.api#documentation": "The reference to the virtual network link."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The reference to the virtual network link that associates between the DNS forwarding ruleset and virtual network."
      }
    },
    "com.azure.dnsresolver#DnsForwardingRulesetsListByVirtualNetworkRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualNetworkName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the VirtualNetwork"
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "The maximum number of results to return. If not specified, returns up to 100 results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dnsresolver#OutboundEndpointsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.dnsresolver#OutboundEndpointsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsResolvers/{dnsResolverName}/outboundEndpoints/{outboundEndpointName}",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Deletes an outbound endpoint for a DNS resolver. WARNING: This operation cannot be undone.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.dnsresolver#OutboundEndpointsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "dnsResolverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the DNS resolver."
          }
        },
        "outboundEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the outbound endpoint for the DNS resolver."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dnsresolver#OutboundEndpointsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.dnsresolver#OutboundEndpointsUpdateRequest"
      },
      "output": {
        "target": "com.azure.dnsresolver#OutboundEndpointsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsResolvers/{dnsResolverName}/outboundEndpoints/{outboundEndpointName}",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Updates an outbound endpoint for a DNS resolver.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.dnsresolver#OutboundEndpointsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dnsresolver#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.dnsresolver#OutboundEndpointsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.dnsresolver#OutboundEndpointProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the outbound endpoint.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.\")"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.dnsresolver#OutboundEndpointProperties": {
      "type": "structure",
      "members": {
        "subnet": {
          "target": "com.azure.dnsresolver#SubResource",
          "traits": {
            "smithy.api#documentation": "The reference to the subnet used for the outbound endpoint.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.dnsresolver#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The current provisioning state of the outbound endpoint. This is a read-only property and any attempt to set this value will be ignored."
          }
        },
        "resourceGuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resourceGuid property of the outbound endpoint resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the properties of an outbound endpoint for a DNS resolver."
      }
    },
    "com.azure.dnsresolver#ProvisioningState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current provisioning state of the resource."
      }
    },
    "com.azure.dnsresolver#OutboundEndpointsUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.dnsresolver#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.dnsresolver#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.dnsresolver#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.dnsresolver#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.dnsresolver#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.dnsresolver#OutboundEndpointsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "dnsResolverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the DNS resolver."
          }
        },
        "outboundEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the outbound endpoint for the DNS resolver."
          }
        },
        "tags": {
          "target": "com.azure.dnsresolver#OutboundEndpointsUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Tags for outbound endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dnsresolver#OutboundEndpointsUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tags for outbound endpoint."
      }
    },
    "com.azure.dnsresolver#OutboundEndpointsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.dnsresolver#OutboundEndpointsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.dnsresolver#OutboundEndpointsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsResolvers/{dnsResolverName}/outboundEndpoints/{outboundEndpointName}",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Creates or updates an outbound endpoint for a DNS resolver.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.dnsresolver#OutboundEndpointsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dnsresolver#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.dnsresolver#OutboundEndpointsCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.dnsresolver#OutboundEndpointProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the outbound endpoint.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.\")"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.dnsresolver#OutboundEndpointsCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.dnsresolver#OutboundEndpointsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "dnsResolverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the DNS resolver."
          }
        },
        "outboundEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the outbound endpoint for the DNS resolver."
          }
        },
        "tags": {
          "target": "com.azure.dnsresolver#OutboundEndpointsCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.dnsresolver#OutboundEndpointPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Properties of the outbound endpoint.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dnsresolver#OutboundEndpointPropertiesInput": {
      "type": "structure",
      "members": {
        "subnet": {
          "target": "com.azure.dnsresolver#SubResource",
          "traits": {
            "smithy.api#documentation": "The reference to the subnet used for the outbound endpoint.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the properties of an outbound endpoint for a DNS resolver."
      }
    },
    "com.azure.dnsresolver#OutboundEndpointsCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.dnsresolver#OutboundEndpointsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.dnsresolver#OutboundEndpointsGetRequest"
      },
      "output": {
        "target": "com.azure.dnsresolver#OutboundEndpointsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsResolvers/{dnsResolverName}/outboundEndpoints/{outboundEndpointName}",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Gets properties of an outbound endpoint for a DNS resolver.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.dnsresolver#OutboundEndpointsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dnsresolver#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.dnsresolver#OutboundEndpointsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.dnsresolver#OutboundEndpointProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the outbound endpoint.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.\")"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.dnsresolver#OutboundEndpointsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.dnsresolver#OutboundEndpointsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "dnsResolverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the DNS resolver."
          }
        },
        "outboundEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the outbound endpoint for the DNS resolver."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dnsresolver#OutboundEndpointsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.dnsresolver#OutboundEndpointsListRequest"
      },
      "output": {
        "target": "com.azure.dnsresolver#OutboundEndpointListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsResolvers/{dnsResolverName}/outboundEndpoints",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Lists outbound endpoints for a DNS resolver.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.dnsresolver#OutboundEndpointListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.dnsresolver#OutboundEndpointListResultValueList",
          "traits": {
            "smithy.api#documentation": "The OutboundEndpoint items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a OutboundEndpoint list operation."
      }
    },
    "com.azure.dnsresolver#OutboundEndpointListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.dnsresolver#OutboundEndpoint"
      },
      "traits": {
        "smithy.api#documentation": "The OutboundEndpoint items on this page"
      }
    },
    "com.azure.dnsresolver#OutboundEndpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dnsresolver#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.dnsresolver#OutboundEndpointTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.dnsresolver#OutboundEndpointProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the outbound endpoint.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.\")"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes an outbound endpoint for a DNS resolver."
      }
    },
    "com.azure.dnsresolver#OutboundEndpointTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.dnsresolver#OutboundEndpointsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "dnsResolverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the DNS resolver."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "The maximum number of results to return. If not specified, returns up to 100 results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dnsresolver#InboundEndpointsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.dnsresolver#InboundEndpointsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsResolvers/{dnsResolverName}/inboundEndpoints/{inboundEndpointName}",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Deletes an inbound endpoint for a DNS resolver. WARNING: This operation cannot be undone.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.dnsresolver#InboundEndpointsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "dnsResolverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the DNS resolver."
          }
        },
        "inboundEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the inbound endpoint for the DNS resolver."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dnsresolver#InboundEndpointsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.dnsresolver#InboundEndpointsUpdateRequest"
      },
      "output": {
        "target": "com.azure.dnsresolver#InboundEndpointsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsResolvers/{dnsResolverName}/inboundEndpoints/{inboundEndpointName}",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Updates an inbound endpoint for a DNS resolver.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.dnsresolver#InboundEndpointsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dnsresolver#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.dnsresolver#InboundEndpointsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.dnsresolver#InboundEndpointProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the inbound endpoint.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.\")"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.dnsresolver#InboundEndpointProperties": {
      "type": "structure",
      "members": {
        "ipConfigurations": {
          "target": "com.azure.dnsresolver#InboundEndpointPropertiesIpConfigurationsList",
          "traits": {
            "smithy.api#documentation": "IP configurations for the inbound endpoint.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.dnsresolver#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The current provisioning state of the inbound endpoint. This is a read-only property and any attempt to set this value will be ignored."
          }
        },
        "resourceGuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resourceGuid property of the inbound endpoint resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the properties of an inbound endpoint for a DNS resolver."
      }
    },
    "com.azure.dnsresolver#InboundEndpointPropertiesIpConfigurationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.dnsresolver#IpConfiguration"
      },
      "traits": {
        "smithy.api#documentation": "IP configurations for the inbound endpoint."
      }
    },
    "com.azure.dnsresolver#IpConfiguration": {
      "type": "structure",
      "members": {
        "subnet": {
          "target": "com.azure.dnsresolver#SubResource",
          "traits": {
            "smithy.api#documentation": "The reference to the subnet bound to the IP configuration.",
            "smithy.api#required": {}
          }
        },
        "privateIpAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Private IP address of the IP configuration."
          }
        },
        "privateIpAllocationMethod": {
          "target": "com.azure.dnsresolver#IpConfigurationPrivateIpAllocationMethod",
          "traits": {
            "smithy.api#documentation": "Private IP address allocation method."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IP configuration."
      }
    },
    "com.azure.dnsresolver#IpConfigurationPrivateIpAllocationMethod": {
      "type": "enum",
      "members": {
        "STATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Static"
          }
        },
        "DYNAMIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Dynamic"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Private IP address allocation method."
      }
    },
    "com.azure.dnsresolver#InboundEndpointsUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.dnsresolver#InboundEndpointsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "dnsResolverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the DNS resolver."
          }
        },
        "inboundEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the inbound endpoint for the DNS resolver."
          }
        },
        "tags": {
          "target": "com.azure.dnsresolver#InboundEndpointsUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Tags for inbound endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dnsresolver#InboundEndpointsUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tags for inbound endpoint."
      }
    },
    "com.azure.dnsresolver#InboundEndpointsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.dnsresolver#InboundEndpointsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.dnsresolver#InboundEndpointsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsResolvers/{dnsResolverName}/inboundEndpoints/{inboundEndpointName}",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Creates or updates an inbound endpoint for a DNS resolver.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.dnsresolver#InboundEndpointsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dnsresolver#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.dnsresolver#InboundEndpointsCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.dnsresolver#InboundEndpointProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the inbound endpoint.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.\")"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.dnsresolver#InboundEndpointsCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.dnsresolver#InboundEndpointsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "dnsResolverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the DNS resolver."
          }
        },
        "inboundEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the inbound endpoint for the DNS resolver."
          }
        },
        "tags": {
          "target": "com.azure.dnsresolver#InboundEndpointsCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.dnsresolver#InboundEndpointPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Properties of the inbound endpoint.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dnsresolver#InboundEndpointPropertiesInput": {
      "type": "structure",
      "members": {
        "ipConfigurations": {
          "target": "com.azure.dnsresolver#InboundEndpointPropertiesInputIpConfigurationsList",
          "traits": {
            "smithy.api#documentation": "IP configurations for the inbound endpoint.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the properties of an inbound endpoint for a DNS resolver."
      }
    },
    "com.azure.dnsresolver#InboundEndpointPropertiesInputIpConfigurationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.dnsresolver#IpConfiguration"
      },
      "traits": {
        "smithy.api#documentation": "IP configurations for the inbound endpoint."
      }
    },
    "com.azure.dnsresolver#InboundEndpointsCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.dnsresolver#InboundEndpointsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.dnsresolver#InboundEndpointsGetRequest"
      },
      "output": {
        "target": "com.azure.dnsresolver#InboundEndpointsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsResolvers/{dnsResolverName}/inboundEndpoints/{inboundEndpointName}",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Gets properties of an inbound endpoint for a DNS resolver.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.dnsresolver#InboundEndpointsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dnsresolver#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.dnsresolver#InboundEndpointsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.dnsresolver#InboundEndpointProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the inbound endpoint.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.\")"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.dnsresolver#InboundEndpointsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.dnsresolver#InboundEndpointsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "dnsResolverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the DNS resolver."
          }
        },
        "inboundEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the inbound endpoint for the DNS resolver."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dnsresolver#InboundEndpointsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.dnsresolver#InboundEndpointsListRequest"
      },
      "output": {
        "target": "com.azure.dnsresolver#InboundEndpointListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsResolvers/{dnsResolverName}/inboundEndpoints",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Lists inbound endpoints for a DNS resolver.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.dnsresolver#InboundEndpointListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.dnsresolver#InboundEndpointListResultValueList",
          "traits": {
            "smithy.api#documentation": "The InboundEndpoint items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a InboundEndpoint list operation."
      }
    },
    "com.azure.dnsresolver#InboundEndpointListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.dnsresolver#InboundEndpoint"
      },
      "traits": {
        "smithy.api#documentation": "The InboundEndpoint items on this page"
      }
    },
    "com.azure.dnsresolver#InboundEndpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dnsresolver#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.dnsresolver#InboundEndpointTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.dnsresolver#InboundEndpointProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the inbound endpoint.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.\")"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes an inbound endpoint for a DNS resolver."
      }
    },
    "com.azure.dnsresolver#InboundEndpointTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.dnsresolver#InboundEndpointsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "dnsResolverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the DNS resolver."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "The maximum number of results to return. If not specified, returns up to 100 results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dnsresolver#DnsResolversDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.dnsresolver#DnsResolversDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsResolvers/{dnsResolverName}",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Deletes a DNS resolver. WARNING: This operation cannot be undone.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.dnsresolver#DnsResolversDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "dnsResolverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the DNS resolver."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dnsresolver#DnsResolversUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.dnsresolver#DnsResolversUpdateRequest"
      },
      "output": {
        "target": "com.azure.dnsresolver#DnsResolversUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsResolvers/{dnsResolverName}",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Updates a DNS resolver.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.dnsresolver#DnsResolversUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dnsresolver#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.dnsresolver#DnsResolversUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.dnsresolver#DnsResolverProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the DNS resolver.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.\")"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.dnsresolver#DnsResolverProperties": {
      "type": "structure",
      "members": {
        "virtualNetwork": {
          "target": "com.azure.dnsresolver#SubResource",
          "traits": {
            "smithy.api#documentation": "The reference to the virtual network. This cannot be changed after creation.",
            "smithy.api#required": {}
          }
        },
        "dnsResolverState": {
          "target": "com.azure.dnsresolver#DnsResolverState",
          "traits": {
            "smithy.api#documentation": "The current status of the DNS resolver. This is a read-only property and any attempt to set this value will be ignored."
          }
        },
        "provisioningState": {
          "target": "com.azure.dnsresolver#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The current provisioning state of the DNS resolver. This is a read-only property and any attempt to set this value will be ignored."
          }
        },
        "resourceGuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resourceGuid property of the DNS resolver resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the properties of a DNS resolver."
      }
    },
    "com.azure.dnsresolver#DnsResolverState": {
      "type": "enum",
      "members": {
        "CONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Connected"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disconnected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current status of the DNS resolver. This is a read-only property and any attempt to set this value will be ignored."
      }
    },
    "com.azure.dnsresolver#DnsResolversUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.dnsresolver#DnsResolversUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "dnsResolverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the DNS resolver."
          }
        },
        "tags": {
          "target": "com.azure.dnsresolver#DnsResolversUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Tags for DNS Resolver."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dnsresolver#DnsResolversUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tags for DNS Resolver."
      }
    },
    "com.azure.dnsresolver#DnsResolversCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.dnsresolver#DnsResolversCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.dnsresolver#DnsResolversCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsResolvers/{dnsResolverName}",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Creates or updates a DNS resolver.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.dnsresolver#DnsResolversCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dnsresolver#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.dnsresolver#DnsResolversCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.dnsresolver#DnsResolverProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the DNS resolver.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.\")"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.dnsresolver#DnsResolversCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.dnsresolver#DnsResolversCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "dnsResolverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the DNS resolver."
          }
        },
        "tags": {
          "target": "com.azure.dnsresolver#DnsResolversCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.dnsresolver#DnsResolverPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Properties of the DNS resolver.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dnsresolver#DnsResolverPropertiesInput": {
      "type": "structure",
      "members": {
        "virtualNetwork": {
          "target": "com.azure.dnsresolver#SubResource",
          "traits": {
            "smithy.api#documentation": "The reference to the virtual network. This cannot be changed after creation.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the properties of a DNS resolver."
      }
    },
    "com.azure.dnsresolver#DnsResolversCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.dnsresolver#DnsResolversGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.dnsresolver#DnsResolversGetRequest"
      },
      "output": {
        "target": "com.azure.dnsresolver#DnsResolversGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsResolvers/{dnsResolverName}",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Gets properties of a DNS resolver.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.dnsresolver#DnsResolversGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dnsresolver#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.dnsresolver#DnsResolversGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.dnsresolver#DnsResolverProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the DNS resolver.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.\")"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.dnsresolver#DnsResolversGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.dnsresolver#DnsResolversGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "dnsResolverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the DNS resolver."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dnsresolver#DnsResolversListByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.dnsresolver#DnsResolversListByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.dnsresolver#DnsResolverListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsResolvers",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Lists DNS resolvers within a resource group.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.dnsresolver#DnsResolverListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.dnsresolver#DnsResolverListResultValueList",
          "traits": {
            "smithy.api#documentation": "The DnsResolver items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a DnsResolver list operation."
      }
    },
    "com.azure.dnsresolver#DnsResolverListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.dnsresolver#DnsResolver"
      },
      "traits": {
        "smithy.api#documentation": "The DnsResolver items on this page"
      }
    },
    "com.azure.dnsresolver#DnsResolver": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dnsresolver#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.dnsresolver#DnsResolverTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.dnsresolver#DnsResolverProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the DNS resolver.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.\")"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a DNS resolver."
      }
    },
    "com.azure.dnsresolver#DnsResolverTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.dnsresolver#DnsResolversListByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "The maximum number of results to return. If not specified, returns up to 100 results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dnsresolver#DnsResolverPolicyVirtualNetworkLinksDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.dnsresolver#DnsResolverPolicyVirtualNetworkLinksDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsResolverPolicies/{dnsResolverPolicyName}/virtualNetworkLinks/{dnsResolverPolicyVirtualNetworkLinkName}",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Deletes a DNS resolver policy virtual network link. WARNING: This operation cannot be undone.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.dnsresolver#DnsResolverPolicyVirtualNetworkLinksDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "dnsResolverPolicyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the DNS resolver policy."
          }
        },
        "dnsResolverPolicyVirtualNetworkLinkName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the DNS resolver policy virtual network link for the DNS resolver policy."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.dnsresolver#DnsResolverPolicyVirtualNetworkLinksUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.dnsresolver#DnsResolverPolicyVirtualNetworkLinksUpdateRequest"
      },
      "output": {
        "target": "com.azure.dnsresolver#DnsResolverPolicyVirtualNetworkLinksUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsResolverPolicies/{dnsResolverPolicyName}/virtualNetworkLinks/{dnsResolverPolicyVirtualNetworkLinkName}",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Updates a DNS resolver policy virtual network link.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.dnsresolver#DnsResolverPolicyVirtualNetworkLinksUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.dnsresolver#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.dnsresolver#DnsResolverPolicyVirtualNetworkLinksUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.dnsresolver#DnsResolverPolicyVirtualNetworkLinkProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the DNS resolver policy virtual network link.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.\")"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.dnsresolver#DnsResolverPolicyVirtualNetworkLinkProperties": {
      "type": "structure",
      "members": {
        "virtualNetwork": {
          "target": "com.azure.dnsresolver#SubResource",
          "traits": {
            "smithy.api#documentation": "The reference to the virtual network. This cannot be changed after creation.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.dnsresolver#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The current provisioning state of the DNS resolver policy virtual network link. This is a read-only property and any attempt to set this value will be ignored."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the properties of a DNS resolver policy virtual network link."
      }
    },
    "com.azure.dnsresolver#DnsResolverPolicyVirtualNetworkLinksUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.dnsresolver#DnsResolverPolicyVirtualNetworkLinksUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "dnsResolverPolicyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the DNS resolver policy."
          }
        },
        "dnsResolverPolicyVirtualNetworkLinkName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the DNS resolver policy virtual network link for the DNS resolver policy."
          }
        },
        "tags": {
[...]
