{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.edge#TargetsUpdateExternalValidationStatus": {
      "type": "operation",
      "input": {
        "target": "com.azure.edge#TargetsUpdateExternalValidationStatusRequest"
      },
      "output": {
        "target": "com.azure.edge#TargetsUpdateExternalValidationStatusResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/targets/{targetName}/updateExternalValidationStatus",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Post request to update external validation status",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.edge#TargetsUpdateExternalValidationStatusResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.edge#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.edge#SolutionVersionProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.edge#AzureResourceManagerCommonTypesExtendedLocation"
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.edge#AzureResourceManagerCommonTypesExtendedLocation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the extended location.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.azure.edge#AzureResourceManagerCommonTypesExtendedLocationType",
          "traits": {
            "smithy.api#documentation": "The type of the extended location.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The complex type of the extended location."
      }
    },
    "com.azure.edge#AzureResourceManagerCommonTypesExtendedLocationType": {
      "type": "enum",
      "members": {
        "EDGEZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EdgeZone"
          }
        },
        "CUSTOMLOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CustomLocation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The supported ExtendedLocation types."
      }
    },
    "com.azure.edge#SolutionVersionProperties": {
      "type": "structure",
      "members": {
        "solutionTemplateVersionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Solution Template Version Id"
          }
        },
        "revision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Revision number of resolved config for this solution version"
          }
        },
        "targetDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of applicable target's display name"
          }
        },
        "configuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resolved configuration values"
          }
        },
        "targetLevelConfiguration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Configuration on the line level across all solution template versions"
          }
        },
        "specification": {
          "target": "com.azure.edge#SolutionVersionPropertiesSpecificationMap",
          "traits": {
            "smithy.api#documentation": "App components spec",
            "smithy.api#required": {}
          }
        },
        "reviewId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Review id of resolved config for this solution version"
          }
        },
        "externalValidationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "External validation id"
          }
        },
        "state": {
          "target": "com.azure.edge#State",
          "traits": {
            "smithy.api#documentation": "State of solution instance"
          }
        },
        "currentStage": {
          "target": "com.azure.edge#StageMap",
          "traits": {
            "smithy.api#documentation": "Current Stage of revision"
          }
        },
        "stages": {
          "target": "com.azure.edge#SolutionVersionPropertiesStagesList",
          "traits": {
            "smithy.api#documentation": "Stages of revision"
          }
        },
        "solutionInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Solution instance name"
          }
        },
        "solutionDependencies": {
          "target": "com.azure.edge#SolutionVersionPropertiesSolutionDependenciesList",
          "traits": {
            "smithy.api#documentation": "Solution Dependency Context"
          }
        },
        "errorDetails": {
          "target": "com.azure.edge#SolutionVersionPropertiesErrorDetails",
          "traits": {
            "smithy.api#documentation": "The error detail."
          }
        },
        "latestActionTrackingUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI for tracking the latest action performed on this solution version."
          }
        },
        "latestActionTriggeredBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Object Id of user who triggered the latest action on this solution version."
          }
        },
        "actionType": {
          "target": "com.azure.edge#JobType",
          "traits": {
            "smithy.api#documentation": "The type of the latest action performed on this solution version."
          }
        },
        "provisioningState": {
          "target": "com.azure.edge#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Solution Version Properties"
      }
    },
    "com.azure.edge#ProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "INITIALIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Initialized"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provisioning state of resource"
      }
    },
    "com.azure.edge#JobType": {
      "type": "enum",
      "members": {
        "DEPLOY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deploy"
          }
        },
        "PUBLISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "publish"
          }
        },
        "STAGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "staging"
          }
        },
        "EXTERNALVALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "externalValidation"
          }
        },
        "UNINSTALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uninstall"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JobType for the job. Supports extensibility via string values."
      }
    },
    "com.azure.edge#SolutionVersionPropertiesErrorDetails": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error target."
          }
        },
        "details": {
          "target": "com.azure.edge#SolutionVersionPropertiesErrorDetailsDetailsList",
          "traits": {
            "smithy.api#documentation": "The error details."
          }
        },
        "additionalInfo": {
          "target": "com.azure.edge#SolutionVersionPropertiesErrorDetailsAdditionalInfoList",
          "traits": {
            "smithy.api#documentation": "The error additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The error detail."
      }
    },
    "com.azure.edge#SolutionVersionPropertiesErrorDetailsAdditionalInfoList": {
      "type": "list",
      "member": {
        "target": "com.azure.edge#ErrorAdditionalInfo"
      },
      "traits": {
        "smithy.api#documentation": "The error additional info."
      }
    },
    "com.azure.edge#ErrorAdditionalInfo": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The additional info type."
          }
        },
        "info": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource management error additional info."
      }
    },
    "com.azure.edge#SolutionVersionPropertiesErrorDetailsDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.edge#ErrorDetail"
      },
      "traits": {
        "smithy.api#documentation": "The error details."
      }
    },
    "com.azure.edge#ErrorDetail": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error target."
          }
        },
        "details": {
          "target": "com.azure.edge#ErrorDetailDetailsList",
          "traits": {
            "smithy.api#documentation": "The error details."
          }
        },
        "additionalInfo": {
          "target": "com.azure.edge#ErrorDetailAdditionalInfoList",
          "traits": {
            "smithy.api#documentation": "The error additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The error detail."
      }
    },
    "com.azure.edge#ErrorDetailAdditionalInfoList": {
      "type": "list",
      "member": {
        "target": "com.azure.edge#ErrorAdditionalInfo"
      },
      "traits": {
        "smithy.api#documentation": "The error additional info."
      }
    },
    "com.azure.edge#ErrorDetailDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.edge#ErrorDetail"
      },
      "traits": {
        "smithy.api#documentation": "The error details."
      }
    },
    "com.azure.edge#SolutionVersionPropertiesSolutionDependenciesList": {
      "type": "list",
      "member": {
        "target": "com.azure.edge#SolutionDependency"
      },
      "traits": {
        "smithy.api#documentation": "Solution Dependency Context"
      }
    },
    "com.azure.edge#SolutionDependency": {
      "type": "structure",
      "members": {
        "solutionVersionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Solution Version Id",
            "smithy.api#required": {}
          }
        },
        "solutionInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Solution Instance Name"
          }
        },
        "solutionTemplateVersionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Solution Template Version Id",
            "smithy.api#required": {}
          }
        },
        "targetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target Id",
            "smithy.api#required": {}
          }
        },
        "dependencies": {
          "target": "com.azure.edge#SolutionDependencyDependenciesList",
          "traits": {
            "smithy.api#documentation": "Solution dependencies"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Solution Dependency Context"
      }
    },
    "com.azure.edge#SolutionDependencyDependenciesList": {
      "type": "list",
      "member": {
        "target": "com.azure.edge#SolutionDependency"
      },
      "traits": {
        "smithy.api#documentation": "Solution dependencies"
      }
    },
    "com.azure.edge#SolutionVersionPropertiesStagesList": {
      "type": "list",
      "member": {
        "target": "com.azure.edge#StageMap"
      },
      "traits": {
        "smithy.api#documentation": "Stages of revision"
      }
    },
    "com.azure.edge#StageMap": {
      "type": "structure",
      "members": {
        "displayState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display State",
            "smithy.api#required": {}
          }
        },
        "stage": {
          "target": "com.azure.edge#CMStages",
          "traits": {
            "smithy.api#documentation": "Stage name",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.azure.edge#StateCategory",
          "traits": {
            "smithy.api#documentation": "Stage status",
            "smithy.api#required": {}
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stage start time"
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stage end time"
          }
        },
        "childStages": {
          "target": "com.azure.edge#StageMapChildStagesList",
          "traits": {
            "smithy.api#documentation": "Child stages which represents more granular level stage status if any"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Stage Map for Solution Version"
      }
    },
    "com.azure.edge#StageMapChildStagesList": {
      "type": "list",
      "member": {
        "target": "com.azure.edge#StageMap"
      },
      "traits": {
        "smithy.api#documentation": "Child stages which represents more granular level stage status if any"
      }
    },
    "com.azure.edge#StateCategory": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State Category for Solution Version"
      }
    },
    "com.azure.edge#CMStages": {
      "type": "enum",
      "members": {
        "CONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Configuration"
          }
        },
        "PUBLISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Publish"
          }
        },
        "DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deployment"
          }
        },
        "UNINSTALLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Uninstallation"
          }
        },
        "EXTERNALVALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ExternalValidation"
          }
        },
        "STAGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Staging"
          }
        },
        "UNSTAGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unstaging"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Stages for Solution Version"
      }
    },
    "com.azure.edge#State": {
      "type": "enum",
      "members": {
        "INREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InReview"
          }
        },
        "UPGRADEINREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UpgradeInReview"
          }
        },
        "READYTODEPLOY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReadyToDeploy"
          }
        },
        "READYTOUPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReadyToUpgrade"
          }
        },
        "DEPLOYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deploying"
          }
        },
        "DEPLOYED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deployed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "UNDEPLOYED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Undeployed"
          }
        },
        "PENDINGEXTERNALVALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingExternalValidation"
          }
        },
        "EXTERNALVALIDATIONFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ExternalValidationFailed"
          }
        },
        "STAGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Staging"
          }
        },
        "NOTAPPLICABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotApplicable"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Solution Instance State"
      }
    },
    "com.azure.edge#SolutionVersionPropertiesSpecificationMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "App components spec"
      }
    },
    "com.azure.edge#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.edge#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.edge#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.edge#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.edge#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.edge#TargetsUpdateExternalValidationStatusRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "targetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the target"
          }
        },
        "solutionVersionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Solution Version Id",
            "smithy.api#required": {}
          }
        },
        "errorDetails": {
          "target": "com.azure.edge#TargetsUpdateExternalValidationStatusRequestErrorDetails",
          "traits": {
            "smithy.api#documentation": "The error detail."
          }
        },
        "externalValidationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "External validation id",
            "smithy.api#required": {}
          }
        },
        "validationStatus": {
          "target": "com.azure.edge#ValidationStatus",
          "traits": {
            "smithy.api#documentation": "Validation Status of external validation",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.edge#ValidationStatus": {
      "type": "enum",
      "members": {
        "VALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Valid"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Solution Instance Validation Status"
      }
    },
    "com.azure.edge#TargetsUpdateExternalValidationStatusRequestErrorDetails": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The error detail."
      }
    },
    "com.azure.edge#TargetsUnstageSolutionVersion": {
      "type": "operation",
      "input": {
        "target": "com.azure.edge#TargetsUnstageSolutionVersionRequest"
      },
      "output": {
        "target": "com.azure.edge#TargetsUnstageSolutionVersionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/targets/{targetName}/unstageSolutionVersion",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Post request to unstage solution version",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.edge#TargetsUnstageSolutionVersionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.edge#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.edge#SolutionVersionProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.edge#AzureResourceManagerCommonTypesExtendedLocation"
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.edge#TargetsUnstageSolutionVersionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "targetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the target"
          }
        },
        "solutionVersionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Solution Version ARM Id",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.edge#TargetsUninstallSolution": {
      "type": "operation",
      "input": {
        "target": "com.azure.edge#TargetsUninstallSolutionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/targets/{targetName}/uninstallSolution",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Post request to uninstall",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.edge#TargetsUninstallSolutionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "targetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the target"
          }
        },
        "solutionTemplateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Solution Template ARM Id",
            "smithy.api#required": {}
          }
        },
        "solutionInstanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Solution Instance Name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.edge#SolutionVersionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.edge#SolutionVersionsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/targets/{targetName}/solutions/{solutionName}/versions/{solutionVersionName}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Delete a Solution Version Resource",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.edge#SolutionVersionsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "targetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the target"
          }
        },
        "solutionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the solution"
          }
        },
        "solutionVersionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the solution version"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.edge#SolutionVersionsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.edge#SolutionVersionsUpdateRequest"
      },
      "output": {
        "target": "com.azure.edge#SolutionVersionsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/targets/{targetName}/solutions/{solutionName}/versions/{solutionVersionName}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Update a Solution Version Resource",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.edge#SolutionVersionsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.edge#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.edge#SolutionVersionProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.edge#AzureResourceManagerCommonTypesExtendedLocation"
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.edge#SolutionVersionsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "targetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the target"
          }
        },
        "solutionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the solution"
          }
        },
        "solutionVersionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the solution version"
          }
        },
        "properties": {
          "target": "com.azure.edge#SolutionVersionPropertiesUpdate",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.edge#SolutionVersionPropertiesUpdate": {
      "type": "structure",
      "members": {
        "specification": {
          "target": "com.azure.edge#SolutionVersionPropertiesUpdateSpecificationMap",
          "traits": {
            "smithy.api#documentation": "App components spec"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Solution Version Properties"
      }
    },
    "com.azure.edge#SolutionVersionPropertiesUpdateSpecificationMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "App components spec"
      }
    },
    "com.azure.edge#SolutionVersionsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.edge#SolutionVersionsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.edge#SolutionVersionsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/targets/{targetName}/solutions/{solutionName}/versions/{solutionVersionName}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Create or update a Solution Version Resource",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.edge#SolutionVersionsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.edge#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.edge#SolutionVersionProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.edge#AzureResourceManagerCommonTypesExtendedLocation"
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.edge#SolutionVersionsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "targetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the target"
          }
        },
        "solutionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the solution"
          }
        },
        "solutionVersionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the solution version"
          }
        },
        "properties": {
          "target": "com.azure.edge#SolutionVersionPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.edge#AzureResourceManagerCommonTypesExtendedLocation"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.edge#SolutionVersionPropertiesInput": {
      "type": "structure",
      "members": {
        "specification": {
          "target": "com.azure.edge#SolutionVersionPropertiesInputSpecificationMap",
          "traits": {
            "smithy.api#documentation": "App components spec",
            "smithy.api#required": {}
          }
        },
        "errorDetails": {
          "target": "com.azure.edge#SolutionVersionPropertiesInputErrorDetails",
          "traits": {
            "smithy.api#documentation": "The error detail."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Solution Version Properties"
      }
    },
    "com.azure.edge#SolutionVersionPropertiesInputErrorDetails": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The error detail."
      }
    },
    "com.azure.edge#SolutionVersionPropertiesInputSpecificationMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "App components spec"
      }
    },
    "com.azure.edge#SolutionVersionsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.edge#SolutionVersionsGetRequest"
      },
      "output": {
        "target": "com.azure.edge#SolutionVersionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/targets/{targetName}/solutions/{solutionName}/versions/{solutionVersionName}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Get a Solution Version Resource",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.edge#SolutionVersionsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.edge#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.edge#SolutionVersionProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.edge#AzureResourceManagerCommonTypesExtendedLocation"
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.edge#SolutionVersionsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "targetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the target"
          }
        },
        "solutionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the solution"
          }
        },
        "solutionVersionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the solution version"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.edge#SolutionVersionsListBySolution": {
      "type": "operation",
      "input": {
        "target": "com.azure.edge#SolutionVersionsListBySolutionRequest"
      },
      "output": {
        "target": "com.azure.edge#SolutionVersionListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/targets/{targetName}/solutions/{solutionName}/versions",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "List Solution Version Resources",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.edge#SolutionVersionListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.edge#SolutionVersionListResultValueList",
          "traits": {
            "smithy.api#documentation": "The SolutionVersion items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a SolutionVersion list operation."
      }
    },
    "com.azure.edge#SolutionVersionListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.edge#SolutionVersion"
      },
      "traits": {
        "smithy.api#documentation": "The SolutionVersion items on this page"
      }
    },
    "com.azure.edge#SolutionVersion": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.edge#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.edge#SolutionVersionProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.edge#AzureResourceManagerCommonTypesExtendedLocation"
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Solution Version Resource. It has the resolved configuration along with edge specification."
      }
    },
    "com.azure.edge#SolutionVersionsListBySolutionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "targetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the target"
          }
        },
        "solutionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the solution"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.edge#InstanceHistoriesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.edge#InstanceHistoriesGetRequest"
      },
      "output": {
        "target": "com.azure.edge#InstanceHistoriesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/targets/{targetName}/solutions/{solutionName}/instances/{instanceName}/histories/{instanceHistoryName}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Get InstanceHistory Resource",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.edge#InstanceHistoriesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.edge#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.edge#InstanceHistoryProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.edge#AzureResourceManagerCommonTypesExtendedLocation"
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.edge#InstanceHistoryProperties": {
      "type": "structure",
      "members": {
        "solutionVersion": {
          "target": "com.azure.edge#SolutionVersionSnapshot",
          "traits": {
            "smithy.api#documentation": "Solution version of instance",
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.azure.edge#TargetSnapshot",
          "traits": {
            "smithy.api#documentation": "Target of instance",
            "smithy.api#required": {}
          }
        },
        "solutionScope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scope of instance"
          }
        },
        "activeState": {
          "target": "com.azure.edge#ActiveState",
          "traits": {
            "smithy.api#documentation": "State of instance"
          }
        },
        "reconciliationPolicy": {
          "target": "com.azure.edge#ReconciliationPolicyProperties",
          "traits": {
            "smithy.api#documentation": "Reconciliation policy of instance"
          }
        },
        "status": {
          "target": "com.azure.edge#DeploymentStatus",
          "traits": {
            "smithy.api#documentation": "Deployment Status of instance"
          }
        },
        "provisioningState": {
          "target": "com.azure.edge#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Instance History Properties"
      }
    },
    "com.azure.edge#DeploymentStatus": {
      "type": "structure",
      "members": {
        "lastModified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The lastModified of the Status"
          }
        },
        "deployed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Indicates if Instance is deployed"
          }
        },
        "expectedRunningJobId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The expected running job id"
          }
        },
        "runningJobId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The running job id"
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deployment status"
          }
        },
        "statusDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status details"
          }
        },
        "generation": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Deployment Generation"
          }
        },
        "targetStatuses": {
          "target": "com.azure.edge#DeploymentStatusTargetStatusesList",
          "traits": {
            "smithy.api#documentation": "Target resource statuses"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deployment Status"
      }
    },
    "com.azure.edge#DeploymentStatusTargetStatusesList": {
      "type": "list",
      "member": {
        "target": "com.azure.edge#TargetStatus"
      },
      "traits": {
        "smithy.api#documentation": "Target resource statuses"
      }
    },
    "com.azure.edge#TargetStatus": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target name"
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target status"
          }
        },
        "componentStatuses": {
          "target": "com.azure.edge#TargetStatusComponentStatusesList",
          "traits": {
            "smithy.api#documentation": "Component statuses"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Target Status"
      }
    },
    "com.azure.edge#TargetStatusComponentStatusesList": {
      "type": "list",
      "member": {
        "target": "com.azure.edge#ComponentStatus"
      },
      "traits": {
        "smithy.api#documentation": "Component statuses"
      }
    },
    "com.azure.edge#ComponentStatus": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Component name"
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Component status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Component Status"
      }
    },
    "com.azure.edge#ReconciliationPolicyProperties": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.azure.edge#ReconciliationState",
          "traits": {
            "smithy.api#documentation": "The state of the ReconciliationPolicy",
            "smithy.api#required": {}
          }
        },
        "interval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy interval",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a ReconciliationPolicy"
      }
    },
    "com.azure.edge#ReconciliationState": {
      "type": "enum",
      "members": {
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a state of the reconciliation policy."
      }
    },
    "com.azure.edge#ActiveState": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Instance State"
      }
    },
    "com.azure.edge#TargetSnapshot": {
      "type": "structure",
      "members": {
        "targetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target of instance"
          }
        },
        "targetSpecification": {
          "target": "com.azure.edge#TargetSnapshotTargetSpecificationMap",
          "traits": {
            "smithy.api#documentation": "target spec"
          }
        },
        "solutionScope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scope of the target resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Target Snapshot"
      }
    },
    "com.azure.edge#TargetSnapshotTargetSpecificationMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "target spec"
      }
    },
    "com.azure.edge#SolutionVersionSnapshot": {
      "type": "structure",
      "members": {
        "solutionVersionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Solution version of instance"
          }
        },
        "specification": {
          "target": "com.azure.edge#SolutionVersionSnapshotSpecificationMap",
          "traits": {
            "smithy.api#documentation": "App components spec"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Solution Version Snapshot"
      }
    },
    "com.azure.edge#SolutionVersionSnapshotSpecificationMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "App components spec"
      }
    },
    "com.azure.edge#InstanceHistoriesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "targetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the target"
          }
        },
        "solutionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the solution"
          }
        },
        "instanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the instance"
          }
        },
        "instanceHistoryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the instance history"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.edge#InstanceHistoriesListByInstance": {
      "type": "operation",
      "input": {
        "target": "com.azure.edge#InstanceHistoriesListByInstanceRequest"
      },
      "output": {
        "target": "com.azure.edge#InstanceHistoryListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/targets/{targetName}/solutions/{solutionName}/instances/{instanceName}/histories",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "List InstanceHistory Resources",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.edge#InstanceHistoryListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.edge#InstanceHistoryListResultValueList",
          "traits": {
            "smithy.api#documentation": "The InstanceHistory items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a InstanceHistory list operation."
      }
    },
    "com.azure.edge#InstanceHistoryListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.edge#InstanceHistory"
      },
      "traits": {
        "smithy.api#documentation": "The InstanceHistory items on this page"
      }
    },
    "com.azure.edge#InstanceHistory": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.edge#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.edge#InstanceHistoryProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.edge#AzureResourceManagerCommonTypesExtendedLocation"
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "InstanceHistory Resource"
      }
    },
    "com.azure.edge#InstanceHistoriesListByInstanceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "targetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the target"
          }
        },
        "solutionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the solution"
          }
        },
        "instanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the instance"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.edge#InstancesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.edge#InstancesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/targets/{targetName}/solutions/{solutionName}/instances/{instanceName}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Delete Instance Resource",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.edge#InstancesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "targetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the target"
          }
        },
        "solutionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the solution"
          }
        },
        "instanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the instance"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.edge#InstancesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.edge#InstancesUpdateRequest"
      },
      "output": {
        "target": "com.azure.edge#InstancesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/targets/{targetName}/solutions/{solutionName}/instances/{instanceName}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Update an Instance Resource",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.edge#InstancesUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.edge#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.edge#InstanceProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.edge#AzureResourceManagerCommonTypesExtendedLocation"
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.edge#InstanceProperties": {
      "type": "structure",
      "members": {
        "solutionVersionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Solution version of instance",
            "smithy.api#required": {}
          }
        },
        "targetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target of instance",
            "smithy.api#required": {}
          }
        },
        "activeState": {
          "target": "com.azure.edge#ActiveState",
          "traits": {
            "smithy.api#documentation": "State of instance"
          }
        },
        "reconciliationPolicy": {
          "target": "com.azure.edge#ReconciliationPolicyProperties",
          "traits": {
            "smithy.api#documentation": "Reconciliation policy of instance"
          }
        },
        "solutionScope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scope of instance"
          }
        },
        "status": {
          "target": "com.azure.edge#DeploymentStatus",
          "traits": {
            "smithy.api#documentation": "Status of instance"
          }
        },
        "deploymentTimestampEpoch": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Deployment timestamp of instance"
          }
        },
        "provisioningState": {
          "target": "com.azure.edge#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Instance Properties"
      }
    },
    "com.azure.edge#InstancesUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "targetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the target"
          }
        },
        "solutionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the solution"
          }
        },
        "instanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the instance"
          }
        },
        "properties": {
          "target": "com.azure.edge#InstancePropertiesUpdate",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.edge#InstancePropertiesUpdate": {
      "type": "structure",
      "members": {
        "solutionVersionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Solution version of instance"
          }
        },
        "targetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target of instance"
          }
        },
        "activeState": {
          "target": "com.azure.edge#ActiveState",
          "traits": {
            "smithy.api#documentation": "State of instance"
          }
        },
        "reconciliationPolicy": {
          "target": "com.azure.edge#ReconciliationPolicyPropertiesUpdate",
          "traits": {
            "smithy.api#documentation": "Reconciliation policy of instance"
          }
        },
        "solutionScope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scope of instance"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Instance Properties"
      }
    },
    "com.azure.edge#ReconciliationPolicyPropertiesUpdate": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.azure.edge#ReconciliationState",
          "traits": {
            "smithy.api#documentation": "The state of the ReconciliationPolicy"
          }
        },
        "interval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy interval"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a ReconciliationPolicy"
      }
    },
    "com.azure.edge#InstancesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.edge#InstancesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.edge#InstancesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/targets/{targetName}/solutions/{solutionName}/instances/{instanceName}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Create or update Instance Resource",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.edge#InstancesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.edge#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.edge#InstanceProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.edge#AzureResourceManagerCommonTypesExtendedLocation"
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.edge#InstancesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "targetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the target"
          }
        },
        "solutionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the solution"
          }
        },
        "instanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the instance"
          }
        },
        "properties": {
          "target": "com.azure.edge#InstancePropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.edge#AzureResourceManagerCommonTypesExtendedLocation"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.edge#InstancePropertiesInput": {
      "type": "structure",
      "members": {
        "solutionVersionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Solution version of instance",
            "smithy.api#required": {}
          }
        },
        "targetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target of instance",
            "smithy.api#required": {}
          }
        },
        "activeState": {
          "target": "com.azure.edge#ActiveState",
          "traits": {
            "smithy.api#documentation": "State of instance"
          }
        },
        "reconciliationPolicy": {
          "target": "com.azure.edge#ReconciliationPolicyProperties",
          "traits": {
            "smithy.api#documentation": "Reconciliation policy of instance"
          }
        },
        "solutionScope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scope of instance"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Instance Properties"
      }
    },
    "com.azure.edge#InstancesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.edge#InstancesGetRequest"
      },
      "output": {
        "target": "com.azure.edge#InstancesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/targets/{targetName}/solutions/{solutionName}/instances/{instanceName}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Get Instance Resource",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.edge#InstancesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.edge#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.edge#InstanceProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.edge#AzureResourceManagerCommonTypesExtendedLocation"
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.edge#InstancesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "targetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the target"
          }
        },
        "solutionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the solution"
          }
        },
        "instanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the instance"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.edge#InstancesListBySolution": {
      "type": "operation",
      "input": {
        "target": "com.azure.edge#InstancesListBySolutionRequest"
      },
      "output": {
        "target": "com.azure.edge#InstanceListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/targets/{targetName}/solutions/{solutionName}/instances",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "List Instance Resources",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.edge#InstanceListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.edge#InstanceListResultValueList",
          "traits": {
            "smithy.api#documentation": "The Instance items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a Instance list operation."
      }
    },
    "com.azure.edge#InstanceListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.edge#Instance"
      },
      "traits": {
        "smithy.api#documentation": "The Instance items on this page"
      }
    },
    "com.azure.edge#Instance": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.edge#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.edge#InstanceProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.edge#AzureResourceManagerCommonTypesExtendedLocation"
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Instance Resource. Represents a deployment object."
      }
    },
    "com.azure.edge#InstancesListBySolutionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
[...]
