{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.edgeorder#OrdersListByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.edgeorder#OrdersListByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.edgeorder#OrderResourceList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EdgeOrder/orders",
          "code": 200,
          "apiVersion": "2024-02-01"
        },
        "smithy.api#documentation": "List orders at resource group level.",
        "com.distilled.openapi#apiVersion": "2024-02-01"
      }
    },
    "com.azure.edgeorder#OrderResourceList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.edgeorder#OrderResourceListValueList",
          "traits": {
            "smithy.api#documentation": "The OrderResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of orders."
      }
    },
    "com.azure.edgeorder#OrderResourceListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.edgeorder#OrderResource"
      },
      "traits": {
        "smithy.api#documentation": "The OrderResource items on this page"
      }
    },
    "com.azure.edgeorder#OrderResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.edgeorder#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.edgeorder#OrderProperties",
          "traits": {
            "smithy.api#documentation": "Order properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the properties or parameters for an order. Order is a grouping of one or more order items."
      }
    },
    "com.azure.edgeorder#OrderProperties": {
      "type": "structure",
      "members": {
        "orderItemIds": {
          "target": "com.azure.edgeorder#OrderPropertiesOrderItemIdsList",
          "traits": {
            "smithy.api#documentation": "List of order item ARM Ids which are part of an order."
          }
        },
        "currentStage": {
          "target": "com.azure.edgeorder#StageDetails",
          "traits": {
            "smithy.api#documentation": "Order current status."
          }
        },
        "orderStageHistory": {
          "target": "com.azure.edgeorder#OrderPropertiesOrderStageHistoryList",
          "traits": {
            "smithy.api#documentation": "Order status history."
          }
        },
        "orderMode": {
          "target": "com.azure.edgeorder#OrderMode",
          "traits": {
            "smithy.api#documentation": "Order mode."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents order details."
      }
    },
    "com.azure.edgeorder#OrderMode": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Default"
          }
        },
        "DONOTFULFILL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DoNotFulfill"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the mode of the Order item."
      }
    },
    "com.azure.edgeorder#OrderPropertiesOrderStageHistoryList": {
      "type": "list",
      "member": {
        "target": "com.azure.edgeorder#StageDetails"
      },
      "traits": {
        "smithy.api#documentation": "Order status history."
      }
    },
    "com.azure.edgeorder#StageDetails": {
      "type": "structure",
      "members": {
        "stageStatus": {
          "target": "com.azure.edgeorder#StageStatus",
          "traits": {
            "smithy.api#documentation": "Stage status."
          }
        },
        "stageName": {
          "target": "com.azure.edgeorder#StageName",
          "traits": {
            "smithy.api#documentation": "Stage name."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the resource stage."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stage start time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource stage details."
      }
    },
    "com.azure.edgeorder#StageName": {
      "type": "enum",
      "members": {
        "PLACED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Placed"
          }
        },
        "INREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InReview"
          }
        },
        "CONFIRMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Confirmed"
          }
        },
        "READYTOSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReadyToShip"
          }
        },
        "SHIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Shipped"
          }
        },
        "DELIVERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Delivered"
          }
        },
        "READYTOSETUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReadyToSetup"
          }
        },
        "INUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InUse"
          }
        },
        "RETURNINITIATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReturnInitiated"
          }
        },
        "RETURNPICKEDUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReturnPickedUp"
          }
        },
        "RETURNEDTOMICROSOFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReturnedToMicrosoft"
          }
        },
        "RETURNCOMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReturnCompleted"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cancelled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Stage name."
      }
    },
    "com.azure.edgeorder#StageStatus": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cancelled"
          }
        },
        "CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cancelling"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Stage status."
      }
    },
    "com.azure.edgeorder#OrderPropertiesOrderItemIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of order item ARM Ids which are part of an order."
      }
    },
    "com.azure.edgeorder#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.edgeorder#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.edgeorder#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.edgeorder#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.edgeorder#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.edgeorder#OrdersListByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "_skipToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skipToken",
            "smithy.api#documentation": "$skipToken is supported on Get list of orders, which provides the next page in the list of orders."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "$top is supported on fetching list of resources. $top=10 means that the first 10 items in the list will be returned to the API caller."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.edgeorder#OrderItemsReturn": {
      "type": "operation",
      "input": {
        "target": "com.azure.edgeorder#OrderItemsReturnRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EdgeOrder/orderItems/{orderItemName}/return",
          "code": 200,
          "apiVersion": "2024-02-01"
        },
        "smithy.api#documentation": "Return order item.",
        "com.distilled.openapi#apiVersion": "2024-02-01"
      }
    },
    "com.azure.edgeorder#OrderItemsReturnRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "orderItemName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the order item."
          }
        },
        "returnAddress": {
          "target": "com.azure.edgeorder#AddressPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Customer return address."
          }
        },
        "returnReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return Reason.",
            "smithy.api#required": {}
          }
        },
        "serviceTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service tag (located on the bottom-right corner of the device)."
          }
        },
        "shippingBoxRequired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Shipping Box required."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.edgeorder#AddressPropertiesInput": {
      "type": "structure",
      "members": {
        "addressClassification": {
          "target": "com.azure.edgeorder#AddressClassification",
          "traits": {
            "smithy.api#documentation": "Type of address based on its usage context."
          }
        },
        "shippingAddress": {
          "target": "com.azure.edgeorder#ShippingAddress",
          "traits": {
            "smithy.api#documentation": "Shipping details for the address."
          }
        },
        "contactDetails": {
          "target": "com.azure.edgeorder#ContactDetails",
          "traits": {
            "smithy.api#documentation": "Contact details for the address."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Address Properties."
      }
    },
    "com.azure.edgeorder#ContactDetails": {
      "type": "structure",
      "members": {
        "contactName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contact name of the person."
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Phone number of the contact person."
          }
        },
        "phoneExtension": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Phone extension number of the contact person."
          }
        },
        "mobile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mobile number of the contact person."
          }
        },
        "emailList": {
          "target": "com.azure.edgeorder#ContactDetailsEmailListList",
          "traits": {
            "smithy.api#documentation": "List of Email-ids to be notified about job progress."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contact Details."
      }
    },
    "com.azure.edgeorder#ContactDetailsEmailListList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of Email-ids to be notified about job progress."
      }
    },
    "com.azure.edgeorder#ShippingAddress": {
      "type": "structure",
      "members": {
        "streetAddress1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Street Address line 1."
          }
        },
        "streetAddress2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Street Address line 2."
          }
        },
        "streetAddress3": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Street Address line 3."
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the City."
          }
        },
        "stateOrProvince": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the State or Province."
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Country.",
            "smithy.api#required": {}
          }
        },
        "postalCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Postal code."
          }
        },
        "zipExtendedCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Extended Zip Code."
          }
        },
        "companyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the company."
          }
        },
        "addressType": {
          "target": "com.azure.edgeorder#AddressType",
          "traits": {
            "smithy.api#documentation": "Type of address."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Shipping address where customer wishes to receive the device."
      }
    },
    "com.azure.edgeorder#AddressType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "RESIDENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Residential"
          }
        },
        "COMMERCIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Commercial"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of address."
      }
    },
    "com.azure.edgeorder#AddressClassification": {
      "type": "enum",
      "members": {
        "SHIPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Shipping"
          }
        },
        "SITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Site"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of address based on its usage context."
      }
    },
    "com.azure.edgeorder#OrderItemsCancel": {
      "type": "operation",
      "input": {
        "target": "com.azure.edgeorder#OrderItemsCancelRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EdgeOrder/orderItems/{orderItemName}/cancel",
          "code": 200,
          "apiVersion": "2024-02-01"
        },
        "smithy.api#documentation": "Cancel order item.",
        "com.distilled.openapi#apiVersion": "2024-02-01"
      }
    },
    "com.azure.edgeorder#OrderItemsCancelRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "orderItemName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the order item."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason for cancellation.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.edgeorder#OrderItemsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.edgeorder#OrderItemsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EdgeOrder/orderItems/{orderItemName}",
          "code": 200,
          "apiVersion": "2024-02-01"
        },
        "smithy.api#documentation": "Delete an order item.",
        "com.distilled.openapi#apiVersion": "2024-02-01"
      }
    },
    "com.azure.edgeorder#OrderItemsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "orderItemName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the order item."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.edgeorder#OrderItemsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.edgeorder#OrderItemsUpdateRequest"
      },
      "output": {
        "target": "com.azure.edgeorder#OrderItemsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EdgeOrder/orderItems/{orderItemName}",
          "code": 200,
          "apiVersion": "2024-02-01"
        },
        "smithy.api#documentation": "Update the properties of an existing order item.",
        "com.distilled.openapi#apiVersion": "2024-02-01"
      }
    },
    "com.azure.edgeorder#OrderItemsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.edgeorder#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.edgeorder#OrderItemsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.edgeorder#OrderItemProperties",
          "traits": {
            "smithy.api#documentation": "Order item properties.",
            "smithy.api#required": {}
          }
        },
        "identity": {
          "target": "com.azure.edgeorder#ResourceIdentity",
          "traits": {
            "smithy.api#documentation": "Msi identity of the resource"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.edgeorder#ResourceIdentity": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identity type"
          }
        },
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service Principal Id backing the Msi"
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Home Tenant Id"
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.edgeorder#ResourceIdentityUserAssignedIdentitiesMap",
          "traits": {
            "smithy.api#documentation": "User Assigned Identities"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Msi identity details of the resource"
      }
    },
    "com.azure.edgeorder#ResourceIdentityUserAssignedIdentitiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.edgeorder#ResourceIdentityUserAssignedIdentitiesValue"
      },
      "traits": {
        "smithy.api#documentation": "User Assigned Identities"
      }
    },
    "com.azure.edgeorder#ResourceIdentityUserAssignedIdentitiesValue": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of the assigned identity."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client ID of the assigned identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User assigned identity properties"
      }
    },
    "com.azure.edgeorder#OrderItemProperties": {
      "type": "structure",
      "members": {
        "orderItemDetails": {
          "target": "com.azure.edgeorder#OrderItemDetails",
          "traits": {
            "smithy.api#documentation": "Represents order item details.",
            "smithy.api#required": {}
          }
        },
        "addressDetails": {
          "target": "com.azure.edgeorder#AddressDetails",
          "traits": {
            "smithy.api#documentation": "Represents shipping and return address for order item."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time of order item."
          }
        },
        "orderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the order to which order item belongs to.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.edgeorder#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents order item properties."
      }
    },
    "com.azure.edgeorder#ProvisioningState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provisioning state"
      }
    },
    "com.azure.edgeorder#AddressDetails": {
      "type": "structure",
      "members": {
        "forwardAddress": {
          "target": "com.azure.edgeorder#AddressProperties",
          "traits": {
            "smithy.api#documentation": "Customer address and contact details.",
            "smithy.api#required": {}
          }
        },
        "returnAddress": {
          "target": "com.azure.edgeorder#AddressProperties",
          "traits": {
            "smithy.api#documentation": "Return shipping address."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Address details for an order item."
      }
    },
    "com.azure.edgeorder#AddressProperties": {
      "type": "structure",
      "members": {
        "addressClassification": {
          "target": "com.azure.edgeorder#AddressClassification",
          "traits": {
            "smithy.api#documentation": "Type of address based on its usage context."
          }
        },
        "shippingAddress": {
          "target": "com.azure.edgeorder#ShippingAddress",
          "traits": {
            "smithy.api#documentation": "Shipping details for the address."
          }
        },
        "contactDetails": {
          "target": "com.azure.edgeorder#ContactDetails",
          "traits": {
            "smithy.api#documentation": "Contact details for the address."
          }
        },
        "addressValidationStatus": {
          "target": "com.azure.edgeorder#AddressValidationStatus",
          "traits": {
            "smithy.api#documentation": "Status of address validation."
          }
        },
        "provisioningState": {
          "target": "com.azure.edgeorder#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Address Properties."
      }
    },
    "com.azure.edgeorder#AddressValidationStatus": {
      "type": "enum",
      "members": {
        "VALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Valid"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        },
        "AMBIGUOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ambiguous"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of address validation."
      }
    },
    "com.azure.edgeorder#OrderItemDetails": {
      "type": "structure",
      "members": {
        "productDetails": {
          "target": "com.azure.edgeorder#ProductDetails",
          "traits": {
            "smithy.api#documentation": "Represents product details.",
            "smithy.api#required": {}
          }
        },
        "orderItemType": {
          "target": "com.azure.edgeorder#OrderItemType",
          "traits": {
            "smithy.api#documentation": "Order item type.",
            "smithy.api#required": {}
          }
        },
        "orderItemMode": {
          "target": "com.azure.edgeorder#OrderMode",
          "traits": {
            "smithy.api#documentation": "Defines the mode of the Order item."
          }
        },
        "siteDetails": {
          "target": "com.azure.edgeorder#SiteDetails",
          "traits": {
            "smithy.api#documentation": "Site Related Details."
          }
        },
        "currentStage": {
          "target": "com.azure.edgeorder#StageDetails",
          "traits": {
            "smithy.api#documentation": "Current Order item Status."
          }
        },
        "orderItemStageHistory": {
          "target": "com.azure.edgeorder#OrderItemDetailsOrderItemStageHistoryList",
          "traits": {
            "smithy.api#documentation": "Order item status history."
          }
        },
        "preferences": {
          "target": "com.azure.edgeorder#Preferences",
          "traits": {
            "smithy.api#documentation": "Customer notification Preferences."
          }
        },
        "forwardShippingDetails": {
          "target": "com.azure.edgeorder#ForwardShippingDetails",
          "traits": {
            "smithy.api#documentation": "Forward Package Shipping details."
          }
        },
        "reverseShippingDetails": {
          "target": "com.azure.edgeorder#ReverseShippingDetails",
          "traits": {
            "smithy.api#documentation": "Reverse Package Shipping details."
          }
        },
        "notificationEmailList": {
          "target": "com.azure.edgeorder#OrderItemDetailsNotificationEmailListList",
          "traits": {
            "smithy.api#documentation": "Additional notification email list."
          }
        },
        "cancellationReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cancellation reason."
          }
        },
        "cancellationStatus": {
          "target": "com.azure.edgeorder#OrderItemCancellationEnum",
          "traits": {
            "smithy.api#documentation": "Describes whether the order item is cancellable or not."
          }
        },
        "deletionStatus": {
          "target": "com.azure.edgeorder#ActionStatusEnum",
          "traits": {
            "smithy.api#documentation": "Describes whether the order item is deletable or not."
          }
        },
        "returnReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return reason."
          }
        },
        "returnStatus": {
          "target": "com.azure.edgeorder#OrderItemReturnEnum",
          "traits": {
            "smithy.api#documentation": "Describes whether the order item is returnable or not."
          }
        },
        "managementRpDetailsList": {
          "target": "com.azure.edgeorder#OrderItemDetailsManagementRpDetailsListList",
          "traits": {
            "smithy.api#documentation": "List of parent RP details supported for configuration."
          }
        },
        "error": {
          "target": "com.azure.edgeorder#OrderItemDetailsError",
          "traits": {
            "smithy.api#documentation": "The error detail."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Order item details."
      }
    },
    "com.azure.edgeorder#OrderItemDetailsError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error target."
          }
        },
        "details": {
          "target": "com.azure.edgeorder#OrderItemDetailsErrorDetailsList",
          "traits": {
            "smithy.api#documentation": "The error details."
          }
        },
        "additionalInfo": {
          "target": "com.azure.edgeorder#OrderItemDetailsErrorAdditionalInfoList",
          "traits": {
            "smithy.api#documentation": "The error additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The error detail."
      }
    },
    "com.azure.edgeorder#OrderItemDetailsErrorAdditionalInfoList": {
      "type": "list",
      "member": {
        "target": "com.azure.edgeorder#ErrorAdditionalInfo"
      },
      "traits": {
        "smithy.api#documentation": "The error additional info."
      }
    },
    "com.azure.edgeorder#ErrorAdditionalInfo": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The additional info type."
          }
        },
        "info": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource management error additional info."
      }
    },
    "com.azure.edgeorder#OrderItemDetailsErrorDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.edgeorder#ErrorDetail"
      },
      "traits": {
        "smithy.api#documentation": "The error details."
      }
    },
    "com.azure.edgeorder#ErrorDetail": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error target."
          }
        },
        "details": {
          "target": "com.azure.edgeorder#ErrorDetailDetailsList",
          "traits": {
            "smithy.api#documentation": "The error details."
          }
        },
        "additionalInfo": {
          "target": "com.azure.edgeorder#ErrorDetailAdditionalInfoList",
          "traits": {
            "smithy.api#documentation": "The error additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The error detail."
      }
    },
    "com.azure.edgeorder#ErrorDetailAdditionalInfoList": {
      "type": "list",
      "member": {
        "target": "com.azure.edgeorder#ErrorAdditionalInfo"
      },
      "traits": {
        "smithy.api#documentation": "The error additional info."
      }
    },
    "com.azure.edgeorder#ErrorDetailDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.edgeorder#ErrorDetail"
      },
      "traits": {
        "smithy.api#documentation": "The error details."
      }
    },
    "com.azure.edgeorder#OrderItemDetailsManagementRpDetailsListList": {
      "type": "list",
      "member": {
        "target": "com.azure.edgeorder#ResourceProviderDetails"
      },
      "traits": {
        "smithy.api#documentation": "List of parent RP details supported for configuration."
      }
    },
    "com.azure.edgeorder#ResourceProviderDetails": {
      "type": "structure",
      "members": {
        "resourceProviderNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource provider namespace."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Management RP details."
      }
    },
    "com.azure.edgeorder#OrderItemReturnEnum": {
      "type": "enum",
      "members": {
        "RETURNABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Returnable"
          }
        },
        "RETURNABLEWITHFEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReturnableWithFee"
          }
        },
        "NOTRETURNABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotReturnable"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes whether the order item is returnable or not."
      }
    },
    "com.azure.edgeorder#ActionStatusEnum": {
      "type": "enum",
      "members": {
        "ALLOWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Allowed"
          }
        },
        "NOTALLOWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotAllowed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes whether the order item is deletable or not."
      }
    },
    "com.azure.edgeorder#OrderItemCancellationEnum": {
      "type": "enum",
      "members": {
        "CANCELLABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cancellable"
          }
        },
        "CANCELLABLEWITHFEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CancellableWithFee"
          }
        },
        "NOTCANCELLABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotCancellable"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes whether the order item is cancellable or not."
      }
    },
    "com.azure.edgeorder#OrderItemDetailsNotificationEmailListList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Additional notification email list."
      }
    },
    "com.azure.edgeorder#ReverseShippingDetails": {
      "type": "structure",
      "members": {
        "sasKeyForLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SAS key to download the reverse shipment label of the package."
          }
        },
        "carrierName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the carrier."
          }
        },
        "carrierDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Carrier Name for display purpose. Not to be used for any processing."
          }
        },
        "trackingId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TrackingId of the package."
          }
        },
        "trackingUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TrackingUrl of the package."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reverse shipment details."
      }
    },
    "com.azure.edgeorder#ForwardShippingDetails": {
      "type": "structure",
      "members": {
        "carrierName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the carrier."
          }
        },
        "carrierDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Carrier Name for display purpose. Not to be used for any processing."
          }
        },
        "trackingId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TrackingId of the package."
          }
        },
        "trackingUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TrackingUrl of the package."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Forward shipment details."
      }
    },
    "com.azure.edgeorder#Preferences": {
      "type": "structure",
      "members": {
        "notificationPreferences": {
          "target": "com.azure.edgeorder#PreferencesNotificationPreferencesList",
          "traits": {
            "smithy.api#documentation": "Notification preferences."
          }
        },
        "transportPreferences": {
          "target": "com.azure.edgeorder#TransportPreferences",
          "traits": {
            "smithy.api#documentation": "Preferences related to the shipment logistics of the order."
          }
        },
        "encryptionPreferences": {
          "target": "com.azure.edgeorder#EncryptionPreferences",
          "traits": {
            "smithy.api#documentation": "Preferences related to the Encryption."
          }
        },
        "managementResourcePreferences": {
          "target": "com.azure.edgeorder#ManagementResourcePreferences",
          "traits": {
            "smithy.api#documentation": "Preferences related to the Management resource."
          }
        },
        "termCommitmentPreferences": {
          "target": "com.azure.edgeorder#TermCommitmentPreferences",
          "traits": {
            "smithy.api#documentation": "Preferences related to the Term commitment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Preferences related to the order."
      }
    },
    "com.azure.edgeorder#TermCommitmentPreferences": {
      "type": "structure",
      "members": {
        "preferredTermCommitmentType": {
          "target": "com.azure.edgeorder#TermCommitmentType",
          "traits": {
            "smithy.api#documentation": "Term Commitment Type",
            "smithy.api#required": {}
          }
        },
        "preferredTermCommitmentDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer preferred Term Duration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Term Commitment preference received from customer."
      }
    },
    "com.azure.edgeorder#TermCommitmentType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "TRIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Trial"
          }
        },
        "TIMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Timed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Term Commitment Type"
      }
    },
    "com.azure.edgeorder#ManagementResourcePreferences": {
      "type": "structure",
      "members": {
        "preferredManagementResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer preferred Management resource ARM ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Management resource preference to link device."
      }
    },
    "com.azure.edgeorder#EncryptionPreferences": {
      "type": "structure",
      "members": {
        "doubleEncryptionStatus": {
          "target": "com.azure.edgeorder#DoubleEncryptionStatus",
          "traits": {
            "smithy.api#documentation": "Double encryption status as entered by the customer. It is compulsory to give this parameter if the 'Deny' or 'Disabled' policy is configured."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Preferences related to the double encryption."
      }
    },
    "com.azure.edgeorder#DoubleEncryptionStatus": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Double encryption status as entered by the customer. It is compulsory to give this parameter if the 'Deny' or 'Disabled' policy is configured."
      }
    },
    "com.azure.edgeorder#TransportPreferences": {
      "type": "structure",
      "members": {
        "preferredShipmentType": {
          "target": "com.azure.edgeorder#TransportShipmentTypes",
          "traits": {
            "smithy.api#documentation": "Indicates Shipment Logistics type that the customer preferred.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Preferences related to the shipment logistics of the sku."
      }
    },
    "com.azure.edgeorder#TransportShipmentTypes": {
      "type": "enum",
      "members": {
        "CUSTOMERMANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CustomerManaged"
          }
        },
        "MICROSOFTMANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MicrosoftManaged"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates Shipment Logistics type that the customer preferred."
      }
    },
    "com.azure.edgeorder#PreferencesNotificationPreferencesList": {
      "type": "list",
      "member": {
        "target": "com.azure.edgeorder#NotificationPreference"
      },
      "traits": {
        "smithy.api#documentation": "Notification preferences."
      }
    },
    "com.azure.edgeorder#NotificationPreference": {
      "type": "structure",
      "members": {
        "stageName": {
          "target": "com.azure.edgeorder#NotificationStageName",
          "traits": {
            "smithy.api#documentation": "Name of the stage.",
            "smithy.api#required": {}
          }
        },
        "sendNotification": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Notification is required or not.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Notification preference for a job stage."
      }
    },
    "com.azure.edgeorder#NotificationStageName": {
      "type": "enum",
      "members": {
        "SHIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Shipped"
          }
        },
        "DELIVERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Delivered"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Name of the stage."
      }
    },
    "com.azure.edgeorder#OrderItemDetailsOrderItemStageHistoryList": {
      "type": "list",
      "member": {
        "target": "com.azure.edgeorder#StageDetails"
      },
      "traits": {
        "smithy.api#documentation": "Order item status history."
      }
    },
    "com.azure.edgeorder#SiteDetails": {
      "type": "structure",
      "members": {
        "siteId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique Id, Identifying A Site.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents Site Related Details."
      }
    },
    "com.azure.edgeorder#OrderItemType": {
      "type": "enum",
      "members": {
        "PURCHASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Purchase"
          }
        },
        "RENTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rental"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "External"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Order item type."
      }
    },
    "com.azure.edgeorder#ProductDetails": {
      "type": "structure",
      "members": {
        "displayInfo": {
          "target": "com.azure.edgeorder#DisplayInfo",
          "traits": {
            "smithy.api#documentation": "Display details of the product."
          }
        },
        "hierarchyInformation": {
          "target": "com.azure.edgeorder#HierarchyInformation",
          "traits": {
            "smithy.api#documentation": "Hierarchy of the product which uniquely identifies the product.",
            "smithy.api#required": {}
          }
        },
        "productDoubleEncryptionStatus": {
          "target": "com.azure.edgeorder#DoubleEncryptionStatus",
          "traits": {
            "smithy.api#documentation": "Double encryption status of the configuration. Read-only field."
          }
        },
        "identificationType": {
          "target": "com.azure.edgeorder#IdentificationType",
          "traits": {
            "smithy.api#documentation": "Identification type of the configuration."
          }
        },
        "parentDeviceDetails": {
          "target": "com.azure.edgeorder#DeviceDetails",
          "traits": {
            "smithy.api#documentation": "Device details of the parent configuration."
          }
        },
        "parentProvisioningDetails": {
          "target": "com.azure.edgeorder#ProvisioningDetails",
          "traits": {
            "smithy.api#documentation": "Device Provisioning Details for Parent."
          }
        },
        "optInAdditionalConfigurations": {
          "target": "com.azure.edgeorder#ProductDetailsOptInAdditionalConfigurationsList",
          "traits": {
            "smithy.api#documentation": "List of additional configurations customer wants in the order item apart from the ones included in the base configuration."
          }
        },
        "childConfigurationDeviceDetails": {
          "target": "com.azure.edgeorder#ProductDetailsChildConfigurationDeviceDetailsList",
          "traits": {
            "smithy.api#documentation": "Details of all child configurations that are part of the order item."
          }
        },
        "termCommitmentInformation": {
          "target": "com.azure.edgeorder#TermCommitmentInformation",
          "traits": {
            "smithy.api#documentation": "Term Commitment Information of the Device."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents product details."
      }
    },
    "com.azure.edgeorder#TermCommitmentInformation": {
      "type": "structure",
      "members": {
        "termCommitmentType": {
          "target": "com.azure.edgeorder#TermCommitmentType",
          "traits": {
            "smithy.api#documentation": "Term Commitment Type",
            "smithy.api#required": {}
          }
        },
        "termCommitmentTypeDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Term Commitment Duration. Currently Supporting P365D, P1095D"
          }
        },
        "pendingDaysForTerm": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of Days Pending for Term Commitment"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Term Commitment Information."
      }
    },
    "com.azure.edgeorder#ProductDetailsChildConfigurationDeviceDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.edgeorder#ConfigurationDeviceDetails"
      },
      "traits": {
        "smithy.api#documentation": "Details of all child configurations that are part of the order item."
      }
    },
    "com.azure.edgeorder#ConfigurationDeviceDetails": {
      "type": "structure",
      "members": {
        "displayInfo": {
          "target": "com.azure.edgeorder#DisplayInfo",
          "traits": {
            "smithy.api#documentation": "Display details of the product."
          }
        },
        "hierarchyInformation": {
          "target": "com.azure.edgeorder#HierarchyInformation",
          "traits": {
            "smithy.api#documentation": "Hierarchy of the product which uniquely identifies the configuration."
          }
        },
        "quantity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Quantity of the product."
          }
        },
        "identificationType": {
          "target": "com.azure.edgeorder#IdentificationType",
          "traits": {
            "smithy.api#documentation": "Identification type of the configuration."
          }
        },
        "deviceDetails": {
          "target": "com.azure.edgeorder#ConfigurationDeviceDetailsDeviceDetailsList",
          "traits": {
            "smithy.api#documentation": "List of device details."
          }
        },
        "termCommitmentInformation": {
          "target": "com.azure.edgeorder#TermCommitmentInformation",
          "traits": {
            "smithy.api#documentation": "Term Commitment Information of the Device."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Device details for configuration."
      }
    },
    "com.azure.edgeorder#ConfigurationDeviceDetailsDeviceDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.edgeorder#DeviceDetails"
      },
      "traits": {
        "smithy.api#documentation": "List of device details."
      }
    },
    "com.azure.edgeorder#DeviceDetails": {
      "type": "structure",
      "members": {
        "serialNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Device serial number."
          }
        },
        "displaySerialNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Device serial number to be displayed."
          }
        },
        "managementResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Management Resource Id."
          }
        },
        "managementResourceTenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Management Resource Tenant ID."
          }
        },
        "provisioningSupport": {
          "target": "com.azure.edgeorder#ProvisioningSupport",
          "traits": {
            "smithy.api#documentation": "Determining nature of provisioning that the configuration supports."
          }
        },
        "provisioningDetails": {
          "target": "com.azure.edgeorder#ProvisioningDetails",
          "traits": {
            "smithy.api#documentation": "Provisioning Details for the device."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Device details."
      }
    },
    "com.azure.edgeorder#ProvisioningDetails": {
      "type": "structure",
      "members": {
        "quantity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Quantity of the devices."
          }
        },
        "provisioningArmId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provisioning Resource Arm ID."
          }
        },
        "provisioningEndPoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provisioning End Point."
          }
        },
        "serialNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Serial Number for the Device."
          }
        },
        "vendorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Vendor Name for the Device , (for 1P devices - Microsoft)."
          }
        },
        "readyToConnectArmId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Arc Enabled Resource Arm id."
          }
        },
        "managementResourceArmId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Management Resource ArmId."
          }
        },
        "uniqueDeviceIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique Identity for a Device."
          }
        },
        "autoProvisioningStatus": {
          "target": "com.azure.edgeorder#AutoProvisioningStatus",
          "traits": {
            "smithy.api#documentation": "Auto Provisioning Details."
          }
        },
        "devicePresenceVerification": {
          "target": "com.azure.edgeorder#DevicePresenceVerificationDetails",
          "traits": {
            "smithy.api#documentation": "Proof of possession details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details Related To Provision Resource."
      }
    },
    "com.azure.edgeorder#DevicePresenceVerificationDetails": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.edgeorder#DevicePresenceVerificationStatus",
          "traits": {
            "smithy.api#documentation": "Proof of possession status."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Insights on current status."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Proof of possession details."
      }
    },
    "com.azure.edgeorder#DevicePresenceVerificationStatus": {
      "type": "enum",
      "members": {
        "NOTINITIATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotInitiated"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Completed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Proof of possession status."
      }
    },
    "com.azure.edgeorder#AutoProvisioningStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Auto Provisioning Details."
      }
    },
    "com.azure.edgeorder#ProvisioningSupport": {
      "type": "enum",
      "members": {
        "CLOUDBASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CloudBased"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Manual"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Determining nature of provisioning that the configuration supports."
      }
    },
    "com.azure.edgeorder#IdentificationType": {
      "type": "enum",
      "members": {
        "NOTSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSupported"
          }
        },
        "SERIALNUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SerialNumber"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identification type of the configuration."
      }
    },
    "com.azure.edgeorder#HierarchyInformation": {
      "type": "structure",
      "members": {
        "productFamilyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents product family name that uniquely identifies product family."
          }
        },
        "productLineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents product line name that uniquely identifies product line."
          }
        },
        "productName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents product name that uniquely identifies product."
          }
        },
        "configurationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents configuration name that uniquely identifies configuration."
          }
        },
        "configurationIdDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents Model Display Name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Holds details about product hierarchy information."
      }
    },
    "com.azure.edgeorder#DisplayInfo": {
      "type": "structure",
      "members": {
        "productFamilyDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Product family display name."
          }
        },
        "configurationDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Configuration display name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes product display information."
      }
    },
    "com.azure.edgeorder#ProductDetailsOptInAdditionalConfigurationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.edgeorder#AdditionalConfiguration"
      },
      "traits": {
        "smithy.api#documentation": "List of additional configurations customer wants in the order item apart from the ones included in the base configuration."
      }
    },
    "com.azure.edgeorder#AdditionalConfiguration": {
      "type": "structure",
      "members": {
        "hierarchyInformation": {
          "target": "com.azure.edgeorder#HierarchyInformation",
          "traits": {
            "smithy.api#documentation": "Hierarchy of the product which uniquely identifies the configuration.",
            "smithy.api#required": {}
          }
        },
        "quantity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Quantity of the product.",
            "smithy.api#required": {}
          }
        },
        "provisioningDetails": {
          "target": "com.azure.edgeorder#AdditionalConfigurationProvisioningDetailsList",
          "traits": {
            "smithy.api#documentation": "List Provisioning Details for Devices in Additional Config."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional Configuration details."
      }
    },
    "com.azure.edgeorder#AdditionalConfigurationProvisioningDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.edgeorder#ProvisioningDetails"
      },
      "traits": {
        "smithy.api#documentation": "List Provisioning Details for Devices in Additional Config."
      }
    },
    "com.azure.edgeorder#OrderItemsUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.edgeorder#OrderItemsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "orderItemName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the order item."
          }
        },
        "properties": {
          "target": "com.azure.edgeorder#OrderItemUpdatePropertiesInput",
          "traits": {
            "smithy.api#documentation": "Order item update properties."
          }
        },
        "tags": {
          "target": "com.azure.edgeorder#OrderItemsUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "The list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups)."
          }
        },
        "identity": {
          "target": "com.azure.edgeorder#ResourceIdentityInput",
          "traits": {
            "smithy.api#documentation": "Msi identity of the resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.edgeorder#ResourceIdentityInput": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identity type"
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.edgeorder#ResourceIdentityInputUserAssignedIdentitiesMap",
          "traits": {
            "smithy.api#documentation": "User Assigned Identities"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Msi identity details of the resource"
      }
    },
    "com.azure.edgeorder#ResourceIdentityInputUserAssignedIdentitiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.edgeorder#ResourceIdentityInputUserAssignedIdentitiesValue"
      },
      "traits": {
        "smithy.api#documentation": "User Assigned Identities"
      }
    },
    "com.azure.edgeorder#ResourceIdentityInputUserAssignedIdentitiesValue": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "User assigned identity properties"
      }
    },
    "com.azure.edgeorder#OrderItemsUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups)."
      }
    },
    "com.azure.edgeorder#OrderItemUpdatePropertiesInput": {
      "type": "structure",
      "members": {
        "forwardAddress": {
          "target": "com.azure.edgeorder#AddressPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Updates forward shipping address and contact details."
          }
        },
        "preferences": {
          "target": "com.azure.edgeorder#Preferences",
          "traits": {
            "smithy.api#documentation": "Customer preference."
          }
        },
        "notificationEmailList": {
          "target": "com.azure.edgeorder#OrderItemUpdatePropertiesInputNotificationEmailListList",
          "traits": {
            "smithy.api#documentation": "Additional notification email list."
          }
        },
        "orderItemDetails": {
          "target": "com.azure.edgeorder#OrderItemDetailsUpdateParameterInput",
          "traits": {
            "smithy.api#documentation": "Represents order item details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Order item update properties."
      }
    },
    "com.azure.edgeorder#OrderItemDetailsUpdateParameterInput": {
      "type": "structure",
      "members": {
        "productDetails": {
          "target": "com.azure.edgeorder#ProductDetailsUpdateParameterInput",
          "traits": {
            "smithy.api#documentation": "Represents product details."
          }
        },
        "siteDetails": {
          "target": "com.azure.edgeorder#SiteDetails",
          "traits": {
            "smithy.api#documentation": "Site Related Details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Order item details Patchable Properties."
      }
    },
    "com.azure.edgeorder#ProductDetailsUpdateParameterInput": {
      "type": "structure",
      "members": {
        "parentProvisioningDetails": {
          "target": "com.azure.edgeorder#ProvisioningDetailsInput",
          "traits": {
            "smithy.api#documentation": "Device Provisioning Details for Parent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents product details patchable properties."
      }
    },
    "com.azure.edgeorder#ProvisioningDetailsInput": {
      "type": "structure",
      "members": {
        "quantity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Quantity of the devices."
          }
        },
        "provisioningArmId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provisioning Resource Arm ID."
          }
        },
        "provisioningEndPoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provisioning End Point."
          }
        },
        "serialNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Serial Number for the Device."
          }
        },
        "vendorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Vendor Name for the Device , (for 1P devices - Microsoft)."
          }
        },
        "readyToConnectArmId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Arc Enabled Resource Arm id."
          }
        },
        "managementResourceArmId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Management Resource ArmId."
          }
        },
        "autoProvisioningStatus": {
          "target": "com.azure.edgeorder#AutoProvisioningStatus",
          "traits": {
            "smithy.api#documentation": "Auto Provisioning Details."
          }
        },
        "devicePresenceVerification": {
          "target": "com.azure.edgeorder#DevicePresenceVerificationDetailsInput",
          "traits": {
            "smithy.api#documentation": "Proof of possession details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details Related To Provision Resource."
      }
    },
    "com.azure.edgeorder#DevicePresenceVerificationDetailsInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Proof of possession details."
      }
    },
    "com.azure.edgeorder#OrderItemUpdatePropertiesInputNotificationEmailListList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Additional notification email list."
      }
    },
    "com.azure.edgeorder#OrderItemsCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.edgeorder#OrderItemsCreateRequest"
      },
      "output": {
        "target": "com.azure.edgeorder#OrderItemsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EdgeOrder/orderItems/{orderItemName}",
          "code": 200,
          "apiVersion": "2024-02-01"
        },
        "smithy.api#documentation": "Create an order item. Existing order item cannot be updated with this api and should instead be updated with the Update order item\nAPI.",
        "com.distilled.openapi#apiVersion": "2024-02-01"
      }
    },
    "com.azure.edgeorder#OrderItemsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.edgeorder#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.edgeorder#OrderItemsCreateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.edgeorder#OrderItemProperties",
          "traits": {
            "smithy.api#documentation": "Order item properties.",
            "smithy.api#required": {}
          }
        },
        "identity": {
          "target": "com.azure.edgeorder#ResourceIdentity",
          "traits": {
            "smithy.api#documentation": "Msi identity of the resource"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.edgeorder#OrderItemsCreateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.edgeorder#OrderItemsCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "orderItemName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the order item."
          }
        },
        "tags": {
          "target": "com.azure.edgeorder#OrderItemsCreateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.edgeorder#OrderItemPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Order item properties.",
            "smithy.api#required": {}
          }
        },
        "identity": {
          "target": "com.azure.edgeorder#ResourceIdentityInput",
          "traits": {
            "smithy.api#documentation": "Msi identity of the resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.edgeorder#OrderItemPropertiesInput": {
      "type": "structure",
      "members": {
        "orderItemDetails": {
          "target": "com.azure.edgeorder#OrderItemDetailsInput",
          "traits": {
            "smithy.api#documentation": "Represents order item details.",
            "smithy.api#required": {}
          }
        },
        "addressDetails": {
          "target": "com.azure.edgeorder#AddressDetailsInput",
          "traits": {
            "smithy.api#documentation": "Represents shipping and return address for order item."
          }
        },
        "orderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the order to which order item belongs to.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents order item properties."
      }
    },
    "com.azure.edgeorder#AddressDetailsInput": {
      "type": "structure",
      "members": {
        "forwardAddress": {
          "target": "com.azure.edgeorder#AddressPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Customer address and contact details.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Address details for an order item."
      }
    },
    "com.azure.edgeorder#OrderItemDetailsInput": {
      "type": "structure",
      "members": {
        "productDetails": {
          "target": "com.azure.edgeorder#ProductDetailsInput",
          "traits": {
            "smithy.api#documentation": "Represents product details.",
            "smithy.api#required": {}
          }
        },
        "orderItemType": {
          "target": "com.azure.edgeorder#OrderItemType",
          "traits": {
            "smithy.api#documentation": "Order item type.",
            "smithy.api#required": {}
          }
        },
        "orderItemMode": {
          "target": "com.azure.edgeorder#OrderMode",
          "traits": {
            "smithy.api#documentation": "Defines the mode of the Order item."
          }
        },
        "siteDetails": {
          "target": "com.azure.edgeorder#SiteDetails",
          "traits": {
            "smithy.api#documentation": "Site Related Details."
          }
        },
        "preferences": {
          "target": "com.azure.edgeorder#Preferences",
          "traits": {
            "smithy.api#documentation": "Customer notification Preferences."
          }
        },
        "notificationEmailList": {
          "target": "com.azure.edgeorder#OrderItemDetailsInputNotificationEmailListList",
          "traits": {
            "smithy.api#documentation": "Additional notification email list."
          }
        },
        "error": {
          "target": "com.azure.edgeorder#OrderItemDetailsInputError",
          "traits": {
            "smithy.api#documentation": "The error detail."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Order item details."
      }
    },
    "com.azure.edgeorder#OrderItemDetailsInputError": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The error detail."
      }
    },
    "com.azure.edgeorder#OrderItemDetailsInputNotificationEmailListList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Additional notification email list."
      }
    },
    "com.azure.edgeorder#ProductDetailsInput": {
      "type": "structure",
      "members": {
        "displayInfo": {
          "target": "com.azure.edgeorder#DisplayInfoInput",
          "traits": {
            "smithy.api#documentation": "Display details of the product."
          }
        },
        "hierarchyInformation": {
          "target": "com.azure.edgeorder#HierarchyInformation",
          "traits": {
            "smithy.api#documentation": "Hierarchy of the product which uniquely identifies the product.",
            "smithy.api#required": {}
          }
        },
        "parentProvisioningDetails": {
          "target": "com.azure.edgeorder#ProvisioningDetailsInput",
          "traits": {
            "smithy.api#documentation": "Device Provisioning Details for Parent."
          }
        },
        "optInAdditionalConfigurations": {
          "target": "com.azure.edgeorder#ProductDetailsInputOptInAdditionalConfigurationsList",
          "traits": {
            "smithy.api#documentation": "List of additional configurations customer wants in the order item apart from the ones included in the base configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents product details."
      }
    },
    "com.azure.edgeorder#ProductDetailsInputOptInAdditionalConfigurationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.edgeorder#AdditionalConfigurationInput"
      },
      "traits": {
        "smithy.api#documentation": "List of additional configurations customer wants in the order item apart from the ones included in the base configuration."
      }
    },
    "com.azure.edgeorder#AdditionalConfigurationInput": {
      "type": "structure",
      "members": {
        "hierarchyInformation": {
          "target": "com.azure.edgeorder#HierarchyInformation",
          "traits": {
            "smithy.api#documentation": "Hierarchy of the product which uniquely identifies the configuration.",
            "smithy.api#required": {}
          }
        },
        "quantity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Quantity of the product.",
            "smithy.api#required": {}
          }
        },
        "provisioningDetails": {
          "target": "com.azure.edgeorder#AdditionalConfigurationInputProvisioningDetailsList",
          "traits": {
            "smithy.api#documentation": "List Provisioning Details for Devices in Additional Config."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional Configuration details."
      }
    },
    "com.azure.edgeorder#AdditionalConfigurationInputProvisioningDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.edgeorder#ProvisioningDetailsInput"
      },
      "traits": {
        "smithy.api#documentation": "List Provisioning Details for Devices in Additional Config."
      }
    },
    "com.azure.edgeorder#DisplayInfoInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Describes product display information."
      }
    },
    "com.azure.edgeorder#OrderItemsCreateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.edgeorder#OrderItemsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.edgeorder#OrderItemsGetRequest"
      },
      "output": {
        "target": "com.azure.edgeorder#OrderItemsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EdgeOrder/orderItems/{orderItemName}",
          "code": 200,
          "apiVersion": "2024-02-01"
        },
        "smithy.api#documentation": "Get an order item.",
        "com.distilled.openapi#apiVersion": "2024-02-01"
      }
    },
    "com.azure.edgeorder#OrderItemsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.edgeorder#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.edgeorder#OrderItemsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.edgeorder#OrderItemProperties",
          "traits": {
            "smithy.api#documentation": "Order item properties.",
            "smithy.api#required": {}
          }
        },
        "identity": {
          "target": "com.azure.edgeorder#ResourceIdentity",
          "traits": {
            "smithy.api#documentation": "Msi identity of the resource"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.edgeorder#OrderItemsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.edgeorder#OrderItemsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "orderItemName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the order item."
          }
        },
        "_expand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$expand",
            "smithy.api#documentation": "$expand is supported on parent device details, device details, forward shipping details and reverse shipping details parameters. Each of these can be provided as a comma separated list. Parent Device Details for order item provides details on the devices of the product, Device Details for order item provides details on the devices of the child configurations of the product, Forward and Reverse Shipping details provide forward and reverse shipping details respectively."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.edgeorder#OrderItemsListByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.edgeorder#OrderItemsListByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.edgeorder#OrderItemResourceList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EdgeOrder/orderItems",
          "code": 200,
          "apiVersion": "2024-02-01"
        },
        "smithy.api#documentation": "List order items at resource group level.",
        "com.distilled.openapi#apiVersion": "2024-02-01"
      }
    },
    "com.azure.edgeorder#OrderItemResourceList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.edgeorder#OrderItemResourceListValueList",
          "traits": {
            "smithy.api#documentation": "The OrderItemResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of order items."
      }
    },
    "com.azure.edgeorder#OrderItemResourceListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.edgeorder#OrderItemResource"
      },
      "traits": {
        "smithy.api#documentation": "The OrderItemResource items on this page"
      }
    },
    "com.azure.edgeorder#OrderItemResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.edgeorder#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.edgeorder#OrderItemResourceTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.edgeorder#OrderItemProperties",
[...]
