{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.eventhub#SchemaRegistryDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventhub#SchemaRegistryDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/schemagroups/{schemaGroupName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Deletes an EventHub schema group.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.eventhub#SchemaRegistryDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Namespace name"
          }
        },
        "schemaGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Schema Group name "
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.eventhub#SchemaRegistryCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventhub#SchemaRegistryCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.eventhub#SchemaRegistryCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/schemagroups/{schemaGroupName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Creates or Updates an EventHub schema group.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.eventhub#SchemaRegistryCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.eventhub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.eventhub#SchemaGroupProperties"
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.eventhub#SchemaGroupProperties": {
      "type": "structure",
      "members": {
        "updatedAtUtc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exact time the Schema Group was updated"
          }
        },
        "createdAtUtc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exact time the Schema Group was created."
          }
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ETag value."
          }
        },
        "groupProperties": {
          "target": "com.azure.eventhub#SchemaGroupPropertiesGroupPropertiesMap",
          "traits": {
            "smithy.api#documentation": "dictionary object for SchemaGroup group properties"
          }
        },
        "schemaCompatibility": {
          "target": "com.azure.eventhub#SchemaCompatibility"
        },
        "schemaType": {
          "target": "com.azure.eventhub#SchemaType"
        }
      },
      "traits": {}
    },
    "com.azure.eventhub#SchemaType": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "AVRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Avro"
          }
        },
        "PROTOBUF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ProtoBuf"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Json"
          }
        }
      },
      "traits": {}
    },
    "com.azure.eventhub#SchemaCompatibility": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "BACKWARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Backward"
          }
        },
        "FORWARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Forward"
          }
        }
      },
      "traits": {}
    },
    "com.azure.eventhub#SchemaGroupPropertiesGroupPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "dictionary object for SchemaGroup group properties"
      }
    },
    "com.azure.eventhub#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.eventhub#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.eventhub#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.eventhub#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.eventhub#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.eventhub#SchemaRegistryCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Namespace name"
          }
        },
        "schemaGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Schema Group name "
          }
        },
        "properties": {
          "target": "com.azure.eventhub#SchemaGroupPropertiesInput"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.eventhub#SchemaGroupPropertiesInput": {
      "type": "structure",
      "members": {
        "groupProperties": {
          "target": "com.azure.eventhub#SchemaGroupPropertiesInputGroupPropertiesMap",
          "traits": {
            "smithy.api#documentation": "dictionary object for SchemaGroup group properties"
          }
        },
        "schemaCompatibility": {
          "target": "com.azure.eventhub#SchemaCompatibility"
        },
        "schemaType": {
          "target": "com.azure.eventhub#SchemaType"
        }
      },
      "traits": {}
    },
    "com.azure.eventhub#SchemaGroupPropertiesInputGroupPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "dictionary object for SchemaGroup group properties"
      }
    },
    "com.azure.eventhub#SchemaRegistryGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventhub#SchemaRegistryGetRequest"
      },
      "output": {
        "target": "com.azure.eventhub#SchemaRegistryGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/schemagroups/{schemaGroupName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Gets the details of an EventHub schema group.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.eventhub#SchemaRegistryGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.eventhub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.eventhub#SchemaGroupProperties"
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.eventhub#SchemaRegistryGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Namespace name"
          }
        },
        "schemaGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Schema Group name "
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.eventhub#SchemaRegistryListByNamespace": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventhub#SchemaRegistryListByNamespaceRequest"
      },
      "output": {
        "target": "com.azure.eventhub#SchemaGroupListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/schemagroups",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Gets all the Schema Groups in a Namespace.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.eventhub#SchemaGroupListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.eventhub#SchemaGroupListResultValueList",
          "traits": {
            "smithy.api#documentation": "The SchemaGroup items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a SchemaGroup list operation."
      }
    },
    "com.azure.eventhub#SchemaGroupListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.eventhub#SchemaGroup"
      },
      "traits": {
        "smithy.api#documentation": "The SchemaGroup items on this page"
      }
    },
    "com.azure.eventhub#SchemaGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.eventhub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.eventhub#SchemaGroupProperties"
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Single item in List or Get Schema Group operation"
      }
    },
    "com.azure.eventhub#SchemaRegistryListByNamespaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Namespace name"
          }
        },
        "_skip": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$skip",
            "smithy.api#documentation": "Skip is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skip parameter that specifies a starting point to use for subsequent calls."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "May be used to limit the number of results to the most recent N usageDetails."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.eventhub#PrivateLinkResourcesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventhub#PrivateLinkResourcesGetRequest"
      },
      "output": {
        "target": "com.azure.eventhub#PrivateLinkResourcesListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/privateLinkResources",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Gets lists of resources that supports Privatelinks.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.eventhub#PrivateLinkResourcesListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.eventhub#PrivateLinkResourcesListResultValueList",
          "traits": {
            "smithy.api#documentation": "The PrivateLinkResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Paged collection of PrivateLinkResource items"
      }
    },
    "com.azure.eventhub#PrivateLinkResourcesListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.eventhub#PrivateLinkResource"
      },
      "traits": {
        "smithy.api#documentation": "The PrivateLinkResource items on this page"
      }
    },
    "com.azure.eventhub#PrivateLinkResource": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.azure.eventhub#PrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the private link resource."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified identifier of the resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information of the private link resource."
      }
    },
    "com.azure.eventhub#PrivateLinkResourceProperties": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The private link resource group id."
          }
        },
        "requiredMembers": {
          "target": "com.azure.eventhub#PrivateLinkResourcePropertiesRequiredMembersList",
          "traits": {
            "smithy.api#documentation": "The private link resource required member names."
          }
        },
        "requiredZoneNames": {
          "target": "com.azure.eventhub#PrivateLinkResourcePropertiesRequiredZoneNamesList",
          "traits": {
            "smithy.api#documentation": "The private link resource Private link DNS zone name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of PrivateLinkResource"
      }
    },
    "com.azure.eventhub#PrivateLinkResourcePropertiesRequiredZoneNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The private link resource Private link DNS zone name."
      }
    },
    "com.azure.eventhub#PrivateLinkResourcePropertiesRequiredMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The private link resource required member names."
      }
    },
    "com.azure.eventhub#PrivateLinkResourcesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Namespace name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.eventhub#PrivateEndpointConnectionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventhub#PrivateEndpointConnectionsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Deletes an existing namespace. This operation also removes all associated resources under the namespace.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.eventhub#PrivateEndpointConnectionsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Namespace name"
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The PrivateEndpointConnection name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.eventhub#PrivateEndpointConnectionsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventhub#PrivateEndpointConnectionsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.eventhub#PrivateEndpointConnectionsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Creates or updates PrivateEndpointConnections of service namespace.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.eventhub#PrivateEndpointConnectionsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.eventhub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.eventhub#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the PrivateEndpointConnection."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.eventhub#PrivateEndpointConnectionProperties": {
      "type": "structure",
      "members": {
        "privateEndpoint": {
          "target": "com.azure.eventhub#PrivateEndpoint",
          "traits": {
            "smithy.api#documentation": "The Private Endpoint resource for this Connection."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.eventhub#ConnectionState",
          "traits": {
            "smithy.api#documentation": "Details about the state of the connection."
          }
        },
        "provisioningState": {
          "target": "com.azure.eventhub#EndPointProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the Private Endpoint Connection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the private endpoint connection resource."
      }
    },
    "com.azure.eventhub#EndPointProvisioningState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provisioning state of the Private Endpoint Connection."
      }
    },
    "com.azure.eventhub#ConnectionState": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.eventhub#PrivateLinkConnectionStatus",
          "traits": {
            "smithy.api#documentation": "Status of the connection."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the connection state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ConnectionState information."
      }
    },
    "com.azure.eventhub#PrivateLinkConnectionStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disconnected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the connection."
      }
    },
    "com.azure.eventhub#PrivateEndpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ARM identifier for Private Endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PrivateEndpoint information."
      }
    },
    "com.azure.eventhub#PrivateEndpointConnectionsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Namespace name"
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The PrivateEndpointConnection name"
          }
        },
        "properties": {
          "target": "com.azure.eventhub#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the PrivateEndpointConnection."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.eventhub#PrivateEndpointConnectionsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventhub#PrivateEndpointConnectionsGetRequest"
      },
      "output": {
        "target": "com.azure.eventhub#PrivateEndpointConnectionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Gets a description for the specified Private Endpoint Connection name.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.eventhub#PrivateEndpointConnectionsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.eventhub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.eventhub#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the PrivateEndpointConnection."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.eventhub#PrivateEndpointConnectionsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Namespace name"
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The PrivateEndpointConnection name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.eventhub#PrivateEndpointConnectionsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventhub#PrivateEndpointConnectionsListRequest"
      },
      "output": {
        "target": "com.azure.eventhub#PrivateEndpointConnectionListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/privateEndpointConnections",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Gets the available PrivateEndpointConnections within a namespace.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.eventhub#PrivateEndpointConnectionListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.eventhub#PrivateEndpointConnectionListResultValueList",
          "traits": {
            "smithy.api#documentation": "The PrivateEndpointConnection items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a PrivateEndpointConnection list operation."
      }
    },
    "com.azure.eventhub#PrivateEndpointConnectionListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.eventhub#PrivateEndpointConnection"
      },
      "traits": {
        "smithy.api#documentation": "The PrivateEndpointConnection items on this page"
      }
    },
    "com.azure.eventhub#PrivateEndpointConnection": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.eventhub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.eventhub#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the PrivateEndpointConnection."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the PrivateEndpointConnection."
      }
    },
    "com.azure.eventhub#PrivateEndpointConnectionsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Namespace name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.eventhub#NetworkSecurityPerimeterConfigurationsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventhub#NetworkSecurityPerimeterConfigurationsCreateOrUpdateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/networkSecurityPerimeterConfigurations/{resourceAssociationName}/reconcile",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Refreshes any information about the association.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.eventhub#NetworkSecurityPerimeterConfigurationsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Namespace name"
          }
        },
        "resourceAssociationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ResourceAssociation Name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.eventhub#NetworkSecurityPerimeterConfigurationsGetResourceAssociationName": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventhub#NetworkSecurityPerimeterConfigurationsGetResourceAssociationNameRequest"
      },
      "output": {
        "target": "com.azure.eventhub#NetworkSecurityPerimeterConfigurationsGetResourceAssociationNameResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/networkSecurityPerimeterConfigurations/{resourceAssociationName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Return a NetworkSecurityPerimeterConfigurations resourceAssociationName",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.eventhub#NetworkSecurityPerimeterConfigurationsGetResourceAssociationNameResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.eventhub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.eventhub#NetworkSecurityPerimeterConfigurationProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the Network Security Perimeter Configuration"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.eventhub#NetworkSecurityPerimeterConfigurationProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.eventhub#NetworkSecurityPerimeterConfigurationProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of NetworkSecurityPerimeter configuration propagation"
          }
        },
        "provisioningIssues": {
          "target": "com.azure.eventhub#NetworkSecurityPerimeterConfigurationPropertiesProvisioningIssuesList",
          "traits": {
            "smithy.api#documentation": "List of Provisioning Issues if any"
          }
        },
        "networkSecurityPerimeter": {
          "target": "com.azure.eventhub#NetworkSecurityPerimeter",
          "traits": {
            "smithy.api#documentation": "NetworkSecurityPerimeter related information"
          }
        },
        "resourceAssociation": {
          "target": "com.azure.eventhub#NetworkSecurityPerimeterConfigurationPropertiesResourceAssociation",
          "traits": {
            "smithy.api#documentation": "Information about resource association"
          }
        },
        "profile": {
          "target": "com.azure.eventhub#NetworkSecurityPerimeterConfigurationPropertiesProfile",
          "traits": {
            "smithy.api#documentation": "Information about current network profile"
          }
        },
        "isBackingResource": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the EventHub namespace is backed by another Azure resource and not visible to end users."
          }
        },
        "applicableFeatures": {
          "target": "com.azure.eventhub#NetworkSecurityPerimeterConfigurationPropertiesApplicableFeaturesList",
          "traits": {
            "smithy.api#documentation": "Indicates that the NSP controls related to backing association are only applicable to a specific feature in backing resource's data plane."
          }
        },
        "parentAssociationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source Resource Association name"
          }
        },
        "sourceResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ARM Id of source resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of NetworkSecurityPerimeterConfiguration"
      }
    },
    "com.azure.eventhub#NetworkSecurityPerimeterConfigurationPropertiesApplicableFeaturesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Indicates that the NSP controls related to backing association are only applicable to a specific feature in backing resource's data plane."
      }
    },
    "com.azure.eventhub#NetworkSecurityPerimeterConfigurationPropertiesProfile": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource"
          }
        },
        "accessRulesVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current access rules version"
          }
        },
        "accessRules": {
          "target": "com.azure.eventhub#NetworkSecurityPerimeterConfigurationPropertiesProfileAccessRulesList",
          "traits": {
            "smithy.api#documentation": "List of Access Rules"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about current network profile"
      }
    },
    "com.azure.eventhub#NetworkSecurityPerimeterConfigurationPropertiesProfileAccessRulesList": {
      "type": "list",
      "member": {
        "target": "com.azure.eventhub#NspAccessRule"
      },
      "traits": {
        "smithy.api#documentation": "List of Access Rules"
      }
    },
    "com.azure.eventhub#NspAccessRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified identifier of the resource"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource"
          }
        },
        "properties": {
          "target": "com.azure.eventhub#NspAccessRuleProperties",
          "traits": {
            "smithy.api#documentation": "Properties of Access Rule"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information of Access Rule in Network Profile"
      }
    },
    "com.azure.eventhub#NspAccessRuleProperties": {
      "type": "structure",
      "members": {
        "direction": {
          "target": "com.azure.eventhub#NspAccessRuleDirection",
          "traits": {
            "smithy.api#documentation": "Direction of Access Rule"
          }
        },
        "addressPrefixes": {
          "target": "com.azure.eventhub#NspAccessRulePropertiesAddressPrefixesList",
          "traits": {
            "smithy.api#documentation": "Address prefixes in the CIDR format for inbound rules"
          }
        },
        "subscriptions": {
          "target": "com.azure.eventhub#NspAccessRulePropertiesSubscriptionsList",
          "traits": {
            "smithy.api#documentation": "Subscriptions for inbound rules"
          }
        },
        "networkSecurityPerimeters": {
          "target": "com.azure.eventhub#NspAccessRulePropertiesNetworkSecurityPerimetersList",
          "traits": {
            "smithy.api#documentation": "NetworkSecurityPerimeters for inbound rules"
          }
        },
        "fullyQualifiedDomainNames": {
          "target": "com.azure.eventhub#NspAccessRulePropertiesFullyQualifiedDomainNamesList",
          "traits": {
            "smithy.api#documentation": "FQDN for outbound rules"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of Access Rule"
      }
    },
    "com.azure.eventhub#NspAccessRulePropertiesFullyQualifiedDomainNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "FQDN for outbound rules"
      }
    },
    "com.azure.eventhub#NspAccessRulePropertiesNetworkSecurityPerimetersList": {
      "type": "list",
      "member": {
        "target": "com.azure.eventhub#NetworkSecurityPerimeter"
      },
      "traits": {
        "smithy.api#documentation": "NetworkSecurityPerimeters for inbound rules"
      }
    },
    "com.azure.eventhub#NetworkSecurityPerimeter": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified identifier of the resource"
          }
        },
        "perimeterGuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Guid of the resource"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NetworkSecurityPerimeter related information"
      }
    },
    "com.azure.eventhub#NspAccessRulePropertiesSubscriptionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.eventhub#NspAccessRulePropertiesSubscriptionsItem"
      },
      "traits": {
        "smithy.api#documentation": "Subscriptions for inbound rules"
      }
    },
    "com.azure.eventhub#NspAccessRulePropertiesSubscriptionsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified identifier of subscription"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Subscription for inbound rule"
      }
    },
    "com.azure.eventhub#NspAccessRulePropertiesAddressPrefixesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Address prefixes in the CIDR format for inbound rules"
      }
    },
    "com.azure.eventhub#NspAccessRuleDirection": {
      "type": "enum",
      "members": {
        "INBOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Inbound"
          }
        },
        "OUTBOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Outbound"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Direction of Access Rule"
      }
    },
    "com.azure.eventhub#NetworkSecurityPerimeterConfigurationPropertiesResourceAssociation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource association"
          }
        },
        "accessMode": {
          "target": "com.azure.eventhub#ResourceAssociationAccessMode",
          "traits": {
            "smithy.api#documentation": "Access Mode of the resource association"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about resource association"
      }
    },
    "com.azure.eventhub#ResourceAssociationAccessMode": {
      "type": "enum",
      "members": {
        "NOASSOCIATIONMODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NoAssociationMode"
          }
        },
        "ENFORCEDMODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EnforcedMode"
          }
        },
        "LEARNINGMODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LearningMode"
          }
        },
        "AUDITMODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AuditMode"
          }
        },
        "UNSPECIFIEDMODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UnspecifiedMode"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Access Mode of the resource association"
      }
    },
    "com.azure.eventhub#NetworkSecurityPerimeterConfigurationPropertiesProvisioningIssuesList": {
      "type": "list",
      "member": {
        "target": "com.azure.eventhub#ProvisioningIssue"
      },
      "traits": {
        "smithy.api#documentation": "List of Provisioning Issues if any"
      }
    },
    "com.azure.eventhub#ProvisioningIssue": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the issue"
          }
        },
        "properties": {
          "target": "com.azure.eventhub#ProvisioningIssueProperties",
          "traits": {
            "smithy.api#documentation": "Properties of Provisioning Issue"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes Provisioning issue for given NetworkSecurityPerimeterConfiguration"
      }
    },
    "com.azure.eventhub#ProvisioningIssueProperties": {
      "type": "structure",
      "members": {
        "issueType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of Issue"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the issue"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of Provisioning Issue"
      }
    },
    "com.azure.eventhub#NetworkSecurityPerimeterConfigurationProvisioningState": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "INVALIDRESPONSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InvalidResponse"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "SUCCEEDEDWITHISSUES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SucceededWithIssues"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleted"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provisioning state of NetworkSecurityPerimeter configuration propagation"
      }
    },
    "com.azure.eventhub#NetworkSecurityPerimeterConfigurationsGetResourceAssociationNameRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Namespace name"
          }
        },
        "resourceAssociationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ResourceAssociation Name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.eventhub#NetworkSecurityPerimeterConfigurationList2": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventhub#NetworkSecurityPerimeterConfigurationListRequest"
      },
      "output": {
        "target": "com.azure.eventhub#NetworkSecurityPerimeterConfigurationList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/networkSecurityPerimeterConfigurations",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Gets list of current NetworkSecurityPerimeterConfiguration for Namespace",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.eventhub#NetworkSecurityPerimeterConfigurationList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.eventhub#NetworkSecurityPerimeterConfigurationListValueList",
          "traits": {
            "smithy.api#documentation": "A collection of NetworkSecurityPerimeterConfigurations"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of the List NetworkSecurityPerimeterConfiguration operation."
      }
    },
    "com.azure.eventhub#NetworkSecurityPerimeterConfigurationListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.eventhub#NetworkSecurityPerimeterConfiguration"
      },
      "traits": {
        "smithy.api#documentation": "A collection of NetworkSecurityPerimeterConfigurations"
      }
    },
    "com.azure.eventhub#NetworkSecurityPerimeterConfiguration": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.eventhub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.eventhub#NetworkSecurityPerimeterConfigurationProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the Network Security Perimeter Configuration"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network Security Perimeter related configurations of a given namespace"
      }
    },
    "com.azure.eventhub#NetworkSecurityPerimeterConfigurationListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Namespace name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.eventhub#NamespacesCreateOrUpdateNetworkRuleSet": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventhub#NamespacesCreateOrUpdateNetworkRuleSetRequest"
      },
      "output": {
        "target": "com.azure.eventhub#NamespacesCreateOrUpdateNetworkRuleSetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/networkRuleSets/default",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Create or update NetworkRuleSet for a Namespace.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.eventhub#NamespacesCreateOrUpdateNetworkRuleSetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.eventhub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.eventhub#NetworkRuleSetProperties",
          "traits": {
            "smithy.api#documentation": "NetworkRuleSet properties"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.eventhub#NetworkRuleSetProperties": {
      "type": "structure",
      "members": {
        "trustedServiceAccessEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Value that indicates whether Trusted Service Access is Enabled or not."
          }
        },
        "defaultAction": {
          "target": "com.azure.eventhub#DefaultAction",
          "traits": {
            "smithy.api#documentation": "Default Action for Network Rule Set"
          }
        },
        "virtualNetworkRules": {
          "target": "com.azure.eventhub#NetworkRuleSetPropertiesVirtualNetworkRulesList",
          "traits": {
            "smithy.api#documentation": "List VirtualNetwork Rules"
          }
        },
        "ipRules": {
          "target": "com.azure.eventhub#NetworkRuleSetPropertiesIpRulesList",
          "traits": {
            "smithy.api#documentation": "List of IpRules"
          }
        },
        "publicNetworkAccess": {
          "target": "com.azure.eventhub#NetworkRuleSetPropertiesPublicNetworkAccess",
          "traits": {
            "smithy.api#documentation": "This determines if traffic is allowed over public network. By default it is enabled. If value is SecuredByPerimeter then Inbound and Outbound communication is controlled by the network security perimeter and profile's access rules."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NetworkRuleSet properties"
      }
    },
    "com.azure.eventhub#NetworkRuleSetPropertiesPublicNetworkAccess": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        },
        "SECUREDBYPERIMETER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SecuredByPerimeter"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This determines if traffic is allowed over public network. By default it is enabled. If value is SecuredByPerimeter then Inbound and Outbound communication is controlled by the network security perimeter and profile's access rules."
      }
    },
    "com.azure.eventhub#NetworkRuleSetPropertiesIpRulesList": {
      "type": "list",
      "member": {
        "target": "com.azure.eventhub#NWRuleSetIpRules"
      },
      "traits": {
        "smithy.api#documentation": "List of IpRules"
      }
    },
    "com.azure.eventhub#NWRuleSetIpRules": {
      "type": "structure",
      "members": {
        "ipMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Mask"
          }
        },
        "action": {
          "target": "com.azure.eventhub#NetworkRuleIPAction",
          "traits": {
            "smithy.api#documentation": "The IP Filter Action"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from the List namespace operation."
      }
    },
    "com.azure.eventhub#NetworkRuleIPAction": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Allow"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The IP Filter Action"
      }
    },
    "com.azure.eventhub#NetworkRuleSetPropertiesVirtualNetworkRulesList": {
      "type": "list",
      "member": {
        "target": "com.azure.eventhub#NWRuleSetVirtualNetworkRules"
      },
      "traits": {
        "smithy.api#documentation": "List VirtualNetwork Rules"
      }
    },
    "com.azure.eventhub#NWRuleSetVirtualNetworkRules": {
      "type": "structure",
      "members": {
        "subnet": {
          "target": "com.azure.eventhub#Subnet",
          "traits": {
            "smithy.api#documentation": "Subnet properties"
          }
        },
        "ignoreMissingVnetServiceEndpoint": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Value that indicates whether to ignore missing Vnet Service Endpoint"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from the List namespace operation."
      }
    },
    "com.azure.eventhub#Subnet": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID of Virtual Network Subnet"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties supplied for Subnet"
      }
    },
    "com.azure.eventhub#DefaultAction": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Allow"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deny"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Default Action for Network Rule Set"
      }
    },
    "com.azure.eventhub#NamespacesCreateOrUpdateNetworkRuleSetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Namespace name"
          }
        },
        "properties": {
          "target": "com.azure.eventhub#NetworkRuleSetProperties",
          "traits": {
            "smithy.api#documentation": "NetworkRuleSet properties"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.eventhub#NamespacesGetNetworkRuleSet": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventhub#NamespacesGetNetworkRuleSetRequest"
      },
      "output": {
        "target": "com.azure.eventhub#NamespacesGetNetworkRuleSetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/networkRuleSets/default",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Gets NetworkRuleSet for a Namespace.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.eventhub#NamespacesGetNetworkRuleSetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.eventhub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.eventhub#NetworkRuleSetProperties",
          "traits": {
            "smithy.api#documentation": "NetworkRuleSet properties"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.eventhub#NamespacesGetNetworkRuleSetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Namespace name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.eventhub#NamespacesListNetworkRuleSet": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventhub#NamespacesListNetworkRuleSetRequest"
      },
      "output": {
        "target": "com.azure.eventhub#NetworkRuleSetListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/networkRuleSets",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Gets NetworkRuleSet for a Namespace.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.eventhub#NetworkRuleSetListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.eventhub#NetworkRuleSetListResultValueList",
          "traits": {
            "smithy.api#documentation": "The NetworkRuleSet items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Paged collection of NetworkRuleSet items"
      }
    },
    "com.azure.eventhub#NetworkRuleSetListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.eventhub#NetworkRuleSet"
      },
      "traits": {
        "smithy.api#documentation": "The NetworkRuleSet items on this page"
      }
    },
    "com.azure.eventhub#NetworkRuleSet": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.eventhub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.eventhub#NetworkRuleSetProperties",
          "traits": {
            "smithy.api#documentation": "NetworkRuleSet properties"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Description of topic resource."
      }
    },
    "com.azure.eventhub#NamespacesListNetworkRuleSetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Namespace name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.eventhub#NamespacesFailover": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventhub#NamespacesFailoverRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/failover",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "GeoDR Failover",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.eventhub#NamespacesFailoverRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Namespace name"
          }
        },
        "properties": {
          "target": "com.azure.eventhub#FailOverProperties"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.eventhub#FailOverProperties": {
      "type": "structure",
      "members": {
        "primaryLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Query parameter for the new primary location after failover."
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If Force is false then graceful failover is attempted after ensuring no data loss. If Force flag is set to true, Forced failover is attempted with possible data loss."
          }
        }
      },
      "traits": {}
    },
    "com.azure.eventhub#ConsumerGroupsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventhub#ConsumerGroupsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/eventhubs/{eventHubName}/consumergroups/{consumerGroupName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Deletes a consumer group from the specified Event Hub and resource group.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.eventhub#ConsumerGroupsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Namespace name"
          }
        },
        "eventHubName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Event Hub name"
          }
        },
        "consumerGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The consumer group name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.eventhub#ConsumerGroupsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventhub#ConsumerGroupsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.eventhub#ConsumerGroupsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/eventhubs/{eventHubName}/consumergroups/{consumerGroupName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Creates or updates an Event Hubs consumer group as a nested resource within a Namespace.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.eventhub#ConsumerGroupsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.eventhub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.eventhub#ConsumerGroupProperties",
          "traits": {
            "smithy.api#documentation": "Single item in List or Get Consumer group operation"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.eventhub#ConsumerGroupProperties": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exact time the message was created."
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The exact time the message was updated."
          }
        },
        "userMetadata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User Metadata is a placeholder to store user-defined string data with maximum length 1024. e.g. it can be used to store descriptive data, such as list of teams and their contact information also user-defined configuration settings can be stored."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Single item in List or Get Consumer group operation"
      }
    },
    "com.azure.eventhub#ConsumerGroupsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Namespace name"
          }
        },
        "eventHubName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Event Hub name"
          }
        },
        "consumerGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The consumer group name"
          }
        },
        "properties": {
          "target": "com.azure.eventhub#ConsumerGroupPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Single item in List or Get Consumer group operation"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.eventhub#ConsumerGroupPropertiesInput": {
      "type": "structure",
      "members": {
        "userMetadata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User Metadata is a placeholder to store user-defined string data with maximum length 1024. e.g. it can be used to store descriptive data, such as list of teams and their contact information also user-defined configuration settings can be stored."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Single item in List or Get Consumer group operation"
      }
    },
    "com.azure.eventhub#ConsumerGroupsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventhub#ConsumerGroupsGetRequest"
      },
      "output": {
        "target": "com.azure.eventhub#ConsumerGroupsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/eventhubs/{eventHubName}/consumergroups/{consumerGroupName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Gets a description for the specified consumer group.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.eventhub#ConsumerGroupsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.eventhub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.eventhub#ConsumerGroupProperties",
          "traits": {
            "smithy.api#documentation": "Single item in List or Get Consumer group operation"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.eventhub#ConsumerGroupsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Namespace name"
          }
        },
        "eventHubName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Event Hub name"
          }
        },
        "consumerGroupName": {
[...]
