{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.eventgrid#NamespaceTopicEventSubscriptionsGetFullUrl": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventgrid#NamespaceTopicEventSubscriptionsGetFullUrlRequest"
      },
      "output": {
        "target": "com.azure.eventgrid#SubscriptionFullUrl"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/namespaces/{namespaceName}/topics/{topicName}/eventSubscriptions/{eventSubscriptionName}/getFullUrl",
          "code": 200,
          "apiVersion": "2025-02-15"
        },
        "smithy.api#documentation": "Get full URL of an event subscription of a namespace topic.\n\nGet the full endpoint URL for an event subscription of a namespace topic.",
        "com.distilled.openapi#apiVersion": "2025-02-15"
      }
    },
    "com.azure.eventgrid#SubscriptionFullUrl": {
      "type": "structure",
      "members": {
        "endpointUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL that represents the endpoint of the destination of an event subscription."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Full endpoint URL of an event subscription"
      }
    },
    "com.azure.eventgrid#NamespaceTopicEventSubscriptionsGetFullUrlRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group within the user's subscription."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the namespace."
          }
        },
        "topicName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the namespace topic."
          }
        },
        "eventSubscriptionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the event subscription."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.eventgrid#NamespacesValidateCustomDomainOwnership": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventgrid#NamespacesValidateCustomDomainOwnershipRequest"
      },
      "output": {
        "target": "com.azure.eventgrid#CustomDomainOwnershipValidationResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/namespaces/{namespaceName}/validateCustomDomainOwnership",
          "code": 200,
          "apiVersion": "2025-02-15"
        },
        "smithy.api#documentation": "Validate ownership for all custom domains in a namespace.\n\nPerforms ownership validation via checking TXT records for all custom domains in a namespace.",
        "com.distilled.openapi#apiVersion": "2025-02-15"
      }
    },
    "com.azure.eventgrid#CustomDomainOwnershipValidationResult": {
      "type": "structure",
      "members": {
        "customDomainsForTopicsConfiguration": {
          "target": "com.azure.eventgrid#CustomDomainOwnershipValidationResultCustomDomainsForTopicsConfigurationList",
          "traits": {
            "smithy.api#documentation": "List of custom domain configurations for the namespace under topics configuration."
          }
        },
        "customDomainsForTopicSpacesConfiguration": {
          "target": "com.azure.eventgrid#CustomDomainOwnershipValidationResultCustomDomainsForTopicSpacesConfigurationList",
          "traits": {
            "smithy.api#documentation": "List of custom domain configurations for the namespace under topic spaces configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Namespace custom domain ownership validation result."
      }
    },
    "com.azure.eventgrid#CustomDomainOwnershipValidationResultCustomDomainsForTopicSpacesConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.azure.eventgrid#CustomDomainConfiguration"
      },
      "traits": {
        "smithy.api#documentation": "List of custom domain configurations for the namespace under topic spaces configuration."
      }
    },
    "com.azure.eventgrid#CustomDomainConfiguration": {
      "type": "structure",
      "members": {
        "fullyQualifiedDomainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully Qualified Domain Name (FQDN) for the custom domain.",
            "smithy.api#required": {}
          }
        },
        "validationState": {
          "target": "com.azure.eventgrid#CustomDomainConfigurationValidationState",
          "traits": {
            "smithy.api#documentation": "Validation state for the custom domain. This is a read only property and is initially set to 'Pending' and will be updated to 'Approved' by Event Grid only after ownership of the domain name has been successfully validated."
          }
        },
        "identity": {
          "target": "com.azure.eventgrid#CustomDomainIdentity",
          "traits": {
            "smithy.api#documentation": "Identity info for accessing the certificate for the custom domain. This identity info must match an identity that has been set on the namespace."
          }
        },
        "certificateUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL for the certificate that is used for publishing to the custom domain. We currently support certificates stored in Azure Key Vault only. While certificate URL can be either\r\nversioned URL of the following format https://{key-vault-name}.vault.azure.net/certificates/{certificate-name}/{version-id}, or unversioned URL of the following format (e.g.,\r\nhttps://contosovault.vault.azure.net/certificates/contosocert, we support unversioned certificate URL only (e.g., https://contosovault.vault.azure.net/certificates/contosocert)"
          }
        },
        "expectedTxtRecordName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Expected DNS TXT record name. Event Grid will check for a TXT record with this name in the DNS record set of the custom domain name to prove ownership over the domain.\r\nThe values under this TXT record must contain the expected TXT record value."
          }
        },
        "expectedTxtRecordValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Expected DNS TXT record value. Event Grid will check for a TXT record with this value in the DNS record set of the custom domain name to prove ownership over the domain."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A custom domain configuration that allows users to publish to their own domain name."
      }
    },
    "com.azure.eventgrid#CustomDomainIdentity": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.eventgrid#CustomDomainIdentityType",
          "traits": {
            "smithy.api#documentation": "The type of managed identity used. Can be either 'SystemAssigned' or 'UserAssigned'."
          }
        },
        "userAssignedIdentity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user identity associated with the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The identity information for retrieving the certificate for the custom domain."
      }
    },
    "com.azure.eventgrid#CustomDomainIdentityType": {
      "type": "enum",
      "members": {
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of managed identity used. Can be either 'SystemAssigned' or 'UserAssigned'."
      }
    },
    "com.azure.eventgrid#CustomDomainConfigurationValidationState": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "ERRORRETRIEVINGDNSRECORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ErrorRetrievingDnsRecord"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Validation state for the custom domain. This is a read only property and is initially set to 'Pending' and will be updated to 'Approved' by Event Grid only after ownership of the domain name has been successfully validated."
      }
    },
    "com.azure.eventgrid#CustomDomainOwnershipValidationResultCustomDomainsForTopicsConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.azure.eventgrid#CustomDomainConfiguration"
      },
      "traits": {
        "smithy.api#documentation": "List of custom domain configurations for the namespace under topics configuration."
      }
    },
    "com.azure.eventgrid#NamespacesValidateCustomDomainOwnershipRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group within the user's subscription."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Namespace."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.eventgrid#VerifiedPartnersList": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventgrid#VerifiedPartnersListRequest"
      },
      "output": {
        "target": "com.azure.eventgrid#VerifiedPartnersListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.EventGrid/verifiedPartners",
          "code": 200,
          "apiVersion": "2025-02-15"
        },
        "smithy.api#documentation": "List all verified partners.\n\nGet a list of all verified partners.",
        "com.distilled.openapi#apiVersion": "2025-02-15"
      }
    },
    "com.azure.eventgrid#VerifiedPartnersListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.eventgrid#VerifiedPartnersListResultValueList",
          "traits": {
            "smithy.api#documentation": "A collection of verified partners."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link for the next page of verified partners if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of the List verified partners operation"
      }
    },
    "com.azure.eventgrid#VerifiedPartnersListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.eventgrid#VerifiedPartner"
      },
      "traits": {
        "smithy.api#documentation": "A collection of verified partners."
      }
    },
    "com.azure.eventgrid#VerifiedPartner": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified identifier of the resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource."
          }
        },
        "properties": {
          "target": "com.azure.eventgrid#VerifiedPartnerProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the verified partner."
          }
        },
        "systemData": {
          "target": "com.azure.eventgrid#VerifiedPartnerSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Verified partner information"
      }
    },
    "com.azure.eventgrid#VerifiedPartnerSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.eventgrid#VerifiedPartnerSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.eventgrid#VerifiedPartnerSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.eventgrid#VerifiedPartnerSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.eventgrid#VerifiedPartnerSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.eventgrid#VerifiedPartnerProperties": {
      "type": "structure",
      "members": {
        "partnerRegistrationImmutableId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ImmutableId of the corresponding partner registration."
          }
        },
        "organizationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Official name of the Partner."
          }
        },
        "partnerDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the verified partner."
          }
        },
        "partnerTopicDetails": {
          "target": "com.azure.eventgrid#PartnerDetails",
          "traits": {
            "smithy.api#documentation": "Details of the partner topic scenario."
          }
        },
        "provisioningState": {
          "target": "com.azure.eventgrid#VerifiedPartnerPropertiesProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the verified partner."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the verified partner."
      }
    },
    "com.azure.eventgrid#VerifiedPartnerPropertiesProvisioningState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provisioning state of the verified partner."
      }
    },
    "com.azure.eventgrid#PartnerDetails": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is short description about the partner. The length of this description should not exceed 256 characters."
          }
        },
        "longDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Long description for the partner's scenarios and integration.Length of this description should not exceed 2048 characters."
          }
        },
        "setupUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI of the partner website that can be used by Azure customers to setup Event Grid\r\nintegration on an event source."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the partner."
      }
    },
    "com.azure.eventgrid#VerifiedPartnersListRequest": {
      "type": "structure",
      "members": {
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "The query used to filter the search results using OData syntax. Filtering is permitted on the 'name' property only and with limited number of OData operations. These operations are: the 'contains' function as well as the following logical operations: not, and, or, eq (for equal), and ne (for not equal). No arithmetic operations are supported. The following is a valid filter example: $filter=contains(namE, 'PATTERN') and name ne 'PATTERN-1'. The following is not a valid filter example: $filter=location eq 'westus'."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "The number of results to return per page for the list operation. Valid range for top parameter is 1 to 100. If not specified, the default number of results to be returned is 20 items per page."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.eventgrid#VerifiedPartnersGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventgrid#VerifiedPartnersGetRequest"
      },
      "output": {
        "target": "com.azure.eventgrid#VerifiedPartnersGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.EventGrid/verifiedPartners/{verifiedPartnerName}",
          "code": 200,
          "apiVersion": "2025-02-15"
        },
        "smithy.api#documentation": "Get a verified partner.\n\nGet properties of a verified partner.",
        "com.distilled.openapi#apiVersion": "2025-02-15"
      }
    },
    "com.azure.eventgrid#VerifiedPartnersGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified identifier of the resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource."
          }
        },
        "properties": {
          "target": "com.azure.eventgrid#VerifiedPartnerProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the verified partner."
          }
        },
        "systemData": {
          "target": "com.azure.eventgrid#VerifiedPartnersGetResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.eventgrid#VerifiedPartnersGetResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.eventgrid#VerifiedPartnersGetResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.eventgrid#VerifiedPartnersGetResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.eventgrid#VerifiedPartnersGetResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.eventgrid#VerifiedPartnersGetResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.eventgrid#VerifiedPartnersGetRequest": {
      "type": "structure",
      "members": {
        "verifiedPartnerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the verified partner."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.eventgrid#TopicTypesListEventTypes": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventgrid#TopicTypesListEventTypesRequest"
      },
      "output": {
        "target": "com.azure.eventgrid#EventTypesListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.EventGrid/topicTypes/{topicTypeName}/eventTypes",
          "code": 200,
          "apiVersion": "2025-02-15"
        },
        "smithy.api#documentation": "List event types.\n\nList event types for a topic type.",
        "com.distilled.openapi#apiVersion": "2025-02-15"
      }
    },
    "com.azure.eventgrid#EventTypesListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.eventgrid#EventTypesListResultValueList",
          "traits": {
            "smithy.api#documentation": "A collection of event types"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of the List Event Types operation"
      }
    },
    "com.azure.eventgrid#EventTypesListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.eventgrid#EventType"
      },
      "traits": {
        "smithy.api#documentation": "A collection of event types"
      }
    },
    "com.azure.eventgrid#EventType": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified identifier of the resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource."
          }
        },
        "properties": {
          "target": "com.azure.eventgrid#EventTypeProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the event type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Event Type for a subject under a topic"
      }
    },
    "com.azure.eventgrid#EventTypeProperties": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the event type."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the event type."
          }
        },
        "schemaUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the schema for this event type."
          }
        },
        "isInDefaultSet": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "IsInDefaultSet flag of the event type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the event type"
      }
    },
    "com.azure.eventgrid#TopicTypesListEventTypesRequest": {
      "type": "structure",
      "members": {
        "topicTypeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the topic type."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.eventgrid#TopicTypesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventgrid#TopicTypesGetRequest"
      },
      "output": {
        "target": "com.azure.eventgrid#TopicTypesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.EventGrid/topicTypes/{topicTypeName}",
          "code": 200,
          "apiVersion": "2025-02-15"
        },
        "smithy.api#documentation": "Get a topic type.\n\nGet information about a topic type.",
        "com.distilled.openapi#apiVersion": "2025-02-15"
      }
    },
    "com.azure.eventgrid#TopicTypesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified identifier of the resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource."
          }
        },
        "properties": {
          "target": "com.azure.eventgrid#TopicTypeProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the topic type info"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.eventgrid#TopicTypeProperties": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace of the provider of the topic type."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display Name for the topic type."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the topic type."
          }
        },
        "resourceRegionType": {
          "target": "com.azure.eventgrid#TopicTypePropertiesResourceRegionType",
          "traits": {
            "smithy.api#documentation": "Region type of the resource."
          }
        },
        "provisioningState": {
          "target": "com.azure.eventgrid#TopicTypePropertiesProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the topic type."
          }
        },
        "supportedLocations": {
          "target": "com.azure.eventgrid#TopicTypePropertiesSupportedLocationsList",
          "traits": {
            "smithy.api#documentation": "List of locations supported by this topic type."
          }
        },
        "sourceResourceFormat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source resource format."
          }
        },
        "supportedScopesForSource": {
          "target": "com.azure.eventgrid#TopicTypePropertiesSupportedScopesForSourceList",
          "traits": {
            "smithy.api#documentation": "Supported source scopes."
          }
        },
        "areRegionalAndGlobalSourcesSupported": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag to indicate that a topic type can support both regional or global system topics."
          }
        },
        "additionalEnforcedPermissions": {
          "target": "com.azure.eventgrid#TopicTypePropertiesAdditionalEnforcedPermissionsList",
          "traits": {
            "smithy.api#documentation": "Permissions which are enforced for creating and updating system topics of this this topic type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a topic type."
      }
    },
    "com.azure.eventgrid#TopicTypePropertiesAdditionalEnforcedPermissionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.eventgrid#TopicTypeAdditionalEnforcedPermission"
      },
      "traits": {
        "smithy.api#documentation": "Permissions which are enforced for creating and updating system topics of this this topic type."
      }
    },
    "com.azure.eventgrid#TopicTypeAdditionalEnforcedPermission": {
      "type": "structure",
      "members": {
        "permissionName": {
          "target": "smithy.api#String"
        },
        "isDataAction": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.azure.eventgrid#TopicTypePropertiesSupportedScopesForSourceList": {
      "type": "list",
      "member": {
        "target": "com.azure.eventgrid#TopicTypePropertiesSupportedScopesForSourceItem"
      },
      "traits": {
        "smithy.api#documentation": "Supported source scopes."
      }
    },
    "com.azure.eventgrid#TopicTypePropertiesSupportedScopesForSourceItem": {
      "type": "enum",
      "members": {
        "RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Resource"
          }
        },
        "RESOURCEGROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ResourceGroup"
          }
        },
        "AZURESUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureSubscription"
          }
        },
        "MANAGEMENTGROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagementGroup"
          }
        }
      },
      "traits": {}
    },
    "com.azure.eventgrid#TopicTypePropertiesSupportedLocationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of locations supported by this topic type."
      }
    },
    "com.azure.eventgrid#TopicTypePropertiesProvisioningState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provisioning state of the topic type."
      }
    },
    "com.azure.eventgrid#TopicTypePropertiesResourceRegionType": {
      "type": "enum",
      "members": {
        "REGIONALRESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RegionalResource"
          }
        },
        "GLOBALRESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GlobalResource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Region type of the resource."
      }
    },
    "com.azure.eventgrid#TopicTypesGetRequest": {
      "type": "structure",
      "members": {
        "topicTypeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the topic type."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.eventgrid#TopicTypesList": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.azure.eventgrid#TopicTypesListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.EventGrid/topicTypes",
          "code": 200,
          "apiVersion": "2025-02-15"
        },
        "smithy.api#documentation": "List topic types.\n\nList all registered topic types.",
        "com.distilled.openapi#apiVersion": "2025-02-15"
      }
    },
    "com.azure.eventgrid#TopicTypesListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.eventgrid#TopicTypesListResultValueList",
          "traits": {
            "smithy.api#documentation": "A collection of topic types"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of the List Topic Types operation"
      }
    },
    "com.azure.eventgrid#TopicTypesListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.eventgrid#TopicTypeInfo"
      },
      "traits": {
        "smithy.api#documentation": "A collection of topic types"
      }
    },
    "com.azure.eventgrid#TopicTypeInfo": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified identifier of the resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource."
          }
        },
        "properties": {
          "target": "com.azure.eventgrid#TopicTypeProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the topic type info"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a topic type info."
      }
    },
    "com.azure.eventgrid#TopicSpacesListByNamespace": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventgrid#TopicSpacesListByNamespaceRequest"
      },
      "output": {
        "target": "com.azure.eventgrid#TopicSpacesListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/namespaces/{namespaceName}/topicSpaces",
          "code": 200,
          "apiVersion": "2025-02-15"
        },
        "smithy.api#documentation": "List all topic spaces under a namespace.\n\nGet all the topic spaces under a namespace.",
        "com.distilled.openapi#apiVersion": "2025-02-15"
      }
    },
    "com.azure.eventgrid#TopicSpacesListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.eventgrid#TopicSpacesListResultValueList",
          "traits": {
            "smithy.api#documentation": "A collection of Topic Space."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link for the next page of Topic Space."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of the List Topic Space operation."
      }
    },
    "com.azure.eventgrid#TopicSpacesListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.eventgrid#TopicSpace"
      },
      "traits": {
        "smithy.api#documentation": "A collection of Topic Space."
      }
    },
    "com.azure.eventgrid#TopicSpace": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified identifier of the resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource."
          }
        },
        "properties": {
          "target": "com.azure.eventgrid#TopicSpaceProperties",
          "traits": {
            "smithy.api#documentation": "The properties of topic space."
          }
        },
        "systemData": {
          "target": "com.azure.eventgrid#TopicSpaceSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Topic space resource."
      }
    },
    "com.azure.eventgrid#TopicSpaceSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.eventgrid#TopicSpaceSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.eventgrid#TopicSpaceSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.eventgrid#TopicSpaceSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.eventgrid#TopicSpaceSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.eventgrid#TopicSpaceProperties": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description for the Topic Space resource."
          }
        },
        "topicTemplates": {
          "target": "com.azure.eventgrid#TopicSpacePropertiesTopicTemplatesList",
          "traits": {
            "smithy.api#documentation": "The topic filters in the topic space.\r\nExample: \"topicTemplates\": [ \r\n              \"devices/foo/bar\",\r\n              \"devices/topic1/+\",\r\n              \"devices/${principal.name}/${principal.attributes.keyName}\" ]."
          }
        },
        "provisioningState": {
          "target": "com.azure.eventgrid#TopicSpacePropertiesProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the TopicSpace resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of topic space."
      }
    },
    "com.azure.eventgrid#TopicSpacePropertiesProvisioningState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provisioning state of the TopicSpace resource."
      }
    },
    "com.azure.eventgrid#TopicSpacePropertiesTopicTemplatesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The topic filters in the topic space.\r\nExample: \"topicTemplates\": [ \r\n              \"devices/foo/bar\",\r\n              \"devices/topic1/+\",\r\n              \"devices/${principal.name}/${principal.attributes.keyName}\" ]."
      }
    },
    "com.azure.eventgrid#TopicSpacesListByNamespaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group within the user's subscription."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the namespace."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "The query used to filter the search results using OData syntax. Filtering is permitted on the 'name' property only and with limited number of OData operations. These operations are: the 'contains' function as well as the following logical operations: not, and, or, eq (for equal), and ne (for not equal). No arithmetic operations are supported. The following is a valid filter example: $filter=contains(namE, 'PATTERN') and name ne 'PATTERN-1'. The following is not a valid filter example: $filter=location eq 'westus'."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "The number of results to return per page for the list operation. Valid range for top parameter is 1 to 100. If not specified, the default number of results to be returned is 20 items per page."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.eventgrid#TopicSpacesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventgrid#TopicSpacesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/namespaces/{namespaceName}/topicSpaces/{topicSpaceName}",
          "code": 200,
          "apiVersion": "2025-02-15"
        },
        "smithy.api#documentation": "Delete a topic space.\n\nDelete an existing topic space.",
        "com.distilled.openapi#apiVersion": "2025-02-15"
      }
    },
    "com.azure.eventgrid#TopicSpacesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group within the user's subscription."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the namespace."
          }
        },
        "topicSpaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Topic space."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.eventgrid#TopicSpacesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventgrid#TopicSpacesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.eventgrid#TopicSpacesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/namespaces/{namespaceName}/topicSpaces/{topicSpaceName}",
          "code": 200,
          "apiVersion": "2025-02-15"
        },
        "smithy.api#documentation": "Create or update a topic space.\n\nCreate or update a topic space with the specified parameters.",
        "com.distilled.openapi#apiVersion": "2025-02-15"
      }
    },
    "com.azure.eventgrid#TopicSpacesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified identifier of the resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource."
          }
        },
        "properties": {
          "target": "com.azure.eventgrid#TopicSpaceProperties",
          "traits": {
            "smithy.api#documentation": "The properties of topic space."
          }
        },
        "systemData": {
          "target": "com.azure.eventgrid#TopicSpacesCreateOrUpdateResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.eventgrid#TopicSpacesCreateOrUpdateResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.eventgrid#TopicSpacesCreateOrUpdateResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.eventgrid#TopicSpacesCreateOrUpdateResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.eventgrid#TopicSpacesCreateOrUpdateResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.eventgrid#TopicSpacesCreateOrUpdateResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.eventgrid#TopicSpacesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group within the user's subscription."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the namespace."
          }
        },
        "topicSpaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The topic space name."
          }
        },
        "properties": {
          "target": "com.azure.eventgrid#TopicSpacePropertiesInput",
          "traits": {
            "smithy.api#documentation": "The properties of topic space."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.eventgrid#TopicSpacePropertiesInput": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description for the Topic Space resource."
          }
        },
        "topicTemplates": {
          "target": "com.azure.eventgrid#TopicSpacePropertiesInputTopicTemplatesList",
          "traits": {
            "smithy.api#documentation": "The topic filters in the topic space.\r\nExample: \"topicTemplates\": [ \r\n              \"devices/foo/bar\",\r\n              \"devices/topic1/+\",\r\n              \"devices/${principal.name}/${principal.attributes.keyName}\" ]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of topic space."
      }
    },
    "com.azure.eventgrid#TopicSpacePropertiesInputTopicTemplatesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The topic filters in the topic space.\r\nExample: \"topicTemplates\": [ \r\n              \"devices/foo/bar\",\r\n              \"devices/topic1/+\",\r\n              \"devices/${principal.name}/${principal.attributes.keyName}\" ]."
      }
    },
    "com.azure.eventgrid#TopicSpacesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventgrid#TopicSpacesGetRequest"
      },
      "output": {
        "target": "com.azure.eventgrid#TopicSpacesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/namespaces/{namespaceName}/topicSpaces/{topicSpaceName}",
          "code": 200,
          "apiVersion": "2025-02-15"
        },
        "smithy.api#documentation": "Get a topic space.\n\nGet properties of a topic space.",
        "com.distilled.openapi#apiVersion": "2025-02-15"
      }
    },
    "com.azure.eventgrid#TopicSpacesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified identifier of the resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource."
          }
        },
        "properties": {
          "target": "com.azure.eventgrid#TopicSpaceProperties",
          "traits": {
            "smithy.api#documentation": "The properties of topic space."
          }
        },
        "systemData": {
          "target": "com.azure.eventgrid#TopicSpacesGetResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.eventgrid#TopicSpacesGetResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.eventgrid#TopicSpacesGetResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.eventgrid#TopicSpacesGetResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.eventgrid#TopicSpacesGetResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.eventgrid#TopicSpacesGetResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.eventgrid#TopicSpacesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group within the user's subscription."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the namespace."
          }
        },
        "topicSpaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Topic space."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.eventgrid#ExtensionTopicsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventgrid#ExtensionTopicsGetRequest"
      },
      "output": {
        "target": "com.azure.eventgrid#ExtensionTopicsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{scope}/providers/Microsoft.EventGrid/extensionTopics/default",
          "code": 200,
          "apiVersion": "2025-02-15"
        },
        "smithy.api#documentation": "Get properties of an extension topic.\n\nGet the properties of an extension topic.",
        "com.distilled.openapi#apiVersion": "2025-02-15"
      }
    },
    "com.azure.eventgrid#ExtensionTopicsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified identifier of the resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource."
          }
        },
        "properties": {
          "target": "com.azure.eventgrid#ExtensionTopicProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the extension topic."
          }
        },
        "systemData": {
          "target": "com.azure.eventgrid#ExtensionTopicsGetResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.eventgrid#ExtensionTopicsGetResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.eventgrid#ExtensionTopicsGetResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.eventgrid#ExtensionTopicsGetResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.eventgrid#ExtensionTopicsGetResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.eventgrid#ExtensionTopicsGetResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.eventgrid#ExtensionTopicProperties": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the extension topic."
          }
        },
        "systemTopic": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "System topic resource id which is mapped to the source."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the Extension Topic"
      }
    },
    "com.azure.eventgrid#ExtensionTopicsGetRequest": {
      "type": "structure",
      "members": {
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier of the resource to which extension topic is queried. The scope can be a subscription, or a resource group, or a top level resource belonging to a resource provider namespace. For example, use '/subscriptions/{subscriptionId}/' for a subscription, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for a resource group, and '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}' for Azure resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.eventgrid#TopicsListEventTypes": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventgrid#TopicsListEventTypesRequest"
      },
      "output": {
        "target": "com.azure.eventgrid#EventTypesListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{providerNamespace}/{resourceTypeName}/{resourceName}/providers/Microsoft.EventGrid/eventTypes",
          "code": 200,
          "apiVersion": "2025-02-15"
        },
        "smithy.api#documentation": "List topic event types.\n\nList event types for a topic.",
        "com.distilled.openapi#apiVersion": "2025-02-15"
      }
    },
    "com.azure.eventgrid#TopicsListEventTypesRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group within the user's subscription."
          }
        },
        "providerNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Namespace of the provider of the topic."
          }
        },
        "resourceTypeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the topic type."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the topic."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.eventgrid#SystemTopicsListByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventgrid#SystemTopicsListByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.eventgrid#SystemTopicsListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/systemTopics",
          "code": 200,
          "apiVersion": "2025-02-15"
        },
        "smithy.api#documentation": "List system topics under a resource group.\n\nList all the system topics under a resource group.",
        "com.distilled.openapi#apiVersion": "2025-02-15"
      }
    },
    "com.azure.eventgrid#SystemTopicsListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.eventgrid#SystemTopicsListResultValueList",
          "traits": {
            "smithy.api#documentation": "A collection of system Topics."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link for the next page of topics."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of the List System topics operation."
      }
    },
    "com.azure.eventgrid#SystemTopicsListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.eventgrid#SystemTopic"
      },
      "traits": {
        "smithy.api#documentation": "A collection of system Topics."
      }
    },
    "com.azure.eventgrid#SystemTopic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified identifier of the resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the resource.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.azure.eventgrid#SystemTopicTagsMap",
          "traits": {
            "smithy.api#documentation": "Tags of the resource."
          }
        },
        "properties": {
          "target": "com.azure.eventgrid#SystemTopicProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the system topic."
          }
        },
        "systemData": {
          "target": "com.azure.eventgrid#SystemTopicSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "identity": {
          "target": "com.azure.eventgrid#IdentityInfo",
          "traits": {
            "smithy.api#documentation": "Identity information for the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "EventGrid System Topic."
      }
    },
    "com.azure.eventgrid#IdentityInfo": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.eventgrid#IdentityInfoType",
          "traits": {
            "smithy.api#documentation": "The type of managed identity used. The type 'SystemAssigned, UserAssigned' includes both an implicitly created identity and a set of user-assigned identities. The type 'None' will remove any identity."
          }
        },
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of resource identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of resource."
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.eventgrid#IdentityInfoUserAssignedIdentitiesMap",
          "traits": {
            "smithy.api#documentation": "The list of user identities associated with the resource. The user identity dictionary key references will be ARM resource ids in the form:\r\n'/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'.\r\nThis property is currently not used and reserved for future usage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The identity information for the resource."
      }
    },
    "com.azure.eventgrid#IdentityInfoUserAssignedIdentitiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.eventgrid#UserIdentityProperties"
      },
      "traits": {
        "smithy.api#documentation": "The list of user identities associated with the resource. The user identity dictionary key references will be ARM resource ids in the form:\r\n'/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'.\r\nThis property is currently not used and reserved for future usage."
      }
    },
    "com.azure.eventgrid#UserIdentityProperties": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal id of user assigned identity."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client id of user assigned identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The information about the user identity."
      }
    },
    "com.azure.eventgrid#IdentityInfoType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        },
        "SYSTEMASSIGNED_USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned, UserAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of managed identity used. The type 'SystemAssigned, UserAssigned' includes both an implicitly created identity and a set of user-assigned identities. The type 'None' will remove any identity."
      }
    },
    "com.azure.eventgrid#SystemTopicSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.eventgrid#SystemTopicSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.eventgrid#SystemTopicSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.eventgrid#SystemTopicSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.eventgrid#SystemTopicSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.eventgrid#SystemTopicProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.eventgrid#SystemTopicPropertiesProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the system topic."
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source for the system topic."
          }
        },
        "topicType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TopicType for the system topic."
          }
        },
        "metricResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Metric resource id for the system topic."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the System Topic."
      }
    },
    "com.azure.eventgrid#SystemTopicPropertiesProvisioningState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provisioning state of the system topic."
      }
    },
    "com.azure.eventgrid#SystemTopicTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tags of the resource."
      }
    },
    "com.azure.eventgrid#SystemTopicsListByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group within the user's subscription."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "The query used to filter the search results using OData syntax. Filtering is permitted on the 'name' property only and with limited number of OData operations. These operations are: the 'contains' function as well as the following logical operations: not, and, or, eq (for equal), and ne (for not equal). No arithmetic operations are supported. The following is a valid filter example: $filter=contains(namE, 'PATTERN') and name ne 'PATTERN-1'. The following is not a valid filter example: $filter=location eq 'westus'."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "The number of results to return per page for the list operation. Valid range for top parameter is 1 to 100. If not specified, the default number of results to be returned is 20 items per page."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.eventgrid#SystemTopicsListBySubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventgrid#SystemTopicsListBySubscriptionRequest"
      },
      "output": {
        "target": "com.azure.eventgrid#SystemTopicsListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/systemTopics",
          "code": 200,
          "apiVersion": "2025-02-15"
        },
        "smithy.api#documentation": "List system topics under an Azure subscription.\n\nList all the system topics under an Azure subscription.",
        "com.distilled.openapi#apiVersion": "2025-02-15"
      }
    },
    "com.azure.eventgrid#SystemTopicsListBySubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "The query used to filter the search results using OData syntax. Filtering is permitted on the 'name' property only and with limited number of OData operations. These operations are: the 'contains' function as well as the following logical operations: not, and, or, eq (for equal), and ne (for not equal). No arithmetic operations are supported. The following is a valid filter example: $filter=contains(namE, 'PATTERN') and name ne 'PATTERN-1'. The following is not a valid filter example: $filter=location eq 'westus'."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "The number of results to return per page for the list operation. Valid range for top parameter is 1 to 100. If not specified, the default number of results to be returned is 20 items per page."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.eventgrid#SystemTopicsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventgrid#SystemTopicsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/systemTopics/{systemTopicName}",
          "code": 200,
          "apiVersion": "2025-02-15"
        },
        "smithy.api#documentation": "Delete a system topic.\n\nDelete existing system topic.",
        "com.distilled.openapi#apiVersion": "2025-02-15"
      }
    },
    "com.azure.eventgrid#SystemTopicsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group within the user's subscription."
          }
        },
        "systemTopicName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the system topic."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.eventgrid#SystemTopicsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.eventgrid#SystemTopicsUpdateRequest"
      },
      "output": {
        "target": "com.azure.eventgrid#SystemTopicsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/systemTopics/{systemTopicName}",
          "code": 200,
          "apiVersion": "2025-02-15"
        },
        "smithy.api#documentation": "Update a system topic.\n\nAsynchronously updates a system topic with the specified parameters.",
        "com.distilled.openapi#apiVersion": "2025-02-15"
      }
    },
    "com.azure.eventgrid#SystemTopicsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified identifier of the resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
[...]
