{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.extendedlocation#CustomLocationsListEnabledResourceTypes": {
      "type": "operation",
      "input": {
        "target": "com.azure.extendedlocation#CustomLocationsListEnabledResourceTypesRequest"
      },
      "output": {
        "target": "com.azure.extendedlocation#EnabledResourceTypesListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ExtendedLocation/customLocations/{resourceName}/enabledResourceTypes",
          "code": 200,
          "apiVersion": "2021-08-15"
        },
        "smithy.api#documentation": "Gets the list of Enabled Resource Types.\n\nGets the list of the Enabled Resource Types.",
        "com.distilled.openapi#apiVersion": "2021-08-15"
      }
    },
    "com.azure.extendedlocation#EnabledResourceTypesListResult": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to use for getting the next set of results."
          }
        },
        "value": {
          "target": "com.azure.extendedlocation#EnabledResourceTypesListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of EnabledResourceTypes available for a customLocation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of EnabledResourceTypes definition."
      }
    },
    "com.azure.extendedlocation#EnabledResourceTypesListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.extendedlocation#EnabledResourceType"
      },
      "traits": {
        "smithy.api#documentation": "The list of EnabledResourceTypes available for a customLocation."
      }
    },
    "com.azure.extendedlocation#EnabledResourceType": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.extendedlocation#EnabledResourceTypeProperties",
          "traits": {
            "smithy.api#documentation": "The set of properties for EnabledResourceType specific to a Custom Location"
          }
        },
        "systemData": {
          "target": "com.azure.extendedlocation#EnabledResourceTypeSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "EnabledResourceType definition."
      }
    },
    "com.azure.extendedlocation#EnabledResourceTypeSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.extendedlocation#EnabledResourceTypeSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.extendedlocation#EnabledResourceTypeSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.extendedlocation#EnabledResourceTypeSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.extendedlocation#EnabledResourceTypeSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.extendedlocation#EnabledResourceTypeProperties": {
      "type": "structure",
      "members": {
        "clusterExtensionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cluster Extension ID"
          }
        },
        "extensionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cluster Extension Type"
          }
        },
        "typesMetadata": {
          "target": "com.azure.extendedlocation#EnabledResourceTypePropertiesTypesMetadataList",
          "traits": {
            "smithy.api#documentation": "Metadata of the Resource Type"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties for EnabledResourceType of a custom location."
      }
    },
    "com.azure.extendedlocation#EnabledResourceTypePropertiesTypesMetadataList": {
      "type": "list",
      "member": {
        "target": "com.azure.extendedlocation#EnabledResourceTypePropertiesTypesMetadataItem"
      },
      "traits": {
        "smithy.api#documentation": "Metadata of the Resource Type"
      }
    },
    "com.azure.extendedlocation#EnabledResourceTypePropertiesTypesMetadataItem": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Api Version of Resource Type"
          }
        },
        "resourceProviderNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Provider Namespace of Resource Type"
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Type"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata of the Resource Type."
      }
    },
    "com.azure.extendedlocation#CustomLocationsListEnabledResourceTypesRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Custom Locations name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.extendedlocation#CustomLocationsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.extendedlocation#CustomLocationsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ExtendedLocation/customLocations/{resourceName}",
          "code": 200,
          "apiVersion": "2021-08-15"
        },
        "smithy.api#documentation": "Deletes a Custom Location.\n\nDeletes the Custom Location with the specified Resource Name, Resource Group, and Subscription Id.",
        "com.distilled.openapi#apiVersion": "2021-08-15"
      }
    },
    "com.azure.extendedlocation#CustomLocationsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Custom Locations name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.extendedlocation#CustomLocationsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.extendedlocation#CustomLocationsUpdateRequest"
      },
      "output": {
        "target": "com.azure.extendedlocation#CustomLocationsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ExtendedLocation/customLocations/{resourceName}",
          "code": 200,
          "apiVersion": "2021-08-15"
        },
        "smithy.api#documentation": "Updates a Custom Location.\n\nUpdates a Custom Location with the specified Resource Name in the specified Resource Group and Subscription.",
        "com.distilled.openapi#apiVersion": "2021-08-15"
      }
    },
    "com.azure.extendedlocation#CustomLocationsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "tags": {
          "target": "com.azure.extendedlocation#CustomLocationsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "identity": {
          "target": "com.azure.extendedlocation#Identity",
          "traits": {
            "smithy.api#documentation": "Identity for the resource."
          }
        },
        "properties": {
          "target": "com.azure.extendedlocation#CustomLocationProperties",
          "traits": {
            "smithy.api#documentation": "The set of properties specific to a Custom Location"
          }
        },
        "systemData": {
          "target": "com.azure.extendedlocation#CustomLocationsUpdateResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.extendedlocation#CustomLocationsUpdateResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.extendedlocation#CustomLocationsUpdateResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.extendedlocation#CustomLocationsUpdateResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.extendedlocation#CustomLocationsUpdateResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.extendedlocation#CustomLocationsUpdateResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.extendedlocation#CustomLocationProperties": {
      "type": "structure",
      "members": {
        "authentication": {
          "target": "com.azure.extendedlocation#CustomLocationPropertiesAuthentication",
          "traits": {
            "smithy.api#documentation": "This is optional input that contains the authentication that should be used to generate the namespace."
          }
        },
        "clusterExtensionIds": {
          "target": "com.azure.extendedlocation#CustomLocationPropertiesClusterExtensionIdsList",
          "traits": {
            "smithy.api#documentation": "Contains the reference to the add-on that contains charts to deploy CRDs and operators."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the Custom Locations location."
          }
        },
        "hostResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connected Cluster or AKS Cluster. The Custom Locations RP will perform a checkAccess API for listAdminCredentials permissions."
          }
        },
        "hostType": {
          "target": "com.azure.extendedlocation#CustomLocationPropertiesHostType",
          "traits": {
            "smithy.api#documentation": "Type of host the Custom Locations is referencing (Kubernetes, etc...)."
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kubernetes namespace that will be created on the specified cluster."
          }
        },
        "provisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provisioning State for the Custom Location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties for a custom location."
      }
    },
    "com.azure.extendedlocation#CustomLocationPropertiesHostType": {
      "type": "enum",
      "members": {
        "KUBERNETES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Kubernetes"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of host the Custom Locations is referencing (Kubernetes, etc...)."
      }
    },
    "com.azure.extendedlocation#CustomLocationPropertiesClusterExtensionIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Contains the reference to the add-on that contains charts to deploy CRDs and operators."
      }
    },
    "com.azure.extendedlocation#CustomLocationPropertiesAuthentication": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the Custom Locations authentication"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kubeconfig value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This is optional input that contains the authentication that should be used to generate the namespace."
      }
    },
    "com.azure.extendedlocation#Identity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of resource identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of resource."
          }
        },
        "type": {
          "target": "com.azure.extendedlocation#IdentityType",
          "traits": {
            "smithy.api#documentation": "The identity type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity for the resource."
      }
    },
    "com.azure.extendedlocation#IdentityType": {
      "type": "enum",
      "members": {
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The identity type."
      }
    },
    "com.azure.extendedlocation#CustomLocationsUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.extendedlocation#CustomLocationsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Custom Locations name."
          }
        },
        "identity": {
          "target": "com.azure.extendedlocation#IdentityInput",
          "traits": {
            "smithy.api#documentation": "Identity for the resource."
          }
        },
        "properties": {
          "target": "com.azure.extendedlocation#CustomLocationProperties",
          "traits": {
            "smithy.api#documentation": "The Custom Locations patchable properties."
          }
        },
        "tags": {
          "target": "com.azure.extendedlocation#CustomLocationsUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.extendedlocation#CustomLocationsUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags"
      }
    },
    "com.azure.extendedlocation#IdentityInput": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.extendedlocation#IdentityInputType",
          "traits": {
            "smithy.api#documentation": "The identity type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity for the resource."
      }
    },
    "com.azure.extendedlocation#IdentityInputType": {
      "type": "enum",
      "members": {
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The identity type."
      }
    },
    "com.azure.extendedlocation#CustomLocationsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.extendedlocation#CustomLocationsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.extendedlocation#CustomLocationsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ExtendedLocation/customLocations/{resourceName}",
          "code": 200,
          "apiVersion": "2021-08-15"
        },
        "smithy.api#documentation": "Creates or updates a Custom Location.\n\nCreates or updates a Custom Location in the specified Subscription and Resource Group",
        "com.distilled.openapi#apiVersion": "2021-08-15"
      }
    },
    "com.azure.extendedlocation#CustomLocationsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "tags": {
          "target": "com.azure.extendedlocation#CustomLocationsCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "identity": {
          "target": "com.azure.extendedlocation#Identity",
          "traits": {
            "smithy.api#documentation": "Identity for the resource."
          }
        },
        "properties": {
          "target": "com.azure.extendedlocation#CustomLocationProperties",
          "traits": {
            "smithy.api#documentation": "The set of properties specific to a Custom Location"
          }
        },
        "systemData": {
          "target": "com.azure.extendedlocation#CustomLocationsCreateOrUpdateResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.extendedlocation#CustomLocationsCreateOrUpdateResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.extendedlocation#CustomLocationsCreateOrUpdateResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.extendedlocation#CustomLocationsCreateOrUpdateResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.extendedlocation#CustomLocationsCreateOrUpdateResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.extendedlocation#CustomLocationsCreateOrUpdateResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.extendedlocation#CustomLocationsCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.extendedlocation#CustomLocationsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Custom Locations name."
          }
        },
        "tags": {
          "target": "com.azure.extendedlocation#CustomLocationsCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "identity": {
          "target": "com.azure.extendedlocation#IdentityInput",
          "traits": {
            "smithy.api#documentation": "Identity for the resource."
          }
        },
        "properties": {
          "target": "com.azure.extendedlocation#CustomLocationProperties",
          "traits": {
            "smithy.api#documentation": "The set of properties specific to a Custom Location"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.extendedlocation#CustomLocationsCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.extendedlocation#CustomLocationsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.extendedlocation#CustomLocationsGetRequest"
      },
      "output": {
        "target": "com.azure.extendedlocation#CustomLocationsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ExtendedLocation/customLocations/{resourceName}",
          "code": 200,
          "apiVersion": "2021-08-15"
        },
        "smithy.api#documentation": "Gets a Custom Location.\n\nGets the details of the customLocation with a specified resource group and name.",
        "com.distilled.openapi#apiVersion": "2021-08-15"
      }
    },
    "com.azure.extendedlocation#CustomLocationsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "tags": {
          "target": "com.azure.extendedlocation#CustomLocationsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "identity": {
          "target": "com.azure.extendedlocation#Identity",
          "traits": {
            "smithy.api#documentation": "Identity for the resource."
          }
        },
        "properties": {
          "target": "com.azure.extendedlocation#CustomLocationProperties",
          "traits": {
            "smithy.api#documentation": "The set of properties specific to a Custom Location"
          }
        },
        "systemData": {
          "target": "com.azure.extendedlocation#CustomLocationsGetResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.extendedlocation#CustomLocationsGetResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.extendedlocation#CustomLocationsGetResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.extendedlocation#CustomLocationsGetResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.extendedlocation#CustomLocationsGetResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.extendedlocation#CustomLocationsGetResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.extendedlocation#CustomLocationsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.extendedlocation#CustomLocationsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Custom Locations name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.extendedlocation#CustomLocationsListByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.extendedlocation#CustomLocationsListByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.extendedlocation#CustomLocationListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ExtendedLocation/customLocations",
          "code": 200,
          "apiVersion": "2021-08-15"
        },
        "smithy.api#documentation": "Gets a list of Custom Locations in the specified subscription and resource group.\n\nGets a list of Custom Locations in the specified subscription and resource group. The operation returns properties of each Custom Location.",
        "com.distilled.openapi#apiVersion": "2021-08-15"
      }
    },
    "com.azure.extendedlocation#CustomLocationListResult": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to use for getting the next set of results."
          }
        },
        "value": {
          "target": "com.azure.extendedlocation#CustomLocationListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of Custom Locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The List Custom Locations operation response."
      }
    },
    "com.azure.extendedlocation#CustomLocationListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.extendedlocation#CustomLocation"
      },
      "traits": {
        "smithy.api#documentation": "The list of Custom Locations."
      }
    },
    "com.azure.extendedlocation#CustomLocation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "tags": {
          "target": "com.azure.extendedlocation#CustomLocationTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "identity": {
          "target": "com.azure.extendedlocation#Identity",
          "traits": {
            "smithy.api#documentation": "Identity for the resource."
          }
        },
        "properties": {
          "target": "com.azure.extendedlocation#CustomLocationProperties",
          "traits": {
            "smithy.api#documentation": "The set of properties specific to a Custom Location"
          }
        },
        "systemData": {
          "target": "com.azure.extendedlocation#CustomLocationSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Custom Locations definition."
      }
    },
    "com.azure.extendedlocation#CustomLocationSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.extendedlocation#CustomLocationSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.extendedlocation#CustomLocationSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.extendedlocation#CustomLocationSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.extendedlocation#CustomLocationSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.extendedlocation#CustomLocationTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.extendedlocation#CustomLocationsListByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.extendedlocation#CustomLocationsListBySubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.extendedlocation#CustomLocationsListBySubscriptionRequest"
      },
      "output": {
        "target": "com.azure.extendedlocation#CustomLocationListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ExtendedLocation/customLocations",
          "code": 200,
          "apiVersion": "2021-08-15"
        },
        "smithy.api#documentation": "Gets a list of Custom Locations in a subscription.\n\nGets a list of Custom Locations in the specified subscription. The operation returns properties of each Custom Location",
        "com.distilled.openapi#apiVersion": "2021-08-15"
      }
    },
    "com.azure.extendedlocation#CustomLocationsListBySubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.extendedlocation#CustomLocationsListOperations": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.azure.extendedlocation#CustomLocationOperationsList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.ExtendedLocation/operations",
          "code": 200,
          "apiVersion": "2021-08-15"
        },
        "smithy.api#documentation": "Lists all available Custom Locations operations.",
        "com.distilled.openapi#apiVersion": "2021-08-15"
      }
    },
    "com.azure.extendedlocation#CustomLocationOperationsList": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next page of operations."
          }
        },
        "value": {
          "target": "com.azure.extendedlocation#CustomLocationOperationsListValueList",
          "traits": {
            "smithy.api#documentation": "Array of customLocationOperation",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Lists of Custom Locations operations."
      }
    },
    "com.azure.extendedlocation#CustomLocationOperationsListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.extendedlocation#CustomLocationOperation"
      },
      "traits": {
        "smithy.api#documentation": "Array of customLocationOperation"
      }
    },
    "com.azure.extendedlocation#CustomLocationOperation": {
      "type": "structure",
      "members": {
        "display": {
          "target": "com.azure.extendedlocation#CustomLocationOperationValueDisplay",
          "traits": {
            "smithy.api#documentation": "Describes the properties of a Custom Locations Operation Value Display."
          }
        },
        "isDataAction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is this Operation a data plane operation"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the compute operation."
          }
        },
        "origin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The origin of the compute operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Custom Locations operation."
      }
    },
    "com.azure.extendedlocation#CustomLocationOperationValueDisplay": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the operation."
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the compute operation."
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource provider for the operation."
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the resource the operation applies to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the properties of a Custom Locations Operation Value Display."
      }
    },
    "com.azure.extendedlocation#Extendedlocation": {
      "type": "service",
      "version": "1.0",
      "operations": [
        {
          "target": "com.azure.extendedlocation#CustomLocationsListEnabledResourceTypes"
        },
        {
          "target": "com.azure.extendedlocation#CustomLocationsDelete"
        },
        {
          "target": "com.azure.extendedlocation#CustomLocationsUpdate"
        },
        {
          "target": "com.azure.extendedlocation#CustomLocationsCreateOrUpdate"
        },
        {
          "target": "com.azure.extendedlocation#CustomLocationsGet"
        },
        {
          "target": "com.azure.extendedlocation#CustomLocationsListByResourceGroup"
        },
        {
          "target": "com.azure.extendedlocation#CustomLocationsListBySubscription"
        },
        {
          "target": "com.azure.extendedlocation#CustomLocationsListOperations"
        }
      ],
      "traits": {
        "smithy.api#title": "Azure Extendedlocation",
        "smithy.api#documentation": "Azure Extendedlocation API — merged from the extendedlocation resource-manager specs (latest stable api-version per resource provider)."
      }
    }
  }
}
