{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.fileshares#PrivateLinkResourcesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.fileshares#PrivateLinkResourcesGetRequest"
      },
      "output": {
        "target": "com.azure.fileshares#PrivateLinkResourcesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.FileShares/fileShares/{resourceName}/privateLinkResources/{privateLinkResourceName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Gets the private link resources that need to be created for a file share.",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.fileshares#PrivateLinkResourcesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.fileshares#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.fileshares#PrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.fileshares#PrivateLinkResourceProperties": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The private link resource group id."
          }
        },
        "requiredMembers": {
          "target": "com.azure.fileshares#PrivateLinkResourcePropertiesRequiredMembersList",
          "traits": {
            "smithy.api#documentation": "The private link resource required member names."
          }
        },
        "requiredZoneNames": {
          "target": "com.azure.fileshares#PrivateLinkResourcePropertiesRequiredZoneNamesList",
          "traits": {
            "smithy.api#documentation": "The private link resource private link DNS zone name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a private link resource."
      }
    },
    "com.azure.fileshares#PrivateLinkResourcePropertiesRequiredZoneNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The private link resource private link DNS zone name."
      }
    },
    "com.azure.fileshares#PrivateLinkResourcePropertiesRequiredMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The private link resource required member names."
      }
    },
    "com.azure.fileshares#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.fileshares#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.fileshares#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.fileshares#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.fileshares#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.fileshares#PrivateLinkResourcesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource name of the file share, as seen by the administrator through Azure Resource Manager."
          }
        },
        "privateLinkResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private link resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.fileshares#PrivateLinkResourcesList": {
      "type": "operation",
      "input": {
        "target": "com.azure.fileshares#PrivateLinkResourcesListRequest"
      },
      "output": {
        "target": "com.azure.fileshares#PrivateLinkResourceListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.FileShares/fileShares/{resourceName}/privateLinkResources",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Gets the private link resources that need to be created for a file share.",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.fileshares#PrivateLinkResourceListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.fileshares#PrivateLinkResourceListResultValueList",
          "traits": {
            "smithy.api#documentation": "The PrivateLinkResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of private link resources."
      }
    },
    "com.azure.fileshares#PrivateLinkResourceListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.fileshares#PrivateLinkResource"
      },
      "traits": {
        "smithy.api#documentation": "The PrivateLinkResource items on this page"
      }
    },
    "com.azure.fileshares#PrivateLinkResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.fileshares#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.fileshares#PrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A private link resource."
      }
    },
    "com.azure.fileshares#PrivateLinkResourcesListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource name of the file share, as seen by the administrator through Azure Resource Manager."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.fileshares#PrivateEndpointConnectionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.fileshares#PrivateEndpointConnectionsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.FileShares/fileShares/{resourceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Deletes the specified private endpoint connection associated with the file share.",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.fileshares#PrivateEndpointConnectionsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource name of the file share, as seen by the administrator through Azure Resource Manager."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection associated with the Azure resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.fileshares#PrivateEndpointConnectionsCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.fileshares#PrivateEndpointConnectionsCreateRequest"
      },
      "output": {
        "target": "com.azure.fileshares#PrivateEndpointConnectionsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.FileShares/fileShares/{resourceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Update the state of specified private endpoint connection associated with the file share.",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.fileshares#PrivateEndpointConnectionsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.fileshares#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.fileshares#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.fileshares#PrivateEndpointConnectionProperties": {
      "type": "structure",
      "members": {
        "groupIds": {
          "target": "com.azure.fileshares#PrivateEndpointConnectionPropertiesGroupIdsList",
          "traits": {
            "smithy.api#documentation": "The group ids for the private endpoint resource."
          }
        },
        "privateEndpoint": {
          "target": "com.azure.fileshares#PrivateEndpoint",
          "traits": {
            "smithy.api#documentation": "The private endpoint resource."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.fileshares#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.fileshares#PrivateEndpointConnectionProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the private endpoint connection resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the private endpoint connection."
      }
    },
    "com.azure.fileshares#PrivateEndpointConnectionProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current provisioning state."
      }
    },
    "com.azure.fileshares#PrivateLinkServiceConnectionState": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.fileshares#PrivateEndpointServiceConnectionStatus",
          "traits": {
            "smithy.api#documentation": "Indicates whether the connection has been Approved/Rejected/Removed by the owner of the service."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason for approval/rejection of the connection."
          }
        },
        "actionsRequired": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A message indicating if changes on the service provider require any updates on the consumer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider."
      }
    },
    "com.azure.fileshares#PrivateEndpointServiceConnectionStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint connection status."
      }
    },
    "com.azure.fileshares#PrivateEndpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ARM identifier for private endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint resource."
      }
    },
    "com.azure.fileshares#PrivateEndpointConnectionPropertiesGroupIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The group ids for the private endpoint resource."
      }
    },
    "com.azure.fileshares#PrivateEndpointConnectionsCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource name of the file share, as seen by the administrator through Azure Resource Manager."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection associated with the Azure resource."
          }
        },
        "properties": {
          "target": "com.azure.fileshares#PrivateEndpointConnectionPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.fileshares#PrivateEndpointConnectionPropertiesInput": {
      "type": "structure",
      "members": {
        "privateEndpoint": {
          "target": "com.azure.fileshares#PrivateEndpointInput",
          "traits": {
            "smithy.api#documentation": "The private endpoint resource."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.fileshares#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the private endpoint connection."
      }
    },
    "com.azure.fileshares#PrivateEndpointInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The private endpoint resource."
      }
    },
    "com.azure.fileshares#PrivateEndpointConnectionsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.fileshares#PrivateEndpointConnectionsGetRequest"
      },
      "output": {
        "target": "com.azure.fileshares#PrivateEndpointConnectionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.FileShares/fileShares/{resourceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Gets the specified private endpoint connection associated with the file share.",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.fileshares#PrivateEndpointConnectionsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.fileshares#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.fileshares#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.fileshares#PrivateEndpointConnectionsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource name of the file share, as seen by the administrator through Azure Resource Manager."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection associated with the Azure resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.fileshares#PrivateEndpointConnectionsListByFileShare": {
      "type": "operation",
      "input": {
        "target": "com.azure.fileshares#PrivateEndpointConnectionsListByFileShareRequest"
      },
      "output": {
        "target": "com.azure.fileshares#PrivateEndpointConnectionListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.FileShares/fileShares/{resourceName}/privateEndpointConnections",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Get a PrivateEndpointConnection List.",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.fileshares#PrivateEndpointConnectionListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.fileshares#PrivateEndpointConnectionListResultValueList",
          "traits": {
            "smithy.api#documentation": "The PrivateEndpointConnection items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a PrivateEndpointConnection list operation."
      }
    },
    "com.azure.fileshares#PrivateEndpointConnectionListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.fileshares#PrivateEndpointConnectionListResultValueItem"
      },
      "traits": {
        "smithy.api#documentation": "The PrivateEndpointConnection items on this page"
      }
    },
    "com.azure.fileshares#PrivateEndpointConnectionListResultValueItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.fileshares#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.fileshares#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint connection resource."
      }
    },
    "com.azure.fileshares#PrivateEndpointConnectionsListByFileShareRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource name of the file share, as seen by the administrator through Azure Resource Manager."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.fileshares#FileShareSnapshotDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.fileshares#FileShareSnapshotDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.FileShares/fileShares/{resourceName}/fileShareSnapshots/{name}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Delete a FileShareSnapshot.",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.fileshares#FileShareSnapshotDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource name of the file share, as seen by the administrator through Azure Resource Manager."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the FileShareSnapshot"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.fileshares#FileShareSnapshotUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.fileshares#FileShareSnapshotUpdateRequest"
      },
      "output": {
        "target": "com.azure.fileshares#FileShareSnapshotUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.FileShares/fileShares/{resourceName}/fileShareSnapshots/{name}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Update a FileShareSnapshot.",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.fileshares#FileShareSnapshotUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.fileshares#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.fileshares#FileShareSnapshotProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.fileshares#FileShareSnapshotProperties": {
      "type": "structure",
      "members": {
        "snapshotTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The FileShareSnapshot time in UTC in string representation"
          }
        },
        "initiatorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The initiator of the FileShareSnapshot. This is a user-defined value."
          }
        },
        "metadata": {
          "target": "com.azure.fileshares#FileShareSnapshotPropertiesMetadataMap",
          "traits": {
            "smithy.api#documentation": "The metadata"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "FileShareSnapshot properties"
      }
    },
    "com.azure.fileshares#FileShareSnapshotPropertiesMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The metadata"
      }
    },
    "com.azure.fileshares#FileShareSnapshotUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource name of the file share, as seen by the administrator through Azure Resource Manager."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the FileShareSnapshot"
          }
        },
        "properties": {
          "target": "com.azure.fileshares#FileShareSnapshotUpdateProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.fileshares#FileShareSnapshotUpdateProperties": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.azure.fileshares#FileShareSnapshotUpdatePropertiesMetadataMap",
          "traits": {
            "smithy.api#documentation": "The metadata"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The updatable properties of the FileShareSnapshot."
      }
    },
    "com.azure.fileshares#FileShareSnapshotUpdatePropertiesMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The metadata"
      }
    },
    "com.azure.fileshares#FileShareSnapshotCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.fileshares#FileShareSnapshotCreateOrUpdateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.FileShares/fileShares/{resourceName}/fileShareSnapshots/{name}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Create a FileShareSnapshot.",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.fileshares#FileShareSnapshotCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource name of the file share, as seen by the administrator through Azure Resource Manager."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the FileShareSnapshot"
          }
        },
        "properties": {
          "target": "com.azure.fileshares#FileShareSnapshotPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.fileshares#FileShareSnapshotPropertiesInput": {
      "type": "structure",
      "members": {
        "initiatorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The initiator of the FileShareSnapshot. This is a user-defined value."
          }
        },
        "metadata": {
          "target": "com.azure.fileshares#FileShareSnapshotPropertiesInputMetadataMap",
          "traits": {
            "smithy.api#documentation": "The metadata"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "FileShareSnapshot properties"
      }
    },
    "com.azure.fileshares#FileShareSnapshotPropertiesInputMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The metadata"
      }
    },
    "com.azure.fileshares#FileShareSnapshotGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.fileshares#FileShareSnapshotGetRequest"
      },
      "output": {
        "target": "com.azure.fileshares#FileShareSnapshotGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.FileShares/fileShares/{resourceName}/fileShareSnapshots/{name}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Get a FileShareSnapshot",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.fileshares#FileShareSnapshotGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.fileshares#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.fileshares#FileShareSnapshotProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.fileshares#FileShareSnapshotGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource name of the file share, as seen by the administrator through Azure Resource Manager."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the FileShareSnapshot"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.fileshares#FileShareSnapshotList": {
      "type": "operation",
      "input": {
        "target": "com.azure.fileshares#FileShareSnapshotListRequest"
      },
      "output": {
        "target": "com.azure.fileshares#FileShareSnapshotListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.FileShares/fileShares/{resourceName}/fileShareSnapshots",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "List FileShareSnapshot by FileShare.",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.fileshares#FileShareSnapshotListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.fileshares#FileShareSnapshotListResultValueList",
          "traits": {
            "smithy.api#documentation": "The FileShareSnapshot items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a FileShareSnapshot list operation."
      }
    },
    "com.azure.fileshares#FileShareSnapshotListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.fileshares#FileShareSnapshot"
      },
      "traits": {
        "smithy.api#documentation": "The FileShareSnapshot items on this page"
      }
    },
    "com.azure.fileshares#FileShareSnapshot": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.fileshares#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.fileshares#FileShareSnapshotProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "FileShareSnapshot resource"
      }
    },
    "com.azure.fileshares#FileShareSnapshotListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource name of the file share, as seen by the administrator through Azure Resource Manager."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.fileshares#FileSharesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.fileshares#FileSharesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.FileShares/fileShares/{resourceName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Delete a FileShare",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.fileshares#FileSharesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource name of the file share, as seen by the administrator through Azure Resource Manager."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.fileshares#FileSharesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.fileshares#FileSharesUpdateRequest"
      },
      "output": {
        "target": "com.azure.fileshares#FileSharesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.FileShares/fileShares/{resourceName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Update a FileShare",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.fileshares#FileSharesUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.fileshares#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.fileshares#FileSharesUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.fileshares#FileShareProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.fileshares#FileShareProperties": {
      "type": "structure",
      "members": {
        "mountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the file share as seen by the end user when mounting the share, such as in a URI or UNC format in their operating system."
          }
        },
        "hostName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The host name of the file share."
          }
        },
        "mediaTier": {
          "target": "com.azure.fileshares#MediaTier",
          "traits": {
            "smithy.api#documentation": "The storage media tier of the file share."
          }
        },
        "redundancy": {
          "target": "com.azure.fileshares#Redundancy",
          "traits": {
            "smithy.api#documentation": "The chosen redundancy level of the file share."
          }
        },
        "protocol": {
          "target": "com.azure.fileshares#Protocol",
          "traits": {
            "smithy.api#documentation": "The file sharing protocol for this file share."
          }
        },
        "provisionedStorageGiB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The provisioned storage size of the share in GiB (1 GiB is 1024^3 bytes or 1073741824 bytes). A component of the file share's bill is the provisioned storage, regardless of the amount of used storage."
          }
        },
        "provisionedStorageNextAllowedDowngrade": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A date/time value that specifies when the provisioned storage for the file share is permitted to be reduced."
          }
        },
        "provisionedIOPerSec": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The provisioned IO / sec of the share."
          }
        },
        "provisionedIOPerSecNextAllowedDowngrade": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A date/time value that specifies when the provisioned IOPS for the file share is permitted to be reduced."
          }
        },
        "provisionedThroughputMiBPerSec": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The provisioned throughput / sec of the share."
          }
        },
        "provisionedThroughputNextAllowedDowngrade": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A date/time value that specifies when the provisioned throughput for the file share is permitted to be reduced."
          }
        },
        "includedBurstIOPerSec": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Burst IOPS are extra buffer IOPS enabling you to consume more than your provisioned IOPS for a short period of time, depending on the burst credits available for your share."
          }
        },
        "maxBurstIOPerSecCredits": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Max burst IOPS credits shows the maximum number of burst credits the share can have at the current IOPS provisioning level."
          }
        },
        "nfsProtocolProperties": {
          "target": "com.azure.fileshares#NfsProtocolProperties",
          "traits": {
            "smithy.api#documentation": "Protocol settings specific NFS."
          }
        },
        "publicAccessProperties": {
          "target": "com.azure.fileshares#PublicAccessProperties",
          "traits": {
            "smithy.api#documentation": "The set of properties for control public access."
          }
        },
        "provisioningState": {
          "target": "com.azure.fileshares#FileShareProvisioningState",
          "traits": {
            "smithy.api#documentation": "The status of the last operation."
          }
        },
        "publicNetworkAccess": {
          "target": "com.azure.fileshares#PublicNetworkAccess",
          "traits": {
            "smithy.api#documentation": "Gets or sets allow or disallow public network access to azure managed file share"
          }
        },
        "privateEndpointConnections": {
          "target": "com.azure.fileshares#FileSharePropertiesPrivateEndpointConnectionsList",
          "traits": {
            "smithy.api#documentation": "The list of associated private endpoint connections."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "File share properties"
      }
    },
    "com.azure.fileshares#FileSharePropertiesPrivateEndpointConnectionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.fileshares#FileSharePropertiesPrivateEndpointConnectionsItem"
      },
      "traits": {
        "smithy.api#documentation": "The list of associated private endpoint connections."
      }
    },
    "com.azure.fileshares#FileSharePropertiesPrivateEndpointConnectionsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.fileshares#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.fileshares#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint connection resource."
      }
    },
    "com.azure.fileshares#PublicNetworkAccess": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State of the public network access."
      }
    },
    "com.azure.fileshares#FileShareProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Created"
          }
        },
        "TRANSIENTFAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TransientFailure"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "PATCHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Patching"
          }
        },
        "POSTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Posting"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of file share's ProvisioningState."
      }
    },
    "com.azure.fileshares#PublicAccessProperties": {
      "type": "structure",
      "members": {
        "allowedSubnets": {
          "target": "com.azure.fileshares#PublicAccessPropertiesAllowedSubnetsList",
          "traits": {
            "smithy.api#documentation": "The allowed set of subnets when access is restricted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The set of properties for control public access."
      }
    },
    "com.azure.fileshares#PublicAccessPropertiesAllowedSubnetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The allowed set of subnets when access is restricted."
      }
    },
    "com.azure.fileshares#NfsProtocolProperties": {
      "type": "structure",
      "members": {
        "rootSquash": {
          "target": "com.azure.fileshares#ShareRootSquash",
          "traits": {
            "smithy.api#documentation": "Root squash defines how root users on clients are mapped to the NFS share."
          }
        },
        "encryptionInTransitRequired": {
          "target": "com.azure.fileshares#EncryptionInTransitRequired",
          "traits": {
            "smithy.api#documentation": "Encryption in transit defines whether data is encrypted for NFS shares."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties specific to the NFS protocol."
      }
    },
    "com.azure.fileshares#EncryptionInTransitRequired": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State of NFS encryption in transit."
      }
    },
    "com.azure.fileshares#ShareRootSquash": {
      "type": "enum",
      "members": {
        "NOROOTSQUASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NoRootSquash"
          }
        },
        "ROOTSQUASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RootSquash"
          }
        },
        "ALLSQUASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AllSquash"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Share root squash enum."
      }
    },
    "com.azure.fileshares#Protocol": {
      "type": "enum",
      "members": {
        "NFS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NFS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Protocol enum."
      }
    },
    "com.azure.fileshares#Redundancy": {
      "type": "enum",
      "members": {
        "LOCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Local"
          }
        },
        "ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Zone"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Redundancy enum."
      }
    },
    "com.azure.fileshares#MediaTier": {
      "type": "enum",
      "members": {
        "SSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSD"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Media Tier enum."
      }
    },
    "com.azure.fileshares#FileSharesUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.fileshares#FileSharesUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource name of the file share, as seen by the administrator through Azure Resource Manager."
          }
        },
        "tags": {
          "target": "com.azure.fileshares#FileSharesUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "properties": {
          "target": "com.azure.fileshares#FileShareUpdateProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.fileshares#FileShareUpdateProperties": {
      "type": "structure",
      "members": {
        "provisionedStorageGiB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The provisioned storage size of the share in GiB (1 GiB is 1024^3 bytes or 1073741824 bytes). A component of the file share's bill is the provisioned storage, regardless of the amount of used storage."
          }
        },
        "provisionedIOPerSec": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The provisioned IO / sec of the share."
          }
        },
        "provisionedThroughputMiBPerSec": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The provisioned throughput / sec of the share."
          }
        },
        "nfsProtocolProperties": {
          "target": "com.azure.fileshares#NfsProtocolProperties",
          "traits": {
            "smithy.api#documentation": "Protocol settings specific NFS."
          }
        },
        "publicAccessProperties": {
          "target": "com.azure.fileshares#PublicAccessProperties",
          "traits": {
            "smithy.api#documentation": "The set of properties for control public access."
          }
        },
        "publicNetworkAccess": {
          "target": "com.azure.fileshares#PublicNetworkAccess",
          "traits": {
            "smithy.api#documentation": "Gets or sets allow or disallow public network access to azure managed file share"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The updatable properties of the FileShare."
      }
    },
    "com.azure.fileshares#FileSharesUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.fileshares#FileSharesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.fileshares#FileSharesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.fileshares#FileSharesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.FileShares/fileShares/{resourceName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Create or update a file share.",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.fileshares#FileSharesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.fileshares#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.fileshares#FileSharesCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.fileshares#FileShareProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.fileshares#FileSharesCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.fileshares#FileSharesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource name of the file share, as seen by the administrator through Azure Resource Manager."
          }
        },
        "tags": {
          "target": "com.azure.fileshares#FileSharesCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.fileshares#FileSharePropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.fileshares#FileSharePropertiesInput": {
      "type": "structure",
      "members": {
        "mountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the file share as seen by the end user when mounting the share, such as in a URI or UNC format in their operating system."
          }
        },
        "mediaTier": {
          "target": "com.azure.fileshares#MediaTier",
          "traits": {
            "smithy.api#documentation": "The storage media tier of the file share."
          }
        },
        "redundancy": {
          "target": "com.azure.fileshares#Redundancy",
          "traits": {
            "smithy.api#documentation": "The chosen redundancy level of the file share."
          }
        },
        "protocol": {
          "target": "com.azure.fileshares#Protocol",
          "traits": {
            "smithy.api#documentation": "The file sharing protocol for this file share."
          }
        },
        "provisionedStorageGiB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The provisioned storage size of the share in GiB (1 GiB is 1024^3 bytes or 1073741824 bytes). A component of the file share's bill is the provisioned storage, regardless of the amount of used storage."
          }
        },
        "provisionedIOPerSec": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The provisioned IO / sec of the share."
          }
        },
        "provisionedThroughputMiBPerSec": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The provisioned throughput / sec of the share."
          }
        },
        "nfsProtocolProperties": {
          "target": "com.azure.fileshares#NfsProtocolProperties",
          "traits": {
            "smithy.api#documentation": "Protocol settings specific NFS."
          }
        },
        "publicAccessProperties": {
          "target": "com.azure.fileshares#PublicAccessProperties",
          "traits": {
            "smithy.api#documentation": "The set of properties for control public access."
          }
        },
        "publicNetworkAccess": {
          "target": "com.azure.fileshares#PublicNetworkAccess",
          "traits": {
            "smithy.api#documentation": "Gets or sets allow or disallow public network access to azure managed file share"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "File share properties"
      }
    },
    "com.azure.fileshares#FileSharesCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.fileshares#FileSharesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.fileshares#FileSharesGetRequest"
      },
      "output": {
        "target": "com.azure.fileshares#FileSharesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.FileShares/fileShares/{resourceName}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Get a FileShare",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.fileshares#FileSharesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.fileshares#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.fileshares#FileSharesGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.fileshares#FileShareProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.fileshares#FileSharesGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.fileshares#FileSharesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource name of the file share, as seen by the administrator through Azure Resource Manager."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.fileshares#FileSharesListByParent": {
      "type": "operation",
      "input": {
        "target": "com.azure.fileshares#FileSharesListByParentRequest"
      },
      "output": {
        "target": "com.azure.fileshares#FileShareListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.FileShares/fileShares",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "List FileShare resources by resource group",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.fileshares#FileShareListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.fileshares#FileShareListResultValueList",
          "traits": {
            "smithy.api#documentation": "The FileShare items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a FileShare list operation."
      }
    },
    "com.azure.fileshares#FileShareListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.fileshares#FileShare"
      },
      "traits": {
        "smithy.api#documentation": "The FileShare items on this page"
      }
    },
    "com.azure.fileshares#FileShare": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.fileshares#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.fileshares#FileShareTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.fileshares#FileShareProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "File share resource"
      }
    },
    "com.azure.fileshares#FileShareTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.fileshares#FileSharesListByParentRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.fileshares#FileShareGetUsageData": {
      "type": "operation",
      "input": {
        "target": "com.azure.fileshares#FileShareGetUsageDataRequest"
      },
      "output": {
        "target": "com.azure.fileshares#FileShareUsageDataResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.FileShares/locations/{location}/getUsageData",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Get file shares usage data.",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.fileshares#FileShareUsageDataResponse": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.azure.fileshares#FileShareUsageDataOutput",
          "traits": {
            "smithy.api#documentation": "The properties of the file share usage data.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response structure for file shares usage in the specified subscription/location."
      }
    },
    "com.azure.fileshares#FileShareUsageDataOutput": {
      "type": "structure",
      "members": {
        "liveShares": {
          "target": "com.azure.fileshares#LiveSharesUsageData",
          "traits": {
            "smithy.api#documentation": "File share usage data for active file shares.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "File shares usage result."
      }
    },
    "com.azure.fileshares#LiveSharesUsageData": {
      "type": "structure",
      "members": {
        "fileShareCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of active file shares.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Usage data for live shares."
      }
    },
    "com.azure.fileshares#FileShareGetUsageDataRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure region."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.fileshares#FileShareGetProvisioningRecommendation": {
      "type": "operation",
      "input": {
        "target": "com.azure.fileshares#FileShareGetProvisioningRecommendationRequest"
      },
      "output": {
        "target": "com.azure.fileshares#FileShareProvisioningRecommendationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.FileShares/locations/{location}/getProvisioningRecommendation",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Get file shares provisioning parameters recommendation.",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.fileshares#FileShareProvisioningRecommendationResponse": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.azure.fileshares#FileShareProvisioningRecommendationOutput",
          "traits": {
            "smithy.api#documentation": "The properties of the file share provisioning recommendation output.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response structure for file share provisioning parameters recommendation API."
      }
    },
    "com.azure.fileshares#FileShareProvisioningRecommendationOutput": {
      "type": "structure",
      "members": {
        "provisionedIOPerSec": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The recommended value of provisioned IO / sec of the share.",
            "smithy.api#required": {}
          }
        },
        "provisionedThroughputMiBPerSec": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The recommended value of provisioned throughput / sec of the share.",
            "smithy.api#required": {}
          }
        },
        "availableRedundancyOptions": {
          "target": "com.azure.fileshares#FileShareProvisioningRecommendationOutputAvailableRedundancyOptionsList",
          "traits": {
            "smithy.api#documentation": "Redundancy options for the share.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "File share provisioning parameters recommendation API result."
      }
    },
    "com.azure.fileshares#FileShareProvisioningRecommendationOutputAvailableRedundancyOptionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.fileshares#Redundancy"
      },
      "traits": {
        "smithy.api#documentation": "Redundancy options for the share."
      }
    },
    "com.azure.fileshares#FileShareGetProvisioningRecommendationRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure region."
          }
        },
        "properties": {
          "target": "com.azure.fileshares#FileShareProvisioningRecommendationInput",
          "traits": {
            "smithy.api#documentation": "The properties of the file share provisioning recommendation input.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.fileshares#FileShareProvisioningRecommendationInput": {
      "type": "structure",
      "members": {
        "provisionedStorageGiB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The desired provisioned storage size of the share in GiB. Will be use to calculate the values of remaining provisioning parameters.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "File share provisioning parameters recommendation API input structure."
      }
    },
    "com.azure.fileshares#FileShareGetLimits": {
      "type": "operation",
      "input": {
        "target": "com.azure.fileshares#FileShareGetLimitsRequest"
      },
      "output": {
        "target": "com.azure.fileshares#FileShareLimitsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.FileShares/locations/{location}/getLimits",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Get file shares limits.",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.fileshares#FileShareLimitsResponse": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.azure.fileshares#FileShareLimitsOutput",
          "traits": {
            "smithy.api#documentation": "The properties of the file share limits.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response structure for file share limits API."
      }
    },
    "com.azure.fileshares#FileShareLimitsOutput": {
      "type": "structure",
      "members": {
        "limits": {
          "target": "com.azure.fileshares#FileShareLimits",
          "traits": {
            "smithy.api#documentation": "The limits for the file share.",
            "smithy.api#required": {}
          }
        },
        "provisioningConstants": {
          "target": "com.azure.fileshares#FileShareProvisioningConstants",
          "traits": {
            "smithy.api#documentation": "The provisioning constants for the file share.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "File share limits API result."
      }
    },
    "com.azure.fileshares#FileShareProvisioningConstants": {
      "type": "structure",
      "members": {
        "baseIOPerSec": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Base IO per second.",
            "smithy.api#required": {}
          }
        },
        "scalarIOPerSec": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Scalar IO per second.",
            "smithy.api#required": {}
          }
        },
        "baseThroughputMiBPerSec": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Base throughput in MiB per second.",
            "smithy.api#required": {}
          }
        },
        "scalarThroughputMiBPerSec": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Scalar throughput in MiB per second.",
            "smithy.api#required": {}
          }
        },
        "guardrailIOPerSecScalar": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Guardrail scalar IO per second.",
            "smithy.api#required": {}
          }
        },
        "guardrailThroughputScalar": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Guardrail scalar throughput in MiB per second.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Constants used for calculating recommended values of file share provisioning properties."
      }
    },
    "com.azure.fileshares#FileShareLimits": {
      "type": "structure",
      "members": {
        "maxFileShares": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of file shares that can be created.",
            "smithy.api#required": {}
          }
        },
        "maxFileShareSnapshots": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of snapshots allowed per file share.",
            "smithy.api#required": {}
          }
        },
        "maxFileShareSubnets": {
[...]
