{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.frontdoor#FrontDoorsValidateCustomDomain": {
      "type": "operation",
      "input": {
        "target": "com.azure.frontdoor#FrontDoorsValidateCustomDomainRequest"
      },
      "output": {
        "target": "com.azure.frontdoor#ValidateCustomDomainOutput"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/frontDoors/{frontDoorName}/validateCustomDomain",
          "code": 200,
          "apiVersion": "2025-11-01"
        },
        "smithy.api#documentation": "Validates the custom domain mapping to ensure it maps to the correct Front Door endpoint in DNS.",
        "com.distilled.openapi#apiVersion": "2025-11-01"
      }
    },
    "com.azure.frontdoor#ValidateCustomDomainOutput": {
      "type": "structure",
      "members": {
        "customDomainValidated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the custom domain is valid or not."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason why the custom domain is not valid."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message describing why the custom domain is not valid."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output of custom domain validation."
      }
    },
    "com.azure.frontdoor#FrontDoorsValidateCustomDomainRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "frontDoorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Front Door which is globally unique."
          }
        },
        "hostName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The host name of the custom domain. Must be a domain name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.frontdoor#RulesEnginesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.frontdoor#RulesEnginesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/frontDoors/{frontDoorName}/rulesEngines/{rulesEngineName}",
          "code": 200,
          "apiVersion": "2025-11-01"
        },
        "smithy.api#documentation": "Deletes an existing Rules Engine Configuration with the specified parameters.",
        "com.distilled.openapi#apiVersion": "2025-11-01"
      }
    },
    "com.azure.frontdoor#RulesEnginesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "frontDoorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Front Door which is globally unique."
          }
        },
        "rulesEngineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Rules Engine which is unique within the Front Door."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.frontdoor#RulesEnginesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.frontdoor#RulesEnginesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.frontdoor#RulesEnginesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/frontDoors/{frontDoorName}/rulesEngines/{rulesEngineName}",
          "code": 200,
          "apiVersion": "2025-11-01"
        },
        "smithy.api#documentation": "Creates a new Rules Engine Configuration with the specified name within the specified Front Door.",
        "com.distilled.openapi#apiVersion": "2025-11-01"
      }
    },
    "com.azure.frontdoor#RulesEnginesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "properties": {
          "target": "com.azure.frontdoor#RulesEngineProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the Rules Engine Configuration."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.frontdoor#RulesEngineProperties": {
      "type": "structure",
      "members": {
        "rules": {
          "target": "com.azure.frontdoor#RulesEnginePropertiesRulesList",
          "traits": {
            "smithy.api#documentation": "A list of rules that define a particular Rules Engine Configuration."
          }
        },
        "resourceState": {
          "target": "com.azure.frontdoor#FrontDoorResourceState",
          "traits": {
            "smithy.api#documentation": "Resource status."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The JSON object that contains the properties required to create a Rules Engine Configuration."
      }
    },
    "com.azure.frontdoor#FrontDoorResourceState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "ENABLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabling"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabling"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "MIGRATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Migrating"
          }
        },
        "MIGRATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Migrated"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource status of the Front Door or Front Door SubResource."
      }
    },
    "com.azure.frontdoor#RulesEnginePropertiesRulesList": {
      "type": "list",
      "member": {
        "target": "com.azure.frontdoor#RulesEngineRule"
      },
      "traits": {
        "smithy.api#documentation": "A list of rules that define a particular Rules Engine Configuration."
      }
    },
    "com.azure.frontdoor#RulesEngineRule": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A name to refer to this specific rule.",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "A priority assigned to this rule.",
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.azure.frontdoor#RulesEngineAction",
          "traits": {
            "smithy.api#documentation": "Actions to perform on the request and response if all of the match conditions are met.",
            "smithy.api#required": {}
          }
        },
        "matchConditions": {
          "target": "com.azure.frontdoor#RulesEngineRuleMatchConditionsList",
          "traits": {
            "smithy.api#documentation": "A list of match conditions that must meet in order for the actions of this rule to run. Having no match conditions means the actions will always run."
          }
        },
        "matchProcessingBehavior": {
          "target": "com.azure.frontdoor#MatchProcessingBehavior",
          "traits": {
            "smithy.api#documentation": "If this rule is a match should the rules engine continue running the remaining rules or stop. If not present, defaults to Continue."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains a list of match conditions, and an action on how to modify the request/response. If multiple rules match, the actions from one rule that conflict with a previous rule overwrite for a singular action, or append in the case of headers manipulation."
      }
    },
    "com.azure.frontdoor#MatchProcessingBehavior": {
      "type": "enum",
      "members": {
        "CONTINUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Continue"
          }
        },
        "STOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Stop"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If this rule is a match should the rules engine continue running the remaining rules or stop. If not present, defaults to Continue."
      }
    },
    "com.azure.frontdoor#RulesEngineRuleMatchConditionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.frontdoor#RulesEngineMatchCondition"
      },
      "traits": {
        "smithy.api#documentation": "A list of match conditions that must meet in order for the actions of this rule to run. Having no match conditions means the actions will always run."
      }
    },
    "com.azure.frontdoor#RulesEngineMatchCondition": {
      "type": "structure",
      "members": {
        "rulesEngineMatchVariable": {
          "target": "com.azure.frontdoor#RulesEngineMatchVariable",
          "traits": {
            "smithy.api#documentation": "Match Variable",
            "smithy.api#required": {}
          }
        },
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of selector in RequestHeader or RequestBody to be matched"
          }
        },
        "rulesEngineOperator": {
          "target": "com.azure.frontdoor#RulesEngineOperator",
          "traits": {
            "smithy.api#documentation": "Describes operator to apply to the match condition.",
            "smithy.api#required": {}
          }
        },
        "negateCondition": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Describes if this is negate condition or not"
          }
        },
        "rulesEngineMatchValue": {
          "target": "com.azure.frontdoor#RulesEngineMatchConditionRulesEngineMatchValueList",
          "traits": {
            "smithy.api#documentation": "Match values to match against. The operator will apply to each value in here with OR semantics. If any of them match the variable with the given operator this match condition is considered a match.",
            "smithy.api#required": {}
          }
        },
        "transforms": {
          "target": "com.azure.frontdoor#RulesEngineMatchConditionTransformsList",
          "traits": {
            "smithy.api#documentation": "List of transforms"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Define a match condition"
      }
    },
    "com.azure.frontdoor#RulesEngineMatchConditionTransformsList": {
      "type": "list",
      "member": {
        "target": "com.azure.frontdoor#Transform"
      },
      "traits": {
        "smithy.api#documentation": "List of transforms"
      }
    },
    "com.azure.frontdoor#Transform": {
      "type": "enum",
      "members": {
        "LOWERCASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lowercase"
          }
        },
        "UPPERCASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Uppercase"
          }
        },
        "TRIM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Trim"
          }
        },
        "URLDECODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UrlDecode"
          }
        },
        "URLENCODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UrlEncode"
          }
        },
        "REMOVENULLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RemoveNulls"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes what transforms are applied before matching"
      }
    },
    "com.azure.frontdoor#RulesEngineMatchConditionRulesEngineMatchValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Match values to match against. The operator will apply to each value in here with OR semantics. If any of them match the variable with the given operator this match condition is considered a match."
      }
    },
    "com.azure.frontdoor#RulesEngineOperator": {
      "type": "enum",
      "members": {
        "ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Any"
          }
        },
        "IPMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IPMatch"
          }
        },
        "GEOMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GeoMatch"
          }
        },
        "EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Equal"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Contains"
          }
        },
        "LESSTHAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LessThan"
          }
        },
        "GREATERTHAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GreaterThan"
          }
        },
        "LESSTHANOREQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LessThanOrEqual"
          }
        },
        "GREATERTHANOREQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GreaterThanOrEqual"
          }
        },
        "BEGINSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BeginsWith"
          }
        },
        "ENDSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EndsWith"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes operator to apply to the match condition."
      }
    },
    "com.azure.frontdoor#RulesEngineMatchVariable": {
      "type": "enum",
      "members": {
        "ISMOBILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IsMobile"
          }
        },
        "REMOTEADDR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RemoteAddr"
          }
        },
        "REQUESTMETHOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RequestMethod"
          }
        },
        "QUERYSTRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QueryString"
          }
        },
        "POSTARGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PostArgs"
          }
        },
        "REQUESTURI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RequestUri"
          }
        },
        "REQUESTPATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RequestPath"
          }
        },
        "REQUESTFILENAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RequestFilename"
          }
        },
        "REQUESTFILENAMEEXTENSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RequestFilenameExtension"
          }
        },
        "REQUESTHEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RequestHeader"
          }
        },
        "REQUESTBODY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RequestBody"
          }
        },
        "REQUESTSCHEME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RequestScheme"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Match Variable"
      }
    },
    "com.azure.frontdoor#RulesEngineAction": {
      "type": "structure",
      "members": {
        "requestHeaderActions": {
          "target": "com.azure.frontdoor#RulesEngineActionRequestHeaderActionsList",
          "traits": {
            "smithy.api#documentation": "A list of header actions to apply from the request from AFD to the origin."
          }
        },
        "responseHeaderActions": {
          "target": "com.azure.frontdoor#RulesEngineActionResponseHeaderActionsList",
          "traits": {
            "smithy.api#documentation": "A list of header actions to apply from the response from AFD to the client."
          }
        },
        "routeConfigurationOverride": {
          "target": "com.azure.frontdoor#RouteConfiguration",
          "traits": {
            "smithy.api#documentation": "Override the route configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One or more actions that will execute, modifying the request and/or response."
      }
    },
    "com.azure.frontdoor#RouteConfiguration": {
      "type": "structure",
      "members": {
        "_odata_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "@odata.type"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Base class for all types of Route."
      }
    },
    "com.azure.frontdoor#RulesEngineActionResponseHeaderActionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.frontdoor#HeaderAction"
      },
      "traits": {
        "smithy.api#documentation": "A list of header actions to apply from the response from AFD to the client."
      }
    },
    "com.azure.frontdoor#HeaderAction": {
      "type": "structure",
      "members": {
        "headerActionType": {
          "target": "com.azure.frontdoor#HeaderActionType",
          "traits": {
            "smithy.api#documentation": "Which type of manipulation to apply to the header.",
            "smithy.api#required": {}
          }
        },
        "headerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the header this action will apply to.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value to update the given header name with. This value is not used if the actionType is Delete."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An action that can manipulate an http header."
      }
    },
    "com.azure.frontdoor#HeaderActionType": {
      "type": "enum",
      "members": {
        "APPEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Append"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Delete"
          }
        },
        "OVERWRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Overwrite"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Which type of manipulation to apply to the header."
      }
    },
    "com.azure.frontdoor#RulesEngineActionRequestHeaderActionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.frontdoor#HeaderAction"
      },
      "traits": {
        "smithy.api#documentation": "A list of header actions to apply from the request from AFD to the origin."
      }
    },
    "com.azure.frontdoor#RulesEnginesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "frontDoorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Front Door which is globally unique."
          }
        },
        "rulesEngineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Rules Engine which is unique within the Front Door."
          }
        },
        "properties": {
          "target": "com.azure.frontdoor#RulesEngineProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the Rules Engine Configuration."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.frontdoor#RulesEnginesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.frontdoor#RulesEnginesGetRequest"
      },
      "output": {
        "target": "com.azure.frontdoor#RulesEnginesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/frontDoors/{frontDoorName}/rulesEngines/{rulesEngineName}",
          "code": 200,
          "apiVersion": "2025-11-01"
        },
        "smithy.api#documentation": "Gets a Rules Engine Configuration with the specified name within the specified Front Door.",
        "com.distilled.openapi#apiVersion": "2025-11-01"
      }
    },
    "com.azure.frontdoor#RulesEnginesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "properties": {
          "target": "com.azure.frontdoor#RulesEngineProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the Rules Engine Configuration."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.frontdoor#RulesEnginesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "frontDoorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Front Door which is globally unique."
          }
        },
        "rulesEngineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Rules Engine which is unique within the Front Door."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.frontdoor#RulesEnginesListByFrontDoor": {
      "type": "operation",
      "input": {
        "target": "com.azure.frontdoor#RulesEnginesListByFrontDoorRequest"
      },
      "output": {
        "target": "com.azure.frontdoor#RulesEngineListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/frontDoors/{frontDoorName}/rulesEngines",
          "code": 200,
          "apiVersion": "2025-11-01"
        },
        "smithy.api#documentation": "Lists all of the Rules Engine Configurations within a Front Door.",
        "com.distilled.openapi#apiVersion": "2025-11-01"
      }
    },
    "com.azure.frontdoor#RulesEngineListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.frontdoor#RulesEngineListResultValueList",
          "traits": {
            "smithy.api#documentation": "The RulesEngine items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Paged collection of RulesEngine items"
      }
    },
    "com.azure.frontdoor#RulesEngineListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.frontdoor#RulesEngine"
      },
      "traits": {
        "smithy.api#documentation": "The RulesEngine items on this page"
      }
    },
    "com.azure.frontdoor#RulesEngine": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "properties": {
          "target": "com.azure.frontdoor#RulesEngineProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the Rules Engine Configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A rules engine configuration containing a list of rules that will run to modify the runtime behavior of the request and response."
      }
    },
    "com.azure.frontdoor#RulesEnginesListByFrontDoorRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "frontDoorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Front Door which is globally unique."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.frontdoor#EndpointsPurgeContent": {
      "type": "operation",
      "input": {
        "target": "com.azure.frontdoor#EndpointsPurgeContentRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/frontDoors/{frontDoorName}/purge",
          "code": 200,
          "apiVersion": "2025-11-01"
        },
        "smithy.api#documentation": "Removes a content from Front Door.",
        "com.distilled.openapi#apiVersion": "2025-11-01"
      }
    },
    "com.azure.frontdoor#EndpointsPurgeContentRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "frontDoorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Front Door which is globally unique."
          }
        },
        "contentPaths": {
          "target": "com.azure.frontdoor#EndpointsPurgeContentRequestContentPathsList",
          "traits": {
            "smithy.api#documentation": "The path to the content to be purged. Can describe a file path or a wild card directory.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.frontdoor#EndpointsPurgeContentRequestContentPathsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The path to the content to be purged. Can describe a file path or a wild card directory."
      }
    },
    "com.azure.frontdoor#FrontendEndpointsEnableHttps": {
      "type": "operation",
      "input": {
        "target": "com.azure.frontdoor#FrontendEndpointsEnableHttpsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/frontDoors/{frontDoorName}/frontendEndpoints/{frontendEndpointName}/enableHttps",
          "code": 200,
          "apiVersion": "2025-11-01"
        },
        "smithy.api#documentation": "Enables a frontendEndpoint for HTTPS traffic",
        "com.distilled.openapi#apiVersion": "2025-11-01"
      }
    },
    "com.azure.frontdoor#FrontendEndpointsEnableHttpsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "frontDoorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Front Door which is globally unique."
          }
        },
        "frontendEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Frontend endpoint which is unique within the Front Door."
          }
        },
        "certificateSource": {
          "target": "com.azure.frontdoor#FrontDoorCertificateSource",
          "traits": {
            "smithy.api#documentation": "Defines the source of the SSL certificate",
            "smithy.api#required": {}
          }
        },
        "protocolType": {
          "target": "com.azure.frontdoor#FrontDoorTlsProtocolType",
          "traits": {
            "smithy.api#documentation": "Defines the TLS extension protocol that is used for secure delivery",
            "smithy.api#required": {}
          }
        },
        "minimumTlsVersion": {
          "target": "com.azure.frontdoor#MinimumTLSVersion",
          "traits": {
            "smithy.api#documentation": "The minimum TLS version required from the clients to establish an SSL handshake with Front Door.",
            "smithy.api#required": {}
          }
        },
        "keyVaultCertificateSourceParameters": {
          "target": "com.azure.frontdoor#KeyVaultCertificateSourceParameters",
          "traits": {
            "smithy.api#documentation": "KeyVault certificate source parameters (if certificateSource=AzureKeyVault)"
          }
        },
        "frontDoorCertificateSourceParameters": {
          "target": "com.azure.frontdoor#FrontDoorCertificateSourceParameters",
          "traits": {
            "smithy.api#documentation": "Parameters required for enabling SSL with Front Door-managed certificates (if certificateSource=FrontDoor)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.frontdoor#FrontDoorCertificateSourceParameters": {
      "type": "structure",
      "members": {
        "certificateType": {
          "target": "com.azure.frontdoor#FrontDoorCertificateType",
          "traits": {
            "smithy.api#documentation": "Defines the type of the certificate used for secure connections to a frontendEndpoint"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parameters required for enabling SSL with Front Door-managed certificates"
      }
    },
    "com.azure.frontdoor#FrontDoorCertificateType": {
      "type": "enum",
      "members": {
        "DEDICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Dedicated"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the type of the certificate used for secure connections to a frontendEndpoint"
      }
    },
    "com.azure.frontdoor#KeyVaultCertificateSourceParameters": {
      "type": "structure",
      "members": {
        "vault": {
          "target": "com.azure.frontdoor#KeyVaultCertificateSourceParametersVault",
          "traits": {
            "smithy.api#documentation": "The Key Vault containing the SSL certificate"
          }
        },
        "secretName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Key Vault secret representing the full certificate PFX"
          }
        },
        "secretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the Key Vault secret representing the full certificate PFX"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parameters required for bring-your-own-certification via Key Vault"
      }
    },
    "com.azure.frontdoor#KeyVaultCertificateSourceParametersVault": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Key Vault containing the SSL certificate"
      }
    },
    "com.azure.frontdoor#MinimumTLSVersion": {
      "type": "enum",
      "members": {
        "_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.0"
          }
        },
        "_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1.2"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The minimum TLS version required from the clients to establish an SSL handshake with Front Door."
      }
    },
    "com.azure.frontdoor#FrontDoorTlsProtocolType": {
      "type": "enum",
      "members": {
        "SERVERNAMEINDICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ServerNameIndication"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the TLS extension protocol that is used for secure delivery"
      }
    },
    "com.azure.frontdoor#FrontDoorCertificateSource": {
      "type": "enum",
      "members": {
        "AZUREKEYVAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureKeyVault"
          }
        },
        "FRONTDOOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FrontDoor"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the source of the SSL certificate"
      }
    },
    "com.azure.frontdoor#FrontendEndpointsDisableHttps": {
      "type": "operation",
      "input": {
        "target": "com.azure.frontdoor#FrontendEndpointsDisableHttpsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/frontDoors/{frontDoorName}/frontendEndpoints/{frontendEndpointName}/disableHttps",
          "code": 200,
          "apiVersion": "2025-11-01"
        },
        "smithy.api#documentation": "Disables a frontendEndpoint for HTTPS traffic",
        "com.distilled.openapi#apiVersion": "2025-11-01"
      }
    },
    "com.azure.frontdoor#FrontendEndpointsDisableHttpsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "frontDoorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Front Door which is globally unique."
          }
        },
        "frontendEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Frontend endpoint which is unique within the Front Door."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.frontdoor#FrontendEndpointsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.frontdoor#FrontendEndpointsGetRequest"
      },
      "output": {
        "target": "com.azure.frontdoor#FrontendEndpointsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/frontDoors/{frontDoorName}/frontendEndpoints/{frontendEndpointName}",
          "code": 200,
          "apiVersion": "2025-11-01"
        },
        "smithy.api#documentation": "Gets a Frontend endpoint with the specified name within the specified Front Door.",
        "com.distilled.openapi#apiVersion": "2025-11-01"
      }
    },
    "com.azure.frontdoor#FrontendEndpointsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "properties": {
          "target": "com.azure.frontdoor#FrontendEndpointProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the Frontend endpoint"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.frontdoor#FrontendEndpointProperties": {
      "type": "structure",
      "members": {
        "hostName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The host name of the frontendEndpoint. Must be a domain name."
          }
        },
        "sessionAffinityEnabledState": {
          "target": "com.azure.frontdoor#SessionAffinityEnabledState",
          "traits": {
            "smithy.api#documentation": "Whether to allow session affinity on this host. Valid options are 'Enabled' or 'Disabled'"
          }
        },
        "sessionAffinityTtlSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "UNUSED. This field will be ignored. The TTL to use in seconds for session affinity, if applicable."
          }
        },
        "webApplicationFirewallPolicyLink": {
          "target": "com.azure.frontdoor#FrontendEndpointUpdateParametersWebApplicationFirewallPolicyLink",
          "traits": {
            "smithy.api#documentation": "Defines the Web Application Firewall policy for each host (if applicable)"
          }
        },
        "resourceState": {
          "target": "com.azure.frontdoor#FrontDoorResourceState",
          "traits": {
            "smithy.api#documentation": "Resource status."
          }
        },
        "customHttpsProvisioningState": {
          "target": "com.azure.frontdoor#CustomHttpsProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning status of Custom Https of the frontendEndpoint."
          }
        },
        "customHttpsProvisioningSubstate": {
          "target": "com.azure.frontdoor#CustomHttpsProvisioningSubstate",
          "traits": {
            "smithy.api#documentation": "Provisioning substate shows the progress of custom HTTPS enabling/disabling process step by step."
          }
        },
        "customHttpsConfiguration": {
          "target": "com.azure.frontdoor#CustomHttpsConfiguration",
          "traits": {
            "smithy.api#documentation": "The configuration specifying how to enable HTTPS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The JSON object that contains the properties required to create a frontend endpoint."
      }
    },
    "com.azure.frontdoor#CustomHttpsConfiguration": {
      "type": "structure",
      "members": {
        "certificateSource": {
          "target": "com.azure.frontdoor#FrontDoorCertificateSource",
          "traits": {
            "smithy.api#documentation": "Defines the source of the SSL certificate",
            "smithy.api#required": {}
          }
        },
        "protocolType": {
          "target": "com.azure.frontdoor#FrontDoorTlsProtocolType",
          "traits": {
            "smithy.api#documentation": "Defines the TLS extension protocol that is used for secure delivery",
            "smithy.api#required": {}
          }
        },
        "minimumTlsVersion": {
          "target": "com.azure.frontdoor#MinimumTLSVersion",
          "traits": {
            "smithy.api#documentation": "The minimum TLS version required from the clients to establish an SSL handshake with Front Door.",
            "smithy.api#required": {}
          }
        },
        "keyVaultCertificateSourceParameters": {
          "target": "com.azure.frontdoor#KeyVaultCertificateSourceParameters",
          "traits": {
            "smithy.api#documentation": "KeyVault certificate source parameters (if certificateSource=AzureKeyVault)"
          }
        },
        "frontDoorCertificateSourceParameters": {
          "target": "com.azure.frontdoor#FrontDoorCertificateSourceParameters",
          "traits": {
            "smithy.api#documentation": "Parameters required for enabling SSL with Front Door-managed certificates (if certificateSource=FrontDoor)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Https settings for a domain"
      }
    },
    "com.azure.frontdoor#CustomHttpsProvisioningSubstate": {
      "type": "enum",
      "members": {
        "SUBMITTINGDOMAINCONTROLVALIDATIONREQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SubmittingDomainControlValidationRequest"
          }
        },
        "PENDINGDOMAINCONTROLVALIDATIONREQUESTAPPROVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingDomainControlValidationREquestApproval"
          }
        },
        "DOMAINCONTROLVALIDATIONREQUESTAPPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DomainControlValidationRequestApproved"
          }
        },
        "DOMAINCONTROLVALIDATIONREQUESTREJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DomainControlValidationRequestRejected"
          }
        },
        "DOMAINCONTROLVALIDATIONREQUESTTIMEDOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DomainControlValidationRequestTimedOut"
          }
        },
        "ISSUINGCERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IssuingCertificate"
          }
        },
        "DEPLOYINGCERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeployingCertificate"
          }
        },
        "CERTIFICATEDEPLOYED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CertificateDeployed"
          }
        },
        "DELETINGCERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeletingCertificate"
          }
        },
        "CERTIFICATEDELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CertificateDeleted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provisioning substate shows the progress of custom HTTPS enabling/disabling process step by step."
      }
    },
    "com.azure.frontdoor#CustomHttpsProvisioningState": {
      "type": "enum",
      "members": {
        "ENABLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabling"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabling"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provisioning status of Custom Https of the frontendEndpoint."
      }
    },
    "com.azure.frontdoor#FrontendEndpointUpdateParametersWebApplicationFirewallPolicyLink": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the Web Application Firewall policy for each host (if applicable)"
      }
    },
    "com.azure.frontdoor#SessionAffinityEnabledState": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether to allow session affinity on this host. Valid options are 'Enabled' or 'Disabled'"
      }
    },
    "com.azure.frontdoor#FrontendEndpointsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "frontDoorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Front Door which is globally unique."
          }
        },
        "frontendEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Frontend endpoint which is unique within the Front Door."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.frontdoor#FrontendEndpointsListByFrontDoor": {
      "type": "operation",
      "input": {
        "target": "com.azure.frontdoor#FrontendEndpointsListByFrontDoorRequest"
      },
      "output": {
        "target": "com.azure.frontdoor#FrontendEndpointsListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/frontDoors/{frontDoorName}/frontendEndpoints",
          "code": 200,
          "apiVersion": "2025-11-01"
        },
        "smithy.api#documentation": "Lists all of the frontend endpoints within a Front Door.",
        "com.distilled.openapi#apiVersion": "2025-11-01"
      }
    },
    "com.azure.frontdoor#FrontendEndpointsListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.frontdoor#FrontendEndpointsListResultValueList",
          "traits": {
            "smithy.api#documentation": "The FrontendEndpoint items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Paged collection of FrontendEndpoint items"
      }
    },
    "com.azure.frontdoor#FrontendEndpointsListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.frontdoor#FrontendEndpoint"
      },
      "traits": {
        "smithy.api#documentation": "The FrontendEndpoint items on this page"
      }
    },
    "com.azure.frontdoor#FrontendEndpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "properties": {
          "target": "com.azure.frontdoor#FrontendEndpointProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the Frontend endpoint"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A frontend endpoint used for routing."
      }
    },
    "com.azure.frontdoor#FrontendEndpointsListByFrontDoorRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "frontDoorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Front Door which is globally unique."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.frontdoor#FrontDoorsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.frontdoor#FrontDoorsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/frontDoors/{frontDoorName}",
          "code": 200,
          "apiVersion": "2025-11-01"
        },
        "smithy.api#documentation": "Deletes an existing Front Door with the specified parameters.",
        "com.distilled.openapi#apiVersion": "2025-11-01"
      }
    },
    "com.azure.frontdoor#FrontDoorsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "frontDoorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Front Door which is globally unique."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.frontdoor#FrontDoorsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.frontdoor#FrontDoorsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.frontdoor#FrontDoorsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/frontDoors/{frontDoorName}",
          "code": 200,
          "apiVersion": "2025-11-01"
        },
        "smithy.api#documentation": "Creates a new Front Door with a Front Door name under the specified subscription and resource group.",
        "com.distilled.openapi#apiVersion": "2025-11-01"
      }
    },
    "com.azure.frontdoor#FrontDoorsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource location."
          }
        },
        "tags": {
          "target": "com.azure.frontdoor#FrontDoorsCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "properties": {
          "target": "com.azure.frontdoor#FrontDoorProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the Front Door Load Balancer"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.frontdoor#FrontDoorProperties": {
      "type": "structure",
      "members": {
        "friendlyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A friendly name for the frontDoor"
          }
        },
        "routingRules": {
          "target": "com.azure.frontdoor#FrontDoorPropertiesRoutingRulesList",
          "traits": {
            "smithy.api#documentation": "Routing rules associated with this Front Door."
          }
        },
        "loadBalancingSettings": {
          "target": "com.azure.frontdoor#FrontDoorPropertiesLoadBalancingSettingsList",
          "traits": {
            "smithy.api#documentation": "Load balancing settings associated with this Front Door instance."
          }
        },
        "healthProbeSettings": {
          "target": "com.azure.frontdoor#FrontDoorPropertiesHealthProbeSettingsList",
          "traits": {
            "smithy.api#documentation": "Health probe settings associated with this Front Door instance."
          }
        },
        "backendPools": {
          "target": "com.azure.frontdoor#FrontDoorPropertiesBackendPoolsList",
          "traits": {
            "smithy.api#documentation": "Backend pools available to routing rules."
          }
        },
        "frontendEndpoints": {
          "target": "com.azure.frontdoor#FrontDoorPropertiesFrontendEndpointsList",
          "traits": {
            "smithy.api#documentation": "Frontend endpoints available to routing rules."
          }
        },
        "backendPoolsSettings": {
          "target": "com.azure.frontdoor#BackendPoolsSettings",
          "traits": {
            "smithy.api#documentation": "Settings for all backendPools"
          }
        },
        "enabledState": {
          "target": "com.azure.frontdoor#FrontDoorEnabledState",
          "traits": {
            "smithy.api#documentation": "Operational status of the Front Door load balancer. Permitted values are 'Enabled' or 'Disabled'"
          }
        },
        "resourceState": {
          "target": "com.azure.frontdoor#FrontDoorResourceState",
          "traits": {
            "smithy.api#documentation": "Resource status of the Front Door."
          }
        },
        "provisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the Front Door."
          }
        },
        "cname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The host that each frontendEndpoint must CNAME to."
          }
        },
        "frontdoorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Id of the frontdoor."
          }
        },
        "rulesEngines": {
          "target": "com.azure.frontdoor#FrontDoorPropertiesRulesEnginesList",
          "traits": {
            "smithy.api#documentation": "Rules Engine Configurations available to routing rules."
          }
        },
        "extendedProperties": {
          "target": "com.azure.frontdoor#FrontDoorPropertiesExtendedPropertiesMap",
          "traits": {
            "smithy.api#documentation": "Key-Value pair representing additional properties for frontdoor."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The JSON object that contains the properties required to create an endpoint."
      }
    },
    "com.azure.frontdoor#FrontDoorPropertiesExtendedPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Key-Value pair representing additional properties for frontdoor."
      }
    },
    "com.azure.frontdoor#FrontDoorPropertiesRulesEnginesList": {
      "type": "list",
      "member": {
        "target": "com.azure.frontdoor#RulesEngine"
      },
      "traits": {
        "smithy.api#documentation": "Rules Engine Configurations available to routing rules."
      }
    },
    "com.azure.frontdoor#FrontDoorEnabledState": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Operational status of the Front Door load balancer. Permitted values are 'Enabled' or 'Disabled'"
      }
    },
    "com.azure.frontdoor#BackendPoolsSettings": {
      "type": "structure",
      "members": {
        "enforceCertificateNameCheck": {
          "target": "com.azure.frontdoor#BackendPoolsSettingsEnforceCertificateNameCheck",
          "traits": {
            "smithy.api#documentation": "Whether to enforce certificate name check on HTTPS requests to all backend pools. No effect on non-HTTPS requests."
          }
        },
        "sendRecvTimeoutSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Send and receive timeout on forwarding request to the backend. When timeout is reached, the request fails and returns."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings that apply to all backend pools."
      }
    },
    "com.azure.frontdoor#BackendPoolsSettingsEnforceCertificateNameCheck": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether to enforce certificate name check on HTTPS requests to all backend pools. No effect on non-HTTPS requests."
      }
    },
    "com.azure.frontdoor#FrontDoorPropertiesFrontendEndpointsList": {
      "type": "list",
      "member": {
        "target": "com.azure.frontdoor#FrontendEndpoint"
      },
      "traits": {
        "smithy.api#documentation": "Frontend endpoints available to routing rules."
      }
    },
    "com.azure.frontdoor#FrontDoorPropertiesBackendPoolsList": {
      "type": "list",
      "member": {
        "target": "com.azure.frontdoor#BackendPool"
      },
      "traits": {
        "smithy.api#documentation": "Backend pools available to routing rules."
      }
    },
    "com.azure.frontdoor#BackendPool": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        },
        "properties": {
          "target": "com.azure.frontdoor#BackendPoolProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the Front Door Backend Pool"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A backend pool is a collection of backends that can be routed to."
      }
    },
    "com.azure.frontdoor#BackendPoolProperties": {
      "type": "structure",
      "members": {
        "backends": {
          "target": "com.azure.frontdoor#BackendPoolPropertiesBackendsList",
          "traits": {
            "smithy.api#documentation": "The set of backends for this pool"
          }
        },
        "loadBalancingSettings": {
          "target": "com.azure.frontdoor#SubResource",
          "traits": {
            "smithy.api#documentation": "Load balancing settings for a backend pool"
          }
        },
        "healthProbeSettings": {
          "target": "com.azure.frontdoor#SubResource",
          "traits": {
            "smithy.api#documentation": "L7 health probe settings for a backend pool"
          }
        },
        "resourceState": {
          "target": "com.azure.frontdoor#FrontDoorResourceState",
          "traits": {
            "smithy.api#documentation": "Resource status."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The JSON object that contains the properties required to create a Backend Pool."
      }
    },
    "com.azure.frontdoor#SubResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reference to another subresource."
      }
    },
    "com.azure.frontdoor#BackendPoolPropertiesBackendsList": {
      "type": "list",
      "member": {
        "target": "com.azure.frontdoor#Backend"
      },
      "traits": {
        "smithy.api#documentation": "The set of backends for this pool"
      }
    },
    "com.azure.frontdoor#Backend": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the backend (IP address or FQDN)"
          }
        },
        "privateLinkAlias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Alias of the Private Link resource. Populating this optional field indicates that this backend is 'Private'"
          }
        },
        "privateLinkResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Resource Id of the Private Link resource. Populating this optional field indicates that this backend is 'Private'"
          }
        },
        "privateLinkLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the Private Link resource. Required only if 'privateLinkResourceId' is populated"
          }
        },
        "privateEndpointStatus": {
          "target": "com.azure.frontdoor#PrivateEndpointStatus",
          "traits": {
            "smithy.api#documentation": "The Approval status for the connection to the Private Link"
          }
        },
        "privateLinkApprovalMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A custom message to be included in the approval request to connect to the Private Link"
          }
        },
        "httpPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The HTTP TCP port number. Must be between 1 and 65535."
          }
        },
        "httpsPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The HTTPS TCP port number. Must be between 1 and 65535."
          }
        },
        "enabledState": {
          "target": "com.azure.frontdoor#BackendEnabledState",
          "traits": {
            "smithy.api#documentation": "Whether to enable use of this backend. Permitted values are 'Enabled' or 'Disabled'"
          }
        },
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Priority to use for load balancing. Higher priorities will not be used for load balancing if any lower priority backend is healthy."
          }
        },
        "weight": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Weight of this endpoint for load balancing purposes."
          }
        },
        "backendHostHeader": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value to use as the host header sent to the backend. If blank or unspecified, this defaults to the incoming host."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Backend address of a frontDoor load balancer."
      }
    },
    "com.azure.frontdoor#BackendEnabledState": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether to enable use of this backend. Permitted values are 'Enabled' or 'Disabled'"
      }
    },
    "com.azure.frontdoor#PrivateEndpointStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disconnected"
          }
        },
        "TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Timeout"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Approval status for the connection to the Private Link"
      }
    },
    "com.azure.frontdoor#FrontDoorPropertiesHealthProbeSettingsList": {
      "type": "list",
      "member": {
        "target": "com.azure.frontdoor#HealthProbeSettingsModel"
      },
      "traits": {
        "smithy.api#documentation": "Health probe settings associated with this Front Door instance."
      }
    },
    "com.azure.frontdoor#HealthProbeSettingsModel": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        },
        "properties": {
          "target": "com.azure.frontdoor#HealthProbeSettingsProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the health probe settings"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Load balancing settings for a backend pool"
      }
    },
    "com.azure.frontdoor#HealthProbeSettingsProperties": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path to use for the health probe. Default is /"
          }
        },
        "protocol": {
          "target": "com.azure.frontdoor#FrontDoorProtocol",
          "traits": {
            "smithy.api#documentation": "Protocol scheme to use for this probe"
          }
        },
        "intervalInSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of seconds between health probes."
          }
        },
        "healthProbeMethod": {
          "target": "com.azure.frontdoor#HealthProbeSettingsPropertiesHealthProbeMethod",
          "traits": {
            "smithy.api#documentation": "Configures which HTTP method to use to probe the backends defined under backendPools."
          }
        },
        "enabledState": {
          "target": "com.azure.frontdoor#HealthProbeEnabled",
          "traits": {
            "smithy.api#documentation": "Whether to enable health probes to be made against backends defined under backendPools. Health probes can only be disabled if there is a single enabled backend in single enabled backend pool."
          }
        },
        "resourceState": {
          "target": "com.azure.frontdoor#FrontDoorResourceState",
          "traits": {
            "smithy.api#documentation": "Resource status."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The JSON object that contains the properties required to create a health probe settings."
      }
    },
    "com.azure.frontdoor#HealthProbeEnabled": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether to enable health probes to be made against backends defined under backendPools. Health probes can only be disabled if there is a single enabled backend in single enabled backend pool."
      }
    },
    "com.azure.frontdoor#HealthProbeSettingsPropertiesHealthProbeMethod": {
      "type": "enum",
      "members": {
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "HEAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEAD"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configures which HTTP method to use to probe the backends defined under backendPools."
      }
    },
    "com.azure.frontdoor#FrontDoorProtocol": {
      "type": "enum",
      "members": {
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Http"
          }
        },
        "HTTPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Https"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Accepted protocol schemes."
      }
    },
    "com.azure.frontdoor#FrontDoorPropertiesLoadBalancingSettingsList": {
      "type": "list",
      "member": {
        "target": "com.azure.frontdoor#LoadBalancingSettingsModel"
      },
      "traits": {
        "smithy.api#documentation": "Load balancing settings associated with this Front Door instance."
      }
    },
    "com.azure.frontdoor#LoadBalancingSettingsModel": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        },
        "properties": {
          "target": "com.azure.frontdoor#LoadBalancingSettingsProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the load balancing settings"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Load balancing settings for a backend pool"
      }
    },
    "com.azure.frontdoor#LoadBalancingSettingsProperties": {
      "type": "structure",
      "members": {
        "sampleSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of samples to consider for load balancing decisions"
          }
        },
        "successfulSamplesRequired": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of samples within the sample period that must succeed"
          }
        },
        "additionalLatencyMilliseconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The additional latency in milliseconds for probes to fall into the lowest latency bucket"
          }
        },
        "resourceState": {
          "target": "com.azure.frontdoor#FrontDoorResourceState",
          "traits": {
            "smithy.api#documentation": "Resource status."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The JSON object that contains the properties required to create load balancing settings"
      }
    },
    "com.azure.frontdoor#FrontDoorPropertiesRoutingRulesList": {
      "type": "list",
      "member": {
        "target": "com.azure.frontdoor#RoutingRule"
      },
      "traits": {
        "smithy.api#documentation": "Routing rules associated with this Front Door."
      }
    },
    "com.azure.frontdoor#RoutingRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        },
        "properties": {
          "target": "com.azure.frontdoor#RoutingRuleProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the Front Door Routing Rule"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A routing rule represents a specification for traffic to treat and where to send it, along with health probe information."
      }
    },
    "com.azure.frontdoor#RoutingRuleProperties": {
      "type": "structure",
      "members": {
        "frontendEndpoints": {
          "target": "com.azure.frontdoor#RoutingRulePropertiesFrontendEndpointsList",
          "traits": {
            "smithy.api#documentation": "Frontend endpoints associated with this rule"
          }
        },
        "acceptedProtocols": {
          "target": "com.azure.frontdoor#RoutingRulePropertiesAcceptedProtocolsList",
          "traits": {
            "smithy.api#documentation": "Protocol schemes to match for this rule"
          }
        },
        "patternsToMatch": {
          "target": "com.azure.frontdoor#RoutingRulePropertiesPatternsToMatchList",
          "traits": {
            "smithy.api#documentation": "The route patterns of the rule."
          }
        },
        "enabledState": {
          "target": "com.azure.frontdoor#RoutingRuleEnabledState",
          "traits": {
            "smithy.api#documentation": "Whether to enable use of this rule. Permitted values are 'Enabled' or 'Disabled'"
          }
        },
        "routeConfiguration": {
          "target": "com.azure.frontdoor#RouteConfiguration",
          "traits": {
            "smithy.api#documentation": "A reference to the routing configuration."
          }
        },
        "rulesEngine": {
          "target": "com.azure.frontdoor#SubResource",
          "traits": {
            "smithy.api#documentation": "A reference to a specific Rules Engine Configuration to apply to this route."
          }
        },
        "webApplicationFirewallPolicyLink": {
          "target": "com.azure.frontdoor#RoutingRuleUpdateParametersWebApplicationFirewallPolicyLink",
          "traits": {
            "smithy.api#documentation": "Defines the Web Application Firewall policy for each routing rule (if applicable)"
          }
        },
        "resourceState": {
          "target": "com.azure.frontdoor#FrontDoorResourceState",
          "traits": {
            "smithy.api#documentation": "Resource status."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The JSON object that contains the properties required to create a routing rule."
      }
    },
    "com.azure.frontdoor#RoutingRuleUpdateParametersWebApplicationFirewallPolicyLink": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the Web Application Firewall policy for each routing rule (if applicable)"
      }
    },
    "com.azure.frontdoor#RoutingRuleEnabledState": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether to enable use of this rule. Permitted values are 'Enabled' or 'Disabled'"
      }
    },
    "com.azure.frontdoor#RoutingRulePropertiesPatternsToMatchList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The route patterns of the rule."
      }
    },
    "com.azure.frontdoor#RoutingRulePropertiesAcceptedProtocolsList": {
      "type": "list",
      "member": {
        "target": "com.azure.frontdoor#FrontDoorProtocol"
      },
      "traits": {
        "smithy.api#documentation": "Protocol schemes to match for this rule"
      }
    },
    "com.azure.frontdoor#RoutingRulePropertiesFrontendEndpointsList": {
      "type": "list",
      "member": {
        "target": "com.azure.frontdoor#SubResource"
      },
      "traits": {
        "smithy.api#documentation": "Frontend endpoints associated with this rule"
      }
    },
    "com.azure.frontdoor#FrontDoorsCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.frontdoor#FrontDoorsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "frontDoorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Front Door which is globally unique."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource location."
          }
        },
        "tags": {
          "target": "com.azure.frontdoor#FrontDoorsCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "properties": {
          "target": "com.azure.frontdoor#FrontDoorPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Properties of the Front Door Load Balancer"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.frontdoor#FrontDoorPropertiesInput": {
      "type": "structure",
      "members": {
        "friendlyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A friendly name for the frontDoor"
          }
        },
        "routingRules": {
          "target": "com.azure.frontdoor#FrontDoorPropertiesInputRoutingRulesList",
          "traits": {
            "smithy.api#documentation": "Routing rules associated with this Front Door."
          }
        },
        "loadBalancingSettings": {
          "target": "com.azure.frontdoor#FrontDoorPropertiesInputLoadBalancingSettingsList",
          "traits": {
            "smithy.api#documentation": "Load balancing settings associated with this Front Door instance."
          }
        },
        "healthProbeSettings": {
          "target": "com.azure.frontdoor#FrontDoorPropertiesInputHealthProbeSettingsList",
          "traits": {
            "smithy.api#documentation": "Health probe settings associated with this Front Door instance."
          }
        },
        "backendPools": {
          "target": "com.azure.frontdoor#FrontDoorPropertiesInputBackendPoolsList",
          "traits": {
            "smithy.api#documentation": "Backend pools available to routing rules."
          }
        },
        "frontendEndpoints": {
          "target": "com.azure.frontdoor#FrontDoorPropertiesInputFrontendEndpointsList",
          "traits": {
            "smithy.api#documentation": "Frontend endpoints available to routing rules."
          }
        },
        "backendPoolsSettings": {
          "target": "com.azure.frontdoor#BackendPoolsSettings",
          "traits": {
            "smithy.api#documentation": "Settings for all backendPools"
          }
        },
        "enabledState": {
          "target": "com.azure.frontdoor#FrontDoorEnabledState",
          "traits": {
            "smithy.api#documentation": "Operational status of the Front Door load balancer. Permitted values are 'Enabled' or 'Disabled'"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The JSON object that contains the properties required to create an endpoint."
      }
    },
    "com.azure.frontdoor#FrontDoorPropertiesInputFrontendEndpointsList": {
      "type": "list",
      "member": {
        "target": "com.azure.frontdoor#FrontendEndpointInput"
      },
      "traits": {
        "smithy.api#documentation": "Frontend endpoints available to routing rules."
      }
    },
    "com.azure.frontdoor#FrontendEndpointInput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        },
        "properties": {
          "target": "com.azure.frontdoor#FrontendEndpointProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the Frontend endpoint"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A frontend endpoint used for routing."
      }
    },
    "com.azure.frontdoor#FrontDoorPropertiesInputBackendPoolsList": {
      "type": "list",
      "member": {
        "target": "com.azure.frontdoor#BackendPoolInput"
      },
      "traits": {
        "smithy.api#documentation": "Backend pools available to routing rules."
      }
    },
    "com.azure.frontdoor#BackendPoolInput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        },
        "properties": {
          "target": "com.azure.frontdoor#BackendPoolProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the Front Door Backend Pool"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A backend pool is a collection of backends that can be routed to."
      }
    },
    "com.azure.frontdoor#FrontDoorPropertiesInputHealthProbeSettingsList": {
      "type": "list",
      "member": {
        "target": "com.azure.frontdoor#HealthProbeSettingsModelInput"
      },
      "traits": {
        "smithy.api#documentation": "Health probe settings associated with this Front Door instance."
      }
    },
    "com.azure.frontdoor#HealthProbeSettingsModelInput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        },
        "properties": {
          "target": "com.azure.frontdoor#HealthProbeSettingsProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the health probe settings"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Load balancing settings for a backend pool"
      }
    },
    "com.azure.frontdoor#FrontDoorPropertiesInputLoadBalancingSettingsList": {
      "type": "list",
      "member": {
        "target": "com.azure.frontdoor#LoadBalancingSettingsModelInput"
      },
      "traits": {
        "smithy.api#documentation": "Load balancing settings associated with this Front Door instance."
      }
    },
    "com.azure.frontdoor#LoadBalancingSettingsModelInput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        },
        "properties": {
          "target": "com.azure.frontdoor#LoadBalancingSettingsProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the load balancing settings"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Load balancing settings for a backend pool"
      }
    },
    "com.azure.frontdoor#FrontDoorPropertiesInputRoutingRulesList": {
      "type": "list",
      "member": {
        "target": "com.azure.frontdoor#RoutingRuleInput"
      },
      "traits": {
        "smithy.api#documentation": "Routing rules associated with this Front Door."
      }
    },
    "com.azure.frontdoor#RoutingRuleInput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        },
        "properties": {
          "target": "com.azure.frontdoor#RoutingRuleProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the Front Door Routing Rule"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A routing rule represents a specification for traffic to treat and where to send it, along with health probe information."
      }
    },
    "com.azure.frontdoor#FrontDoorsCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.frontdoor#FrontDoorsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.frontdoor#FrontDoorsGetRequest"
      },
      "output": {
        "target": "com.azure.frontdoor#FrontDoorsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/frontDoors/{frontDoorName}",
          "code": 200,
          "apiVersion": "2025-11-01"
        },
        "smithy.api#documentation": "Gets a Front Door with the specified Front Door name under the specified subscription and resource group.",
        "com.distilled.openapi#apiVersion": "2025-11-01"
      }
    },
    "com.azure.frontdoor#FrontDoorsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
[...]
