{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.hdinsight#ApplicationsGetAzureAsyncOperationStatus": {
      "type": "operation",
      "input": {
        "target": "com.azure.hdinsight#ApplicationsGetAzureAsyncOperationStatusRequest"
      },
      "output": {
        "target": "com.azure.hdinsight#ApplicationsGetAzureAsyncOperationStatusResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/applications/{applicationName}/azureasyncoperations/{operationId}",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Gets the async operation status.",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.hdinsight#ApplicationsGetAzureAsyncOperationStatusResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.hdinsight#ApplicationsGetAzureAsyncOperationStatusResponseStatus",
          "traits": {
            "smithy.api#documentation": "The async operation state."
          }
        },
        "error": {
          "target": "com.azure.hdinsight#Errors",
          "traits": {
            "smithy.api#documentation": "The operation error information."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.hdinsight#Errors": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The error message associated with the cluster creation."
      }
    },
    "com.azure.hdinsight#ApplicationsGetAzureAsyncOperationStatusResponseStatus": {
      "type": "enum",
      "members": {
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The async operation state."
      }
    },
    "com.azure.hdinsight#ApplicationsGetAzureAsyncOperationStatusRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster."
          }
        },
        "applicationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The constant value for the application name."
          }
        },
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The long running operation id."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hdinsight#ApplicationsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.hdinsight#ApplicationsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/applications/{applicationName}",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Deletes the specified application on the HDInsight cluster.",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.hdinsight#ApplicationsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster."
          }
        },
        "applicationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The constant value for the application name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hdinsight#ApplicationsCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.hdinsight#ApplicationsCreateRequest"
      },
      "output": {
        "target": "com.azure.hdinsight#ApplicationsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/applications/{applicationName}",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Creates applications for the HDInsight cluster.",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.hdinsight#ApplicationsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ETag for the application"
          }
        },
        "tags": {
          "target": "com.azure.hdinsight#ApplicationsCreateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "The tags for the application."
          }
        },
        "properties": {
          "target": "com.azure.hdinsight#ApplicationProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the application."
          }
        },
        "systemData": {
          "target": "com.azure.hdinsight#ApplicationsCreateResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.hdinsight#ApplicationsCreateResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.hdinsight#ApplicationsCreateResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.hdinsight#ApplicationsCreateResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.hdinsight#ApplicationsCreateResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.hdinsight#ApplicationsCreateResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.hdinsight#ApplicationProperties": {
      "type": "structure",
      "members": {
        "computeProfile": {
          "target": "com.azure.hdinsight#ApplicationPropertiesComputeProfile",
          "traits": {
            "smithy.api#documentation": "Describes the compute profile."
          }
        },
        "installScriptActions": {
          "target": "com.azure.hdinsight#ApplicationPropertiesInstallScriptActionsList",
          "traits": {
            "smithy.api#documentation": "The list of install script actions."
          }
        },
        "uninstallScriptActions": {
          "target": "com.azure.hdinsight#ApplicationPropertiesUninstallScriptActionsList",
          "traits": {
            "smithy.api#documentation": "The list of uninstall script actions."
          }
        },
        "httpsEndpoints": {
          "target": "com.azure.hdinsight#ApplicationPropertiesHttpsEndpointsList",
          "traits": {
            "smithy.api#documentation": "The list of application HTTPS endpoints."
          }
        },
        "sshEndpoints": {
          "target": "com.azure.hdinsight#ApplicationPropertiesSshEndpointsList",
          "traits": {
            "smithy.api#documentation": "The list of application SSH endpoints."
          }
        },
        "provisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the application."
          }
        },
        "applicationType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application type."
          }
        },
        "applicationState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application state."
          }
        },
        "errors": {
          "target": "com.azure.hdinsight#ApplicationPropertiesErrorsList",
          "traits": {
            "smithy.api#documentation": "The list of errors."
          }
        },
        "createdDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application create date time."
          }
        },
        "marketplaceIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The marketplace identifier."
          }
        },
        "privateLinkConfigurations": {
          "target": "com.azure.hdinsight#ApplicationPropertiesPrivateLinkConfigurationsList",
          "traits": {
            "smithy.api#documentation": "The private link configurations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The HDInsight cluster application GET response."
      }
    },
    "com.azure.hdinsight#ApplicationPropertiesPrivateLinkConfigurationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.hdinsight#ApplicationPropertiesPrivateLinkConfigurationsItem"
      },
      "traits": {
        "smithy.api#documentation": "The private link configurations."
      }
    },
    "com.azure.hdinsight#ApplicationPropertiesPrivateLinkConfigurationsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The private link configuration id."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of private link configuration.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the private link configuration."
          }
        },
        "properties": {
          "target": "com.azure.hdinsight#PrivateLinkConfigurationProperties",
          "traits": {
            "smithy.api#documentation": "The private link configuration properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private link configuration."
      }
    },
    "com.azure.hdinsight#PrivateLinkConfigurationProperties": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HDInsight private linkable sub-resource name to apply the private link configuration to. For example, 'headnode', 'gateway', 'edgenode'.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.hdinsight#PrivateLinkConfigurationPropertiesProvisioningState",
          "traits": {
            "smithy.api#documentation": "The private link configuration provisioning state, which only appears in the response."
          }
        },
        "ipConfigurations": {
          "target": "com.azure.hdinsight#PrivateLinkConfigurationPropertiesIpConfigurationsList",
          "traits": {
            "smithy.api#documentation": "The IP configurations for the private link service.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private link configuration properties."
      }
    },
    "com.azure.hdinsight#PrivateLinkConfigurationPropertiesIpConfigurationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.hdinsight#IPConfiguration"
      },
      "traits": {
        "smithy.api#documentation": "The IP configurations for the private link service."
      }
    },
    "com.azure.hdinsight#IPConfiguration": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The private link IP configuration id."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of private link IP configuration.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the private link IP configuration."
          }
        },
        "properties": {
          "target": "com.azure.hdinsight#IPConfigurationProperties",
          "traits": {
            "smithy.api#documentation": "The private link ip configuration properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ip configurations for the private link service."
      }
    },
    "com.azure.hdinsight#IPConfigurationProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.hdinsight#IPConfigurationPropertiesProvisioningState",
          "traits": {
            "smithy.api#documentation": "The private link configuration provisioning state, which only appears in the response."
          }
        },
        "primary": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether this IP configuration is primary for the corresponding NIC."
          }
        },
        "privateIPAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address."
          }
        },
        "privateIPAllocationMethod": {
          "target": "com.azure.hdinsight#IPConfigurationPropertiesPrivateIPAllocationMethod",
          "traits": {
            "smithy.api#documentation": "The method that private IP address is allocated."
          }
        },
        "subnet": {
          "target": "com.azure.hdinsight#ResourceId",
          "traits": {
            "smithy.api#documentation": "The subnet resource id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private link ip configuration properties."
      }
    },
    "com.azure.hdinsight#ResourceId": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The azure resource id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The azure resource id."
      }
    },
    "com.azure.hdinsight#IPConfigurationPropertiesPrivateIPAllocationMethod": {
      "type": "enum",
      "members": {
        "DYNAMIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dynamic"
          }
        },
        "STATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "static"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The method that private IP address is allocated."
      }
    },
    "com.azure.hdinsight#IPConfigurationPropertiesProvisioningState": {
      "type": "enum",
      "members": {
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private link configuration provisioning state, which only appears in the response."
      }
    },
    "com.azure.hdinsight#PrivateLinkConfigurationPropertiesProvisioningState": {
      "type": "enum",
      "members": {
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private link configuration provisioning state, which only appears in the response."
      }
    },
    "com.azure.hdinsight#ApplicationPropertiesErrorsList": {
      "type": "list",
      "member": {
        "target": "com.azure.hdinsight#ApplicationPropertiesErrorsItem"
      },
      "traits": {
        "smithy.api#documentation": "The list of errors."
      }
    },
    "com.azure.hdinsight#ApplicationPropertiesErrorsItem": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The error message associated with the cluster creation."
      }
    },
    "com.azure.hdinsight#ApplicationPropertiesSshEndpointsList": {
      "type": "list",
      "member": {
        "target": "com.azure.hdinsight#ApplicationGetEndpoint"
      },
      "traits": {
        "smithy.api#documentation": "The list of application SSH endpoints."
      }
    },
    "com.azure.hdinsight#ApplicationGetEndpoint": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the endpoint."
          }
        },
        "destinationPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The destination port to connect to."
          }
        },
        "publicPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The public port to connect to."
          }
        },
        "privateIPAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The private ip address of the endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Gets the application SSH endpoint"
      }
    },
    "com.azure.hdinsight#ApplicationPropertiesHttpsEndpointsList": {
      "type": "list",
      "member": {
        "target": "com.azure.hdinsight#ApplicationGetHttpsEndpoint"
      },
      "traits": {
        "smithy.api#documentation": "The list of application HTTPS endpoints."
      }
    },
    "com.azure.hdinsight#ApplicationGetHttpsEndpoint": {
      "type": "structure",
      "members": {
        "accessModes": {
          "target": "com.azure.hdinsight#ApplicationGetHttpsEndpointAccessModesList",
          "traits": {
            "smithy.api#documentation": "The list of access modes for the application."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the endpoint."
          }
        },
        "destinationPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The destination port to connect to."
          }
        },
        "publicPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The public port to connect to."
          }
        },
        "privateIPAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The private ip address of the endpoint."
          }
        },
        "subDomainSuffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subdomain suffix of the application."
          }
        },
        "disableGatewayAuth": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The value indicates whether to disable GatewayAuth."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Gets the application HTTP endpoints."
      }
    },
    "com.azure.hdinsight#ApplicationGetHttpsEndpointAccessModesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of access modes for the application."
      }
    },
    "com.azure.hdinsight#ApplicationPropertiesUninstallScriptActionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.hdinsight#ApplicationPropertiesUninstallScriptActionsItem"
      },
      "traits": {
        "smithy.api#documentation": "The list of uninstall script actions."
      }
    },
    "com.azure.hdinsight#ApplicationPropertiesUninstallScriptActionsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the script action.",
            "smithy.api#required": {}
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI to the script.",
            "smithy.api#required": {}
          }
        },
        "parameters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parameters for the script"
          }
        },
        "roles": {
          "target": "com.azure.hdinsight#ApplicationPropertiesUninstallScriptActionsItemRolesList",
          "traits": {
            "smithy.api#documentation": "The list of roles where script will be executed.",
            "smithy.api#required": {}
          }
        },
        "applicationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application name of the script action, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a script action on a running cluster."
      }
    },
    "com.azure.hdinsight#ApplicationPropertiesUninstallScriptActionsItemRolesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of roles where script will be executed."
      }
    },
    "com.azure.hdinsight#ApplicationPropertiesInstallScriptActionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.hdinsight#ApplicationPropertiesInstallScriptActionsItem"
      },
      "traits": {
        "smithy.api#documentation": "The list of install script actions."
      }
    },
    "com.azure.hdinsight#ApplicationPropertiesInstallScriptActionsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the script action.",
            "smithy.api#required": {}
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI to the script.",
            "smithy.api#required": {}
          }
        },
        "parameters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parameters for the script"
          }
        },
        "roles": {
          "target": "com.azure.hdinsight#ApplicationPropertiesInstallScriptActionsItemRolesList",
          "traits": {
            "smithy.api#documentation": "The list of roles where script will be executed.",
            "smithy.api#required": {}
          }
        },
        "applicationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application name of the script action, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a script action on a running cluster."
      }
    },
    "com.azure.hdinsight#ApplicationPropertiesInstallScriptActionsItemRolesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of roles where script will be executed."
      }
    },
    "com.azure.hdinsight#ApplicationPropertiesComputeProfile": {
      "type": "structure",
      "members": {
        "roles": {
          "target": "com.azure.hdinsight#ApplicationPropertiesComputeProfileRolesList",
          "traits": {
            "smithy.api#documentation": "The list of roles in the cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the compute profile."
      }
    },
    "com.azure.hdinsight#ApplicationPropertiesComputeProfileRolesList": {
      "type": "list",
      "member": {
        "target": "com.azure.hdinsight#Role"
      },
      "traits": {
        "smithy.api#documentation": "The list of roles in the cluster."
      }
    },
    "com.azure.hdinsight#Role": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the role."
          }
        },
        "minInstanceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The minimum instance count of the cluster."
          }
        },
        "targetInstanceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The instance count of the cluster."
          }
        },
        "VMGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the virtual machine group."
          }
        },
        "autoscale": {
          "target": "com.azure.hdinsight#Autoscale",
          "traits": {
            "smithy.api#documentation": "The autoscale configurations."
          }
        },
        "hardwareProfile": {
          "target": "com.azure.hdinsight#HardwareProfile",
          "traits": {
            "smithy.api#documentation": "The hardware profile."
          }
        },
        "osProfile": {
          "target": "com.azure.hdinsight#OsProfile",
          "traits": {
            "smithy.api#documentation": "The operating system profile."
          }
        },
        "virtualNetworkProfile": {
          "target": "com.azure.hdinsight#VirtualNetworkProfile",
          "traits": {
            "smithy.api#documentation": "The virtual network profile."
          }
        },
        "dataDisksGroups": {
          "target": "com.azure.hdinsight#RoleDataDisksGroupsList",
          "traits": {
            "smithy.api#documentation": "The data disks groups for the role."
          }
        },
        "scriptActions": {
          "target": "com.azure.hdinsight#RoleScriptActionsList",
          "traits": {
            "smithy.api#documentation": "The list of script actions on the role."
          }
        },
        "encryptDataDisks": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether encrypt the data disks."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a role on the cluster."
      }
    },
    "com.azure.hdinsight#RoleScriptActionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.hdinsight#RoleScriptActionsItem"
      },
      "traits": {
        "smithy.api#documentation": "The list of script actions on the role."
      }
    },
    "com.azure.hdinsight#RoleScriptActionsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the script action.",
            "smithy.api#required": {}
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI to the script.",
            "smithy.api#required": {}
          }
        },
        "parameters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parameters for the script provided.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a script action on role on the cluster."
      }
    },
    "com.azure.hdinsight#RoleDataDisksGroupsList": {
      "type": "list",
      "member": {
        "target": "com.azure.hdinsight#DataDisksGroups"
      },
      "traits": {
        "smithy.api#documentation": "The data disks groups for the role."
      }
    },
    "com.azure.hdinsight#DataDisksGroups": {
      "type": "structure",
      "members": {
        "disksPerNode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of disks per node."
          }
        },
        "storageAccountType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ReadOnly. The storage account type. Do not set this value."
          }
        },
        "diskSizeGB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ReadOnly. The DiskSize in GB. Do not set this value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The data disks groups for the role."
      }
    },
    "com.azure.hdinsight#VirtualNetworkProfile": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the virtual network."
          }
        },
        "subnet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the subnet."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The virtual network properties."
      }
    },
    "com.azure.hdinsight#OsProfile": {
      "type": "structure",
      "members": {
        "linuxOperatingSystemProfile": {
          "target": "com.azure.hdinsight#LinuxOperatingSystemProfile",
          "traits": {
            "smithy.api#documentation": "The Linux OS profile."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Linux operation systems profile."
      }
    },
    "com.azure.hdinsight#LinuxOperatingSystemProfile": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The username."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The password.",
            "smithy.api#sensitive": {}
          }
        },
        "sshProfile": {
          "target": "com.azure.hdinsight#SshProfile",
          "traits": {
            "smithy.api#documentation": "The SSH profile."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ssh username, password, and ssh public key."
      }
    },
    "com.azure.hdinsight#SshProfile": {
      "type": "structure",
      "members": {
        "publicKeys": {
          "target": "com.azure.hdinsight#SshProfilePublicKeysList",
          "traits": {
            "smithy.api#documentation": "The list of SSH public keys."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of SSH public keys."
      }
    },
    "com.azure.hdinsight#SshProfilePublicKeysList": {
      "type": "list",
      "member": {
        "target": "com.azure.hdinsight#SshPublicKey"
      },
      "traits": {
        "smithy.api#documentation": "The list of SSH public keys."
      }
    },
    "com.azure.hdinsight#SshPublicKey": {
      "type": "structure",
      "members": {
        "certificateData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate for SSH."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The SSH public key for the cluster nodes."
      }
    },
    "com.azure.hdinsight#HardwareProfile": {
      "type": "structure",
      "members": {
        "vmSize": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The size of the VM"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The hardware profile."
      }
    },
    "com.azure.hdinsight#Autoscale": {
      "type": "structure",
      "members": {
        "capacity": {
          "target": "com.azure.hdinsight#AutoscaleCapacity",
          "traits": {
            "smithy.api#documentation": "Parameters for load-based autoscale"
          }
        },
        "recurrence": {
          "target": "com.azure.hdinsight#AutoscaleRecurrence",
          "traits": {
            "smithy.api#documentation": "Parameters for schedule-based autoscale"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The autoscale request parameters"
      }
    },
    "com.azure.hdinsight#AutoscaleRecurrence": {
      "type": "structure",
      "members": {
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time zone for the autoscale schedule times"
          }
        },
        "schedule": {
          "target": "com.azure.hdinsight#AutoscaleRecurrenceScheduleList",
          "traits": {
            "smithy.api#documentation": "Array of schedule-based autoscale rules"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Schedule-based autoscale request parameters"
      }
    },
    "com.azure.hdinsight#AutoscaleRecurrenceScheduleList": {
      "type": "list",
      "member": {
        "target": "com.azure.hdinsight#AutoscaleSchedule"
      },
      "traits": {
        "smithy.api#documentation": "Array of schedule-based autoscale rules"
      }
    },
    "com.azure.hdinsight#AutoscaleSchedule": {
      "type": "structure",
      "members": {
        "days": {
          "target": "com.azure.hdinsight#AutoscaleScheduleDaysList",
          "traits": {
            "smithy.api#documentation": "Days of the week for a schedule-based autoscale rule"
          }
        },
        "timeAndCapacity": {
          "target": "com.azure.hdinsight#AutoscaleTimeAndCapacity",
          "traits": {
            "smithy.api#documentation": "Time and capacity for a schedule-based autoscale rule"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parameters for a schedule-based autoscale rule, consisting of an array of days + a time and capacity"
      }
    },
    "com.azure.hdinsight#AutoscaleTimeAndCapacity": {
      "type": "structure",
      "members": {
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "24-hour time in the form xx:xx"
          }
        },
        "minInstanceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The minimum instance count of the cluster"
          }
        },
        "maxInstanceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum instance count of the cluster"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Time and capacity request parameters"
      }
    },
    "com.azure.hdinsight#AutoscaleScheduleDaysList": {
      "type": "list",
      "member": {
        "target": "com.azure.hdinsight#AutoscaleScheduleDaysItem"
      },
      "traits": {
        "smithy.api#documentation": "Days of the week for a schedule-based autoscale rule"
      }
    },
    "com.azure.hdinsight#AutoscaleScheduleDaysItem": {
      "type": "enum",
      "members": {
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Monday"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Tuesday"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Wednesday"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Thursday"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Friday"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Saturday"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sunday"
          }
        }
      },
      "traits": {}
    },
    "com.azure.hdinsight#AutoscaleCapacity": {
      "type": "structure",
      "members": {
        "minInstanceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The minimum instance count of the cluster"
          }
        },
        "maxInstanceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum instance count of the cluster"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The load-based autoscale request parameters"
      }
    },
    "com.azure.hdinsight#ApplicationsCreateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The tags for the application."
      }
    },
    "com.azure.hdinsight#ApplicationsCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster."
          }
        },
        "applicationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The constant value for the application name."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ETag for the application"
          }
        },
        "tags": {
          "target": "com.azure.hdinsight#ApplicationsCreateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "The tags for the application."
          }
        },
        "properties": {
          "target": "com.azure.hdinsight#ApplicationPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The properties of the application."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hdinsight#ApplicationPropertiesInput": {
      "type": "structure",
      "members": {
        "computeProfile": {
          "target": "com.azure.hdinsight#ApplicationPropertiesInputComputeProfile",
          "traits": {
            "smithy.api#documentation": "Describes the compute profile."
          }
        },
        "installScriptActions": {
          "target": "com.azure.hdinsight#ApplicationPropertiesInputInstallScriptActionsList",
          "traits": {
            "smithy.api#documentation": "The list of install script actions."
          }
        },
        "uninstallScriptActions": {
          "target": "com.azure.hdinsight#ApplicationPropertiesInputUninstallScriptActionsList",
          "traits": {
            "smithy.api#documentation": "The list of uninstall script actions."
          }
        },
        "httpsEndpoints": {
          "target": "com.azure.hdinsight#ApplicationPropertiesInputHttpsEndpointsList",
          "traits": {
            "smithy.api#documentation": "The list of application HTTPS endpoints."
          }
        },
        "sshEndpoints": {
          "target": "com.azure.hdinsight#ApplicationPropertiesInputSshEndpointsList",
          "traits": {
            "smithy.api#documentation": "The list of application SSH endpoints."
          }
        },
        "applicationType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application type."
          }
        },
        "errors": {
          "target": "com.azure.hdinsight#ApplicationPropertiesInputErrorsList",
          "traits": {
            "smithy.api#documentation": "The list of errors."
          }
        },
        "privateLinkConfigurations": {
          "target": "com.azure.hdinsight#ApplicationPropertiesInputPrivateLinkConfigurationsList",
          "traits": {
            "smithy.api#documentation": "The private link configurations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The HDInsight cluster application GET response."
      }
    },
    "com.azure.hdinsight#ApplicationPropertiesInputPrivateLinkConfigurationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.hdinsight#ApplicationPropertiesInputPrivateLinkConfigurationsItem"
      },
      "traits": {
        "smithy.api#documentation": "The private link configurations."
      }
    },
    "com.azure.hdinsight#ApplicationPropertiesInputPrivateLinkConfigurationsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of private link configuration.",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.hdinsight#PrivateLinkConfigurationPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The private link configuration properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private link configuration."
      }
    },
    "com.azure.hdinsight#PrivateLinkConfigurationPropertiesInput": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HDInsight private linkable sub-resource name to apply the private link configuration to. For example, 'headnode', 'gateway', 'edgenode'.",
            "smithy.api#required": {}
          }
        },
        "ipConfigurations": {
          "target": "com.azure.hdinsight#PrivateLinkConfigurationPropertiesInputIpConfigurationsList",
          "traits": {
            "smithy.api#documentation": "The IP configurations for the private link service.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private link configuration properties."
      }
    },
    "com.azure.hdinsight#PrivateLinkConfigurationPropertiesInputIpConfigurationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.hdinsight#IPConfigurationInput"
      },
      "traits": {
        "smithy.api#documentation": "The IP configurations for the private link service."
      }
    },
    "com.azure.hdinsight#IPConfigurationInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of private link IP configuration.",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.hdinsight#IPConfigurationPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The private link ip configuration properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ip configurations for the private link service."
      }
    },
    "com.azure.hdinsight#IPConfigurationPropertiesInput": {
      "type": "structure",
      "members": {
        "primary": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether this IP configuration is primary for the corresponding NIC."
          }
        },
        "privateIPAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address."
          }
        },
        "privateIPAllocationMethod": {
          "target": "com.azure.hdinsight#IPConfigurationPropertiesInputPrivateIPAllocationMethod",
          "traits": {
            "smithy.api#documentation": "The method that private IP address is allocated."
          }
        },
        "subnet": {
          "target": "com.azure.hdinsight#ResourceId",
          "traits": {
            "smithy.api#documentation": "The subnet resource id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private link ip configuration properties."
      }
    },
    "com.azure.hdinsight#IPConfigurationPropertiesInputPrivateIPAllocationMethod": {
      "type": "enum",
      "members": {
        "DYNAMIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dynamic"
          }
        },
        "STATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "static"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The method that private IP address is allocated."
      }
    },
    "com.azure.hdinsight#ApplicationPropertiesInputErrorsList": {
      "type": "list",
      "member": {
        "target": "com.azure.hdinsight#ApplicationPropertiesInputErrorsItem"
      },
      "traits": {
        "smithy.api#documentation": "The list of errors."
      }
    },
    "com.azure.hdinsight#ApplicationPropertiesInputErrorsItem": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The error message associated with the cluster creation."
      }
    },
    "com.azure.hdinsight#ApplicationPropertiesInputSshEndpointsList": {
      "type": "list",
      "member": {
        "target": "com.azure.hdinsight#ApplicationGetEndpoint"
      },
      "traits": {
        "smithy.api#documentation": "The list of application SSH endpoints."
      }
    },
    "com.azure.hdinsight#ApplicationPropertiesInputHttpsEndpointsList": {
      "type": "list",
      "member": {
        "target": "com.azure.hdinsight#ApplicationGetHttpsEndpointInput"
      },
      "traits": {
        "smithy.api#documentation": "The list of application HTTPS endpoints."
      }
    },
    "com.azure.hdinsight#ApplicationGetHttpsEndpointInput": {
      "type": "structure",
      "members": {
        "accessModes": {
          "target": "com.azure.hdinsight#ApplicationGetHttpsEndpointInputAccessModesList",
          "traits": {
            "smithy.api#documentation": "The list of access modes for the application."
          }
        },
        "destinationPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The destination port to connect to."
          }
        },
        "privateIPAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The private ip address of the endpoint."
          }
        },
        "subDomainSuffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subdomain suffix of the application."
          }
        },
        "disableGatewayAuth": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The value indicates whether to disable GatewayAuth."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Gets the application HTTP endpoints."
      }
    },
    "com.azure.hdinsight#ApplicationGetHttpsEndpointInputAccessModesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of access modes for the application."
      }
    },
    "com.azure.hdinsight#ApplicationPropertiesInputUninstallScriptActionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.hdinsight#ApplicationPropertiesInputUninstallScriptActionsItem"
      },
      "traits": {
        "smithy.api#documentation": "The list of uninstall script actions."
      }
    },
    "com.azure.hdinsight#ApplicationPropertiesInputUninstallScriptActionsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the script action.",
            "smithy.api#required": {}
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI to the script.",
            "smithy.api#required": {}
          }
        },
        "parameters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parameters for the script"
          }
        },
        "roles": {
          "target": "com.azure.hdinsight#ApplicationPropertiesInputUninstallScriptActionsItemRolesList",
          "traits": {
            "smithy.api#documentation": "The list of roles where script will be executed.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a script action on a running cluster."
      }
    },
    "com.azure.hdinsight#ApplicationPropertiesInputUninstallScriptActionsItemRolesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of roles where script will be executed."
      }
    },
    "com.azure.hdinsight#ApplicationPropertiesInputInstallScriptActionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.hdinsight#ApplicationPropertiesInputInstallScriptActionsItem"
      },
      "traits": {
        "smithy.api#documentation": "The list of install script actions."
      }
    },
    "com.azure.hdinsight#ApplicationPropertiesInputInstallScriptActionsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the script action.",
            "smithy.api#required": {}
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI to the script.",
            "smithy.api#required": {}
          }
        },
        "parameters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parameters for the script"
          }
        },
        "roles": {
          "target": "com.azure.hdinsight#ApplicationPropertiesInputInstallScriptActionsItemRolesList",
          "traits": {
            "smithy.api#documentation": "The list of roles where script will be executed.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a script action on a running cluster."
      }
    },
    "com.azure.hdinsight#ApplicationPropertiesInputInstallScriptActionsItemRolesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of roles where script will be executed."
      }
    },
    "com.azure.hdinsight#ApplicationPropertiesInputComputeProfile": {
      "type": "structure",
      "members": {
        "roles": {
          "target": "com.azure.hdinsight#ApplicationPropertiesInputComputeProfileRolesList",
          "traits": {
            "smithy.api#documentation": "The list of roles in the cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the compute profile."
      }
    },
    "com.azure.hdinsight#ApplicationPropertiesInputComputeProfileRolesList": {
      "type": "list",
      "member": {
        "target": "com.azure.hdinsight#RoleInput"
      },
      "traits": {
        "smithy.api#documentation": "The list of roles in the cluster."
      }
    },
    "com.azure.hdinsight#RoleInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the role."
          }
        },
        "minInstanceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The minimum instance count of the cluster."
          }
        },
        "targetInstanceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The instance count of the cluster."
          }
        },
        "VMGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the virtual machine group."
          }
        },
        "autoscale": {
          "target": "com.azure.hdinsight#Autoscale",
          "traits": {
            "smithy.api#documentation": "The autoscale configurations."
          }
        },
        "hardwareProfile": {
          "target": "com.azure.hdinsight#HardwareProfile",
          "traits": {
            "smithy.api#documentation": "The hardware profile."
          }
        },
        "osProfile": {
          "target": "com.azure.hdinsight#OsProfile",
          "traits": {
            "smithy.api#documentation": "The operating system profile."
          }
        },
        "virtualNetworkProfile": {
          "target": "com.azure.hdinsight#VirtualNetworkProfile",
          "traits": {
            "smithy.api#documentation": "The virtual network profile."
          }
        },
        "dataDisksGroups": {
          "target": "com.azure.hdinsight#RoleInputDataDisksGroupsList",
          "traits": {
            "smithy.api#documentation": "The data disks groups for the role."
          }
        },
        "scriptActions": {
          "target": "com.azure.hdinsight#RoleInputScriptActionsList",
          "traits": {
            "smithy.api#documentation": "The list of script actions on the role."
          }
        },
        "encryptDataDisks": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether encrypt the data disks."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a role on the cluster."
      }
    },
    "com.azure.hdinsight#RoleInputScriptActionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.hdinsight#RoleInputScriptActionsItem"
      },
      "traits": {
        "smithy.api#documentation": "The list of script actions on the role."
      }
    },
    "com.azure.hdinsight#RoleInputScriptActionsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the script action.",
            "smithy.api#required": {}
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI to the script.",
            "smithy.api#required": {}
          }
        },
        "parameters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parameters for the script provided.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a script action on role on the cluster."
      }
    },
    "com.azure.hdinsight#RoleInputDataDisksGroupsList": {
      "type": "list",
      "member": {
        "target": "com.azure.hdinsight#DataDisksGroupsInput"
      },
      "traits": {
        "smithy.api#documentation": "The data disks groups for the role."
      }
    },
    "com.azure.hdinsight#DataDisksGroupsInput": {
      "type": "structure",
      "members": {
        "disksPerNode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of disks per node."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The data disks groups for the role."
      }
    },
    "com.azure.hdinsight#ApplicationsCreateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The tags for the application."
      }
    },
    "com.azure.hdinsight#ApplicationsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.hdinsight#ApplicationsGetRequest"
      },
      "output": {
        "target": "com.azure.hdinsight#ApplicationsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/applications/{applicationName}",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Gets properties of the specified application.",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.hdinsight#ApplicationsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ETag for the application"
          }
        },
        "tags": {
          "target": "com.azure.hdinsight#ApplicationsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "The tags for the application."
          }
        },
        "properties": {
          "target": "com.azure.hdinsight#ApplicationProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the application."
          }
        },
        "systemData": {
          "target": "com.azure.hdinsight#ApplicationsGetResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.hdinsight#ApplicationsGetResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.hdinsight#ApplicationsGetResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.hdinsight#ApplicationsGetResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.hdinsight#ApplicationsGetResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.hdinsight#ApplicationsGetResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.hdinsight#ApplicationsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The tags for the application."
      }
    },
    "com.azure.hdinsight#ApplicationsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster."
          }
        },
        "applicationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The constant value for the application name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hdinsight#ApplicationsListByCluster": {
      "type": "operation",
      "input": {
        "target": "com.azure.hdinsight#ApplicationsListByClusterRequest"
      },
      "output": {
        "target": "com.azure.hdinsight#ApplicationListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/applications",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Lists all of the applications for the HDInsight cluster.",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.hdinsight#ApplicationListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.hdinsight#ApplicationListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of HDInsight applications installed on HDInsight cluster."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to get the next set of operation list results if there are any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of the request to list cluster Applications. It contains a list of operations and a URL link to get the next set of results."
      }
    },
    "com.azure.hdinsight#ApplicationListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.hdinsight#Application"
      },
      "traits": {
        "smithy.api#documentation": "The list of HDInsight applications installed on HDInsight cluster."
      }
    },
    "com.azure.hdinsight#Application": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ETag for the application"
          }
        },
        "tags": {
          "target": "com.azure.hdinsight#ApplicationTagsMap",
          "traits": {
            "smithy.api#documentation": "The tags for the application."
          }
        },
        "properties": {
          "target": "com.azure.hdinsight#ApplicationProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the application."
          }
        },
        "systemData": {
          "target": "com.azure.hdinsight#ApplicationSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The HDInsight cluster application"
      }
    },
    "com.azure.hdinsight#ApplicationSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.hdinsight#ApplicationSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.hdinsight#ApplicationSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.hdinsight#ApplicationSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.hdinsight#ApplicationSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.hdinsight#ApplicationTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The tags for the application."
      }
    },
    "com.azure.hdinsight#ApplicationsListByClusterRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hdinsight#ClustersUpdateIdentityCertificate": {
      "type": "operation",
      "input": {
        "target": "com.azure.hdinsight#ClustersUpdateIdentityCertificateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/updateClusterIdentityCertificate",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Updates the cluster identity certificate.",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.hdinsight#ClustersUpdateIdentityCertificateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster."
          }
        },
        "applicationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application id."
          }
        },
        "certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate in base64 encoded format."
          }
        },
        "certificatePassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The password of the certificate.",
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hdinsight#ClustersGetAzureAsyncOperationStatus": {
      "type": "operation",
      "input": {
        "target": "com.azure.hdinsight#ClustersGetAzureAsyncOperationStatusRequest"
      },
      "output": {
        "target": "com.azure.hdinsight#AsyncOperationResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/azureasyncoperations/{operationId}",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "The the async operation status.",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.hdinsight#AsyncOperationResult": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.hdinsight#AsyncOperationResultStatus",
          "traits": {
            "smithy.api#documentation": "The async operation state."
          }
        },
        "error": {
          "target": "com.azure.hdinsight#Errors",
          "traits": {
            "smithy.api#documentation": "The operation error information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The azure async operation response."
      }
    },
    "com.azure.hdinsight#AsyncOperationResultStatus": {
      "type": "enum",
      "members": {
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The async operation state."
      }
    },
    "com.azure.hdinsight#ClustersGetAzureAsyncOperationStatusRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster."
          }
        },
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The long running operation id."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hdinsight#ClustersUpdateGatewaySettings": {
      "type": "operation",
      "input": {
        "target": "com.azure.hdinsight#ClustersUpdateGatewaySettingsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/updateGatewaySettings",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Configures the gateway settings on the specified cluster.",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.hdinsight#ClustersUpdateGatewaySettingsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster."
          }
        },
        "restAuthCredential_isEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether or not the gateway settings based authorization is enabled.",
            "smithy.api#jsonName": "restAuthCredential.isEnabled"
          }
        },
        "restAuthCredential_username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The gateway settings user name.",
            "smithy.api#jsonName": "restAuthCredential.username"
          }
        },
        "restAuthCredential_password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The gateway settings user password.",
            "smithy.api#jsonName": "restAuthCredential.password",
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hdinsight#ClustersGetGatewaySettings": {
      "type": "operation",
      "input": {
        "target": "com.azure.hdinsight#ClustersGetGatewaySettingsRequest"
      },
      "output": {
        "target": "com.azure.hdinsight#GatewaySettings"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/getGatewaySettings",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Gets the gateway settings for the specified cluster.",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.hdinsight#GatewaySettings": {
      "type": "structure",
      "members": {
        "restAuthCredential_isEnabled": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates whether or not the gateway settings based authorization is enabled.",
            "smithy.api#jsonName": "restAuthCredential.isEnabled"
          }
        },
        "restAuthCredential_username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The gateway settings user name.",
            "smithy.api#jsonName": "restAuthCredential.username"
          }
        },
        "restAuthCredential_password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The gateway settings user password.",
            "smithy.api#jsonName": "restAuthCredential.password",
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Gateway settings."
      }
    },
    "com.azure.hdinsight#ClustersGetGatewaySettingsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hdinsight#ClustersRotateDiskEncryptionKey": {
      "type": "operation",
      "input": {
        "target": "com.azure.hdinsight#ClustersRotateDiskEncryptionKeyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/rotatediskencryptionkey",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Rotate disk encryption key of the specified HDInsight cluster.",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.hdinsight#ClustersRotateDiskEncryptionKeyRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster."
          }
        },
        "vaultUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base key vault URI where the customers key is located eg. https://myvault.vault.azure.net"
          }
        },
        "keyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key name that is used for enabling disk encryption."
          }
        },
        "keyVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specific key version that is used for enabling disk encryption."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hdinsight#ClustersList": {
      "type": "operation",
      "input": {
        "target": "com.azure.hdinsight#ClustersListRequest"
      },
      "output": {
        "target": "com.azure.hdinsight#ClusterListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/clusters",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Lists all the HDInsight clusters under the subscription.",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.hdinsight#ClusterListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.hdinsight#ClusterListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of Clusters."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link (url) to the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The List Cluster operation response."
      }
    },
    "com.azure.hdinsight#ClusterListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.hdinsight#Cluster"
      },
      "traits": {
        "smithy.api#documentation": "The list of Clusters."
      }
    },
    "com.azure.hdinsight#Cluster": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "tags": {
          "target": "com.azure.hdinsight#ClusterTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ETag for the resource"
          }
        },
        "zones": {
          "target": "com.azure.hdinsight#ClusterZonesList",
          "traits": {
            "smithy.api#documentation": "The availability zones."
          }
        },
        "properties": {
          "target": "com.azure.hdinsight#ClusterGetProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the cluster."
          }
        },
        "identity": {
          "target": "com.azure.hdinsight#ClusterIdentity",
          "traits": {
            "smithy.api#documentation": "The identity of the cluster, if configured."
          }
        },
        "systemData": {
          "target": "com.azure.hdinsight#ClusterSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The HDInsight cluster."
      }
[...]
