{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.healthcareapis#OperationResultsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.healthcareapis#OperationResultsGetRequest"
      },
      "output": {
        "target": "com.azure.healthcareapis#OperationResultsDescription"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.HealthcareApis/locations/{locationName}/operationresults/{operationResultId}",
          "code": 200,
          "apiVersion": "2024-03-31"
        },
        "smithy.api#documentation": "Get the operation result for a long running operation.",
        "com.distilled.openapi#apiVersion": "2024-03-31"
      }
    },
    "com.azure.healthcareapis#OperationResultsDescription": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the operation returned."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation result."
          }
        },
        "status": {
          "target": "com.azure.healthcareapis#OperationResultsDescriptionStatus",
          "traits": {
            "smithy.api#documentation": "The status of the operation being performed."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that the operation was started."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that the operation finished."
          }
        },
        "properties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Additional properties of the operation result."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties indicating the operation result of an operation on a service."
      }
    },
    "com.azure.healthcareapis#OperationResultsDescriptionStatus": {
      "type": "enum",
      "members": {
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Requested"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the operation being performed."
      }
    },
    "com.azure.healthcareapis#OperationResultsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "locationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The location of the operation."
          }
        },
        "operationResultId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the operation result to get."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.healthcareapis#OperationsList": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.azure.healthcareapis#ListOperations"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.HealthcareApis/operations",
          "code": 200,
          "apiVersion": "2024-03-31"
        },
        "smithy.api#documentation": "Lists all of the available operations supported by Microsoft Healthcare resource provider.",
        "com.distilled.openapi#apiVersion": "2024-03-31"
      }
    },
    "com.azure.healthcareapis#ListOperations": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.healthcareapis#ListOperationsValueList",
          "traits": {
            "smithy.api#documentation": "Collection of available operation details"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Available operations of the service"
      }
    },
    "com.azure.healthcareapis#ListOperationsValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.healthcareapis#OperationDetail"
      },
      "traits": {
        "smithy.api#documentation": "Collection of available operation details"
      }
    },
    "com.azure.healthcareapis#OperationDetail": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the operation"
          }
        },
        "isDataAction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the operation applies to data-plane. This is \"true\" for data-plane operations and \"false\" for ARM/control-plane operations."
          }
        },
        "display": {
          "target": "com.azure.healthcareapis#OperationDisplay",
          "traits": {
            "smithy.api#documentation": "Display of the operation"
          }
        },
        "origin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default value is 'user,system'."
          }
        },
        "actionType": {
          "target": "com.azure.healthcareapis#OperationDetailActionType",
          "traits": {
            "smithy.api#documentation": "Enum. Indicates the action type. \"Internal\" refers to actions that are for internal only APIs."
          }
        },
        "properties": {
          "target": "com.azure.healthcareapis#OperationProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the operation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Service REST API operation."
      }
    },
    "com.azure.healthcareapis#OperationProperties": {
      "type": "structure",
      "members": {
        "serviceSpecification": {
          "target": "com.azure.healthcareapis#ServiceSpecification",
          "traits": {
            "smithy.api#documentation": "Service specifications of the operation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Extra Operation properties"
      }
    },
    "com.azure.healthcareapis#ServiceSpecification": {
      "type": "structure",
      "members": {
        "logSpecifications": {
          "target": "com.azure.healthcareapis#ServiceSpecificationLogSpecificationsList",
          "traits": {
            "smithy.api#documentation": "Specifications of the Log for Azure Monitoring"
          }
        },
        "metricSpecifications": {
          "target": "com.azure.healthcareapis#ServiceSpecificationMetricSpecificationsList",
          "traits": {
            "smithy.api#documentation": "Specifications of the Metrics for Azure Monitoring"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Service specification payload"
      }
    },
    "com.azure.healthcareapis#ServiceSpecificationMetricSpecificationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.healthcareapis#MetricSpecification"
      },
      "traits": {
        "smithy.api#documentation": "Specifications of the Metrics for Azure Monitoring"
      }
    },
    "com.azure.healthcareapis#MetricSpecification": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the metric"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Localized friendly display name of the metric"
          }
        },
        "displayDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Localized friendly description of the metric"
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unit that makes sense for the metric"
          }
        },
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the metric category that the metric belongs to. A metric can only belong to a single category."
          }
        },
        "aggregationType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Only provide one value for this field. Valid values: Average, Minimum, Maximum, Total, Count."
          }
        },
        "supportedAggregationTypes": {
          "target": "com.azure.healthcareapis#MetricSpecificationSupportedAggregationTypesList",
          "traits": {
            "smithy.api#documentation": "Supported aggregation types"
          }
        },
        "supportedTimeGrainTypes": {
          "target": "com.azure.healthcareapis#MetricSpecificationSupportedTimeGrainTypesList",
          "traits": {
            "smithy.api#documentation": "Supported time grain types"
          }
        },
        "fillGapWithZero": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to true, then zero will be returned for time duration where no metric is emitted/published."
          }
        },
        "metricFilterPattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pattern for the filter of the metric."
          }
        },
        "dimensions": {
          "target": "com.azure.healthcareapis#MetricSpecificationDimensionsList",
          "traits": {
            "smithy.api#documentation": "Dimensions of the metric"
          }
        },
        "isInternal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the metric is internal."
          }
        },
        "sourceMdmAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source MDM account."
          }
        },
        "sourceMdmNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source MDM namespace."
          }
        },
        "enableRegionalMdmAccount": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether regional MDM account enabled."
          }
        },
        "resourceIdDimensionNameOverride": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource Id dimension name override."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifications of the Metrics for Azure Monitoring"
      }
    },
    "com.azure.healthcareapis#MetricSpecificationDimensionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.healthcareapis#MetricDimension"
      },
      "traits": {
        "smithy.api#documentation": "Dimensions of the metric"
      }
    },
    "com.azure.healthcareapis#MetricDimension": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the dimension"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Localized friendly display name of the dimension"
          }
        },
        "toBeExportedForShoebox": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this dimension should be included for the Shoebox export scenario"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifications of the Dimension of metrics"
      }
    },
    "com.azure.healthcareapis#MetricSpecificationSupportedTimeGrainTypesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Supported time grain types"
      }
    },
    "com.azure.healthcareapis#MetricSpecificationSupportedAggregationTypesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Supported aggregation types"
      }
    },
    "com.azure.healthcareapis#ServiceSpecificationLogSpecificationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.healthcareapis#LogSpecification"
      },
      "traits": {
        "smithy.api#documentation": "Specifications of the Log for Azure Monitoring"
      }
    },
    "com.azure.healthcareapis#LogSpecification": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the log"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Localized friendly display name of the log"
          }
        },
        "blobDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Blob duration of the log"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifications of the Log for Azure Monitoring"
      }
    },
    "com.azure.healthcareapis#OperationDetailActionType": {
      "type": "enum",
      "members": {
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Internal"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enum. Indicates the action type. \"Internal\" refers to actions that are for internal only APIs."
      }
    },
    "com.azure.healthcareapis#OperationDisplay": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service provider: Microsoft.HealthcareApis"
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Type: Services"
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the operation"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Friendly description for the operation,"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object that represents the operation."
      }
    },
    "com.azure.healthcareapis#WorkspacePrivateLinkResourcesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.healthcareapis#WorkspacePrivateLinkResourcesGetRequest"
      },
      "output": {
        "target": "com.azure.healthcareapis#WorkspacePrivateLinkResourcesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareApis/workspaces/{workspaceName}/privateLinkResources/{groupName}",
          "code": 200,
          "apiVersion": "2024-03-31"
        },
        "smithy.api#documentation": "Gets a private link resource that need to be created for a workspace.",
        "com.distilled.openapi#apiVersion": "2024-03-31"
      }
    },
    "com.azure.healthcareapis#WorkspacePrivateLinkResourcesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.healthcareapis#PrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        },
        "systemData": {
          "target": "com.azure.healthcareapis#WorkspacePrivateLinkResourcesGetResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.healthcareapis#WorkspacePrivateLinkResourcesGetResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.healthcareapis#WorkspacePrivateLinkResourcesGetResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.healthcareapis#WorkspacePrivateLinkResourcesGetResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.healthcareapis#WorkspacePrivateLinkResourcesGetResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.healthcareapis#WorkspacePrivateLinkResourcesGetResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.healthcareapis#PrivateLinkResourceProperties": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The private link resource group id."
          }
        },
        "requiredMembers": {
          "target": "com.azure.healthcareapis#PrivateLinkResourcePropertiesRequiredMembersList",
          "traits": {
            "smithy.api#documentation": "The private link resource required member names."
          }
        },
        "requiredZoneNames": {
          "target": "com.azure.healthcareapis#PrivateLinkResourcePropertiesRequiredZoneNamesList",
          "traits": {
            "smithy.api#documentation": "The private link resource Private link DNS zone name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a private link resource."
      }
    },
    "com.azure.healthcareapis#PrivateLinkResourcePropertiesRequiredZoneNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The private link resource Private link DNS zone name."
      }
    },
    "com.azure.healthcareapis#PrivateLinkResourcePropertiesRequiredMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The private link resource required member names."
      }
    },
    "com.azure.healthcareapis#WorkspacePrivateLinkResourcesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the service instance."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of workspace resource."
          }
        },
        "groupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private link resource group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.healthcareapis#WorkspacePrivateLinkResourcesListByWorkspace": {
      "type": "operation",
      "input": {
        "target": "com.azure.healthcareapis#WorkspacePrivateLinkResourcesListByWorkspaceRequest"
      },
      "output": {
        "target": "com.azure.healthcareapis#PrivateLinkResourceListResultDescription"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareApis/workspaces/{workspaceName}/privateLinkResources",
          "code": 200,
          "apiVersion": "2024-03-31"
        },
        "smithy.api#documentation": "Gets the private link resources that need to be created for a workspace.",
        "com.distilled.openapi#apiVersion": "2024-03-31"
      }
    },
    "com.azure.healthcareapis#PrivateLinkResourceListResultDescription": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.healthcareapis#PrivateLinkResourceListResultDescriptionValueList",
          "traits": {
            "smithy.api#documentation": "Array of private link resources"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of private link resources"
      }
    },
    "com.azure.healthcareapis#PrivateLinkResourceListResultDescriptionValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.healthcareapis#PrivateLinkResourceDescription"
      },
      "traits": {
        "smithy.api#documentation": "Array of private link resources"
      }
    },
    "com.azure.healthcareapis#PrivateLinkResourceDescription": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.healthcareapis#PrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        },
        "systemData": {
          "target": "com.azure.healthcareapis#PrivateLinkResourceDescriptionSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Private Endpoint Connection resource."
      }
    },
    "com.azure.healthcareapis#PrivateLinkResourceDescriptionSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.healthcareapis#PrivateLinkResourceDescriptionSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.healthcareapis#PrivateLinkResourceDescriptionSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.healthcareapis#PrivateLinkResourceDescriptionSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.healthcareapis#PrivateLinkResourceDescriptionSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.healthcareapis#WorkspacePrivateLinkResourcesListByWorkspaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the service instance."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of workspace resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.healthcareapis#WorkspacePrivateEndpointConnectionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.healthcareapis#WorkspacePrivateEndpointConnectionsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareApis/workspaces/{workspaceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2024-03-31"
        },
        "smithy.api#documentation": "Deletes a private endpoint connection.",
        "com.distilled.openapi#apiVersion": "2024-03-31"
      }
    },
    "com.azure.healthcareapis#WorkspacePrivateEndpointConnectionsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the service instance."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of workspace resource."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection associated with the Azure resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.healthcareapis#WorkspacePrivateEndpointConnectionsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.healthcareapis#WorkspacePrivateEndpointConnectionsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.healthcareapis#WorkspacePrivateEndpointConnectionsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareApis/workspaces/{workspaceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2024-03-31"
        },
        "smithy.api#documentation": "Update the state of the specified private endpoint connection associated with the workspace.",
        "com.distilled.openapi#apiVersion": "2024-03-31"
      }
    },
    "com.azure.healthcareapis#WorkspacePrivateEndpointConnectionsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.healthcareapis#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        },
        "systemData": {
          "target": "com.azure.healthcareapis#WorkspacePrivateEndpointConnectionsCreateOrUpdateResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.healthcareapis#WorkspacePrivateEndpointConnectionsCreateOrUpdateResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.healthcareapis#WorkspacePrivateEndpointConnectionsCreateOrUpdateResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.healthcareapis#WorkspacePrivateEndpointConnectionsCreateOrUpdateResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.healthcareapis#WorkspacePrivateEndpointConnectionsCreateOrUpdateResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.healthcareapis#WorkspacePrivateEndpointConnectionsCreateOrUpdateResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.healthcareapis#PrivateEndpointConnectionProperties": {
      "type": "structure",
      "members": {
        "privateEndpoint": {
          "target": "com.azure.healthcareapis#PrivateEndpoint",
          "traits": {
            "smithy.api#documentation": "The resource of private end point."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.healthcareapis#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.healthcareapis#PrivateEndpointConnectionProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the private endpoint connection resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the PrivateEndpointConnectProperties."
      }
    },
    "com.azure.healthcareapis#PrivateEndpointConnectionProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current provisioning state."
      }
    },
    "com.azure.healthcareapis#PrivateLinkServiceConnectionState": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.healthcareapis#PrivateEndpointServiceConnectionStatus",
          "traits": {
            "smithy.api#documentation": "Indicates whether the connection has been Approved/Rejected/Removed by the owner of the service."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason for approval/rejection of the connection."
          }
        },
        "actionsRequired": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A message indicating if changes on the service provider require any updates on the consumer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider."
      }
    },
    "com.azure.healthcareapis#PrivateEndpointServiceConnectionStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint connection status."
      }
    },
    "com.azure.healthcareapis#PrivateEndpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ARM identifier for Private Endpoint"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Private Endpoint resource."
      }
    },
    "com.azure.healthcareapis#WorkspacePrivateEndpointConnectionsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the service instance."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of workspace resource."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection associated with the Azure resource"
          }
        },
        "properties": {
          "target": "com.azure.healthcareapis#PrivateEndpointConnectionPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.healthcareapis#PrivateEndpointConnectionPropertiesInput": {
      "type": "structure",
      "members": {
        "privateEndpoint": {
          "target": "com.azure.healthcareapis#PrivateEndpointInput",
          "traits": {
            "smithy.api#documentation": "The resource of private end point."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.healthcareapis#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the PrivateEndpointConnectProperties."
      }
    },
    "com.azure.healthcareapis#PrivateEndpointInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The Private Endpoint resource."
      }
    },
    "com.azure.healthcareapis#WorkspacePrivateEndpointConnectionsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.healthcareapis#WorkspacePrivateEndpointConnectionsGetRequest"
      },
      "output": {
        "target": "com.azure.healthcareapis#WorkspacePrivateEndpointConnectionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareApis/workspaces/{workspaceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2024-03-31"
        },
        "smithy.api#documentation": "Gets the specified private endpoint connection associated with the workspace.",
        "com.distilled.openapi#apiVersion": "2024-03-31"
      }
    },
    "com.azure.healthcareapis#WorkspacePrivateEndpointConnectionsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.healthcareapis#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        },
        "systemData": {
          "target": "com.azure.healthcareapis#WorkspacePrivateEndpointConnectionsGetResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.healthcareapis#WorkspacePrivateEndpointConnectionsGetResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.healthcareapis#WorkspacePrivateEndpointConnectionsGetResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.healthcareapis#WorkspacePrivateEndpointConnectionsGetResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.healthcareapis#WorkspacePrivateEndpointConnectionsGetResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.healthcareapis#WorkspacePrivateEndpointConnectionsGetResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.healthcareapis#WorkspacePrivateEndpointConnectionsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the service instance."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of workspace resource."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection associated with the Azure resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.healthcareapis#WorkspacePrivateEndpointConnectionsListByWorkspace": {
      "type": "operation",
      "input": {
        "target": "com.azure.healthcareapis#WorkspacePrivateEndpointConnectionsListByWorkspaceRequest"
      },
      "output": {
        "target": "com.azure.healthcareapis#PrivateEndpointConnectionListResultDescription"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareApis/workspaces/{workspaceName}/privateEndpointConnections",
          "code": 200,
          "apiVersion": "2024-03-31"
        },
        "smithy.api#documentation": "Lists all private endpoint connections for a workspace.",
        "com.distilled.openapi#apiVersion": "2024-03-31"
      }
    },
    "com.azure.healthcareapis#PrivateEndpointConnectionListResultDescription": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.healthcareapis#PrivateEndpointConnectionListResultDescriptionValueList",
          "traits": {
            "smithy.api#documentation": "Array of private endpoint connections"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of private endpoint connection associated with the specified storage account"
      }
    },
    "com.azure.healthcareapis#PrivateEndpointConnectionListResultDescriptionValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.healthcareapis#PrivateEndpointConnectionDescription"
      },
      "traits": {
        "smithy.api#documentation": "Array of private endpoint connections"
      }
    },
    "com.azure.healthcareapis#PrivateEndpointConnectionDescription": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.healthcareapis#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        },
        "systemData": {
          "target": "com.azure.healthcareapis#PrivateEndpointConnectionDescriptionSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Private Endpoint Connection resource."
      }
    },
    "com.azure.healthcareapis#PrivateEndpointConnectionDescriptionSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.healthcareapis#PrivateEndpointConnectionDescriptionSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.healthcareapis#PrivateEndpointConnectionDescriptionSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.healthcareapis#PrivateEndpointConnectionDescriptionSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.healthcareapis#PrivateEndpointConnectionDescriptionSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.healthcareapis#WorkspacePrivateEndpointConnectionsListByWorkspaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the service instance."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of workspace resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.healthcareapis#FhirServicesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.healthcareapis#FhirServicesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareApis/workspaces/{workspaceName}/fhirservices/{fhirServiceName}",
          "code": 200,
          "apiVersion": "2024-03-31"
        },
        "smithy.api#documentation": "Deletes a FHIR Service.",
        "com.distilled.openapi#apiVersion": "2024-03-31"
      }
    },
    "com.azure.healthcareapis#FhirServicesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the service instance."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of workspace resource."
          }
        },
        "fhirServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of FHIR Service resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.healthcareapis#FhirServicesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.healthcareapis#FhirServicesUpdateRequest"
      },
      "output": {
        "target": "com.azure.healthcareapis#FhirServicesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareApis/workspaces/{workspaceName}/fhirservices/{fhirServiceName}",
          "code": 200,
          "apiVersion": "2024-03-31"
        },
        "smithy.api#documentation": "Patch FHIR Service details.",
        "com.distilled.openapi#apiVersion": "2024-03-31"
      }
    },
    "com.azure.healthcareapis#FhirServicesUpdateResponse": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.azure.healthcareapis#FhirServicesUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An etag associated with the resource, used for optimistic concurrency when editing it."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource location."
          }
        },
        "identity": {
          "target": "com.azure.healthcareapis#FhirServicesUpdateResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Setting indicating whether the service has a managed identity associated with it."
          }
        },
        "kind": {
          "target": "com.azure.healthcareapis#FhirServicesUpdateResponseKind",
          "traits": {
            "smithy.api#documentation": "The kind of the service."
          }
        },
        "properties": {
          "target": "com.azure.healthcareapis#FhirServiceProperties",
          "traits": {
            "smithy.api#documentation": "Fhir Service configuration."
          }
        },
        "systemData": {
          "target": "com.azure.healthcareapis#SystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.healthcareapis#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.healthcareapis#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.healthcareapis#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.healthcareapis#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.healthcareapis#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.healthcareapis#FhirServiceProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.healthcareapis#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state."
          }
        },
        "acrConfiguration": {
          "target": "com.azure.healthcareapis#FhirServiceAcrConfiguration",
          "traits": {
            "smithy.api#documentation": "Fhir Service Azure container registry configuration."
          }
        },
        "authenticationConfiguration": {
          "target": "com.azure.healthcareapis#FhirServiceAuthenticationConfiguration",
          "traits": {
            "smithy.api#documentation": "Fhir Service authentication configuration."
          }
        },
        "corsConfiguration": {
          "target": "com.azure.healthcareapis#FhirServiceCorsConfiguration",
          "traits": {
            "smithy.api#documentation": "Fhir Service Cors configuration."
          }
        },
        "exportConfiguration": {
          "target": "com.azure.healthcareapis#FhirServiceExportConfiguration",
          "traits": {
            "smithy.api#documentation": "Fhir Service export configuration."
          }
        },
        "privateEndpointConnections": {
          "target": "com.azure.healthcareapis#FhirServicePropertiesPrivateEndpointConnectionsList",
          "traits": {
            "smithy.api#documentation": "The list of private endpoint connections that are set up for this resource."
          }
        },
        "publicNetworkAccess": {
          "target": "com.azure.healthcareapis#ResourcePublicNetworkAccess",
          "traits": {
            "smithy.api#documentation": "Control permission for data plane traffic coming from public networks while private endpoint is enabled."
          }
        },
        "eventState": {
          "target": "com.azure.healthcareapis#ResourceEventState",
          "traits": {
            "smithy.api#documentation": "Fhir Service event support status."
          }
        },
        "resourceVersionPolicyConfiguration": {
          "target": "com.azure.healthcareapis#ResourceVersionPolicyConfiguration",
          "traits": {
            "smithy.api#documentation": "Determines tracking of history for resources."
          }
        },
        "importConfiguration": {
          "target": "com.azure.healthcareapis#FhirServiceImportConfiguration",
          "traits": {
            "smithy.api#documentation": "Fhir Service import configuration."
          }
        },
        "implementationGuidesConfiguration": {
          "target": "com.azure.healthcareapis#ImplementationGuidesConfiguration",
          "traits": {
            "smithy.api#documentation": "Implementation Guides configuration."
          }
        },
        "encryption": {
          "target": "com.azure.healthcareapis#Encryption",
          "traits": {
            "smithy.api#documentation": "The encryption settings of the FHIR service"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Fhir Service properties."
      }
    },
    "com.azure.healthcareapis#Encryption": {
      "type": "structure",
      "members": {
        "customerManagedKeyEncryption": {
          "target": "com.azure.healthcareapis#EncryptionCustomerManagedKeyEncryption",
          "traits": {
            "smithy.api#documentation": "The encryption settings for the customer-managed key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings to encrypt a service"
      }
    },
    "com.azure.healthcareapis#EncryptionCustomerManagedKeyEncryption": {
      "type": "structure",
      "members": {
        "keyEncryptionKeyUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the key to use for encryption"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The encryption settings for the customer-managed key"
      }
    },
    "com.azure.healthcareapis#ImplementationGuidesConfiguration": {
      "type": "structure",
      "members": {
        "usCoreMissingData": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If US Core Missing Data requirement is enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The settings for Implementation Guides - defining capabilities for national standards, vendor consortiums, clinical societies, etc."
      }
    },
    "com.azure.healthcareapis#FhirServiceImportConfiguration": {
      "type": "structure",
      "members": {
        "integrationDataStore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the default integration storage account."
          }
        },
        "initialImportMode": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the FHIR service is in InitialImportMode."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the import operation is enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Import operation configuration information"
      }
    },
    "com.azure.healthcareapis#ResourceVersionPolicyConfiguration": {
      "type": "structure",
      "members": {
        "default": {
          "target": "com.azure.healthcareapis#FhirResourceVersionPolicy",
          "traits": {
            "smithy.api#documentation": "The default value for tracking history across all resources."
          }
        },
        "resourceTypeOverrides": {
          "target": "com.azure.healthcareapis#ResourceVersionPolicyConfigurationResourceTypeOverridesMap",
          "traits": {
            "smithy.api#documentation": "A list of FHIR Resources and their version policy overrides."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The settings for history tracking for FHIR resources."
      }
    },
    "com.azure.healthcareapis#ResourceVersionPolicyConfigurationResourceTypeOverridesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.healthcareapis#FhirResourceVersionPolicy"
      },
      "traits": {
        "smithy.api#documentation": "A list of FHIR Resources and their version policy overrides."
      }
    },
    "com.azure.healthcareapis#FhirResourceVersionPolicy": {
      "type": "enum",
      "members": {
        "NO_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no-version"
          }
        },
        "VERSIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "versioned"
          }
        },
        "VERSIONED_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "versioned-update"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Controls how resources are versioned on the FHIR service"
      }
    },
    "com.azure.healthcareapis#ResourceEventState": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates the current status of event support for the resource."
      }
    },
    "com.azure.healthcareapis#ResourcePublicNetworkAccess": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Control permission for data plane traffic coming from public networks while private endpoint is enabled."
      }
    },
    "com.azure.healthcareapis#FhirServicePropertiesPrivateEndpointConnectionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.healthcareapis#FhirServicePropertiesPrivateEndpointConnectionsItem"
      },
      "traits": {
        "smithy.api#documentation": "The list of private endpoint connections that are set up for this resource."
      }
    },
    "com.azure.healthcareapis#FhirServicePropertiesPrivateEndpointConnectionsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.healthcareapis#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Private Endpoint Connection resource."
      }
    },
    "com.azure.healthcareapis#FhirServiceExportConfiguration": {
      "type": "structure",
      "members": {
        "storageAccountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the default export storage account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Export operation configuration information"
      }
    },
    "com.azure.healthcareapis#FhirServiceCorsConfiguration": {
      "type": "structure",
      "members": {
        "origins": {
          "target": "com.azure.healthcareapis#FhirServiceCorsConfigurationOriginsList",
          "traits": {
            "smithy.api#documentation": "The origins to be allowed via CORS."
          }
        },
        "headers": {
          "target": "com.azure.healthcareapis#FhirServiceCorsConfigurationHeadersList",
          "traits": {
            "smithy.api#documentation": "The headers to be allowed via CORS."
          }
        },
        "methods": {
          "target": "com.azure.healthcareapis#FhirServiceCorsConfigurationMethodsList",
          "traits": {
            "smithy.api#documentation": "The methods to be allowed via CORS."
          }
        },
        "maxAge": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The max age to be allowed via CORS."
          }
        },
        "allowCredentials": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If credentials are allowed via CORS."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The settings for the CORS configuration of the service instance."
      }
    },
    "com.azure.healthcareapis#FhirServiceCorsConfigurationMethodsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The methods to be allowed via CORS."
      }
    },
    "com.azure.healthcareapis#FhirServiceCorsConfigurationHeadersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The headers to be allowed via CORS."
      }
    },
    "com.azure.healthcareapis#FhirServiceCorsConfigurationOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The origins to be allowed via CORS."
      }
    },
    "com.azure.healthcareapis#FhirServiceAuthenticationConfiguration": {
      "type": "structure",
      "members": {
        "authority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The authority url for the service"
          }
        },
        "audience": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The audience url for the service"
          }
        },
        "smartProxyEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the SMART on FHIR proxy is enabled"
          }
        },
        "smartIdentityProviders": {
          "target": "com.azure.healthcareapis#FhirServiceAuthenticationConfigurationSmartIdentityProvidersList",
          "traits": {
            "smithy.api#documentation": "The array of identity provider configurations for SMART on FHIR authentication."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Authentication configuration information"
      }
    },
    "com.azure.healthcareapis#FhirServiceAuthenticationConfigurationSmartIdentityProvidersList": {
      "type": "list",
      "member": {
        "target": "com.azure.healthcareapis#SmartIdentityProviderConfiguration"
      },
      "traits": {
        "smithy.api#documentation": "The array of identity provider configurations for SMART on FHIR authentication."
      }
    },
    "com.azure.healthcareapis#SmartIdentityProviderConfiguration": {
      "type": "structure",
      "members": {
        "authority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity provider token authority also known as the token issuing authority."
          }
        },
        "applications": {
          "target": "com.azure.healthcareapis#SmartIdentityProviderConfigurationApplicationsList",
          "traits": {
            "smithy.api#documentation": "The array of identity provider applications for SMART on FHIR authentication."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object to configure an identity provider for use with SMART on FHIR authentication."
      }
    },
    "com.azure.healthcareapis#SmartIdentityProviderConfigurationApplicationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.healthcareapis#SmartIdentityProviderApplication"
      },
      "traits": {
        "smithy.api#documentation": "The array of identity provider applications for SMART on FHIR authentication."
      }
    },
    "com.azure.healthcareapis#SmartIdentityProviderApplication": {
      "type": "structure",
      "members": {
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application client id defined in the identity provider. This value will be used to validate bearer tokens against the given authority."
          }
        },
        "audience": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The audience that will be used to validate bearer tokens against the given authority."
          }
        },
        "allowedDataActions": {
          "target": "com.azure.healthcareapis#SmartIdentityProviderApplicationAllowedDataActionsList",
          "traits": {
            "smithy.api#documentation": "The actions that are permitted to be performed on FHIR resources for the application."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Application configured in the Identity Provider used to access FHIR resources."
      }
    },
    "com.azure.healthcareapis#SmartIdentityProviderApplicationAllowedDataActionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.healthcareapis#SmartDataActions"
      },
      "traits": {
        "smithy.api#documentation": "The actions that are permitted to be performed on FHIR resources for the application."
      }
    },
    "com.azure.healthcareapis#SmartDataActions": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Read"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Data Actions that can be enabled for a Smart Identity Provider Application."
      }
    },
    "com.azure.healthcareapis#FhirServiceAcrConfiguration": {
      "type": "structure",
      "members": {
        "loginServers": {
          "target": "com.azure.healthcareapis#FhirServiceAcrConfigurationLoginServersList",
          "traits": {
            "smithy.api#documentation": "The list of the Azure container registry login servers."
          }
        },
        "ociArtifacts": {
          "target": "com.azure.healthcareapis#FhirServiceAcrConfigurationOciArtifactsList",
          "traits": {
            "smithy.api#documentation": "The list of Open Container Initiative (OCI) artifacts."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Azure container registry configuration information"
      }
    },
    "com.azure.healthcareapis#FhirServiceAcrConfigurationOciArtifactsList": {
      "type": "list",
      "member": {
        "target": "com.azure.healthcareapis#ServiceOciArtifactEntry"
      },
      "traits": {
        "smithy.api#documentation": "The list of Open Container Initiative (OCI) artifacts."
      }
    },
    "com.azure.healthcareapis#ServiceOciArtifactEntry": {
      "type": "structure",
      "members": {
        "loginServer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Azure Container Registry login server."
          }
        },
        "imageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The artifact name."
          }
        },
        "digest": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The artifact digest."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Open Container Initiative (OCI) artifact."
      }
    },
    "com.azure.healthcareapis#FhirServiceAcrConfigurationLoginServersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of the Azure container registry login servers."
      }
    },
    "com.azure.healthcareapis#ProvisioningState": {
      "type": "enum",
      "members": {
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "VERIFYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Verifying"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "DEPROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deprovisioned"
          }
        },
        "MOVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Moving"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Suspended"
          }
        },
        "WARNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Warned"
          }
        },
        "SYSTEMMAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemMaintenance"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioning state."
      }
    },
    "com.azure.healthcareapis#FhirServicesUpdateResponseKind": {
      "type": "enum",
      "members": {
        "FHIR_STU3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fhir-Stu3"
          }
        },
        "FHIR_R4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fhir-R4"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The kind of the service."
      }
    },
    "com.azure.healthcareapis#FhirServicesUpdateResponseIdentity": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.healthcareapis#FhirServicesUpdateResponseIdentityType",
          "traits": {
            "smithy.api#documentation": "Type of identity being specified, currently SystemAssigned and None are allowed.",
            "smithy.api#required": {}
          }
        },
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.healthcareapis#UserAssignedIdentities"
        }
      },
      "traits": {
        "smithy.api#documentation": "Setting indicating whether the service has a managed identity associated with it."
      }
    },
    "com.azure.healthcareapis#UserAssignedIdentities": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.healthcareapis#UserAssignedIdentity"
      },
      "traits": {
        "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
      }
    },
    "com.azure.healthcareapis#UserAssignedIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of the assigned identity."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client ID of the assigned identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User assigned identity properties"
      }
    },
    "com.azure.healthcareapis#FhirServicesUpdateResponseIdentityType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        },
        "SYSTEMASSIGNED_USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned,UserAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of identity being specified, currently SystemAssigned and None are allowed."
      }
    },
    "com.azure.healthcareapis#FhirServicesUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.healthcareapis#FhirServicesUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the service instance."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of workspace resource."
          }
        },
        "fhirServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of FHIR Service resource."
          }
        },
        "tags": {
          "target": "com.azure.healthcareapis#FhirServicesUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "identity": {
          "target": "com.azure.healthcareapis#FhirServicesUpdateRequestIdentity",
          "traits": {
            "smithy.api#documentation": "Setting indicating whether the service has a managed identity associated with it."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.healthcareapis#FhirServicesUpdateRequestIdentity": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.healthcareapis#FhirServicesUpdateRequestIdentityType",
          "traits": {
            "smithy.api#documentation": "Type of identity being specified, currently SystemAssigned and None are allowed.",
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.healthcareapis#UserAssignedIdentitiesInput"
        }
      },
      "traits": {
        "smithy.api#documentation": "Setting indicating whether the service has a managed identity associated with it."
      }
    },
    "com.azure.healthcareapis#UserAssignedIdentitiesInput": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.healthcareapis#UserAssignedIdentityInput"
      },
      "traits": {
        "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
      }
    },
    "com.azure.healthcareapis#UserAssignedIdentityInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "User assigned identity properties"
      }
    },
    "com.azure.healthcareapis#FhirServicesUpdateRequestIdentityType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
[...]
