{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.hybridcompute#SetupExtensions": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridcompute#SetupExtensionsRequest"
      },
      "output": {
        "target": "com.azure.hybridcompute#SetupExtensionRequest"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{machineName}/addExtensions",
          "code": 200,
          "apiVersion": "2025-01-13"
        },
        "smithy.api#documentation": "The operation to Setup Machine Extensions.",
        "com.distilled.openapi#apiVersion": "2025-01-13"
      }
    },
    "com.azure.hybridcompute#SetupExtensionRequest": {
      "type": "structure",
      "members": {
        "extensions": {
          "target": "com.azure.hybridcompute#SetupExtensionRequestExtensionsList",
          "traits": {
            "smithy.api#documentation": "The list of extensions"
          }
        }
      },
      "traits": {}
    },
    "com.azure.hybridcompute#SetupExtensionRequestExtensionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridcompute#MachineExtensionProperties"
      },
      "traits": {
        "smithy.api#documentation": "The list of extensions"
      }
    },
    "com.azure.hybridcompute#MachineExtensionProperties": {
      "type": "structure",
      "members": {
        "forceUpdateTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How the extension handler should be forced to update even if the extension configuration has not changed."
          }
        },
        "publisher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the extension handler publisher."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the type of the extension; an example is \"CustomScriptExtension\"."
          }
        },
        "typeHandlerVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the version of the script handler."
          }
        },
        "enableAutomaticUpgrade": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the extension should be automatically upgraded by the platform if there is a newer version available."
          }
        },
        "autoUpgradeMinorVersion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the extension should use a newer minor version if one is available at deployment time. Once deployed, however, the extension will not upgrade minor versions unless redeployed, even with this property set to true."
          }
        },
        "settings": {
          "target": "com.azure.hybridcompute#MachineExtensionPropertiesSettingsMap",
          "traits": {
            "smithy.api#documentation": "Json formatted public settings for the extension."
          }
        },
        "protectedSettings": {
          "target": "com.azure.hybridcompute#MachineExtensionPropertiesProtectedSettingsMap",
          "traits": {
            "smithy.api#documentation": "The extension can contain either protectedSettings or protectedSettingsFromKeyVault or no protected settings at all."
          }
        },
        "provisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The provisioning state, which only appears in the response."
          }
        },
        "instanceView": {
          "target": "com.azure.hybridcompute#MachineExtensionInstanceView",
          "traits": {
            "smithy.api#documentation": "The machine extension instance view."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the properties of a Machine Extension."
      }
    },
    "com.azure.hybridcompute#MachineExtensionInstanceView": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The machine extension name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the type of the extension; an example is \"CustomScriptExtension\"."
          }
        },
        "typeHandlerVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the version of the script handler."
          }
        },
        "status": {
          "target": "com.azure.hybridcompute#MachineExtensionInstanceViewStatus",
          "traits": {
            "smithy.api#documentation": "Instance view status."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the Machine Extension Instance View."
      }
    },
    "com.azure.hybridcompute#MachineExtensionInstanceViewStatus": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status code."
          }
        },
        "level": {
          "target": "com.azure.hybridcompute#MachineExtensionInstanceViewStatusLevel",
          "traits": {
            "smithy.api#documentation": "The level code."
          }
        },
        "displayStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The short localizable label for the status."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The detailed status message, including for alerts and error messages."
          }
        },
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time of the status."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Instance view status."
      }
    },
    "com.azure.hybridcompute#MachineExtensionInstanceViewStatusLevel": {
      "type": "enum",
      "members": {
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Info"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Warning"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level code."
      }
    },
    "com.azure.hybridcompute#MachineExtensionPropertiesProtectedSettingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The extension can contain either protectedSettings or protectedSettingsFromKeyVault or no protected settings at all."
      }
    },
    "com.azure.hybridcompute#MachineExtensionPropertiesSettingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Json formatted public settings for the extension."
      }
    },
    "com.azure.hybridcompute#SetupExtensionsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "machineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the hybrid machine."
          }
        },
        "extensions": {
          "target": "com.azure.hybridcompute#SetupExtensionsRequestExtensionsList",
          "traits": {
            "smithy.api#documentation": "The list of extensions"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridcompute#SetupExtensionsRequestExtensionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridcompute#MachineExtensionPropertiesInput"
      },
      "traits": {
        "smithy.api#documentation": "The list of extensions"
      }
    },
    "com.azure.hybridcompute#MachineExtensionPropertiesInput": {
      "type": "structure",
      "members": {
        "forceUpdateTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How the extension handler should be forced to update even if the extension configuration has not changed."
          }
        },
        "publisher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the extension handler publisher."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the type of the extension; an example is \"CustomScriptExtension\"."
          }
        },
        "typeHandlerVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the version of the script handler."
          }
        },
        "enableAutomaticUpgrade": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the extension should be automatically upgraded by the platform if there is a newer version available."
          }
        },
        "autoUpgradeMinorVersion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the extension should use a newer minor version if one is available at deployment time. Once deployed, however, the extension will not upgrade minor versions unless redeployed, even with this property set to true."
          }
        },
        "settings": {
          "target": "com.azure.hybridcompute#MachineExtensionPropertiesInputSettingsMap",
          "traits": {
            "smithy.api#documentation": "Json formatted public settings for the extension."
          }
        },
        "protectedSettings": {
          "target": "com.azure.hybridcompute#MachineExtensionPropertiesInputProtectedSettingsMap",
          "traits": {
            "smithy.api#documentation": "The extension can contain either protectedSettings or protectedSettingsFromKeyVault or no protected settings at all."
          }
        },
        "instanceView": {
          "target": "com.azure.hybridcompute#MachineExtensionInstanceView",
          "traits": {
            "smithy.api#documentation": "The machine extension instance view."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the properties of a Machine Extension."
      }
    },
    "com.azure.hybridcompute#MachineExtensionPropertiesInputProtectedSettingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The extension can contain either protectedSettings or protectedSettingsFromKeyVault or no protected settings at all."
      }
    },
    "com.azure.hybridcompute#MachineExtensionPropertiesInputSettingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Json formatted public settings for the extension."
      }
    },
    "com.azure.hybridcompute#SettingsPatch": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridcompute#SettingsPatchRequest"
      },
      "output": {
        "target": "com.azure.hybridcompute#SettingsPatchResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{baseProvider}/{baseResourceType}/{baseResourceName}/providers/Microsoft.HybridCompute/settings/{settingsResourceName}",
          "code": 200,
          "apiVersion": "2025-01-13"
        },
        "smithy.api#documentation": "Update the base Settings of the target resource.",
        "com.distilled.openapi#apiVersion": "2025-01-13"
      }
    },
    "com.azure.hybridcompute#SettingsPatchResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridcompute#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.hybridcompute#SettingsProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.hybridcompute#SettingsProperties": {
      "type": "structure",
      "members": {
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource tenant Id"
          }
        },
        "gatewayProperties": {
          "target": "com.azure.hybridcompute#SettingsGatewayProperties"
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings properties"
      }
    },
    "com.azure.hybridcompute#SettingsGatewayProperties": {
      "type": "structure",
      "members": {
        "gatewayResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Associated Gateway Resource Id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings Gateway properties"
      }
    },
    "com.azure.hybridcompute#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.hybridcompute#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.hybridcompute#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.hybridcompute#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.hybridcompute#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.hybridcompute#SettingsPatchRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "baseProvider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the base Resource Provider."
          }
        },
        "baseResourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the base Resource Type."
          }
        },
        "baseResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the base resource."
          }
        },
        "settingsResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the settings resource."
          }
        },
        "properties": {
          "target": "com.azure.hybridcompute#SettingsPropertiesInput"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridcompute#SettingsPropertiesInput": {
      "type": "structure",
      "members": {
        "gatewayProperties": {
          "target": "com.azure.hybridcompute#SettingsGatewayProperties"
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings properties"
      }
    },
    "com.azure.hybridcompute#SettingsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridcompute#SettingsUpdateRequest"
      },
      "output": {
        "target": "com.azure.hybridcompute#SettingsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{baseProvider}/{baseResourceType}/{baseResourceName}/providers/Microsoft.HybridCompute/settings/{settingsResourceName}",
          "code": 200,
          "apiVersion": "2025-01-13"
        },
        "smithy.api#documentation": "Updates the base Settings of the target resource.",
        "com.distilled.openapi#apiVersion": "2025-01-13"
      }
    },
    "com.azure.hybridcompute#SettingsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridcompute#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.hybridcompute#SettingsProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.hybridcompute#SettingsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "baseProvider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the base Resource Provider."
          }
        },
        "baseResourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the base Resource Type."
          }
        },
        "baseResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the base resource."
          }
        },
        "settingsResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the settings resource."
          }
        },
        "properties": {
          "target": "com.azure.hybridcompute#SettingsPropertiesInput"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridcompute#SettingsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridcompute#SettingsGetRequest"
      },
      "output": {
        "target": "com.azure.hybridcompute#SettingsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{baseProvider}/{baseResourceType}/{baseResourceName}/providers/Microsoft.HybridCompute/settings/{settingsResourceName}",
          "code": 200,
          "apiVersion": "2025-01-13"
        },
        "smithy.api#documentation": "Returns the base Settings for the target resource.",
        "com.distilled.openapi#apiVersion": "2025-01-13"
      }
    },
    "com.azure.hybridcompute#SettingsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridcompute#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.hybridcompute#SettingsProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.hybridcompute#SettingsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "baseProvider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the base Resource Provider."
          }
        },
        "baseResourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the base Resource Type."
          }
        },
        "baseResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the base resource."
          }
        },
        "settingsResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the settings resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridcompute#GatewaysListBySubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridcompute#GatewaysListBySubscriptionRequest"
      },
      "output": {
        "target": "com.azure.hybridcompute#GatewaysListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.HybridCompute/gateways",
          "code": 200,
          "apiVersion": "2025-01-13"
        },
        "smithy.api#documentation": "The operation to get all gateways of a non-Azure machine",
        "com.distilled.openapi#apiVersion": "2025-01-13"
      }
    },
    "com.azure.hybridcompute#GatewaysListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.hybridcompute#GatewaysListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of Gateways.",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI to fetch the next page of Gateways. Call ListNext() with this URI to fetch the next page of Gateways."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The List license operation response."
      }
    },
    "com.azure.hybridcompute#GatewaysListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridcompute#Gateway"
      },
      "traits": {
        "smithy.api#documentation": "The list of Gateways."
      }
    },
    "com.azure.hybridcompute#Gateway": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridcompute#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.hybridcompute#GatewayTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.hybridcompute#GatewayProperties",
          "traits": {
            "smithy.api#documentation": "Hybrid Compute Gateway properties"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes an Arc Gateway."
      }
    },
    "com.azure.hybridcompute#GatewayProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.hybridcompute#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state, which only appears in the response."
          }
        },
        "gatewayId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique, immutable, identifier for the Gateway."
          }
        },
        "gatewayType": {
          "target": "com.azure.hybridcompute#GatewayType",
          "traits": {
            "smithy.api#documentation": "The type of the Gateway resource."
          }
        },
        "gatewayEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The endpoint fqdn for the Gateway."
          }
        },
        "allowedFeatures": {
          "target": "com.azure.hybridcompute#GatewayPropertiesAllowedFeaturesList",
          "traits": {
            "smithy.api#documentation": "Specifies the list of features that are enabled for this Gateway."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the properties of a Gateway Profile."
      }
    },
    "com.azure.hybridcompute#GatewayPropertiesAllowedFeaturesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Specifies the list of features that are enabled for this Gateway."
      }
    },
    "com.azure.hybridcompute#GatewayType": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Public"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the Gateway resource."
      }
    },
    "com.azure.hybridcompute#ProvisioningState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioning state, which only appears in the response."
      }
    },
    "com.azure.hybridcompute#GatewayTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.hybridcompute#GatewaysListBySubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridcompute#GatewaysListByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridcompute#GatewaysListByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.hybridcompute#GatewaysListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/gateways",
          "code": 200,
          "apiVersion": "2025-01-13"
        },
        "smithy.api#documentation": "The operation to get all gateways of a non-Azure machine",
        "com.distilled.openapi#apiVersion": "2025-01-13"
      }
    },
    "com.azure.hybridcompute#GatewaysListByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridcompute#GatewaysDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridcompute#GatewaysDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/gateways/{gatewayName}",
          "code": 200,
          "apiVersion": "2025-01-13"
        },
        "smithy.api#documentation": "The operation to delete a gateway.",
        "com.distilled.openapi#apiVersion": "2025-01-13"
      }
    },
    "com.azure.hybridcompute#GatewaysDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "gatewayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Gateway."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridcompute#GatewaysUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridcompute#GatewaysUpdateRequest"
      },
      "output": {
        "target": "com.azure.hybridcompute#GatewaysUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/gateways/{gatewayName}",
          "code": 200,
          "apiVersion": "2025-01-13"
        },
        "smithy.api#documentation": "The operation to update a gateway.",
        "com.distilled.openapi#apiVersion": "2025-01-13"
      }
    },
    "com.azure.hybridcompute#GatewaysUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridcompute#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.hybridcompute#GatewaysUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.hybridcompute#GatewayProperties",
          "traits": {
            "smithy.api#documentation": "Hybrid Compute Gateway properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.hybridcompute#GatewaysUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.hybridcompute#GatewaysUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "gatewayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Gateway."
          }
        },
        "tags": {
          "target": "com.azure.hybridcompute#GatewaysUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags"
          }
        },
        "properties": {
          "target": "com.azure.hybridcompute#GatewayUpdateProperties",
          "traits": {
            "smithy.api#documentation": "Gateway Update properties"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridcompute#GatewayUpdateProperties": {
      "type": "structure",
      "members": {
        "allowedFeatures": {
          "target": "com.azure.hybridcompute#GatewayUpdatePropertiesAllowedFeaturesList",
          "traits": {
            "smithy.api#documentation": "Specifies the list of features that are enabled for this Gateway."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the Update properties of a Gateway Profile."
      }
    },
    "com.azure.hybridcompute#GatewayUpdatePropertiesAllowedFeaturesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Specifies the list of features that are enabled for this Gateway."
      }
    },
    "com.azure.hybridcompute#GatewaysUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags"
      }
    },
    "com.azure.hybridcompute#GatewaysCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridcompute#GatewaysCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.hybridcompute#GatewaysCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/gateways/{gatewayName}",
          "code": 200,
          "apiVersion": "2025-01-13"
        },
        "smithy.api#documentation": "The operation to create or update a gateway.",
        "com.distilled.openapi#apiVersion": "2025-01-13"
      }
    },
    "com.azure.hybridcompute#GatewaysCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridcompute#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.hybridcompute#GatewaysCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.hybridcompute#GatewayProperties",
          "traits": {
            "smithy.api#documentation": "Hybrid Compute Gateway properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.hybridcompute#GatewaysCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.hybridcompute#GatewaysCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "gatewayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Gateway."
          }
        },
        "tags": {
          "target": "com.azure.hybridcompute#GatewaysCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.hybridcompute#GatewayPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Hybrid Compute Gateway properties"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridcompute#GatewayPropertiesInput": {
      "type": "structure",
      "members": {
        "gatewayType": {
          "target": "com.azure.hybridcompute#GatewayType",
          "traits": {
            "smithy.api#documentation": "The type of the Gateway resource."
          }
        },
        "allowedFeatures": {
          "target": "com.azure.hybridcompute#GatewayPropertiesInputAllowedFeaturesList",
          "traits": {
            "smithy.api#documentation": "Specifies the list of features that are enabled for this Gateway."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the properties of a Gateway Profile."
      }
    },
    "com.azure.hybridcompute#GatewayPropertiesInputAllowedFeaturesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Specifies the list of features that are enabled for this Gateway."
      }
    },
    "com.azure.hybridcompute#GatewaysCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.hybridcompute#GatewaysGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridcompute#GatewaysGetRequest"
      },
      "output": {
        "target": "com.azure.hybridcompute#GatewaysGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/gateways/{gatewayName}",
          "code": 200,
          "apiVersion": "2025-01-13"
        },
        "smithy.api#documentation": "Retrieves information about the view of a gateway.",
        "com.distilled.openapi#apiVersion": "2025-01-13"
      }
    },
    "com.azure.hybridcompute#GatewaysGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridcompute#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.hybridcompute#GatewaysGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.hybridcompute#GatewayProperties",
          "traits": {
            "smithy.api#documentation": "Hybrid Compute Gateway properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.hybridcompute#GatewaysGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.hybridcompute#GatewaysGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "gatewayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Gateway."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridcompute#MachineRunCommandsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridcompute#MachineRunCommandsListRequest"
      },
      "output": {
        "target": "com.azure.hybridcompute#MachineRunCommandsListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{machineName}/runCommands",
          "code": 200,
          "apiVersion": "2025-01-13"
        },
        "smithy.api#documentation": "The operation to get all the run commands of a non-Azure machine.",
        "com.distilled.openapi#apiVersion": "2025-01-13"
      }
    },
    "com.azure.hybridcompute#MachineRunCommandsListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.hybridcompute#MachineRunCommandsListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of run commands"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The uri to fetch the next page of run commands. Call ListNext() with this to fetch the next page of run commands."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the Run Commands List Result."
      }
    },
    "com.azure.hybridcompute#MachineRunCommandsListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridcompute#MachineRunCommand"
      },
      "traits": {
        "smithy.api#documentation": "The list of run commands"
      }
    },
    "com.azure.hybridcompute#MachineRunCommand": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridcompute#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.hybridcompute#MachineRunCommandTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.hybridcompute#MachineRunCommandProperties",
          "traits": {
            "smithy.api#documentation": "Describes Run Command Properties"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a Run Command"
      }
    },
    "com.azure.hybridcompute#MachineRunCommandProperties": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.azure.hybridcompute#MachineRunCommandScriptSource",
          "traits": {
            "smithy.api#documentation": "The source of the run command script."
          }
        },
        "parameters": {
          "target": "com.azure.hybridcompute#MachineRunCommandPropertiesParametersList",
          "traits": {
            "smithy.api#documentation": "The parameters used by the script."
          }
        },
        "protectedParameters": {
          "target": "com.azure.hybridcompute#MachineRunCommandPropertiesProtectedParametersList",
          "traits": {
            "smithy.api#documentation": "The parameters used by the script."
          }
        },
        "asyncExecution": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to true, provisioning will complete as soon as script starts and will not wait for script to complete."
          }
        },
        "runAsUser": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the user account on the machine when executing the run command."
          }
        },
        "runAsPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the user account password on the machine when executing the run command.",
            "smithy.api#sensitive": {}
          }
        },
        "timeoutInSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The timeout in seconds to execute the run command."
          }
        },
        "outputBlobUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the Azure storage blob where script output stream will be uploaded. Use a SAS URI with read, append, create, write access OR use managed identity to provide the VM access to the blob. Refer outputBlobManagedIdentity parameter. "
          }
        },
        "errorBlobUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the Azure storage blob where script error stream will be uploaded. Use a SAS URI with read, append, create, write access OR use managed identity to provide the VM access to the blob. Refer errorBlobManagedIdentity parameter."
          }
        },
        "outputBlobManagedIdentity": {
          "target": "com.azure.hybridcompute#RunCommandManagedIdentity",
          "traits": {
            "smithy.api#documentation": "User-assigned managed identity that has access to outputBlobUri storage blob. Use an empty object in case of system-assigned identity. Make sure managed identity has been given access to blob's container with 'Storage Blob Data Contributor' role assignment. In case of user-assigned identity, make sure you add it under VM's identity. For more info on managed identity and Run Command, refer https://aka.ms/ManagedIdentity and https://aka.ms/RunCommandManaged "
          }
        },
        "errorBlobManagedIdentity": {
          "target": "com.azure.hybridcompute#RunCommandManagedIdentity",
          "traits": {
            "smithy.api#documentation": "User-assigned managed identity that has access to errorBlobUri storage blob. Use an empty object in case of system-assigned identity. Make sure managed identity has been given access to blob's container with 'Storage Blob Data Contributor' role assignment. In case of user-assigned identity, make sure you add it under VM's identity. For more info on managed identity and Run Command, refer https://aka.ms/ManagedIdentity and https://aka.ms/RunCommandManaged "
          }
        },
        "provisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The provisioning state, which only appears in the response."
          }
        },
        "instanceView": {
          "target": "com.azure.hybridcompute#MachineRunCommandInstanceView",
          "traits": {
            "smithy.api#documentation": "The machine run command instance view."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the properties of a run command."
      }
    },
    "com.azure.hybridcompute#MachineRunCommandInstanceView": {
      "type": "structure",
      "members": {
        "executionState": {
          "target": "com.azure.hybridcompute#MachineRunCommandInstanceViewExecutionState",
          "traits": {
            "smithy.api#documentation": "Script execution status."
          }
        },
        "executionMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Communicate script configuration errors or execution messages."
          }
        },
        "exitCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Exit code returned from script execution."
          }
        },
        "output": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Script output stream."
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Script error stream."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Script start time."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Script end time."
          }
        },
        "statuses": {
          "target": "com.azure.hybridcompute#MachineRunCommandInstanceViewStatusesList",
          "traits": {
            "smithy.api#documentation": "The  status information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The instance view of a machine run command."
      }
    },
    "com.azure.hybridcompute#MachineRunCommandInstanceViewStatusesList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridcompute#ExtensionsResourceStatus"
      },
      "traits": {
        "smithy.api#documentation": "The  status information."
      }
    },
    "com.azure.hybridcompute#ExtensionsResourceStatus": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status code."
          }
        },
        "level": {
          "target": "com.azure.hybridcompute#ExtensionsResourceStatusLevel",
          "traits": {
            "smithy.api#documentation": "The level code."
          }
        },
        "displayStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The short localizable label for the status."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The detailed status message, including for alerts and error messages."
          }
        },
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time of the status."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Instance view status."
      }
    },
    "com.azure.hybridcompute#ExtensionsResourceStatusLevel": {
      "type": "enum",
      "members": {
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Info"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Warning"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level code."
      }
    },
    "com.azure.hybridcompute#MachineRunCommandInstanceViewExecutionState": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "TIMEDOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TimedOut"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Script execution status."
      }
    },
    "com.azure.hybridcompute#RunCommandManagedIdentity": {
      "type": "structure",
      "members": {
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Client Id (GUID value) of the user-assigned managed identity. ObjectId should not be used if this is provided."
          }
        },
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Object Id (GUID value) of the user-assigned managed identity. ClientId should not be used if this is provided."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": " Contains clientId or objectId (use only one, not both) of a user-assigned managed identity that has access to storage blob used in Run Command. Use an empty RunCommandManagedIdentity object in case of system-assigned identity. Make sure the Azure storage blob exists in case of scriptUri, and managed identity has been given access to blob's container with 'Storage Blob Data Reader' role assignment with scriptUri blob and 'Storage Blob Data Contributor' for Append blobs(outputBlobUri, errorBlobUri). In case of user assigned identity, make sure you add it under VM's identity. For more info on managed identity and Run Command, refer https://aka.ms/ManagedIdentity and https://aka.ms/RunCommandManaged."
      }
    },
    "com.azure.hybridcompute#MachineRunCommandPropertiesProtectedParametersList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridcompute#RunCommandInputParameter"
      },
      "traits": {
        "smithy.api#documentation": "The parameters used by the script."
      }
    },
    "com.azure.hybridcompute#RunCommandInputParameter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The run command parameter name.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The run command parameter value.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the properties of a run command parameter."
      }
    },
    "com.azure.hybridcompute#MachineRunCommandPropertiesParametersList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridcompute#RunCommandInputParameter"
      },
      "traits": {
        "smithy.api#documentation": "The parameters used by the script."
      }
    },
    "com.azure.hybridcompute#MachineRunCommandScriptSource": {
      "type": "structure",
      "members": {
        "script": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the script content to be executed on the machine."
          }
        },
        "scriptUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the script download location. It can be either SAS URI of an Azure storage blob with read access or public URI."
          }
        },
        "commandId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the commandId of predefined built-in script."
          }
        },
        "scriptUriManagedIdentity": {
          "target": "com.azure.hybridcompute#RunCommandManagedIdentity",
          "traits": {
            "smithy.api#documentation": "User-assigned managed identity that has access to scriptUri in case of Azure storage blob. Use an empty object in case of system-assigned identity. Make sure the Azure storage blob exists, and managed identity has been given access to blob's container with 'Storage Blob Data Reader' role assignment. In case of user-assigned identity, make sure you add it under VM's identity. For more info on managed identity and Run Command, refer https://aka.ms/ManagedIdentity and https://aka.ms/RunCommandManaged."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the script sources for run command. Use only one of script, scriptUri, commandId."
      }
    },
    "com.azure.hybridcompute#MachineRunCommandTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.hybridcompute#MachineRunCommandsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "machineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the hybrid machine."
          }
        },
        "_expand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$expand",
            "smithy.api#documentation": "The expand expression to apply on the operation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridcompute#MachineRunCommandsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridcompute#MachineRunCommandsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{machineName}/runCommands/{runCommandName}",
          "code": 200,
          "apiVersion": "2025-01-13"
        },
        "smithy.api#documentation": "The operation to delete a run command.",
        "com.distilled.openapi#apiVersion": "2025-01-13"
      }
    },
    "com.azure.hybridcompute#MachineRunCommandsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "machineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the hybrid machine."
          }
        },
        "runCommandName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the run command."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridcompute#MachineRunCommandsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridcompute#MachineRunCommandsUpdateRequest"
      },
      "output": {
        "target": "com.azure.hybridcompute#MachineRunCommandsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{machineName}/runCommands/{runCommandName}",
          "code": 200,
          "apiVersion": "2025-01-13"
        },
        "smithy.api#documentation": "The operation to update the run command.",
        "com.distilled.openapi#apiVersion": "2025-01-13"
      }
    },
    "com.azure.hybridcompute#MachineRunCommandsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridcompute#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.hybridcompute#MachineRunCommandsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.hybridcompute#MachineRunCommandProperties",
          "traits": {
            "smithy.api#documentation": "Describes Run Command Properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.hybridcompute#MachineRunCommandsUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.hybridcompute#MachineRunCommandsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "machineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the hybrid machine."
          }
        },
        "runCommandName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the run command."
          }
        },
        "tags": {
          "target": "com.azure.hybridcompute#MachineRunCommandsUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridcompute#MachineRunCommandsUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags"
      }
    },
    "com.azure.hybridcompute#MachineRunCommandsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridcompute#MachineRunCommandsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.hybridcompute#MachineRunCommandsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{machineName}/runCommands/{runCommandName}",
          "code": 200,
          "apiVersion": "2025-01-13"
        },
        "smithy.api#documentation": "The operation to create or update a run command.",
        "com.distilled.openapi#apiVersion": "2025-01-13"
      }
    },
    "com.azure.hybridcompute#MachineRunCommandsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridcompute#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.hybridcompute#MachineRunCommandsCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.hybridcompute#MachineRunCommandProperties",
          "traits": {
            "smithy.api#documentation": "Describes Run Command Properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.hybridcompute#MachineRunCommandsCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.hybridcompute#MachineRunCommandsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "machineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the hybrid machine."
          }
        },
        "runCommandName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the run command."
          }
        },
        "tags": {
          "target": "com.azure.hybridcompute#MachineRunCommandsCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.hybridcompute#MachineRunCommandPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Describes Run Command Properties"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridcompute#MachineRunCommandPropertiesInput": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.azure.hybridcompute#MachineRunCommandScriptSource",
          "traits": {
            "smithy.api#documentation": "The source of the run command script."
          }
        },
        "parameters": {
          "target": "com.azure.hybridcompute#MachineRunCommandPropertiesInputParametersList",
          "traits": {
            "smithy.api#documentation": "The parameters used by the script."
          }
        },
        "protectedParameters": {
          "target": "com.azure.hybridcompute#MachineRunCommandPropertiesInputProtectedParametersList",
          "traits": {
            "smithy.api#documentation": "The parameters used by the script."
          }
        },
        "asyncExecution": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set to true, provisioning will complete as soon as script starts and will not wait for script to complete."
          }
        },
        "runAsUser": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the user account on the machine when executing the run command."
          }
        },
        "runAsPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the user account password on the machine when executing the run command.",
            "smithy.api#sensitive": {}
          }
        },
        "timeoutInSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The timeout in seconds to execute the run command."
          }
        },
        "outputBlobUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the Azure storage blob where script output stream will be uploaded. Use a SAS URI with read, append, create, write access OR use managed identity to provide the VM access to the blob. Refer outputBlobManagedIdentity parameter. "
          }
        },
        "errorBlobUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the Azure storage blob where script error stream will be uploaded. Use a SAS URI with read, append, create, write access OR use managed identity to provide the VM access to the blob. Refer errorBlobManagedIdentity parameter."
          }
        },
        "outputBlobManagedIdentity": {
          "target": "com.azure.hybridcompute#RunCommandManagedIdentity",
          "traits": {
            "smithy.api#documentation": "User-assigned managed identity that has access to outputBlobUri storage blob. Use an empty object in case of system-assigned identity. Make sure managed identity has been given access to blob's container with 'Storage Blob Data Contributor' role assignment. In case of user-assigned identity, make sure you add it under VM's identity. For more info on managed identity and Run Command, refer https://aka.ms/ManagedIdentity and https://aka.ms/RunCommandManaged "
          }
        },
        "errorBlobManagedIdentity": {
          "target": "com.azure.hybridcompute#RunCommandManagedIdentity",
          "traits": {
            "smithy.api#documentation": "User-assigned managed identity that has access to errorBlobUri storage blob. Use an empty object in case of system-assigned identity. Make sure managed identity has been given access to blob's container with 'Storage Blob Data Contributor' role assignment. In case of user-assigned identity, make sure you add it under VM's identity. For more info on managed identity and Run Command, refer https://aka.ms/ManagedIdentity and https://aka.ms/RunCommandManaged "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the properties of a run command."
      }
    },
    "com.azure.hybridcompute#MachineRunCommandPropertiesInputProtectedParametersList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridcompute#RunCommandInputParameter"
      },
      "traits": {
        "smithy.api#documentation": "The parameters used by the script."
      }
    },
    "com.azure.hybridcompute#MachineRunCommandPropertiesInputParametersList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridcompute#RunCommandInputParameter"
      },
      "traits": {
        "smithy.api#documentation": "The parameters used by the script."
      }
    },
    "com.azure.hybridcompute#MachineRunCommandsCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.hybridcompute#MachineRunCommandsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridcompute#MachineRunCommandsGetRequest"
      },
      "output": {
        "target": "com.azure.hybridcompute#MachineRunCommandsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{machineName}/runCommands/{runCommandName}",
          "code": 200,
          "apiVersion": "2025-01-13"
        },
        "smithy.api#documentation": "The operation to get a run command.",
        "com.distilled.openapi#apiVersion": "2025-01-13"
      }
    },
    "com.azure.hybridcompute#MachineRunCommandsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridcompute#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.hybridcompute#MachineRunCommandsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.hybridcompute#MachineRunCommandProperties",
          "traits": {
            "smithy.api#documentation": "Describes Run Command Properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.hybridcompute#MachineRunCommandsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.hybridcompute#MachineRunCommandsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "machineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the hybrid machine."
          }
        },
        "runCommandName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the run command."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridcompute#AgentVersionGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridcompute#AgentVersionGetRequest"
      },
      "output": {
        "target": "com.azure.hybridcompute#AgentVersion"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.HybridCompute/osType/{osType}/agentVersions/{version}",
          "code": 200,
          "apiVersion": "2025-01-13"
        },
        "smithy.api#documentation": "Gets an Agent Version along with the download link currently present.",
        "com.distilled.openapi#apiVersion": "2025-01-13"
      }
    },
    "com.azure.hybridcompute#AgentVersion": {
      "type": "structure",
      "members": {
        "agentVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents the agent version."
          }
        },
        "downloadLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents the download link of specific agent version."
          }
        },
        "osType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Defines the os type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes properties of Agent Version."
      }
    },
    "com.azure.hybridcompute#AgentVersionGetRequest": {
      "type": "structure",
      "members": {
        "osType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Defines the os type"
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Defines the agent version. To get latest, use latest or else a specific agent version."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridcompute#AgentVersionList": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridcompute#AgentVersionListRequest"
      },
      "output": {
        "target": "com.azure.hybridcompute#AgentVersionsList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.HybridCompute/osType/{osType}/agentVersions",
          "code": 200,
          "apiVersion": "2025-01-13"
        },
        "smithy.api#documentation": "Gets all Agent Versions along with the download link currently present.",
        "com.distilled.openapi#apiVersion": "2025-01-13"
      }
    },
    "com.azure.hybridcompute#AgentVersionsList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.hybridcompute#AgentVersionsListValueList",
          "traits": {
            "smithy.api#documentation": "The list of available Agent Versions."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI to fetch the next 10 available Agent Versions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes AgentVersions List."
      }
    },
    "com.azure.hybridcompute#AgentVersionsListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridcompute#AgentVersion"
      },
      "traits": {
        "smithy.api#documentation": "The list of available Agent Versions."
      }
    },
    "com.azure.hybridcompute#AgentVersionListRequest": {
      "type": "structure",
      "members": {
        "osType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Defines the os type."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridcompute#HybridIdentityMetadataListByMachines": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridcompute#HybridIdentityMetadataListByMachinesRequest"
      },
      "output": {
        "target": "com.azure.hybridcompute#HybridIdentityMetadataList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{machineName}/hybridIdentityMetadata",
          "code": 200,
          "apiVersion": "2025-01-13"
        },
        "smithy.api#documentation": "Implements GET HybridIdentityMetadata in a machine.\n\nReturns the list of HybridIdentityMetadata of the given machine.",
        "com.distilled.openapi#apiVersion": "2025-01-13"
[...]
