{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.hybridaks#OperationsList": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.azure.hybridaks#OperationsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.HybridContainerService/operations",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Lists the supported operations\n\nLists the supported operations",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.hybridaks#OperationsListResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.hybridaks#OperationsListResponseValueList",
          "traits": {
            "smithy.api#documentation": "List of operations supported by the resource provider"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to get the next set of operation list results (if there are any)."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.hybridaks#OperationsListResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridaks#Operation"
      },
      "traits": {
        "smithy.api#documentation": "List of operations supported by the resource provider"
      }
    },
    "com.azure.hybridaks#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation, as per Resource-Based Access Control (RBAC). Examples: \"Microsoft.Compute/virtualMachines/write\", \"Microsoft.Compute/virtualMachines/capture/action\""
          }
        },
        "isDataAction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the operation applies to data-plane. This is \"true\" for data-plane operations and \"false\" for ARM/control-plane operations."
          }
        },
        "display": {
          "target": "com.azure.hybridaks#OperationDisplay",
          "traits": {
            "smithy.api#documentation": "Localized display information for this particular operation."
          }
        },
        "origin": {
          "target": "com.azure.hybridaks#OperationOrigin",
          "traits": {
            "smithy.api#documentation": "The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is \"user,system\""
          }
        },
        "actionType": {
          "target": "com.azure.hybridaks#OperationActionType",
          "traits": {
            "smithy.api#documentation": "Enum. Indicates the action type. \"Internal\" refers to actions that are for internal only APIs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a REST API operation, returned from the Resource Provider Operations API"
      }
    },
    "com.azure.hybridaks#OperationActionType": {
      "type": "enum",
      "members": {
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Internal"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enum. Indicates the action type. \"Internal\" refers to actions that are for internal only APIs."
      }
    },
    "com.azure.hybridaks#OperationOrigin": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        },
        "USER_SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user,system"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is \"user,system\""
      }
    },
    "com.azure.hybridaks#OperationDisplay": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized friendly form of the resource provider name, e.g. \"Microsoft Monitoring Insights\" or \"Microsoft Compute\"."
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized friendly name of the resource type related to this operation. E.g. \"Virtual Machines\" or \"Job Schedule Collections\"."
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The concise, localized friendly name for the operation; suitable for dropdowns. E.g. \"Create or Update Virtual Machine\", \"Restart Virtual Machine\"."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The short, localized friendly description of the operation; suitable for tool tips and detailed views."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Localized display information for this particular operation."
      }
    },
    "com.azure.hybridaks#VMSkusList": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridaks#VMSkusListRequest"
      },
      "output": {
        "target": "com.azure.hybridaks#VmSkuProfileList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{customLocationResourceUri}/providers/Microsoft.HybridContainerService/skus",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Lists the supported VM skus\n\nLists the supported VM skus for the specified custom location",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.hybridaks#VmSkuProfileList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.hybridaks#VmSkuProfileListValueList"
        },
        "nextLink": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of supported VM SKUs."
      }
    },
    "com.azure.hybridaks#VmSkuProfileListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridaks#VmSkuProfile"
      },
      "traits": {}
    },
    "com.azure.hybridaks#VmSkuProfile": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridaks#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "extendedLocation": {
          "target": "com.azure.hybridaks#ExtendedLocation"
        },
        "properties": {
          "target": "com.azure.hybridaks#VmSkuProfileProperties"
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of supported VM SKUs."
      }
    },
    "com.azure.hybridaks#VmSkuProfileProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.hybridaks#ProvisioningState"
        },
        "values": {
          "target": "com.azure.hybridaks#VmSkuProfilePropertiesValuesList",
          "traits": {
            "smithy.api#documentation": "List of supported VM SKUs."
          }
        }
      },
      "traits": {}
    },
    "com.azure.hybridaks#VmSkuProfilePropertiesValuesList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridaks#VmSkuProperties"
      },
      "traits": {
        "smithy.api#documentation": "List of supported VM SKUs."
      }
    },
    "com.azure.hybridaks#VmSkuProperties": {
      "type": "structure",
      "members": {
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of resource the SKU applies to."
          }
        },
        "capabilities": {
          "target": "com.azure.hybridaks#VmSkuPropertiesCapabilitiesList",
          "traits": {
            "smithy.api#documentation": "The list of name-value pairs to describe VM SKU capabilities like MemoryGB, vCPUs, etc."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the VM SKU"
          }
        },
        "tier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tier of the VM SKU"
          }
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The size of the VM SKU"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The profile for supported VM SKUs"
      }
    },
    "com.azure.hybridaks#VmSkuPropertiesCapabilitiesList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridaks#VmSkuCapabilities"
      },
      "traits": {
        "smithy.api#documentation": "The list of name-value pairs to describe VM SKU capabilities like MemoryGB, vCPUs, etc."
      }
    },
    "com.azure.hybridaks#VmSkuCapabilities": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the VM SKU capability"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of the VM SKU capability"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the VM SKU capabilities like MemoryGB, vCPUs, etc."
      }
    },
    "com.azure.hybridaks#ProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "UPGRADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Upgrading"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provisioning state of the resource"
      }
    },
    "com.azure.hybridaks#ExtendedLocation": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.hybridaks#ExtendedLocationType",
          "traits": {
            "smithy.api#documentation": "The extended location type. Allowed value: 'CustomLocation'"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ARM Id of the extended location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Extended location pointing to the underlying infrastructure"
      }
    },
    "com.azure.hybridaks#ExtendedLocationType": {
      "type": "enum",
      "members": {
        "CUSTOMLOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CustomLocation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The extended location type. Allowed value: 'CustomLocation'"
      }
    },
    "com.azure.hybridaks#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.hybridaks#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.hybridaks#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.hybridaks#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.hybridaks#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.hybridaks#VMSkusListRequest": {
      "type": "structure",
      "members": {
        "customLocationResourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource Manager identifier of the custom location resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridaks#DeleteVMSkus": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridaks#DeleteVMSkusRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/{customLocationResourceUri}/providers/Microsoft.HybridContainerService/skus/default",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Deletes the default VM skus resource type\n\nDeletes the default VM skus resource type",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.hybridaks#DeleteVMSkusRequest": {
      "type": "structure",
      "members": {
        "customLocationResourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource Manager identifier of the custom location resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridaks#PutVMSkus": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridaks#PutVMSkusRequest"
      },
      "output": {
        "target": "com.azure.hybridaks#PutVMSkusResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/{customLocationResourceUri}/providers/Microsoft.HybridContainerService/skus/default",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Puts the default VM skus resource type (one time operation, before listing the VM skus)\n\nPuts the default VM skus resource type (one time operation, before listing the VM skus)",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.hybridaks#PutVMSkusResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridaks#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "extendedLocation": {
          "target": "com.azure.hybridaks#ExtendedLocation"
        },
        "properties": {
          "target": "com.azure.hybridaks#PutVMSkusResponseProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.hybridaks#PutVMSkusResponseProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.hybridaks#ProvisioningState"
        },
        "values": {
          "target": "com.azure.hybridaks#PutVMSkusResponsePropertiesValuesList",
          "traits": {
            "smithy.api#documentation": "List of supported VM SKUs."
          }
        }
      },
      "traits": {}
    },
    "com.azure.hybridaks#PutVMSkusResponsePropertiesValuesList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridaks#VmSkuProperties"
      },
      "traits": {
        "smithy.api#documentation": "List of supported VM SKUs."
      }
    },
    "com.azure.hybridaks#PutVMSkusRequest": {
      "type": "structure",
      "members": {
        "customLocationResourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource Manager identifier of the custom location resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.hybridaks#ExtendedLocation"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridaks#GetVMSkus": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridaks#GetVMSkusRequest"
      },
      "output": {
        "target": "com.azure.hybridaks#GetVMSkusResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{customLocationResourceUri}/providers/Microsoft.HybridContainerService/skus/default",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Lists the supported VM skus\n\nLists the supported VM skus for the specified custom location",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.hybridaks#GetVMSkusResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridaks#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "extendedLocation": {
          "target": "com.azure.hybridaks#ExtendedLocation"
        },
        "properties": {
          "target": "com.azure.hybridaks#GetVMSkusResponseProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.hybridaks#GetVMSkusResponseProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.hybridaks#ProvisioningState"
        },
        "values": {
          "target": "com.azure.hybridaks#GetVMSkusResponsePropertiesValuesList",
          "traits": {
            "smithy.api#documentation": "List of supported VM SKUs."
          }
        }
      },
      "traits": {}
    },
    "com.azure.hybridaks#GetVMSkusResponsePropertiesValuesList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridaks#VmSkuProperties"
      },
      "traits": {
        "smithy.api#documentation": "List of supported VM SKUs."
      }
    },
    "com.azure.hybridaks#GetVMSkusRequest": {
      "type": "structure",
      "members": {
        "customLocationResourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource Manager identifier of the custom location resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridaks#KubernetesVersionsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridaks#KubernetesVersionsListRequest"
      },
      "output": {
        "target": "com.azure.hybridaks#KubernetesVersionProfileList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{customLocationResourceUri}/providers/Microsoft.HybridContainerService/kubernetesVersions",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Lists the supported kubernetes versions\n\nLists the supported kubernetes versions for the specified custom location",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.hybridaks#KubernetesVersionProfileList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.hybridaks#KubernetesVersionProfileListValueList"
        },
        "nextLink": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "List of supported kubernetes versions."
      }
    },
    "com.azure.hybridaks#KubernetesVersionProfileListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridaks#KubernetesVersionProfile"
      },
      "traits": {}
    },
    "com.azure.hybridaks#KubernetesVersionProfile": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridaks#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "extendedLocation": {
          "target": "com.azure.hybridaks#ExtendedLocation"
        },
        "properties": {
          "target": "com.azure.hybridaks#KubernetesVersionProfileProperties"
        }
      },
      "traits": {
        "smithy.api#documentation": "The supported kubernetes versions."
      }
    },
    "com.azure.hybridaks#KubernetesVersionProfileProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.hybridaks#ProvisioningState"
        },
        "values": {
          "target": "com.azure.hybridaks#KubernetesVersionProfilePropertiesValuesList",
          "traits": {
            "smithy.api#documentation": "List of supported Kubernetes versions"
          }
        }
      },
      "traits": {}
    },
    "com.azure.hybridaks#KubernetesVersionProfilePropertiesValuesList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridaks#KubernetesVersionProperties"
      },
      "traits": {
        "smithy.api#documentation": "List of supported Kubernetes versions"
      }
    },
    "com.azure.hybridaks#KubernetesVersionProperties": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "major.minor version of Kubernetes release"
          }
        },
        "isPreview": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this version is in preview mode."
          }
        },
        "patchVersions": {
          "target": "com.azure.hybridaks#KubernetesVersionPropertiesPatchVersionsMap",
          "traits": {
            "smithy.api#documentation": "Patch versions of a Kubernetes release"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Kubernetes version profile for given major.minor release"
      }
    },
    "com.azure.hybridaks#KubernetesVersionPropertiesPatchVersionsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.hybridaks#KubernetesPatchVersions"
      },
      "traits": {
        "smithy.api#documentation": "Patch versions of a Kubernetes release"
      }
    },
    "com.azure.hybridaks#KubernetesPatchVersions": {
      "type": "structure",
      "members": {
        "readiness": {
          "target": "com.azure.hybridaks#KubernetesPatchVersionsReadinessList",
          "traits": {
            "smithy.api#documentation": "Indicates whether the kubernetes version image is ready or not"
          }
        },
        "upgrades": {
          "target": "com.azure.hybridaks#KubernetesPatchVersionsUpgradesList",
          "traits": {
            "smithy.api#documentation": "Possible upgrade paths for given patch version"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Kubernetes Patch Version profile"
      }
    },
    "com.azure.hybridaks#KubernetesPatchVersionsUpgradesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Possible upgrade paths for given patch version"
      }
    },
    "com.azure.hybridaks#KubernetesPatchVersionsReadinessList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridaks#KubernetesVersionReadiness"
      },
      "traits": {
        "smithy.api#documentation": "Indicates whether the kubernetes version image is ready or not"
      }
    },
    "com.azure.hybridaks#KubernetesVersionReadiness": {
      "type": "structure",
      "members": {
        "osType": {
          "target": "com.azure.hybridaks#KubernetesVersionReadinessOsType",
          "traits": {
            "smithy.api#documentation": "The particular KubernetesVersion Image OS Type (Linux, Windows)"
          }
        },
        "osSku": {
          "target": "com.azure.hybridaks#OSSKU"
        },
        "ready": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the kubernetes version image is ready or not"
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message for version not being ready"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates whether the kubernetes version image is ready or not"
      }
    },
    "com.azure.hybridaks#OSSKU": {
      "type": "enum",
      "members": {
        "CBLMARINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CBLMariner"
          }
        },
        "WINDOWS2019": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Windows2019"
          }
        },
        "WINDOWS2022": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Windows2022"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the OS SKU used by the agent pool. The default is CBLMariner if OSType is Linux. The default is Windows2019 when OSType is Windows."
      }
    },
    "com.azure.hybridaks#KubernetesVersionReadinessOsType": {
      "type": "enum",
      "members": {
        "WINDOWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Windows"
          }
        },
        "LINUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Linux"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The particular KubernetesVersion Image OS Type (Linux, Windows)"
      }
    },
    "com.azure.hybridaks#KubernetesVersionsListRequest": {
      "type": "structure",
      "members": {
        "customLocationResourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource Manager identifier of the custom location resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridaks#DeleteKubernetesVersions": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridaks#DeleteKubernetesVersionsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/{customLocationResourceUri}/providers/Microsoft.HybridContainerService/kubernetesVersions/default",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Deletes the default kubernetes version resource type\n\nDelete the default kubernetes versions resource type",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.hybridaks#DeleteKubernetesVersionsRequest": {
      "type": "structure",
      "members": {
        "customLocationResourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource Manager identifier of the custom location resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridaks#PutKubernetesVersions": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridaks#PutKubernetesVersionsRequest"
      },
      "output": {
        "target": "com.azure.hybridaks#PutKubernetesVersionsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/{customLocationResourceUri}/providers/Microsoft.HybridContainerService/kubernetesVersions/default",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Puts the default kubernetes version resource type (one time operation, before listing the kubernetes versions)\n\nPuts the default kubernetes version resource type (one time operation, before listing the kubernetes versions)",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.hybridaks#PutKubernetesVersionsResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridaks#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "extendedLocation": {
          "target": "com.azure.hybridaks#ExtendedLocation"
        },
        "properties": {
          "target": "com.azure.hybridaks#PutKubernetesVersionsResponseProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.hybridaks#PutKubernetesVersionsResponseProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.hybridaks#ProvisioningState"
        },
        "values": {
          "target": "com.azure.hybridaks#PutKubernetesVersionsResponsePropertiesValuesList",
          "traits": {
            "smithy.api#documentation": "List of supported Kubernetes versions"
          }
        }
      },
      "traits": {}
    },
    "com.azure.hybridaks#PutKubernetesVersionsResponsePropertiesValuesList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridaks#KubernetesVersionProperties"
      },
      "traits": {
        "smithy.api#documentation": "List of supported Kubernetes versions"
      }
    },
    "com.azure.hybridaks#PutKubernetesVersionsRequest": {
      "type": "structure",
      "members": {
        "customLocationResourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource Manager identifier of the custom location resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.hybridaks#ExtendedLocation"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridaks#GetKubernetesVersions": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridaks#GetKubernetesVersionsRequest"
      },
      "output": {
        "target": "com.azure.hybridaks#GetKubernetesVersionsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{customLocationResourceUri}/providers/Microsoft.HybridContainerService/kubernetesVersions/default",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Lists the supported kubernetes versions\n\nLists the supported kubernetes versions for the specified custom location",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.hybridaks#GetKubernetesVersionsResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridaks#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "extendedLocation": {
          "target": "com.azure.hybridaks#ExtendedLocation"
        },
        "properties": {
          "target": "com.azure.hybridaks#GetKubernetesVersionsResponseProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.hybridaks#GetKubernetesVersionsResponseProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.hybridaks#ProvisioningState"
        },
        "values": {
          "target": "com.azure.hybridaks#GetKubernetesVersionsResponsePropertiesValuesList",
          "traits": {
            "smithy.api#documentation": "List of supported Kubernetes versions"
          }
        }
      },
      "traits": {}
    },
    "com.azure.hybridaks#GetKubernetesVersionsResponsePropertiesValuesList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridaks#KubernetesVersionProperties"
      },
      "traits": {
        "smithy.api#documentation": "List of supported Kubernetes versions"
      }
    },
    "com.azure.hybridaks#GetKubernetesVersionsRequest": {
      "type": "structure",
      "members": {
        "customLocationResourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource Manager identifier of the custom location resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridaks#ProvisionedClusterInstancesListAdminKubeconfig": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridaks#ProvisionedClusterInstancesListAdminKubeconfigRequest"
      },
      "output": {
        "target": "com.azure.hybridaks#ListCredentialResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{connectedClusterResourceUri}/providers/Microsoft.HybridContainerService/provisionedClusterInstances/default/listAdminKubeconfig",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Lists the admin credentials of the provisioned cluster (can only be used within private network)\n\nLists the admin credentials of the provisioned cluster (can only be used within private network)",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.hybridaks#ListCredentialResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation Id"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation Name"
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ARM Resource Id of the provisioned cluster instance"
          }
        },
        "status": {
          "target": "com.azure.hybridaks#ProvisioningState"
        },
        "error": {
          "target": "com.azure.hybridaks#ListCredentialResponseError"
        },
        "properties": {
          "target": "com.azure.hybridaks#ListCredentialResponseProperties"
        }
      },
      "traits": {
        "smithy.api#documentation": "The list kubeconfig result response."
      }
    },
    "com.azure.hybridaks#ListCredentialResponseProperties": {
      "type": "structure",
      "members": {
        "kubeconfigs": {
          "target": "com.azure.hybridaks#ListCredentialResponsePropertiesKubeconfigsList",
          "traits": {
            "smithy.api#documentation": "Base64-encoded Kubernetes configuration file."
          }
        }
      },
      "traits": {}
    },
    "com.azure.hybridaks#ListCredentialResponsePropertiesKubeconfigsList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridaks#CredentialResult"
      },
      "traits": {
        "smithy.api#documentation": "Base64-encoded Kubernetes configuration file."
      }
    },
    "com.azure.hybridaks#CredentialResult": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the credential."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64-encoded Kubernetes configuration file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The credential result response."
      }
    },
    "com.azure.hybridaks#ListCredentialResponseError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.azure.hybridaks#ProvisionedClusterInstancesListAdminKubeconfigRequest": {
      "type": "structure",
      "members": {
        "connectedClusterResourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource Manager identifier of the connected cluster resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridaks#ProvisionedClusterInstancesListUserKubeconfig": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridaks#ProvisionedClusterInstancesListUserKubeconfigRequest"
      },
      "output": {
        "target": "com.azure.hybridaks#ListCredentialResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{connectedClusterResourceUri}/providers/Microsoft.HybridContainerService/provisionedClusterInstances/default/listUserKubeconfig",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Lists the user credentials of the provisioned cluster (can only be used within private network)\n\nLists the user credentials of the provisioned cluster (can only be used within private network)",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.hybridaks#ProvisionedClusterInstancesListUserKubeconfigRequest": {
      "type": "structure",
      "members": {
        "connectedClusterResourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource Manager identifier of the connected cluster resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridaks#AgentPoolListByProvisionedCluster": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridaks#AgentPoolListByProvisionedClusterRequest"
      },
      "output": {
        "target": "com.azure.hybridaks#AgentPoolListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{connectedClusterResourceUri}/providers/Microsoft.HybridContainerService/provisionedClusterInstances/default/agentPools",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Gets the list of agent pools in the specified provisioned cluster\n\nGets the list of agent pools in the specified provisioned cluster",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.hybridaks#AgentPoolListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.hybridaks#AgentPoolListResultValueList"
        },
        "nextLink": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "List of all agent pool resources associated with the provisioned cluster."
      }
    },
    "com.azure.hybridaks#AgentPoolListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridaks#AgentPool"
      },
      "traits": {}
    },
    "com.azure.hybridaks#AgentPool": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridaks#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.hybridaks#AgentPoolProperties"
        },
        "tags": {
          "target": "com.azure.hybridaks#AgentPoolTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags"
          }
        },
        "extendedLocation": {
          "target": "com.azure.hybridaks#ExtendedLocation"
        }
      },
      "traits": {
        "smithy.api#documentation": "The agentPool resource definition"
      }
    },
    "com.azure.hybridaks#AgentPoolTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags"
      }
    },
    "com.azure.hybridaks#AgentPoolProperties": {
      "type": "structure",
      "members": {
        "osType": {
          "target": "com.azure.hybridaks#OSType"
        },
        "osSKU": {
          "target": "com.azure.hybridaks#OSSKU"
        },
        "nodeLabels": {
          "target": "com.azure.hybridaks#AgentPoolPropertiesNodeLabelsMap",
          "traits": {
            "smithy.api#documentation": "The node labels to be persisted across all nodes in agent pool."
          }
        },
        "nodeTaints": {
          "target": "com.azure.hybridaks#AgentPoolPropertiesNodeTaintsList",
          "traits": {
            "smithy.api#documentation": "Taints added to new nodes during node pool create and scale. For example, key=value:NoSchedule."
          }
        },
        "maxCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of nodes for auto-scaling"
          }
        },
        "minCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The minimum number of nodes for auto-scaling"
          }
        },
        "enableAutoScaling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable auto-scaler. Default value is false"
          }
        },
        "maxPods": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of pods that can run on a node."
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of nodes in the agent pool. The default value is 1."
          }
        },
        "vmSize": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The VM sku size of the agent pool node VMs."
          }
        },
        "kubernetesVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of Kubernetes in use by the agent pool. This is inherited from the kubernetesVersion of the provisioned cluster."
          }
        },
        "provisioningState": {
          "target": "com.azure.hybridaks#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The status of the latest long running operation for the agent pool."
          }
        },
        "status": {
          "target": "com.azure.hybridaks#AgentPoolPropertiesStatus",
          "traits": {
            "smithy.api#documentation": "The observed status of the agent pool."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the agent pool resource"
      }
    },
    "com.azure.hybridaks#AgentPoolPropertiesStatus": {
      "type": "structure",
      "members": {
        "currentState": {
          "target": "com.azure.hybridaks#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The current state of the agent pool."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error messages during an agent pool operation or steady state."
          }
        },
        "readyReplicas": {
          "target": "com.azure.hybridaks#AgentPoolPropertiesStatusReadyReplicasList"
        }
      },
      "traits": {
        "smithy.api#documentation": "The observed status of the agent pool."
      }
    },
    "com.azure.hybridaks#AgentPoolPropertiesStatusReadyReplicasList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridaks#AgentPoolUpdateProfile"
      },
      "traits": {}
    },
    "com.azure.hybridaks#AgentPoolUpdateProfile": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of nodes in the agent pool. The default value is 1."
          }
        },
        "vmSize": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The VM sku size of the agent pool node VMs."
          }
        },
        "kubernetesVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of Kubernetes in use by the agent pool. This is inherited from the kubernetesVersion of the provisioned cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Profile for agent pool properties that can be updated"
      }
    },
    "com.azure.hybridaks#AgentPoolPropertiesNodeTaintsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Taints added to new nodes during node pool create and scale. For example, key=value:NoSchedule."
      }
    },
    "com.azure.hybridaks#AgentPoolPropertiesNodeLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The node labels to be persisted across all nodes in agent pool."
      }
    },
    "com.azure.hybridaks#OSType": {
      "type": "enum",
      "members": {
        "LINUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Linux"
          }
        },
        "WINDOWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Windows"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OSType to be used to specify OS type for the VMs. Choose from Linux and Windows. Default to Linux. Possible values include: 'Linux', 'Windows'"
      }
    },
    "com.azure.hybridaks#AgentPoolListByProvisionedClusterRequest": {
      "type": "structure",
      "members": {
        "connectedClusterResourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource Manager identifier of the connected cluster resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridaks#AgentPoolDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridaks#AgentPoolDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/{connectedClusterResourceUri}/providers/Microsoft.HybridContainerService/provisionedClusterInstances/default/agentPools/{agentPoolName}",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Deletes the specified agent pool in the provisioned cluster\n\nDeletes the specified agent pool in the provisioned cluster",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.hybridaks#AgentPoolDeleteRequest": {
      "type": "structure",
      "members": {
        "connectedClusterResourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource Manager identifier of the connected cluster resource."
          }
        },
        "agentPoolName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Parameter for the name of the agent pool in the provisioned cluster."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridaks#AgentPoolCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridaks#AgentPoolCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.hybridaks#AgentPoolCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/{connectedClusterResourceUri}/providers/Microsoft.HybridContainerService/provisionedClusterInstances/default/agentPools/{agentPoolName}",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Creates or updates the agent pool in the provisioned cluster\n\nCreates or updates the agent pool in the provisioned cluster",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.hybridaks#AgentPoolCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridaks#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.hybridaks#AgentPoolProperties"
        },
        "tags": {
          "target": "com.azure.hybridaks#AgentPoolCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags"
          }
        },
        "extendedLocation": {
          "target": "com.azure.hybridaks#ExtendedLocation"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.hybridaks#AgentPoolCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags"
      }
    },
    "com.azure.hybridaks#AgentPoolCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "connectedClusterResourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource Manager identifier of the connected cluster resource."
          }
        },
        "agentPoolName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Parameter for the name of the agent pool in the provisioned cluster."
          }
        },
        "properties": {
          "target": "com.azure.hybridaks#AgentPoolPropertiesInput"
        },
        "tags": {
          "target": "com.azure.hybridaks#AgentPoolCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags"
          }
        },
        "extendedLocation": {
          "target": "com.azure.hybridaks#ExtendedLocation"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridaks#AgentPoolCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags"
      }
    },
    "com.azure.hybridaks#AgentPoolPropertiesInput": {
      "type": "structure",
      "members": {
        "osType": {
          "target": "com.azure.hybridaks#OSType"
        },
        "osSKU": {
          "target": "com.azure.hybridaks#OSSKU"
        },
        "nodeLabels": {
          "target": "com.azure.hybridaks#AgentPoolPropertiesInputNodeLabelsMap",
          "traits": {
            "smithy.api#documentation": "The node labels to be persisted across all nodes in agent pool."
          }
        },
        "nodeTaints": {
          "target": "com.azure.hybridaks#AgentPoolPropertiesInputNodeTaintsList",
          "traits": {
            "smithy.api#documentation": "Taints added to new nodes during node pool create and scale. For example, key=value:NoSchedule."
          }
        },
        "maxCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of nodes for auto-scaling"
          }
        },
        "minCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The minimum number of nodes for auto-scaling"
          }
        },
        "enableAutoScaling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to enable auto-scaler. Default value is false"
          }
        },
        "maxPods": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of pods that can run on a node."
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of nodes in the agent pool. The default value is 1."
          }
        },
        "vmSize": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The VM sku size of the agent pool node VMs."
          }
        },
        "status": {
          "target": "com.azure.hybridaks#AgentPoolPropertiesInputStatus",
          "traits": {
            "smithy.api#documentation": "The observed status of the agent pool."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the agent pool resource"
      }
    },
    "com.azure.hybridaks#AgentPoolPropertiesInputStatus": {
      "type": "structure",
      "members": {
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error messages during an agent pool operation or steady state."
          }
        },
        "readyReplicas": {
          "target": "com.azure.hybridaks#AgentPoolPropertiesInputStatusReadyReplicasList"
        }
      },
      "traits": {
        "smithy.api#documentation": "The observed status of the agent pool."
      }
    },
    "com.azure.hybridaks#AgentPoolPropertiesInputStatusReadyReplicasList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridaks#AgentPoolUpdateProfileInput"
      },
      "traits": {}
    },
    "com.azure.hybridaks#AgentPoolUpdateProfileInput": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of nodes in the agent pool. The default value is 1."
          }
        },
        "vmSize": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The VM sku size of the agent pool node VMs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Profile for agent pool properties that can be updated"
      }
    },
    "com.azure.hybridaks#AgentPoolPropertiesInputNodeTaintsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Taints added to new nodes during node pool create and scale. For example, key=value:NoSchedule."
      }
    },
    "com.azure.hybridaks#AgentPoolPropertiesInputNodeLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The node labels to be persisted across all nodes in agent pool."
      }
    },
    "com.azure.hybridaks#AgentPoolGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridaks#AgentPoolGetRequest"
      },
      "output": {
        "target": "com.azure.hybridaks#AgentPoolGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{connectedClusterResourceUri}/providers/Microsoft.HybridContainerService/provisionedClusterInstances/default/agentPools/{agentPoolName}",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Gets the specified agent pool in the provisioned cluster\n\nGets the specified agent pool in the provisioned cluster",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.hybridaks#AgentPoolGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridaks#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.hybridaks#AgentPoolProperties"
        },
        "tags": {
          "target": "com.azure.hybridaks#AgentPoolGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags"
          }
        },
        "extendedLocation": {
          "target": "com.azure.hybridaks#ExtendedLocation"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.hybridaks#AgentPoolGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags"
      }
    },
    "com.azure.hybridaks#AgentPoolGetRequest": {
      "type": "structure",
      "members": {
        "connectedClusterResourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource Manager identifier of the connected cluster resource."
          }
        },
        "agentPoolName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Parameter for the name of the agent pool in the provisioned cluster."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridaks#HybridIdentityMetadataListByCluster": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridaks#HybridIdentityMetadataListByClusterRequest"
      },
      "output": {
        "target": "com.azure.hybridaks#HybridIdentityMetadataList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{connectedClusterResourceUri}/providers/Microsoft.HybridContainerService/provisionedClusterInstances/default/hybridIdentityMetadata",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Lists the hybrid identity metadata resources in a provisioned cluster instance\n\nLists the hybrid identity metadata proxy resource in a provisioned cluster instance.",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.hybridaks#HybridIdentityMetadataList": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Url to follow for getting next page of hybridIdentityMetadata."
          }
        },
        "value": {
          "target": "com.azure.hybridaks#HybridIdentityMetadataListValueList",
          "traits": {
            "smithy.api#documentation": "Array of hybridIdentityMetadata",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of hybridIdentityMetadata."
      }
    },
    "com.azure.hybridaks#HybridIdentityMetadataListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridaks#HybridIdentityMetadata"
      },
      "traits": {
        "smithy.api#documentation": "Array of hybridIdentityMetadata"
      }
    },
    "com.azure.hybridaks#HybridIdentityMetadata": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridaks#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.hybridaks#HybridIdentityMetadataProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the hybridIdentityMetadata."
      }
    },
    "com.azure.hybridaks#HybridIdentityMetadataProperties": {
      "type": "structure",
      "members": {
        "resourceUid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique id of the parent provisioned cluster resource."
          }
        },
        "publicKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Onboarding public key for provisioning the Managed identity for the connected cluster."
          }
        },
        "provisioningState": {
          "target": "com.azure.hybridaks#ProvisioningState"
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the resource properties for the hybrid identity metadata."
      }
    },
    "com.azure.hybridaks#HybridIdentityMetadataListByClusterRequest": {
      "type": "structure",
      "members": {
        "connectedClusterResourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource Manager identifier of the connected cluster resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridaks#HybridIdentityMetadataDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridaks#HybridIdentityMetadataDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/{connectedClusterResourceUri}/providers/Microsoft.HybridContainerService/provisionedClusterInstances/default/hybridIdentityMetadata/default",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Deletes the hybrid identity metadata resource\n\nDeletes the hybrid identity metadata proxy resource.",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.hybridaks#HybridIdentityMetadataDeleteRequest": {
      "type": "structure",
      "members": {
        "connectedClusterResourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource Manager identifier of the connected cluster resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridaks#HybridIdentityMetadataPut": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridaks#HybridIdentityMetadataPutRequest"
      },
      "output": {
        "target": "com.azure.hybridaks#HybridIdentityMetadataPutResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/{connectedClusterResourceUri}/providers/Microsoft.HybridContainerService/provisionedClusterInstances/default/hybridIdentityMetadata/default",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Creates the hybrid identity metadata resource\n\nCreates the hybrid identity metadata proxy resource that facilitates the managed identity provisioning.",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.hybridaks#HybridIdentityMetadataPutResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridaks#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.hybridaks#HybridIdentityMetadataProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.hybridaks#HybridIdentityMetadataPutRequest": {
      "type": "structure",
      "members": {
        "connectedClusterResourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource Manager identifier of the connected cluster resource."
          }
        },
        "properties": {
          "target": "com.azure.hybridaks#HybridIdentityMetadataPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Resource properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridaks#HybridIdentityMetadataPropertiesInput": {
      "type": "structure",
      "members": {
        "resourceUid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique id of the parent provisioned cluster resource."
          }
        },
        "publicKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Onboarding public key for provisioning the Managed identity for the connected cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the resource properties for the hybrid identity metadata."
      }
    },
    "com.azure.hybridaks#HybridIdentityMetadataGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridaks#HybridIdentityMetadataGetRequest"
      },
      "output": {
        "target": "com.azure.hybridaks#HybridIdentityMetadataGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{connectedClusterResourceUri}/providers/Microsoft.HybridContainerService/provisionedClusterInstances/default/hybridIdentityMetadata/default",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Get the hybrid identity metadata resource\n\nGet the hybrid identity metadata proxy resource.",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.hybridaks#HybridIdentityMetadataGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridaks#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.hybridaks#HybridIdentityMetadataProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.hybridaks#HybridIdentityMetadataGetRequest": {
      "type": "structure",
      "members": {
        "connectedClusterResourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource Manager identifier of the connected cluster resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridaks#ProvisionedClusterInstancesGetUpgradeProfile": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridaks#ProvisionedClusterInstancesGetUpgradeProfileRequest"
      },
      "output": {
        "target": "com.azure.hybridaks#ProvisionedClusterInstancesGetUpgradeProfileResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{connectedClusterResourceUri}/providers/Microsoft.HybridContainerService/provisionedClusterInstances/default/upgradeProfiles/default",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Gets the upgrade profile of a provisioned cluster\n\nGets the upgrade profile of a provisioned cluster",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.hybridaks#ProvisionedClusterInstancesGetUpgradeProfileResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridaks#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.hybridaks#ProvisionedClusterUpgradeProfileProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the upgrade profile.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.hybridaks#ProvisionedClusterUpgradeProfileProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.hybridaks#ProvisioningState"
        },
        "controlPlaneProfile": {
          "target": "com.azure.hybridaks#ProvisionedClusterPoolUpgradeProfile",
          "traits": {
            "smithy.api#documentation": "The list of available kubernetes version upgrades for the control plane.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Control plane and agent pool upgrade profiles."
      }
    },
    "com.azure.hybridaks#ProvisionedClusterPoolUpgradeProfile": {
      "type": "structure",
      "members": {
        "kubernetesVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Kubernetes version (major.minor.patch)."
          }
        },
        "osType": {
          "target": "com.azure.hybridaks#OSType"
        },
        "upgrades": {
          "target": "com.azure.hybridaks#ProvisionedClusterPoolUpgradeProfileUpgradesList",
          "traits": {
            "smithy.api#documentation": "List of available kubernetes versions for upgrade."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of available kubernetes versions for upgrade."
      }
    },
    "com.azure.hybridaks#ProvisionedClusterPoolUpgradeProfileUpgradesList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridaks#ProvisionedClusterPoolUpgradeProfileProperties"
      },
      "traits": {
        "smithy.api#documentation": "List of available kubernetes versions for upgrade."
      }
    },
    "com.azure.hybridaks#ProvisionedClusterPoolUpgradeProfileProperties": {
      "type": "structure",
      "members": {
        "kubernetesVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Kubernetes version (major.minor.patch)."
          }
        },
        "isPreview": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Kubernetes version is currently in preview."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The upgrade properties."
      }
    },
    "com.azure.hybridaks#ProvisionedClusterInstancesGetUpgradeProfileRequest": {
      "type": "structure",
      "members": {
        "connectedClusterResourceUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource Manager identifier of the connected cluster resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridaks#ProvisionedClusterInstancesList": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridaks#ProvisionedClusterInstancesListRequest"
      },
      "output": {
        "target": "com.azure.hybridaks#ProvisionedClusterListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{connectedClusterResourceUri}/providers/Microsoft.HybridContainerService/provisionedClusterInstances",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Lists the ProvisionedClusterInstance resource associated with the ConnectedCluster\n\nLists the ProvisionedClusterInstance resource associated with the ConnectedCluster",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.hybridaks#ProvisionedClusterListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.hybridaks#ProvisionedClusterListResultValueList"
        },
        "nextLink": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Lists the ProvisionedClusterInstance resource associated with the ConnectedCluster."
      }
    },
    "com.azure.hybridaks#ProvisionedClusterListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridaks#ProvisionedCluster"
      },
      "traits": {}
    },
    "com.azure.hybridaks#ProvisionedCluster": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridaks#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.hybridaks#ProvisionedClusterProperties"
        },
        "extendedLocation": {
          "target": "com.azure.hybridaks#ExtendedLocation"
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioned cluster resource definition."
      }
    },
    "com.azure.hybridaks#ProvisionedClusterProperties": {
      "type": "structure",
      "members": {
        "linuxProfile": {
          "target": "com.azure.hybridaks#LinuxProfileProperties",
          "traits": {
            "smithy.api#documentation": "The profile for Linux VMs in the provisioned cluster."
          }
        },
        "controlPlane": {
          "target": "com.azure.hybridaks#ControlPlaneProfile",
          "traits": {
            "smithy.api#documentation": "The profile for control plane of the provisioned cluster."
          }
        },
        "kubernetesVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of Kubernetes in use by the provisioned cluster."
          }
        },
        "networkProfile": {
          "target": "com.azure.hybridaks#NetworkProfile",
          "traits": {
            "smithy.api#documentation": "The network configuration profile for the provisioned cluster."
          }
        },
        "storageProfile": {
          "target": "com.azure.hybridaks#StorageProfile",
          "traits": {
            "smithy.api#documentation": "The storage configuration profile for the provisioned cluster."
          }
        },
        "clusterVMAccessProfile": {
          "target": "com.azure.hybridaks#ClusterVMAccessProfile",
          "traits": {
            "smithy.api#documentation": "The SSH restricted access profile for the VMs in the provisioned cluster."
          }
        },
        "agentPoolProfiles": {
          "target": "com.azure.hybridaks#ProvisionedClusterPropertiesAgentPoolProfilesList",
          "traits": {
            "smithy.api#documentation": "The agent pool properties for the provisioned cluster."
          }
        },
        "cloudProviderProfile": {
          "target": "com.azure.hybridaks#CloudProviderProfile",
          "traits": {
            "smithy.api#documentation": "The profile for the underlying cloud infrastructure provider for the provisioned cluster."
          }
        },
        "provisioningState": {
          "target": "com.azure.hybridaks#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The status of the latest long running operation for the provisioned cluster."
          }
        },
        "status": {
          "target": "com.azure.hybridaks#ProvisionedClusterPropertiesStatus",
          "traits": {
            "smithy.api#documentation": "The observed status of the provisioned cluster."
          }
        },
        "licenseProfile": {
          "target": "com.azure.hybridaks#ProvisionedClusterLicenseProfile",
          "traits": {
            "smithy.api#documentation": "The license profile of the provisioned cluster."
          }
        },
        "autoScalerProfile": {
          "target": "com.azure.hybridaks#ProvisionedClusterPropertiesAutoScalerProfile",
          "traits": {
            "smithy.api#documentation": "Parameters to be applied to the cluster-autoscaler when auto scaling is enabled for the provisioned cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the provisioned cluster."
      }
    },
    "com.azure.hybridaks#ProvisionedClusterPropertiesAutoScalerProfile": {
      "type": "structure",
      "members": {
        "balance_similar_node_groups": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Valid values are 'true' and 'false'",
            "smithy.api#jsonName": "balance-similar-node-groups"
          }
        },
        "expander": {
          "target": "com.azure.hybridaks#ProvisionedClusterPropertiesAutoScalerProfileExpander",
          "traits": {
            "smithy.api#documentation": "If not specified, the default is 'random'. See [expanders](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-are-expanders) for more information."
          }
        },
        "max_empty_bulk_delete": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default is 10.",
            "smithy.api#jsonName": "max-empty-bulk-delete"
          }
        },
        "max_graceful_termination_sec": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default is 600.",
            "smithy.api#jsonName": "max-graceful-termination-sec"
          }
        },
        "max_node_provision_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default is '15m'. Values must be an integer followed by an 'm'. No unit of time other than minutes (m) is supported.",
            "smithy.api#jsonName": "max-node-provision-time"
          }
        },
        "max_total_unready_percentage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default is 45. The maximum is 100 and the minimum is 0.",
            "smithy.api#jsonName": "max-total-unready-percentage"
          }
        },
        "new_pod_scale_up_delay": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For scenarios like burst/batch scale where you don't want CA to act before the kubernetes scheduler could schedule all the pods, you can tell CA to ignore unscheduled pods before they're a certain age. The default is '0s'. Values must be an integer followed by a unit ('s' for seconds, 'm' for minutes, 'h' for hours, etc).",
            "smithy.api#jsonName": "new-pod-scale-up-delay"
          }
        },
        "ok_total_unready_count": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This must be an integer. The default is 3.",
            "smithy.api#jsonName": "ok-total-unready-count"
          }
        },
        "scan_interval": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default is '10'. Values must be an integer number of seconds.",
            "smithy.api#jsonName": "scan-interval"
          }
        },
        "scale_down_delay_after_add": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default is '10m'. Values must be an integer followed by an 'm'. No unit of time other than minutes (m) is supported.",
            "smithy.api#jsonName": "scale-down-delay-after-add"
          }
        },
        "scale_down_delay_after_delete": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default is the scan-interval. Values must be an integer followed by an 'm'. No unit of time other than minutes (m) is supported.",
            "smithy.api#jsonName": "scale-down-delay-after-delete"
          }
        },
        "scale_down_delay_after_failure": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default is '3m'. Values must be an integer followed by an 'm'. No unit of time other than minutes (m) is supported.",
            "smithy.api#jsonName": "scale-down-delay-after-failure"
          }
        },
        "scale_down_unneeded_time": {
          "target": "smithy.api#String",
          "traits": {
[...]
