{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.hybridnetwork#ConfigurationGroupSchemasUpdateState": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridnetwork#ConfigurationGroupSchemasUpdateStateRequest"
      },
      "output": {
        "target": "com.azure.hybridnetwork#ConfigurationGroupSchemaVersionUpdateState"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/publishers/{publisherName}/configurationGroupSchemas/{configurationGroupSchemaName}/updateState",
          "code": 200,
          "apiVersion": "2024-04-15"
        },
        "smithy.api#documentation": "Update configuration group schema state.",
        "com.distilled.openapi#apiVersion": "2024-04-15"
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupSchemaVersionUpdateState": {
      "type": "structure",
      "members": {
        "versionState": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupSchemaVersionState",
          "traits": {
            "smithy.api#documentation": "The configuration group schema state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Publisher configuration group schema update request definition."
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupSchemaVersionState": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Preview"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deprecated"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration group schema state."
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupSchemasUpdateStateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "publisherName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the publisher."
          }
        },
        "configurationGroupSchemaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the configuration group schema."
          }
        },
        "versionState": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupSchemaVersionState",
          "traits": {
            "smithy.api#documentation": "The configuration group schema state."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupSchemasDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridnetwork#ConfigurationGroupSchemasDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/publishers/{publisherName}/configurationGroupSchemas/{configurationGroupSchemaName}",
          "code": 200,
          "apiVersion": "2024-04-15"
        },
        "smithy.api#documentation": "Deletes a specified configuration group schema.",
        "com.distilled.openapi#apiVersion": "2024-04-15"
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupSchemasDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "publisherName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the publisher."
          }
        },
        "configurationGroupSchemaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the configuration group schema."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupSchemasUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridnetwork#ConfigurationGroupSchemasUpdateRequest"
      },
      "output": {
        "target": "com.azure.hybridnetwork#ConfigurationGroupSchemasUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/publishers/{publisherName}/configurationGroupSchemas/{configurationGroupSchemaName}",
          "code": 200,
          "apiVersion": "2024-04-15"
        },
        "smithy.api#documentation": "Updates a configuration group schema resource.",
        "com.distilled.openapi#apiVersion": "2024-04-15"
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupSchemasUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridnetwork#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupSchemasUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupSchemaPropertiesFormat",
          "traits": {
            "smithy.api#documentation": "Configuration group schema properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupSchemaPropertiesFormat": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupSchemaPropertiesFormatProvisioningState",
          "traits": {
            "smithy.api#documentation": "The current provisioning state."
          }
        },
        "versionState": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupSchemaVersionState",
          "traits": {
            "smithy.api#documentation": "The configuration group schema version state."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of what schema can contain."
          }
        },
        "schemaDefinition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name and value pairs that define the configuration value. It can be a well formed escaped JSON string."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration group schema properties."
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupSchemaPropertiesFormatProvisioningState": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleted"
          }
        },
        "CONVERGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Converging"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current provisioning state."
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupSchemasUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.hybridnetwork#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.hybridnetwork#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.hybridnetwork#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.hybridnetwork#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.hybridnetwork#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupSchemasUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "publisherName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the publisher."
          }
        },
        "configurationGroupSchemaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the configuration group schema."
          }
        },
        "tags": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupSchemasUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupSchemasUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupSchemasCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridnetwork#ConfigurationGroupSchemasCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.hybridnetwork#ConfigurationGroupSchemasCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/publishers/{publisherName}/configurationGroupSchemas/{configurationGroupSchemaName}",
          "code": 200,
          "apiVersion": "2024-04-15"
        },
        "smithy.api#documentation": "Creates or updates a configuration group schema.",
        "com.distilled.openapi#apiVersion": "2024-04-15"
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupSchemasCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridnetwork#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupSchemasCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupSchemaPropertiesFormat",
          "traits": {
            "smithy.api#documentation": "Configuration group schema properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupSchemasCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupSchemasCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "publisherName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the publisher."
          }
        },
        "configurationGroupSchemaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the configuration group schema."
          }
        },
        "tags": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupSchemasCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupSchemaPropertiesFormatInput",
          "traits": {
            "smithy.api#documentation": "Configuration group schema properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupSchemaPropertiesFormatInput": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of what schema can contain."
          }
        },
        "schemaDefinition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name and value pairs that define the configuration value. It can be a well formed escaped JSON string."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration group schema properties."
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupSchemasCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupSchemasGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridnetwork#ConfigurationGroupSchemasGetRequest"
      },
      "output": {
        "target": "com.azure.hybridnetwork#ConfigurationGroupSchemasGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/publishers/{publisherName}/configurationGroupSchemas/{configurationGroupSchemaName}",
          "code": 200,
          "apiVersion": "2024-04-15"
        },
        "smithy.api#documentation": "Gets information about the specified configuration group schema.",
        "com.distilled.openapi#apiVersion": "2024-04-15"
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupSchemasGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridnetwork#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupSchemasGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupSchemaPropertiesFormat",
          "traits": {
            "smithy.api#documentation": "Configuration group schema properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupSchemasGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupSchemasGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "publisherName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the publisher."
          }
        },
        "configurationGroupSchemaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the configuration group schema."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupSchemasListByPublisher": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridnetwork#ConfigurationGroupSchemasListByPublisherRequest"
      },
      "output": {
        "target": "com.azure.hybridnetwork#ConfigurationGroupSchemaListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/publishers/{publisherName}/configurationGroupSchemas",
          "code": 200,
          "apiVersion": "2024-04-15"
        },
        "smithy.api#documentation": "Gets information of the configuration group schemas under a publisher.",
        "com.distilled.openapi#apiVersion": "2024-04-15"
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupSchemaListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupSchemaListResultValueList",
          "traits": {
            "smithy.api#documentation": "A list of configuration group schema."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to get the next set of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of configuration group schema resources."
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupSchemaListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridnetwork#ConfigurationGroupSchema"
      },
      "traits": {
        "smithy.api#documentation": "A list of configuration group schema."
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupSchema": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridnetwork#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupSchemaTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupSchemaPropertiesFormat",
          "traits": {
            "smithy.api#documentation": "Configuration group schema properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration group schema resource."
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupSchemaTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupSchemasListByPublisherRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "publisherName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the publisher."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupValuesListByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridnetwork#ConfigurationGroupValuesListByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.hybridnetwork#ConfigurationGroupValueListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/configurationGroupValues",
          "code": 200,
          "apiVersion": "2024-04-15"
        },
        "smithy.api#documentation": "Lists all the hybrid network configurationGroupValues in a resource group.",
        "com.distilled.openapi#apiVersion": "2024-04-15"
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupValueListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupValueListResultValueList",
          "traits": {
            "smithy.api#documentation": "A list of hybrid configurationGroups."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to get the next set of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for hybrid configurationGroups API service call."
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupValueListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridnetwork#ConfigurationGroupValue"
      },
      "traits": {
        "smithy.api#documentation": "A list of hybrid configurationGroups."
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupValue": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridnetwork#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupValueTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupValuePropertiesFormat",
          "traits": {
            "smithy.api#documentation": "Hybrid configuration group value properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Hybrid configuration group value resource."
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupValuePropertiesFormat": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupValuePropertiesFormatProvisioningState",
          "traits": {
            "smithy.api#documentation": "The current provisioning state."
          }
        },
        "publisherName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The publisher name for the configuration group schema."
          }
        },
        "publisherScope": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupValuePropertiesFormatPublisherScope",
          "traits": {
            "smithy.api#documentation": "Publisher Scope."
          }
        },
        "configurationGroupSchemaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The configuration group schema name."
          }
        },
        "configurationGroupSchemaOfferingLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the configuration group schema offering."
          }
        },
        "configurationGroupSchemaResourceReference": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupValuePropertiesFormatConfigurationGroupSchemaResourceReference",
          "traits": {
            "smithy.api#documentation": "The azure resource reference which is used for deployment."
          }
        },
        "configurationType": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupValueConfigurationType",
          "traits": {
            "smithy.api#documentation": "The value which indicates if configuration values are secrets",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Hybrid configuration group value properties."
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupValueConfigurationType": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "SECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Secret"
          }
        },
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Open"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The secret type which indicates if secret or not."
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupValuePropertiesFormatConfigurationGroupSchemaResourceReference": {
      "type": "structure",
      "members": {
        "idType": {
          "target": "com.azure.hybridnetwork#IdType",
          "traits": {
            "smithy.api#documentation": "The resource reference arm id type.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The azure resource reference which is used for deployment."
      }
    },
    "com.azure.hybridnetwork#IdType": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Open"
          }
        },
        "SECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Secret"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource reference arm id type."
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupValuePropertiesFormatPublisherScope": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Private"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Publisher Scope."
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupValuePropertiesFormatProvisioningState": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleted"
          }
        },
        "CONVERGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Converging"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current provisioning state."
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupValueTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupValuesListByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupValuesListBySubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridnetwork#ConfigurationGroupValuesListBySubscriptionRequest"
      },
      "output": {
        "target": "com.azure.hybridnetwork#ConfigurationGroupValueListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/configurationGroupValues",
          "code": 200,
          "apiVersion": "2024-04-15"
        },
        "smithy.api#documentation": "Lists all sites in the configuration group value in a subscription.",
        "com.distilled.openapi#apiVersion": "2024-04-15"
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupValuesListBySubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupValuesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridnetwork#ConfigurationGroupValuesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/configurationGroupValues/{configurationGroupValueName}",
          "code": 200,
          "apiVersion": "2024-04-15"
        },
        "smithy.api#documentation": "Deletes the specified hybrid configuration group value.",
        "com.distilled.openapi#apiVersion": "2024-04-15"
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupValuesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "configurationGroupValueName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the configuration group value."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupValuesUpdateTags": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridnetwork#ConfigurationGroupValuesUpdateTagsRequest"
      },
      "output": {
        "target": "com.azure.hybridnetwork#ConfigurationGroupValuesUpdateTagsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/configurationGroupValues/{configurationGroupValueName}",
          "code": 200,
          "apiVersion": "2024-04-15"
        },
        "smithy.api#documentation": "Updates a hybrid configuration group tags.",
        "com.distilled.openapi#apiVersion": "2024-04-15"
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupValuesUpdateTagsResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridnetwork#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupValuesUpdateTagsResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupValuePropertiesFormat",
          "traits": {
            "smithy.api#documentation": "Hybrid configuration group value properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupValuesUpdateTagsResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupValuesUpdateTagsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "configurationGroupValueName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the configuration group value."
          }
        },
        "tags": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupValuesUpdateTagsRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupValuesUpdateTagsRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupValuesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridnetwork#ConfigurationGroupValuesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.hybridnetwork#ConfigurationGroupValuesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/configurationGroupValues/{configurationGroupValueName}",
          "code": 200,
          "apiVersion": "2024-04-15"
        },
        "smithy.api#documentation": "Creates or updates a hybrid configuration group value.",
        "com.distilled.openapi#apiVersion": "2024-04-15"
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupValuesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridnetwork#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupValuesCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupValuePropertiesFormat",
          "traits": {
            "smithy.api#documentation": "Hybrid configuration group value properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupValuesCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupValuesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "configurationGroupValueName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the configuration group value."
          }
        },
        "tags": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupValuesCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupValuePropertiesFormatInput",
          "traits": {
            "smithy.api#documentation": "Hybrid configuration group value properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupValuePropertiesFormatInput": {
      "type": "structure",
      "members": {
        "publisherScope": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupValuePropertiesFormatInputPublisherScope",
          "traits": {
            "smithy.api#documentation": "Publisher Scope."
          }
        },
        "configurationGroupSchemaResourceReference": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupValuePropertiesFormatInputConfigurationGroupSchemaResourceReference",
          "traits": {
            "smithy.api#documentation": "The azure resource reference which is used for deployment."
          }
        },
        "configurationType": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupValueConfigurationType",
          "traits": {
            "smithy.api#documentation": "The value which indicates if configuration values are secrets",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Hybrid configuration group value properties."
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupValuePropertiesFormatInputConfigurationGroupSchemaResourceReference": {
      "type": "structure",
      "members": {
        "idType": {
          "target": "com.azure.hybridnetwork#IdType",
          "traits": {
            "smithy.api#documentation": "The resource reference arm id type.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The azure resource reference which is used for deployment."
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupValuePropertiesFormatInputPublisherScope": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Private"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Publisher Scope."
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupValuesCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupValuesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridnetwork#ConfigurationGroupValuesGetRequest"
      },
      "output": {
        "target": "com.azure.hybridnetwork#ConfigurationGroupValuesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/configurationGroupValues/{configurationGroupValueName}",
          "code": 200,
          "apiVersion": "2024-04-15"
        },
        "smithy.api#documentation": "Gets information about the specified hybrid configuration group values.",
        "com.distilled.openapi#apiVersion": "2024-04-15"
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupValuesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridnetwork#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupValuesGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.hybridnetwork#ConfigurationGroupValuePropertiesFormat",
          "traits": {
            "smithy.api#documentation": "Hybrid configuration group value properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupValuesGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.hybridnetwork#ConfigurationGroupValuesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "configurationGroupValueName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the configuration group value."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridnetwork#ComponentsListByNetworkFunction": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridnetwork#ComponentsListByNetworkFunctionRequest"
      },
      "output": {
        "target": "com.azure.hybridnetwork#ComponentListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/networkFunctions/{networkFunctionName}/components",
          "code": 200,
          "apiVersion": "2024-04-15"
        },
        "smithy.api#documentation": "Lists all the component resources in a network function.",
        "com.distilled.openapi#apiVersion": "2024-04-15"
      }
    },
    "com.azure.hybridnetwork#ComponentListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.hybridnetwork#ComponentListResultValueList",
          "traits": {
            "smithy.api#documentation": "A list of component resources in a networkFunction."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to get the next set of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for list component API service call."
      }
    },
    "com.azure.hybridnetwork#ComponentListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridnetwork#Component"
      },
      "traits": {
        "smithy.api#documentation": "A list of component resources in a networkFunction."
      }
    },
    "com.azure.hybridnetwork#Component": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridnetwork#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.hybridnetwork#ComponentProperties",
          "traits": {
            "smithy.api#documentation": "The component properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The component sub resource."
      }
    },
    "com.azure.hybridnetwork#ComponentProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.hybridnetwork#ComponentPropertiesProvisioningState",
          "traits": {
            "smithy.api#documentation": "The current provisioning state."
          }
        },
        "deploymentProfile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The JSON-serialized deployment profile of the component resource."
          }
        },
        "deploymentStatus": {
          "target": "com.azure.hybridnetwork#DeploymentStatusProperties",
          "traits": {
            "smithy.api#documentation": "The deployment status of the component resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The component properties of the network function."
      }
    },
    "com.azure.hybridnetwork#DeploymentStatusProperties": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.hybridnetwork#Status",
          "traits": {
            "smithy.api#documentation": "The status of the component resource."
          }
        },
        "resources": {
          "target": "com.azure.hybridnetwork#Resources",
          "traits": {
            "smithy.api#documentation": "The resource related to the component resource."
          }
        },
        "nextExpectedUpdateAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next expected update of deployment status."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The deployment status properties of the network function component."
      }
    },
    "com.azure.hybridnetwork#Resources": {
      "type": "structure",
      "members": {
        "deployments": {
          "target": "com.azure.hybridnetwork#ResourcesDeploymentsList",
          "traits": {
            "smithy.api#documentation": "Deployments that are related to component resource."
          }
        },
        "pods": {
          "target": "com.azure.hybridnetwork#ResourcesPodsList",
          "traits": {
            "smithy.api#documentation": "Pods related to component resource."
          }
        },
        "replicaSets": {
          "target": "com.azure.hybridnetwork#ResourcesReplicaSetsList",
          "traits": {
            "smithy.api#documentation": "Replica sets related to component resource."
          }
        },
        "statefulSets": {
          "target": "com.azure.hybridnetwork#ResourcesStatefulSetsList",
          "traits": {
            "smithy.api#documentation": "Stateful sets related to component resource."
          }
        },
        "daemonSets": {
          "target": "com.azure.hybridnetwork#ResourcesDaemonSetsList",
          "traits": {
            "smithy.api#documentation": "Daemonsets related to component resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resources of the network function component."
      }
    },
    "com.azure.hybridnetwork#ResourcesDaemonSetsList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridnetwork#DaemonSet"
      },
      "traits": {
        "smithy.api#documentation": "Daemonsets related to component resource."
      }
    },
    "com.azure.hybridnetwork#DaemonSet": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the daemonSet."
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The namespace of the daemonSet."
          }
        },
        "desired": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Desired number of pods"
          }
        },
        "current": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Current number of pods"
          }
        },
        "ready": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of Ready pods"
          }
        },
        "upToDate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of  upto date pods"
          }
        },
        "available": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of available pods."
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation Time of daemonSet."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Helm DaemonSet status properties."
      }
    },
    "com.azure.hybridnetwork#ResourcesStatefulSetsList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridnetwork#StatefulSet"
      },
      "traits": {
        "smithy.api#documentation": "Stateful sets related to component resource."
      }
    },
    "com.azure.hybridnetwork#StatefulSet": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the statefulset."
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The namespace of the statefulset."
          }
        },
        "desired": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Desired number of pods"
          }
        },
        "ready": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of ready pods."
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation Time of statefulset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Helm StatefulSet status properties."
      }
    },
    "com.azure.hybridnetwork#ResourcesReplicaSetsList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridnetwork#ReplicaSet"
      },
      "traits": {
        "smithy.api#documentation": "Replica sets related to component resource."
      }
    },
    "com.azure.hybridnetwork#ReplicaSet": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the replicaSet."
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The namespace of the replicaSet."
          }
        },
        "desired": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Desired number of pods"
          }
        },
        "ready": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of ready pods."
          }
        },
        "current": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of current pods."
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation Time of replicaSet."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Helm ReplicaSet status properties."
      }
    },
    "com.azure.hybridnetwork#ResourcesPodsList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridnetwork#Pod"
      },
      "traits": {
        "smithy.api#documentation": "Pods related to component resource."
      }
    },
    "com.azure.hybridnetwork#Pod": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Pod."
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The namespace of the Pod."
          }
        },
        "desired": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Desired number of containers"
          }
        },
        "ready": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of ready containers."
          }
        },
        "status": {
          "target": "com.azure.hybridnetwork#PodStatus",
          "traits": {
            "smithy.api#documentation": "The status of a pod."
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation Time of Pod."
          }
        },
        "events": {
          "target": "com.azure.hybridnetwork#PodEventsList",
          "traits": {
            "smithy.api#documentation": "Last 5 Pod events."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Helm Pod status properties."
      }
    },
    "com.azure.hybridnetwork#PodEventsList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridnetwork#PodEvent"
      },
      "traits": {
        "smithy.api#documentation": "Last 5 Pod events."
      }
    },
    "com.azure.hybridnetwork#PodEvent": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.hybridnetwork#PodEventType",
          "traits": {
            "smithy.api#documentation": "The type of pod event."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Event reason."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Event message."
          }
        },
        "lastSeenTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Event Last seen."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pod Event  properties."
      }
    },
    "com.azure.hybridnetwork#PodEventType": {
      "type": "enum",
      "members": {
        "NORMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Normal"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Warning"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of pod event."
      }
    },
    "com.azure.hybridnetwork#PodStatus": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "TERMINATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Terminating"
          }
        },
        "NOTREADY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotReady"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of a Pod."
      }
    },
    "com.azure.hybridnetwork#ResourcesDeploymentsList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridnetwork#Deployment"
      },
      "traits": {
        "smithy.api#documentation": "Deployments that are related to component resource."
      }
    },
    "com.azure.hybridnetwork#Deployment": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the deployment."
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The namespace of the deployment."
          }
        },
        "desired": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Desired number of pods"
          }
        },
        "ready": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of ready pods."
          }
        },
        "upToDate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of upto date pods."
          }
        },
        "available": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of available pods."
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation Time of deployment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Helm Deployment status properties."
      }
    },
    "com.azure.hybridnetwork#Status": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "DEPLOYED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deployed"
          }
        },
        "UNINSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Uninstalled"
          }
        },
        "SUPERSEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Superseded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "UNINSTALLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Uninstalling"
          }
        },
        "PENDING_INSTALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending-Install"
          }
        },
        "PENDING_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending-Upgrade"
          }
        },
        "PENDING_ROLLBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending-Rollback"
          }
        },
        "DOWNLOADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Downloading"
          }
        },
        "INSTALLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Installing"
          }
        },
        "REINSTALLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Reinstalling"
          }
        },
        "ROLLINGBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rollingback"
          }
        },
        "UPGRADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Upgrading"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The component resource deployment status."
      }
    },
    "com.azure.hybridnetwork#ComponentPropertiesProvisioningState": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleted"
          }
        },
        "CONVERGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Converging"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current provisioning state."
      }
    },
    "com.azure.hybridnetwork#ComponentsListByNetworkFunctionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "networkFunctionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the network function."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridnetwork#ComponentsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridnetwork#ComponentsGetRequest"
      },
      "output": {
        "target": "com.azure.hybridnetwork#ComponentsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/networkFunctions/{networkFunctionName}/components/{componentName}",
          "code": 200,
          "apiVersion": "2024-04-15"
        },
        "smithy.api#documentation": "Gets information about the specified application instance resource.",
        "com.distilled.openapi#apiVersion": "2024-04-15"
      }
    },
    "com.azure.hybridnetwork#ComponentsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridnetwork#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.hybridnetwork#ComponentProperties",
          "traits": {
            "smithy.api#documentation": "The component properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.hybridnetwork#ComponentsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "networkFunctionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the network function."
          }
        },
        "componentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the component."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridnetwork#NetworkFunctionsExecuteRequest": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridnetwork#NetworkFunctionsExecuteRequestRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/networkFunctions/{networkFunctionName}/executeRequest",
          "code": 200,
          "apiVersion": "2024-04-15"
        },
        "smithy.api#documentation": "Execute a request to services on a containerized network function.",
        "com.distilled.openapi#apiVersion": "2024-04-15"
      }
    },
    "com.azure.hybridnetwork#NetworkFunctionsExecuteRequestRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "networkFunctionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the network function."
          }
        },
        "serviceEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The endpoint of service to call.",
            "smithy.api#required": {}
          }
        },
        "requestMetadata": {
          "target": "com.azure.hybridnetwork#RequestMetadata",
          "traits": {
            "smithy.api#documentation": "The request metadata.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.hybridnetwork#RequestMetadata": {
      "type": "structure",
      "members": {
        "relativePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The relative path of the request.",
            "smithy.api#required": {}
          }
        },
        "httpMethod": {
          "target": "com.azure.hybridnetwork#RequestMetadataHttpMethod",
          "traits": {
            "smithy.api#documentation": "The http method of the request.",
            "smithy.api#required": {}
          }
        },
        "serializedBody": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The serialized body of the request.",
            "smithy.api#required": {}
          }
        },
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The api version of the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request metadata of execute request post call payload."
      }
    },
    "com.azure.hybridnetwork#RequestMetadataHttpMethod": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Post"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Put"
          }
        },
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Get"
          }
        },
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Patch"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Delete"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The http method of the request."
      }
    },
    "com.azure.hybridnetwork#NetworkFunctionsListByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.hybridnetwork#NetworkFunctionsListByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.hybridnetwork#NetworkFunctionListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/networkFunctions",
          "code": 200,
          "apiVersion": "2024-04-15"
        },
        "smithy.api#documentation": "Lists all the network function resources in a resource group.",
        "com.distilled.openapi#apiVersion": "2024-04-15"
      }
    },
    "com.azure.hybridnetwork#NetworkFunctionListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.hybridnetwork#NetworkFunctionListResultValueList",
          "traits": {
            "smithy.api#documentation": "A list of network function resources in a subscription or resource group."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to get the next set of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for network function API service call."
      }
    },
    "com.azure.hybridnetwork#NetworkFunctionListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.hybridnetwork#NetworkFunction"
      },
      "traits": {
        "smithy.api#documentation": "A list of network function resources in a subscription or resource group."
      }
    },
    "com.azure.hybridnetwork#NetworkFunction": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.hybridnetwork#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.hybridnetwork#NetworkFunctionTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.hybridnetwork#NetworkFunctionPropertiesFormat",
          "traits": {
            "smithy.api#documentation": "Network function properties."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique read-only string that changes whenever the resource is updated."
          }
        },
        "identity": {
          "target": "com.azure.hybridnetwork#NetworkFunctionIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network function resource response."
      }
    },
    "com.azure.hybridnetwork#NetworkFunctionIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.hybridnetwork#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.hybridnetwork#UserAssignedIdentities",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.hybridnetwork#UserAssignedIdentities": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.hybridnetwork#UserAssignedIdentity"
      },
      "traits": {
        "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
      }
    },
    "com.azure.hybridnetwork#UserAssignedIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of the assigned identity."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client ID of the assigned identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User assigned identity properties"
      }
    },
    "com.azure.hybridnetwork#ManagedServiceIdentityType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        },
        "SYSTEMASSIGNED_USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned,UserAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of managed service identity (where both SystemAssigned and UserAssigned types are allowed)."
      }
    },
    "com.azure.hybridnetwork#NetworkFunctionPropertiesFormat": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.hybridnetwork#NetworkFunctionPropertiesFormatProvisioningState",
          "traits": {
            "smithy.api#documentation": "The current provisioning state."
          }
        },
        "publisherName": {
          "target": "smithy.api#String",
          "traits": {
[...]
