{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.iothub#PrivateEndpointConnectionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.iothub#PrivateEndpointConnectionsDeleteRequest"
      },
      "output": {
        "target": "com.azure.iothub#PrivateEndpointConnection"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/iotHubs/{resourceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2023-06-30"
        },
        "smithy.api#documentation": "Delete private endpoint connection\n\nDelete private endpoint connection with the specified name",
        "com.distilled.openapi#apiVersion": "2023-06-30"
      }
    },
    "com.azure.iothub#PrivateEndpointConnection": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type."
          }
        },
        "properties": {
          "target": "com.azure.iothub#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint connection of an IotHub"
      }
    },
    "com.azure.iothub#PrivateEndpointConnectionProperties": {
      "type": "structure",
      "members": {
        "privateEndpoint": {
          "target": "com.azure.iothub#PrivateEndpoint"
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.iothub#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of a private endpoint connection"
      }
    },
    "com.azure.iothub#PrivateLinkServiceConnectionState": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.iothub#PrivateLinkServiceConnectionStateStatus",
          "traits": {
            "smithy.api#documentation": "The status of a private endpoint connection",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description for the current state of a private endpoint connection",
            "smithy.api#required": {}
          }
        },
        "actionsRequired": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Actions required for a private endpoint connection"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current state of a private endpoint connection"
      }
    },
    "com.azure.iothub#PrivateLinkServiceConnectionStateStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disconnected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of a private endpoint connection"
      }
    },
    "com.azure.iothub#PrivateEndpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource identifier."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint property of a private endpoint connection"
      }
    },
    "com.azure.iothub#PrivateEndpointConnectionsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the IoT hub."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the IoT hub."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iothub#PrivateEndpointConnectionsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.iothub#PrivateEndpointConnectionsUpdateRequest"
      },
      "output": {
        "target": "com.azure.iothub#PrivateEndpointConnection"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/iotHubs/{resourceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2023-06-30"
        },
        "smithy.api#documentation": "Update private endpoint connection\n\nUpdate the status of a private endpoint connection with the specified name",
        "com.distilled.openapi#apiVersion": "2023-06-30"
      }
    },
    "com.azure.iothub#PrivateEndpointConnectionsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the IoT hub."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the IoT hub."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection"
          }
        },
        "properties": {
          "target": "com.azure.iothub#PrivateEndpointConnectionPropertiesInput",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iothub#PrivateEndpointConnectionPropertiesInput": {
      "type": "structure",
      "members": {
        "privateEndpoint": {
          "target": "com.azure.iothub#PrivateEndpointInput"
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.iothub#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of a private endpoint connection"
      }
    },
    "com.azure.iothub#PrivateEndpointInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The private endpoint property of a private endpoint connection"
      }
    },
    "com.azure.iothub#PrivateEndpointConnectionsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.iothub#PrivateEndpointConnectionsGetRequest"
      },
      "output": {
        "target": "com.azure.iothub#PrivateEndpointConnection"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/iotHubs/{resourceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2023-06-30"
        },
        "smithy.api#documentation": "Get private endpoint connection\n\nGet private endpoint connection properties",
        "com.distilled.openapi#apiVersion": "2023-06-30"
      }
    },
    "com.azure.iothub#PrivateEndpointConnectionsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the IoT hub."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the IoT hub."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iothub#PrivateEndpointConnectionsList2": {
      "type": "operation",
      "input": {
        "target": "com.azure.iothub#PrivateEndpointConnectionsListRequest"
      },
      "output": {
        "target": "com.azure.iothub#PrivateEndpointConnectionsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/iotHubs/{resourceName}/privateEndpointConnections",
          "code": 200,
          "apiVersion": "2023-06-30"
        },
        "smithy.api#documentation": "List private endpoint connections\n\nList private endpoint connection properties",
        "com.distilled.openapi#apiVersion": "2023-06-30"
      }
    },
    "com.azure.iothub#PrivateEndpointConnectionsListResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.azure.iothub#PrivateEndpointConnectionsList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.iothub#PrivateEndpointConnectionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.iothub#PrivateEndpointConnection"
      },
      "traits": {
        "smithy.api#documentation": "The list of private endpoint connections for an IotHub"
      }
    },
    "com.azure.iothub#PrivateEndpointConnectionsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the IoT hub."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the IoT hub."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iothub#PrivateLinkResourcesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.iothub#PrivateLinkResourcesGetRequest"
      },
      "output": {
        "target": "com.azure.iothub#GroupIdInformation"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/iotHubs/{resourceName}/privateLinkResources/{groupId}",
          "code": 200,
          "apiVersion": "2023-06-30"
        },
        "smithy.api#documentation": "Get the specified private link resource\n\nGet the specified private link resource for the given IotHub",
        "com.distilled.openapi#apiVersion": "2023-06-30"
      }
    },
    "com.azure.iothub#GroupIdInformation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type."
          }
        },
        "properties": {
          "target": "com.azure.iothub#GroupIdInformationProperties",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The group information for creating a private endpoint on an IotHub"
      }
    },
    "com.azure.iothub#GroupIdInformationProperties": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The group id"
          }
        },
        "requiredMembers": {
          "target": "com.azure.iothub#GroupIdInformationPropertiesRequiredMembersList",
          "traits": {
            "smithy.api#documentation": "The required members for a specific group id"
          }
        },
        "requiredZoneNames": {
          "target": "com.azure.iothub#GroupIdInformationPropertiesRequiredZoneNamesList",
          "traits": {
            "smithy.api#documentation": "The required DNS zones for a specific group id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties for a group information object"
      }
    },
    "com.azure.iothub#GroupIdInformationPropertiesRequiredZoneNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The required DNS zones for a specific group id"
      }
    },
    "com.azure.iothub#GroupIdInformationPropertiesRequiredMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The required members for a specific group id"
      }
    },
    "com.azure.iothub#PrivateLinkResourcesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the IoT hub."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the IoT hub."
          }
        },
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private link resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iothub#PrivateLinkResourcesList": {
      "type": "operation",
      "input": {
        "target": "com.azure.iothub#PrivateLinkResourcesListRequest"
      },
      "output": {
        "target": "com.azure.iothub#PrivateLinkResources"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/iotHubs/{resourceName}/privateLinkResources",
          "code": 200,
          "apiVersion": "2023-06-30"
        },
        "smithy.api#documentation": "List private link resources\n\nList private link resources for the given IotHub",
        "com.distilled.openapi#apiVersion": "2023-06-30"
      }
    },
    "com.azure.iothub#PrivateLinkResources": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.iothub#PrivateLinkResourcesValueList",
          "traits": {
            "smithy.api#documentation": "The list of available private link resources for an IotHub"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The available private link resources for an IotHub"
      }
    },
    "com.azure.iothub#PrivateLinkResourcesValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.iothub#GroupIdInformation"
      },
      "traits": {
        "smithy.api#documentation": "The list of available private link resources for an IotHub"
      }
    },
    "com.azure.iothub#PrivateLinkResourcesListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the IoT hub."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the IoT hub."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iothub#IotHubManualFailover": {
      "type": "operation",
      "input": {
        "target": "com.azure.iothub#IotHubManualFailoverRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{iotHubName}/failover",
          "code": 200,
          "apiVersion": "2023-06-30"
        },
        "smithy.api#documentation": "Manually initiate a failover for the IoT Hub to its secondary region\n\nManually initiate a failover for the IoT Hub to its secondary region. To learn more, see https://aka.ms/manualfailover",
        "com.distilled.openapi#apiVersion": "2023-06-30"
      }
    },
    "com.azure.iothub#IotHubManualFailoverRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the resource group containing the IoT hub resource"
          }
        },
        "iotHubName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the IoT hub to failover"
          }
        },
        "failoverRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Region the hub will be failed over to",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iothub#CertificatesVerify": {
      "type": "operation",
      "input": {
        "target": "com.azure.iothub#CertificatesVerifyRequest"
      },
      "output": {
        "target": "com.azure.iothub#CertificateDescription"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/certificates/{certificateName}/verify",
          "code": 200,
          "apiVersion": "2023-06-30"
        },
        "smithy.api#documentation": "Verify certificate's private key possession.\n\nVerifies the certificate's private key possession by providing the leaf cert issued by the verifying pre uploaded certificate.",
        "com.distilled.openapi#apiVersion": "2023-06-30"
      }
    },
    "com.azure.iothub#CertificateDescription": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.azure.iothub#CertificateProperties"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the certificate."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The entity tag."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The X509 Certificate."
      }
    },
    "com.azure.iothub#CertificateProperties": {
      "type": "structure",
      "members": {
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate's subject name."
          }
        },
        "expiry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate's expiration date and time."
          }
        },
        "thumbprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate's thumbprint."
          }
        },
        "isVerified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines whether certificate has been verified."
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate's create date and time."
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate's last update date and time."
          }
        },
        "certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate content"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The description of an X509 CA Certificate."
      }
    },
    "com.azure.iothub#CertificatesVerifyRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the IoT hub."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the IoT hub."
          }
        },
        "certificateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the certificate"
          }
        },
        "certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "base-64 representation of X509 certificate .cer file or just .pem file content."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iothub#CertificatesGenerateVerificationCode": {
      "type": "operation",
      "input": {
        "target": "com.azure.iothub#CertificatesGenerateVerificationCodeRequest"
      },
      "output": {
        "target": "com.azure.iothub#CertificateWithNonceDescription"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/certificates/{certificateName}/generateVerificationCode",
          "code": 200,
          "apiVersion": "2023-06-30"
        },
        "smithy.api#documentation": "Generate verification code for proof of possession flow.\n\nGenerates verification code for proof of possession flow. The verification code will be used to generate a leaf certificate.",
        "com.distilled.openapi#apiVersion": "2023-06-30"
      }
    },
    "com.azure.iothub#CertificateWithNonceDescription": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.azure.iothub#CertificatePropertiesWithNonce"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the certificate."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The entity tag."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The X509 Certificate."
      }
    },
    "com.azure.iothub#CertificatePropertiesWithNonce": {
      "type": "structure",
      "members": {
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate's subject name."
          }
        },
        "expiry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate's expiration date and time."
          }
        },
        "thumbprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate's thumbprint."
          }
        },
        "isVerified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines whether certificate has been verified."
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate's create date and time."
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate's last update date and time."
          }
        },
        "verificationCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate's verification code that will be used for proof of possession."
          }
        },
        "certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate content"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The description of an X509 CA Certificate including the challenge nonce issued for the Proof-Of-Possession flow."
      }
    },
    "com.azure.iothub#CertificatesGenerateVerificationCodeRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the IoT hub."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the IoT hub."
          }
        },
        "certificateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the certificate"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iothub#CertificatesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.iothub#CertificatesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/certificates/{certificateName}",
          "code": 200,
          "apiVersion": "2023-06-30"
        },
        "smithy.api#documentation": "Delete an X509 certificate.\n\nDeletes an existing X509 certificate or does nothing if it does not exist.",
        "com.distilled.openapi#apiVersion": "2023-06-30"
      }
    },
    "com.azure.iothub#CertificatesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the IoT hub."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the IoT hub."
          }
        },
        "certificateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the certificate"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iothub#CertificatesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.iothub#CertificatesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.iothub#CertificateDescription"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/certificates/{certificateName}",
          "code": 200,
          "apiVersion": "2023-06-30"
        },
        "smithy.api#documentation": "Upload the certificate to the IoT hub.\n\nAdds new or replaces existing certificate.",
        "com.distilled.openapi#apiVersion": "2023-06-30"
      }
    },
    "com.azure.iothub#CertificatesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the IoT hub."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the IoT hub."
          }
        },
        "certificateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the certificate"
          }
        },
        "properties": {
          "target": "com.azure.iothub#CertificatePropertiesInput"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iothub#CertificatePropertiesInput": {
      "type": "structure",
      "members": {
        "isVerified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines whether certificate has been verified."
          }
        },
        "certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate content"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The description of an X509 CA Certificate."
      }
    },
    "com.azure.iothub#CertificatesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.iothub#CertificatesGetRequest"
      },
      "output": {
        "target": "com.azure.iothub#CertificateDescription"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/certificates/{certificateName}",
          "code": 200,
          "apiVersion": "2023-06-30"
        },
        "smithy.api#documentation": "Get the certificate.\n\nReturns the certificate.",
        "com.distilled.openapi#apiVersion": "2023-06-30"
      }
    },
    "com.azure.iothub#CertificatesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the IoT hub."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the IoT hub."
          }
        },
        "certificateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the certificate"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iothub#CertificatesListByIotHub": {
      "type": "operation",
      "input": {
        "target": "com.azure.iothub#CertificatesListByIotHubRequest"
      },
      "output": {
        "target": "com.azure.iothub#CertificateListDescription"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/certificates",
          "code": 200,
          "apiVersion": "2023-06-30"
        },
        "smithy.api#documentation": "Get the certificate list.\n\nReturns the list of certificates.",
        "com.distilled.openapi#apiVersion": "2023-06-30"
      }
    },
    "com.azure.iothub#CertificateListDescription": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.iothub#CertificateListDescriptionValueList",
          "traits": {
            "smithy.api#documentation": "The array of Certificate objects."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The JSON-serialized array of Certificate objects."
      }
    },
    "com.azure.iothub#CertificateListDescriptionValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.iothub#CertificateDescription"
      },
      "traits": {
        "smithy.api#documentation": "The array of Certificate objects."
      }
    },
    "com.azure.iothub#CertificatesListByIotHubRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the IoT hub."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the IoT hub."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iothub#IotHubResourceImportDevices": {
      "type": "operation",
      "input": {
        "target": "com.azure.iothub#IotHubResourceImportDevicesRequest"
      },
      "output": {
        "target": "com.azure.iothub#JobResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/importDevices",
          "code": 200,
          "apiVersion": "2023-06-30"
        },
        "smithy.api#documentation": "Import, update, or delete device identities in the IoT hub identity registry from a blob. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry#import-and-export-device-identities\n\nImport, update, or delete device identities in the IoT hub identity registry from a blob. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry#import-and-export-device-identities.",
        "com.distilled.openapi#apiVersion": "2023-06-30"
      }
    },
    "com.azure.iothub#JobResponse": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The job identifier."
          }
        },
        "startTimeUtc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the job."
          }
        },
        "endTimeUtc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the job stopped processing."
          }
        },
        "type": {
          "target": "com.azure.iothub#JobResponseType",
          "traits": {
            "smithy.api#documentation": "The type of the job."
          }
        },
        "status": {
          "target": "com.azure.iothub#JobResponseStatus",
          "traits": {
            "smithy.api#documentation": "The status of the job."
          }
        },
        "failureReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If status == failed, this string containing the reason for the failure."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status message for the job."
          }
        },
        "parentJobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The job identifier of the parent job, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the Job Response object."
      }
    },
    "com.azure.iothub#JobResponseStatus": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        },
        "ENQUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enqueued"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the job."
      }
    },
    "com.azure.iothub#JobResponseType": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        },
        "EXPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "export"
          }
        },
        "IMPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "import"
          }
        },
        "BACKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "backup"
          }
        },
        "READDEVICEPROPERTIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "readDeviceProperties"
          }
        },
        "WRITEDEVICEPROPERTIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "writeDeviceProperties"
          }
        },
        "UPDATEDEVICECONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updateDeviceConfiguration"
          }
        },
        "REBOOTDEVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rebootDevice"
          }
        },
        "FACTORYRESETDEVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "factoryResetDevice"
          }
        },
        "FIRMWAREUPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firmwareUpdate"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the job."
      }
    },
    "com.azure.iothub#IotHubResourceImportDevicesRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the IoT hub."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the IoT hub."
          }
        },
        "inputBlobContainerUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The input blob container URI.",
            "smithy.api#required": {}
          }
        },
        "outputBlobContainerUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The output blob container URI.",
            "smithy.api#required": {}
          }
        },
        "inputBlobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The blob name to be used when importing from the provided input blob container."
          }
        },
        "outputBlobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The blob name to use for storing the status of the import job."
          }
        },
        "authenticationType": {
          "target": "com.azure.iothub#IotHubResourceImportDevicesRequestAuthenticationType",
          "traits": {
            "smithy.api#documentation": "Specifies authentication type being used for connecting to the storage account."
          }
        },
        "identity": {
          "target": "com.azure.iothub#ManagedIdentity",
          "traits": {
            "smithy.api#documentation": "Managed identity properties of storage endpoint for import devices."
          }
        },
        "includeConfigurations": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The value indicating whether configurations should be imported."
          }
        },
        "configurationsBlobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The blob name to be used when importing configurations from the provided input blob container."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iothub#ManagedIdentity": {
      "type": "structure",
      "members": {
        "userAssignedIdentity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user assigned identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the Managed identity."
      }
    },
    "com.azure.iothub#IotHubResourceImportDevicesRequestAuthenticationType": {
      "type": "enum",
      "members": {
        "KEYBASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "keyBased"
          }
        },
        "IDENTITYBASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "identityBased"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies authentication type being used for connecting to the storage account."
      }
    },
    "com.azure.iothub#IotHubResourceExportDevices": {
      "type": "operation",
      "input": {
        "target": "com.azure.iothub#IotHubResourceExportDevicesRequest"
      },
      "output": {
        "target": "com.azure.iothub#JobResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/exportDevices",
          "code": 200,
          "apiVersion": "2023-06-30"
        },
        "smithy.api#documentation": "Exports all the device identities in the IoT hub identity registry to an Azure Storage blob container. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry#import-and-export-device-identities\n\nExports all the device identities in the IoT hub identity registry to an Azure Storage blob container. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry#import-and-export-device-identities.",
        "com.distilled.openapi#apiVersion": "2023-06-30"
      }
    },
    "com.azure.iothub#IotHubResourceExportDevicesRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the IoT hub."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the IoT hub."
          }
        },
        "exportBlobContainerUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The export blob container URI.",
            "smithy.api#required": {}
          }
        },
        "excludeKeys": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The value indicating whether keys should be excluded during export.",
            "smithy.api#required": {}
          }
        },
        "exportBlobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the blob that will be created in the provided output blob container. This blob will contain the exported device registry information for the IoT Hub."
          }
        },
        "authenticationType": {
          "target": "com.azure.iothub#IotHubResourceExportDevicesRequestAuthenticationType",
          "traits": {
            "smithy.api#documentation": "Specifies authentication type being used for connecting to the storage account."
          }
        },
        "identity": {
          "target": "com.azure.iothub#ManagedIdentity",
          "traits": {
            "smithy.api#documentation": "Managed identity properties of storage endpoint for export devices."
          }
        },
        "includeConfigurations": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The value indicating whether configurations should be exported."
          }
        },
        "configurationsBlobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the blob that will be created in the provided output blob container. This blob will contain the exported configurations for the Iot Hub."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iothub#IotHubResourceExportDevicesRequestAuthenticationType": {
      "type": "enum",
      "members": {
        "KEYBASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "keyBased"
          }
        },
        "IDENTITYBASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "identityBased"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies authentication type being used for connecting to the storage account."
      }
    },
    "com.azure.iothub#IotHubResourceGetKeysForKeyName": {
      "type": "operation",
      "input": {
        "target": "com.azure.iothub#IotHubResourceGetKeysForKeyNameRequest"
      },
      "output": {
        "target": "com.azure.iothub#SharedAccessSignatureAuthorizationRule"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/IotHubKeys/{keyName}/listkeys",
          "code": 200,
          "apiVersion": "2023-06-30"
        },
        "smithy.api#documentation": "Get a shared access policy by name from an IoT hub. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-security\n\nGet a shared access policy by name from an IoT hub. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-security.",
        "com.distilled.openapi#apiVersion": "2023-06-30"
      }
    },
    "com.azure.iothub#SharedAccessSignatureAuthorizationRule": {
      "type": "structure",
      "members": {
        "keyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the shared access policy.",
            "smithy.api#required": {}
          }
        },
        "primaryKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The primary key."
          }
        },
        "secondaryKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secondary key."
          }
        },
        "rights": {
          "target": "com.azure.iothub#SharedAccessSignatureAuthorizationRuleRights",
          "traits": {
            "smithy.api#documentation": "The permissions assigned to the shared access policy.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of an IoT hub shared access policy."
      }
    },
    "com.azure.iothub#SharedAccessSignatureAuthorizationRuleRights": {
      "type": "enum",
      "members": {
        "REGISTRYREAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RegistryRead"
          }
        },
        "REGISTRYWRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RegistryWrite"
          }
        },
        "SERVICECONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ServiceConnect"
          }
        },
        "DEVICECONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeviceConnect"
          }
        },
        "REGISTRYREAD_REGISTRYWRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RegistryRead, RegistryWrite"
          }
        },
        "REGISTRYREAD_SERVICECONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RegistryRead, ServiceConnect"
          }
        },
        "REGISTRYREAD_DEVICECONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RegistryRead, DeviceConnect"
          }
        },
        "REGISTRYWRITE_SERVICECONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RegistryWrite, ServiceConnect"
          }
        },
        "REGISTRYWRITE_DEVICECONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RegistryWrite, DeviceConnect"
          }
        },
        "SERVICECONNECT_DEVICECONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ServiceConnect, DeviceConnect"
          }
        },
        "REGISTRYREAD_REGISTRYWRITE_SERVICECONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RegistryRead, RegistryWrite, ServiceConnect"
          }
        },
        "REGISTRYREAD_REGISTRYWRITE_DEVICECONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RegistryRead, RegistryWrite, DeviceConnect"
          }
        },
        "REGISTRYREAD_SERVICECONNECT_DEVICECONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RegistryRead, ServiceConnect, DeviceConnect"
          }
        },
        "REGISTRYWRITE_SERVICECONNECT_DEVICECONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RegistryWrite, ServiceConnect, DeviceConnect"
          }
        },
        "REGISTRYREAD_REGISTRYWRITE_SERVICECONNECT_DEVICECONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RegistryRead, RegistryWrite, ServiceConnect, DeviceConnect"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The permissions assigned to the shared access policy."
      }
    },
    "com.azure.iothub#IotHubResourceGetKeysForKeyNameRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the IoT hub."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the IoT hub."
          }
        },
        "keyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the shared access policy."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iothub#IotHubResourceListKeys": {
      "type": "operation",
      "input": {
        "target": "com.azure.iothub#IotHubResourceListKeysRequest"
      },
      "output": {
        "target": "com.azure.iothub#SharedAccessSignatureAuthorizationRuleListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/listkeys",
          "code": 200,
          "apiVersion": "2023-06-30"
        },
        "smithy.api#documentation": "Get the security metadata for an IoT hub. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-security\n\nGet the security metadata for an IoT hub. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-security.",
        "com.distilled.openapi#apiVersion": "2023-06-30"
      }
    },
    "com.azure.iothub#SharedAccessSignatureAuthorizationRuleListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.iothub#SharedAccessSignatureAuthorizationRuleListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of shared access policies."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next link."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of shared access policies with a next link."
      }
    },
    "com.azure.iothub#SharedAccessSignatureAuthorizationRuleListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.iothub#SharedAccessSignatureAuthorizationRule"
      },
      "traits": {
        "smithy.api#documentation": "The list of shared access policies."
      }
    },
    "com.azure.iothub#IotHubResourceListKeysRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the IoT hub."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the IoT hub."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iothub#IotHubResourceTestRoute": {
      "type": "operation",
      "input": {
        "target": "com.azure.iothub#IotHubResourceTestRouteRequest"
      },
      "output": {
        "target": "com.azure.iothub#TestRouteResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{iotHubName}/routing/routes/$testnew",
          "code": 200,
          "apiVersion": "2023-06-30"
        },
        "smithy.api#documentation": "Test the new route\n\nTest the new route for this Iot Hub",
        "com.distilled.openapi#apiVersion": "2023-06-30"
      }
    },
    "com.azure.iothub#TestRouteResult": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.azure.iothub#TestRouteResultResult",
          "traits": {
            "smithy.api#documentation": "Result of testing route"
          }
        },
        "details": {
          "target": "com.azure.iothub#TestRouteResultDetails",
          "traits": {
            "smithy.api#documentation": "Detailed result of testing route"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of testing one route"
      }
    },
    "com.azure.iothub#TestRouteResultDetails": {
      "type": "structure",
      "members": {
        "compilationErrors": {
          "target": "com.azure.iothub#TestRouteResultDetailsCompilationErrorsList",
          "traits": {
            "smithy.api#documentation": "JSON-serialized list of route compilation errors"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Detailed result of testing a route"
      }
    },
    "com.azure.iothub#TestRouteResultDetailsCompilationErrorsList": {
      "type": "list",
      "member": {
        "target": "com.azure.iothub#RouteCompilationError"
      },
      "traits": {
        "smithy.api#documentation": "JSON-serialized list of route compilation errors"
      }
    },
    "com.azure.iothub#RouteCompilationError": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Route error message"
          }
        },
        "severity": {
          "target": "com.azure.iothub#RouteCompilationErrorSeverity",
          "traits": {
            "smithy.api#documentation": "Severity of the route error"
          }
        },
        "location": {
          "target": "com.azure.iothub#RouteErrorRange",
          "traits": {
            "smithy.api#documentation": "Location where the route error happened"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Compilation error when evaluating route"
      }
    },
    "com.azure.iothub#RouteErrorRange": {
      "type": "structure",
      "members": {
        "start": {
          "target": "com.azure.iothub#RouteErrorPosition",
          "traits": {
            "smithy.api#documentation": "Start where the route error happened"
          }
        },
        "end": {
          "target": "com.azure.iothub#RouteErrorPosition",
          "traits": {
            "smithy.api#documentation": "End where the route error happened"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Range of route errors"
      }
    },
    "com.azure.iothub#RouteErrorPosition": {
      "type": "structure",
      "members": {
        "line": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Line where the route error happened"
          }
        },
        "column": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Column where the route error happened"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Position where the route error happened"
      }
    },
    "com.azure.iothub#RouteCompilationErrorSeverity": {
      "type": "enum",
      "members": {
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warning"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Severity of the route error"
      }
    },
    "com.azure.iothub#TestRouteResultResult": {
      "type": "enum",
      "members": {
        "UNDEFINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "undefined"
          }
        },
        "FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "false"
          }
        },
        "TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "true"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of testing route"
      }
    },
    "com.azure.iothub#IotHubResourceTestRouteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "resource group which Iot Hub belongs to"
          }
        },
        "iotHubName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "IotHub to be tested"
          }
        },
        "message": {
          "target": "com.azure.iothub#RoutingMessage",
          "traits": {
            "smithy.api#documentation": "Routing message"
          }
        },
        "route": {
          "target": "com.azure.iothub#RouteProperties",
          "traits": {
            "smithy.api#documentation": "Route properties",
            "smithy.api#required": {}
          }
        },
        "twin": {
          "target": "com.azure.iothub#RoutingTwin",
          "traits": {
            "smithy.api#documentation": "Routing Twin Reference"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iothub#RoutingTwin": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Twin Tags"
          }
        },
        "properties": {
          "target": "com.azure.iothub#RoutingTwinProperties"
        }
      },
      "traits": {
        "smithy.api#documentation": "Twin reference input parameter. This is an optional parameter"
      }
    },
    "com.azure.iothub#RoutingTwinProperties": {
      "type": "structure",
      "members": {
        "desired": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Twin desired properties"
          }
        },
        "reported": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Twin desired properties"
          }
        }
      },
      "traits": {}
    },
    "com.azure.iothub#RouteProperties": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the route. The name can only include alphanumeric characters, periods, underscores, hyphens, has a maximum length of 64 characters, and must be unique.",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.azure.iothub#RoutePropertiesSource",
          "traits": {
            "smithy.api#documentation": "The source that the routing rule is to be applied to, such as DeviceMessages.",
            "smithy.api#required": {}
          }
        },
        "condition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The condition that is evaluated to apply the routing rule. If no condition is provided, it evaluates to true by default. For grammar, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-query-language"
          }
        },
        "endpointNames": {
          "target": "com.azure.iothub#RoutePropertiesEndpointNamesList",
          "traits": {
            "smithy.api#documentation": "The list of endpoints to which messages that satisfy the condition are routed. Currently only one endpoint is allowed.",
            "smithy.api#required": {}
          }
        },
        "isEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Used to specify whether a route is enabled.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of a routing rule that your IoT hub uses to route messages to endpoints."
      }
    },
    "com.azure.iothub#RoutePropertiesEndpointNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of endpoints to which messages that satisfy the condition are routed. Currently only one endpoint is allowed."
      }
    },
    "com.azure.iothub#RoutePropertiesSource": {
      "type": "enum",
      "members": {
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        },
        "DEVICEMESSAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeviceMessages"
          }
        },
        "TWINCHANGEEVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TwinChangeEvents"
          }
        },
        "DEVICELIFECYCLEEVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeviceLifecycleEvents"
          }
        },
        "DEVICEJOBLIFECYCLEEVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeviceJobLifecycleEvents"
          }
        },
        "DEVICECONNECTIONSTATEEVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeviceConnectionStateEvents"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The source that the routing rule is to be applied to, such as DeviceMessages."
      }
    },
    "com.azure.iothub#RoutingMessage": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Body of routing message"
          }
        },
        "appProperties": {
          "target": "com.azure.iothub#RoutingMessageAppPropertiesMap",
          "traits": {
            "smithy.api#documentation": "App properties"
          }
        },
        "systemProperties": {
          "target": "com.azure.iothub#RoutingMessageSystemPropertiesMap",
          "traits": {
            "smithy.api#documentation": "System properties"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Routing message"
      }
    },
    "com.azure.iothub#RoutingMessageSystemPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "System properties"
      }
    },
    "com.azure.iothub#RoutingMessageAppPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "App properties"
      }
    },
    "com.azure.iothub#IotHubResourceTestAllRoutes": {
      "type": "operation",
      "input": {
        "target": "com.azure.iothub#IotHubResourceTestAllRoutesRequest"
      },
      "output": {
        "target": "com.azure.iothub#TestAllRoutesResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{iotHubName}/routing/routes/$testall",
          "code": 200,
          "apiVersion": "2023-06-30"
        },
        "smithy.api#documentation": "Test all routes\n\nTest all routes configured in this Iot Hub",
        "com.distilled.openapi#apiVersion": "2023-06-30"
      }
    },
    "com.azure.iothub#TestAllRoutesResult": {
      "type": "structure",
      "members": {
        "routes": {
          "target": "com.azure.iothub#TestAllRoutesResultRoutesList",
          "traits": {
            "smithy.api#documentation": "JSON-serialized array of matched routes"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of testing all routes"
      }
    },
    "com.azure.iothub#TestAllRoutesResultRoutesList": {
      "type": "list",
      "member": {
        "target": "com.azure.iothub#MatchedRoute"
      },
      "traits": {
        "smithy.api#documentation": "JSON-serialized array of matched routes"
      }
    },
    "com.azure.iothub#MatchedRoute": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.azure.iothub#RouteProperties",
          "traits": {
            "smithy.api#documentation": "Properties of routes that matched"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Routes that matched"
      }
    },
    "com.azure.iothub#IotHubResourceTestAllRoutesRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "resource group which Iot Hub belongs to"
          }
        },
        "iotHubName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "IotHub to be tested"
          }
        },
        "routingSource": {
          "target": "com.azure.iothub#IotHubResourceTestAllRoutesRequestRoutingSource",
          "traits": {
            "smithy.api#documentation": "Routing source"
          }
        },
        "message": {
          "target": "com.azure.iothub#RoutingMessage",
          "traits": {
            "smithy.api#documentation": "Routing message"
          }
        },
        "twin": {
          "target": "com.azure.iothub#RoutingTwin",
          "traits": {
            "smithy.api#documentation": "Routing Twin Reference"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iothub#IotHubResourceTestAllRoutesRequestRoutingSource": {
      "type": "enum",
      "members": {
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        },
        "DEVICEMESSAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeviceMessages"
          }
        },
        "TWINCHANGEEVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TwinChangeEvents"
          }
        },
        "DEVICELIFECYCLEEVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeviceLifecycleEvents"
          }
        },
        "DEVICEJOBLIFECYCLEEVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeviceJobLifecycleEvents"
          }
        },
        "DEVICECONNECTIONSTATEEVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeviceConnectionStateEvents"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Routing source"
      }
    },
    "com.azure.iothub#ResourceProviderCommonGetSubscriptionQuota": {
      "type": "operation",
      "input": {
        "target": "com.azure.iothub#ResourceProviderCommonGetSubscriptionQuotaRequest"
      },
      "output": {
        "target": "com.azure.iothub#UserSubscriptionQuotaListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Devices/usages",
          "code": 200,
          "apiVersion": "2023-06-30"
        },
        "smithy.api#documentation": "Get the number of iot hubs in the subscription\n\nGet the number of free and paid iot hubs in the subscription",
        "com.distilled.openapi#apiVersion": "2023-06-30"
      }
    },
    "com.azure.iothub#UserSubscriptionQuotaListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.iothub#UserSubscriptionQuotaListResultValueList"
        },
        "nextLink": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Json-serialized array of User subscription quota response"
      }
    },
    "com.azure.iothub#UserSubscriptionQuotaListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.iothub#UserSubscriptionQuota"
      },
      "traits": {}
    },
    "com.azure.iothub#UserSubscriptionQuota": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IotHub type id"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Response type"
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unit of IotHub type"
          }
        },
        "currentValue": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Current number of IotHub type"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Numerical limit on IotHub type"
          }
        },
        "name": {
          "target": "com.azure.iothub#Name",
          "traits": {
            "smithy.api#documentation": "IotHub type"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User subscription quota response"
      }
    },
    "com.azure.iothub#Name": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IotHub type"
          }
        },
        "localizedValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Localized value of name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Name of Iot Hub type"
      }
    },
    "com.azure.iothub#ResourceProviderCommonGetSubscriptionQuotaRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iothub#IotHubResourceCheckNameAvailability": {
      "type": "operation",
      "input": {
        "target": "com.azure.iothub#IotHubResourceCheckNameAvailabilityRequest"
      },
      "output": {
        "target": "com.azure.iothub#IotHubNameAvailabilityInfo"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Devices/checkNameAvailability",
          "code": 200,
          "apiVersion": "2023-06-30"
        },
        "smithy.api#documentation": "Check if an IoT hub name is available\n\nCheck if an IoT hub name is available.",
        "com.distilled.openapi#apiVersion": "2023-06-30"
      }
    },
    "com.azure.iothub#IotHubNameAvailabilityInfo": {
      "type": "structure",
      "members": {
        "nameAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The value which indicates whether the provided name is available."
          }
        },
        "reason": {
          "target": "com.azure.iothub#IotHubNameAvailabilityInfoReason",
          "traits": {
            "smithy.api#documentation": "The reason for unavailability."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The detailed reason message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties indicating whether a given IoT hub name is available."
      }
    },
    "com.azure.iothub#IotHubNameAvailabilityInfoReason": {
      "type": "enum",
      "members": {
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        },
        "ALREADYEXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AlreadyExists"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The reason for unavailability."
      }
    },
    "com.azure.iothub#IotHubResourceCheckNameAvailabilityRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the IoT hub to check.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iothub#IotHubResourceGetEndpointHealth": {
      "type": "operation",
      "input": {
        "target": "com.azure.iothub#IotHubResourceGetEndpointHealthRequest"
      },
      "output": {
        "target": "com.azure.iothub#EndpointHealthDataListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{iotHubName}/routingEndpointsHealth",
          "code": 200,
          "apiVersion": "2023-06-30"
        },
        "smithy.api#documentation": "Get the health for routing endpoints\n\nGet the health for routing endpoints.",
        "com.distilled.openapi#apiVersion": "2023-06-30"
      }
    },
    "com.azure.iothub#EndpointHealthDataListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.iothub#EndpointHealthDataListResultValueList",
          "traits": {
            "smithy.api#documentation": "JSON-serialized array of Endpoint health data"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to more results"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The JSON-serialized array of EndpointHealthData objects with a next link."
      }
    },
    "com.azure.iothub#EndpointHealthDataListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.iothub#EndpointHealthData"
      },
      "traits": {
        "smithy.api#documentation": "JSON-serialized array of Endpoint health data"
      }
    },
    "com.azure.iothub#EndpointHealthData": {
      "type": "structure",
      "members": {
        "endpointId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the endpoint"
          }
        },
        "healthStatus": {
          "target": "com.azure.iothub#EndpointHealthDataHealthStatus",
          "traits": {
            "smithy.api#documentation": "Health statuses have following meanings. The 'healthy' status shows that the endpoint is accepting messages as expected. The 'unhealthy' status shows that the endpoint is not accepting messages as expected and IoT Hub is retrying to send data to this endpoint. The status of an unhealthy endpoint will be updated to healthy when IoT Hub has established an eventually consistent state of health. The 'dead' status shows that the endpoint is not accepting messages, after IoT Hub retried sending messages for the retrial period. See IoT Hub metrics to identify errors and monitor issues with endpoints. The 'unknown' status shows that the IoT Hub has not established a connection with the endpoint. No messages have been delivered to or rejected from this endpoint"
          }
        },
        "lastKnownError": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last error obtained when a message failed to be delivered to iot hub"
          }
        },
        "lastKnownErrorTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time at which the last known error occurred"
          }
        },
        "lastSuccessfulSendAttemptTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time iot hub successfully sent a message to the endpoint"
          }
        },
        "lastSendAttemptTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time iot hub tried to send a message to the endpoint"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The health data for an endpoint"
      }
    },
    "com.azure.iothub#EndpointHealthDataHealthStatus": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        },
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "healthy"
          }
        },
        "DEGRADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "degraded"
          }
        },
        "UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unhealthy"
          }
        },
        "DEAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dead"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Health statuses have following meanings. The 'healthy' status shows that the endpoint is accepting messages as expected. The 'unhealthy' status shows that the endpoint is not accepting messages as expected and IoT Hub is retrying to send data to this endpoint. The status of an unhealthy endpoint will be updated to healthy when IoT Hub has established an eventually consistent state of health. The 'dead' status shows that the endpoint is not accepting messages, after IoT Hub retried sending messages for the retrial period. See IoT Hub metrics to identify errors and monitor issues with endpoints. The 'unknown' status shows that the IoT Hub has not established a connection with the endpoint. No messages have been delivered to or rejected from this endpoint"
      }
    },
    "com.azure.iothub#IotHubResourceGetEndpointHealthRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "iotHubName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iothub#IotHubResourceGetQuotaMetrics": {
      "type": "operation",
      "input": {
        "target": "com.azure.iothub#IotHubResourceGetQuotaMetricsRequest"
      },
      "output": {
        "target": "com.azure.iothub#IotHubQuotaMetricInfoListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/quotaMetrics",
          "code": 200,
          "apiVersion": "2023-06-30"
        },
        "smithy.api#documentation": "Get the quota metrics for an IoT hub\n\nGet the quota metrics for an IoT hub.",
        "com.distilled.openapi#apiVersion": "2023-06-30"
      }
    },
    "com.azure.iothub#IotHubQuotaMetricInfoListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.iothub#IotHubQuotaMetricInfoListResultValueList",
          "traits": {
            "smithy.api#documentation": "The array of quota metrics objects."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next link."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The JSON-serialized array of IotHubQuotaMetricInfo objects with a next link."
      }
    },
    "com.azure.iothub#IotHubQuotaMetricInfoListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.iothub#IotHubQuotaMetricInfo"
      },
      "traits": {
        "smithy.api#documentation": "The array of quota metrics objects."
      }
    },
    "com.azure.iothub#IotHubQuotaMetricInfo": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the quota metric."
          }
        },
        "currentValue": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The current value for the quota metric."
          }
        },
        "maxValue": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum value of the quota metric."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Quota metrics properties."
      }
    },
    "com.azure.iothub#IotHubResourceGetQuotaMetricsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the IoT hub."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the IoT hub."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iothub#IotHubResourceGetJob": {
      "type": "operation",
      "input": {
        "target": "com.azure.iothub#IotHubResourceGetJobRequest"
      },
      "output": {
        "target": "com.azure.iothub#JobResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/jobs/{jobId}",
          "code": 200,
          "apiVersion": "2023-06-30"
        },
        "smithy.api#documentation": "Get the details of a job from an IoT hub. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry\n\nGet the details of a job from an IoT hub. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry.",
        "com.distilled.openapi#apiVersion": "2023-06-30"
      }
    },
    "com.azure.iothub#IotHubResourceGetJobRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
[...]
