{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.iotoperations#RegistryEndpointDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.iotoperations#RegistryEndpointDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperations/instances/{instanceName}/registryEndpoints/{registryEndpointName}",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Delete a RegistryEndpointResource",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.iotoperations#RegistryEndpointDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "instanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of instance."
          }
        },
        "registryEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of RegistryEndpoint resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iotoperations#RegistryEndpointCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.iotoperations#RegistryEndpointCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.iotoperations#RegistryEndpointCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperations/instances/{instanceName}/registryEndpoints/{registryEndpointName}",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Create a RegistryEndpointResource",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.iotoperations#RegistryEndpointCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.iotoperations#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.iotoperations#RegistryEndpointProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.iotoperations#ExtendedLocation",
          "traits": {
            "smithy.api#documentation": "Edge location of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.iotoperations#ExtendedLocation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the extended location.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.azure.iotoperations#ExtendedLocationType",
          "traits": {
            "smithy.api#documentation": "Type of ExtendedLocation.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Extended location is an extension of Azure locations. They provide a way to use their Azure ARC enabled Kubernetes clusters as target locations for deploying Azure services instances."
      }
    },
    "com.azure.iotoperations#ExtendedLocationType": {
      "type": "enum",
      "members": {
        "CUSTOMLOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CustomLocation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enum defining type of ExtendedLocation accepted."
      }
    },
    "com.azure.iotoperations#RegistryEndpointProperties": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Container Registry endpoint hostname.",
            "smithy.api#required": {}
          }
        },
        "authentication": {
          "target": "com.azure.iotoperations#RegistryEndpointAuthentication",
          "traits": {
            "smithy.api#documentation": "The authentication settings for the Azure Container Registry.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.iotoperations#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The status of the last operation."
          }
        },
        "healthState": {
          "target": "com.azure.iotoperations#RegistryEndpointPropertiesHealthState",
          "traits": {
            "smithy.api#documentation": "The health state of the resource."
          }
        },
        "codeSigningCas": {
          "target": "com.azure.iotoperations#RegistryEndpointPropertiesCodeSigningCasList",
          "traits": {
            "smithy.api#documentation": "The signing certificate authorities used by artifacts in the registry endpoint"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RegistryEndpoint properties"
      }
    },
    "com.azure.iotoperations#RegistryEndpointPropertiesCodeSigningCasList": {
      "type": "list",
      "member": {
        "target": "com.azure.iotoperations#RegistryEndpointTrustedSigningKey"
      },
      "traits": {
        "smithy.api#documentation": "The signing certificate authorities used by artifacts in the registry endpoint"
      }
    },
    "com.azure.iotoperations#RegistryEndpointTrustedSigningKey": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.iotoperations#RegistryEndpointTrustedSigningKeyType",
          "traits": {
            "smithy.api#documentation": "The trust type for the registry endpoint.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RegistryEndpoint Trust properties"
      }
    },
    "com.azure.iotoperations#RegistryEndpointTrustedSigningKeyType": {
      "type": "enum",
      "members": {
        "SECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Secret"
          }
        },
        "CONFIGMAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConfigMap"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RegistryEndpointTrustedSigningKeyType values"
      }
    },
    "com.azure.iotoperations#RegistryEndpointPropertiesHealthState": {
      "type": "enum",
      "members": {
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Available"
          }
        },
        "DEGRADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Degraded"
          }
        },
        "UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unavailable"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The health state of the resource."
      }
    },
    "com.azure.iotoperations#ProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enum defining status of resource."
      }
    },
    "com.azure.iotoperations#RegistryEndpointAuthentication": {
      "type": "structure",
      "members": {
        "method": {
          "target": "com.azure.iotoperations#RegistryEndpointAuthenticationMethod",
          "traits": {
            "smithy.api#documentation": "The authentication method.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Model for RegistryEndpointAuthentication"
      }
    },
    "com.azure.iotoperations#RegistryEndpointAuthenticationMethod": {
      "type": "enum",
      "members": {
        "SYSTEMASSIGNEDMANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssignedManagedIdentity"
          }
        },
        "USERASSIGNEDMANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssignedManagedIdentity"
          }
        },
        "ANONYMOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Anonymous"
          }
        },
        "ARTIFACTPULLSECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ArtifactPullSecret"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The authentication method."
      }
    },
    "com.azure.iotoperations#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.iotoperations#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.iotoperations#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.iotoperations#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.iotoperations#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.iotoperations#RegistryEndpointCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "instanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of instance."
          }
        },
        "registryEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of RegistryEndpoint resource"
          }
        },
        "properties": {
          "target": "com.azure.iotoperations#RegistryEndpointPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.iotoperations#ExtendedLocation",
          "traits": {
            "smithy.api#documentation": "Edge location of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iotoperations#RegistryEndpointPropertiesInput": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Container Registry endpoint hostname.",
            "smithy.api#required": {}
          }
        },
        "authentication": {
          "target": "com.azure.iotoperations#RegistryEndpointAuthentication",
          "traits": {
            "smithy.api#documentation": "The authentication settings for the Azure Container Registry.",
            "smithy.api#required": {}
          }
        },
        "codeSigningCas": {
          "target": "com.azure.iotoperations#RegistryEndpointPropertiesInputCodeSigningCasList",
          "traits": {
            "smithy.api#documentation": "The signing certificate authorities used by artifacts in the registry endpoint"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RegistryEndpoint properties"
      }
    },
    "com.azure.iotoperations#RegistryEndpointPropertiesInputCodeSigningCasList": {
      "type": "list",
      "member": {
        "target": "com.azure.iotoperations#RegistryEndpointTrustedSigningKey"
      },
      "traits": {
        "smithy.api#documentation": "The signing certificate authorities used by artifacts in the registry endpoint"
      }
    },
    "com.azure.iotoperations#RegistryEndpointGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.iotoperations#RegistryEndpointGetRequest"
      },
      "output": {
        "target": "com.azure.iotoperations#RegistryEndpointGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperations/instances/{instanceName}/registryEndpoints/{registryEndpointName}",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Get a RegistryEndpointResource",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.iotoperations#RegistryEndpointGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.iotoperations#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.iotoperations#RegistryEndpointProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.iotoperations#ExtendedLocation",
          "traits": {
            "smithy.api#documentation": "Edge location of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.iotoperations#RegistryEndpointGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "instanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of instance."
          }
        },
        "registryEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of RegistryEndpoint resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iotoperations#RegistryEndpointListByInstanceResource": {
      "type": "operation",
      "input": {
        "target": "com.azure.iotoperations#RegistryEndpointListByInstanceResourceRequest"
      },
      "output": {
        "target": "com.azure.iotoperations#RegistryEndpointResourceListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperations/instances/{instanceName}/registryEndpoints",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "List RegistryEndpointResource resources by InstanceResource",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.iotoperations#RegistryEndpointResourceListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.iotoperations#RegistryEndpointResourceListResultValueList",
          "traits": {
            "smithy.api#documentation": "The RegistryEndpointResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a RegistryEndpointResource list operation."
      }
    },
    "com.azure.iotoperations#RegistryEndpointResourceListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.iotoperations#RegistryEndpointResource"
      },
      "traits": {
        "smithy.api#documentation": "The RegistryEndpointResource items on this page"
      }
    },
    "com.azure.iotoperations#RegistryEndpointResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.iotoperations#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.iotoperations#RegistryEndpointProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.iotoperations#ExtendedLocation",
          "traits": {
            "smithy.api#documentation": "Edge location of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RegistryEndpoint resource"
      }
    },
    "com.azure.iotoperations#RegistryEndpointListByInstanceResourceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "instanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of instance."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iotoperations#DataflowDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.iotoperations#DataflowDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperations/instances/{instanceName}/dataflowProfiles/{dataflowProfileName}/dataflows/{dataflowName}",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Delete a DataflowResource",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.iotoperations#DataflowDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "instanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of instance."
          }
        },
        "dataflowProfileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Instance dataflowProfile resource"
          }
        },
        "dataflowName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Instance dataflowProfile dataflow resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iotoperations#DataflowCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.iotoperations#DataflowCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.iotoperations#DataflowCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperations/instances/{instanceName}/dataflowProfiles/{dataflowProfileName}/dataflows/{dataflowName}",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Create a DataflowResource",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.iotoperations#DataflowCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.iotoperations#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.iotoperations#DataflowProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.iotoperations#ExtendedLocation",
          "traits": {
            "smithy.api#documentation": "Edge location of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.iotoperations#DataflowProperties": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.azure.iotoperations#DataflowPropertiesMode",
          "traits": {
            "smithy.api#documentation": "Mode for Dataflow. Optional; defaults to Enabled."
          }
        },
        "requestDiskPersistence": {
          "target": "com.azure.iotoperations#OperationalMode",
          "traits": {
            "smithy.api#documentation": "Disk persistence mode."
          }
        },
        "operations": {
          "target": "com.azure.iotoperations#DataflowPropertiesOperationsList",
          "traits": {
            "smithy.api#documentation": "List of operations including source and destination references as well as transformation.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.iotoperations#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The status of the last operation."
          }
        },
        "status": {
          "target": "com.azure.iotoperations#DataflowStatus",
          "traits": {
            "smithy.api#documentation": "The status for the dataflow."
          }
        },
        "healthState": {
          "target": "com.azure.iotoperations#DataflowPropertiesHealthState",
          "traits": {
            "smithy.api#documentation": "The health state of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dataflow Resource properties"
      }
    },
    "com.azure.iotoperations#DataflowPropertiesHealthState": {
      "type": "enum",
      "members": {
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Available"
          }
        },
        "DEGRADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Degraded"
          }
        },
        "UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unavailable"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The health state of the resource."
      }
    },
    "com.azure.iotoperations#DataflowStatus": {
      "type": "structure",
      "members": {
        "healthState": {
          "target": "com.azure.iotoperations#ResourceHealthStatus",
          "traits": {
            "smithy.api#documentation": "The health state of the Dataflow."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DataflowStatus status."
      }
    },
    "com.azure.iotoperations#ResourceHealthStatus": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.iotoperations#ResourceHealthState",
          "traits": {
            "smithy.api#documentation": "The high-level health status of the resource."
          }
        },
        "lastTransitionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp (RFC3339) when the health status last changed."
          }
        },
        "lastUpdateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp (RFC3339) when the health status was last updated, even if the status did not change."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A human-readable message describing the last transition."
          }
        },
        "reasonCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique, CamelCase reason code describing the cause of the last health state transition."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the health state of a resource."
      }
    },
    "com.azure.iotoperations#ResourceHealthState": {
      "type": "enum",
      "members": {
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Available"
          }
        },
        "DEGRADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Degraded"
          }
        },
        "UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unavailable"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The health state of the resource."
      }
    },
    "com.azure.iotoperations#DataflowPropertiesOperationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.iotoperations#DataflowOperation"
      },
      "traits": {
        "smithy.api#documentation": "List of operations including source and destination references as well as transformation."
      }
    },
    "com.azure.iotoperations#DataflowOperation": {
      "type": "structure",
      "members": {
        "operationType": {
          "target": "com.azure.iotoperations#OperationType",
          "traits": {
            "smithy.api#documentation": "Type of operation.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional user provided name of the transformation."
          }
        },
        "sourceSettings": {
          "target": "com.azure.iotoperations#DataflowSourceOperationSettings",
          "traits": {
            "smithy.api#documentation": "Source configuration."
          }
        },
        "builtInTransformationSettings": {
          "target": "com.azure.iotoperations#DataflowBuiltInTransformationSettings",
          "traits": {
            "smithy.api#documentation": "Built In Transformation configuration."
          }
        },
        "destinationSettings": {
          "target": "com.azure.iotoperations#DataflowDestinationOperationSettings",
          "traits": {
            "smithy.api#documentation": "Destination configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dataflow Operation properties. NOTE - One only method is allowed to be used for one entry."
      }
    },
    "com.azure.iotoperations#DataflowDestinationOperationSettings": {
      "type": "structure",
      "members": {
        "endpointRef": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reference to the Endpoint CR. Can be of Broker, Kafka, Fabric, ADLS, ADX type.",
            "smithy.api#required": {}
          }
        },
        "dataDestination": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Destination location, can be a topic or table name. Supports dynamic values with $topic, $systemProperties, $userProperties, $payload, $context, and $subscription.",
            "smithy.api#required": {}
          }
        },
        "headers": {
          "target": "com.azure.iotoperations#DataflowDestinationOperationSettingsHeadersList",
          "traits": {
            "smithy.api#documentation": "Headers for the output data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dataflow Destination Operation properties"
      }
    },
    "com.azure.iotoperations#DataflowDestinationOperationSettingsHeadersList": {
      "type": "list",
      "member": {
        "target": "com.azure.iotoperations#DataflowDestinationHeaderAction"
      },
      "traits": {
        "smithy.api#documentation": "Headers for the output data."
      }
    },
    "com.azure.iotoperations#DataflowDestinationHeaderAction": {
      "type": "structure",
      "members": {
        "actionType": {
          "target": "com.azure.iotoperations#DataflowHeaderActionType",
          "traits": {
            "smithy.api#documentation": "The type of header operation to perform.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dataflow Destination Header Action properties"
      }
    },
    "com.azure.iotoperations#DataflowHeaderActionType": {
      "type": "enum",
      "members": {
        "ADDIFNOTPRESENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AddIfNotPresent"
          }
        },
        "REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Remove"
          }
        },
        "ADDORREPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AddOrReplace"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dataflow Destination Header Action Types"
      }
    },
    "com.azure.iotoperations#DataflowBuiltInTransformationSettings": {
      "type": "structure",
      "members": {
        "serializationFormat": {
          "target": "com.azure.iotoperations#DataflowBuiltInTransformationSettingsSerializationFormat",
          "traits": {
            "smithy.api#documentation": "Serialization format. Optional; defaults to JSON. Allowed value JSON Schema/draft-7, Parquet. Default: Json"
          }
        },
        "schemaRef": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reference to the schema that describes the output of the transformation."
          }
        },
        "datasets": {
          "target": "com.azure.iotoperations#DataflowBuiltInTransformationSettingsDatasetsList",
          "traits": {
            "smithy.api#documentation": "Enrich data from Broker State Store. Dataset references a key in Broker State Store."
          }
        },
        "filter": {
          "target": "com.azure.iotoperations#DataflowBuiltInTransformationSettingsFilterList",
          "traits": {
            "smithy.api#documentation": "Filters input record or datapoints based on condition."
          }
        },
        "map": {
          "target": "com.azure.iotoperations#DataflowBuiltInTransformationSettingsMapList",
          "traits": {
            "smithy.api#documentation": "Maps input to output message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dataflow BuiltIn Transformation properties"
      }
    },
    "com.azure.iotoperations#DataflowBuiltInTransformationSettingsMapList": {
      "type": "list",
      "member": {
        "target": "com.azure.iotoperations#DataflowBuiltInTransformationMap"
      },
      "traits": {
        "smithy.api#documentation": "Maps input to output message."
      }
    },
    "com.azure.iotoperations#DataflowBuiltInTransformationMap": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.iotoperations#DataflowMappingType",
          "traits": {
            "smithy.api#documentation": "Type of transformation."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user provided optional description of the mapping function."
          }
        },
        "inputs": {
          "target": "com.azure.iotoperations#DataflowBuiltInTransformationMapInputsList",
          "traits": {
            "smithy.api#documentation": "List of fields for mapping in JSON path expression.",
            "smithy.api#required": {}
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Modify the inputs field(s) to the final output field. Example: $1 * 2.2 (Assuming inputs section $1 is provided)"
          }
        },
        "output": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Where and how the input fields to be organized in the output record.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dataflow BuiltIn Transformation map properties"
      }
    },
    "com.azure.iotoperations#DataflowBuiltInTransformationMapInputsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of fields for mapping in JSON path expression."
      }
    },
    "com.azure.iotoperations#DataflowMappingType": {
      "type": "enum",
      "members": {
        "NEWPROPERTIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NewProperties"
          }
        },
        "RENAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rename"
          }
        },
        "COMPUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Compute"
          }
        },
        "PASSTHROUGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PassThrough"
          }
        },
        "BUILTINFUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BuiltInFunction"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dataflow type mapping properties"
      }
    },
    "com.azure.iotoperations#DataflowBuiltInTransformationSettingsFilterList": {
      "type": "list",
      "member": {
        "target": "com.azure.iotoperations#DataflowBuiltInTransformationFilter"
      },
      "traits": {
        "smithy.api#documentation": "Filters input record or datapoints based on condition."
      }
    },
    "com.azure.iotoperations#DataflowBuiltInTransformationFilter": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.iotoperations#DataflowBuiltInTransformationFilterType",
          "traits": {
            "smithy.api#documentation": "The type of dataflow operation."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user provided optional description of the filter."
          }
        },
        "inputs": {
          "target": "com.azure.iotoperations#DataflowBuiltInTransformationFilterInputsList",
          "traits": {
            "smithy.api#documentation": "List of fields for filtering in JSON path expression.",
            "smithy.api#required": {}
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Condition to filter data. Can reference input fields with {n} where n is the index of the input field starting from 1. Example: $1 < 0 || $1 > $2 (Assuming inputs section $1 and $2 are provided)",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dataflow BuiltIn Transformation filter properties"
      }
    },
    "com.azure.iotoperations#DataflowBuiltInTransformationFilterInputsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of fields for filtering in JSON path expression."
      }
    },
    "com.azure.iotoperations#DataflowBuiltInTransformationFilterType": {
      "type": "enum",
      "members": {
        "FILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Filter"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of dataflow operation."
      }
    },
    "com.azure.iotoperations#DataflowBuiltInTransformationSettingsDatasetsList": {
      "type": "list",
      "member": {
        "target": "com.azure.iotoperations#DataflowBuiltInTransformationDataset"
      },
      "traits": {
        "smithy.api#documentation": "Enrich data from Broker State Store. Dataset references a key in Broker State Store."
      }
    },
    "com.azure.iotoperations#DataflowBuiltInTransformationDataset": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key of the dataset.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user provided optional description of the dataset."
          }
        },
        "schemaRef": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reference to the schema that describes the dataset. Allowed: JSON Schema/draft-7."
          }
        },
        "inputs": {
          "target": "com.azure.iotoperations#DataflowBuiltInTransformationDatasetInputsList",
          "traits": {
            "smithy.api#documentation": "List of fields for enriching from the Broker State Store.",
            "smithy.api#required": {}
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Condition to enrich data from Broker State Store. Example: $1 < 0 || $1 > $2 (Assuming inputs section $1 and $2 are provided)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dataflow BuiltIn Transformation dataset properties"
      }
    },
    "com.azure.iotoperations#DataflowBuiltInTransformationDatasetInputsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of fields for enriching from the Broker State Store."
      }
    },
    "com.azure.iotoperations#DataflowBuiltInTransformationSettingsSerializationFormat": {
      "type": "enum",
      "members": {
        "DELTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Delta"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Json"
          }
        },
        "PARQUET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Parquet"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Serialization format. Optional; defaults to JSON. Allowed value JSON Schema/draft-7, Parquet. Default: Json"
      }
    },
    "com.azure.iotoperations#DataflowSourceOperationSettings": {
      "type": "structure",
      "members": {
        "endpointRef": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reference to the Dataflow Endpoint resource. Can only be of Broker and Kafka type.",
            "smithy.api#required": {}
          }
        },
        "assetRef": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reference to the resource in Azure Device Registry where the data in the endpoint originates from."
          }
        },
        "serializationFormat": {
          "target": "com.azure.iotoperations#DataflowSourceOperationSettingsSerializationFormat",
          "traits": {
            "smithy.api#documentation": "Content is a JSON Schema. Allowed: JSON Schema/draft-7."
          }
        },
        "schemaRef": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Schema CR reference. Data will be deserialized according to the schema, and dropped if it doesn't match."
          }
        },
        "dataSources": {
          "target": "com.azure.iotoperations#DataflowSourceOperationSettingsDataSourcesList",
          "traits": {
            "smithy.api#documentation": "List of source locations. Can be Broker or Kafka topics. Supports wildcards # and +.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dataflow Source Operation properties"
      }
    },
    "com.azure.iotoperations#DataflowSourceOperationSettingsDataSourcesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of source locations. Can be Broker or Kafka topics. Supports wildcards # and +."
      }
    },
    "com.azure.iotoperations#DataflowSourceOperationSettingsSerializationFormat": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Json"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Content is a JSON Schema. Allowed: JSON Schema/draft-7."
      }
    },
    "com.azure.iotoperations#OperationType": {
      "type": "enum",
      "members": {
        "SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Source"
          }
        },
        "DESTINATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Destination"
          }
        },
        "BUILTINTRANSFORMATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BuiltInTransformation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dataflow Operation Type properties"
      }
    },
    "com.azure.iotoperations#OperationalMode": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mode properties"
      }
    },
    "com.azure.iotoperations#DataflowPropertiesMode": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mode for Dataflow. Optional; defaults to Enabled."
      }
    },
    "com.azure.iotoperations#DataflowCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "instanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of instance."
          }
        },
        "dataflowProfileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Instance dataflowProfile resource"
          }
        },
        "dataflowName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Instance dataflowProfile dataflow resource"
          }
        },
        "properties": {
          "target": "com.azure.iotoperations#DataflowPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.iotoperations#ExtendedLocation",
          "traits": {
            "smithy.api#documentation": "Edge location of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iotoperations#DataflowPropertiesInput": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.azure.iotoperations#DataflowPropertiesInputMode",
          "traits": {
            "smithy.api#documentation": "Mode for Dataflow. Optional; defaults to Enabled."
          }
        },
        "requestDiskPersistence": {
          "target": "com.azure.iotoperations#OperationalMode",
          "traits": {
            "smithy.api#documentation": "Disk persistence mode."
          }
        },
        "operations": {
          "target": "com.azure.iotoperations#DataflowPropertiesInputOperationsList",
          "traits": {
            "smithy.api#documentation": "List of operations including source and destination references as well as transformation.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dataflow Resource properties"
      }
    },
    "com.azure.iotoperations#DataflowPropertiesInputOperationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.iotoperations#DataflowOperation"
      },
      "traits": {
        "smithy.api#documentation": "List of operations including source and destination references as well as transformation."
      }
    },
    "com.azure.iotoperations#DataflowPropertiesInputMode": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mode for Dataflow. Optional; defaults to Enabled."
      }
    },
    "com.azure.iotoperations#DataflowGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.iotoperations#DataflowGetRequest"
      },
      "output": {
        "target": "com.azure.iotoperations#DataflowGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperations/instances/{instanceName}/dataflowProfiles/{dataflowProfileName}/dataflows/{dataflowName}",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Get a DataflowResource",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.iotoperations#DataflowGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.iotoperations#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.iotoperations#DataflowProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.iotoperations#ExtendedLocation",
          "traits": {
            "smithy.api#documentation": "Edge location of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.iotoperations#DataflowGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "instanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of instance."
          }
        },
        "dataflowProfileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Instance dataflowProfile resource"
          }
        },
        "dataflowName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Instance dataflowProfile dataflow resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iotoperations#DataflowListByProfileResource": {
      "type": "operation",
      "input": {
        "target": "com.azure.iotoperations#DataflowListByProfileResourceRequest"
      },
      "output": {
        "target": "com.azure.iotoperations#DataflowResourceListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperations/instances/{instanceName}/dataflowProfiles/{dataflowProfileName}/dataflows",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "List DataflowResource resources by DataflowProfileResource",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.iotoperations#DataflowResourceListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.iotoperations#DataflowResourceListResultValueList",
          "traits": {
            "smithy.api#documentation": "The DataflowResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a DataflowResource list operation."
      }
    },
    "com.azure.iotoperations#DataflowResourceListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.iotoperations#DataflowResource"
      },
      "traits": {
        "smithy.api#documentation": "The DataflowResource items on this page"
      }
    },
    "com.azure.iotoperations#DataflowResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.iotoperations#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.iotoperations#DataflowProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.iotoperations#ExtendedLocation",
          "traits": {
            "smithy.api#documentation": "Edge location of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Instance dataflowProfile dataflow resource"
      }
    },
    "com.azure.iotoperations#DataflowListByProfileResourceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "instanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of instance."
          }
        },
        "dataflowProfileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Instance dataflowProfile resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iotoperations#DataflowGraphDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.iotoperations#DataflowGraphDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperations/instances/{instanceName}/dataflowProfiles/{dataflowProfileName}/dataflowGraphs/{dataflowGraphName}",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Delete a DataflowGraphResource",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.iotoperations#DataflowGraphDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "instanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of instance."
          }
        },
        "dataflowProfileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Instance dataflowProfile resource"
          }
        },
        "dataflowGraphName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Instance dataflowEndpoint resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iotoperations#DataflowGraphCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.iotoperations#DataflowGraphCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.iotoperations#DataflowGraphCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperations/instances/{instanceName}/dataflowProfiles/{dataflowProfileName}/dataflowGraphs/{dataflowGraphName}",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Create a DataflowGraphResource",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.iotoperations#DataflowGraphCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.iotoperations#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.iotoperations#DataflowGraphProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.iotoperations#ExtendedLocation",
          "traits": {
            "smithy.api#documentation": "Edge location of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.iotoperations#DataflowGraphProperties": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.azure.iotoperations#DataflowGraphPropertiesMode",
          "traits": {
            "smithy.api#documentation": "The mode of the dataflow graph."
          }
        },
        "requestDiskPersistence": {
          "target": "com.azure.iotoperations#OperationalMode",
          "traits": {
            "smithy.api#documentation": "Disk persistence mode."
          }
        },
        "nodes": {
          "target": "com.azure.iotoperations#DataflowGraphPropertiesNodesList",
          "traits": {
            "smithy.api#documentation": "List of nodes in the dataflow graph.",
            "smithy.api#required": {}
          }
        },
        "nodeConnections": {
          "target": "com.azure.iotoperations#DataflowGraphPropertiesNodeConnectionsList",
          "traits": {
            "smithy.api#documentation": "List of connections between nodes in the dataflow graph.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.iotoperations#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the dataflow graph."
          }
        },
        "status": {
          "target": "com.azure.iotoperations#DataflowGraphStatus",
          "traits": {
            "smithy.api#documentation": "The status for the dataflow graph."
          }
        },
        "healthState": {
          "target": "com.azure.iotoperations#DataflowGraphPropertiesHealthState",
          "traits": {
            "smithy.api#documentation": "The health state of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DataflowGraph properties."
      }
    },
    "com.azure.iotoperations#DataflowGraphPropertiesHealthState": {
      "type": "enum",
      "members": {
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Available"
          }
        },
        "DEGRADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Degraded"
          }
        },
        "UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unavailable"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The health state of the resource."
      }
    },
    "com.azure.iotoperations#DataflowGraphStatus": {
      "type": "structure",
      "members": {
        "healthState": {
          "target": "com.azure.iotoperations#ResourceHealthStatus",
          "traits": {
            "smithy.api#documentation": "The health state of the DataflowGraph."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DataflowGraph status."
      }
    },
    "com.azure.iotoperations#DataflowGraphPropertiesNodeConnectionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.iotoperations#DataflowGraphNodeConnection"
      },
      "traits": {
        "smithy.api#documentation": "List of connections between nodes in the dataflow graph."
      }
    },
    "com.azure.iotoperations#DataflowGraphNodeConnection": {
      "type": "structure",
      "members": {
        "from": {
          "target": "com.azure.iotoperations#DataflowGraphConnectionInput",
          "traits": {
            "smithy.api#documentation": "Information about the source node.",
            "smithy.api#required": {}
          }
        },
        "to": {
          "target": "com.azure.iotoperations#DataflowGraphConnectionOutput",
          "traits": {
            "smithy.api#documentation": "Information about the destination node.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DataflowGraph DataflowGraphNode Connection."
      }
    },
    "com.azure.iotoperations#DataflowGraphConnectionOutput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the destination node.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DataflowGraph DataflowGraphNode Connection Output."
      }
    },
    "com.azure.iotoperations#DataflowGraphConnectionInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the input node.",
            "smithy.api#required": {}
          }
        },
        "schema": {
          "target": "com.azure.iotoperations#DataflowGraphConnectionSchemaSettings",
          "traits": {
            "smithy.api#documentation": "Schema settings for the input node."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DataflowGraph DataflowGraphNode Connection Input."
      }
    },
    "com.azure.iotoperations#DataflowGraphConnectionSchemaSettings": {
      "type": "structure",
      "members": {
        "serializationFormat": {
          "target": "com.azure.iotoperations#DataflowGraphConnectionSchemaSerializationFormat",
          "traits": {
            "smithy.api#documentation": "Output serialization format."
          }
        },
        "schemaRef": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reference to the schema that describes the output of the transformation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DataflowGraph connection node output schema settings."
      }
    },
    "com.azure.iotoperations#DataflowGraphConnectionSchemaSerializationFormat": {
      "type": "enum",
      "members": {
        "DELTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Delta"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Json"
          }
        },
        "PARQUET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Parquet"
          }
        },
        "AVRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Avro"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Serialization format for dataflow graph connection."
      }
    },
    "com.azure.iotoperations#DataflowGraphPropertiesNodesList": {
      "type": "list",
      "member": {
        "target": "com.azure.iotoperations#DataflowGraphNode"
      },
      "traits": {
        "smithy.api#documentation": "List of nodes in the dataflow graph."
      }
    },
    "com.azure.iotoperations#DataflowGraphNode": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the node.",
            "smithy.api#required": {}
          }
        },
        "nodeType": {
          "target": "com.azure.iotoperations#DataflowGraphNodeType",
          "traits": {
            "smithy.api#documentation": "Type of the node.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DataflowGraph node properties."
      }
    },
    "com.azure.iotoperations#DataflowGraphNodeType": {
      "type": "enum",
      "members": {
        "SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Source"
          }
        },
        "GRAPH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Graph"
          }
        },
        "DESTINATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Destination"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DataflowGraph node types."
      }
    },
    "com.azure.iotoperations#DataflowGraphPropertiesMode": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The mode of the dataflow graph."
      }
    },
    "com.azure.iotoperations#DataflowGraphCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "instanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of instance."
          }
        },
        "dataflowProfileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Instance dataflowProfile resource"
          }
        },
        "dataflowGraphName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Instance dataflowEndpoint resource."
          }
        },
        "properties": {
          "target": "com.azure.iotoperations#DataflowGraphPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.iotoperations#ExtendedLocation",
          "traits": {
            "smithy.api#documentation": "Edge location of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iotoperations#DataflowGraphPropertiesInput": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.azure.iotoperations#DataflowGraphPropertiesInputMode",
          "traits": {
            "smithy.api#documentation": "The mode of the dataflow graph."
          }
        },
        "requestDiskPersistence": {
          "target": "com.azure.iotoperations#OperationalMode",
          "traits": {
            "smithy.api#documentation": "Disk persistence mode."
          }
        },
        "nodes": {
          "target": "com.azure.iotoperations#DataflowGraphPropertiesInputNodesList",
          "traits": {
            "smithy.api#documentation": "List of nodes in the dataflow graph.",
            "smithy.api#required": {}
          }
        },
        "nodeConnections": {
          "target": "com.azure.iotoperations#DataflowGraphPropertiesInputNodeConnectionsList",
          "traits": {
            "smithy.api#documentation": "List of connections between nodes in the dataflow graph.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DataflowGraph properties."
      }
    },
    "com.azure.iotoperations#DataflowGraphPropertiesInputNodeConnectionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.iotoperations#DataflowGraphNodeConnection"
      },
      "traits": {
        "smithy.api#documentation": "List of connections between nodes in the dataflow graph."
      }
    },
    "com.azure.iotoperations#DataflowGraphPropertiesInputNodesList": {
      "type": "list",
      "member": {
        "target": "com.azure.iotoperations#DataflowGraphNode"
      },
      "traits": {
        "smithy.api#documentation": "List of nodes in the dataflow graph."
      }
    },
    "com.azure.iotoperations#DataflowGraphPropertiesInputMode": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The mode of the dataflow graph."
      }
    },
    "com.azure.iotoperations#DataflowGraphGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.iotoperations#DataflowGraphGetRequest"
      },
      "output": {
        "target": "com.azure.iotoperations#DataflowGraphGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperations/instances/{instanceName}/dataflowProfiles/{dataflowProfileName}/dataflowGraphs/{dataflowGraphName}",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Get a DataflowGraphResource",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.iotoperations#DataflowGraphGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.iotoperations#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.iotoperations#DataflowGraphProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.iotoperations#ExtendedLocation",
          "traits": {
            "smithy.api#documentation": "Edge location of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.iotoperations#DataflowGraphGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "instanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of instance."
          }
        },
        "dataflowProfileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Instance dataflowProfile resource"
          }
        },
        "dataflowGraphName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Instance dataflowEndpoint resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iotoperations#DataflowGraphListByDataflowProfile": {
      "type": "operation",
      "input": {
        "target": "com.azure.iotoperations#DataflowGraphListByDataflowProfileRequest"
      },
      "output": {
        "target": "com.azure.iotoperations#DataflowGraphResourceListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperations/instances/{instanceName}/dataflowProfiles/{dataflowProfileName}/dataflowGraphs",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "List DataflowGraphResource resources by DataflowProfileResource",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.iotoperations#DataflowGraphResourceListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.iotoperations#DataflowGraphResourceListResultValueList",
          "traits": {
            "smithy.api#documentation": "The DataflowGraphResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a DataflowGraphResource list operation."
      }
    },
    "com.azure.iotoperations#DataflowGraphResourceListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.iotoperations#DataflowGraphResource"
      },
      "traits": {
        "smithy.api#documentation": "The DataflowGraphResource items on this page"
      }
    },
    "com.azure.iotoperations#DataflowGraphResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.iotoperations#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.iotoperations#DataflowGraphProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.iotoperations#ExtendedLocation",
          "traits": {
            "smithy.api#documentation": "Edge location of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Instance dataflowEndpoint resource."
      }
    },
    "com.azure.iotoperations#DataflowGraphListByDataflowProfileRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "instanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of instance."
          }
        },
        "dataflowProfileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Instance dataflowProfile resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iotoperations#DataflowProfileDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.iotoperations#DataflowProfileDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperations/instances/{instanceName}/dataflowProfiles/{dataflowProfileName}",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Delete a DataflowProfileResource",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.iotoperations#DataflowProfileDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "instanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of instance."
          }
        },
        "dataflowProfileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Instance dataflowProfile resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.iotoperations#DataflowProfileCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.iotoperations#DataflowProfileCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.iotoperations#DataflowProfileCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperations/instances/{instanceName}/dataflowProfiles/{dataflowProfileName}",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Create a DataflowProfileResource",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.iotoperations#DataflowProfileCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.iotoperations#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.iotoperations#DataflowProfileProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.iotoperations#ExtendedLocation",
          "traits": {
            "smithy.api#documentation": "Edge location of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.iotoperations#DataflowProfileProperties": {
      "type": "structure",
      "members": {
        "diagnostics": {
          "target": "com.azure.iotoperations#ProfileDiagnostics",
          "traits": {
            "smithy.api#documentation": "Spec defines the desired identities of NBC diagnostics settings."
          }
        },
        "instanceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "To manually scale the dataflow profile, specify the maximum number of instances you want to run."
          }
        },
        "provisioningState": {
          "target": "com.azure.iotoperations#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The status of the last operation."
          }
        },
        "status": {
          "target": "com.azure.iotoperations#DataflowProfileStatus",
[...]
