{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.keyvault#VaultsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.keyvault#VaultsListRequest"
      },
      "output": {
        "target": "com.azure.keyvault#ResourceListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resources",
          "code": 200,
          "apiVersion": "2026-02-01"
        },
        "smithy.api#documentation": "The List operation gets information about the vaults associated with the subscription.",
        "com.distilled.openapi#apiVersion": "2026-02-01"
      }
    },
    "com.azure.keyvault#ResourceListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.keyvault#ResourceListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of vault resources.",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to get the next set of vault resources."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of vault resources."
      }
    },
    "com.azure.keyvault#ResourceListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.keyvault#ResourceListResultValueItem"
      },
      "traits": {
        "smithy.api#documentation": "The list of vault resources."
      }
    },
    "com.azure.keyvault#ResourceListResultValueItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.keyvault#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.keyvault#ResourceListResultValueItemTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'"
      }
    },
    "com.azure.keyvault#ResourceListResultValueItemTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.keyvault#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.keyvault#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.keyvault#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.keyvault#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.keyvault#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.keyvault#VaultsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "_filter": {
          "target": "com.azure.keyvault#VaultsListRequestFilter",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#required": {},
            "smithy.api#documentation": "The filter to apply on the operation."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "Maximum number of results to return."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.keyvault#VaultsListRequestFilter": {
      "type": "enum",
      "members": {
        "RESOURCETYPE_EQ_MICROSOFT_KEYVAULT_VAULTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resourceType eq 'Microsoft.KeyVault/vaults'"
          }
        }
      },
      "traits": {}
    },
    "com.azure.keyvault#SecretsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.keyvault#SecretsUpdateRequest"
      },
      "output": {
        "target": "com.azure.keyvault#SecretsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/secrets/{secretName}",
          "code": 200,
          "apiVersion": "2026-02-01"
        },
        "smithy.api#documentation": "Update a secret in the specified subscription.  NOTE: This API is intended for internal use in ARM deployments.  Users should use the data-plane REST service for interaction with vault secrets.",
        "com.distilled.openapi#apiVersion": "2026-02-01"
      }
    },
    "com.azure.keyvault#SecretsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.keyvault#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.keyvault#SecretProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the secret",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure location of the key vault resource."
          }
        },
        "tags": {
          "target": "com.azure.keyvault#SecretsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Tags assigned to the key vault resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.keyvault#SecretsUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tags assigned to the key vault resource."
      }
    },
    "com.azure.keyvault#SecretProperties": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the secret. NOTE: 'value' will never be returned from the service, as APIs using this model are is intended for internal use in ARM deployments. Users should use the data-plane REST service for interaction with vault secrets."
          }
        },
        "contentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content type of the secret."
          }
        },
        "attributes": {
          "target": "com.azure.keyvault#Attributes",
          "traits": {
            "smithy.api#documentation": "The attributes of the secret."
          }
        },
        "secretUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI to retrieve the current version of the secret."
          }
        },
        "secretUriWithVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI to retrieve the specific version of the secret."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the secret"
      }
    },
    "com.azure.keyvault#Attributes": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines whether the object is enabled."
          }
        },
        "nbf": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Not before date in seconds since 1970-01-01T00:00:00Z."
          }
        },
        "exp": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Expiry date in seconds since 1970-01-01T00:00:00Z."
          }
        },
        "created": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Creation time in seconds since 1970-01-01T00:00:00Z."
          }
        },
        "updated": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Last updated time in seconds since 1970-01-01T00:00:00Z."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object attributes managed by the KeyVault service."
      }
    },
    "com.azure.keyvault#SecretsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the vault."
          }
        },
        "secretName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the secret."
          }
        },
        "tags": {
          "target": "com.azure.keyvault#SecretsUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "The tags that will be assigned to the secret."
          }
        },
        "properties": {
          "target": "com.azure.keyvault#SecretPatchPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Properties of the secret"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.keyvault#SecretPatchPropertiesInput": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the secret."
          }
        },
        "contentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content type of the secret."
          }
        },
        "attributes": {
          "target": "com.azure.keyvault#AttributesInput",
          "traits": {
            "smithy.api#documentation": "The attributes of the secret."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the secret"
      }
    },
    "com.azure.keyvault#AttributesInput": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines whether the object is enabled."
          }
        },
        "nbf": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Not before date in seconds since 1970-01-01T00:00:00Z."
          }
        },
        "exp": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Expiry date in seconds since 1970-01-01T00:00:00Z."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object attributes managed by the KeyVault service."
      }
    },
    "com.azure.keyvault#SecretsUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The tags that will be assigned to the secret."
      }
    },
    "com.azure.keyvault#SecretsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.keyvault#SecretsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.keyvault#SecretsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/secrets/{secretName}",
          "code": 200,
          "apiVersion": "2026-02-01"
        },
        "smithy.api#documentation": "Create or update a secret in a key vault in the specified subscription.  NOTE: This API is intended for internal use in ARM deployments. Users should use the data-plane REST service for interaction with vault secrets.",
        "com.distilled.openapi#apiVersion": "2026-02-01"
      }
    },
    "com.azure.keyvault#SecretsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.keyvault#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.keyvault#SecretProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the secret",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure location of the key vault resource."
          }
        },
        "tags": {
          "target": "com.azure.keyvault#SecretsCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Tags assigned to the key vault resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.keyvault#SecretsCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tags assigned to the key vault resource."
      }
    },
    "com.azure.keyvault#SecretsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the vault."
          }
        },
        "secretName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the secret."
          }
        },
        "tags": {
          "target": "com.azure.keyvault#SecretsCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "The tags that will be assigned to the secret."
          }
        },
        "properties": {
          "target": "com.azure.keyvault#SecretPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Properties of the secret",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.keyvault#SecretPropertiesInput": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the secret. NOTE: 'value' will never be returned from the service, as APIs using this model are is intended for internal use in ARM deployments. Users should use the data-plane REST service for interaction with vault secrets."
          }
        },
        "contentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content type of the secret."
          }
        },
        "attributes": {
          "target": "com.azure.keyvault#AttributesInput",
          "traits": {
            "smithy.api#documentation": "The attributes of the secret."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the secret"
      }
    },
    "com.azure.keyvault#SecretsCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The tags that will be assigned to the secret."
      }
    },
    "com.azure.keyvault#SecretsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.keyvault#SecretsGetRequest"
      },
      "output": {
        "target": "com.azure.keyvault#SecretsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/secrets/{secretName}",
          "code": 200,
          "apiVersion": "2026-02-01"
        },
        "smithy.api#documentation": "Gets the specified secret.  NOTE: This API is intended for internal use in ARM deployments. Users should use the data-plane REST service for interaction with vault secrets.",
        "com.distilled.openapi#apiVersion": "2026-02-01"
      }
    },
    "com.azure.keyvault#SecretsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.keyvault#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.keyvault#SecretProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the secret",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure location of the key vault resource."
          }
        },
        "tags": {
          "target": "com.azure.keyvault#SecretsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Tags assigned to the key vault resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.keyvault#SecretsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tags assigned to the key vault resource."
      }
    },
    "com.azure.keyvault#SecretsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the vault."
          }
        },
        "secretName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the secret."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.keyvault#SecretsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.keyvault#SecretsListRequest"
      },
      "output": {
        "target": "com.azure.keyvault#SecretListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/secrets",
          "code": 200,
          "apiVersion": "2026-02-01"
        },
        "smithy.api#documentation": "The List operation gets information about the secrets in a vault.  NOTE: This API is intended for internal use in ARM deployments. Users should use the data-plane REST service for interaction with vault secrets.",
        "com.distilled.openapi#apiVersion": "2026-02-01"
      }
    },
    "com.azure.keyvault#SecretListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.keyvault#SecretListResultValueList",
          "traits": {
            "smithy.api#documentation": "The Secret items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a Secret list operation."
      }
    },
    "com.azure.keyvault#SecretListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.keyvault#Secret"
      },
      "traits": {
        "smithy.api#documentation": "The Secret items on this page"
      }
    },
    "com.azure.keyvault#Secret": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.keyvault#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.keyvault#SecretProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the secret",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure location of the key vault resource."
          }
        },
        "tags": {
          "target": "com.azure.keyvault#SecretTagsMap",
          "traits": {
            "smithy.api#documentation": "Tags assigned to the key vault resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource information with extended details."
      }
    },
    "com.azure.keyvault#SecretTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tags assigned to the key vault resource."
      }
    },
    "com.azure.keyvault#SecretsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the vault."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "Maximum number of results to return."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.keyvault#PrivateLinkResourcesListByVault": {
      "type": "operation",
      "input": {
        "target": "com.azure.keyvault#PrivateLinkResourcesListByVaultRequest"
      },
      "output": {
        "target": "com.azure.keyvault#PrivateLinkResourceListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/privateLinkResources",
          "code": 200,
          "apiVersion": "2026-02-01"
        },
        "smithy.api#documentation": "Gets the private link resources supported for the key vault.",
        "com.distilled.openapi#apiVersion": "2026-02-01"
      }
    },
    "com.azure.keyvault#PrivateLinkResourceListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.keyvault#PrivateLinkResourceListResultValueList",
          "traits": {
            "smithy.api#documentation": "Array of private link resources"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of private link resources"
      }
    },
    "com.azure.keyvault#PrivateLinkResourceListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.keyvault#PrivateLinkResource"
      },
      "traits": {
        "smithy.api#documentation": "Array of private link resources"
      }
    },
    "com.azure.keyvault#PrivateLinkResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.keyvault#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.keyvault#PrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure location of the key vault resource."
          }
        },
        "tags": {
          "target": "com.azure.keyvault#PrivateLinkResourceTagsMap",
          "traits": {
            "smithy.api#documentation": "Tags assigned to the key vault resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A private link resource"
      }
    },
    "com.azure.keyvault#PrivateLinkResourceTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tags assigned to the key vault resource."
      }
    },
    "com.azure.keyvault#PrivateLinkResourceProperties": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Group identifier of private link resource."
          }
        },
        "requiredMembers": {
          "target": "com.azure.keyvault#PrivateLinkResourcePropertiesRequiredMembersList",
          "traits": {
            "smithy.api#documentation": "Required member names of private link resource."
          }
        },
        "requiredZoneNames": {
          "target": "com.azure.keyvault#PrivateLinkResourcePropertiesRequiredZoneNamesList",
          "traits": {
            "smithy.api#documentation": "Required DNS zone names of the the private link resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a private link resource."
      }
    },
    "com.azure.keyvault#PrivateLinkResourcePropertiesRequiredZoneNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Required DNS zone names of the the private link resource."
      }
    },
    "com.azure.keyvault#PrivateLinkResourcePropertiesRequiredMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Required member names of private link resource."
      }
    },
    "com.azure.keyvault#PrivateLinkResourcesListByVaultRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the vault."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.keyvault#PrivateEndpointConnectionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.keyvault#PrivateEndpointConnectionsDeleteRequest"
      },
      "output": {
        "target": "com.azure.keyvault#PrivateEndpointConnectionsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2026-02-01"
        },
        "smithy.api#documentation": "Deletes the specified private endpoint connection associated with the key vault.",
        "com.distilled.openapi#apiVersion": "2026-02-01"
      }
    },
    "com.azure.keyvault#PrivateEndpointConnectionsDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.keyvault#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.keyvault#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure location of the key vault resource."
          }
        },
        "tags": {
          "target": "com.azure.keyvault#PrivateEndpointConnectionsDeleteResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Tags assigned to the key vault resource."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Modified whenever there is a change in the state of private endpoint connection."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.keyvault#PrivateEndpointConnectionsDeleteResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tags assigned to the key vault resource."
      }
    },
    "com.azure.keyvault#PrivateEndpointConnectionProperties": {
      "type": "structure",
      "members": {
        "privateEndpoint": {
          "target": "com.azure.keyvault#PrivateEndpoint",
          "traits": {
            "smithy.api#documentation": "Properties of the private endpoint object."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.keyvault#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "Approval state of the private link connection."
          }
        },
        "provisioningState": {
          "target": "com.azure.keyvault#PrivateEndpointConnectionProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the private endpoint connection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the private endpoint connection resource."
      }
    },
    "com.azure.keyvault#PrivateEndpointConnectionProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disconnected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current provisioning state."
      }
    },
    "com.azure.keyvault#PrivateLinkServiceConnectionState": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.keyvault#PrivateEndpointServiceConnectionStatus",
          "traits": {
            "smithy.api#documentation": "Indicates whether the connection has been approved, rejected or removed by the key vault owner."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason for approval or rejection."
          }
        },
        "actionsRequired": {
          "target": "com.azure.keyvault#ActionsRequired",
          "traits": {
            "smithy.api#documentation": "A message indicating if changes on the service provider require any updates on the consumer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object that represents the approval state of the private link connection."
      }
    },
    "com.azure.keyvault#ActionsRequired": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message indicating if changes on the service provider require any updates on the consumer."
      }
    },
    "com.azure.keyvault#PrivateEndpointServiceConnectionStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disconnected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint connection status."
      }
    },
    "com.azure.keyvault#PrivateEndpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full identifier of the private endpoint resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Private endpoint object properties."
      }
    },
    "com.azure.keyvault#PrivateEndpointConnectionsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the vault."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the private endpoint connection associated with the key vault."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.keyvault#PrivateEndpointConnectionsPut": {
      "type": "operation",
      "input": {
        "target": "com.azure.keyvault#PrivateEndpointConnectionsPutRequest"
      },
      "output": {
        "target": "com.azure.keyvault#PrivateEndpointConnectionsPutResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2026-02-01"
        },
        "smithy.api#documentation": "Updates the specified private endpoint connection associated with the key vault.",
        "com.distilled.openapi#apiVersion": "2026-02-01"
      }
    },
    "com.azure.keyvault#PrivateEndpointConnectionsPutResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.keyvault#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.keyvault#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure location of the key vault resource."
          }
        },
        "tags": {
          "target": "com.azure.keyvault#PrivateEndpointConnectionsPutResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Tags assigned to the key vault resource."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Modified whenever there is a change in the state of private endpoint connection."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.keyvault#PrivateEndpointConnectionsPutResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tags assigned to the key vault resource."
      }
    },
    "com.azure.keyvault#PrivateEndpointConnectionsPutRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the vault."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the private endpoint connection associated with the key vault."
          }
        },
        "properties": {
          "target": "com.azure.keyvault#PrivateEndpointConnectionPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Modified whenever there is a change in the state of private endpoint connection."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.keyvault#PrivateEndpointConnectionPropertiesInput": {
      "type": "structure",
      "members": {
        "privateEndpoint": {
          "target": "com.azure.keyvault#PrivateEndpointInput",
          "traits": {
            "smithy.api#documentation": "Properties of the private endpoint object."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.keyvault#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "Approval state of the private link connection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the private endpoint connection resource."
      }
    },
    "com.azure.keyvault#PrivateEndpointInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Private endpoint object properties."
      }
    },
    "com.azure.keyvault#PrivateEndpointConnectionsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.keyvault#PrivateEndpointConnectionsGetRequest"
      },
      "output": {
        "target": "com.azure.keyvault#PrivateEndpointConnectionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2026-02-01"
        },
        "smithy.api#documentation": "Gets the specified private endpoint connection associated with the key vault.",
        "com.distilled.openapi#apiVersion": "2026-02-01"
      }
    },
    "com.azure.keyvault#PrivateEndpointConnectionsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.keyvault#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.keyvault#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure location of the key vault resource."
          }
        },
        "tags": {
          "target": "com.azure.keyvault#PrivateEndpointConnectionsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Tags assigned to the key vault resource."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Modified whenever there is a change in the state of private endpoint connection."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.keyvault#PrivateEndpointConnectionsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tags assigned to the key vault resource."
      }
    },
    "com.azure.keyvault#PrivateEndpointConnectionsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the vault."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the private endpoint connection associated with the key vault."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.keyvault#PrivateEndpointConnectionsListByResource": {
      "type": "operation",
      "input": {
        "target": "com.azure.keyvault#PrivateEndpointConnectionsListByResourceRequest"
      },
      "output": {
        "target": "com.azure.keyvault#PrivateEndpointConnectionListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/privateEndpointConnections",
          "code": 200,
          "apiVersion": "2026-02-01"
        },
        "smithy.api#documentation": "The List operation gets information about the private endpoint connections associated with the vault.",
        "com.distilled.openapi#apiVersion": "2026-02-01"
      }
    },
    "com.azure.keyvault#PrivateEndpointConnectionListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.keyvault#PrivateEndpointConnectionListResultValueList",
          "traits": {
            "smithy.api#documentation": "The PrivateEndpointConnection items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a PrivateEndpointConnection list operation."
      }
    },
    "com.azure.keyvault#PrivateEndpointConnectionListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.keyvault#PrivateEndpointConnection"
      },
      "traits": {
        "smithy.api#documentation": "The PrivateEndpointConnection items on this page"
      }
    },
    "com.azure.keyvault#PrivateEndpointConnection": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.keyvault#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.keyvault#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure location of the key vault resource."
          }
        },
        "tags": {
          "target": "com.azure.keyvault#PrivateEndpointConnectionTagsMap",
          "traits": {
            "smithy.api#documentation": "Tags assigned to the key vault resource."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Modified whenever there is a change in the state of private endpoint connection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Private endpoint connection resource."
      }
    },
    "com.azure.keyvault#PrivateEndpointConnectionTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tags assigned to the key vault resource."
      }
    },
    "com.azure.keyvault#PrivateEndpointConnectionsListByResourceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the vault."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.keyvault#KeysGetVersion": {
      "type": "operation",
      "input": {
        "target": "com.azure.keyvault#KeysGetVersionRequest"
      },
      "output": {
        "target": "com.azure.keyvault#KeysGetVersionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/keys/{keyName}/versions/{keyVersion}",
          "code": 200,
          "apiVersion": "2026-02-01"
        },
        "smithy.api#documentation": "Gets the specified version of the specified key in the specified key vault.",
        "com.distilled.openapi#apiVersion": "2026-02-01"
      }
    },
    "com.azure.keyvault#KeysGetVersionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.keyvault#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.keyvault#KeyProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the key.",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The supported Azure location where the managed HSM Pool should be created."
          }
        },
        "tags": {
          "target": "com.azure.keyvault#KeysGetVersionResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.keyvault#KeysGetVersionResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags"
      }
    },
    "com.azure.keyvault#KeyProperties": {
      "type": "structure",
      "members": {
        "attributes": {
          "target": "com.azure.keyvault#KeyAttributes",
          "traits": {
            "smithy.api#documentation": "The attributes of the key."
          }
        },
        "kty": {
          "target": "com.azure.keyvault#JsonWebKeyType",
          "traits": {
            "smithy.api#documentation": "The type of the key. For valid values, see JsonWebKeyType."
          }
        },
        "keyOps": {
          "target": "com.azure.keyvault#KeyPropertiesKeyOpsList"
        },
        "keySize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The key size in bits. For example: 2048, 3072, or 4096 for RSA. Default for RSA and RSA-HSM keys is 2048. Exception made for bring your own key (BYOK), key exchange keys default to 4096."
          }
        },
        "curveName": {
          "target": "com.azure.keyvault#JsonWebKeyCurveName",
          "traits": {
            "smithy.api#documentation": "The elliptic curve name. For valid values, see JsonWebKeyCurveName. Default for EC and EC-HSM keys is P-256"
          }
        },
        "keyUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI to retrieve the current version of the key."
          }
        },
        "keyUriWithVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI to retrieve the specific version of the key."
          }
        },
        "rotationPolicy": {
          "target": "com.azure.keyvault#RotationPolicy",
          "traits": {
            "smithy.api#documentation": "Key rotation policy in response. It will be used for both output and input. Omitted if empty"
          }
        },
        "release_policy": {
          "target": "com.azure.keyvault#KeyReleasePolicy",
          "traits": {
            "smithy.api#documentation": "Key release policy in response. It will be used for both output and input. Omitted if empty"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the key."
      }
    },
    "com.azure.keyvault#KeyReleasePolicy": {
      "type": "structure",
      "members": {
        "contentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content type and version of key release policy"
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Blob encoding the policy rules under which the key can be released."
          }
        }
      },
      "traits": {}
    },
    "com.azure.keyvault#RotationPolicy": {
      "type": "structure",
      "members": {
        "attributes": {
          "target": "com.azure.keyvault#KeyRotationPolicyAttributes",
          "traits": {
            "smithy.api#documentation": "The attributes of key rotation policy."
          }
        },
        "lifetimeActions": {
          "target": "com.azure.keyvault#RotationPolicyLifetimeActionsList",
          "traits": {
            "smithy.api#documentation": "The lifetimeActions for key rotation action."
          }
        }
      },
      "traits": {}
    },
    "com.azure.keyvault#RotationPolicyLifetimeActionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.keyvault#LifetimeAction"
      },
      "traits": {
        "smithy.api#documentation": "The lifetimeActions for key rotation action."
      }
    },
    "com.azure.keyvault#LifetimeAction": {
      "type": "structure",
      "members": {
        "trigger": {
          "target": "com.azure.keyvault#Trigger",
          "traits": {
            "smithy.api#documentation": "The trigger of key rotation policy lifetimeAction."
          }
        },
        "action": {
          "target": "com.azure.keyvault#Action",
          "traits": {
            "smithy.api#documentation": "The action of key rotation policy lifetimeAction."
          }
        }
      },
      "traits": {}
    },
    "com.azure.keyvault#Action": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.keyvault#KeyRotationPolicyActionType",
          "traits": {
            "smithy.api#documentation": "The type of action."
          }
        }
      },
      "traits": {}
    },
    "com.azure.keyvault#KeyRotationPolicyActionType": {
      "type": "enum",
      "members": {
        "ROTATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rotate"
          }
        },
        "NOTIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "notify"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of action."
      }
    },
    "com.azure.keyvault#Trigger": {
      "type": "structure",
      "members": {
        "timeAfterCreate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time duration after key creation to rotate the key. It only applies to rotate. It will be in ISO 8601 duration format. Eg: 'P90D', 'P1Y'."
          }
        },
        "timeBeforeExpiry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time duration before key expiring to rotate or notify. It will be in ISO 8601 duration format. Eg: 'P90D', 'P1Y'."
          }
        }
      },
      "traits": {}
    },
    "com.azure.keyvault#KeyRotationPolicyAttributes": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Creation time in seconds since 1970-01-01T00:00:00Z."
          }
        },
        "updated": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Last updated time in seconds since 1970-01-01T00:00:00Z."
          }
        },
        "expiryTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expiration time for the new key version. It should be in ISO8601 format. Eg: 'P90D', 'P1Y'."
          }
        }
      },
      "traits": {}
    },
    "com.azure.keyvault#JsonWebKeyCurveName": {
      "type": "enum",
      "members": {
        "P_256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P-256"
          }
        },
        "P_384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P-384"
          }
        },
        "P_521": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P-521"
          }
        },
        "P_256K": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P-256K"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The elliptic curve name. For valid values, see JsonWebKeyCurveName. Default for EC and EC-HSM keys is P-256"
      }
    },
    "com.azure.keyvault#KeyPropertiesKeyOpsList": {
      "type": "list",
      "member": {
        "target": "com.azure.keyvault#JsonWebKeyOperation"
      },
      "traits": {}
    },
    "com.azure.keyvault#JsonWebKeyOperation": {
      "type": "enum",
      "members": {
        "ENCRYPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "encrypt"
          }
        },
        "DECRYPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "decrypt"
          }
        },
        "SIGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sign"
          }
        },
        "VERIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verify"
          }
        },
        "WRAPKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wrapKey"
          }
        },
        "UNWRAPKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unwrapKey"
          }
        },
        "IMPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "import"
          }
        },
        "RELEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "release"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The permitted JSON web key operations of the key. For more information, see JsonWebKeyOperation."
      }
    },
    "com.azure.keyvault#JsonWebKeyType": {
      "type": "enum",
      "members": {
        "EC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC"
          }
        },
        "EC_HSM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC-HSM"
          }
        },
        "RSA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA"
          }
        },
        "RSA_HSM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSA-HSM"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the key. For valid values, see JsonWebKeyType."
      }
    },
    "com.azure.keyvault#KeyAttributes": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines whether or not the object is enabled."
          }
        },
        "nbf": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Not before date in seconds since 1970-01-01T00:00:00Z."
          }
        },
        "exp": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Expiry date in seconds since 1970-01-01T00:00:00Z."
          }
        },
        "created": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Creation time in seconds since 1970-01-01T00:00:00Z."
          }
        },
        "updated": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Last updated time in seconds since 1970-01-01T00:00:00Z."
          }
        },
        "recoveryLevel": {
          "target": "com.azure.keyvault#DeletionRecoveryLevel",
          "traits": {
            "smithy.api#documentation": "The deletion recovery level currently in effect for the object. If it contains 'Purgeable', then the object can be permanently deleted by a privileged user; otherwise, only the system can purge the object at the end of the retention interval."
          }
        },
        "exportable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the private key can be exported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object attributes managed by the Azure Key Vault service."
      }
    },
    "com.azure.keyvault#DeletionRecoveryLevel": {
      "type": "enum",
      "members": {
        "PURGEABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Purgeable"
          }
        },
        "RECOVERABLE_PURGEABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Recoverable+Purgeable"
          }
        },
        "RECOVERABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Recoverable"
          }
        },
        "RECOVERABLE_PROTECTEDSUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Recoverable+ProtectedSubscription"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The deletion recovery level currently in effect for the object. If it contains 'Purgeable', then the object can be permanently deleted by a privileged user; otherwise, only the system can purge the object at the end of the retention interval."
      }
    },
    "com.azure.keyvault#KeysGetVersionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the vault which contains the key version to be retrieved."
          }
        },
        "keyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the key version to be retrieved."
          }
        },
        "keyVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The version of the key to be retrieved."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.keyvault#KeysListVersions": {
      "type": "operation",
      "input": {
        "target": "com.azure.keyvault#KeysListVersionsRequest"
      },
      "output": {
        "target": "com.azure.keyvault#KeyListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/keys/{keyName}/versions",
          "code": 200,
          "apiVersion": "2026-02-01"
        },
        "smithy.api#documentation": "Lists the keys in the specified key vault.",
        "com.distilled.openapi#apiVersion": "2026-02-01"
      }
    },
    "com.azure.keyvault#KeyListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.keyvault#KeyListResultValueList",
          "traits": {
            "smithy.api#documentation": "The Key items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a Key list operation."
      }
    },
    "com.azure.keyvault#KeyListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.keyvault#Key"
      },
      "traits": {
        "smithy.api#documentation": "The Key items on this page"
      }
    },
    "com.azure.keyvault#Key": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.keyvault#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.keyvault#KeyProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the key.",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The supported Azure location where the managed HSM Pool should be created."
          }
        },
        "tags": {
          "target": "com.azure.keyvault#KeyTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The key resource."
      }
    },
    "com.azure.keyvault#KeyTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags"
      }
    },
    "com.azure.keyvault#KeysListVersionsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the vault which contains the key version to be retrieved."
          }
        },
        "keyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the key version to be retrieved."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.keyvault#KeysCreateIfNotExist": {
      "type": "operation",
      "input": {
        "target": "com.azure.keyvault#KeysCreateIfNotExistRequest"
      },
      "output": {
        "target": "com.azure.keyvault#KeysCreateIfNotExistResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/keys/{keyName}",
          "code": 200,
          "apiVersion": "2026-02-01"
        },
        "smithy.api#documentation": "Creates the first version of a new key if it does not exist. If it already exists, then the existing key is returned without any write operations being performed. This API does not create subsequent versions, and does not update existing keys.",
        "com.distilled.openapi#apiVersion": "2026-02-01"
      }
    },
    "com.azure.keyvault#KeysCreateIfNotExistResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.keyvault#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.keyvault#KeyProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the key.",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The supported Azure location where the managed HSM Pool should be created."
          }
        },
        "tags": {
          "target": "com.azure.keyvault#KeysCreateIfNotExistResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.keyvault#KeysCreateIfNotExistResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags"
      }
    },
    "com.azure.keyvault#KeysCreateIfNotExistRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the vault which contains the key to be retrieved."
          }
        },
        "keyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the key to be retrieved."
          }
        },
        "tags": {
          "target": "com.azure.keyvault#KeysCreateIfNotExistRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "The tags that will be assigned to the key."
          }
        },
        "properties": {
          "target": "com.azure.keyvault#KeyPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The properties of the key to be created.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.keyvault#KeyPropertiesInput": {
      "type": "structure",
      "members": {
        "attributes": {
          "target": "com.azure.keyvault#KeyAttributesInput",
          "traits": {
            "smithy.api#documentation": "The attributes of the key."
          }
        },
        "kty": {
          "target": "com.azure.keyvault#JsonWebKeyType",
          "traits": {
            "smithy.api#documentation": "The type of the key. For valid values, see JsonWebKeyType."
          }
        },
        "keyOps": {
          "target": "com.azure.keyvault#KeyPropertiesInputKeyOpsList"
        },
        "keySize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The key size in bits. For example: 2048, 3072, or 4096 for RSA. Default for RSA and RSA-HSM keys is 2048. Exception made for bring your own key (BYOK), key exchange keys default to 4096."
          }
        },
        "curveName": {
          "target": "com.azure.keyvault#JsonWebKeyCurveName",
          "traits": {
            "smithy.api#documentation": "The elliptic curve name. For valid values, see JsonWebKeyCurveName. Default for EC and EC-HSM keys is P-256"
          }
        },
        "rotationPolicy": {
          "target": "com.azure.keyvault#RotationPolicyInput",
          "traits": {
            "smithy.api#documentation": "Key rotation policy in response. It will be used for both output and input. Omitted if empty"
          }
        },
        "release_policy": {
          "target": "com.azure.keyvault#KeyReleasePolicy",
          "traits": {
            "smithy.api#documentation": "Key release policy in response. It will be used for both output and input. Omitted if empty"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the key."
      }
    },
    "com.azure.keyvault#RotationPolicyInput": {
      "type": "structure",
      "members": {
        "attributes": {
          "target": "com.azure.keyvault#KeyRotationPolicyAttributesInput",
          "traits": {
            "smithy.api#documentation": "The attributes of key rotation policy."
          }
        },
        "lifetimeActions": {
          "target": "com.azure.keyvault#RotationPolicyInputLifetimeActionsList",
          "traits": {
            "smithy.api#documentation": "The lifetimeActions for key rotation action."
          }
        }
      },
      "traits": {}
    },
    "com.azure.keyvault#RotationPolicyInputLifetimeActionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.keyvault#LifetimeAction"
      },
      "traits": {
        "smithy.api#documentation": "The lifetimeActions for key rotation action."
      }
    },
    "com.azure.keyvault#KeyRotationPolicyAttributesInput": {
      "type": "structure",
      "members": {
        "expiryTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expiration time for the new key version. It should be in ISO8601 format. Eg: 'P90D', 'P1Y'."
          }
        }
      },
      "traits": {}
    },
    "com.azure.keyvault#KeyPropertiesInputKeyOpsList": {
      "type": "list",
      "member": {
        "target": "com.azure.keyvault#JsonWebKeyOperation"
      },
      "traits": {}
    },
    "com.azure.keyvault#KeyAttributesInput": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines whether or not the object is enabled."
          }
        },
        "nbf": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Not before date in seconds since 1970-01-01T00:00:00Z."
          }
        },
        "exp": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Expiry date in seconds since 1970-01-01T00:00:00Z."
          }
        },
        "exportable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the private key can be exported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object attributes managed by the Azure Key Vault service."
      }
    },
    "com.azure.keyvault#KeysCreateIfNotExistRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The tags that will be assigned to the key."
      }
    },
    "com.azure.keyvault#KeysGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.keyvault#KeysGetRequest"
      },
      "output": {
        "target": "com.azure.keyvault#KeysGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/keys/{keyName}",
          "code": 200,
          "apiVersion": "2026-02-01"
        },
        "smithy.api#documentation": "Gets the current version of the specified key from the specified key vault.",
        "com.distilled.openapi#apiVersion": "2026-02-01"
      }
    },
    "com.azure.keyvault#KeysGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.keyvault#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.keyvault#KeyProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the key.",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The supported Azure location where the managed HSM Pool should be created."
          }
        },
        "tags": {
          "target": "com.azure.keyvault#KeysGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.keyvault#KeysGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags"
      }
    },
    "com.azure.keyvault#KeysGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the vault which contains the key to be retrieved."
          }
        },
        "keyName": {
          "target": "smithy.api#String",
          "traits": {
[...]
