{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.kubernetesconfiguration#OperationStatusGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.kubernetesconfiguration#OperationStatusGetRequest"
      },
      "output": {
        "target": "com.azure.kubernetesconfiguration#OperationStatusGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{clusterRp}/{clusterResourceName}/{clusterName}/providers/Microsoft.KubernetesConfiguration/extensions/{extensionName}/operations/{operationId}",
          "code": 200,
          "apiVersion": "2023-05-01"
        },
        "smithy.api#documentation": "Get Async Operation status",
        "com.distilled.openapi#apiVersion": "2023-05-01"
      }
    },
    "com.azure.kubernetesconfiguration#OperationStatusGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID for the async operation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the async operation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation status.",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.kubernetesconfiguration#OperationStatusGetResponsePropertiesMap",
          "traits": {
            "smithy.api#documentation": "Additional information, if available.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "error": {
          "target": "com.azure.kubernetesconfiguration#OperationStatusGetResponseError",
          "traits": {
            "smithy.api#documentation": "The error detail."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.kubernetesconfiguration#OperationStatusGetResponseError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error target."
          }
        },
        "details": {
          "target": "com.azure.kubernetesconfiguration#OperationStatusGetResponseErrorDetailsList",
          "traits": {
            "smithy.api#documentation": "The error details."
          }
        },
        "additionalInfo": {
          "target": "com.azure.kubernetesconfiguration#OperationStatusGetResponseErrorAdditionalInfoList",
          "traits": {
            "smithy.api#documentation": "The error additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The error detail."
      }
    },
    "com.azure.kubernetesconfiguration#OperationStatusGetResponseErrorAdditionalInfoList": {
      "type": "list",
      "member": {
        "target": "com.azure.kubernetesconfiguration#ErrorAdditionalInfo"
      },
      "traits": {
        "smithy.api#documentation": "The error additional info."
      }
    },
    "com.azure.kubernetesconfiguration#ErrorAdditionalInfo": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The additional info type."
          }
        },
        "info": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource management error additional info."
      }
    },
    "com.azure.kubernetesconfiguration#OperationStatusGetResponseErrorDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.kubernetesconfiguration#ErrorDetail"
      },
      "traits": {
        "smithy.api#documentation": "The error details."
      }
    },
    "com.azure.kubernetesconfiguration#ErrorDetail": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error target."
          }
        },
        "details": {
          "target": "com.azure.kubernetesconfiguration#ErrorDetailDetailsList",
          "traits": {
            "smithy.api#documentation": "The error details."
          }
        },
        "additionalInfo": {
          "target": "com.azure.kubernetesconfiguration#ErrorDetailAdditionalInfoList",
          "traits": {
            "smithy.api#documentation": "The error additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The error detail."
      }
    },
    "com.azure.kubernetesconfiguration#ErrorDetailAdditionalInfoList": {
      "type": "list",
      "member": {
        "target": "com.azure.kubernetesconfiguration#ErrorAdditionalInfo"
      },
      "traits": {
        "smithy.api#documentation": "The error additional info."
      }
    },
    "com.azure.kubernetesconfiguration#ErrorDetailDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.kubernetesconfiguration#ErrorDetail"
      },
      "traits": {
        "smithy.api#documentation": "The error details."
      }
    },
    "com.azure.kubernetesconfiguration#OperationStatusGetResponsePropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Additional information, if available."
      }
    },
    "com.azure.kubernetesconfiguration#OperationStatusGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterRp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Kubernetes cluster RP - i.e. Microsoft.ContainerService, Microsoft.Kubernetes, Microsoft.HybridContainerService."
          }
        },
        "clusterResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Kubernetes cluster resource name - i.e. managedClusters, connectedClusters, provisionedClusters."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the kubernetes cluster."
          }
        },
        "extensionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Extension."
          }
        },
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "operation Id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsList2": {
      "type": "operation",
      "input": {
        "target": "com.azure.kubernetesconfiguration#ExtensionsListRequest"
      },
      "output": {
        "target": "com.azure.kubernetesconfiguration#ExtensionsList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{clusterRp}/{clusterResourceName}/{clusterName}/providers/Microsoft.KubernetesConfiguration/extensions",
          "code": 200,
          "apiVersion": "2023-05-01"
        },
        "smithy.api#documentation": "List all Extensions in the cluster.",
        "com.distilled.openapi#apiVersion": "2023-05-01"
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsListValueList",
          "traits": {
            "smithy.api#documentation": "List of Extensions within a Kubernetes cluster."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to get the next set of extension objects, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of the request to list Extensions.  It contains a list of Extension objects and a URL link to get the next set of results."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.kubernetesconfiguration#Extension"
      },
      "traits": {
        "smithy.api#documentation": "List of Extensions within a Kubernetes cluster."
      }
    },
    "com.azure.kubernetesconfiguration#Extension": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.kubernetesconfiguration#ExtensionProperties",
          "traits": {
            "smithy.api#documentation": "Properties of an Extension resource"
          }
        },
        "identity": {
          "target": "com.azure.kubernetesconfiguration#ExtensionIdentity",
          "traits": {
            "smithy.api#documentation": "Identity for the resource."
          }
        },
        "systemData": {
          "target": "com.azure.kubernetesconfiguration#ExtensionSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "plan": {
          "target": "com.azure.kubernetesconfiguration#ExtensionPlan",
          "traits": {
            "smithy.api#documentation": "Plan for the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Extension object."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionPlan": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user defined name of the 3rd Party Artifact that is being procured.",
            "smithy.api#required": {}
          }
        },
        "publisher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The publisher of the 3rd Party Artifact that is being bought. E.g. NewRelic",
            "smithy.api#required": {}
          }
        },
        "product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The 3rd Party artifact that is being procured. E.g. NewRelic. Product maps to the OfferID specified for the artifact at the time of Data Market onboarding. ",
            "smithy.api#required": {}
          }
        },
        "promotionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A publisher provided promotion code as provisioned in Data Market for the said product/artifact."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the desired product/artifact."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Plan for the resource."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.kubernetesconfiguration#ExtensionSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.kubernetesconfiguration#ExtensionSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of resource identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of resource."
          }
        },
        "type": {
          "target": "com.azure.kubernetesconfiguration#ExtensionIdentityType",
          "traits": {
            "smithy.api#documentation": "The identity type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity for the resource."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionIdentityType": {
      "type": "enum",
      "members": {
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The identity type."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionProperties": {
      "type": "structure",
      "members": {
        "extensionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the Extension, of which this resource is an instance of.  It must be one of the Extension Types registered with Microsoft.KubernetesConfiguration by the Extension publisher."
          }
        },
        "autoUpgradeMinorVersion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag to note if this extension participates in auto upgrade of minor version, or not."
          }
        },
        "releaseTrain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ReleaseTrain this extension participates in for auto-upgrade (e.g. Stable, Preview, etc.) - only if autoUpgradeMinorVersion is 'true'."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-specified version of the extension for this extension to 'pin'. To use 'version', autoUpgradeMinorVersion must be 'false'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "scope": {
          "target": "com.azure.kubernetesconfiguration#Scope",
          "traits": {
            "smithy.api#documentation": "Scope at which the extension is installed."
          }
        },
        "configurationSettings": {
          "target": "com.azure.kubernetesconfiguration#ExtensionPropertiesConfigurationSettingsMap",
          "traits": {
            "smithy.api#documentation": "Configuration settings, as name-value pairs for configuring this extension.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "configurationProtectedSettings": {
          "target": "com.azure.kubernetesconfiguration#ExtensionPropertiesConfigurationProtectedSettingsMap",
          "traits": {
            "smithy.api#documentation": "Configuration settings that are sensitive, as name-value pairs for configuring this extension.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "currentVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Currently installed version of the extension.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.kubernetesconfiguration#ExtensionPropertiesProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the resource."
          }
        },
        "statuses": {
          "target": "com.azure.kubernetesconfiguration#ExtensionPropertiesStatusesList",
          "traits": {
            "smithy.api#documentation": "Status from this extension.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "errorInfo": {
          "target": "com.azure.kubernetesconfiguration#ExtensionPropertiesErrorInfo",
          "traits": {
            "smithy.api#documentation": "The error detail."
          }
        },
        "customLocationSettings": {
          "target": "com.azure.kubernetesconfiguration#ExtensionPropertiesCustomLocationSettingsMap",
          "traits": {
            "smithy.api#documentation": "Custom Location settings properties.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "packageUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uri of the Helm package",
            "com.distilled.openapi#nullable": {}
          }
        },
        "aksAssignedIdentity": {
          "target": "com.azure.kubernetesconfiguration#ExtensionPropertiesAksAssignedIdentity",
          "traits": {
            "smithy.api#documentation": "Identity of the Extension resource in an AKS cluster",
            "com.distilled.openapi#nullable": {}
          }
        },
        "isSystemExtension": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag to note if this extension is a system extension"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of an Extension resource"
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionPropertiesAksAssignedIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of resource identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of resource."
          }
        },
        "type": {
          "target": "com.azure.kubernetesconfiguration#ExtensionPropertiesAksAssignedIdentityType",
          "traits": {
            "smithy.api#documentation": "The identity type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity of the Extension resource in an AKS cluster"
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionPropertiesAksAssignedIdentityType": {
      "type": "enum",
      "members": {
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The identity type."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionPropertiesCustomLocationSettingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Custom Location settings properties."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionPropertiesErrorInfo": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error target."
          }
        },
        "details": {
          "target": "com.azure.kubernetesconfiguration#ExtensionPropertiesErrorInfoDetailsList",
          "traits": {
            "smithy.api#documentation": "The error details."
          }
        },
        "additionalInfo": {
          "target": "com.azure.kubernetesconfiguration#ExtensionPropertiesErrorInfoAdditionalInfoList",
          "traits": {
            "smithy.api#documentation": "The error additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The error detail."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionPropertiesErrorInfoAdditionalInfoList": {
      "type": "list",
      "member": {
        "target": "com.azure.kubernetesconfiguration#ErrorAdditionalInfo"
      },
      "traits": {
        "smithy.api#documentation": "The error additional info."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionPropertiesErrorInfoDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.kubernetesconfiguration#ErrorDetail"
      },
      "traits": {
        "smithy.api#documentation": "The error details."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionPropertiesStatusesList": {
      "type": "list",
      "member": {
        "target": "com.azure.kubernetesconfiguration#ExtensionStatus"
      },
      "traits": {
        "smithy.api#documentation": "Status from this extension."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionStatus": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status code provided by the Extension"
          }
        },
        "displayStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short description of status of the extension."
          }
        },
        "level": {
          "target": "com.azure.kubernetesconfiguration#ExtensionStatusLevel",
          "traits": {
            "smithy.api#documentation": "Level of the status."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed message of the status from the Extension."
          }
        },
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DateLiteral (per ISO8601) noting the time of installation status."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status from the extension."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionStatusLevel": {
      "type": "enum",
      "members": {
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Error"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Warning"
          }
        },
        "INFORMATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Information"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Level of the status."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionPropertiesProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioning state of the resource."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionPropertiesConfigurationProtectedSettingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Configuration settings that are sensitive, as name-value pairs for configuring this extension."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionPropertiesConfigurationSettingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Configuration settings, as name-value pairs for configuring this extension."
      }
    },
    "com.azure.kubernetesconfiguration#Scope": {
      "type": "structure",
      "members": {
        "cluster": {
          "target": "com.azure.kubernetesconfiguration#ScopeCluster",
          "traits": {
            "smithy.api#documentation": "Specifies that the scope of the extension is Cluster",
            "com.distilled.openapi#nullable": {}
          }
        },
        "namespace": {
          "target": "com.azure.kubernetesconfiguration#ScopeNamespace",
          "traits": {
            "smithy.api#documentation": "Specifies that the scope of the extension is Namespace",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Scope of the extension. It can be either Cluster or Namespace; but not both."
      }
    },
    "com.azure.kubernetesconfiguration#ScopeNamespace": {
      "type": "structure",
      "members": {
        "targetNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace where the extension will be created for an Namespace scoped extension.  If this namespace does not exist, it will be created"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies that the scope of the extension is Namespace"
      }
    },
    "com.azure.kubernetesconfiguration#ScopeCluster": {
      "type": "structure",
      "members": {
        "releaseNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace where the extension Release must be placed, for a Cluster scoped extension.  If this namespace does not exist, it will be created"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies that the scope of the extension is Cluster"
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterRp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Kubernetes cluster RP - i.e. Microsoft.ContainerService, Microsoft.Kubernetes, Microsoft.HybridContainerService."
          }
        },
        "clusterResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Kubernetes cluster resource name - i.e. managedClusters, connectedClusters, provisionedClusters."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the kubernetes cluster."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.kubernetesconfiguration#ExtensionsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{clusterRp}/{clusterResourceName}/{clusterName}/providers/Microsoft.KubernetesConfiguration/extensions/{extensionName}",
          "code": 200,
          "apiVersion": "2023-05-01"
        },
        "smithy.api#documentation": "Delete a Kubernetes Cluster Extension. This will cause the Agent to Uninstall the extension from the cluster.",
        "com.distilled.openapi#apiVersion": "2023-05-01"
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterRp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Kubernetes cluster RP - i.e. Microsoft.ContainerService, Microsoft.Kubernetes, Microsoft.HybridContainerService."
          }
        },
        "clusterResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Kubernetes cluster resource name - i.e. managedClusters, connectedClusters, provisionedClusters."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the kubernetes cluster."
          }
        },
        "extensionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Extension."
          }
        },
        "forceDelete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "forceDelete",
            "smithy.api#documentation": "Delete the extension resource in Azure - not the normal asynchronous delete."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.kubernetesconfiguration#ExtensionsUpdateRequest"
      },
      "output": {
        "target": "com.azure.kubernetesconfiguration#ExtensionsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{clusterRp}/{clusterResourceName}/{clusterName}/providers/Microsoft.KubernetesConfiguration/extensions/{extensionName}",
          "code": 200,
          "apiVersion": "2023-05-01"
        },
        "smithy.api#documentation": "Patch an existing Kubernetes Cluster Extension.",
        "com.distilled.openapi#apiVersion": "2023-05-01"
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsUpdateResponseProperties",
          "traits": {
            "smithy.api#documentation": "Properties of an Extension resource"
          }
        },
        "identity": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsUpdateResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Identity for the resource."
          }
        },
        "systemData": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsUpdateResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "plan": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsUpdateResponsePlan",
          "traits": {
            "smithy.api#documentation": "Plan for the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsUpdateResponsePlan": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user defined name of the 3rd Party Artifact that is being procured.",
            "smithy.api#required": {}
          }
        },
        "publisher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The publisher of the 3rd Party Artifact that is being bought. E.g. NewRelic",
            "smithy.api#required": {}
          }
        },
        "product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The 3rd Party artifact that is being procured. E.g. NewRelic. Product maps to the OfferID specified for the artifact at the time of Data Market onboarding. ",
            "smithy.api#required": {}
          }
        },
        "promotionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A publisher provided promotion code as provisioned in Data Market for the said product/artifact."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the desired product/artifact."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Plan for the resource."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsUpdateResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsUpdateResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsUpdateResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsUpdateResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsUpdateResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsUpdateResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of resource identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of resource."
          }
        },
        "type": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsUpdateResponseIdentityType",
          "traits": {
            "smithy.api#documentation": "The identity type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity for the resource."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsUpdateResponseIdentityType": {
      "type": "enum",
      "members": {
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The identity type."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsUpdateResponseProperties": {
      "type": "structure",
      "members": {
        "extensionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the Extension, of which this resource is an instance of.  It must be one of the Extension Types registered with Microsoft.KubernetesConfiguration by the Extension publisher."
          }
        },
        "autoUpgradeMinorVersion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag to note if this extension participates in auto upgrade of minor version, or not."
          }
        },
        "releaseTrain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ReleaseTrain this extension participates in for auto-upgrade (e.g. Stable, Preview, etc.) - only if autoUpgradeMinorVersion is 'true'."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-specified version of the extension for this extension to 'pin'. To use 'version', autoUpgradeMinorVersion must be 'false'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "scope": {
          "target": "com.azure.kubernetesconfiguration#Scope",
          "traits": {
            "smithy.api#documentation": "Scope at which the extension is installed."
          }
        },
        "configurationSettings": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsUpdateResponsePropertiesConfigurationSettingsMap",
          "traits": {
            "smithy.api#documentation": "Configuration settings, as name-value pairs for configuring this extension.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "configurationProtectedSettings": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsUpdateResponsePropertiesConfigurationProtectedSettingsMap",
          "traits": {
            "smithy.api#documentation": "Configuration settings that are sensitive, as name-value pairs for configuring this extension.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "currentVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Currently installed version of the extension.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsUpdateResponsePropertiesProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the resource."
          }
        },
        "statuses": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsUpdateResponsePropertiesStatusesList",
          "traits": {
            "smithy.api#documentation": "Status from this extension.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "errorInfo": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsUpdateResponsePropertiesErrorInfo",
          "traits": {
            "smithy.api#documentation": "The error detail."
          }
        },
        "customLocationSettings": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsUpdateResponsePropertiesCustomLocationSettingsMap",
          "traits": {
            "smithy.api#documentation": "Custom Location settings properties.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "packageUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uri of the Helm package",
            "com.distilled.openapi#nullable": {}
          }
        },
        "aksAssignedIdentity": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsUpdateResponsePropertiesAksAssignedIdentity",
          "traits": {
            "smithy.api#documentation": "Identity of the Extension resource in an AKS cluster",
            "com.distilled.openapi#nullable": {}
          }
        },
        "isSystemExtension": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag to note if this extension is a system extension"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of an Extension resource"
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsUpdateResponsePropertiesAksAssignedIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of resource identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of resource."
          }
        },
        "type": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsUpdateResponsePropertiesAksAssignedIdentityType",
          "traits": {
            "smithy.api#documentation": "The identity type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity of the Extension resource in an AKS cluster"
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsUpdateResponsePropertiesAksAssignedIdentityType": {
      "type": "enum",
      "members": {
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The identity type."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsUpdateResponsePropertiesCustomLocationSettingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Custom Location settings properties."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsUpdateResponsePropertiesErrorInfo": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error target."
          }
        },
        "details": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsUpdateResponsePropertiesErrorInfoDetailsList",
          "traits": {
            "smithy.api#documentation": "The error details."
          }
        },
        "additionalInfo": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsUpdateResponsePropertiesErrorInfoAdditionalInfoList",
          "traits": {
            "smithy.api#documentation": "The error additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The error detail."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsUpdateResponsePropertiesErrorInfoAdditionalInfoList": {
      "type": "list",
      "member": {
        "target": "com.azure.kubernetesconfiguration#ErrorAdditionalInfo"
      },
      "traits": {
        "smithy.api#documentation": "The error additional info."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsUpdateResponsePropertiesErrorInfoDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.kubernetesconfiguration#ErrorDetail"
      },
      "traits": {
        "smithy.api#documentation": "The error details."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsUpdateResponsePropertiesStatusesList": {
      "type": "list",
      "member": {
        "target": "com.azure.kubernetesconfiguration#ExtensionStatus"
      },
      "traits": {
        "smithy.api#documentation": "Status from this extension."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsUpdateResponsePropertiesProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioning state of the resource."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsUpdateResponsePropertiesConfigurationProtectedSettingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Configuration settings that are sensitive, as name-value pairs for configuring this extension."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsUpdateResponsePropertiesConfigurationSettingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Configuration settings, as name-value pairs for configuring this extension."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterRp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Kubernetes cluster RP - i.e. Microsoft.ContainerService, Microsoft.Kubernetes, Microsoft.HybridContainerService."
          }
        },
        "clusterResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Kubernetes cluster resource name - i.e. managedClusters, connectedClusters, provisionedClusters."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the kubernetes cluster."
          }
        },
        "extensionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Extension."
          }
        },
        "properties": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsUpdateRequestProperties",
          "traits": {
            "smithy.api#documentation": "Updatable properties of an Extension Patch Request"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsUpdateRequestProperties": {
      "type": "structure",
      "members": {
        "autoUpgradeMinorVersion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag to note if this extension participates in auto upgrade of minor version, or not."
          }
        },
        "releaseTrain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ReleaseTrain this extension participates in for auto-upgrade (e.g. Stable, Preview, etc.) - only if autoUpgradeMinorVersion is 'true'."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the extension for this extension, if it is 'pinned' to a specific version. autoUpgradeMinorVersion must be 'false'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "configurationSettings": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsUpdateRequestPropertiesConfigurationSettingsMap",
          "traits": {
            "smithy.api#documentation": "Configuration settings, as name-value pairs for configuring this extension.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "configurationProtectedSettings": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsUpdateRequestPropertiesConfigurationProtectedSettingsMap",
          "traits": {
            "smithy.api#documentation": "Configuration settings that are sensitive, as name-value pairs for configuring this extension.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Updatable properties of an Extension Patch Request"
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsUpdateRequestPropertiesConfigurationProtectedSettingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Configuration settings that are sensitive, as name-value pairs for configuring this extension."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsUpdateRequestPropertiesConfigurationSettingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Configuration settings, as name-value pairs for configuring this extension."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.kubernetesconfiguration#ExtensionsCreateRequest"
      },
      "output": {
        "target": "com.azure.kubernetesconfiguration#ExtensionsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{clusterRp}/{clusterResourceName}/{clusterName}/providers/Microsoft.KubernetesConfiguration/extensions/{extensionName}",
          "code": 200,
          "apiVersion": "2023-05-01"
        },
        "smithy.api#documentation": "Create a new Kubernetes Cluster Extension.",
        "com.distilled.openapi#apiVersion": "2023-05-01"
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsCreateResponseProperties",
          "traits": {
            "smithy.api#documentation": "Properties of an Extension resource"
          }
        },
        "identity": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsCreateResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Identity for the resource."
          }
        },
        "systemData": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsCreateResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "plan": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsCreateResponsePlan",
          "traits": {
            "smithy.api#documentation": "Plan for the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsCreateResponsePlan": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user defined name of the 3rd Party Artifact that is being procured.",
            "smithy.api#required": {}
          }
        },
        "publisher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The publisher of the 3rd Party Artifact that is being bought. E.g. NewRelic",
            "smithy.api#required": {}
          }
        },
        "product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The 3rd Party artifact that is being procured. E.g. NewRelic. Product maps to the OfferID specified for the artifact at the time of Data Market onboarding. ",
            "smithy.api#required": {}
          }
        },
        "promotionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A publisher provided promotion code as provisioned in Data Market for the said product/artifact."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the desired product/artifact."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Plan for the resource."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsCreateResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsCreateResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsCreateResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsCreateResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsCreateResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsCreateResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of resource identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of resource."
          }
        },
        "type": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsCreateResponseIdentityType",
          "traits": {
            "smithy.api#documentation": "The identity type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity for the resource."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsCreateResponseIdentityType": {
      "type": "enum",
      "members": {
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The identity type."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsCreateResponseProperties": {
      "type": "structure",
      "members": {
        "extensionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the Extension, of which this resource is an instance of.  It must be one of the Extension Types registered with Microsoft.KubernetesConfiguration by the Extension publisher."
          }
        },
        "autoUpgradeMinorVersion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag to note if this extension participates in auto upgrade of minor version, or not."
          }
        },
        "releaseTrain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ReleaseTrain this extension participates in for auto-upgrade (e.g. Stable, Preview, etc.) - only if autoUpgradeMinorVersion is 'true'."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-specified version of the extension for this extension to 'pin'. To use 'version', autoUpgradeMinorVersion must be 'false'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "scope": {
          "target": "com.azure.kubernetesconfiguration#Scope",
          "traits": {
            "smithy.api#documentation": "Scope at which the extension is installed."
          }
        },
        "configurationSettings": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsCreateResponsePropertiesConfigurationSettingsMap",
          "traits": {
            "smithy.api#documentation": "Configuration settings, as name-value pairs for configuring this extension.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "configurationProtectedSettings": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsCreateResponsePropertiesConfigurationProtectedSettingsMap",
          "traits": {
            "smithy.api#documentation": "Configuration settings that are sensitive, as name-value pairs for configuring this extension.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "currentVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Currently installed version of the extension.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsCreateResponsePropertiesProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the resource."
          }
        },
        "statuses": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsCreateResponsePropertiesStatusesList",
          "traits": {
            "smithy.api#documentation": "Status from this extension.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "errorInfo": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsCreateResponsePropertiesErrorInfo",
          "traits": {
            "smithy.api#documentation": "The error detail."
          }
        },
        "customLocationSettings": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsCreateResponsePropertiesCustomLocationSettingsMap",
          "traits": {
            "smithy.api#documentation": "Custom Location settings properties.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "packageUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uri of the Helm package",
            "com.distilled.openapi#nullable": {}
          }
        },
        "aksAssignedIdentity": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsCreateResponsePropertiesAksAssignedIdentity",
          "traits": {
            "smithy.api#documentation": "Identity of the Extension resource in an AKS cluster",
            "com.distilled.openapi#nullable": {}
          }
        },
        "isSystemExtension": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag to note if this extension is a system extension"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of an Extension resource"
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsCreateResponsePropertiesAksAssignedIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of resource identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of resource."
          }
        },
        "type": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsCreateResponsePropertiesAksAssignedIdentityType",
          "traits": {
            "smithy.api#documentation": "The identity type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity of the Extension resource in an AKS cluster"
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsCreateResponsePropertiesAksAssignedIdentityType": {
      "type": "enum",
      "members": {
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The identity type."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsCreateResponsePropertiesCustomLocationSettingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Custom Location settings properties."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsCreateResponsePropertiesErrorInfo": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error target."
          }
        },
        "details": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsCreateResponsePropertiesErrorInfoDetailsList",
          "traits": {
            "smithy.api#documentation": "The error details."
          }
        },
        "additionalInfo": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsCreateResponsePropertiesErrorInfoAdditionalInfoList",
          "traits": {
            "smithy.api#documentation": "The error additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The error detail."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsCreateResponsePropertiesErrorInfoAdditionalInfoList": {
      "type": "list",
      "member": {
        "target": "com.azure.kubernetesconfiguration#ErrorAdditionalInfo"
      },
      "traits": {
        "smithy.api#documentation": "The error additional info."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsCreateResponsePropertiesErrorInfoDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.kubernetesconfiguration#ErrorDetail"
      },
      "traits": {
        "smithy.api#documentation": "The error details."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsCreateResponsePropertiesStatusesList": {
      "type": "list",
      "member": {
        "target": "com.azure.kubernetesconfiguration#ExtensionStatus"
      },
      "traits": {
        "smithy.api#documentation": "Status from this extension."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsCreateResponsePropertiesProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioning state of the resource."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsCreateResponsePropertiesConfigurationProtectedSettingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Configuration settings that are sensitive, as name-value pairs for configuring this extension."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsCreateResponsePropertiesConfigurationSettingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Configuration settings, as name-value pairs for configuring this extension."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterRp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Kubernetes cluster RP - i.e. Microsoft.ContainerService, Microsoft.Kubernetes, Microsoft.HybridContainerService."
          }
        },
        "clusterResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Kubernetes cluster resource name - i.e. managedClusters, connectedClusters, provisionedClusters."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the kubernetes cluster."
          }
        },
        "extensionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the Extension."
          }
        },
        "properties": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsCreateRequestProperties",
          "traits": {
            "smithy.api#documentation": "Properties of an Extension resource"
          }
        },
        "identity": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsCreateRequestIdentity",
          "traits": {
            "smithy.api#documentation": "Identity for the resource."
          }
        },
        "plan": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsCreateRequestPlan",
          "traits": {
            "smithy.api#documentation": "Plan for the resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsCreateRequestPlan": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user defined name of the 3rd Party Artifact that is being procured.",
            "smithy.api#required": {}
          }
        },
        "publisher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The publisher of the 3rd Party Artifact that is being bought. E.g. NewRelic",
            "smithy.api#required": {}
          }
        },
        "product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The 3rd Party artifact that is being procured. E.g. NewRelic. Product maps to the OfferID specified for the artifact at the time of Data Market onboarding. ",
            "smithy.api#required": {}
          }
        },
        "promotionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A publisher provided promotion code as provisioned in Data Market for the said product/artifact."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the desired product/artifact."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Plan for the resource."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsCreateRequestIdentity": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsCreateRequestIdentityType",
          "traits": {
            "smithy.api#documentation": "The identity type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity for the resource."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsCreateRequestIdentityType": {
      "type": "enum",
      "members": {
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The identity type."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsCreateRequestProperties": {
      "type": "structure",
      "members": {
        "extensionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the Extension, of which this resource is an instance of.  It must be one of the Extension Types registered with Microsoft.KubernetesConfiguration by the Extension publisher."
          }
        },
        "autoUpgradeMinorVersion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag to note if this extension participates in auto upgrade of minor version, or not."
          }
        },
        "releaseTrain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ReleaseTrain this extension participates in for auto-upgrade (e.g. Stable, Preview, etc.) - only if autoUpgradeMinorVersion is 'true'."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-specified version of the extension for this extension to 'pin'. To use 'version', autoUpgradeMinorVersion must be 'false'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "scope": {
          "target": "com.azure.kubernetesconfiguration#Scope",
          "traits": {
            "smithy.api#documentation": "Scope at which the extension is installed."
          }
        },
        "configurationSettings": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsCreateRequestPropertiesConfigurationSettingsMap",
          "traits": {
            "smithy.api#documentation": "Configuration settings, as name-value pairs for configuring this extension.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "configurationProtectedSettings": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsCreateRequestPropertiesConfigurationProtectedSettingsMap",
          "traits": {
            "smithy.api#documentation": "Configuration settings that are sensitive, as name-value pairs for configuring this extension.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "statuses": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsCreateRequestPropertiesStatusesList",
          "traits": {
            "smithy.api#documentation": "Status from this extension.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "errorInfo": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsCreateRequestPropertiesErrorInfo",
          "traits": {
            "smithy.api#documentation": "The error detail."
          }
        },
        "aksAssignedIdentity": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsCreateRequestPropertiesAksAssignedIdentity",
          "traits": {
            "smithy.api#documentation": "Identity of the Extension resource in an AKS cluster",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of an Extension resource"
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsCreateRequestPropertiesAksAssignedIdentity": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsCreateRequestPropertiesAksAssignedIdentityType",
          "traits": {
            "smithy.api#documentation": "The identity type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity of the Extension resource in an AKS cluster"
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsCreateRequestPropertiesAksAssignedIdentityType": {
      "type": "enum",
      "members": {
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The identity type."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsCreateRequestPropertiesErrorInfo": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The error detail."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsCreateRequestPropertiesStatusesList": {
      "type": "list",
      "member": {
        "target": "com.azure.kubernetesconfiguration#ExtensionStatusInput"
      },
      "traits": {
        "smithy.api#documentation": "Status from this extension."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionStatusInput": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status code provided by the Extension"
          }
        },
        "displayStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short description of status of the extension."
          }
        },
        "level": {
          "target": "com.azure.kubernetesconfiguration#ExtensionStatusInputLevel",
          "traits": {
            "smithy.api#documentation": "Level of the status."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed message of the status from the Extension."
          }
        },
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DateLiteral (per ISO8601) noting the time of installation status."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status from the extension."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionStatusInputLevel": {
      "type": "enum",
      "members": {
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Error"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Warning"
          }
        },
        "INFORMATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Information"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Level of the status."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsCreateRequestPropertiesConfigurationProtectedSettingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Configuration settings that are sensitive, as name-value pairs for configuring this extension."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsCreateRequestPropertiesConfigurationSettingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Configuration settings, as name-value pairs for configuring this extension."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.kubernetesconfiguration#ExtensionsGetRequest"
      },
      "output": {
        "target": "com.azure.kubernetesconfiguration#ExtensionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{clusterRp}/{clusterResourceName}/{clusterName}/providers/Microsoft.KubernetesConfiguration/extensions/{extensionName}",
          "code": 200,
          "apiVersion": "2023-05-01"
        },
        "smithy.api#documentation": "Gets Kubernetes Cluster Extension.",
        "com.distilled.openapi#apiVersion": "2023-05-01"
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsGetResponseProperties",
          "traits": {
            "smithy.api#documentation": "Properties of an Extension resource"
          }
        },
        "identity": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsGetResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Identity for the resource."
          }
        },
        "systemData": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsGetResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "plan": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsGetResponsePlan",
          "traits": {
            "smithy.api#documentation": "Plan for the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsGetResponsePlan": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user defined name of the 3rd Party Artifact that is being procured.",
            "smithy.api#required": {}
          }
        },
        "publisher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The publisher of the 3rd Party Artifact that is being bought. E.g. NewRelic",
            "smithy.api#required": {}
          }
        },
        "product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The 3rd Party artifact that is being procured. E.g. NewRelic. Product maps to the OfferID specified for the artifact at the time of Data Market onboarding. ",
            "smithy.api#required": {}
          }
        },
        "promotionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A publisher provided promotion code as provisioned in Data Market for the said product/artifact."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the desired product/artifact."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Plan for the resource."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsGetResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsGetResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.kubernetesconfiguration#ExtensionsGetResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.kubernetesconfiguration#ExtensionsGetResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
