{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.labservices#ImagesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.labservices#ImagesUpdateRequest"
      },
      "output": {
        "target": "com.azure.labservices#ImagesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labPlans/{labPlanName}/images/{imageName}",
          "code": 200,
          "apiVersion": "2023-06-07"
        },
        "smithy.api#documentation": "Updates an image.\n\nUpdates an image resource.",
        "com.distilled.openapi#apiVersion": "2023-06-07"
      }
    },
    "com.azure.labservices#ImagesUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.labservices#ImagesUpdateResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "properties": {
          "target": "com.azure.labservices#ImageProperties",
          "traits": {
            "smithy.api#documentation": "Image resource properties",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.labservices#ImageProperties": {
      "type": "structure",
      "members": {
        "enabledState": {
          "target": "com.azure.labservices#ImagePropertiesEnabledState",
          "traits": {
            "smithy.api#documentation": "Property enabled state.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.labservices#ImagePropertiesProvisioningState",
          "traits": {
            "smithy.api#documentation": "Resource provisioning state."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The image display name."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of the image."
          }
        },
        "iconUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the image icon."
          }
        },
        "author": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The image author."
          }
        },
        "osType": {
          "target": "com.azure.labservices#ImagePropertiesOsType",
          "traits": {
            "smithy.api#documentation": "The operating system type."
          }
        },
        "plan": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of marketplace plan associated with the image (optional)."
          }
        },
        "termsStatus": {
          "target": "com.azure.labservices#ImagePropertiesTermsStatus",
          "traits": {
            "smithy.api#documentation": "Property enabled state."
          }
        },
        "offer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of an offer associated with the image."
          }
        },
        "publisher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the publisher of the image."
          }
        },
        "sku": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The image SKU."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The image version."
          }
        },
        "sharedGalleryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL."
          }
        },
        "availableRegions": {
          "target": "com.azure.labservices#ImagePropertiesAvailableRegionsList",
          "traits": {
            "smithy.api#documentation": "The available regions of the image in the shared gallery."
          }
        },
        "osState": {
          "target": "com.azure.labservices#ImagePropertiesOsState",
          "traits": {
            "smithy.api#documentation": "The operating system state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of an image resource."
      }
    },
    "com.azure.labservices#ImagePropertiesOsState": {
      "type": "enum",
      "members": {
        "GENERALIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Generalized"
          }
        },
        "SPECIALIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Specialized"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The operating system state."
      }
    },
    "com.azure.labservices#ImagePropertiesAvailableRegionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The available regions of the image in the shared gallery."
      }
    },
    "com.azure.labservices#ImagePropertiesTermsStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Property enabled state."
      }
    },
    "com.azure.labservices#ImagePropertiesOsType": {
      "type": "enum",
      "members": {
        "WINDOWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Windows"
          }
        },
        "LINUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Linux"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The operating system type."
      }
    },
    "com.azure.labservices#ImagePropertiesProvisioningState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "LOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Locked"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource provisioning state."
      }
    },
    "com.azure.labservices#ImagePropertiesEnabledState": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Property enabled state."
      }
    },
    "com.azure.labservices#ImagesUpdateResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.labservices#ImagesUpdateResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.labservices#ImagesUpdateResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.labservices#ImagesUpdateResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.labservices#ImagesUpdateResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.labservices#ImagesUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "labPlanName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the lab plan that uniquely identifies it within containing resource group. Used in resource URIs and in UI."
          }
        },
        "imageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The image name."
          }
        },
        "properties": {
          "target": "com.azure.labservices#ImageUpdateProperties",
          "traits": {
            "smithy.api#documentation": "Image resource properties"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.labservices#ImageUpdateProperties": {
      "type": "structure",
      "members": {
        "enabledState": {
          "target": "com.azure.labservices#ImageUpdatePropertiesEnabledState",
          "traits": {
            "smithy.api#documentation": "Property enabled state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of an image resource update"
      }
    },
    "com.azure.labservices#ImageUpdatePropertiesEnabledState": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Property enabled state."
      }
    },
    "com.azure.labservices#ImagesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.labservices#ImagesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.labservices#ImagesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labPlans/{labPlanName}/images/{imageName}",
          "code": 200,
          "apiVersion": "2023-06-07"
        },
        "smithy.api#documentation": "Updates an image via PUT.\n\nUpdates an image resource via PUT. Creating new resources via PUT will not function.",
        "com.distilled.openapi#apiVersion": "2023-06-07"
      }
    },
    "com.azure.labservices#ImagesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.labservices#ImagesCreateOrUpdateResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "properties": {
          "target": "com.azure.labservices#ImageProperties",
          "traits": {
            "smithy.api#documentation": "Image resource properties",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.labservices#ImagesCreateOrUpdateResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.labservices#ImagesCreateOrUpdateResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.labservices#ImagesCreateOrUpdateResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.labservices#ImagesCreateOrUpdateResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.labservices#ImagesCreateOrUpdateResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.labservices#ImagesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "labPlanName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the lab plan that uniquely identifies it within containing resource group. Used in resource URIs and in UI."
          }
        },
        "imageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The image name."
          }
        },
        "properties": {
          "target": "com.azure.labservices#ImagePropertiesInput",
          "traits": {
            "smithy.api#documentation": "Image resource properties",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.labservices#ImagePropertiesInput": {
      "type": "structure",
      "members": {
        "enabledState": {
          "target": "com.azure.labservices#ImagePropertiesInputEnabledState",
          "traits": {
            "smithy.api#documentation": "Property enabled state.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.labservices#ImagePropertiesInputProvisioningState",
          "traits": {
            "smithy.api#documentation": "Resource provisioning state."
          }
        },
        "osType": {
          "target": "com.azure.labservices#ImagePropertiesInputOsType",
          "traits": {
            "smithy.api#documentation": "The operating system type."
          }
        },
        "termsStatus": {
          "target": "com.azure.labservices#ImagePropertiesInputTermsStatus",
          "traits": {
            "smithy.api#documentation": "Property enabled state."
          }
        },
        "sharedGalleryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL."
          }
        },
        "availableRegions": {
          "target": "com.azure.labservices#ImagePropertiesInputAvailableRegionsList",
          "traits": {
            "smithy.api#documentation": "The available regions of the image in the shared gallery."
          }
        },
        "osState": {
          "target": "com.azure.labservices#ImagePropertiesInputOsState",
          "traits": {
            "smithy.api#documentation": "The operating system state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of an image resource."
      }
    },
    "com.azure.labservices#ImagePropertiesInputOsState": {
      "type": "enum",
      "members": {
        "GENERALIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Generalized"
          }
        },
        "SPECIALIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Specialized"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The operating system state."
      }
    },
    "com.azure.labservices#ImagePropertiesInputAvailableRegionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The available regions of the image in the shared gallery."
      }
    },
    "com.azure.labservices#ImagePropertiesInputTermsStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Property enabled state."
      }
    },
    "com.azure.labservices#ImagePropertiesInputOsType": {
      "type": "enum",
      "members": {
        "WINDOWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Windows"
          }
        },
        "LINUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Linux"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The operating system type."
      }
    },
    "com.azure.labservices#ImagePropertiesInputProvisioningState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "LOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Locked"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource provisioning state."
      }
    },
    "com.azure.labservices#ImagePropertiesInputEnabledState": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Property enabled state."
      }
    },
    "com.azure.labservices#ImagesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.labservices#ImagesGetRequest"
      },
      "output": {
        "target": "com.azure.labservices#ImagesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labPlans/{labPlanName}/images/{imageName}",
          "code": 200,
          "apiVersion": "2023-06-07"
        },
        "smithy.api#documentation": "Gets an image.\n\nGets an image resource.",
        "com.distilled.openapi#apiVersion": "2023-06-07"
      }
    },
    "com.azure.labservices#ImagesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.labservices#ImagesGetResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "properties": {
          "target": "com.azure.labservices#ImageProperties",
          "traits": {
            "smithy.api#documentation": "Image resource properties",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.labservices#ImagesGetResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.labservices#ImagesGetResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.labservices#ImagesGetResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.labservices#ImagesGetResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.labservices#ImagesGetResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.labservices#ImagesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "labPlanName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the lab plan that uniquely identifies it within containing resource group. Used in resource URIs and in UI."
          }
        },
        "imageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The image name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.labservices#ImagesListByLabPlan": {
      "type": "operation",
      "input": {
        "target": "com.azure.labservices#ImagesListByLabPlanRequest"
      },
      "output": {
        "target": "com.azure.labservices#PagedImages"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labPlans/{labPlanName}/images",
          "code": 200,
          "apiVersion": "2023-06-07"
        },
        "smithy.api#documentation": "Gets all images.\n\nGets all images from galleries attached to a lab plan.",
        "com.distilled.openapi#apiVersion": "2023-06-07"
      }
    },
    "com.azure.labservices#PagedImages": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.labservices#PagedImagesValueList",
          "traits": {
            "smithy.api#documentation": "The array page of virtual machine images."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to get the next page of image results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Paged list of Lab services virtual machine images."
      }
    },
    "com.azure.labservices#PagedImagesValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.labservices#Image"
      },
      "traits": {
        "smithy.api#documentation": "The array page of virtual machine images."
      }
    },
    "com.azure.labservices#Image": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.labservices#ImageSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "properties": {
          "target": "com.azure.labservices#ImageProperties",
          "traits": {
            "smithy.api#documentation": "Image resource properties",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Lab services virtual machine image"
      }
    },
    "com.azure.labservices#ImageSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.labservices#ImageSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.labservices#ImageSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.labservices#ImageSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.labservices#ImageSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.labservices#ImagesListByLabPlanRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "labPlanName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the lab plan that uniquely identifies it within containing resource group. Used in resource URIs and in UI."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "The filter to apply to the operation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.labservices#LabPlansSaveImage": {
      "type": "operation",
      "input": {
        "target": "com.azure.labservices#LabPlansSaveImageRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labPlans/{labPlanName}/saveImage",
          "code": 200,
          "apiVersion": "2023-06-07"
        },
        "smithy.api#documentation": "Save an image from a lab VM to the attached shared image gallery.\n\nSaves an image from a lab VM to the attached shared image gallery.",
        "com.distilled.openapi#apiVersion": "2023-06-07"
      }
    },
    "com.azure.labservices#LabPlansSaveImageRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "labPlanName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the lab plan that uniquely identifies it within containing resource group. Used in resource URIs and in UI."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name for the image we create."
          }
        },
        "labVirtualMachineId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.labservices#LabPlansDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.labservices#LabPlansDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labPlans/{labPlanName}",
          "code": 200,
          "apiVersion": "2023-06-07"
        },
        "smithy.api#documentation": "Deletes a Lab Plan resource.\n\nOperation to delete a Lab Plan resource. Deleting a lab plan does not delete labs associated with a lab plan, nor does it delete shared images added to a gallery via the lab plan permission container.",
        "com.distilled.openapi#apiVersion": "2023-06-07"
      }
    },
    "com.azure.labservices#LabPlansDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "labPlanName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the lab plan that uniquely identifies it within containing resource group. Used in resource URIs and in UI."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.labservices#LabPlansUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.labservices#LabPlansUpdateRequest"
      },
      "output": {
        "target": "com.azure.labservices#LabPlansUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labPlans/{labPlanName}",
          "code": 200,
          "apiVersion": "2023-06-07"
        },
        "smithy.api#documentation": "Updates a Lab Plan resource.\n\nOperation to update a Lab Plan resource.",
        "com.distilled.openapi#apiVersion": "2023-06-07"
      }
    },
    "com.azure.labservices#LabPlansUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "tags": {
          "target": "com.azure.labservices#LabPlansUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "systemData": {
          "target": "com.azure.labservices#LabPlansUpdateResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "properties": {
          "target": "com.azure.labservices#LabPlanProperties",
          "traits": {
            "smithy.api#documentation": "Lab plan resource properties",
            "smithy.api#required": {}
          }
        },
        "identity": {
          "target": "com.azure.labservices#LabPlansUpdateResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Identity for the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.labservices#LabPlansUpdateResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of resource identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of resource."
          }
        },
        "type": {
          "target": "com.azure.labservices#LabPlansUpdateResponseIdentityType",
          "traits": {
            "smithy.api#documentation": "The identity type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity for the resource."
      }
    },
    "com.azure.labservices#LabPlansUpdateResponseIdentityType": {
      "type": "enum",
      "members": {
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The identity type."
      }
    },
    "com.azure.labservices#LabPlanProperties": {
      "type": "structure",
      "members": {
        "defaultConnectionProfile": {
          "target": "com.azure.labservices#LabPlanPropertiesDefaultConnectionProfile",
          "traits": {
            "smithy.api#documentation": "Connection profile for how users connect to lab virtual machines."
          }
        },
        "defaultAutoShutdownProfile": {
          "target": "com.azure.labservices#LabPlanPropertiesDefaultAutoShutdownProfile",
          "traits": {
            "smithy.api#documentation": "Profile for how to handle shutting down virtual machines."
          }
        },
        "defaultNetworkProfile": {
          "target": "com.azure.labservices#LabPlanNetworkProfile",
          "traits": {
            "smithy.api#documentation": "The lab plan network profile. To enforce lab network policies they must be defined here and cannot be changed when there are existing labs associated with this lab plan."
          }
        },
        "allowedRegions": {
          "target": "com.azure.labservices#LabPlanPropertiesAllowedRegionsList",
          "traits": {
            "smithy.api#documentation": "The allowed regions for the lab creator to use when creating labs using this lab plan."
          }
        },
        "sharedGalleryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL."
          }
        },
        "supportInfo": {
          "target": "com.azure.labservices#SupportInfo",
          "traits": {
            "smithy.api#documentation": "Support contact information and instructions for users of the lab plan. This information is displayed to lab owners and virtual machine users for all labs in the lab plan."
          }
        },
        "linkedLmsInstance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL."
          }
        },
        "provisioningState": {
          "target": "com.azure.labservices#LabPlanPropertiesProvisioningState",
          "traits": {
            "smithy.api#documentation": "Resource provisioning state."
          }
        },
        "resourceOperationError": {
          "target": "com.azure.labservices#LabPlanPropertiesResourceOperationError",
          "traits": {
            "smithy.api#documentation": "Error details of the latest operation failure on this resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Lab plan resource properties"
      }
    },
    "com.azure.labservices#LabPlanPropertiesResourceOperationError": {
      "type": "structure",
      "members": {
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The datetime of when the error occured"
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The code that corresponds to the type of operation failure"
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operation failure message"
          }
        },
        "action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operation action that failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error details of the latest operation failure on this resource"
      }
    },
    "com.azure.labservices#LabPlanPropertiesProvisioningState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "LOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Locked"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource provisioning state."
      }
    },
    "com.azure.labservices#SupportInfo": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An email address."
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A phone number."
          }
        },
        "instructions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Support instructions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Support contact information and instructions."
      }
    },
    "com.azure.labservices#LabPlanPropertiesAllowedRegionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The allowed regions for the lab creator to use when creating labs using this lab plan."
      }
    },
    "com.azure.labservices#LabPlanNetworkProfile": {
      "type": "structure",
      "members": {
        "subnetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Profile for how to handle networking for Lab Plans."
      }
    },
    "com.azure.labservices#LabPlanPropertiesDefaultAutoShutdownProfile": {
      "type": "structure",
      "members": {
        "shutdownOnDisconnect": {
          "target": "com.azure.labservices#EnableState",
          "traits": {
            "smithy.api#documentation": "Whether shutdown on disconnect is enabled"
          }
        },
        "shutdownWhenNotConnected": {
          "target": "com.azure.labservices#EnableState",
          "traits": {
            "smithy.api#documentation": "Whether a VM will get shutdown when it hasn't been connected to after a period of time."
          }
        },
        "shutdownOnIdle": {
          "target": "com.azure.labservices#ShutdownOnIdleMode",
          "traits": {
            "smithy.api#documentation": "Whether a VM will get shutdown when it has idled for a period of time."
          }
        },
        "disconnectDelay": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The amount of time a VM will stay running after a user disconnects if this behavior is enabled."
          }
        },
        "noConnectDelay": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The amount of time a VM will stay running before it is shutdown if no connection is made and this behavior is enabled."
          }
        },
        "idleDelay": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The amount of time a VM will idle before it is shutdown if this behavior is enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Profile for how to handle shutting down virtual machines."
      }
    },
    "com.azure.labservices#ShutdownOnIdleMode": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "USERABSENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAbsence"
          }
        },
        "LOWUSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LowUsage"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines whether to shut down VM on idle and the criteria for idle detection."
      }
    },
    "com.azure.labservices#EnableState": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Property enabled state."
      }
    },
    "com.azure.labservices#LabPlanPropertiesDefaultConnectionProfile": {
      "type": "structure",
      "members": {
        "webSshAccess": {
          "target": "com.azure.labservices#ConnectionType",
          "traits": {
            "smithy.api#documentation": "The enabled access level for Web Access over SSH."
          }
        },
        "webRdpAccess": {
          "target": "com.azure.labservices#ConnectionType",
          "traits": {
            "smithy.api#documentation": "The enabled access level for Web Access over RDP."
          }
        },
        "clientSshAccess": {
          "target": "com.azure.labservices#ConnectionType",
          "traits": {
            "smithy.api#documentation": "The enabled access level for Client Access over SSH."
          }
        },
        "clientRdpAccess": {
          "target": "com.azure.labservices#ConnectionType",
          "traits": {
            "smithy.api#documentation": "The enabled access level for Client Access over RDP."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Connection profile for how users connect to lab virtual machines."
      }
    },
    "com.azure.labservices#ConnectionType": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Public"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Private"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A connection type for access labs and VMs (Public, Private or None)."
      }
    },
    "com.azure.labservices#LabPlansUpdateResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.labservices#LabPlansUpdateResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.labservices#LabPlansUpdateResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.labservices#LabPlansUpdateResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.labservices#LabPlansUpdateResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.labservices#LabPlansUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.labservices#LabPlansUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "labPlanName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the lab plan that uniquely identifies it within containing resource group. Used in resource URIs and in UI."
          }
        },
        "tags": {
          "target": "com.azure.labservices#LabPlansUpdateRequestTagsList",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "properties": {
          "target": "com.azure.labservices#LabPlanUpdateProperties",
          "traits": {
            "smithy.api#documentation": "Lab plan resource update properties"
          }
        },
        "identity": {
          "target": "com.azure.labservices#LabPlansUpdateRequestIdentity",
          "traits": {
            "smithy.api#documentation": "Identity for the resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.labservices#LabPlansUpdateRequestIdentity": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.labservices#LabPlansUpdateRequestIdentityType",
          "traits": {
            "smithy.api#documentation": "The identity type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity for the resource."
      }
    },
    "com.azure.labservices#LabPlansUpdateRequestIdentityType": {
      "type": "enum",
      "members": {
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The identity type."
      }
    },
    "com.azure.labservices#LabPlanUpdateProperties": {
      "type": "structure",
      "members": {
        "defaultConnectionProfile": {
          "target": "com.azure.labservices#LabPlanUpdatePropertiesDefaultConnectionProfile",
          "traits": {
            "smithy.api#documentation": "Connection profile for how users connect to lab virtual machines."
          }
        },
        "defaultAutoShutdownProfile": {
          "target": "com.azure.labservices#LabPlanUpdatePropertiesDefaultAutoShutdownProfile",
          "traits": {
            "smithy.api#documentation": "Profile for how to handle shutting down virtual machines."
          }
        },
        "defaultNetworkProfile": {
          "target": "com.azure.labservices#LabPlanNetworkProfile",
          "traits": {
            "smithy.api#documentation": "The lab plan network profile. To enforce lab network policies they must be defined here and cannot be changed when there are existing labs associated with this lab plan."
          }
        },
        "allowedRegions": {
          "target": "com.azure.labservices#LabPlanUpdatePropertiesAllowedRegionsList",
          "traits": {
            "smithy.api#documentation": "The allowed regions for the lab creator to use when creating labs using this lab plan."
          }
        },
        "sharedGalleryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL."
          }
        },
        "supportInfo": {
          "target": "com.azure.labservices#SupportInfo",
          "traits": {
            "smithy.api#documentation": "Support contact information and instructions for users of the lab plan. This information is displayed to lab owners and virtual machine users for all labs in the lab plan."
          }
        },
        "linkedLmsInstance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Lab plan resource properties for updates"
      }
    },
    "com.azure.labservices#LabPlanUpdatePropertiesAllowedRegionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The allowed regions for the lab creator to use when creating labs using this lab plan."
      }
    },
    "com.azure.labservices#LabPlanUpdatePropertiesDefaultAutoShutdownProfile": {
      "type": "structure",
      "members": {
        "shutdownOnDisconnect": {
          "target": "com.azure.labservices#EnableState",
          "traits": {
            "smithy.api#documentation": "Whether shutdown on disconnect is enabled"
          }
        },
        "shutdownWhenNotConnected": {
          "target": "com.azure.labservices#EnableState",
          "traits": {
            "smithy.api#documentation": "Whether a VM will get shutdown when it hasn't been connected to after a period of time."
          }
        },
        "shutdownOnIdle": {
          "target": "com.azure.labservices#ShutdownOnIdleMode",
          "traits": {
            "smithy.api#documentation": "Whether a VM will get shutdown when it has idled for a period of time."
          }
        },
        "disconnectDelay": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The amount of time a VM will stay running after a user disconnects if this behavior is enabled."
          }
        },
        "noConnectDelay": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The amount of time a VM will stay running before it is shutdown if no connection is made and this behavior is enabled."
          }
        },
        "idleDelay": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The amount of time a VM will idle before it is shutdown if this behavior is enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Profile for how to handle shutting down virtual machines."
      }
    },
    "com.azure.labservices#LabPlanUpdatePropertiesDefaultConnectionProfile": {
      "type": "structure",
      "members": {
        "webSshAccess": {
          "target": "com.azure.labservices#ConnectionType",
          "traits": {
            "smithy.api#documentation": "The enabled access level for Web Access over SSH."
          }
        },
        "webRdpAccess": {
          "target": "com.azure.labservices#ConnectionType",
          "traits": {
            "smithy.api#documentation": "The enabled access level for Web Access over RDP."
          }
        },
        "clientSshAccess": {
          "target": "com.azure.labservices#ConnectionType",
          "traits": {
            "smithy.api#documentation": "The enabled access level for Client Access over SSH."
          }
        },
        "clientRdpAccess": {
          "target": "com.azure.labservices#ConnectionType",
          "traits": {
            "smithy.api#documentation": "The enabled access level for Client Access over RDP."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Connection profile for how users connect to lab virtual machines."
      }
    },
    "com.azure.labservices#LabPlansUpdateRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.labservices#LabPlansCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.labservices#LabPlansCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.labservices#LabPlansCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labPlans/{labPlanName}",
          "code": 200,
          "apiVersion": "2023-06-07"
        },
        "smithy.api#documentation": "Updates or creates a Lab Plan resource.\n\nOperation to create or update a Lab Plan resource.",
        "com.distilled.openapi#apiVersion": "2023-06-07"
      }
    },
    "com.azure.labservices#LabPlansCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "tags": {
          "target": "com.azure.labservices#LabPlansCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "systemData": {
          "target": "com.azure.labservices#LabPlansCreateOrUpdateResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "properties": {
          "target": "com.azure.labservices#LabPlanProperties",
          "traits": {
            "smithy.api#documentation": "Lab plan resource properties",
            "smithy.api#required": {}
          }
        },
        "identity": {
          "target": "com.azure.labservices#LabPlansCreateOrUpdateResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Identity for the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.labservices#LabPlansCreateOrUpdateResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of resource identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of resource."
          }
        },
        "type": {
          "target": "com.azure.labservices#LabPlansCreateOrUpdateResponseIdentityType",
          "traits": {
            "smithy.api#documentation": "The identity type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity for the resource."
      }
    },
    "com.azure.labservices#LabPlansCreateOrUpdateResponseIdentityType": {
      "type": "enum",
      "members": {
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The identity type."
      }
    },
    "com.azure.labservices#LabPlansCreateOrUpdateResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.labservices#LabPlansCreateOrUpdateResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.labservices#LabPlansCreateOrUpdateResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.labservices#LabPlansCreateOrUpdateResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.labservices#LabPlansCreateOrUpdateResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.labservices#LabPlansCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.labservices#LabPlansCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "labPlanName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the lab plan that uniquely identifies it within containing resource group. Used in resource URIs and in UI."
          }
        },
        "tags": {
          "target": "com.azure.labservices#LabPlansCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.labservices#LabPlanProperties",
          "traits": {
            "smithy.api#documentation": "Lab plan resource properties",
            "smithy.api#required": {}
          }
        },
        "identity": {
          "target": "com.azure.labservices#LabPlansCreateOrUpdateRequestIdentity",
          "traits": {
            "smithy.api#documentation": "Identity for the resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.labservices#LabPlansCreateOrUpdateRequestIdentity": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.labservices#LabPlansCreateOrUpdateRequestIdentityType",
          "traits": {
            "smithy.api#documentation": "The identity type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity for the resource."
      }
    },
    "com.azure.labservices#LabPlansCreateOrUpdateRequestIdentityType": {
      "type": "enum",
      "members": {
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The identity type."
      }
    },
    "com.azure.labservices#LabPlansCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.labservices#LabPlansGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.labservices#LabPlansGetRequest"
      },
      "output": {
        "target": "com.azure.labservices#LabPlansGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labPlans/{labPlanName}",
          "code": 200,
          "apiVersion": "2023-06-07"
        },
        "smithy.api#documentation": "Retrieves a Lab Plan resource.\n\nRetrieves the properties of a Lab Plan.",
        "com.distilled.openapi#apiVersion": "2023-06-07"
      }
    },
    "com.azure.labservices#LabPlansGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "tags": {
          "target": "com.azure.labservices#LabPlansGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "systemData": {
          "target": "com.azure.labservices#LabPlansGetResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "properties": {
          "target": "com.azure.labservices#LabPlanProperties",
          "traits": {
            "smithy.api#documentation": "Lab plan resource properties",
            "smithy.api#required": {}
          }
        },
        "identity": {
          "target": "com.azure.labservices#LabPlansGetResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Identity for the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.labservices#LabPlansGetResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of resource identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of resource."
          }
        },
        "type": {
          "target": "com.azure.labservices#LabPlansGetResponseIdentityType",
          "traits": {
            "smithy.api#documentation": "The identity type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity for the resource."
      }
    },
    "com.azure.labservices#LabPlansGetResponseIdentityType": {
      "type": "enum",
      "members": {
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The identity type."
      }
    },
    "com.azure.labservices#LabPlansGetResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.labservices#LabPlansGetResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.labservices#LabPlansGetResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.labservices#LabPlansGetResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.labservices#LabPlansGetResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.labservices#LabPlansGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.labservices#LabPlansGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "labPlanName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the lab plan that uniquely identifies it within containing resource group. Used in resource URIs and in UI."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.labservices#LabPlansListByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.labservices#LabPlansListByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.labservices#PagedLabPlans"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LabServices/labPlans",
          "code": 200,
          "apiVersion": "2023-06-07"
        },
        "smithy.api#documentation": "Get all lab plans for a subscription and resource group.\n\nReturns a list of all lab plans for a subscription and resource group.",
        "com.distilled.openapi#apiVersion": "2023-06-07"
      }
    },
    "com.azure.labservices#PagedLabPlans": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.labservices#PagedLabPlansValueList",
          "traits": {
            "smithy.api#documentation": "The array page of lab plans."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to get the next page of lab plan results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Paged list of lab plans."
      }
    },
    "com.azure.labservices#PagedLabPlansValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.labservices#LabPlan"
      },
      "traits": {
        "smithy.api#documentation": "The array page of lab plans."
      }
    },
    "com.azure.labservices#LabPlan": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "tags": {
          "target": "com.azure.labservices#LabPlanTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "systemData": {
          "target": "com.azure.labservices#LabPlanSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "properties": {
          "target": "com.azure.labservices#LabPlanProperties",
          "traits": {
            "smithy.api#documentation": "Lab plan resource properties",
            "smithy.api#required": {}
          }
        },
        "identity": {
          "target": "com.azure.labservices#LabPlanIdentity",
          "traits": {
            "smithy.api#documentation": "Identity for the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Lab Plans act as a permission container for creating labs via labs.azure.com. Additionally, they can provide a set of default configurations that will apply at the time of creating a lab, but these defaults can still be overwritten."
      }
    },
    "com.azure.labservices#LabPlanIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of resource identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of resource."
          }
        },
        "type": {
          "target": "com.azure.labservices#LabPlanIdentityType",
          "traits": {
            "smithy.api#documentation": "The identity type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity for the resource."
      }
    },
    "com.azure.labservices#LabPlanIdentityType": {
      "type": "enum",
      "members": {
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The identity type."
      }
    },
    "com.azure.labservices#LabPlanSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.labservices#LabPlanSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.labservices#LabPlanSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.labservices#LabPlanSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.labservices#LabPlanSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
[...]
