{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.loadtestservice#LoadTestsListOutboundNetworkDependenciesEndpoints": {
      "type": "operation",
      "input": {
        "target": "com.azure.loadtestservice#LoadTestsListOutboundNetworkDependenciesEndpointsRequest"
      },
      "output": {
        "target": "com.azure.loadtestservice#PagedOutboundEnvironmentEndpoint"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LoadTestService/loadTests/{loadTestName}/outboundNetworkDependenciesEndpoints",
          "code": 200,
          "apiVersion": "2022-12-01"
        },
        "smithy.api#documentation": "Lists the endpoints that agents may call as part of load testing.",
        "com.distilled.openapi#apiVersion": "2022-12-01"
      }
    },
    "com.azure.loadtestservice#PagedOutboundEnvironmentEndpoint": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.loadtestservice#PagedOutboundEnvironmentEndpointValueList",
          "traits": {
            "smithy.api#documentation": "The OutboundEnvironmentEndpoint items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Values returned by the List operation."
      }
    },
    "com.azure.loadtestservice#PagedOutboundEnvironmentEndpointValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.loadtestservice#OutboundEnvironmentEndpoint"
      },
      "traits": {
        "smithy.api#documentation": "The OutboundEnvironmentEndpoint items on this page"
      }
    },
    "com.azure.loadtestservice#OutboundEnvironmentEndpoint": {
      "type": "structure",
      "members": {
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of service that Azure Load Testing connects to."
          }
        },
        "endpoints": {
          "target": "com.azure.loadtestservice#OutboundEnvironmentEndpointEndpointsList",
          "traits": {
            "smithy.api#documentation": "The endpoints for this service to which the Batch service makes outbound calls."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of related endpoints from the same service for which the Batch service requires outbound access."
      }
    },
    "com.azure.loadtestservice#OutboundEnvironmentEndpointEndpointsList": {
      "type": "list",
      "member": {
        "target": "com.azure.loadtestservice#EndpointDependency"
      },
      "traits": {
        "smithy.api#documentation": "The endpoints for this service to which the Batch service makes outbound calls."
      }
    },
    "com.azure.loadtestservice#EndpointDependency": {
      "type": "structure",
      "members": {
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain name of the dependency. Domain names may be fully qualified or may contain a * wildcard.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable supplemental information about the dependency and when it is applicable."
          }
        },
        "endpointDetails": {
          "target": "com.azure.loadtestservice#EndpointDependencyEndpointDetailsList",
          "traits": {
            "smithy.api#documentation": "The list of connection details for this endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A domain name and connection details used to access a dependency."
      }
    },
    "com.azure.loadtestservice#EndpointDependencyEndpointDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.loadtestservice#EndpointDetail"
      },
      "traits": {
        "smithy.api#documentation": "The list of connection details for this endpoint."
      }
    },
    "com.azure.loadtestservice#EndpointDetail": {
      "type": "structure",
      "members": {
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The port an endpoint is connected to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about the connection between the Batch service and the endpoint."
      }
    },
    "com.azure.loadtestservice#LoadTestsListOutboundNetworkDependenciesEndpointsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "loadTestName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Load Test name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.loadtestservice#LoadTestsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.loadtestservice#LoadTestsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LoadTestService/loadTests/{loadTestName}",
          "code": 200,
          "apiVersion": "2022-12-01"
        },
        "smithy.api#documentation": "Delete a LoadTestResource",
        "com.distilled.openapi#apiVersion": "2022-12-01"
      }
    },
    "com.azure.loadtestservice#LoadTestsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "loadTestName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Load Test name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.loadtestservice#LoadTestsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.loadtestservice#LoadTestsUpdateRequest"
      },
      "output": {
        "target": "com.azure.loadtestservice#LoadTestsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LoadTestService/loadTests/{loadTestName}",
          "code": 200,
          "apiVersion": "2022-12-01"
        },
        "smithy.api#documentation": "Update a LoadTestResource",
        "com.distilled.openapi#apiVersion": "2022-12-01"
      }
    },
    "com.azure.loadtestservice#LoadTestsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.loadtestservice#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.loadtestservice#LoadTestsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.loadtestservice#LoadTestProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "identity": {
          "target": "com.azure.loadtestservice#LoadTestsUpdateResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.loadtestservice#LoadTestsUpdateResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.loadtestservice#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.loadtestservice#UserAssignedIdentities"
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.loadtestservice#UserAssignedIdentities": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.loadtestservice#UserAssignedIdentity"
      },
      "traits": {
        "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
      }
    },
    "com.azure.loadtestservice#UserAssignedIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of the assigned identity."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client ID of the assigned identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User assigned identity properties"
      }
    },
    "com.azure.loadtestservice#ManagedServiceIdentityType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        },
        "SYSTEMASSIGNED_USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned,UserAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of managed service identity (where both SystemAssigned and UserAssigned types are allowed)."
      }
    },
    "com.azure.loadtestservice#LoadTestProperties": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the resource."
          }
        },
        "provisioningState": {
          "target": "com.azure.loadtestservice#ResourceState",
          "traits": {
            "smithy.api#documentation": "Resource provisioning state."
          }
        },
        "dataPlaneURI": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource data plane URI."
          }
        },
        "encryption": {
          "target": "com.azure.loadtestservice#EncryptionProperties",
          "traits": {
            "smithy.api#documentation": "CMK Encryption property."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "LoadTest resource properties."
      }
    },
    "com.azure.loadtestservice#EncryptionProperties": {
      "type": "structure",
      "members": {
        "identity": {
          "target": "com.azure.loadtestservice#EncryptionPropertiesIdentity",
          "traits": {
            "smithy.api#documentation": "All identity configuration for Customer-managed key settings defining which identity should be used to auth to Key Vault."
          }
        },
        "keyUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "key encryption key Url, versioned. Ex: https://contosovault.vault.azure.net/keys/contosokek/562a4bb76b524a1493a6afe8e536ee78 or https://contosovault.vault.azure.net/keys/contosokek."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Key and identity details for Customer Managed Key encryption of load test resource."
      }
    },
    "com.azure.loadtestservice#EncryptionPropertiesIdentity": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.loadtestservice#Type",
          "traits": {
            "smithy.api#documentation": "Managed identity type to use for accessing encryption key Url."
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User assigned identity to use for accessing key encryption key Url. Ex: /subscriptions/a0a0a0a0-bbbb-cccd-dddd-e1e1e1e1e1e1/resourceGroups/<resource group>/providers/Microsoft.ManagedIdentity/userAssignedIdentities/myId.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All identity configuration for Customer-managed key settings defining which identity should be used to auth to Key Vault."
      }
    },
    "com.azure.loadtestservice#Type": {
      "type": "enum",
      "members": {
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed identity type to use for accessing encryption key Url."
      }
    },
    "com.azure.loadtestservice#ResourceState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resources provisioning states."
      }
    },
    "com.azure.loadtestservice#LoadTestsUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.loadtestservice#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.loadtestservice#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.loadtestservice#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.loadtestservice#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.loadtestservice#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.loadtestservice#LoadTestsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "loadTestName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Load Test name"
          }
        },
        "identity": {
          "target": "com.azure.loadtestservice#LoadTestsUpdateRequestIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        },
        "tags": {
          "target": "com.azure.loadtestservice#LoadTestsUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "properties": {
          "target": "com.azure.loadtestservice#LoadTestResourceUpdateProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.loadtestservice#LoadTestResourceUpdateProperties": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the resource."
          }
        },
        "encryption": {
          "target": "com.azure.loadtestservice#EncryptionProperties",
          "traits": {
            "smithy.api#documentation": "CMK Encryption property."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The updatable properties of the LoadTestResource."
      }
    },
    "com.azure.loadtestservice#LoadTestsUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.loadtestservice#LoadTestsUpdateRequestIdentity": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.loadtestservice#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.loadtestservice#UserAssignedIdentitiesInput"
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.loadtestservice#UserAssignedIdentitiesInput": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.loadtestservice#UserAssignedIdentityInput"
      },
      "traits": {
        "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
      }
    },
    "com.azure.loadtestservice#UserAssignedIdentityInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "User assigned identity properties"
      }
    },
    "com.azure.loadtestservice#LoadTestsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.loadtestservice#LoadTestsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.loadtestservice#LoadTestsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LoadTestService/loadTests/{loadTestName}",
          "code": 200,
          "apiVersion": "2022-12-01"
        },
        "smithy.api#documentation": "Create a LoadTestResource",
        "com.distilled.openapi#apiVersion": "2022-12-01"
      }
    },
    "com.azure.loadtestservice#LoadTestsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.loadtestservice#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.loadtestservice#LoadTestsCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.loadtestservice#LoadTestProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "identity": {
          "target": "com.azure.loadtestservice#LoadTestsCreateOrUpdateResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.loadtestservice#LoadTestsCreateOrUpdateResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.loadtestservice#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.loadtestservice#UserAssignedIdentities"
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.loadtestservice#LoadTestsCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.loadtestservice#LoadTestsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "loadTestName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Load Test name"
          }
        },
        "tags": {
          "target": "com.azure.loadtestservice#LoadTestsCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.loadtestservice#LoadTestPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "identity": {
          "target": "com.azure.loadtestservice#LoadTestsCreateOrUpdateRequestIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.loadtestservice#LoadTestsCreateOrUpdateRequestIdentity": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.loadtestservice#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.loadtestservice#UserAssignedIdentitiesInput"
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.loadtestservice#LoadTestPropertiesInput": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the resource."
          }
        },
        "encryption": {
          "target": "com.azure.loadtestservice#EncryptionProperties",
          "traits": {
            "smithy.api#documentation": "CMK Encryption property."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "LoadTest resource properties."
      }
    },
    "com.azure.loadtestservice#LoadTestsCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.loadtestservice#LoadTestsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.loadtestservice#LoadTestsGetRequest"
      },
      "output": {
        "target": "com.azure.loadtestservice#LoadTestsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LoadTestService/loadTests/{loadTestName}",
          "code": 200,
          "apiVersion": "2022-12-01"
        },
        "smithy.api#documentation": "Get a LoadTestResource",
        "com.distilled.openapi#apiVersion": "2022-12-01"
      }
    },
    "com.azure.loadtestservice#LoadTestsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.loadtestservice#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.loadtestservice#LoadTestsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.loadtestservice#LoadTestProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "identity": {
          "target": "com.azure.loadtestservice#LoadTestsGetResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.loadtestservice#LoadTestsGetResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.loadtestservice#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.loadtestservice#UserAssignedIdentities"
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.loadtestservice#LoadTestsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.loadtestservice#LoadTestsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "loadTestName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Load Test name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.loadtestservice#LoadTestsListByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.loadtestservice#LoadTestsListByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.loadtestservice#LoadTestResourceListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LoadTestService/loadTests",
          "code": 200,
          "apiVersion": "2022-12-01"
        },
        "smithy.api#documentation": "List LoadTestResource resources by resource group",
        "com.distilled.openapi#apiVersion": "2022-12-01"
      }
    },
    "com.azure.loadtestservice#LoadTestResourceListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.loadtestservice#LoadTestResourceListResultValueList",
          "traits": {
            "smithy.api#documentation": "The LoadTestResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a LoadTestResource list operation."
      }
    },
    "com.azure.loadtestservice#LoadTestResourceListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.loadtestservice#LoadTestResource"
      },
      "traits": {
        "smithy.api#documentation": "The LoadTestResource items on this page"
      }
    },
    "com.azure.loadtestservice#LoadTestResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.loadtestservice#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.loadtestservice#LoadTestResourceTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.loadtestservice#LoadTestProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "identity": {
          "target": "com.azure.loadtestservice#LoadTestResourceIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "LoadTest details."
      }
    },
    "com.azure.loadtestservice#LoadTestResourceIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.loadtestservice#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.loadtestservice#UserAssignedIdentities"
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.loadtestservice#LoadTestResourceTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.loadtestservice#LoadTestsListByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.loadtestservice#QuotasCheckAvailability": {
      "type": "operation",
      "input": {
        "target": "com.azure.loadtestservice#QuotasCheckAvailabilityRequest"
      },
      "output": {
        "target": "com.azure.loadtestservice#CheckQuotaAvailabilityResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.LoadTestService/locations/{location}/quotas/{quotaBucketName}/checkAvailability",
          "code": 200,
          "apiVersion": "2022-12-01"
        },
        "smithy.api#documentation": "Check Quota Availability on quota bucket per region per subscription.",
        "com.distilled.openapi#apiVersion": "2022-12-01"
      }
    },
    "com.azure.loadtestservice#CheckQuotaAvailabilityResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\"",
            "smithy.api#required": {}
          }
        },
        "systemData": {
          "target": "com.azure.loadtestservice#CheckQuotaAvailabilityResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "properties": {
          "target": "com.azure.loadtestservice#CheckQuotaAvailabilityResponseProperties",
          "traits": {
            "smithy.api#documentation": "Check quota availability response properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Check quota availability response object."
      }
    },
    "com.azure.loadtestservice#CheckQuotaAvailabilityResponseProperties": {
      "type": "structure",
      "members": {
        "isAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True/False indicating whether the quota request be granted based on availability."
          }
        },
        "availabilityStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message indicating additional details to add to quota support request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Check quota availability response properties."
      }
    },
    "com.azure.loadtestservice#CheckQuotaAvailabilityResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.loadtestservice#CheckQuotaAvailabilityResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.loadtestservice#CheckQuotaAvailabilityResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.loadtestservice#CheckQuotaAvailabilityResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.loadtestservice#CheckQuotaAvailabilityResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.loadtestservice#QuotasCheckAvailabilityRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure region."
          }
        },
        "quotaBucketName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The quota name."
          }
        },
        "properties": {
          "target": "com.azure.loadtestservice#QuotaBucketRequestProperties",
          "traits": {
            "smithy.api#documentation": "Request object of new quota for a quota bucket."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.loadtestservice#QuotaBucketRequestProperties": {
      "type": "structure",
      "members": {
        "currentUsage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Current quota usage of the quota bucket."
          }
        },
        "currentQuota": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Current quota limit of the quota bucket."
          }
        },
        "newQuota": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "New quota limit of the quota bucket."
          }
        },
        "dimensions": {
          "target": "com.azure.loadtestservice#QuotaBucketRequestPropertiesDimensions",
          "traits": {
            "smithy.api#documentation": "Dimensions for new quota request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "New quota request request properties."
      }
    },
    "com.azure.loadtestservice#QuotaBucketRequestPropertiesDimensions": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subscription Id dimension for new quota request of the quota bucket."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location dimension for new quota request of the quota bucket."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dimensions for new quota request."
      }
    },
    "com.azure.loadtestservice#QuotasGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.loadtestservice#QuotasGetRequest"
      },
      "output": {
        "target": "com.azure.loadtestservice#QuotasGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.LoadTestService/locations/{location}/quotas/{quotaBucketName}",
          "code": 200,
          "apiVersion": "2022-12-01"
        },
        "smithy.api#documentation": "Get the available quota for a quota bucket per region per subscription.",
        "com.distilled.openapi#apiVersion": "2022-12-01"
      }
    },
    "com.azure.loadtestservice#QuotasGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.loadtestservice#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.loadtestservice#QuotaResourceProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.loadtestservice#QuotaResourceProperties": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Current quota limit of the quota bucket."
          }
        },
        "usage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Current quota usage of the quota bucket."
          }
        },
        "provisioningState": {
          "target": "com.azure.loadtestservice#ResourceState",
          "traits": {
            "smithy.api#documentation": "Resource provisioning state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Quota bucket resource properties."
      }
    },
    "com.azure.loadtestservice#QuotasGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure region."
          }
        },
        "quotaBucketName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The quota name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.loadtestservice#QuotasList": {
      "type": "operation",
      "input": {
        "target": "com.azure.loadtestservice#QuotasListRequest"
      },
      "output": {
        "target": "com.azure.loadtestservice#QuotaResourceListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.LoadTestService/locations/{location}/quotas",
          "code": 200,
          "apiVersion": "2022-12-01"
        },
        "smithy.api#documentation": "List quotas for a given subscription Id.",
        "com.distilled.openapi#apiVersion": "2022-12-01"
      }
    },
    "com.azure.loadtestservice#QuotaResourceListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.loadtestservice#QuotaResourceListResultValueList",
          "traits": {
            "smithy.api#documentation": "The QuotaResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a QuotaResource list operation."
      }
    },
    "com.azure.loadtestservice#QuotaResourceListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.loadtestservice#QuotaResource"
      },
      "traits": {
        "smithy.api#documentation": "The QuotaResource items on this page"
      }
    },
    "com.azure.loadtestservice#QuotaResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.loadtestservice#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.loadtestservice#QuotaResourceProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Quota bucket details object."
      }
    },
    "com.azure.loadtestservice#QuotasListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure region."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.loadtestservice#LoadTestsListBySubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.loadtestservice#LoadTestsListBySubscriptionRequest"
      },
      "output": {
        "target": "com.azure.loadtestservice#LoadTestResourceListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.LoadTestService/loadTests",
          "code": 200,
          "apiVersion": "2022-12-01"
        },
        "smithy.api#documentation": "List LoadTestResource resources by subscription ID",
        "com.distilled.openapi#apiVersion": "2022-12-01"
      }
    },
    "com.azure.loadtestservice#LoadTestsListBySubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.loadtestservice#OperationsList": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.azure.loadtestservice#OperationsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.LoadTestService/operations",
          "code": 200,
          "apiVersion": "2022-12-01"
        },
        "smithy.api#documentation": "List the operations for the provider",
        "com.distilled.openapi#apiVersion": "2022-12-01"
      }
    },
    "com.azure.loadtestservice#OperationsListResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.loadtestservice#OperationsListResponseValueList",
          "traits": {
            "smithy.api#documentation": "List of operations supported by the resource provider"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to get the next set of operation list results (if there are any)."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.loadtestservice#OperationsListResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.loadtestservice#Operation"
      },
      "traits": {
        "smithy.api#documentation": "List of operations supported by the resource provider"
      }
    },
    "com.azure.loadtestservice#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation, as per Resource-Based Access Control (RBAC). Examples: \"Microsoft.Compute/virtualMachines/write\", \"Microsoft.Compute/virtualMachines/capture/action\""
          }
        },
        "isDataAction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the operation applies to data-plane. This is \"true\" for data-plane operations and \"false\" for ARM/control-plane operations."
          }
        },
        "display": {
          "target": "com.azure.loadtestservice#OperationDisplay",
          "traits": {
            "smithy.api#documentation": "Localized display information for this particular operation."
          }
        },
        "origin": {
          "target": "com.azure.loadtestservice#OperationOrigin",
          "traits": {
            "smithy.api#documentation": "The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is \"user,system\""
          }
        },
        "actionType": {
          "target": "com.azure.loadtestservice#OperationActionType",
          "traits": {
            "smithy.api#documentation": "Enum. Indicates the action type. \"Internal\" refers to actions that are for internal only APIs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a REST API operation, returned from the Resource Provider Operations API"
      }
    },
    "com.azure.loadtestservice#OperationActionType": {
      "type": "enum",
      "members": {
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Internal"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enum. Indicates the action type. \"Internal\" refers to actions that are for internal only APIs."
      }
    },
    "com.azure.loadtestservice#OperationOrigin": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        },
        "USER_SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user,system"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is \"user,system\""
      }
    },
    "com.azure.loadtestservice#OperationDisplay": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized friendly form of the resource provider name, e.g. \"Microsoft Monitoring Insights\" or \"Microsoft Compute\"."
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized friendly name of the resource type related to this operation. E.g. \"Virtual Machines\" or \"Job Schedule Collections\"."
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The concise, localized friendly name for the operation; suitable for dropdowns. E.g. \"Create or Update Virtual Machine\", \"Restart Virtual Machine\"."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The short, localized friendly description of the operation; suitable for tool tips and detailed views."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Localized display information for this particular operation."
      }
    },
    "com.azure.loadtestservice#PlaywrightWorkspaceQuotasGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.loadtestservice#PlaywrightWorkspaceQuotasGetRequest"
      },
      "output": {
        "target": "com.azure.loadtestservice#PlaywrightWorkspaceQuotasGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LoadTestService/playwrightWorkspaces/{playwrightWorkspaceName}/quotas/{quotaName}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Gets a Playwright workspace quota resource by name.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.loadtestservice#PlaywrightWorkspaceQuotasGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.loadtestservice#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.loadtestservice#PlaywrightWorkspaceQuotaProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.loadtestservice#PlaywrightWorkspaceQuotaProperties": {
      "type": "structure",
      "members": {
        "freeTrial": {
          "target": "com.azure.loadtestservice#PlaywrightWorkspaceFreeTrialProperties",
          "traits": {
            "smithy.api#documentation": "The Playwright workspace quota free trial properties."
          }
        },
        "provisioningState": {
          "target": "com.azure.loadtestservice#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The status of the last resource operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Playwright workspace quota resource properties."
      }
    },
    "com.azure.loadtestservice#ProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the last resource operation."
      }
    },
    "com.azure.loadtestservice#PlaywrightWorkspaceFreeTrialProperties": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The free trial creation timestamp in UTC.",
            "smithy.api#required": {}
          }
        },
        "expiryAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The free trial expiration timestamp in UTC.",
            "smithy.api#required": {}
          }
        },
        "allocatedValue": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The allocated limit value (e.g., allocated free execution minutes).",
            "smithy.api#required": {}
          }
        },
        "usedValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The used value (e.g., used free execution minutes).",
            "smithy.api#required": {}
          }
        },
        "percentageUsed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The percentage of the free trial quota used.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Playwright workspace quota free trial properties."
      }
    },
    "com.azure.loadtestservice#PlaywrightWorkspaceQuotasGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "playwrightWorkspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the PlaywrightWorkspace"
          }
        },
        "quotaName": {
          "target": "com.azure.loadtestservice#PlaywrightWorkspaceQuotasGetRequestQuotaName",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the PlaywrightWorkspaceQuota"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.loadtestservice#PlaywrightWorkspaceQuotasGetRequestQuotaName": {
      "type": "enum",
      "members": {
        "EXECUTIONMINUTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ExecutionMinutes"
          }
        }
      },
      "traits": {}
    },
    "com.azure.loadtestservice#PlaywrightWorkspaceQuotasListByPlaywrightWorkspace": {
      "type": "operation",
      "input": {
        "target": "com.azure.loadtestservice#PlaywrightWorkspaceQuotasListByPlaywrightWorkspaceRequest"
      },
      "output": {
        "target": "com.azure.loadtestservice#PlaywrightWorkspaceQuotaListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LoadTestService/playwrightWorkspaces/{playwrightWorkspaceName}/quotas",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Lists quota resources for a given Playwright workspace.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.loadtestservice#PlaywrightWorkspaceQuotaListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.loadtestservice#PlaywrightWorkspaceQuotaListResultValueList",
          "traits": {
            "smithy.api#documentation": "The PlaywrightWorkspaceQuota items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a PlaywrightWorkspaceQuota list operation."
      }
    },
    "com.azure.loadtestservice#PlaywrightWorkspaceQuotaListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.loadtestservice#PlaywrightWorkspaceQuota"
      },
      "traits": {
        "smithy.api#documentation": "The PlaywrightWorkspaceQuota items on this page"
      }
    },
    "com.azure.loadtestservice#PlaywrightWorkspaceQuota": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.loadtestservice#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.loadtestservice#PlaywrightWorkspaceQuotaProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Playwright workspace quota resource."
      }
    },
    "com.azure.loadtestservice#PlaywrightWorkspaceQuotasListByPlaywrightWorkspaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "playwrightWorkspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the PlaywrightWorkspace"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.loadtestservice#PlaywrightWorkspacesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.loadtestservice#PlaywrightWorkspacesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LoadTestService/playwrightWorkspaces/{playwrightWorkspaceName}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Deletes a Playwright workspace resource asynchronously.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.loadtestservice#PlaywrightWorkspacesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "playwrightWorkspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the PlaywrightWorkspace"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.loadtestservice#PlaywrightWorkspacesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.loadtestservice#PlaywrightWorkspacesUpdateRequest"
      },
      "output": {
        "target": "com.azure.loadtestservice#PlaywrightWorkspacesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LoadTestService/playwrightWorkspaces/{playwrightWorkspaceName}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Updates a Playwright workspace resource synchronously.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.loadtestservice#PlaywrightWorkspacesUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.loadtestservice#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.loadtestservice#PlaywrightWorkspacesUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.loadtestservice#PlaywrightWorkspaceProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.loadtestservice#PlaywrightWorkspaceProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.loadtestservice#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The status of the last resource operation."
          }
        },
        "dataplaneUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The workspace data plane service API URI."
          }
        },
        "regionalAffinity": {
          "target": "com.azure.loadtestservice#PlaywrightWorkspacePropertiesRegionalAffinity",
          "traits": {
            "smithy.api#documentation": "Controls the connection region for client workers to cloud-hosted browsers. When enabled, workers connect to browsers in the closest Azure region for lower latency. When disabled, workers connect to browsers in the Azure region where the workspace was created."
          }
        },
        "localAuth": {
          "target": "com.azure.loadtestservice#PlaywrightWorkspacePropertiesLocalAuth",
          "traits": {
            "smithy.api#documentation": "Enables the workspace to use local authentication through service access tokens for operations."
          }
        },
        "workspaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The workspace ID in GUID format."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Playwright workspace resource properties."
      }
    },
    "com.azure.loadtestservice#PlaywrightWorkspacePropertiesLocalAuth": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enables the workspace to use local authentication through service access tokens for operations."
      }
    },
    "com.azure.loadtestservice#PlaywrightWorkspacePropertiesRegionalAffinity": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Controls the connection region for client workers to cloud-hosted browsers. When enabled, workers connect to browsers in the closest Azure region for lower latency. When disabled, workers connect to browsers in the Azure region where the workspace was created."
      }
    },
    "com.azure.loadtestservice#PlaywrightWorkspacesUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.loadtestservice#PlaywrightWorkspacesUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "playwrightWorkspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the PlaywrightWorkspace"
          }
        },
        "tags": {
          "target": "com.azure.loadtestservice#PlaywrightWorkspacesUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "properties": {
          "target": "com.azure.loadtestservice#PlaywrightWorkspaceUpdateProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.loadtestservice#PlaywrightWorkspaceUpdateProperties": {
      "type": "structure",
      "members": {
        "regionalAffinity": {
          "target": "com.azure.loadtestservice#EnablementStatus",
          "traits": {
            "smithy.api#documentation": "Controls the connection region for client workers to cloud-hosted browsers. When enabled, workers connect to browsers in the closest Azure region for lower latency. When disabled, workers connect to browsers in the Azure region where the workspace was created."
          }
        },
        "localAuth": {
          "target": "com.azure.loadtestservice#EnablementStatus",
          "traits": {
            "smithy.api#documentation": "Enables the workspace to use local authentication through service access tokens for operations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The updatable properties of the PlaywrightWorkspace."
      }
    },
    "com.azure.loadtestservice#EnablementStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of a feature."
      }
    },
    "com.azure.loadtestservice#PlaywrightWorkspacesUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.loadtestservice#PlaywrightWorkspacesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.loadtestservice#PlaywrightWorkspacesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.loadtestservice#PlaywrightWorkspacesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LoadTestService/playwrightWorkspaces/{playwrightWorkspaceName}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Create a PlaywrightWorkspace",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.loadtestservice#PlaywrightWorkspacesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.loadtestservice#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.loadtestservice#PlaywrightWorkspacesCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.loadtestservice#PlaywrightWorkspaceProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.loadtestservice#PlaywrightWorkspacesCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.loadtestservice#PlaywrightWorkspacesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "playwrightWorkspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the PlaywrightWorkspace"
          }
        },
        "tags": {
          "target": "com.azure.loadtestservice#PlaywrightWorkspacesCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.loadtestservice#PlaywrightWorkspacePropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.loadtestservice#PlaywrightWorkspacePropertiesInput": {
      "type": "structure",
      "members": {
        "regionalAffinity": {
          "target": "com.azure.loadtestservice#PlaywrightWorkspacePropertiesInputRegionalAffinity",
          "traits": {
            "smithy.api#documentation": "Controls the connection region for client workers to cloud-hosted browsers. When enabled, workers connect to browsers in the closest Azure region for lower latency. When disabled, workers connect to browsers in the Azure region where the workspace was created."
          }
        },
        "localAuth": {
          "target": "com.azure.loadtestservice#PlaywrightWorkspacePropertiesInputLocalAuth",
          "traits": {
            "smithy.api#documentation": "Enables the workspace to use local authentication through service access tokens for operations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Playwright workspace resource properties."
      }
    },
    "com.azure.loadtestservice#PlaywrightWorkspacePropertiesInputLocalAuth": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enables the workspace to use local authentication through service access tokens for operations."
      }
    },
    "com.azure.loadtestservice#PlaywrightWorkspacePropertiesInputRegionalAffinity": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Controls the connection region for client workers to cloud-hosted browsers. When enabled, workers connect to browsers in the closest Azure region for lower latency. When disabled, workers connect to browsers in the Azure region where the workspace was created."
      }
    },
    "com.azure.loadtestservice#PlaywrightWorkspacesCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.loadtestservice#PlaywrightWorkspacesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.loadtestservice#PlaywrightWorkspacesGetRequest"
      },
      "output": {
        "target": "com.azure.loadtestservice#PlaywrightWorkspacesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LoadTestService/playwrightWorkspaces/{playwrightWorkspaceName}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Get a PlaywrightWorkspace",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.loadtestservice#PlaywrightWorkspacesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
[...]
