{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.logic#OperationsList": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.azure.logic#OperationListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.Logic/operations",
          "code": 200,
          "apiVersion": "2019-05-01"
        },
        "smithy.api#documentation": "Lists all of the available Logic REST API operations.",
        "com.distilled.openapi#apiVersion": "2019-05-01"
      }
    },
    "com.azure.logic#OperationListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.logic#OperationListResultValueList",
          "traits": {
            "smithy.api#documentation": "List of Logic operations supported by the Logic resource provider."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to get the next set of operation list results if there are any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of the request to list Logic operations. It contains a list of operations and a URL link to get the next set of results."
      }
    },
    "com.azure.logic#OperationListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.logic#Operation"
      },
      "traits": {
        "smithy.api#documentation": "List of Logic operations supported by the Logic resource provider."
      }
    },
    "com.azure.logic#Operation": {
      "type": "structure",
      "members": {
        "origin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation: origin"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation name: {provider}/{resource}/{operation}"
          }
        },
        "display": {
          "target": "com.azure.logic#OperationDisplay",
          "traits": {
            "smithy.api#documentation": "The object that represents the operation."
          }
        },
        "properties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Logic REST API operation"
      }
    },
    "com.azure.logic#OperationDisplay": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service provider: Microsoft.Logic"
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource on which the operation is performed: Profile, endpoint, etc."
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation type: Read, write, delete, etc."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation: description."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object that represents the operation."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentManagedApiOperationsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.logic#IntegrationServiceEnvironmentManagedApiOperationsListRequest"
      },
      "output": {
        "target": "com.azure.logic#ApiOperationListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Logic/integrationServiceEnvironments/{integrationServiceEnvironmentName}/managedApis/{apiName}/apiOperations",
          "code": 200,
          "apiVersion": "2019-05-01"
        },
        "smithy.api#documentation": "Gets the managed Api operations.",
        "com.distilled.openapi#apiVersion": "2019-05-01"
      }
    },
    "com.azure.logic#ApiOperationListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.logic#ApiOperationListResultValueList",
          "traits": {
            "smithy.api#documentation": "The api operation definitions for an API."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to get the next set of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of managed API operations."
      }
    },
    "com.azure.logic#ApiOperationListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.logic#ApiOperation"
      },
      "traits": {
        "smithy.api#documentation": "The api operation definitions for an API."
      }
    },
    "com.azure.logic#ApiOperation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the resource type."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource location."
          }
        },
        "tags": {
          "target": "com.azure.logic#ApiOperationTagsMap",
          "traits": {
            "smithy.api#documentation": "The resource tags."
          }
        },
        "properties": {
          "target": "com.azure.logic#ApiOperationPropertiesDefinition"
        }
      },
      "traits": {
        "smithy.api#documentation": "The api operation."
      }
    },
    "com.azure.logic#ApiOperationPropertiesDefinition": {
      "type": "structure",
      "members": {
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The summary of the api operation."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the api operation."
          }
        },
        "visibility": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The visibility of the api operation."
          }
        },
        "trigger": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The trigger type of api operation."
          }
        },
        "triggerHint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The trigger hint for the api operation."
          }
        },
        "pageable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the api operation is pageable."
          }
        },
        "annotation": {
          "target": "com.azure.logic#ApiOperationAnnotation",
          "traits": {
            "smithy.api#documentation": "The annotation of api operation."
          }
        },
        "api": {
          "target": "com.azure.logic#ApiReference",
          "traits": {
            "smithy.api#documentation": "The api reference."
          }
        },
        "inputsDefinition": {
          "target": "com.azure.logic#SwaggerSchema",
          "traits": {
            "smithy.api#documentation": "The operation inputs definition schema."
          }
        },
        "responsesDefinition": {
          "target": "com.azure.logic#ApiOperationPropertiesDefinitionResponsesDefinitionMap",
          "traits": {
            "smithy.api#documentation": "The operation responses definition schemas."
          }
        },
        "isWebhook": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the API operation is webhook or not."
          }
        },
        "isNotification": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the API operation is notification or not."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The api operations properties"
      }
    },
    "com.azure.logic#ApiOperationPropertiesDefinitionResponsesDefinitionMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.logic#SwaggerSchema"
      },
      "traits": {
        "smithy.api#documentation": "The operation responses definition schemas."
      }
    },
    "com.azure.logic#SwaggerSchema": {
      "type": "structure",
      "members": {
        "ref": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reference."
          }
        },
        "type": {
          "target": "com.azure.logic#SwaggerSchemaType",
          "traits": {
            "smithy.api#documentation": "The type"
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title."
          }
        },
        "items": {
          "target": "com.azure.logic#SwaggerSchema",
          "traits": {
            "smithy.api#documentation": "The items schema."
          }
        },
        "properties": {
          "target": "com.azure.logic#SwaggerSchemaPropertiesMap",
          "traits": {
            "smithy.api#documentation": "The object properties"
          }
        },
        "additionalProperties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The additional properties."
          }
        },
        "required": {
          "target": "com.azure.logic#SwaggerSchemaRequiredList",
          "traits": {
            "smithy.api#documentation": "The object required properties."
          }
        },
        "maxProperties": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of allowed properties."
          }
        },
        "minProperties": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The minimum number of allowed properties."
          }
        },
        "allOf": {
          "target": "com.azure.logic#SwaggerSchemaAllOfList",
          "traits": {
            "smithy.api#documentation": "The schemas which must pass validation when this schema is used."
          }
        },
        "discriminator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The discriminator."
          }
        },
        "readOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether this property must be present in the a request."
          }
        },
        "xml": {
          "target": "com.azure.logic#SwaggerXml",
          "traits": {
            "smithy.api#documentation": "The xml representation format for a property."
          }
        },
        "externalDocs": {
          "target": "com.azure.logic#SwaggerExternalDocumentation",
          "traits": {
            "smithy.api#documentation": "The external documentation."
          }
        },
        "example": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The example value."
          }
        },
        "notificationUrlExtension": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates the notification url extension. If this is set, the property's value should be a callback url for a webhook."
          }
        },
        "dynamicSchemaOld": {
          "target": "com.azure.logic#SwaggerCustomDynamicSchema",
          "traits": {
            "smithy.api#documentation": "The dynamic schema configuration."
          }
        },
        "dynamicSchemaNew": {
          "target": "com.azure.logic#SwaggerCustomDynamicProperties",
          "traits": {
            "smithy.api#documentation": "The dynamic schema configuration."
          }
        },
        "dynamicListNew": {
          "target": "com.azure.logic#SwaggerCustomDynamicList",
          "traits": {
            "smithy.api#documentation": "The dynamic list."
          }
        },
        "dynamicTree": {
          "target": "com.azure.logic#SwaggerCustomDynamicTree",
          "traits": {
            "smithy.api#documentation": "The dynamic values tree configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The swagger schema."
      }
    },
    "com.azure.logic#SwaggerCustomDynamicTree": {
      "type": "structure",
      "members": {
        "settings": {
          "target": "com.azure.logic#SwaggerCustomDynamicTreeSettings",
          "traits": {
            "smithy.api#documentation": "The tree settings"
          }
        },
        "open": {
          "target": "com.azure.logic#SwaggerCustomDynamicTreeCommand",
          "traits": {
            "smithy.api#documentation": "The tree on-open configuration"
          }
        },
        "browse": {
          "target": "com.azure.logic#SwaggerCustomDynamicTreeCommand",
          "traits": {
            "smithy.api#documentation": "The tree on-browse configuration"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The swagger custom dynamic tree."
      }
    },
    "com.azure.logic#SwaggerCustomDynamicTreeCommand": {
      "type": "structure",
      "members": {
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path to an item property which defines the display name of the item."
          }
        },
        "itemsPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path to an item property which defines the display name of the item."
          }
        },
        "itemValuePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path to an item property which defines the display name of the item."
          }
        },
        "itemTitlePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path to an item property which defines the display name of the item."
          }
        },
        "itemFullTitlePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path to an item property which defines the display name of the item."
          }
        },
        "itemIsParent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path to an item property which defines the display name of the item."
          }
        },
        "selectableFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path to an item property which defines the display name of the item."
          }
        },
        "parameters": {
          "target": "com.azure.logic#SwaggerCustomDynamicTreeCommandParametersMap"
        }
      },
      "traits": {
        "smithy.api#documentation": "The swagger tree command."
      }
    },
    "com.azure.logic#SwaggerCustomDynamicTreeCommandParametersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.logic#SwaggerCustomDynamicTreeParameter"
      },
      "traits": {}
    },
    "com.azure.logic#SwaggerCustomDynamicTreeParameter": {
      "type": "structure",
      "members": {
        "selectedItemValuePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets a path to a property in the currently selected item to pass as a value to a parameter for the given operation."
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The parameter value."
          }
        },
        "parameterReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parameter reference."
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the parameter is required."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The swagger custom dynamic tree parameter."
      }
    },
    "com.azure.logic#SwaggerCustomDynamicTreeSettings": {
      "type": "structure",
      "members": {
        "CanSelectParentNodes": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether parent nodes can be selected."
          }
        },
        "CanSelectLeafNodes": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether leaf nodes can be selected."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The swagger custom dynamic tree settings."
      }
    },
    "com.azure.logic#SwaggerCustomDynamicList": {
      "type": "structure",
      "members": {
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operation id to fetch dynamic schema."
          }
        },
        "builtInOperation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The built in operation."
          }
        },
        "itemsPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path to a response property (relative to the response object, not the response body) which contains an array of dynamic value items."
          }
        },
        "itemValuePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path to a property which defines the value which should be used."
          }
        },
        "itemTitlePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path to an item property which defines the display name of the item."
          }
        },
        "parameters": {
          "target": "com.azure.logic#SwaggerCustomDynamicListParametersMap",
          "traits": {
            "smithy.api#documentation": "The parameters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The swagger custom dynamic list."
      }
    },
    "com.azure.logic#SwaggerCustomDynamicListParametersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.logic#SwaggerCustomDynamicProperties"
      },
      "traits": {
        "smithy.api#documentation": "The parameters."
      }
    },
    "com.azure.logic#SwaggerCustomDynamicProperties": {
      "type": "structure",
      "members": {
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operation id to fetch dynamic schema."
          }
        },
        "valuePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Json pointer to the dynamic schema on the response body."
          }
        },
        "parameters": {
          "target": "com.azure.logic#SwaggerCustomDynamicPropertiesParametersMap",
          "traits": {
            "smithy.api#documentation": "The operation parameters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The swagger custom dynamic properties."
      }
    },
    "com.azure.logic#SwaggerCustomDynamicPropertiesParametersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.logic#SwaggerCustomDynamicProperties"
      },
      "traits": {
        "smithy.api#documentation": "The operation parameters."
      }
    },
    "com.azure.logic#SwaggerCustomDynamicSchema": {
      "type": "structure",
      "members": {
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operation id to fetch dynamic schema."
          }
        },
        "valuePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Json pointer to the dynamic schema on the response body."
          }
        },
        "parameters": {
          "target": "com.azure.logic#SwaggerCustomDynamicSchemaParametersMap",
          "traits": {
            "smithy.api#documentation": "The operation parameters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The swagger custom dynamic schema."
      }
    },
    "com.azure.logic#SwaggerCustomDynamicSchemaParametersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The operation parameters."
      }
    },
    "com.azure.logic#SwaggerExternalDocumentation": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The document description."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The documentation Uri."
          }
        },
        "extensions": {
          "target": "com.azure.logic#SwaggerExternalDocumentationExtensionsMap",
          "traits": {
            "smithy.api#documentation": "The vendor extensions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The swagger external documentation"
      }
    },
    "com.azure.logic#SwaggerExternalDocumentationExtensionsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The vendor extensions."
      }
    },
    "com.azure.logic#SwaggerXml": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The xml element or attribute name."
          }
        },
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The xml namespace."
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name prefix."
          }
        },
        "attribute": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the property should be an attribute instead of an element."
          }
        },
        "wrapped": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the array elements are wrapped in a container element."
          }
        },
        "extensions": {
          "target": "com.azure.logic#SwaggerXmlExtensionsMap",
          "traits": {
            "smithy.api#documentation": "The vendor extensions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Swagger XML."
      }
    },
    "com.azure.logic#SwaggerXmlExtensionsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The vendor extensions."
      }
    },
    "com.azure.logic#SwaggerSchemaAllOfList": {
      "type": "list",
      "member": {
        "target": "com.azure.logic#SwaggerSchema"
      },
      "traits": {
        "smithy.api#documentation": "The schemas which must pass validation when this schema is used."
      }
    },
    "com.azure.logic#SwaggerSchemaRequiredList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The object required properties."
      }
    },
    "com.azure.logic#SwaggerSchemaPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.logic#SwaggerSchema"
      },
      "traits": {
        "smithy.api#documentation": "The object properties"
      }
    },
    "com.azure.logic#SwaggerSchemaType": {
      "type": "enum",
      "members": {
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "String"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Number"
          }
        },
        "INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Integer"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Boolean"
          }
        },
        "ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Array"
          }
        },
        "FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "File"
          }
        },
        "OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Object"
          }
        },
        "NULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Null"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The swagger schema type."
      }
    },
    "com.azure.logic#ApiReference": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the resource type."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the api."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the api."
          }
        },
        "iconUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The icon uri of the api."
          }
        },
        "swagger": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The swagger of the api."
          }
        },
        "brandColor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The brand color of the api."
          }
        },
        "category": {
          "target": "com.azure.logic#ApiTier",
          "traits": {
            "smithy.api#documentation": "The tier."
          }
        },
        "integrationServiceEnvironment": {
          "target": "com.azure.logic#ResourceReference",
          "traits": {
            "smithy.api#documentation": "The integration service environment reference."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Api reference."
      }
    },
    "com.azure.logic#ResourceReference": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the resource type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource reference."
      }
    },
    "com.azure.logic#ApiTier": {
      "type": "enum",
      "members": {
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enterprise"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Premium"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Api tier."
      }
    },
    "com.azure.logic#ApiOperationAnnotation": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.logic#StatusAnnotation"
        },
        "family": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The family."
          }
        },
        "revision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The revision."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Api Operation Annotation."
      }
    },
    "com.azure.logic#StatusAnnotation": {
      "type": "enum",
      "members": {
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Production"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status annotation."
      }
    },
    "com.azure.logic#ApiOperationTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The resource tags."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentManagedApiOperationsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription id."
          }
        },
        "resourceGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource group."
          }
        },
        "integrationServiceEnvironmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The integration service environment name."
          }
        },
        "apiName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The api name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentManagedApisDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.logic#IntegrationServiceEnvironmentManagedApisDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Logic/integrationServiceEnvironments/{integrationServiceEnvironmentName}/managedApis/{apiName}",
          "code": 200,
          "apiVersion": "2019-05-01"
        },
        "smithy.api#documentation": "Deletes the integration service environment managed Api.",
        "com.distilled.openapi#apiVersion": "2019-05-01"
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentManagedApisDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription id."
          }
        },
        "resourceGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource group."
          }
        },
        "integrationServiceEnvironmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The integration service environment name."
          }
        },
        "apiName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The api name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentManagedApisPut": {
      "type": "operation",
      "input": {
        "target": "com.azure.logic#IntegrationServiceEnvironmentManagedApisPutRequest"
      },
      "output": {
        "target": "com.azure.logic#IntegrationServiceEnvironmentManagedApisPutResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Logic/integrationServiceEnvironments/{integrationServiceEnvironmentName}/managedApis/{apiName}",
          "code": 200,
          "apiVersion": "2019-05-01"
        },
        "smithy.api#documentation": "Puts the integration service environment managed Api.",
        "com.distilled.openapi#apiVersion": "2019-05-01"
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentManagedApisPutResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the resource type."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource location."
          }
        },
        "tags": {
          "target": "com.azure.logic#IntegrationServiceEnvironmentManagedApisPutResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "The resource tags."
          }
        },
        "properties": {
          "target": "com.azure.logic#IntegrationServiceEnvironmentManagedApiProperties",
          "traits": {
            "smithy.api#documentation": "The integration service environment managed api properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentManagedApiProperties": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name"
          }
        },
        "connectionParameters": {
          "target": "com.azure.logic#IntegrationServiceEnvironmentManagedApiPropertiesConnectionParametersMap",
          "traits": {
            "smithy.api#documentation": "The connection parameters."
          }
        },
        "metadata": {
          "target": "com.azure.logic#ApiResourceMetadata",
          "traits": {
            "smithy.api#documentation": "The metadata."
          }
        },
        "runtimeUrls": {
          "target": "com.azure.logic#IntegrationServiceEnvironmentManagedApiPropertiesRuntimeUrlsList",
          "traits": {
            "smithy.api#documentation": "The runtime urls."
          }
        },
        "generalInformation": {
          "target": "com.azure.logic#ApiResourceGeneralInformation",
          "traits": {
            "smithy.api#documentation": "The api general information."
          }
        },
        "capabilities": {
          "target": "com.azure.logic#IntegrationServiceEnvironmentManagedApiPropertiesCapabilitiesList",
          "traits": {
            "smithy.api#documentation": "The capabilities."
          }
        },
        "backendService": {
          "target": "com.azure.logic#ApiResourceBackendService",
          "traits": {
            "smithy.api#documentation": "The backend service."
          }
        },
        "policies": {
          "target": "com.azure.logic#ApiResourcePolicies",
          "traits": {
            "smithy.api#documentation": "The policies for the API."
          }
        },
        "apiDefinitionUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API definition."
          }
        },
        "apiDefinitions": {
          "target": "com.azure.logic#ApiResourceDefinitions",
          "traits": {
            "smithy.api#documentation": "The api definitions."
          }
        },
        "integrationServiceEnvironment": {
          "target": "com.azure.logic#ResourceReference",
          "traits": {
            "smithy.api#documentation": "The integration service environment reference."
          }
        },
        "provisioningState": {
          "target": "com.azure.logic#WorkflowProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state."
          }
        },
        "category": {
          "target": "com.azure.logic#ApiTier",
          "traits": {
            "smithy.api#documentation": "The category."
          }
        },
        "deploymentParameters": {
          "target": "com.azure.logic#IntegrationServiceEnvironmentManagedApiDeploymentParameters",
          "traits": {
            "smithy.api#documentation": "The integration service environment managed api deployment parameters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The integration service environment managed api properties."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentManagedApiDeploymentParameters": {
      "type": "structure",
      "members": {
        "contentLinkDefinition": {
          "target": "com.azure.logic#ContentLink",
          "traits": {
            "smithy.api#documentation": "The integration service environment managed api content link for deployment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The integration service environment managed api deployment parameters."
      }
    },
    "com.azure.logic#ContentLink": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content link URI."
          }
        },
        "contentVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content version."
          }
        },
        "contentSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The content size."
          }
        },
        "contentHash": {
          "target": "com.azure.logic#ContentHash",
          "traits": {
            "smithy.api#documentation": "The content hash."
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The metadata."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The content link."
      }
    },
    "com.azure.logic#ContentHash": {
      "type": "structure",
      "members": {
        "algorithm": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The algorithm of the content hash."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the content hash."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The content hash."
      }
    },
    "com.azure.logic#WorkflowProvisioningState": {
      "type": "enum",
      "members": {
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ready"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Created"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleted"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "MOVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Moving"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "REGISTERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Registering"
          }
        },
        "REGISTERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Registered"
          }
        },
        "UNREGISTERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unregistering"
          }
        },
        "UNREGISTERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unregistered"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Completed"
          }
        },
        "RENEWING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Renewing"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "WAITING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Waiting"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The workflow provisioning state."
      }
    },
    "com.azure.logic#ApiResourceDefinitions": {
      "type": "structure",
      "members": {
        "originalSwaggerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The original swagger url."
          }
        },
        "modifiedSwaggerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The modified swagger url."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Api resource definition."
      }
    },
    "com.azure.logic#ApiResourcePolicies": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API level only policies XML as embedded content."
          }
        },
        "contentLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content link to the policies."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The API resource policies."
      }
    },
    "com.azure.logic#ApiResourceBackendService": {
      "type": "structure",
      "members": {
        "serviceUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service URL."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The API backend service."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentManagedApiPropertiesCapabilitiesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The capabilities."
      }
    },
    "com.azure.logic#ApiResourceGeneralInformation": {
      "type": "structure",
      "members": {
        "iconUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The icon url."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description."
          }
        },
        "termsOfUseUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The terms of use url."
          }
        },
        "releaseTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The release tag."
          }
        },
        "tier": {
          "target": "com.azure.logic#ApiTier",
          "traits": {
            "smithy.api#documentation": "The tier."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The API general information."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentManagedApiPropertiesRuntimeUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The runtime urls."
      }
    },
    "com.azure.logic#ApiResourceMetadata": {
      "type": "structure",
      "members": {
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source."
          }
        },
        "brandColor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The brand color."
          }
        },
        "hideKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The hide key."
          }
        },
        "tags": {
          "target": "com.azure.logic#ApiResourceMetadataTagsMap",
          "traits": {
            "smithy.api#documentation": "The tags."
          }
        },
        "ApiType": {
          "target": "com.azure.logic#ApiType",
          "traits": {
            "smithy.api#documentation": "The api type."
          }
        },
        "wsdlService": {
          "target": "com.azure.logic#WsdlService",
          "traits": {
            "smithy.api#documentation": "The WSDL service."
          }
        },
        "wsdlImportMethod": {
          "target": "com.azure.logic#WsdlImportMethod",
          "traits": {
            "smithy.api#documentation": "The WSDL import method."
          }
        },
        "connectionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The connection type."
          }
        },
        "provisioningState": {
          "target": "com.azure.logic#WorkflowProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state."
          }
        },
        "deploymentParameters": {
          "target": "com.azure.logic#ApiDeploymentParameterMetadataSet",
          "traits": {
            "smithy.api#documentation": "The connector deployment parameters metadata."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The api resource metadata."
      }
    },
    "com.azure.logic#ApiDeploymentParameterMetadataSet": {
      "type": "structure",
      "members": {
        "packageContentLink": {
          "target": "com.azure.logic#ApiDeploymentParameterMetadata",
          "traits": {
            "smithy.api#documentation": "The package content link parameter."
          }
        },
        "redisCacheConnectionString": {
          "target": "com.azure.logic#ApiDeploymentParameterMetadata",
          "traits": {
            "smithy.api#documentation": "The package content link parameter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The API deployment parameters metadata."
      }
    },
    "com.azure.logic#ApiDeploymentParameterMetadata": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type."
          }
        },
        "isRequired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether its required."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description."
          }
        },
        "visibility": {
          "target": "com.azure.logic#ApiDeploymentParameterVisibility",
          "traits": {
            "smithy.api#documentation": "The visibility."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The API deployment parameter metadata."
      }
    },
    "com.azure.logic#ApiDeploymentParameterVisibility": {
      "type": "enum",
      "members": {
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        },
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Default"
          }
        },
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Internal"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Api deployment parameter visibility."
      }
    },
    "com.azure.logic#WsdlImportMethod": {
      "type": "enum",
      "members": {
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        },
        "SOAPTOREST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SoapToRest"
          }
        },
        "SOAPPASSTHROUGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SoapPassThrough"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The WSDL import method."
      }
    },
    "com.azure.logic#WsdlService": {
      "type": "structure",
      "members": {
        "qualifiedName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The qualified name."
          }
        },
        "EndpointQualifiedNames": {
          "target": "com.azure.logic#WsdlServiceEndpointQualifiedNamesList",
          "traits": {
            "smithy.api#documentation": "The list of endpoints' qualified names."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The WSDL service."
      }
    },
    "com.azure.logic#WsdlServiceEndpointQualifiedNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of endpoints' qualified names."
      }
    },
    "com.azure.logic#ApiType": {
      "type": "enum",
      "members": {
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        },
        "REST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rest"
          }
        },
        "SOAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Soap"
          }
        }
      },
      "traits": {}
    },
    "com.azure.logic#ApiResourceMetadataTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The tags."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentManagedApiPropertiesConnectionParametersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The connection parameters."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentManagedApisPutResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The resource tags."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentManagedApisPutRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription id."
          }
        },
        "resourceGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource group name."
          }
        },
        "integrationServiceEnvironmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The integration service environment name."
          }
        },
        "apiName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The api name."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource location."
          }
        },
        "tags": {
          "target": "com.azure.logic#IntegrationServiceEnvironmentManagedApisPutRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "The resource tags."
          }
        },
        "properties": {
          "target": "com.azure.logic#IntegrationServiceEnvironmentManagedApiPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The integration service environment managed api properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentManagedApiPropertiesInput": {
      "type": "structure",
      "members": {
        "integrationServiceEnvironment": {
          "target": "com.azure.logic#ResourceReferenceInput",
          "traits": {
            "smithy.api#documentation": "The integration service environment reference."
          }
        },
        "deploymentParameters": {
          "target": "com.azure.logic#IntegrationServiceEnvironmentManagedApiDeploymentParametersInput",
          "traits": {
            "smithy.api#documentation": "The integration service environment managed api deployment parameters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The integration service environment managed api properties."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentManagedApiDeploymentParametersInput": {
      "type": "structure",
      "members": {
        "contentLinkDefinition": {
          "target": "com.azure.logic#ContentLinkInput",
          "traits": {
            "smithy.api#documentation": "The integration service environment managed api content link for deployment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The integration service environment managed api deployment parameters."
      }
    },
    "com.azure.logic#ContentLinkInput": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content link URI."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The content link."
      }
    },
    "com.azure.logic#ResourceReferenceInput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource reference."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentManagedApisPutRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The resource tags."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentManagedApisGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.logic#IntegrationServiceEnvironmentManagedApisGetRequest"
      },
      "output": {
        "target": "com.azure.logic#IntegrationServiceEnvironmentManagedApisGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Logic/integrationServiceEnvironments/{integrationServiceEnvironmentName}/managedApis/{apiName}",
          "code": 200,
          "apiVersion": "2019-05-01"
        },
        "smithy.api#documentation": "Gets the integration service environment managed Api.",
        "com.distilled.openapi#apiVersion": "2019-05-01"
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentManagedApisGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the resource type."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource location."
          }
        },
        "tags": {
          "target": "com.azure.logic#IntegrationServiceEnvironmentManagedApisGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "The resource tags."
          }
        },
        "properties": {
          "target": "com.azure.logic#IntegrationServiceEnvironmentManagedApiProperties",
          "traits": {
            "smithy.api#documentation": "The integration service environment managed api properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentManagedApisGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The resource tags."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentManagedApisGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription id."
          }
        },
        "resourceGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource group name."
          }
        },
        "integrationServiceEnvironmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The integration service environment name."
          }
        },
        "apiName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The api name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentManagedApisList": {
      "type": "operation",
      "input": {
        "target": "com.azure.logic#IntegrationServiceEnvironmentManagedApisListRequest"
      },
      "output": {
        "target": "com.azure.logic#IntegrationServiceEnvironmentManagedApiListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Logic/integrationServiceEnvironments/{integrationServiceEnvironmentName}/managedApis",
          "code": 200,
          "apiVersion": "2019-05-01"
        },
        "smithy.api#documentation": "Gets the integration service environment managed Apis.",
        "com.distilled.openapi#apiVersion": "2019-05-01"
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentManagedApiListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.logic#IntegrationServiceEnvironmentManagedApiListResultValueList",
          "traits": {
            "smithy.api#documentation": "The integration service environment managed APIs."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to get the next set of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of integration service environment managed APIs."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentManagedApiListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.logic#IntegrationServiceEnvironmentManagedApi"
      },
      "traits": {
        "smithy.api#documentation": "The integration service environment managed APIs."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentManagedApi": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the resource type."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource location."
          }
        },
        "tags": {
          "target": "com.azure.logic#IntegrationServiceEnvironmentManagedApiTagsMap",
          "traits": {
            "smithy.api#documentation": "The resource tags."
          }
        },
        "properties": {
          "target": "com.azure.logic#IntegrationServiceEnvironmentManagedApiProperties",
          "traits": {
            "smithy.api#documentation": "The integration service environment managed api properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The integration service environment managed api."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentManagedApiTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The resource tags."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentManagedApisListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription id."
          }
        },
        "resourceGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource group."
          }
        },
        "integrationServiceEnvironmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The integration service environment name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentNetworkHealthGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.logic#IntegrationServiceEnvironmentNetworkHealthGetRequest"
      },
      "output": {
        "target": "com.azure.logic#IntegrationServiceEnvironmentNetworkHealthGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Logic/integrationServiceEnvironments/{integrationServiceEnvironmentName}/health/network",
          "code": 200,
          "apiVersion": "2019-05-01"
        },
        "smithy.api#documentation": "Gets the integration service environment network health.",
        "com.distilled.openapi#apiVersion": "2019-05-01"
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentNetworkHealthGetResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.azure.logic#IntegrationServiceEnvironmentNetworkHealth",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentNetworkHealth": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.logic#IntegrationServiceEnvironmentSubnetNetworkHealth"
      },
      "traits": {
        "smithy.api#documentation": "The integration service environment network health of all the subnets."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentSubnetNetworkHealth": {
      "type": "structure",
      "members": {
        "outboundNetworkDependencies": {
          "target": "com.azure.logic#IntegrationServiceEnvironmentSubnetNetworkHealthOutboundNetworkDependenciesList",
          "traits": {
            "smithy.api#documentation": "The outbound network dependencies."
          }
        },
        "outboundNetworkHealth": {
          "target": "com.azure.logic#IntegrationServiceEnvironmentNetworkDependencyHealth",
          "traits": {
            "smithy.api#documentation": "The integration service environment network health."
          }
        },
        "networkDependencyHealthState": {
          "target": "com.azure.logic#IntegrationServiceEnvironmentNetworkEndPointAccessibilityState",
          "traits": {
            "smithy.api#documentation": "The integration service environment network health state.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The integration service environment subnet network health."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentNetworkEndPointAccessibilityState": {
      "type": "enum",
      "members": {
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Available"
          }
        },
        "NOTAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotAvailable"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The integration service environment network endpoint accessibility state."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentNetworkDependencyHealth": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.azure.logic#ExtendedErrorInfo",
          "traits": {
            "smithy.api#documentation": "The error if any occurred during the operation."
          }
        },
        "state": {
          "target": "com.azure.logic#IntegrationServiceEnvironmentNetworkDependencyHealthState",
          "traits": {
            "smithy.api#documentation": "The network dependency health state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The integration service environment subnet network health."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentNetworkDependencyHealthState": {
      "type": "enum",
      "members": {
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        },
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Healthy"
          }
        },
        "UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unhealthy"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The integration service environment network dependency health state."
      }
    },
    "com.azure.logic#ExtendedErrorInfo": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.azure.logic#ErrorResponseCode",
          "traits": {
            "smithy.api#documentation": "The error code.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message.",
            "smithy.api#required": {}
          }
        },
        "details": {
          "target": "com.azure.logic#ExtendedErrorInfoDetailsList",
          "traits": {
            "smithy.api#documentation": "The error message details."
          }
        },
        "innerError": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The inner error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The extended error info."
      }
    },
    "com.azure.logic#ExtendedErrorInfoDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.logic#ExtendedErrorInfo"
      },
      "traits": {
        "smithy.api#documentation": "The error message details."
      }
    },
    "com.azure.logic#ErrorResponseCode": {
      "type": "enum",
      "members": {
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        },
        "INTEGRATIONSERVICEENVIRONMENTNOTFOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IntegrationServiceEnvironmentNotFound"
          }
        },
        "INTERNALSERVERERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InternalServerError"
          }
        },
        "INVALIDOPERATIONID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InvalidOperationId"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The error response code."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentSubnetNetworkHealthOutboundNetworkDependenciesList": {
      "type": "list",
      "member": {
        "target": "com.azure.logic#IntegrationServiceEnvironmentNetworkDependency"
      },
      "traits": {
        "smithy.api#documentation": "The outbound network dependencies."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentNetworkDependency": {
      "type": "structure",
      "members": {
        "category": {
          "target": "com.azure.logic#IntegrationServiceEnvironmentNetworkDependencyCategoryType",
          "traits": {
            "smithy.api#documentation": "The network dependency category type."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name."
          }
        },
        "endpoints": {
          "target": "com.azure.logic#IntegrationServiceEnvironmentNetworkDependencyEndpointsList",
          "traits": {
            "smithy.api#documentation": "The endpoints."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The azure async operation resource."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentNetworkDependencyEndpointsList": {
      "type": "list",
      "member": {
        "target": "com.azure.logic#IntegrationServiceEnvironmentNetworkEndpoint"
      },
      "traits": {
        "smithy.api#documentation": "The endpoints."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentNetworkEndpoint": {
      "type": "structure",
      "members": {
        "accessibility": {
          "target": "com.azure.logic#IntegrationServiceEnvironmentNetworkEndPointAccessibilityState",
          "traits": {
            "smithy.api#documentation": "The accessibility state."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain name."
          }
        },
        "ports": {
          "target": "com.azure.logic#IntegrationServiceEnvironmentNetworkEndpointPortsList",
          "traits": {
            "smithy.api#documentation": "The ports."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The network endpoint."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentNetworkEndpointPortsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The ports."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentNetworkDependencyCategoryType": {
      "type": "enum",
      "members": {
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        },
        "AZURESTORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureStorage"
          }
        },
        "AZUREMANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureManagement"
          }
        },
        "AZUREACTIVEDIRECTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureActiveDirectory"
          }
        },
        "SSLCERTIFICATEVERIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSLCertificateVerification"
          }
        },
        "DIAGNOSTICLOGSANDMETRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DiagnosticLogsAndMetrics"
          }
        },
        "INTEGRATIONSERVICEENVIRONMENTCONNECTORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IntegrationServiceEnvironmentConnectors"
          }
        },
        "REDISCACHE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RedisCache"
          }
        },
        "ACCESSENDPOINTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AccessEndpoints"
          }
        },
        "RECOVERYSERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RecoveryService"
          }
        },
        "SQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL"
          }
        },
        "REGIONALSERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RegionalService"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The integration service environment network dependency category type."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentNetworkHealthGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription id."
          }
        },
        "resourceGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource group."
          }
        },
        "integrationServiceEnvironmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The integration service environment name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentsRestart": {
      "type": "operation",
      "input": {
        "target": "com.azure.logic#IntegrationServiceEnvironmentsRestartRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Logic/integrationServiceEnvironments/{integrationServiceEnvironmentName}/restart",
          "code": 200,
          "apiVersion": "2019-05-01"
        },
        "smithy.api#documentation": "Restarts an integration service environment.",
        "com.distilled.openapi#apiVersion": "2019-05-01"
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentsRestartRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription id."
          }
        },
        "resourceGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource group."
          }
        },
        "integrationServiceEnvironmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The integration service environment name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentSkusList": {
      "type": "operation",
      "input": {
        "target": "com.azure.logic#IntegrationServiceEnvironmentSkusListRequest"
      },
      "output": {
        "target": "com.azure.logic#IntegrationServiceEnvironmentSkuList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Logic/integrationServiceEnvironments/{integrationServiceEnvironmentName}/skus",
          "code": 200,
          "apiVersion": "2019-05-01"
        },
        "smithy.api#documentation": "Gets a list of integration service environment Skus.",
        "com.distilled.openapi#apiVersion": "2019-05-01"
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentSkuList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.logic#IntegrationServiceEnvironmentSkuListValueList",
          "traits": {
            "smithy.api#documentation": "The list of integration service environment skus."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to get the next set of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of integration service environment skus."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentSkuListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.logic#IntegrationServiceEnvironmentSkuDefinition"
      },
      "traits": {
        "smithy.api#documentation": "The list of integration service environment skus."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentSkuDefinition": {
      "type": "structure",
      "members": {
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type."
          }
        },
        "sku": {
          "target": "com.azure.logic#IntegrationServiceEnvironmentSkuDefinitionSku",
          "traits": {
            "smithy.api#documentation": "The sku."
          }
        },
        "capacity": {
          "target": "com.azure.logic#IntegrationServiceEnvironmentSkuCapacity",
          "traits": {
            "smithy.api#documentation": "The sku capacity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The integration service environment sku definition."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentSkuCapacity": {
      "type": "structure",
      "members": {
        "minimum": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The minimum capacity."
          }
        },
        "maximum": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum capacity."
          }
        },
        "default": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The default capacity."
          }
        },
        "scaleType": {
          "target": "com.azure.logic#IntegrationServiceEnvironmentSkuScaleType",
          "traits": {
            "smithy.api#documentation": "The sku scale type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The integration service environment sku capacity."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentSkuScaleType": {
      "type": "enum",
      "members": {
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Manual"
          }
        },
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Automatic"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The integration service environment sku scale type."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentSkuDefinitionSku": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.azure.logic#IntegrationServiceEnvironmentSkuName",
          "traits": {
            "smithy.api#documentation": "The sku name."
          }
        },
        "tier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sku tier."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The sku."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentSkuName": {
      "type": "enum",
      "members": {
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        },
        "PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Premium"
          }
        },
        "DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Developer"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The integration service environment sku name."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentSkusListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription id."
          }
        },
        "resourceGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource group."
          }
        },
        "integrationServiceEnvironmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The integration service environment name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.logic#IntegrationServiceEnvironmentsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Logic/integrationServiceEnvironments/{integrationServiceEnvironmentName}",
          "code": 200,
          "apiVersion": "2019-05-01"
        },
        "smithy.api#documentation": "Deletes an integration service environment.",
        "com.distilled.openapi#apiVersion": "2019-05-01"
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription id."
          }
        },
        "resourceGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource group."
          }
        },
        "integrationServiceEnvironmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The integration service environment name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.logic#IntegrationServiceEnvironmentsUpdateRequest"
      },
      "output": {
        "target": "com.azure.logic#IntegrationServiceEnvironmentsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Logic/integrationServiceEnvironments/{integrationServiceEnvironmentName}",
          "code": 200,
          "apiVersion": "2019-05-01"
        },
        "smithy.api#documentation": "Updates an integration service environment.",
        "com.distilled.openapi#apiVersion": "2019-05-01"
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the resource type."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource location."
          }
        },
        "tags": {
          "target": "com.azure.logic#IntegrationServiceEnvironmentsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "The resource tags."
          }
        },
        "properties": {
          "target": "com.azure.logic#IntegrationServiceEnvironmentProperties",
          "traits": {
            "smithy.api#documentation": "The integration service environment properties."
          }
        },
        "sku": {
          "target": "com.azure.logic#IntegrationServiceEnvironmentSku",
          "traits": {
            "smithy.api#documentation": "The sku."
          }
        },
        "identity": {
          "target": "com.azure.logic#ManagedServiceIdentity"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.logic#ManagedServiceIdentity": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.logic#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#documentation": "Type of managed service identity. The type 'SystemAssigned' includes an implicitly created identity. The type 'None' will remove any identities from the resource.",
            "smithy.api#required": {}
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tenant of managed service identity."
          }
        },
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Principal Id of managed service identity."
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.logic#ManagedServiceIdentityUserAssignedIdentitiesMap",
          "traits": {
            "smithy.api#documentation": "The list of user assigned identities associated with the resource. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity properties."
      }
    },
    "com.azure.logic#ManagedServiceIdentityUserAssignedIdentitiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.logic#UserAssignedIdentity"
      },
      "traits": {
        "smithy.api#documentation": "The list of user assigned identities associated with the resource. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}"
      }
    },
    "com.azure.logic#UserAssignedIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Principal Id of user assigned identity"
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Client Id of user assigned identity"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User Assigned identity properties."
      }
    },
    "com.azure.logic#ManagedServiceIdentityType": {
      "type": "enum",
      "members": {
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of managed service identity. The type 'SystemAssigned' includes an implicitly created identity. The type 'None' will remove any identities from the resource."
      }
    },
    "com.azure.logic#IntegrationServiceEnvironmentSku": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.azure.logic#IntegrationServiceEnvironmentSkuName",
          "traits": {
            "smithy.api#documentation": "The sku name."
          }
[...]
