{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.machinelearningservices#ServerlessEndpointsRegenerateKeys": {
      "type": "operation",
      "input": {
        "target": "com.azure.machinelearningservices#ServerlessEndpointsRegenerateKeysRequest"
      },
      "output": {
        "target": "com.azure.machinelearningservices#EndpointAuthKeys"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/serverlessEndpoints/{name}/regenerateKeys",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Regenerate EndpointAuthKeys for an Endpoint using Key-based authentication (asynchronous).\n\nRegenerate EndpointAuthKeys for an Endpoint using Key-based authentication (asynchronous).",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.machinelearningservices#EndpointAuthKeys": {
      "type": "structure",
      "members": {
        "primaryKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The primary key.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "secondaryKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secondary key.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Keys for endpoint authentication."
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointsRegenerateKeysRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Azure Machine Learning Workspace Name"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Serverless Endpoint name."
          }
        },
        "keyType": {
          "target": "com.azure.machinelearningservices#KeyType",
          "traits": {
            "smithy.api#documentation": "[Required] Specification for which type of key to generate. Primary or Secondary.",
            "smithy.api#required": {}
          }
        },
        "keyValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value the key is set to.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.machinelearningservices#KeyType": {
      "type": "enum",
      "members": {
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Primary"
          }
        },
        "SECONDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Secondary"
          }
        }
      },
      "traits": {}
    },
    "com.azure.machinelearningservices#ServerlessEndpointsListKeys": {
      "type": "operation",
      "input": {
        "target": "com.azure.machinelearningservices#ServerlessEndpointsListKeysRequest"
      },
      "output": {
        "target": "com.azure.machinelearningservices#EndpointAuthKeys"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/serverlessEndpoints/{name}/listKeys",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "List EndpointAuthKeys for an Endpoint using Key-based authentication.\n\nList EndpointAuthKeys for an Endpoint using Key-based authentication.",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointsListKeysRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Azure Machine Learning Workspace Name"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Serverless Endpoint name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.machinelearningservices#ServerlessEndpointsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/serverlessEndpoints/{name}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Delete Serverless Endpoint (asynchronous).\n\nDelete Serverless Endpoint (asynchronous).",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Azure Machine Learning Workspace Name"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Serverless Endpoint name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.machinelearningservices#ServerlessEndpointsUpdateRequest"
      },
      "output": {
        "target": "com.azure.machinelearningservices#ServerlessEndpointsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/serverlessEndpoints/{name}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Update Serverless Endpoint (asynchronous).\n\nUpdate Serverless Endpoint (asynchronous).",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.machinelearningservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.machinelearningservices#ServerlessEndpointsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.machinelearningservices#ServerlessEndpointProperties",
          "traits": {
            "smithy.api#documentation": "[Required] Additional attributes of the entity.",
            "smithy.api#required": {}
          }
        },
        "identity": {
          "target": "com.azure.machinelearningservices#ServerlessEndpointsUpdateResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type."
          }
        },
        "sku": {
          "target": "com.azure.machinelearningservices#ServerlessEndpointsUpdateResponseSku",
          "traits": {
            "smithy.api#documentation": "The resource model definition representing SKU"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointsUpdateResponseSku": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the SKU. Ex - P3. It is typically a letter+number code",
            "smithy.api#required": {}
          }
        },
        "tier": {
          "target": "com.azure.machinelearningservices#SkuTier"
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SKU size. When the name field is the combination of tier and some other value, this would be the standalone code. "
          }
        },
        "family": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the service has different generations of hardware, for the same SKU, then that can be captured here."
          }
        },
        "capacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If the SKU supports scale out/in then the capacity integer should be included. If scale out/in is not possible for the resource this may be omitted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource model definition representing SKU"
      }
    },
    "com.azure.machinelearningservices#SkuTier": {
      "type": "enum",
      "members": {
        "FREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Free"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Basic"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Premium"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This field is required to be implemented by the Resource Provider if the service has more than one tier, but is not required on a PUT."
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointsUpdateResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.machinelearningservices#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.machinelearningservices#UserAssignedIdentities",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.machinelearningservices#UserAssignedIdentities": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.machinelearningservices#UserAssignedIdentity"
      },
      "traits": {
        "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
      }
    },
    "com.azure.machinelearningservices#UserAssignedIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of the assigned identity."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client ID of the assigned identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User assigned identity properties"
      }
    },
    "com.azure.machinelearningservices#ManagedServiceIdentityType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        },
        "SYSTEMASSIGNED_USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned,UserAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of managed service identity (where both SystemAssigned and UserAssigned types are allowed)."
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointProperties": {
      "type": "structure",
      "members": {
        "authMode": {
          "target": "com.azure.machinelearningservices#ServerlessInferenceEndpointAuthMode",
          "traits": {
            "smithy.api#documentation": "[Required] Specifies the authentication mode for the Serverless endpoint.",
            "smithy.api#required": {}
          }
        },
        "contentSafety": {
          "target": "com.azure.machinelearningservices#ContentSafety",
          "traits": {
            "smithy.api#documentation": "Specifies the content safety options. If omitted, the default content safety settings will be configured",
            "com.distilled.openapi#nullable": {}
          }
        },
        "endpointState": {
          "target": "com.azure.machinelearningservices#ServerlessEndpointState",
          "traits": {
            "smithy.api#documentation": "The current state of the ServerlessEndpoint."
          }
        },
        "inferenceEndpoint": {
          "target": "com.azure.machinelearningservices#ServerlessInferenceEndpoint",
          "traits": {
            "smithy.api#documentation": "The inference uri to target when making requests against the serverless endpoint",
            "com.distilled.openapi#nullable": {}
          }
        },
        "marketplaceSubscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The MarketplaceSubscription Azure ID associated to this ServerlessEndpoint.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "modelSettings": {
          "target": "com.azure.machinelearningservices#ModelSettings",
          "traits": {
            "smithy.api#documentation": "The model settings (model id) for the model being serviced on the ServerlessEndpoint.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.machinelearningservices#EndpointProvisioningState",
          "traits": {
            "smithy.api#documentation": "State of endpoint provisioning."
          }
        }
      },
      "traits": {}
    },
    "com.azure.machinelearningservices#EndpointProvisioningState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State of endpoint provisioning."
      }
    },
    "com.azure.machinelearningservices#ModelSettings": {
      "type": "structure",
      "members": {
        "modelId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique model identifier that this ServerlessEndpoint should provision.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.azure.machinelearningservices#ServerlessInferenceEndpoint": {
      "type": "structure",
      "members": {
        "headers": {
          "target": "com.azure.machinelearningservices#ServerlessInferenceEndpointHeadersMap",
          "traits": {
            "smithy.api#documentation": "Specifies any required headers to target this serverless endpoint.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "[Required] The inference uri to target when making requests against the Serverless Endpoint.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.azure.machinelearningservices#ServerlessInferenceEndpointHeadersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Specifies any required headers to target this serverless endpoint."
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointState": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "SUSPENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Suspending"
          }
        },
        "REINSTATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Reinstating"
          }
        },
        "ONLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Online"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Suspended"
          }
        },
        "CREATIONFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreationFailed"
          }
        },
        "DELETIONFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeletionFailed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State of the Serverless Endpoint."
      }
    },
    "com.azure.machinelearningservices#ContentSafety": {
      "type": "structure",
      "members": {
        "contentSafetyStatus": {
          "target": "com.azure.machinelearningservices#ContentSafetyStatus",
          "traits": {
            "smithy.api#documentation": "[Required] Specifies the status of content safety.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.azure.machinelearningservices#ContentSafetyStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the status of content safety."
      }
    },
    "com.azure.machinelearningservices#ServerlessInferenceEndpointAuthMode": {
      "type": "enum",
      "members": {
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        },
        "AAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AAD"
          }
        },
        "KEYANDAAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KeyAndAAD"
          }
        }
      },
      "traits": {}
    },
    "com.azure.machinelearningservices#ServerlessEndpointsUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.machinelearningservices#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.machinelearningservices#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.machinelearningservices#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.machinelearningservices#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.machinelearningservices#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Azure Machine Learning Workspace Name"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Serverless Endpoint name."
          }
        },
        "tags": {
          "target": "com.azure.machinelearningservices#ServerlessEndpointsUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "identity": {
          "target": "com.azure.machinelearningservices#PartialManagedServiceIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        },
        "sku": {
          "target": "com.azure.machinelearningservices#PartialSku",
          "traits": {
            "smithy.api#documentation": "Sku details required for ARM contract for Autoscaling."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.machinelearningservices#PartialSku": {
      "type": "structure",
      "members": {
        "capacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If the SKU supports scale out/in then the capacity integer should be included. If scale out/in is not possible for the resource this may be omitted."
          }
        },
        "family": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the service has different generations of hardware, for the same SKU, then that can be captured here."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the SKU. Ex - P3. It is typically a letter+number code."
          }
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SKU size. When the name field is the combination of tier and some other value, this would be the standalone code."
          }
        },
        "tier": {
          "target": "com.azure.machinelearningservices#PartialSkuTier",
          "traits": {
            "smithy.api#documentation": "This field is required to be implemented by the Resource Provider if the service has more than one tier, but is not required on a PUT."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Common SKU definition."
      }
    },
    "com.azure.machinelearningservices#PartialSkuTier": {
      "type": "enum",
      "members": {
        "FREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Free"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Basic"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Premium"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This field is required to be implemented by the Resource Provider if the service has more than one tier, but is not required on a PUT."
      }
    },
    "com.azure.machinelearningservices#PartialManagedServiceIdentity": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.machinelearningservices#PartialManagedServiceIdentityType",
          "traits": {
            "smithy.api#documentation": "Type of managed service identity (where both SystemAssigned and UserAssigned types are allowed)."
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.machinelearningservices#PartialManagedServiceIdentityUserAssignedIdentitiesMap",
          "traits": {
            "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.machinelearningservices#PartialManagedServiceIdentityUserAssignedIdentitiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
      }
    },
    "com.azure.machinelearningservices#PartialManagedServiceIdentityType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        },
        "SYSTEMASSIGNED_USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned,UserAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of managed service identity (where both SystemAssigned and UserAssigned types are allowed)."
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointsUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.machinelearningservices#ServerlessEndpointsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.machinelearningservices#ServerlessEndpointsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/serverlessEndpoints/{name}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Create or update Serverless Endpoint (asynchronous).\n\nCreate or update Serverless Endpoint (asynchronous).",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.machinelearningservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.machinelearningservices#ServerlessEndpointsCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.machinelearningservices#ServerlessEndpointProperties",
          "traits": {
            "smithy.api#documentation": "[Required] Additional attributes of the entity.",
            "smithy.api#required": {}
          }
        },
        "identity": {
          "target": "com.azure.machinelearningservices#ServerlessEndpointsCreateOrUpdateResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type."
          }
        },
        "sku": {
          "target": "com.azure.machinelearningservices#ServerlessEndpointsCreateOrUpdateResponseSku",
          "traits": {
            "smithy.api#documentation": "The resource model definition representing SKU"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointsCreateOrUpdateResponseSku": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the SKU. Ex - P3. It is typically a letter+number code",
            "smithy.api#required": {}
          }
        },
        "tier": {
          "target": "com.azure.machinelearningservices#SkuTier"
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SKU size. When the name field is the combination of tier and some other value, this would be the standalone code. "
          }
        },
        "family": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the service has different generations of hardware, for the same SKU, then that can be captured here."
          }
        },
        "capacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If the SKU supports scale out/in then the capacity integer should be included. If scale out/in is not possible for the resource this may be omitted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource model definition representing SKU"
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointsCreateOrUpdateResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.machinelearningservices#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.machinelearningservices#UserAssignedIdentities",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointsCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Azure Machine Learning Workspace Name"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Serverless Endpoint name."
          }
        },
        "tags": {
          "target": "com.azure.machinelearningservices#ServerlessEndpointsCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.machinelearningservices#ServerlessEndpointPropertiesInput",
          "traits": {
            "smithy.api#documentation": "[Required] Additional attributes of the entity.",
            "smithy.api#required": {}
          }
        },
        "identity": {
          "target": "com.azure.machinelearningservices#ServerlessEndpointsCreateOrUpdateRequestIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type."
          }
        },
        "sku": {
          "target": "com.azure.machinelearningservices#ServerlessEndpointsCreateOrUpdateRequestSku",
          "traits": {
            "smithy.api#documentation": "The resource model definition representing SKU"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointsCreateOrUpdateRequestSku": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the SKU. Ex - P3. It is typically a letter+number code",
            "smithy.api#required": {}
          }
        },
        "tier": {
          "target": "com.azure.machinelearningservices#SkuTier"
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SKU size. When the name field is the combination of tier and some other value, this would be the standalone code. "
          }
        },
        "family": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the service has different generations of hardware, for the same SKU, then that can be captured here."
          }
        },
        "capacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If the SKU supports scale out/in then the capacity integer should be included. If scale out/in is not possible for the resource this may be omitted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource model definition representing SKU"
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointsCreateOrUpdateRequestIdentity": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.machinelearningservices#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.machinelearningservices#UserAssignedIdentitiesInput",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.machinelearningservices#UserAssignedIdentitiesInput": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.machinelearningservices#UserAssignedIdentityInput"
      },
      "traits": {
        "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
      }
    },
    "com.azure.machinelearningservices#UserAssignedIdentityInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "User assigned identity properties"
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointPropertiesInput": {
      "type": "structure",
      "members": {
        "authMode": {
          "target": "com.azure.machinelearningservices#ServerlessInferenceEndpointAuthMode",
          "traits": {
            "smithy.api#documentation": "[Required] Specifies the authentication mode for the Serverless endpoint.",
            "smithy.api#required": {}
          }
        },
        "contentSafety": {
          "target": "com.azure.machinelearningservices#ContentSafety",
          "traits": {
            "smithy.api#documentation": "Specifies the content safety options. If omitted, the default content safety settings will be configured",
            "com.distilled.openapi#nullable": {}
          }
        },
        "modelSettings": {
          "target": "com.azure.machinelearningservices#ModelSettings",
          "traits": {
            "smithy.api#documentation": "The model settings (model id) for the model being serviced on the ServerlessEndpoint.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.azure.machinelearningservices#ServerlessEndpointsCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.machinelearningservices#ServerlessEndpointsGetRequest"
      },
      "output": {
        "target": "com.azure.machinelearningservices#ServerlessEndpointsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/serverlessEndpoints/{name}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Get Serverless Endpoint.\n\nGet Serverless Endpoint.",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.machinelearningservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.machinelearningservices#ServerlessEndpointsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.machinelearningservices#ServerlessEndpointProperties",
          "traits": {
            "smithy.api#documentation": "[Required] Additional attributes of the entity.",
            "smithy.api#required": {}
          }
        },
        "identity": {
          "target": "com.azure.machinelearningservices#ServerlessEndpointsGetResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type."
          }
        },
        "sku": {
          "target": "com.azure.machinelearningservices#ServerlessEndpointsGetResponseSku",
          "traits": {
            "smithy.api#documentation": "The resource model definition representing SKU"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointsGetResponseSku": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the SKU. Ex - P3. It is typically a letter+number code",
            "smithy.api#required": {}
          }
        },
        "tier": {
          "target": "com.azure.machinelearningservices#SkuTier"
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SKU size. When the name field is the combination of tier and some other value, this would be the standalone code. "
          }
        },
        "family": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the service has different generations of hardware, for the same SKU, then that can be captured here."
          }
        },
        "capacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If the SKU supports scale out/in then the capacity integer should be included. If scale out/in is not possible for the resource this may be omitted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource model definition representing SKU"
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointsGetResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.machinelearningservices#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.machinelearningservices#UserAssignedIdentities",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Azure Machine Learning Workspace Name"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Serverless Endpoint name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.machinelearningservices#ServerlessEndpointsListRequest"
      },
      "output": {
        "target": "com.azure.machinelearningservices#ServerlessEndpointTrackedResourceArmPaginatedResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/serverlessEndpoints",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "List Serverless Endpoints.\n\nList Serverless Endpoints.",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointTrackedResourceArmPaginatedResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.machinelearningservices#ServerlessEndpointTrackedResourceArmPaginatedResultValueList",
          "traits": {
            "smithy.api#documentation": "The ServerlessEndpoint items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A paginated list of ServerlessEndpoint entities."
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointTrackedResourceArmPaginatedResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.machinelearningservices#ServerlessEndpoint"
      },
      "traits": {
        "smithy.api#documentation": "The ServerlessEndpoint items on this page"
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.machinelearningservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.machinelearningservices#ServerlessEndpointTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.machinelearningservices#ServerlessEndpointProperties",
          "traits": {
            "smithy.api#documentation": "[Required] Additional attributes of the entity.",
            "smithy.api#required": {}
          }
        },
        "identity": {
          "target": "com.azure.machinelearningservices#ServerlessEndpointIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type."
          }
        },
        "sku": {
          "target": "com.azure.machinelearningservices#ServerlessEndpointSku",
          "traits": {
            "smithy.api#documentation": "The resource model definition representing SKU"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Concrete tracked resource types can be created by aliasing this type using a specific property type."
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointSku": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the SKU. Ex - P3. It is typically a letter+number code",
            "smithy.api#required": {}
          }
        },
        "tier": {
          "target": "com.azure.machinelearningservices#SkuTier"
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SKU size. When the name field is the combination of tier and some other value, this would be the standalone code. "
          }
        },
        "family": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If the service has different generations of hardware, for the same SKU, then that can be captured here."
          }
        },
        "capacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If the SKU supports scale out/in then the capacity integer should be included. If scale out/in is not possible for the resource this may be omitted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource model definition representing SKU"
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.machinelearningservices#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.machinelearningservices#UserAssignedIdentities",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.machinelearningservices#ServerlessEndpointsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Azure Machine Learning Workspace Name"
          }
        },
        "_skip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skip",
            "smithy.api#documentation": "Continuation token for pagination."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.machinelearningservices#SchedulesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.machinelearningservices#SchedulesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/schedules/{name}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Delete schedule.\n\nDelete schedule.",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.machinelearningservices#SchedulesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Azure Machine Learning Workspace Name"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Schedule name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.machinelearningservices#SchedulesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.machinelearningservices#SchedulesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.machinelearningservices#SchedulesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/schedules/{name}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Create or update schedule.\n\nCreate or update schedule.",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.machinelearningservices#SchedulesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.machinelearningservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.machinelearningservices#ScheduleProperties",
          "traits": {
            "smithy.api#documentation": "[Required] Additional attributes of the entity.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.machinelearningservices#ScheduleProperties": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The asset description text.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "properties": {
          "target": "com.azure.machinelearningservices#SchedulePropertiesPropertiesMap",
          "traits": {
            "smithy.api#documentation": "The asset property dictionary.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "tags": {
          "target": "com.azure.machinelearningservices#SchedulePropertiesTagsMap",
          "traits": {
            "smithy.api#documentation": "Tag dictionary. Tags can be added, removed, and updated.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "action": {
          "target": "com.azure.machinelearningservices#ScheduleActionBase",
          "traits": {
            "smithy.api#documentation": "[Required] Specifies the action of the schedule",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of schedule.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "isEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is the schedule enabled?"
          }
        },
        "provisioningState": {
          "target": "com.azure.machinelearningservices#ScheduleProvisioningStatus",
          "traits": {
            "smithy.api#documentation": "Provisioning state for the schedule."
          }
        },
        "trigger": {
          "target": "com.azure.machinelearningservices#TriggerBase",
          "traits": {
            "smithy.api#documentation": "[Required] Specifies the trigger details",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Base definition of a schedule"
      }
    },
    "com.azure.machinelearningservices#TriggerBase": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies end time of schedule in ISO 8601, but without a UTC offset. Refer https://en.wikipedia.org/wiki/ISO_8601.\nRecommented format would be \"2022-06-01T00:00:01\"\nIf not present, the schedule will run indefinitely",
            "com.distilled.openapi#nullable": {}
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies start time of schedule in ISO 8601 format, but without a UTC offset.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies time zone in which the schedule runs.\nTimeZone should follow Windows time zone format. Refer: https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/default-time-zones?view=windows-11"
          }
        },
        "triggerType": {
          "target": "com.azure.machinelearningservices#TriggerType",
          "traits": {
            "smithy.api#documentation": "[Required]",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.azure.machinelearningservices#TriggerType": {
      "type": "enum",
      "members": {
        "RECURRENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Recurrence"
          }
        },
        "CRON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cron"
          }
        }
      },
      "traits": {}
    },
    "com.azure.machinelearningservices#ScheduleProvisioningStatus": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        }
      },
      "traits": {}
    },
    "com.azure.machinelearningservices#ScheduleActionBase": {
      "type": "structure",
      "members": {
        "actionType": {
          "target": "com.azure.machinelearningservices#ScheduleActionType",
          "traits": {
            "smithy.api#documentation": "[Required] Specifies the action type of the schedule",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.azure.machinelearningservices#ScheduleActionType": {
      "type": "enum",
      "members": {
        "CREATEJOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreateJob"
          }
        },
        "INVOKEBATCHENDPOINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InvokeBatchEndpoint"
          }
        },
        "CREATEMONITOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreateMonitor"
          }
        }
      },
      "traits": {}
    },
    "com.azure.machinelearningservices#SchedulePropertiesTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tag dictionary. Tags can be added, removed, and updated."
      }
    },
    "com.azure.machinelearningservices#SchedulePropertiesPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The asset property dictionary."
      }
    },
    "com.azure.machinelearningservices#SchedulesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Azure Machine Learning Workspace Name"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Schedule name."
          }
        },
        "properties": {
          "target": "com.azure.machinelearningservices#ScheduleProperties",
          "traits": {
            "smithy.api#documentation": "[Required] Additional attributes of the entity.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.machinelearningservices#SchedulesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.machinelearningservices#SchedulesGetRequest"
      },
      "output": {
        "target": "com.azure.machinelearningservices#SchedulesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/schedules/{name}",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Get schedule.\n\nGet schedule.",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.machinelearningservices#SchedulesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.machinelearningservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.machinelearningservices#ScheduleProperties",
          "traits": {
            "smithy.api#documentation": "[Required] Additional attributes of the entity.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.machinelearningservices#SchedulesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Azure Machine Learning Workspace Name"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Schedule name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.machinelearningservices#SchedulesList": {
      "type": "operation",
      "input": {
        "target": "com.azure.machinelearningservices#SchedulesListRequest"
      },
      "output": {
        "target": "com.azure.machinelearningservices#ScheduleResourceArmPaginatedResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/schedules",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "List schedules in specified workspace.\n\nList schedules in specified workspace.",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.machinelearningservices#ScheduleResourceArmPaginatedResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.machinelearningservices#ScheduleResourceArmPaginatedResultValueList",
          "traits": {
            "smithy.api#documentation": "The Schedule items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A paginated list of Schedule entities."
      }
    },
    "com.azure.machinelearningservices#ScheduleResourceArmPaginatedResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.machinelearningservices#Schedule"
      },
      "traits": {
        "smithy.api#documentation": "The Schedule items on this page"
      }
    },
    "com.azure.machinelearningservices#Schedule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.machinelearningservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.machinelearningservices#ScheduleProperties",
          "traits": {
            "smithy.api#documentation": "[Required] Additional attributes of the entity.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Azure Resource Manager resource envelope."
      }
    },
    "com.azure.machinelearningservices#SchedulesListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Azure Machine Learning Workspace Name"
          }
        },
        "_skip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skip",
            "smithy.api#documentation": "Continuation token for pagination."
          }
        },
        "listViewType": {
          "target": "com.azure.machinelearningservices#SchedulesListRequestListViewType",
          "traits": {
            "smithy.api#httpQuery": "listViewType",
            "smithy.api#documentation": "Status filter for schedule."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.machinelearningservices#SchedulesListRequestListViewType": {
      "type": "enum",
      "members": {
        "ENABLEDONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EnabledOnly"
          }
        },
        "DISABLEDONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DisabledOnly"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "All"
          }
        }
      },
      "traits": {}
    },
    "com.azure.machinelearningservices#WorkspacesResyncKeys": {
      "type": "operation",
      "input": {
        "target": "com.azure.machinelearningservices#WorkspacesResyncKeysRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/resyncKeys",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Resync all the keys associated with this workspace.This includes keys for the storage account, app insights and password for container registry\n\nResync all the keys associated with this workspace.This includes keys for the storage account, app insights and password for container registry",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.machinelearningservices#WorkspacesResyncKeysRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Azure Machine Learning Workspace Name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.machinelearningservices#ManagedNetworkProvisionsProvisionManagedNetwork": {
      "type": "operation",
      "input": {
        "target": "com.azure.machinelearningservices#ManagedNetworkProvisionsProvisionManagedNetworkRequest"
      },
      "output": {
        "target": "com.azure.machinelearningservices#ManagedNetworkProvisionStatus"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/provisionManagedNetwork",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Provisions the managed network of a machine learning workspace.\n\nProvisions the managed network of a machine learning workspace.",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.machinelearningservices#ManagedNetworkProvisionStatus": {
      "type": "structure",
      "members": {
        "sparkReady": {
          "target": "smithy.api#Boolean"
        },
        "status": {
          "target": "com.azure.machinelearningservices#ManagedNetworkStatus",
          "traits": {
            "smithy.api#documentation": "Status for the managed network of a machine learning workspace."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the Provisioning for the managed network of a machine learning workspace."
      }
    },
    "com.azure.machinelearningservices#ManagedNetworkStatus": {
      "type": "enum",
      "members": {
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Inactive"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status for the managed network of a machine learning workspace."
      }
    },
    "com.azure.machinelearningservices#ManagedNetworkProvisionsProvisionManagedNetworkRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Azure Machine Learning Workspace Name"
          }
        },
        "includeSpark": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.machinelearningservices#PrivateLinkResourcesList": {
      "type": "operation",
      "input": {
        "target": "com.azure.machinelearningservices#PrivateLinkResourcesListRequest"
      },
      "output": {
        "target": "com.azure.machinelearningservices#PrivateLinkResourceListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/privateLinkResources",
          "code": 200,
          "apiVersion": "2026-03-01"
        },
        "smithy.api#documentation": "Called by Client (Portal, CLI, etc) to get available \"private link resources\" for the workspace.\r\nEach \"private link resource\" is a connection endpoint (IP address) to the resource.\r\nPre single connection endpoint per workspace: the Data Plane IP address, returned by DNS resolution.\r\nOther RPs, such as Azure Storage, have multiple - one for Blobs, other for Queues, etc.\r\nDefined in the \"[NRP] Private Endpoint Design\" doc, topic \"GET API for GroupIds\".\n\nCalled by Client (Portal, CLI, etc) to get available \"private link resources\" for the workspace.\nEach \"private link resource\" is a connection endpoint (IP address) to the resource.\nPre single connection endpoint per workspace: the Data Plane IP address, returned by DNS resolution.\nOther RPs, such as Azure Storage, have multiple - one for Blobs, other for Queues, etc.\nDefined in the \"[NRP] Private Endpoint Design\" doc, topic \"GET API for GroupIds\".",
        "com.distilled.openapi#apiVersion": "2026-03-01"
      }
    },
    "com.azure.machinelearningservices#PrivateLinkResourceListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.machinelearningservices#PrivateLinkResourceListResultValueList",
          "traits": {
            "smithy.api#documentation": "A list of private link resources"
          }
        },
        "nextLink": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of private link resources"
      }
    },
    "com.azure.machinelearningservices#PrivateLinkResourceListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.machinelearningservices#PrivateLinkResource"
      },
      "traits": {
        "smithy.api#documentation": "A list of private link resources"
      }
    },
    "com.azure.machinelearningservices#PrivateLinkResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.machinelearningservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "identity": {
          "target": "com.azure.machinelearningservices#PrivateLinkResourceIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Same as workspace location."
          }
        },
        "properties": {
          "target": "com.azure.machinelearningservices#PrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "Properties of a private link resource."
          }
        },
        "sku": {
          "target": "com.azure.machinelearningservices#PrivateLinkResourceSku",
          "traits": {
            "smithy.api#documentation": "The resource model definition representing SKU"
          }
        },
        "tags": {
          "target": "com.azure.machinelearningservices#PrivateLinkResourceTagsMap"
        }
      },
      "traits": {
        "smithy.api#documentation": "A private link resource"
      }
    },
    "com.azure.machinelearningservices#PrivateLinkResourceTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.azure.machinelearningservices#PrivateLinkResourceSku": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the SKU. Ex - P3. It is typically a letter+number code",
            "smithy.api#required": {}
          }
        },
        "tier": {
          "target": "com.azure.machinelearningservices#SkuTier"
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
[...]
