{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.azure.maintenance#ListUpdates": {
      "type": "operation",
      "input": {
        "target": "com.azure.maintenance#ListUpdatesRequest"
      },
      "output": {
        "target": "com.azure.maintenance#ListUpdatesResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/updates",
          "code": 200,
          "apiVersion": "2023-04-01"
        },
        "smithy.api#documentation": "Get Updates to resource\n\nGet updates to resources.",
        "com.distilled.openapi#apiVersion": "2023-04-01"
      }
    },
    "com.azure.maintenance#ListUpdatesResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.maintenance#ListUpdatesResultValueList",
          "traits": {
            "smithy.api#documentation": "The pending updates"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for Updates list"
      }
    },
    "com.azure.maintenance#ListUpdatesResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.maintenance#Update"
      },
      "traits": {
        "smithy.api#documentation": "The pending updates"
      }
    },
    "com.azure.maintenance#Update": {
      "type": "structure",
      "members": {
        "maintenanceScope": {
          "target": "com.azure.maintenance#UpdateMaintenanceScope",
          "traits": {
            "smithy.api#documentation": "The impact area"
          }
        },
        "impactType": {
          "target": "com.azure.maintenance#UpdateImpactType",
          "traits": {
            "smithy.api#documentation": "The impact type"
          }
        },
        "status": {
          "target": "com.azure.maintenance#UpdateStatus",
          "traits": {
            "smithy.api#documentation": "The status"
          }
        },
        "impactDurationInSec": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Duration of impact in seconds"
          }
        },
        "notBefore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when Azure will start force updates if not self-updated by customer before this time"
          }
        },
        "properties": {
          "target": "com.azure.maintenance#UpdateProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the apply update"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Maintenance update on a resource"
      }
    },
    "com.azure.maintenance#UpdateProperties": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resourceId"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties for update"
      }
    },
    "com.azure.maintenance#UpdateStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Completed"
          }
        },
        "RETRYNOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RetryNow"
          }
        },
        "RETRYLATER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RetryLater"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status"
      }
    },
    "com.azure.maintenance#UpdateImpactType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "FREEZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Freeze"
          }
        },
        "RESTART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Restart"
          }
        },
        "REDEPLOY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Redeploy"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The impact type"
      }
    },
    "com.azure.maintenance#UpdateMaintenanceScope": {
      "type": "enum",
      "members": {
        "HOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Host"
          }
        },
        "RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Resource"
          }
        },
        "OSIMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OSImage"
          }
        },
        "EXTENSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Extension"
          }
        },
        "INGUESTPATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InGuestPatch"
          }
        },
        "SQLDB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLDB"
          }
        },
        "SQLMANAGEDINSTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLManagedInstance"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The impact area"
      }
    },
    "com.azure.maintenance#ListUpdatesRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Resource group name"
          }
        },
        "providerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Resource provider name"
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Resource type"
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Resource identifier"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.maintenance#ListUpdateParent": {
      "type": "operation",
      "input": {
        "target": "com.azure.maintenance#ListUpdateParentRequest"
      },
      "output": {
        "target": "com.azure.maintenance#ListUpdatesResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{providerName}/{resourceParentType}/{resourceParentName}/{resourceType}/{resourceName}/providers/Microsoft.Maintenance/updates",
          "code": 200,
          "apiVersion": "2023-04-01"
        },
        "smithy.api#documentation": "Get Updates to resource\n\nGet updates to resources.",
        "com.distilled.openapi#apiVersion": "2023-04-01"
      }
    },
    "com.azure.maintenance#ListUpdateParentRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Resource group name"
          }
        },
        "providerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Resource provider name"
          }
        },
        "resourceParentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Resource parent type"
          }
        },
        "resourceParentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Resource parent identifier"
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Resource type"
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Resource identifier"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.maintenance#ListOperations": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.azure.maintenance#OperationsListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.Maintenance/operations",
          "code": 200,
          "apiVersion": "2023-04-01"
        },
        "smithy.api#documentation": "List available operations\n\nList the available operations supported by the Microsoft.Maintenance resource provider",
        "com.distilled.openapi#apiVersion": "2023-04-01"
      }
    },
    "com.azure.maintenance#OperationsListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.maintenance#OperationsListResultValueList",
          "traits": {
            "smithy.api#documentation": "A collection of operations"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of the List Operations operation"
      }
    },
    "com.azure.maintenance#OperationsListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.maintenance#Operation"
      },
      "traits": {
        "smithy.api#documentation": "A collection of operations"
      }
    },
    "com.azure.maintenance#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the operation"
          }
        },
        "display": {
          "target": "com.azure.maintenance#OperationInfo",
          "traits": {
            "smithy.api#documentation": "Display name of the operation"
          }
        },
        "origin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Origin of the operation"
          }
        },
        "properties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Properties of the operation"
          }
        },
        "isDataAction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the operation is a data action"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an operation returned by the GetOperations request"
      }
    },
    "com.azure.maintenance#OperationInfo": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the provider"
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource type"
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the operation"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the operation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about an operation"
      }
    },
    "com.azure.maintenance#DeleteConfigurationAssignmentsForResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.maintenance#DeleteConfigurationAssignmentsForResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.maintenance#DeleteConfigurationAssignmentsForResourceGroupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Maintenance/configurationAssignments/{configurationAssignmentName}",
          "code": 200,
          "apiVersion": "2023-04-01"
        },
        "smithy.api#documentation": "Unregister configuration for resource\n\nUnregister configuration for resource.",
        "com.distilled.openapi#apiVersion": "2023-04-01"
      }
    },
    "com.azure.maintenance#DeleteConfigurationAssignmentsForResourceGroupResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified identifier of the resource"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource"
          }
        },
        "systemData": {
          "target": "com.azure.maintenance#DeleteConfigurationAssignmentsForResourceGroupResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the resource"
          }
        },
        "properties": {
          "target": "com.azure.maintenance#ConfigurationAssignmentProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the configuration assignment"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.maintenance#ConfigurationAssignmentProperties": {
      "type": "structure",
      "members": {
        "maintenanceConfigurationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The maintenance configuration Id"
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique resourceId"
          }
        },
        "filter": {
          "target": "com.azure.maintenance#ConfigurationAssignmentFilterProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the configuration assignment"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties for configuration assignment"
      }
    },
    "com.azure.maintenance#ConfigurationAssignmentFilterProperties": {
      "type": "structure",
      "members": {
        "resourceTypes": {
          "target": "com.azure.maintenance#ConfigurationAssignmentFilterPropertiesResourceTypesList",
          "traits": {
            "smithy.api#documentation": "List of allowed resources."
          }
        },
        "resourceGroups": {
          "target": "com.azure.maintenance#ConfigurationAssignmentFilterPropertiesResourceGroupsList",
          "traits": {
            "smithy.api#documentation": "List of allowed resource groups."
          }
        },
        "osTypes": {
          "target": "com.azure.maintenance#ConfigurationAssignmentFilterPropertiesOsTypesList",
          "traits": {
            "smithy.api#documentation": "List of allowed operating systems."
          }
        },
        "locations": {
          "target": "com.azure.maintenance#ConfigurationAssignmentFilterPropertiesLocationsList",
          "traits": {
            "smithy.api#documentation": "List of locations to scope the query to."
          }
        },
        "tagSettings": {
          "target": "com.azure.maintenance#TagSettingsProperties",
          "traits": {
            "smithy.api#documentation": "Tag settings for the VM."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Azure query for the update configuration."
      }
    },
    "com.azure.maintenance#TagSettingsProperties": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.azure.maintenance#TagSettingsPropertiesTagsMap",
          "traits": {
            "smithy.api#documentation": "Dictionary of tags with its list of values."
          }
        },
        "filterOperator": {
          "target": "com.azure.maintenance#TagSettingsPropertiesFilterOperator",
          "traits": {
            "smithy.api#documentation": "Filter VMs by Any or All specified tags."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Tag filter information for the VM."
      }
    },
    "com.azure.maintenance#TagSettingsPropertiesFilterOperator": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "All"
          }
        },
        "ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Any"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter VMs by Any or All specified tags."
      }
    },
    "com.azure.maintenance#TagSettingsPropertiesTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.maintenance#TagSettingsPropertiesTagsValueList"
      },
      "traits": {
        "smithy.api#documentation": "Dictionary of tags with its list of values."
      }
    },
    "com.azure.maintenance#TagSettingsPropertiesTagsValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.azure.maintenance#ConfigurationAssignmentFilterPropertiesLocationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of locations to scope the query to."
      }
    },
    "com.azure.maintenance#ConfigurationAssignmentFilterPropertiesOsTypesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of allowed operating systems."
      }
    },
    "com.azure.maintenance#ConfigurationAssignmentFilterPropertiesResourceGroupsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of allowed resource groups."
      }
    },
    "com.azure.maintenance#ConfigurationAssignmentFilterPropertiesResourceTypesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of allowed resources."
      }
    },
    "com.azure.maintenance#DeleteConfigurationAssignmentsForResourceGroupResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.maintenance#DeleteConfigurationAssignmentsForResourceGroupResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.maintenance#DeleteConfigurationAssignmentsForResourceGroupResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.maintenance#DeleteConfigurationAssignmentsForResourceGroupResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.maintenance#DeleteConfigurationAssignmentsForResourceGroupResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.maintenance#DeleteConfigurationAssignmentsForResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Resource group name"
          }
        },
        "configurationAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique configuration assignment name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.maintenance#UpdateConfigurationAssignmentsForResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.maintenance#UpdateConfigurationAssignmentsForResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.maintenance#UpdateConfigurationAssignmentsForResourceGroupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Maintenance/configurationAssignments/{configurationAssignmentName}",
          "code": 200,
          "apiVersion": "2023-04-01"
        },
        "smithy.api#documentation": "Create configuration assignment\n\nRegister configuration for resource.",
        "com.distilled.openapi#apiVersion": "2023-04-01"
      }
    },
    "com.azure.maintenance#UpdateConfigurationAssignmentsForResourceGroupResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified identifier of the resource"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource"
          }
        },
        "systemData": {
          "target": "com.azure.maintenance#UpdateConfigurationAssignmentsForResourceGroupResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the resource"
          }
        },
        "properties": {
          "target": "com.azure.maintenance#ConfigurationAssignmentProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the configuration assignment"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.maintenance#UpdateConfigurationAssignmentsForResourceGroupResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.maintenance#UpdateConfigurationAssignmentsForResourceGroupResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.maintenance#UpdateConfigurationAssignmentsForResourceGroupResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.maintenance#UpdateConfigurationAssignmentsForResourceGroupResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.maintenance#UpdateConfigurationAssignmentsForResourceGroupResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.maintenance#UpdateConfigurationAssignmentsForResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Resource group name"
          }
        },
        "configurationAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Configuration assignment name"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the resource"
          }
        },
        "properties": {
          "target": "com.azure.maintenance#ConfigurationAssignmentProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the configuration assignment"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.maintenance#ConfigurationAssignmentsForResourceGroupCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.maintenance#ConfigurationAssignmentsForResourceGroupCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.maintenance#ConfigurationAssignmentsForResourceGroupCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Maintenance/configurationAssignments/{configurationAssignmentName}",
          "code": 200,
          "apiVersion": "2023-04-01"
        },
        "smithy.api#documentation": "Create configuration assignment\n\nRegister configuration for resource.",
        "com.distilled.openapi#apiVersion": "2023-04-01"
      }
    },
    "com.azure.maintenance#ConfigurationAssignmentsForResourceGroupCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified identifier of the resource"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource"
          }
        },
        "systemData": {
          "target": "com.azure.maintenance#ConfigurationAssignmentsForResourceGroupCreateOrUpdateResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the resource"
          }
        },
        "properties": {
          "target": "com.azure.maintenance#ConfigurationAssignmentProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the configuration assignment"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.maintenance#ConfigurationAssignmentsForResourceGroupCreateOrUpdateResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.maintenance#ConfigurationAssignmentsForResourceGroupCreateOrUpdateResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.maintenance#ConfigurationAssignmentsForResourceGroupCreateOrUpdateResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.maintenance#ConfigurationAssignmentsForResourceGroupCreateOrUpdateResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.maintenance#ConfigurationAssignmentsForResourceGroupCreateOrUpdateResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.maintenance#ConfigurationAssignmentsForResourceGroupCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Resource group name"
          }
        },
        "configurationAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Configuration assignment name"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the resource"
          }
        },
        "properties": {
          "target": "com.azure.maintenance#ConfigurationAssignmentProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the configuration assignment"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.maintenance#GetConfigurationAssignmentsForResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.maintenance#GetConfigurationAssignmentsForResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.maintenance#GetConfigurationAssignmentsForResourceGroupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Maintenance/configurationAssignments/{configurationAssignmentName}",
          "code": 200,
          "apiVersion": "2023-04-01"
        },
        "smithy.api#documentation": "Get configuration assignment\n\nGet configuration assignment for resource..",
        "com.distilled.openapi#apiVersion": "2023-04-01"
      }
    },
    "com.azure.maintenance#GetConfigurationAssignmentsForResourceGroupResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified identifier of the resource"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource"
          }
        },
        "systemData": {
          "target": "com.azure.maintenance#GetConfigurationAssignmentsForResourceGroupResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the resource"
          }
        },
        "properties": {
          "target": "com.azure.maintenance#ConfigurationAssignmentProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the configuration assignment"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.maintenance#GetConfigurationAssignmentsForResourceGroupResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.maintenance#GetConfigurationAssignmentsForResourceGroupResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.maintenance#GetConfigurationAssignmentsForResourceGroupResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.maintenance#GetConfigurationAssignmentsForResourceGroupResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.maintenance#GetConfigurationAssignmentsForResourceGroupResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.maintenance#GetConfigurationAssignmentsForResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Resource group name"
          }
        },
        "configurationAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Configuration assignment name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.maintenance#DeleteConfigurationAssignmentsForSubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.maintenance#DeleteConfigurationAssignmentsForSubscriptionRequest"
      },
      "output": {
        "target": "com.azure.maintenance#DeleteConfigurationAssignmentsForSubscriptionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Maintenance/configurationAssignments/{configurationAssignmentName}",
          "code": 200,
          "apiVersion": "2023-04-01"
        },
        "smithy.api#documentation": "Unregister configuration for resource\n\nUnregister configuration for resource.",
        "com.distilled.openapi#apiVersion": "2023-04-01"
      }
    },
    "com.azure.maintenance#DeleteConfigurationAssignmentsForSubscriptionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified identifier of the resource"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource"
          }
        },
        "systemData": {
          "target": "com.azure.maintenance#DeleteConfigurationAssignmentsForSubscriptionResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the resource"
          }
        },
        "properties": {
          "target": "com.azure.maintenance#ConfigurationAssignmentProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the configuration assignment"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.maintenance#DeleteConfigurationAssignmentsForSubscriptionResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.maintenance#DeleteConfigurationAssignmentsForSubscriptionResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.maintenance#DeleteConfigurationAssignmentsForSubscriptionResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.maintenance#DeleteConfigurationAssignmentsForSubscriptionResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.maintenance#DeleteConfigurationAssignmentsForSubscriptionResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.maintenance#DeleteConfigurationAssignmentsForSubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "configurationAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique configuration assignment name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.maintenance#UpdateConfigurationAssignmentsForSubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.maintenance#UpdateConfigurationAssignmentsForSubscriptionRequest"
      },
      "output": {
        "target": "com.azure.maintenance#UpdateConfigurationAssignmentsForSubscriptionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Maintenance/configurationAssignments/{configurationAssignmentName}",
          "code": 200,
          "apiVersion": "2023-04-01"
        },
        "smithy.api#documentation": "Create configuration assignment\n\nRegister configuration for resource.",
        "com.distilled.openapi#apiVersion": "2023-04-01"
      }
    },
    "com.azure.maintenance#UpdateConfigurationAssignmentsForSubscriptionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified identifier of the resource"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource"
          }
        },
        "systemData": {
          "target": "com.azure.maintenance#UpdateConfigurationAssignmentsForSubscriptionResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the resource"
          }
        },
        "properties": {
          "target": "com.azure.maintenance#ConfigurationAssignmentProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the configuration assignment"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.maintenance#UpdateConfigurationAssignmentsForSubscriptionResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.maintenance#UpdateConfigurationAssignmentsForSubscriptionResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.maintenance#UpdateConfigurationAssignmentsForSubscriptionResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.maintenance#UpdateConfigurationAssignmentsForSubscriptionResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.maintenance#UpdateConfigurationAssignmentsForSubscriptionResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.maintenance#UpdateConfigurationAssignmentsForSubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "configurationAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Configuration assignment name"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the resource"
          }
        },
        "properties": {
          "target": "com.azure.maintenance#ConfigurationAssignmentProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the configuration assignment"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.maintenance#ConfigurationAssignmentsForSubscriptionsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.maintenance#ConfigurationAssignmentsForSubscriptionsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.maintenance#ConfigurationAssignmentsForSubscriptionsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Maintenance/configurationAssignments/{configurationAssignmentName}",
          "code": 200,
          "apiVersion": "2023-04-01"
        },
        "smithy.api#documentation": "Create configuration assignment\n\nRegister configuration for resource.",
        "com.distilled.openapi#apiVersion": "2023-04-01"
      }
    },
    "com.azure.maintenance#ConfigurationAssignmentsForSubscriptionsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified identifier of the resource"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource"
          }
        },
        "systemData": {
          "target": "com.azure.maintenance#ConfigurationAssignmentsForSubscriptionsCreateOrUpdateResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the resource"
          }
        },
        "properties": {
          "target": "com.azure.maintenance#ConfigurationAssignmentProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the configuration assignment"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.maintenance#ConfigurationAssignmentsForSubscriptionsCreateOrUpdateResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.maintenance#ConfigurationAssignmentsForSubscriptionsCreateOrUpdateResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.maintenance#ConfigurationAssignmentsForSubscriptionsCreateOrUpdateResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.maintenance#ConfigurationAssignmentsForSubscriptionsCreateOrUpdateResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.maintenance#ConfigurationAssignmentsForSubscriptionsCreateOrUpdateResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.maintenance#ConfigurationAssignmentsForSubscriptionsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "configurationAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Configuration assignment name"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the resource"
          }
        },
        "properties": {
          "target": "com.azure.maintenance#ConfigurationAssignmentProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the configuration assignment"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.maintenance#GetConfigurationAssignmentsForSubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.maintenance#GetConfigurationAssignmentsForSubscriptionRequest"
      },
      "output": {
        "target": "com.azure.maintenance#GetConfigurationAssignmentsForSubscriptionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Maintenance/configurationAssignments/{configurationAssignmentName}",
          "code": 200,
          "apiVersion": "2023-04-01"
        },
        "smithy.api#documentation": "[UNSUPPORTED] Get configuration assignment. This API is not implemented yet.\n\nGet configuration assignment for resource.",
        "com.distilled.openapi#apiVersion": "2023-04-01"
      }
    },
    "com.azure.maintenance#GetConfigurationAssignmentsForSubscriptionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified identifier of the resource"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource"
          }
        },
        "systemData": {
          "target": "com.azure.maintenance#GetConfigurationAssignmentsForSubscriptionResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the resource"
          }
        },
        "properties": {
          "target": "com.azure.maintenance#ConfigurationAssignmentProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the configuration assignment"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.maintenance#GetConfigurationAssignmentsForSubscriptionResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.maintenance#GetConfigurationAssignmentsForSubscriptionResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.maintenance#GetConfigurationAssignmentsForSubscriptionResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.maintenance#GetConfigurationAssignmentsForSubscriptionResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.maintenance#GetConfigurationAssignmentsForSubscriptionResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.maintenance#GetConfigurationAssignmentsForSubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        },
        "configurationAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Configuration assignment name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.maintenance#ListConfigurationAssignmentsWithinSubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.maintenance#ListConfigurationAssignmentsWithinSubscriptionRequest"
      },
      "output": {
        "target": "com.azure.maintenance#ListConfigurationAssignmentsResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Maintenance/configurationAssignments",
          "code": 200,
          "apiVersion": "2023-04-01"
        },
        "smithy.api#documentation": "[UNSUPPORTED] Get configuration assignment within a subscription. This API is not implemented yet.",
        "com.distilled.openapi#apiVersion": "2023-04-01"
      }
    },
    "com.azure.maintenance#ListConfigurationAssignmentsResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.maintenance#ListConfigurationAssignmentsResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of configuration Assignments"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ConfigurationAssignments list"
      }
    },
    "com.azure.maintenance#ListConfigurationAssignmentsResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.maintenance#ConfigurationAssignment"
      },
      "traits": {
        "smithy.api#documentation": "The list of configuration Assignments"
      }
    },
    "com.azure.maintenance#ConfigurationAssignment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified identifier of the resource"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource"
          }
        },
        "systemData": {
          "target": "com.azure.maintenance#ConfigurationAssignmentSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the resource"
          }
        },
        "properties": {
          "target": "com.azure.maintenance#ConfigurationAssignmentProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the configuration assignment"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration Assignment"
      }
    },
    "com.azure.maintenance#ConfigurationAssignmentSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.maintenance#ConfigurationAssignmentSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.maintenance#ConfigurationAssignmentSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.maintenance#ConfigurationAssignmentSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.maintenance#ConfigurationAssignmentSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.maintenance#ListConfigurationAssignmentsWithinSubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.maintenance#ListMaintenanceConfigurationsForResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.maintenance#ListMaintenanceConfigurationsForResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.maintenance#ListMaintenanceConfigurationsResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maintenance/maintenanceConfigurations",
          "code": 200,
          "apiVersion": "2023-04-01"
        },
        "smithy.api#documentation": "Get Configuration records within a subscription and resource group",
        "com.distilled.openapi#apiVersion": "2023-04-01"
      }
    },
    "com.azure.maintenance#ListMaintenanceConfigurationsResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.maintenance#ListMaintenanceConfigurationsResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of maintenance Configurations"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for MaintenanceConfigurations list"
      }
    },
    "com.azure.maintenance#ListMaintenanceConfigurationsResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.maintenance#MaintenanceConfiguration"
      },
      "traits": {
        "smithy.api#documentation": "The list of maintenance Configurations"
      }
    },
    "com.azure.maintenance#MaintenanceConfiguration": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified identifier of the resource"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource"
          }
        },
        "systemData": {
          "target": "com.azure.maintenance#MaintenanceConfigurationSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets location of the resource"
          }
        },
        "tags": {
          "target": "com.azure.maintenance#MaintenanceConfigurationTagsMap",
          "traits": {
            "smithy.api#documentation": "Gets or sets tags of the resource"
          }
        },
        "properties": {
          "target": "com.azure.maintenance#MaintenanceConfigurationProperties",
          "traits": {
            "smithy.api#documentation": "Gets or sets properties of the resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Maintenance configuration record type"
      }
    },
    "com.azure.maintenance#MaintenanceConfigurationProperties": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets namespace of the resource"
          }
        },
        "extensionProperties": {
          "target": "com.azure.maintenance#MaintenanceConfigurationPropertiesExtensionPropertiesMap",
          "traits": {
            "smithy.api#documentation": "Gets or sets extensionProperties of the maintenanceConfiguration"
          }
        },
        "maintenanceScope": {
          "target": "com.azure.maintenance#MaintenanceConfigurationPropertiesMaintenanceScope",
          "traits": {
            "smithy.api#documentation": "Gets or sets maintenanceScope of the configuration"
          }
        },
        "maintenanceWindow": {
          "target": "com.azure.maintenance#MaintenanceWindow",
          "traits": {
            "smithy.api#documentation": "Definition of a MaintenanceWindow"
          }
        },
        "visibility": {
          "target": "com.azure.maintenance#MaintenanceConfigurationPropertiesVisibility",
          "traits": {
            "smithy.api#documentation": "Gets or sets the visibility of the configuration. The default value is 'Custom'"
          }
        },
        "installPatches": {
          "target": "com.azure.maintenance#InputPatchConfiguration",
          "traits": {
            "smithy.api#documentation": "The input parameters to be passed to the patch run operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties for maintenance configuration"
      }
    },
    "com.azure.maintenance#InputPatchConfiguration": {
      "type": "structure",
      "members": {
        "rebootSetting": {
          "target": "com.azure.maintenance#InputPatchConfigurationRebootSetting",
          "traits": {
            "smithy.api#documentation": "Possible reboot preference as defined by the user based on which it would be decided to reboot the machine or not after the patch operation is completed."
          }
        },
        "windowsParameters": {
          "target": "com.azure.maintenance#InputWindowsParameters",
          "traits": {
            "smithy.api#documentation": "Input parameters specific to patching a Windows machine. For Linux machines, do not pass this property."
          }
        },
        "linuxParameters": {
          "target": "com.azure.maintenance#InputLinuxParameters",
          "traits": {
            "smithy.api#documentation": "Input parameters specific to patching Linux machine. For Windows machines, do not pass this property."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input configuration for a patch run"
      }
    },
    "com.azure.maintenance#InputLinuxParameters": {
      "type": "structure",
      "members": {
        "packageNameMasksToExclude": {
          "target": "com.azure.maintenance#InputLinuxParametersPackageNameMasksToExcludeList",
          "traits": {
            "smithy.api#documentation": "Package names to be excluded for patching."
          }
        },
        "packageNameMasksToInclude": {
          "target": "com.azure.maintenance#InputLinuxParametersPackageNameMasksToIncludeList",
          "traits": {
            "smithy.api#documentation": "Package names to be included for patching."
          }
        },
        "classificationsToInclude": {
          "target": "com.azure.maintenance#InputLinuxParametersClassificationsToIncludeList",
          "traits": {
            "smithy.api#documentation": "Classification category of patches to be patched. Allowed values are 'Critical', 'Security', and 'Other'."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input properties for patching a Linux machine."
      }
    },
    "com.azure.maintenance#InputLinuxParametersClassificationsToIncludeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Classification category of patches to be patched. Allowed values are 'Critical', 'Security', and 'Other'."
      }
    },
    "com.azure.maintenance#InputLinuxParametersPackageNameMasksToIncludeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Package names to be included for patching."
      }
    },
    "com.azure.maintenance#InputLinuxParametersPackageNameMasksToExcludeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Package names to be excluded for patching."
      }
    },
    "com.azure.maintenance#InputWindowsParameters": {
      "type": "structure",
      "members": {
        "kbNumbersToExclude": {
          "target": "com.azure.maintenance#InputWindowsParametersKbNumbersToExcludeList",
          "traits": {
            "smithy.api#documentation": "Windows KBID to be excluded for patching."
          }
        },
        "kbNumbersToInclude": {
          "target": "com.azure.maintenance#InputWindowsParametersKbNumbersToIncludeList",
          "traits": {
            "smithy.api#documentation": "Windows KBID to be included for patching."
          }
        },
        "classificationsToInclude": {
          "target": "com.azure.maintenance#InputWindowsParametersClassificationsToIncludeList",
          "traits": {
            "smithy.api#documentation": "Classification category of patches to be patched. Allowed values are 'Critical', 'Security', 'UpdateRollup', 'FeaturePack', 'ServicePack', 'Definition', 'Tools', and 'Updates'."
          }
        },
        "excludeKbsRequiringReboot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Exclude patches which need reboot"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input properties for patching a Windows machine."
      }
    },
    "com.azure.maintenance#InputWindowsParametersClassificationsToIncludeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Classification category of patches to be patched. Allowed values are 'Critical', 'Security', 'UpdateRollup', 'FeaturePack', 'ServicePack', 'Definition', 'Tools', and 'Updates'."
      }
    },
    "com.azure.maintenance#InputWindowsParametersKbNumbersToIncludeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Windows KBID to be included for patching."
      }
    },
    "com.azure.maintenance#InputWindowsParametersKbNumbersToExcludeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Windows KBID to be excluded for patching."
      }
    },
    "com.azure.maintenance#InputPatchConfigurationRebootSetting": {
      "type": "enum",
      "members": {
        "IFREQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IfRequired"
          }
        },
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Never"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Always"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible reboot preference as defined by the user based on which it would be decided to reboot the machine or not after the patch operation is completed."
      }
    },
    "com.azure.maintenance#MaintenanceConfigurationPropertiesVisibility": {
      "type": "enum",
      "members": {
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Custom"
          }
        },
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Public"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the visibility of the configuration. The default value is 'Custom'"
      }
    },
    "com.azure.maintenance#MaintenanceWindow": {
      "type": "structure",
      "members": {
        "startDateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Effective start date of the maintenance window in YYYY-MM-DD hh:mm format. The start date can be set to either the current date or future date. The window will be created in the time zone provided and adjusted to daylight savings according to that time zone."
          }
        },
        "expirationDateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Effective expiration date of the maintenance window in YYYY-MM-DD hh:mm format. The window will be created in the time zone provided and adjusted to daylight savings according to that time zone. Expiration date must be set to a future date. If not provided, it will be set to the maximum datetime 9999-12-31 23:59:59."
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Duration of the maintenance window in HH:mm format. If not provided, default value will be used based on maintenance scope provided. Example: 05:00."
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the timezone. List of timezones can be obtained by executing [System.TimeZoneInfo]::GetSystemTimeZones() in PowerShell. Example: Pacific Standard Time, UTC, W. Europe Standard Time, Korea Standard Time, Cen. Australia Standard Time."
          }
        },
        "recurEvery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Rate at which a Maintenance window is expected to recur. The rate can be expressed as daily, weekly, or monthly schedules. Daily schedule are formatted as recurEvery: [Frequency as integer]['Day(s)']. If no frequency is provided, the default frequency is 1. Daily schedule examples are recurEvery: Day, recurEvery: 3Days.  Weekly schedule are formatted as recurEvery: [Frequency as integer]['Week(s)'] [Optional comma separated list of weekdays Monday-Sunday]. Weekly schedule examples are recurEvery: 3Weeks, recurEvery: Week Saturday,Sunday. Monthly schedules are formatted as [Frequency as integer]['Month(s)'] [Comma separated list of month days] or [Frequency as integer]['Month(s)'] [Week of Month (First, Second, Third, Fourth, Last)] [Weekday Monday-Sunday] [Optional Offset(No. of days)]. Offset value must be between -6 to 6 inclusive. Monthly schedule examples are recurEvery: Month, recurEvery: 2Months, recurEvery: Month day23,day24, recurEvery: Month Last Sunday, recurEvery: Month Fourth Monday, recurEvery: Month Last Sunday Offset-3, recurEvery: Month Third Sunday Offset6."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Definition of a MaintenanceWindow"
      }
    },
    "com.azure.maintenance#MaintenanceConfigurationPropertiesMaintenanceScope": {
      "type": "enum",
      "members": {
        "HOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Host"
          }
        },
        "RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Resource"
          }
        },
        "OSIMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OSImage"
          }
        },
        "EXTENSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Extension"
          }
        },
        "INGUESTPATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InGuestPatch"
          }
        },
        "SQLDB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLDB"
          }
        },
        "SQLMANAGEDINSTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLManagedInstance"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets maintenanceScope of the configuration"
      }
    },
    "com.azure.maintenance#MaintenanceConfigurationPropertiesExtensionPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets extensionProperties of the maintenanceConfiguration"
      }
    },
    "com.azure.maintenance#MaintenanceConfigurationTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets tags of the resource"
      }
    },
    "com.azure.maintenance#MaintenanceConfigurationSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.maintenance#MaintenanceConfigurationSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.maintenance#MaintenanceConfigurationSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
[...]
