{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.managedservices#OperationsWithScopeList": {
      "type": "operation",
      "input": {
        "target": "com.azure.managedservices#OperationsWithScopeListRequest"
      },
      "output": {
        "target": "com.azure.managedservices#OperationList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{scope}/providers/Microsoft.ManagedServices/operations",
          "code": 200,
          "apiVersion": "2022-10-01"
        },
        "smithy.api#documentation": "Gets a list of the operations with the scope.",
        "com.distilled.openapi#apiVersion": "2022-10-01"
      }
    },
    "com.azure.managedservices#OperationList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.managedservices#OperationListValueList",
          "traits": {
            "smithy.api#documentation": "The list of Microsoft.ManagedServices operations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of the operations."
      }
    },
    "com.azure.managedservices#OperationListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.managedservices#Operation"
      },
      "traits": {
        "smithy.api#documentation": "The list of Microsoft.ManagedServices operations."
      }
    },
    "com.azure.managedservices#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operation name with the format: {provider}/{resource}/{operation}"
          }
        },
        "display": {
          "target": "com.azure.managedservices#OperationDisplay",
          "traits": {
            "smithy.api#documentation": "The object that represents the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object that describes a single Microsoft.ManagedServices operation."
      }
    },
    "com.azure.managedservices#OperationDisplay": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service provider."
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource on which the operation is performed."
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operation type."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object that represents the operation."
      }
    },
    "com.azure.managedservices#OperationsWithScopeListRequest": {
      "type": "structure",
      "members": {
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The scope of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.managedservices#OperationsList": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.azure.managedservices#OperationList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.ManagedServices/operations",
          "code": 200,
          "apiVersion": "2022-10-01"
        },
        "smithy.api#documentation": "Gets a list of the operations.",
        "com.distilled.openapi#apiVersion": "2022-10-01"
      }
    },
    "com.azure.managedservices#MarketplaceRegistrationDefinitionsWithoutScopeGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.managedservices#MarketplaceRegistrationDefinitionsWithoutScopeGetRequest"
      },
      "output": {
        "target": "com.azure.managedservices#MarketplaceRegistrationDefinition"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.ManagedServices/marketplaceRegistrationDefinitions/{marketplaceIdentifier}",
          "code": 200,
          "apiVersion": "2022-10-01"
        },
        "smithy.api#documentation": "Get the marketplace registration definition for the marketplace identifier.",
        "com.distilled.openapi#apiVersion": "2022-10-01"
      }
    },
    "com.azure.managedservices#MarketplaceRegistrationDefinition": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.azure.managedservices#MarketplaceRegistrationDefinitionProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the marketplace registration definition."
          }
        },
        "plan": {
          "target": "com.azure.managedservices#Plan",
          "traits": {
            "smithy.api#documentation": "The details for the Managed Services offer’s plan in Azure Marketplace."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified path of the marketplace registration definition."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the Azure resource (Microsoft.ManagedServices/marketplaceRegistrationDefinitions)."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the marketplace registration definition."
          }
        }
      },
      "traits": {}
    },
    "com.azure.managedservices#Plan": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure Marketplace plan name.",
            "smithy.api#required": {}
          }
        },
        "publisher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure Marketplace publisher ID.",
            "smithy.api#required": {}
          }
        },
        "product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure Marketplace product code.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure Marketplace plan's version.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details for the Managed Services offer’s plan in Azure Marketplace."
      }
    },
    "com.azure.managedservices#MarketplaceRegistrationDefinitionProperties": {
      "type": "structure",
      "members": {
        "managedByTenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the managedBy tenant.",
            "smithy.api#required": {}
          }
        },
        "authorizations": {
          "target": "com.azure.managedservices#MarketplaceRegistrationDefinitionPropertiesAuthorizationsList",
          "traits": {
            "smithy.api#documentation": "The collection of authorization objects describing the access Azure Active Directory principals in the managedBy tenant will receive on the delegated resource in the managed tenant.",
            "smithy.api#required": {}
          }
        },
        "eligibleAuthorizations": {
          "target": "com.azure.managedservices#MarketplaceRegistrationDefinitionPropertiesEligibleAuthorizationsList",
          "traits": {
            "smithy.api#documentation": "The collection of eligible authorization objects describing the just-in-time access Azure Active Directory principals in the managedBy tenant will receive on the delegated resource in the managed tenant."
          }
        },
        "offerDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The marketplace offer display name."
          }
        },
        "publisherDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The marketplace publisher display name."
          }
        },
        "planDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The marketplace plan display name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the marketplace registration definition."
      }
    },
    "com.azure.managedservices#MarketplaceRegistrationDefinitionPropertiesEligibleAuthorizationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.managedservices#EligibleAuthorization"
      },
      "traits": {
        "smithy.api#documentation": "The collection of eligible authorization objects describing the just-in-time access Azure Active Directory principals in the managedBy tenant will receive on the delegated resource in the managed tenant."
      }
    },
    "com.azure.managedservices#EligibleAuthorization": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the Azure Active Directory principal.",
            "smithy.api#required": {}
          }
        },
        "principalIdDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the Azure Active Directory principal."
          }
        },
        "roleDefinitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the Azure built-in role that defines the permissions that the Azure Active Directory principal will have on the projected scope.",
            "smithy.api#required": {}
          }
        },
        "justInTimeAccessPolicy": {
          "target": "com.azure.managedservices#JustInTimeAccessPolicy",
          "traits": {
            "smithy.api#documentation": "The just-in-time access policy setting."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Azure Active Directory principal identifier, Azure built-in role, and just-in-time access policy that describes the just-in-time access the principal will receive on the delegated resource in the managed tenant."
      }
    },
    "com.azure.managedservices#JustInTimeAccessPolicy": {
      "type": "structure",
      "members": {
        "multiFactorAuthProvider": {
          "target": "com.azure.managedservices#JustInTimeAccessPolicyMultiFactorAuthProvider",
          "traits": {
            "smithy.api#documentation": "The multi-factor authorization provider to be used for just-in-time access requests.",
            "smithy.api#required": {}
          }
        },
        "maximumActivationDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The maximum access duration in ISO 8601 format for just-in-time access requests."
          }
        },
        "managedByTenantApprovers": {
          "target": "com.azure.managedservices#JustInTimeAccessPolicyManagedByTenantApproversList",
          "traits": {
            "smithy.api#documentation": "The list of managedByTenant approvers for the eligible authorization."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Just-in-time access policy setting."
      }
    },
    "com.azure.managedservices#JustInTimeAccessPolicyManagedByTenantApproversList": {
      "type": "list",
      "member": {
        "target": "com.azure.managedservices#EligibleApprover"
      },
      "traits": {
        "smithy.api#documentation": "The list of managedByTenant approvers for the eligible authorization."
      }
    },
    "com.azure.managedservices#EligibleApprover": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the Azure Active Directory principal.",
            "smithy.api#required": {}
          }
        },
        "principalIdDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the Azure Active Directory principal."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the Azure Active Directory principal that can approve any just-in-time access requests by the principal defined in the EligibleAuthorization."
      }
    },
    "com.azure.managedservices#JustInTimeAccessPolicyMultiFactorAuthProvider": {
      "type": "enum",
      "members": {
        "AZURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Azure"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The multi-factor authorization provider to be used for just-in-time access requests."
      }
    },
    "com.azure.managedservices#MarketplaceRegistrationDefinitionPropertiesAuthorizationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.managedservices#Authorization"
      },
      "traits": {
        "smithy.api#documentation": "The collection of authorization objects describing the access Azure Active Directory principals in the managedBy tenant will receive on the delegated resource in the managed tenant."
      }
    },
    "com.azure.managedservices#Authorization": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the Azure Active Directory principal.",
            "smithy.api#required": {}
          }
        },
        "principalIdDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the Azure Active Directory principal."
          }
        },
        "roleDefinitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the Azure built-in role that defines the permissions that the Azure Active Directory principal will have on the projected scope.",
            "smithy.api#required": {}
          }
        },
        "delegatedRoleDefinitionIds": {
          "target": "com.azure.managedservices#AuthorizationDelegatedRoleDefinitionIdsList",
          "traits": {
            "smithy.api#documentation": "The delegatedRoleDefinitionIds field is required when the roleDefinitionId refers to the User Access Administrator Role. It is the list of role definition ids which define all the permissions that the user in the authorization can assign to other principals."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Azure Active Directory principal identifier and Azure built-in role that describes the access the principal will receive on the delegated resource in the managed tenant."
      }
    },
    "com.azure.managedservices#AuthorizationDelegatedRoleDefinitionIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The delegatedRoleDefinitionIds field is required when the roleDefinitionId refers to the User Access Administrator Role. It is the list of role definition ids which define all the permissions that the user in the authorization can assign to other principals."
      }
    },
    "com.azure.managedservices#MarketplaceRegistrationDefinitionsWithoutScopeGetRequest": {
      "type": "structure",
      "members": {
        "marketplaceIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Azure Marketplace identifier. Expected formats: {publisher}.{product[-preview]}.{planName}.{version} or {publisher}.{product[-preview]}.{planName} or {publisher}.{product[-preview]} or {publisher})."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.managedservices#MarketplaceRegistrationDefinitionsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.managedservices#MarketplaceRegistrationDefinitionsGetRequest"
      },
      "output": {
        "target": "com.azure.managedservices#MarketplaceRegistrationDefinition"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{scope}/providers/Microsoft.ManagedServices/marketplaceRegistrationDefinitions/{marketplaceIdentifier}",
          "code": 200,
          "apiVersion": "2022-10-01"
        },
        "smithy.api#documentation": "Get the marketplace registration definition for the marketplace identifier.",
        "com.distilled.openapi#apiVersion": "2022-10-01"
      }
    },
    "com.azure.managedservices#MarketplaceRegistrationDefinitionsGetRequest": {
      "type": "structure",
      "members": {
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The scope of the resource."
          }
        },
        "marketplaceIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Azure Marketplace identifier. Expected formats: {publisher}.{product[-preview]}.{planName}.{version} or {publisher}.{product[-preview]}.{planName} or {publisher}.{product[-preview]} or {publisher})."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.managedservices#MarketplaceRegistrationDefinitionsWithoutScopeList": {
      "type": "operation",
      "input": {
        "target": "com.azure.managedservices#MarketplaceRegistrationDefinitionsWithoutScopeListRequest"
      },
      "output": {
        "target": "com.azure.managedservices#MarketplaceRegistrationDefinitionList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.ManagedServices/marketplaceRegistrationDefinitions",
          "code": 200,
          "apiVersion": "2022-10-01"
        },
        "smithy.api#documentation": "Gets a list of the marketplace registration definitions for the marketplace identifier.",
        "com.distilled.openapi#apiVersion": "2022-10-01"
      }
    },
    "com.azure.managedservices#MarketplaceRegistrationDefinitionList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.managedservices#MarketplaceRegistrationDefinitionListValueList",
          "traits": {
            "smithy.api#documentation": "The list of marketplace registration definitions."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of marketplace registration definitions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of marketplace registration definitions."
      }
    },
    "com.azure.managedservices#MarketplaceRegistrationDefinitionListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.managedservices#MarketplaceRegistrationDefinition"
      },
      "traits": {
        "smithy.api#documentation": "The list of marketplace registration definitions."
      }
    },
    "com.azure.managedservices#MarketplaceRegistrationDefinitionsWithoutScopeListRequest": {
      "type": "structure",
      "members": {
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "The filter query parameter to filter managed services resources by."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.managedservices#MarketplaceRegistrationDefinitionsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.managedservices#MarketplaceRegistrationDefinitionsListRequest"
      },
      "output": {
        "target": "com.azure.managedservices#MarketplaceRegistrationDefinitionList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{scope}/providers/Microsoft.ManagedServices/marketplaceRegistrationDefinitions",
          "code": 200,
          "apiVersion": "2022-10-01"
        },
        "smithy.api#documentation": "Gets a list of the marketplace registration definitions for the marketplace identifier.",
        "com.distilled.openapi#apiVersion": "2022-10-01"
      }
    },
    "com.azure.managedservices#MarketplaceRegistrationDefinitionsListRequest": {
      "type": "structure",
      "members": {
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The scope of the resource."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "The filter query parameter to filter managed services resources by."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.managedservices#RegistrationAssignmentsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.managedservices#RegistrationAssignmentsListRequest"
      },
      "output": {
        "target": "com.azure.managedservices#RegistrationAssignmentList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{scope}/providers/Microsoft.ManagedServices/registrationAssignments",
          "code": 200,
          "apiVersion": "2022-10-01"
        },
        "smithy.api#documentation": "Gets a list of the registration assignments.",
        "com.distilled.openapi#apiVersion": "2022-10-01"
      }
    },
    "com.azure.managedservices#RegistrationAssignmentList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.managedservices#RegistrationAssignmentListValueList",
          "traits": {
            "smithy.api#documentation": "The list of registration assignments."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of registration assignments."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of registration assignments."
      }
    },
    "com.azure.managedservices#RegistrationAssignmentListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.managedservices#RegistrationAssignment"
      },
      "traits": {
        "smithy.api#documentation": "The list of registration assignments."
      }
    },
    "com.azure.managedservices#RegistrationAssignment": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.azure.managedservices#RegistrationAssignmentProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a registration assignment."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified path of the registration assignment."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the Azure resource (Microsoft.ManagedServices/registrationAssignments)."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the registration assignment."
          }
        },
        "systemData": {
          "target": "com.azure.managedservices#RegistrationAssignmentSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The registration assignment."
      }
    },
    "com.azure.managedservices#RegistrationAssignmentSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.managedservices#RegistrationAssignmentSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.managedservices#RegistrationAssignmentSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.managedservices#RegistrationAssignmentSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.managedservices#RegistrationAssignmentSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.managedservices#RegistrationAssignmentProperties": {
      "type": "structure",
      "members": {
        "registrationDefinitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified path of the registration definition.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.managedservices#RegistrationAssignmentPropertiesProvisioningState",
          "traits": {
            "smithy.api#documentation": "The current provisioning state of the registration assignment."
          }
        },
        "registrationDefinition": {
          "target": "com.azure.managedservices#RegistrationAssignmentPropertiesRegistrationDefinition",
          "traits": {
            "smithy.api#documentation": "The registration definition associated with the registration assignment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the registration assignment."
      }
    },
    "com.azure.managedservices#RegistrationAssignmentPropertiesRegistrationDefinition": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.azure.managedservices#RegistrationAssignmentPropertiesRegistrationDefinitionProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the registration definition associated with the registration assignment."
          }
        },
        "plan": {
          "target": "com.azure.managedservices#Plan",
          "traits": {
            "smithy.api#documentation": "The details for the Managed Services offer’s plan in Azure Marketplace."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified path of the registration definition."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the Azure resource (Microsoft.ManagedServices/registrationDefinitions)."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the registration definition."
          }
        },
        "systemData": {
          "target": "com.azure.managedservices#RegistrationAssignmentPropertiesRegistrationDefinitionSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The registration definition associated with the registration assignment."
      }
    },
    "com.azure.managedservices#RegistrationAssignmentPropertiesRegistrationDefinitionSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.managedservices#RegistrationAssignmentPropertiesRegistrationDefinitionSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.managedservices#RegistrationAssignmentPropertiesRegistrationDefinitionSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.managedservices#RegistrationAssignmentPropertiesRegistrationDefinitionSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.managedservices#RegistrationAssignmentPropertiesRegistrationDefinitionSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.managedservices#RegistrationAssignmentPropertiesRegistrationDefinitionProperties": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the registration definition."
          }
        },
        "authorizations": {
          "target": "com.azure.managedservices#RegistrationAssignmentPropertiesRegistrationDefinitionPropertiesAuthorizationsList",
          "traits": {
            "smithy.api#documentation": "The collection of authorization objects describing the access Azure Active Directory principals in the managedBy tenant will receive on the delegated resource in the managed tenant."
          }
        },
        "eligibleAuthorizations": {
          "target": "com.azure.managedservices#RegistrationAssignmentPropertiesRegistrationDefinitionPropertiesEligibleAuthorizationsList",
          "traits": {
            "smithy.api#documentation": "The collection of eligible authorization objects describing the just-in-time access Azure Active Directory principals in the managedBy tenant will receive on the delegated resource in the managed tenant."
          }
        },
        "registrationDefinitionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the registration definition."
          }
        },
        "provisioningState": {
          "target": "com.azure.managedservices#RegistrationAssignmentPropertiesRegistrationDefinitionPropertiesProvisioningState",
          "traits": {
            "smithy.api#documentation": "The current provisioning state of the registration definition."
          }
        },
        "manageeTenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the managed tenant."
          }
        },
        "manageeTenantName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the managed tenant."
          }
        },
        "managedByTenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the managedBy tenant."
          }
        },
        "managedByTenantName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the managedBy tenant."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the registration definition associated with the registration assignment."
      }
    },
    "com.azure.managedservices#RegistrationAssignmentPropertiesRegistrationDefinitionPropertiesProvisioningState": {
      "type": "enum",
      "members": {
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ready"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Created"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleted"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current provisioning state of the registration definition."
      }
    },
    "com.azure.managedservices#RegistrationAssignmentPropertiesRegistrationDefinitionPropertiesEligibleAuthorizationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.managedservices#EligibleAuthorization"
      },
      "traits": {
        "smithy.api#documentation": "The collection of eligible authorization objects describing the just-in-time access Azure Active Directory principals in the managedBy tenant will receive on the delegated resource in the managed tenant."
      }
    },
    "com.azure.managedservices#RegistrationAssignmentPropertiesRegistrationDefinitionPropertiesAuthorizationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.managedservices#Authorization"
      },
      "traits": {
        "smithy.api#documentation": "The collection of authorization objects describing the access Azure Active Directory principals in the managedBy tenant will receive on the delegated resource in the managed tenant."
      }
    },
    "com.azure.managedservices#RegistrationAssignmentPropertiesProvisioningState": {
      "type": "enum",
      "members": {
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ready"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Created"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleted"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current provisioning state of the registration assignment."
      }
    },
    "com.azure.managedservices#RegistrationAssignmentsListRequest": {
      "type": "structure",
      "members": {
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The scope of the resource."
          }
        },
        "_expandRegistrationDefinition": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "$expandRegistrationDefinition",
            "smithy.api#documentation": "The flag indicating whether to return the registration definition details along with the registration assignment details."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "The filter query parameter to filter managed services resources by."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.managedservices#RegistrationDefinitionsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.managedservices#RegistrationDefinitionsListRequest"
      },
      "output": {
        "target": "com.azure.managedservices#RegistrationDefinitionList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{scope}/providers/Microsoft.ManagedServices/registrationDefinitions",
          "code": 200,
          "apiVersion": "2022-10-01"
        },
        "smithy.api#documentation": "Gets a list of the registration definitions.",
        "com.distilled.openapi#apiVersion": "2022-10-01"
      }
    },
    "com.azure.managedservices#RegistrationDefinitionList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.managedservices#RegistrationDefinitionListValueList",
          "traits": {
            "smithy.api#documentation": "The list of registration definitions."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of registration definitions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of registration definitions."
      }
    },
    "com.azure.managedservices#RegistrationDefinitionListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.managedservices#RegistrationDefinition"
      },
      "traits": {
        "smithy.api#documentation": "The list of registration definitions."
      }
    },
    "com.azure.managedservices#RegistrationDefinition": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.azure.managedservices#RegistrationDefinitionProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a registration definition."
          }
        },
        "plan": {
          "target": "com.azure.managedservices#Plan",
          "traits": {
            "smithy.api#documentation": "The details for the Managed Services offer’s plan in Azure Marketplace."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified path of the registration definition."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the Azure resource (Microsoft.ManagedServices/registrationDefinitions)."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the registration definition."
          }
        },
        "systemData": {
          "target": "com.azure.managedservices#RegistrationDefinitionSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The registration definition."
      }
    },
    "com.azure.managedservices#RegistrationDefinitionSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.managedservices#RegistrationDefinitionSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.managedservices#RegistrationDefinitionSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.managedservices#RegistrationDefinitionSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.managedservices#RegistrationDefinitionSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.managedservices#RegistrationDefinitionProperties": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the registration definition."
          }
        },
        "authorizations": {
          "target": "com.azure.managedservices#RegistrationDefinitionPropertiesAuthorizationsList",
          "traits": {
            "smithy.api#documentation": "The collection of authorization objects describing the access Azure Active Directory principals in the managedBy tenant will receive on the delegated resource in the managed tenant.",
            "smithy.api#required": {}
          }
        },
        "eligibleAuthorizations": {
          "target": "com.azure.managedservices#RegistrationDefinitionPropertiesEligibleAuthorizationsList",
          "traits": {
            "smithy.api#documentation": "The collection of eligible authorization objects describing the just-in-time access Azure Active Directory principals in the managedBy tenant will receive on the delegated resource in the managed tenant."
          }
        },
        "registrationDefinitionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the registration definition."
          }
        },
        "managedByTenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the managedBy tenant.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.managedservices#RegistrationDefinitionPropertiesProvisioningState",
          "traits": {
            "smithy.api#documentation": "The current provisioning state of the registration definition."
          }
        },
        "manageeTenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the managed tenant."
          }
        },
        "manageeTenantName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the managed tenant."
          }
        },
        "managedByTenantName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the managedBy tenant."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of a registration definition."
      }
    },
    "com.azure.managedservices#RegistrationDefinitionPropertiesProvisioningState": {
      "type": "enum",
      "members": {
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ready"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Created"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleted"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current provisioning state of the registration definition."
      }
    },
    "com.azure.managedservices#RegistrationDefinitionPropertiesEligibleAuthorizationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.managedservices#EligibleAuthorization"
      },
      "traits": {
        "smithy.api#documentation": "The collection of eligible authorization objects describing the just-in-time access Azure Active Directory principals in the managedBy tenant will receive on the delegated resource in the managed tenant."
      }
    },
    "com.azure.managedservices#RegistrationDefinitionPropertiesAuthorizationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.managedservices#Authorization"
      },
      "traits": {
        "smithy.api#documentation": "The collection of authorization objects describing the access Azure Active Directory principals in the managedBy tenant will receive on the delegated resource in the managed tenant."
      }
    },
    "com.azure.managedservices#RegistrationDefinitionsListRequest": {
      "type": "structure",
      "members": {
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The scope of the resource."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "The filter query parameter to filter managed services resources by."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.managedservices#RegistrationAssignmentsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.managedservices#RegistrationAssignmentsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/{scope}/providers/Microsoft.ManagedServices/registrationAssignments/{registrationAssignmentId}",
          "code": 200,
          "apiVersion": "2022-10-01"
        },
        "smithy.api#documentation": "Deletes the specified registration assignment.",
        "com.distilled.openapi#apiVersion": "2022-10-01"
      }
    },
    "com.azure.managedservices#RegistrationAssignmentsDeleteRequest": {
      "type": "structure",
      "members": {
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The scope of the resource."
          }
        },
        "registrationAssignmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The GUID of the registration assignment."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.managedservices#RegistrationAssignmentsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.managedservices#RegistrationAssignmentsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.managedservices#RegistrationAssignment"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/{scope}/providers/Microsoft.ManagedServices/registrationAssignments/{registrationAssignmentId}",
          "code": 200,
          "apiVersion": "2022-10-01"
        },
        "smithy.api#documentation": "Creates or updates a registration assignment.",
        "com.distilled.openapi#apiVersion": "2022-10-01"
      }
    },
    "com.azure.managedservices#RegistrationAssignmentsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The scope of the resource."
          }
        },
        "registrationAssignmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The GUID of the registration assignment."
          }
        },
        "properties": {
          "target": "com.azure.managedservices#RegistrationAssignmentPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The properties of a registration assignment."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.managedservices#RegistrationAssignmentPropertiesInput": {
      "type": "structure",
      "members": {
        "registrationDefinitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified path of the registration definition.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the registration assignment."
      }
    },
    "com.azure.managedservices#RegistrationAssignmentsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.managedservices#RegistrationAssignmentsGetRequest"
      },
      "output": {
        "target": "com.azure.managedservices#RegistrationAssignment"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{scope}/providers/Microsoft.ManagedServices/registrationAssignments/{registrationAssignmentId}",
          "code": 200,
          "apiVersion": "2022-10-01"
        },
        "smithy.api#documentation": "Gets the details of the specified registration assignment.",
        "com.distilled.openapi#apiVersion": "2022-10-01"
      }
    },
    "com.azure.managedservices#RegistrationAssignmentsGetRequest": {
      "type": "structure",
      "members": {
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The scope of the resource."
          }
        },
        "registrationAssignmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The GUID of the registration assignment."
          }
        },
        "_expandRegistrationDefinition": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "$expandRegistrationDefinition",
            "smithy.api#documentation": "The flag indicating whether to return the registration definition details along with the registration assignment details."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.managedservices#RegistrationDefinitionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.managedservices#RegistrationDefinitionsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/{scope}/providers/Microsoft.ManagedServices/registrationDefinitions/{registrationDefinitionId}",
          "code": 200,
          "apiVersion": "2022-10-01"
        },
        "smithy.api#documentation": "Deletes the registration definition.",
        "com.distilled.openapi#apiVersion": "2022-10-01"
      }
    },
    "com.azure.managedservices#RegistrationDefinitionsDeleteRequest": {
      "type": "structure",
      "members": {
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The scope of the resource."
          }
        },
        "registrationDefinitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The GUID of the registration definition."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.managedservices#RegistrationDefinitionsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.managedservices#RegistrationDefinitionsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.managedservices#RegistrationDefinition"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/{scope}/providers/Microsoft.ManagedServices/registrationDefinitions/{registrationDefinitionId}",
          "code": 200,
          "apiVersion": "2022-10-01"
        },
        "smithy.api#documentation": "Creates or updates a registration definition.",
        "com.distilled.openapi#apiVersion": "2022-10-01"
      }
    },
    "com.azure.managedservices#RegistrationDefinitionsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The scope of the resource."
          }
        },
        "registrationDefinitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The GUID of the registration definition."
          }
        },
        "properties": {
          "target": "com.azure.managedservices#RegistrationDefinitionPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The properties of a registration definition."
          }
        },
        "plan": {
          "target": "com.azure.managedservices#Plan",
          "traits": {
            "smithy.api#documentation": "The details for the Managed Services offer’s plan in Azure Marketplace."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.managedservices#RegistrationDefinitionPropertiesInput": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the registration definition."
          }
        },
        "authorizations": {
          "target": "com.azure.managedservices#RegistrationDefinitionPropertiesInputAuthorizationsList",
          "traits": {
            "smithy.api#documentation": "The collection of authorization objects describing the access Azure Active Directory principals in the managedBy tenant will receive on the delegated resource in the managed tenant.",
            "smithy.api#required": {}
          }
        },
        "eligibleAuthorizations": {
          "target": "com.azure.managedservices#RegistrationDefinitionPropertiesInputEligibleAuthorizationsList",
          "traits": {
            "smithy.api#documentation": "The collection of eligible authorization objects describing the just-in-time access Azure Active Directory principals in the managedBy tenant will receive on the delegated resource in the managed tenant."
          }
        },
        "registrationDefinitionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the registration definition."
          }
        },
        "managedByTenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the managedBy tenant.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of a registration definition."
      }
    },
    "com.azure.managedservices#RegistrationDefinitionPropertiesInputEligibleAuthorizationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.managedservices#EligibleAuthorization"
      },
      "traits": {
        "smithy.api#documentation": "The collection of eligible authorization objects describing the just-in-time access Azure Active Directory principals in the managedBy tenant will receive on the delegated resource in the managed tenant."
      }
    },
    "com.azure.managedservices#RegistrationDefinitionPropertiesInputAuthorizationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.managedservices#Authorization"
      },
      "traits": {
        "smithy.api#documentation": "The collection of authorization objects describing the access Azure Active Directory principals in the managedBy tenant will receive on the delegated resource in the managed tenant."
      }
    },
    "com.azure.managedservices#RegistrationDefinitionsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.managedservices#RegistrationDefinitionsGetRequest"
      },
      "output": {
        "target": "com.azure.managedservices#RegistrationDefinition"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{scope}/providers/Microsoft.ManagedServices/registrationDefinitions/{registrationDefinitionId}",
          "code": 200,
          "apiVersion": "2022-10-01"
        },
        "smithy.api#documentation": "Gets the registration definition details.",
        "com.distilled.openapi#apiVersion": "2022-10-01"
      }
    },
    "com.azure.managedservices#RegistrationDefinitionsGetRequest": {
      "type": "structure",
      "members": {
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The scope of the resource."
          }
        },
        "registrationDefinitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The GUID of the registration definition."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.managedservices#Managedservices": {
      "type": "service",
      "version": "1.0",
      "operations": [
        {
          "target": "com.azure.managedservices#OperationsWithScopeList"
        },
        {
          "target": "com.azure.managedservices#OperationsList"
        },
        {
          "target": "com.azure.managedservices#MarketplaceRegistrationDefinitionsWithoutScopeGet"
        },
        {
          "target": "com.azure.managedservices#MarketplaceRegistrationDefinitionsGet"
        },
        {
          "target": "com.azure.managedservices#MarketplaceRegistrationDefinitionsWithoutScopeList"
        },
        {
          "target": "com.azure.managedservices#MarketplaceRegistrationDefinitionsList"
        },
        {
          "target": "com.azure.managedservices#RegistrationAssignmentsList"
        },
        {
          "target": "com.azure.managedservices#RegistrationDefinitionsList"
        },
        {
          "target": "com.azure.managedservices#RegistrationAssignmentsDelete"
        },
        {
          "target": "com.azure.managedservices#RegistrationAssignmentsCreateOrUpdate"
        },
        {
          "target": "com.azure.managedservices#RegistrationAssignmentsGet"
        },
        {
          "target": "com.azure.managedservices#RegistrationDefinitionsDelete"
        },
        {
          "target": "com.azure.managedservices#RegistrationDefinitionsCreateOrUpdate"
        },
        {
          "target": "com.azure.managedservices#RegistrationDefinitionsGet"
        }
      ],
      "traits": {
        "smithy.api#title": "Azure Managedservices",
        "smithy.api#documentation": "Azure Managedservices API — merged from the managedservices resource-manager specs (latest stable api-version per resource provider)."
      }
    }
  }
}
