{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.marketplacecatalog#OperationsList": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.azure.marketplacecatalog#OperationsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.Marketplace/operations",
          "code": 200,
          "apiVersion": "2023-01-01-preview"
        },
        "smithy.api#documentation": "Lists all of the available Microsoft.Marketplace REST API operations.",
        "com.distilled.openapi#apiVersion": "2023-01-01-preview"
      }
    },
    "com.azure.marketplacecatalog#OperationsListResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.marketplacecatalog#OperationsListResponseValueList",
          "traits": {
            "smithy.api#documentation": "List of operations supported by the resource provider"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to get the next set of operation list results (if there are any)."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.marketplacecatalog#OperationsListResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.marketplacecatalog#Operation"
      },
      "traits": {
        "smithy.api#documentation": "List of operations supported by the resource provider"
      }
    },
    "com.azure.marketplacecatalog#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation, as per Resource-Based Access Control (RBAC). Examples: \"Microsoft.Compute/virtualMachines/write\", \"Microsoft.Compute/virtualMachines/capture/action\""
          }
        },
        "isDataAction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the operation applies to data-plane. This is \"true\" for data-plane operations and \"false\" for ARM/control-plane operations."
          }
        },
        "display": {
          "target": "com.azure.marketplacecatalog#OperationDisplay",
          "traits": {
            "smithy.api#documentation": "Localized display information for this particular operation."
          }
        },
        "origin": {
          "target": "com.azure.marketplacecatalog#OperationOrigin",
          "traits": {
            "smithy.api#documentation": "The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is \"user,system\""
          }
        },
        "actionType": {
          "target": "com.azure.marketplacecatalog#OperationActionType",
          "traits": {
            "smithy.api#documentation": "Enum. Indicates the action type. \"Internal\" refers to actions that are for internal only APIs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a REST API operation, returned from the Resource Provider Operations API"
      }
    },
    "com.azure.marketplacecatalog#OperationActionType": {
      "type": "enum",
      "members": {
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Internal"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enum. Indicates the action type. \"Internal\" refers to actions that are for internal only APIs."
      }
    },
    "com.azure.marketplacecatalog#OperationOrigin": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        },
        "USER_SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user,system"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is \"user,system\""
      }
    },
    "com.azure.marketplacecatalog#OperationDisplay": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized friendly form of the resource provider name, e.g. \"Microsoft Monitoring Insights\" or \"Microsoft Compute\"."
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized friendly name of the resource type related to this operation. E.g. \"Virtual Machines\" or \"Job Schedule Collections\"."
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The concise, localized friendly name for the operation; suitable for dropdowns. E.g. \"Create or Update Virtual Machine\", \"Restart Virtual Machine\"."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The short, localized friendly description of the operation; suitable for tool tips and detailed views."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Localized display information for this particular operation."
      }
    },
    "com.azure.marketplacecatalog#GetApiKeysList": {
      "type": "operation",
      "input": {
        "target": "com.azure.marketplacecatalog#GetApiKeysListRequest"
      },
      "output": {
        "target": "com.azure.marketplacecatalog#ApiKeys"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Marketplace/keys",
          "code": 200,
          "apiVersion": "2023-01-01-preview"
        },
        "smithy.api#documentation": "Retrieves a list of API keys associated with a selected subscription. Please note that this API is currently in a preview state and requires sign-up to the 'Discovery Api Key Early Access' preview feature using a valid Azure subscription. For more information on this process please see the documentation for Marketplace Catalog APIs [here](https://learn.microsoft.com/en-us/rest/api/marketplacecatalog/dataplane/products/get?view=rest-marketplacecatalog-dataplane-2023-05-01-preview&tabs=HTTP)",
        "com.distilled.openapi#apiVersion": "2023-01-01-preview"
      }
    },
    "com.azure.marketplacecatalog#ApiKeys": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.marketplacecatalog#ApiKeysValueList"
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of ApiKey objects."
      }
    },
    "com.azure.marketplacecatalog#ApiKeysValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.marketplacecatalog#ApiKey"
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#ApiKey": {
      "type": "structure",
      "members": {
        "keyAlias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API key alias."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API key to be used when calling relevant Discovery endpoints."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ApiKey object containing both the key and its alias."
      }
    },
    "com.azure.marketplacecatalog#GetApiKeysListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.marketplacecatalog#RevokeApiKeyPost": {
      "type": "operation",
      "input": {
        "target": "com.azure.marketplacecatalog#RevokeApiKeyPostRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Marketplace/keys/{apiKeyAlias}/revoke",
          "code": 200,
          "apiVersion": "2023-01-01-preview"
        },
        "smithy.api#documentation": "Revokes an active API key. Please note that this API is currently in a preview state and requires sign-up to the 'Discovery Api Key Early Access' preview feature using a valid Azure subscription. For more information on this process please see the documentation for Marketplace Catalog APIs [here](https://learn.microsoft.com/en-us/rest/api/marketplacecatalog/dataplane/products/get?view=rest-marketplacecatalog-dataplane-2023-05-01-preview&tabs=HTTP)",
        "com.distilled.openapi#apiVersion": "2023-01-01-preview"
      }
    },
    "com.azure.marketplacecatalog#RevokeApiKeyPostRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "apiKeyAlias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The alias of your API key."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.marketplacecatalog#CreateApiKeyPost": {
      "type": "operation",
      "input": {
        "target": "com.azure.marketplacecatalog#CreateApiKeyPostRequest"
      },
      "output": {
        "target": "com.azure.marketplacecatalog#ApiKey"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Marketplace/keys/{apiKeyAlias}/create",
          "code": 200,
          "apiVersion": "2023-01-01-preview"
        },
        "smithy.api#documentation": "Generates an API key, granting access to the full range of Marketplace Catalog APIs. Please note that this API is currently in a preview state and requires sign-up to the 'Discovery Api Key Early Access' preview feature using a valid Azure subscription. For more information on this process please see the documentation for Marketplace Catalog APIs [here](https://learn.microsoft.com/en-us/rest/api/marketplacecatalog/dataplane/products/get?view=rest-marketplacecatalog-dataplane-2023-05-01-preview&tabs=HTTP)",
        "com.distilled.openapi#apiVersion": "2023-01-01-preview"
      }
    },
    "com.azure.marketplacecatalog#CreateApiKeyPostRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "apiKeyAlias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Alias for new API Key. This alias must be unique and contain only alphanumeric characters separated by dashes."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.marketplacecatalog#EdgeZonesProductsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.marketplacecatalog#EdgeZonesProductsListRequest"
      },
      "output": {
        "target": "com.azure.marketplacecatalog#PageResultOfCatalogItem"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Marketplace/locations/{location}/edgeZones/{edgeZone}/products",
          "code": 200,
          "apiVersion": "2022-07-31"
        },
        "smithy.api#documentation": "Get a list of edge zone products",
        "com.distilled.openapi#apiVersion": "2022-07-31"
      }
    },
    "com.azure.marketplacecatalog#PageResultOfCatalogItem": {
      "type": "structure",
      "members": {
        "nextPageLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the link for the next page of items in the feed.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets the total count of items in the feed.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "items": {
          "target": "com.azure.marketplacecatalog#PageResultOfCatalogItemItemsList",
          "traits": {
            "smithy.api#documentation": "Gets the collection of entities for this feed.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a feed of entities that includes additional information that OData formats support."
      }
    },
    "com.azure.marketplacecatalog#PageResultOfCatalogItemItemsList": {
      "type": "list",
      "member": {
        "target": "com.azure.marketplacecatalog#CatalogItem"
      },
      "traits": {
        "smithy.api#documentation": "Gets the collection of entities for this feed."
      }
    },
    "com.azure.marketplacecatalog#CatalogItem": {
      "type": "structure",
      "members": {
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Language of the offer",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "hasStandardContractAmendments": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether standard contract amendments are present for this product"
          }
        },
        "publisherMpnId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The publisher's Microsoft Partner Network (MPN) Id",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sellerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Partner Center Seller Id",
            "com.distilled.openapi#nullable": {}
          }
        },
        "publisherId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Publisher id",
            "com.distilled.openapi#nullable": {}
          }
        },
        "partnerCenterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Partner center id",
            "com.distilled.openapi#nullable": {}
          }
        },
        "publisherDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Publisher display name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "offerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Offer id",
            "smithy.api#required": {}
          }
        },
        "legacyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Offer legacy id",
            "smithy.api#required": {}
          }
        },
        "determinedStorefronts": {
          "target": "com.azure.marketplacecatalog#CatalogItemDeterminedStorefrontsList",
          "traits": {
            "smithy.api#documentation": "The list of the storefronts for which this offer is designated",
            "com.distilled.openapi#nullable": {}
          }
        },
        "standardContractAmendmentsRevisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Standard contract amendments for this product"
          }
        },
        "universalAmendmentUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The universal amendment link for an enterprise contract.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Summary of the catalog item",
            "com.distilled.openapi#nullable": {}
          }
        },
        "longSummary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Long summary",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the catalog item",
            "com.distilled.openapi#nullable": {}
          }
        },
        "offerType": {
          "target": "com.azure.marketplacecatalog#OfferType",
          "traits": {
            "smithy.api#documentation": "Offer type"
          }
        },
        "isPrivate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether the item is private"
          }
        },
        "isPreview": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether the item is preview"
          }
        },
        "isStopSell": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether sale of this item is stopped"
          }
        },
        "stopSellInfo": {
          "target": "com.azure.marketplacecatalog#StopSellInfo",
          "traits": {
            "smithy.api#documentation": "A StopSellInfo object providing stop sell related data",
            "com.distilled.openapi#nullable": {}
          }
        },
        "fulfillBeforeChargeEligible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether this item is eligible for fulfill before charge"
          }
        },
        "marketingMaterial": {
          "target": "com.azure.marketplacecatalog#MarketingMaterial",
          "traits": {
            "smithy.api#documentation": "Marketing material added by the publisher",
            "com.distilled.openapi#nullable": {}
          }
        },
        "markets": {
          "target": "com.azure.marketplacecatalog#CatalogItemMarketsList",
          "traits": {
            "smithy.api#documentation": "Markets for the item",
            "com.distilled.openapi#nullable": {}
          }
        },
        "isvContactDetails": {
          "target": "com.azure.marketplacecatalog#CatalogItemIsvContactDetailsMap",
          "traits": {
            "smithy.api#documentation": "ISV contact details",
            "com.distilled.openapi#nullable": {}
          }
        },
        "bigId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Big catalog id",
            "smithy.api#required": {}
          }
        },
        "ocpSolutionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OCP solution id of the product",
            "com.distilled.openapi#nullable": {}
          }
        },
        "legalTermsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Legal terms URI",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cspLegalTermsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CSP legal terms URI",
            "com.distilled.openapi#nullable": {}
          }
        },
        "legalTermsType": {
          "target": "com.azure.marketplacecatalog#LegalTermsType",
          "traits": {
            "smithy.api#documentation": "Type of to the legal terms"
          }
        },
        "privacyPolicyUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uri to the privacy policy of the product",
            "com.distilled.openapi#nullable": {}
          }
        },
        "helpLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Help link for the product",
            "com.distilled.openapi#nullable": {}
          }
        },
        "supportUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Support uri of the product",
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Big Cat submission version",
            "com.distilled.openapi#nullable": {}
          }
        },
        "uiDefinitionUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User interface definition uri",
            "com.distilled.openapi#nullable": {}
          }
        },
        "categoryIds": {
          "target": "com.azure.marketplacecatalog#CatalogItemCategoryIdsList",
          "traits": {
            "smithy.api#documentation": "List of category IDs the marketplace item belongs to",
            "com.distilled.openapi#nullable": {}
          }
        },
        "operatingSystems": {
          "target": "com.azure.marketplacecatalog#CatalogItemOperatingSystemsList",
          "traits": {
            "smithy.api#documentation": "List of operating systems the marketplace item supports",
            "com.distilled.openapi#nullable": {}
          }
        },
        "marketCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Market code of a service offer",
            "com.distilled.openapi#nullable": {}
          }
        },
        "marketStates": {
          "target": "com.azure.marketplacecatalog#CatalogItemMarketStatesList",
          "traits": {
            "smithy.api#documentation": "Market states of a service offer",
            "com.distilled.openapi#nullable": {}
          }
        },
        "industryIds": {
          "target": "com.azure.marketplacecatalog#CatalogItemIndustryIdsList",
          "traits": {
            "smithy.api#documentation": "List of industry IDs the item belongs to",
            "com.distilled.openapi#nullable": {}
          }
        },
        "primaryIndustry": {
          "target": "com.azure.marketplacecatalog#CatalogItemPrimaryIndustryList",
          "traits": {
            "smithy.api#documentation": "List of industry IDs the item belongs to",
            "com.distilled.openapi#nullable": {}
          }
        },
        "primaryCategories": {
          "target": "com.azure.marketplacecatalog#CatalogItemPrimaryCategoriesList",
          "traits": {
            "smithy.api#documentation": "List of category IDs the item belongs to",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cloudIndustryCategories": {
          "target": "com.azure.marketplacecatalog#CatalogItemCloudIndustryCategoriesList",
          "traits": {
            "smithy.api#documentation": "List of cloud industry IDs the item belongs to",
            "com.distilled.openapi#nullable": {}
          }
        },
        "primaryProduct": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Primary product for the offer",
            "com.distilled.openapi#nullable": {}
          }
        },
        "supportedProducts": {
          "target": "com.azure.marketplacecatalog#CatalogItemSupportedProductsList",
          "traits": {
            "smithy.api#documentation": "It maps to the list of products the publisher provides with which their offer works",
            "com.distilled.openapi#nullable": {}
          }
        },
        "applicableProducts": {
          "target": "com.azure.marketplacecatalog#CatalogItemApplicableProductsList",
          "traits": {
            "smithy.api#documentation": "Product categories the offer belongs to",
            "com.distilled.openapi#nullable": {}
          }
        },
        "serviceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service type that applies to the offer",
            "com.distilled.openapi#nullable": {}
          }
        },
        "competencies": {
          "target": "com.azure.marketplacecatalog#CatalogItemCompetenciesList",
          "traits": {
            "smithy.api#documentation": "Competencies that apply to the offer",
            "com.distilled.openapi#nullable": {}
          }
        },
        "hasPrices": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether the item has prices",
            "com.distilled.openapi#nullable": {}
          }
        },
        "duration": {
          "target": "com.azure.marketplacecatalog#Duration",
          "traits": {
            "smithy.api#documentation": "The duration that applies to the item",
            "com.distilled.openapi#nullable": {}
          }
        },
        "marketPricingDetails": {
          "target": "com.azure.marketplacecatalog#CatalogItemMarketPricingDetailsList",
          "traits": {
            "smithy.api#documentation": "The pricing details of each market to the item",
            "com.distilled.openapi#nullable": {}
          }
        },
        "startingPrice": {
          "target": "com.azure.marketplacecatalog#MarketStartPrice",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "pricing": {
          "target": "com.azure.marketplacecatalog#Pricing",
          "traits": {
            "smithy.api#documentation": "The pricing that applies to the item",
            "com.distilled.openapi#nullable": {}
          }
        },
        "solutionAreas": {
          "target": "com.azure.marketplacecatalog#CatalogItemSolutionAreasList",
          "traits": {
            "smithy.api#documentation": "The states that apply to the item",
            "com.distilled.openapi#nullable": {}
          }
        },
        "screenshotUris": {
          "target": "com.azure.marketplacecatalog#CatalogItemScreenshotUrisList",
          "traits": {
            "smithy.api#documentation": "List of screenshot image URIs provided for the item",
            "com.distilled.openapi#nullable": {}
          }
        },
        "links": {
          "target": "com.azure.marketplacecatalog#CatalogItemLinksList",
          "traits": {
            "smithy.api#documentation": "List of Links provided for the item",
            "com.distilled.openapi#nullable": {}
          }
        },
        "filters": {
          "target": "com.azure.marketplacecatalog#CatalogItemFiltersList",
          "traits": {
            "smithy.api#documentation": "List of filters for the item",
            "com.distilled.openapi#nullable": {}
          }
        },
        "iconFileUris": {
          "target": "com.azure.marketplacecatalog#CatalogItemIconFileUrisMap",
          "traits": {
            "smithy.api#documentation": "Dictionary of icon image URIs by icon type",
            "com.distilled.openapi#nullable": {}
          }
        },
        "artifacts": {
          "target": "com.azure.marketplacecatalog#CatalogItemArtifactsList",
          "traits": {
            "smithy.api#documentation": "List of artifacts",
            "com.distilled.openapi#nullable": {}
          }
        },
        "metadata": {
          "target": "com.azure.marketplacecatalog#OfferMetadata",
          "traits": {
            "smithy.api#documentation": "Custom item metadata",
            "com.distilled.openapi#nullable": {}
          }
        },
        "properties": {
          "target": "com.azure.marketplacecatalog#CatalogItemPropertiesMap",
          "traits": {
            "smithy.api#documentation": "Dictionary of properties provided for the item",
            "com.distilled.openapi#nullable": {}
          }
        },
        "images": {
          "target": "com.azure.marketplacecatalog#CatalogItemImagesList",
          "traits": {
            "smithy.api#documentation": "List of Images",
            "com.distilled.openapi#nullable": {}
          }
        },
        "videos": {
          "target": "com.azure.marketplacecatalog#CatalogItemVideosList",
          "traits": {
            "smithy.api#documentation": "List of product videos",
            "com.distilled.openapi#nullable": {}
          }
        },
        "plans": {
          "target": "com.azure.marketplacecatalog#CatalogItemPlansList",
          "traits": {
            "smithy.api#documentation": "Plans available for the offer details",
            "com.distilled.openapi#nullable": {}
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource group name the gallery item belongs to",
            "com.distilled.openapi#nullable": {}
          }
        },
        "definitionTemplates": {
          "target": "com.azure.marketplacecatalog#DefinitionTemplates",
          "traits": {
            "smithy.api#documentation": "Definition templates",
            "com.distilled.openapi#nullable": {}
          }
        },
        "additionalProperties": {
          "target": "com.azure.marketplacecatalog#CatalogItemAdditionalPropertiesMap",
          "traits": {
            "smithy.api#documentation": "Dictionary of additional properties provided for the item",
            "com.distilled.openapi#nullable": {}
          }
        },
        "restrictedAudience": {
          "target": "com.azure.marketplacecatalog#RestrictedAudience",
          "traits": {
            "smithy.api#documentation": "This fields supports setting explicit audience like subscription, tenant or user",
            "com.distilled.openapi#nullable": {}
          }
        },
        "isDeleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating is the marketplace item deleted"
          }
        },
        "isThirdParty": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether the product is third party offer or not"
          }
        },
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This value is used to merge different entities to a single item",
            "com.distilled.openapi#nullable": {}
          }
        },
        "hideKeys": {
          "target": "com.azure.marketplacecatalog#CatalogItemHideKeysList",
          "traits": {
            "smithy.api#documentation": "List of hide keys provided for the item",
            "com.distilled.openapi#nullable": {}
          }
        },
        "keywords": {
          "target": "com.azure.marketplacecatalog#CatalogItemKeywordsList",
          "traits": {
            "smithy.api#documentation": "List of keywords provided for the item",
            "com.distilled.openapi#nullable": {}
          }
        },
        "popularity": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Popularity of the product"
          }
        },
        "pricingDetailsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pricing details uri of the product",
            "com.distilled.openapi#nullable": {}
          }
        },
        "hasFreeTrials": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether it has free trials"
          }
        },
        "isByol": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether it has licensed plans"
          }
        },
        "isMacc": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether it is MACC eligible"
          }
        },
        "hasFreePlans": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether it has free plans"
          }
        },
        "isQuantifiable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether product is quantifiable"
          }
        },
        "altStackReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Alternative stack reference",
            "com.distilled.openapi#nullable": {}
          }
        },
        "hasPaygPlans": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether an offer has a 'Pay As You Go' plan"
          }
        },
        "isReseller": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether microsoft is acting as a reseller"
          }
        },
        "ttl": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Expiration policy in seconds",
            "com.distilled.openapi#nullable": {}
          }
        },
        "isExcludedFromSearch": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether the offer should be excluded from search"
          }
        },
        "applicableStoreFronts": {
          "target": "com.azure.marketplacecatalog#StoreFrontOptions",
          "traits": {
            "smithy.api#documentation": "A value indicating which storefront this offer should surface on",
            "com.distilled.openapi#nullable": {}
          }
        },
        "offerVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Offer version specified by the publisher on publishing portal",
            "com.distilled.openapi#nullable": {}
          }
        },
        "isMicrosoftProduct": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether it is a microsoft product",
            "com.distilled.openapi#nullable": {}
          }
        },
        "productOwnershipSellingMotion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Product ownership selling motion",
            "com.distilled.openapi#nullable": {}
          }
        },
        "documentLinks": {
          "target": "com.azure.marketplacecatalog#CatalogItemDocumentLinksList",
          "traits": {
            "smithy.api#documentation": "The list of document links provided for the item",
            "com.distilled.openapi#nullable": {}
          }
        },
        "offerEnvironment": {
          "target": "com.azure.marketplacecatalog#EnvironmentInfo",
          "traits": {
            "smithy.api#documentation": "A value indicating offer's environment"
          }
        },
        "linkedAddIns": {
          "target": "com.azure.marketplacecatalog#CatalogItemLinkedAddInsList",
          "traits": {
            "smithy.api#documentation": "List of linked Add Ins provided for the item",
            "com.distilled.openapi#nullable": {}
          }
        },
        "linkedAddInsTypes": {
          "target": "com.azure.marketplacecatalog#CatalogItemLinkedAddInsTypesMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "excludeFromBootstrap": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether the offer should not be re-ingest during bootstrap session"
          }
        },
        "hydrationNotificationReceivedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Notification creation time",
            "com.distilled.openapi#nullable": {}
          }
        },
        "bigCatLastModifiedDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last modified date",
            "com.distilled.openapi#nullable": {}
          }
        },
        "disableSendEmailOnPurchase": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indication to disable sending email on purchase"
          }
        },
        "hideFromSaasBlade": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indication to hide from SaaS blade"
          }
        },
        "integratedWithMicrosoftGraphApi": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indication if there is integrated with Microsoft graph API"
          }
        },
        "multiTenantAadAppId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Multi tenant AAD app id",
            "com.distilled.openapi#nullable": {}
          }
        },
        "licenseManagementType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "License management type",
            "com.distilled.openapi#nullable": {}
          }
        },
        "licenseModel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "License model",
            "com.distilled.openapi#nullable": {}
          }
        },
        "pbiServicePrincipalIds": {
          "target": "com.azure.marketplacecatalog#CatalogItemPbiServicePrincipalIdsList",
          "traits": {
            "smithy.api#documentation": "PBI service principals",
            "com.distilled.openapi#nullable": {}
          }
        },
        "isCoreVm": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true only for offers of OfferType.VirtualMachine to indicate that it was originally of OfferType.CoreVirtualMachine",
            "com.distilled.openapi#nullable": {}
          }
        },
        "m365CertificationInfo": {
          "target": "com.azure.marketplacecatalog#M365CertificationInfo",
          "traits": {
            "smithy.api#documentation": "M365 Certification info",
            "com.distilled.openapi#nullable": {}
          }
        },
        "downloadLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Download link for offers of type OfferType.PowerBIVisuals",
            "com.distilled.openapi#nullable": {}
          }
        },
        "downloadSampleLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Download sample report link for offers of type OfferType.PowerBIVisuals",
            "com.distilled.openapi#nullable": {}
          }
        },
        "omexAssetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Asset ID for offers of type OfferType.PowerBIVisuals",
            "com.distilled.openapi#nullable": {}
          }
        },
        "mixProductId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Product ID for offers of type OfferType.PowerBIVisuals",
            "com.distilled.openapi#nullable": {}
          }
        },
        "appFreeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Whether an offer has additional purchases required",
            "com.distilled.openapi#nullable": {}
          }
        },
        "storeFrontPricings": {
          "target": "com.azure.marketplacecatalog#CatalogItemStoreFrontPricingsMap",
          "traits": {
            "smithy.api#documentation": "storefront pricings parameters for AppSource and AMP",
            "com.distilled.openapi#nullable": {}
          }
        },
        "hasRIPlans": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Has plans with reservations"
          }
        },
        "enrichedData": {
          "target": "com.azure.marketplacecatalog#EnrichedData",
          "traits": {
            "smithy.api#documentation": "Enriched offer data",
            "com.distilled.openapi#nullable": {}
          }
        },
        "capabilities": {
          "target": "com.azure.marketplacecatalog#CatalogItemCapabilitiesList",
          "traits": {
            "smithy.api#documentation": "Office capabilities",
            "com.distilled.openapi#nullable": {}
          }
        },
        "releaseDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "release date",
            "com.distilled.openapi#nullable": {}
          }
        },
        "hideFromAdminPortal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "the flag is used in embedded views"
          }
        },
        "awards": {
          "target": "com.azure.marketplacecatalog#CatalogItemAwardsList",
          "traits": {
            "smithy.api#documentation": "the flag is used in embedded views",
            "com.distilled.openapi#nullable": {}
          }
        },
        "powerBIVisualId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "the ID is used to correlate to a Visual for PowerBI",
            "com.distilled.openapi#nullable": {}
          }
        },
        "pricingTypes": {
          "target": "com.azure.marketplacecatalog#CatalogItemPricingTypesList",
          "traits": {
            "smithy.api#documentation": "The list of the pricing types for which this offer is designated",
            "com.distilled.openapi#nullable": {}
          }
        },
        "autoRunLaunchEvents": {
          "target": "com.azure.marketplacecatalog#CatalogItemAutoRunLaunchEventsList",
          "traits": {
            "smithy.api#documentation": "A list of auto run launch events for office products",
            "com.distilled.openapi#nullable": {}
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "BigCat Service",
            "com.distilled.openapi#nullable": {}
          }
        },
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "BigCat Service Id",
            "com.distilled.openapi#nullable": {}
          }
        },
        "productType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "BigCat Product Type",
            "com.distilled.openapi#nullable": {}
          }
        },
        "productFamily": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "BigCat Product Family",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "partitionKey": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "ts": {
          "target": "smithy.api#Integer"
        },
        "searchScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Gets or sets the search relevance score when it is linked to a search score",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#CatalogItemAutoRunLaunchEventsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of auto run launch events for office products"
      }
    },
    "com.azure.marketplacecatalog#CatalogItemPricingTypesList": {
      "type": "list",
      "member": {
        "target": "com.azure.marketplacecatalog#PricingType"
      },
      "traits": {
        "smithy.api#documentation": "The list of the pricing types for which this offer is designated"
      }
    },
    "com.azure.marketplacecatalog#PricingType": {
      "type": "enum",
      "members": {
        "FREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Free"
          }
        },
        "FREETRIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FreeTrial"
          }
        },
        "BYOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Byol"
          }
        },
        "PAYG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Payg"
          }
        },
        "RI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ri"
          }
        }
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#CatalogItemAwardsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "the flag is used in embedded views"
      }
    },
    "com.azure.marketplacecatalog#CatalogItemCapabilitiesList": {
      "type": "list",
      "member": {
        "target": "com.azure.marketplacecatalog#OfficeCapabilityType"
      },
      "traits": {
        "smithy.api#documentation": "Office capabilities"
      }
    },
    "com.azure.marketplacecatalog#OfficeCapabilityType": {
      "type": "intEnum",
      "members": {
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        },
        "_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2
          }
        },
        "_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3
          }
        },
        "_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4
          }
        },
        "_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 5
          }
        },
        "_6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 6
          }
        },
        "_7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 7
          }
        },
        "_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 8
          }
        },
        "_9": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 9
          }
        },
        "_10": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 10
          }
        },
        "_11": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 11
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "1 = Capability1\n2 = Capability2\n3 = Capability3\n4 = Capability4\n5 = Capability5\n6 = Capability6\n7 = Capability7\n8 = Capability8\n9 = Capability9\n10 = Capability10\n11 = Capability11"
      }
    },
    "com.azure.marketplacecatalog#EnrichedData": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.azure.marketplacecatalog#EnrichedDataTagsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "popularity": {
          "target": "com.azure.marketplacecatalog#PopularityEnrichedData",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "rating": {
          "target": "com.azure.marketplacecatalog#RatingEnrichedData",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "isAzureBenefitEligible": {
          "target": "smithy.api#Boolean"
        },
        "isSolutionMap": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#RatingEnrichedData": {
      "type": "structure",
      "members": {
        "appSource": {
          "target": "com.azure.marketplacecatalog#RatingSummary",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "amp": {
          "target": "com.azure.marketplacecatalog#RatingSummary",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "azurePortal": {
          "target": "com.azure.marketplacecatalog#RatingSummary",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "g2": {
          "target": "com.azure.marketplacecatalog#RatingSummary",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#RatingSummary": {
      "type": "structure",
      "members": {
        "totalRatings": {
          "target": "smithy.api#Integer"
        },
        "source": {
          "target": "com.azure.marketplacecatalog#ReviewSource"
        },
        "averageRating": {
          "target": "smithy.api#Double"
        },
        "createdAt": {
          "target": "smithy.api#String"
        },
        "externalOfferReference": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "starsDistribution": {
          "target": "com.azure.marketplacecatalog#RatingSummaryStarsDistributionMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "buckets": {
          "target": "com.azure.marketplacecatalog#RatingSummaryBucketsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#RatingSummaryBucketsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#RatingSummaryStarsDistributionMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#ReviewSource": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "APPSOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AppSource"
          }
        },
        "AMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Amp"
          }
        },
        "IBIZA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ibiza"
          }
        },
        "G2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "G2"
          }
        },
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Internal"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "All"
          }
        }
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#PopularityEnrichedData": {
      "type": "structure",
      "members": {
        "appSourceCs": {
          "target": "smithy.api#Double"
        },
        "appSourceApps": {
          "target": "smithy.api#Double"
        },
        "ampCs": {
          "target": "smithy.api#Double"
        },
        "ampApps": {
          "target": "smithy.api#Double"
        },
        "azurePortalApps": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#EnrichedDataTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#CatalogItemStoreFrontPricingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.marketplacecatalog#UIPricing"
      },
      "traits": {
        "smithy.api#documentation": "storefront pricings parameters for AppSource and AMP"
      }
    },
    "com.azure.marketplacecatalog#UIPricing": {
      "type": "structure",
      "members": {
        "pricingOptions": {
          "target": "com.azure.marketplacecatalog#PricingOptions",
          "traits": {
            "smithy.api#documentation": "A value indicating what pricing options are available on the application"
          }
        },
        "hasPrices": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Has prices",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#PricingOptions": {
      "type": "intEnum",
      "members": {
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 0
          }
        },
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        },
        "_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2
          }
        },
        "_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4
          }
        },
        "_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 8
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "0 = None\n1 = Free\n2 = FreeTrial\n4 = Paid\n8 = Byol"
      }
    },
    "com.azure.marketplacecatalog#M365CertificationInfo": {
      "type": "structure",
      "members": {
        "m365CertificationType": {
          "target": "com.azure.marketplacecatalog#CertificationType",
          "traits": {
            "smithy.api#documentation": "M365 Certification Type"
          }
        },
        "m365CertificationDetailsUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "M365 Certification Url",
            "com.distilled.openapi#nullable": {}
          }
        },
        "m365CertificationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "M365 Certification Id",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#CertificationType": {
      "type": "intEnum",
      "members": {
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 0
          }
        },
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        },
        "_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2
          }
        },
        "_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "0 = Undefined\n1 = None\n2 = SelfAttested\n3 = MicrosoftCertified"
      }
    },
    "com.azure.marketplacecatalog#CatalogItemPbiServicePrincipalIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "PBI service principals"
      }
    },
    "com.azure.marketplacecatalog#CatalogItemLinkedAddInsTypesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#CatalogItemLinkedAddInsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of linked Add Ins provided for the item"
      }
    },
    "com.azure.marketplacecatalog#EnvironmentInfo": {
      "type": "intEnum",
      "members": {
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        },
        "_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2
          }
        },
        "_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3
          }
        },
        "_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4
          }
        },
        "_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 5
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "1 = DogFood\n2 = Canary\n3 = Production\n4 = FairFax\n5 = Unknown"
      }
    },
    "com.azure.marketplacecatalog#CatalogItemDocumentLinksList": {
      "type": "list",
      "member": {
        "target": "com.azure.marketplacecatalog#LinkProperties"
      },
      "traits": {
        "smithy.api#documentation": "The list of document links provided for the item"
      }
    },
    "com.azure.marketplacecatalog#LinkProperties": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the link",
            "com.distilled.openapi#nullable": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the link",
            "com.distilled.openapi#nullable": {}
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI of the link",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#StoreFrontOptions": {
      "type": "intEnum",
      "members": {
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 0
          }
        },
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        },
        "_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2
          }
        },
        "_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4
          }
        },
        "_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 8
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "0 = None\n1 = Azure\n2 = AMP\n4 = AppSource\n8 = Any"
      }
    },
    "com.azure.marketplacecatalog#CatalogItemKeywordsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of keywords provided for the item"
      }
    },
    "com.azure.marketplacecatalog#CatalogItemHideKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of hide keys provided for the item"
      }
    },
    "com.azure.marketplacecatalog#RestrictedAudience": {
      "type": "structure",
      "members": {
        "subscriptions": {
          "target": "com.azure.marketplacecatalog#RestrictedAudienceSubscriptionsList",
          "traits": {
            "smithy.api#documentation": "Subscription based restricted audience",
            "com.distilled.openapi#nullable": {}
          }
        },
        "tenants": {
          "target": "com.azure.marketplacecatalog#RestrictedAudienceTenantsList",
          "traits": {
            "smithy.api#documentation": "Tenant based restricted audience",
            "com.distilled.openapi#nullable": {}
          }
        },
        "users": {
          "target": "com.azure.marketplacecatalog#RestrictedAudienceUsersList",
          "traits": {
            "smithy.api#documentation": "User based restricted audience",
            "com.distilled.openapi#nullable": {}
          }
        },
        "groups": {
          "target": "com.azure.marketplacecatalog#RestrictedAudienceGroupsList",
          "traits": {
            "smithy.api#documentation": "User groups restricted audience",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#RestrictedAudienceGroupsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User groups restricted audience"
      }
    },
    "com.azure.marketplacecatalog#RestrictedAudienceUsersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User based restricted audience"
      }
    },
    "com.azure.marketplacecatalog#RestrictedAudienceTenantsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Tenant based restricted audience"
      }
    },
    "com.azure.marketplacecatalog#RestrictedAudienceSubscriptionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Subscription based restricted audience"
      }
    },
    "com.azure.marketplacecatalog#CatalogItemAdditionalPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Dictionary of additional properties provided for the item"
      }
    },
    "com.azure.marketplacecatalog#DefinitionTemplates": {
      "type": "structure",
      "members": {
        "uiDefinitionFileUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UI definition file URI",
            "com.distilled.openapi#nullable": {}
          }
        },
        "defaultDeploymentTemplateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default deployment template id",
            "com.distilled.openapi#nullable": {}
          }
        },
        "deploymentTemplateFileUris": {
          "target": "com.azure.marketplacecatalog#DefinitionTemplatesDeploymentTemplateFileUrisMap",
          "traits": {
            "smithy.api#documentation": "A dictionary containing the deployment template file IDs defined in the package manifest and corresponding URIs",
            "com.distilled.openapi#nullable": {}
          }
        },
        "deploymentFragmentFileUris": {
          "target": "com.azure.marketplacecatalog#DefinitionTemplatesDeploymentFragmentFileUrisMap",
          "traits": {
            "smithy.api#documentation": "a dictionary containing the deployment fragment file IDs defined in the package manifest and corresponding URIs",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#DefinitionTemplatesDeploymentFragmentFileUrisMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "a dictionary containing the deployment fragment file IDs defined in the package manifest and corresponding URIs"
      }
    },
    "com.azure.marketplacecatalog#DefinitionTemplatesDeploymentTemplateFileUrisMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A dictionary containing the deployment template file IDs defined in the package manifest and corresponding URIs"
      }
    },
    "com.azure.marketplacecatalog#CatalogItemPlansList": {
      "type": "list",
      "member": {
        "target": "com.azure.marketplacecatalog#Plan"
      },
      "traits": {
        "smithy.api#documentation": "Plans available for the offer details"
      }
    },
    "com.azure.marketplacecatalog#Plan": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plan id",
            "com.distilled.openapi#nullable": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the plan",
            "com.distilled.openapi#nullable": {}
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Summary of the plan",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the plan",
            "com.distilled.openapi#nullable": {}
          }
        },
        "restrictedAudience": {
          "target": "com.azure.marketplacecatalog#RestrictedAudience",
          "traits": {
            "smithy.api#documentation": "Restricted audience",
            "com.distilled.openapi#nullable": {}
          }
        },
        "skuId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sku id",
            "com.distilled.openapi#nullable": {}
          }
        },
        "planId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plan id",
            "com.distilled.openapi#nullable": {}
          }
        },
        "legacyPlanId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Legacy plan Id which is obtained by combining Offer->LegacyId and PlanId with no separator in between",
            "com.distilled.openapi#nullable": {}
          }
        },
        "keywords": {
          "target": "com.azure.marketplacecatalog#PlanKeywordsList",
          "traits": {
            "smithy.api#documentation": "List of keywords",
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.azure.marketplacecatalog#OfferType",
          "traits": {
            "smithy.api#documentation": "Offer type"
          }
        },
        "leadGeneration": {
          "target": "com.azure.marketplacecatalog#LeadGeneration",
          "traits": {
            "smithy.api#documentation": "Lead generation info",
            "com.distilled.openapi#nullable": {}
          }
        },
        "testDrive": {
          "target": "com.azure.marketplacecatalog#TestDrive",
          "traits": {
            "smithy.api#documentation": "Test Drive info",
            "com.distilled.openapi#nullable": {}
          }
        },
        "availabilities": {
          "target": "com.azure.marketplacecatalog#PlanAvailabilitiesList",
          "traits": {
            "smithy.api#documentation": "List of availabilities for this plan",
            "com.distilled.openapi#nullable": {}
          }
        },
        "categoryIds": {
          "target": "com.azure.marketplacecatalog#PlanCategoryIdsList",
          "traits": {
            "smithy.api#documentation": "Category IDs for this plan",
            "com.distilled.openapi#nullable": {}
          }
        },
        "conversionPaths": {
          "target": "com.azure.marketplacecatalog#PlanConversionPathsList",
          "traits": {
            "smithy.api#documentation": "Conversion paths for this plan",
            "com.distilled.openapi#nullable": {}
          }
        },
        "metadata": {
          "target": "com.azure.marketplacecatalog#OpenProperty",
          "traits": {
            "smithy.api#documentation": "Metadata for this plan",
            "com.distilled.openapi#nullable": {}
          }
        },
        "operatingSystem": {
          "target": "com.azure.marketplacecatalog#OperatingSystem",
          "traits": {
            "smithy.api#documentation": "Operating system info for this plan",
            "com.distilled.openapi#nullable": {}
          }
        },
        "uiDefinitionUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What blade to open when someone wants to create a marketplace item",
            "com.distilled.openapi#nullable": {}
          }
        },
        "artifacts": {
          "target": "com.azure.marketplacecatalog#PlanArtifactsList",
          "traits": {
            "smithy.api#documentation": "Files related to the marketplace item",
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the marketplace item",
            "com.distilled.openapi#nullable": {}
          }
        },
        "itemName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Item name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "isPrivate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether the item is private"
          }
        },
        "isHidden": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether the plan is hidden"
          }
        },
        "hasFreeTrials": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether it has free trials"
          }
        },
        "isByol": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether it has licensed plans"
          }
        },
        "isFree": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether it has at least one free availability in any market"
          }
        },
        "isPayg": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether the plan is 'Pay As You Go'"
          }
        },
        "isStopSell": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether plan has been stopped from selling"
          }
        },
        "stopSellInfo": {
          "target": "com.azure.marketplacecatalog#StopSellInfo",
          "traits": {
            "smithy.api#documentation": "A StopSellInfo object providing stop sell related data",
            "com.distilled.openapi#nullable": {}
          }
        },
        "altStackReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Alternative stack reference",
            "com.distilled.openapi#nullable": {}
          }
        },
        "stackType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stack type : Classic, Gen1, Gen2",
            "com.distilled.openapi#nullable": {}
          }
        },
        "altArchitectureReference": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "architectureType": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "cspState": {
          "target": "com.azure.marketplacecatalog#CSPState",
          "traits": {
            "smithy.api#documentation": "A value indicating whether the product is available for purchase through CSP channel",
            "com.distilled.openapi#nullable": {}
          }
        },
        "resourceProviderNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Provider Namespace",
            "com.distilled.openapi#nullable": {}
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Provider type",
            "com.distilled.openapi#nullable": {}
          }
        },
        "minQuantity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Min quantity",
            "com.distilled.openapi#nullable": {}
          }
        },
        "maxQuantity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Max quantity",
            "com.distilled.openapi#nullable": {}
          }
        },
        "isQuantifiable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether the plan is quantifiable"
          }
        },
        "callToAction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The action that can be performed on this plan, on the storefronts",
            "com.distilled.openapi#nullable": {}
          }
        },
        "redirectUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to redirect the user to post the performed action on the storefronts",
            "com.distilled.openapi#nullable": {}
          }
        },
        "serviceIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service identifier",
            "com.distilled.openapi#nullable": {}
          }
        },
        "vmSecurityType": {
          "target": "com.azure.marketplacecatalog#VmSecurityType",
          "traits": {
            "smithy.api#documentation": "VM security type",
            "com.distilled.openapi#nullable": {}
          }
        },
        "displayRank": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display rank",
            "com.distilled.openapi#nullable": {}
          }
        },
        "billingComponents": {
          "target": "com.azure.marketplacecatalog#PlanBillingComponentsList",
          "traits": {
            "smithy.api#documentation": "Billing components",
            "com.distilled.openapi#nullable": {}
          }
        },
        "purchaseDurationDiscounts": {
          "target": "com.azure.marketplacecatalog#PlanPurchaseDurationDiscountsList",
          "traits": {
            "smithy.api#documentation": "List of purchase duration discounts",
            "com.distilled.openapi#nullable": {}
          }
        },
        "upns": {
          "target": "com.azure.marketplacecatalog#PlanUpnsList",
          "traits": {
            "smithy.api#documentation": "List of user principal names(UPNs)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "hasRI": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether the plan supports reservations"
          }
        },
        "isHiddenPrivateOffer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether the plan is used as hidden private offer requiring a quote",
            "com.distilled.openapi#nullable": {}
          }
        },
        "certifications": {
          "target": "com.azure.marketplacecatalog#PlanCertificationsList",
          "traits": {
            "smithy.api#documentation": "List of certifications",
            "com.distilled.openapi#nullable": {}
          }
        },
        "pricingTypes": {
          "target": "com.azure.marketplacecatalog#PlanPricingTypesList",
          "traits": {
            "smithy.api#documentation": "The list of the pricing types for which this plan is designated",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#PlanPricingTypesList": {
      "type": "list",
      "member": {
        "target": "com.azure.marketplacecatalog#PricingType"
      },
      "traits": {
        "smithy.api#documentation": "The list of the pricing types for which this plan is designated"
      }
    },
    "com.azure.marketplacecatalog#PlanCertificationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.marketplacecatalog#LinkProperties"
      },
      "traits": {
        "smithy.api#documentation": "List of certifications"
      }
    },
    "com.azure.marketplacecatalog#PlanUpnsList": {
      "type": "list",
      "member": {
        "target": "com.azure.marketplacecatalog#TermUpn"
      },
      "traits": {
        "smithy.api#documentation": "List of user principal names(UPNs)"
      }
    },
    "com.azure.marketplacecatalog#TermUpn": {
      "type": "structure",
      "members": {
        "termId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "upn": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#PlanPurchaseDurationDiscountsList": {
      "type": "list",
      "member": {
        "target": "com.azure.marketplacecatalog#PurchaseDurationDiscount"
      },
      "traits": {
        "smithy.api#documentation": "List of purchase duration discounts"
      }
    },
    "com.azure.marketplacecatalog#PurchaseDurationDiscount": {
      "type": "structure",
      "members": {
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "discountPercentage": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#PlanBillingComponentsList": {
      "type": "list",
      "member": {
        "target": "com.azure.marketplacecatalog#BillingComponent"
      },
      "traits": {
        "smithy.api#documentation": "Billing components"
      }
    },
    "com.azure.marketplacecatalog#BillingComponent": {
      "type": "structure",
      "members": {
        "billingTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Billing Tag",
            "com.distilled.openapi#nullable": {}
          }
        },
        "customMeterIds": {
          "target": "com.azure.marketplacecatalog#BillingComponentCustomMeterIdsMap",
          "traits": {
            "smithy.api#documentation": "Custom Meter Ids",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#BillingComponentCustomMeterIdsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.marketplacecatalog#BillingComponentCustomMeterIdsValueList"
      },
      "traits": {
        "smithy.api#documentation": "Custom Meter Ids"
      }
    },
    "com.azure.marketplacecatalog#BillingComponentCustomMeterIdsValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#VmSecurityType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "TRUSTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Trusted"
          }
        },
        "CONFIDENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Confidential"
          }
        }
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#CSPState": {
      "type": "enum",
      "members": {
        "OPTIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OptIn"
          }
        },
        "OPTOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OptOut"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Terminated"
          }
        },
        "SELECTIVEOPTIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SelectiveOptIn"
          }
        }
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#StopSellInfo": {
      "type": "structure",
      "members": {
        "startDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A value indicating when the sale of this item is going to be stopped",
            "com.distilled.openapi#nullable": {}
          }
        },
        "reason": {
          "target": "com.azure.marketplacecatalog#StopSellReason",
          "traits": {
            "smithy.api#documentation": "A value indicating the reason for stopping to sell this item",
            "com.distilled.openapi#nullable": {}
          }
        },
        "alternativeOfferId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A value indicating an ID of an alternative offer provided by the same publisher",
            "com.distilled.openapi#nullable": {}
          }
        },
        "alternativePlanId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A value indicating an ID of an alternative plan of the same offer",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#StopSellReason": {
      "type": "enum",
      "members": {
        "ENDOFSUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EndOfSupport"
          }
        },
        "SECURITYISSUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SecurityIssue"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Other"
          }
        }
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#PlanArtifactsList": {
      "type": "list",
      "member": {
        "target": "com.azure.marketplacecatalog#Artifact"
      },
      "traits": {
        "smithy.api#documentation": "Files related to the marketplace item"
      }
    },
    "com.azure.marketplacecatalog#Artifact": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Artifact name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Artifact uri",
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.azure.marketplacecatalog#ArtifactType",
          "traits": {
            "smithy.api#documentation": "Artifact type"
          }
        }
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#ArtifactType": {
      "type": "enum",
      "members": {
        "TEMPLATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Template"
          }
        },
        "FRAGMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Fragment"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Custom"
          }
        },
        "METADATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Metadata"
          }
        }
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#OperatingSystem": {
      "type": "structure",
      "members": {
        "family": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operating system family",
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operating system type",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operating system name",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#OpenProperty": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.azure.marketplacecatalog#OpenPropertyPropertiesMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#OpenPropertyPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#PlanConversionPathsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Conversion paths for this plan"
      }
    },
    "com.azure.marketplacecatalog#PlanCategoryIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Category IDs for this plan"
      }
    },
    "com.azure.marketplacecatalog#PlanAvailabilitiesList": {
      "type": "list",
      "member": {
        "target": "com.azure.marketplacecatalog#AvailabilityEntity"
      },
      "traits": {
        "smithy.api#documentation": "List of availabilities for this plan"
      }
    },
    "com.azure.marketplacecatalog#AvailabilityEntity": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "partitionKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Partition key",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ts": {
          "target": "smithy.api#Integer"
        },
        "actions": {
          "target": "com.azure.marketplacecatalog#AvailabilityEntityActionsList",
          "traits": {
            "smithy.api#documentation": "List of allowed actions",
            "com.distilled.openapi#nullable": {}
          }
        },
        "market": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Market for the availability collection",
            "com.distilled.openapi#nullable": {}
          }
        },
        "isPIRequired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether a payment instrument is required"
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App id of the availability collection",
            "com.distilled.openapi#nullable": {}
          }
        },
        "planID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plan Id of the availability collection",
            "com.distilled.openapi#nullable": {}
          }
        },
        "meterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Applicable billing meter Id",
            "com.distilled.openapi#nullable": {}
          }
        },
        "meter": {
          "target": "com.azure.marketplacecatalog#Meter",
          "traits": {
            "smithy.api#documentation": "Applicable billing meter information",
            "com.distilled.openapi#nullable": {}
          }
        },
        "pricingAudience": {
          "target": "com.azure.marketplacecatalog#PricingAudience",
          "traits": {
            "smithy.api#documentation": "Pricing audience"
          }
        },
        "terms": {
          "target": "com.azure.marketplacecatalog#AvailabilityEntityTermsList",
          "traits": {
            "smithy.api#documentation": "List of applicable terms",
            "com.distilled.openapi#nullable": {}
          }
        },
        "piFilter": {
          "target": "com.azure.marketplacecatalog#PIFilter",
          "traits": {
            "smithy.api#documentation": "Applicable billing meter information",
            "com.distilled.openapi#nullable": {}
          }
        },
        "isStopSell": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether it has been stopped from sell in a market"
          }
        },
        "hasFreeTrials": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether it has free trials"
          }
        },
        "assetBehaviors": {
          "target": "com.azure.marketplacecatalog#AvailabilityEntityAssetBehaviorsList",
          "traits": {
            "smithy.api#documentation": "Asset behaviors",
            "com.distilled.openapi#nullable": {}
          }
        },
        "consumptionUnitType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Consumption unit type",
            "com.distilled.openapi#nullable": {}
          }
        },
        "displayRank": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Display rank"
          }
        },
        "remediationRequired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A value indicating whether remediation is required to acquire availability"
          }
        },
        "remediations": {
          "target": "com.azure.marketplacecatalog#AvailabilityEntityRemediationsList",
          "traits": {
            "smithy.api#documentation": "Remediation actions for acquiring availability if RemediationRequired is true",
            "com.distilled.openapi#nullable": {}
          }
        },
        "startDate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Availability effectiveness start date - in epoch minutes",
            "com.distilled.openapi#nullable": {}
          }
        },
        "endDate": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Availability effectiveness end date - in epoch minutes",
            "com.distilled.openapi#nullable": {}
          }
        },
        "planAvailabilities": {
          "target": "com.azure.marketplacecatalog#AvailabilityEntityPlanAvailabilitiesList",
          "traits": {
            "smithy.api#documentation": "Plan availabilities",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#AvailabilityEntityPlanAvailabilitiesList": {
      "type": "list",
      "member": {
        "target": "com.azure.marketplacecatalog#AvailabilityEntity"
      },
      "traits": {
        "smithy.api#documentation": "Plan availabilities"
      }
    },
    "com.azure.marketplacecatalog#AvailabilityEntityRemediationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.marketplacecatalog#Remediation"
      },
      "traits": {
        "smithy.api#documentation": "Remediation actions for acquiring availability if RemediationRequired is true"
      }
    },
    "com.azure.marketplacecatalog#Remediation": {
      "type": "structure",
      "members": {
        "remediationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Remediation identifier",
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Remediation type",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#AvailabilityEntityAssetBehaviorsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Asset behaviors"
      }
    },
    "com.azure.marketplacecatalog#PIFilter": {
      "type": "structure",
      "members": {
        "exclusionProperties": {
          "target": "com.azure.marketplacecatalog#PIFilterExclusionPropertiesList",
          "traits": {
            "smithy.api#documentation": "List of exclusion properties",
            "com.distilled.openapi#nullable": {}
          }
        },
        "inclusionProperties": {
          "target": "com.azure.marketplacecatalog#PIFilterInclusionPropertiesList",
          "traits": {
            "smithy.api#documentation": "List of inclusion properties",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.azure.marketplacecatalog#PIFilterInclusionPropertiesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of inclusion properties"
      }
    },
    "com.azure.marketplacecatalog#PIFilterExclusionPropertiesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of exclusion properties"
      }
    },
    "com.azure.marketplacecatalog#AvailabilityEntityTermsList": {
      "type": "list",
      "member": {
        "target": "com.azure.marketplacecatalog#Term"
      },
      "traits": {
        "smithy.api#documentation": "List of applicable terms"
      }
    },
    "com.azure.marketplacecatalog#Term": {
      "type": "structure",
      "members": {
        "termDescriptionParameters": {
          "target": "com.azure.marketplacecatalog#TermTermDescriptionParametersList",
          "traits": {
            "smithy.api#documentation": "Term description parameters",
            "com.distilled.openapi#nullable": {}
          }
        },
        "termId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Term id",
            "com.distilled.openapi#nullable": {}
          }
        },
        "termUnits": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Term unit",
            "com.distilled.openapi#nullable": {}
[...]
