{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.migrate#WebAppCollectorOperationsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.migrate#WebAppCollectorOperationsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/webAppCollectors/{collectorName}",
          "code": 200,
          "apiVersion": "2024-01-15"
        },
        "smithy.api#documentation": "Delete a WebAppCollector",
        "com.distilled.openapi#apiVersion": "2024-01-15"
      }
    },
    "com.azure.migrate#WebAppCollectorOperationsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Assessment Project Name"
          }
        },
        "collectorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Web app collector ARM name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.migrate#WebAppCollectorOperationsCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.migrate#WebAppCollectorOperationsCreateRequest"
      },
      "output": {
        "target": "com.azure.migrate#WebAppCollectorOperationsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/webAppCollectors/{collectorName}",
          "code": 200,
          "apiVersion": "2024-01-15"
        },
        "smithy.api#documentation": "Create a WebAppCollector",
        "com.distilled.openapi#apiVersion": "2024-01-15"
      }
    },
    "com.azure.migrate#WebAppCollectorOperationsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.migrate#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.migrate#WebAppCollectorPropertiesBaseWithAgent",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.migrate#WebAppCollectorPropertiesBaseWithAgent": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.migrate#ProvisioningState2",
          "traits": {
            "smithy.api#documentation": "The status of the last operation."
          }
        },
        "agentProperties": {
          "target": "com.azure.migrate#CollectorAgentPropertiesBase",
          "traits": {
            "smithy.api#documentation": "Gets or sets the collector agent properties."
          }
        },
        "discoverySiteId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the discovery site id."
          }
        },
        "createdTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the Timestamp when collector was created."
          }
        },
        "updatedTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when collector was last updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collector properties class."
      }
    },
    "com.azure.migrate#CollectorAgentPropertiesBase": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the collector agent id."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the collector agent version."
          }
        },
        "lastHeartbeatUtc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the collector last heartbeat time."
          }
        },
        "spnDetails": {
          "target": "com.azure.migrate#CollectorAgentSpnPropertiesBase",
          "traits": {
            "smithy.api#documentation": "Gets or sets the SPN details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collector agent property class."
      }
    },
    "com.azure.migrate#CollectorAgentSpnPropertiesBase": {
      "type": "structure",
      "members": {
        "authority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the AAD authority endpoint."
          }
        },
        "applicationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the AAD application id."
          }
        },
        "audience": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the AAD audience url."
          }
        },
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the object id of the AAD application."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the tenant id of the AAD application."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collector agent SPN details class."
      }
    },
    "com.azure.migrate#ProvisioningState2": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the current operation."
      }
    },
    "com.azure.migrate#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.migrate#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.migrate#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.migrate#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.migrate#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.migrate#WebAppCollectorOperationsCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Assessment Project Name"
          }
        },
        "collectorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Web app collector ARM name."
          }
        },
        "properties": {
          "target": "com.azure.migrate#WebAppCollectorPropertiesBaseWithAgentInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.migrate#WebAppCollectorPropertiesBaseWithAgentInput": {
      "type": "structure",
      "members": {
        "agentProperties": {
          "target": "com.azure.migrate#CollectorAgentPropertiesBase",
          "traits": {
            "smithy.api#documentation": "Gets or sets the collector agent properties."
          }
        },
        "discoverySiteId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the discovery site id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collector properties class."
      }
    },
    "com.azure.migrate#WebAppCollectorOperationsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.migrate#WebAppCollectorOperationsGetRequest"
      },
      "output": {
        "target": "com.azure.migrate#WebAppCollectorOperationsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/webAppCollectors/{collectorName}",
          "code": 200,
          "apiVersion": "2024-01-15"
        },
        "smithy.api#documentation": "Get a WebAppCollector",
        "com.distilled.openapi#apiVersion": "2024-01-15"
      }
    },
    "com.azure.migrate#WebAppCollectorOperationsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.migrate#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.migrate#WebAppCollectorPropertiesBaseWithAgent",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.migrate#WebAppCollectorOperationsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Assessment Project Name"
          }
        },
        "collectorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Web app collector ARM name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.migrate#WebAppCollectorOperationsListByAssessmentProject": {
      "type": "operation",
      "input": {
        "target": "com.azure.migrate#WebAppCollectorOperationsListByAssessmentProjectRequest"
      },
      "output": {
        "target": "com.azure.migrate#WebAppCollectorListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/webAppCollectors",
          "code": 200,
          "apiVersion": "2024-01-15"
        },
        "smithy.api#documentation": "List WebAppCollector resources by AssessmentProject",
        "com.distilled.openapi#apiVersion": "2024-01-15"
      }
    },
    "com.azure.migrate#WebAppCollectorListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.migrate#WebAppCollectorListResultValueList",
          "traits": {
            "smithy.api#documentation": "The WebAppCollector items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a WebAppCollector list operation."
      }
    },
    "com.azure.migrate#WebAppCollectorListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.migrate#WebAppCollector"
      },
      "traits": {
        "smithy.api#documentation": "The WebAppCollector items on this page"
      }
    },
    "com.azure.migrate#WebAppCollector": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.migrate#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.migrate#WebAppCollectorPropertiesBaseWithAgent",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The web app collector REST object."
      }
    },
    "com.azure.migrate#WebAppCollectorOperationsListByAssessmentProjectRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Assessment Project Name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.migrate#WebAppAssessmentOptionsOperationsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.migrate#WebAppAssessmentOptionsOperationsGetRequest"
      },
      "output": {
        "target": "com.azure.migrate#WebAppAssessmentOptionsOperationsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/webAppAssessmentOptions/{assessmentOptionsName}",
          "code": 200,
          "apiVersion": "2024-01-15"
        },
        "smithy.api#documentation": "Get a WebAppAssessmentOptions",
        "com.distilled.openapi#apiVersion": "2024-01-15"
      }
    },
    "com.azure.migrate#WebAppAssessmentOptionsOperationsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.migrate#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.migrate#WebAppAssessmentOptionsProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.migrate#WebAppAssessmentOptionsProperties": {
      "type": "structure",
      "members": {
        "webAppSkus": {
          "target": "com.azure.migrate#WebAppAssessmentOptionsPropertiesWebAppSkusList",
          "traits": {
            "smithy.api#documentation": "Gets the list of web app target options."
          }
        },
        "savingsPlanSupportedLocations": {
          "target": "com.azure.migrate#WebAppAssessmentOptionsPropertiesSavingsPlanSupportedLocationsList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the list of Azure locations supporting Saving Plans for IAAS."
          }
        },
        "reservedInstanceSupportedLocations": {
          "target": "com.azure.migrate#WebAppAssessmentOptionsPropertiesReservedInstanceSupportedLocationsList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the list of Azure locations supporting Reserved Instances."
          }
        },
        "reservedInstanceSupportedCurrencies": {
          "target": "com.azure.migrate#WebAppAssessmentOptionsPropertiesReservedInstanceSupportedCurrenciesList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the list of currencies supported for Reserved Instances."
          }
        },
        "reservedInstanceSupportedOffers": {
          "target": "com.azure.migrate#WebAppAssessmentOptionsPropertiesReservedInstanceSupportedOffersList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the list of offers supported for Reserved Instances."
          }
        },
        "reservedInstanceSupportedWebAppTiers": {
          "target": "com.azure.migrate#WebAppAssessmentOptionsPropertiesReservedInstanceSupportedWebAppTiersList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the list of currencies supported for Reserved Instances."
          }
        },
        "savingsPlanSupportedWebAppTiers": {
          "target": "com.azure.migrate#WebAppAssessmentOptionsPropertiesSavingsPlanSupportedWebAppTiersList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the list of Azure Offers supporting Saving Plans."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Web app Assessment options properties Web model object."
      }
    },
    "com.azure.migrate#WebAppAssessmentOptionsPropertiesSavingsPlanSupportedWebAppTiersList": {
      "type": "list",
      "member": {
        "target": "com.azure.migrate#AzureWebAppTier"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the list of Azure Offers supporting Saving Plans."
      }
    },
    "com.azure.migrate#AzureWebAppTier": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "FREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Free"
          }
        },
        "PREMIUM_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Premium_V2"
          }
        },
        "PREMIUM_V3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Premium_V3"
          }
        },
        "ISOLATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Isolated"
          }
        }
      },
      "traits": {}
    },
    "com.azure.migrate#WebAppAssessmentOptionsPropertiesReservedInstanceSupportedWebAppTiersList": {
      "type": "list",
      "member": {
        "target": "com.azure.migrate#AzureWebAppTier"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the list of currencies supported for Reserved Instances."
      }
    },
    "com.azure.migrate#WebAppAssessmentOptionsPropertiesReservedInstanceSupportedOffersList": {
      "type": "list",
      "member": {
        "target": "com.azure.migrate#AzureOfferCode"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the list of offers supported for Reserved Instances."
      }
    },
    "com.azure.migrate#AzureOfferCode": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "MSAZR0003P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSAZR0003P"
          }
        },
        "MSAZR0044P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSAZR0044P"
          }
        },
        "MSAZR0059P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSAZR0059P"
          }
        },
        "MSAZR0060P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSAZR0060P"
          }
        },
        "MSAZR0062P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSAZR0062P"
          }
        },
        "MSAZR0063P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSAZR0063P"
          }
        },
        "MSAZR0064P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSAZR0064P"
          }
        },
        "MSAZR0029P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSAZR0029P"
          }
        },
        "MSAZR0022P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSAZR0022P"
          }
        },
        "MSAZR0023P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSAZR0023P"
          }
        },
        "MSAZR0148P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSAZR0148P"
          }
        },
        "MSAZR0025P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSAZR0025P"
          }
        },
        "MSAZR0036P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSAZR0036P"
          }
        },
        "MSAZR0120P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSAZR0120P"
          }
        },
        "MSAZR0121P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSAZR0121P"
          }
        },
        "MSAZR0122P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSAZR0122P"
          }
        },
        "MSAZR0123P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSAZR0123P"
          }
        },
        "MSAZR0124P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSAZR0124P"
          }
        },
        "MSAZR0125P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSAZR0125P"
          }
        },
        "MSAZR0126P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSAZR0126P"
          }
        },
        "MSAZR0127P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSAZR0127P"
          }
        },
        "MSAZR0128P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSAZR0128P"
          }
        },
        "MSAZR0129P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSAZR0129P"
          }
        },
        "MSAZR0130P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSAZR0130P"
          }
        },
        "MSAZR0111P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSAZR0111P"
          }
        },
        "MSAZR0144P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSAZR0144P"
          }
        },
        "MSAZR0149P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSAZR0149P"
          }
        },
        "MSMCAZR0044P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSMCAZR0044P"
          }
        },
        "MSMCAZR0059P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSMCAZR0059P"
          }
        },
        "MSMCAZR0060P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSMCAZR0060P"
          }
        },
        "MSMCAZR0063P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSMCAZR0063P"
          }
        },
        "MSMCAZR0120P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSMCAZR0120P"
          }
        },
        "MSMCAZR0121P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSMCAZR0121P"
          }
        },
        "MSMCAZR0125P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSMCAZR0125P"
          }
        },
        "MSMCAZR0128P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSMCAZR0128P"
          }
        },
        "MSAZRDE0003P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSAZRDE0003P"
          }
        },
        "MSAZRDE0044P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSAZRDE0044P"
          }
        },
        "MSAZRUSGOV0003P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSAZRUSGOV0003P"
          }
        },
        "EA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EA"
          }
        },
        "MSAZR0243P": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSAZR0243P"
          }
        },
        "SAVINGSPLAN1YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SavingsPlan1Year"
          }
        },
        "SAVINGSPLAN3YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SavingsPlan3Year"
          }
        }
      },
      "traits": {}
    },
    "com.azure.migrate#WebAppAssessmentOptionsPropertiesReservedInstanceSupportedCurrenciesList": {
      "type": "list",
      "member": {
        "target": "com.azure.migrate#AzureCurrency"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the list of currencies supported for Reserved Instances."
      }
    },
    "com.azure.migrate#AzureCurrency": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "USD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USD"
          }
        },
        "DKK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DKK"
          }
        },
        "CAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAD"
          }
        },
        "IDR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDR"
          }
        },
        "JPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JPY"
          }
        },
        "KRW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KRW"
          }
        },
        "NZD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NZD"
          }
        },
        "NOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOK"
          }
        },
        "RUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUB"
          }
        },
        "SAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAR"
          }
        },
        "ZAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZAR"
          }
        },
        "SEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEK"
          }
        },
        "TRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRY"
          }
        },
        "GBP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GBP"
          }
        },
        "MXN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MXN"
          }
        },
        "MYR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYR"
          }
        },
        "INR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INR"
          }
        },
        "HKD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HKD"
          }
        },
        "BRL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BRL"
          }
        },
        "TWD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TWD"
          }
        },
        "EUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EUR"
          }
        },
        "CHF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHF"
          }
        },
        "ARS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARS"
          }
        },
        "AUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUD"
          }
        },
        "CNY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNY"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Currency for Azure."
      }
    },
    "com.azure.migrate#WebAppAssessmentOptionsPropertiesReservedInstanceSupportedLocationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.migrate#AzureLocation"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the list of Azure locations supporting Reserved Instances."
      }
    },
    "com.azure.migrate#AzureLocation": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "EASTASIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EastAsia"
          }
        },
        "SOUTHEASTASIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SoutheastAsia"
          }
        },
        "AUSTRALIAEAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AustraliaEast"
          }
        },
        "AUSTRALIASOUTHEAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AustraliaSoutheast"
          }
        },
        "BRAZILSOUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BrazilSouth"
          }
        },
        "CANADACENTRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CanadaCentral"
          }
        },
        "CANADAEAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CanadaEast"
          }
        },
        "WESTEUROPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WestEurope"
          }
        },
        "NORTHEUROPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NorthEurope"
          }
        },
        "CENTRALINDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CentralIndia"
          }
        },
        "SOUTHINDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SouthIndia"
          }
        },
        "WESTINDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WestIndia"
          }
        },
        "JAPANEAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JapanEast"
          }
        },
        "JAPANWEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JapanWest"
          }
        },
        "KOREACENTRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KoreaCentral"
          }
        },
        "KOREASOUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KoreaSouth"
          }
        },
        "UKWEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UkWest"
          }
        },
        "UKSOUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UkSouth"
          }
        },
        "NORTHCENTRALUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NorthCentralUs"
          }
        },
        "EASTUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EastUs"
          }
        },
        "WESTUS2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WestUs2"
          }
        },
        "SOUTHCENTRALUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SouthCentralUs"
          }
        },
        "CENTRALUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CentralUs"
          }
        },
        "EASTUS2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EastUs2"
          }
        },
        "WESTUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WestUs"
          }
        },
        "WESTCENTRALUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WestCentralUs"
          }
        },
        "GERMANYCENTRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GermanyCentral"
          }
        },
        "GERMANYNORTHEAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GermanyNortheast"
          }
        },
        "CHINANORTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ChinaNorth"
          }
        },
        "CHINAEAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ChinaEast"
          }
        },
        "USGOVARIZONA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USGovArizona"
          }
        },
        "USGOVTEXAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USGovTexas"
          }
        },
        "USGOVIOWA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USGovIowa"
          }
        },
        "USGOVVIRGINIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USGovVirginia"
          }
        },
        "USDODCENTRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USDoDCentral"
          }
        },
        "USDODEAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USDoDEast"
          }
        },
        "FRANCECENTRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FranceCentral"
          }
        },
        "AUSTRALIACENTRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AustraliaCentral"
          }
        },
        "SOUTHAFRICANORTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SouthAfricaNorth"
          }
        },
        "FRANCESOUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FranceSouth"
          }
        },
        "AUSTRALIACENTRAL2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AustraliaCentral2"
          }
        },
        "SOUTHAFRICAWEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SouthAfricaWest"
          }
        },
        "GERMANYNORTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GermanyNorth"
          }
        },
        "GERMANYWESTCENTRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GermanyWestCentral"
          }
        },
        "NORWAYEAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NorwayEast"
          }
        },
        "NORWAYWEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NorwayWest"
          }
        },
        "CHINAEAST2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ChinaEast2"
          }
        },
        "CHINANORTH2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ChinaNorth2"
          }
        },
        "SWITZERLANDNORTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SwitzerlandNorth"
          }
        },
        "SWITZERLANDWEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SwitzerlandWest"
          }
        },
        "UAENORTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UAENorth"
          }
        },
        "UAECENTRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UAECentral"
          }
        },
        "USNATEAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UsNatEast"
          }
        },
        "USNATWEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UsNatWest"
          }
        },
        "USSECEAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UsSecEast"
          }
        },
        "USSECCENTRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UsSecCentral"
          }
        },
        "USSECWEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UsSecWest"
          }
        },
        "SWEDENCENTRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SwedenCentral"
          }
        },
        "QATARCENTRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QatarCentral"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location for Azure."
      }
    },
    "com.azure.migrate#WebAppAssessmentOptionsPropertiesSavingsPlanSupportedLocationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.migrate#AzureLocation"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the list of Azure locations supporting Saving Plans for IAAS."
      }
    },
    "com.azure.migrate#WebAppAssessmentOptionsPropertiesWebAppSkusList": {
      "type": "list",
      "member": {
        "target": "com.azure.migrate#WebAppTargetOptions"
      },
      "traits": {
        "smithy.api#documentation": "Gets the list of web app target options."
      }
    },
    "com.azure.migrate#WebAppTargetOptions": {
      "type": "structure",
      "members": {
        "webAppTier": {
          "target": "com.azure.migrate#AzureWebAppTier",
          "traits": {
            "smithy.api#documentation": "Gets or sets the Azure web app tier."
          }
        },
        "targetLocations": {
          "target": "com.azure.migrate#WebAppTargetOptionsTargetLocationsList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the target location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Web app target options."
      }
    },
    "com.azure.migrate#WebAppTargetOptionsTargetLocationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.migrate#AzureLocation"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the target location."
      }
    },
    "com.azure.migrate#WebAppAssessmentOptionsOperationsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Assessment Project Name"
          }
        },
        "assessmentOptionsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Web app assessment options ARM name. Accepted values is 'default'"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.migrate#WebAppAssessmentOptionsOperationsListByAssessmentProject": {
      "type": "operation",
      "input": {
        "target": "com.azure.migrate#WebAppAssessmentOptionsOperationsListByAssessmentProjectRequest"
      },
      "output": {
        "target": "com.azure.migrate#WebAppAssessmentOptionsListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/webAppAssessmentOptions",
          "code": 200,
          "apiVersion": "2024-01-15"
        },
        "smithy.api#documentation": "List WebAppAssessmentOptions resources by AssessmentProject",
        "com.distilled.openapi#apiVersion": "2024-01-15"
      }
    },
    "com.azure.migrate#WebAppAssessmentOptionsListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.migrate#WebAppAssessmentOptionsListResultValueList",
          "traits": {
            "smithy.api#documentation": "The WebAppAssessmentOptions items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a WebAppAssessmentOptions list operation."
      }
    },
    "com.azure.migrate#WebAppAssessmentOptionsListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.migrate#WebAppAssessmentOptions"
      },
      "traits": {
        "smithy.api#documentation": "The WebAppAssessmentOptions items on this page"
      }
    },
    "com.azure.migrate#WebAppAssessmentOptions": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.migrate#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.migrate#WebAppAssessmentOptionsProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Web app Assessment options web model object."
      }
    },
    "com.azure.migrate#WebAppAssessmentOptionsOperationsListByAssessmentProjectRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Assessment Project Name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.migrate#VmwareCollectorsOperationsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.migrate#VmwareCollectorsOperationsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/vmwarecollectors/{vmWareCollectorName}",
          "code": 200,
          "apiVersion": "2024-01-15"
        },
        "smithy.api#documentation": "Delete a VmwareCollector",
        "com.distilled.openapi#apiVersion": "2024-01-15"
      }
    },
    "com.azure.migrate#VmwareCollectorsOperationsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Assessment Project Name"
          }
        },
        "vmWareCollectorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "VMware collector ARM name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.migrate#VmwareCollectorsOperationsCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.migrate#VmwareCollectorsOperationsCreateRequest"
      },
      "output": {
        "target": "com.azure.migrate#VmwareCollectorsOperationsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/vmwarecollectors/{vmWareCollectorName}",
          "code": 200,
          "apiVersion": "2024-01-15"
        },
        "smithy.api#documentation": "Create a VmwareCollector",
        "com.distilled.openapi#apiVersion": "2024-01-15"
      }
    },
    "com.azure.migrate#VmwareCollectorsOperationsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.migrate#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.migrate#CollectorPropertiesBaseWithAgent",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.migrate#CollectorPropertiesBaseWithAgent": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.migrate#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The status of the last operation."
          }
        },
        "agentProperties": {
          "target": "com.azure.migrate#CollectorAgentPropertiesBase",
          "traits": {
            "smithy.api#documentation": "Gets or sets the collector agent properties."
          }
        },
        "discoverySiteId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the discovery site id."
          }
        },
        "createdTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the Timestamp when collector was created."
          }
        },
        "updatedTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when collector was last updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collector properties class."
      }
    },
    "com.azure.migrate#ProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the current operation."
      }
    },
    "com.azure.migrate#VmwareCollectorsOperationsCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Assessment Project Name"
          }
        },
        "vmWareCollectorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "VMware collector ARM name"
          }
        },
        "properties": {
          "target": "com.azure.migrate#CollectorPropertiesBaseWithAgentInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.migrate#CollectorPropertiesBaseWithAgentInput": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.migrate#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The status of the last operation."
          }
        },
        "agentProperties": {
          "target": "com.azure.migrate#CollectorAgentPropertiesBase",
          "traits": {
            "smithy.api#documentation": "Gets or sets the collector agent properties."
          }
        },
        "discoverySiteId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the discovery site id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collector properties class."
      }
    },
    "com.azure.migrate#VmwareCollectorsOperationsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.migrate#VmwareCollectorsOperationsGetRequest"
      },
      "output": {
        "target": "com.azure.migrate#VmwareCollectorsOperationsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/vmwarecollectors/{vmWareCollectorName}",
          "code": 200,
          "apiVersion": "2024-01-15"
        },
        "smithy.api#documentation": "Get a VmwareCollector",
        "com.distilled.openapi#apiVersion": "2024-01-15"
      }
    },
    "com.azure.migrate#VmwareCollectorsOperationsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.migrate#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.migrate#CollectorPropertiesBaseWithAgent",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.migrate#VmwareCollectorsOperationsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Assessment Project Name"
          }
        },
        "vmWareCollectorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "VMware collector ARM name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.migrate#VmwareCollectorsOperationsListByAssessmentProject": {
      "type": "operation",
      "input": {
        "target": "com.azure.migrate#VmwareCollectorsOperationsListByAssessmentProjectRequest"
      },
      "output": {
        "target": "com.azure.migrate#VmwareCollectorListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/vmwarecollectors",
          "code": 200,
          "apiVersion": "2024-01-15"
        },
        "smithy.api#documentation": "List VmwareCollector resources by AssessmentProject",
        "com.distilled.openapi#apiVersion": "2024-01-15"
      }
    },
    "com.azure.migrate#VmwareCollectorListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.migrate#VmwareCollectorListResultValueList",
          "traits": {
            "smithy.api#documentation": "The VmwareCollector items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a VmwareCollector list operation."
      }
    },
    "com.azure.migrate#VmwareCollectorListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.migrate#VmwareCollector"
      },
      "traits": {
        "smithy.api#documentation": "The VmwareCollector items on this page"
      }
    },
    "com.azure.migrate#VmwareCollector": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.migrate#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.migrate#CollectorPropertiesBaseWithAgent",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VMware collector resource."
      }
    },
    "com.azure.migrate#VmwareCollectorsOperationsListByAssessmentProjectRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Assessment Project Name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.migrate#SqlCollectorOperationsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.migrate#SqlCollectorOperationsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/sqlcollectors/{collectorName}",
          "code": 200,
          "apiVersion": "2024-01-15"
        },
        "smithy.api#documentation": "Delete a SqlCollector",
        "com.distilled.openapi#apiVersion": "2024-01-15"
      }
    },
    "com.azure.migrate#SqlCollectorOperationsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Assessment Project Name"
          }
        },
        "collectorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sql collector ARM name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.migrate#SqlCollectorOperationsCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.migrate#SqlCollectorOperationsCreateRequest"
      },
      "output": {
        "target": "com.azure.migrate#SqlCollectorOperationsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/sqlcollectors/{collectorName}",
          "code": 200,
          "apiVersion": "2024-01-15"
        },
        "smithy.api#documentation": "Create a SqlCollector",
        "com.distilled.openapi#apiVersion": "2024-01-15"
      }
    },
    "com.azure.migrate#SqlCollectorOperationsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.migrate#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.migrate#CollectorPropertiesBaseWithAgent",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.migrate#SqlCollectorOperationsCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Assessment Project Name"
          }
        },
        "collectorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sql collector ARM name."
          }
        },
        "properties": {
          "target": "com.azure.migrate#CollectorPropertiesBaseWithAgentInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.migrate#SqlCollectorOperationsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.migrate#SqlCollectorOperationsGetRequest"
      },
      "output": {
        "target": "com.azure.migrate#SqlCollectorOperationsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/sqlcollectors/{collectorName}",
          "code": 200,
          "apiVersion": "2024-01-15"
        },
        "smithy.api#documentation": "Get a SqlCollector",
        "com.distilled.openapi#apiVersion": "2024-01-15"
      }
    },
    "com.azure.migrate#SqlCollectorOperationsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.migrate#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.migrate#CollectorPropertiesBaseWithAgent",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.migrate#SqlCollectorOperationsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Assessment Project Name"
          }
        },
        "collectorName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sql collector ARM name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.migrate#SqlCollectorOperationsListByAssessmentProject": {
      "type": "operation",
      "input": {
        "target": "com.azure.migrate#SqlCollectorOperationsListByAssessmentProjectRequest"
      },
      "output": {
        "target": "com.azure.migrate#SqlCollectorListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/sqlcollectors",
          "code": 200,
          "apiVersion": "2024-01-15"
        },
        "smithy.api#documentation": "List SqlCollector resources by AssessmentProject",
        "com.distilled.openapi#apiVersion": "2024-01-15"
      }
    },
    "com.azure.migrate#SqlCollectorListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.migrate#SqlCollectorListResultValueList",
          "traits": {
            "smithy.api#documentation": "The SqlCollector items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a SqlCollector list operation."
      }
    },
    "com.azure.migrate#SqlCollectorListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.migrate#SqlCollector"
      },
      "traits": {
        "smithy.api#documentation": "The SqlCollector items on this page"
      }
    },
    "com.azure.migrate#SqlCollector": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.migrate#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.migrate#CollectorPropertiesBaseWithAgent",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The SQL collector REST object."
      }
    },
    "com.azure.migrate#SqlCollectorOperationsListByAssessmentProjectRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Assessment Project Name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.migrate#SqlAssessmentOptionsOperationsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.migrate#SqlAssessmentOptionsOperationsGetRequest"
      },
      "output": {
        "target": "com.azure.migrate#SqlAssessmentOptionsOperationsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/sqlAssessmentOptions/{assessmentOptionsName}",
          "code": 200,
          "apiVersion": "2024-01-15"
        },
        "smithy.api#documentation": "Get a SqlAssessmentOptions",
        "com.distilled.openapi#apiVersion": "2024-01-15"
      }
    },
    "com.azure.migrate#SqlAssessmentOptionsOperationsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.migrate#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.migrate#SqlAssessmentOptionsProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.migrate#SqlAssessmentOptionsProperties": {
      "type": "structure",
      "members": {
        "vmFamilies": {
          "target": "com.azure.migrate#SqlAssessmentOptionsPropertiesVmFamiliesList",
          "traits": {
            "smithy.api#documentation": "Gets the list of VM families."
          }
        },
        "reservedInstanceVmFamilies": {
          "target": "com.azure.migrate#SqlAssessmentOptionsPropertiesReservedInstanceVmFamiliesList",
          "traits": {
            "smithy.api#documentation": "Gets the Reserved Instance VM Families list."
          }
        },
        "premiumDiskVmFamilies": {
          "target": "com.azure.migrate#SqlAssessmentOptionsPropertiesPremiumDiskVmFamiliesList",
          "traits": {
            "smithy.api#documentation": "Gets the Premium disk VM Families list."
          }
        },
        "savingsPlanVmFamilies": {
          "target": "com.azure.migrate#SqlAssessmentOptionsPropertiesSavingsPlanVmFamiliesList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the Premium disk VM Families list."
          }
        },
        "savingsPlanSupportedLocations": {
          "target": "com.azure.migrate#SqlAssessmentOptionsPropertiesSavingsPlanSupportedLocationsList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the list of Azure locations supporting Saving Plans for IAAS."
          }
        },
        "savingsPlanSupportedLocationsForPaas": {
          "target": "com.azure.migrate#SqlAssessmentOptionsPropertiesSavingsPlanSupportedLocationsForPaasList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the list of Azure locations supporting Saving Plans for PAAS."
          }
        },
        "reservedInstanceSupportedLocationsForIaas": {
          "target": "com.azure.migrate#SqlAssessmentOptionsPropertiesReservedInstanceSupportedLocationsForIaasList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the list of Azure locations supporting Reserved Instances for IAAS."
          }
        },
        "savingsPlanSupportedOffers": {
          "target": "com.azure.migrate#SqlAssessmentOptionsPropertiesSavingsPlanSupportedOffersList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the list of Azure Offers supporting Saving Plans."
          }
        },
        "sqlSkus": {
          "target": "com.azure.migrate#SqlAssessmentOptionsPropertiesSqlSkusList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the list of SQL target SKU properties for dropdowns."
          }
        },
        "reservedInstanceSqlTargets": {
          "target": "com.azure.migrate#SqlAssessmentOptionsPropertiesReservedInstanceSqlTargetsList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the Reserved Instance SQL target types."
          }
        },
        "reservedInstanceSupportedLocations": {
          "target": "com.azure.migrate#SqlAssessmentOptionsPropertiesReservedInstanceSupportedLocationsList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the list of Azure locations supporting Reserved Instances."
          }
        },
        "reservedInstanceSupportedCurrencies": {
          "target": "com.azure.migrate#SqlAssessmentOptionsPropertiesReservedInstanceSupportedCurrenciesList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the list of currencies supported for Reserved Instances."
          }
        },
        "reservedInstanceSupportedOffers": {
          "target": "com.azure.migrate#SqlAssessmentOptionsPropertiesReservedInstanceSupportedOffersList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the list of offers supported for Reserved Instances."
          }
        },
        "supportedOffers": {
          "target": "com.azure.migrate#SqlAssessmentOptionsPropertiesSupportedOffersList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the list of offers supported for SQL assessments."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SQL Assessment options properties Web model object."
      }
    },
    "com.azure.migrate#SqlAssessmentOptionsPropertiesSupportedOffersList": {
      "type": "list",
      "member": {
        "target": "com.azure.migrate#AzureOfferCode"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the list of offers supported for SQL assessments."
      }
    },
    "com.azure.migrate#SqlAssessmentOptionsPropertiesReservedInstanceSupportedOffersList": {
      "type": "list",
      "member": {
        "target": "com.azure.migrate#AzureOfferCode"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the list of offers supported for Reserved Instances."
      }
    },
    "com.azure.migrate#SqlAssessmentOptionsPropertiesReservedInstanceSupportedCurrenciesList": {
      "type": "list",
      "member": {
        "target": "com.azure.migrate#AzureCurrency"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the list of currencies supported for Reserved Instances."
      }
    },
    "com.azure.migrate#SqlAssessmentOptionsPropertiesReservedInstanceSupportedLocationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.migrate#AzureLocation"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the list of Azure locations supporting Reserved Instances."
      }
    },
    "com.azure.migrate#SqlAssessmentOptionsPropertiesReservedInstanceSqlTargetsList": {
      "type": "list",
      "member": {
        "target": "com.azure.migrate#TargetType"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the Reserved Instance SQL target types."
      }
    },
    "com.azure.migrate#TargetType": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "RECOMMENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Recommended"
          }
        },
        "AZURESQLDATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureSqlDatabase"
          }
        },
        "AZURESQLMANAGEDINSTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureSqlManagedInstance"
          }
        },
        "AZURESQLVIRTUALMACHINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureSqlVirtualMachine"
          }
        },
        "AZUREVIRTUALMACHINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureVirtualMachine"
          }
        }
      },
      "traits": {}
    },
    "com.azure.migrate#SqlAssessmentOptionsPropertiesSqlSkusList": {
      "type": "list",
      "member": {
        "target": "com.azure.migrate#SqlPaaSTargetOptions"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the list of SQL target SKU properties for dropdowns."
      }
    },
    "com.azure.migrate#SqlPaaSTargetOptions": {
      "type": "structure",
      "members": {
        "computeTier": {
          "target": "com.azure.migrate#ComputeTier",
          "traits": {
            "smithy.api#documentation": "Gets or sets the Azure SQL compute tier."
          }
        },
        "hardwareGeneration": {
          "target": "com.azure.migrate#HardwareGeneration",
          "traits": {
            "smithy.api#documentation": "Gets or sets the Azure SQL hardware generation."
          }
        },
        "targetType": {
          "target": "com.azure.migrate#TargetType",
          "traits": {
            "smithy.api#documentation": "Gets or sets the Azure SQL target type."
          }
        },
        "serviceTier": {
          "target": "com.azure.migrate#AzureSqlServiceTier",
          "traits": {
            "smithy.api#documentation": "Gets or sets the Azure SQL service tier."
          }
        },
        "targetLocations": {
          "target": "com.azure.migrate#SqlPaaSTargetOptionsTargetLocationsList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the target location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SQL target options."
      }
    },
    "com.azure.migrate#SqlPaaSTargetOptionsTargetLocationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.migrate#AzureLocation"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the target location."
      }
    },
    "com.azure.migrate#AzureSqlServiceTier": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Automatic"
          }
        },
        "GENERALPURPOSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GeneralPurpose"
          }
        },
        "BUSINESSCRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BusinessCritical"
          }
        },
        "HYPERSCALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HyperScale"
          }
        }
      },
      "traits": {}
    },
    "com.azure.migrate#HardwareGeneration": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Automatic"
          }
        },
        "GEN5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Gen5"
          }
        },
[...]
