{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.monitoringservice#MetricsContainersCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.monitoringservice#MetricsContainersCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.monitoringservice#MetricsContainersCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}/metricsContainers/{metricsContainerName}",
          "code": 200,
          "apiVersion": "2025-10-03"
        },
        "smithy.api#documentation": "Creates or updates metrics container settings for a monitoring account.",
        "com.distilled.openapi#apiVersion": "2025-10-03"
      }
    },
    "com.azure.monitoringservice#MetricsContainersCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.monitoringservice#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.monitoringservice#MetricsContainer",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.monitoringservice#MetricsContainer": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.monitoringservice#AzureResourceManagerResourceProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the metrics container."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of Metrics Query Service that this AMW will use for all metric queries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a metrics container."
      }
    },
    "com.azure.monitoringservice#AzureResourceManagerResourceProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioning state of a resource type."
      }
    },
    "com.azure.monitoringservice#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.monitoringservice#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.monitoringservice#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.monitoringservice#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.monitoringservice#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.monitoringservice#MetricsContainersCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "azureMonitorWorkspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure Monitor Workspace. The name is case insensitive"
          }
        },
        "metricsContainerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the MetricsContainer"
          }
        },
        "properties": {
          "target": "com.azure.monitoringservice#MetricsContainerInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.monitoringservice#MetricsContainerInput": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of Metrics Query Service that this AMW will use for all metric queries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a metrics container."
      }
    },
    "com.azure.monitoringservice#MetricsContainersGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.monitoringservice#MetricsContainersGetRequest"
      },
      "output": {
        "target": "com.azure.monitoringservice#MetricsContainersGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}/metricsContainers/{metricsContainerName}",
          "code": 200,
          "apiVersion": "2025-10-03"
        },
        "smithy.api#documentation": "Gets metrics container settings for a monitoring account.",
        "com.distilled.openapi#apiVersion": "2025-10-03"
      }
    },
    "com.azure.monitoringservice#MetricsContainersGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.monitoringservice#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.monitoringservice#MetricsContainer",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.monitoringservice#MetricsContainersGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "azureMonitorWorkspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure Monitor Workspace. The name is case insensitive"
          }
        },
        "metricsContainerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the MetricsContainer"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.monitoringservice#MetricsContainersListByAzureMonitorWorkspace": {
      "type": "operation",
      "input": {
        "target": "com.azure.monitoringservice#MetricsContainersListByAzureMonitorWorkspaceRequest"
      },
      "output": {
        "target": "com.azure.monitoringservice#MetricsContainerResourceListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}/metricsContainers",
          "code": 200,
          "apiVersion": "2025-10-03"
        },
        "smithy.api#documentation": "Lists metrics containers for a monitoring account.",
        "com.distilled.openapi#apiVersion": "2025-10-03"
      }
    },
    "com.azure.monitoringservice#MetricsContainerResourceListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.monitoringservice#MetricsContainerResourceListResultValueList",
          "traits": {
            "smithy.api#documentation": "The MetricsContainerResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a MetricsContainerResource list operation."
      }
    },
    "com.azure.monitoringservice#MetricsContainerResourceListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.monitoringservice#MetricsContainerResource"
      },
      "traits": {
        "smithy.api#documentation": "The MetricsContainerResource items on this page"
      }
    },
    "com.azure.monitoringservice#MetricsContainerResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.monitoringservice#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.monitoringservice#MetricsContainer",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metrics container resource for an Azure Monitor Workspace."
      }
    },
    "com.azure.monitoringservice#MetricsContainersListByAzureMonitorWorkspaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "azureMonitorWorkspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure Monitor Workspace. The name is case insensitive"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.monitoringservice#IssueSetBackgroundVisualization": {
      "type": "operation",
      "input": {
        "target": "com.azure.monitoringservice#IssueSetBackgroundVisualizationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}/issues/{issueName}/setBackgroundVisualization",
          "code": 200,
          "apiVersion": "2025-10-03"
        },
        "smithy.api#documentation": "Set the background visualization for the issue",
        "com.distilled.openapi#apiVersion": "2025-10-03"
      }
    },
    "com.azure.monitoringservice#IssueSetBackgroundVisualizationRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "azureMonitorWorkspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure Monitor Workspace. The name is case insensitive"
          }
        },
        "issueName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the IssueResource"
          }
        },
        "visualization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The background visualization content, in Adaptive Card format",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.monitoringservice#IssueListResources": {
      "type": "operation",
      "input": {
        "target": "com.azure.monitoringservice#IssueListResourcesRequest"
      },
      "output": {
        "target": "com.azure.monitoringservice#PagedRelatedResource"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}/issues/{issueName}/listResources",
          "code": 200,
          "apiVersion": "2025-10-03"
        },
        "smithy.api#documentation": "List all resources in the issue - this method uses pagination to return all resources",
        "com.distilled.openapi#apiVersion": "2025-10-03"
      }
    },
    "com.azure.monitoringservice#PagedRelatedResource": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.monitoringservice#PagedRelatedResourceValueList",
          "traits": {
            "smithy.api#documentation": "The RelatedResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Paged collection of RelatedResource items"
      }
    },
    "com.azure.monitoringservice#PagedRelatedResourceValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.monitoringservice#RelatedResource"
      },
      "traits": {
        "smithy.api#documentation": "The RelatedResource items on this page"
      }
    },
    "com.azure.monitoringservice#RelatedResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID",
            "smithy.api#required": {}
          }
        },
        "relevance": {
          "target": "com.azure.monitoringservice#Relevance",
          "traits": {
            "smithy.api#documentation": "The resource's relevance status",
            "smithy.api#required": {}
          }
        },
        "origin": {
          "target": "com.azure.monitoringservice#Origin",
          "traits": {
            "smithy.api#documentation": "The source that related the resource to the issue",
            "smithy.api#required": {}
          }
        },
        "addedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time this relation was added to the issue (in UTC)",
            "smithy.api#required": {}
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last update time of this relation (in UTC)",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a resource which is related to the issue"
      }
    },
    "com.azure.monitoringservice#Origin": {
      "type": "structure",
      "members": {
        "addedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the origin - for example, in case of 'Manual', the user ID/app ID, and in case of 'Automatic', the name of the automatic system",
            "smithy.api#required": {}
          }
        },
        "addedByType": {
          "target": "com.azure.monitoringservice#AddedByType",
          "traits": {
            "smithy.api#documentation": "The source of the origin - Manual or Automatic",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about the origin of the entity - the source that added it to the issue"
      }
    },
    "com.azure.monitoringservice#AddedByType": {
      "type": "enum",
      "members": {
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Manual"
          }
        },
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Automatic"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of entity that added data to the issue"
      }
    },
    "com.azure.monitoringservice#Relevance": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "RELEVANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Relevant"
          }
        },
        "IRRELEVANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Irrelevant"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The relevance status of the resource"
      }
    },
    "com.azure.monitoringservice#IssueListResourcesRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "azureMonitorWorkspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure Monitor Workspace. The name is case insensitive"
          }
        },
        "issueName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the IssueResource"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter to apply on the operation. For example, to filter by relevance, use \"$filter=relevance eq 'Relevant'\". Note: this property is currently a placeholder and is not in use."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.monitoringservice#IssueListAlerts": {
      "type": "operation",
      "input": {
        "target": "com.azure.monitoringservice#IssueListAlertsRequest"
      },
      "output": {
        "target": "com.azure.monitoringservice#PagedRelatedAlert"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}/issues/{issueName}/listAlerts",
          "code": 200,
          "apiVersion": "2025-10-03"
        },
        "smithy.api#documentation": "List all alerts in the issue - this method uses pagination to return all alerts",
        "com.distilled.openapi#apiVersion": "2025-10-03"
      }
    },
    "com.azure.monitoringservice#PagedRelatedAlert": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.monitoringservice#PagedRelatedAlertValueList",
          "traits": {
            "smithy.api#documentation": "The RelatedAlert items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Paged collection of RelatedAlert items"
      }
    },
    "com.azure.monitoringservice#PagedRelatedAlertValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.monitoringservice#RelatedAlert"
      },
      "traits": {
        "smithy.api#documentation": "The RelatedAlert items on this page"
      }
    },
    "com.azure.monitoringservice#RelatedAlert": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The alert ID",
            "smithy.api#required": {}
          }
        },
        "relevance": {
          "target": "com.azure.monitoringservice#Relevance",
          "traits": {
            "smithy.api#documentation": "The alerts's relevance status",
            "smithy.api#required": {}
          }
        },
        "origin": {
          "target": "com.azure.monitoringservice#Origin",
          "traits": {
            "smithy.api#documentation": "The source that related the alert to the issue",
            "smithy.api#required": {}
          }
        },
        "addedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time this relation was added to the issue (in UTC)",
            "smithy.api#required": {}
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last update time of this relation (in UTC)",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of an alert which is related to the issue"
      }
    },
    "com.azure.monitoringservice#IssueListAlertsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "azureMonitorWorkspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure Monitor Workspace. The name is case insensitive"
          }
        },
        "issueName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the IssueResource"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filter to apply on the operation. For example, to filter by relevance, use \"$filter=relevance eq 'Relevant'\". Note: this property is currently a placeholder and is not in use."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.monitoringservice#IssueFetchInvestigationResult": {
      "type": "operation",
      "input": {
        "target": "com.azure.monitoringservice#IssueFetchInvestigationResultRequest"
      },
      "output": {
        "target": "com.azure.monitoringservice#InvestigationResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}/issues/{issueName}/fetchInvestigationResult",
          "code": 200,
          "apiVersion": "2025-10-03"
        },
        "smithy.api#documentation": "Fetch investigation result",
        "com.distilled.openapi#apiVersion": "2025-10-03"
      }
    },
    "com.azure.monitoringservice#InvestigationResult": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the investigation",
            "smithy.api#required": {}
          }
        },
        "origin": {
          "target": "com.azure.monitoringservice#Origin",
          "traits": {
            "smithy.api#documentation": "The origin of the investigation"
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation time of the investigation (in UTC)"
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last update time of the investigation (in UTC)"
          }
        },
        "result": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The result of this investigation",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about the investigation result"
      }
    },
    "com.azure.monitoringservice#IssueFetchInvestigationResultRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "azureMonitorWorkspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure Monitor Workspace. The name is case insensitive"
          }
        },
        "issueName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the IssueResource"
          }
        },
        "investigationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the investigation",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.monitoringservice#IssueFetchBackgroundVisualization": {
      "type": "operation",
      "input": {
        "target": "com.azure.monitoringservice#IssueFetchBackgroundVisualizationRequest"
      },
      "output": {
        "target": "com.azure.monitoringservice#BackgroundVisualization"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}/issues/{issueName}/fetchBackgroundVisualization",
          "code": 200,
          "apiVersion": "2025-10-03"
        },
        "smithy.api#documentation": "Fetch the background visualization of the issue",
        "com.distilled.openapi#apiVersion": "2025-10-03"
      }
    },
    "com.azure.monitoringservice#BackgroundVisualization": {
      "type": "structure",
      "members": {
        "visualization": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The background visualization content, in Adaptive Card format",
            "smithy.api#required": {}
          }
        },
        "origin": {
          "target": "com.azure.monitoringservice#Origin",
          "traits": {
            "smithy.api#documentation": "The background visualization origin",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The issue background visualization"
      }
    },
    "com.azure.monitoringservice#IssueFetchBackgroundVisualizationRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "azureMonitorWorkspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure Monitor Workspace. The name is case insensitive"
          }
        },
        "issueName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the IssueResource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.monitoringservice#IssueAddOrUpdateResources": {
      "type": "operation",
      "input": {
        "target": "com.azure.monitoringservice#IssueAddOrUpdateResourcesRequest"
      },
      "output": {
        "target": "com.azure.monitoringservice#RelatedResources"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}/issues/{issueName}/addOrUpdateResources",
          "code": 200,
          "apiVersion": "2025-10-03"
        },
        "smithy.api#documentation": "Add or update resources associated with an issue",
        "com.distilled.openapi#apiVersion": "2025-10-03"
      }
    },
    "com.azure.monitoringservice#RelatedResources": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.monitoringservice#RelatedResourcesValueList",
          "traits": {
            "smithy.api#documentation": "A list of related resources",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of related resources"
      }
    },
    "com.azure.monitoringservice#RelatedResourcesValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.monitoringservice#RelatedResource"
      },
      "traits": {
        "smithy.api#documentation": "A list of related resources"
      }
    },
    "com.azure.monitoringservice#IssueAddOrUpdateResourcesRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "azureMonitorWorkspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure Monitor Workspace. The name is case insensitive"
          }
        },
        "issueName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the IssueResource"
          }
        },
        "value": {
          "target": "com.azure.monitoringservice#IssueAddOrUpdateResourcesRequestValueList",
          "traits": {
            "smithy.api#documentation": "A list of related resources",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.monitoringservice#IssueAddOrUpdateResourcesRequestValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.monitoringservice#RelatedResourceInput"
      },
      "traits": {
        "smithy.api#documentation": "A list of related resources"
      }
    },
    "com.azure.monitoringservice#RelatedResourceInput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID",
            "smithy.api#required": {}
          }
        },
        "relevance": {
          "target": "com.azure.monitoringservice#Relevance",
          "traits": {
            "smithy.api#documentation": "The resource's relevance status",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a resource which is related to the issue"
      }
    },
    "com.azure.monitoringservice#IssueAddOrUpdateAlerts": {
      "type": "operation",
      "input": {
        "target": "com.azure.monitoringservice#IssueAddOrUpdateAlertsRequest"
      },
      "output": {
        "target": "com.azure.monitoringservice#RelatedAlerts"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}/issues/{issueName}/addOrUpdateAlerts",
          "code": 200,
          "apiVersion": "2025-10-03"
        },
        "smithy.api#documentation": "Add or update alerts associated with an issue",
        "com.distilled.openapi#apiVersion": "2025-10-03"
      }
    },
    "com.azure.monitoringservice#RelatedAlerts": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.monitoringservice#RelatedAlertsValueList",
          "traits": {
            "smithy.api#documentation": "A list of related alerts",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of related alerts"
      }
    },
    "com.azure.monitoringservice#RelatedAlertsValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.monitoringservice#RelatedAlert"
      },
      "traits": {
        "smithy.api#documentation": "A list of related alerts"
      }
    },
    "com.azure.monitoringservice#IssueAddOrUpdateAlertsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "azureMonitorWorkspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure Monitor Workspace. The name is case insensitive"
          }
        },
        "issueName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the IssueResource"
          }
        },
        "value": {
          "target": "com.azure.monitoringservice#IssueAddOrUpdateAlertsRequestValueList",
          "traits": {
            "smithy.api#documentation": "A list of related alerts",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.monitoringservice#IssueAddOrUpdateAlertsRequestValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.monitoringservice#RelatedAlertInput"
      },
      "traits": {
        "smithy.api#documentation": "A list of related alerts"
      }
    },
    "com.azure.monitoringservice#RelatedAlertInput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The alert ID",
            "smithy.api#required": {}
          }
        },
        "relevance": {
          "target": "com.azure.monitoringservice#Relevance",
          "traits": {
            "smithy.api#documentation": "The alerts's relevance status",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of an alert which is related to the issue"
      }
    },
    "com.azure.monitoringservice#IssueAddInvestigationResult": {
      "type": "operation",
      "input": {
        "target": "com.azure.monitoringservice#IssueAddInvestigationResultRequest"
      },
      "output": {
        "target": "com.azure.monitoringservice#InvestigationResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}/issues/{issueName}/addInvestigationResult",
          "code": 200,
          "apiVersion": "2025-10-03"
        },
        "smithy.api#documentation": "Adds investigation result",
        "com.distilled.openapi#apiVersion": "2025-10-03"
      }
    },
    "com.azure.monitoringservice#IssueAddInvestigationResultRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "azureMonitorWorkspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure Monitor Workspace. The name is case insensitive"
          }
        },
        "issueName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the IssueResource"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the investigation",
            "smithy.api#required": {}
          }
        },
        "origin": {
          "target": "com.azure.monitoringservice#Origin",
          "traits": {
            "smithy.api#documentation": "The origin of the investigation"
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation time of the investigation (in UTC)"
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last update time of the investigation (in UTC)"
          }
        },
        "result": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The result of this investigation",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.monitoringservice#IssueDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.monitoringservice#IssueDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}/issues/{issueName}",
          "code": 200,
          "apiVersion": "2025-10-03"
        },
        "smithy.api#documentation": "Delete an issue",
        "com.distilled.openapi#apiVersion": "2025-10-03"
      }
    },
    "com.azure.monitoringservice#IssueDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "azureMonitorWorkspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure Monitor Workspace. The name is case insensitive"
          }
        },
        "issueName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the IssueResource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.monitoringservice#IssueUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.monitoringservice#IssueUpdateRequest"
      },
      "output": {
        "target": "com.azure.monitoringservice#IssueUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}/issues/{issueName}",
          "code": 200,
          "apiVersion": "2025-10-03"
        },
        "smithy.api#documentation": "Update an issue",
        "com.distilled.openapi#apiVersion": "2025-10-03"
      }
    },
    "com.azure.monitoringservice#IssueUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.monitoringservice#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.monitoringservice#IssueProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.monitoringservice#IssueProperties": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The issue title",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.azure.monitoringservice#Status",
          "traits": {
            "smithy.api#documentation": "The issue status",
            "smithy.api#required": {}
          }
        },
        "severity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The issue severity",
            "smithy.api#required": {}
          }
        },
        "investigations": {
          "target": "com.azure.monitoringservice#IssuePropertiesInvestigationsList",
          "traits": {
            "smithy.api#documentation": "The list of investigations in the issue",
            "smithy.api#required": {}
          }
        },
        "impactTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The issue impact time (in UTC)",
            "smithy.api#required": {}
          }
        },
        "investigationsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of investigations in the issue",
            "smithy.api#required": {}
          }
        },
        "background": {
          "target": "com.azure.monitoringservice#Background",
          "traits": {
            "smithy.api#documentation": "The issue background information"
          }
        },
        "notifications": {
          "target": "com.azure.monitoringservice#Notifications",
          "traits": {
            "smithy.api#documentation": "The issue notification settings"
          }
        },
        "provisioningState": {
          "target": "com.azure.monitoringservice#AzureResourceManagerResourceProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The issue properties"
      }
    },
    "com.azure.monitoringservice#Notifications": {
      "type": "structure",
      "members": {
        "updateTypes": {
          "target": "com.azure.monitoringservice#NotificationsUpdateTypesList",
          "traits": {
            "smithy.api#documentation": "The types of updates that trigger notifications"
          }
        },
        "actionGroupIds": {
          "target": "com.azure.monitoringservice#NotificationsActionGroupIdsList",
          "traits": {
            "smithy.api#documentation": "The action group IDs to notify"
          }
        },
        "excludeDefaultActionGroups": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to exclude default action groups from notifications"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Issue notification settings"
      }
    },
    "com.azure.monitoringservice#NotificationsActionGroupIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The action group IDs to notify"
      }
    },
    "com.azure.monitoringservice#NotificationsUpdateTypesList": {
      "type": "list",
      "member": {
        "target": "com.azure.monitoringservice#IssueNotificationType"
      },
      "traits": {
        "smithy.api#documentation": "The types of updates that trigger notifications"
      }
    },
    "com.azure.monitoringservice#IssueNotificationType": {
      "type": "structure",
      "members": {
        "updateType": {
          "target": "com.azure.monitoringservice#UpdateType",
          "traits": {
            "smithy.api#documentation": "The type of update that triggers the notification",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Base properties for an issue notification type"
      }
    },
    "com.azure.monitoringservice#UpdateType": {
      "type": "enum",
      "members": {
        "ISSUECREATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IssueCreation"
          }
        },
        "TIMEBASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TimeBased"
          }
        },
        "ONCHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OnChange"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of update that triggers a notification"
      }
    },
    "com.azure.monitoringservice#Background": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The background type"
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The background text"
          }
        },
        "details": {
          "target": "com.azure.monitoringservice#BackgroundDetailsList",
          "traits": {
            "smithy.api#documentation": "The background details"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The issue background information"
      }
    },
    "com.azure.monitoringservice#BackgroundDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.monitoringservice#BackgroundDetails"
      },
      "traits": {
        "smithy.api#documentation": "The background details"
      }
    },
    "com.azure.monitoringservice#BackgroundDetails": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The background details name",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The background details value",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A background details element"
      }
    },
    "com.azure.monitoringservice#IssuePropertiesInvestigationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.monitoringservice#InvestigationMetadata"
      },
      "traits": {
        "smithy.api#documentation": "The list of investigations in the issue"
      }
    },
    "com.azure.monitoringservice#InvestigationMetadata": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the investigation",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The creation time of the investigation (in UTC)",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the current investigation"
      }
    },
    "com.azure.monitoringservice#Status": {
      "type": "enum",
      "members": {
        "NEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "New"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        },
        "MITIGATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Mitigated"
          }
        },
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Closed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The issue status"
      }
    },
    "com.azure.monitoringservice#IssueUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "azureMonitorWorkspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure Monitor Workspace. The name is case insensitive"
          }
        },
        "issueName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the IssueResource"
          }
        },
        "properties": {
          "target": "com.azure.monitoringservice#IssuePropertiesUpdate",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.monitoringservice#IssuePropertiesUpdate": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The issue title"
          }
        },
        "status": {
          "target": "com.azure.monitoringservice#Status",
          "traits": {
            "smithy.api#documentation": "The issue status"
          }
        },
        "severity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The issue severity"
          }
        },
        "impactTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The issue impact time (in UTC)"
          }
        },
        "background": {
          "target": "com.azure.monitoringservice#Background",
          "traits": {
            "smithy.api#documentation": "The issue background information"
          }
        },
        "notifications": {
          "target": "com.azure.monitoringservice#Notifications",
          "traits": {
            "smithy.api#documentation": "The issue notification settings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The issue properties for update"
      }
    },
    "com.azure.monitoringservice#IssueCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.monitoringservice#IssueCreateRequest"
      },
      "output": {
        "target": "com.azure.monitoringservice#IssueCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}/issues/{issueName}",
          "code": 200,
          "apiVersion": "2025-10-03"
        },
        "smithy.api#documentation": "Create a new issue or updates an existing one",
        "com.distilled.openapi#apiVersion": "2025-10-03"
      }
    },
    "com.azure.monitoringservice#IssueCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.monitoringservice#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.monitoringservice#IssueProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.monitoringservice#IssueCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "azureMonitorWorkspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure Monitor Workspace. The name is case insensitive"
          }
        },
        "issueName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the IssueResource"
          }
        },
        "related": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "related",
            "smithy.api#documentation": "Related resource or alert that is to be added to the issue (default: empty - the issue will be created without any related resources or alerts)"
          }
        },
        "properties": {
          "target": "com.azure.monitoringservice#IssuePropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.monitoringservice#IssuePropertiesInput": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The issue title",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.azure.monitoringservice#Status",
          "traits": {
            "smithy.api#documentation": "The issue status",
            "smithy.api#required": {}
          }
        },
        "severity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The issue severity",
            "smithy.api#required": {}
          }
        },
        "impactTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The issue impact time (in UTC)",
            "smithy.api#required": {}
          }
        },
        "background": {
          "target": "com.azure.monitoringservice#Background",
          "traits": {
            "smithy.api#documentation": "The issue background information"
          }
        },
        "notifications": {
          "target": "com.azure.monitoringservice#Notifications",
          "traits": {
            "smithy.api#documentation": "The issue notification settings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The issue properties"
      }
    },
    "com.azure.monitoringservice#IssueGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.monitoringservice#IssueGetRequest"
      },
      "output": {
        "target": "com.azure.monitoringservice#IssueGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}/issues/{issueName}",
          "code": 200,
          "apiVersion": "2025-10-03"
        },
        "smithy.api#documentation": "Get issue properties",
        "com.distilled.openapi#apiVersion": "2025-10-03"
      }
    },
    "com.azure.monitoringservice#IssueGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.monitoringservice#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.monitoringservice#IssueProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.monitoringservice#IssueGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "azureMonitorWorkspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure Monitor Workspace. The name is case insensitive"
          }
        },
        "issueName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the IssueResource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.monitoringservice#IssueList": {
      "type": "operation",
      "input": {
        "target": "com.azure.monitoringservice#IssueListRequest"
      },
      "output": {
        "target": "com.azure.monitoringservice#IssueResourceListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}/issues",
          "code": 200,
          "apiVersion": "2025-10-03"
        },
        "smithy.api#documentation": "List all issues under the parent",
        "com.distilled.openapi#apiVersion": "2025-10-03"
      }
    },
    "com.azure.monitoringservice#IssueResourceListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.monitoringservice#IssueResourceListResultValueList",
          "traits": {
            "smithy.api#documentation": "The IssueResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a IssueResource list operation."
      }
    },
    "com.azure.monitoringservice#IssueResourceListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.monitoringservice#IssueResource"
      },
      "traits": {
        "smithy.api#documentation": "The IssueResource items on this page"
      }
    },
    "com.azure.monitoringservice#IssueResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.monitoringservice#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.monitoringservice#IssueProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Issue resource"
      }
    },
    "com.azure.monitoringservice#IssueListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "azureMonitorWorkspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure Monitor Workspace. The name is case insensitive"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.monitoringservice#AzureMonitorWorkspacesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.monitoringservice#AzureMonitorWorkspacesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}",
          "code": 200,
          "apiVersion": "2025-10-03"
        },
        "smithy.api#documentation": "Deletes an Azure Monitor Workspace",
        "com.distilled.openapi#apiVersion": "2025-10-03"
      }
    },
    "com.azure.monitoringservice#AzureMonitorWorkspacesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "azureMonitorWorkspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure Monitor Workspace. The name is case insensitive"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.monitoringservice#AzureMonitorWorkspacesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.monitoringservice#AzureMonitorWorkspacesUpdateRequest"
      },
      "output": {
        "target": "com.azure.monitoringservice#AzureMonitorWorkspacesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}",
          "code": 200,
          "apiVersion": "2025-10-03"
        },
        "smithy.api#documentation": "Updates part of an Azure Monitor Workspace",
        "com.distilled.openapi#apiVersion": "2025-10-03"
      }
    },
    "com.azure.monitoringservice#AzureMonitorWorkspacesUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.monitoringservice#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.monitoringservice#AzureMonitorWorkspacesUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.monitoringservice#AzureMonitorWorkspace",
          "traits": {
            "smithy.api#documentation": "Resource properties"
          }
        },
        "identity": {
          "target": "com.azure.monitoringservice#AzureMonitorWorkspacesUpdateResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.\")"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.monitoringservice#AzureMonitorWorkspacesUpdateResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.monitoringservice#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.monitoringservice#AzureMonitorWorkspacesUpdateResponseIdentityUserAssignedIdentitiesMap",
          "traits": {
            "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.monitoringservice#AzureMonitorWorkspacesUpdateResponseIdentityUserAssignedIdentitiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.monitoringservice#UserAssignedIdentity"
      },
      "traits": {
        "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
      }
    },
    "com.azure.monitoringservice#UserAssignedIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of the assigned identity."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client ID of the assigned identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User assigned identity properties"
      }
    },
    "com.azure.monitoringservice#ManagedServiceIdentityType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        },
        "SYSTEMASSIGNED_USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned,UserAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of managed service identity (where both SystemAssigned and UserAssigned types are allowed)."
      }
    },
    "com.azure.monitoringservice#AzureMonitorWorkspace": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The immutable Id of the Azure Monitor Workspace. This property is read-only."
          }
        },
        "metrics": {
          "target": "com.azure.monitoringservice#AzureMonitorWorkspaceMetrics",
          "traits": {
            "smithy.api#documentation": "Properties related to the metrics container in the Azure Monitor Workspace"
          }
        },
        "provisioningState": {
          "target": "com.azure.monitoringservice#AzureResourceManagerResourceProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the Azure Monitor Workspace. Set to Succeeded if everything is healthy."
          }
        },
        "defaultIngestionSettings": {
          "target": "com.azure.monitoringservice#AzureMonitorWorkspaceDefaultIngestionSettings",
          "traits": {
            "smithy.api#documentation": "The Data Collection Rule and Endpoint used for ingestion by default."
          }
        },
        "privateEndpointConnections": {
          "target": "com.azure.monitoringservice#AzureMonitorWorkspacePrivateEndpointConnectionsList",
          "traits": {
            "smithy.api#documentation": "List of private endpoint connections"
          }
        },
        "publicNetworkAccess": {
          "target": "com.azure.monitoringservice#PublicNetworkAccess",
          "traits": {
            "smithy.api#documentation": "Gets or sets allow or disallow public network access to Azure Monitor Workspace"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of an Azure Monitor Workspace"
      }
    },
    "com.azure.monitoringservice#PublicNetworkAccess": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets allow or disallow public network access to Azure Monitor Workspace"
      }
    },
    "com.azure.monitoringservice#AzureMonitorWorkspacePrivateEndpointConnectionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.monitoringservice#AzureMonitorWorkspacePrivateEndpointConnectionsItem"
      },
      "traits": {
        "smithy.api#documentation": "List of private endpoint connections"
      }
    },
    "com.azure.monitoringservice#AzureMonitorWorkspacePrivateEndpointConnectionsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.monitoringservice#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.monitoringservice#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint connection resource."
      }
    },
    "com.azure.monitoringservice#PrivateEndpointConnectionProperties": {
      "type": "structure",
      "members": {
        "groupIds": {
          "target": "com.azure.monitoringservice#PrivateEndpointConnectionPropertiesGroupIdsList",
          "traits": {
            "smithy.api#documentation": "The group ids for the private endpoint resource."
          }
        },
        "privateEndpoint": {
          "target": "com.azure.monitoringservice#PrivateEndpoint",
          "traits": {
            "smithy.api#documentation": "The private endpoint resource."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.monitoringservice#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.monitoringservice#PrivateEndpointConnectionProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the private endpoint connection resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the private endpoint connection."
      }
    },
    "com.azure.monitoringservice#PrivateEndpointConnectionProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current provisioning state."
      }
    },
    "com.azure.monitoringservice#PrivateLinkServiceConnectionState": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.monitoringservice#PrivateEndpointServiceConnectionStatus",
          "traits": {
            "smithy.api#documentation": "Indicates whether the connection has been Approved/Rejected/Removed by the owner of the service."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason for approval/rejection of the connection."
          }
        },
        "actionsRequired": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A message indicating if changes on the service provider require any updates on the consumer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider."
      }
    },
    "com.azure.monitoringservice#PrivateEndpointServiceConnectionStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint connection status."
      }
    },
    "com.azure.monitoringservice#PrivateEndpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ARM identifier for private endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint resource."
      }
    },
    "com.azure.monitoringservice#PrivateEndpointConnectionPropertiesGroupIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The group ids for the private endpoint resource."
      }
    },
    "com.azure.monitoringservice#AzureMonitorWorkspaceDefaultIngestionSettings": {
      "type": "structure",
      "members": {
        "dataCollectionRuleResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Azure resource Id of the default data collection rule for this Azure Monitor Workspace."
          }
        },
        "dataCollectionEndpointResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Azure resource Id of the default data collection endpoint for this Azure Monitor Workspace."
          }
        },
        "dataCollectionRuleImmutableId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The immutable Id of the default data collection rule for this Azure Monitor Workspace."
          }
        },
        "ingestionEndpoints": {
          "target": "com.azure.monitoringservice#IngestionEndpoints",
          "traits": {
            "smithy.api#documentation": "The ingestion endpoints for this Azure Monitor Workspace."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Data Collection Rule and Endpoint used for ingestion by default."
      }
    },
    "com.azure.monitoringservice#IngestionEndpoints": {
      "type": "structure",
      "members": {
        "metrics": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The metrics ingestion endpoint for this Azure Monitor Workspace."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ingestion endpoints for an Azure Monitor Workspace."
      }
    },
    "com.azure.monitoringservice#AzureMonitorWorkspaceMetrics": {
      "type": "structure",
      "members": {
        "prometheusQueryEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Prometheus query endpoint for the Azure Monitor Workspace"
          }
        },
        "internalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An internal identifier for the metrics container. Only to be used by the system."
          }
        },
        "enableAccessUsingResourcePermissions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag that indicates whether to enable access using resource permissions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties related to the metrics container in the Azure Monitor Workspace"
      }
    },
    "com.azure.monitoringservice#AzureMonitorWorkspacesUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.monitoringservice#AzureMonitorWorkspacesUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "azureMonitorWorkspaceName": {
          "target": "smithy.api#String",
          "traits": {
[...]
