{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.msi#FederatedIdentityCredentialsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.msi#FederatedIdentityCredentialsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{resourceName}/federatedIdentityCredentials/{federatedIdentityCredentialResourceName}",
          "code": 200,
          "apiVersion": "2024-11-30"
        },
        "smithy.api#documentation": "Deletes the federated identity credential.",
        "com.distilled.openapi#apiVersion": "2024-11-30"
      }
    },
    "com.azure.msi#FederatedIdentityCredentialsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the identity resource."
          }
        },
        "federatedIdentityCredentialResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the federated identity credential resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.msi#FederatedIdentityCredentialsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.msi#FederatedIdentityCredentialsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.msi#FederatedIdentityCredentialsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{resourceName}/federatedIdentityCredentials/{federatedIdentityCredentialResourceName}",
          "code": 200,
          "apiVersion": "2024-11-30"
        },
        "smithy.api#documentation": "Create or update a federated identity credential under the specified user assigned identity.",
        "com.distilled.openapi#apiVersion": "2024-11-30"
      }
    },
    "com.azure.msi#FederatedIdentityCredentialsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.msi#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.msi#FederatedIdentityCredentialProperties",
          "traits": {
            "smithy.api#documentation": "The properties associated with the federated identity credential."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.msi#FederatedIdentityCredentialProperties": {
      "type": "structure",
      "members": {
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the issuer to be trusted.",
            "smithy.api#required": {}
          }
        },
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the external identity.",
            "smithy.api#required": {}
          }
        },
        "audiences": {
          "target": "com.azure.msi#FederatedIdentityCredentialPropertiesAudiencesList",
          "traits": {
            "smithy.api#documentation": "The list of audiences that can appear in the issued token.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties associated with a federated identity credential."
      }
    },
    "com.azure.msi#FederatedIdentityCredentialPropertiesAudiencesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of audiences that can appear in the issued token."
      }
    },
    "com.azure.msi#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.msi#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.msi#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.msi#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.msi#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.msi#FederatedIdentityCredentialsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the identity resource."
          }
        },
        "federatedIdentityCredentialResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the federated identity credential resource."
          }
        },
        "properties": {
          "target": "com.azure.msi#FederatedIdentityCredentialProperties",
          "traits": {
            "smithy.api#documentation": "The properties associated with the federated identity credential."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.msi#FederatedIdentityCredentialsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.msi#FederatedIdentityCredentialsGetRequest"
      },
      "output": {
        "target": "com.azure.msi#FederatedIdentityCredentialsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{resourceName}/federatedIdentityCredentials/{federatedIdentityCredentialResourceName}",
          "code": 200,
          "apiVersion": "2024-11-30"
        },
        "smithy.api#documentation": "Gets the federated identity credential.",
        "com.distilled.openapi#apiVersion": "2024-11-30"
      }
    },
    "com.azure.msi#FederatedIdentityCredentialsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.msi#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.msi#FederatedIdentityCredentialProperties",
          "traits": {
            "smithy.api#documentation": "The properties associated with the federated identity credential."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.msi#FederatedIdentityCredentialsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the identity resource."
          }
        },
        "federatedIdentityCredentialResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the federated identity credential resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.msi#FederatedIdentityCredentialsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.msi#FederatedIdentityCredentialsListRequest"
      },
      "output": {
        "target": "com.azure.msi#FederatedIdentityCredentialsListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{resourceName}/federatedIdentityCredentials",
          "code": 200,
          "apiVersion": "2024-11-30"
        },
        "smithy.api#documentation": "Lists all the federated identity credentials under the specified user assigned identity.",
        "com.distilled.openapi#apiVersion": "2024-11-30"
      }
    },
    "com.azure.msi#FederatedIdentityCredentialsListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.msi#FederatedIdentityCredentialsListResultValueList",
          "traits": {
            "smithy.api#documentation": "The FederatedIdentityCredential items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Values returned by the List operation for federated identity credentials."
      }
    },
    "com.azure.msi#FederatedIdentityCredentialsListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.msi#FederatedIdentityCredential"
      },
      "traits": {
        "smithy.api#documentation": "The FederatedIdentityCredential items on this page"
      }
    },
    "com.azure.msi#FederatedIdentityCredential": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.msi#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.msi#FederatedIdentityCredentialProperties",
          "traits": {
            "smithy.api#documentation": "The properties associated with the federated identity credential."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a federated identity credential."
      }
    },
    "com.azure.msi#FederatedIdentityCredentialsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the identity resource."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "Number of records to return."
          }
        },
        "_skiptoken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skiptoken",
            "smithy.api#documentation": "A skip token is used to continue retrieving items after an operation returns a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.msi#UserAssignedIdentitiesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.msi#UserAssignedIdentitiesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{resourceName}",
          "code": 200,
          "apiVersion": "2024-11-30"
        },
        "smithy.api#documentation": "Deletes the identity.",
        "com.distilled.openapi#apiVersion": "2024-11-30"
      }
    },
    "com.azure.msi#UserAssignedIdentitiesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the identity resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.msi#UserAssignedIdentitiesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.msi#UserAssignedIdentitiesUpdateRequest"
      },
      "output": {
        "target": "com.azure.msi#UserAssignedIdentitiesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{resourceName}",
          "code": 200,
          "apiVersion": "2024-11-30"
        },
        "smithy.api#documentation": "Update an identity in the specified subscription and resource group.",
        "com.distilled.openapi#apiVersion": "2024-11-30"
      }
    },
    "com.azure.msi#UserAssignedIdentitiesUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.msi#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.msi#UserAssignedIdentitiesUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.msi#UserAssignedIdentityProperties",
          "traits": {
            "smithy.api#documentation": "The properties associated with the identity."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.msi#UserAssignedIdentityProperties": {
      "type": "structure",
      "members": {
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the tenant which the identity belongs to."
          }
        },
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the service principal object associated with the created identity."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the app associated with the identity. This is a random generated UUID by MSI."
          }
        },
        "isolationScope": {
          "target": "com.azure.msi#IsolationScope",
          "traits": {
            "smithy.api#documentation": "Enum to configure regional restrictions on identity assignment, as necessary."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties associated with the user assigned identity."
      }
    },
    "com.azure.msi#IsolationScope": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "REGIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Regional"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enum to configure regional restrictions on identity assignment, as necessary."
      }
    },
    "com.azure.msi#UserAssignedIdentitiesUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.msi#UserAssignedIdentitiesUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the identity resource."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        },
        "tags": {
          "target": "com.azure.msi#UserAssignedIdentitiesUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags"
          }
        },
        "properties": {
          "target": "com.azure.msi#UserAssignedIdentityProperties",
          "traits": {
            "smithy.api#documentation": "The properties associated with the identity."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.msi#UserAssignedIdentitiesUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags"
      }
    },
    "com.azure.msi#UserAssignedIdentitiesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.msi#UserAssignedIdentitiesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.msi#UserAssignedIdentitiesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{resourceName}",
          "code": 200,
          "apiVersion": "2024-11-30"
        },
        "smithy.api#documentation": "Create or update an identity in the specified subscription and resource group.",
        "com.distilled.openapi#apiVersion": "2024-11-30"
      }
    },
    "com.azure.msi#UserAssignedIdentitiesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.msi#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.msi#UserAssignedIdentitiesCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.msi#UserAssignedIdentityProperties",
          "traits": {
            "smithy.api#documentation": "The properties associated with the identity."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.msi#UserAssignedIdentitiesCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.msi#UserAssignedIdentitiesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the identity resource."
          }
        },
        "tags": {
          "target": "com.azure.msi#UserAssignedIdentitiesCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.msi#UserAssignedIdentityProperties",
          "traits": {
            "smithy.api#documentation": "The properties associated with the identity."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.msi#UserAssignedIdentitiesCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.msi#UserAssignedIdentitiesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.msi#UserAssignedIdentitiesGetRequest"
      },
      "output": {
        "target": "com.azure.msi#UserAssignedIdentitiesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{resourceName}",
          "code": 200,
          "apiVersion": "2024-11-30"
        },
        "smithy.api#documentation": "Gets the identity.",
        "com.distilled.openapi#apiVersion": "2024-11-30"
      }
    },
    "com.azure.msi#UserAssignedIdentitiesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.msi#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.msi#UserAssignedIdentitiesGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.msi#UserAssignedIdentityProperties",
          "traits": {
            "smithy.api#documentation": "The properties associated with the identity."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.msi#UserAssignedIdentitiesGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.msi#UserAssignedIdentitiesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the identity resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.msi#UserAssignedIdentitiesListByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.msi#UserAssignedIdentitiesListByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.msi#UserAssignedIdentitiesListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities",
          "code": 200,
          "apiVersion": "2024-11-30"
        },
        "smithy.api#documentation": "Lists all the userAssignedIdentities available under the specified ResourceGroup.",
        "com.distilled.openapi#apiVersion": "2024-11-30"
      }
    },
    "com.azure.msi#UserAssignedIdentitiesListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.msi#UserAssignedIdentitiesListResultValueList",
          "traits": {
            "smithy.api#documentation": "The Identity items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Values returned by the List operation."
      }
    },
    "com.azure.msi#UserAssignedIdentitiesListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.msi#Identity"
      },
      "traits": {
        "smithy.api#documentation": "The Identity items on this page"
      }
    },
    "com.azure.msi#Identity": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.msi#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.msi#IdentityTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.msi#UserAssignedIdentityProperties",
          "traits": {
            "smithy.api#documentation": "The properties associated with the identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes an identity resource."
      }
    },
    "com.azure.msi#IdentityTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.msi#UserAssignedIdentitiesListByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.msi#UserAssignedIdentitiesListBySubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.msi#UserAssignedIdentitiesListBySubscriptionRequest"
      },
      "output": {
        "target": "com.azure.msi#UserAssignedIdentitiesListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedIdentity/userAssignedIdentities",
          "code": 200,
          "apiVersion": "2024-11-30"
        },
        "smithy.api#documentation": "Lists all the userAssignedIdentities available under the specified subscription.",
        "com.distilled.openapi#apiVersion": "2024-11-30"
      }
    },
    "com.azure.msi#UserAssignedIdentitiesListBySubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.msi#OperationsList": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.azure.msi#OperationListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.ManagedIdentity/operations",
          "code": 200,
          "apiVersion": "2024-11-30"
        },
        "smithy.api#documentation": "List the operations for the provider",
        "com.distilled.openapi#apiVersion": "2024-11-30"
      }
    },
    "com.azure.msi#OperationListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.msi#OperationListResultValueList",
          "traits": {
            "smithy.api#documentation": "The Operation items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of REST API operations supported by an Azure Resource Provider. It contains an URL link to get the next set of results."
      }
    },
    "com.azure.msi#OperationListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.msi#Operation"
      },
      "traits": {
        "smithy.api#documentation": "The Operation items on this page"
      }
    },
    "com.azure.msi#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation, as per Resource-Based Access Control (RBAC). Examples: \"Microsoft.Compute/virtualMachines/write\", \"Microsoft.Compute/virtualMachines/capture/action\""
          }
        },
        "display": {
          "target": "com.azure.msi#OperationDisplay",
          "traits": {
            "smithy.api#documentation": "Localized display information for this particular operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a REST API operation, returned from the Resource Provider Operations API"
      }
    },
    "com.azure.msi#OperationDisplay": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized friendly form of the resource provider name, e.g. \"Microsoft Monitoring Insights\" or \"Microsoft Compute\"."
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The concise, localized friendly name for the operation; suitable for dropdowns. E.g. \"Create or Update Virtual Machine\", \"Restart Virtual Machine\"."
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized friendly name of the resource type related to this operation. E.g. \"Virtual Machines\" or \"Job Schedule Collections\"."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The short, localized friendly description of the operation; suitable for tool tips and detailed views."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Localized display information for and operation."
      }
    },
    "com.azure.msi#SystemAssignedIdentitiesGetByScope": {
      "type": "operation",
      "input": {
        "target": "com.azure.msi#SystemAssignedIdentitiesGetByScopeRequest"
      },
      "output": {
        "target": "com.azure.msi#SystemAssignedIdentitiesGetByScopeResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{scope}/providers/Microsoft.ManagedIdentity/identities/default",
          "code": 200,
          "apiVersion": "2024-11-30"
        },
        "smithy.api#documentation": "Gets the systemAssignedIdentity available under the specified RP scope.",
        "com.distilled.openapi#apiVersion": "2024-11-30"
      }
    },
    "com.azure.msi#SystemAssignedIdentitiesGetByScopeResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.msi#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.msi#SystemAssignedIdentityProperties",
          "traits": {
            "smithy.api#documentation": "The properties associated with the identity."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.azure.msi#SystemAssignedIdentitiesGetByScopeResponseTagsMap"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.msi#SystemAssignedIdentitiesGetByScopeResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.azure.msi#SystemAssignedIdentityProperties": {
      "type": "structure",
      "members": {
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the tenant which the identity belongs to."
          }
        },
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the service principal object associated with the created identity."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the app associated with the identity. This is a random generated UUID by MSI."
          }
        },
        "clientSecretUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ManagedServiceIdentity DataPlane URL that can be queried to obtain the identity credentials."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties associated with the system assigned identity."
      }
    },
    "com.azure.msi#SystemAssignedIdentitiesGetByScopeRequest": {
      "type": "structure",
      "members": {
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified Azure Resource manager identifier of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.msi#Msi": {
      "type": "service",
      "version": "1.0",
      "operations": [
        {
          "target": "com.azure.msi#FederatedIdentityCredentialsDelete"
        },
        {
          "target": "com.azure.msi#FederatedIdentityCredentialsCreateOrUpdate"
        },
        {
          "target": "com.azure.msi#FederatedIdentityCredentialsGet"
        },
        {
          "target": "com.azure.msi#FederatedIdentityCredentialsList"
        },
        {
          "target": "com.azure.msi#UserAssignedIdentitiesDelete"
        },
        {
          "target": "com.azure.msi#UserAssignedIdentitiesUpdate"
        },
        {
          "target": "com.azure.msi#UserAssignedIdentitiesCreateOrUpdate"
        },
        {
          "target": "com.azure.msi#UserAssignedIdentitiesGet"
        },
        {
          "target": "com.azure.msi#UserAssignedIdentitiesListByResourceGroup"
        },
        {
          "target": "com.azure.msi#UserAssignedIdentitiesListBySubscription"
        },
        {
          "target": "com.azure.msi#OperationsList"
        },
        {
          "target": "com.azure.msi#SystemAssignedIdentitiesGetByScope"
        }
      ],
      "traits": {
        "smithy.api#title": "Azure Msi",
        "smithy.api#documentation": "Azure Msi API — merged from the msi resource-manager specs (latest stable api-version per resource provider)."
      }
    }
  }
}
