{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.mysql#ServersValidateEstimateHighAvailability": {
      "type": "operation",
      "input": {
        "target": "com.azure.mysql#ServersValidateEstimateHighAvailabilityRequest"
      },
      "output": {
        "target": "com.azure.mysql#HighAvailabilityValidationEstimation"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/validateEstimateHighAvailability",
          "code": 200,
          "apiVersion": "2024-12-30"
        },
        "smithy.api#documentation": "Validate a deployment of high availability.",
        "com.distilled.openapi#apiVersion": "2024-12-30"
      }
    },
    "com.azure.mysql#HighAvailabilityValidationEstimation": {
      "type": "structure",
      "members": {
        "estimatedDowntime": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Estimated seconds of downtime for the deployment."
          }
        },
        "scheduledStandbyAvailabilityZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scheduled Availability zone of the standby server."
          }
        },
        "expectedStandbyAvailabilityZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Expected Availability zone of the standby server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "High availability validation properties of a server"
      }
    },
    "com.azure.mysql#ServersValidateEstimateHighAvailabilityRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        },
        "expectedStandbyAvailabilityZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Expected Availability zone of the standby server."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.mysql#BackupAndExportValidateBackup": {
      "type": "operation",
      "input": {
        "target": "com.azure.mysql#BackupAndExportValidateBackupRequest"
      },
      "output": {
        "target": "com.azure.mysql#ValidateBackupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/validateBackup",
          "code": 200,
          "apiVersion": "2024-12-30"
        },
        "smithy.api#documentation": "Validates if backup can be performed for given server.",
        "com.distilled.openapi#apiVersion": "2024-12-30"
      }
    },
    "com.azure.mysql#ValidateBackupResponse": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.azure.mysql#ValidateBackupResponseProperties",
          "traits": {
            "smithy.api#documentation": "The response properties of a pre backup operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents ValidateBackup API Response"
      }
    },
    "com.azure.mysql#ValidateBackupResponseProperties": {
      "type": "structure",
      "members": {
        "numberOfContainers": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Estimated no of storage containers required for resource data to be backed up."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ValidateBackup Response Properties"
      }
    },
    "com.azure.mysql#BackupAndExportValidateBackupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.mysql#ConfigurationsBatchUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.mysql#ConfigurationsBatchUpdateRequest"
      },
      "output": {
        "target": "com.azure.mysql#ConfigurationListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/updateConfigurations",
          "code": 200,
          "apiVersion": "2024-12-30"
        },
        "smithy.api#documentation": "Update a list of configurations in a given server.",
        "com.distilled.openapi#apiVersion": "2024-12-30"
      }
    },
    "com.azure.mysql#ConfigurationListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.mysql#ConfigurationListResultValueList",
          "traits": {
            "smithy.api#documentation": "The Configuration items on this page"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a Configuration list operation."
      }
    },
    "com.azure.mysql#ConfigurationListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.mysql#Configuration"
      },
      "traits": {
        "smithy.api#documentation": "The Configuration items on this page"
      }
    },
    "com.azure.mysql#Configuration": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.mysql#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.mysql#ConfigurationProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Configuration."
      }
    },
    "com.azure.mysql#ConfigurationProperties": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of the configuration."
          }
        },
        "currentValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current value of the configuration."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the configuration."
          }
        },
        "documentationLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link used to get the document from community or Azure site."
          }
        },
        "defaultValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default value of the configuration."
          }
        },
        "dataType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Data type of the configuration."
          }
        },
        "allowedValues": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Allowed values of the configuration."
          }
        },
        "source": {
          "target": "com.azure.mysql#ConfigurationSource",
          "traits": {
            "smithy.api#documentation": "Source of the configuration."
          }
        },
        "isReadOnly": {
          "target": "com.azure.mysql#IsReadOnly",
          "traits": {
            "smithy.api#documentation": "If is the configuration read only."
          }
        },
        "isConfigPendingRestart": {
          "target": "com.azure.mysql#IsConfigPendingRestart",
          "traits": {
            "smithy.api#documentation": "If is the configuration pending restart or not."
          }
        },
        "isDynamicConfig": {
          "target": "com.azure.mysql#IsDynamicConfig",
          "traits": {
            "smithy.api#documentation": "If is the configuration dynamic."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of a configuration."
      }
    },
    "com.azure.mysql#IsDynamicConfig": {
      "type": "enum",
      "members": {
        "TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "True"
          }
        },
        "FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "False"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If is the configuration dynamic."
      }
    },
    "com.azure.mysql#IsConfigPendingRestart": {
      "type": "enum",
      "members": {
        "TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "True"
          }
        },
        "FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "False"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If is the configuration pending restart or not."
      }
    },
    "com.azure.mysql#IsReadOnly": {
      "type": "enum",
      "members": {
        "TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "True"
          }
        },
        "FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "False"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If is the configuration read only."
      }
    },
    "com.azure.mysql#ConfigurationSource": {
      "type": "enum",
      "members": {
        "SYSTEM_DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system-default"
          }
        },
        "USER_OVERRIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user-override"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Source of the configuration."
      }
    },
    "com.azure.mysql#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.mysql#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.mysql#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.mysql#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.mysql#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.mysql#ConfigurationsBatchUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        },
        "value": {
          "target": "com.azure.mysql#ConfigurationsBatchUpdateRequestValueList",
          "traits": {
            "smithy.api#documentation": "The list of server configurations."
          }
        },
        "resetAllToDefault": {
          "target": "com.azure.mysql#ResetAllToDefault",
          "traits": {
            "smithy.api#documentation": "Whether to reset all server parameters to default."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.mysql#ResetAllToDefault": {
      "type": "enum",
      "members": {
        "TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "True"
          }
        },
        "FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "False"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether to reset all server parameters to default."
      }
    },
    "com.azure.mysql#ConfigurationsBatchUpdateRequestValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.mysql#ConfigurationForBatchUpdate"
      },
      "traits": {
        "smithy.api#documentation": "The list of server configurations."
      }
    },
    "com.azure.mysql#ConfigurationForBatchUpdate": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the configuration."
          }
        },
        "properties": {
          "target": "com.azure.mysql#ConfigurationForBatchUpdateProperties",
          "traits": {
            "smithy.api#documentation": "The properties can be updated for a configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a Configuration."
      }
    },
    "com.azure.mysql#ConfigurationForBatchUpdateProperties": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of the configuration."
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source of the configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties can be updated for a configuration."
      }
    },
    "com.azure.mysql#ServersStop": {
      "type": "operation",
      "input": {
        "target": "com.azure.mysql#ServersStopRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/stop",
          "code": 200,
          "apiVersion": "2024-12-30"
        },
        "smithy.api#documentation": "Stops a server.",
        "com.distilled.openapi#apiVersion": "2024-12-30"
      }
    },
    "com.azure.mysql#ServersStopRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.mysql#ServersStart": {
      "type": "operation",
      "input": {
        "target": "com.azure.mysql#ServersStartRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/start",
          "code": 200,
          "apiVersion": "2024-12-30"
        },
        "smithy.api#documentation": "Starts a server.",
        "com.distilled.openapi#apiVersion": "2024-12-30"
      }
    },
    "com.azure.mysql#ServersStartRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.mysql#ServersRestart": {
      "type": "operation",
      "input": {
        "target": "com.azure.mysql#ServersRestartRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/restart",
          "code": 200,
          "apiVersion": "2024-12-30"
        },
        "smithy.api#documentation": "Restarts a server.",
        "com.distilled.openapi#apiVersion": "2024-12-30"
      }
    },
    "com.azure.mysql#ServersRestartRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        },
        "restartWithFailover": {
          "target": "com.azure.mysql#EnableStatusEnum",
          "traits": {
            "smithy.api#documentation": "Whether or not failover to standby server when restarting a server with high availability enabled."
          }
        },
        "maxFailoverSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum allowed failover time in seconds."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.mysql#EnableStatusEnum": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enum to indicate whether value is 'Enabled' or 'Disabled'"
      }
    },
    "com.azure.mysql#ServersResetGtid": {
      "type": "operation",
      "input": {
        "target": "com.azure.mysql#ServersResetGtidRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/resetGtid",
          "code": 200,
          "apiVersion": "2024-12-30"
        },
        "smithy.api#documentation": "Resets GTID on a server.",
        "com.distilled.openapi#apiVersion": "2024-12-30"
      }
    },
    "com.azure.mysql#ServersResetGtidRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        },
        "gtidSet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Gtid set of server."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.mysql#ReplicasListByServer": {
      "type": "operation",
      "input": {
        "target": "com.azure.mysql#ReplicasListByServerRequest"
      },
      "output": {
        "target": "com.azure.mysql#ServerListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/replicas",
          "code": 200,
          "apiVersion": "2024-12-30"
        },
        "smithy.api#documentation": "List all the replicas for a given server.",
        "com.distilled.openapi#apiVersion": "2024-12-30"
      }
    },
    "com.azure.mysql#ServerListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.mysql#ServerListResultValueList",
          "traits": {
            "smithy.api#documentation": "The Server items on this page"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a Server list operation."
      }
    },
    "com.azure.mysql#ServerListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.mysql#Server"
      },
      "traits": {
        "smithy.api#documentation": "The Server items on this page"
      }
    },
    "com.azure.mysql#Server": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.mysql#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.mysql#ServerTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.mysql#ServerProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the server."
          }
        },
        "identity": {
          "target": "com.azure.mysql#MySQLServerIdentity",
          "traits": {
            "smithy.api#documentation": "The cmk identity for the server."
          }
        },
        "sku": {
          "target": "com.azure.mysql#MySQLServerSku",
          "traits": {
            "smithy.api#documentation": "The SKU (pricing tier) of the server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a server."
      }
    },
    "com.azure.mysql#MySQLServerSku": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the sku, e.g. Standard_D32s_v3.",
            "smithy.api#required": {}
          }
        },
        "tier": {
          "target": "com.azure.mysql#ServerSkuTier",
          "traits": {
            "smithy.api#documentation": "The tier of the particular SKU, e.g. GeneralPurpose.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Billing information related properties of a server."
      }
    },
    "com.azure.mysql#ServerSkuTier": {
      "type": "enum",
      "members": {
        "BURSTABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Burstable"
          }
        },
        "GENERALPURPOSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GeneralPurpose"
          }
        },
        "MEMORYOPTIMIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MemoryOptimized"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The tier of the particular SKU, e.g. GeneralPurpose."
      }
    },
    "com.azure.mysql#MySQLServerIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ObjectId from the KeyVault"
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TenantId from the KeyVault"
          }
        },
        "type": {
          "target": "com.azure.mysql#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#documentation": "Type of managed service identity."
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.mysql#MySQLServerIdentityUserAssignedIdentitiesMap",
          "traits": {
            "smithy.api#documentation": "Metadata of user assigned identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties to configure Identity for Bring your Own Keys"
      }
    },
    "com.azure.mysql#MySQLServerIdentityUserAssignedIdentitiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.mysql#UserAssignedIdentity"
      },
      "traits": {
        "smithy.api#documentation": "Metadata of user assigned identity."
      }
    },
    "com.azure.mysql#UserAssignedIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Principal Id of user assigned identity"
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Client Id of user assigned identity"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata of user assigned identity."
      }
    },
    "com.azure.mysql#ManagedServiceIdentityType": {
      "type": "enum",
      "members": {
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of managed service identity."
      }
    },
    "com.azure.mysql#ServerProperties": {
      "type": "structure",
      "members": {
        "administratorLogin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The administrator's login name of a server. Can only be specified when the server is being created (and is required for creation)."
          }
        },
        "administratorLoginPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The password of the administrator login (required for server creation).",
            "smithy.api#sensitive": {}
          }
        },
        "version": {
          "target": "com.azure.mysql#ServerVersion",
          "traits": {
            "smithy.api#documentation": "Major version of MySQL. 8.0.21 stands for MySQL 8.0, 5.7.44 stands for MySQL 5.7"
          }
        },
        "fullVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Major version and actual engine version"
          }
        },
        "availabilityZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "availability Zone information of the server."
          }
        },
        "createMode": {
          "target": "com.azure.mysql#CreateMode",
          "traits": {
            "smithy.api#documentation": "The mode to create a new MySQL server."
          }
        },
        "sourceServerResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source MySQL server id."
          }
        },
        "restorePointInTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Restore point creation time (ISO8601 format), specifying the time to restore from."
          }
        },
        "replicationRole": {
          "target": "com.azure.mysql#ReplicationRole",
          "traits": {
            "smithy.api#documentation": "The replication role."
          }
        },
        "replicaCapacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of replicas that a primary server can have."
          }
        },
        "dataEncryption": {
          "target": "com.azure.mysql#DataEncryption",
          "traits": {
            "smithy.api#documentation": "The Data Encryption for CMK."
          }
        },
        "state": {
          "target": "com.azure.mysql#ServerState",
          "traits": {
            "smithy.api#documentation": "The state of a server."
          }
        },
        "fullyQualifiedDomainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified domain name of a server."
          }
        },
        "databasePort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The server database port. Can only be specified when the server is being created."
          }
        },
        "storage": {
          "target": "com.azure.mysql#Storage",
          "traits": {
            "smithy.api#documentation": "Storage related properties of a server."
          }
        },
        "backup": {
          "target": "com.azure.mysql#Backup",
          "traits": {
            "smithy.api#documentation": "Backup related properties of a server."
          }
        },
        "highAvailability": {
          "target": "com.azure.mysql#HighAvailability",
          "traits": {
            "smithy.api#documentation": "High availability related properties of a server."
          }
        },
        "network": {
          "target": "com.azure.mysql#Network",
          "traits": {
            "smithy.api#documentation": "Network related properties of a server."
          }
        },
        "privateEndpointConnections": {
          "target": "com.azure.mysql#ServerPropertiesPrivateEndpointConnectionsList",
          "traits": {
            "smithy.api#documentation": "PrivateEndpointConnections related properties of a server."
          }
        },
        "maintenancePolicy": {
          "target": "com.azure.mysql#MaintenancePolicy",
          "traits": {
            "smithy.api#documentation": "Maintenance policy of a server."
          }
        },
        "maintenanceWindow": {
          "target": "com.azure.mysql#MaintenanceWindow",
          "traits": {
            "smithy.api#documentation": "Maintenance window of a server. Known issue: cannot be set during server creation or updated with other properties during server update; must be updated separately."
          }
        },
        "importSourceProperties": {
          "target": "com.azure.mysql#ImportSourceProperties",
          "traits": {
            "smithy.api#documentation": "Source properties for import from storage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of a server."
      }
    },
    "com.azure.mysql#ImportSourceProperties": {
      "type": "structure",
      "members": {
        "storageType": {
          "target": "com.azure.mysql#ImportSourceStorageType",
          "traits": {
            "smithy.api#documentation": "Storage type of import source."
          }
        },
        "storageUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uri of the import source storage."
          }
        },
        "sasToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sas token for accessing source storage. Read and list permissions are required for sas token."
          }
        },
        "dataDirPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative path of data directory in storage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Import source related properties."
      }
    },
    "com.azure.mysql#ImportSourceStorageType": {
      "type": "enum",
      "members": {
        "AZUREBLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureBlob"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Storage type of import source."
      }
    },
    "com.azure.mysql#MaintenanceWindow": {
      "type": "structure",
      "members": {
        "customWindow": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "indicates whether custom window is enabled or disabled"
          }
        },
        "startHour": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "start hour for maintenance window"
          }
        },
        "startMinute": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "start minute for maintenance window"
          }
        },
        "dayOfWeek": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "day of week for maintenance window"
          }
        },
        "batchOfMaintenance": {
          "target": "com.azure.mysql#BatchOfMaintenance",
          "traits": {
            "smithy.api#documentation": "The batch of maintenance when enabled the custom managed maintenance window of a server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Maintenance window of a server."
      }
    },
    "com.azure.mysql#BatchOfMaintenance": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Default"
          }
        },
        "BATCH1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Batch1"
          }
        },
        "BATCH2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Batch2"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The batch of maintenance when enabled the custom managed maintenance window of a server."
      }
    },
    "com.azure.mysql#MaintenancePolicy": {
      "type": "structure",
      "members": {
        "patchStrategy": {
          "target": "com.azure.mysql#PatchStrategy",
          "traits": {
            "smithy.api#documentation": "The patch strategy of this server"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Maintenance policy of a server."
      }
    },
    "com.azure.mysql#PatchStrategy": {
      "type": "enum",
      "members": {
        "REGULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Regular"
          }
        },
        "VIRTUALCANARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VirtualCanary"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enum to indicate the patch strategy of a server"
      }
    },
    "com.azure.mysql#ServerPropertiesPrivateEndpointConnectionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.mysql#ServerPropertiesPrivateEndpointConnectionsItem"
      },
      "traits": {
        "smithy.api#documentation": "PrivateEndpointConnections related properties of a server."
      }
    },
    "com.azure.mysql#ServerPropertiesPrivateEndpointConnectionsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.mysql#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.mysql#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint connection resource."
      }
    },
    "com.azure.mysql#PrivateEndpointConnectionProperties": {
      "type": "structure",
      "members": {
        "groupIds": {
          "target": "com.azure.mysql#PrivateEndpointConnectionPropertiesGroupIdsList",
          "traits": {
            "smithy.api#documentation": "The group ids for the private endpoint resource."
          }
        },
        "privateEndpoint": {
          "target": "com.azure.mysql#PrivateEndpoint",
          "traits": {
            "smithy.api#documentation": "The private endpoint resource."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.mysql#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.mysql#PrivateEndpointConnectionProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the private endpoint connection resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the private endpoint connection."
      }
    },
    "com.azure.mysql#PrivateEndpointConnectionProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current provisioning state."
      }
    },
    "com.azure.mysql#PrivateLinkServiceConnectionState": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.mysql#PrivateEndpointServiceConnectionStatus",
          "traits": {
            "smithy.api#documentation": "Indicates whether the connection has been Approved/Rejected/Removed by the owner of the service."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason for approval/rejection of the connection."
          }
        },
        "actionsRequired": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A message indicating if changes on the service provider require any updates on the consumer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider."
      }
    },
    "com.azure.mysql#PrivateEndpointServiceConnectionStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint connection status."
      }
    },
    "com.azure.mysql#PrivateEndpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ARM identifier for private endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint resource."
      }
    },
    "com.azure.mysql#PrivateEndpointConnectionPropertiesGroupIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The group ids for the private endpoint resource."
      }
    },
    "com.azure.mysql#Network": {
      "type": "structure",
      "members": {
        "publicNetworkAccess": {
          "target": "com.azure.mysql#EnableStatusEnum",
          "traits": {
            "smithy.api#documentation": "Whether or not public network access is allowed for this server. Value is 'Disabled' when server has VNet integration."
          }
        },
        "delegatedSubnetResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Delegated subnet resource id used to setup vnet for a server."
          }
        },
        "privateDnsZoneResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Private DNS zone resource id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network related properties of a server"
      }
    },
    "com.azure.mysql#HighAvailability": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.azure.mysql#HighAvailabilityMode",
          "traits": {
            "smithy.api#documentation": "High availability mode for a server."
          }
        },
        "state": {
          "target": "com.azure.mysql#HighAvailabilityState",
          "traits": {
            "smithy.api#documentation": "The state of server high availability."
          }
        },
        "standbyAvailabilityZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Availability zone of the standby server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "High availability properties of a server"
      }
    },
    "com.azure.mysql#HighAvailabilityState": {
      "type": "enum",
      "members": {
        "NOTENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotEnabled"
          }
        },
        "CREATINGSTANDBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreatingStandby"
          }
        },
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Healthy"
          }
        },
        "FAILINGOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FailingOver"
          }
        },
        "REMOVINGSTANDBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RemovingStandby"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of server high availability."
      }
    },
    "com.azure.mysql#HighAvailabilityMode": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        },
        "ZONEREDUNDANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZoneRedundant"
          }
        },
        "SAMEZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SameZone"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "High availability mode for a server."
      }
    },
    "com.azure.mysql#Backup": {
      "type": "structure",
      "members": {
        "backupRetentionDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Backup retention days for the server."
          }
        },
        "backupIntervalHours": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Backup interval hours for the server."
          }
        },
        "geoRedundantBackup": {
          "target": "com.azure.mysql#BackupGeoRedundantBackup",
          "traits": {
            "smithy.api#documentation": "Whether or not geo redundant backup is enabled."
          }
        },
        "earliestRestoreDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Earliest restore point creation time (ISO8601 format)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Storage Profile properties of a server"
      }
    },
    "com.azure.mysql#BackupGeoRedundantBackup": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether or not geo redundant backup is enabled."
      }
    },
    "com.azure.mysql#Storage": {
      "type": "structure",
      "members": {
        "storageSizeGB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Max storage size allowed for a server."
          }
        },
        "iops": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Storage IOPS for a server."
          }
        },
        "autoGrow": {
          "target": "com.azure.mysql#StorageAutoGrow",
          "traits": {
            "smithy.api#documentation": "Enable Storage Auto Grow or not."
          }
        },
        "logOnDisk": {
          "target": "com.azure.mysql#StorageLogOnDisk",
          "traits": {
            "smithy.api#documentation": "Enable Log On Disk or not."
          }
        },
        "storageSku": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sku name of the server storage."
          }
        },
        "autoIoScaling": {
          "target": "com.azure.mysql#StorageAutoIoScaling",
          "traits": {
            "smithy.api#documentation": "Enable IO Auto Scaling or not."
          }
        },
        "storageRedundancy": {
          "target": "com.azure.mysql#StorageStorageRedundancy",
          "traits": {
            "smithy.api#documentation": "The redundant type of the server storage. The parameter is used for server creation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Storage Profile properties of a server"
      }
    },
    "com.azure.mysql#StorageStorageRedundancy": {
      "type": "enum",
      "members": {
        "LOCALREDUNDANCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LocalRedundancy"
          }
        },
        "ZONEREDUNDANCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZoneRedundancy"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The redundant type of the server storage. The parameter is used for server creation."
      }
    },
    "com.azure.mysql#StorageAutoIoScaling": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enable IO Auto Scaling or not."
      }
    },
    "com.azure.mysql#StorageLogOnDisk": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enable Log On Disk or not."
      }
    },
    "com.azure.mysql#StorageAutoGrow": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enable Storage Auto Grow or not."
      }
    },
    "com.azure.mysql#ServerState": {
      "type": "enum",
      "members": {
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ready"
          }
        },
        "DROPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Dropping"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        },
        "STARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Starting"
          }
        },
        "STOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Stopping"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Stopped"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of a server."
      }
    },
    "com.azure.mysql#DataEncryption": {
      "type": "structure",
      "members": {
        "primaryUserAssignedIdentityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Primary user identity resource id"
          }
        },
        "primaryKeyURI": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Primary key uri"
          }
        },
        "geoBackupUserAssignedIdentityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Geo backup user identity resource id as identity can't cross region, need identity in same region as geo backup"
          }
        },
        "geoBackupKeyURI": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Geo backup key uri as key vault can't cross region, need cmk in same region as geo backup"
          }
        },
        "type": {
          "target": "com.azure.mysql#DataEncryptionType",
          "traits": {
            "smithy.api#documentation": "The key type, AzureKeyVault for enable cmk, SystemManaged for disable cmk."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The date encryption for cmk."
      }
    },
    "com.azure.mysql#DataEncryptionType": {
      "type": "enum",
      "members": {
        "AZUREKEYVAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureKeyVault"
          }
        },
        "SYSTEMMANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemManaged"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The key type, AzureKeyVault for enable cmk, SystemManaged for disable cmk."
      }
    },
    "com.azure.mysql#ReplicationRole": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Source"
          }
        },
        "REPLICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Replica"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The replication role."
      }
    },
    "com.azure.mysql#CreateMode": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Default"
          }
        },
        "POINTINTIMERESTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PointInTimeRestore"
          }
        },
        "REPLICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Replica"
          }
        },
        "GEORESTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GeoRestore"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The mode to create a new MySQL server."
      }
    },
    "com.azure.mysql#ServerVersion": {
      "type": "enum",
      "members": {
        "_5_7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "5.7"
          }
        },
        "_8_0_21": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "8.0.21"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The major version of a server. 8.0.21 stands for MySQL 8.0, 5.7.44 stands for MySQL 5.7"
      }
    },
    "com.azure.mysql#ServerTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.mysql#ReplicasListByServerRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.mysql#PrivateLinkResourcesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.mysql#PrivateLinkResourcesGetRequest"
      },
      "output": {
        "target": "com.azure.mysql#PrivateLinkResourcesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/privateLinkResources/{groupName}",
          "code": 200,
          "apiVersion": "2024-12-30"
        },
        "smithy.api#documentation": "Gets a private link resource for MySQL server.",
        "com.distilled.openapi#apiVersion": "2024-12-30"
      }
    },
    "com.azure.mysql#PrivateLinkResourcesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.mysql#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.mysql#PrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.mysql#PrivateLinkResourceProperties": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The private link resource group id."
          }
        },
        "requiredMembers": {
          "target": "com.azure.mysql#PrivateLinkResourcePropertiesRequiredMembersList",
          "traits": {
            "smithy.api#documentation": "The private link resource required member names."
          }
        },
        "requiredZoneNames": {
          "target": "com.azure.mysql#PrivateLinkResourcePropertiesRequiredZoneNamesList",
          "traits": {
            "smithy.api#documentation": "The private link resource private link DNS zone name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a private link resource."
      }
    },
    "com.azure.mysql#PrivateLinkResourcePropertiesRequiredZoneNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The private link resource private link DNS zone name."
      }
    },
    "com.azure.mysql#PrivateLinkResourcePropertiesRequiredMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The private link resource required member names."
      }
    },
    "com.azure.mysql#PrivateLinkResourcesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        },
        "groupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private link resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.mysql#PrivateLinkResourcesListByServer": {
      "type": "operation",
      "input": {
        "target": "com.azure.mysql#PrivateLinkResourcesListByServerRequest"
      },
      "output": {
        "target": "com.azure.mysql#PrivateLinkResourcesListByServerResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/privateLinkResources",
          "code": 200,
          "apiVersion": "2024-12-30"
        },
        "smithy.api#documentation": "Lists the private link resources for MySQL server.",
        "com.distilled.openapi#apiVersion": "2024-12-30"
      }
    },
    "com.azure.mysql#PrivateLinkResourcesListByServerResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.mysql#PrivateLinkResourcesListByServerResponseValueList",
          "traits": {
            "smithy.api#documentation": "Array of private link resources"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.mysql#PrivateLinkResourcesListByServerResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.mysql#PrivateLinkResource"
      },
      "traits": {
        "smithy.api#documentation": "Array of private link resources"
      }
    },
    "com.azure.mysql#PrivateLinkResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.mysql#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.mysql#PrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A private link resource."
      }
    },
    "com.azure.mysql#PrivateLinkResourcesListByServerRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.mysql#PrivateEndpointConnectionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.mysql#PrivateEndpointConnectionsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2024-12-30"
        },
        "smithy.api#documentation": "Deletes a private endpoint connection with a given name.",
        "com.distilled.openapi#apiVersion": "2024-12-30"
      }
    },
    "com.azure.mysql#PrivateEndpointConnectionsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection associated with the Azure resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.mysql#PrivateEndpointConnectionsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.mysql#PrivateEndpointConnectionsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.mysql#PrivateEndpointConnectionsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2024-12-30"
        },
        "smithy.api#documentation": "Approve or reject a private endpoint connection with a given name.",
        "com.distilled.openapi#apiVersion": "2024-12-30"
      }
    },
    "com.azure.mysql#PrivateEndpointConnectionsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.mysql#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.mysql#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.mysql#PrivateEndpointConnectionsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection associated with the Azure resource."
          }
        },
        "properties": {
          "target": "com.azure.mysql#PrivateEndpointConnectionPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.mysql#PrivateEndpointConnectionPropertiesInput": {
      "type": "structure",
      "members": {
        "privateEndpoint": {
          "target": "com.azure.mysql#PrivateEndpointInput",
          "traits": {
            "smithy.api#documentation": "The private endpoint resource."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.mysql#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the private endpoint connection."
      }
    },
    "com.azure.mysql#PrivateEndpointInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The private endpoint resource."
      }
    },
    "com.azure.mysql#PrivateEndpointConnectionsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.mysql#PrivateEndpointConnectionsGetRequest"
      },
      "output": {
        "target": "com.azure.mysql#PrivateEndpointConnectionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2024-12-30"
        },
        "smithy.api#documentation": "Gets a private endpoint connection.",
        "com.distilled.openapi#apiVersion": "2024-12-30"
      }
    },
    "com.azure.mysql#PrivateEndpointConnectionsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.mysql#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.mysql#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.mysql#PrivateEndpointConnectionsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection associated with the Azure resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.mysql#PrivateEndpointConnectionsListByServer": {
      "type": "operation",
      "input": {
        "target": "com.azure.mysql#PrivateEndpointConnectionsListByServerRequest"
      },
      "output": {
        "target": "com.azure.mysql#PrivateEndpointConnectionListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/privateEndpointConnections",
          "code": 200,
          "apiVersion": "2024-12-30"
        },
        "smithy.api#documentation": "Gets all private endpoint connections on a server.",
        "com.distilled.openapi#apiVersion": "2024-12-30"
      }
    },
    "com.azure.mysql#PrivateEndpointConnectionListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.mysql#PrivateEndpointConnectionListResultValueList",
          "traits": {
            "smithy.api#documentation": "The PrivateEndpointConnection items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a PrivateEndpointConnection list operation."
      }
    },
    "com.azure.mysql#PrivateEndpointConnectionListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.mysql#PrivateEndpointConnectionListResultValueItem"
      },
      "traits": {
        "smithy.api#documentation": "The PrivateEndpointConnection items on this page"
      }
    },
    "com.azure.mysql#PrivateEndpointConnectionListResultValueItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.mysql#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.mysql#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint connection resource."
      }
    },
    "com.azure.mysql#PrivateEndpointConnectionsListByServerRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.mysql#MaintenancesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.mysql#MaintenancesUpdateRequest"
      },
      "output": {
        "target": "com.azure.mysql#MaintenancesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/maintenances/{maintenanceName}",
          "code": 200,
          "apiVersion": "2024-12-30"
        },
        "smithy.api#documentation": "Update maintenances.",
        "com.distilled.openapi#apiVersion": "2024-12-30"
      }
    },
    "com.azure.mysql#MaintenancesUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.mysql#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.mysql#MaintenanceProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a maintenance",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.mysql#MaintenanceProperties": {
      "type": "structure",
      "members": {
        "maintenanceType": {
          "target": "com.azure.mysql#MaintenanceType",
          "traits": {
            "smithy.api#documentation": "A string defines maintenance type."
          }
        },
        "maintenanceState": {
          "target": "com.azure.mysql#MaintenanceState",
          "traits": {
            "smithy.api#documentation": "A string describes the maintenance status"
          }
        },
        "maintenanceStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time for a maintenance."
          }
        },
        "maintenanceEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time for a maintenance."
          }
        },
        "maintenanceExecutionStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time for a maintenance execution."
          }
        },
        "maintenanceExecutionEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time for a maintenance execution."
          }
        },
        "maintenanceAvailableScheduleMinTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The min time the maintenance can be rescheduled."
          }
        },
        "maintenanceAvailableScheduleMaxTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The max time the maintenance can be rescheduled."
          }
        },
        "maintenanceTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The maintenance title."
          }
        },
        "maintenanceDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The maintenance description."
          }
        },
        "provisioningState": {
          "target": "com.azure.mysql#MaintenanceProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the Maintenance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of a maintenance resource."
      }
    },
    "com.azure.mysql#MaintenanceProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current provisioning state."
      }
    },
    "com.azure.mysql#MaintenanceState": {
      "type": "enum",
      "members": {
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Scheduled"
          }
        },
        "RESCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReScheduled"
          }
        },
        "INPREPARATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InPreparation"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Processing"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Completed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current status of this maintenance."
      }
    },
    "com.azure.mysql#MaintenanceType": {
      "type": "enum",
      "members": {
        "ROUTINEMAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RoutineMaintenance"
          }
        },
        "MINORVERSIONUPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MinorVersionUpgrade"
          }
        },
        "SECURITYPATCHES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SecurityPatches"
          }
        },
        "HOTFIXES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HotFixes"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of this maintenance."
      }
    },
    "com.azure.mysql#MaintenancesUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        },
        "maintenanceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the maintenance."
          }
        },
        "properties": {
          "target": "com.azure.mysql#MaintenancePropertiesForUpdate",
          "traits": {
            "smithy.api#documentation": "The properties of a maintenance update parameter"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.mysql#MaintenancePropertiesForUpdate": {
      "type": "structure",
      "members": {
        "maintenanceStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time for a maintenance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of a maintenance update parameter."
      }
    },
    "com.azure.mysql#MaintenancesRead": {
      "type": "operation",
      "input": {
        "target": "com.azure.mysql#MaintenancesReadRequest"
      },
      "output": {
        "target": "com.azure.mysql#MaintenancesReadResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/maintenances/{maintenanceName}",
          "code": 200,
          "apiVersion": "2024-12-30"
        },
        "smithy.api#documentation": "Read maintenance.",
        "com.distilled.openapi#apiVersion": "2024-12-30"
      }
    },
    "com.azure.mysql#MaintenancesReadResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
[...]
