{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.netapp#VolumeGroupsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.netapp#VolumeGroupsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/volumeGroups/{volumeGroupName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Delete the specified volume group only if there are no volumes under volume group.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.netapp#VolumeGroupsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the NetApp account"
          }
        },
        "volumeGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the volumeGroup"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.netapp#VolumeGroupsCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.netapp#VolumeGroupsCreateRequest"
      },
      "output": {
        "target": "com.azure.netapp#VolumeGroupsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/volumeGroups/{volumeGroupName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Create a volume group along with specified volumes",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.netapp#VolumeGroupsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.netapp#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.netapp#VolumeGroupProperties",
          "traits": {
            "smithy.api#documentation": "Volume group properties"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource location"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.netapp#VolumeGroupProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure lifecycle management"
          }
        },
        "groupMetaData": {
          "target": "com.azure.netapp#VolumeGroupMetaData",
          "traits": {
            "smithy.api#documentation": "Volume group details"
          }
        },
        "volumes": {
          "target": "com.azure.netapp#VolumeGroupPropertiesVolumesList",
          "traits": {
            "smithy.api#documentation": "List of volumes from group"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Volume group properties"
      }
    },
    "com.azure.netapp#VolumeGroupPropertiesVolumesList": {
      "type": "list",
      "member": {
        "target": "com.azure.netapp#VolumeGroupVolumeProperties"
      },
      "traits": {
        "smithy.api#documentation": "List of volumes from group"
      }
    },
    "com.azure.netapp#VolumeGroupVolumeProperties": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Id"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type"
          }
        },
        "tags": {
          "target": "com.azure.netapp#VolumeGroupVolumePropertiesTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags"
          }
        },
        "zones": {
          "target": "com.azure.netapp#VolumeGroupVolumePropertiesZonesList",
          "traits": {
            "smithy.api#documentation": "Availability Zone"
          }
        },
        "properties": {
          "target": "com.azure.netapp#VolumeProperties",
          "traits": {
            "smithy.api#documentation": "Volume properties",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Volume resource"
      }
    },
    "com.azure.netapp#VolumeProperties": {
      "type": "structure",
      "members": {
        "fileSystemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique FileSystem Identifier."
          }
        },
        "creationToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique file path for the volume. Used when creating mount targets",
            "smithy.api#required": {}
          }
        },
        "serviceLevel": {
          "target": "com.azure.netapp#VolumePropertiesServiceLevel",
          "traits": {
            "smithy.api#documentation": "The service level of the file system"
          }
        },
        "usageThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum storage quota allowed for a file system in bytes. This is a soft quota used for alerting only. For regular volumes, valid values are in the range 50GiB to 100TiB. For large volumes, valid values are in the range 100TiB to 500TiB, and on an exceptional basis, from to 2400GiB to 2400TiB. Values expressed in bytes as multiples of 1 GiB.",
            "smithy.api#required": {}
          }
        },
        "exportPolicy": {
          "target": "com.azure.netapp#VolumePropertiesExportPolicy",
          "traits": {
            "smithy.api#documentation": "Set of export policy rules"
          }
        },
        "protocolTypes": {
          "target": "com.azure.netapp#VolumePropertiesProtocolTypesList",
          "traits": {
            "smithy.api#documentation": "Set of protocol types, default NFSv3, CIFS for SMB protocol"
          }
        },
        "provisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure lifecycle management"
          }
        },
        "snapshotId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource identifier used to identify the Snapshot.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "deleteBaseSnapshot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If enabled (true) the snapshot the volume was created from will be automatically deleted after the volume create operation has finished.  Defaults to false"
          }
        },
        "backupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource identifier used to identify the Backup.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "baremetalTenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique Baremetal Tenant Identifier."
          }
        },
        "subnetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Azure Resource URI for a delegated subnet. Must have the delegation Microsoft.NetApp/volumes",
            "smithy.api#required": {}
          }
        },
        "networkFeatures": {
          "target": "com.azure.netapp#VolumePropertiesNetworkFeatures",
          "traits": {
            "smithy.api#documentation": "The original value of the network features type available to the volume at the time it was created."
          }
        },
        "effectiveNetworkFeatures": {
          "target": "com.azure.netapp#VolumePropertiesEffectiveNetworkFeatures",
          "traits": {
            "smithy.api#documentation": "The effective value of the network features type available to the volume, or current effective state of update."
          }
        },
        "networkSiblingSetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Network Sibling Set ID for the the group of volumes sharing networking resources."
          }
        },
        "storageToNetworkProximity": {
          "target": "com.azure.netapp#VolumeStorageToNetworkProximity",
          "traits": {
            "smithy.api#documentation": "Provides storage to network proximity information for the volume."
          }
        },
        "mountTargets": {
          "target": "com.azure.netapp#VolumePropertiesMountTargetsList",
          "traits": {
            "smithy.api#documentation": "List of mount targets"
          }
        },
        "volumeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What type of volume is this. For destination volumes in Cross Region Replication, set type to DataProtection. For creating clone volume, set type to ShortTermClone"
          }
        },
        "dataProtection": {
          "target": "com.azure.netapp#VolumePropertiesDataProtection",
          "traits": {
            "smithy.api#documentation": "DataProtection type volumes include an object containing details of the replication"
          }
        },
        "acceptGrowCapacityPoolForShortTermCloneSplit": {
          "target": "com.azure.netapp#AcceptGrowCapacityPoolForShortTermCloneSplit",
          "traits": {
            "smithy.api#documentation": "While auto splitting the short term clone volume, if the parent pool does not have enough space to accommodate the volume after split, it will be automatically resized, which will lead to increased billing. To accept capacity pool size auto grow and create a short term clone volume, set the property as accepted."
          }
        },
        "isRestoring": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Restoring"
          }
        },
        "snapshotDirectoryVisible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If enabled (true) the volume will contain a read-only snapshot directory which provides access to each of the volume's snapshots (defaults to true)."
          }
        },
        "kerberosEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Describe if a volume is KerberosEnabled. To be use with swagger version 2020-05-01 or later"
          }
        },
        "securityStyle": {
          "target": "com.azure.netapp#VolumePropertiesSecurityStyle",
          "traits": {
            "smithy.api#documentation": "The security style of volume, default unix, defaults to ntfs for dual protocol or CIFS protocol"
          }
        },
        "smbEncryption": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables encryption for in-flight smb3 data. Only applicable for SMB/DualProtocol volume. To be used with swagger version 2020-08-01 or later"
          }
        },
        "smbAccessBasedEnumeration": {
          "target": "com.azure.netapp#SmbAccessBasedEnumeration",
          "traits": {
            "smithy.api#documentation": "Enables access-based enumeration share property for SMB Shares. Only applicable for SMB/DualProtocol volume",
            "com.distilled.openapi#nullable": {}
          }
        },
        "smbNonBrowsable": {
          "target": "com.azure.netapp#SmbNonBrowsable",
          "traits": {
            "smithy.api#documentation": "Enables non-browsable property for SMB Shares. Only applicable for SMB/DualProtocol volume"
          }
        },
        "smbContinuouslyAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables continuously available share property for smb volume. Only applicable for SMB volume"
          }
        },
        "throughputMibps": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum throughput in MiB/s that can be achieved by this volume and this will be accepted as input only for manual qosType volume",
            "com.distilled.openapi#nullable": {}
          }
        },
        "actualThroughputMibps": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Actual throughput in MiB/s for auto qosType volumes calculated based on size and serviceLevel"
          }
        },
        "encryptionKeySource": {
          "target": "com.azure.netapp#VolumePropertiesEncryptionKeySource",
          "traits": {
            "smithy.api#documentation": "Source of key used to encrypt data in volume. Applicable if NetApp account has encryption.keySource = 'Microsoft.KeyVault'. Possible values (case-insensitive) are: 'Microsoft.NetApp, Microsoft.KeyVault'"
          }
        },
        "keyVaultPrivateEndpointResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID of private endpoint for KeyVault. It must reside in the same VNET as the volume. Only applicable if encryptionKeySource = 'Microsoft.KeyVault'."
          }
        },
        "ldapEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether LDAP is enabled or not for a given NFS volume."
          }
        },
        "coolAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether Cool Access(tiering) is enabled for the volume."
          }
        },
        "coolnessPeriod": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the number of days after which data that is not accessed by clients will be tiered."
          }
        },
        "coolAccessRetrievalPolicy": {
          "target": "com.azure.netapp#CoolAccessRetrievalPolicy",
          "traits": {
            "smithy.api#documentation": "coolAccessRetrievalPolicy determines the data retrieval behavior from the cool tier to standard storage based on the read pattern for cool access enabled volumes. The possible values for this field are:\nDefault - Data will be pulled from cool tier to standard storage on random reads. This policy is the default.\nOnRead - All client-driven data read is pulled from cool tier to standard storage on both sequential and random reads.\nNever - No client-driven data is pulled from cool tier to standard storage."
          }
        },
        "coolAccessTieringPolicy": {
          "target": "com.azure.netapp#CoolAccessTieringPolicy",
          "traits": {
            "smithy.api#documentation": "coolAccessTieringPolicy determines which cold data blocks are moved to cool tier. The possible values for this field are: Auto - Moves cold user data blocks in both the Snapshot copies and the active file system to the cool tier tier. This policy is the default. SnapshotOnly - Moves user data blocks of the Volume Snapshot copies that are not associated with the active file system to the cool tier."
          }
        },
        "unixPermissions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UNIX permissions for NFS volume accepted in octal 4 digit format. First digit selects the set user ID(4), set group ID (2) and sticky (1) attributes. Second digit selects permission for the owner of the file: read (4), write (2) and execute (1). Third selects permissions for other users in the same group. the fourth for other users not in the group. 0755 - gives read/write/execute permissions to owner and read/execute to group and other users.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "cloneProgress": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "When a volume is being restored from another volume's snapshot, will show the percentage completion of this cloning process. When this value is empty/null there is no cloning process currently happening on this volume. This value will update every 5 minutes during cloning.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "fileAccessLogs": {
          "target": "com.azure.netapp#VolumePropertiesFileAccessLogs",
          "traits": {
            "smithy.api#documentation": "Flag indicating whether file access logs are enabled for the volume, based on active diagnostic settings present on the volume."
          }
        },
        "avsDataStore": {
          "target": "com.azure.netapp#VolumePropertiesAvsDataStore",
          "traits": {
            "smithy.api#documentation": "Specifies whether the volume is enabled for Azure VMware Solution (AVS) datastore purpose"
          }
        },
        "dataStoreResourceId": {
          "target": "com.azure.netapp#VolumePropertiesDataStoreResourceIdList",
          "traits": {
            "smithy.api#documentation": "Data store resource unique identifier"
          }
        },
        "isDefaultQuotaEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies if default quota is enabled for the volume."
          }
        },
        "defaultUserQuotaInKiBs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Default user quota for volume in KiBs. If isDefaultQuotaEnabled is set, the minimum value of 4 KiBs applies ."
          }
        },
        "defaultGroupQuotaInKiBs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Default group quota for volume in KiBs. If isDefaultQuotaEnabled is set, the minimum value of 4 KiBs applies."
          }
        },
        "maximumNumberOfFiles": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of files allowed. Needs a service request in order to be changed. Only allowed to be changed if volume quota is more than 4TiB."
          }
        },
        "volumeGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Volume Group Name"
          }
        },
        "capacityPoolResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pool Resource Id used in case of creating a volume through volume group"
          }
        },
        "proximityPlacementGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Proximity placement group associated with the volume"
          }
        },
        "t2Network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "T2 network information"
          }
        },
        "volumeSpecName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Volume spec name is the application specific designation or identifier for the particular volume in a volume group for e.g. data, log"
          }
        },
        "encrypted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies if the volume is encrypted or not. Only available on volumes created or updated after 2022-01-01."
          }
        },
        "placementRules": {
          "target": "com.azure.netapp#VolumePropertiesPlacementRulesList",
          "traits": {
            "smithy.api#documentation": "Application specific placement rules for the particular volume"
          }
        },
        "enableSubvolumes": {
          "target": "com.azure.netapp#VolumePropertiesEnableSubvolumes",
          "traits": {
            "smithy.api#documentation": "Flag indicating whether subvolume operations are enabled on the volume"
          }
        },
        "provisionedAvailabilityZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The availability zone where the volume is provisioned. This refers to the logical availability zone where the volume resides.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "isLargeVolume": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether volume is a Large Volume or Regular Volume."
          }
        },
        "originatingResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the snapshot or backup that the volume is restored from.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "inheritedSizeInBytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Space shared by short term clone volume with parent volume in bytes.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Volume properties"
      }
    },
    "com.azure.netapp#VolumePropertiesEnableSubvolumes": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Flag indicating whether subvolume operations are enabled on the volume"
      }
    },
    "com.azure.netapp#VolumePropertiesPlacementRulesList": {
      "type": "list",
      "member": {
        "target": "com.azure.netapp#PlacementKeyValuePairs"
      },
      "traits": {
        "smithy.api#documentation": "Application specific placement rules for the particular volume"
      }
    },
    "com.azure.netapp#PlacementKeyValuePairs": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key for an application specific parameter for the placement of volumes in the volume group",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value for an application specific parameter for the placement of volumes in the volume group",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Application specific parameters for the placement of volumes in the volume group"
      }
    },
    "com.azure.netapp#VolumePropertiesDataStoreResourceIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Data store resource unique identifier"
      }
    },
    "com.azure.netapp#VolumePropertiesAvsDataStore": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies whether the volume is enabled for Azure VMware Solution (AVS) datastore purpose"
      }
    },
    "com.azure.netapp#VolumePropertiesFileAccessLogs": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Flag indicating whether file access logs are enabled for the volume, based on active diagnostic settings present on the volume."
      }
    },
    "com.azure.netapp#CoolAccessTieringPolicy": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Auto"
          }
        },
        "SNAPSHOTONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SnapshotOnly"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "coolAccessTieringPolicy determines which cold data blocks are moved to cool tier. The possible values for this field are: Auto - Moves cold user data blocks in both the Snapshot copies and the active file system to the cool tier tier. This policy is the default. SnapshotOnly - Moves user data blocks of the Volume Snapshot copies that are not associated with the active file system to the cool tier."
      }
    },
    "com.azure.netapp#CoolAccessRetrievalPolicy": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Default"
          }
        },
        "ONREAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OnRead"
          }
        },
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Never"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "coolAccessRetrievalPolicy determines the data retrieval behavior from the cool tier to standard storage based on the read pattern for cool access enabled volumes. The possible values for this field are:\nDefault - Data will be pulled from cool tier to standard storage on random reads. This policy is the default.\nOnRead - All client-driven data read is pulled from cool tier to standard storage on both sequential and random reads.\nNever - No client-driven data is pulled from cool tier to standard storage."
      }
    },
    "com.azure.netapp#VolumePropertiesEncryptionKeySource": {
      "type": "enum",
      "members": {
        "MICROSOFT_NETAPP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Microsoft.NetApp"
          }
        },
        "MICROSOFT_KEYVAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Microsoft.KeyVault"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Source of key used to encrypt data in volume. Applicable if NetApp account has encryption.keySource = 'Microsoft.KeyVault'. Possible values (case-insensitive) are: 'Microsoft.NetApp, Microsoft.KeyVault'"
      }
    },
    "com.azure.netapp#SmbNonBrowsable": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enables non-browsable property for SMB Shares. Only applicable for SMB/DualProtocol volume"
      }
    },
    "com.azure.netapp#SmbAccessBasedEnumeration": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enables access-based enumeration share property for SMB Shares. Only applicable for SMB/DualProtocol volume"
      }
    },
    "com.azure.netapp#VolumePropertiesSecurityStyle": {
      "type": "enum",
      "members": {
        "NTFS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ntfs"
          }
        },
        "UNIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unix"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The security style of volume, default unix, defaults to ntfs for dual protocol or CIFS protocol"
      }
    },
    "com.azure.netapp#AcceptGrowCapacityPoolForShortTermCloneSplit": {
      "type": "enum",
      "members": {
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "DECLINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Declined"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "While auto splitting the short term clone volume, if the parent pool does not have enough space to accommodate the volume after split, it will be automatically resized, which will lead to increased billing. To accept capacity pool size auto grow and create a short term clone volume, set the property as accepted."
      }
    },
    "com.azure.netapp#VolumePropertiesDataProtection": {
      "type": "structure",
      "members": {
        "backup": {
          "target": "com.azure.netapp#VolumeBackupProperties",
          "traits": {
            "smithy.api#documentation": "Backup Properties"
          }
        },
        "replication": {
          "target": "com.azure.netapp#ReplicationObject",
          "traits": {
            "smithy.api#documentation": "Replication properties"
          }
        },
        "snapshot": {
          "target": "com.azure.netapp#VolumeSnapshotProperties",
          "traits": {
            "smithy.api#documentation": "Snapshot properties."
          }
        },
        "volumeRelocation": {
          "target": "com.azure.netapp#VolumeRelocationProperties",
          "traits": {
            "smithy.api#documentation": "VolumeRelocation properties"
          }
        },
        "ransomwareProtection": {
          "target": "com.azure.netapp#RansomwareProtectionSettings",
          "traits": {
            "smithy.api#documentation": "Advanced Ransomware Protection settings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DataProtection type volumes include an object containing details of the replication"
      }
    },
    "com.azure.netapp#RansomwareProtectionSettings": {
      "type": "structure",
      "members": {
        "desiredRansomwareProtectionState": {
          "target": "com.azure.netapp#DesiredRansomwareProtectionState",
          "traits": {
            "smithy.api#documentation": "The desired value of the Advanced Ransomware Protection feature state available to the volume"
          }
        },
        "actualRansomwareProtectionState": {
          "target": "com.azure.netapp#ActualRansomwareProtectionState",
          "traits": {
            "smithy.api#documentation": "The actual state of the Advanced Ransomware Protection feature currently active on the volume"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Advanced Ransomware Protection reports (ARP) settings"
      }
    },
    "com.azure.netapp#ActualRansomwareProtectionState": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "LEARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Learning"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Paused"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The actual state of the Advanced Ransomware Protection feature"
      }
    },
    "com.azure.netapp#DesiredRansomwareProtectionState": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The desired state of the Advanced Ransomware Protection feature"
      }
    },
    "com.azure.netapp#VolumeRelocationProperties": {
      "type": "structure",
      "members": {
        "relocationRequested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Has relocation been requested for this volume"
          }
        },
        "readyToBeFinalized": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Has relocation finished and is ready to be cleaned up"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Volume relocation properties"
      }
    },
    "com.azure.netapp#VolumeSnapshotProperties": {
      "type": "structure",
      "members": {
        "snapshotPolicyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Snapshot Policy ResourceId"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Volume Snapshot Properties"
      }
    },
    "com.azure.netapp#ReplicationObject": {
      "type": "structure",
      "members": {
        "replicationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id"
          }
        },
        "endpointType": {
          "target": "com.azure.netapp#EndpointType",
          "traits": {
            "smithy.api#documentation": "Indicates whether the local volume is the source or destination for the Volume Replication"
          }
        },
        "replicationSchedule": {
          "target": "com.azure.netapp#ReplicationSchedule",
          "traits": {
            "smithy.api#documentation": "Schedule"
          }
        },
        "remoteVolumeResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID of the remote volume. Required for cross region and cross zone replication"
          }
        },
        "remotePath": {
          "target": "com.azure.netapp#RemotePath",
          "traits": {
            "smithy.api#documentation": "The full path to a volume that is to be migrated into ANF. Required for Migration volumes"
          }
        },
        "remoteVolumeRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The remote region for the other end of the Volume Replication."
          }
        },
        "destinationReplications": {
          "target": "com.azure.netapp#ReplicationObjectDestinationReplicationsList",
          "traits": {
            "smithy.api#documentation": "A list of destination replications"
          }
        },
        "externalReplicationSetupStatus": {
          "target": "com.azure.netapp#ExternalReplicationSetupStatus",
          "traits": {
            "smithy.api#documentation": "Property that only applies to external replications. Provides a machine-readable value for the status of the external replication setup."
          }
        },
        "externalReplicationSetupInfo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Contains human-readable instructions on what the next step is to finish the external replication setup."
          }
        },
        "mirrorState": {
          "target": "com.azure.netapp#MirrorState",
          "traits": {
            "smithy.api#documentation": "The mirror state property describes the current status of data replication for a replication. It provides insight into whether the data is actively being mirrored, if the replication process has been paused, or if it has yet to be initialized."
          }
        },
        "relationshipStatus": {
          "target": "com.azure.netapp#VolumeReplicationRelationshipStatus",
          "traits": {
            "smithy.api#documentation": "The status of the Volume Replication"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Replication properties"
      }
    },
    "com.azure.netapp#VolumeReplicationRelationshipStatus": {
      "type": "enum",
      "members": {
        "IDLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Idle"
          }
        },
        "TRANSFERRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Transferring"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the volume replication relationship"
      }
    },
    "com.azure.netapp#MirrorState": {
      "type": "enum",
      "members": {
        "UNINITIALIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Uninitialized"
          }
        },
        "MIRRORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Mirrored"
          }
        },
        "BROKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Broken"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the replication"
      }
    },
    "com.azure.netapp#ExternalReplicationSetupStatus": {
      "type": "enum",
      "members": {
        "CLUSTERPEERREQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ClusterPeerRequired"
          }
        },
        "CLUSTERPEERPENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ClusterPeerPending"
          }
        },
        "VSERVERPEERREQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VServerPeerRequired"
          }
        },
        "REPLICATIONCREATEREQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReplicationCreateRequired"
          }
        },
        "NOACTIONREQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NoActionRequired"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Property that only applies to external replications. Provides a machine-readable value for the status of the external replication setup."
      }
    },
    "com.azure.netapp#ReplicationObjectDestinationReplicationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.netapp#DestinationReplication"
      },
      "traits": {
        "smithy.api#documentation": "A list of destination replications"
      }
    },
    "com.azure.netapp#DestinationReplication": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID of the remote volume"
          }
        },
        "replicationType": {
          "target": "com.azure.netapp#ReplicationType",
          "traits": {
            "smithy.api#documentation": "Indicates whether the replication is cross zone or cross region."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The remote region for the destination volume."
          }
        },
        "zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The remote zone for the destination volume."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Destination replication properties"
      }
    },
    "com.azure.netapp#ReplicationType": {
      "type": "enum",
      "members": {
        "CROSSREGIONREPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CrossRegionReplication"
          }
        },
        "CROSSZONEREPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CrossZoneReplication"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates whether the replication is cross zone or cross region."
      }
    },
    "com.azure.netapp#RemotePath": {
      "type": "structure",
      "members": {
        "externalHostName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Path to a ONTAP Host",
            "smithy.api#required": {}
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of a server on the ONTAP Host",
            "smithy.api#required": {}
          }
        },
        "volumeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of a volume on the server",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The full path to a volume that is to be migrated into ANF. Required for Migration volumes"
      }
    },
    "com.azure.netapp#ReplicationSchedule": {
      "type": "enum",
      "members": {
        "_10MINUTELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "_10minutely"
          }
        },
        "HOURLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hourly"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "daily"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Schedule"
      }
    },
    "com.azure.netapp#EndpointType": {
      "type": "enum",
      "members": {
        "SRC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "src"
          }
        },
        "DST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dst"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates whether the local volume is the source or destination for the Volume Replication"
      }
    },
    "com.azure.netapp#VolumeBackupProperties": {
      "type": "structure",
      "members": {
        "backupPolicyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Backup Policy Resource ID"
          }
        },
        "policyEnforced": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Policy Enforced"
          }
        },
        "backupVaultId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Backup Vault Resource ID"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Volume Backup Properties"
      }
    },
    "com.azure.netapp#VolumePropertiesMountTargetsList": {
      "type": "list",
      "member": {
        "target": "com.azure.netapp#MountTargetProperties"
      },
      "traits": {
        "smithy.api#documentation": "List of mount targets"
      }
    },
    "com.azure.netapp#MountTargetProperties": {
      "type": "structure",
      "members": {
        "mountTargetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID v4 used to identify the MountTarget"
          }
        },
        "fileSystemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID v4 used to identify the MountTarget",
            "smithy.api#required": {}
          }
        },
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The mount target's IPv4 address"
          }
        },
        "smbServerFqdn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SMB server's Fully Qualified Domain Name, FQDN"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mount target properties"
      }
    },
    "com.azure.netapp#VolumeStorageToNetworkProximity": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Default"
          }
        },
        "T1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "T1"
          }
        },
        "T2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "T2"
          }
        },
        "ACROSST2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AcrossT2"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides storage to network proximity information for the volume."
      }
    },
    "com.azure.netapp#VolumePropertiesEffectiveNetworkFeatures": {
      "type": "enum",
      "members": {
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Basic"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "BASIC_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Basic_Standard"
          }
        },
        "STANDARD_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_Basic"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The effective value of the network features type available to the volume, or current effective state of update."
      }
    },
    "com.azure.netapp#VolumePropertiesNetworkFeatures": {
      "type": "enum",
      "members": {
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Basic"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "BASIC_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Basic_Standard"
          }
        },
        "STANDARD_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_Basic"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The original value of the network features type available to the volume at the time it was created."
      }
    },
    "com.azure.netapp#VolumePropertiesProtocolTypesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Set of protocol types, default NFSv3, CIFS for SMB protocol"
      }
    },
    "com.azure.netapp#VolumePropertiesExportPolicy": {
      "type": "structure",
      "members": {
        "rules": {
          "target": "com.azure.netapp#VolumePropertiesExportPolicyRulesList",
          "traits": {
            "smithy.api#documentation": "Export policy rule"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Set of export policy rules"
      }
    },
    "com.azure.netapp#VolumePropertiesExportPolicyRulesList": {
      "type": "list",
      "member": {
        "target": "com.azure.netapp#ExportPolicyRule"
      },
      "traits": {
        "smithy.api#documentation": "Export policy rule"
      }
    },
    "com.azure.netapp#ExportPolicyRule": {
      "type": "structure",
      "members": {
        "ruleIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Order index"
          }
        },
        "unixReadOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Read only access"
          }
        },
        "unixReadWrite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Read and write access"
          }
        },
        "kerberos5ReadOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Kerberos5 Read only access. To be use with swagger version 2020-05-01 or later"
          }
        },
        "kerberos5ReadWrite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Kerberos5 Read and write access. To be use with swagger version 2020-05-01 or later"
          }
        },
        "kerberos5iReadOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Kerberos5i Read only access. To be use with swagger version 2020-05-01 or later"
          }
        },
        "kerberos5iReadWrite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Kerberos5i Read and write access. To be use with swagger version 2020-05-01 or later"
          }
        },
        "kerberos5pReadOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Kerberos5p Read only access. To be use with swagger version 2020-05-01 or later"
          }
        },
        "kerberos5pReadWrite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Kerberos5p Read and write access. To be use with swagger version 2020-05-01 or later"
          }
        },
        "cifs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allows CIFS protocol"
          }
        },
        "nfsv3": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allows NFSv3 protocol. Enable only for NFSv3 type volumes"
          }
        },
        "nfsv41": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allows NFSv4.1 protocol. Enable only for NFSv4.1 type volumes"
          }
        },
        "allowedClients": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Client ingress specification as comma separated string with IPv4 CIDRs, IPv4 host addresses and host names"
          }
        },
        "hasRootAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Has root access to volume"
          }
        },
        "chownMode": {
          "target": "com.azure.netapp#ExportPolicyRuleChownMode",
          "traits": {
            "smithy.api#documentation": "This parameter specifies who is authorized to change the ownership of a file. restricted - Only root user can change the ownership of the file. unrestricted - Non-root users can change ownership of files that they own."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Volume Export Policy Rule"
      }
    },
    "com.azure.netapp#ExportPolicyRuleChownMode": {
      "type": "enum",
      "members": {
        "RESTRICTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Restricted"
          }
        },
        "UNRESTRICTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unrestricted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This parameter specifies who is authorized to change the ownership of a file. restricted - Only root user can change the ownership of the file. unrestricted - Non-root users can change ownership of files that they own."
      }
    },
    "com.azure.netapp#VolumePropertiesServiceLevel": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Premium"
          }
        },
        "ULTRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ultra"
          }
        },
        "STANDARDZRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "StandardZRS"
          }
        },
        "FLEXIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Flexible"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The service level of the file system"
      }
    },
    "com.azure.netapp#VolumeGroupVolumePropertiesZonesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Availability Zone"
      }
    },
    "com.azure.netapp#VolumeGroupVolumePropertiesTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags"
      }
    },
    "com.azure.netapp#VolumeGroupMetaData": {
      "type": "structure",
      "members": {
        "groupDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Group Description"
          }
        },
        "applicationType": {
          "target": "com.azure.netapp#ApplicationType",
          "traits": {
            "smithy.api#documentation": "Application Type"
          }
        },
        "applicationIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Application specific identifier"
          }
        },
        "globalPlacementRules": {
          "target": "com.azure.netapp#VolumeGroupMetaDataGlobalPlacementRulesList",
          "traits": {
            "smithy.api#documentation": "Application specific placement rules for the volume group"
          }
        },
        "volumesCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of volumes in volume group"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Volume group properties"
      }
    },
    "com.azure.netapp#VolumeGroupMetaDataGlobalPlacementRulesList": {
      "type": "list",
      "member": {
        "target": "com.azure.netapp#PlacementKeyValuePairs"
      },
      "traits": {
        "smithy.api#documentation": "Application specific placement rules for the volume group"
      }
    },
    "com.azure.netapp#ApplicationType": {
      "type": "enum",
      "members": {
        "SAP_HANA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAP-HANA"
          }
        },
        "ORACLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORACLE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Application Type"
      }
    },
    "com.azure.netapp#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.netapp#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.netapp#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.netapp#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.netapp#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.netapp#VolumeGroupsCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the NetApp account"
          }
        },
        "volumeGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the volumeGroup"
          }
        },
        "properties": {
          "target": "com.azure.netapp#VolumeGroupPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Volume group properties"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource location"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.netapp#VolumeGroupPropertiesInput": {
      "type": "structure",
      "members": {
        "groupMetaData": {
          "target": "com.azure.netapp#VolumeGroupMetaDataInput",
          "traits": {
            "smithy.api#documentation": "Volume group details"
          }
        },
        "volumes": {
          "target": "com.azure.netapp#VolumeGroupPropertiesInputVolumesList",
          "traits": {
            "smithy.api#documentation": "List of volumes from group"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Volume group properties"
      }
    },
    "com.azure.netapp#VolumeGroupPropertiesInputVolumesList": {
      "type": "list",
      "member": {
        "target": "com.azure.netapp#VolumeGroupVolumePropertiesInput"
      },
      "traits": {
        "smithy.api#documentation": "List of volumes from group"
      }
    },
    "com.azure.netapp#VolumeGroupVolumePropertiesInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name"
          }
        },
        "tags": {
          "target": "com.azure.netapp#VolumeGroupVolumePropertiesInputTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags"
          }
        },
        "zones": {
          "target": "com.azure.netapp#VolumeGroupVolumePropertiesInputZonesList",
          "traits": {
            "smithy.api#documentation": "Availability Zone"
          }
        },
        "properties": {
          "target": "com.azure.netapp#VolumePropertiesInput",
          "traits": {
            "smithy.api#documentation": "Volume properties",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Volume resource"
      }
    },
    "com.azure.netapp#VolumePropertiesInput": {
      "type": "structure",
      "members": {
        "creationToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique file path for the volume. Used when creating mount targets",
            "smithy.api#required": {}
          }
        },
        "serviceLevel": {
          "target": "com.azure.netapp#VolumePropertiesInputServiceLevel",
          "traits": {
            "smithy.api#documentation": "The service level of the file system"
          }
        },
        "usageThreshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum storage quota allowed for a file system in bytes. This is a soft quota used for alerting only. For regular volumes, valid values are in the range 50GiB to 100TiB. For large volumes, valid values are in the range 100TiB to 500TiB, and on an exceptional basis, from to 2400GiB to 2400TiB. Values expressed in bytes as multiples of 1 GiB.",
            "smithy.api#required": {}
          }
        },
        "exportPolicy": {
          "target": "com.azure.netapp#VolumePropertiesExportPolicy",
          "traits": {
            "smithy.api#documentation": "Set of export policy rules"
          }
        },
        "protocolTypes": {
          "target": "com.azure.netapp#VolumePropertiesInputProtocolTypesList",
          "traits": {
            "smithy.api#documentation": "Set of protocol types, default NFSv3, CIFS for SMB protocol"
          }
        },
        "snapshotId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource identifier used to identify the Snapshot.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "deleteBaseSnapshot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If enabled (true) the snapshot the volume was created from will be automatically deleted after the volume create operation has finished.  Defaults to false"
          }
        },
        "backupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource identifier used to identify the Backup.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "subnetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Azure Resource URI for a delegated subnet. Must have the delegation Microsoft.NetApp/volumes",
            "smithy.api#required": {}
          }
        },
        "networkFeatures": {
          "target": "com.azure.netapp#VolumePropertiesInputNetworkFeatures",
          "traits": {
            "smithy.api#documentation": "The original value of the network features type available to the volume at the time it was created."
          }
        },
        "volumeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What type of volume is this. For destination volumes in Cross Region Replication, set type to DataProtection. For creating clone volume, set type to ShortTermClone"
          }
        },
        "dataProtection": {
          "target": "com.azure.netapp#VolumePropertiesDataProtectionInput",
          "traits": {
            "smithy.api#documentation": "DataProtection type volumes include an object containing details of the replication"
          }
        },
        "acceptGrowCapacityPoolForShortTermCloneSplit": {
          "target": "com.azure.netapp#AcceptGrowCapacityPoolForShortTermCloneSplit",
          "traits": {
            "smithy.api#documentation": "While auto splitting the short term clone volume, if the parent pool does not have enough space to accommodate the volume after split, it will be automatically resized, which will lead to increased billing. To accept capacity pool size auto grow and create a short term clone volume, set the property as accepted."
          }
        },
        "snapshotDirectoryVisible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If enabled (true) the volume will contain a read-only snapshot directory which provides access to each of the volume's snapshots (defaults to true)."
          }
        },
        "kerberosEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Describe if a volume is KerberosEnabled. To be use with swagger version 2020-05-01 or later"
          }
        },
        "securityStyle": {
          "target": "com.azure.netapp#VolumePropertiesInputSecurityStyle",
          "traits": {
            "smithy.api#documentation": "The security style of volume, default unix, defaults to ntfs for dual protocol or CIFS protocol"
          }
        },
        "smbEncryption": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables encryption for in-flight smb3 data. Only applicable for SMB/DualProtocol volume. To be used with swagger version 2020-08-01 or later"
          }
        },
        "smbAccessBasedEnumeration": {
          "target": "com.azure.netapp#SmbAccessBasedEnumeration",
          "traits": {
            "smithy.api#documentation": "Enables access-based enumeration share property for SMB Shares. Only applicable for SMB/DualProtocol volume",
            "com.distilled.openapi#nullable": {}
          }
        },
        "smbNonBrowsable": {
          "target": "com.azure.netapp#SmbNonBrowsable",
          "traits": {
            "smithy.api#documentation": "Enables non-browsable property for SMB Shares. Only applicable for SMB/DualProtocol volume"
          }
        },
        "smbContinuouslyAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enables continuously available share property for smb volume. Only applicable for SMB volume"
          }
        },
        "throughputMibps": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum throughput in MiB/s that can be achieved by this volume and this will be accepted as input only for manual qosType volume",
            "com.distilled.openapi#nullable": {}
          }
        },
        "encryptionKeySource": {
          "target": "com.azure.netapp#VolumePropertiesInputEncryptionKeySource",
          "traits": {
            "smithy.api#documentation": "Source of key used to encrypt data in volume. Applicable if NetApp account has encryption.keySource = 'Microsoft.KeyVault'. Possible values (case-insensitive) are: 'Microsoft.NetApp, Microsoft.KeyVault'"
          }
        },
        "keyVaultPrivateEndpointResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID of private endpoint for KeyVault. It must reside in the same VNET as the volume. Only applicable if encryptionKeySource = 'Microsoft.KeyVault'."
          }
        },
        "ldapEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether LDAP is enabled or not for a given NFS volume."
          }
        },
        "coolAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether Cool Access(tiering) is enabled for the volume."
          }
        },
        "coolnessPeriod": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the number of days after which data that is not accessed by clients will be tiered."
          }
        },
        "coolAccessRetrievalPolicy": {
          "target": "com.azure.netapp#CoolAccessRetrievalPolicy",
          "traits": {
            "smithy.api#documentation": "coolAccessRetrievalPolicy determines the data retrieval behavior from the cool tier to standard storage based on the read pattern for cool access enabled volumes. The possible values for this field are:\nDefault - Data will be pulled from cool tier to standard storage on random reads. This policy is the default.\nOnRead - All client-driven data read is pulled from cool tier to standard storage on both sequential and random reads.\nNever - No client-driven data is pulled from cool tier to standard storage."
          }
        },
        "coolAccessTieringPolicy": {
          "target": "com.azure.netapp#CoolAccessTieringPolicy",
          "traits": {
            "smithy.api#documentation": "coolAccessTieringPolicy determines which cold data blocks are moved to cool tier. The possible values for this field are: Auto - Moves cold user data blocks in both the Snapshot copies and the active file system to the cool tier tier. This policy is the default. SnapshotOnly - Moves user data blocks of the Volume Snapshot copies that are not associated with the active file system to the cool tier."
          }
        },
        "unixPermissions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UNIX permissions for NFS volume accepted in octal 4 digit format. First digit selects the set user ID(4), set group ID (2) and sticky (1) attributes. Second digit selects permission for the owner of the file: read (4), write (2) and execute (1). Third selects permissions for other users in the same group. the fourth for other users not in the group. 0755 - gives read/write/execute permissions to owner and read/execute to group and other users.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "avsDataStore": {
          "target": "com.azure.netapp#VolumePropertiesInputAvsDataStore",
          "traits": {
            "smithy.api#documentation": "Specifies whether the volume is enabled for Azure VMware Solution (AVS) datastore purpose"
          }
        },
        "isDefaultQuotaEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies if default quota is enabled for the volume."
          }
        },
        "defaultUserQuotaInKiBs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Default user quota for volume in KiBs. If isDefaultQuotaEnabled is set, the minimum value of 4 KiBs applies ."
          }
        },
        "defaultGroupQuotaInKiBs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Default group quota for volume in KiBs. If isDefaultQuotaEnabled is set, the minimum value of 4 KiBs applies."
          }
        },
        "capacityPoolResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pool Resource Id used in case of creating a volume through volume group"
          }
        },
        "proximityPlacementGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Proximity placement group associated with the volume"
          }
        },
        "volumeSpecName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Volume spec name is the application specific designation or identifier for the particular volume in a volume group for e.g. data, log"
          }
        },
        "placementRules": {
          "target": "com.azure.netapp#VolumePropertiesInputPlacementRulesList",
          "traits": {
            "smithy.api#documentation": "Application specific placement rules for the particular volume"
          }
        },
        "enableSubvolumes": {
          "target": "com.azure.netapp#VolumePropertiesInputEnableSubvolumes",
          "traits": {
            "smithy.api#documentation": "Flag indicating whether subvolume operations are enabled on the volume"
          }
        },
        "isLargeVolume": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether volume is a Large Volume or Regular Volume."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Volume properties"
      }
    },
    "com.azure.netapp#VolumePropertiesInputEnableSubvolumes": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Flag indicating whether subvolume operations are enabled on the volume"
      }
    },
    "com.azure.netapp#VolumePropertiesInputPlacementRulesList": {
      "type": "list",
      "member": {
        "target": "com.azure.netapp#PlacementKeyValuePairs"
      },
      "traits": {
        "smithy.api#documentation": "Application specific placement rules for the particular volume"
      }
    },
    "com.azure.netapp#VolumePropertiesInputAvsDataStore": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies whether the volume is enabled for Azure VMware Solution (AVS) datastore purpose"
      }
    },
    "com.azure.netapp#VolumePropertiesInputEncryptionKeySource": {
      "type": "enum",
      "members": {
        "MICROSOFT_NETAPP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Microsoft.NetApp"
          }
        },
        "MICROSOFT_KEYVAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Microsoft.KeyVault"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Source of key used to encrypt data in volume. Applicable if NetApp account has encryption.keySource = 'Microsoft.KeyVault'. Possible values (case-insensitive) are: 'Microsoft.NetApp, Microsoft.KeyVault'"
      }
    },
    "com.azure.netapp#VolumePropertiesInputSecurityStyle": {
      "type": "enum",
      "members": {
        "NTFS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ntfs"
          }
        },
        "UNIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unix"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The security style of volume, default unix, defaults to ntfs for dual protocol or CIFS protocol"
      }
    },
    "com.azure.netapp#VolumePropertiesDataProtectionInput": {
      "type": "structure",
      "members": {
        "backup": {
          "target": "com.azure.netapp#VolumeBackupProperties",
          "traits": {
            "smithy.api#documentation": "Backup Properties"
          }
        },
        "replication": {
          "target": "com.azure.netapp#ReplicationObjectInput",
          "traits": {
            "smithy.api#documentation": "Replication properties"
          }
        },
        "snapshot": {
          "target": "com.azure.netapp#VolumeSnapshotProperties",
          "traits": {
            "smithy.api#documentation": "Snapshot properties."
          }
        },
        "volumeRelocation": {
          "target": "com.azure.netapp#VolumeRelocationPropertiesInput",
          "traits": {
            "smithy.api#documentation": "VolumeRelocation properties"
          }
        },
        "ransomwareProtection": {
          "target": "com.azure.netapp#RansomwareProtectionSettings",
          "traits": {
            "smithy.api#documentation": "Advanced Ransomware Protection settings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DataProtection type volumes include an object containing details of the replication"
      }
    },
    "com.azure.netapp#VolumeRelocationPropertiesInput": {
      "type": "structure",
      "members": {
        "relocationRequested": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Has relocation been requested for this volume"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Volume relocation properties"
      }
    },
    "com.azure.netapp#ReplicationObjectInput": {
      "type": "structure",
      "members": {
        "replicationSchedule": {
          "target": "com.azure.netapp#ReplicationSchedule",
          "traits": {
            "smithy.api#documentation": "Schedule"
          }
        },
        "remoteVolumeResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID of the remote volume. Required for cross region and cross zone replication"
          }
        },
        "remotePath": {
          "target": "com.azure.netapp#RemotePath",
          "traits": {
            "smithy.api#documentation": "The full path to a volume that is to be migrated into ANF. Required for Migration volumes"
          }
        },
        "remoteVolumeRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The remote region for the other end of the Volume Replication."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Replication properties"
      }
    },
    "com.azure.netapp#VolumePropertiesInputNetworkFeatures": {
      "type": "enum",
      "members": {
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Basic"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "BASIC_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Basic_Standard"
          }
        },
        "STANDARD_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_Basic"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The original value of the network features type available to the volume at the time it was created."
      }
    },
    "com.azure.netapp#VolumePropertiesInputProtocolTypesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Set of protocol types, default NFSv3, CIFS for SMB protocol"
      }
    },
    "com.azure.netapp#VolumePropertiesInputServiceLevel": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Premium"
          }
        },
        "ULTRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ultra"
          }
        },
        "STANDARDZRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "StandardZRS"
          }
        },
        "FLEXIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Flexible"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The service level of the file system"
      }
    },
    "com.azure.netapp#VolumeGroupVolumePropertiesInputZonesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Availability Zone"
      }
    },
    "com.azure.netapp#VolumeGroupVolumePropertiesInputTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags"
      }
    },
    "com.azure.netapp#VolumeGroupMetaDataInput": {
      "type": "structure",
      "members": {
        "groupDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Group Description"
          }
        },
        "applicationType": {
          "target": "com.azure.netapp#ApplicationType",
          "traits": {
            "smithy.api#documentation": "Application Type"
          }
        },
        "applicationIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Application specific identifier"
          }
        },
        "globalPlacementRules": {
          "target": "com.azure.netapp#VolumeGroupMetaDataInputGlobalPlacementRulesList",
          "traits": {
            "smithy.api#documentation": "Application specific placement rules for the volume group"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Volume group properties"
      }
    },
    "com.azure.netapp#VolumeGroupMetaDataInputGlobalPlacementRulesList": {
      "type": "list",
      "member": {
        "target": "com.azure.netapp#PlacementKeyValuePairs"
      },
      "traits": {
        "smithy.api#documentation": "Application specific placement rules for the volume group"
      }
    },
    "com.azure.netapp#VolumeGroupsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.netapp#VolumeGroupsGetRequest"
      },
      "output": {
        "target": "com.azure.netapp#VolumeGroupsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/volumeGroups/{volumeGroupName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Get details of the specified volume group",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.netapp#VolumeGroupsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.netapp#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.netapp#VolumeGroupProperties",
          "traits": {
            "smithy.api#documentation": "Volume group properties"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource location"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.netapp#VolumeGroupsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the NetApp account"
          }
        },
        "volumeGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the volumeGroup"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.netapp#VolumeGroupsListByNetAppAccount": {
      "type": "operation",
      "input": {
        "target": "com.azure.netapp#VolumeGroupsListByNetAppAccountRequest"
      },
      "output": {
        "target": "com.azure.netapp#VolumeGroupList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/volumeGroups",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "List all volume groups for given account",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.netapp#VolumeGroupList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.netapp#VolumeGroupListValueList",
          "traits": {
            "smithy.api#documentation": "The VolumeGroup items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of volume group resources"
      }
    },
    "com.azure.netapp#VolumeGroupListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.netapp#VolumeGroup"
      },
      "traits": {
        "smithy.api#documentation": "The VolumeGroup items on this page"
      }
    },
    "com.azure.netapp#VolumeGroup": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource location"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Id"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type"
          }
        },
        "properties": {
          "target": "com.azure.netapp#VolumeGroupListProperties",
          "traits": {
            "smithy.api#documentation": "Volume group properties"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Volume group resource"
      }
    },
    "com.azure.netapp#VolumeGroupListProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure lifecycle management"
          }
        },
        "groupMetaData": {
          "target": "com.azure.netapp#VolumeGroupMetaData",
          "traits": {
            "smithy.api#documentation": "Volume group details"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Volume group properties"
      }
    },
    "com.azure.netapp#VolumeGroupsListByNetAppAccountRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the NetApp account"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.netapp#AccountsTransitionToCmk": {
      "type": "operation",
      "input": {
        "target": "com.azure.netapp#AccountsTransitionToCmkRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/transitiontocmk",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Transitions all volumes in a VNet to a different encryption key source (Microsoft-managed key or Azure Key Vault). Operation fails if targeted volumes share encryption sibling set with volumes from another account.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.netapp#AccountsTransitionToCmkRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the NetApp account"
          }
        },
        "virtualNetworkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the virtual network",
            "smithy.api#required": {}
          }
        },
        "privateEndpointId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the private endpoint to reach the Azure Key Vault",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.netapp#SnapshotPoliciesListVolumes": {
      "type": "operation",
      "input": {
        "target": "com.azure.netapp#SnapshotPoliciesListVolumesRequest"
      },
      "output": {
        "target": "com.azure.netapp#SnapshotPolicyVolumeList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/snapshotPolicies/{snapshotPolicyName}/volumes",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Get volumes associated with snapshot policy",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.netapp#SnapshotPolicyVolumeList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.netapp#SnapshotPolicyVolumeListValueList",
          "traits": {
[...]
