{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.networkcloud#VolumesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.networkcloud#VolumesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/volumes/{volumeName}",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Delete the provided volume.",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.networkcloud#VolumesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "volumeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the volume."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.networkcloud#VolumesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.networkcloud#VolumesUpdateRequest"
      },
      "output": {
        "target": "com.azure.networkcloud#VolumesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/volumes/{volumeName}",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Update tags associated with the provided volume.",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.networkcloud#VolumesUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.networkcloud#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.networkcloud#VolumesUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.networkcloud#VolumeProperties",
          "traits": {
            "smithy.api#documentation": "The list of the resource properties.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.\")"
          }
        },
        "extendedLocation": {
          "target": "com.azure.networkcloud#AzureResourceManagerCommonTypesExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The extended location of the resource. This property is required when creating the resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.networkcloud#AzureResourceManagerCommonTypesExtendedLocation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the extended location.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.azure.networkcloud#AzureResourceManagerCommonTypesExtendedLocationType",
          "traits": {
            "smithy.api#documentation": "The type of the extended location.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The complex type of the extended location."
      }
    },
    "com.azure.networkcloud#AzureResourceManagerCommonTypesExtendedLocationType": {
      "type": "enum",
      "members": {
        "EDGEZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EdgeZone"
          }
        },
        "CUSTOMLOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CustomLocation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The supported ExtendedLocation types."
      }
    },
    "com.azure.networkcloud#VolumeProperties": {
      "type": "structure",
      "members": {
        "sizeMiB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The requested storage allocation for the volume in Mebibytes.",
            "smithy.api#required": {}
          }
        },
        "storageApplianceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID of the storage appliance that hosts the volume."
          }
        },
        "allocatedSizeMiB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The allocated size of the volume in Mebibytes."
          }
        },
        "assignedStorageApplianceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The assigned resource ID of the storage appliance that hosts the volume."
          }
        },
        "attachedTo": {
          "target": "com.azure.networkcloud#VolumePropertiesAttachedToList",
          "traits": {
            "smithy.api#documentation": "The list of resource IDs that attach the volume. It may include virtual machines and Hybrid AKS clusters."
          }
        },
        "detailedStatus": {
          "target": "com.azure.networkcloud#VolumeDetailedStatus",
          "traits": {
            "smithy.api#documentation": "The more detailed status of the volume."
          }
        },
        "detailedStatusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The descriptive message about the current detailed status."
          }
        },
        "serialNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the volume."
          }
        },
        "provisioningState": {
          "target": "com.azure.networkcloud#VolumeProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the volume."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VolumeProperties represents properties of the volume resource."
      }
    },
    "com.azure.networkcloud#VolumeProvisioningState": {
      "type": "enum",
      "members": {
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioning state of the volume."
      }
    },
    "com.azure.networkcloud#VolumeDetailedStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Error"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The more detailed status of the volume."
      }
    },
    "com.azure.networkcloud#VolumePropertiesAttachedToList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of resource IDs that attach the volume. It may include virtual machines and Hybrid AKS clusters."
      }
    },
    "com.azure.networkcloud#VolumesUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.networkcloud#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.networkcloud#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.networkcloud#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.networkcloud#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.networkcloud#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.networkcloud#VolumesUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "volumeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the volume."
          }
        },
        "tags": {
          "target": "com.azure.networkcloud#VolumesUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.networkcloud#VolumesUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.networkcloud#VolumesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.networkcloud#VolumesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.networkcloud#VolumesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/volumes/{volumeName}",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Create a new volume or update the properties of the existing one.",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.networkcloud#VolumesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.networkcloud#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.networkcloud#VolumesCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.networkcloud#VolumeProperties",
          "traits": {
            "smithy.api#documentation": "The list of the resource properties.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.\")"
          }
        },
        "extendedLocation": {
          "target": "com.azure.networkcloud#AzureResourceManagerCommonTypesExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The extended location of the resource. This property is required when creating the resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.networkcloud#VolumesCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.networkcloud#VolumesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "volumeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the volume."
          }
        },
        "tags": {
          "target": "com.azure.networkcloud#VolumesCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.networkcloud#VolumePropertiesInput",
          "traits": {
            "smithy.api#documentation": "The list of the resource properties.",
            "smithy.api#required": {}
          }
        },
        "extendedLocation": {
          "target": "com.azure.networkcloud#AzureResourceManagerCommonTypesExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The extended location of the resource. This property is required when creating the resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.networkcloud#VolumePropertiesInput": {
      "type": "structure",
      "members": {
        "sizeMiB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The requested storage allocation for the volume in Mebibytes.",
            "smithy.api#required": {}
          }
        },
        "storageApplianceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID of the storage appliance that hosts the volume."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VolumeProperties represents properties of the volume resource."
      }
    },
    "com.azure.networkcloud#VolumesCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.networkcloud#VolumesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.networkcloud#VolumesGetRequest"
      },
      "output": {
        "target": "com.azure.networkcloud#VolumesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/volumes/{volumeName}",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Get properties of the provided volume.",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.networkcloud#VolumesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.networkcloud#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.networkcloud#VolumesGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.networkcloud#VolumeProperties",
          "traits": {
            "smithy.api#documentation": "The list of the resource properties.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.\")"
          }
        },
        "extendedLocation": {
          "target": "com.azure.networkcloud#AzureResourceManagerCommonTypesExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The extended location of the resource. This property is required when creating the resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.networkcloud#VolumesGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.networkcloud#VolumesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "volumeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the volume."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.networkcloud#VolumesListByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.networkcloud#VolumesListByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.networkcloud#VolumeList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/volumes",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Get a list of volumes in the provided resource group.",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.networkcloud#VolumeList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.networkcloud#VolumeListValueList",
          "traits": {
            "smithy.api#documentation": "The Volume items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VolumeList represents a list of volumes."
      }
    },
    "com.azure.networkcloud#VolumeListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.networkcloud#Volume"
      },
      "traits": {
        "smithy.api#documentation": "The Volume items on this page"
      }
    },
    "com.azure.networkcloud#Volume": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.networkcloud#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.networkcloud#VolumeTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.networkcloud#VolumeProperties",
          "traits": {
            "smithy.api#documentation": "The list of the resource properties.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.\")"
          }
        },
        "extendedLocation": {
          "target": "com.azure.networkcloud#AzureResourceManagerCommonTypesExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The extended location of the resource. This property is required when creating the resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Volume represents storage made available for use by resources running on the cluster."
      }
    },
    "com.azure.networkcloud#VolumeTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.networkcloud#VolumesListByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "The maximum number of resources to return from the operation. Example: '$top=10'."
          }
        },
        "_skipToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skipToken",
            "smithy.api#documentation": "The opaque token that the server returns to indicate where to continue listing resources from. This is used for paging through large result sets."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.networkcloud#VirtualMachinesStart": {
      "type": "operation",
      "input": {
        "target": "com.azure.networkcloud#VirtualMachinesStartRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/virtualMachines/{virtualMachineName}/start",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Start the provided virtual machine.",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.networkcloud#VirtualMachinesStartRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualMachineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual machine."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.networkcloud#VirtualMachinesRestart": {
      "type": "operation",
      "input": {
        "target": "com.azure.networkcloud#VirtualMachinesRestartRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/virtualMachines/{virtualMachineName}/restart",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Restart the provided virtual machine.",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.networkcloud#VirtualMachinesRestartRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualMachineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual machine."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.networkcloud#VirtualMachinesReimage": {
      "type": "operation",
      "input": {
        "target": "com.azure.networkcloud#VirtualMachinesReimageRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/virtualMachines/{virtualMachineName}/reimage",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Reimage the provided virtual machine.",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.networkcloud#VirtualMachinesReimageRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualMachineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual machine."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.networkcloud#VirtualMachinesPowerOff": {
      "type": "operation",
      "input": {
        "target": "com.azure.networkcloud#VirtualMachinesPowerOffRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/virtualMachines/{virtualMachineName}/powerOff",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Power off the provided virtual machine.",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.networkcloud#VirtualMachinesPowerOffRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualMachineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual machine."
          }
        },
        "skipShutdown": {
          "target": "com.azure.networkcloud#VirtualMachinesPowerOffRequestSkipShutdown",
          "traits": {
            "smithy.api#documentation": "The indicator of whether to skip the graceful OS shutdown and power off the virtual machine immediately."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.networkcloud#VirtualMachinesPowerOffRequestSkipShutdown": {
      "type": "enum",
      "members": {
        "TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "True"
          }
        },
        "FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "False"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The indicator of whether to skip the graceful OS shutdown and power off the virtual machine immediately."
      }
    },
    "com.azure.networkcloud#ConsolesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.networkcloud#ConsolesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/virtualMachines/{virtualMachineName}/consoles/{consoleName}",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Delete the provided virtual machine console.",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.networkcloud#ConsolesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualMachineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual machine."
          }
        },
        "consoleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual machine console."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.networkcloud#ConsolesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.networkcloud#ConsolesUpdateRequest"
      },
      "output": {
        "target": "com.azure.networkcloud#ConsolesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/virtualMachines/{virtualMachineName}/consoles/{consoleName}",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Patch the properties of the provided virtual machine console, or update the tags associated with the virtual machine console. Properties and tag updates can be done independently.",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.networkcloud#ConsolesUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.networkcloud#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.networkcloud#ConsolesUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.networkcloud#ConsoleProperties",
          "traits": {
            "smithy.api#documentation": "The list of the resource properties.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.\")"
          }
        },
        "extendedLocation": {
          "target": "com.azure.networkcloud#AzureResourceManagerCommonTypesExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The extended location of the resource. This property is required when creating the resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.networkcloud#ConsoleProperties": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "com.azure.networkcloud#ConsoleEnabled",
          "traits": {
            "smithy.api#documentation": "The indicator of whether the console access is enabled.",
            "smithy.api#required": {}
          }
        },
        "expiration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time after which the key will be disallowed access."
          }
        },
        "sshPublicKey": {
          "target": "com.azure.networkcloud#SshPublicKey",
          "traits": {
            "smithy.api#documentation": "The SSH public key that will be provisioned for user access. The user is expected to have the corresponding SSH private key for logging in.",
            "smithy.api#required": {}
          }
        },
        "detailedStatus": {
          "target": "com.azure.networkcloud#ConsoleDetailedStatus",
          "traits": {
            "smithy.api#documentation": "The more detailed status of the console."
          }
        },
        "detailedStatusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The descriptive message about the current detailed status."
          }
        },
        "privateLinkServiceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID of the private link service that is used to provide virtual machine console access."
          }
        },
        "virtualMachineAccessId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the virtual machine that is used to access the console."
          }
        },
        "provisioningState": {
          "target": "com.azure.networkcloud#ConsoleProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the virtual machine console."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ConsoleProperties represents the properties of the virtual machine console."
      }
    },
    "com.azure.networkcloud#ConsoleProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioning state of the virtual machine console."
      }
    },
    "com.azure.networkcloud#ConsoleDetailedStatus": {
      "type": "enum",
      "members": {
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ready"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The more detailed status of the console."
      }
    },
    "com.azure.networkcloud#SshPublicKey": {
      "type": "structure",
      "members": {
        "keyData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SSH public key data.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SshPublicKey represents the public key used to authenticate with a resource through SSH."
      }
    },
    "com.azure.networkcloud#ConsoleEnabled": {
      "type": "enum",
      "members": {
        "TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "True"
          }
        },
        "FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "False"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The indicator of whether the console access is enabled."
      }
    },
    "com.azure.networkcloud#ConsolesUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.networkcloud#ConsolesUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualMachineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual machine."
          }
        },
        "consoleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual machine console."
          }
        },
        "properties": {
          "target": "com.azure.networkcloud#ConsolePatchProperties",
          "traits": {
            "smithy.api#documentation": "The list of the resource properties."
          }
        },
        "tags": {
          "target": "com.azure.networkcloud#ConsolesUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.networkcloud#ConsolesUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.networkcloud#ConsolePatchProperties": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "com.azure.networkcloud#ConsoleEnabled",
          "traits": {
            "smithy.api#documentation": "The indicator of whether the console access is enabled."
          }
        },
        "expiration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time after which the key will be disallowed access."
          }
        },
        "sshPublicKey": {
          "target": "com.azure.networkcloud#SshPublicKeyPatch",
          "traits": {
            "smithy.api#documentation": "The SSH public key that will be provisioned for user access. The user is expected to have the corresponding SSH private key for logging in."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ConsolePatchProperties represents the properties of the virtual machine console that can be patched."
      }
    },
    "com.azure.networkcloud#SshPublicKeyPatch": {
      "type": "structure",
      "members": {
        "keyData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SSH public key data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SshPublicKeyPatch represents the public key used to authenticate with a resource through SSH."
      }
    },
    "com.azure.networkcloud#ConsolesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.networkcloud#ConsolesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.networkcloud#ConsolesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/virtualMachines/{virtualMachineName}/consoles/{consoleName}",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Create a new virtual machine console or update the properties of the existing virtual machine console.",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.networkcloud#ConsolesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.networkcloud#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.networkcloud#ConsolesCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.networkcloud#ConsoleProperties",
          "traits": {
            "smithy.api#documentation": "The list of the resource properties.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.\")"
          }
        },
        "extendedLocation": {
          "target": "com.azure.networkcloud#AzureResourceManagerCommonTypesExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The extended location of the resource. This property is required when creating the resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.networkcloud#ConsolesCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.networkcloud#ConsolesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualMachineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual machine."
          }
        },
        "consoleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual machine console."
          }
        },
        "tags": {
          "target": "com.azure.networkcloud#ConsolesCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.networkcloud#ConsolePropertiesInput",
          "traits": {
            "smithy.api#documentation": "The list of the resource properties.",
            "smithy.api#required": {}
          }
        },
        "extendedLocation": {
          "target": "com.azure.networkcloud#AzureResourceManagerCommonTypesExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The extended location of the resource. This property is required when creating the resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.networkcloud#ConsolePropertiesInput": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "com.azure.networkcloud#ConsoleEnabled",
          "traits": {
            "smithy.api#documentation": "The indicator of whether the console access is enabled.",
            "smithy.api#required": {}
          }
        },
        "expiration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time after which the key will be disallowed access."
          }
        },
        "sshPublicKey": {
          "target": "com.azure.networkcloud#SshPublicKey",
          "traits": {
            "smithy.api#documentation": "The SSH public key that will be provisioned for user access. The user is expected to have the corresponding SSH private key for logging in.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ConsoleProperties represents the properties of the virtual machine console."
      }
    },
    "com.azure.networkcloud#ConsolesCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.networkcloud#ConsolesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.networkcloud#ConsolesGetRequest"
      },
      "output": {
        "target": "com.azure.networkcloud#ConsolesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/virtualMachines/{virtualMachineName}/consoles/{consoleName}",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Get properties of the provided virtual machine console.",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.networkcloud#ConsolesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.networkcloud#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.networkcloud#ConsolesGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.networkcloud#ConsoleProperties",
          "traits": {
            "smithy.api#documentation": "The list of the resource properties.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.\")"
          }
        },
        "extendedLocation": {
          "target": "com.azure.networkcloud#AzureResourceManagerCommonTypesExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The extended location of the resource. This property is required when creating the resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.networkcloud#ConsolesGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.networkcloud#ConsolesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualMachineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual machine."
          }
        },
        "consoleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual machine console."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.networkcloud#ConsolesListByVirtualMachine": {
      "type": "operation",
      "input": {
        "target": "com.azure.networkcloud#ConsolesListByVirtualMachineRequest"
      },
      "output": {
        "target": "com.azure.networkcloud#ConsoleList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/virtualMachines/{virtualMachineName}/consoles",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Get a list of consoles for the provided virtual machine.",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.networkcloud#ConsoleList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.networkcloud#ConsoleListValueList",
          "traits": {
            "smithy.api#documentation": "The Console items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ConsoleList represents a list of virtual machine consoles."
      }
    },
    "com.azure.networkcloud#ConsoleListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.networkcloud#Console"
      },
      "traits": {
        "smithy.api#documentation": "The Console items on this page"
      }
    },
    "com.azure.networkcloud#Console": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.networkcloud#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.networkcloud#ConsoleTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.networkcloud#ConsoleProperties",
          "traits": {
            "smithy.api#documentation": "The list of the resource properties.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.\")"
          }
        },
        "extendedLocation": {
          "target": "com.azure.networkcloud#AzureResourceManagerCommonTypesExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The extended location of the resource. This property is required when creating the resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Console represents the console of an on-premises Network Cloud virtual machine."
      }
    },
    "com.azure.networkcloud#ConsoleTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.networkcloud#ConsolesListByVirtualMachineRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualMachineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual machine."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "The maximum number of resources to return from the operation. Example: '$top=10'."
          }
        },
        "_skipToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skipToken",
            "smithy.api#documentation": "The opaque token that the server returns to indicate where to continue listing resources from. This is used for paging through large result sets."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.networkcloud#VirtualMachinesAssignRelay": {
      "type": "operation",
      "input": {
        "target": "com.azure.networkcloud#VirtualMachinesAssignRelayRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/virtualMachines/{virtualMachineName}/assignRelay",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Assigns a relay to the specified Microsoft.HybridCompute machine associated with the provided virtual machine.",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.networkcloud#VirtualMachinesAssignRelayRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualMachineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual machine."
          }
        },
        "machineId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resourceId of the Microsoft.HybridCompute machine resource to assign relay usage.",
            "smithy.api#required": {}
          }
        },
        "relayType": {
          "target": "com.azure.networkcloud#VirtualMachinesAssignRelayRequestRelayType",
          "traits": {
            "smithy.api#documentation": "The indicator of which relay type the machine should be assigned to use. Platform indicates the use of a platform-dedicated relay. Public indicates the use of the standard public relay for Arc services."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.networkcloud#VirtualMachinesAssignRelayRequestRelayType": {
      "type": "enum",
      "members": {
        "PLATFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Platform"
          }
        },
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Public"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The indicator of which relay type the machine should be assigned to use. Platform indicates the use of a platform-dedicated relay. Public indicates the use of the standard public relay for Arc services."
      }
    },
    "com.azure.networkcloud#VirtualMachinesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.networkcloud#VirtualMachinesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/virtualMachines/{virtualMachineName}",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Delete the provided virtual machine.",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.networkcloud#VirtualMachinesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualMachineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual machine."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.networkcloud#VirtualMachinesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.networkcloud#VirtualMachinesUpdateRequest"
      },
      "output": {
        "target": "com.azure.networkcloud#VirtualMachinesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/virtualMachines/{virtualMachineName}",
          "code": 200,
          "apiVersion": "2026-07-01"
        },
        "smithy.api#documentation": "Patch the properties of the provided virtual machine, or update the tags associated with the virtual machine. Properties and tag updates can be done independently.",
        "com.distilled.openapi#apiVersion": "2026-07-01"
      }
    },
    "com.azure.networkcloud#VirtualMachinesUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.networkcloud#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.networkcloud#VirtualMachinesUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.networkcloud#VirtualMachineProperties",
          "traits": {
            "smithy.api#documentation": "The list of the resource properties.",
            "smithy.api#required": {}
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "\"If etag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.\")"
          }
        },
        "extendedLocation": {
          "target": "com.azure.networkcloud#AzureResourceManagerCommonTypesExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The extended location of the resource. This property is required when creating the resource.",
            "smithy.api#required": {}
          }
        },
        "identity": {
          "target": "com.azure.networkcloud#VirtualMachinesUpdateResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.networkcloud#VirtualMachinesUpdateResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.networkcloud#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.networkcloud#VirtualMachinesUpdateResponseIdentityUserAssignedIdentitiesMap",
          "traits": {
            "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.networkcloud#VirtualMachinesUpdateResponseIdentityUserAssignedIdentitiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.networkcloud#UserAssignedIdentity"
      },
      "traits": {
        "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
      }
    },
    "com.azure.networkcloud#UserAssignedIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of the assigned identity."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client ID of the assigned identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User assigned identity properties"
      }
    },
    "com.azure.networkcloud#ManagedServiceIdentityType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        },
        "SYSTEMASSIGNED_USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned,UserAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of managed service identity (where both SystemAssigned and UserAssigned types are allowed)."
      }
    },
    "com.azure.networkcloud#VirtualMachineProperties": {
      "type": "structure",
      "members": {
        "adminUsername": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the administrator to which the ssh public keys will be added into the authorized keys.",
            "smithy.api#required": {}
          }
        },
        "bootMethod": {
          "target": "com.azure.networkcloud#VirtualMachinePropertiesBootMethod",
          "traits": {
            "smithy.api#documentation": "Selects the boot method for the virtual machine."
          }
        },
        "cloudServicesNetworkAttachment": {
          "target": "com.azure.networkcloud#NetworkAttachment",
          "traits": {
            "smithy.api#documentation": "The cloud service network that provides platform-level services for the virtual machine.",
            "smithy.api#required": {}
          }
        },
        "cpuCores": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of CPU cores in the virtual machine.",
            "smithy.api#required": {}
          }
        },
        "isolateEmulatorThread": {
          "target": "com.azure.networkcloud#VirtualMachinePropertiesIsolateEmulatorThread",
          "traits": {
            "smithy.api#documentation": "Field Deprecated, the value will be ignored if provided. The indicator of whether one of the specified CPU cores is isolated to run the emulator thread for this virtual machine."
          }
        },
        "memorySizeGB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The memory size of the virtual machine. Allocations are measured in gibibytes.",
            "smithy.api#required": {}
          }
        },
        "networkAttachments": {
          "target": "com.azure.networkcloud#VirtualMachinePropertiesNetworkAttachmentsList",
          "traits": {
            "smithy.api#documentation": "The list of network attachments to the virtual machine."
          }
        },
        "networkData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Field Deprecated: The Base64 encoded cloud-init network data. The networkDataContent property will be used in preference to this property."
          }
        },
        "networkDataContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Base64 encoded cloud-init network data."
          }
        },
        "placementHints": {
          "target": "com.azure.networkcloud#VirtualMachinePropertiesPlacementHintsList",
          "traits": {
            "smithy.api#documentation": "The scheduling hints for the virtual machine."
          }
        },
        "sshPublicKeys": {
          "target": "com.azure.networkcloud#VirtualMachinePropertiesSshPublicKeysList",
          "traits": {
            "smithy.api#documentation": "The list of ssh public keys. Each key will be added to the virtual machine using the cloud-init ssh_authorized_keys mechanism for the adminUsername."
          }
        },
        "storageProfile": {
          "target": "com.azure.networkcloud#StorageProfile",
          "traits": {
            "smithy.api#documentation": "The storage profile that specifies size and other parameters about the disks related to the virtual machine.",
            "smithy.api#required": {}
          }
        },
        "userData": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Field Deprecated: The Base64 encoded cloud-init user data. The userDataContent property will be used in preference to this property."
          }
        },
        "userDataContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Base64 encoded cloud-init user data."
          }
        },
        "virtioInterface": {
          "target": "com.azure.networkcloud#VirtualMachinePropertiesVirtioInterface",
          "traits": {
            "smithy.api#documentation": "Field Deprecated, use virtualizationModel instead. The type of the virtio interface."
          }
        },
        "vmDeviceModel": {
          "target": "com.azure.networkcloud#VirtualMachinePropertiesVmDeviceModel",
          "traits": {
            "smithy.api#documentation": "The type of the device model to use."
          }
        },
        "vmImage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The virtual machine image that is currently provisioned to the OS disk, using the full url and tag notation used to pull the image.",
            "smithy.api#required": {}
          }
        },
        "vmImageRepositoryCredentials": {
          "target": "com.azure.networkcloud#ImageRepositoryCredentials",
          "traits": {
            "smithy.api#documentation": "The credentials used to login to the image repository that has access to the specified image."
          }
        },
        "availabilityZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cluster availability zone containing this virtual machine."
          }
        },
        "bareMetalMachineId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID of the bare metal machine that hosts the virtual machine."
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID of the cluster the virtual machine is created for."
          }
        },
        "consoleExtendedLocation": {
          "target": "com.azure.networkcloud#AzureResourceManagerCommonTypesExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The extended location to use for creation of a VM console resource."
          }
        },
        "detailedStatus": {
          "target": "com.azure.networkcloud#VirtualMachineDetailedStatus",
          "traits": {
            "smithy.api#documentation": "The more detailed status of the virtual machine."
          }
        },
        "detailedStatusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The descriptive message about the current detailed status."
          }
        },
        "powerState": {
          "target": "com.azure.networkcloud#VirtualMachinePowerState",
          "traits": {
            "smithy.api#documentation": "The power state of the virtual machine."
          }
        },
        "volumes": {
          "target": "com.azure.networkcloud#VirtualMachinePropertiesVolumesList",
          "traits": {
            "smithy.api#documentation": "The resource IDs of volumes that are attached to the virtual machine."
          }
        },
        "provisioningState": {
          "target": "com.azure.networkcloud#VirtualMachineProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the virtual machine."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VirtualMachineProperties represents the properties of the virtual machine."
      }
    },
    "com.azure.networkcloud#VirtualMachineProvisioningState": {
      "type": "enum",
      "members": {
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioning state of the virtual machine."
      }
    },
    "com.azure.networkcloud#VirtualMachinePropertiesVolumesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The resource IDs of volumes that are attached to the virtual machine."
      }
    },
    "com.azure.networkcloud#VirtualMachinePowerState": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Off"
          }
        },
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "On"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The power state of the virtual machine."
      }
    },
    "com.azure.networkcloud#VirtualMachineDetailedStatus": {
      "type": "enum",
      "members": {
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Available"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Error"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "SCHEDULING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Scheduling"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Stopped"
          }
        },
        "TERMINATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Terminating"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The more detailed status of the virtual machine."
      }
    },
    "com.azure.networkcloud#ImageRepositoryCredentials": {
      "type": "structure",
      "members": {
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The password or token used to access an image in the target repository.",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "registryUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the authentication server used to validate the repository credentials.",
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The username used to access an image in the target repository.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ImageRepositoryCredentials represents the credentials used to login to the image repository."
      }
    },
    "com.azure.networkcloud#VirtualMachinePropertiesVmDeviceModel": {
      "type": "enum",
      "members": {
        "T1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "T1"
          }
        },
        "T2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "T2"
          }
        },
        "T3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "T3"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the device model to use."
      }
    },
[...]
