{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.operationalinsights#UsagesList": {
      "type": "operation",
      "input": {
        "target": "com.azure.operationalinsights#UsagesListRequest"
      },
      "output": {
        "target": "com.azure.operationalinsights#WorkspaceListUsagesResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/usages",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Gets a list of usage metrics for a workspace.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.operationalinsights#WorkspaceListUsagesResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.operationalinsights#WorkspaceListUsagesResultValueList",
          "traits": {
            "smithy.api#documentation": "Gets or sets a list of usage metrics for a workspace."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to get the next set of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list workspace usages operation response."
      }
    },
    "com.azure.operationalinsights#WorkspaceListUsagesResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.operationalinsights#UsageMetric"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets a list of usage metrics for a workspace."
      }
    },
    "com.azure.operationalinsights#UsageMetric": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.azure.operationalinsights#MetricName",
          "traits": {
            "smithy.api#documentation": "The name of the metric."
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The units used for the metric."
          }
        },
        "currentValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The current value of the metric."
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The quota limit for the metric."
          }
        },
        "nextResetTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that the metric's value will reset."
          }
        },
        "quotaPeriod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The quota period that determines the length of time between value resets."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A metric describing the usage of a resource."
      }
    },
    "com.azure.operationalinsights#MetricName": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The system name of the metric."
          }
        },
        "localizedValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized name of the metric."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The name of a metric."
      }
    },
    "com.azure.operationalinsights#UsagesListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.operationalinsights#TablesMigrate": {
      "type": "operation",
      "input": {
        "target": "com.azure.operationalinsights#TablesMigrateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/tables/{tableName}/migrate",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Migrate a Log Analytics table from support of the Data Collector API and Custom Fields features to support of Data Collection Rule-based Custom Logs.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.operationalinsights#TablesMigrateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "tableName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the table."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.operationalinsights#TablesCancelSearch": {
      "type": "operation",
      "input": {
        "target": "com.azure.operationalinsights#TablesCancelSearchRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/tables/{tableName}/cancelSearch",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Cancel a log analytics workspace search results table query run.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.operationalinsights#TablesCancelSearchRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "tableName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the table."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.operationalinsights#TablesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.operationalinsights#TablesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/tables/{tableName}",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Delete a Log Analytics workspace table.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.operationalinsights#TablesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "tableName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the table."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.operationalinsights#TablesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.operationalinsights#TablesUpdateRequest"
      },
      "output": {
        "target": "com.azure.operationalinsights#TablesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/tables/{tableName}",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Update a Log Analytics workspace table.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.operationalinsights#TablesUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.operationalinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.operationalinsights#TableProperties",
          "traits": {
            "smithy.api#documentation": "Table's properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.operationalinsights#TableProperties": {
      "type": "structure",
      "members": {
        "retentionInDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "In Analytics table: the tables analytics retention in days, between 4 and 730. Setting this property to -1 will default to the workspace retention. In Basic and Auxiliary table: read only property."
          }
        },
        "totalRetentionInDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The table total retention in days, between 4 and 4383. Setting this property to -1 will default to retentionInDays."
          }
        },
        "archiveRetentionInDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The tables long-term retention in days. Calculated as (totalRetentionInDays-retentionInDays)."
          }
        },
        "searchResults": {
          "target": "com.azure.operationalinsights#SearchResults",
          "traits": {
            "smithy.api#documentation": "Parameters of the search job that initiated this table."
          }
        },
        "restoredLogs": {
          "target": "com.azure.operationalinsights#RestoredLogs",
          "traits": {
            "smithy.api#documentation": "Parameters of the restore operation that initiated this table."
          }
        },
        "resultStatistics": {
          "target": "com.azure.operationalinsights#ResultStatistics",
          "traits": {
            "smithy.api#documentation": "Search job execution statistics."
          }
        },
        "plan": {
          "target": "com.azure.operationalinsights#TablePlanEnum",
          "traits": {
            "smithy.api#documentation": "Instruct the system how to handle and charge the logs ingested to this table."
          }
        },
        "lastPlanModifiedDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp that table plan was last modified (UTC)."
          }
        },
        "schema": {
          "target": "com.azure.operationalinsights#Schema",
          "traits": {
            "smithy.api#documentation": "Table schema."
          }
        },
        "provisioningState": {
          "target": "com.azure.operationalinsights#OperationalInsightsTableProvisioningState",
          "traits": {
            "smithy.api#documentation": "Table's current provisioning state. If set to 'updating', indicates a resource lock due to ongoing operation, forbidding any update to the table until the ongoing operation is concluded."
          }
        },
        "retentionInDaysAsDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True - Value originates from workspace retention in days, False - Customer specific."
          }
        },
        "totalRetentionInDaysAsDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True - Value originates from retention in days, False - Customer specific."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Table properties."
      }
    },
    "com.azure.operationalinsights#OperationalInsightsTableProvisioningState": {
      "type": "enum",
      "members": {
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Table's current provisioning state. If set to 'updating', indicates a resource lock due to ongoing operation, forbidding any update to the table until the ongoing operation is concluded."
      }
    },
    "com.azure.operationalinsights#Schema": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Table name."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Table display name."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Table description."
          }
        },
        "columns": {
          "target": "com.azure.operationalinsights#SchemaColumnsList",
          "traits": {
            "smithy.api#documentation": "A list of table custom columns."
          }
        },
        "standardColumns": {
          "target": "com.azure.operationalinsights#SchemaStandardColumnsList",
          "traits": {
            "smithy.api#documentation": "A list of table standard columns."
          }
        },
        "categories": {
          "target": "com.azure.operationalinsights#SchemaCategoriesList",
          "traits": {
            "smithy.api#documentation": "Table category."
          }
        },
        "labels": {
          "target": "com.azure.operationalinsights#SchemaLabelsList",
          "traits": {
            "smithy.api#documentation": "Table labels."
          }
        },
        "source": {
          "target": "com.azure.operationalinsights#SourceEnum",
          "traits": {
            "smithy.api#documentation": "Table's creator."
          }
        },
        "tableType": {
          "target": "com.azure.operationalinsights#TableTypeEnum",
          "traits": {
            "smithy.api#documentation": "Table's creator."
          }
        },
        "tableSubType": {
          "target": "com.azure.operationalinsights#TableSubTypeEnum",
          "traits": {
            "smithy.api#documentation": "The subtype describes what APIs can be used to interact with the table, and what features are available against it."
          }
        },
        "solutions": {
          "target": "com.azure.operationalinsights#SchemaSolutionsList",
          "traits": {
            "smithy.api#documentation": "List of solutions the table is affiliated with"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Table's schema."
      }
    },
    "com.azure.operationalinsights#SchemaSolutionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of solutions the table is affiliated with"
      }
    },
    "com.azure.operationalinsights#TableSubTypeEnum": {
      "type": "enum",
      "members": {
        "ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Any"
          }
        },
        "CLASSIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Classic"
          }
        },
        "DATACOLLECTIONRULEBASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DataCollectionRuleBased"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The subtype describes what APIs can be used to interact with the table, and what features are available against it."
      }
    },
    "com.azure.operationalinsights#TableTypeEnum": {
      "type": "enum",
      "members": {
        "MICROSOFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Microsoft"
          }
        },
        "CUSTOMLOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CustomLog"
          }
        },
        "RESTOREDLOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RestoredLogs"
          }
        },
        "SEARCHRESULTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SearchResults"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Table's creator."
      }
    },
    "com.azure.operationalinsights#SourceEnum": {
      "type": "enum",
      "members": {
        "MICROSOFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "microsoft"
          }
        },
        "CUSTOMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "customer"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Table's creator."
      }
    },
    "com.azure.operationalinsights#SchemaLabelsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Table labels."
      }
    },
    "com.azure.operationalinsights#SchemaCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Table category."
      }
    },
    "com.azure.operationalinsights#SchemaStandardColumnsList": {
      "type": "list",
      "member": {
        "target": "com.azure.operationalinsights#Column"
      },
      "traits": {
        "smithy.api#documentation": "A list of table standard columns."
      }
    },
    "com.azure.operationalinsights#Column": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column name."
          }
        },
        "type": {
          "target": "com.azure.operationalinsights#ColumnTypeEnum",
          "traits": {
            "smithy.api#documentation": "Column data type."
          }
        },
        "dataTypeHint": {
          "target": "com.azure.operationalinsights#ColumnDataTypeHintEnum",
          "traits": {
            "smithy.api#documentation": "Column data type logical hint."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column display name."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column description."
          }
        },
        "isDefaultDisplay": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is displayed by default."
          }
        },
        "isHidden": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is column hidden."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Table column."
      }
    },
    "com.azure.operationalinsights#ColumnDataTypeHintEnum": {
      "type": "enum",
      "members": {
        "URI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uri"
          }
        },
        "GUID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "guid"
          }
        },
        "ARMPATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "armPath"
          }
        },
        "IP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ip"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Column data type logical hint."
      }
    },
    "com.azure.operationalinsights#ColumnTypeEnum": {
      "type": "enum",
      "members": {
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string"
          }
        },
        "INT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "int"
          }
        },
        "LONG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "long"
          }
        },
        "REAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "real"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        },
        "DATETIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dateTime"
          }
        },
        "GUID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "guid"
          }
        },
        "DYNAMIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dynamic"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Column data type."
      }
    },
    "com.azure.operationalinsights#SchemaColumnsList": {
      "type": "list",
      "member": {
        "target": "com.azure.operationalinsights#Column"
      },
      "traits": {
        "smithy.api#documentation": "A list of table custom columns."
      }
    },
    "com.azure.operationalinsights#TablePlanEnum": {
      "type": "enum",
      "members": {
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Basic"
          }
        },
        "ANALYTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Analytics"
          }
        },
        "AUXILIARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Auxiliary"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Instruct the system how to handle and charge the logs ingested to this table."
      }
    },
    "com.azure.operationalinsights#ResultStatistics": {
      "type": "structure",
      "members": {
        "progress": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Search job completion percentage."
          }
        },
        "ingestedRecords": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of rows that were returned by the search job."
          }
        },
        "scannedGb": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Search job: Amount of scanned data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Search job execution statistics."
      }
    },
    "com.azure.operationalinsights#RestoredLogs": {
      "type": "structure",
      "members": {
        "startRestoreTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp to start the restore from (UTC)."
          }
        },
        "endRestoreTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp to end the restore by (UTC)."
          }
        },
        "sourceTable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The table to restore data from."
          }
        },
        "azureAsyncOperationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Search results table async operation id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Restore parameters."
      }
    },
    "com.azure.operationalinsights#SearchResults": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Search job query."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Search job Description."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Limit the search job to return up to specified number of rows."
          }
        },
        "startSearchTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp to start the search from (UTC)"
          }
        },
        "endSearchTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp to end the search by (UTC)"
          }
        },
        "sourceTable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The table used in the search job."
          }
        },
        "azureAsyncOperationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Search results table async operation id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parameters of the search job that initiated this table."
      }
    },
    "com.azure.operationalinsights#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.operationalinsights#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.operationalinsights#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.operationalinsights#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.operationalinsights#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.operationalinsights#TablesUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "tableName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the table."
          }
        },
        "properties": {
          "target": "com.azure.operationalinsights#TablePropertiesInput",
          "traits": {
            "smithy.api#documentation": "Table's properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.operationalinsights#TablePropertiesInput": {
      "type": "structure",
      "members": {
        "retentionInDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "In Analytics table: the tables analytics retention in days, between 4 and 730. Setting this property to -1 will default to the workspace retention. In Basic and Auxiliary table: read only property."
          }
        },
        "totalRetentionInDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The table total retention in days, between 4 and 4383. Setting this property to -1 will default to retentionInDays."
          }
        },
        "searchResults": {
          "target": "com.azure.operationalinsights#SearchResultsInput",
          "traits": {
            "smithy.api#documentation": "Parameters of the search job that initiated this table."
          }
        },
        "restoredLogs": {
          "target": "com.azure.operationalinsights#RestoredLogsInput",
          "traits": {
            "smithy.api#documentation": "Parameters of the restore operation that initiated this table."
          }
        },
        "plan": {
          "target": "com.azure.operationalinsights#TablePlanEnum",
          "traits": {
            "smithy.api#documentation": "Instruct the system how to handle and charge the logs ingested to this table."
          }
        },
        "schema": {
          "target": "com.azure.operationalinsights#SchemaInput",
          "traits": {
            "smithy.api#documentation": "Table schema."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Table properties."
      }
    },
    "com.azure.operationalinsights#SchemaInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Table name."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Table display name."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Table description."
          }
        },
        "columns": {
          "target": "com.azure.operationalinsights#SchemaInputColumnsList",
          "traits": {
            "smithy.api#documentation": "A list of table custom columns."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Table's schema."
      }
    },
    "com.azure.operationalinsights#SchemaInputColumnsList": {
      "type": "list",
      "member": {
        "target": "com.azure.operationalinsights#ColumnInput"
      },
      "traits": {
        "smithy.api#documentation": "A list of table custom columns."
      }
    },
    "com.azure.operationalinsights#ColumnInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column name."
          }
        },
        "type": {
          "target": "com.azure.operationalinsights#ColumnTypeEnum",
          "traits": {
            "smithy.api#documentation": "Column data type."
          }
        },
        "dataTypeHint": {
          "target": "com.azure.operationalinsights#ColumnDataTypeHintEnum",
          "traits": {
            "smithy.api#documentation": "Column data type logical hint."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column display name."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column description."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Table column."
      }
    },
    "com.azure.operationalinsights#RestoredLogsInput": {
      "type": "structure",
      "members": {
        "startRestoreTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp to start the restore from (UTC)."
          }
        },
        "endRestoreTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp to end the restore by (UTC)."
          }
        },
        "sourceTable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The table to restore data from."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Restore parameters."
      }
    },
    "com.azure.operationalinsights#SearchResultsInput": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Search job query."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Search job Description."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Limit the search job to return up to specified number of rows."
          }
        },
        "startSearchTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp to start the search from (UTC)"
          }
        },
        "endSearchTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp to end the search by (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parameters of the search job that initiated this table."
      }
    },
    "com.azure.operationalinsights#TablesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.operationalinsights#TablesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.operationalinsights#TablesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/tables/{tableName}",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Update or Create a Log Analytics workspace table.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.operationalinsights#TablesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.operationalinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.operationalinsights#TableProperties",
          "traits": {
            "smithy.api#documentation": "Table's properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.operationalinsights#TablesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "tableName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the table."
          }
        },
        "properties": {
          "target": "com.azure.operationalinsights#TablePropertiesInput",
          "traits": {
            "smithy.api#documentation": "Table's properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.operationalinsights#TablesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.operationalinsights#TablesGetRequest"
      },
      "output": {
        "target": "com.azure.operationalinsights#TablesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/tables/{tableName}",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Gets a Log Analytics workspace table.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.operationalinsights#TablesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.operationalinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.operationalinsights#TableProperties",
          "traits": {
            "smithy.api#documentation": "Table's properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.operationalinsights#TablesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "tableName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the table."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.operationalinsights#TablesListByWorkspace": {
      "type": "operation",
      "input": {
        "target": "com.azure.operationalinsights#TablesListByWorkspaceRequest"
      },
      "output": {
        "target": "com.azure.operationalinsights#TablesListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/tables",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Gets all the tables for the specified Log Analytics workspace.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.operationalinsights#TablesListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.operationalinsights#TablesListResultValueList",
          "traits": {
            "smithy.api#documentation": "A list of data tables."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to get the next set of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list tables operation response."
      }
    },
    "com.azure.operationalinsights#TablesListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.operationalinsights#Table"
      },
      "traits": {
        "smithy.api#documentation": "A list of data tables."
      }
    },
    "com.azure.operationalinsights#Table": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.operationalinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.operationalinsights#TableProperties",
          "traits": {
            "smithy.api#documentation": "Table's properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Workspace data table definition."
      }
    },
    "com.azure.operationalinsights#TablesListByWorkspaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.operationalinsights#SummaryLogsStop": {
      "type": "operation",
      "input": {
        "target": "com.azure.operationalinsights#SummaryLogsStopRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/summaryLogs/{summaryLogsName}/stop",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Stops an active Summary rule.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.operationalinsights#SummaryLogsStopRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "summaryLogsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the summary logs. Must not contain '/'."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.operationalinsights#SummaryLogsStart": {
      "type": "operation",
      "input": {
        "target": "com.azure.operationalinsights#SummaryLogsStartRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/summaryLogs/{summaryLogsName}/start",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Starts an inactive Summary rule.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.operationalinsights#SummaryLogsStartRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "summaryLogsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the summary logs. Must not contain '/'."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.operationalinsights#SummaryLogsRetryBin": {
      "type": "operation",
      "input": {
        "target": "com.azure.operationalinsights#SummaryLogsRetryBinRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/summaryLogs/{summaryLogsName}/retrybin",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Retries a failed Summary rule bin.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.operationalinsights#SummaryLogsRetryBinRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "summaryLogsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the summary logs. Must not contain '/'."
          }
        },
        "properties": {
          "target": "com.azure.operationalinsights#SummaryLogsRetryBinProperties",
          "traits": {
            "smithy.api#documentation": "Retry bin properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.operationalinsights#SummaryLogsRetryBinProperties": {
      "type": "structure",
      "members": {
        "retryBinStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time (UTC) of the bin to retry.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties for retrying a Summary rule bin."
      }
    },
    "com.azure.operationalinsights#SummaryLogsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.operationalinsights#SummaryLogsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/summaryLogs/{summaryLogsName}",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Deletes Log Analytics workspace Summary rules.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.operationalinsights#SummaryLogsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "summaryLogsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the summary logs. Must not contain '/'."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.operationalinsights#SummaryLogsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.operationalinsights#SummaryLogsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.operationalinsights#SummaryLogsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/summaryLogs/{summaryLogsName}",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Creates or updates Log Analytics workspace Summary rules.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.operationalinsights#SummaryLogsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.operationalinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.operationalinsights#SummaryLogsProperties",
          "traits": {
            "smithy.api#documentation": "Summary rule properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.operationalinsights#SummaryLogsProperties": {
      "type": "structure",
      "members": {
        "ruleType": {
          "target": "com.azure.operationalinsights#RuleTypeEnum",
          "traits": {
            "smithy.api#documentation": "SummaryRules rule type: User."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the Summary rule."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the Summary rule."
          }
        },
        "isActive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if Summary rule is active. If not, Summary rule execution stops."
          }
        },
        "statusCode": {
          "target": "com.azure.operationalinsights#StatusCodeEnum",
          "traits": {
            "smithy.api#documentation": "Indicates the reason for rule deactivation."
          }
        },
        "provisioningState": {
          "target": "com.azure.operationalinsights#ProvisioningStateEnum",
          "traits": {
            "smithy.api#documentation": "Summary rule is in provisioning state. If set to 'updating' or 'deleting', indicates a resource lock due to an ongoing operation, preventing any update to the Summary rule until the operation is complete."
          }
        },
        "ruleDefinition": {
          "target": "com.azure.operationalinsights#RuleDefinition",
          "traits": {
            "smithy.api#documentation": "Rule definition parameters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Summary rule properties."
      }
    },
    "com.azure.operationalinsights#RuleDefinition": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Summary rule query."
          }
        },
        "binSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Scheduled window in minutes. Allowed values: 20, 30, 60, 120, 180, 360, 720, 1440."
          }
        },
        "binDelay": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The minimum delay in seconds before bin processing."
          }
        },
        "binStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time (UTC) when Summary rule execution starts."
          }
        },
        "timeSelector": {
          "target": "com.azure.operationalinsights#TimeSelectorEnum",
          "traits": {
            "smithy.api#documentation": "The time cursor used in Summary rules bins processing, e.g. TimeGenerated."
          }
        },
        "destinationTable": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The destination table used for the Summary rule results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Rule definition parameters."
      }
    },
    "com.azure.operationalinsights#TimeSelectorEnum": {
      "type": "enum",
      "members": {
        "TIMEGENERATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TimeGenerated"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The time cursor used in Summary rules bins processing, e.g. TimeGenerated."
      }
    },
    "com.azure.operationalinsights#ProvisioningStateEnum": {
      "type": "enum",
      "members": {
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Table's current provisioning state. If set to 'updating', indicates a resource lock due to ongoing operation, forbidding any update to the table until the ongoing operation is concluded."
      }
    },
    "com.azure.operationalinsights#StatusCodeEnum": {
      "type": "enum",
      "members": {
        "USERACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAction"
          }
        },
        "DATAPLANEERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DataPlaneError"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates the reason for rule deactivation."
      }
    },
    "com.azure.operationalinsights#RuleTypeEnum": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SummaryRules rule type: User."
      }
    },
    "com.azure.operationalinsights#SummaryLogsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "summaryLogsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the summary logs. Must not contain '/'."
          }
        },
        "properties": {
          "target": "com.azure.operationalinsights#SummaryLogsPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Summary rule properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.operationalinsights#SummaryLogsPropertiesInput": {
      "type": "structure",
      "members": {
        "ruleType": {
          "target": "com.azure.operationalinsights#RuleTypeEnum",
          "traits": {
            "smithy.api#documentation": "SummaryRules rule type: User."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the Summary rule."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the Summary rule."
          }
        },
        "ruleDefinition": {
          "target": "com.azure.operationalinsights#RuleDefinition",
          "traits": {
            "smithy.api#documentation": "Rule definition parameters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Summary rule properties."
      }
    },
    "com.azure.operationalinsights#SummaryLogsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.operationalinsights#SummaryLogsGetRequest"
      },
      "output": {
        "target": "com.azure.operationalinsights#SummaryLogsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/summaryLogs/{summaryLogsName}",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Gets Log Analytics workspace Summary rules.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.operationalinsights#SummaryLogsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.operationalinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.operationalinsights#SummaryLogsProperties",
          "traits": {
            "smithy.api#documentation": "Summary rule properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.operationalinsights#SummaryLogsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "summaryLogsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the summary logs. Must not contain '/'."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.operationalinsights#SummaryLogsListByWorkspace": {
      "type": "operation",
      "input": {
        "target": "com.azure.operationalinsights#SummaryLogsListByWorkspaceRequest"
      },
      "output": {
        "target": "com.azure.operationalinsights#SummaryLogsListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/summaryLogs",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Gets all summary rules for the specified Log Analytics workspace.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.operationalinsights#SummaryLogsListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.operationalinsights#SummaryLogsListResultValueList",
          "traits": {
            "smithy.api#documentation": "The SummaryLogs items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a SummaryLogs list operation."
      }
    },
    "com.azure.operationalinsights#SummaryLogsListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.operationalinsights#SummaryLogs"
      },
      "traits": {
        "smithy.api#documentation": "The SummaryLogs items on this page"
      }
    },
    "com.azure.operationalinsights#SummaryLogs": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.operationalinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.operationalinsights#SummaryLogsProperties",
          "traits": {
            "smithy.api#documentation": "Summary rule properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Workspace data summary rules definition."
      }
    },
    "com.azure.operationalinsights#SummaryLogsListByWorkspaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.operationalinsights#StorageInsightConfigsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.operationalinsights#StorageInsightConfigsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/storageInsightConfigs/{storageInsightName}",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Deletes a storageInsightsConfigs resource",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.operationalinsights#StorageInsightConfigsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "storageInsightName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the storageInsightsConfigs resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.operationalinsights#StorageInsightConfigsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.operationalinsights#StorageInsightConfigsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.operationalinsights#StorageInsightConfigsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/storageInsightConfigs/{storageInsightName}",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Create or update a storage insight.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.operationalinsights#StorageInsightConfigsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.operationalinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.operationalinsights#StorageInsightProperties",
          "traits": {
            "smithy.api#documentation": "Storage insight properties."
          }
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ETag of the storage insight."
          }
        },
        "tags": {
          "target": "com.azure.operationalinsights#StorageInsightConfigsCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.operationalinsights#StorageInsightConfigsCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.operationalinsights#StorageInsightProperties": {
      "type": "structure",
      "members": {
        "containers": {
          "target": "com.azure.operationalinsights#StorageInsightPropertiesContainersList",
          "traits": {
            "smithy.api#documentation": "The names of the blob containers that the workspace should read"
          }
        },
        "tables": {
          "target": "com.azure.operationalinsights#StorageInsightPropertiesTablesList",
          "traits": {
            "smithy.api#documentation": "The names of the Azure tables that the workspace should read"
          }
        },
        "storageAccount": {
          "target": "com.azure.operationalinsights#StorageAccount",
          "traits": {
            "smithy.api#documentation": "The storage account connection details",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.azure.operationalinsights#StorageInsightStatus",
          "traits": {
            "smithy.api#documentation": "The status of the storage insight"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Storage insight properties."
      }
    },
    "com.azure.operationalinsights#StorageInsightStatus": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.azure.operationalinsights#StorageInsightState",
          "traits": {
            "smithy.api#documentation": "The state of the storage insight connection to the workspace",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the state of the storage insight."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the storage insight."
      }
    },
    "com.azure.operationalinsights#StorageInsightState": {
      "type": "enum",
      "members": {
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OK"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of the storage insight connection to the workspace"
      }
    },
    "com.azure.operationalinsights#StorageAccount": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Azure Resource Manager ID of the storage account resource.",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The storage account key.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a storage account connection."
      }
    },
    "com.azure.operationalinsights#StorageInsightPropertiesTablesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The names of the Azure tables that the workspace should read"
      }
    },
    "com.azure.operationalinsights#StorageInsightPropertiesContainersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The names of the blob containers that the workspace should read"
      }
    },
    "com.azure.operationalinsights#StorageInsightConfigsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "storageInsightName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the storageInsightsConfigs resource"
          }
        },
        "properties": {
          "target": "com.azure.operationalinsights#StorageInsightProperties",
          "traits": {
            "smithy.api#documentation": "Storage insight properties."
          }
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ETag of the storage insight."
          }
        },
        "tags": {
          "target": "com.azure.operationalinsights#StorageInsightConfigsCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.operationalinsights#StorageInsightConfigsCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.operationalinsights#StorageInsightConfigsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.operationalinsights#StorageInsightConfigsGetRequest"
      },
      "output": {
        "target": "com.azure.operationalinsights#StorageInsightConfigsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/storageInsightConfigs/{storageInsightName}",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Gets a storage insight instance.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.operationalinsights#StorageInsightConfigsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.operationalinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.operationalinsights#StorageInsightProperties",
          "traits": {
            "smithy.api#documentation": "Storage insight properties."
          }
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ETag of the storage insight."
          }
        },
        "tags": {
          "target": "com.azure.operationalinsights#StorageInsightConfigsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.operationalinsights#StorageInsightConfigsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.operationalinsights#StorageInsightConfigsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "storageInsightName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the storageInsightsConfigs resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.operationalinsights#StorageInsightConfigsListByWorkspace": {
      "type": "operation",
      "input": {
        "target": "com.azure.operationalinsights#StorageInsightConfigsListByWorkspaceRequest"
      },
      "output": {
        "target": "com.azure.operationalinsights#StorageInsightListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/storageInsightConfigs",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Lists the storage insight instances within a workspace",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.operationalinsights#StorageInsightListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.operationalinsights#StorageInsightListResultValueList",
          "traits": {
            "smithy.api#documentation": "A list of storage insight items."
          }
        },
        "_odata_nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link (url) to the next page of results.",
            "smithy.api#jsonName": "@odata.nextLink"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list storage insights operation response."
      }
    },
    "com.azure.operationalinsights#StorageInsightListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.operationalinsights#StorageInsight"
      },
      "traits": {
        "smithy.api#documentation": "A list of storage insight items."
      }
    },
    "com.azure.operationalinsights#StorageInsight": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.operationalinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.operationalinsights#StorageInsightProperties",
          "traits": {
            "smithy.api#documentation": "Storage insight properties."
          }
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ETag of the storage insight."
          }
        },
        "tags": {
          "target": "com.azure.operationalinsights#StorageInsightTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The top level storage insight resource container."
      }
    },
    "com.azure.operationalinsights#StorageInsightTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.operationalinsights#StorageInsightConfigsListByWorkspaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
[...]
