{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.orbitalplanetarycomputer#GeoCatalogsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.orbitalplanetarycomputer#GeoCatalogsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Orbital/geoCatalogs/{catalogName}",
          "code": 200,
          "apiVersion": "2026-04-15"
        },
        "smithy.api#documentation": "Delete a GeoCatalog",
        "com.distilled.openapi#apiVersion": "2026-04-15"
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalogsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the catalog"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalogsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.orbitalplanetarycomputer#GeoCatalogsUpdateRequest"
      },
      "output": {
        "target": "com.azure.orbitalplanetarycomputer#GeoCatalogsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Orbital/geoCatalogs/{catalogName}",
          "code": 200,
          "apiVersion": "2026-04-15"
        },
        "smithy.api#documentation": "Update a GeoCatalog",
        "com.distilled.openapi#apiVersion": "2026-04-15"
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalogsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.orbitalplanetarycomputer#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.orbitalplanetarycomputer#GeoCatalogsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.orbitalplanetarycomputer#GeoCatalogProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "identity": {
          "target": "com.azure.orbitalplanetarycomputer#GeoCatalogsUpdateResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalogsUpdateResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.orbitalplanetarycomputer#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.orbitalplanetarycomputer#UserAssignedIdentities"
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.orbitalplanetarycomputer#UserAssignedIdentities": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.orbitalplanetarycomputer#UserAssignedIdentity"
      },
      "traits": {
        "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
      }
    },
    "com.azure.orbitalplanetarycomputer#UserAssignedIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of the assigned identity."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client ID of the assigned identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User assigned identity properties"
      }
    },
    "com.azure.orbitalplanetarycomputer#ManagedServiceIdentityType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        },
        "SYSTEMASSIGNED_USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned,UserAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of managed service identity (where both SystemAssigned and UserAssigned types are allowed)."
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalogProperties": {
      "type": "structure",
      "members": {
        "tier": {
          "target": "com.azure.orbitalplanetarycomputer#GeoCatalogPropertiesTier",
          "traits": {
            "smithy.api#documentation": "Tier of the catalog. This cannot be changed after the catalog is created. If not provided, defaults to Basic."
          }
        },
        "catalogUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of the catalog management UI."
          }
        },
        "provisioningState": {
          "target": "com.azure.orbitalplanetarycomputer#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The status of the last operation."
          }
        },
        "autoGeneratedDomainNameLabelScope": {
          "target": "com.azure.orbitalplanetarycomputer#GeoCatalogPropertiesAutoGeneratedDomainNameLabelScope",
          "traits": {
            "smithy.api#documentation": "The scope of the auto-generated domain name label. If not provided, defaults to TenantReuse."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details of the Microsoft Planetary Computer Pro GeoCatalog."
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalogPropertiesAutoGeneratedDomainNameLabelScope": {
      "type": "enum",
      "members": {
        "NOREUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NoReuse"
          }
        },
        "TENANTREUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TenantReuse"
          }
        },
        "SUBSCRIPTIONREUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SubscriptionReuse"
          }
        },
        "RESOURCEGROUPREUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ResourceGroupReuse"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The scope of the auto-generated domain name label. If not provided, defaults to TenantReuse."
      }
    },
    "com.azure.orbitalplanetarycomputer#ProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the current operation."
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalogPropertiesTier": {
      "type": "enum",
      "members": {
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Basic"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Tier of the catalog. This cannot be changed after the catalog is created. If not provided, defaults to Basic."
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalogsUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.orbitalplanetarycomputer#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.orbitalplanetarycomputer#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.orbitalplanetarycomputer#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.orbitalplanetarycomputer#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.orbitalplanetarycomputer#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalogsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the catalog"
          }
        },
        "tags": {
          "target": "com.azure.orbitalplanetarycomputer#GeoCatalogsUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "identity": {
          "target": "com.azure.orbitalplanetarycomputer#ManagedServiceIdentityUpdateInput",
          "traits": {
            "smithy.api#documentation": "The managed service identity properties to update."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.orbitalplanetarycomputer#ManagedServiceIdentityUpdateInput": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.orbitalplanetarycomputer#ManagedServiceIdentityUpdateInputType",
          "traits": {
            "smithy.api#documentation": "Type of managed service identity (where both SystemAssigned and UserAssigned types are allowed)."
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.orbitalplanetarycomputer#ManagedServiceIdentityUpdateInputUserAssignedIdentitiesMap",
          "traits": {
            "smithy.api#documentation": "The identities assigned to this resource by the user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The template for adding optional properties."
      }
    },
    "com.azure.orbitalplanetarycomputer#ManagedServiceIdentityUpdateInputUserAssignedIdentitiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.orbitalplanetarycomputer#ManagedServiceIdentityUpdateInputUserAssignedIdentitiesValue"
      },
      "traits": {
        "smithy.api#documentation": "The identities assigned to this resource by the user."
      }
    },
    "com.azure.orbitalplanetarycomputer#ManagedServiceIdentityUpdateInputUserAssignedIdentitiesValue": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "User assigned identity properties"
      }
    },
    "com.azure.orbitalplanetarycomputer#ManagedServiceIdentityUpdateInputType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        },
        "SYSTEMASSIGNED_USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned,UserAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of managed service identity (where both SystemAssigned and UserAssigned types are allowed)."
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalogsUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalogsCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.orbitalplanetarycomputer#GeoCatalogsCreateRequest"
      },
      "output": {
        "target": "com.azure.orbitalplanetarycomputer#GeoCatalogsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Orbital/geoCatalogs/{catalogName}",
          "code": 200,
          "apiVersion": "2026-04-15"
        },
        "smithy.api#documentation": "Create a GeoCatalog",
        "com.distilled.openapi#apiVersion": "2026-04-15"
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalogsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.orbitalplanetarycomputer#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.orbitalplanetarycomputer#GeoCatalogsCreateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.orbitalplanetarycomputer#GeoCatalogProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "identity": {
          "target": "com.azure.orbitalplanetarycomputer#GeoCatalogsCreateResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalogsCreateResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.orbitalplanetarycomputer#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.orbitalplanetarycomputer#UserAssignedIdentities"
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalogsCreateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalogsCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the catalog"
          }
        },
        "tags": {
          "target": "com.azure.orbitalplanetarycomputer#GeoCatalogsCreateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.orbitalplanetarycomputer#GeoCatalogPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "identity": {
          "target": "com.azure.orbitalplanetarycomputer#GeoCatalogsCreateRequestIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalogsCreateRequestIdentity": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.orbitalplanetarycomputer#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.orbitalplanetarycomputer#UserAssignedIdentitiesInput"
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.orbitalplanetarycomputer#UserAssignedIdentitiesInput": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.orbitalplanetarycomputer#UserAssignedIdentityInput"
      },
      "traits": {
        "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
      }
    },
    "com.azure.orbitalplanetarycomputer#UserAssignedIdentityInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "User assigned identity properties"
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalogPropertiesInput": {
      "type": "structure",
      "members": {
        "tier": {
          "target": "com.azure.orbitalplanetarycomputer#GeoCatalogPropertiesInputTier",
          "traits": {
            "smithy.api#documentation": "Tier of the catalog. This cannot be changed after the catalog is created. If not provided, defaults to Basic."
          }
        },
        "autoGeneratedDomainNameLabelScope": {
          "target": "com.azure.orbitalplanetarycomputer#GeoCatalogPropertiesInputAutoGeneratedDomainNameLabelScope",
          "traits": {
            "smithy.api#documentation": "The scope of the auto-generated domain name label. If not provided, defaults to TenantReuse."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details of the Microsoft Planetary Computer Pro GeoCatalog."
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalogPropertiesInputAutoGeneratedDomainNameLabelScope": {
      "type": "enum",
      "members": {
        "NOREUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NoReuse"
          }
        },
        "TENANTREUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TenantReuse"
          }
        },
        "SUBSCRIPTIONREUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SubscriptionReuse"
          }
        },
        "RESOURCEGROUPREUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ResourceGroupReuse"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The scope of the auto-generated domain name label. If not provided, defaults to TenantReuse."
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalogPropertiesInputTier": {
      "type": "enum",
      "members": {
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Basic"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Tier of the catalog. This cannot be changed after the catalog is created. If not provided, defaults to Basic."
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalogsCreateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalogsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.orbitalplanetarycomputer#GeoCatalogsGetRequest"
      },
      "output": {
        "target": "com.azure.orbitalplanetarycomputer#GeoCatalogsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Orbital/geoCatalogs/{catalogName}",
          "code": 200,
          "apiVersion": "2026-04-15"
        },
        "smithy.api#documentation": "Get a GeoCatalog",
        "com.distilled.openapi#apiVersion": "2026-04-15"
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalogsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.orbitalplanetarycomputer#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.orbitalplanetarycomputer#GeoCatalogsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.orbitalplanetarycomputer#GeoCatalogProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "identity": {
          "target": "com.azure.orbitalplanetarycomputer#GeoCatalogsGetResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalogsGetResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.orbitalplanetarycomputer#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.orbitalplanetarycomputer#UserAssignedIdentities"
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalogsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalogsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "catalogName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the catalog"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalogsListByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.orbitalplanetarycomputer#GeoCatalogsListByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.orbitalplanetarycomputer#GeoCatalogListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Orbital/geoCatalogs",
          "code": 200,
          "apiVersion": "2026-04-15"
        },
        "smithy.api#documentation": "List GeoCatalog resources by resource group",
        "com.distilled.openapi#apiVersion": "2026-04-15"
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalogListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.orbitalplanetarycomputer#GeoCatalogListResultValueList",
          "traits": {
            "smithy.api#documentation": "The GeoCatalog items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a GeoCatalog list operation."
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalogListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.orbitalplanetarycomputer#GeoCatalog"
      },
      "traits": {
        "smithy.api#documentation": "The GeoCatalog items on this page"
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalog": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.orbitalplanetarycomputer#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.orbitalplanetarycomputer#GeoCatalogTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.orbitalplanetarycomputer#GeoCatalogProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "identity": {
          "target": "com.azure.orbitalplanetarycomputer#GeoCatalogIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Microsoft Planetary Computer Pro GeoCatalog resource"
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalogIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.orbitalplanetarycomputer#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.orbitalplanetarycomputer#UserAssignedIdentities"
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalogTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalogsListByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalogsListBySubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.orbitalplanetarycomputer#GeoCatalogsListBySubscriptionRequest"
      },
      "output": {
        "target": "com.azure.orbitalplanetarycomputer#GeoCatalogListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Orbital/geoCatalogs",
          "code": 200,
          "apiVersion": "2026-04-15"
        },
        "smithy.api#documentation": "List GeoCatalog resources by subscription ID",
        "com.distilled.openapi#apiVersion": "2026-04-15"
      }
    },
    "com.azure.orbitalplanetarycomputer#GeoCatalogsListBySubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.orbitalplanetarycomputer#Orbitalplanetarycomputer": {
      "type": "service",
      "version": "1.0",
      "operations": [
        {
          "target": "com.azure.orbitalplanetarycomputer#GeoCatalogsDelete"
        },
        {
          "target": "com.azure.orbitalplanetarycomputer#GeoCatalogsUpdate"
        },
        {
          "target": "com.azure.orbitalplanetarycomputer#GeoCatalogsCreate"
        },
        {
          "target": "com.azure.orbitalplanetarycomputer#GeoCatalogsGet"
        },
        {
          "target": "com.azure.orbitalplanetarycomputer#GeoCatalogsListByResourceGroup"
        },
        {
          "target": "com.azure.orbitalplanetarycomputer#GeoCatalogsListBySubscription"
        }
      ],
      "traits": {
        "smithy.api#title": "Azure Orbitalplanetarycomputer",
        "smithy.api#documentation": "Azure Orbitalplanetarycomputer API — merged from the orbitalplanetarycomputer resource-manager specs (latest stable api-version per resource provider)."
      }
    }
  }
}
