{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.orbital#OperationsResultsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.orbital#OperationsResultsGetRequest"
      },
      "output": {
        "target": "com.azure.orbital#OperationResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Orbital/locations/{location}/operationResults/{operationId}",
          "code": 200,
          "apiVersion": "2022-11-01"
        },
        "smithy.api#documentation": "Returns operation results.",
        "com.distilled.openapi#apiVersion": "2022-11-01"
      }
    },
    "com.azure.orbital#OperationResult": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the resource."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource."
          }
        },
        "status": {
          "target": "com.azure.orbital#Status"
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operation start time (ISO 8601 UTC standard)."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operation end time (ISO 8601 UTC standard)."
          }
        },
        "percentComplete": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percentage completed."
          }
        },
        "value": {
          "target": "com.azure.orbital#OperationResultValueList",
          "traits": {
            "smithy.api#documentation": "A list of results when the operation returns multiple results."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to get the next set of results."
          }
        },
        "properties": {
          "target": "smithy.api#Document"
        },
        "error": {
          "target": "com.azure.orbital#OperationResultErrorProperties"
        }
      },
      "traits": {
        "smithy.api#documentation": "Operation Result Entity."
      }
    },
    "com.azure.orbital#OperationResultErrorProperties": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The code of the error."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Operation result error properties."
      }
    },
    "com.azure.orbital#OperationResultValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "A list of results when the operation returns multiple results."
      }
    },
    "com.azure.orbital#Status": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of operation."
      }
    },
    "com.azure.orbital#OperationsResultsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of Azure region."
          }
        },
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of an ongoing async operation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.orbital#AvailableGroundStationsListByCapability": {
      "type": "operation",
      "input": {
        "target": "com.azure.orbital#AvailableGroundStationsListByCapabilityRequest"
      },
      "output": {
        "target": "com.azure.orbital#AvailableGroundStationListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Orbital/availableGroundStations",
          "code": 200,
          "apiVersion": "2022-11-01"
        },
        "smithy.api#documentation": "Returns list of available ground stations.",
        "com.distilled.openapi#apiVersion": "2022-11-01"
      }
    },
    "com.azure.orbital#AvailableGroundStationListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.orbital#AvailableGroundStationListResultValueList",
          "traits": {
            "smithy.api#documentation": "A list of ground station resources."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to get the next set of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the AvailableGroundStations API service call."
      }
    },
    "com.azure.orbital#AvailableGroundStationListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.orbital#AvailableGroundStation"
      },
      "traits": {
        "smithy.api#documentation": "A list of ground station resources."
      }
    },
    "com.azure.orbital#AvailableGroundStation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of groundStation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the ground station."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure region."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "properties": {
          "target": "com.azure.orbital#AvailableGroundStationProperties",
          "traits": {
            "smithy.api#documentation": "The properties bag for this resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ground Stations available to schedule Contacts."
      }
    },
    "com.azure.orbital#AvailableGroundStationProperties": {
      "type": "structure",
      "members": {
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "City of ground station."
          }
        },
        "providerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ground station provider name."
          }
        },
        "longitudeDegrees": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Longitude of the ground station in decimal degrees."
          }
        },
        "latitudeDegrees": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Latitude of the ground station in decimal degrees."
          }
        },
        "altitudeMeters": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Altitude of the ground station."
          }
        },
        "releaseMode": {
          "target": "com.azure.orbital#AvailableGroundStationPropertiesReleaseMode",
          "traits": {
            "smithy.api#documentation": "Release Status of a ground station."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties object for Available groundstation."
      }
    },
    "com.azure.orbital#AvailableGroundStationPropertiesReleaseMode": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Preview"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Release Status of a ground station."
      }
    },
    "com.azure.orbital#AvailableGroundStationsListByCapabilityRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "capability": {
          "target": "com.azure.orbital#AvailableGroundStationsListByCapabilityRequestCapability",
          "traits": {
            "smithy.api#httpQuery": "capability",
            "smithy.api#required": {},
            "smithy.api#documentation": "Ground Station Capability."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.orbital#AvailableGroundStationsListByCapabilityRequestCapability": {
      "type": "enum",
      "members": {
        "EARTHOBSERVATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EarthObservation"
          }
        },
        "COMMUNICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Communication"
          }
        }
      },
      "traits": {}
    },
    "com.azure.orbital#ContactProfilesList": {
      "type": "operation",
      "input": {
        "target": "com.azure.orbital#ContactProfilesListRequest"
      },
      "output": {
        "target": "com.azure.orbital#ContactProfileListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Orbital/contactProfiles",
          "code": 200,
          "apiVersion": "2022-11-01"
        },
        "smithy.api#documentation": "Returns list of contact profiles by Resource Group.",
        "com.distilled.openapi#apiVersion": "2022-11-01"
      }
    },
    "com.azure.orbital#ContactProfileListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.orbital#ContactProfileListResultValueList",
          "traits": {
            "smithy.api#documentation": "A list of contact profile resources in a resource group."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to get the next set of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the ListContactProfiles API service call."
      }
    },
    "com.azure.orbital#ContactProfileListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.orbital#ContactProfile"
      },
      "traits": {
        "smithy.api#documentation": "A list of contact profile resources in a resource group."
      }
    },
    "com.azure.orbital#ContactProfile": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.orbital#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.orbital#ContactProfileTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.orbital#ContactProfilesProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the contact profile resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Customer creates a Contact Profile Resource, which will contain all of the configurations required for scheduling a contact."
      }
    },
    "com.azure.orbital#ContactProfilesProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.orbital#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The current state of the resource's creation, deletion, or modification."
          }
        },
        "minimumViableContactDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Minimum viable contact duration in ISO 8601 format. Used for listing the available contacts with a spacecraft at a given ground station."
          }
        },
        "minimumElevationDegrees": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Minimum viable elevation for the contact in decimal degrees. Used for listing the available contacts with a spacecraft at a given ground station."
          }
        },
        "autoTrackingConfiguration": {
          "target": "com.azure.orbital#ContactProfilesPropertiesAutoTrackingConfiguration",
          "traits": {
            "smithy.api#documentation": "Auto-tracking configuration."
          }
        },
        "eventHubUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ARM resource identifier of the Event Hub used for telemetry. Requires granting Orbital Resource Provider the rights to send telemetry into the hub."
          }
        },
        "networkConfiguration": {
          "target": "com.azure.orbital#ContactProfilesPropertiesNetworkConfiguration",
          "traits": {
            "smithy.api#documentation": "Network configuration of customer virtual network.",
            "smithy.api#required": {}
          }
        },
        "thirdPartyConfigurations": {
          "target": "com.azure.orbital#ContactProfilesPropertiesThirdPartyConfigurationsList",
          "traits": {
            "smithy.api#documentation": "Third-party mission configuration of the Contact Profile. Describes RF links, modem processing, and IP endpoints."
          }
        },
        "links": {
          "target": "com.azure.orbital#ContactProfilesPropertiesLinksList",
          "traits": {
            "smithy.api#documentation": "Links of the Contact Profile. Describes RF links, modem processing, and IP endpoints.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of Contact Profile Resource Properties."
      }
    },
    "com.azure.orbital#ContactProfilesPropertiesLinksList": {
      "type": "list",
      "member": {
        "target": "com.azure.orbital#ContactProfileLink"
      },
      "traits": {
        "smithy.api#documentation": "Links of the Contact Profile. Describes RF links, modem processing, and IP endpoints."
      }
    },
    "com.azure.orbital#ContactProfileLink": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link name.",
            "smithy.api#required": {}
          }
        },
        "polarization": {
          "target": "com.azure.orbital#ContactProfileLinkPolarization",
          "traits": {
            "smithy.api#documentation": "Polarization. e.g. (RHCP, LHCP).",
            "smithy.api#required": {}
          }
        },
        "direction": {
          "target": "com.azure.orbital#ContactProfileLinkDirection",
          "traits": {
            "smithy.api#documentation": "Direction (Uplink or Downlink).",
            "smithy.api#required": {}
          }
        },
        "gainOverTemperature": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Gain to noise temperature in db/K. It is the required G/T by the customer. Not used yet."
          }
        },
        "eirpdBW": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Effective Isotropic Radiated Power (EIRP) in dBW. It is the required EIRP by the customer. Not used yet."
          }
        },
        "channels": {
          "target": "com.azure.orbital#ContactProfileLinkChannelsList",
          "traits": {
            "smithy.api#documentation": "Contact Profile Link Channel.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contact Profile Link."
      }
    },
    "com.azure.orbital#ContactProfileLinkChannelsList": {
      "type": "list",
      "member": {
        "target": "com.azure.orbital#ContactProfileLinkChannel"
      },
      "traits": {
        "smithy.api#documentation": "Contact Profile Link Channel."
      }
    },
    "com.azure.orbital#ContactProfileLinkChannel": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Channel name.",
            "smithy.api#required": {}
          }
        },
        "centerFrequencyMHz": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Center Frequency in MHz.",
            "smithy.api#required": {}
          }
        },
        "bandwidthMHz": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Bandwidth in MHz.",
            "smithy.api#required": {}
          }
        },
        "endPoint": {
          "target": "com.azure.orbital#EndPoint",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modulationConfiguration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Copy of the modem configuration file such as Kratos QRadio. Only valid for uplink directions. If provided, the modem connects to the customer endpoint and accepts commands from the customer instead of a VITA.49 stream."
          }
        },
        "demodulationConfiguration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Copy of the modem configuration file such as Kratos QRadio or Kratos QuantumRx. Only valid for downlink directions. If provided, the modem connects to the customer endpoint and sends demodulated data instead of a VITA.49 stream."
          }
        },
        "encodingConfiguration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Currently unused."
          }
        },
        "decodingConfiguration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Currently unused."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contact Profile Link Channel."
      }
    },
    "com.azure.orbital#EndPoint": {
      "type": "structure",
      "members": {
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Address (IPv4).",
            "smithy.api#required": {}
          }
        },
        "endPointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of an end point.",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "TCP port to listen on to receive data.",
            "smithy.api#required": {}
          }
        },
        "protocol": {
          "target": "com.azure.orbital#EndPointProtocol",
          "traits": {
            "smithy.api#documentation": "Protocol either UDP or TCP.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Customer end point to store and retrieve data during a contact with the spacecraft."
      }
    },
    "com.azure.orbital#EndPointProtocol": {
      "type": "enum",
      "members": {
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TCP"
          }
        },
        "UDP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UDP"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Protocol either UDP or TCP."
      }
    },
    "com.azure.orbital#ContactProfileLinkDirection": {
      "type": "enum",
      "members": {
        "UPLINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Uplink"
          }
        },
        "DOWNLINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Downlink"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Direction (Uplink or Downlink)."
      }
    },
    "com.azure.orbital#ContactProfileLinkPolarization": {
      "type": "enum",
      "members": {
        "RHCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RHCP"
          }
        },
        "LHCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LHCP"
          }
        },
        "LINEARVERTICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "linearVertical"
          }
        },
        "LINEARHORIZONTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "linearHorizontal"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Polarization. e.g. (RHCP, LHCP)."
      }
    },
    "com.azure.orbital#ContactProfilesPropertiesThirdPartyConfigurationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.orbital#ContactProfileThirdPartyConfiguration"
      },
      "traits": {
        "smithy.api#documentation": "Third-party mission configuration of the Contact Profile. Describes RF links, modem processing, and IP endpoints."
      }
    },
    "com.azure.orbital#ContactProfileThirdPartyConfiguration": {
      "type": "structure",
      "members": {
        "providerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the third-party provider.",
            "smithy.api#required": {}
          }
        },
        "missionConfiguration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of string referencing the configuration describing contact set-up for a particular mission. Expected values are those which have been created in collaboration with the partner network.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contact Profile third-party partner configuration."
      }
    },
    "com.azure.orbital#ContactProfilesPropertiesNetworkConfiguration": {
      "type": "structure",
      "members": {
        "subnetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ARM resource identifier of the subnet delegated to the Microsoft.Orbital/orbitalGateways. Needs to be at least a class C subnet, and should not have any IP created in it.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network configuration of customer virtual network."
      }
    },
    "com.azure.orbital#ContactProfilesPropertiesAutoTrackingConfiguration": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "XBAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xBand"
          }
        },
        "SBAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sBand"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Auto-tracking configuration."
      }
    },
    "com.azure.orbital#ProvisioningState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "creating"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleting"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current state of the resource's creation, deletion, or modification."
      }
    },
    "com.azure.orbital#ContactProfileTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.orbital#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.orbital#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.orbital#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.orbital#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.orbital#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.orbital#ContactProfilesListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "_skiptoken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skiptoken",
            "smithy.api#documentation": "An opaque string that the resource provider uses to skip over previously-returned results. This is used when a previous list operation call returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.orbital#ContactProfilesListBySubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.orbital#ContactProfilesListBySubscriptionRequest"
      },
      "output": {
        "target": "com.azure.orbital#ContactProfileListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Orbital/contactProfiles",
          "code": 200,
          "apiVersion": "2022-11-01"
        },
        "smithy.api#documentation": "Returns list of contact profiles by Subscription.",
        "com.distilled.openapi#apiVersion": "2022-11-01"
      }
    },
    "com.azure.orbital#ContactProfilesListBySubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "_skiptoken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skiptoken",
            "smithy.api#documentation": "An opaque string that the resource provider uses to skip over previously-returned results. This is used when a previous list operation call returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.orbital#ContactProfilesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.orbital#ContactProfilesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Orbital/contactProfiles/{contactProfileName}",
          "code": 200,
          "apiVersion": "2022-11-01"
        },
        "smithy.api#documentation": "Deletes a specified contact profile resource.",
        "com.distilled.openapi#apiVersion": "2022-11-01"
      }
    },
    "com.azure.orbital#ContactProfilesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "contactProfileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Contact Profile name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.orbital#ContactProfilesUpdateTags": {
      "type": "operation",
      "input": {
        "target": "com.azure.orbital#ContactProfilesUpdateTagsRequest"
      },
      "output": {
        "target": "com.azure.orbital#ContactProfilesUpdateTagsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Orbital/contactProfiles/{contactProfileName}",
          "code": 200,
          "apiVersion": "2022-11-01"
        },
        "smithy.api#documentation": "Updates the specified contact profile tags.",
        "com.distilled.openapi#apiVersion": "2022-11-01"
      }
    },
    "com.azure.orbital#ContactProfilesUpdateTagsResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.orbital#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.orbital#ContactProfilesUpdateTagsResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.orbital#ContactProfilesProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the contact profile resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.orbital#ContactProfilesUpdateTagsResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.orbital#ContactProfilesUpdateTagsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "contactProfileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Contact Profile name."
          }
        },
        "tags": {
          "target": "com.azure.orbital#ContactProfilesUpdateTagsRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.orbital#ContactProfilesUpdateTagsRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.orbital#ContactProfilesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.orbital#ContactProfilesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.orbital#ContactProfilesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Orbital/contactProfiles/{contactProfileName}",
          "code": 200,
          "apiVersion": "2022-11-01"
        },
        "smithy.api#documentation": "Creates or updates a contact profile.",
        "com.distilled.openapi#apiVersion": "2022-11-01"
      }
    },
    "com.azure.orbital#ContactProfilesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.orbital#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.orbital#ContactProfilesCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.orbital#ContactProfilesProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the contact profile resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.orbital#ContactProfilesCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.orbital#ContactProfilesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "contactProfileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Contact Profile name."
          }
        },
        "tags": {
          "target": "com.azure.orbital#ContactProfilesCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.orbital#ContactProfilesPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Properties of the contact profile resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.orbital#ContactProfilesPropertiesInput": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.orbital#ProvisioningStateInput",
          "traits": {
            "smithy.api#documentation": "The current state of the resource's creation, deletion, or modification."
          }
        },
        "minimumViableContactDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Minimum viable contact duration in ISO 8601 format. Used for listing the available contacts with a spacecraft at a given ground station."
          }
        },
        "minimumElevationDegrees": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Minimum viable elevation for the contact in decimal degrees. Used for listing the available contacts with a spacecraft at a given ground station."
          }
        },
        "autoTrackingConfiguration": {
          "target": "com.azure.orbital#ContactProfilesPropertiesInputAutoTrackingConfiguration",
          "traits": {
            "smithy.api#documentation": "Auto-tracking configuration."
          }
        },
        "eventHubUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ARM resource identifier of the Event Hub used for telemetry. Requires granting Orbital Resource Provider the rights to send telemetry into the hub."
          }
        },
        "networkConfiguration": {
          "target": "com.azure.orbital#ContactProfilesPropertiesInputNetworkConfiguration",
          "traits": {
            "smithy.api#documentation": "Network configuration of customer virtual network.",
            "smithy.api#required": {}
          }
        },
        "thirdPartyConfigurations": {
          "target": "com.azure.orbital#ContactProfilesPropertiesInputThirdPartyConfigurationsList",
          "traits": {
            "smithy.api#documentation": "Third-party mission configuration of the Contact Profile. Describes RF links, modem processing, and IP endpoints."
          }
        },
        "links": {
          "target": "com.azure.orbital#ContactProfilesPropertiesInputLinksList",
          "traits": {
            "smithy.api#documentation": "Links of the Contact Profile. Describes RF links, modem processing, and IP endpoints.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of Contact Profile Resource Properties."
      }
    },
    "com.azure.orbital#ContactProfilesPropertiesInputLinksList": {
      "type": "list",
      "member": {
        "target": "com.azure.orbital#ContactProfileLink"
      },
      "traits": {
        "smithy.api#documentation": "Links of the Contact Profile. Describes RF links, modem processing, and IP endpoints."
      }
    },
    "com.azure.orbital#ContactProfilesPropertiesInputThirdPartyConfigurationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.orbital#ContactProfileThirdPartyConfiguration"
      },
      "traits": {
        "smithy.api#documentation": "Third-party mission configuration of the Contact Profile. Describes RF links, modem processing, and IP endpoints."
      }
    },
    "com.azure.orbital#ContactProfilesPropertiesInputNetworkConfiguration": {
      "type": "structure",
      "members": {
        "subnetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ARM resource identifier of the subnet delegated to the Microsoft.Orbital/orbitalGateways. Needs to be at least a class C subnet, and should not have any IP created in it.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network configuration of customer virtual network."
      }
    },
    "com.azure.orbital#ContactProfilesPropertiesInputAutoTrackingConfiguration": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "XBAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xBand"
          }
        },
        "SBAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sBand"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Auto-tracking configuration."
      }
    },
    "com.azure.orbital#ProvisioningStateInput": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "creating"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleting"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current state of the resource's creation, deletion, or modification."
      }
    },
    "com.azure.orbital#ContactProfilesCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.orbital#ContactProfilesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.orbital#ContactProfilesGetRequest"
      },
      "output": {
        "target": "com.azure.orbital#ContactProfilesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Orbital/contactProfiles/{contactProfileName}",
          "code": 200,
          "apiVersion": "2022-11-01"
        },
        "smithy.api#documentation": "Gets the specified contact Profile in a specified resource group.",
        "com.distilled.openapi#apiVersion": "2022-11-01"
      }
    },
    "com.azure.orbital#ContactProfilesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.orbital#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.orbital#ContactProfilesGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.orbital#ContactProfilesProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the contact profile resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.orbital#ContactProfilesGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.orbital#ContactProfilesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "contactProfileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Contact Profile name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.orbital#SpacecraftsListAvailableContacts": {
      "type": "operation",
      "input": {
        "target": "com.azure.orbital#SpacecraftsListAvailableContactsRequest"
      },
      "output": {
        "target": "com.azure.orbital#AvailableContactsListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Orbital/spacecrafts/{spacecraftName}/listAvailableContacts",
          "code": 200,
          "apiVersion": "2022-11-01"
        },
        "smithy.api#documentation": "Returns list of available contacts. A contact is available if the spacecraft is visible from the ground station for more than the minimum viable contact duration provided in the contact profile.",
        "com.distilled.openapi#apiVersion": "2022-11-01"
      }
    },
    "com.azure.orbital#AvailableContactsListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.orbital#AvailableContactsListResultValueList",
          "traits": {
            "smithy.api#documentation": "A list of available contacts."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to get the next set of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the ListAvailableContacts API service call."
      }
    },
    "com.azure.orbital#AvailableContactsListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.orbital#AvailableContacts"
      },
      "traits": {
        "smithy.api#documentation": "A list of available contacts."
      }
    },
    "com.azure.orbital#AvailableContacts": {
      "type": "structure",
      "members": {
        "spacecraft": {
          "target": "com.azure.orbital#ResourceReference",
          "traits": {
            "smithy.api#documentation": "The reference to the spacecraft resource."
          }
        },
        "groundStationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of Azure Ground Station."
          }
        },
        "properties": {
          "target": "com.azure.orbital#ContactInstanceProperties",
          "traits": {
            "smithy.api#documentation": "Properties of Contact resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Customer retrieves list of Available Contacts for a spacecraft resource. Later, one of the available contact can be selected to create a contact."
      }
    },
    "com.azure.orbital#ContactInstanceProperties": {
      "type": "structure",
      "members": {
        "maximumElevationDegrees": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum elevation of the antenna during the contact in decimal degrees."
          }
        },
        "txStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time at which antenna transmit will be enabled (ISO 8601 UTC standard)."
          }
        },
        "txEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time at which antenna transmit will be disabled (ISO 8601 UTC standard)."
          }
        },
        "rxStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Earliest time to receive a signal (ISO 8601 UTC standard)."
          }
        },
        "rxEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time to lost receiving a signal (ISO 8601 UTC standard)."
          }
        },
        "startAzimuthDegrees": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Azimuth of the antenna at the start of the contact in decimal degrees."
          }
        },
        "endAzimuthDegrees": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Azimuth of the antenna at the end of the contact in decimal degrees."
          }
        },
        "startElevationDegrees": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Spacecraft elevation above the horizon at contact start."
          }
        },
        "endElevationDegrees": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Spacecraft elevation above the horizon at contact end."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contact Instance Properties."
      }
    },
    "com.azure.orbital#ResourceReference": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource Reference."
      }
    },
    "com.azure.orbital#SpacecraftsListAvailableContactsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "spacecraftName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Spacecraft ID."
          }
        },
        "contactProfile": {
          "target": "com.azure.orbital#ResourceReference",
          "traits": {
            "smithy.api#documentation": "The reference to the contact profile resource.",
            "smithy.api#required": {}
          }
        },
        "groundStationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of Azure Ground Station.",
            "smithy.api#required": {}
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time of a contact (ISO 8601 UTC standard).",
            "smithy.api#required": {}
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time of a contact (ISO 8601 UTC standard).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.orbital#ContactsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.orbital#ContactsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Orbital/spacecrafts/{spacecraftName}/contacts/{contactName}",
          "code": 200,
          "apiVersion": "2022-11-01"
        },
        "smithy.api#documentation": "Deletes a specified contact.",
        "com.distilled.openapi#apiVersion": "2022-11-01"
      }
    },
    "com.azure.orbital#ContactsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "spacecraftName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Spacecraft ID."
          }
        },
        "contactName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Contact name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.orbital#ContactsCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.orbital#ContactsCreateRequest"
      },
      "output": {
        "target": "com.azure.orbital#ContactsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Orbital/spacecrafts/{spacecraftName}/contacts/{contactName}",
          "code": 200,
          "apiVersion": "2022-11-01"
        },
        "smithy.api#documentation": "Creates a contact.",
        "com.distilled.openapi#apiVersion": "2022-11-01"
      }
    },
    "com.azure.orbital#ContactsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.orbital#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.orbital#ContactsProperties",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.orbital#ContactsProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.orbital#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The current state of the resource's creation, deletion, or modification."
          }
        },
        "status": {
          "target": "com.azure.orbital#ContactsPropertiesStatus",
          "traits": {
            "smithy.api#documentation": "Status of a contact."
          }
        },
        "reservationStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reservation start time of a contact (ISO 8601 UTC standard).",
            "smithy.api#required": {}
          }
        },
        "reservationEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reservation end time of a contact (ISO 8601 UTC standard).",
            "smithy.api#required": {}
          }
        },
        "rxStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Receive start time of a contact (ISO 8601 UTC standard)."
          }
        },
        "rxEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Receive end time of a contact (ISO 8601 UTC standard)."
          }
        },
        "txStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Transmit start time of a contact (ISO 8601 UTC standard)."
          }
        },
        "txEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Transmit end time of a contact (ISO 8601 UTC standard)."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Any error message while scheduling a contact."
          }
        },
        "maximumElevationDegrees": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum elevation of the antenna during the contact in decimal degrees."
          }
        },
        "startAzimuthDegrees": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Azimuth of the antenna at the start of the contact in decimal degrees."
          }
        },
        "endAzimuthDegrees": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Azimuth of the antenna at the end of the contact in decimal degrees."
          }
        },
        "groundStationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure Ground Station name.",
            "smithy.api#required": {}
          }
        },
        "startElevationDegrees": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Spacecraft elevation above the horizon at contact start."
          }
        },
        "endElevationDegrees": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Spacecraft elevation above the horizon at contact end."
          }
        },
        "antennaConfiguration": {
          "target": "com.azure.orbital#ContactsPropertiesAntennaConfiguration",
          "traits": {
            "smithy.api#documentation": "The configuration associated with the allocated antenna."
          }
        },
        "contactProfile": {
          "target": "com.azure.orbital#ResourceReference",
          "traits": {
            "smithy.api#documentation": "The reference to the contact profile resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the Contact Resource."
      }
    },
    "com.azure.orbital#ContactsPropertiesAntennaConfiguration": {
      "type": "structure",
      "members": {
        "destinationIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The destination IP a packet can be sent to. This would for example be the TCP endpoint you would send data to."
          }
        },
        "sourceIps": {
          "target": "com.azure.orbital#ContactsPropertiesAntennaConfigurationSourceIpsList",
          "traits": {
            "smithy.api#documentation": "List of Source IP"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The configuration associated with the allocated antenna."
      }
    },
    "com.azure.orbital#ContactsPropertiesAntennaConfigurationSourceIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of Source IP"
      }
    },
    "com.azure.orbital#ContactsPropertiesStatus": {
      "type": "enum",
      "members": {
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scheduled"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "PROVIDERCANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "providerCancelled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of a contact."
      }
    },
    "com.azure.orbital#ContactsCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "spacecraftName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Spacecraft ID."
          }
        },
        "contactName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Contact name."
          }
        },
        "properties": {
          "target": "com.azure.orbital#ContactsPropertiesInput",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.orbital#ContactsPropertiesInput": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.orbital#ProvisioningStateInput",
          "traits": {
            "smithy.api#documentation": "The current state of the resource's creation, deletion, or modification."
          }
        },
        "reservationStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reservation start time of a contact (ISO 8601 UTC standard).",
            "smithy.api#required": {}
          }
        },
        "reservationEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reservation end time of a contact (ISO 8601 UTC standard).",
            "smithy.api#required": {}
          }
        },
        "groundStationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure Ground Station name.",
            "smithy.api#required": {}
          }
        },
        "contactProfile": {
          "target": "com.azure.orbital#ResourceReference",
          "traits": {
            "smithy.api#documentation": "The reference to the contact profile resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the Contact Resource."
      }
    },
    "com.azure.orbital#ContactsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.orbital#ContactsGetRequest"
      },
      "output": {
        "target": "com.azure.orbital#ContactsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Orbital/spacecrafts/{spacecraftName}/contacts/{contactName}",
          "code": 200,
          "apiVersion": "2022-11-01"
        },
        "smithy.api#documentation": "Gets the specified contact in a specified resource group.",
        "com.distilled.openapi#apiVersion": "2022-11-01"
      }
    },
    "com.azure.orbital#ContactsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.orbital#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.orbital#ContactsProperties",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.orbital#ContactsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "spacecraftName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Spacecraft ID."
          }
        },
        "contactName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Contact name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.orbital#ContactsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.orbital#ContactsListRequest"
      },
      "output": {
        "target": "com.azure.orbital#ContactListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Orbital/spacecrafts/{spacecraftName}/contacts",
          "code": 200,
          "apiVersion": "2022-11-01"
        },
        "smithy.api#documentation": "Returns list of contacts by spacecraftName.",
        "com.distilled.openapi#apiVersion": "2022-11-01"
      }
    },
    "com.azure.orbital#ContactListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.orbital#ContactListResultValueList",
          "traits": {
            "smithy.api#documentation": "A list of contact resources in a resource group."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to get the next set of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the ListContacts API service call."
      }
    },
    "com.azure.orbital#ContactListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.orbital#Contact"
      },
      "traits": {
        "smithy.api#documentation": "A list of contact resources in a resource group."
      }
    },
    "com.azure.orbital#Contact": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.orbital#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.orbital#ContactsProperties",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Customer creates a contact resource for a spacecraft resource."
      }
    },
    "com.azure.orbital#ContactsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "spacecraftName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Spacecraft ID."
          }
        },
        "_skiptoken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skiptoken",
            "smithy.api#documentation": "An opaque string that the resource provider uses to skip over previously-returned results. This is used when a previous list operation call returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.orbital#SpacecraftsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.orbital#SpacecraftsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Orbital/spacecrafts/{spacecraftName}",
          "code": 200,
          "apiVersion": "2022-11-01"
        },
        "smithy.api#documentation": "Deletes a specified spacecraft resource.",
        "com.distilled.openapi#apiVersion": "2022-11-01"
      }
    },
    "com.azure.orbital#SpacecraftsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "spacecraftName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Spacecraft ID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.orbital#SpacecraftsUpdateTags": {
      "type": "operation",
      "input": {
        "target": "com.azure.orbital#SpacecraftsUpdateTagsRequest"
      },
      "output": {
        "target": "com.azure.orbital#SpacecraftsUpdateTagsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Orbital/spacecrafts/{spacecraftName}",
          "code": 200,
          "apiVersion": "2022-11-01"
        },
        "smithy.api#documentation": "Updates the specified spacecraft tags.",
        "com.distilled.openapi#apiVersion": "2022-11-01"
      }
    },
    "com.azure.orbital#SpacecraftsUpdateTagsResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.orbital#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.orbital#SpacecraftsUpdateTagsResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.orbital#SpacecraftsProperties",
          "traits": {
            "smithy.api#documentation": "Spacecraft Properties",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.orbital#SpacecraftsProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.orbital#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The current state of the resource's creation, deletion, or modification."
          }
        },
        "noradId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "NORAD ID of the spacecraft."
          }
        },
        "titleLine": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title line of the two-line element set (TLE).",
            "smithy.api#required": {}
          }
        },
        "tleLine1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Line 1 of the two-line element set (TLE).",
            "smithy.api#required": {}
          }
        },
        "tleLine2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Line 2 of the two-line element set (TLE).",
            "smithy.api#required": {}
          }
        },
        "links": {
          "target": "com.azure.orbital#SpacecraftsPropertiesLinksList",
          "traits": {
            "smithy.api#documentation": "Immutable list of Spacecraft links.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of Spacecraft Resource Properties."
      }
    },
    "com.azure.orbital#SpacecraftsPropertiesLinksList": {
      "type": "list",
      "member": {
        "target": "com.azure.orbital#SpacecraftLink"
      },
      "traits": {
        "smithy.api#documentation": "Immutable list of Spacecraft links."
      }
    },
    "com.azure.orbital#SpacecraftLink": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link name.",
            "smithy.api#required": {}
          }
        },
        "centerFrequencyMHz": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Center Frequency in MHz.",
            "smithy.api#required": {}
          }
        },
        "bandwidthMHz": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Bandwidth in MHz.",
            "smithy.api#required": {}
          }
        },
        "direction": {
          "target": "com.azure.orbital#SpacecraftLinkDirection",
          "traits": {
            "smithy.api#documentation": "Direction (Uplink or Downlink).",
            "smithy.api#required": {}
          }
        },
        "polarization": {
          "target": "com.azure.orbital#SpacecraftLinkPolarization",
          "traits": {
            "smithy.api#documentation": "Polarization. e.g. (RHCP, LHCP).",
            "smithy.api#required": {}
          }
        },
        "authorizations": {
          "target": "com.azure.orbital#SpacecraftLinkAuthorizationsList",
          "traits": {
            "smithy.api#documentation": "Authorized Ground Stations"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of authorized spacecraft links per ground station and the expiration date of the authorization."
      }
    },
    "com.azure.orbital#SpacecraftLinkAuthorizationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.orbital#AuthorizedGroundstation"
      },
      "traits": {
        "smithy.api#documentation": "Authorized Ground Stations"
      }
    },
    "com.azure.orbital#AuthorizedGroundstation": {
      "type": "structure",
      "members": {
        "groundStation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Groundstation name.",
            "smithy.api#required": {}
          }
        },
        "expirationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date of authorization expiration.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Authorized groundstation."
      }
    },
    "com.azure.orbital#SpacecraftLinkPolarization": {
      "type": "enum",
      "members": {
        "RHCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RHCP"
          }
        },
        "LHCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LHCP"
          }
        },
        "LINEARVERTICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "linearVertical"
          }
        },
        "LINEARHORIZONTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "linearHorizontal"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Polarization. e.g. (RHCP, LHCP)."
      }
    },
    "com.azure.orbital#SpacecraftLinkDirection": {
      "type": "enum",
      "members": {
        "UPLINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Uplink"
          }
        },
        "DOWNLINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Downlink"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Direction (Uplink or Downlink)."
      }
    },
    "com.azure.orbital#SpacecraftsUpdateTagsResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.orbital#SpacecraftsUpdateTagsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "spacecraftName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Spacecraft ID."
          }
        },
        "tags": {
          "target": "com.azure.orbital#SpacecraftsUpdateTagsRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.orbital#SpacecraftsUpdateTagsRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.orbital#SpacecraftsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.orbital#SpacecraftsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.orbital#SpacecraftsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Orbital/spacecrafts/{spacecraftName}",
          "code": 200,
          "apiVersion": "2022-11-01"
        },
        "smithy.api#documentation": "Creates or updates a spacecraft resource.",
        "com.distilled.openapi#apiVersion": "2022-11-01"
      }
    },
    "com.azure.orbital#SpacecraftsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.orbital#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.orbital#SpacecraftsCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.orbital#SpacecraftsProperties",
          "traits": {
            "smithy.api#documentation": "Spacecraft Properties",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.orbital#SpacecraftsCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.orbital#SpacecraftsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "spacecraftName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Spacecraft ID."
          }
        },
        "tags": {
          "target": "com.azure.orbital#SpacecraftsCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.orbital#SpacecraftsPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Spacecraft Properties",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.orbital#SpacecraftsPropertiesInput": {
[...]
