{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.peering#RpUnbilledPrefixesList": {
      "type": "operation",
      "input": {
        "target": "com.azure.peering#RpUnbilledPrefixesListRequest"
      },
      "output": {
        "target": "com.azure.peering#RpUnbilledPrefixListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}/rpUnbilledPrefixes",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Lists all of the RP unbilled prefixes for the specified peering",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.peering#RpUnbilledPrefixListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.peering#RpUnbilledPrefixListResultValueList",
          "traits": {
            "smithy.api#documentation": "The RpUnbilledPrefix items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The paginated list of RP unbilled prefixes."
      }
    },
    "com.azure.peering#RpUnbilledPrefixListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.peering#RpUnbilledPrefix"
      },
      "traits": {
        "smithy.api#documentation": "The RpUnbilledPrefix items on this page"
      }
    },
    "com.azure.peering#RpUnbilledPrefix": {
      "type": "structure",
      "members": {
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The prefix."
          }
        },
        "azureRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Azure region."
          }
        },
        "peerAsn": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The peer ASN."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Routing Preference unbilled prefix"
      }
    },
    "com.azure.peering#RpUnbilledPrefixesListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "peeringName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the peering."
          }
        },
        "consolidate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "consolidate",
            "smithy.api#documentation": "Flag to enable consolidation prefixes"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.peering#RegisteredPrefixesValidate": {
      "type": "operation",
      "input": {
        "target": "com.azure.peering#RegisteredPrefixesValidateRequest"
      },
      "output": {
        "target": "com.azure.peering#RegisteredPrefixesValidateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}/registeredPrefixes/{registeredPrefixName}/validate",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Validates an existing registered prefix with the specified name under the given subscription, resource group and peering.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.peering#RegisteredPrefixesValidateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.peering#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.peering#PeeringRegisteredPrefixProperties",
          "traits": {
            "smithy.api#documentation": "The properties that define a registered prefix."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.peering#PeeringRegisteredPrefixProperties": {
      "type": "structure",
      "members": {
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The customer's prefix from which traffic originates."
          }
        },
        "prefixValidationState": {
          "target": "com.azure.peering#PrefixValidationState",
          "traits": {
            "smithy.api#documentation": "The prefix validation state."
          }
        },
        "peeringServicePrefixKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The peering service prefix key that is to be shared with the customer."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message associated with the validation state, if any."
          }
        },
        "provisioningState": {
          "target": "com.azure.peering#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties that define a registered prefix."
      }
    },
    "com.azure.peering#ProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioning state of the resource."
      }
    },
    "com.azure.peering#PrefixValidationState": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        },
        "VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Verified"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Warning"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The prefix validation state."
      }
    },
    "com.azure.peering#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.peering#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.peering#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.peering#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.peering#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.peering#RegisteredPrefixesValidateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "peeringName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the peering."
          }
        },
        "registeredPrefixName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the registered prefix."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.peering#RegisteredPrefixesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.peering#RegisteredPrefixesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}/registeredPrefixes/{registeredPrefixName}",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Deletes an existing registered prefix with the specified name under the given subscription, resource group and peering.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.peering#RegisteredPrefixesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "peeringName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the peering."
          }
        },
        "registeredPrefixName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the registered prefix."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.peering#RegisteredPrefixesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.peering#RegisteredPrefixesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.peering#RegisteredPrefixesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}/registeredPrefixes/{registeredPrefixName}",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Creates a new registered prefix with the specified name under the given subscription, resource group and peering.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.peering#RegisteredPrefixesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.peering#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.peering#PeeringRegisteredPrefixProperties",
          "traits": {
            "smithy.api#documentation": "The properties that define a registered prefix."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.peering#RegisteredPrefixesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "peeringName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the peering."
          }
        },
        "registeredPrefixName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the registered prefix."
          }
        },
        "properties": {
          "target": "com.azure.peering#PeeringRegisteredPrefixPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The properties that define a registered prefix."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.peering#PeeringRegisteredPrefixPropertiesInput": {
      "type": "structure",
      "members": {
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The customer's prefix from which traffic originates."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties that define a registered prefix."
      }
    },
    "com.azure.peering#RegisteredPrefixesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.peering#RegisteredPrefixesGetRequest"
      },
      "output": {
        "target": "com.azure.peering#RegisteredPrefixesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}/registeredPrefixes/{registeredPrefixName}",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Gets an existing registered prefix with the specified name under the given subscription, resource group and peering.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.peering#RegisteredPrefixesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.peering#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.peering#PeeringRegisteredPrefixProperties",
          "traits": {
            "smithy.api#documentation": "The properties that define a registered prefix."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.peering#RegisteredPrefixesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "peeringName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the peering."
          }
        },
        "registeredPrefixName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the registered prefix."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.peering#RegisteredPrefixesListByPeering": {
      "type": "operation",
      "input": {
        "target": "com.azure.peering#RegisteredPrefixesListByPeeringRequest"
      },
      "output": {
        "target": "com.azure.peering#PeeringRegisteredPrefixListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}/registeredPrefixes",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Lists all registered prefixes under the given subscription, resource group and peering.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.peering#PeeringRegisteredPrefixListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.peering#PeeringRegisteredPrefixListResultValueList",
          "traits": {
            "smithy.api#documentation": "The PeeringRegisteredPrefix items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a PeeringRegisteredPrefix list operation."
      }
    },
    "com.azure.peering#PeeringRegisteredPrefixListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.peering#PeeringRegisteredPrefix"
      },
      "traits": {
        "smithy.api#documentation": "The PeeringRegisteredPrefix items on this page"
      }
    },
    "com.azure.peering#PeeringRegisteredPrefix": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.peering#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.peering#PeeringRegisteredPrefixProperties",
          "traits": {
            "smithy.api#documentation": "The properties that define a registered prefix."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The customer's prefix that is registered by the peering service provider."
      }
    },
    "com.azure.peering#RegisteredPrefixesListByPeeringRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "peeringName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the peering."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.peering#RegisteredAsnsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.peering#RegisteredAsnsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}/registeredAsns/{registeredAsnName}",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Deletes an existing registered ASN with the specified name under the given subscription, resource group and peering.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.peering#RegisteredAsnsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "peeringName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the peering."
          }
        },
        "registeredAsnName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the registered ASN."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.peering#RegisteredAsnsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.peering#RegisteredAsnsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.peering#RegisteredAsnsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}/registeredAsns/{registeredAsnName}",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Creates a new registered ASN with the specified name under the given subscription, resource group and peering.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.peering#RegisteredAsnsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.peering#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.peering#PeeringRegisteredAsnProperties",
          "traits": {
            "smithy.api#documentation": "The properties that define a registered ASN."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.peering#PeeringRegisteredAsnProperties": {
      "type": "structure",
      "members": {
        "asn": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The customer's ASN from which traffic originates."
          }
        },
        "peeringServicePrefixKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The peering service prefix key that is to be shared with the customer."
          }
        },
        "provisioningState": {
          "target": "com.azure.peering#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties that define a registered ASN."
      }
    },
    "com.azure.peering#RegisteredAsnsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "peeringName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the peering."
          }
        },
        "registeredAsnName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the registered ASN."
          }
        },
        "properties": {
          "target": "com.azure.peering#PeeringRegisteredAsnPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The properties that define a registered ASN."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.peering#PeeringRegisteredAsnPropertiesInput": {
      "type": "structure",
      "members": {
        "asn": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The customer's ASN from which traffic originates."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties that define a registered ASN."
      }
    },
    "com.azure.peering#RegisteredAsnsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.peering#RegisteredAsnsGetRequest"
      },
      "output": {
        "target": "com.azure.peering#RegisteredAsnsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}/registeredAsns/{registeredAsnName}",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Gets an existing registered ASN with the specified name under the given subscription, resource group and peering.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.peering#RegisteredAsnsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.peering#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.peering#PeeringRegisteredAsnProperties",
          "traits": {
            "smithy.api#documentation": "The properties that define a registered ASN."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.peering#RegisteredAsnsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "peeringName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the peering."
          }
        },
        "registeredAsnName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the registered ASN."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.peering#RegisteredAsnsListByPeering": {
      "type": "operation",
      "input": {
        "target": "com.azure.peering#RegisteredAsnsListByPeeringRequest"
      },
      "output": {
        "target": "com.azure.peering#PeeringRegisteredAsnListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}/registeredAsns",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Lists all registered ASNs under the given subscription, resource group and peering.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.peering#PeeringRegisteredAsnListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.peering#PeeringRegisteredAsnListResultValueList",
          "traits": {
            "smithy.api#documentation": "The PeeringRegisteredAsn items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a PeeringRegisteredAsn list operation."
      }
    },
    "com.azure.peering#PeeringRegisteredAsnListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.peering#PeeringRegisteredAsn"
      },
      "traits": {
        "smithy.api#documentation": "The PeeringRegisteredAsn items on this page"
      }
    },
    "com.azure.peering#PeeringRegisteredAsn": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.peering#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.peering#PeeringRegisteredAsnProperties",
          "traits": {
            "smithy.api#documentation": "The properties that define a registered ASN."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The customer's ASN that is registered by the peering service provider."
      }
    },
    "com.azure.peering#RegisteredAsnsListByPeeringRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "peeringName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the peering."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.peering#ReceivedRoutesListByPeering": {
      "type": "operation",
      "input": {
        "target": "com.azure.peering#ReceivedRoutesListByPeeringRequest"
      },
      "output": {
        "target": "com.azure.peering#PeeringReceivedRouteListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}/receivedRoutes",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Lists the prefixes received over the specified peering under the given subscription and resource group.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.peering#PeeringReceivedRouteListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.peering#PeeringReceivedRouteListResultValueList",
          "traits": {
            "smithy.api#documentation": "The PeeringReceivedRoute items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The paginated list of received routes for the peering."
      }
    },
    "com.azure.peering#PeeringReceivedRouteListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.peering#PeeringReceivedRoute"
      },
      "traits": {
        "smithy.api#documentation": "The PeeringReceivedRoute items on this page"
      }
    },
    "com.azure.peering#PeeringReceivedRoute": {
      "type": "structure",
      "members": {
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The prefix."
          }
        },
        "nextHop": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next hop for the prefix."
          }
        },
        "asPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The AS path for the prefix."
          }
        },
        "originAsValidationState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The origin AS change information for the prefix."
          }
        },
        "rpkiValidationState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The RPKI validation state for the prefix and origin AS that's listed in the AS path."
          }
        },
        "trustAnchor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The authority which holds the Route Origin Authorization record for the prefix, if any."
          }
        },
        "receivedTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The received timestamp associated with the prefix."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties that define a received route."
      }
    },
    "com.azure.peering#ReceivedRoutesListByPeeringRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "peeringName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the peering."
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "prefix",
            "smithy.api#documentation": "The optional prefix that can be used to filter the routes."
          }
        },
        "asPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "asPath",
            "smithy.api#documentation": "The optional AS path that can be used to filter the routes."
          }
        },
        "originAsValidationState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "originAsValidationState",
            "smithy.api#documentation": "The optional origin AS validation state that can be used to filter the routes."
          }
        },
        "rpkiValidationState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "rpkiValidationState",
            "smithy.api#documentation": "The optional RPKI validation state that can be used to filter the routes."
          }
        },
        "_skipToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skipToken",
            "smithy.api#documentation": "The optional page continuation token that is used in the event of paginated result."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.peering#PeeringsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.peering#PeeringsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Deletes an existing peering with the specified name under the given subscription and resource group.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.peering#PeeringsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "peeringName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the peering."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.peering#PeeringsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.peering#PeeringsUpdateRequest"
      },
      "output": {
        "target": "com.azure.peering#PeeringsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Updates tags for a peering with the specified name under the given subscription and resource group.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.peering#PeeringsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.peering#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.peering#PeeringsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.peering#PeeringProperties",
          "traits": {
            "smithy.api#documentation": "The properties that define a peering."
          }
        },
        "sku": {
          "target": "com.azure.peering#PeeringSku",
          "traits": {
            "smithy.api#documentation": "The SKU that defines the tier and kind of the peering.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.azure.peering#Kind",
          "traits": {
            "smithy.api#documentation": "The kind of the peering.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.peering#Kind": {
      "type": "enum",
      "members": {
        "DIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Direct"
          }
        },
        "EXCHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Exchange"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The kind of the peering."
      }
    },
    "com.azure.peering#PeeringSku": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the peering SKU."
          }
        },
        "tier": {
          "target": "com.azure.peering#Tier",
          "traits": {
            "smithy.api#documentation": "The tier of the peering SKU."
          }
        },
        "family": {
          "target": "com.azure.peering#Family",
          "traits": {
            "smithy.api#documentation": "The family of the peering SKU."
          }
        },
        "size": {
          "target": "com.azure.peering#Size",
          "traits": {
            "smithy.api#documentation": "The size of the peering SKU."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The SKU that defines the tier and kind of the peering."
      }
    },
    "com.azure.peering#Size": {
      "type": "enum",
      "members": {
        "FREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Free"
          }
        },
        "METERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Metered"
          }
        },
        "UNLIMITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unlimited"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The size of the peering SKU."
      }
    },
    "com.azure.peering#Family": {
      "type": "enum",
      "members": {
        "DIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Direct"
          }
        },
        "EXCHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Exchange"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The family of the peering SKU."
      }
    },
    "com.azure.peering#Tier": {
      "type": "enum",
      "members": {
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Basic"
          }
        },
        "PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Premium"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The tier of the peering SKU."
      }
    },
    "com.azure.peering#PeeringProperties": {
      "type": "structure",
      "members": {
        "direct": {
          "target": "com.azure.peering#PeeringPropertiesDirect",
          "traits": {
            "smithy.api#documentation": "The properties that define a direct peering."
          }
        },
        "exchange": {
          "target": "com.azure.peering#PeeringPropertiesExchange",
          "traits": {
            "smithy.api#documentation": "The properties that define an exchange peering."
          }
        },
        "connectivityProbes": {
          "target": "com.azure.peering#PeeringPropertiesConnectivityProbesList",
          "traits": {
            "smithy.api#documentation": "The connectivity probes associated with the peering."
          }
        },
        "peeringLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the peering."
          }
        },
        "provisioningState": {
          "target": "com.azure.peering#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties that define connectivity to the Microsoft Cloud Edge."
      }
    },
    "com.azure.peering#PeeringPropertiesConnectivityProbesList": {
      "type": "list",
      "member": {
        "target": "com.azure.peering#ConnectivityProbe"
      },
      "traits": {
        "smithy.api#documentation": "The connectivity probes associated with the peering."
      }
    },
    "com.azure.peering#ConnectivityProbe": {
      "type": "structure",
      "members": {
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The endpoint IP address where traffic will be sent to from Azure for the connectivity probe."
          }
        },
        "azureRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Azure region where traffic will originate from for the connectivity probe."
          }
        },
        "protocol": {
          "target": "com.azure.peering#Protocol",
          "traits": {
            "smithy.api#documentation": "The protocol of the traffic that will be sent for the connectivity probe."
          }
        },
        "prefixesToAccesslist": {
          "target": "com.azure.peering#ConnectivityProbePrefixesToAccesslistList",
          "traits": {
            "smithy.api#documentation": "Set to contain the prefixes that agents in Azure will send traffic from. For peers to allow into their\nnetwork the connectivity probe traffic can reach their endpoint for the connectivity probe."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a connectivity probe, a configuration peers can add to direct and exchange peerings to create ping tests. These ping\ntests will allow us to generate availability, jitter, and latency data for traffic (using ICMP or TCP) from Azure to an endpoint\nIP address given by the customer. This data will be emitted such that the peer can view these metrics in the Azure portal in the\nConnectivity probe blade of their peering."
      }
    },
    "com.azure.peering#ConnectivityProbePrefixesToAccesslistList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Set to contain the prefixes that agents in Azure will send traffic from. For peers to allow into their\nnetwork the connectivity probe traffic can reach their endpoint for the connectivity probe."
      }
    },
    "com.azure.peering#Protocol": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "ICMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ICMP"
          }
        },
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TCP"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The protocol of the traffic that will be sent for the connectivity probe."
      }
    },
    "com.azure.peering#PeeringPropertiesExchange": {
      "type": "structure",
      "members": {
        "connections": {
          "target": "com.azure.peering#PeeringPropertiesExchangeConnectionsList",
          "traits": {
            "smithy.api#documentation": "The set of connections that constitute an exchange peering."
          }
        },
        "peerAsn": {
          "target": "com.azure.peering#SubResource",
          "traits": {
            "smithy.api#documentation": "The reference of the peer ASN."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties that define an exchange peering."
      }
    },
    "com.azure.peering#SubResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the referenced resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The sub resource."
      }
    },
    "com.azure.peering#PeeringPropertiesExchangeConnectionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.peering#ExchangeConnection"
      },
      "traits": {
        "smithy.api#documentation": "The set of connections that constitute an exchange peering."
      }
    },
    "com.azure.peering#ExchangeConnection": {
      "type": "structure",
      "members": {
        "peeringDBFacilityId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The PeeringDB.com ID of the facility at which the connection has to be set up."
          }
        },
        "connectionState": {
          "target": "com.azure.peering#ConnectionState",
          "traits": {
            "smithy.api#documentation": "The state of the connection."
          }
        },
        "bgpSession": {
          "target": "com.azure.peering#BgpSession",
          "traits": {
            "smithy.api#documentation": "The BGP session associated with the connection."
          }
        },
        "connectionIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier (GUID) for the connection."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message related to the connection state, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties that define an exchange connection."
      }
    },
    "com.azure.peering#BgpSession": {
      "type": "structure",
      "members": {
        "sessionPrefixV4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IPv4 prefix that contains both ends' IPv4 addresses."
          }
        },
        "sessionPrefixV6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IPv6 prefix that contains both ends' IPv6 addresses."
          }
        },
        "microsoftSessionIPv4Address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IPv4 session address on Microsoft's end."
          }
        },
        "microsoftSessionIPv6Address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IPv6 session address on Microsoft's end."
          }
        },
        "peerSessionIPv4Address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IPv4 session address on peer's end."
          }
        },
        "peerSessionIPv6Address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IPv6 session address on peer's end."
          }
        },
        "sessionStateV4": {
          "target": "com.azure.peering#SessionStateV4",
          "traits": {
            "smithy.api#documentation": "The state of the IPv4 session."
          }
        },
        "sessionStateV6": {
          "target": "com.azure.peering#SessionStateV6",
          "traits": {
            "smithy.api#documentation": "The state of the IPv6 session."
          }
        },
        "maxPrefixesAdvertisedV4": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of prefixes advertised over the IPv4 session."
          }
        },
        "maxPrefixesAdvertisedV6": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of prefixes advertised over the IPv6 session."
          }
        },
        "md5AuthenticationKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The MD5 authentication key of the session."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties that define a BGP session."
      }
    },
    "com.azure.peering#SessionStateV6": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "IDLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Idle"
          }
        },
        "CONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Connect"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        },
        "OPENSENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OpenSent"
          }
        },
        "OPENCONFIRM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OpenConfirm"
          }
        },
        "OPENRECEIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OpenReceived"
          }
        },
        "ESTABLISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Established"
          }
        },
        "PENDINGADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingAdd"
          }
        },
        "PENDINGUPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingUpdate"
          }
        },
        "PENDINGREMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingRemove"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of the IPv6 session."
      }
    },
    "com.azure.peering#SessionStateV4": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "IDLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Idle"
          }
        },
        "CONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Connect"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        },
        "OPENSENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OpenSent"
          }
        },
        "OPENCONFIRM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OpenConfirm"
          }
        },
        "OPENRECEIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OpenReceived"
          }
        },
        "ESTABLISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Established"
          }
        },
        "PENDINGADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingAdd"
          }
        },
        "PENDINGUPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingUpdate"
          }
        },
        "PENDINGREMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingRemove"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of the IPv4 session."
      }
    },
    "com.azure.peering#ConnectionState": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "PENDINGAPPROVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingApproval"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "PROVISIONINGSTARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ProvisioningStarted"
          }
        },
        "PROVISIONINGFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ProvisioningFailed"
          }
        },
        "PROVISIONINGCOMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ProvisioningCompleted"
          }
        },
        "VALIDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Validating"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        },
        "TYPECHANGEREQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TypeChangeRequested"
          }
        },
        "TYPECHANGEINPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TypeChangeInProgress"
          }
        },
        "EXTERNALBLOCKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ExternalBlocker"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of the connection."
      }
    },
    "com.azure.peering#PeeringPropertiesDirect": {
      "type": "structure",
      "members": {
        "connections": {
          "target": "com.azure.peering#PeeringPropertiesDirectConnectionsList",
          "traits": {
            "smithy.api#documentation": "The set of connections that constitute a direct peering."
          }
        },
        "useForPeeringService": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The flag that indicates whether or not the peering is used for peering service."
          }
        },
        "peerAsn": {
          "target": "com.azure.peering#SubResource",
          "traits": {
            "smithy.api#documentation": "The reference of the peer ASN."
          }
        },
        "directPeeringType": {
          "target": "com.azure.peering#DirectPeeringType",
          "traits": {
            "smithy.api#documentation": "The type of direct peering."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties that define a direct peering."
      }
    },
    "com.azure.peering#DirectPeeringType": {
      "type": "enum",
      "members": {
        "EDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Edge"
          }
        },
        "TRANSIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Transit"
          }
        },
        "CDN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cdn"
          }
        },
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Internal"
          }
        },
        "IX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ix"
          }
        },
        "IXRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IxRs"
          }
        },
        "VOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Voice"
          }
        },
        "EDGEZONEFOROPERATORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EdgeZoneForOperators"
          }
        },
        "PEERPROP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PeerProp"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of direct peering."
      }
    },
    "com.azure.peering#PeeringPropertiesDirectConnectionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.peering#DirectConnection"
      },
      "traits": {
        "smithy.api#documentation": "The set of connections that constitute a direct peering."
      }
    },
    "com.azure.peering#DirectConnection": {
      "type": "structure",
      "members": {
        "bandwidthInMbps": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The bandwidth of the connection."
          }
        },
        "provisionedBandwidthInMbps": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The bandwidth that is actually provisioned."
          }
        },
        "sessionAddressProvider": {
          "target": "com.azure.peering#SessionAddressProvider",
          "traits": {
            "smithy.api#documentation": "The field indicating if Microsoft provides session ip addresses."
          }
        },
        "useForPeeringService": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The flag that indicates whether or not the connection is used for peering service."
          }
        },
        "microsoftTrackingId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID used within Microsoft's peering provisioning system to track the connection"
          }
        },
        "peeringDBFacilityId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The PeeringDB.com ID of the facility at which the connection has to be set up."
          }
        },
        "connectionState": {
          "target": "com.azure.peering#ConnectionState",
          "traits": {
            "smithy.api#documentation": "The state of the connection."
          }
        },
        "bgpSession": {
          "target": "com.azure.peering#BgpSession",
          "traits": {
            "smithy.api#documentation": "The BGP session associated with the connection."
          }
        },
        "connectionIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier (GUID) for the connection."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message related to the connection state, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties that define a direct connection."
      }
    },
    "com.azure.peering#SessionAddressProvider": {
      "type": "enum",
      "members": {
        "MICROSOFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Microsoft"
          }
        },
        "PEER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Peer"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The field indicating if Microsoft provides session ip addresses."
      }
    },
    "com.azure.peering#PeeringsUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.peering#PeeringsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "peeringName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the peering."
          }
        },
        "tags": {
          "target": "com.azure.peering#PeeringsUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Gets or sets the tags, a dictionary of descriptors arm object"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.peering#PeeringsUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the tags, a dictionary of descriptors arm object"
      }
    },
    "com.azure.peering#PeeringsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.peering#PeeringsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.peering#PeeringsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Creates a new peering or updates an existing peering with the specified name under the given subscription and resource group.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.peering#PeeringsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.peering#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.peering#PeeringsCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.peering#PeeringProperties",
          "traits": {
            "smithy.api#documentation": "The properties that define a peering."
          }
        },
        "sku": {
          "target": "com.azure.peering#PeeringSku",
          "traits": {
            "smithy.api#documentation": "The SKU that defines the tier and kind of the peering.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.azure.peering#Kind",
          "traits": {
            "smithy.api#documentation": "The kind of the peering.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.peering#PeeringsCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.peering#PeeringsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "peeringName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the peering."
          }
        },
        "tags": {
          "target": "com.azure.peering#PeeringsCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.peering#PeeringPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The properties that define a peering."
          }
        },
        "sku": {
          "target": "com.azure.peering#PeeringSku",
          "traits": {
            "smithy.api#documentation": "The SKU that defines the tier and kind of the peering.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.azure.peering#Kind",
          "traits": {
            "smithy.api#documentation": "The kind of the peering.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.peering#PeeringPropertiesInput": {
      "type": "structure",
      "members": {
        "direct": {
          "target": "com.azure.peering#PeeringPropertiesDirectInput",
          "traits": {
            "smithy.api#documentation": "The properties that define a direct peering."
          }
        },
        "exchange": {
          "target": "com.azure.peering#PeeringPropertiesExchangeInput",
          "traits": {
            "smithy.api#documentation": "The properties that define an exchange peering."
          }
        },
        "connectivityProbes": {
          "target": "com.azure.peering#PeeringPropertiesInputConnectivityProbesList",
          "traits": {
            "smithy.api#documentation": "The connectivity probes associated with the peering."
          }
        },
        "peeringLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the peering."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties that define connectivity to the Microsoft Cloud Edge."
      }
    },
    "com.azure.peering#PeeringPropertiesInputConnectivityProbesList": {
      "type": "list",
      "member": {
        "target": "com.azure.peering#ConnectivityProbeInput"
      },
      "traits": {
        "smithy.api#documentation": "The connectivity probes associated with the peering."
      }
    },
    "com.azure.peering#ConnectivityProbeInput": {
      "type": "structure",
      "members": {
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The endpoint IP address where traffic will be sent to from Azure for the connectivity probe."
          }
        },
        "azureRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Azure region where traffic will originate from for the connectivity probe."
          }
        },
        "protocol": {
          "target": "com.azure.peering#Protocol",
          "traits": {
            "smithy.api#documentation": "The protocol of the traffic that will be sent for the connectivity probe."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a connectivity probe, a configuration peers can add to direct and exchange peerings to create ping tests. These ping\ntests will allow us to generate availability, jitter, and latency data for traffic (using ICMP or TCP) from Azure to an endpoint\nIP address given by the customer. This data will be emitted such that the peer can view these metrics in the Azure portal in the\nConnectivity probe blade of their peering."
      }
    },
    "com.azure.peering#PeeringPropertiesExchangeInput": {
      "type": "structure",
      "members": {
        "connections": {
          "target": "com.azure.peering#PeeringPropertiesExchangeInputConnectionsList",
          "traits": {
            "smithy.api#documentation": "The set of connections that constitute an exchange peering."
          }
        },
        "peerAsn": {
          "target": "com.azure.peering#SubResource",
          "traits": {
            "smithy.api#documentation": "The reference of the peer ASN."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties that define an exchange peering."
      }
    },
    "com.azure.peering#PeeringPropertiesExchangeInputConnectionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.peering#ExchangeConnectionInput"
      },
      "traits": {
        "smithy.api#documentation": "The set of connections that constitute an exchange peering."
      }
    },
    "com.azure.peering#ExchangeConnectionInput": {
      "type": "structure",
      "members": {
        "peeringDBFacilityId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The PeeringDB.com ID of the facility at which the connection has to be set up."
          }
        },
        "bgpSession": {
          "target": "com.azure.peering#BgpSession",
          "traits": {
            "smithy.api#documentation": "The BGP session associated with the connection."
          }
        },
        "connectionIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier (GUID) for the connection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties that define an exchange connection."
      }
    },
    "com.azure.peering#PeeringPropertiesDirectInput": {
      "type": "structure",
      "members": {
        "connections": {
          "target": "com.azure.peering#PeeringPropertiesDirectInputConnectionsList",
          "traits": {
            "smithy.api#documentation": "The set of connections that constitute a direct peering."
          }
        },
        "peerAsn": {
          "target": "com.azure.peering#SubResource",
          "traits": {
            "smithy.api#documentation": "The reference of the peer ASN."
          }
        },
        "directPeeringType": {
          "target": "com.azure.peering#DirectPeeringType",
          "traits": {
            "smithy.api#documentation": "The type of direct peering."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties that define a direct peering."
      }
    },
    "com.azure.peering#PeeringPropertiesDirectInputConnectionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.peering#DirectConnectionInput"
      },
      "traits": {
        "smithy.api#documentation": "The set of connections that constitute a direct peering."
      }
    },
    "com.azure.peering#DirectConnectionInput": {
      "type": "structure",
      "members": {
        "bandwidthInMbps": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The bandwidth of the connection."
          }
        },
        "sessionAddressProvider": {
          "target": "com.azure.peering#SessionAddressProvider",
          "traits": {
            "smithy.api#documentation": "The field indicating if Microsoft provides session ip addresses."
          }
        },
        "useForPeeringService": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The flag that indicates whether or not the connection is used for peering service."
          }
        },
        "peeringDBFacilityId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The PeeringDB.com ID of the facility at which the connection has to be set up."
          }
        },
        "bgpSession": {
          "target": "com.azure.peering#BgpSession",
          "traits": {
            "smithy.api#documentation": "The BGP session associated with the connection."
          }
        },
        "connectionIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier (GUID) for the connection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties that define a direct connection."
      }
    },
    "com.azure.peering#PeeringsCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.peering#PeeringsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.peering#PeeringsGetRequest"
      },
      "output": {
        "target": "com.azure.peering#PeeringsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Gets an existing peering with the specified name under the given subscription and resource group.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.peering#PeeringsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.peering#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.peering#PeeringsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.peering#PeeringProperties",
          "traits": {
            "smithy.api#documentation": "The properties that define a peering."
          }
        },
        "sku": {
          "target": "com.azure.peering#PeeringSku",
          "traits": {
            "smithy.api#documentation": "The SKU that defines the tier and kind of the peering.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.azure.peering#Kind",
          "traits": {
            "smithy.api#documentation": "The kind of the peering.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.peering#PeeringsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.peering#PeeringsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "peeringName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the peering."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.peering#PeeringsListByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.peering#PeeringsListByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.peering#PeeringListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Lists all of the peerings under the given subscription and resource group.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.peering#PeeringListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.peering#PeeringListResultValueList",
          "traits": {
            "smithy.api#documentation": "The Peering items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a Peering list operation."
      }
    },
    "com.azure.peering#PeeringListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.peering#Peering2"
      },
      "traits": {
        "smithy.api#documentation": "The Peering items on this page"
      }
    },
    "com.azure.peering#Peering2": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.peering#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
[...]
