{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.playwrighttesting#AccountQuotasGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.playwrighttesting#AccountQuotasGetRequest"
      },
      "output": {
        "target": "com.azure.playwrighttesting#AccountQuotasGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePlaywrightService/accounts/{accountName}/quotas/{quotaName}",
          "code": 200,
          "apiVersion": "2024-12-01"
        },
        "smithy.api#documentation": "Get quota by name for an account.",
        "com.distilled.openapi#apiVersion": "2024-12-01"
      }
    },
    "com.azure.playwrighttesting#AccountQuotasGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.playwrighttesting#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.playwrighttesting#AccountQuotaProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.playwrighttesting#AccountQuotaProperties": {
      "type": "structure",
      "members": {
        "freeTrial": {
          "target": "com.azure.playwrighttesting#AccountFreeTrialProperties",
          "traits": {
            "smithy.api#documentation": "The Playwright service account quota resource free-trial properties."
          }
        },
        "provisioningState": {
          "target": "com.azure.playwrighttesting#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The status of the last operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Playwright service account quota resource properties."
      }
    },
    "com.azure.playwrighttesting#ProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the current operation."
      }
    },
    "com.azure.playwrighttesting#AccountFreeTrialProperties": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The free-trial createdAt utcDateTime.",
            "smithy.api#required": {}
          }
        },
        "expiryAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The free-trial expiryAt utcDateTime.",
            "smithy.api#required": {}
          }
        },
        "allocatedValue": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The free-trial allocated limit value eg. allocated free minutes.",
            "smithy.api#required": {}
          }
        },
        "usedValue": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The free-trial used value eg. used free minutes.",
            "smithy.api#required": {}
          }
        },
        "percentageUsed": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The free-trial percentage used.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Playwright service account quota resource free-trial properties."
      }
    },
    "com.azure.playwrighttesting#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.playwrighttesting#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.playwrighttesting#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.playwrighttesting#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.playwrighttesting#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.playwrighttesting#AccountQuotasGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account."
          }
        },
        "quotaName": {
          "target": "com.azure.playwrighttesting#AccountQuotasGetRequestQuotaName",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Playwright service account quota name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.playwrighttesting#AccountQuotasGetRequestQuotaName": {
      "type": "enum",
      "members": {
        "SCALABLEEXECUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ScalableExecution"
          }
        },
        "REPORTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Reporting"
          }
        }
      },
      "traits": {}
    },
    "com.azure.playwrighttesting#AccountQuotasListByAccount": {
      "type": "operation",
      "input": {
        "target": "com.azure.playwrighttesting#AccountQuotasListByAccountRequest"
      },
      "output": {
        "target": "com.azure.playwrighttesting#AccountQuotaListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePlaywrightService/accounts/{accountName}/quotas",
          "code": 200,
          "apiVersion": "2024-12-01"
        },
        "smithy.api#documentation": "List quotas for a given account.",
        "com.distilled.openapi#apiVersion": "2024-12-01"
      }
    },
    "com.azure.playwrighttesting#AccountQuotaListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.playwrighttesting#AccountQuotaListResultValueList",
          "traits": {
            "smithy.api#documentation": "The AccountQuota items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a AccountQuota list operation."
      }
    },
    "com.azure.playwrighttesting#AccountQuotaListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.playwrighttesting#AccountQuota"
      },
      "traits": {
        "smithy.api#documentation": "The AccountQuota items on this page"
      }
    },
    "com.azure.playwrighttesting#AccountQuota": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.playwrighttesting#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.playwrighttesting#AccountQuotaProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A quota resource for a Playwright service account."
      }
    },
    "com.azure.playwrighttesting#AccountQuotasListByAccountRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.playwrighttesting#AccountsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.playwrighttesting#AccountsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePlaywrightService/accounts/{accountName}",
          "code": 200,
          "apiVersion": "2024-12-01"
        },
        "smithy.api#documentation": "Delete a Account",
        "com.distilled.openapi#apiVersion": "2024-12-01"
      }
    },
    "com.azure.playwrighttesting#AccountsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.playwrighttesting#AccountsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.playwrighttesting#AccountsUpdateRequest"
      },
      "output": {
        "target": "com.azure.playwrighttesting#AccountsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePlaywrightService/accounts/{accountName}",
          "code": 200,
          "apiVersion": "2024-12-01"
        },
        "smithy.api#documentation": "Update a Account",
        "com.distilled.openapi#apiVersion": "2024-12-01"
      }
    },
    "com.azure.playwrighttesting#AccountsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.playwrighttesting#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.playwrighttesting#AccountsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.playwrighttesting#AccountProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.playwrighttesting#AccountProperties": {
      "type": "structure",
      "members": {
        "dashboardUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Playwright testing dashboard URI for the account resource."
          }
        },
        "regionalAffinity": {
          "target": "com.azure.playwrighttesting#AccountPropertiesRegionalAffinity",
          "traits": {
            "smithy.api#documentation": "This property sets the connection region for Playwright client workers to cloud-hosted browsers. If enabled, workers connect to browsers in the closest Azure region, ensuring lower latency. If disabled, workers connect to browsers in the Azure region in which the workspace was initially created."
          }
        },
        "scalableExecution": {
          "target": "com.azure.playwrighttesting#AccountPropertiesScalableExecution",
          "traits": {
            "smithy.api#documentation": "When enabled, Playwright client workers can connect to cloud-hosted browsers. This can increase the number of parallel workers for a test run, significantly minimizing test completion durations."
          }
        },
        "reporting": {
          "target": "com.azure.playwrighttesting#AccountPropertiesReporting",
          "traits": {
            "smithy.api#documentation": "When enabled, this feature allows the workspace to upload and display test results, including artifacts like traces and screenshots, in the Playwright portal. This enables faster and more efficient troubleshooting."
          }
        },
        "localAuth": {
          "target": "com.azure.playwrighttesting#AccountPropertiesLocalAuth",
          "traits": {
            "smithy.api#documentation": "When enabled, this feature allows the workspace to use local auth (through service access token) for executing operations."
          }
        },
        "provisioningState": {
          "target": "com.azure.playwrighttesting#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The status of the last operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Account resource properties."
      }
    },
    "com.azure.playwrighttesting#AccountPropertiesLocalAuth": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When enabled, this feature allows the workspace to use local auth (through service access token) for executing operations."
      }
    },
    "com.azure.playwrighttesting#AccountPropertiesReporting": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When enabled, this feature allows the workspace to upload and display test results, including artifacts like traces and screenshots, in the Playwright portal. This enables faster and more efficient troubleshooting."
      }
    },
    "com.azure.playwrighttesting#AccountPropertiesScalableExecution": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When enabled, Playwright client workers can connect to cloud-hosted browsers. This can increase the number of parallel workers for a test run, significantly minimizing test completion durations."
      }
    },
    "com.azure.playwrighttesting#AccountPropertiesRegionalAffinity": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This property sets the connection region for Playwright client workers to cloud-hosted browsers. If enabled, workers connect to browsers in the closest Azure region, ensuring lower latency. If disabled, workers connect to browsers in the Azure region in which the workspace was initially created."
      }
    },
    "com.azure.playwrighttesting#AccountsUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.playwrighttesting#AccountsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account."
          }
        },
        "tags": {
          "target": "com.azure.playwrighttesting#AccountsUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "properties": {
          "target": "com.azure.playwrighttesting#AccountUpdateProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.playwrighttesting#AccountUpdateProperties": {
      "type": "structure",
      "members": {
        "regionalAffinity": {
          "target": "com.azure.playwrighttesting#EnablementStatus",
          "traits": {
            "smithy.api#documentation": "This property sets the connection region for Playwright client workers to cloud-hosted browsers. If enabled, workers connect to browsers in the closest Azure region, ensuring lower latency. If disabled, workers connect to browsers in the Azure region in which the workspace was initially created."
          }
        },
        "scalableExecution": {
          "target": "com.azure.playwrighttesting#EnablementStatus",
          "traits": {
            "smithy.api#documentation": "When enabled, Playwright client workers can connect to cloud-hosted browsers. This can increase the number of parallel workers for a test run, significantly minimizing test completion durations."
          }
        },
        "reporting": {
          "target": "com.azure.playwrighttesting#EnablementStatus",
          "traits": {
            "smithy.api#documentation": "When enabled, this feature allows the workspace to upload and display test results, including artifacts like traces and screenshots, in the Playwright portal. This enables faster and more efficient troubleshooting."
          }
        },
        "localAuth": {
          "target": "com.azure.playwrighttesting#EnablementStatus",
          "traits": {
            "smithy.api#documentation": "When enabled, this feature allows the workspace to use local auth (through service access token) for executing operations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The updatable properties of the Account."
      }
    },
    "com.azure.playwrighttesting#EnablementStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The enablement status of a feature."
      }
    },
    "com.azure.playwrighttesting#AccountsUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.playwrighttesting#AccountsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.playwrighttesting#AccountsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.playwrighttesting#AccountsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePlaywrightService/accounts/{accountName}",
          "code": 200,
          "apiVersion": "2024-12-01"
        },
        "smithy.api#documentation": "Create a Account",
        "com.distilled.openapi#apiVersion": "2024-12-01"
      }
    },
    "com.azure.playwrighttesting#AccountsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.playwrighttesting#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.playwrighttesting#AccountsCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.playwrighttesting#AccountProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.playwrighttesting#AccountsCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.playwrighttesting#AccountsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account."
          }
        },
        "tags": {
          "target": "com.azure.playwrighttesting#AccountsCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.playwrighttesting#AccountPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.playwrighttesting#AccountPropertiesInput": {
      "type": "structure",
      "members": {
        "regionalAffinity": {
          "target": "com.azure.playwrighttesting#AccountPropertiesInputRegionalAffinity",
          "traits": {
            "smithy.api#documentation": "This property sets the connection region for Playwright client workers to cloud-hosted browsers. If enabled, workers connect to browsers in the closest Azure region, ensuring lower latency. If disabled, workers connect to browsers in the Azure region in which the workspace was initially created."
          }
        },
        "scalableExecution": {
          "target": "com.azure.playwrighttesting#AccountPropertiesInputScalableExecution",
          "traits": {
            "smithy.api#documentation": "When enabled, Playwright client workers can connect to cloud-hosted browsers. This can increase the number of parallel workers for a test run, significantly minimizing test completion durations."
          }
        },
        "reporting": {
          "target": "com.azure.playwrighttesting#AccountPropertiesInputReporting",
          "traits": {
            "smithy.api#documentation": "When enabled, this feature allows the workspace to upload and display test results, including artifacts like traces and screenshots, in the Playwright portal. This enables faster and more efficient troubleshooting."
          }
        },
        "localAuth": {
          "target": "com.azure.playwrighttesting#AccountPropertiesInputLocalAuth",
          "traits": {
            "smithy.api#documentation": "When enabled, this feature allows the workspace to use local auth (through service access token) for executing operations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Account resource properties."
      }
    },
    "com.azure.playwrighttesting#AccountPropertiesInputLocalAuth": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When enabled, this feature allows the workspace to use local auth (through service access token) for executing operations."
      }
    },
    "com.azure.playwrighttesting#AccountPropertiesInputReporting": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When enabled, this feature allows the workspace to upload and display test results, including artifacts like traces and screenshots, in the Playwright portal. This enables faster and more efficient troubleshooting."
      }
    },
    "com.azure.playwrighttesting#AccountPropertiesInputScalableExecution": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When enabled, Playwright client workers can connect to cloud-hosted browsers. This can increase the number of parallel workers for a test run, significantly minimizing test completion durations."
      }
    },
    "com.azure.playwrighttesting#AccountPropertiesInputRegionalAffinity": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This property sets the connection region for Playwright client workers to cloud-hosted browsers. If enabled, workers connect to browsers in the closest Azure region, ensuring lower latency. If disabled, workers connect to browsers in the Azure region in which the workspace was initially created."
      }
    },
    "com.azure.playwrighttesting#AccountsCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.playwrighttesting#AccountsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.playwrighttesting#AccountsGetRequest"
      },
      "output": {
        "target": "com.azure.playwrighttesting#AccountsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePlaywrightService/accounts/{accountName}",
          "code": 200,
          "apiVersion": "2024-12-01"
        },
        "smithy.api#documentation": "Get a Account",
        "com.distilled.openapi#apiVersion": "2024-12-01"
      }
    },
    "com.azure.playwrighttesting#AccountsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.playwrighttesting#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.playwrighttesting#AccountsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.playwrighttesting#AccountProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.playwrighttesting#AccountsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.playwrighttesting#AccountsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of account."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.playwrighttesting#AccountsListByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.playwrighttesting#AccountsListByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.playwrighttesting#AccountListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzurePlaywrightService/accounts",
          "code": 200,
          "apiVersion": "2024-12-01"
        },
        "smithy.api#documentation": "List Account resources by resource group",
        "com.distilled.openapi#apiVersion": "2024-12-01"
      }
    },
    "com.azure.playwrighttesting#AccountListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.playwrighttesting#AccountListResultValueList",
          "traits": {
            "smithy.api#documentation": "The Account items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a Account list operation."
      }
    },
    "com.azure.playwrighttesting#AccountListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.playwrighttesting#Account"
      },
      "traits": {
        "smithy.api#documentation": "The Account items on this page"
      }
    },
    "com.azure.playwrighttesting#Account": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.playwrighttesting#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.playwrighttesting#AccountTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.playwrighttesting#AccountProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Playwright service account resource."
      }
    },
    "com.azure.playwrighttesting#AccountTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.playwrighttesting#AccountsListByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.playwrighttesting#QuotasGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.playwrighttesting#QuotasGetRequest"
      },
      "output": {
        "target": "com.azure.playwrighttesting#QuotasGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.AzurePlaywrightService/locations/{location}/quotas/{quotaName}",
          "code": 200,
          "apiVersion": "2024-12-01"
        },
        "smithy.api#documentation": "Get subscription quota by name.",
        "com.distilled.openapi#apiVersion": "2024-12-01"
      }
    },
    "com.azure.playwrighttesting#QuotasGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.playwrighttesting#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.playwrighttesting#QuotaProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.playwrighttesting#QuotaProperties": {
      "type": "structure",
      "members": {
        "freeTrial": {
          "target": "com.azure.playwrighttesting#FreeTrialProperties",
          "traits": {
            "smithy.api#documentation": "The subscription quota resource free-trial properties."
          }
        },
        "offeringType": {
          "target": "com.azure.playwrighttesting#OfferingType",
          "traits": {
            "smithy.api#documentation": "Indicates the offering type for the subscription."
          }
        },
        "provisioningState": {
          "target": "com.azure.playwrighttesting#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The status of the last operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The subscription quota resource properties."
      }
    },
    "com.azure.playwrighttesting#OfferingType": {
      "type": "enum",
      "members": {
        "NOTAPPLICABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotApplicable"
          }
        },
        "PRIVATEPREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PrivatePreview"
          }
        },
        "PUBLICPREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PublicPreview"
          }
        },
        "GENERALAVAILABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GeneralAvailability"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Offering type state."
      }
    },
    "com.azure.playwrighttesting#FreeTrialProperties": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Playwright service account id.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.azure.playwrighttesting#FreeTrialState",
          "traits": {
            "smithy.api#documentation": "The free-trial state.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The subscription quota resource free-trial properties."
      }
    },
    "com.azure.playwrighttesting#FreeTrialState": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Expired"
          }
        },
        "NOTELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotEligible"
          }
        },
        "NOTREGISTERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotRegistered"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The free-trial state."
      }
    },
    "com.azure.playwrighttesting#QuotasGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The location of quota in ARM Normalized format like eastus, southeastasia etc."
          }
        },
        "quotaName": {
          "target": "com.azure.playwrighttesting#QuotasGetRequestQuotaName",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The quota name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.playwrighttesting#QuotasGetRequestQuotaName": {
      "type": "enum",
      "members": {
        "SCALABLEEXECUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ScalableExecution"
          }
        },
        "REPORTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Reporting"
          }
        }
      },
      "traits": {}
    },
    "com.azure.playwrighttesting#QuotasListBySubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.playwrighttesting#QuotasListBySubscriptionRequest"
      },
      "output": {
        "target": "com.azure.playwrighttesting#QuotaListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.AzurePlaywrightService/locations/{location}/quotas",
          "code": 200,
          "apiVersion": "2024-12-01"
        },
        "smithy.api#documentation": "List quotas for a given subscription Id.",
        "com.distilled.openapi#apiVersion": "2024-12-01"
      }
    },
    "com.azure.playwrighttesting#QuotaListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.playwrighttesting#QuotaListResultValueList",
          "traits": {
            "smithy.api#documentation": "The Quota items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a Quota list operation."
      }
    },
    "com.azure.playwrighttesting#QuotaListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.playwrighttesting#Quota"
      },
      "traits": {
        "smithy.api#documentation": "The Quota items on this page"
      }
    },
    "com.azure.playwrighttesting#Quota": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.playwrighttesting#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.playwrighttesting#QuotaProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A subscription quota resource."
      }
    },
    "com.azure.playwrighttesting#QuotasListBySubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The location of quota in ARM Normalized format like eastus, southeastasia etc."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.playwrighttesting#AccountsCheckNameAvailability": {
      "type": "operation",
      "input": {
        "target": "com.azure.playwrighttesting#AccountsCheckNameAvailabilityRequest"
      },
      "output": {
        "target": "com.azure.playwrighttesting#AccountsCheckNameAvailabilityResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.AzurePlaywrightService/checkNameAvailability",
          "code": 200,
          "apiVersion": "2024-12-01"
        },
        "smithy.api#documentation": "Adds check global name availability operation, normally used if a resource name must be globally unique.",
        "com.distilled.openapi#apiVersion": "2024-12-01"
      }
    },
    "com.azure.playwrighttesting#AccountsCheckNameAvailabilityResponse": {
      "type": "structure",
      "members": {
        "nameAvailable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the resource name is available."
          }
        },
        "reason": {
          "target": "com.azure.playwrighttesting#AccountsCheckNameAvailabilityResponseReason",
          "traits": {
            "smithy.api#documentation": "The reason why the given name is not available."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed reason why the given name is available."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.playwrighttesting#AccountsCheckNameAvailabilityResponseReason": {
      "type": "enum",
      "members": {
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        },
        "ALREADYEXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AlreadyExists"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The reason why the given name is not available."
      }
    },
    "com.azure.playwrighttesting#AccountsCheckNameAvailabilityRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource for which availability needs to be checked."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.playwrighttesting#AccountsListBySubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.playwrighttesting#AccountsListBySubscriptionRequest"
      },
      "output": {
        "target": "com.azure.playwrighttesting#AccountListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.AzurePlaywrightService/accounts",
          "code": 200,
          "apiVersion": "2024-12-01"
        },
        "smithy.api#documentation": "List Account resources by subscription ID",
        "com.distilled.openapi#apiVersion": "2024-12-01"
      }
    },
    "com.azure.playwrighttesting#AccountsListBySubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.playwrighttesting#OperationsList": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.azure.playwrighttesting#OperationsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.AzurePlaywrightService/operations",
          "code": 200,
          "apiVersion": "2024-12-01"
        },
        "smithy.api#documentation": "List the operations for the provider",
        "com.distilled.openapi#apiVersion": "2024-12-01"
      }
    },
    "com.azure.playwrighttesting#OperationsListResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.playwrighttesting#OperationsListResponseValueList",
          "traits": {
            "smithy.api#documentation": "List of operations supported by the resource provider"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to get the next set of operation list results (if there are any)."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.playwrighttesting#OperationsListResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.playwrighttesting#Operation"
      },
      "traits": {
        "smithy.api#documentation": "List of operations supported by the resource provider"
      }
    },
    "com.azure.playwrighttesting#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation, as per Resource-Based Access Control (RBAC). Examples: \"Microsoft.Compute/virtualMachines/write\", \"Microsoft.Compute/virtualMachines/capture/action\""
          }
        },
        "isDataAction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the operation applies to data-plane. This is \"true\" for data-plane operations and \"false\" for ARM/control-plane operations."
          }
        },
        "display": {
          "target": "com.azure.playwrighttesting#OperationDisplay",
          "traits": {
            "smithy.api#documentation": "Localized display information for this particular operation."
          }
        },
        "origin": {
          "target": "com.azure.playwrighttesting#OperationOrigin",
          "traits": {
            "smithy.api#documentation": "The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is \"user,system\""
          }
        },
        "actionType": {
          "target": "com.azure.playwrighttesting#OperationActionType",
          "traits": {
            "smithy.api#documentation": "Enum. Indicates the action type. \"Internal\" refers to actions that are for internal only APIs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a REST API operation, returned from the Resource Provider Operations API"
      }
    },
    "com.azure.playwrighttesting#OperationActionType": {
      "type": "enum",
      "members": {
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Internal"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enum. Indicates the action type. \"Internal\" refers to actions that are for internal only APIs."
      }
    },
    "com.azure.playwrighttesting#OperationOrigin": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        },
        "USER_SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user,system"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is \"user,system\""
      }
    },
    "com.azure.playwrighttesting#OperationDisplay": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized friendly form of the resource provider name, e.g. \"Microsoft Monitoring Insights\" or \"Microsoft Compute\"."
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized friendly name of the resource type related to this operation. E.g. \"Virtual Machines\" or \"Job Schedule Collections\"."
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The concise, localized friendly name for the operation; suitable for dropdowns. E.g. \"Create or Update Virtual Machine\", \"Restart Virtual Machine\"."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The short, localized friendly description of the operation; suitable for tool tips and detailed views."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Localized display information for this particular operation."
      }
    },
    "com.azure.playwrighttesting#Playwrighttesting": {
      "type": "service",
      "version": "1.0",
      "operations": [
        {
          "target": "com.azure.playwrighttesting#AccountQuotasGet"
        },
        {
          "target": "com.azure.playwrighttesting#AccountQuotasListByAccount"
        },
        {
          "target": "com.azure.playwrighttesting#AccountsDelete"
        },
        {
          "target": "com.azure.playwrighttesting#AccountsUpdate"
        },
        {
          "target": "com.azure.playwrighttesting#AccountsCreateOrUpdate"
        },
        {
          "target": "com.azure.playwrighttesting#AccountsGet"
        },
        {
          "target": "com.azure.playwrighttesting#AccountsListByResourceGroup"
        },
        {
          "target": "com.azure.playwrighttesting#QuotasGet"
        },
        {
          "target": "com.azure.playwrighttesting#QuotasListBySubscription"
        },
        {
          "target": "com.azure.playwrighttesting#AccountsCheckNameAvailability"
        },
        {
          "target": "com.azure.playwrighttesting#AccountsListBySubscription"
        },
        {
          "target": "com.azure.playwrighttesting#OperationsList"
        }
      ],
      "traits": {
        "smithy.api#title": "Azure Playwrighttesting",
        "smithy.api#documentation": "Azure Playwrighttesting API — merged from the playwrighttesting resource-manager specs (latest stable api-version per resource provider)."
      }
    }
  }
}
