{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.policyinsights#PolicyStatesSummarizeForResourceGroupLevelPolicyAssignment": {
      "type": "operation",
      "input": {
        "target": "com.azure.policyinsights#PolicyStatesSummarizeForResourceGroupLevelPolicyAssignmentRequest"
      },
      "output": {
        "target": "com.azure.policyinsights#SummarizeResults"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{authorizationNamespace}/policyAssignments/{policyAssignmentName}/providers/Microsoft.PolicyInsights/policyStates/{policyStatesSummaryResource}/summarize",
          "code": 200,
          "apiVersion": "2024-10-01"
        },
        "smithy.api#documentation": "Summarizes policy states for the resource group level policy assignment.",
        "com.distilled.openapi#apiVersion": "2024-10-01"
      }
    },
    "com.azure.policyinsights#SummarizeResults": {
      "type": "structure",
      "members": {
        "_odata_context": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OData context string; used by OData clients to resolve type information based on metadata.",
            "smithy.api#jsonName": "@odata.context"
          }
        },
        "_odata_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "OData entity count; represents the number of summaries returned; always set to 1.",
            "smithy.api#jsonName": "@odata.count"
          }
        },
        "value": {
          "target": "com.azure.policyinsights#SummarizeResultsValueList",
          "traits": {
            "smithy.api#documentation": "Summarize action results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Summarize action results."
      }
    },
    "com.azure.policyinsights#SummarizeResultsValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.policyinsights#Summary"
      },
      "traits": {
        "smithy.api#documentation": "Summarize action results."
      }
    },
    "com.azure.policyinsights#Summary": {
      "type": "structure",
      "members": {
        "_odata_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OData entity ID; always set to null since summaries do not have an entity ID.",
            "smithy.api#jsonName": "@odata.id"
          }
        },
        "_odata_context": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OData context string; used by OData clients to resolve type information based on metadata.",
            "smithy.api#jsonName": "@odata.context"
          }
        },
        "results": {
          "target": "com.azure.policyinsights#SummaryResults",
          "traits": {
            "smithy.api#documentation": "Compliance summary for all policy assignments."
          }
        },
        "policyAssignments": {
          "target": "com.azure.policyinsights#SummaryPolicyAssignmentsList",
          "traits": {
            "smithy.api#documentation": "Policy assignments summary."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Summary results."
      }
    },
    "com.azure.policyinsights#SummaryPolicyAssignmentsList": {
      "type": "list",
      "member": {
        "target": "com.azure.policyinsights#PolicyAssignmentSummary"
      },
      "traits": {
        "smithy.api#documentation": "Policy assignments summary."
      }
    },
    "com.azure.policyinsights#PolicyAssignmentSummary": {
      "type": "structure",
      "members": {
        "policyAssignmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy assignment ID."
          }
        },
        "policySetDefinitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy set definition ID, if the policy assignment is for a policy set."
          }
        },
        "results": {
          "target": "com.azure.policyinsights#SummaryResults",
          "traits": {
            "smithy.api#documentation": "Compliance summary for the policy assignment."
          }
        },
        "policyDefinitions": {
          "target": "com.azure.policyinsights#PolicyAssignmentSummaryPolicyDefinitionsList",
          "traits": {
            "smithy.api#documentation": "Policy definitions summary."
          }
        },
        "policyGroups": {
          "target": "com.azure.policyinsights#PolicyAssignmentSummaryPolicyGroupsList",
          "traits": {
            "smithy.api#documentation": "Policy definition group summary."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Policy assignment summary."
      }
    },
    "com.azure.policyinsights#PolicyAssignmentSummaryPolicyGroupsList": {
      "type": "list",
      "member": {
        "target": "com.azure.policyinsights#PolicyGroupSummary"
      },
      "traits": {
        "smithy.api#documentation": "Policy definition group summary."
      }
    },
    "com.azure.policyinsights#PolicyGroupSummary": {
      "type": "structure",
      "members": {
        "policyGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy group name."
          }
        },
        "results": {
          "target": "com.azure.policyinsights#SummaryResults",
          "traits": {
            "smithy.api#documentation": "Compliance summary for the policy definition group."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Policy definition group summary."
      }
    },
    "com.azure.policyinsights#SummaryResults": {
      "type": "structure",
      "members": {
        "queryResultsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTP POST URI for queryResults action on Microsoft.PolicyInsights to retrieve raw results for the compliance summary. This property will not be available by default in future API versions, but could be queried explicitly."
          }
        },
        "nonCompliantResources": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of non-compliant resources."
          }
        },
        "nonCompliantPolicies": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of non-compliant policies."
          }
        },
        "resourceDetails": {
          "target": "com.azure.policyinsights#SummaryResultsResourceDetailsList",
          "traits": {
            "smithy.api#documentation": "The resources summary at this level."
          }
        },
        "policyDetails": {
          "target": "com.azure.policyinsights#SummaryResultsPolicyDetailsList",
          "traits": {
            "smithy.api#documentation": "The policy artifact summary at this level. For query scope level, it represents policy assignment summary. For policy assignment level, it represents policy definitions summary."
          }
        },
        "policyGroupDetails": {
          "target": "com.azure.policyinsights#SummaryResultsPolicyGroupDetailsList",
          "traits": {
            "smithy.api#documentation": "The policy definition group summary at this level."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Compliance summary on a particular summary level."
      }
    },
    "com.azure.policyinsights#SummaryResultsPolicyGroupDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.policyinsights#ComplianceDetail"
      },
      "traits": {
        "smithy.api#documentation": "The policy definition group summary at this level."
      }
    },
    "com.azure.policyinsights#ComplianceDetail": {
      "type": "structure",
      "members": {
        "complianceState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The compliance state."
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Summarized count value for this compliance state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The compliance state rollup."
      }
    },
    "com.azure.policyinsights#SummaryResultsPolicyDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.policyinsights#ComplianceDetail"
      },
      "traits": {
        "smithy.api#documentation": "The policy artifact summary at this level. For query scope level, it represents policy assignment summary. For policy assignment level, it represents policy definitions summary."
      }
    },
    "com.azure.policyinsights#SummaryResultsResourceDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.policyinsights#ComplianceDetail"
      },
      "traits": {
        "smithy.api#documentation": "The resources summary at this level."
      }
    },
    "com.azure.policyinsights#PolicyAssignmentSummaryPolicyDefinitionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.policyinsights#PolicyDefinitionSummary"
      },
      "traits": {
        "smithy.api#documentation": "Policy definitions summary."
      }
    },
    "com.azure.policyinsights#PolicyDefinitionSummary": {
      "type": "structure",
      "members": {
        "policyDefinitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy definition ID."
          }
        },
        "policyDefinitionReferenceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy definition reference ID."
          }
        },
        "policyDefinitionGroupNames": {
          "target": "com.azure.policyinsights#PolicyDefinitionSummaryPolicyDefinitionGroupNamesList",
          "traits": {
            "smithy.api#documentation": "Policy definition group names."
          }
        },
        "effect": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy effect, i.e. policy definition action."
          }
        },
        "results": {
          "target": "com.azure.policyinsights#SummaryResults",
          "traits": {
            "smithy.api#documentation": "Compliance summary for the policy definition."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Policy definition summary."
      }
    },
    "com.azure.policyinsights#PolicyDefinitionSummaryPolicyDefinitionGroupNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Policy definition group names."
      }
    },
    "com.azure.policyinsights#PolicyStatesSummarizeForResourceGroupLevelPolicyAssignmentRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Resource group name."
          }
        },
        "authorizationNamespace": {
          "target": "com.azure.policyinsights#PolicyStatesSummarizeForResourceGroupLevelPolicyAssignmentRequestAuthorizationNamespace",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace for Microsoft Authorization resource provider; only \"Microsoft.Authorization\" is allowed."
          }
        },
        "policyAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Policy assignment name."
          }
        },
        "policyStatesSummaryResource": {
          "target": "com.azure.policyinsights#PolicyStatesSummarizeForResourceGroupLevelPolicyAssignmentRequestPolicyStatesSummaryResource",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The virtual resource under PolicyStates resource type for summarize action. In a given time range, 'latest' represents the latest policy state(s) and is the only allowed value."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "Maximum number of records to return."
          }
        },
        "_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$from",
            "smithy.api#documentation": "ISO 8601 formatted timestamp specifying the start time of the interval to query. When not specified, the service uses ($to - 1-day)."
          }
        },
        "_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$to",
            "smithy.api#documentation": "ISO 8601 formatted timestamp specifying the end time of the interval to query. When not specified, the service uses request time."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "OData filter expression."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.policyinsights#PolicyStatesSummarizeForResourceGroupLevelPolicyAssignmentRequestPolicyStatesSummaryResource": {
      "type": "enum",
      "members": {
        "LATEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "latest"
          }
        }
      },
      "traits": {}
    },
    "com.azure.policyinsights#PolicyStatesSummarizeForResourceGroupLevelPolicyAssignmentRequestAuthorizationNamespace": {
      "type": "enum",
      "members": {
        "MICROSOFT_AUTHORIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Microsoft.Authorization"
          }
        }
      },
      "traits": {}
    },
    "com.azure.policyinsights#PolicyStatesListQueryResultsForResourceGroupLevelPolicyAssignment": {
      "type": "operation",
      "input": {
        "target": "com.azure.policyinsights#PolicyStatesListQueryResultsForResourceGroupLevelPolicyAssignmentRequest"
      },
      "output": {
        "target": "com.azure.policyinsights#PolicyStatesQueryResults"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{authorizationNamespace}/policyAssignments/{policyAssignmentName}/providers/Microsoft.PolicyInsights/policyStates/{policyStatesResource}/queryResults",
          "code": 200,
          "apiVersion": "2024-10-01"
        },
        "smithy.api#documentation": "Queries policy states for the resource group level policy assignment.",
        "com.distilled.openapi#apiVersion": "2024-10-01"
      }
    },
    "com.azure.policyinsights#PolicyStatesQueryResults": {
      "type": "structure",
      "members": {
        "_odata_context": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OData context string; used by OData clients to resolve type information based on metadata.",
            "smithy.api#jsonName": "@odata.context"
          }
        },
        "_odata_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "OData entity count; represents the number of policy state records returned.",
            "smithy.api#jsonName": "@odata.count"
          }
        },
        "_odata_nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Odata next link; URL to get the next set of results.",
            "smithy.api#jsonName": "@odata.nextLink"
          }
        },
        "value": {
          "target": "com.azure.policyinsights#PolicyStatesQueryResultsValueList",
          "traits": {
            "smithy.api#documentation": "Query results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Query results."
      }
    },
    "com.azure.policyinsights#PolicyStatesQueryResultsValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.policyinsights#PolicyState"
      },
      "traits": {
        "smithy.api#documentation": "Query results."
      }
    },
    "com.azure.policyinsights#PolicyState": {
      "type": "structure",
      "members": {
        "_odata_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OData entity ID; always set to null since policy state records do not have an entity ID.",
            "smithy.api#jsonName": "@odata.id"
          }
        },
        "_odata_context": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OData context string; used by OData clients to resolve type information based on metadata.",
            "smithy.api#jsonName": "@odata.context"
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp for the policy state record."
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        },
        "policyAssignmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy assignment ID."
          }
        },
        "policyDefinitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy definition ID."
          }
        },
        "effectiveParameters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Effective parameters for the policy assignment."
          }
        },
        "isCompliant": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag which states whether the resource is compliant against the policy assignment it was evaluated against. This property is deprecated; please use ComplianceState instead."
          }
        },
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subscription ID."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "resourceLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource location."
          }
        },
        "resourceGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource group name."
          }
        },
        "resourceTags": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "List of resource tags."
          }
        },
        "policyAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy assignment name."
          }
        },
        "policyAssignmentOwner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy assignment owner."
          }
        },
        "policyAssignmentParameters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy assignment parameters."
          }
        },
        "policyAssignmentScope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy assignment scope."
          }
        },
        "policyDefinitionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy definition name."
          }
        },
        "policyDefinitionAction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy definition action, i.e. effect."
          }
        },
        "policyDefinitionCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy definition category."
          }
        },
        "policySetDefinitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy set definition ID, if the policy assignment is for a policy set."
          }
        },
        "policySetDefinitionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy set definition name, if the policy assignment is for a policy set."
          }
        },
        "policySetDefinitionOwner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy set definition owner, if the policy assignment is for a policy set."
          }
        },
        "policySetDefinitionCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy set definition category, if the policy assignment is for a policy set."
          }
        },
        "policySetDefinitionParameters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy set definition parameters, if the policy assignment is for a policy set."
          }
        },
        "managementGroupIds": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma separated list of management group IDs, which represent the hierarchy of the management groups the resource is under."
          }
        },
        "policyDefinitionReferenceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reference ID for the policy definition inside the policy set, if the policy assignment is for a policy set."
          }
        },
        "complianceState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Compliance state of the resource."
          }
        },
        "policyEvaluationDetails": {
          "target": "com.azure.policyinsights#PolicyEvaluationDetails",
          "traits": {
            "smithy.api#documentation": "Policy evaluation details."
          }
        },
        "policyDefinitionGroupNames": {
          "target": "com.azure.policyinsights#PolicyStatePolicyDefinitionGroupNamesList",
          "traits": {
            "smithy.api#documentation": "Policy definition group names."
          }
        },
        "components": {
          "target": "com.azure.policyinsights#PolicyStateComponentsList",
          "traits": {
            "smithy.api#documentation": "Components state compliance records populated only when URL contains $expand=components clause."
          }
        },
        "policyDefinitionVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Evaluated policy definition version."
          }
        },
        "policySetDefinitionVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Evaluated policy set definition version."
          }
        },
        "policyAssignmentVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Evaluated policy assignment version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Policy state record."
      }
    },
    "com.azure.policyinsights#PolicyStateComponentsList": {
      "type": "list",
      "member": {
        "target": "com.azure.policyinsights#ComponentStateDetails"
      },
      "traits": {
        "smithy.api#documentation": "Components state compliance records populated only when URL contains $expand=components clause."
      }
    },
    "com.azure.policyinsights#ComponentStateDetails": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Component Id."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Component type."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Component name."
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Component compliance evaluation timestamp."
          }
        },
        "complianceState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Component compliance state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Component state details."
      }
    },
    "com.azure.policyinsights#PolicyStatePolicyDefinitionGroupNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Policy definition group names."
      }
    },
    "com.azure.policyinsights#PolicyEvaluationDetails": {
      "type": "structure",
      "members": {
        "evaluatedExpressions": {
          "target": "com.azure.policyinsights#PolicyEvaluationDetailsEvaluatedExpressionsList",
          "traits": {
            "smithy.api#documentation": "Details of the evaluated expressions."
          }
        },
        "ifNotExistsDetails": {
          "target": "com.azure.policyinsights#IfNotExistsEvaluationDetails",
          "traits": {
            "smithy.api#documentation": "Evaluation details of IfNotExists effect."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Policy evaluation details."
      }
    },
    "com.azure.policyinsights#IfNotExistsEvaluationDetails": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the last evaluated resource for IfNotExists effect."
          }
        },
        "totalResources": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of resources to which the existence condition is applicable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Evaluation details of IfNotExists effect."
      }
    },
    "com.azure.policyinsights#PolicyEvaluationDetailsEvaluatedExpressionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.policyinsights#ExpressionEvaluationDetails"
      },
      "traits": {
        "smithy.api#documentation": "Details of the evaluated expressions."
      }
    },
    "com.azure.policyinsights#ExpressionEvaluationDetails": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Evaluation result."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Expression evaluated."
          }
        },
        "expressionKind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of expression that was evaluated."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property path if the expression is a field or an alias."
          }
        },
        "expressionValue": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Value of the expression."
          }
        },
        "targetValue": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Target value to be compared with the expression value."
          }
        },
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operator to compare the expression value and the target value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Evaluation details of policy language expressions."
      }
    },
    "com.azure.policyinsights#PolicyStatesListQueryResultsForResourceGroupLevelPolicyAssignmentRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Resource group name."
          }
        },
        "authorizationNamespace": {
          "target": "com.azure.policyinsights#PolicyStatesListQueryResultsForResourceGroupLevelPolicyAssignmentRequestAuthorizationNamespace",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace for Microsoft Authorization resource provider; only \"Microsoft.Authorization\" is allowed."
          }
        },
        "policyAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Policy assignment name."
          }
        },
        "policyStatesResource": {
          "target": "com.azure.policyinsights#PolicyStatesListQueryResultsForResourceGroupLevelPolicyAssignmentRequestPolicyStatesResource",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The virtual resource under PolicyStates resource type. In a given time range, 'latest' represents the latest policy state(s), whereas 'default' represents all policy state(s)."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "Maximum number of records to return."
          }
        },
        "_orderby": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$orderby",
            "smithy.api#documentation": "Ordering expression using OData notation. One or more comma-separated column names with an optional \"desc\" (the default) or \"asc\", e.g. \"$orderby=PolicyAssignmentId, ResourceId asc\"."
          }
        },
        "_select": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$select",
            "smithy.api#documentation": "Select expression using OData notation. Limits the columns on each record to just those requested, e.g. \"$select=PolicyAssignmentId, ResourceId\"."
          }
        },
        "_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$from",
            "smithy.api#documentation": "ISO 8601 formatted timestamp specifying the start time of the interval to query. When not specified, the service uses ($to - 1-day)."
          }
        },
        "_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$to",
            "smithy.api#documentation": "ISO 8601 formatted timestamp specifying the end time of the interval to query. When not specified, the service uses request time."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "OData filter expression."
          }
        },
        "_apply": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$apply",
            "smithy.api#documentation": "OData apply expression for aggregations."
          }
        },
        "_skiptoken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skiptoken",
            "smithy.api#documentation": "Skiptoken is only provided if a previous response returned a partial result as a part of nextLink element."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.policyinsights#PolicyStatesListQueryResultsForResourceGroupLevelPolicyAssignmentRequestPolicyStatesResource": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "LATEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "latest"
          }
        }
      },
      "traits": {}
    },
    "com.azure.policyinsights#PolicyStatesListQueryResultsForResourceGroupLevelPolicyAssignmentRequestAuthorizationNamespace": {
      "type": "enum",
      "members": {
        "MICROSOFT_AUTHORIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Microsoft.Authorization"
          }
        }
      },
      "traits": {}
    },
    "com.azure.policyinsights#PolicyEventsListQueryResultsForResourceGroupLevelPolicyAssignment": {
      "type": "operation",
      "input": {
        "target": "com.azure.policyinsights#PolicyEventsListQueryResultsForResourceGroupLevelPolicyAssignmentRequest"
      },
      "output": {
        "target": "com.azure.policyinsights#PolicyEventsQueryResults"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{authorizationNamespace}/policyAssignments/{policyAssignmentName}/providers/Microsoft.PolicyInsights/policyEvents/{policyEventsResource}/queryResults",
          "code": 200,
          "apiVersion": "2024-10-01"
        },
        "smithy.api#documentation": "Queries policy events for the resource group level policy assignment.",
        "com.distilled.openapi#apiVersion": "2024-10-01"
      }
    },
    "com.azure.policyinsights#PolicyEventsQueryResults": {
      "type": "structure",
      "members": {
        "_odata_context": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OData context string; used by OData clients to resolve type information based on metadata.",
            "smithy.api#jsonName": "@odata.context"
          }
        },
        "_odata_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "OData entity count; represents the number of policy event records returned.",
            "smithy.api#jsonName": "@odata.count"
          }
        },
        "_odata_nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Odata next link; URL to get the next set of results.",
            "smithy.api#jsonName": "@odata.nextLink"
          }
        },
        "value": {
          "target": "com.azure.policyinsights#PolicyEventsQueryResultsValueList",
          "traits": {
            "smithy.api#documentation": "Query results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Query results."
      }
    },
    "com.azure.policyinsights#PolicyEventsQueryResultsValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.policyinsights#PolicyEvent"
      },
      "traits": {
        "smithy.api#documentation": "Query results."
      }
    },
    "com.azure.policyinsights#PolicyEvent": {
      "type": "structure",
      "members": {
        "_odata_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OData entity ID; always set to null since policy event records do not have an entity ID.",
            "smithy.api#jsonName": "@odata.id"
          }
        },
        "_odata_context": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OData context string; used by OData clients to resolve type information based on metadata.",
            "smithy.api#jsonName": "@odata.context"
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp for the policy event record."
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        },
        "policyAssignmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy assignment ID."
          }
        },
        "policyDefinitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy definition ID."
          }
        },
        "effectiveParameters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Effective parameters for the policy assignment."
          }
        },
        "isCompliant": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag which states whether the resource is compliant against the policy assignment it was evaluated against."
          }
        },
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subscription ID."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "resourceLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource location."
          }
        },
        "resourceGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource group name."
          }
        },
        "resourceTags": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "List of resource tags."
          }
        },
        "policyAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy assignment name."
          }
        },
        "policyAssignmentOwner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy assignment owner."
          }
        },
        "policyAssignmentParameters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy assignment parameters."
          }
        },
        "policyAssignmentScope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy assignment scope."
          }
        },
        "policyDefinitionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy definition name."
          }
        },
        "policyDefinitionAction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy definition action, i.e. effect."
          }
        },
        "policyDefinitionCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy definition category."
          }
        },
        "policySetDefinitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy set definition ID, if the policy assignment is for a policy set."
          }
        },
        "policySetDefinitionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy set definition name, if the policy assignment is for a policy set."
          }
        },
        "policySetDefinitionOwner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy set definition owner, if the policy assignment is for a policy set."
          }
        },
        "policySetDefinitionCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy set definition category, if the policy assignment is for a policy set."
          }
        },
        "policySetDefinitionParameters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy set definition parameters, if the policy assignment is for a policy set."
          }
        },
        "managementGroupIds": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma separated list of management group IDs, which represent the hierarchy of the management groups the resource is under."
          }
        },
        "policyDefinitionReferenceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reference ID for the policy definition inside the policy set, if the policy assignment is for a policy set."
          }
        },
        "complianceState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Compliance state of the resource."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tenant ID for the policy event record."
          }
        },
        "principalOid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Principal object ID for the user who initiated the resource operation that triggered the policy event."
          }
        },
        "components": {
          "target": "com.azure.policyinsights#PolicyEventComponentsList",
          "traits": {
            "smithy.api#documentation": "Components events records populated only when URL contains $expand=components clause."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Policy event record."
      }
    },
    "com.azure.policyinsights#PolicyEventComponentsList": {
      "type": "list",
      "member": {
        "target": "com.azure.policyinsights#ComponentEventDetails"
      },
      "traits": {
        "smithy.api#documentation": "Components events records populated only when URL contains $expand=components clause."
      }
    },
    "com.azure.policyinsights#ComponentEventDetails": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Component Id."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Component type."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Component name."
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp for component policy event record."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tenant ID for the policy event record."
          }
        },
        "principalOid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Principal object ID for the user who initiated the resource component operation that triggered the policy event."
          }
        },
        "policyDefinitionAction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Policy definition action, i.e. effect."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Component event details."
      }
    },
    "com.azure.policyinsights#PolicyEventsListQueryResultsForResourceGroupLevelPolicyAssignmentRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Resource group name."
          }
        },
        "authorizationNamespace": {
          "target": "com.azure.policyinsights#PolicyEventsListQueryResultsForResourceGroupLevelPolicyAssignmentRequestAuthorizationNamespace",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace for Microsoft Authorization resource provider; only \"Microsoft.Authorization\" is allowed."
          }
        },
        "policyAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Policy assignment name."
          }
        },
        "policyEventsResource": {
          "target": "com.azure.policyinsights#PolicyEventsListQueryResultsForResourceGroupLevelPolicyAssignmentRequestPolicyEventsResource",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the virtual resource under PolicyEvents resource type; only \"default\" is allowed."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "Maximum number of records to return."
          }
        },
        "_orderby": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$orderby",
            "smithy.api#documentation": "Ordering expression using OData notation. One or more comma-separated column names with an optional \"desc\" (the default) or \"asc\", e.g. \"$orderby=PolicyAssignmentId, ResourceId asc\"."
          }
        },
        "_select": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$select",
            "smithy.api#documentation": "Select expression using OData notation. Limits the columns on each record to just those requested, e.g. \"$select=PolicyAssignmentId, ResourceId\"."
          }
        },
        "_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$from",
            "smithy.api#documentation": "ISO 8601 formatted timestamp specifying the start time of the interval to query. When not specified, the service uses ($to - 1-day)."
          }
        },
        "_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$to",
            "smithy.api#documentation": "ISO 8601 formatted timestamp specifying the end time of the interval to query. When not specified, the service uses request time."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "OData filter expression."
          }
        },
        "_apply": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$apply",
            "smithy.api#documentation": "OData apply expression for aggregations."
          }
        },
        "_skiptoken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skiptoken",
            "smithy.api#documentation": "Skiptoken is only provided if a previous response returned a partial result as a part of nextLink element."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.policyinsights#PolicyEventsListQueryResultsForResourceGroupLevelPolicyAssignmentRequestPolicyEventsResource": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        }
      },
      "traits": {}
    },
    "com.azure.policyinsights#PolicyEventsListQueryResultsForResourceGroupLevelPolicyAssignmentRequestAuthorizationNamespace": {
      "type": "enum",
      "members": {
        "MICROSOFT_AUTHORIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Microsoft.Authorization"
          }
        }
      },
      "traits": {}
    },
    "com.azure.policyinsights#RemediationsListDeploymentsAtResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.policyinsights#RemediationsListDeploymentsAtResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.policyinsights#RemediationDeploymentsListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PolicyInsights/remediations/{remediationName}/listDeployments",
          "code": 200,
          "apiVersion": "2024-10-01"
        },
        "smithy.api#documentation": "Gets all deployments for a remediation at resource group scope.",
        "com.distilled.openapi#apiVersion": "2024-10-01"
      }
    },
    "com.azure.policyinsights#RemediationDeploymentsListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.policyinsights#RemediationDeploymentsListResultValueList",
          "traits": {
            "smithy.api#documentation": "The RemediationDeployment items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of deployments for a remediation."
      }
    },
    "com.azure.policyinsights#RemediationDeploymentsListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.policyinsights#RemediationDeployment"
      },
      "traits": {
        "smithy.api#documentation": "The RemediationDeployment items on this page"
      }
    },
    "com.azure.policyinsights#RemediationDeployment": {
      "type": "structure",
      "members": {
        "remediatedResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID of the resource that is being remediated by the deployment."
          }
        },
        "deploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID of the template deployment that will remediate the resource."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the remediation deployment."
          }
        },
        "resourceLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the resource that is being remediated."
          }
        },
        "error": {
          "target": "com.azure.policyinsights#ErrorDefinition",
          "traits": {
            "smithy.api#documentation": "Error encountered while remediated the resource."
          }
        },
        "createdOn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the remediation was created."
          }
        },
        "lastUpdatedOn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the remediation deployment was last updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a single deployment created by the remediation."
      }
    },
    "com.azure.policyinsights#ErrorDefinition": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service specific error code which serves as the substatus for the HTTP error code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the error."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The target of the error."
          }
        },
        "details": {
          "target": "com.azure.policyinsights#ErrorDefinitionDetailsList",
          "traits": {
            "smithy.api#documentation": "Internal error details."
          }
        },
        "additionalInfo": {
          "target": "com.azure.policyinsights#ErrorDefinitionAdditionalInfoList",
          "traits": {
            "smithy.api#documentation": "Additional scenario specific error details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error definition."
      }
    },
    "com.azure.policyinsights#ErrorDefinitionAdditionalInfoList": {
      "type": "list",
      "member": {
        "target": "com.azure.policyinsights#TypedErrorInfo"
      },
      "traits": {
        "smithy.api#documentation": "Additional scenario specific error details."
      }
    },
    "com.azure.policyinsights#TypedErrorInfo": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of included error details."
          }
        },
        "info": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The scenario specific error details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Scenario specific error details."
      }
    },
    "com.azure.policyinsights#ErrorDefinitionDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.policyinsights#ErrorDefinition"
      },
      "traits": {
        "smithy.api#documentation": "Internal error details."
      }
    },
    "com.azure.policyinsights#RemediationsListDeploymentsAtResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "remediationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the remediation."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "Maximum number of records to return."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.policyinsights#RemediationsCancelAtResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.policyinsights#RemediationsCancelAtResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.policyinsights#RemediationsCancelAtResourceGroupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PolicyInsights/remediations/{remediationName}/cancel",
          "code": 200,
          "apiVersion": "2024-10-01"
        },
        "smithy.api#documentation": "Cancels a remediation at resource group scope.",
        "com.distilled.openapi#apiVersion": "2024-10-01"
      }
    },
    "com.azure.policyinsights#RemediationsCancelAtResourceGroupResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.policyinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.policyinsights#RemediationProperties",
          "traits": {
            "smithy.api#documentation": "Properties for the remediation."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.policyinsights#RemediationProperties": {
      "type": "structure",
      "members": {
        "policyAssignmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID of the policy assignment that should be remediated."
          }
        },
        "policyDefinitionReferenceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The policy definition reference ID of the individual definition that should be remediated. Required when the policy assignment being remediated assigns a policy set definition."
          }
        },
        "resourceDiscoveryMode": {
          "target": "com.azure.policyinsights#ResourceDiscoveryMode",
          "traits": {
            "smithy.api#documentation": "The way resources to remediate are discovered. Defaults to ExistingNonCompliant if not specified."
          }
        },
        "provisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status of the remediation. This refers to the entire remediation task, not individual deployments. Allowed values are Evaluating, Canceled, Cancelling, Failed, Complete, or Succeeded."
          }
        },
        "createdOn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the remediation was created."
          }
        },
        "lastUpdatedOn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the remediation was last updated."
          }
        },
        "filters": {
          "target": "com.azure.policyinsights#RemediationFilters",
          "traits": {
            "smithy.api#documentation": "The filters that will be applied to determine which resources to remediate."
          }
        },
        "deploymentStatus": {
          "target": "com.azure.policyinsights#RemediationDeploymentSummary",
          "traits": {
            "smithy.api#documentation": "The deployment status summary for all deployments created by the remediation."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The remediation status message. Provides additional details regarding the state of the remediation."
          }
        },
        "correlationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The remediation correlation Id. Can be used to find events related to the remediation in the activity log."
          }
        },
        "resourceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Determines the max number of resources that can be remediated by the remediation job. If not provided, the default resource count is used."
          }
        },
        "parallelDeployments": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Determines how many resources to remediate at any given time. Can be used to increase or reduce the pace of the remediation. If not provided, the default parallel deployments value is used."
          }
        },
        "failureThreshold": {
          "target": "com.azure.policyinsights#RemediationPropertiesFailureThreshold",
          "traits": {
            "smithy.api#documentation": "The remediation failure threshold settings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The remediation properties."
      }
    },
    "com.azure.policyinsights#RemediationPropertiesFailureThreshold": {
      "type": "structure",
      "members": {
        "percentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A number between 0.0 to 1.0 representing the percentage failure threshold. The remediation will fail if the percentage of failed remediation operations (i.e. failed deployments) exceeds this threshold."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The remediation failure threshold settings"
      }
    },
    "com.azure.policyinsights#RemediationDeploymentSummary": {
      "type": "structure",
      "members": {
        "totalDeployments": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of deployments required by the remediation."
          }
        },
        "successfulDeployments": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of deployments required by the remediation that have succeeded."
          }
        },
        "failedDeployments": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of deployments required by the remediation that have failed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The deployment status summary for all deployments created by the remediation."
      }
    },
    "com.azure.policyinsights#RemediationFilters": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.azure.policyinsights#RemediationFiltersLocationsList",
          "traits": {
            "smithy.api#documentation": "The resource locations that will be remediated."
          }
        },
        "resourceIds": {
          "target": "com.azure.policyinsights#RemediationFiltersResourceIdsList",
          "traits": {
            "smithy.api#documentation": "The IDs of the resources that will be remediated. Can specify at most 100 IDs. This filter cannot be used when ReEvaluateCompliance is set to ReEvaluateCompliance, and cannot be empty if provided."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The filters that will be applied to determine which resources to remediate."
      }
    },
    "com.azure.policyinsights#RemediationFiltersResourceIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The IDs of the resources that will be remediated. Can specify at most 100 IDs. This filter cannot be used when ReEvaluateCompliance is set to ReEvaluateCompliance, and cannot be empty if provided."
      }
    },
    "com.azure.policyinsights#RemediationFiltersLocationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The resource locations that will be remediated."
      }
    },
    "com.azure.policyinsights#ResourceDiscoveryMode": {
      "type": "enum",
      "members": {
        "EXISTINGNONCOMPLIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ExistingNonCompliant"
          }
        },
        "REEVALUATECOMPLIANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReEvaluateCompliance"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The way resources to remediate are discovered. Defaults to ExistingNonCompliant if not specified."
      }
    },
    "com.azure.policyinsights#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.policyinsights#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.policyinsights#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.policyinsights#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.policyinsights#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.policyinsights#RemediationsCancelAtResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "remediationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the remediation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.policyinsights#RemediationsDeleteAtResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.policyinsights#RemediationsDeleteAtResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.policyinsights#RemediationsDeleteAtResourceGroupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PolicyInsights/remediations/{remediationName}",
          "code": 200,
          "apiVersion": "2024-10-01"
        },
        "smithy.api#documentation": "Deletes an existing remediation at resource group scope.",
        "com.distilled.openapi#apiVersion": "2024-10-01"
      }
    },
    "com.azure.policyinsights#RemediationsDeleteAtResourceGroupResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.policyinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.policyinsights#RemediationProperties",
          "traits": {
            "smithy.api#documentation": "Properties for the remediation."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.policyinsights#RemediationsDeleteAtResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "remediationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the remediation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.policyinsights#RemediationsCreateOrUpdateAtResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.policyinsights#RemediationsCreateOrUpdateAtResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.policyinsights#RemediationsCreateOrUpdateAtResourceGroupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PolicyInsights/remediations/{remediationName}",
          "code": 200,
          "apiVersion": "2024-10-01"
        },
        "smithy.api#documentation": "Creates or updates a remediation at resource group scope.",
        "com.distilled.openapi#apiVersion": "2024-10-01"
      }
    },
    "com.azure.policyinsights#RemediationsCreateOrUpdateAtResourceGroupResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.policyinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.policyinsights#RemediationProperties",
          "traits": {
            "smithy.api#documentation": "Properties for the remediation."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.policyinsights#RemediationsCreateOrUpdateAtResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "remediationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the remediation."
          }
        },
        "properties": {
          "target": "com.azure.policyinsights#RemediationPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Properties for the remediation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.policyinsights#RemediationPropertiesInput": {
      "type": "structure",
      "members": {
        "policyAssignmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID of the policy assignment that should be remediated."
          }
        },
        "policyDefinitionReferenceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The policy definition reference ID of the individual definition that should be remediated. Required when the policy assignment being remediated assigns a policy set definition."
          }
        },
        "resourceDiscoveryMode": {
          "target": "com.azure.policyinsights#ResourceDiscoveryMode",
          "traits": {
            "smithy.api#documentation": "The way resources to remediate are discovered. Defaults to ExistingNonCompliant if not specified."
          }
        },
        "filters": {
          "target": "com.azure.policyinsights#RemediationFilters",
          "traits": {
            "smithy.api#documentation": "The filters that will be applied to determine which resources to remediate."
          }
        },
        "resourceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Determines the max number of resources that can be remediated by the remediation job. If not provided, the default resource count is used."
          }
        },
        "parallelDeployments": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Determines how many resources to remediate at any given time. Can be used to increase or reduce the pace of the remediation. If not provided, the default parallel deployments value is used."
          }
        },
        "failureThreshold": {
          "target": "com.azure.policyinsights#RemediationPropertiesFailureThreshold",
          "traits": {
            "smithy.api#documentation": "The remediation failure threshold settings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The remediation properties."
      }
    },
    "com.azure.policyinsights#RemediationsGetAtResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.policyinsights#RemediationsGetAtResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.policyinsights#RemediationsGetAtResourceGroupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PolicyInsights/remediations/{remediationName}",
          "code": 200,
          "apiVersion": "2024-10-01"
        },
        "smithy.api#documentation": "Gets an existing remediation at resource group scope.",
        "com.distilled.openapi#apiVersion": "2024-10-01"
      }
    },
    "com.azure.policyinsights#RemediationsGetAtResourceGroupResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.policyinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.policyinsights#RemediationProperties",
          "traits": {
            "smithy.api#documentation": "Properties for the remediation."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.policyinsights#RemediationsGetAtResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "remediationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the remediation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.policyinsights#RemediationsListForResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.policyinsights#RemediationsListForResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.policyinsights#RemediationListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PolicyInsights/remediations",
          "code": 200,
          "apiVersion": "2024-10-01"
        },
        "smithy.api#documentation": "Gets all remediations for the subscription.",
        "com.distilled.openapi#apiVersion": "2024-10-01"
      }
    },
    "com.azure.policyinsights#RemediationListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.policyinsights#RemediationListResultValueList",
          "traits": {
            "smithy.api#documentation": "The Remediation items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of remediations."
      }
    },
    "com.azure.policyinsights#RemediationListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.policyinsights#Remediation"
      },
      "traits": {
        "smithy.api#documentation": "The Remediation items on this page"
      }
    },
    "com.azure.policyinsights#Remediation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.policyinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.policyinsights#RemediationProperties",
          "traits": {
            "smithy.api#documentation": "Properties for the remediation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The remediation definition."
      }
    },
    "com.azure.policyinsights#RemediationsListForResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "Maximum number of records to return."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "OData filter expression."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.policyinsights#PolicyStatesTriggerResourceGroupEvaluation": {
      "type": "operation",
      "input": {
        "target": "com.azure.policyinsights#PolicyStatesTriggerResourceGroupEvaluationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PolicyInsights/policyStates/latest/triggerEvaluation",
          "code": 200,
          "apiVersion": "2024-10-01"
        },
        "smithy.api#documentation": "Triggers a policy evaluation scan for all the resources under the resource group.",
        "com.distilled.openapi#apiVersion": "2024-10-01"
      }
    },
    "com.azure.policyinsights#PolicyStatesTriggerResourceGroupEvaluationRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Resource group name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.policyinsights#PolicyStatesSummarizeForResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.policyinsights#PolicyStatesSummarizeForResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.policyinsights#SummarizeResults"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PolicyInsights/policyStates/{policyStatesSummaryResource}/summarize",
          "code": 200,
          "apiVersion": "2024-10-01"
        },
        "smithy.api#documentation": "Summarizes policy states for the resources under the resource group.",
        "com.distilled.openapi#apiVersion": "2024-10-01"
      }
    },
    "com.azure.policyinsights#PolicyStatesSummarizeForResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "policyStatesSummaryResource": {
          "target": "com.azure.policyinsights#PolicyStatesSummarizeForResourceGroupRequestPolicyStatesSummaryResource",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The virtual resource under PolicyStates resource type for summarize action. In a given time range, 'latest' represents the latest policy state(s) and is the only allowed value."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "Maximum number of records to return."
          }
        },
        "_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$from",
            "smithy.api#documentation": "ISO 8601 formatted timestamp specifying the start time of the interval to query. When not specified, the service uses ($to - 1-day)."
          }
        },
        "_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$to",
            "smithy.api#documentation": "ISO 8601 formatted timestamp specifying the end time of the interval to query. When not specified, the service uses request time."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "OData filter expression."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.policyinsights#PolicyStatesSummarizeForResourceGroupRequestPolicyStatesSummaryResource": {
      "type": "enum",
      "members": {
        "LATEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "latest"
          }
        }
      },
      "traits": {}
    },
    "com.azure.policyinsights#PolicyStatesListQueryResultsForResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.policyinsights#PolicyStatesListQueryResultsForResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.policyinsights#PolicyStatesQueryResults"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PolicyInsights/policyStates/{policyStatesResource}/queryResults",
          "code": 200,
          "apiVersion": "2024-10-01"
        },
        "smithy.api#documentation": "Queries policy states for the resources under the resource group.",
        "com.distilled.openapi#apiVersion": "2024-10-01"
      }
    },
    "com.azure.policyinsights#PolicyStatesListQueryResultsForResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "policyStatesResource": {
          "target": "com.azure.policyinsights#PolicyStatesListQueryResultsForResourceGroupRequestPolicyStatesResource",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The virtual resource under PolicyStates resource type. In a given time range, 'latest' represents the latest policy state(s), whereas 'default' represents all policy state(s)."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "Maximum number of records to return."
          }
        },
        "_orderby": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$orderby",
            "smithy.api#documentation": "Ordering expression using OData notation. One or more comma-separated column names with an optional \"desc\" (the default) or \"asc\", e.g. \"$orderby=PolicyAssignmentId, ResourceId asc\"."
          }
        },
        "_select": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$select",
            "smithy.api#documentation": "Select expression using OData notation. Limits the columns on each record to just those requested, e.g. \"$select=PolicyAssignmentId, ResourceId\"."
          }
        },
        "_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$from",
            "smithy.api#documentation": "ISO 8601 formatted timestamp specifying the start time of the interval to query. When not specified, the service uses ($to - 1-day)."
          }
        },
        "_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$to",
            "smithy.api#documentation": "ISO 8601 formatted timestamp specifying the end time of the interval to query. When not specified, the service uses request time."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "OData filter expression."
          }
        },
        "_apply": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$apply",
            "smithy.api#documentation": "OData apply expression for aggregations."
          }
        },
        "_skiptoken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$skiptoken",
            "smithy.api#documentation": "Skiptoken is only provided if a previous response returned a partial result as a part of nextLink element."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.policyinsights#PolicyStatesListQueryResultsForResourceGroupRequestPolicyStatesResource": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "LATEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "latest"
          }
        }
      },
      "traits": {}
    },
    "com.azure.policyinsights#PolicyEventsListQueryResultsForResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.policyinsights#PolicyEventsListQueryResultsForResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.policyinsights#PolicyEventsQueryResults"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PolicyInsights/policyEvents/{policyEventsResource}/queryResults",
          "code": 200,
          "apiVersion": "2024-10-01"
        },
[...]
