{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.portal#DashboardsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.portal#DashboardsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Portal/dashboards/{dashboardName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Deletes the Dashboard.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.portal#DashboardsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "dashboardName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the dashboard."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.portal#DashboardsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.portal#DashboardsUpdateRequest"
      },
      "output": {
        "target": "com.azure.portal#DashboardsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Portal/dashboards/{dashboardName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Updates an existing Dashboard.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.portal#DashboardsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.portal#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.portal#DashboardsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.portal#DashboardPropertiesWithProvisioningState",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.portal#DashboardPropertiesWithProvisioningState": {
      "type": "structure",
      "members": {
        "lenses": {
          "target": "com.azure.portal#DashboardPropertiesWithProvisioningStateLensesList",
          "traits": {
            "smithy.api#documentation": "The dashboard lenses."
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The dashboard metadata."
          }
        },
        "provisioningState": {
          "target": "com.azure.portal#AzureResourceManagerResourceProvisioningState",
          "traits": {
            "smithy.api#documentation": "The status of the last operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dashboard Properties with Provisioning state"
      }
    },
    "com.azure.portal#AzureResourceManagerResourceProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioning state of a resource type."
      }
    },
    "com.azure.portal#DashboardPropertiesWithProvisioningStateLensesList": {
      "type": "list",
      "member": {
        "target": "com.azure.portal#DashboardLens"
      },
      "traits": {
        "smithy.api#documentation": "The dashboard lenses."
      }
    },
    "com.azure.portal#DashboardLens": {
      "type": "structure",
      "members": {
        "order": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The lens order.",
            "smithy.api#required": {}
          }
        },
        "parts": {
          "target": "com.azure.portal#DashboardLensPartsList",
          "traits": {
            "smithy.api#documentation": "The dashboard parts.",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The dashboard len's metadata."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A dashboard lens."
      }
    },
    "com.azure.portal#DashboardLensPartsList": {
      "type": "list",
      "member": {
        "target": "com.azure.portal#DashboardParts"
      },
      "traits": {
        "smithy.api#documentation": "The dashboard parts."
      }
    },
    "com.azure.portal#DashboardParts": {
      "type": "structure",
      "members": {
        "position": {
          "target": "com.azure.portal#DashboardPartsPosition",
          "traits": {
            "smithy.api#documentation": "The dashboard's part position.",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.azure.portal#DashboardPartMetadata",
          "traits": {
            "smithy.api#documentation": "The dashboard part's metadata."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A dashboard part."
      }
    },
    "com.azure.portal#DashboardPartMetadata": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.portal#DashboardPartMetadataType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A dashboard part metadata."
      }
    },
    "com.azure.portal#DashboardPartMetadataType": {
      "type": "enum",
      "members": {
        "EXTENSION_HUBSEXTENSION_PARTTYPE_MARKDOWNPART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Extension/HubsExtension/PartType/MarkdownPart"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The dashboard part metadata type."
      }
    },
    "com.azure.portal#DashboardPartsPosition": {
      "type": "structure",
      "members": {
        "x": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The dashboard's part x coordinate.",
            "smithy.api#required": {}
          }
        },
        "y": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The dashboard's part y coordinate.",
            "smithy.api#required": {}
          }
        },
        "rowSpan": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The dashboard's part row span.",
            "smithy.api#required": {}
          }
        },
        "colSpan": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The dashboard's part column span.",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The dashboard part's metadata."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The dashboard's part position."
      }
    },
    "com.azure.portal#DashboardsUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.portal#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.portal#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.portal#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.portal#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.portal#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.portal#DashboardsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "dashboardName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the dashboard."
          }
        },
        "properties": {
          "target": "com.azure.portal#DashboardProperties",
          "traits": {
            "smithy.api#documentation": "The shared dashboard properties."
          }
        },
        "tags": {
          "target": "com.azure.portal#DashboardsUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.portal#DashboardsUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags"
      }
    },
    "com.azure.portal#DashboardProperties": {
      "type": "structure",
      "members": {
        "lenses": {
          "target": "com.azure.portal#DashboardPropertiesLensesList",
          "traits": {
            "smithy.api#documentation": "The dashboard lenses."
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The dashboard metadata."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The shared dashboard properties."
      }
    },
    "com.azure.portal#DashboardPropertiesLensesList": {
      "type": "list",
      "member": {
        "target": "com.azure.portal#DashboardLens"
      },
      "traits": {
        "smithy.api#documentation": "The dashboard lenses."
      }
    },
    "com.azure.portal#DashboardsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.portal#DashboardsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.portal#DashboardsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Portal/dashboards/{dashboardName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Creates or updates a Dashboard.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.portal#DashboardsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.portal#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.portal#DashboardsCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.portal#DashboardPropertiesWithProvisioningState",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.portal#DashboardsCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.portal#DashboardsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "dashboardName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the dashboard."
          }
        },
        "tags": {
          "target": "com.azure.portal#DashboardsCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.portal#DashboardPropertiesWithProvisioningStateInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.portal#DashboardPropertiesWithProvisioningStateInput": {
      "type": "structure",
      "members": {
        "lenses": {
          "target": "com.azure.portal#DashboardPropertiesWithProvisioningStateInputLensesList",
          "traits": {
            "smithy.api#documentation": "The dashboard lenses."
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The dashboard metadata."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dashboard Properties with Provisioning state"
      }
    },
    "com.azure.portal#DashboardPropertiesWithProvisioningStateInputLensesList": {
      "type": "list",
      "member": {
        "target": "com.azure.portal#DashboardLens"
      },
      "traits": {
        "smithy.api#documentation": "The dashboard lenses."
      }
    },
    "com.azure.portal#DashboardsCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.portal#DashboardsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.portal#DashboardsGetRequest"
      },
      "output": {
        "target": "com.azure.portal#DashboardsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Portal/dashboards/{dashboardName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Gets the Dashboard.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.portal#DashboardsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.portal#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.portal#DashboardsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.portal#DashboardPropertiesWithProvisioningState",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.portal#DashboardsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.portal#DashboardsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "dashboardName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the dashboard."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.portal#DashboardsListByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.portal#DashboardsListByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.portal#DashboardListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Portal/dashboards",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Gets all the Dashboards within a resource group.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.portal#DashboardListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.portal#DashboardListResultValueList",
          "traits": {
            "smithy.api#documentation": "The Dashboard items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a Dashboard list operation."
      }
    },
    "com.azure.portal#DashboardListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.portal#Dashboard"
      },
      "traits": {
        "smithy.api#documentation": "The Dashboard items on this page"
      }
    },
    "com.azure.portal#Dashboard": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.portal#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.portal#DashboardTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.portal#DashboardPropertiesWithProvisioningState",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The shared dashboard resource definition."
      }
    },
    "com.azure.portal#DashboardTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.portal#DashboardsListByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.portal#DashboardsListBySubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.portal#DashboardsListBySubscriptionRequest"
      },
      "output": {
        "target": "com.azure.portal#DashboardListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Portal/dashboards",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Gets all the dashboards within a subscription.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.portal#DashboardsListBySubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.portal#OperationsList": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.azure.portal#OperationsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.Portal/operations",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "List the operations for the provider",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.portal#OperationsListResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.portal#OperationsListResponseValueList",
          "traits": {
            "smithy.api#documentation": "List of operations supported by the resource provider"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to get the next set of operation list results (if there are any)."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.portal#OperationsListResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.portal#Operation"
      },
      "traits": {
        "smithy.api#documentation": "List of operations supported by the resource provider"
      }
    },
    "com.azure.portal#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation, as per Resource-Based Access Control (RBAC). Examples: \"Microsoft.Compute/virtualMachines/write\", \"Microsoft.Compute/virtualMachines/capture/action\""
          }
        },
        "isDataAction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the operation applies to data-plane. This is \"true\" for data-plane operations and \"false\" for ARM/control-plane operations."
          }
        },
        "display": {
          "target": "com.azure.portal#OperationDisplay",
          "traits": {
            "smithy.api#documentation": "Localized display information for this particular operation."
          }
        },
        "origin": {
          "target": "com.azure.portal#OperationOrigin",
          "traits": {
            "smithy.api#documentation": "The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is \"user,system\""
          }
        },
        "actionType": {
          "target": "com.azure.portal#OperationActionType",
          "traits": {
            "smithy.api#documentation": "Enum. Indicates the action type. \"Internal\" refers to actions that are for internal only APIs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a REST API operation, returned from the Resource Provider Operations API"
      }
    },
    "com.azure.portal#OperationActionType": {
      "type": "enum",
      "members": {
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Internal"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enum. Indicates the action type. \"Internal\" refers to actions that are for internal only APIs."
      }
    },
    "com.azure.portal#OperationOrigin": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        },
        "USER_SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user,system"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is \"user,system\""
      }
    },
    "com.azure.portal#OperationDisplay": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized friendly form of the resource provider name, e.g. \"Microsoft Monitoring Insights\" or \"Microsoft Compute\"."
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized friendly name of the resource type related to this operation. E.g. \"Virtual Machines\" or \"Job Schedule Collections\"."
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The concise, localized friendly name for the operation; suitable for dropdowns. E.g. \"Create or Update Virtual Machine\", \"Restart Virtual Machine\"."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The short, localized friendly description of the operation; suitable for tool tips and detailed views."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Localized display information for this particular operation."
      }
    },
    "com.azure.portal#TenantConfigurationsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.portal#TenantConfigurationsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/providers/Microsoft.Portal/tenantConfigurations/{configurationName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Delete the tenant configuration. User has to be a Tenant Admin for this operation.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.portal#TenantConfigurationsDeleteRequest": {
      "type": "structure",
      "members": {
        "configurationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Configuration"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.portal#TenantConfigurationsCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.portal#TenantConfigurationsCreateRequest"
      },
      "output": {
        "target": "com.azure.portal#TenantConfigurationsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/providers/Microsoft.Portal/tenantConfigurations/{configurationName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Create the tenant configuration. If configuration already exists - update it. User has to be a Tenant Admin for this operation.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.portal#TenantConfigurationsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.portal#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.portal#ConfigurationProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.portal#ConfigurationProperties": {
      "type": "structure",
      "members": {
        "enforcePrivateMarkdownStorage": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When flag is set to true Markdown tile will require external storage configuration (URI). The inline content configuration will be prohibited."
          }
        },
        "provisioningState": {
          "target": "com.azure.portal#AzureResourceManagerResourceProvisioningState",
          "traits": {
            "smithy.api#documentation": "The status of the last operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Tenant Configuration Properties with Provisioning state"
      }
    },
    "com.azure.portal#TenantConfigurationsCreateRequest": {
      "type": "structure",
      "members": {
        "configurationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Configuration"
          }
        },
        "properties": {
          "target": "com.azure.portal#ConfigurationPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.portal#ConfigurationPropertiesInput": {
      "type": "structure",
      "members": {
        "enforcePrivateMarkdownStorage": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When flag is set to true Markdown tile will require external storage configuration (URI). The inline content configuration will be prohibited."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Tenant Configuration Properties with Provisioning state"
      }
    },
    "com.azure.portal#TenantConfigurationsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.portal#TenantConfigurationsGetRequest"
      },
      "output": {
        "target": "com.azure.portal#TenantConfigurationsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.Portal/tenantConfigurations/{configurationName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Gets the tenant configuration.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.portal#TenantConfigurationsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.portal#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.portal#ConfigurationProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.portal#TenantConfigurationsGetRequest": {
      "type": "structure",
      "members": {
        "configurationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Configuration"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.portal#TenantConfigurationsList": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.azure.portal#ConfigurationListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.Portal/tenantConfigurations",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Gets list of the tenant configurations.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.portal#ConfigurationListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.portal#ConfigurationListResultValueList",
          "traits": {
            "smithy.api#documentation": "The Configuration items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a Configuration list operation."
      }
    },
    "com.azure.portal#ConfigurationListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.portal#Configuration"
      },
      "traits": {
        "smithy.api#documentation": "The Configuration items on this page"
      }
    },
    "com.azure.portal#Configuration": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.portal#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.portal#ConfigurationProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The tenant configuration resource definition."
      }
    },
    "com.azure.portal#ListTenantConfigurationViolationsList": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.azure.portal#ViolationsList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/providers/Microsoft.Portal/listTenantConfigurationViolations",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Gets list of items that violate tenant's configuration.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.portal#ViolationsList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.portal#ViolationsListValueList",
          "traits": {
            "smithy.api#documentation": "The Violation items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of list of items that violate tenant's configuration."
      }
    },
    "com.azure.portal#ViolationsListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.portal#Violation"
      },
      "traits": {
        "smithy.api#documentation": "The Violation items on this page"
      }
    },
    "com.azure.portal#Violation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the item that violates tenant configuration."
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the user who owns violated item."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Violation information."
      }
    },
    "com.azure.portal#Portal": {
      "type": "service",
      "version": "1.0",
      "operations": [
        {
          "target": "com.azure.portal#DashboardsDelete"
        },
        {
          "target": "com.azure.portal#DashboardsUpdate"
        },
        {
          "target": "com.azure.portal#DashboardsCreateOrUpdate"
        },
        {
          "target": "com.azure.portal#DashboardsGet"
        },
        {
          "target": "com.azure.portal#DashboardsListByResourceGroup"
        },
        {
          "target": "com.azure.portal#DashboardsListBySubscription"
        },
        {
          "target": "com.azure.portal#OperationsList"
        },
        {
          "target": "com.azure.portal#TenantConfigurationsDelete"
        },
        {
          "target": "com.azure.portal#TenantConfigurationsCreate"
        },
        {
          "target": "com.azure.portal#TenantConfigurationsGet"
        },
        {
          "target": "com.azure.portal#TenantConfigurationsList"
        },
        {
          "target": "com.azure.portal#ListTenantConfigurationViolationsList"
        }
      ],
      "traits": {
        "smithy.api#title": "Azure Portal",
        "smithy.api#documentation": "Azure Portal API — merged from the portal resource-manager specs (latest stable api-version per resource provider)."
      }
    }
  }
}
