{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.portalservices#OperationsList": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.azure.portalservices#OperationsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.PortalServices/operations",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "List the operations for the provider",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.portalservices#OperationsListResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.portalservices#OperationsListResponseValueList",
          "traits": {
            "smithy.api#documentation": "List of operations supported by the resource provider"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to get the next set of operation list results (if there are any)."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.portalservices#OperationsListResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.portalservices#Operation"
      },
      "traits": {
        "smithy.api#documentation": "List of operations supported by the resource provider"
      }
    },
    "com.azure.portalservices#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the operation, as per Resource-Based Access Control (RBAC). Examples: \"Microsoft.Compute/virtualMachines/write\", \"Microsoft.Compute/virtualMachines/capture/action\""
          }
        },
        "isDataAction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the operation applies to data-plane. This is \"true\" for data-plane operations and \"false\" for ARM/control-plane operations."
          }
        },
        "display": {
          "target": "com.azure.portalservices#OperationDisplay",
          "traits": {
            "smithy.api#documentation": "Localized display information for this particular operation."
          }
        },
        "origin": {
          "target": "com.azure.portalservices#OperationOrigin",
          "traits": {
            "smithy.api#documentation": "The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is \"user,system\""
          }
        },
        "actionType": {
          "target": "com.azure.portalservices#OperationActionType",
          "traits": {
            "smithy.api#documentation": "Enum. Indicates the action type. \"Internal\" refers to actions that are for internal only APIs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a REST API operation, returned from the Resource Provider Operations API"
      }
    },
    "com.azure.portalservices#OperationActionType": {
      "type": "enum",
      "members": {
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Internal"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enum. Indicates the action type. \"Internal\" refers to actions that are for internal only APIs."
      }
    },
    "com.azure.portalservices#OperationOrigin": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        },
        "USER_SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user,system"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is \"user,system\""
      }
    },
    "com.azure.portalservices#OperationDisplay": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized friendly form of the resource provider name, e.g. \"Microsoft Monitoring Insights\" or \"Microsoft Compute\"."
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The localized friendly name of the resource type related to this operation. E.g. \"Virtual Machines\" or \"Job Schedule Collections\"."
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The concise, localized friendly name for the operation; suitable for dropdowns. E.g. \"Create or Update Virtual Machine\", \"Restart Virtual Machine\"."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The short, localized friendly description of the operation; suitable for tool tips and detailed views."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Localized display information for this particular operation."
      }
    },
    "com.azure.portalservices#CopilotSettingsDelete": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/providers/Microsoft.PortalServices/copilotSettings/default",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "Delete a CopilotSettingsResource",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.portalservices#CopilotSettingsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.portalservices#CopilotSettingsUpdateRequest"
      },
      "output": {
        "target": "com.azure.portalservices#CopilotSettingsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/providers/Microsoft.PortalServices/copilotSettings/default",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "Update a CopilotSettingsResource",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.portalservices#CopilotSettingsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.portalservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.portalservices#CopilotSettingsProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.portalservices#CopilotSettingsProperties": {
      "type": "structure",
      "members": {
        "accessControlEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Boolean indicating if role-based access control is enabled for copilot in this tenant.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.portalservices#AzureResourceManagerResourceProvisioningState",
          "traits": {
            "smithy.api#documentation": "The status of the last provisioning operation performed on the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Copilot Settings properties."
      }
    },
    "com.azure.portalservices#AzureResourceManagerResourceProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioning state of a resource type."
      }
    },
    "com.azure.portalservices#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.portalservices#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.portalservices#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.portalservices#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.portalservices#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.portalservices#CopilotSettingsUpdateRequest": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.azure.portalservices#CopilotSettingsResourceUpdateProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.portalservices#CopilotSettingsResourceUpdateProperties": {
      "type": "structure",
      "members": {
        "accessControlEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Boolean indicating if role-based access control is enabled for copilot in this tenant."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The updatable properties of the CopilotSettingsResource."
      }
    },
    "com.azure.portalservices#CopilotSettingsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.portalservices#CopilotSettingsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.portalservices#CopilotSettingsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/providers/Microsoft.PortalServices/copilotSettings/default",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "Create a CopilotSettingsResource",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.portalservices#CopilotSettingsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.portalservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.portalservices#CopilotSettingsProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.portalservices#CopilotSettingsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.azure.portalservices#CopilotSettingsPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.portalservices#CopilotSettingsPropertiesInput": {
      "type": "structure",
      "members": {
        "accessControlEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Boolean indicating if role-based access control is enabled for copilot in this tenant.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Copilot Settings properties."
      }
    },
    "com.azure.portalservices#CopilotSettingsGet": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.azure.portalservices#CopilotSettingsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.PortalServices/copilotSettings/default",
          "code": 200,
          "apiVersion": "2024-04-01"
        },
        "smithy.api#documentation": "Get a CopilotSettingsResource",
        "com.distilled.openapi#apiVersion": "2024-04-01"
      }
    },
    "com.azure.portalservices#CopilotSettingsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.portalservices#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.portalservices#CopilotSettingsProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.portalservices#PortalTenantCompilefile": {
      "type": "operation",
      "input": {
        "target": "com.azure.portalservices#PortalTenantCompilefileRequest"
      },
      "output": {
        "target": "com.azure.portalservices#PortalTenantCompilefileResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/providers/Microsoft.PortalServices/compilefile",
          "code": 200,
          "apiVersion": "2025-11-01"
        },
        "smithy.api#documentation": "Compiles a file using inline content.",
        "com.distilled.openapi#apiVersion": "2025-11-01"
      }
    },
    "com.azure.portalservices#PortalTenantCompilefileResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.azure.portalservices#PortalTenantCompileFileResult",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.portalservices#PortalTenantCompileFileResult": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The contents of the file to compile."
      }
    },
    "com.azure.portalservices#PortalTenantCompilefileRequest": {
      "type": "structure",
      "members": {
        "contents": {
          "target": "com.azure.portalservices#PortalTenantCompilefileRequestContentsMap",
          "traits": {
            "smithy.api#documentation": "The contents of the file.",
            "smithy.api#required": {}
          }
        },
        "stringSource": {
          "target": "com.azure.portalservices#PortalTenantCompilefileRequestStringSourceMap",
          "traits": {
            "smithy.api#documentation": "The contents of the string source."
          }
        },
        "files": {
          "target": "com.azure.portalservices#PortalTenantCompilefileRequestFilesMap",
          "traits": {
            "smithy.api#documentation": "The contents of referenced files. The property name is the relative file path and the value is its contents."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.portalservices#PortalTenantCompilefileRequestFilesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The contents of referenced files. The property name is the relative file path and the value is its contents."
      }
    },
    "com.azure.portalservices#PortalTenantCompilefileRequestStringSourceMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The contents of the string source."
      }
    },
    "com.azure.portalservices#PortalTenantCompilefileRequestContentsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The contents of the file."
      }
    },
    "com.azure.portalservices#Portalservices": {
      "type": "service",
      "version": "1.0",
      "operations": [
        {
          "target": "com.azure.portalservices#OperationsList"
        },
        {
          "target": "com.azure.portalservices#CopilotSettingsDelete"
        },
        {
          "target": "com.azure.portalservices#CopilotSettingsUpdate"
        },
        {
          "target": "com.azure.portalservices#CopilotSettingsCreateOrUpdate"
        },
        {
          "target": "com.azure.portalservices#CopilotSettingsGet"
        },
        {
          "target": "com.azure.portalservices#PortalTenantCompilefile"
        }
      ],
      "traits": {
        "smithy.api#title": "Azure Portalservices",
        "smithy.api#documentation": "Azure Portalservices API — merged from the portalservices resource-manager specs (latest stable api-version per resource provider)."
      }
    }
  }
}
