{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.postgresql#VirtualEndpointsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.postgresql#VirtualEndpointsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/virtualendpoints/{virtualEndpointName}",
          "code": 200,
          "apiVersion": "2025-08-01"
        },
        "smithy.api#documentation": "Deletes a pair of virtual endpoints.",
        "com.distilled.openapi#apiVersion": "2025-08-01"
      }
    },
    "com.azure.postgresql#VirtualEndpointsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        },
        "virtualEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Base name of the virtual endpoints."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.postgresql#VirtualEndpointsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.postgresql#VirtualEndpointsUpdateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/virtualendpoints/{virtualEndpointName}",
          "code": 200,
          "apiVersion": "2025-08-01"
        },
        "smithy.api#documentation": "Updates a pair of virtual endpoints for a server.",
        "com.distilled.openapi#apiVersion": "2025-08-01"
      }
    },
    "com.azure.postgresql#VirtualEndpointsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        },
        "virtualEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Base name of the virtual endpoints."
          }
        },
        "properties": {
          "target": "com.azure.postgresql#VirtualEndpointResourcePropertiesInput",
          "traits": {
            "smithy.api#documentation": "Properties of the pair of virtual endpoints."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.postgresql#VirtualEndpointResourcePropertiesInput": {
      "type": "structure",
      "members": {
        "endpointType": {
          "target": "com.azure.postgresql#VirtualEndpointType",
          "traits": {
            "smithy.api#documentation": "Type of endpoint for the virtual endpoints."
          }
        },
        "members": {
          "target": "com.azure.postgresql#VirtualEndpointResourcePropertiesInputMembersList",
          "traits": {
            "smithy.api#documentation": "List of servers that one of the virtual endpoints can refer to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a pair of virtual endpoints."
      }
    },
    "com.azure.postgresql#VirtualEndpointResourcePropertiesInputMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of servers that one of the virtual endpoints can refer to."
      }
    },
    "com.azure.postgresql#VirtualEndpointType": {
      "type": "enum",
      "members": {
        "READWRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReadWrite"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of endpoint for the virtual endpoints."
      }
    },
    "com.azure.postgresql#VirtualEndpointsCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.postgresql#VirtualEndpointsCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/virtualendpoints/{virtualEndpointName}",
          "code": 200,
          "apiVersion": "2025-08-01"
        },
        "smithy.api#documentation": "Creates a pair of virtual endpoints for a server.",
        "com.distilled.openapi#apiVersion": "2025-08-01"
      }
    },
    "com.azure.postgresql#VirtualEndpointsCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        },
        "virtualEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Base name of the virtual endpoints."
          }
        },
        "properties": {
          "target": "com.azure.postgresql#VirtualEndpointResourcePropertiesInput",
          "traits": {
            "smithy.api#documentation": "Properties of the pair of virtual endpoints."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.postgresql#VirtualEndpointsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.postgresql#VirtualEndpointsGetRequest"
      },
      "output": {
        "target": "com.azure.postgresql#VirtualEndpointsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/virtualendpoints/{virtualEndpointName}",
          "code": 200,
          "apiVersion": "2025-08-01"
        },
        "smithy.api#documentation": "Gets information about a pair of virtual endpoints.",
        "com.distilled.openapi#apiVersion": "2025-08-01"
      }
    },
    "com.azure.postgresql#VirtualEndpointsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.postgresql#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.postgresql#VirtualEndpointResourceProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the pair of virtual endpoints."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.postgresql#VirtualEndpointResourceProperties": {
      "type": "structure",
      "members": {
        "endpointType": {
          "target": "com.azure.postgresql#VirtualEndpointType",
          "traits": {
            "smithy.api#documentation": "Type of endpoint for the virtual endpoints."
          }
        },
        "members": {
          "target": "com.azure.postgresql#VirtualEndpointResourcePropertiesMembersList",
          "traits": {
            "smithy.api#documentation": "List of servers that one of the virtual endpoints can refer to."
          }
        },
        "virtualEndpoints": {
          "target": "com.azure.postgresql#VirtualEndpointResourcePropertiesVirtualEndpointsList",
          "traits": {
            "smithy.api#documentation": "List of virtual endpoints for a server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a pair of virtual endpoints."
      }
    },
    "com.azure.postgresql#VirtualEndpointResourcePropertiesVirtualEndpointsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of virtual endpoints for a server."
      }
    },
    "com.azure.postgresql#VirtualEndpointResourcePropertiesMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of servers that one of the virtual endpoints can refer to."
      }
    },
    "com.azure.postgresql#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.postgresql#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.postgresql#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.postgresql#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.postgresql#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.postgresql#VirtualEndpointsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        },
        "virtualEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Base name of the virtual endpoints."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.postgresql#VirtualEndpointsListByServer": {
      "type": "operation",
      "input": {
        "target": "com.azure.postgresql#VirtualEndpointsListByServerRequest"
      },
      "output": {
        "target": "com.azure.postgresql#VirtualEndpointsList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/virtualendpoints",
          "code": 200,
          "apiVersion": "2025-08-01"
        },
        "smithy.api#documentation": "Lists pair of virtual endpoints associated to a server.",
        "com.distilled.openapi#apiVersion": "2025-08-01"
      }
    },
    "com.azure.postgresql#VirtualEndpointsList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.postgresql#VirtualEndpointsListValueList",
          "traits": {
            "smithy.api#documentation": "The VirtualEndpoint items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of virtual endpoints."
      }
    },
    "com.azure.postgresql#VirtualEndpointsListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.postgresql#VirtualEndpoint"
      },
      "traits": {
        "smithy.api#documentation": "The VirtualEndpoint items on this page"
      }
    },
    "com.azure.postgresql#VirtualEndpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.postgresql#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.postgresql#VirtualEndpointResourceProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the pair of virtual endpoints."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Pair of virtual endpoints for a server."
      }
    },
    "com.azure.postgresql#VirtualEndpointsListByServerRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.postgresql#TuningOptionsListRecommendations": {
      "type": "operation",
      "input": {
        "target": "com.azure.postgresql#TuningOptionsListRecommendationsRequest"
      },
      "output": {
        "target": "com.azure.postgresql#ObjectRecommendationList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/tuningOptions/{tuningOption}/recommendations",
          "code": 200,
          "apiVersion": "2025-08-01"
        },
        "smithy.api#documentation": "Lists available object recommendations.",
        "com.distilled.openapi#apiVersion": "2025-08-01"
      }
    },
    "com.azure.postgresql#ObjectRecommendationList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.postgresql#ObjectRecommendationListValueList",
          "traits": {
            "smithy.api#documentation": "The ObjectRecommendation items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of available object recommendations."
      }
    },
    "com.azure.postgresql#ObjectRecommendationListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.postgresql#ObjectRecommendation"
      },
      "traits": {
        "smithy.api#documentation": "The ObjectRecommendation items on this page"
      }
    },
    "com.azure.postgresql#ObjectRecommendation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.postgresql#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always empty."
          }
        },
        "properties": {
          "target": "com.azure.postgresql#ObjectRecommendationProperties",
          "traits": {
            "smithy.api#documentation": "Properties of an object recommendation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Object recommendation properties."
      }
    },
    "com.azure.postgresql#ObjectRecommendationProperties": {
      "type": "structure",
      "members": {
        "initialRecommendedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation time (UTC) of this recommendation."
          }
        },
        "lastRecommendedTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time (UTC) that this recommendation was produced."
          }
        },
        "timesRecommended": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of times this recommendation has been produced."
          }
        },
        "improvedQueryIds": {
          "target": "com.azure.postgresql#ObjectRecommendationPropertiesImprovedQueryIdsList",
          "traits": {
            "smithy.api#documentation": "List of identifiers for all queries identified as targets for improvement if the recommendation is applied. The list is only populated for CREATE INDEX recommendations."
          }
        },
        "recommendationReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason for this recommendation."
          }
        },
        "currentState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current state."
          }
        },
        "recommendationType": {
          "target": "com.azure.postgresql#RecommendationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type for this recommendation."
          }
        },
        "implementationDetails": {
          "target": "com.azure.postgresql#ObjectRecommendationPropertiesImplementationDetails",
          "traits": {
            "smithy.api#documentation": "Implementation details for the recommended action."
          }
        },
        "analyzedWorkload": {
          "target": "com.azure.postgresql#ObjectRecommendationPropertiesAnalyzedWorkload",
          "traits": {
            "smithy.api#documentation": "Workload information for the recommended action."
          }
        },
        "estimatedImpact": {
          "target": "com.azure.postgresql#ObjectRecommendationPropertiesEstimatedImpactList",
          "traits": {
            "smithy.api#documentation": "Estimated impact of this recommended action."
          }
        },
        "details": {
          "target": "com.azure.postgresql#ObjectRecommendationDetails",
          "traits": {
            "smithy.api#documentation": "Recommendation details for the recommended action."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Object recommendation properties."
      }
    },
    "com.azure.postgresql#ObjectRecommendationDetails": {
      "type": "structure",
      "members": {
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Database name."
          }
        },
        "schema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Schema name."
          }
        },
        "table": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Table name."
          }
        },
        "indexType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Index type."
          }
        },
        "indexName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Index name."
          }
        },
        "indexColumns": {
          "target": "com.azure.postgresql#ObjectRecommendationDetailsIndexColumnsList",
          "traits": {
            "smithy.api#documentation": "Index columns."
          }
        },
        "includedColumns": {
          "target": "com.azure.postgresql#ObjectRecommendationDetailsIncludedColumnsList",
          "traits": {
            "smithy.api#documentation": "Index included columns."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Recommendation details for the recommended action."
      }
    },
    "com.azure.postgresql#ObjectRecommendationDetailsIncludedColumnsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Index included columns."
      }
    },
    "com.azure.postgresql#ObjectRecommendationDetailsIndexColumnsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Index columns."
      }
    },
    "com.azure.postgresql#ObjectRecommendationPropertiesEstimatedImpactList": {
      "type": "list",
      "member": {
        "target": "com.azure.postgresql#ImpactRecord"
      },
      "traits": {
        "smithy.api#documentation": "Estimated impact of this recommended action."
      }
    },
    "com.azure.postgresql#ImpactRecord": {
      "type": "structure",
      "members": {
        "dimensionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dimension name."
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dimension unit."
          }
        },
        "queryId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional property that can be used to store the identifier of the query, if the metric is for a specific query."
          }
        },
        "absoluteValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Absolute value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Impact on some metric if this recommended action is applied."
      }
    },
    "com.azure.postgresql#ObjectRecommendationPropertiesAnalyzedWorkload": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time (UTC) of the workload analyzed."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time (UTC) of the workload analyzed."
          }
        },
        "queryCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of queries from the workload that were examined to produce this recommendation. For DROP INDEX recommendations it's 0 (zero)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Workload information for the recommended action."
      }
    },
    "com.azure.postgresql#ObjectRecommendationPropertiesImplementationDetails": {
      "type": "structure",
      "members": {
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Method of implementation for recommended action."
          }
        },
        "script": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Implementation script for the recommended action."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Implementation details for the recommended action."
      }
    },
    "com.azure.postgresql#RecommendationTypeEnum": {
      "type": "enum",
      "members": {
        "CREATEINDEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreateIndex"
          }
        },
        "DROPINDEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DropIndex"
          }
        },
        "REINDEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReIndex"
          }
        },
        "ANALYZETABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AnalyzeTable"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type for this recommendation."
      }
    },
    "com.azure.postgresql#ObjectRecommendationPropertiesImprovedQueryIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "List of identifiers for all queries identified as targets for improvement if the recommendation is applied. The list is only populated for CREATE INDEX recommendations."
      }
    },
    "com.azure.postgresql#TuningOptionsListRecommendationsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        },
        "tuningOption": {
          "target": "com.azure.postgresql#TuningOptionsListRecommendationsRequestTuningOption",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the tuning option."
          }
        },
        "recommendationType": {
          "target": "com.azure.postgresql#TuningOptionsListRecommendationsRequestRecommendationType",
          "traits": {
            "smithy.api#httpQuery": "recommendationType",
            "smithy.api#documentation": "Recommendations list filter. Retrieves recommendations based on type."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.postgresql#TuningOptionsListRecommendationsRequestRecommendationType": {
      "type": "enum",
      "members": {
        "CREATEINDEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreateIndex"
          }
        },
        "DROPINDEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DropIndex"
          }
        },
        "REINDEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReIndex"
          }
        },
        "ANALYZETABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AnalyzeTable"
          }
        }
      },
      "traits": {}
    },
    "com.azure.postgresql#TuningOptionsListRecommendationsRequestTuningOption": {
      "type": "enum",
      "members": {
        "INDEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "index"
          }
        },
        "TABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "table"
          }
        }
      },
      "traits": {}
    },
    "com.azure.postgresql#TuningOptionsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.postgresql#TuningOptionsGetRequest"
      },
      "output": {
        "target": "com.azure.postgresql#TuningOptionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/tuningOptions/{tuningOption}",
          "code": 200,
          "apiVersion": "2025-08-01"
        },
        "smithy.api#documentation": "Gets the tuning options of a server.",
        "com.distilled.openapi#apiVersion": "2025-08-01"
      }
    },
    "com.azure.postgresql#TuningOptionsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.postgresql#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.postgresql#TuningOptionsProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.postgresql#TuningOptionsProperties": {
      "type": "structure",
      "members": {
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of the tuning option."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a tuning option."
      }
    },
    "com.azure.postgresql#TuningOptionsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        },
        "tuningOption": {
          "target": "com.azure.postgresql#TuningOptionsGetRequestTuningOption",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the tuning option."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.postgresql#TuningOptionsGetRequestTuningOption": {
      "type": "enum",
      "members": {
        "INDEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "index"
          }
        },
        "TABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "table"
          }
        }
      },
      "traits": {}
    },
    "com.azure.postgresql#TuningOptionsListByServer": {
      "type": "operation",
      "input": {
        "target": "com.azure.postgresql#TuningOptionsListByServerRequest"
      },
      "output": {
        "target": "com.azure.postgresql#TuningOptionsList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/tuningOptions",
          "code": 200,
          "apiVersion": "2025-08-01"
        },
        "smithy.api#documentation": "Lists the tuning options of a server.",
        "com.distilled.openapi#apiVersion": "2025-08-01"
      }
    },
    "com.azure.postgresql#TuningOptionsList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.postgresql#TuningOptionsListValueList",
          "traits": {
            "smithy.api#documentation": "The TuningOptions items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of server tuning options."
      }
    },
    "com.azure.postgresql#TuningOptionsListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.postgresql#TuningOptions"
      },
      "traits": {
        "smithy.api#documentation": "The TuningOptions items on this page"
      }
    },
    "com.azure.postgresql#TuningOptions": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.postgresql#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.postgresql#TuningOptionsProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Impact on some metric if this recommended action is applied."
      }
    },
    "com.azure.postgresql#TuningOptionsListByServerRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.postgresql#ServersStop": {
      "type": "operation",
      "input": {
        "target": "com.azure.postgresql#ServersStopRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/stop",
          "code": 200,
          "apiVersion": "2025-08-01"
        },
        "smithy.api#documentation": "Stops a server.",
        "com.distilled.openapi#apiVersion": "2025-08-01"
      }
    },
    "com.azure.postgresql#ServersStopRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.postgresql#BackupsLongTermRetentionStart": {
      "type": "operation",
      "input": {
        "target": "com.azure.postgresql#BackupsLongTermRetentionStartRequest"
      },
      "output": {
        "target": "com.azure.postgresql#BackupsLongTermRetentionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/startLtrBackup",
          "code": 200,
          "apiVersion": "2025-08-01"
        },
        "smithy.api#documentation": "Initiates a long term retention backup.",
        "com.distilled.openapi#apiVersion": "2025-08-01"
      }
    },
    "com.azure.postgresql#BackupsLongTermRetentionResponse": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.azure.postgresql#LtrBackupOperationResponseProperties",
          "traits": {
            "smithy.api#documentation": "Long Term Retention Backup Operation Resource Properties"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the LTR backup API call"
      }
    },
    "com.azure.postgresql#LtrBackupOperationResponseProperties": {
      "type": "structure",
      "members": {
        "datasourceSizeInBytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size of datasource in bytes."
          }
        },
        "dataTransferredInBytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Data transferred in bytes."
          }
        },
        "backupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of Backup operation."
          }
        },
        "backupMetadata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Metadata to be stored in RP. Store everything that will be required to perform a successful restore using this Recovery point. e.g. Versions, DataFormat etc."
          }
        },
        "status": {
          "target": "com.azure.postgresql#ExecutionStatus",
          "traits": {
            "smithy.api#documentation": "Service-set extensible enum indicating the status of operation.",
            "smithy.api#required": {}
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time of the operation.",
            "smithy.api#required": {}
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time of the operation."
          }
        },
        "percentComplete": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percentage completed."
          }
        },
        "errorCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error code."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the backup request."
      }
    },
    "com.azure.postgresql#ExecutionStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cancelled"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Service-set extensible enumeration indicating the status of operation."
      }
    },
    "com.azure.postgresql#BackupsLongTermRetentionStartRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        },
        "backupSettings": {
          "target": "com.azure.postgresql#BackupSettings",
          "traits": {
            "smithy.api#documentation": "Backup Settings",
            "smithy.api#required": {}
          }
        },
        "targetDetails": {
          "target": "com.azure.postgresql#BackupStoreDetails",
          "traits": {
            "smithy.api#documentation": "Backup store detail for target server.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.postgresql#BackupStoreDetails": {
      "type": "structure",
      "members": {
        "sasUriList": {
          "target": "com.azure.postgresql#BackupStoreDetailsSasUriListList",
          "traits": {
            "smithy.api#documentation": "List of SAS uri of storage containers where backup data is to be streamed/copied.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about the target where the backup content will be stored."
      }
    },
    "com.azure.postgresql#BackupStoreDetailsSasUriListList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of SAS uri of storage containers where backup data is to be streamed/copied."
      }
    },
    "com.azure.postgresql#BackupSettings": {
      "type": "structure",
      "members": {
        "backupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Backup Name for the current backup",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for the long term backup."
      }
    },
    "com.azure.postgresql#ServersStart": {
      "type": "operation",
      "input": {
        "target": "com.azure.postgresql#ServersStartRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/start",
          "code": 200,
          "apiVersion": "2025-08-01"
        },
        "smithy.api#documentation": "Starts a stopped server.",
        "com.distilled.openapi#apiVersion": "2025-08-01"
      }
    },
    "com.azure.postgresql#ServersStartRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.postgresql#ServersRestart": {
      "type": "operation",
      "input": {
        "target": "com.azure.postgresql#ServersRestartRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/restart",
          "code": 200,
          "apiVersion": "2025-08-01"
        },
        "smithy.api#documentation": "Restarts PostgreSQL database engine in a server.",
        "com.distilled.openapi#apiVersion": "2025-08-01"
      }
    },
    "com.azure.postgresql#ServersRestartRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        },
        "restartWithFailover": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if restart the PostgreSQL database engine should failover or switch over from primary to standby. This only works if server has high availability enabled."
          }
        },
        "failoverMode": {
          "target": "com.azure.postgresql#FailoverMode",
          "traits": {
            "smithy.api#documentation": "Failover mode."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.postgresql#FailoverMode": {
      "type": "enum",
      "members": {
        "PLANNEDFAILOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PlannedFailover"
          }
        },
        "FORCEDFAILOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ForcedFailover"
          }
        },
        "PLANNEDSWITCHOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PlannedSwitchover"
          }
        },
        "FORCEDSWITCHOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ForcedSwitchover"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Failover mode."
      }
    },
    "com.azure.postgresql#ReplicasListByServer": {
      "type": "operation",
      "input": {
        "target": "com.azure.postgresql#ReplicasListByServerRequest"
      },
      "output": {
        "target": "com.azure.postgresql#ServerList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/replicas",
          "code": 200,
          "apiVersion": "2025-08-01"
        },
        "smithy.api#documentation": "Lists all read replicas of a server.",
        "com.distilled.openapi#apiVersion": "2025-08-01"
      }
    },
    "com.azure.postgresql#ServerList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.postgresql#ServerListValueList",
          "traits": {
            "smithy.api#documentation": "The Server items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of servers."
      }
    },
    "com.azure.postgresql#ServerListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.postgresql#Server"
      },
      "traits": {
        "smithy.api#documentation": "The Server items on this page"
      }
    },
    "com.azure.postgresql#Server": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.postgresql#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.postgresql#ServerTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.postgresql#ServerProperties",
          "traits": {
            "smithy.api#documentation": "Properties of a server."
          }
        },
        "sku": {
          "target": "com.azure.postgresql#Sku",
          "traits": {
            "smithy.api#documentation": "Compute tier and size of a server."
          }
        },
        "identity": {
          "target": "com.azure.postgresql#UserAssignedIdentity",
          "traits": {
            "smithy.api#documentation": "User assigned managed identities assigned to the server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a server."
      }
    },
    "com.azure.postgresql#UserAssignedIdentity": {
      "type": "structure",
      "members": {
        "userAssignedIdentities": {
          "target": "com.azure.postgresql#UserAssignedIdentityUserAssignedIdentitiesMap",
          "traits": {
            "smithy.api#documentation": "Map of user assigned managed identities."
          }
        },
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the object of the service principal associated to the user assigned managed identity."
          }
        },
        "type": {
          "target": "com.azure.postgresql#IdentityType",
          "traits": {
            "smithy.api#documentation": "Types of identities associated with a server.",
            "smithy.api#required": {}
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the tenant of a server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identities associated with a server."
      }
    },
    "com.azure.postgresql#IdentityType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        },
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "SYSTEMASSIGNED_USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned,UserAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Types of identities associated with a server."
      }
    },
    "com.azure.postgresql#UserAssignedIdentityUserAssignedIdentitiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.postgresql#UserIdentity"
      },
      "traits": {
        "smithy.api#documentation": "Map of user assigned managed identities."
      }
    },
    "com.azure.postgresql#UserIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the object of the service principal associated to the user assigned managed identity."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the client of the service principal associated to the user assigned managed identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User assigned managed identity associated with a server."
      }
    },
    "com.azure.postgresql#Sku": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name by which is known a given compute size assigned to a server.",
            "smithy.api#required": {}
          }
        },
        "tier": {
          "target": "com.azure.postgresql#SkuTier",
          "traits": {
            "smithy.api#documentation": "Tier of the compute assigned to a server.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Compute information of a server."
      }
    },
    "com.azure.postgresql#SkuTier": {
      "type": "enum",
      "members": {
        "BURSTABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Burstable"
          }
        },
        "GENERALPURPOSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GeneralPurpose"
          }
        },
        "MEMORYOPTIMIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MemoryOptimized"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Tier of the compute assigned to a server."
      }
    },
    "com.azure.postgresql#ServerProperties": {
      "type": "structure",
      "members": {
        "administratorLogin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the login designated as the first password based administrator assigned to your instance of PostgreSQL. Must be specified the first time that you enable password based authentication on a server. Once set to a given value, it cannot be changed for the rest of the life of a server. If you disable password based authentication on a server which had it enabled, this password based role isn't deleted."
          }
        },
        "administratorLoginPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Password assigned to the administrator login. As long as password authentication is enabled, this password can be changed at any time.",
            "smithy.api#sensitive": {}
          }
        },
        "version": {
          "target": "com.azure.postgresql#PostgresMajorVersion",
          "traits": {
            "smithy.api#documentation": "Major version of PostgreSQL database engine."
          }
        },
        "minorVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Minor version of PostgreSQL database engine."
          }
        },
        "state": {
          "target": "com.azure.postgresql#ServerState",
          "traits": {
            "smithy.api#documentation": "Possible states of a server."
          }
        },
        "fullyQualifiedDomainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified domain name of a server."
          }
        },
        "storage": {
          "target": "com.azure.postgresql#Storage",
          "traits": {
            "smithy.api#documentation": "Storage properties of a server."
          }
        },
        "authConfig": {
          "target": "com.azure.postgresql#AuthConfig",
          "traits": {
            "smithy.api#documentation": "Authentication configuration properties of a server."
          }
        },
        "dataEncryption": {
          "target": "com.azure.postgresql#DataEncryption",
          "traits": {
            "smithy.api#documentation": "Data encryption properties of a server."
          }
        },
        "backup": {
          "target": "com.azure.postgresql#Backup",
          "traits": {
            "smithy.api#documentation": "Backup properties of a server."
          }
        },
        "network": {
          "target": "com.azure.postgresql#Network",
          "traits": {
            "smithy.api#documentation": "Network properties of a server. Only required if you want your server to be integrated into a virtual network provided by customer."
          }
        },
        "highAvailability": {
          "target": "com.azure.postgresql#HighAvailability",
          "traits": {
            "smithy.api#documentation": "High availability properties of a server."
          }
        },
        "maintenanceWindow": {
          "target": "com.azure.postgresql#MaintenanceWindow",
          "traits": {
            "smithy.api#documentation": "Maintenance window properties of a server."
          }
        },
        "sourceServerResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the server to be used as the source of the new server. Required when 'createMode' is 'PointInTimeRestore', 'GeoRestore', 'Replica', or 'ReviveDropped'. This property is returned only when the target server is a read replica."
          }
        },
        "pointInTimeUTC": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creation time (in ISO8601 format) of the backup which you want to restore in the new server. It's required when 'createMode' is 'PointInTimeRestore', 'GeoRestore', or 'ReviveDropped'."
          }
        },
        "availabilityZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Availability zone of a server."
          }
        },
        "replicationRole": {
          "target": "com.azure.postgresql#ReplicationRole",
          "traits": {
            "smithy.api#documentation": "Role of the server in a replication set."
          }
        },
        "replicaCapacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of read replicas allowed for a server."
          }
        },
        "replica": {
          "target": "com.azure.postgresql#Replica",
          "traits": {
            "smithy.api#documentation": "Read replica properties of a server. Required only in case that you want to promote a server."
          }
        },
        "createMode": {
          "target": "com.azure.postgresql#CreateMode",
          "traits": {
            "smithy.api#documentation": "Creation mode of a new server."
          }
        },
        "privateEndpointConnections": {
          "target": "com.azure.postgresql#ServerPropertiesPrivateEndpointConnectionsList",
          "traits": {
            "smithy.api#documentation": "List of private endpoint connections associated with the specified server."
          }
        },
        "cluster": {
          "target": "com.azure.postgresql#Cluster",
          "traits": {
            "smithy.api#documentation": "Cluster properties of a server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a server."
      }
    },
    "com.azure.postgresql#Cluster": {
      "type": "structure",
      "members": {
        "clusterSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of nodes assigned to the elastic cluster."
          }
        },
        "defaultDatabaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default database name for the elastic cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cluster properties of a server."
      }
    },
    "com.azure.postgresql#ServerPropertiesPrivateEndpointConnectionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.postgresql#ServerPropertiesPrivateEndpointConnectionsItem"
      },
      "traits": {
        "smithy.api#documentation": "List of private endpoint connections associated with the specified server."
      }
    },
    "com.azure.postgresql#ServerPropertiesPrivateEndpointConnectionsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.postgresql#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.postgresql#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint connection resource."
      }
    },
    "com.azure.postgresql#PrivateEndpointConnectionProperties": {
      "type": "structure",
      "members": {
        "groupIds": {
          "target": "com.azure.postgresql#PrivateEndpointConnectionPropertiesGroupIdsList",
          "traits": {
            "smithy.api#documentation": "The group ids for the private endpoint resource."
          }
        },
        "privateEndpoint": {
          "target": "com.azure.postgresql#PrivateEndpoint",
          "traits": {
            "smithy.api#documentation": "The private endpoint resource."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.postgresql#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.postgresql#PrivateEndpointConnectionProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the private endpoint connection resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the private endpoint connection."
      }
    },
    "com.azure.postgresql#PrivateEndpointConnectionProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current provisioning state."
      }
    },
    "com.azure.postgresql#PrivateLinkServiceConnectionState": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.postgresql#PrivateEndpointServiceConnectionStatus",
          "traits": {
            "smithy.api#documentation": "Indicates whether the connection has been Approved/Rejected/Removed by the owner of the service."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason for approval/rejection of the connection."
          }
        },
        "actionsRequired": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A message indicating if changes on the service provider require any updates on the consumer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider."
      }
    },
    "com.azure.postgresql#PrivateEndpointServiceConnectionStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint connection status."
      }
    },
    "com.azure.postgresql#PrivateEndpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ARM identifier for private endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint resource."
      }
    },
    "com.azure.postgresql#PrivateEndpointConnectionPropertiesGroupIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The group ids for the private endpoint resource."
      }
    },
    "com.azure.postgresql#CreateMode": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Default"
          }
        },
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Create"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Update"
          }
        },
        "POINTINTIMERESTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PointInTimeRestore"
          }
        },
        "GEORESTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GeoRestore"
          }
        },
        "REPLICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Replica"
          }
        },
        "REVIVEDROPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReviveDropped"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Creation mode of a new server."
      }
    },
    "com.azure.postgresql#Replica": {
      "type": "structure",
      "members": {
        "role": {
          "target": "com.azure.postgresql#ReplicationRole",
          "traits": {
            "smithy.api#documentation": "Role of the server in a replication set."
          }
        },
        "capacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of read replicas allowed for a server."
          }
        },
        "replicationState": {
          "target": "com.azure.postgresql#ReplicationState",
          "traits": {
            "smithy.api#documentation": "Indicates the replication state of a read replica. This property is returned only when the target server is a read replica. Possible  values are Active, Broken, Catchup, Provisioning, Reconfiguring, and Updating"
          }
        },
        "promoteMode": {
          "target": "com.azure.postgresql#ReadReplicaPromoteMode",
          "traits": {
            "smithy.api#documentation": "Type of operation to apply on the read replica. This property is write only. Standalone means that the read replica will be promoted to a standalone server, and will become a completely independent entity from the replication set. Switchover means that the read replica will roles with the primary server."
          }
        },
        "promoteOption": {
          "target": "com.azure.postgresql#ReadReplicaPromoteOption",
          "traits": {
            "smithy.api#documentation": "Data synchronization option to use when processing the operation specified in the promoteMode property. This property is write only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Replica properties of a server."
      }
    },
    "com.azure.postgresql#ReadReplicaPromoteOption": {
      "type": "enum",
      "members": {
        "PLANNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Planned"
          }
        },
        "FORCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Forced"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data synchronization option to use when processing the operation specified in the promoteMode property. This property is write only."
      }
    },
    "com.azure.postgresql#ReadReplicaPromoteMode": {
      "type": "enum",
      "members": {
        "STANDALONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standalone"
          }
        },
        "SWITCHOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Switchover"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of operation to apply on the read replica. This property is write only."
      }
    },
    "com.azure.postgresql#ReplicationState": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        },
        "CATCHUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Catchup"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "BROKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Broken"
          }
        },
        "RECONFIGURING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Reconfiguring"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates the replication state of a read replica. This property is returned only when the target server is a read replica."
      }
    },
    "com.azure.postgresql#ReplicationRole": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Primary"
          }
        },
        "ASYNCREPLICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AsyncReplica"
          }
        },
        "GEOASYNCREPLICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GeoAsyncReplica"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Role of the server in a replication set."
      }
    },
    "com.azure.postgresql#MaintenanceWindow": {
      "type": "structure",
      "members": {
        "customWindow": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates whether custom window is enabled or disabled."
          }
        },
        "startHour": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start hour to be used for maintenance window."
          }
        },
        "startMinute": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start minute to be used for maintenance window."
          }
        },
        "dayOfWeek": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of the week to be used for maintenance window."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Maintenance window properties of a server."
      }
    },
    "com.azure.postgresql#HighAvailability": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.azure.postgresql#HighAvailabilityMode",
          "traits": {
            "smithy.api#documentation": "High availability mode for a server."
          }
        },
        "state": {
          "target": "com.azure.postgresql#HighAvailabilityState",
          "traits": {
            "smithy.api#documentation": "Possible states of the standby server created when high availability is set to SameZone or ZoneRedundant."
          }
        },
        "standbyAvailabilityZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Availability zone associated to the standby server created when high availability is set to SameZone or ZoneRedundant."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "High availability properties of a server."
      }
    },
    "com.azure.postgresql#HighAvailabilityState": {
      "type": "enum",
      "members": {
        "NOTENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotEnabled"
          }
        },
        "CREATINGSTANDBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreatingStandby"
          }
        },
        "REPLICATINGDATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReplicatingData"
          }
        },
        "FAILINGOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FailingOver"
          }
        },
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Healthy"
          }
        },
        "REMOVINGSTANDBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RemovingStandby"
          }
        },
        "RECREATINGSTANDBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RecreatingStandby"
          }
        },
        "COMPUTEUPDATINGBYFAILOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ComputeUpdatingByFailover"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible states of the standby server created when high availability is set to SameZone or ZoneRedundant."
      }
    },
    "com.azure.postgresql#HighAvailabilityMode": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        },
        "ZONEREDUNDANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZoneRedundant"
          }
        },
        "SAMEZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SameZone"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "High availability mode for a server."
      }
    },
    "com.azure.postgresql#Network": {
      "type": "structure",
      "members": {
        "publicNetworkAccess": {
          "target": "com.azure.postgresql#ServerPublicNetworkAccessState",
          "traits": {
            "smithy.api#documentation": "Indicates if public network access is enabled or not. This is only supported for servers that are not integrated into a virtual network which is owned and provided by customer when server is deployed."
          }
        },
        "delegatedSubnetResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource identifier of the delegated subnet. Required during creation of a new server, in case you want the server to be integrated into your own virtual network. For an update operation, you only have to provide this property if you want to change the value assigned for the private DNS zone."
          }
        },
        "privateDnsZoneArmResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the private DNS zone. Required during creation of a new server, in case you want the server to be integrated into your own virtual network. For an update operation, you only have to provide this property if you want to change the value assigned for the private DNS zone."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network properties of a server."
      }
    },
    "com.azure.postgresql#ServerPublicNetworkAccessState": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates if public network access is enabled or not."
      }
    },
    "com.azure.postgresql#Backup": {
      "type": "structure",
      "members": {
        "backupRetentionDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Backup retention days for the server."
          }
        },
        "geoRedundantBackup": {
          "target": "com.azure.postgresql#BackupGeoRedundantBackup",
          "traits": {
            "smithy.api#documentation": "Indicates if the server is configured to create geographically redundant backups."
          }
        },
        "earliestRestoreDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Earliest restore point time (ISO8601 format) for a server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Backup properties of a server."
      }
    },
    "com.azure.postgresql#BackupGeoRedundantBackup": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates if the server is configured to create geographically redundant backups."
      }
    },
    "com.azure.postgresql#DataEncryption": {
      "type": "structure",
      "members": {
        "primaryKeyURI": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URI of the key in Azure Key Vault used for data encryption of the primary storage associated to a server."
          }
        },
        "primaryUserAssignedIdentityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the user assigned managed identity used to access the key in Azure Key Vault for data encryption of the primary storage associated to a server."
          }
        },
        "geoBackupKeyURI": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the user assigned managed identity used to access the key in Azure Key Vault for data encryption of the geographically redundant storage associated to a server that is configured to support geographically redundant backups."
          }
        },
        "geoBackupUserAssignedIdentityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the user assigned managed identity used to access the key in Azure Key Vault for data encryption of the geographically redundant storage associated to a server that is configured to support geographically redundant backups."
          }
        },
        "type": {
          "target": "com.azure.postgresql#DataEncryptionType",
          "traits": {
            "smithy.api#documentation": "Data encryption type used by a server."
          }
        },
        "primaryEncryptionKeyStatus": {
          "target": "com.azure.postgresql#EncryptionKeyStatus",
          "traits": {
            "smithy.api#documentation": "Status of key used by a server configured with data encryption based on customer managed key, to encrypt the primary storage associated to the server."
          }
        },
        "geoBackupEncryptionKeyStatus": {
          "target": "com.azure.postgresql#EncryptionKeyStatus",
          "traits": {
            "smithy.api#documentation": "Status of key used by a server configured with data encryption based on customer managed key, to encrypt the geographically redundant storage associated to the server when it is configured to support geographically redundant backups."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data encryption properties of a server."
      }
    },
    "com.azure.postgresql#EncryptionKeyStatus": {
      "type": "enum",
      "members": {
        "VALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Valid"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of key used by a server configured with data encryption based on customer managed key, to encrypt the primary storage associated to the server."
      }
    },
    "com.azure.postgresql#DataEncryptionType": {
      "type": "enum",
      "members": {
        "SYSTEMMANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemManaged"
          }
        },
        "AZUREKEYVAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureKeyVault"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Data encryption type used by a server."
      }
    },
    "com.azure.postgresql#AuthConfig": {
      "type": "structure",
      "members": {
        "activeDirectoryAuth": {
          "target": "com.azure.postgresql#MicrosoftEntraAuth",
          "traits": {
            "smithy.api#documentation": "Indicates if the server supports Microsoft Entra authentication."
          }
        },
        "passwordAuth": {
          "target": "com.azure.postgresql#AuthConfigPasswordAuth",
          "traits": {
            "smithy.api#documentation": "Indicates if the server supports password based authentication."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the tenant of the delegated resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Authentication configuration properties of a server."
      }
    },
    "com.azure.postgresql#AuthConfigPasswordAuth": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates if the server supports password based authentication."
      }
    },
    "com.azure.postgresql#MicrosoftEntraAuth": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates if the server supports Microsoft Entra authentication."
      }
    },
    "com.azure.postgresql#Storage": {
      "type": "structure",
      "members": {
        "storageSizeGB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size of storage assigned to a server."
          }
        },
        "autoGrow": {
          "target": "com.azure.postgresql#StorageAutoGrow",
          "traits": {
            "smithy.api#documentation": "Flag to enable or disable the automatic growth of storage size of a server when available space is nearing zero and conditions allow for automatically growing storage size."
          }
        },
        "tier": {
          "target": "com.azure.postgresql#AzureManagedDiskPerformanceTier",
          "traits": {
            "smithy.api#documentation": "Storage tier of a server."
          }
        },
        "iops": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum IOPS supported for storage. Required when type of storage is PremiumV2_LRS or UltraSSD_LRS."
          }
        },
        "throughput": {
          "target": "smithy.api#Integer",
          "traits": {
[...]
