{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.providerhub#ProviderMonitorSettingsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.providerhub#ProviderMonitorSettingsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ProviderHub/providerMonitorSettings/{providerMonitorSettingName}",
          "code": 200,
          "apiVersion": "2024-09-01"
        },
        "smithy.api#documentation": "Deletes a provider monitor setting.",
        "com.distilled.openapi#apiVersion": "2024-09-01"
      }
    },
    "com.azure.providerhub#ProviderMonitorSettingsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "providerMonitorSettingName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the provider monitor setting."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.providerhub#ProviderMonitorSettingsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.providerhub#ProviderMonitorSettingsUpdateRequest"
      },
      "output": {
        "target": "com.azure.providerhub#ProviderMonitorSettingsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ProviderHub/providerMonitorSettings/{providerMonitorSettingName}",
          "code": 200,
          "apiVersion": "2024-09-01"
        },
        "smithy.api#documentation": "Updates the provider monitor setting properties as specified in the request body. Update fails if the specified provider monitor setting does not already exist.",
        "com.distilled.openapi#apiVersion": "2024-09-01"
      }
    },
    "com.azure.providerhub#ProviderMonitorSettingsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.providerhub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.providerhub#ProviderMonitorSettingsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.providerhub#ProviderMonitorSettingProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.providerhub#ProviderMonitorSettingProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.providerhub#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state."
          }
        }
      },
      "traits": {}
    },
    "com.azure.providerhub#ProvisioningState": {
      "type": "enum",
      "members": {
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Created"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleted"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "MOVINGRESOURCES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MovingResources"
          }
        },
        "TRANSIENTFAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TransientFailure"
          }
        },
        "ROLLOUTINPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RolloutInProgress"
          }
        }
      },
      "traits": {}
    },
    "com.azure.providerhub#ProviderMonitorSettingsUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.providerhub#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.providerhub#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.providerhub#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.providerhub#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.providerhub#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.providerhub#ProviderMonitorSettingsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "providerMonitorSettingName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the provider monitor setting."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.providerhub#ProviderMonitorSettingsCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.providerhub#ProviderMonitorSettingsCreateRequest"
      },
      "output": {
        "target": "com.azure.providerhub#ProviderMonitorSettingsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ProviderHub/providerMonitorSettings/{providerMonitorSettingName}",
          "code": 200,
          "apiVersion": "2024-09-01"
        },
        "smithy.api#documentation": "Creates the provider monitor setting.",
        "com.distilled.openapi#apiVersion": "2024-09-01"
      }
    },
    "com.azure.providerhub#ProviderMonitorSettingsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.providerhub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.providerhub#ProviderMonitorSettingsCreateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.providerhub#ProviderMonitorSettingProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.providerhub#ProviderMonitorSettingsCreateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.providerhub#ProviderMonitorSettingsCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "providerMonitorSettingName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the provider monitor setting."
          }
        },
        "tags": {
          "target": "com.azure.providerhub#ProviderMonitorSettingsCreateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.providerhub#ProviderMonitorSettingProperties"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.providerhub#ProviderMonitorSettingsCreateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.providerhub#ProviderMonitorSettingsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.providerhub#ProviderMonitorSettingsGetRequest"
      },
      "output": {
        "target": "com.azure.providerhub#ProviderMonitorSettingsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ProviderHub/providerMonitorSettings/{providerMonitorSettingName}",
          "code": 200,
          "apiVersion": "2024-09-01"
        },
        "smithy.api#documentation": "Gets the provider monitor setting details.",
        "com.distilled.openapi#apiVersion": "2024-09-01"
      }
    },
    "com.azure.providerhub#ProviderMonitorSettingsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.providerhub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.providerhub#ProviderMonitorSettingsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.providerhub#ProviderMonitorSettingProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.providerhub#ProviderMonitorSettingsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.providerhub#ProviderMonitorSettingsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "providerMonitorSettingName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the provider monitor setting."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.providerhub#ProviderMonitorSettingsListByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.providerhub#ProviderMonitorSettingsListByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.providerhub#ProviderMonitorSettingArrayResponseWithContinuation"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ProviderHub/providerMonitorSettings",
          "code": 200,
          "apiVersion": "2024-09-01"
        },
        "smithy.api#documentation": "Gets the list of the provider monitor settings in the resource group.",
        "com.distilled.openapi#apiVersion": "2024-09-01"
      }
    },
    "com.azure.providerhub#ProviderMonitorSettingArrayResponseWithContinuation": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.providerhub#ProviderMonitorSettingArrayResponseWithContinuationValueList",
          "traits": {
            "smithy.api#documentation": "The ProviderMonitorSetting items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Paged collection of ProviderMonitorSetting items"
      }
    },
    "com.azure.providerhub#ProviderMonitorSettingArrayResponseWithContinuationValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.providerhub#ProviderMonitorSetting"
      },
      "traits": {
        "smithy.api#documentation": "The ProviderMonitorSetting items on this page"
      }
    },
    "com.azure.providerhub#ProviderMonitorSetting": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.providerhub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.providerhub#ProviderMonitorSettingTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.providerhub#ProviderMonitorSettingProperties"
        }
      },
      "traits": {
        "smithy.api#documentation": "Concrete tracked resource types can be created by aliasing this type using a specific property type."
      }
    },
    "com.azure.providerhub#ProviderMonitorSettingTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.providerhub#ProviderMonitorSettingsListByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.providerhub#SkusDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.providerhub#SkusDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/skus/{sku}",
          "code": 200,
          "apiVersion": "2024-09-01"
        },
        "smithy.api#documentation": "Deletes a resource type sku.",
        "com.distilled.openapi#apiVersion": "2024-09-01"
      }
    },
    "com.azure.providerhub#SkusDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "providerNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource provider hosted within ProviderHub."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource type."
          }
        },
        "sku": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The SKU."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.providerhub#SkusCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.providerhub#SkusCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.providerhub#SkusCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/skus/{sku}",
          "code": 200,
          "apiVersion": "2024-09-01"
        },
        "smithy.api#documentation": "Creates or updates the resource type skus in the given resource type.",
        "com.distilled.openapi#apiVersion": "2024-09-01"
      }
    },
    "com.azure.providerhub#SkusCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.providerhub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.providerhub#ResourceTypeSku"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.providerhub#ResourceTypeSku": {
      "type": "structure",
      "members": {
        "skuSettings": {
          "target": "com.azure.providerhub#ResourceTypeSkuSkuSettingsList",
          "traits": {
            "smithy.api#documentation": "The sku settings.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.providerhub#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state."
          }
        }
      },
      "traits": {}
    },
    "com.azure.providerhub#ResourceTypeSkuSkuSettingsList": {
      "type": "list",
      "member": {
        "target": "com.azure.providerhub#SkuSetting"
      },
      "traits": {
        "smithy.api#documentation": "The sku settings."
      }
    },
    "com.azure.providerhub#SkuSetting": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name.",
            "smithy.api#required": {}
          }
        },
        "tier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tier."
          }
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The size."
          }
        },
        "family": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The family."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind."
          }
        },
        "locations": {
          "target": "com.azure.providerhub#SkuSettingLocationsList",
          "traits": {
            "smithy.api#documentation": "The locations."
          }
        },
        "locationInfo": {
          "target": "com.azure.providerhub#SkuSettingLocationInfoList",
          "traits": {
            "smithy.api#documentation": "The location info."
          }
        },
        "requiredQuotaIds": {
          "target": "com.azure.providerhub#SkuSettingRequiredQuotaIdsList",
          "traits": {
            "smithy.api#documentation": "The required quota ids."
          }
        },
        "requiredFeatures": {
          "target": "com.azure.providerhub#SkuSettingRequiredFeaturesList",
          "traits": {
            "smithy.api#documentation": "The required features."
          }
        },
        "capacity": {
          "target": "com.azure.providerhub#SkuCapacity",
          "traits": {
            "smithy.api#documentation": "The capacity."
          }
        },
        "costs": {
          "target": "com.azure.providerhub#SkuSettingCostsList",
          "traits": {
            "smithy.api#documentation": "The costs."
          }
        },
        "capabilities": {
          "target": "com.azure.providerhub#SkuSettingCapabilitiesList",
          "traits": {
            "smithy.api#documentation": "The capabilities."
          }
        }
      },
      "traits": {}
    },
    "com.azure.providerhub#SkuSettingCapabilitiesList": {
      "type": "list",
      "member": {
        "target": "com.azure.providerhub#SkuCapability"
      },
      "traits": {
        "smithy.api#documentation": "The capabilities."
      }
    },
    "com.azure.providerhub#SkuCapability": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.azure.providerhub#SkuSettingCostsList": {
      "type": "list",
      "member": {
        "target": "com.azure.providerhub#SkuCost"
      },
      "traits": {
        "smithy.api#documentation": "The costs."
      }
    },
    "com.azure.providerhub#SkuCost": {
      "type": "structure",
      "members": {
        "meterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The meter id.",
            "smithy.api#required": {}
          }
        },
        "quantity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The quantity."
          }
        },
        "extendedUnit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The extended unit."
          }
        }
      },
      "traits": {}
    },
    "com.azure.providerhub#SkuCapacity": {
      "type": "structure",
      "members": {
        "minimum": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The minimum.",
            "smithy.api#required": {}
          }
        },
        "maximum": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum."
          }
        },
        "default": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The default."
          }
        },
        "scaleType": {
          "target": "com.azure.providerhub#SkuScaleType",
          "traits": {
            "smithy.api#documentation": "The scale type."
          }
        }
      },
      "traits": {}
    },
    "com.azure.providerhub#SkuScaleType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Manual"
          }
        },
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Automatic"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The scale type."
      }
    },
    "com.azure.providerhub#SkuSettingRequiredFeaturesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The required features."
      }
    },
    "com.azure.providerhub#SkuSettingRequiredQuotaIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The required quota ids."
      }
    },
    "com.azure.providerhub#SkuSettingLocationInfoList": {
      "type": "list",
      "member": {
        "target": "com.azure.providerhub#SkuLocationInfo"
      },
      "traits": {
        "smithy.api#documentation": "The location info."
      }
    },
    "com.azure.providerhub#SkuLocationInfo": {
      "type": "structure",
      "members": {
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location.",
            "smithy.api#required": {}
          }
        },
        "zones": {
          "target": "com.azure.providerhub#SkuLocationInfoZonesList",
          "traits": {
            "smithy.api#documentation": "The zones."
          }
        },
        "zoneDetails": {
          "target": "com.azure.providerhub#SkuLocationInfoZoneDetailsList",
          "traits": {
            "smithy.api#documentation": "The zone details."
          }
        },
        "extendedLocations": {
          "target": "com.azure.providerhub#SkuLocationInfoExtendedLocationsList",
          "traits": {
            "smithy.api#documentation": "The extended locations."
          }
        },
        "type": {
          "target": "com.azure.providerhub#ExtendedLocationType",
          "traits": {
            "smithy.api#documentation": "The type."
          }
        }
      },
      "traits": {}
    },
    "com.azure.providerhub#ExtendedLocationType": {
      "type": "enum",
      "members": {
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        },
        "CUSTOMLOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CustomLocation"
          }
        },
        "EDGEZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EdgeZone"
          }
        },
        "ARCZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ArcZone"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The extended location type."
      }
    },
    "com.azure.providerhub#SkuLocationInfoExtendedLocationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The extended locations."
      }
    },
    "com.azure.providerhub#SkuLocationInfoZoneDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.providerhub#SkuZoneDetail"
      },
      "traits": {
        "smithy.api#documentation": "The zone details."
      }
    },
    "com.azure.providerhub#SkuZoneDetail": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.azure.providerhub#SkuZoneDetailNameList",
          "traits": {
            "smithy.api#documentation": "The name."
          }
        },
        "capabilities": {
          "target": "com.azure.providerhub#SkuZoneDetailCapabilitiesList",
          "traits": {
            "smithy.api#documentation": "The capabilities."
          }
        }
      },
      "traits": {}
    },
    "com.azure.providerhub#SkuZoneDetailCapabilitiesList": {
      "type": "list",
      "member": {
        "target": "com.azure.providerhub#SkuCapability"
      },
      "traits": {
        "smithy.api#documentation": "The capabilities."
      }
    },
    "com.azure.providerhub#SkuZoneDetailNameList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The name."
      }
    },
    "com.azure.providerhub#SkuLocationInfoZonesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The zones."
      }
    },
    "com.azure.providerhub#SkuSettingLocationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The locations."
      }
    },
    "com.azure.providerhub#SkusCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "providerNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource provider hosted within ProviderHub."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource type."
          }
        },
        "sku": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The SKU."
          }
        },
        "properties": {
          "target": "com.azure.providerhub#ResourceTypeSku"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.providerhub#SkusGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.providerhub#SkusGetRequest"
      },
      "output": {
        "target": "com.azure.providerhub#SkusGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/skus/{sku}",
          "code": 200,
          "apiVersion": "2024-09-01"
        },
        "smithy.api#documentation": "Gets the sku details for the given resource type and sku name.",
        "com.distilled.openapi#apiVersion": "2024-09-01"
      }
    },
    "com.azure.providerhub#SkusGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.providerhub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.providerhub#ResourceTypeSku"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.providerhub#SkusGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "providerNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource provider hosted within ProviderHub."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource type."
          }
        },
        "sku": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The SKU."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.providerhub#SkusListByResourceTypeRegistrations": {
      "type": "operation",
      "input": {
        "target": "com.azure.providerhub#SkusListByResourceTypeRegistrationsRequest"
      },
      "output": {
        "target": "com.azure.providerhub#SkuResourceArrayResponseWithContinuation"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/skus",
          "code": 200,
          "apiVersion": "2024-09-01"
        },
        "smithy.api#documentation": "Gets the list of skus for the given resource type.",
        "com.distilled.openapi#apiVersion": "2024-09-01"
      }
    },
    "com.azure.providerhub#SkuResourceArrayResponseWithContinuation": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.providerhub#SkuResourceArrayResponseWithContinuationValueList",
          "traits": {
            "smithy.api#documentation": "The SkuResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Paged collection of SkuResource items"
      }
    },
    "com.azure.providerhub#SkuResourceArrayResponseWithContinuationValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.providerhub#SkuResource"
      },
      "traits": {
        "smithy.api#documentation": "The SkuResource items on this page"
      }
    },
    "com.azure.providerhub#SkuResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.providerhub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.providerhub#ResourceTypeSku"
        }
      },
      "traits": {
        "smithy.api#documentation": "Concrete proxy resource types can be created by aliasing this type using a specific property type."
      }
    },
    "com.azure.providerhub#SkusListByResourceTypeRegistrationsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "providerNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource provider hosted within ProviderHub."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource type."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.providerhub#SkusDeleteNestedResourceTypeFirst": {
      "type": "operation",
      "input": {
        "target": "com.azure.providerhub#SkusDeleteNestedResourceTypeFirstRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/skus/{sku}",
          "code": 200,
          "apiVersion": "2024-09-01"
        },
        "smithy.api#documentation": "Deletes a resource type sku.",
        "com.distilled.openapi#apiVersion": "2024-09-01"
      }
    },
    "com.azure.providerhub#SkusDeleteNestedResourceTypeFirstRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "providerNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource provider hosted within ProviderHub."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource type."
          }
        },
        "nestedResourceTypeFirst": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The first child resource type."
          }
        },
        "sku": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The SKU."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.providerhub#SkusCreateOrUpdateNestedResourceTypeFirst": {
      "type": "operation",
      "input": {
        "target": "com.azure.providerhub#SkusCreateOrUpdateNestedResourceTypeFirstRequest"
      },
      "output": {
        "target": "com.azure.providerhub#SkusCreateOrUpdateNestedResourceTypeFirstResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/skus/{sku}",
          "code": 200,
          "apiVersion": "2024-09-01"
        },
        "smithy.api#documentation": "Creates or updates the resource type skus in the given resource type.",
        "com.distilled.openapi#apiVersion": "2024-09-01"
      }
    },
    "com.azure.providerhub#SkusCreateOrUpdateNestedResourceTypeFirstResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.providerhub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.providerhub#ResourceTypeSku"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.providerhub#SkusCreateOrUpdateNestedResourceTypeFirstRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "providerNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource provider hosted within ProviderHub."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource type."
          }
        },
        "nestedResourceTypeFirst": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The first child resource type."
          }
        },
        "sku": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The SKU."
          }
        },
        "properties": {
          "target": "com.azure.providerhub#ResourceTypeSku"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.providerhub#SkusGetNestedResourceTypeFirst": {
      "type": "operation",
      "input": {
        "target": "com.azure.providerhub#SkusGetNestedResourceTypeFirstRequest"
      },
      "output": {
        "target": "com.azure.providerhub#SkusGetNestedResourceTypeFirstResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/skus/{sku}",
          "code": 200,
          "apiVersion": "2024-09-01"
        },
        "smithy.api#documentation": "Gets the sku details for the given resource type and sku name.",
        "com.distilled.openapi#apiVersion": "2024-09-01"
      }
    },
    "com.azure.providerhub#SkusGetNestedResourceTypeFirstResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.providerhub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.providerhub#ResourceTypeSku"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.providerhub#SkusGetNestedResourceTypeFirstRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "providerNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource provider hosted within ProviderHub."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource type."
          }
        },
        "nestedResourceTypeFirst": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The first child resource type."
          }
        },
        "sku": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The SKU."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.providerhub#SkusListByResourceTypeRegistrationsNestedResourceTypeFirst": {
      "type": "operation",
      "input": {
        "target": "com.azure.providerhub#SkusListByResourceTypeRegistrationsNestedResourceTypeFirstRequest"
      },
      "output": {
        "target": "com.azure.providerhub#SkuResourceArrayResponseWithContinuation"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/skus",
          "code": 200,
          "apiVersion": "2024-09-01"
        },
        "smithy.api#documentation": "Gets the list of skus for the given resource type.",
        "com.distilled.openapi#apiVersion": "2024-09-01"
      }
    },
    "com.azure.providerhub#SkusListByResourceTypeRegistrationsNestedResourceTypeFirstRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "providerNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource provider hosted within ProviderHub."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource type."
          }
        },
        "nestedResourceTypeFirst": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The first child resource type."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.providerhub#SkusDeleteNestedResourceTypeSecond": {
      "type": "operation",
      "input": {
        "target": "com.azure.providerhub#SkusDeleteNestedResourceTypeSecondRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/resourcetypeRegistrations/{nestedResourceTypeSecond}/skus/{sku}",
          "code": 200,
          "apiVersion": "2024-09-01"
        },
        "smithy.api#documentation": "Deletes a resource type sku.",
        "com.distilled.openapi#apiVersion": "2024-09-01"
      }
    },
    "com.azure.providerhub#SkusDeleteNestedResourceTypeSecondRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "providerNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource provider hosted within ProviderHub."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource type."
          }
        },
        "nestedResourceTypeFirst": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The first child resource type."
          }
        },
        "nestedResourceTypeSecond": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The second child resource type."
          }
        },
        "sku": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The SKU."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.providerhub#SkusCreateOrUpdateNestedResourceTypeSecond": {
      "type": "operation",
      "input": {
        "target": "com.azure.providerhub#SkusCreateOrUpdateNestedResourceTypeSecondRequest"
      },
      "output": {
        "target": "com.azure.providerhub#SkusCreateOrUpdateNestedResourceTypeSecondResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/resourcetypeRegistrations/{nestedResourceTypeSecond}/skus/{sku}",
          "code": 200,
          "apiVersion": "2024-09-01"
        },
        "smithy.api#documentation": "Creates or updates the resource type skus in the given resource type.",
        "com.distilled.openapi#apiVersion": "2024-09-01"
      }
    },
    "com.azure.providerhub#SkusCreateOrUpdateNestedResourceTypeSecondResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.providerhub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.providerhub#ResourceTypeSku"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.providerhub#SkusCreateOrUpdateNestedResourceTypeSecondRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "providerNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource provider hosted within ProviderHub."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource type."
          }
        },
        "nestedResourceTypeFirst": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The first child resource type."
          }
        },
        "nestedResourceTypeSecond": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The second child resource type."
          }
        },
        "sku": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The SKU."
          }
        },
        "properties": {
          "target": "com.azure.providerhub#ResourceTypeSku"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.providerhub#SkusGetNestedResourceTypeSecond": {
      "type": "operation",
      "input": {
        "target": "com.azure.providerhub#SkusGetNestedResourceTypeSecondRequest"
      },
      "output": {
        "target": "com.azure.providerhub#SkusGetNestedResourceTypeSecondResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/resourcetypeRegistrations/{nestedResourceTypeSecond}/skus/{sku}",
          "code": 200,
          "apiVersion": "2024-09-01"
        },
        "smithy.api#documentation": "Gets the sku details for the given resource type and sku name.",
        "com.distilled.openapi#apiVersion": "2024-09-01"
      }
    },
    "com.azure.providerhub#SkusGetNestedResourceTypeSecondResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.providerhub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.providerhub#ResourceTypeSku"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.providerhub#SkusGetNestedResourceTypeSecondRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "providerNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource provider hosted within ProviderHub."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource type."
          }
        },
        "nestedResourceTypeFirst": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The first child resource type."
          }
        },
        "nestedResourceTypeSecond": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The second child resource type."
          }
        },
        "sku": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The SKU."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.providerhub#SkusListByResourceTypeRegistrationsNestedResourceTypeSecond": {
      "type": "operation",
      "input": {
        "target": "com.azure.providerhub#SkusListByResourceTypeRegistrationsNestedResourceTypeSecondRequest"
      },
      "output": {
        "target": "com.azure.providerhub#SkuResourceArrayResponseWithContinuation"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/resourcetypeRegistrations/{nestedResourceTypeSecond}/skus",
          "code": 200,
          "apiVersion": "2024-09-01"
        },
        "smithy.api#documentation": "Gets the list of skus for the given resource type.",
        "com.distilled.openapi#apiVersion": "2024-09-01"
      }
    },
    "com.azure.providerhub#SkusListByResourceTypeRegistrationsNestedResourceTypeSecondRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "providerNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource provider hosted within ProviderHub."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource type."
          }
        },
        "nestedResourceTypeFirst": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The first child resource type."
          }
        },
        "nestedResourceTypeSecond": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The second child resource type."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.providerhub#SkusDeleteNestedResourceTypeThird": {
      "type": "operation",
      "input": {
        "target": "com.azure.providerhub#SkusDeleteNestedResourceTypeThirdRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/resourcetypeRegistrations/{nestedResourceTypeSecond}/resourcetypeRegistrations/{nestedResourceTypeThird}/skus/{sku}",
          "code": 200,
          "apiVersion": "2024-09-01"
        },
        "smithy.api#documentation": "Deletes a resource type sku.",
        "com.distilled.openapi#apiVersion": "2024-09-01"
      }
    },
    "com.azure.providerhub#SkusDeleteNestedResourceTypeThirdRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "providerNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource provider hosted within ProviderHub."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource type."
          }
        },
        "nestedResourceTypeFirst": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The first child resource type."
          }
        },
        "nestedResourceTypeSecond": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The second child resource type."
          }
        },
        "nestedResourceTypeThird": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The third child resource type."
          }
        },
        "sku": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The SKU."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.providerhub#SkusCreateOrUpdateNestedResourceTypeThird": {
      "type": "operation",
      "input": {
        "target": "com.azure.providerhub#SkusCreateOrUpdateNestedResourceTypeThirdRequest"
      },
      "output": {
        "target": "com.azure.providerhub#SkusCreateOrUpdateNestedResourceTypeThirdResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/resourcetypeRegistrations/{nestedResourceTypeSecond}/resourcetypeRegistrations/{nestedResourceTypeThird}/skus/{sku}",
          "code": 200,
          "apiVersion": "2024-09-01"
        },
        "smithy.api#documentation": "Creates or updates the resource type skus in the given resource type.",
        "com.distilled.openapi#apiVersion": "2024-09-01"
      }
    },
    "com.azure.providerhub#SkusCreateOrUpdateNestedResourceTypeThirdResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.providerhub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.providerhub#ResourceTypeSku"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.providerhub#SkusCreateOrUpdateNestedResourceTypeThirdRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "providerNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource provider hosted within ProviderHub."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource type."
          }
        },
        "nestedResourceTypeFirst": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The first child resource type."
          }
        },
        "nestedResourceTypeSecond": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The second child resource type."
          }
        },
        "nestedResourceTypeThird": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The third child resource type."
          }
        },
        "sku": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The SKU."
          }
        },
        "properties": {
          "target": "com.azure.providerhub#ResourceTypeSku"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.providerhub#SkusGetNestedResourceTypeThird": {
      "type": "operation",
      "input": {
        "target": "com.azure.providerhub#SkusGetNestedResourceTypeThirdRequest"
      },
      "output": {
        "target": "com.azure.providerhub#SkusGetNestedResourceTypeThirdResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/resourcetypeRegistrations/{nestedResourceTypeSecond}/resourcetypeRegistrations/{nestedResourceTypeThird}/skus/{sku}",
          "code": 200,
          "apiVersion": "2024-09-01"
        },
        "smithy.api#documentation": "Gets the sku details for the given resource type and sku name.",
        "com.distilled.openapi#apiVersion": "2024-09-01"
      }
    },
    "com.azure.providerhub#SkusGetNestedResourceTypeThirdResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.providerhub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.providerhub#ResourceTypeSku"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.providerhub#SkusGetNestedResourceTypeThirdRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "providerNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource provider hosted within ProviderHub."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource type."
          }
        },
        "nestedResourceTypeFirst": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The first child resource type."
          }
        },
        "nestedResourceTypeSecond": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The second child resource type."
          }
        },
        "nestedResourceTypeThird": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The third child resource type."
          }
        },
        "sku": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The SKU."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.providerhub#SkusListByResourceTypeRegistrationsNestedResourceTypeThird": {
      "type": "operation",
      "input": {
        "target": "com.azure.providerhub#SkusListByResourceTypeRegistrationsNestedResourceTypeThirdRequest"
      },
      "output": {
        "target": "com.azure.providerhub#SkuResourceArrayResponseWithContinuation"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/resourcetypeRegistrations/{nestedResourceTypeSecond}/resourcetypeRegistrations/{nestedResourceTypeThird}/skus",
          "code": 200,
          "apiVersion": "2024-09-01"
        },
        "smithy.api#documentation": "Gets the list of skus for the given resource type.",
        "com.distilled.openapi#apiVersion": "2024-09-01"
      }
    },
    "com.azure.providerhub#SkusListByResourceTypeRegistrationsNestedResourceTypeThirdRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "providerNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource provider hosted within ProviderHub."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource type."
          }
        },
        "nestedResourceTypeFirst": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The first child resource type."
          }
        },
        "nestedResourceTypeSecond": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The second child resource type."
          }
        },
        "nestedResourceTypeThird": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The third child resource type."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.providerhub#ResourceTypeRegistrationsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.providerhub#ResourceTypeRegistrationsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}",
          "code": 200,
          "apiVersion": "2024-09-01"
        },
        "smithy.api#documentation": "Deletes a resource type",
        "com.distilled.openapi#apiVersion": "2024-09-01"
      }
    },
    "com.azure.providerhub#ResourceTypeRegistrationsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "providerNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource provider hosted within ProviderHub."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource type."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.providerhub#ResourceTypeRegistrationsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.providerhub#ResourceTypeRegistrationsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.providerhub#ResourceTypeRegistrationsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}",
          "code": 200,
          "apiVersion": "2024-09-01"
        },
        "smithy.api#documentation": "Creates or updates a resource type.",
        "com.distilled.openapi#apiVersion": "2024-09-01"
      }
    },
    "com.azure.providerhub#ResourceTypeRegistrationsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.providerhub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.providerhub#ResourceTypeRegistrationProperties"
        },
        "kind": {
          "target": "com.azure.providerhub#ResourceTypeRegistrationsCreateOrUpdateResponseKind",
          "traits": {
            "smithy.api#documentation": "Resource type registration kind. This Metadata is also used by portal/tooling/etc to render different UX experiences for resources of the same type."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.providerhub#ResourceTypeRegistrationsCreateOrUpdateResponseKind": {
      "type": "enum",
      "members": {
        "MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Managed"
          }
        },
        "HYBRID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Hybrid"
          }
        },
        "DIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Direct"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource type registration kind. This Metadata is also used by portal/tooling/etc to render different UX experiences for resources of the same type."
      }
    },
    "com.azure.providerhub#ResourceTypeRegistrationProperties": {
      "type": "structure",
      "members": {
        "routingType": {
          "target": "com.azure.providerhub#RoutingType",
          "traits": {
            "smithy.api#documentation": "The resource routing type."
          }
        },
        "additionalOptions": {
          "target": "com.azure.providerhub#AdditionalOptionsResourceTypeRegistration",
          "traits": {
            "smithy.api#documentation": "The additional options."
          }
        },
        "crossTenantTokenValidation": {
          "target": "com.azure.providerhub#CrossTenantTokenValidation",
          "traits": {
            "smithy.api#documentation": "The cross tenant token validation."
          }
        },
        "regionality": {
          "target": "com.azure.providerhub#Regionality",
          "traits": {
            "smithy.api#documentation": "The regionality."
          }
        },
        "endpoints": {
          "target": "com.azure.providerhub#ResourceTypeRegistrationPropertiesEndpointsList",
          "traits": {
            "smithy.api#documentation": "The extensions."
          }
        },
        "extensionOptions": {
          "target": "com.azure.providerhub#ResourceTypeExtensionOptions",
          "traits": {
            "smithy.api#documentation": "The extension options."
          }
        },
        "marketplaceType": {
          "target": "com.azure.providerhub#MarketplaceType",
          "traits": {
            "smithy.api#documentation": "The marketplace type."
          }
        },
        "swaggerSpecifications": {
          "target": "com.azure.providerhub#ResourceTypeRegistrationPropertiesSwaggerSpecificationsList",
          "traits": {
            "smithy.api#documentation": "The swagger specifications."
          }
        },
        "allowedUnauthorizedActions": {
          "target": "com.azure.providerhub#ResourceTypeRegistrationPropertiesAllowedUnauthorizedActionsList",
          "traits": {
            "smithy.api#documentation": "The allowed unauthorized actions."
          }
        },
        "allowedUnauthorizedActionsExtensions": {
          "target": "com.azure.providerhub#ResourceTypeRegistrationPropertiesAllowedUnauthorizedActionsExtensionsList",
          "traits": {
            "smithy.api#documentation": "The allowed unauthorized actions extensions."
          }
        },
        "authorizationActionMappings": {
          "target": "com.azure.providerhub#ResourceTypeRegistrationPropertiesAuthorizationActionMappingsList",
          "traits": {
            "smithy.api#documentation": "The authorization action mappings"
          }
        },
        "linkedAccessChecks": {
          "target": "com.azure.providerhub#ResourceTypeRegistrationPropertiesLinkedAccessChecksList",
          "traits": {
            "smithy.api#documentation": "The linked access checks."
          }
        },
        "defaultApiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default api version."
          }
        },
        "loggingRules": {
          "target": "com.azure.providerhub#ResourceTypeRegistrationPropertiesLoggingRulesList",
          "traits": {
            "smithy.api#documentation": "The logging rules."
          }
        },
        "throttlingRules": {
          "target": "com.azure.providerhub#ResourceTypeRegistrationPropertiesThrottlingRulesList",
          "traits": {
            "smithy.api#documentation": "The throttling rules."
          }
        },
        "requiredFeatures": {
          "target": "com.azure.providerhub#ResourceTypeRegistrationPropertiesRequiredFeaturesList",
          "traits": {
            "smithy.api#documentation": "The required features."
          }
        },
        "featuresRule": {
          "target": "com.azure.providerhub#FeaturesRule",
          "traits": {
            "smithy.api#documentation": "The features rule."
          }
        },
        "enableAsyncOperation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether async operation is enabled."
          }
        },
        "provisioningState": {
          "target": "com.azure.providerhub#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state."
          }
        },
        "enableThirdPartyS2S": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether third party S2S is enabled."
          }
        },
        "subscriptionLifecycleNotificationSpecifications": {
          "target": "com.azure.providerhub#SubscriptionLifecycleNotificationSpecifications",
          "traits": {
            "smithy.api#documentation": "The subscription lifecycle notification specifications."
          }
        },
        "isPureProxy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether it is pure proxy."
          }
        },
        "identityManagement": {
          "target": "com.azure.providerhub#IdentityManagementProperties",
          "traits": {
            "smithy.api#documentation": "The identity management."
          }
        },
        "checkNameAvailabilitySpecifications": {
          "target": "com.azure.providerhub#CheckNameAvailabilitySpecifications",
          "traits": {
            "smithy.api#documentation": "The check name availability specifications."
          }
        },
        "disallowedActionVerbs": {
          "target": "com.azure.providerhub#ResourceTypeRegistrationPropertiesDisallowedActionVerbsList",
          "traits": {
[...]
