{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.recoveryservicessiterecovery#ReplicationvCentersList": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicessiterecovery#ReplicationvCentersListRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicessiterecovery#VCenterCollection"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationvCenters",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Gets the list of vCenter registered under the vault.\n\nLists the vCenter servers registered in the vault.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.recoveryservicessiterecovery#VCenterCollection": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.recoveryservicessiterecovery#VCenterCollectionValueList",
          "traits": {
            "smithy.api#documentation": "The VCenter items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collection of vCenter details."
      }
    },
    "com.azure.recoveryservicessiterecovery#VCenterCollectionValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.recoveryservicessiterecovery#VCenter"
      },
      "traits": {
        "smithy.api#documentation": "The VCenter items on this page"
      }
    },
    "com.azure.recoveryservicessiterecovery#VCenter": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.recoveryservicessiterecovery#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicessiterecovery#VCenterProperties",
          "traits": {
            "smithy.api#documentation": "VCenter related data."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Location"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "vCenter definition."
      }
    },
    "com.azure.recoveryservicessiterecovery#VCenterProperties": {
      "type": "structure",
      "members": {
        "friendlyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Friendly name of the vCenter."
          }
        },
        "internalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "VCenter internal ID."
          }
        },
        "lastHeartbeat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the last heartbeat was received by vCenter."
          }
        },
        "discoveryStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The VCenter discovery status."
          }
        },
        "processServerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The process server Id."
          }
        },
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address of the vCenter."
          }
        },
        "infrastructureId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The infrastructure Id of vCenter."
          }
        },
        "port": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The port number for discovery."
          }
        },
        "runAsAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account Id which has privileges to discover the vCenter."
          }
        },
        "fabricArmResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ARM resource name of the fabric containing this VCenter."
          }
        },
        "healthErrors": {
          "target": "com.azure.recoveryservicessiterecovery#VCenterPropertiesHealthErrorsList",
          "traits": {
            "smithy.api#documentation": "The health errors for this VCenter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "vCenter properties."
      }
    },
    "com.azure.recoveryservicessiterecovery#VCenterPropertiesHealthErrorsList": {
      "type": "list",
      "member": {
        "target": "com.azure.recoveryservicessiterecovery#HealthError"
      },
      "traits": {
        "smithy.api#documentation": "The health errors for this VCenter."
      }
    },
    "com.azure.recoveryservicessiterecovery#HealthError": {
      "type": "structure",
      "members": {
        "innerHealthErrors": {
          "target": "com.azure.recoveryservicessiterecovery#HealthErrorInnerHealthErrorsList",
          "traits": {
            "smithy.api#documentation": "The inner health errors. HealthError having a list of HealthError as child errors is problematic. InnerHealthError is used because this will prevent an infinite loop of structures when Hydra tries to auto-generate the contract. We are exposing the related health errors as inner health errors and all API consumers can utilize this in the same fashion as Exception -&gt; InnerException."
          }
        },
        "errorSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source of error."
          }
        },
        "errorType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of error."
          }
        },
        "errorLevel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Level of error."
          }
        },
        "errorCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category of error."
          }
        },
        "errorCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error code."
          }
        },
        "summaryMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Summary message of the entity."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message."
          }
        },
        "possibleCauses": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Possible causes of error."
          }
        },
        "recommendedAction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Recommended action to resolve error."
          }
        },
        "creationTimeUtc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error creation time (UTC)."
          }
        },
        "recoveryProviderErrorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DRA error message."
          }
        },
        "entityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the entity."
          }
        },
        "errorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The health error unique id."
          }
        },
        "customerResolvability": {
          "target": "com.azure.recoveryservicessiterecovery#HealthErrorCustomerResolvability",
          "traits": {
            "smithy.api#documentation": "Value indicating whether the health error is customer resolvable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Health Error."
      }
    },
    "com.azure.recoveryservicessiterecovery#HealthErrorCustomerResolvability": {
      "type": "enum",
      "members": {
        "ALLOWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Allowed"
          }
        },
        "NOTALLOWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotAllowed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Value indicating whether the health error is customer resolvable."
      }
    },
    "com.azure.recoveryservicessiterecovery#HealthErrorInnerHealthErrorsList": {
      "type": "list",
      "member": {
        "target": "com.azure.recoveryservicessiterecovery#InnerHealthError"
      },
      "traits": {
        "smithy.api#documentation": "The inner health errors. HealthError having a list of HealthError as child errors is problematic. InnerHealthError is used because this will prevent an infinite loop of structures when Hydra tries to auto-generate the contract. We are exposing the related health errors as inner health errors and all API consumers can utilize this in the same fashion as Exception -&gt; InnerException."
      }
    },
    "com.azure.recoveryservicessiterecovery#InnerHealthError": {
      "type": "structure",
      "members": {
        "errorSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source of error."
          }
        },
        "errorType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of error."
          }
        },
        "errorLevel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Level of error."
          }
        },
        "errorCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category of error."
          }
        },
        "errorCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error code."
          }
        },
        "summaryMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Summary message of the entity."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message."
          }
        },
        "possibleCauses": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Possible causes of error."
          }
        },
        "recommendedAction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Recommended action to resolve error."
          }
        },
        "creationTimeUtc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error creation time (UTC)."
          }
        },
        "recoveryProviderErrorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DRA error message."
          }
        },
        "entityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the entity."
          }
        },
        "errorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The health error unique id."
          }
        },
        "customerResolvability": {
          "target": "com.azure.recoveryservicessiterecovery#HealthErrorCustomerResolvability",
          "traits": {
            "smithy.api#documentation": "Value indicating whether the health error is customer resolvable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Implements InnerHealthError class. HealthError object has a list of InnerHealthErrors as child errors. InnerHealthError is used because this will prevent an infinite loop of structures when Hydra tries to auto-generate the contract. We are exposing the related health errors as inner health errors and all API consumers can utilize this in the same fashion as Exception -&gt; InnerException."
      }
    },
    "com.azure.recoveryservicessiterecovery#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.recoveryservicessiterecovery#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.recoveryservicessiterecovery#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.recoveryservicessiterecovery#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.recoveryservicessiterecovery#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.recoveryservicessiterecovery#ReplicationvCentersListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the recovery services vault."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicessiterecovery#ReplicationVaultSettingCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicessiterecovery#ReplicationVaultSettingCreateRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicessiterecovery#ReplicationVaultSettingCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationVaultSettings/{vaultSettingName}",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Updates vault setting. A vault setting object is a singleton per vault and it is always present by default.\n\nThe operation to configure vault setting.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.recoveryservicessiterecovery#ReplicationVaultSettingCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.recoveryservicessiterecovery#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicessiterecovery#VaultSettingProperties",
          "traits": {
            "smithy.api#documentation": "The vault setting properties."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Location"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.recoveryservicessiterecovery#VaultSettingProperties": {
      "type": "structure",
      "members": {
        "migrationSolutionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The migration solution ARM Id."
          }
        },
        "vmwareToAzureProviderType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "VMware to Azure provider type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Vault setting properties."
      }
    },
    "com.azure.recoveryservicessiterecovery#ReplicationVaultSettingCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Vault"
          }
        },
        "vaultSettingName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Vault setting name."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicessiterecovery#VaultSettingCreationInputProperties",
          "traits": {
            "smithy.api#documentation": "Vault setting creation input properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicessiterecovery#VaultSettingCreationInputProperties": {
      "type": "structure",
      "members": {
        "migrationSolutionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The migration solution Id."
          }
        },
        "vmwareToAzureProviderType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "VMware to Azure provider type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input to create vault setting."
      }
    },
    "com.azure.recoveryservicessiterecovery#ReplicationVaultSettingGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicessiterecovery#ReplicationVaultSettingGetRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicessiterecovery#ReplicationVaultSettingGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationVaultSettings/{vaultSettingName}",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Gets the vault setting.\n\nGets the vault setting. This includes the Migration Hub connection settings.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.recoveryservicessiterecovery#ReplicationVaultSettingGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.recoveryservicessiterecovery#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicessiterecovery#VaultSettingProperties",
          "traits": {
            "smithy.api#documentation": "The vault setting properties."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Location"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.recoveryservicessiterecovery#ReplicationVaultSettingGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Vault"
          }
        },
        "vaultSettingName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Vault setting name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicessiterecovery#ReplicationVaultSettingList": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicessiterecovery#ReplicationVaultSettingListRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicessiterecovery#VaultSettingCollection"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationVaultSettings",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Gets the list of vault setting.\n\nGets the list of vault setting. This includes the Migration Hub connection settings.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.recoveryservicessiterecovery#VaultSettingCollection": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.recoveryservicessiterecovery#VaultSettingCollectionValueList",
          "traits": {
            "smithy.api#documentation": "The VaultSetting items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Vault setting collection."
      }
    },
    "com.azure.recoveryservicessiterecovery#VaultSettingCollectionValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.recoveryservicessiterecovery#VaultSetting"
      },
      "traits": {
        "smithy.api#documentation": "The VaultSetting items on this page"
      }
    },
    "com.azure.recoveryservicessiterecovery#VaultSetting": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.recoveryservicessiterecovery#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicessiterecovery#VaultSettingProperties",
          "traits": {
            "smithy.api#documentation": "The vault setting properties."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Location"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Vault setting."
      }
    },
    "com.azure.recoveryservicessiterecovery#ReplicationVaultSettingListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the recovery services vault."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicessiterecovery#ReplicationVaultHealthRefresh": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicessiterecovery#ReplicationVaultHealthRefreshRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicessiterecovery#ReplicationVaultHealthRefreshResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationVaultHealth/default/refresh",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Refreshes health summary of the vault.\n\nRefreshes health summary of the vault.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.recoveryservicessiterecovery#ReplicationVaultHealthRefreshResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.recoveryservicessiterecovery#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicessiterecovery#VaultHealthProperties",
          "traits": {
            "smithy.api#documentation": "The vault health related data."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Location"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.recoveryservicessiterecovery#VaultHealthProperties": {
      "type": "structure",
      "members": {
        "vaultErrors": {
          "target": "com.azure.recoveryservicessiterecovery#VaultHealthPropertiesVaultErrorsList",
          "traits": {
            "smithy.api#documentation": "The list of errors on the vault."
          }
        },
        "protectedItemsHealth": {
          "target": "com.azure.recoveryservicessiterecovery#ResourceHealthSummary",
          "traits": {
            "smithy.api#documentation": "The list of the health detail of the protected items in the vault."
          }
        },
        "fabricsHealth": {
          "target": "com.azure.recoveryservicessiterecovery#ResourceHealthSummary",
          "traits": {
            "smithy.api#documentation": "The list of the health detail of the fabrics in the vault."
          }
        },
        "containersHealth": {
          "target": "com.azure.recoveryservicessiterecovery#ResourceHealthSummary",
          "traits": {
            "smithy.api#documentation": "The list of the health detail of the containers in the vault."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "class to define the health summary of the Vault."
      }
    },
    "com.azure.recoveryservicessiterecovery#ResourceHealthSummary": {
      "type": "structure",
      "members": {
        "resourceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The count of total resources under the container."
          }
        },
        "issues": {
          "target": "com.azure.recoveryservicessiterecovery#ResourceHealthSummaryIssuesList",
          "traits": {
            "smithy.api#documentation": "The list of summary of health errors across the resources under the container."
          }
        },
        "categorizedResourceCounts": {
          "target": "com.azure.recoveryservicessiterecovery#ResourceHealthSummaryCategorizedResourceCountsMap",
          "traits": {
            "smithy.api#documentation": "The categorized resource counts."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Base class to define the health summary of the resources contained under an Arm resource."
      }
    },
    "com.azure.recoveryservicessiterecovery#ResourceHealthSummaryCategorizedResourceCountsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "The categorized resource counts."
      }
    },
    "com.azure.recoveryservicessiterecovery#ResourceHealthSummaryIssuesList": {
      "type": "list",
      "member": {
        "target": "com.azure.recoveryservicessiterecovery#HealthErrorSummary"
      },
      "traits": {
        "smithy.api#documentation": "The list of summary of health errors across the resources under the container."
      }
    },
    "com.azure.recoveryservicessiterecovery#HealthErrorSummary": {
      "type": "structure",
      "members": {
        "summaryCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The code of the health error."
          }
        },
        "category": {
          "target": "com.azure.recoveryservicessiterecovery#HealthErrorCategory",
          "traits": {
            "smithy.api#documentation": "The category of the health error."
          }
        },
        "severity": {
          "target": "com.azure.recoveryservicessiterecovery#Severity",
          "traits": {
            "smithy.api#documentation": "Severity of error."
          }
        },
        "summaryMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The summary message of the health error."
          }
        },
        "affectedResourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of affected ARM resource."
          }
        },
        "affectedResourceSubtype": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sub type of any subcomponent within the ARM resource that this might be applicable. Value remains null if not applicable."
          }
        },
        "affectedResourceCorrelationIds": {
          "target": "com.azure.recoveryservicessiterecovery#HealthErrorSummaryAffectedResourceCorrelationIdsList",
          "traits": {
            "smithy.api#documentation": "The list of affected resource correlation Ids. This can be used to uniquely identify the count of items affected by a specific category and severity as well as count of item affected by an specific issue."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "class to define the summary of the health error details."
      }
    },
    "com.azure.recoveryservicessiterecovery#HealthErrorSummaryAffectedResourceCorrelationIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of affected resource correlation Ids. This can be used to uniquely identify the count of items affected by a specific category and severity as well as count of item affected by an specific issue."
      }
    },
    "com.azure.recoveryservicessiterecovery#Severity": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Warning"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Error"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Info"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Severity of error."
      }
    },
    "com.azure.recoveryservicessiterecovery#HealthErrorCategory": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "REPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Replication"
          }
        },
        "TESTFAILOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TestFailover"
          }
        },
        "CONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Configuration"
          }
        },
        "FABRICINFRASTRUCTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FabricInfrastructure"
          }
        },
        "VERSIONEXPIRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VersionExpiry"
          }
        },
        "AGENTAUTOUPDATEINFRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AgentAutoUpdateInfra"
          }
        },
        "AGENTAUTOUPDATEARTIFACTDELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AgentAutoUpdateArtifactDeleted"
          }
        },
        "AGENTAUTOUPDATERUNASACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AgentAutoUpdateRunAsAccount"
          }
        },
        "AGENTAUTOUPDATERUNASACCOUNTEXPIRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AgentAutoUpdateRunAsAccountExpiry"
          }
        },
        "AGENTAUTOUPDATERUNASACCOUNTEXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AgentAutoUpdateRunAsAccountExpired"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The category of the health error."
      }
    },
    "com.azure.recoveryservicessiterecovery#VaultHealthPropertiesVaultErrorsList": {
      "type": "list",
      "member": {
        "target": "com.azure.recoveryservicessiterecovery#HealthError"
      },
      "traits": {
        "smithy.api#documentation": "The list of errors on the vault."
      }
    },
    "com.azure.recoveryservicessiterecovery#ReplicationVaultHealthRefreshRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the recovery services vault."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicessiterecovery#ReplicationVaultHealthGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicessiterecovery#ReplicationVaultHealthGetRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicessiterecovery#ReplicationVaultHealthGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationVaultHealth",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Gets the health summary for the vault.\n\nGets the health details of the vault.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.recoveryservicessiterecovery#ReplicationVaultHealthGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.recoveryservicessiterecovery#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicessiterecovery#VaultHealthProperties",
          "traits": {
            "smithy.api#documentation": "The vault health related data."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Location"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.recoveryservicessiterecovery#ReplicationVaultHealthGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the recovery services vault."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicessiterecovery#SupportedOperatingSystemsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicessiterecovery#SupportedOperatingSystemsGetRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicessiterecovery#SupportedOperatingSystemsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationSupportedOperatingSystems",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Gets the data of supported operating systems by SRS.\n\nGets the data of supported operating systems by SRS.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.recoveryservicessiterecovery#SupportedOperatingSystemsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.recoveryservicessiterecovery#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicessiterecovery#SupportedOSProperties",
          "traits": {
            "smithy.api#documentation": "The supported operating systems properties."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Location"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.recoveryservicessiterecovery#SupportedOSProperties": {
      "type": "structure",
      "members": {
        "supportedOsList": {
          "target": "com.azure.recoveryservicessiterecovery#SupportedOSPropertiesSupportedOsListList",
          "traits": {
            "smithy.api#documentation": "The supported operating systems property list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Supported operating systems properties."
      }
    },
    "com.azure.recoveryservicessiterecovery#SupportedOSPropertiesSupportedOsListList": {
      "type": "list",
      "member": {
        "target": "com.azure.recoveryservicessiterecovery#SupportedOSProperty"
      },
      "traits": {
        "smithy.api#documentation": "The supported operating systems property list."
      }
    },
    "com.azure.recoveryservicessiterecovery#SupportedOSProperty": {
      "type": "structure",
      "members": {
        "instanceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The replication provider type."
          }
        },
        "supportedOs": {
          "target": "com.azure.recoveryservicessiterecovery#SupportedOSPropertySupportedOsList",
          "traits": {
            "smithy.api#documentation": "The list of supported operating systems."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Supported operating systems property."
      }
    },
    "com.azure.recoveryservicessiterecovery#SupportedOSPropertySupportedOsList": {
      "type": "list",
      "member": {
        "target": "com.azure.recoveryservicessiterecovery#SupportedOSDetails"
      },
      "traits": {
        "smithy.api#documentation": "The list of supported operating systems."
      }
    },
    "com.azure.recoveryservicessiterecovery#SupportedOSDetails": {
      "type": "structure",
      "members": {
        "osName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name."
          }
        },
        "osType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type."
          }
        },
        "osVersions": {
          "target": "com.azure.recoveryservicessiterecovery#SupportedOSDetailsOsVersionsList",
          "traits": {
            "smithy.api#documentation": "The list of version for operating system."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Supported operating system details."
      }
    },
    "com.azure.recoveryservicessiterecovery#SupportedOSDetailsOsVersionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.recoveryservicessiterecovery#OSVersionWrapper"
      },
      "traits": {
        "smithy.api#documentation": "The list of version for operating system."
      }
    },
    "com.azure.recoveryservicessiterecovery#OSVersionWrapper": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version."
          }
        },
        "servicePack": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service pack."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Wrapper model for OSVersion to include version and service pack info."
      }
    },
    "com.azure.recoveryservicessiterecovery#SupportedOperatingSystemsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the recovery services vault."
          }
        },
        "instanceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "instanceType",
            "smithy.api#documentation": "The instance type."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicessiterecovery#ReplicationStorageClassificationsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicessiterecovery#ReplicationStorageClassificationsListRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicessiterecovery#StorageClassificationCollection"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationStorageClassifications",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Gets the list of storage classification objects under a vault.\n\nLists the storage classifications in the vault.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.recoveryservicessiterecovery#StorageClassificationCollection": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.recoveryservicessiterecovery#StorageClassificationCollectionValueList",
          "traits": {
            "smithy.api#documentation": "The StorageClassification items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collection of storage details."
      }
    },
    "com.azure.recoveryservicessiterecovery#StorageClassificationCollectionValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.recoveryservicessiterecovery#StorageClassification"
      },
      "traits": {
        "smithy.api#documentation": "The StorageClassification items on this page"
      }
    },
    "com.azure.recoveryservicessiterecovery#StorageClassification": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.recoveryservicessiterecovery#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicessiterecovery#StorageClassificationProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the storage object."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Location"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Storage object definition."
      }
    },
    "com.azure.recoveryservicessiterecovery#StorageClassificationProperties": {
      "type": "structure",
      "members": {
        "friendlyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Friendly name of the Storage classification."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Storage object properties."
      }
    },
    "com.azure.recoveryservicessiterecovery#ReplicationStorageClassificationsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the recovery services vault."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicessiterecovery#ReplicationStorageClassificationMappingsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicessiterecovery#ReplicationStorageClassificationMappingsListRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicessiterecovery#StorageClassificationMappingCollection"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationStorageClassificationMappings",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Gets the list of storage classification mappings objects under a vault.\n\nLists the storage classification mappings in the vault.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.recoveryservicessiterecovery#StorageClassificationMappingCollection": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.recoveryservicessiterecovery#StorageClassificationMappingCollectionValueList",
          "traits": {
            "smithy.api#documentation": "The StorageClassificationMapping items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collection of storage mapping details."
      }
    },
    "com.azure.recoveryservicessiterecovery#StorageClassificationMappingCollectionValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.recoveryservicessiterecovery#StorageClassificationMapping"
      },
      "traits": {
        "smithy.api#documentation": "The StorageClassificationMapping items on this page"
      }
    },
    "com.azure.recoveryservicessiterecovery#StorageClassificationMapping": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.recoveryservicessiterecovery#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicessiterecovery#StorageClassificationMappingProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the storage mapping object."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Location"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Storage mapping object."
      }
    },
    "com.azure.recoveryservicessiterecovery#StorageClassificationMappingProperties": {
      "type": "structure",
      "members": {
        "targetStorageClassificationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target storage object Id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Storage mapping properties."
      }
    },
    "com.azure.recoveryservicessiterecovery#ReplicationStorageClassificationMappingsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the recovery services vault."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicessiterecovery#ReplicationRecoveryServicesProvidersList": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicessiterecovery#ReplicationRecoveryServicesProvidersListRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicessiterecovery#RecoveryServicesProviderCollection"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationRecoveryServicesProviders",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Gets the list of registered recovery services providers in the vault. This is a view only api.\n\nLists the registered recovery services providers in the vault.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.recoveryservicessiterecovery#RecoveryServicesProviderCollection": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.recoveryservicessiterecovery#RecoveryServicesProviderCollectionValueList",
          "traits": {
            "smithy.api#documentation": "The RecoveryServicesProvider items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collection of providers."
      }
    },
    "com.azure.recoveryservicessiterecovery#RecoveryServicesProviderCollectionValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.recoveryservicessiterecovery#RecoveryServicesProvider"
      },
      "traits": {
        "smithy.api#documentation": "The RecoveryServicesProvider items on this page"
      }
    },
    "com.azure.recoveryservicessiterecovery#RecoveryServicesProvider": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.recoveryservicessiterecovery#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicessiterecovery#RecoveryServicesProviderProperties",
          "traits": {
            "smithy.api#documentation": "Provider properties."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Location"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provider details."
      }
    },
    "com.azure.recoveryservicessiterecovery#RecoveryServicesProviderProperties": {
      "type": "structure",
      "members": {
        "fabricType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the site."
          }
        },
        "friendlyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Friendly name of the DRA."
          }
        },
        "providerVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The provider version."
          }
        },
        "serverVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fabric provider."
          }
        },
        "providerVersionState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DRA version status."
          }
        },
        "providerVersionExpiryDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Expiry date of the version."
          }
        },
        "fabricFriendlyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fabric friendly name."
          }
        },
        "lastHeartBeat": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when last heartbeat was sent by the DRA."
          }
        },
        "connectionStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A value indicating whether DRA is responsive."
          }
        },
        "protectedItemCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of protected VMs currently managed by the DRA."
          }
        },
        "allowedScenarios": {
          "target": "com.azure.recoveryservicessiterecovery#RecoveryServicesProviderPropertiesAllowedScenariosList",
          "traits": {
            "smithy.api#documentation": "The scenarios allowed on this provider."
          }
        },
        "healthErrorDetails": {
          "target": "com.azure.recoveryservicessiterecovery#RecoveryServicesProviderPropertiesHealthErrorDetailsList",
          "traits": {
            "smithy.api#documentation": "The recovery services provider health error details."
          }
        },
        "draIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The DRA Id."
          }
        },
        "machineId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The machine Id."
          }
        },
        "machineName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The machine name."
          }
        },
        "biosId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Bios Id."
          }
        },
        "authenticationIdentityDetails": {
          "target": "com.azure.recoveryservicessiterecovery#IdentityProviderDetails",
          "traits": {
            "smithy.api#documentation": "The authentication identity details."
          }
        },
        "resourceAccessIdentityDetails": {
          "target": "com.azure.recoveryservicessiterecovery#IdentityProviderDetails",
          "traits": {
            "smithy.api#documentation": "The resource access identity details."
          }
        },
        "dataPlaneAuthenticationIdentityDetails": {
          "target": "com.azure.recoveryservicessiterecovery#IdentityProviderDetails",
          "traits": {
            "smithy.api#documentation": "The data plane authentication identity details."
          }
        },
        "providerVersionDetails": {
          "target": "com.azure.recoveryservicessiterecovery#VersionDetails",
          "traits": {
            "smithy.api#documentation": "The provider version details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Recovery services provider properties."
      }
    },
    "com.azure.recoveryservicessiterecovery#VersionDetails": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The agent version."
          }
        },
        "expiryDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version expiry date."
          }
        },
        "status": {
          "target": "com.azure.recoveryservicessiterecovery#AgentVersionStatus",
          "traits": {
            "smithy.api#documentation": "A value indicating whether security update required."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Version related details."
      }
    },
    "com.azure.recoveryservicessiterecovery#AgentVersionStatus": {
      "type": "enum",
      "members": {
        "SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Supported"
          }
        },
        "NOTSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSupported"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deprecated"
          }
        },
        "UPDATEREQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UpdateRequired"
          }
        },
        "SECURITYUPDATEREQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SecurityUpdateRequired"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A value indicating whether security update required."
      }
    },
    "com.azure.recoveryservicessiterecovery#IdentityProviderDetails": {
      "type": "structure",
      "members": {
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant Id for the service principal with which the on-premise management/data plane components would communicate with our Azure services."
          }
        },
        "applicationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application/client Id for the service principal with which the on-premise management/data plane components would communicate with our Azure services."
          }
        },
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object Id of the service principal with which the on-premise management/data plane components would communicate with our Azure services."
          }
        },
        "audience": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The intended Audience of the service principal with which the on-premise management/data plane components would communicate with our Azure services."
          }
        },
        "aadAuthority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The base authority for Azure Active Directory authentication."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity provider details."
      }
    },
    "com.azure.recoveryservicessiterecovery#RecoveryServicesProviderPropertiesHealthErrorDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.recoveryservicessiterecovery#HealthError"
      },
      "traits": {
        "smithy.api#documentation": "The recovery services provider health error details."
      }
    },
    "com.azure.recoveryservicessiterecovery#RecoveryServicesProviderPropertiesAllowedScenariosList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The scenarios allowed on this provider."
      }
    },
    "com.azure.recoveryservicessiterecovery#ReplicationRecoveryServicesProvidersListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the recovery services vault."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicessiterecovery#ReplicationRecoveryPlansUnplannedFailover": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicessiterecovery#ReplicationRecoveryPlansUnplannedFailoverRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicessiterecovery#ReplicationRecoveryPlansUnplannedFailoverResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationRecoveryPlans/{recoveryPlanName}/unplannedFailover",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Execute unplanned failover of the recovery plan.\n\nThe operation to start the unplanned failover of a recovery plan.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.recoveryservicessiterecovery#ReplicationRecoveryPlansUnplannedFailoverResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.recoveryservicessiterecovery#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicessiterecovery#RecoveryPlanProperties",
          "traits": {
            "smithy.api#documentation": "The custom details."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Location"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.recoveryservicessiterecovery#RecoveryPlanProperties": {
      "type": "structure",
      "members": {
        "friendlyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name."
          }
        },
        "primaryFabricId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The primary fabric Id."
          }
        },
        "primaryFabricFriendlyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The primary fabric friendly name."
          }
        },
        "recoveryFabricId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The recovery fabric Id."
          }
        },
        "recoveryFabricFriendlyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The recovery fabric friendly name."
          }
        },
        "failoverDeploymentModel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The failover deployment model."
          }
        },
        "replicationProviders": {
          "target": "com.azure.recoveryservicessiterecovery#RecoveryPlanPropertiesReplicationProvidersList",
          "traits": {
            "smithy.api#documentation": "The list of replication providers."
          }
        },
        "allowedOperations": {
          "target": "com.azure.recoveryservicessiterecovery#RecoveryPlanPropertiesAllowedOperationsList",
          "traits": {
            "smithy.api#documentation": "The list of allowed operations."
          }
        },
        "lastPlannedFailoverTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the last planned failover."
          }
        },
        "lastUnplannedFailoverTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the last unplanned failover."
          }
        },
        "lastTestFailoverTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the last test failover."
          }
        },
        "currentScenario": {
          "target": "com.azure.recoveryservicessiterecovery#CurrentScenarioDetails",
          "traits": {
            "smithy.api#documentation": "The current scenario details."
          }
        },
        "currentScenarioStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The recovery plan status."
          }
        },
        "currentScenarioStatusDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The recovery plan status description."
          }
        },
        "groups": {
          "target": "com.azure.recoveryservicessiterecovery#RecoveryPlanPropertiesGroupsList",
          "traits": {
            "smithy.api#documentation": "The recovery plan groups."
          }
        },
        "providerSpecificDetails": {
          "target": "com.azure.recoveryservicessiterecovery#RecoveryPlanPropertiesProviderSpecificDetailsList",
          "traits": {
            "smithy.api#documentation": "The provider id and provider specific details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Recovery plan properties."
      }
    },
    "com.azure.recoveryservicessiterecovery#RecoveryPlanPropertiesProviderSpecificDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.recoveryservicessiterecovery#RecoveryPlanProviderSpecificDetails"
      },
      "traits": {
        "smithy.api#documentation": "The provider id and provider specific details."
      }
    },
    "com.azure.recoveryservicessiterecovery#RecoveryPlanProviderSpecificDetails": {
      "type": "structure",
      "members": {
        "instanceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the Instance type.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Recovery plan provider specific details."
      }
    },
    "com.azure.recoveryservicessiterecovery#RecoveryPlanPropertiesGroupsList": {
      "type": "list",
      "member": {
        "target": "com.azure.recoveryservicessiterecovery#RecoveryPlanGroup"
      },
      "traits": {
        "smithy.api#documentation": "The recovery plan groups."
      }
    },
    "com.azure.recoveryservicessiterecovery#RecoveryPlanGroup": {
      "type": "structure",
      "members": {
        "groupType": {
          "target": "com.azure.recoveryservicessiterecovery#RecoveryPlanGroupType",
          "traits": {
            "smithy.api#documentation": "The group type.",
            "smithy.api#required": {}
          }
        },
        "replicationProtectedItems": {
          "target": "com.azure.recoveryservicessiterecovery#RecoveryPlanGroupReplicationProtectedItemsList",
          "traits": {
            "smithy.api#documentation": "The list of protected items."
          }
        },
        "startGroupActions": {
          "target": "com.azure.recoveryservicessiterecovery#RecoveryPlanGroupStartGroupActionsList",
          "traits": {
            "smithy.api#documentation": "The start group actions."
          }
        },
        "endGroupActions": {
          "target": "com.azure.recoveryservicessiterecovery#RecoveryPlanGroupEndGroupActionsList",
          "traits": {
            "smithy.api#documentation": "The end group actions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Recovery plan group details."
      }
    },
    "com.azure.recoveryservicessiterecovery#RecoveryPlanGroupEndGroupActionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.recoveryservicessiterecovery#RecoveryPlanAction"
      },
      "traits": {
        "smithy.api#documentation": "The end group actions."
      }
    },
    "com.azure.recoveryservicessiterecovery#RecoveryPlanAction": {
      "type": "structure",
      "members": {
        "actionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The action name.",
            "smithy.api#required": {}
          }
        },
        "failoverTypes": {
          "target": "com.azure.recoveryservicessiterecovery#RecoveryPlanActionFailoverTypesList",
          "traits": {
            "smithy.api#documentation": "The list of failover types.",
            "smithy.api#required": {}
          }
        },
        "failoverDirections": {
          "target": "com.azure.recoveryservicessiterecovery#RecoveryPlanActionFailoverDirectionsList",
          "traits": {
            "smithy.api#documentation": "The list of failover directions.",
            "smithy.api#required": {}
          }
        },
        "customDetails": {
          "target": "com.azure.recoveryservicessiterecovery#RecoveryPlanActionDetails",
          "traits": {
            "smithy.api#documentation": "The custom details.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Recovery plan action details."
      }
    },
    "com.azure.recoveryservicessiterecovery#RecoveryPlanActionDetails": {
      "type": "structure",
      "members": {
        "instanceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the type of action details (see RecoveryPlanActionDetailsTypes enum for possible values).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Recovery plan action custom details."
      }
    },
    "com.azure.recoveryservicessiterecovery#RecoveryPlanActionFailoverDirectionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.recoveryservicessiterecovery#PossibleOperationsDirections"
      },
      "traits": {
        "smithy.api#documentation": "The list of failover directions."
      }
    },
    "com.azure.recoveryservicessiterecovery#PossibleOperationsDirections": {
      "type": "enum",
      "members": {
        "PRIMARYTORECOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PrimaryToRecovery"
          }
        },
        "RECOVERYTOPRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RecoveryToPrimary"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The failover direction."
      }
    },
    "com.azure.recoveryservicessiterecovery#RecoveryPlanActionFailoverTypesList": {
      "type": "list",
      "member": {
        "target": "com.azure.recoveryservicessiterecovery#ReplicationProtectedItemOperation"
      },
      "traits": {
        "smithy.api#documentation": "The list of failover types."
      }
    },
    "com.azure.recoveryservicessiterecovery#ReplicationProtectedItemOperation": {
      "type": "enum",
      "members": {
        "REVERSEREPLICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReverseReplicate"
          }
        },
        "COMMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Commit"
          }
        },
        "PLANNEDFAILOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PlannedFailover"
          }
        },
        "UNPLANNEDFAILOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UnplannedFailover"
          }
        },
        "DISABLEPROTECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DisableProtection"
          }
        },
        "TESTFAILOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TestFailover"
          }
        },
        "TESTFAILOVERCLEANUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TestFailoverCleanup"
          }
        },
        "FAILBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failback"
          }
        },
        "FINALIZEFAILBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FinalizeFailback"
          }
        },
        "CANCELFAILOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CancelFailover"
          }
        },
        "CHANGEPIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ChangePit"
          }
        },
        "REPAIRREPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RepairReplication"
          }
        },
        "SWITCHPROTECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SwitchProtection"
          }
        },
        "COMPLETEMIGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CompleteMigration"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of failover types."
      }
    },
    "com.azure.recoveryservicessiterecovery#RecoveryPlanGroupStartGroupActionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.recoveryservicessiterecovery#RecoveryPlanAction"
      },
      "traits": {
        "smithy.api#documentation": "The start group actions."
      }
    },
    "com.azure.recoveryservicessiterecovery#RecoveryPlanGroupReplicationProtectedItemsList": {
      "type": "list",
      "member": {
        "target": "com.azure.recoveryservicessiterecovery#RecoveryPlanProtectedItem"
      },
      "traits": {
        "smithy.api#documentation": "The list of protected items."
      }
    },
    "com.azure.recoveryservicessiterecovery#RecoveryPlanProtectedItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ARM Id of the recovery plan protected item."
          }
        },
        "virtualMachineId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The virtual machine Id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Recovery plan protected item."
      }
    },
    "com.azure.recoveryservicessiterecovery#RecoveryPlanGroupType": {
      "type": "enum",
      "members": {
        "SHUTDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Shutdown"
          }
        },
        "BOOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Boot"
          }
        },
        "FAILOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failover"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The group type."
      }
    },
    "com.azure.recoveryservicessiterecovery#CurrentScenarioDetails": {
      "type": "structure",
      "members": {
        "scenarioName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scenario name."
          }
        },
        "jobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ARM Id of the job being executed."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time of the workflow."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current scenario details of the protected entity."
      }
    },
    "com.azure.recoveryservicessiterecovery#RecoveryPlanPropertiesAllowedOperationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of allowed operations."
      }
    },
    "com.azure.recoveryservicessiterecovery#RecoveryPlanPropertiesReplicationProvidersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of replication providers."
      }
    },
    "com.azure.recoveryservicessiterecovery#ReplicationRecoveryPlansUnplannedFailoverRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Vault"
          }
        },
        "recoveryPlanName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the recovery plan."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicessiterecovery#RecoveryPlanUnplannedFailoverInputProperties",
          "traits": {
            "smithy.api#documentation": "The recovery plan unplanned failover input properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicessiterecovery#RecoveryPlanUnplannedFailoverInputProperties": {
      "type": "structure",
      "members": {
        "failoverDirection": {
          "target": "com.azure.recoveryservicessiterecovery#PossibleOperationsDirections",
          "traits": {
            "smithy.api#documentation": "The failover direction.",
            "smithy.api#required": {}
          }
        },
        "sourceSiteOperations": {
          "target": "com.azure.recoveryservicessiterecovery#SourceSiteOperations",
          "traits": {
            "smithy.api#documentation": "A value indicating whether source site operations are required.",
            "smithy.api#required": {}
          }
        },
        "providerSpecificDetails": {
          "target": "com.azure.recoveryservicessiterecovery#RecoveryPlanUnplannedFailoverInputPropertiesProviderSpecificDetailsList",
          "traits": {
            "smithy.api#documentation": "The provider specific properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Recovery plan unplanned failover input properties."
      }
    },
    "com.azure.recoveryservicessiterecovery#RecoveryPlanUnplannedFailoverInputPropertiesProviderSpecificDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.recoveryservicessiterecovery#RecoveryPlanProviderSpecificFailoverInput"
      },
      "traits": {
[...]
