{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.recoveryservicesdatareplication#PolicyDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesdatareplication#PolicyDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/replicationPolicies/{policyName}",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Removes the policy.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.recoveryservicesdatareplication#PolicyDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The vault name."
          }
        },
        "policyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The policy name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesdatareplication#PolicyCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesdatareplication#PolicyCreateRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicesdatareplication#PolicyCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/replicationPolicies/{policyName}",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Creates the policy.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.recoveryservicesdatareplication#PolicyCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.recoveryservicesdatareplication#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicesdatareplication#PolicyModelProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.recoveryservicesdatareplication#PolicyModelProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.recoveryservicesdatareplication#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Gets or sets the provisioning state of the policy."
          }
        },
        "customProperties": {
          "target": "com.azure.recoveryservicesdatareplication#PolicyModelCustomProperties",
          "traits": {
            "smithy.api#documentation": "Policy model custom properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Policy model properties."
      }
    },
    "com.azure.recoveryservicesdatareplication#PolicyModelCustomProperties": {
      "type": "structure",
      "members": {
        "instanceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Discriminator property for PolicyModelCustomProperties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Policy model custom properties."
      }
    },
    "com.azure.recoveryservicesdatareplication#ProvisioningState": {
      "type": "enum",
      "members": {
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleted"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the provisioning state of the email configuration."
      }
    },
    "com.azure.recoveryservicesdatareplication#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.recoveryservicesdatareplication#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.recoveryservicesdatareplication#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.recoveryservicesdatareplication#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.recoveryservicesdatareplication#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.recoveryservicesdatareplication#PolicyCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The vault name."
          }
        },
        "policyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The policy name."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicesdatareplication#PolicyModelPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesdatareplication#PolicyModelPropertiesInput": {
      "type": "structure",
      "members": {
        "customProperties": {
          "target": "com.azure.recoveryservicesdatareplication#PolicyModelCustomProperties",
          "traits": {
            "smithy.api#documentation": "Policy model custom properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Policy model properties."
      }
    },
    "com.azure.recoveryservicesdatareplication#PolicyGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesdatareplication#PolicyGetRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicesdatareplication#PolicyGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/replicationPolicies/{policyName}",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Gets the details of the policy.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.recoveryservicesdatareplication#PolicyGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.recoveryservicesdatareplication#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicesdatareplication#PolicyModelProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.recoveryservicesdatareplication#PolicyGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The vault name."
          }
        },
        "policyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The policy name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesdatareplication#PolicyList": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesdatareplication#PolicyListRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicesdatareplication#PolicyModelListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/replicationPolicies",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Gets the list of policies in the given vault.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.recoveryservicesdatareplication#PolicyModelListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.recoveryservicesdatareplication#PolicyModelListResultValueList",
          "traits": {
            "smithy.api#documentation": "The PolicyModel items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a PolicyModel list operation."
      }
    },
    "com.azure.recoveryservicesdatareplication#PolicyModelListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.recoveryservicesdatareplication#PolicyModel"
      },
      "traits": {
        "smithy.api#documentation": "The PolicyModel items on this page"
      }
    },
    "com.azure.recoveryservicesdatareplication#PolicyModel": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.recoveryservicesdatareplication#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicesdatareplication#PolicyModelProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Policy model."
      }
    },
    "com.azure.recoveryservicesdatareplication#PolicyListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The vault name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesdatareplication#ReplicationExtensionDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesdatareplication#ReplicationExtensionDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/replicationExtensions/{replicationExtensionName}",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Deletes the replication extension in the given vault.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.recoveryservicesdatareplication#ReplicationExtensionDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The vault name."
          }
        },
        "replicationExtensionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The replication extension name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesdatareplication#ReplicationExtensionCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesdatareplication#ReplicationExtensionCreateRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicesdatareplication#ReplicationExtensionCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/replicationExtensions/{replicationExtensionName}",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Creates the replication extension in the given vault.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.recoveryservicesdatareplication#ReplicationExtensionCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.recoveryservicesdatareplication#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicesdatareplication#ReplicationExtensionModelProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.recoveryservicesdatareplication#ReplicationExtensionModelProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.recoveryservicesdatareplication#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Gets or sets the provisioning state of the replication extension."
          }
        },
        "customProperties": {
          "target": "com.azure.recoveryservicesdatareplication#ReplicationExtensionModelCustomProperties",
          "traits": {
            "smithy.api#documentation": "Replication extension model custom properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Replication extension model properties."
      }
    },
    "com.azure.recoveryservicesdatareplication#ReplicationExtensionModelCustomProperties": {
      "type": "structure",
      "members": {
        "instanceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Discriminator property for ReplicationExtensionModelCustomProperties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Replication extension model custom properties."
      }
    },
    "com.azure.recoveryservicesdatareplication#ReplicationExtensionCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The vault name."
          }
        },
        "replicationExtensionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The replication extension name."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicesdatareplication#ReplicationExtensionModelPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesdatareplication#ReplicationExtensionModelPropertiesInput": {
      "type": "structure",
      "members": {
        "customProperties": {
          "target": "com.azure.recoveryservicesdatareplication#ReplicationExtensionModelCustomProperties",
          "traits": {
            "smithy.api#documentation": "Replication extension model custom properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Replication extension model properties."
      }
    },
    "com.azure.recoveryservicesdatareplication#ReplicationExtensionGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesdatareplication#ReplicationExtensionGetRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicesdatareplication#ReplicationExtensionGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/replicationExtensions/{replicationExtensionName}",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Gets the details of the replication extension.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.recoveryservicesdatareplication#ReplicationExtensionGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.recoveryservicesdatareplication#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicesdatareplication#ReplicationExtensionModelProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.recoveryservicesdatareplication#ReplicationExtensionGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The vault name."
          }
        },
        "replicationExtensionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The replication extension name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesdatareplication#ReplicationExtensionList": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesdatareplication#ReplicationExtensionListRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicesdatareplication#ReplicationExtensionModelListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/replicationExtensions",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Gets the list of replication extensions in the given vault.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.recoveryservicesdatareplication#ReplicationExtensionModelListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.recoveryservicesdatareplication#ReplicationExtensionModelListResultValueList",
          "traits": {
            "smithy.api#documentation": "The ReplicationExtensionModel items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a ReplicationExtensionModel list operation."
      }
    },
    "com.azure.recoveryservicesdatareplication#ReplicationExtensionModelListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.recoveryservicesdatareplication#ReplicationExtensionModel"
      },
      "traits": {
        "smithy.api#documentation": "The ReplicationExtensionModel items on this page"
      }
    },
    "com.azure.recoveryservicesdatareplication#ReplicationExtensionModel": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.recoveryservicesdatareplication#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicesdatareplication#ReplicationExtensionModelProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Replication extension model."
      }
    },
    "com.azure.recoveryservicesdatareplication#ReplicationExtensionListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The vault name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesdatareplication#RecoveryPointGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesdatareplication#RecoveryPointGetRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicesdatareplication#RecoveryPointGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointName}",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Gets the details of the recovery point of a protected item.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.recoveryservicesdatareplication#RecoveryPointGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.recoveryservicesdatareplication#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicesdatareplication#RecoveryPointModelProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.recoveryservicesdatareplication#RecoveryPointModelProperties": {
      "type": "structure",
      "members": {
        "recoveryPointTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the recovery point time.",
            "smithy.api#required": {}
          }
        },
        "recoveryPointType": {
          "target": "com.azure.recoveryservicesdatareplication#RecoveryPointType",
          "traits": {
            "smithy.api#documentation": "Gets or sets the recovery point type.",
            "smithy.api#required": {}
          }
        },
        "customProperties": {
          "target": "com.azure.recoveryservicesdatareplication#RecoveryPointModelCustomProperties",
          "traits": {
            "smithy.api#documentation": "Recovery point model custom properties.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.recoveryservicesdatareplication#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Gets or sets the provisioning state of the recovery point item."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Recovery point model properties."
      }
    },
    "com.azure.recoveryservicesdatareplication#RecoveryPointModelCustomProperties": {
      "type": "structure",
      "members": {
        "instanceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Discriminator property for RecoveryPointModelCustomProperties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Recovery point model custom properties."
      }
    },
    "com.azure.recoveryservicesdatareplication#RecoveryPointType": {
      "type": "enum",
      "members": {
        "APPLICATIONCONSISTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ApplicationConsistent"
          }
        },
        "CRASHCONSISTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CrashConsistent"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the recovery point type."
      }
    },
    "com.azure.recoveryservicesdatareplication#RecoveryPointGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The vault name."
          }
        },
        "protectedItemName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The protected item name."
          }
        },
        "recoveryPointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The recovery point name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesdatareplication#RecoveryPointList": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesdatareplication#RecoveryPointListRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicesdatareplication#RecoveryPointModelListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/protectedItems/{protectedItemName}/recoveryPoints",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Gets the list of recovery points of the given protected item.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.recoveryservicesdatareplication#RecoveryPointModelListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.recoveryservicesdatareplication#RecoveryPointModelListResultValueList",
          "traits": {
            "smithy.api#documentation": "The RecoveryPointModel items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a RecoveryPointModel list operation."
      }
    },
    "com.azure.recoveryservicesdatareplication#RecoveryPointModelListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.recoveryservicesdatareplication#RecoveryPointModel"
      },
      "traits": {
        "smithy.api#documentation": "The RecoveryPointModel items on this page"
      }
    },
    "com.azure.recoveryservicesdatareplication#RecoveryPointModel": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.recoveryservicesdatareplication#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicesdatareplication#RecoveryPointModelProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Recovery point model."
      }
    },
    "com.azure.recoveryservicesdatareplication#RecoveryPointListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The vault name."
          }
        },
        "protectedItemName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The protected item name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesdatareplication#ProtectedItemPlannedFailover": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesdatareplication#ProtectedItemPlannedFailoverRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicesdatareplication#PlannedFailoverModel"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/protectedItems/{protectedItemName}/plannedFailover",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Performs the planned failover on the protected item.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.recoveryservicesdatareplication#PlannedFailoverModel": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.azure.recoveryservicesdatareplication#PlannedFailoverModelProperties",
          "traits": {
            "smithy.api#documentation": "Planned failover model properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Planned failover model."
      }
    },
    "com.azure.recoveryservicesdatareplication#PlannedFailoverModelProperties": {
      "type": "structure",
      "members": {
        "customProperties": {
          "target": "com.azure.recoveryservicesdatareplication#PlannedFailoverModelCustomProperties",
          "traits": {
            "smithy.api#documentation": "Planned failover model custom properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Planned failover model properties."
      }
    },
    "com.azure.recoveryservicesdatareplication#PlannedFailoverModelCustomProperties": {
      "type": "structure",
      "members": {
        "instanceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Discriminator property for PlannedFailoverModelCustomProperties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Planned failover model custom properties."
      }
    },
    "com.azure.recoveryservicesdatareplication#ProtectedItemPlannedFailoverRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The vault name."
          }
        },
        "protectedItemName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The protected item name."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicesdatareplication#PlannedFailoverModelProperties",
          "traits": {
            "smithy.api#documentation": "Planned failover model properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesdatareplication#ProtectedItemDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesdatareplication#ProtectedItemDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/protectedItems/{protectedItemName}",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Removes the protected item.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.recoveryservicesdatareplication#ProtectedItemDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The vault name."
          }
        },
        "protectedItemName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The protected item name."
          }
        },
        "forceDelete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "forceDelete",
            "smithy.api#documentation": "A flag indicating whether to do force delete or not."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesdatareplication#ProtectedItemUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesdatareplication#ProtectedItemUpdateRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicesdatareplication#ProtectedItemUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/protectedItems/{protectedItemName}",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Performs update on the protected item.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.recoveryservicesdatareplication#ProtectedItemUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.recoveryservicesdatareplication#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicesdatareplication#ProtectedItemModelProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.recoveryservicesdatareplication#ProtectedItemModelProperties": {
      "type": "structure",
      "members": {
        "policyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the policy name.",
            "smithy.api#required": {}
          }
        },
        "replicationExtensionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the replication extension name.",
            "smithy.api#required": {}
          }
        },
        "correlationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the protected item correlation Id."
          }
        },
        "provisioningState": {
          "target": "com.azure.recoveryservicesdatareplication#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Gets or sets the provisioning state of the fabric agent."
          }
        },
        "protectionState": {
          "target": "com.azure.recoveryservicesdatareplication#ProtectionState",
          "traits": {
            "smithy.api#documentation": "Gets or sets the protection state."
          }
        },
        "protectionStateDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the protection state description."
          }
        },
        "testFailoverState": {
          "target": "com.azure.recoveryservicesdatareplication#TestFailoverState",
          "traits": {
            "smithy.api#documentation": "Gets or sets the test failover state."
          }
        },
        "testFailoverStateDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the Test failover state description."
          }
        },
        "resynchronizationState": {
          "target": "com.azure.recoveryservicesdatareplication#ResynchronizationState",
          "traits": {
            "smithy.api#documentation": "Gets or sets the resynchronization state."
          }
        },
        "fabricObjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the fabric object Id."
          }
        },
        "fabricObjectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the fabric object name."
          }
        },
        "sourceFabricProviderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the source fabric provider Id."
          }
        },
        "targetFabricProviderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the target fabric provider Id."
          }
        },
        "fabricId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the fabric Id."
          }
        },
        "targetFabricId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the target fabric Id."
          }
        },
        "fabricAgentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the fabric agent Id."
          }
        },
        "targetFabricAgentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the target fabric agent Id."
          }
        },
        "resyncRequired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Gets or sets a value indicating whether resynchronization is required or not."
          }
        },
        "lastSuccessfulPlannedFailoverTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the Last successful planned failover time."
          }
        },
        "lastSuccessfulUnplannedFailoverTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the Last successful unplanned failover time."
          }
        },
        "lastSuccessfulTestFailoverTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the Last successful test failover time."
          }
        },
        "currentJob": {
          "target": "com.azure.recoveryservicesdatareplication#ProtectedItemJobProperties",
          "traits": {
            "smithy.api#documentation": "Gets or sets the current scenario."
          }
        },
        "allowedJobs": {
          "target": "com.azure.recoveryservicesdatareplication#ProtectedItemModelPropertiesAllowedJobsList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the allowed scenarios on the protected item."
          }
        },
        "lastFailedEnableProtectionJob": {
          "target": "com.azure.recoveryservicesdatareplication#ProtectedItemJobProperties",
          "traits": {
            "smithy.api#documentation": "Gets or sets the last failed enabled protection job."
          }
        },
        "lastFailedPlannedFailoverJob": {
          "target": "com.azure.recoveryservicesdatareplication#ProtectedItemJobProperties",
          "traits": {
            "smithy.api#documentation": "Gets or sets the last failed planned failover job."
          }
        },
        "lastTestFailoverJob": {
          "target": "com.azure.recoveryservicesdatareplication#ProtectedItemJobProperties",
          "traits": {
            "smithy.api#documentation": "Gets or sets the last test failover job."
          }
        },
        "replicationHealth": {
          "target": "com.azure.recoveryservicesdatareplication#HealthStatus",
          "traits": {
            "smithy.api#documentation": "Gets or sets protected item replication health."
          }
        },
        "healthErrors": {
          "target": "com.azure.recoveryservicesdatareplication#ProtectedItemModelPropertiesHealthErrorsList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the list of health errors."
          }
        },
        "customProperties": {
          "target": "com.azure.recoveryservicesdatareplication#ProtectedItemModelCustomProperties",
          "traits": {
            "smithy.api#documentation": "Protected item model custom properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Protected item model properties."
      }
    },
    "com.azure.recoveryservicesdatareplication#ProtectedItemModelCustomProperties": {
      "type": "structure",
      "members": {
        "instanceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Discriminator property for ProtectedItemModelCustomProperties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Protected item model custom properties."
      }
    },
    "com.azure.recoveryservicesdatareplication#ProtectedItemModelPropertiesHealthErrorsList": {
      "type": "list",
      "member": {
        "target": "com.azure.recoveryservicesdatareplication#HealthErrorModel"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the list of health errors."
      }
    },
    "com.azure.recoveryservicesdatareplication#HealthErrorModel": {
      "type": "structure",
      "members": {
        "affectedResourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the type of affected resource type."
          }
        },
        "affectedResourceCorrelationIds": {
          "target": "com.azure.recoveryservicesdatareplication#HealthErrorModelAffectedResourceCorrelationIdsList",
          "traits": {
            "smithy.api#documentation": "Gets or sets the list of affected resource correlation Ids. This can be used to uniquely identify the count of items affected by a specific category and severity as well as count of item affected by an specific issue."
          }
        },
        "childErrors": {
          "target": "com.azure.recoveryservicesdatareplication#HealthErrorModelChildErrorsList",
          "traits": {
            "smithy.api#documentation": "Gets or sets a list of child health errors associated with this error."
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the error code."
          }
        },
        "healthCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the health category."
          }
        },
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the error category."
          }
        },
        "severity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the error severity."
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the error source."
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the error creation time."
          }
        },
        "isCustomerResolvable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Gets or sets a value indicating whether the error is customer resolvable."
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the error summary."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the error message."
          }
        },
        "causes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets possible causes of the error."
          }
        },
        "recommendation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets recommended action to resolve the error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Health error model."
      }
    },
    "com.azure.recoveryservicesdatareplication#HealthErrorModelChildErrorsList": {
      "type": "list",
      "member": {
        "target": "com.azure.recoveryservicesdatareplication#InnerHealthErrorModel"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets a list of child health errors associated with this error."
      }
    },
    "com.azure.recoveryservicesdatareplication#InnerHealthErrorModel": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the error code."
          }
        },
        "healthCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the health category."
          }
        },
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the error category."
          }
        },
        "severity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the error severity."
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the error source."
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the error creation time."
          }
        },
        "isCustomerResolvable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Gets or sets a value indicating whether the error is customer resolvable."
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the error summary."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the error message."
          }
        },
        "causes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets possible causes of the error."
          }
        },
        "recommendation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets recommended action to resolve the error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Inner health error model."
      }
    },
    "com.azure.recoveryservicesdatareplication#HealthErrorModelAffectedResourceCorrelationIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the list of affected resource correlation Ids. This can be used to uniquely identify the count of items affected by a specific category and severity as well as count of item affected by an specific issue."
      }
    },
    "com.azure.recoveryservicesdatareplication#HealthStatus": {
      "type": "enum",
      "members": {
        "NORMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Normal"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Warning"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Critical"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the fabric health."
      }
    },
    "com.azure.recoveryservicesdatareplication#ProtectedItemJobProperties": {
      "type": "structure",
      "members": {
        "scenarioName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets protection scenario name."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets job Id."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets job name."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the job friendly display name."
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets job state."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets start time of the job."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets end time of the job."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Protected item job properties."
      }
    },
    "com.azure.recoveryservicesdatareplication#ProtectedItemModelPropertiesAllowedJobsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the allowed scenarios on the protected item."
      }
    },
    "com.azure.recoveryservicesdatareplication#ResynchronizationState": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "RESYNCHRONIZATIONINITIATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ResynchronizationInitiated"
          }
        },
        "RESYNCHRONIZATIONCOMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ResynchronizationCompleted"
          }
        },
        "RESYNCHRONIZATIONFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ResynchronizationFailed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the resynchronization state."
      }
    },
    "com.azure.recoveryservicesdatareplication#TestFailoverState": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "TESTFAILOVERINITIATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TestFailoverInitiated"
          }
        },
        "TESTFAILOVERCOMPLETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TestFailoverCompleting"
          }
        },
        "TESTFAILOVERCOMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TestFailoverCompleted"
          }
        },
        "TESTFAILOVERFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TestFailoverFailed"
          }
        },
        "TESTFAILOVERCOMPLETIONFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TestFailoverCompletionFailed"
          }
        },
        "TESTFAILOVERCLEANUPINITIATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TestFailoverCleanupInitiated"
          }
        },
        "TESTFAILOVERCLEANUPCOMPLETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TestFailoverCleanupCompleting"
          }
        },
        "MARKEDFORDELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MarkedForDeletion"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the test failover state."
      }
    },
    "com.azure.recoveryservicesdatareplication#ProtectionState": {
      "type": "enum",
      "members": {
        "UNPROTECTEDSTATESBEGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UnprotectedStatesBegin"
          }
        },
        "ENABLINGPROTECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EnablingProtection"
          }
        },
        "ENABLINGFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EnablingFailed"
          }
        },
        "DISABLINGPROTECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DisablingProtection"
          }
        },
        "MARKEDFORDELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MarkedForDeletion"
          }
        },
        "DISABLINGFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DisablingFailed"
          }
        },
        "UNPROTECTEDSTATESEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UnprotectedStatesEnd"
          }
        },
        "INITIALREPLICATIONSTATESBEGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InitialReplicationStatesBegin"
          }
        },
        "INITIALREPLICATIONINPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InitialReplicationInProgress"
          }
        },
        "INITIALREPLICATIONCOMPLETEDONPRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InitialReplicationCompletedOnPrimary"
          }
        },
        "INITIALREPLICATIONCOMPLETEDONRECOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InitialReplicationCompletedOnRecovery"
          }
        },
        "INITIALREPLICATIONFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InitialReplicationFailed"
          }
        },
        "INITIALREPLICATIONSTATESEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InitialReplicationStatesEnd"
          }
        },
        "PROTECTEDSTATESBEGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ProtectedStatesBegin"
          }
        },
        "PROTECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Protected"
          }
        },
        "PROTECTEDSTATESEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ProtectedStatesEnd"
          }
        },
        "PLANNEDFAILOVERTRANSITIONSTATESBEGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PlannedFailoverTransitionStatesBegin"
          }
        },
        "PLANNEDFAILOVERINITIATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PlannedFailoverInitiated"
          }
        },
        "PLANNEDFAILOVERCOMPLETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PlannedFailoverCompleting"
          }
        },
        "PLANNEDFAILOVERCOMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PlannedFailoverCompleted"
          }
        },
        "PLANNEDFAILOVERFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PlannedFailoverFailed"
          }
        },
        "PLANNEDFAILOVERCOMPLETIONFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PlannedFailoverCompletionFailed"
          }
        },
        "PLANNEDFAILOVERTRANSITIONSTATESEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PlannedFailoverTransitionStatesEnd"
          }
        },
        "UNPLANNEDFAILOVERTRANSITIONSTATESBEGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UnplannedFailoverTransitionStatesBegin"
          }
        },
        "UNPLANNEDFAILOVERINITIATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UnplannedFailoverInitiated"
          }
        },
        "UNPLANNEDFAILOVERCOMPLETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UnplannedFailoverCompleting"
          }
        },
        "UNPLANNEDFAILOVERCOMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UnplannedFailoverCompleted"
          }
        },
        "UNPLANNEDFAILOVERFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UnplannedFailoverFailed"
          }
        },
        "UNPLANNEDFAILOVERCOMPLETIONFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UnplannedFailoverCompletionFailed"
          }
        },
        "UNPLANNEDFAILOVERTRANSITIONSTATESEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UnplannedFailoverTransitionStatesEnd"
          }
        },
        "COMMITFAILOVERSTATESBEGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CommitFailoverStatesBegin"
          }
        },
        "COMMITFAILOVERINPROGRESSONPRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CommitFailoverInProgressOnPrimary"
          }
        },
        "COMMITFAILOVERINPROGRESSONRECOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CommitFailoverInProgressOnRecovery"
          }
        },
        "COMMITFAILOVERCOMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CommitFailoverCompleted"
          }
        },
        "COMMITFAILOVERFAILEDONPRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CommitFailoverFailedOnPrimary"
          }
        },
        "COMMITFAILOVERFAILEDONRECOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CommitFailoverFailedOnRecovery"
          }
        },
        "COMMITFAILOVERSTATESEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CommitFailoverStatesEnd"
          }
        },
        "CANCELFAILOVERSTATESBEGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CancelFailoverStatesBegin"
          }
        },
        "CANCELFAILOVERINPROGRESSONPRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CancelFailoverInProgressOnPrimary"
          }
        },
        "CANCELFAILOVERINPROGRESSONRECOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CancelFailoverInProgressOnRecovery"
          }
        },
        "CANCELFAILOVERFAILEDONPRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CancelFailoverFailedOnPrimary"
          }
        },
        "CANCELFAILOVERFAILEDONRECOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CancelFailoverFailedOnRecovery"
          }
        },
        "CANCELFAILOVERSTATESEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CancelFailoverStatesEnd"
          }
        },
        "CHANGERECOVERYPOINTSTATESBEGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ChangeRecoveryPointStatesBegin"
          }
        },
        "CHANGERECOVERYPOINTINITIATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ChangeRecoveryPointInitiated"
          }
        },
        "CHANGERECOVERYPOINTCOMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ChangeRecoveryPointCompleted"
          }
        },
        "CHANGERECOVERYPOINTFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ChangeRecoveryPointFailed"
          }
        },
        "CHANGERECOVERYPOINTSTATESEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ChangeRecoveryPointStatesEnd"
          }
        },
        "REPROTECTSTATESBEGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReprotectStatesBegin"
          }
        },
        "REPROTECTINITIATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReprotectInitiated"
          }
        },
        "REPROTECTFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReprotectFailed"
          }
        },
        "REPROTECTSTATESEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReprotectStatesEnd"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Gets or sets the protection state."
      }
    },
    "com.azure.recoveryservicesdatareplication#ProtectedItemUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The vault name."
          }
        },
        "protectedItemName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The protected item name."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicesdatareplication#ProtectedItemModelPropertiesUpdate",
          "traits": {
            "smithy.api#documentation": "Protected item model properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesdatareplication#ProtectedItemModelPropertiesUpdate": {
      "type": "structure",
      "members": {
        "customProperties": {
          "target": "com.azure.recoveryservicesdatareplication#ProtectedItemModelCustomPropertiesUpdate",
          "traits": {
            "smithy.api#documentation": "Protected item model custom properties update."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Protected item model properties update."
      }
    },
    "com.azure.recoveryservicesdatareplication#ProtectedItemModelCustomPropertiesUpdate": {
      "type": "structure",
      "members": {
        "instanceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Discriminator property for ProtectedItemModelCustomPropertiesUpdate.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Protected item model custom properties."
      }
    },
    "com.azure.recoveryservicesdatareplication#ProtectedItemCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesdatareplication#ProtectedItemCreateRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicesdatareplication#ProtectedItemCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/protectedItems/{protectedItemName}",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Creates the protected item.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.recoveryservicesdatareplication#ProtectedItemCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.recoveryservicesdatareplication#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicesdatareplication#ProtectedItemModelProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.recoveryservicesdatareplication#ProtectedItemCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The vault name."
          }
        },
        "protectedItemName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The protected item name."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicesdatareplication#ProtectedItemModelPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesdatareplication#ProtectedItemModelPropertiesInput": {
      "type": "structure",
      "members": {
        "policyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the policy name.",
            "smithy.api#required": {}
          }
        },
        "replicationExtensionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the replication extension name.",
            "smithy.api#required": {}
          }
        },
        "customProperties": {
          "target": "com.azure.recoveryservicesdatareplication#ProtectedItemModelCustomProperties",
          "traits": {
            "smithy.api#documentation": "Protected item model custom properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Protected item model properties."
      }
    },
    "com.azure.recoveryservicesdatareplication#ProtectedItemGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesdatareplication#ProtectedItemGetRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicesdatareplication#ProtectedItemGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/protectedItems/{protectedItemName}",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Gets the details of the protected item.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.recoveryservicesdatareplication#ProtectedItemGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.recoveryservicesdatareplication#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicesdatareplication#ProtectedItemModelProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.recoveryservicesdatareplication#ProtectedItemGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vaultName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The vault name."
          }
        },
        "protectedItemName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The protected item name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.recoveryservicesdatareplication#ProtectedItemList": {
      "type": "operation",
      "input": {
        "target": "com.azure.recoveryservicesdatareplication#ProtectedItemListRequest"
      },
      "output": {
        "target": "com.azure.recoveryservicesdatareplication#ProtectedItemModelListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/protectedItems",
          "code": 200,
          "apiVersion": "2026-05-01"
        },
        "smithy.api#documentation": "Gets the list of protected items in the given vault.",
        "com.distilled.openapi#apiVersion": "2026-05-01"
      }
    },
    "com.azure.recoveryservicesdatareplication#ProtectedItemModelListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.recoveryservicesdatareplication#ProtectedItemModelListResultValueList",
          "traits": {
            "smithy.api#documentation": "The ProtectedItemModel items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a ProtectedItemModel list operation."
      }
    },
    "com.azure.recoveryservicesdatareplication#ProtectedItemModelListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.recoveryservicesdatareplication#ProtectedItemModel"
      },
      "traits": {
        "smithy.api#documentation": "The ProtectedItemModel items on this page"
      }
    },
    "com.azure.recoveryservicesdatareplication#ProtectedItemModel": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.recoveryservicesdatareplication#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.recoveryservicesdatareplication#ProtectedItemModelProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Protected item model."
      }
    },
[...]
