{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.redis#RedisRegenerateKey": {
      "type": "operation",
      "input": {
        "target": "com.azure.redis#RedisRegenerateKeyRequest"
      },
      "output": {
        "target": "com.azure.redis#RedisAccessKeys"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/regenerateKey",
          "code": 200,
          "apiVersion": "2024-11-01"
        },
        "smithy.api#documentation": "Regenerate Redis cache's access keys. This operation requires write permission to the cache resource.",
        "com.distilled.openapi#apiVersion": "2024-11-01"
      }
    },
    "com.azure.redis#RedisAccessKeys": {
      "type": "structure",
      "members": {
        "primaryKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current primary key that clients can use to authenticate with Redis cache."
          }
        },
        "secondaryKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current secondary key that clients can use to authenticate with Redis cache."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Redis cache access keys."
      }
    },
    "com.azure.redis#RedisRegenerateKeyRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the RedisResource"
          }
        },
        "keyType": {
          "target": "com.azure.redis#RedisKeyType",
          "traits": {
            "smithy.api#documentation": "The Redis access key to regenerate.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redis#RedisKeyType": {
      "type": "enum",
      "members": {
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Primary"
          }
        },
        "SECONDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Secondary"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Redis access key to regenerate."
      }
    },
    "com.azure.redis#PrivateLinkResourcesListByRedisCache": {
      "type": "operation",
      "input": {
        "target": "com.azure.redis#PrivateLinkResourcesListByRedisCacheRequest"
      },
      "output": {
        "target": "com.azure.redis#PrivateLinkResourceListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/privateLinkResources",
          "code": 200,
          "apiVersion": "2024-11-01"
        },
        "smithy.api#documentation": "Gets the private link resources that need to be created for a redis cache.",
        "com.distilled.openapi#apiVersion": "2024-11-01"
      }
    },
    "com.azure.redis#PrivateLinkResourceListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.redis#PrivateLinkResourceListResultValueList",
          "traits": {
            "smithy.api#documentation": "The PrivateLinkResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a PrivateLinkResource list operation."
      }
    },
    "com.azure.redis#PrivateLinkResourceListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.redis#PrivateLinkResourceListResultValueItem"
      },
      "traits": {
        "smithy.api#documentation": "The PrivateLinkResource items on this page"
      }
    },
    "com.azure.redis#PrivateLinkResourceListResultValueItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.redis#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.redis#PrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A private link resource."
      }
    },
    "com.azure.redis#PrivateLinkResourceProperties": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The private link resource group id."
          }
        },
        "requiredMembers": {
          "target": "com.azure.redis#PrivateLinkResourcePropertiesRequiredMembersList",
          "traits": {
            "smithy.api#documentation": "The private link resource required member names."
          }
        },
        "requiredZoneNames": {
          "target": "com.azure.redis#PrivateLinkResourcePropertiesRequiredZoneNamesList",
          "traits": {
            "smithy.api#documentation": "The private link resource private link DNS zone name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a private link resource."
      }
    },
    "com.azure.redis#PrivateLinkResourcePropertiesRequiredZoneNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The private link resource private link DNS zone name."
      }
    },
    "com.azure.redis#PrivateLinkResourcePropertiesRequiredMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The private link resource required member names."
      }
    },
    "com.azure.redis#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.redis#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.redis#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.redis#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.redis#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.redis#PrivateLinkResourcesListByRedisCacheRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "cacheName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis cache."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redis#PrivateEndpointConnectionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.redis#PrivateEndpointConnectionsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2024-11-01"
        },
        "smithy.api#documentation": "Deletes the specified private endpoint connection associated with the redis cache.",
        "com.distilled.openapi#apiVersion": "2024-11-01"
      }
    },
    "com.azure.redis#PrivateEndpointConnectionsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "cacheName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis cache."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection associated with the Azure resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redis#PrivateEndpointConnectionsPut": {
      "type": "operation",
      "input": {
        "target": "com.azure.redis#PrivateEndpointConnectionsPutRequest"
      },
      "output": {
        "target": "com.azure.redis#PrivateEndpointConnectionsPutResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2024-11-01"
        },
        "smithy.api#documentation": "Update the state of specified private endpoint connection associated with the redis cache.",
        "com.distilled.openapi#apiVersion": "2024-11-01"
      }
    },
    "com.azure.redis#PrivateEndpointConnectionsPutResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.redis#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.redis#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.redis#PrivateEndpointConnectionProperties": {
      "type": "structure",
      "members": {
        "groupIds": {
          "target": "com.azure.redis#PrivateEndpointConnectionPropertiesGroupIdsList",
          "traits": {
            "smithy.api#documentation": "The group ids for the private endpoint resource."
          }
        },
        "privateEndpoint": {
          "target": "com.azure.redis#PrivateEndpoint",
          "traits": {
            "smithy.api#documentation": "The private endpoint resource."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.redis#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.redis#PrivateEndpointConnectionProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the private endpoint connection resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the private endpoint connection."
      }
    },
    "com.azure.redis#PrivateEndpointConnectionProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current provisioning state."
      }
    },
    "com.azure.redis#PrivateLinkServiceConnectionState": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.redis#PrivateEndpointServiceConnectionStatus",
          "traits": {
            "smithy.api#documentation": "Indicates whether the connection has been Approved/Rejected/Removed by the owner of the service."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason for approval/rejection of the connection."
          }
        },
        "actionsRequired": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A message indicating if changes on the service provider require any updates on the consumer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider."
      }
    },
    "com.azure.redis#PrivateEndpointServiceConnectionStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint connection status."
      }
    },
    "com.azure.redis#PrivateEndpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ARM identifier for private endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint resource."
      }
    },
    "com.azure.redis#PrivateEndpointConnectionPropertiesGroupIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The group ids for the private endpoint resource."
      }
    },
    "com.azure.redis#PrivateEndpointConnectionsPutRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "cacheName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis cache."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection associated with the Azure resource."
          }
        },
        "properties": {
          "target": "com.azure.redis#PrivateEndpointConnectionPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redis#PrivateEndpointConnectionPropertiesInput": {
      "type": "structure",
      "members": {
        "privateEndpoint": {
          "target": "com.azure.redis#PrivateEndpointInput",
          "traits": {
            "smithy.api#documentation": "The private endpoint resource."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.redis#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the private endpoint connection."
      }
    },
    "com.azure.redis#PrivateEndpointInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The private endpoint resource."
      }
    },
    "com.azure.redis#PrivateEndpointConnectionsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.redis#PrivateEndpointConnectionsGetRequest"
      },
      "output": {
        "target": "com.azure.redis#PrivateEndpointConnectionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2024-11-01"
        },
        "smithy.api#documentation": "Gets the specified private endpoint connection associated with the redis cache.",
        "com.distilled.openapi#apiVersion": "2024-11-01"
      }
    },
    "com.azure.redis#PrivateEndpointConnectionsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.redis#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.redis#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.redis#PrivateEndpointConnectionsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "cacheName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis cache."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection associated with the Azure resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redis#PrivateEndpointConnectionsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.redis#PrivateEndpointConnectionsListRequest"
      },
      "output": {
        "target": "com.azure.redis#PrivateEndpointConnectionListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/privateEndpointConnections",
          "code": 200,
          "apiVersion": "2024-11-01"
        },
        "smithy.api#documentation": "List all the private endpoint connections associated with the redis cache.",
        "com.distilled.openapi#apiVersion": "2024-11-01"
      }
    },
    "com.azure.redis#PrivateEndpointConnectionListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.redis#PrivateEndpointConnectionListResultValueList",
          "traits": {
            "smithy.api#documentation": "The PrivateEndpointConnection items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a PrivateEndpointConnection list operation."
      }
    },
    "com.azure.redis#PrivateEndpointConnectionListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.redis#PrivateEndpointConnectionListResultValueItem"
      },
      "traits": {
        "smithy.api#documentation": "The PrivateEndpointConnection items on this page"
      }
    },
    "com.azure.redis#PrivateEndpointConnectionListResultValueItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.redis#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.redis#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint connection resource."
      }
    },
    "com.azure.redis#PrivateEndpointConnectionsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "cacheName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis cache."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redis#PatchSchedulesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.redis#PatchSchedulesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/patchSchedules/{default}",
          "code": 200,
          "apiVersion": "2024-11-01"
        },
        "smithy.api#documentation": "Deletes the patching schedule of a redis cache.",
        "com.distilled.openapi#apiVersion": "2024-11-01"
      }
    },
    "com.azure.redis#PatchSchedulesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the redis cache."
          }
        },
        "default": {
          "target": "com.azure.redis#PatchSchedulesDeleteRequestDefault",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the RedisPatchSchedule"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redis#PatchSchedulesDeleteRequestDefault": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        }
      },
      "traits": {}
    },
    "com.azure.redis#PatchSchedulesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.redis#PatchSchedulesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.redis#PatchSchedulesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/patchSchedules/{default}",
          "code": 200,
          "apiVersion": "2024-11-01"
        },
        "smithy.api#documentation": "Create or replace the patching schedule for Redis cache.",
        "com.distilled.openapi#apiVersion": "2024-11-01"
      }
    },
    "com.azure.redis#PatchSchedulesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.redis#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.redis#ScheduleEntries",
          "traits": {
            "smithy.api#documentation": "List of patch schedules for a Redis cache.",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.redis#ScheduleEntries": {
      "type": "structure",
      "members": {
        "scheduleEntries": {
          "target": "com.azure.redis#ScheduleEntriesScheduleEntriesList",
          "traits": {
            "smithy.api#documentation": "List of patch schedules for a Redis cache.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of patch schedules for a Redis cache."
      }
    },
    "com.azure.redis#ScheduleEntriesScheduleEntriesList": {
      "type": "list",
      "member": {
        "target": "com.azure.redis#ScheduleEntry"
      },
      "traits": {
        "smithy.api#documentation": "List of patch schedules for a Redis cache."
      }
    },
    "com.azure.redis#ScheduleEntry": {
      "type": "structure",
      "members": {
        "dayOfWeek": {
          "target": "com.azure.redis#DayOfWeek",
          "traits": {
            "smithy.api#documentation": "Day of the week when a cache can be patched.",
            "smithy.api#required": {}
          }
        },
        "startHourUtc": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Start hour after which cache patching can start.",
            "smithy.api#required": {}
          }
        },
        "maintenanceWindow": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO8601 timespan specifying how much time cache patching can take."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Patch schedule entry for a Premium Redis Cache."
      }
    },
    "com.azure.redis#DayOfWeek": {
      "type": "enum",
      "members": {
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Monday"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Tuesday"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Wednesday"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Thursday"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Friday"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Saturday"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sunday"
          }
        },
        "EVERYDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Everyday"
          }
        },
        "WEEKEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Weekend"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Day of the week when a cache can be patched."
      }
    },
    "com.azure.redis#PatchSchedulesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the redis cache."
          }
        },
        "default": {
          "target": "com.azure.redis#PatchSchedulesCreateOrUpdateRequestDefault",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the RedisPatchSchedule"
          }
        },
        "properties": {
          "target": "com.azure.redis#ScheduleEntries",
          "traits": {
            "smithy.api#documentation": "List of patch schedules for a Redis cache.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redis#PatchSchedulesCreateOrUpdateRequestDefault": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        }
      },
      "traits": {}
    },
    "com.azure.redis#PatchSchedulesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.redis#PatchSchedulesGetRequest"
      },
      "output": {
        "target": "com.azure.redis#PatchSchedulesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/patchSchedules/{default}",
          "code": 200,
          "apiVersion": "2024-11-01"
        },
        "smithy.api#documentation": "Gets the patching schedule of a redis cache.",
        "com.distilled.openapi#apiVersion": "2024-11-01"
      }
    },
    "com.azure.redis#PatchSchedulesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.redis#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.redis#ScheduleEntries",
          "traits": {
            "smithy.api#documentation": "List of patch schedules for a Redis cache.",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.redis#PatchSchedulesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the redis cache."
          }
        },
        "default": {
          "target": "com.azure.redis#PatchSchedulesGetRequestDefault",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the RedisPatchSchedule"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redis#PatchSchedulesGetRequestDefault": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        }
      },
      "traits": {}
    },
    "com.azure.redis#PatchSchedulesListByRedisResource": {
      "type": "operation",
      "input": {
        "target": "com.azure.redis#PatchSchedulesListByRedisResourceRequest"
      },
      "output": {
        "target": "com.azure.redis#RedisPatchScheduleListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/patchSchedules",
          "code": 200,
          "apiVersion": "2024-11-01"
        },
        "smithy.api#documentation": "Gets all patch schedules in the specified redis cache (there is only one).",
        "com.distilled.openapi#apiVersion": "2024-11-01"
      }
    },
    "com.azure.redis#RedisPatchScheduleListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.redis#RedisPatchScheduleListResultValueList",
          "traits": {
            "smithy.api#documentation": "The RedisPatchSchedule items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a RedisPatchSchedule list operation."
      }
    },
    "com.azure.redis#RedisPatchScheduleListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.redis#RedisPatchSchedule"
      },
      "traits": {
        "smithy.api#documentation": "The RedisPatchSchedule items on this page"
      }
    },
    "com.azure.redis#RedisPatchSchedule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.redis#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.redis#ScheduleEntries",
          "traits": {
            "smithy.api#documentation": "List of patch schedules for a Redis cache.",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response to put/get patch schedules for Redis cache."
      }
    },
    "com.azure.redis#PatchSchedulesListByRedisResourceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "cacheName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis cache."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redis#RedisListUpgradeNotifications": {
      "type": "operation",
      "input": {
        "target": "com.azure.redis#RedisListUpgradeNotificationsRequest"
      },
      "output": {
        "target": "com.azure.redis#NotificationListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/listUpgradeNotifications",
          "code": 200,
          "apiVersion": "2024-11-01"
        },
        "smithy.api#documentation": "[Deprecated] Gets any upgrade notifications for a Redis cache.",
        "com.distilled.openapi#apiVersion": "2024-11-01"
      }
    },
    "com.azure.redis#NotificationListResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.redis#NotificationListResponseValueList",
          "traits": {
            "smithy.api#documentation": "The UpgradeNotification items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of listUpgradeNotifications."
      }
    },
    "com.azure.redis#NotificationListResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.redis#UpgradeNotification"
      },
      "traits": {
        "smithy.api#documentation": "The UpgradeNotification items on this page"
      }
    },
    "com.azure.redis#UpgradeNotification": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of upgrade notification."
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when upgrade notification occurred."
          }
        },
        "upsellNotification": {
          "target": "com.azure.redis#UpgradeNotificationUpsellNotificationMap",
          "traits": {
            "smithy.api#documentation": "Details about this upgrade notification"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of upgrade notification."
      }
    },
    "com.azure.redis#UpgradeNotificationUpsellNotificationMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Details about this upgrade notification"
      }
    },
    "com.azure.redis#RedisListUpgradeNotificationsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the RedisResource"
          }
        },
        "history": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "history",
            "smithy.api#required": {},
            "smithy.api#documentation": "how many minutes in past to look for upgrade notifications"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redis#RedisListKeys": {
      "type": "operation",
      "input": {
        "target": "com.azure.redis#RedisListKeysRequest"
      },
      "output": {
        "target": "com.azure.redis#RedisAccessKeys"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/listKeys",
          "code": 200,
          "apiVersion": "2024-11-01"
        },
        "smithy.api#documentation": "Retrieve a Redis cache's access keys. This operation requires write permission to the cache resource.",
        "com.distilled.openapi#apiVersion": "2024-11-01"
      }
    },
    "com.azure.redis#RedisListKeysRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the RedisResource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redis#LinkedServerDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.redis#LinkedServerDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/linkedServers/{linkedServerName}",
          "code": 200,
          "apiVersion": "2024-11-01"
        },
        "smithy.api#documentation": "Deletes the linked server from a redis cache (requires Premium SKU).",
        "com.distilled.openapi#apiVersion": "2024-11-01"
      }
    },
    "com.azure.redis#LinkedServerDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the redis cache."
          }
        },
        "linkedServerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the RedisLinkedServerWithProperties"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redis#LinkedServerCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.redis#LinkedServerCreateRequest"
      },
      "output": {
        "target": "com.azure.redis#LinkedServerCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/linkedServers/{linkedServerName}",
          "code": 200,
          "apiVersion": "2024-11-01"
        },
        "smithy.api#documentation": "Adds a linked server to the Redis cache (requires Premium SKU).",
        "com.distilled.openapi#apiVersion": "2024-11-01"
      }
    },
    "com.azure.redis#LinkedServerCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.redis#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.redis#RedisLinkedServerProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the linked server."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.redis#RedisLinkedServerProperties": {
      "type": "structure",
      "members": {
        "linkedRedisCacheId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resourceId of the linked redis cache.",
            "smithy.api#required": {}
          }
        },
        "linkedRedisCacheLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the linked redis cache.",
            "smithy.api#required": {}
          }
        },
        "serverRole": {
          "target": "com.azure.redis#ReplicationRole",
          "traits": {
            "smithy.api#documentation": "Role of the linked server.",
            "smithy.api#required": {}
          }
        },
        "geoReplicatedPrimaryHostName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unchanging DNS name which will always point to current geo-primary cache among the linked redis caches for seamless Geo Failover experience."
          }
        },
        "primaryHostName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The changing DNS name that resolves to the current geo-primary cache among the linked redis caches before or after the Geo Failover."
          }
        },
        "provisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Terminal state of the link between primary and secondary redis cache."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a linked server to be returned in get/put response"
      }
    },
    "com.azure.redis#ReplicationRole": {
      "type": "enum",
      "members": {
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Primary"
          }
        },
        "SECONDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Secondary"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Role of the linked server."
      }
    },
    "com.azure.redis#LinkedServerCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the redis cache."
          }
        },
        "linkedServerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the RedisLinkedServerWithProperties"
          }
        },
        "properties": {
          "target": "com.azure.redis#RedisLinkedServerCreatePropertiesInput",
          "traits": {
            "smithy.api#documentation": "Properties required to create a linked server.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redis#RedisLinkedServerCreatePropertiesInput": {
      "type": "structure",
      "members": {
        "linkedRedisCacheId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resourceId of the linked redis cache.",
            "smithy.api#required": {}
          }
        },
        "linkedRedisCacheLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location of the linked redis cache.",
            "smithy.api#required": {}
          }
        },
        "serverRole": {
          "target": "com.azure.redis#ReplicationRole",
          "traits": {
            "smithy.api#documentation": "Role of the linked server.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Create properties for a linked server"
      }
    },
    "com.azure.redis#LinkedServerGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.redis#LinkedServerGetRequest"
      },
      "output": {
        "target": "com.azure.redis#LinkedServerGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/linkedServers/{linkedServerName}",
          "code": 200,
          "apiVersion": "2024-11-01"
        },
        "smithy.api#documentation": "Gets the detailed information about a linked server of a redis cache (requires Premium SKU).",
        "com.distilled.openapi#apiVersion": "2024-11-01"
      }
    },
    "com.azure.redis#LinkedServerGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.redis#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.redis#RedisLinkedServerProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the linked server."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.redis#LinkedServerGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the redis cache."
          }
        },
        "linkedServerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the RedisLinkedServerWithProperties"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redis#LinkedServerList": {
      "type": "operation",
      "input": {
        "target": "com.azure.redis#LinkedServerListRequest"
      },
      "output": {
        "target": "com.azure.redis#RedisLinkedServerWithPropertiesList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/linkedServers",
          "code": 200,
          "apiVersion": "2024-11-01"
        },
        "smithy.api#documentation": "Gets the list of linked servers associated with this redis cache (requires Premium SKU).",
        "com.distilled.openapi#apiVersion": "2024-11-01"
      }
    },
    "com.azure.redis#RedisLinkedServerWithPropertiesList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.redis#RedisLinkedServerWithPropertiesListValueList",
          "traits": {
            "smithy.api#documentation": "The RedisLinkedServerWithProperties items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of linked servers (with properties) of a Redis cache."
      }
    },
    "com.azure.redis#RedisLinkedServerWithPropertiesListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.redis#RedisLinkedServerWithProperties"
      },
      "traits": {
        "smithy.api#documentation": "The RedisLinkedServerWithProperties items on this page"
      }
    },
    "com.azure.redis#RedisLinkedServerWithProperties": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.redis#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.redis#RedisLinkedServerProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the linked server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response to put/get linked server (with properties) for Redis cache."
      }
    },
    "com.azure.redis#LinkedServerListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the redis cache."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redis#RedisImportData": {
      "type": "operation",
      "input": {
        "target": "com.azure.redis#RedisImportDataRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/import",
          "code": 200,
          "apiVersion": "2024-11-01"
        },
        "smithy.api#documentation": "Import data into Redis cache.",
        "com.distilled.openapi#apiVersion": "2024-11-01"
      }
    },
    "com.azure.redis#RedisImportDataRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the RedisResource"
          }
        },
        "format": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "File format."
          }
        },
        "files": {
          "target": "com.azure.redis#RedisImportDataRequestFilesList",
          "traits": {
            "smithy.api#documentation": "files to import.",
            "smithy.api#required": {}
          }
        },
        "preferred_data_archive_auth_method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Preferred auth method to communicate to storage account used for data archive, specify SAS or ManagedIdentity, default value is SAS",
            "smithy.api#jsonName": "preferred-data-archive-auth-method"
          }
        },
        "storage_subscription_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subscription id of the storage container containing files to import using Managed Identity.",
            "smithy.api#jsonName": "storage-subscription-id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redis#RedisImportDataRequestFilesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "files to import."
      }
    },
    "com.azure.redis#RedisForceReboot": {
      "type": "operation",
      "input": {
        "target": "com.azure.redis#RedisForceRebootRequest"
      },
      "output": {
        "target": "com.azure.redis#RedisForceRebootResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{name}/forceReboot",
          "code": 200,
          "apiVersion": "2024-11-01"
        },
        "smithy.api#documentation": "Reboot specified Redis node(s). This operation requires write permission to the cache resource. There can be potential data loss.",
        "com.distilled.openapi#apiVersion": "2024-11-01"
      }
    },
    "com.azure.redis#RedisForceRebootResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response to force reboot for Redis cache."
      }
    },
    "com.azure.redis#RedisForceRebootRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the RedisResource"
          }
        },
        "rebootType": {
          "target": "com.azure.redis#RebootType",
          "traits": {
            "smithy.api#documentation": "Which Redis node(s) to reboot. Depending on this value data loss is possible."
          }
        },
        "shardId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "If clustering is enabled, the ID of the shard to be rebooted."
          }
        },
        "ports": {
          "target": "com.azure.redis#RedisForceRebootRequestPortsList",
          "traits": {
            "smithy.api#documentation": "A list of redis instances to reboot, specified by per-instance SSL ports or non-SSL ports."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redis#RedisForceRebootRequestPortsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "A list of redis instances to reboot, specified by per-instance SSL ports or non-SSL ports."
      }
    },
    "com.azure.redis#RebootType": {
      "type": "enum",
      "members": {
        "PRIMARYNODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PrimaryNode"
          }
        },
        "SECONDARYNODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SecondaryNode"
          }
        },
        "ALLNODES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AllNodes"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Which Redis node(s) to reboot. Depending on this value data loss is possible."
      }
    },
    "com.azure.redis#RedisFlushCache": {
      "type": "operation",
      "input": {
        "target": "com.azure.redis#RedisFlushCacheRequest"
      },
      "output": {
        "target": "com.azure.redis#RedisFlushCacheResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/flush",
          "code": 200,
          "apiVersion": "2024-11-01"
        },
        "smithy.api#documentation": "Deletes all of the keys in a cache.",
        "com.distilled.openapi#apiVersion": "2024-11-01"
      }
    },
    "com.azure.redis#RedisFlushCacheResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID for the async operation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the async operation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation status.",
            "smithy.api#required": {}
          }
        },
        "percentComplete": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percent of the operation that is complete."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time of the operation."
          }
        },
        "operations": {
          "target": "com.azure.redis#RedisFlushCacheResponseOperationsList",
          "traits": {
            "smithy.api#documentation": "The operations list."
          }
        },
        "error": {
          "target": "com.azure.redis#ErrorDetail",
          "traits": {
            "smithy.api#documentation": "If present, details of the operation error."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.redis#ErrorDetail": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error target."
          }
        },
        "details": {
          "target": "com.azure.redis#ErrorDetailDetailsList",
          "traits": {
            "smithy.api#documentation": "The error details."
          }
        },
        "additionalInfo": {
          "target": "com.azure.redis#ErrorDetailAdditionalInfoList",
          "traits": {
            "smithy.api#documentation": "The error additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The error detail."
      }
    },
    "com.azure.redis#ErrorDetailAdditionalInfoList": {
      "type": "list",
      "member": {
        "target": "com.azure.redis#ErrorAdditionalInfo"
      },
      "traits": {
        "smithy.api#documentation": "The error additional info."
      }
    },
    "com.azure.redis#ErrorAdditionalInfo": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The additional info type."
          }
        },
        "info": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The additional info."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource management error additional info."
      }
    },
    "com.azure.redis#ErrorDetailDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.redis#ErrorDetail"
      },
      "traits": {
        "smithy.api#documentation": "The error details."
      }
    },
    "com.azure.redis#RedisFlushCacheResponseOperationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.redis#OperationStatusResult"
      },
      "traits": {
        "smithy.api#documentation": "The operations list."
      }
    },
    "com.azure.redis#OperationStatusResult": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified ID for the async operation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the async operation."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation status.",
            "smithy.api#required": {}
          }
        },
        "percentComplete": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percent of the operation that is complete."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the operation."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time of the operation."
          }
        },
        "operations": {
          "target": "com.azure.redis#OperationStatusResultOperationsList",
          "traits": {
            "smithy.api#documentation": "The operations list."
          }
        },
        "error": {
          "target": "com.azure.redis#ErrorDetail",
          "traits": {
            "smithy.api#documentation": "If present, details of the operation error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current status of an async operation."
      }
    },
    "com.azure.redis#OperationStatusResultOperationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.redis#OperationStatusResult"
      },
      "traits": {
        "smithy.api#documentation": "The operations list."
      }
    },
    "com.azure.redis#RedisFlushCacheRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "cacheName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis cache."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redis#FirewallRulesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.redis#FirewallRulesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/firewallRules/{ruleName}",
          "code": 200,
          "apiVersion": "2024-11-01"
        },
        "smithy.api#documentation": "Deletes a single firewall rule in a specified redis cache.",
        "com.distilled.openapi#apiVersion": "2024-11-01"
      }
    },
    "com.azure.redis#FirewallRulesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "cacheName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis cache."
          }
        },
        "ruleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the firewall rule."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redis#FirewallRulesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.redis#FirewallRulesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.redis#FirewallRulesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/firewallRules/{ruleName}",
          "code": 200,
          "apiVersion": "2024-11-01"
        },
        "smithy.api#documentation": "Create or update a redis cache firewall rule",
        "com.distilled.openapi#apiVersion": "2024-11-01"
      }
    },
    "com.azure.redis#FirewallRulesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.redis#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.redis#RedisFirewallRuleProperties",
          "traits": {
            "smithy.api#documentation": "redis cache firewall rule properties",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.redis#RedisFirewallRuleProperties": {
      "type": "structure",
      "members": {
        "startIP": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "lowest IP address included in the range",
            "smithy.api#required": {}
          }
        },
        "endIP": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "highest IP address included in the range",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies a range of IP addresses permitted to connect to the cache"
      }
    },
    "com.azure.redis#FirewallRulesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "cacheName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis cache."
          }
        },
        "ruleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the firewall rule."
          }
        },
        "properties": {
          "target": "com.azure.redis#RedisFirewallRuleProperties",
          "traits": {
            "smithy.api#documentation": "redis cache firewall rule properties",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redis#FirewallRulesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.redis#FirewallRulesGetRequest"
      },
      "output": {
        "target": "com.azure.redis#FirewallRulesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/firewallRules/{ruleName}",
          "code": 200,
          "apiVersion": "2024-11-01"
        },
        "smithy.api#documentation": "Gets a single firewall rule in a specified redis cache.",
        "com.distilled.openapi#apiVersion": "2024-11-01"
      }
    },
    "com.azure.redis#FirewallRulesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.redis#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.redis#RedisFirewallRuleProperties",
          "traits": {
            "smithy.api#documentation": "redis cache firewall rule properties",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.redis#FirewallRulesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "cacheName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis cache."
          }
        },
        "ruleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the firewall rule."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redis#FirewallRulesList": {
      "type": "operation",
      "input": {
        "target": "com.azure.redis#FirewallRulesListRequest"
      },
      "output": {
        "target": "com.azure.redis#RedisFirewallRuleListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redis/{cacheName}/firewallRules",
          "code": 200,
          "apiVersion": "2024-11-01"
        },
        "smithy.api#documentation": "Gets all firewall rules in the specified redis cache.",
        "com.distilled.openapi#apiVersion": "2024-11-01"
      }
    },
    "com.azure.redis#RedisFirewallRuleListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.redis#RedisFirewallRuleListResultValueList",
          "traits": {
            "smithy.api#documentation": "The RedisFirewallRule items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a RedisFirewallRule list operation."
      }
    },
    "com.azure.redis#RedisFirewallRuleListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.redis#RedisFirewallRule"
      },
      "traits": {
        "smithy.api#documentation": "The RedisFirewallRule items on this page"
      }
    },
    "com.azure.redis#RedisFirewallRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.redis#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.redis#RedisFirewallRuleProperties",
          "traits": {
            "smithy.api#documentation": "redis cache firewall rule properties",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A firewall rule on a redis cache has a name, and describes a contiguous range of IP addresses permitted to connect"
      }
    },
    "com.azure.redis#FirewallRulesListRequest": {
[...]
