{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.redisenterprise#DatabasesUpgradeDBRedisVersion": {
      "type": "operation",
      "input": {
        "target": "com.azure.redisenterprise#DatabasesUpgradeDBRedisVersionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise/{clusterName}/databases/{databaseName}/upgradeDBRedisVersion",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Upgrades the database Redis version to the latest available.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.redisenterprise#DatabasesUpgradeDBRedisVersionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise cluster. Name must be 1-60 characters long. Allowed characters(A-Z, a-z, 0-9) and hyphen(-). There can be no leading nor trailing nor consecutive hyphens"
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise database."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redisenterprise#DatabasesFlush": {
      "type": "operation",
      "input": {
        "target": "com.azure.redisenterprise#DatabasesFlushRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise/{clusterName}/databases/{databaseName}/flush",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Flushes all the keys in this database and also from its linked databases.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.redisenterprise#DatabasesFlushRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise cluster. Name must be 1-60 characters long. Allowed characters(A-Z, a-z, 0-9) and hyphen(-). There can be no leading nor trailing nor consecutive hyphens"
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise database."
          }
        },
        "ids": {
          "target": "com.azure.redisenterprise#DatabasesFlushRequestIdsList",
          "traits": {
            "smithy.api#documentation": "The identifiers of all the other database resources in the georeplication group to be flushed."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redisenterprise#DatabasesFlushRequestIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The identifiers of all the other database resources in the georeplication group to be flushed."
      }
    },
    "com.azure.redisenterprise#DatabasesForceLinkToReplicationGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.redisenterprise#DatabasesForceLinkToReplicationGroupRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise/{clusterName}/databases/{databaseName}/forceLinkToReplicationGroup",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Forcibly recreates an existing database on the specified cluster, and rejoins it to an existing replication group. **IMPORTANT NOTE:** All data in this database will be discarded, and the database will temporarily be unavailable while rejoining the replication group.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.redisenterprise#DatabasesForceLinkToReplicationGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise cluster. Name must be 1-60 characters long. Allowed characters(A-Z, a-z, 0-9) and hyphen(-). There can be no leading nor trailing nor consecutive hyphens"
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise database."
          }
        },
        "geoReplication": {
          "target": "com.azure.redisenterprise#DatabasesForceLinkToReplicationGroupRequestGeoReplication",
          "traits": {
            "smithy.api#documentation": "Properties to configure geo replication for this database.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redisenterprise#DatabasesForceLinkToReplicationGroupRequestGeoReplication": {
      "type": "structure",
      "members": {
        "groupNickname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the group of linked database resources. This should match the existing replication group name."
          }
        },
        "linkedDatabases": {
          "target": "com.azure.redisenterprise#DatabasesForceLinkToReplicationGroupRequestGeoReplicationLinkedDatabasesList",
          "traits": {
            "smithy.api#documentation": "The resource IDs of the databases that are expected to be linked and included in the replication group. This parameter is used to validate that the linking is to the expected (unlinked) part of the replication group, if it is splintered."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties to configure geo replication for this database."
      }
    },
    "com.azure.redisenterprise#DatabasesForceLinkToReplicationGroupRequestGeoReplicationLinkedDatabasesList": {
      "type": "list",
      "member": {
        "target": "com.azure.redisenterprise#LinkedDatabaseInput"
      },
      "traits": {
        "smithy.api#documentation": "The resource IDs of the databases that are expected to be linked and included in the replication group. This parameter is used to validate that the linking is to the expected (unlinked) part of the replication group, if it is splintered."
      }
    },
    "com.azure.redisenterprise#LinkedDatabaseInput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID of a database resource to link with this database."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies details of a linked database resource."
      }
    },
    "com.azure.redisenterprise#DatabasesForceUnlink": {
      "type": "operation",
      "input": {
        "target": "com.azure.redisenterprise#DatabasesForceUnlinkRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise/{clusterName}/databases/{databaseName}/forceUnlink",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Forcibly removes the link to the specified database resource.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.redisenterprise#DatabasesForceUnlinkRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise cluster. Name must be 1-60 characters long. Allowed characters(A-Z, a-z, 0-9) and hyphen(-). There can be no leading nor trailing nor consecutive hyphens"
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise database."
          }
        },
        "ids": {
          "target": "com.azure.redisenterprise#DatabasesForceUnlinkRequestIdsList",
          "traits": {
            "smithy.api#documentation": "The resource IDs of the database resources to be unlinked.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redisenterprise#DatabasesForceUnlinkRequestIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The resource IDs of the database resources to be unlinked."
      }
    },
    "com.azure.redisenterprise#PrivateLinkResourcesListByCluster": {
      "type": "operation",
      "input": {
        "target": "com.azure.redisenterprise#PrivateLinkResourcesListByClusterRequest"
      },
      "output": {
        "target": "com.azure.redisenterprise#PrivateLinkResourcesListByClusterResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise/{clusterName}/privateLinkResources",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Gets the private link resources that need to be created for a Redis Enterprise cluster.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.redisenterprise#PrivateLinkResourcesListByClusterResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.redisenterprise#PrivateLinkResourcesListByClusterResponseValueList",
          "traits": {
            "smithy.api#documentation": "Array of private link resources"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.redisenterprise#PrivateLinkResourcesListByClusterResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.redisenterprise#PrivateLinkResource"
      },
      "traits": {
        "smithy.api#documentation": "Array of private link resources"
      }
    },
    "com.azure.redisenterprise#PrivateLinkResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.redisenterprise#PrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A private link resource"
      }
    },
    "com.azure.redisenterprise#PrivateLinkResourceProperties": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The private link resource group id."
          }
        },
        "requiredMembers": {
          "target": "com.azure.redisenterprise#PrivateLinkResourcePropertiesRequiredMembersList",
          "traits": {
            "smithy.api#documentation": "The private link resource required member names."
          }
        },
        "requiredZoneNames": {
          "target": "com.azure.redisenterprise#PrivateLinkResourcePropertiesRequiredZoneNamesList",
          "traits": {
            "smithy.api#documentation": "The private link resource Private link DNS zone name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a private link resource."
      }
    },
    "com.azure.redisenterprise#PrivateLinkResourcePropertiesRequiredZoneNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The private link resource Private link DNS zone name."
      }
    },
    "com.azure.redisenterprise#PrivateLinkResourcePropertiesRequiredMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The private link resource required member names."
      }
    },
    "com.azure.redisenterprise#PrivateLinkResourcesListByClusterRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise cluster. Name must be 1-60 characters long. Allowed characters(A-Z, a-z, 0-9) and hyphen(-). There can be no leading nor trailing nor consecutive hyphens"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redisenterprise#PrivateEndpointConnectionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.redisenterprise#PrivateEndpointConnectionsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise/{clusterName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Deletes the specified private endpoint connection associated with the Redis Enterprise cluster.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.redisenterprise#PrivateEndpointConnectionsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise cluster. Name must be 1-60 characters long. Allowed characters(A-Z, a-z, 0-9) and hyphen(-). There can be no leading nor trailing nor consecutive hyphens"
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection associated with the Azure resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redisenterprise#PrivateEndpointConnectionsPut": {
      "type": "operation",
      "input": {
        "target": "com.azure.redisenterprise#PrivateEndpointConnectionsPutRequest"
      },
      "output": {
        "target": "com.azure.redisenterprise#PrivateEndpointConnectionsPutResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise/{clusterName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Updates the state of the specified private endpoint connection associated with the Redis Enterprise cluster.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.redisenterprise#PrivateEndpointConnectionsPutResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.redisenterprise#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.redisenterprise#PrivateEndpointConnectionProperties": {
      "type": "structure",
      "members": {
        "privateEndpoint": {
          "target": "com.azure.redisenterprise#PrivateEndpoint",
          "traits": {
            "smithy.api#documentation": "The resource of private end point."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.redisenterprise#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.redisenterprise#PrivateEndpointConnectionProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the private endpoint connection resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the PrivateEndpointConnectProperties."
      }
    },
    "com.azure.redisenterprise#PrivateEndpointConnectionProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current provisioning state."
      }
    },
    "com.azure.redisenterprise#PrivateLinkServiceConnectionState": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.redisenterprise#PrivateEndpointServiceConnectionStatus",
          "traits": {
            "smithy.api#documentation": "Indicates whether the connection has been Approved/Rejected/Removed by the owner of the service."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason for approval/rejection of the connection."
          }
        },
        "actionsRequired": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A message indicating if changes on the service provider require any updates on the consumer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider."
      }
    },
    "com.azure.redisenterprise#PrivateEndpointServiceConnectionStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint connection status."
      }
    },
    "com.azure.redisenterprise#PrivateEndpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ARM identifier for Private Endpoint"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Private Endpoint resource."
      }
    },
    "com.azure.redisenterprise#PrivateEndpointConnectionsPutRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise cluster. Name must be 1-60 characters long. Allowed characters(A-Z, a-z, 0-9) and hyphen(-). There can be no leading nor trailing nor consecutive hyphens"
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection associated with the Azure resource"
          }
        },
        "properties": {
          "target": "com.azure.redisenterprise#PrivateEndpointConnectionPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redisenterprise#PrivateEndpointConnectionPropertiesInput": {
      "type": "structure",
      "members": {
        "privateEndpoint": {
          "target": "com.azure.redisenterprise#PrivateEndpointInput",
          "traits": {
            "smithy.api#documentation": "The resource of private end point."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.redisenterprise#PrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "A collection of information about the state of the connection between service consumer and provider.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the PrivateEndpointConnectProperties."
      }
    },
    "com.azure.redisenterprise#PrivateEndpointInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The Private Endpoint resource."
      }
    },
    "com.azure.redisenterprise#PrivateEndpointConnectionsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.redisenterprise#PrivateEndpointConnectionsGetRequest"
      },
      "output": {
        "target": "com.azure.redisenterprise#PrivateEndpointConnectionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise/{clusterName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Gets the specified private endpoint connection associated with the Redis Enterprise cluster.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.redisenterprise#PrivateEndpointConnectionsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.redisenterprise#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.redisenterprise#PrivateEndpointConnectionsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise cluster. Name must be 1-60 characters long. Allowed characters(A-Z, a-z, 0-9) and hyphen(-). There can be no leading nor trailing nor consecutive hyphens"
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection associated with the Azure resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redisenterprise#PrivateEndpointConnectionsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.redisenterprise#PrivateEndpointConnectionsListRequest"
      },
      "output": {
        "target": "com.azure.redisenterprise#PrivateEndpointConnectionsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise/{clusterName}/privateEndpointConnections",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Lists all the private endpoint connections associated with the Redis Enterprise cluster.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.redisenterprise#PrivateEndpointConnectionsListResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.redisenterprise#PrivateEndpointConnectionsListResponseValueList",
          "traits": {
            "smithy.api#documentation": "Array of private endpoint connections"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.redisenterprise#PrivateEndpointConnectionsListResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.redisenterprise#PrivateEndpointConnection"
      },
      "traits": {
        "smithy.api#documentation": "Array of private endpoint connections"
      }
    },
    "com.azure.redisenterprise#PrivateEndpointConnection": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.redisenterprise#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Private Endpoint Connection resource."
      }
    },
    "com.azure.redisenterprise#PrivateEndpointConnectionsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise cluster. Name must be 1-60 characters long. Allowed characters(A-Z, a-z, 0-9) and hyphen(-). There can be no leading nor trailing nor consecutive hyphens"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redisenterprise#RedisEnterpriseListSkusForScaling": {
      "type": "operation",
      "input": {
        "target": "com.azure.redisenterprise#RedisEnterpriseListSkusForScalingRequest"
      },
      "output": {
        "target": "com.azure.redisenterprise#SkuDetailsList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise/{clusterName}/listSkusForScaling",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Lists the available SKUs for scaling the Redis Enterprise cluster.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.redisenterprise#SkuDetailsList": {
      "type": "structure",
      "members": {
        "skus": {
          "target": "com.azure.redisenterprise#SkuDetailsListSkusList",
          "traits": {
            "smithy.api#documentation": "List of SKUS available to scale up or scale down."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a listSkusForScaling operation."
      }
    },
    "com.azure.redisenterprise#SkuDetailsListSkusList": {
      "type": "list",
      "member": {
        "target": "com.azure.redisenterprise#SkuDetails"
      },
      "traits": {
        "smithy.api#documentation": "List of SKUS available to scale up or scale down."
      }
    },
    "com.azure.redisenterprise#SkuDetails": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the SKU."
          }
        },
        "sizeInGB": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The cache size in GB."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a Redis Enterprise cluster SKU."
      }
    },
    "com.azure.redisenterprise#RedisEnterpriseListSkusForScalingRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise cluster. Name must be 1-60 characters long. Allowed characters(A-Z, a-z, 0-9) and hyphen(-). There can be no leading nor trailing nor consecutive hyphens"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redisenterprise#AccessPolicyAssignmentList2": {
      "type": "operation",
      "input": {
        "target": "com.azure.redisenterprise#AccessPolicyAssignmentListRequest"
      },
      "output": {
        "target": "com.azure.redisenterprise#AccessPolicyAssignmentList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise/{clusterName}/databases/{databaseName}/accessPolicyAssignments",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Gets all access policy assignments..",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.redisenterprise#AccessPolicyAssignmentList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.redisenterprise#AccessPolicyAssignmentListValueList",
          "traits": {
            "smithy.api#documentation": "List of access policy assignments."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI to fetch the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a list-all operation."
      }
    },
    "com.azure.redisenterprise#AccessPolicyAssignmentListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.redisenterprise#AccessPolicyAssignment"
      },
      "traits": {
        "smithy.api#documentation": "List of access policy assignments."
      }
    },
    "com.azure.redisenterprise#AccessPolicyAssignment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.redisenterprise#AccessPolicyAssignmentProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the access policy assignment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the access policy assignment of Redis Enterprise database"
      }
    },
    "com.azure.redisenterprise#AccessPolicyAssignmentProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.redisenterprise#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Current provisioning status of the access policy assignment."
          }
        },
        "accessPolicyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of access policy under specific access policy assignment. Only \"default\" policy is supported for now.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.azure.redisenterprise#AccessPolicyAssignmentPropertiesUser",
          "traits": {
            "smithy.api#documentation": "The user associated with the access policy.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of Redis Enterprise database access policy assignment."
      }
    },
    "com.azure.redisenterprise#AccessPolicyAssignmentPropertiesUser": {
      "type": "structure",
      "members": {
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object ID of the user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The user associated with the access policy."
      }
    },
    "com.azure.redisenterprise#ProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current provisioning status"
      }
    },
    "com.azure.redisenterprise#AccessPolicyAssignmentListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise cluster. Name must be 1-60 characters long. Allowed characters(A-Z, a-z, 0-9) and hyphen(-). There can be no leading nor trailing nor consecutive hyphens"
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise database."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redisenterprise#AccessPolicyAssignmentDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.redisenterprise#AccessPolicyAssignmentDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise/{clusterName}/databases/{databaseName}/accessPolicyAssignments/{accessPolicyAssignmentName}",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Deletes a single access policy assignment.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.redisenterprise#AccessPolicyAssignmentDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise cluster. Name must be 1-60 characters long. Allowed characters(A-Z, a-z, 0-9) and hyphen(-). There can be no leading nor trailing nor consecutive hyphens"
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise database."
          }
        },
        "accessPolicyAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise database access policy assignment."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redisenterprise#AccessPolicyAssignmentCreateUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.redisenterprise#AccessPolicyAssignmentCreateUpdateRequest"
      },
      "output": {
        "target": "com.azure.redisenterprise#AccessPolicyAssignmentCreateUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise/{clusterName}/databases/{databaseName}/accessPolicyAssignments/{accessPolicyAssignmentName}",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Creates/Updates a particular access policy assignment for a database",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.redisenterprise#AccessPolicyAssignmentCreateUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.redisenterprise#AccessPolicyAssignmentProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the access policy assignment."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.redisenterprise#AccessPolicyAssignmentCreateUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise cluster. Name must be 1-60 characters long. Allowed characters(A-Z, a-z, 0-9) and hyphen(-). There can be no leading nor trailing nor consecutive hyphens"
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise database."
          }
        },
        "accessPolicyAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise database access policy assignment."
          }
        },
        "properties": {
          "target": "com.azure.redisenterprise#AccessPolicyAssignmentPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Properties of the access policy assignment."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redisenterprise#AccessPolicyAssignmentPropertiesInput": {
      "type": "structure",
      "members": {
        "accessPolicyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of access policy under specific access policy assignment. Only \"default\" policy is supported for now.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.azure.redisenterprise#AccessPolicyAssignmentPropertiesInputUser",
          "traits": {
            "smithy.api#documentation": "The user associated with the access policy.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of Redis Enterprise database access policy assignment."
      }
    },
    "com.azure.redisenterprise#AccessPolicyAssignmentPropertiesInputUser": {
      "type": "structure",
      "members": {
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object ID of the user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The user associated with the access policy."
      }
    },
    "com.azure.redisenterprise#AccessPolicyAssignmentGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.redisenterprise#AccessPolicyAssignmentGetRequest"
      },
      "output": {
        "target": "com.azure.redisenterprise#AccessPolicyAssignmentGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise/{clusterName}/databases/{databaseName}/accessPolicyAssignments/{accessPolicyAssignmentName}",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Gets information about access policy assignment for database.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.redisenterprise#AccessPolicyAssignmentGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.redisenterprise#AccessPolicyAssignmentProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the access policy assignment."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.redisenterprise#AccessPolicyAssignmentGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise cluster. Name must be 1-60 characters long. Allowed characters(A-Z, a-z, 0-9) and hyphen(-). There can be no leading nor trailing nor consecutive hyphens"
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise database."
          }
        },
        "accessPolicyAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise database access policy assignment."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redisenterprise#DatabasesExport": {
      "type": "operation",
      "input": {
        "target": "com.azure.redisenterprise#DatabasesExportRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise/{clusterName}/databases/{databaseName}/export",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Exports a database file from target database.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.redisenterprise#DatabasesExportRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise cluster. Name must be 1-60 characters long. Allowed characters(A-Z, a-z, 0-9) and hyphen(-). There can be no leading nor trailing nor consecutive hyphens"
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise database."
          }
        },
        "sasUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SAS URI for the target directory to export to",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redisenterprise#DatabasesImport": {
      "type": "operation",
      "input": {
        "target": "com.azure.redisenterprise#DatabasesImportRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise/{clusterName}/databases/{databaseName}/import",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Imports database files to target database.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.redisenterprise#DatabasesImportRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise cluster. Name must be 1-60 characters long. Allowed characters(A-Z, a-z, 0-9) and hyphen(-). There can be no leading nor trailing nor consecutive hyphens"
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise database."
          }
        },
        "sasUris": {
          "target": "com.azure.redisenterprise#DatabasesImportRequestSasUrisList",
          "traits": {
            "smithy.api#documentation": "SAS URIs for the target blobs to import from",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redisenterprise#DatabasesImportRequestSasUrisList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "SAS URIs for the target blobs to import from"
      }
    },
    "com.azure.redisenterprise#DatabasesRegenerateKey": {
      "type": "operation",
      "input": {
        "target": "com.azure.redisenterprise#DatabasesRegenerateKeyRequest"
      },
      "output": {
        "target": "com.azure.redisenterprise#AccessKeys"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise/{clusterName}/databases/{databaseName}/regenerateKey",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Regenerates the Redis Enterprise database's access keys.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.redisenterprise#AccessKeys": {
      "type": "structure",
      "members": {
        "primaryKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current primary key that clients can use to authenticate"
          }
        },
        "secondaryKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current secondary key that clients can use to authenticate"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The secret access keys used for authenticating connections to redis"
      }
    },
    "com.azure.redisenterprise#DatabasesRegenerateKeyRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise cluster. Name must be 1-60 characters long. Allowed characters(A-Z, a-z, 0-9) and hyphen(-). There can be no leading nor trailing nor consecutive hyphens"
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise database."
          }
        },
        "keyType": {
          "target": "com.azure.redisenterprise#DatabasesRegenerateKeyRequestKeyType",
          "traits": {
            "smithy.api#documentation": "Which access key to regenerate.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redisenterprise#DatabasesRegenerateKeyRequestKeyType": {
      "type": "enum",
      "members": {
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Primary"
          }
        },
        "SECONDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Secondary"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Which access key to regenerate."
      }
    },
    "com.azure.redisenterprise#DatabasesListKeys": {
      "type": "operation",
      "input": {
        "target": "com.azure.redisenterprise#DatabasesListKeysRequest"
      },
      "output": {
        "target": "com.azure.redisenterprise#AccessKeys"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise/{clusterName}/databases/{databaseName}/listKeys",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Retrieves the access keys for the Redis Enterprise database.",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.redisenterprise#DatabasesListKeysRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise cluster. Name must be 1-60 characters long. Allowed characters(A-Z, a-z, 0-9) and hyphen(-). There can be no leading nor trailing nor consecutive hyphens"
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise database."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redisenterprise#DatabasesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.redisenterprise#DatabasesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise/{clusterName}/databases/{databaseName}",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Deletes a single database",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.redisenterprise#DatabasesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise cluster. Name must be 1-60 characters long. Allowed characters(A-Z, a-z, 0-9) and hyphen(-). There can be no leading nor trailing nor consecutive hyphens"
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise database."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redisenterprise#DatabasesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.redisenterprise#DatabasesUpdateRequest"
      },
      "output": {
        "target": "com.azure.redisenterprise#DatabasesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise/{clusterName}/databases/{databaseName}",
          "code": 200,
          "apiVersion": "2025-07-01"
        },
        "smithy.api#documentation": "Updates a database",
        "com.distilled.openapi#apiVersion": "2025-07-01"
      }
    },
    "com.azure.redisenterprise#DatabasesUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.redisenterprise#DatabaseCreateProperties",
          "traits": {
            "smithy.api#documentation": "Other properties of the database."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.redisenterprise#DatabaseCreateProperties": {
      "type": "structure",
      "members": {
        "clientProtocol": {
          "target": "com.azure.redisenterprise#DatabaseCreatePropertiesClientProtocol",
          "traits": {
            "smithy.api#documentation": "Specifies whether redis clients can connect using TLS-encrypted or plaintext redis protocols. Default is TLS-encrypted."
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "TCP port of the database endpoint. Specified at create time. Defaults to an available port."
          }
        },
        "provisioningState": {
          "target": "com.azure.redisenterprise#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Current provisioning status of the database"
          }
        },
        "resourceState": {
          "target": "com.azure.redisenterprise#ResourceState",
          "traits": {
            "smithy.api#documentation": "Current resource status of the database"
          }
        },
        "clusteringPolicy": {
          "target": "com.azure.redisenterprise#DatabaseCreatePropertiesClusteringPolicy",
          "traits": {
            "smithy.api#documentation": "Clustering policy - default is OSSCluster. This property can be updated only if the current value is NoCluster. If the value is OSSCluster or EnterpriseCluster, it cannot be updated without deleting the database."
          }
        },
        "evictionPolicy": {
          "target": "com.azure.redisenterprise#DatabaseCreatePropertiesEvictionPolicy",
          "traits": {
            "smithy.api#documentation": "Redis eviction policy - default is VolatileLRU"
          }
        },
        "persistence": {
          "target": "com.azure.redisenterprise#Persistence",
          "traits": {
            "smithy.api#documentation": "Persistence settings"
          }
        },
        "modules": {
          "target": "com.azure.redisenterprise#DatabaseCreatePropertiesModulesList",
          "traits": {
            "smithy.api#documentation": "Optional set of redis modules to enable in this database - modules can only be added at creation time."
          }
        },
        "geoReplication": {
          "target": "com.azure.redisenterprise#DatabaseCreatePropertiesGeoReplication",
          "traits": {
            "smithy.api#documentation": "Optional set of properties to configure geo replication for this database."
          }
        },
        "redisVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of Redis the database is running on, e.g. '6.0'"
          }
        },
        "deferUpgrade": {
          "target": "com.azure.redisenterprise#DatabaseCreatePropertiesDeferUpgrade",
          "traits": {
            "smithy.api#documentation": "Option to defer upgrade when newest version is released - default is NotDeferred. Learn more: https://aka.ms/redisversionupgrade"
          }
        },
        "accessKeysAuthentication": {
          "target": "com.azure.redisenterprise#DatabaseCreatePropertiesAccessKeysAuthentication",
          "traits": {
            "smithy.api#documentation": "This property can be Enabled/Disabled to allow or deny access with the current access keys. Can be updated even after database is created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties for creating Redis Enterprise databases"
      }
    },
    "com.azure.redisenterprise#DatabaseCreatePropertiesAccessKeysAuthentication": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This property can be Enabled/Disabled to allow or deny access with the current access keys. Can be updated even after database is created."
      }
    },
    "com.azure.redisenterprise#DatabaseCreatePropertiesDeferUpgrade": {
      "type": "enum",
      "members": {
        "DEFERRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deferred"
          }
        },
        "NOTDEFERRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotDeferred"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Option to defer upgrade when newest version is released - default is NotDeferred. Learn more: https://aka.ms/redisversionupgrade"
      }
    },
    "com.azure.redisenterprise#DatabaseCreatePropertiesGeoReplication": {
      "type": "structure",
      "members": {
        "groupNickname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name for the group of linked database resources"
          }
        },
        "linkedDatabases": {
          "target": "com.azure.redisenterprise#DatabaseCreatePropertiesGeoReplicationLinkedDatabasesList",
          "traits": {
            "smithy.api#documentation": "List of database resources to link with this database"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional set of properties to configure geo replication for this database."
      }
    },
    "com.azure.redisenterprise#DatabaseCreatePropertiesGeoReplicationLinkedDatabasesList": {
      "type": "list",
      "member": {
        "target": "com.azure.redisenterprise#LinkedDatabase"
      },
      "traits": {
        "smithy.api#documentation": "List of database resources to link with this database"
      }
    },
    "com.azure.redisenterprise#LinkedDatabase": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID of a database resource to link with this database."
          }
        },
        "state": {
          "target": "com.azure.redisenterprise#LinkedDatabaseState",
          "traits": {
            "smithy.api#documentation": "State of the link between the database resources."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies details of a linked database resource."
      }
    },
    "com.azure.redisenterprise#LinkedDatabaseState": {
      "type": "enum",
      "members": {
        "LINKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Linked"
          }
        },
        "LINKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Linking"
          }
        },
        "UNLINKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unlinking"
          }
        },
        "LINKFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LinkFailed"
          }
        },
        "UNLINKFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UnlinkFailed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State of the link between the database resources."
      }
    },
    "com.azure.redisenterprise#DatabaseCreatePropertiesModulesList": {
      "type": "list",
      "member": {
        "target": "com.azure.redisenterprise#Module"
      },
      "traits": {
        "smithy.api#documentation": "Optional set of redis modules to enable in this database - modules can only be added at creation time."
      }
    },
    "com.azure.redisenterprise#Module": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the module, e.g. 'RedisBloom', 'RediSearch', 'RedisTimeSeries'",
            "smithy.api#required": {}
          }
        },
        "args": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Configuration options for the module, e.g. 'ERROR_RATE 0.01 INITIAL_SIZE 400'."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the module, e.g. '1.0'."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies configuration of a redis module"
      }
    },
    "com.azure.redisenterprise#Persistence": {
      "type": "structure",
      "members": {
        "aofEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Sets whether AOF is enabled. Note that at most one of AOF or RDB persistence may be enabled."
          }
        },
        "rdbEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Sets whether RDB is enabled. Note that at most one of AOF or RDB persistence may be enabled."
          }
        },
        "aofFrequency": {
          "target": "com.azure.redisenterprise#PersistenceAofFrequency",
          "traits": {
            "smithy.api#documentation": "Sets the frequency at which data is written to disk. Defaults to '1s', meaning 'every second'. Note that the 'always' setting is deprecated, because of its performance impact."
          }
        },
        "rdbFrequency": {
          "target": "com.azure.redisenterprise#PersistenceRdbFrequency",
          "traits": {
            "smithy.api#documentation": "Sets the frequency at which a snapshot of the database is created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Persistence-related configuration for the Redis Enterprise database"
      }
    },
    "com.azure.redisenterprise#PersistenceRdbFrequency": {
      "type": "enum",
      "members": {
        "_1H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1h"
          }
        },
        "_6H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "6h"
          }
        },
        "_12H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "12h"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sets the frequency at which a snapshot of the database is created."
      }
    },
    "com.azure.redisenterprise#PersistenceAofFrequency": {
      "type": "enum",
      "members": {
        "_1S": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1s"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "always"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sets the frequency at which data is written to disk. Defaults to '1s', meaning 'every second'. Note that the 'always' setting is deprecated, because of its performance impact."
      }
    },
    "com.azure.redisenterprise#DatabaseCreatePropertiesEvictionPolicy": {
      "type": "enum",
      "members": {
        "ALLKEYSLFU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AllKeysLFU"
          }
        },
        "ALLKEYSLRU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AllKeysLRU"
          }
        },
        "ALLKEYSRANDOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AllKeysRandom"
          }
        },
        "VOLATILELRU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VolatileLRU"
          }
        },
        "VOLATILELFU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VolatileLFU"
          }
        },
        "VOLATILETTL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VolatileTTL"
          }
        },
        "VOLATILERANDOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VolatileRandom"
          }
        },
        "NOEVICTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NoEviction"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Redis eviction policy - default is VolatileLRU"
      }
    },
    "com.azure.redisenterprise#DatabaseCreatePropertiesClusteringPolicy": {
      "type": "enum",
      "members": {
        "ENTERPRISECLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EnterpriseCluster"
          }
        },
        "OSSCLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OSSCluster"
          }
        },
        "NOCLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NoCluster"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Clustering policy - default is OSSCluster. This property can be updated only if the current value is NoCluster. If the value is OSSCluster or EnterpriseCluster, it cannot be updated without deleting the database."
      }
    },
    "com.azure.redisenterprise#ResourceState": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "CREATEFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreateFailed"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "UPDATEFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UpdateFailed"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "DELETEFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeleteFailed"
          }
        },
        "ENABLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabling"
          }
        },
        "ENABLEFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EnableFailed"
          }
        },
        "DISABLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabling"
          }
        },
        "DISABLEFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DisableFailed"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        },
        "SCALING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Scaling"
          }
        },
        "SCALINGFAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ScalingFailed"
          }
        },
        "MOVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Moving"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current resource status"
      }
    },
    "com.azure.redisenterprise#DatabaseCreatePropertiesClientProtocol": {
      "type": "enum",
      "members": {
        "ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Encrypted"
          }
        },
        "PLAINTEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Plaintext"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies whether redis clients can connect using TLS-encrypted or plaintext redis protocols. Default is TLS-encrypted."
      }
    },
    "com.azure.redisenterprise#DatabasesUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise cluster. Name must be 1-60 characters long. Allowed characters(A-Z, a-z, 0-9) and hyphen(-). There can be no leading nor trailing nor consecutive hyphens"
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Redis Enterprise database."
          }
        },
        "properties": {
          "target": "com.azure.redisenterprise#DatabaseUpdatePropertiesInput",
          "traits": {
            "smithy.api#documentation": "Properties of the database."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.redisenterprise#DatabaseUpdatePropertiesInput": {
      "type": "structure",
      "members": {
        "clientProtocol": {
          "target": "com.azure.redisenterprise#DatabaseUpdatePropertiesInputClientProtocol",
          "traits": {
            "smithy.api#documentation": "Specifies whether redis clients can connect using TLS-encrypted or plaintext redis protocols. Default is TLS-encrypted."
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "TCP port of the database endpoint. Specified at create time. Defaults to an available port."
          }
        },
        "clusteringPolicy": {
          "target": "com.azure.redisenterprise#DatabaseUpdatePropertiesInputClusteringPolicy",
          "traits": {
            "smithy.api#documentation": "Clustering policy - default is OSSCluster. This property can be updated only if the current value is NoCluster. If the value is OSSCluster or EnterpriseCluster, it cannot be updated without deleting the database."
          }
        },
        "evictionPolicy": {
          "target": "com.azure.redisenterprise#DatabaseUpdatePropertiesInputEvictionPolicy",
          "traits": {
            "smithy.api#documentation": "Redis eviction policy - default is VolatileLRU"
          }
        },
        "persistence": {
          "target": "com.azure.redisenterprise#Persistence",
          "traits": {
            "smithy.api#documentation": "Persistence settings"
          }
        },
        "modules": {
          "target": "com.azure.redisenterprise#DatabaseUpdatePropertiesInputModulesList",
          "traits": {
            "smithy.api#documentation": "Optional set of redis modules to enable in this database - modules can only be added at creation time."
          }
        },
        "geoReplication": {
          "target": "com.azure.redisenterprise#DatabaseUpdatePropertiesInputGeoReplication",
          "traits": {
            "smithy.api#documentation": "Optional set of properties to configure geo replication for this database."
          }
        },
        "deferUpgrade": {
          "target": "com.azure.redisenterprise#DatabaseUpdatePropertiesInputDeferUpgrade",
          "traits": {
            "smithy.api#documentation": "Option to defer upgrade when newest version is released - default is NotDeferred. Learn more: https://aka.ms/redisversionupgrade"
          }
        },
        "accessKeysAuthentication": {
          "target": "com.azure.redisenterprise#DatabaseUpdatePropertiesInputAccessKeysAuthentication",
          "traits": {
            "smithy.api#documentation": "This property can be Enabled/Disabled to allow or deny access with the current access keys. Can be updated even after database is created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties for updating Redis Enterprise databases"
      }
    },
    "com.azure.redisenterprise#DatabaseUpdatePropertiesInputAccessKeysAuthentication": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This property can be Enabled/Disabled to allow or deny access with the current access keys. Can be updated even after database is created."
      }
    },
    "com.azure.redisenterprise#DatabaseUpdatePropertiesInputDeferUpgrade": {
      "type": "enum",
      "members": {
        "DEFERRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deferred"
          }
        },
        "NOTDEFERRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotDeferred"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Option to defer upgrade when newest version is released - default is NotDeferred. Learn more: https://aka.ms/redisversionupgrade"
      }
    },
    "com.azure.redisenterprise#DatabaseUpdatePropertiesInputGeoReplication": {
      "type": "structure",
      "members": {
        "groupNickname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name for the group of linked database resources"
          }
        },
        "linkedDatabases": {
          "target": "com.azure.redisenterprise#DatabaseUpdatePropertiesInputGeoReplicationLinkedDatabasesList",
          "traits": {
            "smithy.api#documentation": "List of database resources to link with this database"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional set of properties to configure geo replication for this database."
      }
    },
    "com.azure.redisenterprise#DatabaseUpdatePropertiesInputGeoReplicationLinkedDatabasesList": {
      "type": "list",
      "member": {
        "target": "com.azure.redisenterprise#LinkedDatabaseInput"
      },
      "traits": {
        "smithy.api#documentation": "List of database resources to link with this database"
      }
    },
    "com.azure.redisenterprise#DatabaseUpdatePropertiesInputModulesList": {
      "type": "list",
      "member": {
        "target": "com.azure.redisenterprise#ModuleInput"
      },
      "traits": {
        "smithy.api#documentation": "Optional set of redis modules to enable in this database - modules can only be added at creation time."
      }
    },
    "com.azure.redisenterprise#ModuleInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the module, e.g. 'RedisBloom', 'RediSearch', 'RedisTimeSeries'",
            "smithy.api#required": {}
          }
        },
        "args": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Configuration options for the module, e.g. 'ERROR_RATE 0.01 INITIAL_SIZE 400'."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies configuration of a redis module"
      }
    },
    "com.azure.redisenterprise#DatabaseUpdatePropertiesInputEvictionPolicy": {
      "type": "enum",
      "members": {
        "ALLKEYSLFU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AllKeysLFU"
          }
        },
        "ALLKEYSLRU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AllKeysLRU"
          }
        },
        "ALLKEYSRANDOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AllKeysRandom"
          }
        },
        "VOLATILELRU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VolatileLRU"
          }
        },
        "VOLATILELFU": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
