{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.relay#WCFRelaysRegenerateKeys": {
      "type": "operation",
      "input": {
        "target": "com.azure.relay#WCFRelaysRegenerateKeysRequest"
      },
      "output": {
        "target": "com.azure.relay#AccessKeys"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/wcfRelays/{relayName}/authorizationRules/{authorizationRuleName}/regenerateKeys",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Regenerates the primary or secondary connection strings to the WCF relay.",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.relay#AccessKeys": {
      "type": "structure",
      "members": {
        "primaryConnectionString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Primary connection string of the created namespace authorization rule."
          }
        },
        "secondaryConnectionString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secondary connection string of the created namespace authorization rule."
          }
        },
        "primaryKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A base64-encoded 256-bit primary key for signing and validating the SAS token."
          }
        },
        "secondaryKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A base64-encoded 256-bit secondary key for signing and validating the SAS token."
          }
        },
        "keyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string that describes the authorization rule."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Namespace/Relay Connection String"
      }
    },
    "com.azure.relay#WCFRelaysRegenerateKeysRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "relayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The relay name."
          }
        },
        "authorizationRuleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The authorization rule name."
          }
        },
        "keyType": {
          "target": "com.azure.relay#KeyType",
          "traits": {
            "smithy.api#documentation": "The access key to regenerate.",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If the key value is provided, this is set to key type, or autogenerated key value set for key type."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.relay#KeyType": {
      "type": "enum",
      "members": {
        "PRIMARYKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PrimaryKey"
          }
        },
        "SECONDARYKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SecondaryKey"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The access key to regenerate."
      }
    },
    "com.azure.relay#WCFRelaysListKeys": {
      "type": "operation",
      "input": {
        "target": "com.azure.relay#WCFRelaysListKeysRequest"
      },
      "output": {
        "target": "com.azure.relay#AccessKeys"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/wcfRelays/{relayName}/authorizationRules/{authorizationRuleName}/listKeys",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Primary and secondary connection strings to the WCF relay.",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.relay#WCFRelaysListKeysRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "relayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The relay name."
          }
        },
        "authorizationRuleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The authorization rule name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.relay#WCFRelaysDeleteAuthorizationRule": {
      "type": "operation",
      "input": {
        "target": "com.azure.relay#WCFRelaysDeleteAuthorizationRuleRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/wcfRelays/{relayName}/authorizationRules/{authorizationRuleName}",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Deletes a WCF relay authorization rule.",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.relay#WCFRelaysDeleteAuthorizationRuleRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "relayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The relay name."
          }
        },
        "authorizationRuleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The authorization rule name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.relay#WCFRelaysCreateOrUpdateAuthorizationRule": {
      "type": "operation",
      "input": {
        "target": "com.azure.relay#WCFRelaysCreateOrUpdateAuthorizationRuleRequest"
      },
      "output": {
        "target": "com.azure.relay#WCFRelaysCreateOrUpdateAuthorizationRuleResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/wcfRelays/{relayName}/authorizationRules/{authorizationRuleName}",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Creates or updates an authorization rule for a WCF relay.",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.relay#WCFRelaysCreateOrUpdateAuthorizationRuleResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.relay#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.relay#AuthorizationRuleProperties",
          "traits": {
            "smithy.api#documentation": "Properties supplied to create or update AuthorizationRule"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.relay#AuthorizationRuleProperties": {
      "type": "structure",
      "members": {
        "rights": {
          "target": "com.azure.relay#AuthorizationRulePropertiesRightsList",
          "traits": {
            "smithy.api#documentation": "The rights associated with the rule.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties supplied to create or update AuthorizationRule"
      }
    },
    "com.azure.relay#AuthorizationRulePropertiesRightsList": {
      "type": "list",
      "member": {
        "target": "com.azure.relay#AccessRights"
      },
      "traits": {
        "smithy.api#documentation": "The rights associated with the rule."
      }
    },
    "com.azure.relay#AccessRights": {
      "type": "enum",
      "members": {
        "MANAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Manage"
          }
        },
        "SEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Send"
          }
        },
        "LISTEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Listen"
          }
        }
      },
      "traits": {}
    },
    "com.azure.relay#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.relay#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.relay#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.relay#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.relay#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.relay#WCFRelaysCreateOrUpdateAuthorizationRuleRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "relayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The relay name."
          }
        },
        "authorizationRuleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The authorization rule name."
          }
        },
        "properties": {
          "target": "com.azure.relay#AuthorizationRuleProperties",
          "traits": {
            "smithy.api#documentation": "Properties supplied to create or update AuthorizationRule"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.relay#WCFRelaysGetAuthorizationRule": {
      "type": "operation",
      "input": {
        "target": "com.azure.relay#WCFRelaysGetAuthorizationRuleRequest"
      },
      "output": {
        "target": "com.azure.relay#WCFRelaysGetAuthorizationRuleResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/wcfRelays/{relayName}/authorizationRules/{authorizationRuleName}",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Get authorizationRule for a WCF relay by name.",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.relay#WCFRelaysGetAuthorizationRuleResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.relay#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.relay#AuthorizationRuleProperties",
          "traits": {
            "smithy.api#documentation": "Properties supplied to create or update AuthorizationRule"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.relay#WCFRelaysGetAuthorizationRuleRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "relayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The relay name."
          }
        },
        "authorizationRuleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The authorization rule name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.relay#WCFRelaysListAuthorizationRules": {
      "type": "operation",
      "input": {
        "target": "com.azure.relay#WCFRelaysListAuthorizationRulesRequest"
      },
      "output": {
        "target": "com.azure.relay#AuthorizationRuleListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/wcfRelays/{relayName}/authorizationRules",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Authorization rules for a WCF relay.",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.relay#AuthorizationRuleListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.relay#AuthorizationRuleListResultValueList",
          "traits": {
            "smithy.api#documentation": "The AuthorizationRule items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a AuthorizationRule list operation."
      }
    },
    "com.azure.relay#AuthorizationRuleListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.relay#AuthorizationRule"
      },
      "traits": {
        "smithy.api#documentation": "The AuthorizationRule items on this page"
      }
    },
    "com.azure.relay#AuthorizationRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.relay#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.relay#AuthorizationRuleProperties",
          "traits": {
            "smithy.api#documentation": "Properties supplied to create or update AuthorizationRule"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Single item in a List or Get AuthorizationRule operation"
      }
    },
    "com.azure.relay#WCFRelaysListAuthorizationRulesRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "relayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The relay name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.relay#WCFRelaysDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.relay#WCFRelaysDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/wcfRelays/{relayName}",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Deletes a WCF relay.",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.relay#WCFRelaysDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "relayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The relay name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.relay#WCFRelaysCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.relay#WCFRelaysCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.relay#WCFRelaysCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/wcfRelays/{relayName}",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Creates or updates a WCF relay. This operation is idempotent.",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.relay#WCFRelaysCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.relay#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.relay#WcfRelayProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the WCF relay."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.relay#WcfRelayProperties": {
      "type": "structure",
      "members": {
        "isDynamic": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Returns true if the relay is dynamic; otherwise, false."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the WCF relay was created."
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the namespace was updated."
          }
        },
        "listenerCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of listeners for this relay. Note that min :1 and max:25 are supported."
          }
        },
        "relayType": {
          "target": "com.azure.relay#Relaytype",
          "traits": {
            "smithy.api#documentation": "WCF relay type."
          }
        },
        "requiresClientAuthorization": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Returns true if client authorization is needed for this relay; otherwise, false."
          }
        },
        "requiresTransportSecurity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Returns true if transport security is needed for this relay; otherwise, false."
          }
        },
        "userMetadata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The usermetadata is a placeholder to store user-defined string data for the WCF Relay endpoint. For example, it can be used to store descriptive data, such as list of teams and their contact information. Also, user-defined configuration settings can be stored."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the WCF relay."
      }
    },
    "com.azure.relay#Relaytype": {
      "type": "enum",
      "members": {
        "NETTCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NetTcp"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Http"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "WCF relay type."
      }
    },
    "com.azure.relay#WCFRelaysCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "relayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The relay name."
          }
        },
        "properties": {
          "target": "com.azure.relay#WcfRelayPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Properties of the WCF relay."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.relay#WcfRelayPropertiesInput": {
      "type": "structure",
      "members": {
        "relayType": {
          "target": "com.azure.relay#Relaytype",
          "traits": {
            "smithy.api#documentation": "WCF relay type."
          }
        },
        "requiresClientAuthorization": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Returns true if client authorization is needed for this relay; otherwise, false."
          }
        },
        "requiresTransportSecurity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Returns true if transport security is needed for this relay; otherwise, false."
          }
        },
        "userMetadata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The usermetadata is a placeholder to store user-defined string data for the WCF Relay endpoint. For example, it can be used to store descriptive data, such as list of teams and their contact information. Also, user-defined configuration settings can be stored."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the WCF relay."
      }
    },
    "com.azure.relay#WCFRelaysGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.relay#WCFRelaysGetRequest"
      },
      "output": {
        "target": "com.azure.relay#WCFRelaysGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/wcfRelays/{relayName}",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Returns the description for the specified WCF relay.",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.relay#WCFRelaysGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.relay#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.relay#WcfRelayProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the WCF relay."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.relay#WCFRelaysGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "relayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The relay name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.relay#WCFRelaysListByNamespace": {
      "type": "operation",
      "input": {
        "target": "com.azure.relay#WCFRelaysListByNamespaceRequest"
      },
      "output": {
        "target": "com.azure.relay#WcfRelaysListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/wcfRelays",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Lists the WCF relays within the namespace.",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.relay#WcfRelaysListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.relay#WcfRelaysListResultValueList",
          "traits": {
            "smithy.api#documentation": "The WcfRelay items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of the list WCF relay operation."
      }
    },
    "com.azure.relay#WcfRelaysListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.relay#WcfRelay"
      },
      "traits": {
        "smithy.api#documentation": "The WcfRelay items on this page"
      }
    },
    "com.azure.relay#WcfRelay": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.relay#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.relay#WcfRelayProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the WCF relay."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Description of the WCF relay resource."
      }
    },
    "com.azure.relay#WCFRelaysListByNamespaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.relay#PrivateLinkResourcesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.relay#PrivateLinkResourcesGetRequest"
      },
      "output": {
        "target": "com.azure.relay#PrivateLinkResourcesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/privateLinkResources/{privateLinkResourceName}",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Gets a private link resource by a specified group name for a container registry.",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.relay#PrivateLinkResourcesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.relay#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.relay#PrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "A resource that supports private link capabilities."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.relay#PrivateLinkResourceProperties": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The private link resource group id."
          }
        },
        "requiredMembers": {
          "target": "com.azure.relay#PrivateLinkResourcePropertiesRequiredMembersList",
          "traits": {
            "smithy.api#documentation": "The private link resource required member names."
          }
        },
        "requiredZoneNames": {
          "target": "com.azure.relay#PrivateLinkResourcePropertiesRequiredZoneNamesList",
          "traits": {
            "smithy.api#documentation": "The private link resource Private link DNS zone name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of PrivateLinkResource"
      }
    },
    "com.azure.relay#PrivateLinkResourcePropertiesRequiredZoneNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The private link resource Private link DNS zone name."
      }
    },
    "com.azure.relay#PrivateLinkResourcePropertiesRequiredMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The private link resource required member names."
      }
    },
    "com.azure.relay#PrivateLinkResourcesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "privateLinkResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private link resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.relay#PrivateLinkResourcesList": {
      "type": "operation",
      "input": {
        "target": "com.azure.relay#PrivateLinkResourcesListRequest"
      },
      "output": {
        "target": "com.azure.relay#PrivateLinkResourcesListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/privateLinkResources",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Lists the private link resources for a container registry.",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.relay#PrivateLinkResourcesListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.relay#PrivateLinkResourcesListResultValueList",
          "traits": {
            "smithy.api#documentation": "A collection of private link resources",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A link for the next page of private link resources."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of the List private link resources operation."
      }
    },
    "com.azure.relay#PrivateLinkResourcesListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.relay#PrivateLinkResource"
      },
      "traits": {
        "smithy.api#documentation": "A collection of private link resources"
      }
    },
    "com.azure.relay#PrivateLinkResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.relay#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.relay#PrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "A resource that supports private link capabilities."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that supports private link capabilities."
      }
    },
    "com.azure.relay#PrivateLinkResourcesListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.relay#PrivateEndpointConnectionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.relay#PrivateEndpointConnectionsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Deletes an existing namespace. This operation also removes all associated resources under the namespace.",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.relay#PrivateEndpointConnectionsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The PrivateEndpointConnection name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.relay#PrivateEndpointConnectionsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.relay#PrivateEndpointConnectionsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.relay#PrivateEndpointConnectionsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Creates or updates PrivateEndpointConnections of service namespace.",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.relay#PrivateEndpointConnectionsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.relay#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.relay#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the PrivateEndpointConnection."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.relay#PrivateEndpointConnectionProperties": {
      "type": "structure",
      "members": {
        "privateEndpoint": {
          "target": "com.azure.relay#PrivateEndpoint",
          "traits": {
            "smithy.api#documentation": "The Private Endpoint resource for this Connection."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.relay#ConnectionState",
          "traits": {
            "smithy.api#documentation": "Details about the state of the connection."
          }
        },
        "provisioningState": {
          "target": "com.azure.relay#EndPointProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the Private Endpoint Connection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the private endpoint connection resource."
      }
    },
    "com.azure.relay#EndPointProvisioningState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provisioning state of the Private Endpoint Connection."
      }
    },
    "com.azure.relay#ConnectionState": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.relay#PrivateLinkConnectionStatus",
          "traits": {
            "smithy.api#documentation": "Status of the connection."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the connection state."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ConnectionState information."
      }
    },
    "com.azure.relay#PrivateLinkConnectionStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disconnected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the connection."
      }
    },
    "com.azure.relay#PrivateEndpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ARM identifier for Private Endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PrivateEndpoint information."
      }
    },
    "com.azure.relay#PrivateEndpointConnectionsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The PrivateEndpointConnection name"
          }
        },
        "properties": {
          "target": "com.azure.relay#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the PrivateEndpointConnection."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.relay#PrivateEndpointConnectionsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.relay#PrivateEndpointConnectionsGetRequest"
      },
      "output": {
        "target": "com.azure.relay#PrivateEndpointConnectionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Gets a description for the specified Private Endpoint Connection name.",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.relay#PrivateEndpointConnectionsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.relay#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.relay#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the PrivateEndpointConnection."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.relay#PrivateEndpointConnectionsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The PrivateEndpointConnection name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.relay#PrivateEndpointConnectionsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.relay#PrivateEndpointConnectionsListRequest"
      },
      "output": {
        "target": "com.azure.relay#PrivateEndpointConnectionListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/privateEndpointConnections",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Gets the available PrivateEndpointConnections within a namespace.",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.relay#PrivateEndpointConnectionListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.relay#PrivateEndpointConnectionListResultValueList",
          "traits": {
            "smithy.api#documentation": "The PrivateEndpointConnection items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a PrivateEndpointConnection list operation."
      }
    },
    "com.azure.relay#PrivateEndpointConnectionListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.relay#PrivateEndpointConnection"
      },
      "traits": {
        "smithy.api#documentation": "The PrivateEndpointConnection items on this page"
      }
    },
    "com.azure.relay#PrivateEndpointConnection": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.relay#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.relay#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the PrivateEndpointConnection."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the PrivateEndpointConnection."
      }
    },
    "com.azure.relay#PrivateEndpointConnectionsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.relay#NamespacesCreateOrUpdateNetworkRuleSet": {
      "type": "operation",
      "input": {
        "target": "com.azure.relay#NamespacesCreateOrUpdateNetworkRuleSetRequest"
      },
      "output": {
        "target": "com.azure.relay#NamespacesCreateOrUpdateNetworkRuleSetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/networkRuleSets/default",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Create or update NetworkRuleSet for a Namespace.",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.relay#NamespacesCreateOrUpdateNetworkRuleSetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.relay#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.relay#NetworkRuleSetProperties",
          "traits": {
            "smithy.api#documentation": "NetworkRuleSet properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.relay#NetworkRuleSetProperties": {
      "type": "structure",
      "members": {
        "trustedServiceAccessEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Value that indicates whether Trusted Service Access is Enabled or not."
          }
        },
        "defaultAction": {
          "target": "com.azure.relay#DefaultAction",
          "traits": {
            "smithy.api#documentation": "Default Action for Network Rule Set"
          }
        },
        "publicNetworkAccess": {
          "target": "com.azure.relay#PublicNetworkAccess",
          "traits": {
            "smithy.api#documentation": "This determines if traffic is allowed over public network. By default it is enabled"
          }
        },
        "ipRules": {
          "target": "com.azure.relay#NetworkRuleSetPropertiesIpRulesList",
          "traits": {
            "smithy.api#documentation": "List of IpRules"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NetworkRuleSet properties"
      }
    },
    "com.azure.relay#NetworkRuleSetPropertiesIpRulesList": {
      "type": "list",
      "member": {
        "target": "com.azure.relay#NWRuleSetIpRules"
      },
      "traits": {
        "smithy.api#documentation": "List of IpRules"
      }
    },
    "com.azure.relay#NWRuleSetIpRules": {
      "type": "structure",
      "members": {
        "ipMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Mask"
          }
        },
        "action": {
          "target": "com.azure.relay#NetworkRuleIPAction",
          "traits": {
            "smithy.api#documentation": "The IP Filter Action"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from the List namespace operation."
      }
    },
    "com.azure.relay#NetworkRuleIPAction": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Allow"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The IP Filter Action"
      }
    },
    "com.azure.relay#PublicNetworkAccess": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        },
        "SECUREDBYPERIMETER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SecuredByPerimeter"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This determines if traffic is allowed over public network. By default it is enabled."
      }
    },
    "com.azure.relay#DefaultAction": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Allow"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deny"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Default Action for Network Rule Set"
      }
    },
    "com.azure.relay#NamespacesCreateOrUpdateNetworkRuleSetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "properties": {
          "target": "com.azure.relay#NetworkRuleSetProperties",
          "traits": {
            "smithy.api#documentation": "NetworkRuleSet properties"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.relay#NamespacesGetNetworkRuleSet": {
      "type": "operation",
      "input": {
        "target": "com.azure.relay#NamespacesGetNetworkRuleSetRequest"
      },
      "output": {
        "target": "com.azure.relay#NamespacesGetNetworkRuleSetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/networkRuleSets/default",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Gets NetworkRuleSet for a Namespace.",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.relay#NamespacesGetNetworkRuleSetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.relay#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.relay#NetworkRuleSetProperties",
          "traits": {
            "smithy.api#documentation": "NetworkRuleSet properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.relay#NamespacesGetNetworkRuleSetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.relay#HybridConnectionsRegenerateKeys": {
      "type": "operation",
      "input": {
        "target": "com.azure.relay#HybridConnectionsRegenerateKeysRequest"
      },
      "output": {
        "target": "com.azure.relay#AccessKeys"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/hybridConnections/{hybridConnectionName}/authorizationRules/{authorizationRuleName}/regenerateKeys",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Regenerates the primary or secondary connection strings to the hybrid connection.",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.relay#HybridConnectionsRegenerateKeysRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "hybridConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The hybrid connection name."
          }
        },
        "authorizationRuleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The authorization rule name."
          }
        },
        "keyType": {
          "target": "com.azure.relay#KeyType",
          "traits": {
            "smithy.api#documentation": "The access key to regenerate.",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If the key value is provided, this is set to key type, or autogenerated key value set for key type."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.relay#HybridConnectionsListKeys": {
      "type": "operation",
      "input": {
        "target": "com.azure.relay#HybridConnectionsListKeysRequest"
      },
      "output": {
        "target": "com.azure.relay#AccessKeys"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/hybridConnections/{hybridConnectionName}/authorizationRules/{authorizationRuleName}/listKeys",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Primary and secondary connection strings to the hybrid connection.",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.relay#HybridConnectionsListKeysRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "hybridConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The hybrid connection name."
          }
        },
        "authorizationRuleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The authorization rule name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.relay#HybridConnectionsDeleteAuthorizationRule": {
      "type": "operation",
      "input": {
        "target": "com.azure.relay#HybridConnectionsDeleteAuthorizationRuleRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/hybridConnections/{hybridConnectionName}/authorizationRules/{authorizationRuleName}",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Deletes a hybrid connection authorization rule.",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.relay#HybridConnectionsDeleteAuthorizationRuleRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "hybridConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The hybrid connection name."
          }
        },
        "authorizationRuleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The authorization rule name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.relay#HybridConnectionsCreateOrUpdateAuthorizationRule": {
      "type": "operation",
      "input": {
        "target": "com.azure.relay#HybridConnectionsCreateOrUpdateAuthorizationRuleRequest"
      },
      "output": {
        "target": "com.azure.relay#HybridConnectionsCreateOrUpdateAuthorizationRuleResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/hybridConnections/{hybridConnectionName}/authorizationRules/{authorizationRuleName}",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Creates or updates an authorization rule for a hybrid connection.",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.relay#HybridConnectionsCreateOrUpdateAuthorizationRuleResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.relay#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.relay#AuthorizationRuleProperties",
          "traits": {
            "smithy.api#documentation": "Properties supplied to create or update AuthorizationRule"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.relay#HybridConnectionsCreateOrUpdateAuthorizationRuleRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "hybridConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The hybrid connection name."
          }
        },
        "authorizationRuleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The authorization rule name."
          }
        },
        "properties": {
          "target": "com.azure.relay#AuthorizationRuleProperties",
          "traits": {
            "smithy.api#documentation": "Properties supplied to create or update AuthorizationRule"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.relay#HybridConnectionsGetAuthorizationRule": {
      "type": "operation",
      "input": {
        "target": "com.azure.relay#HybridConnectionsGetAuthorizationRuleRequest"
      },
      "output": {
        "target": "com.azure.relay#HybridConnectionsGetAuthorizationRuleResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/hybridConnections/{hybridConnectionName}/authorizationRules/{authorizationRuleName}",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Hybrid connection authorization rule for a hybrid connection by name.",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.relay#HybridConnectionsGetAuthorizationRuleResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.relay#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.relay#AuthorizationRuleProperties",
          "traits": {
            "smithy.api#documentation": "Properties supplied to create or update AuthorizationRule"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.relay#HybridConnectionsGetAuthorizationRuleRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "hybridConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The hybrid connection name."
          }
        },
        "authorizationRuleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The authorization rule name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.relay#HybridConnectionsListAuthorizationRules": {
      "type": "operation",
      "input": {
        "target": "com.azure.relay#HybridConnectionsListAuthorizationRulesRequest"
      },
      "output": {
        "target": "com.azure.relay#AuthorizationRuleListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/hybridConnections/{hybridConnectionName}/authorizationRules",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Authorization rules for a hybrid connection.",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.relay#HybridConnectionsListAuthorizationRulesRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "hybridConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The hybrid connection name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.relay#HybridConnectionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.relay#HybridConnectionsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/hybridConnections/{hybridConnectionName}",
          "code": 200,
          "apiVersion": "2024-01-01"
        },
        "smithy.api#documentation": "Deletes a hybrid connection.",
        "com.distilled.openapi#apiVersion": "2024-01-01"
      }
    },
    "com.azure.relay#HybridConnectionsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
[...]
