{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.resources#ManagementLocksListByScope": {
      "type": "operation",
      "input": {
        "target": "com.azure.resources#ManagementLocksListByScopeRequest"
      },
      "output": {
        "target": "com.azure.resources#ManagementLockListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{scope}/providers/Microsoft.Authorization/locks",
          "code": 200,
          "apiVersion": "2020-05-01"
        },
        "smithy.api#documentation": "Gets all the management locks for a scope.",
        "com.distilled.openapi#apiVersion": "2020-05-01"
      }
    },
    "com.azure.resources#ManagementLockListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.resources#ManagementLockListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of locks."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to use for getting the next set of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of locks."
      }
    },
    "com.azure.resources#ManagementLockListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.resources#ManagementLockObject"
      },
      "traits": {
        "smithy.api#documentation": "The list of locks."
      }
    },
    "com.azure.resources#ManagementLockObject": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.azure.resources#ManagementLockProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the lock.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID of the lock."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type of the lock - Microsoft.Authorization/locks."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the lock."
          }
        },
        "systemData": {
          "target": "com.azure.resources#ManagementLockObjectSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The lock information."
      }
    },
    "com.azure.resources#ManagementLockObjectSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.resources#ManagementLockObjectSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.resources#ManagementLockObjectSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.resources#ManagementLockObjectSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.resources#ManagementLockObjectSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.resources#ManagementLockProperties": {
      "type": "structure",
      "members": {
        "level": {
          "target": "com.azure.resources#ManagementLockPropertiesLevel",
          "traits": {
            "smithy.api#documentation": "The level of the lock. Possible values are: NotSpecified, CanNotDelete, ReadOnly. CanNotDelete means authorized users are able to read and modify the resources, but not delete. ReadOnly means authorized users can only read from a resource, but they can't modify or delete it.",
            "smithy.api#required": {}
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Notes about the lock. Maximum of 512 characters."
          }
        },
        "owners": {
          "target": "com.azure.resources#ManagementLockPropertiesOwnersList",
          "traits": {
            "smithy.api#documentation": "The owners of the lock."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The lock properties."
      }
    },
    "com.azure.resources#ManagementLockPropertiesOwnersList": {
      "type": "list",
      "member": {
        "target": "com.azure.resources#ManagementLockOwner"
      },
      "traits": {
        "smithy.api#documentation": "The owners of the lock."
      }
    },
    "com.azure.resources#ManagementLockOwner": {
      "type": "structure",
      "members": {
        "applicationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The application ID of the lock owner."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Lock owner properties."
      }
    },
    "com.azure.resources#ManagementLockPropertiesLevel": {
      "type": "enum",
      "members": {
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        },
        "CANNOTDELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CanNotDelete"
          }
        },
        "READONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReadOnly"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of the lock. Possible values are: NotSpecified, CanNotDelete, ReadOnly. CanNotDelete means authorized users are able to read and modify the resources, but not delete. ReadOnly means authorized users can only read from a resource, but they can't modify or delete it."
      }
    },
    "com.azure.resources#ManagementLocksListByScopeRequest": {
      "type": "structure",
      "members": {
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The scope for the lock. When providing a scope for the assignment, use '/subscriptions/{subscriptionId}' for subscriptions, '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}' for resource groups, and '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePathIfPresent}/{resourceType}/{resourceName}' for resources."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "The filter to apply on the operation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.resources#ManagementLocksListAtSubscriptionLevel": {
      "type": "operation",
      "input": {
        "target": "com.azure.resources#ManagementLocksListAtSubscriptionLevelRequest"
      },
      "output": {
        "target": "com.azure.resources#ManagementLockListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/locks",
          "code": 200,
          "apiVersion": "2020-05-01"
        },
        "smithy.api#documentation": "Gets all the management locks for a subscription.",
        "com.distilled.openapi#apiVersion": "2020-05-01"
      }
    },
    "com.azure.resources#ManagementLocksListAtSubscriptionLevelRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "The filter to apply on the operation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.resources#ManagementLocksListAtResourceLevel": {
      "type": "operation",
      "input": {
        "target": "com.azure.resources#ManagementLocksListAtResourceLevelRequest"
      },
      "output": {
        "target": "com.azure.resources#ManagementLockListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}/providers/Microsoft.Authorization/locks",
          "code": 200,
          "apiVersion": "2020-05-01"
        },
        "smithy.api#documentation": "Gets all the management locks for a resource or any level below resource.",
        "com.distilled.openapi#apiVersion": "2020-05-01"
      }
    },
    "com.azure.resources#ManagementLocksListAtResourceLevelRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group containing the locked resource. The name is case insensitive."
          }
        },
        "resourceProviderNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace of the resource provider."
          }
        },
        "parentResourcePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The parent resource identity."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource type of the locked resource."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the locked resource."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "The filter to apply on the operation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.resources#ManagementLocksListAtResourceGroupLevel": {
      "type": "operation",
      "input": {
        "target": "com.azure.resources#ManagementLocksListAtResourceGroupLevelRequest"
      },
      "output": {
        "target": "com.azure.resources#ManagementLockListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Authorization/locks",
          "code": 200,
          "apiVersion": "2020-05-01"
        },
        "smithy.api#documentation": "Gets all the management locks for a resource group.",
        "com.distilled.openapi#apiVersion": "2020-05-01"
      }
    },
    "com.azure.resources#ManagementLocksListAtResourceGroupLevelRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group containing the locks to get."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "The filter to apply on the operation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.resources#ManagementLocksDeleteAtSubscriptionLevel": {
      "type": "operation",
      "input": {
        "target": "com.azure.resources#ManagementLocksDeleteAtSubscriptionLevelRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/locks/{lockName}",
          "code": 200,
          "apiVersion": "2020-05-01"
        },
        "smithy.api#documentation": "Deletes the management lock at the subscription level.\n\nTo delete management locks, you must have access to Microsoft.Authorization/* or Microsoft.Authorization/locks/* actions. Of the built-in roles, only Owner and User Access Administrator are granted those actions.",
        "com.distilled.openapi#apiVersion": "2020-05-01"
      }
    },
    "com.azure.resources#ManagementLocksDeleteAtSubscriptionLevelRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "lockName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of lock to delete."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.resources#ManagementLocksCreateOrUpdateAtSubscriptionLevel": {
      "type": "operation",
      "input": {
        "target": "com.azure.resources#ManagementLocksCreateOrUpdateAtSubscriptionLevelRequest"
      },
      "output": {
        "target": "com.azure.resources#ManagementLockObject"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/locks/{lockName}",
          "code": 200,
          "apiVersion": "2020-05-01"
        },
        "smithy.api#documentation": "Creates or updates a management lock at the subscription level.\n\nWhen you apply a lock at a parent scope, all child resources inherit the same lock. To create management locks, you must have access to Microsoft.Authorization/* or Microsoft.Authorization/locks/* actions. Of the built-in roles, only Owner and User Access Administrator are granted those actions.",
        "com.distilled.openapi#apiVersion": "2020-05-01"
      }
    },
    "com.azure.resources#ManagementLocksCreateOrUpdateAtSubscriptionLevelRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "lockName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of lock. The lock name can be a maximum of 260 characters. It cannot contain <, > %, &, :, \\, ?, /, or any control characters."
          }
        },
        "properties": {
          "target": "com.azure.resources#ManagementLockProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the lock.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.resources#ManagementLocksGetAtSubscriptionLevel": {
      "type": "operation",
      "input": {
        "target": "com.azure.resources#ManagementLocksGetAtSubscriptionLevelRequest"
      },
      "output": {
        "target": "com.azure.resources#ManagementLockObject"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/locks/{lockName}",
          "code": 200,
          "apiVersion": "2020-05-01"
        },
        "smithy.api#documentation": "Gets a management lock at the subscription level.",
        "com.distilled.openapi#apiVersion": "2020-05-01"
      }
    },
    "com.azure.resources#ManagementLocksGetAtSubscriptionLevelRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "lockName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the lock to get."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.resources#ManagementLocksDeleteAtResourceLevel": {
      "type": "operation",
      "input": {
        "target": "com.azure.resources#ManagementLocksDeleteAtResourceLevelRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}/providers/Microsoft.Authorization/locks/{lockName}",
          "code": 200,
          "apiVersion": "2020-05-01"
        },
        "smithy.api#documentation": "Deletes the management lock of a resource or any level below the resource.\n\nTo delete management locks, you must have access to Microsoft.Authorization/* or Microsoft.Authorization/locks/* actions. Of the built-in roles, only Owner and User Access Administrator are granted those actions.",
        "com.distilled.openapi#apiVersion": "2020-05-01"
      }
    },
    "com.azure.resources#ManagementLocksDeleteAtResourceLevelRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group containing the resource with the lock to delete. "
          }
        },
        "resourceProviderNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource provider namespace of the resource with the lock to delete."
          }
        },
        "parentResourcePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The parent resource identity."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource type of the resource with the lock to delete."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource with the lock to delete."
          }
        },
        "lockName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the lock to delete."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.resources#ManagementLocksCreateOrUpdateAtResourceLevel": {
      "type": "operation",
      "input": {
        "target": "com.azure.resources#ManagementLocksCreateOrUpdateAtResourceLevelRequest"
      },
      "output": {
        "target": "com.azure.resources#ManagementLockObject"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}/providers/Microsoft.Authorization/locks/{lockName}",
          "code": 200,
          "apiVersion": "2020-05-01"
        },
        "smithy.api#documentation": "Creates or updates a management lock at the resource level or any level below the resource.\n\nWhen you apply a lock at a parent scope, all child resources inherit the same lock. To create management locks, you must have access to Microsoft.Authorization/* or Microsoft.Authorization/locks/* actions. Of the built-in roles, only Owner and User Access Administrator are granted those actions.",
        "com.distilled.openapi#apiVersion": "2020-05-01"
      }
    },
    "com.azure.resources#ManagementLocksCreateOrUpdateAtResourceLevelRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group containing the resource to lock. "
          }
        },
        "resourceProviderNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource provider namespace of the resource to lock."
          }
        },
        "parentResourcePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The parent resource identity."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource type of the resource to lock."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource to lock."
          }
        },
        "lockName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of lock. The lock name can be a maximum of 260 characters. It cannot contain <, > %, &, :, \\, ?, /, or any control characters."
          }
        },
        "properties": {
          "target": "com.azure.resources#ManagementLockProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the lock.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.resources#ManagementLocksGetAtResourceLevel": {
      "type": "operation",
      "input": {
        "target": "com.azure.resources#ManagementLocksGetAtResourceLevelRequest"
      },
      "output": {
        "target": "com.azure.resources#ManagementLockObject"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}/providers/Microsoft.Authorization/locks/{lockName}",
          "code": 200,
          "apiVersion": "2020-05-01"
        },
        "smithy.api#documentation": "Get the management lock of a resource or any level below resource.",
        "com.distilled.openapi#apiVersion": "2020-05-01"
      }
    },
    "com.azure.resources#ManagementLocksGetAtResourceLevelRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. "
          }
        },
        "resourceProviderNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace of the resource provider."
          }
        },
        "parentResourcePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "An extra path parameter needed in some services, like SQL Databases."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The type of the resource."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "lockName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of lock."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.resources#ManagementLocksDeleteByScope": {
      "type": "operation",
      "input": {
        "target": "com.azure.resources#ManagementLocksDeleteByScopeRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/{scope}/providers/Microsoft.Authorization/locks/{lockName}",
          "code": 200,
          "apiVersion": "2020-05-01"
        },
        "smithy.api#documentation": "Delete a management lock by scope.",
        "com.distilled.openapi#apiVersion": "2020-05-01"
      }
    },
    "com.azure.resources#ManagementLocksDeleteByScopeRequest": {
      "type": "structure",
      "members": {
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The scope for the lock. "
          }
        },
        "lockName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of lock."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.resources#ManagementLocksCreateOrUpdateByScope": {
      "type": "operation",
      "input": {
        "target": "com.azure.resources#ManagementLocksCreateOrUpdateByScopeRequest"
      },
      "output": {
        "target": "com.azure.resources#ManagementLockObject"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/{scope}/providers/Microsoft.Authorization/locks/{lockName}",
          "code": 200,
          "apiVersion": "2020-05-01"
        },
        "smithy.api#documentation": "Create or update a management lock by scope.",
        "com.distilled.openapi#apiVersion": "2020-05-01"
      }
    },
    "com.azure.resources#ManagementLocksCreateOrUpdateByScopeRequest": {
      "type": "structure",
      "members": {
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The scope for the lock. When providing a scope for the assignment, use '/subscriptions/{subscriptionId}' for subscriptions, '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}' for resource groups, and '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePathIfPresent}/{resourceType}/{resourceName}' for resources."
          }
        },
        "lockName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of lock."
          }
        },
        "properties": {
          "target": "com.azure.resources#ManagementLockProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the lock.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.resources#ManagementLocksGetByScope": {
      "type": "operation",
      "input": {
        "target": "com.azure.resources#ManagementLocksGetByScopeRequest"
      },
      "output": {
        "target": "com.azure.resources#ManagementLockObject"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{scope}/providers/Microsoft.Authorization/locks/{lockName}",
          "code": 200,
          "apiVersion": "2020-05-01"
        },
        "smithy.api#documentation": "Get a management lock by scope.",
        "com.distilled.openapi#apiVersion": "2020-05-01"
      }
    },
    "com.azure.resources#ManagementLocksGetByScopeRequest": {
      "type": "structure",
      "members": {
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The scope for the lock. "
          }
        },
        "lockName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of lock."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.resources#ManagementLocksDeleteAtResourceGroupLevel": {
      "type": "operation",
      "input": {
        "target": "com.azure.resources#ManagementLocksDeleteAtResourceGroupLevelRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Authorization/locks/{lockName}",
          "code": 200,
          "apiVersion": "2020-05-01"
        },
        "smithy.api#documentation": "Deletes a management lock at the resource group level.\n\nTo delete management locks, you must have access to Microsoft.Authorization/* or Microsoft.Authorization/locks/* actions. Of the built-in roles, only Owner and User Access Administrator are granted those actions.",
        "com.distilled.openapi#apiVersion": "2020-05-01"
      }
    },
    "com.azure.resources#ManagementLocksDeleteAtResourceGroupLevelRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group containing the lock."
          }
        },
        "lockName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of lock to delete."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.resources#ManagementLocksCreateOrUpdateAtResourceGroupLevel": {
      "type": "operation",
      "input": {
        "target": "com.azure.resources#ManagementLocksCreateOrUpdateAtResourceGroupLevelRequest"
      },
      "output": {
        "target": "com.azure.resources#ManagementLockObject"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Authorization/locks/{lockName}",
          "code": 200,
          "apiVersion": "2020-05-01"
        },
        "smithy.api#documentation": "Creates or updates a management lock at the resource group level.\n\nWhen you apply a lock at a parent scope, all child resources inherit the same lock. To create management locks, you must have access to Microsoft.Authorization/* or Microsoft.Authorization/locks/* actions. Of the built-in roles, only Owner and User Access Administrator are granted those actions.",
        "com.distilled.openapi#apiVersion": "2020-05-01"
      }
    },
    "com.azure.resources#ManagementLocksCreateOrUpdateAtResourceGroupLevelRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group to lock."
          }
        },
        "lockName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The lock name. The lock name can be a maximum of 260 characters. It cannot contain <, > %, &, :, \\, ?, /, or any control characters."
          }
        },
        "properties": {
          "target": "com.azure.resources#ManagementLockProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the lock.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.resources#ManagementLocksGetAtResourceGroupLevel": {
      "type": "operation",
      "input": {
        "target": "com.azure.resources#ManagementLocksGetAtResourceGroupLevelRequest"
      },
      "output": {
        "target": "com.azure.resources#ManagementLockObject"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Authorization/locks/{lockName}",
          "code": 200,
          "apiVersion": "2020-05-01"
        },
        "smithy.api#documentation": "Gets a management lock at the resource group level.",
        "com.distilled.openapi#apiVersion": "2020-05-01"
      }
    },
    "com.azure.resources#ManagementLocksGetAtResourceGroupLevelRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the locked resource group."
          }
        },
        "lockName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the lock to get."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.resources#AuthorizationOperationsList": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.azure.resources#OperationListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/providers/Microsoft.Authorization/operations",
          "code": 200,
          "apiVersion": "2020-05-01"
        },
        "smithy.api#documentation": "Lists all of the available Microsoft.Authorization REST API operations.",
        "com.distilled.openapi#apiVersion": "2020-05-01"
      }
    },
    "com.azure.resources#OperationListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.resources#OperationListResultValueList",
          "traits": {
            "smithy.api#documentation": "List of Microsoft.Authorization operations."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to get the next set of operation list results if there are any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of the request to list Microsoft.Authorization operations. It contains a list of operations and a URL link to get the next set of results."
      }
    },
    "com.azure.resources#OperationListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.resources#Operation"
      },
      "traits": {
        "smithy.api#documentation": "List of Microsoft.Authorization operations."
      }
    },
    "com.azure.resources#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation name: {provider}/{resource}/{operation}"
          }
        },
        "display": {
          "target": "com.azure.resources#OperationDisplay",
          "traits": {
            "smithy.api#documentation": "The object that represents the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Microsoft.Authorization operation"
      }
    },
    "com.azure.resources#OperationDisplay": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service provider: Microsoft.Authorization"
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource on which the operation is performed: Profile, endpoint, etc."
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Operation type: Read, write, delete, etc."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The object that represents the operation."
      }
    },
    "com.azure.resources#PolicyAssignmentsListForResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.resources#PolicyAssignmentsListForResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.resources#PolicyAssignmentListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Authorization/policyAssignments",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "This operation retrieves the list of all policy assignments associated with the given resource group in the given subscription that match the optional given $filter. Valid values for $filter are: 'atScope()', 'atExactScope()' or 'policyDefinitionId eq '{value}''. If $filter is not provided, the unfiltered list includes all policy assignments associated with the resource group, including those that apply directly or apply from containing scopes, as well as any applied to resources contained within the resource group. If $filter=atScope() is provided, the returned list includes all policy assignments that apply to the resource group, which is everything in the unfiltered list except those applied to resources contained within the resource group. If $filter=atExactScope() is provided, the returned list only includes all policy assignments that at the resource group. If $filter=policyDefinitionId eq '{value}' is provided, the returned list includes all policy assignments of the policy definition whose id is {value} that apply to the resource group.",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.resources#PolicyAssignmentListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.resources#PolicyAssignmentListResultValueList",
          "traits": {
            "smithy.api#documentation": "The PolicyAssignment items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a PolicyAssignment list operation."
      }
    },
    "com.azure.resources#PolicyAssignmentListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.resources#PolicyAssignment"
      },
      "traits": {
        "smithy.api#documentation": "The PolicyAssignment items on this page"
      }
    },
    "com.azure.resources#PolicyAssignment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.resources#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.resources#PolicyAssignmentProperties",
          "traits": {
            "smithy.api#documentation": "Properties for the policy assignment."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The location of the policy assignment. Only required when utilizing managed identity."
          }
        },
        "identity": {
          "target": "com.azure.resources#Identity",
          "traits": {
            "smithy.api#documentation": "The managed identity associated with the policy assignment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The policy assignment."
      }
    },
    "com.azure.resources#Identity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of the resource identity.  This property will only be provided for a system assigned identity"
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the resource identity.  This property will only be provided for a system assigned identity"
          }
        },
        "type": {
          "target": "com.azure.resources#ResourceIdentityType",
          "traits": {
            "smithy.api#documentation": "The identity type. This is the only required field when adding a system or user assigned identity to a resource."
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.resources#IdentityUserAssignedIdentitiesMap",
          "traits": {
            "smithy.api#documentation": "The user identity associated with the policy. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity for the resource.  Policy assignments support a maximum of one identity.  That is either a system assigned identity or a single user assigned identity."
      }
    },
    "com.azure.resources#IdentityUserAssignedIdentitiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.resources#UserAssignedIdentitiesValue"
      },
      "traits": {
        "smithy.api#documentation": "The user identity associated with the policy. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."
      }
    },
    "com.azure.resources#UserAssignedIdentitiesValue": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal id of user assigned identity."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client id of user assigned identity."
          }
        }
      },
      "traits": {}
    },
    "com.azure.resources#ResourceIdentityType": {
      "type": "enum",
      "members": {
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The identity type. This is the only required field when adding a system or user assigned identity to a resource."
      }
    },
    "com.azure.resources#PolicyAssignmentProperties": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the policy assignment."
          }
        },
        "policyDefinitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the policy definition or policy set definition being assigned."
          }
        },
        "definitionVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the policy definition to use."
          }
        },
        "latestDefinitionVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The latest version of the policy definition available. This is only present if requested via the $expand query parameter."
          }
        },
        "effectiveDefinitionVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective version of the policy definition in use. This is only present if requested via the $expand query parameter."
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scope for the policy assignment."
          }
        },
        "notScopes": {
          "target": "com.azure.resources#PolicyAssignmentPropertiesNotScopesList",
          "traits": {
            "smithy.api#documentation": "The policy's excluded scopes."
          }
        },
        "parameters": {
          "target": "com.azure.resources#PolicyAssignmentPropertiesParametersMap",
          "traits": {
            "smithy.api#documentation": "The parameter values for the assigned policy rule. The keys are the parameter names."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This message will be part of response in case of policy violation."
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The policy assignment metadata. Metadata is an open ended object and is typically a collection of key value pairs."
          }
        },
        "enforcementMode": {
          "target": "com.azure.resources#PolicyAssignmentPropertiesEnforcementMode",
          "traits": {
            "smithy.api#documentation": "The policy assignment enforcement mode. Possible values are Default, DoNotEnforce, and Enroll"
          }
        },
        "nonComplianceMessages": {
          "target": "com.azure.resources#PolicyAssignmentPropertiesNonComplianceMessagesList",
          "traits": {
            "smithy.api#documentation": "The messages that describe why a resource is non-compliant with the policy."
          }
        },
        "resourceSelectors": {
          "target": "com.azure.resources#PolicyAssignmentPropertiesResourceSelectorsList",
          "traits": {
            "smithy.api#documentation": "The resource selector list to filter policies by resource properties."
          }
        },
        "overrides": {
          "target": "com.azure.resources#PolicyAssignmentPropertiesOverridesList",
          "traits": {
            "smithy.api#documentation": "The policy property value override."
          }
        },
        "assignmentType": {
          "target": "com.azure.resources#AssignmentType",
          "traits": {
            "smithy.api#documentation": "The type of policy assignment. Possible values are NotSpecified, System, SystemHidden, and Custom. Immutable."
          }
        },
        "instanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The instance ID of the policy assignment. This ID only and always changes when the assignment is deleted and recreated."
          }
        },
        "selfServeExemptionSettings": {
          "target": "com.azure.resources#SelfServeExemptionSettings",
          "traits": {
            "smithy.api#documentation": "The self-serve exemption settings for the policy assignment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The policy assignment properties."
      }
    },
    "com.azure.resources#SelfServeExemptionSettings": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether self-serve exemption is enabled."
          }
        },
        "policyDefinitionReferenceIds": {
          "target": "com.azure.resources#SelfServeExemptionSettingsPolicyDefinitionReferenceIdsList",
          "traits": {
            "smithy.api#documentation": "The policy definition reference IDs for self-serve exemption."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The self-serve exemption settings for a policy assignment."
      }
    },
    "com.azure.resources#SelfServeExemptionSettingsPolicyDefinitionReferenceIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The policy definition reference IDs for self-serve exemption."
      }
    },
    "com.azure.resources#AssignmentType": {
      "type": "enum",
      "members": {
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "System"
          }
        },
        "SYSTEMHIDDEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemHidden"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Custom"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of policy assignment. Possible values are NotSpecified, System, SystemHidden, and Custom. Immutable."
      }
    },
    "com.azure.resources#PolicyAssignmentPropertiesOverridesList": {
      "type": "list",
      "member": {
        "target": "com.azure.resources#Override"
      },
      "traits": {
        "smithy.api#documentation": "The policy property value override."
      }
    },
    "com.azure.resources#Override": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.azure.resources#OverrideKind",
          "traits": {
            "smithy.api#documentation": "The override kind."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value to override the policy property."
          }
        },
        "selectors": {
          "target": "com.azure.resources#OverrideSelectorsList",
          "traits": {
            "smithy.api#documentation": "The list of the selector expressions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The policy property value override."
      }
    },
    "com.azure.resources#OverrideSelectorsList": {
      "type": "list",
      "member": {
        "target": "com.azure.resources#Selector"
      },
      "traits": {
        "smithy.api#documentation": "The list of the selector expressions."
      }
    },
    "com.azure.resources#Selector": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.azure.resources#SelectorKind",
          "traits": {
            "smithy.api#documentation": "The selector kind."
          }
        },
        "in": {
          "target": "com.azure.resources#SelectorInList",
          "traits": {
            "smithy.api#documentation": "The list of values to filter in."
          }
        },
        "notIn": {
          "target": "com.azure.resources#SelectorNotInList",
          "traits": {
            "smithy.api#documentation": "The list of values to filter out."
          }
        },
        "progress": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The percent of total resources that will be governed by the policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The selector expression."
      }
    },
    "com.azure.resources#SelectorNotInList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of values to filter out."
      }
    },
    "com.azure.resources#SelectorInList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of values to filter in."
      }
    },
    "com.azure.resources#SelectorKind": {
      "type": "enum",
      "members": {
        "RESOURCELOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resourceLocation"
          }
        },
        "RESOURCETYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resourceType"
          }
        },
        "RESOURCEWITHOUTLOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resourceWithoutLocation"
          }
        },
        "POLICYDEFINITIONREFERENCEID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "policyDefinitionReferenceId"
          }
        },
        "RESOURCEPERCENTAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resourcePercentage"
          }
        },
        "USERPRINCIPALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "userPrincipalId"
          }
        },
        "GROUPPRINCIPALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "groupPrincipalId"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The selector kind."
      }
    },
    "com.azure.resources#OverrideKind": {
      "type": "enum",
      "members": {
        "POLICYEFFECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "policyEffect"
          }
        },
        "DEFINITIONVERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "definitionVersion"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The override kind."
      }
    },
    "com.azure.resources#PolicyAssignmentPropertiesResourceSelectorsList": {
      "type": "list",
      "member": {
        "target": "com.azure.resources#ResourceSelector"
      },
      "traits": {
        "smithy.api#documentation": "The resource selector list to filter policies by resource properties."
      }
    },
    "com.azure.resources#ResourceSelector": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource selector."
          }
        },
        "selectors": {
          "target": "com.azure.resources#ResourceSelectorSelectorsList",
          "traits": {
            "smithy.api#documentation": "The list of the selector expressions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource selector to filter policies by resource properties."
      }
    },
    "com.azure.resources#ResourceSelectorSelectorsList": {
      "type": "list",
      "member": {
        "target": "com.azure.resources#Selector"
      },
      "traits": {
        "smithy.api#documentation": "The list of the selector expressions."
      }
    },
    "com.azure.resources#PolicyAssignmentPropertiesNonComplianceMessagesList": {
      "type": "list",
      "member": {
        "target": "com.azure.resources#NonComplianceMessage"
      },
      "traits": {
        "smithy.api#documentation": "The messages that describe why a resource is non-compliant with the policy."
      }
    },
    "com.azure.resources#NonComplianceMessage": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A message that describes why a resource is non-compliant with the policy. This is shown in 'deny' error messages and on resource's non-compliant compliance results.",
            "smithy.api#required": {}
          }
        },
        "policyDefinitionReferenceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The policy definition reference ID within a policy set definition the message is intended for. This is only applicable if the policy assignment assigns a policy set definition. If this is not provided the message applies to all policies assigned by this policy assignment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message that describes why a resource is non-compliant with the policy. This is shown in 'deny' error messages and on resource's non-compliant compliance results."
      }
    },
    "com.azure.resources#PolicyAssignmentPropertiesEnforcementMode": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Default"
          }
        },
        "DONOTENFORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DoNotEnforce"
          }
        },
        "ENROLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enroll"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The policy assignment enforcement mode. Possible values are Default, DoNotEnforce, and Enroll"
      }
    },
    "com.azure.resources#PolicyAssignmentPropertiesParametersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.resources#ParameterValuesValue"
      },
      "traits": {
        "smithy.api#documentation": "The parameter values for the assigned policy rule. The keys are the parameter names."
      }
    },
    "com.azure.resources#ParameterValuesValue": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The value of the parameter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The value of a parameter."
      }
    },
    "com.azure.resources#PolicyAssignmentPropertiesNotScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The policy's excluded scopes."
      }
    },
    "com.azure.resources#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.resources#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.resources#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.resources#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.resources#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.resources#PolicyAssignmentsListForResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "The filter to apply on the operation. Valid values for $filter are: 'atScope()', 'atExactScope()' or 'policyDefinitionId eq '{value}''. If $filter is not provided, no filtering is performed. If $filter=atScope() is provided, the returned list only includes all policy assignments that apply to the scope, which is everything in the unfiltered list except those applied to sub scopes contained within the given scope. If $filter=atExactScope() is provided, the returned list only includes all policy assignments that at the given scope. If $filter=policyDefinitionId eq '{value}' is provided, the returned list includes all policy assignments of the policy definition whose id is {value}."
          }
        },
        "_expand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$expand",
            "smithy.api#documentation": "Comma-separated list of additional properties to be included in the response. Supported values are 'LatestDefinitionVersion, EffectiveDefinitionVersion'."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "Maximum number of records to return. When the $top filter is not provided, it will return 500 records."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.resources#PolicyAssignmentsListForResource": {
      "type": "operation",
      "input": {
        "target": "com.azure.resources#PolicyAssignmentsListForResourceRequest"
      },
      "output": {
        "target": "com.azure.resources#PolicyAssignmentListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}/providers/Microsoft.Authorization/policyAssignments",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "Retrieves all policy assignments that apply to a resource.\n\nThis operation retrieves the list of all policy assignments associated with the specified resource in the given resource group and subscription that match the optional given $filter. Valid values for $filter are: 'atScope()', 'atExactScope()' or 'policyDefinitionId eq '{value}''. If $filter is not provided, the unfiltered list includes all policy assignments associated with the resource, including those that apply directly or from all containing scopes, as well as any applied to resources contained within the resource. If $filter=atScope() is provided, the returned list includes all policy assignments that apply to the resource, which is everything in the unfiltered list except those applied to resources contained within the resource. If $filter=atExactScope() is provided, the returned list only includes all policy assignments that at the resource level. If $filter=policyDefinitionId eq '{value}' is provided, the returned list includes all policy assignments of the policy definition whose id is {value} that apply to the resource. Three parameters plus the resource name are used to identify a specific resource. If the resource is not part of a parent resource (the more common case), the parent resource path should not be provided (or provided as ''). For example a web app could be specified as ({resourceProviderNamespace} == 'Microsoft.Web', {parentResourcePath} == '', {resourceType} == 'sites', {resourceName} == 'MyWebApp'). If the resource is part of a parent resource, then all parameters should be provided. For example a virtual machine DNS name could be specified as ({resourceProviderNamespace} == 'Microsoft.Compute', {parentResourcePath} == 'virtualMachines/MyVirtualMachine', {resourceType} == 'domainNames', {resourceName} == 'MyComputerName'). A convenient alternative to providing the namespace and type name separately is to provide both in the {resourceType} parameter, format: ({resourceProviderNamespace} == '', {parentResourcePath} == '', {resourceType} == 'Microsoft.Web/sites', {resourceName} == 'MyWebApp').",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.resources#PolicyAssignmentsListForResourceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceProviderNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace of the resource provider. For example, the namespace of a virtual machine is Microsoft.Compute (from Microsoft.Compute/virtualMachines)"
          }
        },
        "parentResourcePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The parent resource path. Use empty string if there is none."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The resource type name. For example the type name of a web app is 'sites' (from Microsoft.Web/sites)."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "The filter to apply on the operation. Valid values for $filter are: 'atScope()', 'atExactScope()' or 'policyDefinitionId eq '{value}''. If $filter is not provided, no filtering is performed. If $filter=atScope() is provided, the returned list only includes all policy assignments that apply to the scope, which is everything in the unfiltered list except those applied to sub scopes contained within the given scope. If $filter=atExactScope() is provided, the returned list only includes all policy assignments that at the given scope. If $filter=policyDefinitionId eq '{value}' is provided, the returned list includes all policy assignments of the policy definition whose id is {value}."
          }
        },
        "_expand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$expand",
            "smithy.api#documentation": "Comma-separated list of additional properties to be included in the response. Supported values are 'LatestDefinitionVersion, EffectiveDefinitionVersion'."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "Maximum number of records to return. When the $top filter is not provided, it will return 500 records."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.resources#PolicySetDefinitionVersionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.resources#PolicySetDefinitionVersionsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policySetDefinitions/{policySetDefinitionName}/versions/{policyDefinitionVersion}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "This operation deletes the policy set definition version in the given subscription with the given name and version.",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.resources#PolicySetDefinitionVersionsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "policySetDefinitionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the policy set definition."
          }
        },
        "policyDefinitionVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The policy set definition version.  The format is x.y.z where x is the major version number, y is the minor version number, and z is the patch number"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.resources#PolicySetDefinitionVersionsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.resources#PolicySetDefinitionVersionsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.resources#PolicySetDefinitionVersionsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policySetDefinitions/{policySetDefinitionName}/versions/{policyDefinitionVersion}",
          "code": 200,
          "apiVersion": "2026-06-01"
        },
        "smithy.api#documentation": "This operation creates or updates a policy set definition version in the given subscription with the given name and version.",
        "com.distilled.openapi#apiVersion": "2026-06-01"
      }
    },
    "com.azure.resources#PolicySetDefinitionVersionsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.resources#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.resources#PolicySetDefinitionVersionProperties",
          "traits": {
            "smithy.api#documentation": "The policy set definition version properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.resources#PolicySetDefinitionVersionProperties": {
      "type": "structure",
      "members": {
        "policyType": {
          "target": "com.azure.resources#PolicyType",
          "traits": {
            "smithy.api#documentation": "The type of policy definition. Possible values are NotSpecified, BuiltIn, Custom, and Static."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the policy set definition."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The policy set definition description."
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The policy set definition metadata.  Metadata is an open ended object and is typically a collection of key value pairs."
          }
        },
        "parameters": {
          "target": "com.azure.resources#PolicySetDefinitionVersionPropertiesParametersMap",
          "traits": {
            "smithy.api#documentation": "The policy set definition parameters that can be used in policy definition references."
          }
        },
        "policyDefinitions": {
          "target": "com.azure.resources#PolicySetDefinitionVersionPropertiesPolicyDefinitionsList",
          "traits": {
            "smithy.api#documentation": "An array of policy definition references.",
            "smithy.api#required": {}
          }
        },
        "policyDefinitionGroups": {
          "target": "com.azure.resources#PolicySetDefinitionVersionPropertiesPolicyDefinitionGroupsList",
          "traits": {
            "smithy.api#documentation": "The metadata describing groups of policy definition references within the policy set definition."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The policy set definition version in #.#.# format."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The policy set definition properties."
      }
    },
    "com.azure.resources#PolicySetDefinitionVersionPropertiesPolicyDefinitionGroupsList": {
      "type": "list",
      "member": {
        "target": "com.azure.resources#PolicyDefinitionGroup"
      },
      "traits": {
        "smithy.api#documentation": "The metadata describing groups of policy definition references within the policy set definition."
      }
    },
    "com.azure.resources#PolicyDefinitionGroup": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the group.",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The group's display name."
          }
        },
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The group's category."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The group's description."
          }
        },
        "additionalMetadataId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A resource ID of a resource that contains additional metadata about the group."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The policy definition group."
      }
    },
    "com.azure.resources#PolicySetDefinitionVersionPropertiesPolicyDefinitionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.resources#PolicyDefinitionReference"
      },
      "traits": {
        "smithy.api#documentation": "An array of policy definition references."
      }
    },
    "com.azure.resources#PolicyDefinitionReference": {
      "type": "structure",
      "members": {
        "policyDefinitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the policy definition or policy set definition.",
            "smithy.api#required": {}
          }
        },
        "definitionVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the policy definition to use."
          }
        },
        "latestDefinitionVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The latest version of the policy definition available. This is only present if requested via the $expand query parameter."
          }
        },
        "effectiveDefinitionVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective version of the policy definition in use. This is only present if requested via the $expand query parameter."
          }
        },
        "parameters": {
          "target": "com.azure.resources#PolicyDefinitionReferenceParametersMap",
          "traits": {
            "smithy.api#documentation": "The parameter values for the referenced policy rule. The keys are the parameter names."
          }
        },
        "policyDefinitionReferenceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique id (within the policy set definition) for this policy definition reference."
          }
        },
        "groupNames": {
          "target": "com.azure.resources#PolicyDefinitionReferenceGroupNamesList",
          "traits": {
            "smithy.api#documentation": "The name of the groups that this policy definition reference belongs to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The policy definition reference."
      }
    },
    "com.azure.resources#PolicyDefinitionReferenceGroupNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The name of the groups that this policy definition reference belongs to."
      }
    },
    "com.azure.resources#PolicyDefinitionReferenceParametersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.resources#ParameterValuesValue"
      },
      "traits": {
        "smithy.api#documentation": "The parameter values for the referenced policy rule. The keys are the parameter names."
      }
    },
    "com.azure.resources#PolicySetDefinitionVersionPropertiesParametersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.resources#ParameterDefinitionsValue"
      },
      "traits": {
        "smithy.api#documentation": "The policy set definition parameters that can be used in policy definition references."
      }
    },
    "com.azure.resources#ParameterDefinitionsValue": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.resources#ParameterType",
          "traits": {
            "smithy.api#documentation": "The data type of the parameter."
          }
        },
        "allowedValues": {
          "target": "com.azure.resources#ParameterDefinitionsValueAllowedValuesList",
          "traits": {
            "smithy.api#documentation": "The allowed values for the parameter."
          }
        },
        "defaultValue": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The default value for the parameter if no value is provided."
          }
        },
        "schema": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Provides validation of parameter inputs during assignment using a self-defined JSON schema. This property is only supported for object-type parameters and follows the Json.NET Schema 2019-09 implementation. You can learn more about using schemas at https://json-schema.org/ and test draft schemas at https://www.jsonschemavalidator.net/."
          }
        },
        "metadata": {
          "target": "com.azure.resources#ParameterDefinitionsValueMetadata",
          "traits": {
            "smithy.api#documentation": "General metadata for the parameter."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The definition of a parameter that can be provided to the policy."
      }
    },
    "com.azure.resources#ParameterDefinitionsValueMetadata": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name for the parameter."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the parameter."
          }
        },
        "strongType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Used when assigning the policy definition through the portal. Provides a context aware list of values for the user to choose from."
          }
        },
        "assignPermissions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to have Azure portal create role assignments on the resource ID or resource scope value of this parameter during policy assignment. This property is useful in case you wish to assign permissions outside the assignment scope."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "General metadata for the parameter."
      }
    },
    "com.azure.resources#ParameterDefinitionsValueAllowedValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The allowed values for the parameter."
      }
    },
    "com.azure.resources#ParameterType": {
      "type": "enum",
      "members": {
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "String"
          }
        },
        "ARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Array"
          }
        },
        "OBJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Object"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Boolean"
          }
        },
        "INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Integer"
          }
        },
        "FLOAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Float"
          }
        },
        "DATETIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DateTime"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The data type of the parameter."
      }
    },
    "com.azure.resources#PolicyType": {
      "type": "enum",
      "members": {
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        },
        "BUILTIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BuiltIn"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Custom"
          }
        },
        "STATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Static"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of policy definition. Possible values are NotSpecified, BuiltIn, Custom, and Static."
      }
    },
    "com.azure.resources#PolicySetDefinitionVersionsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "policySetDefinitionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the policy set definition."
          }
        },
        "policyDefinitionVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The policy set definition version.  The format is x.y.z where x is the major version number, y is the minor version number, and z is the patch number"
          }
        },
        "properties": {
          "target": "com.azure.resources#PolicySetDefinitionVersionPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The policy set definition version properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.resources#PolicySetDefinitionVersionPropertiesInput": {
      "type": "structure",
      "members": {
        "policyType": {
          "target": "com.azure.resources#PolicyType",
          "traits": {
            "smithy.api#documentation": "The type of policy definition. Possible values are NotSpecified, BuiltIn, Custom, and Static."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the policy set definition."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The policy set definition description."
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The policy set definition metadata.  Metadata is an open ended object and is typically a collection of key value pairs."
          }
        },
        "parameters": {
[...]
