{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.scvmm#InventoryItemsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.scvmm#InventoryItemsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/vmmServers/{vmmServerName}/inventoryItems/{inventoryItemResourceName}",
          "code": 200,
          "apiVersion": "2025-03-13"
        },
        "smithy.api#documentation": "Implements inventoryItem DELETE method.\n\nDeletes an inventoryItem.",
        "com.distilled.openapi#apiVersion": "2025-03-13"
      }
    },
    "com.azure.scvmm#InventoryItemsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vmmServerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the VmmServer."
          }
        },
        "inventoryItemResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the inventoryItem."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.scvmm#InventoryItemsCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.scvmm#InventoryItemsCreateRequest"
      },
      "output": {
        "target": "com.azure.scvmm#InventoryItemsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/vmmServers/{vmmServerName}/inventoryItems/{inventoryItemResourceName}",
          "code": 200,
          "apiVersion": "2025-03-13"
        },
        "smithy.api#documentation": "Implements InventoryItem PUT method.\n\nCreate Or Update InventoryItem.",
        "com.distilled.openapi#apiVersion": "2025-03-13"
      }
    },
    "com.azure.scvmm#InventoryItemsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.scvmm#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.scvmm#InventoryItemProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type; e.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.scvmm#InventoryItemProperties": {
      "type": "structure",
      "members": {
        "inventoryType": {
          "target": "com.azure.scvmm#InventoryType",
          "traits": {
            "smithy.api#documentation": "They inventory type.",
            "smithy.api#required": {}
          }
        },
        "managedResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the tracked resource id corresponding to the inventory resource."
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the UUID (which is assigned by Vmm) for the inventory item."
          }
        },
        "inventoryItemName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the Managed Object name in Vmm for the inventory item."
          }
        },
        "provisioningState": {
          "target": "com.azure.scvmm#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the resource properties."
      }
    },
    "com.azure.scvmm#ProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Created"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioning state of the resource."
      }
    },
    "com.azure.scvmm#InventoryType": {
      "type": "enum",
      "members": {
        "CLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cloud"
          }
        },
        "VIRTUALNETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VirtualNetwork"
          }
        },
        "VIRTUALMACHINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VirtualMachine"
          }
        },
        "VIRTUALMACHINETEMPLATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VirtualMachineTemplate"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The inventory type"
      }
    },
    "com.azure.scvmm#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.scvmm#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.scvmm#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.scvmm#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.scvmm#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.scvmm#InventoryItemsCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vmmServerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the VmmServer."
          }
        },
        "inventoryItemResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the inventoryItem."
          }
        },
        "properties": {
          "target": "com.azure.scvmm#InventoryItemPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type; e.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.scvmm#InventoryItemPropertiesInput": {
      "type": "structure",
      "members": {
        "inventoryType": {
          "target": "com.azure.scvmm#InventoryType",
          "traits": {
            "smithy.api#documentation": "They inventory type.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the resource properties."
      }
    },
    "com.azure.scvmm#InventoryItemsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.scvmm#InventoryItemsGetRequest"
      },
      "output": {
        "target": "com.azure.scvmm#InventoryItemsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/vmmServers/{vmmServerName}/inventoryItems/{inventoryItemResourceName}",
          "code": 200,
          "apiVersion": "2025-03-13"
        },
        "smithy.api#documentation": "Implements GET InventoryItem method.\n\nShows an inventory item.",
        "com.distilled.openapi#apiVersion": "2025-03-13"
      }
    },
    "com.azure.scvmm#InventoryItemsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.scvmm#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.scvmm#InventoryItemProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type; e.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.scvmm#InventoryItemsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vmmServerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the VmmServer."
          }
        },
        "inventoryItemResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the inventoryItem."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.scvmm#InventoryItemsListByVmmServer": {
      "type": "operation",
      "input": {
        "target": "com.azure.scvmm#InventoryItemsListByVmmServerRequest"
      },
      "output": {
        "target": "com.azure.scvmm#InventoryItemListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/vmmServers/{vmmServerName}/inventoryItems",
          "code": 200,
          "apiVersion": "2025-03-13"
        },
        "smithy.api#documentation": "Implements GET for the list of Inventory Items in the VMMServer.\n\nReturns the list of inventoryItems in the given VmmServer.",
        "com.distilled.openapi#apiVersion": "2025-03-13"
      }
    },
    "com.azure.scvmm#InventoryItemListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.scvmm#InventoryItemListResultValueList",
          "traits": {
            "smithy.api#documentation": "The InventoryItem items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a InventoryItem list operation."
      }
    },
    "com.azure.scvmm#InventoryItemListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.scvmm#InventoryItem"
      },
      "traits": {
        "smithy.api#documentation": "The InventoryItem items on this page"
      }
    },
    "com.azure.scvmm#InventoryItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.scvmm#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.scvmm#InventoryItemProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type; e.g. ApiApps are a kind of Microsoft.Web/sites type.  If supported, the resource provider must validate and persist this value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the inventory item."
      }
    },
    "com.azure.scvmm#InventoryItemsListByVmmServerRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vmmServerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the VmmServer."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.scvmm#VmmServersDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.scvmm#VmmServersDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/vmmServers/{vmmServerName}",
          "code": 200,
          "apiVersion": "2025-03-13"
        },
        "smithy.api#documentation": "Implements VmmServers DELETE method.\n\nRemoves the SCVmm fabric from Azure.",
        "com.distilled.openapi#apiVersion": "2025-03-13"
      }
    },
    "com.azure.scvmm#VmmServersDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vmmServerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the VmmServer."
          }
        },
        "force": {
          "target": "com.azure.scvmm#VmmServersDeleteRequestForce",
          "traits": {
            "smithy.api#httpQuery": "force",
            "smithy.api#documentation": "Forces the resource to be deleted."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.scvmm#VmmServersDeleteRequestForce": {
      "type": "enum",
      "members": {
        "TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "true"
          }
        },
        "FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "false"
          }
        }
      },
      "traits": {}
    },
    "com.azure.scvmm#VmmServersUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.scvmm#VmmServersUpdateRequest"
      },
      "output": {
        "target": "com.azure.scvmm#VmmServersUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/vmmServers/{vmmServerName}",
          "code": 200,
          "apiVersion": "2025-03-13"
        },
        "smithy.api#documentation": "Implements VmmServers PATCH method.\n\nUpdates the VmmServers resource.",
        "com.distilled.openapi#apiVersion": "2025-03-13"
      }
    },
    "com.azure.scvmm#VmmServersUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.scvmm#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.scvmm#VmmServersUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.scvmm#VmmServerProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.scvmm#ExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The extended location.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.scvmm#ExtendedLocation": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The extended location type."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The extended location name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The extended location."
      }
    },
    "com.azure.scvmm#VmmServerProperties": {
      "type": "structure",
      "members": {
        "credentials": {
          "target": "com.azure.scvmm#VmmCredential",
          "traits": {
            "smithy.api#documentation": "Credentials to connect to VmmServer."
          }
        },
        "fqdn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fqdn is the hostname/ip of the vmmServer.",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port is the port on which the vmmServer is listening."
          }
        },
        "connectionStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the connection status to the vmmServer."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets any error message if connection to vmmServer is having any issue."
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique ID of vmmServer."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version is the version of the vmmSever."
          }
        },
        "provisioningState": {
          "target": "com.azure.scvmm#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the resource properties."
      }
    },
    "com.azure.scvmm#VmmCredential": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Username to use to connect to VmmServer."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Password to use to connect to VmmServer.",
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Credentials to connect to VmmServer."
      }
    },
    "com.azure.scvmm#VmmServersUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.scvmm#VmmServersUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vmmServerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the VmmServer."
          }
        },
        "tags": {
          "target": "com.azure.scvmm#VmmServersUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.scvmm#VmmServersUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.scvmm#VmmServersCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.scvmm#VmmServersCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.scvmm#VmmServersCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/vmmServers/{vmmServerName}",
          "code": 200,
          "apiVersion": "2025-03-13"
        },
        "smithy.api#documentation": "Implements VmmServers PUT method.\n\nOnboards the SCVmm fabric as an Azure VmmServer resource.",
        "com.distilled.openapi#apiVersion": "2025-03-13"
      }
    },
    "com.azure.scvmm#VmmServersCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.scvmm#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.scvmm#VmmServersCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.scvmm#VmmServerProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.scvmm#ExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The extended location.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.scvmm#VmmServersCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.scvmm#VmmServersCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vmmServerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the VmmServer."
          }
        },
        "tags": {
          "target": "com.azure.scvmm#VmmServersCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.scvmm#VmmServerPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.scvmm#ExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The extended location.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.scvmm#VmmServerPropertiesInput": {
      "type": "structure",
      "members": {
        "credentials": {
          "target": "com.azure.scvmm#VmmCredential",
          "traits": {
            "smithy.api#documentation": "Credentials to connect to VmmServer."
          }
        },
        "fqdn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fqdn is the hostname/ip of the vmmServer.",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Port is the port on which the vmmServer is listening."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the resource properties."
      }
    },
    "com.azure.scvmm#VmmServersCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.scvmm#VmmServersGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.scvmm#VmmServersGetRequest"
      },
      "output": {
        "target": "com.azure.scvmm#VmmServersGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/vmmServers/{vmmServerName}",
          "code": 200,
          "apiVersion": "2025-03-13"
        },
        "smithy.api#documentation": "Gets a VMMServer.\n\nImplements VmmServer GET method.",
        "com.distilled.openapi#apiVersion": "2025-03-13"
      }
    },
    "com.azure.scvmm#VmmServersGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.scvmm#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.scvmm#VmmServersGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.scvmm#VmmServerProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.scvmm#ExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The extended location.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.scvmm#VmmServersGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.scvmm#VmmServersGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "vmmServerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the VmmServer."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.scvmm#VmmServersListByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.scvmm#VmmServersListByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.scvmm#VmmServerListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/vmmServers",
          "code": 200,
          "apiVersion": "2025-03-13"
        },
        "smithy.api#documentation": "Implements GET VmmServers in a resource group.\n\nList of VmmServers in a resource group.",
        "com.distilled.openapi#apiVersion": "2025-03-13"
      }
    },
    "com.azure.scvmm#VmmServerListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.scvmm#VmmServerListResultValueList",
          "traits": {
            "smithy.api#documentation": "The VmmServer items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a VmmServer list operation."
      }
    },
    "com.azure.scvmm#VmmServerListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.scvmm#VmmServer"
      },
      "traits": {
        "smithy.api#documentation": "The VmmServer items on this page"
      }
    },
    "com.azure.scvmm#VmmServer": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.scvmm#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.scvmm#VmmServerTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.scvmm#VmmServerProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.scvmm#ExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The extended location.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The VmmServers resource definition."
      }
    },
    "com.azure.scvmm#VmmServerTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.scvmm#VmmServersListByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.scvmm#VirtualNetworksDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.scvmm#VirtualNetworksDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/virtualNetworks/{virtualNetworkName}",
          "code": 200,
          "apiVersion": "2025-03-13"
        },
        "smithy.api#documentation": "Implements VirtualNetwork DELETE method.\n\nDeregisters the ScVmm virtual network from Azure.",
        "com.distilled.openapi#apiVersion": "2025-03-13"
      }
    },
    "com.azure.scvmm#VirtualNetworksDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualNetworkName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the VirtualNetwork."
          }
        },
        "force": {
          "target": "com.azure.scvmm#VirtualNetworksDeleteRequestForce",
          "traits": {
            "smithy.api#httpQuery": "force",
            "smithy.api#documentation": "Forces the resource to be deleted."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.scvmm#VirtualNetworksDeleteRequestForce": {
      "type": "enum",
      "members": {
        "TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "true"
          }
        },
        "FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "false"
          }
        }
      },
      "traits": {}
    },
    "com.azure.scvmm#VirtualNetworksUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.scvmm#VirtualNetworksUpdateRequest"
      },
      "output": {
        "target": "com.azure.scvmm#VirtualNetworksUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/virtualNetworks/{virtualNetworkName}",
          "code": 200,
          "apiVersion": "2025-03-13"
        },
        "smithy.api#documentation": "Implements the VirtualNetworks PATCH method.\n\nUpdates the VirtualNetworks resource.",
        "com.distilled.openapi#apiVersion": "2025-03-13"
      }
    },
    "com.azure.scvmm#VirtualNetworksUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.scvmm#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.scvmm#VirtualNetworksUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.scvmm#VirtualNetworkProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.scvmm#ExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The extended location.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.scvmm#VirtualNetworkProperties": {
      "type": "structure",
      "members": {
        "inventoryItemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the inventory Item ID for the resource."
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique ID of the virtual network."
          }
        },
        "vmmServerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ARM Id of the vmmServer resource in which this resource resides."
          }
        },
        "networkName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the virtual network in vmmServer."
          }
        },
        "provisioningState": {
          "target": "com.azure.scvmm#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the resource properties."
      }
    },
    "com.azure.scvmm#VirtualNetworksUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.scvmm#VirtualNetworksUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualNetworkName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the VirtualNetwork."
          }
        },
        "tags": {
          "target": "com.azure.scvmm#VirtualNetworksUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.scvmm#VirtualNetworksUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.scvmm#VirtualNetworksCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.scvmm#VirtualNetworksCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.scvmm#VirtualNetworksCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/virtualNetworks/{virtualNetworkName}",
          "code": 200,
          "apiVersion": "2025-03-13"
        },
        "smithy.api#documentation": "Implements VirtualNetworks PUT method.\n\nOnboards the ScVmm virtual network as an Azure virtual network resource.",
        "com.distilled.openapi#apiVersion": "2025-03-13"
      }
    },
    "com.azure.scvmm#VirtualNetworksCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.scvmm#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.scvmm#VirtualNetworksCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.scvmm#VirtualNetworkProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.scvmm#ExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The extended location.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.scvmm#VirtualNetworksCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.scvmm#VirtualNetworksCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualNetworkName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the VirtualNetwork."
          }
        },
        "tags": {
          "target": "com.azure.scvmm#VirtualNetworksCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.scvmm#VirtualNetworkPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.scvmm#ExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The extended location.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.scvmm#VirtualNetworkPropertiesInput": {
      "type": "structure",
      "members": {
        "inventoryItemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the inventory Item ID for the resource."
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique ID of the virtual network."
          }
        },
        "vmmServerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ARM Id of the vmmServer resource in which this resource resides."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the resource properties."
      }
    },
    "com.azure.scvmm#VirtualNetworksCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.scvmm#VirtualNetworksGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.scvmm#VirtualNetworksGetRequest"
      },
      "output": {
        "target": "com.azure.scvmm#VirtualNetworksGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/virtualNetworks/{virtualNetworkName}",
          "code": 200,
          "apiVersion": "2025-03-13"
        },
        "smithy.api#documentation": "Gets a VirtualNetwork.\n\nImplements VirtualNetwork GET method.",
        "com.distilled.openapi#apiVersion": "2025-03-13"
      }
    },
    "com.azure.scvmm#VirtualNetworksGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.scvmm#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.scvmm#VirtualNetworksGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.scvmm#VirtualNetworkProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.scvmm#ExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The extended location.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.scvmm#VirtualNetworksGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.scvmm#VirtualNetworksGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualNetworkName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the VirtualNetwork."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.scvmm#VirtualNetworksListByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.scvmm#VirtualNetworksListByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.scvmm#VirtualNetworkListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/virtualNetworks",
          "code": 200,
          "apiVersion": "2025-03-13"
        },
        "smithy.api#documentation": "Implements GET VirtualNetworks in a resource group.\n\nList of VirtualNetworks in a resource group.",
        "com.distilled.openapi#apiVersion": "2025-03-13"
      }
    },
    "com.azure.scvmm#VirtualNetworkListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.scvmm#VirtualNetworkListResultValueList",
          "traits": {
            "smithy.api#documentation": "The VirtualNetwork items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a VirtualNetwork list operation."
      }
    },
    "com.azure.scvmm#VirtualNetworkListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.scvmm#VirtualNetwork"
      },
      "traits": {
        "smithy.api#documentation": "The VirtualNetwork items on this page"
      }
    },
    "com.azure.scvmm#VirtualNetwork": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.scvmm#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.scvmm#VirtualNetworkTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.scvmm#VirtualNetworkProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.scvmm#ExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The extended location.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The VirtualNetworks resource definition."
      }
    },
    "com.azure.scvmm#VirtualNetworkTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.scvmm#VirtualNetworksListByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.scvmm#VirtualMachineTemplatesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.scvmm#VirtualMachineTemplatesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/virtualMachineTemplates/{virtualMachineTemplateName}",
          "code": 200,
          "apiVersion": "2025-03-13"
        },
        "smithy.api#documentation": "Implements VirtualMachineTemplate DELETE method.\n\nDeregisters the ScVmm VM Template from Azure.",
        "com.distilled.openapi#apiVersion": "2025-03-13"
      }
    },
    "com.azure.scvmm#VirtualMachineTemplatesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualMachineTemplateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the VirtualMachineTemplate."
          }
        },
        "force": {
          "target": "com.azure.scvmm#VirtualMachineTemplatesDeleteRequestForce",
          "traits": {
            "smithy.api#httpQuery": "force",
            "smithy.api#documentation": "Forces the resource to be deleted."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.scvmm#VirtualMachineTemplatesDeleteRequestForce": {
      "type": "enum",
      "members": {
        "TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "true"
          }
        },
        "FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "false"
          }
        }
      },
      "traits": {}
    },
    "com.azure.scvmm#VirtualMachineTemplatesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.scvmm#VirtualMachineTemplatesUpdateRequest"
      },
      "output": {
        "target": "com.azure.scvmm#VirtualMachineTemplatesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/virtualMachineTemplates/{virtualMachineTemplateName}",
          "code": 200,
          "apiVersion": "2025-03-13"
        },
        "smithy.api#documentation": "Implements the VirtualMachineTemplate PATCH method.\n\nUpdates the VirtualMachineTemplate resource.",
        "com.distilled.openapi#apiVersion": "2025-03-13"
      }
    },
    "com.azure.scvmm#VirtualMachineTemplatesUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.scvmm#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.scvmm#VirtualMachineTemplatesUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.scvmm#VirtualMachineTemplateProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.scvmm#ExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The extended location.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.scvmm#VirtualMachineTemplateProperties": {
      "type": "structure",
      "members": {
        "inventoryItemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the inventory Item ID for the resource."
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique ID of the virtual machine template."
          }
        },
        "vmmServerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ARM Id of the vmmServer resource in which this resource resides."
          }
        },
        "osType": {
          "target": "com.azure.scvmm#OsType",
          "traits": {
            "smithy.api#documentation": "Gets the type of the os."
          }
        },
        "osName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets os name."
          }
        },
        "computerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets computer name."
          }
        },
        "memoryMB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "MemoryMB is the desired size of a virtual machine's memory, in MB."
          }
        },
        "cpuCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets the desired number of vCPUs for the vm."
          }
        },
        "limitCpuForMigration": {
          "target": "com.azure.scvmm#LimitCpuForMigration",
          "traits": {
            "smithy.api#documentation": "Gets a value indicating whether to enable processor compatibility mode for live migration of VMs."
          }
        },
        "dynamicMemoryEnabled": {
          "target": "com.azure.scvmm#DynamicMemoryEnabled",
          "traits": {
            "smithy.api#documentation": "Gets a value indicating whether to enable dynamic memory or not."
          }
        },
        "isCustomizable": {
          "target": "com.azure.scvmm#IsCustomizable",
          "traits": {
            "smithy.api#documentation": "Gets a value indicating whether the vm template is customizable or not."
          }
        },
        "dynamicMemoryMaxMB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets the max dynamic memory for the vm."
          }
        },
        "dynamicMemoryMinMB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets the min dynamic memory for the vm."
          }
        },
        "isHighlyAvailable": {
          "target": "com.azure.scvmm#IsHighlyAvailable",
          "traits": {
            "smithy.api#documentation": "Gets highly available property."
          }
        },
        "generation": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets the generation for the vm."
          }
        },
        "networkInterfaces": {
          "target": "com.azure.scvmm#VirtualMachineTemplatePropertiesNetworkInterfacesList",
          "traits": {
            "smithy.api#documentation": "Gets the network interfaces of the template."
          }
        },
        "disks": {
          "target": "com.azure.scvmm#VirtualMachineTemplatePropertiesDisksList",
          "traits": {
            "smithy.api#documentation": "Gets the disks of the template."
          }
        },
        "provisioningState": {
          "target": "com.azure.scvmm#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "Provisioning state of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the resource properties."
      }
    },
    "com.azure.scvmm#VirtualMachineTemplatePropertiesDisksList": {
      "type": "list",
      "member": {
        "target": "com.azure.scvmm#VirtualDisk"
      },
      "traits": {
        "smithy.api#documentation": "Gets the disks of the template."
      }
    },
    "com.azure.scvmm#VirtualDisk": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the name of the disk."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the display name of the virtual disk as shown in the vmmServer. This is the fallback label for a disk when the name is not set."
          }
        },
        "diskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the disk id."
          }
        },
        "diskSizeGB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets or sets the disk total size."
          }
        },
        "maxDiskSizeGB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets the max disk size."
          }
        },
        "bus": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets or sets the disk bus."
          }
        },
        "lun": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Gets or sets the disk lun."
          }
        },
        "busType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the disk bus type."
          }
        },
        "vhdType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the disk vhd type."
          }
        },
        "volumeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the disk volume type."
          }
        },
        "vhdFormatType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the disk vhd format type."
          }
        },
        "templateDiskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the disk id in the template."
          }
        },
        "storageQoSPolicy": {
          "target": "com.azure.scvmm#StorageQosPolicyDetails",
          "traits": {
            "smithy.api#documentation": "The QoS policy for the disk."
          }
        },
        "createDiffDisk": {
          "target": "com.azure.scvmm#CreateDiffDisk",
          "traits": {
            "smithy.api#documentation": "Gets or sets a value indicating diff disk."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Virtual disk model"
      }
    },
    "com.azure.scvmm#CreateDiffDisk": {
      "type": "enum",
      "members": {
        "TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "true"
          }
        },
        "FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "false"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Create diff disk."
      }
    },
    "com.azure.scvmm#StorageQosPolicyDetails": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the policy."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the QoS policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The StorageQoSPolicyDetails definition."
      }
    },
    "com.azure.scvmm#VirtualMachineTemplatePropertiesNetworkInterfacesList": {
      "type": "list",
      "member": {
        "target": "com.azure.scvmm#NetworkInterface"
      },
      "traits": {
        "smithy.api#documentation": "Gets the network interfaces of the template."
      }
    },
    "com.azure.scvmm#NetworkInterface": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the name of the network interface."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the display name of the network interface as shown in the vmmServer. This is the fallback label for a NIC when the name is not set."
          }
        },
        "ipv4Addresses": {
          "target": "com.azure.scvmm#NetworkInterfaceIpv4AddressesList",
          "traits": {
            "smithy.api#documentation": "Gets the nic ipv4 addresses."
          }
        },
        "ipv6Addresses": {
          "target": "com.azure.scvmm#NetworkInterfaceIpv6AddressesList",
          "traits": {
            "smithy.api#documentation": "Gets the nic ipv6 addresses."
          }
        },
        "macAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the nic MAC address."
          }
        },
        "virtualNetworkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the ARM Id of the Microsoft.ScVmm/virtualNetwork resource to connect the nic."
          }
        },
        "networkName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets the name of the virtual network in vmmServer that the nic is connected to."
          }
        },
        "ipv4AddressType": {
          "target": "com.azure.scvmm#AllocationMethod",
          "traits": {
            "smithy.api#documentation": "Gets or sets the ipv4 address type."
          }
        },
        "ipv6AddressType": {
          "target": "com.azure.scvmm#AllocationMethod",
          "traits": {
            "smithy.api#documentation": "Gets or sets the ipv6 address type."
          }
        },
        "macAddressType": {
          "target": "com.azure.scvmm#AllocationMethod",
          "traits": {
            "smithy.api#documentation": "Gets or sets the mac address type."
          }
        },
        "nicId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the nic id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network Interface model"
      }
    },
    "com.azure.scvmm#AllocationMethod": {
      "type": "enum",
      "members": {
        "DYNAMIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Dynamic"
          }
        },
        "STATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Static"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network address allocation method."
      }
    },
    "com.azure.scvmm#NetworkInterfaceIpv6AddressesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Gets the nic ipv6 addresses."
      }
    },
    "com.azure.scvmm#NetworkInterfaceIpv4AddressesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Gets the nic ipv4 addresses."
      }
    },
    "com.azure.scvmm#IsHighlyAvailable": {
      "type": "enum",
      "members": {
        "TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "true"
          }
        },
        "FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "false"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Highly available."
      }
    },
    "com.azure.scvmm#IsCustomizable": {
      "type": "enum",
      "members": {
        "TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "true"
          }
        },
        "FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "false"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Customizable."
      }
    },
    "com.azure.scvmm#DynamicMemoryEnabled": {
      "type": "enum",
      "members": {
        "TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "true"
          }
        },
        "FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "false"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dynamic memory enabled."
      }
    },
    "com.azure.scvmm#LimitCpuForMigration": {
      "type": "enum",
      "members": {
        "TRUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "true"
          }
        },
        "FALSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "false"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Limit CPU for migration."
      }
    },
    "com.azure.scvmm#OsType": {
      "type": "enum",
      "members": {
        "WINDOWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Windows"
          }
        },
        "LINUX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Linux"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Virtual machine operating system type."
      }
    },
    "com.azure.scvmm#VirtualMachineTemplatesUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.scvmm#VirtualMachineTemplatesUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualMachineTemplateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the VirtualMachineTemplate."
          }
        },
        "tags": {
          "target": "com.azure.scvmm#VirtualMachineTemplatesUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.scvmm#VirtualMachineTemplatesUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.scvmm#VirtualMachineTemplatesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.scvmm#VirtualMachineTemplatesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.scvmm#VirtualMachineTemplatesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/virtualMachineTemplates/{virtualMachineTemplateName}",
          "code": 200,
          "apiVersion": "2025-03-13"
        },
        "smithy.api#documentation": "Implements VirtualMachineTemplates PUT method.\n\nOnboards the ScVmm VM Template as an Azure VM Template resource.",
        "com.distilled.openapi#apiVersion": "2025-03-13"
      }
    },
    "com.azure.scvmm#VirtualMachineTemplatesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.scvmm#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.scvmm#VirtualMachineTemplatesCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.scvmm#VirtualMachineTemplateProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.scvmm#ExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The extended location.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.scvmm#VirtualMachineTemplatesCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.scvmm#VirtualMachineTemplatesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "virtualMachineTemplateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the VirtualMachineTemplate."
          }
        },
        "tags": {
          "target": "com.azure.scvmm#VirtualMachineTemplatesCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.scvmm#VirtualMachineTemplatePropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        },
        "extendedLocation": {
          "target": "com.azure.scvmm#ExtendedLocation",
          "traits": {
            "smithy.api#documentation": "The extended location.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.scvmm#VirtualMachineTemplatePropertiesInput": {
      "type": "structure",
      "members": {
        "inventoryItemId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets or sets the inventory Item ID for the resource."
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique ID of the virtual machine template."
          }
        },
        "vmmServerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ARM Id of the vmmServer resource in which this resource resides."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the resource properties."
      }
    },
    "com.azure.scvmm#VirtualMachineTemplatesCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.scvmm#VirtualMachineTemplatesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.scvmm#VirtualMachineTemplatesGetRequest"
      },
      "output": {
        "target": "com.azure.scvmm#VirtualMachineTemplatesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/virtualMachineTemplates/{virtualMachineTemplateName}",
          "code": 200,
          "apiVersion": "2025-03-13"
        },
        "smithy.api#documentation": "Gets a VirtualMachineTemplate.\n\nImplements VirtualMachineTemplate GET method.",
        "com.distilled.openapi#apiVersion": "2025-03-13"
      }
    },
    "com.azure.scvmm#VirtualMachineTemplatesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
[...]
