{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.search#ServicesUpgrade": {
      "type": "operation",
      "input": {
        "target": "com.azure.search#ServicesUpgradeRequest"
      },
      "output": {
        "target": "com.azure.search#ServicesUpgradeResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/upgrade",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Upgrades the Azure AI Search service to the latest version available.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.search#ServicesUpgradeResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.search#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.search#ServicesUpgradeResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.search#SearchServiceProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the search service."
          }
        },
        "sku": {
          "target": "com.azure.search#Sku",
          "traits": {
            "smithy.api#documentation": "The SKU of the search service, which determines price tier and capacity limits. This property is required when creating a new search service."
          }
        },
        "identity": {
          "target": "com.azure.search#Identity",
          "traits": {
            "smithy.api#documentation": "The identity of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.search#Identity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of the system-assigned identity of the search service."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system-assigned identity of the search service."
          }
        },
        "type": {
          "target": "com.azure.search#IdentityType",
          "traits": {
            "smithy.api#documentation": "The type of identity used for the resource. The type 'SystemAssigned, UserAssigned' includes both an identity created by the system and a set of user assigned identities. The type 'None' will remove all identities from the service.",
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.search#IdentityUserAssignedIdentitiesMap",
          "traits": {
            "smithy.api#documentation": "The list of user identities associated with the resource. The user identity dictionary key references will be ARM resource IDs in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about the search service identity. A null value indicates that the search service has no identity assigned."
      }
    },
    "com.azure.search#IdentityUserAssignedIdentitiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.search#IdentityUserAssignedIdentitiesValue"
      },
      "traits": {
        "smithy.api#documentation": "The list of user identities associated with the resource. The user identity dictionary key references will be ARM resource IDs in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."
      }
    },
    "com.azure.search#IdentityUserAssignedIdentitiesValue": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of the assigned identity."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client ID of the assigned identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User assigned identity properties"
      }
    },
    "com.azure.search#IdentityType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        },
        "SYSTEMASSIGNED_USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned, UserAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity used for the resource. The type 'SystemAssigned, UserAssigned' includes both an identity created by the system and a set of user assigned identities. The type 'None' will remove all identities from the service."
      }
    },
    "com.azure.search#Sku": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.azure.search#SkuName",
          "traits": {
            "smithy.api#documentation": "The SKU of the search service. Valid values include: 'free': Shared service. 'basic': Dedicated service with up to 3 replicas. 'standard': Dedicated service with up to 12 partitions and 12 replicas. 'standard2': Similar to standard, but with more capacity per search unit. 'standard3': The largest Standard offering with up to 12 partitions and 12 replicas (or up to 3 partitions with more indexes if you also set the hostingMode property to 'highDensity'). 'storage_optimized_l1': Supports 1TB per partition, up to 12 partitions. 'storage_optimized_l2': Supports 2TB per partition, up to 12 partitions. 'serverless': Serverless tier with auto-scaling capabilities."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the SKU of a search service, which determines billing rate and capacity limits."
      }
    },
    "com.azure.search#SkuName": {
      "type": "enum",
      "members": {
        "FREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "free"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "basic"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "STANDARD2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard2"
          }
        },
        "STANDARD3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard3"
          }
        },
        "STORAGE_OPTIMIZED_L1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "storage_optimized_l1"
          }
        },
        "STORAGE_OPTIMIZED_L2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "storage_optimized_l2"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The SKU of the search service. Valid values include: 'free': Shared service. 'basic': Dedicated service with up to 3 replicas. 'standard': Dedicated service with up to 12 partitions and 12 replicas. 'standard2': Similar to standard, but with more capacity per search unit. 'standard3': The largest Standard offering with up to 12 partitions and 12 replicas (or up to 3 partitions with more indexes if you also set the hostingMode property to 'highDensity'). 'storage_optimized_l1': Supports 1TB per partition, up to 12 partitions. 'storage_optimized_l2': Supports 2TB per partition, up to 12 partitions. 'serverless': Serverless tier with auto-scaling capabilities."
      }
    },
    "com.azure.search#SearchServiceProperties": {
      "type": "structure",
      "members": {
        "replicaCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of replicas in the dedicated search service. If specified, it must be a value between 1 and 12 inclusive for standard SKUs or between 1 and 3 inclusive for basic SKU."
          }
        },
        "partitionCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of partitions in the dedicated search service; if specified, it can be 1, 2, 3, 4, 6, or 12. Values greater than 1 are only valid for standard SKUs. For 'standard3' services with hostingMode set to 'highDensity', the allowed values are between 1 and 3."
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The endpoint of the Azure AI Search service."
          }
        },
        "hostingMode": {
          "target": "com.azure.search#SearchServicePropertiesHostingMode",
          "traits": {
            "smithy.api#documentation": "Applicable only for the standard3 SKU. You can set this property to enable up to 3 high density partitions that allow up to 1000 indexes, which is much higher than the maximum indexes allowed for any other SKU. For the standard3 SKU, the value is either 'Default' or 'HighDensity'. For all other SKUs, this value must be 'Default'."
          }
        },
        "computeType": {
          "target": "com.azure.search#ComputeType",
          "traits": {
            "smithy.api#documentation": "Configure this property to support the search service using either the Default Compute or Azure Confidential Compute."
          }
        },
        "publicNetworkAccess": {
          "target": "com.azure.search#SearchServicePropertiesPublicNetworkAccess",
          "traits": {
            "smithy.api#documentation": "This value can be set to 'Enabled' to avoid breaking changes on existing customer resources and templates. If set to 'Disabled', traffic over public interface is not allowed, and private endpoint connections would be the exclusive access method."
          }
        },
        "status": {
          "target": "com.azure.search#SearchServiceStatus",
          "traits": {
            "smithy.api#documentation": "The status of the search service. Possible values include: 'running': The search service is running and no provisioning operations are underway. 'provisioning': The search service is being provisioned or scaled up or down. 'deleting': The search service is being deleted. 'degraded': The search service is degraded. This can occur when the underlying search units are not healthy. The search service is most likely operational, but performance might be slow and some requests might be dropped. 'disabled': The search service is disabled. In this state, the service will reject all API requests. 'error': The search service is in an error state. 'stopped': The search service is in a subscription that's disabled. If your service is in the degraded, disabled, or error states, it means the Azure AI Search team is actively investigating the underlying issue. Dedicated services in these states are still chargeable based on the number of search units provisioned."
          }
        },
        "statusDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The details of the search service status."
          }
        },
        "provisioningState": {
          "target": "com.azure.search#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The state of the last provisioning operation performed on the search service. Provisioning is an intermediate state that occurs while service capacity is being established. After capacity is set up, provisioningState changes to either 'Succeeded' or 'Failed'. Client applications can poll provisioning status (the recommended polling interval is from 30 seconds to one minute) by using the Get Search Service operation to see when an operation is completed. If you are using the free service, this value tends to come back as 'Succeeded' directly in the call to Create search service. This is because the free service uses capacity that is already set up."
          }
        },
        "networkRuleSet": {
          "target": "com.azure.search#NetworkRuleSet",
          "traits": {
            "smithy.api#documentation": "Network specific rules that determine how the Azure AI Search service may be reached."
          }
        },
        "dataExfiltrationProtections": {
          "target": "com.azure.search#SearchServicePropertiesDataExfiltrationProtectionsList",
          "traits": {
            "smithy.api#documentation": "A list of data exfiltration scenarios that are explicitly disallowed for the search service. Currently, the only supported value is 'All' to disable all possible data export scenarios with more fine grained controls planned for the future."
          }
        },
        "encryptionWithCmk": {
          "target": "com.azure.search#EncryptionWithCmk",
          "traits": {
            "smithy.api#documentation": "Specifies any policy regarding encryption of resources (such as indexes) using customer manager keys within a search service."
          }
        },
        "disableLocalAuth": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When set to true, calls to the search service will not be permitted to utilize API keys for authentication. This cannot be set to true if 'dataPlaneAuthOptions' are defined.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "authOptions": {
          "target": "com.azure.search#DataPlaneAuthOptions",
          "traits": {
            "smithy.api#documentation": "Defines the options for how the data plane API of a search service authenticates requests. This cannot be set if 'disableLocalAuth' is set to true."
          }
        },
        "semanticSearch": {
          "target": "com.azure.search#SearchSemanticSearch",
          "traits": {
            "smithy.api#documentation": "Specifies the availability and billing plan for semantic search on the Azure AI Search service. This configuration is only available for certain pricing tiers in certain regions.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "privateEndpointConnections": {
          "target": "com.azure.search#SearchServicePropertiesPrivateEndpointConnectionsList",
          "traits": {
            "smithy.api#documentation": "The list of private endpoint connections to the Azure AI Search service."
          }
        },
        "sharedPrivateLinkResources": {
          "target": "com.azure.search#SearchServicePropertiesSharedPrivateLinkResourcesList",
          "traits": {
            "smithy.api#documentation": "The list of shared private link resources managed by the Azure AI Search service."
          }
        },
        "eTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A system generated property representing the service's etag that can be for optimistic concurrency control during updates."
          }
        },
        "upgradeAvailable": {
          "target": "com.azure.search#UpgradeAvailable",
          "traits": {
            "smithy.api#documentation": "Indicates if the search service has an upgrade available."
          }
        },
        "serviceUpgradedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time the search service was last upgraded. This field will be null until the service gets upgraded for the first time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the search service."
      }
    },
    "com.azure.search#UpgradeAvailable": {
      "type": "enum",
      "members": {
        "NOTAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "notAvailable"
          }
        },
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "available"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates if the dedicated search service has an upgrade available."
      }
    },
    "com.azure.search#SearchServicePropertiesSharedPrivateLinkResourcesList": {
      "type": "list",
      "member": {
        "target": "com.azure.search#SharedPrivateLinkResource"
      },
      "traits": {
        "smithy.api#documentation": "The list of shared private link resources managed by the Azure AI Search service."
      }
    },
    "com.azure.search#SharedPrivateLinkResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.search#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.search#SharedPrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "Describes the properties of a shared private link resource managed by the Azure AI Search service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a shared private link resource managed by the Azure AI Search service."
      }
    },
    "com.azure.search#SharedPrivateLinkResourceProperties": {
      "type": "structure",
      "members": {
        "privateLinkResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID of the resource the shared private link resource is for."
          }
        },
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The group ID from the provider of resource the shared private link resource is for."
          }
        },
        "requestMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The message for requesting approval of the shared private link resource."
          }
        },
        "resourceRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Can be used to specify the Azure Resource Manager location of the resource for which a shared private link is being created. This is only required for those resources whose DNS configuration are regional (such as Azure Kubernetes Service)."
          }
        },
        "status": {
          "target": "com.azure.search#SharedPrivateLinkResourceStatus",
          "traits": {
            "smithy.api#documentation": "Status of the shared private link resource. Valid values are Pending, Approved, Rejected or Disconnected."
          }
        },
        "provisioningState": {
          "target": "com.azure.search#SharedPrivateLinkResourceProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the shared private link resource. Valid values are Updating, Deleting, Failed, Succeeded or Incomplete."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the properties of an existing shared private link resource managed by the Azure AI Search service."
      }
    },
    "com.azure.search#SharedPrivateLinkResourceProvisioningState": {
      "type": "enum",
      "members": {
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "INCOMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Incomplete"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioning state of the shared private link resource. Valid values are Updating, Deleting, Failed, Succeeded or Incomplete."
      }
    },
    "com.azure.search#SharedPrivateLinkResourceStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disconnected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the shared private link resource. Valid values are Pending, Approved, Rejected or Disconnected."
      }
    },
    "com.azure.search#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.search#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.search#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.search#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.search#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.search#SearchServicePropertiesPrivateEndpointConnectionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.search#PrivateEndpointConnection"
      },
      "traits": {
        "smithy.api#documentation": "The list of private endpoint connections to the Azure AI Search service."
      }
    },
    "com.azure.search#PrivateEndpointConnection": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.search#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.search#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Describes the properties of an existing private endpoint connection to the Azure AI Search service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes an existing private endpoint connection to the Azure AI Search service."
      }
    },
    "com.azure.search#PrivateEndpointConnectionProperties": {
      "type": "structure",
      "members": {
        "privateEndpoint": {
          "target": "com.azure.search#PrivateEndpointConnectionPropertiesPrivateEndpoint",
          "traits": {
            "smithy.api#documentation": "The private endpoint resource from Microsoft.Network provider."
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.search#PrivateEndpointConnectionPropertiesPrivateLinkServiceConnectionState",
          "traits": {
            "smithy.api#documentation": "Describes the current state of an existing Azure Private Link service connection to the private endpoint."
          }
        },
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The group ID of the Azure resource for which the private link service is for."
          }
        },
        "provisioningState": {
          "target": "com.azure.search#PrivateLinkServiceConnectionProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the private link service connection. Valid values are Updating, Deleting, Failed, Succeeded, Incomplete, or Canceled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the properties of an existing private endpoint connection to the search service."
      }
    },
    "com.azure.search#PrivateLinkServiceConnectionProvisioningState": {
      "type": "enum",
      "members": {
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "INCOMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Incomplete"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioning state of the private link service connection. Valid values are Updating, Deleting, Failed, Succeeded, Incomplete, or Canceled."
      }
    },
    "com.azure.search#PrivateEndpointConnectionPropertiesPrivateLinkServiceConnectionState": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.search#PrivateLinkServiceConnectionStatus",
          "traits": {
            "smithy.api#documentation": "Status of the the private link service connection. Valid values are Pending, Approved, Rejected, or Disconnected."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description for the private link service connection state."
          }
        },
        "actionsRequired": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description of any extra actions that may be required."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the current state of an existing Azure Private Link service connection to the private endpoint."
      }
    },
    "com.azure.search#PrivateLinkServiceConnectionStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disconnected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the the private link service connection. Valid values are Pending, Approved, Rejected, or Disconnected."
      }
    },
    "com.azure.search#PrivateEndpointConnectionPropertiesPrivateEndpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource ID of the private endpoint resource from Microsoft.Network provider."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The private endpoint resource from Microsoft.Network provider."
      }
    },
    "com.azure.search#SearchSemanticSearch": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "FREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "free"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the availability and billing plan for semantic search on the Azure AI Search service. This configuration is only available for certain pricing tiers in certain regions."
      }
    },
    "com.azure.search#DataPlaneAuthOptions": {
      "type": "structure",
      "members": {
        "apiKeyOnly": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Indicates that only the API key can be used for authentication."
          }
        },
        "aadOrApiKey": {
          "target": "com.azure.search#DataPlaneAadOrApiKeyAuthOption",
          "traits": {
            "smithy.api#documentation": "Indicates that either the API key or an access token from a Microsoft Entra ID tenant can be used for authentication."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the options for how the search service authenticates a data plane request. This cannot be set if 'disableLocalAuth' is set to true."
      }
    },
    "com.azure.search#DataPlaneAadOrApiKeyAuthOption": {
      "type": "structure",
      "members": {
        "aadAuthFailureMode": {
          "target": "com.azure.search#AadAuthFailureMode",
          "traits": {
            "smithy.api#documentation": "Describes what response the data plane API of a search service would send for requests that failed authentication."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates that either the API key or an access token from a Microsoft Entra ID tenant can be used for authentication."
      }
    },
    "com.azure.search#AadAuthFailureMode": {
      "type": "enum",
      "members": {
        "HTTP403": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http403"
          }
        },
        "HTTP401WITHBEARERCHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http401WithBearerChallenge"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes what response the data plane API of a search service would send for requests that failed authentication."
      }
    },
    "com.azure.search#EncryptionWithCmk": {
      "type": "structure",
      "members": {
        "enforcement": {
          "target": "com.azure.search#SearchEncryptionWithCmk",
          "traits": {
            "smithy.api#documentation": "Describes how a search service should enforce compliance if it finds objects that aren't encrypted with the customer-managed key."
          }
        },
        "encryptionComplianceStatus": {
          "target": "com.azure.search#SearchEncryptionComplianceStatus",
          "traits": {
            "smithy.api#documentation": "Returns the status of search service compliance with respect to non-CMK-encrypted objects. If a service has more than one unencrypted object, and enforcement is enabled, the service is marked as noncompliant."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a policy that determines how resources within the search service are to be encrypted with customer managed keys."
      }
    },
    "com.azure.search#SearchEncryptionComplianceStatus": {
      "type": "enum",
      "members": {
        "COMPLIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Compliant"
          }
        },
        "NONCOMPLIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NonCompliant"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Returns the status of search service compliance with respect to non-CMK-encrypted objects. If a service has more than one unencrypted object, and enforcement is enabled, the service is marked as noncompliant."
      }
    },
    "com.azure.search#SearchEncryptionWithCmk": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unspecified"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes how a search service should enforce compliance if it finds objects that aren't encrypted with the customer-managed key."
      }
    },
    "com.azure.search#SearchServicePropertiesDataExfiltrationProtectionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.search#SearchDataExfiltrationProtection"
      },
      "traits": {
        "smithy.api#documentation": "A list of data exfiltration scenarios that are explicitly disallowed for the search service. Currently, the only supported value is 'All' to disable all possible data export scenarios with more fine grained controls planned for the future."
      }
    },
    "com.azure.search#SearchDataExfiltrationProtection": {
      "type": "enum",
      "members": {
        "BLOCKALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BlockAll"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A specific data exfiltration scenario that is disabled for the service."
      }
    },
    "com.azure.search#NetworkRuleSet": {
      "type": "structure",
      "members": {
        "ipRules": {
          "target": "com.azure.search#NetworkRuleSetIpRulesList",
          "traits": {
            "smithy.api#documentation": "A list of IP restriction rules that defines the inbound network(s) with allowing access to the search service endpoint. At the meantime, all other public IP networks are blocked by the firewall. These restriction rules are applied only when the 'publicNetworkAccess' of the search service is 'enabled'; otherwise, traffic over public interface is not allowed even with any public IP rules, and private endpoint connections would be the exclusive access method."
          }
        },
        "bypass": {
          "target": "com.azure.search#SearchBypass",
          "traits": {
            "smithy.api#documentation": "Possible origins of inbound traffic that can bypass the rules defined in the 'ipRules' section."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network specific rules that determine how the Azure AI Search service may be reached."
      }
    },
    "com.azure.search#SearchBypass": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "AZURESERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureServices"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible origins of inbound traffic that can bypass the rules defined in the 'ipRules' section."
      }
    },
    "com.azure.search#NetworkRuleSetIpRulesList": {
      "type": "list",
      "member": {
        "target": "com.azure.search#IpRule"
      },
      "traits": {
        "smithy.api#documentation": "A list of IP restriction rules that defines the inbound network(s) with allowing access to the search service endpoint. At the meantime, all other public IP networks are blocked by the firewall. These restriction rules are applied only when the 'publicNetworkAccess' of the search service is 'enabled'; otherwise, traffic over public interface is not allowed even with any public IP rules, and private endpoint connections would be the exclusive access method."
      }
    },
    "com.azure.search#IpRule": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value corresponding to a single IPv4 address (eg., 123.1.2.3) or an IP range in CIDR format (eg., 123.1.2.3/24) to be allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The IP restriction rule of the Azure AI Search service."
      }
    },
    "com.azure.search#ProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "succeeded"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provisioning"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of the last provisioning operation performed on the search service. Provisioning is an intermediate state that occurs while service capacity is being established. After capacity is set up, provisioningState changes to either 'Succeeded' or 'Failed'. Client applications can poll provisioning status (the recommended polling interval is from 30 seconds to one minute) by using the Get Search Service operation to see when an operation is completed. If you are using the free service, this value tends to come back as 'Succeeded' directly in the call to Create search service. This is because the free service uses capacity that is already set up."
      }
    },
    "com.azure.search#SearchServiceStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provisioning"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleting"
          }
        },
        "DEGRADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "degraded"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopped"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the search service. Possible values include: 'running': The search service is running and no provisioning operations are underway. 'provisioning': The search service is being provisioned or scaled up or down. 'deleting': The search service is being deleted. 'degraded': The search service is degraded. This can occur when the underlying search units are not healthy. The search service is most likely operational, but performance might be slow and some requests might be dropped. 'disabled': The search service is disabled. In this state, the service will reject all API requests. 'error': The search service is in an error state. 'stopped': The search service is in a subscription that's disabled. If your service is in the degraded, disabled, or error states, it means the Azure AI Search team is actively investigating the underlying issue. Dedicated services in these states are still chargeable based on the number of search units provisioned."
      }
    },
    "com.azure.search#SearchServicePropertiesPublicNetworkAccess": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        },
        "SECUREDBYPERIMETER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SecuredByPerimeter"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This value can be set to 'Enabled' to avoid breaking changes on existing customer resources and templates. If set to 'Disabled', traffic over public interface is not allowed, and private endpoint connections would be the exclusive access method."
      }
    },
    "com.azure.search#ComputeType": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Default"
          }
        },
        "CONFIDENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Confidential"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configure this property to support the search service using either the Default Compute or Azure Confidential Compute."
      }
    },
    "com.azure.search#SearchServicePropertiesHostingMode": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Default"
          }
        },
        "HIGHDENSITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HighDensity"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Applicable only for the standard3 SKU. You can set this property to enable up to 3 high density partitions that allow up to 1000 indexes, which is much higher than the maximum indexes allowed for any other SKU. For the standard3 SKU, the value is either 'Default' or 'HighDensity'. For all other SKUs, this value must be 'Default'."
      }
    },
    "com.azure.search#ServicesUpgradeResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.search#ServicesUpgradeRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "searchServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure AI Search service associated with the specified resource group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.search#SharedPrivateLinkResourcesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.search#SharedPrivateLinkResourcesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/sharedPrivateLinkResources/{sharedPrivateLinkResourceName}",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Initiates the deletion of the shared private link resource from the search service.\nReturns 202 (Accepted) for asynchronous deletion, 204 (No Content) if the service exists but the shared private link is not found, or 404 (Not Found) if the service is not found.\nNOTE: The behavior of returning 404 is inconsistent with ARM guidelines. Clients should expect a 204 response in future versions and avoid new dependencies on the 404 response.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.search#SharedPrivateLinkResourcesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "searchServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure AI Search service associated with the specified resource group."
          }
        },
        "sharedPrivateLinkResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the shared private link resource managed by the Azure AI Search service within the specified resource group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.search#SharedPrivateLinkResourcesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.search#SharedPrivateLinkResourcesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.search#SharedPrivateLinkResourcesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/sharedPrivateLinkResources/{sharedPrivateLinkResourceName}",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Initiates the creation or update of a shared private link resource managed by the search service in the given resource group.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.search#SharedPrivateLinkResourcesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.search#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.search#SharedPrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "Describes the properties of a shared private link resource managed by the Azure AI Search service."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.search#SharedPrivateLinkResourcesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "searchServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure AI Search service associated with the specified resource group."
          }
        },
        "sharedPrivateLinkResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the shared private link resource managed by the Azure AI Search service within the specified resource group."
          }
        },
        "properties": {
          "target": "com.azure.search#SharedPrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "Describes the properties of a shared private link resource managed by the Azure AI Search service."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.search#SharedPrivateLinkResourcesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.search#SharedPrivateLinkResourcesGetRequest"
      },
      "output": {
        "target": "com.azure.search#SharedPrivateLinkResourcesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/sharedPrivateLinkResources/{sharedPrivateLinkResourceName}",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Gets the details of the shared private link resource managed by the search service in the given resource group.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.search#SharedPrivateLinkResourcesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.search#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.search#SharedPrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "Describes the properties of a shared private link resource managed by the Azure AI Search service."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.search#SharedPrivateLinkResourcesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "searchServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure AI Search service associated with the specified resource group."
          }
        },
        "sharedPrivateLinkResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the shared private link resource managed by the Azure AI Search service within the specified resource group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.search#SharedPrivateLinkResourcesListByService": {
      "type": "operation",
      "input": {
        "target": "com.azure.search#SharedPrivateLinkResourcesListByServiceRequest"
      },
      "output": {
        "target": "com.azure.search#SharedPrivateLinkResourceListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/sharedPrivateLinkResources",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Gets a list of all shared private link resources managed by the given service.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.search#SharedPrivateLinkResourceListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.search#SharedPrivateLinkResourceListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of shared private link resources."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to get the next set of shared private link resources, if there are any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response containing a list of shared private link resources."
      }
    },
    "com.azure.search#SharedPrivateLinkResourceListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.search#SharedPrivateLinkResource"
      },
      "traits": {
        "smithy.api#documentation": "The list of shared private link resources."
      }
    },
    "com.azure.search#SharedPrivateLinkResourcesListByServiceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "searchServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure AI Search service associated with the specified resource group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.search#AdminKeysRegenerate": {
      "type": "operation",
      "input": {
        "target": "com.azure.search#AdminKeysRegenerateRequest"
      },
      "output": {
        "target": "com.azure.search#AdminKeyResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/regenerateAdminKey/{keyKind}",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Regenerates either the primary or secondary admin API key. You can only regenerate one key at a time.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.search#AdminKeyResult": {
      "type": "structure",
      "members": {
        "primaryKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The primary admin API key of the search service."
          }
        },
        "secondaryKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secondary admin API key of the search service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response containing the primary and secondary admin API keys for a given Azure AI Search service."
      }
    },
    "com.azure.search#AdminKeysRegenerateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "searchServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure AI Search service associated with the specified resource group."
          }
        },
        "keyKind": {
          "target": "com.azure.search#AdminKeysRegenerateRequestKeyKind",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Specifies which key to regenerate. Valid values include 'primary' and 'secondary'."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.search#AdminKeysRegenerateRequestKeyKind": {
      "type": "enum",
      "members": {
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "primary"
          }
        },
        "SECONDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secondary"
          }
        }
      },
      "traits": {}
    },
    "com.azure.search#PrivateLinkResourcesListSupported": {
      "type": "operation",
      "input": {
        "target": "com.azure.search#PrivateLinkResourcesListSupportedRequest"
      },
      "output": {
        "target": "com.azure.search#PrivateLinkResourcesResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/privateLinkResources",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Gets a list of all supported private link resource types for the given service.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.search#PrivateLinkResourcesResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.search#PrivateLinkResourcesResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of supported Private Link Resources."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to get the next set of private link resources, if there are any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response containing a list of supported Private Link Resources."
      }
    },
    "com.azure.search#PrivateLinkResourcesResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.search#PrivateLinkResource"
      },
      "traits": {
        "smithy.api#documentation": "The list of supported Private Link Resources."
      }
    },
    "com.azure.search#PrivateLinkResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.search#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.search#PrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "Describes the properties of a supported private link resource for the Azure AI Search service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a supported private link resource for the Azure AI Search service."
      }
    },
    "com.azure.search#PrivateLinkResourceProperties": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The group ID of the private link resource."
          }
        },
        "requiredMembers": {
          "target": "com.azure.search#PrivateLinkResourcePropertiesRequiredMembersList",
          "traits": {
            "smithy.api#documentation": "The list of required members of the private link resource."
          }
        },
        "requiredZoneNames": {
          "target": "com.azure.search#PrivateLinkResourcePropertiesRequiredZoneNamesList",
          "traits": {
            "smithy.api#documentation": "The list of required DNS zone names of the private link resource."
          }
        },
        "shareablePrivateLinkResourceTypes": {
          "target": "com.azure.search#PrivateLinkResourcePropertiesShareablePrivateLinkResourceTypesList",
          "traits": {
            "smithy.api#documentation": "The list of resources that are onboarded to private link service, that are supported by Azure AI Search."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the properties of a supported private link resource for the Azure AI Search service. For a given API version, this represents the 'supported' groupIds when creating a shared private link resource."
      }
    },
    "com.azure.search#PrivateLinkResourcePropertiesShareablePrivateLinkResourceTypesList": {
      "type": "list",
      "member": {
        "target": "com.azure.search#ShareablePrivateLinkResourceType"
      },
      "traits": {
        "smithy.api#documentation": "The list of resources that are onboarded to private link service, that are supported by Azure AI Search."
      }
    },
    "com.azure.search#ShareablePrivateLinkResourceType": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource type that has been onboarded to private link service, supported by Azure AI Search."
          }
        },
        "properties": {
          "target": "com.azure.search#ShareablePrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "Describes the properties of a resource type that has been onboarded to private link service, supported by Azure AI Search."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes an resource type that has been onboarded to private link service, supported by Azure AI Search."
      }
    },
    "com.azure.search#ShareablePrivateLinkResourceProperties": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource provider type for the resource that has been onboarded to private link service, supported by Azure AI Search."
          }
        },
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource provider group id for the resource that has been onboarded to private link service, supported by Azure AI Search."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the resource type that has been onboarded to private link service, supported by Azure AI Search."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the properties of a resource type that has been onboarded to private link service, supported by Azure AI Search."
      }
    },
    "com.azure.search#PrivateLinkResourcePropertiesRequiredZoneNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of required DNS zone names of the private link resource."
      }
    },
    "com.azure.search#PrivateLinkResourcePropertiesRequiredMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of required members of the private link resource."
      }
    },
    "com.azure.search#PrivateLinkResourcesListSupportedRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "searchServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure AI Search service associated with the specified resource group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.search#PrivateEndpointConnectionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.search#PrivateEndpointConnectionsDeleteRequest"
      },
      "output": {
        "target": "com.azure.search#PrivateEndpointConnectionsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Disconnects the private endpoint connection and deletes it from the search service.\nReturns 200 (OK) with the deleted connection details on successful deletion, or 404 (Not Found) if the connection does not exist.\nNOTE: The behavior of returning 404 is inconsistent with ARM guidelines. Clients should expect a 204 response in future versions and avoid new dependencies on the 404 response.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.search#PrivateEndpointConnectionsDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.search#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.search#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Describes the properties of an existing private endpoint connection to the Azure AI Search service."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.search#PrivateEndpointConnectionsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "searchServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure AI Search service associated with the specified resource group."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection to the Azure AI Search service with the specified resource group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.search#PrivateEndpointConnectionsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.search#PrivateEndpointConnectionsUpdateRequest"
      },
      "output": {
        "target": "com.azure.search#PrivateEndpointConnectionsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Updates a private endpoint connection to the search service in the given resource group.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.search#PrivateEndpointConnectionsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.search#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.search#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Describes the properties of an existing private endpoint connection to the Azure AI Search service."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.search#PrivateEndpointConnectionsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "searchServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure AI Search service associated with the specified resource group."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection to the Azure AI Search service with the specified resource group."
          }
        },
        "properties": {
          "target": "com.azure.search#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Describes the properties of an existing private endpoint connection to the Azure AI Search service."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.search#PrivateEndpointConnectionsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.search#PrivateEndpointConnectionsGetRequest"
      },
      "output": {
        "target": "com.azure.search#PrivateEndpointConnectionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Gets the details of the private endpoint connection to the search service in the given resource group.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.search#PrivateEndpointConnectionsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.search#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.search#PrivateEndpointConnectionProperties",
          "traits": {
            "smithy.api#documentation": "Describes the properties of an existing private endpoint connection to the Azure AI Search service."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.search#PrivateEndpointConnectionsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "searchServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure AI Search service associated with the specified resource group."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection to the Azure AI Search service with the specified resource group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.search#PrivateEndpointConnectionsListByService": {
      "type": "operation",
      "input": {
        "target": "com.azure.search#PrivateEndpointConnectionsListByServiceRequest"
      },
      "output": {
        "target": "com.azure.search#PrivateEndpointConnectionListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/privateEndpointConnections",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Gets a list of all private endpoint connections in the given service.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.search#PrivateEndpointConnectionListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.search#PrivateEndpointConnectionListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of private endpoint connections."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Request URL that can be used to query next page of private endpoint connections. Returned when the total number of requested private endpoint connections exceed maximum page size."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response containing a list of private endpoint connections."
      }
    },
    "com.azure.search#PrivateEndpointConnectionListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.search#PrivateEndpointConnection"
      },
      "traits": {
        "smithy.api#documentation": "The list of private endpoint connections."
      }
    },
    "com.azure.search#PrivateEndpointConnectionsListByServiceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "searchServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure AI Search service associated with the specified resource group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.search#NetworkSecurityPerimeterConfigurationsReconcile": {
      "type": "operation",
      "input": {
        "target": "com.azure.search#NetworkSecurityPerimeterConfigurationsReconcileRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/networkSecurityPerimeterConfigurations/{nspConfigName}/reconcile",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Reconcile network security perimeter configuration for the Azure AI Search resource provider. This triggers a manual resync with network security perimeter configurations by ensuring the search service carries the latest configuration.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.search#NetworkSecurityPerimeterConfigurationsReconcileRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "searchServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Azure AI Search service associated with the specified resource group."
          }
        },
        "nspConfigName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The network security perimeter configuration name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.search#NetworkSecurityPerimeterConfigurationsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.search#NetworkSecurityPerimeterConfigurationsGetRequest"
      },
      "output": {
        "target": "com.azure.search#NetworkSecurityPerimeterConfigurationsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/networkSecurityPerimeterConfigurations/{nspConfigName}",
          "code": 200,
          "apiVersion": "2025-05-01"
        },
        "smithy.api#documentation": "Gets a network security perimeter configuration.",
        "com.distilled.openapi#apiVersion": "2025-05-01"
      }
    },
    "com.azure.search#NetworkSecurityPerimeterConfigurationsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.search#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.search#NetworkSecurityPerimeterConfigurationProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.search#NetworkSecurityPerimeterConfigurationProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.search#NetworkSecurityPerimeterConfigurationProvisioningState"
        },
        "provisioningIssues": {
          "target": "com.azure.search#NetworkSecurityPerimeterConfigurationPropertiesProvisioningIssuesList",
          "traits": {
            "smithy.api#documentation": "List of provisioning issues, if any"
          }
        },
        "networkSecurityPerimeter": {
          "target": "com.azure.search#NetworkSecurityPerimeter"
        },
        "resourceAssociation": {
          "target": "com.azure.search#ResourceAssociation"
        },
        "profile": {
          "target": "com.azure.search#NetworkSecurityProfile"
        }
      },
      "traits": {
        "smithy.api#documentation": "Network security configuration properties."
      }
    },
    "com.azure.search#NetworkSecurityProfile": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the profile"
          }
        },
        "accessRulesVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Current access rules version"
          }
        },
        "accessRules": {
          "target": "com.azure.search#NetworkSecurityProfileAccessRulesList",
          "traits": {
            "smithy.api#documentation": "List of Access Rules"
          }
        },
        "diagnosticSettingsVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Current diagnostic settings version"
          }
        },
        "enabledLogCategories": {
          "target": "com.azure.search#NetworkSecurityProfileEnabledLogCategoriesList",
          "traits": {
            "smithy.api#documentation": "List of log categories that are enabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network security perimeter configuration profile"
      }
    },
    "com.azure.search#NetworkSecurityProfileEnabledLogCategoriesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of log categories that are enabled"
      }
    },
    "com.azure.search#NetworkSecurityProfileAccessRulesList": {
      "type": "list",
      "member": {
        "target": "com.azure.search#AccessRule"
      },
      "traits": {
        "smithy.api#documentation": "List of Access Rules"
      }
    },
    "com.azure.search#AccessRule": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the access rule"
          }
        },
        "properties": {
          "target": "com.azure.search#AccessRuleProperties"
        }
      },
      "traits": {
        "smithy.api#documentation": "Access rule in a network security perimeter configuration profile"
      }
    },
    "com.azure.search#AccessRuleProperties": {
      "type": "structure",
      "members": {
        "direction": {
          "target": "com.azure.search#AccessRuleDirection"
        },
        "addressPrefixes": {
          "target": "com.azure.search#AccessRulePropertiesAddressPrefixesList",
[...]
