{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.securityinsights#AlertRuleTemplatesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#AlertRuleTemplatesGetRequest"
      },
      "output": {
        "target": "com.azure.securityinsights#AlertRuleTemplatesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/alertRuleTemplates/{alertRuleTemplateId}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Gets the alert rule template.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#AlertRuleTemplatesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.securityinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "kind": {
          "target": "com.azure.securityinsights#AlertRuleKindEnum",
          "traits": {
            "smithy.api#documentation": "The alert rule kind",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.securityinsights#AlertRuleKindEnum": {
      "type": "enum",
      "members": {
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Scheduled"
          }
        },
        "MICROSOFTSECURITYINCIDENTCREATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MicrosoftSecurityIncidentCreation"
          }
        },
        "FUSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Fusion"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The kind of the alert rule"
      }
    },
    "com.azure.securityinsights#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.securityinsights#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.securityinsights#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.securityinsights#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.securityinsights#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.securityinsights#AlertRuleTemplatesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "alertRuleTemplateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Alert rule template ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityinsights#AlertRuleTemplatesList2": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#AlertRuleTemplatesListRequest"
      },
      "output": {
        "target": "com.azure.securityinsights#AlertRuleTemplatesList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/alertRuleTemplates",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Gets all alert rule templates.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#AlertRuleTemplatesList": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to fetch the next set of alert rule templates."
          }
        },
        "value": {
          "target": "com.azure.securityinsights#AlertRuleTemplatesListValueList",
          "traits": {
            "smithy.api#documentation": "Array of alert rule templates.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List all the alert rule templates."
      }
    },
    "com.azure.securityinsights#AlertRuleTemplatesListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.securityinsights#AlertRuleTemplate"
      },
      "traits": {
        "smithy.api#documentation": "Array of alert rule templates."
      }
    },
    "com.azure.securityinsights#AlertRuleTemplate": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.securityinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "kind": {
          "target": "com.azure.securityinsights#AlertRuleKindEnum",
          "traits": {
            "smithy.api#documentation": "The alert rule kind",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Alert rule template."
      }
    },
    "com.azure.securityinsights#AlertRuleTemplatesListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityinsights#ActionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#ActionsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/alertRules/{ruleId}/actions/{actionId}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Delete the action of alert rule.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#ActionsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "ruleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Alert rule ID"
          }
        },
        "actionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Action ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityinsights#ActionsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#ActionsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.securityinsights#ActionsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/alertRules/{ruleId}/actions/{actionId}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Creates or updates the action of alert rule.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#ActionsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.securityinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the action."
          }
        },
        "properties": {
          "target": "com.azure.securityinsights#ActionResponseProperties",
          "traits": {
            "smithy.api#documentation": "Action properties for get request"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.securityinsights#ActionResponseProperties": {
      "type": "structure",
      "members": {
        "logicAppResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Logic App Resource Id, /subscriptions/{my-subscription}/resourceGroups/{my-resource-group}/providers/Microsoft.Logic/workflows/{my-workflow-id}.",
            "smithy.api#required": {}
          }
        },
        "workflowId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the logic app's workflow."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Action property bag."
      }
    },
    "com.azure.securityinsights#ActionsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "ruleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Alert rule ID"
          }
        },
        "actionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Action ID"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of the azure resource"
          }
        },
        "properties": {
          "target": "com.azure.securityinsights#ActionRequestProperties",
          "traits": {
            "smithy.api#documentation": "Action properties for put request"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityinsights#ActionRequestProperties": {
      "type": "structure",
      "members": {
        "logicAppResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Logic App Resource Id, /subscriptions/{my-subscription}/resourceGroups/{my-resource-group}/providers/Microsoft.Logic/workflows/{my-workflow-id}.",
            "smithy.api#required": {}
          }
        },
        "triggerUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Logic App Callback URL for this specific workflow.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Action property bag."
      }
    },
    "com.azure.securityinsights#ActionsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#ActionsGetRequest"
      },
      "output": {
        "target": "com.azure.securityinsights#ActionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/alertRules/{ruleId}/actions/{actionId}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Gets the action of alert rule.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#ActionsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.securityinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the action."
          }
        },
        "properties": {
          "target": "com.azure.securityinsights#ActionResponseProperties",
          "traits": {
            "smithy.api#documentation": "Action properties for get request"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.securityinsights#ActionsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "ruleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Alert rule ID"
          }
        },
        "actionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Action ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityinsights#ActionsListByAlertRule": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#ActionsListByAlertRuleRequest"
      },
      "output": {
        "target": "com.azure.securityinsights#ActionsList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/alertRules/{ruleId}/actions",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Gets all actions of alert rule.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#ActionsList": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to fetch the next set of actions."
          }
        },
        "value": {
          "target": "com.azure.securityinsights#ActionsListValueList",
          "traits": {
            "smithy.api#documentation": "Array of actions.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List all the actions."
      }
    },
    "com.azure.securityinsights#ActionsListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.securityinsights#ActionResponse"
      },
      "traits": {
        "smithy.api#documentation": "Array of actions."
      }
    },
    "com.azure.securityinsights#ActionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.securityinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag of the action."
          }
        },
        "properties": {
          "target": "com.azure.securityinsights#ActionResponseProperties",
          "traits": {
            "smithy.api#documentation": "Action properties for get request"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Action for alert rule."
      }
    },
    "com.azure.securityinsights#ActionsListByAlertRuleRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "ruleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Alert rule ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityinsights#AlertRulesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#AlertRulesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/alertRules/{ruleId}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Delete the alert rule.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#AlertRulesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "ruleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Alert rule ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityinsights#AlertRulesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#AlertRulesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.securityinsights#AlertRulesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/alertRules/{ruleId}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Creates or updates the alert rule.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#AlertRulesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.securityinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of the azure resource"
          }
        },
        "kind": {
          "target": "com.azure.securityinsights#AlertRuleKindEnum",
          "traits": {
            "smithy.api#documentation": "The alert rule kind",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.securityinsights#AlertRulesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "ruleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Alert rule ID"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of the azure resource"
          }
        },
        "kind": {
          "target": "com.azure.securityinsights#AlertRuleKindEnum",
          "traits": {
            "smithy.api#documentation": "The alert rule kind",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityinsights#AlertRulesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#AlertRulesGetRequest"
      },
      "output": {
        "target": "com.azure.securityinsights#AlertRulesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/alertRules/{ruleId}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Gets the alert rule.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#AlertRulesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.securityinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of the azure resource"
          }
        },
        "kind": {
          "target": "com.azure.securityinsights#AlertRuleKindEnum",
          "traits": {
            "smithy.api#documentation": "The alert rule kind",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.securityinsights#AlertRulesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "ruleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Alert rule ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityinsights#AlertRulesList2": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#AlertRulesListRequest"
      },
      "output": {
        "target": "com.azure.securityinsights#AlertRulesList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/alertRules",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Gets all alert rules.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#AlertRulesList": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to fetch the next set of alert rules."
          }
        },
        "value": {
          "target": "com.azure.securityinsights#AlertRulesListValueList",
          "traits": {
            "smithy.api#documentation": "Array of alert rules.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List all the alert rules."
      }
    },
    "com.azure.securityinsights#AlertRulesListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.securityinsights#AlertRule"
      },
      "traits": {
        "smithy.api#documentation": "Array of alert rules."
      }
    },
    "com.azure.securityinsights#AlertRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.securityinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of the azure resource"
          }
        },
        "kind": {
          "target": "com.azure.securityinsights#AlertRuleKindEnum",
          "traits": {
            "smithy.api#documentation": "The alert rule kind",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Alert rule."
      }
    },
    "com.azure.securityinsights#AlertRulesListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityinsights#IncidentsRunPlaybook": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#IncidentsRunPlaybookRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/incidents/{incidentIdentifier}/runPlaybook",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Triggers playbook on a specific incident",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#IncidentsRunPlaybookRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "incidentIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Incident ID"
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant id of the playbook resource."
          }
        },
        "logicAppsResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id of the playbook resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityinsights#EntitiesRunPlaybook": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#EntitiesRunPlaybookRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/entities/{entityIdentifier}/runPlaybook",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Triggers playbook on a specific entity.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#EntitiesRunPlaybookRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "entityIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Entity ID"
          }
        },
        "incidentArmId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The incident id to associate the entity with."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant id of the playbook resource."
          }
        },
        "logicAppsResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id of the playbook resource.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityinsights#AutomationRulesList2": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#AutomationRulesListRequest"
      },
      "output": {
        "target": "com.azure.securityinsights#AutomationRulesList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/automationRules",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Gets all automation rules.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#AutomationRulesList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.securityinsights#AutomationRulesListValueList"
        },
        "nextLink": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.azure.securityinsights#AutomationRulesListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.securityinsights#AutomationRule"
      },
      "traits": {}
    },
    "com.azure.securityinsights#AutomationRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.securityinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of the azure resource"
          }
        },
        "properties": {
          "target": "com.azure.securityinsights#AutomationRuleProperties",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.azure.securityinsights#AutomationRuleProperties": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the automation rule.",
            "smithy.api#required": {}
          }
        },
        "order": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The order of execution of the automation rule.",
            "smithy.api#required": {}
          }
        },
        "triggeringLogic": {
          "target": "com.azure.securityinsights#AutomationRuleTriggeringLogic",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "actions": {
          "target": "com.azure.securityinsights#AutomationRulePropertiesActionsList",
          "traits": {
            "smithy.api#documentation": "The actions to execute when the automation rule is triggered.",
            "smithy.api#required": {}
          }
        },
        "lastModifiedTimeUtc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time the automation rule was updated."
          }
        },
        "createdTimeUtc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the automation rule was created."
          }
        },
        "lastModifiedBy": {
          "target": "com.azure.securityinsights#AutomationRulePropertiesLastModifiedBy",
          "traits": {
            "smithy.api#documentation": "Information on the client (user or application) that made some action"
          }
        },
        "createdBy": {
          "target": "com.azure.securityinsights#AutomationRulePropertiesCreatedBy",
          "traits": {
            "smithy.api#documentation": "Information on the client (user or application) that made some action"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Automation rule properties"
      }
    },
    "com.azure.securityinsights#AutomationRulePropertiesCreatedBy": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the client."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the client."
          }
        },
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object id of the client."
          }
        },
        "userPrincipalName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user principal name of the client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information on the client (user or application) that made some action"
      }
    },
    "com.azure.securityinsights#AutomationRulePropertiesLastModifiedBy": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the client."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the client."
          }
        },
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object id of the client."
          }
        },
        "userPrincipalName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user principal name of the client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information on the client (user or application) that made some action"
      }
    },
    "com.azure.securityinsights#AutomationRulePropertiesActionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.securityinsights#AutomationRuleAction"
      },
      "traits": {
        "smithy.api#documentation": "The actions to execute when the automation rule is triggered."
      }
    },
    "com.azure.securityinsights#AutomationRuleAction": {
      "type": "structure",
      "members": {
        "order": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "actionType": {
          "target": "com.azure.securityinsights#ActionType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes an automation rule action."
      }
    },
    "com.azure.securityinsights#ActionType": {
      "type": "enum",
      "members": {
        "MODIFYPROPERTIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ModifyProperties"
          }
        },
        "RUNPLAYBOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RunPlaybook"
          }
        },
        "ADDINCIDENTTASK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AddIncidentTask"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the automation rule action."
      }
    },
    "com.azure.securityinsights#AutomationRuleTriggeringLogic": {
      "type": "structure",
      "members": {
        "isEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines whether the automation rule is enabled or disabled.",
            "smithy.api#required": {}
          }
        },
        "expirationTimeUtc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Determines when the automation rule should automatically expire and be disabled."
          }
        },
        "triggersOn": {
          "target": "com.azure.securityinsights#TriggersOn",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "triggersWhen": {
          "target": "com.azure.securityinsights#TriggersWhen",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "conditions": {
          "target": "com.azure.securityinsights#AutomationRuleTriggeringLogicConditionsList",
          "traits": {
            "smithy.api#documentation": "The conditions to evaluate to determine if the automation rule should be triggered on a given object."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes automation rule triggering logic."
      }
    },
    "com.azure.securityinsights#AutomationRuleTriggeringLogicConditionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.securityinsights#AutomationRuleCondition"
      },
      "traits": {
        "smithy.api#documentation": "The conditions to evaluate to determine if the automation rule should be triggered on a given object."
      }
    },
    "com.azure.securityinsights#AutomationRuleCondition": {
      "type": "structure",
      "members": {
        "conditionType": {
          "target": "com.azure.securityinsights#ConditionType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes an automation rule condition."
      }
    },
    "com.azure.securityinsights#ConditionType": {
      "type": "enum",
      "members": {
        "PROPERTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Property"
          }
        },
        "PROPERTYARRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PropertyArray"
          }
        },
        "PROPERTYCHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PropertyChanged"
          }
        },
        "PROPERTYARRAYCHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PropertyArrayChanged"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Boolean"
          }
        }
      },
      "traits": {}
    },
    "com.azure.securityinsights#TriggersWhen": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Created"
          }
        },
        "UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updated"
          }
        }
      },
      "traits": {}
    },
    "com.azure.securityinsights#TriggersOn": {
      "type": "enum",
      "members": {
        "INCIDENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Incidents"
          }
        },
        "ALERTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Alerts"
          }
        }
      },
      "traits": {}
    },
    "com.azure.securityinsights#AutomationRulesListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityinsights#AutomationRulesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#AutomationRulesDeleteRequest"
      },
      "output": {
        "target": "com.azure.securityinsights#AutomationRulesDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/automationRules/{automationRuleId}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Delete the automation rule.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#AutomationRulesDeleteResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.securityinsights#AutomationRulesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "automationRuleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Automation rule ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityinsights#AutomationRulesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#AutomationRulesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.securityinsights#AutomationRulesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/automationRules/{automationRuleId}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Creates or updates the automation rule.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#AutomationRulesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.securityinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of the azure resource"
          }
        },
        "properties": {
          "target": "com.azure.securityinsights#AutomationRuleProperties",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.securityinsights#AutomationRulesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "automationRuleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Automation rule ID"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of the azure resource"
          }
        },
        "properties": {
          "target": "com.azure.securityinsights#AutomationRulePropertiesInput",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityinsights#AutomationRulePropertiesInput": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the automation rule.",
            "smithy.api#required": {}
          }
        },
        "order": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The order of execution of the automation rule.",
            "smithy.api#required": {}
          }
        },
        "triggeringLogic": {
          "target": "com.azure.securityinsights#AutomationRuleTriggeringLogic",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "actions": {
          "target": "com.azure.securityinsights#AutomationRulePropertiesInputActionsList",
          "traits": {
            "smithy.api#documentation": "The actions to execute when the automation rule is triggered.",
            "smithy.api#required": {}
          }
        },
        "lastModifiedBy": {
          "target": "com.azure.securityinsights#AutomationRulePropertiesInputLastModifiedBy",
          "traits": {
            "smithy.api#documentation": "Information on the client (user or application) that made some action"
          }
        },
        "createdBy": {
          "target": "com.azure.securityinsights#AutomationRulePropertiesInputCreatedBy",
          "traits": {
            "smithy.api#documentation": "Information on the client (user or application) that made some action"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Automation rule properties"
      }
    },
    "com.azure.securityinsights#AutomationRulePropertiesInputCreatedBy": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the client."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the client."
          }
        },
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object id of the client."
          }
        },
        "userPrincipalName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user principal name of the client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information on the client (user or application) that made some action"
      }
    },
    "com.azure.securityinsights#AutomationRulePropertiesInputLastModifiedBy": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the client."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the client."
          }
        },
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object id of the client."
          }
        },
        "userPrincipalName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user principal name of the client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information on the client (user or application) that made some action"
      }
    },
    "com.azure.securityinsights#AutomationRulePropertiesInputActionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.securityinsights#AutomationRuleAction"
      },
      "traits": {
        "smithy.api#documentation": "The actions to execute when the automation rule is triggered."
      }
    },
    "com.azure.securityinsights#AutomationRulesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#AutomationRulesGetRequest"
      },
      "output": {
        "target": "com.azure.securityinsights#AutomationRulesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/automationRules/{automationRuleId}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Gets the automation rule.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#AutomationRulesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.securityinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of the azure resource"
          }
        },
        "properties": {
          "target": "com.azure.securityinsights#AutomationRuleProperties",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.securityinsights#AutomationRulesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "automationRuleId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Automation rule ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityinsights#BookmarksDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#BookmarksDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/bookmarks/{bookmarkId}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Delete the bookmark.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#BookmarksDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "bookmarkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Bookmark ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityinsights#BookmarksCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#BookmarksCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.securityinsights#BookmarksCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/bookmarks/{bookmarkId}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Creates or updates the bookmark.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#BookmarksCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.securityinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of the azure resource"
          }
        },
        "properties": {
          "target": "com.azure.securityinsights#BookmarkProperties",
          "traits": {
            "smithy.api#documentation": "Bookmark properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.securityinsights#BookmarkProperties": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the bookmark was created"
          }
        },
        "createdBy": {
          "target": "com.azure.securityinsights#BookmarkPropertiesCreatedBy",
          "traits": {
            "smithy.api#documentation": "User information that made some action"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the bookmark",
            "smithy.api#required": {}
          }
        },
        "labels": {
          "target": "com.azure.securityinsights#BookmarkPropertiesLabelsList",
          "traits": {
            "smithy.api#documentation": "List of labels relevant to this bookmark"
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The notes of the bookmark"
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The query of the bookmark.",
            "smithy.api#required": {}
          }
        },
        "queryResult": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The query result of the bookmark."
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time the bookmark was updated"
          }
        },
        "updatedBy": {
          "target": "com.azure.securityinsights#BookmarkPropertiesUpdatedBy",
          "traits": {
            "smithy.api#documentation": "User information that made some action"
          }
        },
        "eventTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The bookmark event time"
          }
        },
        "queryStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time for the query"
          }
        },
        "queryEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time for the query"
          }
        },
        "incidentInfo": {
          "target": "com.azure.securityinsights#BookmarkPropertiesIncidentInfo",
          "traits": {
            "smithy.api#documentation": "Describes related incident information for the bookmark"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes bookmark properties"
      }
    },
    "com.azure.securityinsights#BookmarkPropertiesIncidentInfo": {
      "type": "structure",
      "members": {
        "incidentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Incident Id"
          }
        },
        "severity": {
          "target": "com.azure.securityinsights#IncidentSeverityEnum",
          "traits": {
            "smithy.api#documentation": "The severity of the incident"
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title of the incident"
          }
        },
        "relationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relation Name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes related incident information for the bookmark"
      }
    },
    "com.azure.securityinsights#IncidentSeverityEnum": {
      "type": "enum",
      "members": {
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "High"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Medium"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Low"
          }
        },
        "INFORMATIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Informational"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The severity of the incident"
      }
    },
    "com.azure.securityinsights#BookmarkPropertiesUpdatedBy": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the user."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the user."
          }
        },
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object id of the user.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User information that made some action"
      }
    },
    "com.azure.securityinsights#BookmarkPropertiesLabelsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of labels relevant to this bookmark"
      }
    },
    "com.azure.securityinsights#BookmarkPropertiesCreatedBy": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the user."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the user."
          }
        },
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object id of the user.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User information that made some action"
      }
    },
    "com.azure.securityinsights#BookmarksCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "bookmarkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Bookmark ID"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of the azure resource"
          }
        },
        "properties": {
          "target": "com.azure.securityinsights#BookmarkPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Bookmark properties"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityinsights#BookmarkPropertiesInput": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the bookmark was created"
          }
        },
        "createdBy": {
          "target": "com.azure.securityinsights#BookmarkPropertiesInputCreatedBy",
          "traits": {
            "smithy.api#documentation": "User information that made some action"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the bookmark",
            "smithy.api#required": {}
          }
        },
        "labels": {
          "target": "com.azure.securityinsights#BookmarkPropertiesInputLabelsList",
          "traits": {
            "smithy.api#documentation": "List of labels relevant to this bookmark"
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The notes of the bookmark"
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The query of the bookmark.",
            "smithy.api#required": {}
          }
        },
        "queryResult": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The query result of the bookmark."
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last time the bookmark was updated"
          }
        },
        "updatedBy": {
          "target": "com.azure.securityinsights#BookmarkPropertiesInputUpdatedBy",
          "traits": {
            "smithy.api#documentation": "User information that made some action"
          }
        },
        "eventTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The bookmark event time"
          }
        },
        "queryStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time for the query"
          }
        },
        "queryEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end time for the query"
          }
        },
        "incidentInfo": {
          "target": "com.azure.securityinsights#BookmarkPropertiesInputIncidentInfo",
          "traits": {
            "smithy.api#documentation": "Describes related incident information for the bookmark"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes bookmark properties"
      }
    },
    "com.azure.securityinsights#BookmarkPropertiesInputIncidentInfo": {
      "type": "structure",
      "members": {
        "incidentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Incident Id"
          }
        },
        "severity": {
          "target": "com.azure.securityinsights#IncidentSeverityEnum",
          "traits": {
            "smithy.api#documentation": "The severity of the incident"
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title of the incident"
          }
        },
        "relationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relation Name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes related incident information for the bookmark"
      }
    },
    "com.azure.securityinsights#BookmarkPropertiesInputUpdatedBy": {
      "type": "structure",
      "members": {
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object id of the user.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User information that made some action"
      }
    },
    "com.azure.securityinsights#BookmarkPropertiesInputLabelsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of labels relevant to this bookmark"
      }
    },
    "com.azure.securityinsights#BookmarkPropertiesInputCreatedBy": {
      "type": "structure",
      "members": {
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object id of the user.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User information that made some action"
      }
    },
    "com.azure.securityinsights#BookmarksGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#BookmarksGetRequest"
      },
      "output": {
        "target": "com.azure.securityinsights#BookmarksGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/bookmarks/{bookmarkId}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Gets a bookmark.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#BookmarksGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.securityinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of the azure resource"
          }
        },
        "properties": {
          "target": "com.azure.securityinsights#BookmarkProperties",
          "traits": {
            "smithy.api#documentation": "Bookmark properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.securityinsights#BookmarksGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "bookmarkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Bookmark ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.securityinsights#BookmarksList": {
      "type": "operation",
      "input": {
        "target": "com.azure.securityinsights#BookmarksListRequest"
      },
      "output": {
        "target": "com.azure.securityinsights#BookmarkList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/bookmarks",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Gets all bookmarks.",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.securityinsights#BookmarkList": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to fetch the next set of cases."
          }
        },
        "value": {
          "target": "com.azure.securityinsights#BookmarkListValueList",
          "traits": {
            "smithy.api#documentation": "Array of bookmarks.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List all the bookmarks."
      }
    },
    "com.azure.securityinsights#BookmarkListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.securityinsights#Bookmark"
      },
      "traits": {
        "smithy.api#documentation": "Array of bookmarks."
      }
    },
    "com.azure.securityinsights#Bookmark": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.securityinsights#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag of the azure resource"
          }
        },
        "properties": {
          "target": "com.azure.securityinsights#BookmarkProperties",
          "traits": {
            "smithy.api#documentation": "Bookmark properties"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a bookmark in Azure Security Insights."
      }
    },
    "com.azure.securityinsights#BookmarksListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
[...]
