{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.servicefabric#ServicesList": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicefabric#ServicesListRequest"
      },
      "output": {
        "target": "com.azure.servicefabric#ServiceResourceList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}/applications/{applicationName}/services",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Gets the list of service resources created in the specified Service Fabric application resource.\n\nGets all service resources created or in the process of being created in the Service Fabric application resource.",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.servicefabric#ServiceResourceList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.servicefabric#ServiceResourceListValueList"
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to get the next set of service list results if there are any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of service resources."
      }
    },
    "com.azure.servicefabric#ServiceResourceListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicefabric#ServiceResource"
      },
      "traits": {}
    },
    "com.azure.servicefabric#ServiceResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource type."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "It will be deprecated in New API, resource location depends on the parent resource."
          }
        },
        "tags": {
          "target": "com.azure.servicefabric#ServiceResourceTagsMap",
          "traits": {
            "smithy.api#documentation": "Azure resource tags."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource etag."
          }
        },
        "systemData": {
          "target": "com.azure.servicefabric#SystemData"
        },
        "properties": {
          "target": "com.azure.servicefabric#ServiceResourceProperties"
        }
      },
      "traits": {
        "smithy.api#documentation": "The service resource."
      }
    },
    "com.azure.servicefabric#ServiceResourceProperties": {
      "type": "structure",
      "members": {
        "placementConstraints": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The placement constraints as a string. Placement constraints are boolean expressions on node properties and allow for restricting a service to particular nodes based on the service requirements. For example, to place a service on nodes where NodeType is blue specify the following: \"NodeColor == blue)\"."
          }
        },
        "correlationScheme": {
          "target": "com.azure.servicefabric#CorrelationSchemeList"
        },
        "serviceLoadMetrics": {
          "target": "com.azure.servicefabric#ServiceLoadMetricsList"
        },
        "servicePlacementPolicies": {
          "target": "com.azure.servicefabric#ServicePlacementPoliciesList"
        },
        "defaultMoveCost": {
          "target": "com.azure.servicefabric#MoveCost"
        },
        "provisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current deployment or provisioning state, which only appears in the response"
          }
        },
        "serviceKind": {
          "target": "com.azure.servicefabric#ServiceKind",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "serviceTypeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the service type"
          }
        },
        "partitionDescription": {
          "target": "com.azure.servicefabric#PartitionSchemeDescription"
        },
        "servicePackageActivationMode": {
          "target": "com.azure.servicefabric#ServiceResourcePropertiesServicePackageActivationMode",
          "traits": {
            "smithy.api#documentation": "The activation Mode of the service package"
          }
        },
        "serviceDnsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dns name used for the service. If this is specified, then the service can be accessed via its DNS name instead of service name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The service resource properties."
      }
    },
    "com.azure.servicefabric#ServiceResourcePropertiesServicePackageActivationMode": {
      "type": "enum",
      "members": {
        "SHAREDPROCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SharedProcess"
          }
        },
        "EXCLUSIVEPROCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ExclusiveProcess"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The activation Mode of the service package"
      }
    },
    "com.azure.servicefabric#PartitionSchemeDescription": {
      "type": "structure",
      "members": {
        "partitionScheme": {
          "target": "com.azure.servicefabric#PartitionScheme",
          "traits": {
            "smithy.api#documentation": "Specifies how the service is partitioned.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes how the service is partitioned."
      }
    },
    "com.azure.servicefabric#PartitionScheme": {
      "type": "enum",
      "members": {
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        },
        "SINGLETON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Singleton"
          }
        },
        "UNIFORMINT64RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UniformInt64Range"
          }
        },
        "NAMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Named"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enumerates the ways that a service can be partitioned."
      }
    },
    "com.azure.servicefabric#ServiceKind": {
      "type": "enum",
      "members": {
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        },
        "STATELESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Stateless"
          }
        },
        "STATEFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Stateful"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The kind of service (Stateless or Stateful)."
      }
    },
    "com.azure.servicefabric#MoveCost": {
      "type": "enum",
      "members": {
        "ZERO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Zero"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "High"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the move cost for the service."
      }
    },
    "com.azure.servicefabric#ServicePlacementPoliciesList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicefabric#ServicePlacementPolicyDescription"
      },
      "traits": {
        "smithy.api#documentation": "A list that describes the correlation of the service with other services."
      }
    },
    "com.azure.servicefabric#ServicePlacementPolicyDescription": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.servicefabric#ServicePlacementPolicyType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the policy to be used for placement of a Service Fabric service."
      }
    },
    "com.azure.servicefabric#ServicePlacementPolicyType": {
      "type": "enum",
      "members": {
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        },
        "INVALIDDOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InvalidDomain"
          }
        },
        "REQUIREDDOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RequiredDomain"
          }
        },
        "PREFERREDPRIMARYDOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PreferredPrimaryDomain"
          }
        },
        "REQUIREDDOMAINDISTRIBUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RequiredDomainDistribution"
          }
        },
        "NONPARTIALLYPLACESERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NonPartiallyPlaceService"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of placement policy for a service fabric service. Following are the possible values."
      }
    },
    "com.azure.servicefabric#ServiceLoadMetricsList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicefabric#ServiceLoadMetricDescription"
      },
      "traits": {
        "smithy.api#documentation": "The service load metrics is given as an array of ServiceLoadMetricDescription objects."
      }
    },
    "com.azure.servicefabric#ServiceLoadMetricDescription": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the metric. If the service chooses to report load during runtime, the load metric name should match the name that is specified in Name exactly. Note that metric names are case sensitive.",
            "smithy.api#required": {}
          }
        },
        "weight": {
          "target": "com.azure.servicefabric#ServiceLoadMetricWeight",
          "traits": {
            "smithy.api#documentation": "The service load metric relative weight, compared to other metrics configured for this service, as a number."
          }
        },
        "primaryDefaultLoad": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Used only for Stateful services. The default amount of load, as a number, that this service creates for this metric when it is a Primary replica."
          }
        },
        "secondaryDefaultLoad": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Used only for Stateful services. The default amount of load, as a number, that this service creates for this metric when it is a Secondary replica."
          }
        },
        "defaultLoad": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Used only for Stateless services. The default amount of load, as a number, that this service creates for this metric."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies a metric to load balance a service during runtime."
      }
    },
    "com.azure.servicefabric#ServiceLoadMetricWeight": {
      "type": "enum",
      "members": {
        "ZERO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Zero"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Low"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Medium"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "High"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Determines the metric weight relative to the other metrics that are configured for this service. During runtime, if two metrics end up in conflict, the Cluster Resource Manager prefers the metric with the higher weight."
      }
    },
    "com.azure.servicefabric#CorrelationSchemeList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicefabric#ServiceCorrelationDescription"
      },
      "traits": {
        "smithy.api#documentation": "A list that describes the correlation of the service with other services."
      }
    },
    "com.azure.servicefabric#ServiceCorrelationDescription": {
      "type": "structure",
      "members": {
        "scheme": {
          "target": "com.azure.servicefabric#ServiceCorrelationScheme",
          "traits": {
            "smithy.api#documentation": "The ServiceCorrelationScheme which describes the relationship between this service and the service specified via ServiceName.",
            "smithy.api#required": {}
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the service that the correlation relationship is established with.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Creates a particular correlation between services."
      }
    },
    "com.azure.servicefabric#ServiceCorrelationScheme": {
      "type": "enum",
      "members": {
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        },
        "AFFINITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Affinity"
          }
        },
        "ALIGNEDAFFINITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AlignedAffinity"
          }
        },
        "NONALIGNEDAFFINITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NonAlignedAffinity"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The service correlation scheme."
      }
    },
    "com.azure.servicefabric#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.servicefabric#ServiceResourceTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Azure resource tags."
      }
    },
    "com.azure.servicefabric#ServicesListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The customer subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster resource."
          }
        },
        "applicationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the application resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicefabric#ServicesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicefabric#ServicesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}/applications/{applicationName}/services/{serviceName}",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Deletes a Service Fabric service resource.\n\nDelete a Service Fabric service resource with the specified name.",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.servicefabric#ServicesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The customer subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster resource."
          }
        },
        "applicationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the application resource."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service resource in the format of {applicationName}~{serviceName}."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicefabric#ServicesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicefabric#ServicesUpdateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}/applications/{applicationName}/services/{serviceName}",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Updates a Service Fabric service resource.\n\nUpdate a Service Fabric service resource with the specified name.",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.servicefabric#ServicesUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The customer subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster resource."
          }
        },
        "applicationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the application resource."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service resource in the format of {applicationName}~{serviceName}."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "It will be deprecated in New API, resource location depends on the parent resource."
          }
        },
        "tags": {
          "target": "com.azure.servicefabric#ServicesUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Azure resource tags."
          }
        },
        "properties": {
          "target": "com.azure.servicefabric#ServiceResourceUpdateProperties"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicefabric#ServiceResourceUpdateProperties": {
      "type": "structure",
      "members": {
        "placementConstraints": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The placement constraints as a string. Placement constraints are boolean expressions on node properties and allow for restricting a service to particular nodes based on the service requirements. For example, to place a service on nodes where NodeType is blue specify the following: \"NodeColor == blue)\"."
          }
        },
        "correlationScheme": {
          "target": "com.azure.servicefabric#CorrelationSchemeList"
        },
        "serviceLoadMetrics": {
          "target": "com.azure.servicefabric#ServiceLoadMetricsList"
        },
        "servicePlacementPolicies": {
          "target": "com.azure.servicefabric#ServicePlacementPoliciesList"
        },
        "defaultMoveCost": {
          "target": "com.azure.servicefabric#MoveCost"
        },
        "serviceKind": {
          "target": "com.azure.servicefabric#ServiceKind",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The service resource properties for patch operations."
      }
    },
    "com.azure.servicefabric#ServicesUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Azure resource tags."
      }
    },
    "com.azure.servicefabric#ServicesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicefabric#ServicesCreateOrUpdateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}/applications/{applicationName}/services/{serviceName}",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Creates or updates a Service Fabric service resource.\n\nCreate or update a Service Fabric service resource with the specified name.",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.servicefabric#ServicesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The customer subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster resource."
          }
        },
        "applicationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the application resource."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service resource in the format of {applicationName}~{serviceName}."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "It will be deprecated in New API, resource location depends on the parent resource."
          }
        },
        "tags": {
          "target": "com.azure.servicefabric#ServicesCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Azure resource tags."
          }
        },
        "properties": {
          "target": "com.azure.servicefabric#ServiceResourcePropertiesInput"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicefabric#ServiceResourcePropertiesInput": {
      "type": "structure",
      "members": {
        "placementConstraints": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The placement constraints as a string. Placement constraints are boolean expressions on node properties and allow for restricting a service to particular nodes based on the service requirements. For example, to place a service on nodes where NodeType is blue specify the following: \"NodeColor == blue)\"."
          }
        },
        "correlationScheme": {
          "target": "com.azure.servicefabric#CorrelationSchemeList"
        },
        "serviceLoadMetrics": {
          "target": "com.azure.servicefabric#ServiceLoadMetricsList"
        },
        "servicePlacementPolicies": {
          "target": "com.azure.servicefabric#ServicePlacementPoliciesList"
        },
        "defaultMoveCost": {
          "target": "com.azure.servicefabric#MoveCost"
        },
        "serviceKind": {
          "target": "com.azure.servicefabric#ServiceKind",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "serviceTypeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the service type"
          }
        },
        "partitionDescription": {
          "target": "com.azure.servicefabric#PartitionSchemeDescription"
        },
        "servicePackageActivationMode": {
          "target": "com.azure.servicefabric#ServiceResourcePropertiesInputServicePackageActivationMode",
          "traits": {
            "smithy.api#documentation": "The activation Mode of the service package"
          }
        },
        "serviceDnsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dns name used for the service. If this is specified, then the service can be accessed via its DNS name instead of service name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The service resource properties."
      }
    },
    "com.azure.servicefabric#ServiceResourcePropertiesInputServicePackageActivationMode": {
      "type": "enum",
      "members": {
        "SHAREDPROCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SharedProcess"
          }
        },
        "EXCLUSIVEPROCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ExclusiveProcess"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The activation Mode of the service package"
      }
    },
    "com.azure.servicefabric#ServicesCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Azure resource tags."
      }
    },
    "com.azure.servicefabric#ServicesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicefabric#ServicesGetRequest"
      },
      "output": {
        "target": "com.azure.servicefabric#ServicesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}/applications/{applicationName}/services/{serviceName}",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Gets a Service Fabric service resource.\n\nGet a Service Fabric service resource created or in the process of being created in the Service Fabric application resource.",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.servicefabric#ServicesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource type."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "It will be deprecated in New API, resource location depends on the parent resource."
          }
        },
        "tags": {
          "target": "com.azure.servicefabric#ServicesGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Azure resource tags."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource etag."
          }
        },
        "systemData": {
          "target": "com.azure.servicefabric#SystemData"
        },
        "properties": {
          "target": "com.azure.servicefabric#ServiceResourceProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.servicefabric#ServicesGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Azure resource tags."
      }
    },
    "com.azure.servicefabric#ServicesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The customer subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster resource."
          }
        },
        "applicationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the application resource."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the service resource in the format of {applicationName}~{serviceName}."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicefabric#ApplicationsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicefabric#ApplicationsListRequest"
      },
      "output": {
        "target": "com.azure.servicefabric#ApplicationResourceList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}/applications",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Gets the list of application resources created in the specified Service Fabric cluster resource.\n\nGets all application resources created or in the process of being created in the Service Fabric cluster resource.",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.servicefabric#ApplicationResourceList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.servicefabric#ApplicationResourceListValueList"
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to get the next set of application list results if there are any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of application resources."
      }
    },
    "com.azure.servicefabric#ApplicationResourceListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicefabric#ApplicationResource"
      },
      "traits": {}
    },
    "com.azure.servicefabric#ApplicationResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource type."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "It will be deprecated in New API, resource location depends on the parent resource."
          }
        },
        "tags": {
          "target": "com.azure.servicefabric#ApplicationResourceTagsMap",
          "traits": {
            "smithy.api#documentation": "Azure resource tags."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource etag."
          }
        },
        "systemData": {
          "target": "com.azure.servicefabric#SystemData"
        },
        "identity": {
          "target": "com.azure.servicefabric#ManagedIdentity"
        },
        "properties": {
          "target": "com.azure.servicefabric#ApplicationResourceProperties"
        }
      },
      "traits": {
        "smithy.api#documentation": "The application resource."
      }
    },
    "com.azure.servicefabric#ApplicationResourceProperties": {
      "type": "structure",
      "members": {
        "typeVersion": {
          "target": "smithy.api#String"
        },
        "parameters": {
          "target": "com.azure.servicefabric#ApplicationParameterList"
        },
        "upgradePolicy": {
          "target": "com.azure.servicefabric#ApplicationUpgradePolicy"
        },
        "minimumNodes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The minimum number of nodes where Service Fabric will reserve capacity for this application. Note that this does not mean that the services of this application will be placed on all of those nodes. If this property is set to zero, no capacity will be reserved. The value of this property cannot be more than the value of the MaximumNodes property."
          }
        },
        "maximumNodes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of nodes where Service Fabric will reserve capacity for this application. Note that this does not mean that the services of this application will be placed on all of those nodes. By default, the value of this property is zero and it means that the services can be placed on any node."
          }
        },
        "removeApplicationCapacity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Remove the current application capacity settings."
          }
        },
        "metrics": {
          "target": "com.azure.servicefabric#ApplicationMetricDescriptionList"
        },
        "managedIdentities": {
          "target": "com.azure.servicefabric#ApplicationResourcePropertiesManagedIdentitiesList",
          "traits": {
            "smithy.api#documentation": "List of user assigned identities for the application, each mapped to a friendly name."
          }
        },
        "provisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current deployment or provisioning state, which only appears in the response"
          }
        },
        "typeName": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The application resource properties."
      }
    },
    "com.azure.servicefabric#ApplicationResourcePropertiesManagedIdentitiesList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicefabric#ApplicationUserAssignedIdentity"
      },
      "traits": {
        "smithy.api#documentation": "List of user assigned identities for the application, each mapped to a friendly name."
      }
    },
    "com.azure.servicefabric#ApplicationUserAssignedIdentity": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name of user assigned identity.",
            "smithy.api#required": {}
          }
        },
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal id of user assigned identity.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.azure.servicefabric#ApplicationMetricDescriptionList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicefabric#ApplicationMetricDescription"
      },
      "traits": {
        "smithy.api#documentation": "List of application capacity metric description."
      }
    },
    "com.azure.servicefabric#ApplicationMetricDescription": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the metric."
          }
        },
        "maximumCapacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum node capacity for Service Fabric application.\nThis is the maximum Load for an instance of this application on a single node. Even if the capacity of node is greater than this value, Service Fabric will limit the total load of services within the application on each node to this value.\nIf set to zero, capacity for this metric is unlimited on each node.\nWhen creating a new application with application capacity defined, the product of MaximumNodes and this value must always be smaller than or equal to TotalApplicationCapacity.\nWhen updating existing application with application capacity, the product of MaximumNodes and this value must always be smaller than or equal to TotalApplicationCapacity.\n"
          }
        },
        "reservationCapacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The node reservation capacity for Service Fabric application.\nThis is the amount of load which is reserved on nodes which have instances of this application.\nIf MinimumNodes is specified, then the product of these values will be the capacity reserved in the cluster for the application.\nIf set to zero, no capacity is reserved for this metric.\nWhen setting application capacity or when updating application capacity; this value must be smaller than or equal to MaximumCapacity for each metric.\n"
          }
        },
        "totalApplicationCapacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total metric capacity for Service Fabric application.\nThis is the total metric capacity for this application in the cluster. Service Fabric will try to limit the sum of loads of services within the application to this value.\nWhen creating a new application with application capacity defined, the product of MaximumNodes and MaximumCapacity must always be smaller than or equal to this value.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes capacity information for a custom resource balancing metric. This can be used to limit the total consumption of this metric by the services of this application.\n"
      }
    },
    "com.azure.servicefabric#ApplicationUpgradePolicy": {
      "type": "structure",
      "members": {
        "upgradeReplicaSetCheckTimeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The maximum amount of time to block processing of an upgrade domain and prevent loss of availability when there are unexpected issues. When this timeout expires, processing of the upgrade domain will proceed regardless of availability loss issues. The timeout is reset at the start of each upgrade domain. Valid values are between 0 and 42949672925 inclusive. (unsigned 32-bit integer)."
          }
        },
        "forceRestart": {
          "target": "smithy.api#Boolean"
        },
        "rollingUpgradeMonitoringPolicy": {
          "target": "com.azure.servicefabric#ArmRollingUpgradeMonitoringPolicy"
        },
        "applicationHealthPolicy": {
          "target": "com.azure.servicefabric#ArmApplicationHealthPolicy"
        },
        "upgradeMode": {
          "target": "com.azure.servicefabric#RollingUpgradeMode"
        },
        "recreateApplication": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines whether the application should be recreated on update. If value=true, the rest of the upgrade policy parameters are not allowed and it will result in availability loss."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the policy for a monitored application upgrade."
      }
    },
    "com.azure.servicefabric#RollingUpgradeMode": {
      "type": "enum",
      "members": {
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Invalid"
          }
        },
        "UNMONITOREDAUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UnmonitoredAuto"
          }
        },
        "UNMONITOREDMANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UnmonitoredManual"
          }
        },
        "MONITORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Monitored"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The mode used to monitor health during a rolling upgrade. The values are UnmonitoredAuto, UnmonitoredManual, and Monitored."
      }
    },
    "com.azure.servicefabric#ArmApplicationHealthPolicy": {
      "type": "structure",
      "members": {
        "considerWarningAsError": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether warnings are treated with the same severity as errors."
          }
        },
        "maxPercentUnhealthyDeployedApplications": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum allowed percentage of unhealthy deployed applications. Allowed values are Byte values from zero to 100.\nThe percentage represents the maximum tolerated percentage of deployed applications that can be unhealthy before the application is considered in error.\nThis is calculated by dividing the number of unhealthy deployed applications over the number of nodes where the application is currently deployed on in the cluster.\nThe computation rounds up to tolerate one failure on small numbers of nodes. Default percentage is zero.\n"
          }
        },
        "defaultServiceTypeHealthPolicy": {
          "target": "com.azure.servicefabric#ArmServiceTypeHealthPolicy",
          "traits": {
            "smithy.api#documentation": "The health policy used by default to evaluate the health of a service type."
          }
        },
        "serviceTypeHealthPolicyMap": {
          "target": "com.azure.servicefabric#ArmServiceTypeHealthPolicyMap",
          "traits": {
            "smithy.api#documentation": "The map with service type health policy per service type name. The map is empty by default."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a health policy used to evaluate the health of an application or one of its children entities.\n"
      }
    },
    "com.azure.servicefabric#ArmServiceTypeHealthPolicyMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.servicefabric#ArmServiceTypeHealthPolicy"
      },
      "traits": {
        "smithy.api#documentation": "Defines a ServiceTypeHealthPolicy per service type name.\n\nThe entries in the map replace the default service type health policy for each specified service type.\nFor example, in an application that contains both a stateless gateway service type and a stateful engine service type, the health policies for the stateless and stateful services can be configured differently.\nWith policy per service type, there's more granular control of the health of the service.\n\nIf no policy is specified for a service type name, the DefaultServiceTypeHealthPolicy is used for evaluation.\n"
      }
    },
    "com.azure.servicefabric#ArmServiceTypeHealthPolicy": {
      "type": "structure",
      "members": {
        "maxPercentUnhealthyServices": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum percentage of services allowed to be unhealthy before your application is considered in error.\n"
          }
        },
        "maxPercentUnhealthyPartitionsPerService": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum percentage of partitions per service allowed to be unhealthy before your application is considered in error.\n"
          }
        },
        "maxPercentUnhealthyReplicasPerPartition": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum percentage of replicas per partition allowed to be unhealthy before your application is considered in error.\n"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the health policy used to evaluate the health of services belonging to a service type.\n"
      }
    },
    "com.azure.servicefabric#ArmRollingUpgradeMonitoringPolicy": {
      "type": "structure",
      "members": {
        "failureAction": {
          "target": "com.azure.servicefabric#ArmRollingUpgradeMonitoringPolicyFailureAction",
          "traits": {
            "smithy.api#documentation": "The activation Mode of the service package"
          }
        },
        "healthCheckWaitDuration": {
          "target": "smithy.api#String"
        },
        "healthCheckStableDuration": {
          "target": "smithy.api#String"
        },
        "healthCheckRetryTimeout": {
          "target": "smithy.api#String"
        },
        "upgradeTimeout": {
          "target": "smithy.api#String"
        },
        "upgradeDomainTimeout": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The policy used for monitoring the application upgrade"
      }
    },
    "com.azure.servicefabric#ArmRollingUpgradeMonitoringPolicyFailureAction": {
      "type": "enum",
      "members": {
        "ROLLBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rollback"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Manual"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The activation Mode of the service package"
      }
    },
    "com.azure.servicefabric#ApplicationParameterList": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of application parameters with overridden values from their default values specified in the application manifest."
      }
    },
    "com.azure.servicefabric#ManagedIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal id of the managed identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant id of the managed identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.servicefabric#ManagedIdentityType"
        },
        "userAssignedIdentities": {
          "target": "com.azure.servicefabric#UserAssignedIdentityMap"
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the managed identities for an Azure resource."
      }
    },
    "com.azure.servicefabric#UserAssignedIdentityMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.servicefabric#UserAssignedIdentity"
      },
      "traits": {
        "smithy.api#documentation": "The list of user identities associated with the resource. The user identity dictionary key references will be ARM resource ids in the form:\n'/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'.\n"
      }
    },
    "com.azure.servicefabric#UserAssignedIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal id of user assigned identity."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client id of user assigned identity."
          }
        }
      },
      "traits": {}
    },
    "com.azure.servicefabric#ManagedIdentityType": {
      "type": "enum",
      "members": {
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        },
        "SYSTEMASSIGNED_USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned, UserAssigned"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of managed identity for the resource."
      }
    },
    "com.azure.servicefabric#ApplicationResourceTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Azure resource tags."
      }
    },
    "com.azure.servicefabric#ApplicationsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The customer subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicefabric#ApplicationsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicefabric#ApplicationsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}/applications/{applicationName}",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Deletes a Service Fabric application resource.\n\nDelete a Service Fabric application resource with the specified name.",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.servicefabric#ApplicationsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The customer subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster resource."
          }
        },
        "applicationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the application resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicefabric#ApplicationsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicefabric#ApplicationsUpdateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}/applications/{applicationName}",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Updates a Service Fabric application resource.\n\nUpdate a Service Fabric application resource with the specified name.",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.servicefabric#ApplicationsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The customer subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster resource."
          }
        },
        "applicationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the application resource."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "It will be deprecated in New API, resource location depends on the parent resource."
          }
        },
        "tags": {
          "target": "com.azure.servicefabric#ApplicationsUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Azure resource tags."
          }
        },
        "properties": {
          "target": "com.azure.servicefabric#ApplicationResourceUpdateProperties"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicefabric#ApplicationResourceUpdateProperties": {
      "type": "structure",
      "members": {
        "typeVersion": {
          "target": "smithy.api#String"
        },
        "parameters": {
          "target": "com.azure.servicefabric#ApplicationParameterList"
        },
        "upgradePolicy": {
          "target": "com.azure.servicefabric#ApplicationUpgradePolicy"
        },
        "minimumNodes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The minimum number of nodes where Service Fabric will reserve capacity for this application. Note that this does not mean that the services of this application will be placed on all of those nodes. If this property is set to zero, no capacity will be reserved. The value of this property cannot be more than the value of the MaximumNodes property."
          }
        },
        "maximumNodes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of nodes where Service Fabric will reserve capacity for this application. Note that this does not mean that the services of this application will be placed on all of those nodes. By default, the value of this property is zero and it means that the services can be placed on any node."
          }
        },
        "removeApplicationCapacity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Remove the current application capacity settings."
          }
        },
        "metrics": {
          "target": "com.azure.servicefabric#ApplicationMetricDescriptionList"
        },
        "managedIdentities": {
          "target": "com.azure.servicefabric#ApplicationResourceUpdatePropertiesManagedIdentitiesList",
          "traits": {
            "smithy.api#documentation": "List of user assigned identities for the application, each mapped to a friendly name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The application resource properties for patch operations."
      }
    },
    "com.azure.servicefabric#ApplicationResourceUpdatePropertiesManagedIdentitiesList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicefabric#ApplicationUserAssignedIdentity"
      },
      "traits": {
        "smithy.api#documentation": "List of user assigned identities for the application, each mapped to a friendly name."
      }
    },
    "com.azure.servicefabric#ApplicationsUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Azure resource tags."
      }
    },
    "com.azure.servicefabric#ApplicationsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicefabric#ApplicationsCreateOrUpdateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}/applications/{applicationName}",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Creates or updates a Service Fabric application resource.\n\nCreate or update a Service Fabric application resource with the specified name.",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.servicefabric#ApplicationsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The customer subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster resource."
          }
        },
        "applicationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the application resource."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "It will be deprecated in New API, resource location depends on the parent resource."
          }
        },
        "tags": {
          "target": "com.azure.servicefabric#ApplicationsCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Azure resource tags."
          }
        },
        "identity": {
          "target": "com.azure.servicefabric#ManagedIdentityInput"
        },
        "properties": {
          "target": "com.azure.servicefabric#ApplicationResourcePropertiesInput"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicefabric#ApplicationResourcePropertiesInput": {
      "type": "structure",
      "members": {
        "typeVersion": {
          "target": "smithy.api#String"
        },
        "parameters": {
          "target": "com.azure.servicefabric#ApplicationParameterList"
        },
        "upgradePolicy": {
          "target": "com.azure.servicefabric#ApplicationUpgradePolicy"
        },
        "minimumNodes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The minimum number of nodes where Service Fabric will reserve capacity for this application. Note that this does not mean that the services of this application will be placed on all of those nodes. If this property is set to zero, no capacity will be reserved. The value of this property cannot be more than the value of the MaximumNodes property."
          }
        },
        "maximumNodes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of nodes where Service Fabric will reserve capacity for this application. Note that this does not mean that the services of this application will be placed on all of those nodes. By default, the value of this property is zero and it means that the services can be placed on any node."
          }
        },
        "removeApplicationCapacity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Remove the current application capacity settings."
          }
        },
        "metrics": {
          "target": "com.azure.servicefabric#ApplicationMetricDescriptionList"
        },
        "managedIdentities": {
          "target": "com.azure.servicefabric#ApplicationResourcePropertiesInputManagedIdentitiesList",
          "traits": {
            "smithy.api#documentation": "List of user assigned identities for the application, each mapped to a friendly name."
          }
        },
        "typeName": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The application resource properties."
      }
    },
    "com.azure.servicefabric#ApplicationResourcePropertiesInputManagedIdentitiesList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicefabric#ApplicationUserAssignedIdentity"
      },
      "traits": {
        "smithy.api#documentation": "List of user assigned identities for the application, each mapped to a friendly name."
      }
    },
    "com.azure.servicefabric#ManagedIdentityInput": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.servicefabric#ManagedIdentityType"
        },
        "userAssignedIdentities": {
          "target": "com.azure.servicefabric#UserAssignedIdentityMapInput"
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the managed identities for an Azure resource."
      }
    },
    "com.azure.servicefabric#UserAssignedIdentityMapInput": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.servicefabric#UserAssignedIdentityInput"
      },
      "traits": {
        "smithy.api#documentation": "The list of user identities associated with the resource. The user identity dictionary key references will be ARM resource ids in the form:\n'/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'.\n"
      }
    },
    "com.azure.servicefabric#UserAssignedIdentityInput": {
      "type": "structure",
      "members": {},
      "traits": {}
    },
    "com.azure.servicefabric#ApplicationsCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Azure resource tags."
      }
    },
    "com.azure.servicefabric#ApplicationsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicefabric#ApplicationsGetRequest"
      },
      "output": {
        "target": "com.azure.servicefabric#ApplicationsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}/applications/{applicationName}",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Gets a Service Fabric application resource.\n\nGet a Service Fabric application resource created or in the process of being created in the Service Fabric cluster resource.",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.servicefabric#ApplicationsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource type."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "It will be deprecated in New API, resource location depends on the parent resource."
          }
        },
        "tags": {
          "target": "com.azure.servicefabric#ApplicationsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Azure resource tags."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource etag."
          }
        },
        "systemData": {
          "target": "com.azure.servicefabric#SystemData"
        },
        "identity": {
          "target": "com.azure.servicefabric#ManagedIdentity"
        },
        "properties": {
          "target": "com.azure.servicefabric#ApplicationResourceProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.servicefabric#ApplicationsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Azure resource tags."
      }
    },
    "com.azure.servicefabric#ApplicationsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The customer subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster resource."
          }
        },
        "applicationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the application resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicefabric#ApplicationTypeVersionsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicefabric#ApplicationTypeVersionsListRequest"
      },
      "output": {
        "target": "com.azure.servicefabric#ApplicationTypeVersionResourceList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}/applicationTypes/{applicationTypeName}/versions",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Gets the list of application type version resources created in the specified Service Fabric application type name resource.\n\nGets all application type version resources created or in the process of being created in the Service Fabric application type name resource.",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.servicefabric#ApplicationTypeVersionResourceList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.servicefabric#ApplicationTypeVersionResourceListValueList"
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to get the next set of application type version list results if there are any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of application type version resources for the specified application type name resource."
      }
    },
    "com.azure.servicefabric#ApplicationTypeVersionResourceListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicefabric#ApplicationTypeVersionResource"
      },
      "traits": {}
    },
    "com.azure.servicefabric#ApplicationTypeVersionResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource type."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "It will be deprecated in New API, resource location depends on the parent resource."
          }
        },
        "tags": {
          "target": "com.azure.servicefabric#ApplicationTypeVersionResourceTagsMap",
          "traits": {
            "smithy.api#documentation": "Azure resource tags."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource etag."
          }
        },
        "systemData": {
          "target": "com.azure.servicefabric#SystemData"
        },
        "properties": {
          "target": "com.azure.servicefabric#ApplicationTypeVersionResourceProperties"
        }
      },
      "traits": {
        "smithy.api#documentation": "An application type version resource for the specified application type name resource."
      }
    },
    "com.azure.servicefabric#ApplicationTypeVersionResourceProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current deployment or provisioning state, which only appears in the response"
          }
        },
        "appPackageUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to the application package",
            "smithy.api#required": {}
          }
        },
        "defaultParameterList": {
          "target": "com.azure.servicefabric#ApplicationTypeParameterList"
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the application type version resource."
      }
    },
    "com.azure.servicefabric#ApplicationTypeParameterList": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of application type parameters that can be overridden when creating or updating the application."
      }
    },
    "com.azure.servicefabric#ApplicationTypeVersionResourceTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Azure resource tags."
      }
    },
    "com.azure.servicefabric#ApplicationTypeVersionsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The customer subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster resource."
          }
        },
        "applicationTypeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the application type name resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicefabric#ApplicationTypeVersionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicefabric#ApplicationTypeVersionsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}/applicationTypes/{applicationTypeName}/versions/{version}",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Deletes a Service Fabric application type version resource.\n\nDelete a Service Fabric application type version resource with the specified name.",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.servicefabric#ApplicationTypeVersionsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The customer subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster resource."
          }
        },
        "applicationTypeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the application type name resource."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The application type version."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicefabric#ApplicationTypeVersionsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicefabric#ApplicationTypeVersionsCreateOrUpdateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}/applicationTypes/{applicationTypeName}/versions/{version}",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Creates or updates a Service Fabric application type version resource.\n\nCreate or update a Service Fabric application type version resource with the specified name.",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.servicefabric#ApplicationTypeVersionsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The customer subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster resource."
          }
        },
        "applicationTypeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the application type name resource."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The application type version."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "It will be deprecated in New API, resource location depends on the parent resource."
          }
        },
        "tags": {
          "target": "com.azure.servicefabric#ApplicationTypeVersionsCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Azure resource tags."
          }
        },
        "properties": {
          "target": "com.azure.servicefabric#ApplicationTypeVersionResourcePropertiesInput"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicefabric#ApplicationTypeVersionResourcePropertiesInput": {
      "type": "structure",
      "members": {
        "appPackageUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to the application package",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the application type version resource."
      }
    },
    "com.azure.servicefabric#ApplicationTypeVersionsCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Azure resource tags."
      }
    },
    "com.azure.servicefabric#ApplicationTypeVersionsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicefabric#ApplicationTypeVersionsGetRequest"
      },
      "output": {
        "target": "com.azure.servicefabric#ApplicationTypeVersionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}/applicationTypes/{applicationTypeName}/versions/{version}",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Gets a Service Fabric application type version resource.\n\nGet a Service Fabric application type version resource created or in the process of being created in the Service Fabric application type name resource.",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.servicefabric#ApplicationTypeVersionsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource type."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "It will be deprecated in New API, resource location depends on the parent resource."
          }
        },
        "tags": {
          "target": "com.azure.servicefabric#ApplicationTypeVersionsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Azure resource tags."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource etag."
          }
        },
        "systemData": {
          "target": "com.azure.servicefabric#SystemData"
        },
        "properties": {
          "target": "com.azure.servicefabric#ApplicationTypeVersionResourceProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.servicefabric#ApplicationTypeVersionsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Azure resource tags."
      }
    },
    "com.azure.servicefabric#ApplicationTypeVersionsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The customer subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster resource."
          }
        },
        "applicationTypeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the application type name resource."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The application type version."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicefabric#ApplicationTypesList": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicefabric#ApplicationTypesListRequest"
      },
      "output": {
        "target": "com.azure.servicefabric#ApplicationTypeResourceList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}/applicationTypes",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Gets the list of application type name resources created in the specified Service Fabric cluster resource.\n\nGets all application type name resources created or in the process of being created in the Service Fabric cluster resource.",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.servicefabric#ApplicationTypeResourceList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.servicefabric#ApplicationTypeResourceListValueList"
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to get the next set of application type list results if there are any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of application type names."
      }
    },
    "com.azure.servicefabric#ApplicationTypeResourceListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicefabric#ApplicationTypeResource"
      },
      "traits": {}
    },
    "com.azure.servicefabric#ApplicationTypeResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource identifier."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource type."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "It will be deprecated in New API, resource location depends on the parent resource."
          }
        },
        "tags": {
          "target": "com.azure.servicefabric#ApplicationTypeResourceTagsMap",
          "traits": {
            "smithy.api#documentation": "Azure resource tags."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource etag."
          }
        },
        "systemData": {
          "target": "com.azure.servicefabric#SystemData"
        },
        "properties": {
          "target": "com.azure.servicefabric#ApplicationTypeResourceProperties"
        }
      },
      "traits": {
        "smithy.api#documentation": "The application type name resource"
      }
    },
    "com.azure.servicefabric#ApplicationTypeResourceProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current deployment or provisioning state, which only appears in the response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The application type name properties"
      }
    },
    "com.azure.servicefabric#ApplicationTypeResourceTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Azure resource tags."
      }
    },
    "com.azure.servicefabric#ApplicationTypesListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The customer subscription identifier."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicefabric#ApplicationTypesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicefabric#ApplicationTypesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}/applicationTypes/{applicationTypeName}",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Deletes a Service Fabric application type name resource.\n\nDelete a Service Fabric application type name resource with the specified name.",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.servicefabric#ApplicationTypesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
[...]
