{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.servicebus#RulesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicebus#RulesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/subscriptions/{subscriptionName}/rules/{ruleName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Deletes an existing rule.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.servicebus#RulesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "topicName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The topic name."
          }
        },
        "subscriptionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription name."
          }
        },
        "ruleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The rule name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicebus#RulesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicebus#RulesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.servicebus#RulesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/subscriptions/{subscriptionName}/rules/{ruleName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Creates a new rule and updates an existing rule",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.servicebus#RulesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.servicebus#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.servicebus#Ruleproperties",
          "traits": {
            "smithy.api#documentation": "Properties of Rule resource"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.servicebus#Ruleproperties": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.azure.servicebus#Action",
          "traits": {
            "smithy.api#documentation": "Represents the filter actions which are allowed for the transformation of a message that have been matched by a filter expression."
          }
        },
        "filterType": {
          "target": "com.azure.servicebus#FilterType",
          "traits": {
            "smithy.api#documentation": "Filter type that is evaluated against a BrokeredMessage."
          }
        },
        "sqlFilter": {
          "target": "com.azure.servicebus#SqlFilter",
          "traits": {
            "smithy.api#documentation": "Properties of sqlFilter"
          }
        },
        "correlationFilter": {
          "target": "com.azure.servicebus#CorrelationFilter",
          "traits": {
            "smithy.api#documentation": "Properties of correlationFilter"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Description of Rule Resource."
      }
    },
    "com.azure.servicebus#CorrelationFilter": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.azure.servicebus#CorrelationFilterPropertiesMap",
          "traits": {
            "smithy.api#documentation": "dictionary object for custom filters"
          }
        },
        "correlationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the correlation."
          }
        },
        "messageId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the message."
          }
        },
        "to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address to send to."
          }
        },
        "replyTo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Address of the queue to reply to."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Application specific label."
          }
        },
        "sessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Session identifier."
          }
        },
        "replyToSessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Session identifier to reply to."
          }
        },
        "contentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content type of the message."
          }
        },
        "requiresPreprocessing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Value that indicates whether the rule action requires preprocessing."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the correlation filter expression."
      }
    },
    "com.azure.servicebus#CorrelationFilterPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "dictionary object for custom filters"
      }
    },
    "com.azure.servicebus#SqlFilter": {
      "type": "structure",
      "members": {
        "sqlExpression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SQL expression. e.g. MyProperty='ABC'"
          }
        },
        "compatibilityLevel": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "This property is reserved for future use. An integer value showing the compatibility level, currently hard-coded to 20."
          }
        },
        "requiresPreprocessing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Value that indicates whether the rule action requires preprocessing."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a filter which is a composition of an expression and an action that is executed in the pub/sub pipeline."
      }
    },
    "com.azure.servicebus#FilterType": {
      "type": "enum",
      "members": {
        "SQLFILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SqlFilter"
          }
        },
        "CORRELATIONFILTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CorrelationFilter"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Rule filter types"
      }
    },
    "com.azure.servicebus#Action": {
      "type": "structure",
      "members": {
        "sqlExpression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SQL expression. e.g. MyProperty='ABC'"
          }
        },
        "compatibilityLevel": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "This property is reserved for future use. An integer value showing the compatibility level, currently hard-coded to 20."
          }
        },
        "requiresPreprocessing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Value that indicates whether the rule action requires preprocessing."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the filter actions which are allowed for the transformation of a message that have been matched by a filter expression."
      }
    },
    "com.azure.servicebus#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.servicebus#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.servicebus#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.servicebus#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.servicebus#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.servicebus#RulesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "topicName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The topic name."
          }
        },
        "subscriptionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription name."
          }
        },
        "ruleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The rule name."
          }
        },
        "properties": {
          "target": "com.azure.servicebus#Ruleproperties",
          "traits": {
            "smithy.api#documentation": "Properties of Rule resource"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicebus#RulesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicebus#RulesGetRequest"
      },
      "output": {
        "target": "com.azure.servicebus#RulesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/subscriptions/{subscriptionName}/rules/{ruleName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Retrieves the description for the specified rule.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.servicebus#RulesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.servicebus#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.servicebus#Ruleproperties",
          "traits": {
            "smithy.api#documentation": "Properties of Rule resource"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.servicebus#RulesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "topicName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The topic name."
          }
        },
        "subscriptionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription name."
          }
        },
        "ruleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The rule name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicebus#RulesListBySubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicebus#RulesListBySubscriptionsRequest"
      },
      "output": {
        "target": "com.azure.servicebus#RuleListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/subscriptions/{subscriptionName}/rules",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "List all the rules within given topic-subscription",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.servicebus#RuleListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.servicebus#RuleListResultValueList",
          "traits": {
            "smithy.api#documentation": "The Rule items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a Rule list operation."
      }
    },
    "com.azure.servicebus#RuleListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicebus#Rule"
      },
      "traits": {
        "smithy.api#documentation": "The Rule items on this page"
      }
    },
    "com.azure.servicebus#Rule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.servicebus#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.servicebus#Ruleproperties",
          "traits": {
            "smithy.api#documentation": "Properties of Rule resource"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Description of Rule Resource."
      }
    },
    "com.azure.servicebus#RulesListBySubscriptionsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "topicName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The topic name."
          }
        },
        "subscriptionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription name."
          }
        },
        "_skip": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$skip",
            "smithy.api#documentation": "Skip is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skip parameter that specifies a starting point to use for subsequent calls."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "May be used to limit the number of results to the most recent N usageDetails."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicebus#SubscriptionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicebus#SubscriptionsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/subscriptions/{subscriptionName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Deletes a subscription from the specified topic.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.servicebus#SubscriptionsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "topicName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The topic name."
          }
        },
        "subscriptionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicebus#SubscriptionsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicebus#SubscriptionsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.servicebus#SubscriptionsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/subscriptions/{subscriptionName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Creates a topic subscription.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.servicebus#SubscriptionsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.servicebus#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.servicebus#SBSubscriptionProperties",
          "traits": {
            "smithy.api#documentation": "Properties of subscriptions resource."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.servicebus#SBSubscriptionProperties": {
      "type": "structure",
      "members": {
        "messageCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of messages."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exact time the message was created."
          }
        },
        "accessedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time there was a receive request to this subscription."
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The exact time the message was updated."
          }
        },
        "countDetails": {
          "target": "com.azure.servicebus#MessageCountDetails",
          "traits": {
            "smithy.api#documentation": "Message count details"
          }
        },
        "lockDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8061 lock duration timespan for the subscription. The default value is 1 minute."
          }
        },
        "requiresSession": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Value indicating if a subscription supports the concept of sessions."
          }
        },
        "defaultMessageTimeToLive": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8061 Default message timespan to live value. This is the duration after which the message expires, starting from when the message is sent to Service Bus. This is the default value used when TimeToLive is not set on a message itself."
          }
        },
        "deadLetteringOnFilterEvaluationExceptions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Value that indicates whether a subscription has dead letter support on filter evaluation exceptions."
          }
        },
        "deadLetteringOnMessageExpiration": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Value that indicates whether a subscription has dead letter support when a message expires."
          }
        },
        "duplicateDetectionHistoryTimeWindow": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 timeSpan structure that defines the duration of the duplicate detection history. The default value is 10 minutes."
          }
        },
        "maxDeliveryCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of maximum deliveries."
          }
        },
        "status": {
          "target": "com.azure.servicebus#EntityStatus",
          "traits": {
            "smithy.api#documentation": "Enumerates the possible values for the status of a messaging entity."
          }
        },
        "enableBatchedOperations": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Value that indicates whether server-side batched operations are enabled."
          }
        },
        "autoDeleteOnIdle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8061 timeSpan idle interval after which the topic is automatically deleted. The minimum duration is 5 minutes."
          }
        },
        "forwardTo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Queue/Topic name to forward the messages"
          }
        },
        "forwardDeadLetteredMessagesTo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Queue/Topic name to forward the Dead Letter message"
          }
        },
        "isClientAffine": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Value that indicates whether the subscription has an affinity to the client id."
          }
        },
        "userMetadata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets and Sets Metadata of User."
          }
        },
        "clientAffineProperties": {
          "target": "com.azure.servicebus#SBClientAffineProperties",
          "traits": {
            "smithy.api#documentation": "Properties specific to client affine subscriptions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Description of Subscription Resource."
      }
    },
    "com.azure.servicebus#SBClientAffineProperties": {
      "type": "structure",
      "members": {
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the Client ID of the application that created the client-affine subscription."
          }
        },
        "isDurable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "For client-affine subscriptions, this value indicates whether the subscription is durable or not."
          }
        },
        "isShared": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "For client-affine subscriptions, this value indicates whether the subscription is shared or not."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties specific to client affine subscriptions."
      }
    },
    "com.azure.servicebus#EntityStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        },
        "RESTORING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Restoring"
          }
        },
        "SENDDISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SendDisabled"
          }
        },
        "RECEIVEDISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReceiveDisabled"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "RENAMING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Renaming"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Entity status."
      }
    },
    "com.azure.servicebus#MessageCountDetails": {
      "type": "structure",
      "members": {
        "activeMessageCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of active messages in the queue, topic, or subscription."
          }
        },
        "deadLetterMessageCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of messages that are dead lettered."
          }
        },
        "scheduledMessageCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of scheduled messages."
          }
        },
        "transferMessageCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of messages transferred to another queue, topic, or subscription."
          }
        },
        "transferDeadLetterMessageCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of messages transferred into dead letters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message Count Details."
      }
    },
    "com.azure.servicebus#SubscriptionsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "topicName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The topic name."
          }
        },
        "subscriptionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription name."
          }
        },
        "properties": {
          "target": "com.azure.servicebus#SBSubscriptionPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Properties of subscriptions resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicebus#SBSubscriptionPropertiesInput": {
      "type": "structure",
      "members": {
        "lockDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8061 lock duration timespan for the subscription. The default value is 1 minute."
          }
        },
        "requiresSession": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Value indicating if a subscription supports the concept of sessions."
          }
        },
        "defaultMessageTimeToLive": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8061 Default message timespan to live value. This is the duration after which the message expires, starting from when the message is sent to Service Bus. This is the default value used when TimeToLive is not set on a message itself."
          }
        },
        "deadLetteringOnFilterEvaluationExceptions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Value that indicates whether a subscription has dead letter support on filter evaluation exceptions."
          }
        },
        "deadLetteringOnMessageExpiration": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Value that indicates whether a subscription has dead letter support when a message expires."
          }
        },
        "duplicateDetectionHistoryTimeWindow": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 timeSpan structure that defines the duration of the duplicate detection history. The default value is 10 minutes."
          }
        },
        "maxDeliveryCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of maximum deliveries."
          }
        },
        "status": {
          "target": "com.azure.servicebus#EntityStatus",
          "traits": {
            "smithy.api#documentation": "Enumerates the possible values for the status of a messaging entity."
          }
        },
        "enableBatchedOperations": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Value that indicates whether server-side batched operations are enabled."
          }
        },
        "autoDeleteOnIdle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8061 timeSpan idle interval after which the topic is automatically deleted. The minimum duration is 5 minutes."
          }
        },
        "forwardTo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Queue/Topic name to forward the messages"
          }
        },
        "forwardDeadLetteredMessagesTo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Queue/Topic name to forward the Dead Letter message"
          }
        },
        "isClientAffine": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Value that indicates whether the subscription has an affinity to the client id."
          }
        },
        "userMetadata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets and Sets Metadata of User."
          }
        },
        "clientAffineProperties": {
          "target": "com.azure.servicebus#SBClientAffineProperties",
          "traits": {
            "smithy.api#documentation": "Properties specific to client affine subscriptions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Description of Subscription Resource."
      }
    },
    "com.azure.servicebus#SubscriptionsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicebus#SubscriptionsGetRequest"
      },
      "output": {
        "target": "com.azure.servicebus#SubscriptionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/subscriptions/{subscriptionName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Returns a subscription description for the specified topic.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.servicebus#SubscriptionsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.servicebus#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.servicebus#SBSubscriptionProperties",
          "traits": {
            "smithy.api#documentation": "Properties of subscriptions resource."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.servicebus#SubscriptionsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "topicName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The topic name."
          }
        },
        "subscriptionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicebus#SubscriptionsListByTopic": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicebus#SubscriptionsListByTopicRequest"
      },
      "output": {
        "target": "com.azure.servicebus#SBSubscriptionListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/subscriptions",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "List all the subscriptions under a specified topic.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.servicebus#SBSubscriptionListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.servicebus#SBSubscriptionListResultValueList",
          "traits": {
            "smithy.api#documentation": "The SBSubscription items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a SBSubscription list operation."
      }
    },
    "com.azure.servicebus#SBSubscriptionListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicebus#SBSubscription"
      },
      "traits": {
        "smithy.api#documentation": "The SBSubscription items on this page"
      }
    },
    "com.azure.servicebus#SBSubscription": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.servicebus#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.servicebus#SBSubscriptionProperties",
          "traits": {
            "smithy.api#documentation": "Properties of subscriptions resource."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Description of subscription resource."
      }
    },
    "com.azure.servicebus#SubscriptionsListByTopicRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "topicName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The topic name."
          }
        },
        "_skip": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$skip",
            "smithy.api#documentation": "Skip is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skip parameter that specifies a starting point to use for subsequent calls."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "May be used to limit the number of results to the most recent N usageDetails."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicebus#TopicsRegenerateKeys": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicebus#TopicsRegenerateKeysRequest"
      },
      "output": {
        "target": "com.azure.servicebus#AccessKeys"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/authorizationRules/{authorizationRuleName}/regenerateKeys",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Regenerates primary or secondary connection strings for the topic.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.servicebus#AccessKeys": {
      "type": "structure",
      "members": {
        "primaryConnectionString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Primary connection string of the created namespace authorization rule."
          }
        },
        "secondaryConnectionString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secondary connection string of the created namespace authorization rule."
          }
        },
        "aliasPrimaryConnectionString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Primary connection string of the alias if GEO DR is enabled"
          }
        },
        "aliasSecondaryConnectionString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secondary  connection string of the alias if GEO DR is enabled"
          }
        },
        "primaryKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A base64-encoded 256-bit primary key for signing and validating the SAS token."
          }
        },
        "secondaryKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A base64-encoded 256-bit primary key for signing and validating the SAS token."
          }
        },
        "keyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string that describes the authorization rule."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Namespace/ServiceBus Connection String"
      }
    },
    "com.azure.servicebus#TopicsRegenerateKeysRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "topicName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The topic name."
          }
        },
        "authorizationRuleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The authorization rule name."
          }
        },
        "keyType": {
          "target": "com.azure.servicebus#KeyType",
          "traits": {
            "smithy.api#documentation": "The access key to regenerate.",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional, if the key value provided, is reset for KeyType value or autogenerate Key value set for keyType"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicebus#KeyType": {
      "type": "enum",
      "members": {
        "PRIMARYKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PrimaryKey"
          }
        },
        "SECONDARYKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SecondaryKey"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The access key to regenerate."
      }
    },
    "com.azure.servicebus#TopicsListKeys": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicebus#TopicsListKeysRequest"
      },
      "output": {
        "target": "com.azure.servicebus#AccessKeys"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/authorizationRules/{authorizationRuleName}/listKeys",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Gets the primary and secondary connection strings for the topic.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.servicebus#TopicsListKeysRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "topicName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The topic name."
          }
        },
        "authorizationRuleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The authorization rule name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicebus#TopicsDeleteAuthorizationRule": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicebus#TopicsDeleteAuthorizationRuleRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/authorizationRules/{authorizationRuleName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Deletes a topic authorization rule.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.servicebus#TopicsDeleteAuthorizationRuleRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "topicName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The topic name."
          }
        },
        "authorizationRuleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The authorization rule name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicebus#TopicsCreateOrUpdateAuthorizationRule": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicebus#TopicsCreateOrUpdateAuthorizationRuleRequest"
      },
      "output": {
        "target": "com.azure.servicebus#TopicsCreateOrUpdateAuthorizationRuleResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/authorizationRules/{authorizationRuleName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Creates an authorization rule for the specified topic.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.servicebus#TopicsCreateOrUpdateAuthorizationRuleResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.servicebus#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.servicebus#SBAuthorizationRuleProperties",
          "traits": {
            "smithy.api#documentation": "AuthorizationRule properties."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.servicebus#SBAuthorizationRuleProperties": {
      "type": "structure",
      "members": {
        "rights": {
          "target": "com.azure.servicebus#SBAuthorizationRulePropertiesRightsList",
          "traits": {
            "smithy.api#documentation": "The rights associated with the rule.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AuthorizationRule properties."
      }
    },
    "com.azure.servicebus#SBAuthorizationRulePropertiesRightsList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicebus#AccessRights"
      },
      "traits": {
        "smithy.api#documentation": "The rights associated with the rule."
      }
    },
    "com.azure.servicebus#AccessRights": {
      "type": "enum",
      "members": {
        "MANAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Manage"
          }
        },
        "SEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Send"
          }
        },
        "LISTEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Listen"
          }
        }
      },
      "traits": {}
    },
    "com.azure.servicebus#TopicsCreateOrUpdateAuthorizationRuleRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "topicName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The topic name."
          }
        },
        "authorizationRuleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The authorization rule name."
          }
        },
        "properties": {
          "target": "com.azure.servicebus#SBAuthorizationRuleProperties",
          "traits": {
            "smithy.api#documentation": "AuthorizationRule properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicebus#TopicsGetAuthorizationRule": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicebus#TopicsGetAuthorizationRuleRequest"
      },
      "output": {
        "target": "com.azure.servicebus#TopicsGetAuthorizationRuleResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/authorizationRules/{authorizationRuleName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Returns the specified authorization rule.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.servicebus#TopicsGetAuthorizationRuleResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.servicebus#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.servicebus#SBAuthorizationRuleProperties",
          "traits": {
            "smithy.api#documentation": "AuthorizationRule properties."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.servicebus#TopicsGetAuthorizationRuleRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "topicName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The topic name."
          }
        },
        "authorizationRuleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The authorization rule name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicebus#TopicsListAuthorizationRules": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicebus#TopicsListAuthorizationRulesRequest"
      },
      "output": {
        "target": "com.azure.servicebus#SBAuthorizationRuleListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/authorizationRules",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Gets authorization rules for a topic.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.servicebus#SBAuthorizationRuleListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.servicebus#SBAuthorizationRuleListResultValueList",
          "traits": {
            "smithy.api#documentation": "The SBAuthorizationRule items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a SBAuthorizationRule list operation."
      }
    },
    "com.azure.servicebus#SBAuthorizationRuleListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicebus#SBAuthorizationRule"
      },
      "traits": {
        "smithy.api#documentation": "The SBAuthorizationRule items on this page"
      }
    },
    "com.azure.servicebus#SBAuthorizationRule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.servicebus#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.servicebus#SBAuthorizationRuleProperties",
          "traits": {
            "smithy.api#documentation": "AuthorizationRule properties."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Description of a namespace authorization rule."
      }
    },
    "com.azure.servicebus#TopicsListAuthorizationRulesRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "topicName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The topic name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicebus#TopicsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicebus#TopicsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Deletes a topic from the specified namespace and resource group.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.servicebus#TopicsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "topicName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The topic name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicebus#TopicsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicebus#TopicsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.servicebus#TopicsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Creates a topic in the specified namespace.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.servicebus#TopicsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.servicebus#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.servicebus#SBTopicProperties",
          "traits": {
            "smithy.api#documentation": "Properties of topic resource."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.servicebus#SBTopicProperties": {
      "type": "structure",
      "members": {
        "sizeInBytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size of the topic, in bytes."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exact time the message was created."
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The exact time the message was updated."
          }
        },
        "accessedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time the message was sent, or a request was received, for this topic."
          }
        },
        "subscriptionCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of subscriptions."
          }
        },
        "countDetails": {
          "target": "com.azure.servicebus#MessageCountDetails",
          "traits": {
            "smithy.api#documentation": "Message count details"
          }
        },
        "defaultMessageTimeToLive": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 Default message timespan to live value. This is the duration after which the message expires, starting from when the message is sent to Service Bus. This is the default value used when TimeToLive is not set on a message itself."
          }
        },
        "maxSizeInMegabytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum size of the topic in megabytes, which is the size of the memory allocated for the topic. Default is 1024."
          }
        },
        "maxMessageSizeInKilobytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum size (in KB) of the message payload that can be accepted by the topic. This property is only used in Premium today and default is 1024."
          }
        },
        "requiresDuplicateDetection": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Value indicating if this topic requires duplicate detection."
          }
        },
        "duplicateDetectionHistoryTimeWindow": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO8601 timespan structure that defines the duration of the duplicate detection history. The default value is 10 minutes."
          }
        },
        "enableBatchedOperations": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Value that indicates whether server-side batched operations are enabled."
          }
        },
        "status": {
          "target": "com.azure.servicebus#EntityStatus",
          "traits": {
            "smithy.api#documentation": "Enumerates the possible values for the status of a messaging entity."
          }
        },
        "supportOrdering": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Value that indicates whether the topic supports ordering."
          }
        },
        "autoDeleteOnIdle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 timespan idle interval after which the topic is automatically deleted. The minimum duration is 5 minutes."
          }
        },
        "enablePartitioning": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Value that indicates whether the topic to be partitioned across multiple message brokers is enabled."
          }
        },
        "enableExpress": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Value that indicates whether Express Entities are enabled. An express topic holds a message in memory temporarily before writing it to persistent storage."
          }
        },
        "userMetadata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets and Sets Metadata of User."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Topic Properties definition."
      }
    },
    "com.azure.servicebus#TopicsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "topicName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The topic name."
          }
        },
        "properties": {
          "target": "com.azure.servicebus#SBTopicPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Properties of topic resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicebus#SBTopicPropertiesInput": {
      "type": "structure",
      "members": {
        "defaultMessageTimeToLive": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 Default message timespan to live value. This is the duration after which the message expires, starting from when the message is sent to Service Bus. This is the default value used when TimeToLive is not set on a message itself."
          }
        },
        "maxSizeInMegabytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum size of the topic in megabytes, which is the size of the memory allocated for the topic. Default is 1024."
          }
        },
        "maxMessageSizeInKilobytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum size (in KB) of the message payload that can be accepted by the topic. This property is only used in Premium today and default is 1024."
          }
        },
        "requiresDuplicateDetection": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Value indicating if this topic requires duplicate detection."
          }
        },
        "duplicateDetectionHistoryTimeWindow": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO8601 timespan structure that defines the duration of the duplicate detection history. The default value is 10 minutes."
          }
        },
        "enableBatchedOperations": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Value that indicates whether server-side batched operations are enabled."
          }
        },
        "status": {
          "target": "com.azure.servicebus#EntityStatus",
          "traits": {
            "smithy.api#documentation": "Enumerates the possible values for the status of a messaging entity."
          }
        },
        "supportOrdering": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Value that indicates whether the topic supports ordering."
          }
        },
        "autoDeleteOnIdle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 timespan idle interval after which the topic is automatically deleted. The minimum duration is 5 minutes."
          }
        },
        "enablePartitioning": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Value that indicates whether the topic to be partitioned across multiple message brokers is enabled."
          }
        },
        "enableExpress": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Value that indicates whether Express Entities are enabled. An express topic holds a message in memory temporarily before writing it to persistent storage."
          }
        },
        "userMetadata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gets and Sets Metadata of User."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Topic Properties definition."
      }
    },
    "com.azure.servicebus#TopicsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicebus#TopicsGetRequest"
      },
      "output": {
        "target": "com.azure.servicebus#TopicsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Returns a description for the specified topic.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.servicebus#TopicsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.servicebus#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.servicebus#SBTopicProperties",
          "traits": {
            "smithy.api#documentation": "Properties of topic resource."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.servicebus#TopicsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "topicName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The topic name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicebus#TopicsListByNamespace": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicebus#TopicsListByNamespaceRequest"
      },
      "output": {
        "target": "com.azure.servicebus#SBTopicListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Gets all the topics in a namespace.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.servicebus#SBTopicListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.servicebus#SBTopicListResultValueList",
          "traits": {
            "smithy.api#documentation": "The SBTopic items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a SBTopic list operation."
      }
    },
    "com.azure.servicebus#SBTopicListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicebus#SBTopic"
      },
      "traits": {
        "smithy.api#documentation": "The SBTopic items on this page"
      }
    },
    "com.azure.servicebus#SBTopic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.servicebus#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.servicebus#SBTopicProperties",
          "traits": {
            "smithy.api#documentation": "Properties of topic resource."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Description of topic resource."
      }
    },
    "com.azure.servicebus#TopicsListByNamespaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The namespace name"
          }
        },
        "_skip": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$skip",
[...]
