{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.servicefabricmanagedclusters#NodeTypesStart": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicefabricmanagedclusters#NodeTypesStartRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/managedClusters/{clusterName}/nodeTypes/{nodeTypeName}/start",
          "code": 200,
          "apiVersion": "2026-02-01"
        },
        "smithy.api#documentation": "Starts one or more nodes on the node type. It will trigger an allocation of the fabric node if needed and activate them.",
        "com.distilled.openapi#apiVersion": "2026-02-01"
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypesStartRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster resource."
          }
        },
        "nodeTypeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the node type."
          }
        },
        "nodes": {
          "target": "com.azure.servicefabricmanagedclusters#NodeTypesStartRequestNodesList",
          "traits": {
            "smithy.api#documentation": "List of node names from the node type."
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Force the action to go through."
          }
        },
        "updateType": {
          "target": "com.azure.servicefabricmanagedclusters#UpdateType",
          "traits": {
            "smithy.api#documentation": "Specifies the way the operation will be performed."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicefabricmanagedclusters#UpdateType": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Default"
          }
        },
        "BYUPGRADEDOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ByUpgradeDomain"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the way the operation will be performed."
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypesStartRequestNodesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of node names from the node type."
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypeSkusList": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicefabricmanagedclusters#NodeTypeSkusListRequest"
      },
      "output": {
        "target": "com.azure.servicefabricmanagedclusters#NodeTypeListSkuResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/managedClusters/{clusterName}/nodeTypes/{nodeTypeName}/skus",
          "code": 200,
          "apiVersion": "2026-02-01"
        },
        "smithy.api#documentation": "Get a Service Fabric node type supported SKUs.",
        "com.distilled.openapi#apiVersion": "2026-02-01"
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypeListSkuResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.servicefabricmanagedclusters#NodeTypeListSkuResultValueList",
          "traits": {
            "smithy.api#documentation": "The NodeTypeAvailableSku items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Node type available sku list results"
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypeListSkuResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicefabricmanagedclusters#NodeTypeAvailableSku"
      },
      "traits": {
        "smithy.api#documentation": "The NodeTypeAvailableSku items on this page"
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypeAvailableSku": {
      "type": "structure",
      "members": {
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of resource the sku applies to. Value: Microsoft.ServiceFabric/managedClusters/nodeTypes."
          }
        },
        "sku": {
          "target": "com.azure.servicefabricmanagedclusters#NodeTypeSupportedSku",
          "traits": {
            "smithy.api#documentation": "The supported SKU for a for node type."
          }
        },
        "capacity": {
          "target": "com.azure.servicefabricmanagedclusters#NodeTypeSkuCapacity",
          "traits": {
            "smithy.api#documentation": "Provides information about how the node count can be scaled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines the type of sku available for a node type"
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypeSkuCapacity": {
      "type": "structure",
      "members": {
        "minimum": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Lowest permitted node count in a node type."
          }
        },
        "maximum": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Highest permitted node count in a node type."
          }
        },
        "default": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Default node count in a node type."
          }
        },
        "scaleType": {
          "target": "com.azure.servicefabricmanagedclusters#NodeTypeSkuCapacityScaleType",
          "traits": {
            "smithy.api#documentation": "Node type capacity scale type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides information about how node type can be scaled."
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypeSkuCapacityScaleType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Manual"
          }
        },
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Automatic"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Node type capacity scale type."
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypeSupportedSku": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sku name."
          }
        },
        "tier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the tier of the node type. Possible Values: **Standard**"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a node type supported sku."
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypeSkusListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster resource."
          }
        },
        "nodeTypeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the node type."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypesRestart": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicefabricmanagedclusters#NodeTypesRestartRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/managedClusters/{clusterName}/nodeTypes/{nodeTypeName}/restart",
          "code": 200,
          "apiVersion": "2026-02-01"
        },
        "smithy.api#documentation": "Restarts one or more nodes on the node type. It will disable the fabric nodes, trigger a restart on the VMs and activate the nodes back again.",
        "com.distilled.openapi#apiVersion": "2026-02-01"
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypesRestartRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster resource."
          }
        },
        "nodeTypeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the node type."
          }
        },
        "nodes": {
          "target": "com.azure.servicefabricmanagedclusters#NodeTypesRestartRequestNodesList",
          "traits": {
            "smithy.api#documentation": "List of node names from the node type."
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Force the action to go through."
          }
        },
        "updateType": {
          "target": "com.azure.servicefabricmanagedclusters#UpdateType",
          "traits": {
            "smithy.api#documentation": "Specifies the way the operation will be performed."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypesRestartRequestNodesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of node names from the node type."
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypesReimage": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicefabricmanagedclusters#NodeTypesReimageRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/managedClusters/{clusterName}/nodeTypes/{nodeTypeName}/reimage",
          "code": 200,
          "apiVersion": "2026-02-01"
        },
        "smithy.api#documentation": "Reimages one or more nodes on the node type. It will disable the fabric nodes, trigger a reimage on the VMs and activate the nodes back again.",
        "com.distilled.openapi#apiVersion": "2026-02-01"
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypesReimageRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster resource."
          }
        },
        "nodeTypeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the node type."
          }
        },
        "nodes": {
          "target": "com.azure.servicefabricmanagedclusters#NodeTypesReimageRequestNodesList",
          "traits": {
            "smithy.api#documentation": "List of node names from the node type."
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Force the action to go through."
          }
        },
        "updateType": {
          "target": "com.azure.servicefabricmanagedclusters#UpdateType",
          "traits": {
            "smithy.api#documentation": "Specifies the way the operation will be performed."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypesReimageRequestNodesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of node names from the node type."
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypesRedeploy": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicefabricmanagedclusters#NodeTypesRedeployRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/managedClusters/{clusterName}/nodeTypes/{nodeTypeName}/redeploy",
          "code": 200,
          "apiVersion": "2026-02-01"
        },
        "smithy.api#documentation": "Redeploys one or more nodes on the node type. It will disable the fabric nodes, trigger a shut down on the VMs, move them to a new node, and power them back on.",
        "com.distilled.openapi#apiVersion": "2026-02-01"
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypesRedeployRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster resource."
          }
        },
        "nodeTypeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the node type."
          }
        },
        "nodes": {
          "target": "com.azure.servicefabricmanagedclusters#NodeTypesRedeployRequestNodesList",
          "traits": {
            "smithy.api#documentation": "List of node names from the node type."
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Force the action to go through."
          }
        },
        "updateType": {
          "target": "com.azure.servicefabricmanagedclusters#UpdateType",
          "traits": {
            "smithy.api#documentation": "Specifies the way the operation will be performed."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypesRedeployRequestNodesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of node names from the node type."
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypesDeleteNode": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicefabricmanagedclusters#NodeTypesDeleteNodeRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/managedClusters/{clusterName}/nodeTypes/{nodeTypeName}/deleteNode",
          "code": 200,
          "apiVersion": "2026-02-01"
        },
        "smithy.api#documentation": "Deletes one or more nodes on the node type. It will disable the fabric nodes, trigger a delete on the VMs and removes the state from the cluster.",
        "com.distilled.openapi#apiVersion": "2026-02-01"
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypesDeleteNodeRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster resource."
          }
        },
        "nodeTypeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the node type."
          }
        },
        "nodes": {
          "target": "com.azure.servicefabricmanagedclusters#NodeTypesDeleteNodeRequestNodesList",
          "traits": {
            "smithy.api#documentation": "List of node names from the node type."
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Force the action to go through."
          }
        },
        "updateType": {
          "target": "com.azure.servicefabricmanagedclusters#UpdateType",
          "traits": {
            "smithy.api#documentation": "Specifies the way the operation will be performed."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypesDeleteNodeRequestNodesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of node names from the node type."
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypesDeallocate": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicefabricmanagedclusters#NodeTypesDeallocateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/managedClusters/{clusterName}/nodeTypes/{nodeTypeName}/deallocate",
          "code": 200,
          "apiVersion": "2026-02-01"
        },
        "smithy.api#documentation": "Deallocates one or more nodes on the node type. It will disable the fabric nodes, trigger a shutdown on the VMs and release them from the cluster.",
        "com.distilled.openapi#apiVersion": "2026-02-01"
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypesDeallocateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster resource."
          }
        },
        "nodeTypeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the node type."
          }
        },
        "nodes": {
          "target": "com.azure.servicefabricmanagedclusters#NodeTypesDeallocateRequestNodesList",
          "traits": {
            "smithy.api#documentation": "List of node names from the node type."
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Force the action to go through."
          }
        },
        "updateType": {
          "target": "com.azure.servicefabricmanagedclusters#UpdateType",
          "traits": {
            "smithy.api#documentation": "Specifies the way the operation will be performed."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypesDeallocateRequestNodesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of node names from the node type."
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicefabricmanagedclusters#NodeTypesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/managedClusters/{clusterName}/nodeTypes/{nodeTypeName}",
          "code": 200,
          "apiVersion": "2026-02-01"
        },
        "smithy.api#documentation": "Delete a Service Fabric node type of a given managed cluster.",
        "com.distilled.openapi#apiVersion": "2026-02-01"
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "clusterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the cluster resource."
          }
        },
        "nodeTypeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the node type."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.servicefabricmanagedclusters#NodeTypesUpdateRequest"
      },
      "output": {
        "target": "com.azure.servicefabricmanagedclusters#NodeTypesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/managedClusters/{clusterName}/nodeTypes/{nodeTypeName}",
          "code": 200,
          "apiVersion": "2026-02-01"
        },
        "smithy.api#documentation": "Update the configuration of a node type of a given managed cluster, only updating tags or capacity.",
        "com.distilled.openapi#apiVersion": "2026-02-01"
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypesUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.servicefabricmanagedclusters#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.servicefabricmanagedclusters#NodeTypeProperties",
          "traits": {
            "smithy.api#documentation": "The node type properties"
          }
        },
        "tags": {
          "target": "com.azure.servicefabricmanagedclusters#NodeTypesUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "sku": {
          "target": "com.azure.servicefabricmanagedclusters#NodeTypeSku",
          "traits": {
            "smithy.api#documentation": "The node type sku."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypeSku": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sku name. Name is internally generated and is used in auto-scale scenarios. Property does not allow to be changed to other values than generated. To avoid deployment errors please omit the property."
          }
        },
        "tier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the tier of the node type. Possible Values: **Standard**"
          }
        },
        "capacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of nodes in the node type. If present in request it will override properties.vmInstanceCount.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a node type sku."
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypesUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypeProperties": {
      "type": "structure",
      "members": {
        "isPrimary": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates the Service Fabric system services for the cluster will run on this node type. This setting cannot be changed once the node type is created.",
            "smithy.api#required": {}
          }
        },
        "vmInstanceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of nodes in the node type. **Values:** -1 - Use when auto scale rules are configured or sku.capacity is defined 0 - Not supported >0 - Use for manual scale.",
            "smithy.api#required": {}
          }
        },
        "dataDiskSizeGB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Disk size for the managed disk attached to the vms on the node type in GBs."
          }
        },
        "dataDiskType": {
          "target": "com.azure.servicefabricmanagedclusters#NodeTypePropertiesDataDiskType",
          "traits": {
            "smithy.api#documentation": "Managed data disk type. Specifies the storage account type for the managed disk"
          }
        },
        "dataDiskLetter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Managed data disk letter. It can not use the reserved letter C or D and it can not change after created."
          }
        },
        "placementProperties": {
          "target": "com.azure.servicefabricmanagedclusters#NodeTypePropertiesPlacementPropertiesMap",
          "traits": {
            "smithy.api#documentation": "The placement tags applied to nodes in the node type, which can be used to indicate where certain services (workload) should run."
          }
        },
        "capacities": {
          "target": "com.azure.servicefabricmanagedclusters#NodeTypePropertiesCapacitiesMap",
          "traits": {
            "smithy.api#documentation": "The capacity tags applied to the nodes in the node type, the cluster resource manager uses these tags to understand how much resource a node has."
          }
        },
        "applicationPorts": {
          "target": "com.azure.servicefabricmanagedclusters#EndpointRangeDescription",
          "traits": {
            "smithy.api#documentation": "The range of ports from which cluster assigned port to Service Fabric applications."
          }
        },
        "ephemeralPorts": {
          "target": "com.azure.servicefabricmanagedclusters#EndpointRangeDescription",
          "traits": {
            "smithy.api#documentation": "The range of ephemeral ports that nodes in this node type should be configured with."
          }
        },
        "vmSize": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The size of virtual machines in the pool. All virtual machines in a pool are the same size. For example, Standard_D3."
          }
        },
        "vmImagePublisher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The publisher of the Azure Virtual Machines Marketplace image. For example, Canonical or MicrosoftWindowsServer."
          }
        },
        "vmImageOffer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The offer type of the Azure Virtual Machines Marketplace image. For example, UbuntuServer or WindowsServer."
          }
        },
        "vmImageSku": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SKU of the Azure Virtual Machines Marketplace image. For example, 14.04.0-LTS or 2012-R2-Datacenter."
          }
        },
        "vmImageVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the Azure Virtual Machines Marketplace image. A value of 'latest' can be specified to select the latest version of an image. If omitted, the default is 'latest'."
          }
        },
        "vmSecrets": {
          "target": "com.azure.servicefabricmanagedclusters#NodeTypePropertiesVmSecretsList",
          "traits": {
            "smithy.api#documentation": "The secrets to install in the virtual machines."
          }
        },
        "vmExtensions": {
          "target": "com.azure.servicefabricmanagedclusters#NodeTypePropertiesVmExtensionsList",
          "traits": {
            "smithy.api#documentation": "Set of extensions that should be installed onto the virtual machines."
          }
        },
        "vmManagedIdentity": {
          "target": "com.azure.servicefabricmanagedclusters#VmManagedIdentity",
          "traits": {
            "smithy.api#documentation": "Identities to assign to the virtual machine scale set under the node type."
          }
        },
        "isStateless": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the node type can only host Stateless workloads."
          }
        },
        "multiplePlacementGroups": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if scale set associated with the node type can be composed of multiple placement groups."
          }
        },
        "frontendConfigurations": {
          "target": "com.azure.servicefabricmanagedclusters#NodeTypePropertiesFrontendConfigurationsList",
          "traits": {
            "smithy.api#documentation": "Indicates the node type uses its own frontend configurations instead of the default one for the cluster. This setting can only be specified for non-primary node types and can not be added or removed after the node type is created."
          }
        },
        "networkSecurityRules": {
          "target": "com.azure.servicefabricmanagedclusters#NodeTypePropertiesNetworkSecurityRulesList",
          "traits": {
            "smithy.api#documentation": "The Network Security Rules for this node type. This setting can only be specified for node types that are configured with frontend configurations."
          }
        },
        "additionalDataDisks": {
          "target": "com.azure.servicefabricmanagedclusters#NodeTypePropertiesAdditionalDataDisksList",
          "traits": {
            "smithy.api#documentation": "Additional managed data disks."
          }
        },
        "enableEncryptionAtHost": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable or disable the Host Encryption for the virtual machines on the node type. This will enable the encryption for all the disks including Resource/Temp disk at host itself. Default: The Encryption at host will be disabled unless this property is set to true for the resource."
          }
        },
        "provisioningState": {
          "target": "com.azure.servicefabricmanagedclusters#ManagedResourceProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the node type resource."
          }
        },
        "enableAcceleratedNetworking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether the network interface is accelerated networking-enabled."
          }
        },
        "useDefaultPublicLoadBalancer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether the use public load balancer. If not specified and the node type doesn't have its own frontend configuration, it will be attached to the default load balancer. If the node type uses its own Load balancer and useDefaultPublicLoadBalancer is true, then the frontend has to be an Internal Load Balancer. If the node type uses its own Load balancer and useDefaultPublicLoadBalancer is false or not set, then the custom load balancer must include a public load balancer to provide outbound connectivity."
          }
        },
        "useTempDataDisk": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether to use the temporary disk for the service fabric data root, in which case no managed data disk will be attached and the temporary disk will be used. It is only allowed for stateless node types."
          }
        },
        "enableOverProvisioning": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether the node type should be overprovisioned. It is only allowed for stateless node types."
          }
        },
        "zones": {
          "target": "com.azure.servicefabricmanagedclusters#NodeTypePropertiesZonesList",
          "traits": {
            "smithy.api#documentation": "Specifies the availability zones where the node type would span across. If the cluster is not spanning across availability zones, initiates az migration for the cluster."
          }
        },
        "isSpotVM": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the node type will be Spot Virtual Machines. Azure will allocate the VMs if there is capacity available and the VMs can be evicted at any time."
          }
        },
        "hostGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the full host group resource Id. This property is used for deploying on azure dedicated hosts."
          }
        },
        "useEphemeralOSDisk": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether to use ephemeral os disk. The sku selected on the vmSize property needs to support this feature."
          }
        },
        "spotRestoreTimeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the time duration after which the platform will not try to restore the VMSS SPOT instances specified as ISO 8601."
          }
        },
        "evictionPolicy": {
          "target": "com.azure.servicefabricmanagedclusters#EvictionPolicyType",
          "traits": {
            "smithy.api#documentation": "Specifies the eviction policy for virtual machines in a SPOT node type. Default is Delete."
          }
        },
        "vmImageResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the resource id of the vm image. This parameter is used for custom vm image."
          }
        },
        "subnetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the resource id of the subnet for the node type."
          }
        },
        "vmSetupActions": {
          "target": "com.azure.servicefabricmanagedclusters#NodeTypePropertiesVmSetupActionsList",
          "traits": {
            "smithy.api#documentation": "Specifies the actions to be performed on the vms before bootstrapping the service fabric runtime."
          }
        },
        "securityType": {
          "target": "com.azure.servicefabricmanagedclusters#SecurityType",
          "traits": {
            "smithy.api#documentation": "Specifies the security type of the nodeType. Supported values include Standard, TrustedLaunch and ConfidentialVM."
          }
        },
        "securityEncryptionType": {
          "target": "com.azure.servicefabricmanagedclusters#SecurityEncryptionType",
          "traits": {
            "smithy.api#documentation": "Specifies the EncryptionType of the managed disk. It is set to DiskWithVMGuestState for encryption of the managed disk along with VMGuestState blob and VMGuestStateOnly for encryption of just the VMGuestState blob. Note: It can be set for only Confidential VMs."
          }
        },
        "secureBootEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether secure boot should be enabled on the nodeType. Can only be used with TrustedLaunch and ConfidentialVM SecurityType."
          }
        },
        "enableNodePublicIP": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether each node is allocated its own public IPv4 address. This is only supported on secondary node types with custom Load Balancers."
          }
        },
        "enableNodePublicIPv6": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether each node is allocated its own public IPv6 address. This is only supported on secondary node types with custom Load Balancers."
          }
        },
        "vmSharedGalleryImageId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Indicates the resource id of the vm shared galleries image. This parameter is used for custom vm image."
          }
        },
        "natGatewayId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the resource id of a NAT Gateway to attach to the subnet of this node type. Node type must use custom load balancer."
          }
        },
        "natConfigurations": {
          "target": "com.azure.servicefabricmanagedclusters#NodeTypePropertiesNatConfigurationsList",
          "traits": {
            "smithy.api#documentation": "Specifies the NAT configuration on default public Load Balancer for the node type. This is only supported for node types use the default public Load Balancer."
          }
        },
        "vmImagePlan": {
          "target": "com.azure.servicefabricmanagedclusters#VmImagePlan",
          "traits": {
            "smithy.api#documentation": "Specifies information about the marketplace image used to create the virtual machine. This element is only used for marketplace images. Before you can use a marketplace image from an API, you must enable the image for programmatic use. In the Azure portal, find the marketplace image that you want to use and then click Want to deploy programmatically, Get Started ->. Enter any required information and then click Save."
          }
        },
        "serviceArtifactReferenceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the service artifact reference id used to set same image version for all virtual machines in the scale set when using 'latest' image version."
          }
        },
        "dscpConfigurationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the resource id of the DSCP configuration to apply to the node type network interface."
          }
        },
        "additionalNetworkInterfaceConfigurations": {
          "target": "com.azure.servicefabricmanagedclusters#NodeTypePropertiesAdditionalNetworkInterfaceConfigurationsList",
          "traits": {
            "smithy.api#documentation": "Specifies the settings for any additional secondary network interfaces to attach to the node type."
          }
        },
        "computerNamePrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the computer name prefix. Limited to 9 characters. If specified, allows for a longer name to be specified for the node type name."
          }
        },
        "vmApplications": {
          "target": "com.azure.servicefabricmanagedclusters#NodeTypePropertiesVmApplicationsList",
          "traits": {
            "smithy.api#documentation": "Specifies the gallery applications that should be made available to the underlying VMSS."
          }
        },
        "zoneBalance": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Setting this to true allows stateless node types to scale out without equal distribution across zones."
          }
        },
        "isOutboundOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies the node type should be configured for only outbound traffic and not inbound traffic."
          }
        },
        "enableResilientEphemeralOsDisk": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether the node type should use a resilient ephemeral OS disk when using a supported SKU size. A resilient ephemeral OS disk provides improved reliability for ephemeral OS disks by enabling full caching."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a node type in the cluster, each node type represents sub set of nodes in the cluster."
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypePropertiesVmApplicationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicefabricmanagedclusters#VmApplication"
      },
      "traits": {
        "smithy.api#documentation": "Specifies the gallery applications that should be made available to the underlying VMSS."
      }
    },
    "com.azure.servicefabricmanagedclusters#VmApplication": {
      "type": "structure",
      "members": {
        "configurationReference": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional, Specifies the uri to an azure blob that will replace the default configuration for the package if provided."
          }
        },
        "enableAutomaticUpgrade": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, when a new Gallery Application version is available in PIR/SIG, it will be automatically updated for the underlying VMSS."
          }
        },
        "order": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional, Specifies the order in which the packages have to be installed."
          }
        },
        "packageReferenceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the GalleryApplicationVersion resource id on the form of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/applications/{application}/versions/{version}.",
            "smithy.api#required": {}
          }
        },
        "vmGalleryTags": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional, Specifies a passthrough value for more generic context. Accepts a JSON-formatted string e.g. '{\"Tag1\":\"Value1\",\"Tag2\":\"Value2\"}'."
          }
        },
        "treatFailureAsDeploymentFailure": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional, If true, any failure for any operation in the VmApplication will fail the deployment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the gallery application that should be made available to the underlying VMSS."
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypePropertiesAdditionalNetworkInterfaceConfigurationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicefabricmanagedclusters#AdditionalNetworkInterfaceConfiguration"
      },
      "traits": {
        "smithy.api#documentation": "Specifies the settings for any additional secondary network interfaces to attach to the node type."
      }
    },
    "com.azure.servicefabricmanagedclusters#AdditionalNetworkInterfaceConfiguration": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the network interface.",
            "smithy.api#required": {}
          }
        },
        "enableAcceleratedNetworking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether the network interface is accelerated networking-enabled."
          }
        },
        "dscpConfiguration": {
          "target": "com.azure.servicefabricmanagedclusters#SubResource",
          "traits": {
            "smithy.api#documentation": "Specifies the DSCP configuration to apply to the network interface."
          }
        },
        "ipConfigurations": {
          "target": "com.azure.servicefabricmanagedclusters#AdditionalNetworkInterfaceConfigurationIpConfigurationsList",
          "traits": {
            "smithy.api#documentation": "Specifies the IP configurations of the network interface.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the settings for a network interface to attach to the node type."
      }
    },
    "com.azure.servicefabricmanagedclusters#AdditionalNetworkInterfaceConfigurationIpConfigurationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicefabricmanagedclusters#IpConfiguration"
      },
      "traits": {
        "smithy.api#documentation": "Specifies the IP configurations of the network interface."
      }
    },
    "com.azure.servicefabricmanagedclusters#IpConfiguration": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the network interface.",
            "smithy.api#required": {}
          }
        },
        "applicationGatewayBackendAddressPools": {
          "target": "com.azure.servicefabricmanagedclusters#IpConfigurationApplicationGatewayBackendAddressPoolsList",
          "traits": {
            "smithy.api#documentation": "Specifies an array of references to backend address pools of application gateways. A node type can reference backend address pools of multiple application gateways. Multiple node types cannot use the same application gateway."
          }
        },
        "loadBalancerBackendAddressPools": {
          "target": "com.azure.servicefabricmanagedclusters#IpConfigurationLoadBalancerBackendAddressPoolsList",
          "traits": {
            "smithy.api#documentation": "Specifies an array of references to backend address pools of load balancers. A node type can reference backend address pools of one public and one internal load balancer. Multiple node types cannot use the same basic sku load balancer."
          }
        },
        "loadBalancerInboundNatPools": {
          "target": "com.azure.servicefabricmanagedclusters#IpConfigurationLoadBalancerInboundNatPoolsList",
          "traits": {
            "smithy.api#documentation": "Specifies an array of references to inbound Nat pools of the load balancers. A node type can reference inbound nat pools of one public and one internal load balancer. Multiple node types cannot use the same basic sku load balancer."
          }
        },
        "subnet": {
          "target": "com.azure.servicefabricmanagedclusters#SubResource",
          "traits": {
            "smithy.api#documentation": "Specifies the subnet of the network interface."
          }
        },
        "privateIPAddressVersion": {
          "target": "com.azure.servicefabricmanagedclusters#IpConfigurationPrivateIPAddressVersion",
          "traits": {
            "smithy.api#documentation": "Specifies whether the IP configuration's private IP is IPv4 or IPv6. Default is IPv4."
          }
        },
        "publicIPAddressConfiguration": {
          "target": "com.azure.servicefabricmanagedclusters#PublicIPAddressConfiguration",
          "traits": {
            "smithy.api#documentation": "The public IP address configuration of the network interface."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies an IP configuration of the network interface."
      }
    },
    "com.azure.servicefabricmanagedclusters#PublicIPAddressConfiguration": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the network interface.",
            "smithy.api#required": {}
          }
        },
        "ipTags": {
          "target": "com.azure.servicefabricmanagedclusters#PublicIPAddressConfigurationIpTagsList",
          "traits": {
            "smithy.api#documentation": "Specifies the list of IP tags associated with the public IP address."
          }
        },
        "publicIPAddressVersion": {
          "target": "com.azure.servicefabricmanagedclusters#PublicIPAddressConfigurationPublicIPAddressVersion",
          "traits": {
            "smithy.api#documentation": "Specifies whether the IP configuration's public IP is IPv4 or IPv6. Default is IPv4."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The public IP address configuration of the network interface."
      }
    },
    "com.azure.servicefabricmanagedclusters#PublicIPAddressConfigurationPublicIPAddressVersion": {
      "type": "enum",
      "members": {
        "IPV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IPv4"
          }
        },
        "IPV6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IPv6"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies whether the IP configuration's public IP is IPv4 or IPv6. Default is IPv4."
      }
    },
    "com.azure.servicefabricmanagedclusters#PublicIPAddressConfigurationIpTagsList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicefabricmanagedclusters#IpTag"
      },
      "traits": {
        "smithy.api#documentation": "Specifies the list of IP tags associated with the public IP address."
      }
    },
    "com.azure.servicefabricmanagedclusters#IpTag": {
      "type": "structure",
      "members": {
        "ipTagType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP tag type. Example: FirstPartyUsage.",
            "smithy.api#required": {}
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP tag associated with the public IP. Example: SQL, Storage etc.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The IP tag associated with the public IP address."
      }
    },
    "com.azure.servicefabricmanagedclusters#IpConfigurationPrivateIPAddressVersion": {
      "type": "enum",
      "members": {
        "IPV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IPv4"
          }
        },
        "IPV6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IPv6"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies whether the IP configuration's private IP is IPv4 or IPv6. Default is IPv4."
      }
    },
    "com.azure.servicefabricmanagedclusters#SubResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure resource identifier."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Azure resource identifier."
      }
    },
    "com.azure.servicefabricmanagedclusters#IpConfigurationLoadBalancerInboundNatPoolsList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicefabricmanagedclusters#SubResource"
      },
      "traits": {
        "smithy.api#documentation": "Specifies an array of references to inbound Nat pools of the load balancers. A node type can reference inbound nat pools of one public and one internal load balancer. Multiple node types cannot use the same basic sku load balancer."
      }
    },
    "com.azure.servicefabricmanagedclusters#IpConfigurationLoadBalancerBackendAddressPoolsList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicefabricmanagedclusters#SubResource"
      },
      "traits": {
        "smithy.api#documentation": "Specifies an array of references to backend address pools of load balancers. A node type can reference backend address pools of one public and one internal load balancer. Multiple node types cannot use the same basic sku load balancer."
      }
    },
    "com.azure.servicefabricmanagedclusters#IpConfigurationApplicationGatewayBackendAddressPoolsList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicefabricmanagedclusters#SubResource"
      },
      "traits": {
        "smithy.api#documentation": "Specifies an array of references to backend address pools of application gateways. A node type can reference backend address pools of multiple application gateways. Multiple node types cannot use the same application gateway."
      }
    },
    "com.azure.servicefabricmanagedclusters#VmImagePlan": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The plan ID."
          }
        },
        "product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the product of the image from the marketplace. This is the same value as Offer under the imageReference element."
          }
        },
        "promotionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The promotion code."
          }
        },
        "publisher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The publisher ID."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies information about the marketplace image used to create the virtual machine. This element is only used for marketplace images. Before you can use a marketplace image from an API, you must enable the image for programmatic use. In the Azure portal, find the marketplace image that you want to use and then click Want to deploy programmatically, Get Started. Enter any required information and then click Save."
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypePropertiesNatConfigurationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicefabricmanagedclusters#NodeTypeNatConfig"
      },
      "traits": {
        "smithy.api#documentation": "Specifies the NAT configuration on default public Load Balancer for the node type. This is only supported for node types use the default public Load Balancer."
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypeNatConfig": {
      "type": "structure",
      "members": {
        "backendPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The internal port for the NAT configuration."
          }
        },
        "frontendPortRangeStart": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The port range start for the external endpoint."
          }
        },
        "frontendPortRangeEnd": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The port range end for the external endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides information about NAT configuration on the default public Load Balancer for the node type."
      }
    },
    "com.azure.servicefabricmanagedclusters#SecurityEncryptionType": {
      "type": "enum",
      "members": {
        "DISKWITHVMGUESTSTATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DiskWithVMGuestState"
          }
        },
        "VMGUESTSTATEONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VMGuestStateOnly"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the securityEncryptionType type of the nodeType. Only DiskWithVMGuestState and VMGuestStateOnly are currently supported"
      }
    },
    "com.azure.servicefabricmanagedclusters#SecurityType": {
      "type": "enum",
      "members": {
        "TRUSTEDLAUNCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TrustedLaunch"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "CONFIDENTIALVM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConfidentialVM"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the security type of the nodeType. Only Standard and TrustedLaunch are currently supported"
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypePropertiesVmSetupActionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicefabricmanagedclusters#VmSetupAction"
      },
      "traits": {
        "smithy.api#documentation": "Specifies the actions to be performed on the vms before bootstrapping the service fabric runtime."
      }
    },
    "com.azure.servicefabricmanagedclusters#VmSetupAction": {
      "type": "enum",
      "members": {
        "ENABLECONTAINERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EnableContainers"
          }
        },
        "ENABLEHYPERV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EnableHyperV"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "action to be performed on the vms before bootstrapping the service fabric runtime."
      }
    },
    "com.azure.servicefabricmanagedclusters#EvictionPolicyType": {
      "type": "enum",
      "members": {
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Delete"
          }
        },
        "DEALLOCATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deallocate"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the eviction policy for virtual machines in a SPOT node type."
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypePropertiesZonesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Specifies the availability zones where the node type would span across. If the cluster is not spanning across availability zones, initiates az migration for the cluster."
      }
    },
    "com.azure.servicefabricmanagedclusters#ManagedResourceProvisioningState": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Created"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleted"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioning state of the managed resource."
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypePropertiesAdditionalDataDisksList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicefabricmanagedclusters#VmssDataDisk"
      },
      "traits": {
        "smithy.api#documentation": "Additional managed data disks."
      }
    },
    "com.azure.servicefabricmanagedclusters#VmssDataDisk": {
      "type": "structure",
      "members": {
        "lun": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the logical unit number of the data disk. This value is used to identify data disks within the VM and therefore must be unique for each data disk attached to a VM. Lun 0 is reserved for the service fabric data disk.",
            "smithy.api#required": {}
          }
        },
        "diskSizeGB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Disk size for each vm in the node type in GBs.",
            "smithy.api#required": {}
          }
        },
        "diskType": {
          "target": "com.azure.servicefabricmanagedclusters#VmssDataDiskDiskType",
          "traits": {
            "smithy.api#documentation": "Managed data disk type. Specifies the storage account type for the managed disk",
            "smithy.api#required": {}
          }
        },
        "diskLetter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Managed data disk letter. It can not use the reserved letter C or D and it can not change after created.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed data disk description."
      }
    },
    "com.azure.servicefabricmanagedclusters#VmssDataDiskDiskType": {
      "type": "enum",
      "members": {
        "STANDARD_LRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_LRS"
          }
        },
        "STANDARDSSD_LRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "StandardSSD_LRS"
          }
        },
        "PREMIUM_LRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Premium_LRS"
          }
        },
        "PREMIUMV2_LRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PremiumV2_LRS"
          }
        },
        "STANDARDSSD_ZRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "StandardSSD_ZRS"
          }
        },
        "PREMIUM_ZRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Premium_ZRS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed data disk type. Specifies the storage account type for the managed disk"
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypePropertiesNetworkSecurityRulesList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicefabricmanagedclusters#NetworkSecurityRule"
      },
      "traits": {
        "smithy.api#documentation": "The Network Security Rules for this node type. This setting can only be specified for node types that are configured with frontend configurations."
      }
    },
    "com.azure.servicefabricmanagedclusters#NetworkSecurityRule": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Network security rule name.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Network security rule description."
          }
        },
        "protocol": {
          "target": "com.azure.servicefabricmanagedclusters#NsgProtocol",
          "traits": {
            "smithy.api#documentation": "Network protocol this rule applies to.",
            "smithy.api#required": {}
          }
        },
        "sourceAddressPrefixes": {
          "target": "com.azure.servicefabricmanagedclusters#NetworkSecurityRuleSourceAddressPrefixesList",
          "traits": {
            "smithy.api#documentation": "The CIDR or source IP ranges."
          }
        },
        "destinationAddressPrefixes": {
          "target": "com.azure.servicefabricmanagedclusters#NetworkSecurityRuleDestinationAddressPrefixesList",
          "traits": {
            "smithy.api#documentation": "The destination address prefixes. CIDR or destination IP ranges."
          }
        },
        "sourcePortRanges": {
          "target": "com.azure.servicefabricmanagedclusters#NetworkSecurityRuleSourcePortRangesList",
          "traits": {
            "smithy.api#documentation": "The source port ranges."
          }
        },
        "destinationPortRanges": {
          "target": "com.azure.servicefabricmanagedclusters#NetworkSecurityRuleDestinationPortRangesList",
          "traits": {
            "smithy.api#documentation": "The destination port ranges."
          }
        },
        "sourceAddressPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CIDR or source IP range. Asterisk '*' can also be used to match all source IPs. Default tags such as 'VirtualNetwork', 'AzureLoadBalancer' and 'Internet' can also be used. If this is an ingress rule, specifies where network traffic originates from."
          }
        },
        "destinationAddressPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The destination address prefix. CIDR or destination IP range. Asterisk '*' can also be used to match all source IPs. Default tags such as 'VirtualNetwork', 'AzureLoadBalancer' and 'Internet' can also be used."
          }
        },
        "sourcePortRange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source port or range. Integer or range between 0 and 65535. Asterisk '*' can also be used to match all ports."
          }
        },
        "destinationPortRange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "he destination port or range. Integer or range between 0 and 65535. Asterisk '*' can also be used to match all ports."
          }
        },
        "access": {
          "target": "com.azure.servicefabricmanagedclusters#Access",
          "traits": {
            "smithy.api#documentation": "The network traffic is allowed or denied.",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The priority of the rule. The value can be in the range 1000 to 3000. Values outside this range are reserved for Service Fabric ManagerCluster Resource Provider. The priority number must be unique for each rule in the collection. The lower the priority number, the higher the priority of the rule.",
            "smithy.api#required": {}
          }
        },
        "direction": {
          "target": "com.azure.servicefabricmanagedclusters#Direction",
          "traits": {
            "smithy.api#documentation": "Network security rule direction.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a network security rule."
      }
    },
    "com.azure.servicefabricmanagedclusters#Direction": {
      "type": "enum",
      "members": {
        "INBOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inbound"
          }
        },
        "OUTBOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "outbound"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network security rule direction."
      }
    },
    "com.azure.servicefabricmanagedclusters#Access": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The network traffic is allowed or denied."
      }
    },
    "com.azure.servicefabricmanagedclusters#NetworkSecurityRuleDestinationPortRangesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The destination port ranges."
      }
    },
    "com.azure.servicefabricmanagedclusters#NetworkSecurityRuleSourcePortRangesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The source port ranges."
      }
    },
    "com.azure.servicefabricmanagedclusters#NetworkSecurityRuleDestinationAddressPrefixesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The destination address prefixes. CIDR or destination IP ranges."
      }
    },
    "com.azure.servicefabricmanagedclusters#NetworkSecurityRuleSourceAddressPrefixesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The CIDR or source IP ranges."
      }
    },
    "com.azure.servicefabricmanagedclusters#NsgProtocol": {
      "type": "enum",
      "members": {
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        },
        "HTTPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "https"
          }
        },
        "TCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tcp"
          }
        },
        "UDP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "udp"
          }
        },
        "ICMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "icmp"
          }
        },
        "AH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ah"
          }
        },
        "ESP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "esp"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network protocol this rule applies to."
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypePropertiesFrontendConfigurationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicefabricmanagedclusters#FrontendConfiguration"
      },
      "traits": {
        "smithy.api#documentation": "Indicates the node type uses its own frontend configurations instead of the default one for the cluster. This setting can only be specified for non-primary node types and can not be added or removed after the node type is created."
      }
    },
    "com.azure.servicefabricmanagedclusters#FrontendConfiguration": {
      "type": "structure",
      "members": {
        "ipAddressType": {
          "target": "com.azure.servicefabricmanagedclusters#FrontendConfigurationIpAddressType",
          "traits": {
            "smithy.api#documentation": "The IP address type of this frontend configuration. If omitted the default value is IPv4."
          }
        },
        "loadBalancerBackendAddressPoolId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource Id of the Load Balancer backend address pool that the VM instances of the node type are associated with. The format of the resource Id is '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/backendAddressPools/{backendAddressPoolName}'."
          }
        },
        "loadBalancerInboundNatPoolId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource Id of the Load Balancer inbound NAT pool that the VM instances of the node type are associated with. The format of the resource Id is '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/inboundNatPools/{inboundNatPoolName}'."
          }
        },
        "applicationGatewayBackendAddressPoolId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource Id of application gateway backend address pool. The format of the resource Id is '/subscriptions/<subscriptionId>/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/backendAddressPools/{backendAddressPoolName}'."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the frontend configurations for the node type."
      }
    },
    "com.azure.servicefabricmanagedclusters#FrontendConfigurationIpAddressType": {
      "type": "enum",
      "members": {
        "IPV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IPv4"
          }
        },
        "IPV6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IPv6"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The IP address type of this frontend configuration. If omitted the default value is IPv4."
      }
    },
    "com.azure.servicefabricmanagedclusters#VmManagedIdentity": {
      "type": "structure",
      "members": {
        "userAssignedIdentities": {
          "target": "com.azure.servicefabricmanagedclusters#VmManagedIdentityUserAssignedIdentitiesList",
          "traits": {
            "smithy.api#documentation": "The list of user identities associated with the virtual machine scale set under the node type. Each entry will be an ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identities for the virtual machine scale set under the node type."
      }
    },
    "com.azure.servicefabricmanagedclusters#VmManagedIdentityUserAssignedIdentitiesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of user identities associated with the virtual machine scale set under the node type. Each entry will be an ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypePropertiesVmExtensionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicefabricmanagedclusters#VMSSExtension"
      },
      "traits": {
        "smithy.api#documentation": "Set of extensions that should be installed onto the virtual machines."
      }
    },
    "com.azure.servicefabricmanagedclusters#VMSSExtension": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the extension.",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.servicefabricmanagedclusters#VMSSExtensionProperties",
          "traits": {
            "smithy.api#documentation": "Describes the properties of a Virtual Machine Scale Set Extension.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies set of extensions that should be installed onto the virtual machines."
      }
    },
    "com.azure.servicefabricmanagedclusters#VMSSExtensionProperties": {
      "type": "structure",
      "members": {
        "publisher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the extension handler publisher.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the type of the extension; an example is \"CustomScriptExtension\".",
            "smithy.api#required": {}
          }
        },
        "typeHandlerVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the version of the script handler.",
            "smithy.api#required": {}
          }
        },
        "autoUpgradeMinorVersion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the extension should use a newer minor version if one is available at deployment time. Once deployed, however, the extension will not upgrade minor versions unless redeployed, even with this property set to true."
          }
        },
        "settings": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Json formatted public settings for the extension."
          }
        },
        "protectedSettings": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The extension can contain either protectedSettings or protectedSettingsFromKeyVault or no protected settings at all."
          }
        },
        "forceUpdateTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If a value is provided and is different from the previous value, the extension handler will be forced to update even if the extension configuration has not changed."
          }
        },
        "provisionAfterExtensions": {
          "target": "com.azure.servicefabricmanagedclusters#VMSSExtensionPropertiesProvisionAfterExtensionsList",
          "traits": {
            "smithy.api#documentation": "Collection of extension names after which this extension needs to be provisioned."
          }
        },
        "provisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The provisioning state, which only appears in the response."
          }
        },
        "enableAutomaticUpgrade": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the extension should be automatically upgraded by the platform if there is a newer version of the extension available."
          }
        },
        "setupOrder": {
          "target": "com.azure.servicefabricmanagedclusters#VMSSExtensionPropertiesSetupOrderList",
          "traits": {
            "smithy.api#documentation": "Indicates the setup order for the extension."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the properties of a Virtual Machine Scale Set Extension."
      }
    },
    "com.azure.servicefabricmanagedclusters#VMSSExtensionPropertiesSetupOrderList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicefabricmanagedclusters#VmssExtensionSetupOrder"
      },
      "traits": {
        "smithy.api#documentation": "Indicates the setup order for the extension."
      }
    },
    "com.azure.servicefabricmanagedclusters#VmssExtensionSetupOrder": {
      "type": "enum",
      "members": {
        "BEFORESFRUNTIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BeforeSFRuntime"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Vm extension setup order."
      }
    },
    "com.azure.servicefabricmanagedclusters#VMSSExtensionPropertiesProvisionAfterExtensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Collection of extension names after which this extension needs to be provisioned."
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypePropertiesVmSecretsList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicefabricmanagedclusters#VaultSecretGroup"
      },
      "traits": {
        "smithy.api#documentation": "The secrets to install in the virtual machines."
      }
    },
    "com.azure.servicefabricmanagedclusters#VaultSecretGroup": {
      "type": "structure",
      "members": {
        "sourceVault": {
          "target": "com.azure.servicefabricmanagedclusters#SubResource",
          "traits": {
            "smithy.api#documentation": "The relative URL of the Key Vault containing all of the certificates in VaultCertificates.",
            "smithy.api#required": {}
          }
        },
        "vaultCertificates": {
          "target": "com.azure.servicefabricmanagedclusters#VaultSecretGroupVaultCertificatesList",
          "traits": {
            "smithy.api#documentation": "The list of key vault references in SourceVault which contain certificates.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies set of certificates that should be installed onto the virtual machines."
      }
    },
    "com.azure.servicefabricmanagedclusters#VaultSecretGroupVaultCertificatesList": {
      "type": "list",
      "member": {
        "target": "com.azure.servicefabricmanagedclusters#VaultCertificate"
      },
      "traits": {
        "smithy.api#documentation": "The list of key vault references in SourceVault which contain certificates."
      }
    },
    "com.azure.servicefabricmanagedclusters#VaultCertificate": {
      "type": "structure",
      "members": {
        "certificateUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is the URL of a certificate that has been uploaded to Key Vault as a secret. For adding a secret to the Key Vault, see [Add a key or secret to the key vault](https://docs.microsoft.com/azure/key-vault/key-vault-get-started/#add).",
            "smithy.api#required": {}
          }
        },
        "certificateStore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For Windows VMs, specifies the certificate store on the Virtual Machine to which the certificate should be added. The specified certificate store is implicitly in the LocalMachine account. For Linux VMs, the certificate file is placed under the /var/lib/waagent directory, with the file name {UppercaseThumbprint}.crt for the X509 certificate file and {UppercaseThumbprint}.prv for private key. Both of these files are .pem formatted.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a single certificate reference in a Key Vault, and where the certificate should reside on the VM."
      }
    },
    "com.azure.servicefabricmanagedclusters#EndpointRangeDescription": {
      "type": "structure",
      "members": {
        "startPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Starting port of a range of ports",
            "smithy.api#required": {}
          }
        },
        "endPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "End port of a range of ports",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Port range details"
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypePropertiesCapacitiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The capacity tags applied to the nodes in the node type, the cluster resource manager uses these tags to understand how much resource a node has."
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypePropertiesPlacementPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The placement tags applied to nodes in the node type, which can be used to indicate where certain services (workload) should run."
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypePropertiesDataDiskType": {
      "type": "enum",
      "members": {
        "STANDARD_LRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_LRS"
          }
        },
        "STANDARDSSD_LRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "StandardSSD_LRS"
          }
        },
        "PREMIUM_LRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Premium_LRS"
          }
        },
        "PREMIUMV2_LRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PremiumV2_LRS"
          }
        },
        "STANDARDSSD_ZRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "StandardSSD_ZRS"
          }
        },
        "PREMIUM_ZRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Premium_ZRS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed data disk type. Specifies the storage account type for the managed disk"
      }
    },
    "com.azure.servicefabricmanagedclusters#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.servicefabricmanagedclusters#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.servicefabricmanagedclusters#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.servicefabricmanagedclusters#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.servicefabricmanagedclusters#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.servicefabricmanagedclusters#NodeTypesUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
[...]
