{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.signalr#SignalRListSkus": {
      "type": "operation",
      "input": {
        "target": "com.azure.signalr#SignalRListSkusRequest"
      },
      "output": {
        "target": "com.azure.signalr#SkuList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}/skus",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "List all available skus of the resource.",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.signalr#SkuList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.signalr#SkuListValueList",
          "traits": {
            "smithy.api#documentation": "The list of skus available for the resource."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL the client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list skus operation response"
      }
    },
    "com.azure.signalr#SkuListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.signalr#Sku"
      },
      "traits": {
        "smithy.api#documentation": "The list of skus available for the resource."
      }
    },
    "com.azure.signalr#Sku": {
      "type": "structure",
      "members": {
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type that this object applies to"
          }
        },
        "sku": {
          "target": "com.azure.signalr#ResourceSku"
        },
        "capacity": {
          "target": "com.azure.signalr#SkuCapacity"
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes an available sku.\""
      }
    },
    "com.azure.signalr#SkuCapacity": {
      "type": "structure",
      "members": {
        "minimum": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The lowest permitted capacity for this resource"
          }
        },
        "maximum": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The highest permitted capacity for this resource"
          }
        },
        "default": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The default capacity."
          }
        },
        "allowedValues": {
          "target": "com.azure.signalr#SkuCapacityAllowedValuesList",
          "traits": {
            "smithy.api#documentation": "Allows capacity value list."
          }
        },
        "scaleType": {
          "target": "com.azure.signalr#ScaleType"
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes scaling information of a sku."
      }
    },
    "com.azure.signalr#ScaleType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Manual"
          }
        },
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Automatic"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The scale type applicable to the sku."
      }
    },
    "com.azure.signalr#SkuCapacityAllowedValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Allows capacity value list."
      }
    },
    "com.azure.signalr#ResourceSku": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the SKU. Required.\r\n\r\nAllowed values: Standard_S1, Free_F1, Premium_P1, Premium_P2",
            "smithy.api#required": {}
          }
        },
        "tier": {
          "target": "com.azure.signalr#SignalRSkuTier"
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Not used. Retained for future use."
          }
        },
        "family": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Not used. Retained for future use."
          }
        },
        "capacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional, integer. The unit count of the resource.\r\n1 for Free_F1/Standard_S1/Premium_P1, 100 for Premium_P2 by default.\r\n\r\nIf present, following values are allowed:\r\n    Free_F1: 1;\r\n    Standard_S1: 1,2,3,4,5,6,7,8,9,10,20,30,40,50,60,70,80,90,100;\r\n    Premium_P1:  1,2,3,4,5,6,7,8,9,10,20,30,40,50,60,70,80,90,100;\r\n    Premium_P2:  100,200,300,400,500,600,700,800,900,1000;"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The billing information of the resource."
      }
    },
    "com.azure.signalr#SignalRSkuTier": {
      "type": "enum",
      "members": {
        "FREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Free"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Basic"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Premium"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional tier of this particular SKU. 'Standard' or 'Free'. \r\n\r\n`Basic` is deprecated, use `Standard` instead."
      }
    },
    "com.azure.signalr#SignalRListSkusRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.signalr#SignalRSharedPrivateLinkResourcesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.signalr#SignalRSharedPrivateLinkResourcesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}/sharedPrivateLinkResources/{sharedPrivateLinkResourceName}",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Delete the specified shared private link resource",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.signalr#SignalRSharedPrivateLinkResourcesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "sharedPrivateLinkResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the shared private link resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.signalr#SignalRSharedPrivateLinkResourcesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.signalr#SignalRSharedPrivateLinkResourcesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.signalr#SignalRSharedPrivateLinkResourcesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}/sharedPrivateLinkResources/{sharedPrivateLinkResourceName}",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Create or update a shared private link resource",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.signalr#SignalRSharedPrivateLinkResourcesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.signalr#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.signalr#SharedPrivateLinkResourceProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.signalr#SharedPrivateLinkResourceProperties": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The group id from the provider of resource the shared private link resource is for",
            "smithy.api#required": {}
          }
        },
        "privateLinkResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id of the resource the shared private link resource is for",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.signalr#ProvisioningState"
        },
        "requestMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The request message for requesting approval of the shared private link resource"
          }
        },
        "status": {
          "target": "com.azure.signalr#SharedPrivateLinkResourceStatus"
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the properties of an existing Shared Private Link Resource"
      }
    },
    "com.azure.signalr#SharedPrivateLinkResourceStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disconnected"
          }
        },
        "TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Timeout"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the shared private link resource"
      }
    },
    "com.azure.signalr#ProvisioningState": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "MOVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Moving"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provisioning state of the resource."
      }
    },
    "com.azure.signalr#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.signalr#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.signalr#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.signalr#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.signalr#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.signalr#SignalRSharedPrivateLinkResourcesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "sharedPrivateLinkResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the shared private link resource."
          }
        },
        "properties": {
          "target": "com.azure.signalr#SharedPrivateLinkResourcePropertiesInput"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.signalr#SharedPrivateLinkResourcePropertiesInput": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The group id from the provider of resource the shared private link resource is for",
            "smithy.api#required": {}
          }
        },
        "privateLinkResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id of the resource the shared private link resource is for",
            "smithy.api#required": {}
          }
        },
        "requestMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The request message for requesting approval of the shared private link resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the properties of an existing Shared Private Link Resource"
      }
    },
    "com.azure.signalr#SignalRSharedPrivateLinkResourcesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.signalr#SignalRSharedPrivateLinkResourcesGetRequest"
      },
      "output": {
        "target": "com.azure.signalr#SignalRSharedPrivateLinkResourcesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}/sharedPrivateLinkResources/{sharedPrivateLinkResourceName}",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Get the specified shared private link resource",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.signalr#SignalRSharedPrivateLinkResourcesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.signalr#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.signalr#SharedPrivateLinkResourceProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.signalr#SignalRSharedPrivateLinkResourcesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "sharedPrivateLinkResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the shared private link resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.signalr#SignalRSharedPrivateLinkResourcesList": {
      "type": "operation",
      "input": {
        "target": "com.azure.signalr#SignalRSharedPrivateLinkResourcesListRequest"
      },
      "output": {
        "target": "com.azure.signalr#SharedPrivateLinkResourceList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}/sharedPrivateLinkResources",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "List shared private link resources",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.signalr#SharedPrivateLinkResourceList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.signalr#SharedPrivateLinkResourceListValueList",
          "traits": {
            "smithy.api#documentation": "The list of the shared private link resources"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Request URL that can be used to query next page of private endpoint connections. Returned when the total number of requested private endpoint connections exceed maximum page size."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of shared private link resources"
      }
    },
    "com.azure.signalr#SharedPrivateLinkResourceListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.signalr#SharedPrivateLinkResource"
      },
      "traits": {
        "smithy.api#documentation": "The list of the shared private link resources"
      }
    },
    "com.azure.signalr#SharedPrivateLinkResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.signalr#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.signalr#SharedPrivateLinkResourceProperties"
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a Shared Private Link Resource"
      }
    },
    "com.azure.signalr#SignalRSharedPrivateLinkResourcesListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.signalr#SignalRRestart": {
      "type": "operation",
      "input": {
        "target": "com.azure.signalr#SignalRRestartRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}/restart",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Operation to restart a resource.",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.signalr#SignalRRestartRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.signalr#SignalRListReplicaSkus": {
      "type": "operation",
      "input": {
        "target": "com.azure.signalr#SignalRListReplicaSkusRequest"
      },
      "output": {
        "target": "com.azure.signalr#SkuList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}/replicas/{replicaName}/skus",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "List all available skus of the replica resource.",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.signalr#SignalRListReplicaSkusRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "replicaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the replica."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.signalr#SignalRReplicaSharedPrivateLinkResourcesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.signalr#SignalRReplicaSharedPrivateLinkResourcesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.signalr#SignalRReplicaSharedPrivateLinkResourcesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}/replicas/{replicaName}/sharedPrivateLinkResources/{sharedPrivateLinkResourceName}",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Create or update a shared private link resource",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.signalr#SignalRReplicaSharedPrivateLinkResourcesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.signalr#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.signalr#SharedPrivateLinkResourceProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.signalr#SignalRReplicaSharedPrivateLinkResourcesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "replicaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the replica."
          }
        },
        "sharedPrivateLinkResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the shared private link resource."
          }
        },
        "properties": {
          "target": "com.azure.signalr#SharedPrivateLinkResourcePropertiesInput"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.signalr#SignalRReplicaSharedPrivateLinkResourcesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.signalr#SignalRReplicaSharedPrivateLinkResourcesGetRequest"
      },
      "output": {
        "target": "com.azure.signalr#SignalRReplicaSharedPrivateLinkResourcesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}/replicas/{replicaName}/sharedPrivateLinkResources/{sharedPrivateLinkResourceName}",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Get the specified shared private link resource",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.signalr#SignalRReplicaSharedPrivateLinkResourcesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.signalr#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.signalr#SharedPrivateLinkResourceProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.signalr#SignalRReplicaSharedPrivateLinkResourcesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "replicaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the replica."
          }
        },
        "sharedPrivateLinkResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the shared private link resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.signalr#SignalRReplicaSharedPrivateLinkResourcesList": {
      "type": "operation",
      "input": {
        "target": "com.azure.signalr#SignalRReplicaSharedPrivateLinkResourcesListRequest"
      },
      "output": {
        "target": "com.azure.signalr#SharedPrivateLinkResourceList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}/replicas/{replicaName}/sharedPrivateLinkResources",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "List shared private link resources",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.signalr#SignalRReplicaSharedPrivateLinkResourcesListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "replicaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the replica."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.signalr#SignalRReplicasRestart": {
      "type": "operation",
      "input": {
        "target": "com.azure.signalr#SignalRReplicasRestartRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}/replicas/{replicaName}/restart",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Operation to restart a replica.",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.signalr#SignalRReplicasRestartRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "replicaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the replica."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.signalr#SignalRReplicasDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.signalr#SignalRReplicasDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}/replicas/{replicaName}",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Operation to delete a replica.",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.signalr#SignalRReplicasDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "replicaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the replica."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.signalr#SignalRReplicasUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.signalr#SignalRReplicasUpdateRequest"
      },
      "output": {
        "target": "com.azure.signalr#SignalRReplicasUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}/replicas/{replicaName}",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Operation to update an exiting replica.",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.signalr#SignalRReplicasUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.signalr#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.signalr#SignalRReplicasUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "sku": {
          "target": "com.azure.signalr#ResourceSku"
        },
        "properties": {
          "target": "com.azure.signalr#ReplicaProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.signalr#ReplicaProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.signalr#ProvisioningState"
        },
        "regionEndpointEnabled": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Enable or disable the regional endpoint. Default to \"Enabled\".\r\nWhen it's Disabled, new connections will not be routed to this endpoint, however existing connections will not be affected."
          }
        },
        "resourceStopped": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stop or start the resource.  Default to \"false\".\r\nWhen it's true, the data plane of the resource is shutdown.\r\nWhen it's false, the data plane of the resource is started."
          }
        }
      },
      "traits": {}
    },
    "com.azure.signalr#SignalRReplicasUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.signalr#SignalRReplicasUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "replicaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the replica."
          }
        },
        "tags": {
          "target": "com.azure.signalr#SignalRReplicasUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "sku": {
          "target": "com.azure.signalr#ResourceSkuInput"
        },
        "properties": {
          "target": "com.azure.signalr#ReplicaPropertiesInput"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.signalr#ReplicaPropertiesInput": {
      "type": "structure",
      "members": {
        "regionEndpointEnabled": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Enable or disable the regional endpoint. Default to \"Enabled\".\r\nWhen it's Disabled, new connections will not be routed to this endpoint, however existing connections will not be affected."
          }
        },
        "resourceStopped": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stop or start the resource.  Default to \"false\".\r\nWhen it's true, the data plane of the resource is shutdown.\r\nWhen it's false, the data plane of the resource is started."
          }
        }
      },
      "traits": {}
    },
    "com.azure.signalr#ResourceSkuInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the SKU. Required.\r\n\r\nAllowed values: Standard_S1, Free_F1, Premium_P1, Premium_P2",
            "smithy.api#required": {}
          }
        },
        "tier": {
          "target": "com.azure.signalr#SignalRSkuTier"
        },
        "capacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional, integer. The unit count of the resource.\r\n1 for Free_F1/Standard_S1/Premium_P1, 100 for Premium_P2 by default.\r\n\r\nIf present, following values are allowed:\r\n    Free_F1: 1;\r\n    Standard_S1: 1,2,3,4,5,6,7,8,9,10,20,30,40,50,60,70,80,90,100;\r\n    Premium_P1:  1,2,3,4,5,6,7,8,9,10,20,30,40,50,60,70,80,90,100;\r\n    Premium_P2:  100,200,300,400,500,600,700,800,900,1000;"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The billing information of the resource."
      }
    },
    "com.azure.signalr#SignalRReplicasUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.signalr#SignalRReplicasCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.signalr#SignalRReplicasCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.signalr#SignalRReplicasCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}/replicas/{replicaName}",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Create or update a replica.",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.signalr#SignalRReplicasCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.signalr#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.signalr#SignalRReplicasCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "sku": {
          "target": "com.azure.signalr#ResourceSku"
        },
        "properties": {
          "target": "com.azure.signalr#ReplicaProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.signalr#SignalRReplicasCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.signalr#SignalRReplicasCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "replicaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the replica."
          }
        },
        "tags": {
          "target": "com.azure.signalr#SignalRReplicasCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "sku": {
          "target": "com.azure.signalr#ResourceSkuInput"
        },
        "properties": {
          "target": "com.azure.signalr#ReplicaPropertiesInput"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.signalr#SignalRReplicasCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.signalr#SignalRReplicasGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.signalr#SignalRReplicasGetRequest"
      },
      "output": {
        "target": "com.azure.signalr#SignalRReplicasGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}/replicas/{replicaName}",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Get the replica and its properties.",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.signalr#SignalRReplicasGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.signalr#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.signalr#SignalRReplicasGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "sku": {
          "target": "com.azure.signalr#ResourceSku"
        },
        "properties": {
          "target": "com.azure.signalr#ReplicaProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.signalr#SignalRReplicasGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.signalr#SignalRReplicasGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "replicaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the replica."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.signalr#SignalRReplicasList": {
      "type": "operation",
      "input": {
        "target": "com.azure.signalr#SignalRReplicasListRequest"
      },
      "output": {
        "target": "com.azure.signalr#ReplicaList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}/replicas",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "List all replicas belong to this resource",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.signalr#ReplicaList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.signalr#ReplicaListValueList",
          "traits": {
            "smithy.api#documentation": "List of the replica"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL the client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use."
          }
        }
      },
      "traits": {}
    },
    "com.azure.signalr#ReplicaListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.signalr#Replica"
      },
      "traits": {
        "smithy.api#documentation": "List of the replica"
      }
    },
    "com.azure.signalr#Replica": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.signalr#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.signalr#ReplicaTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "sku": {
          "target": "com.azure.signalr#ResourceSku"
        },
        "properties": {
          "target": "com.azure.signalr#ReplicaProperties"
        }
      },
      "traits": {
        "smithy.api#documentation": "A class represent a replica resource."
      }
    },
    "com.azure.signalr#ReplicaTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.signalr#SignalRReplicasListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.signalr#SignalRRegenerateKey": {
      "type": "operation",
      "input": {
        "target": "com.azure.signalr#SignalRRegenerateKeyRequest"
      },
      "output": {
        "target": "com.azure.signalr#SignalRKeys"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}/regenerateKey",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Regenerate the access key for the resource. PrimaryKey and SecondaryKey cannot be regenerated at the same time.",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.signalr#SignalRKeys": {
      "type": "structure",
      "members": {
        "primaryKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The primary access key."
          }
        },
        "secondaryKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secondary access key."
          }
        },
        "primaryConnectionString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connection string constructed via the primaryKey"
          }
        },
        "secondaryConnectionString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connection string constructed via the secondaryKey"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class represents the access keys of the resource."
      }
    },
    "com.azure.signalr#SignalRRegenerateKeyRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "keyType": {
          "target": "com.azure.signalr#KeyType"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.signalr#KeyType": {
      "type": "enum",
      "members": {
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Primary"
          }
        },
        "SECONDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Secondary"
          }
        },
        "SALT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Salt"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of access key."
      }
    },
    "com.azure.signalr#SignalRPrivateLinkResourcesList": {
      "type": "operation",
      "input": {
        "target": "com.azure.signalr#SignalRPrivateLinkResourcesListRequest"
      },
      "output": {
        "target": "com.azure.signalr#PrivateLinkResourceList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}/privateLinkResources",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Get the private link resources that need to be created for a resource.",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.signalr#PrivateLinkResourceList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.signalr#PrivateLinkResourceListValueList",
          "traits": {
            "smithy.api#documentation": "List of PrivateLinkResource"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL the client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains a list of PrivateLinkResource and a possible link to query more results"
      }
    },
    "com.azure.signalr#PrivateLinkResourceListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.signalr#PrivateLinkResource"
      },
      "traits": {
        "smithy.api#documentation": "List of PrivateLinkResource"
      }
    },
    "com.azure.signalr#PrivateLinkResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.signalr#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.signalr#PrivateLinkResourceProperties"
        }
      },
      "traits": {
        "smithy.api#documentation": "Private link resource"
      }
    },
    "com.azure.signalr#PrivateLinkResourceProperties": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Group Id of the private link resource"
          }
        },
        "requiredMembers": {
          "target": "com.azure.signalr#PrivateLinkResourcePropertiesRequiredMembersList",
          "traits": {
            "smithy.api#documentation": "Required members of the private link resource"
          }
        },
        "requiredZoneNames": {
          "target": "com.azure.signalr#PrivateLinkResourcePropertiesRequiredZoneNamesList",
          "traits": {
            "smithy.api#documentation": "Required private DNS zone names"
          }
        },
        "shareablePrivateLinkResourceTypes": {
          "target": "com.azure.signalr#PrivateLinkResourcePropertiesShareablePrivateLinkResourceTypesList",
          "traits": {
            "smithy.api#documentation": "The list of resources that are onboarded to private link service"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Private link resource properties"
      }
    },
    "com.azure.signalr#PrivateLinkResourcePropertiesShareablePrivateLinkResourceTypesList": {
      "type": "list",
      "member": {
        "target": "com.azure.signalr#ShareablePrivateLinkResourceType"
      },
      "traits": {
        "smithy.api#documentation": "The list of resources that are onboarded to private link service"
      }
    },
    "com.azure.signalr#ShareablePrivateLinkResourceType": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource type that has been onboarded to private link service"
          }
        },
        "properties": {
          "target": "com.azure.signalr#ShareablePrivateLinkResourceProperties"
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a  resource type that has been onboarded to private link service"
      }
    },
    "com.azure.signalr#ShareablePrivateLinkResourceProperties": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the resource type that has been onboarded to private link service"
          }
        },
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource provider group id for the resource that has been onboarded to private link service"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource provider type for the resource that has been onboarded to private link service"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the properties of a resource type that has been onboarded to private link service"
      }
    },
    "com.azure.signalr#PrivateLinkResourcePropertiesRequiredZoneNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Required private DNS zone names"
      }
    },
    "com.azure.signalr#PrivateLinkResourcePropertiesRequiredMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Required members of the private link resource"
      }
    },
    "com.azure.signalr#SignalRPrivateLinkResourcesListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.signalr#SignalRPrivateEndpointConnectionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.signalr#SignalRPrivateEndpointConnectionsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Delete the specified private endpoint connection",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.signalr#SignalRPrivateEndpointConnectionsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection associated with the Azure resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.signalr#SignalRPrivateEndpointConnectionsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.signalr#SignalRPrivateEndpointConnectionsUpdateRequest"
      },
      "output": {
        "target": "com.azure.signalr#SignalRPrivateEndpointConnectionsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Update the state of specified private endpoint connection",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.signalr#SignalRPrivateEndpointConnectionsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.signalr#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.signalr#PrivateEndpointConnectionProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.signalr#PrivateEndpointConnectionProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.signalr#ProvisioningState"
        },
        "privateEndpoint": {
          "target": "com.azure.signalr#PrivateEndpoint"
        },
        "groupIds": {
          "target": "com.azure.signalr#PrivateEndpointConnectionPropertiesGroupIdsList",
          "traits": {
            "smithy.api#documentation": "Group IDs"
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.signalr#PrivateLinkServiceConnectionState"
        }
      },
      "traits": {
        "smithy.api#documentation": "Private endpoint connection properties"
      }
    },
    "com.azure.signalr#PrivateLinkServiceConnectionState": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.signalr#PrivateLinkServiceConnectionStatus"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason for approval/rejection of the connection."
          }
        },
        "actionsRequired": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A message indicating if changes on the service provider require any updates on the consumer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Connection state of the private endpoint connection"
      }
    },
    "com.azure.signalr#PrivateLinkServiceConnectionStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disconnected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates whether the connection has been Approved/Rejected/Removed by the owner of the service."
      }
    },
    "com.azure.signalr#PrivateEndpointConnectionPropertiesGroupIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Group IDs"
      }
    },
    "com.azure.signalr#PrivateEndpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full qualified Id of the private endpoint"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Private endpoint"
      }
    },
    "com.azure.signalr#SignalRPrivateEndpointConnectionsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection associated with the Azure resource."
          }
        },
        "properties": {
          "target": "com.azure.signalr#PrivateEndpointConnectionPropertiesInput"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.signalr#PrivateEndpointConnectionPropertiesInput": {
      "type": "structure",
      "members": {
        "privateEndpoint": {
          "target": "com.azure.signalr#PrivateEndpoint"
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.signalr#PrivateLinkServiceConnectionState"
        }
      },
      "traits": {
        "smithy.api#documentation": "Private endpoint connection properties"
      }
    },
    "com.azure.signalr#SignalRPrivateEndpointConnectionsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.signalr#SignalRPrivateEndpointConnectionsGetRequest"
      },
      "output": {
        "target": "com.azure.signalr#SignalRPrivateEndpointConnectionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Get the specified private endpoint connection",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.signalr#SignalRPrivateEndpointConnectionsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.signalr#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.signalr#PrivateEndpointConnectionProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.signalr#SignalRPrivateEndpointConnectionsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection associated with the Azure resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.signalr#SignalRPrivateEndpointConnectionsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.signalr#SignalRPrivateEndpointConnectionsListRequest"
      },
      "output": {
        "target": "com.azure.signalr#PrivateEndpointConnectionList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}/privateEndpointConnections",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "List private endpoint connections",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.signalr#PrivateEndpointConnectionList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.signalr#PrivateEndpointConnectionListValueList",
          "traits": {
            "smithy.api#documentation": "The list of the private endpoint connections"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Request URL that can be used to query next page of private endpoint connections. Returned when the total number of requested private endpoint connections exceed maximum page size."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of private endpoint connections"
      }
    },
    "com.azure.signalr#PrivateEndpointConnectionListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.signalr#PrivateEndpointConnection"
      },
      "traits": {
        "smithy.api#documentation": "The list of the private endpoint connections"
      }
    },
    "com.azure.signalr#PrivateEndpointConnection": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.signalr#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.signalr#PrivateEndpointConnectionProperties"
        }
      },
      "traits": {
        "smithy.api#documentation": "A private endpoint connection to an azure resource"
      }
    },
    "com.azure.signalr#SignalRPrivateEndpointConnectionsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.signalr#SignalRListKeys": {
      "type": "operation",
      "input": {
        "target": "com.azure.signalr#SignalRListKeysRequest"
      },
      "output": {
        "target": "com.azure.signalr#SignalRKeys"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}/listKeys",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Get the access keys of the resource.",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.signalr#SignalRListKeysRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.signalr#SignalRCustomDomainsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.signalr#SignalRCustomDomainsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}/customDomains/{name}",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Delete a custom domain.",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.signalr#SignalRCustomDomainsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
[...]
