{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.solutions#ApplicationsListTokens": {
      "type": "operation",
      "input": {
        "target": "com.azure.solutions#ApplicationsListTokensRequest"
      },
      "output": {
        "target": "com.azure.solutions#ManagedIdentityTokenResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applications/{applicationName}/listTokens",
          "code": 200,
          "apiVersion": "2021-07-01"
        },
        "smithy.api#documentation": "List tokens for application.",
        "com.distilled.openapi#apiVersion": "2021-07-01"
      }
    },
    "com.azure.solutions#ManagedIdentityTokenResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.solutions#ManagedIdentityTokenResultValueList",
          "traits": {
            "smithy.api#documentation": "The array of managed identity tokens."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The array of managed identity tokens."
      }
    },
    "com.azure.solutions#ManagedIdentityTokenResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.solutions#ManagedIdentityToken"
      },
      "traits": {
        "smithy.api#documentation": "The array of managed identity tokens."
      }
    },
    "com.azure.solutions#ManagedIdentityToken": {
      "type": "structure",
      "members": {
        "accessToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The requested access token.",
            "smithy.api#sensitive": {}
          }
        },
        "expiresIn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of seconds the access token will be valid."
          }
        },
        "expiresOn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timespan when the access token expires. This is represented as the number of seconds from epoch."
          }
        },
        "notBefore": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timespan when the access token takes effect. This is represented as the number of seconds from epoch."
          }
        },
        "authorizationAudience": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The aud (audience) the access token was request for. This is the same as what was provided in the listTokens request."
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Azure resource ID for the issued token. This is either the managed application ID or the user-assigned identity ID."
          }
        },
        "tokenType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The managed identity token for the managed app resource."
      }
    },
    "com.azure.solutions#ApplicationsListTokensRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "applicationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the managed application."
          }
        },
        "authorizationAudience": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The authorization audience."
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.solutions#ApplicationsListTokensRequestUserAssignedIdentitiesList",
          "traits": {
            "smithy.api#documentation": "The user assigned identities."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.solutions#ApplicationsListTokensRequestUserAssignedIdentitiesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The user assigned identities."
      }
    },
    "com.azure.solutions#ApplicationsUpdateAccess": {
      "type": "operation",
      "input": {
        "target": "com.azure.solutions#ApplicationsUpdateAccessRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applications/{applicationName}/updateAccess",
          "code": 200,
          "apiVersion": "2021-07-01"
        },
        "smithy.api#documentation": "Update access for application.",
        "com.distilled.openapi#apiVersion": "2021-07-01"
      }
    },
    "com.azure.solutions#ApplicationsUpdateAccessRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "applicationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the managed application."
          }
        },
        "approver": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The approver name."
          }
        },
        "metadata": {
          "target": "com.azure.solutions#JitRequestMetadata",
          "traits": {
            "smithy.api#documentation": "The JIT request metadata.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.azure.solutions#Status",
          "traits": {
            "smithy.api#documentation": "The JIT status.",
            "smithy.api#required": {}
          }
        },
        "subStatus": {
          "target": "com.azure.solutions#SubStatus",
          "traits": {
            "smithy.api#documentation": "The JIT status.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.solutions#SubStatus": {
      "type": "enum",
      "members": {
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Denied"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Expired"
          }
        },
        "TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Timeout"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The sub status."
      }
    },
    "com.azure.solutions#Status": {
      "type": "enum",
      "members": {
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        },
        "ELEVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Elevate"
          }
        },
        "REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Remove"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The JIT status."
      }
    },
    "com.azure.solutions#JitRequestMetadata": {
      "type": "structure",
      "members": {
        "originRequestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The origin request id."
          }
        },
        "requestorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The requestor id."
          }
        },
        "tenantDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The publisher's tenant name."
          }
        },
        "subjectDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subject display name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The JIT request metadata."
      }
    },
    "com.azure.solutions#ApplicationsListAllowedUpgradePlans": {
      "type": "operation",
      "input": {
        "target": "com.azure.solutions#ApplicationsListAllowedUpgradePlansRequest"
      },
      "output": {
        "target": "com.azure.solutions#AllowedUpgradePlansResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applications/{applicationName}/listAllowedUpgradePlans",
          "code": 200,
          "apiVersion": "2021-07-01"
        },
        "smithy.api#documentation": "List allowed upgrade plans for application.",
        "com.distilled.openapi#apiVersion": "2021-07-01"
      }
    },
    "com.azure.solutions#AllowedUpgradePlansResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.solutions#AllowedUpgradePlansResultValueList",
          "traits": {
            "smithy.api#documentation": "The array of plans."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The array of plan."
      }
    },
    "com.azure.solutions#AllowedUpgradePlansResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.solutions#Plan"
      },
      "traits": {
        "smithy.api#documentation": "The array of plans."
      }
    },
    "com.azure.solutions#Plan": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The plan name.",
            "smithy.api#required": {}
          }
        },
        "publisher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The publisher ID.",
            "smithy.api#required": {}
          }
        },
        "product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The product code.",
            "smithy.api#required": {}
          }
        },
        "promotionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The promotion code."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The plan's version.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Plan for the managed application."
      }
    },
    "com.azure.solutions#ApplicationsListAllowedUpgradePlansRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "applicationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the managed application."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.solutions#ApplicationsRefreshPermissions": {
      "type": "operation",
      "input": {
        "target": "com.azure.solutions#ApplicationsRefreshPermissionsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applications/{applicationName}/refreshPermissions",
          "code": 200,
          "apiVersion": "2021-07-01"
        },
        "smithy.api#documentation": "Refresh Permissions for application.",
        "com.distilled.openapi#apiVersion": "2021-07-01"
      }
    },
    "com.azure.solutions#ApplicationsRefreshPermissionsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "applicationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the managed application."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.solutions#JitRequestsListByResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.solutions#JitRequestsListByResourceGroupRequest"
      },
      "output": {
        "target": "com.azure.solutions#JitRequestDefinitionListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/jitRequests",
          "code": 200,
          "apiVersion": "2021-07-01"
        },
        "smithy.api#documentation": "Lists all JIT requests within the resource group.",
        "com.distilled.openapi#apiVersion": "2021-07-01"
      }
    },
    "com.azure.solutions#JitRequestDefinitionListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.solutions#JitRequestDefinitionListResultValueList",
          "traits": {
            "smithy.api#documentation": "The array of Jit request definition."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to use for getting the next set of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of JIT requests."
      }
    },
    "com.azure.solutions#JitRequestDefinitionListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.solutions#JitRequestDefinition"
      },
      "traits": {
        "smithy.api#documentation": "The array of Jit request definition."
      }
    },
    "com.azure.solutions#JitRequestDefinition": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource location"
          }
        },
        "tags": {
          "target": "com.azure.solutions#JitRequestDefinitionTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags"
          }
        },
        "systemData": {
          "target": "com.azure.solutions#JitRequestDefinitionSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "properties": {
          "target": "com.azure.solutions#JitRequestProperties",
          "traits": {
            "smithy.api#documentation": "The JIT request properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about JIT request definition."
      }
    },
    "com.azure.solutions#JitRequestProperties": {
      "type": "structure",
      "members": {
        "applicationResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parent application id.",
            "smithy.api#required": {}
          }
        },
        "publisherTenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The publisher tenant id."
          }
        },
        "jitAuthorizationPolicies": {
          "target": "com.azure.solutions#JitRequestPropertiesJitAuthorizationPoliciesList",
          "traits": {
            "smithy.api#documentation": "The JIT authorization policies.",
            "smithy.api#required": {}
          }
        },
        "jitSchedulingPolicy": {
          "target": "com.azure.solutions#JitSchedulingPolicy",
          "traits": {
            "smithy.api#documentation": "The JIT request properties.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.solutions#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The JIT request provisioning state."
          }
        },
        "jitRequestState": {
          "target": "com.azure.solutions#JitRequestState",
          "traits": {
            "smithy.api#documentation": "The JIT request state."
          }
        },
        "createdBy": {
          "target": "com.azure.solutions#ApplicationClientDetails",
          "traits": {
            "smithy.api#documentation": "The client entity that created the JIT request."
          }
        },
        "updatedBy": {
          "target": "com.azure.solutions#ApplicationClientDetails",
          "traits": {
            "smithy.api#documentation": "The client entity that last updated the JIT request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about JIT request properties"
      }
    },
    "com.azure.solutions#ApplicationClientDetails": {
      "type": "structure",
      "members": {
        "oid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client Oid."
          }
        },
        "puid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client Puid"
          }
        },
        "applicationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client application Id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The application client details to track the entity creating/updating the managed app resource."
      }
    },
    "com.azure.solutions#JitRequestState": {
      "type": "enum",
      "members": {
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Denied"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Expired"
          }
        },
        "TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Timeout"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The JIT request state."
      }
    },
    "com.azure.solutions#ProvisioningState": {
      "type": "enum",
      "members": {
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleted"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provisioning status of the managed application."
      }
    },
    "com.azure.solutions#JitSchedulingPolicy": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.solutions#JitSchedulingType",
          "traits": {
            "smithy.api#documentation": "The type of JIT schedule.",
            "smithy.api#required": {}
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start time of the request.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The JIT scheduling policies."
      }
    },
    "com.azure.solutions#JitSchedulingType": {
      "type": "enum",
      "members": {
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        },
        "ONCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Once"
          }
        },
        "RECURRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Recurring"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The JIT request scheduling type."
      }
    },
    "com.azure.solutions#JitRequestPropertiesJitAuthorizationPoliciesList": {
      "type": "list",
      "member": {
        "target": "com.azure.solutions#JitAuthorizationPolicies"
      },
      "traits": {
        "smithy.api#documentation": "The JIT authorization policies."
      }
    },
    "com.azure.solutions#JitAuthorizationPolicies": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The the principal id that will be granted JIT access.",
            "smithy.api#required": {}
          }
        },
        "roleDefinitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The role definition id that will be granted to the Principal.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The JIT authorization policies."
      }
    },
    "com.azure.solutions#JitRequestDefinitionSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.solutions#JitRequestDefinitionSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.solutions#JitRequestDefinitionSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.solutions#JitRequestDefinitionSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.solutions#JitRequestDefinitionSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.solutions#JitRequestDefinitionTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags"
      }
    },
    "com.azure.solutions#JitRequestsListByResourceGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.solutions#JitRequestsListBySubscription": {
      "type": "operation",
      "input": {
        "target": "com.azure.solutions#JitRequestsListBySubscriptionRequest"
      },
      "output": {
        "target": "com.azure.solutions#JitRequestDefinitionListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Solutions/jitRequests",
          "code": 200,
          "apiVersion": "2021-07-01"
        },
        "smithy.api#documentation": "Lists all JIT requests within the subscription.",
        "com.distilled.openapi#apiVersion": "2021-07-01"
      }
    },
    "com.azure.solutions#JitRequestsListBySubscriptionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.solutions#JitRequestsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.solutions#JitRequestsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/jitRequests/{jitRequestName}",
          "code": 200,
          "apiVersion": "2021-07-01"
        },
        "smithy.api#documentation": "Deletes the JIT request.",
        "com.distilled.openapi#apiVersion": "2021-07-01"
      }
    },
    "com.azure.solutions#JitRequestsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "jitRequestName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the JIT request."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.solutions#JitRequestsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.solutions#JitRequestsUpdateRequest"
      },
      "output": {
        "target": "com.azure.solutions#JitRequestsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/jitRequests/{jitRequestName}",
          "code": 200,
          "apiVersion": "2021-07-01"
        },
        "smithy.api#documentation": "Updates the JIT request.",
        "com.distilled.openapi#apiVersion": "2021-07-01"
      }
    },
    "com.azure.solutions#JitRequestsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource location"
          }
        },
        "tags": {
          "target": "com.azure.solutions#JitRequestsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags"
          }
        },
        "systemData": {
          "target": "com.azure.solutions#JitRequestsUpdateResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "properties": {
          "target": "com.azure.solutions#JitRequestProperties",
          "traits": {
            "smithy.api#documentation": "The JIT request properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.solutions#JitRequestsUpdateResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.solutions#JitRequestsUpdateResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.solutions#JitRequestsUpdateResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.solutions#JitRequestsUpdateResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.solutions#JitRequestsUpdateResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.solutions#JitRequestsUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags"
      }
    },
    "com.azure.solutions#JitRequestsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "jitRequestName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the JIT request."
          }
        },
        "tags": {
          "target": "com.azure.solutions#JitRequestsUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Jit request tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.solutions#JitRequestsUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Jit request tags"
      }
    },
    "com.azure.solutions#JitRequestsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.solutions#JitRequestsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.solutions#JitRequestsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/jitRequests/{jitRequestName}",
          "code": 200,
          "apiVersion": "2021-07-01"
        },
        "smithy.api#documentation": "Creates or updates the JIT request.",
        "com.distilled.openapi#apiVersion": "2021-07-01"
      }
    },
    "com.azure.solutions#JitRequestsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource location"
          }
        },
        "tags": {
          "target": "com.azure.solutions#JitRequestsCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags"
          }
        },
        "systemData": {
          "target": "com.azure.solutions#JitRequestsCreateOrUpdateResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "properties": {
          "target": "com.azure.solutions#JitRequestProperties",
          "traits": {
            "smithy.api#documentation": "The JIT request properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.solutions#JitRequestsCreateOrUpdateResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.solutions#JitRequestsCreateOrUpdateResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.solutions#JitRequestsCreateOrUpdateResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.solutions#JitRequestsCreateOrUpdateResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.solutions#JitRequestsCreateOrUpdateResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.solutions#JitRequestsCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags"
      }
    },
    "com.azure.solutions#JitRequestsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "jitRequestName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the JIT request."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource location"
          }
        },
        "tags": {
          "target": "com.azure.solutions#JitRequestsCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags"
          }
        },
        "properties": {
          "target": "com.azure.solutions#JitRequestPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The JIT request properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.solutions#JitRequestPropertiesInput": {
      "type": "structure",
      "members": {
        "applicationResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The parent application id.",
            "smithy.api#required": {}
          }
        },
        "jitAuthorizationPolicies": {
          "target": "com.azure.solutions#JitRequestPropertiesInputJitAuthorizationPoliciesList",
          "traits": {
            "smithy.api#documentation": "The JIT authorization policies.",
            "smithy.api#required": {}
          }
        },
        "jitSchedulingPolicy": {
          "target": "com.azure.solutions#JitSchedulingPolicy",
          "traits": {
            "smithy.api#documentation": "The JIT request properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about JIT request properties"
      }
    },
    "com.azure.solutions#JitRequestPropertiesInputJitAuthorizationPoliciesList": {
      "type": "list",
      "member": {
        "target": "com.azure.solutions#JitAuthorizationPolicies"
      },
      "traits": {
        "smithy.api#documentation": "The JIT authorization policies."
      }
    },
    "com.azure.solutions#JitRequestsCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags"
      }
    },
    "com.azure.solutions#JitRequestsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.solutions#JitRequestsGetRequest"
      },
      "output": {
        "target": "com.azure.solutions#JitRequestsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/jitRequests/{jitRequestName}",
          "code": 200,
          "apiVersion": "2021-07-01"
        },
        "smithy.api#documentation": "Gets the JIT request.",
        "com.distilled.openapi#apiVersion": "2021-07-01"
      }
    },
    "com.azure.solutions#JitRequestsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource location"
          }
        },
        "tags": {
          "target": "com.azure.solutions#JitRequestsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags"
          }
        },
        "systemData": {
          "target": "com.azure.solutions#JitRequestsGetResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "properties": {
          "target": "com.azure.solutions#JitRequestProperties",
          "traits": {
            "smithy.api#documentation": "The JIT request properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.solutions#JitRequestsGetResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.solutions#JitRequestsGetResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.solutions#JitRequestsGetResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.solutions#JitRequestsGetResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.solutions#JitRequestsGetResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.solutions#JitRequestsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags"
      }
    },
    "com.azure.solutions#JitRequestsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "jitRequestName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the JIT request."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.solutions#ApplicationsDeleteById": {
      "type": "operation",
      "input": {
        "target": "com.azure.solutions#ApplicationsDeleteByIdRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/{applicationId}",
          "code": 200,
          "apiVersion": "2021-07-01"
        },
        "smithy.api#documentation": "Deletes the managed application.",
        "com.distilled.openapi#apiVersion": "2021-07-01"
      }
    },
    "com.azure.solutions#ApplicationsDeleteByIdRequest": {
      "type": "structure",
      "members": {
        "applicationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified ID of the managed application, including the managed application name and the managed application resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applications/{application-name}"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.solutions#ApplicationsUpdateById": {
      "type": "operation",
      "input": {
        "target": "com.azure.solutions#ApplicationsUpdateByIdRequest"
      },
      "output": {
        "target": "com.azure.solutions#ApplicationsUpdateByIdResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/{applicationId}",
          "code": 200,
          "apiVersion": "2021-07-01"
        },
        "smithy.api#documentation": "Updates an existing managed application.",
        "com.distilled.openapi#apiVersion": "2021-07-01"
      }
    },
    "com.azure.solutions#ApplicationsUpdateByIdResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource location"
          }
        },
        "tags": {
          "target": "com.azure.solutions#ApplicationsUpdateByIdResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags"
          }
        },
        "systemData": {
          "target": "com.azure.solutions#ApplicationsUpdateByIdResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "managedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the resource that manages this resource."
          }
        },
        "sku": {
          "target": "com.azure.solutions#Sku",
          "traits": {
            "smithy.api#documentation": "The SKU of the resource."
          }
        },
        "properties": {
          "target": "com.azure.solutions#ApplicationProperties",
          "traits": {
            "smithy.api#documentation": "The managed application properties."
          }
        },
        "plan": {
          "target": "com.azure.solutions#PlanPatchable",
          "traits": {
            "smithy.api#documentation": "The plan information."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of the managed application. Allowed values are MarketPlace and ServiceCatalog."
          }
        },
        "identity": {
          "target": "com.azure.solutions#Identity",
          "traits": {
            "smithy.api#documentation": "The identity of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.solutions#Identity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of resource identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of resource."
          }
        },
        "type": {
          "target": "com.azure.solutions#IdentityType",
          "traits": {
            "smithy.api#documentation": "The identity type."
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.solutions#IdentityUserAssignedIdentitiesMap",
          "traits": {
            "smithy.api#documentation": "The list of user identities associated with the resource. The user identity dictionary key references will be resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity for the resource."
      }
    },
    "com.azure.solutions#IdentityUserAssignedIdentitiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.solutions#UserAssignedResourceIdentity"
      },
      "traits": {
        "smithy.api#documentation": "The list of user identities associated with the resource. The user identity dictionary key references will be resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."
      }
    },
    "com.azure.solutions#UserAssignedResourceIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal id of user assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant id of user assigned identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the user assigned identity that is contained within the UserAssignedIdentities dictionary on ResourceIdentity"
      }
    },
    "com.azure.solutions#IdentityType": {
      "type": "enum",
      "members": {
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        },
        "SYSTEMASSIGNED_USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned, UserAssigned"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The identity type."
      }
    },
    "com.azure.solutions#PlanPatchable": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The plan name."
          }
        },
        "publisher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The publisher ID."
          }
        },
        "product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The product code."
          }
        },
        "promotionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The promotion code."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The plan's version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Plan for the managed application."
      }
    },
    "com.azure.solutions#ApplicationProperties": {
      "type": "structure",
      "members": {
        "managedResourceGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The managed resource group Id."
          }
        },
        "applicationDefinitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified path of managed application definition Id."
          }
        },
        "parameters": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Name and value pairs that define the managed application parameters. It can be a JObject or a well formed JSON string."
          }
        },
        "outputs": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Name and value pairs that define the managed application outputs."
          }
        },
        "provisioningState": {
          "target": "com.azure.solutions#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The managed application provisioning state."
          }
        },
        "billingDetails": {
          "target": "com.azure.solutions#ApplicationBillingDetailsDefinition",
          "traits": {
            "smithy.api#documentation": "The managed application billing details."
          }
        },
        "jitAccessPolicy": {
          "target": "com.azure.solutions#ApplicationJitAccessPolicy",
          "traits": {
            "smithy.api#documentation": "The managed application Jit access policy."
          }
        },
        "publisherTenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The publisher tenant Id."
          }
        },
        "authorizations": {
          "target": "com.azure.solutions#ApplicationPropertiesAuthorizationsList",
          "traits": {
            "smithy.api#documentation": "The  read-only authorizations property that is retrieved from the application package."
          }
        },
        "managementMode": {
          "target": "com.azure.solutions#ApplicationManagementMode",
          "traits": {
            "smithy.api#documentation": "The managed application management mode."
          }
        },
        "customerSupport": {
          "target": "com.azure.solutions#ApplicationPackageContact",
          "traits": {
            "smithy.api#documentation": "The read-only customer support property that is retrieved from the application package."
          }
        },
        "supportUrls": {
          "target": "com.azure.solutions#ApplicationPackageSupportUrls",
          "traits": {
            "smithy.api#documentation": "The read-only support URLs property that is retrieved from the application package."
          }
        },
        "artifacts": {
          "target": "com.azure.solutions#ApplicationPropertiesArtifactsList",
          "traits": {
            "smithy.api#documentation": "The collection of managed application artifacts."
          }
        },
        "createdBy": {
          "target": "com.azure.solutions#ApplicationClientDetails",
          "traits": {
            "smithy.api#documentation": "The client entity that created the JIT request."
          }
        },
        "updatedBy": {
          "target": "com.azure.solutions#ApplicationClientDetails",
          "traits": {
            "smithy.api#documentation": "The client entity that last updated the JIT request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The managed application properties."
      }
    },
    "com.azure.solutions#ApplicationPropertiesArtifactsList": {
      "type": "list",
      "member": {
        "target": "com.azure.solutions#ApplicationArtifact"
      },
      "traits": {
        "smithy.api#documentation": "The collection of managed application artifacts."
      }
    },
    "com.azure.solutions#ApplicationArtifact": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.azure.solutions#ApplicationArtifactName",
          "traits": {
            "smithy.api#documentation": "The managed application artifact name.",
            "smithy.api#required": {}
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The managed application artifact blob uri.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.azure.solutions#ApplicationArtifactType",
          "traits": {
            "smithy.api#documentation": "The managed application artifact type.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed application artifact."
      }
    },
    "com.azure.solutions#ApplicationArtifactType": {
      "type": "enum",
      "members": {
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        },
        "TEMPLATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Template"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Custom"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The managed application artifact type."
      }
    },
    "com.azure.solutions#ApplicationArtifactName": {
      "type": "enum",
      "members": {
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        },
        "VIEWDEFINITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ViewDefinition"
          }
        },
        "AUTHORIZATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Authorizations"
          }
        },
        "CUSTOMROLEDEFINITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CustomRoleDefinition"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The managed application artifact name."
      }
    },
    "com.azure.solutions#ApplicationPackageSupportUrls": {
      "type": "structure",
      "members": {
        "publicAzure": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The public azure support URL."
          }
        },
        "governmentCloud": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The government cloud support URL."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The appliance package support URLs."
      }
    },
    "com.azure.solutions#ApplicationPackageContact": {
      "type": "structure",
      "members": {
        "contactName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact name."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact email.",
            "smithy.api#required": {}
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The contact phone number.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The application package contact information."
      }
    },
    "com.azure.solutions#ApplicationManagementMode": {
      "type": "enum",
      "members": {
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        },
        "UNMANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unmanaged"
          }
        },
        "MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Managed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The management mode."
      }
    },
    "com.azure.solutions#ApplicationPropertiesAuthorizationsList": {
      "type": "list",
      "member": {
        "target": "com.azure.solutions#ApplicationAuthorization"
      },
      "traits": {
        "smithy.api#documentation": "The  read-only authorizations property that is retrieved from the application package."
      }
    },
    "com.azure.solutions#ApplicationAuthorization": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The provider's principal identifier. This is the identity that the provider will use to call ARM to manage the managed application resources.",
            "smithy.api#required": {}
          }
        },
        "roleDefinitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The provider's role definition identifier. This role will define all the permissions that the provider must have on the managed application's container resource group. This role definition cannot have permission to delete the resource group.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The managed application provider authorization."
      }
    },
    "com.azure.solutions#ApplicationJitAccessPolicy": {
      "type": "structure",
      "members": {
        "jitAccessEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the JIT access is enabled.",
            "smithy.api#required": {}
          }
        },
        "jitApprovalMode": {
          "target": "com.azure.solutions#JitApprovalMode",
          "traits": {
            "smithy.api#documentation": "JIT approval mode."
          }
        },
        "jitApprovers": {
          "target": "com.azure.solutions#ApplicationJitAccessPolicyJitApproversList",
          "traits": {
            "smithy.api#documentation": "The JIT approvers"
          }
        },
        "maximumJitAccessDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The maximum duration JIT access is granted. This is an ISO8601 time period value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed application Jit access policy."
      }
    },
    "com.azure.solutions#ApplicationJitAccessPolicyJitApproversList": {
      "type": "list",
      "member": {
        "target": "com.azure.solutions#JitApproverDefinition"
      },
      "traits": {
        "smithy.api#documentation": "The JIT approvers"
      }
    },
    "com.azure.solutions#JitApproverDefinition": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The approver service principal Id.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.azure.solutions#JitApproverDefinitionType",
          "traits": {
            "smithy.api#documentation": "The approver type."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The approver display name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JIT approver definition."
      }
    },
    "com.azure.solutions#JitApproverDefinitionType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "group"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The approver type."
      }
    },
    "com.azure.solutions#JitApprovalMode": {
      "type": "enum",
      "members": {
        "NOTSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSpecified"
          }
        },
        "AUTOAPPROVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AutoApprove"
          }
        },
        "MANUALAPPROVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManualApprove"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Jit approval mode."
      }
    },
    "com.azure.solutions#ApplicationBillingDetailsDefinition": {
      "type": "structure",
      "members": {
        "resourceUsageId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The managed application resource usage Id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed application billing details definition."
      }
    },
    "com.azure.solutions#Sku": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SKU name.",
            "smithy.api#required": {}
          }
        },
        "tier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SKU tier."
          }
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SKU size."
          }
        },
        "family": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SKU family."
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The SKU model."
          }
        },
        "capacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The SKU capacity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SKU for the resource."
      }
    },
    "com.azure.solutions#ApplicationsUpdateByIdResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.solutions#ApplicationsUpdateByIdResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.solutions#ApplicationsUpdateByIdResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.solutions#ApplicationsUpdateByIdResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.solutions#ApplicationsUpdateByIdResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.solutions#ApplicationsUpdateByIdResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags"
      }
    },
    "com.azure.solutions#ApplicationsUpdateByIdRequest": {
      "type": "structure",
      "members": {
        "applicationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified ID of the managed application, including the managed application name and the managed application resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applications/{application-name}"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource location"
          }
        },
        "tags": {
          "target": "com.azure.solutions#ApplicationsUpdateByIdRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags"
          }
        },
        "managedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the resource that manages this resource."
          }
        },
        "sku": {
          "target": "com.azure.solutions#Sku",
          "traits": {
            "smithy.api#documentation": "The SKU of the resource."
          }
        },
        "properties": {
          "target": "com.azure.solutions#ApplicationPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The managed application properties."
          }
        },
        "plan": {
          "target": "com.azure.solutions#PlanPatchable",
          "traits": {
            "smithy.api#documentation": "The plan information."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of the managed application. Allowed values are MarketPlace and ServiceCatalog."
          }
        },
        "identity": {
          "target": "com.azure.solutions#IdentityInput",
          "traits": {
            "smithy.api#documentation": "The identity of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.solutions#IdentityInput": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.solutions#IdentityInputType",
          "traits": {
            "smithy.api#documentation": "The identity type."
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.solutions#IdentityInputUserAssignedIdentitiesMap",
          "traits": {
            "smithy.api#documentation": "The list of user identities associated with the resource. The user identity dictionary key references will be resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity for the resource."
      }
    },
    "com.azure.solutions#IdentityInputUserAssignedIdentitiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.solutions#UserAssignedResourceIdentityInput"
      },
      "traits": {
        "smithy.api#documentation": "The list of user identities associated with the resource. The user identity dictionary key references will be resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."
      }
    },
    "com.azure.solutions#UserAssignedResourceIdentityInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Represents the user assigned identity that is contained within the UserAssignedIdentities dictionary on ResourceIdentity"
      }
    },
    "com.azure.solutions#IdentityInputType": {
      "type": "enum",
      "members": {
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        },
        "SYSTEMASSIGNED_USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned, UserAssigned"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The identity type."
      }
    },
    "com.azure.solutions#ApplicationPropertiesInput": {
      "type": "structure",
      "members": {
        "managedResourceGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The managed resource group Id."
          }
        },
        "applicationDefinitionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified path of managed application definition Id."
          }
        },
        "parameters": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Name and value pairs that define the managed application parameters. It can be a JObject or a well formed JSON string."
          }
        },
        "jitAccessPolicy": {
          "target": "com.azure.solutions#ApplicationJitAccessPolicy",
          "traits": {
            "smithy.api#documentation": "The managed application Jit access policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The managed application properties."
      }
    },
    "com.azure.solutions#ApplicationsUpdateByIdRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags"
      }
    },
    "com.azure.solutions#ApplicationsCreateOrUpdateById": {
      "type": "operation",
      "input": {
        "target": "com.azure.solutions#ApplicationsCreateOrUpdateByIdRequest"
      },
      "output": {
        "target": "com.azure.solutions#ApplicationsCreateOrUpdateByIdResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/{applicationId}",
          "code": 200,
          "apiVersion": "2021-07-01"
        },
        "smithy.api#documentation": "Creates or updates a managed application.",
        "com.distilled.openapi#apiVersion": "2021-07-01"
      }
    },
    "com.azure.solutions#ApplicationsCreateOrUpdateByIdResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource location"
          }
        },
        "tags": {
          "target": "com.azure.solutions#ApplicationsCreateOrUpdateByIdResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags"
          }
        },
        "systemData": {
          "target": "com.azure.solutions#ApplicationsCreateOrUpdateByIdResponseSystemData",
          "traits": {
            "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
          }
        },
        "managedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the resource that manages this resource."
          }
        },
        "sku": {
          "target": "com.azure.solutions#Sku",
          "traits": {
            "smithy.api#documentation": "The SKU of the resource."
          }
        },
        "properties": {
          "target": "com.azure.solutions#ApplicationProperties",
          "traits": {
            "smithy.api#documentation": "The managed application properties.",
            "smithy.api#required": {}
          }
        },
        "plan": {
          "target": "com.azure.solutions#Plan",
          "traits": {
            "smithy.api#documentation": "The plan information."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of the managed application. Allowed values are MarketPlace and ServiceCatalog.",
            "smithy.api#required": {}
          }
        },
        "identity": {
          "target": "com.azure.solutions#Identity",
          "traits": {
            "smithy.api#documentation": "The identity of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.solutions#ApplicationsCreateOrUpdateByIdResponseSystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.solutions#ApplicationsCreateOrUpdateByIdResponseSystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.solutions#ApplicationsCreateOrUpdateByIdResponseSystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.solutions#ApplicationsCreateOrUpdateByIdResponseSystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.solutions#ApplicationsCreateOrUpdateByIdResponseSystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.solutions#ApplicationsCreateOrUpdateByIdResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags"
      }
    },
    "com.azure.solutions#ApplicationsCreateOrUpdateByIdRequest": {
      "type": "structure",
      "members": {
        "applicationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The fully qualified ID of the managed application, including the managed application name and the managed application resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applications/{application-name}"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource location"
          }
        },
        "tags": {
          "target": "com.azure.solutions#ApplicationsCreateOrUpdateByIdRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags"
          }
        },
        "managedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the resource that manages this resource."
          }
        },
        "sku": {
          "target": "com.azure.solutions#Sku",
          "traits": {
            "smithy.api#documentation": "The SKU of the resource."
          }
        },
        "properties": {
          "target": "com.azure.solutions#ApplicationPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The managed application properties.",
            "smithy.api#required": {}
          }
        },
        "plan": {
          "target": "com.azure.solutions#Plan",
          "traits": {
            "smithy.api#documentation": "The plan information."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
[...]
