{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.sql#RecoverableDatabasesListByServer": {
      "type": "operation",
      "input": {
        "target": "com.azure.sql#RecoverableDatabasesListByServerRequest"
      },
      "output": {
        "target": "com.azure.sql#RecoverableDatabaseListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recoverableDatabases",
          "code": 200,
          "apiVersion": "2014-04-01-legacy"
        },
        "smithy.api#documentation": "Gets a list of recoverable databases",
        "com.distilled.openapi#apiVersion": "2014-04-01-legacy"
      }
    },
    "com.azure.sql#RecoverableDatabaseListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.sql#RecoverableDatabaseListResultValueList",
          "traits": {
            "smithy.api#documentation": "A list of recoverable databases",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response to a list recoverable databases request"
      }
    },
    "com.azure.sql#RecoverableDatabaseListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.sql#RecoverableDatabase"
      },
      "traits": {
        "smithy.api#documentation": "A list of recoverable databases"
      }
    },
    "com.azure.sql#RecoverableDatabase": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "properties": {
          "target": "com.azure.sql#RecoverableDatabaseProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a recoverable database"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A recoverable database"
      }
    },
    "com.azure.sql#RecoverableDatabaseProperties": {
      "type": "structure",
      "members": {
        "edition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The edition of the database"
          }
        },
        "serviceLevelObjective": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service level objective name of the database"
          }
        },
        "elasticPoolName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The elastic pool name of the database"
          }
        },
        "lastAvailableBackupDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last available backup date of the database (ISO8601 format)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of a recoverable database"
      }
    },
    "com.azure.sql#RecoverableDatabasesListByServerRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription ID that identifies an Azure subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sql#RecoverableDatabasesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.sql#RecoverableDatabasesGetRequest"
      },
      "output": {
        "target": "com.azure.sql#RecoverableDatabasesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recoverableDatabases/{databaseName}",
          "code": 200,
          "apiVersion": "2014-04-01-legacy"
        },
        "smithy.api#documentation": "Gets a recoverable database, which is a resource representing a database's geo backup",
        "com.distilled.openapi#apiVersion": "2014-04-01-legacy"
      }
    },
    "com.azure.sql#RecoverableDatabasesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "properties": {
          "target": "com.azure.sql#RecoverableDatabaseProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a recoverable database"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.sql#RecoverableDatabasesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription ID that identifies an Azure subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the database"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sql#ReplicationLinksUnlink": {
      "type": "operation",
      "input": {
        "target": "com.azure.sql#ReplicationLinksUnlinkRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/replicationLinks/{linkId}/unlink",
          "code": 200,
          "apiVersion": "2014-04-01-legacy"
        },
        "smithy.api#documentation": "Deletes a database replication link in forced or friendly way.",
        "com.distilled.openapi#apiVersion": "2014-04-01-legacy"
      }
    },
    "com.azure.sql#ReplicationLinksUnlinkRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription ID that identifies an Azure subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the database that has the replication link to be failed over."
          }
        },
        "linkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the replication link to be failed over."
          }
        },
        "forcedTermination": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines whether link will be terminated in a forced or a friendly way."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sql#ReplicationLinksFailoverAllowDataLoss": {
      "type": "operation",
      "input": {
        "target": "com.azure.sql#ReplicationLinksFailoverAllowDataLossRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/replicationLinks/{linkId}/forceFailoverAllowDataLoss",
          "code": 200,
          "apiVersion": "2014-04-01-legacy"
        },
        "smithy.api#documentation": "Sets which replica database is primary by failing over from the current primary replica database. This operation might result in data loss.",
        "com.distilled.openapi#apiVersion": "2014-04-01-legacy"
      }
    },
    "com.azure.sql#ReplicationLinksFailoverAllowDataLossRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription ID that identifies an Azure subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the database that has the replication link to be failed over."
          }
        },
        "linkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the replication link to be failed over."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sql#ReplicationLinksFailover": {
      "type": "operation",
      "input": {
        "target": "com.azure.sql#ReplicationLinksFailoverRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/replicationLinks/{linkId}/failover",
          "code": 200,
          "apiVersion": "2014-04-01-legacy"
        },
        "smithy.api#documentation": "Sets which replica database is primary by failing over from the current primary replica database.",
        "com.distilled.openapi#apiVersion": "2014-04-01-legacy"
      }
    },
    "com.azure.sql#ReplicationLinksFailoverRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription ID that identifies an Azure subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the database that has the replication link to be failed over."
          }
        },
        "linkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the replication link to be failed over."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sql#ReplicationLinksDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.sql#ReplicationLinksDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/replicationLinks/{linkId}",
          "code": 200,
          "apiVersion": "2014-04-01-legacy"
        },
        "smithy.api#documentation": "Deletes a database replication link. Cannot be done during failover.",
        "com.distilled.openapi#apiVersion": "2014-04-01-legacy"
      }
    },
    "com.azure.sql#ReplicationLinksDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription ID that identifies an Azure subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the database that has the replication link to be dropped."
          }
        },
        "linkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the replication link to be deleted."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sql#ElasticPoolDatabaseActivitiesListByElasticPool": {
      "type": "operation",
      "input": {
        "target": "com.azure.sql#ElasticPoolDatabaseActivitiesListByElasticPoolRequest"
      },
      "output": {
        "target": "com.azure.sql#ElasticPoolDatabaseActivityListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/elasticPoolDatabaseActivity",
          "code": 200,
          "apiVersion": "2014-04-01-legacy"
        },
        "smithy.api#documentation": "Returns activity on databases inside of an elastic pool.",
        "com.distilled.openapi#apiVersion": "2014-04-01-legacy"
      }
    },
    "com.azure.sql#ElasticPoolDatabaseActivityListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.sql#ElasticPoolDatabaseActivityListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of elastic pool database activities.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the response to a list elastic pool database activity request."
      }
    },
    "com.azure.sql#ElasticPoolDatabaseActivityListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.sql#ElasticPoolDatabaseActivity"
      },
      "traits": {
        "smithy.api#documentation": "The list of elastic pool database activities."
      }
    },
    "com.azure.sql#ElasticPoolDatabaseActivity": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        },
        "properties": {
          "target": "com.azure.sql#ElasticPoolDatabaseActivityProperties",
          "traits": {
            "smithy.api#documentation": "The properties representing the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the activity on an elastic pool."
      }
    },
    "com.azure.sql#ElasticPoolDatabaseActivityProperties": {
      "type": "structure",
      "members": {
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The database name."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the operation finished (ISO8601 format)."
          }
        },
        "errorCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The error code if available."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message if available."
          }
        },
        "errorSeverity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The error severity if available."
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operation name."
          }
        },
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique operation ID."
          }
        },
        "percentComplete": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The percentage complete if available."
          }
        },
        "requestedElasticPoolName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name for the elastic pool the database is moving into if available."
          }
        },
        "currentElasticPoolName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the current elastic pool the database is in if available."
          }
        },
        "currentServiceObjective": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the current service objective if available."
          }
        },
        "requestedServiceObjective": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the requested service objective if available."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the server the elastic pool is in."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the operation started (ISO8601 format)."
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current state of the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the properties of an elastic pool database activity."
      }
    },
    "com.azure.sql#ElasticPoolDatabaseActivitiesListByElasticPoolRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription ID that identifies an Azure subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        },
        "elasticPoolName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the elastic pool."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sql#ElasticPoolActivitiesListByElasticPool": {
      "type": "operation",
      "input": {
        "target": "com.azure.sql#ElasticPoolActivitiesListByElasticPoolRequest"
      },
      "output": {
        "target": "com.azure.sql#ElasticPoolActivityListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/elasticPoolActivity",
          "code": 200,
          "apiVersion": "2014-04-01-legacy"
        },
        "smithy.api#documentation": "Returns elastic pool activities.",
        "com.distilled.openapi#apiVersion": "2014-04-01-legacy"
      }
    },
    "com.azure.sql#ElasticPoolActivityListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.sql#ElasticPoolActivityListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of elastic pool activities.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the response to a list elastic pool activity request."
      }
    },
    "com.azure.sql#ElasticPoolActivityListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.sql#ElasticPoolActivity"
      },
      "traits": {
        "smithy.api#documentation": "The list of elastic pool activities."
      }
    },
    "com.azure.sql#ElasticPoolActivity": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives"
          }
        },
        "properties": {
          "target": "com.azure.sql#ElasticPoolActivityProperties",
          "traits": {
            "smithy.api#documentation": "The properties representing the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the activity on an elastic pool."
      }
    },
    "com.azure.sql#ElasticPoolActivityProperties": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the operation finished (ISO8601 format)."
          }
        },
        "errorCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The error code if available."
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The error message if available."
          }
        },
        "errorSeverity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The error severity if available."
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operation name."
          }
        },
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique operation ID."
          }
        },
        "percentComplete": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The percentage complete if available."
          }
        },
        "requestedDatabaseDtuMax": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The requested max DTU per database if available."
          }
        },
        "requestedDatabaseDtuMin": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The requested min DTU per database if available."
          }
        },
        "requestedDtu": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The requested DTU for the pool if available."
          }
        },
        "requestedElasticPoolName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The requested name for the elastic pool if available."
          }
        },
        "requestedStorageLimitInGB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The requested storage limit for the pool in GB if available."
          }
        },
        "elasticPoolName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the elastic pool."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the server the elastic pool is in."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the operation started (ISO8601 format)."
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The current state of the operation."
          }
        },
        "requestedStorageLimitInMB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The requested storage limit in MB."
          }
        },
        "requestedDatabaseDtuGuarantee": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The requested per database DTU guarantee."
          }
        },
        "requestedDatabaseDtuCap": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The requested per database DTU cap."
          }
        },
        "requestedDtuGuarantee": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The requested DTU guarantee."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the properties of an elastic pool."
      }
    },
    "com.azure.sql#ElasticPoolActivitiesListByElasticPoolRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription ID that identifies an Azure subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        },
        "elasticPoolName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the elastic pool for which to get the current activity."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sql#ServerUsagesListByServer": {
      "type": "operation",
      "input": {
        "target": "com.azure.sql#ServerUsagesListByServerRequest"
      },
      "output": {
        "target": "com.azure.sql#ServerUsageListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/usages",
          "code": 200,
          "apiVersion": "2014-04-01-legacy"
        },
        "smithy.api#documentation": "Returns server usages.",
        "com.distilled.openapi#apiVersion": "2014-04-01-legacy"
      }
    },
    "com.azure.sql#ServerUsageListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.sql#ServerUsageListResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of server metrics for the server.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the response to a list server metrics request."
      }
    },
    "com.azure.sql#ServerUsageListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.sql#ServerUsage"
      },
      "traits": {
        "smithy.api#documentation": "The list of server metrics for the server."
      }
    },
    "com.azure.sql#ServerUsage": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the server usage metric."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The metric display name."
          }
        },
        "currentValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The current value of the metric."
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The current limit of the metric."
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The units of the metric."
          }
        },
        "nextResetTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next reset time for the metric (ISO8601 format)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents server metrics."
      }
    },
    "com.azure.sql#ServerUsagesListByServerRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The subscription ID that identifies an Azure subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sql#BackupShortTermRetentionPoliciesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.sql#BackupShortTermRetentionPoliciesUpdateRequest"
      },
      "output": {
        "target": "com.azure.sql#BackupShortTermRetentionPoliciesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/backupShortTermRetentionPolicies/{policyName}",
          "code": 200,
          "apiVersion": "2025-01-01"
        },
        "smithy.api#documentation": "Updates a database's short term retention policy.",
        "com.distilled.openapi#apiVersion": "2025-01-01"
      }
    },
    "com.azure.sql#BackupShortTermRetentionPoliciesUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.sql#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.sql#BackupShortTermRetentionPolicyProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.sql#BackupShortTermRetentionPolicyProperties": {
      "type": "structure",
      "members": {
        "retentionDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The backup retention period in days. This is how many days Point-in-Time Restore will be supported."
          }
        },
        "diffBackupIntervalInHours": {
          "target": "com.azure.sql#BackupShortTermRetentionPolicyPropertiesDiffBackupIntervalInHours",
          "traits": {
            "smithy.api#documentation": "The differential backup interval in hours. This is how many interval hours between each differential backup will be supported. This is only applicable to live databases but not dropped databases."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a short term retention policy"
      }
    },
    "com.azure.sql#BackupShortTermRetentionPolicyPropertiesDiffBackupIntervalInHours": {
      "type": "intEnum",
      "members": {
        "_12": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 12
          }
        },
        "_24": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 24
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The differential backup interval in hours. This is how many interval hours between each differential backup will be supported. This is only applicable to live databases but not dropped databases."
      }
    },
    "com.azure.sql#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.sql#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.sql#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.sql#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.sql#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.sql#BackupShortTermRetentionPoliciesUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the database."
          }
        },
        "policyName": {
          "target": "com.azure.sql#BackupShortTermRetentionPoliciesUpdateRequestPolicyName",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The policy name. Should always be default."
          }
        },
        "properties": {
          "target": "com.azure.sql#BackupShortTermRetentionPolicyProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sql#BackupShortTermRetentionPoliciesUpdateRequestPolicyName": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        }
      },
      "traits": {}
    },
    "com.azure.sql#BackupShortTermRetentionPoliciesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.sql#BackupShortTermRetentionPoliciesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.sql#BackupShortTermRetentionPoliciesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/backupShortTermRetentionPolicies/{policyName}",
          "code": 200,
          "apiVersion": "2025-01-01"
        },
        "smithy.api#documentation": "Updates a database's short term retention policy.",
        "com.distilled.openapi#apiVersion": "2025-01-01"
      }
    },
    "com.azure.sql#BackupShortTermRetentionPoliciesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.sql#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.sql#BackupShortTermRetentionPolicyProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.sql#BackupShortTermRetentionPoliciesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the database."
          }
        },
        "policyName": {
          "target": "com.azure.sql#BackupShortTermRetentionPoliciesCreateOrUpdateRequestPolicyName",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The policy name. Should always be default."
          }
        },
        "properties": {
          "target": "com.azure.sql#BackupShortTermRetentionPolicyProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sql#BackupShortTermRetentionPoliciesCreateOrUpdateRequestPolicyName": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        }
      },
      "traits": {}
    },
    "com.azure.sql#BackupShortTermRetentionPoliciesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.sql#BackupShortTermRetentionPoliciesGetRequest"
      },
      "output": {
        "target": "com.azure.sql#BackupShortTermRetentionPoliciesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/backupShortTermRetentionPolicies/{policyName}",
          "code": 200,
          "apiVersion": "2025-01-01"
        },
        "smithy.api#documentation": "Gets a database's short term retention policy.",
        "com.distilled.openapi#apiVersion": "2025-01-01"
      }
    },
    "com.azure.sql#BackupShortTermRetentionPoliciesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.sql#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.sql#BackupShortTermRetentionPolicyProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.sql#BackupShortTermRetentionPoliciesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the database."
          }
        },
        "policyName": {
          "target": "com.azure.sql#BackupShortTermRetentionPoliciesGetRequestPolicyName",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The policy name. Should always be default."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sql#BackupShortTermRetentionPoliciesGetRequestPolicyName": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        }
      },
      "traits": {}
    },
    "com.azure.sql#BackupShortTermRetentionPoliciesListByDatabase": {
      "type": "operation",
      "input": {
        "target": "com.azure.sql#BackupShortTermRetentionPoliciesListByDatabaseRequest"
      },
      "output": {
        "target": "com.azure.sql#BackupShortTermRetentionPolicyListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/backupShortTermRetentionPolicies",
          "code": 200,
          "apiVersion": "2025-01-01"
        },
        "smithy.api#documentation": "Gets a database's short term retention policy.",
        "com.distilled.openapi#apiVersion": "2025-01-01"
      }
    },
    "com.azure.sql#BackupShortTermRetentionPolicyListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.sql#BackupShortTermRetentionPolicyListResultValueList",
          "traits": {
            "smithy.api#documentation": "The BackupShortTermRetentionPolicy items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a BackupShortTermRetentionPolicy list operation."
      }
    },
    "com.azure.sql#BackupShortTermRetentionPolicyListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.sql#BackupShortTermRetentionPolicy"
      },
      "traits": {
        "smithy.api#documentation": "The BackupShortTermRetentionPolicy items on this page"
      }
    },
    "com.azure.sql#BackupShortTermRetentionPolicy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.sql#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.sql#BackupShortTermRetentionPolicyProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A short term retention policy."
      }
    },
    "com.azure.sql#BackupShortTermRetentionPoliciesListByDatabaseRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the database."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sql#ExtendedServerBlobAuditingPoliciesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.sql#ExtendedServerBlobAuditingPoliciesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.sql#ExtendedServerBlobAuditingPoliciesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/extendedAuditingSettings/{blobAuditingPolicyName}",
          "code": 200,
          "apiVersion": "2025-01-01"
        },
        "smithy.api#documentation": "Creates or updates an extended server's blob auditing policy.",
        "com.distilled.openapi#apiVersion": "2025-01-01"
      }
    },
    "com.azure.sql#ExtendedServerBlobAuditingPoliciesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.sql#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.sql#ExtendedServerBlobAuditingPolicyProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.sql#ExtendedServerBlobAuditingPolicyProperties": {
      "type": "structure",
      "members": {
        "isDevopsAuditEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies the state of devops audit. If state is Enabled, devops logs will be sent to Azure Monitor.\nIn order to send the events to Azure Monitor, specify 'State' as 'Enabled', 'IsAzureMonitorTargetEnabled' as true and 'IsDevopsAuditEnabled' as true\n\nWhen using REST API to configure auditing, Diagnostic Settings with 'DevOpsOperationsAudit' diagnostic logs category on the master database should also be created.\n\nDiagnostic Settings URI format:\nPUT https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Sql/servers/{serverName}/databases/master/providers/microsoft.insights/diagnosticSettings/{settingsName}?api-version=2017-05-01-preview\n\nFor more information, see [Diagnostic Settings REST API](https://go.microsoft.com/fwlink/?linkid=2033207)\nor [Diagnostic Settings PowerShell](https://go.microsoft.com/fwlink/?linkid=2033043)"
          }
        },
        "predicateExpression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies condition of where clause when creating an audit."
          }
        },
        "retentionDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the number of days to keep in the audit logs in the storage account."
          }
        },
        "auditActionsAndGroups": {
          "target": "com.azure.sql#ExtendedServerBlobAuditingPolicyPropertiesAuditActionsAndGroupsList",
          "traits": {
            "smithy.api#documentation": "Specifies the Actions-Groups and Actions to audit.\n\nThe recommended set of action groups to use is the following combination - this will audit all the queries and stored procedures executed against the database, as well as successful and failed logins:\n\nBATCH_COMPLETED_GROUP,\nSUCCESSFUL_DATABASE_AUTHENTICATION_GROUP,\nFAILED_DATABASE_AUTHENTICATION_GROUP.\n\nThis above combination is also the set that is configured by default when enabling auditing from the Azure portal.\n\nThe supported action groups to audit are (note: choose only specific groups that cover your auditing needs. Using unnecessary groups could lead to very large quantities of audit records):\n\nAPPLICATION_ROLE_CHANGE_PASSWORD_GROUP\nBACKUP_RESTORE_GROUP\nDATABASE_LOGOUT_GROUP\nDATABASE_OBJECT_CHANGE_GROUP\nDATABASE_OBJECT_OWNERSHIP_CHANGE_GROUP\nDATABASE_OBJECT_PERMISSION_CHANGE_GROUP\nDATABASE_OPERATION_GROUP\nDATABASE_PERMISSION_CHANGE_GROUP\nDATABASE_PRINCIPAL_CHANGE_GROUP\nDATABASE_PRINCIPAL_IMPERSONATION_GROUP\nDATABASE_ROLE_MEMBER_CHANGE_GROUP\nFAILED_DATABASE_AUTHENTICATION_GROUP\nSCHEMA_OBJECT_ACCESS_GROUP\nSCHEMA_OBJECT_CHANGE_GROUP\nSCHEMA_OBJECT_OWNERSHIP_CHANGE_GROUP\nSCHEMA_OBJECT_PERMISSION_CHANGE_GROUP\nSUCCESSFUL_DATABASE_AUTHENTICATION_GROUP\nUSER_CHANGE_PASSWORD_GROUP\nBATCH_STARTED_GROUP\nBATCH_COMPLETED_GROUP\nDBCC_GROUP\nDATABASE_OWNERSHIP_CHANGE_GROUP\nDATABASE_CHANGE_GROUP\nLEDGER_OPERATION_GROUP\n\nThese are groups that cover all sql statements and stored procedures executed against the database, and should not be used in combination with other groups as this will result in duplicate audit logs.\n\nFor more information, see [Database-Level Audit Action Groups](https://docs.microsoft.com/en-us/sql/relational-databases/security/auditing/sql-server-audit-action-groups-and-actions#database-level-audit-action-groups).\n\nFor Database auditing policy, specific Actions can also be specified (note that Actions cannot be specified for Server auditing policy). The supported actions to audit are:\nSELECT\nUPDATE\nINSERT\nDELETE\nEXECUTE\nRECEIVE\nREFERENCES\n\nThe general form for defining an action to be audited is:\n{action} ON {object} BY {principal}\n\nNote that <object> in the above format can refer to an object like a table, view, or stored procedure, or an entire database or schema. For the latter cases, the forms DATABASE::{db_name} and SCHEMA::{schema_name} are used, respectively.\n\nFor example:\nSELECT on dbo.myTable by public\nSELECT on DATABASE::myDatabase by public\nSELECT on SCHEMA::mySchema by public\n\nFor more information, see [Database-Level Audit Actions](https://docs.microsoft.com/en-us/sql/relational-databases/security/auditing/sql-server-audit-action-groups-and-actions#database-level-audit-actions)"
          }
        },
        "isStorageSecondaryKeyInUse": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether storageAccountAccessKey value is the storage's secondary key."
          }
        },
        "isAzureMonitorTargetEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether audit events are sent to Azure Monitor.\nIn order to send the events to Azure Monitor, specify 'State' as 'Enabled' and 'IsAzureMonitorTargetEnabled' as true.\n\nWhen using REST API to configure auditing, Diagnostic Settings with 'SQLSecurityAuditEvents' diagnostic logs category on the database should be also created.\nNote that for server level audit you should use the 'master' database as {databaseName}.\n\nDiagnostic Settings URI format:\nPUT https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/providers/microsoft.insights/diagnosticSettings/{settingsName}?api-version=2017-05-01-preview\n\nFor more information, see [Diagnostic Settings REST API](https://go.microsoft.com/fwlink/?linkid=2033207)\nor [Diagnostic Settings PowerShell](https://go.microsoft.com/fwlink/?linkid=2033043)"
          }
        },
        "queueDelayMs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the amount of time in milliseconds that can elapse before audit actions are forced to be processed.\nThe default minimum value is 1000 (1 second). The maximum is 2,147,483,647."
          }
        },
        "isManagedIdentityInUse": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether Managed Identity is used to access blob storage"
          }
        },
        "state": {
          "target": "com.azure.sql#ExtendedServerBlobAuditingPolicyPropertiesState",
          "traits": {
            "smithy.api#documentation": "Specifies the state of the audit. If state is Enabled, storageEndpoint or isAzureMonitorTargetEnabled are required.",
            "smithy.api#required": {}
          }
        },
        "storageEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the blob storage endpoint (e.g. https://MyAccount.blob.core.windows.net). If state is Enabled, storageEndpoint or isAzureMonitorTargetEnabled is required."
          }
        },
        "storageAccountAccessKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the identifier key of the auditing storage account.\nIf state is Enabled and storageEndpoint is specified, not specifying the storageAccountAccessKey will use SQL server system-assigned managed identity to access the storage.\nPrerequisites for using managed identity authentication:\n1. Assign SQL Server a system-assigned managed identity in Azure Active Directory (AAD).\n2. Grant SQL Server identity access to the storage account by adding 'Storage Blob Data Contributor' RBAC role to the server identity.\nFor more information, see [Auditing to storage using Managed Identity authentication](https://go.microsoft.com/fwlink/?linkid=2114355)"
          }
        },
        "storageAccountSubscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Universally Unique Identifier"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of an extended server blob auditing policy."
      }
    },
    "com.azure.sql#ExtendedServerBlobAuditingPolicyPropertiesState": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the state of the audit. If state is Enabled, storageEndpoint or isAzureMonitorTargetEnabled are required."
      }
    },
    "com.azure.sql#ExtendedServerBlobAuditingPolicyPropertiesAuditActionsAndGroupsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Specifies the Actions-Groups and Actions to audit.\n\nThe recommended set of action groups to use is the following combination - this will audit all the queries and stored procedures executed against the database, as well as successful and failed logins:\n\nBATCH_COMPLETED_GROUP,\nSUCCESSFUL_DATABASE_AUTHENTICATION_GROUP,\nFAILED_DATABASE_AUTHENTICATION_GROUP.\n\nThis above combination is also the set that is configured by default when enabling auditing from the Azure portal.\n\nThe supported action groups to audit are (note: choose only specific groups that cover your auditing needs. Using unnecessary groups could lead to very large quantities of audit records):\n\nAPPLICATION_ROLE_CHANGE_PASSWORD_GROUP\nBACKUP_RESTORE_GROUP\nDATABASE_LOGOUT_GROUP\nDATABASE_OBJECT_CHANGE_GROUP\nDATABASE_OBJECT_OWNERSHIP_CHANGE_GROUP\nDATABASE_OBJECT_PERMISSION_CHANGE_GROUP\nDATABASE_OPERATION_GROUP\nDATABASE_PERMISSION_CHANGE_GROUP\nDATABASE_PRINCIPAL_CHANGE_GROUP\nDATABASE_PRINCIPAL_IMPERSONATION_GROUP\nDATABASE_ROLE_MEMBER_CHANGE_GROUP\nFAILED_DATABASE_AUTHENTICATION_GROUP\nSCHEMA_OBJECT_ACCESS_GROUP\nSCHEMA_OBJECT_CHANGE_GROUP\nSCHEMA_OBJECT_OWNERSHIP_CHANGE_GROUP\nSCHEMA_OBJECT_PERMISSION_CHANGE_GROUP\nSUCCESSFUL_DATABASE_AUTHENTICATION_GROUP\nUSER_CHANGE_PASSWORD_GROUP\nBATCH_STARTED_GROUP\nBATCH_COMPLETED_GROUP\nDBCC_GROUP\nDATABASE_OWNERSHIP_CHANGE_GROUP\nDATABASE_CHANGE_GROUP\nLEDGER_OPERATION_GROUP\n\nThese are groups that cover all sql statements and stored procedures executed against the database, and should not be used in combination with other groups as this will result in duplicate audit logs.\n\nFor more information, see [Database-Level Audit Action Groups](https://docs.microsoft.com/en-us/sql/relational-databases/security/auditing/sql-server-audit-action-groups-and-actions#database-level-audit-action-groups).\n\nFor Database auditing policy, specific Actions can also be specified (note that Actions cannot be specified for Server auditing policy). The supported actions to audit are:\nSELECT\nUPDATE\nINSERT\nDELETE\nEXECUTE\nRECEIVE\nREFERENCES\n\nThe general form for defining an action to be audited is:\n{action} ON {object} BY {principal}\n\nNote that <object> in the above format can refer to an object like a table, view, or stored procedure, or an entire database or schema. For the latter cases, the forms DATABASE::{db_name} and SCHEMA::{schema_name} are used, respectively.\n\nFor example:\nSELECT on dbo.myTable by public\nSELECT on DATABASE::myDatabase by public\nSELECT on SCHEMA::mySchema by public\n\nFor more information, see [Database-Level Audit Actions](https://docs.microsoft.com/en-us/sql/relational-databases/security/auditing/sql-server-audit-action-groups-and-actions#database-level-audit-actions)"
      }
    },
    "com.azure.sql#ExtendedServerBlobAuditingPoliciesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        },
        "blobAuditingPolicyName": {
          "target": "com.azure.sql#ExtendedServerBlobAuditingPoliciesCreateOrUpdateRequestBlobAuditingPolicyName",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the blob auditing policy."
          }
        },
        "properties": {
          "target": "com.azure.sql#ExtendedServerBlobAuditingPolicyProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sql#ExtendedServerBlobAuditingPoliciesCreateOrUpdateRequestBlobAuditingPolicyName": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        }
      },
      "traits": {}
    },
    "com.azure.sql#ExtendedServerBlobAuditingPoliciesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.sql#ExtendedServerBlobAuditingPoliciesGetRequest"
      },
      "output": {
        "target": "com.azure.sql#ExtendedServerBlobAuditingPoliciesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/extendedAuditingSettings/{blobAuditingPolicyName}",
          "code": 200,
          "apiVersion": "2025-01-01"
        },
        "smithy.api#documentation": "Gets an extended server's blob auditing policy.",
        "com.distilled.openapi#apiVersion": "2025-01-01"
      }
    },
    "com.azure.sql#ExtendedServerBlobAuditingPoliciesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.sql#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.sql#ExtendedServerBlobAuditingPolicyProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.sql#ExtendedServerBlobAuditingPoliciesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        },
        "blobAuditingPolicyName": {
          "target": "com.azure.sql#ExtendedServerBlobAuditingPoliciesGetRequestBlobAuditingPolicyName",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the blob auditing policy."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sql#ExtendedServerBlobAuditingPoliciesGetRequestBlobAuditingPolicyName": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        }
      },
      "traits": {}
    },
    "com.azure.sql#ExtendedServerBlobAuditingPoliciesListByServer": {
      "type": "operation",
      "input": {
        "target": "com.azure.sql#ExtendedServerBlobAuditingPoliciesListByServerRequest"
      },
      "output": {
        "target": "com.azure.sql#ExtendedServerBlobAuditingPolicyListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/extendedAuditingSettings",
          "code": 200,
          "apiVersion": "2025-01-01"
        },
        "smithy.api#documentation": "Lists extended auditing settings of a server.",
        "com.distilled.openapi#apiVersion": "2025-01-01"
      }
    },
    "com.azure.sql#ExtendedServerBlobAuditingPolicyListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.sql#ExtendedServerBlobAuditingPolicyListResultValueList",
          "traits": {
            "smithy.api#documentation": "The ExtendedServerBlobAuditingPolicy items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a ExtendedServerBlobAuditingPolicy list operation."
      }
    },
    "com.azure.sql#ExtendedServerBlobAuditingPolicyListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.sql#ExtendedServerBlobAuditingPolicy"
      },
      "traits": {
        "smithy.api#documentation": "The ExtendedServerBlobAuditingPolicy items on this page"
      }
    },
    "com.azure.sql#ExtendedServerBlobAuditingPolicy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.sql#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.sql#ExtendedServerBlobAuditingPolicyProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An extended server blob auditing policy."
      }
    },
    "com.azure.sql#ExtendedServerBlobAuditingPoliciesListByServerRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sql#ExtendedDatabaseBlobAuditingPoliciesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.sql#ExtendedDatabaseBlobAuditingPoliciesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.sql#ExtendedDatabaseBlobAuditingPoliciesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/extendedAuditingSettings/{blobAuditingPolicyName}",
          "code": 200,
          "apiVersion": "2025-01-01"
        },
        "smithy.api#documentation": "Creates or updates an extended database's blob auditing policy.",
        "com.distilled.openapi#apiVersion": "2025-01-01"
      }
    },
    "com.azure.sql#ExtendedDatabaseBlobAuditingPoliciesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.sql#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.sql#ExtendedDatabaseBlobAuditingPolicyProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.sql#ExtendedDatabaseBlobAuditingPolicyProperties": {
      "type": "structure",
      "members": {
        "predicateExpression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies condition of where clause when creating an audit."
          }
        },
        "retentionDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the number of days to keep in the audit logs in the storage account."
          }
        },
        "auditActionsAndGroups": {
          "target": "com.azure.sql#ExtendedDatabaseBlobAuditingPolicyPropertiesAuditActionsAndGroupsList",
          "traits": {
            "smithy.api#documentation": "Specifies the Actions-Groups and Actions to audit.\n\nThe recommended set of action groups to use is the following combination - this will audit all the queries and stored procedures executed against the database, as well as successful and failed logins:\n\nBATCH_COMPLETED_GROUP,\nSUCCESSFUL_DATABASE_AUTHENTICATION_GROUP,\nFAILED_DATABASE_AUTHENTICATION_GROUP.\n\nThis above combination is also the set that is configured by default when enabling auditing from the Azure portal.\n\nThe supported action groups to audit are (note: choose only specific groups that cover your auditing needs. Using unnecessary groups could lead to very large quantities of audit records):\n\nAPPLICATION_ROLE_CHANGE_PASSWORD_GROUP\nBACKUP_RESTORE_GROUP\nDATABASE_LOGOUT_GROUP\nDATABASE_OBJECT_CHANGE_GROUP\nDATABASE_OBJECT_OWNERSHIP_CHANGE_GROUP\nDATABASE_OBJECT_PERMISSION_CHANGE_GROUP\nDATABASE_OPERATION_GROUP\nDATABASE_PERMISSION_CHANGE_GROUP\nDATABASE_PRINCIPAL_CHANGE_GROUP\nDATABASE_PRINCIPAL_IMPERSONATION_GROUP\nDATABASE_ROLE_MEMBER_CHANGE_GROUP\nFAILED_DATABASE_AUTHENTICATION_GROUP\nSCHEMA_OBJECT_ACCESS_GROUP\nSCHEMA_OBJECT_CHANGE_GROUP\nSCHEMA_OBJECT_OWNERSHIP_CHANGE_GROUP\nSCHEMA_OBJECT_PERMISSION_CHANGE_GROUP\nSUCCESSFUL_DATABASE_AUTHENTICATION_GROUP\nUSER_CHANGE_PASSWORD_GROUP\nBATCH_STARTED_GROUP\nBATCH_COMPLETED_GROUP\nDBCC_GROUP\nDATABASE_OWNERSHIP_CHANGE_GROUP\nDATABASE_CHANGE_GROUP\nLEDGER_OPERATION_GROUP\n\nThese are groups that cover all sql statements and stored procedures executed against the database, and should not be used in combination with other groups as this will result in duplicate audit logs.\n\nFor more information, see [Database-Level Audit Action Groups](https://docs.microsoft.com/en-us/sql/relational-databases/security/auditing/sql-server-audit-action-groups-and-actions#database-level-audit-action-groups).\n\nFor Database auditing policy, specific Actions can also be specified (note that Actions cannot be specified for Server auditing policy). The supported actions to audit are:\nSELECT\nUPDATE\nINSERT\nDELETE\nEXECUTE\nRECEIVE\nREFERENCES\n\nThe general form for defining an action to be audited is:\n{action} ON {object} BY {principal}\n\nNote that <object> in the above format can refer to an object like a table, view, or stored procedure, or an entire database or schema. For the latter cases, the forms DATABASE::{db_name} and SCHEMA::{schema_name} are used, respectively.\n\nFor example:\nSELECT on dbo.myTable by public\nSELECT on DATABASE::myDatabase by public\nSELECT on SCHEMA::mySchema by public\n\nFor more information, see [Database-Level Audit Actions](https://docs.microsoft.com/en-us/sql/relational-databases/security/auditing/sql-server-audit-action-groups-and-actions#database-level-audit-actions)"
          }
        },
        "isStorageSecondaryKeyInUse": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether storageAccountAccessKey value is the storage's secondary key."
          }
        },
        "isAzureMonitorTargetEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether audit events are sent to Azure Monitor.\nIn order to send the events to Azure Monitor, specify 'State' as 'Enabled' and 'IsAzureMonitorTargetEnabled' as true.\n\nWhen using REST API to configure auditing, Diagnostic Settings with 'SQLSecurityAuditEvents' diagnostic logs category on the database should be also created.\nNote that for server level audit you should use the 'master' database as {databaseName}.\n\nDiagnostic Settings URI format:\nPUT https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/providers/microsoft.insights/diagnosticSettings/{settingsName}?api-version=2017-05-01-preview\n\nFor more information, see [Diagnostic Settings REST API](https://go.microsoft.com/fwlink/?linkid=2033207)\nor [Diagnostic Settings PowerShell](https://go.microsoft.com/fwlink/?linkid=2033043)"
          }
        },
        "queueDelayMs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the amount of time in milliseconds that can elapse before audit actions are forced to be processed.\nThe default minimum value is 1000 (1 second). The maximum is 2,147,483,647."
          }
        },
        "isManagedIdentityInUse": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether Managed Identity is used to access blob storage"
          }
        },
        "state": {
          "target": "com.azure.sql#ExtendedDatabaseBlobAuditingPolicyPropertiesState",
          "traits": {
            "smithy.api#documentation": "Specifies the state of the audit. If state is Enabled, storageEndpoint or isAzureMonitorTargetEnabled are required.",
            "smithy.api#required": {}
          }
        },
        "storageEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the blob storage endpoint (e.g. https://MyAccount.blob.core.windows.net). If state is Enabled, storageEndpoint or isAzureMonitorTargetEnabled is required."
          }
        },
        "storageAccountAccessKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the identifier key of the auditing storage account.\nIf state is Enabled and storageEndpoint is specified, not specifying the storageAccountAccessKey will use SQL server system-assigned managed identity to access the storage.\nPrerequisites for using managed identity authentication:\n1. Assign SQL Server a system-assigned managed identity in Azure Active Directory (AAD).\n2. Grant SQL Server identity access to the storage account by adding 'Storage Blob Data Contributor' RBAC role to the server identity.\nFor more information, see [Auditing to storage using Managed Identity authentication](https://go.microsoft.com/fwlink/?linkid=2114355)"
          }
        },
        "storageAccountSubscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Universally Unique Identifier"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of an extended database blob auditing policy."
      }
    },
    "com.azure.sql#ExtendedDatabaseBlobAuditingPolicyPropertiesState": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the state of the audit. If state is Enabled, storageEndpoint or isAzureMonitorTargetEnabled are required."
      }
    },
    "com.azure.sql#ExtendedDatabaseBlobAuditingPolicyPropertiesAuditActionsAndGroupsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Specifies the Actions-Groups and Actions to audit.\n\nThe recommended set of action groups to use is the following combination - this will audit all the queries and stored procedures executed against the database, as well as successful and failed logins:\n\nBATCH_COMPLETED_GROUP,\nSUCCESSFUL_DATABASE_AUTHENTICATION_GROUP,\nFAILED_DATABASE_AUTHENTICATION_GROUP.\n\nThis above combination is also the set that is configured by default when enabling auditing from the Azure portal.\n\nThe supported action groups to audit are (note: choose only specific groups that cover your auditing needs. Using unnecessary groups could lead to very large quantities of audit records):\n\nAPPLICATION_ROLE_CHANGE_PASSWORD_GROUP\nBACKUP_RESTORE_GROUP\nDATABASE_LOGOUT_GROUP\nDATABASE_OBJECT_CHANGE_GROUP\nDATABASE_OBJECT_OWNERSHIP_CHANGE_GROUP\nDATABASE_OBJECT_PERMISSION_CHANGE_GROUP\nDATABASE_OPERATION_GROUP\nDATABASE_PERMISSION_CHANGE_GROUP\nDATABASE_PRINCIPAL_CHANGE_GROUP\nDATABASE_PRINCIPAL_IMPERSONATION_GROUP\nDATABASE_ROLE_MEMBER_CHANGE_GROUP\nFAILED_DATABASE_AUTHENTICATION_GROUP\nSCHEMA_OBJECT_ACCESS_GROUP\nSCHEMA_OBJECT_CHANGE_GROUP\nSCHEMA_OBJECT_OWNERSHIP_CHANGE_GROUP\nSCHEMA_OBJECT_PERMISSION_CHANGE_GROUP\nSUCCESSFUL_DATABASE_AUTHENTICATION_GROUP\nUSER_CHANGE_PASSWORD_GROUP\nBATCH_STARTED_GROUP\nBATCH_COMPLETED_GROUP\nDBCC_GROUP\nDATABASE_OWNERSHIP_CHANGE_GROUP\nDATABASE_CHANGE_GROUP\nLEDGER_OPERATION_GROUP\n\nThese are groups that cover all sql statements and stored procedures executed against the database, and should not be used in combination with other groups as this will result in duplicate audit logs.\n\nFor more information, see [Database-Level Audit Action Groups](https://docs.microsoft.com/en-us/sql/relational-databases/security/auditing/sql-server-audit-action-groups-and-actions#database-level-audit-action-groups).\n\nFor Database auditing policy, specific Actions can also be specified (note that Actions cannot be specified for Server auditing policy). The supported actions to audit are:\nSELECT\nUPDATE\nINSERT\nDELETE\nEXECUTE\nRECEIVE\nREFERENCES\n\nThe general form for defining an action to be audited is:\n{action} ON {object} BY {principal}\n\nNote that <object> in the above format can refer to an object like a table, view, or stored procedure, or an entire database or schema. For the latter cases, the forms DATABASE::{db_name} and SCHEMA::{schema_name} are used, respectively.\n\nFor example:\nSELECT on dbo.myTable by public\nSELECT on DATABASE::myDatabase by public\nSELECT on SCHEMA::mySchema by public\n\nFor more information, see [Database-Level Audit Actions](https://docs.microsoft.com/en-us/sql/relational-databases/security/auditing/sql-server-audit-action-groups-and-actions#database-level-audit-actions)"
      }
    },
    "com.azure.sql#ExtendedDatabaseBlobAuditingPoliciesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the server."
          }
        },
        "databaseName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the database."
          }
        },
        "blobAuditingPolicyName": {
          "target": "com.azure.sql#ExtendedDatabaseBlobAuditingPoliciesCreateOrUpdateRequestBlobAuditingPolicyName",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the blob auditing policy."
          }
        },
        "properties": {
          "target": "com.azure.sql#ExtendedDatabaseBlobAuditingPolicyProperties",
          "traits": {
            "smithy.api#documentation": "Resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.sql#ExtendedDatabaseBlobAuditingPoliciesCreateOrUpdateRequestBlobAuditingPolicyName": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        }
      },
      "traits": {}
    },
    "com.azure.sql#ExtendedDatabaseBlobAuditingPoliciesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.sql#ExtendedDatabaseBlobAuditingPoliciesGetRequest"
      },
      "output": {
        "target": "com.azure.sql#ExtendedDatabaseBlobAuditingPoliciesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
[...]
