{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.storage#TableDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.storage#TableDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/tableServices/default/tables/{tableName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Deletes the table with the specified table name, under the specified account if it exists.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.storage#TableDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only."
          }
        },
        "tableName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A table name must be unique within a storage account and must be between 3 and 63 characters.The name must comprise of only alphanumeric characters and it cannot begin with a numeric character."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storage#TableUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.storage#TableUpdateRequest"
      },
      "output": {
        "target": "com.azure.storage#TableUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/tableServices/default/tables/{tableName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Creates a new table with the specified table name, under the specified account.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.storage#TableUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.storage#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.storage#TableProperties",
          "traits": {
            "smithy.api#documentation": "Table resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.storage#TableProperties": {
      "type": "structure",
      "members": {
        "tableName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Table name under the specified account"
          }
        },
        "signedIdentifiers": {
          "target": "com.azure.storage#TablePropertiesSignedIdentifiersList",
          "traits": {
            "smithy.api#documentation": "List of stored access policies specified on the table."
          }
        }
      },
      "traits": {}
    },
    "com.azure.storage#TablePropertiesSignedIdentifiersList": {
      "type": "list",
      "member": {
        "target": "com.azure.storage#TableSignedIdentifier"
      },
      "traits": {
        "smithy.api#documentation": "List of stored access policies specified on the table."
      }
    },
    "com.azure.storage#TableSignedIdentifier": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "unique-64-character-value of the stored access policy.",
            "smithy.api#required": {}
          }
        },
        "accessPolicy": {
          "target": "com.azure.storage#TableAccessPolicy",
          "traits": {
            "smithy.api#documentation": "Access policy"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Object to set Table Access Policy."
      }
    },
    "com.azure.storage#TableAccessPolicy": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time of the access policy"
          }
        },
        "expiryTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Expiry time of the access policy"
          }
        },
        "permission": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. List of abbreviated permissions. Supported permission values include 'r','a','u','d'",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Table Access Policy Properties Object."
      }
    },
    "com.azure.storage#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.storage#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.storage#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.storage#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.storage#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.storage#TableUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only."
          }
        },
        "tableName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A table name must be unique within a storage account and must be between 3 and 63 characters.The name must comprise of only alphanumeric characters and it cannot begin with a numeric character."
          }
        },
        "properties": {
          "target": "com.azure.storage#TablePropertiesInput",
          "traits": {
            "smithy.api#documentation": "Table resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storage#TablePropertiesInput": {
      "type": "structure",
      "members": {
        "signedIdentifiers": {
          "target": "com.azure.storage#TablePropertiesInputSignedIdentifiersList",
          "traits": {
            "smithy.api#documentation": "List of stored access policies specified on the table."
          }
        }
      },
      "traits": {}
    },
    "com.azure.storage#TablePropertiesInputSignedIdentifiersList": {
      "type": "list",
      "member": {
        "target": "com.azure.storage#TableSignedIdentifier"
      },
      "traits": {
        "smithy.api#documentation": "List of stored access policies specified on the table."
      }
    },
    "com.azure.storage#TableCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.storage#TableCreateRequest"
      },
      "output": {
        "target": "com.azure.storage#TableCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/tableServices/default/tables/{tableName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Creates a new table with the specified table name, under the specified account.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.storage#TableCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.storage#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.storage#TableProperties",
          "traits": {
            "smithy.api#documentation": "Table resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.storage#TableCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only."
          }
        },
        "tableName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A table name must be unique within a storage account and must be between 3 and 63 characters.The name must comprise of only alphanumeric characters and it cannot begin with a numeric character."
          }
        },
        "properties": {
          "target": "com.azure.storage#TablePropertiesInput",
          "traits": {
            "smithy.api#documentation": "Table resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storage#TableGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.storage#TableGetRequest"
      },
      "output": {
        "target": "com.azure.storage#TableGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/tableServices/default/tables/{tableName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Gets the table with the specified table name, under the specified account if it exists.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.storage#TableGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.storage#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.storage#TableProperties",
          "traits": {
            "smithy.api#documentation": "Table resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.storage#TableGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only."
          }
        },
        "tableName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A table name must be unique within a storage account and must be between 3 and 63 characters.The name must comprise of only alphanumeric characters and it cannot begin with a numeric character."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storage#TableList": {
      "type": "operation",
      "input": {
        "target": "com.azure.storage#TableListRequest"
      },
      "output": {
        "target": "com.azure.storage#ListTableResource"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/tableServices/default/tables",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Gets a list of all the tables under the specified storage account",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.storage#ListTableResource": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.storage#ListTableResourceValueList",
          "traits": {
            "smithy.api#documentation": "The Table items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response schema. Contains list of tables returned"
      }
    },
    "com.azure.storage#ListTableResourceValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.storage#Table"
      },
      "traits": {
        "smithy.api#documentation": "The Table items on this page"
      }
    },
    "com.azure.storage#Table": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.storage#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.storage#TableProperties",
          "traits": {
            "smithy.api#documentation": "Table resource properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the table, including Id, resource name, resource type."
      }
    },
    "com.azure.storage#TableListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storage#TableServicesSetServiceProperties": {
      "type": "operation",
      "input": {
        "target": "com.azure.storage#TableServicesSetServicePropertiesRequest"
      },
      "output": {
        "target": "com.azure.storage#TableServicesSetServicePropertiesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/tableServices/default",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Sets the properties of a storage account’s Table service, including properties for Storage Analytics and CORS (Cross-Origin Resource Sharing) rules.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.storage#TableServicesSetServicePropertiesResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.storage#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.storage#TableServicePropertiesProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a storage account’s Table service."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.storage#TableServicePropertiesProperties": {
      "type": "structure",
      "members": {
        "cors": {
          "target": "com.azure.storage#CorsRules",
          "traits": {
            "smithy.api#documentation": "Specifies CORS rules for the Table service. You can include up to five CorsRule elements in the request. If no CorsRule elements are included in the request body, all CORS rules will be deleted, and CORS will be disabled for the Table service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of a storage account’s Table service."
      }
    },
    "com.azure.storage#CorsRules": {
      "type": "structure",
      "members": {
        "corsRules": {
          "target": "com.azure.storage#CorsRulesCorsRulesList",
          "traits": {
            "smithy.api#documentation": "The List of CORS rules. You can include up to five CorsRule elements in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sets the CORS rules. You can include up to five CorsRule elements in the request."
      }
    },
    "com.azure.storage#CorsRulesCorsRulesList": {
      "type": "list",
      "member": {
        "target": "com.azure.storage#CorsRule"
      },
      "traits": {
        "smithy.api#documentation": "The List of CORS rules. You can include up to five CorsRule elements in the request."
      }
    },
    "com.azure.storage#CorsRule": {
      "type": "structure",
      "members": {
        "allowedOrigins": {
          "target": "com.azure.storage#CorsRuleAllowedOriginsList",
          "traits": {
            "smithy.api#documentation": "Required if CorsRule element is present. A list of origin domains that will be allowed via CORS, or \"*\" to allow all domains",
            "smithy.api#required": {}
          }
        },
        "allowedMethods": {
          "target": "com.azure.storage#CorsRuleAllowedMethodsList",
          "traits": {
            "smithy.api#documentation": "Required if CorsRule element is present. A list of HTTP methods that are allowed to be executed by the origin.",
            "smithy.api#required": {}
          }
        },
        "maxAgeInSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required if CorsRule element is present. The number of seconds that the client/browser should cache a preflight response.",
            "smithy.api#required": {}
          }
        },
        "exposedHeaders": {
          "target": "com.azure.storage#CorsRuleExposedHeadersList",
          "traits": {
            "smithy.api#documentation": "Required if CorsRule element is present. A list of response headers to expose to CORS clients.",
            "smithy.api#required": {}
          }
        },
        "allowedHeaders": {
          "target": "com.azure.storage#CorsRuleAllowedHeadersList",
          "traits": {
            "smithy.api#documentation": "Required if CorsRule element is present. A list of headers allowed to be part of the cross-origin request.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies a CORS rule for the Blob service."
      }
    },
    "com.azure.storage#CorsRuleAllowedHeadersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Required if CorsRule element is present. A list of headers allowed to be part of the cross-origin request."
      }
    },
    "com.azure.storage#CorsRuleExposedHeadersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Required if CorsRule element is present. A list of response headers to expose to CORS clients."
      }
    },
    "com.azure.storage#CorsRuleAllowedMethodsList": {
      "type": "list",
      "member": {
        "target": "com.azure.storage#AllowedMethods"
      },
      "traits": {
        "smithy.api#documentation": "Required if CorsRule element is present. A list of HTTP methods that are allowed to be executed by the origin."
      }
    },
    "com.azure.storage#AllowedMethods": {
      "type": "enum",
      "members": {
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "HEAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEAD"
          }
        },
        "MERGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERGE"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "OPTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIONS"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH"
          }
        },
        "CONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECT"
          }
        },
        "TRACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRACE"
          }
        }
      },
      "traits": {}
    },
    "com.azure.storage#CorsRuleAllowedOriginsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Required if CorsRule element is present. A list of origin domains that will be allowed via CORS, or \"*\" to allow all domains"
      }
    },
    "com.azure.storage#TableServicesSetServicePropertiesRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only."
          }
        },
        "properties": {
          "target": "com.azure.storage#TableServicePropertiesProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a storage account’s Table service."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storage#TableServicesGetServiceProperties": {
      "type": "operation",
      "input": {
        "target": "com.azure.storage#TableServicesGetServicePropertiesRequest"
      },
      "output": {
        "target": "com.azure.storage#TableServicesGetServicePropertiesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/tableServices/default",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Gets the properties of a storage account’s Table service, including properties for Storage Analytics and CORS (Cross-Origin Resource Sharing) rules.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.storage#TableServicesGetServicePropertiesResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.storage#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.storage#TableServicePropertiesProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a storage account’s Table service."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.storage#TableServicesGetServicePropertiesRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storage#TableServicesList": {
      "type": "operation",
      "input": {
        "target": "com.azure.storage#TableServicesListRequest"
      },
      "output": {
        "target": "com.azure.storage#ListTableServices"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/tableServices",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "List all table services for the storage account.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.storage#ListTableServices": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.storage#ListTableServicesValueList",
          "traits": {
            "smithy.api#documentation": "List of table services returned."
          }
        }
      },
      "traits": {}
    },
    "com.azure.storage#ListTableServicesValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.storage#TableServiceProperties"
      },
      "traits": {
        "smithy.api#documentation": "List of table services returned."
      }
    },
    "com.azure.storage#TableServiceProperties": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.storage#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.storage#TableServicePropertiesProperties",
          "traits": {
            "smithy.api#documentation": "The properties of a storage account’s Table service."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of a storage account’s Table service."
      }
    },
    "com.azure.storage#TableServicesListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storage#StorageTaskAssignmentsStopAssignment": {
      "type": "operation",
      "input": {
        "target": "com.azure.storage#StorageTaskAssignmentsStopAssignmentRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/storageTaskAssignments/{storageTaskAssignmentName}/stopAssignment",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Stops any active running storage action for the storage task assignment",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.storage#StorageTaskAssignmentsStopAssignmentRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only."
          }
        },
        "storageTaskAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the storage task assignment within the specified resource group. Storage task assignment names must be between 3 and 24 characters in length and use numbers and lower-case letters only."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storage#StorageTaskAssignmentInstancesReportList": {
      "type": "operation",
      "input": {
        "target": "com.azure.storage#StorageTaskAssignmentInstancesReportListRequest"
      },
      "output": {
        "target": "com.azure.storage#StorageTaskReportSummary"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/storageTaskAssignments/{storageTaskAssignmentName}/reports",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Fetch the report summary of a single storage task assignment's instances",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.storage#StorageTaskReportSummary": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.storage#StorageTaskReportSummaryValueList",
          "traits": {
            "smithy.api#documentation": "The StorageTaskReportInstance items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Fetch Storage Tasks Run Summary."
      }
    },
    "com.azure.storage#StorageTaskReportSummaryValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.storage#StorageTaskReportInstance"
      },
      "traits": {
        "smithy.api#documentation": "The StorageTaskReportInstance items on this page"
      }
    },
    "com.azure.storage#StorageTaskReportInstance": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.storage#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.storage#StorageTaskReportProperties",
          "traits": {
            "smithy.api#documentation": "Storage task execution report for a run instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Storage Tasks run report instance"
      }
    },
    "com.azure.storage#StorageTaskReportProperties": {
      "type": "structure",
      "members": {
        "taskAssignmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents the Storage Task Assignment Id associated with the storage task that provided an execution context."
          }
        },
        "storageAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents the Storage Account Id where the storage task definition was applied and executed."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time of the run instance. Filter options such as startTime gt '2023-06-26T20:51:24.4494016Z' and other comparison operators can be used as described for DateTime properties in https://learn.microsoft.com/rest/api/storageservices/querying-tables-and-entities#supported-comparison-operators"
          }
        },
        "finishTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time of the run instance. Filter options such as startTime gt '2023-06-26T20:51:24.4494016Z' and other comparison operators can be used as described for DateTime properties in https://learn.microsoft.com/rest/api/storageservices/querying-tables-and-entities#supported-comparison-operators"
          }
        },
        "objectsTargetedCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total number of objects that meet the condition as defined in the storage task assignment execution context. Filter options such as objectsTargetedCount gt 50 and other comparison operators can be used as described for Numerical properties in https://learn.microsoft.com/rest/api/storageservices/querying-tables-and-entities#supported-comparison-operators"
          }
        },
        "objectsOperatedOnCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total number of objects that meet the storage tasks condition and were operated upon. Filter options such as objectsOperatedOnCount ge 100 and other comparison operators can be used as described for Numerical properties in https://learn.microsoft.com/rest/api/storageservices/querying-tables-and-entities#supported-comparison-operators"
          }
        },
        "objectFailedCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total number of objects where task operation failed when was attempted. Filter options such as objectFailedCount eq 0 and other comparison operators can be used as described for Numerical properties in https://learn.microsoft.com/rest/api/storageservices/querying-tables-and-entities#supported-comparison-operators"
          }
        },
        "objectsSucceededCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total number of objects where task operation succeeded when was attempted.Filter options such as objectsSucceededCount gt 150 and other comparison operators can be used as described for Numerical properties in https://learn.microsoft.com/rest/api/storageservices/querying-tables-and-entities#supported-comparison-operators"
          }
        },
        "runStatusError": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Well known Azure Storage error code that represents the error encountered during execution of the run instance."
          }
        },
        "runStatusEnum": {
          "target": "com.azure.storage#RunStatusEnum",
          "traits": {
            "smithy.api#documentation": "Represents the status of the execution."
          }
        },
        "summaryReportPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full path to the verbose report stored in the reporting container as specified in the assignment execution context for the storage account."
          }
        },
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Storage Task Arm Id."
          }
        },
        "taskVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Storage Task Version"
          }
        },
        "runResult": {
          "target": "com.azure.storage#RunResult",
          "traits": {
            "smithy.api#documentation": "Represents the overall result of the execution for the run instance"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Storage task execution report for a run instance."
      }
    },
    "com.azure.storage#RunResult": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the overall result of the execution for the run instance"
      }
    },
    "com.azure.storage#RunStatusEnum": {
      "type": "enum",
      "members": {
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        },
        "FINISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Finished"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the status of the execution."
      }
    },
    "com.azure.storage#StorageTaskAssignmentInstancesReportListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only."
          }
        },
        "storageTaskAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the storage task assignment within the specified resource group. Storage task assignment names must be between 3 and 24 characters in length and use numbers and lower-case letters only."
          }
        },
        "_maxpagesize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$maxpagesize",
            "smithy.api#documentation": "Optional, specifies the maximum number of storage task assignment instances to be included in the list response."
          }
        },
        "_filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "$filter",
            "smithy.api#documentation": "Optional. When specified, it can be used to query using reporting properties. See [Constructing Filter Strings](https://learn.microsoft.com/rest/api/storageservices/querying-tables-and-entities#constructing-filter-strings) for details."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storage#StorageTaskAssignmentsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.storage#StorageTaskAssignmentsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/storageTaskAssignments/{storageTaskAssignmentName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Delete the storage task assignment sub-resource",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.storage#StorageTaskAssignmentsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only."
          }
        },
        "storageTaskAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the storage task assignment within the specified resource group. Storage task assignment names must be between 3 and 24 characters in length and use numbers and lower-case letters only."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storage#StorageTaskAssignmentsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.storage#StorageTaskAssignmentsUpdateRequest"
      },
      "output": {
        "target": "com.azure.storage#StorageTaskAssignmentsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/storageTaskAssignments/{storageTaskAssignmentName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Update storage task assignment properties",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.storage#StorageTaskAssignmentsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.storage#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.storage#StorageTaskAssignmentProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the storage task assignment."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.storage#StorageTaskAssignmentProperties": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the corresponding storage task",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the storage task assignment is enabled or not",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text that describes the purpose of the storage task assignment",
            "smithy.api#required": {}
          }
        },
        "executionContext": {
          "target": "com.azure.storage#StorageTaskAssignmentExecutionContext",
          "traits": {
            "smithy.api#documentation": "The storage task assignment execution context",
            "smithy.api#required": {}
          }
        },
        "report": {
          "target": "com.azure.storage#StorageTaskAssignmentReport",
          "traits": {
            "smithy.api#documentation": "The storage task assignment report",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.storage#StorageTaskAssignmentProvisioningState",
          "traits": {
            "smithy.api#documentation": "Represents the provisioning state of the storage task assignment."
          }
        },
        "runStatus": {
          "target": "com.azure.storage#StorageTaskReportProperties",
          "traits": {
            "smithy.api#documentation": "Run status of storage task assignment"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the storage task assignment."
      }
    },
    "com.azure.storage#StorageTaskAssignmentProvisioningState": {
      "type": "enum",
      "members": {
        "VALIDATESUBSCRIPTIONQUOTABEGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ValidateSubscriptionQuotaBegin"
          }
        },
        "VALIDATESUBSCRIPTIONQUOTAEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ValidateSubscriptionQuotaEnd"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accepted"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Gets the status of the storage account at the time the operation was called."
      }
    },
    "com.azure.storage#StorageTaskAssignmentReport": {
      "type": "structure",
      "members": {
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The container prefix for the location of storage task assignment report",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The storage task assignment report"
      }
    },
    "com.azure.storage#StorageTaskAssignmentExecutionContext": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.azure.storage#ExecutionTarget",
          "traits": {
            "smithy.api#documentation": "Execution target of the storage task assignment"
          }
        },
        "trigger": {
          "target": "com.azure.storage#ExecutionTrigger",
          "traits": {
            "smithy.api#documentation": "Execution trigger of the storage task assignment",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Execution context of the storage task assignment."
      }
    },
    "com.azure.storage#ExecutionTrigger": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.storage#TriggerType",
          "traits": {
            "smithy.api#documentation": "The trigger type of the storage task assignment execution",
            "smithy.api#required": {}
          }
        },
        "parameters": {
          "target": "com.azure.storage#TriggerParameters",
          "traits": {
            "smithy.api#documentation": "The trigger parameters of the storage task assignment execution",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Execution trigger for storage task assignment"
      }
    },
    "com.azure.storage#TriggerParameters": {
      "type": "structure",
      "members": {
        "startFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When to start task execution. This is a required field when ExecutionTrigger.properties.type is 'OnSchedule'; this property should not be present when ExecutionTrigger.properties.type is 'RunOnce'"
          }
        },
        "interval": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Run interval of task execution. This is a required field when ExecutionTrigger.properties.type is 'OnSchedule'; this property should not be present when ExecutionTrigger.properties.type is 'RunOnce'"
          }
        },
        "intervalUnit": {
          "target": "com.azure.storage#IntervalUnit",
          "traits": {
            "smithy.api#documentation": "Run interval unit of task execution. This is a required field when ExecutionTrigger.properties.type is 'OnSchedule'; this property should not be present when ExecutionTrigger.properties.type is 'RunOnce'"
          }
        },
        "endBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When to end task execution. This is a required field when ExecutionTrigger.properties.type is 'OnSchedule'; this property should not be present when ExecutionTrigger.properties.type is 'RunOnce'"
          }
        },
        "startOn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When to start task execution. This is a required field when ExecutionTrigger.properties.type is 'RunOnce'; this property should not be present when ExecutionTrigger.properties.type is 'OnSchedule'"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The trigger parameters update for the storage task assignment execution"
      }
    },
    "com.azure.storage#IntervalUnit": {
      "type": "enum",
      "members": {
        "DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Days"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Run interval unit of task execution. This is a required field when ExecutionTrigger.properties.type is 'OnSchedule'; this property should not be present when ExecutionTrigger.properties.type is 'RunOnce'"
      }
    },
    "com.azure.storage#TriggerType": {
      "type": "enum",
      "members": {
        "RUNONCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RunOnce"
          }
        },
        "ONSCHEDULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OnSchedule"
          }
        },
        "MOCKRUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MockRun"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The trigger type of the storage task assignment execution"
      }
    },
    "com.azure.storage#ExecutionTarget": {
      "type": "structure",
      "members": {
        "prefix": {
          "target": "com.azure.storage#ExecutionTargetPrefixList",
          "traits": {
            "smithy.api#documentation": "Required list of object prefixes to be included for task execution"
          }
        },
        "excludePrefix": {
          "target": "com.azure.storage#ExecutionTargetExcludePrefixList",
          "traits": {
            "smithy.api#documentation": "List of object prefixes to be excluded from task execution. If there is a conflict between include and exclude prefixes, the exclude prefix will be the determining factor"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Target helps provide filter parameters for the objects in the storage account and forms the execution context for the storage task"
      }
    },
    "com.azure.storage#ExecutionTargetExcludePrefixList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of object prefixes to be excluded from task execution. If there is a conflict between include and exclude prefixes, the exclude prefix will be the determining factor"
      }
    },
    "com.azure.storage#ExecutionTargetPrefixList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Required list of object prefixes to be included for task execution"
      }
    },
    "com.azure.storage#StorageTaskAssignmentsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only."
          }
        },
        "storageTaskAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the storage task assignment within the specified resource group. Storage task assignment names must be between 3 and 24 characters in length and use numbers and lower-case letters only."
          }
        },
        "properties": {
          "target": "com.azure.storage#StorageTaskAssignmentUpdatePropertiesInput",
          "traits": {
            "smithy.api#documentation": "Properties of the storage task assignment."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storage#StorageTaskAssignmentUpdatePropertiesInput": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the storage task assignment is enabled or not"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text that describes the purpose of the storage task assignment"
          }
        },
        "executionContext": {
          "target": "com.azure.storage#StorageTaskAssignmentUpdateExecutionContext",
          "traits": {
            "smithy.api#documentation": "The storage task assignment execution context"
          }
        },
        "report": {
          "target": "com.azure.storage#StorageTaskAssignmentUpdateReport",
          "traits": {
            "smithy.api#documentation": "The storage task assignment report"
          }
        },
        "runStatus": {
          "target": "com.azure.storage#StorageTaskReportPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Run status of storage task assignment"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the storage task update assignment."
      }
    },
    "com.azure.storage#StorageTaskReportPropertiesInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Storage task execution report for a run instance."
      }
    },
    "com.azure.storage#StorageTaskAssignmentUpdateReport": {
      "type": "structure",
      "members": {
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The prefix of the storage task assignment report"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The storage task assignment report"
      }
    },
    "com.azure.storage#StorageTaskAssignmentUpdateExecutionContext": {
      "type": "structure",
      "members": {
        "target": {
          "target": "com.azure.storage#ExecutionTarget",
          "traits": {
            "smithy.api#documentation": "Execution target of the storage task assignment"
          }
        },
        "trigger": {
          "target": "com.azure.storage#ExecutionTriggerUpdate",
          "traits": {
            "smithy.api#documentation": "Execution trigger of the storage task assignment"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Execution context of the storage task assignment update."
      }
    },
    "com.azure.storage#ExecutionTriggerUpdate": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.storage#TriggerType",
          "traits": {
            "smithy.api#documentation": "The trigger type of the storage task assignment execution"
          }
        },
        "parameters": {
          "target": "com.azure.storage#TriggerParametersUpdate",
          "traits": {
            "smithy.api#documentation": "The trigger parameters of the storage task assignment execution"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Execution trigger update for storage task assignment"
      }
    },
    "com.azure.storage#TriggerParametersUpdate": {
      "type": "structure",
      "members": {
        "startFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When to start task execution. This is a mutable field when ExecutionTrigger.properties.type is 'OnSchedule'; this property should not be present when ExecutionTrigger.properties.type is 'RunOnce'"
          }
        },
        "interval": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Run interval of task execution. This is a mutable field when ExecutionTrigger.properties.type is 'OnSchedule'; this property should not be present when ExecutionTrigger.properties.type is 'RunOnce'"
          }
        },
        "intervalUnit": {
          "target": "com.azure.storage#IntervalUnit",
          "traits": {
            "smithy.api#documentation": "Run interval unit of task execution. This is a mutable field when ExecutionTrigger.properties.type is 'OnSchedule'; this property should not be present when ExecutionTrigger.properties.type is 'RunOnce'"
          }
        },
        "endBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When to end task execution. This is a mutable field when ExecutionTrigger.properties.type is 'OnSchedule'; this property should not be present when ExecutionTrigger.properties.type is 'RunOnce'"
          }
        },
        "startOn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When to start task execution. This is a mutable field when ExecutionTrigger.properties.type is 'RunOnce'; this property should not be present when ExecutionTrigger.properties.type is 'OnSchedule'"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The trigger parameters update for the storage task assignment execution"
      }
    },
    "com.azure.storage#StorageTaskAssignmentsCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.storage#StorageTaskAssignmentsCreateRequest"
      },
      "output": {
        "target": "com.azure.storage#StorageTaskAssignmentsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/storageTaskAssignments/{storageTaskAssignmentName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Asynchronously creates a new storage task assignment sub-resource with the specified parameters. If a storage task assignment is already created and a subsequent create request is issued with different properties, the storage task assignment properties will be updated. If a storage task assignment is already created and a subsequent create or update request is issued with the exact same set of properties, the request will succeed.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.storage#StorageTaskAssignmentsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.storage#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.storage#StorageTaskAssignmentProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the storage task assignment."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.storage#StorageTaskAssignmentsCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only."
          }
        },
        "storageTaskAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the storage task assignment within the specified resource group. Storage task assignment names must be between 3 and 24 characters in length and use numbers and lower-case letters only."
          }
        },
        "properties": {
          "target": "com.azure.storage#StorageTaskAssignmentPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Properties of the storage task assignment."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storage#StorageTaskAssignmentPropertiesInput": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the corresponding storage task",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the storage task assignment is enabled or not",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text that describes the purpose of the storage task assignment",
            "smithy.api#required": {}
          }
        },
        "executionContext": {
          "target": "com.azure.storage#StorageTaskAssignmentExecutionContext",
          "traits": {
            "smithy.api#documentation": "The storage task assignment execution context",
            "smithy.api#required": {}
          }
        },
        "report": {
          "target": "com.azure.storage#StorageTaskAssignmentReport",
          "traits": {
            "smithy.api#documentation": "The storage task assignment report",
            "smithy.api#required": {}
          }
        },
        "runStatus": {
          "target": "com.azure.storage#StorageTaskReportPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Run status of storage task assignment"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the storage task assignment."
      }
    },
    "com.azure.storage#StorageTaskAssignmentsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.storage#StorageTaskAssignmentsGetRequest"
      },
      "output": {
        "target": "com.azure.storage#StorageTaskAssignmentsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/storageTaskAssignments/{storageTaskAssignmentName}",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Get the storage task assignment properties",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.storage#StorageTaskAssignmentsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.storage#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.storage#StorageTaskAssignmentProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the storage task assignment."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.storage#StorageTaskAssignmentsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only."
          }
        },
        "storageTaskAssignmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the storage task assignment within the specified resource group. Storage task assignment names must be between 3 and 24 characters in length and use numbers and lower-case letters only."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storage#StorageTaskAssignmentsList2": {
      "type": "operation",
      "input": {
        "target": "com.azure.storage#StorageTaskAssignmentsListRequest"
      },
      "output": {
        "target": "com.azure.storage#StorageTaskAssignmentsList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/storageTaskAssignments",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "List all the storage task assignments in an account",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.storage#StorageTaskAssignmentsList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.storage#StorageTaskAssignmentsListValueList",
          "traits": {
            "smithy.api#documentation": "The StorageTaskAssignment items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of storage task assignments for the storage account"
      }
    },
    "com.azure.storage#StorageTaskAssignmentsListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.storage#StorageTaskAssignment"
      },
      "traits": {
        "smithy.api#documentation": "The StorageTaskAssignment items on this page"
      }
    },
    "com.azure.storage#StorageTaskAssignment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.storage#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.storage#StorageTaskAssignmentProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the storage task assignment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The storage task assignment."
      }
    },
    "com.azure.storage#StorageTaskAssignmentsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only."
          }
        },
        "_top": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "$top",
            "smithy.api#documentation": "Optional, specifies the maximum number of storage task assignment Ids to be included in the list response."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storage#StorageAccountsCustomerInitiatedMigration": {
      "type": "operation",
      "input": {
        "target": "com.azure.storage#StorageAccountsCustomerInitiatedMigrationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/startAccountMigration",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Account Migration request can be triggered for a storage account to change its redundancy level. The migration updates the non-zonal redundant storage account to a zonal redundant account or vice-versa in order to have better reliability and availability. Zone-redundant storage (ZRS) replicates your storage account synchronously across three Azure availability zones in the primary region.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.storage#StorageAccountsCustomerInitiatedMigrationRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only."
          }
        },
        "properties": {
          "target": "com.azure.storage#StorageAccountMigrationPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The properties of a storage account’s ongoing or enqueued migration.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storage#StorageAccountMigrationPropertiesInput": {
      "type": "structure",
      "members": {
        "targetSkuName": {
          "target": "com.azure.storage#SkuName",
          "traits": {
            "smithy.api#documentation": "Target sku name for the account",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of a storage account's ongoing or enqueued migration."
      }
    },
    "com.azure.storage#SkuName": {
      "type": "enum",
      "members": {
        "STANDARD_LRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_LRS"
          }
        },
        "STANDARD_GRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_GRS"
          }
        },
        "STANDARD_RAGRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_RAGRS"
          }
        },
        "STANDARD_ZRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_ZRS"
          }
        },
        "PREMIUM_LRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Premium_LRS"
          }
        },
        "PREMIUM_ZRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Premium_ZRS"
          }
        },
        "STANDARD_GZRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_GZRS"
          }
        },
        "STANDARD_RAGZRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard_RAGZRS"
          }
        },
        "STANDARDV2_LRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "StandardV2_LRS"
          }
        },
        "STANDARDV2_GRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "StandardV2_GRS"
          }
        },
        "STANDARDV2_ZRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "StandardV2_ZRS"
          }
        },
        "STANDARDV2_GZRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "StandardV2_GZRS"
          }
        },
        "PREMIUMV2_LRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PremiumV2_LRS"
          }
        },
        "PREMIUMV2_ZRS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PremiumV2_ZRS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The SKU name. Required for account creation; optional for update. Note that in older versions, SKU name was called accountType."
      }
    },
    "com.azure.storage#StorageAccountsRevokeUserDelegationKeys": {
      "type": "operation",
      "input": {
        "target": "com.azure.storage#StorageAccountsRevokeUserDelegationKeysRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/revokeUserDelegationKeys",
          "code": 200,
          "apiVersion": "2026-04-01"
        },
        "smithy.api#documentation": "Revoke user delegation keys.",
        "com.distilled.openapi#apiVersion": "2026-04-01"
      }
    },
    "com.azure.storage#StorageAccountsRevokeUserDelegationKeysRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "accountName": {
          "target": "smithy.api#String",
          "traits": {
[...]
