{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.storagemover#JobDefinitionsStopJob": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagemover#JobDefinitionsStopJobRequest"
      },
      "output": {
        "target": "com.azure.storagemover#JobRunResourceId"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageMover/storageMovers/{storageMoverName}/projects/{projectName}/jobDefinitions/{jobDefinitionName}/stopJob",
          "code": 200,
          "apiVersion": "2025-12-01"
        },
        "smithy.api#documentation": "Requests the Agent of any active instance of this Job Definition to stop.",
        "com.distilled.openapi#apiVersion": "2025-12-01"
      }
    },
    "com.azure.storagemover#JobRunResourceId": {
      "type": "structure",
      "members": {
        "jobRunResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource id of the Job Run."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response that identifies a Job Run."
      }
    },
    "com.azure.storagemover#JobDefinitionsStopJobRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "storageMoverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Storage Mover resource."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Project resource."
          }
        },
        "jobDefinitionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Job Definition resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagemover#JobDefinitionsStartJob": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagemover#JobDefinitionsStartJobRequest"
      },
      "output": {
        "target": "com.azure.storagemover#JobRunResourceId"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageMover/storageMovers/{storageMoverName}/projects/{projectName}/jobDefinitions/{jobDefinitionName}/startJob",
          "code": 200,
          "apiVersion": "2025-12-01"
        },
        "smithy.api#documentation": "Creates a new Job Run resource for the specified Job Definition and passes it to the Agent for execution.",
        "com.distilled.openapi#apiVersion": "2025-12-01"
      }
    },
    "com.azure.storagemover#JobDefinitionsStartJobRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "storageMoverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Storage Mover resource."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Project resource."
          }
        },
        "jobDefinitionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Job Definition resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagemover#JobRunsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagemover#JobRunsGetRequest"
      },
      "output": {
        "target": "com.azure.storagemover#JobRunsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageMover/storageMovers/{storageMoverName}/projects/{projectName}/jobDefinitions/{jobDefinitionName}/jobRuns/{jobRunName}",
          "code": 200,
          "apiVersion": "2025-12-01"
        },
        "smithy.api#documentation": "Gets a Job Run resource.",
        "com.distilled.openapi#apiVersion": "2025-12-01"
      }
    },
    "com.azure.storagemover#JobRunsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.storagemover#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.storagemover#JobRunProperties",
          "traits": {
            "smithy.api#documentation": "Job run properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.storagemover#JobRunProperties": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.storagemover#JobRunStatus",
          "traits": {
            "smithy.api#documentation": "The state of the job execution."
          }
        },
        "scanStatus": {
          "target": "com.azure.storagemover#JobRunScanStatus",
          "traits": {
            "smithy.api#documentation": "The status of Agent's scanning of source."
          }
        },
        "agentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Agent assigned to this run."
          }
        },
        "agentResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource id of the Agent assigned to this run."
          }
        },
        "executionStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time of the run. Null if no Agent reported that the job has started."
          }
        },
        "executionEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time of the run. Null if Agent has not reported that the job has ended."
          }
        },
        "triggerType": {
          "target": "com.azure.storagemover#JobRunPropertiesTriggerType",
          "traits": {
            "smithy.api#documentation": "Trigger type for the job run. Default is manual."
          }
        },
        "scheduledExecutionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scheduled execution time. Null if Trigger type is manual."
          }
        },
        "lastStatusUpdate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last updated time of the Job Run."
          }
        },
        "itemsScanned": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of items scanned so far in source."
          }
        },
        "itemsExcluded": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of items that will not be transferred, as they are excluded by user configuration."
          }
        },
        "itemsUnsupported": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of items that will not be transferred, as they are unsupported on target."
          }
        },
        "itemsNoTransferNeeded": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of items that will not be transferred, as they are already found on target (e.g. mirror mode)."
          }
        },
        "itemsFailed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of items that were attempted to transfer and failed."
          }
        },
        "itemsTransferred": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of items successfully transferred to target."
          }
        },
        "bytesScanned": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Bytes of data scanned so far in source."
          }
        },
        "bytesExcluded": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Bytes of data that will not be transferred, as they are excluded by user configuration."
          }
        },
        "bytesUnsupported": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Bytes of data that will not be transferred, as they are unsupported on target."
          }
        },
        "bytesNoTransferNeeded": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Bytes of data that will not be transferred, as they are already found on target (e.g. mirror mode)."
          }
        },
        "bytesFailed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Bytes of data that were attempted to transfer and failed."
          }
        },
        "bytesTransferred": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Bytes of data successfully transferred to target."
          }
        },
        "sourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of source Endpoint resource. This resource may no longer exist."
          }
        },
        "sourceResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource id of source Endpoint. This id may no longer exist."
          }
        },
        "sourceProperties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Copy of source Endpoint resource's properties at time of Job Run creation."
          }
        },
        "targetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of target Endpoint resource. This resource may no longer exist."
          }
        },
        "targetResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource id of of Endpoint. This id may no longer exist."
          }
        },
        "targetProperties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Copy of Endpoint resource's properties at time of Job Run creation."
          }
        },
        "jobDefinitionProperties": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Copy of parent Job Definition's properties at time of Job Run creation."
          }
        },
        "error": {
          "target": "com.azure.storagemover#JobRunError",
          "traits": {
            "smithy.api#documentation": "Error details."
          }
        },
        "warnings": {
          "target": "com.azure.storagemover#JobRunPropertiesWarningsList",
          "traits": {
            "smithy.api#documentation": "Warning details."
          }
        },
        "provisioningState": {
          "target": "com.azure.storagemover#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Job run properties."
      }
    },
    "com.azure.storagemover#ProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The provisioning state of a resource."
      }
    },
    "com.azure.storagemover#JobRunPropertiesWarningsList": {
      "type": "list",
      "member": {
        "target": "com.azure.storagemover#JobRunWarning"
      },
      "traits": {
        "smithy.api#documentation": "Warning details."
      }
    },
    "com.azure.storagemover#JobRunWarning": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error code of the given entry."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Warning message of the given entry."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target of the given error entry."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Warning type"
      }
    },
    "com.azure.storagemover#JobRunError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error code of the given entry."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message of the given entry."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target of the given error entry."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error type"
      }
    },
    "com.azure.storagemover#JobRunPropertiesTriggerType": {
      "type": "enum",
      "members": {
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Manual"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Scheduled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Trigger type for the job run. Default is manual."
      }
    },
    "com.azure.storagemover#JobRunScanStatus": {
      "type": "enum",
      "members": {
        "NOTSTARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotStarted"
          }
        },
        "SCANNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Scanning"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Completed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of Agent's scanning of source."
      }
    },
    "com.azure.storagemover#JobRunStatus": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Queued"
          }
        },
        "STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Started"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "CANCELREQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CancelRequested"
          }
        },
        "CANCELING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceling"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "PAUSEDBYBANDWIDTHMANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PausedByBandwidthManagement"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current status of the Job Run in a non-terminal state, if exists."
      }
    },
    "com.azure.storagemover#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.storagemover#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.storagemover#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.storagemover#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.storagemover#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.storagemover#JobRunsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "storageMoverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Storage Mover resource."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Project resource."
          }
        },
        "jobDefinitionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Job Definition resource."
          }
        },
        "jobRunName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Job Run resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagemover#JobRunsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagemover#JobRunsListRequest"
      },
      "output": {
        "target": "com.azure.storagemover#JobRunList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageMover/storageMovers/{storageMoverName}/projects/{projectName}/jobDefinitions/{jobDefinitionName}/jobRuns",
          "code": 200,
          "apiVersion": "2025-12-01"
        },
        "smithy.api#documentation": "Lists all Job Runs in a Job Definition.",
        "com.distilled.openapi#apiVersion": "2025-12-01"
      }
    },
    "com.azure.storagemover#JobRunList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.storagemover#JobRunListValueList",
          "traits": {
            "smithy.api#documentation": "The JobRun items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of Job Runs."
      }
    },
    "com.azure.storagemover#JobRunListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.storagemover#JobRun"
      },
      "traits": {
        "smithy.api#documentation": "The JobRun items on this page"
      }
    },
    "com.azure.storagemover#JobRun": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.storagemover#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.storagemover#JobRunProperties",
          "traits": {
            "smithy.api#documentation": "Job run properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Job Run resource."
      }
    },
    "com.azure.storagemover#JobRunsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "storageMoverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Storage Mover resource."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Project resource."
          }
        },
        "jobDefinitionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Job Definition resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagemover#JobDefinitionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagemover#JobDefinitionsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageMover/storageMovers/{storageMoverName}/projects/{projectName}/jobDefinitions/{jobDefinitionName}",
          "code": 200,
          "apiVersion": "2025-12-01"
        },
        "smithy.api#documentation": "Deletes a Job Definition resource.",
        "com.distilled.openapi#apiVersion": "2025-12-01"
      }
    },
    "com.azure.storagemover#JobDefinitionsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "storageMoverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Storage Mover resource."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Project resource."
          }
        },
        "jobDefinitionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Job Definition resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagemover#JobDefinitionsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagemover#JobDefinitionsUpdateRequest"
      },
      "output": {
        "target": "com.azure.storagemover#JobDefinitionsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageMover/storageMovers/{storageMoverName}/projects/{projectName}/jobDefinitions/{jobDefinitionName}",
          "code": 200,
          "apiVersion": "2025-12-01"
        },
        "smithy.api#documentation": "Updates properties for a Job Definition resource. Properties not specified in the request body will be unchanged.",
        "com.distilled.openapi#apiVersion": "2025-12-01"
      }
    },
    "com.azure.storagemover#JobDefinitionsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.storagemover#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.storagemover#JobDefinitionProperties",
          "traits": {
            "smithy.api#documentation": "Job definition properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.storagemover#JobDefinitionProperties": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description for the Job Definition. OnPremToCloud is for migrating data from on-premises to cloud. CloudToCloud is for migrating data between cloud to cloud."
          }
        },
        "jobType": {
          "target": "com.azure.storagemover#JobDefinitionPropertiesJobType",
          "traits": {
            "smithy.api#documentation": "The type of the Job."
          }
        },
        "copyMode": {
          "target": "com.azure.storagemover#CopyMode",
          "traits": {
            "smithy.api#documentation": "Strategy to use for copy.",
            "smithy.api#required": {}
          }
        },
        "sourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the source Endpoint.",
            "smithy.api#required": {}
          }
        },
        "sourceResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID of the source Endpoint."
          }
        },
        "sourceSubpath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subpath to use when reading from the source Endpoint."
          }
        },
        "targetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the target Endpoint.",
            "smithy.api#required": {}
          }
        },
        "targetResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID of the target Endpoint."
          }
        },
        "targetSubpath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subpath to use when writing to the target Endpoint."
          }
        },
        "latestJobRunName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Job Run in a non-terminal state, if exists."
          }
        },
        "latestJobRunResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified resource ID of the Job Run in a non-terminal state, if exists."
          }
        },
        "latestJobRunStatus": {
          "target": "com.azure.storagemover#JobRunStatus",
          "traits": {
            "smithy.api#documentation": "The current status of the Job Run in a non-terminal state, if exists."
          }
        },
        "agentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Agent to assign for new Job Runs of this Job Definition."
          }
        },
        "agentResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource id of the Agent to assign for new Job Runs of this Job Definition."
          }
        },
        "sourceTargetMap": {
          "target": "com.azure.storagemover#JobDefinitionPropertiesSourceTargetMap",
          "traits": {
            "smithy.api#documentation": "The list of cloud endpoints to migrate."
          }
        },
        "provisioningState": {
          "target": "com.azure.storagemover#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of this resource."
          }
        },
        "connections": {
          "target": "com.azure.storagemover#JobDefinitionPropertiesConnectionsList",
          "traits": {
            "smithy.api#documentation": "List of connections associated to this job"
          }
        },
        "schedule": {
          "target": "com.azure.storagemover#ScheduleInfo",
          "traits": {
            "smithy.api#documentation": "Schedule information for the Job Definition."
          }
        },
        "dataIntegrityValidation": {
          "target": "com.azure.storagemover#JobDefinitionPropertiesDataIntegrityValidation",
          "traits": {
            "smithy.api#documentation": "The checksum validation mode for the job definition."
          }
        },
        "preservePermissions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Boolean to preserve permissions or not."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Job definition properties."
      }
    },
    "com.azure.storagemover#JobDefinitionPropertiesDataIntegrityValidation": {
      "type": "enum",
      "members": {
        "SAVEVERIFYFILEMD5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SaveVerifyFileMD5"
          }
        },
        "SAVEFILEMD5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SaveFileMD5"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The checksum validation mode for the job definition."
      }
    },
    "com.azure.storagemover#ScheduleInfo": {
      "type": "structure",
      "members": {
        "frequency": {
          "target": "com.azure.storagemover#Frequency",
          "traits": {
            "smithy.api#documentation": "Type of schedule — Monthly, Weekly, or Daily"
          }
        },
        "isActive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the schedule is currently active"
          }
        },
        "executionTime": {
          "target": "com.azure.storagemover#SchedulerTime",
          "traits": {
            "smithy.api#documentation": "Time of day to execute (hours and minutes)"
          }
        },
        "startDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specific one-time execution date and time"
          }
        },
        "daysOfWeek": {
          "target": "com.azure.storagemover#ScheduleInfoDaysOfWeekList",
          "traits": {
            "smithy.api#documentation": "Days of the week for weekly schedules"
          }
        },
        "daysOfMonth": {
          "target": "com.azure.storagemover#ScheduleInfoDaysOfMonthList",
          "traits": {
            "smithy.api#documentation": "Days of the month for monthly schedules"
          }
        },
        "cronExpression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional CRON expression for advanced scheduling"
          }
        },
        "endDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time of the schedule (in UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Schedule information for the Job Definition."
      }
    },
    "com.azure.storagemover#ScheduleInfoDaysOfMonthList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Days of the month for monthly schedules"
      }
    },
    "com.azure.storagemover#ScheduleInfoDaysOfWeekList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Days of the week for weekly schedules"
      }
    },
    "com.azure.storagemover#SchedulerTime": {
      "type": "structure",
      "members": {
        "hour": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The hour element of the time. Allowed values range from 0 (start of the selected day) to 24 (end of the selected day). Hour value 24 cannot be combined with any other minute value but 0."
          }
        },
        "minute": {
          "target": "com.azure.storagemover#SchedulerTimeMinute",
          "traits": {
            "smithy.api#documentation": "The minute element of the time. Allowed values are 0 and 30. If not specified, its value defaults to 0."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The time of day."
      }
    },
    "com.azure.storagemover#SchedulerTimeMinute": {
      "type": "intEnum",
      "members": {
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 0
          }
        },
        "_30": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 30
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The minute element of the time. Allowed values are 0 and 30. If not specified, its value defaults to 0."
      }
    },
    "com.azure.storagemover#Frequency": {
      "type": "enum",
      "members": {
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Monthly"
          }
        },
        "WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Weekly"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Daily"
          }
        },
        "ONETIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Onetime"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of schedule — Monthly, Weekly, or Daily"
      }
    },
    "com.azure.storagemover#JobDefinitionPropertiesConnectionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of connections associated to this job"
      }
    },
    "com.azure.storagemover#JobDefinitionPropertiesSourceTargetMap": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.storagemover#JobDefinitionPropertiesSourceTargetMapValueList"
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of cloud endpoints to migrate."
      }
    },
    "com.azure.storagemover#JobDefinitionPropertiesSourceTargetMapValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.storagemover#SourceTargetMap"
      },
      "traits": {}
    },
    "com.azure.storagemover#SourceTargetMap": {
      "type": "structure",
      "members": {
        "sourceEndpoint": {
          "target": "com.azure.storagemover#SourceEndpoint",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "targetEndpoint": {
          "target": "com.azure.storagemover#TargetEndpoint",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of cloud endpoints to migrate."
      }
    },
    "com.azure.storagemover#TargetEndpoint": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.azure.storagemover#TargetEndpointProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the cloud target endpoint to migrate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The target endpoint resource for source and target mapping."
      }
    },
    "com.azure.storagemover#TargetEndpointProperties": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the cloud target endpoint to migrate."
          }
        },
        "targetEndpointResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified ARM resource ID of the cloud target endpoint to migrate."
          }
        },
        "azureStorageAccountResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified ARM resource ID of the Azure Storage account."
          }
        },
        "azureStorageBlobContainerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Azure Storage blob container."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the cloud target endpoint to migrate."
      }
    },
    "com.azure.storagemover#SourceEndpoint": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.azure.storagemover#SourceEndpointProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the cloud source endpoint to migrate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The source endpoint resource for source and target mapping."
      }
    },
    "com.azure.storagemover#SourceEndpointProperties": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the cloud source endpoint to migrate."
          }
        },
        "sourceEndpointResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified ARM resource ID of the cloud source endpoint to migrate."
          }
        },
        "awsS3BucketId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified ARM resource ID of the AWS S3 bucket to migrate."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The properties of the cloud source endpoint to migrate."
      }
    },
    "com.azure.storagemover#CopyMode": {
      "type": "enum",
      "members": {
        "ADDITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Additive"
          }
        },
        "MIRROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Mirror"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Strategy to use for copy."
      }
    },
    "com.azure.storagemover#JobDefinitionPropertiesJobType": {
      "type": "enum",
      "members": {
        "ONPREMTOCLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OnPremToCloud"
          }
        },
        "CLOUDTOCLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CloudToCloud"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the Job."
      }
    },
    "com.azure.storagemover#JobDefinitionsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "storageMoverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Storage Mover resource."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Project resource."
          }
        },
        "jobDefinitionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Job Definition resource."
          }
        },
        "properties": {
          "target": "com.azure.storagemover#JobDefinitionUpdateProperties",
          "traits": {
            "smithy.api#documentation": "Job definition properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagemover#JobDefinitionUpdateProperties": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description for the Job Definition."
          }
        },
        "copyMode": {
          "target": "com.azure.storagemover#CopyMode",
          "traits": {
            "smithy.api#documentation": "Strategy to use for copy."
          }
        },
        "agentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Agent to assign for new Job Runs of this Job Definition."
          }
        },
        "connections": {
          "target": "com.azure.storagemover#JobDefinitionUpdatePropertiesConnectionsList",
          "traits": {
            "smithy.api#documentation": "List of connections associated to this job"
          }
        },
        "dataIntegrityValidation": {
          "target": "com.azure.storagemover#DataIntegrityValidation",
          "traits": {
            "smithy.api#documentation": "Data Integrity Validation mode."
          }
        },
        "schedule": {
          "target": "com.azure.storagemover#ScheduleInfo",
          "traits": {
            "smithy.api#documentation": "Schedule information for the Job Definition."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Job definition properties."
      }
    },
    "com.azure.storagemover#DataIntegrityValidation": {
      "type": "enum",
      "members": {
        "SAVEVERIFYFILEMD5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SaveVerifyFileMD5"
          }
        },
        "SAVEFILEMD5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SaveFileMD5"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Data integrity validation mode."
      }
    },
    "com.azure.storagemover#JobDefinitionUpdatePropertiesConnectionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of connections associated to this job"
      }
    },
    "com.azure.storagemover#JobDefinitionsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagemover#JobDefinitionsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.storagemover#JobDefinitionsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageMover/storageMovers/{storageMoverName}/projects/{projectName}/jobDefinitions/{jobDefinitionName}",
          "code": 200,
          "apiVersion": "2025-12-01"
        },
        "smithy.api#documentation": "Creates or updates a Job Definition resource, which contains configuration for a single unit of managed data transfer.",
        "com.distilled.openapi#apiVersion": "2025-12-01"
      }
    },
    "com.azure.storagemover#JobDefinitionsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.storagemover#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.storagemover#JobDefinitionProperties",
          "traits": {
            "smithy.api#documentation": "Job definition properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.storagemover#JobDefinitionsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "storageMoverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Storage Mover resource."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Project resource."
          }
        },
        "jobDefinitionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Job Definition resource."
          }
        },
        "properties": {
          "target": "com.azure.storagemover#JobDefinitionPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Job definition properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagemover#JobDefinitionPropertiesInput": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description for the Job Definition. OnPremToCloud is for migrating data from on-premises to cloud. CloudToCloud is for migrating data between cloud to cloud."
          }
        },
        "jobType": {
          "target": "com.azure.storagemover#JobDefinitionPropertiesInputJobType",
          "traits": {
            "smithy.api#documentation": "The type of the Job."
          }
        },
        "copyMode": {
          "target": "com.azure.storagemover#CopyMode",
          "traits": {
            "smithy.api#documentation": "Strategy to use for copy.",
            "smithy.api#required": {}
          }
        },
        "sourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the source Endpoint.",
            "smithy.api#required": {}
          }
        },
        "sourceSubpath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subpath to use when reading from the source Endpoint."
          }
        },
        "targetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the target Endpoint.",
            "smithy.api#required": {}
          }
        },
        "targetSubpath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subpath to use when writing to the target Endpoint."
          }
        },
        "agentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Agent to assign for new Job Runs of this Job Definition."
          }
        },
        "sourceTargetMap": {
          "target": "com.azure.storagemover#JobDefinitionPropertiesInputSourceTargetMap",
          "traits": {
            "smithy.api#documentation": "The list of cloud endpoints to migrate."
          }
        },
        "connections": {
          "target": "com.azure.storagemover#JobDefinitionPropertiesInputConnectionsList",
          "traits": {
            "smithy.api#documentation": "List of connections associated to this job"
          }
        },
        "schedule": {
          "target": "com.azure.storagemover#ScheduleInfo",
          "traits": {
            "smithy.api#documentation": "Schedule information for the Job Definition."
          }
        },
        "dataIntegrityValidation": {
          "target": "com.azure.storagemover#JobDefinitionPropertiesInputDataIntegrityValidation",
          "traits": {
            "smithy.api#documentation": "The checksum validation mode for the job definition."
          }
        },
        "preservePermissions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Boolean to preserve permissions or not."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Job definition properties."
      }
    },
    "com.azure.storagemover#JobDefinitionPropertiesInputDataIntegrityValidation": {
      "type": "enum",
      "members": {
        "SAVEVERIFYFILEMD5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SaveVerifyFileMD5"
          }
        },
        "SAVEFILEMD5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SaveFileMD5"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The checksum validation mode for the job definition."
      }
    },
    "com.azure.storagemover#JobDefinitionPropertiesInputConnectionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of connections associated to this job"
      }
    },
    "com.azure.storagemover#JobDefinitionPropertiesInputSourceTargetMap": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The list of cloud endpoints to migrate."
      }
    },
    "com.azure.storagemover#JobDefinitionPropertiesInputJobType": {
      "type": "enum",
      "members": {
        "ONPREMTOCLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OnPremToCloud"
          }
        },
        "CLOUDTOCLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CloudToCloud"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the Job."
      }
    },
    "com.azure.storagemover#JobDefinitionsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagemover#JobDefinitionsGetRequest"
      },
      "output": {
        "target": "com.azure.storagemover#JobDefinitionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageMover/storageMovers/{storageMoverName}/projects/{projectName}/jobDefinitions/{jobDefinitionName}",
          "code": 200,
          "apiVersion": "2025-12-01"
        },
        "smithy.api#documentation": "Gets a Job Definition resource.",
        "com.distilled.openapi#apiVersion": "2025-12-01"
      }
    },
    "com.azure.storagemover#JobDefinitionsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.storagemover#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.storagemover#JobDefinitionProperties",
          "traits": {
            "smithy.api#documentation": "Job definition properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.storagemover#JobDefinitionsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "storageMoverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Storage Mover resource."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Project resource."
          }
        },
        "jobDefinitionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Job Definition resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagemover#JobDefinitionsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagemover#JobDefinitionsListRequest"
      },
      "output": {
        "target": "com.azure.storagemover#JobDefinitionList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageMover/storageMovers/{storageMoverName}/projects/{projectName}/jobDefinitions",
          "code": 200,
          "apiVersion": "2025-12-01"
        },
        "smithy.api#documentation": "Lists all Job Definitions in a Project.",
        "com.distilled.openapi#apiVersion": "2025-12-01"
      }
    },
    "com.azure.storagemover#JobDefinitionList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.storagemover#JobDefinitionListValueList",
          "traits": {
            "smithy.api#documentation": "The JobDefinition items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of Job Definitions."
      }
    },
    "com.azure.storagemover#JobDefinitionListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.storagemover#JobDefinition"
      },
      "traits": {
        "smithy.api#documentation": "The JobDefinition items on this page"
      }
    },
    "com.azure.storagemover#JobDefinition": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.storagemover#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.storagemover#JobDefinitionProperties",
          "traits": {
            "smithy.api#documentation": "Job definition properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Job Definition resource."
      }
    },
    "com.azure.storagemover#JobDefinitionsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "storageMoverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Storage Mover resource."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Project resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagemover#ProjectsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagemover#ProjectsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageMover/storageMovers/{storageMoverName}/projects/{projectName}",
          "code": 200,
          "apiVersion": "2025-12-01"
        },
        "smithy.api#documentation": "Deletes a Project resource.",
        "com.distilled.openapi#apiVersion": "2025-12-01"
      }
    },
    "com.azure.storagemover#ProjectsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "storageMoverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Storage Mover resource."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Project resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagemover#ProjectsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagemover#ProjectsUpdateRequest"
      },
      "output": {
        "target": "com.azure.storagemover#ProjectsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageMover/storageMovers/{storageMoverName}/projects/{projectName}",
          "code": 200,
          "apiVersion": "2025-12-01"
        },
        "smithy.api#documentation": "Updates properties for a Project resource. Properties not specified in the request body will be unchanged.",
        "com.distilled.openapi#apiVersion": "2025-12-01"
      }
    },
    "com.azure.storagemover#ProjectsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.storagemover#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.storagemover#ProjectProperties",
          "traits": {
            "smithy.api#documentation": "Project properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.storagemover#ProjectProperties": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description for the Project."
          }
        },
        "provisioningState": {
          "target": "com.azure.storagemover#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Project properties."
      }
    },
    "com.azure.storagemover#ProjectsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "storageMoverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Storage Mover resource."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Project resource."
          }
        },
        "properties": {
          "target": "com.azure.storagemover#ProjectUpdateProperties",
          "traits": {
            "smithy.api#documentation": "Project properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagemover#ProjectUpdateProperties": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description for the Project."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Project properties."
      }
    },
    "com.azure.storagemover#ProjectsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagemover#ProjectsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.storagemover#ProjectsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageMover/storageMovers/{storageMoverName}/projects/{projectName}",
          "code": 200,
          "apiVersion": "2025-12-01"
        },
        "smithy.api#documentation": "Creates or updates a Project resource, which is a logical grouping of related jobs.",
        "com.distilled.openapi#apiVersion": "2025-12-01"
      }
    },
    "com.azure.storagemover#ProjectsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.storagemover#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.storagemover#ProjectProperties",
          "traits": {
            "smithy.api#documentation": "Project properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.storagemover#ProjectsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "storageMoverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Storage Mover resource."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Project resource."
          }
        },
        "properties": {
          "target": "com.azure.storagemover#ProjectPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Project properties."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagemover#ProjectPropertiesInput": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description for the Project."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Project properties."
      }
    },
    "com.azure.storagemover#ProjectsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagemover#ProjectsGetRequest"
      },
      "output": {
        "target": "com.azure.storagemover#ProjectsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageMover/storageMovers/{storageMoverName}/projects/{projectName}",
          "code": 200,
          "apiVersion": "2025-12-01"
        },
        "smithy.api#documentation": "Gets a Project resource.",
        "com.distilled.openapi#apiVersion": "2025-12-01"
      }
    },
    "com.azure.storagemover#ProjectsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.storagemover#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.storagemover#ProjectProperties",
          "traits": {
            "smithy.api#documentation": "Project properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.storagemover#ProjectsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "storageMoverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Storage Mover resource."
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Project resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagemover#ProjectsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagemover#ProjectsListRequest"
      },
      "output": {
        "target": "com.azure.storagemover#ProjectList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageMover/storageMovers/{storageMoverName}/projects",
          "code": 200,
          "apiVersion": "2025-12-01"
        },
        "smithy.api#documentation": "Lists all Projects in a Storage Mover.",
        "com.distilled.openapi#apiVersion": "2025-12-01"
      }
    },
    "com.azure.storagemover#ProjectList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.storagemover#ProjectListValueList",
          "traits": {
            "smithy.api#documentation": "The Project items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of Project resources."
      }
    },
    "com.azure.storagemover#ProjectListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.storagemover#Project"
      },
      "traits": {
        "smithy.api#documentation": "The Project items on this page"
      }
    },
    "com.azure.storagemover#Project": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.storagemover#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.storagemover#ProjectProperties",
          "traits": {
            "smithy.api#documentation": "Project properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Project resource."
      }
    },
    "com.azure.storagemover#ProjectsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "storageMoverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Storage Mover resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagemover#EndpointsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagemover#EndpointsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageMover/storageMovers/{storageMoverName}/endpoints/{endpointName}",
          "code": 200,
          "apiVersion": "2025-12-01"
        },
        "smithy.api#documentation": "Deletes an Endpoint resource.",
        "com.distilled.openapi#apiVersion": "2025-12-01"
      }
    },
    "com.azure.storagemover#EndpointsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "storageMoverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Storage Mover resource."
          }
        },
        "endpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the Endpoint resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagemover#EndpointsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagemover#EndpointsUpdateRequest"
      },
      "output": {
        "target": "com.azure.storagemover#EndpointsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageMover/storageMovers/{storageMoverName}/endpoints/{endpointName}",
          "code": 200,
          "apiVersion": "2025-12-01"
        },
        "smithy.api#documentation": "Updates properties for an Endpoint resource. Properties not specified in the request body will be unchanged.",
        "com.distilled.openapi#apiVersion": "2025-12-01"
      }
    },
    "com.azure.storagemover#EndpointsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.storagemover#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.storagemover#EndpointBaseProperties",
          "traits": {
            "smithy.api#documentation": "The resource specific properties for the Storage Mover resource.",
            "smithy.api#required": {}
          }
        },
        "identity": {
          "target": "com.azure.storagemover#EndpointsUpdateResponseIdentity",
          "traits": {
            "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.storagemover#EndpointsUpdateResponseIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
          }
        },
        "type": {
          "target": "com.azure.storagemover#ManagedServiceIdentityType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.storagemover#UserAssignedIdentities",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed service identity (system assigned and/or user assigned identities)"
      }
    },
    "com.azure.storagemover#UserAssignedIdentities": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.storagemover#UserAssignedIdentity"
      },
      "traits": {
        "smithy.api#documentation": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests."
      }
    },
    "com.azure.storagemover#UserAssignedIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of the assigned identity."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client ID of the assigned identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User assigned identity properties"
      }
    },
    "com.azure.storagemover#ManagedServiceIdentityType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        },
        "SYSTEMASSIGNED_USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned,UserAssigned"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of managed service identity (where both SystemAssigned and UserAssigned types are allowed)."
      }
    },
    "com.azure.storagemover#EndpointBaseProperties": {
      "type": "structure",
      "members": {
        "endpointType": {
          "target": "com.azure.storagemover#EndpointType",
          "traits": {
            "smithy.api#documentation": "The Endpoint resource type.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A description for the Endpoint."
          }
        },
        "endpointKind": {
          "target": "com.azure.storagemover#EndpointKind",
          "traits": {
            "smithy.api#documentation": "The Endpoint resource kind source or target."
          }
        },
        "provisioningState": {
          "target": "com.azure.storagemover#ProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource specific properties for the Storage Mover resource."
      }
    },
    "com.azure.storagemover#EndpointKind": {
      "type": "enum",
      "members": {
        "SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Source"
          }
        },
        "TARGET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Target"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the endpoint source/target."
      }
    },
    "com.azure.storagemover#EndpointType": {
      "type": "enum",
      "members": {
        "AZURESTORAGEBLOBCONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureStorageBlobContainer"
          }
        },
        "NFSMOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NfsMount"
          }
        },
        "AZURESTORAGESMBFILESHARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureStorageSmbFileShare"
          }
        },
        "SMBMOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SmbMount"
          }
        },
        "AZUREMULTICLOUDCONNECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AzureMultiCloudConnector"
[...]
