{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.storagesync#WorkflowsAbort": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagesync#WorkflowsAbortRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/workflows/{workflowId}/abort",
          "code": 200,
          "apiVersion": "2022-09-01"
        },
        "smithy.api#documentation": "Abort the given workflow.",
        "com.distilled.openapi#apiVersion": "2022-09-01"
      }
    },
    "com.azure.storagesync#WorkflowsAbortRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "storageSyncServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Storage Sync Service resource."
          }
        },
        "workflowId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "workflow Id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagesync#WorkflowsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagesync#WorkflowsGetRequest"
      },
      "output": {
        "target": "com.azure.storagesync#WorkflowsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/workflows/{workflowId}",
          "code": 200,
          "apiVersion": "2022-09-01"
        },
        "smithy.api#documentation": "Get Workflows resource",
        "com.distilled.openapi#apiVersion": "2022-09-01"
      }
    },
    "com.azure.storagesync#WorkflowsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.storagesync#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.storagesync#WorkflowProperties",
          "traits": {
            "smithy.api#documentation": "Workflow properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.storagesync#WorkflowProperties": {
      "type": "structure",
      "members": {
        "lastStepName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "last step name"
          }
        },
        "status": {
          "target": "com.azure.storagesync#WorkflowStatus",
          "traits": {
            "smithy.api#documentation": "workflow status."
          }
        },
        "operation": {
          "target": "com.azure.storagesync#OperationDirection",
          "traits": {
            "smithy.api#documentation": "operation direction."
          }
        },
        "steps": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "workflow steps"
          }
        },
        "lastOperationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "workflow last operation identifier."
          }
        },
        "commandName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "workflow command name."
          }
        },
        "createdTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "workflow created timestamp."
          }
        },
        "lastStatusTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "workflow last status timestamp."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Workflow Properties object."
      }
    },
    "com.azure.storagesync#OperationDirection": {
      "type": "enum",
      "members": {
        "DO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "do"
          }
        },
        "UNDO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "undo"
          }
        },
        "CANCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancel"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the Operation Direction"
      }
    },
    "com.azure.storagesync#WorkflowStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "succeeded"
          }
        },
        "ABORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aborted"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the Workflow Status"
      }
    },
    "com.azure.storagesync#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.storagesync#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.storagesync#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.storagesync#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.storagesync#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.storagesync#WorkflowsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "storageSyncServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Storage Sync Service resource."
          }
        },
        "workflowId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "workflow Id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagesync#WorkflowsListByStorageSyncService": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagesync#WorkflowsListByStorageSyncServiceRequest"
      },
      "output": {
        "target": "com.azure.storagesync#WorkflowArray"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/workflows",
          "code": 200,
          "apiVersion": "2022-09-01"
        },
        "smithy.api#documentation": "Get a Workflow List",
        "com.distilled.openapi#apiVersion": "2022-09-01"
      }
    },
    "com.azure.storagesync#WorkflowArray": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.storagesync#WorkflowArrayValueList",
          "traits": {
            "smithy.api#documentation": "Collection of workflow items."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to get the next set of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Array of Workflow"
      }
    },
    "com.azure.storagesync#WorkflowArrayValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.storagesync#Workflow"
      },
      "traits": {
        "smithy.api#documentation": "Collection of workflow items."
      }
    },
    "com.azure.storagesync#Workflow": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.storagesync#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.storagesync#WorkflowProperties",
          "traits": {
            "smithy.api#documentation": "Workflow properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Workflow resource."
      }
    },
    "com.azure.storagesync#WorkflowsListByStorageSyncServiceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "storageSyncServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Storage Sync Service resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagesync#ServerEndpointsRecallAction": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagesync#ServerEndpointsRecallActionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/serverEndpoints/{serverEndpointName}/recallAction",
          "code": 200,
          "apiVersion": "2022-09-01"
        },
        "smithy.api#documentation": "Recall a server endpoint.",
        "com.distilled.openapi#apiVersion": "2022-09-01"
      }
    },
    "com.azure.storagesync#ServerEndpointsRecallActionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "storageSyncServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Storage Sync Service resource."
          }
        },
        "syncGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Sync Group resource."
          }
        },
        "serverEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Server Endpoint object."
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pattern of the files."
          }
        },
        "recallPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Recall path."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagesync#ServerEndpointsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagesync#ServerEndpointsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/serverEndpoints/{serverEndpointName}",
          "code": 200,
          "apiVersion": "2022-09-01"
        },
        "smithy.api#documentation": "Delete a given ServerEndpoint.",
        "com.distilled.openapi#apiVersion": "2022-09-01"
      }
    },
    "com.azure.storagesync#ServerEndpointsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "storageSyncServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Storage Sync Service resource."
          }
        },
        "syncGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Sync Group resource."
          }
        },
        "serverEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Server Endpoint object."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagesync#ServerEndpointsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagesync#ServerEndpointsUpdateRequest"
      },
      "output": {
        "target": "com.azure.storagesync#ServerEndpointsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/serverEndpoints/{serverEndpointName}",
          "code": 200,
          "apiVersion": "2022-09-01"
        },
        "smithy.api#documentation": "Patch a given ServerEndpoint.",
        "com.distilled.openapi#apiVersion": "2022-09-01"
      }
    },
    "com.azure.storagesync#ServerEndpointsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.storagesync#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.storagesync#ServerEndpointProperties",
          "traits": {
            "smithy.api#documentation": "Server Endpoint properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.storagesync#ServerEndpointProperties": {
      "type": "structure",
      "members": {
        "serverLocalPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server Local path."
          }
        },
        "cloudTiering": {
          "target": "com.azure.storagesync#FeatureStatus",
          "traits": {
            "smithy.api#documentation": "Cloud Tiering."
          }
        },
        "volumeFreeSpacePercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Level of free space to be maintained by Cloud Tiering if it is enabled."
          }
        },
        "tierFilesOlderThanDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Tier files older than days."
          }
        },
        "friendlyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Friendly Name"
          }
        },
        "serverResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server Resource Id."
          }
        },
        "provisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ServerEndpoint Provisioning State"
          }
        },
        "lastWorkflowId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ServerEndpoint lastWorkflowId"
          }
        },
        "lastOperationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Last Operation Name"
          }
        },
        "syncStatus": {
          "target": "com.azure.storagesync#ServerEndpointSyncStatus",
          "traits": {
            "smithy.api#documentation": "Server Endpoint sync status"
          }
        },
        "offlineDataTransfer": {
          "target": "com.azure.storagesync#FeatureStatus",
          "traits": {
            "smithy.api#documentation": "Offline data transfer"
          }
        },
        "offlineDataTransferStorageAccountResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Offline data transfer storage account resource ID"
          }
        },
        "offlineDataTransferStorageAccountTenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Offline data transfer storage account tenant ID"
          }
        },
        "offlineDataTransferShareName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Offline data transfer share name"
          }
        },
        "cloudTieringStatus": {
          "target": "com.azure.storagesync#ServerEndpointCloudTieringStatus",
          "traits": {
            "smithy.api#documentation": "Cloud tiering status. Only populated if cloud tiering is enabled."
          }
        },
        "recallStatus": {
          "target": "com.azure.storagesync#ServerEndpointRecallStatus",
          "traits": {
            "smithy.api#documentation": "Recall status. Only populated if cloud tiering is enabled."
          }
        },
        "initialDownloadPolicy": {
          "target": "com.azure.storagesync#ServerEndpointPropertiesInitialDownloadPolicy",
          "traits": {
            "smithy.api#documentation": "Policy for how namespace and files are recalled during FastDr."
          }
        },
        "localCacheMode": {
          "target": "com.azure.storagesync#ServerEndpointPropertiesLocalCacheMode",
          "traits": {
            "smithy.api#documentation": "Policy for enabling follow-the-sun business models: link local cache to cloud behavior to pre-populate before local access."
          }
        },
        "initialUploadPolicy": {
          "target": "com.azure.storagesync#ServerEndpointPropertiesInitialUploadPolicy",
          "traits": {
            "smithy.api#documentation": "Policy for how the initial upload sync session is performed."
          }
        },
        "serverName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server name"
          }
        },
        "serverEndpointProvisioningStatus": {
          "target": "com.azure.storagesync#ServerEndpointProvisioningStatus",
          "traits": {
            "smithy.api#documentation": "Server Endpoint provisioning status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ServerEndpoint Properties object."
      }
    },
    "com.azure.storagesync#ServerEndpointProvisioningStatus": {
      "type": "structure",
      "members": {
        "provisioningStatus": {
          "target": "com.azure.storagesync#ServerProvisioningStatus",
          "traits": {
            "smithy.api#documentation": "Server Endpoint provisioning status"
          }
        },
        "provisioningType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server Endpoint provisioning type"
          }
        },
        "provisioningStepStatuses": {
          "target": "com.azure.storagesync#ServerEndpointProvisioningStatusProvisioningStepStatusesList",
          "traits": {
            "smithy.api#documentation": "Provisioning Step status information for each step in the provisioning process"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Server endpoint provisioning status information"
      }
    },
    "com.azure.storagesync#ServerEndpointProvisioningStatusProvisioningStepStatusesList": {
      "type": "list",
      "member": {
        "target": "com.azure.storagesync#ServerEndpointProvisioningStepStatus"
      },
      "traits": {
        "smithy.api#documentation": "Provisioning Step status information for each step in the provisioning process"
      }
    },
    "com.azure.storagesync#ServerEndpointProvisioningStepStatus": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the provisioning step"
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the provisioning step"
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time of the provisioning step"
          }
        },
        "minutesLeft": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Estimated completion time of the provisioning step in minutes"
          }
        },
        "progressPercentage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Estimated progress percentage"
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time of the provisioning step"
          }
        },
        "errorCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Error code (HResult) for the provisioning step"
          }
        },
        "additionalInformation": {
          "target": "com.azure.storagesync#ServerEndpointProvisioningStepStatusAdditionalInformationMap",
          "traits": {
            "smithy.api#documentation": "Additional information for the provisioning step"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Server endpoint provisioning step status object."
      }
    },
    "com.azure.storagesync#ServerEndpointProvisioningStepStatusAdditionalInformationMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Additional information for the provisioning step"
      }
    },
    "com.azure.storagesync#ServerProvisioningStatus": {
      "type": "enum",
      "members": {
        "NOTSTARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotStarted"
          }
        },
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        },
        "READY_SYNCNOTFUNCTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ready_SyncNotFunctional"
          }
        },
        "READY_SYNCFUNCTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ready_SyncFunctional"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Server provisioning status"
      }
    },
    "com.azure.storagesync#ServerEndpointPropertiesInitialUploadPolicy": {
      "type": "enum",
      "members": {
        "SERVERAUTHORITATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ServerAuthoritative"
          }
        },
        "MERGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Merge"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Policy for how the initial upload sync session is performed."
      }
    },
    "com.azure.storagesync#ServerEndpointPropertiesLocalCacheMode": {
      "type": "enum",
      "members": {
        "DOWNLOADNEWANDMODIFIEDFILES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DownloadNewAndModifiedFiles"
          }
        },
        "UPDATELOCALLYCACHEDFILES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UpdateLocallyCachedFiles"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Policy for enabling follow-the-sun business models: link local cache to cloud behavior to pre-populate before local access."
      }
    },
    "com.azure.storagesync#ServerEndpointPropertiesInitialDownloadPolicy": {
      "type": "enum",
      "members": {
        "NAMESPACEONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NamespaceOnly"
          }
        },
        "NAMESPACETHENMODIFIEDFILES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NamespaceThenModifiedFiles"
          }
        },
        "AVOIDTIEREDFILES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AvoidTieredFiles"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Policy for how namespace and files are recalled during FastDr."
      }
    },
    "com.azure.storagesync#ServerEndpointRecallStatus": {
      "type": "structure",
      "members": {
        "lastUpdatedTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last updated timestamp"
          }
        },
        "totalRecallErrorsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total count of recall errors."
          }
        },
        "recallErrors": {
          "target": "com.azure.storagesync#ServerEndpointRecallStatusRecallErrorsList",
          "traits": {
            "smithy.api#documentation": "Array of recall errors"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Server endpoint recall status object."
      }
    },
    "com.azure.storagesync#ServerEndpointRecallStatusRecallErrorsList": {
      "type": "list",
      "member": {
        "target": "com.azure.storagesync#ServerEndpointRecallError"
      },
      "traits": {
        "smithy.api#documentation": "Array of recall errors"
      }
    },
    "com.azure.storagesync#ServerEndpointRecallError": {
      "type": "structure",
      "members": {
        "errorCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Error code (HResult)"
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Count of occurences of the error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Server endpoint recall error object"
      }
    },
    "com.azure.storagesync#ServerEndpointCloudTieringStatus": {
      "type": "structure",
      "members": {
        "lastUpdatedTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last updated timestamp"
          }
        },
        "health": {
          "target": "com.azure.storagesync#ServerEndpointHealthState",
          "traits": {
            "smithy.api#documentation": "Cloud tiering health state."
          }
        },
        "healthLastUpdatedTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last updated timestamp of health state"
          }
        },
        "lastCloudTieringResult": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Last cloud tiering result (HResult)"
          }
        },
        "lastSuccessTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last cloud tiering success timestamp"
          }
        },
        "spaceSavings": {
          "target": "com.azure.storagesync#CloudTieringSpaceSavings",
          "traits": {
            "smithy.api#documentation": "Information regarding how much local space cloud tiering is saving."
          }
        },
        "cachePerformance": {
          "target": "com.azure.storagesync#CloudTieringCachePerformance",
          "traits": {
            "smithy.api#documentation": "Information regarding how well the local cache on the server is performing."
          }
        },
        "filesNotTiering": {
          "target": "com.azure.storagesync#CloudTieringFilesNotTiering",
          "traits": {
            "smithy.api#documentation": "Information regarding files that failed to be tiered"
          }
        },
        "volumeFreeSpacePolicyStatus": {
          "target": "com.azure.storagesync#CloudTieringVolumeFreeSpacePolicyStatus",
          "traits": {
            "smithy.api#documentation": "Status of the volume free space policy"
          }
        },
        "datePolicyStatus": {
          "target": "com.azure.storagesync#CloudTieringDatePolicyStatus",
          "traits": {
            "smithy.api#documentation": "Status of the date policy"
          }
        },
        "lowDiskMode": {
          "target": "com.azure.storagesync#CloudTieringLowDiskMode",
          "traits": {
            "smithy.api#documentation": "Information regarding the low disk mode state"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Server endpoint cloud tiering status object."
      }
    },
    "com.azure.storagesync#CloudTieringLowDiskMode": {
      "type": "structure",
      "members": {
        "lastUpdatedTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last updated timestamp"
          }
        },
        "state": {
          "target": "com.azure.storagesync#CloudTieringLowDiskModeState",
          "traits": {
            "smithy.api#documentation": "Low disk mode state"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information regarding the low disk mode state"
      }
    },
    "com.azure.storagesync#CloudTieringLowDiskModeState": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the cloud tiering low disk mode state"
      }
    },
    "com.azure.storagesync#CloudTieringDatePolicyStatus": {
      "type": "structure",
      "members": {
        "lastUpdatedTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last updated timestamp"
          }
        },
        "tieredFilesMostRecentAccessTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Most recent access time of tiered files"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the date policy"
      }
    },
    "com.azure.storagesync#CloudTieringVolumeFreeSpacePolicyStatus": {
      "type": "structure",
      "members": {
        "lastUpdatedTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last updated timestamp"
          }
        },
        "effectiveVolumeFreeSpacePolicy": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "In the case where multiple server endpoints are present in a volume, an effective free space policy is applied."
          }
        },
        "currentVolumeFreeSpacePercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Current volume free space percentage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the volume free space policy"
      }
    },
    "com.azure.storagesync#CloudTieringFilesNotTiering": {
      "type": "structure",
      "members": {
        "lastUpdatedTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last updated timestamp"
          }
        },
        "totalFileCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Last cloud tiering result (HResult)"
          }
        },
        "errors": {
          "target": "com.azure.storagesync#CloudTieringFilesNotTieringErrorsList",
          "traits": {
            "smithy.api#documentation": "Array of tiering errors"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Server endpoint cloud tiering status object."
      }
    },
    "com.azure.storagesync#CloudTieringFilesNotTieringErrorsList": {
      "type": "list",
      "member": {
        "target": "com.azure.storagesync#FilesNotTieringError"
      },
      "traits": {
        "smithy.api#documentation": "Array of tiering errors"
      }
    },
    "com.azure.storagesync#FilesNotTieringError": {
      "type": "structure",
      "members": {
        "errorCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Error code (HResult)"
          }
        },
        "fileCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Count of files with this error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Files not tiering error object"
      }
    },
    "com.azure.storagesync#CloudTieringCachePerformance": {
      "type": "structure",
      "members": {
        "lastUpdatedTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last updated timestamp"
          }
        },
        "cacheHitBytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Count of bytes that were served from the local server"
          }
        },
        "cacheMissBytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Count of bytes that were served from the cloud"
          }
        },
        "cacheHitBytesPercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Percentage of total bytes (hit + miss) that were served from the local server"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Server endpoint cloud tiering status object."
      }
    },
    "com.azure.storagesync#CloudTieringSpaceSavings": {
      "type": "structure",
      "members": {
        "lastUpdatedTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last updated timestamp"
          }
        },
        "volumeSizeBytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Volume size"
          }
        },
        "totalSizeCloudBytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total size of content in the azure file share"
          }
        },
        "cachedSizeBytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Cached content size on the server"
          }
        },
        "spaceSavingsPercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Percentage of cached size over total size"
          }
        },
        "spaceSavingsBytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Count of bytes saved on the server"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Server endpoint cloud tiering status object."
      }
    },
    "com.azure.storagesync#ServerEndpointHealthState": {
      "type": "enum",
      "members": {
        "UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unavailable"
          }
        },
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Healthy"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the server endpoint health state"
      }
    },
    "com.azure.storagesync#FeatureStatus": {
      "type": "enum",
      "members": {
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the Feature Status"
      }
    },
    "com.azure.storagesync#ServerEndpointSyncStatus": {
      "type": "structure",
      "members": {
        "downloadHealth": {
          "target": "com.azure.storagesync#ServerEndpointHealthState",
          "traits": {
            "smithy.api#documentation": "Download Health Status."
          }
        },
        "uploadHealth": {
          "target": "com.azure.storagesync#ServerEndpointHealthState",
          "traits": {
            "smithy.api#documentation": "Upload Health Status."
          }
        },
        "combinedHealth": {
          "target": "com.azure.storagesync#ServerEndpointHealthState",
          "traits": {
            "smithy.api#documentation": "Combined Health Status."
          }
        },
        "syncActivity": {
          "target": "com.azure.storagesync#ServerEndpointSyncActivityState",
          "traits": {
            "smithy.api#documentation": "Sync activity"
          }
        },
        "totalPersistentFilesNotSyncingCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total count of persistent files not syncing (combined upload + download)."
          }
        },
        "lastUpdatedTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last Updated Timestamp"
          }
        },
        "uploadStatus": {
          "target": "com.azure.storagesync#ServerEndpointSyncSessionStatus",
          "traits": {
            "smithy.api#documentation": "Upload Status"
          }
        },
        "downloadStatus": {
          "target": "com.azure.storagesync#ServerEndpointSyncSessionStatus",
          "traits": {
            "smithy.api#documentation": "Download Status"
          }
        },
        "uploadActivity": {
          "target": "com.azure.storagesync#ServerEndpointSyncActivityStatus",
          "traits": {
            "smithy.api#documentation": "Upload sync activity"
          }
        },
        "downloadActivity": {
          "target": "com.azure.storagesync#ServerEndpointSyncActivityStatus",
          "traits": {
            "smithy.api#documentation": "Download sync activity"
          }
        },
        "offlineDataTransferStatus": {
          "target": "com.azure.storagesync#ServerEndpointOfflineDataTransferState",
          "traits": {
            "smithy.api#documentation": "Offline Data Transfer State"
          }
        },
        "backgroundDataDownloadActivity": {
          "target": "com.azure.storagesync#ServerEndpointBackgroundDataDownloadActivity",
          "traits": {
            "smithy.api#documentation": "Background data download activity"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Server Endpoint sync status"
      }
    },
    "com.azure.storagesync#ServerEndpointBackgroundDataDownloadActivity": {
      "type": "structure",
      "members": {
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when properties were updated"
          }
        },
        "startedTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the operation started"
          }
        },
        "percentProgress": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Progress percentage"
          }
        },
        "downloadedBytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Running count of bytes downloaded"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Background data download activity object"
      }
    },
    "com.azure.storagesync#ServerEndpointOfflineDataTransferState": {
      "type": "enum",
      "members": {
        "INPROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        },
        "STOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Stopping"
          }
        },
        "NOTRUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotRunning"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Complete"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the Health state"
      }
    },
    "com.azure.storagesync#ServerEndpointSyncActivityStatus": {
      "type": "structure",
      "members": {
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when properties were updated"
          }
        },
        "perItemErrorCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Per item error count"
          }
        },
        "appliedItemCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Applied item count."
          }
        },
        "totalItemCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total item count (if available)"
          }
        },
        "appliedBytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Applied bytes"
          }
        },
        "totalBytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total bytes (if available)"
          }
        },
        "syncMode": {
          "target": "com.azure.storagesync#ServerEndpointSyncMode",
          "traits": {
            "smithy.api#documentation": "Sync mode"
          }
        },
        "sessionMinutesRemaining": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Session minutes remaining (if available)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sync Session status object."
      }
    },
    "com.azure.storagesync#ServerEndpointSyncMode": {
      "type": "enum",
      "members": {
        "REGULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Regular"
          }
        },
        "NAMESPACEDOWNLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NamespaceDownload"
          }
        },
        "INITIALUPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InitialUpload"
          }
        },
        "SNAPSHOTUPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SnapshotUpload"
          }
        },
        "INITIALFULLDOWNLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InitialFullDownload"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sync mode for the server endpoint."
      }
    },
    "com.azure.storagesync#ServerEndpointSyncSessionStatus": {
      "type": "structure",
      "members": {
        "lastSyncResult": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Last sync result (HResult)"
          }
        },
        "lastSyncTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last sync timestamp"
          }
        },
        "lastSyncSuccessTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last sync success timestamp"
          }
        },
        "lastSyncPerItemErrorCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Last sync per item error count."
          }
        },
        "persistentFilesNotSyncingCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Count of persistent files not syncing."
          }
        },
        "transientFilesNotSyncingCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Count of transient files not syncing."
          }
        },
        "filesNotSyncingErrors": {
          "target": "com.azure.storagesync#ServerEndpointSyncSessionStatusFilesNotSyncingErrorsList",
          "traits": {
            "smithy.api#documentation": "Array of per-item errors coming from the last sync session."
          }
        },
        "lastSyncMode": {
          "target": "com.azure.storagesync#ServerEndpointSyncMode",
          "traits": {
            "smithy.api#documentation": "Sync mode"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sync Session status object."
      }
    },
    "com.azure.storagesync#ServerEndpointSyncSessionStatusFilesNotSyncingErrorsList": {
      "type": "list",
      "member": {
        "target": "com.azure.storagesync#ServerEndpointFilesNotSyncingError"
      },
      "traits": {
        "smithy.api#documentation": "Array of per-item errors coming from the last sync session."
      }
    },
    "com.azure.storagesync#ServerEndpointFilesNotSyncingError": {
      "type": "structure",
      "members": {
        "errorCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Error code (HResult)"
          }
        },
        "persistentCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Count of persistent files not syncing with the specified error code"
          }
        },
        "transientCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Count of transient files not syncing with the specified error code"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Files not syncing error object"
      }
    },
    "com.azure.storagesync#ServerEndpointSyncActivityState": {
      "type": "enum",
      "members": {
        "UPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Upload"
          }
        },
        "DOWNLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Download"
          }
        },
        "UPLOADANDDOWNLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UploadAndDownload"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the sync activity state"
      }
    },
    "com.azure.storagesync#ServerEndpointsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "storageSyncServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Storage Sync Service resource."
          }
        },
        "syncGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Sync Group resource."
          }
        },
        "serverEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Server Endpoint object."
          }
        },
        "properties": {
          "target": "com.azure.storagesync#ServerEndpointUpdateProperties",
          "traits": {
            "smithy.api#documentation": "The properties of the server endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagesync#ServerEndpointUpdateProperties": {
      "type": "structure",
      "members": {
        "cloudTiering": {
          "target": "com.azure.storagesync#FeatureStatus",
          "traits": {
            "smithy.api#documentation": "Cloud Tiering."
          }
        },
        "volumeFreeSpacePercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Level of free space to be maintained by Cloud Tiering if it is enabled."
          }
        },
        "tierFilesOlderThanDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Tier files older than days."
          }
        },
        "offlineDataTransfer": {
          "target": "com.azure.storagesync#FeatureStatus",
          "traits": {
            "smithy.api#documentation": "Offline data transfer"
          }
        },
        "offlineDataTransferShareName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Offline data transfer share name"
          }
        },
        "localCacheMode": {
          "target": "com.azure.storagesync#ServerEndpointUpdatePropertiesLocalCacheMode",
          "traits": {
            "smithy.api#documentation": "Policy for enabling follow-the-sun business models: link local cache to cloud behavior to pre-populate before local access."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ServerEndpoint Update Properties object."
      }
    },
    "com.azure.storagesync#ServerEndpointUpdatePropertiesLocalCacheMode": {
      "type": "enum",
      "members": {
        "DOWNLOADNEWANDMODIFIEDFILES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DownloadNewAndModifiedFiles"
          }
        },
        "UPDATELOCALLYCACHEDFILES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UpdateLocallyCachedFiles"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Policy for enabling follow-the-sun business models: link local cache to cloud behavior to pre-populate before local access."
      }
    },
    "com.azure.storagesync#ServerEndpointsCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagesync#ServerEndpointsCreateRequest"
      },
      "output": {
        "target": "com.azure.storagesync#ServerEndpointsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/serverEndpoints/{serverEndpointName}",
          "code": 200,
          "apiVersion": "2022-09-01"
        },
        "smithy.api#documentation": "Create a new ServerEndpoint.",
        "com.distilled.openapi#apiVersion": "2022-09-01"
      }
    },
    "com.azure.storagesync#ServerEndpointsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.storagesync#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.storagesync#ServerEndpointProperties",
          "traits": {
            "smithy.api#documentation": "Server Endpoint properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.storagesync#ServerEndpointsCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "storageSyncServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Storage Sync Service resource."
          }
        },
        "syncGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Sync Group resource."
          }
        },
        "serverEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Server Endpoint object."
          }
        },
        "properties": {
          "target": "com.azure.storagesync#ServerEndpointCreateParametersProperties",
          "traits": {
            "smithy.api#documentation": "The parameters used to create the server endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagesync#ServerEndpointCreateParametersProperties": {
      "type": "structure",
      "members": {
        "serverLocalPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server Local path."
          }
        },
        "cloudTiering": {
          "target": "com.azure.storagesync#FeatureStatus",
          "traits": {
            "smithy.api#documentation": "Cloud Tiering."
          }
        },
        "volumeFreeSpacePercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Level of free space to be maintained by Cloud Tiering if it is enabled."
          }
        },
        "tierFilesOlderThanDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Tier files older than days."
          }
        },
        "friendlyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Friendly Name"
          }
        },
        "serverResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server Resource Id."
          }
        },
        "offlineDataTransfer": {
          "target": "com.azure.storagesync#FeatureStatus",
          "traits": {
            "smithy.api#documentation": "Offline data transfer"
          }
        },
        "offlineDataTransferShareName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Offline data transfer share name"
          }
        },
        "initialDownloadPolicy": {
          "target": "com.azure.storagesync#ServerEndpointCreateParametersPropertiesInitialDownloadPolicy",
          "traits": {
            "smithy.api#documentation": "Policy for how namespace and files are recalled during FastDr."
          }
        },
        "localCacheMode": {
          "target": "com.azure.storagesync#ServerEndpointCreateParametersPropertiesLocalCacheMode",
          "traits": {
            "smithy.api#documentation": "Policy for enabling follow-the-sun business models: link local cache to cloud behavior to pre-populate before local access."
          }
        },
        "initialUploadPolicy": {
          "target": "com.azure.storagesync#ServerEndpointCreateParametersPropertiesInitialUploadPolicy",
          "traits": {
            "smithy.api#documentation": "Policy for how the initial upload sync session is performed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ServerEndpoint Properties object."
      }
    },
    "com.azure.storagesync#ServerEndpointCreateParametersPropertiesInitialUploadPolicy": {
      "type": "enum",
      "members": {
        "SERVERAUTHORITATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ServerAuthoritative"
          }
        },
        "MERGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Merge"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Policy for how the initial upload sync session is performed."
      }
    },
    "com.azure.storagesync#ServerEndpointCreateParametersPropertiesLocalCacheMode": {
      "type": "enum",
      "members": {
        "DOWNLOADNEWANDMODIFIEDFILES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DownloadNewAndModifiedFiles"
          }
        },
        "UPDATELOCALLYCACHEDFILES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UpdateLocallyCachedFiles"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Policy for enabling follow-the-sun business models: link local cache to cloud behavior to pre-populate before local access."
      }
    },
    "com.azure.storagesync#ServerEndpointCreateParametersPropertiesInitialDownloadPolicy": {
      "type": "enum",
      "members": {
        "NAMESPACEONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NamespaceOnly"
          }
        },
        "NAMESPACETHENMODIFIEDFILES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NamespaceThenModifiedFiles"
          }
        },
        "AVOIDTIEREDFILES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AvoidTieredFiles"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Policy for how namespace and files are recalled during FastDr."
      }
    },
    "com.azure.storagesync#ServerEndpointsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagesync#ServerEndpointsGetRequest"
      },
      "output": {
        "target": "com.azure.storagesync#ServerEndpointsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/serverEndpoints/{serverEndpointName}",
          "code": 200,
          "apiVersion": "2022-09-01"
        },
        "smithy.api#documentation": "Get a ServerEndpoint.",
        "com.distilled.openapi#apiVersion": "2022-09-01"
      }
    },
    "com.azure.storagesync#ServerEndpointsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.storagesync#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.storagesync#ServerEndpointProperties",
          "traits": {
            "smithy.api#documentation": "Server Endpoint properties."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.storagesync#ServerEndpointsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "storageSyncServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Storage Sync Service resource."
          }
        },
        "syncGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Sync Group resource."
          }
        },
        "serverEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Server Endpoint object."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagesync#ServerEndpointsListBySyncGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagesync#ServerEndpointsListBySyncGroupRequest"
      },
      "output": {
        "target": "com.azure.storagesync#ServerEndpointArray"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/serverEndpoints",
          "code": 200,
          "apiVersion": "2022-09-01"
        },
        "smithy.api#documentation": "Get a ServerEndpoint list.",
        "com.distilled.openapi#apiVersion": "2022-09-01"
      }
    },
    "com.azure.storagesync#ServerEndpointArray": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.storagesync#ServerEndpointArrayValueList",
          "traits": {
            "smithy.api#documentation": "Collection of ServerEndpoint."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to get the next set of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Array of ServerEndpoint"
      }
    },
    "com.azure.storagesync#ServerEndpointArrayValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.storagesync#ServerEndpoint"
      },
      "traits": {
        "smithy.api#documentation": "Collection of ServerEndpoint."
      }
    },
    "com.azure.storagesync#ServerEndpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.storagesync#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.storagesync#ServerEndpointProperties",
          "traits": {
            "smithy.api#documentation": "Server Endpoint properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Server Endpoint object."
      }
    },
    "com.azure.storagesync#ServerEndpointsListBySyncGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "storageSyncServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Storage Sync Service resource."
          }
        },
        "syncGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Sync Group resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagesync#CloudEndpointsTriggerChangeDetection": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagesync#CloudEndpointsTriggerChangeDetectionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/triggerChangeDetection",
          "code": 200,
          "apiVersion": "2022-09-01"
        },
        "smithy.api#documentation": "Triggers detection of changes performed on Azure File share connected to the specified Azure File Sync Cloud Endpoint.",
        "com.distilled.openapi#apiVersion": "2022-09-01"
      }
    },
    "com.azure.storagesync#CloudEndpointsTriggerChangeDetectionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "storageSyncServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Storage Sync Service resource."
          }
        },
        "syncGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Sync Group resource."
          }
        },
        "cloudEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Cloud Endpoint object."
          }
        },
        "directoryPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative path to a directory Azure File share for which change detection is to be performed."
          }
        },
        "changeDetectionMode": {
          "target": "com.azure.storagesync#ChangeDetectionMode",
          "traits": {
            "smithy.api#documentation": "Change Detection Mode. Applies to a directory specified in directoryPath parameter."
          }
        },
        "paths": {
          "target": "com.azure.storagesync#CloudEndpointsTriggerChangeDetectionRequestPathsList",
          "traits": {
            "smithy.api#documentation": "Array of relative paths on the Azure File share to be included in the change detection. Can be files and directories."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagesync#CloudEndpointsTriggerChangeDetectionRequestPathsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Array of relative paths on the Azure File share to be included in the change detection. Can be files and directories."
      }
    },
    "com.azure.storagesync#ChangeDetectionMode": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Default"
          }
        },
        "RECURSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Recursive"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Change Detection Mode. Applies to a directory specified in directoryPath parameter."
      }
    },
    "com.azure.storagesync#CloudEndpointsRestoreheartbeat": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagesync#CloudEndpointsRestoreheartbeatRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/restoreheartbeat",
          "code": 200,
          "apiVersion": "2022-09-01"
        },
        "smithy.api#documentation": "Restore Heartbeat a given CloudEndpoint.",
        "com.distilled.openapi#apiVersion": "2022-09-01"
      }
    },
    "com.azure.storagesync#CloudEndpointsRestoreheartbeatRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "storageSyncServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Storage Sync Service resource."
          }
        },
        "syncGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Sync Group resource."
          }
        },
        "cloudEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Cloud Endpoint object."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagesync#CloudEndpointsPreRestore": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagesync#CloudEndpointsPreRestoreRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/prerestore",
          "code": 200,
          "apiVersion": "2022-09-01"
        },
        "smithy.api#documentation": "Pre Restore a given CloudEndpoint.",
        "com.distilled.openapi#apiVersion": "2022-09-01"
      }
    },
    "com.azure.storagesync#CloudEndpointsPreRestoreRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "storageSyncServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Storage Sync Service resource."
          }
        },
        "syncGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Sync Group resource."
          }
        },
        "cloudEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Cloud Endpoint object."
          }
        },
        "partition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pre Restore partition."
          }
        },
        "replicaGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pre Restore replica group."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pre Restore request id."
          }
        },
        "azureFileShareUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pre Restore Azure file share uri."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pre Restore Azure status."
          }
        },
        "sourceAzureFileShareUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pre Restore Azure source azure file share uri."
          }
        },
        "backupMetadataPropertyBag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pre Restore backup metadata property bag."
          }
        },
        "restoreFileSpec": {
          "target": "com.azure.storagesync#CloudEndpointsPreRestoreRequestRestoreFileSpecList",
          "traits": {
            "smithy.api#documentation": "Pre Restore restore file spec array."
          }
        },
        "pauseWaitForSyncDrainTimePeriodInSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Pre Restore pause wait for sync drain time period in seconds."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagesync#CloudEndpointsPreRestoreRequestRestoreFileSpecList": {
      "type": "list",
      "member": {
        "target": "com.azure.storagesync#RestoreFileSpec"
      },
      "traits": {
        "smithy.api#documentation": "Pre Restore restore file spec array."
      }
    },
    "com.azure.storagesync#RestoreFileSpec": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Restore file spec path"
          }
        },
        "isdir": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Restore file spec isdir"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Restore file spec."
      }
    },
    "com.azure.storagesync#CloudEndpointsPreBackup": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagesync#CloudEndpointsPreBackupRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/prebackup",
          "code": 200,
          "apiVersion": "2022-09-01"
        },
        "smithy.api#documentation": "Pre Backup a given CloudEndpoint.",
        "com.distilled.openapi#apiVersion": "2022-09-01"
      }
    },
    "com.azure.storagesync#CloudEndpointsPreBackupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "storageSyncServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Storage Sync Service resource."
          }
        },
        "syncGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Sync Group resource."
          }
        },
        "cloudEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Cloud Endpoint object."
          }
        },
        "azureFileShare": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure File Share."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagesync#CloudEndpointsPostRestore": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagesync#CloudEndpointsPostRestoreRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/postrestore",
          "code": 200,
          "apiVersion": "2022-09-01"
        },
        "smithy.api#documentation": "Post Restore a given CloudEndpoint.",
        "com.distilled.openapi#apiVersion": "2022-09-01"
      }
    },
    "com.azure.storagesync#CloudEndpointsPostRestoreRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "storageSyncServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Storage Sync Service resource."
          }
        },
        "syncGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Sync Group resource."
          }
        },
        "cloudEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Cloud Endpoint object."
          }
        },
        "partition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Post Restore partition."
          }
        },
        "replicaGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Post Restore replica group."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Post Restore request id."
          }
        },
        "azureFileShareUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Post Restore Azure file share uri."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Post Restore Azure status."
          }
        },
        "sourceAzureFileShareUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Post Restore Azure source azure file share uri."
          }
        },
        "failedFileList": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Post Restore Azure failed file list."
          }
        },
        "restoreFileSpec": {
          "target": "com.azure.storagesync#CloudEndpointsPostRestoreRequestRestoreFileSpecList",
          "traits": {
            "smithy.api#documentation": "Post Restore restore file spec array."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagesync#CloudEndpointsPostRestoreRequestRestoreFileSpecList": {
      "type": "list",
      "member": {
        "target": "com.azure.storagesync#RestoreFileSpec"
      },
      "traits": {
        "smithy.api#documentation": "Post Restore restore file spec array."
      }
    },
    "com.azure.storagesync#CloudEndpointsPostBackup": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagesync#CloudEndpointsPostBackupRequest"
      },
      "output": {
        "target": "com.azure.storagesync#PostBackupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/postbackup",
          "code": 200,
          "apiVersion": "2022-09-01"
        },
        "smithy.api#documentation": "Post Backup a given CloudEndpoint.",
        "com.distilled.openapi#apiVersion": "2022-09-01"
      }
    },
    "com.azure.storagesync#PostBackupResponse": {
      "type": "structure",
      "members": {
        "backupMetadata": {
          "target": "com.azure.storagesync#PostBackupResponseProperties",
          "traits": {
            "smithy.api#documentation": "Post Backup Response Properties"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Post Backup Response"
      }
    },
    "com.azure.storagesync#PostBackupResponseProperties": {
      "type": "structure",
      "members": {
        "cloudEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "cloud endpoint Name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Post Backup Response Properties object."
      }
    },
    "com.azure.storagesync#CloudEndpointsPostBackupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
[...]
