{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.storagecache#CachesUpgradeFirmware": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagecache#CachesUpgradeFirmwareRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/upgrade",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Upgrade a cache's firmware if a new version is available. Otherwise, this operation has no effect.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.storagecache#CachesUpgradeFirmwareRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "cacheName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of cache. Length of name must not be greater than 80 and chars must be from the [-0-9a-zA-Z_] char class."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagecache#StorageTargetSuspend": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagecache#StorageTargetSuspendRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/storageTargets/{storageTargetName}/suspend",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Suspends client access to a storage target.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.storagecache#StorageTargetSuspendRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "cacheName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of cache. Length of name must not be greater than 80 and chars must be from the [-0-9a-zA-Z_] char class."
          }
        },
        "storageTargetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Storage Target."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagecache#StorageTargetResume": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagecache#StorageTargetResumeRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/storageTargets/{storageTargetName}/resume",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Resumes client access to a previously suspended storage target.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.storagecache#StorageTargetResumeRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "cacheName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of cache. Length of name must not be greater than 80 and chars must be from the [-0-9a-zA-Z_] char class."
          }
        },
        "storageTargetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Storage Target."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagecache#StorageTargetsRestoreDefaults": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagecache#StorageTargetsRestoreDefaultsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/storageTargets/{storageTargetName}/restoreDefaults",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Tells a storage target to restore its settings to their default values.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.storagecache#StorageTargetsRestoreDefaultsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "cacheName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of cache. Length of name must not be greater than 80 and chars must be from the [-0-9a-zA-Z_] char class."
          }
        },
        "storageTargetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Storage Target."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagecache#StorageTargetInvalidate": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagecache#StorageTargetInvalidateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/storageTargets/{storageTargetName}/invalidate",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Invalidate all cached data for a storage target. Cached files are discarded and fetched from the back end on the next request.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.storagecache#StorageTargetInvalidateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "cacheName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of cache. Length of name must not be greater than 80 and chars must be from the [-0-9a-zA-Z_] char class."
          }
        },
        "storageTargetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Storage Target."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagecache#StorageTargetFlush": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagecache#StorageTargetFlushRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/storageTargets/{storageTargetName}/flush",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Tells the cache to write all dirty data to the Storage Target's backend storage. Client requests to this storage target's namespace will return errors until the flush operation completes.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.storagecache#StorageTargetFlushRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "cacheName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of cache. Length of name must not be greater than 80 and chars must be from the [-0-9a-zA-Z_] char class."
          }
        },
        "storageTargetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Storage Target."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagecache#StorageTargetsDnsRefresh": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagecache#StorageTargetsDnsRefreshRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/storageTargets/{storageTargetName}/dnsRefresh",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Tells a storage target to refresh its DNS information.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.storagecache#StorageTargetsDnsRefreshRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "cacheName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of cache. Length of name must not be greater than 80 and chars must be from the [-0-9a-zA-Z_] char class."
          }
        },
        "storageTargetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Storage Target."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagecache#StorageTargetsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagecache#StorageTargetsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/storageTargets/{storageTargetName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Removes a Storage Target from a cache. This operation is allowed at any time, but if the cache is down or unhealthy, the actual removal of the Storage Target may be delayed until the cache is healthy again. Note that if the cache has data to flush to the Storage Target, the data will be flushed before the Storage Target will be deleted.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.storagecache#StorageTargetsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "cacheName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of cache. Length of name must not be greater than 80 and chars must be from the [-0-9a-zA-Z_] char class."
          }
        },
        "storageTargetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Storage Target."
          }
        },
        "force": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "force",
            "smithy.api#documentation": "Boolean value requesting the force delete operation for a storage target. Force delete discards unwritten-data in the cache instead of flushing it to back-end storage."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagecache#StorageTargetsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagecache#StorageTargetsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.storagecache#StorageTargetsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/storageTargets/{storageTargetName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Create or update a Storage Target. This operation is allowed at any time, but if the cache is down or unhealthy, the actual creation/modification of the Storage Target may be delayed until the cache is healthy again.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.storagecache#StorageTargetsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.storagecache#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.storagecache#StorageTargetProperties",
          "traits": {
            "smithy.api#documentation": "StorageTarget properties"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Region name string."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.storagecache#StorageTargetProperties": {
      "type": "structure",
      "members": {
        "junctions": {
          "target": "com.azure.storagecache#StorageTargetPropertiesJunctionsList",
          "traits": {
            "smithy.api#documentation": "List of cache namespace junctions to target for namespace associations."
          }
        },
        "targetType": {
          "target": "com.azure.storagecache#StorageTargetType",
          "traits": {
            "smithy.api#documentation": "Type of the Storage Target.",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.storagecache#ProvisioningStateType",
          "traits": {
            "smithy.api#documentation": "ARM provisioning state, see https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/Addendum.md#provisioningstate-property"
          }
        },
        "state": {
          "target": "com.azure.storagecache#OperationalStateType",
          "traits": {
            "smithy.api#documentation": "Storage target operational state."
          }
        },
        "nfs3": {
          "target": "com.azure.storagecache#Nfs3Target",
          "traits": {
            "smithy.api#documentation": "Properties when targetType is nfs3."
          }
        },
        "clfs": {
          "target": "com.azure.storagecache#ClfsTarget",
          "traits": {
            "smithy.api#documentation": "Properties when targetType is clfs."
          }
        },
        "unknown": {
          "target": "com.azure.storagecache#UnknownTarget",
          "traits": {
            "smithy.api#documentation": "Properties when targetType is unknown."
          }
        },
        "blobNfs": {
          "target": "com.azure.storagecache#BlobNfsTarget",
          "traits": {
            "smithy.api#documentation": "Properties when targetType is blobNfs."
          }
        },
        "allocationPercentage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The percentage of cache space allocated for this storage target"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the Storage Target."
      }
    },
    "com.azure.storagecache#BlobNfsTarget": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID of the storage container."
          }
        },
        "usageModel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the StorageCache usage model to be used for this storage target."
          }
        },
        "verificationTimer": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Amount of time (in seconds) the cache waits before it checks the back-end storage for file updates."
          }
        },
        "writeBackTimer": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Amount of time (in seconds) the cache waits after the last file change before it copies the changed file to back-end storage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties pertaining to the BlobNfsTarget."
      }
    },
    "com.azure.storagecache#UnknownTarget": {
      "type": "structure",
      "members": {
        "attributes": {
          "target": "com.azure.storagecache#UnknownTargetAttributesMap",
          "traits": {
            "smithy.api#documentation": "Dictionary of string->string pairs containing information about the Storage Target."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties pertaining to the UnknownTarget"
      }
    },
    "com.azure.storagecache#UnknownTargetAttributesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Dictionary of string->string pairs containing information about the Storage Target."
      }
    },
    "com.azure.storagecache#ClfsTarget": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource ID of storage container."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties pertaining to the ClfsTarget"
      }
    },
    "com.azure.storagecache#Nfs3Target": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP address or host name of an NFSv3 host (e.g., 10.0.44.44)."
          }
        },
        "usageModel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the StorageCache usage model to be used for this storage target."
          }
        },
        "verificationTimer": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Amount of time (in seconds) the cache waits before it checks the back-end storage for file updates."
          }
        },
        "writeBackTimer": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Amount of time (in seconds) the cache waits after the last file change before it copies the changed file to back-end storage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties pertaining to the Nfs3Target"
      }
    },
    "com.azure.storagecache#OperationalStateType": {
      "type": "enum",
      "members": {
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ready"
          }
        },
        "BUSY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Busy"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Suspended"
          }
        },
        "FLUSHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Flushing"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Storage target operational state."
      }
    },
    "com.azure.storagecache#ProvisioningStateType": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ARM provisioning state, see https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/Addendum.md#provisioningstate-property"
      }
    },
    "com.azure.storagecache#StorageTargetType": {
      "type": "enum",
      "members": {
        "NFS3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nfs3"
          }
        },
        "CLFS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clfs"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        },
        "BLOBNFS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blobNfs"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the Storage Target."
      }
    },
    "com.azure.storagecache#StorageTargetPropertiesJunctionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.storagecache#NamespaceJunction"
      },
      "traits": {
        "smithy.api#documentation": "List of cache namespace junctions to target for namespace associations."
      }
    },
    "com.azure.storagecache#NamespaceJunction": {
      "type": "structure",
      "members": {
        "namespacePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Namespace path on a cache for a Storage Target."
          }
        },
        "targetPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Path in Storage Target to which namespacePath points."
          }
        },
        "nfsExport": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "NFS export where targetPath exists."
          }
        },
        "nfsAccessPolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the access policy applied to this junction."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A namespace junction."
      }
    },
    "com.azure.storagecache#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.storagecache#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.storagecache#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.storagecache#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.storagecache#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.storagecache#StorageTargetsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "cacheName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of cache. Length of name must not be greater than 80 and chars must be from the [-0-9a-zA-Z_] char class."
          }
        },
        "storageTargetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Storage Target."
          }
        },
        "properties": {
          "target": "com.azure.storagecache#StorageTargetPropertiesInput",
          "traits": {
            "smithy.api#documentation": "StorageTarget properties"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagecache#StorageTargetPropertiesInput": {
      "type": "structure",
      "members": {
        "junctions": {
          "target": "com.azure.storagecache#StorageTargetPropertiesInputJunctionsList",
          "traits": {
            "smithy.api#documentation": "List of cache namespace junctions to target for namespace associations."
          }
        },
        "targetType": {
          "target": "com.azure.storagecache#StorageTargetType",
          "traits": {
            "smithy.api#documentation": "Type of the Storage Target.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.azure.storagecache#OperationalStateType",
          "traits": {
            "smithy.api#documentation": "Storage target operational state."
          }
        },
        "nfs3": {
          "target": "com.azure.storagecache#Nfs3Target",
          "traits": {
            "smithy.api#documentation": "Properties when targetType is nfs3."
          }
        },
        "clfs": {
          "target": "com.azure.storagecache#ClfsTarget",
          "traits": {
            "smithy.api#documentation": "Properties when targetType is clfs."
          }
        },
        "unknown": {
          "target": "com.azure.storagecache#UnknownTarget",
          "traits": {
            "smithy.api#documentation": "Properties when targetType is unknown."
          }
        },
        "blobNfs": {
          "target": "com.azure.storagecache#BlobNfsTarget",
          "traits": {
            "smithy.api#documentation": "Properties when targetType is blobNfs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the Storage Target."
      }
    },
    "com.azure.storagecache#StorageTargetPropertiesInputJunctionsList": {
      "type": "list",
      "member": {
        "target": "com.azure.storagecache#NamespaceJunction"
      },
      "traits": {
        "smithy.api#documentation": "List of cache namespace junctions to target for namespace associations."
      }
    },
    "com.azure.storagecache#StorageTargetsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagecache#StorageTargetsGetRequest"
      },
      "output": {
        "target": "com.azure.storagecache#StorageTargetsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/storageTargets/{storageTargetName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Returns a Storage Target from a cache.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.storagecache#StorageTargetsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.storagecache#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.storagecache#StorageTargetProperties",
          "traits": {
            "smithy.api#documentation": "StorageTarget properties"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Region name string."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.storagecache#StorageTargetsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "cacheName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of cache. Length of name must not be greater than 80 and chars must be from the [-0-9a-zA-Z_] char class."
          }
        },
        "storageTargetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of Storage Target."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagecache#StorageTargetsListByCache": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagecache#StorageTargetsListByCacheRequest"
      },
      "output": {
        "target": "com.azure.storagecache#StorageTargetsResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/storageTargets",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Returns a list of Storage Targets for the specified cache.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.storagecache#StorageTargetsResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.storagecache#StorageTargetsResultValueList",
          "traits": {
            "smithy.api#documentation": "The list of Storage Targets defined for the cache."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI to fetch the next page of Storage Targets."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of Storage Targets."
      }
    },
    "com.azure.storagecache#StorageTargetsResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.storagecache#StorageTarget"
      },
      "traits": {
        "smithy.api#documentation": "The list of Storage Targets defined for the cache."
      }
    },
    "com.azure.storagecache#StorageTarget": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.storagecache#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.storagecache#StorageTargetProperties",
          "traits": {
            "smithy.api#documentation": "StorageTarget properties"
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Region name string."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the Storage Target."
      }
    },
    "com.azure.storagecache#StorageTargetsListByCacheRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "cacheName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of cache. Length of name must not be greater than 80 and chars must be from the [-0-9a-zA-Z_] char class."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagecache#CachesStopPrimingJob": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagecache#CachesStopPrimingJobRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/stopPrimingJob",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Schedule a priming job for deletion.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.storagecache#CachesStopPrimingJobRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "cacheName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of cache. Length of name must not be greater than 80 and chars must be from the [-0-9a-zA-Z_] char class."
          }
        },
        "primingJobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the priming job.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagecache#CachesStop": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagecache#CachesStopRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/stop",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Tells an Active cache to transition to Stopped state.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.storagecache#CachesStopRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "cacheName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of cache. Length of name must not be greater than 80 and chars must be from the [-0-9a-zA-Z_] char class."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagecache#CachesStartPrimingJob": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagecache#CachesStartPrimingJobRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/startPrimingJob",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Create a priming job. This operation is only allowed when the cache is healthy.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.storagecache#CachesStartPrimingJobRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "cacheName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of cache. Length of name must not be greater than 80 and chars must be from the [-0-9a-zA-Z_] char class."
          }
        },
        "primingJobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The priming job name.",
            "smithy.api#required": {}
          }
        },
        "primingManifestUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL for the priming manifest file to download. This file must be readable from the HPC Cache. When the file is in Azure blob storage the URL should include a Shared Access Signature (SAS) granting read permissions on the blob.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagecache#CachesStart": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagecache#CachesStartRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/start",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Tells a Stopped state cache to transition to Active state.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.storagecache#CachesStartRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "cacheName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of cache. Length of name must not be greater than 80 and chars must be from the [-0-9a-zA-Z_] char class."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagecache#CachesSpaceAllocation": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagecache#CachesSpaceAllocationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/spaceAllocation",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Update cache space allocation.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.storagecache#CachesSpaceAllocationRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "cacheName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of cache. Length of name must not be greater than 80 and chars must be from the [-0-9a-zA-Z_] char class."
          }
        },
        "body": {
          "target": "com.azure.storagecache#CachesSpaceAllocationRequestBodyList",
          "traits": {
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagecache#CachesSpaceAllocationRequestBodyList": {
      "type": "list",
      "member": {
        "target": "com.azure.storagecache#StorageTargetSpaceAllocation"
      },
      "traits": {}
    },
    "com.azure.storagecache#StorageTargetSpaceAllocation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the storage target."
          }
        },
        "allocationPercentage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The percentage of cache space allocated for this storage target"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Storage Target space allocation properties."
      }
    },
    "com.azure.storagecache#CachesResumePrimingJob": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagecache#CachesResumePrimingJobRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/resumePrimingJob",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Resumes a paused priming job.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.storagecache#CachesResumePrimingJobRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "cacheName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of cache. Length of name must not be greater than 80 and chars must be from the [-0-9a-zA-Z_] char class."
          }
        },
        "primingJobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the priming job.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagecache#CachesPausePrimingJob": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagecache#CachesPausePrimingJobRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/pausePrimingJob",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Schedule a priming job to be paused.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.storagecache#CachesPausePrimingJobRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "cacheName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of cache. Length of name must not be greater than 80 and chars must be from the [-0-9a-zA-Z_] char class."
          }
        },
        "primingJobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the priming job.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagecache#CachesFlush": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagecache#CachesFlushRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/flush",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Tells a cache to write all dirty data to the Storage Target(s). During the flush, clients will see errors returned until the flush is complete.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.storagecache#CachesFlushRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "cacheName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of cache. Length of name must not be greater than 80 and chars must be from the [-0-9a-zA-Z_] char class."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagecache#CachesDebugInfo": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagecache#CachesDebugInfoRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}/debugInfo",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Tells a cache to write generate debug info for support to process.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.storagecache#CachesDebugInfoRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "cacheName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of cache. Length of name must not be greater than 80 and chars must be from the [-0-9a-zA-Z_] char class."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagecache#CachesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagecache#CachesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Schedules a cache for deletion.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.storagecache#CachesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "cacheName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of cache. Length of name must not be greater than 80 and chars must be from the [-0-9a-zA-Z_] char class."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.storagecache#CachesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.storagecache#CachesUpdateRequest"
      },
      "output": {
        "target": "com.azure.storagecache#CachesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageCache/caches/{cacheName}",
          "code": 200,
          "apiVersion": "2026-01-01"
        },
        "smithy.api#documentation": "Update a cache instance.",
        "com.distilled.openapi#apiVersion": "2026-01-01"
      }
    },
    "com.azure.storagecache#CachesUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.storagecache#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.storagecache#CacheProperties",
          "traits": {
            "smithy.api#documentation": "Properties of the cache."
          }
        },
        "tags": {
          "target": "com.azure.storagecache#CachesUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Region name string."
          }
        },
        "identity": {
          "target": "com.azure.storagecache#CacheIdentity",
          "traits": {
            "smithy.api#documentation": "The identity of the cache, if configured."
          }
        },
        "sku": {
          "target": "com.azure.storagecache#CacheSku",
          "traits": {
            "smithy.api#documentation": "SKU for the cache."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.storagecache#CacheSku": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SKU name for this cache."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SKU for the cache."
      }
    },
    "com.azure.storagecache#CacheIdentity": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID for the system-assigned identity of the cache."
          }
        },
        "tenantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tenant ID associated with the cache."
          }
        },
        "type": {
          "target": "com.azure.storagecache#CacheIdentityType",
          "traits": {
            "smithy.api#documentation": "The type of identity used for the cache"
          }
        },
        "userAssignedIdentities": {
          "target": "com.azure.storagecache#CacheIdentityUserAssignedIdentitiesMap",
          "traits": {
            "smithy.api#documentation": "A dictionary where each key is a user assigned identity resource ID, and each key's value is an empty dictionary."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cache identity properties."
      }
    },
    "com.azure.storagecache#CacheIdentityUserAssignedIdentitiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.storagecache#UserAssignedIdentitiesValue"
      },
      "traits": {
        "smithy.api#documentation": "A dictionary where each key is a user assigned identity resource ID, and each key's value is an empty dictionary."
      }
    },
    "com.azure.storagecache#UserAssignedIdentitiesValue": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The principal ID of the user-assigned identity."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client ID of the user-assigned identity."
          }
        }
      },
      "traits": {}
    },
    "com.azure.storagecache#CacheIdentityType": {
      "type": "enum",
      "members": {
        "SYSTEMASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned"
          }
        },
        "USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserAssigned"
          }
        },
        "SYSTEMASSIGNED_USERASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SystemAssigned, UserAssigned"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity used for the cache"
      }
    },
    "com.azure.storagecache#CachesUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.storagecache#CacheProperties": {
      "type": "structure",
      "members": {
        "cacheSizeGB": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The size of this Cache, in GB."
          }
        },
        "health": {
          "target": "com.azure.storagecache#CacheHealth",
          "traits": {
            "smithy.api#documentation": "Health of the cache."
          }
        },
        "mountAddresses": {
          "target": "com.azure.storagecache#CachePropertiesMountAddressesList",
          "traits": {
            "smithy.api#documentation": "Array of IPv4 addresses that can be used by clients mounting this cache."
          }
        },
        "provisioningState": {
          "target": "com.azure.storagecache#ProvisioningStateType",
          "traits": {
            "smithy.api#documentation": "ARM provisioning state, see https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/Addendum.md#provisioningstate-property"
          }
        },
        "subnet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subnet used for the cache."
          }
        },
        "upgradeStatus": {
          "target": "com.azure.storagecache#CacheUpgradeStatus",
          "traits": {
            "smithy.api#documentation": "Upgrade status of the cache."
          }
        },
        "upgradeSettings": {
          "target": "com.azure.storagecache#CacheUpgradeSettings",
          "traits": {
            "smithy.api#documentation": "Upgrade settings of the cache."
          }
        },
        "networkSettings": {
          "target": "com.azure.storagecache#CacheNetworkSettings",
          "traits": {
            "smithy.api#documentation": "Specifies network settings of the cache."
          }
        },
        "encryptionSettings": {
          "target": "com.azure.storagecache#CacheEncryptionSettings",
          "traits": {
            "smithy.api#documentation": "Specifies encryption settings of the cache."
          }
        },
        "securitySettings": {
          "target": "com.azure.storagecache#CacheSecuritySettings",
          "traits": {
            "smithy.api#documentation": "Specifies security settings of the cache."
          }
        },
        "directoryServicesSettings": {
          "target": "com.azure.storagecache#CacheDirectorySettings",
          "traits": {
            "smithy.api#documentation": "Specifies Directory Services settings of the cache."
          }
        },
        "zones": {
          "target": "com.azure.storagecache#CachePropertiesZonesList",
          "traits": {
            "smithy.api#documentation": "Availability zones for resources. This field should only contain a single element in the array."
          }
        },
        "primingJobs": {
          "target": "com.azure.storagecache#CachePropertiesPrimingJobsList",
          "traits": {
            "smithy.api#documentation": "Specifies the priming jobs defined in the cache."
          }
        },
        "spaceAllocation": {
          "target": "com.azure.storagecache#CachePropertiesSpaceAllocationList",
          "traits": {
            "smithy.api#documentation": "Specifies the space allocation percentage for each storage target in the cache."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of the cache."
      }
    },
    "com.azure.storagecache#CachePropertiesSpaceAllocationList": {
      "type": "list",
      "member": {
        "target": "com.azure.storagecache#StorageTargetSpaceAllocation"
      },
      "traits": {
        "smithy.api#documentation": "Specifies the space allocation percentage for each storage target in the cache."
      }
    },
    "com.azure.storagecache#CachePropertiesPrimingJobsList": {
      "type": "list",
      "member": {
        "target": "com.azure.storagecache#PrimingJob"
      },
      "traits": {
        "smithy.api#documentation": "Specifies the priming jobs defined in the cache."
      }
    },
    "com.azure.storagecache#PrimingJob": {
      "type": "structure",
      "members": {
        "primingJobName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The priming job name.",
            "smithy.api#required": {}
          }
        },
        "primingManifestUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL for the priming manifest file to download. This file must be readable from the HPC Cache. When the file is in Azure blob storage the URL should include a Shared Access Signature (SAS) granting read permissions on the blob.",
            "smithy.api#required": {}
          }
        },
        "primingJobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the priming job."
          }
        },
        "primingJobState": {
          "target": "com.azure.storagecache#PrimingJobState",
          "traits": {
            "smithy.api#documentation": "The state of the priming operation."
          }
        },
        "primingJobStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status code of the priming job."
          }
        },
        "primingJobDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The job details or error information if any."
          }
        },
        "primingJobPercentComplete": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The current progress of the priming job, as a percentage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A priming job instance."
      }
    },
    "com.azure.storagecache#PrimingJobState": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Queued"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Paused"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Complete"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of the priming operation."
      }
    },
    "com.azure.storagecache#CachePropertiesZonesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Availability zones for resources. This field should only contain a single element in the array."
      }
    },
    "com.azure.storagecache#CacheDirectorySettings": {
      "type": "structure",
      "members": {
        "activeDirectory": {
          "target": "com.azure.storagecache#CacheActiveDirectorySettings",
          "traits": {
            "smithy.api#documentation": "Specifies settings for joining the HPC Cache to an Active Directory domain."
          }
        },
        "usernameDownload": {
          "target": "com.azure.storagecache#CacheUsernameDownloadSettings",
          "traits": {
            "smithy.api#documentation": "Specifies settings for Extended Groups. Extended Groups allows users to be members of more than 16 groups."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cache Directory Services settings."
      }
    },
    "com.azure.storagecache#CacheUsernameDownloadSettings": {
      "type": "structure",
      "members": {
        "extendedGroups": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not Extended Groups is enabled."
          }
        },
        "usernameSource": {
          "target": "com.azure.storagecache#CacheUsernameDownloadSettingsUsernameSource",
          "traits": {
            "smithy.api#documentation": "This setting determines how the cache gets username and group names for clients."
          }
        },
        "groupFileURI": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of the file containing group information (in /etc/group file format). This field must be populated when 'usernameSource' is set to 'File'."
          }
        },
        "userFileURI": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of the file containing user information (in /etc/passwd file format). This field must be populated when 'usernameSource' is set to 'File'."
          }
        },
        "ldapServer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified domain name or IP address of the LDAP server to use."
          }
        },
        "ldapBaseDN": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The base distinguished name for the LDAP domain."
          }
        },
        "encryptLdapConnection": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the LDAP connection should be encrypted."
          }
        },
        "requireValidCertificate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines if the certificates must be validated by a certificate authority. When true, caCertificateURI must be provided."
          }
        },
        "autoDownloadCertificate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines if the certificate should be automatically downloaded. This applies to 'caCertificateURI' only if 'requireValidCertificate' is true."
          }
        },
        "caCertificateURI": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of the CA certificate to validate the LDAP secure connection. This field must be populated when 'requireValidCertificate' is set to true."
          }
        },
        "usernameDownloaded": {
          "target": "com.azure.storagecache#UsernameDownloadedType",
          "traits": {
            "smithy.api#documentation": "Indicates whether or not the HPC Cache has performed the username download successfully."
          }
        },
        "credentials": {
          "target": "com.azure.storagecache#CacheUsernameDownloadSettingsCredentials",
          "traits": {
            "smithy.api#documentation": "When present, these are the credentials for the secure LDAP connection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for Extended Groups username and group download."
      }
    },
    "com.azure.storagecache#CacheUsernameDownloadSettingsCredentials": {
      "type": "structure",
      "members": {
        "bindDn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Bind Distinguished Name identity to be used in the secure LDAP connection. This value is stored encrypted and not returned on response."
          }
        },
        "bindPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Bind password to be used in the secure LDAP connection. This value is stored encrypted and not returned on response.",
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When present, these are the credentials for the secure LDAP connection."
      }
    },
    "com.azure.storagecache#UsernameDownloadedType": {
      "type": "enum",
      "members": {
        "YES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Yes"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "No"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates whether or not the HPC Cache has performed the username download successfully."
      }
    },
    "com.azure.storagecache#CacheUsernameDownloadSettingsUsernameSource": {
      "type": "enum",
      "members": {
        "AD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD"
          }
        },
        "LDAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LDAP"
          }
        },
        "FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "File"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This setting determines how the cache gets username and group names for clients."
      }
    },
    "com.azure.storagecache#CacheActiveDirectorySettings": {
      "type": "structure",
      "members": {
        "primaryDnsIpAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Primary DNS IP address used to resolve the Active Directory domain controller's fully qualified domain name.",
            "smithy.api#required": {}
          }
        },
        "secondaryDnsIpAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Secondary DNS IP address used to resolve the Active Directory domain controller's fully qualified domain name."
          }
        },
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully qualified domain name of the Active Directory domain controller.",
            "smithy.api#required": {}
          }
        },
        "domainNetBiosName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Active Directory domain's NetBIOS name.",
            "smithy.api#required": {}
          }
        },
        "cacheNetBiosName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The NetBIOS name to assign to the HPC Cache when it joins the Active Directory domain as a server. Length must 1-15 characters from the class [-0-9a-zA-Z].",
            "smithy.api#required": {}
          }
        },
        "domainJoined": {
          "target": "com.azure.storagecache#DomainJoinedType",
          "traits": {
            "smithy.api#documentation": "True if the HPC Cache is joined to the Active Directory domain."
          }
        },
        "credentials": {
          "target": "com.azure.storagecache#CacheActiveDirectorySettingsCredentials",
          "traits": {
            "smithy.api#documentation": "Active Directory admin credentials used to join the HPC Cache to a domain."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Active Directory settings used to join a cache to a domain."
      }
    },
    "com.azure.storagecache#CacheActiveDirectorySettingsCredentials": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Username of the Active Directory domain administrator. This value is stored encrypted and not returned on response.",
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plain text password of the Active Directory domain administrator. This value is stored encrypted and not returned on response.",
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Active Directory admin credentials used to join the HPC Cache to a domain."
      }
    },
    "com.azure.storagecache#DomainJoinedType": {
      "type": "enum",
      "members": {
        "YES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Yes"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "No"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "True if the HPC Cache is joined to the Active Directory domain."
      }
    },
    "com.azure.storagecache#CacheSecuritySettings": {
      "type": "structure",
      "members": {
        "accessPolicies": {
          "target": "com.azure.storagecache#CacheSecuritySettingsAccessPoliciesList",
          "traits": {
            "smithy.api#documentation": "NFS access policies defined for this cache."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cache security settings."
      }
    },
    "com.azure.storagecache#CacheSecuritySettingsAccessPoliciesList": {
      "type": "list",
      "member": {
        "target": "com.azure.storagecache#NfsAccessPolicy"
      },
      "traits": {
        "smithy.api#documentation": "NFS access policies defined for this cache."
      }
    },
    "com.azure.storagecache#NfsAccessPolicy": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name identifying this policy. Access Policy names are not case sensitive.",
            "smithy.api#required": {}
          }
        },
        "accessRules": {
          "target": "com.azure.storagecache#NfsAccessPolicyAccessRulesList",
          "traits": {
            "smithy.api#documentation": "The set of rules describing client accesses allowed under this policy.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of rules describing access policies applied to NFSv3 clients of the cache."
      }
    },
    "com.azure.storagecache#NfsAccessPolicyAccessRulesList": {
      "type": "list",
      "member": {
        "target": "com.azure.storagecache#NfsAccessRule"
      },
      "traits": {
        "smithy.api#documentation": "The set of rules describing client accesses allowed under this policy."
      }
    },
    "com.azure.storagecache#NfsAccessRule": {
      "type": "structure",
      "members": {
        "scope": {
          "target": "com.azure.storagecache#NfsAccessRuleScope",
          "traits": {
            "smithy.api#documentation": "Scope for this rule. The scope and filter determine which clients match the rule.",
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter applied to the scope for this rule. The filter's format depends on its scope. 'default' scope matches all clients and has no filter value. 'network' scope takes a filter in CIDR format (for example, 10.99.1.0/24). 'host' takes an IP address or fully qualified domain name as filter. If a client does not match any filter rule and there is no default rule, access is denied."
          }
        },
        "access": {
          "target": "com.azure.storagecache#NfsAccessRuleAccess",
          "traits": {
            "smithy.api#documentation": "Access allowed by this rule.",
            "smithy.api#required": {}
          }
        },
        "suid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allow SUID semantics."
          }
        },
        "submountAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "For the default policy, allow access to subdirectories under the root export. If this is set to no, clients can only mount the path '/'. If set to yes, clients can mount a deeper path, like '/a/b'."
          }
        },
        "rootSquash": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Map root accesses to anonymousUID and anonymousGID."
          }
        },
        "anonymousUID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UID value that replaces 0 when rootSquash is true. 65534 will be used if not provided."
          }
        },
        "anonymousGID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GID value that replaces 0 when rootSquash is true. This will use the value of anonymousUID if not provided."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Rule to place restrictions on portions of the cache namespace being presented to clients."
      }
    },
    "com.azure.storagecache#NfsAccessRuleAccess": {
      "type": "enum",
      "members": {
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no"
          }
        },
        "RO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ro"
          }
        },
        "RW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rw"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Access allowed by this rule."
      }
    },
    "com.azure.storagecache#NfsAccessRuleScope": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "network"
          }
        },
        "HOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "host"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Scope for this rule. The scope and filter determine which clients match the rule."
      }
    },
    "com.azure.storagecache#CacheEncryptionSettings": {
      "type": "structure",
      "members": {
        "keyEncryptionKey": {
          "target": "com.azure.storagecache#KeyVaultKeyReference",
          "traits": {
            "smithy.api#documentation": "Specifies the location of the key encryption key in key vault."
          }
        },
        "rotationToLatestKeyVersionEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether the service will automatically rotate to the newest version of the key in the key vault."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cache encryption settings."
      }
    },
    "com.azure.storagecache#KeyVaultKeyReference": {
      "type": "structure",
      "members": {
        "keyUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL referencing a key encryption key in key vault.",
            "smithy.api#required": {}
          }
        },
        "sourceVault": {
          "target": "com.azure.storagecache#KeyVaultKeyReferenceSourceVault",
          "traits": {
            "smithy.api#documentation": "Describes a resource Id to source key vault.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a reference to key vault key."
      }
    },
    "com.azure.storagecache#KeyVaultKeyReferenceSourceVault": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Id."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a resource Id to source key vault."
      }
    },
    "com.azure.storagecache#CacheNetworkSettings": {
      "type": "structure",
      "members": {
        "mtu": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The IPv4 maximum transmission unit configured for the subnet."
          }
        },
        "utilityAddresses": {
          "target": "com.azure.storagecache#CacheNetworkSettingsUtilityAddressesList",
          "traits": {
            "smithy.api#documentation": "Array of additional IP addresses used by this cache."
          }
        },
        "dnsServers": {
          "target": "com.azure.storagecache#CacheNetworkSettingsDnsServersList",
          "traits": {
            "smithy.api#documentation": "DNS servers for the cache to use.  It will be set from the network configuration if no value is provided."
          }
        },
        "dnsSearchDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS search domain"
          }
        },
        "ntpServer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "NTP server IP Address or FQDN for the cache to use. The default is time.windows.com."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cache network settings."
      }
    },
    "com.azure.storagecache#CacheNetworkSettingsDnsServersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "DNS servers for the cache to use.  It will be set from the network configuration if no value is provided."
      }
    },
    "com.azure.storagecache#CacheNetworkSettingsUtilityAddressesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Array of additional IP addresses used by this cache."
      }
    },
    "com.azure.storagecache#CacheUpgradeSettings": {
      "type": "structure",
      "members": {
        "upgradeScheduleEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the user chooses to select an installation time between now and firmwareUpdateDeadline. Else the firmware will automatically be installed after firmwareUpdateDeadline if not triggered earlier via the upgrade operation."
          }
        },
        "scheduledTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When upgradeScheduleEnabled is true, this field holds the user-chosen upgrade time. At the user-chosen time, the firmware update will automatically be installed on the cache."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cache Upgrade Settings."
      }
    },
    "com.azure.storagecache#CacheUpgradeStatus": {
      "type": "structure",
      "members": {
        "currentFirmwareVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version string of the firmware currently installed on this cache."
          }
[...]
