{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.synapse#AzureADOnlyAuthenticationsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.synapse#AzureADOnlyAuthenticationsListRequest"
      },
      "output": {
        "target": "com.azure.synapse#AzureADOnlyAuthenticationListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/azureADOnlyAuthentications",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Gets a list of Azure Active Directory only authentication property\n\nGets a list of Azure Active Directory only authentication property for a workspace",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.synapse#AzureADOnlyAuthenticationListResult": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.synapse#AzureADOnlyAuthenticationListResultValueList",
          "traits": {
            "smithy.api#documentation": "Array of results."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to retrieve next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of active directory only authentications."
      }
    },
    "com.azure.synapse#AzureADOnlyAuthenticationListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.synapse#AzureADOnlyAuthentication"
      },
      "traits": {
        "smithy.api#documentation": "Array of results."
      }
    },
    "com.azure.synapse#AzureADOnlyAuthentication": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.synapse#AzureADOnlyAuthenticationProperties",
          "traits": {
            "smithy.api#documentation": "azureADOnlyAuthentication resource properties"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Azure Active Directory Only Authentication Info"
      }
    },
    "com.azure.synapse#AzureADOnlyAuthenticationProperties": {
      "type": "structure",
      "members": {
        "azureADOnlyAuthentication": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Azure Active Directory only Authentication enabled.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.azure.synapse#AzureADOnlyAuthenticationPropertiesState",
          "traits": {
            "smithy.api#documentation": "property configuration state"
          }
        },
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "property configuration date"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a active directory only authentication."
      }
    },
    "com.azure.synapse#AzureADOnlyAuthenticationPropertiesState": {
      "type": "enum",
      "members": {
        "CONSISTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Consistent"
          }
        },
        "INCONSISTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InConsistent"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "property configuration state"
      }
    },
    "com.azure.synapse#AzureADOnlyAuthenticationsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.synapse#AzureADOnlyAuthenticationsCreate": {
      "type": "operation",
      "input": {
        "target": "com.azure.synapse#AzureADOnlyAuthenticationsCreateRequest"
      },
      "output": {
        "target": "com.azure.synapse#AzureADOnlyAuthenticationsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/azureADOnlyAuthentications/{azureADOnlyAuthenticationName}",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Create or Update Azure Active Directory only authentication property\n\nCreate or Update a Azure Active Directory only authentication property for the workspaces",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.synapse#AzureADOnlyAuthenticationsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.synapse#AzureADOnlyAuthenticationProperties",
          "traits": {
            "smithy.api#documentation": "azureADOnlyAuthentication resource properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.synapse#AzureADOnlyAuthenticationsCreateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "azureADOnlyAuthenticationName": {
          "target": "com.azure.synapse#AzureADOnlyAuthenticationsCreateRequestAzureADOnlyAuthenticationName",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the property"
          }
        },
        "properties": {
          "target": "com.azure.synapse#AzureADOnlyAuthenticationPropertiesInput",
          "traits": {
            "smithy.api#documentation": "azureADOnlyAuthentication resource properties"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.synapse#AzureADOnlyAuthenticationPropertiesInput": {
      "type": "structure",
      "members": {
        "azureADOnlyAuthentication": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Azure Active Directory only Authentication enabled.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a active directory only authentication."
      }
    },
    "com.azure.synapse#AzureADOnlyAuthenticationsCreateRequestAzureADOnlyAuthenticationName": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        }
      },
      "traits": {}
    },
    "com.azure.synapse#AzureADOnlyAuthenticationsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.synapse#AzureADOnlyAuthenticationsGetRequest"
      },
      "output": {
        "target": "com.azure.synapse#AzureADOnlyAuthenticationsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/azureADOnlyAuthentications/{azureADOnlyAuthenticationName}",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Get Azure Active Directory only authentication property\n\nGets a Azure Active Directory only authentication property",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.synapse#AzureADOnlyAuthenticationsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.synapse#AzureADOnlyAuthenticationProperties",
          "traits": {
            "smithy.api#documentation": "azureADOnlyAuthentication resource properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.synapse#AzureADOnlyAuthenticationsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "azureADOnlyAuthenticationName": {
          "target": "com.azure.synapse#AzureADOnlyAuthenticationsGetRequestAzureADOnlyAuthenticationName",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "name of the property"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.synapse#AzureADOnlyAuthenticationsGetRequestAzureADOnlyAuthenticationName": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        }
      },
      "traits": {}
    },
    "com.azure.synapse#BigDataPoolsListByWorkspace": {
      "type": "operation",
      "input": {
        "target": "com.azure.synapse#BigDataPoolsListByWorkspaceRequest"
      },
      "output": {
        "target": "com.azure.synapse#BigDataPoolResourceInfoListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/bigDataPools",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "List the Big Data pools in a workspace.\n\nList Big Data pools in a workspace.",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.synapse#BigDataPoolResourceInfoListResult": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to the next page of results"
          }
        },
        "value": {
          "target": "com.azure.synapse#BigDataPoolResourceInfoListResultValueList",
          "traits": {
            "smithy.api#documentation": "List of Big Data pools"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collection of Big Data pool information"
      }
    },
    "com.azure.synapse#BigDataPoolResourceInfoListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.synapse#BigDataPoolResourceInfo"
      },
      "traits": {
        "smithy.api#documentation": "List of Big Data pools"
      }
    },
    "com.azure.synapse#BigDataPoolResourceInfo": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "tags": {
          "target": "com.azure.synapse#BigDataPoolResourceInfoTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.synapse#BigDataPoolResourceProperties",
          "traits": {
            "smithy.api#documentation": "Big Data pool properties"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Big Data pool"
      }
    },
    "com.azure.synapse#BigDataPoolResourceProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The state of the Big Data pool."
          }
        },
        "autoScale": {
          "target": "com.azure.synapse#AutoScaleProperties",
          "traits": {
            "smithy.api#documentation": "Auto-scaling properties"
          }
        },
        "creationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the Big Data pool was created."
          }
        },
        "autoPause": {
          "target": "com.azure.synapse#AutoPauseProperties",
          "traits": {
            "smithy.api#documentation": "Auto-pausing properties"
          }
        },
        "isComputeIsolationEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether compute isolation is required or not."
          }
        },
        "isAutotuneEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether autotune is required or not."
          }
        },
        "sessionLevelPackagesEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether session level packages enabled."
          }
        },
        "cacheSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The cache size"
          }
        },
        "dynamicExecutorAllocation": {
          "target": "com.azure.synapse#DynamicExecutorAllocation",
          "traits": {
            "smithy.api#documentation": "Dynamic Executor Allocation"
          }
        },
        "sparkEventsFolder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Spark events folder"
          }
        },
        "nodeCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of nodes in the Big Data pool."
          }
        },
        "libraryRequirements": {
          "target": "com.azure.synapse#LibraryRequirements",
          "traits": {
            "smithy.api#documentation": "Library version requirements"
          }
        },
        "customLibraries": {
          "target": "com.azure.synapse#BigDataPoolResourcePropertiesCustomLibrariesList",
          "traits": {
            "smithy.api#documentation": "List of custom libraries/packages associated with the spark pool."
          }
        },
        "sparkConfigProperties": {
          "target": "com.azure.synapse#SparkConfigProperties",
          "traits": {
            "smithy.api#documentation": "Spark configuration file to specify additional properties"
          }
        },
        "sparkVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Apache Spark version."
          }
        },
        "defaultSparkLogFolder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default folder where Spark logs will be written."
          }
        },
        "nodeSize": {
          "target": "com.azure.synapse#BigDataPoolResourcePropertiesNodeSize",
          "traits": {
            "smithy.api#documentation": "The level of compute power that each node in the Big Data pool has."
          }
        },
        "nodeSizeFamily": {
          "target": "com.azure.synapse#BigDataPoolResourcePropertiesNodeSizeFamily",
          "traits": {
            "smithy.api#documentation": "The kind of nodes that the Big Data pool provides."
          }
        },
        "lastSucceededTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when the Big Data pool was updated successfully."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a Big Data pool powered by Apache Spark"
      }
    },
    "com.azure.synapse#BigDataPoolResourcePropertiesNodeSizeFamily": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "MEMORYOPTIMIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MemoryOptimized"
          }
        },
        "HARDWAREACCELERATEDFPGA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HardwareAcceleratedFPGA"
          }
        },
        "HARDWAREACCELERATEDGPU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HardwareAcceleratedGPU"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The kind of nodes that the Big Data pool provides."
      }
    },
    "com.azure.synapse#BigDataPoolResourcePropertiesNodeSize": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Small"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Medium"
          }
        },
        "LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Large"
          }
        },
        "XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XLarge"
          }
        },
        "XXLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XXLarge"
          }
        },
        "XXXLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XXXLarge"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of compute power that each node in the Big Data pool has."
      }
    },
    "com.azure.synapse#SparkConfigProperties": {
      "type": "structure",
      "members": {
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last update time of the spark config properties file."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The spark config properties."
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filename of the spark config properties file."
          }
        },
        "configurationType": {
          "target": "com.azure.synapse#SparkConfigPropertiesConfigurationType",
          "traits": {
            "smithy.api#documentation": "The type of the spark config properties file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SparkConfig Properties for a Big Data pool powered by Apache Spark"
      }
    },
    "com.azure.synapse#SparkConfigPropertiesConfigurationType": {
      "type": "enum",
      "members": {
        "FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "File"
          }
        },
        "ARTIFACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Artifact"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the spark config properties file."
      }
    },
    "com.azure.synapse#BigDataPoolResourcePropertiesCustomLibrariesList": {
      "type": "list",
      "member": {
        "target": "com.azure.synapse#BigDataPoolResourcePropertiesCustomLibrariesItem"
      },
      "traits": {
        "smithy.api#documentation": "List of custom libraries/packages associated with the spark pool."
      }
    },
    "com.azure.synapse#BigDataPoolResourcePropertiesCustomLibrariesItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the library."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Storage blob path of library."
          }
        },
        "containerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Storage blob container name."
          }
        },
        "uploadedTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last update time of the library."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the library."
          }
        },
        "provisioningStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provisioning status of the library/package."
          }
        },
        "creatorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Creator Id of the library/package."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Library/package information of a Big Data pool powered by Apache Spark"
      }
    },
    "com.azure.synapse#LibraryRequirements": {
      "type": "structure",
      "members": {
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last update time of the library requirements file."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The library requirements."
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filename of the library requirements file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Library requirements for a Big Data pool powered by Apache Spark"
      }
    },
    "com.azure.synapse#DynamicExecutorAllocation": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether Dynamic Executor Allocation is enabled or not."
          }
        },
        "minExecutors": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The minimum number of executors alloted"
          }
        },
        "maxExecutors": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of executors alloted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dynamic Executor Allocation Properties"
      }
    },
    "com.azure.synapse#AutoPauseProperties": {
      "type": "structure",
      "members": {
        "delayInMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of minutes of idle time before the Big Data pool is automatically paused."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether auto-pausing is enabled for the Big Data pool."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Auto-pausing properties of a Big Data pool powered by Apache Spark"
      }
    },
    "com.azure.synapse#AutoScaleProperties": {
      "type": "structure",
      "members": {
        "minNodeCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The minimum number of nodes the Big Data pool can support."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether automatic scaling is enabled for the Big Data pool."
          }
        },
        "maxNodeCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of nodes the Big Data pool can support."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Auto-scaling properties of a Big Data pool powered by Apache Spark"
      }
    },
    "com.azure.synapse#BigDataPoolResourceInfoTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.synapse#BigDataPoolsListByWorkspaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.synapse#BigDataPoolsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.synapse#BigDataPoolsDeleteRequest"
      },
      "output": {
        "target": "com.azure.synapse#BigDataPoolsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/bigDataPools/{bigDataPoolName}",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Delete a Big Data pool.\n\nDelete a Big Data pool from the workspace.",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.synapse#BigDataPoolsDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "tags": {
          "target": "com.azure.synapse#BigDataPoolsDeleteResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.synapse#BigDataPoolResourceProperties",
          "traits": {
            "smithy.api#documentation": "Big Data pool properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.synapse#BigDataPoolsDeleteResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.synapse#BigDataPoolsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "bigDataPoolName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Big Data pool name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.synapse#BigDataPoolsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.synapse#BigDataPoolsUpdateRequest"
      },
      "output": {
        "target": "com.azure.synapse#BigDataPoolsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/bigDataPools/{bigDataPoolName}",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Update a Big Data pool.\n\nPatch a Big Data pool.",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.synapse#BigDataPoolsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "tags": {
          "target": "com.azure.synapse#BigDataPoolsUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.synapse#BigDataPoolResourceProperties",
          "traits": {
            "smithy.api#documentation": "Big Data pool properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.synapse#BigDataPoolsUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.synapse#BigDataPoolsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "bigDataPoolName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Big Data pool name"
          }
        },
        "tags": {
          "target": "com.azure.synapse#BigDataPoolsUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Updated tags for the Big Data pool"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.synapse#BigDataPoolsUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Updated tags for the Big Data pool"
      }
    },
    "com.azure.synapse#BigDataPoolsCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.synapse#BigDataPoolsCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.synapse#BigDataPoolsCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/bigDataPools/{bigDataPoolName}",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Create a Big Data pool.\n\nCreate a new Big Data pool.",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.synapse#BigDataPoolsCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "tags": {
          "target": "com.azure.synapse#BigDataPoolsCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.synapse#BigDataPoolResourceProperties",
          "traits": {
            "smithy.api#documentation": "Big Data pool properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.synapse#BigDataPoolsCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.synapse#BigDataPoolsCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "bigDataPoolName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Big Data pool name"
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "force",
            "smithy.api#documentation": "Whether to stop any running jobs in the Big Data pool"
          }
        },
        "tags": {
          "target": "com.azure.synapse#BigDataPoolsCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.synapse#BigDataPoolResourcePropertiesInput",
          "traits": {
            "smithy.api#documentation": "Big Data pool properties"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.synapse#BigDataPoolResourcePropertiesInput": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The state of the Big Data pool."
          }
        },
        "autoScale": {
          "target": "com.azure.synapse#AutoScaleProperties",
          "traits": {
            "smithy.api#documentation": "Auto-scaling properties"
          }
        },
        "autoPause": {
          "target": "com.azure.synapse#AutoPauseProperties",
          "traits": {
            "smithy.api#documentation": "Auto-pausing properties"
          }
        },
        "isComputeIsolationEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether compute isolation is required or not."
          }
        },
        "isAutotuneEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether autotune is required or not."
          }
        },
        "sessionLevelPackagesEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether session level packages enabled."
          }
        },
        "cacheSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The cache size"
          }
        },
        "dynamicExecutorAllocation": {
          "target": "com.azure.synapse#DynamicExecutorAllocation",
          "traits": {
            "smithy.api#documentation": "Dynamic Executor Allocation"
          }
        },
        "sparkEventsFolder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Spark events folder"
          }
        },
        "nodeCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of nodes in the Big Data pool."
          }
        },
        "libraryRequirements": {
          "target": "com.azure.synapse#LibraryRequirementsInput",
          "traits": {
            "smithy.api#documentation": "Library version requirements"
          }
        },
        "customLibraries": {
          "target": "com.azure.synapse#BigDataPoolResourcePropertiesInputCustomLibrariesList",
          "traits": {
            "smithy.api#documentation": "List of custom libraries/packages associated with the spark pool."
          }
        },
        "sparkConfigProperties": {
          "target": "com.azure.synapse#SparkConfigPropertiesInput",
          "traits": {
            "smithy.api#documentation": "Spark configuration file to specify additional properties"
          }
        },
        "sparkVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Apache Spark version."
          }
        },
        "defaultSparkLogFolder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default folder where Spark logs will be written."
          }
        },
        "nodeSize": {
          "target": "com.azure.synapse#BigDataPoolResourcePropertiesInputNodeSize",
          "traits": {
            "smithy.api#documentation": "The level of compute power that each node in the Big Data pool has."
          }
        },
        "nodeSizeFamily": {
          "target": "com.azure.synapse#BigDataPoolResourcePropertiesInputNodeSizeFamily",
          "traits": {
            "smithy.api#documentation": "The kind of nodes that the Big Data pool provides."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a Big Data pool powered by Apache Spark"
      }
    },
    "com.azure.synapse#BigDataPoolResourcePropertiesInputNodeSizeFamily": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "MEMORYOPTIMIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MemoryOptimized"
          }
        },
        "HARDWAREACCELERATEDFPGA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HardwareAcceleratedFPGA"
          }
        },
        "HARDWAREACCELERATEDGPU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HardwareAcceleratedGPU"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The kind of nodes that the Big Data pool provides."
      }
    },
    "com.azure.synapse#BigDataPoolResourcePropertiesInputNodeSize": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Small"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Medium"
          }
        },
        "LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Large"
          }
        },
        "XLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XLarge"
          }
        },
        "XXLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XXLarge"
          }
        },
        "XXXLARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XXXLarge"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The level of compute power that each node in the Big Data pool has."
      }
    },
    "com.azure.synapse#SparkConfigPropertiesInput": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The spark config properties."
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filename of the spark config properties file."
          }
        },
        "configurationType": {
          "target": "com.azure.synapse#SparkConfigPropertiesInputConfigurationType",
          "traits": {
            "smithy.api#documentation": "The type of the spark config properties file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SparkConfig Properties for a Big Data pool powered by Apache Spark"
      }
    },
    "com.azure.synapse#SparkConfigPropertiesInputConfigurationType": {
      "type": "enum",
      "members": {
        "FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "File"
          }
        },
        "ARTIFACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Artifact"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the spark config properties file."
      }
    },
    "com.azure.synapse#BigDataPoolResourcePropertiesInputCustomLibrariesList": {
      "type": "list",
      "member": {
        "target": "com.azure.synapse#BigDataPoolResourcePropertiesInputCustomLibrariesItem"
      },
      "traits": {
        "smithy.api#documentation": "List of custom libraries/packages associated with the spark pool."
      }
    },
    "com.azure.synapse#BigDataPoolResourcePropertiesInputCustomLibrariesItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the library."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Storage blob path of library."
          }
        },
        "containerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Storage blob container name."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the library."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Library/package information of a Big Data pool powered by Apache Spark"
      }
    },
    "com.azure.synapse#LibraryRequirementsInput": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The library requirements."
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The filename of the library requirements file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Library requirements for a Big Data pool powered by Apache Spark"
      }
    },
    "com.azure.synapse#BigDataPoolsCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.synapse#BigDataPoolsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.synapse#BigDataPoolsGetRequest"
      },
      "output": {
        "target": "com.azure.synapse#BigDataPoolsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/bigDataPools/{bigDataPoolName}",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Get Big Data pool\n\nGet a Big Data pool.",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.synapse#BigDataPoolsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "tags": {
          "target": "com.azure.synapse#BigDataPoolsGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.synapse#BigDataPoolResourceProperties",
          "traits": {
            "smithy.api#documentation": "Big Data pool properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.synapse#BigDataPoolsGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.synapse#BigDataPoolsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "bigDataPoolName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Big Data pool name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.synapse#OperationsCheckNameAvailability": {
      "type": "operation",
      "input": {
        "target": "com.azure.synapse#OperationsCheckNameAvailabilityRequest"
      },
      "output": {
        "target": "com.azure.synapse#CheckNameAvailabilityResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/providers/Microsoft.Synapse/checkNameAvailability",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Check name availability\n\nCheck whether a workspace name is available",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.synapse#CheckNameAvailabilityResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Validation message"
          }
        },
        "available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the workspace name is available"
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason the workspace name is or is not available"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Workspace name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response saying whether the workspace name is available"
      }
    },
    "com.azure.synapse#OperationsCheckNameAvailabilityRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Workspace name"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type: workspace"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.synapse#IpFirewallRulesReplaceAll": {
      "type": "operation",
      "input": {
        "target": "com.azure.synapse#IpFirewallRulesReplaceAllRequest"
      },
      "output": {
        "target": "com.azure.synapse#ReplaceAllFirewallRulesOperationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/replaceAllIpFirewallRules",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Replaces firewall rules",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.synapse#ReplaceAllFirewallRulesOperationResponse": {
      "type": "structure",
      "members": {
        "operationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operation ID"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An existing operation for replacing the firewall rules"
      }
    },
    "com.azure.synapse#IpFirewallRulesReplaceAllRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "ipFirewallRules": {
          "target": "com.azure.synapse#IpFirewallRulesReplaceAllRequestIpFirewallRulesMap",
          "traits": {
            "smithy.api#documentation": "IP firewall rule properties"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.synapse#IpFirewallRulesReplaceAllRequestIpFirewallRulesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.azure.synapse#IpFirewallRulePropertiesInput"
      },
      "traits": {
        "smithy.api#documentation": "IP firewall rule properties"
      }
    },
    "com.azure.synapse#IpFirewallRulePropertiesInput": {
      "type": "structure",
      "members": {
        "endIpAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end IP address of the firewall rule. Must be IPv4 format. Must be greater than or equal to startIpAddress"
          }
        },
        "startIpAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start IP address of the firewall rule. Must be IPv4 format"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IP firewall rule properties"
      }
    },
    "com.azure.synapse#IpFirewallRulesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.synapse#IpFirewallRulesDeleteRequest"
      },
      "output": {
        "target": "com.azure.synapse#IpFirewallRulesDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/firewallRules/{ruleName}",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Deletes a firewall rule",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.synapse#IpFirewallRulesDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.synapse#IpFirewallRuleProperties",
          "traits": {
            "smithy.api#documentation": "IP firewall rule properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.synapse#IpFirewallRuleProperties": {
      "type": "structure",
      "members": {
        "endIpAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The end IP address of the firewall rule. Must be IPv4 format. Must be greater than or equal to startIpAddress"
          }
        },
        "provisioningState": {
          "target": "com.azure.synapse#IpFirewallRulePropertiesProvisioningState",
          "traits": {
            "smithy.api#documentation": "Resource provisioning state"
          }
        },
        "startIpAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The start IP address of the firewall rule. Must be IPv4 format"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IP firewall rule properties"
      }
    },
    "com.azure.synapse#IpFirewallRulePropertiesProvisioningState": {
      "type": "enum",
      "members": {
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "DELETEERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DeleteError"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource provisioning state"
      }
    },
    "com.azure.synapse#IpFirewallRulesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "ruleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The IP firewall rule name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.synapse#IpFirewallRulesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.synapse#IpFirewallRulesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.synapse#IpFirewallRulesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/firewallRules/{ruleName}",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Creates or updates a firewall rule",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.synapse#IpFirewallRulesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.synapse#IpFirewallRuleProperties",
          "traits": {
            "smithy.api#documentation": "IP firewall rule properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.synapse#IpFirewallRulesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "ruleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The IP firewall rule name"
          }
        },
        "properties": {
          "target": "com.azure.synapse#IpFirewallRulePropertiesInput",
          "traits": {
            "smithy.api#documentation": "IP firewall rule properties"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.synapse#IpFirewallRulesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.synapse#IpFirewallRulesGetRequest"
      },
      "output": {
        "target": "com.azure.synapse#IpFirewallRulesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/firewallRules/{ruleName}",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Get a firewall rule",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.synapse#IpFirewallRulesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.synapse#IpFirewallRuleProperties",
          "traits": {
            "smithy.api#documentation": "IP firewall rule properties"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.synapse#IpFirewallRulesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "ruleName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The IP firewall rule name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.synapse#IpFirewallRulesListByWorkspace": {
      "type": "operation",
      "input": {
        "target": "com.azure.synapse#IpFirewallRulesListByWorkspaceRequest"
      },
      "output": {
        "target": "com.azure.synapse#IpFirewallRuleInfoListResult"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/firewallRules",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Returns a list of firewall rules",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.synapse#IpFirewallRuleInfoListResult": {
      "type": "structure",
      "members": {
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to next page of results"
          }
        },
        "value": {
          "target": "com.azure.synapse#IpFirewallRuleInfoListResultValueList",
          "traits": {
            "smithy.api#documentation": "List of IP firewall rules"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of IP firewall rules"
      }
    },
    "com.azure.synapse#IpFirewallRuleInfoListResultValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.synapse#IpFirewallRuleInfo"
      },
      "traits": {
        "smithy.api#documentation": "List of IP firewall rules"
      }
    },
    "com.azure.synapse#IpFirewallRuleInfo": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "properties": {
          "target": "com.azure.synapse#IpFirewallRuleProperties",
          "traits": {
            "smithy.api#documentation": "IP firewall rule properties"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "IP firewall rule"
      }
    },
    "com.azure.synapse#IpFirewallRulesListByWorkspaceRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.synapse#IntegrationRuntimesDisableInteractiveQuery": {
      "type": "operation",
      "input": {
        "target": "com.azure.synapse#IntegrationRuntimesDisableInteractiveQueryRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}/disableInteractiveQuery",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Disable interactive query in integration runtime",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.synapse#IntegrationRuntimesDisableInteractiveQueryRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "integrationRuntimeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Integration runtime name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.synapse#IntegrationRuntimesEnableInteractiveQuery": {
      "type": "operation",
      "input": {
        "target": "com.azure.synapse#IntegrationRuntimesEnableInteractiveQueryRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}/enableInteractiveQuery",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Enable interactive query in integration runtime",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.synapse#IntegrationRuntimesEnableInteractiveQueryRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "integrationRuntimeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Integration runtime name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.synapse#IntegrationRuntimesListOutboundNetworkDependenciesEndpoints": {
      "type": "operation",
      "input": {
        "target": "com.azure.synapse#IntegrationRuntimesListOutboundNetworkDependenciesEndpointsRequest"
      },
      "output": {
        "target": "com.azure.synapse#IntegrationRuntimeOutboundNetworkDependenciesEndpointsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}/outboundNetworkDependenciesEndpoints",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Gets list of outbound network dependencies for a given Azure-SSIS integration runtime.\n\nGets the list of outbound network dependencies for a given Azure-SSIS integration runtime.",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.synapse#IntegrationRuntimeOutboundNetworkDependenciesEndpointsResponse": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.synapse#IntegrationRuntimeOutboundNetworkDependenciesEndpointsResponseValueList",
          "traits": {
            "smithy.api#documentation": "The list of outbound network dependency endpoints."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Azure-SSIS integration runtime outbound network dependency endpoints."
      }
    },
    "com.azure.synapse#IntegrationRuntimeOutboundNetworkDependenciesEndpointsResponseValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.synapse#IntegrationRuntimeOutboundNetworkDependenciesCategoryEndpoint"
      },
      "traits": {
        "smithy.api#documentation": "The list of outbound network dependency endpoints."
      }
    },
    "com.azure.synapse#IntegrationRuntimeOutboundNetworkDependenciesCategoryEndpoint": {
      "type": "structure",
      "members": {
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The category of outbound network dependency."
          }
        },
        "endpoints": {
          "target": "com.azure.synapse#IntegrationRuntimeOutboundNetworkDependenciesCategoryEndpointEndpointsList",
          "traits": {
            "smithy.api#documentation": "The endpoints for outbound network dependency."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Azure-SSIS integration runtime outbound network dependency endpoints for one category."
      }
    },
    "com.azure.synapse#IntegrationRuntimeOutboundNetworkDependenciesCategoryEndpointEndpointsList": {
      "type": "list",
      "member": {
        "target": "com.azure.synapse#IntegrationRuntimeOutboundNetworkDependenciesEndpoint"
      },
      "traits": {
        "smithy.api#documentation": "The endpoints for outbound network dependency."
      }
    },
    "com.azure.synapse#IntegrationRuntimeOutboundNetworkDependenciesEndpoint": {
      "type": "structure",
      "members": {
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The domain name of endpoint."
          }
        },
        "endpointDetails": {
          "target": "com.azure.synapse#IntegrationRuntimeOutboundNetworkDependenciesEndpointEndpointDetailsList",
          "traits": {
            "smithy.api#documentation": "The details of endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The endpoint for Azure-SSIS integration runtime outbound network dependency."
      }
    },
    "com.azure.synapse#IntegrationRuntimeOutboundNetworkDependenciesEndpointEndpointDetailsList": {
      "type": "list",
      "member": {
        "target": "com.azure.synapse#IntegrationRuntimeOutboundNetworkDependenciesEndpointDetails"
      },
      "traits": {
        "smithy.api#documentation": "The details of endpoint."
      }
    },
    "com.azure.synapse#IntegrationRuntimeOutboundNetworkDependenciesEndpointDetails": {
      "type": "structure",
      "members": {
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The port of endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details of Azure-SSIS integration runtime outbound network dependency endpoint."
      }
    },
    "com.azure.synapse#IntegrationRuntimesListOutboundNetworkDependenciesEndpointsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "integrationRuntimeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Integration runtime name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.synapse#IntegrationRuntimeStatusGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.synapse#IntegrationRuntimeStatusGetRequest"
      },
      "output": {
        "target": "com.azure.synapse#IntegrationRuntimeStatusResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}/getStatus",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Get integration runtime status\n\nGet the integration runtime status",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.synapse#IntegrationRuntimeStatusResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The integration runtime name."
          }
        },
        "properties": {
          "target": "com.azure.synapse#IntegrationRuntimeStatus",
          "traits": {
            "smithy.api#documentation": "Integration runtime properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Integration runtime status response."
      }
    },
    "com.azure.synapse#IntegrationRuntimeStatus": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.azure.synapse#IntegrationRuntimeType",
          "traits": {
            "smithy.api#documentation": "Type of integration runtime.",
            "smithy.api#required": {}
          }
        },
        "dataFactoryName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The workspace name which the integration runtime belong to."
          }
        },
        "state": {
          "target": "com.azure.synapse#IntegrationRuntimeState",
          "traits": {
            "smithy.api#documentation": "The state of integration runtime."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Integration runtime status."
      }
    },
    "com.azure.synapse#IntegrationRuntimeState": {
      "type": "enum",
      "members": {
        "INITIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Initial"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Stopped"
          }
        },
        "STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Started"
          }
        },
        "STARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Starting"
          }
        },
        "STOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Stopping"
          }
        },
        "NEEDREGISTRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NeedRegistration"
          }
        },
        "ONLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Online"
          }
        },
        "LIMITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Limited"
          }
        },
        "OFFLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Offline"
          }
        },
        "ACCESSDENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AccessDenied"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of integration runtime."
      }
    },
    "com.azure.synapse#IntegrationRuntimeType": {
      "type": "enum",
      "members": {
        "MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Managed"
          }
        },
        "SELFHOSTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SelfHosted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of integration runtime."
      }
    },
    "com.azure.synapse#IntegrationRuntimeStatusGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "integrationRuntimeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Integration runtime name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.synapse#IntegrationRuntimeObjectMetadataRefresh": {
      "type": "operation",
      "input": {
        "target": "com.azure.synapse#IntegrationRuntimeObjectMetadataRefreshRequest"
      },
      "output": {
        "target": "com.azure.synapse#SsisObjectMetadataStatusResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}/refreshObjectMetadata",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Refresh integration runtime object metadata\n\nRefresh the object metadata in an integration runtime",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.synapse#SsisObjectMetadataStatusResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The status of the operation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operation name."
          }
        },
        "properties": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operation properties."
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The operation error message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the operation."
      }
    },
    "com.azure.synapse#IntegrationRuntimeObjectMetadataRefreshRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "workspaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the workspace."
          }
        },
        "integrationRuntimeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Integration runtime name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.synapse#IntegrationRuntimesStop": {
      "type": "operation",
      "input": {
        "target": "com.azure.synapse#IntegrationRuntimesStopRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}/stop",
          "code": 200,
          "apiVersion": "2021-06-01"
        },
        "smithy.api#documentation": "Stop integration runtime\n\nStop an integration runtime",
        "com.distilled.openapi#apiVersion": "2021-06-01"
      }
    },
    "com.azure.synapse#IntegrationRuntimesStopRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
[...]
