{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.vmware#WorkloadNetworksDeleteVMGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.vmware#WorkloadNetworksDeleteVMGroupRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/vmGroups/{vmGroupId}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Delete a WorkloadNetworkVMGroup",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.vmware#WorkloadNetworksDeleteVMGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "privateCloudName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the private cloud"
          }
        },
        "vmGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the VM group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.vmware#WorkloadNetworksUpdateVMGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.vmware#WorkloadNetworksUpdateVMGroupRequest"
      },
      "output": {
        "target": "com.azure.vmware#WorkloadNetworksUpdateVMGroupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/vmGroups/{vmGroupId}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Update a WorkloadNetworkVMGroup",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.vmware#WorkloadNetworksUpdateVMGroupResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.vmware#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.vmware#WorkloadNetworkVMGroupProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.vmware#WorkloadNetworkVMGroupProperties": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the VM group."
          }
        },
        "members": {
          "target": "com.azure.vmware#WorkloadNetworkVMGroupPropertiesMembersList",
          "traits": {
            "smithy.api#documentation": "Virtual machine members of this group."
          }
        },
        "status": {
          "target": "com.azure.vmware#VMGroupStatusEnum",
          "traits": {
            "smithy.api#documentation": "VM Group status."
          }
        },
        "provisioningState": {
          "target": "com.azure.vmware#WorkloadNetworkVMGroupProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state"
          }
        },
        "revision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "NSX revision number."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NSX VM Group Properties"
      }
    },
    "com.azure.vmware#WorkloadNetworkVMGroupProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Building"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Workload Network VM Group provisioning state"
      }
    },
    "com.azure.vmware#VMGroupStatusEnum": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILURE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VM group status"
      }
    },
    "com.azure.vmware#WorkloadNetworkVMGroupPropertiesMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Virtual machine members of this group."
      }
    },
    "com.azure.vmware#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.vmware#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.vmware#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.vmware#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.vmware#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.vmware#WorkloadNetworksUpdateVMGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "privateCloudName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the private cloud"
          }
        },
        "vmGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the VM group."
          }
        },
        "properties": {
          "target": "com.azure.vmware#WorkloadNetworkVMGroupPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.vmware#WorkloadNetworkVMGroupPropertiesInput": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the VM group."
          }
        },
        "members": {
          "target": "com.azure.vmware#WorkloadNetworkVMGroupPropertiesInputMembersList",
          "traits": {
            "smithy.api#documentation": "Virtual machine members of this group."
          }
        },
        "revision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "NSX revision number."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NSX VM Group Properties"
      }
    },
    "com.azure.vmware#WorkloadNetworkVMGroupPropertiesInputMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Virtual machine members of this group."
      }
    },
    "com.azure.vmware#WorkloadNetworksCreateVMGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.vmware#WorkloadNetworksCreateVMGroupRequest"
      },
      "output": {
        "target": "com.azure.vmware#WorkloadNetworksCreateVMGroupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/vmGroups/{vmGroupId}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Create a WorkloadNetworkVMGroup",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.vmware#WorkloadNetworksCreateVMGroupResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.vmware#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.vmware#WorkloadNetworkVMGroupProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.vmware#WorkloadNetworksCreateVMGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "privateCloudName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the private cloud"
          }
        },
        "vmGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the VM group."
          }
        },
        "properties": {
          "target": "com.azure.vmware#WorkloadNetworkVMGroupPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.vmware#WorkloadNetworksGetVMGroup": {
      "type": "operation",
      "input": {
        "target": "com.azure.vmware#WorkloadNetworksGetVMGroupRequest"
      },
      "output": {
        "target": "com.azure.vmware#WorkloadNetworksGetVMGroupResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/vmGroups/{vmGroupId}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Get a WorkloadNetworkVMGroup",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.vmware#WorkloadNetworksGetVMGroupResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.vmware#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.vmware#WorkloadNetworkVMGroupProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.vmware#WorkloadNetworksGetVMGroupRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "privateCloudName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the private cloud"
          }
        },
        "vmGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the VM group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.vmware#WorkloadNetworksListVMGroups": {
      "type": "operation",
      "input": {
        "target": "com.azure.vmware#WorkloadNetworksListVMGroupsRequest"
      },
      "output": {
        "target": "com.azure.vmware#WorkloadNetworkVMGroupsList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/vmGroups",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "List WorkloadNetworkVMGroup resources by WorkloadNetwork",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.vmware#WorkloadNetworkVMGroupsList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.vmware#WorkloadNetworkVMGroupsListValueList",
          "traits": {
            "smithy.api#documentation": "The WorkloadNetworkVMGroup items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a WorkloadNetworkVMGroup list operation."
      }
    },
    "com.azure.vmware#WorkloadNetworkVMGroupsListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.vmware#WorkloadNetworkVMGroup"
      },
      "traits": {
        "smithy.api#documentation": "The WorkloadNetworkVMGroup items on this page"
      }
    },
    "com.azure.vmware#WorkloadNetworkVMGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.vmware#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.vmware#WorkloadNetworkVMGroupProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NSX VM Group"
      }
    },
    "com.azure.vmware#WorkloadNetworksListVMGroupsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "privateCloudName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the private cloud"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.vmware#WorkloadNetworksGetVirtualMachine": {
      "type": "operation",
      "input": {
        "target": "com.azure.vmware#WorkloadNetworksGetVirtualMachineRequest"
      },
      "output": {
        "target": "com.azure.vmware#WorkloadNetworksGetVirtualMachineResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/virtualMachines/{virtualMachineId}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Get a WorkloadNetworkVirtualMachine",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.vmware#WorkloadNetworksGetVirtualMachineResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.vmware#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.vmware#WorkloadNetworkVirtualMachineProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.vmware#WorkloadNetworkVirtualMachineProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.vmware#WorkloadNetworkProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the resource."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the VM."
          }
        },
        "vmType": {
          "target": "com.azure.vmware#VMTypeEnum",
          "traits": {
            "smithy.api#documentation": "Virtual machine type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NSX Virtual Machine Properties"
      }
    },
    "com.azure.vmware#VMTypeEnum": {
      "type": "enum",
      "members": {
        "REGULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGULAR"
          }
        },
        "EDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EDGE"
          }
        },
        "SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VM type"
      }
    },
    "com.azure.vmware#WorkloadNetworkProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Building"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "base Workload Network provisioning state"
      }
    },
    "com.azure.vmware#WorkloadNetworksGetVirtualMachineRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "privateCloudName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the private cloud"
          }
        },
        "virtualMachineId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the virtual machine."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.vmware#WorkloadNetworksListVirtualMachines": {
      "type": "operation",
      "input": {
        "target": "com.azure.vmware#WorkloadNetworksListVirtualMachinesRequest"
      },
      "output": {
        "target": "com.azure.vmware#WorkloadNetworkVirtualMachinesList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/virtualMachines",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "List WorkloadNetworkVirtualMachine resources by WorkloadNetwork",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.vmware#WorkloadNetworkVirtualMachinesList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.vmware#WorkloadNetworkVirtualMachinesListValueList",
          "traits": {
            "smithy.api#documentation": "The WorkloadNetworkVirtualMachine items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a WorkloadNetworkVirtualMachine list operation."
      }
    },
    "com.azure.vmware#WorkloadNetworkVirtualMachinesListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.vmware#WorkloadNetworkVirtualMachine"
      },
      "traits": {
        "smithy.api#documentation": "The WorkloadNetworkVirtualMachine items on this page"
      }
    },
    "com.azure.vmware#WorkloadNetworkVirtualMachine": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.vmware#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.vmware#WorkloadNetworkVirtualMachineProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NSX Virtual Machine"
      }
    },
    "com.azure.vmware#WorkloadNetworksListVirtualMachinesRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "privateCloudName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the private cloud"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.vmware#WorkloadNetworksDeleteSegment": {
      "type": "operation",
      "input": {
        "target": "com.azure.vmware#WorkloadNetworksDeleteSegmentRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/segments/{segmentId}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Delete a WorkloadNetworkSegment",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.vmware#WorkloadNetworksDeleteSegmentRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "privateCloudName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the private cloud"
          }
        },
        "segmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the NSX Segment"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.vmware#WorkloadNetworksUpdateSegments": {
      "type": "operation",
      "input": {
        "target": "com.azure.vmware#WorkloadNetworksUpdateSegmentsRequest"
      },
      "output": {
        "target": "com.azure.vmware#WorkloadNetworksUpdateSegmentsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/segments/{segmentId}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Update a WorkloadNetworkSegment",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.vmware#WorkloadNetworksUpdateSegmentsResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.vmware#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.vmware#WorkloadNetworkSegmentProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.vmware#WorkloadNetworkSegmentProperties": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the segment."
          }
        },
        "connectedGateway": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gateway which to connect segment to."
          }
        },
        "subnet": {
          "target": "com.azure.vmware#WorkloadNetworkSegmentSubnet",
          "traits": {
            "smithy.api#documentation": "Subnet which to connect segment to."
          }
        },
        "portVif": {
          "target": "com.azure.vmware#WorkloadNetworkSegmentPropertiesPortVifList",
          "traits": {
            "smithy.api#documentation": "Port Vif which segment is associated with."
          }
        },
        "status": {
          "target": "com.azure.vmware#SegmentStatusEnum",
          "traits": {
            "smithy.api#documentation": "Segment status."
          }
        },
        "provisioningState": {
          "target": "com.azure.vmware#WorkloadNetworkSegmentProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state"
          }
        },
        "revision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "NSX revision number."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NSX Segment Properties"
      }
    },
    "com.azure.vmware#WorkloadNetworkSegmentProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Building"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Workload Network Segment provisioning state"
      }
    },
    "com.azure.vmware#SegmentStatusEnum": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILURE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Segment status"
      }
    },
    "com.azure.vmware#WorkloadNetworkSegmentPropertiesPortVifList": {
      "type": "list",
      "member": {
        "target": "com.azure.vmware#WorkloadNetworkSegmentPortVif"
      },
      "traits": {
        "smithy.api#documentation": "Port Vif which segment is associated with."
      }
    },
    "com.azure.vmware#WorkloadNetworkSegmentPortVif": {
      "type": "structure",
      "members": {
        "portName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of port or VIF attached to segment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ports and any VIF attached to segment."
      }
    },
    "com.azure.vmware#WorkloadNetworkSegmentSubnet": {
      "type": "structure",
      "members": {
        "dhcpRanges": {
          "target": "com.azure.vmware#WorkloadNetworkSegmentSubnetDhcpRangesList",
          "traits": {
            "smithy.api#documentation": "DHCP Range assigned for subnet."
          }
        },
        "gatewayAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gateway address."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Subnet configuration for segment"
      }
    },
    "com.azure.vmware#WorkloadNetworkSegmentSubnetDhcpRangesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "DHCP Range assigned for subnet."
      }
    },
    "com.azure.vmware#WorkloadNetworksUpdateSegmentsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "privateCloudName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the private cloud"
          }
        },
        "segmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the NSX Segment"
          }
        },
        "properties": {
          "target": "com.azure.vmware#WorkloadNetworkSegmentPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.vmware#WorkloadNetworkSegmentPropertiesInput": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the segment."
          }
        },
        "connectedGateway": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gateway which to connect segment to."
          }
        },
        "subnet": {
          "target": "com.azure.vmware#WorkloadNetworkSegmentSubnet",
          "traits": {
            "smithy.api#documentation": "Subnet which to connect segment to."
          }
        },
        "revision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "NSX revision number."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NSX Segment Properties"
      }
    },
    "com.azure.vmware#WorkloadNetworksCreateSegments": {
      "type": "operation",
      "input": {
        "target": "com.azure.vmware#WorkloadNetworksCreateSegmentsRequest"
      },
      "output": {
        "target": "com.azure.vmware#WorkloadNetworksCreateSegmentsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/segments/{segmentId}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Create a WorkloadNetworkSegment",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.vmware#WorkloadNetworksCreateSegmentsResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.vmware#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.vmware#WorkloadNetworkSegmentProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.vmware#WorkloadNetworksCreateSegmentsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "privateCloudName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the private cloud"
          }
        },
        "segmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the NSX Segment"
          }
        },
        "properties": {
          "target": "com.azure.vmware#WorkloadNetworkSegmentPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.vmware#WorkloadNetworksGetSegment": {
      "type": "operation",
      "input": {
        "target": "com.azure.vmware#WorkloadNetworksGetSegmentRequest"
      },
      "output": {
        "target": "com.azure.vmware#WorkloadNetworksGetSegmentResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/segments/{segmentId}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Get a WorkloadNetworkSegment",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.vmware#WorkloadNetworksGetSegmentResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.vmware#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.vmware#WorkloadNetworkSegmentProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.vmware#WorkloadNetworksGetSegmentRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "privateCloudName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the private cloud"
          }
        },
        "segmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the NSX Segment"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.vmware#WorkloadNetworksListSegments": {
      "type": "operation",
      "input": {
        "target": "com.azure.vmware#WorkloadNetworksListSegmentsRequest"
      },
      "output": {
        "target": "com.azure.vmware#WorkloadNetworkSegmentsList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/segments",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "List WorkloadNetworkSegment resources by WorkloadNetwork",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.vmware#WorkloadNetworkSegmentsList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.vmware#WorkloadNetworkSegmentsListValueList",
          "traits": {
            "smithy.api#documentation": "The WorkloadNetworkSegment items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a WorkloadNetworkSegment list operation."
      }
    },
    "com.azure.vmware#WorkloadNetworkSegmentsListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.vmware#WorkloadNetworkSegment"
      },
      "traits": {
        "smithy.api#documentation": "The WorkloadNetworkSegment items on this page"
      }
    },
    "com.azure.vmware#WorkloadNetworkSegment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.vmware#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.vmware#WorkloadNetworkSegmentProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NSX Segment"
      }
    },
    "com.azure.vmware#WorkloadNetworksListSegmentsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "privateCloudName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the private cloud"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.vmware#WorkloadNetworksDeletePublicIP": {
      "type": "operation",
      "input": {
        "target": "com.azure.vmware#WorkloadNetworksDeletePublicIPRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/publicIPs/{publicIPId}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Delete a WorkloadNetworkPublicIP",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.vmware#WorkloadNetworksDeletePublicIPRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "privateCloudName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the private cloud"
          }
        },
        "publicIPId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the DNS zone."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.vmware#WorkloadNetworksCreatePublicIP": {
      "type": "operation",
      "input": {
        "target": "com.azure.vmware#WorkloadNetworksCreatePublicIPRequest"
      },
      "output": {
        "target": "com.azure.vmware#WorkloadNetworksCreatePublicIPResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/publicIPs/{publicIPId}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Create a WorkloadNetworkPublicIP",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.vmware#WorkloadNetworksCreatePublicIPResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.vmware#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.vmware#WorkloadNetworkPublicIPProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.vmware#WorkloadNetworkPublicIPProperties": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the Public IP Block."
          }
        },
        "numberOfPublicIPs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of Public IPs requested."
          }
        },
        "publicIPBlock": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CIDR Block of the Public IP Block."
          }
        },
        "provisioningState": {
          "target": "com.azure.vmware#WorkloadNetworkPublicIPProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NSX Public IP Block Properties"
      }
    },
    "com.azure.vmware#WorkloadNetworkPublicIPProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Building"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Workload Network Public IP provisioning state"
      }
    },
    "com.azure.vmware#WorkloadNetworksCreatePublicIPRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "privateCloudName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the private cloud"
          }
        },
        "publicIPId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the DNS zone."
          }
        },
        "properties": {
          "target": "com.azure.vmware#WorkloadNetworkPublicIPPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.vmware#WorkloadNetworkPublicIPPropertiesInput": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the Public IP Block."
          }
        },
        "numberOfPublicIPs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of Public IPs requested."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NSX Public IP Block Properties"
      }
    },
    "com.azure.vmware#WorkloadNetworksGetPublicIP": {
      "type": "operation",
      "input": {
        "target": "com.azure.vmware#WorkloadNetworksGetPublicIPRequest"
      },
      "output": {
        "target": "com.azure.vmware#WorkloadNetworksGetPublicIPResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/publicIPs/{publicIPId}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Get a WorkloadNetworkPublicIP",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.vmware#WorkloadNetworksGetPublicIPResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.vmware#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.vmware#WorkloadNetworkPublicIPProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.vmware#WorkloadNetworksGetPublicIPRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "privateCloudName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the private cloud"
          }
        },
        "publicIPId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the DNS zone."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.vmware#WorkloadNetworksListPublicIPs": {
      "type": "operation",
      "input": {
        "target": "com.azure.vmware#WorkloadNetworksListPublicIPsRequest"
      },
      "output": {
        "target": "com.azure.vmware#WorkloadNetworkPublicIPsList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/publicIPs",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "List WorkloadNetworkPublicIP resources by WorkloadNetwork",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.vmware#WorkloadNetworkPublicIPsList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.vmware#WorkloadNetworkPublicIPsListValueList",
          "traits": {
            "smithy.api#documentation": "The WorkloadNetworkPublicIP items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a WorkloadNetworkPublicIP list operation."
      }
    },
    "com.azure.vmware#WorkloadNetworkPublicIPsListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.vmware#WorkloadNetworkPublicIP"
      },
      "traits": {
        "smithy.api#documentation": "The WorkloadNetworkPublicIP items on this page"
      }
    },
    "com.azure.vmware#WorkloadNetworkPublicIP": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.vmware#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.vmware#WorkloadNetworkPublicIPProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NSX Public IP Block"
      }
    },
    "com.azure.vmware#WorkloadNetworksListPublicIPsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "privateCloudName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the private cloud"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.vmware#WorkloadNetworksDeletePortMirroring": {
      "type": "operation",
      "input": {
        "target": "com.azure.vmware#WorkloadNetworksDeletePortMirroringRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/portMirroringProfiles/{portMirroringId}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Delete a WorkloadNetworkPortMirroring",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.vmware#WorkloadNetworksDeletePortMirroringRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "privateCloudName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the private cloud"
          }
        },
        "portMirroringId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the NSX port mirroring profile."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.vmware#WorkloadNetworksUpdatePortMirroring": {
      "type": "operation",
      "input": {
        "target": "com.azure.vmware#WorkloadNetworksUpdatePortMirroringRequest"
      },
      "output": {
        "target": "com.azure.vmware#WorkloadNetworksUpdatePortMirroringResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/portMirroringProfiles/{portMirroringId}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Update a WorkloadNetworkPortMirroring",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.vmware#WorkloadNetworksUpdatePortMirroringResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.vmware#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.vmware#WorkloadNetworkPortMirroringProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.vmware#WorkloadNetworkPortMirroringProperties": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the port mirroring profile."
          }
        },
        "direction": {
          "target": "com.azure.vmware#PortMirroringDirectionEnum",
          "traits": {
            "smithy.api#documentation": "Direction of port mirroring profile."
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source VM Group."
          }
        },
        "destination": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Destination VM Group."
          }
        },
        "status": {
          "target": "com.azure.vmware#PortMirroringStatusEnum",
          "traits": {
            "smithy.api#documentation": "Port Mirroring Status."
          }
        },
        "provisioningState": {
          "target": "com.azure.vmware#WorkloadNetworkPortMirroringProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state"
          }
        },
        "revision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "NSX revision number."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NSX Port Mirroring Properties"
      }
    },
    "com.azure.vmware#WorkloadNetworkPortMirroringProvisioningState": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Building"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Workload Network Port Mirroring provisioning state"
      }
    },
    "com.azure.vmware#PortMirroringStatusEnum": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILURE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Port Mirroring status"
      }
    },
    "com.azure.vmware#PortMirroringDirectionEnum": {
      "type": "enum",
      "members": {
        "INGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGRESS"
          }
        },
        "EGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EGRESS"
          }
        },
        "BIDIRECTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIDIRECTIONAL"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Port Mirroring Direction"
      }
    },
    "com.azure.vmware#WorkloadNetworksUpdatePortMirroringRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "privateCloudName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the private cloud"
          }
        },
        "portMirroringId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the NSX port mirroring profile."
          }
        },
        "properties": {
          "target": "com.azure.vmware#WorkloadNetworkPortMirroringPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.vmware#WorkloadNetworkPortMirroringPropertiesInput": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the port mirroring profile."
          }
        },
        "direction": {
          "target": "com.azure.vmware#PortMirroringDirectionEnum",
          "traits": {
            "smithy.api#documentation": "Direction of port mirroring profile."
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source VM Group."
          }
        },
        "destination": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Destination VM Group."
          }
        },
        "revision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "NSX revision number."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NSX Port Mirroring Properties"
      }
    },
    "com.azure.vmware#WorkloadNetworksCreatePortMirroring": {
      "type": "operation",
      "input": {
        "target": "com.azure.vmware#WorkloadNetworksCreatePortMirroringRequest"
      },
      "output": {
        "target": "com.azure.vmware#WorkloadNetworksCreatePortMirroringResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/portMirroringProfiles/{portMirroringId}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Create a WorkloadNetworkPortMirroring",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.vmware#WorkloadNetworksCreatePortMirroringResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.vmware#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.vmware#WorkloadNetworkPortMirroringProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.vmware#WorkloadNetworksCreatePortMirroringRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "privateCloudName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the private cloud"
          }
        },
        "portMirroringId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the NSX port mirroring profile."
          }
        },
        "properties": {
          "target": "com.azure.vmware#WorkloadNetworkPortMirroringPropertiesInput",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.vmware#WorkloadNetworksGetPortMirroring": {
      "type": "operation",
      "input": {
        "target": "com.azure.vmware#WorkloadNetworksGetPortMirroringRequest"
      },
      "output": {
        "target": "com.azure.vmware#WorkloadNetworksGetPortMirroringResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/portMirroringProfiles/{portMirroringId}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Get a WorkloadNetworkPortMirroring",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.vmware#WorkloadNetworksGetPortMirroringResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.vmware#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.vmware#WorkloadNetworkPortMirroringProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.vmware#WorkloadNetworksGetPortMirroringRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "privateCloudName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the private cloud"
          }
        },
        "portMirroringId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the NSX port mirroring profile."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.vmware#WorkloadNetworksListPortMirroring": {
      "type": "operation",
      "input": {
        "target": "com.azure.vmware#WorkloadNetworksListPortMirroringRequest"
      },
      "output": {
        "target": "com.azure.vmware#WorkloadNetworkPortMirroringList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/portMirroringProfiles",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "List WorkloadNetworkPortMirroring resources by WorkloadNetwork",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.vmware#WorkloadNetworkPortMirroringList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.vmware#WorkloadNetworkPortMirroringListValueList",
          "traits": {
            "smithy.api#documentation": "The WorkloadNetworkPortMirroring items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of a WorkloadNetworkPortMirroring list operation."
      }
    },
    "com.azure.vmware#WorkloadNetworkPortMirroringListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.vmware#WorkloadNetworkPortMirroring"
      },
      "traits": {
        "smithy.api#documentation": "The WorkloadNetworkPortMirroring items on this page"
      }
    },
    "com.azure.vmware#WorkloadNetworkPortMirroring": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.vmware#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.vmware#WorkloadNetworkPortMirroringProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NSX Port Mirroring"
      }
    },
    "com.azure.vmware#WorkloadNetworksListPortMirroringRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "privateCloudName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the private cloud"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.vmware#WorkloadNetworksGetGateway": {
      "type": "operation",
      "input": {
        "target": "com.azure.vmware#WorkloadNetworksGetGatewayRequest"
      },
      "output": {
        "target": "com.azure.vmware#WorkloadNetworksGetGatewayResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AVS/privateClouds/{privateCloudName}/workloadNetworks/default/gateways/{gatewayId}",
          "code": 200,
          "apiVersion": "2025-09-01"
        },
        "smithy.api#documentation": "Get a WorkloadNetworkGateway",
        "com.distilled.openapi#apiVersion": "2025-09-01"
      }
    },
    "com.azure.vmware#WorkloadNetworksGetGatewayResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.vmware#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.vmware#WorkloadNetworkGatewayProperties",
          "traits": {
            "smithy.api#documentation": "The resource-specific properties for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.vmware#WorkloadNetworkGatewayProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.vmware#WorkloadNetworkProvisioningState",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the resource."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the DHCP entity."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "NSX Gateway Path."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a NSX Gateway."
      }
    },
    "com.azure.vmware#WorkloadNetworksGetGatewayRequest": {
      "type": "structure",
[...]
