{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.web#ValidateMove": {
      "type": "operation",
      "input": {
        "target": "com.azure.web#ValidateMoveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/validateMoveResources",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Validate whether a resource can be moved.\n\nDescription for Validate whether a resource can be moved.",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.web#ValidateMoveRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "targetResourceGroup": {
          "target": "smithy.api#String"
        },
        "resources": {
          "target": "com.azure.web#ValidateMoveRequestResourcesList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.web#ValidateMoveRequestResourcesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.azure.web#Validate": {
      "type": "operation",
      "input": {
        "target": "com.azure.web#ValidateRequest"
      },
      "output": {
        "target": "com.azure.web#ValidateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/validate",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Validate if a resource can be created.\n\nDescription for Validate if a resource can be created.",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.web#ValidateResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Result of validation."
          }
        },
        "error": {
          "target": "com.azure.web#ValidateResponseError",
          "traits": {
            "smithy.api#documentation": "Error details for the case when validation fails."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the result of resource validation."
      }
    },
    "com.azure.web#ValidateResponseError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Validation error code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Validation error message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Error details for when validation fails."
      }
    },
    "com.azure.web#ValidateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name to verify.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.azure.web#ValidateResourceTypes",
          "traits": {
            "smithy.api#documentation": "Resource type used for verification.",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Expected location of the resource.",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.web#ValidatePropertiesInput",
          "traits": {
            "smithy.api#documentation": "Properties of the resource to validate.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.web#ValidatePropertiesInput": {
      "type": "structure",
      "members": {
        "serverFarmId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ARM resource ID of an App Service plan that would host the app."
          }
        },
        "skuName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the target SKU for the App Service plan."
          }
        },
        "needLinuxWorkers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<code>true</code> if App Service plan is for Linux workers; otherwise, <code>false</code>."
          }
        },
        "isSpot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<code>true</code> if App Service plan is for Spot instances; otherwise, <code>false</code>."
          }
        },
        "capacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Target capacity of the App Service plan (number of VMs)."
          }
        },
        "hostingEnvironment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of App Service Environment where app or App Service plan should be created."
          }
        },
        "isXenon": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<code>true</code> if App Service plan is running as a windows container"
          }
        },
        "containerRegistryBaseUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base URL of the container registry"
          }
        },
        "containerRegistryUsername": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Username for to access the container registry"
          }
        },
        "containerRegistryPassword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Password for to access the container registry",
            "smithy.api#sensitive": {}
          }
        },
        "containerImageRepository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository name (image name)"
          }
        },
        "containerImageTag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image tag"
          }
        },
        "containerImagePlatform": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Platform (windows or linux)"
          }
        },
        "appServiceEnvironment": {
          "target": "com.azure.web#AppServiceEnvironmentInput",
          "traits": {
            "smithy.api#documentation": "App Service Environment Properties"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "App properties used for validation."
      }
    },
    "com.azure.web#AppServiceEnvironmentInput": {
      "type": "structure",
      "members": {
        "virtualNetwork": {
          "target": "com.azure.web#VirtualNetworkProfileInput",
          "traits": {
            "smithy.api#documentation": "Description of the Virtual Network.",
            "smithy.api#required": {}
          }
        },
        "internalLoadBalancingMode": {
          "target": "com.azure.web#LoadBalancingMode",
          "traits": {
            "smithy.api#documentation": "Specifies which endpoints to serve internally in the Virtual Network for the App Service Environment."
          }
        },
        "multiSize": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Front-end VM size, e.g. \"Medium\", \"Large\"."
          }
        },
        "ipsslAddressCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of IP SSL addresses reserved for the App Service Environment."
          }
        },
        "dnsSuffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DNS suffix of the App Service Environment."
          }
        },
        "frontEndScaleFactor": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Scale factor for front-ends."
          }
        },
        "clusterSettings": {
          "target": "com.azure.web#AppServiceEnvironmentInputClusterSettingsList",
          "traits": {
            "smithy.api#documentation": "Custom settings for changing the behavior of the App Service Environment."
          }
        },
        "userWhitelistedIpRanges": {
          "target": "com.azure.web#AppServiceEnvironmentInputUserWhitelistedIpRangesList",
          "traits": {
            "smithy.api#documentation": "User added ip ranges to whitelist on ASE db"
          }
        },
        "upgradePreference": {
          "target": "com.azure.web#AppServiceEnvironmentInputUpgradePreference",
          "traits": {
            "smithy.api#documentation": "Upgrade Preference"
          }
        },
        "dedicatedHostCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Dedicated Host Count"
          }
        },
        "zoneRedundant": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not this App Service Environment is zone-redundant."
          }
        },
        "customDnsSuffixConfiguration": {
          "target": "com.azure.web#CustomDnsSuffixConfigurationInput",
          "traits": {
            "smithy.api#documentation": "Full view of the custom domain suffix configuration for ASEv3."
          }
        },
        "networkingConfiguration": {
          "target": "com.azure.web#AseV3NetworkingConfigurationInput",
          "traits": {
            "smithy.api#documentation": "Full view of networking configuration for an ASE."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Description of an App Service Environment."
      }
    },
    "com.azure.web#AseV3NetworkingConfigurationInput": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.azure.web#AseV3NetworkingConfigurationPropertiesInput",
          "traits": {
            "smithy.api#documentation": "AseV3NetworkingConfiguration resource specific properties"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Full view of networking configuration for an ASE."
      }
    },
    "com.azure.web#AseV3NetworkingConfigurationPropertiesInput": {
      "type": "structure",
      "members": {
        "allowNewPrivateEndpointConnections": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Property to enable and disable new private endpoint connection creation on ASE"
          }
        },
        "ftpEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Property to enable and disable FTP on ASEV3"
          }
        },
        "remoteDebugEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Property to enable and disable Remote Debug on ASEV3"
          }
        },
        "inboundIpAddressOverride": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer provided Inbound IP Address. Only able to be set on Ase create."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AseV3NetworkingConfiguration resource specific properties"
      }
    },
    "com.azure.web#CustomDnsSuffixConfigurationInput": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.azure.web#CustomDnsSuffixConfigurationPropertiesInput",
          "traits": {
            "smithy.api#documentation": "CustomDnsSuffixConfiguration resource specific properties"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Full view of the custom domain suffix configuration for ASEv3."
      }
    },
    "com.azure.web#CustomDnsSuffixConfigurationPropertiesInput": {
      "type": "structure",
      "members": {
        "dnsSuffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The default custom domain suffix to use for all sites deployed on the ASE."
          }
        },
        "certificateUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL referencing the Azure Key Vault certificate secret that should be used as the default SSL/TLS certificate for sites with the custom domain suffix."
          }
        },
        "keyVaultReferenceIdentity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user-assigned identity to use for resolving the key vault certificate reference. If not specified, the system-assigned ASE identity will be used if available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CustomDnsSuffixConfiguration resource specific properties"
      }
    },
    "com.azure.web#AppServiceEnvironmentInputUpgradePreference": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "EARLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Early"
          }
        },
        "LATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Late"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Manual"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Upgrade Preference"
      }
    },
    "com.azure.web#AppServiceEnvironmentInputUserWhitelistedIpRangesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "User added ip ranges to whitelist on ASE db"
      }
    },
    "com.azure.web#AppServiceEnvironmentInputClusterSettingsList": {
      "type": "list",
      "member": {
        "target": "com.azure.web#NameValuePair"
      },
      "traits": {
        "smithy.api#documentation": "Custom settings for changing the behavior of the App Service Environment."
      }
    },
    "com.azure.web#NameValuePair": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pair name."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pair value."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Name value pair."
      }
    },
    "com.azure.web#LoadBalancingMode": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Web"
          }
        },
        "PUBLISHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Publishing"
          }
        },
        "WEB_PUBLISHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Web, Publishing"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies which endpoints to serve internally in the Virtual Network for the App Service Environment."
      }
    },
    "com.azure.web#VirtualNetworkProfileInput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource id of the Virtual Network.",
            "smithy.api#required": {}
          }
        },
        "subnet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subnet within the Virtual Network."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specification for using a Virtual Network."
      }
    },
    "com.azure.web#ValidateResourceTypes": {
      "type": "enum",
      "members": {
        "SERVERFARM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ServerFarm"
          }
        },
        "SITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Site"
          }
        },
        "MICROSOFT_WEB_HOSTINGENVIRONMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Microsoft.Web/hostingEnvironments"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource type used for verification."
      }
    },
    "com.azure.web#StaticSitesCreateZipDeploymentForStaticSite": {
      "type": "operation",
      "input": {
        "target": "com.azure.web#StaticSitesCreateZipDeploymentForStaticSiteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/zipdeploy",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Deploys zipped content to a static site.\n\nDescription for Deploys zipped content to a static site.",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.web#StaticSitesCreateZipDeploymentForStaticSiteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the static site."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of resource."
          }
        },
        "properties": {
          "target": "com.azure.web#StaticSiteZipDeployment",
          "traits": {
            "smithy.api#documentation": "Core resource properties"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.web#StaticSiteZipDeployment": {
      "type": "structure",
      "members": {
        "appZipUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL for the zipped app content"
          }
        },
        "apiZipUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL for the zipped api content"
          }
        },
        "deploymentTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A title to label the deployment"
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The provider submitting this deployment"
          }
        },
        "functionLanguage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language of the api content, if it exists"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A static site zip deployment."
      }
    },
    "com.azure.web#StaticSitesDetachUserProvidedFunctionAppFromStaticSite": {
      "type": "operation",
      "input": {
        "target": "com.azure.web#StaticSitesDetachUserProvidedFunctionAppFromStaticSiteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/userProvidedFunctionApps/{functionAppName}",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Detach the user provided function app from the static site\n\nDescription for Detach the user provided function app from the static site",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.web#StaticSitesDetachUserProvidedFunctionAppFromStaticSiteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the static site."
          }
        },
        "functionAppName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the function app registered with the static site."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.web#StaticSitesRegisterUserProvidedFunctionAppWithStaticSite": {
      "type": "operation",
      "input": {
        "target": "com.azure.web#StaticSitesRegisterUserProvidedFunctionAppWithStaticSiteRequest"
      },
      "output": {
        "target": "com.azure.web#StaticSitesRegisterUserProvidedFunctionAppWithStaticSiteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/userProvidedFunctionApps/{functionAppName}",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Register a user provided function app with a static site\n\nDescription for Register a user provided function app with a static site",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.web#StaticSitesRegisterUserProvidedFunctionAppWithStaticSiteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.web#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.web#StaticSiteUserProvidedFunctionAppARMResourceProperties",
          "traits": {
            "smithy.api#documentation": "StaticSiteUserProvidedFunctionAppARMResource resource specific properties"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.web#StaticSiteUserProvidedFunctionAppARMResourceProperties": {
      "type": "structure",
      "members": {
        "functionAppResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id of the function app registered with the static site"
          }
        },
        "functionAppRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region of the function app registered with the static site"
          }
        },
        "createdOn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time on which the function app was registered with the static site."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "StaticSiteUserProvidedFunctionAppARMResource resource specific properties"
      }
    },
    "com.azure.web#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.web#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.web#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.web#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.web#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.web#StaticSitesRegisterUserProvidedFunctionAppWithStaticSiteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the static site."
          }
        },
        "functionAppName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the function app registered with the static site."
          }
        },
        "isForced": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "isForced",
            "smithy.api#documentation": "Specify <code>true</code> to force the update of the auth configuration on the function app even if an AzureStaticWebApps provider is already configured on the function app. The default is <code>false</code>."
          }
        },
        "properties": {
          "target": "com.azure.web#StaticSiteUserProvidedFunctionAppARMResourcePropertiesInput",
          "traits": {
            "smithy.api#documentation": "StaticSiteUserProvidedFunctionAppARMResource resource specific properties"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.web#StaticSiteUserProvidedFunctionAppARMResourcePropertiesInput": {
      "type": "structure",
      "members": {
        "functionAppResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id of the function app registered with the static site"
          }
        },
        "functionAppRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region of the function app registered with the static site"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "StaticSiteUserProvidedFunctionAppARMResource resource specific properties"
      }
    },
    "com.azure.web#StaticSitesGetUserProvidedFunctionAppForStaticSite": {
      "type": "operation",
      "input": {
        "target": "com.azure.web#StaticSitesGetUserProvidedFunctionAppForStaticSiteRequest"
      },
      "output": {
        "target": "com.azure.web#StaticSitesGetUserProvidedFunctionAppForStaticSiteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/userProvidedFunctionApps/{functionAppName}",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Gets the details of the user provided function app registered with a static site\n\nDescription for Gets the details of the user provided function app registered with a static site",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.web#StaticSitesGetUserProvidedFunctionAppForStaticSiteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.web#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.web#StaticSiteUserProvidedFunctionAppARMResourceProperties",
          "traits": {
            "smithy.api#documentation": "StaticSiteUserProvidedFunctionAppARMResource resource specific properties"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.web#StaticSitesGetUserProvidedFunctionAppForStaticSiteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the static site."
          }
        },
        "functionAppName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the function app registered with the static site."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.web#StaticSitesGetUserProvidedFunctionAppsForStaticSite": {
      "type": "operation",
      "input": {
        "target": "com.azure.web#StaticSitesGetUserProvidedFunctionAppsForStaticSiteRequest"
      },
      "output": {
        "target": "com.azure.web#StaticSiteUserProvidedFunctionAppsCollection"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/userProvidedFunctionApps",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Gets the details of the user provided function apps registered with a static site\n\nDescription for Gets the details of the user provided function apps registered with a static site",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.web#StaticSiteUserProvidedFunctionAppsCollection": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.web#StaticSiteUserProvidedFunctionAppsCollectionValueList",
          "traits": {
            "smithy.api#documentation": "The StaticSiteUserProvidedFunctionAppARMResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collection of static site user provided function apps."
      }
    },
    "com.azure.web#StaticSiteUserProvidedFunctionAppsCollectionValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.web#StaticSiteUserProvidedFunctionAppARMResource"
      },
      "traits": {
        "smithy.api#documentation": "The StaticSiteUserProvidedFunctionAppARMResource items on this page"
      }
    },
    "com.azure.web#StaticSiteUserProvidedFunctionAppARMResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.web#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.web#StaticSiteUserProvidedFunctionAppARMResourceProperties",
          "traits": {
            "smithy.api#documentation": "StaticSiteUserProvidedFunctionAppARMResource resource specific properties"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Static Site User Provided Function App ARM resource."
      }
    },
    "com.azure.web#StaticSitesGetUserProvidedFunctionAppsForStaticSiteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the static site."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.web#StaticSitesGetDatabaseConnectionsWithDetails": {
      "type": "operation",
      "input": {
        "target": "com.azure.web#StaticSitesGetDatabaseConnectionsWithDetailsRequest"
      },
      "output": {
        "target": "com.azure.web#DatabaseConnectionCollection"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/showDatabaseConnections",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Returns details of database connections for a static site\n\nReturns details of database connections for a static site",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.web#DatabaseConnectionCollection": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.web#DatabaseConnectionCollectionValueList",
          "traits": {
            "smithy.api#documentation": "The DatabaseConnection items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collection of static site database connections."
      }
    },
    "com.azure.web#DatabaseConnectionCollectionValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.web#DatabaseConnection"
      },
      "traits": {
        "smithy.api#documentation": "The DatabaseConnection items on this page"
      }
    },
    "com.azure.web#DatabaseConnection": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.web#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.web#DatabaseConnectionProperties",
          "traits": {
            "smithy.api#documentation": "DatabaseConnection resource specific properties"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Static Site Database Connection resource."
      }
    },
    "com.azure.web#DatabaseConnectionProperties": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id of the database.",
            "smithy.api#required": {}
          }
        },
        "connectionIdentity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If present, the identity is used in conjunction with connection string to connect to the database. Use of the system-assigned managed identity is indicated with the string 'SystemAssigned', while use of a user-assigned managed identity is indicated with the resource id of the managed identity resource."
          }
        },
        "connectionString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The connection string to use to connect to the database.",
            "smithy.api#sensitive": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region of the database resource.",
            "smithy.api#required": {}
          }
        },
        "configurationFiles": {
          "target": "com.azure.web#DatabaseConnectionPropertiesConfigurationFilesList",
          "traits": {
            "smithy.api#documentation": "A list of configuration files associated with this database connection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DatabaseConnection resource specific properties"
      }
    },
    "com.azure.web#DatabaseConnectionPropertiesConfigurationFilesList": {
      "type": "list",
      "member": {
        "target": "com.azure.web#StaticSiteDatabaseConnectionConfigurationFileOverview"
      },
      "traits": {
        "smithy.api#documentation": "A list of configuration files associated with this database connection."
      }
    },
    "com.azure.web#StaticSiteDatabaseConnectionConfigurationFileOverview": {
      "type": "structure",
      "members": {
        "fileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the configuration file."
          }
        },
        "contents": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Base64 encoding of the file contents."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of configuration file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A database connection configuration file"
      }
    },
    "com.azure.web#StaticSitesGetDatabaseConnectionsWithDetailsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the static site."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.web#StaticSitesResetStaticSiteApiKey": {
      "type": "operation",
      "input": {
        "target": "com.azure.web#StaticSitesResetStaticSiteApiKeyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/resetapikey",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Resets the api key for an existing static site.\n\nDescription for Resets the api key for an existing static site.",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.web#StaticSitesResetStaticSiteApiKeyRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the static site."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of resource."
          }
        },
        "properties": {
          "target": "com.azure.web#StaticSiteResetPropertiesARMResourceProperties",
          "traits": {
            "smithy.api#documentation": "StaticSiteResetPropertiesARMResource resource specific properties"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.web#StaticSiteResetPropertiesARMResourceProperties": {
      "type": "structure",
      "members": {
        "repositoryToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token which proves admin privileges to the repository."
          }
        },
        "shouldUpdateRepository": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines whether the repository should be updated with the new properties."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "StaticSiteResetPropertiesARMResource resource specific properties"
      }
    },
    "com.azure.web#StaticSitesGetPrivateLinkResources": {
      "type": "operation",
      "input": {
        "target": "com.azure.web#StaticSitesGetPrivateLinkResourcesRequest"
      },
      "output": {
        "target": "com.azure.web#PrivateLinkResourcesWrapper"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/privateLinkResources",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Gets the private link resources\n\nDescription for Gets the private link resources",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.web#PrivateLinkResourcesWrapper": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.web#PrivateLinkResourcesWrapperValueList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Wrapper for a collection of private link resources"
      }
    },
    "com.azure.web#PrivateLinkResourcesWrapperValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.web#PrivateLinkResource"
      },
      "traits": {}
    },
    "com.azure.web#PrivateLinkResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of a private link resource",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.azure.web#PrivateLinkResourceProperties",
          "traits": {
            "smithy.api#documentation": "Properties of a private link resource",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A private link resource"
      }
    },
    "com.azure.web#PrivateLinkResourceProperties": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GroupId of a private link resource"
          }
        },
        "requiredMembers": {
          "target": "com.azure.web#PrivateLinkResourcePropertiesRequiredMembersList",
          "traits": {
            "smithy.api#documentation": "RequiredMembers of a private link resource"
          }
        },
        "requiredZoneNames": {
          "target": "com.azure.web#PrivateLinkResourcePropertiesRequiredZoneNamesList",
          "traits": {
            "smithy.api#documentation": "RequiredZoneNames of a private link resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Properties of a private link resource"
      }
    },
    "com.azure.web#PrivateLinkResourcePropertiesRequiredZoneNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "RequiredZoneNames of a private link resource"
      }
    },
    "com.azure.web#PrivateLinkResourcePropertiesRequiredMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "RequiredMembers of a private link resource"
      }
    },
    "com.azure.web#StaticSitesGetPrivateLinkResourcesRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the static site."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.web#StaticSitesDeletePrivateEndpointConnection": {
      "type": "operation",
      "input": {
        "target": "com.azure.web#StaticSitesDeletePrivateEndpointConnectionRequest"
      },
      "output": {
        "target": "com.azure.web#StaticSitesDeletePrivateEndpointConnectionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Deletes a private endpoint connection\n\nDescription for Deletes a private endpoint connection",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.web#StaticSitesDeletePrivateEndpointConnectionResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.web#StaticSitesDeletePrivateEndpointConnectionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the static site."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the private endpoint connection."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.web#StaticSitesApproveOrRejectPrivateEndpointConnection": {
      "type": "operation",
      "input": {
        "target": "com.azure.web#StaticSitesApproveOrRejectPrivateEndpointConnectionRequest"
      },
      "output": {
        "target": "com.azure.web#StaticSitesApproveOrRejectPrivateEndpointConnectionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Approves or rejects a private endpoint connection\n\nDescription for Approves or rejects a private endpoint connection",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.web#StaticSitesApproveOrRejectPrivateEndpointConnectionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.web#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.web#RemotePrivateEndpointConnectionARMResourceProperties",
          "traits": {
            "smithy.api#documentation": "RemotePrivateEndpointConnectionARMResource resource specific properties"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.web#RemotePrivateEndpointConnectionARMResourceProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "smithy.api#String"
        },
        "privateEndpoint": {
          "target": "com.azure.web#ArmIdWrapper",
          "traits": {
            "smithy.api#documentation": "PrivateEndpoint of a remote private endpoint connection"
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.web#PrivateLinkConnectionState",
          "traits": {
            "smithy.api#documentation": "The state of a private link connection"
          }
        },
        "ipAddresses": {
          "target": "com.azure.web#RemotePrivateEndpointConnectionARMResourcePropertiesIpAddressesList",
          "traits": {
            "smithy.api#documentation": "Private IPAddresses mapped to the remote private endpoint"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RemotePrivateEndpointConnectionARMResource resource specific properties"
      }
    },
    "com.azure.web#RemotePrivateEndpointConnectionARMResourcePropertiesIpAddressesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Private IPAddresses mapped to the remote private endpoint"
      }
    },
    "com.azure.web#PrivateLinkConnectionState": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of a private link connection"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of a private link connection"
          }
        },
        "actionsRequired": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ActionsRequired for a private link connection"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of a private link connection"
      }
    },
    "com.azure.web#ArmIdWrapper": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A wrapper for an ARM resource id"
      }
    },
    "com.azure.web#StaticSitesApproveOrRejectPrivateEndpointConnectionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the static site."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the private endpoint connection."
          }
        },
        "properties": {
          "target": "com.azure.web#RemotePrivateEndpointConnectionARMResourcePropertiesInput",
          "traits": {
            "smithy.api#documentation": "RemotePrivateEndpointConnectionARMResource resource specific properties"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.web#RemotePrivateEndpointConnectionARMResourcePropertiesInput": {
      "type": "structure",
      "members": {
        "privateEndpoint": {
          "target": "com.azure.web#ArmIdWrapperInput",
          "traits": {
            "smithy.api#documentation": "PrivateEndpoint of a remote private endpoint connection"
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.web#PrivateLinkConnectionState",
          "traits": {
            "smithy.api#documentation": "The state of a private link connection"
          }
        },
        "ipAddresses": {
          "target": "com.azure.web#RemotePrivateEndpointConnectionARMResourcePropertiesInputIpAddressesList",
          "traits": {
            "smithy.api#documentation": "Private IPAddresses mapped to the remote private endpoint"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RemotePrivateEndpointConnectionARMResource resource specific properties"
      }
    },
    "com.azure.web#RemotePrivateEndpointConnectionARMResourcePropertiesInputIpAddressesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Private IPAddresses mapped to the remote private endpoint"
      }
    },
    "com.azure.web#ArmIdWrapperInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A wrapper for an ARM resource id"
      }
    },
    "com.azure.web#StaticSitesGetPrivateEndpointConnection": {
      "type": "operation",
      "input": {
        "target": "com.azure.web#StaticSitesGetPrivateEndpointConnectionRequest"
      },
      "output": {
        "target": "com.azure.web#StaticSitesGetPrivateEndpointConnectionResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Gets a private endpoint connection\n\nDescription for Gets a private endpoint connection",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.web#StaticSitesGetPrivateEndpointConnectionResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.web#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.web#RemotePrivateEndpointConnectionARMResourceProperties",
          "traits": {
            "smithy.api#documentation": "RemotePrivateEndpointConnectionARMResource resource specific properties"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.web#StaticSitesGetPrivateEndpointConnectionRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the static site."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the private endpoint connection."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.web#StaticSitesGetPrivateEndpointConnectionList": {
      "type": "operation",
      "input": {
        "target": "com.azure.web#StaticSitesGetPrivateEndpointConnectionListRequest"
      },
      "output": {
        "target": "com.azure.web#PrivateEndpointConnectionCollection"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/privateEndpointConnections",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Gets the list of private endpoint connections associated with a static site\n\nDescription for Gets the list of private endpoint connections associated with a static site",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.web#PrivateEndpointConnectionCollection": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.web#PrivateEndpointConnectionCollectionValueList",
          "traits": {
            "smithy.api#documentation": "The RemotePrivateEndpointConnectionARMResource items on this page",
            "smithy.api#required": {}
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The link to the next page of items"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Paged collection of RemotePrivateEndpointConnectionARMResource items"
      }
    },
    "com.azure.web#PrivateEndpointConnectionCollectionValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.web#RemotePrivateEndpointConnectionARMResource"
      },
      "traits": {
        "smithy.api#documentation": "The RemotePrivateEndpointConnectionARMResource items on this page"
      }
    },
    "com.azure.web#RemotePrivateEndpointConnectionARMResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.web#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.web#RemotePrivateEndpointConnectionARMResourceProperties",
          "traits": {
            "smithy.api#documentation": "RemotePrivateEndpointConnectionARMResource resource specific properties"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Remote Private Endpoint Connection ARM resource."
      }
    },
    "com.azure.web#StaticSitesGetPrivateEndpointConnectionListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the static site."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.web#StaticSitesListStaticSiteSecrets": {
      "type": "operation",
      "input": {
        "target": "com.azure.web#StaticSitesListStaticSiteSecretsRequest"
      },
      "output": {
        "target": "com.azure.web#StaticSitesListStaticSiteSecretsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/listSecrets",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Lists the secrets for an existing static site.\n\nDescription for Lists the secrets for an existing static site.",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.web#StaticSitesListStaticSiteSecretsResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Id."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Name."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "properties": {
          "target": "com.azure.web#StaticSitesListStaticSiteSecretsResponsePropertiesMap",
          "traits": {
            "smithy.api#documentation": "Settings."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.web#StaticSitesListStaticSiteSecretsResponsePropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Settings."
      }
    },
    "com.azure.web#StaticSitesListStaticSiteSecretsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the static site."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.web#StaticSitesListStaticSiteFunctionAppSettings": {
      "type": "operation",
      "input": {
        "target": "com.azure.web#StaticSitesListStaticSiteFunctionAppSettingsRequest"
      },
      "output": {
        "target": "com.azure.web#StaticSitesListStaticSiteFunctionAppSettingsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/listFunctionAppSettings",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Gets the application settings of a static site.\n\nDescription for Gets the application settings of a static site.",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.web#StaticSitesListStaticSiteFunctionAppSettingsResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Id."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Name."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "properties": {
          "target": "com.azure.web#StaticSitesListStaticSiteFunctionAppSettingsResponsePropertiesMap",
          "traits": {
            "smithy.api#documentation": "Settings."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.web#StaticSitesListStaticSiteFunctionAppSettingsResponsePropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Settings."
      }
    },
    "com.azure.web#StaticSitesListStaticSiteFunctionAppSettingsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the static site."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.web#StaticSitesListStaticSiteConfiguredRoles": {
      "type": "operation",
      "input": {
        "target": "com.azure.web#StaticSitesListStaticSiteConfiguredRolesRequest"
      },
      "output": {
        "target": "com.azure.web#StaticSitesListStaticSiteConfiguredRolesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/listConfiguredRoles",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Lists the roles configured for the static site.\n\nDescription for Lists the roles configured for the static site.",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.web#StaticSitesListStaticSiteConfiguredRolesResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Id."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Name."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "properties": {
          "target": "com.azure.web#StaticSitesListStaticSiteConfiguredRolesResponsePropertiesList",
          "traits": {
            "smithy.api#documentation": "List of string resources."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.web#StaticSitesListStaticSiteConfiguredRolesResponsePropertiesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of string resources."
      }
    },
    "com.azure.web#StaticSitesListStaticSiteConfiguredRolesRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the static site."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.web#StaticSitesListStaticSiteAppSettings": {
      "type": "operation",
      "input": {
        "target": "com.azure.web#StaticSitesListStaticSiteAppSettingsRequest"
      },
      "output": {
        "target": "com.azure.web#StaticSitesListStaticSiteAppSettingsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/listAppSettings",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Gets the application settings of a static site.\n\nDescription for Gets the application settings of a static site.",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.web#StaticSitesListStaticSiteAppSettingsResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Id."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource Name."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type."
          }
        },
        "properties": {
          "target": "com.azure.web#StaticSitesListStaticSiteAppSettingsResponsePropertiesMap",
          "traits": {
            "smithy.api#documentation": "Settings."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.web#StaticSitesListStaticSiteAppSettingsResponsePropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Settings."
      }
    },
    "com.azure.web#StaticSitesListStaticSiteAppSettingsRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the static site."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.web#StaticSitesValidateBackend": {
      "type": "operation",
      "input": {
        "target": "com.azure.web#StaticSitesValidateBackendRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/linkedBackends/{linkedBackendName}/validate",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Validates that a backend can be linked to a static site\n\nValidates that a backend can be linked to a static site",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.web#StaticSitesValidateBackendRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the static site"
          }
        },
        "linkedBackendName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the linked backend that should be retrieved"
          }
        },
        "properties": {
          "target": "com.azure.web#StaticSiteLinkedBackendARMResourcePropertiesInput",
          "traits": {
            "smithy.api#documentation": "StaticSiteLinkedBackendARMResource resource specific properties"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.web#StaticSiteLinkedBackendARMResourcePropertiesInput": {
      "type": "structure",
      "members": {
        "backendResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id of the backend linked to the static site"
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region of the backend linked to the static site"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "StaticSiteLinkedBackendARMResource resource specific properties"
      }
    },
    "com.azure.web#StaticSitesUnlinkBackend": {
      "type": "operation",
      "input": {
        "target": "com.azure.web#StaticSitesUnlinkBackendRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/linkedBackends/{linkedBackendName}",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Unlink a backend from a static site\n\nUnlink a backend from a static site",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.web#StaticSitesUnlinkBackendRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the static site"
          }
        },
        "linkedBackendName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name of the linked backend that should be retrieved"
          }
        },
        "isCleaningAuthConfig": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "isCleaningAuthConfig",
            "smithy.api#documentation": "Decides if Easy Auth configuration will be removed from backend configuration"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.web#StaticSitesLinkBackend": {
      "type": "operation",
      "input": {
        "target": "com.azure.web#StaticSitesLinkBackendRequest"
      },
      "output": {
        "target": "com.azure.web#StaticSitesLinkBackendResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/linkedBackends/{linkedBackendName}",
          "code": 200,
          "apiVersion": "2026-03-15"
        },
        "smithy.api#documentation": "Link backend to a static site\n\nLink backend to a static site",
        "com.distilled.openapi#apiVersion": "2026-03-15"
      }
    },
    "com.azure.web#StaticSitesLinkBackendResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.web#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.web#StaticSiteLinkedBackendARMResourceProperties",
          "traits": {
            "smithy.api#documentation": "StaticSiteLinkedBackendARMResource resource specific properties"
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of resource."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.web#StaticSiteLinkedBackendARMResourceProperties": {
      "type": "structure",
      "members": {
        "backendResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id of the backend linked to the static site"
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region of the backend linked to the static site"
          }
        },
        "createdOn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date and time on which the backend was linked to the static site."
          }
        },
        "provisioningState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The provisioning state of the linking process."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "StaticSiteLinkedBackendARMResource resource specific properties"
      }
    },
    "com.azure.web#StaticSitesLinkBackendRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
[...]
