{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.azure.webpubsub#WebPubSubListSkus": {
      "type": "operation",
      "input": {
        "target": "com.azure.webpubsub#WebPubSubListSkusRequest"
      },
      "output": {
        "target": "com.azure.webpubsub#SkuList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/skus",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "List all available skus of the resource.",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.webpubsub#SkuList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.webpubsub#SkuListValueList",
          "traits": {
            "smithy.api#documentation": "The list of skus available for the resource."
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL the client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list skus operation response"
      }
    },
    "com.azure.webpubsub#SkuListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.webpubsub#Sku"
      },
      "traits": {
        "smithy.api#documentation": "The list of skus available for the resource."
      }
    },
    "com.azure.webpubsub#Sku": {
      "type": "structure",
      "members": {
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type that this object applies to"
          }
        },
        "sku": {
          "target": "com.azure.webpubsub#ResourceSku"
        },
        "capacity": {
          "target": "com.azure.webpubsub#SkuCapacity"
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes an available sku.\""
      }
    },
    "com.azure.webpubsub#SkuCapacity": {
      "type": "structure",
      "members": {
        "minimum": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The lowest permitted capacity for this resource"
          }
        },
        "maximum": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The highest permitted capacity for this resource"
          }
        },
        "default": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The default capacity."
          }
        },
        "allowedValues": {
          "target": "com.azure.webpubsub#SkuCapacityAllowedValuesList",
          "traits": {
            "smithy.api#documentation": "Allows capacity value list."
          }
        },
        "scaleType": {
          "target": "com.azure.webpubsub#ScaleType"
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes scaling information of a sku."
      }
    },
    "com.azure.webpubsub#ScaleType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Manual"
          }
        },
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Automatic"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The scale type applicable to the sku."
      }
    },
    "com.azure.webpubsub#SkuCapacityAllowedValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Allows capacity value list."
      }
    },
    "com.azure.webpubsub#ResourceSku": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the SKU. Required.\r\n\r\nAllowed values: Standard_S1, Free_F1, Premium_P1, Premium_P2",
            "smithy.api#required": {}
          }
        },
        "tier": {
          "target": "com.azure.webpubsub#WebPubSubSkuTier"
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Not used. Retained for future use."
          }
        },
        "family": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Not used. Retained for future use."
          }
        },
        "capacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional, integer. The unit count of the resource.\r\n1 for Free_F1/Standard_S1/Premium_P1, 100 for Premium_P2 by default.\r\n\r\nIf present, following values are allowed:\r\n    Free_F1: 1;\r\n    Standard_S1: 1,2,3,4,5,6,7,8,9,10,20,30,40,50,60,70,80,90,100;\r\n    Premium_P1:  1,2,3,4,5,6,7,8,9,10,20,30,40,50,60,70,80,90,100;\r\n    Premium_P2:  100,200,300,400,500,600,700,800,900,1000;"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The billing information of the resource."
      }
    },
    "com.azure.webpubsub#WebPubSubSkuTier": {
      "type": "enum",
      "members": {
        "FREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Free"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Basic"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Standard"
          }
        },
        "PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Premium"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional tier of this particular SKU. 'Standard' or 'Free'. \r\n\r\n`Basic` is deprecated, use `Standard` instead."
      }
    },
    "com.azure.webpubsub#WebPubSubListSkusRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.webpubsub#WebPubSubSharedPrivateLinkResourcesDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.webpubsub#WebPubSubSharedPrivateLinkResourcesDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/sharedPrivateLinkResources/{sharedPrivateLinkResourceName}",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Delete the specified shared private link resource",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.webpubsub#WebPubSubSharedPrivateLinkResourcesDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "sharedPrivateLinkResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the shared private link resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.webpubsub#WebPubSubSharedPrivateLinkResourcesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.webpubsub#WebPubSubSharedPrivateLinkResourcesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.webpubsub#WebPubSubSharedPrivateLinkResourcesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/sharedPrivateLinkResources/{sharedPrivateLinkResourceName}",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Create or update a shared private link resource",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.webpubsub#WebPubSubSharedPrivateLinkResourcesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.webpubsub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.webpubsub#SharedPrivateLinkResourceProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.webpubsub#SharedPrivateLinkResourceProperties": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The group id from the provider of resource the shared private link resource is for",
            "smithy.api#required": {}
          }
        },
        "privateLinkResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id of the resource the shared private link resource is for",
            "smithy.api#required": {}
          }
        },
        "provisioningState": {
          "target": "com.azure.webpubsub#ProvisioningState"
        },
        "requestMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The request message for requesting approval of the shared private link resource"
          }
        },
        "status": {
          "target": "com.azure.webpubsub#SharedPrivateLinkResourceStatus"
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the properties of an existing Shared Private Link Resource"
      }
    },
    "com.azure.webpubsub#SharedPrivateLinkResourceStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disconnected"
          }
        },
        "TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Timeout"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Status of the shared private link resource"
      }
    },
    "com.azure.webpubsub#ProvisioningState": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Canceled"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "MOVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Moving"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provisioning state of the resource."
      }
    },
    "com.azure.webpubsub#SystemData": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that created the resource."
          }
        },
        "createdByType": {
          "target": "com.azure.webpubsub#SystemDataCreatedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that created the resource."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource creation (UTC)."
          }
        },
        "lastModifiedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity that last modified the resource."
          }
        },
        "lastModifiedByType": {
          "target": "com.azure.webpubsub#SystemDataLastModifiedByType",
          "traits": {
            "smithy.api#documentation": "The type of identity that last modified the resource."
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata pertaining to creation and last modification of the resource."
      }
    },
    "com.azure.webpubsub#SystemDataLastModifiedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that last modified the resource."
      }
    },
    "com.azure.webpubsub#SystemDataCreatedByType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Application"
          }
        },
        "MANAGEDIDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManagedIdentity"
          }
        },
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Key"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of identity that created the resource."
      }
    },
    "com.azure.webpubsub#WebPubSubSharedPrivateLinkResourcesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "sharedPrivateLinkResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the shared private link resource."
          }
        },
        "properties": {
          "target": "com.azure.webpubsub#SharedPrivateLinkResourcePropertiesInput"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.webpubsub#SharedPrivateLinkResourcePropertiesInput": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The group id from the provider of resource the shared private link resource is for",
            "smithy.api#required": {}
          }
        },
        "privateLinkResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource id of the resource the shared private link resource is for",
            "smithy.api#required": {}
          }
        },
        "requestMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The request message for requesting approval of the shared private link resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the properties of an existing Shared Private Link Resource"
      }
    },
    "com.azure.webpubsub#WebPubSubSharedPrivateLinkResourcesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.webpubsub#WebPubSubSharedPrivateLinkResourcesGetRequest"
      },
      "output": {
        "target": "com.azure.webpubsub#WebPubSubSharedPrivateLinkResourcesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/sharedPrivateLinkResources/{sharedPrivateLinkResourceName}",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Get the specified shared private link resource",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.webpubsub#WebPubSubSharedPrivateLinkResourcesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.webpubsub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.webpubsub#SharedPrivateLinkResourceProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.webpubsub#WebPubSubSharedPrivateLinkResourcesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "sharedPrivateLinkResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the shared private link resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.webpubsub#WebPubSubSharedPrivateLinkResourcesList": {
      "type": "operation",
      "input": {
        "target": "com.azure.webpubsub#WebPubSubSharedPrivateLinkResourcesListRequest"
      },
      "output": {
        "target": "com.azure.webpubsub#SharedPrivateLinkResourceList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/sharedPrivateLinkResources",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "List shared private link resources",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.webpubsub#SharedPrivateLinkResourceList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.webpubsub#SharedPrivateLinkResourceListValueList",
          "traits": {
            "smithy.api#documentation": "The list of the shared private link resources"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Request URL that can be used to query next page of private endpoint connections. Returned when the total number of requested private endpoint connections exceed maximum page size."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of shared private link resources"
      }
    },
    "com.azure.webpubsub#SharedPrivateLinkResourceListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.webpubsub#SharedPrivateLinkResource"
      },
      "traits": {
        "smithy.api#documentation": "The list of the shared private link resources"
      }
    },
    "com.azure.webpubsub#SharedPrivateLinkResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.webpubsub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.webpubsub#SharedPrivateLinkResourceProperties"
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a Shared Private Link Resource"
      }
    },
    "com.azure.webpubsub#WebPubSubSharedPrivateLinkResourcesListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.webpubsub#WebPubSubRestart": {
      "type": "operation",
      "input": {
        "target": "com.azure.webpubsub#WebPubSubRestartRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/restart",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Operation to restart a resource.",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.webpubsub#WebPubSubRestartRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.webpubsub#WebPubSubListReplicaSkus": {
      "type": "operation",
      "input": {
        "target": "com.azure.webpubsub#WebPubSubListReplicaSkusRequest"
      },
      "output": {
        "target": "com.azure.webpubsub#SkuList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/replicas/{replicaName}/skus",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "List all available skus of the replica resource.",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.webpubsub#WebPubSubListReplicaSkusRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "replicaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the replica."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.webpubsub#WebPubSubReplicaSharedPrivateLinkResourcesCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.webpubsub#WebPubSubReplicaSharedPrivateLinkResourcesCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.webpubsub#WebPubSubReplicaSharedPrivateLinkResourcesCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/replicas/{replicaName}/sharedPrivateLinkResources/{sharedPrivateLinkResourceName}",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Create or update a shared private link resource",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.webpubsub#WebPubSubReplicaSharedPrivateLinkResourcesCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.webpubsub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.webpubsub#SharedPrivateLinkResourceProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.webpubsub#WebPubSubReplicaSharedPrivateLinkResourcesCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "replicaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the replica."
          }
        },
        "sharedPrivateLinkResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the shared private link resource."
          }
        },
        "properties": {
          "target": "com.azure.webpubsub#SharedPrivateLinkResourcePropertiesInput"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.webpubsub#WebPubSubReplicaSharedPrivateLinkResourcesGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.webpubsub#WebPubSubReplicaSharedPrivateLinkResourcesGetRequest"
      },
      "output": {
        "target": "com.azure.webpubsub#WebPubSubReplicaSharedPrivateLinkResourcesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/replicas/{replicaName}/sharedPrivateLinkResources/{sharedPrivateLinkResourceName}",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Get the specified shared private link resource",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.webpubsub#WebPubSubReplicaSharedPrivateLinkResourcesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.webpubsub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.webpubsub#SharedPrivateLinkResourceProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.webpubsub#WebPubSubReplicaSharedPrivateLinkResourcesGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "replicaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the replica."
          }
        },
        "sharedPrivateLinkResourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the shared private link resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.webpubsub#WebPubSubReplicaSharedPrivateLinkResourcesList": {
      "type": "operation",
      "input": {
        "target": "com.azure.webpubsub#WebPubSubReplicaSharedPrivateLinkResourcesListRequest"
      },
      "output": {
        "target": "com.azure.webpubsub#SharedPrivateLinkResourceList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/replicas/{replicaName}/sharedPrivateLinkResources",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "List shared private link resources",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.webpubsub#WebPubSubReplicaSharedPrivateLinkResourcesListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "replicaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the replica."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.webpubsub#WebPubSubReplicasRestart": {
      "type": "operation",
      "input": {
        "target": "com.azure.webpubsub#WebPubSubReplicasRestartRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/replicas/{replicaName}/restart",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Operation to restart a replica.",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.webpubsub#WebPubSubReplicasRestartRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "replicaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the replica."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.webpubsub#WebPubSubReplicasDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.webpubsub#WebPubSubReplicasDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/replicas/{replicaName}",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Operation to delete a replica.",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.webpubsub#WebPubSubReplicasDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "replicaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the replica."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.webpubsub#WebPubSubReplicasUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.webpubsub#WebPubSubReplicasUpdateRequest"
      },
      "output": {
        "target": "com.azure.webpubsub#WebPubSubReplicasUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/replicas/{replicaName}",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Operation to update an exiting replica.",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.webpubsub#WebPubSubReplicasUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.webpubsub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.webpubsub#WebPubSubReplicasUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "sku": {
          "target": "com.azure.webpubsub#ResourceSku"
        },
        "properties": {
          "target": "com.azure.webpubsub#ReplicaProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.webpubsub#ReplicaProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.webpubsub#ProvisioningState"
        },
        "regionEndpointEnabled": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Enable or disable the regional endpoint. Default to \"Enabled\".\r\nWhen it's Disabled, new connections will not be routed to this endpoint, however existing connections will not be affected."
          }
        },
        "resourceStopped": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stop or start the resource.  Default to \"false\".\r\nWhen it's true, the data plane of the resource is shutdown.\r\nWhen it's false, the data plane of the resource is started."
          }
        }
      },
      "traits": {}
    },
    "com.azure.webpubsub#WebPubSubReplicasUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.webpubsub#WebPubSubReplicasUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "replicaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the replica."
          }
        },
        "tags": {
          "target": "com.azure.webpubsub#WebPubSubReplicasUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "sku": {
          "target": "com.azure.webpubsub#ResourceSkuInput"
        },
        "properties": {
          "target": "com.azure.webpubsub#ReplicaPropertiesInput"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.webpubsub#ReplicaPropertiesInput": {
      "type": "structure",
      "members": {
        "regionEndpointEnabled": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Enable or disable the regional endpoint. Default to \"Enabled\".\r\nWhen it's Disabled, new connections will not be routed to this endpoint, however existing connections will not be affected."
          }
        },
        "resourceStopped": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stop or start the resource.  Default to \"false\".\r\nWhen it's true, the data plane of the resource is shutdown.\r\nWhen it's false, the data plane of the resource is started."
          }
        }
      },
      "traits": {}
    },
    "com.azure.webpubsub#ResourceSkuInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the SKU. Required.\r\n\r\nAllowed values: Standard_S1, Free_F1, Premium_P1, Premium_P2",
            "smithy.api#required": {}
          }
        },
        "tier": {
          "target": "com.azure.webpubsub#WebPubSubSkuTier"
        },
        "capacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional, integer. The unit count of the resource.\r\n1 for Free_F1/Standard_S1/Premium_P1, 100 for Premium_P2 by default.\r\n\r\nIf present, following values are allowed:\r\n    Free_F1: 1;\r\n    Standard_S1: 1,2,3,4,5,6,7,8,9,10,20,30,40,50,60,70,80,90,100;\r\n    Premium_P1:  1,2,3,4,5,6,7,8,9,10,20,30,40,50,60,70,80,90,100;\r\n    Premium_P2:  100,200,300,400,500,600,700,800,900,1000;"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The billing information of the resource."
      }
    },
    "com.azure.webpubsub#WebPubSubReplicasUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.webpubsub#WebPubSubReplicasCreateOrUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.webpubsub#WebPubSubReplicasCreateOrUpdateRequest"
      },
      "output": {
        "target": "com.azure.webpubsub#WebPubSubReplicasCreateOrUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/replicas/{replicaName}",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Create or update a replica.",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.webpubsub#WebPubSubReplicasCreateOrUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.webpubsub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.webpubsub#WebPubSubReplicasCreateOrUpdateResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "sku": {
          "target": "com.azure.webpubsub#ResourceSku"
        },
        "properties": {
          "target": "com.azure.webpubsub#ReplicaProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.webpubsub#WebPubSubReplicasCreateOrUpdateResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.webpubsub#WebPubSubReplicasCreateOrUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "replicaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the replica."
          }
        },
        "tags": {
          "target": "com.azure.webpubsub#WebPubSubReplicasCreateOrUpdateRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "sku": {
          "target": "com.azure.webpubsub#ResourceSkuInput"
        },
        "properties": {
          "target": "com.azure.webpubsub#ReplicaPropertiesInput"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.webpubsub#WebPubSubReplicasCreateOrUpdateRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.webpubsub#WebPubSubReplicasGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.webpubsub#WebPubSubReplicasGetRequest"
      },
      "output": {
        "target": "com.azure.webpubsub#WebPubSubReplicasGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/replicas/{replicaName}",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Get the replica and its properties.",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.webpubsub#WebPubSubReplicasGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.webpubsub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.webpubsub#WebPubSubReplicasGetResponseTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "sku": {
          "target": "com.azure.webpubsub#ResourceSku"
        },
        "properties": {
          "target": "com.azure.webpubsub#ReplicaProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.webpubsub#WebPubSubReplicasGetResponseTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.webpubsub#WebPubSubReplicasGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "replicaName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the replica."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.webpubsub#WebPubSubReplicasList": {
      "type": "operation",
      "input": {
        "target": "com.azure.webpubsub#WebPubSubReplicasListRequest"
      },
      "output": {
        "target": "com.azure.webpubsub#ReplicaList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/replicas",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "List all replicas belong to this resource",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.webpubsub#ReplicaList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.webpubsub#ReplicaListValueList",
          "traits": {
            "smithy.api#documentation": "List of the replica"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL the client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use."
          }
        }
      },
      "traits": {}
    },
    "com.azure.webpubsub#ReplicaListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.webpubsub#Replica"
      },
      "traits": {
        "smithy.api#documentation": "List of the replica"
      }
    },
    "com.azure.webpubsub#Replica": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.webpubsub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "tags": {
          "target": "com.azure.webpubsub#ReplicaTagsMap",
          "traits": {
            "smithy.api#documentation": "Resource tags."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The geo-location where the resource lives",
            "smithy.api#required": {}
          }
        },
        "sku": {
          "target": "com.azure.webpubsub#ResourceSku"
        },
        "properties": {
          "target": "com.azure.webpubsub#ReplicaProperties"
        }
      },
      "traits": {
        "smithy.api#documentation": "A class represent a replica resource."
      }
    },
    "com.azure.webpubsub#ReplicaTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Resource tags."
      }
    },
    "com.azure.webpubsub#WebPubSubReplicasListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.webpubsub#WebPubSubRegenerateKey": {
      "type": "operation",
      "input": {
        "target": "com.azure.webpubsub#WebPubSubRegenerateKeyRequest"
      },
      "output": {
        "target": "com.azure.webpubsub#WebPubSubKeys"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/regenerateKey",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Regenerate the access key for the resource. PrimaryKey and SecondaryKey cannot be regenerated at the same time.",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.webpubsub#WebPubSubKeys": {
      "type": "structure",
      "members": {
        "primaryKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The primary access key."
          }
        },
        "secondaryKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secondary access key."
          }
        },
        "primaryConnectionString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connection string constructed via the primaryKey"
          }
        },
        "secondaryConnectionString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connection string constructed via the secondaryKey"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A class represents the access keys of the resource."
      }
    },
    "com.azure.webpubsub#WebPubSubRegenerateKeyRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "keyType": {
          "target": "com.azure.webpubsub#KeyType"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.webpubsub#KeyType": {
      "type": "enum",
      "members": {
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Primary"
          }
        },
        "SECONDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Secondary"
          }
        },
        "SALT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Salt"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of access key."
      }
    },
    "com.azure.webpubsub#WebPubSubPrivateLinkResourcesList": {
      "type": "operation",
      "input": {
        "target": "com.azure.webpubsub#WebPubSubPrivateLinkResourcesListRequest"
      },
      "output": {
        "target": "com.azure.webpubsub#PrivateLinkResourceList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/privateLinkResources",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Get the private link resources that need to be created for a resource.",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.webpubsub#PrivateLinkResourceList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.webpubsub#PrivateLinkResourceListValueList",
          "traits": {
            "smithy.api#documentation": "List of PrivateLinkResource"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL the client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains a list of PrivateLinkResource and a possible link to query more results"
      }
    },
    "com.azure.webpubsub#PrivateLinkResourceListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.webpubsub#PrivateLinkResource"
      },
      "traits": {
        "smithy.api#documentation": "List of PrivateLinkResource"
      }
    },
    "com.azure.webpubsub#PrivateLinkResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.webpubsub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.webpubsub#PrivateLinkResourceProperties"
        }
      },
      "traits": {
        "smithy.api#documentation": "Private link resource"
      }
    },
    "com.azure.webpubsub#PrivateLinkResourceProperties": {
      "type": "structure",
      "members": {
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Group Id of the private link resource"
          }
        },
        "requiredMembers": {
          "target": "com.azure.webpubsub#PrivateLinkResourcePropertiesRequiredMembersList",
          "traits": {
            "smithy.api#documentation": "Required members of the private link resource"
          }
        },
        "requiredZoneNames": {
          "target": "com.azure.webpubsub#PrivateLinkResourcePropertiesRequiredZoneNamesList",
          "traits": {
            "smithy.api#documentation": "Required private DNS zone names"
          }
        },
        "shareablePrivateLinkResourceTypes": {
          "target": "com.azure.webpubsub#PrivateLinkResourcePropertiesShareablePrivateLinkResourceTypesList",
          "traits": {
            "smithy.api#documentation": "The list of resources that are onboarded to private link service"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Private link resource properties"
      }
    },
    "com.azure.webpubsub#PrivateLinkResourcePropertiesShareablePrivateLinkResourceTypesList": {
      "type": "list",
      "member": {
        "target": "com.azure.webpubsub#ShareablePrivateLinkResourceType"
      },
      "traits": {
        "smithy.api#documentation": "The list of resources that are onboarded to private link service"
      }
    },
    "com.azure.webpubsub#ShareablePrivateLinkResourceType": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource type that has been onboarded to private link service"
          }
        },
        "properties": {
          "target": "com.azure.webpubsub#ShareablePrivateLinkResourceProperties"
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a  resource type that has been onboarded to private link service"
      }
    },
    "com.azure.webpubsub#ShareablePrivateLinkResourceProperties": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the resource type that has been onboarded to private link service"
          }
        },
        "groupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource provider group id for the resource that has been onboarded to private link service"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource provider type for the resource that has been onboarded to private link service"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes the properties of a resource type that has been onboarded to private link service"
      }
    },
    "com.azure.webpubsub#PrivateLinkResourcePropertiesRequiredZoneNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Required private DNS zone names"
      }
    },
    "com.azure.webpubsub#PrivateLinkResourcePropertiesRequiredMembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Required members of the private link resource"
      }
    },
    "com.azure.webpubsub#WebPubSubPrivateLinkResourcesListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.webpubsub#WebPubSubPrivateEndpointConnectionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.webpubsub#WebPubSubPrivateEndpointConnectionsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Delete the specified private endpoint connection",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.webpubsub#WebPubSubPrivateEndpointConnectionsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection associated with the Azure resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.webpubsub#WebPubSubPrivateEndpointConnectionsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.azure.webpubsub#WebPubSubPrivateEndpointConnectionsUpdateRequest"
      },
      "output": {
        "target": "com.azure.webpubsub#WebPubSubPrivateEndpointConnectionsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Update the state of specified private endpoint connection",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.webpubsub#WebPubSubPrivateEndpointConnectionsUpdateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.webpubsub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.webpubsub#PrivateEndpointConnectionProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.webpubsub#PrivateEndpointConnectionProperties": {
      "type": "structure",
      "members": {
        "provisioningState": {
          "target": "com.azure.webpubsub#ProvisioningState"
        },
        "privateEndpoint": {
          "target": "com.azure.webpubsub#PrivateEndpoint"
        },
        "groupIds": {
          "target": "com.azure.webpubsub#PrivateEndpointConnectionPropertiesGroupIdsList",
          "traits": {
            "smithy.api#documentation": "Group IDs"
          }
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.webpubsub#PrivateLinkServiceConnectionState"
        }
      },
      "traits": {
        "smithy.api#documentation": "Private endpoint connection properties"
      }
    },
    "com.azure.webpubsub#PrivateLinkServiceConnectionState": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.azure.webpubsub#PrivateLinkServiceConnectionStatus"
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The reason for approval/rejection of the connection."
          }
        },
        "actionsRequired": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A message indicating if changes on the service provider require any updates on the consumer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Connection state of the private endpoint connection"
      }
    },
    "com.azure.webpubsub#PrivateLinkServiceConnectionStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rejected"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disconnected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates whether the connection has been Approved/Rejected/Removed by the owner of the service."
      }
    },
    "com.azure.webpubsub#PrivateEndpointConnectionPropertiesGroupIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Group IDs"
      }
    },
    "com.azure.webpubsub#PrivateEndpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full qualified Id of the private endpoint"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Private endpoint"
      }
    },
    "com.azure.webpubsub#WebPubSubPrivateEndpointConnectionsUpdateRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection associated with the Azure resource."
          }
        },
        "properties": {
          "target": "com.azure.webpubsub#PrivateEndpointConnectionPropertiesInput"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.webpubsub#PrivateEndpointConnectionPropertiesInput": {
      "type": "structure",
      "members": {
        "privateEndpoint": {
          "target": "com.azure.webpubsub#PrivateEndpoint"
        },
        "privateLinkServiceConnectionState": {
          "target": "com.azure.webpubsub#PrivateLinkServiceConnectionState"
        }
      },
      "traits": {
        "smithy.api#documentation": "Private endpoint connection properties"
      }
    },
    "com.azure.webpubsub#WebPubSubPrivateEndpointConnectionsGet": {
      "type": "operation",
      "input": {
        "target": "com.azure.webpubsub#WebPubSubPrivateEndpointConnectionsGetRequest"
      },
      "output": {
        "target": "com.azure.webpubsub#WebPubSubPrivateEndpointConnectionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/privateEndpointConnections/{privateEndpointConnectionName}",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Get the specified private endpoint connection",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.webpubsub#WebPubSubPrivateEndpointConnectionsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.webpubsub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.webpubsub#PrivateEndpointConnectionProperties"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.azure.webpubsub#WebPubSubPrivateEndpointConnectionsGetRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        },
        "privateEndpointConnectionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the private endpoint connection associated with the Azure resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.webpubsub#WebPubSubPrivateEndpointConnectionsList": {
      "type": "operation",
      "input": {
        "target": "com.azure.webpubsub#WebPubSubPrivateEndpointConnectionsListRequest"
      },
      "output": {
        "target": "com.azure.webpubsub#PrivateEndpointConnectionList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/privateEndpointConnections",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "List private endpoint connections",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.webpubsub#PrivateEndpointConnectionList": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.azure.webpubsub#PrivateEndpointConnectionListValueList",
          "traits": {
            "smithy.api#documentation": "The list of the private endpoint connections"
          }
        },
        "nextLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Request URL that can be used to query next page of private endpoint connections. Returned when the total number of requested private endpoint connections exceed maximum page size."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of private endpoint connections"
      }
    },
    "com.azure.webpubsub#PrivateEndpointConnectionListValueList": {
      "type": "list",
      "member": {
        "target": "com.azure.webpubsub#PrivateEndpointConnection"
      },
      "traits": {
        "smithy.api#documentation": "The list of the private endpoint connections"
      }
    },
    "com.azure.webpubsub#PrivateEndpointConnection": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\""
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "systemData": {
          "target": "com.azure.webpubsub#SystemData",
          "traits": {
            "smithy.api#documentation": "Azure Resource Manager metadata containing createdBy and modifiedBy information."
          }
        },
        "properties": {
          "target": "com.azure.webpubsub#PrivateEndpointConnectionProperties"
        }
      },
      "traits": {
        "smithy.api#documentation": "A private endpoint connection to an azure resource"
      }
    },
    "com.azure.webpubsub#WebPubSubPrivateEndpointConnectionsListRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.webpubsub#WebPubSubListKeys": {
      "type": "operation",
      "input": {
        "target": "com.azure.webpubsub#WebPubSubListKeysRequest"
      },
      "output": {
        "target": "com.azure.webpubsub#WebPubSubKeys"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/listKeys",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Get the access keys of the resource.",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.webpubsub#WebPubSubListKeysRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the target subscription. The value must be an UUID."
          }
        },
        "resourceGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource group. The name is case insensitive."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The name of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.azure.webpubsub#WebPubSubHubsDelete": {
      "type": "operation",
      "input": {
        "target": "com.azure.webpubsub#WebPubSubHubsDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/webPubSub/{resourceName}/hubs/{hubName}",
          "code": 200,
          "apiVersion": "2024-03-01"
        },
        "smithy.api#documentation": "Delete a hub setting.",
        "com.distilled.openapi#apiVersion": "2024-03-01"
      }
    },
    "com.azure.webpubsub#WebPubSubHubsDeleteRequest": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
[...]
